/*****/
body {
    font-family: 'Roboto';
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    font-style: normal;
    font-weight: normal;
}
body a {
    text-decoration: none!important;
}

/*Header*/
/*header#header-main.block-header #header-top-contact {*/
/*    font-family: 'Roboto';*/
/*}*/
/*header#header-main.block-header #header-top-contact ul.nav li p {*/
/*    margin-bottom: 0;*/
/*    padding: .5rem 1rem;*/
/*}*/
/*header#header-main.block-header #header-top-menu {*/
/*    background-color: #1a1a1a;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed {*/
/*    background: transparent!important;*/
/*    width: 100%!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a, */
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a  {*/
/*    color: rgba(255,255,255,.7);*/
/*    transition-property: color,background-color,border-color,box-shadow;*/
/*    text-transform: uppercase;*/
/*    font-size: 14px!important;*/
/*    box-sizing: border-box;*/
/*    align-items: center;*/
/*    font-weight: 400!important;*/
/*    font-family: inherit!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu .collapse ul.nav li a {*/
/*    padding: 0 15px;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a.active, */
/*header#header-main.block-header.fixed #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a.active {*/
/*    color: #fff!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a:hover, */
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a:hover  {*/
/*    color: #fff;*/
/*    font-weight: 400!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu {*/
/*    background-color: #fff;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu .menu-title {*/
/*    background-color: #E30037;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li a {*/
/*    border-bottom: 2px solid transparent;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li a.active, */
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li:hover a {*/
/*    border-bottom: 2px solid #E30037;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #collapseCategory a, */
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu a {*/
/*    color: #000!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu a {*/
/*    padding: 10px 7.5px;*/
/*}*/
header.block-header.refix-min-height {
    min-height: 175px;
}
header.block-header.fixed .fix-content .block-header-contact, header.block-header.fixed .fix-content .form-search-header {
    display: none!important;
}
header.block-header .fix-content .block-header-cart i.icons,
header.block-header .fix-content #dropdownMenuButton i.icons {
    margin: auto 0;
    color: #1559B6;;
}
header.block-header .fix-content .block-header-cart span.quantity {
    position: absolute;
    transform: translateX(15px);
    background: #DDAE4D;
    border-radius: 50%;
    padding: 1.5px 5px;
    font-size: 10px;
}
header.block-header .fix-content .block-header-cart .amount {
    color: #000;
}
header.block-header .fix-content .block-header-cart .amount .title {
    color: #ACACAC;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}
header.block-header .fix-content .menu-main {
    border-bottom: 2px solid #1559B6;
}
header.block-header.fixed .fix-content .menu-main {
    border-bottom: 2px solid transparent;
}
header.block-header .fix-content .block-header-contact i.icons {
    font-size: 32px;
    color:#E03232;
    position: absolute;
}
header.block-header .fix-content .block-header-contact .content {
    margin-left: 36px;
}
header.block-header .fix-content .block-header-contact .content p {
    color: #ACACAC;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
}
header.block-header .fix-content .block-header-contact .content h6 {
    font-size: 14px;
    line-height: 16px;
}
header.block-header .fix-content .form-search-header .input-group-icon .input-search {
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0 20px 20px;
    border-radius: 20px;
}
header.block-header .fix-content .form-search-header .input-group-append {
    position: absolute;
    right: 0;
}
header.block-header .fix-content .form-search-header .input-group-append .btn-search {
    background: #1559B6;
    border-radius: 50%;
    padding: 5px 10px!important;
    transform: translate(-4px, 4px);
}

header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item a {
    color: #000;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    transition: all .5s;
}
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item a.active, 
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item:hover a {
    border-bottom: 2px solid #FF9D00;
    font-weight: 400;
}
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item > ul.child-nav li.nav-item a {
    border-bottom: 2px solid transparent;
}
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item > ul.child-nav li.nav-item a.active,
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item > ul.child-nav li.nav-item:hover a {
    border-bottom: 2px solid #FF9D00;
}
header.block-header.fixed .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.has-child span.toggle {
    top: 50%;
}
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul,
header.block-header.fixed .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul {
    padding: 10px 7.5px;
}
header.block-header.fixed .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul li.nav-item a {
    border-bottom: 2px solid transparent;
}
header.block-header.fixed .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul li.nav-item a.active,
header.block-header.fixed .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul li.nav-item:hover a {
    border-bottom: 2px solid #FF9D00;
}
header.block-header .fix-content .main-menu-wrapper .block-header-menu-main #navbarMainMenu ul.nav li.nav-item a {
    padding-top: 15px;
    padding-bottom: 15px;
}
header.block-header .main-menu-wrapper .block-header-menu #navbarMainMenu ul.nav > li.has-child > a>.toggle {
    background: #000;
}
/*Footer*/
footer .footer-px-10 .footer-left {
    background: #EEEEEE;
    padding-left: 10%!important;
}
footer .footer-left .logo-footer div.image {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 100%;
    height: 45px;
}
footer .footer-px-10 .footer-left .logo-content p {
    font-size: 14px;
    line-height: 21px;
}
footer .footer-px-10 .footer-left .info-content div p {
    font-size: 14px;
    line-height: 16px;
}
footer .footer-px-10 .footer-left .info-content div p i {
    color: #1559B6;
    margin-right: 10px;
}
footer .footer-px-10 .footer-left .copy-right-content p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
footer .footer-px-10 .footer-right {
    padding-right: 10%!important;
    background: #DADADA;
}
footer .footer-px-10 .footer-right h2.footer-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #1559B6;
    text-transform: uppercase;
}
footer .footer-px-10 .footer-right .item-link a {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}
footer .footer-px-10 .footer-right .gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
footer .footer-px-10 .footer-right .gallery img {
    width: 100%;
}


/*Homepage*/
section#slide-hot-products div#homepage-slide-products-carousel {
    overflow: hidden;
}
section#slide-hot-products .title-slide-hot-products {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #CECECE;
    box-sizing: border-box;
    padding: 15px 0;
}
section#slide-hot-products,
section#diffslide-hot-products {
    background: transparent;
    border: 1px solid #CECECE;
    box-sizing: border-box;
}
section#diffslide-hot-products {
    border: 1px solid transparent;
    box-sizing: border-box;
}
section#slide-hot-products .slide-product-item,
section#diffslide-hot-products .slide-product-item {
    padding-left: 30px;
    padding-right: 30px;
}
section#slide-hot-products .slide-product-item .product-info,
section#diffslide-hot-products .slide-product-item .product-info{
    height: 358px;
}
section#slide-hot-products .slide-product-item .product-highlight,
section#diffslide-hot-products .slide-product-item .product-highlight {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #E30037;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7.5px;
}
section#slide-hot-products .slide-product-item .product-highlight span,
section#diffslide-hot-products .slide-product-item .product-highlight span {
    background: transparent;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    left: calc(25px - 10px);
    top: calc(25px - 10px);
    color: #fff;
}
section#slide-hot-products .slide-product-item .product-image,
section#diffslide-hot-products .slide-product-item .product-image {
    margin-bottom: 20px;
    height: 225px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
section#slide-hot-products .slide-product-item .product-name a.product-title,
section#diffslide-hot-products .slide-product-item .product-name a.product-title {
    height: 45px;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}
section#slide-hot-products .slide-product-item .product-price,
section#diffslide-hot-products .slide-product-item .product-price {
    font-size: 20px;
    line-height: 16px;
    display: inline-block;
    color: #E03232;
}
section#slide-hot-products .slide-product-item .product-price-sale,
section#diffslide-hot-products .slide-product-item .product-price-sale {
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control {
    background-color: unset;
    top: 50%;;
    color: #000;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
    left: 0;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next {
    right: 0;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control i,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control i {
    font-size: 28px
}


section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item {
    height: 408px;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .image {
    height: 408px;
    width: 100%;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button {
    background: rgba(21, 89, 182, 0.8);
    color: #fff;
    opacity: 1;
    border-radius: 0;
    padding: 35px 10px!important;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button i.icon-chevron-left {
    transform: translateY(-17.5px) rotate(90deg);
}

section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button i.icon-chevron-right {
    transform: translateY(-17.5px) rotate(-90deg);
}

section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-dots {
    display: none;
}
section#homepage-slide-products-banner .description-store {
    border: 1px solid #CECECE;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}
section#homepage-slide-products-banner .description-store .head {
    border-bottom: 1px solid #CECECE;
    padding: 25px 10px;
}
section#homepage-slide-products-banner .description-store .head h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    margin-bottom: 0;
    text-transform: uppercase;
}
section#homepage-slide-products-banner .description-store .body {
    padding: 20px;
}
section#homepage-slide-products-banner .description-store .body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    letter-spacing: .5px;
}
section#homepage-slide-products-banner .description-store .body p:last-child {
    margin-bottom: 0;
}


/*section#homepage-ads-banner .ads-banner-item {*/
/*    background: #FFFFFF;*/
/*    border: 2px solid #1559B6;*/
/*    box-sizing: border-box;*/
/*    display: grid;*/
/*    grid-template-columns: 25% 75%;*/
/*    padding: 25px 15px;*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-icon {*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-icon-1 {*/
/*    background-image: url('../img/icon-ads-banner-1.png');*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-icon-2 {*/
/*    background-image: url('../img/icon-ads-banner-2.png');*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-icon-3 {*/
/*    background-image: url('../img/icon-ads-banner-3.png');*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-icon-4 {*/
/*    background-image: url('../img/icon-ads-banner-4.png');*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-content h4 {*/
/*    text-transform: uppercase;*/
/*    font-weight: 300;*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*    margin-bottom: 5px;*/
/*}*/
/*section#homepage-ads-banner .ads-banner-item .ads-banner-content p {*/
/*    font-weight: 300;*/
/*    font-size: 12px;*/
/*    line-height: 14px;*/
/*    margin-bottom: 0;*/
/*}*/
section#homepage-ads-banner .ads-banner-item.ads-banner-bg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
}
section#homepage-ads-banner .ads-banner-item.ads-banner-bg::before {
    content: attr(alt);
    z-index: -1;
    position: absolute;
}
section#homepage-ads-banner .ads-banner-item .ads-banner-content {
    align-items: center;
    height: 100%;
    widht: 100%;
    display: flex;
    text-align: center;
}
section#homepage-ads-banner .ads-banner-item .ads-banner-content p{
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px;
}

.slide-block-product-title {
    color: #1559B6;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.slide-block-product-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}


section#homepage-ads-partners.ads-partners-bg {
    background-image: url('../img/banner-home.png');
    background-repeat: no-repeat;
    background-size: cover;
}
section#homepage-ads-partners.ads-partners-bg .ads-partners-bg-overlay {
    background-color: rgba(0,0,0,.6);
}
section#homepage-ads-partners .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}
section#homepage-ads-partners .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item {
    padding: 0 7.5px;
}
section#homepage-ads-partners .owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item img {
    height: 100px;
}
section#homepage-ads-partners .owl-carousel .owl-nav {
    display: none;
}
section#homepage-ads-partners .owl-carousel .owl-nav button {
    background-color: transparent;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 0;
}
section#homepage-ads-partners .owl-carousel .owl-nav button i {
    background-color: #fff;
    min-width: 14px;
    min-height: 10px;
}

section#homepage-block-blog .homepage-block-blog-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1559B6;
}
section#homepage-block-blog .homepage-block-blog-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.sidebar-right h2.slide-list-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid #CECECE;
}
.sidebar-right h2.slide-list-title::after {
    content: '';
    position: absolute;
    transform: translateY(42px);
    left: 15px;
    width: 50%;
    height: 2px;
    background-color: #1559B6;
}

#difflist-sale-off-products a:hover {
    color: unset;
}
#difflist-sale-off-products a .list-product-item {
    transition: all .5s;
}
#difflist-sale-off-products a:hover .list-product-item {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
#difflist-sale-off-products .list-product-item .product-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100%;
}
#difflist-sale-off-products .list-product-item .product-info .product-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}
#difflist-sale-off-products .list-product-item .product-info p {
    margin-bottom: 3px;
}
#difflist-sale-off-products .list-product-item .product-info .product-price-sale {
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
}
#difflist-sale-off-products .list-product-item .product-info .product-price {
    font-size: 18px;
    line-height: 21px;
    color: #E03232;
}

#difflist-view-most-blogs .list-blog-item .blog-image {
    background-size: contain;
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 100%;
}
#difflist-view-most-blogs .list-blog-item .blog-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

a.cart-contact {
    cursor: pointer;
}

.carousel.carousel-products.slide .carousel-inner {
    /*overflow: unset;*/
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item {
    padding: 0;
    border: 1px solid transparent;
    overflow: hidden;
}
/*.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item.product-item-6 {*/
/*    width: 14.5%;*/
/*}*/
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item.product-item-6 .product-name a.product-title {
    font-size: 14.5px;
    height: 40px;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item .product-price-sale {
    width: 100%;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item.product-item-6 .product-price .price {
    font-size: 13px;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item.product-item-6 .product-price-sale .price {
    font-size: 11px;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item.product-item-6 .product-link-detail a.cart-btn {
    padding: 7.5px 10px;
    line-height: 30px;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item:first-child {
    margin-left: 0;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item:last-child {
    margin-right: 0;
}

.carousel.carousel-products.slide .carousel-indicators {
    position: relative;
}
.carousel.carousel-products.slide .carousel-indicators .indicator-item {
    background-color: #C4C4C4;
    height: 4px;
}

.product-item {
    overflow: hidden;
}
.product-item:hover,
.product-item:hover .product-info {
    transform: scaleY(1);
    transform-origin: unset;
}
.product-item .product-highlight-sale {
    background-image: url('../img/sale-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 2.5px;
}
.product-item .product-highlight {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #E30037!important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7.5px;
}
.product-item .product-highlight span {
    background: transparent!important;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    left: 0;
}
.product-item .product-image {
    margin-bottom: 12.5px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
}
.product-item .product-name a.product-title {
    height: 32px;
    font-size: 16px;
    line-height: 21px;
}
.product-item .contain-price {
    height: 90px;
}
.product-item .product-price {
    line-height: 19px;
    font-size: 14px;
    font-weight: 400;
    color: #E03232;
    display: inline-block;
    width: 100%;
}
.product-item .product-price-sale {
    font-size: 12px;
    line-height: 14px;
    color: #000;
    font-weight: 400;
    display: inline-block;
    width: 100%;
}
.slide-product-item .product-status-sale,
.product-item .product-status-sale {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    background: #1559B6;
    padding: 5px;
}
.product-item .product-link-detail {
    bottom: -100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all .3s;
    padding: 5px 0;
    border: 1px solid #1559B6;
    box-sizing: border-box;
    text-align: center;
}
.product-item:hover .product-link-detail {
    bottom: 0;
    opacity: 1;
    background-color: #fff;
    text-align: left;
}
.product-item .product-link-detail:hover {
    background-color: #1559B6;
}
.product-item .product-link-detail:hover a {
    color: #fff;
}
.product-item .product-link-detail a.cart-btn {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    transition: all .5s;
    padding: 5px 15px;
    text-transform: uppercase;
    text-align: center;
}
.carousel.carousel-products.slide .carousel-control,
.carousel.carousel-blogs.slide .carousel-control {
    background-color: #fff;
    border: 1px solid #000;
    width: 35px;
    height: 35px;
    top: 200px;
    border-radius: 0;
}
.carousel.carousel-products.slide .carousel-control.carousel-control-prev,
.carousel.carousel-blogs.slide .carousel-control.carousel-control-prev {
    left: -75px;
}
.carousel.carousel-products.slide .carousel-control.carousel-control-next,
.carousel.carousel-blogs.slide .carousel-control.carousel-control-next {
    right: -75px;
}
.carousel.carousel-products.slide .carousel-control span,
.carousel.carousel-blogs.slide .carousel-control span {
    width: 14px;
    height: 14px;
    color: #000;
}

nav ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    font-weight: 700;
    mask: unset;
    -webkit-mask: unset;
    background: unset;
    transform: unset;
}
nav ol.breadcrumb .breadcrumb-item a, nav ol.breadcrumb .breadcrumb-item.active {
    color: #000;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-decoration-line: underline!important;
}

ul.pagination {
    margin-top: 50px;
}
ul.pagination li.page-item a.page-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    min-width: auto;
    padding: 10px 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}
ul.pagination li.page-item.active a.page-link, ul.pagination li.page-item:hover a.page-link {
    background-color: #000;
    color: #fff;
}
ul.pagination li.page-item a.page-link i {
    background: none;
    font-size: 18px;
}
ul.pagination .page-item:first-child .page-link:hover i, ul.pagination .page-item:last-child .page-link:hover i {
    background-color: unset;
}

.carousel.carousel-blogs.slide .carousel-inner {
    margin-top: 30px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-item {
    box-shadow: none;
    transition: all .5s;
    display: inline-block;
    width: 30%;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-item:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-item:hover a {
    color: #000;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-item .block-blog-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin-bottom: 20px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-item h3.block-blog-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    height: 50px;
    padding: 0 15px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-item p.block-blog-content {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    height: 125px;
    padding: 0 15px;
}
.carousel.carousel-blogs.slide .carousel-indicators {
    position: relative;
}
.carousel.carousel-blogs.slide .carousel-indicators .indicator-item {
    background-color: #C4C4C4;
    height: 4px;
}

/*Product detail*/
#product-detail-page .product-teaser-fix {
    top: unset!important;
    bottom: 0;
}
#product-detail-page .product-detail #carousel .owl-carousel .owl-nav,
#product-detail-page .product-detail #slider .owl-carousel .owl-nav {
    display: none;
}
#product-detail-page .product-detail #carousel {
    overflow: auto;
}
/*#product-detail-page .product-detail #carousel .owl-carousel .owl-stage {*/
/*    width: 100%!important;*/
/*}*/
/*#product-detail-page .product-detail #carousel .owl-carousel .owl-stage .owl-item {*/
/*    width: 100%!important;*/
/*}*/
#product-detail-page .product-detail .node-left #slider .owl-carousel .owl-stage-outer .owl-item {
    border: 1px solid #000000;
    box-sizing: border-box;
}
/*#product-detail-page .product-detail .node-right .price,*/
/*#product-detail-page .product-detail .node-right .summary {*/
/*    border-bottom: 2px solid #C4C4C4;*/
/*}*/
#product-detail-page .product-detail .node-right .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 16px;
}
#product-detail-page .product-detail .node-right .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
#product-detail-page .product-detail .node-right form#add-to-cart .title-attribute {
    width: 20%;
}
#product-detail-page .product-detail .node-right .rating span.count-comment {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B6B6B6;
}
#product-detail-page .product-detail .node-right .price .price-main {
    font-size: 24px;
    line-height: 28px;
    color: #E03232;
}
#product-detail-page .product-detail .node-right .price .price-second {
    font-size: 18px;
    line-height: 21px;
    
}
#product-detail-page .product-detail .node-right button.btn-add {
    background-color: #1559B6;
    color: #fff!important;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 0;
    transition: all .5s;
}
#product-detail-page .product-detail .node-right button.btn-add i {
    margin-right: 10px;
}

#product-detail-page button.btn-add.btn-cart-contact-product-detail,
#product-detail-page button.btn-add.btn-cart-product-detail,
#product-detail-page button.btn-add.btn-cart-add-product-detail {
    display: block!important;
}
#product-detail-page button.btn-add.btn-cart-contact-product-detail.hide,
#product-detail-page button.btn-add.btn-cart-product-detail.hide,
#product-detail-page button.btn-add.btn-cart-add-product-detail.hide {
    display: none!important;
}

/*#product-detail-page .product-detail .node-right #add-to-cart button.btn-submit {*/
/*    background: #E30037;*/
/*    border: 1px solid #FF0000;*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*}*/
#product-detail-page #product-info-tab {
    border: 1px solid #B7B7B7;
}
#product-detail-page #product-info-tab li {
    padding: 14px 0;
    border-right: 1px solid #B7B7B7;
}
#product-detail-page #product-info-tab li:last-child {
    border-right: none;
}
#product-detail-page #product-info-tab li a {
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
#product-detail-page #product-info-tab li:hover a {
    color: #777;
}
#product-detail-page #myTabContent {
    border: 1px solid #B7B7B7;
    border-top: none;
}
#product-detail-page .bestme-block-product-related-product .bestme-block-product-related-product-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
    color: #1559B6;
}

    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-item .product-item .product-image {
        height: 265px;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button:hover::before {
        color: #000;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button.owl-prev::before {
        content: "\f053";
        font-family: FontAwesome;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button.owl-next::before {
        content: "\f054";
        font-family: FontAwesome;
    }


#product-detail-page #myTabContent .dv-collapse button.btn-collapse {
    font-size: 18px;
    line-height: 21px;
    background: #E30037;
    color: #fff;
    border: 2px solid #E30037;
    padding: 13px 50px 13px 20px;
}
#product-detail-page #myTabContent .dv-collapse button.btn-collapse:hover {
    background: #fff;
    color: #E30037;
}
#product-detail-page #myTabContent .dv-collapse button.btn-collapse {
    display: inline-block;
    opacity: 1;
    transition: all .5s;
    border-radius: 0;
    padding: 10px 40px;
}
#product-detail-page #myTabContent .dv-collapse button.btn-collapse.hide {
    display: none;
    opacity: 0;
}
#product-detail-page #myTabContent .dv-collapse button.btn-collapse i {
    position: absolute;
    transform: translate(15px, -2.5px);
}
#product-detail-page #myTabContent .tab-pane {
    height: 100%;
    padding: 0 20px;
}
/*#product-detail-page #myTabContent .tab-pane .tab-content-description.hide {*/
/*    height: 215px;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 9;*/
/*    -webkit-box-orient: vertical;*/
/*}*/




.container-comments .form-comment .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 30px;
    padding: 5px;
}
.container-comments .form-comment .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
.container-comments .form-comment .form-group textarea {
    /*resize: none;*/
    border-radius: 0;
}
.container-comments .form-comment .form-group button {
    padding: 10px 100px;
    border-radius: 0;
    background-color: #E30037!important;
    border: 1px solid #E30037;
    box-sizing: border-box;
}
.container-comments .list-comments ul li.comment-item .title img {
    width: 50px;
    height: 50px;
}
.container-comments .list-comments ul li.comment-item .title .name {
    font-size: 18px;
    line-height: 21px;
}
.container-comments .list-comments ul li.comment-item .title .date {
    color: #7C7C7C;
    font-size: 18px;
    line-height: 21px;
}
.container-comments .list-comments ul li.comment-item .title .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 14px;
}
.container-comments .list-comments ul li.comment-item .title .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
.container-comments .list-comments ul li.comment-item .content * {
    font-size: 18px;
    line-height: 21px;
}

/*Contactpage*/
/*#contact-page .contact-info-right .contact-info-title {*/
/*    font-size: 32px;*/
/*    line-height: 35px;*/
/*    font-weight: 400;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 23px;*/
/*}*/
/*#contact-page .contact-info-right .contact-info-description {*/
/*    font-size: 18px;*/
/*    line-height: 26px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 15px;*/
/*}*/
/*#contact-page .contact-info-right .info-contact .item-contact {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*}*/
/*#contact-page .contact-info-right .info-contact .item-contact i {*/
/*    color: #1559B6;*/
/*    margin-right: 10px;*/
/*}*/
/*#contact-page .contact-info-right .info-contact h6.item-contact-title {*/
/*    font-size: 24px;*/
/*    line-height: 30px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 12.5px;*/
/*}*/
/*#contact-page .contact-info-right .info-contact p.item-contact-description {*/
/*    margin-bottom: 5px;*/
/*}*/
/*#contact-page .contact-form-left .contact-form-title {*/
/*    font-size: 30px;*/
/*    line-height: 35px;*/
/*    text-transform: uppercase;*/
/*    font-weight: 400;*/
/*    margin-bottom: 23px!important;*/
/*}*/
/*#contact-page .contact-form-right form#contact-form input, #contact-page .contact-form-right form#contact-form textarea {*/
/*    background-color: #FFFFFF!important;*/
/*    border: 1px solid #B7B7B7;*/
/*    box-sizing: border-box;*/
/*    border-radius: 0;*/
/*}*/
#contact-page .contact-form-left form#contact-form button[type="submit"] {
    background: #1559B6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    border-radius: 0;
    padding: 15px 40px;
}

/*Productspage*/
#products-page .content-left .shop-page-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #1559B6;
}
#products-page .sidebar-right .product-block-filter-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-bottom: 1px solid #000;
}
#products-page .sidebar-right .product-block-filter-title::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 34px;
    background: #1559B6;
}
#products-page .content-left .action-filter {
    border-bottom: 2px solid #CECECE;
}
#products-page .sidebar-right .sidebar-content .product-block-filter h2.block-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}
#products-page .sidebar-right .sidebar-content .product-block-filter nav a.nav-link {
    padding: 7.5px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
#products-page .sidebar-right .sidebar-content .product-block-filter.box-product-filter .price-range div.ui-slider-range {
    background: #C4C4C4;
}
#products-page .sidebar-right .sidebar-content .product-block-filter.box-product-filter .price-range span.ui-slider-handle {
    background: #1559B6;
    border: none;
}


/*Blogs-page*/
#blogs-page .blogs-content .blog-item .blog-content .title {
    font-size: 24px;
    line-height: 36px;
}
#blogs-page .blogs-content .blog-item .blog-content .short-content {
    margin-top: 7.5px;
}
#blogs-page .blogs-content .blog-item .blog-image div.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 350px;
    border: 1px solid #f1f1f1;
}
.sidebar-right .block-side-blog .side-item .header-item {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 19px;
    padding: 15px 0;
    border-bottom: 1px solid #CECECE;;
    margin-bottom: 15px;
}
.sidebar-right .block-side-blog .side-item .header-item::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 48px;
    background: #1559B6;
}
.sidebar-right .block-side-blog .side-item ul.block-cate li {
    list-style-type: none;
    margin: 7.5px 0;
}
.sidebar-right .block-side-blog .side-item ul.block-cate li::before {
    content: "\f101";
    font-family: FontAwesome;
    margin-left: 5px;
    margin-right: 10px;
}
.sidebar-right .block-side-blog .side-item .list-related .related-item {
    margin: 12.5px 0;
}
.sidebar-right .block-side-blog .side-item .list-related .related-item .thumb .image{
    width: 100%;
    height: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-right .block-side-blog .side-item .list-related .related-item .name {
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
}
.sidebar-right .block-side-blog .side-item .list-tags a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 5px 12px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    background-color: #fff;
    margin: 5px;
    display: inline-block;
}

/*Blog-detailpage*/
#blogs-detail-page .blog-detail-content .view-content .name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
#blogs-detail-page .blog-detail-content .view-content .thumb .image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 275px;
}
#blogs-detail-page .blog-detail-content .blog-views .social ul li {
    list-style: none;
    float: left;
    margin: 0 10px;
    font-size: 24px;
}
#blogs-detail-page .blog-detail-content .view-related-blog .related-blog-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 400;
    color: #1559B6;
}
#blogs-detail-page .blog-detail-content .view-related-blog .blog-item .blog-image .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    width: 100%;
}



/*Reponsive*/

@media only screen and (min-width: 768px) {
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav {
        position: relative;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button {
        position: absolute;
        top: -175px;
        border: 1px solid #000;
        height: 35px;
        width: 35px;
        padding: 5px 10px!important;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button.owl-prev {
        left: -50px;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button.owl-next {
        right: -50px;
    }
}
@media only screen and (max-width: 768px) {
    header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a {
        color: #000;
    }
    header#header-main.block-header .fix-content .main-menu-wrapper .block-header-menu button.navbar-toggler {
        top: -85px;
    }
    footer .footer-px-10 .footer-left {
        padding-left: 15px!important;
        order: 2;
    }
    footer .footer-px-10 .footer-right {
        padding-right: 15px!important;
        order: 1;
    }
    footer .footer-px-10 .footer-right .gallery {
        grid-gap: 15px;
    }

    .carousel.carousel-products.slide .carousel-inner .carousel-item .product-item {
        margin-top: 0;
    }

    .carousel.carousel-blogs.slide .carousel-inner .block-blog-item,
    .carousel.carousel-products.slide .carousel-inner .carousel-item .product-item {
        width: 100%;
        display: block;
    }
    
    #homepage-ads-partners .owl-carousel .owl-nav {
        position: absolute;
        top: -45px;
        right: 45px;
    }
    
    .product-item .product-name a.product-title {
        height: 40px;
        font-size: 14px;
    }
    .product-item .product-link-detail a.cart-btn {
        font-size: 11px;
        padding: 5px 5px;
    }
    
    .carousel.carousel-products.slide .carousel-inner {
        margin-top: 0;
    }
    .carousel.carousel-products.slide .carousel-control,
    .carousel.carousel-blogs.slide .carousel-control {
        top: -87px;
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
    .carousel.carousel-blogs.slide .carousel-control.carousel-control-prev {
        left: 0;
    }
    .carousel.carousel-products.slide .carousel-control.carousel-control-next,
    .carousel.carousel-blogs.slide .carousel-control.carousel-control-next {
        right: 0;
    }
    .carousel.carousel-products.slide .carousel-control span,
    .carousel.carousel-blogs.slide .carousel-control span {
        width: 20px;
        height: 20px;
    }
    
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control {
        top: 50%;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
        left: 30px;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next {
        right: 30px;
        left: unset;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control span.carousel-control-icon,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
        width: 20px;
        height: 20px;
    }
    
    
    #product-detail-page #productdetailpage-relate-product .owl-carousel .owl-nav button {
        right: 40px;
    }
    #product-detail-page #productdetailpage-relate-product .owl-carousel.owl-product .owl-nav {
        top: -50px;
    }
    #product-detail-page .bestme-block-product-related-product .bestme-block-product-related-product-title {
        text-align: left;
    }
    #product-detail-page .product-detail .node-right button.btn-add {
        font-size: 14px;
        padding: 15px 20px;
        line-height: 20px;
    }
    #product-detail-page .product-detail .node-right form#add-to-cart .title-attribute {
        width: 100%;
    }
}
