{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper" class="pb-3 pb-md-5">
    {# seo h1 #}
    {% include 'default/template/common/home_seo_h1.twig' %}
    {# end - seo h1 #}
    <!-- Home Slider -->
    {% if slideshow.visible %}
        <!-- Slideshow -->
        <div class="home-slider page-slider block-saleoff-product bestme-block-slideshow">
            <div class="container">
                <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel" data-interval="{{ slideshow.transition_time }}">
                    <div class="carousel-inner">
                        {% for key, slide in slideshow.slides %}
                            <div class="carousel-item {{ key == 0 ? 'active': '' }}">
                                <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                    <img data-src="{{ slide['image-url'] }}" class="d-block w-100 lazyload" alt="{{ slide['description'] }}">
                                    <div class="slider-info d-flex align-items-center justify-content-center text-center">
                                        <h2 class="mb-0 fz-64 text-white">{#{{ slide['description'] }}#}</h2>
                                    </div><!-- /.slider-info -->
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators">
                        {% for key, slide in slideshow.slides %}
                            <li data-target="#carouselHome" data-slide-to="{{ key }}"  class="{{ key == 0 ? 'active': '' }}"></li>
                        {% endfor%}
                    </ol>
                    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End: Home Slider -->
<div class="bestme_app_after_slide">

</div>
    <!-- Banner -->
    {% if banners_visible == '1' %}
        <div class="banner-hightlight block-ads-banner mt-3 mt-md-4 pb-3">
            <div class="container">
                <div class="row mx-n2">
                    <!-- Banner Item -->
                    {% if banner_highlight['visible'] == '1' %}
                        <div class="col-md-{{ banner_left['visible'] == '1' ? '6': '12' }} mb-3 mb-md-0 px-2 bestme-block-banner-1">
                            <div class="banner-item position-relative">
                                <a target="_blank" href="{{ banner_highlight['url'] }}" class="text-black">
                                    <img data-src="{{ banner_highlight['image-url'] }}" class="w-100 banner-home lazyload" alt="{{ banner_highlight['description'] }}">
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End: Banner Item -->

                    {% if banner_left['visible'] == '1' %}
                        <div class="col-md-{{ banner_highlight['visible'] == '1' ? '6' :'12' }} mb-3 mb-md-0 px-2 bestme-block-banner-2">
                            <div class="banner-item position-relative">
                                <a target="_blank" href="{{ banner_left['url'] }}" class="text-black">
                                    <img data-src="{{ banner_left['image-url'] }}" class="w-100 banner-home lazyload" alt="{{ banner_left['description'] }}">
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Banner Item -->
                    <!-- End: Banner Item -->
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End: Banner -->

    <!-- Box Product -->
    {% for k, block in blocks %}
        {% if block['collections'] is not empty %}
            <section id="block-hot-product-{{ k }}" class="box-product block-most-sale-product mt-3 mt-md-5 pb-3 block-product block-saleoff-product {{ block.bestme_block_preview_class }}">
                <div class="container">
                    <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ block['title'] }}</h2>
                    <div class="row">
                        {% for k,collection in block['collections'] %}
                            <div class="col-md-{{ 12 / block['grid'] }} col-{{ 12 / block['grid'] }} collection">
                                <div class="pro-item">
                                    <div class="pro-thumb position-relative">
                                        <img data-src="{{ collection['image'] }}" class="lazyload" height="500" width="200" alt="{{ collection['title'] }}">
                                    </div>
                                    <div class="pro-info text-center px-3">
                                        <a href="{{ collection['url'] }}" class="pro-item-title text-black d-block my-1">
                                            {{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container pt-3">
                    <div class="w-100 text-center">
                        <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                    </div>
                </div>
            </section>
        {% else %}
            {% if k == 0 %}
                <section id="block-hot-product-{{ k }}" class="box-product block-top-sale-product mt-3 mt-md-5 pb-3 block-product block-saleoff-product {{ block.bestme_block_preview_class }}">
                    <div class="container">
                        <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ block['title'] }}</h2>
                        <div class="owl-product owl-carousel owl-theme" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                            {% set col_xl = 12/ block['grid']  %}
                            {% set break_index =  block['grid']  * 2   %}
                            {% for k,product in block['products'] %}
                                {% if k % break_index  == 0 %}
                                    <div class="slide-item">
                                    <div class="row">
                                {% endif %}
                                <div class="col-{{ col_xl }} col-sm-6 col-lg-{{ col_xl }} px-2 mb-3">
                                    <div class="pro-item">
                                        <div class="pro-thumb position-relative">
                                            <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                            <div class="pro-list-type top">
                                                {% if product['is_new_product'] %}
                                                    <span class="left">Mới</span>
                                                {% endif %}
                                                {% if product['percent_sale'] is not empty %}
                                                    <span class="right">{{ product['percent_sale'] }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="pro-list-type bottom">
                                                {% if product['product_is_stock'] == false %}
                                                    <span class="left">Tạm hết hàng</span>
                                                {% endif %}
                                                {% if product['is_best_sale_product'] %}
                                                    <span class="right">HOT</span>
                                                {% endif %}
                                            </div>
                                            <!-- Pro Overlay -->
                                            <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                                <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> {#class : buy-now to show popup#}
                                                <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                            </div>
                                            <!-- EnD: Pro Overlay -->
                                        </div>
                                        <!-- Star Rate -->
                                        <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End: Star Rate -->
                                        <div class="pro-info text-center px-3">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                            <div class="pro-price my-2">
                                                {% if product['is_contact_for_price'] %}
                                                    <span class="product-price">
                                                        {{ contact }}
                                                    </span>
                                                {% else %}
                                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                        <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                    {% else %}
                                                        <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                        <span class="old-price text-info fz-16">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="add-tp-cart">
                                                <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                    </div><!-- End row -->
                                    </div><!-- End slide-item -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- End owl-product -->
                    </div> <!-- End container -->
                    <div class="container">
                        <div class="w-100 text-center">
                            <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                        </div>
                    </div>
                </section>

                {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
                    <div class="box-banner block-ads-banner mt-3 mt-md-5 pb-3 bestme-block-banner-3">
                        <div class="container">
                            <a target="_blank" href="{{ banner_middle['url'] }}" class="w-100">
                                <img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}">
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <section id="block-hot-product-{{ k }}" class="box-product block-most-sale-product mt-3 mt-md-5 pb-3 block-product block-saleoff-product {{ block.bestme_block_preview_class }}">
                    <div class="container">
                        <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ block['title'] }}</h2>
                        <div class="owl-product-{{ k }} owl-carousel owl-theme" data-number-item="{{ block['grid'] }}"
                             data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                            {% for k,product in block['products'] %}
                                <div class="pro-item">
                                    <div class="pro-thumb position-relative">
                                        <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                        <div class="pro-list-type top">
                                            {% if product['is_new_product'] %}
                                                <span class="left">Mới</span>
                                            {% endif %}
                                            {% if product['percent_sale'] is not empty %}
                                                <span class="right">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="pro-list-type bottom">
                                            {% if product['product_is_stock'] == false %}
                                                <span class="left">Tạm hết hàng</span>
                                            {% endif %}
                                            {% if product['is_best_sale_product'] %}
                                                <span class="right">HOT</span>
                                            {% endif %}
                                        </div>
                                        <!-- Pro Overlay -->
                                        <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                            <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> {#class : buy-now to show popup#}
                                            <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                        </div>
                                        <!-- EnD: Pro Overlay -->
                                    </div>
                                    <!-- Star Rate -->
                                    <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End: Star Rate -->
                                    <div class="pro-info text-center px-3">
                                        <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        <div class="pro-price my-2">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="product-price">
                                                        {{ contact }}
                                                    </span>
                                            {% else %}
                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                    <span class="old-price text-info fz-16">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="add-tp-cart">
                                            <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div> <!-- End owl-product -->
                    </div>
                    <div class="container pt-3">
                        <div class="w-100 text-center">
                            <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- End: Box Product -->

    <!-- Box Product -->
    {#{% if hot_product_visible %}
        <div class="box-product block-top-sale-product mt-3 mt-md-5 pb-3">
            <div class="container">
                <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ hot_product_title }}</h2>
                <div class="owl-product owl-carousel owl-theme">
                    {% set col_xl = 12/hot_products_display_grid_quantity %}
                    {% set break_index = hot_products_display_grid_quantity * 2   %}
                    {% for k,product in hot_products %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                            <div class="row">
                        {% endif %}
                                <div class="col-sm-6 col-lg-{{ col_xl }} px-2 mb-3">
                                    <div class="pro-item">
                                        <div class="pro-thumb position-relative">
                                            <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                            <div class="pro-list-type top">
                                                {% if product['is_new_product'] %}
                                                    <span class="left">Mới</span>
                                                {% endif %}
                                                {% if product['percent_sale'] is not empty %}
                                                    <span class="right">{{ product['percent_sale'] }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="pro-list-type bottom">
                                                {% if product['product_is_stock'] == false %}
                                                    <span class="left">Tạm hết hàng</span>
                                                {% endif %}
                                                {% if product['is_best_sale_product'] %}
                                                    <span class="right">HOT</span>
                                                {% endif %}
                                            </div>
                                            <!-- Pro Overlay -->
                                            <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                                <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> #}{#class : buy-now to show popup#}{#
                                                <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                            </div>
                                            <!-- EnD: Pro Overlay -->
                                        </div>
                                        <!-- Star Rate -->
                                        <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End: Star Rate -->
                                        <div class="pro-info text-center px-3">
                                            <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                            <div class="pro-price my-2">
                                                {% if product['is_contact_for_price'] %}
                                                    <span class="product-price">
                                            {{ contact }}
                                        </span>
                                                {% else %}
                                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                        <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                                    {% else %}
                                                        <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                {% endif %}
                                            </span>
                                                        <span class="old-price text-info fz-16">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="add-tp-cart">
                                                <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% if k % break_index == break_index -1 or k + 1 == hot_products|length %}
                            </div><!-- End row -->
                            </div><!-- End slide-item -->
                        {% endif %}
                    {% endfor %}
                </div> <!-- End owl-product -->
            </div> <!-- End container -->
        </div>
    {% endif %}#}
    <!-- End: Box Product -->

    <!-- Box Banner -->
    {#  {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
          <div class="box-banner block-ads-banner mt-3 mt-md-5 pb-3">
              <div class="container">
                  <a target="_blank" href="{{ banner_middle['url'] }}" class="w-100">
                      <img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}">
                  </a>
              </div>
          </div>
      {% endif %}#}
    <!-- End: Box Banner -->

    <!-- Box Product -->
    {#{% if best_sales_product_visible %}
        <div class="box-product block-most-sale-product mt-3 mt-md-5 pb-3">
            <div class="container">
                <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ best_sales_product_title }}</h2>
                <div class="owl-product owl-carousel owl-theme">
                    {% for product in best_sales_product %}
                        <div class="pro-item">
                            <div class="pro-thumb position-relative">
                                <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                <div class="pro-list-type top">
                                    {% if product['is_new_product'] %}
                                        <span class="left">Mới</span>
                                    {% endif %}
                                    {% if product['percent_sale'] is not empty %}
                                        <span class="right">{{ product['percent_sale'] }}</span>
                                    {% endif %}
                                </div>
                                <div class="pro-list-type bottom">
                                    {% if product['product_is_stock'] == false %}
                                        <span class="left">Tạm hết hàng</span>
                                    {% endif %}
                                    {% if product['is_best_sale_product'] %}
                                        <span class="right">HOT</span>
                                    {% endif %}
                                </div>
                                <!-- Pro Overlay -->
                                <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                    <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> class : buy-now to show popup
                                    <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                </div>
                                <!-- EnD: Pro Overlay -->
                            </div>
                            <!-- Star Rate -->
                            <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star"></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End: Star Rate -->
                            <div class="pro-info text-center px-3">
                                <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                <div class="pro-price my-2">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                            {{ contact }}
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                {% endif %}
                                            </span>
                                            <span class="old-price text-info fz-16">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="add-tp-cart">
                                    <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> <!-- End owl-product -->
            </div>
        </div>
    {% endif %}#}
    <!-- End: Box Product -->

    <!-- Box Product -->
    {#{% if new_product_visible %}
        <div class="box-product block-newest-product mt-3 mt-md-5 pb-3">
            <div class="container">
                <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ new_product_title }}</h2>
                <div class="owl-product owl-carousel owl-theme owl-hidden-dots">
                    {% for product in new_products %}
                        <div class="pro-item">
                            <div class="pro-thumb position-relative">
                                <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                <div class="pro-list-type top">
                                    {% if product['is_new_product'] %}
                                        <span class="left">Mới</span>
                                    {% endif %}
                                    {% if product['percent_sale'] is not empty %}
                                        <span class="right">{{ product['percent_sale'] }}</span>
                                    {% endif %}
                                </div>
                                <div class="pro-list-type bottom">
                                    {% if product['product_is_stock'] == false %}
                                        <span class="left">Tạm hết hàng</span>
                                    {% endif %}
                                    {% if product['is_best_sale_product'] %}
                                        <span class="right">HOT</span>
                                    {% endif %}
                                </div>
                                <!-- Pro Overlay -->
                                <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                    <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> #}{#class : buy-now to show popup#}{#
                                    <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                </div>
                                <!-- EnD: Pro Overlay -->
                            </div>
                            <!-- Star Rate -->
                            <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star star-rate"></span>
                                    </li>
                                    <li class="list-inline-item mr-0">
                                        <span class="star"></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End: Star Rate -->
                            <div class="pro-info text-center px-3">
                                <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                <div class="pro-price my-2">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                            {{ contact }}
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="new-price text-primary fw-600 fz-20">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                {% endif %}
                                            </span>
                                            <span class="old-price text-info fz-16">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="add-tp-cart">
                                    <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}#}
    <!-- End: Box Product -->
<div class="bestme_app_after_product">

</div>
    <!-- Box Custommer -->
    {% if partners_visible == '1' %}
        <div class="box-custommer mt-3 mt-md-5 pb-3 bestme-block-partner">
            <div class="container">
                <div class="box-title-center text-center mb-3">
                    <h3 class="box-title text-center fz-18 fw-600 text-uppercase d-inline-block">{{ partners_title }}</h3>
                </div><!-- /.box-title-center -->
                <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                    {% for partner in partners %}
                        <div class="item">
                            <a href="{{ partner.url }}">
                                <div class="custommer-avt" style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;"></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End: Box Custommer -->
    {% if latest_blog %}
        <!-- Box News -->
        <div class="box-news block-blog=hightlight mt-3 mt-md-5 pb-3">
            <div class="container">
                <div class="box-title-center text-center mb-3">
                    <h3 class="box-title text-center fz-18 fw-600 text-uppercase d-inline-block">{{ blog_title }}</h3>
                </div><!-- /.box-title-center -->
                <div class="row">
                    {% for key, latest_blog in latest_blog %}
                        {% if key < 3 %}
                            <!-- News Item -->
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="news-item">
                                    <div class="news-thumb hover-zoom-img">
                                        <img src="{{ latest_blog['image'] }}" class="w-100" alt="{{ latest_blog['title'] }}">
                                    </div>
                                    <div class="news-info">
                                        <a href="{{ latest_blog['link'] }}"
                                           class="d-block news-title text-uppercase fz-16 text-black hover-primary line-height-default mt-3">{{ latest_blog['title'] }}</a>
                                        <p class="post-author fz-10 fw-300 mt-2 mb-3">{{ latest_blog['lastname'] }} {{ latest_blog['firstname'] }} - {{ latest_blog['date_added']|date("d/m/Y") }}</p>
                                        <a href="{{ latest_blog['link'] }}"
                                           class="text-uppercase text-primary hover-primary border-bottom border-primary">Đọc
                                            thêm</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End: News Item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End: Box News -->
</main>

<!-- Modal Product -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-zoom modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 modal-thumb">
                        {#<img src="img/sp6-big.png" alt="">#}
                    </div>
                    <div class="col-md-6 modal-info">
                        <h3 class="text-black-50 fz-16 fw-600 mt-3">BỘ BÁT HỒNG CUTE (10 CHIẾC)</h3>
                        <div class="pro-price mb-2">
                            <span class="new-price text-primary fw-600 fz-18 mr-2">120.000 VND</span>
                            <span class="old-price text-info fw-600 fz-14">150.000 VND</span>
                        </div>
                        <p class="fw-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                        <div class="form-group">
                            <label for="pro-size" class="fw-600 text-black-50">Kích cỡ</label>
                            <input type="text" class="form-control rounded-0 border border-light bg-white" id="pro-size" value="S" readonly>
                        </div>
                        <div class="form-group">
                            <label for="pro-color" class="fw-600 text-black-50">Màu</label>
                            <input type="text" class="form-control rounded-0 border border-light bg-white" id="pro-color" value="Hồng" readonly>
                        </div>
                        <ul class="pro-action list-inline">
                            <li class="list-inline-item">
                                <div class="buy-total">
                                    <input class="custom-number-input border border-light mx-2 px-2 py-1 text-black-50 text-center fw-600 fz-14" type="number" name="quantity[]" value="1" min="1">
                                </div><!-- /.buy-total -->
                            </li>
                            <li class="list-inline-item">
                                <a href="#" id="add-to-cart" class="py-1 px-2 btn-primary text-white">Thêm vào giỏ</a>
                            </li>
                            <li class="list-inline-item float-right">
                                <ul class="list-inline mt-1 mb-0 follow">
                                    <li class="list-inline-item text-black-50 fw-600 mr-3">Chia sẻ:</li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-black-50 fz-18"><i class="fab fa-google"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-black-50 fz-18"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-black-50 fz-18"><i class="fab fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal Product -->
<div class="bestme_app_before_footer">

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.owl-product-' + '{{ k }}').length > 0) {
            const autoplayTime = undefined === jQuery('.owl-product-' + '{{ k }}').data('autoplay_time') ? 5 : jQuery('.owl-product-' + '{{ k }}').data('autoplay_time')
            $('.owl-product-' + '{{ k }}').owlCarousel({
                loop: undefined !== jQuery('.owl-product-' + '{{ k }}').data('loop') && 1 == jQuery('.owl-product-' + '{{ k }}').data('loop'),
                autoplay: undefined !== jQuery('.owl-product-' + '{{ k }}').data('autoplay') && 1 == jQuery('.owl-product-' + '{{ k }}').data('autoplay'),
                autoplayTimeout: autoplayTime * 1e3,
                responsiveClass:true,
                dots: false,
                nav: true,
                margin: 15,
                navText: ['<i class="icon icon-chevron-left"></i>', '<i class="icon icon-chevron-right"></i>'],
                responsive:{
                    0:{
                        items: jQuery('.owl-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    600:{
                        items: jQuery('.owl-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    1000:{
                        items: jQuery('.owl-product-' + '{{ k }}').attr('data-number-item'),
                    }
                },
            });
        }
        {% endfor %}
    });
</script>
{{ footer }}