<!DOCTYPE html>
<html lang="vi">
<body>
<div class="page-wrapper">
    {{ custom_header }}
    <!-- End header -->
    <div class="content-wrapper row m-0">
        {{custom_column_left}}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="box-content">
                    <div class="page-header">
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="app-logo">
                                <img src="{{ app_logo }}">
                                <span>App Popup</span>
                            </div>
                            <div class="link-to-app">
                                <a href="{{ link_to_app }}">{{ text_go_to_app }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="box-wrap">
                            <div class="tab-content">
                                <h4>{{ text_sort_description }}</h4>
                                <p>App Popup là ví dụ ứng dụng cho nhà phát triển</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="box-wrap">
                            <div class="tab-content">
                                <h4>{{ text_detail }}</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{{ footer }}
<style>
    .container-fluid{
        background: #FFF;
        margin-top: 20px;
    }
    .border-tab{
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #CCC;
    }
    .app-logo img{
        width: 60px;
        margin-right: 10px;
    }
    .app-logo span{
        font-size: 16px;
        font-weight: bold;
    }
    .link-to-app{
        padding-top: 20px;
    }
    .link-to-app a{
        background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
        border: 1px solid #ED592A;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
        border-radius: 3px;
        padding: 5px 10px;
        color: #fff;
    }
    .tab-content{
        padding:20px;
    }
</style>