{{ header }}

<!-- News pages -->
<div id="block-news-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="list-news">
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for blog in blog_list %}
                        <div class="news-item">
                            <div class="row align-item-center">
                                <div class="col-md-5">
                                    <div class="news-thumb">
                                        <a href="{{ blog['link'] }}"><img class="img-fluid" src="{{ blog['image'] }}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="news-content">
                                        <div class="meta">
                                            <div class="date">{{ blog['date_added']|date('Y-m-d') }}</div>
                                            <div class="author">
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                                {{ blog['lastname'] }} {{ blog['firstname'] }}
                                            </div>
                                        </div>
                                        <h6 class="name">
                                            <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                        </h6>
                                        <div class="desc">
                                            {{ blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                        <div class="bt">
                                            <a href="{{ blog['link'] }}" class="view-more">Xem thêm <i class="fa fa-angle-double-right"
                                                                                      aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="block-pagination">
                    {{ pagination }}
                </div>
            </div>
            <div class="col-lg-3">
                <!-- Side bar -->
                <div id="block-sidebar" class="block-sidebar">

                    <div class="widget-sidebar">
                        <h4 class="widget-title">
                            Danh mục bài viết
                        </h4>
                        <div class="widget-content">
                            <div class="menu-side menu-none-arrow">
                                <ul>
                                    {% for category in blog_category %}
                                    <li >
                                        <a class="a-normal {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}" href="{{ category['link'] }}">{{ category['title'] }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title">
                            Tags
                        </h4>
                        <div class="widget-content">
                            <div class="menu-side menu-none-arrow">
                                <ul>
                                    {% for tag in tags %}
                                        <li>
                                            <a class="a-normal {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title">
                            Bài viết mới nhất
                        </h4>
                        <div class="widget-content">
                            <div class="list-sidenews">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="news-item">
                                        <div class="news-thumb">
                                            <a href="{{ blog['link'] }}">
                                                <img class="img-fluid" src="{{ blog['image'] }}" alt="">
                                            </a>
                                        </div>
                                        <div class="news-content">
                                            <h6 class="name"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h6>
                                            <div class="meta">
                                                <div class="meta-item">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    <span>{{ blog['date_added']|date('Y-m-d') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.Side bar -->
            </div>
        </div>
    </div>
</div>
<!-- /.News pages -->

{{ footer }}