<main id="main-wrapper">
   <!-- Main Content -->
   <div class="main-content pb-3 pb-md-5">
      <div class="container">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dự án</li>
         </ol>
         <!-- End breadcrumb -->
         <div class="text-center mb-3">
            <h1 class="page-title mb-2 pb-2">Dự án nổi bật</h1>
            <div class="line-percent pb-3"></div>
         </div>
         <div class="projects-view">
            <div class="row grid">
               {% for blog_key, blog in blog_list %}
                     <div class="project-item grid-item">
                        <div class="project-img hover-zoom-img">
                           <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                        </div>
                        <a href="{{ blog['link'] }}?type=du-an" class="project-title" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}">
                           {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                        </a>
                     </div>
               {% endfor %}
            </div>
         </div>
         <!-- End project listing -->
         <div class="my-4 d-flex justify-content-center">
            {{ pagination }}
         </div>
         <!-- End pagination -->
      </div>
   </div>
</main>
<script>
   jQuery(window).on('load', function(){
      $('.grid').packery({
         itemSelector: '.grid-item',
      });
   })
</script>

<style>
   @media (max-width: 768px) {
      .grid-item {
         width: 50% !important;
      }
   }
   .grid-item {
      width: 33%;
   }
</style>