<main id="main-wrapper">
   <!-- Main Content -->
   <div class="main-content pb-3 pb-md-5">
      <div class="container">
         <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
         </ol>
         <!-- End breadcrumb -->
         <ul id="categories-blog" class="nav nav-tabs mb-4 categories-blog owl-carousel owl-theme">
            {% for category in blog_category if category['title'] != 'projects' and category['title'] != 'giới thiệu' %}
               <li class="nav-item slide-item {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %} me-md-4">
                  <a href="{{ category['link'] }}" class="nav-link px-lg-5 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>
               </li>
            {% endfor %}
         </ul>

         <div class="blogs-listing row">
            {% for blog_key, blog in blog_list if  blog['blog_category_title'] != 'projects' and blog['blog_category_title'] != 'giới thiệu' %}
               <div class="col-12 col-lg-4">
                  <div class="news-item">
                     <a href="{{ blog['link'] }}" class="news-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                     </a>
                     <p class="news-date">{{ blog['date_publish']|date('d-m-Y') }}</p>
                     <a href="{{ blog['link'] }}" class="news-title">
                        {{ blog['title'] }}
                     </a>
                     <a href="{{ blog['link'] }}" class="btn btn-primary mt-3 rounded-20">Xem thêm</a>
                  </div>
               </div>
            {% endfor %}
         </div>

         <div class="mt-3 pt-1 mb-4 d-flex justify-content-center">
            {{ pagination }}
         </div>
         <!--End pagination-->
      </div>
      <!--End container-->
   </div>
   <!--End main-content-->
</main>

<style>
   .owl-carousel .owl-nav button[class*=owl-] i {
      background-color: #212529;
      font-size: 30px;
   }
   .owl-carousel .owl-nav button.owl-next {
      left: auto;
      right: -10px;
      top: 8px;
   }
   .owl-carousel .owl-nav button.owl-prev {
      left: auto;
      left: -10px;
      top: 8px;
   }
   @media (max-width: 768px) {
      ul#categories-blog {
         padding: 0 20px;
      }
   }
</style>
<script>
   $('#categories-blog').owlCarousel({
      loop: false,
      responsiveClass: true,
      lazyLoad: true,
      dots: false,
      autoHeight: true,
      autoWidth: true,
      nav: true,
      navText: ['<i class="icon icon-arrow-left"></i>', '<i class="icon icon-arrow-right"></i>'],
      responsive: {
         0: {
            items: 4,
         },
         600: {
            items: 3,
         },
         991: {
            items: 8,
         }
      },
   });
</script>