{{ header }}

{% if page_projects %}
    {% include ('adg_topal_xfad/template/blog/blog_detail_projects.twig') %}
{% elseif page_about_us %}
    {% include ('adg_topal_xfad/template/blog/blog_detail_about_us.twig') %}
{% else %}
    {% include ('adg_topal_xfad/template/blog/blog_detail_news.twig') %}
{% endif %}


{{ footer }}