<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/bai-viet?type=du-an">Dự án</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ blog['title'] }}</li>
            </ol>
            <!-- End breadcrumb -->

            <h1 class="text-center mx-auto w-lg-50 mb-lg-4 fz-lg-30">
                <span class="line-percent d-inline-block mb-3 pb-3">
                     {{ blog['title'] }}
                </span>
            </h1>

            <div class="project-content py-3 mb-4">
                {{ blog['content']|html_entity_decode }}
            </div>
            <!-- End project content -->

            <section class="news-related bg-fifth full-width py-4">
                <div class="container">
                    <h2 class="text-center"><span class="line-percent d-inline-block py-2 mt-2 mb-3">Bài viết liên
                                quan</span></h2>
                    <div class="row">
                        {% for k, blog in blog_relate_project if k < 3 %}
                            <div class="col-6 col-md-4">
                                <div class="news-item">
                                    <a href="{{ blog['link'] }}?type=du-an" class="news-img">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </a>
                                    <a href="{{ blog['link'] }}?type=du-an" class="news-title">
                                        {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                    </a>
                                    <p class="news-desc">{{ blog['date_publish']|date('d-m-Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End news related -->

        </div>
    </div>
</main>