<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/bai-viet">Tin tức</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ blog['title'] }}</li>
            </ol>
            <!-- End breadcrumb -->

            <ul id="categories-blog" class="nav nav-tabs mb-4 categories-blog owl-carousel owl-theme">
                {% for category in blog_category if category['title'] != 'projects' and category['title'] != 'giới thiệu' %}
                    <li class="nav-item slide-item {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %} me-md-4">
                        <a href="{{ category['link'] }}" class="nav-link px-lg-5 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="row">
                <div class="col-12 col-lg-8 news-detail news-item mx-auto my-0 my-lg-3">
                    {{ blog['content']|html_entity_decode }}
                </div>
                <!-- End blog detail -->
            </div>

            <section class="news-related bg-fifth full-width py-4">
                <div class="container">
                    <h2 class="text-center"><span class="line-percent d-inline-block py-2 mt-2 mb-3">Bài viết liên
                                quan</span></h2>
                    <div class="row">
                        {% for k, blog in blog_relate_project if k < 3 %}
                            <div class="col-6 col-md-4">
                                <div class="news-item">
                                    <a href="{{ blog['link'] }}?type=du-an" class="news-img">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </a>
                                    <a href="{{ blog['link'] }}?type=du-an" class="news-title">
                                        {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                    </a>
                                    <p class="news-desc">{{ blog['date_publish']|date('d-m-Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <!--End container-->
    </div>
    <!--End main-content-->
</main>
<style>
    .owl-carousel .owl-nav button[class*=owl-] i {
        background-color: #212529;
        font-size: 30px;
    }
    .owl-carousel .owl-nav button.owl-next {
        left: auto;
        right: -10px;
        top: 8px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: auto;
        left: -10px;
        top: 8px;
    }
    @media (max-width: 768px) {
        ul#categories-blog {
            padding: 0 20px;
        }
    }
</style>
<script>
    $('#categories-blog').owlCarousel({
        loop: false,
        responsiveClass: true,
        lazyLoad: true,
        dots: false,
        autoHeight: true,
        autoWidth: true,
        nav: true,
        navText: ['<i class="icon icon-arrow-left"></i>', '<i class="icon icon-arrow-right"></i>'],
        responsive: {
            0: {
                items: 4,
            },
            600: {
                items: 3,
            },
            991: {
                items: 8,
            }
        },
    });
</script>