body {
    word-wrap: break-word;
}
.product-preview{
    text-align: center;
}
button.btn-outline-secondary.disabled, button.btn-outline-secondary:disabled {
    background-color: #000;
    color: #6c757d;
}
.block-header .block-header-logo img {
    max-height: 50px;
    max-width: unset;
}
.product-item:hover {
    position: relative;
    width: 100%;
}
.btn-outline-secondary:hover{
    *color: #000000 !important;
}
.quantity-group-input>input.form-control {
    width: 55px;
}
.media-show {
    display: none;
}

/*sticky*/
.show-on-pc {
    display: block !important;
}
.show-on-mobile {
    display: none !important;
}
.show-on-pc.btn-pc {
    display: inline-block !important;
}

.product-teaser-fix .add-to-cart:hover {
    background-color: #454545 !important;
    color: white !important;
}
.product-teaser-fix .add-to-cart:hover > i {
    background-color: white !important;
}
.category-menu-header #collapseCategory ul.nav {
    max-height: 300px;
    overflow-x: scroll;
}
.product-item .product-title {
    display: block;
    display: -webkit-box;
    height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*block*/
.blog-img {
    height: 370px;
}
.blog-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto
}

.collection .product-item:hover {
    padding-bottom: 25px;
}

/*css tag filter*/
#tag-filter-custom li a:hover {
    color: white !important;
    background-color: #372D40 !important;
}

#tag-filter-custom li .active {
    color: white !important;
    background-color: #372D40 !important;
}

@media screen and (max-width:992px) {
    #navbarMainMenu {
        height: 350px;
        overflow: auto;
    }
    .owl-carousel .owl-nav>button.owl-next {
        right: 0;
    }
    .owl-carousel .owl-nav>button.owl-prev {
        left: 0;
    }

    /*sticker*/
    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        left: 15px;
        webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #3F3F3F;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }

    .buy-now-mobile .number-quantity input{
        width: 100%;
        height: 35px;
    }

    .product-teaser-fix {
        display: none;
    }
    .block-custom-change .quantity.show-on-pc {
        display: none !important;
    }

    .display-none {
        display: none !important;
    }

}
/* custom menu */
.block-header .block-header-menu li ul.nav a, .block-header .block-header-menu ul.nav > li > a {
    padding: 14px 20px !important;
}
.block-header .block-header-menu ul.nav ul.nav {
    padding: 0 !important;
}

.block-header.fixed .block-header-menu .collapse>ul.nav > li > a {
    padding: 10px 12px !important;
}
/* end */
@media screen and (max-width: 815px) {
    .owl-home-banner .slide-item {
        min-height: 200px;
    }

    .form-search-header {
        padding-left: 0;
        padding-right: 0;
    }

    .owl-product-detail .owl-stage-outer .owl-stage img {
        display: none !important;
    }

    .shopping-cart img {
        max-width: none !important;
    }

    #add-to-cart .quantity-group-input > button {
        padding: 0 10px !important;
    }

    .quantity-group-input > input.form-control {
        width: 60px;
    }

    .media-hide {
        display: none;
    }

    .media-show {
        display: block !important;
    }
}


@media only screen and (min-width: 300px)  and (max-width: 640px) {
    .product-item .product-preview{
        padding: 0px 7px !important;
    }
    .product-item .product-preview a{
        font-size: 9px !important;
    }
    .product-teaser-fix .d-flex{
        display: block !important;
    }
    .product-teaser-fix {
        z-index: 99999;
    }
    .main-menu-wrapper .block-header-menu .navbar-toggler {
        top: -49px;
    }
    .block-header.fixed .block-header-menu .collapse>ul.nav > li > a {
        padding: 10px 25px !important;
    }
}

/* Fix scroll broken layout on Iphone5/SE*/
@media (max-width: 320px){
    .order-bestme .table td, .order-bestme .table th {
        padding: 0.4rem!important;
    }
}

.product-item .item-product-name{
    margin-top: 10px;
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.table-order-list-customer {
    display: table;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}

/* contact for price form always on top */
#modal-buy {
    z-index: 100000;
}