@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,600,700&subset=vietnamese');
@import url('reset.css');
@import url('header.css');
@import url('sidebar.css');

.icon.icon-left-arrow {
    -webkit-mask: url('../img/icons/left-arrow.svg') no-repeat center;
    mask: url('../img/icons/left-arrow.svg') no-repeat center;
    min-width: 23px;
    min-height: 18px;
    font-size: 6px;
    top: 3px;
    position: relative;
}

.input-icon {
    position: relative;
}

.input-icon > input {
    padding-left: 50px;
}

.input-icon.icon-right > input {
    padding-right: 50px
}

.input-icon > .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    width: 18px;
    height: 18px;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
}

.input-icon.icon-right > .icon {
    right: 10px;
}

.input-icon.icon-left > .icon {
    left: 10px;
}

label.checkbox {
    display: inline-block;
    margin-bottom: 0
}

label.checkbox > span,
.custom-checkbox .custom-control-label::before {
    position: relative;
    width: 17px;
    height: 17px;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 3.12%, rgba(97, 121, 133, 0.01) 100%), #FFFFFF;
    border: 1px solid #C4CDD5;
    box-shadow: 0px 1px 1px rgba(64, 82, 88, 0.032), 0px 1px 1px rgba(97, 121, 133, 0.0528);
    border-radius: 3px;
    cursor: pointer;
}

.custom-checkbox:hover .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
label.checkbox input[type="checkbox"]:checked ~ span,
label.checkbox > span:hover {
    color: #B9256A;
    border: 2px solid #B9256A;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background: none;
}

.custom-switch .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
    cursor: pointer;
}

.custom-switch .custom-control-label {
    font-weight: 400;
    text-transform: uppercase;
}

.custom-switch .custom-control-label > span {
    top: calc(.25rem + 2px);
    position: absolute;
    font-size: 9px;
    line-height: 14px;
    display: block;
    color: #fff;
    font-weight: 500;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label > span.off,
.custom-switch .custom-control-label > span.on {
    display: none;
    left: calc(-2.1rem + 2px);
}

.custom-switch .custom-control-label > span.off {
    right: 0.18rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label > span.on {
    display: block;
}

.custom-switch .custom-control-label::before {
    min-width: 2.3rem;
    min-height: 1.05rem;
    border: none;
    background: #D8DDE6;
}

.custom-switch .custom-control-label::after {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 0.84rem;
    height: 0.84rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background: #B9256A;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    left: calc(-1.75rem + 2px);
}

label.checkbox input[type="checkbox"] {
    display: none;
}

label.checkbox input[type="checkbox"]:checked ~ span::before,
.custom-checkbox input[type="checkbox"]:checked ~ .custom-control-label::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
}

.custom-checkbox input[type="checkbox"]:checked ~ .custom-control-label::after {
    position: absolute;
    width: 17px;
    height: 17px;
    background: none;
    color: #B9256A;
    top: 6px;
}

.input-group-icon {
    position: relative;
}

.input-group-icon > i {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    left: 30px;
    width: 20px;
    margin: auto 0;
    height: 15px;
}

.input-group-icon input.form-control {
    padding-left: 60px;
}

ul.pagination {
    margin: 0;
}

ul.pagination li.page-item a.page-link {
    border-radius: 3px;
    margin: 0 3px;
    padding: 5px 5px;
    line-height: 16px;
    font-size: 14px;
    color: #000;
    min-width: 28px;
    text-align: center;
}

ul.pagination li.page-item.active a.page-link,
ul.pagination li.page-item a.page-link:hover {
    background-color: #007bff;
    color: #fff;
}

/*End global*/

.navbar#sidebar-menu,
.main-content {
    display: inline-block;
    padding: 20px 16px 20px;
    background: #fff;
    min-height: calc(100vh - 75px);
    width: 100%;
}

.main-content nav[aria-label="breadcrumb"] ol.breadcrumb {
    margin-bottom: 0;
    margin-top: 30px;
    padding: 0;
    background: none;
}

.main-content nav[aria-label="breadcrumb"] ol.breadcrumb a {
    color: #4A4A4A;
}

.main-content nav[aria-label="breadcrumb"] .breadcrumb-item + .breadcrumb-item::before {
    content: "";
    background: url('../img/icons/arrow-breadcrum.svg') no-repeat center;
    background-size: contain;
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

/*End Breadcrum*/

.main-content {
    padding: 56px 40px 110px;
    background: #F1F4F6;
}

.main-content .sub-head {
    padding: 20px 0;
}

.main-content .sub-head h1.page-title {
    margin: 0;
    font-weight: 500;
    line-height: 60px;
    font-size: 25px;
    margin-left: 11px;
}

.main-content .sub-head .advance-link {
    color: #fff;
    background: linear-gradient(180deg, #ED348B 0%, #B9256A 100%);
    border: 1px solid #770239;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
}

.main-content .box-wrap {
    background: #fff;
}

.main-content .box-wrap .box-head {
    display: inline-block;
    width: 100%;
    padding: 0 1.5rem;
    padding-bottom: 0;
}

.main-content .box-wrap .box-head .sub-title {
    padding: 12px 30px;
    font-weight: 600;
    line-height: 22px;
}

.main-content .box-wrap .box-head .sub-title i {
    margin-right: 10px;
}

.main-content .box-wrap .box-head .nav-tabs {
    border-bottom: 1px solid #DEE5E7;
}

.main-content .box-wrap .box-head .nav-tabs a {
    color: #6D6F72;
    line-height: 25px;
    padding: 18px 5px;
}

.main-content .box-wrap .box-head .nav-tabs a.active,
.main-content .box-wrap .box-head .nav-tabs a:hover {
    border-bottom: 3px solid #B9256A;
}

.main-content .box-wrap .box-content {
    padding: 1.5rem;
}

form.filter-form {
    margin-bottom: 30px;
}

.filter-form .search-group .dropdown-menu {
    min-width: 250px;
    max-width: 100%;
}

form.filter-form .search-group .input-group-icon input.form-control,
form.filter-form .search-group .input-group-prepend > button.btn {
    border-color: #C4CDD5;
    border-radius: 0;
    box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
    background: #fff;
}

form.filter-form .search-group .input-group-prepend > button.btn {
    width: 175px;
    height: 38px;
    margin-right: 1px;
    text-align: left;
    padding-left: 16px;
    padding-right: 35px;
    border-right: 0;
}

form.filter-form .search-group .input-group-prepend > button.btn:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-bottom: .3em solid #D8D8D8;
    border-right: .3em solid transparent;
    border-top: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 12px;
    right: 10px;
}

form.filter-form .search-group .input-group-prepend > button.btn:after {
    position: absolute;
    bottom: 12px;
    right: 10px;
    border-top-color: #D8D8D8;
}

form.filter-form .search-group .input-group-icon {
    width: calc(100% - 175px);
}

form.filter-form .search-group .input-group-icon > i.icon {
    background: #919EAB;
    margin-left: -5px;
}

form.filter-form .button-options {
    display: inline-block;
    min-height: 40px;
    border-radius: 5px;
    background: #F4F6F8;
    padding: 5px 10px;
    line-height: 30px;
}

form.filter-form .button-options a {
    color: #000;
    font-weight: 600;
    margin: 0 5px;
}

form.filter-form .button-options a:hover {
    text-decoration: underline;
}

.table.table-with-operation.has-selected {
    margin-top: 75px;
    position: relative;
}

.box-content .table th[scope="check-all"],
.box-content #check-all {
    padding-left: 0px;
}

.box-content .table td[scope="select-this"] {
    padding-left: 9px;
    vertical-align: middle;
}

td a.collapse-child-cat {
    line-height: 20px;
    font-size: 28px;
    color: gray;
    margin-right: 5px;
}

td a.collapse-child-cat[aria-expanded="true"] {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: inline-block;
}

td .child-category {
    border-left: 3px solid #eee;
}

.box-content .table th[scope="check-all"] .dropdown, .box-content .table th[scope="check-all-main"] .dropdown,
.box-content #check-all .dropdown, .box-content #check-all-main .dropdown {
    border: 1px solid #DBDEE0;
    background: rgba(244, 246, 248, 0.3203);
    height: 30px;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    padding-left: 28px;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.has-choose-main-product-list .table span.text {
    width: 134px;
    display: block;
}

.box-content .table th[scope="check-all-main"] .dropdown {
    position: absolute;
    top: 47px;
}

.has-choose-main-product-list .table span.text {
    width: 134px;
    display: block;
    transform: translate(22px, -16px);
}

.box-content .table th[scope="check-all"] .dropdown.has-selected {
    position: absolute;
    top: -50px;
}

.box-content .table th[scope="check-all"] .dropdown .text-all,
.box-content #check-all .dropdown .text-all {
    position: absolute;
    left: calc(100% + 8px);
    width: auto;
    white-space: nowrap;
    top: 4px;
}

.box-content .table th[scope="check-all"] label.checkbox,
.box-content #check-all label.checkbox {
    position: absolute;
    left: 8px;
    top: 5px;
    z-index: 1;
}

.box-content .table th[scope="check-all"] .dropdown .dropdown-toggle,
.box-content #check-all .dropdown .dropdown-toggle {
    height: 30px;
    display: none;
    position: relative;
    line-height: 30px;
    top: -5px;
    right: -10px;
    padding: 0 10px;
    background: #fff;
    border: 1px solid #DBDEE0;
    border-radius: 0 3px 3px 0;
    color: #343a40;
}

.box-content .table th[scope="check-all"] .dropdown.has-selected .dropdown-toggle,
.box-content #check-all .dropdown.has-selected .dropdown-toggle {
    display: inline-block;
}

.box-content .table th[scope="check-all"] .dropdown > .text,
.box-content #check-all .dropdown > .text {
    position: relative;
    top: -5px;
    margin-left: 5px;
}

.box-content .table th[scope="check-all"] .dropdown .dropdown-menu,
.box-content #check-all .dropdown .dropdown-menu {
    margin-top: 10px;
}

.box-content .table th[scope="check-all"] .dropdown .dropdown-menu::before,
.box-content #check-all .dropdown .dropdown-menu::before {
    content: "▲";
    top: -15px;
    position: absolute;
    left: 30px;
    text-shadow: rgba(206, 212, 218, 0.43) 0px -2px 3px;
    color: rgb(255, 255, 255);
    transform: translate(-50%) scaleX(2);
}

.box-content .table .option-link > button.btn {
    width: 50px;
    height: 22px;
    border: 1px solid #DADDE0;
    line-height: 18px;
    background: #F4F6F8;
    padding: 0;
    font-size: 20px;
    color: #2962FF;
}

.box-content .table .option-link > button.btn::after {
    display: none;
}

.box-content .table .option-link > button.btn::before {
    content: "››";
}

table .status-text {
    white-space: nowrap;
}

.alert-footer {
    background: #212B36;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    position: fixed;
    z-index: 11;
    bottom: 0;
    right: 0;
    width: 83.3333%;
}

.alert-footer .upgrade-alert a.btn {
    background: linear-gradient(180deg, #ED348B 0%, #B9256A 100%);
    border: 1px solid #770239;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    padding: 8px 15px;
    margin-left: 30px;
    font-size: 18px;
}

.form-step .form-action .right-button {
    line-height: 40px;
}

.form-step .form-action .right-button button.btn,
.form-footer .right-button button.btn {
    padding: 8px 30px;
    margin-left: 30px;
    background: #C51162;
}

.form-step .form-group label {
    line-height: 40px;
    font-weight: 500;
}

/* Product form */
form.section-form .box-content#attribute-product button[data-repeater-create] {
    color: #5481FF;
    background: #fff;
    border: 1px dashed;
    margin-top: 15px;
}

form.section-form .box-content#attribute-product button[data-repeater-create] i {
    background: #5481FF;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

form.section-form h4.box-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

form.section-form .box-content#price-section label,
form.section-form .box-content#tag-section label {
    line-height: 40px;
}

.upload-preview .image-item {
    position: relative;
}

.upload-preview .image-item a.close {
    opacity: 0;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    font-size: 18px;
    background-color: #fff;
}

.upload-preview .image-item:hover a.close {
    opacity: 1;
    color: #2962FF;
}

.upload-preview .image-item:hover {
    border-color: #2962FF !important;
    cursor: pointer;
}

.input-group-append.select > select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
    z-index: 1;
    background: #D3D5D7;
}

.form-footer {
    padding: 20px 40px;
    line-height: 20px;
    background-color: #fff;
    margin-top: 30px;
}

.form-footer.form-action-fix {
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 -10px 20px -10px #ddd;
    -webkit-box-shadow: 0 -10px 20px -10px #ddd;
    -moz-box-shadow: 0 -10px 20px -10px #ddd;
    z-index: 9;
}

/* ENd Product form */

/*Setting page*/
.setting-page .setting-item {
    border-radius: 4px;
    padding: 12px 20px 12px 12px;
    display: inline-block;
    width: 100%;
}

.setting-page .setting-item:hover {
    background: #F9FAFB;
}

.setting-page .setting-item .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    float: left;
    background: #F4F6F8;
    border-radius: 3px;
    padding: 8px;
}

.setting-page .setting-item:hover .icon {
    background: #DFE3E8;
}

.setting-page .setting-item .info {
    width: calc(100% - 50px);
    color: #637381;
    float: left;
}

/*End setting page*/

.form-fix-head .sub-head .fix-content {
    padding: 0;
}

.form-fix-head .sub-head .fix-content.fixed-top {
    background: #fff;
    padding: 15px 40px;
    margin-top: 56px;
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
    left: auto;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    z-index: 9;
}

.seo-preview #title {
    color: #0E009E;
    font-size: 19px;
}

.seo-preview #alias {
    color: #145515;
    line-height: 24px;
    margin-bottom: 5px;
}

.seo-preview #description {
    color: #434343;
}

/*product warehouse*/
.input-group.quantity-warehouse-product {
    min-width: 235px;
}

.input-group.quantity-warehouse-product .radio-select {
    padding: 0;
}

.input-group.quantity-warehouse-product .radio-select input[type="radio"] {
    display: none;
}

.input-group.quantity-warehouse-product .radio-select label {
    line-height: 35px;
    cursor: pointer;
    padding: 0 10px;
    width: 55px;
}

.input-group.quantity-warehouse-product .radio-select input:checked ~ label {
    background: #F4F6F8;
}

.input-group.quantity-warehouse-product > input {
    padding: 5px;
    padding: 5px;
    width: 70px;
    display: inline-block;
    flex: none;
}

td.quantity-col .new-val {

}

td.quantity-col .new-val > span {
    background: #FFF2AD
}

td.quantity-col .new-val:before {
    content: "▶";
    font-size: 10px;
    margin: 0 1rem;
    color: #B9256A;
}

/*End product ware house*/

/*Delivery page*/
.modal#addNewLocationDelivery .modal-dialog {
    max-width: 618px;
    max-height: 576px;
}

.modal#addNewLocationDelivery .modal-body {
    max-height: 445px;
    overflow-y: auto;
}

.modal#addNewLocationDelivery .modal-body::-webkit-scrollbar-track {
}

.modal#addNewLocationDelivery .modal-body::-webkit-scrollbar {
    position: relative;
    width: 6px;
    background-color: transparent;
    right: 4px;
}

.modal#addNewLocationDelivery .modal-body::-webkit-scrollbar-thumb {
    position: relative;
    width: 6px;
    background: #637381;
    border: 1px solid #F4F6F8;
    width: 3px;
    border-radius: 3px;
    right: 4px;
}

[data-repeater-list="location-rule-weight"] > div > div > span {
    float: left;
    width: 57px;
    padding: 7px;
}

[data-repeater-list="location-rule-weight"] > div > div > span:nth-child(1) {
    width: 40px;
    padding-left: 0
}

[data-repeater-list="location-rule-weight"] > div > div > span:nth-last-child(1) {
    width: 40px;
    padding-right: 0
}

[data-repeater-list="location-rule-weight"] > div > div > input.form-control {
    float: left;
    padding: 5px;
    width: 60px;
}

#addNewLocationDelivery .location-delivery-form .select2-container .select2-dropdown {
    margin-top: 5px;
}

#addNewLocationDelivery .location-delivery-form .select2-container .select2-dropdown::before {
    display: none;
}

#addNewLocationDelivery .select2-container.select2-container--bootstrap4 .select2-selection.select2-selection--multiple .select2-search--inline::before {
    background-color: #000;
    -webkit-mask: url(../../image/custom/icons/dropdown-arrow.svg) no-repeat center;
    mask: url(../../image/custom/icons/dropdown-arrow.svg) no-repeat center;
}

.collection-select .select2-container,
.product-select .select2-container {
    width: 100% !important;
    position: relative !important;
    top: 0 !important;
}

.select-2-dropdown-product,
.select-2-dropdown-collection {
    position: absolute;
    top: 25px;
    z-index: 2;
}

.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice,
.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    width: 100%;
    background: #fff;
    border-radius: 0;
    color: #212B36;
    padding: 6px 0;
}

.product-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice:hover,
.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice:hover {
    background: #DFE3E8;
}

.product-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove,
.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    float: left;
    margin: 0px 10px;
    line-height: 1.1rem;
}

.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    padding-top: 90px;
}

.collection-select .collection-label {
    position: absolute;
    top: 60px;
    z-index: 1;
    width: 100%; /* need check. TODO: remove or use?... */
    left: 0px;
}

.select2-tag-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    white-space: normal;
}

.select2-tag-wrapper .select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-tag-wrapper .select2-container--default .select2-selection--multiple {
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
    border-radius: 3px;
    padding: 6px 4px;
}

.select2-tag-wrapper .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice,
.select-tag-use li {
    float: left;
    background: #C4CDD5;
    border-radius: 4px;
    color: #fff;
    line-height: 20px;
    padding: 2px 8px;
    margin: 5px 4px 0;
}

.select2-tag-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.select2-tag-wrapper .select2-container--default .select2-selection--multiple {
    padding: 0 5px;
}

.select2-container .select2-search--inline .select2-search__field {
    width: 100% !important;
}

.select2-container .select2-search--inline {
    width: 100%;
}

.select-tag-use li {
    margin-left: 0;
}

.select2-container .select2-selection--multiple {
    min-height: 20px;
}

.error ~ .select2-container--bootstrap4 .select2-selection {
    border-color: #EB3D3D;
}

.form-control.error {
    border-color: #EB3D3D;
}

/*End Delivery page*/

.chart-area .no-data {
    position: absolute;
    z-index: 10;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    margin-top: 5.5em;
}

.chart-area {
    padding-top: 2.5em;
}

.chart-area canvas {
    height: 250px;
}

.chart-area .text-y {
    position: absolute;
    top: 0;
    left: 0;
}

.daterangepicker.show-ranges {
    background: rgb(241, 244, 246);
    border-radius: 3px;
}

.daterangepicker.ltr .drp-calendar.left .calendar-table {
    border-radius: 0;
}

.daterangepicker.show-ranges::after,
.daterangepicker.show-ranges::before {
    display: none;
}

.daterangepicker.ltr .ranges {
    margin: 0;
}

.daterangepicker.ltr .drp-calendar.left {
    padding: 0;
}

.daterangepicker.ltr .drp-calendar.right {
    padding: 0;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    border-width: 0 1px 1px 0;
    border-color: #BFC1C3;
}

.toast {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: auto;
}

[data-repeater-list="location-method-order"] > div > div > input.form-control {
    float: left;
    padding: 5px;
    width: 200px;
}

.radio-custom:checked ~ label {
    background: #e35d31;
    border: 1px solid #e35d31;
    color: #fff;
}

.radio-select .radio-custom:checked ~ label {
    background: #e35d31 !important;
}

.message-total-order .radio-select label {
    line-height: 34px !important;
}

.enter-page-pagination {
	width: 50px;
	margin-left: 10px;
	margin-right: 20px;
	border-radius: 6px;
	padding: 3px;
	border: 1px solid #CCC;
	text-align: center;
}
