/*tiennd*/

.fix-content{
    z-index: 8!important;
}
a:hover {
    cursor: pointer !important;
}

.input-group-icon >i{
    position: absolute!important;
}

#nav-order-tab {
    cursor: pointer;
}

.card-content h2, .chart-area .no-data {
    margin: 0
}

.chart-area .no-data {
    left: 18%;
    padding-top: 12px;
    text-align: center;
}

.image-loading {
    background: url("../../image/theme/loading-eclipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    width: 100%;
    height: 100%;
    display: none;
}

#image-loading {
    background: url("../../image/theme/loading-eclipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}
#image-loading-filter{
    background: url(../../image/theme/loading-eclipse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}
/** placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #757575 !important;
    opacity: 1; /* Firefox */
    overflow: visible;
}
::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
    color: #757575 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #757575 !important;
}
::-webkit-input-placeholder{
    color: #757575 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #757575 !important;
}
/** end */
#image-loading-image {
    background: url("../../image/theme/loading-eclipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}

#image-loading-image-ckeditor {
    background: url("../../image/theme/loading-eclipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}

.upload-image {
    min-height: 215px;
    background: url('../../image/custom/icons/photo.svg') no-repeat top 50px center;
    background-size: 60px 50px;
    position: relative;
}

.upload-image .upload-button {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: auto;
}

.upload-image .upload-button .btn {
    background: #D8D8D8;
    color: #9B9B9B;
    border: 1px dashed #979797;
}

.pointer {
    cursor: pointer;
}

.card-content h2 {
    margin-top: 10px;
    font-size: 2em;
}
/*css v1.3 not isset*/
/*.card-body {*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
/*}*/

.cart-bottom a {
    padding: 8px 15px;
    font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* fix autocomplete scrollable in selecting products of order form */
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.select-product-autoload-paginator .dropdown-menu, #tab-cart .dropdown-menu {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.select-product-autoload-paginator .dropdown-menu a, #tab-cart .dropdown-menu a {
    display: block;
    width: 100%;
    padding: 8px 15px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.select-product-autoload-paginator .dropdown-menu a:hover, #tab-cart .dropdown-menu a:hover {
    background: #B9256A;
    color: #fff;
}
.select-product-autoload-paginator .dropdown-menu, #tab-cart .dropdown-menu {
    box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.08), 0px 0px 0px rgba(6, 44, 82, 0.1);
    border-radius: 3px;
    border: none;
    padding: 0;
    max-height: 185px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* fix bootstrap validate show error */
small.help-block {
    margin-top: 5px;
    color: #dc3545 !important;
    font-size: 14px;
    display: inherit;
}

/*End Delivery page*/
.navbar#sidebar-menu ul.navbar-nav ul li.nav-item a:hover, .navbar#sidebar-menu ul.navbar-nav ul li.nav-item.active.open a {
    font-weight: 500;
    color: #B9256A;
}
.select2-container .select2-selection--multiple {
    min-height: 36px !important;
}

/*add over select2*/
#addProductCollectionModal .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
#product-form .select2-results__options, .showModalCategory .select2-results__options, .showModalManufacturer .select2-results__options, #form-toggle-category-products .select2-results__options{
    max-height: 200px;
    overflow: auto;
}
.select-tag-use li:hover{
    cursor: pointer;
}
#product-thumb{
    padding-right: 1.3rem!important;
}
#imagePreviewModal img{
    max-height: 450px!important;
}
.product-list td {
    vertical-align: middle;
    font-size: 13px;
}
.has-choose-product-list {

}

#product-content.not-choose-product-list .table th[scope="check-all"] .dropdown .dropdown-toggle,
#product-content.not-choose-product-list #check-all .dropdown .dropdown-toggle {
    display: none;
}
#product-content.not-choose-product-list .table {
    margin-top: 25px;
}
#product-content.not-choose-product-list .table th[scope="check-all"] .dropdown,
#product-content.not-choose-product-list #check-all .dropdown {
    position: relative;
    top: 0px;
}
/*add new in select*/
.category-select.no-result .add-option{
    color: #B9256A;
    display: block;
}
.category-select.no-result .select2-results__option{
    height: 40px;
    position: relative;
}
.category-select.no-result .select2-results__option span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    padding-left: 13px;
}
.category-select.no-result .select2-results__option span:hover{
    color: #ffffff;
    background: #B9256A;
    cursor: pointer;
}
.category-select.no-result .add-option i {
    margin-right: 5px;
}

.manufacturer-select.no-result .add-option{
    color: #B9256A;
    display: block;
}
.manufacturer-select.no-result .select2-results__option{
    height: 40px;
    position: relative;
}
.manufacturer-select.no-result .select2-results__option span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    padding-left: 13px;
}
.manufacturer-select.no-result .select2-results__option span:hover{
    color: #ffffff;
    background: #B9256A;
    cursor: pointer;
}
.manufacturer-select.no-result .add-option i {
    margin-right: 5px;
}

.tag-select .select2-container, .category-select .select2-container, .manufacturer-select .select2-container {
    width: 100% !important;
    position: relative !important;
    top: 0px !important;
}
.category-select .select-2-dropdown-collection, .tag-select .select-2-dropdown-collection, .collection-select .select-2-dropdown-collection,
.product-select .select-2-dropdown-product {
    top: 35px;
}

.manufacturer-select .select2-selection {
    color: #495057;
    padding: 0rem .75rem;
}
.category-select .select2-container.select2-container--bootstrap4 .select2-selection.select2-selection--multiple .select2-search--inline::before {
    display: none;
}
.manufacturer-select .select2-search--dropdown .select2-search__field {
    /*display: none;*/
    position: absolute;
    top: -51px;
    left: 0px;
    padding: 7px 12px;
    border: 0px;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    height: 20px;
}
.manufacturer-select .select2-search--dropdown {
    padding: 0px;
}
.manufacturer-select .select-2-container:focus, .manufacturer-select .select2-container:focus {
    outline: 0px;
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.manufacturer-select .select2-container--bootstrap4.select2-container--focus .select2-selection {
    box-shadow: inherit;
    border-color: #ced4da;
}
#add-tag-to-product .select2-container .select2-search--inline .select2-search__field {
    min-width: 300px;
}
#add-tag-to-product .select2-results__option {
    padding-left: 15px;
}

.tag-select.no-result .add-option{
    color: #B9256A;
    display: block;
}
.tag-select.no-result .select2-results__option{
    height: 40px;
    position: relative;
}
.tag-select.no-result .select2-results__option span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    padding-left: 13px;
}
.tag-select.no-result .select2-results__option span:hover{
    color: #ffffff;
    background: #B9256A;
    cursor: pointer;
}
.tag-select.no-result .add-option i {
    margin-right: 5px;
}
.filter-form .select2-results__options {
    max-height: 200px;
    overflow: auto;
}
.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice,
.product-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    width: auto !important;
    margin: 3px 3px 0 0;
    background: #DFE3E8 !important;
    border-radius: 3px !important;
    border: none;
    line-height: 20px;
    padding: 4px 8px !important;;
}
.collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove,
.product-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    float: right !important;
    margin: 0px 10px;
    line-height: 1.1rem;
}
/*only css collection form*/
.menu-select .select2-container {
    width: 100% !important;
}
#tag-section .text-pink.show {
    display: inline-block !important;
}
#tag-section .text-pink.hide {
    display: none !important;
}
body >.select2-container >.select2-dropdown >.select2-results .select2-results__options{
    max-height: 200px;
    overflow-y: auto;
}
.remove-all-tag {
    float: right;
    text-decoration: underline;
    font-size: 12px;
    line-height: 20px;
    color: #637381;
    cursor: pointer;
}
#list-product-warehouse img {
    max-width: inherit;
}
.icon.icon-print-order{
    -webkit-mask-image:  url('../../image/custom/icons/print-order.svg');
    mask-image: url('../../image/custom/icons/print-order.svg');
}
.icon.icon-delivery-truck {
    -webkit-mask-image:  url('../../image/custom/icons/delivery-truck_2.svg');
    mask-image: url('../../image/custom/icons/delivery-truck_2.svg');
}
.select-2-dropdown-province .select2-results__options, .select-2-dropdown-district .select2-results__options, .select-2-dropdown-ward .select2-results__options{
    max-height: 200px;
    overflow-y: auto;
}
.order-process > span.status-delete::after {
    content: '';
    bottom: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: url('../../image/custom/icons/destroy.svg') no-repeat center #B9256A;
    background-size: contain;
}
#header .dropdown-item:focus, #header .dropdown-item:hover, #header a.dropdown-item:focus, #header a.dropdown-item:hover {
    background-color: #ED592A !important;
}
.content-page-list-item{
    max-height: 40px;
    overflow: hidden;
}
.text-black-21,.text-black-21:hover {
    color: #212529;
}
#multiVersion .btn-delete {
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer!important;
    box-shadow: none;
    border: none;
    width: 14px;
    height: 14px;
    background: url('../../image/theme/delete.png') no-repeat;
}
/*.text-triadic{
    color: #B9256A!important;
}*/
.text-triadic{
    color:#ED592A !important;
}
.text-triadic:hover {
    font-weight: bold;
}
.fix-mobile{
    width: 1000px!important;
}
.table-responsive{
    margin-top: 10px;
}
.edit-order-form .product-preview-list td {
    padding-left: 5px;
    padding-right: 5px;
}
.collection-select.collection-empty .collection-label,
.product-select.product-empty .product-label {
    display: none;
}
.collection-select.collection-empty .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered,
.product-select.product-empty .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
    padding-top: 65px;
}
/* delivery css */
.admin-delivery-method-list {
    margin-top: 30px;
}
.admin-delivery-method-list .entry-thumb {
    float: left;
    max-width: 80px;
    margin-right: 20px;
}
.admin-delivery-method-list .guide i {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
}
.admin-delivery-method-list .entry-content {
    margin-bottom: 16px;
}
.admin-delivery-method-list .action button {
    display: block;
    width: 100%;
}
.admin-delivery-method-list .box-content {
    margin-bottom: 20px;
}
.admin-delivery-method-list .entry-content {
    overflow: hidden;
}
.admin-delivery-method-list .connect-delivery-name {
    margin-top: 0px !important;
}
.admin-delivery-method-list .connect-delivery-name i {
    color: #007ACE;
    display: inline-block;
    margin-right: 5px;
}
.admin-delivery-method-list .entry-content p.my-3{
    margin-bottom: 10px !important;
}
#modal-location-delivery-api .modal-footer, #modal-remove-delivery-api .modal-footer {
    text-align: right;
}
#modal-location-delivery-api select {
    display: block;
    height: 36px;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
    border-radius: 3px;
    width: 100%;
    padding: 3px 15px;
}
.select-shipping-unit {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    position: absolute;
    z-index: 99;
    top: 75px;
    width: 100%;
    background-color: #ffffff;
    display: none;
}
.select-shipping-unit.show {
    display: block;
}
.select-shipping-unit .entry-title{
    padding: 15px 10px;
    box-shadow: inset 0px -1px 0px #E0E5E7;
}
.select-shipping-unit .entry-title h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 0px;
}
.select-shipping-unit .entry-content-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.select-shipping-unit .entry-content {
    padding: 15px 0px;
}
.select-shipping-unit .entry-content ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 30px;
    position: relative;
}
.select-shipping-unit .entry-content ul:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    box-shadow: inset 0px -1px 0px #E0E5E7;
    left: 0px;
    bottom: -20px;
}
.select-shipping-unit .entry-content ul:last-child {
    margin-bottom: 0px;
}
.select-shipping-unit .entry-content ul:last-child:after {
    height: 0px;
    width: 0px;
}
.select-shipping-unit .entry-content ul li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}
.select-shipping-unit .entry-content ul li span {
    float: right;
}
.order-delivery-api-detail {
    margin-top: 15px;
}
.order-delivery-api-detail p span {
    font-weight: 500;
}
.order-delivery-api-detail p span.Cancel {
    color: red;
}
#modal-cancel-delivery-api .modal-footer {
    text-align: right;
}

.shopee-connect{
    margin-top: 200px;
}

.shopee-connect h1{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

.shopee-connect p.desc{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* or 136% */
    color: #212B36;
}

.shopee-connect p.req{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.shopee-connect img{
    width: 700px;
}

span#show-popup-channel {
    cursor: pointer;
}

#popupChannel-table td {
    border-bottom: none;
}

.posp {
    width: 36px;
    height: 36px;
    position: relative;
}

.bg-added {
    background: #48C086;
}

.bg-add {
    background: #ED592A;
}

.img-status {
    position: absolute;
    right: 25%;
    top: 25%;
}

.logo-channel {
    width: 36px;
    height: 36px;
    object-fit: scale-down;
}

.cursor-pointer{
    cursor: pointer;
}

.warning {
    padding: 20px 45px 20px 50px;
    background: url("/admin/view/image/custom/i-warning.png") no-repeat left 15px top 15px;
    background-color: #ffeeee;
    border: 2px solid #f1453a;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.success {
    padding: 20px 45px 20px 50px;
    background: url("/admin/view/image/custom/i-success.png") no-repeat left 15px top 15px;
    background-color: #EAFBFD;
    border: 2px solid #00A8B8;
    color: #00A8B8;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.text-pink span{
    color: #B9256A !important;
}

#sync-product .progress{
    height: 0.5rem!important;
}
/*update other font-icon 4.7->5.0*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

/*new -menu*/
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(111, 111, 111, 0.85);
    z-index: 98;
}

.navbar#sidebar-menu >.navbar-collapse.not-hidden {
    left: 0;
    display: block;
}

.navbar#sidebar-menu >.navbar-collapse.not-hidden ul {
    border-top: 1px solid #E7E7E7;
}

.logo-menu-mb {
    display: none;
}

/*new - report*/
.overview-report {
    padding-top: 100px;
}

.visible-not-mobile {
    display: inherit;
}
.visible-is-mobile {
    display: none;
}

.input-group-text{
    padding: .375rem .15rem;
}

/* TODO: check use or not?... */
.collection-select .collection-label {
    width: 100%;
    left: 0px;
}
/* end TODO */

/*hidden reponsive*/
.computer {
    display: block;
}

.mobiles {
    display: none;
}

.table-mobiles {
    display: none;
}

a.link-here {
    text-decoration: underline;
}

a.link-here:hover {
    text-decoration: none;
}

/*hidden - mobile*/
.hidden-item-menu-on-mobile {
    display: list-item;
}

/*dashboard - order*/
.table.table-responsive.table-with-operation tr:last-child td {
    border-bottom: transparent;
}

#list-product-add-quantity-modal{
    max-height: 535px;
    overflow-y: auto;
}

#list-product-add-quantity-modal small{
    color: #7c8c9c;
}
::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
}

.box-content .table th[scope="check-all"],
.box-content #check-all {
    text-align: left;
}
.nicescroll-rails {
    opacity: 1 !important;
}
.nicescroll-cursors {
    opacity: 1 !important;
    background-color: rgba(0,0,0,.2) !important;
    width: 7px !important;
    border-radius: 4px !important;
}
.ios-select2 {
    -webkit-overflow-scrolling: touch;
}

/*dashboard - new*/
.total-order-absolute{
    width: 210px;
    height: 96px;
    top: -100px;
    right: 75px;
    text-align: left;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
}

.total-order {
    position: relative;
}
.total-order-absolute p {
    padding: 10px;
    color: #637381;
}
.total-order-absolute {
    display: none;
}

.tip {
    color: #637381;
}
.tip:hover {
    cursor: default;
}
.tip:hover > .total-order-absolute {
    display: block;
    z-index: 100;
}

.total-order-custom  {
    display: none;
}
.total-order-custom  {
    height: auto;
    width: auto;
    top: 124px;
    right: 75px;
    text-align: left;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    padding: 5px 10px;
}
.total_revenue:hover > .total-order-custom  {
    display: block;
    z-index: 100;
}

.total-order-absolute-revenue.total-order-absolute-revenue {
    top: -51px;
}

.total_orders.one {
    border-bottom: solid 0.5px #F6F6F6;
    border-right: solid 0.5px #F6F6F6;
}
.total_orders.two {
  border-bottom: solid 0.5px #F6F6F6;
  border-left: solid 0.5px #F6F6F6;
}
.total_orders.three {
  border-top: solid 0.5px #F6F6F6;
  border-right: solid 0.5px #F6F6F6;
}
.total_orders.four {
  border-top: solid 0.5px #F6F6F6;
  border-left: solid 0.5px #F6F6F6;
}

.index-overview .item-one,.item-three{
  padding-right: 0;
}
.index-overview .item-two,.item-four{
  padding-left: 0;
}
.index-overview .item-four {
    margin-bottom: 23px;
}

.total_orders:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.total_orders.two .total-order-absolute {
  top: -105px;
}

.total_orders.one .total-order-absolute {
  top: -85px;
}
.total_orders.three .total-order-absolute {
  top: -66px;
  height: 75px;
}
.total_orders.four .total-order-absolute {
  top: -50px;
  height: 61px;
}

.item-report {
  border-bottom: solid 1px #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-report .detail-report {
  line-height: 36px;
}

.item-report .image-item-report {
    vertical-align: middle;
    margin: auto;
}

.table-top-product-sale tbody .image-product{
  width: 56px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #DFE3E8;
}

.table-top-product-sale tbody .image-product img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.table-top-product-sale tbody .info-product-sale {
  padding-left: 24px;
}

h2.revenue {
  font-size: 36px;
  font-weight: bold;
  color: #212B36;
}

.overview-index {
  border-radius: 4px;
  background: #fff;
  /*min-height: 282px;*/
}
.current-status {
  background: #fff;
  border-radius: 4px;
  /*min-height: 282px;*/
}

.table-top-product-sale.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FCFBFC;
}
.top-product-sale {
  background: #fff;
}

.index-overview {
  padding-left: 0;
  padding-right: 1px;
}
.status-current {
  padding-right: 0;
}

/*color daterangepicker*/
.daterangepicker .ranges li.active {
    background-color: #ED592A !important;
}
.daterangepicker td.in-range {
    background-color: rgba(241, 122, 85, 0.2) !important;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color:  #ED592A !important;
}
.daterangepicker .drp-buttons .btn.applyBtn {
    background-color:  #ED592A !important;
    border-color:  #ED592A !important;
}
/*end color daterangepicker*/

.text-detail{
    color: #637381;
    font-size: 14px;
}

/*Onboarding*/
.three-step {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    min-width: 677px;
}

.count-step {
    border-radius: 4px;
    background: #ffffff;
    border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    min-width: 677px;
}

.left-chose {
    background: #F1F4F6;
}

.nav-pills .nav-link-step.active, .nav-pills .show>.nav-link-step {
    background-color: #FFFFFF;
    color: #212B36;
}

.nav-pills .nav-link-step {
    color: #637381;
    padding: 12px;
}

.nav-pills .nav-link-step i{
    color: #27AE60;
}

.progress-onboarding {
    height: 10px;
}

.progressbar-onboarding {
    background-color: #72C472;
}
.progressbar-actual-use {
    background-color: #f5ac93;
}

/*.btn-onboarding {
    background: linear-gradient(180deg, #ED348B 0%, #B9256A 100%);
    border: 1px solid #770239;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    font-weight: 500;
}*/

/* btn-onboarding - new */
.btn-onboarding {
    background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
    border: 1px solid #ED592A;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    font-weight: 500;
}
.btn-onboarding:hover {
    border: 1px solid #ED592A;
}

.btn-onboarding-gift {
    background: linear-gradient(180deg, #ffffff 0%, #e8e9ea 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    font-weight: 500;
    color: #495057;
}
.btn-onboarding-gift:hover {
    border: 1px solid #C4C4C4;
    color: unset;
}

/* color new */
.item.sample-data a.btn-show-options,
header#header .nav-header .item.view-store a.btn-bestme-new {
    background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
    border: 1px solid #ED592A;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
}

.navbar#sidebar-menu ul.navbar-nav>li.nav-item:hover>a, .navbar#sidebar-menu ul.navbar-nav>li.nav-item.active>a {
    color: #ED592A !important;
}
.navbar#sidebar-menu ul.navbar-nav ul li.nav-item a:hover, .navbar#sidebar-menu ul.navbar-nav ul li.nav-item.active.open a {
    color: #ED592A !important;
}
.main-content .sub-head .advance-link,a.advance-link.btn {
    background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
    border: 1px solid #ED592A;
}
.main-content .box-wrap .box-head .nav-tabs a.active, .main-content .box-wrap .box-head .nav-tabs a:hover {
    border-bottom: 3px solid #ED592A;
}

.btn-pink {
    background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%) !important;
    border: 1px solid #ED592A !important;
}
.button-submit.button-submit-new:hover {
    background: #ED592A !important;;
}

.select2-tag .select2-container--bootstrap4 .select2-results__option--highlighted, .select2-tag .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option, .select2-tag .select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true], .single .select2-results__option--highlighted, .single .select2-results__option--highlighted.select2-results__option, .single .select2-dropdown .select2-results__option[aria-selected=true] {
    background: #ED592A;
}
.dropdown-item:focus, .dropdown-item:hover, a.dropdown-item:focus, a.dropdown-item:hover {
    background: #ED592A !important;
    /*color: #fff !important;*/
}
.sample-data a.dropdown-item:hover {
    background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%) !important;
}
.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background: #ED592A;
}
.custom-switch .custom-control-input:disabled:checked~.custom-control-label::before {
    background: #ed592ab3;
}
.custom-checkbox:hover .custom-control-label::before, .custom-control-input:checked~.custom-control-label::before, label.checkbox input[type="checkbox"]:checked ~ span, label.checkbox>span:hover {
    border: 2px solid #ED592A;
    color: #ED592A;
}
.form-step .form-action .right-button button.btn, .form-footer .right-button button.btn {
    background: #ED592A;
}
.custom-checkbox input[type="checkbox"]:checked ~ .custom-control-label::after {
    color: #ED592A;
}
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected]::before {
    border: 2px solid #ED592A;
}
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true]::after {
    color: #ED592A;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    border: 1px solid #ED592A !important;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background: #ED592A !important;
}
td.quantity-col .new-val:before {
    color:  #ED592A;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #ED592A;
    border-color: #ED592A;
}
/* end color new */

.onboarding-success-footer {
    justify-content: center !important;
}

.custom-menu {
    width: 100% !important;
}

.voucher_show {
    margin-left: 10px;
    line-height: 33px;
    font-size: 14px;
    font-weight: 400;
}
#reportrange {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    float: right;
    padding-right: 40px;
    position: relative;
}
#reportrange .down-icon {
    position: absolute;
    top: 8px;
    right: 15px;
}
.filter-store .down-icon {
    position: absolute;
    top: 12px;
    right: 15px;
}
.filter-user .down-icon {
    position: absolute;
    top: 12px;
    right: 28px;
}
.on-boarding .computer .nav-link-step.active {
    font-weight: 600;
}
.hide-on-desktop {
    display: none;
}
#myModalOnboarding .modal-title span.text {
    position: relative;
    top: 10px;
}
#myModalOnboarding .modal-header .close {
    position: relative;
    top: 10px;
}
.on-boarding .mobiles #nav-tab {
    display: table;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
.on-boarding .mobiles .nav-tabs .nav-link.nav-link-tab-mb {
    display: table-cell;
    text-align: center;
}
.on-boarding .mobiles .nav-tabs .nav-link.nav-link-tab-mb:first-child {
    text-align: left;
}
.on-boarding .mobiles .nav-tabs .nav-link.nav-link-tab-mb:last-child {
    text-align: right;
}
.setting-delivery-page .help-tip p {
    margin-bottom: 0px;
    top: 26px;
    left: -10px;
}
.setting-delivery-page .help-tip p:before {
    left: 10px;
    right: inherit;
}

#reportrange-report {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding-right: 40px;
    position: relative;
}

#reportrange-report .fa-caret-down {
    position: absolute;
    top: 8px;
    right: 15px;
}

.best_selling_moblie{
    display: none;
}
.tag-select .select2-results__option span.add-option, .category-select .select2-results__option span.add-option {
    margin-left: -30px;
}
.select2-results__option span.add-option {
    color: #ED592A;
    display: block;
}
.select2-results__option span.add-option i {
    margin-right: 5px;
}
.setting-classify-page .search-group {
    display: inline-block;
    width: 100%;
    margin-right: 20px;
    position: relative;
}
.setting-classify-page .search-group input{
    padding-left: 40px;
}
.setting-classify-page .search-group .icon-search {
    position: absolute;
    top: 11px;
    left: 14px;
}
.setting-classify-page .action span {
    margin-left: 10px;
}
.setting-classify-page .action span.count {
    min-height: 22px;
    min-width: 27px;
    text-align: center;
    border: 1px solid #212B36;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    letter-spacing: -1px;
    font-size: 13px;
    line-height: 19px;
    padding: 3px;
}
.setting-classify-page .action span.count:hover {
    cursor: pointer;
}
.setting-classify-page .action span.count span{
    background-color: #0b0b0b;
    color: white;
    position: absolute;
    width: 160px;
    left: -175px;
    padding: 10px 15px;
    top: -15px;
    display: none;
    border-radius: 5px;
    text-align: left;
    margin-left: 0px;
}
.setting-classify-page .action span.count:hover span {
    display: inline-block;
}
.setting-classify-page .action span.count span::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #0b0b0b;
    border-bottom: 7px solid transparent;
    position: absolute;
    top: 15px;
    right: -9px;
}
.setting-classify-page .box-content td:first-child {
    padding-left: 0px;
}
.setting-classify-page .box-content td:last-child {
    padding-right: 0px;
}
.setting-classify-page .box-content tr:last-child td {
    border-bottom: 1px solid #dee2e6;
}
.setting-classify-page button.create-new {
    white-space: nowrap;
}
.custom-menu .table th {
    font-weight: 500;
    padding-left: 0px;
}
.custom-menu .table th:last-child {
    padding-left: 20px;
    padding-right: 0px;
}
.custom-menu .table th p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
}
.custom-menu .table tr td {
    font-size: 14px;
}
.custom-menu .table tr td a {
    margin-left: 15px;
}
.manufacturer-select .select2-selection__clear {
    display: inline-block !important;
    margin-right: 0px;
    margin-top: 10px;
}
.manufacturer-select .select2-search--dropdown .select2-search__field {
    top: -32px;
}
@media screen and (max-width: 1366px) {
    .showModalManufacturer .dropdown-menu {
        right: 0px;
        left: initial;
    }
}
@media screen and (max-width: 991px) {
    #reportrange-report {
        width: 100%;
    }
    .best_selling_moblie{
        display: block;
    }
    
    #show_best_selling_moblie td, .best_selling_moblie th{
        font-size: 14px;
    }
    #show_best_selling_moblie td:first-child{
        width: 73%;
    }

    .filter-user, .filter-store {
        padding: 0px;
        margin-bottom: 15px;
    }
}
.detailed_instructions_here {
    color: #ED592A;
    font-size: 13px;
    text-decoration: underline;
    font-style: italic;
}
@media screen and (max-width: 576px) {
    .filter-user .down-icon {
        right: 15px;
    }
    .detailed_instructions_here {
        display: block;
    }
}

.filter-store {
    padding-right: 0px!important;
}
.filter-user .select2-selection--single, .filter-store .select2-selection--single{
    background-color: #ffffff!important;
}

.text-yellow {
    color: #ED592A !important;
}

.text-has-underline {
    text-decoration-line: underline;
}

.main-content .sub-head h1.page-title a{
    font-size: medium;
}

.opacity-40{
    opacity: 0.4;
}
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0, 0, 0,.1);
}
a.advance-link.btn {
    color:#fff;
}
.title_total_order{
    background: #d3e0ea;
    padding: 4px;
}
.main-content .box-wrap .box-head .nav-tabs a.active{
    color: #ED592A;
    font-weight: bold;
}
.complete-list {
    position: absolute;
    top: 50px;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 9;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
}
input#filter_name:focus{
    border-color: #ED592A!important;
}
.main-content .box-wrap .box-head .nav-tabs .discount-item a:hover{
    align-items: center;
    border-bottom: none;
}
.main-content .box-wrap .box-head .nav-tabs .discount-item{
    padding: 8px 20px 10px 8px;
    margin-left: 5px;
    margin-right: 5px;
}
p.discount-item:hover{
    color: #ED592A!important;
    cursor: pointer;
}

/* list icon for discount */
.icon.icon-label-inactive{
    -webkit-mask-image:  url('../../image/custom/icons/label_inactive.png');
    mask-image: url('../../image/custom/icons/label_inactive.png');
}

.icon.icon-label-active{
    -webkit-mask-image:  url('../../image/custom/icons/discount.gif');
    mask-image: url('../../image/custom/icons/discount.gif');
    font-size: 30px!important;
}

.icon.icon-gift-inactive{
    -webkit-mask-image:  url('../../image/custom/icons/gift.png');
    mask-image: url('../../image/custom/icons/gift.png');
}

.icon.icon-gift-active{
    -webkit-mask-image:  url('../../image/custom/icons/gift.gif');
    mask-image: url('../../image/custom/icons/gift.gif');
    font-size: 30px!important;
}

#treeviewProduct{
    position: absolute;
    width: 455px;
    background: #fff;
    z-index: 9;
    border: 1px solid #ccc;
}
.gj-checkbox-md input[type=checkbox]:checked+span:after {
    top: 1px !important;
}
.image_treeview{
    width: 40px;
    margin-right: 5px;
    float: left;
}
.version_tree{
    margin-top: 4px;
    display: block !important;
}

ul.gj-list-md li [data-role=display]:hover{
    color: rgb(230, 93, 48);
}

ul.gj-list-md li [data-role=display]{
    display: flex !important;
}

.gj-checkbox-md input[type=checkbox]:checked+span:after {
    background-color: #fff !important;
    color: #ED592A!important;
}
.gj-checkbox-md input[type=checkbox]:checked+span {
    border: 2px solid #e65c2f !important;
}
.close_tree {
    display: none;
    position: absolute;
    z-index: 99;
    right: 25px;
}

#treeviewCategory{
    position: absolute;
    width: 455px;
    background: #fff;
    z-index: 9;
    border: 1px solid #ccc;
}

.close_tree_category {
    display: none;
    position: absolute;
    z-index: 99;
    right: 25px;
}
.custom-th {
    padding-left: 0!important;
    width: 33%;
}

.collapse-detail {
    background: #FFF2EE;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
}

p.heading-detail {
    font-weight: 500;
}

/* Icon when the collapsible content is shown */
.detail-text:after {
    content: url('../../image/custom/icons/arrow-down.svg');
    margin-right: 20px;
    float: right;
}
/* Icon when the collapsible content is hidden */
.detail-text.collapsed:after {
    content: url('../../image/custom/icons/arrow-top.svg');
}

.message_total_order [data-repeater-list="location-rule-weight"]>div>div>input.form-control {
     width: 100%;
}

/* order discount */
.discount-label img {
    margin-left: 3px;
}

.show-gift img {
    margin-left: 3px;
}

.btn-border-yellow{
    border: 1px solid #e65c2f;
    color: #e65c2f;
}

.btn-border-yellow:hover{
    border: 1px solid #e65c2f;
    color: #e65c2f;
}

.main-content .box-wrap .box-head .nav-tabs a {
    padding: 10px 15px 8px 10px!important;
}
.text-errors {
    color: #dc3545;
}

#treeviewProduct ul.gj-list-md li [data-role=display] {
    display: block !important;
    color: #212B36;
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    margin-left: 5px;
}

#treeviewCategory ul.gj-list-md li [data-role=display] {
    display: block !important;
    color: #212B36;
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    margin-left: 5px;
}

.gj-checkbox-md span{
    border: 2px solid #ED592A!important;
}

/*manufacturer v2.2.2*/
.form-step .form-group label.col-form-label-sm {
    line-height: 2;
    font-weight: normal;
}
.right-filter {
    height: 47px;
    background: #FFF2EE;
    border-radius: 10px;
    line-height: 47px;
}

#selectedStoreOnlyVer .custom-radio .custom-control-label::before {
    border-radius: .25rem;
}

#selectedStoreOnlyVer .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background: url("../../image/theme/checked_store.png") no-repeat !important;
    width: 17px;
    height: 17px;
    border-radius: unset;
    left: -22px;
}

.table-product.table-responsive .custom-radio .custom-control-label::before {
    border-radius: .25rem;
}

#selectedStoreProdMulti .btn-add-store{
}

.table-product.table-responsive .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background: url("../../image/theme/checked_store.png") no-repeat !important;
    width: 17px;
    height: 17px;
    border-radius: unset;
    left: -22px;
}
#list-child-category {
    max-height: 270px;
    overflow: scroll;
}

#list-child-category-edit {
    max-height: 270px;
    overflow: scroll;
}

.menu-table tr.menu-item-unsortable {
    border-bottom: 1px solid #dee2e6;
}

.menu-table tr.menu-item-sortable {
    border-bottom: 1px solid #dee2e6;
}

.menu-table tr:last-child {
    border-bottom: none !important;
}

.menu-table thead th, .menu-table td{
    border-bottom: none !important;
}

.btn-white {
    border: 1px solid #CED4DA
}
.bg-disable {
    background: #dfdfdf;
    cursor: not-allowed;
    pointer-events: none;
}

/* dashboard - sample data */
.sample-data-text {
    display: block;
    color: red;
    font-weight: 500;
    line-height: normal;
}
.page-title .sample-data-text {
    font-size: .7em;
}
.on-boarding .sample-data-text {
    font-size: .9rem;
    margin-top: 12px;
}

@media screen and (min-width: 993px) {
    .page-title .sample-data-text {
        position: absolute;
    }
}
@media screen and (max-width: 992px) {
    .page-title .sample-data-text {
        margin-bottom: 5px;
    }
}