.overview-data-block {
    background-color: #fff;
    border: none;
    border-radius: 0;
    padding: 1em 0;
    text-align: center;
    position: relative;
}
.overview-data-block .data-block-text {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: .5em;
}
.overview-data-block .data-block-number {
    font-weight: 600;
    color: #ED592A;
    font-size: 18px;
}
.overview-data-block > span {
    color: #212B36;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    left: 0;
    top: 40%;
}