.hide {
  opacity: 0.5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.hide:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.hidden {
  visibility: hidden;
}

.mb-10 {
  margin-bottom: 10px;
}

.ptb {
  padding: 8px 0;
}

.padding-0 {
  padding: 0 !important;
}

.padding-0::before {
  display: none;
}

.hover-effect {
  position: relative;
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  background: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.hover-effect:hover::before {
  background-color: #B9256A;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-bg {
  background: transparent !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.full-height {
  height: 100%;
}

.none {
  display: none;
}

.bold {
  font-weight: 600 !important;
  color: #212B36;
}

.overflow-inherit {
  overflow: initial !important;
}

.row-s {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -7px;
  margin-left: -7px;
}

.row-s .col-s-3 {
  position: relative;
  width: 25%;
  padding-right: 7px;
  padding-left: 7px;
}

.view-mobile .content-preview .full-height {
  width: 320px;
  height: 568px;
}

.view-mobile .content-preview .full-height .control-url .form-group .btn-url {
  display: none !important;
}

.view-mobile .content-preview .full-height .live-preview {
  padding: 0 !important;
}

.view-desktop .sidebar {
  display: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.view-desktop .content-preview .full-height {
  width: 320px;
  height: 568px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.view-desktop .content-preview .full-height .control-url .form-group .btn-url {
  display: none !important;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.view-desktop .content-preview .full-height .live-preview {
  padding: 0 !important;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.fullscreen .sidebar {
  display: none;
}

.fullscreen .content-preview {
  width: 100% !important;
}

.content-popup .popup-upload .popup-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #DFE3E8;
}

.content-popup .popup-upload .popup-head h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #212B36;
}

.content-popup .popup-upload .popup-content {
  padding: 10px;
}

.content-popup .popup-upload .popup-content .search-form .form-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.content-popup .popup-upload .popup-content .search-form .form-group .btn-delete {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F9FAFB));
  background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
  border: 1px solid #C4CDD5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*padding: 0 11px;*/
  margin-right: 15px;
  outline: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.content-popup .popup-upload .popup-content .search-form .form-group .btn-delete:hover {
  border-color: #B9256A;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.content-popup .popup-upload .popup-content .search-form .form-group .form-control {
  background: #FFFFFF;
  outline: none;
  /* Sky, Dark */
  border: 1px solid #C4CDD5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  font-size: 13px;
  line-height: 20px;
  color: #637381;
}

.content-popup .popup-upload .popup-content .search-form .form-group .form-control::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #637381;
}

.content-popup .popup-upload .popup-content .search-form .form-group .form-control:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #637381;
}

.content-popup .popup-upload .popup-content .search-form .form-group .form-control::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #637381;
}

.content-popup .popup-upload .popup-content .search-form .form-group .form-control::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #637381;
}

.content-popup .popup-upload .popup-content .list-upload {

}

.content-popup .popup-upload .popup-content .list-upload::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #E5E5E5;
}

.content-popup .popup-upload .popup-content .list-upload::-webkit-scrollbar {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  width: 6px;
  background-color: E5E5E5;
}

.content-popup .popup-upload .popup-content .list-upload::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #AFAFAF;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item {
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 14px;
  overflow: hidden;
  position: relative;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .focus-check {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 17px;
  border: 1px solid #C4CDD5;
  background: white;
  border: 1px solid #ED592A;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .thumb {
  border-radius: 4px;
  border: 1px solid rgba(102, 113, 123, 0.09);
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .thumb img {
  /*width: 100%;*/
  height: 100%;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .box {
  cursor: pointer;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .box input {
  display: none;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .box label {
  cursor: pointer;
  width: 100%;
}

.content-popup .popup-upload .popup-content .list-upload .upload-item .box label img {
  /*width: 100%;*/
  /*height: 100%;*/
}

.content-popup .popup-upload .popup-content .list-upload .upload-default {
  width: 100%;
}

.content-popup .popup-upload .popup-content .list-upload .active .thumb {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.content-popup .popup-upload .popup-content .list-upload .active .focus-check {
  background: url("../../image/theme/check.png") white no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-popup .popup-upload .popup-content .list-upload .folder-item {
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f2835f;
  cursor: pointer;
}
.content-popup .popup-upload .popup-content .list-upload .folder-item:hover{
  background: #f5e2e2;
}
.content-popup .popup-upload .popup-content .list-upload .folder-item img{
  width: 30px;
  height: auto;
}
.content-popup .popup-upload .popup-content .list-upload .folder-item span{
  margin-left: 10px;
}

/* v2.10.1: image folder */
.content-popup .popup-upload .popup-content .list-upload .folder-item {
  padding: 15px 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f2835f;
  cursor: pointer;
}
.content-popup .popup-upload .popup-content .list-upload .folder-item:hover{
  background: #f5e2e2;
}
.content-popup .popup-upload .popup-content .list-upload .folder-item img{
  width: 30px;
  height: auto;
}
.content-popup .popup-upload .popup-content .list-upload .folder-item span{
  margin-left: 10px;
}
.content-popup .popup-upload .popup-content .list-upload .folder-name i{
  font-size: 16px;
  margin-right: 10px;
}
.content-popup .popup-upload .popup-content .list-upload .folder-name{
  cursor: pointer;
  color: #f2835f;
}
.folder-item-name, .image-item-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.folder-move-select, .get-list-foder {
  padding: 10px;
  cursor:pointer;
}
.folder-move-select:hover{
  background: #efefef;
}
.folder-move-select .selected-folder{
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}
.folder-choosed {
  background: #CCC;
}
/*the container must be positioned relative:*/
.custom-selectag {
  position: relative;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #212B36;
}

.custom-selectag select {
  display: none;
  /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "\f0d7";
  top: 9px;
  right: 20px;
  width: 0;
  height: 0;
  font-family: FontAwesome;
  color: black;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  content: "\f0d8";
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #434343;
  padding: 8px 16px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F4F6F8), to(#F4F6F8)), -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F9FAFB));
  background: linear-gradient(0deg, #F4F6F8, #F4F6F8), linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-selected {
  background: -webkit-gradient(linear, left bottom, left top, from(#F4F6F8), to(#F4F6F8)), -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F9FAFB));
  background: linear-gradient(0deg, #F4F6F8, #F4F6F8), linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #212B36;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.30432);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.30432);
  border-radius: 7px;
  padding: 5px 0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
  border-radius: 0;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background: #C4CDD5;
  color: white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/*ON OFF*/
.onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch label {
  margin: 0;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 50px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 21px;
  padding: 0;
  line-height: 21px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 5px;
  background-color: #B9256A;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 5px;
  background-color: #D8DDE6;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 17px;
  height: 17px;
  margin: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 29px;
  border: 0px solid transparent;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* popup */
.modal-backdrop {
  z-index: 1025 !important;
}

.modal-active {
  overflow: hidden;
}

.close-btn {
  width: 40px;
  cursor: pointer;
}

#modal-container {
  position: fixed;
  display: table;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 1025;
}

#modal-container .modal-control {
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  z-index: 999999;
}

#modal-container .modal-background {
  display: table-cell;
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
}

#modal-container .modal-background .modal {
  height: auto;
  padding: 10px 12px;
  background-color: white;
  display: inline-block;
  font-weight: 300;
  position: relative;
  max-width: 750px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#modal-container.one {
  -webkit-transform: scaleY(0.01) scaleX(0);
  transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: zoomIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#modal-container.six .modal-background {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six .modal-background .modal {
  background-color: transparent;
  -webkit-animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six .modal-background .modal h2,
#modal-container.six .modal-background .modal p {
  opacity: 0;
  position: relative;
  -webkit-animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six .modal-background .modal .modal-svg rect {
  -webkit-animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out {
  -webkit-animation: quickScaleDown 0s .5s linear forwards;
  animation: quickScaleDown 0s .5s linear forwards;
}

#modal-container.six.out .modal-background {
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out .modal-background .modal {
  -webkit-animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out .modal-background .modal h2,
#modal-container.six.out .modal-background .modal p {
  -webkit-animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out .modal-background .modal .modal-svg rect {
  -webkit-animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8) translateY(1000px);
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.8) translateY(1000px);
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(1000px);
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(1000px);
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes scaleBack {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
}

@keyframes scaleBack {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
}

@-webkit-keyframes scaleForward {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleForward {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes quickScaleDown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99.9% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes quickScaleDown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  99.9% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes slideUpLarge {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slideUpLarge {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideDownLarge {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideDownLarge {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }
}

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
  }
}

@-webkit-keyframes blowUpContent {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes blowUpContent {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes blowUpContentTwo {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowUpContentTwo {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes blowUpModal {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes blowUpModalTwo {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes roadRunnerIn {
  0% {
    -webkit-transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerIn {
  0% {
    -webkit-transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@-webkit-keyframes roadRunnerOut {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    -webkit-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@keyframes roadRunnerOut {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    -webkit-transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

@-webkit-keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@-webkit-keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

@-webkit-keyframes bondJamesBond {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}

@keyframes bondJamesBond {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}

@-webkit-keyframes killShot {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(300px) rotate(45deg);
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes killShot {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(300px) rotate(45deg);
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}

@-webkit-keyframes fadeToRed {
  0% {
    -webkit-box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
  }
  100% {
    -webkit-box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
  }
}

@keyframes fadeToRed {
  0% {
    -webkit-box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
  }
  100% {
    -webkit-box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
  }
}

@-webkit-keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes myfirst1 {
  0% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes myfirst1 {
  0% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Standard syntax */
@-webkit-keyframes myfirst {
  0% {
    -webkit-transform: scale(1.03) skewX(-17deg);
    transform: scale(1.03) skewX(-17deg);
  }
  100% {
    -webkit-transform: scale(1) skewX(-17deg);
    transform: scale(1) skewX(-17deg);
  }
}
@keyframes myfirst {
  0% {
    -webkit-transform: scale(1.03) skewX(-17deg);
    transform: scale(1.03) skewX(-17deg);
  }
  100% {
    -webkit-transform: scale(1) skewX(-17deg);
    transform: scale(1) skewX(-17deg);
  }
}

/*# sourceMappingURL=style.css.map */