.main-content .sub-head .advance-link.mobile {
    background: inherit;
    color: #ED592A;
    padding: 0px;
    border: 0px;
    box-shadow: inherit;
}
.main-content .sub-head .advance-link.mobile i {
    display: inline-block;
    margin-right: 5px;
}
.mobile form.filter-form {
    margin-bottom: 0px;
}
.mobile #product-content.not-choose-product-list .table {
    margin-top: 0px;
}
.mobile#product-content .table thead th {
    padding: 2rem;
    padding-right: 0px;
}
.mobile .box-content .table th[scope="check-all"] .dropdown.has-selected {
    top: 20px;
    width: 100%;
    left: 0px;
}
#product-content.mobile p{
    margin-bottom: 0px;
    margin-top: 5px;
}
#product-content.mobile div.img {
    padding: 5px;
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 3px;
}

#product-content .table-mobile-bst img{
    padding: 5px;
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 3px;
}
/*css select 2*/
.mobile #add-tag-to-product .select2-results__option {
    padding-left: 40px;
}
.mobile #product-form .box-content {
    margin-left: -15px;
    margin-right: -15px;
}
.mobile #product-form .form-right {
    margin-top: 16px;
}
.mobile #multiVersion .btn-delete {
    top: 5px;
}
.mobile.warehouse-list .box-wrap{
    margin-left: -15px;
    margin-right: -15px;
}
.mobile.warehouse-list .no_border td{
    border-bottom: 0px;
    padding: 0.75rem;
}
.mobile.warehouse-list .table.table-with-operation.has-selected {
    margin-top: 0px;
}
.mobile.warehouse-list .table.table-with-operation thead th {
    padding: 2rem 0px;
}
.mobile .box-content .table th[scope="check-all"] label.checkbox {
    left: 0px;
}
.mobile .box-content .table td[scope="select-this"] {
    padding-left: 0px;
}
.mobile.product-list-wrap .box-wrap{
    margin-left: -15px;
    margin-right: -15px;
}
.mobile .main-content .box-wrap .box-head {
    padding: 0px 15px;
}

#add-tag-to-product .select2-container .select2-search--inline .select2-search__field {
    min-width: 220px;
}
.select-add-tag-custom-mobile .select-plus {
    height: 38px;
    width: 38px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 3.12%, rgba(97, 121, 133, 0.07) 100%), linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
    border-radius: 3px;
    z-index: 5;
    -webkit-mask: inherit;
    mask: inherit;
    right: 5px;
    top: 29px;
    line-height: 38px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.select-add-tag-custom-mobile .select2-search--inline .select2-search__field {
    padding-right: 40px !important;
}
.select-add-tag-custom-mobile-2 .select2-search-icon>.select2-container .select2-selection__rendered:before, .select-add-tag-custom-mobile-2  .select2-container.select2-container--bootstrap4 .select2-selection.select2-selection--multiple .select2-search--inline::before {
    background-color: #919EAB;
    left: 0px;
    right: inherit;
}
.select-add-tag-custom-mobile-2 .select2-search--inline .select2-search__field {
    padding-left: 40px !important;
}
.mobile.product-list-wrap table {
    display: table;
    position: relative;
}
.mobile #product-form .sub-head .fix-content {
    text-align: center;
}
.mobile #product-form .sub-head .fix-content h1 {
    display: inline-block;
}
.mobile #product-form .sub-head .fix-content a {
    border: 0px !important;
    background-color: inherit !important;
    box-shadow: none;
    padding-left: 0px;
    font-size: 16px;
}
.mobile #product-form .sub-head .fix-content button {
    border: 0px !important;
    background: inherit !important;
    box-shadow: none;
    color: #ED592A;
    padding-right: 0px;
    font-size: 16px;
}
.mobile #product-form #product-thumb {
    padding-right: 5px !important;
}
.mobile .product-status-wrap {

}
.mobile .product-attribute h5 {
    font-size: 14px;
    text-transform: uppercase;
}
.mobile .product-version-list-thead th {
    padding-left: 0.25rem;
}
.mobile #list-product-warehouse .input-group.quantity-warehouse-product .input-group-prepend {
    width: 60%;
}
.mobile .input-group.quantity-warehouse-product .radio-select {
    width: 100%;
}
.mobile #list-product-warehouse .input-group.quantity-warehouse-product .radio-select label {
    width: 100%;
}
.mobile .input-group.quantity-warehouse-product>input {
    width: 22%;
}
.mobile .input-group.quantity-warehouse-product #button-addon4.wrap-button {
    width: 18%;
}
.mobile .input-group.quantity-warehouse-product #button-addon4.wrap-button button {
    width: 100%;
}
.mobile .quantity-col .new-val:before {
    content: "▶";
    font-size: 10px;
    margin: 0 1rem;
    color: #ED592A;
}
.mobile.warehouse-list table {
    display: table;
}

.mobile .box-content .table th[scope="check-all"] .dropdown.had-text-no-select {
    top: 20px !important;
    width: 100%;
    left: 0px;
    position: absolute !important;
    text-align: left;
}
.mobile .box-content .table th[scope="check-all"] .dropdown.had-text-no-select.has-selected .text-no-select{
    display: none;
}
.mobile.warehouse-list .table.table-with-operation {
    position: relative;
}
.mobile #filter_button {
    background: linear-gradient(180deg, #ED348B 0%, #B9256A 100%);
    border: 1px solid #770239;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
}
.mobile #product-images .image-container {
    width: 33.3333%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
.mobile #product-thumb {
    width: 33.3333%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
.mobile .product-image-preview {
    margin-right: -5px;
    margin-left: -5px;
}
.mobile .product-img-exp.file-upload {
    width: 33.33333%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.mobile .product-img-exp.file-upload img{
    width: 100%;
}
.mobile #product-thumb .product-img-exp.file-upload {
    width: 100%;
}
.mobile .product-img.img-item span {
    display: none;
}
.mobile .product-img.img-item.active span{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    color: white;
    z-index: 3;
    display: block;
}
.mobile .product-image-preview .product-img.active a#delete-image {
    visibility: inherit;
}
.mobile .product-image-preview .product-img.active:before {
    content: "";
    transition: 0.2s all ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
}
.product-select .select2-search__field {
    position: relative;
    z-index: 2;
}
.product-select .select2-dropdown {
    z-index: 1;
}
.select2-search__field::-webkit-input-placeholder {
    opacity: 0.7;
}
.select2-search__field::-moz-placeholder {
    opacity: 0.7;
}
.select2-search__field::-moz-placeholder {
    opacity: 0.7;
}
.select2-search__field::-ms-input-placeholder {
    opacity: 0.7;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    opacity: 0.7;
}