.section-my-app, .content-app-suggest {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

.content-app-heading h4 {
    padding-bottom: 10px;
    border-bottom: solid 1px #CCC;
}

.content-app-heading {
    margin-bottom: 20px;
}

.content-app-heading h4 span {
    padding-bottom: 9px;
    border-bottom: solid 3px #ED592A;
}

.app-logo {
    width: 60px;
    margin-right: 20px;
}

.app-logo img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.app-content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.app-content .text-right a {
    color: #8e8e8e;
}

.app-content .text-right a:hover, .app-content .text-right a:active {
    color: #b15454;
}

.alert-expiration {
    color: red;
}

.btn-continue {
    background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
    border: 1px solid #ED592A;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    color: #fff !important;
}

.btn-close {
    background: #FFFFFF;
    /* Neutral / 8 */
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 3px;
    color: #000 !important;
}

.empty-app {
    background: #fff;
    padding: 15px;
}

.section-pagination {
    width: 100%;
    display: inline-block;
}

.section-pagination .pagination {
    float: right;
    margin-top: 20px;
}
ul.pagination li.page-item.active a.page-link, ul.pagination li.page-item a.page-link:hover{
    background-color: #e85b2e;
    color: #fff;
    border: 1px solid #e85b2e;
}
ul.pagination li.page-item a.page-link{
    border-radius: 0px !important;
    margin: 0 0px !important;
    padding: .5rem .75rem !important;
}
