@media(max-width:320px){
	header#header .nav-header .item {
		margin-left: 0 !important;
	}
	.language-select {
		margin-left: 5px !important;
	}
	.item.profile.clearfix:before {
		display: none !important;
	}
	.language-select:before {
		display: none !important;
	}

	header#header .nav-header .item .dropdown-menu::before {
		right: 87px !important;
	}
}

@media(max-width:360px){
	header#header .nav-header .item {
		margin-left: 0 !important;
	}
	.language-select {
		margin-left: 5px !important;
	}
	.item.profile.clearfix:before {
		display: none !important;
	}
	.language-select:before {
		display: none !important;
	}

	header#header .nav-header .item .dropdown-menu::before {
		right: 87px !important;
	}
}
/*sm*/
@media(max-width:576px){
	#sidebar-menu {
		background: transparent !important;
		top: 35px !important;
	}

	.btn-open-menu {
		padding: 0;
		border: none;
		position: fixed;
		left: 15px;
		/*top: 26px;*/
	}

	.logo-menu-mb {
		display: block;
	}

	#navbarLeftMain {
		overflow: auto;
	}

	#navbarLeftMain ul li.bottom {
		display: list-item;
	}

	/*new - report*/
	.overview-report {
		padding-top: 100px;
		font-size: 28px;
		font-weight: 600;
	}

	.visible-not-mobile {
		display: none;
	}
	.visible-is-mobile {
		display: inherit;
	}

	/*order - mb*/
	.sub-head-mobile {
		padding-top: 100px !important;
	}

	.select-all-new {
		float: left;
		line-height: 30px;
		font-size: 16px;
		font-weight: normal;
		padding-left: 10px;
	}

	/*hidden reponsive*/
	.computer {
		display: none;
	}
	.mobiles {
		display: block;
	}
	.table-mobiles {
		display: table;
	}

	/*footer count date*/
	.alert-footer {
		width: 100%;
	}
	/*header none*/
	header#header .logo {
		display: none !important;
	}

	/*hidden - mobile*/
	.hidden-item-menu-on-mobile {
		display: none;
	}
	#cancelOrderModal-table .wrap-image-product-mb {
		width: 60px;
	}
	#cancelOrderModal-table .info-product {
		text-align: left;
	}
	#cancelOrderModal-table .wrap-quantity-mobile {
		text-align: right;
	}
	#cancelOrderModal-table .wrap-quantity-mobile .quantity-mobile{
		display: inline-block;
	}
	#add-product-to-collection table{
		display: table;
	}
	#reportrange {
		float: none;
		width: 100%;
	}
	.blog-category-form .main-content {
		padding-top: 80px;
	}
	.blog-category-form #menu-section {
		margin-top: 16px;
	}
}

/*md*/
@media(max-width:768px){
	#sidebar-menu {
		background: transparent !important;
		top: 35px !important;
	}

	.btn-open-menu {
		padding: 0;
		border: none;
		position: fixed;
		left: 15px;
		/*top: 26px;*/
	}

	.logo-menu-mb {
		display: block;
	}

	#navbarLeftMain {
		overflow: auto;
	}

	#navbarLeftMain ul li.bottom {
		display: list-item;
		position: inherit;
	}

	/*new - report*/
	.overview-report {
		padding-top: 100px;
		font-size: 28px;
		font-weight: 600;
	}

	.visible-not-mobile {
		display: none;
	}
	.visible-is-mobile {
		display: inherit;
	}

	/*order - mb*/
	.sub-head-mobile {
		padding-top: 100px !important;
	}

	.sub-head-mobile .link-create-order {
		color: #ED592A;
		font-size: 16px;
	}

	.select-all-new {
		float: left;
		line-height: 30px;
		font-size: 16px;
		font-weight: normal;
		padding-left: 10px;
	}

	form.filter-form .search-group .input-group-prepend > button.btn {
		width: 90px;
	}

	form.filter-form .search-group .input-group-icon {
		width: calc(100% - 90px);
	}

	table.table-with-operation.product-list.has-selected {
		margin-top: 0;
	}
	.box-content .table th[scope="check-all"] .dropdown.has-selected {
		top: 2px;
		width: 100%;
	}

	.text-all {
		display: none;
	}

	.box-content .table th[scope="check-all"] .dropdown {
		border: none;
	}

	.table-mobile tbody tr:first-child {
		border-top: 1px #DFE3E8 solid;
	}

	.table-mobile tbody tr td:nth-child(2) {
		font-size: 15px;
	}

	.table-mobile tbody tr td:nth-child(3) {
		padding: 0;
	}
	.table-mobile tbody tr td:nth-child(3) .dropdown.order-status button {
		font-size: 14px;
	}

	.order-status .dropdown-menu>a {
		padding: 8px 15px !important;
		font-size: 14px;
	}

	table.table-with-operation.product-list.has-selected thead tr th.check-all {
		padding-bottom: 2rem !important;
	}

	.box-content .table th[scope="check-all"] .dropdown .dropdown-toggle {
		float: right;
		right: 0;
		top: -6px;
	}
	.box-content .table th[scope="check-all"] .dropdown >.text {
		top: 0;
	}

	.box-content .table th[scope="check-all"] .dropdown.has-selected .select-all-mobile {
		display: none;
	}

	.select-all-mobile {
		position: absolute;
		display: block;
		width: 100px;
		padding-left: 10px;
		font-size: 16px;
	}

	.info-product {
		padding-bottom: 0;
		padding-top: 0;
	}

	.info-product p {
		font-size: 14px;
		margin-bottom: 0;
	}

	.image-product-mb {
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
	.image-product-mb .img {
		max-width: 100%;
		padding: 2px;
	}

	.quantity-mobile {
		width: 40px;
		height: 40px;
		text-align: center;
		border: solid 1px #C4CDD5;
		border-radius: 4px;
		line-height: 39px;
	}

	.btn-filter-mobile {
		height: 48px !important;
		font-size: 16px !important;
	}

	.filter-form .select2-results__options li {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

	/*hidden reponsive*/
	.computer {
		display: none;
	}
	.mobiles {
		display: block;
	}
	.table-mobiles {
		display: table;
	}
	/*end hidden*/

	/*dashboard*/
	.select-date-dashboard {
		width: 100% !important;
		margin-top: 10px !important;
	}
	.select-date-dashboard input {
		width: 93% !important;
		text-align: center !important;
		border: 1px solid #C4CDD5;
		border-radius: 4px;
		height: 36px;
	}

	.table.table-responsive.table-with-operation.table-mobiles tr.custom-tr {
		border-top: solid 1px #DFE4E8;
	}
	.table.table-responsive.table-with-operation.table-mobiles tr.custom-tr:first-child {
		border-top: transparent;
	}

	.table tr:nth-last-child(2) td {
		border-bottom: transparent;
	}

	.col-sm-12.col-md-8.on-mobile {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	/*customer*/
	.dropdown.dropdown-mobile.has-selected {
		top: -30px !important;
	}

	.hidden-chose-all {
		display: none;
	}
	.select2-container .select2-selection--single {
		height: 38px !important;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 38px !important;
	}

	/*footer count date*/
	.alert-footer {
		width: 100%;
	}
	/*header none*/
	header#header .logo {
		display: none !important;
	}

	/*hidden - mobile*/
	.hidden-item-menu-on-mobile {
		display: none;
	}

	.custom-checkbox .label.checkbox input[type="checkbox"]:checked ~ span::before, .custom-checkbox input[type="checkbox"]:checked ~ .custom-control-label::after {
		left: -24px !important;
	}

	/*report by product*/
	.main-content .sub-head h1.page-title {
		font-size: 20px !important;
	}
	.hidden-sm {
		display: none !important;
	}
	.form-filter{
		float: left !important;
		width: 100%;
	}
	.all-store select{
		width: 100%;
		margin-bottom:10px;
	}
}

@media(max-width:576px){
	.box-content-input-search {
		width: 100%;
		padding: 15px;
	}

	.box-content-btn-search {
		width: 100%;
		padding: 15px;
	}
}

@media(min-width:400px){
	.box-content-form-search {
		width: 100%;
		justify-content: space-between;
	}
}

/*lg*/
@media(max-width:992px){
	header#header{
		padding: 10px 20px;
	}
	header#header .nav-header .item.link a{
		top: 0;
	}
	.main-content .box-wrap .box-content{
		padding: 15px;
	}

	.main-content .box-wrap .box-content-store {
		padding: 15px 0 !important;
	}

	form.filter-form .button-options{
		margin-top: 10px;
	}
	table {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.store-list-custom table {
		display: inline-table !important;
	}

	.navbar#sidebar-menu, .main-content{
		min-height: 0;
		padding: 0 15px 30px;
	}
	.main-content{
		padding-bottom: 85px;
	}
	.navbar#sidebar-menu{
		padding: 0;
	}
	.content-wrapper >.sidebar-left{
		position: absolute;
		z-index: 99;
		top: 8px;
		left: 15px;
		width: 60px;
	}
	.navbar#sidebar-menu button.navbar-toggler[aria-expanded="true"]{
		position: fixed;
		z-index: 10;
		top: 8px;
		background: #fff;
	}
	.navbar#sidebar-menu >.navbar-collapse{
		height: 100%;
		position: fixed;
		width: 60%;
		background: #fff;
		left: -250px;
		padding: 94px 15px 20px;
		z-index: 99;
		top: 0;
		display: none;
	}
	.navbar#sidebar-menu >.navbar-collapse > ul.navbar-nav{
		max-height: 100vh;
		overflow-y: auto;
	}
	.main-content nav[aria-label="breadcrumb"] ol.breadcrumb{
		margin-top: 15px;
	}
	.main-content .sub-head{
		padding: 10px 0;
	}
	.main-content .sub-head h1.page-title{
		font-size: 25px;
	}
	.form-fix-head .sub-head .fix-content.fixed-top{
		padding: 15px;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	/*nav*/
	.sidebar-left .navbar#sidebar-menu.shows {
		width: 60% !important;
		height: calc(100% - 56px) !important;
	}
	.content-wrapper >.sidebar-left {
		left: 0;
	}
	.sidebar-left .navbar#sidebar-menu {
		width: 19% !important;
		height: 30px !important;
		z-index: 99 !important;
		padding-bottom: 0 !important;
		top: 26px !important;
	}
	/*new - menu*/
	#sidebar-menu {
		background: transparent !important;
		top: 35px !important;
	}

	.btn-open-menu {
		padding: 0;
		border: none;
		position: fixed;
		left: 15px;
	}

	.logo-menu-mb {
		display: block;
		position: fixed;
		width: 45%;
		top: 57px;
	}

	.logo-menu-mb img {
		width: 51%;
	}

	.close-menu-admin {
		line-height: 48px;
		position: absolute;
		right: 15px;
		top: 43px;
	}

	#navbarLeftMain {
		overflow: auto;
	}

	#navbarLeftMain ul li.bottom {
		display: list-item;
		position: inherit !important;
		margin-bottom: inherit !important;
	}

	/*new - report*/
	.overview-report {
		padding-top: 100px;
		font-size: 28px;
		font-weight: 600;
	}

	.visible-not-mobile {
		display: none;
	}

	.visible-is-mobile {
		display: inherit;
	}

	/*order -mb*/
	.sub-head-mobile {
		padding-top: 100px !important;
	}

	.select-all-new {
		white-space: nowrap;
		word-break: unset;
		line-height: 30px;
		font-size: 16px;
		font-weight: normal;
		padding-left: 10px;
	}

	.card-body-mobile {
		padding: 0;
	}

	.card-body-mobile table {
		margin-top: 0 !important;
		margin-bottom: 0;
		display: table;
	}

	.card-body-mobile table tr td {
		padding: 6px !important;
		border-bottom: none;
		font-size: 15px !important;
	}
	.card-body-mobile table tr td.td-left {
		color: #637381;
		padding-left: 20px !important;
	}

	/*order form mobile*/
	.fix-content-mobile {
		padding-top: 145px !important;
	}
	.fix-content-mobile-create {
		padding-top: 100px !important;
	}

	.form-fix-head .sub-head .fix-content.fixed-top {
		margin-top: 68px;
	}

	.btn-save-order-mobile {
		background: transparent !important;
		border: none !important;
		color: #ED592A !important;
		box-shadow: none !important;
	}

	.dropdown-menu .button-submit:hover {
		background: #ED592A!important;
		cursor: pointer;
	}

	.order-process > span {
		min-width: 72px !important;
	}

	.detail-order-fixed {
		position: fixed;
		top: 68px;
		background: #fff;
		width: 100%;
		z-index: 98;
	}

	/*hidden reponsive*/
	.computer {
		display: none;
	}
	.mobiles {
		display: block;
	}
	.table-mobiles {
		display: table;
	}

	/*bst mobile*/
	.table-mobile-bst {
		display: table;
	}
	.table-mobile-bst tbody tr:first-child{
		border-top: solid 1px #DFE3E8;
	}
	.table-mobile-bst tbody tr td img {
		width: 57px;
		height: 57px;
	}
	.table-mobile-bst tbody tr td:nth-child(2) {
		padding-left: 0;
	}
	.table-mobile-bst tbody tr td:nth-child(3) {
		padding-left: 0;
	}

	.table-mobile-bst.has-selected .select-all-bst{
		display: none;
	}
	.select-all-bst {
		padding-top: 4px;
		left: 65px;
	}

	/*add collection*/
	.sub-head.head-new-collection {
		position: fixed !important;
		top: 77px;
		left: 0;
		z-index: 9;
		background: #ffffff;
		width: 100%;
	}

	.btn-collection-save {
		border: none;
		background: transparent;
		color: #ED592A;
		font-size: 16px;
	}

	/*footer count date*/
	.alert-footer {
		width: 100%;
	}

	/*header none*/
	header#header .logo {
		display: none !important;
	}

	/*hidden - mobile*/
	.hidden-item-menu-on-mobile {
		display: none !important;
	}

    #product-form .select2-results__options {
      -webkit-overflow-scrolling: touch;
    }

	.select2-menus .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
        padding-top: 75px !important;
    }

    .menu-label {
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1;
        width: 100%;
        color: #637381;
    }

    .menu-select.menu-empty .menu-label {
        display: none;
    }

	/*dashboard - new*/
	.top-product-sale.mobiles .title {
		border-bottom: dashed 1px #DFE3E8;
	}

	.top-product-sale.mobiles.m_top_revenue_product div.row:last-child {
		padding-bottom: 1.5rem;
	}

	.status-current {
		padding-right: 0;
		padding-left: 0;
	}

	.index-overview {
		padding-right: 0;
	}

	.total_orders {
		border: none !important;
	}

	.index-overview .item-one,.item-three,.item-two,.item-four{
		padding-left: 15px !important;
		padding-right: 15px;
	}

    .top-product-sale.mobiles .image-product-top {
        width: 80px;
        height: 80px;
        border-radius: 4px;
        border: 1px solid #DFE3E8;
    }

    .top-product-sale.mobiles .image-product-top img {
        width: 100%;
        height: 100%;
        padding: 5px;
        vertical-align: middle;
    }

	.nav-tabs .nav-link.nav-link-tab-mb {
		padding-right: 0;
		padding-left: 0;
		border: none;
		margin-left: 8px;
	}

	.nav-tabs .nav-link.nav-link-tab-mb i {
		color: #27AE60;
	}

	.nav-tabs .nav-link-tab-mb {
		color: #212B36;
	}

	.nav-tabs .nav-link-tab-mb.active {
		border-bottom: solid 2px #C92A74;
		font-weight: 500;
		background-color: transparent;
	}

	.custom-menu {
		width: auto !important;
	}

	.hide-on-mobile {
		display: none;
	}

	.hide-on-desktop {
		display: inline-block;
	}

	#reportrange {
		width: 100% !important;
	}
}

/*xl*/
@media(max-width:400px){
	.blog-category-form .main-content .page-title {
		display: block;
		width: 100%;
	}
	.blog-category-form .main-content .sub-head .float-right {
		float: none !important;
	}
}

/*xl*/
@media(min-width:1200px){

}