.sidebar-left .navbar#sidebar-menu{
	top: 54px;
	z-index: 8;
	position: fixed;
	width: 16.66667%;
	padding-bottom: 40px;
	height: calc(100% - 56px);
	overflow-y: auto;
	overflow-x: hidden;
}
.navbar#sidebar-menu ul.navbar-nav{
	display: inline-block;
	width: 100%;
}
.navbar#sidebar-menu ul.navbar-nav>li.nav-item:hover>a,
.navbar#sidebar-menu ul.navbar-nav>li.nav-item.active>a{
	color: #B9256A;
}
.navbar#sidebar-menu ul.navbar-nav li.nav-item.has-children{
	position: relative;
}
.navbar#sidebar-menu ul.navbar-nav>li.nav-item.has-children>a:after{
	content: "›";
	float: right;
	font-size: 25px;
	color: #212B36;
	position: absolute;
	top: 2px;
	right: 0;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.navbar#sidebar-menu ul.navbar-nav>li.nav-item.has-children>a[aria-expanded="true"]:after{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
.navbar#sidebar-menu ul.navbar-nav li.nav-item a{
	padding: 6px 0;
	line-height: 20px;
	color: #000;
	font-weight: 500;
	display: inline-block;
	width: 100%;
}
.navbar#sidebar-menu ul.navbar-nav li.nav-item a>img{
	margin-top: -4px;
}
.navbar#sidebar-menu ul.navbar-nav ul{
	list-style: none;
	padding-left: 35px;
}
.navbar#sidebar-menu ul.navbar-nav ul li.nav-item a{
	color: #637381;
	font-weight: 400;
}
.navbar#sidebar-menu ul.navbar-nav ul li.nav-item a:hover,
.navbar#sidebar-menu ul.navbar-nav ul li.nav-item a.active{
	font-weight: 500;
	color: #B9256A;
}
.navbar#sidebar-menu ul.navbar-nav li.nav-item.bottom{
	position: fixed;
	bottom: 0;
	z-index: 2;
	background: #fff;
	margin-bottom: 20px;
}
/*End sidebar*/