* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #f8f8f8
}

.navbar {
    background-color: #fff;
    height: 64px;
    padding-left: 0;
    padding-right: 0;
}


/*.navbar-brand{
    width: 230px;
}*/

.display-type-header {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.display-type-header:hover {
    background-color: #f5f5f5
}

.sidebar {
    background-color: #242D37;
    width: 270px;
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index:99;
}

.sidebar.sidebar-fixed {
    background-color: #242D37;
    width: 270px;
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1030;
}

.header-menu {
    background: #171B21;
    height: 64px;
}

.menu {
    margin-bottom: 25px;
}

.menu-item {
    color: #BFD5E6;
    cursor: pointer;
    height: 40px;
}

.menu-item-active {
    color: #2D9CDB;
    background-color: #171B21;
}

.menu-item:hover {
    color: #2D9CDB;
    background: #171B21;
}

.menu-item:hover svg path {
    fill: #2D9CDB;
}

.menu-item:hover .d-flex svg path {
    fill: #2D9CDB;
}

.main {
    background-color: #aaa;
    width: 100%;
    height: 100%;
    display: block;
    padding: 64px 0 0 270px;
}


/*page chi tiet trang web*/

.header-menu-detail-web {
    height: 64px;
}

.header-menu-detail-web .nav-tabs {
    border-bottom: none;
}

.header-menu-detail-web .nav-tabs .nav-link {
    border: none;
    color: #fff;
    width: 50%;
    text-align: center;
}

.header-menu-detail-web .nav-tabs .nav-link.active {
    border-bottom: solid 2px #2D9CDB;
    background-color: #171B21;
    ;
}

.menu-item span {
    font-size: 14px;
}

.color-preview {
    /* width: 40px;*/
    height: 20px;
    margin-right: 10px;
}

.color-list {
    background-color: #171B21;
}

.preview-button {
    background: #171B21;
    padding: 5px 10px;
    border-radius: 4px;
}

.preview-button:hover {
    background: #949494;
}

.menu.double-menu {
    margin-bottom: 0;
}

.custom-form .form-group {
    margin-bottom: 5px;
}

.custom-form .form-group label {
    margin-bottom: 2px;
}

.menu .text-light.p-3 {
    padding: 10px !important;
}

.help,
.notify-mes,
.info-user,
.avatar {
    margin-left: 10px;
    margin-right: 10px;
}

.help {
    color: #000;
}

.notify-mes {
    position: relative;
}

.count-notify {
    position: absolute;
    width: 19px;
    height: 19px;
    background: #D0021B;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 19px;
    top: -10px;
    right: -10px;
}

.user-name h5 {
    font-size: 16px;
}

.version span {
    font-size: 13px;
    color: #6D6F72;
}


/*input type = file*/

::-webkit-file-upload-button {
    border-radius: 7px;
    border: solid 1px #ddd;
    background: #f5f5f5;
}


/* end input type = file*/

.header-menu-detail-web nav {
    width: 100%;
}


/*logo*/

.logo-web {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 64px;
    height: 64px;
    width: 270px;
    z-index: 99;
    background: #fff;
}

.img-logo {
    padding-left: 41px;
    padding-top: 19px;
}

#header {
    height: 64px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 270px;
    width: auto;
    right: 0;
}

.welcome {
    padding-top: 14px;
    float: right;
}


/* slide show ------------------------------------ */

.sidebar-title {
    height: 64px;
    border-bottom: 1px solid #000 !important
}

.input-time,
.input-item-slide {
    background: #171B21;
}

.custom-range-input {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #2D9CDB;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.custom-range-input:hover {
    opacity: 1;
}

.custom-range-input::-webkit-custom-range-input-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

.custom-range-input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

.icon-search {
    position: absolute;
    top: 5px;
    right: 18px;
}

.img-product {
    width: 30px;
    height: 30px;
}

a, a:hover{
    color: #BFD5E6;
    text-decoration: none;
}
.loader--style2{
    position: fixed;
    height: 100%;
    width: 100%;
    background: gray;
    opacity: 0.5;
    z-index: 100;
}
#loader-1{
    position: absolute;
    top: 50%;
    left: 50%;
}


.info-des-product-l{
    margin-bottom: 16px;
}
.info-des-product-l .image-thump-product-l{
    width: 40px;
    height: 40px;
    background: #fff;
}
.info-des-product-l .name-product-l{
    margin-left: 10px;
    line-height: 40px;
}
.info-des-product-l .remove-product-l{
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: auto;
}