<!-- Footer -->
<footer class="bestme-footer {% if product_detail != '' %}bestme-hidden-md {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="bestme-footer__content">
                    <div class="bestme-footer__content__top">
                        <a href="{{ home }}"><img class="bestme-footer__logo" src="{{ logo }}" alt=""></a>
                        <form class="register-receive-message">
                            <input type="text" class="bestme-input bestme-input--receive-message"
                                   placeholder="Nhập email của bạn để đăng ký nhận tin">
                            <button type="button" class="bestme-btn bestme-btn--receive-message">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if contact.visible == 1 %}
            <div class="offset-1 col-10 offset-lg-2 col-lg-3 col-xl-3 offset-1">
                <ul class="list-info-footer">
                    <li class="list-info-footer--item">
                        <a href="" class="list-info-footer--link">
                            <i class="ti-location-pin icon-info-footer"></i>
                            {{ contact.address }}
                        </a>
                    </li>
                    <li class="list-info-footer--item">
                        <a href="tel:{{ contact.phone }}" class="list-info-footer--link">
                            <i class="ti-mobile icon-info-footer"></i>
                            {{ contact.phone }}
                        </a>
                    </li>
                    <li class="list-info-footer--item">
                        <a href="mail:{{ contact.email }}" class="list-info-footer--link">
                            <i class="ti-email icon-info-footer"></i>
                            {{ contact.email }}</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% if visible_collection == 1 %}
            <div class="offset-1 col-10 col-lg-2 col-xl-2 offset-1">
                <ul class="list-info-footer">
                    {% for collection in collections %}
                        <li class="list-info-footer--item active">
                            <a href="{{ collection.url_link }}" class="list-info-footer--link">{{ collection.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if visible_quick_links == 1 %}
            <div class="offset-1 col-10 offset-lg-0 offset-xl-0 col-lg-3 col-xl-3">
                <ul class="list-info-footer">
                    {% for quick_link in quick_links %}
                    <li class="list-info-footer--item">
                        <a href="{{ quick_link.url_link }}" class="list-info-footer--link">{{ quick_link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="bestme-footer__bottom">
        {% if visible_subscribe == 1 %}
        {% if visible_subscribe_social_network == 1 %}
        <ul class="bestme-block-social">
            {% for social_config in social_configs %}
                {% if  social_config.name == 'Facebook' %}
                    <li class="social-item">
                        <a href="{{ social_config.url }}" class="bestme-btn--social "><i class="ti-facebook"></i></a>
                    </li>
                {% elseif  social_config.name == 'Instagram' %}
                    <li class="social-item">
                        <a href="{{ social_config.url }}" class="bestme-btn--social "><i class="ti-instagram"></i></a>
                    </li>
                {% elseif social_config.name == 'Youtube' %}
                    <li class="social-item">
                        <a href="{{ social_config.url }}" class="bestme-btn--social "><i class="ti-youtube"></i></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
        <span class="license">© Bản quyền thuộc về Bestme</span>
    </div>
</footer>
<script src="{{ theme_directory }}/js/main.js"></script>
<!-- End: Footer -->