{{ header }}

<section class="bestme-top-content page-detail ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        {% if breadcrumbs|length > 0 %}
          <ul class="bestme-breadcrumb">
            {% for breadcrumb in breadcrumbs %}
              <li class="bestme-breadcrumb__item"><a class="bestme-breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="title-section-img">
          <div class="title-logo">
            <span class="square-first"></span>
            <span class="square-primary"></span>
            <span class="square-second"></span>
          </div>
          <h2 class="title register">Xác nhận </h2>
        </div>
      </div>
      <div class="col-12 mb-5">
        {{ content_config|html_entity_decode }}
      </div>
      <div class="col-12 offset-lg-4 col-lg-4">
        <button onclick="location.href='{{ home }}';" class="bestme-btn bestme-btn--border w-100 mt-5 bestme-text--uppercase">Quay lại trang chủ
        </button>
      </div>
    </div>
  </div>
</section>

{{ footer }}