{{ header }}


<main class="main-content">
    <div class="container pb-5">

        <nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
        </nav>

        <div class="row">
            {# temp disable #}
            {# contact info #}
            {#<div class="col-12 col-md-6">
                <h1 class="header-font mb-5 font-24 font-weight-normal">Thông tin liên hệ</h1>
                <p class="font-weight-500 text-uppercase">địa chỉ</p>
                <p class="d-flex sixth-color">
                    <span>{{ contacts_info.address }}</span>
                </p>
                <p class="font-weight-500 text-uppercase pt-3">SỐ ĐIỆN THOẠI</p>
                <p><a href="tel:{{ contacts_info.phone }}" class="sixth-color">{{ contacts_info.phone }}</a></p>
                <p class="font-weight-500 text-uppercase pt-3">MẠNG XÃ HỘI</p>
                <div class="font-32 mb-3">
                    {% for social_config in social_configs %}
                        {% if  social_config.name == 'Facebook' %}
                            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">
                                <i class="icon icon-fb second-bg"></i>
                            </a>
                        {% elseif  social_config.name == 'Instagram' %}
                            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">
                                <i class="icon icon-instagram second-bg"></i>
                            </a>
                        {% elseif social_config.name == 'Youtube' %}
                            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">
                                <i class="icon icon-youtube second-bg"></i>
                            </a>
                        {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>#}
            <!-- End col-md-6 -->

            {# contact form #}
            {% if contact_config.visible == 1 %}
                <div class="col-12 col-md-6">
                    <h2 class="header-font mb-4 font-24 font-weight-normal">{{ contact_config.title }}</h2>
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <form id="contact-form" action="{{ href_submit_form }}" method="post">
                        <div class="form-group row">
                            <div class="col-12 col-md-6">
                                <input name="fullname" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                       class="form-control bg-light py-4 sixth-color border-secondary" placeholder="Họ và tên" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input name="phone" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                       pattern="((0|\+84|84)+([0-9]{9})\b)"
                                       class="form-control bg-light py-4 sixth-color border-secondary" placeholder="Số điện thoại" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 col-md-12">
                                <input name="email" type="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                       class="form-control bg-light py-4 sixth-color border-secondary" placeholder="Địa chỉ Email" required>
                            </div>
                        </div>

                        <textarea name="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                  class="form-control bg-light mb-4 sixth-color border-secondary" placeholder="Nội dung góp ý" rows="8" required></textarea>
                        <button type="submit" class="btn btn-outline-secondary main-bg px-5 py-2 font-weight-500 text-white">Gửi</button>
                    </form>
                </div>
                <!-- End col-md-6 -->
            {% endif %}
        </div> <!-- End row -->
    </div> <!-- End container -->

    {# map #}
    {% if contacts_map %}
        <section class="g-map">
            {{ contacts_map.address|html_entity_decode }}
        </section>
    {% endif %}
</main>
<!-- /.ELM PAGES -->
<style>
    .g-map iframe {
        width: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>