<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    {{ cssResource }}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/jquery-ui.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <!-- Bootstrap -->

    {{ jsResource }}
    <!-- JS -->
{#    <script src="{{ theme_directory }}/js/jquery.3.3.1.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/popper.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/bootstrap.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/main.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/opencart_custom.js" type="text/javascript"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="{{ is_home ? 'home' : '' }}">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}
<!-- Header -->
<header id="header" class="header block-header">
    {% if notify_bar.visible  == 1 %}
    <!-- Top Header -->
    <div class="header-top">
        <div class="container text-center d-flex flex-wrap">
            <div class="text-center text-md-start">
                <a href="{{ notify_bar.url }}" class="text-secondary">{{ notify_bar.content }}</a>
            </div>
            <div class="text-right ms-auto d-none d-md-block">
                {% if contact is defined and contact.visible == 1 %}
                    <i class="icon icon-phone me-2 align-middle"></i>Hotline: <a href="tel:{{ contact.phone }}" class="text-secondary"><b>
                        {{ contact.phone }}</b></a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End: Top Header -->
    {% endif %}

    <!-- Main Header -->
    <div class="fix-content">
        <div class="main-header">
            <div class="container">
                <div class="d-flex flex-wrap menu-wrapper">
                    <nav class="navbar navbar-expand-lg menu-left order-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="icon icon-bar bg-white"></i>
                        </button>

                        <div class="collapse navbar-collapse flex-grow-0" id="navbarMainMenu">
                            <a class="logo d-block d-md-none text-center" href="{{ home }}">
                                <img class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                                     src="{{ logo }}" title="{{ name }}" alt="{{ alt }}">
                            </a>
                            <ul class="nav navbar-nav bestme-block-header-menu" id="navbar-menu-items">
                                {% for idx, m in main_menu %}
                                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                        <li class="nav-item">
                                            {# one level #}
                                            <a class="nav-link {{ (result_active_menu == m.url or result_active_menu == m.target_value) ? 'active' : '' }} {{ idx == -1 ? 'active' : '' }}"
                                               href="{{ m.url }}">{{ m.text }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item has-child">
                                            {# two levels #}
                                            <a href="{{ m.url }}" class="nav-link">
                                                {{ m.text }}
                                                <span class="toggle"></span>
                                            </a>
                                            <ul class="nav child-nav">
                                                {% for it in m.items %}
                                                    {% if it.items is defined and it.items|length > 0 %}
                                                        <li class="nav-item has-child">
                                                            <a href="{{ it.url }}" class="nav-link">
                                                                {{ it.text }}<span class="toggle child-toggle child-toggle-2"></span>
                                                            </a>
                                                            <ul class="nav child-nav">
                                                                {% for it3 in it.items %}
                                                                    <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                    <!-- End nav -->

                    <div class="logo">
                        <a href="{{ home }}">
                            <img class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                                 src="{{ logo }}" title="{{ name }}" alt="{{ alt }}" width="100px">
                        </a>
                    </div>
                    <!-- End logo -->

                    <ul class="nav menu-right ms-auto mb-0 order-3">
                        <li class="dropdown dropdown-search">
                            <a href="#" role="button" id="dropdownSearch" class="with-icon" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="icon icon-search"></i>
                            </a>

                            <form action="{{ urlserach }}" method="get" class="mx-auto mt-3 home-search dropdown-menu dropdown-menu-end"
                                  aria-labelledby="dropdownSearch">
                                <input type="hidden" name="route" value="common/shop">
                                <input type="text" class="form-control" placeholder="Tìm kiếm đồ uống" name="search"
                                       autocomplete="off"/>
{#                                <div class="search-box-ajax d-none">#}
{#                                    <a href="#" class="d-block hover-primary">Lorem Ipsum is simply</a>#}
{#                                    <a href="#" class="d-block hover-primary">Lorem Ipsum is simply dummy text of#}
{#                                        the#}
{#                                        printing</a>#}
{#                                    <a href="#" class="d-block hover-primary">Lorem Ipsum is simply dummy</a>#}
{#                                </div>#}
                                <button type="submit" class="d-none"></button>
                            </form>
                            <!-- End search box -->
                        </li>
                        <li class="dropdown order-2">
                            <a href="#" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                               data-bs-offset="35,20" class="item with-icon">
                                <i class="icon icon-user"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownUser">
                                {% if logged_in == '' %}
                                    <a class="nav-link" href="{{ register }}" data-bs-toggle="modal"
                                       data-bs-target="#RegisterModal">Đăng Ký</a>
                                    <a class="nav-link" href="{{ login }}" data-bs-toggle="modal"
                                       data-bs-target="#LoginModal">Đăng Nhập</a>
                                {% else %}
                                    <a class="nav-link" href="{{ my_account }}">Thông tin cá nhân</a>
                                    <a class="nav-link" href="{{ logout }}">Đăng xuất</a>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="order-3">
                            <a href="{{ href_my_orders }}" class="item with-icon">
                                <i class="icon icon-cart"></i>
                                <span class="count-cart">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="button-header order-2 order-md-4">
                        <a href="{{ order_now_href }}" class="btn btn-primary text-secondary fw-600 ms-md-4">Đặt bàn ngay</a>
                    </div>
                    <!-- End menu-right-header -->
                </div>
                <!-- End row -->
            </div>
            <!-- End container -->
        </div>
        <!-- End: Main Header -->
    </div>
    <!-- End:  w-100 -->
</header>
<!-- End Header -->
{% include theme_name ~ '/template/account/login.twig' %}
{% include theme_name ~ '/template/account/register.twig' %}
{% include theme_name ~ '/template/account/forgotten.twig' %}