{{ header }}
<div class="bestme_app_after_header">

</div>

{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

{% for section in sections_layout %}
    {% set path= 'beauty_hani/template/common/section_home/'~section['file']~'.twig' %}
    <div class="{{ section.file }}">
        {% include path %}
    </div>
{% endfor %}

<div class="bestme_app_before_footer">

</div>
<style>
    .video-slideshow {
        height: 510px; /* default config slide height */
    }
</style>

<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
    if (homeVideo) {
        homeVideo.init({
            sliderType: 'owl_carousel',
            videoCarouselElements: $('.video-slideshow'),
            postThumbnailElements: $('.blog-thumb-video'),
            slideshowSelector: '.owl-banner'
        });
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.swiper-custom-block-' + '{{ k }}').length > 0) {
            const autoplay = 1 == $('.swiper-custom-block-' + '{{ k }}').data('autoplay') ? { delay: $('.swiper-custom-block-' + '{{ k }}').data('autoplay_time') * 1e3 } : false;
            var swiper{{ k }} = new Swiper('.swiper-custom-block-' + '{{ k }}', {
                // slidesPerView: parseInt(jQuery('.swiper-custom-block-' + '{{ k }}').data('grid')) * parseInt(jQuery('.swiper-custom-block-' + '{{ k }}').data('row')),
                spaceBetween: 20,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                loop: 1 == $('.swiper-custom-block-' + '{{ k }}').data('loop'),
                autoplay: autoplay,
                navigation: {
                    nextEl: '.swiper-button-next-p-{{ k }}',
                    prevEl: '.swiper-button-prev-p-{{ k }}',
                },
                {#slidesPerColumn: parseInt(jQuery('.swiper-custom-block-' + '{{ k }}').data('grid')),#}
                {#slidesPerColumnFill: 'row',#}
                breakpoints: {
                    // when window width is >= 480px
                    480: {
                        spaceBetween: 5
                    },
                    // when window width is >= 640px
                    768: {
                        spaceBetween: 10
                    },
                    991: {
                        spaceBetween: 20
                    }
                }
            });
        }
        {% endfor %}
    });
</script>
{{ footer }}