{{ header }}
<div class="bestme_app_after_header">

</div>
{% if banners.visible_banner == 1 %}
    <section id="block-banner" class="block-banner bestme-block-category-banner">
        <div class="container">
            <a  target="_blank" href="{{ banners.url_banner }}"><img class="img-fluid" src="{{ banners.url_image }}" alt="{{ banners.alt }}"></a>
        </div>
    </section>
{% endif %}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home_link }}">Trang chủ</a>
            <a href="{{ shop_link }}" class="breadcrumb-item active main-color">Sản phẩm</a>
            {% if getsearch != '' %}
                <span class="breadcrumb-item active main-color">Kết quả tìm kiếm cho "{{ getsearch }}"</span>
            {% endif %}
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<div id="block-list-product"class="block-page block-product-page">
    <div class="container">
        <div class="title-page main-font text-color">
            <h1>Tất cả sản phẩm</h1>
        </div>
        <!-- Filter -->
        <div class="block-filter bestme-block-filter-1">
            <div class="filter-left">
                {% if visible_collection == 1 %}
                    <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle main-font" data-toggle="dropdown" href="#">
                            <span class="text">{{ collection_selected_name }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"
                                 fill="none">
                                <path d="M9.81204 0.175471C9.87163 0.228149 9.9189 0.290706 9.95115 0.359563C9.9834 0.428421 10 0.502229 10 0.576769C10 0.651309 9.9834 0.725117 9.95115 0.793975C9.9189 0.862833 9.87163 0.925388 9.81204 0.978066L5.45895 4.83365C5.39943 4.88638 5.32875 4.92822 5.25095 4.95676C5.17315 4.98531 5.08976 5 5.00554 5C4.92132 5 4.83793 4.98531 4.76013 4.95676C4.68233 4.92822 4.61165 4.88638 4.55213 4.83365L0.199038 0.978067C0.137076 0.925872 0.0875481 0.863227 0.0533722 0.793825C0.0191963 0.724421 0.00106411 0.649665 4.55829e-05 0.573963C-0.000972945 0.49826 0.0151413 0.423142 0.0474403 0.353039C0.0797384 0.282935 0.127567 0.219264 0.188106 0.165778C0.248646 0.112291 0.32067 0.0700726 0.399935 0.0416107C0.479199 0.0131482 0.564101 -0.000980918 0.649633 5.42913e-05C0.735164 0.00108998 0.819597 0.0172695 0.897953 0.0476402C0.976308 0.0780105 1.047 0.121957 1.10587 0.176889L5.00554 3.63117L8.90522 0.176889C8.96463 0.124059 9.03523 0.0821119 9.11297 0.0534459C9.19071 0.0247798 9.27408 0.00995687 9.3583 0.00982526C9.44252 0.00969365 9.52594 0.0242563 9.6038 0.0526786C9.68165 0.0811014 9.75242 0.122827 9.81204 0.175471Z"
                                      fill="#202020" fill-opacity="0.82" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu main-font collection">
                            <li><a href="{{ collection_all.url }}">{{ collection_all.name }}</a></li>
                            {% for collection in collections %}
                                <li><a href="{{ collection.url }}">{{ collection.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if visible_category == 1 %}
                    <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle main-font" data-toggle="dropdown" href="#">
                            <span class="text">{{ category_selected_name }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"
                                 fill="none">
                                <path d="M9.81204 0.175471C9.87163 0.228149 9.9189 0.290706 9.95115 0.359563C9.9834 0.428421 10 0.502229 10 0.576769C10 0.651309 9.9834 0.725117 9.95115 0.793975C9.9189 0.862833 9.87163 0.925388 9.81204 0.978066L5.45895 4.83365C5.39943 4.88638 5.32875 4.92822 5.25095 4.95676C5.17315 4.98531 5.08976 5 5.00554 5C4.92132 5 4.83793 4.98531 4.76013 4.95676C4.68233 4.92822 4.61165 4.88638 4.55213 4.83365L0.199038 0.978067C0.137076 0.925872 0.0875481 0.863227 0.0533722 0.793825C0.0191963 0.724421 0.00106411 0.649665 4.55829e-05 0.573963C-0.000972945 0.49826 0.0151413 0.423142 0.0474403 0.353039C0.0797384 0.282935 0.127567 0.219264 0.188106 0.165778C0.248646 0.112291 0.32067 0.0700726 0.399935 0.0416107C0.479199 0.0131482 0.564101 -0.000980918 0.649633 5.42913e-05C0.735164 0.00108998 0.819597 0.0172695 0.897953 0.0476402C0.976308 0.0780105 1.047 0.121957 1.10587 0.176889L5.00554 3.63117L8.90522 0.176889C8.96463 0.124059 9.03523 0.0821119 9.11297 0.0534459C9.19071 0.0247798 9.27408 0.00995687 9.3583 0.00982526C9.44252 0.00969365 9.52594 0.0242563 9.6038 0.0526786C9.68165 0.0811014 9.75242 0.122827 9.81204 0.175471Z"
                                      fill="#202020" fill-opacity="0.82" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu main-font">
                            <li><a href="{{ category_all.url }}">{{ category_all.name }}</a></li>
                            {% include 'default/template/common/category_list_template.twig' %}
                        </ul>
                    </div>
                {% endif %}
                {% if visible_supplier == 1 %}
                    <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle main-font" data-toggle="dropdown" href="#">
                            <span class="text">{{ manufacturer_selected_name }}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"
                                 fill="none">
                                <path
                                        d="M9.81204 0.175471C9.87163 0.228149 9.9189 0.290706 9.95115 0.359563C9.9834 0.428421 10 0.502229 10 0.576769C10 0.651309 9.9834 0.725117 9.95115 0.793975C9.9189 0.862833 9.87163 0.925388 9.81204 0.978066L5.45895 4.83365C5.39943 4.88638 5.32875 4.92822 5.25095 4.95676C5.17315 4.98531 5.08976 5 5.00554 5C4.92132 5 4.83793 4.98531 4.76013 4.95676C4.68233 4.92822 4.61165 4.88638 4.55213 4.83365L0.199038 0.978067C0.137076 0.925872 0.0875481 0.863227 0.0533722 0.793825C0.0191963 0.724421 0.00106411 0.649665 4.55829e-05 0.573963C-0.000972945 0.49826 0.0151413 0.423142 0.0474403 0.353039C0.0797384 0.282935 0.127567 0.219264 0.188106 0.165778C0.248646 0.112291 0.32067 0.0700726 0.399935 0.0416107C0.479199 0.0131482 0.564101 -0.000980918 0.649633 5.42913e-05C0.735164 0.00108998 0.819597 0.0172695 0.897953 0.0476402C0.976308 0.0780105 1.047 0.121957 1.10587 0.176889L5.00554 3.63117L8.90522 0.176889C8.96463 0.124059 9.03523 0.0821119 9.11297 0.0534459C9.19071 0.0247798 9.27408 0.00995687 9.3583 0.00982526C9.44252 0.00969365 9.52594 0.0242563 9.6038 0.0526786C9.68165 0.0811014 9.75242 0.122827 9.81204 0.175471Z"
                                        fill="#202020" fill-opacity="0.82" />
                            </svg>
                        </a>
                        <ul class="dropdown-menu main-font manufacturer">
                            <li><a href="{{ manufacturer_all.url }}">{{ manufacturer_all.name }}</a></li>
                            {% for manufacturer in manufacturers %}
                                <li><a href="{{ manufacturer.url }}">{{ manufacturer.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if visible_product_price == 1 %}
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle main-font" data-toggle="dropdown" href="#">
                        <span class="text">Giá sản phẩm</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"
                             fill="none">
                            <path d="M9.81204 0.175471C9.87163 0.228149 9.9189 0.290706 9.95115 0.359563C9.9834 0.428421 10 0.502229 10 0.576769C10 0.651309 9.9834 0.725117 9.95115 0.793975C9.9189 0.862833 9.87163 0.925388 9.81204 0.978066L5.45895 4.83365C5.39943 4.88638 5.32875 4.92822 5.25095 4.95676C5.17315 4.98531 5.08976 5 5.00554 5C4.92132 5 4.83793 4.98531 4.76013 4.95676C4.68233 4.92822 4.61165 4.88638 4.55213 4.83365L0.199038 0.978067C0.137076 0.925872 0.0875481 0.863227 0.0533722 0.793825C0.0191963 0.724421 0.00106411 0.649665 4.55829e-05 0.573963C-0.000972945 0.49826 0.0151413 0.423142 0.0474403 0.353039C0.0797384 0.282935 0.127567 0.219264 0.188106 0.165778C0.248646 0.112291 0.32067 0.0700726 0.399935 0.0416107C0.479199 0.0131482 0.564101 -0.000980918 0.649633 5.42913e-05C0.735164 0.00108998 0.819597 0.0172695 0.897953 0.0476402C0.976308 0.0780105 1.047 0.121957 1.10587 0.176889L5.00554 3.63117L8.90522 0.176889C8.96463 0.124059 9.03523 0.0821119 9.11297 0.0534459C9.19071 0.0247798 9.27408 0.00995687 9.3583 0.00982526C9.44252 0.00969365 9.52594 0.0242563 9.6038 0.0526786C9.68165 0.0811014 9.75242 0.122827 9.81204 0.175471Z"
                                  fill="#202020" fill-opacity="0.82" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu main-font">
                        <div class="change-price">
                            <p>Vui lòng chọn khoảng giá</p>
                            <div id="slider-range"></div>
                            <div class="range-slider">
                                <label for="amount">Từ </label>
                                <input type="text" id="amount" readonly>
                            </div>
                        </div>
                    </ul>
                </div>
                {% endif %}
                {% if visible_attribute == 1 %}
                    {% include 'default/template/common/attribute_filter_template_fashion_shoezone.twig' %}
                {% endif %}
            </div>
            <div class="filter-right main-font">
                <!--<span class="meta text-color">
                    Sắp xếp:
                </span>-->
                <div class="custom-selectag text-color" id="product-sort">
                    {#<div class="custom-selects" >#}
                    <select id="product-sort-select">
                        <option value="">Sắp xếp</option>
                        <option value="{{ urlsortProduct }}&valueoptiton=1" {{ valueoptiton == 1 ? 'selected': '' }}>Theo tên: A-Z</option>
                        <option value="{{ urlsortProduct }}&valueoptiton=2" {{ valueoptiton == 2 ? 'selected': '' }}>Theo tên: Z-A</option>
                        <option value="{{ urlsortProduct }}&valueoptiton=3" {{ valueoptiton == 3 ? 'selected': '' }}>Theo giá: Từ cao đến thấp</option>
                        <option value="{{ urlsortProduct }}&valueoptiton=4" {{ valueoptiton == 4 ? 'selected': '' }}>Theo giá: Từ thấp đến cao</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /.Filter -->

        <!-- List product -->
        <div class="block-list-product">
            <div class="container">
                <div class="row">
                    {% if products|length == 0 %}
                        <div class="w-100 text-center">
                            <p class="font-italic">{{ text_no_products }}</p>
                        </div>
                    {% endif %}
                    {% for product in products %}
                        <div class="col-sm-6 col-lg-4 mb-5">
                            <div class="product-item text-center">
                                <div class="block-hover">
                                    <div class="block-head">
                                        <div class="thumb-box">
                                            <div class="img"><a href="{{ product.href }}"><img class="img-fluid"
                                                                                               src="{{ product.thumb }}" alt="{{ product.name }}"></a></div>
                                            <div class="rated d-none">
                                                <ul>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <path
                                                                    d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <path
                                                                    d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <path
                                                                    d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <path
                                                                    d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <path
                                                                    d="M6.10001 0.983555L5.90954 1.04456L5.90966 1.04494C5.90962 1.04481 5.90958 1.04468 5.90954 1.04456L6.10001 0.983555ZM6.10001 0.983555L6.29048 1.04456L6.29036 1.04494C6.2904 1.04481 6.29044 1.04468 6.29048 1.04456L6.10001 0.983555ZM6.10001 1.63926L7.10621 4.78089C7.2123 5.11214 7.52027 5.33688 7.86809 5.33688H11.1412L8.48335 7.29593C8.20698 7.49963 8.0914 7.85696 8.19612 8.18392L9.20806 11.3435L6.57467 9.40247C6.29242 9.19444 5.9076 9.19444 5.62536 9.40248L2.99197 11.3435L4.0039 8.18392C4.10862 7.85696 3.99304 7.49963 3.71668 7.29593L1.0588 5.33688H4.33194C4.67976 5.33688 4.98772 5.11214 5.09382 4.78089L6.10001 1.63926ZM0.569032 4.97589C0.569134 4.97596 0.569234 4.97604 0.569335 4.97611L0.569032 4.97589Z"
                                                                    stroke="#3A3A3A" />
                                                        </svg>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="status">
                                                {% if product['product_is_stock'] == false %}
                                                    <span class="sale-off main-color">Hết hàng</span>
                                                {% endif %}
                                                {% if product.Percent_protduct != 0  %}
                                                    <span class="sale-off main-color">{{ product.Percent_protduct }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="action">
                                                <a href="{{ product.href }}" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12"
                                                         viewBox="0 0 17 12" fill="none">
                                                        <path
                                                                d="M8.55703 0.161987C4.82269 0.161987 1.64593 2.51742 0.340008 5.86184C1.64593 9.20625 4.82269 11.5617 8.55703 11.5617C12.2914 11.5617 15.4681 9.20625 16.7741 5.86184C15.4681 2.51742 12.2914 0.161987 8.55703 0.161987ZM8.55703 9.663C6.50277 9.663 4.82269 7.95304 4.82269 5.86184C4.82269 3.77063 6.50277 2.06068 8.55703 2.06068C10.6113 2.06068 12.2914 3.77063 12.2914 5.86184C12.2914 7.95304 10.6113 9.663 8.55703 9.663ZM8.55703 3.5819C7.32448 3.5819 6.31569 4.60863 6.31569 5.86184C6.31569 7.11505 7.32448 8.14178 8.55703 8.14178C9.78958 8.14178 10.7984 7.11505 10.7984 5.86184C10.7984 4.60863 9.78958 3.5819 8.55703 3.5819Z"
                                                                fill="#571F9C" />
                                                    </svg>
                                                </a>
                                                <a type="button" class="btn btn-primary d-none">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                                         viewBox="0 0 20 18" fill="none">
                                                        <path
                                                                d="M17.3816 2.00714C16.9483 1.54282 16.4338 1.1745 15.8676 0.923205C15.3014 0.671916 14.6946 0.542579 14.0817 0.542579C13.4689 0.542579 12.862 0.671916 12.2958 0.923205C11.7296 1.1745 11.2151 1.54282 10.7818 2.00714C10.4551 2.35714 10.209 2.75464 9.99897 3.16839C9.79186 2.74205 9.52774 2.35041 9.21497 2.00589C8.33977 1.06818 7.15276 0.541382 5.91505 0.541382C4.67734 0.541382 3.49033 1.06818 2.61513 2.00589C1.73994 2.94359 1.24826 4.21539 1.24826 5.54151C1.24826 6.86763 1.73994 8.13943 2.61513 9.07714L9.99897 16.7921L17.3816 9.07714C17.8152 8.61311 18.1592 8.06206 18.3939 7.4555C18.6286 6.84894 18.7494 6.19876 18.7494 5.54214C18.7494 4.88551 18.6286 4.23533 18.3939 3.62877C18.1592 3.02221 17.8152 2.47116 17.3816 2.00714V2.00714Z"
                                                                stroke="#571F9C" stroke-miterlimit="10"
                                                                stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                </a>
                                                <a href="{{ product.href }}" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                         viewBox="0 0 17 16" fill="none">
                                                        <path
                                                                d="M16.0774 3.64321C15.9841 3.51299 15.8352 3.43592 15.6769 3.43592H4.52445C4.50284 3.43592 4.48127 3.43726 4.46049 3.44011L4.00151 2.0928C3.95394 1.95346 3.84919 1.84239 3.71457 1.78842L1.40142 0.86308C1.14649 0.761443 0.858811 0.888956 0.75869 1.14824C0.658743 1.40767 0.783928 1.70079 1.03872 1.80275L3.1396 2.64317L5.7111 10.1912C5.5976 10.2314 5.50142 10.3201 5.45762 10.4442L4.71411 12.5473C4.66855 12.6763 4.68732 12.8196 4.76487 12.9316C4.84231 13.0437 4.96825 13.1104 5.10274 13.1104H5.48455C5.24794 13.3785 5.10274 13.7316 5.10274 14.1199C5.10274 14.9549 5.76991 15.6342 6.58975 15.6342C7.40959 15.6342 8.07677 14.9549 8.07677 14.1199C8.07677 13.7316 7.93156 13.3785 7.69495 13.1104H10.937C10.7003 13.3785 10.555 13.7316 10.555 14.1199C10.555 14.9549 11.2221 15.6342 12.0421 15.6342C12.8621 15.6342 13.5291 14.9549 13.5291 14.1199C13.5291 13.7316 13.3839 13.3785 13.1473 13.1104H13.6117C13.8399 13.1104 14.0247 12.9221 14.0247 12.6898C14.0247 12.4574 13.8398 12.2692 13.6117 12.2692H5.69046L6.15093 10.9667C6.21039 10.9922 6.27463 11.0073 6.34187 11.0073H13.6116C13.8271 11.0073 14.0179 10.8655 14.0835 10.6566L16.1488 4.09483C16.1973 3.94119 16.1707 3.77344 16.0774 3.64321ZM6.58975 14.7929C6.22526 14.7929 5.92887 14.4911 5.92887 14.1199C5.92887 13.7487 6.22526 13.4469 6.58975 13.4469C6.95424 13.4469 7.25063 13.7487 7.25063 14.1199C7.25063 14.4911 6.95424 14.7929 6.58975 14.7929ZM12.042 14.7929C11.6775 14.7929 11.3811 14.4911 11.3811 14.1199C11.3811 13.7487 11.6775 13.4469 12.042 13.4469C12.4065 13.4469 12.7029 13.7487 12.7029 14.1199C12.7029 14.4911 12.4065 14.7929 12.042 14.7929ZM14.6402 5.58113H12.1109V4.44544H14.9976L14.6402 5.58113ZM13.9119 7.89454H12.1109V6.59061H14.3224L13.9119 7.89454ZM8.83389 7.89454V6.59061H11.1196V7.89454H8.83389ZM11.1196 8.90413V9.99775H8.83389V8.90413H11.1196ZM5.53378 6.59061H7.84264V7.89454H5.97807L5.53378 6.59061ZM8.83389 5.58113V4.44544H11.1196V5.58113H8.83389ZM7.84261 4.44544V5.58113H5.18976L4.80286 4.44544H7.84261ZM6.32206 8.90413H7.84261V9.99775H6.69461L6.32206 8.90413ZM12.1109 9.99778V8.90416H13.5944L13.2502 9.99778H12.1109Z"
                                                                fill="#571F9C" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box main-font">
                                        <h5 class="name">
                                            <a class="link-color" title="{{ product.name }}" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </h5>
                                        <div class="price-box main-font">
                                            {% if product.is_contact_for_price %}
                                                <span class="price-new">
                                                    {{ contact }}
                                                </span>
                                            {% else %}
                                                {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        <div class="price-new main-color">
                                                            <span class="price">{{ product.price_version_min }}</span>
                                                            {% if product.price_version_min != product.price_version_max %}
                                                                ~ <span class="price">{{ product.price_version_max }}</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="price-old text-color">
                                                            <span class="price">{{ product.compare_version_min }}</span>
                                                            {% if product.compare_version_min != product.compare_version_max %}
                                                                ~ <span class="price">{{ product.compare_version_max }} </span>
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="price-new main-color">
                                                            <span class="price">{{ product.compare_version_min }}</span> ~ <span class="price">{{ product.compare_version_max }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if product.price == 0 %}
                                                        <div class="price-new main-color">
                                                            <span class="price">{{ product.compare_price }} </span>
                                                        </div>
                                                    {% else %}
                                                        <div class="price-new main-color">
                                                            <span class="price">{{ product.price }} </span>
                                                        </div>
                                                        <div class="price-old text-color">
                                                            <span class="price">{{ product.compare_price }}</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        <a href="{{ product.href }}">
                                            <button type="button" class="btn btn-buy main-background-hover">MUA NGAY</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.List product -->

        <!-- Pagination -->
        <div class="block-pagination m-top-50">
            <nav aria-label="Page navigation">
                <ul class="pagination main-font">
                    {{ pagination }}
                </ul>
            </nav>
        </div>
        <!-- /.Pagination -->
    </div>
</div>
<div class="bestme_app_after_product">

</div>
<div class="bestme_app_before_footer">

</div>
<script>
    $(document).ready(function () {
        //Select tag
        var x, i, j, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-selectag");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

    });
    $("body").on('DOMSubtreeModified', "#product-sort .select-selected", function() {
        var text = $('#product-sort .select-selected').text();
        if($.trim(text) !== ''){
            var val = $('#product-sort-select option').filter(function () { return $(this).html() === text; }).val();
            window.location = val;
        }
    });


    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").val(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                delayOnChange(function () {
                    var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
                    var regexMin = new RegExp("&min=\\d+");
                    var regexMax = new RegExp("&max=\\d+");
                    url = url.replace(regexMin, '');
                    url = url.replace(regexMax, '');
                    // console.log(ui.values[1]);
                    window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                    $("#amount1" ).val(ui.values[ 0 ]);
                    $("#amount2" ).val(ui.values[ 1 ]);
                });
            }
        });
        $("#amount").val(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }
</script>
<!-- block-footer -->
{{ footer }}
<!-- /.block-footer -->
