<!-- block ads banner -->
{% if banners_visible == '1' and
    ((banners[0] is defined and banners[0]['visible'] == '1')
    or (banners[1] is defined and banners[1]['visible'] == '1')
    or (banners[2] is defined and banners[2]['visible'] == '1')) %}
    <section id="homepage-ads-banner" class="mb-5">
        <div class="container">
            <div class="row my-3">
                {% if banners[0] is defined and banners[0]['visible'] == '1' %}
                    <div class="col-12 col-md-4">
                        <a href="{{ banner_highlight['url'] }}">
                            <div class="ads-banner-item ads-banner-bg" style="background-image: url({{ banner_highlight['image-url'] }})" alt="{{ banner_highlight['description'] }}">
                                <div class="ads-banner-content">
                                    {#<p>{{ banner_highlight['description'] }}</p>#}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if banners[1] is defined and banners[1]['visible'] == '1' %}
                    <div class="col-12 col-md-4">
                        <a href="{{ banner_left['url'] }}">
                            <div class="ads-banner-item ads-banner-bg" style="background-image: url({{ banner_left['image-url'] }})" alt="{{ banner_left['description'] }}">
                                <div class="ads-banner-content">
                                    {#<p>{{ banner_left['description'] }}</p>#}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if banners[2] is defined and banners[2]['visible'] == '1' %}
                    <div class="col-12 col-md-4">
                        <a href="{{ banner_middle['url'] }}">
                            <div class="ads-banner-item ads-banner-bg" style="background-image: url({{ banner_middle['image-url'] }})" alt="{{ banner_middle['description'] }}">
                                <div class="ads-banner-content">
                                    {#<p>{{ banner_middle['description'] }}</p>#}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
<!-- end block ads banner -->