<!-- block-ads-banner -->
{% if banners_visible == '1' %}
    <!-- Banner category -->
    <div id="banner-product">
        <div class="container">
            <div class="row">
                {% if banner_highlight['visible'] == '1' %}
                    <div class="col-sm-4 col-md-4 col-lg-4 bestme-block-banner-1">
                        <a href="{{ banner_highlight['url'] }}" target="_blank">
                            <div class="banner-product-item">
                                <div class="thumb">
                                    <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}">
                                </div>
                                {#<div class="content-item">#}
                                {#<div class="content">#}
                                {#<h4>#}
                                {#<span class="top"></span>#}
                                {#<span class="botom">{{ banner_highlight['description'] }}  <br> </span>#}
                                {#</h4>#}
                                {#<a class="a-normal" href="{{ banner_highlight['url'] }}">Xem ngay!</a>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if banner_left['visible'] == '1' %}
                    <div class="col-sm-4 col-md-4 col-lg-4 bestme-block-banner-2">
                        <a href="{{ banner_left['url'] }}" target="_blank">
                            <div class="banner-product-item">
                                <div class="thumb">
                                    <img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}">
                                </div>
                                {#<div class="content-item">#}
                                {#<div class="content">#}
                                {#<h5>#}
                                {#<span class="top"> </span>#}
                                {#<span class="botom">{{ banner_left['description'] }} <br> </span>#}
                                {#</h5>#}
                                {#<a class="a-normal" href="{{ banner_left['url'] }}">Xem ngay!</a>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if banner_middle['visible'] == '1' %}
                    <div class="col-sm-4 col-md-4 col-lg-4 bestme-block-banner-3">  {#class +: sfu-font#}
                        <a href="{{ banner_middle['url'] }}" target="_blank">
                            <div class="banner-product-item">
                                <div class="thumb">
                                    <img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}">
                                </div>
                                {#<div class="content-item"> #}{#class +: special text-center justify-content-center#}
                                {#<div class="content">#}
                                {#<h5>#}
                                {#<span class="top">{{ banner_middle['description'] }}</span>#}{#class +: sfu-font#}
                                {#<span class="botom"> </span>#}
                                {#</h5>#}
                                {#<a class="a-normal" href="{{ banner_middle['url'] }}">Xem ngay!</a>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.Banner category -->
{% endif %}
<!-- /.block-ads-banner -->