<!-- block-blog -->
{% if latest_blog %}
    <div id="block-last-blog" class="block-news-home">
        <div class="container swiper-container swiper-product" data-time="5000">
            <div class="headding">
                <h3>{{ blog_title }}</h3>
            </div>
            <div class="">
                <div class="row">
                    {% for key, latest_blog in latest_blog %}
                        {% if key < 3 %}
                            <div class="col-12 col-md-4 col-news">
                                <div class="item-news news-item">
                                    <div class="img-new">
                                        {% if latest_blog['type'] == 'video' %}
                                            <div id="blog-thumb-video-{{ key }}" class="blog-thumb-video" style="width: 100%; height: 200px"
                                                 data-video-url="{{ latest_blog['video_url'] }}"></div>
                                        {% else %}
                                            <a href="{{ latest_blog['link'] }}">
                                                <img src="{{ latest_blog['image'] }}" alt="{{ latest_blog['title'] }}">
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="text-new content">
                                        <h4 class="ttl-new title">
                                            <a href="{{ latest_blog['link'] }}" title="{{ latest_blog['title'] }}">{{ latest_blog['title'] }}</a>
                                        </h4>
                                        <div class="meta-desc">
                                            <div class="date">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <span>{{ latest_blog['date_added']|date("d/m/Y") }}</span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <br/>
                                            {{ latest_blog['short_content']|length > 100 ? latest_blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : latest_blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-blog -->