<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Block-category -->
    <div id="block-banner">
        <div class="container">
            <div class="row">
                {% if is_on_mobile != 1 %}
                    <div class="col-md-4 col-lg-3">
                        <div id="block-category-product" class="block-category-product">
                            <h1 class="title title-font">
                                {{ category_title }}
                            </h1>
                            {% include 'default/template/common/category_list_template_seo_heading.twig' %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-8 col-lg-9">
                    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
                        <div id="carouselHome" class="owl-carousel owl-slide owl-banner owl-home-banner" data-time="{{ slideshow.transition_time }}">
                            {% for slide_key, slide in slideshow.slides %}
                                {% if slide['type'] == 'video' %}
                                    <div class="item {% if 0 == slide_key %} active{% endif %}" style="height: 450px;">
                                        <div id="video-slideshow-{{ slide_key }}" class="video-slideshow"
                                             data-video-url="{{ slide['video-url'] }}">
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="item {% if 0 == slide_key %} active{% endif %}">
                                        <a href="{{ slide['url'] }}" title="{{ slide['description'] }}" target="_blank">
                                            <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Block-category -->
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>