
/*Home page*/
.front-page .block-header,
.front-page .block-banner{
	position: relative;
}
.front-page .block-banner::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	height: 100px;
	width: 100%;
	z-index: 0
}
.front-page .block-banner>.container{
	position: relative;
	z-index: 1;
}
.owl-carousel{
	position: relative;
}
.owl-carousel.owl-product .owl-nav{
	margin: 0;
	position: absolute;
	top: -40px;
	right: 0;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]{
	padding: 0 10px !important;
	height: 25px;
	width: auto;
	margin: 0;
	line-height: 30px;
	border-radius: 0;
	opacity: 0.8;
	transition: all 0.2s ease;
	transform: translateY(0);
	top: auto;
	left: auto;
	position: relative;
	right: auto;
}
.owl-carousel.owl-product .owl-nav button.owl-prev{
	border-right: 1px solid #949494;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]:hover,
.owl-carousel.owl-product .owl-nav button[class*=owl-]:focus,
.owl-carousel .owl-nav button[class*=owl-]:hover,
.owl-carousel .owl-nav button[class*=owl-]:focus
{
	background: none;
	outline: none;
	opacity: 1;
}
.owl-carousel .owl-nav button[class*=owl-] i{
	background: #949494;
}
.owl-home-banner .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 12px;
	z-index: 1;
}
.owl-home-banner .slide-item{
	min-height: 408px;
	position: relative;
}
.owl-home-banner .slide-item .image-background{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.owl-home-banner .owl-dots>button.owl-dot>span{
	display: none;
}
.owl-home-banner .owl-dots>button.owl-dot{
	transition: all 0.2s ease;
	width: 12px;
	height: 12px;
	border: 1px solid #FFFFFF;
	background: #949494;
	border-radius: 100%;
	margin: 10px 5px;
}
.owl-home-banner .owl-dots>button.owl-dot:hover,
.owl-home-banner .owl-dots>button.owl-dot:focus,
.owl-home-banner .owl-dots>button.owl-dot.active{
	background: #2F6ED5;
	outline: none;
	width: 16px;
	height: 16px;
	top: 2px;
	position: relative;
}
.owl-home-banner .owl-nav button[class*=owl-],
.owl-carousel .owl-nav button[class*=owl-]{
	opacity: 0.8;
	transition: all 0.2s ease-in;
	position: absolute;
	top: 50%;
	z-index: 1;
	margin: 0;
	text-align: center;
	transform: translateY(-50%);
}
.owl-home-banner .owl-nav button[class*=owl-]{
	line-height: 40px;
	border-radius: 100%;
	background: #F6F6F6;
	width: 36px;
	height: 36px;
}
.owl-home-banner .owl-nav button[class*=owl-]:hover,
.owl-home-banner .owl-nav button[class*=owl-]:focus{
	opacity: 1;
	background-color: #F6F6F6;
}
.owl-carousel .owl-nav>button.owl-prev{
	left: -40px;
}
.owl-carousel .owl-nav>button.owl-next{
	right: -40px;
}
.block-top-sale-product .banner-left{
	border: 2px solid #868686;
	box-sizing: border-box;
	border-radius: 4px;
	display: inline-flex;
}
.block-top-sale-product .banner-left img{
	top: 55px;
	position: relative;
	left: 50px;
}
/*End home page*/

/*Product*/
.owl-product .owl-item{
	padding: 0 15px 30px;
}
.product-item{
	transition: all 1s ease;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 22px 24px;
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
}
.product-item:hover{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.product-item .product-highlight{
	display: flex;
}
.product-item .product-highlight >span{
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	border-radius: 4px;
	padding: 2px 12px;
	margin-right: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #FFFFFF;
}
.product-item .product-highlight .sale{
	background: #F26522;
}
.product-item .product-highlight .status{
	background: #3F4755;
}
.product-item .product-img{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
}
.product-item .product-img a{
	display: inline-block;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.product-item .product-title{
	height: 35px;
	overflow: hidden;
	line-height: 16px;
	display: inline;
}
.product-item .product-price{
	color: #D0203F;
	font-weight: 500;
	display: block;
	font-size: 18px;
}
.product-item .product-price-sale{
	color: #949494;
	font-size: 14px;
	display: block;
	text-decoration-line: line-through;
}
.product-item .product-preview{
	visibility: hidden;
	opacity: 0;
	display: flex;
	transition: all 0.3s ease;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 22px;
	transform: scaleY(0.92);
	transform-origin: top;
}
.product-item:hover{
	transform: scaleY(1.08);
	transform-origin: top;
	z-index: 1;
}
.product-item:hover .product-info{
	transform: scaleY(0.92);
	transform-origin: top;
}
.product-item:hover .product-preview{
	visibility: visible;
	opacity: 1;
}
.product-item .product-preview a{
	background: #D0203F;
	border-radius: 4px;
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 15px;
	display: inline-block;
	text-transform: uppercase;
}
.product-item .product-preview a.cart-btn{
	width: 100%;
}
.product-item .product-preview a.like-btn{
	margin-left: 20px;
	background: #3F4755;
}
.product-item .product-rating{
	margin: 10px 0;
}
.product-rating{
	margin: 10px 0;
}
.product-rating .rate-item{
	-webkit-mask:  url('/catalog/view/theme/tech_ipbencat/img/icons/star-off.svg') center no-repeat;
	mask: url('/catalog/view/theme/tech_ipbencat/img/icons/star-off.svg') center no-repeat;
	width: 15px;
	height: 15px;
	-webkit-mask-size: contain;
	display: inline-block;
	background: #949494;
}
.product-rating .rate-item.on{
	-webkit-mask-size: contain;
	-webkit-mask-image:  url('/catalog/view/theme/tech_ipbencat/img/icons/star-on.svg');
	mask-image: url('/catalog/view/theme/tech_ipbencat/img/icons/star-on.svg');
	background: #F9BA48;
}

/*Product filter*/
.box-product-filter{
	margin-bottom: 50px;
}
.box-product-filter .block-title{
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 24px;
	padding: 20px 0;
	margin: 0;
}
.box-product-filter nav.nav a{
	border-top: 1px solid #EBEBEB;
	line-height: 18px;
	padding: 15px 0;
}
.box-product-filter nav.nav a:hover,
.box-product-filter nav.nav a.active{
	font-weight: 500;
}
.box-product-filter#product-price .ui-widget.ui-widget-content{
	background: #E9E9E9;
	border-radius: 5px;
	height: 4px;
	border: none;
}
.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
	background: #D0203F;
}
.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
	border-radius: 100%;
	width: 16px;
	height: 16px;
	top: -0.4em;
	background: #fff;
	border: 1px solid #D0203F;
	outline: none;
	cursor: pointer;
}
.product-view .view-header .result-message{
	background: #F6F6F6;
	border-top: 2px solid #761324;
	padding: 1em 2em;
}
/*End product*/

/*Blog*/
.blog-item{
	margin: 15px 0;
}
.blog-item .blog-title{
	margin: 20px 0 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	display: block;
}
.blog-item .blog-info{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EBEBEB;
	color: #949494;
	width: auto;
    display: inline-block;
    min-width: 75%;
}
.blog-item .blog-info .blog-date{
	margin-right: 16px;
}
.blog-item .blog-summary{
	height: 80px;
	overflow: hidden;
}
.blog-item .blog-link{
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 8px 50px;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #D0203F;
	color: #D0203F;
	transition: all 0.2s ease;
}
.blog-item .blog-link:hover{
	color: #FFFFFF;
	background: #D0203F;
	text-decoration: none;
}
.blogs-page .blog-results{
	margin-top: -15px;
}
/*End Blog*/

/*Breadcrumb*/
ol.breadcrumb{
	padding: 0;
	background: none;
}
ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
	content: "";
	-webkit-mask:  url('/catalog/view/theme/tech_ipbencat/img/icons/drop-down.svg') no-repeat center;
	mask: url('/catalog/view/theme/tech_ipbencat/img/icons/drop-down.svg') no-repeat center;
	background: #949494;
	width: 8px;
	height: 8px;
	display: inline-block;
	position: relative;
	-webkit-mask-size: contain;
	transform: rotate(-90deg);
	margin: 0 12px;
}
ol.breadcrumb .breadcrumb-item a{
	color: #949494;
	font-weight: 400;
}
ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active{
	color: #D0203F;
	font-weight: 500;
}
/*End breadcrumb*/

/*Pagination*/
.pagination .page-item{
	margin-right: 8px;
}
.pagination .page-item .page-link{
	border: none;
	line-height: 25px;
	min-width: 25px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	padding: 0 6px;
	background: #F6F6F6;
	border-radius: 2px;
	color: #3F4755;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
	text-decoration: none;
	background: #D0203F;
	color: #fff;
}
.pagination .page-item .page-link i{
	top: 2px;
	font-size: 10px;
	/*background: #3F4755;*/ /*dunght - disable this - 20200410*/
}
.pagination .page-item:first-child .page-link:hover i,
.pagination .page-item:last-child .page-link:hover i{
	/*background-color: #fff;*/ /*dunght - disable this - 20200410*/
}
/*End pagination*/

/*Product detail*/
.product-teaser-fix{
	position: fixed;
	width: 100%;
	left: 0;
	top: 136px;
	background: #fff;
	z-index: 9999;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
	display: none;
	padding: 1em 0;
}
.product-teaser-fix .ml-auto{
	margin-top: 7px;
}
.product-detail .node-left .owl-thumb .owl-item{
	padding: 4px;
}
.product-detail .node-left .owl-thumb a{
	border: 1px solid rgba(134, 134, 134, 0.3);
	display: inline-block;
}
.product-detail .node-left .owl-thumb a:hover,
.product-detail .node-left .owl-thumb a:visited,
.product-detail .node-left .owl-thumb a:focus{
	border: 1px solid #3F3F3F;
}
.product-detail .choose-attribute .attr-item label{
	font-weight: 400;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 2px;
	background: #fff;
}
.product-detail .choose-attribute .attr-item input:checked ~ label{
	font-weight: 500;
	border: 1px solid #D0203F;
	color: #D0203F;
}
#product-info-tab.nav-tabs .nav-link{
	background: #F6F6F6;
	border-radius: 2px 2px 0px 0px;
	color: #868686;
	line-height: 25px;
	padding: 10px 40px;
	border-radius: 0;
	margin-right: 8px;
	text-transform: uppercase;
	font-weight: 500;
	-ms-flex-item-align: end;
	align-self: flex-end;
	transition: all 0.2s ease;
}
#product-info-tab.nav-tabs .nav-item{
	margin: 0;
	display: flex;
}
#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
	padding: 15px 40px;
	color: #F9FAFB;
	background: #D0203F;
}
/*End Product detail*/
@media (max-width: 815px) {
	.cart-area{
		text-align: left !important;
	}
	.block-header-logo img{
		width: 120px !important;
		max-width: none;
	}
	.block-header.fixed .input-group-icon.flex-fill{
		right: -37px;
	}
	.bestme-block-hot-product{
		padding-top: 0 !important;
	}
	.owl-home-banner .slide-item{
		min-height: 200px;
	}
}

.menu-product {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

/*!*css menu multi*!*/
#menu-product {
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

#menu-product ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
}

#menu-product li a {
	color: #454545;
	padding: 15px 40px 15px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-bottom: solid 1px #e5e5e5;
	text-decoration: none;
}

#menu-product li a:hover {
	text-decoration: none;
	color: #D0203F  ;
}

#menu-product ul li {
	position: relative;
}

#menu-product .sub-menu-2 {
	display: none;
	margin-left: 30px;
}

.dropdown-menu-product {
	transform: translate3d(0px, 44px, 0px) !important;
}

#menu-product .sub-menu-2 .sub-menu-3 {
	display: none;
	margin-left: 30px;
}

#menu-product  .active > ul {
	display: block;
}

#menu-product  .active .active > ul {
	display: block;
}

#menu-product ul .list-item::before {
	height: 51px;
	font-family: 'Font Awesome 5 Free';
	padding: 0 10px;
	content: "\f105";
	font-weight: 600;
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #666666;
	-webkit-transition: all 0.23s;
	transition: all 0.23s;
}

#menu-product ul .active::before {
	content: "\f107" !important;
}

#menu-product .sub-menu .selected > a {
	color: #D0203F !important;
}

#menu-product .sub-menu a {
	/*border: none;*/
	display: block;
}

.single-item .accodition {
	display: none;
}
.dropdown-filter .dropdown-menu {
	min-width: 300px !important;
	overflow-x: none;
}

.dropdown-filter .dropdown-menu-product {
	min-width: 300px !important;
}

#category-top #menu-product {
	height: 408px;
	padding-left: 20px;
	background-color: #fff;
}