{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <section class="bestme-top-content ">
        <div class="menu-side bestme-menu--sub bestme-hidden-md">
            {% include 'default/template/common/category_list_template.twig' %}
        </div>
        <div class="bestme-block-slideshow" data-time="{{ slideshow.transition_time }}">
            {% for slide in slideshow.slides %}
                <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                    <img class="d-block w-100 img-slide-top-content bestme-block-banner-1 lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                </a>
            {% endfor %}
        </div>
        <div class="bestme-menu--sub--mobile ">
            <div class="title">
                <h4>Danh mục sản phẩm</h4>
            </div>
            <ul class="bestme-menu--sub">
                {% include 'default/template/common/category_list_on_mobile_template.twig' %}
            </ul>
        </div>
    </section>
{% endif %}
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% for k, block in blocks %}
{% if block['visible'] %}
<section class="bestme-block-best-sales-product">

    <div class="container" {% if blocks|length < 1 %} style="margin-bottom: 165px" {% endif %}>
        <div class="row row-s-10">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title">{{ block['title'] }} </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% if block['collections'] is not empty %}
                <div class="container">
                    <div class="row row-s-10">
                        {% for k,collection in block['collections'] %}
                            <div class="col-md-{{ 12 / block['grid'] }} col-s-10 bestme-bg-white">
                                <article class="bestme-product">
                                    <div class="bestme-product-top" onclick="window.location='{{ collection['url'] }}'">
                                        <img class="bestme-product-img ls-is-cached lazyloaded" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}" src="{{ collection['image'] }}">
                                        <div class="bestme-product-action">
                                            <button class="bestme-btn bestme-btn--product-action mb-3" onclick="window.location='{{ collection["url"] }}'">
                                                <i class="ti-shopping-cart"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="bestme-product-content">
                                        <a href="{{ collection['url'] }}" class="bestme-product-title">
                                            {{ collection['title'] }}
                                        </a>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                        <div class="action-readmore hight">
                            <button type="button" onclick="window.location='{{ block['view_more'] }}'" class="bestme-btn bestme-btn--readmore">Xem thêm</button>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for k,product in block['products'] %}
                    {#{% if loop.index <= best_sales_product_display_grid_quantity * 2 %}#}
                    <div class="col-{{ 12 / block['grid'] }} col-sm-6 col-md-6 col-lg-{{ 12 / block['grid'] }} col-xl-{{ 12 / block['grid'] }} bestme-bg-white">
                        <article class="bestme-product">
                            <div class="bestme-product-top" onclick="window.location='{{ product.href }}'">
                                <img class="bestme-product-img lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                <div class="bestme-product-action">
                                    <button class="bestme-btn bestme-btn--product-action mb-3" onclick="window.location='{{ product.href }}'">
                                        <i class="ti-shopping-cart"></i>
                                    </button>
                                </div>
                                {% if product['percent_sale'] is not empty %}
                                    <span class="bestme-produt-sale  {% if product['product_is_stock'] == false %} produt-sale-right {% endif %}">{{ product['percent_sale'] }}</span>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <span class="bestme-produt-new">Hết hàng</span>
                                {% endif %}
                            </div>
                            <div class="bestme-product-content">
                                <a href="{{ product['href'] }}" class="bestme-product-title" data-toggle="tooltip"
                                   title="{{ product.name|length > 40 ? product.name : "" }}">
                                    {{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}
                                </a>
                                <div class="bestme-product-cost">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="present">
                                            {{ contact }}
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            <p class="present">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] | replace({'VND': 'VND'}) }}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] | replace({'VND': 'VND'}) }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] | replace({'VND': 'VND'}) }}
                                                    {% endif %}
                                                {% endif %}
                                            </p>
                                        {% else %}
                                            {% if product['max_compare_price_version'] is null and product['compare_price_master'] == product['price_master'] %}
                                                <p class="present">{{ product['price_master'] | replace({'VND': 'VND'}) }}</p>
                                            {% else %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <p class="old">{{ product['compare_price_master'] | replace({'VND': 'VND'}) }}</p>
                                                {% else %}
                                                    <p class="old">
                                                        {{ product['min_compare_price_version'] | replace({'VND': 'VND'}) }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] | replace({'VND': 'VND'}) }}
                                                        {% endif %}
                                                    </p>
                                                {% endif %}

                                                {% if product['max_price_version'] is null %}
                                                    <p class="present">{{ product['price_master'] | replace({'VND': 'VND'}) }}</p>
                                                {% else %}
                                                    <p class="present">
                                                        {{ product['min_price_version'] | replace({'VND': 'VND'}) }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] | replace({'VND': 'VND'}) }}
                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <button type="button" onclick="window.location='{{ product.href }}'" class="bestme-btn bestme-btn--border  bestme-text--uppercase "> mua ngay
                                </button>
                            </div>
                        </article>
                    </div>
                    {#{% endif %}#}
                {% endfor %}
                {% if blocks|length > 0 %}
                <div class="action-readmore hight">
                    <button type="button" onclick="window.location='{{ block['view_more'] }}'" class="bestme-btn bestme-btn--readmore">Xem thêm</button>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if k == 0 %}
        {% if banners_visible == '1' %}
            {% if banner_highlight['visible'] == '1' %}
                <div class="bg-image-album" title="{{ banner_highlight['description'] }}" onclick="window.open('{{ banner_highlight['url'] }}', '_blank');" style="background-image: url('{{ banner_highlight['image-url'] }}'); {% if banner_highlight['image-url'] is empty %} height: 150px; {% endif %}"> </div>
            {% endif %}
        {% endif %}
    {% elseif k == (blocks|length - 1) %}
        {% if banners_visible == '1' %}
            {% if banner_left['visible'] == '1' %}
                <div class="bg-image-album" title="{{ banner_left['description'] }}" onclick="window.open('{{ banner_left['url'] }}', '_blank');" style="background-image: url('{{ banner_left['image-url'] }}'); {% if banner_left['image-url'] is empty %} height: 150px; {% endif %}"></div>
            {% endif %}
        {% endif %}
    {% endif %}

</section>
{% endif %}
{% endfor %}

<div class="bestme_app_after_product">

</div>

{% if partners_visible == '1' %}
<section class="bestme-block-brand">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title">{{ partners_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="bestme-slide-brand owl-carousel owl-theme owl-hidden-dots m-auto" data-limit-inline="{{ partners_limit_per_line }}" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-interval="{{ slideshow.transition_time }}">
                    {% for partner in partners %}
                        <a href="{{ partner.url }}">
                            <img class="d-block w-100 img-slide-brand lazyload" title="{{ partner['description'] }}" data-src="{{ partner['image-url'] }}" alt="First slide">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if latest_blog %}
    <section class="bestme-block-best-post">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="title-section-img">
                        <div class="title-logo">
                            <span class="square-first"></span>
                            <span class="square-primary"></span>
                            <span class="square-second"></span>
                        </div>
                        <h2 class="title">{{ blog_title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for k,blog in latest_blog %}
                    {% if k < 3 %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <article class="bestme-post">
                                <div class="bestme-post-img">
                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                </div>
                                <div class="bestme-post-info">
                                    <a href="{{ blog['link'] }}" class="title" >
                                        {{ blog['title'] }}
                                    </a>
                                    <div class="author-time">
                                        <span class="author">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                        <span class="time">{{ blog['date_added']|date('d/m/Y') }}</span>
                                    </div>
                                    <p class="description">{{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : blog['short_content']|html_entity_decode|striptags }} </p>
                                    <a class="blog-link" href="{{ blog['link'] }}">
                                        <button type="button" class="bestme-btn bestme-btn--primary bestme-btn--pd-hz-large">Xem bài viết</button>
                                    </a>
                                </div>
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

<div class="bestme_app_before_footer">

</div>

{{ footer }}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        /* resize left category block due to slide height. TODO: listen and change auto... */
        var slideHeight = 0,
            count = 1;

        // resize mỗi giây cho đến khi chiều cao chính xác
        var setHeight = setInterval(resizeLeftCategoryHeight, 1000);

        function resizeLeftCategoryHeight() {
            slideHeight = $('.bestme-block-slideshow').height();

            //console.log('resizeLeftCategoryHeight: #' + count + ', height: ' + slideHeight);
            count++;

            if (slideHeight > 40) {
                $('.menu-side.bestme-menu--sub').height(slideHeight - 8); // 5: ?
                clearInterval(setHeight);
            }
        }
    });
</script>