@import url('/catalog/view/theme/other_dothovie/css/font.css');
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #2C3440;
    overflow-x: hidden;
    line-height: 1.5;
    background: #fff;
}
b,strong {
    font-weight: 500
}
.container {
    max-width: 1170px;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    color: #00558D;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
h1{
    font-weight: 500;
    font-size: 32px;
}
a:hover{
    color: #2C3440;
    text-decoration: none;
}
.hover-primary:hover{
    color: #B8311B !important;
}
.owl-hidden-dots .owl-dots {
    display: none !important;
}
.line-height-default {
    line-height: 1.2;
}
a.text-primary:focus, a.text-primary:hover, a.text-light:hover {
    color: #3A8E08!important;
}
.hover-black {
    color: #000 !important;
}
a.hover-btn-primary:hover {
    background-color: #E58718 !important;
    color: #fff !important;
}
.btn-hover-primary:hover {
    background-color: #E58718 !important;
    border-color: #E58718 !important;
}
.fz-10{
    font-size: 10px;
}
.fz-12{
    font-size: 12px;
}
.fz-13{
    font-size: 13px;
}
.fz-14{
    font-size: 14px !important;
}
.fz-15{
    font-size: 15px;
}
.fz-16{
    font-size: 16px;
}
.fz-17{
    font-size: 17px;
}
.fz-18{
    font-size: 18px;
}
.fz-20{
    font-size: 20px;
}
.fz-22{
    font-size: 22px;
}
.fz-24{
    font-size: 24px;
}
.fz-25{
    font-size: 25px;
}
.fz-26{
    font-size: 26px;
}
.fz-28{
    font-size: 28px;
}
.fz-30{
    font-size: 30px;
}
.fz-32{
    font-size: 32px;
}
.fz-34{
    font-size: 34px;
}
.fz-36{
    font-size: 36px;
}
.fz-38{
    font-size: 38px;
}
.fz-40{
    font-size: 40px;
}
.fz-45{
    font-size: 45px;
}
.fz-48{
    font-size: 48px;
}
.fz-60{
    font-size: 60px;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;;
}
.fw-600 {
    font-weight: 600 !important;;
}
.fw-700 {
    font-weight: 700 !important;;
}
.mb-4, .my-4 {
    margin-bottom: 32px!important;
}
button{
    border: none;
}
button:focus{
    border: none;
    outline: none;
}
.btn{
    border-radius: 0;
    border: none;
    font-size: inherit;
}
.dropdown-menu{
    color: inherit;
}
.wrap-form-login .btn {
    min-height: 36px;
}
button.btn:hover,
a.btn:hover {
    color: #3A6182;
}
.btn-primary {
    background-color: #FEE34D !important;
    color: #2C3440;
    border: none;
    border-radius: 30px;
}
a.btn-primary:hover,
a.btn-third:hover,
button.btn-primary:hover,
button.btn-third:hover{
    background: #EBF8FF!important;
    color: #3A6182 !important;
}
.btn-second {
    background: #F8F8F8 !important;
    border: none;
    color: #2C3440;
}
.btn-third {
    background: #fff !important;
    border: 1px solid #CECECE !important;
    color: #8B8B8B;
}
.btn-fourth {
    background: #EC7141 !important;
    border: none !important;
    color: #fff;
}
.btn-fourth.btn:hover{
    background-color: #3A6182 !important;
    color: #fff;
}
.btn-fourth.btn:hover i.icon{
    background: #fff!important;
}
.bg-primary {
    background-color: #FEE34D !important;
}
.bg-second {
    background-color: #F8F8F8 !important;
}
.bg-third {
    background-color: #2C3440 !important;
}
.bg-fourth {
    background-color: #E5E5E5 !important;
}
.bg-fifth {
    background-color: #8B8B8B !important;
}
.bg-sixth {
    background-color: #FFF6C3 !important;
}
.bg-seventh {
    background-color: #EC7141 !important;
}
.bg-eighth {
    background-color: #495057 !important;
}
.text-primary {
    color: #00558D !important;
}
.text-second {
    color: #8B8B8B !important;
}
.text-third {
    color: #E12C43 !important;
}
.text-fourth {
    color: #00558D !important;
}
.text-fifth{
    color: #2C3440 !important;
}
.text-underline {
    text-decoration: underline;
}
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hover-zoom-img {
    overflow: hidden;
}
.hover-zoom-img img {
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.hover-zoom-img:hover img {
    transform: rotate(8deg) scale(1.3);
    -webkit-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

/* Rate Star by User */
.wrap-star-rate .star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/catalog/view/theme/other_dothovie/img/icons/i-star.png') no-repeat center;
    background-size: contain;
}
.wrap-star-rate .star-rate {
    background: url('/catalog/view/theme/other_dothovie/img/icons/i-star-rate.png') no-repeat center;
    background-size: contain;
}
/* End Rate Star */
.user-star-rate .rating-group {
  display: inline-flex;
}
.user-star-rate .rating__icon {
  pointer-events: none;
}
.user-star-rate .rating__input {
  position: absolute !important;
  left: -9999px !important;
}
.user-star-rate .rating__input--none {
  display: none;
}
.user-star-rate .rating__label {
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    margin-right: 1px;
}
.user-star-rate .rating__icon--star {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url('/catalog/view/theme/other_dothovie/img/icons/i-star-rate-big.png') no-repeat center;
    background-size: contain;
}
.user-star-rate .rating__input:checked ~ .rating__label .rating__icon--star {
    background: url('/catalog/view/theme/other_dothovie/img/icons/i-star-big.png') no-repeat center;
    background-size: contain;
}
.user-star-rate .rating-group:hover .rating__label .rating__icon--star {
    background: url('/catalog/view/theme/other_dothovie/img/icons/i-star-rate-big.png') no-repeat center;
    background-size: contain;
}
.user-star-rate .rating__label:hover ~ .rating__label .rating__icon--star {
    background: url('/catalog/view/theme/other_dothovie/img/icons/i-star-big.png') no-repeat center;
    background-size: contain;
}
/* Eend: Rate Star by User */
.paginate ul.nav a{
    color: #454545;
    line-height: 22px;
    padding: 5px;
    font-weight: 500;
}
.paginate ul.nav a.page-current,
.paginate ul.nav a:hover{
    font-weight: 400;
    color: #F17B24;
}
.pointer {
    cursor: pointer;
}
.form-control {
    min-height: 36px;
    background: #fff;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 20px;
}
.form-control::placeholder{
    color: #8B8B8B;
}
.form-control:-ms-input-placeholder{
    color: #8B8B8B;
}
.form-control::-ms-input-placeholder{
    color: #8B8B8B;
}
select.form-control{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("/catalog/view/theme/other_dothovie/img/icons/drop-down.svg") calc(100% - 10px) center no-repeat;
    padding-right: 30px;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #3A6182;
}
.has-error .form-control{
    border-color: #E12C43;
}
.has-error .form-control+.error-text{
    color: #E12C43;
}
.form-control+.error-text{
    padding-top: 8px;
    padding-left: 8px;
    margin: 0;
}

/* Reset checkbox button */
.custom-checkbox .custom-control-label::before {
    vertical-align: initial;
    border-radius: 2px;
}
.custom-control {
    line-height: 28px;
 }
.custom-control-input:checked~.custom-control-label::before {
    border-color: #fee34d;
    background-color: #fff;
    box-shadow: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    text-align: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background: #fee34d;
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/check.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/check.svg');
    left: -1.4rem;
    top: 8px;
}
.icon.icon-user{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/user.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/user.svg');
}
/* Reset radio button */
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    position: absolute;
    top: .5rem;
    left: -1.25rem;
    background: #3A6182;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: none;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #fff;
    border: 1px solid #3A6182;
    box-shadow: none;
}
.tabs-checkbox .custom-control-label::after, .tabs-checkbox .custom-radio .custom-control-label::before {
    top: 10px;
}
.tabs-checkbox .custom-radio .custom-control-input:checked~.custom-control-label::before {
    top: 10px;
}
.tabs-checkbox .custom-radio .custom-control-input:checked~.custom-control-label::after {
    top: 13px;
}
/* Tootip change background */
.tooltip-inner {
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tooltip.show {
  opacity: 1;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #fff;
}
/* End: Tooltip */
/* Change modal fade => zoom */
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
.modal-dialog {
    margin: auto;
    min-height: 575px;
    max-width: 635px;
}

i.icon{
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: #2D2F52;
    position: relative;
}
.icon.icon-user{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/user.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/user.svg');
}
.icon.icon-heart{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/heart.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/heart.svg');
}
.icon.icon-cart{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/cart.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/cart.svg');
}
.icon.icon-cart-plus{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/cart-plus.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/cart-plus.svg');
}
.icon.icon-chevron-left{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/drop-down.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/drop-down.svg');
    transform: rotate(90deg);
}
.icon.icon-chevron-right{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/drop-down.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/drop-down.svg');
    transform: rotate(-90deg);
}
.icon.icon-facebook{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/facebook.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/facebook.svg');
}
.icon.icon-instagram{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/instagram.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/instagram.svg');
}
.icon.icon-youtube{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/youtube.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/youtube.svg');
}
.icon.icon-google{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/google.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/google.svg');
}
.icon.icon-eye{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/eye.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/eye.svg');
}
.icon.icon-no-eye{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/no-eye.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/no-eye.svg');
}
.icon.icon-pencil-alt{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/pencil-alt.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/pencil-alt.svg');
}
.icon.icon-support{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/support.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/support.svg');
}
.icon.icon-truck{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/truck.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/truck.svg');
}
.icon.icon-product{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/product.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/product.svg');
}
.icon.icon-calendar{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/calendar.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/calendar.svg');
}
.icon.icon-close{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/close.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/close.svg');
}
.icon.icon-close-circle{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/close-circle.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/close-circle.svg');
}
.icon.icon-filter{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/filter.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/filter.svg');
}
.icon.icon-bar{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/bar.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/bar.svg');
}
.icon.icon-arrow-up{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/arrow-up.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/arrow-up.svg');
}
.icon.icon-arrow-right{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/arrow-right.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/arrow-right.svg');
}
.icon.icon-arrow-left{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/arrow-left.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/arrow-left.svg');
}
.icon.icon-search{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/search.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/search.svg');
}
.icon.icon-rocket{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/rocket.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/rocket.svg');
}
.icon.icon-like{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/like.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/like.svg');
}
.icon.icon-shield{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/shield.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/shield.svg');
}
.icon.icon-letter{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/letter.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/letter.svg');
}
.icon.icon-trash{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/trash.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/trash.svg');
}
.icon.icon-phone{
    -webkit-mask-image:  url('/catalog/view/theme/other_dothovie/img/icons/phone.svg');
    mask-image: url('/catalog/view/theme/other_dothovie/img/icons/phone.svg');
}
.input-password-group{
    position: relative;
}
.input-password-group input.form-control{
    padding-right: 50px;
}
.input-password-group button.show-password{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    border: none;
    background: none;
    height: 100%;
    display: inline-flex;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.input-password-group button.show-password>i{
    background: #969696;
    font-size: 18px;
    margin: auto;
}
.input-password-group button.show-password:focus{
    outline: none;
}
.input-password-group button.show-password.active>i{
    background: #343434;
}
input[type="date"] {
    position: relative;
    padding: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}
input[type="date"]:before {
    background: url("/catalog/view/theme/other_dothovie/img/icons/calendar.svg") center no-repeat;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #999;
}
.border, .border-top, .border-bottom .border-right, .border-left {
    border-color: #E5E5E5 !important;
}
.rounded-2{
    border-radius: 2px !important;
}
.rounded-3{
    border-radius: 3px !important;
}
.rounded-4{
    border-radius: 4px !important;
}
.rounded-5{
    border-radius: 5px !important;
}
.rounded-10{
    border-radius: 10px !important;
}
.rounded-15{
    border-radius: 15px !important;
}
.rounded-20{
    border-radius: 20px !important;
}
.rounded-25{
    border-radius: 25px !important;
}
.rounded-30{
    border-radius: 30px !important;
}
.rounded-40{
    border-radius: 40px !important;
}
.rounded-bottom-0{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.rounded-top-0{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.rounded-left-0{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.rounded-right-0{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.dropdown-menu{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 0;
    min-width: 175px;
}
.dropdown-cart .dropdown-menu{
    min-width: 335px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.space-nowrap{
    white-space: nowrap;
}
.border-panel{
    border: 1px solid #E5E5E5;
    border-top: 4px solid #3A8E08;
}
.btn-facebook-share{
    color: #fff;
    background: #3A559F;
}
.btn-google-share{
    color: #fff;
    background: #DC4E41;
}
.nav .nav-link:hover,
.nav .nav-link.active{
    font-weight: 500;
}
.mx-n10{
    margin-left: -10px;
    margin-right: -10px;
}
.w-20{
    width: 20% !important;
}