{{ header }}
<div class="bestme_app_after_header">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
<main id="main-wrapper" class="">
    <div class="container">
        {% for section in sections_layout %}
            {% set path= 'tech_kesaths/template/common/section_home/'~section['file']~'.twig' %}
            <div class="{{ section.file }}">
                {% include path %}
            </div>
        {% endfor %}
    </div>
    <!-- End container -->
</main>

<div class="bestme_app_before_footer">

</div>
{{ footer }}

<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
    if (homeVideo) {
        homeVideo.init({
            sliderType: 'bootstrap_carousel',
            videoCarouselElements: $('.video-slideshow'),
            postThumbnailElements: $('.blog-thumb-video'),
            slideshowSelector: '#carouselHome'
        });
    }
</script>

<script>
    function isEmpty(variable) {
        return undefined === variable || '' === variable || (Array.isArray(variable) && 0 === variable.length) || false === variable || null === variable;
    }

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $(document).on('click', '.btn-change-product-tab', function () {
            // call api v1 get products
            const _this = $(this);
            const is_loaded = _this.data('is_loaded');
            if (0 === is_loaded) {
                $.ajax({
                    url     : "/api/v1_products/products",
                    method  : 'get',
                    data    : {
                        collection: _this.data('collection_id'),
                        limit: {{ limit_product_in_block }}
                    },
                    dataType: 'json',
                    success : function (response) {
                        if (Array.isArray(response.result)) {
                            const targetSelector = _this.prop('href').substring(_this.prop('href').indexOf('#'));
                            const targetSliderElement = $(targetSelector + ' .owl-product');
                            targetSliderElement.html('');

                            const products = response.result;
                            const grid = parseInt(_this.data('grid'));
                            const row = parseInt(_this.data('row'));

                            let productsHtml = '';
                            const items_per_slide = grid * row;
                            for (let i = 0; i < products.length; i++) {
                                const product = products[i];
                                if (1 === items_per_slide || 1 === (i + 1) % items_per_slide) {
                                    productsHtml += `<div class="slide-item">
                                                        <div class="row px-2 row-cols-${grid}">`;
                                }
                                let priceHtml = '';
                                if (product.is_contact_for_price) {
                                    priceHtml += `<span class="new-price text-third fw-600">{{ contact }}</span>`;
                                } else {
                                    if (0 === parseInt(product.price_master_real) || 0 === parseInt(product.max_price_version_real)) {
                                        priceHtml += `<span class="new-price text-third fw-600">`;
                                        if (null === product.max_price_version) {
                                            priceHtml += product.compare_price_master;
                                        } else {
                                            priceHtml += product.min_compare_price_version;
                                            if (product.min_compare_price_version != product.max_compare_price_version) {
                                                priceHtml += ' ~ ' + product.max_compare_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;
                                    } else {
                                        priceHtml += `<span class="new-price text-third fw-600">`;
                                        if (null === product.max_price_version) {
                                            priceHtml += product.price_master;
                                        } else {
                                            priceHtml += product.min_price_version;
                                            if (product.max_price_version != product.min_price_version) {
                                                priceHtml += ' ~ ' + product.max_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;

                                        priceHtml += `<span class="old-price text-second fz-12">`;
                                        if (null === product.max_compare_price_version) {
                                            priceHtml += product.compare_price_master;
                                        } else {
                                            priceHtml += product.min_compare_price_version;
                                            if (product.min_compare_price_version != product.max_compare_price_version) {
                                                priceHtml += ' ~ ' + product.max_compare_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;
                                    }
                                }

                                productsHtml += `<div class="col">
                                                    <div class="pro-item">
                                                        <div class="img-thumb pro-thumb position-relative">
                                                            <div class="img-wrap">
                                                                <a href="${product['href']}">
                                                                    <img src="${product['thumb']}" height="500" width="200" alt="${product['name']}">
                                                                </a>
                                                            </div>
                                                            ${isEmpty(product['percent_sale']) ? '' : '<div class="pro-sticky sale-off">' + product['percent_sale'] + '</div>'}
                                                        </div>
                                                        <div class="d-flex pt-3 mb-1 flex-wrap justify-content-center">
                                                            <span class="pro-cat fz-12 fw-500 text-second">${ product['nameCategory'] }</span>
                                                            \<!-- Star Rate --\>
                                                            <div class="wrap-star-rate text-right d-none">
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star"></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            \<!-- End: Star Rate --\>
                                                        </div>
                                                        <div class="pro-info">
                                                            <a href="${ product['href'] }"
                                                               class="pro-item-title text-primary d-block my-1">${ product['name'] }</a>
                                                            <div class="pro-price my-2">${ priceHtml }</div>
                                                        </div>
                                                        <div class="pro-overlay transition d-flex justify-content-center">
                                                            <a href="${ product['href'] }" class="view-now btn-icon">
                                                                <i class="icon icon-eye"></i>
                                                            </a>
                                                            <a href="${ product['href'] }" class="add-to-cart btn-icon">
                                                                <i class="icon icon-cart-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>`;

                                if (1 === items_per_slide || 0 === (i + 1) % items_per_slide || i + 1 === products.length) {
                                    productsHtml += `</div>
                                                    \<!-- End row --\>
                                                </div>
                                                \<!-- End slide-item --\>`;
                                }
                            }

                            // update products slider html
                            targetSliderElement.html(productsHtml);

                            // re-init owl product slider
                            owlInit(targetSliderElement, 1, true, false);

                            // update element is_loaded
                            _this.data('is_loaded', 1);
                        }
                    }
                });
            }
        });

        // trigger click first collection product tab button
        $('.btn-change-product-tab.active').trigger('click');
    })
</script>