{% extends "theme/common/base.twig" %}


{#{% block bcontent %}#}
{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile">
            <!-- control component -->
            <section class="side-item side-head no-bg">
                <!-- item -->
                <div class="item-sidebar no-bg">
                    <a href="{{ back_section }}" class="item-show no-bg bold"><img src="view/image/theme/arrow-left.png" alt="">{{ product_heading_title }}</a>
                </div>
                <!-- /.item -->
            </section>
            <!-- /.control component -->
            <div class="side-over overflow-inherit">

                <!-- body sidebar -->
                <section class="side-item side-body overflow-inherit">
                    <!-- item -->
                    <div class="item-sidebar {% if 0 == product_idx %}sub-item{% endif %}" data-idx="0">
                        <div class="item-show {% if 0 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ best_sales_product_setting_title }}</span>
                        </div>
                        <div class="panel overflow-inherit" {% if 0 == product_idx %}style="display: block;"{% endif %}>
                            <div class="form-group">
                                <input type="text" name="title" value="{{ config.setting.title }}" class="form-control"
                                       placeholder="{{ best_sales_product_setting_title_placeholder }}" aria-describedby="helpId">
                            </div>
                            <div class="form-group">
                                <input type="text" name="sub-title" value="{{ config.setting.sub_title }}" class="form-control"
                                       placeholder="{{ best_sales_product_setting_sub_title_placeholder }}" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="item-sidebar {% if 2 == product_idx %}sub-item{% endif %}" data-idx="2">
                        <div class="item-show {% if 2 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_collection_select }}</span>
                        </div>
                        <div class="panel overflow-inherit" {% if 2 == product_idx %}style="display: block;"{% endif %}>
                            <form action="">
                                <div class="form-check">
                                    <div class="check-box">
                                        <label class="custom-check">{{ txt_auto_retrieve_data }}
                                            <input class="input" type="radio" {{ config.setting.auto_retrieve_data == '1' ? 'checked' : '' }} name="radio" value="auto">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="check-box">
                                        <label class="custom-check">{{ txt_collection_option }}
                                            <input class="input"
                                                   type="radio"
                                                   {{ config.setting.auto_retrieve_data == '0' and config.setting.resource_type == '1' ? ' checked ' : ' ' }}
                                                   name="radio"
                                                   value="collection">
                                            <span class="checkmark"></span>
                                        </label>

                                        <div class="overflow-inherit mb-3"
                                                id="collection_panel"
                                                {% if config.setting.auto_retrieve_data != '0' or config.setting.resource_type != '1' %}
                                                    style="display: none;"
                                                {% endif %}>
                                            <!-- select -->
                                            <div class="custom-selectag-xx-fail">
                                                <select class="form-control" name="collection_select">
                                                    <option value="">-- select --</option>
                                                    {% for value in collections %}
                                                        <option value="{{ value.collection_id }}" {{ value.collection_id == config.setting.collection_id ? 'selected' : '' }}>{{ value.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <a class="btn-edit pull-right" href="{{ href_edit_collection }}" target="_blank">{{ txt_collection_edit }}</a>
                                        </div>
                                    </div>

                                    <div class="check-box">
                                        <label class="custom-check">{{ txt_category_option }}
                                            <input class="input"
                                                   type="radio"
                                                   {{ config.setting.auto_retrieve_data == '0' and config.setting.resource_type == '2' ? ' checked ' : ' ' }}
                                                   name="radio"
                                                   value="category">
                                            <span class="checkmark"></span>
                                        </label>
                                        <div class="overflow-inherit mb-3"
                                             id="category_panel"
                                             {% if config.setting.auto_retrieve_data != '0' or config.setting.resource_type != '2' %}
                                                style="display: none;"
                                             {% endif %}>
                                            <!-- select -->
                                            <div class="custom-selectag-xx-fail">
                                                <select class="form-control" name="category_select">
                                                    <option value="">-- select --</option>
                                                    {% for value in categories %}
                                                        <option value="{{ value.category_id }}" {{ value.category_id == config.setting.category_id ? 'selected' : '' }}>{{ value.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
{#                                            <a class="btn-edit pull-right" href="{{ href_edit_category }}" target="_blank">{{ txt_category_edit }}</a>#}
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.item -->

                    <div class="item-sidebar {% if 1 == product_idx %}sub-item{% endif %}" data-idx="1">
                        <div class="item-show {% if 1 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_num_display }}</span>
                            <a class="d-none" href="#">{{ txt_num_display }}</a>
                        </div>
                        <div class="panel overflow-inherit" {% if 1 == product_idx %}style="display: block;"{% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail">
                                <select class="form-control" name="quantity_select">
                                    <option value="2" {% if config.display.grid.quantity == '2' %}selected{% endif %}>2 {{ txt_product_suffix }}</option>
                                    <option value="4" {% if config.display.grid.quantity == '4' %}selected{% endif %}>4 {{ txt_product_suffix }}</option>
                                    <option value="6" {% if config.display.grid.quantity == '6' %}selected{% endif %}>6 {{ txt_product_suffix }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item-sidebar {% if 7 == product_idx %}sub-item{% endif %}" data-idx="7">
                        <div class="item-show {% if 7 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_row_num_display }}</span>
                            <a class="d-none" href="#">{{ txt_row_num_display }}</a>
                        </div>
                        <div class="panel overflow-inherit" {% if 7 == product_idx %}style="display: block;"{% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail">
                                <select class="form-control" name="row_select">
                                    {% for changeable_row in changeable_rows %}
                                        <option value="{{ changeable_row }}" {% if config.display.grid.row == changeable_row %}selected{% endif %}>{{ changeable_row }} {{ txt_row_suffix }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item-sidebar {% if 3 == product_idx %}sub-item{% endif %}" data-idx="3">
                        <div class="item-show {% if 3 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_num_display_mobile }}</span>
                            <a class="d-none" href="#">{{ txt_num_display_mobile }}</a>
                        </div>
                        <div class="panel overflow-inherit" {% if 3 == product_idx %}style="display: block;"{% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail">
                                <select class="form-control" name="quantity_mobile_select">
                                    <option value="1" {% if config.display.grid_mobile.quantity == '1' %}selected{% endif %}>1 {{ txt_product_suffix }}</option>
                                    <option value="2" {% if config.display.grid_mobile.quantity == '2' %}selected{% endif %}>2 {{ txt_product_suffix }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item-sidebar {% if 4 == product_idx %}sub-item{% endif %}" data-idx="4">
                        <div class="item-show {% if 4 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_row_num_display_mobile }}</span>
                            <a class="d-none" href="#">{{ txt_row_num_display_mobile }}</a>
                        </div>
                        <div class="panel overflow-inherit" {% if 4 == product_idx %}style="display: block;"{% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail">
                                <select class="form-control" name="row_mobile_select">
                                    {% for changeable_row in changeable_rows_on_mobile %}
                                        <option value="{{ changeable_row }}" {% if config.display.grid_mobile.row == changeable_row %}selected{% endif %}>{{ changeable_row }} {{ txt_row_suffix }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->

                    <!-- item v2.10.2 -->
                    <div class="item-sidebar {% if 5 == product_idx %}sub-item{% endif %}" data-idx="5" style="position: relative;">
                        <div class="onoffswitch" style="position: absolute;right: 10px;top: 10px;z-index: 9999;">
                            <input type="checkbox" name="auto-play" class="onoffswitch-checkbox" id="product-auto-play-" {{ config.setting['autoplay'] == '1' ? 'checked' : '' }}>
                            <label class="onoffswitch-label" for="product-auto-play-">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <div class="item-show {% if 5 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_auto_play_slides }}</span>
                            <a class="d-none" href="#">{{ txt_auto_play_slides }}</a>
                        </div>
                        <div class="panel overflow-inherit" {% if config.setting['autoplay'] == '0' %} style="padding: 0;" {% endif  %}  {% if 5 == product_idx %}style="display: block;"{% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail" {% if config.setting['autoplay'] == '0' %} style="display: none;" {% endif  %}>
                                <span class="accordion" style="display: block;padding: 5px 0;">{{ txt_page_switching_time }}</span>
                                <select class="form-control" name="autoplay-time" id="autoplay-time">
                                    <option value="1" {{ config.setting['autoplay_time'] == '1' ? 'selected' : '' }}>
                                        {{ txt_one_seconds }}
                                    </option>
                                    <option value="2" {{ config.setting['autoplay_time'] == '2' ? 'selected' : '' }}>
                                        {{ txt_two_seconds }}
                                    </option>
                                    <option value="3" {{ config.setting['autoplay_time'] == '3' ? 'selected' : '' }}>
                                        {{ txt_three_seconds }}
                                    </option>
                                    <option value="4" {{ config.setting['autoplay_time'] == '4' ? 'selected' : '' }}>
                                        {{ txt_four_seconds }}
                                    </option>
                                    <option value="5" {{ config.setting['autoplay_time'] == '5' ? 'selected' : '' }}>
                                        {{ txt_five_seconds }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="item-sidebar {% if 6 == product_idx %}sub-item{% endif %}" data-idx="6" style="position: relative;">
                        <div class="onoffswitch" style="position: absolute;right: 10px;top: 10px;z-index: 9999;">
                            <input type="checkbox" name="loop" class="onoffswitch-checkbox" id="loop-" {{ config.setting['loop'] == '1' ? 'checked' : '' }}>
                            <label class="onoffswitch-label" for="loop-">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <div class="item-show {% if 6 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_auto_repeat_list }}</span>
                            <a class="d-none" href="#">{{ txt_auto_repeat_list }}</a>
                        </div>
                    </div>
                    <!-- /. item v2.10.2 -->

                </section>
                <!-- /.body sidebar -->

            </div>

            <!-- Common setting button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.Section content -->

    <script src="view/javascript/theme/custom-file-input.js"></script>

    <style type="text/css">
        #side-over{
            overflow-y: scroll!important;
            padding-bottom: 30px!important;
        }
        .pull-right{
            float: right;
        }
        .item-sidebar.sub-item .item-show span {
            font-weight: bold;
        }
    </style>

    <script>
        $(document).ready(function () {
            /* setting listener on value change */

            $('input[name="title"]').on('change', function () {
                var config = {{ config|json_encode|raw }};
                config.setting.title = $(this).val();

                postChange(config);
            });

            $('input[name="sub-title"]').on('change', function () {
                var config = {{ config|json_encode|raw }};
                config.setting.sub_title = $(this).val();

                postChange(config);
            });

            $('input[value="auto"]').on('change',function(){
                var config = {{ config|json_encode|raw }};
                if ($(this).val() === 'auto'){
                    $('#collection_panel').show();
                    config.setting.auto_retrieve_data = 1;
                    config.setting.resource_type = '0';
                } else{
                    $('#collection_panel').hide();
                }
                postChange(config);
            });

            $('input[value="collection"]').on('change',function(){
                var config = {{ config|json_encode|raw }};
                if ($(this).val() === 'collection'){
                    $('#collection_panel').show();
                    $('#category_panel').hide();
                    config.setting.auto_retrieve_data = 0;
                    config.setting.resource_type = '1';
                } else{
                    $('#collection_panel').hide();
                    $('#category_panel').show();
                }
                postChange(config);
            });

            $('input[value="category"]').on('change',function(){
                var config = {{ config|json_encode|raw }};
                if ($(this).val() === 'category'){
                    $('#category_panel').show();
                    $('#collection_panel').hide();
                    config.setting.auto_retrieve_data = 0;
                    config.setting.resource_type = '2';
                } else{
                    $('#category_panel').hide();
                    $('#collection_panel').show();
                }
                postChange(config);
            });


            $('select[name="collection_select"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.setting.collection_id = $(this).val();

                postChange(config);
            });
            $('select[name="category_select"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.setting.category_id = $(this).val();

                postChange(config);
            });

            $('select[name="quantity_select"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.display.grid.quantity = $(this).val();

                postChange(config);
            });

            $('select[name="quantity_mobile_select"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                if (!config.display.grid_mobile){
                    config.display.grid_mobile = {'quantity': 2};
                }
                config.display.grid_mobile.quantity = $(this).val();

                postChange(config);
            });

            $('select[name="row_select"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.display.grid.row = $(this).val();

                postChange(config);
            });

            $('select[name="row_mobile_select"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.display.grid_mobile.row = $(this).val();

                postChange(config);
            });

            /* auto play */
            $('input[name="auto-play"]').on('change',function(){
                var config = {{ config|json_encode|raw }};
                config.setting['autoplay'] == 0 ?  config.setting['autoplay'] = 1 : config.setting['autoplay'] = 0;
                postChange(config);
            });

            /* time auto play */
            $('select[name="autoplay-time"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.setting['autoplay_time'] = $(this).val();
                postChange(config);
            });

            /* loop */
            $('input[name="loop"]').on('change',function(){
                var config = {{ config|json_encode|raw }};
                config.setting['loop'] == 0 ?  config.setting['loop'] = 1 : config.setting['loop'] = 0;
                postChange(config);
            });

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 0); // Will do the ajax stuff after 1500 ms, or 1.5 s
            }

            /*update config on session*/
            function postChange(config) {
                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');
                var idx = 0;
                $('.item-sidebar').each(function(){
                    if($(this).hasClass('sub-item')){
                        idx = $(this).attr('data-idx');
                    }
                });
                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        var href = window.location.href;
                        var regex = new RegExp("&idx=\\d+");
                        href = href.replace(regex, '');
                        window.location.href = href + '&idx=' + idx;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE List product error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });
            }
        });

        function getURLVar(key) {
            var value = [];

            var query = String(document.location).split('?');

            if (query[1]) {
                var part = query[1].split('&');

                for (i = 0; i < part.length; i++) {
                    var data = part[i].split('=');

                    if (data[0] && data[1]) {
                        value[data[0]] = data[1];
                    }
                }

                if (value[key]) {
                    return value[key];
                } else {
                    return '';
                }
            }
        }
    </script>
{% endblock %}