{% extends "theme/common/base.twig" %}

{% block hstylesheet %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    {{ parent() }}

    {% block hstylesheet_bootstrap %}
        <link href="view/stylesheet/theme/product/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/preview.css">
    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/product/style.css">
{% endblock %}

{% block hscript %}
    {{ parent() }}

    {#{% block hscript_jquery %}#}
    {#<script src="view/javascript/theme/color/jquery.min.js"></script>#}
    {#{% endblock %}#}
    {% block hscript_bootstrap %}
        <script src="view/javascript/theme/color/bootstrap.min.js"></script>
    {% endblock %}
    <script src="view/javascript/theme/color/popper.min.js" type="text/javascript"></script>
{% endblock %}

{#{% block bcontent %}#}
{% block body %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- preview content -->
    {{ preview }}

    <!--      Menu SIDEBAR      -->
    <div class="sidebar d-flex flex-column justify-content-between text-light sidebar-fixed">
        <!--      Menu header      -->
        <div>
            <a href="{{ back_section }}">
                <div class="header-menu d-flex align-items-center text-light p-3">
                    <span class="mr-2">
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.89406 8.00298L9.24767 14.0528C9.71757 14.5006 9.71757 15.2247 9.24767 15.6677C8.77778 16.1108 8.01794 16.1108 7.54804 15.6677L0.34961 8.8128C-0.105291 8.37931 -0.115289 7.68381 0.314617 7.23602L7.54305 0.333457C7.778 0.109565 8.08793 -1.32198e-07 8.39286 -1.0554e-07C8.6978 -7.88819e-08 9.00773 0.109565 9.24268 0.333457C9.71257 0.781243 9.71257 1.50532 9.24268 1.94834L2.89406 8.00298Z" fill="white" />
                        </svg>
                    </span>
                    <span>{{ best_views_product_title }}</span>
                </div>
            </a>
            <!--      Menu ITEM    HEADINGS  -->
            <div class="menu double-menu">
                <div class="d-flex align-items-center text-light p-3">
                    <span>{{ best_views_product_setting_title|upper }}</span>
                </div>
                <div>
                    <div class="color-list">
                        <!--      Menu ITEM  Màu nền    -->
                        <div class="d-flex justify-content-between py-2 px-3 align-items-center">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <form class="w-100 custom-form">
                                    <div class="form-group">
                                        <label>{{ best_views_product_setting_header }} </label>
                                        <input type="text" class="form-control form-control-sm" value="{{ config.setting.title }}
                                               placeholder="{{ best_views_product_setting_title_placeholder }}" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="d-flex align-items-center text-light p-3">
                    <span>{{ best_views_product_display_title|upper }}</span>
                </div>
                <div class="setting-contact-group-l">
                    <div class="setting-contact-l d-flex justify-content-between py-2 px-3 align-items-center" data-toggle="collapse" data-target="#collapseMenuWebsite2" aria-expanded="true" aria-controls="collapseMenuWebsite2">
                        <div class="d-flex align-items-center justify-content-between">
                        <span class="mr-3">
                            <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.00149 3.19523L7.02642 0.167919C7.25032 -0.0559732 7.61236 -0.0559732 7.83387 0.167919C8.05538 0.391812 8.05538 0.753851 7.83387 0.977744L4.4064 4.40759C4.18965 4.62434 3.8419 4.6291 3.61801 4.42426L0.166728 0.980126C0.0547824 0.868179 -3.14943e-08 0.720505 -2.51434e-08 0.575213C-1.87925e-08 0.429921 0.0547824 0.282247 0.166728 0.170301C0.390622 -0.0535915 0.752661 -0.0535915 0.974172 0.170301L4.00149 3.19523Z" fill="white"/>
                        </svg>
                        </span>
                            <span>{{ best_views_product_display_header_grid }}</span>
                        </div>
                    </div>
                    <div class="collapse" id="collapseMenuWebsite2">
                        <div class="color-list">
                            <div class="d-flex justify-content-between py-2 px-3 align-items-center">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <form class="w-100 custom-form m-0 row">
                                        <div class="form-group col-10 p-0">
                                            <label>{{ best_views_product_display_grid_quantity }}</label>
                                            <input type="range" min="1" max="15" value="{{ config.display.grid.quantity }}" class="slider" id="myRange" style="width:170px;">
                                        </div>
                                        <div class="form-group col-2 p-0 text-right">
                                            <span id="demo"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'theme/common/preview_undo_redo.twig' %}
    </div>

    <script >
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        };

        $(document).ready(function () {
            $('input.form-control-sm').change(function () {
                delayOnChange(onChangeTitle);
            });

            $('#myRange').change(function () {
                delayOnChange(onChangeQuantity);
            });

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 1); // Will do the ajax stuff after 1500 ms, or 1.5 s
            }

            function onChangeTitle() {
                var content = $('input.form-control-sm').val();
                var config = applyChange('title', content);

                postChange(config);
            }

            function onChangeQuantity() {
                var quantity = $("#demo").text();
                var config = applyChange('quantity', quantity);

                postChange(config);
            }

            function applyChange(key, value) {
                var config = {{ config|json_encode|raw }};

                if (key === 'title') {
                    config.setting.title = value;
                }

                if (key === 'quantity') {
                    config.display.grid.quantity = value;
                }

                return config;
            }

            /*update config on session*/
            function postChange(config) {
                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('.loader--style2').show();
                    },
                    success: function (data) {
                        $('.loader--style2').hide();
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE List product error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('.loader--style2').hide();
                    }
                });
            }
        });
    </script>
{% endblock %}

