{% extends "theme/common/base.twig" %}


{#{% block bcontent %}#}
{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile">
            <!-- control component -->
            <section class="side-item side-head no-bg">
                <!-- item -->
                <div class="item-sidebar no-bg">
                    <a href="{{ back_section }}" class="item-show no-bg bold"><img src="view/image/theme/arrow-left.png" alt="">{{ heading_content_customize_title }}</a>
                </div>
                <!-- /.item -->
            </section>
            <!-- /.control component -->
            <div class="side-over overflow-inherit">

                <!-- body sidebar -->
                <section class="side-item side-body overflow-inherit">
                    <!-- item -->
                    <div class="item-sidebar {% if 2 == product_idx %}sub-item{% endif %}" data-idx="2">
                        <div class="item-show {% if 2 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ content_customize_title }}</span>
                        </div>
                        <div class="panel overflow-inherit" {% if 2 == product_idx %}style="display: block;"{% endif %}>
                            <div class="form-group">
                                <input type="text" name="title" value="{{ config.title }}" class="form-control"
                                       placeholder="{{ content_customize_title_placeholder }}" aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="item-sidebar {% if 0 == product_idx %}sub-item{% endif %}" data-idx="0">
                        <div class="item-show {% if 0 == product_idx %}active{% endif %}">
                            <span class="accordion">{{ content_customize_content }}</span>
                        </div>
                        <div class="panel overflow-inherit" {% if 0 == product_idx %}style="display: block;"{% endif %}>
                            <textarea id="customize-content" placeholder="{{ content_customize_content_placeholder }}">{{ config.content }}</textarea>
                        </div>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.body sidebar -->

            </div>

            <!-- Common setting button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.Section content -->

    <script src="view/javascript/theme/custom-file-input.js"></script>
    <script src="view/javascript/ckeditor/ckeditor.js"></script>

    <style type="text/css">
        #side-over{
            overflow-y: scroll!important;
            padding-bottom: 30px!important;
        }
        .pull-right{
            float: right;
        }
    </style>

    <script>
        // CK EDITOR
        var upload_image = "{{ upload_image }}";
        var filemanager = '{{ filemanager }}';
        $(document).ready(function () {
            $ckeditor = CKEDITOR.replace('customize-content', {
                language: '{{ ckeditor_lang }}',
                //customConfig: '{{ base_url }}view/javascript/ckeditor/product_des_config.js'

            });

            $ckeditor.on('blur', function () {
                var config = {{ config|json_encode|raw }};
                var val = $ckeditor.getData();
                config.content = val;

                postChange(config);
            });

            /* setting listener on value change */

            $('input[name="title"]').on('change', function () {
                var config = {{ config|json_encode|raw }};
                config.title = $(this).val();

                postChange(config);
            });

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 0); // Will do the ajax stuff after 1500 ms, or 1.5 s
            }

            /*update config on session*/
            function postChange(config) {
                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');
                var idx = 0;
                $('.item-sidebar').each(function(){
                    if($(this).hasClass('sub-item')){
                        idx = $(this).attr('data-idx');
                    }
                });
                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                        var href = window.location.href;
                        var regex = new RegExp("&idx=\\d+");
                        href = href.replace(regex, '');
                        window.location.href = href + '&idx=' + idx;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE List product error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });
            }
        });

        function getURLVar(key) {
            var value = [];

            var query = String(document.location).split('?');

            if (query[1]) {
                var part = query[1].split('&');

                for (i = 0; i < part.length; i++) {
                    var data = part[i].split('=');

                    if (data[0] && data[1]) {
                        value[data[0]] = data[1];
                    }
                }

                if (value[key]) {
                    return value[key];
                } else {
                    return '';
                }
            }
        }
        function chooseProductImage(n) {
            //console.log(n);
            var r = $(".selected-product-image").find("input"),
                i = $(n).find("input").attr("data-id"),
                f = $(n).find("input").attr("value"),
                e = $(n).find("input").attr("width"),
                o = $(n).find("input").attr("height"),
                t = {},
                u = r.val();
            u && (t = JSON.parse(u));
            t || (t = {});
            $(n).hasClass("chosen-image") ? (delete t[i], $(n).removeClass("chosen-image")) : (t[i] = {}, t[i].src = f, t[i].width = e, t[i].height = o, $(n).addClass("chosen-image"));
            r.val(JSON.stringify(t))
        }
    </script>
{% endblock %}