{% extends "theme/common/base.twig" %}


{#{% block bcontent %}#}
{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- Section content -->
    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile section-config">
            <div class="side-over">
                <!-- body sidebar -->
                <section class="side-item side-body">
                    <section class="title-customize-layout">
                        <p>{{ txt_customize_layout }}</p>
                        <span>{{ txt_note_customize_layout }}</span>
                    </section>
                    <!-- item -->
                    <section  id="sortable">
                        {% for section in sections_layout %}
                            <div class="item-sidebar item-sort" data-sort-type="id" data-id="{{ 'section-'~loop.index0 }}" data-sort="{{ loop.index0 }}">
                                <div class="item-show" name="section-visible" data-href="{{ section.file }}">
                                    <span  class="btn btn-more"></span> <span> {{ section.txt_name }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </section>
                <!-- /.footer sidebar -->
            </div>
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.Section content -->

    <style>
        .main-content .sidebar .side-body .item-show .btn-eye-product-groups {
            padding: 0;
            outline: none;
            box-shadow: none;
            border: none;
            width: 14px;
            height: 14px;
            margin-left: auto;
            background: url('view/image/theme//eye-open.png') no-repeat;
        }

        .main-content .sidebar .side-body .hide .btn-eye-product-groups {
            background: url('view/image/theme/eye-close.png') no-repeat;
        }

        .main-content .sidebar .side-body .item-show .btn-delete {
            cursor: pointer!important;
            padding: 0;
            outline: none;
            box-shadow: none;
            border: none;
            width: 14px;
            height: 14px;
            margin-left: auto;
            background: url('view/image/theme/delete.png') no-repeat;
        }
        .title-customize-layout {
            padding: 10px
        }
        .title-customize-layout p {
            font-size: 14px;
            font-weight: bold;
        }
        .title-customize-layout span{
            font-size: 14px;
        }
    </style>
    <script src="view/javascript/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script >

        $(document).ready(function () {
            $( "#sortable" ).sortable({
                axis: 'y',
                cancel: '', // allow drag buttons to sort
                start: function(event, ui) {
                },
                stop: function (event, ui) {
                    delayOnChange(updateConfigSortOrder);
                }
            });

            // sort element by data-sort
            var result = $('#sortable div.item-sort').sort(function (a, b) {

                var contentA = parseInt( $(a).attr('data-sort'));
                var contentB = parseInt( $(b).attr('data-sort'));
                return (contentA < contentB) ? -1 : (contentA > contentB) ? 1 : 0;
            });
            $('#sortable').html(result);
            // end sort element by data-sort

            //var idsInOrder = $("#sortable").sortable("toArray");

            /*blog title */

            function onChangeVisible(el) {
                var config = applyChange(el.attr('id'), null);

                postChange(config);
            }

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
            }

            function applyChange(key, value) {
                var config = {{ config|json_encode|raw }};

                if (config.section[key] !== undefined){
                    config.section[key]['visible'] = config.section[key]['visible'] == '0' ? 1 : 0;
                }else{
                    // add simple element if not exist
                    config.section[key] = {"name" : key,"visible" : 1};
                }

                return config;
            }

            /*update config on session*/
            function postChange(config, url = null, type = null) {
                var obj_data = {'theme_builder_config': config};
                if (!url){
                    url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');
                }
                var idx = 0;
                $('.item-sidebar').each(function(){
                    if($(this).hasClass('sub-item')){
                        idx = $(this).attr('data-idx');
                    }
                });
                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                        var href = window.location.href;
                        var regex = new RegExp("&idx=\\d+");
                        href = href.replace(regex, '');
                        if (type === "blog"){
                            window.location.href = href + '&idx=' + idx;
                        }
                        else {
                            href = href.replace(regex, '&idx=1');
                            window.location.href = href

                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE sections error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });
            }

            function updateConfigSortOrder() {
                var config = {{ config|json_encode|raw }};
                var config_product_groups = {{ config_product_groups|json_encode|raw }};
                var sort = [];
                var default_sort = config.default_customize_layout;

                $('#sortable div.item-sort').each(function () {
                    var idx = $(this).attr('data-sort');
                    sort.push(default_sort[idx]);
                });
                config.default_customize_layout = sort;
                // post change;
                var obj_data = {'theme_builder_config': config};
                url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        //var url = '{{ href_product_group_change|raw }}'.replace(/&amp;/g, '&');
                        //postChange(config_product_groups, url);
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE sections error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });

            }
            $(".item-show").on('click', function () {
                var layout = $(this).attr('data-href');
                var iframe_link = '{{ href_preview }}' + '&selected=' + layout;
                $('#theme-preview').attr('src',iframe_link);
                $("#sortable .item-show").removeClass('item-selected');
                $(this).addClass('item-selected');
            });
        });
    </script>
{% endblock %}
