{% extends "theme/common/base.twig" %}


{#{% block bcontent %}#}
{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- Section content -->
    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile">
            <!-- control component -->
            <section class="side-item side-head no-bg">
                <!-- item -->
                <div class="item-sidebar no-bg">
                    <a href="{{ back_section }}" class="item-show no-bg bold"><img src="view/image/theme/arrow-left.png" alt="">{{ partner_title }}</a>
                </div>
                <!-- /.item -->
            </section>
            <!-- /.control component -->
            <div class="side-over" id="side-over">
                <!-- header sidebar -->
                <section class="side-item side-head">
                    <!-- title partner -->
                    <div class="item-sidebar {% if partner_idx == '998' %}sub-item{% endif %}" data-idx="998">
                        <div class="item-show ">
                            <span class="accordion">{{ txt_title_partner }}</span>
                        </div>
                        <div class="panel overflow-inherit" {% if partner_idx == '998' %}style="display: block;"{% endif %}>
                            <div class="form-group">
                                <input type="text" placeholder="{{ partner_title }}" name="partner-title" value="{{ config['text'] }}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- /.title partner -->

                    <!-- item -->
                    <div class="item-sidebar {% if partner_idx == '999' %}sub-item{% endif %}" data-idx="999">
                        <div class="item-show hover-effect {% if partner_idx == '999' %}active{% endif %}">
                            <span class="accordion">{{ txt_limit_per_line }}</span>
                        </div>
                        <div class="panel overflow-inherit" {% if partner_idx == '999' %}style="display: block;"{% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail">
                                <select class="form-control" name="limit_per_line" id="limit-per-line">
                                    <option value="4" {% if config['limit-per-line'] == '4' %}selected{% endif %}>4 {{ txt_partner }}</option>
                                    <option value="6" {% if config['limit-per-line'] == '6' %}selected{% endif %}>6 {{ txt_partner }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.header sidebar -->
                <!-- body sidebar -->
                <section class="side-item side-body overflow-inherit">
                    {% for idx, partner in config.display %}
                        <!-- item -->
                        <div class="item-sidebar {% if idx == partner_idx %}sub-item{% endif %}" data-idx="{{ idx }}">
                            <div class="item-show {% if idx == partner_idx %}active{% endif %}{% if banner.visible == '0' %} hide{% endif %}">
                                <button type="submit" class="btn btn-more"></button>
                                <span class="accordion">{{ txt_partner_logo }} {{ idx + 1 }}</span>
                                <button type="submit" data-idx="{{ idx }}" class="btn btn-delete delete-partner"></button>
                            </div>
                            <div class="panel" {% if idx == partner_idx %}style="display: block;"{% endif %}>
                                <!-- upload -->
                                <div class="upload-wrap mb-10">
                                    <div class="upload-ct">
                                        <div class="thumb-upload text-center" id="image-thumb-{{ idx }}">
                                            <!-- img uploaded -->

                                            <!-- img uploaded -->
                                            <img width="100%" src="{{ partner['image-url'] }}" alt="">
                                            <input type="hidden" id="image-target-{{ idx }}" class="image-target"/>
                                            {#view/image/custome/no-image.png#}

                                            {% if not partner['image-url']|replace({' ': ''}) %}
                                                <div id="empty-banner-{{ idx }}">
                                                    <button type="button" class="btn btn-upload button-popup" id="one" data-img-idx = "{{ idx }}">{{ txt_select_image }}</button>
                                                    <!-- uploaded -> hide meta-desc -->
                                                    <div class="meta-desc">
                                                        <span class="desc">{#{{ txt_banner_image_size_note }}#}</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="meta-action">
                                        <span class="desc">{#{{ txt_banner_image_size_note }}#}</span>
                                        <div class="group-action">
                                            <ul>
                                                <li>
                                                    <a href="#" class="btn-upload" data-img-idx = "{{ idx }}">{{ txt_change }}</a>
                                                </li>
                                                <li>
                                                    <a href="#" data-img-idx = "{{ idx }}" class="remove-banner"> {{ txt_remove }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.upload -->

                                <!-- add link -->
                                <form action="">
                                    <div class="form-group">
                                        <label for="">{{ txt_image_redirect_to }}</label>
                                        <input type="text" name="partner-url" value="{{ partner['url'] }}" maxlength="500" id="partner-url-{{ idx }}" class="form-control" placeholder="{{ txt_image_redirect_placeholder }}"
                                               aria-describedby="helpId">
                                    </div>
                                    <div class="form-group">
                                        <label for="">{{ txt_banner_description }}</label>
                                        <input type="text" name="partner-description" id="partner-description-{{ idx }}" maxlength="100" value="{{ partner['description'] }}" class="form-control"
                                               placeholder="{{ txt_banner_description_place_holder }}" aria-describedby="helpId">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.item -->
                    {% endfor %}

                    <!-- button add slide -->
                    <div class="item-sidebar btn-add">
                        <a href="" id="add-partner" class="item-show"><img src="view/image/theme/plus.png" alt="">{{ txt_add_partner }}</a>
                    </div>
                    <!-- /.button add slide -->
                </section>

                <a class="item-show no-bg bold">{{ txt_setting }}</a>
                <section class="side-item side-body overflow-inherit" style="margin-top: 10px;">

                    <div class="item-sidebar {% if 1000 == partner_idx %}sub-item{% endif %}" style="position: relative;" data-idx="1000">
                        <div class="onoffswitch" style="position: absolute;right: 10px;top: 10px;z-index: 9999;">
                            <input type="checkbox" name="auto-play" class="onoffswitch-checkbox" id="partner-auto-play-" {{ config.setting['autoplay'] == '1' ? 'checked' : '' }}>
                            <label class="onoffswitch-label" for="partner-auto-play-">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <div class="item-show {% if 1000 == partner_idx %}active{% endif %}">
                            <span class="accordion">{{ txt_auto_play_partner_slides }}</span>
                            <a class="d-none" href="#">{{ txt_auto_play_partner_slides }}</a>
                        </div>

                        <div class="panel overflow-inherit" {% if 1000 == partner_idx %} style="display: block;" {% endif %}>
                            <!-- select -->
                            <div class="custom-selectag-xx-fail">
                                <span class="accordion" style="display: block;padding: 5px 0;">{{ txt_page_switching_time }}</span>
                                <select class="form-control" name="autoplay-time" id="autoplay-time">
                                    <option value="1" {{ config.setting['autoplay_time'] == '1' ? 'selected' : '' }}>
                                        {{ txt_one_seconds }}
                                    </option>
                                    <option value="2" {{ config.setting['autoplay_time'] == '2' ? 'selected' : '' }}>
                                        {{ txt_two_seconds }}
                                    </option>
                                    <option value="3" {{ config.setting['autoplay_time'] == '3' ? 'selected' : '' }}>
                                        {{ txt_three_seconds }}
                                    </option>
                                    <option value="4" {{ config.setting['autoplay_time'] == '4' ? 'selected' : '' }}>
                                        {{ txt_four_seconds }}
                                    </option>
                                    <option value="5" {{ config.setting['autoplay_time'] == '5' ? 'selected' : '' }}>
                                        {{ txt_five_seconds }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="item-sidebar" style="position: relative;">
                        <div class="onoffswitch" style="position: absolute;right: 10px;top: 10px;z-index: 9999;">
                            <input type="checkbox" name="auto-loop" class="onoffswitch-checkbox" id="partner-loop-" {{ config.setting['loop'] == '1' ? 'checked' : '' }}>
                            <label class="onoffswitch-label" for="partner-loop-">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        <div class="item-show">
                            <div class="title">{{ txt_auto_repeat_partner_list }}</div>
                        </div>
                    </div>
                </section>
                <!-- /.body sidebar -->
            </div>

            <!-- Common setting button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.Section content -->

    <!-- POPUP IMAGE MANAGER-->
    <div id="modal-container">
        <div class="modal-background">
            <div class="container modal">
            </div>
        </div>
    </div>


    <link rel="stylesheet" type="text/css" href="view/stylesheet/custom/image_manager.css">
    <script src="view/javascript/custom/image_manager.js"></script>
    <!-- END POPUP IMAGE MANAGER -->

    <script src="view/javascript/theme/custom-file-input.js"></script>

    <style type="text/css">
        .main-content .sidebar .side-body .item-show .btn-delete {
            cursor: pointer!important;
            padding: 0;
            outline: none;
            box-shadow: none;
            border: none;
            width: 14px;
            height: 14px;
            margin-left: auto;
            background: url('view/image/theme/delete.png') no-repeat;
        }
        #side-over{
            overflow-y: scroll!important;
            padding-bottom: 40px!important;
        }
        #add-slide{
            cursor: pointer!important;
        }
    </style>

    <script>
        $(document).ready( function() {
            $('#add-partner').on('click', function(e){
                e.preventDefault();
                var config = {{ config|json_encode|raw }};
                if ('display' in config){
                    var idx = config.display.length;
                } else {
                    var idx = 0;
                    config.display = [];
                }

                var id_new_slide = getRandomInt(99999999);
                var obj_new = {'image-url': '', 'description': '', 'id': id_new_slide, 'visible': 1};
                config.display.push(obj_new);

                postChange(config, idx);
            });

            /* title partner */
            $("input[name='partner-title']").on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.text = $(this).val();
                postChange(config);
            });

            /* setting listener on value change */

            $('#limit-per-line').on('change', function(){
                var limit = $(this).val();

                onChangePartnerPerLine(limit);
            });

            $('.delete-partner').on('click', function(){
                var config = {{ config|json_encode|raw }};
                var idx = $(this).attr('data-idx');
                config.display.splice(idx, 1);
                postChange(config);
            });

            $("input[name='partner-url']").on('change', function(){
                var that = $(this);

                delayOnChange(function () {
                    onChangeUrl(that);
                });
            });

            $("input[name='partner-description']").on('change', function(){
                var that = $(this);

                delayOnChange(function () {
                    onChangeDescription(that);
                });
            });

            $('.image-target').on('change', function(){
                var that = $(this);

                onChangeImageUrl(that);
            });

            $("input[name='auto-play']").change(function() {
                var that = $(this);

                delayOnChange(function () {
                    onChangeAuto(that);
                });
            });

            /* time auto play */
            $('select[name="autoplay-time"]').on('change', function(){
                var that = $(this);
                delayOnChange(function () {
                    onChangeAutoPlayTime(that);
                });
            });

            $("input[name='auto-loop']").change(function() {
                var that = $(this);

                delayOnChange(function () {
                    onChangeLoop(that);
                });
            });

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 1000); // Will do the ajax stuff after 1500 ms, or 1.5 s
            }

            function onChangePartnerPerLine(limit){
                var config = {{ config|json_encode|raw }};
                config['limit-per-line'] = limit;

                postChange(config);
            }

            function onChangeUrl(el) {
                var config = applyChange(el.attr('id'), el.val());

                postChange(config);
            }

            function onChangeDescription(el) {
                var config = applyChange(el.attr('id'), el.val());

                postChange(config);
            }

            function onChangeImageUrl(e){
                var config = applyChange(e.attr('id'), e.val());

                postChange(config);
            }

            function onChangeVisible(el) {
                var config = applyChange(el.attr('id'), null);

                postChange(config);
            }

            function onChangeAuto(el) {
                var config = applyChange(el.attr('id'), null);

                 postChange(config);
            }

            function onChangeLoop(el) {
                var config = applyChange(el.attr('id'), null);

                postChange(config);
            }

            function onChangeAutoPlayTime(el) {
                var config = {{ config|json_encode|raw }};
                config.setting['autoplay_time'] = $(el).val();
                postChange(config);
            }

            function applyChange(key, value) {
                var config = {{ config|json_encode|raw }};

                if (key.indexOf('image-target-') > -1) {
                    var idx = key.replace('image-target-', '');
                    if ($.trim(value) !== ''){
                        $('#empty-banner-' + idx).hide();
                    }
                    config.display[idx]['image-url'] = value;
                }

                if (key.indexOf('partner-url-') > -1) {
                    var idx = key.replace('partner-url-', '');
                    config.display[idx]['url'] = value;
                }

                if (key.indexOf('partner-description-') > -1) {
                    var idx = key.replace('partner-description-', '');
                    config.display[idx]['description'] = value;
                }

                if (key.indexOf('partner-visible-') > -1) {
                    var idx = key.replace('partner-visible-', '');
                    config.display[idx]['visible'] = config.display[idx]['visible'] == '0' ? 1 : 0;
                }

                if (key.indexOf('partner-auto-play-') > -1) {
                    config.setting['autoplay'] == 0 ?  config.setting['autoplay'] = 1 : config.setting['autoplay'] = 0;
                }

                if (key.indexOf('partner-loop-') > -1) {
                    config.setting['loop'] == 0 ?  config.setting['loop'] = 1 : config.setting['loop'] = 0;
                }

                return config;
            }

            /*update config on session*/
            function postChange(config, idx = 999) {
                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');
                if (idx === 999){
                    $('.item-sidebar').each(function(){
                        if($(this).hasClass('sub-item')){
                            idx = $(this).attr('data-idx');
                        }
                    });
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        var href = window.location.href;
                        var regex = new RegExp("&idx=\\d+");
                        href = href.replace(regex, '');
                        window.location.href = href + '&idx=' + idx;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE List product error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });
            }
        });

        $('.btn-upload').on('click', function(e){
            e.preventDefault();
            var banner_idx = $(this).attr('data-img-idx');
            var target = 'image-target-' + banner_idx;
            var thumb = 'image-thumb-' + banner_idx;

            $.ajax({
                url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token') + '&single=true&target=' + target + '&thumb='+ thumb,
                dataType: 'html',
                beforeSend: function() {
                    $('#modal-container').removeAttr('class').addClass('one');
                },
                complete: function() {
                },
                success: function(html) {
                    $('#modal-container .modal').html(html);
                }
            });
        });

        $('.remove-banner').on('click', function(e){
            e.preventDefault();
            var banner_idx = $(this).attr('data-img-idx');
            var target = 'image-target-' + banner_idx;
            var thumb = 'image-thumb-' + banner_idx;
            $('#' + target).val('').trigger('change');
            // $('#' + thumb).find('img').attr('src', '').trigger('change');
            // $('#empty-banner-'+banner_idx).show();
        });

        function getURLVar(key) {
            var value = [];

            var query = String(document.location).split('?');

            if (query[1]) {
                var part = query[1].split('&');

                for (i = 0; i < part.length; i++) {
                    var data = part[i].split('=');

                    if (data[0] && data[1]) {
                        value[data[0]] = data[1];
                    }
                }

                if (value[key]) {
                    return value[key];
                } else {
                    return '';
                }
            }
        }

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }
    </script>
{% endblock %}