{% extends "theme/common/base.twig" %}

{% block hstylesheet %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    {{ parent() }}

    {% block hstylesheet_bootstrap %}
        <link href="view/stylesheet/theme/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/preview.css">
    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/style.css">
{% endblock %}

{% block hscript %}
    {{ parent() }}

    {#{% block hscript_jquery %}#}
    {#<script src="view/javascript/theme/color/jquery.min.js"></script>#}
    {#{% endblock %}#}
    {% block hscript_bootstrap %}
        <script src="view/javascript/theme/color/bootstrap.min.js"></script>
    {% endblock %}
    <script src="view/javascript/theme/color/popper.min.js" type="text/javascript"></script>
{% endblock %}

{#{% block bcontent %}#}
{% block body %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- preview content -->
    {{ preview }}

    <!--      Menu SIDEBAR      -->
    <div class="sidebar d-flex flex-column justify-content-between text-light">
        <!--      Menu header      -->
        <div>
            <div class="header-menu d-flex align-items-center text-light header-menu-detail-web">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link {% if navbar == 'section' %}active{% endif %}" id="nav-home-tab"
                           data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{ tab_title_sections }}</a>
                        <a class="nav-item nav-link {% if navbar == 'theme' %}active{% endif %}" id="nav-profile-tab"
                           data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{{ tab_title_theme_setting }}</a>
                    </div>
                </nav>
            </div>


            <div class="menu">
                <!--      Menu ITEM    Sections  -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade {% if navbar == 'section' %}active show{% endif %}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!-- Sections Header -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_header }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_header }}</span>
                                </div>
                            </a>
                        </div>

                        <!-- Sections Slideshow -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_slideshow }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_slideshow }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="slide-show" name="section-visible">
                                    {% if config.section['slide-show'].visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Danh mục sản phẩm -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_list_product }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_list_product }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="categories" name="section-visible">
                                    {% if config.section['categories'].visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Sản phẩm nổi bật -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_hot_product }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_hot_product }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="hot-deals" name="section-visible">
                                    {% if config.section['hot-deals'].visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Sản phẩm bán chạy -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_best_sales_product }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_best_sales_product }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="feature-products" name="section-visible">
                                    {% if config.section['feature-products'].visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Sản phẩm xem nhiều -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_best_views_product }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_best_views_product }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="related-products" name="section-visible">
                                    {% if config.section['related-products'].visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Chi tiết sản phẩm -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_detail_product }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_product_detail }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="product-detail" name="section-visible">
                                    {% if config.section['product-detail'].visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Banner  -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_banner }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_banner }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="banner" name="section-visible">
                                    {% if config.section.banner.visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Đối tác   -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_partner }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_partner }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="partners" name="section-visible">
                                    {% if config.section.partners.visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Blog  -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_blog }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_blog }}</span>
                                </div>
                            </a>

                            <div class="d-flex">
                                <div id="blog" name="section-visible">
                                    {% if config.section.blog.visible == '0' %}
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"/>
                                            <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    {% else %}
                                        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"/>
                                        </svg>
                                    {% endif %}
                                </div>

                                <div class="px-2"></div>

                                <div>
                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.16667" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="1.16667" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="1.2" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="6" rx="1.16667" ry="1.2" fill="white"/>
                                        <ellipse cx="5.83341" cy="10.8" rx="1.16667" ry="1.2" fill="white"/>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <!-- Sections Footer  -->
                        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                            <a href="{{ url_footer }}">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>{{ section_title_footer }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--   End   Menu ITEM    Sections  -->

                    <!--      Menu ITEM    Cài đặt theme  -->
                    {{ section_theme }}
                    <!--   End   Menu ITEM    Cài đặt theme  -->
                </div>
            </div>
        </div>

        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
            <!--<div class="d-flex align-items-center justify-content-between">
                    <span class="mr-3">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.181 6.32142L14.058 6.1309C13.941 5.75322 13.7906 5.3889 13.6068 5.04129L14.2686 4.11546C14.5493 3.72106 14.5059 3.18294 14.1616 2.84202L13.1656 1.84599C12.9784 1.65882 12.7311 1.55521 12.467 1.55521C12.2598 1.55521 12.0626 1.61871 11.8955 1.73904L10.9663 2.40083C10.6053 2.21031 10.2276 2.05322 9.83658 1.93624L9.64941 0.826571C9.56919 0.348613 9.15808 0.00100708 8.67344 0.00100708H7.2663C6.78166 0.00100708 6.37055 0.348613 6.29033 0.826571L6.09647 1.96298C5.72213 2.07996 5.35781 2.23371 5.0102 2.42088L4.09105 1.75909C3.92394 1.63877 3.72339 1.57526 3.51617 1.57526C3.25212 1.57526 3.00144 1.67887 2.81761 1.86605L1.81825 2.86207C1.47733 3.20299 1.43053 3.74111 1.71129 4.13551L2.37976 5.07472C2.19593 5.42566 2.04887 5.78998 1.93523 6.16767L0.825564 6.35484C0.347606 6.43506 0 6.84617 0 7.33081V8.73795C0 9.22259 0.347606 9.6337 0.825564 9.71392L1.96197 9.90778C2.07895 10.2821 2.2327 10.6464 2.41987 10.994L1.76143 11.9099C1.48067 12.3043 1.52412 12.8424 1.86838 13.1833L2.86441 14.1793C3.05158 14.3665 3.29891 14.4701 3.56296 14.4701C3.77019 14.4701 3.96739 14.4066 4.13451 14.2863L5.07371 13.6178C5.41129 13.7949 5.76558 13.9387 6.1299 14.0523L6.31707 15.1753C6.39729 15.6533 6.8084 16.0009 7.29304 16.0009H8.70352C9.18816 16.0009 9.59927 15.6533 9.67949 15.1753L9.87 14.0523C10.2477 13.9353 10.612 13.7849 10.9596 13.6011L11.8854 14.2629C12.0526 14.3832 12.2531 14.4467 12.4603 14.4467C12.7244 14.4467 12.9717 14.3431 13.1589 14.1559L14.1549 13.1599C14.4958 12.819 14.5426 12.2809 14.2619 11.8865L13.6001 10.9573C13.7839 10.6063 13.9377 10.242 14.0513 9.86767L15.1743 9.6805C15.6523 9.60028 15.9999 9.18917 15.9999 8.70452V7.29739C16.0066 6.81275 15.659 6.40164 15.181 6.32142ZM15.1041 8.70452C15.1041 8.74798 15.0741 8.78474 15.0306 8.79143L13.6268 9.02539C13.4497 9.05547 13.3093 9.18583 13.2658 9.35629C13.1388 9.84761 12.945 10.3189 12.6843 10.7567C12.594 10.9105 12.6007 11.101 12.7043 11.2481L13.5299 12.4112C13.5533 12.4446 13.5499 12.4948 13.5199 12.5248L12.5238 13.5209C12.5004 13.5443 12.477 13.5476 12.4603 13.5476C12.4403 13.5476 12.4236 13.5409 12.4102 13.5309L11.2504 12.7053C11.1067 12.6017 10.9128 12.595 10.7591 12.6853C10.3212 12.946 9.84995 13.1398 9.35862 13.2669C9.18482 13.3103 9.05447 13.454 9.02773 13.6278L8.79042 15.0316C8.78373 15.0751 8.74697 15.1052 8.70352 15.1052H7.29638C7.25293 15.1052 7.21617 15.0751 7.20948 15.0316L6.97552 13.6278C6.94543 13.4507 6.81508 13.3103 6.64462 13.2669C6.16666 13.1432 5.70542 12.9527 5.27425 12.7053C5.20406 12.6652 5.12385 12.6452 5.04697 12.6452C4.95673 12.6452 4.86314 12.6719 4.78627 12.7287L3.61644 13.561C3.59973 13.571 3.58301 13.5777 3.5663 13.5777C3.55293 13.5777 3.52619 13.5744 3.5028 13.551L2.50677 12.5549C2.47669 12.5248 2.47335 12.4781 2.49675 12.4413L3.31897 11.2882C3.42258 11.1411 3.42927 10.9473 3.33902 10.7935C3.07832 10.359 2.87778 9.88772 2.75077 9.39639C2.70397 9.22593 2.56359 9.09558 2.38979 9.0655L0.975971 8.82485C0.93252 8.81817 0.902438 8.7814 0.902438 8.73795V7.33081C0.902438 7.28736 0.93252 7.2506 0.975971 7.24391L2.36974 7.00995C2.54688 6.97986 2.6906 6.84951 2.73405 6.67571C2.85772 6.18438 3.04824 5.70977 3.3056 5.27192C3.39584 5.11817 3.38582 4.92765 3.2822 4.78393L2.44995 3.6141C2.42656 3.58068 2.4299 3.53054 2.45998 3.50046L3.45601 2.50444C3.4794 2.48104 3.5028 2.4777 3.51951 2.4777C3.53956 2.4777 3.55628 2.48438 3.56965 2.49441L4.72276 3.31663C4.86983 3.42025 5.06368 3.42693 5.21743 3.33669C5.65194 3.07598 6.12321 2.87544 6.61454 2.74843C6.785 2.70164 6.91535 2.56126 6.94543 2.38746L7.18608 0.973635C7.19277 0.930184 7.22954 0.900103 7.27299 0.900103H8.68012C8.72357 0.900103 8.76034 0.930184 8.76702 0.973635L9.00099 2.3674C9.03107 2.54455 9.16142 2.68827 9.33522 2.73172C9.83992 2.85873 10.3212 3.05593 10.7691 3.31998C10.9228 3.41022 11.1134 3.40353 11.2604 3.29992L12.4135 2.47101C12.4303 2.46099 12.447 2.4543 12.4637 2.4543C12.477 2.4543 12.5038 2.45765 12.5272 2.48104L13.5232 3.47707C13.5533 3.50715 13.5566 3.55394 13.5332 3.59071L12.7077 4.75051C12.6041 4.89423 12.5974 5.08809 12.6876 5.24183C12.9483 5.67968 13.1422 6.15096 13.2692 6.64229C13.3126 6.81609 13.4564 6.94644 13.6302 6.97318L15.034 7.21049C15.0774 7.21717 15.1075 7.25394 15.1075 7.29739V8.70452H15.1041V8.70452Z" fill="#BFD5E6" />
                            <path d="M8.00149 4.54565C6.09634 4.54565 4.54883 6.09317 4.54883 7.99832C4.54883 9.90347 6.09634 11.451 8.00149 11.451C9.90664 11.451 11.4542 9.90347 11.4542 7.99832C11.4542 6.09317 9.90664 4.54565 8.00149 4.54565ZM8.00149 10.5485C6.59435 10.5485 5.45127 9.40545 5.45127 7.99832C5.45127 6.59118 6.59435 5.44809 8.00149 5.44809C9.40863 5.44809 10.5517 6.59118 10.5517 7.99832C10.5517 9.40545 9.40863 10.5485 8.00149 10.5485Z" fill="#BFD5E6" />
                        </svg>

                    </span>
                <span>Cài đặt</span>
            </div>
            <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.19218 5.49795L0.220312 1.33867C-0.0734374 1.03082 -0.0734374 0.533011 0.220312 0.228433C0.514062 -0.0761444 0.989062 -0.0761444 1.28281 0.228433L5.78281 4.9412C6.06718 5.23923 6.07343 5.71738 5.80468 6.02523L1.28594 10.7707C1.13906 10.9247 0.945312 11 0.754687 11C0.564062 11 0.370312 10.9247 0.223438 10.7707C-0.0703123 10.4629 -0.0703123 9.96509 0.223438 9.66051L4.19218 5.49795Z" fill="#BFD5E6" />
            </svg>-->
        </div>
    </div>



    <script >
        $(document).ready(function () {
            /* setting listener on value change */
            $("div[name='section-visible']").click(function () {
                var that = $(this);

                onChangeVisible(that);
            });

            function onChangeVisible(el) {
                var config = applyChange(el.attr('id'), null);

                postChange(config);
            }

            function applyChange(key, value) {
                var config = {{ config|json_encode|raw }};

                config.section[key]['visible'] = config.section[key]['visible'] == '0' ? 1 : 0;

                return config;
            }

            /*update config on session*/
            function postChange(config) {
                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('.loader--style2').show();
                    },
                    success: function (data) {
                        $('.loader--style2').hide();
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE sections error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('.loader--style2').hide();
                    }
                });
            }
        });
    </script>

{% endblock %}
