/* now allow change font overall web
 * Notice: exclude font awesome .fa,.fab,.fal,.far,.fas
 */
*:not(.fa):not(.fab):not(.fal):not(.far):not(.fas){
    font-family: '$ALL_FONT$' !important;
}

::-webkit-input-placeholder {
    font-family: '$ALL_FONT$' !important;
}
:-moz-placeholder {
    font-family: '$ALL_FONT$' !important;
}
::-moz-placeholder {
    font-family: '$ALL_FONT$' !important;
}
:-ms-input-placeholder {
    font-family: '$ALL_FONT$' !important;
}