{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
  <div class="container">
    <nav class="breadcrumb main-font">
      <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
      <span class="breadcrumb-item active">Thông tin đơn hàng</span>
    </nav>
  </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-contact-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 order-lg-12 bestme-block-contact-contact">
        <h2 class="title-block">Thông tin đơn hàng</h2>
        {% include ('default/template/account/order_info_template.twig') %}
      </div>
    </div>
  </div>
  <br/>
</div>
<!-- /.ELM PAGES -->
{{ footer }}
<style>
  .text-left a{
    color:#333333;
  }
  .text-left a:hover{
    color:#fda7a8;
    text-decoration: none;
  }
  .table-responsive img{
    width: 100%;
  }
</style>