{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>

<section class="bestme-block-content bestme-block-cart {% if notify_bar.visible  == 1 %} not-ads {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        {% if breadcrumb['active'] is defined  %}
                            <li class="bestme-breadcrumb__item">
                                <a href="{{ breadcrumb.href }}" class="bestme-breadcrumb__link active">{{ breadcrumb.text }}</a>
                            </li>
                        {% else %}
                            <li class="bestme-breadcrumb__item">
                                <a href="{{ breadcrumb.href }}" class="bestme-breadcrumb__link">{{ breadcrumb.text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title register">Giỏ hàng của bạn </h2>
                    {% if order_products is not empty %}
                    <span class="sub-title">Giỏ hàng của bạn có {{ order['amount'] }} sản phẩm </span>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 ">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                {% endif %}
                {% if order_products is not empty %}
                <table class="table bestme-table--cart">
                    <thead >
                        <tr>
                            <th>Ảnh</th>
                            <th>Thông tin sản phẩm</th>
                            <th class="text-center">Xoá</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if order is not empty %}
                        {% for product in order['products'] %}
                        <tr>
                            <td class="bestme-cart--img">
                                <img src="{{ product['image_url'] }}" alt="">
                            </td>
                            <td class="bestme-cart--info-item">
                                <a href="{{ product['url'] }}" class="title" title="{{ product['name'] }}">{{ product['name']|length > 20 ? product['name']|slice(0, 20) ~ '...' : product['name'] }}</a>
                                <p title="{{ product['attribute'] }}">{{ product['attribute']|length > 20 ? product['attribute']|slice(0, 20) ~ '...' : product['attribute'] }}</p>
                                {% if product['in_stock'] == false %}
                                    <span style="display: block; color: red; font-size: 13px">
                                        Sản phẩm vừa hết hàng
                                    </span>
                                {% endif %}
                                <p>Đơn giá {{ product['price_formart'] }}</p>
                                <div class="bestme-group--count-amount">
                                    <button class="bestme-btn bestme-btn--change-amount bestme-btn--primary decrease" ><i class="ti-minus"></i>
                                    </button>
                                    <input type="number" value="{{ product['amount'] }}" min="1" max="9999" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}" class="bestme-input bestme-input--number-amount product_quantity" value="1">
                                    <button class="bestme-btn bestme-btn--change-amount bestme-btn--primary increase"><i
                                                class="ti-plus"></i>
                                    </button>
                                </div>
                                <p>Thành tiền: <strong>{{ product['total_formart'] }}</strong></p>
                            </td>
                            <td class="bestme-cart--remove-item">
                                <button class="bestme-btn bestme-btn--link remove" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}"><i class="ti-close"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {% else %}
                    <p>Bạn không có sản phẩm nào trong giỏ hàng</p>
                    <p style="margin-top: 20px;" ><a class="bestme-btn bestme-btn--border bestme-text--uppercase" href="{{ href_common_shop }}">Tiếp tục mua sắm</a></p>
                    <br/><br/><br/><br/>
                {% endif %}
                {% if order_products is not empty %}
                <div class="bestme-cart--total-cost">
                    <span class="title">Tổng tiền </span>
                    <span class="cost">
                        {{ order['into_money_formart'] }}
                    </span>
                </div>
                <div class=" bestme-cart--action">
                    <a href="{{ href_common_shop }}" style="margin-right: 1rem;" class="bestme-btn bestme-btn--border bestme-text--uppercase">Tiếp mục mua hàng</a>
                    <a {% if error %} href="javascript:void(0)" {% else %} href="{{ href_order_preview }}" {% endif %} class="bestme-btn bestme-btn--primary bestme-text--uppercase" {% if customer_is_login == false and error is empty %} data-toggle="modal" data-target="#user-not-account" {% endif %}>Thanh toán ngay</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-------------------- /.PAGE ELEMENT ---------------------->
{#modal not account#}
<div id="user-not-account" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Bạn đã có tài khoản?</h5>
            </div>
            <div class="modal-body" style="text-align: center">
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: #949494 !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_login }}">Đăng nhập ngay</a>
                <div>hoặc</div>
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: #949494 !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_order_preview }}">Tiếp tục với tư cách là Khách</a>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<script type="text/javascript">

    $('.remove').click(function () {
        var product_id = $(this).attr('product-id');
        var product_version_id = $(this).attr('product-version-id');
        var r = confirm('{{ text_remove_alert_confirm }}');
        if (r === true) {
            $.ajax({
                url: 'index.php?route=checkout/my_orders/remove_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                    product_version_id: product_version_id
                },
                success: function (json) {
                    console.log(json);
                    json = $.parseJSON(json)
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
    });

    setTimeout(
        function() {
            $('.product_quantity').bind('change paste keyup', function () {
                var em = $(this); // retrieve the index
                var product_id = em.attr('product-id');
                var quantity = em.val();
                var product_version_id = em.attr('product-version-id');
                var validity = this.validity;
                //change input quantity validate
                if (!validity.valid && validity.rangeOverflow) {
                    quantity = em.attr('max');
                }
                if (!validity.valid && validity.rangeUnderflow) {
                    quantity = em.attr('min');
                }
                if (quantity == '') {
                    quantity = 1;
                }
                $.ajax({
                    url: 'index.php?route=checkout/my_orders/update_order_products',
                    method: 'POST',
                    data: {
                        product_id: product_id,
                        quantity: quantity,
                        product_version_id: product_version_id,
                    },
                    success: function (json) {
                        location.reload();
                    }
                });

            });
        },500);
</script>