body {
    word-wrap: break-word;
}
.product-item .product-img img {
    max-height: 225px;
    width: auto;
}
.block-header .block-header-logo > a {
    padding: 25px 0 !important;
}
.block-header .block-header-logo img {
    max-height: 52px !important;
}
.bestme-block-partner .owl-item .item {
    margin: auto;
}
.bestme-block-partner .owl-item a{
    display: inline-block;
}
.bestme-block-partner .owl-item  .item img {
    max-height: 150px;
    width: inherit;
    max-width: 100%;
}
.block-header .right-menu a>.count-cart {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}
.block-top-sale-product .banner-left img {
    max-width: 450px;
}
.product-item .product-preview .option {
    align-items: center;
    justify-content: center;
}
#add-to-cart .quantity-nav {
    display: none;
}
#add-to-cart .quantity .quantity-input {
    width: 85px !important;
}

div.order-bestme .bestme-table--cart thead {
    border: 0.1rem solid #EC6161;
}
div.order-bestme .bestme-table--cart thead th {
    background-color: #EC6161;
}
div.order-bestme .bestme-btn--primary {
    background-color: #EC6161;
}
.bestme-cart-page-total .btn-primary {
    background-color: #454545;
    border: 1px solid #454545;
}
.bestme-cart-page-total .total-cart {
    color: #EC6161 !important;
}

/*sticky*/
.show-on-pc {
    display: flex !important;
}
.show-on-mobile {
    display: none !important;
}
.show-on-pc.btn-pc {
    display: inline-block !important;
}

.product-teaser-fix .add-to-cart:hover {
    background-color: #454545 !important;
    color: white !important;
}
.product-teaser-fix .add-to-cart:hover > i {
    background-color: white !important;
}

@media screen and (max-width:992px) {
    /*sticky*/
    .show-on-pc {
        display: none !important;
    }

    .show-on-mobile {
        display: block !important;
    }

    .show-on-pc.btn-pc {
        display: none !important;
    }

    .product-teaser-fix {
        display: none !important;
    }

    .show-on-mobile .buy-now {
        vertical-align: middle;
        margin: auto;
    }
    .show-on-mobile .buy-now button.buy-now-mobile {
    }

    .show-on-mobile button.add-to-cart-mobile {

    }

    #add-to-cart .quantity .quantity-input {
        width: 100% !important;
        height: 33px;
        padding: 0;
        min-height: 33px;
    }

    .show-on-mobile.fixed {
        height: 50px;
        position: fixed !important;
        bottom: 0;
        z-index: 99;
    }
    .show-on-mobile.fixed div.row {
        margin-right: 0;
        height: 50px;
    }
}


.block-header .block-header-menu .navbar-collapse>ul.nav > li:nth-child(1) > a {
    padding-left: 20px;
}

.block-header .block-header-menu ul.nav > li > a {
    padding: 8px 20px 8px 20px;
}

.block-header .block-header-menu ul.nav > li.has-child > a>.toggle {
    right: 0;
    top: 15px;
}

.fix-content.fixed .block-header-logo {
    display: flex;
    align-items: center;
}

.right-menu {
    display: flex;
    align-items: center;
}

@media screen and (max-width:767px) {
    .block-header .block-header-menu ul.nav {
        height: 400px;
        overflow: auto;
    }
}
@media screen and (max-width:576px) {
    #add-to-cart .quantity-nav {
        display: inline-block;
    }
    #add-to-cart .quantity-nav .quantity-up {
        position: absolute;
        top: 15px;
        left: 52px;
    }
    #add-to-cart .quantity-nav .quantity-down {
        position: absolute;
        top: 15px;
        left: 6px;
    }
    #add-to-cart .quantity input {
        width: 30% !important;
        text-align: center;
    }
    #add-to-cart .quantity {
        position: relative;
    }

    /*#add-to-cart .quantity .quantity-input {*/
        /*width: 65px !important;*/
    /*}*/
    .product-item{
        padding: 10px!important;
    }
}

.media-show {
    display: none;
}


@media screen and (max-width: 576px){
    /*.block-header .block-header-menu ul.nav > li{*/
        /*border-bottom: 1px solid #ccc;*/
    /*}*/
    .block-header-menu{
        /*position: absolute;*/
        /*top: 60px;*/
    }
    .breadcrumb-nav{
        margin-top: 100px !important;
    }
    #carousel{
        display: none;
    }
    .product-detail .node-left .carousel#slider {
        width: 100%;
        padding: 0px !important;
    }
    .product-detail .node-left .carousel#slider .owl-product .owl-item {
        padding: 0px;
    }
    .media-hide {
        display: none;
    }
    .media-show {
        display: block !important;
    }
    .block-header .main-menu{
        width: 100% !important;
    }
    .block-header .right-menu{
        position: absolute !important;
        top: 82px !important;
    }
    .dropdown-menu-right{
        top: -28px !important;
    }
    .block-header .right-menu ul.nav a{
        padding: 0 10px 15px !important;
    }
    .block-header .right-menu a>.count-cart {
        top: -9px;
        right: -5px;
    }
    .form-payment .fifth-color{
        margin-top: 15px;
    }
}

.owl-carousel .owl-item img{
    display: unset !important;
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}