/* $MAIN_COLOR$ */
.block-header .block-header-menu ul.nav ul.nav li:hover >a,
.block-header .block-header-menu ul.nav ul.nav li a:hover,
.block-header .block-header-menu ul.nav ul.nav a.active {
    color: $MAIN_COLOR$ !important;
}

.second-color,
.second-color-hover:hover {
    color: $MAIN_COLOR$ !important;
}

.border-main{
    border-color: $MAIN_COLOR$ !important;
}

.header-font{
    color: $MAIN_COLOR$;
}

a:hover,
a.active{
    color: $MAIN_COLOR$;
}

.product-item .product-price{
    color: $MAIN_COLOR$;
}

.product-item .product-preview a{
    background: $MAIN_COLOR$;
}

.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
    background: $MAIN_COLOR$;
}

.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
    border: 1px solid $MAIN_COLOR$;
}

.blog-item .blog-link{
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}

ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active{
    color: $MAIN_COLOR$;
}

.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
    background: $MAIN_COLOR$;
}

.product-detail .choose-attribute .attr-item input:checked ~ label{
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}


#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
    background: $MAIN_COLOR$;
}

.second-color,
.second-color-hover:hover{
    color: $MAIN_COLOR$ !important;
}

/* $BUTTON_COLOR$ */
.insert-button-color-selector-here {
    color: $BUTTON_COLOR$;
}
.main-bg, .main-bg-hover:hover{
    background-color: $BUTTON_COLOR$ !important;
}
.product-item .product-preview a {
    background: $BUTTON_COLOR$ !important;
}

#blogs-page .blogs-content .blog-item .blog-content a.link-blog {
    background-color: $BUTTON_COLOR$;
    border: 1px solid $BUTTON_COLOR$;
}
#blogs-page .blogs-content .blog-item .blog-content a.link-blog:hover {
    color: $BUTTON_COLOR$;
}
.container-comments .form-comment .form-group button {
    background-color: $BUTTON_COLOR$;
    border: 1px solid $BUTTON_COLOR$;
}
header.block-header .fix-content .form-search-header .input-group-icon .input-search {
    border: 1px solid $MAIN_COLOR$;
}
section#homepage-ads-banner .ads-banner-item.ads-banner-item-even {
    background: $MAIN_COLOR$;
}
section#homepage-ads-banner .ads-banner-item.ads-banner-item-odd {
    background: #FDF6F4;
}
#product-detail-page .product-detail .node-right button.btn-add {
    background-color: $BUTTON_COLOR$;
}