{{ header }}
<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                    {% else %}
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <!-- End breadcrumb -->
        <!-- Main Content -->
        <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">
        <div class="main-content pb-3 pb-md-5">
            <div class="product-teaser-fix {% if is_on_mobile == 1 %}is-on-mobile{% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="d-flex col-8">
                            {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                            {% else %}
                                <a id="add-to-cart"  onclick="cart.add('{{ product['product_id'] }}')"
                                   {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                   class="add-cart-bestme add-to-cart btn btn-fourth d-flex justify-content-center flex-fill py-2 px-2 mx-1">
                                    <i class="icon icon-cart-plus fz-24 mr-3 btn-primary"></i>
                                    <span class="fz-12 fz-lg-16 align-self-center">Thêm vào giỏ hàng</span>
                                </a>
                                <a class="btn-buynow-bestme button_buying buy-now btn btn-primary flex-fill py-2 mx-1 cart-add"
                                    {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}>
                                    <span class="color-white text-uppercase fz-14 fz-lg-18 fw-600">Mua ngay</span><br>
                                    <span class="color-white fz-10 fz-lg-12">Giao hàng miễn phí tận nơi</span>
                                </a>
                            {% endif %}
                        </div>
                        <span class="font-z-20 align-self-center col-4">  {{ product['name'] }}
                            <span class="header-product-version-text"></span>
                            <strong class="ml-2">
                                 <div class="pro-price-header">
                                    {% if product['is_contact_for_price'] %}
{#                                            <span class="new-price">{{ contact }}</span>#}
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">
                                                            {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                        </span>
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="new-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">
                                                            {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                        </span>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                            </div>

                            </strong></span>
                    </div>
                </div>
            </div>
            <!--  End product teaser fixed -->

            <!-- Product Info -->
            <div class="mb-3 mb-lg-4">
                <div class="product-info bg-white px-2 py-4 bestme-block-detail-product">
                    <div class="row">
                        <div class="col-lg-6 pro-thumb-detail thumb-detail-type3">
                            <div id="carouselProDetail" class="carousel slide" data-ride="carousel"
                                 data-interval="false">
                                <div class="carousel-inner">
                                    {% if product_images is not empty %}
                                    {% for k, image in product_images %}
                                        <div class="carousel-item {{ k == 0 ? 'active' : '' }}">
                                            <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                        <div class="carousel-item"><img src="{{ product_empty }}" alt=""></div>
                                    {% endif %}
                                </div>
                                <div class="carousel-indicators owl-carousel owl-theme owl-hidden-dots">
                                    {% if product_images is not empty %}
                                        {% for k, image in product_images %}
                                            <div class="item">
                                                <a data-target="#carouselProDetail" data-slide-to="{{ k }}" class="{{ k == 0 ? 'active' : '' }}">
                                                    <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                        {% else %}
                                            <div class="item">
                                                <a data-target="#carouselProDetail" data-slide-to="0" class="">
                                                    <img class="img-fluid" src="{{ product_empty }}" alt="">
                                                </a>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>
                        </div><!-- /.pro-thumb-zoom -->

                        <div id="block-detail-product" class="col-lg-6 pro-detail pl-lg-3">
                            <a class="text-second mb-3 d-inline-block fw-500" href="#">
                                {% if categories is not empty %}
                                    {% for k,category in categories %}
                                        {{ category['name'] }}{% if categories|length != k+1 %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </a>
                            <h1 class="page-pro-title fw-500 fz-28">
                                {{ product['name'] }}
                            </h1>
{#                            <div class="wrap-star-rate mb-2">#}
{#                                <ul class="list-inline mb-0">#}
{#                                    <li class="list-inline-item mr-0">#}
{#                                        <span class="star star-rate"></span>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item mr-0">#}
{#                                        <span class="star star-rate"></span>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item mr-0">#}
{#                                        <span class="star star-rate"></span>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item mr-0">#}
{#                                        <span class="star star-rate"></span>#}
{#                                    </li>#}
{#                                    <li class="list-inline-item mr-0">#}
{#                                        <span class="star"></span>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
                            <div class="pro-price detail d-inline-block">
                                    {% if product['is_contact_for_price'] %}
                                        <a data-toggle="modal" data-target="#modal-buy" class="btn btn-buy" href="javascript:void(0);">
                                            <span class="new-price price-new fw-700 fz-36 d-flex">
                                                <span class="btn btn-primary">{{ contact }}</span>
                                            </span>
                                        </a>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price fw-700 fz-36 d-flex">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">
                                                            {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                        </span>
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="new-price fw-700 fz-36 d-flex">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">
                                                            {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                        </span>
                                                {% endif %}
                                            </span>
                                            <br>
                                            <span class="old-price fz-18 text-second mt-n3 mb-3 text-left">
                                                <del>
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">
                                                                {{ product['min_compare_price_version'] }}
                                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                            </span>
                                                    {% endif %}
                                                </del>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                            </div><!-- /.price-rate -->
                            <p class="row">
                                <span class="text-second mr-3 col-lg-4 col">SKU :</span>
                                <span class="col code-product">{% if product['product_version_id'] is empty %} {{ product['sku'] }} {% endif %}</span>
                            </p>
                            <p class="row">
                                <span class="text-second mr-3 col-lg-4 col">Tình trạng: </span>
                                <span class="text-fourth col tinh-trang">
                                      {% if product['product_is_stock'] %}
                                            Còn hàng
                                       {% else %}
                                            Hết hàng
                                      {% endif %}
                                </span>
                            </p>
                            <p>
                                {% if product['sub_description'] is not empty %}
                                    <div class="desc ckeditor-content">
                                        {{ product['sub_description']|html_entity_decode }}
                                    </div>
                                {% endif %}
                            </p>

                                {% if attributes is not empty %}
                                    {% for attribute in attributes %}
                                    <div class="row mb-4">
                                        <label class="text-second mb-lg-0 col-lg-3 pr-0 col-12 mt-2">{{ attribute['attribute_name'] }} :</label>
                                        <ul class="list-radio-size list-inline align-self-center col">
                                            {% for key,attribute_text in attribute['attribute_text'] %}
                                                <li class="list-inline-item">
                                                    <div class="form-check p-0">
                                                        <input class="form-check-input d-none" {% if key == 0 %} checked {% endif %}
                                                               name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                        value="{{ attribute_text }}">
                                                            <label class="form-check-label pointer" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">
                                                                {{ attribute_text }}
                                                            </label>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                                {% endif %}
                                <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                                <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">


                                <ul class="pro-action list-inline d-flex {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    <li class="list-inline-item align-self-center mr-5 {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                        <div class="buy-total">
                                            <input class="custom-number-input border-0 mx-2 pl-2" type="number" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" required name="quantity" pattern="(([0-9]{9})\b)" min="1" max="9999" step="1" value="1">
                                        </div>
                                    </li>
                                    <li class="list-inline-item flex-fill {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                        <button style="width: 100% " id="add-to-cart" type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                            class="btn-addcart-bestme btn btn-action w-100 btn-add-cart-header add-to-cart btn-fourth d-flex justify-content-center py-2 py-lg-3 px-2 {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                            onclick="cart.add('{{ product['product_id'] }}')">
                                            <i class="icon icon-cart-plus fz-24 mr-3 btn-primary"></i> <span class="fz-12 fz-lg-16 align-self-center">Thêm vào giỏ hàng</span></button>
                                    </li>
                                </ul><!-- /.pro-action -->
                                <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="fix-add-cart-moblile button_buying btn btn-buy btn-buy-now-header buy-now btn btn-primary py-2 w-100 {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %} ">
                                    <span class="text-uppercase fz-14 fz-lg-18 fw-600">Mua ngay</span><br>
                                    <span class="fz-10 fz-lg-12">Giao hàng miễn phí tận nơi</span>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Product Info -->

            <!-- Product tab -->
            <ul class="nav nav-tabs border-bottom bg-white justify-content-center" id="productDetailTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#proDesc" role="tab"
                       aria-controls="proDesc" aria-selected="true">Mô tả sản phẩm</a>
                </li>
{#                <li class="nav-item" role="presentation">#}
{#                    <a class="nav-link" id="proComment-tab" data-toggle="tab" href="#proComment" role="tab"#}
{#                       aria-controls="proComment" aria-selected="false">Bình luận</a>#}
{#                </li>#}
            </ul>
            <div class="tab-content mb-3 mb-lg-4 bg-white" id="productDetailTabContent">
                <div class="tab-pane fade show active p-3" id="proDesc" role="tabpanel" aria-labelledby="info-tab">
                    <p>  {{ product['description']|html_entity_decode }} </p>
                </div>
                <div class="tab-pane fade p-3" id="proComment" role="tabpanel" aria-labelledby="proComment-tab">
                    <!-- Comment and Rating -->
                    <div class="comment-rating mb-3 pt-3">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-rate mb-3">
                                    <form action="">
                                        <div class="form-group">
                                    <textarea class="form-control rounded-0 fw-300" rows="7">Lorem Ipsum is simply dummy it of the printing and type setting industry. Lorem Ipsum has been the industry's
                                    </textarea>
                                        </div>
                                        <div class="form-bottom clearfix">
                                            <div class="user-star-rate float-left mt-1">
                                                <div class="rating-group">
                                                    <input class="rating__input rating__input--none" name="rating1"
                                                           id="rating1-none" value="0" type="radio">
                                                    <label aria-label="1 star" class="rating__label" for="rating1-1">
                                                        <span class="rating__icon rating__icon--star"></span>
                                                    </label>

                                                    <input class="rating__input" name="rating1" id="rating1-1" value="1"
                                                           type="radio">
                                                    <label aria-label="2 stars" class="rating__label" for="rating1-2">
                                                        <span class="rating__icon rating__icon--star"></span>
                                                    </label>

                                                    <input class="rating__input" name="rating1" id="rating1-2" value="2"
                                                           type="radio">
                                                    <label aria-label="3 stars" class="rating__label" for="rating1-3">
                                                        <span class="rating__icon rating__icon--star"></span>
                                                    </label>

                                                    <input class="rating__input" name="rating1" id="rating1-3" value="3"
                                                           type="radio">
                                                    <label aria-label="4 stars" class="rating__label" for="rating1-4">
                                                        <span class="rating__icon rating__icon--star"></span>
                                                    </label>

                                                    <input checked class="rating__input" name="rating1" id="rating1-4"
                                                           value="4"
                                                           type="radio">
                                                    <label aria-label="5 stars" class="rating__label" for="rating1-5">
                                                        <span class="rating__icon rating__icon--star"></span>
                                                    </label>
                                                    <input class="rating__input" name="rating1" id="rating1-5" value="5"
                                                           type="radio">
                                                </div>
                                            </div><!-- /.user-star-rate -->
                                            <button class="btn btn-primary fz-12 text-white float-right rounded-15 submit-check-rating"
                                                    data-toggle="tooltip" data-placement="top"
                                                    title="Vui lòng xếp hạng sản phẩm">Bình luận
                                            </button>
                                        </div><!-- /.form-head -->
                                    </form>
                                </div><!-- /.form-rate -->
                            </div>
                            <!-- List comment -->
                            <div class="col-lg-7">
                                <div class="list-comment">
                                    <div class="media mb-3">
                                        <img src="{{ theme_directory }}/img/comment-user.png" class="mr-3" alt="...">
                                        <div class="media-body mt-1">
                                            <h5 class="mt-0 fz-16 fw-500 text-black-50">Luong Viet Dung</h5>
                                            <div class="rate-result clearfix">
                                                <!-- Star Rate -->
                                                <div class="wrap-star-rate float-left mr-1">
                                                    <ul class="list-inline mb-0">
                                                        <li class="list-inline-item mr-0">
                                                            <span class="star star-rate"></span>
                                                        </li>
                                                        <li class="list-inline-item mr-0">
                                                            <span class="star star-rate"></span>
                                                        </li>
                                                        <li class="list-inline-item mr-0">
                                                            <span class="star star-rate"></span>
                                                        </li>
                                                        <li class="list-inline-item mr-0">
                                                            <span class="star star-rate"></span>
                                                        </li>
                                                        <li class="list-inline-item mr-0">
                                                            <span class="star"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- End: Star Rate -->
                                                <span class="rate-date fz-10 text-light-2 float-left pt-1">12/09/2019</span>
                                            </div>
                                            <p class="mb-0 fw-300">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                                text
                                                ever since the 1500s, when an unknown printer took a galley of type and
                                                scrambled</p>
                                        </div>
                                    </div><!-- /.media -->
                                </div>
                            </div>
                            <!-- End: List comment -->
                        </div>
                    </div>
                    <!-- End: Comment and Rating -->
                </div>
            </div>
            <!-- Product tab -->
            {% if related_product_visible %}
            <!-- Product Related -->
            <div class="product-related mb-3 mb-lg-4 mb-md-4 pb-3 bg-white px-lg-3 bestme-block-product-related-product">
                <h3 class="box-title text-center d-inline-block mb-4">
                    <span>{{ related_product_title }}</span>
                </h3>
                <!-- /.box-title-center -->
                <div class="owl-product owl-carousel owl-theme" data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}" data-number-item="{{ related_products_display_grid_quantity }}" data-interval="product">
                    {% set grid = is_on_mobile == 0 ? related_products_display_grid_quantity : related_products_display_grid_mobile_quantity %}
                            {% for product_index, product in related_products %}
                                {% if 1 == (product_index + 1) % grid or 1 == grid %}
                                <div class="slide-item">
                                    <div class="row m-0 row-cols-{{ grid }}">
                                {% endif %}
                                        <div class="col">
                                            <div class="pro-item">
                                                <div class="img-thumb pro-thumb position-relative">
                                                    <div class="img-wrap">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" height="500" width="200" alt="">
                                                        </a>
                                                    </div>
                                                        {% if product['percent_sale'] is not empty %}
                                                        <div class="pro-sticky sale-off">
                                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                                        </div>
                                                        {% endif %}
                                                        {% if product['product_is_stock'] == false %}
                                                            <div class="pro-sticky sale-off out-stock"
                                                            {% if product.Percent_protduct == 0 %}
                                                                style="transform: translateX(0);"
                                                            {% endif %}
                                                            >hết hàng</div>
                                                        {% endif %}
                                                </div>
                                                <p class="mt-3 mb-2 pro-cat fz-12 text-center text-second">
{#                                                    {{ product.name_cate }}#}
                                                </p>
                                                <div class="pro-info">
                                                    <a href="{{ product['href'] }}" title="{{ product.name|length > 20 ? product.name : '' }}" data-toggle="tooltip"
                                                       class="pro-item-title text-primary d-block my-1">{{ product.name|length > 20 ? product.name|slice(0, 20) ~ '...' : product.name }}</a>
                                                    <div class="pro-price my-2">
                                                        <div class="price">
                                                            {% if product['is_contact_for_price'] %}
                                                                <span class="new-price text-third fw-600">{{ contact }}</span>
                                                            {% else %}
                                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="new-price text-third fw-600">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="new-price text-third fw-600">
                                                            {{ product['min_compare_price_version'] }}
                                                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                                ~ {{ product['max_compare_price_version'] }}
                                                                            {% endif %}
                                                        </span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="new-price text-third fw-600">{{ product['price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="new-price text-third fw-600">
                                                            {{ product['min_price_version'] }}
                                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                                ~ {{ product['max_price_version'] }}
                                                                            {% endif %}
                                                        </span>
                                                                    {% endif %}
                                                                    {% if product['max_compare_price_version'] is null %}
                                                                        <span class="old-price text-second fz-12">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="old-price text-second fz-12">
                                                            {{ product['min_compare_price_version'] }}
                                                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                                ~ {{ product['max_compare_price_version'] }}
                                                                            {% endif %}
                                                        </span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pro-overlay">
                                                    <div class="transition d-flex justify-content-center align-items-center">
                                                        <a href="{{ product['href'] }}" class="view-now btn-icon">
                                                            <i class="icon icon-eye"></i>
                                                        </a>
                                                        <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                                            <i class="icon icon-cart"></i>
                                                        </a>
                                                    </div>
                                                    <a href="{{ product['href'] }}" class="buy-now btn btn-primary">Mua
                                                        ngay</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end col pro -->
                                {% if 0 == (product_index + 1) % grid or product_index + 1 == related_products|length or 1 == grid %}
                                    </div>
                                    <!-- End row -->
                                </div>
                                {% endif %}
                            {% endfor %}
                        <!-- End slide-item -->
                </div> <!-- End owl-product -->
            </div>
            <!-- End: Product Related -->
            {% endif %}
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End container -->
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product btn btn-primary">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>

<script src="{{ theme_directory }}/js/okzoom.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function () {
        owlInit($('#carouselProDetail .carousel-indicators'), 4, true, false, 8, {
            0: {
                items: 4,
            }
        }, false);
        if (window.innerWidth > 991) {
            // Zoom image product
            $('#carouselProDetail .carousel-item img').okzoom({
                width: 250,
                height: 250,
                round: true,
                background: "#fff",
                backgroundRepeat: "no-repeat",
                shadow: "0 0 5px #333",
                border: "0",
                scaleWidth: 1000,
            });
        }
    });
</script>
<script>
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
            return false;
        } else {
            $('#add-to-cart').submit();
        }
    });

    $('body').on('click', '.btn-addcart-bestme', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
            return false;
        } else {
            return  true;
        }
    });
    $('body').on('click', 'a.add-cart-bestme', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
            return false;
        } else {
            return  true;
        }
    });


    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        // update current order
        updateCurrentOrder();
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.action-cart a .count').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>

<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>

{{ footer }}
<style>
    .color-white{
        color: white;
    }
    a.cart-add:hover .color-white{
        color: #B8311B;
    }
    .close:hover{
        color: black !important;
    }
</style>
