<script>
    const receiptType = {
        other: 9
    }

    const contributorObject = {
        customer       : 1,
        staff          : 2,
        manufacturer   : 3,
        shippingPartner: 4,
        other          : 5,
    };
    const objectInfoSelector = {
        objectInfo              : '.object-info',
        selectCustomerBox       : '.object-info__select-customer',
        selectStaffBox          : '.object-info__select-staff',
        selectManufacturerBox   : '.object-info__select-manufacturer',
        selectShippingPartnerBox: '.object-info__select-shipping-partner',
        inputOtherBox           : '.object-info__input-other',
        selectCustomer          : '.object-info__select-customer>select',
        selectStaff             : '.object-info__select-staff>select',
        selectManufacturer      : '.object-info__select-manufacturer>select',
        selectShippingPartner   : '.object-info__select-shipping-partner>select',
        inputOther              : '.object-info__input-other>input',
    }

    const selector = {
        selectStore          : '#select-store',
        selectReceiptType    : '#select-receipt-type',
        selectPaymentMethod  : '#select-method',
        receiptTypeOtherBox  : '.input-receipt-type-other-box',
        inputReceiptTypeOther: '#input-receipt-type-other',
        buttonShowModalCancel: '#button-show-modal-cancel',
        buttonCancelReceipt  : '#btn-cancel-receipt',
        formCancelReceipt    : '#form_cancel_receipt',
        selectObject         : '#select-object',
        inputAmount          : '#input-amount'
    }

    var staffs =  {{ staffs }};
    var receiptId = parseInt({{ receipt_voucher_id }})

    staffs = staffs.map(function (e, key) {
        return {id: e.user_id, text: e.lastname + ' ' + e.firstname}
    })

    var shippingPartner = [
        {% for shipping_partner in shipping_partners %}
            { id: '{{ shipping_partner }}', text: '{{ shipping_partner }}' },
        {% endfor %}
    ]

    $(function () {
        if (!receiptId) {
            detectToShowObjectSelect()
            initSelect2($(selector.selectStore), '{{ placeholder_store }}', 'index.php?route=cash_flow/cash_flow/getUserStoreLazyLoad&user_token={{ user_token }}');
            initSelect2($(objectInfoSelector.selectCustomer), '{{ placeholder_select_prepared_by }}', 'index.php?route=cash_flow/cash_flow/getCustomerLazyLoad&user_token={{ user_token }}');
            initSelect2($(objectInfoSelector.selectManufacturer), '{{ placeholder_select_prepared_by }}', 'index.php?route=cash_flow/cash_flow/getManufacturerLazyLoad&user_token={{ user_token }}');
            initSelect2($(objectInfoSelector.selectStaff), '{{ placeholder_select_prepared_by }}', null, staffs);
            initSelect2($(objectInfoSelector.selectShippingPartner), '{{ placeholder_select_prepared_by }}', null, shippingPartner);
            initSelect2($(selector.selectReceiptType), '{{ placeholder_receipt_type }}', null, []);
            initSelect2($(selector.selectPaymentMethod), '{{ placeholder_payment_method }}', null, []);
            initSelect2($(selector.selectObject), '{{ placeholder_object }}', null, []);
        } else {
            detectToShowReceiptTypeOther()
            convertAmount()
        }
    })

    $(selector.buttonShowModalCancel).on('click', function (e) {
        e.preventDefault()
    });

    $(selector.buttonCancelReceipt).on('click', function (e) {
        e.preventDefault()
        $(selector.formCancelReceipt).submit()
    });

    $(selector.selectObject).on('change', function () {
        detectToShowObjectSelect()
    })

    $(selector.inputAmount).on('keypress', function (e) {
        if ($(this).val().length >= 14 || e.which < 48 || e.which > 57) {
            e.preventDefault()
        }
    })

    $(selector.selectReceiptType).on('change', detectToShowReceiptTypeOther)

    $(selector.inputAmount).on('keyup', convertAmount)

    function convertAmount() {
        var amount = $(selector.inputAmount).val().replace(/,/g, '')
        var amountConvert = parseInt(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3);
        $(selector.inputAmount).val(amountConvert)
    }

    function detectToShowReceiptTypeOther() {
        if ($(selector.selectReceiptType).val() == receiptType.other) {
            $(selector.receiptTypeOtherBox).show('fast')
            $(selector.inputReceiptTypeOther).attr('required', true)
        } else {
            $(selector.receiptTypeOtherBox).hide('fast')
            $(selector.inputReceiptTypeOther).attr('required', false)
        }
    }

    function detectToShowObjectSelect() {
        $('.object-info-disable').addClass('hide');

        $(objectInfoSelector.objectInfo).hide();

        switch (parseInt($(selector.selectObject).val())) {
            case contributorObject.customer:
                $(objectInfoSelector.selectCustomerBox).show();
                break;
            case contributorObject.staff:
                $(objectInfoSelector.selectStaffBox).show();
                break;
            case contributorObject.manufacturer:
                $(objectInfoSelector.selectManufacturerBox).show();
                break;
            case contributorObject.shippingPartner:
                $(objectInfoSelector.selectShippingPartnerBox).show();
                break;
            case contributorObject.other:
                $(objectInfoSelector.inputOtherBox).show();
                break;
            default:
                $('.object-info__disable').show();
                break;
        }
    }

    /**
     *
     * @param $inputElement
     */
    function initSelect2($inputElement, $placeHolder, $url = null, $source = null) {
        var select2Option = {
            theme            : 'bootstrap4',
            containerCssClass: 'col',
            placeholder      : {
                id  : '',
                text: $placeHolder
            },
            allowClear       : true,
            language         : {
                "noResults"  : function () {
                    $("#select-2-dropdown-receipt-store").parent().addClass('no-result');
                    return "Not found";
                },
                "searching"  : function () {
                    $("select-2-dropdown-receipt-store").parent().removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup     : function (markup) {
                return markup;
            },
        }
        if ($url) {
            select2Option.ajax = {
                url           : $url,
                dataType      : 'json',
                delay         : 20,
                data          : function (params) {
                    var condition = {
                        filter_name: params.term,
                        page       : params.page || 1
                    };
                    return condition;
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results   : data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache         : true
            }
        } else if ($source) {
            select2Option.data = $source;
        }

        $inputElement.select2(select2Option);
    }
</script>