{{ header }}

<main id="main-wrapper">
    <div class="container">
        {# TODO: use var theme_dir instead of hardcode... #}
        {% include ('other_dothovie/template/blog/blog_breadcrumb.twig') %}
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content">
            <div class="single-post-info">
                <div class="banner-post overflow-hidden mb-lg-4 mb-3">
                    {% if blog['image'] is not empty %}
                        <img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['title'] }}">
                    {% endif %}
                    <div class="overlay">
                        <div class="blog-info align-self-end col-lg-8 p-0">
                            <h1 class="fz-24 mb-3">{{ blog['title'] }}</h1>
                            <div class="d-flex w-100">
                                <span class="mr-5">Đăng bởi <span class="fw-500">{{ blog['lastname'] ~ ' ' ~ blog['firstname'] }}</span></span>
                                <span class="d-flex">
                                    <i class="icon icon-calendar bg-white fz-16 mr-2 align-self-center"></i>
                                    {{ blog['date_added']|date('d/m/Y') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End banner-post -->

                <article class="mb-3">
                    <div class="post-content text-justify">
                        {{ blog['content']|html_entity_decode }}
                    </div>
                    <div class="mb-3 social-comment fz-14 d-flex flex-wrap">
                        <a href="{{ social['facebook']['href'] }}" target="_blank" class="btn-facebook-share mr-3 py-2 px-3 px-lg-4 mb-3 rounded-20 fw-500 text-white">
                            <i class="fab fa-facebook-f fz-16 mr-2"></i>
                            Chia sẻ qua Facebook
                        </a>
                        <a href="{{ social['google']['href'] }}" target="_blank" class="btn-google-share py-2 mb-3 px-3 px-lg-4 rounded-20 fw-500 text-white">
                            <i class="fab fa-google fz-16 mr-2"></i>
                            Chia sẻ qua Google +
                        </a>
                    </div>
                    <div class="mb-3 d-inline-flex flex-wrap">
                        <span class="mr-3 fw-500 pt-2">Tag liên quan:</span>
                        {% for blog_item in blog_list if blog_item['blog_id'] == blog['blog_id'] %}
                            {% for tag in blog_item['blog_tags'] %}
                                <a class="mr-3 mb-2 text-fifth bg-sixth px-4 py-2 fz-12 fw-500 rounded-20" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </article>
            </div>
            <!-- /.single-post-info -->

            <!-- Box News -->
            <div class="box-news block-blog mb-3">
                <h3 class="box-title border-bottom w-100 d-block mb-4 text-left fz-lg-20 fz-16">
                    <a href="{{ blog_url }}" class="btn btn-primary rounded-10 rounded-bottom-0 py-2 px-4 fw-500">Bài viết liên quan</a>
                </h3>
                <!-- /.box-title-center -->

                <div class="row">
                    {% for k, blog in blog_relate if k < 4 %}
                    <!-- News Item -->
                    <div class="col-lg-6 col-12">
                        <div class="news-item">
                            <div class="col-4 p-0">
                                <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                    <div class="img-wrap">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </div>
                                </a>
                            </div>

                            <div class="col pl-3">
                                <div class="news-info d-flex flex-wrap h-100">
                                    <a href="{{ blog['link'] }}" class="news-title">
                                        {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                    </a>
                                    <div class="news-desc d-none d-md-block">
                                        {{ blog['short_content']|length > 180 ?
                                        blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...' :
                                        blog['short_content']|html_entity_decode|striptags }}
                                    </div>
                                    <a class="btn btn-primary mt-2 py-2 px-3 align-self-end rounded-30 fw-500"
                                       href="{{ blog['link'] }}">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: News Item -->
                    {% endfor %}
                </div>
            </div>
            <!-- End: Box News -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End container -->
</main>

{{ footer }}