<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    <!-- Bootstrap CSS -->
    {{ cssResource }}
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->

    {# could not included font-awesome.min.css into "cssResource" , unknown error. TODO: fix... #}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/font-awesome/css/font-awesome.min.css">#}

    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">

    <link rel="stylesheet" href="{{ theme_directory }}/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ theme_directory }}/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="{{ theme_directory }}/css/style.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/jquery-ui.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{ jsResource }}
    {#<script src="{{ theme_directory }}/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>#}

    {#<script src="{{ theme_directory }}/js/popper.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery.matchHeight-min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/bootstrap-select.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/swiper/dist/js/swiper.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>

<body>
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

{% if notify_bar.visible  == 1 %}
    <section id="block-header-top" class="bestme-block-banner-top">
        <div class="container">
            <div class="block-header-top flex-display">
                <a class="title-top" href="{{ notify_bar.url }}">{{ notify_bar.content }}</a>
            </div>
        </div>
    </section>
{% endif %}
<!-- Header -->
<header id="block-header" class="block-header d-none d-lg-block">
    <div class="container">
        <div class="flex-display">
            <!-- Search -->
            <div class="block-header-search">
                <div class="form-group">
                    <form action="{{ urlserach }}" method="get">
                        <input type="text" name="search" id="" class="form-control content-font"
                               placeholder="Tìm kiếm sản phẩm" aria-describedby="helpId">
                        <input type="hidden" name="route" value="common/shop">
                        <button type="submit" class="btn btn-search" onclick="window.location.href='/result.html'">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <!-- /.Search -->

            <!-- logo -->
            <div id="block-header-logo" class="block-header-logo">
                <a href="{{ home }}">
                    <img src="{{ logo }}" title="{{ name }}" alt="{{ alt }}" class="bestme-block-header-logo"
                        {% if logo_height != '' %}
{#                            style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                            class="custom-height"
                        {% endif %}
                    alt="{{ alt }}">
                </a>
            </div>
            <!-- /.logo -->

            <!-- Action -->
            <div class="block-header-action">
                <div class="action-user mr-3">
                    {% if logged_in == '' %}
                        <h2 class="ttl-user">
                            {#<svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                 viewBox="0 0 14 14" fill="none">
                                <path d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                      fill="#25292C" />
                            </svg>#}
                            <a href="{{ login }}">Đăng nhập</a>
                            /
                            <a href="{{ register }}">Đăng Ký</a>
                        </h2>
                    {% else %}
                        <div class="dropdown">
                            <span class="title-wc">xin chào</span>
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ logged_user }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ my_account }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C" />
                                    </svg>
                                    <span>Tài khoản của tôi</span>
                                </a>
                                <a class="dropdown-item" href="{{ logout }}">
                                    <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                         viewBox="0 0 14 13" fill="none">
                                        <path
                                                d="M5.8 4.09767V1.75418C5.8 1.54701 5.88429 1.34832 6.03432 1.20182C6.18435 1.05532 6.38783 0.973022 6.6 0.973022H12.2C12.4122 0.973022 12.6157 1.05532 12.7657 1.20182C12.9157 1.34832 13 1.54701 13 1.75418V11.1281C13 11.3353 12.9157 11.534 12.7657 11.6805C12.6157 11.827 12.4122 11.9093 12.2 11.9093H6.6C6.38783 11.9093 6.18435 11.827 6.03432 11.6805C5.88429 11.534 5.8 11.3353 5.8 11.1281V8.78463"
                                                stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        <path d="M9.8 6.44116H1" stroke="#25292C" stroke-miterlimit="10"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.4 4.09766L1 6.44114L3.4 8.78462" stroke="#25292C"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>Đăng xuất</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="action-heart mr-3 d-none">
                    <a href="wish-list.html">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="action-cart mr-4">
                    <a href="{{ href_my_orders }}">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        <span class="count main-color text-center">
                                {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                            </span>
                    </a>
                </div>
            </div>
            <!-- /.Action -->
        </div>
    </div>
</header>
<!-- /.Header -->

<!-- Menu -->
<section id="block-header-menu" class="block-header-menu bestme-block-header-menu">
    <div class="container">
        <div class="flex-display">
            <!-- logo -->
            <style>
                @media (max-width: 768px){
                    #sidenav {
                        {#background: url({{ logo }}) white;#}
                        background-position: center 10px;
                        background-repeat: no-repeat;
                    }
                }
            </style>
            <div class="block-header-logo">
                <a href="{{ home }}"><img src="{{ logo }}" alt="{{ alt }}"></a>
            </div>
            <!-- /.logo -->

            <!-- Menu -->
            <nav id="sidenav" class="main-menu">
                <a class="logo-custom-on-mobile mobiles" href="{{ home }}"><img src="{{ logo }}" alt="{{ alt }}"></a>
                <ul>
                    {% for idx, m in main_menu %}
                        {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                            <li class="header-font {{ result_active_menu == m.url ? 'active' : '' }}" >
                                {# one level #}
                                {#<a class="{{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>#}
                                <a class="{{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                            </li>
                        {% else %}
                            <li class="header-font has-child">
                                {# two levels #}
                                <a class="{{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                <i class="fa fa-angle-down accodition" aria-hidden="true"></i>
                                <ul class="sub-menu" aria-labelledby="navbarFeatureMenu">
                                    {% for it in m.items %}
                                        <li>
                                            <a href="{{ it.url }}">{{ it.text }}</a>
                                            {% if it.items is defined and it.items|length > 0 %}
                                                <i class="fa fa-angle-down accodition" aria-hidden="true"></i>
                                                <ul>
                                                    {% for it3 in it.items %}
                                                        <li><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <!-- /.Menu -->

            <!-- overlay -->
            <div class="block-overlay"></div>
            <!-- /.overlay -->



            <!-- Action -->
            <div class="block-header-action">
                <div class="action-user">
                    {% if logged_in == '' %}
                        <a href="{{ login }}" class="ttl-user"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,10"><i class="icon icon-user-solid main-color mr-2"></i>
                            Đăng nhập/Đăng ký
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item d-flex second-color-hover" href="{{ login }}"><i class="icon icon-log-in mr-3 font-20"></i>Đăng nhập</a>
                            <a class="dropdown-item d-flex second-color-hover" href="{{ register }}"><i class="icon icon-user-circle mr-3 font-20"></i>Đăng ký</a>
                        </div>
                    {% else %}
                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ logged_user }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ my_account }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C" />
                                    </svg>
                                    <span>Tài khoản của tôi</span>
                                </a>
                                <a class="dropdown-item" href="{{ logout }}">
                                    <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                         viewBox="0 0 14 13" fill="none">
                                        <path
                                                d="M5.8 4.09767V1.75418C5.8 1.54701 5.88429 1.34832 6.03432 1.20182C6.18435 1.05532 6.38783 0.973022 6.6 0.973022H12.2C12.4122 0.973022 12.6157 1.05532 12.7657 1.20182C12.9157 1.34832 13 1.54701 13 1.75418V11.1281C13 11.3353 12.9157 11.534 12.7657 11.6805C12.6157 11.827 12.4122 11.9093 12.2 11.9093H6.6C6.38783 11.9093 6.18435 11.827 6.03432 11.6805C5.88429 11.534 5.8 11.3353 5.8 11.1281V8.78463"
                                                stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        <path d="M9.8 6.44116H1" stroke="#25292C" stroke-miterlimit="10"
                                              stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3.4 4.09766L1 6.44114L3.4 8.78462" stroke="#25292C"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <span>Đăng xuất</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="action-heart d-none d-md-block ml-3 mr-3 d-none">
                    <a href="wish-list.html">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="action-cart mr-4">
                    <a href="{{ href_my_orders }}">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        <span class="count main-color text-center">
                                {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                            </span>
                    </a>
                </div>
                <div class="action-search ml-1 search-mobile">
                    <a href="javascript:void(0)" class="show-search-mb">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <!-- Search -->
                    <div class="form-group">
                        <form action="{{ urlserach }}">
                            <input type="text" name="search" id="" class="form-control content-font"
                                   placeholder="Bạn cần tìm gì?" aria-describedby="helpId">
                            <input type="hidden" name="route" value="common/shop">
                            <button type="submit" class="btn btn-search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <!-- /.Search -->
                </div>
                <div class="open-sidemenu">
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                </div>
            </div>
            <!-- /.Action -->
        </div>
    </div>
</section>
<!-- /.Menu -->
