{{ header }}


<main class="main-content">
  <div class="container pb-5">

    <nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin đơn hàng</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-12 col-md-12 bestme-block-contact-form">
        <h2 class="header-font letter-spacing-0 mb-5">Thông tin đơn hàng</h2>
        {% include ('default/template/account/order_info_template.twig') %}
      </div> <!-- End col-md-6 -->
    </div> <!-- End row -->

  </div> <!-- End container -->

</main>
<!-- /.ELM PAGES -->
{{ footer }}