{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
            <!-- End breadcrumb -->

            <h1 class="page-title mb-lg-20 mb-15 text-center">Liên hệ với chúng tôi</h1>
            <div class="line-percent mb-30 mb-lg-40"></div>

            {% if contact is defined and contact.visible == 1 %}
                <section class="full-width bestme-block-contact-contact">
                    <div class="pt-lg-60 pb-lg-20 pt-40"
                         style="background: url(/catalog/view/theme/adg_topal_55/img/about-bg.png) no-repeat center/cover fixed;">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-6 col-lg-4 mb-40">
                                    {% if contact.phone is defined %}
                                        <div class="h-100 border-end-0 border-lg-end">
                                            <p class="mb-10"><img src="/catalog/view/theme/adg_topal_55/img/icons/phone.svg" width="26" height="26"></p>
                                            <p class="fz-lg-24 fz-20 mb-10 fw-500">Số điện thoại</p>
                                            <p class="fz-lg-18 fz-16 text-secondary mb-0">{{ contact.phone }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-6 col-lg-4 mb-40">
                                    {% if contact.email is defined %}
                                        <div class="h-100 border-end-0 border-lg-end">
                                            <p class="mb-10"><img src="/catalog/view/theme/adg_topal_55/img/icons/email.svg" width="26" height="26"></p>
                                            <p class="fz-lg-24 fz-20 mb-10 fw-500">Email</p>
                                            <p class="fz-lg-18 fz-16 text-secondary mb-0 text-break">{{ contact.email }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-4 col-6 mx-auto mb-40">
                                    {% if contact.address is defined %}
                                        <div class="h-100">
                                            <p class="mb-10"><img src="/catalog/view/theme/adg_topal_55/img/icons/pin-marker.svg" width="26" height="26"></p>
                                            <p class="fz-lg-24 fz-20 mb-10 fw-500">Địa chỉ</p>
                                            {% set contact_address = contact.address|split('&lt;li&gt;') %}
                                            <p class="fz-lg-18 fz-16 text-secondary mb-0">{{ contact_address[0] | replace({'&lt;br&gt;': '<br>'}) }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End row -->
                        </div>
                    </div>
                </section>
            {% endif %}

            <h2 class="mb-2 mt-lg-60 mt-50 pt-lg-30 text-center">Thông tin liên hệ</h2>
            <p class="text-secondary mb-20 text-center px-50">Bạn vui lòng để lại thông tin cá nhân, chúng tôi sẽ liên lạc ngay!</p>
            <div class="line-percent mb-20 mb-lg-40"></div>

            {% if 1 == contact_config['visible'] %}
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <form action="{{ href_submit_form }}" method="post" enctype="multipart/form-data" class="bestme-block-contact-form bg-fourth full-width py-25 py-lg-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="mb-2">Họ tên <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="your-name" name="fullname" required placeholder="Nhập họ tên"
                                           oninput="setCustomValidity('')"
                                           oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')">
                                </div>
                                <div class="mb-3">
                                    <label class="mb-2">Email <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="your-email" name="email" required placeholder="Nhập email"
                                           oninput="setCustomValidity('')"
                                           oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                           pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                </div>
                                <div class="mb-3">
                                    <label class="mb-2">Số điện thoại <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="your-phone" name="phone" required placeholder="Nhập số điện thoại"
                                           oninput="setCustomValidity('')"
                                           oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                           pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4 h-100">
                                    <label class="mb-2">Nội dung <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="your-messenger" rows="8" name="your_mind" required placeholder="Nhập nội dung"
                                              oninput="setCustomValidity('')"
                                              oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--End row-->
                        <div class="text-lg-center mt-lg-20">
                            <button type="submit" class="btn btn-primary px-5"><span class="mx-lg-5 mx-4">Gửi</span></button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <!-- End container -->
    </div>
</main>

{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>