<div class="col-12 col-md-3 sidebar-left">
    <div class="sidebar-content">
        <div class="box-blog-filter mb-5" id="product-category">
            <h2 class="block-title font-18 font-weight-500 border-bottom pb-3">DANH MỤC BÀI VIẾT</h2>
            <nav class="nav flex-column">
                {% for category in blog_category %}
                    <a href="{{ category['link'] }}" class="nav-link pl-0 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">
                        {{ category['title'] }} ({{ category['count_blog'] }})</a>
                {% endfor %}
            </nav>
        </div> <!-- End product category -->

        <div class="box-blog-filter mb-4" id="product-price">
            <h2 class="block-title font-18 font-weight-500 border-bottom pb-3">Tin tức mới nhất</h2>
            <div class="block-blog-new-post">
                {% if blog_list_new is empty %}
                    Không có bài viết
                {% else %}
                    {% for blog in blog_list_new %}
                        {% if loop.index < 5 %}
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                                </div>
                                <div class="blog-info">
                                    <a href="{{ blog['link'] }}" class="font-weight-500">
                                        {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a>
                                    <span class="blog-date sixth-color">{{ blog['date_added']|date('d-m-Y') }}</span>
                                    <span class="blog-author sixth-color"><a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></span>
                                </div>
                            </div> <!-- End blog-item -->
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div> <!-- End block-blog-new-post -->
        </div> <!-- End product category -->

    </div> <!-- End sidebar content -->
</div> <!-- End sidebar-left -->