body {
    word-wrap: break-word;
}
.pagination li a.page-link{
    font-size: 12px;
    color: #3F4755;
    min-height: 24px;
    min-width: 24px;
    display: block;
    background: #F6F6F6;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
}
.item-product .img-pro img {
    max-height: 225px;
    width: auto;
    margin: auto;
    object-fit: scale-down;
}

.collection .item-product .img-pro img {
    height: 225px;
    width: 100%;
}

.block-header-logo img {
    max-height: 50px!important;
    max-width: 100%;
    object-fit: scale-down;
}
.select-option .dropdown {
    width: 230px!important;
}
/*Product detail*/
.product-teaser-fix{
    position: fixed;
    width: 100%;
    left: 0;
    top: 97px;
    background: #fff;
    z-index: 10;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
    display: none;
    padding: 0.5em 0;
}

.block-pages-productdetail .block-detail .block-custom-change .form-action .quantity{
    top: -2px;
}
#sidenav .logo-menu {
    display: none;
}

/*sticky*/
.show-on-pc {
    display: block !important;
}
.show-on-mobile {
    display: none !important;
}
.show-on-pc.btn-pc {
    display: inline-block !important;
}

.product-teaser-fix .add-to-cart:hover {
    background-color: #454545 !important;
    color: white !important;
}
.product-teaser-fix .add-to-cart:hover > i {
    background-color: white !important;
}

/**BLOCK ITEM*!*/
.list-post-news .item-post .text-post .ttl-post a {
    line-height: normal;
}

.content-result .sidebar-category .list-tag li a.header-font.active  {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    background: #008BCA;
}

/*block*/
.img-blog {
    height: 370px;
}
.img-blog img {
    max-width: 100%;
    max-height: 100%;
    margin: auto
}
.view-more:hover {
    text-decoration: underline !important;
}

.item-product .custom-price {
    height: 80px;
    overflow: hidden;
}
.item-product .sale-over {
    height: 20px;
}

@media screen and (max-width:992px) {
    .content-product .owl-nav .owl-prev span, .content-product .owl-nav .owl-next span {
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 35px;
    }
    /*sticker*/
    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        left: 15px;
        webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #008BCA;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }

    .buy-now-mobile .number-quantity input{
        width: 100%;
        height: 38px;
    }

    .product-teaser-fix {
        display: none;
    }
    .block-custom-change .quantity.show-on-pc {
        display: none !important;
    }

    .display-none {
        display: none !important;
    }

    .item-product .img-pro img {
        object-fit: scale-down;
    }
}


.block-header.fixed {
    padding: 15px 0;
}

.block-header-menu {
    width: 100%;
}

.block-header-menu .main-menu.over-item {
    text-align: center;
}

.block-header-menu .main-menu ul {
    display: inline-table;
}

.block-header-menu .main-menu ul li {
    margin-right: 0;
}

.block-header-menu .main-menu ul li a.over-item {
    padding: 5px 9px;
    font-size: 13px;
}

.block-header-menu .main-menu ul li a {
    margin-left: 15px;
}

@media only screen and (max-width: 768px) {
    .product-teaser-fix{
        top: 61px!important;
    }
    #sidenav {
        background-size: 150px !important;
        padding-top: 20px;
        overflow: auto;
    }
    #sidenav .logo-menu {
        display: block;
        margin: auto;
        max-width: 150px;
        padding-bottom: 20px;
    }

    .block-header-menu .main-menu ul li a {
        margin-left: 0;
    }
}
@media only screen and (max-width: 576px) {
    .product-teaser-fix .d-flex{
        display: block !important;
    }
    .product-teaser-fix .button_buy {
        margin-right: 0.5rem!important;
    }
}
/* Fix scroll broken layout on Iphone5/SE*/
@media (max-width: 320px){
    .order-bestme .table td, .order-bestme .table th {
        padding: 0.4rem!important;
    }
}
#block-cate-search-cart .block-header-cart a {
    padding-left: 9px;
    padding-right: 9px;
}
#block-cate-search-cart .block-header-cart a .count {
    padding-left: 5px;
    margin-left: 5px;
}
.block-header-cart .count .price{
    overflow-wrap: break-word;
}
.block-pages-productdetail .block-detail .block-custom-change .form-action .quantity input {
    padding-left: 15px;
    padding-right: 15px;
}
.item-result .item-product{
    text-align: center;
}
.item-result .add-to-cart{
    text-align: center;
    margin: 0 auto;
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.breadcrumb li:last-child a:after{
    display: none;
}
.list-tag{
    max-height: 222px;
    height: 320px;
    overflow-y: auto;
}
.item-product .custom-price .price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-product .custom-price {
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-item.active, .dropdown-item:active {
    color: black !important;
}
.item-product .cart-pro .add-to-cart .btn-add:hover {
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
    color: #2F6ED5 !important;
    background: #fff !important;
}
.content-result .sidebar-category .list-cate li a.active {
    color: #2F6ED5;
}

@media only screen and (max-width: 768px){
    .item-product .cart-pro .add-to-cart {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .item-product .cart-pro .add-to-cart .btn-add{
        padding: 0;
    }
    .form-check-inline{
        display: table !important;
    }
}