{{ header }}

<main class="main-content">
    <div class="container">

        <nav aria-label="breadcrumb" class="my-4 pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
            </ol>
        </nav>

        {% if error %}
            <div class="col-12 col-md-12">
                <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                    <i class="fa fa-exclamation-circle"></i> {{ error }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <div class="form-res mt-3 mb-5 ml-auto">
                        <h1 class="mb-4 header-font font-32 letter-spacing-0">Tạo tài khoản mới</h1>
                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="login-form">
                            <div class="form-group row">
                                <div class="col-12 last-name">
                                    <input type="text" name="lastname" value="{{ lastname }}" class="form-control" placeholder="Họ" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class=col-12 "first-name">
                                    <input type="text" name="firstname" value="{{ firstname }}" class="form-control" placeholder="Tên" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="{{ email }}" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-password-group">
                                    <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                                    <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                                </div>
                            </div>
                            <div class="login-link mb-4">
                                <span class="sixth-color">Bạn đã có tài khoản? <a class="ml-2 fifth-color font-weight-500" href="{{ urllogin }}">Đăng nhập</a></span>                                
                            </div>
                            <button type="submit" class="btn btn-outline-secondary main-bg mt-2 px-4 py-2 text-white text-uppercase font-weight-500 mb-2">Đăng ký</button>
                            <i class="d-block font-12">Bằng việc bấm vào nút đăng ký, tôi đồng ý với chính sách của cửa hàng.</i>
                        </form>
                    </div> <!-- End col-md-6 -->
                </div> <!-- End row -->
            </div>
        </div> <!-- End row -->

    </div>
</main>
<!-- ELM PAGES -->

{{ footer }}