{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- End breadcrumb -->

            <!-- Cart Listing -->
            <div class="cart-listing bg-secondary p-lg-4 p-3">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                {% endif %}
                <div class="text-center">
                    <h1 class="page-title box-title fz-24 my-4">Giỏ hàng ({{ order['products']|length }} sản phẩm)</h1>
                </div>

                <div class="box-cart-result row">
                    <div class="cart-table table-custom col-12 col-md-9 mb-3">
                        <div class="table-header fw-600 border-bottom fz-16">
                            <div class="row">
                                <div class="col-4 col-lg-5 col-item d-none d-lg-flex">Sản phẩm</div>
                                <div class="col-12 col-lg">
                                    <div class="row d-none d-lg-flex">
                                        <div class="col col-item justify-content-end">Đơn giá</div>
                                        <!-- Hide in mobile -->
                                        <div class="col col-item justify-content-end">Số lượng</div>
                                        <!-- Hide in mobile -->
                                        <div class="col col-item justify-content-end">Thành tiền</div>
                                        <!-- Hide in mobile -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End table-header -->

                        <div class="table-body border-bottom">
                            {% if order is not empty %}
                                {% for product in order['products'] %}
                                    <div class="row-item row align-items-lg-center">
                                        <div class="col-4 col-lg-5 col-item align-items-start">
                                            <a href="{{ product['url'] }}" class="d-flex align-items-center" title="{{ product['fullname'] }}" data-toggle="tooltip" data-placement="top">
                                                <img src="{{ product['image_url'] }}" alt="{{ product['name'] }}" width="80">
                                                <b class="fw-600 ms-3 d-lg-block d-none"> {{ product['name'] }}</b>
                                            </a>
                                        </div>
                                        <div class="col-6 col-lg pe-0 pe-md-3">
                                            <div class="row align-items-lg-center">
                                                <div class="col-12 col-lg col-item d-flex flex-wrap">
                                                    <a href="{{ product['url'] }}" title="{{ product['fullname'] }}" data-toggle="tooltip" data-placement="top" class="fw-bold d-lg-none d-block w-100 mb-3">
                                                        {{ product['name'] }}
                                                        {% if product.attribute is not empty %}
                                                            <span class="product-attribute-name">{{ product.attribute }}</span>
                                                        {% endif %}
                                                        {% if product['in_stock'] == false %}
                                                            <span style="display: block; color: red; font-size: 13px; font-weight: 100;">
                                                            Sản phẩm vừa hết hàng
                                                        </span>
                                                        {% endif %}
                                                    </a>
                                                    <span class="mobile-label d-lg-none">Đơn giá</span>
                                                    <!-- Only show in mobile -->
                                                    <span class="price text-start text-md-end ms-auto" data-value="{{ product['price_formart'] }}">{{ product['price_formart'] }}</span>
                                                </div>
                                                <div class="col-12 col-lg col-item text-end text-lg-center d-flex flex-wrap">
                                                    <span class="mobile-label d-lg-none text-start">Số lượng</span>
                                                    <!-- Only show in mobile -->
                                                    <span class="ms-auto">
{#                                                        <input class="custom-number-input" type="text" name="quantity[]"#}
{#                                                               value="2" min="1">#}
                                                          <input class="product_quantity custom-number-input" type="number" min="1" max="9999" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}" value="{{ product['amount'] }}">
                                                        <input type="hidden" name="product_id" value="{{ product['id'] }}">
                                                        <input type="hidden" name="product_version_id" value="{{ product['product_version_id'] }}">
                                                    </span>
                                                </div>
                                                <div class="col-12 col-lg col-item text-end d-flex flex-wrap">
                                                    <span class="mobile-label d-lg-none text-start">Thành tiền</span>
                                                    <!-- Only show in mobile -->
                                                    <span class="ms-auto text-start text-md-end total-price" data-value="540000">{{ product['total_formart'] }}</span>

                                                    <a style="transform: translate(10px, 4px);" href="javascript:void(0);" class="bestme-btn bestme-btn--link remove" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}">
                                                        <i class="icon icon-close-circle fz-16 bg-white"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
{#                                        <div class="col-2 col-item d-md-none ps-0 d-flex justify-content-end align-items-center">#}
{#                                            <a style="transform: translate(10px, 4px);" class="bestme-btn bestme-btn--link remove" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}">#}
{#                                                <i class="icon icon-close-circle fz-16 bg-white"></i>#}
{#                                            </a>#}
{#                                        </div>#}
                                    </div>
                                    <!-- End row item -->
                                {% endfor %}
                            {% endif %}

                        </div>
                        <!-- End table-body -->
                    </div>
                    <!-- End cart-table -->
                    {% if order_products is not empty %}
                        <div class="col-12 col-md-3 mb-3 cart-summary">
                        <p class="fz-16 fw-600 border-bottom py-2">Tổng tiền</p>
                        <p class="d-flex">
                            <span class="">Thành tiền:</span>
                            <span class="ms-auto fw-600"><span
                                        class="total-price">{{ order['into_money_formart'] }}</span></span>
                        </p>
{#                        <button class="btn btn-outline-light fw-bold py-3 fz-16 w-100 mb-3">TIẾP TỤC MUA SẮM</button>#}
{#                        <button class="btn btn-primary fw-bold py-3 fz-16 w-100">THANH TOÁN</button>#}
                            <a {% if error %} href="javascript:void(0)" {% else %} href="{{ href_order_preview }}" {% endif %} {% if customer_is_login == false and error is empty %} data-bs-toggle="modal" data-bs-target="#user-not-account" {% endif %}
                                    class="btn btn-outline-light fw-bold py-3 fz-16 w-100 mb-3 bestme-cart--go-to-checkout-page">ĐI ĐẾN TRANG THANH TOÁN</a>
                            <a href="{{ href_common_shop }}"
                               class="btn btn-primary fw-bold py-3 fz-16 w-100">TIẾP
                                TỤC MUA SẮM</a>
                    </div>
                    {% endif %}
                    <!-- End table-footer -->
                </div>
                <!-- End box-cart-result -->
            </div>
            <!-- End: Cart Listing -->
        </div>
    </div>
    <!-- End: Main Content -->
</main>
<!-------------------- /.PAGE ELEMENT ---------------------->

<!-------------------- ACCOUNT LOGIN DIALOG ---------------------->
{#{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}#}
<!-------------------- /.ACCOUNT LOGIN DIALOG ---------------------->
{#modal not account#}
<div id="user-not-account" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-bs-dismiss="modal" style="float: right;background: no-repeat;color: white;font-size: 20px;">&times;</button>
                <h5 class="modal-title">Bạn đã có tài khoản?</h5>
            </div>
            <div class="modal-body" style="text-align: center">
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: white !important; background-color: inherit; text-transform: uppercase" class="btn" data-bs-toggle="modal"
                   data-bs-target="#LoginModal" onclick="LoginNow()">Đăng nhập ngay</a>
                <div>hoặc</div>
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: white !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_order_preview }}">Tiếp tục với tư cách là Khách</a>
            </div>
        </div>
    </div>
</div>

{{ footer }}

<script type="text/javascript">
    function LoginNow() {
        $('#user-not-account').modal('hide');
    }
    $(document).ready(function () {
        $('.remove').click(function () {
            var product_id = $(this).attr('product-id');
            var product_version_id = $(this).attr('product-version-id');
            var r = confirm('{{ text_remove_alert_confirm }}');
            if (r === true) {
                $.ajax({
                    url: 'index.php?route=checkout/my_orders/remove_order_products',
                    method: 'POST',
                    data: {
                        product_id: product_id,
                        product_version_id: product_version_id
                    },
                    success: function (json) {
                        json = $.parseJSON(json)
                        if (json.status === true) {
                            location.reload();
                        } else {
                            alert(json.message);
                        }
                    }
                });
            }
        });

        $(document).on('change paste keyup', '.product_quantity', function (e) {
            var em = $(this); // retrieve the index
            var product_id = em.attr('product-id');
            var quantity = em.val();
            var product_version_id = em.attr('product-version-id');
            var validity = this.validity;
            //change input quantity validate
            if (!validity.valid && validity.rangeOverflow) {
                quantity = em.attr('max');
            }
            if (!validity.valid && validity.rangeUnderflow) {
                quantity = em.attr('min');
            }
            if (quantity == '') {
                quantity = 1;
            }
            $.ajax({
                url: 'index.php?route=checkout/my_orders/update_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                    quantity: quantity,
                    product_version_id: product_version_id,
                },
                success: function (json) {
                    location.reload();
                }
            });
        });
    });
</script>