<table class="table table-with-operation product-list">
    <thead>
    <tr>
        {% if access_modify %}
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ text_options }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ delete }}"
                       id="delete">Xóa</a>
                </div>
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        {% endif %}
        <th scope="col">{{ txt_add_on_deal_title }}</th>
        <th scope="col">{{ entry_status }}</th>
        <th scope="col">Giới hạn số sp mua kèm</th>
        <th scope="col" style="width: 15%;">{{ entry_start_at }}</th>
        <th scope="col" class="text-center">{{ entry_end_at }}</th>
        <th scope="col" class="text-center">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    {% if add_on_deals %}
        {% for add_on_deal in add_on_deals %}
            <tr>
                {% if access_modify %}
                    <td scope="select-this" data-id="{{ add_on_deal.add_on_deal_id }}">
                        <label class="checkbox">
                            <input type="checkbox" name="select_this" value="1">
                            <span></span>
                        </label>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ add_on_deal.edit }}">{{ add_on_deal.name|length > 40 ? add_on_deal.name|slice(0, 40) ~ '...' : add_on_deal.name }}</a>
                </td>
                <td class="{% if add_on_deal.status_add_on_deal_value == 'status_upcoming' %}text-primary{% elseif add_on_deal.status_add_on_deal_value == 'status_happening' %}text-yellow{% else %}text-muted{% endif %}">
                    {{ add_on_deal.status_add_on_deal_text }}
                </td>
                <td>
                    <span class="start_at">{{ add_on_deal.limit_quantity_product }}</span>
                </td>
                <td>
                    <span class="start_at">{{ add_on_deal.date_started | date("d/m/Y | H:i") }}</span>
                </td>
                <td class="text-center">
                    <span class="end_at">
                        {{ add_on_deal.date_ended | date("d/m/Y | H:i") }}
                    </span>
                </td>
                <td class="text-center">

                    {% if add_on_deal.status_add_on_deal_value == 'status_ended' %}
                        <a title="{{ add_on_deal.name }}" href="{{ add_on_deal.edit }}">
                            <p class="mb-2">
                                <span>Xem</span>
                            </p>
                        </a>
                        <a style="color: #FF7875" class="delete_add_on_deal" title="{{ add_on_deal.name }}" data-href="{{ add_on_deal.delete }}">
                            <p class="mb-2">
                                <span>Xóa</span>
                            </p>
                        </a>
                    {% endif %}

                    {% if add_on_deal.status_add_on_deal_value == 'status_upcoming' %}
                        <a title="{{ add_on_deal.name }}" href="{{ add_on_deal.edit }}">
                            <p class="mb-2">
                                <span>Sửa</span>
                            </p>
                        </a>
                        <a style="color: #FF7875" class="delete_add_on_deal" title="{{ add_on_deal.name }}" data-href="{{ add_on_deal.delete }}">
                            <p class="mb-2">
                                <span>Xóa</span>
                            </p>
                        </a>
                    {% endif %}

                    {% if add_on_deal.status_add_on_deal_value == 'status_happening' %}
                        <a title="{{ add_on_deal.name }}" href="{{ add_on_deal.edit }}">
                            <p class="mb-2">
                                <span>Xem</span>
                            </p>
                        </a>
                        <a title="{{ add_on_deal.name }}" class="pause" data-href="{{ add_on_deal.pause }}" style="padding: 10px 0;">
                            <p class="mb-2">
                                <span>Dừng</span>
                            </p>
                        </a>
                    {% endif %}
                    {% if add_on_deal.status_add_on_deal_value == 'status_paused' %}
                        <a title="{{ add_on_deal.name }}" href="{{ add_on_deal.edit }}">
                            <p class="mb-2">
                                <span>Xem</span>
                            </p>
                        </a>
                        <a title="{{ add_on_deal.name }}" class="continue" data-href="{{ add_on_deal.continue }}" style="padding: 10px 0;">
                            <p class="mb-2">
                                <span>Tiếp tục</span>
                            </p>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>
<!-- Modal -->
<div class="modal fade product-modal" id="addProductCollectionModal" tabindex="-1" role="dialog"
     aria-labelledby="addProductCollectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal" id="addProductCollectionLabel"><span
                            class="data-title">{{ label_add }}</span> <span
                            class="number">3</span> <span class="label-modal"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon icon-close font-12 bg-dark mr-2"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-product-to-collection" method="post">
                    <div class="form-group collection-select m-0">
                        <div class="select-2-container position-relative">
                            <select class="form-control select2-collection" name="collection_list[]" multiple=""
                                    data-placeholder="{{ search_collection }}">
                            </select>
                            <input type="hidden" class="product-id-select" name="product-id-select">
                            <div class="select-2-dropdown-collection"></div>
                            <span class="collection-label text-pink">• {{ you_will_add }} <span
                                        class="type"></span> <span
                                        class="num">3</span> {{ product_to_collection_after }}</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ label_close }}</button>
                <button type="button" class="btn btn-pink data-title">{{ label_add }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade product-modal" id="addProductTagsModal" tabindex="-1" role="dialog"
     aria-labelledby="addProductTagsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal" id="addProductTagsLabel"><span
                            class="data-title">{{ label_add }}</span> {{ tag_for_product_choose }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-tag-to-product" method="post">
                    <div class="form-group select2-tag-wrapper">
                        <label class="font-weight-normal"><span
                                    class="data-title">{{ label_add }}</span> {{ list_tag_for_product }}</label>
                        <select class="form-control select2-tag" name="tag_list[]" multiple
                                data-placeholder="{{ use_tag_description }}">
                        </select>
                        <input type="hidden" class="product-id-select" name="product-id-select">
                        <div class="select-2-dropdown-tag"></div>
                    </div>
                    <div class="tag-list-most-use">
                        {% if tag_all %}
                            <label class="font-weight-normal">{{ choose_from_list_tag }}</label>
                            <ul class="select-tag-use nav">
                                {% for tag in tag_all %}
                                    <li data-id="{{ tag.tag_id }}">{{ tag.value }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ label_close }}</button>
                <button type="button" class="btn btn-pink"><span class="data-title">{{ label_add }}</span> tag</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<!-- End Modal -->
<script type="text/javascript">

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function () {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });
    $('#action-product-in-stock').on('click', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('#action-product-out-stock').on('click', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });
</script>
<script type="text/javascript">
    //version 1.3 add
    $('select.select2-selection').select2({
        theme: 'bootstrap4',
        // dropdownParent: $('.collection-select .select-2-dropdown-collection'),
        // containerCssClass: 'col',
        placeholder: "{{ choose_filter }}"
    });
    $('.modal.product-modal').on('show.bs.modal', function (event) {
        var title = $(event.relatedTarget).data('title');
        //set text
        if (typeof title != "undefined")
            $(this).find('.data-title').text(title);
        //set action
        var action_type = $(event.relatedTarget).data('type');
        var product_list = $('.selected_product').val();
        $('.product-id-select').val(product_list);
        //change text collection
        if (product_list.length > 0) {
            var num = product_list.split(",");
            $('.collection-label .num').html(num.length);
            $('#addProductCollectionLabel .number').html(num.length);
        }
        //add link form modal
        if (action_type == 'add-tag') {
            $('#add-tag-to-product').attr('action', '{{ action_add_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        } else if (action_type == 'remove-tag') {
            $('#add-tag-to-product').attr('action', '{{ action_remove_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        } else if (action_type == 'add-collection') {
            $('#add-product-to-collection').attr('action', '{{ action_add_collection | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
            $('.collection-label .type').html('{{ label_add }}');
            $('#addProductCollectionLabel .label-modal').html('{{ product_to_collection }}');
        } else if (action_type == 'remove-collection') {
            $('#add-product-to-collection').attr('action', '{{ action_remove_collection | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
            $('.collection-label .type').html('{{ label_delete }}');
            $('#addProductCollectionLabel .label-modal').html('{{ product_delete_collection }}');
        }
    });

    if ($(".sortable").length) {
        $(".sortable tbody").sortable({
            placeholder: "bg-light",
            handle: ".sortable-button",
            stop: (event, ui) => {
                $(event.target).find('tr>td:nth-child(1)').each(function (e) {
                    var eq = $(this).parent().index();
                    $(this).text((eq + 1) + ".");
                });
            }
        });
    }

    $('.delete_add_on_deal').on('click', function (event) {
        event.preventDefault();
        var reason = null;
        var deleteUrl = $(this).attr('data-href');
        $("#confirm-delete-product").modal('show');
        $("#confirm-delete-product .modal-body textarea").on('keyup', function () {
            reason = $("#confirm-delete-product .modal-body textarea").val();
        });
        $(".confirm").on("click", function () {
            var url = deleteUrl + '&reason=' + reason;
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-delete-product").modal('hide');
        });
    });

    $('.pause').on('click', function (event) {
        event.preventDefault();
        var reason = null;
        var pauseUrl = $(this).attr('data-href');
        $("#confirm-pause-product").modal('show');
        $("#confirm-pause-product textarea").attr('placeholder', "Lý do dừng chương trình");

        $("#confirm-pause-product .modal-body textarea").on('keyup', function () {
            reason = $("#confirm-pause-product .modal-body textarea").val();
        });

        $(".confirm").on("click", function () {
            var url = pauseUrl + '&reason=' + reason;
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-pause-product").modal('hide');
        });
    });

    $('.continue').on('click', function (event) {
        event.preventDefault();
        var reason = null;
        var pauseUrl = $(this).attr('data-href');
        $("#confirm-continue-product").modal('show');
        $("#confirm-continue-product textarea").attr('placeholder', "Lý do tiếp tục chương trình");

        $("#confirm-continue-product .modal-body textarea").on('keyup', function () {
            reason = $("#confirm-continue-product .modal-body textarea").val();
        });

        $(".confirm").on("click", function () {
            var url = pauseUrl + '&reason=' + reason;
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-pause-product").modal('hide');
        });
    });

    $('#avtiveadd_on_dealStatus').on('click', function (event) {
        event.preventDefault();
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();

        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);

        var url = $(this).attr('href') + '&add_on_deal_ids=' + selected.join(',');

        window.location.href = url;
    });

    $('input[name="product_version"]~label').on('click', function () {
        var id = $(this).attr('data-tab');
        $(".nav-tabs a[href='#" + id + "']").tab('show');
    });

    $('#addProductTagsModal .btn-pink').on('click', function () {
        $('#add-tag-to-product').submit();
    });

    $('#addProductCollectionModal .btn-pink').on('click', function () {
        $('#add-product-to-collection').submit();
    });

    $('.select-tag-use li').on('click', function () {
        var data = {
            id: $(this).attr('data-id'),
            text: $(this).html(),
        };
        if ($(".select2-tag-wrapper .select2-selection__choice[title='" + $(this).html() + "']").length == 0) {
            var newOption = new Option(data.text, data.id, true, true);
            $('select.select2-tag').append(newOption).trigger('change');
        }
    });

</script>

<script>
    moment.lang('vi', {
        week: {
            dow: 1 // Monday is the first day of the week
        }
    });

    // max today is 13 col in chart for each point stands for 2h
    var maxTicksLimit = 13;
    var start = moment();
    var end = moment();

    $('.editStartDate').each(function(){
        var add_on_deal_id = $(this).attr('data-id');
        var start_date_selector = $(this).parent().find('.start_at');
        $(this).daterangepicker({
            singleDatePicker: true,
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 1,
            startDate: start,
            endDate: end,
            opens: 'left',
            minDate : start,
            startOfWeek: 'monday',
            firstDay: 1,
            locale: {
                format: "DD/MM/YYYY HH:mm",
                separator: " - ",
                "applyLabel": "{{ txt_apply }}",
                "cancelLabel": "{{ txt_cancel }}",
                customRangeLabel: "{{ options }}",
                "daysOfWeek": [
                    "{{ sunday }}",
                    "{{ monday }}",
                    "{{ tuesday }}",
                    "{{ wednesday }}",
                    "{{ thursday }}",
                    "{{ friday }}",
                    "{{ saturday }}"
                ],
                "monthNames": [
                    "{{ january }}",
                    "{{ february }}",
                    "{{ march }}",
                    "{{ april }}",
                    "{{ may }}",
                    "{{ june }}",
                    "{{ july }}",
                    "{{ august }}",
                    "{{ september }}",
                    "{{ october }}",
                    "{{ november }}",
                    "{{ december }}"
                ],
                "firstDay": 1
            }
        }, function (_start, _end) {
            start = _start;
            end = _end;
        });
    });

    $('.editStartDate').on('apply.daterangepicker', function(ev, picker) {
        var time_end = picker.startDate.format("YYYY-MM-DD HH:mm:ss")
        var add_on_deal_id = $(this).attr('data-id');
        var start_date_selector = $(this).parent().find('.start_at');
        updateStartDate(time_end, add_on_deal_id, start_date_selector);
    });

    $('.editEndDate').each(function(){
        var add_on_deal_id = $(this).attr('data-id');
        var end_date_selector = $(this).parent().find('.end_at');
        $(this).daterangepicker({
            singleDatePicker: true,
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 1,
            startDate: start,
            endDate: end,
            opens: 'left',
            minDate : start,
            startOfWeek: 'monday',
            firstDay: 1,
            locale: {
                format: "DD/MM/YYYY HH:mm",
                separator: " - ",
                "applyLabel": "{{ txt_apply }}",
                "cancelLabel": "{{ txt_cancel }}",
                customRangeLabel: "{{ options }}",
                "daysOfWeek": [
                    "{{ sunday }}",
                    "{{ monday }}",
                    "{{ tuesday }}",
                    "{{ wednesday }}",
                    "{{ thursday }}",
                    "{{ friday }}",
                    "{{ saturday }}"
                ],
                "monthNames": [
                    "{{ january }}",
                    "{{ february }}",
                    "{{ march }}",
                    "{{ april }}",
                    "{{ may }}",
                    "{{ june }}",
                    "{{ july }}",
                    "{{ august }}",
                    "{{ september }}",
                    "{{ october }}",
                    "{{ november }}",
                    "{{ december }}"
                ],
                "firstDay": 1
            }
        }, function (_start, _end) {
            start = _start;
            end = _end;
        });
    });

    $('.editEndDate').on('apply.daterangepicker', function(ev, picker) {
        var time_end = picker.endDate.format("YYYY-MM-DD HH:mm:ss")
        var add_on_deal_id = $(this).attr('data-id');
        var end_date_selector = $(this).parent().find('.end_at');
        updateEndDate(time_end, add_on_deal_id, end_date_selector);
    });

    $(document).on('click', '.editStartDate', function () {
        return;
        console.log('init daterangepicker: ', $(this));
        $(this).daterangepicker({
            singleDatePicker: true,
            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 1,
            timePickerSeconds: false,
            startDate: start,
            endDate: end,
            opens: 'left',
            startOfWeek: 'monday',
            firstDay: 1,
            locale: {
                format: "DD/MM/YYYY HH:mm",
                separator: " - ",
                "applyLabel": "{{ txt_apply }}",
                "cancelLabel": "{{ txt_cancel }}",
                customRangeLabel: "{{ options }}",
                "daysOfWeek": [
                    "{{ sunday }}",
                    "{{ monday }}",
                    "{{ tuesday }}",
                    "{{ wednesday }}",
                    "{{ thursday }}",
                    "{{ friday }}",
                    "{{ saturday }}"
                ],
                "monthNames": [
                    "{{ january }}",
                    "{{ february }}",
                    "{{ march }}",
                    "{{ april }}",
                    "{{ may }}",
                    "{{ june }}",
                    "{{ july }}",
                    "{{ august }}",
                    "{{ september }}",
                    "{{ october }}",
                    "{{ november }}",
                    "{{ december }}"
                ],
                "firstDay": 1
            }
        }, function (_start, _end, label) {
            start = _start;
            end = _end;

            // do somethings...
        });

        $('.daterangepicker').trigger('click');
    });

    /* all functions here */
    function updateStartDate(time, add_on_deal_id, start_date_selector) {
        var end = start_date_selector.parent().parent().find('.end_at').html();
        if (end != '{{ text_no_end_at }}') {
            var date_end_str = end.trim().split(' | ')[0];
            var date_end_str_reverse = date_end_str.split('/').reverse().join('-');
            var end_date_str = date_end_str_reverse + ' ' + end.split(' | ')[1];
            var time_date = new Date(time).getTime();
            var end_date = new Date(end_date_str).getTime();
            if (time_date > end_date) {
                alert("{{ validate_add_on_deal_start_at }}");
                return;
            }
        }
        $.ajax({
            url: '{{ updateStartDate }}',
            dataType: 'json',
            data: {
                add_on_deal_id: add_on_deal_id,
                start_at: time
            },
            success: function (resp) {
                if (resp && resp.code == 1) {
                    // TODO: language, beauty popup...
                    alert("Cập nhật Ngày bắt đầu thành công!");

                    setTimeout(function () {
                        location.reload();
                        start_date_selector.html(moment(time).format('DD/MM/YYYY | HH:mm'));
                    }, 2000);

                    return;
                }

                // TODO: language, beauty popup, detail error...
                alert("Cập nhật Ngày bắt đầu thất bại!" + (resp.message ? (" " + resp.message) : ""));
            },
            error: function (err) {
                // TODO: language, beauty popup, detail error...
                alert("Cập nhật Ngày bắt đầu thất bại!");
            }
        });
    }

    function updateEndDate(time, add_on_deal_id, end_date_selector) {
        var start = end_date_selector.parent().parent().find('.start_at').html();
        var date_start_str = start.trim().split(' | ')[0];
        var date_start_str_reverse = date_start_str.split('/').reverse().join('-');
        var start_date_str = date_start_str_reverse + ' ' + start.split(' | ')[1];
        var time_date = new Date(time).getTime();
        var start_date = new Date(start_date_str).getTime();
        if (start_date > time_date) {
            alert("{{ validate_add_on_deal_end_at }}");
            return;
        }

        $.ajax({
            url: '{{ updateEndDate }}',
            dataType: 'json',
            data: {
                add_on_deal_id: add_on_deal_id,
                end_at: time
            },
            success: function (resp) {
                if (resp && resp.code == 1) {
                    // TODO: language, beauty popup...
                    alert("Cập nhật Ngày kết thúc thành công!");

                    setTimeout(function () {
                        location.reload();
                        end_date_selector.html(moment(time).format('DD/MM/YYYY | HH:mm'));
                    }, 2000);

                    return;
                }

                // TODO: language, beauty popup, detail error...
                alert("Cập nhật Ngày kết thúc thất bại!" + (resp.message ? (" " + resp.message) : ""));
            },
            error: function (err) {
                // TODO: language, beauty popup, detail error...
                alert("Cập nhật Ngày kết thúc thất bại!");
            }
        });
    }
</script>