{{ custom_header }}
<!-- End header -->
<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    Mua kèm deal sốc
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="box-wrap bg-none">
                    <form action="{{ action }}" method="post" class="section-form form-fix-head" id="add-on-deal-form">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">
                                    Mua kèm deal sốc
                                </h1>
                                {% if status_discount == 'status_upcoming' or status == false %}
                                    {% if access_modify and not disable_update %}
                                        <button type="submit" class="btn btn-pink float-right save-product" id="form-submit">{{ button_save }}</button>
                                    {% endif %}
                                {% endif %}
                                <a href="{{ cancel }}" href="javascript:void(0)"
                                   class="btn btn-light float-right confirm-discount-cancle border bg-white  mr-2">{{ button_cancel }}</a>
                            </div>
                        </div>
                        {% if discount_is_deleted %}
                            <p class="text-danger">{{ text_deleted_or_no_exist }}</p>
                        {% endif %}
                        {% if error_warning %}
                            <br>
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-lg-12 form-left">
                                <div class="box-content bg-white mb-3">
                                    <h3>Thông tin cơ bản</h3>
                                    <div class="form-horizontal row">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-4 pt-2" for="discount_name">Tên chương trình </label>
                                                <div class="col-sm-8">
                                                    <input type="text" maxlength="255" value="{{ name }}" name="name" id="discount_name" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-4 pt-2" for="limit_quantity_product">Giới hạn sản phẩm mua kèm </label>
                                                <div class="col-sm-8">
                                                    <input type="number" maxlength="11" value="{{ limit_quantity_product }}" name="limit_quantity_product" id="limit_quantity_product" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-4 pt-2" for="">Thời gian </label>
                                                <div class="col-sm-8">
                                                    <div class="d-flex">
                                                        <input class="form-control w-30 col-md-5"
                                                               type="text" id="start_at" name="start_at" value="" placeholder="Từ ngày" autocomplete="off">
                                                        <span class="col-md-2 m-auto text-center"> - </span>
                                                        <input class="form-control w-30  col-md-5"
                                                               type="text" id="end_at" name="end_at" value="" placeholder="Đến ngày" autocomplete="off">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% include 'discount/chooseMainProduct.twig' %}
                                {% include 'discount/chooseAttachedProduct.twig' %}

                            </div> <!-- End form left -->
                        </div> <!-- End row -->
                    </form>
                </div> <!-- End box-wrap -->
            </div> <!-- End main-content -->
        </main>
        <!-- End Main -->
    </div>
    <div id="image-loading"></div>
</div>
<!-- End page wrapper -->

<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<link href="view/stylesheet/treeview/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="view/javascript/treeview/gijgo.min.js" type="text/javascript"></script>

<style>
    .select2-selection__clear {
        display: none !important;
    }

    .select2-results__options {
        overflow-y: scroll;
        max-height: 200px;
    }

    .box-method{
        display: none;
    }

    #tableChooseProduct {
        height: 600px;
        overflow: scroll;
        width: 100%;
    }

    .paginationjs {
        margin: auto;
    }

    p.no-result {
        display: block;
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
    }

    .box-content .table th[scope="check-all"] .dropdown.has-selected {
        position: absolute;
        top: 57px;
    }

    .table td {
        vertical-align: middle;
    }

    .table-responsive {
        font-size: 14px;
    }

    .mt-32px {
        margin-top: 32px;
    }

    .text-all {
        display: none;
    }
    .box-content .table th[scope="check-all"] .dropdown > .text, .box-content #check-all .dropdown > .text {
        top: 0;
    }
    #choseProductMainOnSite .select2-container {
        width: 100% !important;
    }

    #choseProductAttachedOnSite .select2-container {
        width: 100% !important;
    }
    .select2-selection__clear {
        display: block !important;
        transform: translateY(3px);
    }
    .tag-a-disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        {% if status_discount == 'status_upcoming' or status == false %}
        {% else %}

        $(":input").prop("disabled", true);
        $("#main-product-content .removeMainProduct").addClass('tag-a-disabled');
        $("#product-content .removeProduct").addClass('tag-a-disabled');

        {% endif %}
    });
    // date time
    {% if discount_is_deleted %}
    $("#add-on-deal-form :input").prop("disabled", true);
    {% endif %}

    moment.lang('vi', {
        week: {
            dow: 1 // Monday is the first day of the week
        }
    });

    // max today is 13 col in chart for each point stands for 2h
    var start = moment();
    var end = moment();

    {% if time_start_at is defined and time_start_at != '' and time_start_at != '0000-00-00 00:00:00' %}

    start = moment('{{ time_start_at }}');
    end = moment('{{ time_start_at }}');

    {% endif %}

    {% if time_end_at is defined and time_end_at != '' and time_end_at != '0000-00-00 00:00:00' %}

    end = moment('{{ time_end_at }}');

    {% endif %}

    {% if add_on_deal_id is defined and add_on_deal_id != '' %}

    $('#start_at').val(start.format("DD-MM-YYYY HH:mm:ss"));
    $('#end_at').val(end.format("DD-MM-YYYY HH:mm:ss"));

    {% else %}

    $('#start_at').val("");
    $('#end_at').val("");

    {% endif %}

    $('#start_at').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        timePicker: true,
        timePickerSeconds: false,
        timePicker24Hour: true,
        startDate: start,
        opens: 'left',
        startOfWeek: 'monday',
        firstDay: 1,
        locale: {
            format: "DD-MM-YYYY HH:mm:ss",
            separator: " - ",
            applyLabel: "{{ button_apply }}",
            cancelLabel: "{{ button_cancel }}",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        }
    }, function (_start, _end) {
        //start = _start;
        //end = _end;
    });

    $('#start_at').on('apply.daterangepicker', function(ev, picker) {
        $('#start_at').val(picker.startDate.format("DD-MM-YYYY HH:mm:ss"));
    });

    $('#end_at').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        timePicker: true,
        timePickerSeconds: false,
        timePicker24Hour: true,
        startDate: end,
        opens: 'left',
        startOfWeek: 'monday',
        firstDay: 1,
        locale: {
            format: "DD-MM-YYYY HH:mm:ss",
            separator: " - ",
            applyLabel: "{{ button_apply }}",
            cancelLabel: "{{ button_cancel }}",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        }
    }, function (_start, _end) {
        //start = _start;
        //end = _end;
    });

    $('#end_at').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format("DD-MM-YYYY HH:mm:ss"));
    });

    // end date time

    // boostrap validation
    // validate form
    $('#add-on-deal-form').bootstrapValidator({
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: '{{ validate_name_empty }}'
                    },
                    stringLength: {
                        max: 255,
                        min: 1,
                        message: '{{ validate_name_length_255 }}'
                    },
                    callback: {
                        message: '{{ validate_special_char }}',
                        callback: function (value, validator) {
                            var pattern = /^[\\\sa-zA-Z0-9àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ-]+$/;
                            if (value.length > 0 && !pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }

                }
            },
            description: {
                validators: {
                    callback: {
                        message: '{{ validate_special_char }}',
                        callback: function (value, validator) {
                            var pattern = /^[\\\sa-zA-Z0-9àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ-]+$/;
                            if (value.length > 0 && !pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }

                }
            },
            end_at:{
                validators: {
                    callback:{
                        message: '{{ validate_discount_end_at }}',
                        callback: function () {
                            var time_start = new Date($('#start_at').val());
                            var time_end = new Date($('#end_at').val());

                            if (time_end < time_start){
                                return false;
                            }

                            return true;
                        }
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    }).on('submit', function (e) {
        var on_submit = true;
        $(".text-danger:visible").each(function () {
            if ($.trim($(this).text()) != ''){
                on_submit = false;
                return;
            }
        });

        $(".text-errors:visible").each(function () {
            if ($.trim($(this).text()) != ''){
                on_submit = false;
                return;
            }
        });

        if (!on_submit){
            e.preventDefault();
            $('#form-submit').prop('disabled', false);
        }
    });

    function calcDataMassDiscount(percent, productIds) {
        for (let i= 0; i < productIds.length; ++i) {
            let product = selectedPopup.find(({id}) => id == productIds[i]);
            if (product) {
                bindingDataPercentReduce(productIds[i], percent);
                let price = calcPriceDiscount(product.price_real, percent);
                bindingDataPriceAfterReduction(productIds[i], price);
            }
        }
    }

    function dataAllLimit(value, productIds) {
        for (let i= 0; i < productIds.length; ++i) {
            let product = selectedPopup.find(({id}) => id == productIds[i]);
            if (product) {
                bindingDataAllLimitAfterReduction(productIds[i], value);
            }
        }
    }

    function calcPriceDiscount(price, percent) {
        if ((percent == '' || isNaN(percent)) && percent != 0) {
            return '';
        }

        if (percent == 0) {
            return number_format(price, 0, '.', ',');
        }

        if (percent == 100) {
            return 0;
        }

        let priceAfterReduction = price - Math.round(price * percent / 100);
        return number_format(priceAfterReduction, 0, '.', ',');
    }

    function calcPercentDiscount(price, discount) {
        if ((discount == '' || isNaN(discount)) && discount != 0) {
            return '';
        }

        if (discount == 0) {
            return 100;
        }

        let amount = price - discount;
        let percent = Math.round(amount / price * 100);

        if (amount == 0) {
            return 0;
        }

        return percent;
    }

    function bindingDataPercentReduce(id_product, percent) {
        $(`#listProduct #priceAfterReduction${id_product} input[name="percent_reduce[]"]`).val(percent);
    }
    function bindingDataPriceAfterReduction(id_product, price) {
        $(`#listProduct #priceAfterReduction${id_product} input[name="price_after_reduction[]"]`).val(price);
    }

    function bindingDataAllLimitAfterReduction(id_product, limit) {
        $(`#listProduct #limitAfterReduction${id_product} input[name="limit_quantity[]"]`).val(limit);
    }
</script>
{{ footer }}