<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th scope="col">{{ txt_coupon_title }}</th>
        <th scope="col">{{ text_discount_type }}</th>
        <th scope="col" class="text-right">{{ txt_discount_value }}</th>
{#        <th scope="col">{{ entry_times_used }}</th>#}
{#        <th scope="col" style="width: 15%;">{{ entry_start_at }}</th>#}
{#        <th scope="col" class="text-center">{{ entry_end_at }}</th>#}
    </tr>
    </thead>
    <tbody>
    {% if coupons %}
        {% for coupon in coupons %}
            <tr>
                <td>
                    <a title="{{ coupon.name }}" href="{{ coupon.edit }}">
                        <p class="mb-0">
                            <span class="font-weight-bold">{{ coupon.code }}</span><br>
                            <span>{{ coupon.name|length > 40 ? coupon.name|slice(0, 40) ~ '...' : coupon.name }}</span>
                        </p>
                    </a>
                </td>
                <td>
                    {% if coupon.type == '1' %}
                        {{ txt_chose_method_value }}
                    {% else %}
                        {{ txt_chose_method_percent }}
                    {% endif %}
                </td>
                <td class="text-right">{{ coupon.discount|number_format(0, ',', ',') }}</td>
{#                <td>{{ coupon.uses_total }}</td>#}
{#                <td><span class="start_at">{{ coupon.date_start | date("d/m/Y") }}</span></td>#}
{#                <td class="text-center"><span class="end_at">{{ coupon.date_end | date("d/m/Y") }}</span></td>#}
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>