{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="sub-head clearfix pb-3">
                    <h1 class="page-title float-left">
                        {{ discount_heading_list }}
                        <p class="m-0">
                            <a href="#" class="text-pink font-12 font-weight-400 mr-3" id="import-xls"><i
                                        class="icon icon-import mr-2 font-18 bg-pink"></i>{{ text_import_list }}</a>
                        </p>
                    </h1>
{#                    <a class="advance-link btn float-right" href="{{ add }}">{{ text_add_list }}</a>#}
                    <a class="advance-link btn float-right" href="#" data-toggle="modal" data-target="#createBox">{{ text_add_list }}</a>
                </div>
                <div class="btn-group" role="group" aria-label="">
                    <a class="btn-secondary btn" id="tab-discount" href="{{ list }}">{{ heading_title }}</a>
                    <a class="advance-link btn" id="tab-coupon" href="{{ coupon }}">{{ heading_coupon_title }}</a>
                </div>
                <div class="box-wrap">
                    <div class="box-head">
                        <form class="filter-form order-filter clearfix product-form-validate mb-0"
                              action="{{ action_search }}">
                            <div class="nav nav-tabs" id="discount-form-tab" role="tablist">
                                <div class="col-md-6">
                                    <div class="row pt-3 pb-2">
                                        <div class="input-group search-group">
                                            <div class="input-group-icon">
                                                <i class="icon icon-search" style="left: 10px; margin-left: 0px;"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ txt_coupon_search }}"
                                                       style="padding-left: 40px;" >
                                                <div id="auto-complete-list" class="complete-list d-none"></div>
                                            </div>
                                        </div>
                                    </div> <!-- End row -->
                                </div>
                            </div>
                            <div class="filter-item"></div>
                        </form> <!-- End form filter -->
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <div id="product-content" class="not-choose-product-list">
                                {% include 'discount/coupon_list_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
    </div>
</div>

<!-- Modal create -->
<div class="modal fade" id="createBox" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal text-uppercase">{{ txt_create_new_discount }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="pointer" id="create-discount" data-href="{{ add }}">
                    <span class="pull-right mt-3"><i class="fas fa-chevron-right"></i></span>
                    <h6>{{ heading_title }}</h6>
                    <p>{{ txt_discount_description }}</p>
                </div>
                <hr>
                <div class="pointer" id="create-coupon" data-href="{{ coupon_add }}">
                    <span class="pull-right mt-3"><i class="fas fa-chevron-right"></i></span>
                    <h6>{{ heading_coupon_title }}</h6>
                    <p>{{ txt_discount_code_description }}</p>
                    <p class="note-coupon"></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-border-yellow"
                        data-dismiss="modal">{{ txt_cancel }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="form-upload-product" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-product-label">Nhập danh sách</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="form-upload">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-default">Chọn file</button>
                        <span></span>
                        <input type="file" name="import-file" id="chooseFile" value="" accept=".xls,.xlsx"/>
                    </div>
                </form>
                <span class="text-danger">Chú ý: các mã trùng nhau sẽ bị ghi đè</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss-upload-product"
                        data-dismiss="modal">Đóng</button>
                <button type="button"
                        class="btn btn-pink confirm-upload-product" {#data-dismiss="modal"#}>Nhập danh sách</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // popup create new
    $('#create-coupon').on('click', function () {
        loadHref($(this));
    });

    $('#create-discount').on('click', function () {
        loadHref($(this));
    });

    function loadHref(data) {
        var add_href = data.attr('data-href');
        location.href = add_href;
    }

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var filter_name = $('#filter_name').val();

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                page: page
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
                $('.filter-form #select2-discount_type_id-container').text('{{ choose_filter }}');
            }
        });
    }

    $('#import-xls').on('click', function (e) {
        e.preventDefault();
        $("#form-upload-product").modal('show');

        $('.confirm-upload-product').on('click', function (e) {
            if ($('#form-upload input[name=\'import-file\']').val() == '') {
                alert('{{ error_no_file_selected }}');
                return;
            }
            e.preventDefault();
            var timer;
            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }
            timer = setInterval(function () {
                if ($('#form-upload input[name=\'import-file\']').val() != '') {
                    $("#form-upload-product").modal('hide');
                    clearInterval(timer);
                    $.ajax({
                        url: 'index.php?route=discount/coupon/importFromExcelFile&user_token={{ user_token }}',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('#image-loading').show();
                        },
                        success: function (json) {
                            // clear input file
                            $('#form-upload #chooseFile').val('');
                            $('#form-upload span').html('');
                            // end clear

                            $('#image-loading').hide();
                            if (json['error']) {
                                alert(json['error']);
                            }

                            if (json['success']) {
                                alert(json['success']);
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#image-loading').hide();
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });

        $(".dismiss-upload-product").on("click", function () {
            $("#form-upload-product").modal('hide');
        });
    });
</script>
{{ footer }}