{% if discount_type == 2 %}
    <div class="2-box box-method" style="display: block;">
        <div id="for_category_product" class="tab-pane active">
            <hr/>
            <div class="col-12 col-lg-12">
                <div class="form-group row category-select">
                    <div class="col-sm-6" style="position: relative;">
                        <input type="text" name="load-product" class="form-control" id="load-product" placeholder="{{ txt_search_product }}" autocomplete="off">
                        <div class="treeview"  id="tree_view_dive">
                            <div id="treeviewProduct"></div>
                            <div class="close_tree"><a href="javascript:;"> <span aria-hidden="true">×</span></a></div>
                        </div>
                        <input name="check_value_tree" class="check_value_tree" value="" type="hidden">
                    </div>
                    <div class="col-sm-6">
                        {% if type_user == "Admin" %}
                        <div class="custom-control custom-checkbox pt-2">
                            {% if config[0]['all_product'] and config[0]['all_product'] == 1 %}
                                <input type="checkbox" name="all_product" value="1" checked class="custom-control-input" id="all_product">
                            {% else %}
                                <input type="checkbox" name="all_product" value="1" class="custom-control-input" id="all_product">
                            {% endif %}
                            <label class="custom-control-label" for="all_product">{{ txt_all_product }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="message-product" data-message="">
                <div class="row mb-2 title_total_order">
                    <span class="col-3">{{ txt_product_name }}</span>
                    <span class="col-2">{{ text_minimum_number }}</span>
                    <span class="col-2">{{ text_maximum_number }}</span>
                    <span class="col-4">{{ text_order_value_discount }}</span>
                    <span class="col-1">&nbsp;</span>
                </div>
                <div id="modal_repeater_product">
                    {% for k, configs in config %}
                        <div data-repeater-list="location-product" class="product-item-{{ configs['product_id'] }}" id="modal_repeater_product{% if config[0]['all_product'] == 1 %}all{% endif %}">
                            <div id="append-product{{ configs['product_id'] }}" class="append-product" product-id="{{ configs['product_id'] }}">
                                {% for key, condition in configs['conditions'] %}

                                    <div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_product{{ configs['product_id'] }}{{ key }}">
                                        <div class="col-3 weight-wrap" id="title_category_product{{ configs['product_id'] }}">
                                            {% if key == 0 %}
                                                {% if config[0]['all_product'] == 1 %}
                                                    <label title="{{ configs['product_name'] }}">{{ configs['product_name'] }}</label>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <img class="image_treeview" src="{{ configs['image'] }}">
                                                        </div>
                                                        <div class="col-9 p-0">
                                                            <label class="mb-0" title="{{ configs['product_name'] }}">{{ configs['product_name']|length > 23 ? configs['product_name']|slice(0, 20) ~ '...' : configs['product_name'] }}</label><br>
                                                            {% if configs['product_count'] != 0 %}
                                                                <label class="font-weight-300 data_text font-13 text-yellow show-popup-versions">({{ txt_contain }} {{ configs['product_count'] }} {{ txt_version }})</label>
                                                            {% else %}
                                                                <label class="font-weight-300 font-13">{{ txt_inventory }}: {{ configs['quantity'] }}     {{ txt_price }}: {{ configs['price'] }}</label>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <input type="hidden" name="product_id[{{ configs['product_id'] }}]" value="{{ configs['product_id'] }}" class="form-control number-max-7" aria-describedby="button-addon4" maxlength="10">
                                            <div class="vesion_hidden{{ configs['product_id'] }}">
                                                <input type="hidden" name="product_id[{{ configs['product_id'] }}]" value="{{ configs['push_array_version'] }}" class="form-control" aria-describedby="button-addon4" maxlength="10">
                                            </div>
                                        </div>
                                        <div class="col-2 weight-wrap form-group">
                                            <input type="text" readonly name="min_quantity[{{ configs['product_id'] }}][{{ key }}][]" value="{{ condition['min_quantity'] }}" class="form-control number-format-4 quantity_from" aria-describedby="button-addon4" maxlength="3">
                                        </div>
                                        <div class="col-2 weight-wrap form-group">
                                            <input type="text" name="max_quantity[{{ configs['product_id'] }}][{{ key }}][]" value="{{ condition['max_quantity'] }}"
                                                   class="form-control number-format-4 quantity_to" product-id="{{ configs['product_id'] }}" step-position="{{ key }}"
                                                   aria-describedby="button-addon4" maxlength="10">
                                        </div>
                                        <div class="col-4 price-wrap form-group">
                                            <div class="input-group quantity-warehouse-product col-12 p-0">
                                                <div class="input-group-prepend position-group{{ configs['product_id'] }}{{ key }}" id="button-addon4">
                                                    <div class="radio-select btn btn-default">
                                                        <input type="radio" class="radio-custom" name="type_product[{{ configs['product_id'] }}][{{ key }}][]" id="add-product{{ configs['product_id'] }}{{ key }}" value="price" {% if condition['type'] == 'price' %} checked="" {% endif %}>
                                                        <label class="font-weight-normal m-0 align-self-center" data-position="{{ configs['product_id'] }}{{ key }}" for="add-product{{ configs['product_id'] }}{{ key }}">đ</label>
                                                    </div>

                                                    <div class="radio-select btn btn-default">
                                                        <input type="radio" class="radio-custom" name="type_product[{{ configs['product_id'] }}][{{ key }}][]" id="set-product{{ configs['product_id'] }}{{ key }}" value="percent" {% if condition['type'] == 'percent' %} checked="" {% endif %}>
                                                        <label class="font-weight-normal m-0" data-position="{{ configs['product_id'] }}{{ key }}" for="set-product{{ configs['product_id'] }}{{ key }}">%</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="text" name="quantity_product[{{ configs['product_id'] }}][{{ key }}][]" data-product_id-id="{{ configs['product_id'] }}" data-position="{{ key }}"
                                                           value="{{ condition['discount'] }}" class="form-control number-format-4 quantity-value" aria-describedby="button-addon4" maxlength="7">
                                                </div>
                                                <p id="error-percent{{ configs['product_id'] }}{{ key }}" class="font-14 font-italic text-errors mb-2"></p>
                                            </div>
                                        </div>
                                        <div class="col-1 price-wrap">
                                            <a class="text-dark float-right mt-2 delete_item_step" data-product-id="{{ configs['product_id'] }}" data-id="{{ configs['product_id'] }}{{ key }}">
                                                <img src="{{ icon_delete }}">
                                            </a>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>

                        <a data-repeater-create="" href="javascript:;" class="text-pink mt-4 d-table repeater-product{% if config[0]['all_product'] == 1 %}all{% endif %} btn-create-product-item-{{ configs['product_id'] }}" product-id="{{ configs['product_id'] }}"><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="2-box box-method">
        <div id="for_category_product" class="tab-pane active">
            <hr/>
            <div class="col-12 col-lg-12">
                <div class="form-group row category-select">
                    <div class="col-sm-6" style="position: relative;">
                        <input type="text" name="load-product" class="form-control" id="load-product" placeholder="{{ txt_search_product }}" autocomplete="off">
                        <div class="treeview" id="tree_view_dive">
                            <div id="treeviewProduct"></div>
                            <div class="close_tree"><a href="javascript:;"> <span aria-hidden="true">×</span></a></div>
                        </div>
                        <input name="check_value_tree" class="check_value_tree" value="" type="hidden">
                    </div>
                    <div class="col-sm-6">
                        {% if type_user == "Admin" %}
                        <div class="custom-control custom-checkbox pt-2">
                            <input type="checkbox" name="all_product" value="1" class="custom-control-input" id="all_product">
                            <label class="custom-control-label" for="all_product">{{ txt_all_product }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="message-total-order" data-message="">
                <div class="row mb-2 title_total_order">
                    <span class="col-3">{{ txt_product_name }}</span>
                    <span class="col-2">{{ text_minimum_number }}</span>
                    <span class="col-2">{{ text_maximum_number }}</span>
                    <span class="col-4">{{ text_order_value_discount }}</span>
                    <span class="col-1">&nbsp;</span>
                </div>
                <div id="modal_repeater_product"></div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Modal versions -->
<div class="modal fade" id="list-versions" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 40px"></th>
                        <th>{{ txt_product_name }}</th>
                        <th >{{ txt_version_prefix }}</th>
                        <th >{{ txt_origin_price }}</th>
                        <th ></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ button_exit }}</button>
                <button type="button" id="update-change-versions" class="btn btn-pink">{{ button_save_and_exit }}</button>
            </div>
        </div>
    </div>
</div>


<style>
    #tree_view_dive{
        display: none;
    }
    ul.gj-list-md {
        margin-top: 0px!important;
    }
    ul.gj-list-md.gj-hidden{
        height: auto;!important;
        margin-top: 0px!important;
    }

    .show-popup-versions, .popup-remove-version{
        cursor: pointer;
    }
    #list-versions .modal-footer{
        border-top: none !important;
        padding-top: 0px !important;
    }
</style>
<script>
    // Product
    $('body').on('click', '.close_tree a', function () {
        $('#treeviewProduct').hide();
        $('#tree_view_dive').hide();
        $('.close_tree').hide();
    });

    // hide treeview when click outside
    $(document).mouseup(function (e) {

        var container = $("#tree_view_dive");

        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
        }
    });


    /*
     * [113, 113-1, 113-2, 114, 115]
     */
    var selectedProductIdsInTreeView = [];

    /*
     * {
     *     113: [113-1, 113-2],
     *     114: [],
     *     115: []
     * }
     */
    var productIdsInDiscountConfigs = {};
    {% if config_products_selected is defined %}
        {% for item in config_products_selected %}
            selectedProductIdsInTreeView.push('{{ item }}');
            if (isParentNode('{{ item }}')){
                productIdsInDiscountConfigs['{{ item }}'] = ['{{ item }}']
            }else{
                if (productIdsInDiscountConfigs[getParentIdFromNodeId('{{ item }}')] === undefined){
                    productIdsInDiscountConfigs[getParentIdFromNodeId('{{ item }}')] = ['{{ item }}']
                }else{
                    productIdsInDiscountConfigs[getParentIdFromNodeId('{{ item }}')].push('{{ item }}');
                }
            }

        {% endfor %}
    {% endif %}

    var tree = '';
    var delayTimer;
    $("#load-product").on('keyup focus', function () {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(function () {
            var title = $('#load-product').val();
            var url = 'index.php?route=discount/discount/getProductsLazyLoad&user_token={{ user_token }}';
            $.ajax({
                type: 'get',
                data: {title: title},
                url: url,
                beforeSend: function () {
                    $('#image-loading').show();
                },
                success: function (result) {
                    /* destroy last tree */
                    if (tree && tree.destroy) {
                        tree.destroy();
                    }

                    /* create new tree */
                    tree = $('#treeviewProduct').tree({
                        primaryKey: 'id',
                        uiLibrary: 'materialdesign',
                        dataSource: result,
                        checkboxes: true,
                        selectionType: 'multiple'
                        // select: function (e, node, id) {
                        //     console.log('[Method] select is fired for node with id=' + id);
                        // }
                    });

                    /* refill disabled for selected nodes for new tree */
                    /* refill check for selected nodes for new tree */
                    selectedProductIdsInTreeView.forEach(function (spId) {
                        var node = tree.getNodeById(spId);
                        if (node) {
                            tree.check(node);
                            // tree.disable(node, true);
                        }
                    });

                    /* setup event for new tree */
                    var html_total_order;
                    // tree.on('select', function (e, node, id) {
                    tree.on('checkboxChange', function (e, node, record, state) {
                        /*
                         * Notice: on child is triggered => parent is always triggered too
                         * e.g:
                         * - 113-1 checked, 113 indeteminated
                         * - 113-2 checked, 113 indeteminated
                         * - 113-3 checked, 113 checked
                         * - 113-3 unchecked, 113 indeteminated
                         * - 113-2 unchecked, 113 indeteminated
                         * - 113-1 unchecked, 113 unchecked
                         */

                        /* update selected ids in tree */
                        selectedProductIdsInTreeView = tree.getCheckedNodes();

                        /* disable child node in tree */
                        // if (isParentNode(record.id) && state === 'checked') {
                        //     tree.disable(node, true);
                        // }

                        // remove item when uncheck in treeview
                        if (state === 'unchecked') {
                            if (isParentNode(record.id)){
                                $('.product-item-' + record.id).remove();
                                $('.btn-create-product-item-' + record.id).remove();
                                delete productIdsInDiscountConfigs[record.id];
                            }else {
                                productIdsInDiscountConfigs[getParentIdFromNodeId(record.id)] = jQuery.grep(productIdsInDiscountConfigs[getParentIdFromNodeId(record.id)], function(value) {
                                    return value != record.id;
                                });
                                var numbOfVersions = productIdsInDiscountConfigs[getParentIdFromNodeId(record.id)].length;
                                updateDataText(productIdsInDiscountConfigs, getParentIdFromNodeId(record.id), numbOfVersions, selectedProductIdsInTreeView);
                                if (numbOfVersions < 1){
                                    $('.product-item-' + getParentIdFromNodeId(record.id)).remove();
                                    $('.btn-create-product-item-' + getParentIdFromNodeId(record.id)).remove();
                                }
                            }
                        }

                        /* update childrent list of parent node */
                        if (!isParentNode(record.id) && state === 'checked') {
                            var parentId = getParentIdFromNodeId(record.id);
                            if (Object.keys(productIdsInDiscountConfigs).indexOf('' + parentId) < 0) {
                                productIdsInDiscountConfigs[parentId] = [];

                                /* add discount config discounts list and display it */
                                addDiscountConfig(parentId, record.name, record.image);

                                var numbOfVersions = productIdsInDiscountConfigs[parentId].length;
                                updateDataText(productIdsInDiscountConfigs, parentId, numbOfVersions, selectedProductIdsInTreeView);
                            }

                            // add child to parent
                            var tmp = productIdsInDiscountConfigs[parentId];
                            tmp.push('' + record.id);
                            productIdsInDiscountConfigs[parentId] = tmp;

                            /* update */
                            var numbOfVersions = productIdsInDiscountConfigs[parentId].length;
                            updateDataText(productIdsInDiscountConfigs, parentId, numbOfVersions, selectedProductIdsInTreeView);
                        } else if (isParentNode(record.id) && state === 'checked' && Object.keys(productIdsInDiscountConfigs).indexOf('' + record.id) < 0) {
                            productIdsInDiscountConfigs['' + record.id] = [];

                            /* add discount config discounts list and display it */
                            addDiscountConfig(record.id, record.name, record.image, record.quantity, record.price);

                            /* update. not need? TODO: remove?... */
                            var numbOfVersions = productIdsInDiscountConfigs[record.id].length;
                            updateDataText(productIdsInDiscountConfigs, record.id, numbOfVersions, selectedProductIdsInTreeView);
                        }
                    });

                    if (result.length == 0) {
                        $("#treeviewProduct ul").append('<li class="mt-2"><span class="ml-5 text-secondary font-14" data-role="display">{{ select2_notice_not_result }}</span></li>');
                        $("#treeviewProduct ul").css('height', 'auto');
                        $("#treeviewProduct ul").css('margin-bottom', '5px');
                    }

                    /* show button close-tree */
                    $('.close_tree').show();

                    /* show tree */
                    $('#tree_view_dive').show();
                    $('#treeviewProduct').show();

                    /* disable loading icon */
                    $('#image-loading').hide();
                }
            });
        }, 300);
    });

    /**
     * record: {id, text, version, ...}
     */
    function addDiscountConfig(id, name, image, qty = '', price = '') {
        var data_id = id;
        var data_name = name;
        if (data_name.length > 22){
            data_name = data_name.substring(0, 20) + '...';
        }
        var data_text = "({{ txt_contain }} " + productIdsInDiscountConfigs[data_id].length + " {{ txt_version }})";
        var text_yellow = 'data_text text-yellow';
        if (productIdsInDiscountConfigs[data_id].length > 0) {
            data_text = data_text;
        } else {
            data_text = '';
        }

        if (qty && price) {
            data_text = '{{ txt_inventory }}:' + qty  +'\t'+ '{{ txt_price }}:' + price ;
            text_yellow = '';
        }

        html_total_order = '<div data-repeater-list="location-product"  class="product-item-'+ data_id +'" id="modal_repeater_product">\n' +
            ' <div id="append-product' + data_id + '" class="append-product" product-id="' + data_id + '">\n' +
            ' <div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_product' + data_id + '0">\n' +
            '     <div class="col-3 weight-wrap" id="title_category_product' + data_id + '">\n' +
            '       <div class="row">\n' +
            '           <div class="col-3">\n' +
            '                <img class="image_treeview" src="' + image + '">\n' +
            '           </div>\n' +
            '           <div class="col-9 p-0">\n' +
            '                <label class="mb-0" title="' + name + '">' + data_name + '</label><br>\n' +
            '                <label class="font-weight-300 font-13 '+ text_yellow +' show-popup-versions">' + data_text + '</label>\n' +
            '           </div>\n' +
            '       </div>' +
            '         <input type="hidden" name="product_id[' + data_id + ']" value="' + data_id + '" class="form-control number-max-7" aria-describedby="button-addon4" maxlength="10">\n' +
            '         <div class="vesion_hidden' + data_id + '"></div>\n' +
            '     </div>\n' +
            '     <div class="col-2 weight-wrap form-group">\n' +
            '         <input type="text" name="min_quantity[' + data_id + '][0][]" class="form-control number-format-4 quantity_from" aria-describedby="button-addon4" maxlength="3">\n' +
            '     </div>\n' +
            '     <div class="col-2 weight-wrap form-group">\n' +
            '         <input type="text" name="max_quantity[' + data_id + '][0][]" class="form-control number-format-4 quantity_to" ' +
            'product-id="'+ data_id +'" step-position="0" aria-describedby="button-addon4" maxlength="10">\n' +
            '     </div>\n' +
            '     <div class="col-4 price-wrap form-group">\n' +
            '         <div class="input-group quantity-warehouse-product col-12 p-0">\n' +
            '             <div class="input-group-prepend position-group' + data_id + '0" id="button-addon4">\n' +
            '                 <div class="radio-select btn btn-default">\n' +
            '                     <input type="radio" class="radio-custom" name="type_product[' + data_id + '][0][]" id="add-product' + data_id + '" value="price" checked="">\n' +
            '                     <label class="font-weight-normal m-0 align-self-center" data-position="' + data_id + '0" for="add-product' + data_id + '">đ</label>\n' +
            '                 </div>\n' +
            '\n' +
            '                 <div class="radio-select btn btn-default">\n' +
            '                     <input type="radio" class="radio-custom" name="type_product[' + data_id + '][0][]" id="set-product' + data_id + '" value="percent">\n' +
            '                     <label class="font-weight-normal m-0" data-position="' + data_id + '0" for="set-product' + data_id + '">%</label>\n' +
            '                 </div>\n' +
            '             </div>\n' +
            '             <div>\n' +
            '  <input type="text"  name="quantity_product[' + data_id + '][0][]" class="form-control number-format-4 quantity-value" data-product-id="' + data_id + '" data-position="0" aria-describedby="button-addon4" maxlength="7">\n' +
            '             </div>\n' +
            '         </div>\n' +
            '<p id="error-percent'+ data_id +'0" class="font-14 font-italic text-errors mb-2"></p>'+
            '     </div>\n' +
            '     <div class="col-1 price-wrap">\n' +
            '         <a class="text-dark float-right mt-2 delete_item_step" data-product-id="' + data_id + '" data-id="' + data_id + '0">\n' +
            '           <img src="{{ icon_delete }}">\n' +
            '         </a>\n' +
            '     </div>\n' +
            ' </div>\n' +
            '\n' +
            ' </div>\n' +
            ' </div>\n' +
            ' <a data-repeater-create="" href="javascript:;" class="text-pink mt-4 d-table repeater-product btn-create-product-item-'+ data_id +'" product-id="' + data_id + '" ><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>';

        $("#modal_repeater_product").append(html_total_order);
        addFieldVaildateEmpty('min_quantity[' + data_id + '][0][]', '{{ error_min_quantity_more_than_0 }}');
        addFieldVaildateEmpty('max_quantity[' + data_id + '][0][]', '{{ error_max_quantity_more_than_0 }}');
        addFieldVaildateEmpty('quantity_product[' + data_id + '][0][]', '{{ error_discount_error_discount_value_0 }}');
    }

    function updateDataText(productIdsInDiscountConfigs, parentId, numbOfVersions, selectedProductIdsInTreeView) {
        // var selectedProductIdsInTreeView = tree.getCheckedNodes();
        var data_text = "({{ txt_contain }} " + numbOfVersions + " {{ txt_version }})";
        if (numbOfVersions > 0) {
            $('#title_category_product' + parentId + ' label.data_text').html(data_text);
        }
        // var push_array_version = [];
        var html_version;
        // push_array_version.push(productIdsInDiscountConfigs[parentId]);
        html_version = '<input type="hidden" name="product_id[' + parentId + ']" value="' + selectedProductIdsInTreeView + '"  data-product="' + parentId + '" class="form-control" aria-describedby="button-addon4" maxlength="10">';
        $('.vesion_hidden' + parentId).html(html_version);
    }

    var i_p = 1000;

    $('body').on('click', '.repeater-product', function (e) {
        e.preventDefault();
        var product_id = $(this).attr('product-id');
        var quantity_to = [];
        var product_id_validate = product_id == 0 ? 'all' : product_id;
        $('.product-item-' + product_id_validate +' .quantity_to').each(function () {
            quantity_to.push($(this).val());
        });
        var value_next = parseInt(extract_number(quantity_to[quantity_to.length - 1])) + 1;
        value_next = value_next.toLocaleString('en');
        if (validateFormProduct(product_id_validate)){
            var html_total_order = '' +
                '<div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_product' + product_id + '' + i_p + '">\n' +
                '     <div class="col-3 weight-wrap">\n' +
                '         \n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="min_quantity[' + product_id + '][' + i_p + '][]" readonly value="' + value_next + '" class="form-control number-format-4 quantity_from" aria-describedby="button-addon4" maxlength="3">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="max_quantity[' + product_id + '][' + i_p + '][]" class="form-control number-format-4 quantity_to" product-id="'+ product_id +'" step-position="' + i_p + '" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-4 price-wrap form-group">\n' +
                '         <div class="input-group quantity-warehouse-product col-12 p-0">\n' +
                '             <div class="input-group-prepend position-group' + product_id + '' + i_p + '" id="button-addon4">\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_product[' + product_id + '][' + i_p + '][]" id="add-product' + product_id + '' + i_p + '" value="price" checked="">\n' +
                '                     <label class="font-weight-normal m-0 align-self-center" data-position="' + product_id + '' + i_p + '" for="add-product' + product_id + '' + i_p + '">đ</label>\n' +
                '                 </div>\n' +
                '\n' +
                '                     <div class="radio-select btn btn-default">\n' +
                '                         <input type="radio" class="radio-custom" name="type_product[' + product_id + '][' + i_p + '][]" id="set-product' + product_id + '' + i_p + '" value="percent">\n' +
                '                         <label class="font-weight-normal m-0" data-position="' + product_id + '' + i_p + '" for="set-product' + product_id + '' + i_p + '">%</label>\n' +
                '                     </div>\n' +
                '                 </div>\n' +
                '                 <div>\n' +
                '<input type="text" name="quantity_product[' + product_id + '][' + i_p + '][]" class="form-control number-format-4 quantity-value"  data-product-id="'+ product_id +'" data-position="'+ i_p +'" aria-describedby="button-addon4" maxlength="7">\n' +
                '                 </div>\n' +
                '             </div>\n' +
                '<p id="error-percent'+ product_id +'' + i_p + '" class="font-14 font-italic text-errors mb-2"></p>'+
                '         </div>\n' +
                '         <div class="col-1 price-wrap">\n' +
                '             <a class="text-dark float-right mt-2 delete_item_step" data-product-id="' + product_id + '" data-id="' + product_id + '' + i_p + '">\n' +
                '                 <img src="{{ icon_delete }}">\n' +
                '             </a>\n' +
                '         </div>\n' +
                '     </div>';
            $('#append-product' + product_id + '').append(html_total_order);

            addFieldVaildateEmpty('min_quantity[' + product_id + '][' + i_p + '][]', '{{ error_min_quantity_more_than_0 }}');
            addFieldVaildateEmpty('max_quantity[' + product_id + '][' + i_p + '][]', '{{ error_max_quantity_more_than_0 }}');
            addFieldVaildateEmpty('quantity_product[' + product_id + '][' + i_p + '][]', '{{ error_discount_error_discount_value_0 }}');
            i_p++;
        }
    });



    function validateFormProduct(product_id) {
        var quantity_from = $('.product-item-' + product_id +' .quantity_from');
        var flag = true;

        $('.product-item-' + product_id +' .text-danger').remove();
        quantity_from.each(function () {
            console.log('quantity_to', $(this).closest('.mt-2').find('.quantity_to').val());
            var quantity_to = $(this).closest('.mt-2').find('.quantity_to').val().replace(new RegExp(',', 'g'), '');
            if ($(this).val() < 0 || quantity_to < 1 || $(this).val() == '' || quantity_to == '') {
                $(this).closest('.mt-2').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">{{ error_amount_must_asc }}</div>');
                flag = false;
            } else if (parseInt($(this).val().replace(new RegExp(',', 'g'), '')) >= parseInt(quantity_to)) {
                $(this).closest('.mt-2').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">{{ error_amount_must_asc }}</div>');
                flag = false;
            }
        });

        if (!flag) {
            return false;
        }

        return true;
    }

    $(document).on('click', "[data-repeater-product]", function () {
        var id = $(this).attr('data-id');
        $('#repeater_product' + id + '').remove();
    });

    $(document).on('click', '.delete_item_step', function () {
       var item_product_id = $(this).attr('data-product-id');
       var item_step_id = $(this).attr('data-id');
       var self = $(this).parent().parent();
        self.next().find('.quantity_from').val(self.prev().find('.quantity_to').val());
        $(self).remove();

       var count_step = $('.product-item-' + item_product_id + ' .data-repeater-item').length;
        if (count_step < 1 || item_step_id == item_product_id + '0'){ // || xóa điều kiện đầu tiên thì xóa cả item
            $('.product-item-' + item_product_id).remove();
            $('.btn-create-product-item-' + item_product_id).remove();
            delete productIdsInDiscountConfigs[item_product_id];
            selectedProductIdsInTreeView = jQuery.grep(selectedProductIdsInTreeView, function(value) {
                value = "" + value;
                return value != item_product_id && value.indexOf(item_product_id + '-') < 0;
            });
        }
    });

    $('#all_product').on('click', function () {
        if ($(this).is(':checked')) {
            if ( $('#modal_repeater_product').children().length > 0 ) {
                if (!confirm("{{ warning_choose_all }}")) {
                    $("#all_product").prop("checked", false);
                    return;
                }
            }

            $('#discount-form').data('bootstrapValidator').resetForm();

            var data_id = 0;
            var html_total_order = '<div data-repeater-list="location-product" class="product-item-all" id="modal_repeater_product00">\n' +
                ' <div id="append-product' + data_id + '" class="append-product" product-id="' + data_id + '">\n' +
                ' <div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_product' + data_id + '0">\n' +
                '     <div class="col-3 weight-wrap" id="title_product' + data_id + '">\n' +
                '         <label>{{ txt_all_product }}</label>\n' +
                '         <input type="hidden" name="product_id[]" value="' + data_id + '" class="form-control number-max-7" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="min_quantity[' + data_id + '][0][]" class="form-control number-format-4 quantity_from" aria-describedby="button-addon4" maxlength="3">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="max_quantity[' + data_id + '][0][]" class="form-control number-format-4 quantity_to" product-id="'+ data_id +'" step-position="0" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-4 price-wrap form-group">\n' +
                '         <div class="input-group quantity-warehouse-product col-12 p-0">\n' +
                '             <div class="input-group-prepend position-group' + data_id + '0" id="button-addon4">\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_product[' + data_id + '][0][]" id="add-category' + data_id + '" value="price" checked="">\n' +
                '                     <label class="font-weight-normal m-0 align-self-center" data-position="' + data_id + '0" for="add-category' + data_id + '">đ</label>\n' +
                '                 </div>\n' +
                '\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_product[' + data_id + '][0][]" id="set-category' + data_id + '" value="percent">\n' +
                '                     <label class="font-weight-normal m-0" data-position="' + data_id + '0" for="set-category' + data_id + '">%</label>\n' +
                '                 </div>\n' +
                '             </div>\n' +
                '             <div>\n' +
                '                 <input type="text"  name="quantity_product[' + data_id + '][0][]" class="form-control number-format-4 quantity-value"  data-product-id="' + data_id + '" data-position="0" aria-describedby="button-addon4" maxlength="7">\n' +
                '             </div>\n' +
                '<p id="error-percent'+ data_id +'0" class="font-14 font-italic text-errors mb-2"></p>'+
                '         </div>\n' +
                '     </div>\n' +
                '     <div class="col-1">\n' +
                '     </div>\n' +
                ' </div>\n' +
                '\n' +
                ' </div>\n' +
                ' </div>\n' +
                ' <a data-repeater-create="" href="javascript:;" class="text-pink mt-4 d-table repeater-product" product-id="' + data_id + '" ><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>';

            $('#load-product').prop('disabled', 'disabled');
            $("#modal_repeater_product").html(html_total_order);
            selectedProductIdsInTreeView = [];
            addFieldVaildateEmpty('min_quantity[' + data_id + '][0][]', '{{ error_min_quantity_more_than_0 }}');
            addFieldVaildateEmpty('max_quantity[' + data_id + '][0][]', '{{ error_max_quantity_more_than_0 }}');
            addFieldVaildateEmpty('quantity_product[' + data_id + '][0][]', '{{ error_discount_error_discount_value_0 }}');
        } else {
            $('.select2-product').prop('disabled', false);
        }
        if (!$(this).is(':checked')) {
            if (confirm("{{ warning_choose_all }}")) {
                $('#discount-form').data('bootstrapValidator').resetForm();
                $('#modal_repeater_productall').remove();
                $('#modal_repeater_product00').remove();
                $('.repeater-productall').remove();
                $('.repeater-product').remove();
                $('#load-product').prop('disabled', false);
            } else {
                $("#all_product").prop("checked", true);
            }
        }
    });

    function isParentNode(id) {
        return id && id.indexOf('-') < 0;
    }

    function getParentIdFromNodeId(id) {
        if (!isParentNode(id)) {
            return id.split('-')[0];
        }

        return id;
    }

    $(document).on('keyup', 'input.quantity-value',function(){
        var proId = $(this).attr('data-product-id');
        var position = $(this).attr('data-position');
        var inputRadioValue = $('.position-group'+proId+''+position+'').find('input[type="radio"]:checked').attr('name', 'type_product['+proId+']['+position+'][]').val();
        var value = $(this).val();
        value = value.replace(",", "");

        if (inputRadioValue && inputRadioValue == 'percent') {
            if (parseInt(value) > 100) {
                $('#error-percent'+proId+''+position+'').text('{{ error_discount_type_order_error_value_100 }}');

            } else {
                $('#error-percent'+proId+''+position+'').text('');
            }
        }
    });

    $(document).on('click', '.font-weight-normal', function () {
        var position = $(this).attr('data-position');
        $('#error-percent'+position+'').text('');
    });

    $(document).on('keyup', 'input.quantity_to',function(){
        var productId = $(this).attr('product-id');
        var position = $(this).attr('step-position');
        var valTo = $(this).val().replace(new RegExp(',', 'g'), '');
        // var valFrom = $(this).closest('.mt-2').find('.quantity_from').val().replace(new RegExp(',', 'g'), '');
        var valFrom = $(this).closest('#repeater_product'+productId+''+position+'').find('.quantity_from').val();

        if (valFrom) {
            valFrom.replace(new RegExp(',', 'g'), '');
        }

        if (parseInt(valTo) < parseInt(valFrom)) {
            $('#repeater_product'+productId+''+position+' .text-danger').remove();
            $(this).closest('#repeater_product'+productId+''+position+'').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">{{ error_max_more_min_quantity }}</div>');
        } else {
            $(this).closest('#repeater_product'+productId+''+position+'').find('.text-danger.error-1').remove();
        }
    });

    // popup product version selected
    // $(document).on('click', '.data_text', function () {
    //     var product_id = $(this).parents(':eq(4)').attr('product-id');
    // });

    // update summary content
    $("body").on('DOMSubtreeModified', "#modal_repeater_product", function() {
        updateSummaryContentTypeProduct();
    });

    $("#modal_repeater_product").on('change', function() {
        updateSummaryContentTypeProduct();
    });

    var list_popup_versions_remove = [];

    $('#modal_repeater_product').on('click', '.show-popup-versions', function () {
        list_popup_versions_remove = [];
        var current_product_id = $(this).parent().parent().parent().attr('id');
        current_product_id = current_product_id.replace('title_category_product', '');
        var version_ids = [];
        selectedProductIdsInTreeView.forEach(function (item) {
            item = String(item);
            var subString = current_product_id + '-';
            if (item.indexOf(subString) >= 0) {
                let version_id = item.replace(subString, '');
                if (version_id){
                    version_ids.push(version_id);
                }
            }
        });

        if (version_ids.length > 0){
            $.ajax({
                url: '{{ get_versions_info }}'.replace(/&amp;/g, '&'),
                method: 'GET',
                data: {
                    product_id: current_product_id,
                    version_ids: version_ids,
                },
                beforeSend: function () {
                    $('#list-versions').modal('hide');
                    $('#list-versions .modal-body tbody').html('');
                    $('#image-loading').show();
                },
                success: function (json) {
                    $('#image-loading').hide();
                    if (json.versions.length > 0) {
                        var produtct_name = json.product_name.length > 20 ? json.product_name.substring(0, 17) + '...' : json.product_name;
                        json.versions.forEach(function (item) {
                            $('#list-versions .modal-body tbody').append(
                                '<tr class="popup-version-list">\n' +
                                '    <td ><img class="image_treeview" src="' + json.product_image + '"/> </td>\n' +
                                '    <td title="'+ json.product_name +'">' +  produtct_name + '</td>\n' +
                                '    <td title="' + item.version + '">' + item.version + '</td>\n' +
                                '    <td>'+ parseFloat(item.compare_price).toLocaleString('en') +'đ</td>\n' +
                                '    <td data-product-version-id="' + item.product_id + '-' + item.product_version_id + '" class="popup-remove-version"><i class="fa fa-trash-alt"></i></td>\n' +
                                '</tr>');
                        });
                        $('#list-versions').modal('show');
                    }
                }
            });
        }
    });

    $('#list-versions').on('click', '.popup-remove-version', function () {
        var product_version_id = $(this).attr('data-product-version-id');
        list_popup_versions_remove.push(product_version_id);
        $(this).parent().remove();
    });

    $('#update-change-versions').on('click', function () {
        list_popup_versions_remove.forEach(function (product_version_id) {
            var product_id = getParentIdFromNodeId(product_version_id);

            selectedProductIdsInTreeView = jQuery.grep(selectedProductIdsInTreeView, function(value) {
                return value != product_version_id && value != product_id;
            });
            productIdsInDiscountConfigs[product_id] = jQuery.grep(productIdsInDiscountConfigs[product_id], function(value) {
                return value != product_version_id;
            });
            var numbOfVersions = productIdsInDiscountConfigs[product_id].length;
            updateDataText(productIdsInDiscountConfigs, product_id, numbOfVersions, selectedProductIdsInTreeView);
            if (numbOfVersions < 1){
                $('.product-item-' + product_id).remove();
                $('.btn-create-product-item-' + product_id).remove();
                delete productIdsInDiscountConfigs[product_id];
            }
        });
        list_popup_versions_remove = [];
        $('#list-versions').modal('hide');
    });

    function updateSummaryContentTypeProduct() {
        if ($('#modal_repeater_product').is(':visible')) {
            let values = $('#modal_repeater_product .append-product label:first-child').map(function () {
                return this.innerHTML;
            }).get();
            let txt_value = '';
            let i = 0;
            values.forEach(function (value) {
                if (i > 2) {
                    return;
                }

                if (i === 0) {
                    txt_value += value;
                } else if (i > 1) {
                    txt_value += ', ...';
                } else {
                    txt_value += ', ' + value;
                }
                i++;
            });
            $('#summary-content').html('{{ text_summary_content_type_product }}: ' + txt_value);
        }
    }
    // End - Product
</script>