{{ custom_header }}
<!-- End header -->
<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    {% if status_discount == 'status_upcoming' %}
                                        {{ breadcrumb.text }}
                                    {% else %}
                                        chương trình khuyến mãi
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="box-wrap bg-none">
                    <form action="{{ action }}" method="post" class="section-form form-fix-head" id="discount-form">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">
                                    {% if status_discount == 'status_upcoming' %}
                                        {{ text_form }}
                                        {% else %}
                                        Chương trình khuyến mãi
                                    {% endif %}
                                </h1>
                                {% if status_discount == 'status_upcoming' or status == false %}
                                    {% if access_modify and not disable_update %}
                                        <button type="submit" class="btn btn-pink float-right save-product" id="form-submit">{{ button_save }}</button>
                                    {% endif %}
                                {% endif %}
                                <a href="{{ cancel }}" href="javascript:void(0)"
                                                           class="btn btn-light float-right confirm-discount-cancle border bg-white  mr-2">{{ button_cancel }}</a>
                            </div>
                        </div>
                        {% if discount_is_deleted %}
                            <p class="text-danger">{{ text_deleted_or_no_exist }}</p>
                        {% endif %}
                        {% if error_warning %}
                            <br>
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-lg-12 form-left">
                                <div class="box-content bg-white mb-3">
                                    <h3>Thông tin cơ bản</h3>
                                    <div class="form-horizontal row">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-4 pt-2" for="discount_name">Tên chương trình khuyến mãi</label>
                                                <div class="col-sm-8">
                                                    <input type="text" maxlength="255" value="{{ name }}" name="name" id="discount_name" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-4 pt-2" for="discount_description">{{ text_description }}</label>
                                                <div class="col-sm-8">
                                                    <input type="text" maxlength="255" value="{{ description }}" name="description" id="discount_description" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-lg-12">
                                            <div class="form-group row">
                                                <label class="control-label col-sm-4 pt-2" for="">Thời gian khuyến mãi</label>
                                                <div class="col-sm-8">
                                                        <div class="d-flex">
                                                            <input class="form-control w-30 col-md-5"
                                                                   type="text" id="start_at" name="start_at" value="" placeholder="Từ ngày" autocomplete="off">
                                                            <span class="col-md-2 m-auto text-center"> - </span>
                                                            <input class="form-control w-30  col-md-5"
                                                                   type="text" id="end_at" name="end_at" value="" placeholder="Đến ngày" autocomplete="off">

                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3">
                                    <h3>Sản phẩm khuyến mãi</h3>

                                    <div id="product-content">
                                        <div class="box-content position-relative">
                                            <div id="actionAllProduct" class="row d-none">
                                                <div class="col-12 col-md-4"></div>
                                                <div class="form-group font-12 col-12 col-md-4">
                                                    <label>Giảm giá hàng loạt</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control" value="" placeholder="Giảm giá hàng loạt"
                                                               aria-label="Giảm giá hàng loạt" aria-describedby="mass_discount"
                                                               name="mass_discount" id="massDiscount">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text px-2" id="mass_discount">% giảm</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group font-12 col-12 col-md-4 text-right">
                                                    <button type="button" class="btn btn-default mt-32px" id="apply">Áp dụng</button>
                                                    <button type="button" class="btn btn-default mt-32px ml-2" id="delete">Xóa</button>
                                                    {#<button type="button" class="btn btn-default mt-32px ml-2" id="turn-on-status">Bật</button>
                                                    <button type="button" class="btn btn-default mt-32px ml-2" id="turn-off-status">Tắt</button>#}
                                                </div>
                                            </div>
                                            <table id="listProduct" class="table table-responsive d-none">
                                                <thead>
                                                <tr>
                                                    <th scope="check-all" width="10">
                                                        <div class="dropdown">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="select_all"
                                                                       data-text-language-choose-all="{{ choose_all_in_filter }}"
                                                                       data-text-language-choose="{{ choose_in_filter }}"
                                                                       data-text-language-item="{{ item_in_filter }}">
                                                                <input type="hidden" name="selected" class="selected_product">
                                                                <span></span>
                                                            </label>
                                                            <span class="text text-black-50"></span>
                                                            <input type="hidden" name="selected" value="">
                                                        </div>
                                                    </th>
                                                    <th scope="col" class="text-center"></th>
                                                    <th scope="col" width="25%" class="text-center">Sản phẩm</th>
                                                    <th scope="col" class="text-center">Giá gốc</th>
                                                    <th scope="col" class="text-center">Giảm giá</th>
                                                    <th scope="col" class="text-center">SL</th>
                                                    <th scope="col" class="text-center">Bật/T</th>
                                                    <th scope="col" class="text-center"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="8"><p class="text-center mb-0">Không có dữ liệu</p></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div id="productEmpty">
                                        <p>Thêm sản phẩm vào chương trình khuyến mãi và thiết lập giá khuyến mãi</p>
                                        <div class="d-flex">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" id="clickChooseProductOnSite"
                                                    data-toggle="modal" data-target="#choseProductOnSite">
                                                Chọn sản phẩm từ hệ thống
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div> <!-- End form left -->
                        </div> <!-- End row -->

                        <!-- Modal -->
                        <div class="modal fade" id="choseProductOnSite" tabindex="-1" role="dialog"
                             aria-labelledby="choseProductOnSite" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chọn sản phẩm</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       <div class="row">
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label for="selectCategory">Danh mục / Nhóm sản phẩm</label>
                                                   <div id="selectCategories" class="categories-select d-flex mb-3">
                                                       <select id="filterCategory" class="form-control select2-categories mx-3"
                                                               name="sub_categories[]"
                                                               data-palaceholder="Nhập loại sản phẩm con">
{#                                                           {% for category in categories %}#}
{#                                                                <option value='{{ category['text'] }}'>{{ category['text'] }}</option>#}
{#                                                           {% endfor%}#}
                                                       </select>
                                                       <div class="select2-dropdown-categories"></div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label>Tìm kiếm</label>
                                                   <div class="input-group">
                                                       <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm"
                                                              aria-label="Tìm kiếm sản phẩm" aria-describedby="basic-addon2"
                                                              name="search">
                                                   </div>
                                               </div>
                                           </div>

                                           <div class="col-md-2">
                                               <div class="form-group" style="margin-top: 29px;">
                                                   <button type="button" id="filter" class="btn btn-primary">Tìm kiếm</button>
                                               </div>
                                           </div>

                                           <div class="col-md-2" style="margin-top: 29px;">
                                               <button type="button" id="clear" class="btn btn-light">Nhập lại</button>
                                           </div>
                                       </div>

                                        <div class="row" id="productList">
                                            <div id="tableChooseProduct">
                                                <table class="table product-list">
                                                    <thead>
                                                    <tr>
                                                        <th scope="selectAll" width="10">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheckAll" name="checkAll">
                                                                <label class="custom-control-label" for="customCheckAll"></label>
                                                            </div>
                                                            <input type="hidden" name="selectedPopup">
                                                        </th>
                                                        <th scope="col"></th>
                                                        <th scope="col" width="30%">Sản phẩm</th>
                                                        <th scope="col">Giá niêm yết</th>
                                                        <th scope="col" class="text-center">Số lượng trong kho</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <p class="mb-0" id="textConfirm">Chọn (0) sản phẩm</p>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-primary" id="confirmSelected" data-dismiss="modal">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- End box-wrap -->
            </div> <!-- End main-content -->
        </main>
        <!-- End Main -->
    </div>
    <div id="image-loading"></div>
</div>
<!-- End page wrapper -->

<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<link href="view/stylesheet/treeview/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="view/javascript/treeview/gijgo.min.js" type="text/javascript"></script>

<style>
    .select2-selection__clear {
        display: none !important;
    }

    .select2-results__options {
        overflow-y: scroll;
        max-height: 200px;
    }

    .box-method{
        display: none;
    }

    #tableChooseProduct {
        height: 600px;
        overflow: scroll;
        width: 100%;
    }

    .paginationjs {
        margin: auto;
    }

    p.no-result {
        display: block;
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
    }

    .box-content .table th[scope="check-all"] .dropdown.has-selected {
        position: absolute;
        top: 57px;
    }

    .table td {
        vertical-align: middle;
    }

    .table-responsive {
        font-size: 14px;
    }

    .mt-32px {
        margin-top: 32px;
    }

    .text-all {
        display: none;
    }
    .box-content .table th[scope="check-all"] .dropdown > .text, .box-content #check-all .dropdown > .text {
        top: 0;
    }
    .select2-container {
        width: 78% !important;
    }
    .select2-selection__clear {
        display: block !important;
        transform: translateY(3px);
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var dropdown = '#selectCategories';
        var parent = '';
        var check_cate = '';
        $(dropdown + ' select.select2-categories').select2({
            theme: 'bootstrap4',
            dropdownParent: $(dropdown +' .select2-dropdown-categories'),
            containerCssClass: 'col',
            allowClear: true,
            placeholder: "{{ text_popup_enter_name_sub_category }}",
            templateSelection: function (data, container) {
                // Add custom attributes to the <option> tag for the selected option
                $(data.element).attr('data-custom-attribute', data['category_id']);
                return data.text;
            },
            language: {
                "noResults": function ()  {
                    parent = dropdown;
                    $(dropdown).addClass('no-result');
                    var term = $(dropdown + ' .select2-search__field').val();

                    for (let i = 0; i < categories.length; i++) {
                        var value_list = '';
                        if (typeof (categories[i]['name']) != 'undefined') {
                            value_list = categories[i]['name'];
                        }

                        if ((value_list.toLowerCase().trim() == term.toLowerCase().trim())) {
                            return "<span>{{ select2_notice_category_exist }}</span>";
                        }
                    }

                    if ($.trim(term) !== '') {
                        if ($.trim(term).length > 200) {
                            return "<span>{{ error_name_max_length }}</span>";
                        }

                        let name_cat_parent_create = $('#create_new .modal-body .input-name input[name="name"]').val();
                        let name_cat_parent_edit = $('#create_new .modal-body .input-name input[name="name"]').val();

                        if (name_cat_parent_create == $.trim(term) || name_cat_parent_edit == $.trim(term)) {
                            return "<span>{{ select2_notice_category_exist }}</span>";
                        }

                        let flag = false;
                        $('.child-categories .select2-categories').each(function () {
                            if ($(this).val() == null) {
                                return;
                            }
                            if ($(this).val() == $.trim(term)) {
                                flag = true;
                                return false;

                            }
                        });

                        if (flag) {
                            return "<span>{{ select2_notice_category_exist }}</span>";
                        }

                        {#return "<span>{{ select2_notice_not_result }}</span>";#}

                        return "<span class='add-option' " +
                            "onclick='addCategory()'>" +
                            "<i class='fa fa-plus-circle'></i> " +
                            "" + ' {{ text_popup_add_category_of_select2 }} ' + " '"+ $.trim(term) +"'</span>";
                    } else {
                        return "<span>{{ text_popup_enter_new_category }}</span>";
                    }
                },
                "searching": function () {
                    $(dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=catalog/product/getCategoryLazyLoadClassify&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    if (check_cate != '') {
                        params.term = check_cate;
                        check_cate = '';
                    }
                    var current_name = jQuery('#edit input[name="name"]').val();
                    var current_id = (jQuery('#edit input[name="id"]').val()) ? jQuery('#edit input[name="id"]').val() : '';
                    var categories_selected = [];
                    var val_this = $(this).val();
                    var this_parent = $(this).parent().parent();

                    this_parent.find('.select2-categories').each(function () {
                        if (categories_selected.indexOf($(this).val()) < 0 && $(this).val() != val_this && $(this).val() != null) {
                            categories_selected.push($(this).val());
                        }
                    });

                    if (current_name != '') {
                        categories_selected.push(current_name);
                    }
                    var condition = {
                        filter_name: params.term,
                        current_name: current_name,
                        current_id: current_id,
                        categories_selected: categories_selected,
                        page: params.page || 1
                    };

                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    if (data.count == 0) {
                        data.results = [];
                    }

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($(dropdown +' .help-block').length > 0) {
                $(dropdown +' .help-block').remove();
            }
        });
    });

    $("#filter").on('click', function () {
        var category_id = $('#filterCategory').find(':selected').data('custom-attribute') ? $('#filterCategory').find(':selected').data('custom-attribute') : null;
        var filter_name = $("input[name*='search']").val();
        listProductPopup(0, filter_name, category_id);
    });

    $("#clear").on('click', function () {
        $("input[name*='search']").val("");
        $("#filterCategory").val("").trigger('change');
        listProductPopup(0);
    });

    // date time
    {% if discount_is_deleted %}
        $("#discount-form :input").prop("disabled", true);
    {% endif %}

    moment.lang('vi', {
        week: {
            dow: 1 // Monday is the first day of the week
        }
    });

    // max today is 13 col in chart for each point stands for 2h
    var start = moment();
    var end = moment();

    {% if time_start_at is defined and time_start_at != '' and time_start_at != '0000-00-00 00:00:00' %}

    start = moment('{{ time_start_at }}');
    end = moment('{{ time_start_at }}');

    {% endif %}

    {% if time_end_at is defined and time_end_at != '' and time_end_at != '0000-00-00 00:00:00' %}

    end = moment('{{ time_end_at }}');

    {% endif %}

    {% if discount_id is defined and discount_id != '' %}

    $('#start_at').val(start.format("DD-MM-YYYY HH:mm:ss"));
    $('#end_at').val(end.format("DD-MM-YYYY HH:mm:ss"));

    {% else %}

    $('#start_at').val("");
    $('#end_at').val("");

    {% endif %}

    $('#start_at').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        timePicker: true,
        timePickerSeconds: false,
        timePicker24Hour: true,
        startDate: start,
        opens: 'left',
        startOfWeek: 'monday',
        firstDay: 1,
        locale: {
            format: "DD-MM-YYYY HH:mm:ss",
            separator: " - ",
            applyLabel: "{{ button_apply }}",
            cancelLabel: "{{ button_cancel }}",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        }
    }, function (_start, _end) {
        //start = _start;
        //end = _end;
    });

    $('#start_at').on('apply.daterangepicker', function(ev, picker) {
        $('#start_at').val(picker.startDate.format("DD-MM-YYYY HH:mm:ss"));
    });

    $('#end_at').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        timePicker: true,
        timePickerSeconds: false,
        timePicker24Hour: true,
        startDate: end,
        opens: 'left',
        startOfWeek: 'monday',
        firstDay: 1,
        locale: {
            format: "DD-MM-YYYY HH:mm:ss",
            separator: " - ",
            applyLabel: "{{ button_apply }}",
            cancelLabel: "{{ button_cancel }}",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        }
    }, function (_start, _end) {
        //start = _start;
        //end = _end;
    });

    $('#end_at').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format("DD-MM-YYYY HH:mm:ss"));
    });

    // end date time

    // boostrap validation
    // validate form
    $('#discount-form').bootstrapValidator({
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: '{{ validate_name_empty }}'
                    },
                    stringLength: {
                        max: 255,
                        min: 1,
                        message: '{{ validate_name_length_255 }}'
                    },
                    callback: {
                        message: '{{ validate_special_char }}',
                        callback: function (value, validator) {
                            var pattern = /^[\\\sa-zA-Z0-9àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ-]+$/;
                             if (value.length > 0 && !pattern.test(value)) {
                                 return false;
                             }
                            return true;
                        }
                    }

                }
            },
            description: {
                validators: {
                    callback: {
                        message: '{{ validate_special_char }}',
                        callback: function (value, validator) {
                            var pattern = /^[\\\sa-zA-Z0-9àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ-]+$/;
                             if (value.length > 0 && !pattern.test(value)) {
                                 return false;
                             }
                            return true;
                        }
                    }

                }
            },
            end_at:{
                validators: {
                    callback:{
                        message: '{{ validate_discount_end_at }}',
                        callback: function () {
                            var time_start = new Date($('#start_at').val());
                            var time_end = new Date($('#end_at').val());

                            if (time_end < time_start){
                                return false;
                            }

                            return true;
                        }
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    }).on('submit', function (e) {
        var on_submit = true;
        $(".text-danger:visible").each(function () {
            if ($.trim($(this).text()) != ''){
                on_submit = false;
                return;
            }
        });

        $(".text-errors:visible").each(function () {
            if ($.trim($(this).text()) != ''){
                on_submit = false;
                return;
            }
        });

        if (!on_submit){
            e.preventDefault();
            $('#form-submit').prop('disabled', false);
        }
    });

    const perPage = 25;
    var currentPage = 1;
    var selectedPopup = [];
    var dataProductOnPagePopup = [];

    $('#clickChooseProductOnSite').on('click', function () {
        listProductPopup();
        getSelected();
    });

    function listProductPopup(start = 0, filter_name = "", category_id = "") {
        $.ajax({
            url: '{{ listProductPopup|raw }}'.replace(/&amp;/g, '&'),
            type: 'get',
            data: {
                filter_name: filter_name,
                category_id: category_id,
                start: start,
                limit: perPage
            },
            dataType: 'json',
            beforeSend: function() {
                $('#image-loading').show();
            },
            complete: function() {
                $('#image-loading').hide();
            },
            success: function(json) {
                if (json && Object.keys(json).length > 0) {
                    $('#image-loading').hide();
                    // tbody
                    if (json.results) {
                        buildHtmlPopup(json.results);
                    }
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        var urlPaginate = '{{ listProductPopup|raw }}'.replace(/&amp;/g, '&');
        if (filter_name) {
            urlPaginate = urlPaginate + "&filter_name="+filter_name;
        }

        if (category_id) {
            urlPaginate = urlPaginate + "&category_id="+category_id;
        }

        $('#productList').pagination({
            dataSource: urlPaginate,
            locator: 'results',
            totalNumberLocator: function(response) {
                return response.total;
            },
            pageSize: perPage,
            ajax: {
                beforeSend: function() {
                    $('#image-loading').show();
                },
                complete: function() {
                    $('#image-loading').hide();
                }
            },
            callback: function(data, pagination) {
                dataProductOnPagePopup = data;
                buildHtmlPopup(data);
                watchSelectedProduct();
            }
        })
    }

    function buildHtmlPopup(data) {
        let html = '';

        // clear first
        $('#tableChooseProduct table tbody').html('');

        if ( data.length == 0) {
            html ="<p class='no-result'>Không tìm thấy kết quả !</p>";
            $('#tableChooseProduct table tbody').append(html);
            return;
        }
        for (let i = 0; i < data.length; ++i) {
            let productName = data[i].product_name;

            if (data[i].version != '') {
                productName = data[i].product_name +' '+ data[i].version;
            }
            html = html +
                `<tr>
                    <td scope="selectThis" data-id="${data[i].id}">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck${data[i].id}" name="checkThis" value="1">
                            <label class="custom-control-label" for="customCheck${data[i].id}"></label>
                        </div>
                    </td>
                    <td class="pl-0">
                        <img width="68" height="68" src="${data[i].image}" alt="${data[i].product_name}">
                    </td>
                    <td class="pl-0">
                        <p class="mb-0">${productName}</p>
                        <p class="mb-0">${data[i].sku}</p>
                    </td>
                    <td class="text-center">${data[i].price}</td>
                    <td class="text-center">${data[i].quantity}</td>
                </tr>`;
        }

        $('#tableChooseProduct table tbody').append(html);
    }

    $('[scope="selectAll"] input[name="checkAll"]').on('change', function () {
        $('[scope="selectThis"] input[name="checkThis"]').prop('checked', $(this).is(':checked')).change();
    });

    $('#tableChooseProduct').on('change', 'table tbody [scope="selectThis"] input[name="checkThis"]', function () {
        if (!$(this).is(":checked")) {
            $('[scope="selectAll"] input[name="checkAll"]').prop('checked', false);

            let dataId = $(this).closest('[scope="selectThis"]').attr('data-id');
            let indexSelected = selectedPopup.findIndex(({id}) => id == dataId);
            selectedPopup.splice(indexSelected, 1);
        }

        getSelected();
    });

    function watchSelectedProduct() {
        $('[scope="selectThis"] input[name="checkThis"]').each(function () {
            let dataId = $(this).closest('[scope="selectThis"]').attr('data-id');
            let indexProduct = selectedPopup.findIndex(({id}) => id == dataId);
            if (indexProduct < 0) {
                $('[scope="selectAll"] input[name="checkAll"]').prop('checked', false);
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        })
    }

    function getSelected() {
        $('[scope="selectThis"] input[name="checkThis"]').each(function () {
            let dataId = $(this).closest('[scope="selectThis"]').attr('data-id');
            let product = dataProductOnPagePopup.find(({id}) => id == dataId);
            let indexSelected = selectedPopup.findIndex(({id}) => id == dataId);

            if ($(this).is(":checked") && product) {
                if (indexSelected < 0) {
                    selectedPopup.push(product);
                }
            }
        })

        let count = selectedPopup.length;

        $('#textConfirm').text(`Đã chọn (${count}) sản phẩm`)
    }

    // on page
    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('#listProduct').on('change', 'tbody [scope="select-this"] input[name="select_this"]', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('Chọn ' + _length + ' sản phẩm');
        }
        getSelectedPage();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function showActionAll(selected) {
        if (selected.length > 0) {
            $('#actionAllProduct').removeClass('d-none');
            $('#actionAllProduct').addClass('d-flex');
        } else {
            $('#actionAllProduct').removeClass('d-flex');
            $('#actionAllProduct').addClass('d-none');

            $('[scope="check-all"] .text').text('');
            $('#listProduct').removeClass('has-selected');
            $('#listProduct .dropdown').removeClass('has-selected');
        }
    }

    function getSelectedPage() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();

        showActionAll(selected);
    }

    /**/
    $(document).ready(function () {
        selectedPopup = JSON.parse('{{ selectedPopup }}');
        genderHtmlFormProduct();
    });

    function genderHtmlFormProduct() {
        // clear first
        $('#product-content table tbody').html('');

        let html = '';
        if (selectedPopup && selectedPopup.length > 0) {
            $('#listProduct').removeClass("d-none");
            for (let i = 0; i < selectedPopup.length; ++i) {
                let productName = selectedPopup[i].product_name;

                if (selectedPopup[i].version != '') {
                    productName = selectedPopup[i].product_name +' '+ selectedPopup[i].version;
                }

                html = html +
                    `<tr id="product-table${selectedPopup[i].id}">
                        <td scope="select-this" data-id="${selectedPopup[i].id}">
                            <label class="checkbox">
                                <input type="checkbox" name="select_this" value="1">
                                    <span></span>
                            </label>
                        </td>
                        <td>
                            <img width="68" height="68" src="${selectedPopup[i].image}" alt="${selectedPopup[i].product_name}">
                        </td>
                        <td>
                            <p class="mb-0">${productName}</p>
                            <p class="mb-0">${selectedPopup[i].sku}</p>
                        </td>
                        <td class="text-center">${selectedPopup[i].price}</td>
                        <td id="priceAfterReduction${selectedPopup[i].id}" class="d-flex justify-content-center">
                            <div class="form-group">
                               <label>Giá sau giảm</label>
                               <div class="input-group">
                                   <input data-id="${selectedPopup[i].id}" type="text" class="form-control number-format-4"
                                          placeholder="Giá sau giảm" data-product-price="${selectedPopup[i].price_real}"
                                          aria-label="Giá sau giảm" aria-describedby="basic${selectedPopup[i].id}"
                                          name="price_after_reduction[]" value="${selectedPopup[i].price_after_reduction}">
                                   <div class="input-group-append">
                                   <span class="input-group-text px-2" id="basic${selectedPopup[i].id}">đ</span>
                                   </div>
                               </div>
                           </div>
                            <span class="my-auto mx-2">Hoặc</span>
                            <div class="form-group">
                               <label>% giảm</label>
                               <div class="input-group">
                                   <input data-id="${selectedPopup[i].id}" type="text" class="form-control"
                                          placeholder="% giảm" data-product-price="${selectedPopup[i].price_real}"
                                          aria-label="% giảm" aria-describedby="basic-2${selectedPopup[i].id}"
                                          name="percent_reduce[]" value="${selectedPopup[i].percent_reduce}">
                                   <div class="input-group-append">
                                   <span class="input-group-text px-2" id="basic-2${selectedPopup[i].id}">đ</span>
                                   </div>
                               </div>
                           </div>
                        </td>
                        <td class="text-center">${selectedPopup[i].quantity}</td>
                        <td class="text-center">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" name="active_status_products[]" class="custom-control-input"
                                    value="${selectedPopup[i].id}"
                                    ${selectedPopup[i].turnOn ? 'checked' : ''}
                                    id="customSwitch${selectedPopup[i].id}">
                              <label class="custom-control-label" for="customSwitch${selectedPopup[i].id}"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0);" data-id="${selectedPopup[i].id}" class="removeProduct"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                <input type="hidden" name="product_ids[]" value="${selectedPopup[i].id}">
                <input type="hidden" name="product_skus[]" value="${selectedPopup[i].sku}">
                `;
            }

            $('#product-content table tbody').html(html);
        }
        else {
            $('#listProduct').addClass("d-none");
        }
    }

    $('#confirmSelected').on('click', function () {
        genderHtmlFormProduct();
    });

    // $('#actionAllProduct #massDiscount').on('keyup', function () {});

    function buildDataMassDiscount () {
        let discount = $('#actionAllProduct #massDiscount').val();
        let percent = parseInt(discount);
        let selectedIds = $('input[name="selected"]').val();
        selectedIds = JSON.parse(selectedIds);
        if (!Array.isArray(selectedIds) && selectedIds.length < 0) {
            return;
        }

        if (isNaN(percent)) {
            $('#actionAllProduct #massDiscount').val('');
            return;
        }

        if (percent == 0) {
            $('#actionAllProduct #massDiscount').val('');
            return;
        } else if (percent > 100) {
            confirmBox("Phần trăm giảm không quá 100%", function (result) {
                if (result) {
                    $('#actionAllProduct #massDiscount').val('');
                    return;
                }
            });
        } else {
            calcDataMassDiscount(percent, selectedIds)
        }
    }

    $('#apply').on('click', function (){
        buildDataMassDiscount();
    });

    $('#delete').on('click', function () {
        let selectedIds = $('#listProduct input[name="selected"]').val();
        selectedIds = JSON.parse(selectedIds);

        if (selectedIds.length == 0) {
            confirmBox("Bạn chưa chọn sản phẩm nào", function (result) {});
            return;
        }

        for (let i = 0; i < selectedIds.length; ++i) {
            removeProduct(selectedIds[i]);
        }
    });

    $('#listProduct').on('keyup', 'tbody input[name="price_after_reduction[]"]', function () {
        let idChange = $(this).data('id');
        let priceProduct = $(this).data('product-price');
        let value = $(this).val();
        value = value.replaceAll(',', '');
        value = parseFloat(value);

        if (value > priceProduct) {
            confirmBox("Giá sau giảm phải nhỏ hơn giá gốc!", function (result) {
                value = '';
                let percent = calcPercentDiscount(priceProduct, value);
                bindingDataPercentReduce(idChange, percent);
                bindingDataPriceAfterReduction(idChange, value);
                return;
            });
        }

        let percent = calcPercentDiscount(priceProduct, value);
        bindingDataPercentReduce(idChange, percent);
    });

    $('#listProduct').on('keyup', 'tbody input[name="percent_reduce[]"]', function () {
        let idChange = $(this).data('id');
        let priceProduct = $(this).data('product-price');
        let value = $(this).val();
        value = value.replaceAll(',', '');
        value = parseFloat(value);

        if (value > 100) {
            confirmBox("Phần trăm giảm không quá 100%", function (result) {
                value = '';
                let price = calcPriceDiscount(priceProduct, value);
                bindingDataPriceAfterReduction(idChange, price);
                bindingDataPercentReduce(idChange, value);
                return;
            });
        }

        let price = calcPriceDiscount(priceProduct, value);
        bindingDataPriceAfterReduction(idChange, price);
    });

    $('#listProduct').on('click', 'tbody .removeProduct', function () {
        let idRemove = $(this).data('id');
        removeProduct(idRemove);
    });

    function removeProduct(idRemove) {
        $('#listProduct').find(`tbody #product-table${idRemove}`).remove();
        let indexProduct = selectedPopup.findIndex(({id}) => id == idRemove);
        selectedPopup.splice(indexProduct, 1);
        genderHtmlFormProduct();
        getSelectedPage();
    }

    function calcDataMassDiscount(percent, productIds) {
        for (let i= 0; i < productIds.length; ++i) {
            let product = selectedPopup.find(({id}) => id == productIds[i]);
            if (product) {
                bindingDataPercentReduce(productIds[i], percent);
                let price = calcPriceDiscount(product.price_real, percent);
                bindingDataPriceAfterReduction(productIds[i], price);
            }
        }
    }

    function calcPriceDiscount(price, percent) {
        if ((percent == '' || isNaN(percent)) && percent != 0) {
            return '';
        }

        if (percent == 0) {
            return number_format(price, 0, '.', ',');
        }

        if (percent == 100) {
            return 0;
        }

        let priceAfterReduction = price - Math.round(price * percent / 100);
        return number_format(priceAfterReduction, 0, '.', ',');
    }

    function calcPercentDiscount(price, discount) {
        if ((discount == '' || isNaN(discount)) && discount != 0) {
            return '';
        }

        if (discount == 0) {
            return 100;
        }

        let amount = price - discount;
        let percent = Math.round(amount / price * 100);

        if (amount == 0) {
            return 0;
        }

        return percent;
    }

    function bindingDataPercentReduce(id_product, percent) {
        $(`#listProduct #priceAfterReduction${id_product} input[name="percent_reduce[]"]`).val(percent);
    }
    function bindingDataPriceAfterReduction(id_product, price) {
        $(`#listProduct #priceAfterReduction${id_product} input[name="price_after_reduction[]"]`).val(price);
    }

    $(document).keypress(function (event) {
        if (event.which == 13) {  // enter
            event.preventDefault();
        }
    });
</script>
{{ footer }}