{% if discount_type == 4 %}
    <div class="4-box box-method" style="display: block;">
        <div id="for_category_product" class="tab-pane active">
            <hr/>
            <div class="col-12 col-lg-12">
                <div class="form-group row category-select">
                    <div class="col-sm-6">
                        <select class="form-control select2-manufacturer" multiple="" {% if config[0]['all_manufacturer'] and config[0]['all_manufacturer'] == 1 %} disabled {% endif %} name="manufacturer[]"
                                data-placeholder="{{ txt_search_manufacturer }}">
                            {% for ms in manufacturers_selected %}
                                <option value="{{ ms.id }}" selected>{{ ms.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="select-2-dropdown-manufacturer"></div>
                    </div>
                    <div class="col-sm-6">
                        {% if type_user == "Admin" %}
                        <div class="custom-control custom-checkbox pt-2">
                                {% if config[0]['all_manufacturer'] and config[0]['all_manufacturer'] == 1 %}
                                    <input type="checkbox" name="all_manufacturer" value="1" checked class="custom-control-input" id="all_manufacturer">
                                {% else %}
                                    <input type="checkbox" name="all_manufacturer" value="1" class="custom-control-input" id="all_manufacturer">
                                {% endif %}
                            <label class="custom-control-label" for="all_manufacturer">{{ txt_all_manufacturer }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="message-manufacturer" data-message="">
                <div class="row mb-2 title_total_order">
                    <span class="col-2">{{ txt_manufacturer }}</span>
                    <span class="col-2">{{ text_minimum_number }}</span>
                    <span class="col-2">{{ text_maximum_number }}</span>
                    <span class="col-5">{{ text_order_value_discount }}</span>
                    <span class="col-1">&nbsp;</span>
                </div>
                <div id="modal_repeater_manufacturer">
                    {% for k, configs in config %}
                        <div data-repeater-list="location-manufacturer" id="modal_repeater_manufacturer{% if config[0]['all_manufacturer'] == 1 %}all{% endif %}">
                            <div id="append-manufacturer{{ configs['manufacturer_id'] }}" class="append-manufacturer" manufacturer-id="{{ configs['manufacturer_id'] }}">
                                {% for key, condition in configs['conditions'] %}

                                    <div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_manufacturer{{ configs['manufacturer_id'] }}-{{ key }}">
                                        <div class="col-2 weight-wrap" id="title_category_product{{ configs['manufacturer_id'] }}">
                                            {% if key == 0 %}
                                                <label>{{ configs['manufacturer_name'] }}</label>
                                            {% endif %}
                                            <input type="hidden" name="manufacturer_id[]" value="{{ configs['manufacturer_id'] }}" class="form-control number-max-7" aria-describedby="button-addon4" maxlength="10">
                                        </div>
                                        <div class="col-2 weight-wrap form-group">
                                            <input type="text" readonly name="min_quantity[{{ configs['manufacturer_id'] }}][{{ key }}][]" value="{{ condition['min_quantity'] }}" class="form-control quantity_from number-format-4" aria-describedby="button-addon4" maxlength="3">
                                        </div>
                                        <div class="col-2 weight-wrap form-group">
                                            <input type="text" name="max_quantity[{{ configs['manufacturer_id'] }}][{{ key }}][]" value="{{ condition['max_quantity'] }}"
                                                   class="form-control quantity_to number-format-4" manufacturer-id="{{ configs['manufacturer_id'] }}" step-position="{{ key }}"
                                                   aria-describedby="button-addon4" maxlength="10">
                                        </div>
                                        <div class="col-5 price-wrap form-group">
                                            <div class="input-group quantity-warehouse-product col-12 p-0">
                                                <div class="input-group-prepend position-group{{ configs['manufacturer_id'] }}-{{ key }}" id="button-addon4">
                                                    <div class="radio-select btn btn-default">
                                                        <input type="radio" class="radio-custom" name="type_manufacturer[{{ configs['manufacturer_id'] }}][{{ key }}][]" id="add-manufacturer{{ configs['manufacturer_id'] }}{{ key }}" value="price" {% if condition['type'] == 'price' %} checked="" {% endif %}>
                                                        <label class="font-weight-normal m-0 align-self-center" data-position="{{ configs['manufacturer_id'] }}{{ key }}" for="add-manufacturer{{ configs['manufacturer_id'] }}{{ key }}">đ</label>
                                                    </div>

                                                    <div class="radio-select btn btn-default">
                                                        <input type="radio" class="radio-custom" name="type_manufacturer[{{ configs['manufacturer_id'] }}][{{ key }}][]" id="set-manufacturer{{ configs['manufacturer_id'] }}{{ key }}" value="percent" {% if condition['type'] == 'percent' %} checked="" {% endif %}>
                                                        <label class="font-weight-normal m-0" data-position="{{ configs['manufacturer_id'] }}{{ key }}" for="set-manufacturer{{ configs['manufacturer_id'] }}{{ key }}">%</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="text" name="quantity_manufacturer[{{ configs['manufacturer_id'] }}][{{ key }}][]" value="{{ condition['discount'] }}" class="form-control number-format-4 quantity-value"
                                                           data-manufacturer-id="{{ configs['manufacturer_id'] }}" data-position="{{ key }}" aria-describedby="button-addon4" maxlength="7">
                                                </div>
                                            </div>
                                            <p id="error-percent{{ configs['manufacturer_id'] }}{{ key }}" class="font-14 font-italic text-errors mb-2"></p>
                                        </div>
                                        <div class="col-1 price-wrap">
                                            <a data-repeater-manufacturer="" class="text-dark float-right mt-2 delete_total_order" manufacturer-id="{{ configs['manufacturer_id'] }}" data-id="{{ configs['manufacturer_id'] }}-{{ key }}">
                                                <img src="{{ icon_delete }}">
                                            </a>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>

                        <a data-repeater-create href="javascript:;" class="text-pink mt-4 d-table repeater-manufacturer repeater-manufacturer{% if config[0]['all_manufacturer'] == 1 %}all{% endif %} for-deleted{{ configs['manufacturer_id'] }}" manufacturer-id="{{ configs['manufacturer_id'] }}"><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="4-box box-method">
        <div id="for_category_product" class="tab-pane active">
            <hr/>
            <div class="col-12 col-lg-12">
                <div class="form-group row category-select">
                    <div class="col-sm-6">
                        <select class="form-control select2-manufacturer" multiple="" name="manufacturer[]"
                                data-placeholder="{{ txt_search_manufacturer }}">
                        </select>
                        <div class="select-2-dropdown-manufacturer"></div>
                    </div>
                    <div class="col-sm-6">
                        {% if type_user == "Admin" %}
                        <div class="custom-control custom-checkbox pt-2">
                            <input type="checkbox" name="all_manufacturer" value="1" class="custom-control-input" id="all_manufacturer">
                            <label class="custom-control-label" for="all_manufacturer">{{ txt_all_manufacturer }}</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="message-total-order" data-message="">
                <div class="row mb-2 title_total_order">
                    <span class="col-2">{{ txt_manufacturer }}</span>
                    <span class="col-2">{{ text_minimum_number }}</span>
                    <span class="col-2">{{ text_maximum_number }}</span>
                    <span class="col-5">{{ text_order_value_discount }}</span>
                    <span class="col-1">&nbsp;</span>
                </div>
                <div id="modal_repeater_manufacturer"></div>
            </div>
        </div>
    </div>
{% endif %}

<style type="text/css">
    .manufacturer-select .select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected]::before {
        display: none;
    }

    .manufacturer-select .select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected=true]::after {
        display: none;
    }

    .manufacturer-select .select2-selection__choice{
        display: none;
    }

    .manufacturer-select .select2-results__option {
        padding-left: 15px;
    }
</style>

<script>
    //manufacturer
    $('select.select2-manufacturer').select2({
        // theme: 'bootstrap4',
        theme: 'bootstrap4',
        dropdownParent: $('.select-2-dropdown-manufacturer'),
        containerCssClass: 'col',
        closeOnSelect: false,
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        ajax: {
            url: "index.php?route=catalog/product/getManufacturerLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    }).on('select2:open', function (e) {
    });

    // bind old config to select2 or option "all"
    var selectedManufacturersData = {{ manufacturers_selected | json_encode }};
    var currentDiscountConfig = {{ config | json_encode }};
    if ($.isArray(currentDiscountConfig)) {
        var isAllManufacturers = false;
        currentDiscountConfig.forEach(function (c) {
            if (c && c['all_manufacturer'] == 1) {
                isAllManufacturers = true;
                return;
            }
        });
    }


    $('.select2-manufacturer').on('select2:select', function(e) {
        var newCheckedCategory = e.params.data;
        if (!newCheckedCategory) {
            return;
        }

        var data_text = newCheckedCategory.text;
        var data_id = newCheckedCategory.id;

            $('#title_category_product' + data_id + ' label').text(data_text);
            var html_total_order = '\n' +
                ' <div id="append-manufacturer' + data_id + '" class="append-manufacturer" manufacturer-id="' + data_id + '">\n' +
                ' <div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_manufacturer' + data_id + '-0">\n' +
                '     <div class="col-2 weight-wrap" id="title_category_product' + data_id + '">\n' +
                '         <label>' + data_text + '</label>\n' +
                '         <input type="hidden" name="manufacturer_id[]" value="' + data_id + '" class="form-control number-max-7" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="min_quantity[' + data_id + '][0][]" class="form-control quantity_from number-format-4" aria-describedby="button-addon4" maxlength="3">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="max_quantity[' + data_id + '][0][]" class="form-control quantity_to number-format-4" manufacturer-id="'+ data_id +'" step-position="0" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-5 price-wrap form-group">\n' +
                '         <div class="input-group quantity-warehouse-product col-12 p-0">\n' +
                '             <div class="input-group-prepend position-group' + data_id + '-0" id="button-addon4">\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_manufacturer[' + data_id + '][0][]" id="add-manufacturer' + data_id + '" value="price" checked="">\n' +
                '                     <label class="font-weight-normal m-0 align-self-center" data-position="' + data_id + '0" for="add-manufacturer' + data_id + '">đ</label>\n' +
                '                 </div>\n' +
                '\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_manufacturer[' + data_id + '][0][]" id="set-manufacturer' + data_id + '" value="percent">\n' +
                '                     <label class="font-weight-normal m-0" data-position="' + data_id + '0" for="set-manufacturer' + data_id + '">%</label>\n' +
                '                 </div>\n' +
                '             </div>\n' +
                '             <div>\n' +
                '       <input type="text" name="quantity_manufacturer[' + data_id + '][0][]" data-manufacturer-id="' + data_id + '" data-position="0" class="form-control number-format-4 quantity-value"  aria-describedby="button-addon4" maxlength="7">\n' +
                '             </div>\n' +
                '         </div>\n' +
                '<p id="error-percent'+ data_id +'0" class="font-14 font-italic text-errors mb-2"></p>'+
                '     </div>\n' +
                '     <div class="col-1 price-wrap">\n' +
                '         <a data-repeater-manufacturer="" class="text-dark float-right mt-2 delete_total_order" manufacturer-id="' + data_id + '" data-id="' + data_id + '-0">\n' +
                '             <img src="{{ icon_delete }}">\n' +
                '         </a>\n' +
                '     </div>\n' +
                ' </div>\n' +
                '\n' +
                ' </div>\n' +
                ' \n' +
                ' <a data-repeater-create="" href="javascript:;" class="text-pink mt-4 d-table repeater-manufacturer repeater-manufacturer' + data_id + '0" manufacturer-id="' + data_id + '" ><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>';

        $("#modal_repeater_manufacturer").append(html_total_order);
        addFieldVaildateEmpty('min_quantity[' + data_id + '][0][]', '{{ error_min_quantity_more_than_0 }}');
        addFieldVaildateEmpty('max_quantity[' + data_id + '][0][]', '{{ error_max_quantity_more_than_0 }}');
        addFieldVaildateEmpty('quantity_manufacturer[' + data_id + '][0][]', '{{ error_discount_error_discount_value_0 }}');
    });

    $('.select2-manufacturer').on('select2:unselect', function(e) {
        var newUnCheckedCategory = e.params.data;
        if (!newUnCheckedCategory) {
            return;
        }

        // remove element
        $('#append-manufacturer' + newUnCheckedCategory.id).remove();
        $('#modal_repeater_manufacturer .repeater-manufacturer' + newUnCheckedCategory.id + '0').remove();
    });

    function clearAllSelectedCategories() {
        $('.select2-manufacturer').val(null).trigger('change');
    }

    function validateFormManufacturer(manufacturer_id) {
        var quantity_from = $('#append-manufacturer' + manufacturer_id + ' .quantity_from');
        var flag = true;

        $('#append-manufacturer' + manufacturer_id +' .text-danger').remove();
        quantity_from.each(function () {
            console.log('quantity_to', $(this).closest('.mt-2').find('.quantity_to').val());
            var quantity_to = $(this).closest('.mt-2').find('.quantity_to').val().replace(new RegExp(',', 'g'), '');
            if ($(this).val() < 0 || quantity_to < 1 || $(this).val() == '' || quantity_to == '') {
                $(this).closest('.mt-2').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">{{ error_amount_must_asc }}</div>');
                flag = false;
            } else if (parseInt($(this).val().replace(new RegExp(',', 'g'), '')) >= parseInt(quantity_to)) {
                $(this).closest('.mt-2').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">{{ error_amount_must_asc }}</div>');
                flag = false;
            }
        })
        if (!flag) {
            return false;
        }
        return true;
    }
    var i_m = 1000;

    $('body').on('click', '.repeater-manufacturer', function (e) {
        e.preventDefault();
        var manufacturer_id = $(this).attr('manufacturer-id');
        var quantity_to = [];
        $('#append-manufacturer' + manufacturer_id + ' .quantity_to').each(function () {
            quantity_to.push($(this).val());
        });

        // console.log('quantity_to', '#repeater_category_product' + category_id + '' + i_m + ' .quantity_to');
        var value_next = parseInt(extract_number(quantity_to[quantity_to.length - 1])) + 1;
        value_next = value_next.toLocaleString('en');
        if(validateFormManufacturer(manufacturer_id)) {
            var manufacturer_id = $(this).attr('manufacturer-id');
            var html_total_order = '' +
                '<div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_manufacturer' + manufacturer_id + '-' + i_m + '">\n' +
                '     <div class="col-2 weight-wrap">\n' +
                '         \n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" readonly name="min_quantity[' + manufacturer_id + '][' + i_m + '][]" value="' + value_next + '" class="form-control quantity_from number-format-4" aria-describedby="button-addon4" maxlength="3">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="max_quantity[' + manufacturer_id + '][' + i_m + '][]" class="form-control quantity_to number-format-4" manufacturer-id="' + manufacturer_id + '" step-position="' + i_m + '" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-5 price-wrap form-group">\n' +
                '         <div class="input-group quantity-warehouse-product col-12 p-0">\n' +
                '             <div class="input-group-prepend position-group' + manufacturer_id + '-' + i_m + '" id="button-addon4">\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_manufacturer[' + manufacturer_id + '][' + i_m + '][]" id="add-manufacturer' + manufacturer_id + '' + i_m + '" value="price" checked="">\n' +
                '                     <label class="font-weight-normal m-0 align-self-center" data-position="' + manufacturer_id + '' + i_m + '" for="add-manufacturer' + manufacturer_id + '' + i_m + '">đ</label>\n' +
                '                 </div>\n' +
                '\n' +
                '                     <div class="radio-select btn btn-default">\n' +
                '                         <input type="radio" class="radio-custom" name="type_manufacturer[' + manufacturer_id + '][' + i_m + '][]" id="set-manufacturer' + manufacturer_id + '' + i_m + '" value="percent">\n' +
                '                         <label class="font-weight-normal m-0" data-position="' + manufacturer_id + '' + i_m + '" for="set-manufacturer' + manufacturer_id + '' + i_m + '">%</label>\n' +
                '                     </div>\n' +
                '                 </div>\n' +
                '                 <div>\n' +
                '   <input type="text" name="quantity_manufacturer[' + manufacturer_id + '][' + i_m + '][]" data-manufacturer-id="'+ manufacturer_id +'" data-position="'+ i_m +'" class="form-control number-format-4 quantity-value" aria-describedby="button-addon4" maxlength="7">\n' +
                '                 </div>\n' +
                '             </div>\n' +
                '<p id="error-percent'+ manufacturer_id +'' + i_m + '" class="font-14 font-italic text-errors mb-2"></p>'+
                '         </div>\n' +
                '         <div class="col-1 price-wrap">\n' +
                '             <a data-repeater-manufacturer="" class="text-dark float-right mt-2 delete_manufacturer" manufacturer-id="' + manufacturer_id + '" data-id="' + manufacturer_id + '-' + i_m + '">\n' +
                '                 <img src="{{ icon_delete }}">\n' +
                '             </a>\n' +
                '         </div>\n' +
                '     </div>';
            $('#append-manufacturer' + manufacturer_id + '').append(html_total_order);
            addFieldVaildateEmpty('min_quantity[' + manufacturer_id + '][' + i_m + '][]', '{{ error_min_quantity_more_than_0 }}');
            addFieldVaildateEmpty('max_quantity[' + manufacturer_id + '][' + i_m + '][]', '{{ error_max_quantity_more_than_0 }}');
            addFieldVaildateEmpty('quantity_manufacturer[' + manufacturer_id + '][' + i_m + '][]', '{{ error_discount_error_discount_value_0 }}');

            i_m++;
        }
    });


    $(document).on('click', "[data-repeater-manufacturer]", function () {
        var id = $(this).attr('data-id');
        var manuId = $(this).attr('manufacturer-id');
        $('#repeater_manufacturer' + id + '').remove();
        if($('#repeater_manufacturer' + id + ' .quantity_from').length < 1){
            $('.repeater-manufacturer' + id + '').remove();
        }
        if($('#modal_repeater_manufacturer .quantity_from').length < 1){
            if ($('#append-manufacturer0').children().length === 0) {
                $("#all_manufacturer").prop("checked", false);
                $('#append-manufacturer0').remove();
                $('.select2-manufacturer').prop('disabled', false);
            }

            $('.repeater-manufacturer').remove();
        }

        if ($('#append-manufacturer'+manuId+'').children().length === 0) {
            $('#append-manufacturer'+manuId+'').remove();

            $('select.select2-manufacturer option').each(function(){
                if($(this).val() == manuId){ // EDITED THIS LINE.
                    $(this).prop("selected", false);
                    $('.select2-manufacturer').trigger('change');
                }
            });

            $('.for-deleted'+manuId+'').remove();
        }
    });


    jQuery(document).on('change', '.quantity_to', function () {
        jQuery(this).closest('.align-self-center').next().find('.quantity_from').val(jQuery(this).val());
    });
    $('#all_manufacturer').on('click', function () {
        if($(this).is(':checked')) {
            if ( $('#modal_repeater_manufacturer').children().length > 0 ) {
                if (!confirm("{{ warning_choose_all }}")) {
                    $("#all_manufacturer").prop("checked", false);
                    return;
                }
            }

            $('#discount-form').data('bootstrapValidator').resetForm();
            $(this).val(1);

            var data_id = 0;
            var html_total_order = '\n' +
                ' <div id="append-manufacturer' + data_id + '" class="modal_repeater_manufacturer00 append-manufacturer" manufacturer-id="' + data_id + '">\n' +
                ' <div class="row mt-2 align-self-center align-middle data-repeater-item" id="repeater_manufacturer' + data_id + '-0">\n' +
                '     <div class="col-2 weight-wrap" id="title_manufacturer' + data_id + '">\n' +
                '         <label>Tất cả nhà cung cấp</label>\n' +
                '         <input type="hidden" name="manufacturer_id[]" value="' + data_id + '" class="form-control number-max-7" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text"  name="min_quantity[' + data_id + '][0][]" value="0" class="form-control quantity_from number-format-4" aria-describedby="button-addon4" maxlength="3">\n' +
                '     </div>\n' +
                '     <div class="col-2 weight-wrap form-group">\n' +
                '         <input type="text" name="max_quantity[' + data_id + '][0][]" class="form-control quantity_to number-format-4" manufacturer-id="' + data_id + '" step-position="0" aria-describedby="button-addon4" maxlength="10">\n' +
                '     </div>\n' +
                '     <div class="col-5 price-wrap form-group">\n' +
                '         <div class="input-group quantity-warehouse-product col-12 p-0">\n' +
                '             <div class="input-group-prepend position-group' + data_id +'-0" id="button-addon4">\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_manufacturer[' + data_id + '][0][]" id="add-category' + data_id + '" value="price" checked="">\n' +
                '                     <label class="font-weight-normal m-0 align-self-center" data-position="' + data_id + '0" for="add-category' + data_id + '">đ</label>\n' +
                '                 </div>\n' +
                '\n' +
                '                 <div class="radio-select btn btn-default">\n' +
                '                     <input type="radio" class="radio-custom" name="type_manufacturer[' + data_id + '][0][]" id="set-category' + data_id + '" value="percent">\n' +
                '                     <label class="font-weight-normal m-0" data-position="' + data_id + '0" for="set-category' + data_id + '">%</label>\n' +
                '                 </div>\n' +
                '             </div>\n' +
                '             <div>\n' +
                '                 <input type="text" name="quantity_manufacturer[' + data_id + '][0][]" data-manufacturer-id="' + data_id + '" data-position="0" class="form-control number-format-4 quantity-value" aria-describedby="button-addon4" maxlength="7">\n' +
                '             </div>\n' +
                '         </div>\n' +
                '<p id="error-percent'+ data_id +'0" class="font-14 font-italic text-errors mb-2"></p>'+
                '     </div>\n' +
                '     <div class="col-1 price-wrap">\n' +
                '         <a data-repeater-manufacturer="" class="text-dark float-right mt-2 delete_total_order" manufacturer-id="' + data_id + '" data-id="' + data_id + '-0">\n' +
                '             <img src="{{ icon_delete }}">\n' +
                '         </a>\n' +
                '     </div>\n' +
                ' </div>\n' +
                '\n' +
                ' </div>\n' +
                ' \n' +
                ' <a data-repeater-create href="javascript:;" class="text-pink mt-4 d-table repeater-manufacturer" manufacturer-id="' + data_id + '" ><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>';
            $('.select2-manufacturer').val('[]');

            $('.select2-manufacturer').prop('disabled', 'disabled');
            $('span#select2-manufacturer-gh-container').text('{{ txt_search_manufacturer }}');
            $("#modal_repeater_manufacturer").html(html_total_order);

            clearAllSelectedCategories();

            addFieldVaildateEmpty('min_quantity[' + data_id + '][0][]', '{{ error_min_quantity_more_than_0 }}');
            addFieldVaildateEmpty('max_quantity[' + data_id + '][0][]', '{{ error_max_quantity_more_than_0 }}');
            addFieldVaildateEmpty('quantity_manufacturer[' + data_id + '][0][]', '{{ error_discount_error_discount_value_0 }}');
        }
        else {
            $('.select2-manufacturer').prop('disabled', false);
        }
        if (!$(this).is(':checked')) {
            if (confirm("{{ warning_choose_all }}")) {
                $('#discount-form').data('bootstrapValidator').resetForm();
                $('#modal_repeater_manufacturerall').remove(); // ??????
                $('#modal_repeater_manufacturer00').remove();  // ??????
                $('.modal_repeater_manufacturer00').remove();
                $('.repeater-manufacturerall').remove();
                $('.repeater-manufacturer').remove();

                $(this).val(0);
                clearAllSelectedCategories();
            }else{
                $("#all_manufacturer").prop("checked", true);
            }
        }
    });

    $(document).on('keyup', 'input.quantity-value',function(){
        var manuId = $(this).attr('data-manufacturer-id');
        var position = $(this).attr('data-position');
        var inputRadioValue = $('.position-group'+manuId+'-'+position+'').find('input[type="radio"]:checked').attr('name', 'type_manufacturer['+manuId+']['+position+'][]').val();
        var value = $(this).val();
        value = value.replace(",", "");

        if (inputRadioValue && inputRadioValue == 'percent') {
            if (parseInt(value) > 100) {
                $('#error-percent'+manuId+''+position+'').text('{{ error_discount_type_order_error_value_100 }}');

            } else {
                $('#error-percent'+manuId+''+position+'').text('');
            }
        }
    });

    $(document).on('click', '.font-weight-normal', function () {
        var position = $(this).attr('data-position');
        $('#error-percent'+position+'').text('');
    });

    $(document).on('keyup', 'input.quantity_to',function(){
        var manufacturerId = $(this).attr('manufacturer-id');
        var position = $(this).attr('step-position');
        var valTo = $(this).val().replace(new RegExp(',', 'g'), '');
        // var valFrom = $(this).closest('.mt-2').find('.quantity_from').val().replace(new RegExp(',', 'g'), '');
        var valFrom = $(this).closest('#repeater_manufacturer'+manufacturerId+'-'+position+'').find('.quantity_from').val();

        if (valFrom) {
            valFrom.replace(new RegExp(',', 'g'), '');
        }

        if (parseInt(valTo) < parseInt(valFrom)) {
            $('#repeater_manufacturer'+manufacturerId+'-'+position+' .text-danger').remove();
            $(this).closest('#repeater_manufacturer'+manufacturerId+'-'+position+'').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">{{ error_max_more_min_quantity }}</div>');
        } else {
            $(this).closest('#repeater_manufacturer'+manufacturerId+'-'+position+'').find('.text-danger.error-1').remove();
        }
    });

    // update summary content
    $("body").on('DOMSubtreeModified', "#modal_repeater_manufacturer", function() {
        updateSummaryContentTypeManufacturer();
    });

    $("#modal_repeater_manufacturer").on('change', function() {
        updateSummaryContentTypeManufacturer();
    });

    function updateSummaryContentTypeManufacturer() {
        if ($('#modal_repeater_manufacturer').is(':visible')) {
            let values = $('#modal_repeater_manufacturer .append-manufacturer label:first-child').map(function () {
                return this.innerHTML;
            }).get();
            let txt_value = '';
            let i = 0;
            values.forEach(function (value) {
                if (i > 2){
                    return;
                }

                if (i === 0){
                    txt_value += value;
                } else if(i > 1){
                    txt_value += ', ...';
                } else{
                    txt_value += ', ' + value;
                }
                i ++;
            });
            $('#summary-content').html('{{ text_summary_content_type_manufacturer }}: ' + txt_value);
        }
    }
</script>