{% if discount_type == 1 %}
    <div class="1-box box-method" style="display: block;">
        <div id="for_total_order" class="tab-pane active">
            <div class="message_total_order" data-message="{{ error_discount_type_order_error_count }}">
                <div class="row mb-2 title_total_order">
                    <span class="col-3">{{ text_order_value_from }}</span>
                    <span class="col-4">{{ text_order_value_discount }}</span>
                </div>
                {#<div data-repeater-list="location-rule-weight"  id="modal_repeater_order">#}
                <div id="modal_repeater_order">

                    {% for k, configs in config %}
                        {% for key, condition in configs['conditions'] %}
                            <div class="row mt-4 align-self-center align-middle repeater_order{{ key }}" data-repeater-item >
                                <div class="col-3 weight-wrap">
                                    <input type="text" name="price_order[{{ key }}][]" class="form-control price_order number-format-4" value="{{ condition['value'] }}" aria-describedby="button-addon4" maxlength="10">
                                </div>
                                <div class="col-8 price-wrap form-group">
                                    <div class="input-group quantity-warehouse-product col-12 p-0" data-position="{{ key }}">
                                        <div class="input-group-prepend position-group{{ key }}" id="button-addon4">
                                            <div class="radio-select btn btn-default">
                                                <input type="radio" class="radio-custom" name="type_order[{{ key }}][]" id="add-quantity{{ key }}" value="price" {% if condition['type'] == 'price' %} checked="" {% endif %}>
                                                <label class="font-weight-normal m-0 align-self-center" data-position="{{ key }}" for="add-quantity{{ key }}">đ</label>
                                            </div>

                                            <div class="radio-select btn btn-default">
                                                <input type="radio" class="radio-custom" name="type_order[{{ key }}][]" id="set-quantity{{ key }}" value="percent" {% if condition['type'] == 'percent' %} checked="" {% endif %}>
                                                <label class="font-weight-normal m-0" data-position="{{ key }}" for="set-quantity{{ key }}">%</label>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" name="quantity_value[{{ key }}][]" value="{{ condition['discount'] }}" class="form-control number-format-4 quantity-value" data-position="{{ key }}" aria-describedby="button-addon4" maxlength="7">
                                        </div>
                                    </div>
                                    <span id="error-percent"{{ key }}" class="text-danger position-absolute font-14 font-italic"></span>
                                </div>
                                {% if key > 0 %}
                                    <div class="col-1 price-wrap">
                                        <a class="text-dark float-right mt-2 delete_total_order" data-id="{{ key }}">
                                            <img src="{{ icon_delete }}">
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <a data-repeater-create-order href="#" class="text-pink mt-4 d-table repeater-total-order"><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="1-box box-method">
        <div id="for_total_order" class="tab-pane active">
            <div class="message_total_order" data-message="{{ error_discount_type_order_error_count }}">
                <div class="row mb-2 title_total_order">
                    <span class="col-3">{{ text_order_value_from }}</span>
                    <span class="col-4">{{ text_order_value_discount }}</span>
                </div>
                {#<div data-repeater-list="location-rule-weight" id="modal_repeater_order">#}
                <div id="modal_repeater_order">
                    <div class="row mt-4 align-self-center align-middle repeater_order" data-repeater-item >
                        <div class="col-3 weight-wrap">
                            <input type="text" name="price_order[0][]" class="form-control price_order number-format-4" aria-describedby="button-addon4" maxlength="10">
                        </div>
                        <div class="col-8 price-wrap form-group">
                            <div class="input-group quantity-warehouse-product col-12 p-0" data-position="0">
                                <div class="input-group-prepend position-group0"  id="button-addon4">
                                    <div class="radio-select btn btn-default">
                                        <input type="radio" class="radio-custom" name="type_order[0][]" id="add-quantity" value="price" checked="">
                                        <label class="font-weight-normal m-0 align-self-center" data-position="0" for="add-quantity">đ</label>
                                    </div>

                                    <div class="radio-select btn btn-default">
                                        <input type="radio" class="radio-custom" name="type_order[0][]" id="set-quantity" value="percent">
                                        <label class="font-weight-normal m-0" data-position="0" for="set-quantity">%</label>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="quantity_value[0][]" class="form-control number-format-4 quantity-value" data-position="0" aria-describedby="button-addon4" maxlength="7">
                                </div>
                            </div>
                            <span id="error-percent0" class="text-danger position-absolute font-14 font-italic"></span>
                        </div>
                    </div>

                </div>
                <a data-repeater-create-order href="#" class="text-pink mt-4 d-table repeater-total-order"><i class="far fa-plus-square"></i> {{ text_add_condition }}</a>
            </div>
        </div>
    </div>
{% endif %}

<script>
    {% if discount_type == 1 and config != ''%}
        {% for k, configs in config %}
            {% for key, condition in configs['conditions'] %}
                var j = parseInt({{ key }}+1);
            {% endfor %}
        {% endfor %}
    {% else %}
        var j = 1;
    {% endif %}

    function validate() {
        var append = true;
        var quantity_to = [];
        var result_obj = {append: append, alert_obj: ''};
        var alert_obj = '';
        var max_value = 0;

        if ($('.price_order').length === 0) {
            return result_obj;
        }

        $('.price_order').each(function () {
            var value = extract_number($(this).val());
            quantity_to.push(value);
            if (parseInt(value) <= parseInt(max_value)) {
                append = false;
                alert_obj = '{{ error_discount_type_order_error_value_asc }}';
                result_obj = {append: append, alert_obj: alert_obj};
            }
            max_value = value;
        });
        var value_last = quantity_to[quantity_to.length - 1];

        if (value_last == 0 || value_last == null) {
            append = false;
            alert_obj = '{{ error_discount_type_order_error_value_0 }}';
            result_obj = {append : append, alert_obj : alert_obj};
        }

        return result_obj;
    }

    $('.repeater-total-order').on('click', function (e) {
        e.preventDefault();
        $('.text-danger.error-1').remove();
        var result = validate();
        if(result['append'] == true){
            var html_total_order = '' +
                '<div class="row mt-4 align-self-center align-middle repeater_order' + j + '" data-repeater-item ">\n' +
                '      <div class="col-3 weight-wrap">\n' +
                '          <input type="text" name="price_order[' + j + '][]" class="price_order' + j + ' form-control price_order number-format-4" aria-describedby="button-addon4" maxlength="10">\n' +
                '      </div>\n' +
                '      <div class="col-8 price-wrap form-group">\n' +
                '          <div class="input-group quantity-warehouse-product col-12 p-0" data-position="' + j + '">\n' +
                '              <div class="input-group-prepend position-group'+ j +'" id="button-addon4">\n' +
                '                  <div class="radio-select btn btn-default">\n' +
                '                      <input type="radio" class="radio-custom" name="type_order[' + j + '][]" id="add-quantity' + j + '" value="price" checked="">\n' +
                '                      <label class="font-weight-normal m-0 align-self-center" data-position="' + j + '" for="add-quantity' + j + '">đ</label>\n' +
                '                  </div>\n' +
                '                <div class="radio-select btn btn-default">\n' +
                '                    <input type="radio" class="radio-custom" name="type_order[' + j + '][]" id="set-quantity' + j + '" value="percent">\n' +
                '                    <label class="font-weight-normal m-0" data-position="' + j + '" for="set-quantity' + j + '" >%</label>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div>\n' +
                '                <input type="text" name="quantity_value[' + j + '][]" class="form-control number-format-4 quantity-value" data-position="'+ j +'" aria-describedby="button-addon4" maxlength="7">\n' +
                '            </div>\n' +
                '        </div>\n' +
                '<span id="error-percent'+ j +'" class="text-danger position-absolute font-14 font-italic"></span>'+
                '    </div>\n' +
                '    <div class="col-1 price-wrap">\n' +
                '        <a class="text-dark float-right mt-2 delete_total_order" data-id="' + j + '">\n' +
                '            <img src="{{ icon_delete }}">\n' +
                '        </a>\n' +
                '    </div>\n' +
                '</div>';
            $("#modal_repeater_order").append(html_total_order);

            addFieldVaildateEmpty('price_order[' + j + '][]', '{{ error_discount_type_order_error_value_0 }}');
            addFieldVaildateEmpty('quantity_value[' + j + '][]', '{{ error_discount_error_discount_value_0 }}');
            j++;
        }
        else {
            $(this).append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">' + result.alert_obj + '</div>');
        }
    });

    $(document).on('click', "[data-repeater-order-delete]", function () {
        var id = $(this).attr('data-id');
        $('.repeater_order' + id + '').remove();
    });

    $(document).on('keyup', 'input.quantity-value',function(){
        var position = $(this).attr('data-position');
        var inputRadioValue = $('.position-group'+position+'').find('input[type="radio"]:checked').attr('name', 'type_order['+position+'][]').val();
        var value = $(this).val();
        value = value.replace(",", "");

        if (inputRadioValue && inputRadioValue == 'percent') {
            if (parseInt(value) > 100) {
                $('#error-percent'+position+'').text('{{ error_discount_type_order_error_value_100 }}');

            } else {
                $('#error-percent'+position+'').text('');
            }
        }
    });

    $(document).on('click', '.font-weight-normal', function () {
        var position = $(this).attr('data-position');
        $('#error-percent'+position+'').text('');
    });

    $(document).on('click', '.delete_total_order', function () {
        var self = $(this).parent().parent();
        $(self).remove();
    });

    // function validateForm(priceNew) {
    //     var price_order = $('.price_order');
    //     var flag = true;
    //
    //
    //     price_order.each(function(index, value) {
    //         // console.log('index', index);
    //         // console.log('this', $(this).val());
    //         // console.log('prev', $(this).prev().val());
    //
    //         var price_order = $(this).closest('.col-3').find('.price_order').val();
    //         // console.log('price_order', price_order);
    //         var price_order_hidden = $(this).closest('.col-3').find('.price_order_hidden').val();
    //
    //         // console.log('price_order', price_order);
    //         // var quantity_to = $(this).closest('.col-2').find('.quantity_to').val().replace(new RegExp(',', 'g'), '');
    //         if ($(this).val() < 1 || price_order < 1 || $(this).val() == '') {
    //             $(this).closest('.col-3').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">Số lượng phải lớn hơn 0</div>');
    //             flag = false;
    //         } else if (priceNew < price_order) {
    //             $(this).closest('.col-3').append('<div class="text-danger error-1" style="margin-top: 5px; overflow: hidden; width: 100%">Số lượng dddddddddddddddđ lớn hơn 0</div>');
    //             flag = false;
    //         }
    //     })
    //     if (!flag) {
    //         return false;
    //     }
    //     return true;
    // }


    // update summary content
    $("body").on('DOMSubtreeModified', "#for_total_order", function() {
        updateSummaryContentTypeOrder();
    });

    $("#for_total_order").on('change', function() {
        updateSummaryContentTypeOrder();
    });

    function updateSummaryContentTypeOrder() {
        if ($('#for_total_order').is(':visible')) {
            let first_value = $('#for_total_order .price_order').first().val();
            $('#summary-content').html('{{ text_summary_content_type_order }}: ' + first_value + 'đ');
        }
    }
</script>