{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="sub-head clearfix pb-3">
                    <h1 class="page-title float-left">
                        {{ flash_sale_heading_list }}
                    </h1>
                    {% if access_modify %}
                        <a class="advance-link btn float-right" href="{{ add }}">{{ text_add_list }}</a>
                    {% endif %}
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible mt-2"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible mt-2"><i
                                class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <form class="filter-form order-filter clearfix product-form-validate mb-0"
                              action="{{ action_search }}">
                            <div class="nav nav-tabs" id="discount-form-tab" role="tablist">
                                <div class="col-md-8 pt-4">
                                    <a class="active" data-status="">{{ txt_all }}</a>
                                    <a data-status="{{ STATUS_ACTIVED }}">{{ txt_actived }}</a>
                                    <a data-status="{{ STATUS_UNACTIVED }}">{{ txt_unactived }}</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="row pt-2 pb-2">
                                        <div class="input-group search-group">
                                            <div class="input-group-icon">
                                                <i class="icon icon-search" style="left: 10px; margin-left: 0px;"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ discount_search }}"
                                                       onkeyup="autoComplete(this.value)"
                                                       style="padding-left: 40px;">
                                                <div id="auto-complete-list" class="complete-list d-none"></div>
                                            </div>
                                        </div>
                                    </div> <!-- End row -->
                                </div>
                            </div>
                            <div class="filter-item"></div>
                        </form> <!-- End form filter -->
                    </div>
                    <div class="box-content pt-0">
                        <div class="tab-content">
                            <div id="table-container" class="not-choose-product-list">
                                {% include 'discount/flash_sale_list_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="confirm-product" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" style="display: block">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title text-uppercase" id="confirm-label"></h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default dismiss"
                                data-dismiss="modal">{{ txt_cancel }}</button>
                        <button type="button" class="btn btn-pink btn-danger confirm"
                                data-dismiss="modal">{{ txt_confirm }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="image-loading"></div>
    </div>
</div>

<!-- Modal result action -->
<div class="modal fade" id="result-action" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="font-14 font-weight-500 pl-0" width="120px">{{ text_discount_code }}</th>
                            <th class="font-14 font-weight-500 pl-0">{{ text_discount_name }}</th>
                            <th class="font-14 font-weight-500 pl-0" width="130px">{{ text_discount_result }}</th>
                            <th class="font-14 font-weight-500 pl-0">{{ text_discount_error }}</th>
                        </tr>
                        </thead>
                        <tbody class="font-14"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-border-yellow dismiss"
                        data-dismiss="modal">{{ txt_cancel }}</button>
            </div>
        </div>
    </div>
</div>

<style>
    form.filter-form .search-group .input-group-icon {
        width: 100%;
    }
</style>

<script type="text/javascript">
    var confirm_delete = "{{ product_delete_confirm }}";
    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#table-container').removeClass('not-choose-product-list');
            $('#table-container').addClass('has-choose-product-list');
        } else {
            $('#table-container').removeClass('has-choose-product-list');
            $('#table-container').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }
</script>
<script type="text/javascript">
    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#table-container').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        const url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        const filterName = $('#filter_name').val();
        const status = $('#discount-form-tab').find('.active').attr('data-status');

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filterName,
                page: page,
                filter_status: status
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#table-container').html(html);
                $('#image-loading').hide();
                $('.filter-form #select2-discount_type_id-container').text('{{ choose_filter }}');
            }
        });
    }
</script>
<script type="text/javascript">
    function addOptionSelect2WhenSearch(data, params, type) {
        if (params.page == 1 && params.term != undefined && $.trim(params.term) != '') {
            data.results.unshift({'text': "<span class='add-option' onclick='" + type + "'><i class='fa fa-plus-circle'></i>{{ txt_add }} '" + params.term + "'</span>"});
        }
        for (i = 0; i < data.results.length; i++) {
            if (data.results[i]['text'].toLowerCase() == $.trim(params.term).toLowerCase()) {
                if (params.page == 1) {
                    data.results.shift();
                } else {
                    $('.add-option').parent().remove();
                }
            }
        }
        return data;
    }

    function updateCurrentSelect2(element, datas) {
        element.val(null).trigger('change');
        for (var i = 0; i < datas.length; i++) {
            // if (element.find(" option[value='" + datas[i]['id'] + "']").length == 0) {
            var newOption = new Option(datas[i].title, datas[i].id, true, true);
            element.append(newOption);
            element.trigger('change');
            // }
        }
    }

    $(document).on('click', '[data-status]', function (e) {
        $('[data-status]').removeClass('active');
        $(this).addClass('active');
        filter();
    });

    function autoComplete(value) {
        var url = '{{ auto_complete | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_name: value,
            },
            success: function (result) {
                var html = '';

                if (result && result.length) {
                    result.forEach(function (item) {
                        // html += '<p class="discount-item mb-0 border-bottom">' + item.name + '</p>';
                        html += '<p class="discount-item mb-0 border-bottom">' + item.code + ' - ' + item.name + '</p>';
                    });
                    $('#auto-complete-list').css('border', '0.5px solid #DDE4EB');
                }
                $('#auto-complete-list').removeClass('d-none');
                $('#auto-complete-list').html(html);
            }
        });
    }

    $('#filter_name').click(function () {
        var value = $(this).val();
        autoComplete(value);
    });

    $(window).on('click', function () {
        $('#auto-complete-list').addClass('d-none');
    });

    $(document).on('click', '.discount-item', function (e) {
        var input_name = $(this).html();
        var start = input_name.indexOf('-');
        var end = input_name.length;
        var filter_name = input_name.substr(start + 1, end);
        $('#filter_name').val(filter_name);
        filter();
    });

    /* html class gen by backend */
    $('.action-popup').on('click', function (event) {
        var discounts = [];
        {% if (discounts_action is not null) and (discounts_action is not empty) %}
        discounts = {{ discounts_action }};
        {% endif %}
        var html = '';
        if (discounts.length) {
            for (discount in discounts) {
                var code = discounts[discount].code;
                var name = (discounts[discount].name.length > 75) ? discounts[discount].name.substring(0, 75) + '...' : discounts[discount].name;
                var status = discounts[discount].status;
                var is_active = (status == '{{ text_success }}') ? 'text-yellow' : '';
                var message = (discounts[discount].message.length > 75) ? discounts[discount].message.substring(0, 75) + '...' : discounts[discount].message;
                html += '<tr>\n' +
                    '       <td class="font-weight-bold">' + code + '</td>\n' +
                    '       <td title="' + discounts[discount].name + '">' + name + '</td>\n' +
                    '       <td class="' + is_active + '">' + status + '</td>\n' +
                    '       <td title="' + discounts[discount].message + '">' + message + '</td>\n' +
                    '</tr>';
            }
        } else {
            html += '<tr>\n' +
                '    <td colspan="4" class="font-13 font-weight-500 pl-0">' + '{{ text_no_results }}' + '</td>\n' +
                '  </tr>';
        }
        $("#result-action .modal-body tbody").html(html);

        $("#result-action").modal('show');

        $(".dismiss").on("click", function () {
            $("#result-action").modal('hide');
        });
    });
</script>
{{ footer }}