<table class="table table-with-operation product-list">
    <thead>
    <tr>
        {% if access_modify %}
            <th scope="check-all" width="10">
                <div class="dropdown">
                    <label class="checkbox">
                        <input type="checkbox" name="select_all"
                               data-text-language-choose-all="{{ choose_all_in_filter }}"
                               data-text-language-choose="{{ choose_in_filter }}"
                               data-text-language-item="{{ item_in_filter }}">
                        <input type="hidden" name="selected" class="selected_product">
                        <span></span>
                    </label>
                    <span class="text text-black-50"></span>
                    <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">{{ text_options }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                        <a class="dropdown-item" href="{{ delete }}"
                           id="delete">{{ flash_sale_delete }}</a>
                    </div>
                    <input type="hidden" name="selected" value="">
                </div>
            </th>
        {% endif %}
        <th scope="col">{{ txt_collection_title }}</th>
        <th scope="col">{{ entry_status }}</th>
        <th scope="col" class="text-center">{{ entry_start_at }}</th>
        <th scope="col" class="text-center">{{ entry_end_at }}</th>
        <th scope="col" class="text-center">{{ text_starting_time }}</th>
        <th scope="col" class="text-center">{{ text_ending_time }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if flash_sales %}
        {% for flash_sale in flash_sales %}
            <tr>
                {% if access_modify %}
                    <td scope="select-this" data-id="{{ flash_sale.flash_sale_id }}">
                        <label class="checkbox">
                            <input type="checkbox" name="select_this" value="1">
                            <span></span>
                        </label>
                    </td>
                {% endif %}
                <td>{{ flash_sale.collection_title }}</td>
                <td class="{% if flash_sale.status_id == 1 %}text-muted{% endif %}">{{ flash_sale.status_text }}</td>
                <td class="text-center">{{ flash_sale.starting_date | date("d/m/Y") }}</td>
                <td class="text-center">{{ flash_sale.ending_date | date("d/m/Y") }}</td>
                <td class="text-center">{{ flash_sale.starting_time | date("H:i:s") }}</td>
                <td class="text-center">{{ flash_sale.ending_time | date("H:i:s") }}</td>
                <td>
                    <a href="{{ flash_sale.edit }}" title="{{ text_edit }}">
                        <img style='height: 21px;' src='view/image/custom/icons/edit_classify.png' alt=''>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation">
            {{ pagination }}
        </nav>
    </div>
</div>

<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<!-- End Modal -->
<script type="text/javascript">
    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function () {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });
</script>
<script type="text/javascript">
    $('#delete').on('click', function (event) {
        event.preventDefault();
        var reason = null;
        var deleteUrl = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        var confirm_label = '{{ txt_heading_delete }}';
        var placeholder = '{{ txt_placehold__delete }}';

        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);

        $("#confirm-product").modal('show');
        $("#confirm-product h4").text(confirm_label);
        $("#confirm-product textarea").attr('placeholder', placeholder);

        $("#confirm-product .modal-body textarea").on('keyup', function () {
            reason = $("#confirm-product .modal-body textarea").val();
        });

        $(".confirm").on("click", function () {
            var url = deleteUrl + '&flash_sale_ids=' + selected.join(',') + '&reason=' + reason;
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });
</script>