{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb" class="sub-head-mobile">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href %}
                                <li class="breadcrumb-item "><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>

                {% for warning in error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}

                <form action="{{ action }}" method="post" class="form-step form-fix-head" id="flash-sale-form">
                    <div class="sub-head clearfix fix-on-scroll">
                        <div class="fix-content col">
                            <h1 class="page-title float-left font-18">{{ text_form }}</h1>
                            <button type="submit"
                                    class="btn btn-pink float-right save-customer">{{ button_save }}</button>
                            <a href="{{ cancel }}"
                               class="btn btn-light float-right border bg-white  mr-2">{{ button_cancel }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="box-wrap mb-3">
                                <div class="box-content">
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0" for="date-range-container">{{ text_date_range }} <span
                                                        class="text-danger">*</span></label>
                                            <div id="date-range-container" class="discount-datetime">
                                                <span></span>
                                                <input type="hidden" name="starting_date" value="{{ starting_date }}">
                                                <input type="hidden" name="ending_date" value="{{ ending_date }}">
                                                <input type="hidden" name="starting_time" value="{{ starting_time }}">
                                                <input type="hidden" name="ending_time" value="{{ ending_time }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-2"></div>

                                        <div class="col-12 col-lg-5">
                                            <label class="control-label" for="time_range">{{ text_time_range }}</label>
                                            <div>
                                                <input type="text" maxlength="255" name="time_range" id="time_range" class="form-control" readonly/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0" for="collection_id">{{ text_collection }} <span class="text-danger">*</span></label>
                                            <select class="select2-collection" name="collection_id" id="collection_id" data-placeholder="{{ text_choose_collection }}" data-search="true">
                                                <option value="{{ collection_id }}" selected>{{ collection_title }}</option>
                                            </select>
                                            <div class="select-2-dropdown-collection"></div>
                                            <i class="fa fa-caret-down down-icon"></i>
                                        </div>

                                        <div class="col-lg-2"></div>
                                        
                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0">{{ entry_status }} </label>

                                            <div class="d-flex">
                                                <div class="form-check-inline cus-custom-radio">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="status" {% if status == STATUS_ACTIVED %} checked
                                                               {% endif %}
                                                               value="{{ STATUS_ACTIVED }}"
                                                               class="custom-control-input" id="status1">
                                                        <label class="custom-control-label"
                                                               for="status1">{{ txt_actived }}</label>
                                                    </div>
                                                </div>

                                                <div class="form-check-inline cus-custom-radio">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio"
                                                               name="status" {% if status == STATUS_UNACTIVED %} checked {% endif %}
                                                               value="{{ STATUS_UNACTIVED }}"
                                                               class="custom-control-input" id="status0">
                                                        <label class="custom-control-label"
                                                               for="status0">{{ txt_unactived }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <!-- End Main -->
    </div>
</div>

<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<style>
    .discount-datetime {
        background: #fff;
        cursor: pointer;
        padding: 7px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        width: 100%;
        text-align: left;
        position: relative;
        border-radius: 3px;
    }

    ::placeholder {
        color: #B5B5B5 !important;
    }

    .custom-radio .custom-control-label:before {
        top: 12px;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        top: 16px !important;
    }

    .down-icon {
        position: absolute;
        top: 52px;
        right: 25px;
        opacity: 0.5;
    }

    .customer-groups-select .select2-container .select2-selection--single .select2-selection__clear {
        /*display: none;*/
        background-color: #000;
        margin-top: 0.6rem;
    }

    .form-step .form-group label {
        font-weight: normal;
        color: #495057;
    }

    .custom-radio .custom-control-label {
        color: #212B36 !important;
    }

    .custom-control-label::after {
        top: 13px;
    }

    .select-address .select2-selection__clear {
        display: none;
    }
</style>
<script type="text/javascript">
    //select2 collection
    $('select.select2-collection').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        allowClear: true,
        placeholder: "{{ text_choose_collection }}",
        dropdownParent: $('#flash-sale-form .select-2-dropdown-collection'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            }
        },
        ajax: {
            url: "{{ fetch_collection_url|replace({'&amp;': '&'}) }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                const condition = {
                    filter_name: params.term,
                    collections: $('.select2-collection').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });

    /***** date range  *****/
    moment.locale('vi', {
        week: {
            dow: 1 // Monday is the first day of the week
        }
    });

    const datetimeFormat = 'YYYY-MM-DD HH:mm:ss';
    const dateFormat = 'DD/MM/YYYY';
    const timeFormat = 'HH:mm:ss';

    function showSelectedDateRangeLabel(start, end, label = '{{ options }}') {
        if (start === end) {
            label = '{{ today }}';
        }
        // show time text
        $('#time_range').val(start.format(timeFormat) + ' - ' + end.format(timeFormat));

        const dateFormatCustom = (label === '{{ this_month }}' || label === '{{ last_month }}')
            ? 'MM/YYYY'
            : dateFormat;
        if (label === '{{ this_month }}' || label === '{{ today }}' || label === '{{ yesterday }}' || label === '{{ last_month }}') {
            $('#date-range-container span').html('<i class="fa fa-calendar"></i>&nbsp; &nbsp;' + label + ': ' + start.format(dateFormatCustom) + '<i class="fa fa-caret-down" style="float: right;"></i>');
            return;
        }
        $('#date-range-container span').html('<i class="fa fa-calendar"></i>&nbsp; &nbsp;' + label + ': ' + start.format(dateFormatCustom) + ' - ' + end.format(dateFormatCustom) + '<i class="fa fa-caret-down" style="float: right;"></i>');
    }

    // default date range picker
    const currentMoment = moment();
    const startingDateString = '{{ starting_date }}' + ' ' + '{{ starting_time }}';
    const endingDateString = '{{ ending_date }}' + ' ' + '{{ ending_time }}';
    const startDate = startingDateString.trim() ? moment(startingDateString, datetimeFormat, true) : currentMoment;
    const endDate = endingDateString.trim() ? moment(endingDateString, datetimeFormat, true) : currentMoment;

    showSelectedDateRangeLabel(startDate, endDate);

    $('#date-range-container').daterangepicker({
        opens: 'right',
        alwaysShowCalendars: true,
        autoApply: true,
        startDate: startDate,
        endDate: endDate,
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 1,
        timePickerSeconds: true,
        locale: {
            format: datetimeFormat,
            separator: " - ",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        },
        ranges: {
            '{{ this_month }}': [moment().startOf('month'), endDate],
            '{{ last_month }}': [moment().subtract(1, 'months').startOf('month'), moment().subtract(1, 'months').endOf('month')],
            '{{ today }}': [currentMoment, currentMoment],
            '{{ yesterday }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')]
        }
    }, function (start, end, label) {
        const dateFormat = 'YYYY-MM-DD';
        $('#date-range-container input[name="starting_date"]').val(start.format(dateFormat));
        $('#date-range-container input[name="ending_date"]').val(end.format(dateFormat));
        $('#date-range-container input[name="starting_time"]').val(start.format(timeFormat));
        $('#date-range-container input[name="ending_time"]').val(end.format(timeFormat));
        
        showSelectedDateRangeLabel(start, end, label);
    });

    // VALIDATE
    $("#flash-sale-form").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            starting_date: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                }
            },
            ending_date: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    }
                }
            },
            starting_time: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    }
                }
            },
            ending_time: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    }
                }
            },
            collection_id: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    }
                }
            },
            status: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });
</script>