{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['active'] is defined  %}
                    <span class="breadcrumb-item active">{{ breadcrumb.text }}</span>
                {% else %}
                    <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
<div class="block-cart-page">
    <div class="container">
        {% if order_products is not empty %}
            <div class="block-cart-head">
                <h1 class="header-font">Giỏ hàng</h1>
                <div class="meta">( <span>{{ order['amount'] }}</span> sản phẩm )</div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% include ('default/template/checkout/my_orders_cart_listing_template.twig') %}
            </div>
        </div>
    </div>
</div>
<!-------------------- /.PAGE ELEMENT ---------------------->
{#modal not account#}
{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}

{{ footer }}
<style>
    .text-underline:hover{
        text-decoration: underline!important;
    }
</style>