{% for attribute in attributes %}
    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle main-font" data-toggle="dropdown" href="#">
            <span class="text">{{ attribute.name }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="none">
                <path d="M9.81204 0.175471C9.87163 0.228149 9.9189 0.290706 9.95115 0.359563C9.9834 0.428421 10 0.502229 10 0.576769C10 0.651309 9.9834 0.725117 9.95115 0.793975C9.9189 0.862833 9.87163 0.925388 9.81204 0.978066L5.45895 4.83365C5.39943 4.88638 5.32875 4.92822 5.25095 4.95676C5.17315 4.98531 5.08976 5 5.00554 5C4.92132 5 4.83793 4.98531 4.76013 4.95676C4.68233 4.92822 4.61165 4.88638 4.55213 4.83365L0.199038 0.978067C0.137076 0.925872 0.0875481 0.863227 0.0533722 0.793825C0.0191963 0.724421 0.00106411 0.649665 4.55829e-05 0.573963C-0.000972945 0.49826 0.0151413 0.423142 0.0474403 0.353039C0.0797384 0.282935 0.127567 0.219264 0.188106 0.165778C0.248646 0.112291 0.32067 0.0700726 0.399935 0.0416107C0.479199 0.0131482 0.564101 -0.000980918 0.649633 5.42913e-05C0.735164 0.00108998 0.819597 0.0172695 0.897953 0.0476402C0.976308 0.0780105 1.047 0.121957 1.10587 0.176889L5.00554 3.63117L8.90522 0.176889C8.96463 0.124059 9.03523 0.0821119 9.11297 0.0534459C9.19071 0.0247798 9.27408 0.00995687 9.3583 0.00982526C9.44252 0.00969365 9.52594 0.0242563 9.6038 0.0526786C9.68165 0.0811014 9.75242 0.122827 9.81204 0.175471Z"
                        fill="#202020" fill-opacity="0.82" />
            </svg>
        </a>
        <ul class="dropdown-menu main-font attribute">
            {% for attribute_value in attribute.value %}
                <li><a href="{{ attribute_value.url }}" class="{{ attribute_value.is_active ? 'active' : '' }}">{{ attribute_value.value }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}

<style>
    .attribute-filter-custom {
        max-height: 200px;
        overflow-y: auto;
        padding: 0;
        margin-bottom: 15px;
    }

    .attribute-filter-custom:nth-last-child(2) {
        margin-bottom: 0;
    }

    .attribute-filter-custom li {
        list-style: none;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 9px;
    }

    .attribute-filter-custom li a {
        font-size: 14px;
        line-height: 14px;
        color: #949494;
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        background: #fff;
        display: block;
        padding: 6px 8px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .attribute-filter-custom li a.active {
        font-weight: 500;
    }
</style>
