<!-- use div.child-nav-li-wrapper to nest overflow-y:auto inside overflow-x:visible(default) -->
<ul class="nav child-nav cat-menu cat-menu-in-body {% if 1 == is_on_mobile %}cat-menu-mobile{% endif %}" data-is_on_mobile="{{ is_on_mobile }}">
    {% set category_count = 0 %}
    {% set category_limit = 9 %}
    {# use 'category_count < category_limit + 1' condition to iterate one more category #}
    {% for category in categories if category_count < category_limit + 1 %}
        {% if category.parent_id == 0 %}
            {% set category_count = category_count + 1 %}
            {% if category_count <= category_limit %}
                <li class="nav-item">
                    <a href="{{ category.url }}">
                        <span class="icon">
                            <img src="{{ category.image }}" width="16px" class="icon">
                        </span>
                        {{ category.name }}
                    </a>
                    {% if category.list_sub is not empty %}
                    <ul class="nav child-nav">
                        {% if 0 == is_on_mobile %}<div class="child-nav-li-wrapper">{% endif %}
                            {% for subCategory in category.list_sub %}
                                {% if subCategory.parent_id == category.category_id %}
                                    <li class="nav-item">
                                        <a href="{{ subCategory.url }}">
                                            <span class="icon">
                                                <img src="{{ subCategory.image }}" width="16px" class="icon">
                                            </span>
                                            {{ subCategory.name }}
                                        </a>
                                        {% if subCategory.list_sub is not empty %}
                                        <ul class="nav child-nav {% if 0 == is_on_mobile %}third-level{% endif %}">
                                            {% if 0 == is_on_mobile %}<div class="child-nav-li-wrapper">{% endif %}
                                                {% for sub2Category in subCategory.list_sub %}
                                                    {% if sub2Category.parent_id == subCategory.category_id %}
                                                        <li class="nav-item">
                                                            <a href="{{ sub2Category.url }}">
                                                                <span class="icon">
                                                                    <img src="{{ sub2Category.image }}" width="16px" class="icon">
                                                                </span>
                                                                {{ sub2Category.name }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% if 0 == is_on_mobile %}</div>{% endif %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                    {% if 0 == is_on_mobile %}</div>{% endif %}
                    </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {# show button 'Khác' #}
    {% if category_count > category_limit %}
        <li class="nav-item">
            <a href="{{ url_shop }}">
                <span class="icon">
                    <img src="{{ theme_directory }}/img/icons/3dot.svg" width="16px" class="icon">
                </span>Khác
            </a>
        </li>
    {% endif %}
</ul>

<script>
    // add children class to category menu: in main.js
</script>