<div id="category-filter">
    <div class="menu-side menu-product" id="menu-product" style="-webkit-overflow-scrolling: touch;">
        <ul class="sub-menu">
            {% for category in categories %}
                {% if category.parent_id == 0 %}
                    <li class="nav-item sub-menu-1 {% if category.category_id == category_selected %} selected {% endif %}">
                        <a class="a-normal" title="{{ category.name }}" href="{{ category.url }}">{{ category.name }} <span id="count-product-in-category-{{ category.category_id }}"></span></a>
                    {% if category.list_sub is not empty %}
                        <ul class="sub-menu sub-menu-2">
                            {% for subCategory in category.list_sub %}
                                {% if subCategory.parent_id == category.category_id %}
                                    <li class="{% if subCategory.category_id == category_selected %} selected {% endif %}">
                                        <a class="a-normal" title="{{ subCategory.name }}" href="{{ subCategory.url }}">{{ subCategory.name }}</a>
                                    {% if subCategory.list_sub is not empty %}
                                        <ul class="sub-menu sub-menu-3">
                                            {% for sub2Category in subCategory.list_sub %}
                                                {% if sub2Category.parent_id == subCategory.category_id %}
                                                    <li class="nav-item {% if sub2Category.category_id == category_selected %} selected {% endif %}">
                                                        <a class="a-normal" title="{{ sub2Category.name }}" href="{{ sub2Category.url }}">{{ sub2Category.name }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        $( "#category-filter ul > li:has(li)" ).addClass( "list-item" );
        $( "#category-filter ul > li:has(.selected)" ).addClass( "active" );
        const list = document.querySelectorAll('#category-filter .list-item');

        function accordion(e){
            e.stopPropagation();
            if(this.classList.contains('active')){
                this.classList.remove('active');
            }
            else if(this.parentElement.parentElement.classList.contains('active')){
                this.classList.add('active');
            }
            else{
                for(i=0; i < list.length; i++){
                    list[i].classList.remove('active');
                }
                this.classList.add('active');
            }
        }
        for(i = 0; i < list.length; i++ ){
            list[i].addEventListener('click', accordion);
        }

        $.ajax({
            url: 'index.php?route=common/shop/getCountProductInCategory',
            type: 'get',
            dataType: 'json',
            success: function (response) {
                for(let i in response) {
                    $("#count-product-in-category-" + response[i].category_id).html('(' + response[i].count_product + ')')

                }
            }
        });
    });
</script>