<li>
    <a>Danh mục sản phẩm</a>
    <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
         viewBox="0 0 10 6" fill="none">
        <path
                d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                fill="#25292C" />
    </svg>
    <ul class="sub-menu" aria-labelledby="navbarFeatureMenu">
        {% for category in categories %}
            {% if category.parent_id == 0 %}
                <li class="single-item">
                    <a href="{{ category.url }}">{{ category.name }}</a>
                    <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                         viewBox="0 0 10 6" fill="none">
                        <path
                                d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                fill="#25292C" />
                    </svg>
                    {% if category.list_sub is not empty %}
                    <ul>
                        {% for subCategory in category.list_sub %}
                            {% if subCategory.parent_id == category.category_id %}
                                <li class="single-item">
                                    <a href="{{ subCategory.url }}">{{ subCategory.name }}</a>
                                    <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                         viewBox="0 0 10 6" fill="none">
                                        <path
                                                d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                                fill="#25292C" />
                                    </svg>
                                {% if subCategory.list_sub is not empty %}
                                    <ul>
                                        {% for sub2Category in subCategory.list_sub %}
                                            {% if sub2Category.parent_id == subCategory.category_id %}
                                                <li class="single-item"><a href="{{ sub2Category.url }}">{{ sub2Category.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>

<script>
    $(document).ready(function () {
        $( ".sub-menu > li:has(li)" ).addClass( "list-item" );
        $( ".single-item:has(li)" ).addClass( "list-item" );
        // $( ".sub-menu li:has(.selected)" ).addClass( "active" );
        // const list_category_on_mobile = document.querySelectorAll('.menu-product-mobile .list-item');
        //
        // function accordionOnMobile(e){
        //     e.stopPropagation();
        //     if(this.classList.contains('active')){
        //         this.classList.remove('active');
        //     }
        //     else if(this.parentElement.parentElement.classList.contains('active')){
        //         this.classList.add('active');
        //     }
        //     else{
        //         for(i=0; i < list_category_on_mobile.length; i++){
        //             list_category_on_mobile[i].classList.remove('active');
        //         }
        //         this.classList.add('active');
        //     }
        // }
        // for(i = 0; i < list_category_on_mobile.length; i++ ){
        //     list_category_on_mobile[i].addEventListener('click', accordionOnMobile);
        // }
    });
</script>