<ul class="list-tag" id="tag-filter-custom">
    {% for tag in tags %}
        <li>
            <a href="{{ tag.url }}" class="tag {{ filter_nametag == tag.tag_id ? 'active' : '' }}">{{ tag.name }}</a>
        </li>
    {% endfor %}
</ul>

<style>
    #tag-filter-custom {
        height: 200px;
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }

    #tag-filter-custom li {
        list-style: none;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 9px;
    }

    #tag-filter-custom li a {
        font-size: 14px;
        line-height: 14px;
        color: #949494;
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        background: #fff;
        display: block;
        padding: 6px 8px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
</style>
