.blog-item .blog-title,
/*.pagination .page-item .page-link i,*/ /*dunght - disable this - 20200410*/
.product-item .product-preview a.like-btn,
.blog-item .blog-title,
.product-item .product-price,
.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range,
.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default,
.block-blogs .blog-item .blog-link,
.blog-results .blog-item .blog-info .blog-date,
.blog-results .blog-item .blog-link:hover,
ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active,
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover,
.product-detail .choose-attribute .attr-item input:checked ~ label,
.box-product-filter .block-title,
#price-filter-btn,
.product-item .product-title,
.fourth-color, .fourth-color-hover:hover,
.second-color, .second-color-hover:hover
{
    color: $MAIN_COLOR$;
}
.product-detail .choose-attribute .attr-item input:checked ~ label,
.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default,
.category-menu-header #collapseCategory>ul.nav
{
    border: 1px solid $MAIN_COLOR$;
}
.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range,
#product-info-tab.nav-tabs .nav-link.active, #product-info-tab.nav-tabs .nav-link:focus, #product-info-tab.nav-tabs .nav-link:hover
{
    background: $MAIN_COLOR$ ;
}
.main-bg, .main-bg-hover:hover,
.fourth-bg, .fourth-bg-hover:hover
{
    background-color: $MAIN_COLOR$ ;
}



.main-bg, .main-bg-hover:hover, .fourth-bg, .fourth-bg-hover:hover,
.category-menu-header .main-bg {
    background-color: $BUTTON_COLOR$;
}
.product-item .product-preview a{
    background: $BUTTON_COLOR$;
}
