<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    {{ cssResource }}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/animate.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/awesome.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/header.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/style.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <!-- Bootstrap -->

    {{ jsResource }}
    {#<script src="{{ theme_directory }}/js/jquery.3.3.1.min.js"></script>
    <script src="{{ theme_directory }}/js/popper.min.js"></script>
    <script src="{{ theme_directory }}/js/bootstrap.min.js"></script>
    <script src="{{ theme_directory }}/js/owl.carousel.min.js"></script>
    <script src="{{ theme_directory }}/js/jquery.number.min.js"></script>
    <script src="{{ theme_directory }}/js/main.js"></script>
    <script src="{{ theme_directory }}/js/bootstrap-select.min.js"></script>#}
    <!-- End Bootstrap -->

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="home">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Header -->
<header id="header" class="header block-header">
    {% if notify_bar.visible  == 1 %}
        <!-- Top Header -->
        <div class="header-top bg-third bestme-block-banner-top">
            <div class="container text-center fw-500">
                <a href="{{ notify_bar.url }}" class="text-white static-notify-bar">
                    {{ notify_bar.content }}
                </a>

                <a href="{{ notify_bar.url }}" class="text-white fly-notify-bar">
                    <marquee>{{ notify_bar.content }}</marquee>
                </a>
            </div>
        </div>
        <!-- End: Top Header -->
    {% endif %}

    <!-- Main Header -->
    <div class="fix-content w-100">
        <div class="main-header text-white">
            <div class="container">
                <div class="row d-flex align-content-end">
                    <div class="logo col-6 col-lg-3 order-0 ml-auto px-4 ml-lg-0 px-lg-3">
                        <a href="{{ home }}">
                            <img src="{{ logo }}"
                                 class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                                 title="{{ name }}" alt="{{ name }}">
                        </a>
                    </div>
                    <!-- End logo -->

                    <div class="col-3 col-lg-3 d-flex align-self-center justify-content-end menu-right-header order-lg-2">
                        <div class="dropdown item with-icon d-none d-lg-block">
                            <a href="#" role="button" id="dropdownUser" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" data-offset="-6,8" class="d-flex text-white">
                                <i class="icon icon-user bg-white fz-30 mr-2"></i>
                                <div class="pl-1">
                                    <span class="fz-16 fw-700">
                                        {% if logged_in == '' %}
                                            Tài khoản
                                        {% else %}
                                            {{ logged_user }}
                                        {% endif %}
                                    </span><br>
                                    <span class="fz-12">
                                        {% if logged_in == '' %}
                                            Đăng nhập/Đăng ký
                                        {% else %}
                                            Tài khoản/Đăng xuất
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUser">
                                {% if logged_in == '' %}
                                    <a class="dropdown-item" href="{{ register }}">Đăng Ký</a>
                                    <a class="dropdown-item" href="{{ login }}">Đăng Nhập</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ my_account }}">Tài khoản của tôi</a>
                                    <a class="dropdown-item" href="{{ logout }}">Đăng xuất</a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{{ href_my_orders }}" class="item with-icon cart-icon d-lg-none">
                            <div class="position-relative d-inline-block">
                                <i class="icon icon-cart"></i>
                                <span class="count-cart">
                                    {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                                </span>
                            </div>
                            <span class="fz-12 fw-600 d-none d-lg-block">Giỏ hàng</span>
                        </a>
                    </div>
                    <!-- End menu-right-header -->

                    <div class="col-12 col-lg-5 px-3 px-lg-4 order-lg-1 align-self-center mx-auto">
                        <form class="mx-auto home-search" action="{{ urlserach }}" method="get">
                            <input type="hidden" name="route" value="common/shop">
                            <input type="text" class="form-control rounded-20" placeholder="Tìm kiếm" name="search"
                                   autocomplete="off"/>
                            <button type="submit"></button>
                        </form>
                    </div>
                    <!-- End search box -->
                </div>
                <!-- End row -->
            </div>
            <!-- End container -->
        </div>
        <!-- End: Main Header -->

        <div class="main-menu">
            <div class="container position-relative">
                <div class="d-flex">
                    <nav class="navbar navbar-expand-lg navbar-light p-0 flex-grow-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="icon icon-bar"></i>
                        </button>

                        <div class="collapse navbar-collapse flex-grow-0" id="navbarMainMenu">
                            <i class="fas fa-times-circle close d-lg-none"></i>

                            <ul class="nav navbar-nav">
                                <li class="nav-item user-menu d-block d-lg-none mb-4">
                                    <div class="dropdown item with-icon">
                                        <a href="#" role="button" id="dropdownUserMobile" data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false" data-offset="5,12" class="d-flex">
                                            <i class="icon icon-user fz-30 bg-white"></i>
                                            <div class="pl-2">
                                                <span class="fz-16 fw-700">Tài khoản</span><br>
                                                <span class="fz-12">
                                                    {% if logged_in == '' %}
                                                        Đăng nhập/Đăng ký
                                                    {% else %}
                                                        {{ logged_user }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownUserMobile" style="">
                                            {% if logged_in == '' %}
                                                <a class="dropdown-item" href="{{ register }}">Đăng Ký</a>
                                                <a class="dropdown-item" href="{{ login }}">Đăng Nhập</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ my_account }}">Tài khoản của tôi</a>
                                                <a class="dropdown-item" href="{{ logout }}">Đăng xuất</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item has-child cat-menu-block">
                                    <a type="button" class="nav-link menu-title">
                                        <i class="icon icon-bar "></i>
                                        <span>{{ category_title }}</span>
                                        <span class="toggle d-lg-none"></span>
                                    </a>
                                    {% include 'default/template/common/category_list_template_top_ul_li.twig' %}
                                </li>
                            </ul>

                            <ul class="nav navbar-nav bestme-block-header-menu" id="navbar-menu-items">
                                {% for idx, m in main_menu %}
                                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                        <li class="nav-item">
                                            {# one level #}
                                            <a class="nav-link {{ (result_active_menu == m.url or result_active_menu == m.target_value) ? 'active' : '' }} {{ idx == -1 ? 'active' : '' }}"
                                               href="{{ m.url }}">{{ m.text }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item has-child">
                                            {# two levels #}
                                            <a href="{{ m.url }}" class="nav-link">
                                                {{ m.text }}
                                                <span class="toggle"></span>
                                            </a>
                                            <ul class="nav child-nav">
                                                {% for it in m.items %}
                                                    {% if it.items is defined and it.items|length > 0 %}
                                                        <li class="nav-item">
                                                            <a href="{{ it.url }}">{{ it.text }}<span class="toggle child-toggle"></span></a>
                                                            <ul class="nav child-nav">
                                                                {% for it3 in it.items %}
                                                                    <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                    <!-- End nav -->

                    <!-- Right header in fixed menu -->
                    <div class="menu-right-header ml-auto fz-18 d-none d-lg-flex">
                        <div class="item with-icon show-search-form">
                            <i class="icon icon-search"></i>
                            <form class="home-search" action="{{ urlserach }}" method="get">
                                <input type="hidden" name="route" value="common/shop">
                                <input type="text" class="form-control rounded-20" placeholder="Tìm kiếm" name="search"
                                       autocomplete="off"/>
                                <button type="submit"></button>
                            </form>
                        </div>
                        <div class="dropdown item with-icon ml-3">
                            <a href="#" role="button" id="dropdownUserFixed" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false" data-offset="5,12" class="d-flex">
                                <i class="icon icon-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownUserFixed" style="">
                                {% if logged_in == '' %}
                                    <a class="dropdown-item" href="{{ register }}">Đăng Ký</a>
                                    <a class="dropdown-item" href="{{ login }}">Đăng Nhập</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ my_account }}">Tài khoản của tôi</a>
                                    <a class="dropdown-item" href="{{ logout }}">Đăng xuất</a>
                                {% endif %}
                            </div>
                        </div>
                        <a href="{{ href_my_orders }}" class="item with-icon cart-icon">
                            <div class="position-relative d-inline-block">
                                <i class="icon icon-cart"></i>
                                <span class="count-cart">
                                    {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                                </span>
                            </div>
                            <span class="fz-12 fw-600 d-block">Giỏ hàng</span>
                        </a>
                    </div>
                    <!-- End menu-right-header fixed menu -->
                </div>
            </div>
            <!-- End container -->
        </div>
        <!-- End main-menu -->
    </div>
    <!-- End:  w-100 -->
</header>
<!-- End Header -->