<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Trang thanh toán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css add  -->
    <link rel="stylesheet" href="catalog/view/theme/default/node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/style.css">
    <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/bestme.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/custom.css">
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <!-- javascript -->
    <script src="catalog/view/theme/default/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="catalog/view/theme/default/js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="catalog/view/theme/default/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <script src="catalog/view/theme/default/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="catalog/view/theme/default/node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="catalog/view/theme/default/js/opencart_custom.js"></script>
    <script src="catalog/view/theme/default/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
        .cart-product-info {
            width: 180px;
        }
    </style>
</head>

<body class="home-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<form id="order_preview" action="{{ action }}" method="post">
    <div class="block-pay-page">
        <input type="hidden" name="isset_cart" value="false">
        <div class="block-payment-info">
            <div class="wrap-box">
                <div class="logo">
                    <a href="{{ home_link }}"><img class="img-fluid" src="{{ logo }}" alt="{{ alt }}"></a>
                </div>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{{ href_edit_order }}">Giỏ hàng </a></li>
                    <li class="breadcrumb-item active">Thanh toán</li>
                </ol>
                <!--  -->
                {% if error_phone %}
                    <div class="alert error_phone alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error_phone }}
                    </div>
                {% endif %}
                <div class="alert alert-danger alert-dismissible" id="notice_alert" style="display: none;">
                    <i class="fa fa-exclamation-circle"></i> {{ cannot_stop_unique_payment_method }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <div class="address_form_setting payment-info mb-3">
                    <h5 class="mb-3">Thông tin giao hàng</h5>
                    {% if customer_is_login == true %}
                        <div class="user mb-3">
                            <div class="thumb"><img class="img-fluid"
                                                    src="catalog/view/theme/default/images/userpay.png" alt="">
                            </div>
                            <div class="infor">
                                <a href="#"
                                   class="name">{{ customer_info['lastname'] }} {{ customer_info['firstname'] }}</a>
                                <span class="meta">{{ customer_info['email'] }}</span>
                                <input type="hidden" name="email" value="{{ customer_info['email'] }}">
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-payment">
                        {% if customer_is_login == true %}
                            <div class="form-group mb-3">
                                <div class="bs-select custom_select">
                                    <select class="selectpicker customer_address" name="customer_address"
                                            class="customer_address" {% if customer_info['address'] is empty %} title="Nhập dữ liệu mới" {% else %} title="Địa chỉ" {% endif %}>
                                        {% for address in customer_info['address'] %}
                                            <option data-city = "{{ address['city'] }}" value="{{ address['address_id'] }}" {% if customer_info['address_id'] == address['address_id'] %} selected {% endif %}>{{ address['address_total'] }}</option>
                                        {% endfor %}
                                        <option value="">Thêm địa chỉ mới</option>
                                    </select>
                                    <label for="customer_address">Địa chỉ đã lưu</label>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 mb-2 customer-name">
                                <div class="form-group custom mb-3">
                                    <div class="input-item">
                                        <input type="text" id="fullname" maxlength="60" name="fullname"
                                               value="{{ customer_info['address_default']['fullname'] }}" required/>
                                        <label for="name" class="text-secondary">Họ tên</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2 customer-phone">
                                <div class="form-group custom mb-3">
                                    <div class="input-item">
                                        <input type="text" maxlength="15" id="phone" name="phone"
                                               value="{{ customer_info['address_default']['phone'] }}" required/>
                                        <label for="name" class="text-secondary">Số điện thoại</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group custom mb-4">
                            <div class="input-item full">
                                <input type="text" id="address" maxlength="50" name="address"
                                       value="{{ customer_info['address_default']['address'] }}" required/>
                                <label for="name" class="text-secondary">Địa chỉ</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-s customer-address">
                                <div class="form-group mb-0">
                                    <div class="bs-select">
                                        <select name="city_delivery" id="city_delivery" class="selectpicker"
                                                title="Tỉnh / thành" required>
                                            {% if customer_info['address_default']['city'] is not empty %}
                                                <option selected
                                                        value="{{ customer_info['address_default']['city'] }}">{{ province['name'] }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-s customer-address">
                                <div class="form-group mb-0">
                                    <div class="bs-select">
                                        <select class="selectpicker" title="Quận / huyện" name="district_delivery"
                                                id="district_delivery">
                                            {% if customer_info['address_default']['district'] is not empty %}
                                                <option selected
                                                        value="{{ customer_info['address_default']['district'] }}">{{ district['name'] }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-s customer-address">
                                <div class="form-group mb-0">
                                    <div class="bs-select">
                                        <select title="Phường / xã" class="selectpicker" name="ward_delivery"
                                                id="ward_delivery">
                                            {% if customer_info['address_default']['wards'] is not empty %}
                                                <option selected
                                                        value="{{ customer_info['address_default']['wards'] }}">{{ wards['name'] }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="payment-info mb-3">
                    <h5>Phương thức vận chuyển</h5>
                    <div class="form-radio">
                        <div id="delivery_methods"></div>
                        {#{% for k, delivery_method in delivery_methods %}#}
                        {#<div class="box-radio">#}
                        {#<label class="custom-check">#}
                        {#<input class="input payment_trans_{{ delivery_method['name'] }}" type="radio" value="{{ delivery_method['id'] }}" {% if k==0 %} checked {% endif %} name="payment_trans">#}
                        {#<span>{{ delivery_method['name'] }}</span>#}
                        {#<span class="checkmark"></span>#}
                        {#</label>#}
                        {#<strong class="payment_trans_fee_{{ delivery_method['id'] }}">{{ delivery_method['fee_format'] }}</strong>#}
                        {#</div>#}
                        {#{% endfor %}#}
                    </div>
                </div>
                <!--  -->
                <div class="payment-info mb-5" id="payment-trigger">
                    <h5>Phương thức thanh toán</h5>
                    <div class="form-radio">
                        {% for k,method in payment_methods %}
                            <div class="box-radio">
                                <label class="custom-check">
                                    <input class="input" {{ k == 0 ? 'checked': '' }} type="radio"
                                           value="{{ method.payment_id }}" name="payment_method">
                                    <span class="tip">
                                        {{ method.name }}
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="https://www.w3.org/2000/svg">
                                            <path d="M7.00004 13.4167C10.5439 13.4167 13.4167 10.5438 13.4167 6.99999C13.4167 3.45617 10.5439 0.583328 7.00004 0.583328C3.45621 0.583328 0.583374 3.45617 0.583374 6.99999C0.583374 10.5438 3.45621 13.4167 7.00004 13.4167Z" stroke="#AEAFB0" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M7.00004 4.66666C7.16112 4.66666 7.29171 4.53608 7.29171 4.375C7.29171 4.21391 7.16112 4.08333 7.00004 4.08333C6.83896 4.08333 6.70837 4.21391 6.70837 4.375C6.70837 4.53608 6.83896 4.66666 7.00004 4.66666Z" stroke="#AEAFB0" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M5.83337 6.41666H7.00004V9.91665" stroke="#AEAFB0" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M5.83337 9.91666H8.16671" stroke="#AEAFB0" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M6.79171 4.375C6.79171 4.25994 6.88498 4.16666 7.00004 4.16666C7.1151 4.16666 7.20837 4.25994 7.20837 4.375C7.20837 4.49005 7.1151 4.58333 7.00004 4.58333C6.88498 4.58333 6.79171 4.49005 6.79171 4.375Z" stroke="#AEAFB0"/>
                                        </svg>
                                        <div class="tooltip-guide-absolute">
                                            <p class="mb-0">{{ method.guide }}</p>
                                        </div>
                                    </span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="block-payment-cart">
            <div class="wrap-box">
                <h4 class="title">Đơn hàng (<span>{{ order['amount'] }}</span> sản phẩm)</h4>
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                {% endif %}
                <div class="cart-list-product mb-3">
                    {% for product in order['products'] %}
                        <table class="cart-product-item">
                            <tr class="cart-product w-100">
                                <td class="thumb"><img class="img" src="{{ product['image_url'] }}" alt=""></td>
                                <td class="thumb"><span class="count-cart">{{ product['amount'] }}</span></td>
                                <td class="cart-product-info">
                                    <a class="name header-font" title="{{ product['fullname'] }}"
                                       href="{{ product['url'] }}">{{ product['name']|length > 20 ? product['name']|slice(0, 20) ~ '...' : product['name'] }}</a>
                                    <br>
                                    <span class="small">{{ product['attribute'] }}</span>
                                    {% if product['in_stock'] == false %}
                                        <span style="color: red; font-size: 13px">
                                                Sản phẩm vừa hết hàng
                                            </span>
                                    {% endif %}
                                </td>
                                <td class="price">&nbsp;&nbsp;{{ product['total_formart'] }}</td>
                            </tr>
                        </table>

                    {% endfor %}
                </div>

                {#<div class="block-code">#}
                {#<form action="">#}
                {#<div class="form-group">#}
                {#<input type="text" name="" id="" class="form-control" placeholder="Nhập mã giảm giá"#}
                {#aria-describedby="helpId">#}
                {#<button type="submit" class="btn btn-submit">Áp dụng</button>#}
                {#</div>#}
                {#</form>#}
                {#</div>#}
                <div class="block-cart-total">
                    <div class="item-group">
                        <p class="title-price header-font">Giá sản phẩm:</p>
                        <span class="price price_product_only">{{ order['into_money_format'] }}</span>
                    </div>
                    <div class="item-group">
                        <p class="title-price header-font"> Vận chuyển:</p>
                        <span class="price price_trans_only">{{ order['transport_fee_format'] }}</span>
                        <input type="hidden" id="shipping_fee" name="shipping_fee" value="">
                    </div>
                    {#<div class="item-group">#}
                    {#<p class="title-price header-font">Giảm giá:</p>#}
                    {#<span class="price">24.000 VND</span>#}
                    {#</div>#}
                </div>
                <div class="total-price">
                    <span>Tổng cộng:</span>
                    <strong class="price_total">{{ order['total_money'] }}</strong>
                </div>
                <div class="form-group">
                    <div class="input-item">
                        <textarea class="form-control" name="order_note" rows="2"
                                  placeholder="{{ text_note_placeholder }}"></textarea>
                    </div>
                </div>
                <div class="cart-action">
                    <a href="{{ href_edit_order }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11"
                             fill="none">
                            <path
                                    d="M6.75434 10.7932C6.68059 10.8588 6.59301 10.9108 6.49661 10.9463C6.40021 10.9817 6.29688 11 6.19252 11C6.08817 11 5.98484 10.9817 5.88844 10.9463C5.79203 10.9108 5.70446 10.8588 5.63071 10.7932L0.232896 6.00485C0.159065 5.93938 0.100493 5.86163 0.0605315 5.77605C0.0205696 5.69047 4.72194e-07 5.59874 4.80293e-07 5.50609C4.88392e-07 5.41345 0.0205697 5.32172 0.0605316 5.23614C0.100493 5.15056 0.159065 5.07281 0.232896 5.00734L5.63071 0.218941C5.70378 0.150784 5.79148 0.0963025 5.88865 0.0587087C5.98581 0.0211149 6.09047 0.00117069 6.19645 5.01328e-05C6.30244 -0.00107138 6.4076 0.0166555 6.50575 0.0521837C6.60389 0.0877119 6.69303 0.140323 6.76791 0.206916C6.84279 0.273511 6.9019 0.352737 6.94175 0.439928C6.98159 0.527119 7.00138 0.620511 6.99993 0.714596C6.99848 0.808681 6.97582 0.901557 6.93331 0.987748C6.89079 1.07394 6.82926 1.1517 6.75236 1.21645L1.91636 5.50609L6.75236 9.79574C6.82632 9.86109 6.88504 9.93875 6.92518 10.0243C6.96531 10.1098 6.98606 10.2015 6.98624 10.2941C6.98643 10.3868 6.96604 10.4785 6.92625 10.5642C6.88646 10.6498 6.82804 10.7277 6.75434 10.7932Z"
                                    fill="#B9256A"/>
                        </svg>
                        Quay về giỏ hàng </a>
                    <button type="submit" {% if error %} disabled {% endif %} class="btn btn-payment-success"
                            onclick="">Hoàn tất đơn hàng
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- End content wrapper -->

<script>
    $(document).ready(function () {

        //var addresses = JSON.parse('{{ customers_info_json }}');
        $('.customer_address').on('change', function () {
            address_id_select = $(this).val();
            transport = $('input[name="payment_trans"]:checked').val();
            address_city = $('#city_delivery option').filter(":selected").val();
            var delivery_city = $('.customer_address').find(':selected').attr('data-city');
            // fill new address
            if (address_id_select != '') {
                $('#delivery_methods').show();
                var bootstrapValidator = $('#order_preview').data('bootstrapValidator');
                bootstrapValidator.enableFieldValidators('phone', false);
                bootstrapValidator.enableFieldValidators('address', false);
                bootstrapValidator.enableFieldValidators('city_delivery', false);
                $.ajax({
                    url: 'index.php?route=checkout/order_preview/getJsonOrderInfo',
                    method: 'POST',
                    data: {
                        address_id: address_id_select,
                        address_city: delivery_city,
                        default_delivery: 0
                    },
                    success: function (json) {
                        //update customer info
                        $('#lastname').val(json.customer.lastname);
                        $('#firstname').val(json.customer.firstname);
                        $('#fullname').val(json.customer.lastname + ' ' + json.customer.firstname);
                        $('#phone').val(json.customer.phone);
                        $('#address').val(json.customer.address);
                        //update data delivery
                        $('#city_delivery').html('<option selected value="' + json.province.id + '">' + json.province.name + '</option>').selectpicker('refresh');
                        $('#district_delivery').html('<option selected value="' + json.district.id + '">' + json.district.name_with_type + '</option>').selectpicker('refresh');
                        $('#ward_delivery').html('<option selected value="' + json.wards.id + '">' + json.wards.name_with_type + '</option>').selectpicker('refresh');

                        if (json.province.id != '') {
                            $('#city_delivery').closest('.bootstrap-select').find('.filter-option-inner-inner').html(json.province.name);
                        }
                        if (json.district.id != '') {
                            $('#district_delivery').closest('.bootstrap-select').find('.filter-option-inner-inner').html(json.district.name_with_type);
                        } else {
                            $('#district_delivery').closest('.bootstrap-select').find('.filter-option-inner-inner').html('');
                        }
                        if (json.wards.id != '') {
                            $('#ward_delivery').closest('.bootstrap-select').find('.filter-option-inner-inner').html(json.wards.name_with_type);
                        } else {
                            $('#ward_delivery').closest('.bootstrap-select').find('.filter-option-inner-inner').html('');
                        }
                        //update data payment trans
                        $.each(json.delivery_methods, function (key, delivery) {
                            $('.payment_trans_fee_' + delivery.id).html(delivery.fee_format);
                        });
                        //update total, trans total
                        $('#delivery_methods').html(json.deliveryMethod);
                        if (json.default == 0) {
                            $.each(json.delivery_methods, function (key, delivery) {
                                $('.payment_trans_fee_' + delivery.id).html(delivery.fee_format);
                            });
                            $.each(json.order, function (key, order) {
                                if(key === 0){
                                    $('.price_trans_only').html(order.transport_fee_format);
                                    $('.price_total').html(order.total_money);
                                    $('#shipping_fee').val(order.transport_fee);
                                }
                            });
                        } else {
                            $.each(json.deliveryMethod, function (key, delivery) {
                                if (delivery.order) {
                                    $('.price_trans_only').html(delivery.order.transport_fee_format);
                                    $('.price_total').html(delivery.order.total_money);
                                    $('#shipping_fee').val(delivery.order.transport_fee);
                                }
                            });
                        }
                    }
                });
            }
            else {
                $('#delivery_methods').hide();
                $('.price_trans_only').html(0 + "đ");
            }
        });
        $(document).on('click', 'input[name="payment_trans"]', function () {
            // TODO: chiemnv check address_id_select...
            address_id_select = $('.customer_address option').filter(":selected").val();
            transport = $('input[name="payment_trans"]:checked').val();
            address_city = $('#city_delivery option').filter(":selected").val();
            // fill new address
            $.ajax({
                url: 'index.php?route=checkout/order_preview/getJsonOrderInfo',
                method: 'POST',
                data: {
                    // TODO: chiemnv check address_id_select...
                    address_id: address_id_select ? address_id_select : 0,
                    transport: transport,
                    address_city: address_city,
                    default_delivery: 1
                },
                success: function (json) {
                    if (json.default == 0) {
                        $.each(json.order, function (key, order) {
                            if(key === 0){
                                $('.price_trans_only').html(order.transport_fee_format);
                                $('.price_total').html(order.total_money);
                                $('#shipping_fee').val(order.transport_fee);
                            }
                        });
                    } else {
                        $.each(json.deliveryMethod, function (key, delivery) {
                            if (delivery.order) {
                                $('.price_trans_only').html(delivery.order.transport_fee_format);
                                $('.price_total').html(delivery.order.total_money);
                                $('#shipping_fee').val(delivery.order.transport_fee);
                            }
                        });
                    }
                }
            });
        });

        $('#city_delivery').on('change', function () {
            $('#delivery_methods').show();
            // TODO: chiemnv check address_id_select...
            address_id_select = $('.customer_address option').filter(":selected").val();
            transport = $('input[name="payment_trans"]:checked').val();
            address_city = $('#city_delivery option').filter(":selected").val();
            $.ajax({
                url: 'index.php?route=checkout/order_preview/getJsonOrderInfo',
                method: 'POST',
                data: {
                    // TODO: chiemnv check address_id_select...
                    address_id: address_id_select ? address_id_select : 0,
                    address_city: address_city,
                    default_delivery: 0
                },
                success: function (json) {
                    $('#delivery_methods').html(json.deliveryMethod);
                    $('.price_product_only').html("{{ order['into_money_format'] }}");
                    //$('.price_trans_only').html(0 + "đ");
                    $('.price_total').html("{{ order['into_money_format'] }}");
                    if (json.default == 0) {
                        $.each(json.delivery_methods, function (key, delivery) {
                            $('.payment_trans_fee_' + delivery.id).html(delivery.fee_format);
                        });
                        $.each(json.order, function (key, order) {
                            if(key === 0){
                                $('.price_trans_only').html(order.transport_fee_format);
                                $('.price_total').html(order.total_money);
                                $('#shipping_fee').val(order.transport_fee);
                            }
                        });
                    } else {
                        $.each(json.deliveryMethod, function (key, delivery) {
                            if (delivery.order) {
                                $('.price_trans_only').html(delivery.order.transport_fee_format);
                                $('.price_total').html(delivery.order.total_money);
                                $('#shipping_fee').val(delivery.order.transport_fee);
                            }
                        });
                    }
                }
            });
        });

        address_id_select = $('#city_delivery option').filter(":selected").val();
        address_city = $('#city_delivery option').filter(":selected").val();
        // fill new address
        $.ajax({
            url: 'index.php?route=checkout/order_preview/getJsonOrderInfo',
            method: 'POST',
            data: {
                address_id: address_city,
                address_city: address_city,
                default_delivery: 0
            },
            success: function (json) {
                //update total, trans total
                $('#delivery_methods').html(json.deliveryMethod);
                $('.price_product_only').html("{{ order['into_money_format'] }}");
                $('.price_trans_only').html(0 + "đ");
                $('.price_total').html("{{ order['into_money_format'] }}");
                $.each(json.delivery_methods, function (key, delivery) {
                    $('.payment_trans_fee_' + delivery.id).html(delivery.fee_format);
                });
                if (json.default == 0) {
                    $.each(json.delivery_methods, function (key, delivery) {
                        $('.payment_trans_fee_' + delivery.id).html(delivery.fee_format);
                    });
                    $.each(json.order, function (key, order) {
                        if(key === 0){
                            $('.price_trans_only').html(order.transport_fee_format);
                            $('.price_total').html(order.total_money);
                            $('#shipping_fee').val(order.transport_fee);
                        }
                    });
                } else {
                    $.each(json.deliveryMethod, function (key, delivery) {
                        if (delivery.order) {
                            $('.price_trans_only').html(delivery.order.transport_fee_format);
                            $('.price_total').html(delivery.order.total_money);
                            $('#shipping_fee').val(delivery.order.transport_fee);
                        }
                    });
                }
            }
        });

        {% if customer_info['address'] is empty %}
        /* fill provinces list */
        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
        {% endif %}

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $('select[name="city_delivery"] > option:selected').val();

            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $('select[name="district_delivery"] > option:selected').val();

            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces) {
            var selectDistrictDeliveryEl = $('select[name="district_delivery"]');
            var selectWardDeliveryEl = $('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectDistrictDeliveryEl.html('');
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name_with_type
                    }));
            });
            selectDistrictDeliveryEl.selectpicker('refresh');
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces) {
            var selectWardDeliveryEl = $('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name_with_type
                    }));
            });
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }

        //validate bootstrap
        $("#order_preview").bootstrapValidator({
            group: ".input-item",
            container: null,
            excluded: ':disabled',
            fields: {
                'phone': {
                    validators: {
                        notEmpty: {
                            message: "Vui lòng điền vào trường này."
                        },
                        stringLength: {
                            max: 16,
                            message: 'Số ký tự nhiều nhất là 15'
                        },
                        callback: {
                            message: 'Không đúng định dạng',
                            callback: function (value, validator) {
                                var pattern = /^0[0-9-+]+$|^84[0-9-+]+$|^\+84[0-9-+]+$/;
                                if (value.length > 0 && !pattern.test(value)) {
                                    return false;
                                }
                                return true;
                            }
                        }
                    }
                },
                'fullname': {
                    validators: {
                        notEmpty: {
                            message: "Vui lòng điền vào trường này."
                        },
                        stringLength: {
                            max: 60,
                            message: 'Số ký tự nhiều nhất là 60'
                        },
                        callback: {
                            message: 'Chỉ điền số và chữ',
                            callback: function (value, validator) {
                                var pattern = /[!@#$%\^&*/?<>,.;:'"{}`|[)(+=._-]+$/;
                                if (value.length > 0 && pattern.test(value)) {
                                    return false;
                                }
                                if (value.length === 0 && !'{{ customer_is_login }}') {
                                    return {
                                        valid: false,
                                        message: 'Vui lòng điền vào trường này.'
                                    };
                                }
                                return true;
                            }
                        }
                    }
                },
                'address': {
                    validators: {
                        notEmpty: {
                            message: "Vui lòng điền vào trường này."
                        },
                        stringLength: {
                            max: 50,
                            message: 'Số ký tự nhiều nhất là 50'
                        },
                        callback: {
                            message: 'Định dạng không đúng',
                            callback: function (value, validator) {
                                var pattern = /[!@#$%\^&*/?<>.;:'"{}`|[)(+=._]+$/;
                                if (value.length > 0 && pattern.test(value)) {
                                    return false;
                                }
                                return true;
                            }
                        }
                    }
                },
                'city_delivery': {
                    validators: {
                        notEmpty: {
                            message: "Vui lòng điền vào trường này."
                        },
                    }
                },
                'order_note': {
                    validators: {
                        stringLength: {
                            max: 300,
                            message: 'Số ký tự nhiều nhất là 300'
                        },
                    }
                }
            }
        }).on('valid.bs.validator', function (e, data) {

        });

        //check change address
        updateChooseAddress(jQuery('.customer_address'));
        jQuery('.customer_address').on('change', function () {
            updateChooseAddress(jQuery(this));
        });

        function updateChooseAddress(element) {
            customer_address = element.find('option:selected').val();
            if (customer_address == '' && !$(".error_phone").length) {
                var bootstrapValidator = $('#order_preview').data('bootstrapValidator');
                bootstrapValidator.enableFieldValidators('phone', true);
                bootstrapValidator.enableFieldValidators('address', true);
                bootstrapValidator.enableFieldValidators('city_delivery', true);

                jQuery('.address_form_setting.payment-info input').removeAttr('disabled');
                jQuery('.address_form_setting.payment-info input').closest('.input-item').removeClass('had_address');

                jQuery('.address_form_setting.payment-info #city_delivery').removeAttr('disabled');
                jQuery('.address_form_setting.payment-info #district_delivery').removeAttr('disabled');
                jQuery('.address_form_setting.payment-info #ward_delivery').removeAttr('disabled');
                //reset data
                jQuery('.address_form_setting.payment-info input').val('');

                jQuery('.address_form_setting.payment-info #city_delivery').html('<option selected value="">Tỉnh / thành</option>');
                jQuery('.address_form_setting.payment-info #district_delivery').html('<option selected value="">Quận / huyện</option>');
                jQuery('.address_form_setting.payment-info #ward_delivery').html('<option selected value="">Phường / xã</option>');
                //update new data + refresh
                var url = "{{ href_get_province }}";

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (data) {
                        fillProvincesList(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                jQuery('.address_form_setting.payment-info #city_delivery').selectpicker('refresh');
                jQuery('.address_form_setting.payment-info #district_delivery').selectpicker('refresh');
                jQuery('.address_form_setting.payment-info #ward_delivery').selectpicker('refresh');

            } else if ($(".error_phone").length || customer_address == undefined) {
                var bootstrapValidator = $('#order_preview').data('bootstrapValidator');
                bootstrapValidator.enableFieldValidators('phone', true);
                bootstrapValidator.enableFieldValidators('address', true);
                bootstrapValidator.enableFieldValidators('city_delivery', true);

                jQuery('.address_form_setting.payment-info input').removeAttr('disabled');
                jQuery('.address_form_setting.payment-info input').closest('.input-item').removeClass('had_address');

                jQuery('.address_form_setting.payment-info #city_delivery').removeAttr('disabled');
                jQuery('.address_form_setting.payment-info #district_delivery').removeAttr('disabled');
                jQuery('.address_form_setting.payment-info #ward_delivery').removeAttr('disabled');
                //update new data + refresh
                var url = "{{ href_get_province }}";

                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (data) {
                        fillProvincesList(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            } else {
                //TODO 7-4 has remove if conflict please request before change
                jQuery('.address_form_setting.payment-info input').attr('disabled', 'disabled');
                jQuery('.address_form_setting.payment-info input').closest('.input-item').addClass('had_address');
                jQuery('.address_form_setting.payment-info #city_delivery').attr('disabled', 'disabled');
                jQuery('.address_form_setting.payment-info #district_delivery').attr('disabled', 'disabled');
                jQuery('.address_form_setting.payment-info #ward_delivery').attr('disabled', 'disabled');
            }
        }

        jQuery('.btn-payment-success').on('click', function () {
            //remove disable
            jQuery('.address_form_setting.payment-info input').removeAttr('disabled');
            jQuery('.address_form_setting.payment-info #city_delivery').removeAttr('disabled');
            jQuery('.address_form_setting.payment-info #district_delivery').removeAttr('disabled');
            jQuery('.address_form_setting.payment-info #ward_delivery').removeAttr('disabled');
        });

        var count = $('#payment-trigger .box-radio').length;
        if (count == 1) {
            $('#payment-trigger .box-radio').click(function (e) {
                $('#notice_alert').show();
            });
        }

        $(".tip").click(function () {
            var is_on_mobile = {{ is_on_mobile }};
            if (is_on_mobile !== 1) {
                return;
            }

            var tooltip = $(this).find('.tooltip-guide-absolute');
            toggleTooltip(tooltip);
        });

        function toggleTooltip(tooltip) {
            if (!tooltip) {
                return;
            }

            if (!tooltip.css('display') || tooltip.css('display') === 'none') {
                hideAllTooltips();

                tooltip.css('display', 'block');
            } else {
                tooltip.css('display', 'none');
            }
        }

        function hideAllTooltips() {
            $('.tooltip-guide-absolute').css('display', 'none');
        }
    });
</script>
<style type="text/css">
    body section, body header#block-header, body footer {
        display: none !important;
    }

    .block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group .had_address label {
        top: 13px;
    }

    .bs-select .btn-light {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 40px;
        background: #F9FAFB;
        border: 1px solid #E9E9E9;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        border-radius: 0px !important;
        background: initial !important;
        border: 1px solid #E9E9E9 !important;
    }

    .bs-select {
        width: 100% !important;
    }

    .bs-select .bootstrap-select {
        width: 100% !important;
    }

    .bs-select.custom_select {
        width: auto !important;
    }

    .custom_select .customer_address.bootstrap-select {
        width: auto !important;
        min-width: 200px;
    }

    .bs-select .btn-light::before {
        content: '';
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 30px;
        width: 1px;
        height: 15px;
        background-color: #969696;
        -webkit-transition: all 0.23s;
        transition: all 0.23s;
    }

    .bs-select .btn-light::after {
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-top: 0.4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
        color: #666666 !important;
        content: '' !important;
        display: inline-block !important;
    }

    .bootstrap-select .dropdown-toggle .filter-option {
        position: static;
        top: 0;
        left: 0;
        float: left;
        height: 100%;
        width: 100%;
        text-align: left;
        overflow: hidden;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        padding: 0px;
        line-height: 26px;
    }

    .bootstrap-select .dropdown-toggle .filter-option-inner {
        padding-top: 0;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: #B9256A;
    }

    .help-block {
        color: #dc3545 !important
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item .cart-product .thumb .count-cart {
        top: -30px;
        right: 10px;
    }

    .bs-select .btn-light {
        padding-right: 35px;
    }

    .block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group .input-item {
        width: 100%;
        height: 40px;
    }

    .bs-select.custom_select {
        position: relative;
        padding-top: 18px;
        border: 1px solid #E9E9E9 !important;
        background: #F9FAFB !important;
    }

    .bs-select.custom_select .customer_address .btn-light {
        border: 0px !important;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 30px;
        outline: 0px !important;
    }

    .block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group .custom_select label {
        top: 30%;
    }

    .bs-select .customer_address .btn-light::before {
        top: 20%;
    }

    .bs-select .customer_address .btn-light::after {
        top: 20%;
    }

    .block-pay-page .block-payment-info .wrap-box .logo img {
        max-width: 145px;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item .cart-product .thumb .count-cart {
        min-width: 24px;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item .cart-product .thumb .count-cart {
        width: initial;
    }

    .block-pay-page .block-payment-info .wrap-box .payment-info .form-radio .box-radio {
        height: 40px;
    }

    .custom-check {
        font-size: 14px;
        font-weight: normal;
    }

    .custom-payment {
        font-weight: 500;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item .cart-product .thumb .img {
        width: 60px;
        height: 60px;
    }

    .block-pay-page .block-payment-cart .wrap-box .title {
        margin-bottom: 16px;
        font-size: 18px;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product {
        padding-right: 0;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item {
        margin-bottom: 8px;
    }

    .block-pay-page .block-payment-cart .wrap-box .block-cart-total {
        padding: 0;
    }

    .block-pay-page .block-payment-cart .wrap-box .total-price {
        padding: 20px 0;
    }

    .block-pay-page .block-payment-cart {
        padding-top: 20px;
    }

    .block-pay-page .block-payment-info {
        padding-top: 20px;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item .price {
        letter-spacing: 0;
        width: 110px;
        display: block;
        text-align: right;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-action .btn-payment-success {
        height: 44px;
    }

    .block-pay-page .block-payment-cart .wrap-box .cart-list-product .cart-product-item .cart-product .cart-product-info .name {
        font-size: 14px;
    }

    .customer-address:nth-child(1) {
        padding-right: 5px;
    }

    .customer-address:nth-child(2) {
        padding-right: 5px;
        padding-left: 0;
    }

    .customer-address:nth-child(3) {
        padding-left: 0;
    }

    .customer-name {
        padding-right: 7px;
    }

    .customer-phone {
        padding-left: 7px;
    }

    table.cart-product-item tbody {
        width: 100%;
    }

    .tip {
        color: #637381;
    }

    .tooltip-guide-absolute {
        width: 210px;
        height: 96px;
        top: -100px;
        left: 0px;
        text-align: left;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        position: absolute;
        display: none;
    }

    .tooltip-guide-absolute p {
        padding: 10px;
        color: #637381;
        margin-top: 10px;
    }

    .tip:hover > .tooltip-guide-absolute {
        display: block;
        z-index: 100;
    }

    @media screen and (max-width: 768px){
        .customer-address:nth-child(1) {
            padding-right: 15px;

        }

        .customer-address:nth-child(2) {
            padding-right: 15px;
            padding-left: 15px;
        }

        .customer-address:nth-child(3) {
            padding-left: 15px;
        }

        .customer-name {
            padding-right: 15px;
        }

        .customer-phone {
            padding-left: 15px;
        }

        .bs-select {
            padding-bottom: 10px;
        }
    }
</style>
</body>