.logo.bestme-block-header-logo img {
    max-width: 100% !important;
    max-height: 40px;
}
.logo.bestme-block-header-logo .navbar-brand {
    width: auto;
    margin-right: 0px;
}

/*sticky*/
.buy-now {
    display: none;
}
.buy-now {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    margin-top: 0;
}
.buy-now.fixed {
    position: fixed;
    top: 45px;
    z-index: 999;
    width: 100%;
    display: block;
}
.buy-now .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-buy-now-header {
    background-color: #47D1AF;
    color: white;
    outline: none;
    box-shadow: none;
    height: 38px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #EBEBEB;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    width: 100%;
    border-radius: 2px;
    font-size: 16px;
}

.btn-add-cart-header {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    background: white;
    color: black;
    font-size: 16px;
    height: 38px;
}
.btn-add-cart-header:hover {
    background-color: #47D1AF;
    color: white;
}

.show-on-pc {
    display: block;
}
.show-on-mobile {
    display: none !important;
}
.list-inline-item {
    height: 40px;
}

.post-time {
    letter-spacing: 1px;
}

/*custom padding category*/
.news-list-tags a {
    padding: 5px 5px;
}

.list-inline-item:not(:last-child) {
    margin-right: 3px;
}


.main-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-header .block-header-menu ul.nav > li.over-item {
    margin-right: 3px;
    padding: 10px;
}

.block-header .block-header-menu ul.nav > li.over-item {
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 500;
}

.block-header .block-header-menu ul.nav ul.nav.child-nav {
    padding: 0;
}

.block-header .block-header-menu ul.nav ul.nav.child-nav .nav-item a {
    padding: 15px 15px;
}

.block-header-menu > .navbar-nav > .nav-item:not(:last-child) {
    margin-right: 30px;
}

.block-header-menu .navbar-nav>li.nav-item {
    padding: 10px 0;
}

/* v2.8.3 */
#form-search-scroll {
    position: absolute;
    right: 100px;
    min-width: 190px;
    top: 14px;
    display: none;
    z-index: 9;
}
.click-filter-show {
    display: none;
}
.sidebar-left-search .nav-link {
    padding: .5rem 0;
}
.sidebar-left-search #tag-filter-custom {
    padding: 15px 0 !important;
}
.sidebar-left-search .filter-scroll {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.header-fixed .main-header {*/
/*z-index: 998;*/
/*}*/

@media screen and (max-width: 991px) {
    .bestme-block-banner-top.top-header {
        margin-bottom: 0 !important;
    }
    .block-header-menu button.navbar-toggler {
        margin-top: 6px;
    }
    .left-header-search form {
        position: fixed;
        top: 16%;
        width: auto;
        border: solid 1px #ddd;
    }
    .header-fixed .wrap-header-info .header-info {
        /*position: relative;*/
        right: 11%;
        top: -51px !important;
    }
    .wrap-header-info .header-info .list-inline .list-inline-item {
        line-height: 40px;
    }

    .wrap-header-info .header-info .list-inline .list-inline-item .cart a span{
        line-height: 16px;
    }

    #form-search-scroll {
        top: 5px;
        right: 60%;
    }
    .header-info {
        top: 8px !important;
    }
    .sidebar-left-search {
        display: none;
    }
    .sidebar-left-search.show {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        background: #f5f5f5;
        display: block;
        left: 0;
        padding: 0 35px 0 15px;
    }
    .sidebar-left-search .block-title:first-child {
        padding-top: 1rem;
    }
    .click-filter-show {
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: block;
    }
    .click-filter-show i {
        padding: 10px;
        font-size: 20px;
    }
    #main-wrapper.has-fixed .sidebar-left-search.show{
        top: 80px;
    }
}
/* end v2.8.3 */

@media screen and (max-width: 991px) {
    .navbar-toggler {
        right: 10px;
    }

    .block-header .main-menu li.active> ul.nav, .block-header .main-menu ul.nav li.active> ul.nav {
        max-height: 600px;
    }

    .block-header .block-header-menu li ul.nav li.nav-item.active ul.nav {
        -webkit-box-shadow: -1px 0px 9px 0px rgba(133,129,133,1) !important;
        -moz-box-shadow: -1px 0px 9px 0px rgba(133,129,133,1) !important;
        box-shadow: -1px 0px 9px 0px rgba(133,129,133,1) !important;
    }

    .block-header .main-menu li ul.nav ul.nav, .block-header .main-menu ul.nav ul.nav {
        max-height: 0px;
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        padding-left: 15px;
        box-shadow: none;
        margin: 0;
        transform: none;
        background-color: white;
    }
}

@media screen and (max-width: 767px) {
    #navbarMainMenu {
        overflow: auto;
    }

    .block-header-menu .navbar-nav>li.nav-item {
        padding: 5px !important;
        margin-right: 0 !important;
    }
    .block-header-menu .navbar-nav .nav-item.over-item .nav-link {
        line-height: 28px;
    }
}

@media (max-width: 815px){
    .logo.bestme-block-header-logo img {
        max-width: 120px !important;
    }
    .box-page {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    /*sticky*/
    #buy-now {
        display: none;
    }

    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 14px;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #47D1AF;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }

    .buy-now-mobile .number-quantity input {
        width: 100%;
        height: 33px;
    }
    .w-75 {
        width: 100%!important;
    }
    .blog-info-detail-head {
        padding: 0px;
    }
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.logo.bestme-block-header-logo img {
    max-width: 200px;
    object-fit: scale-down;
}

/* product detail margin bottom with related product section*/
#nav-product-detail {
    margin-bottom: 88px;
}