.block-detail{
    .title-single{
        font-family: 'Leftlair-Medium';
        font-size: 30px;
        color: $c-text;
        @media (max-width: 767px){
            font-size: 18px;

        }
    }
    .flex-meta{
        display: flex;
        align-items: center;
        margin: 18px 0 25px;
        .author,
        .time{
            font-family: 'Leftlair-Medium';
            color: $c-default;
            font-size: 15px;
            margin-right: 25px;
        }
        .author{
            a{
                font-family: 'Leftlair-Medium';
                color: $c-default;
                font-size: 15px;
                margin-right: 25px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .social-share{
            display: flex;
            align-items: center;
            margin-left: auto;
            span{
                font-family: 'Leftlair-Medium';
                color: $c-default;
                font-size: 15px;
                margin-right: 20px;
            }
            ul{
                display: flex;
                li{
                    margin-right: 15px;
                    a{
                        &:hover{
                            svg{
                                path{
                                    fill: $c-main;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}