body {
    word-wrap: break-word;
}
.page-slider .carousel-control-next, .page-slider .carousel-control-prev {
    width: 10%;
}
.page-slider .carousel-control-prev-icon {
    width: 36px;
    height: 36px;
    background: url('/catalog/view/theme/fashion_luzun_2/img/icons/i-prev.png') no-repeat;
}
.page-slider .carousel-control-next-icon {
    width: 36px;
    height: 36px;
    background: url('/catalog/view/theme/fashion_luzun_2/img/icons/i-next.png') no-repeat;
}
#carouselBanner .carousel-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(60, 60, 60, 0.4);
}
.page-slider .carousel-indicators li {
    width: 11px;
    height: 11px;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}
.page-slider .carousel-indicators li.active {
    background-color: #fff;
}
.product-info ol.carousel-indicators {
    position: relative;
    margin: 10px 0px 0px;
}
.product-info .carousel-indicators li {
    width: 60px;
    height: 60px;
    margin-bottom: 30px !important;
    text-indent: unset;
    opacity: 1;
    border: 1px solid #E2E2E2;
}
.product-info .carousel-indicators li img {
    width: 100%;
    height: 100%;
}
.slider-content {
    padding-left: 20%;
}
.box-blackground {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    background-color: #47D1AF;
    top: -50px;
    left: -30px;
    z-index: 1;
}
.box-product-title .box-blackground {
    top: -45px;
    left: 10%;
}
.sl-title, .box-product-title h3, .box-product-title h1 {
    position: relative;
    z-index: 2;
}
.box-product-title.contact-box-title .box-blackground {
    top: -30px;
    left: 0;
}
.box-product-title.about-box-title .box-blackground {
    top: -30px;
    left: -30px;
}
.slider-desc {
    padding-left: 130px;
    padding-right: 50px;
}
/* Banner */
.banner-item {
    max-height: 370px;
}
/* End: Banner */

/* Custommer */
.owl-custommer {
    max-width: 980px;
}
.custommer-avt {
    height: 130px;
}
/* End: Custommer */

/* Product */
.pro-item{

}
.pro-item .pro-thumb{
    padding-top: 100%;
    overflow: hidden;
}
.pro-item .pro-thumb img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}
.box-item {
    border-left: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
}
.page-title {
    border-radius: 50px;
    margin-top: -60px;
    position: relative;
    padding: 40px 0px;
}
.old-price {
    text-decoration: line-through;
}
.pro-overlay .btn {
    min-width: 115px;
}
.pro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.pro-thumb:hover .pro-overlay {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
ul.pro-action {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.pro-action a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}
.add-favourite span:before {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-weight: 400;
}
.add-favourite.added span:before, .add-favourite:hover span:before {
    font-weight: 900;
}
.pro-thumb .pro-list-type {
    position: absolute;
    top: 3px;
    left: 0;
}
.pro-disabled .pro-overlay {
    display: none !important;
}
.pro-disabled .pro-info * {
    color: #ABABAB !important;
    pointer-events: none;
}
.product-filter {
    position: relative;
    top: -20px;
    z-index: 10;
}
.dropdown-filter .dropdown-toggle::after {
    position: absolute;
    top: 12px;
    right: -15px;
    content: "";
    border: 0;
    width: 10px;
    height: 5px;
    margin-left: 10px;
    vertical-align: 2px;
    background: url('/catalog/view/theme/fashion_luzun_2/img/icons/i-dropdown.png') no-repeat center;
    background-size: cover;
}
.payment-contact .dropdown-filter .dropdown-toggle::after {
    right: 10px;
}
.dropdown-filter .btn:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-filter .dropdown-menu {
    width: 100%;
    padding: 20px 12px;
    border: 0;
    margin-top: -15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-filter .dropdown-item:focus, .dropdown-filter .dropdown-item:hover {
    color: #FFCE59 !important;
    background-color: transparent;
}
.block-head h2 {
    line-height: 29px;
}
.brand-search input {
    height: 29px;
    background: url('/catalog/view/theme/fashion_luzun_2/img/icons/i-search.png') no-repeat right 10px center;
}
.overflow-scrolly {
    height: 170px;
    overflow-y: scroll;
}
.overflow-scrolly::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar-thumb {
    background-color: rgba(111, 111, 111, 0.15);
    border: 2px solid rgba(111, 111, 111, 0.15);
}
.count-product {
    vertical-align: sub;
}
.pro-item .btn {
    min-height: auto;
}
/* End: Product */

/* Sidebar */
.accordion .collapsed i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* End: Sidebar */

.buy-total button {
    border: 0;
    font-weight: 600;
    font-size: 16px;
    color: #454545;
    background-color: transparent;
}
.cart-listing .buy-total button {
    color: #3F4755;
    width: 24px;
    height: 24px;
    line-height: 22px;
}
.buy-total button:focus {
    outline: none;
}
.buy-total .custom-number-input {
    max-width: 50px;
}
.color-size .form-control {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.line-border {
    height: 4px;
    width: 100%;
}
.form-comment {
    max-width: 570px;
}
.form-comment .form-control {
    height: 33px;
}
.list-thumb-small img {
    width: 60px;
}
.product-info .pro-thumb-detail .carousel-thumb {
    width: 15%;
    float: left;
    margin: 0;
    max-height: 527px;
}
.product-info .pro-thumb-detail .carousel-inner {
    width: 85%;
    float: right;
}
.title-type {
    vertical-align: text-top;
}
.list-radio-color .form-check-label {
    border: 1px solid #e9e9e9;
    padding: 6px 23px;
    color: #372D40;
}
.list-radio-size .form-check-label {
    padding: 6px 15px;
}
.list-radio-color .form-check-input:checked~.form-check-label {
    border: 1px solid #47D1AF;
}
.form-row-size-buy .buy-total {
    margin-top: -3px;
}
/* Cart */
.cart-table .table td, .cart-table .table th {
    vertical-align: middle;
    padding-left: 3%;
    padding-right: 3%;
}
.cart-table .table th {
    color: #25292C;
    font-weight: 500;
}
.cart-table .table td {
    color: #3F4755;
}
.discount-code {
    max-width: 300px;
}
.discount-code .form-control {
    height: 33px;
}
.cart-caculate {
    width: 300px;
}
.cart-caculate {
    border: 2px solid #EBEBEB;
}
.table-action .btn {
    padding-top: 12px;
    padding-bottom: 12px;
}
/* End: Cart */
.other-address > a {
    text-decoration: underline;
}
.payment-info .discount-code {
    max-width: 100%;
}
.other-address {
    max-width: 515px;
}
.wrap-payment-success {
    height: 50vh;
}
.status-txt {
    background: url('/catalog/view/theme/fashion_luzun_2/img/icons/i-success.png') no-repeat right center;
}
.more-buy {
    text-decoration: underline;
}
.list-address-info label {
    min-width: 100px;
}
.wrap-table td, .wrap-table th {
    color: #3F4755;
}
/* Login */
.fogot-password {
    text-decoration: underline;
}
#hide-pass {
    position: absolute;
    bottom: 4px;
    right: 4px;
}
#show-pass {
    margin-right: 4px;
}
.form-register #show-pass {
    position: absolute;
    bottom: 4px;
    right: -30px;
}
/* End: Login */
/* Blog */
.block-blog-item:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.block-blog-info {
    position: relative;
    z-index: 2;
}
/* End: Blog */
/* Payment */
.payment-form {
    max-width: 450px;
}
.payment-form .form-check .form-check-label {
    border: 1px dashed #787878;
}
.payment-form .form-check .form-check-input:checked ~ .form-check-label {
    border: 1px solid #FFCE59;
}
/* End: Payment */
.search-form-404 {
    max-width: 820px;
    margin: auto;
}
.search-form-404 .form-control {
    width: 82%;
    height: 48px;
}
.search-form-404 .btn {
    height: 48px;
}
.search-no-result {
    height: 100vh;
    background-color: rgba(242, 242, 242, 0.85);
}
.search-no-result p {
    color: #6B6B6B;
}
.search-box-ajax {
    position: absolute;
    width: 100%;
    top: 30px;
    border-radius: 15px;
    border: 1px solid #EDEDED;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5px;
    padding: 15px 20px;
}
.wrap-form-login {
    max-width: 480px;
    margin: auto;
}
.login-logo {
    max-width: 90%;
    margin: auto;
    padding: 30px 0px;
}
.banner-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.box-view-more a {
    text-decoration: underline;
}
.box-product-filter#product-price .ui-widget.ui-widget-content{
    position: relative;
    background: #E9E9E9;
    border-radius: 5px;
    height: 4px;
    border: none;
}
.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
    position: absolute;
    height: 4px;
    background: #47D1AF;
}
.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
    position: absolute;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    top: -0.35em;
    background: #47D1AF;
    border: 1px solid #47D1AF;
    outline: none;
    cursor: pointer;
}
.buy-now {
    padding: 12px 37px;
    margin-top: 30px;
    line-height: 1.2;
}
.buy-now.bg-primary:hover {
    background-color: #47D1AF !important;
}
.uni-vnd {
    text-decoration: underline;
}
#add-to-cart {
    padding-top: 12px;
    padding-bottom: 12px;
}
.product-tab .nav-tabs .nav-link {
    background: #F6F6F6;
    border-radius: 2px 2px 0px 0px;
    color: #868686;
    line-height: 25px;
    padding: 10px 40px;
    border-radius: 0;
    margin-right: 8px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    -ms-flex-item-align: end;
    align-self: flex-end;
    transition: all 0.2s ease;
}
.product-tab .nav-tabs .nav-link.active, .product-tab .nav-tabs .nav-link:hover {
    padding: 15px 40px;
    color: #F9FAFB;
    background: #47D1AF;
}
.box-page {
    padding-top: 165px;
    padding-bottom: 165px;
}
.news-list-tags {
    margin-top: 70px;
}
.news-list-tags a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: #C6C6C6;
    text-transform: uppercase;
    padding: 7px 30px;
}
.news-list-tags a.active, .news-list-tags a:hover {
    background-color: #484848;
}
.blog-info-detail-head {
    padding: 70px;
}
.post-time {
    letter-spacing: 0.5em;
}
.line {
    width: 173px;
    height: 1px;
    background-color: #c4c4c4;
    margin-top: 30px;
    margin-bottom: 25px;
}
.thead-light {
    background-color: #F6F6F6;
}
.block-footer .copy-right {
    margin-top: 34px;
    background-color: #25292C;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #F9FAFB;
}
#add-to-cart .quantity-nav {
    display: none;
}
#add-to-cart .quantity .quantity-input {
    width: 80px !important;
}
.logo.bestme-block-header-logo img{
    max-width: unset !important;
}
@media screen and  (max-width: 767px) {
    .product-info ol.carousel-indicators{
        overflow: auto;
        height: 300px;
        width: 73px;
    }
    .form-payment .text-dark{
        margin-top: 15px;
    }
    .block-header-menu .navbar-nav>li.nav-item {
        padding: 10px 0 !important;
    }
}

@media screen and (max-width:576px) {
    .header {
        padding-bottom: 50px !important;
    }
    .header-info {
        top: 15px !important;
    }
    .navbar-toggler {
        left: unset !important;
    }
    .logo.bestme-block-header-logo img{
        max-width: 100% !important;
    }
    .block-header-menu .navbar-nav>li.nav-item {
        padding: 10px 0 !important;
    }
    .box-product-title.p-5{
        padding: 2rem 0 !important;
    }
    .box-product-title h3.text-black-50{
        font-size: 22px !important;
    }
}

@media screen and (max-width:480px) {
    .header {
        padding-bottom: 50px !important;
    }
    .header-info {
        top: 15px !important;
    }
    .logo.bestme-block-header-logo img{
        max-width: 100% !important;
    }
    .block-header-menu .navbar-nav>li.nav-item {
        padding: 10px 0 !important;
    }
    .box-product-title.p-5{
        padding: 2rem 0 !important;
    }
    .box-product-title h3.text-black-50{
        font-size: 22px !important;
    }
}
.order-bestme .bestme-table--cart thead th, .order-bestme .bestme-btn--primary{
    background-color: #47D1AF !important;
}
.order-bestme .bestme-table--cart thead{
    border: 0.1rem solid #47D1AF !important;
}

/*!*css menu multi*!*/
#menu-product {
    height: 400px;
    width: 287px;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu-product ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#menu-product li a {
    color: #454545;
    padding: 8px 40px 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: solid 1px #e5e5e5;
}

#menu-product li a:hover {
    text-decoration: none;
    color: #47D1AF  ;
}


#menu-product ul li {
    /*border-top: 1px solid #EBEBEB;*/

    /*padding: 10px 0;*/
    position: relative;
}

#menu-product .sub-menu-2 {
    display: none;
    margin-left: 30px;
}

.dropdown-menu-product {
    transform: translate3d(0px, 44px, 0px) !important;
}

#menu-product .sub-menu-2 .sub-menu-3 {
    display: none;
    margin-left: 30px;
}

#menu-product  .active > ul {
    display: block;
}

#menu-product  .active .active > ul {
    display: block;
}

#menu-product ul .list-item::before {
    height: 37px;
    font-family: 'Font Awesome 5 Free';
    padding: 0 10px;
    content: "\f105";
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}

#menu-product ul .active::before {
    content: "\f107" !important;
}

#menu-product .sub-menu .selected > a {
    color: #47D1AF !important;
}

#menu-product .sub-menu a {
    border: none;
    display: block;
}

.single-item .accodition {
    display: none;
}
.dropdown-filter .dropdown-menu {
    min-width: 300px !important;
    overflow-x: none;
}

.dropdown-filter .dropdown-menu-product {
    min-width: 300px !important;
}

/*css tag filter*/
#tag-filter-custom li a:hover {
    color: white !important;
    background-color: #47D1AF !important;
}

#tag-filter-custom li a {
    color: #372D40 !important;
}

#tag-filter-custom li .active {
    color: white !important;
    background-color: #47D1AF !important;
}

#tag-filter-custom {
    padding: 15px 15px 0 15px !important;
}