<!-- End slide banner -->
{% if banners_visible == '1' and banner_highlight['visible'] == '1' %}
    <section class="block-banner-ads">
        <div class="container text-center">
            <div class="row hidden-xs hidden-sm hidden-sp hidden-md">
                <div class="block-home-banner col-12">
                    <div class="d-inline-block">
                        <div class="widget-banner block">
                            <div class="block_content">
                                <div class="image-box">
                                    <div class="img-banner effect">
                                        <a href="{{ banner_highlight['url'] }}">
                                            <img src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}" width="100%">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-welcome col-lg-6 col-md-6" style="display:none">
                    <h4 class="title_block_home">
                        <span>Chúng tôi là Signem</span>
                    </h4>
                    <div class="block_content">
                        <p>Hãy tạo cho mình một phong cách khác biệt. hãy đến với chúng tôi. Chúng tôi sẵn sàng lắng nghe, tư vấn tạo cho mình một ngoại hình riêng cho mình. Signe Me !</p>
                    </div>
                    <div class="block">
                        <a href="/collections/" class=" btn_home_page btn btn-welcome ">Xem ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}