{% for k, block in blocks %}
    {% if block['visible'] %}
        <!-- Block bst home -->
        <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                {% set break_index = block['grid'] * block['row'] %}
                {% if block['collections'] is not empty %}
                    <div class="block-content row">
                        <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                            {% set col_xl = 12/block['grid'] %}
                            {% for k,collection in block['collections'] %}
                                {% if k % break_index  == 0 %}
                                    <div class="slide-item">
                                    <div class="row">
                                {% endif %}
                                <div class="col-{{ col_xl }} col-md-{{ col_xl }}">
                                    <div class="product-item">
                                        <div class="product-info">
                                            <div class="product-img">
                                                <a href="{{ collection['url'] }}">
                                                    <img src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                                </a>
                                            </div>
                                            <div class="item-product-name">
                                                <a href="{{ collection['url'] }}" title="{{ collection['title'] }}" class="product-title">{{ collection['title']|length > 40 ? collection['title']|slice(0, 40) ~ '...' : collection['title'] }}</a>
                                            </div>
                                        </div>
                                    </div> <!-- End Pro Item -->
                                </div> <!-- End col product -->
                                {% if k % break_index == break_index -1 or k + 1 == block['collections']|length %}
                                    </div> <!-- End row -->
                                    </div> <!-- End slide item -->
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> <!-- End block-content -->
                {% else %}
                    <div class="block-content row">
                        <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                            {% set col_xl = 12/block['grid'] %}
                            {% for k,product in block['products'] %}
                                {% if k % break_index  == 0 %}
                                    <div class="slide-item">
                                    <div class="row">
                                {% endif %}
                                <div class="col-{{ col_xl }} col-md-{{ col_xl }}">
                                    <div class="product-item">
                                        <div class="product-info">
                                            <div class="product-rating d-none">
                                                <span class="rate-item on"></span>
                                                <span class="rate-item on"></span>
                                                <span class="rate-item on"></span>
                                                <span class="rate-item"></span>
                                                <span class="rate-item"></span>
                                            </div>
                                            <div class="product-img">
                                                <a href="{{ product['href'] }}">
                                                    <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                                </a>
                                                <div class="product-highlight">
                                                    {% if product['percent_sale'] is not empty %}
                                                        <span class="sale">{{ product['percent_sale'] }}</span>
                                                    {% endif %}
                                                    {% if product['product_is_stock'] == false %}
                                                        <span class="status">hết</span>
                                                    {% endif %}
                                                </div>

                                                <div class="product-preview text-center">
                                                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                                    <a href="#" class="like-btn d-none">
                                                        <i class="icon icon-heart bg-white font-18"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item-product-name">
                                                <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                            </div>
                                            {% if product['is_contact_for_price'] %}
                                                <span class="product-price">{{ contact }}</span>
                                            {% else %}
                                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                    <span class="product-price">
															{% if product['max_price_version'] is null %}
                                                                <span class="price">{{ product['compare_price_master'] }}</span>
															{% else %}
                                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                {% endif %}
                                                            {% endif %}
														</span>
                                                {% else %}
                                                    <span class="product-price">
														{% if product['max_price_version'] is null %}
                                                            <span class="price">{{ product['price_master'] }}</span>
														{% else %}
                                                            <span class="price">{{ product['min_price_version'] }}</span>
                                                        {% if product['min_price_version'] != product['max_price_version'] %}
                                                                ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                            {% endif %}
                                                        {% endif %}
													</span>
                                                    <span class="product-price-sale">
														{% if product['max_compare_price_version'] is null %}
                                                            <span class="price">{{ product['compare_price_master'] }}</span>
														{% else %}
                                                            <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                            {% endif %}
                                                        {% endif %}
													</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div> <!-- End Pro Item -->
                                </div> <!-- End col product -->
                                {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                    </div> <!-- End row -->
                                    </div> <!-- End slide item -->
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> <!-- End block-content -->
                {% endif %}
            </div> <!-- End container -->

            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                </div>
            </div>
        </section> <!-- End block-saleoff-product -->
        <!-- /.Block bst home -->
    {% endif %}

{% endfor %}