
{# blog. Temp disable. TODO: enable on theme partner support #}
{% if latest_blog %}
    <!-- Block bst home -->
    <section class="block-saleoff-product pt-5 mb-3 bestme-block-blog">
        <div class="container">
            <h2 class="block-title header-font mb-4 pt-3">{{ blog_title }}</h2>

            <div class="block-content row">
                <div class="col-md-12">
                    <div class="slide-item">
                        <div class="row">
                            {% set max_blog_count = blog_config.grid * blog_config.row %}
                            {% for key, blog in latest_blog if key < max_blog_count %}
                                <div class="col-{{ 12 / blog_config.grid }} mb-3">
                                    <div class="product-item">
                                        <div class="product-info">
                                            <div class="product-img">
                                                <a href="{{ blog['link'] }}">
                                                    {% if blog['type'] == 'video' %}
                                                        <div id="blog-thumb-video-{{ key }}" class="blog-thumb-video" style="width: 100%; height: 100%"
                                                             data-video-url="{{ blog['video_url'] }}"></div>
                                                    {% else %}
                                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="item-product-name">
                                                <a href="{{ blog['link'] }}" title="{{ blog['title'] }}" class="product-title">{{ blog['title'] }}</a>
                                            </div>
                                            <div style="color: #949494;">
                                                {{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </div>
                                        </div>
                                    </div> <!-- End Pro Item -->
                                </div> <!-- End col product -->
                            {% endfor %}

                        </div> <!-- End row -->
                    </div>
                </div>
            </div> <!-- End block-content -->

        </div> <!-- End container -->
    </section> <!-- End block-saleoff-product -->
    <!-- /.Block bst home -->
{% endif %}
<!-- /.Blog -->