{% if rate_visible == 1 %}
    <div class="container">
    <div class="box-rate with-tab mb-3 bestme-block-rate-website">
        <h2 class="block-title header-font mb-4 pt-3 pb-3">
            {{ rate_config.setting.title ? rate_config.setting.title : 'Đánh giá website' }}
        </h2>
        {#slide rate #}
        <div id="owl-rate" class="owl-carousel owl-theme"
             data-autoplay="{{ rate_config.setting.autoplay }}"
             data-autoplay_time="{{ rate_config.setting.autoplay_time }}"
             data-loop="{{ rate_config.setting.loop }}"
             data-number_items="{{ rate_config.display.grid }}"
        >
            {% set items_per_slide = rate_config.display.grid * rate_config.display.row %}
            {% for rate_website in rate_website_all %}
                {% if 1 == items_per_slide or 1 == loop.index % items_per_slide %}
                    <div class="slide-item" >
                    <div class="row m-0">
                {% endif %}
                <div class="item-rate col-{{ 12/rate_config.display.grid }} pb-5">
                    <div class="avatar">
                        <img src="{% if rate_website['image'] %}{{ rate_website['image'] }}{% else %}/image/placeholder.png{% endif %}" alt="{{ rate_website['alt'] }}">
                    </div>
                    <div class="customer-name">
                        <h3>{{ rate_website['customer_name'] }}</h3>
                    </div>
                    <div class="content">
                        <div class="icons">
                            <div class="icon">
                                <img src="/catalog/view/theme/realestate_sbuilding/img/icons/comma.svg" alt="icon">
                            </div>
                            <div class="icon">
                                <img src="/catalog/view/theme/realestate_sbuilding/img/icons/comma.svg" alt="icon">
                            </div>
                        </div>
                        <div class="text-content">
                            <p>
                                {{ rate_website['content']|length > 100
                                ? rate_website['content']|striptags|slice(0, 100) ~ '...'
                                : rate_website['content']|striptags }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if 0 == loop.index % items_per_slide or loop.last %}
                    </div> <!-- End col product -->
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<style>
    .item-rate {
        text-align: center;
    }
    #owl-rate .owl-dots {
        text-align: center;
    }
    .item-rate .avatar {
        width: 80px;
        height: 80px;
        margin: auto;
        border-radius: 1000px !important;
        overflow: hidden;
    }
    .item-rate .customer-name h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #3F4755;
        padding: 16px;
    }
    .item-rate .content .icons {
        padding: 17px 20px 34px 20px;
    }
    .item-rate .content .icon {
        width: 12px;
        height: 20px;
        float: left;
    }
    .item-rate .content {
        background: #0058AB;
        max-width: 350px;
        margin: auto;
    }
    .item-rate .content .text-content{
        clear: left;
        padding: 0px 20px 1px 20px;
        text-align: justify;
        color: white;
    }

</style>