<section class="py-4 mb-5 news-home">
    <div class="container mt-3 mb-md-3 mb-5">
{#        <p class="sub-title mb-3 mt-lg-3 text-center">TIN NỔI BẬT</p>#}
        <h2 class="mb-4 line-percent text-center pb-3">TIN NỔI BẬT</h2>
        <div class="row">
            {% for k, blog in blogs_news if blog['blog_category_title'] == 'tin nổi bật' %}
                <div class="col-12 col-md-4">
                <div class="news-item">
                    <a href="{{ blog['link'] }}" class="news-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    </a>
                    <p class="news-date">{{ blog['date_added']|date('d-m-Y') }}</p>
                    <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title'] }}">{{ blog['title'] }}</a>
                    <p class="news-desc">{{ blog['short_content']|html_entity_decode|striptags }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ url_blog }}" class="btn btn-primary mt-2">Xem thêm</a>
        </div>
    </div>
</section>
<!-- End news -->