<section class="py-lg-5 py-4 text-center bg-primary text-fourth">
    <div class="container">
        <div class="row bestme-block-content-customize">
            <div class="col-12 col-md-6 my-3 mx-auto mb-lg-5">
{#                <p class="sub-title">DỊCH VỤ CỦA CHÚNG TÔI</p>#}
                <h2 class="mb-4 pb-3 line-percent white pb-3 text-white">DỊCH VỤ</h2>
            </div>
            <div class="clearfix"></div>
            <div class="bg-rgb-cs"></div>
            {% if display_customizes and display_customizes[4] %}
                {% for key, contents in display_customizes if key > 3 %}
                    {% if contents['type'] == 'fixed' %}
                        <div class="col-12 col-md-3 ps-md-5 mt-md-5 my-2">
                            <div class="d-flex justify-content-center m-auto" style="width: 30px; height: 30px;">
                                <img src="{{ contents['content']['icon'] }}">
                            </div>
                            <p class="text-primary fw-600 fz-20 my-3">{{ contents['content']['title'] }}</p>
                            <p>{{ contents['content']['description'] }}</p>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>
<!-- End service -->