<section class="text-center mb-md-5" style="background: url('{{ theme_directory }}/img/body-bg-1.png') no-repeat center/cover fixed">
    <div style="background-color: rgba(19, 89, 125, 0.7);" class="pt-md-5 pt-4 pb-lg-5 pb-4">
        <div class="container mt-lg-2 mb-lg-3">
            <div class="row">
                <div class="col-12 col-lg-6 mx-auto">
                    <h2 class="mb-2 text-white">LÝ DO CHỌN CHÚNG TÔI
                    </h2>
{#                    <p class="text-fourth">Nhiều năm hoạt động trong lĩnh vực bên cạnh#}
{#                        việc cung cấp các sản#}
{#                        phẩm chất#}
{#                        lượng cao, niềm tin từ khách hàng đến với chúng tôi từ đâu?</p>#}
                    <div class="line-percent white pt-2 mb-4"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-11 mx-auto px-lg-5">
                    <div class="row bestme-block-content-customize">
                        {% if display_customizes %}
                            {% for key, contents in display_customizes if key < 4 %}
                                <div class="col-12 col-lg-6 my-4">
                                    {% if contents['type'] == 'fixed' %}
                                        <div class="p-4 px-lg-5 rounded-5 bg-white h-100 border-bottom-4">
                                            <img class="mt-2" src="{{ contents['content']['icon'] }}" width="73px">
                                            <h3 class="my-3 fw-500 fz-20 text-third">{{ contents['content']['title'] }}</h3>
                                            <span class="text-secondary">{{ contents['content']['description'] }}</span>
                                        </div>
                                    {% else %}#}
                                        <div class="d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div> <!-- End row -->
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div>
</section>
<!-- End why choose -->