{{ header }}

<main class="main-content">
    <div class="container pb-5">

        <nav aria-label="breadcrumb" class="my-4 pt-3 pb-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ href_home }}">{{ text_home }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ text_account }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-12 col-md-8">
                {% if orders is empty %}
                    <!-- Hiển thị nếu chưa có đơn hàng -->
                    <p class="mt-3 text-center d-block">Bạn chưa mua hàng</p>
                    <!--  -->
                {% endif %}

                <h1 class="font-24 mb-4 text-uppercase">Lịch sử mua hàng</h1>
                <div class="account-info-res">
                    <table class="table border">
                        <tr class="bg-light">
                            <th class="font-weight-500 text-center">Mã đơn hàng</th>
                            <th class="font-weight-500 text-center">Ngày đặt</th>
                            <th class="font-weight-500 text-center">Giá trị đơn</th>
                            <th class="font-weight-500 text-center">Thanh toán</th>
                            <th class="font-weight-500 text-center">Trạng thái đơn hàng</th>
                            <th class="font-weight-500 text-center">Trạng thái giao vận</th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.order_code }}</td>
                                <td>{{ order.date_added }}</td>
                                <td>{{ order.total | number_format }} VND</td>
                                <td>{{ order.payment_status }}</td>
                                <td>{{ order.order_status }}</td>
                                <td>{{ order.transport_order_status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>    
            </div> <!-- End col-md-6 -->

            <div class="col-12 col-md-4">
                <div class="border py-4 px-3">
                    <h2 class="font-16 mb-3 text-uppercase">{{ account_info_title }}</h2>
                    <p class="d-flex mb-3">
                        <span class="w-30 text-uppercase sixth-color">Họ và tên:</span>
                        <span>{{ account_info.lastname }} {{ account_info.firstname }}</span>
                    </p>
                    <p class="d-flex mb-3">
                        <span class="w-30 text-uppercase sixth-color">Địa chỉ:</span>
                        <span>{{ account_info.full_address }}</span>
                    </p>
                    <p class="d-flex mb-3">
                        <span class="w-30 text-uppercase sixth-color">điện thoại:</span>
                        <span>{{ account_info.phone_number }}</span>
                    </p>
                    <p class="d-flex mb-4">
                        <span class="w-30 text-uppercase sixth-color">Email:</span>
                        <span>{{ account_info.email }}</span>
                    </p>
                    <a class="btn btn-outline-secondary main-bg rounded-2 px-5 py-2 text-white w-100 text-uppercase font-weight-500" href="{{ href_setting_account }}">Cài đặt địa chỉ</a>
                </div>
            </div>
        </div> <!-- End row -->

    </div>
</main>

{{ footer }}

<style type="text/css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>