{{ header }}

<!-- Breadcrumb -->
<section class="container">
    <ul class="back-link">
        <li><a href="{{ home }}">Trang chủ</a></li>
        <li><a href="javascript:;"> Quên mật khẩu</a></li>
    </ul>
</section>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-user-login">
    <div class="container">
        <div class="user-login">
            <div class="block-left">
                <h1 class="header-font">Đăng nhập</h1>
                <p class="header-font">hoặc <a href="{{ register }}">Đăng ký</a></p>
            </div>
            <div class="block-right">
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="form-login">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data">
                        <p class="header-font mb-2">Khôi phục mật khẩu</p>
                        <div class="form-group">
                            <input type="email" name="email" id="" class="form-control" placeholder="Email" required
                                   aria-describedby="helpId">
                        </div>
                        <div class="form-group justify-content-start">
                            <button type="submit" class="btn btn-submit">Gửi</button>
                            <a href="{{ home }}">Bỏ qua</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

{{ footer }}