{{ header }}

<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ href_home }}">{{ text_home }}</a></li>
            <li class="ega-menu__item"><a href="{{ href_profile }}">{{ text_account }}</a></li>
            <li class="ega-menu__item">{{ setting_address }}</li>
        </ul>
    </div>
</section>

<div id="ega-address" class="ega-p-b--3">
        <div class="ega-container">
            <div class="ega-address__action ega-m-b--3">
                <a class="ega-color--info" href='{{ href_profile }}'><svg class="ega-ic-undo">
                        <use xlink:href="#ega-ic-undo"></use>
                    </svg> Quay lại trang {{ text_account }}</a>
                <a href="#" class="ega-btn ega-btn-color" onclick="CustomerAddress.toggleNewForm(); return false;">+ Thêm địa chỉ</a>
            </div>
            <div id="add_address" style="display: none">
                <div class="ega-address__inputform">
                    <form accept-charset='UTF-8' action='' id='saveform' method='post'>
                        <input name="form_type" type="hidden" value="add_address">
                        <div class="ega-form__group">
                            <label>Họ và Tên</label>
                            <input type="text" id="address_first_name_new" class="ega-form__control" name="fullname" size="40" value="" placeholder="Họ và Tên" />
                        </div>
                        <div class="ega-form__group">
                            <label>Địa chỉ <b class="ega-color--danger">(*)</b></label>
                            <input type="text" id="address_address1_new" class="ega-form__control ega-required" name="address" size="40" value="" placeholder="Địa chỉ" />
                            <div class="ega-form__mess" style="">Bạn chưa nhập thông tin này!</div>
                        </div>
                        <div class="ega-form__group">
                            <label>Tỉnh / Thành phố</label>
                            <select class="ega-form__control" name="city_delivery" required></select>
                        </div>
                        <div class="ega-form__group">
                            <label>Quận / Huyện</label>
                            <select class="ega-form__control" name="district_delivery"><option>{{ txt_district }}</option></select>
                        </div>
                        <div class="ega-form__group">
                            <label>Xã / Phường</label>
                            <select class="ega-form__control" name="ward_delivery"><option>{{ txt_ward }}</option></select>
                        </div>
                        <div class="ega-form__group">
                            <label>Số điện thoại <b class="ega-color--danger">(*)</b></label>
                            <input type="text" id="address_phone_new" class="ega-form__control ega-required" name="phone" size="40" value="" placeholder="Số điện thoại" />
                            <div class="ega-form__mess" style="">Bạn chưa nhập thông tin này!</div>
                        </div>
                        <div class="ega-form__group">
                            <label {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                                <input type="checkbox" name="default" {{ account_infos|length == 0 ? 'checked' : '' }} value="true" id="setDefaultNew"> Đặt làm địa chỉ mặc định.
                            </label>
                        </div>
                        <div class="ega-form__group">
                            <div id="msg_err"></div>
                        </div>
                        <div class="ega-form__group">
                            <button class="ega-btn ega-m--0 ega-btn-color" name="save" id="save" type="submit">Thêm mới</button>
                            <span class="">hoặc <a href="#" class="ega-color--info" onclick="CustomerAddress.toggleNewForm(); return false;">Hủy</a></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ega-address__list">
                {% for account_info in account_infos %}
                <div class="ega-address__item">
                    <div id="view_address_{{ account_info.address_id }}">
                        <span class="ega-f--right">
                            <a class="ega-color--info" href="#" onclick="CustomerAddress.toggleForm({{ account_info.address_id }});return false">Chỉnh sửa</a> 
                            {% if account_info.default != account_info.address_id %}
                                | <a class="ega-color--danger" href="#" onclick="delete_address({{ account_info.address_id }})">Xóa</a>
                            {%endif%}
                        </span>
                        <p><strong>Họ tên:</strong> {{ account_info.lastname }} {{ account_info.firstname }} {% if account_info.default == account_info.address_id %}<span class="ega-base-color__text ega-m-l--4">( Địa chỉ mặc định )</span>{% endif %}</p>
                        <p><strong>Địa chỉ:</strong> {{ account_info.full_address }}</p>
                        <p><strong>Số điện thoại:</strong> {{ account_info.phone_number }}</p>
                    </div>
                    <div id="edit_address_{{ account_info.address_id }}" style="display: none">
                        <div class="ega-address__inputform">
                            <form accept-charset='UTF-8' action='' id='edit_{{ account_info.address_id }}'>
                                <div class="ega-form__group">
                                    <label>Họ và Tên</label>
                                    <input type="ega-form__control" class="ega-form__control textbox" name="fullname" size="40" value="{{ account_info.lastname }} {{ account_info.firstname }}" placeholder="Họ và Tên">
                                </div>
                                <div class="ega-form__group">
                                    <label>Địa chỉ <b class="ega-color--danger">(*)</b></label>
                                    <input type="text" class="ega-form__control" name="address" size="40" value="{{ account_info.address }}" placeholder="Địa chỉ">
                                </div>
                                <div class="ega-form__group">
                                    <label>Tỉnh / Thành phố</label>
                                    <select class="ega-form__control" name="city_delivery" required>
                                        <option value="">{{ txt_province }}</option>
                                        {% for province in provincess %}
                                            <option value="{{ province.code }}" {% if account_info.province == province.code %}selected{% endif %}>{{ province.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="ega-form__group">
                                    <label>Quận / Huyện</label>
                                    <select class="ega-form__control" name="district_delivery">
                                        <option>{{ txt_district }}</option>
                                        {% for district_vl in account_info.districts_edits_info %}
                                            <option value="{{ district_vl.code }}" {% if account_info.districts == district_vl.code %}selected{% endif %}>{{ district_vl.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="ega-form__group">
                                    <label>Xã / Phường</label>
                                    <select class="ega-form__control" name="ward_delivery">
                                        <option>{{ txt_ward }}</option>
                                        {% for ward in account_info.ward_edits_info %}
                                            <option value="{{ ward.code }}" {% if account_info.wards == ward.code %}selected{% endif %}>{{ ward.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="ega-form__group">
                                    <label>Số điện thoại <b class="ega-color--danger">(*)</b></label>
                                    <input type="text" class="ega-form__control" name="phone" size="40" value="{{ account_info.phone_number }}" placeholder="Số điện thoại">
                                </div>
                                <div class="ega-form__group">
                                    <label {{ account_info.default == account_info.address_id ? 'style="pointer-events: none"': '' }}>
                                        Đặt làm địa chỉ mặc định: 
                                        <input type="checkbox" {{ account_info.default == account_info.address_id ? 'checked': '' }} name="default" id="setDefaultEdit{{ account_info.address_id }}">
                                    </label>
                                </div>
                                <div class="ega-form__group">
                                    <div id="msg_err{{ account_info.address_id }}"></div>
                                </div>
                                <div class="ega-form__group">
                                    <button id="saveedit_{{ account_info.address_id }}" class="ega-btn ega-m--0 ega-btn-color" type="submit">Cập nhật</button>
                                    <input type="hidden" name="edit_hide" value="1">
                                    <input type="hidden" name="address_id" value="{{ account_info.address_id }}">
                                    <span class="">hoặc <a href="/" class="ega-color--info" onclick="CustomerAddress.toggleForm({{ account_info.address_id }}); return false;">Hủy</a></span>
                                </div>
                            </form>
                            
                            <script>
                                $(function () {
                                    $("#saveedit_{{ account_info.address_id }}").click(function(){
                                        $.ajax({
                                            type: 'post',
                                            url: '{{ href_save }}',
                                            dataType : 'json',
                                            data: $('form#edit_{{ account_info.address_id }}').serialize(),
                                            success: function (data) {
                                                if(data.error_code == 0) {
                                                    location.href = data.href;
                                                }
                                                else {
                                                    $("#msg_err{{ account_info.address_id }}").html("<span style='color:red'>" + data.message + "</span>");
                                                }
                                            }
                                            });
                                            return false;
                                        });
                                        $("#display_form_{{ account_info.address_id }}").click(function(){
                                        location.reload();
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

<script>
    var CustomerAddress = {
        toggleForm: function (id) {
            var editEl = document.getElementById('edit_address_' + id);
            var viewEl = document.getElementById('view_address_' + id);
            editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
            viewEl.style.display = viewEl.style.display == 'none' ? '' : 'none';
            return false;
        },
        
        toggleNewForm: function () {
            var el = document.getElementById('add_address');
            el.style.display = el.style.display == 'none' ? '' : 'none';
            return false;
        }
    }
    
    $("#display_form").click(function(){
        location.reload();
    });
    $(function () {
        $("#saveform").on('submit', function(){
            $.ajax({
                type: 'post',
                url: '{{ href_save }}',
                dataType : 'json',
                data: $('form#saveform').serialize(),
                success: function (data) {
                    if(data.error_code == 0) {
                        location.href = data.href;
                    }
                    else {
                        $("#msg_err").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
    function delete_address(id) {
        if (confirm('{{ text_delete }}')) {
            $.ajax({
                url: "{{ href_delete }}",
                type: "POST",
                data: {id : id},
                dataType: "html",
                success: function() {
                    location.reload();
                }
            });

        }
    }
    $(document).ready(function () {
        $(".hidden_add_address").click(function(){
            $(".form_edit").removeClass("d-none");
        });
        $(".hidden_edit_address").click(function(){
            $(".form_edit").addClass("d-none");
        });

        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $(this).find('option:selected').val();
            console.log(provinceCode);
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            selectCityDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_province }}'
                }));
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            //selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces, element) {
            var selectDistrictDeliveryEl = $('select[name="district_delivery"]');
            //reset ward
            var selectWardDeliveryEl = $('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));

            console.log(provinces);
            selectDistrictDeliveryEl.html('');
            selectDistrictDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_district }}'
                }));
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectDistrictDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            var selectWardDeliveryEl = $('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }
    });
</script>

{{ footer }}