{{ header }}
<div class="bestme_app_after_header">

</div>
<div class="block-pages-product">

    <div class="container">
        <div class="row">
            <div class="col-md-9 order-md-3">
                <div class="block-control">
                        <div class="count-product header-font">
                            Hiển thị tất cả <span>{{ customer_total }}</span> sản phẩm
                        </div>
                        <!--<div class="custom-selectag " >-->
                        <div class="custom-selectag text-color" id="product-sort">
                            <select id="product-sort-select">
                                <option value="">Sắp xếp</option>
                                <option value="{{ urlsortProduct }}&valueoptiton=1" {{ valueoptiton == 1 ? 'selected': '' }}>Theo tên: A-Z</option>
                                <option value="{{ urlsortProduct }}&valueoptiton=2" {{ valueoptiton == 2 ? 'selected': '' }}>Theo tên: Z-A</option>
                                <option value="{{ urlsortProduct }}&valueoptiton=3" {{ valueoptiton == 3 ? 'selected': '' }}>Theo giá: Từ cao đến thấp</option>
                                <option value="{{ urlsortProduct }}&valueoptiton=4" {{ valueoptiton == 4 ? 'selected': '' }}>Theo giá: Từ thấp đến cao</option>
                            </select>
                        </div>

                        <div class="filter">
                            Bộ lọc:<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-funnel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                            </svg>
                        </div>
                </div>
                <div class="list-product">
                    <div class="row" id="product-content">
                        {% if products|length == 0 %}
                            <div class="w-100 text-center">
                                <p class="font-italic">{{ text_no_products }}</p>
                            </div>
                        {% endif %}
                        {% for product in products %}
                            <div class="col-sm-6 col-lg-4">
                                <div class="product-item">
                                    <div class="thumb-product">
                                        <div class="product-status">
                                            {% if product.Percent_protduct != 0 %}<div class="status-item main-color">{{ product.Percent_protduct }}</div> {% endif %}
                                            {% if product['product_is_stock'] == false %} <div class="status-item">Hết hàng </div>{% endif %}
                                        </div>
                                        <!--<div class="product-like">
                                            <a name="" id="" class="btn btn-like" href="javascript:void(0)" role="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
                                                    <path d="M21.4921 3.00805C20.9349 2.45087 20.2734 2.00888 19.5455 1.70733C18.8175 1.40579 18.0373 1.25058 17.2493 1.25058C16.4613 1.25058 15.6811 1.40579 14.9531 1.70733C14.2252 2.00888 13.5637 2.45087 13.0065 3.00805C12.5865 3.42805 12.2701 3.90505 12.0001 4.40155C11.7338 3.88995 11.3942 3.41998 10.9921 3.00655C9.8668 1.8813 8.34064 1.24915 6.7493 1.24915C5.15796 1.24915 3.6318 1.8813 2.50655 3.00655C1.3813 4.1318 0.749146 5.65796 0.749146 7.2493C0.749146 8.84064 1.3813 10.3668 2.50655 11.4921L12.0001 20.7501L21.4921 11.4921C22.0495 10.9352 22.4918 10.274 22.7936 9.54609C23.0953 8.81821 23.2506 8.038 23.2506 7.25005C23.2506 6.46211 23.0953 5.68189 22.7936 4.95401C22.4918 4.22614 22.0495 3.56488 21.4921 3.00805V3.00805Z" stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                        </div>-->
                                        <a href="{{ product.href }}"><img class="img-fluid" src="{{ product.thumb }}" alt="{{ product.name }}">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="name header-font">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </h4>
                                        <!--<div class="rating">
                                            <form action="" class="clearfix">
                                                <div class="form-group">
                                                    <input class="star star-5" id="star-5" type="radio" name="star">
                                                    <label class="star star-5" for="star-5"></label>
                                                    <input class="star star-4" id="star-4" type="radio" name="star">
                                                    <label class="star star-4" for="star-4"></label>
                                                    <input class="star star-3" id="star-3" type="radio" name="star">
                                                    <label class="star star-3" for="star-3"></label>
                                                    <input class="star star-2" id="star-2" type="radio" name="star">
                                                    <label class="star star-2" for="star-2"></label>
                                                    <input class="star star-1" id="star-1" type="radio" name="star">
                                                    <label class="star star-1" for="star-1"></label>
                                                </div>
                                            </form>
                                        </div>-->
                                        <div class="price-display">
                                            {% if product.is_contact_for_price %}
                                                <span class="price">
                                                    {{ contact }}
                                                </span>
                                            {% else %}
                                                {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        <div class="price-new header-font header-color text-truncate">
                                                            <span class="price" title="{{ product.price_version_min | replace({'VND': 'đ'}) }}">{{ product.price_version_min | replace({'VND': 'đ'}) }} </span>
                                                            {% if product.price_version_min != product.price_version_max %}
                                                                ~ <span class="price" title="{{ product.price_version_max | replace({'VND': 'đ'}) }}">{{ product.price_version_max | replace({'VND': 'đ'}) }} </span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="price-old header-font text-truncate">
                                                            <span class="price" title="{{ product.compare_version_min | replace({'VND': 'đ'}) }}">{{ product.compare_version_min | replace({'VND': 'đ'}) }} </span>
                                                            {% if product.compare_version_min != product.compare_version_max %}
                                                                ~ <span class="price" title="{{ product.compare_version_max | replace({'VND': 'đ'}) }}">{{ product.compare_version_max | replace({'VND': 'đ'}) }} </span>
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="price-new header-font header-color text-truncate">
                                                            <span class="price" title="{{ product.compare_version_min | replace({'VND': 'đ'}) }}">{{ product.compare_version_min | replace({'VND': 'đ'}) }} </span>
                                                            {% if product.compare_version_max != product.compare_version_min %}
                                                                ~ <span class="price" title="{{ product.compare_version_max | replace({'VND': 'đ'}) }}">{{ product.compare_version_max | replace({'VND': 'đ'}) }} </span>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if product.price == 0 %}
                                                    <div class="price-new header-font header-color text-truncate">
                                                        <span class="price number-format-3" title="{{ product.compare_price | replace({'VND': 'đ'}) }}">{{ product.compare_price | replace({'VND': 'đ'}) }} </span>
                                                    </div>
                                                    {% else %}
                                                        <div class="price-new header-font header-color text-truncate">
                                                            <span class="price number-format-3" title="{{ product.price | replace({'VND': 'đ'}) }}">{{ product.price | replace({'VND': 'đ'}) }} </span>
                                                        </div>
                                                        <div class="price-old header-font text-truncate">
                                                            <span class="price" title="{{ product.compare_price | replace({'VND': 'đ'}) }}">{{ product.compare_price | replace({'VND': 'đ'}) }} </span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="action">
                                            <button type="button" name="" onclick="window.location='{{ product.href }}'" id="" class="btn btn-addcart" btn-lg="" btn-block ="">Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                    </div>
                </div>
                <div class="block-pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {{ pagination }}
                            <!-- <li class="page-item disabled">
                                 <a class="page-link" href="#" aria-label="Previous">
                                     <span aria-hidden="true">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
                                                 <path d="M10.4349 0.761269C10.3254 0.646865 10.1952 0.556107 10.052 0.494185C9.90879 0.432262 9.75527 0.40039 9.60022 0.40039C9.44518 0.40039 9.29166 0.432262 9.14843 0.494185C9.00521 0.556107 8.87509 0.646865 8.76552 0.761269L0.74592 9.1192C0.636227 9.23348 0.549207 9.36918 0.489835 9.51856C0.430463 9.66794 0.399903 9.82805 0.399903 9.98975C0.399903 10.1515 0.430463 10.3116 0.489835 10.4609C0.549207 10.6103 0.636227 10.746 0.74592 10.8603L8.76553 19.2182C8.87409 19.3372 9.00439 19.4323 9.14875 19.4979C9.29311 19.5635 9.4486 19.5983 9.60606 19.6003C9.76352 19.6023 9.91977 19.5713 10.0656 19.5093C10.2114 19.4473 10.3438 19.3555 10.4551 19.2392C10.5663 19.123 10.6542 18.9847 10.7134 18.8325C10.7726 18.6803 10.8019 18.5173 10.7998 18.3531C10.7976 18.1889 10.764 18.0268 10.7008 17.8763C10.6376 17.7259 10.5462 17.5901 10.432 17.4771L3.24707 9.98975L10.432 2.50238C10.5419 2.3883 10.6291 2.25276 10.6887 2.10349C10.7484 1.95422 10.7792 1.79416 10.7795 1.63246C10.7797 1.47076 10.7494 1.31059 10.6903 1.1611C10.6312 1.01161 10.5444 0.875748 10.4349 0.761269Z" fill="#454545" fill-opacity="0.82"></path>
                                             </svg>
                                         </span>
                                     <span class="sr-only">Previous</span>
                                 </a>
                             </li>
                             <li class="page-item active"><a class="page-link" href="#">1</a>
                             </li>
                             <li class="page-item"><a class="page-link" href="#">2</a>
                             </li>
                             <li class="page-item"><a class="page-link" href="#">3</a>
                             </li>
                             <li class="page-item"><a class="page-link" href="#">4</a>
                             </li>
                             <li class="page-item"><a class="page-link" href="#">......</a>
                             </li>
                             <li class="page-item"><a class="page-link" href="#">15</a>
                             </li>
                             <li class="page-item">
                                 <a class="page-link" href="#" aria-label="Next">
                                     <span aria-hidden="true">
                                             <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
                                                 <path d="M0.565077 19.2387C0.674647 19.3531 0.804766 19.4439 0.947989 19.5058C1.09121 19.5677 1.24473 19.5996 1.39978 19.5996C1.55482 19.5996 1.70834 19.5677 1.85157 19.5058C1.99479 19.4439 2.12491 19.3531 2.23448 19.2387L10.2541 10.8808C10.3638 10.7665 10.4508 10.6308 10.5102 10.4814C10.5695 10.3321 10.6001 10.1719 10.6001 10.0102C10.6001 9.84854 10.5695 9.68843 10.5102 9.53905C10.4508 9.38968 10.3638 9.25397 10.2541 9.13969L2.23448 0.78176C2.12591 0.662795 1.99561 0.567701 1.85125 0.502082C1.70689 0.436464 1.5514 0.401652 1.39394 0.399696C1.23648 0.397739 1.08023 0.42868 0.934418 0.490693C0.788604 0.552707 0.656168 0.644536 0.544916 0.760772C0.433664 0.877008 0.34585 1.01529 0.286648 1.16748C0.227447 1.31967 0.198058 1.48268 0.200211 1.6469C0.202366 1.81112 0.236019 1.97323 0.299189 2.12368C0.36236 2.27412 0.453769 2.40985 0.568028 2.52287L7.75293 10.0102L0.568027 17.4976C0.458141 17.6117 0.37089 17.7472 0.311265 17.8965C0.25164 18.0458 0.220808 18.2058 0.220533 18.3675C0.22026 18.5292 0.25055 18.6894 0.30967 18.8389C0.368788 18.9884 0.455578 19.1243 0.565077 19.2387Z" fill="#454545" fill-opacity="0.82"></path>
                                             </svg>
                                         </span>
                                     <span class="sr-only">Next</span>
                                 </a>
                             </li>-->
                        </ul>
                    </nav>
                </div>
            </div>

            {% if is_on_mobile != 1 %}
                <div class="col-md-3">
                <!-- product-list-filter -->
                <div class="product-list-filter bestme-block-filter-1">
                    <!-- filter box -->
                    <div class="block-filter mb5">
                        <h4 class="block-title header-font mb-4">Lọc sản phẩm</h4>
                        {% if visible_collection == 1 %}
                            <div class="filter-item">
                                <h5 class="header-font">{{ visible_collection_title }}</h5>
                                <ul>
                                    {% for collection in collections %}
                                        <li><a href="{{ collection.url }}" class="{{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a></li> {#or (not filter_collection_id and collection.collection_id == -1 )#}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if visible_supplier == 1 %}
                            <div class="filter-item">
                                <h5 class="header-font">{{ visible_supplier_title }}</h5>
                                <ul>
                                    {% for manufacturer in manufacturers %}
                                        <li><a href="{{ manufacturer.url }}" class="{{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a></li>  {#or (not filter_manufacturer_id and manufacturer.manufacturer_id == -1 )#}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if visible_category == 1 %}
                            <div class="filter-item">
                                <h5 class="header-font">{{ visible_category_title }}</h5>
                                {% include 'default/template/common/category_list_template.twig' %}
                            </div>
                        {% endif %}
                        {% if visible_product_price == 1 %}
                            <div class="filter-item">
                                <h5 class="header-font">giá sản phẩm</h5>
                                <p>Vui lòng chọn khoảng giá</p>
                                <div id="slider-range"> </div>
                                <div class="range-slider">
                                    <label for="amount">Từ </label>
                                    <input type="text" id="amount" readonly="">
                                    <input type="hidden" id="amount1"  name="amount1">
                                    <input type="hidden" id="amount2" name="amount2">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.filter box -->
                    <!-- filter box -->
                    {% if visible_tag == 1 %}
                    <div class="block-filter mb5">
                        <h4 class="block-title header-font mb-4">Lọc theo tag</h4>
                        <div class="filter-item">
                            <div class="list-tag">
                                {% for tag in tags %}
                                    <a href="{{ tag.url }}" class="tag {{ filter_nametag == tag.tag_id ? 'active' : '' }}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- /.filter box -->
                </div>
                <!-- /.product-list-filter -->
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="bestme_app_after_product">

</div>
<div class="bestme_app_before_footer">

</div>
<script>
    $(document).ready(function () {
        //Select tag
        var x, i, j, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-selectag");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

        resizeHeightElementRatio('.list-product .thumb-product');
    });
    $("body").on('DOMSubtreeModified', "#product-sort .select-selected", function() {
        var text = $('#product-sort .select-selected').text();
        if($.trim(text) !== ''){
            var val = $('#product-sort-select option').filter(function () { return $(this).html() === text; }).val();
            window.location = val;
        }
    });

    $(function() {
        // bind change event to select
        $('.filterOpiton').on('change', function() {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
    });



    function filter() {
        var url = window.location.href;
        var valueoptiton = $('select.filterOpiton').val();
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                valueoptiton: valueoptiton,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }
    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").val(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                delayOnChange(function () {
                    var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
                    var regexMin = new RegExp("&min=\\d+");
                    var regexMax = new RegExp("&max=\\d+");
                    url = url.replace(regexMin, '');
                    url = url.replace(regexMax, '');
                    // console.log(ui.values[1]);
                    window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                    $("#amount1" ).val(ui.values[ 0 ]);
                    $("#amount2" ).val(ui.values[ 1 ]);
                });
            }
        });
        $("#amount").val(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }
</script>
<style>
    a.active{
        color: #CA6971 !important;
    }
  
</style>
{{ footer }}