<div class="box-product-filter" id="product-category">
    <h2 class="block-title">{{ visible_category_title }}</h2>
    <ul class="nav flex-column">
        {% for category in categories %}
            {% if category.parent_id == 0 %}
                <li class="{% if category.list_sub is not empty %} nav-item has-child {% endif %}">
                    <a title="{{ category.name }}" href="{{ category.url }}"
                       class="nav-link {% if category.category_id == category_selected %} acitve {% endif %}">
                        {% if category.list_sub is not empty %}
                            <span>{{ category.name }}</span>
                            <span class="toggle"></span>
                        {% else %}
                            {{ category.name }}
                        {% endif %}
                    </a>
                    {% if category.list_sub is not empty %}
                        <ul class="nav child-nav">
                            {% for subCategory in category.list_sub %}
                                {% if subCategory.parent_id == category.category_id %}
                                    <li class="{% if subCategory.list_sub is not empty %}nav-item has-child{% endif %}">
                                        <a title="{{ subCategory.name }}" href="{{ subCategory.url }}"
                                           class="nav-link {% if subCategory.category_id == category_selected %} active {% endif %}">
                                            {% if subCategory.list_sub is not empty %}
                                                <span>{{ subCategory.name }}</span>
                                                <span class="toggle"></span>
                                            {% else %}
                                                {{ subCategory.name }}
                                            {% endif %}
                                        </a>
                                        {% if subCategory.list_sub is not empty %}
                                            <ul class="nav child-nav">
                                                {% for sub2Category in subCategory.list_sub %}
                                                    {% if sub2Category.parent_id == subCategory.category_id %}
                                                        <li>
                                                            <a class="nav-link {% if sub2Category.category_id == category_selected %} active {% endif %}"
                                                               title="{{ sub2Category.name }}" href="{{ sub2Category.url }}">
                                                                {% if sub2Category.list_sub is not empty %}
                                                                    <span>{{ sub2Category.name }}</span>
                                                                    <span class="toggle"></span>
                                                                {% else %}
                                                                    {{ sub2Category.name }}
                                                                {% endif %}
                                                            </a>
                                                            {% if sub2Category.list_sub is not empty %}
                                                                <ul class="nav child-nav">
                                                                    {% for sub3Category in sub2Category.list_sub %}
                                                                        {% if sub3Category.parent_id == sub2Category.category_id %}
                                                                            <li>
                                                                                <a class="nav-link {% if sub3Category.category_id == category_selected %} active {% endif %}"
                                                                                   title="{{ sub3Category.name }}" href="{{ sub3Category.url }}">
                                                                                    {% if sub3Category.list_sub is not empty %}
                                                                                        <span>{{ sub3Category.name }}</span>
                                                                                        <span class="toggle"></span>
                                                                                    {% else %}
                                                                                        {{ sub3Category.name }}
                                                                                    {% endif %}
                                                                                </a>
                                                                                {% if sub3Category.list_sub is not empty %}
                                                                                    <ul class="nav child-nav">
                                                                                        {% for sub4Category in sub3Category.list_sub %}
                                                                                            {% if sub4Category.parent_id == sub3Category.category_id %}
                                                                                                <li>
                                                                                                    <a class="nav-link {% if sub4Category.category_id == category_selected %} active {% endif %}"
                                                                                                       title="{{ sub4Category.name }}" href="{{ sub4Category.url }}">
                                                                                                        {{ sub4Category.name }}
                                                                                                    </a>
                                                                                                </li>
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                {% endif %}
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

        {#<li class="nav-item has-child">
                                            <a href="#" class="nav-link">
                                                <span>Cửa cuốn</span>
                                                <span class="toggle"></span>
                                            </a>
                                            <ul class="nav child-nav">
                                                <li class="nav-item has-child">
                                                    <a href="#" class="nav-link">
                                                        <span>Cửa cuốn 1</span>
                                                        <span class="toggle"></span>
                                                    </a>
                                                    <ul class="nav child-nav">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link">Cửa cuốn 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-item"><a href="#" class="nav-link">Cửa cuốn 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#" class="nav-link">Nhôm hệ</a></li>
                                        <li><a href="#" class="nav-link">Nhôm tấm</a></li>
                                        <li><a href="#" class="nav-link">Cửa cuốn chống cháy</a></li>#}
    </ul>
</div>