/*$MAIN_COLOR$*/
#header .header-top,
h1, h2, h3, h4, h5,
#modal-buy .modal-color-title
{
    color: $MAIN_COLOR$;
}

.text-third {
    color: $MAIN_COLOR$ !important;
}

#header .main-header {
    background: $MAIN_COLOR$;
}

/*$BUTTON_COLOR$*/
#header .navbar a.nav-link:hover, #header .navbar a.nav-link.active,
a,
#footer .footer-col li::before,
.box-product-filter .nav a.nav-link:hover, .box-product-filter .nav a.nav-link.active, .box-product-filter .nav a.nav-link:focus,
.product-item .prod-title:hover,
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    color: $BUTTON_COLOR$;
}

.text-primary
{
    color: $BUTTON_COLOR$ !important;
}

.btn.btn-primary,
.pagination .page-item.active .page-link
{
    background: $BUTTON_COLOR$;
}

.pagination .page-item.active .page-link
{
    border-color: $BUTTON_COLOR$;
}

.line-percent:after,
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    border-bottom-color: $BUTTON_COLOR$;
}

.line-percent-vertical:after
{
    border-left-color: $BUTTON_COLOR$;
}