{{ header }}

<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ href_home }}">{{ text_home }}</a></li>
            <li class="ega-menu__item">{{ text_account }}</li>
        </ul>
    </div>
</section>

<div class="ega-account ega-p-b--4">
    <div class="ega-container">
        <h3 class="ega-h4 ega-m--0">Tài khoản của bạn</h3>
        <p class="ega-text--bold">Danh sách đơn hàng mới nhất</p>
        <div class='ega-row'>
            <div class='ega-col-sm-8 ega-col-12'>
                <div class="customer_order ega-card ega-bg--white ega-m-b--4">
                    <div class="ega-orders-tb">
                        <div class="ega-orders-th" data-col="6">
                            <div class="order_number ega-text--center">Mã đơn hàng</div>
                            <div class="date ega-text--center">Ngày đặt</div>
                            <div class="total ega-text--center">Thành tiền</div>
                            <div class="payment_status ega-text--center">Trạng thái thanh toán</div>
                            <div class="fulfillment_status ega-text--center">Trạng thái đơn hàng</div>
                            <div class="ega-text--center">Trạng thái giao vận</div>
                        </div>
                        <div class="ega-orders-body">
                            {% for order in orders %}
                            <div class="ega-orders-row" data-col="6">
                                <div class="ega-orders-col">{{ order.order_code }}</div>
                                <div class="ega-orders-col">{{ order.date_added }}</div>
                                <div class="ega-orders-col">{{ order.total | number_format }} VND</div>
                                <div class="ega-orders-col">{{ order.payment_status }}</div>
                                <div class="ega-orders-col"><b class="ega-color--danger">{{ order.order_status }}</b></div>
                                <div class="ega-orders-col"><b class="ega-color--danger">{{ order.transport_order_status }}</b></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class='ega-col-sm-4 ega-col-12'>
                <div class='account-detail user_box'>
                    <p><strong>Họ tên: </strong> {{ account_info.lastname }} {{ account_info.firstname }}</p>
                    <p><strong>Email: </strong> {{ account_info.email }}</p>
                    <p><strong>Số nhà: </strong> {{ account_info.full_address }}</p>
                    <p><strong>Điện thoại: {{ account_info.phone_number }}</strong> </p>
                    <p><a id='view_address' class="ega-link ega-color--info" href='{{ href_setting_account }}'>Xem địa chỉ</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}
