#main-wrapper{
    overflow-x: hidden;
}
.home-slider .carousel {
    padding: 30px;
    background-color: #fff;
}
.page-slider, .banner-post{
    max-height: 468px;
    overflow: hidden;
}
.page-slider .carousel-control-next, .page-slider .carousel-control-prev {
    width: 10%;
}
.page-slider .carousel-control-prev{
    left: -25px;
}
.page-slider .carousel-control-next{
    right: -25px;
}
.page-slider .carousel-control-next:hover .carousel-control-next-icon, 
.page-slider .carousel-control-prev:hover .carousel-control-prev-icon{
    background: url('/catalog/view/theme/furniture_lim99_store_2/img/icons/i-next-hover.png') no-repeat;
}
.page-slider .carousel-control-prev-icon ,
.page-slider .carousel-control-next-icon {
    width: 36px;
    height: 36px;
    background: url('/catalog/view/theme/furniture_lim99_store_2/img/icons/i-next.png') no-repeat;
}
.page-slider .carousel-control-prev-icon {
    transform: rotate(180deg);
}
#carouselBanner .carousel-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(60, 60, 60, 0.4);
}
.slider-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.page-slider .carousel-indicators li {
    width: 11px;
    height: 11px;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}
.page-slider .carousel-indicators li.active {
    background-color: #fff;
}
.product-info ol.carousel-indicators {
    position: relative;
    margin: 10px 0px 0px;
}
.product-info .carousel-indicators li {
    width: 60px;
    height: 60px;
    margin: 0px 5px;
    text-indent: unset;
    opacity: 1;
    border: 0;
}

/* Custommer */
.custommer-avt {
    height: 130px;
}
/* End: Custommer */

/* Product */
.pro-price{
    *height: 50px;
}
.pro-price >span{
    display: block;
}
.old-price {
    text-decoration: line-through;
}
.pro-overlay .btn {
    width: 75%;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 34px;
    padding: 7px;
    font-size: 12px;
    color: #fff;
}
.pro-overlay .btn.view-now{
    color: #3F4755;
}
.pro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(92, 92, 92, 0.5);
    z-index: 2;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.pro-thumb:hover .pro-overlay {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
.pro-thumb .wrap-star-rate {
    position: absolute;
    left: 0;
    bottom: 5px;
}
.pro-thumb:hover .wrap-star-rate, .pro-thumb:hover .pro-list-type {
    opacity: 0;
}
.pro-item{
    padding: 25px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.pro-item:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transform: scale(1.005);
}
.pro-item .pro-item-title{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro-item .pro-thumb{
    padding: 50% 0;
    overflow: hidden;
}
.pro-item .pro-thumb>img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
}
.pro-thumb .pro-list-type {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.pro-thumb .pro-list-type.bottom{
    top: auto;
    bottom: 0;
}
.pro-thumb .pro-list-type span{
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 0.5rem;
    background: #fff;
}
.pro-thumb .pro-list-type span.right{
    float: right;
    background: #E58718;
    color: #fff;
    border: none;
}
.dropdown-filter button {
    min-width: 182px;
}
.dropdown-filter .dropdown-menu {
    min-width: 182px;
    padding: 20px 12px;
    border: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-filter .dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fcfcfc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -15px;
    right: 22px;
}
.dropdown-filter .dropdown-toggle::after {
    float: right;
    font-size: 24px;
    margin-top: 5px;
}
.dropdown-filter .dropdown-item:focus, .dropdown-filter .dropdown-item:hover {
    color: #E58718 !important;
    background-color: transparent;
}
.block-head h2 {
    line-height: 29px;
}
.brand-search input {
    height: 29px;
    background: url('/catalog/view/theme/furniture_lim99_store_2/img/icons/i-search.png') no-repeat right 10px center;
}
.overflow-scrolly {
    height: 170px;
    overflow-y: scroll;
}
.overflow-scrolly::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar-thumb {
    background-color: rgba(111, 111, 111, 0.15);
    border: 2px solid rgba(111, 111, 111, 0.15);
}
.count-product {
    vertical-align: sub;
}
/* End: Product */

/* Sidebar */
.accordion .collapsed i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.box-product-filter{
    margin-bottom: 15px;
    background: #FBFBFB;
    padding-bottom: 15px;
    color: #3F4755;
}
.box-product-filter .block-title{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20x;
    padding: 5px 0;
    margin: 15px 0 10px;
    border-bottom: 1px solid #EBEBEB;
}
.box-product-filter nav.nav a{
    line-height: 18px;
    padding: 10px 0;
    color: #3F4755;
    font-weight: 400;
}
.box-product-filter nav.nav a:hover,
.box-product-filter nav.nav a.active{
    font-weight: 500;
    color: #E58718;
}
.box-product-filter .price-range input.form-control{
    border-radius: 4px;
    min-height: auto;
    height: 22px;
    width: 45%;
    line-height: 20px;
    padding: 0 5px;
}
.box-product-filter a.tag-item{
    background: #fff;
    margin-bottom: 10px;
    font-size: 12px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    color: #949494;
}
.box-product-filter a.tag-item:hover,
.box-product-filter a.tag-item.active{
    background: #E58718;
    color: #fff;
}
/* End: Sidebar */

.buy-total button {
    border: 0;
    font-weight: 600;
    font-size: 16px;
    color: #454545;
    background-color: transparent;
}
.cart-listing .buy-total button {
    background-color: #E58718;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 22px;
}
.buy-total button:focus {
    outline: none;
}
.buy-total .custom-number-input {
    max-width: 60px;
}
.color-size .form-control {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.line-border {
    height: 1px;
    background-color: #c4c4c4;
    max-width: 590px;
    margin: auto;
}
.form-comment {
    max-width: 570px;
}
.form-comment .form-control {
    height: 33px;
}
.list-comment .wrap-star-rate .star {
    width: 14px;
    height: 14px;
}
.thumb-detail-type2 .wrap-star-rate {
    position: absolute;
    top: 25px;
    left: 40px;
}
.list-thumb-small img {
    width: 60px;
}
.product-info .thumb-detail-type3 .carousel-indicators {
    width: 15%;
    float: left;
    margin: 0;
}
.product-info .thumb-detail-type3 .carousel-inner {
    width: 85%;
    float: right;
}
.thumb-detail-type3 .wrap-star-rate {
    position: absolute;
    top: 25px;
    left: calc(15% + 30px);
}
.product-info .pro-action{
    display: inline-flex;
}
.product-info .pro-action input.custom-number-input,
.product-info .pro-action #add-to-cart{
    height: 35px;
    display: inline-block;
    line-height: 30px;
}
/* Cart */
.cart-table .table td, .cart-table .table th {
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
}
.discount-code {
    max-width: 300px;
}
.discount-code .form-control {
    height: 33px;
}
.cart-caculate {
    width: 300px;
}

/* End: Cart */
.other-address > a {
    text-decoration: underline;
}
.payment-info .discount-code {
    max-width: 100%;
}
.other-address {
    max-width: 515px;
}
.wrap-payment-success {
    height: 50vh;
}
.status-txt {
    background: url('/catalog/view/theme/furniture_lim99_store_2/img/icons/i-success.png') no-repeat right center;
}
.more-buy {
    text-decoration: underline;
}
.order-history .table td, .order-history .table th {
    border-top: 0;
}
tr.order-item.first-item:after {
    background-color: #454545;
}
tr.order-item:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #e7e7e7;
    left: 5%;
}
.order-history td {
    padding-left: 5%;
    padding-right: 5%;
}
.list-address-info > li{
    display: flex;
}
.list-address-info label {
    min-width: 110px;
}
/* Login */
.wrap-form-login .social-login a{
    width: 45%;
    background: #3B5998;
    border-radius: 2px;
    color: #fff;
    line-height: 25px;
}
.wrap-form-login .social-login a.google-button{
    background: #4285F4;
}
.wrap-form-login .social-login a i{
    top: 2px;
}
.fogot-password {
    text-decoration: underline;
}
.form-register #show-pass {
    position: absolute;
    bottom: 4px;
    right: -30px;
}
/* End: Login */
/* Blog */
.nav-news {
    max-width: 590px;
}
.line-has-text:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
    left: 0;
    top: 11px;
    z-index: 1;
}
.line-has-text span {
    background-color: #fff;
    padding: 0px 10px;
    z-index: 2;
}
.news-hightlight {
    margin-bottom: 100px;
}
.news-title {
    letter-spacing: 0.09em;
}
.single-title {
    letter-spacing: 0.1em;
}
.news-thumb{
    position: relative;
    overflow: hidden;
    padding: 33.5% 0px;
}
.news-thumb img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
}
.news-thumb a{
    max-height: 350px;
    overflow: hidden;
}
/* End: Blog */
/* Payment */
.payment-form {
    max-width: 450px;
}
.payment-form .form-check .form-check-label {
    border: 1px dashed #787878;
}
.payment-form .form-check .form-check-input:checked ~ .form-check-label {
    border: 1px solid #E58718;
}
/* End: Payment */
.search-form-404 {
    max-width: 820px;
    margin: auto;
}
.search-form-404 .form-control {
    width: 82%;
    height: 48px;
}
.search-form-404 .btn {
    height: 48px;
}
.search-no-result {
    height: 100vh;
    background-color: rgba(242, 242, 242, 0.85);
}
.search-no-result p {
    color: #6B6B6B;
}
.search-box-ajax {
    border: 1px solid #EDEDED;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5px;
    padding: 15px 20px;
}

.owl-carousel.owl-product .owl-nav{
    margin: 0;
    position: absolute;
    top: -50px;
    right: 0;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]{
    height: 32px;
    width: 32px;
    margin: 0;
    margin-left: 15px;
    line-height: 30px;
    border-radius: 0;
    opacity: 0.8;
    transition: all 0.2s ease;
    transform: translateY(0);
    top: auto;
    left: auto;
    position: relative;
    right: auto;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]:hover,
.owl-carousel.owl-product .owl-nav button[class*=owl-]:focus,
.owl-carousel .owl-nav button[class*=owl-]:hover,
.owl-carousel .owl-nav button[class*=owl-]:focus
{
    background: none;
    outline: none;
    opacity: 1;
}
.owl-carousel .owl-nav button[class*=owl-] i{
    background: #3F4755;
}
.owl-carousel .owl-stage-outer{
    padding: 1rem 0;
}
.profile-nav{
    padding: 10px 0;
}
.profile-nav .nav-item{
    border-right: 1px solid #333333;
    padding: 0;
}
.profile-nav .nav-item:nth-last-child(1){
    border: none;
}
.profile-nav .nav-item a.nav-link{
    padding: 0 15px;
    color: #333333;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.profile-nav .nav-item a.nav-link:hover,
.profile-nav .nav-item a.nav-link.active{
    color: #E58718;
}
.product-listing{

}
.product-listing .filter-items{

}
.product-listing .filter-items .filter-item{

}
.product-listing .filter-items .filter-item .text{
    background: #F2F2F2;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 32px;
    height: 32px;
    display: inline-block;
}
.product-listing .filter-items .filter-item .close{
    background: #AFAAAA;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    font-size: 20px;
    text-align: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    margin-left: -2px;
    cursor: pointer;
    opacity: 0.9;
    line-height: 30px;
}
.product-teaser-fix{
    position: fixed;
    width: 100%;
    left: 0;
    top: 65px;
    background: #fff;
    z-index: 98;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
    display: none;
    padding: 1em 0;
}

.box-product-filter {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

/*!*css menu multi*!*/
#menu-product {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu-product ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#menu-product li a {
    color: #454545;
    padding: 10px 40px 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: solid 1px #e5e5e5;
}
#menu-product li a:hover {
    text-decoration: none;
    color: #E58718  ;
}

#menu-product ul li {
    position: relative;
}

#menu-product .sub-menu-2 {
    display: none;
    margin-left: 30px;
}

.dropdown-menu-product {
    transform: translate3d(0px, 44px, 0px) !important;
}

#menu-product .sub-menu-2 .sub-menu-3 {
    display: none;
    margin-left: 30px;
}

#menu-product ul .list-item::before {
    height: 41px;
    padding: 0 10px;
    content: "\f105";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    /*font-family: 'FontAwesome';*/
    font-weight: normal;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;

}

#menu-product  .active > ul {
    display: block;
}

#menu-product  .active .active > ul {
    display: block;
}

#menu-product ul .active::before {
    content: "\f107" !important;
}

#menu-product .sub-menu .selected > a {
    color: #E58718 !important;
}

#menu-product .sub-menu a {
    border: none;
    display: block;
}

.single-item .accodition {
    display: none;
}
.dropdown-filter .dropdown-menu {
    min-width: 300px !important;
    overflow-x: none;
}

.dropdown-filter .dropdown-menu-product {
    min-width: 300px !important;
}

/* filter */
@media (max-width: 768px) {
    i.close {
        margin-top: 5px;
    }
    #navbarFilter {
        width: 60%;
        text-align: left;
        background-color: #f5f5f5;
        position: fixed;
        top: 0;
        left: -60%;
        display: block;
        opacity: 0;
        visibility: hidden;
        padding: 5px;
        height: 100vh;
        z-index: 999;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        overflow-y: scroll;
    }
    #navbarFilter.show {
        left: 0px;
        opacity: 1;
        visibility: visible;
    }

    .pro-overlay .btn {
        height: unset;
    }
}

#overlayFilter.show {
    display: block;
}
#overlayFilter {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(111, 111, 111, 0.85);
    z-index: 99;
}

@media (min-width: 768px) {
    #navbarMainMenu > ul > .list-item::before {
        color: white;
        right: 0 !important;
    }

    .navbar-light .navbar-nav .active>.nav-link {

    }
}

#navbarMainMenu li a {
    padding: 10px 20px !important;
}

.box-product-filter a.tag-item:hover {
    color: white !important;
}

#add-to-cart-product {
    color: white !important;
}

.bestme-cart--go-to-checkout-page:hover {
    color: white !important;
}

.my-info .btn-primary:hover {
    color: white !important;
}

.order-detail-btn-back a:hover {
    color: white !important;
}

.scroll-custom {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: unset;
}

.pro-price >span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro-price > span.new-price {
    font-size: 1.142857142857143em;
}
.pro-price > span.old-price {
    font-size: .8571428571428571em;
}

#navbarMainMenu .user-account {
    display: none;
}

#header .form-search .cart-custom {
    display: none;
}

.block-header.fixed .home-search::after {
    left: 15px;
}

.block-header .home-search::after {
    right: 15px;
}

/*.main-header .form-search .cart-custom {*/
/*    display: none;*/
/*}*/
/* header */
@media (max-width: 768px) {
    #header.main-header.row {
        display: -webkit-flex; /* Safari */
        display: flex;
    }

    .block-header .home-search::after {
        right: 0;
    }

    .block-header.fixed .home-search::after {
        left: 0;
    }

    #header .form-search .row {
        justify-content: center;
    }

    #header .form-search .row {
        /*justify-content: center;*/
        width: 100%;
    }

    #header .form-search .cart-custom {
        display: block;
    }

    #header .form-search .row .col-6 {
        padding: 0;
    }

    .main-header .form-search .cart-custom {
        display: block;
    }

    .main-header .form-search .cart-custom .quantity {
        position: absolute;
    }

    .block-header.fixed .home-search input.form-control {
        padding-left: 10px !important;
    }

    .fixed .form-search .cart-custom svg, .fixed .form-search .cart-custom a {
        color: black;
    }

    #header:not(.fixed) .form-search .cart-custom svg, #header:not(.fixed) .form-search .cart-custom a {
        color: white;
    }

    #header .form-search {
        flex: 0 0 25% !important;
    }

    #navbarMainMenu .user-account {
        display: block;
    }

    #navbarMainMenu .user-account .user-menu{
        margin: auto;
        padding: 0;
        display: block !important;
    }

    #navbarMainMenu .user-account .user-menu .dropdown-menu-right {
        width: 180px;
        right: -70px;
    }

    #navbarMainMenu .user-account .user-menu .dropdown-menu-right:before {
        border-bottom: unset;
    }

    #navbarMainMenu .user-account .user-menu .dropdown-menu-right .dropdown-item:first-child {
        border-bottom: 1px solid #d8d8d8;
    }

    #navbarMainMenu .user-account .user-menu .dropdown-item {
        text-align: center;
        border: none;
    }

    #header .user-menu-mobile {
        display: none;
    }

    #input-search:not(.show-input) {
        display: none;
    }

    /*.home-search:focus {*/
    /*    color: red;*/
    /*    !*display: block;*!*/
    /*    !*position: relative;*!*/
    /*    !*width: 200px;*!*/
    /*    !*left: -160px;*!*/
    /*}*/

    .home-search .show-input {
        display: block;
        position: absolute;
        width: 200px;
        left: -160px;
        top: -6px;
    }

    /* Safari 6.1+ */
    #header .form-search   {-webkit-order: 3;}
    #header .logo   {-webkit-order: 2;}
    #header .main-menu   {-webkit-order: 1;}

    /* Standard syntax */
    #header .form-search {order: 3;}
    #header .logo {order: 2;}
    #header .main-menu {order: 1;}

    .block-header .home-search::after {
        width: 25px;
        height: 25px;
    }

    .header-default .main-header, .block-header.fixed .main-header {

    }

    #navbarMainMenu li {
        padding: 0 !important;
    }
}
