{{ header }}
<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb['active'] is defined %}
            <li class="ega-menu__item">{{ breadcrumb.text }}</li>
            {% else %}
            <li class="ega-menu__item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>
<div class="ega-container">
    <div id='ega-product-detail' class='ega-m-b--3'>
        <div class='ega-row ega-pro ega-pro--detail bestme-block-detail-product' id='ega-product-main'>
            <div class='ega-col-lg-6 ega-col-12'>
                <div class="ega-pro__img">
                    <div id='ega-pro-gallery' class='ega-pro__gallery'>
                        {% if product_images is not empty %}
                        {% for k,image in product_images %}
                        {%if k == 0%}
                        <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                        {%endif%}
                        {% endfor %}
                        {% else %}
                        <img src="{{ product_empty }}" alt="{{ image['image_alt'] }}">
                        {% endif %}
                    </div>
                    <div id='ega-pro-thumb' class="ega-pro__thumb owl-carousel owl-theme">
                        {% if product_images is not empty %}
                        {% for k,image in product_images %}
                        <div class='ega-pro__thumb-item'>
                            <img data-src="{{ image['image'] }}" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class='ega-pro__thumb-item'>
                            <img data-src="{{ product_empty }}" src="{{ product_empty }}" alt="">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class='ega-col-lg-6 ega-col-12'>
                <form id="add-to-cart" action="{{ action }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                    <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                    <h1 class='ega-pro__title ega-m-t--0'>{{ product['name'] }}</h1>
                    <p class='ega-pro__sku ega-m-t--0'>SKU: {{ product['sku'] }}</p>
                    <p class='ega-pro__status ega-m--0'>Tình trạng: <b>{% if product['product_is_stock'] %}Còn hàng{%else%}Hết hàng{%endif%}</b></p>
                    <div class="ega-pro__price-group">
                        {% if product['is_contact_for_price'] %}
                            <a class="ega-btn ega-btn-color open-ega-modal-buy">
                                <ins class="ega-h6 ega-text--no-underline font-18">{{ contact }}</ins>
                            </a>
                        {% else %}
                            {% if product['percent_sale'] is empty %}
                                {% if product['max_price_version'] is null %}
                                    <ins class="ega-pro__price ega-text--no-underline ega-color--danger">{%if product['compare_price_master'] == 0%}Liên hệ{%else%}{{ product['compare_price_master'] }}{%endif%}</ins>
                                {% else %}
                                    <ins class="ega-pro__price ega-text--no-underline ega-color--danger">
                                        {{ product['min_compare_price_version'] }}
                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                            ~ {{ product['max_compare_price_version'] }}
                                        {% endif %}
                                    </ins>
                                {% endif %}
                            {% else %}
                                {% if product['max_price_version'] is null %}
                                    <ins class="ega-pro__price ega-text--no-underline ega-color--danger">{{ product['price_master'] }}</ins>
                                {% else %}
                                    <ins class="ega-pro__price ega-text--no-underline ega-color--danger">
                                        {{ product['min_price_version'] }}
                                        {% if product['min_price_version'] != product['max_price_version'] %}
                                            ~ {{ product['max_price_version'] }}
                                        {% endif %}
                                    </ins>
                                {% endif %}

                                {% if product['max_compare_price_version'] is null %}
                                    <del class="ega-pro__price-del ega-small ega-color--secondary">{{ product['compare_price_master'] }}</del>
                                {% else %}
                                    <del class="ega-pro__price-del ega-small ega-color--secondary">
                                        {{ product['min_compare_price_version'] }}
                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                            ~ {{ product['max_compare_price_version'] }}
                                        {% endif %}
                                    </del>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if attributes is not empty %}
                    <div class="ega-swatch__wrapper ega-clearfix">
                        {% for attribute in attributes %}
                        <div class="ega-swatch ega-swatch--s2 ega-clearfix">
                            <h4 class="ega-swatch__heading">{{ attribute['attribute_name'] }}:</h4>
                            <div class="select-swap">
                                {% for key,attribute_text in attribute['attribute_text'] %}
                                <div class="ega-swatch__element">
                                    <input class="ega-hidden" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}" value="{{ attribute_text }}">
                                    <label for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">
                                        <span>{{ attribute_text }}</span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if product['sub_description'] is not empty %}
                        <div class="ega-tab__title"></div>
                        <div class="sub-description-product">
                            {{ product['sub_description']|html_entity_decode }}
                        </div>
                    {% endif %}

                    <div class='ega-pro__qty-wrapper ega-clearfix' data-ega-role='qty-wrapper'>
                        <label class='ega-pro__qty-title ega-small ega-text--bold'>Số lượng: </label>
                        <div class='ega-pro__qty'>
                            <input type="button" class="ega-pro__qty-control minus ega-text--center" data-ega-role="qty-minus" value="-">
                            <input type="number" min="1" required="" class="ega-pro__qty-input ega-text--center" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" step="1" max="9999" value="1" data-ega-role="qty"/>
                            <input type="button" class="ega-pro__qty-control plus ega-text--center" data-ega-role="qty-plus" value="+">
                        </div>
                    </div>
                    <div class='ega-pro__action {% if product['is_contact_for_price'] %} invisible {% else %} visible {% endif %}'>
                        <button id="addcart-btn" type="button" onclick="cart.add('{{ product['product_id'] }}')" data-ega-role='addtocart' class='ega-btn ega-pro__addtocart ega-btn--lg ega-btn--block ega-m-l--0
                                            ega-btn--square ega-m-b--4 ' data-quantity='1' {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check']==false %} disabled{% endif %} {%if product['compare_price_master'] == 0%} disabled{%endif%}>
                            MUA NGAY<span style="font-size: 12px">Giao tận nơi hoặc nhận ở cửa hàng</span> </button>
                        <button type="submit" class="ega-hidden">Buy Now</button>
                    </div>
                    <div class="ega-pro__policies">
                        <!--div class="ega-pro__policies-heading">
                                <h5 class="ega-m-t--0 ega-m-b--2">Bộ sản phẩm chuẩn</h5>
                            </div>
                            <div class="ega-pro__policies-content">
                                <div class="ega-pro__policies-item">
                                    <img src="//theme.hstatic.net/1000055206/1000241535/14/pd_policies_1.png">
                                    Bộ sản phẩm gồm có: <b>Sách hướng dẫn, phụ kiện</b>
                                </div>
                                <div class="ega-pro__policies-item">
                                    <img src="//theme.hstatic.net/1000055206/1000241535/14/pd_policies_1.png">
                                    Bảo hành chính hãng: <b>Sản phẩm bảo hành 1 năm, phụ kiện kèm theo bảo hành 6 tháng</b>
                                </div>
                                <div class="ega-pro__policies-item">
                                    <img src="//theme.hstatic.net/1000055206/1000241535/14/pd_policies_1.png">
                                    Nhận hàng miễn phí <b>48 tiếng</b>
                                </div>
                                <div class="ega-pro__policies-item">
                                    <img src="//theme.hstatic.net/1000055206/1000241535/14/pd_policies_1.png">
                                    Đổi sản phẩm lỗi miễn phí trong <b>1 tháng.</b>
                                </div>
                                <div class="ega-pro__policies-item">
                                    <img src="//theme.hstatic.net/1000055206/1000241535/14/pd_policies_1.png">
                                    Giao miễn phí trong nội thành 63/63 tỉnh
                                </div>
                            </div-->
                    </div>
                    <div class="ega-pro__social">
                        <div class="fb-like" data-href="/products/giay-cao-got-valentino-4" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class='ega-row ega-m-t--3'>
            <div class='ega-col-lg-80 ega-col-12'>
                <div class='ega-pro__content ega-p--0'>
                    <div class='ega-tab ega-pro__description'>
                        <ul class='ega-tab__title ega-ul'>
                            <li class='is-active'>
                                <a class='ega-text--bold ega-small' data-ega-role='tab' href='#tab-chi-tiet'>MÔ TẢ</a>
                            </li>
                            <li>
                                <a class='ega-text--bold ega-small' data-ega-role='tab' href='#tab-binh-luan'>BÌNH LUẬN</a>
                            </li>
                        </ul>
                        <div class='ega-tab__content'>
                            <div class='ega-tab__pane is-active' id='tab-chi-tiet'>
                                {{ product['description'] | html_entity_decode }}
                            </div>
                            <div class='ega-tab__pane' id='tab-binh-luan'>
                                <div class="fb-comments" data-href="{{ product['href'] }}" data-numposts="5" width="100%" data-colorscheme="light"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='ega-col-lg-20 ega-col-12 ega-hidden--xs ega-hidden--sm ega-hidden--md'>
                <div id='ega-product-scroll'>
                    <h2 class='ega-pro__title ega-m-t--0'>{{ product['name'] }}</h2>
                    <span class='ega-pro__sku ega-m-t--0'>SKU: {{ product['sku'] }}</span>
                    <p class='ega-pro__status ega-m--0'>Tình trạng: <b>{% if product['product_is_stock'] %}Còn hàng{%else%}Hết hàng{%endif%}</b></p>
                    <div class="ega-pro__price-group">
                        {% if product['is_contact_for_price'] %}
                            <a class="ega-btn ega-btn-color open-ega-modal-buy">
                                <ins class="ega-h6 ega-text--no-underline font-18">{{ contact }}</ins>
                            </a>
                        {% else %}
                            {% if product['percent_sale'] is empty %}
                            {% if product['max_price_version'] is null %}
                            <ins class="ega-pro__price ega-text--no-underline ega-color--danger">{%if product['compare_price_master'] == 0%}Liên hệ{%else%}{{ product['compare_price_master'] }}{%endif%}</ins>
                            {% else %}
                                <ins class="ega-pro__price ega-text--no-underline ega-color--danger">
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                </ins>
                            {% endif %}
                            {% else %}
                            {% if product['max_price_version'] is null %}
                            <ins class="ega-pro__price ega-text--no-underline ega-color--danger">{{ product['price_master'] }}</ins>
                            {% else %}
                                <ins class="ega-pro__price ega-text--no-underline ega-color--danger">
                                    {{ product['min_price_version'] }}
                                    {% if product['min_price_version'] != product['max_price_version'] %}
                                        ~ {{ product['max_price_version'] }}
                                    {% endif %}
                                </ins>
                            {% endif %}
                            {% if product['max_compare_price_version'] is null %}
                            <del class="ega-pro__price-del ega-small ega-color--secondary">{{ product['compare_price_master'] }}</del>
                            {% else %}
                                <del class="ega-pro__price-del ega-small ega-color--secondary">
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                </del>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class='ega-pro__action {% if product['is_contact_for_price'] %} invisible {% else %} visible {% endif %}'>
                        <button onclick="cart.add('{{ product['product_id'] }}')" class='ega-btn ega-pro__addtocart ega-btn--lg ega-btn--block ega-m-l--0 ega-btn--square' {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check']==false %} disabled{% endif %} {%if product['compare_price_master'] == 0%} disabled{%endif%}>
                            MUA NGAY<span style="font-size: 12px">Giao tận nơi hoặc nhận ở cửa hàng</span> </button>
                    </div>
                </div>
            </div>
        </div>
        {% if related_product_visible %}
        <div class='ega-pro__recentview bestme-block-product-related-product'>
            <div class="recent-view">
                <h3 class="ega-h5 recent-view__title">{{ related_product_title }}</h3>
                <div class="ega-p--2 recent-view__wrap ega-clearfix" id='product-recentview'>
                    <div class="ega-row">
                        {% for r, product in related_products %}
                        {%if r < related_products_display_grid_quantity%} <div class="ega-col-md-3 ega-col-sm-6 ega-col-6">
                            <div data-style="ega-product" class="ega-pro ega-pro--style2 ega-pro-item ega-text--center">
                                <div class="ega-pro__img">
                                    <a href="{{ product["href"] }}" class="ega-text--no-underline">
                                        <img src="{{ product['thumb'] }}" alt="{{ product["name"] }}">
                                    </a>
                                    <div class="ega-pro__overlay">
                                        {% if product['product_is_stock'] == 0 %}
                                        <a href='{{ product['href'] }}' class="ega-pro__action">Hết hàng</a>
                                        {%else%}
                                        <a href='{{ product['href'] }}' class="ega-pro__action">
                                            <svg class="ega-ic-eye">
                                                <use xlink:href="#ega-ic-eye"></use>
                                            </svg>
                                            Xem chi tiết
                                        </a>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="ega-pro__content">
                                    <h3 class="ega-pro__title ega-m-t--0 ega-h5">
                                        <a href="{{ product["href"] }}" class="ega-text--no-underline" title="{{ product["name"] }}">{{ product["name"] }}</a>
                                    </h3>
                                    <div class="ega-pro__price-group">
                                        {#
                                        {% if product.multi_versions == 1 %}
                                        {% if product.price_version_check_null !=0 %}
                                        <span class="product-price">
                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product.price_version_min }} ~ {{ product.price_version_max }}</ins>
                                        </span>
                                        <span class="product-price-sale">
                                            <del class='ega-pro__price-del ega-small ega-color--secondary'>{{ product.compare_version_min }} ~ {{ product.compare_version_max }}</del>
                                        </span>
                                        {% else %}
                                        <span class="product-price">
                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product.compare_version_min }} ~ {{ product.compare_version_max }}</ins>
                                        </span>
                                        {% endif %}
                                        {% else %}
                                        {% if product.price == 0 %}
                                        <span class="product-price">
                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product.compare_price }}</ins>
                                        </span>
                                        {% else %}
                                        <span class="product-price">
                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product.price }}</ins>
                                        </span>
                                        <span class="product-price-sale">
                                            <del class='ega-pro__price-del ega-small ega-color--secondary'>{{ product.compare_price }}</del>
                                        </span>
                                        {% endif %}
                                        {% endif %}
                                        /#}
                                        <!-- aaa -->
                                        {% if product['is_contact_for_price'] %}
                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ contact }}</ins>
                                        {% else %}
                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            {% if product['max_price_version'] is null %}
                                            <span class="product-price">
                                                <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product['compare_price_master'] }}</ins>
                                            </span>
                                            {% else %}
                                            <span class="product-price">
                                                <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                </ins>
                                            </span>
                                            {% endif %}
                                            {% else %}
                                            {% if product['max_price_version'] is null %}
                                            <span class="product-price">
                                                <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product['price_master'] }}</ins>
                                            </span>
                                            {% else %}
                                            <span class="product-price">
                                                <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>
                                                    {{ product['min_price_version'] }}
                                                    {% if product['min_price_version'] != product['max_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                </ins>
                                            </span>
                                            {% endif %}
                                            {% if product['max_compare_price_version'] is null %}
                                            <span class="product-price-sale">
                                                <del class='ega-pro__price-del ega-small ega-color--secondary'>{{ product['compare_price_master'] }}</del>
                                            </span>
                                            {% else %}
                                            <span class="product-price-sale">
                                                <del class='ega-pro__price-del ega-small ega-color--secondary'>
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                </del>
                                            </span>
                                            {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        <!-- end aaa -->
                                    </div>
                                </div>
                                {% if product['percent_sale'] is not empty %}
                                <div class="ega-pro__sale-tag style2">
                                    <span>{{ product['percent_sale'] }}</span>
                                </div>
                                {% endif %}
                            </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
    {%endif%}
</div>
</div>
</div>
<div class="ega-modal toast" id="add_cart_notify">
    <div class="ega-modal__content">
        <a class="ega-modal__close ega-flex--center ega-bg--white">
            <svg class="ega-ic-times-circle">
                <use xlink:href="#ega-ic-times-circle"></use>
            </svg></a>
        <div class="ega-text--center">
            <p class="ega-m--0">Thêm vào giỏ hàng thành công!</p>
            <a href="{{ href_my_orders }}" class="ega-btn ega-btn-color">Xem giỏ hàng</a>
        </div>
    </div>
</div>
<div class="ega-modal toast" id="modal-buy">
    <div class="ega-modal__content">
        <a class="ega-modal__close ega-flex--center ega-bg--white">
            <svg class="ega-ic-times-circle">
                <use xlink:href="#ega-ic-times-circle"></use>
            </svg>
        </a>
        <div class="ega-modal__header">
            <h4 class="ega-m--0">Liên hệ mua sản phẩm</h4>
        </div>
        <div class="ega-modal__body">
            <form action="" id="buy-modal-form" method="post">
                <input type="hidden" name="product_name" value="{{ product['name'] }}">
                <input type="hidden" id="pAttribute" name="product_attribute" value="">
                <div class="ega-form__group">
                    <label >Họ và tên</label>
                    <input type="text" name="fullname" class="ega-form__control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                </div>
                <div class="ega-form__group">
                    <label >Số điện thoại</label>
                    <input type="text" name="phone" class="ega-form__control" required="" placeholder="Ví dụ: 0982993919">
                </div>
                <div class="ega-form__group">
                    <label >Nội dung liên hệ</label>
                    <textarea name="your_mind" class="ega-form__control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                </div>
                <div class="ega-text--right">
                    <div style="text-align: left;" id="msg_err_product"></div>
                    <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="ega-modal toast">
    <div class="ega-modal__content">
        <a class="ega-modal__close ega-flex--center ega-bg--white">
            <svg class="ega-ic-times-circle">
                <use xlink:href="#ega-ic-times-circle"></use>
            </svg>
        </a>
        <div class="ega-modal__header">
            <h4 class="ega-m--0" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
        </div>
        <div class="ega-modal__body">
            <p class="ega-p--3">
                Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
            </p>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        EGA.modal.openModalById('modal-buy-product-success');
                        $('#modal-buy').removeClass('show');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>
<script>
$.ajax({
    "url": "https://ega-healthy-food.bestme.asia/chinh-sach-san-pham",
    "success": function(data) {
        var text = $(data).find(".page-content").text();
        $('.ega-pro__policies').html(text);
    }
})

const $gallery = $('#ega-pro-gallery');
const $thumb = $('#ega-pro-thumb');

$thumb.owlCarousel({
    items: 4,
    dots: false,
    nav: true,
    stageClass: 'ega-pro__thumb-stage',
    navContainerClass: 'ega-pro__thumb-nav',
    navClass: ['ega-pro__thumb-prev', 'ega-pro__thumb-next'],
    navText: ['<svg class="ega-ic-angle-left"><use xlink:href="#ega-ic-angle-left"></use></svg>', '<svg class="ega-ic-angle-right"><use xlink:href="#ega-ic-angle-right"></use></svg>'],
    smartSpeed: 200,
    slideSpeed: 500,
    slideBy: 1,
    lazyLoad: true,
    responsiveRefreshRate: 100,
}).on('changed.owl.carousel', changeMainImg);

function changeMainImg(e) {
    const number = e.item.index;
    const img = $thumb.find(`img:eq(${number})`);
    const imgSrc = img.data().src;
    $gallery.find('img').data().src = imgSrc;
    $gallery.find('img').attr('src', imgSrc);

    $thumb.find('.owl-item').removeClass('selected');
    $thumb.find(`.owl-item:eq(${number})`).addClass('selected');
}

$thumb.on("click", ".owl-item", function(e) {
    e.preventDefault();
    $thumb.find('.owl-item').removeClass('selected');
    $(this).addClass('selected');
    const imageSrc = $(this).find('img').data().src;
    $gallery.find('img').attr('src', imageSrc);
});

$thumb.find(".owl-item:eq(0)").click();

$(document).ready(function() {
    var description = {{ product.description | json_encode }};
    var descriptionEl = $('div.description.my-2');
    description = descriptionEl.html(description).text();
    descriptionEl.html(description);
    $('body').on('click', '.button_buying', function() {
        $('#add-to-cart').submit();
    });
    // update current order
    updateCurrentOrder();
});

function updateCurrentOrder() {
    $.ajax({
        url: 'index.php?route=checkout/my_orders/getCurrentOrder',
        type: 'post',
        data: $('#add-to-cart').serialize(),
        dataType: 'json',
        beforeSend: function() {
            //TODO loading
        },
        complete: function() {
            //TODO loaded
        },
        success: function(json) {
            if (json['success']) {
                jQuery('.amount .quantity span').html(json['total_product_cart']);
                jQuery('.amount .total').html(json['total_into_money']);
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

$('.open-ega-modal-buy').on("click", function() {
    EGA.modal.openModalById('modal-buy');
});
</script>
{{ footer }}