{% extends "theme/common/base.twig" %}


{#{% block bcontent %}#}
{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- Section content -->
    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile">

            <!-- /.control component -->
            <div class="side-over">
                <!-- header sidebar -->
                <section class="side-item side-head">
                    <!-- item -->
                    <div class="item-sidebar">
                        <a href="{{ url_header }}" class="item-show hover-effect">{{ txt_title_header }}</a>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.header sidebar -->

                <!-- body sidebar -->
                <section class="side-item side-body overflow-inherit">
                    <!-- item -->
                    <div class="item-sidebar {% if 0 == banner_idx %}sub-item{% endif %}" data-idx="0">
                        <div class="item-show {% if 0 == banner_idx %}active{% endif %}{% if config.section.map.visible == '0' %} hide{% endif %}">
                            <button type="submit" class="btn btn-more"></button>
                            <span class="accordion">{{ title_map }}</span>
                            <button type="submit" class="btn btn-eye" id="banner-visible-map"></button>
                        </div>
                        <div class="panel" {% if 0 == banner_idx %}style="display: block;"{% endif %}>
                            <form action="">
                                <div class="form-group">
                                    <label for="">{{ txt_enter_link_map }}</label>
                                    <input type="text" name="map_address" value="{{ config.section.map.address|html_entity_decode|escape }}" class="form-control" placeholder="{{ txt_enter_link_map_placeholder }}"
                                           aria-describedby="helpId">
                                </div>
                                <div class="meta-tooltip">
                                    <img src="view/image/theme/tooltip.png" data-toggle="tooltip" data-placement="top"
                                         title="{{ txt_get_map_link_title }}">
                                    <a href="https://www.google.com/maps" target="_blank">{{ txt_get_map_link }}</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item-sidebar d-none {% if 1 == banner_idx %}sub-item{% endif %}" data-idx="1">
                        <div class="item-show {% if 1 == banner_idx %}active{% endif %}{% if config.section.info.visible == '0' %} hide{% endif %}">
                            <button type="submit" class="btn btn-more"></button>
                            <span class="accordion">{{ title_info }}</span>
                            <button type="submit" class="btn btn-eye" id="banner-visible-info"></button>
                        </div>
                        <div class="panel overflow-inherit" {% if 1 == banner_idx %}style="display: block;"{% endif %}>
                            <form action="">
                                <div class="form-group">
                                    <label for="">{{ txt_email }}</label>
                                    <input type="text" name="info_email" value="{{ config.section.info.email }}" class="form-control"
                                           placeholder="{{ txt_email_placeholder }}" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="">{{ txt_phone }}</label>
                                    <input type="text" name="info_phone" value="{{ config.section.info.phone }}" maxlength="15" class="form-control"
                                           placeholder="{{ txt_phone_placeholder }}" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <div class="item-show border-0 padding-0">
                                        <label for="">{{ txt_address }}</label>
                                    </div>
                                    <input type="text" name="info_address" value="{{ config.section.info.address }}" maxlength="50" class="form-control"
                                           placeholder="{{ txt_address_placeholder }}" aria-describedby="helpId">
                                    <div class="item-show border-0 padding-0 mt-2">
                                        <a class="btn-edit" href="#">{{ txt_address_edit }}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item-sidebar {% if 2 == banner_idx %}sub-item{% endif %}" data-idx="2">
                        <div class="item-show {% if 2 == banner_idx %}active{% endif %}{% if config.section.form.visible == '0' %} hide{% endif %}">
                            <button type="submit" class="btn btn-more"></button>
                            <span class="accordion">{{ title_form }}</span>
                            <button type="button" class="btn btn-eye" id="banner-visible-form"></button>
                        </div>
                        <div class="panel" {% if 2 == banner_idx %}style="display: block;"{% endif %}>
                            <form action="">
                                <div class="form-group">
                                    <label for="">{{ txt_title }}</label>
                                    <input type="text" name="form_title" value="{{ config.section.form.title }}" class="form-control"
                                           placeholder="{{ txt_title_placeholder }}" aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <label for="">{{ txt_form_email }}</label>
                                    <input type="text" name="form_email" value="{{ config.section.form.email }}" class="form-control"
                                           placeholder="{{ txt_form_email_place_holder }}" aria-describedby="helpId">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.body sidebar -->

                <!-- footer sidebar -->
                <section class="side-item side-footer">
                    <!-- item -->
                    <div class="item-sidebar">
                        <a href="{{ url_footer }}" class="item-show hover-effect">{{ txt_title_footer }}</a>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.footer sidebar -->
            </div>

            <!-- Common setting button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.Section content -->

    <script src="view/javascript/theme/custom-file-input.js"></script>

    <style type="text/css">
        #side-over{
            overflow-y: scroll!important;
            padding-bottom: 30px!important;
        }
    </style>

    <script>
        $(document).ready(function () {
            /* setting listener on value change */

            $(".btn-eye").click(function () {
                var that = $(this);

                onChangeVisible(that);
            });

            $('input[name="map_address"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.section.map.address = $(this).val();

                postChange(config);
            });

            $('input[name="info_email"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.section.info.email = $(this).val();

                postChange(config);
            });

            $('input[name="info_phone"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.section.info.phone = $(this).val();

                postChange(config);
            });

            $('input[name="info_address"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.section.info.address = $(this).val();

                postChange(config);
            });

            $('input[name="form_title"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.section.form.title = $(this).val();

                postChange(config);
            });

            $('input[name="form_email"]').on('change', function(){
                var config = {{ config|json_encode|raw }};
                config.section.form.email = $(this).val();

                postChange(config);
            });

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 0); // Will do the ajax stuff after 1500 ms, or 1.5 s
            }

            function onChangeVisible(el) {
                var config = applyChange(el.attr('id'), null);

                postChange(config);
            }

            function applyChange(key, value) {
                var config = {{ config|json_encode|raw }};

                if (key.indexOf('banner-visible-') > -1) {
                    var idx = key.replace('banner-visible-', '');
                    config.section[idx].visible = config.section[idx].visible == '0' ? 1 : 0;
                }

                return config;
            }

            /*update config on session*/
            function postChange(config) {
                /* Important: add below to avoid the code map (<iframe></iframe>) may be escaped 2 times and causes error */
                config.section.map.address = $('input[name="map_address"]').val();   // get value after html_entity_decode|escape

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');
                var idx = 0;
                $('.item-sidebar').each(function(){
                    if($(this).hasClass('sub-item')){
                        idx = $(this).attr('data-idx');
                    }
                });
                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        var href = window.location.href;
                        var regex = new RegExp("&idx=\\d+");
                        href = href.replace(regex, '');
                        window.location.href = href + '&idx=' + idx;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE List product error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });
            }
        });

        function getURLVar(key) {
            var value = [];

            var query = String(document.location).split('?');

            if (query[1]) {
                var part = query[1].split('&');

                for (i = 0; i < part.length; i++) {
                    var data = part[i].split('=');

                    if (data[0] && data[1]) {
                        value[data[0]] = data[1];
                    }
                }

                if (value[key]) {
                    return value[key];
                } else {
                    return '';
                }
            }
        }
    </script>
{% endblock %}