{{ header }}

<div class="bestme_app_after_header">

</div>

{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

{% for section in sections_layout %}
    {% set path= 'tech_egomall/template/common/section_home/'~section['file']~'.twig' %}
    <div class="{{ section.file }}">
        {% include path ignore missing %}
    </div>
{% endfor %}

<div class="bestme_app_before_footer">

</div>

<style>
    .item-product-name {
        height: 36px;
        overflow: hidden;
    }
</style>

<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
    if (homeVideo) {
        homeVideo.init({
            sliderType: 'owl_carousel',
            videoCarouselElements: $('.video-slideshow'),
            postThumbnailElements: $('.blog-thumb-video'),
            slideshowSelector: '.owl-home-banner'
        });
    }
</script>

{{ footer }}