{{ header }}

{% if page_projects %}
    {% include ('adg_topal_vp/template/blog/blog_projects.twig') %}
{% else %}
    {% include ('adg_topal_vp/template/blog/blog_news.twig') %}
{% endif %}

{{ footer }}