<!-- End about us -->
{% if oldest_blog[0] is defined and oldest_blog[0]['type'] == 'image' %}
    {% set blog = oldest_blog[0] %}
    <section class="my-lg-50 my-30 about-us-home">
        <div class="container">
            <h2 class="mb-lg-30 mb-15 title-left-through">GIỚI THIỆU</h2>
            <div class="row">
                <div class="col-lg-9 mb-lg-30 mb-20">
                    <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12 col-6 mb-lg-30 mb-20">
                            {% if banners[0] is defined and banners[0]['visible'] == '1' %}
                                <img src="{{ banners[0]['image-url'] }}" alt="{{ banners[0]['description'] }}" class="bestme-block-banner-1">
                            {% endif %}
                        </div>
                        <div class="col-lg-12 col-6 mb-lg-30 mb-20">
                            {% if banners[1] is defined and banners[1]['visible'] == '1' %}
                                <img src="{{ banners[1]['image-url'] }}" alt="{{ banners[1]['description'] }}" class="bestme-block-banner-2">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 mb-lg-30 mb-20 text-secondary" style="line-height: 30px">
                    {{ blog['short_content']|html_entity_decode }}
                </div>
            </div>
            <a href="{{ blog.link }}?about-us" class="btn btn-primary">Xem thêm</a>
        </div>
    </section>
{% endif %}
<!-- End about us -->

{% if banners[2] is defined and banners[2]['visible'] == '1' %}
    <div class="py-lg-40 py-10 container">
        <a href="{{ banners[2]['url'] }}">
            <img src="{{ banners[2]['image-url'] }}" alt="{{ banners[2]['description'] }}" width="100%" class="bestme-block-banner-2">
        </a>
    </div>
{% endif %}