<section class="pt-lg-50 py-25 bg-fourth">
    <div class="container">
        <h2 class="mb-lg-20 mb-15 text-center text-uppercase">THÀNH TÍCH VÀ GIẢI THƯỞNG</h2>
        <div class="line-percent mb-30 mb-lg-40"></div>
        <div id="carouselAchievementHome" class="owl-carousel owl-theme">
            {% for k, blog in blogs_news if blog['blog_category_title'] == "thành tích và giải thưởng" %}
                <div class="slide-item" style="text-align: center;padding: 15px;">
                            <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}" width="100%">
                            <div class="my-15 fz-16 fw-500">
                                {{ blog['title'] }}
                            </div>
                            <p class="mb-15 text-secondary px-lg-50">{{ blog['short_content']|html_entity_decode|striptags }}</p>
                            <div class="created-date">{{ blog['date_added']|date('d-m-Y') }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End intro award -->