<section class="py-50 container">
    <h2 class="mb-lg-20 mb-15 text-center text-uppercase">DỰ ÁN TIÊU BIỂU</h2>
    <div class="line-percent mb-30 mb-lg-40"></div>
    <div class="row">
        {% for k, blog in blogs_projects if (k < 6) %}
            <div class="col-lg-4">
                <div class="project-item">
                    <div class="project-img hover-zoom-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    </div>
                    <a class="project-title" href="{{ blog['link'] }}?type=du-an" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}">
                        {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                    </a>
                    <div class="created-date">{{ blog['date_publish']|date('d-m-Y') }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="/bai-viet?type=du-an" class="btn btn-primary mb-lg-50">Xem thêm</a>
    </div>
</section>
<!-- End project -->