<section class="why-choose-us my-lg-50 mt-30 pb-lg-50 pb-30">
    <div class="container">
        <h2 class="mb-lg-50 mb-20 pb-lg-30 title-left-through">LÝ DO CHỌN CHÚNG TÔI</h2>
        <div class="col-lg-10 p-0 mx-auto">
            <div class="row bestme-block-content-customize">
                {% if display_customizes %}
                    {% for key, contents in display_customizes if key < 4 %}
                        <div class="{% if key == 0 %}
                                        col-12 col-lg-6 ps-lg-0 pt-10 pb-lg-40 pb-15 pe-lg-50 border-lg-end border-lg-bottom
                                    {% elseif key == 1 %}
                                        col-12 col-lg-6 pt-10 pe-lg-0 pb-lg-40 pb-15 ps-lg-50 border-lg-bottom
                                    {% elseif key == 2 %}
                                        col-12 col-lg-6 ps-lg-0 py-lg-40 py-15 pe-lg-50 border-lg-end
                                    {% else %}
                                        col-12 col-lg-6 pe-lg-0 py-lg-40 py-15 ps-lg-50
                                    {% endif %}">
                            {% if contents['type'] == 'fixed' %}
                            <div class="d-flex align-items-center mb-lg-3 mb-2 ps-lg-50 ms-lg-10">
                                <div class="flex-shrink-0 py-20 px-20 me-20 bg-eighth">
                                    <img src="{{ contents['content']['icon'] }}" width="40px">
                                </div>
                                <div class="flex-grow-1 fw-500 fz-16 fz-lg-26">
                                    {{ contents['content']['title'] }}
                                </div>
                            </div>
                            <p class="text-secondary ps-lg-50 ms-lg-10 mb-0">{{ contents['content']['description'] }}</p>
                            {% else %}#}
                                <div class="d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div> <!-- End row -->
        </div>
    </div> <!-- End container -->
</section>
<!-- End why choose -->