{{ header }}

<main id="main-wrapper" class="mb-0">
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
            <!-- End breadcrumb -->

            {% if 1 == contact_config['visible'] %}
                <div class="full-width bg-seventh py-lg-50 py-30 bestme-block-contact-contact">
                    <div class="container py-lg-20">
                        <h1 class="mb-2">LIÊN HỆ VỚI CHÚNG TÔI</h1>
                        <p class="text-secondary mb-20">Bạn vui lòng để lại thông tin cá nhân, chúng tôi sẽ liên lạc ngay!</p>
                        <div class="line-percent left mb-30"></div>
                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <form action="{{ href_submit_form }}" method="post" enctype="multipart/form-data" class="bestme-block-contact-form">
                            <div class="row">
                                <div class="col-lg-6 d-flex pe-lg-30">
                                    <div class="align-self-end w-100 pe-lg-50">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label class="mb-2">Họ tên <span
                                                                class="text-primary">*</span></label>
                                                    <input type="text" class="form-control" id="your-name" name="fullname" required placeholder="Nhập họ tên"
                                                           oninput="setCustomValidity('')"
                                                           oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-4">
                                                    <label class="mb-2">Số điện thoại <span
                                                                class="text-primary">*</span></label>
                                                    <input type="text" class="form-control" id="your-phone" name="phone" required placeholder="Nhập số điện thoại"
                                                           oninput="setCustomValidity('')"
                                                           oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                                           pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4 mt-lg-2">
                                            <label class="mb-2">Email <span class="text-primary">*</span></label>
                                            <input type="email" class="form-control" id="your-email" name="email" required placeholder="Nhập email"
                                                   oninput="setCustomValidity('')"
                                                   oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4 h-100">
                                        <label class="mb-2">Nội dung <span class="text-primary">*</span></label>
                                        <textarea class="form-control" id="your-messenger" rows="6" name="your_mind" required placeholder="Nhập nội dung"
                                                  oninput="setCustomValidity('')"
                                                  oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--End row-->
                            <div class="mt-lg-2 mb-lg-40">
                                <button type="submit" class="btn btn-primary px-5"><span
                                            class="mx-lg-5 mx-4">Gửi</span></button>
                            </div>
                        </form>
                    </div>
                    <!-- End container -->
                </div>
                <!-- End full-width -->
            {% endif %}

            {% if contact is defined and contact.visible == 1 %}
                <div class="full-width bg-fifth py-lg-30 py-40 text-white fz-18">
                    <div class="container px-50 px-lg-15">
                        <div class="row contact-section">
                            {% if contact.phone is defined %}
                                <div class="col-lg-4 contact-item">
                                    <p class="mb-4 text-fourth">Số điện thoại:</p>
                                    <p class="mb-0">{{ contact.phone }}</p>
                                </div>
                            {% endif %}
                            {% if contact.email is defined %}
                                <div class="col-lg-4 contact-item">
                                    <p class="mb-4 text-fourth">Email:</p>
                                    <p class="mb-0">{{ contact.email }}</p>
                                </div>
                            {% endif %}
                            {% if contact.address is defined %}
                                <div class="col-lg-4 contact-item">
                                    <p class="mb-4 text-fourth">Địa chỉ:</p>
                                    {% set contact_address = contact.address|split('&lt;li&gt;') %}
                                    <p class="mb-0">{{ contact_address[0] | replace({'&lt;br&gt;': '<br>'}) }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End container -->
                </div>
                <!-- End full-width -->
            {% endif %}

        </div>
        <!-- End container -->
    </div>
    <!-- End main-content -->
</main>

{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>