body {
  font-size: 16px;
  line-height: 30px;
}
.icon.icon-search{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/search.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/search.svg');
}
.icon.icon-clear{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/clear.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/clear.svg');
}
.icon.icon-bar{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/bar.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/bar.svg');
}
.icon.icon-filter{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/filter.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/filter.svg');
}
.icon.icon-arrow-left{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-right.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-right.svg');
  transform: rotate(180deg);
}
.icon.icon-arrow-right{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-right.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-right.svg');
}
.icon.icon-arrow-expand-left{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-expand.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-expand.svg');
  transform: rotate(180deg);
}
.icon.icon-arrow-expand-right{
  -webkit-mask-image:  url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-expand.svg');
  mask-image: url('/catalog/view/theme/adg_topal_slima/img/icons/arrow-expand.svg');
}

ul.nav > li > a>.toggle{
  -webkit-mask:  url('/catalog/view/theme/adg_topal_slima/img/icons/drop-down.svg') center no-repeat;
  mask: url('/catalog/view/theme/adg_topal_slima/img/icons/drop-down.svg') center no-repeat;
}

.product-item .prod-title {
  height: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.font-24 {
  font-size: 24px !important;
}
#modal-buy .modal-content {
  background: #EAF4FB;
  border-radius: unset;
}

#modal-buy .modal-color-title {
  color: #053D5A;
}

#modal-buy label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
#modal-buy .info:first-child {
  border-right: 0.5px solid #4788A9;
}
#modal-buy .info {
  padding: 0 56px;
}
#modal-buy .modal-header {
  padding-top: 54px;
  padding-bottom: 43px;
}
#modal-buy .title-small {
  margin-bottom: 30px;
}
#modal-buy .form-group {
  margin-bottom: 22px;
}
#modal-buy .send {
  margin-top: 51px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 0.75em 1em;
  }
}