:root{
    --black: #000;
    --white: #fff;
    --primary: #F58220;
    --secondary: #13597D;
    --third: #4892B8;
    --fourth: #F6F6F6;
    --fifth: #F3FAFE;
    --sixth: #F3F8FA;
    --seventh: #F4F4F4;
    --text-primary: #27282B;
    --text-secondary: #737373;
    --text-third: #053D5A;
    --text-fourth: #c4c4c4;
}
.row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
}
html{
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-primary);
    overflow-x: hidden;
    line-height: 1.5;
    background: var(--white);
}
.container {
    max-width: 1140px;
}
p{
    margin-bottom: 1.5rem;
}
b, strong{
    font-weight: 500;
}
h1,h2,h3,h4,h5{
    font-weight: 600;
    color: var(--text-primary);
    line-height: 1.4;
}
h1{
    font-size: 34px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
.letter-spacing-0{
    letter-spacing: inherit !important;
}
a{
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease;
}
.table{
    --bs-table-striped-bg: #dfeaf7;
    border-color: #97c7e7;
}
.table th{
    box-shadow: none;
    color: #fff;
    background: #0054a2;
    font-weight: 400;
}
.table>:not(caption)>*>*{
    padding: 0.5rem 1rem;
}
.bg-none{
    background: transparent !important;
}
.bg-primary{
    background-color: var(--secondary) !important;
}
.bg-third{
    background-color: var(--third) !important;
}
.bg-fourth{
    background-color: var(--fourth) !important;
}
.bg-fifth{
    background-color: var(--fifth) !important;
}
.bg-sixth{
    background-color: var(--sixth) !important;
}
.bg-seventh{
    background-color: var(--seventh) !important;
}
.bg-gadient-light{
    background: linear-gradient(180deg, #ECF5FA 19.17%, rgba(244, 244, 244, 0) 98.61%);
}
.bg-gadient-light-500{
    background: linear-gradient(180deg, #DBEEF9 -41.69%, rgba(244, 244, 244, 0) 119.74%);;
}
.text-black{
    color: var(--text-primary) !important;
}
.text-primary{
    color: var(--primary) !important;
}
.text-secondary{
    color: var(--text-secondary) !important;
}
.text-third{
    color: var(--text-third) !important;
}
.text-fourth{
    color: var(--text-fourth) !important;
}
img{
    max-width: 100%;
    height: auto;
}
.border-bottom,
.border-top,
.border-left,
.border-right,
.border{
    border-color: #c4c4c4;
}
.border-bottom-4{
    border-bottom: 4px solid var(--primary) !important;
}
.fz-10{
    font-size: 10px;
}
.fz-12{
    font-size: 12px;
}
.fz-13{
    font-size: 13px;
}
.fz-14{
    font-size: 14px !important;
}
.fz-15{
    font-size: 15px;
}
.fz-16{
    font-size: 16px;
}
.fz-17{
    font-size: 17px;
}
.fz-18{
    font-size: 18px;
}
.fz-20{
    font-size: 20px !important;
}
.fz-22{
    font-size: 22px;
}
.fz-24{
    font-size: 24px;
}
.fz-25{
    font-size: 25px;
}
.fz-26{
    font-size: 26px;
}
.fz-28{
    font-size: 28px;
}
.fz-30{
    font-size: 30px;
}
.fz-32{
    font-size: 32px;
}
.fz-34{
    font-size: 34px;
}
.fz-36{
    font-size: 36px;
}
.fz-38{
    font-size: 38px;
}
.fz-40{
    font-size: 40px;
}
.fz-45{
    font-size: 45px;
}
.fz-48{
    font-size: 48px;
}
.fz-60{
    font-size: 60px;
}
.fz-120{
    font-size: 120px;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;;
}
.fw-600 {
    font-weight: 600 !important;;
}
.fw-700 {
    font-weight: 700 !important;;
}
.fw-bold{
    font-weight: bold !important;
}
.btn{
    border-radius: 5px;
    border: none;
    padding: 0.7em 3em;
    font-weight: 400;
    font-size: inherit;
    transition: all 0.2s ease;
}
.btn.btn-primary{
    background: var(--primary);
    color: var(--white);
    text-align: center;
}
.btn:hover{
    opacity: 0.9;
    box-shadow: 0px 2px 5px #d4d4d4;
}
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hover-zoom-img {
    overflow: hidden;
}
.hover-zoom-img img {
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.hover-zoom-img:hover img {
    transform: rotate(8deg) scale(1.3);
    -webkit-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}
.form-control {
    padding: 5px 14px;
    min-height: 40px;
    border-radius: 5px;
    border: none;
    border: 1px solid #DADADA;
    color: inherit;
    font-size: 1em;
    line-height: 1.75em;
    position: relative;
}
select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABbSURBVHgBfVDBDYBACKMuatxAE5gCEkfwNtQNEI0m94DjQ6BNW4CqNiI6RWSjQT08AD5982pmx4gcbXb3C/0iFBozLxn5x1AB1Q6VWtgjc0WV9wWTiNWRe/WEGxHxN/5IGFoaAAAAAElFTkSuQmCC") calc(100% - 15px) center/11px no-repeat #f4f4f4;
    padding-right: 40px;
    line-height: inherit;
}
.form-control::placeholder {
    color: #c4c4c4;
}
.form-control:focus,
.form-control:focus-visible{
    box-shadow: 0 0 5px rgb(13 110 253 / 25%);
    border: inherit;
    color: inherit;
}
label{
    font-weight: 500;
}

i.icon{
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--text-primary);
    position: relative;
}
.icon.icon-search{
    -webkit-mask-image:  url('../img/icons/search.svg');
    mask-image: url('../img/icons/search.svg');
}
.icon.icon-clear{
    -webkit-mask-image:  url('../img/icons/clear.svg');
    mask-image: url('../img/icons/clear.svg');
}
.icon.icon-bar{
    -webkit-mask-image:  url('../img/icons/bar.svg');
    mask-image: url('../img/icons/bar.svg');
}
.icon.icon-filter{
    -webkit-mask-image:  url('../img/icons/filter.svg');
    mask-image: url('../img/icons/filter.svg');
}
.icon.icon-arrow-left{
    -webkit-mask-image:  url('../img/icons/arrow-right.svg');
    mask-image: url('../img/icons/arrow-right.svg');
    transform: rotate(180deg);
}
.icon.icon-arrow-right{
    -webkit-mask-image:  url('../img/icons/arrow-right.svg');
    mask-image: url('../img/icons/arrow-right.svg');
}
.icon.icon-arrow-expand-left{
    -webkit-mask-image:  url('../img/icons/arrow-expand.svg');
    mask-image: url('../img/icons/arrow-expand.svg');
    transform: rotate(180deg);
}
.icon.icon-arrow-expand-right{
    -webkit-mask-image:  url('../img/icons/arrow-expand.svg');
    mask-image: url('../img/icons/arrow-expand.svg');
}
.border, .border-top, .border-bottom .border-right, .border-left {
    border-color: #DADADA !important;
}
.rounded-2{
    border-radius: 2px !important;
}
.rounded-3{
    border-radius: 3px !important;
}
.rounded-4{
    border-radius: 4px !important;
}
.rounded-5{
    border-radius: 5px !important;
}
.rounded-10{
    border-radius: 10px !important;
}
.rounded-15{
    border-radius: 15px !important;
}
.rounded-20{
    border-radius: 20px !important;
}
.rounded-25{
    border-radius: 25px !important;
}
.rounded-30{
    border-radius: 30px !important;
}
.rounded-40{
    border-radius: 40px !important;
}
.space-nowrap{
    white-space: nowrap;
}


/* Desktop */
@media (min-width: 991px) {
    .bg-lg-none{
        background: transparent !important;
    }
    .bg-lg-primary{
        background-color: var(--secondary) !important;
    }
    .bg-lg-third{
        background-color: var(--third) !important;
    }
    .bg-lg-fourth{
        background-color: var(--fourth) !important;
    }
    .bg-lg-fifth{
        background-color: var(--fifth) !important;
    }
    .bg-lg-sixth{
        background-color: var(--sixth) !important;
    }
    .bg-lg-seventh{
        background-color: var(--seventh) !important;
    }
    .bg-lg-gadient-light{
        background: linear-gradient(180deg, #ECF5FA 19.17%, rgba(244, 244, 244, 0) 98.61%);
    }
    .bg-lg-gadient-light-500{
        background: linear-gradient(180deg, #DBEEF9 -41.69%, rgba(244, 244, 244, 0) 119.74%);;
    }
    .fz-lg-10{
        font-size: 10px !important;
    }
    .fz-lg-12{
        font-size: 12px !important;
    }
    .fz-lg-13{
        font-size: 13px !important;
    }
    .fz-lg-14{
        font-size: 14px !important;
    }
    .fz-lg-15{
        font-size: 15px !important;
    }
    .fz-lg-16{
        font-size: 16px !important;
    }
    .fz-lg-17{
        font-size: 17px !important;
    }
    .fz-lg-18{
        font-size: 18px !important;
    }
    .fz-lg-20{
        font-size: 20px !important;
    }
    .fz-lg-22{
        font-size: 22px !important;
    }
    .fz-lg-24{
        font-size: 24px !important;
    }
    .fz-lg-25{
        font-size: 25px !important;
    }
    .fz-lg-26{
        font-size: 26px !important;
    }
    .fz-lg-28{
        font-size: 28px !important;
    }
    .fz-lg-30{
        font-size: 30px !important;
    }
    .fz-lg-32{
        font-size: 32px !important;
    }
    .fz-lg-34{
        font-size: 34px !important;
    }
    .fz-lg-36{
        font-size: 36px !important;
    }
    .fz-lg-38{
        font-size: 38px !important;
    }
    .fz-lg-40{
        font-size: 40px !important;
    }
    .fz-lg-45{
        font-size: 45px !important;
    }
    .fz-lg-48{
        font-size: 48px !important;
    }
    .fz-lg-60{
        font-size: 60px !important;
    }
    .fw-lg-300 {
        font-weight: 300;
    }
    .fw-lg-400 {
        font-weight: 400;
    }
    .fw-lg-500 {
        font-weight: 500;
    }
    .fw-lg-600 {
        font-weight: 600;
    }
    .fw-lg-700 {
        font-weight: 700;
    }
    .w-lg-25{
        width: 25% !important;
    }
    .w-lg-50{
        width: 50% !important;
    }
    .w-lg-75{
        width: 75% !important;
    }
    .w-lg-100{
        width: 100% !important;
    }
    .w-lg-auto{
        width: auto !important;
    }
}