@media only screen and (max-width: 768px) {
    .btn{
        padding: 0.75em 2em;
    }
    #header .main-header{
        padding: 0;
    }
    #header .navbar{
        padding: 0;
        height: 24px;
        margin: 20px 0;
    }
    #header .menu-wrapper{
        justify-content: flex-start;
    }
    #header .header-search{
        width: 100%;
        position: relative;
    }
    #header .header-search .collapse-search{
        position: absolute;
        top: -40px;
        right: 0;
    }
    #header .header-search.show form.search-form,
    #header .header-search form.search-form{
        width: 100%;
        padding-right: 50px;
        position: relative;
        padding: 0;
    }
    #header .header-search form.search-form{
        height: 0px;
    }
    #header .header-search.show form.search-form{
        height: 40px;
        margin-bottom: 16px;
    }
    #header .header-search form.search-form .btn{
        width: 39px;
        height: 39px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 10px 0;
        border-radius: 100%;
        text-align: center;
    }
    #header .header-search input.form-control{
        padding: 0;
        border: none;
        margin: 8px 0 8px 18px;
    }
    #header .logo{
        margin: auto;
        width: 120px;
        left: -12px;
        position: relative;
    }
    :root{
        --bs-gutter-x: 20px
    }
    .row {
        --bs-gutter-x: 20px;
    }
    body:not(.home) #main-wrapper{
        margin: 20px 0;
    }
    .page-title-header{
        padding: 30px 0;
    }
    .page-title-header h1,
    h1, h2{
        font-size: 20px;
    }
    .header-top{
        font-size: 13px;
    }
    #navbarMainMenu {
        width: 60%;
        min-width: 305px;
        text-align: left;
        background-color: var(--secondary);
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        opacity: 0;
        visibility: hidden;
        padding: 20px;
        height: 100vh;
        z-index: 999;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        overflow-y: scroll;
    }
    #navbarMainMenu.show {
        left: 0px;
        opacity: 1;
        visibility: visible;
    }
    #navbarMainMenu .navbar-nav .nav-item > .nav-link{
        line-height: 16px;
        padding: 9px 0;
        font-size: 14px;
        font-weight: 400;
    }
    #navbarMainMenu .navbar-nav .nav-link:hover,
    #navbarMainMenu .navbar-nav .nav-link.active{
        color: var(--primary);
        font-weight: 400;
    }
    .table-custom .col-item{
        padding: 0.5rem;
    }
    .table-custom .row-item.row{
        margin: 0 -0.5rem;
    }
    .sidebar .filter-product-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: rgba(44, 52, 64, 0.2);
        padding: 0 25% 0 0;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        border-radius: 0;
        border: 0;
    }
    .sidebar .filter-product-wrapper.collapse{
        opacity: 1;
        visibility: visible;
    }
    .sidebar .filter-product-wrapper .filter-product-content{
        padding: 22px 30px;
        background: #053D5A;
        left: -100%;
        position: relative;
        transition: all 0.5s ease;
        min-height: 100vh;
    }
    .sidebar .filter-product-wrapper.collapse .filter-product-content{
        left: 0;
    }
    .sidebar .block-title{
        color: #fff;
    }
    .box-product-filter .nav a.nav-link{
        color: #c4c4c4;
    }
    .news-item:not(.teaser){
        border-bottom: 1px solid #ECECEC;
        margin-bottom: 24px;
        margin-top: 0;
        padding-bottom: 24px;
    }
    .news-item.teaser .news-title{
        margin-bottom: 8px;
    }
    .news-item.teaser .news-date{
        margin: 0;
    }
    .news-item:not(.teaser) .news-title{
        font-size: 20px;
    }
    .news-home .news-item{
        margin-bottom: 30px;
    }
    .news-home .news-item .news-title{
        font-size: 16px;
    }
    .row>div:nth-last-child(1) > .news-item{
        border-bottom: none;
        margin-bottom: 16px;
    }
    .nav-tabs{
        border-radius: 0;
        width: calc((var(--bs-gutter-x) * 2) + 100%);
        margin-left: calc(var(--bs-gutter-x) * -1);
        padding: 0 calc(var(--bs-gutter-x) - 15px);
    }
    .nav-tabs .nav-link{
        padding: 14px 0;
        margin:  0 15px;
    }
    ol.breadcrumb{
        margin-bottom: 23px;
    }
    .sidebar-right{
        width: calc((var(--bs-gutter-x) * 2) + 100%);
        margin-left: calc(var(--bs-gutter-x) * -1);
        padding: var(--bs-gutter-x);
    }
    .with-divider .project-item{
        border-bottom: 1px solid #ECECEC;
        padding-bottom: 24px !important;
    }
    .with-divider .project-item:nth-last-child(1){
        border: none;
    }
    .product-item{
        margin: 17px 0;
    }
    .product-item .prod-title{
        margin-top: 10px;
    }
    .product-item a.btn{
        width: 100%;
    }
    .projects-view .project-item:nth-child(2n) >.row>div:nth-last-child(1){
        order: 1;
    }
    .sub-title{
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    
}

/* Tablet & desktop */
@media (min-width: 768px) {
    .w-md-25{
        width: 25% !important;
    }
    .w-md-50{
        width: 50% !important;
    }
    .w-md-75{
        width: 75% !important;
    }
    .w-md-100{
        width: 100% !important;
    }
    .w-md-auto{
        width: auto !important;
    }
    #footer .footer-col.text-lg-end li::before{
        display: none;
    }
    #footer .footer-col.text-lg-end li::after{
        content: "\2022";
        color: var(--primary);
        font-weight: bold;
        display: inline-block;
        width: 1em;
        font-size: 15px;
    }
    .line-percent.lg-center:after{
        margin: auto;
    }
}

/* Desktop */
@media (min-width: 992px) {
    #header ul.nav > li > a>.toggle {
        right: 15px;
        top: -2px;
    }
    #header .navbar {
        max-width: 67%;
    }
    /* menu nav */
    .block-header #navbarMainMenu li {
        position: relative;
    }
    .block-header #navbarMainMenu ul.nav ul.nav {
        display: inline-block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 92%;
        min-width: 275px;
        padding-left: 5px;
        background: #053D5A;
        border: 1px solid #D6D7D1;
        -webkit-transform: translate(0, 10%);
        transform: translate(0, 10%);
        -webkit-transform-origin: top;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .block-header #navbarMainMenu li:hover > ul.nav {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
    .block-header #navbarMainMenu li ul.nav ul.nav {
        -webkit-transform: translate(10%, 0);
        transform: translate(10%, 0);
        left: 100%;
        top: -1px;
        z-index: 2;
        border: 1px solid #D6D7D1;
    }
    .block-header #navbarMainMenu li ul.nav >li:hover>ul.nav {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}