@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "reset.css";
.bg-rgb-cs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 20%);
}
.service {
    position: relative;
}
.service .col-12.col-md-3.ps-md-5.mt-md-5.my-2,.service h2{
    z-index: 22;
}
.main-header .navbar-toggler{
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    padding: 0;
}
.main-header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
#overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 99;
    transition: all 0.2s ease;
}
#overlay.show {
    visibility: visible;
    opacity: 1;
}
#main-wrapper{
    min-height: 75vh;
}
body:not(.home) #main-wrapper{
    margin: 30px 0;
}
.line-percent,
.line-percent-vertical{
    position: relative;
}
.line-percent:after{
    content: "";
    border-bottom: 1px solid var(--primary);
    width: 80px;
    position: absolute;
    margin: auto;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
}
.line-percent.left:after{
    margin-left: 0;
}
.line-percent.white:after{
    border-bottom-color: white;
}
.line-percent-vertical:after{
    content: "";
    border-left: 1px solid var(--primary);
    height: 47px;
    width: 1px;
    position: relative;
    margin: 18px auto;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
}
ol.breadcrumb{
    margin-bottom: 34px;
    font-weight: normal;
}
ol.breadcrumb a{
    color: var(--text-secondary);
}
.breadcrumb-item.active{
    color: var(--text-primary);
}
.breadcrumb-item+.breadcrumb-item{
    padding-left: 2px;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 2px;
    color: var(--text-primary);
}
ul.style-red{
    list-style: none;
    padding-left: 1em;
}
ul.style-red li{
    margin-bottom: 15px;
}
ul.style-red li::before{
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 15px;
    margin-left: -1em;
}
ul.nav > li > a>.toggle{
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-mask:  url('../img/icons/drop-down.svg') center no-repeat;
    mask: url('../img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: 10px;
    -mask-size: 10px;
    mask-size: 10px;
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--text-secondary);
    right: 0;
    display: block;
}
ul.nav li ul.nav {
    max-height: 0px;
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: none;
    margin: 0;
    transform: none;
    background-color: transparent;
    border: none;
    display: block;
}
ul.nav li:hover> ul.nav, ul.nav li.active> ul.nav {
    max-height: 600px;
    min-width: 100%;
    visibility: visible;
    opacity: 1;
}
.pagination .page-link{
    border: 1px solid #F4F4F4;
    height: 32px;
    min-width: 32px;
    line-height: 16px;
    text-align: center;
    color: #797979;
    padding: 8px;
}
.pagination span.page-link{
    line-height: 8px;
}
.pagination .page-link i.icon{
    background: #797979;
}
.pagination .page-item.active .page-link{
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
}
.page-item:last-child .page-link{
    border-radius: 0;
}
.page-link:focus{
    box-shadow: none;
    background: none;
}
.sub-title{
    letter-spacing: 0.2em;
    font-size: 20px;
    color: var(--primary);
}
.page-title-header{
    background: url("../img//page-title-bg.png") center/cover no-repeat;
    text-align: center;
    padding: 55px 0;
    margin-bottom: 30px;
}
.page-title-header h1{
    letter-spacing: 0.2em;
    font-size: 34px;
    line-height: 1.2em;
    margin: 0;
}
/* End global */

/*Slide*/
.owl-carousel .owl-nav button[class*=owl-]{
    position: absolute;
    width: 60px;
    height: 52px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    left: 50px;
}
.owl-carousel .owl-nav button.owl-next{
    left: auto;
    right: 50px;
}
.owl-carousel .owl-nav button[class*=owl-] i{
    background-color: #fff;
    font-size: 58px;
}
.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]:focus{
    background-color: transparent;
    transform: scale(1.1);
}
#carouselBannerHome.owl-theme .owl-dots{
    margin: 10px 0;
}
.owl-theme .owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ECECEC;
}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span{
    background: #C4C4C4;
}
#carouselCustomerHome.owl-carousel .owl-item img{
    width: auto;
}
/*End slide*/

/*Product*/
.product-item{
    margin: 30px 0;
}
.product-item .prod-img{
    display: block;
    border-radius: 5px;
}
.product-item .prod-title{
    font-size: 16px;
    color: var(--text-primary);
    font-weight: 400;
    margin-top: 15px;
    display: block;
}
.product-item .prod-title:hover{
    color: var(--primary);
}
.nav-tabs{
    background: #F9F9F9;
    border-radius: 5px 5px 0px 0px;
    border: none;
}
.nav-tabs .nav-link{
    color: var(--text-primary);
    font-weight: 500;
    padding: 14px 20px;
    border: none;
    font-size: 16px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active{
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    background: transparent;
}
/*End Product*/

/* Sidebar */
.sidebar .filter-product-wrapper{
    padding: 35px 17px;
    background: #F9F9F9;
}
.accordion .collapsed i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.box-product-filter{
    margin-bottom: 16px;
}
.sidebar .block-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    width: 100%;
    margin-bottom: 19px;
    text-transform: uppercase;
}
.box-product-filter ul.nav li:hover:not(.active)> ul.nav {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}
.box-product-filter.nav a.nav-link,
.box-product-filter a{
    color: var(--text-secondary);
}
.box-product-filter .nav a.nav-link{
    line-height: 16px;
    margin-bottom: 19px;
    padding: 0;
    position: relative;
}
.box-product-filter .nav a.nav-link:hover,
.box-product-filter .nav a.nav-link.active,
.box-product-filter .nav a.nav-link:focus{
    font-weight: 500;
    color: var(--primary);
}
.box-product-filter .nav a.nav-link .toggle{
    transform: rotate(0deg);
}
.box-product-filter .nav ul.nav{
    padding-left: 8px;
}
.box-product-filter ul.nav li:hover:not(.active)> ul.nav{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}
.box-product-filter .price-range #slider-range{
    border: none;
    background: #f5f5f5;
    height: 4px;
    margin: 10px 0 20px;
    border-radius: 5px;
    display: inline-block;
    width: calc(100% - 10px);
    left: 8px;
}
/* End sidebar */

/* News & project */
.projects-view .project-item:nth-child(2n) >.row>div:nth-child(1){
    order: 1;
}
.project-item{
    margin: 15px 0;
    display: inline-block;
}
.news-home .news-item{
    padding: 0 16px 20px 16px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}
.news-home .news-item .news-date{
    margin: 18px 0 10px;
}
.news-home .news-item .news-title{
    margin: 10px 0 12px 0;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-home .news-item .news-img{
    margin: 0 -16px;
}
.news-item{
    display: inline-block;
    margin: 20px 0;
}
.news-item.teaser{
    margin: 0 0 25px;
}
.news-item.first-page{
    border-bottom: 1px solid #ececec;
    margin: 0 0 10px;
    padding: 0 0 34px;
}
.project-item .project-img,
.news-item .news-img{
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    display: block;
}
.project-item .project-img img,
.news-item .news-img img{
    width: 100%;
}
.project-item .project-title,
.news-item .news-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--text-primary);
    margin: 20px 0 10px;
    display: block;
}
.news-item.first-page .news-title{
    font-size: 20px;
}
.project-item .project-title{
    font-size: 20px;
    line-height: 1.5em;
}
.news-item.teaser .news-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
    line-height: 19px;
}
.news-item .news-title:hover{
    color: var(--primary);
}
.news-item .news-date{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 1em;
    margin: 10px 0;
    color: var(--text-secondary);
}
.news-item.teaser .news-date{
    font-size: 12px;
    margin: 0;
}
.news-item .news-desc{
    color: var(--text-secondary);
    font-weight: normal;
    max-height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
}
/* End News & project */
