{{ header }}
<div class="bestme_app_after_header">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
<main id="main-wrapper" class="pb-3 pb-md-5">
    <!-- Home Slider -->
    {% if slideshow.visible %}
    <div class="block-slideshow home-slider page-slider bestme-block-slideshow">
        <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel" data-interval="{{ slideshow.transition_time }}">
            <div class="carousel-inner">
                {% for key, slide in slideshow.slides %}
                <div class="carousel-item {% if key == 0 %} active {% endif %}" >
                    <a target="_blank" href="{{ slide['url'] }}">
                        <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}" width="100%" >
                    </a>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% endif %}
    <!-- End: Home Slider -->
    <div class="bestme_app_after_slide">

    </div>
    {% for k, block in blocks %}

    {% if block['visible'] and k < 1 %}
    <!-- Sản phẩm khuyến mại -->
    <div class="block-saleoff-product box-product my-4 bestme-block-hot-product">
        <div class="container">
            <div class="row border-top border-right border-light">
                <div class="col-sm-6 col-lg-3 d-flex align-items-center justify-content-center box-item">
                    <div class="box-product-title p-5 text-center position-relative">
                        <div class="box-blackground"></div>
                        <h3 class="fz-30 fw-700 text-black-50 mb-0">{{ block['title'] }}</h3>
                    </div>
                </div>
                {% set col_xl = 12/block['grid'] %}
                {% if block['collections'] is not empty %}
                    {% for k,collection in block['collections']|slice(0, block['grid']) %}
                        <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item p-0">
                            <div class="pro-item">
                                <div class="pro-thumb position-relative">
                                    <img class="w-100 lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <div class="pro-info text-center px-3">
                                            <a class="pro-item-title text-black-50 fz-20 fw-700 d-block my-1" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% for k,product in block['products']|slice(0, block['grid']) %}
                <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item p-0">
                    <div class="pro-item">
                        <div class="pro-thumb position-relative">
                            <img data-src="{{ product['thumb'] }}" class="w-100 lazyload" alt="">
                            <!-- Pro Types -->
                            <ul class="pro-list-type w-100 list-inline mb-0">
                                {% if product['is_new_product'] %}
                                    <li class="list-inline-item float-left">
                                        <span class="fz-14 py-1 px-3 bg-light-2 text-white">Mới</span>
                                    </li>
                                {% endif %}
                                {% if product['percent_sale'] is not empty %}
                                    <li class="list-inline-item float-left">
                                        <span class="fz-14 py-1 px-3 bg-primary text-white">{{ product['percent_sale'] }}</span>
                                    </li>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <li class="list-inline-item float-left">
                                        <span class="fz-14 py-1 px-3 bg-light-2">Hết hàng</span>
                                    </li>
                                {% endif %}
                            </ul>
                            <!-- End: Pro Types -->
                            <!-- Pro Overlay -->
                            <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                <div class="pro-info text-center px-3">
                                    <a href="{{ product['href'] }}" title="{{ product.name }}" class="pro-item-title text-black-50 fz-20 fw-700 d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    <div class="pro-price">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="new-price text-primary">
                                                {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                <span class="new-price d-block text-primary fw-700 fz-20">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% else %}
                                                <span class="new-price d-block text-primary fw-700 fz-20">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="">{{ product['price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="old-price d-block text-light-1 fz-14">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <a href="{{ product['href'] }}" class="buy-now bg-primary text-uppercase text-white fw-500">Mua hàng ngay</a>
                                <ul class="pro-action list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="{{ product['href'] }}" class="add-cart text-center rounded-circle border border-primary text-primary bg-white">
                                            <span class="fas fa-cart-plus"></span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item d-none">
                                        <a href="javascript:;" class="add-favourite text-center rounded-circle border border-primary text-primary bg-white">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- EnD: Pro Overlay -->
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item box-view-more p-0 d-flex justify-content-center align-items-center">
                    <a href="{{ block['view_more'] }}" class="fz-30 text-black-50 fw-700">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- End: Sản phẩm khuyến mại -->
    {% if banners_visible == '1' %}
    <!-- Banner -->
    <div class="block-ads-banner banner-hightlight">
        <div class="container-fluid">
            <div class="row">
                {% if banner_highlight['visible'] == '1' %}
                <div class="col-md-6 px-0 bestme-block-banner-1">
                    <a  target="_blank" href="{{ banner_highlight['url'] }}" class="d-block position-relative">
                        {#<div class="banner-title d-flex align-items-center justify-content-center">#}
                            {#<span class="fz-48 fw-700 text-uppercase text-black">{{ banner_highlight['description'] }}</span>#}
                        {#</div>#}
                        <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}">
                    </a>
                </div>
                {% endif %}
                {% if banner_left['visible'] == '1' %}
                    <div class="col-md-6 px-0 bestme-block-banner-2">
                        <a  target="_blank" href="{{ banner_left['url'] }}" class="d-block position-relative">
                            {#<div class="banner-title d-flex align-items-center justify-content-center">#}
                                {#<span class="fz-48 fw-700 text-uppercase text-black">{{ banner_left['description'] }}</span>#}
                            {#</div>#}
                            <img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}">
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End: Banner -->
    {% for k, block in blocks %}

    {% if block['visible'] and k == 1 %}
    <!-- Sản phẩm bán chạy -->
    <div class="block-top-sale-product box-product my-4 bestme-block-best-sales-product">
        <div class="container">
            <div class="row border-top border-right border-light">
                <div class="col-sm-6 col-lg-3 d-flex align-items-center justify-content-center box-item">
                    <div class="box-product-title p-5 text-center position-relative">
                        <div class="box-blackground"></div>
                        <h3 class="fz-30 fw-700 text-black-50 mb-0">{{ block['title'] }}</h3>
                    </div>
                </div>
                {% set col_xl = 12/block['grid'] %}
                {% if block['collections'] is not empty %}
                    {% for k,collection in block['collections']|slice(0, block['grid']) %}
                        <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item p-0">
                            <div class="pro-item">
                                <div class="pro-thumb position-relative">
                                    <img class="w-100 lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <div class="pro-info text-center px-3">
                                            <a class="pro-item-title text-black-50 fz-20 fw-700 d-block my-1" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% for k,product in block['products']|slice(0, block['grid']) %}
                    <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item p-0">
                        <div class="pro-item">
                            <div class="pro-thumb position-relative">
                                <img data-src="{{ product['thumb'] }}" class="w-100 lazyload" alt="">
                                <!-- Pro Types -->
                                <ul class="pro-list-type w-100 list-inline mb-0">

                                    {% if product['is_new_product'] %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-14 py-1 px-3 bg-light-2 text-white">Mới</span>
                                        </li>
                                    {% endif %}
                                    {% if product['percent_sale'] is not empty %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-14 py-1 px-3 bg-primary text-white">{{ product['percent_sale'] }}</span>
                                        </li>
                                    {% endif %}
                                    {% if product['product_is_stock'] == false %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-14 py-1 px-3 bg-light-2">Hết hàng</span>
                                        </li>
                                    {% endif %}
                                </ul>
                                <!-- End: Pro Types -->
                                <!-- Pro Overlay -->
                                <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                    <div class="pro-info text-center px-3">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="pro-item-title text-black-50 fz-20 fw-700 d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        <div class="pro-price">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="new-price text-primary">
                                                {{ contact }}
                                            </span>
                                            {% else %}
                                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                    <span class="new-price d-block text-primary fw-700 fz-20">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                {% else %}
                                                    <span class="new-price d-block text-primary fw-700 fz-20">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="">{{ product['price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                    <span class="old-price d-block text-light-1 fz-14">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a href="{{ product['href'] }}" class="buy-now bg-primary text-uppercase text-white fw-500">Mua hàng ngay</a>
                                    <ul class="pro-action list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="{{ product['href'] }}" class="add-cart text-center rounded-circle border border-primary text-primary bg-white">
                                                <span class="fas fa-cart-plus"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item d-none">
                                            <a href="javascript:;" class="add-favourite text-center rounded-circle border border-primary text-primary bg-white">
                                                <span></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- EnD: Pro Overlay -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item box-view-more p-0 d-flex justify-content-center align-items-center">
                    <a href="{{ block['view_more'] }}" class="fz-30 text-black-50 fw-700">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <!-- End: Sản phẩm bán chạy -->
    {% if banners_visible == '1' %}
    <!-- Banner -->
    {% if banner_middle['visible'] == '1' %}
    <div class="block-ads-banner my-3 bestme-block-banner-3">
        <div class="container-fluid px-0">
            <a  target="_blank" href="{{ banner_middle['url'] }}"><img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}"></a>
        </div>
    </div>
    {% endif %}
    <!-- End: Banner -->
    {% endif %}
    <!-- Sản phẩm mới -->
    {% for k, block in blocks %}
    {% if block['visible'] and k > 1 %}
    <div class="block-new-product box-product bestme-block-new-product">
        <div class="container">
            <div class="row border-top border-right border-light">
                <div class="col-sm-6 col-lg-3 d-flex align-items-center justify-content-center box-item">
                    <div class="box-product-title p-5 text-center position-relative">
                        <div class="box-blackground"></div>
                        <h3 class="fz-30 fw-700 text-black-50 mb-0">{{ block['title'] }}</h3>
                    </div>
                </div>
                {% set col_xl = 12/block['grid'] %}
                {% if block['collections'] is not empty %}
                    {% for k,collection in block['collections']|slice(0, block['grid']) %}
                        <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item p-0">
                            <div class="pro-item">
                                <div class="pro-thumb position-relative">
                                    <img class="w-100 lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <div class="pro-info text-center px-3">
                                            <a class="pro-item-title text-black-50 fz-20 fw-700 d-block my-1" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% for k,product in block['products']|slice(0, block['grid']) %}
                    <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item p-0">
                        <div class="pro-item">
                            <div class="pro-thumb position-relative">
                                <img data-src="{{ product['thumb'] }}" class="w-100 lazyload" alt="">
                                <!-- Pro Types -->
                                <ul class="pro-list-type w-100 list-inline mb-0">
                                    {% if product['is_new_product'] %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-14 py-1 px-3 bg-light-2 text-white">Mới</span>
                                        </li>
                                    {% endif %}
                                    {% if product['percent_sale'] is not empty %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-14 py-1 px-3 bg-primary text-white">{{ product['percent_sale'] }}</span>
                                        </li>
                                    {% endif %}
                                    {% if product['product_is_stock'] == false %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-14 py-1 px-3 bg-light-2">Hết hàng</span>
                                        </li>
                                    {% endif %}
                                </ul>
                                <!-- End: Pro Types -->
                                <!-- Pro Overlay -->
                                <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                    <div class="pro-info text-center px-3">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="pro-item-title text-black-50 fz-20 fw-700 d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        <div class="pro-price">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="new-price text-primary">
                                                {{ contact }}
                                            </span>
                                            {% else %}
                                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                    <span class="new-price d-block text-primary fw-700 fz-20">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                {% else %}
                                                    <span class="new-price d-block text-primary fw-700 fz-20">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="">{{ product['price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                    <span class="old-price d-block text-light-1 fz-14">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a href="{{ product['href'] }}" class="buy-now bg-primary text-uppercase text-white fw-500">Mua hàng ngay</a>
                                    <ul class="pro-action list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="{{ product['href'] }}" class="add-cart text-center rounded-circle border border-primary text-primary bg-white">
                                                <span class="fas fa-cart-plus"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item d-none">
                                            <a href="javascript:;" class="add-favourite text-center rounded-circle border border-primary text-primary bg-white">
                                                <span></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- EnD: Pro Overlay -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                <div class="col-{{ col_xl }} col-sm-{{ col_xl }} col-lg-{{ col_xl }} box-item box-view-more p-0 d-flex justify-content-center align-items-center">
                    <a href="{{ block['view_more'] }}" class="fz-30 text-black-50 fw-700">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Sản phẩm mới -->
    {% endif %}
    {% endfor %}
    <div class="bestme_app_after_product">

    </div>
    <!-- Box Custommer -->
    {% if partners_visible == '1' %}
    <div class="box-custommer mt-3 mt-md-5 py-3 py-md-5 bestme-block-partner">
        <div class="container">
            <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="item">
                        <a href="{{ partner['url'] }}" target="_blank">
                            {#<div class="custommer-avt" style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;">#}
                            {#</div>#}
                            <img src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End: Box Custommer -->

    <!-- Box News -->
    {% if latest_blog %}
    <div class="block-blog mt-3 mt-md-5">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-6 px-0 block-blog-title d-flex justify-content-center align-items-center border-top border-light">
                    <h3 class="fz-36 text-uppercase">{{ blog_title }}</h3>
                </div>
                {% for key, latest_blog in latest_blog %}
                    {% if key < 3 %}
                        <div class="col-sm-6 px-0 block-blog-item" style="background: url('{{ latest_blog['image'] }}') no-repeat center; background-size: cover;">
                            <div class="block-blog-info p-5">
                                <div class="blog-info-head mb-3">
                                    <span class="post-time text-white fz-14 fw-400">{{ latest_blog['date_added']|date("d/m/Y") }}</span>
                                    <h4 class="news-title fz-20 text-uppercase text-white fw-700 mb-0">{{ latest_blog['title'] }}</h4>
                                    <span class="post-author fz-12 text-white">{{ latest_blog['lastname'] }} {{ latest_blog['firstname'] }}</span>
                                </div>
                                <p class="news-desc text-white fw-300 mb-5">{{ latest_blog['short_content']|length > 100 ? latest_blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : latest_blog['short_content']|html_entity_decode|striptags }}</p>
                                <a href="{{ latest_blog['link'] }}" class="read-more text-white text-uppercase border-bottom border-white">Đọc thêm</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- End: Box News -->
</main>
<div class="bestme_app_before_footer">

</div>
{{ footer }}