
<!-- Banners box (in case of not enough product lists) -->

{% include theme_name ~ '/template/common/banner_3_4.twig' %}

{% if blocks|length < 5 %}
    {% include theme_name ~ '/template/common/banner_5.twig' %}
{% endif %}
<!-- End: Banners box -->