{% if partners_visible == '1' %}
    <!-- Box Custommer -->
    <div class="box-custommer mb-3 mb-lg-5 pb-3 box-border overflow-hidden bestme-block-partner">
        <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-interval="{{ slideshow.transition_time }}" data-number_items="{{ partners_limit_per_line }}">
            {% for partner in partners %}
                <a href="{{ partner.url }}" title="{{ partner['description'] }}">
                    <div class="item">
                        <div class="custommer-avt"
                             style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <!-- End: Box Custommer -->
{% endif %}