{% if latest_blog %}
    <!-- block-blog -->
    <div id="block-blog" class="block-blog">
        <div class="container">
            <div class="block-head header- header-color">
                <h3>{{ blog_title }}</h3>
            </div>
            <div class="row">
                {% for k,blog in latest_blog %}
                    {% if k < 3 %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="blog-item">
                                <div class="thumb">
                                    <a href="{{ blog['link'] }}">
                                        {% if blog['type'] == 'video' %}
                                            <div id="blog-thumb-video-{{ key }}" class="blog-thumb-video" style="width: 100%; height: 100%"
                                                 data-video-url="{{ blog['video_url'] }}"></div>
                                        {% else %}
                                            <img class="img-fluid" src="{{ blog['image'] }}" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="content main-font text-center text-color">
                                    <h6 class="author"><a class="link-color" href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></h6>
                                    <h5 class="name-blog">
                                        <a href="{{ blog['link'] }}" class="link-color">
                                            {{ blog['title'] }}
                                        </a>
                                    </h5>
                                    <div class="meta text-center">
                                        <span class="date text-color">{{ blog['date_added']|date('d.m.Y') }}</span>
                                    </div>
                                    <div class="desc">
                                        {{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                    </div>
                                    <div class="view-more main-font">
                                        <a class="header-color main-background-hover" href="{{ blog['link'] }}">Đọc tiếp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-blog -->