<!-- block-partner -->
{% if partners_visible == '1' %}
    <div id="block-partner" class="block-partner bestme-block-partner">
        <div class="container">
            <div class="block-head header- header-color">
                <h3>{{ partners_title }}</h3>
            </div>
            <!-- Swiper -->
            <div class="swiper-container swiper-partner" data-auto-play="{{ partners_setting.autoplay }}" data-loop="{{ partners_setting.loop }}" data-limit-inline="{{ partners_limit_per_line }}" data-time="{{ slideshow.transition_time }}">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                        <div class="swiper-slide">
                            <a href="{{ partner.url }}"><img class="img-fluid lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-partner -->