{% if slideshow.visible %}
    <!-- Slideshow -->
    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
        <div class="owl-carousel owl-slide owl-banner" data-time="{{ slideshow.transition_time }}">
            {% for slide in slideshow.slides %}
                {% if slide['type'] == 'video' %}
                    <div class="item {% if 0 == loop.index0 %} active{% endif %}">
                        <div id="video-slideshow-{{ loop.index0 }}" class="video-slideshow"
                             data-video-url="{{ slide['video-url'] }}">
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}"><img
                                    class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"/></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}
<!-- End slide banner -->

<div class="bestme_app_after_slide">

</div>