{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['active'] is defined  %}
                    <span class="breadcrumb-item active main-color">{{ breadcrumb.text }}</span>
                {% else %}
                    <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div id="buy-now" class="bg-white buy-now">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="vertical-align: middle; margin: auto">
                <span class="product-name mb-0">
                    {{ product['name'] }}
                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                        {% if product['max_price_version'] is null %}
                            {{ product['compare_price_master'] == 0 ? '' : ' - '  ~ product['compare_price_master'] }}
                        {% endif %}
                    {% else %}
                        {% if product['max_price_version'] is null %}
                            - {{ product['price_master'] }}
                        {% endif %}
                    {% endif %}
                </span>
                <span class="product-version text-secondary mb-0"></span>
            </div>
            <div class="col-md-6" style="vertical-align: middle; margin: auto">
                <div class="form-action row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 pr-0">
                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="btn btn-action w-100 btn-add-cart-header {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                onclick="cart.add('{{ product['product_id'] }}')">Thêm vào giỏ hàng
                        </button>
                    </div>
                    <div class="col-md-4">

                        <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="button_buying btn btn-buy btn-buy-now-header {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua ngay
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="block-product-detail" class="block-page block-product-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="block-slideshow-detail" class="gallery">
                    <div class="owl-1">
                        {% if product_images is not empty %}
                            {% for image in product_images %}
                                <div class="img"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="img"><img class="img-fluid" src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>

                    <div class="owl-2">
                        {% if product_images is not empty %}
                            {% for image in product_images %}
                                <div class="thumb"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="thumb"><img class="img-fluid" src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <article>
                    <div id="block-detail-product" class="block-detail">
                        <h1 class="product-name main-font">{{ product['name'] }}</h1>
                        <div class="status-wrap mb-3" style="display: block">
                            <div class="status-box">
                                <span>Tình trạng: </span>
                                {% if product['product_is_stock'] %}
                                    <span class="show">Còn hàng</span>
                                {% else %}
                                    <span class="show">Hết hàng</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="price-box main-font">
                            {% if product['is_contact_for_price'] %}
                                <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-action">
                                    <span class="price-new main-color">{{ contact }}</span>
                                </a>
                            {% else %}
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        <div class="price-new main-color">
                                            <span class="price">{{ product['compare_price_master'] }}</span>
                                        </div>
                                    {% else %}
                                        <div class="price-new main-color">
                                            <span class="price">{{ product['min_compare_price_version'] }}</span>
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if product['max_price_version'] is null %}
                                        <div class="price-new main-color">
                                            <span class="price">{{ product['price_master'] }}</span>
                                        </div>
                                    {% else %}
                                        <div class="price-new main-color">
                                            <span class="price">{{ product['min_price_version'] }}</span>
                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                ~ <span class="price">{{ product['max_price_version'] }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if product['max_compare_price_version'] is null %}
                                        <div class="price-old text-color">
                                            <span class="price">{{ product['compare_price_master'] }}</span>
                                        </div>
                                    {% else %}
                                        <div class="price-old text-color">
                                            <span class="price-old">{{ product['min_compare_price_version'] }}</span>
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ <span class="price-old">{{ product['max_compare_price_version'] }}</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="desc ckeditor-content">
                            {{ product['sub_description']|html_entity_decode }}
                        </div>
                        <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">

                            {% if attributes is not empty %}
                                {% for attribute in attributes %}
                                    <div class="change-item" style="width: 100%">
                                        <div class="change-name" style="width: 15%;">{{ attribute['attribute_name'] }}:</div>
                                        <div class="form-check form-check-inline">
                                            {% for key,attribute_text in attribute['attribute_text'] %}
                                                <label class="form-check-label">
                                                    <input class="form-check-input" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id=""
                                                           value="{{ attribute_text }}"> <span>{{ attribute_text }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                            <div class="form-action mb-2 mt-4 show-on-pc" {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>
                                {% if is_on_mobile != 1 %}
                                    <div class="quantity">
                                        <input type="number" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" min="1" max="9999" name="quantity" step="1" value="1">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">
                                                <img src="catalog/view/theme/fashion_shoezone/images/plus.png" alt="">
                                            </div>
                                            <div class="quantity-button quantity-down">
                                                <img src="catalog/view/theme/fashion_shoezone/images/minus.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                        onclick="cart.add('{{ product['product_id'] }}')"
                                        {#{% if product['is_contact_for_price'] %} disabled {% endif %}>#}
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         viewBox="0 0 16 16" fill="none">
                                        <path d="M0.625 0.625H2.625V10.625H15.125" stroke="#454545"
                                              stroke-miterlimit="10" stroke-linecap="square" />
                                        <path
                                                d="M3.625 15.625C4.45343 15.625 5.125 14.9534 5.125 14.125C5.125 13.2966 4.45343 12.625 3.625 12.625C2.79657 12.625 2.125 13.2966 2.125 14.125C2.125 14.9534 2.79657 15.625 3.625 15.625Z"
                                                stroke="#454545" stroke-miterlimit="10" stroke-linecap="square" />
                                        <path
                                                d="M14.125 15.625C14.9534 15.625 15.625 14.9534 15.625 14.125C15.625 13.2966 14.9534 12.625 14.125 12.625C13.2966 12.625 12.625 13.2966 12.625 14.125C12.625 14.9534 13.2966 15.625 14.125 15.625Z"
                                                stroke="#454545" stroke-miterlimit="10" stroke-linecap="square" />
                                        <path d="M2.625 2.625H14.125L12.625 8.625H2.625" stroke="#454545"
                                              stroke-miterlimit="10" stroke-linecap="square" />
                                    </svg> Thêm vào giỏ hàng</button>
                                <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                        {#{% if product['is_contact_for_price'] %} disabled {% endif %}>#}
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>
                                     Mua ngay</button>
                            </div>

                            {# only on mobile #}
                            {% if  is_on_mobile == 1 %}
                                <div class="show-on-mobile buy-now-mobile row w-100 d-flex">
                                    <div class="col-2 number-quantity pl-0">
                                        <input pattern="[0-9]*" type="number" oninput="this.setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                               required name="quantity" min="1" max="9999" step="1" value="1"
                                               class="text-center w-100 {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    </div>
                                    <div class="col-6 pl-0 pr-0">
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}
                                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                                onclick="cart.add('{{ product['product_id'] }}')">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-buy {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}
                                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            {# end only on mobile #}
                        </form>
                        <div class="block-category-type">
                            <span>Loại sản phẩm: </span>
                            {% if categories is not empty %}
                                {% for category in categories %}
                                    <a href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="tags">
                            <span>Tags:</span>
                            {% if tags is not empty %}
                                {% for tag in tags %}
                                    <a href="javascript:void(0)">{{ tag['name'] }}</a>{% if tags|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="social">
                            <span>Chia sẻ: </span>
                            <ul>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                             viewBox="0 0 19 19" fill="none">
                                            <path
                                                    d="M9.5 7.6V11.4H14.8751C14.0904 13.6116 11.9776 15.2 9.5 15.2C6.3574 15.2 3.8 12.6426 3.8 9.5C3.8 6.3574 6.3574 3.8 9.5 3.8C10.8623 3.8 12.1733 4.2883 13.1917 5.1756L15.6883 2.3104C13.9783 0.8208 11.7819 0 9.5 0C4.2617 0 0 4.2617 0 9.5C0 14.7383 4.2617 19 9.5 19C14.7383 19 19 14.7383 19 9.5V7.6H9.5Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18"
                                             viewBox="0 0 10 18" fill="none">
                                            <path
                                                    d="M9.62343 0.0037452L7.22488 0C4.5302 0 2.78878 1.73871 2.78878 4.42982V6.47227H0.377148C0.168755 6.47227 0 6.63668 0 6.83949V9.79876C0 10.0016 0.168947 10.1658 0.377148 10.1658H2.78878V17.633C2.78878 17.8358 2.95753 18 3.16593 18H6.31242C6.52081 18 6.68957 17.8356 6.68957 17.633V10.1658H9.50932C9.71772 10.1658 9.88647 10.0016 9.88647 9.79876L9.88763 6.83949C9.88763 6.74211 9.84779 6.64886 9.77718 6.57994C9.70656 6.51103 9.61034 6.47227 9.51029 6.47227H6.68957V4.74086C6.68957 3.90868 6.89334 3.48622 8.00727 3.48622L9.62304 3.48566C9.83125 3.48566 10 3.32124 10 3.11863V0.370775C10 0.168347 9.83144 0.00411972 9.62343 0.0037452Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19"
                                             viewBox="0 0 23 19" fill="none">
                                            <path
                                                    d="M23 2.248C22.1535 2.62948 21.2452 2.88819 20.2908 3.00369C21.2653 2.41024 22.0112 1.46896 22.3647 0.350785C21.4507 0.900354 20.4417 1.29941 19.3666 1.51574C18.5057 0.58175 17.2812 0 15.923 0C13.3173 0 11.2046 2.14863 11.2046 4.79713C11.2046 5.17276 11.2463 5.53964 11.3268 5.89046C7.40601 5.69019 3.92936 3.77983 1.60249 0.876963C1.19574 1.58442 0.964348 2.40875 0.964348 3.2887C0.964348 4.95353 1.79795 6.42249 3.06273 7.28191C2.28948 7.25561 1.56224 7.03929 0.925564 6.67971V6.73964C0.925564 9.06366 2.55252 11.0033 4.70978 11.4447C4.31454 11.5529 3.89775 11.6128 3.46658 11.6128C3.1619 11.6128 2.86726 11.5821 2.57837 11.5236C3.17912 13.4311 4.92107 14.8182 6.98495 14.8562C5.37092 16.1425 3.33579 16.9069 1.12535 16.9069C0.744495 16.9069 0.369354 16.8835 0 16.8411C2.08831 18.2049 4.56754 19 7.23216 19C15.9116 19 20.6559 11.6888 20.6559 5.34819L20.6401 4.727C21.5671 4.05459 22.369 3.20977 23 2.248Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Comment -->
        <div class="block-description">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link header-font active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Chi tiết</a>
                </li>
                {#<li class="nav-item">#}
                    {#<a class="nav-link header-font active" id="profile-tab" data-toggle="tab" href="#profile"#}
                       {#role="tab" aria-controls="profile" aria-selected="false">Đánh giá (2)</a>#}
                {#</li>#}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ckeditor-content" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{ product['description']|html_entity_decode }}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="block-comment">
                        <div class="comment-list">
                            <!-- Comment item -->
                            <div class="comment-item flex-display">
                                <div class="user-avatar">
                                    <div class="thumb">
                                        <img src="catalog/view/theme/fashion_shoezone/images/user-thumb.png" alt="">
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <div class="flex-display">
                                        <div class="user-infor">
                                            <div class="rated">
                                                <ul class="text-color-hover">
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z"
                                                                    fill="white" stroke="#949494" />
                                                        </svg>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6 class="name"><span>LƯƠNG VIỆT DŨNG </span> - <span
                                                        class="date">06/04/2019</span></h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem,
                                        quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies
                                        massa massa. Fusce aliquam, purus eget sagittis vulputate.
                                    </div>
                                </div>
                            </div>
                            <!-- /.Comment item -->
                            <!-- Comment item -->
                            <div class="comment-item flex-display">
                                <div class="user-avatar">
                                    <div class="thumb">
                                        <img src="catalog/view/theme/fashion_shoezone/images/user-thumb.png" alt="">
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <div class="flex-display">
                                        <div class="user-infor">
                                            <div class="rated">
                                                <ul class="text-color-hover">
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z"
                                                                    fill="white" stroke="#949494" />
                                                        </svg>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6 class="name"><span>LƯƠNG VIỆT DŨNG </span> - <span
                                                        class="date">06/04/2019</span></h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem,
                                        quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies
                                        massa massa. Fusce aliquam, purus eget sagittis vulputate.
                                    </div>
                                </div>
                            </div>
                            <!-- /.Comment item -->
                        </div>
                        <h4 class="title-block">
                            <span>thêm đánh giá</span>
                        </h4>
                        <div class="block-form-rating">
                            <form action="">
                                <div class="form-group-rating">
                                    <label class="title" for="">Xếp hạng</label>
                                    <div class="rating">
                                        <div class="form-group">
                                            <input class="star star-5" id="star-5q" type="radio" name="star" />
                                            <label class="star star-5" for="star-5q"></label>
                                            <input class="star star-4" id="star-4q" type="radio" name="star" />
                                            <label class="star star-4" for="star-4q"></label>
                                            <input class="star star-3" id="star-3q" type="radio" name="star" />
                                            <label class="star star-3" for="star-3q"></label>
                                            <input class="star star-2" id="star-2q" type="radio" name="star" />
                                            <label class="star star-2" for="star-2q"></label>
                                            <input class="star star-1" id="star-1q" type="radio" name="star" />
                                            <label class="star star-1" for="star-1q"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-rating">
                                    <label class="title" for="">Bình luận</label>
                                    <div class="col-group">
                                        <input type="text" name="" id="" class="form-control"
                                               placeholder="Họ và tên*" aria-describedby="helpId">
                                        <input type="text" name="" id="" class="form-control"
                                               placeholder="Số điện thoại*" aria-describedby="helpId">
                                        <input type="text" name="" id="" class="form-control"
                                               placeholder="Địa chỉ email" aria-describedby="helpId">
                                        <textarea class="item1 form-control" placeholder="Nội dung bình luận*"
                                                  name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group-rating">
                                    <label class="title" style="visibility: hidden;" for="">Send</label>
                                    <button type="submit" class="btn btn-submit header-font">Gửi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Comment -->
        {% if related_product_visible %}
        <div id="block-product-related" class="product-detail-related-product block-related bestme-block-product-related-product">
            <div class="row overflow-hidden">
                <div class="col-lg-12">
                    <div class="header-related">
                        <h2 class="header-font">{{ related_product_title }}</h2>
                    </div>
                    <div class="swiper-container swiper-related" data-number-item="{{ related_products_display_grid_quantity }}"
                         data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                        <div class="swiper-wrapper">
                                {% for product in related_products %}
                                    <div class="swiper-slide">
                                        <div class="product-item text-center">
                                            <div class="block-hover">
                                                <div class="block-head">
                                                    <div class="thumb-box">
                                                        <div class="img"><a href="{{ product['href'] }}"><img class="img-fluid"
                                                                                                              src="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a></div>
                                                        <div class="rated d-none">
                                                            <ul>
                                                                <li>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                         viewBox="0 0 13 13" fill="none">
                                                                        <path d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                              fill="#EC006C" />
                                                                    </svg>
                                                                </li>
                                                                <li>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                         viewBox="0 0 13 13" fill="none">
                                                                        <path d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                              fill="#EC006C" />
                                                                    </svg>
                                                                </li>
                                                                <li>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                         viewBox="0 0 13 13" fill="none">
                                                                        <path d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                              fill="#EC006C" />
                                                                    </svg>
                                                                </li>
                                                                <li>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                         viewBox="0 0 13 13" fill="none">
                                                                        <path
                                                                                d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                                fill="#EC006C" />
                                                                    </svg>
                                                                </li>
                                                                <li>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                         viewBox="0 0 13 13" fill="none">
                                                                        <path
                                                                                d="M6.10001 0.983555L5.90954 1.04456L5.90966 1.04494C5.90962 1.04481 5.90958 1.04468 5.90954 1.04456L6.10001 0.983555ZM6.10001 0.983555L6.29048 1.04456L6.29036 1.04494C6.2904 1.04481 6.29044 1.04468 6.29048 1.04456L6.10001 0.983555ZM6.10001 1.63926L7.10621 4.78089C7.2123 5.11214 7.52027 5.33688 7.86809 5.33688H11.1412L8.48335 7.29593C8.20698 7.49963 8.0914 7.85696 8.19612 8.18392L9.20806 11.3435L6.57467 9.40247C6.29242 9.19444 5.9076 9.19444 5.62536 9.40248L2.99197 11.3435L4.0039 8.18392C4.10862 7.85696 3.99304 7.49963 3.71668 7.29593L1.0588 5.33688H4.33194C4.67976 5.33688 4.98772 5.11214 5.09382 4.78089L6.10001 1.63926ZM0.569032 4.97589C0.569134 4.97596 0.569234 4.97604 0.569335 4.97611L0.569032 4.97589Z"
                                                                                stroke="#3A3A3A" />
                                                                    </svg>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="status">
                                                            {% if product['product_is_stock'] == false %}
                                                                <span class="sale-off main-color">Hết hàng</span>
                                                            {% endif %}
                                                            {% if product['percent_sale'] is not empty %}
                                                                <span class="sale-off main-color">{{ product['percent_sale'] }}</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="action">
                                                            <a href="{{ product['href'] }}" class="btn btn-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12"
                                                                     viewBox="0 0 17 12" fill="none">
                                                                    <path
                                                                            d="M8.55703 0.161987C4.82269 0.161987 1.64593 2.51742 0.340008 5.86184C1.64593 9.20625 4.82269 11.5617 8.55703 11.5617C12.2914 11.5617 15.4681 9.20625 16.7741 5.86184C15.4681 2.51742 12.2914 0.161987 8.55703 0.161987ZM8.55703 9.663C6.50277 9.663 4.82269 7.95304 4.82269 5.86184C4.82269 3.77063 6.50277 2.06068 8.55703 2.06068C10.6113 2.06068 12.2914 3.77063 12.2914 5.86184C12.2914 7.95304 10.6113 9.663 8.55703 9.663ZM8.55703 3.5819C7.32448 3.5819 6.31569 4.60863 6.31569 5.86184C6.31569 7.11505 7.32448 8.14178 8.55703 8.14178C9.78958 8.14178 10.7984 7.11505 10.7984 5.86184C10.7984 4.60863 9.78958 3.5819 8.55703 3.5819Z"
                                                                            fill="#571F9C" />
                                                                </svg>
                                                            </a>
                                                            <a href="" class="btn btn-primary d-none">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                                                     viewBox="0 0 20 18" fill="none">
                                                                    <path
                                                                            d="M17.3816 2.00714C16.9483 1.54282 16.4338 1.1745 15.8676 0.923205C15.3014 0.671916 14.6946 0.542579 14.0817 0.542579C13.4689 0.542579 12.862 0.671916 12.2958 0.923205C11.7296 1.1745 11.2151 1.54282 10.7818 2.00714C10.4551 2.35714 10.209 2.75464 9.99897 3.16839C9.79186 2.74205 9.52774 2.35041 9.21497 2.00589C8.33977 1.06818 7.15276 0.541382 5.91505 0.541382C4.67734 0.541382 3.49033 1.06818 2.61513 2.00589C1.73994 2.94359 1.24826 4.21539 1.24826 5.54151C1.24826 6.86763 1.73994 8.13943 2.61513 9.07714L9.99897 16.7921L17.3816 9.07714C17.8152 8.61311 18.1592 8.06206 18.3939 7.4555C18.6286 6.84894 18.7494 6.19876 18.7494 5.54214C18.7494 4.88551 18.6286 4.23533 18.3939 3.62877C18.1592 3.02221 17.8152 2.47116 17.3816 2.00714V2.00714Z"
                                                                            stroke="#571F9C" stroke-miterlimit="10" stroke-linecap="round"
                                                                            stroke-linejoin="round" />
                                                                </svg>
                                                            </a>
                                                            <a href="{{ product['href'] }}" class="btn btn-primary">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                                     viewBox="0 0 17 16" fill="none">
                                                                    <path
                                                                            d="M16.0774 3.64321C15.9841 3.51299 15.8352 3.43592 15.6769 3.43592H4.52445C4.50284 3.43592 4.48127 3.43726 4.46049 3.44011L4.00151 2.0928C3.95394 1.95346 3.84919 1.84239 3.71457 1.78842L1.40142 0.86308C1.14649 0.761443 0.858811 0.888956 0.75869 1.14824C0.658743 1.40767 0.783928 1.70079 1.03872 1.80275L3.1396 2.64317L5.7111 10.1912C5.5976 10.2314 5.50142 10.3201 5.45762 10.4442L4.71411 12.5473C4.66855 12.6763 4.68732 12.8196 4.76487 12.9316C4.84231 13.0437 4.96825 13.1104 5.10274 13.1104H5.48455C5.24794 13.3785 5.10274 13.7316 5.10274 14.1199C5.10274 14.9549 5.76991 15.6342 6.58975 15.6342C7.40959 15.6342 8.07677 14.9549 8.07677 14.1199C8.07677 13.7316 7.93156 13.3785 7.69495 13.1104H10.937C10.7003 13.3785 10.555 13.7316 10.555 14.1199C10.555 14.9549 11.2221 15.6342 12.0421 15.6342C12.8621 15.6342 13.5291 14.9549 13.5291 14.1199C13.5291 13.7316 13.3839 13.3785 13.1473 13.1104H13.6117C13.8399 13.1104 14.0247 12.9221 14.0247 12.6898C14.0247 12.4574 13.8398 12.2692 13.6117 12.2692H5.69046L6.15093 10.9667C6.21039 10.9922 6.27463 11.0073 6.34187 11.0073H13.6116C13.8271 11.0073 14.0179 10.8655 14.0835 10.6566L16.1488 4.09483C16.1973 3.94119 16.1707 3.77344 16.0774 3.64321ZM6.58975 14.7929C6.22526 14.7929 5.92887 14.4911 5.92887 14.1199C5.92887 13.7487 6.22526 13.4469 6.58975 13.4469C6.95424 13.4469 7.25063 13.7487 7.25063 14.1199C7.25063 14.4911 6.95424 14.7929 6.58975 14.7929ZM12.042 14.7929C11.6775 14.7929 11.3811 14.4911 11.3811 14.1199C11.3811 13.7487 11.6775 13.4469 12.042 13.4469C12.4065 13.4469 12.7029 13.7487 12.7029 14.1199C12.7029 14.4911 12.4065 14.7929 12.042 14.7929ZM14.6402 5.58113H12.1109V4.44544H14.9976L14.6402 5.58113ZM13.9119 7.89454H12.1109V6.59061H14.3224L13.9119 7.89454ZM8.83389 7.89454V6.59061H11.1196V7.89454H8.83389ZM11.1196 8.90413V9.99775H8.83389V8.90413H11.1196ZM5.53378 6.59061H7.84264V7.89454H5.97807L5.53378 6.59061ZM8.83389 5.58113V4.44544H11.1196V5.58113H8.83389ZM7.84261 4.44544V5.58113H5.18976L4.80286 4.44544H7.84261ZM6.32206 8.90413H7.84261V9.99775H6.69461L6.32206 8.90413ZM12.1109 9.99778V8.90416H13.5944L13.2502 9.99778H12.1109Z"
                                                                            fill="#571F9C" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-box main-font">
                                                    <h5 class="name">
                                                        <a class="link-color" title="{{ product.name }}" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                                    </h5>
                                                    <div class="price-box main-font">
                                                        {% if product['is_contact_for_price'] %}
                                                            <span class="price-new">{{ contact }}</span>
                                                        {% else %}
                                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                <div class="price-new main-color">
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            {% else %}
                                                                <div class="price-new main-color">
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="price">{{ product['price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_price_version'] }}</span>
                                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="price-old text-color">
                                                                    {% if product['max_compare_price_version'] is null %}
                                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="{{ product['href'] }}">
                                                        <button type="button" class="btn btn-buy main-background-hover">MUA NGAY</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                        <!-- Add button -->
                        <div class="swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18"
                                 fill="none">
                                <path
                                        d="M0.350939 0.338324C0.456295 0.23107 0.581409 0.145985 0.719124 0.0879327C0.856839 0.0298806 1.00446 0 1.15354 0C1.30262 0 1.45023 0.0298806 1.58795 0.0879327C1.72566 0.145985 1.85077 0.23107 1.95613 0.338324L9.66729 8.17388C9.77277 8.28102 9.85644 8.40824 9.91353 8.54828C9.97062 8.68832 10 8.83843 10 8.99003C10 9.14162 9.97062 9.29173 9.91353 9.43177C9.85644 9.57181 9.77277 9.69904 9.66729 9.80617L1.95613 17.6417C1.85174 17.7533 1.72645 17.8424 1.58765 17.9039C1.44884 17.9654 1.29933 17.9981 1.14792 17.9999C0.996516 18.0018 0.846282 17.9727 0.706075 17.9146C0.565866 17.8565 0.438524 17.7704 0.331552 17.6614C0.22458 17.5524 0.140142 17.4228 0.0832176 17.2801C0.0262938 17.1374 -0.00196552 16.9846 0.000104904 16.8307C0.00217628 16.6767 0.0345354 16.5247 0.0952768 16.3837C0.156017 16.2426 0.243912 16.1154 0.353775 16.0094L7.26234 8.99003L0.353775 1.97061C0.248116 1.86367 0.164221 1.73659 0.106889 1.59666C0.0495567 1.45672 0.0199108 1.30666 0.0196476 1.15507C0.0193844 1.00347 0.0485096 0.853308 0.105354 0.713166C0.1622 0.573023 0.245651 0.445648 0.350939 0.338324Z"
                                        fill="#454545" />
                            </svg>
                        </div>
                        <div class="swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18"
                                 fill="none">
                                <path
                                        d="M9.64906 17.6617C9.54371 17.7689 9.41859 17.854 9.28088 17.9121C9.14316 17.9701 8.99554 18 8.84646 18C8.69738 18 8.54977 17.9701 8.41205 17.9121C8.27434 17.854 8.14923 17.7689 8.04387 17.6617L0.332709 9.82612C0.227236 9.71898 0.143562 9.59176 0.0864737 9.45172C0.0293853 9.31168 7.7268e-07 9.16157 7.85933e-07 9.00997C7.99186e-07 8.85838 0.0293854 8.70827 0.0864738 8.56823C0.143562 8.42819 0.227236 8.30096 0.332709 8.19383L8.04387 0.358269C8.14826 0.246739 8.27355 0.157586 8.41236 0.0960701C8.55116 0.0345524 8.70067 0.00191574 8.85208 8.27899e-05C9.00349 -0.00175207 9.15372 0.0272549 9.29393 0.0853928C9.43414 0.143529 9.56148 0.229623 9.66845 0.338593C9.77542 0.447564 9.85986 0.577207 9.91678 0.719884C9.97371 0.862559 10.002 1.01538 9.9999 1.16934C9.99783 1.3233 9.96547 1.47528 9.90472 1.61631C9.84398 1.75736 9.75609 1.8846 9.64623 1.99056L2.73766 9.00997L9.64623 16.0294C9.75188 16.1363 9.83578 16.2634 9.89311 16.4033C9.95044 16.5433 9.98009 16.6933 9.98035 16.8449C9.98062 16.9965 9.95149 17.1467 9.89465 17.2868C9.8378 17.427 9.75435 17.5544 9.64906 17.6617Z"
                                        fill="#454545" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
        } else {
            $('#add-to-cart').submit();
        }
    });

    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart button, button.btn-add-cart-header').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.action-cart a .count').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>
<style>
    .block-product-detail .block-detail .block-custom-change .form-action .btn-action.hover {
        border: 1px solid #EBEBEB;
        background-color: inherit;
        color: #212529;
    }
    .block-product-detail .block-detail .block-custom-change .form-action .btn-action.hover svg path {
        stroke: #212529;
    }
</style>
{{ footer }}
