{{ header }}
<main id="main-wrapper">
    <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <div class="container">
            <ol class="breadcrumb py-3">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            {% if visible_form == 1 %}
            <div class="row">
                <div class="contact-left col-md-8 pr-md-5">
                    <h1 class="fz-20 fw-600 text-uppercase mb-3">HÒM THƯ GÓP Ý</h1>
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <form action="{{ href_submit_form }}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="your-name" class="fw-600">Họ và tên</label>
                                    <input type="text" class="form-control rounded-0" name="fullname"  oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="fw-600">Số điện thoại</label>
                                    <input type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                           pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15"
                                           name="phone" id="" class="form-control rounded-0" required
                                           aria-describedby="helpId">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="your-email" class="fw-600">Địa chỉ email</label>
                            <input type="email" class="form-control rounded-0" name="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                        </div>
                        <div class="form-group">
                            <label for="your-messenger" class="fw-600">Nội dung góp ý</label>
                            <textarea class="form-control" id="your-messenger" rows="5" name="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-0 fz-12 fw-700 text-uppercase py-2 px-3">Gửi góp ý</button>
                    </form>
                </div>
                {#<div class="contact-right col-md-4">
                    <div class="contact-info mb-4">
                        <h3 class="fz-20 fw-600 text-uppercase mb-3">Thông tin Liên hệ</h3>
                        <span class="text-black-20">{{ contacts_info.address }}</span><br>
                    </div>
                    <div class="contact-info mb-4">
                        <h3 class="fz-20 fw-600 text-uppercase mb-3">Số điện thoại</h3>
                        <span class="text-black-20">{{ contacts_info.phone }}</span><br>
                    </div>
                    <div class="contact-info mb-4">
                        <h3 class="fz-20 fw-600 text-uppercase mb-3">MẠNG XÃ HỘI</h3>
                        <ul class="list-inline mb-0 follow">
                            {% for social_config in social_configs %}
                                {% if  social_config.name == 'Facebook' %}
                                    <li class="list-inline-item">
                                        <a href="{{ social_config.url }}" class="text-black-50 fz-24 mr-3" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                {% elseif  social_config.name == 'Instagram' %}
                                    <li class="list-inline-item">
                                        <a href="{{ social_config.url }}" class="text-black-50 fz-24 mr-3" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                {% elseif social_config.name == 'Youtube' %}
                                    <li class="list-inline-item">
                                        <a href="{{ social_config.url }}" class="text-black-50 fz-24 mr-3" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul><!-- /.follow -->
                    </div>
                </div>#}
            </div>
            {% endif %}
            <div class="contact-map mt-3 mt-md-5">
                {{ contacts_map.address|html_entity_decode }}
            </div>
        </div>
    </div>
    <!-- End: Main Content -->
</main>
<!-- /.ELM PAGES -->
<style>
    .contact-map iframe {
        width: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>