{{ header }}
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="#">Trang chủ</a>
            <span class="breadcrumb-item active">Chi tiết bài viết</span>
        </nav>
    </div>
</div>

<div class="block-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-blog-detail">
                    <article>
                        <div class="article-content">
                            <h5 class="type-blog header-font">Tin tức thời trang</h5>
                            <h1 class="name-blog header-font"><a href="#">{{ blog['title'] }}</a></h1>
                            <div class="meta-blog">
                                <div class="author">
                                    Đăng bởi <span><a
                                                href="javascript:;">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></span><span>|</span>
                                    <span class="date"><i
                                                class="fa fa-calendar"></i> {{ blog['date_added']|date('Y-m-d') }}</span>
                                </div>
                            </div>
                            <div class="thumb text-center">
                                <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                            </div>
                            <div class="desc">
                                {{ blog['content']|html_entity_decode }}

                            </div>
                        </div>
                    </article>
                    <div class="cate-social">
                        <div class="block-category-type col-md-9">
                            <span>Danh mục bài viết: </span>
                            {% for category in blog['blog_categories'] %}
                                <a href="{{ category['link'] }}">{{ category['title'] }}</a>
                            {% endfor %}
                        </div>
                        <div class="social col-md-3 justify-content-center">
                            <span>Chia sẻ bạn bè: </span>
                            <ul>
                                <li>
                                    <a href="{{ social.google.href }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                            <path d="M9.5 7.6V11.4H14.8751C14.0904 13.6116 11.9776 15.2 9.5 15.2C6.3574 15.2 3.8 12.6426 3.8 9.5C3.8 6.3574 6.3574 3.8 9.5 3.8C10.8623 3.8 12.1733 4.2883 13.1917 5.1756L15.6883 2.3104C13.9783 0.8208 11.7819 0 9.5 0C4.2617 0 0 4.2617 0 9.5C0 14.7383 4.2617 19 9.5 19C14.7383 19 19 14.7383 19 9.5V7.6H9.5Z" fill="#969696"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ social.facebook.href }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                                            <path d="M9.62343 0.0037452L7.22488 0C4.5302 0 2.78878 1.73871 2.78878 4.42982V6.47227H0.377148C0.168755 6.47227 0 6.63668 0 6.83949V9.79876C0 10.0016 0.168947 10.1658 0.377148 10.1658H2.78878V17.633C2.78878 17.8358 2.95753 18 3.16593 18H6.31242C6.52081 18 6.68957 17.8356 6.68957 17.633V10.1658H9.50932C9.71772 10.1658 9.88647 10.0016 9.88647 9.79876L9.88763 6.83949C9.88763 6.74211 9.84779 6.64886 9.77718 6.57994C9.70656 6.51103 9.61034 6.47227 9.51029 6.47227H6.68957V4.74086C6.68957 3.90868 6.89334 3.48622 8.00727 3.48622L9.62304 3.48566C9.83125 3.48566 10 3.32124 10 3.11863V0.370775C10 0.168347 9.83144 0.00411972 9.62343 0.0037452Z" fill="#969696"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ social.twitter.href }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19" fill="none">
                                            <path d="M23 2.248C22.1535 2.62948 21.2452 2.88819 20.2908 3.00369C21.2653 2.41024 22.0112 1.46896 22.3647 0.350785C21.4507 0.900354 20.4417 1.29941 19.3666 1.51574C18.5057 0.58175 17.2812 0 15.923 0C13.3173 0 11.2046 2.14863 11.2046 4.79713C11.2046 5.17276 11.2463 5.53964 11.3268 5.89046C7.40601 5.69019 3.92936 3.77983 1.60249 0.876963C1.19574 1.58442 0.964348 2.40875 0.964348 3.2887C0.964348 4.95353 1.79795 6.42249 3.06273 7.28191C2.28948 7.25561 1.56224 7.03929 0.925564 6.67971V6.73964C0.925564 9.06366 2.55252 11.0033 4.70978 11.4447C4.31454 11.5529 3.89775 11.6128 3.46658 11.6128C3.1619 11.6128 2.86726 11.5821 2.57837 11.5236C3.17912 13.4311 4.92107 14.8182 6.98495 14.8562C5.37092 16.1425 3.33579 16.9069 1.12535 16.9069C0.744495 16.9069 0.369354 16.8835 0 16.8411C2.08831 18.2049 4.56754 19 7.23216 19C15.9116 19 20.6559 11.6888 20.6559 5.34819L20.6401 4.727C21.5671 4.05459 22.369 3.20977 23 2.248Z" fill="#969696"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!-- related blogs -->
        <div class="related-blog">
            <div class="block-head header-font">
                <h3>Bài viết cùng danh mục</h3>
            </div>
            <div class="row">
                <div class="owl-carousel owl-slide owl-saleoff-product">
                    {% for key, blog in  blog_relate %}
                        {% if key < 6 %}
                            <div class="item-manson">
                                <a class="blg-img" href="{{ blog['link'] }}"><img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                                <div class="content">
                                    <h5 id="new-title" class="name-blog">
                                        <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                    </h5>
                                    <div class="author-view">
                                        <div class="meta">
                                            <a href="javascript:;">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>| <span class="date">{{ blog['date_added']|date('Y-m-d') }}</span>
                                        </div>
                                        {#<div class="meta"><span> <a href="#">12</a><i class="fa fa-comments"></i></span></div>#}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- ./related blog -->
    </div>
</div>


{{ footer }}