<main id="main-wrapper">
   <!-- Main Content -->
   <div class="main-content pb-3 pb-md-5">
      <div class="container">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dự án</li>
         </ol>
         <!-- End breadcrumb -->

         <h1 class="page-title mb-lg-20 mb-15 text-center">DỰ ÁN CỦA CHÚNG TÔI</h1>
         <div class="line-percent mb-30 mb-lg-40"></div>

         <div class="row projects-view">
            {% for blog_key, blog in blog_list %}
               <div class="col-lg-4">
                  <div class="project-item">
                     <div class="project-img hover-zoom-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                     </div>
                     <a class="project-title" href="{{ blog['link'] }}?type=du-an" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}">
                        {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                     </a>
                     <div class="created-date">{{ blog['date_publish']|date('d-m-Y') }}</div>
                  </div>
               </div>
            {% endfor %}
         </div>
         <!-- End project listing -->

         <div class="mb-4 d-flex justify-content-center">
            {{ pagination }}
         </div>
         <!-- End pagination -->

      </div>
   </div>
</main>