<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/bai-viet?type=du-an">Dự án</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ blog['title'] }}</li>
            </ol>
            <!-- End breadcrumb -->
            <div class="text-center">
                <h1 class="mb-lg-20 mb-15 fz-lg-30">{{ blog['title'] }}</h1>
                <p class="mb-20 created-date">{{ blog['date_publish']|date('d-m-Y') }}</p>
                <div class="line-percent mb-20 mb-lg-40"></div>
            </div>
            <div class="project-content mb-30">
                {{ blog['content']|html_entity_decode }}
            </div>
            <section class="mt-lg-60 mt-25 pt-lg-60 pt-30 pb-lg-20 project-related full-width bg-fourth">
                <div class="container">
                    <h2 class="mb-lg-20 mb-15 text-center">BÀI VIẾT LIÊN QUAN</h2>
                    <div class="line-percent mb-30 mb-lg-40"></div>
                    <div class="row">
                        {% for k, blog in blog_relate_project if k < 3 %}
                            <div class="col-lg-4">
                                <div class="project-item">
                                    <div class="project-img hover-zoom-img">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </div>
                                    <a class="project-title" href="{{ blog['link'] }}?type=du-an">
                                        {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                    </a>
                                    <div class="created-date">{{ blog['date_publish']|date('d-m-Y') }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End projects related -->
        </div>
    </div>
</main>