<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/bai-viet">Tin tức</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ blog['title'] }}</li>
            </ol>
            <!-- End breadcrumb -->

            <div class="row">
{#                <div class="col-lg-3">#}
{#                    <ul id="{% if is_on_mobile %}categories-blog{% endif %}" class="nav nav-tabs mb-4 blog-category {% if is_on_mobile %}owl-carousel owl-theme{% endif %}">#}
{#                        {% for category in blog_category if category['title'] != 'projects' and category['title'] != 'giới thiệu' %}#}
{#                            <li class="nav-item slide-item {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">#}
{#                                <a href="{{ category['link'] }}" class="nav-link px-lg-5 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
                <!-- End sidebar -->

                <div class="col-lg-12">
                    <div class="news-detail">
                        {{ blog['content']|html_entity_decode }}
                    </div>
                    <!-- End blog detail -->
                </div>
            </div>
            <!-- End row -->
            <section class="mt-lg-60 mt-25 pt-lg-60 pt-30 pb-lg-20 project-related full-width bg-fourth">
                <div class="container">
                    <h2 class="mb-lg-20 mb-15 text-center">BÀI VIẾT LIÊN QUAN</h2>
                    <div class="line-percent mb-30 mb-lg-40"></div>
                    <div class="row">
                        {% for k, blog in blog_relate_project if k < 3 %}
                            <div class="col-lg-4">
                                <div class="project-item">
                                    <div class="project-img hover-zoom-img">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </div>
                                    <a class="project-title" href="{{ blog['link'] }}?type=du-an">
                                        {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                    </a>
                                    <div class="created-date">{{ blog['date_publish']|date('d-m-Y') }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <!--End container-->
    </div>
    <!--End main-content-->
</main>
<style>
    .owl-carousel .owl-nav button[class*=owl-] i {
        background-color: #212529;
        font-size: 30px;
    }
    .owl-carousel .owl-nav button.owl-next {
        left: auto;
        right: -10px;
        top: 8px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: auto;
        left: -10px;
        top: 8px;
    }
    @media (max-width: 768px) {
        ul#categories-blog {
            padding: 0 20px;
        }
    }
</style>
<script>
    $('#categories-blog').owlCarousel({
        loop: false,
        responsiveClass: true,
        lazyLoad: true,
        dots: false,
        autoHeight: true,
        autoWidth: true,
        nav: true,
        navText: ['<i class="icon icon-arrow-left"></i>', '<i class="icon icon-arrow-right"></i>'],
        responsive: {
            0: {
                items: 4,
            },
            600: {
                items: 3,
            },
            991: {
                items: 8,
            }
        },
    });
</script>