/* moved to html. TODO: remove... */
/*@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=vietnamese'); !* font-family: 'Nunito', sans-serif; *!*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese');*/
/* end - TODO: remove... */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    overflow-x: hidden;
}
.font-nunito {
    font-family: 'Nunito', sans-serif;
}
.container {
    max-width: 1110px;
}
img{
    max-width: 100%;
    height: auto;
}
a:hover{
    color: #FFCE59;
    text-decoration: none;
}
.owl-hidden-dots .owl-dots {
    display: none !important;
}
.line-height-default {
    line-height: 1.2;
}
.btn {
    font-size: inherit;
    color: #fff;
    background-color: #FFCE59;
    padding: 5px 20px;
    text-shadow: none;
}
.wrap-form-login .btn {
    min-height: 50px;
}
.btn:hover {
    color: #fff;
}
.fz-10{
    font-size: 10px;
}
.fz-12{
    font-size: 12px;
}
.fz-13{
    font-size: 13px;
}
.fz-14{
    font-size: 14px;
}
.fz-15{
    font-size: 15px;
}
.fz-16{
    font-size: 16px;
}
.fz-17{
    font-size: 17px;
}
.fz-18{
    font-size: 18px;
}
.fz-20{
    font-size: 20px;
}
.fz-22{
    font-size: 22px;
}
.fz-24{
    font-size: 24px;
}
.fz-25{
    font-size: 25px;
}
.fz-26{
    font-size: 26px;
}
.fz-28{
    font-size: 28px;
}
.fz-30{
    font-size: 30px;
}
.fz-32{
    font-size: 32px;
}
.fz-34{
    font-size: 34px;
}
.fz-35{
    font-size: 35px;
}
.fz-36{
    font-size: 36px;
}
.fz-38{
    font-size: 38px;
}
.fz-40{
    font-size: 40px;
}
.fz-45{
    font-size: 45px;
}
.fz-48{
    font-size: 48px;
}
.fz-64{
    font-size: 64px;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.fw-800 {
    font-weight: 800;
}
.fw-900 {
    font-weight: 900;
}
.w-20 {
    width: 20%;
}
.btn-primary {
    background-color: #F8BD2F !important;
    border-color: #F8BD2F !important;
}
.btn-warning {
    background-color: #FCC030 !important;
    border-color: #FCC030 !important;
}
.btn-black-50 {
    background-color: #454545 !important;
    border-color: #454545 !important;
}
.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.btn-light {
    background-color: rgba(111, 111, 111, 0.15) !important;
    border-color: rgba(111, 111, 111, 0.15) !important; 
}
.btn-black-20 {
    background-color: #252525 !important;
    border-color: #252525 !important; 
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff !important;
    background-color: #A8A8A8 !important;
    border-color: #A8A8A8 !important;
}
.bg-dark {
    background-color: #212121 !important;
}
.bg-dark-50 {
    background-color: #464646 !important;
}
.bg-primary {
    background-color: #FFCE59 !important;
}
.bg-primary-2 {
    background-color: #FFBE5C !important;
}
.bg-primary-3 {
    background-color: #FFE095 !important;
}
.bg-info {
    background-color: rgba(228, 30, 30, 0.7) !important;
}
.bg-danger {
    background-color: #E41E1E !important;
}
.bg-light {
    background-color: #F3F3F3 !important;
}
.bg-light-1 {
    background-color: rgba(111, 111, 111, 0.05) !important;
}
.bg-light-2 {
    background-color: #787878 !important;
}
.bg-light-3 {
    background-color: #A3A3A3 !important;
}
.bg-light-4 {
    background-color: #f5f5f5 !important;
}
.bg-light-5 {
    background-color: #FFF7F7 !important;
}
.bg-light-6 {
    background-color: #ECECEC !important;
}
.bg-black-50 {
    background-color: #454545 !important;
}
.bg-black-20 {
    background-color: #252525 !important;
}
.bg-red {
    background-color: #EB1D1D !important;
}
.bg-yellow {
    background-color: #FFDB1F !important;
}
.bg-green {
    background-color: #3C9945 !important;
}
.bg-blue {
    background-color: #00B2BD !important;
}
.text-black {
    color: #000 !important;
}
.text-black-50 {
    color: #454545 !important;
}
.text-black-20 {
    color: #252525 !important;
}
.text-black-10 {
    color: #3C3C3C !important;
}
.text-dark {
    color: #505050 !important;
}
.text-info {
    color: rgba(0, 0, 0, 0.41) !important;
}
.text-primary {
    color: #FFCE59!important;
}
.text-blue {
    color: #22A9E9!important;
}
.text-success {
    color: #64B350!important;
}
.text-warning {
    color: #FCC030 !important;
}
.text-danger {
    color: #F1000E !important;
}
.text-light {
    color: #929292 !important;
}
.text-light-1 {
    color: #ABABAB !important;
}
.text-light-2 {
    color: #787878 !important;
}
.text-light-3 {
    color: #D5D5D5 !important;
}
.text-light-4 {
    color: #8d8d8d !important;
}
.text-light-5 {
    color: #C2C2C2 !important;
}
.text-google {
    color: #FF3737 !important;
}
.text-facebook {
    color: #0369C7 !important;
}
.text-twitter {
    color: #41C4FD !important;
}
.text-wallet {
    color: #FF8933 !important;
}
.text-underline {
    text-decoration: underline;
}
.border {
    border: 1px solid #454545 !important;
}
.border-primary {
    border-color: #FFCE59 !important; 
}
.border-light {
    border-color: #C4C4C4 !important;
}
.border-light-2 {
    border-color: #787878 !important;
}
.border-light-3 {
    border-color: #BCBCBC !important;
}
.border-light-6 {
    border-color: #ECECEC !important;
}
.border-black {
    border-color: #000 !important;
}
.border-black-50 {
    border-color: #454545 !important;
}
.hover-border-primary:hover {
    border-color: #FFCE59 !important;
}
a.text-primary:focus, a.text-primary:hover, a.text-light:hover {
    color: #FFCE59!important;
}
a.hover-black:hover {
    color: #000 !important;
}
a.hover-primary:hover {
    color: #FFCE59!important;
}
a.hover-btn-primary:hover {
    background-color: #FFCE59 !important;
    color: #fff !important;
}
.btn-hover-primary:hover {
    background-color: #FFCE59 !important;
    border-color: #FFCE59 !important;
}
.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hover-zoom-img {
    overflow: hidden;
}
.hover-zoom-img img {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover-zoom-img:hover img {
    transform: rotate(8deg) scale(1.3);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.wrap-breadcrumb {
    background-color: #F6F6F6;
    margin-bottom: 20px;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
    margin-left: 10px;
}
.breadcrumb-item.active {
    color: #454545;
}
.breadcrumb-item a {
    color: #454545;
    font-size: 14px;
}
.breadcrumb {
    padding: 8px 0px;
    margin-bottom: 0;
    background: transparent;
}
/* Rate Star */
.wrap-star-rate .star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('/catalog/view/theme/fashion_luvibee/img/icons/i-star.png') no-repeat center;
    background-size: cover;
}
.wrap-star-rate .star-rate {
    background: url('/catalog/view/theme/fashion_luvibee/img/icons/i-star-rate.png') no-repeat center;
    background-size: cover;
}
/* End Rate Star */

/* Rate Star by User */
.user-star-rate .rating-group {
  display: inline-flex;
}
.user-star-rate .rating__icon {
  pointer-events: none;
}
.user-star-rate .rating__input {
  position: absolute !important;
  left: -9999px !important;
}
.user-star-rate .rating__input--none {
  display: none;
}
.user-star-rate .rating__label {
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    margin-right: 1px;
}
.user-star-rate .rating__icon--star {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    background: url('/catalog/view/theme/fashion_luvibee/img/icons/i-star-rate-big.png') no-repeat center;
    background-size: cover;
}
.user-star-rate .rating__input:checked ~ .rating__label .rating__icon--star {
    background: url('/catalog/view/theme/fashion_luvibee/img/icons/i-star-big.png') no-repeat center;
    background-size: cover;
}
.user-star-rate .rating-group:hover .rating__label .rating__icon--star {
    background: url('/catalog/view/theme/fashion_luvibee/img/icons/i-star-rate-big.png') no-repeat center;
    background-size: cover;
}
.user-star-rate .rating__input:hover ~ .rating__label .rating__icon--star {
    background: url('/catalog/view/theme/fashion_luvibee/img/icons/i-star-big.png') no-repeat center;
    background-size: cover;
}
/* Eend: Rate Star by User */
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(111, 111, 111, 0.85);
    z-index: 99;
}
#overlay.show {
    display: block;
}
.paginate ul.nav a{
    color: #454545;
    line-height: 22px;
    padding: 5px;
    font-weight: 500;
}
.paginate ul.nav a.page-current,
.paginate ul.nav a:hover{
    font-weight: 400;
    color: #FFCE59;
}
.pointer {
    cursor: pointer;
}
.form-control {
    color: #000;
    border-color: #BCBCBC !important;
}
.discount-code .form-control {
    min-height: auto;
}
.input-height-30 {
    height: 30px;
}
.input-height-40 {
    height: 40px;
}
.input-height-50 {
    height: 40px;
}
.line-height-40 {
    line-height: 40px;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #FFCE59 !important;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8D8D8D;
  font-size: 16px;
  font-weight: 300;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #8D8D8D;
  font-size: 16px;
  font-weight: 300;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #8D8D8D;
  font-size: 16px;
  font-weight: 300;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #8D8D8D;
  font-size: 16px;
  font-weight: 300;
}
.discount-code input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D2D2D2;
  font-size: 12px;
}
.discount-code input::-moz-placeholder { /* Firefox 19+ */
  color: #D2D2D2;
  font-size: 12px;
}
.discount-code input:-ms-input-placeholder { /* IE 10+ */
  color: #D2D2D2;
  font-size: 12px;
}
.discount-code input:-moz-placeholder { /* Firefox 18- */
  color: #D2D2D2;
  font-size: 12px;
}
/* Reset checkbox button */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    vertical-align: initial;
}
.custom-control {
    line-height: 28px;
 }
 .custom-control-input:checked~.custom-control-label::before {
    border-color: #FFCE59;
    background-color: #fff;
    box-shadow: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url('/catalog/view/theme/fashion_luvibee/img/icons/i-checked.png');
}
/* Reset radio button */
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    position: absolute;
    top: .45rem;
    left: -1.3rem;
    background: #FFCE59;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: none;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #fff;
    border: 1px solid #868686;
    box-shadow: none;
}
.tabs-checkbox .custom-control-label::after, .tabs-checkbox .custom-radio .custom-control-label::before {
    top: 10px;
}
.tabs-checkbox .custom-radio .custom-control-input:checked~.custom-control-label::before {
    top: 10px;
}
.tabs-checkbox .custom-radio .custom-control-input:checked~.custom-control-label::after {
    top: 13px;
}
/* Tootip change background */
.tooltip-inner {
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tooltip.show {
  opacity: 1;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #fff;
}
/* End: Tooltip */
/* Change modal fade => zoom */
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
.modal-dialog {
    max-width: 1000px;
    margin: auto;
    top: calc((100vh - 575px)/2);
    min-height: 575px;
}
.modal-body {
    padding: 80px 60px;
}

.pagination .page-link {
    border: 0;
    color: #454545;
    font-size: 18px;
}
.pagination .page-link:hover {
    background-color: transparent;
    color: #FFCE59;
}

.input-password-group{
    position: relative;
}
.input-password-group input.form-control{
    padding-right: 50px;
}
.input-password-group button.show-password{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    border: none;
    background: none;
    height: 100%;
    display: inline-flex;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.input-password-group button.show-password>i{
    background: #969696;
    font-size: 18px;
    margin: auto;
}
.input-password-group button.show-password:focus{
    outline: none;
}
.input-password-group button.show-password.active>i{
    background: #343434;
}

i.icon{
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: #454545;
    position: relative;
}
.icon.icon-facebook{
    -webkit-mask-image:  url('/catalog/view/theme/fashion_luvibee/img/icons/facebook.svg');
    mask-image: url('/catalog/view/theme/fashion_luvibee/img/icons/facebook.svg');
}
.icon.icon-google{
    -webkit-mask-image:  url('/catalog/view/theme/fashion_luvibee/img/icons/google.svg');
    mask-image: url('/catalog/view/theme/fashion_luvibee/img/icons/google.svg');
}
.icon.icon-eye{
    -webkit-mask-image:  url('/catalog/view/theme/fashion_luvibee/img/icons/eye.svg');
    mask-image: url('/catalog/view/theme/fashion_luvibee/img/icons/eye.svg');
}
.icon.icon-no-eye{
    -webkit-mask-image:  url('/catalog/view/theme/fashion_luvibee/img/icons/no-eye.svg');
    mask-image: url('/catalog/view/theme/fashion_luvibee/img/icons/no-eye.svg');
}
.icon.icon-arrow-left{
    -webkit-mask-image:  url('/catalog/view/theme/fashion_luvibee/img/icons/arrow.svg');
    mask-image: url('/catalog/view/theme/fashion_luvibee/img/icons/arrow.svg');
}
.icon.icon-arrow-right{
    -webkit-mask-image:  url('/catalog/view/theme/fashion_luvibee/img/icons/arrow.svg');
    mask-image: url('/catalog/view/theme/fashion_luvibee/img/icons/arrow.svg');
    transform: rotate(-180deg);
}