{{ header }}
<div id="content">
    <div class="container-fluid"><br/>
        <br/>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><i class="fa fa-repeat"></i> {{ heading_title }}</h1>
                    </div>
                    <div class="panel-body">
                        {{ text_notify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}