{{ header }}

<main class="main-content">
    <div class="container">
        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['href'] is defined %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb['text'] }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav> <!-- End breadcrumb -->

        <div class="row">
            <div class="col-12 col-md-3 sidebar-left">
                <div class="sidebar-content">
                    <div class="box-product-filter rounded-2 border px-4" id="product-category">
                        <h2 class="block-title">DANH MỤC BÀI VIẾT</h2>
                        <nav class="nav flex-column">
                            {% for category in blog_category %}
                                <a href="{{ category['link'] }}" class="nav-link {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product category -->

                    <div class="box-product-filter rounded-2 border px-4" id="product-price">
                        <h2 class="block-title border-bottom">TAGS</h2>
                        <div class="price-range py-3">
                            {% for tag in tags %}
                                <a href="{{ tag['link'] }}" class="{% if tag['tag_id'] == filter['tag_id'] %} active {% endif %} d-inline-block py-1 px-2 font-12 my-1 border rounded-2 third-color text-white-hover main-bg-hover">{{ tag['value'] }}</a>
                            {% endfor %}
                        </div>
                    </div> <!-- End product category -->

                </div> <!-- End sidebar content -->
            </div> <!-- End sidebar-left -->

            <div class="content-right col-12 col-md-9 mb-5">
                <div class="blog-results mt-0">
                    {% if blog is empty %}
                    Không có bài viết
                    {% else %}
                        <h1 class="font-32 mt-0 mb-2">{{ blog['title'] }}</h1>
                        <div class="blog-header d-flex mb-4">
                            <span class="blog-date mr-3">Ngày: <span class="second-color">{{ blog['date_added']|date('d/m/Y') }}</span></span>
                            <span class="blog-author">Bởi: <span class="second-color">{{ blog['lastname'] }} {{ blog['firstname'] }}</span></span>
                        </div>
                        <div class="blog-image mb-3">
                            <img src="{{ blog['image'] }}" width="100%" alt="{{ blog['alt'] }}">
                        </div>
                        <div class="blog-content">
                            {{ blog['content']|html_entity_decode }}
                        </div>
                    {% endif %}
                </div>
            </div> <!-- End content-right -->
        </div> <!-- End row -->
    </div> <!-- End container -->

</main> <!-- End main content -->

{{ footer }}