{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    <section class="block-banner bestme-block-slideshow">
        <div class="container">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-home-banner"  data-time="{{ slideshow.transition_time }}">
                {% for slide in slideshow.slides %}
                    <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                        <div class="slide-item">
                            <div class="image-background">
                                <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% for k, block in blocks %}
    {% if block['collections'] is not empty %}
        <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product {% if k %2 != 0 %} third-bg {% endif %}">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                <div class="row">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} col-{{ 12 / block['grid'] }} collection">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="item-product-name">
                                        <a href="{{ collection['url'] }}" title="{{ collection.title }}" class="product-title">
                                            {{ collection.name|title > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div> <!-- End col product -->
                    {% endfor %}
                </div>
            </div>
            <div class="container pb-3">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% else %}
        <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product {% if k %2 != 0 %} third-bg {% endif %}">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                <div class="block-content row">
                    <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}" >
                        {% set col_xl = 12/ block['grid'] %}
                        {% set break_index = block['grid'] * 2   %}
                        {% for k,product in block['products'] %}
                            {% if k % break_index  == 0 %}
                                <div class="slide-item">
                                <div class="row">
                            {% endif %}
                            <div class="col-{{ col_xl }} col-md-{{ col_xl }}">
                                <div class="product-item">
                                    <div class="product-info">
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </div>
                                        <div class="product-rating d-none">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                        <div class="product-highlight">
                                            {% if product['percent_sale'] is not empty %}
                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                            {% if product['is_new_product'] %}
                                                <span class="status">Mới</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price">
                                                            {{ product['compare_price_master'] }}
                                                        </span>
                                                    {% else %}
                                                        <span class="price">
                                                            {{ product['min_compare_price_version'] }}
                                                        </span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="product-price-sale">
                                                </span>
                                            {% else %}
                                                <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price">{{ product['price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_price_version'] }}</span>
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="product-price-sale">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-preview text-center">
                                        <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                        <a href="#" class="like-btn d-none">
                                            <i class="icon icon-heart bg-white font-18"></i>
                                        </a>
                                    </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                            {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                </div> <!-- End row -->
                                </div> <!-- End slide item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> <!-- End block-content -->
            </div> <!-- End container -->
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% endif %}

    {% if k == 0 %}
        {% if banners_visible == '1' and banner_highlight['visible'] == '1'%}
            <section class="block-ads-banner mb-5 text-center bestme-block-banner-1">
                <div class="container">
                    <a target="_blank" href="{{ banner_highlight['url'] }}">
                        <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}" width="100%">
                    </a>
                </div> <!-- End container -->
            </section> <!-- End block ads banner -->
            <!-- /.Block BST -->
        {% endif %}
    {% endif %}
{% endfor %}
<!-- Block-saleoff-product -->
{#{% if hot_product_visible %}
    <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product">
        <div class="container">
            <h2 class="block-title header-font mb-4 pt-3">{{ hot_product_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                    {% set col_xl = 12/hot_products_display_grid_quantity %}
                    {% set break_index = hot_products_display_grid_quantity * 2   %}
                    {% for k,product in hot_products %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                                <div class="row">
                        {% endif %}
                            <div class="col-6 col-md-{{ col_xl }}">
                                <div class="product-item">
                                    <div class="product-info">
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </div>
                                        <div class="product-rating d-none">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                        <div class="product-highlight">
                                            {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                            {% if product['is_new_product'] %}
                                                <span class="status">Mới</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <span class="product-price">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                            {% else %}
                                                <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                <span class="product-price-sale">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-preview text-center">
                                        <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                        <a href="#" class="like-btn d-none">
                                            <i class="icon icon-heart bg-white font-18"></i>
                                        </a>
                                    </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                        {% if k % break_index == break_index -1 or k + 1 == hot_products|length %}
                                </div> <!-- End row -->
                            </div> <!-- End slide item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- End block-content -->
        </div> <!-- End container -->
    </section> <!-- End block-saleoff-product -->
{% endif %}#}
<!-- /.Block-saleoff-product -->

<!-- block-ads-banner -->
{#{% if banners_visible == '1' and banner_highlight['visible'] == '1' %}
    <section class="block-ads-banner mb-5 text-center bestme-block-banner-1">
        <div class="container">
            <a target="_blank" href="{{ banner_highlight['url'] }}">
                <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}" width="100%">
            </a>
        </div> <!-- End container -->
    </section> <!-- End block ads banner -->
    <!-- /.Block BST -->
{% endif %}#}
<!-- /.block-ads-banner -->

<!-- block-top-sale-product -->
{#{% if best_sales_product_visible %}
    <!-- block-top-sale-product -->
    <section class="block-top-sale-product mb-5 third-bg bestme-block-best-sales-product">
        <div class="container">
            <h2 class="block-title header-font my-3 pt-5">{{ best_sales_product_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                    {% set col_xl = 12/best_sales_product_display_grid_quantity %}
                    {% set break_index = best_sales_product_display_grid_quantity * 2   %}
                    {% for k,product in best_sales_product %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                            <div class="row">
                        {% endif %}
                        <div class="col-6 col-md-{{ col_xl }}">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="item-product-name">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    </div>
                                    <div class="product-rating d-none">
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item"></span>
                                        <span class="rate-item"></span>
                                    </div>
                                    <div class="product-highlight">
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <span class="status">hết</span>
                                        {% endif %}
                                        {% if product['is_new_product'] %}
                                            <span class="status">Mới</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                        </a>
                                    </div>
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="product-price">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        {% else %}
                                            <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="product-price-sale">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="product-preview text-center">
                                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                    <a href="#" class="like-btn d-none">
                                        <i class="icon icon-heart bg-white font-18"></i>
                                    </a>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div> <!-- End col product -->
                        {% if k % break_index == break_index -1 or k + 1 == best_sales_product|length %}
                            </div> <!-- End row -->
                            </div> <!-- End slide item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- End block-content -->
        </div> <!-- End container -->
    </section> <!-- End block-top-sale-product -->
    <!-- /.block-top-sale-product -->
{% endif %}#}
<!-- /.block-top-sale-product -->

<!-- block-new-product -->
{#{% if new_product_visible %}
    <section class="block-new-product mb-5 bestme-block-new-product">
        <div class="container">
            <h2 class="block-title header-font my-3">{{ new_product_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                    {% set col_xl = 12/new_products_display_grid_quantity %}
                    {% set break_index = new_products_display_grid_quantity * 2   %}
                    {% for k,product in new_products %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                            <div class="row">
                        {% endif %}
                        <div class="col-6 col-md-{{ col_xl }}">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="item-product-name">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    </div>
                                    <div class="product-rating d-none">
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item"></span>
                                        <span class="rate-item"></span>
                                    </div>
                                    <div class="product-highlight">
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <span class="status">hết</span>
                                        {% endif %}
                                        {% if product['is_new_product'] %}
                                            <span class="status">Mới</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                        </a>
                                    </div>
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="product-price">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        {% else %}
                                            <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="product-price-sale">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="product-preview text-center">
                                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                    <a href="#" class="like-btn d-none">
                                        <i class="icon icon-heart bg-white font-18"></i>
                                    </a>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div> <!-- End col product -->
                        {% if k % break_index == break_index -1 or k + 1 == new_products|length %}
                            </div> <!-- End row -->
                            </div> <!-- End slide item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- End block-content -->
        </div> <!-- End container -->
    </section> <!-- End block-new-product -->
{% endif %}#}
<!-- /.block-new-product -->
<div class="bestme_app_after_product">

</div>
{% if latest_blog %}
    <section class="block-blogs mb-5 mt-3 third-bg pt-4 bestme-block-blog">
        <div class="container">
            <h2 class="block-title header-font my-3">{{ blog_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">

                    <div class="slide-item">
                        <div class="row">
                            {% for k,blog in latest_blog %}
                                {% if k < 3 %}
                                    <div class="col-12 col-md-4">
                                        <div class="blog-item">
                                            <div class="blog-img">
                                                <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                </a>
                                            </div>
                                            <div class="blog-info">
                                                <span class="blog-date">Ngày: {{ blog['date_added']|date('m/d/Y') }}</span>
                                                <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            </div>
                                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            <p class="blog-summary">
                                                {{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a class="blog-link" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                        </div> <!-- End blog-item -->
                                    </div> <!-- End col blog -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- End row -->
                    </div> <!-- End slide-item -->

                    <div class="slide-item">
                        <div class="row">
                            {% for k,blog in latest_blog %}
                                {% if k < 3 %}
                                    <div class="col-12 col-md-4">
                                        <div class="blog-item">
                                            <div class="blog-img">
                                                <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                </a>
                                            </div>
                                            <div class="blog-info">
                                                <span class="blog-date">Ngày: {{ blog['date_added']|date('m/d/Y') }}</span>
                                                <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            </div>
                                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            <p class="blog-summary">
                                                {{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a class="blog-link" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                        </div> <!-- End blog-item -->
                                    </div> <!-- End col blog -->
                                {% endif %}
                            {% endfor %}

                        </div> <!-- End row -->
                    </div> <!-- End slide-item -->

                </div> <!-- End owl-carousel -->
            </div> <!-- End block-content -->

        </div> <!-- End container -->
    </section> <!-- End block-blog -->
{% endif %}

<!-- block-partner -->
{% if partners_visible == '1' %}
    <section class="block-partner text-center mb-5 bestme-block-partner">
        <div class="container">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="slide-item">
                        <a title="{{ partner['description'] }}" href="{{ partner.url }}"><img class="lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                    </div>
                {% endfor %}
            </div> <!-- End owl-carousel -->
        </div> <!-- End container -->
    </section> <!-- End block-partner -->
{% endif %}
<!-- /.block-partner -->
<div class="bestme_app_before_footer">

</div>
<style>
    .item-product-name{
        height: 36px;
        overflow: hidden;
    }
</style>
{{ footer }}