<div class="col-12 col-md-4 col-xl-3 order-md-4 order-xl-3">
    <div class="sidebar-category">
        <h3 class="ttl-sidebar">BÀI VIẾT MỚI NHẤT</h3>
        {% if blog_list_new is empty %}
            Không có bài viết
        {% else %}
        <ul class="list-cate">
            {% for blog in blog_list_new %}
                {% if loop.index < 5 %}
                    <li>
                        <a href="{{ blog['link'] }}">{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="sidebar-category">
        <h3 class="ttl-sidebar">TAGS</h3>
        <ul class="list-tag">
            {% for tag in tags %}
                <li>
                    <a href="{{ tag['link'] }}" class="header-font {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>