{% if oldest_blog[0] is defined and oldest_blog[0]['type'] == 'image' %}
    {% set blog = oldest_blog[0] %}
    <section class="pb-md-5 pt-md-4 pt-3 text-center text-md-start">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mb-5">
{#                    <p class="text-primary fz-18 my-md-4 mb-3 fw-500">GIỚI THIỆU</p>#}
                    <h1 class="mb-4 text-primary">{{ blog['title'] }}</h1>
                    <div class="text-secondary">
                        <p class="mb-4">{{ blog['short_content']|html_entity_decode }}</p>
                        <a href="{{ blog.link }}?about-us" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-5">
                    <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-10">
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- End about us -->