{% if oldest_blog[2] is defined and oldest_blog[2]['type'] == 'image' %}
    {% set blog = oldest_blog[2] %}
    <section class="pb-5 pt-lg-5 pt-3 bg-lg-gadient-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <p class="text-primary fz-18 mb-md-4 py-md-3 mb-3 mt-4 fw-500 text-center text-md-start"></p>
                    <h1 class="mb-4 text-center text-primary text-md-start">{{ blog['title'] }}</h1>
                    <p class="text-secondary">{{ blog['short_content']|html_entity_decode }}</p>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-10">
                </div>
            </div>
        </div>
    </section>
    <!-- End intro award -->
{% endif %}