<section class="bg-sixth py-4 mb-5">
    <div class="container mt-3 mb-md-3 mb-5">
        <div class="row text-center">
            <div class="col-12 col-md-4 mx-auto">
                <h2 class="fz-lg-30">TIN TỨC NỔI BẬT</h2>
{#                <p class="line-percent pb-4 mb-4 text-secondary">Dưới đây là những bài viết mới nhất được chúng tôi cập nhật và#}
{#                    giới thiệu tới bạn đọc</p>#}
            </div>
        </div>
        <div class="row">
            {% for k, blog in blogs_news if blog['blog_category_title'] == 'tin nổi bật' %}
                <div class="col-12 col-md-4">
                    <div class="news-item">
                        <a href="{{ blog['link'] }}" class="news-img">
                            <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                        </a>
                        <a href="{{ blog['link'] }}" class="news-title">{{ blog['title'] }}</a>
                        <p class="news-date">{{ blog['date_added']|date('d-m-Y') }}</p>
                        <p class="news-desc">{{ blog['short_content']|html_entity_decode|striptags }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ url_blog }}" class="btn btn-primary mt-3">Xem thêm</a>
        </div>
    </div>
</section>
<!-- End news -->