<section class="py-md-5 py-4 bg-gadient-light-500 bg-lg-none">
    <div class="container mt-2 mt-md-3 mb-md-4">
        <div class="text-center">
            <p class="fw-500 fz-18 mb-md-4 mb-3 text-primary"></p>
            <h2 class="my-md-4 my-2 text-primary">DỰ ÁN TIÊU BIỂU</h2>
        </div>
        <div class="row">
            {% for k, blog in blogs_projects if (k < 8) %}
                <div class="col-6 col-md-3 my-3 project-item-home">
                    <div class="bg-blue-cs"></div>
                    <a href="{{ blog['link'] }}?type=du-an">
                        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    </a>
                    <a href="{{ blog['link'] }}?type=du-an" class="project-title-home">{{ blog['title'] }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End project -->