/* $MAIN_COLOR$ */
#top-bar {
    background: $MAIN_COLOR$;
}

.ega-base-color {
    background: $MAIN_COLOR$ !important;
    color: #fff !important;
}

.ega-base-color:hover {
    border-color: $MAIN_COLOR$ !important;
}

.ega-base-color__text {
    color: $MAIN_COLOR$ !important; 
}

.ega-base-color--outline{
    background-color: transparent;
    border-color: $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}

.ega-base-color--outline:hover {
    background-color: $MAIN_COLOR$ !important;
    border-color: $MAIN_COLOR$ !important;
    color: #fff;
}

.ega-pro__sale-tag {
    background: $MAIN_COLOR$ !important;
}

#ega-footer a:hover {
    color: $MAIN_COLOR$;
}

.ega-pro--style2 .ega-pro__action.ega-tooltip:before{
    border-top-color: $MAIN_COLOR$;
}

.ega-pro--style2 .ega-pro__action.ega-tooltip:after{
    background: $MAIN_COLOR$;
}

.ega-top-cart__qty {
    background: $MAIN_COLOR$;
}

.ega-tab__title {
    border-top: 3px solid $MAIN_COLOR$;
}

.ega-pro__policies-desc a strong{
    color: $MAIN_COLOR$; 
    font-size: 18px;
}

.header-login .header_login_content{
	border-top: 2px solid $MAIN_COLOR$;
}

.block-header .block-header-menu ul.nav ul.nav li:hover >a,
.block-header .block-header-menu ul.nav ul.nav li a:hover,
.block-header .block-header-menu ul.nav ul.nav a.active {
    color: $MAIN_COLOR$ !important;
}

.second-color,
.second-color-hover:hover {
    color: $MAIN_COLOR$ !important;
}

.border-main{
    border-color: $MAIN_COLOR$ !important;
}

.header-font{
    color: $MAIN_COLOR$;
}

a:hover,
a.active{
    color: $MAIN_COLOR$;
}

.product-item .product-price{
    color: $MAIN_COLOR$;
}

.product-item .product-preview a{
    background: $MAIN_COLOR$;
}

#collection_sidebar #slider-range{ 
   border: 1px solid $MAIN_COLOR$;
}

#collection_sidebar .ui-slider-handle{
    border: 1px solid $MAIN_COLOR$;
}

#collection_sidebar #slider-range .ui-widget-header{
    background: $MAIN_COLOR$;
}

.blog-item .blog-link{
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}

ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active{
    color: $MAIN_COLOR$;
}

.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
    background: $MAIN_COLOR$;
}

.product-detail .choose-attribute .attr-item input:checked ~ label{
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}


#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
    background: $MAIN_COLOR$;
}

.second-color,
.second-color-hover:hover{
    color: $MAIN_COLOR$ !important;
}

#ega-main-menu .ega-menu__link:hover {
    color: $MAIN_COLOR$;  
}

.ega-header .ega-menu__item--active .ega-menu__link {
    color: $MAIN_COLOR$;  
}

/* $BUTTON_COLOR$ */

.ega-btn-color{
    background: $BUTTON_COLOR$ !important;
    color: #fff !important;
}

.ega-btn-color:hover {
    border-color: $BUTTON_COLOR$ !important;
}

.ega-btn-color--outline{
    background-color: transparent;
    border-color: $BUTTON_COLOR$;
    color: $BUTTON_COLOR$;
}

.ega-btn-color--outline:hover {
    background-color: $BUTTON_COLOR$ !important;
    border-color: $BUTTON_COLOR$ !important;
    color: #fff;
}

.ega-pro.ega-pro--style2 .ega-pro__action {
    background: $BUTTON_COLOR$;
    color: #fff;
}

.ega-subscribe button[type="submit"]{
    background: $BUTTON_COLOR$;
}

#ega-scroll-top{
    background: $BUTTON_COLOR$;
}