{{ custom_header }}
<!-- End header -->

<div class="setting-delivery-page">
    <div class="page-wrapper">
        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb.href != '' %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                    <div class="sub-head clearfix pb-3">
                        <h1 class="page-title float-left font-20">{{ delivery_setting_title }}</h1>
                    </div>
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i
                                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i
                                    class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    <div class="box-form pt-4 admin-delivery-method-list border-top">
                        <div class="row">
{#                            <div class="col-12 col-md-4">#}
{#                                <p class="font-weight-500 my-3 font-16">nguyen van quan{{ text_shipping_unit }}</p>#}
{#                                <p class="text-secondary">nguyen van duc {{ text_bestme_connection_with_shipping_partners }}</p>#}
{#                            </div>#}
                            <div class="col-12 col-md-10">
{#                                {% if app_ghn_is_actived %}#}
                                    <div class="box-wrap shadow-sm rounded-3">
                                        <div class="box-content pb-0 pt-4 px-4">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="entry-content">
                                                        <div class="entry-thumb">
                                                            <img src="view/image/appstore/trans_ons_ghtk.png" alt="">
                                                        </div>
                                                        <div class="entry-content">
                                                            <p class="font-weight-500 text-uppercase">{{ text_fast_delivery_connection }}</p>
                                                            <p class="my-3">{{ text_after_processing_the_order_on_Bestme }}</p>
                                                            {% if ghtk_active == true %}
                                                                <p class="my-3 connect-delivery-name"><i
                                                                            class="fa fa-check"></i>{{ text_connected }}
                                                                    : {{ account_ghtk['ghtk_username'] }}</p>
                                                            {% endif %}
                                                            <a class="guide" href="{{ href_ghtk_guide }}" target="_blank"><i
                                                                        class="fa fa-question-circle"></i>{{ text_see_the_instructions }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="action">
                                                        {% if ghtk_active == false %}
                                                            <button class="btn btn-default btn-connect mb-3" data-toggle="collapse"
                                                                    data-target="#collapse-delivery-ghtk"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-delivery-ghtk">{{ text_connect }}</button>
                                                            <button class="btn btn-default mb-3"
                                                                    onclick="window.open('{{ href_ghtk_create_account }}')">{{ text_create_new_account }}</button>
                                                        {% else %}
                                                            <button class="btn btn-default mb-3"
                                                                    onclick="showLocationDelivery(this)"
                                                                    data-name="{{ text_ghtk }}" data-token="{{ ghn_token }}"
                                                                    data-value="{{ app_code }}"
                                                                    data-url-detail="{{ delivery_api_hubs }}"
                                                                    data-url-edit="{{ ghn_edit }}">{{ text_collection_of_goods }}</button>
                                                            <button class="btn btn-default mb-3"
                                                                    onclick="showModalRemoveDeliveryApi(this)"
                                                                    data-value="{{ app_code }}"
                                                                    data-name="{{ text_ghtk }}">{{ text_cancel_collection }}</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="collapse p-4 border-top" id="collapse-delivery-ghtk"
                                                     data-parent="#collapse-delivery-ghtk" style="width: 100%">
                                                    <p class="ghtk-login-error"></p>
                                                    <form action="{{ delivery_api_login }}" class="delivery-3-api"
                                                          method="POST">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="font-weight-normal">{{ text_user_name_ghtk }}</label>
                                                                    <input class="form-control" type="text" name="username"
                                                                           placeholder="{{ text_user_name_ghtk }}">
                                                                    <input type="hidden" name="delivery_method" value="{{ app_code }}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="font-weight-normal">{{ text_password }}</label>
                                                                    <input class="form-control" type="password"
                                                                           name="password"
                                                                           placeholder="{{ text_password }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="border-top mx-n4 px-4 clearfix pt-4">
                                                        <button class="btn btn-pink float-right connect-delivery"
                                                                type="button">{{ text_button_connect }}</button>
                                                        <button class="btn btn-default float-right mr-2"
                                                                data-toggle="collapse" data-target="#collapse-delivery-ghtk"
                                                                aria-expanded="false" aria-controls="collapse-delivery-ghtk"
                                                                type="button">{{ text_button_cancel }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
{#                                {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div> <!-- End main content -->

            </main>
            <!-- End Main -->
        </div>
    </div>

    <!-- modal logout delivery api -->
    <div class="modal fade" id="modal-remove-delivery-api" data-url-logout={{ ghtk_remove_connect }} tabindex="-1"
         role="dialog" aria-labelledby="modal-remove-delivery-api" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-18 font-weight-normal">{{ text_disconnecting_from }} <span class="unit">{{ display_name }}</span>?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ text_after_canceling_the_connection }} <span
                                class="unit">{{ display_name }}</span>. {{ text_are_you_sure }}?</p>
                </div>
                <div class="modal-footer d-block clearfix">
                    <button class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                    <button class="btn btn-pink" onclick="logoutDeliveryApi(this)">{{ text_destroy }}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal location delivery api -->
    <div class="modal fade" id="modal-location-delivery-api" tabindex="-1" role="dialog"
         aria-labelledby="modal-remove-delivery-api" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-18 font-weight-normal">{{ text_link_location }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-black">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="label" style="font-weight: 500">Bestme</p>
                            {% if address_shop is empty %}
                                <a href="{{ config_address_shop_link }}">{{ text_address_config }}</a>
                            {% else %}
                                <p>{{ address_shop }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p class="label name-delivery" style="font-weight: 500">{{ display_name }}</p>
                            <select name="" id="list_hub">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-block clearfix">
                    <button class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                    <button class="btn btn-pink" onclick="saveDeliveryApi(this)">{{ text_button_connect }}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End page wrapper -->
</div>
<!-- End setting page -->

<div class="modal fade" id="confirm-delivery" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-label">{{ alert_notice }}</h4>
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ button_cancel }}</button>
                <button type="button" class="btn btn-primary confirm"
                        data-dismiss="modal">{{ button_continue }}</button>
            </div>
        </div>
    </div>
</div>

<style>
    ul.select2-results__options {
        max-height: 250px !important;
        overflow-y: scroll !important;
    }

    .help-tip {
        position: absolute;
        left: 25px;
        top: 19px;
        text-align: center;
        background-color: #98b1bd;
        border-radius: 50%;
        font-size: 14px;
        line-height: 19px;
        cursor: default;
        z-index: 1;
    }

    .help-tip span i{
        color: #6c757d;
    }

    span.text-secondary {
        padding-left: 18px;
    }

    .p-tip {
        position: relative;
    }

    .help-tip:hover p {
        display: block;
        transform-origin: 100% 0%;

        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;

    }

    .help-tip p { /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 250px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        left: 0px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

    .help-tip p:before { /* The pointer of the tooltip */
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: #1E2021;
        right: 10px;
        top: -12px;
    }

    .help-tip p:after { /* Prevents the tooltip from being hidden */
        width: 100%;
        height: 40px;
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
    }

    /* CSS animation */

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
            transform: scale(0.6);
        }

        100% {
            opacity: 100%;
            transform: scale(1);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }
    }

    @media only screen and (max-width: 1024px) {
        .help-tip {
            top: 19px;
        }
    }
</style>

<!--js delivery api-->
<script type="text/javascript">
    // connect api 3 click button kết nối
    jQuery('.connect-delivery').on('click', function () {
        var url = jQuery(this).closest('.collapse').find('.delivery-3-api').attr('action');
        var data = jQuery(this).closest('.collapse').find('.delivery-3-api').serialize();
        var element_collapse = jQuery(this).closest('.collapse');
        var ghtk_login_error = $('.ghtk-login-error');
        console.log(url);
        $.ajax({
            url: url,
            method: 'POST',
            data: data,
            beforeSend: function () {
                $('#image-loading').show();
                $(document.body).css('pointer-events', 'none');
            },
            success: function (data) {
                $('#image-loading').hide();
                $(document.body).css('pointer-events', 'all');
                console.log(data);
                //show error
                if (data.status == true) {
                    location.reload(true);
                } else {
                    ghtk_login_error.html("<span class='error' style='color: red; display: inline-block'>{{ text_error_account_info_invalid }}</span>");

                    // if (element_collapse.find('.error').length < 1) {
                    //     if(data.delivery_method == 'Ghn'){
                    //         element_collapse.prepend("<span class='error' style='color: red; display: inline-block; margin-bottom: 15px;'>{{ text_error_account_info_invalid }}</span>");
                    //     }
                    //     else {
                    //         $("#error_singup").html("<font style='color:red'>" + data.message + "</font>");
                    //     }
                    // }
                }
            },
            error: function (request, status, error) {
                $('#image-loading').hide();
            }
        });
    });

    //logout api 3 click button hủy kết nối
    function showModalRemoveDeliveryApi(element) {
        var name_api = jQuery(element).attr('data-name');
        var value_api = jQuery(element).attr('data-value');
        jQuery('#modal-remove-delivery-api').modal('show');
        jQuery('#modal-remove-delivery-api').attr('data-value', value_api);
        jQuery('#modal-remove-delivery-api .unit').each(function () {
            jQuery(this).html(name_api);
        });
    }

    // logout api
    function logoutDeliveryApi(element) {
        var url_logout = jQuery(element).closest('#modal-remove-delivery-api').attr('data-url-logout');
        $.ajax({
            url: url_logout,
            method: 'GET',
            beforeSend: function () {
                $('#image-loading').show();
                $(document.body).css('pointer-events', 'none');
            },
            success: function () {
                $('#image-loading').hide();
                location.reload(true);
            },
            error: function (request, status, error) {
                $('#image-loading').hide();
            }
        });
    }

    // detail delevery
    function showLocationDelivery(element) {
        var name_api = jQuery(element).attr('data-name');
        var method = jQuery(element).attr('data-value');
        var token = jQuery(element).attr('data-token');
        var url_hubs = '{{ delivery_api_hubs | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        $.ajax({
            url: url_hubs,
            method: 'GET',
            beforeSend: function () {
                $('#image-loading').show();
                $(document.body).css('pointer-events', 'none');
            },
            success: function (data) {
                $('#image-loading').hide();
                $(document.body).css('pointer-events', 'all');
                //show error
                jQuery('#modal-location-delivery-api #list_hub').html(data.data);
                jQuery('#modal-location-delivery-api').modal('show');
                jQuery('#modal-location-delivery-api').attr('data-value', method);
                jQuery('#modal-location-delivery-api .name-delivery').html(name_api);
            },
            error: function (request, status, error) {
                jQuery('#modal-location-delivery-api').modal('show');
                jQuery('#modal-location-delivery-api').attr('data-value', method);
                jQuery('#modal-location-delivery-api .name-delivery').html(name_api);
            }
        });
        // get data in url detail
    }

    //save delivery
    function saveDeliveryApi(element) {
        var url_update_hub = "{{ delivery_api_update_hubs | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}";
        var method_name = jQuery(element).closest('#modal-location-delivery-api').attr('data-value');
        var data_province = jQuery('select#list_hub option:selected').attr('data-province');
        var data_wards = jQuery('select#list_hub option:selected').attr('data-wards');
        var groupaddress = jQuery('select#list_hub option:selected').attr('data-groupaddress');
        var cusId = jQuery('select#list_hub option:selected').attr('data-cusId');
        var data_name = jQuery('select#list_hub option:selected').attr('data-name');
        var data_phone = jQuery('select#list_hub option:selected').attr('data-phone');
        var data_address = jQuery('select#list_hub option:selected').attr('data-address');
        $.ajax({
            url: url_update_hub,
            method: 'GET',
            data: {
                method: method_name,
                data_province: data_province,
                data_wards: data_wards,
                groupaddress: groupaddress,
                cusId: cusId,
                data_name: data_name,
                data_phone: data_phone,
                data_address: data_address,
                value: jQuery('#list_hub').val()
            },
            beforeSend: function () {
                $('#image-loading').show();
                $(document.body).css('pointer-events', 'none');
            },
            success: function (data) {
                $('#image-loading').hide();
                if (data.status) {
                    location.reload(true);
                }
            },
            error: function (request, status, error) {
                $('#image-loading').hide();
            }
        });
    }

    $('#collapse-delivery-ghtk').on('hidden.bs.collapse', function () {
        $('button.btn-connect[data-target="#collapse-delivery-ghtk"]').show();
    });

    $('#collapse-delivery-ghtk').on('show.bs.collapse', function () {
        $('button.btn-connect[data-target="#collapse-delivery-ghtk"]').hide();
    });
</script>

{{ footer }}