<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    {{ cssResource }}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/jquery-ui.css">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/font/montserrat.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/font/prata.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/font/roboto.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/reset.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/header.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/footer.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/style.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/responsive.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bestme.css">#}
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <!-- Bootstrap -->

    {{ jsResource }}
    {#<script type="text/javascript" src="{{ theme_directory }}/js/jquery.3.3.1.min.js"></script>#}
    {#<script type="text/javascript" src="{{ theme_directory }}/js/jquery-ui.js"></script>#}
    {#<script type="text/javascript" src="{{ theme_directory }}/js/popper.min.js"></script>#}
    {#<script type="text/javascript" src="{{ theme_directory }}/js/bootstrap.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
    {#<script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
    {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <!-- End Bootstrap -->
    <style>
        .icon.icon-external-link{
            -webkit-mask-image:  url('{{ theme_directory }}/img/icons/logo.png');
            mask-image: url('{{ theme_directory }}/img/icons/logo.png');
        }
    </style>
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="front-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<div class="page-wrapper">

    <!-- header.html -->
    <header class="block-header">
        <div class="fix-content {% if is_home == false %}fixed is-home{% endif %} ">
            {% if notify_bar.visible  == 1 %}
                <div class="header-top main-bg bestme-block-banner-top">
                    <div class="container text-center text-white">
                        <span class="text-uppercase"><a href="{{ notify_bar.url }}" class="text-white">{{ notify_bar.content }}</a></span>
                    </div>
                </div>
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-2 block-header-logo">
                        <a href="{{ home }}">
                            <img class="bestme-block-header-logo"
                                    {% if logo_height != '' %}
{#                                        style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                        class="custom-height"
                                    {% endif %}
                                 src="{{ logo }}" alt="{{ alt }}">
                        </a>
                    </div>
                    <div class="col-12 col-md-5 col-lg-7 main-menu block-header-menu">
                        <nav class="navbar navbar-expand-lg navbar-light px-0 p-md-0">
                            <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse bestme-block-header-menu" id="navbarMainMenu">
                                <ul class="nav">
                                    {% for idx, m in main_menu %}
                                        {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                            <li class="nav-item">
                                                {# one level #}
                                                <a class="nav-link {{ result_active_menu == m.url ? 'active' : '' }}  {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item has-child">
                                                {# two levels #}
                                                <a href="{{ m.url }}" class="nav-link">{{ m.text }}<span class="toggle"></span></a>
                                                <ul class="nav child-nav">
                                                    {% for it in m.items %}
                                                        {% if it.items is defined and it.items|length > 0 %}
                                                            <li class="nav-item">
                                                                <a href="{{ it.url }}">{{ it.text }}<span class="toggle"></span></a>
                                                                <ul class="nav child-nav">
                                                                    {% for it3 in it.items %}
                                                                        <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% else %}
                                                            <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <script>
                      $(window).bind("load", function() {
                        $('input[autofocus="autofocus"]').focus()
                      })
                    </script>
                    <div class="col-8 col-md-4 col-lg-3 right-menu text-right ml-auto">
                        <ul class="nav">
                            <li class="nav-icon ">
                                <a href="{{ urlserach }}#focus-search-input"><i class="icon icon-search"></i></a>
                            </li>
                            <li class="nav-icon">
                                <a href="{{ href_my_orders }}">
                                    <i class="icon icon-cart"></i>
                                    <span class="count-cart"> {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                                </a>
                            </li>
                            <li class="nav-icon d-none">
                                <a href="#"><i class="icon icon-heart"></i></a>
                            </li>
                            <li class="nav-icon position-relative">
                                {% if logged_in == '' %}
                                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,18"><i class="icon icon-user"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item d-flex" href="{{ login }}"><i class="icon icon-user mr-3 font-20"></i>Đăng nhập</a>
                                        <a class="dropdown-item d-flex" href="{{ register }}"><i class="icon icon-user mr-3 font-20"></i>Đăng ký</a>
                                    </div>
                                {% else %}
                                    <a href="{{ my_account }}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,18"><i class="icon icon-user"></i> {{ logged_user }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item d-flex" href="{{ my_account }}"><i class="icon icon-user mr-3 font-20"></i>Tài khoản của tôi</a>
                                        <a class="dropdown-item d-flex" href="{{ logout }}"><i class="icon icon-external-link mr-3 font-20"></i>Đăng xuất</a>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div> <!-- End row -->
            </div> <!-- End container -->
        </div> <!-- End fix content -->
    </header> <!-- End header -->
