<!-- block blog -->
{% if latest_blog is empty %}
    {# latest_blog is empty #}
{% else %}
    <section id="homepage-block-blog">
        <div class="container mb-5">
            <h2 class="block-title homepage-block-blog-title text-center mb-4 pt-5">{{ blog_title }}</h2>
            {#<p class="block-title homepage-block-blog-description text-center">Our weekly picks right here.</p>#}
            <div id="homepage-slide-blog" class="carousel carousel-blogs slide" data-ride="carousel">
                {% set latest_blog_layout_product = 3 %}
                {% set col_xl = 12/latest_blog_layout_product %}
                {#{% set latest_blog_indicators = (latest_blog|length / latest_blog_layout_product)|round(0, 'ceil') %}#}

                <div class="carousel-inner py-2">
                    {% set block_blog_layout_product = 3 %}
                    {% set col_xl = 12/block_blog_layout_product %}
                    {% set index = 1 %}
                    {% set limit = 9 %}
                    {% for key, blog in latest_blog if index <= limit %}
                        {% if blog.status == 1 %}
                            {% if index == 1 %}
                                {# set first 3 blogs is active #}
                                <div class="carousel-item text-center active">
                                <div class="row">
                            {% endif %}
                            {# each of 3 in each 3 blogs #}
                            <div class="col-12 col-md-{{ col_xl }} block-blog-item">
                                <a href="{{ blog['link'] }}">
                                    {% if blog['type'] == 'video' %}
                                        <div id="blog-thumb-video-{{ key }}" class="blog-thumb-video" style="width: 100%; height: 62%"
                                             data-video-url="{{ blog['video_url'] }}"></div>
                                    {% else %}
                                        <div class="block-blog-image" style="background-image: url({{ blog['image'] }});"></div>
                                    {% endif %}
                                    <h3 class="block-blog-title text-left" data-toggle="tooltip" data-placement="left" title="{{ blog['title'] }}">
                                        {{ blog['title']|length > 25 ? blog['title']|slice(0, 25) ~ '...' : blog['title'] }}
                                    </h3>
                                    <div class="block-blog-content text-left">{{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ ' […]' : blog['short_content']|html_entity_decode|striptags }}</div>
                                </a>
                            </div> <!-- End Pro Item -->

                            {# next blog in same first 3 blogs #}
                            {% if (index % latest_blog_layout_product) == 0 and index != latest_blog|length %}
                                </div>{# end - row #}
                                </div>
                                {# end - each 3 blogs #}

                                {# next 3 blogs #}
                                <div class="carousel-item text-center">
                            {% endif %}

                            {# if end blog #}
                            {% if index == latest_blog|length %}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% set index = index + 1 %}
                    {% endfor %}
                </div>

                {% if latest_blog|length > latest_blog_layout_product %}
                    <a class="carousel-control carousel-control-prev" href="#homepage-slide-blog" data-slide="prev"><span class="fas fa-chevron-left left"></span></a>
                    <a class="carousel-control carousel-control-next" href="#homepage-slide-blog" data-slide="next"><span class="fas fa-chevron-right right"></span></a>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
<!-- end block block -->