<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/jquery-ui.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/all.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bestme.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ theme_directory }}/js/jquery.3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/popper.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/main.js"></script>

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <!-- End Bootstrap -->

    <style>
        .icon.icon-external-link{
            -webkit-mask-image:  url('{{ favicon }}');
            mask-image: url('{{ favicon }}');
        }
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>

</head>
<body class="front-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<div class="page-wrapper">

    <!-- header.html -->
    <header class="block-header">
        
        <div class="header-top {% if notify_bar.visible  == 1 %}third-bg{%endif%}">
            {% if notify_bar.visible  == 1 %}
            <div class="container">
                <div class="d-flex">
                    <span class="bestme-block-banner-top">
                        
                            <a href="{{ notify_bar.url }}">{{ notify_bar.content }}</a>
                       
                    </span>
                    
                </div>
            </div>
             {% endif %}
        </div>
        
        <div class="fix-content">
            <div class="container1">
                
                <div class="row">
                    <div class="col-lg-3 block-header-logo">
                        <a href="{{ home }}" class="bestme-block-header-logo">
                            <img src="{{ logo }}"
                                {% if logo_height != '' %}
{#                                    style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                    class="custom-height"
                                {% endif %}
                                 title="{{ name }}" alt="{{ alt }}">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="main-menu-wrapper">
                            <div class="block-header-menu">
                                <nav class="navbar navbar-expand-lg navbar-light px-0 p-md-0 bestme-block-header-menu">
                                    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarMainMenu">
                                        <ul class="nav">
                                            {% for idx, m in main_menu %}
                                                {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                                    <li class="nav-item">
                                                        {# one level #}
                                                        <a class="nav-link {{ result_active_menu == m.url ? 'active' : '' }}  {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item has-child">
                                                        {# two levels #}
                                                        <a href="{{ m.url }}" class="nav-link">{{ m.text }}<span class="toggle fas fa-chevron-down"></span></a>
                                                        <ul class="nav child-nav">
                                                            {% for it in m.items %}
                                                                {% if it.items is defined and it.items|length > 1 %}
                                                                    <li class="nav-item">
                                                                        <a href="{{ it.url }}">{{ it.text }}<span class="toggle fas fa-chevron-down"></span></a>
                                                                        <ul class="nav child-nav">
                                                                            {% for it3 in it.items %}
                                                                                <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div> <!-- End main-menu-wrapper -->
                    </div>
                    <div class="col-lg-3 header-block-right">
                       
                        <div class="form-search-header">
                            <div class="input-group-append ml-auto search-button">
                                <button class="btn px-3 border-0 py-2 text-uppercase font-weight-500" type="submit">
                                    <svg enable-background="new 0 0 451 451" version="1.1" viewBox="0 0 451 451" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m447.05 428-109.6-109.6c29.4-33.8 47.2-77.9 47.2-126.1 0-106.1-86.3-192.3-192.3-192.3-106.1 0-192.3 86.3-192.3 192.3s86.3 192.3 192.3 192.3c48.2 0 92.3-17.8 126.1-47.2l109.6 109.6c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.2-5.2 5.2-13.8 0-19zm-420.1-235.7c0-91.2 74.2-165.3 165.3-165.3 91.2 0 165.3 74.2 165.3 165.3s-74.1 165.4-165.3 165.4c-91.1 0-165.3-74.2-165.3-165.4z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="input-group align-self-center search-expand">
                                 <form action="{{ urlserach }}" method="get">
                                <div class="input-group-icon flex-fill">
                                    <input type="text" name="search" class="form-control bg-white third-color border-light" placeholder="Bạn cần tìm gì?" aria-label="Bạn cần tìm gì?">
                                    <input type="hidden" name="route" value="common/shop">
                                </div>
                                 </form>
                            </div>
                        </div>
                       
                        <div class="ml-account">
                            <a href="#" class="text-uppercase font-10 mr-5 d-none"><i class="icon icon-heart-solid main-color mr-2"></i> Sản phẩm yêu thích</a>
    
                            <a href="{{ my_account }}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,18">
                                <svg enable-background="new 0 0 55 55" version="1.1" viewBox="0 0 55 55" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m55 27.5c0-15.163-12.337-27.5-27.5-27.5s-27.5 12.337-27.5 27.5c0 8.009 3.444 15.228 8.926 20.258l-0.026 0.023 0.892 0.752c0.058 0.049 0.121 0.089 0.179 0.137 0.474 0.393 0.965 0.766 1.465 1.127 0.162 0.117 0.324 0.234 0.489 0.348 0.534 0.368 1.082 0.717 1.642 1.048 0.122 0.072 0.245 0.142 0.368 0.212 0.613 0.349 1.239 0.678 1.88 0.98 0.047 0.022 0.095 0.042 0.142 0.064 2.089 0.971 4.319 1.684 6.651 2.105 0.061 0.011 0.122 0.022 0.184 0.033 0.724 0.125 1.456 0.225 2.197 0.292 0.09 8e-3 0.18 0.013 0.271 0.021 0.738 0.061 1.484 0.1 2.24 0.1 0.749 0 1.488-0.039 2.222-0.098 0.093-8e-3 0.186-0.013 0.279-0.021 0.735-0.067 1.461-0.164 2.178-0.287 0.062-0.011 0.125-0.022 0.187-0.034 2.297-0.412 4.495-1.109 6.557-2.055 0.076-0.035 0.153-0.068 0.229-0.104 0.617-0.29 1.22-0.603 1.811-0.936 0.147-0.083 0.293-0.167 0.439-0.253 0.538-0.317 1.067-0.648 1.581-1 0.185-0.126 0.366-0.259 0.549-0.391 0.439-0.316 0.87-0.642 1.289-0.983 0.093-0.075 0.193-0.14 0.284-0.217l0.915-0.764-0.027-0.023c5.53-5.032 9.007-12.284 9.007-20.334zm-53 0c0-14.061 11.439-25.5 25.5-25.5s25.5 11.439 25.5 25.5c0 7.577-3.325 14.389-8.589 19.063-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957c0.196-0.242 0.403-0.516 0.617-0.817 1.096-1.548 1.975-3.27 2.616-5.123 1.267-0.602 2.085-1.864 2.085-3.289v-3.545c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519 0.236-3.448-1.883-5.864-1.843-2.104-4.826-3.169-8.867-3.169s-7.024 1.065-8.867 3.168c-2.119 2.416-1.935 5.345-1.883 5.864v4.667c-0.568 0.661-0.887 1.502-0.887 2.369v3.545c0 1.101 0.494 2.128 1.34 2.821 0.81 3.173 2.477 5.575 3.093 6.389v2.894c0 0.816-0.445 1.566-1.162 1.958l-7.907 4.313c-0.252 0.137-0.502 0.297-0.752 0.476-5.199-4.672-8.475-11.442-8.475-18.964zm40.459 20.632c-0.35 0.254-0.706 0.5-1.067 0.735-0.166 0.108-0.331 0.216-0.5 0.321-0.472 0.292-0.952 0.57-1.442 0.83-0.108 0.057-0.217 0.111-0.326 0.167-1.126 0.577-2.291 1.073-3.488 1.476-0.042 0.014-0.084 0.029-0.127 0.043-0.627 0.208-1.262 0.393-1.904 0.552-2e-3 0-4e-3 1e-3 -6e-3 1e-3 -0.648 0.16-1.304 0.293-1.964 0.402-0.018 3e-3 -0.036 7e-3 -0.054 0.01-0.621 0.101-1.247 0.174-1.875 0.229-0.111 0.01-0.222 0.017-0.334 0.025-0.621 0.047-1.245 0.077-1.872 0.077-0.634 0-1.266-0.031-1.895-0.078-0.109-8e-3 -0.218-0.015-0.326-0.025-0.634-0.056-1.265-0.131-1.89-0.233-0.028-5e-3 -0.056-0.01-0.084-0.015-1.322-0.221-2.623-0.546-3.89-0.971-0.039-0.013-0.079-0.027-0.118-0.04-0.629-0.214-1.251-0.451-1.862-0.713-4e-3 -2e-3 -9e-3 -4e-3 -0.013-6e-3 -0.578-0.249-1.145-0.525-1.705-0.816-0.073-0.038-0.147-0.074-0.219-0.113-0.511-0.273-1.011-0.568-1.504-0.876-0.146-0.092-0.291-0.185-0.435-0.279-0.454-0.297-0.902-0.606-1.338-0.933-0.045-0.034-0.088-0.07-0.133-0.104l0.096-0.054 7.907-4.313c1.36-0.742 2.205-2.165 2.205-3.714l-1e-3 -3.602-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396-0.341-0.221c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465 0.197-0.898 0.557-1.223l0.33-0.298v-5.57l-9e-3 -0.131c-3e-3 -0.024-0.298-2.429 1.396-4.36 1.446-1.648 3.924-2.485 7.363-2.485 3.426 0 5.896 0.83 7.346 2.466 1.692 1.911 1.415 4.361 1.413 4.381l-9e-3 5.701 0.33 0.298c0.359 0.324 0.557 0.758 0.557 1.223v3.545c0 0.713-0.485 1.36-1.181 1.575l-0.497 0.153-0.16 0.495c-0.59 1.833-1.43 3.526-2.496 5.032-0.262 0.37-0.517 0.698-0.736 0.949l-0.248 0.283v3.699c0 1.612 0.896 3.062 2.338 3.782l8.467 4.233c0.054 0.027 0.107 0.055 0.16 0.083-0.107 0.081-0.217 0.156-0.325 0.234z"/>
                                </svg>
                            </a>
                            {% if logged_in == '' %}
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item d-flex" href="{{ login }}"><i class="icon icon-user mr-3 font-20"></i>Đăng nhập</a>
                                <a class="dropdown-item d-flex" href="{{ register }}"><i class="icon icon-user mr-3 font-20"></i>Đăng ký</a>
                            </div>
                            {% else %}
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item d-flex" href="{{ my_account }}"><i class="icon icon-user mr-3 font-20"></i>Tài khoản của tôi</a>
                                    <a class="dropdown-item d-flex" href="{{ logout }}"><i class="icon icon-external-link mr-3 font-20"></i>Đăng xuất</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="cart-area">
                            <a href="{{ href_my_orders }}" class="cart-link rounded-2">
                                <svg enable-background="new 0 0 321.2 321.2" version="1.1" viewBox="0 0 321.2 321.2" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                		<path d="m306.4 313.2-24-223.6c-0.4-3.6-3.6-6.4-7.2-6.4h-44.4v-13.6c0-38.4-31.2-69.6-69.6-69.6s-69.6 31.2-69.6 69.6v13.6h-45.6c-3.6 0-6.8 2.8-7.2 6.4l-24 223.6c-0.4 2 0.4 4 1.6 5.6s3.2 2.4 5.2 2.4h278c2 0 4-0.8 5.2-2.4s2-3.6 1.6-5.6zm-82.8-189.6c3.6 0 6.4 2.8 6.4 6.4s-2.8 6.4-6.4 6.4-6.4-2.8-6.4-6.4 2.8-6.4 6.4-6.4zm-117.6-54c0-30.4 24.8-55.2 55.2-55.2s55.2 24.8 55.2 55.2v13.6h-110.4v-13.6zm-7.2 54c3.6 0 6.4 2.8 6.4 6.4s-2.8 6.4-6.4 6.4-6.4-2.8-6.4-6.4 2.8-6.4 6.4-6.4zm-68.8 182.8 22.4-209.2h39.2v13.2c-8 2.8-13.6 10.4-13.6 19.2 0 11.2 9.2 20.4 20.4 20.4s20.4-9.2 20.4-20.4c0-8.8-5.6-16.4-13.6-19.2v-13.2h110.4v13.2c-8 2.8-13.6 10.4-13.6 19.2 0 11.2 9.2 20.4 20.4 20.4s20.4-9.2 20.4-20.4c0-8.8-5.6-16.4-13.6-19.2v-13.2h40.8l22.4 209.2h-262.4z"/>
                                </svg>
                                <span class="amount">
    									<span class="quantity"><span>{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span> sản phẩm</span>
    									<span class="total">{{ order_total_money }}</span>
    								</span>
                            </a>
                        </div>
                    </div>
                </div> <!-- End row -->
            </div> <!-- End container -->
        </div> <!-- End fix content -->
    </header> <!-- End header -->
