{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb">
                <ol class="breadcrumb justify-content-lg-center">
                    <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
                </ol>
            </nav>
            <!-- End breadcrumb -->

            <div class="wrap-auth-form col-12 col-lg-7 mx-auto mb-5">
                <div class="text-center d-flex form-header">
                    <a href="{{ register }}" class="left page-title col">Đăng ký</a>
                    <h1 class="col right active">Quên mật khẩu</h1>
                </div>

                <div class="mail-success text-center px-3 pb-4 px-lg-5 bg-white">
                    <img class="img-fluid mb-3" src="{{ theme_directory }}/images/big-mail.png" alt="">
                    <p>
                        Chúng tôi đã gửi thư khôi phục mật khẩu đến email
                    </p>
                    <p>
                        {{ email }}
                    </p>
                    <p>
                        Bạn vui lòng kiểm tra, thực hiện theo hướng dẫn và đăng nhập lại!
                    </p>
                </div>
            </div>
            <!-- End wrap-form-login -->
        </div>
        <!-- End: container -->
    </div>
    <!-- End: main content -->
</main>
<!-- /.ELM PAGES -->

{{ footer }}