{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb">
                <ol class="breadcrumb justify-content-lg-center">
                    <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
                </ol>
            </nav>
            <!-- End breadcrumb -->

            {% if error %}
                <div class="col-12 col-md-12">
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                </div>
            {% endif %}

            <div class="wrap-auth-form col-12 col-lg-7 mx-auto mb-5">
                <div class="text-center d-flex form-header">
                    <a href="{{ urlregister }}" class="left page-title col">Đăng ký</a>
                    <h1 class="col right active">Đăng nhập</h1>
                </div>

                <!-- Form -->
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-register px-3 pb-4 px-lg-5 bg-white">
                    {% if redirect %}
                        <input type="hidden" name="redirect" value="{{ redirect }}">
                    {% endif %}
                    <div class="form-row form-group">
                        <label class="col-lg-4 col-12 text-second pt-2">Email:</label>
                        <div class="col">
                            <input type="email" name="email" class="form-control" id="your-email" value="{{ email }}" aria-describedby="helpId" required>
                        </div>
                    </div>
                    <div class="form-row form-group position-relative">
                        <label class="col-lg-4 col-12 text-second pt-2 text-second">Mật khẩu:</label>
                        <div class="input-password-group col">
                            <input type="password" name="password" class="form-control" value="{{ password }}" required>
                            <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                        </div>
                    </div>
                    <div class="no-remember-pass mt-3 d-flex">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="1" name="remember_password" class="custom-control-input" id="remmerber">
                            <label class="custom-control-label" for="remmerber">Ghi nhớ</label>
                        </div>
                        <a href="{{ urlforgotten }}" class="ml-auto text-fifth">Quên mật khẩu?</a>
                    </div>
                    <button class="btn btn-primary p-3 mt-3 fw-600 text-uppercase w-100 fz-16" type="submit">
                        Đăng nhập
                    </button>
                </form>
                <!-- End: Form -->
            </div>
            <!-- End wrap-form-login -->
        </div>
        <!-- End: container -->
    </div>
    <!-- End: main content -->
</main>

{{ footer }}