{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb">
                <ol class="breadcrumb justify-content-lg-center">
                    <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
                </ol>
            </nav>
            <!-- End breadcrumb -->

            {% if error %}
                <div class="col-12 col-md-12">
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                </div>
            {% endif %}

            <div class="wrap-auth-form col-12 col-lg-7 mx-auto mb-5">
                <div class="text-center d-flex form-header">
                    <h1 class="left page-title col m-0 active">Đăng ký</h1>
                    <a href="{{ urllogin }}" class="col right">Đăng nhập</a>
                </div>

                <!-- Form -->
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-register px-3 pb-4 px-lg-5 bg-white">
                    <div class="form-row form-group">
                        <label class="col-lg-4 col-12 pt-2 text-second">Họ tên:</label>
                        <div class="col">
                            <input type="text" name="fullname" value="{{ fullname }}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="col-lg-4 col-12 pt-2 text-second">Email:</label>
                        <div class="col">
                            <input type="email" name="email" value="{{ email }}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-row form-group position-relative">
                        <label class="col-lg-4 col-12 pt-2 text-second">Mật khẩu:</label>
                        <div class="input-password-group col">
                            <input type="password" name="password" class="form-control" required>
                            <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                        </div>
                    </div>
                    <button class="btn btn-primary p-3 mt-3 fw-600 text-uppercase w-100 fz-16" type="submit">
                        Đăng ký
                    </button>
                </form>
                <!-- End: Form -->
            </div>
            <!-- End wrap-form-login -->
        </div>
        <!-- End: container -->
    </div>
    <!-- End: main content -->
</main>
<!-- ELM PAGES -->

{{ footer }}