{{ header }}

<main class="main-content">
    <div class="container">

        <nav aria-label="breadcrumb" class="my-4 pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Khôi phục mật khẩu</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 mt-3 mb-5 text-center d-flex">
                        <div class="title-left py-3 m-auto">
                            <a href="{{ login }}"><h1 class="header-font font-32 letter-spacing-0">Đăng nhập</h1></a>
                            <span class="sixth-color">Bạn chưa có tài khoản? <a class="ml-2 fifth-color font-weight-500" href="{{ register }}">Đăng ký</a></span>
                        </div>
                    </div> <!-- End col-md-6 -->
                    <div class="col-12 col-md-6 mt-3 mb-5 ml-auto">

                        <!-- Hiện thông báo sau khi submit -->
                        {#<div class="py-5 text-center">
                            <i class="icon icon-letter font-40 mb-3"></i>
                            <p class="font-16">
                                Chúng tôi đã gửi thư khôi phục mật khẩu đến email<br>
                                dokhanhhung95@gmail.com<br>
                                Bạn vui lòng kiểm tra, thực hiện theo hướng dẫn và đăng nhập lại!
                            </p>
                        </div>#}
                        <!--  -->

                        <div class="block-right">
                            <div class="mail-success text-center">
                                <img class="img-fluid mb-3" src="{{ theme_directory }}/images/big-mail.png" alt="">
                                <p>
                                    Chúng tôi đã gửi thư khôi phục mật khẩu đến email
                                </p>
                                <p>
                                    {{ email }}
                                </p>
                                <p>
                                    Bạn vui lòng kiểm tra, thực hiện theo hướng dẫn và đăng nhập lại!
                                </p>
                            </div>
                        </div>

                    </div> <!-- End col-md-6 -->
                </div> <!-- End row -->
            </div>
        </div> <!-- End row -->

    </div>
</main>
<!-- /.ELM PAGES -->

{{ footer }}