{{ header }}

<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
        </nav>
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content mb-5">
            <div class="row">
                {% if 1 == contacts_map['visible'] %}
                    <div class="col-lg col-12 order-lg-1">
                        <div class="contact-map rounded-15 overflow-hidden mb-3 bestme-block-contact-map">
                            {{ contacts_map.address|html_entity_decode }}
                        </div>
                    </div>
                {% endif %}
                {% if 1 == contact_config['visible'] %}
                    <div class="col-lg-7 col-12 order-lg-0 bestme-block-contact-contact">
                        <div class="text-center">
                            <h1 class="page-title fz-24 mb-3">{{ contact_config['title'] }}</h1>
                        </div>

                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        <form action="{{ href_submit_form }}" method="post" enctype="multipart/form-data" class="mb-3 bestme-block-contact-form">
                            <div class="form-group form-row">
                                <label for="your-name" class="text-second col-12 mb-2 mg-lg-0 col-lg-3 mt-2">Tên của
                                    bạn *</label>
                                <input type="text" class="form-control col-12 col-lg-9" id="your-name" name="fullname" required
                                       oninput="setCustomValidity('')"
                                       oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')">
                            </div>
                            <div class="form-group form-row">
                                <label for="your-email"
                                       class="text-second col-12 col-lg-3 mt-2 mb-2 mg-lg-0">Email *</label>
                                <input type="email" class="form-control col col-lg-9" id="your-email" name="email" required
                                       oninput="setCustomValidity('')"
                                       oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                            </div>
                            <div class="form-group form-row">
                                <label for="your-phone"
                                       class="text-second col-12 col-lg-3 mt-2 mb-2 mg-lg-0">SĐT *</label>
                                <input type="text" class="form-control col col-lg-9" id="your-phone" name="phone" required
                                       oninput="setCustomValidity('')"
                                       oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                       pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15">
                            </div>
                            <div class="form-group form-row">
                                <label for="your-messenger" class="text-second col col-lg-3 mt-2 mb-2 mg-lg-0">Nội
                                    dung *</label>
                                <textarea class="form-control col-12 col-lg-9" id="your-messenger" rows="3" name="your_mind" required
                                          oninput="setCustomValidity('')"
                                          oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"></textarea>
                            </div>
                            <div class="form-row">
                                <button class="btn btn-primary fz-16 fw-600 text-uppercase py-3 px-3 mt-3 col col-lg-9 ml-auto">
                                    GỬI LIÊN HỆ
                                </button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
            <!-- End row -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End: Container -->
</main>

<style>
    .contact-map iframe {
        width: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>