{{ header }}

{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

{% for section in sections_layout %}
	{% set path= 'realestate_sbuilding/template/common/section_home/'~section['file']~'.twig' %}
	<div class="{{ section.file }}">
		{% include path %}
	</div>
{% endfor %}

{{ footer }}

<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
	if (homeVideo) {
		homeVideo.init({
			sliderType: 'owl_carousel',
			videoCarouselElements: $('.video-slideshow'),
			postThumbnailElements: $('.blog-thumb-video'),
			slideshowSelector: '.owl-home-banner'
		});
	}
</script>