/* oswald-200 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src: url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-300 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-600 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/furniture_thegioiphongthuy/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Oswald') format('svg'); /* Legacy iOS */
}