{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0 mobile-space-2" id="financial-report">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if '' == breadcrumb.href or loop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}" data-toggle="modal" data-target="#{{ breadcrumb.id }}">{{ breadcrumb.text }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ heading_title }}
                    </h1>
                </div>
                <div class="sub-head clearfix" style="padding-top: 0;">
                    <a href="javascript:void(0)" class="text-pink font-12 font-weight-400 hidden-sm" id="export-xls"><i class="icon icon-export mr-2 font-18 bg-pink"></i>{{ text_export }}</a>
                    <span data-toggle="modal" data-target="#report-notes" class="text-pink font-12 font-weight-400 hidden-sm pl-2" id="report-note"><img src="view/image/custom/icons/information_2.svg"> {{ text_report_notes }}</span>
                    <div class="form-filter float-right pl-2">
                        <div class="all-store">
                            <select name="store_id" class="select2 p_filter" id="select_stores">
                                <option value="">{{ text_all_stores }}</option>
                                {% if stores|length %}
                                    {% for store in stores %}
                                        <option value="{{ store['store_id'] }}" >{{ store['name'] }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <i class="fa fa-caret-down down-icon"></i>
                        </div>
                    </div>
                    <div class="form-filter float-right">
                        <input type="hidden" name="start" id="p_start">
                        <input type="hidden" name="end" id="p_end" class="p_filter">
                        <div id="reportrange">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down down-icon"></i>
                        </div>
                    </div>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-content">
                        <div class="tab-content">
                            <div id="report-financial-content">
                                {% include 'report/financial/index_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="image-loading"></div>

    <!-- Modal report notes -->
    <div class="modal fade" id="report-notes" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header"  style="display: initial; border-bottom: none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">{{ text_financial_report_notes }}</h4>
                </div>

                <div class="modal-body">
                    {% include 'report/financial/report_notes.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="check_type_date_range" value="1">

<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
{#<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>#}
{{ footer }}
<script type="text/javascript">
    /*$('#export-xls').on('click', function () {
        $("#report-financial-table").table2excel({
            filename: "bao_cao_ket_qua_kinh_doanh.xls",
            preserveColors: true
        });
    });*/

    jQuery(document).ready(function ($) {
        moment.lang('vi', {
            week: {
                dow: 1 // Monday is the first day of the week
            }
        });

        // max today is 13 col in chart for each point stands for 2h
        var maxTicksLimit = 13;
        var start = moment().startOf('month');
        var end = moment();

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            startOfWeek: 'monday',
            firstDay: 1,
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                customRangeLabel: "{{ options }}",
                "daysOfWeek": [
                    "{{ sunday }}",
                    "{{ monday }}",
                    "{{ tuesday }}",
                    "{{ wednesday }}",
                    "{{ thursday }}",
                    "{{ friday }}",
                    "{{ saturday }}"
                ],
                "monthNames": [
                    "{{ january }}",
                    "{{ february }}",
                    "{{ march }}",
                    "{{ april }}",
                    "{{ may }}",
                    "{{ june }}",
                    "{{ july }}",
                    "{{ august }}",
                    "{{ september }}",
                    "{{ october }}",
                    "{{ november }}",
                    "{{ december }}"
                ],
                "firstDay": 1
            },
            ranges: {
                '{{ today }}': [moment(), moment()],
                '{{ yesterday }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '{{ this_week }}': [moment().startOf('week'), end],
                '{{ last_week }}': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                '{{ this_month }}': [moment().startOf('month'), end],
                '{{ last_month }}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, function (_start, _end, label) {
            start = _start;
            end = _end;

            var label = getLabelDueToDateRange(start, end);
            var time_end = end.format('YYYY-MM-DD H:m:s');
            if (label === '{{ today }}') {
                time_end = moment().format('YYYY-MM-DD H:m:s');
            }

            showSelectedDateRangeLabel(start, end);
            updateRangeForInput(start, end)
        });

        showSelectedDateRangeLabel(start, end);
        updateRangeForInput(start, end)

        /* all functions here */
        function showSelectedDateRangeLabel(start, end) {
            var label = getLabelDueToDateRange(start, end);
            var dateFormat = (label === '{{ this_month }}' || label === '{{ last_month }}')
                ? 'MM/YYYY'
                : 'DD/MM/YYYY';

            if (label === '{{ this_month }}' || label === '{{ last_month }}' || label === '{{ today }}' || label === '{{ yesterday }}') {
                $('#reportrange span').html(label + ': ' + start.format(dateFormat));

                return;
            }

            $('#reportrange span').html(label + ': ' + start.format(dateFormat) + ' - ' + end.format(dateFormat));
        }

        function getLabelDueToDateRange(start, end) {
            if (start.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
                maxTicksLimit = 13;
                $('input[name="check_type_date_range"]').val(0);
                return '{{ today }}';
            }

            if (start.format('DD/MM/YYYY') === moment().subtract(1, 'days').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'days').format('DD/MM/YYYY')) {
                maxTicksLimit = 13;
                $('input[name="check_type_date_range"]').val(0);
                return '{{ yesterday }}';
            }

            if (start.format('DD/MM/YYYY') === moment().startOf('week').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                $('input[name="check_type_date_range"]').val(0);
                return '{{ this_week }}';
            }

            if (start.format('DD/MM/YYYY') === moment().subtract(1, 'week').startOf('week').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'week').endOf('week').format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                $('input[name="check_type_date_range"]').val(0);
                return '{{ last_week }}';
            }

            if (start.format('DD/MM/YYYY') === moment().startOf('month').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                $('input[name="check_type_date_range"]').val(1);
                return '{{ this_month }}';
            }

            if (start.format('DD/MM/YYYY') === moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                $('input[name="check_type_date_range"]').val(1);
                return '{{ last_month }}';
            }

            $('input[name="check_type_date_range"]').val(0);
            return '{{ options }}';
        }
    });

    function updateRangeForInput(start, end) {
        $('#p_start').val(start.format('YYYY-MM-DD')).trigger('change');
        $('#p_end').val(end.format('YYYY-MM-DD HH:mm:ss')).trigger('change');
    }

    $('#financial-report').on('change', '.p_filter', function () {
        rp_filter();
    });

    function rp_filter() {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var p_filter_store = $('#select_stores').val();
        var p_start = $('#p_start').val();
        var p_end = $('#p_end').val();
        var check_date_range = $('input[name="check_type_date_range"]').val();
        $.ajax({
            url: url,
            method: 'POST',
            data: {
                filter_data: true,
                p_filter_store: p_filter_store,
                start_date: p_start,
                end_date: p_end,
                check_date_range : check_date_range
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#report-financial-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

    $('#export-xls').on('click', function (e) {
        e.preventDefault();
        var p_filter_store = $('#select_stores').val();
        var p_start = $('#p_start').val();
        var p_end = $('#p_end').val();
        var check_date_range = $('input[name="check_type_date_range"]').val();
        $.ajax({
            url: 'index.php?route=report/financial/export&user_token={{ user_token }}',
            type: 'post',
            data: {
                'p_filter_store': p_filter_store,
                'p_start': p_start,
                'p_end': p_end,
                'check_date_range' : check_date_range
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: async function (json) {
                $('#image-loading').hide();
                if (json['error']) {
                    alert("Error !!");
                }

                if (json['success']) {
                    alert(json['success']);
                }

                if (json.indexOf('data:application/vnd.ms-excel') < 0) {
                    alert('{{ export_file_error }}');
                    return;
                }

                var $a = $("<a>");
                $a.attr("href", json);
                $("body").append($a);
                $a.attr("download", "bao_cao_tai_chinh.xls");
                $a[0].click();
                $a.remove();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#image-loading').hide();
                alert('{{ lang_export_error }}');
            }
        });
    });
</script>
<style>
    .main-content .sub-head{
        padding: 10px 0;
    }
    #report-note{
        cursor: pointer!important;
    }
    .all-store select{
        background: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        padding-right: 40px;
        position: relative;
    }
    #reportrange-report{
        padding-bottom: 4px;
        margin-right: 10px;
    }
    .table thead th {
        padding: 0.75rem 0.25rem !important;
    }
    #total-total {
        background: #FFF2EE;
    }
    #total-total th {
        border: none;
    }
    #pagination td {
        border-bottom: none !important;
    }
    .text-bestme-color {
        color: #ED592A;
    }
    .all-store {
        width: 200px;
    }
    .all-store .select2-container--bootstrap4 .select2-selection--single {
        height: 32px !important;
        background: #fff;
        border-radius: unset !important;
    }
    .all-store .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
    }
    .all-store .select2-results__options {
        max-height: 200px;
        overflow: auto;
    }
    .all-store {
        position: relative;
    }
    .all-store .down-icon {
        position: absolute;
        top: 10px;
        right: 15px;
    }
</style>