<table class="table table-with-operation customer-list" id="report-financial-table">
    <thead class="font-16">
    <tr style="display: none">
        <td></td>
        <td><h4>{{ heading_title }}</h4></td>
    </tr>
    <tr style="display: none">
        <td></td>
        <td>{{ text_store }}:</td>
        <td>Tất cả cửa hàng</td>
    </tr>
    <tr style="display: none">
        <td></td>
        <td>{{ text_current_period }}:</td>
        <td>--</td>
    </tr>
    <tr style="display: none">
        <td></td>
        <td>{{ text_compare_period }}:</td>
        <td>--</td>
    </tr>
    <tr style="background-color: #FFF2EE;">
        <th scope="col" width="120" class="text-left font-weight-600">{{ text_financial_spending }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_current_period }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_previous_period }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_change }}</th>
    </tr>
    </thead>
    <tbody class="font-14">
        <tr>
            <td class="text-left">{{ text_revenue }}</td>
            <td class="text-right">{{ current.sale_revenue|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.sale_revenue|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.sale_revenue|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_revenue_reduce }}</td>
            <td class="text-right">{{current.revenue_deductions|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.revenue_deductions|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.revenue_deductions|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left pl-5 border-bottom-0">{{ text_trade_discount }}</td>
            <td class="text-right border-bottom-0">{{ current.trade_discount|number_format }}&#8363;</td>
            <td class="text-right border-bottom-0">{{ check_compare_display != 1 ? '--' : previous.trade_discount|number_format }}&#8363;</td>
            <td class="text-right border-bottom-0">{{ check_compare_display != 1 ? '--' : change.trade_discount|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left pl-5">{{ text_total_return }}</td>
            <td class="text-right">{{ current.total_return|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.total_return|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.total_return|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_net_revenue }}</td>
            <td class="text-right">{{ current.net_revenue|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.net_revenue|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.net_revenue|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_cost }}</td>
            <td class="text-right">{{ current.cost_ogs|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.cost_ogs|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.cost_ogs|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_gross_revenue }}</td>
            <td class="text-right">{{ current.gross_revenue|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.gross_revenue|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.gross_revenue|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_fee }}</td>
            <td class="text-right">{{ current.fee|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.fee|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.fee|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left pl-5 border-bottom-0">{{ text_delivery_for_partner }}</td>
            <td class="text-right border-bottom-0">{{ current.delivery_fee_paid|number_format }}&#8363;</td>
            <td class="text-right border-bottom-0">{{ check_compare_display != 1 ? '--' : previous.delivery_fee_paid|number_format }}&#8363;</td>
            <td class="text-right border-bottom-0">{{ check_compare_display != 1 ? '--' : change.delivery_fee_paid|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left pl-5">{{ text_pay_salary }}</td>
            <td class="text-right">{{ current.pay_salary_for_staff|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.pay_salary_for_staff|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.pay_salary_for_staff|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_other_fee }}</td>
            <td class="text-right">{{ current.other_fee|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.other_fee|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.other_fee|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_profit }}</td>
            <td class="text-right">{{ current.net_profit|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.net_profit|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.net_profit|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_other_income }}</td>
            <td class="text-right">{{ current.other_income|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.other_income|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.other_income|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left pl-5 border-bottom-0">{{ text_manual_receipt }}</td>
            <td class="text-right border-bottom-0">{{ current.manual_receipt_voucher|number_format }}&#8363;</td>
            <td class="text-right border-bottom-0">{{ check_compare_display != 1 ? '--' : previous.manual_receipt_voucher|number_format }}&#8363;</td>
            <td class="text-right border-bottom-0">{{ check_compare_display != 1 ? '--' : change.manual_receipt_voucher|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left pl-5">{{ text_return_fee }}</td>
            <td class="text-right">{{ current.return_fee|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.return_fee|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.return_fee|number_format }}</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_enterprise_income_tax_expense }}</td>
            <td class="text-right">{{ current.eite|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.eite|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.eite|number_format }}</td>
        </tr>
        <tr style="color: #ED592A; font-weight: 500">
            <td class="text-left">{{ text_net_income }}</td>
            <td class="text-right">{{ current.revenues|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : previous.revenues|number_format }}&#8363;</td>
            <td class="text-right">{{ check_compare_display != 1 ? '--' : change.revenues|number_format }}</td>
        </tr>
    </tbody>
</table>