<table class="table table-with-operation customer-list">
    <thead class="font-16">
    <tr style="background: #FFF2EE;">
        <th scope="col" class="text-left font-weight-500">{{ text_financial_spending }}</th>
        <th scope="col" class="text-right font-weight-500">{{ text_current_period }}</th>
    </tr>
    </thead>
    <tbody class="font-14">
        <tr>
            <td class="text-left">{{ text_revenue }}</td>
            <td class="text-right">{{ current.sale_revenue|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_revenue_reduce }}</td>
            <td class="text-right">{{current.revenue_deductions|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left pl-3 border-bottom-0">{{ text_trade_discount }}</td>
            <td class="text-right border-bottom-0">{{ current.trade_discount|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left pl-3">{{ text_total_return }}</td>
            <td class="text-right">{{ current.total_return|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_net_revenue }}</td>
            <td class="text-right">{{ current.net_revenue|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_cost }}</td>
            <td class="text-right">{{ current.cost_ogs|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_gross_revenue }}</td>
            <td class="text-right">{{ current.gross_revenue|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_fee }}</td>
            <td class="text-right">{{ current.fee|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left pl-3 border-bottom-0">{{ text_delivery_for_partner }}</td>
            <td class="text-right border-bottom-0">{{ current.delivery_fee_paid|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left pl-3">{{ text_pay_salary }}</td>
            <td class="text-right">{{ current.pay_salary_for_staff|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_other_fee }}</td>
            <td class="text-right">{{ current.other_fee|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_profit }}</td>
            <td class="text-right">{{ current.net_profit|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_other_income }}</td>
            <td class="text-right">{{ current.other_income|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left pl-3 border-bottom-0">{{ text_manual_receipt }}</td>
            <td class="text-right border-bottom-0">{{ current.manual_receipt_voucher|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left pl-3">{{ text_return_fee }}</td>
            <td class="text-right">{{ current.return_fee|number_format }}&#8363;</td>
        </tr>
        <tr>
            <td class="text-left">{{ text_enterprise_income_tax_expense }}</td>
            <td class="text-right">{{ current.eite|number_format }}&#8363;</td>
        </tr>
        <tr style="color: #ED592A; font-weight: 500">
            <td class="text-left">{{ text_net_income }}</td>
            <td class="text-right">{{ current.revenues|number_format }}&#8363;</td>
        </tr>
    </tbody>
</table>