@media screen and (min-width:992px){
	
}

/*md*/
@media screen and (max-width: 1010px) {
	.product-detail .font-36{
		font-size: 28px!important;
	}
}

@media screen and (max-width:991px) {
	.block-top-sale-product .banner-left img{
		top: 0;
		left: 0
	}
	.block-header .fix-content.fixed,
	.block-header.fixed,
	.block-header.fixed .fix-content{
		min-height: 120px;
	}
	.block-header .fix-content.fixed .block-header-logo,
	.block-header.fixed .block-header-logo{
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
		text-align: center;
	}
	.block-header .block-header-logo img {
		max-width: 100px;
		max-height: 200px;
	}
	.block-header .block-header-logo > a{
		margin: 5px 0 !important;
		padding: 0;
	}
	.block-header .right-menu{
		padding: 19px 15px;
		position: absolute;
		top: 50px;
		right: 0px;
		padding-bottom: 0;
	}
	.block-header .fix-content.fixed .right-menu{
		top: 50px;
	}
	.block-header:not(.fixed){
		/*min-height: 90px;*/
	}
	.block-header .block-header-menu ul.nav{
		display: block !important;
		padding-top: 10px;
	}
	.block-header .block-header-menu ul.nav > li > a{
		padding: 5px 0;
		text-align: left;
		border-bottom: 1px dashed #e4e4e4;
	}
	.block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
		top: 8px;
		width: 18px;
		height: 15px;
		right: 12px;
	}
	.block-header .block-header-menu ul.nav ul.nav > li.has-child > a>.toggle{
		transform: rotate(0deg);
		top: 8px;
		right: -5px;
	}
	.block-header .block-header-menu ul.nav ul.nav,
	.block-header .block-header-menu li ul.nav ul.nav{
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
		position: relative;
		top: auto;
		left: auto;
		min-width: auto;
		padding: 0 15px;
		background: transparent;
		box-shadow: none;
		margin: 0;
		overflow: hidden;
		max-height: 0;
		transition: max-height 1s ease;
		-moz-transition: max-height 1s ease;
		-webkit-transition: max-height 1s ease;
		-o-transition: max-height 1s ease;
	}
	.block-header .block-header-menu ul.nav li.active>ul.nav,
	.block-header .block-header-menu li ul.nav li.active>ul.nav{
		max-height: 600px;
	}
	.owl-product .owl-nav .owl-prev{
		left: 0;
	}
	.owl-product .owl-nav .owl-next{
		right: 0;
	}
	.product-detail .font-36{
		font-size: 24px!important;
	}
}

/*sm*/
@media screen and (max-width:767px) {

}

@media screen and (max-width:680px) {
	
}

/*xs*/
@media screen and (max-width:576px) {
	.product-detail .font-36{
		font-size: 20px!important;
	}
	.block-header .main-menu {
		width: 30%;
		max-width: inherit;
		flex: inherit;
	}
	.block-header .right-menu {
		width: 70%;
		position: inherit;
		top: 0px;
	}
	.main-content form input.search-name {
		margin-bottom: 20px;
	}
	.main-content form .icon-search {
		top: -20px;
	}
	.product-item .product-img {
		min-height: inherit;
	}
	.product-list-filter .dropdown {
		margin-right: 20px;
	}
	#product-sort {
		margin-left: initial !important;
	}
	#add-to-cart .attr-item {
		margin-bottom: 5px;
	}
	.product-detail .d-flex .w-25 {
		width: 30% !important;
	}
}