{{ header }}

<main class="main-content">
  <div class="container pb-5">

    <nav aria-label="breadcrumb" class="my-4 pt-3 pb-2">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin đơn hàng</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-12 col-md-12">

        <h1 class="font-24 mb-4 text-uppercase">Thông tin đơn hàng</h1>
        {% include ('default/template/account/order_info_template.twig') %}

      </div> <!-- End col-md-6 -->
    </div>
  </div>
</main>

{{ footer }}