{{ header }}
<main id="main-wrapper" class="padding_top">
  <div class="container">
    <div class="wrap-404 text-center py-4 py-lg-5 col-12 col-lg-8 mx-auto">
      <h1 class="fz-48 fw-700 text-black-50 text-notfound mb-3 mb-md-4">404 :(</h1>
      <h2 class="text-uppercase fz-20 fw-600 text-black-50 text-notfound mb-3 mb-md-4">RẤT TIẾC, TRANG BẠN ĐANG TÌM KIẾM KHÔNG TỒN TẠI</h2>
      <div class="search-form-404 mb-3 mb-md-4">
        <form action="{{ urlserach }}">
          <div class="input-group">
            <input type="text" class="form-control py-4 rounded-0" placeholder="Tìm sản phẩm">
            <div class="input-group-append">
              <button type="submit" class="btn fw-600 fz-16 text-uppercase btn-black-50 rounded-0 btn-hover-primary">
                <img src="img/icons/i-search-white.png" class="mt-n1 mr-2" height="15" width="15" alt="">
                Tìm kiếm
              </button>
              <input type="hidden" name="route" value="common/shop">
            </div>
          </div>
        </form><!-- /.search-form-404 -->
      </div>
      <a href="{{ home }}" class="fz-18 fw-700 text-black-50 text-uppercase fw-700 hover-primary">QUAY LẠI TRANG CHỦ</a>
    </div>
  </div>
</main>
{{ footer }}
