{{ header }}

<main id="main-wrapper" class="padding_top">
    <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <div class="container">
            <ol class="breadcrumb py-3">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container bestme-block-contact-contact">
            {% if contact_config.visible == 1 %}
                <div class="row">
                    <div class="contact-left col-md-8 pr-md-5 bestme-block-contact-form">
                        <h1 class="font-nunito fz-20 fw-600 text-uppercase mb-3">{{ contact_config.title }}</h1>
                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <form id="contact-form" action="{{ href_submit_form }}" method="post">
                            <div class="form-group">
                                <label for="your-name" class="fz-14 fw-600">Họ và tên</label>
                                <input name="fullname" type="text" oninput="setCustomValidity('')"
                                       oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                       class="form-control border-light rounded-0" id="your-name" required>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="your-email" class="fz-14 fw-600">Địa chỉ Email</label>
                                        <input name="email" type="email" oninput="setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng phone')"
                                               pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                               class="form-control border-light rounded-0" id="your-email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="fz-14 fw-600">Số điện thoại</label>
                                        <input name="phone" type="text" oninput="setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                               pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15"
                                               class="form-control border-light rounded-0" id="your-phone">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="your-messenger" class="fz-14 fw-600">Nội dung góp ý</label>
                                <textarea name="your_mind" oninput="setCustomValidity('')"
                                          oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                          class="form-control" id="your-messenger" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-warning input-height-40 line-height-40 rounded-0 fz-12 fw-700 text-uppercase py-0 px-4">Gửi góp ý</button>
                        </form>
                    </div>
                    {#<div class="contact-right col-md-4">
                        <div class="contact-info mb-4 mt-4-bestme">
                            <h3 class="fz-20 fw-500 text-black-50 text-uppercase mb-3">Thông tin Liên hệ</h3>
                            <span class="text-black-20">Cở sở 1: 12 Hàng Điếu - Hoàn Kiếm - Hà Nội</span><br>
                            <span class="text-black-20">Cở sở 2: 394 Nguyễn Trãi - Thanh Xuân - Hà Nội</span>
                        </div>
                        <div class="contact-info mb-4">
                            <h3 class="fz-20 fw-500 text-black-50 text-uppercase mb-3">Số điện thoại</h3>
                            <span class="text-black-20">+84 5646349</span><br>
                            <span class="text-black-20">+84 312 567564</span>
                        </div>
                        <div class="contact-info mb-4">
                            <h3 class="fz-20 fw-500 text-black-50 text-uppercase mb-3">MẠNG XÃ HỘI</h3>
                            <ul class="list-inline mb-0 follow">
                                <li class="list-inline-item">
                                    <a href="#" class="text-black-50 fz-24 mr-3 text-google"><i class="fab fa-google"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-black-50 fz-24 mr-3 text-facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-black-50 fz-24 mr-3 text-twitter"><i class="fab fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-black-50 fz-24 mr-3 text-wallet"><i class="fab fa-google-wallet"></i></a>
                                </li>
                            </ul><!-- /.follow -->
                        </div>
                    </div>#}
                </div>
            {% endif %}
            {% if contacts_map.visible == 1 %}
                <div class="contact-map mt-3 mt-md-5 bestme-block-contact-map">
                    {{ contacts_map.address|html_entity_decode }}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- End: Main Content -->
</main>

{{ footer }}

<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>