/*!*css menu multi*!*/
.menu-product {
    padding-right: 10px !important;
}

#menu-product {
    height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#menu-product:hover {
    overflow-y: auto;
}

#menu-product ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#menu-product li a {
    color: #454545;
    padding: 7px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: solid 1px #e5e5e5;
    text-decoration: none;
}

#menu-product li a:hover {
    text-decoration: none;
    color: #D0203F  ;
}

#menu-product ul li {
    position: relative;
}

#menu-product .sub-menu-2 {
    display: none;
    margin-left: 30px;
}

.dropdown-menu-product {
    transform: translate3d(0px, 44px, 0px) !important;
}

#menu-product .sub-menu-2 .sub-menu-3 {
    display: none;
    margin-left: 30px;
}

#menu-product  .active > ul {
    display: block;
}

#menu-product  .active .active > ul {
    display: block;
}

#menu-product ul .list-item::before {
    height: 100%;
    font-family: 'Font Awesome 5 Free';
    padding: 0 10px;
    content: "\f105";
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}

#menu-product ul .active::before {
    content: "\f107" !important;
}

#menu-product .sub-menu .selected > a {
    color: #D0203F !important;
}

#menu-product .sub-menu a {
    /*border: none;*/
    display: block;
}

.single-item .accodition {
    display: none;
}
.dropdown-filter .dropdown-menu {
    min-width: 300px !important;
    overflow-x: none;
}

.dropdown-filter .dropdown-menu-product {
    min-width: 300px !important;
}

#category-top #menu-product {
    height: 408px;
    background-color: #fff;
}
/*!* end - css menu multi*!*/

@media (max-width: 767px) {
    #productDetailTab li.nav-item {
        width: 100%;
        text-align: center;
        margin-right: 0 !important;
    }
    h1.page-title{
        font-size: 20px !important;
    }
    #menu-product {
        overflow-y: scroll !important;
    }
    .buy-total button{
        top: 0;
    }
    .is-on-mobile{
        display: none !important;
    }

    .fix-mobile-filter{
        width: 80%;
    }
    button.fix-add-cart-moblile.button_buying{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 50% !important;
        margin-bottom: 0 !important;
        z-index: 99;
        font-size: 14px !important;
        text-align: center;
        text-transform: uppercase;
        height: 45px;
        text-shadow: none;
        line-height: 15px;
        padding: 1rem 0;
    }
    #carouselProDetail .owl-carousel.carousel-indicators .owl-nav {
        top: 24px;
    }
}

.old-price.text-second{
    text-decoration: line-through;
}
.pro-sticky.out-stock{
    display: inline-block;
    line-height: 14px;
    z-index: 1;
    background: #749C4C !important;
    color: #fff;
    padding: 5px 9px;
    font-weight: 500;
    text-align: center;
    white-space: pre-wrap;
    transform: translateX(-50px);
}
nav.flex-column{
    height: 300px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
nav.flex-column:hover{
    overflow-y: auto;
}
.box-product-filter nav.flex-column {
    height: auto;
    max-height: 300px;
}
.btn-filter-bestme{
    border-radius: 3px;
    border: 1px solid #B8311B !important;
    margin-top: -2px;
    color: #B8311B;
}
.btn-filter-bestme:hover{
    background: #B8311B;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
span.new-price:hover span{
    color: black;
}
span.btn.btn-primary:hover {
    color: white !important;
}
.pro-item .home-product-sticky {
    justify-content: flex-end;
}
.pro-item .home-product-sticky .pro-sticky {
    position: initial;
}
.pro-item .home-product-sticky .pro-sticky.out-stock {
    transform: none;
    margin-left: 5px;
}

.hotline-css{
    background: #00558D;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 26px;
    padding-left: 8px;
    margin-right: 10px;
    box-shadow: 0px 0px 0px 4px #00558d66;
}
.hotline-css i.icon{
    background: white;
}