#main-wrapper{
    overflow-x: hidden;
    margin-bottom: 30px;
}
.home-slider.page-slider{
    padding-top: 58%;
    position: relative;
    width: 100%;
}
.home-slider.page-slider #carouselHome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#carouselHome .slider-info {
    position: absolute;
    top: 50px;
    width: 100%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}
#carouselHome .carousel-indicators{
    margin: 0;
    padding: 0;
    left: 36px;
    bottom: 30px;
    display: flex;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
}

.owl-carousel .owl-dots button.owl-dot,
#carouselHome .carousel-indicators li{
    width: 12px;
    height: 6px;
    background: #8B8B8B;
    border-radius: 20px;
    padding: 0;
    opacity: 1;
    display: inline-block;
    border: 0;
}
#carouselHome .carousel-indicators li.active,
.owl-carousel .owl-dots button.owl-dot.active{
    background: #FEE34D;
    width: 30px;
}
.home-slider .carousel {
    background-color: #fff;
    height: 100%;
}
.owl-carousel .owl-nav button[class*=owl-]:hover,
.owl-carousel .owl-nav button[class*=owl-]:focus{
    background: #EAE4D8;
}
.owl-carousel .owl-nav button[class*=owl-] i,
.carousel-slide .carousel-nav i.icon{
    background: #707070;
}
#carouselProDetail .carousel-item img{
    width: 100%;
}

#carouselHome .carousel-item{
    max-height: 482px;
    overflow: hidden;
}
#carouselHome .carousel-item,
.home-slider .carousel,
.home-slider .carousel-inner,
#carouselHome .carousel-item img{
    height: 100%;
}
#carouselHome .carousel-item img{
    width: 100%;
    object-fit: contain;
}
.box-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin: 0;
}
h1.page-title{
    margin: 0 0 20px;
    font-size: 24px;
    display: inline-block;
    font-weight: 500;
}
.page-title.special >span,
.page-title.special >a{
    border-bottom: 4px solid #FEE34D;
    padding-bottom: 6px;
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
}
.page-title.special >span::after,
.page-title.special >a::after{
    content: "";
    position: absolute;
    background: #FEE34D;
    width: 20px;
    height: 10px;
    border-radius: 0 0 100px 100px;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.customize-content-image {
    max-height: 40px;
    max-width: 75px;
    object-fit: contain;
}
.customize-content {
    max-height: 150px;
    overflow-y: auto;
    align-self: center;
}
/* fix collection product block admin preview border right overrided */
.box-product {
    overflow: hidden;
}

.box-border {
    border: 1px solid #dee2e6;
}

/*Product slide*/
.box-product .box-title {
    text-align: left;
}
.box-product .box-title a{
    background: #FEE34D;
    border-radius: 10px 10px 0 0;
    padding: 8px 24px;
    line-height: 29px;
    margin-right: 10px;
    display: inline-block;
    color: inherit;
}
.box-product.with-tab ul.nav-tabs{
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    min-height: 29px;
}
.box-product.with-tab ul.nav>li.nav-item>a.nav-link{
    color: #8B8B8B;
    line-height: 19px;
    padding: 4px 16px;
    margin: 0 10px;
    white-space: nowrap;
    border: 1px solid #fff;
}
.box-product.with-tab ul.nav>li.nav-item>a.nav-link:focus,
.box-product.with-tab ul.nav>li.nav-item>a.nav-link:hover,
.box-product.with-tab ul.nav>li.nav-item>a.nav-link.active,
.box-product.with-tab ul.nav>li.nav-item>a.nav-link.active:hover{
    border-color: #FED700;
    border-radius: 20px;
    color: #21201E;
    font-weight: 500;
    outline: none;
}
.owl-carousel.owl-product .owl-nav{
    margin: 0;
    position: absolute;
    top: -40px;
    right: 4px;
}
.with-tab .owl-carousel.owl-product .owl-nav{
    top: -56px;
}
.box-product-home .owl-carousel.owl-product .owl-nav{
    top: -40px;
}
.owl-theme .owl-nav.disabled+.owl-dots,
.owl-carousel .owl-dots{
    margin: 15px 0 30px;
}
.owl-carousel .owl-dots button.owl-dot{
    margin: 2px;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-],
.owl-carousel.carousel-indicators .owl-nav button[class*=owl-]{
    width: 32px;
    height: 32px;
    line-height: 34px;
    font-size: 12px;
    margin: 0 4px;
    border: 1px solid #D6D7D1;
    border-radius: 100%;
}
/*End product slide*/

.custommer-avt {
    height: 135px;
}

/* Product */
#uploadAvatar .img-preview{
    width: 120px;
}
.pro-item{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    margin: 16px 0;
    padding: 24px 16px 16px;
    position: relative;
    background: #fff;
    height: calc(100% - 32px);
}
.pro-item:hover{
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 45px;
    z-index: 10;
}
.pro-item .pro-item-title{
    max-height: 32px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 4px 0 8px;
    display: block;
}
.pro-item .pro-thumb{
    padding: 50% 0;
    margin-bottom: 12px;
    display: block;
}
.img-thumb{
    overflow: hidden;
    position: relative;
    padding: 50% 0;
    display: block;
    width: 100%;
}
.img-thumb .img-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
    display: flex;
}
.pro-price > span{
    display: block;
}
.product-list-product-price.pro-price > span{
    display: initial;
}
.img-thumb img{
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    margin: auto;
}
.pro-item .pro-sticky{
    position: absolute;
    top: 16px;
    right: 26px;
    font-size: 12px;
    line-height: 22px;
    z-index: 1;
    color: #fff;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
    min-width: 47px;
    background: #EC7141;
    border-radius: 15px;
}
.product-suggest .pro-item .pro-sticky{
    top: 0;
    right: 8px;
}
.new.pro-sticky{
    background: #E12C43;
}
.sold-out.pro-sticky{
    background: #E12C43;
}
.pro-item .pro-sticky.new{
    background: #FFDA53;
    color: inherit;
}
.pro-item .pro-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    padding-top: 60%;
    left: 0;
    right: 0;
    transform: scale(0);
    z-index: 3;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    margin: auto;
    transition: all 0.4s ease;
    width: 100%;
    height: 100%;
    text-align: center;
}
.pro-item:hover .pro-overlay,
.pro-item:hover:before{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.pro-item .pro-overlay .btn-icon{
    background: #D5D5D5;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    justify-content: center
}
.pro-item .pro-overlay .btn-icon .icon{
    background: #2C3440;
    font-size: 24px;
}
.pro-item .pro-overlay .btn-icon:hover{
    background: #FEE34D !important;
}
.pro-item .pro-overlay a.buy-now{
    line-height: 21px;
    padding: 5px 16px;
    border-radius: 18px;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    margin: auto;
    width: 85px;
}
.pro-item .wrap-star-rate {
    margin-left: auto;
}
.dropdown-filter button {
    min-width: 182px;
}
.dropdown-filter .dropdown-menu {
    min-width: 182px;
    padding: 20px 12px;
    border: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-filter .dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fcfcfc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: -15px;
    right: 22px;
}
.dropdown-filter .dropdown-toggle::after {
    float: right;
    font-size: 24px;
    margin-top: 5px;
}
.dropdown-filter .dropdown-item:focus, .dropdown-filter .dropdown-item:hover {
    color: #E58718 !important;
    background-color: transparent;
}
.block-head h2 {
    line-height: 29px;
}
.brand-search input {
    height: 29px;
    background: url('/catalog/view/theme/tech_sun_electro/img/icons/i-search.png') no-repeat right 10px center;
}
.overflow-scrolly {
    height: 170px;
    overflow-y: scroll;
}
.overflow-scrolly::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar-thumb {
    background-color: rgba(111, 111, 111, 0.15);
    border: 2px solid rgba(111, 111, 111, 0.15);
}
.count-product {
    vertical-align: sub;
}
/* End: Product */

/* Sidebar */
.sidebar .filter-product-wrapper{
    padding: 2rem 1.5rem;
    background: #fff;
}
.accordion .collapsed i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.box-product-filter{
    margin-bottom: 15px;
    background: #fff;
    padding-bottom: 15px;
}
.sidebar .block-title{
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.box-product-filter .nav a.nav-link{
    line-height: 21px;
    padding: 7px 0;
    color: inherit;
}
.box-product-filter .nav a.nav-link:hover,
.box-product-filter .nav a.nav-link.active{
    font-weight: 500;
}
.box-product-filter .price-range #slider-range{
    border: none;
    background: #f5f5f5;
    height: 4px;
    margin: 10px 0 20px;
    border-radius: 5px;
    display: inline-block;
    width: calc(100% - 10px);
    left: 8px;
}
.box-product-filter .price-range .ui-slider-range{
    background: #FEE34D;
}
.box-product-filter .price-range #slider-range .ui-slider-handle,
.box-product-filter .price-range #slider-range .ui-slider-handle.ui-state-focus{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background: #FEE34D;
    border: none;
    outline: none;
    box-shadow: none;
}
#tag-filter-custom li a.active {
    font-weight: 500;
}
/* End: Sidebar */

.custom-number-input-wrapper{
    background: #fff !important;
    border: 1px solid #E5E5E5;
    color: #B8311B;
    min-width: 110px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 28px;
    overflow: hidden;
}
.custom-number-input-wrapper button {
    font-size: 16px;
    border: 0;
    font-weight: 700;
    background-color: #F6F7F9;
    position: relative;
    width: 36px;
    height: 36px;
}
.pro-detail .custom-number-input-wrapper button{
    width: 56px;
    height: 56px;
}
.pro-detail .custom-number-input{
    width: calc(100% - 7em);
}
.custom-number-input-wrapper button.decrease{
    border-right: 1px solid #E5E5E5;
}
.custom-number-input-wrapper button.increase{
    border-left: 1px solid #E5E5E5;
}
.buy-total button:focus {
    outline: none;
}
.custom-number-input {
    font-size: 16px;
    width: 60px;
    text-align: center;
    padding: 5px;
}
.custom-number-input,
.custom-number-input:focus{
    border: none;
    outline: none;
}
.custom-number-input[type=number]::-webkit-inner-spin-button,
.custom-number-input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.color-size .form-control {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.line-border {
    height: 1px;
    background-color: #c4c4c4;
    max-width: 590px;
    margin: auto;
}
.form-comment {
    max-width: 570px;
}
.form-comment .form-control {
    height: 33px;
}
.list-thumb-small img {
    width: 60px;
}

.product-info .carousel-indicators {
    margin: 23px 0;
}
.product-info .carousel-indicators .item {
    overflow: hidden;
    border: 1px solid #e5e5e5;
}
#carouselProDetail .carousel-inner {
    overflow: hidden;
    border: 1px solid #E5E5E5;
}
.product-info .carousel-indicators .item img{
    height: 100%;
    max-width: none;
}
.product-info .list-radio-size .form-check-label{
    border: 1px solid #CECECE;
    min-width: 70px;
    padding: 8px 24px;
    line-height: 21px;
    text-align: center;
    color: #8B8B8B;
    border-radius: 20px;
}
.product-info .list-radio-size .form-check-input:checked~.form-check-label{
    border-color: #FEE34D;
    background: #FEE34D;
    color: inherit;
}
#productDetailTab li.nav-item{
    padding: 0 16px;
    margin-right: 30px;
}
#productDetailTab li .nav-link{
    border: none;
    line-height: 24px;
    background: transparent;
    border-radius: 0;
    color: #2C3440;
    padding: 14px 0 3px;
    font-size: 16px;
    position: relative;
}
#productDetailTab li .nav-link.active::after{
    content: "";
    position: absolute;
    background: #FEE34D;
    width: 20px;
    height: 10px;
    border-radius: 0 0 100px 100px;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
#productDetailTab li .nav-link.active{
    font-weight: 500;
    background: transparent;
    border-bottom: 4px solid #FEE34D;
}

/* Cart */
.cart-table .table td, .cart-table .table th {
    vertical-align: middle;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* End: Cart */
.other-address > a {
    text-decoration: underline;
}
.payment-info .discount-code {
    max-width: 100%;
}
.other-address {
    max-width: 515px;
}
.wrap-payment-success {
    height: 50vh;
}
.status-txt {
    background: url('/catalog/view/theme/tech_sun_electro/img/icons/i-success.png') no-repeat right center;
}
.more-buy {
    text-decoration: underline;
}
.order-history .table td, .order-history .table th {
    border-top: 0;
}
tr.order-item.first-item:after {
    background-color: #454545;
}
tr.order-item:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #e7e7e7;
    left: 5%;
}
.order-history td {
    padding-left: 5%;
    padding-right: 5%;
}
.list-address-info > li{
    display: flex;
}
.list-address-info label {
    min-width: 110px;
}

/* Blog */
.line-has-text:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
    left: 0;
    top: 11px;
    z-index: 1;
}
.line-has-text span {
    background-color: #fff;
    padding: 0px 10px;
    z-index: 2;
}
.news-item{
    margin-bottom: 32px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}
.news-title {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #D5D5D5;
    font-size: 16px;
    color: inherit;
    width: 100%;
}
.high-light .news-title{
    padding: 0;
    border: none;
    margin: 12px 0;
}
.news-title:hover{
    color: #00558D;
}
.news-thumb{
    padding: 50% 0px;
    display: block;
}
.high-light .news-thumb{
    padding: 19% 0px;
}
.news-thumb img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    width: auto;
    margin: auto;
}
.news-thumb a{
    max-height: 350px;
    overflow: hidden;
}
.single-post-info .banner-post{
    position: relative;
}
.single-post-info .banner-post .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 37px 24px;
    display: flex;
    color: #fff;
    background: linear-gradient(0deg, rgba(44, 52, 64, 0.5) 0%, rgba(44, 52, 64, 0) 100%);
}
.single-post-info .banner-post .blog-info{
    align-self: flex-end;
}
/* End: Blog */

/* Payment */
.payment-form {
    max-width: 450px;
}
.payment-form .form-check .form-check-label {
    border: 1px dashed #787878;
}
.payment-form .form-check .form-check-input:checked ~ .form-check-label {
    border: 1px solid #E58718;
}
/* End: Payment */
.search-form-404 {
    max-width: 820px;
    margin: auto;
}
.search-form-404 .form-control {
    width: 82%;
    height: 48px;
}
.search-form-404 .btn {
    height: 48px;
}
.search-no-result {
    height: 100vh;
    background-color: rgba(242, 242, 242, 0.85);
}
.search-no-result p {
    color: #6B6B6B;
}
.search-box-ajax {
    border: 1px solid #EDEDED;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5px;
    padding: 15px 20px;
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0;
}
.owl-theme .owl-dots .owl-dot span{
    display: none;
}
.owl-theme .owl-dots .owl-dot:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
.profile-nav{
    padding: 10px 0;
}
.profile-nav .nav-item{
    border-right: 1px solid #333333;
    padding: 0;
}
.profile-nav .nav-item:nth-last-child(1){
    border: none;
}
.profile-nav .nav-item a.nav-link{
    padding: 0 15px;
    color: #333333;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.profile-nav .nav-item a.nav-link:hover,
.profile-nav .nav-item a.nav-link.active{
    color: #E58718;
}
.product-listing .filter-items .filter-item{
    padding: 10px 45px 10px 12px;
    line-height: 21px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    background: #FFF6C4;
    border-radius: 20px;
}
.product-listing .filter-items .filter-item .close{
    text-shadow: none;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-right: -35px;
    cursor: pointer;
    opacity: 1;
    margin-top: 3px;
}
.product-teaser-fix{
    position: fixed;
    width: 100%;
    left: 0;
    top: 74px;
    background: #e5e5e5;
    z-index: 98;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    display: none;
    padding: 1.5em 0;
}
.product-listing .view-header .order-by .form-control{
    border: none;
}
.product-listing .view-header .order-by .form-control:focus{
    background-color: transparent;
}

/* Breadcrumb */
nav.breadcrumb {
    padding: 0;
    background: #fff;
    margin: 32px 0;
    line-height: 21px;
}
ol.breadcrumb{
    margin: 0;
    padding: 0;
    background: transparent;
}
ol.breadcrumb .breadcrumb-item{
    padding-left: 16px;
    font-weight: 500;
    line-height: 25px;
}
ol.breadcrumb .breadcrumb-item a{
    color: #2C3440;
}
ol.breadcrumb .breadcrumb-item:nth-child(1){
    padding-left: 0;
}
ol.breadcrumb .breadcrumb-item.active{
    font-weight: 300;
    color: #2D2F52;
}
ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    display: inline-block;
    position: relative;
    width: 9px;
    left: 0;
    padding: 0;
    color: inherit;
    content: "";
    float: left;
    margin-right: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACKSURBVHgBpZC7DYQwDEBtuAWuypV33VEkYRWyAIzAJowATABsgkQBK0DHBMYpQCKECheJpfcsf0BqU0plCvBEAEQICLmVXBgu89QK8f8BYiY+0XeZx+6A9rkTwt3yCej2kSqpWEg5rYLLhIhkf0JaT0DbtbQhGXP1M6D4Ol7A8SKgN1+oHvomc+EGhUs7JzUmrPYAAAAASUVORK5CYII=) center no-repeat;
}
/* End breadcrumb */

/* Pagination */
.pagination .page-link {
    color: inherit;
    border: 1px solid #E5E5E5;
    background: #fff;
    height: 32px;
    min-width: 32px;
    line-height: 32px;
    padding: 0;
    margin: 4px;
    text-align: center;
    border-radius: 100%;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
    background: #FEE34D;
    outline: none;
    border-color: #FEE34D;
    color: #2C3440;
    font-weight: 500;
}
.pagination .first .page-link,
.pagination .prev .page-link,
.pagination .next .page-link,
.pagination .last .page-link,
.pagination .page-link{
    font-size: 12px;
    border-radius: 100%;
}
.page-item:last-child .page-link {
    border-radius: 100%;
}
.pagination .first .page-link i:first-child{
    left: 3px;
    position: relative;
}
.pagination .last .page-link i:last-child{
    left: -3px;
    position: relative;
}
/* End Pagination */

#overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44, 52, 64, 0.2);
    z-index: 99;
    transition: all 0.2s ease;
}
#overlay.show {
    visibility: visible;
    opacity: 1;
}
.table-custom .row-item{
    padding: 0.75rem 0;
}
.table-custom .col-item{
    padding: 0.75rem 1rem;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.user-nav.nav .nav-link, .user-nav.nav .nav-link{
    padding: 4px 12px;
    margin: 10px 0;
    color: inherit;
}
.user-nav.nav .nav-link:hover, .user-nav.nav .nav-link.active{
    border-left: 4px solid #FEE34D;
    margin-left: -4px;
}
.address-default-stick{
    position: absolute;
    right: 35px;
    top: 1px;
    background: #E5E5E5;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 10px;
    line-height: 18px;
    font-weight: 500;
    font-size: 12px;
}

/*!*css menu multi*!*/
#menu-product {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu-product ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#menu-product li a {
    color: #454545;
    padding: 6px 40px 6px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: solid 1px #e5e5e5;
}
#menu-product li a:hover {
    text-decoration: none;
    color: #CA6971  ;
}

#menu-product ul li {
    /*border-top: 1px solid #EBEBEB;*/

    /*padding: 10px 0;*/
    position: relative;
}

#menu-product .sub-menu-2 {
    display: none;
    margin-left: 30px;
}

.dropdown-menu-product {
    transform: translate3d(0px, 44px, 0px) !important;
}

#menu-product .sub-menu-2 .sub-menu-3 {
    display: none;
    margin-left: 30px;
}

#menu-product  .active > ul {
    display: block;
}

#menu-product  .active .active > ul {
    display: block;
}

#menu-product ul .list-item::before {
    height: 29px;
    padding: 0 10px;
    content: "\f105";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    font-family: 'FontAwesome';
    font-weight: normal;

}

#menu-product ul .active::before {
    content: "\f107" !important;
}

#menu-product .sub-menu .selected > a {
    color: #CA6971 !important;
}

#menu-product .sub-menu a {
    border: none;
    display: block;
}

.single-item .accodition {
    display: none;
}
.dropdown-filter .dropdown-menu {
    min-width: 300px !important;
    overflow-x: none;
}

.dropdown-filter .dropdown-menu-product {
    min-width: 300px !important;
}

.text-line-through {
    text-decoration: line-through;
}

#tag-filter-custom {
    height: auto !important;
}

.product-attribute-name {
    display: block;
    font-weight: 400;
    font-size: 0.9em;
}