{{ custom_header }}
<!-- End header -->

<div class="page-wrapper">

    <div class="content-wrapper row m-0">

        {{ custom_column_left }}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content p-0">
                <form action="{{ action }}" method="post" class="section-form" id="product-form">
                    {% if menu_id %}
                        <input type="hidden" name="menu_id" value="{{ menu_id }}">
                    {% endif %}
                    <div class="py-3">
                        <h4 class="col pt-3 font-weight-light text-muted">
                            {{ menu_text_heading }}
                            <span class="mx-2">
                        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.2002 1.16602L6.8002 6.49935" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
                          <path d="M6.8002 6.5L1.2002 11.8333" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
                        </svg>
                      </span>
                            <a href="{{ menu_index }}">{{ menu_text }}</a>
                            <span class="mx-2">
                        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg" >
                          <path d="M1.2002 1.16602L6.8002 6.49935" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
                          <path d="M6.8002 6.5L1.2002 11.8333" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
                        </svg>
                      </span>
                            <span class="text-primary">{{ add_menu_text }}</span>
                        </h4>
                        <div class="col pt-3 my-3"><h2>{{ add_menu_text }}</h2></div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-8">
                                {# group menu #}
                                <div class="bg-white rounded p-3 mb-3">
                                    <div class="">
                                        <div class="form-row px-3">
                                            <h4>{{ menu_title_text }}</h4>
                                            <input type="text" id="menu-name" name="menu_name"
                                                   class="bg-light form-control" value="{{ menu_name }}" required
                                                   onkeyup="ChangeToSlug('0');"/>
                                        </div>
                                    </div>
                                </div>
                                {# end group menu #}
                                {# menu item or category depend on group menu #}
                                <div class="bg-white rounded p-3 mb-3">
                                    <div>
                                        <div>
                                            <h4>{{ menu_item_text }}</h4>
                                            <div>
                                                {% set count_menu = 0 %}
                                                {% if menu %}
                                                    {% for key, menu_item in menu %}
                                                        <div class="d-flex px-0 border-top pt-2" id="menu_item_common-{{ count_menu }}">
                                                            <input name="map_menu_edit[{{ count_menu }}]" type="hidden" value="{{ menu_item.menu_id }}" >
                                                            <div class="px-3 col-md-1">
                                                                <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE"/>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE"/>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE"/>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE"/>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE"/>
                                                                </svg>
                                                            </div>
                                                            <div class="p-0 col-md-10">
                                                                <div class="col p-0 pb-2">
                                                                    <input type="text" name="menu_item_name[{{ count_menu }}]" required value="{{ menu_item.name }}"
                                                                           class="bg-light form-control" id="menu_item_name-{{ count_menu }}"/>
                                                                </div>
                                                                <div class="form-row">
                                                                    {% if list_type is defined %}
                                                                        <div class="form-group col-md-6">
                                                                            <select class="form-control" name="type_id[{{ count_menu }}]" id="select_type_id-{{ count_menu }}" onchange="appendValueById({{ count_menu }});" >
                                                                                <option value="">{{ menu_choose_option }}</option>
                                                                                {% for type in list_type %}
                                                                                    {% if type.menu_type_id == menu_item.menu_type_id %}
                                                                                        <option value="{{ type.menu_type_id }}" selected="selected">{{ type.description }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ type.menu_type_id }}">{{ type.description }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if menu_item.menu_type_id == menu_type_product %}
                                                                        <div class="form-group col-md-6 default_menu_item_class" id="product_info-{{ count_menu }}">
                                                                            <div id="type_id_detail-{{ count_menu }}" class="type_id_detail product-select">
                                                                                <select class="form-control select2-product" name="menu_item_value[{{ count_menu }}]" id="product_input-{{ count_menu }}">
                                                                                </select>
                                                                                <div class="select2-dropdown-product"></div>
                                                                                <input type="hidden" class="title" value="{{ menu_item.type_name }}">
                                                                                <input type="hidden" class="value" value="{{ menu_item.target_value }}">
                                                                            </div>
                                                                        </div>
                                                                    {% elseif menu_item.menu_type_id == menu_type_category %}
                                                                        <div class="form-group col-md-6 default_menu_item_class" id="select_category_-{{ count_menu }}">
                                                                            <div id="type_id_detail-{{ count_menu }}" class="type_id_detail category-select">
                                                                                <select class="form-control select2-category" name="menu_item_value[{{ count_menu }}]" id="category_input-{{ count_menu }}">
                                                                                </select>
                                                                                <div class="select2-dropdown-category"></div>
                                                                                <input type="hidden" class="title" value="{{ menu_item.type_name }}">
                                                                                <input type="hidden" class="value" value="{{ menu_item.target_value }}">
                                                                            </div>
                                                                        </div>
                                                                    {% elseif menu_item.menu_type_id == menu_type_url %}
                                                                        <div class="form-group col-md-6 default_menu_item_class" id="url-{{ count_menu }}">
                                                                            <div id="type_id_detail-{{ count_menu }}" class="type_id_detail">
                                                                                <input type="text" class="form-control" id="url-{{ count_menu }}" name="menu_item_value[{{ count_menu }}]" value="{{ menu_item.target_value }}">
                                                                            </div>
                                                                        </div>
                                                                    {% elseif menu_item.menu_type_id == menu_type_collection %}
                                                                        <div class="form-group col-md-6 default_menu_item_class" id="select_collection-{{ count_menu }}">
                                                                            <div id="type_id_detail-{{ count_menu }}" class="type_id_detail collection-select">
                                                                                <select class="form-control select2-collection" name="menu_item_value[{{ count_menu }}]" id="collection_input-{{ count_menu }}">
                                                                                </select>
                                                                                <div class="select2-dropdown-collection"></div>
                                                                                <input type="hidden" class="title" value="{{ menu_item.type_name }}">
                                                                                <input type="hidden" class="value" value="{{ menu_item.target_value }}">
                                                                            </div>
                                                                        </div>
                                                                    {% elseif menu_item.menu_type_id == menu_type_built_in_page %}
                                                                        <div class="form-group col-md-6 default_menu_item_class" id="select_built_in_page-{{ count_menu }}">
                                                                            <div id="type_id_detail-{{ count_menu }}" class="type_id_detail">
                                                                                <select class="form-control" name="menu_item_value[{{ count_menu }}]" id="built_in_page_id-{{ count_menu }}">
                                                                                    {% if menu_item.target_value and menu_item.target_value not in list_built_in_page_array %}
                                                                                        <option value="{{ menu_item.target_value }}">{{ menu_item.target_value }}</option>
                                                                                    {% endif %}
                                                                                    {% for built_in_page_name, built_in_page in list_built_in_page_array %}
                                                                                        {% if built_in_page == menu_item.target_value %}
                                                                                            <option value="{{ built_in_page }}" selected="selected">{{ built_in_page_name }}</option>
                                                                                        {% else %}
                                                                                            <option value="{{ built_in_page }}">{{ built_in_page_name }}</option>
                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    {% elseif menu_item.menu_type_id == menu_type_blog %}
                                                                        <div class="form-group col-md-6 default_menu_item_class" id="select_blog_category-{{ count_menu }}">
                                                                            <div id="type_id_detail-{{ count_menu }}" class="type_id_detail blog-category-select">
                                                                                <select class="form-control select2-blog-category" name="menu_item_value[{{ count_menu }}]" id="blog_category_input-{{ count_menu }}">
                                                                                </select>
                                                                                <div class="select2-dropdown-blog-category"></div>
                                                                                <input type="hidden" class="title" value="{{ menu_item.type_name }}">
                                                                                <input type="hidden" class="value" value="{{ menu_item.target_value }}">
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="px-3 col-md-1 d-flex justify-content-end"
                                                                 id="menu_item_close-{{ count_menu }}">
                                                                <span class="fas fa-times" style="cursor: pointer" onclick="removeMenuItem('{{ count_menu }}')"></span>
                                                            </div>
                                                        </div>
                                                        {% set count_menu = count_menu + 1 %}
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="d-flex px-0 border-top pt-2" id="menu_item_common-0">
                                                        <div class="px-3 col-md-1">
                                                            <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE"/>
                                                            </svg>
                                                        </div>
                                                        <div class="p-0 col-md-10">
                                                            <div class="col p-0 pb-2">
                                                                <input type="text" name="menu_item_name[]" required
                                                                       class="bg-light form-control" id="menu_item_name-0"/>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                    <select required class="form-control" name="type_id[]"
                                                                            id="select_type_id-0"
                                                                            onchange="appendValueById('0');">
                                                                        <option value="">{{ menu_text_link_select }}</option>
                                                                        {% for type in list_type %}
                                                                            <option value="{{ type.menu_type_id }}">{{ type.description }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <div id="type_id_detail-0" class="type_id_detail">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-3 col-md-1 d-flex justify-content-end"
                                                             id="menu_item_close-0">
                                                            <span class="fas fa-times" style="cursor: pointer" onclick="removeMenuItem('0')"></span>
                                                        </div>
                                                    </div>
                                                    {% set count_menu = count_menu + 1 %}
                                                {% endif %}
                                                <div id="more-menu-item-html"></div>

                                                <div class="d-flex align-items-center border-top btn"
                                                     data-toggle="modal" data-target="#modalAddAccount">
                                                    <button class="btn" type="button" id="add-more-menu-item"
                                                            onclick="addMenuItem()"><i class="icon icon-plus"></i> {{ menu_text_add_link }}
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# end menu item or category depend on group menu #}
                            </div>
                            {# alias #}
                            <div class="col-md-4">
                                <div class="bg-white rounded p-3 mb-3">
                                    <h4>{{ menu_seo_title }}</h4>
                                    <p class="text-muted">
                                        {{ menu_description_seo_text }}
                                    </p>
                                    <input type="text" id="slug-0" class="form-control" name="slug" value="{{ seo_url_text }}"/>
                                </div>
                                {% if is_parent  %}
                                <div class="bg-white rounded p-3 mb-3">
                                    <h4 style="text-transform: uppercase">{{ attach_menu_to }}</h4>
                                    {% for menu_config in menu_configs %}
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="{{ menu_config.type }}" value="1" {% if menu_id is not empty and menu_config.id == menu_id %} checked {% endif %} class="custom-control-input" id="{{ menu_config.type }}">
                                            <label class="custom-control-label" for="{{ menu_config.type }}">{{ menu_config.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            {# end alias #}
                        </div>

                        <div class="col d-flex justify-content-between align-items-center">
                            <div>
                                {% if menu_id %}
                                    <div class="btn btn-danger btn-pink" id="menu_destroy">{{ menu_delete_text }}</div>
                                {% endif %}
                            </div>
                            <div class=" d-flex justify-content-end align-items-center">
                                <a class="btn btn-default text-primary mx-2"
                                   href="{{ menu_cancel_url }}">{{ menu_cancel_text }}</a>
                                <button class="btn btn-danger btn-pink ml-2" type="submit" style="margin-right: 80px; /* temp fix margin due to livechat */">{{ menu_submit_text }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <!-- End Main -->
    </div>

</div>
<!-- End page wrapper -->
<div class="modal fade" id="confirm-menu-item" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-label">{{ alert_notice }}</h4>
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ button_cancel }}</button>
                <button type="button" class="btn btn-primary confirm"
                        data-dismiss="modal">{{ button_continue }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#menu_destroy').on('click', function () {
        var message = '{{ delete_confirm_common }}';
        var user_token = "{{ user_token }}";
        var menu_id = "{{ menu_id }}";
        var url_reload = 'index.php?route=custom/menu&user_token=' + user_token;
        var url = 'index.php?route=custom/menu/destroy&user_token=' + user_token + '&menu_id=' + menu_id;
        $("#confirm-menu-item").modal('show');
        $("#confirm-menu-item .modal-body p").html(message);

        $(".confirm").on("click", function () {
            $.ajax({
                url: url,
                method: 'GET',
                data: {},
                success: function (json) {
                    console.log(json);
                    if (json.status === true) {
                        location.href = url_reload;
                    } else {
                        alert(json.message);
                    }
                }
            });
        });
        $(".dismiss").on("click", function () {
            $("#confirm-menu-item").modal('hide');
        });
        return false;
    });

    var i = {{ count_menu }};

    function addMenuItem() {
        var jsonType = {{ jsonType }};
        var type_option = '';
        var txt_menu_link_select = '{{ menu_text_link_select }}';
        $.each(jsonType, function (i, item) {
            type_option = type_option + '<option value="' + item.menu_type_id + '">' + item.description + '</option>';
        });
        var text_start = '<div class="d-flex px-0 border-top pt-2" id="menu_item_common-' + i + '">' +
            '<div class="px-3 col-md-1">' +
            '<svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg" >' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE" />' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE" />' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE" />' +
            '<path fill-rule="evenodd" lip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE" />' +
            ' <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE" />' +
            '</svg>' +
            '</div>' +
            '<div class="p-0 col-md-10">' +
            '<div class="col p-0 pb-2">' +
            '<input type="text" name="menu_item_name[' + i + ']" required id="menu_item_name-' + i + ' " class="bg-light form-control"/>' +
            ' </div>' +
            '<div class="form-row">' +
            ' <div class="form-group col-md-6">' +
            '<select required class="form-control" name="type_id[' + i + ']" id="select_type_id-' + i + '"' +
            'onchange="appendValueById(' + i + ');"' + '>' +
            '<option value="">' + txt_menu_link_select + '</option>';
        var text_end = '</select>' +
            '</div>' +
            '<div class="form-group col-md-6">' +
            '<div id="type_id_detail-' + i + '" ">' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<div class="px-3 col-md-1 d-flex justify-content-end">' +
            '<span class="fas fa-times" style="cursor: pointer"  onclick="removeMenuItem(' + i + ')"></span>' +
            '</div>';
        var text = text_start + type_option + text_end;
        $(text).insertBefore($('#more-menu-item-html'));
        appendValueById(i);
        i++;
    }

    function appendValueById(data_value) {
        var type_id = $("#select_type_id-" + data_value).val();
        // var type_id = this.value;
        // category
        var jsonType = {{ jsonType }};
        if (type_id == '{{ menu_type_category }}') {
            text =
                '<select class="form-control select2-category" name="menu_item_value[' + data_value + ']" id="category_input-' + data_value + '">' +
                '</select>' +
                '<div class="select2-dropdown-category"></div>';
            $('#type_id_detail-' + data_value).html(text);
            initSelect2Category($('select.select2-category'), '#type_id_detail-' + data_value);
        } else if (type_id == '{{ menu_type_product }}') {
            text =
                '<select class="form-control select2-product" name="menu_item_value[' + data_value + ']" id="product_input-' + data_value + '">' +
                '</select>' +
                '<div class="select2-dropdown-product"></div>';
            $('#type_id_detail-' + data_value).html(text);
            initSelect2Product($('select.select2-product'), '#type_id_detail-' + data_value);
        } else if (type_id == '{{ menu_type_url }}') {
            text = '<input type="text" class="form-control" name="menu_item_value[' + data_value + ']">';
            $('#type_id_detail-' + data_value).html(text);
        } else if (type_id == '{{ menu_type_collection }}') {
            text =
                '<select class="form-control select2-collection" name="menu_item_value[' + data_value + ']" id="collection_input-' + data_value + '">' +
                '</select>' +
                '<div class="select2-dropdown-collection"></div>';
            $('#type_id_detail-' + data_value).html(text);
            initSelect2Collection($('select.select2-collection'), '#type_id_detail-' + data_value);
        } else if (type_id == '{{ menu_type_built_in_page }}') {
            var list_built_in_page = {% if list_built_in_page is empty %}''{% else %} {{ list_built_in_page }} {% endif %};
            var text_content = '';
            var text_start = '<select class="form-control" name="menu_item_value[' + data_value + ']" id="built_in_page_id-' + data_value + '">';
            $.each(list_built_in_page, function (built_in_page_name, built_in_page) {
                text_content = text_content + '<option value="' + built_in_page + '">' + built_in_page_name + '</option>';
            });
            var text_end = '</select>';
            var text = text_start + text_content + text_end;
            $('#type_id_detail-' + data_value).html(text);
        } else if (type_id == '{{ menu_type_blog }}') {
            text =
                '<select class="form-control select2-blog-category" name="menu_item_value[' + data_value + ']" id="blog_category_input-' + data_value + '">' +
                '</select>' +
                '<div class="select2-dropdown-blog-category"></div>';
            $('#type_id_detail-' + data_value).html(text);
            initSelect2BlogCategory($('select.select2-blog-category'), '#type_id_detail-' + data_value);
        } else {
            $('#type_id_detail-' + data_value).html('');
        }
    }

    function removeMenuItem(valueId) {
        $('#menu_item_common-' + valueId).remove();
    }

    function ChangeToSlug(valueId) {
        var title, slug;
        //Lấy text từ thẻ input title
        title = $('#menu-name').val();
        //Đổi chữ hoa thành chữ thường
        slug = title.toLowerCase();

        //Đổi ký tự có dấu thành không dấu
        slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
        slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
        slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
        slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
        slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
        slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
        slug = slug.replace(/đ/gi, 'd');
        // Xóa các ký tự đặt biệt
        slug = slug.replace(/\`|\~|\!|\@|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi, '');
        //Đổi khoảng trắng thành ký tự gạch ngang
        slug = slug.replace(/ /gi, "-");
        //Đổi nhiều ký tự gạch ngang liên tiếp thành 1 ký tự gạch ngang
        //Phòng trường hợp người nhập vào quá nhiều ký tự trắng
        slug = slug.replace(/\-\-\-\-\-/gi, '-');
        slug = slug.replace(/\-\-\-\-/gi, '-');
        slug = slug.replace(/\-\-\-/gi, '-');
        slug = slug.replace(/\-\-/gi, '-');
        //Xóa các ký tự gạch ngang ở đầu và cuối
        slug = '@' + slug + '@';
        slug = slug.replace(/\@\-|\-\@|\@/gi, '');
        //In slug ra textbox có id “slug”
        $('#slug-0').val(slug);
        $('#slug_hidden-' + valueId).val(slug);
    }

    function initSelect2Collection($elem, $dropdown){
        $elem.select2({
            // theme: 'bootstrap4',
            theme: 'bootstrap4',
            dropdownParent: $($dropdown +' .select2-dropdown-collection'),
            containerCssClass: 'col',
            placeholder: "{{ entry_manufacturer_placeholder }}",
            closeOnSelect: false,
            language: {
                "noResults": function(){
                    $($dropdown).addClass('no-result');
                    return "Not found";
                },
                "searching": function () {
                    $($dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=catalog/product/getCollectionLazyLoad&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    var condition = {
                        filter_name: params.term,
                        page: params.page || 1
                    };
                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($($dropdown +' .help-block').length > 0) {
                $($dropdown +' .help-block').remove();
            }
        });
    }

    $('.collection-select').each(function(){
        var dropdown = '#' +  $(this).attr('id');
        initSelect2Collection($('select.select2-collection') ,dropdown);
        var data = [];
        var datas = [];
        data.title = $(this).find('.title').val();
        data.id = $(this).find('.value').val();
        datas.push(data);
        updateCurrentSelect2($(this).find('select.select2-collection'), datas);
    });

    function initSelect2Category($elem, $dropdown){
        $elem.select2({
            // theme: 'bootstrap4',
            theme: 'bootstrap4',
            dropdownParent: $($dropdown +' .select2-dropdown-category'),
            containerCssClass: 'col',
            placeholder: "{{ entry_manufacturer_placeholder }}",
            closeOnSelect: false,
            language: {
                "noResults": function(){
                    $($dropdown).addClass('no-result');
                    return "Not found";
                },
                "searching": function () {
                    $($dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=catalog/product/getCategoryLazyLoad&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    var condition = {
                        filter_name: params.term,
                        page: params.page || 1
                    };
                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($($dropdown +' .help-block').length > 0) {
                $($dropdown +' .help-block').remove();
            }
        });
    }

    $('.category-select').each(function(){
        var dropdown = '#' +  $(this).attr('id');
        initSelect2Category($('select.select2-category') ,dropdown);
        var data = [];
        var datas = [];
        data.title = $(this).find('.title').val();
        data.id = $(this).find('.value').val();
        datas.push(data);
        updateCurrentSelect2($(this).find('select.select2-category'), datas);
    });

    function initSelect2Product($elem, $dropdown){
        $elem.select2({
            // theme: 'bootstrap4',
            theme: 'bootstrap4',
            dropdownParent: $($dropdown +' .select2-dropdown-product'),
            containerCssClass: 'col',
            placeholder: "{{ entry_manufacturer_placeholder }}",
            closeOnSelect: false,
            language: {
                "noResults": function(){
                    $($dropdown).addClass('no-result');
                    return "Not found";
                },
                "searching": function () {
                    $($dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=catalog/collection/getCollectionLazyLoad&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    var condition = {
                        filter_name: params.term,
                        page: params.page || 1
                    };
                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($($dropdown +' .help-block').length > 0) {
                $($dropdown +' .help-block').remove();
            }
        });
    }

    $('.product-select').each(function(){
        var dropdown = '#' +  $(this).attr('id');
        initSelect2Product($('select.select2-product') ,dropdown);
        var data = [];
        var datas = [];
        data.title = $(this).find('.title').val();
        data.id = $(this).find('.value').val();
        datas.push(data);
        updateCurrentSelect2($(this).find('select.select2-product'), datas);
    });

    function initSelect2BlogCategory($elem, $dropdown){
        $elem.select2({
            // theme: 'bootstrap4',
            theme: 'bootstrap4',
            dropdownParent: $($dropdown +' .select2-dropdown-blog-category'),
            containerCssClass: 'col',
            placeholder: "{{ entry_manufacturer_placeholder }}",
            closeOnSelect: false,
            language: {
                "noResults": function(){
                    $($dropdown).addClass('no-result');
                    return "Not found";
                },
                "searching": function () {
                    $($dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=blog/category/getBlogCategoryLazyLoad&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    var condition = {
                        filter_name: params.term,
                        page: params.page || 1
                    };
                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($($dropdown +' .help-block').length > 0) {
                $($dropdown +' .help-block').remove();
            }
        });
    }

    $('.blog-category-select').each(function(){
        var dropdown = '#' +  $(this).attr('id');
        initSelect2BlogCategory($('select.select2-blog-category') ,dropdown);
        var data = [];
        var datas = [];
        data.title = $(this).find('.title').val();
        data.id = $(this).find('.value').val();
        datas.push(data);
        updateCurrentSelect2($(this).find('select.select2-blog-category'), datas);
    });

    function updateCurrentSelect2(element, datas) {
        for (var i = 0; i < datas.length; i++) {
            if (element.find("option[value='" + $(this).attr('data-id') + "']").length == 0) {
                var newOption = new Option(datas[i].title, datas[i].id, true, true);
                element.append(newOption);
            }
            element.trigger('change');
        }
    }
</script>
{{ footer }}