{{ custom_header }}
<!-- End header -->

    <div class="page-wrapper">
        <div class="content-wrapper row m-0" >
            {{custom_column_left}}
            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <div class="border-bottom py-3">
                        <h4 class="col pt-3 font-weight-light text-muted">{{menu_text_heading}}
                               <span class="mx-2">
                                <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.2002 1.16602L6.8002 6.49935" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
                                    <path d="M6.8002 6.5L1.2002 11.8333" stroke="#9B9B9B" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </span> {{menu_text}}</h4>
                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <div class="col pt-3 my-3 d-flex justify-content-between">
                            <h2>{{menu_text}} <a target="_blank" href="{{ video_menu }}" class="detailed_instructions_here">{{ detailed_instructions_here }}</a></h2>
                            <a href="{{ add }}" style="max-height: 32px;" class="btn btn-danger btn-pink btn-sm btn-add-menu">{{ add_menu_text }}</a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="row custom-menu">
                                <div class="col-md-4 col-12">
                                    <p>{{menu_description_one}}</p>
                                    <p>{{menu_description_two}}</p>
                                </div>

                                <div class="col-md-8 theme-setting col-12 pl-0 pr-0">
                                    {# List root menus #}
                                    {% for menu in list_menu %}
                                        <div class="bg-white rounded shadow p-3">
                                            <div class="">
                                                <table class="table m-0 menu-table">
                                                    <thead class="border-0">
                                                    <tr class="border-0">
                                                        <th class="border-0" scope="col">
                                                            {{ menu.name }}
                                                            {% if menu.attach is empty %}
                                                                <p>{{ not_attach }}</p>
                                                            {% else %}
                                                                <p>{{ attach }} {{ menu.attach }}</p>
                                                            {% endif %}
                                                        </th>
                                                        {#<th class="border-0" scope="col">{{menu_link_text}}</th>#}
                                                        <th class="border-0 text-right" scope="col"><a href="{{ menu.edit }}">{{ menu_edit_text }}</a></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {# level 1 #}
                                                    {% for item in menu.items %}
                                                        <tr class="menu-item-sortable" data-menu-name="{{ item.name }}" data-menu-id="{{ item.menu_id }}" data-parent-menu-id="{{ menu.menu_id }}">
                                                            <td colspan="2">
                                                                <span class="icon_menu mr-3 pl-0">
                                                                    <svg width="10" height="16" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE"/>
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE"/>
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE"/>
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE"/>
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE"/>
                                                                    </svg>
                                                                </span>
                                                                {{ item.name }}
                                                                <span class="float-right">
                                                                    <a href="{{ item.edit }}" class="btn-edit-menu"
                                                                       title="{{ menu_text_edit }} {{ item.name }}"><img
                                                                                src="view/image/custom/icons/edit_classify.png" alt=""></a>
                                                                <a class="menu_destroy" data-href="{{ item.delete }}" title="{{ item.name }}"><img
                                                                            src="view/image/custom/icons/delete_classify.png" alt=""></a>
                                                                </span>
                                                                <table class="table m-0 menu-table">
                                                                    {% if item.list_items %}
                                                                        {# level 2 #}
                                                                        {% for sub_item in item.items %}
                                                                            <tr class="menu-item-unsortable menu-item-level-2" data-menu-sub-id="{{ sub_item.menu_id }}" data-parent-sub-menu-id="{{ item.menu_id }}">
                                                                                <td scope="row">
                                                                                    <span class="pl-5 mr-3">
                                                                                                <svg width="10" height="16" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>
                                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE"/>
                                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE"/>
                                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE"/>
                                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE"/>
                                                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE"/>
                                                                                                </svg>
                                                                                    </span>
                                                                                    {{ sub_item.name }}
                                                                                    {# level 3 #}
                                                                                    <span class="float-right" style="transform: translateX(4px);">
                                                                                    <a href="{{ sub_item.edit }}"
                                                                                       title="{{ menu_text_edit }} {{ sub_item.name }}"><img
                                                                                                src="view/image/custom/icons/edit_classify.png" alt=""></a>
                                                                                    <a class="menu_destroy" data-href="{{ sub_item.delete }}" title="{{ sub_item.name }}"><img
                                                                                                src="view/image/custom/icons/delete_classify.png" alt=""></a>
                                                                                </span>
                                                                                    <table class="table m-0 menu-table">
                                                                                        {% if sub_item.list_items %}
                                                                                            {% for sub_sub_item in sub_item.items %}
                                                                                                <tr class="menu-item-unsortable menu-item-level-3" data-menu-sub-sub-id="{{ sub_sub_item.menu_id }}" data-parent-sub-sub-menu-id="{{ sub_item.menu_id }}">
                                                                                                    <td colspan="2">
                                                                                                        <span class="pl-5 mr-3 ml-5">
                                                                                                                    <svg width="13" height="14" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>
                                                                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE"/>
                                                                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE"/>
                                                                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE"/>
                                                                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE"/>
                                                                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE"/>
                                                                                                                    </svg>
                                                                                                        </span>
                                                                                                        {{ sub_sub_item.name }}
                                                                                                        <span class="float-right" style="transform: translateX(8px);">
                                                                                                        {# <a href="{{ sub_sub_item.edit }}"#}
                                                                                                            {#  title="{{ menu_text_edit }} {{ sub_sub_item.name }}"><img#}
                                                                                                            {#src="view/image/custom/icons/edit_classify.png" alt=""></a>#}
                                                                                                        <a class="menu_destroy" data-href="{{ sub_sub_item.delete }}" title="{{ sub_sub_item.name }}"><img
                                                                                                                    src="view/image/custom/icons/delete_classify.png" alt=""></a>
                                                                                                    </span>
                                                                                                    </td>

                                                                                                </tr>
                                                                                            {% endfor %}
                                                                                        {% endif %}
                                                                                    </table>
                                                                                </td>

                                                                            </tr>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- End Main -->
        </div>

    </div>
<div class="modal fade" id="confirm-menu-item" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-label">{{ alert_notice }}</h4>
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ button_cancel }}</button>
                <button type="button" class="btn btn-primary confirm"
                        data-dismiss="modal">{{ button_continue }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Loop through each nested sortable element
    $(".menu-item-sortable").parent().sortable({
        update: function(event, ui) {
            let menuItemEls = $(this).find('tr.ui-sortable-handle');
            if (!menuItemEls || menuItemEls.length < 1) {
                return;
            }

            let menu_id = menuItemEls[0].getAttribute('data-parent-menu-id');
            let menu_item_id = [];
            for (let i = 0; i < menuItemEls.length; i++) {
                if (menuItemEls[i].getAttribute('data-menu-id') != null){
                    menu_item_id.push(menuItemEls[i].getAttribute('data-menu-id'));
                }
            }

            let data = {
                'menu_id': menu_id,
                'menu_item_ids': menu_item_id
            };
            let url = '{{ href_reorder_menu_item }}'.replace('&amp;', '&');
            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (json) {
                    location.reload();
                }
            });
        }
    });

    $(".menu-item-level-2").parent().sortable({
        update: function(event, ui) {
            let menuItemEls = $(this).find('tr.ui-sortable-handle');
            if (!menuItemEls || menuItemEls.length < 1) {
                return;
            }

            let menu_id = menuItemEls[0].getAttribute('data-parent-sub-menu-id');
            let menu_item_id = [];
            for (let i = 0; i < menuItemEls.length; i++) {
                if (menuItemEls[i].getAttribute('data-menu-sub-id') != null){
                    menu_item_id.push(menuItemEls[i].getAttribute('data-menu-sub-id'));
                }
            }

            let data = {
                'menu_id': menu_id,
                'menu_item_ids': menu_item_id
            };
            let url = '{{ href_reorder_menu_item }}'.replace('&amp;', '&');

            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (json) {
                    location.reload();
                }
            });
        }
    });

    $(".menu-item-level-3").parent().sortable({
        update: function(event, ui) {
            let menuItemEls = $(this).find('tr.ui-sortable-handle');
            if (!menuItemEls || menuItemEls.length < 1) {
                return;
            }

            let menu_id = menuItemEls[0].getAttribute('data-parent-sub-sub-menu-id');
            let menu_item_id = [];
            for (let i = 0; i < menuItemEls.length; i++) {
                if (menuItemEls[i].getAttribute('data-menu-sub-sub-id') != null){
                    menu_item_id.push(menuItemEls[i].getAttribute('data-menu-sub-sub-id'));
                }
            }

            let data = {
                'menu_id': menu_id,
                'menu_item_ids': menu_item_id
            };
            let url = '{{ href_reorder_menu_item }}'.replace('&amp;', '&');

            $.ajax({
                url: url,
                method: 'POST',
                data: data,
                success: function (json) {
                    location.reload();
                }
            });
        }
    });

    $('.menu_destroy').on('click', function () {
        var message = '{{ delete_confirm_common }}'
        $("#confirm-menu-item").modal('show');
        $("#confirm-menu-item .modal-body p").html(message);
        var href = $(this).attr('data-href');
        $(".confirm").on("click", function () {
            window.location.href = href;
        });
        $(".dismiss").on("click", function () {
            $("#confirm-menu-item").modal('hide');
        });
        return false;
    });
</script>
{{ footer }}