{{ custom_header }}
<!-- End header -->

<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                {#<div class="welcome-alert d-none d-flex justify-content-between">
                    <span>Welcome to X2, Hana Store</span>
                    <div class="btn btn-light text-secondary">Update plan</div>
                </div>#}

                <div style="margin: 20px 15px 0 0;">
                    <button class="btn btn-danger btn-pink ml-2 pull-right" type="submit" id="button-save" form="form-online-store-reference">
                        <i class="fa fa-save" style="font-weight: normal!important;"></i> {{ button_save }}
                    </button>
                </div>

                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-online-store-reference" class="form-horizontal">
                    <div class="border-bottom py-3">
                        <div class="col py-3 mt-3">
                            <h2>{{ website_title }}</h2>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="col-md-4">
                                <h4>{{ setting_seo }}</h4>
                            </div>

                            <div class="col-md-8 theme-setting">
                                <div class="bg-white rounded shadow p-3">
                                    <div class="my-2">
                                        <div class="form-group">
                                            <h6>{{ site_map_content_text }}</h6>
                                            <div class="ml-2">
                                                <div class="form-group">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="online_store_config_site_map_type" id="site-map-auto" {{ online_store_config_site_map_type == 'auto' or online_store_config_site_map_type == '' ? 'checked' : '' }} value="auto" class="custom-control-input">
                                                        <label class="custom-control-label pl-2"
                                                               for="site-map-auto">{{ txt_site_map_auto }}</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="online_store_config_site_map_type" id="site-map-manual" {{ online_store_config_site_map_type == 'manual' ? 'checked' : '' }} value="manual" class="custom-control-input">
                                                        <label class="custom-control-label pl-2"
                                                               for="site-map-manual">{{ txt_site_map_manual }}</label>
                                                    </div>
                                                </div>
                                                <textarea maxlength="60000" name="online_store_config_sitemap" style="display: {{ online_store_config_site_map_type != 'manual' ? 'none' : 'block' }}"
                                                          placeholder="{{ site_map_content_placeholder }}"
                                                          type="text"
                                                          class="form-control bg-light">{{ online_store_config_sitemap|html_entity_decode }}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <div class="form-group">
                                            <h6>{{ robots_content_text }}</h6>
                                            <textarea maxlength="2097152" name="online_store_config_robots"
                                                      placeholder="{{ robots_content_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_robots }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if maxlead_is_actived %}
                        <div class="border-bottom py-3">
                            <div class="col py-3 mt-3"><h2>{{ maxlead_title }}</h2></div>
                            <div class="d-flex justify-content-between">
                                <div class="col-md-4">
                                    {{ maxlead_description }}
                                </div>

                                <div class="col-md-8 theme-setting">
                                    <div class="bg-white rounded shadow p-3">
                                        <div class="form-group">
                                            <h6>{{ maxlead_code }}</h6>
                                            <textarea name="online_store_config_maxlead_code"
                                                      placeholder="{{ maxlead_code_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_maxlead_code }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="border-bottom py-3">
                        <div class="col py-3 mt-3"><h2>{{ gtm_code_title }}</h2></div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-4">
                                {{ gtm_code_description }}
                            </div>

                            <div class="col-md-8 theme-setting">
                                <div class="bg-white rounded shadow p-3">
                                    <div class="form-group">
                                        <h6>{{ gtm_code_header }}</h6>
                                        <textarea name="online_store_config_gtm_code_header"
                                                  placeholder="{{ gtm_code_header_placeholder }}"
                                                  type="text"
                                                  class="form-control bg-light">{{ online_store_config_gtm_code_header }}</textarea>
                                    </div>
                                </div>

                                <div class="bg-white rounded shadow p-3">
                                    <div class="form-group">
                                        <h6>{{ gtm_code_body }}</h6>
                                        <textarea name="online_store_config_gtm_code_body"
                                                  placeholder="{{ gtm_code_body_placeholder }}"
                                                  type="text"
                                                  class="form-control bg-light">{{ online_store_config_gtm_code_body }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-bottom py-3">
                        <div class="col py-3 mt-3"><h2>{{ google_title }}
{#                                <a href="{{ video_google_analytics }}" target="_blank" class="detailed_instructions_here"> {{ detailed_instructions_here }} </a>#}
                            </h2></div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-4">
                                {{ google_description }}
                            </div>

                            <div class="col-md-8 theme-setting">
                                <div class="bg-white rounded shadow p-3">
                                    <div class="form-group">
                                        <h6>{{ google_code }}</h6>
                                        <textarea name="online_store_config_google_code"
                                                  placeholder="{{ google_code_placeholder }}"
                                                  type="text"
                                                  class="form-control bg-light">{{ online_store_config_google_code }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-bottom py-3">
                        <div class="col py-3 mt-3"><h2>{{ google_aw_title }}</h2></div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-4">
                                {{ google_aw_description }}
                            </div>

                            <div class="col-md-8 theme-setting">
                                <div class="bg-white rounded shadow p-3">
                                    <div class="my-2">
                                        <div class="form-group">
                                            <h6>{{ google_aw_code }}</h6>
                                            <textarea name="online_store_config_google_aw_code"
                                                      placeholder="{{ google_aw_code_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_google_aw_code }}</textarea>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <div class="form-group">
                                            <h6>{{ text_config_google_aw_code_cart }}</h6>
                                            <textarea name="online_store_config_google_aw_code_cart"
                                                      placeholder="{{ text_config_google_aw_code_cart_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_google_aw_code_cart }}</textarea>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <div class="form-group">
                                            <h6>{{ text_config_google_aw_code_order }}</h6>
                                            <textarea name="online_store_config_google_aw_code_order"
                                                      placeholder="{{ text_config_google_aw_code_order_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_google_aw_code_order }}</textarea>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <div class="form-group">
                                            <h6>{{ text_config_google_aw_code_cart_success }}</h6>
                                            <textarea name="online_store_config_google_aw_code_order_success"
                                                      placeholder="{{ text_config_google_aw_code_cart_success_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_google_aw_code_order_success }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-bottom py-3">
                        <div class="col py-3 mt-3">
                            <h2>{{ facebook_title }}
{#                                <a href="{{ video_facebook_pixel }}" target="_blank" class="detailed_instructions_here"> {{ detailed_instructions_here }} </a>#}
                            </h2>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-4">
                                {{ facebook_description }}
                            </div>

                            <div class="col-md-8 theme-setting">
                                <div class="bg-white rounded shadow p-3">
                                    <div class="my-2">
                                        <div class="form-group">
                                            <h6>{{ facebook_pixel }}</h6>
                                            <textarea name="online_store_config_facebook_pixel"
                                                      placeholder="{{ facebook_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_facebook_pixel }}</textarea>
                                        </div>
                                    </div>

                                    <div class="mt-3 d-none">
                                        <div class="form-group">
                                            <h6>{{ text_config_facebook_pixel_cart }}</h6>
                                            <textarea name="online_store_config_facebook_pixel_cart"
                                                      placeholder="{{ text_config_facebook_pixel_cart_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_facebook_pixel_cart }}</textarea>
                                        </div>
                                    </div>

                                    <div class="mt-3 d-none">
                                        <div class="form-group">
                                            <h6>{{ text_config_facebook_pixel_order }}</h6>
                                            <textarea name="online_store_config_facebook_pixel_order"
                                                      placeholder="{{ text_config_facebook_pixel_order_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_facebook_pixel_order }}</textarea>
                                        </div>
                                    </div>

                                    <div class="mt-3 d-none">
                                        <div class="form-group">
                                            <h6>{{ text_config_facebook_pixel_cart_success }}</h6>
                                            <textarea name="online_store_config_facebook_pixel_order_success"
                                                      placeholder="{{ text_config_facebook_pixel_cart_success_placeholder }}"
                                                      type="text"
                                                      class="form-control bg-light">{{ online_store_config_facebook_pixel_order_success }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <!-- End Main -->
    </div>
</div>
<!-- End page wrapper -->

<script type="text/javascript">
    $('input[name="online_store_config_site_map_type"]').on('change', function () {
       if ($(this).val() === 'manual'){
           $('textarea[name="online_store_config_sitemap"]').show();
       }else {
           $('textarea[name="online_store_config_sitemap"]').hide();
       }
    });
</script>
{{ footer }}