/* $MAIN_COLOR$ #FFCE59 */
/* Default Header */
.header-default,
.navbar-light .navbar-nav .nav-link.active:before,
.navbar-light .navbar-nav .nav-link:hover:before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.order-bestme .bestme-table--cart thead th,
.order-bestme .bestme-btn--primary
{
    background-color: $MAIN_COLOR$ !important;
}

a:hover,
.text-warning,
.border-primary,
a.text-light:hover,
a.text-primary:focus,
a.text-primary:hover,
a.hover-primary:hover,
.hover-border-primary:hover,
.pagination .page-link:hover,
.dropdown-filter .dropdown-item:focus,
.dropdown-filter .dropdown-item:hover,
.paginate ul.nav a:hover,
.paginate ul.nav a.page-current,
.blog-category .nav-item.active a:hover
{
    color: $MAIN_COLOR$ !important;
}

.form-control:focus,
.custom-control-input:checked ~ .custom-control-label::before{
    border-color: $MAIN_COLOR$ !important;
}

.count,
.product-detail .choose-attribute .attr-item input:checked ~ label,
.payment-form .form-check .form-check-input:checked ~ .form-check-label {
    border: 1px solid $MAIN_COLOR$;
}

.list-radio-size .form-check-input:checked ~ .form-check-label {
    border: 1px solid $MAIN_COLOR$;
    background: $MAIN_COLOR$;
}

@media screen and (min-width: 991px) {
    .header .dropdown-item:hover,
    .header .dropdown-item.active
    {
        color: $MAIN_COLOR$ !important;
    }
}

/* $BUTTON_COLOR$ #F8BD2F */
.btn{
    background-color: $BUTTON_COLOR$;
}

.bg-primary,
a.hover-btn-primary:hover{
    background-color: $BUTTON_COLOR$ !important;
}

.btn-primary,
.btn-warning,
.btn-hover-primary:hover{
    background-color: $BUTTON_COLOR$ !important;
    border-color: $BUTTON_COLOR$ !important;
}

.blog-category .nav-item.active a {
    color: $BUTTON_COLOR$ !important;
}