<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    <!-- CSS -->
    {{ cssResource }}

    {#<link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/awesome.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/animate.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=vietnamese">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <!-- JS -->
    {{ jsResource }}
    {#<script src="{{ theme_directory }}/js/jquery.3.3.1.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/popper.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/bootstrap.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery.number.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery.ez-plus.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery-ui.js"></script>#}
    {#<script src="{{ theme_directory }}/js/opencart_custom.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/main.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
</head>
<body class="home">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Header -->
<header id="header" class="header block-header">
    {% if notify_bar.visible  == 1 %}
        <div class="top-header bg-primary mb-3 text-center bestme-block-banner-top">
            <a href="{{ notify_bar.url }}"><span class="text-white text-uppercase">{{ notify_bar.content }}</span></a>
        </div>
    {% endif %}
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="left-header-search col-md-2 d-flex align-items-center">
                    <form action="{{ urlserach }}" method="get">
                        <input type="text" name="search" class="form-control border-0 input-height-30" placeholder="Tìm kiếm">
                        <input type="hidden" name="route" value="common/shop">
                    </form>
                </div>
                <!-- Logo -->
                <div class="main-menu-header order-1 order-md-2 col-md-8 p-0">
                    <!-- Main menu -->
                    <div class="nav-header">
                        <nav class="navbar navbar-expand-lg navbar-light p-0 d-flex flex-column block-header-menu">
                            <div class="logo bestme-block-header-logo">
                                <a class="navbar-brand block-header-logo" href="{{ home }}">
                                    <img src="{{ logo }}"
                                            {% if logo_height != '' %}
                                                style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"
                                            {% endif %}
                                        title="{{ name }}" alt="{{ alt }}">
                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="block-header-menu collapse navbar-collapse main-menu bestme-block-header-menu" id="navbarMainMenu">
                                <i class="fas fa-times-circle close d-lg-none pointer"></i>
                                <ul class="navbar-nav m-auto nav bestme-block-header-menu">
                                    {% for idx, m in main_menu %}
                                        {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                            <li class="nav-item  {{ main_menu|length > 10 ? 'over-item' : '' }}">
                                                {# one level #}
                                                <a class="nav-link {{ result_active_menu == m.url ? 'active' : '' }} {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                            </li>
                                        {% else %}
                                            <li class="nav-item has-child {{ main_menu|length > 10 ? 'over-item' : '' }}">
                                                {# two levels #}
                                                <a href="{{ m.url }}" class="nav-link">{{ m.text }}<i class="fas fa-chevron-down toggles"></i></a>
                                                <ul class="nav child-nav">
                                                    {% for it in m.items %}
                                                        {% if it.items is defined and it.items|length > 0 %}
                                                            <li class="nav-item">
                                                                <a href="{{ it.url }}">{{ it.text }}<i class="fas fa-chevron-right toggles"></i></a>
                                                                <ul class="nav child-nav">
                                                                    {% for it3 in it.items %}
                                                                        <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {% else %}
                                                            <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- End: Main menu -->
                </div>
                <!-- End: Logo -->
                <!-- Header info -->
                <div class="wrap-header-info order-3 col-md-2 d-flex justify-content-end align-items-center">
                    <div class="header-info my-lg-0">
                        <ul class="list-inline mb-0 d-flex align-items-center">
                            <li class="list-inline-item header-search transition mr-4 d-none">
                                <a class="btn bg-transparent p-0 click-to-show-search">
                                    <img src="{{ theme_directory }}/img/icons/i-search.png" alt="">
                                </a>
                            </li>
                            <form action="{{ urlserach }}" method="get" id="form-search-scroll">
                                <input type="text" name="search" id="input-search-scroll" class="form-control border rounded" placeholder="Tìm kiếm">
                                <input type="hidden" name="route" value="common/shop">
                            </form>
                            <li class="list-inline-item mr-4">
                                <div class="cart position-relative pointer">
                                    <a href="{{ href_my_orders }}">
                                        <img class="i-black" src="{{ theme_directory }}/img/icons/i-cart.png" alt="">
                                        <span class="count bg-primary text-white fz-10 rounded-circle">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                                    </a>
                                </div>
                            </li>
                            <li class="list-inline-item mr-4 d-none">
                                <div class="favoute position-relative pointer">
                                    <img class="i-black" src="{{ theme_directory }}/img/icons/i-favoute.png" alt="">
                                    <span class="count bg-primary text-white fz-10 rounded-circle">2</span>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <a href="#" class="user-login text-uppercase text-primary fw-700" id="dropdownMenuButtonUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,12">
                                        {% if logged_in == '' %}
                                            <img src="{{ theme_directory }}/img/icons/i-user.png" alt="">
                                        {% else %}
                                            {{ logged_user|length > 10 ? logged_user|slice(0, 10) ~ '...' : logged_user }}
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonUser">
                                        {% if logged_in == '' %}
                                            <a class="dropdown-item" href="{{ login }}">Đăng nhập</a>
                                            <a class="dropdown-item" href="{{ register }}">Đăng ký</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{{ my_account }}"><img src="{{ theme_directory }}/img/icons/i-user.png" width="18" class="mr-2">Tài khoản của tôi</a>
                                            <a class="dropdown-item" href="{{ logout }}"><img src="{{ theme_directory }}/img/icons/i-logout.png" class="mr-2">Đăng xuất</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End: Header info -->
            </div>
        </div>
    </div>

    {% if logged_in != '' %}
        <style>
            @media screen and (max-width: 991px){
                .left-header-search form {
                    width: 50%;
                }}
        </style>
    {% endif %}

</header>
<!-- End Header -->
