{#modal not account#}
<div id="user-not-account" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Bạn đã có tài khoản?</h5>
            </div>
            <div class="modal-body" style="text-align: center">
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: #949494 !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_login }}">Đăng nhập ngay</a>
                <div>hoặc</div>
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: #949494 !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_order_preview }}">Tiếp tục với tư cách là Khách</a>
            </div>
        </div>
    </div>
</div>
