<!-- Cart Listing -->
<div class="table-responsive order-bestme">
    {% if error %}
        <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
            <i class="fa fa-exclamation-circle"></i> {{ error }}
        </div>
    {% endif %}
    {% if order_products is not empty %}
        <table class="table bestme-table--cart shopping-bestme">
            <thead>
            <tr>
                <th>Ảnh</th>
                <th>Thông tin sản phẩm</th>
                <th class="text-center">Xoá</th>
            </tr>
            </thead>
            <tbody>
            {% if order is not empty %}
                {% for product in order['products'] %}
                    <tr>
                        <td class="bestme-cart--img">
                            <a href="{{ product['url'] }}"><img src="{{ product['image_url'] }}" alt="{{ product['name'] }}"></a>
                        </td>
                        <td class="bestme-cart--info-item">
                            <div class="div-title"><a href="{{ product['url'] }}" class="title" title="{{ product['fullname'] }}">{{ product['name'] }}</a></div>
                            <p>{{ product['attribute'] }}</p>
                            {% if product['in_stock'] == false %}
                                <span style="display: block; color: red; font-size: 13px">
                                    Sản phẩm vừa hết hàng
                                </span>
                            {% endif %}
                            <p>Đơn giá {{ product['price_formart'] }}</p>
                            <div class="bestme-group--count-amount quantity-order">
                                <button class="bestme-btn bestme-btn--change-amount bestme-btn--primary decrease quantity-down">-</button>
                                <input type="number" min="1" max="9999" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}" value="{{ product['amount'] }}" class="bestme-input bestme-input--number-amount product_quantity">
                                <button class="bestme-btn bestme-btn--change-amount bestme-btn--primary increase quantity-up">+</button>
                                <input type="hidden" name="product_id" value="{{ product['id'] }}">
                                <input type="hidden" name="product_version_id" value="{{ product['product_version_id'] }}">
                            </div>
                            <p>Thành tiền: <strong>{{ product['total_formart'] }}</strong></p>
                        </td>
                        <td class="bestme-cart--remove-item">
                            <button class="bestme-btn bestme-btn--link remove" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}">x</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    {% else %}
        <p>Bạn không có sản phẩm nào trong giỏ hàng</p>
        <p><a style="border: 1px solid #ccc;" class="btn btn-continue" href="{{ href_common_shop }}">Tiếp tục mua sắm</a></p>
        <br/><br/><br/><br/>
    {% endif %}
</div>
<!-- End: Cart Listing -->

<!-- Action buttons -->
{% if order_products is not empty %}
    <div class="table-footer bestme-cart-page-total clearfix mt-3 mt-md-1 row">
        <div class="col-12 col-lg-8 mb-3">
            <a href="{{ href_common_shop }}" class="text-black-50 text-underline fw-700">Tiếp tục mua hàng</a>
        </div><!-- /.discount-code -->
        <div class="col-12 col-lg-4 text-right">
            <ul class="list-unstyled pt-2  border-light-2">
                <li class="clearfix">
                    <span class="text-uppercase text-black-50 fz-12 float-left mt-1">TỔNG TẠM TÍNH</span>
                    <span class="float-right fz-16 fw-600 text-primary"><span class="total-cart">{{ order['into_money_formart'] }}</span> </span>
                </li>
            </ul>
            <div class="table-action text-right mt-2">
                <a {% if error %} href="javascript:void(0)" {% else %} href="{{ href_order_preview }}" {% endif %} {% if customer_is_login == false and error is empty %} data-toggle="modal" data-target="#user-not-account" {% endif %} class="btn btn-primary rounded-0 py-2 px-5 fz-12 text-uppercase w-100 bestme-cart--go-to-checkout-page">ĐI ĐẾN TRANG THANH TOÁN</a>
            </div>
        </div>
    </div>
    <br/>
{% endif %}
<!-- End: Action buttons -->

<script type="text/javascript">
    $(document).ready(function () {
        $('.quantity-order').each(function () {
            var spinner = $(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

        });
    });

    $('.remove').click(function () {
        var product_id = $(this).attr('product-id');
        var product_version_id = $(this).attr('product-version-id');
        var r = confirm('{{ text_remove_alert_confirm }}');
        if (r === true) {
            $.ajax({
                url: 'index.php?route=checkout/my_orders/remove_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                    product_version_id: product_version_id
                },
                success: function (json) {
                    console.log(json);
                    json = $.parseJSON(json)
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
    });

    setTimeout(
        function () {
            $('.product_quantity').bind('change paste keyup', function () {
                var em = $(this); // retrieve the index
                var product_id = em.attr('product-id');
                var quantity = em.val();
                var product_version_id = em.attr('product-version-id');
                var validity = this.validity;
                //change input quantity validate
                if (!validity.valid && validity.rangeOverflow) {
                    quantity = em.attr('max');
                }
                if (!validity.valid && validity.rangeUnderflow) {
                    quantity = em.attr('min');
                }
                if (quantity == '') {
                    quantity = 1;
                }
                $.ajax({
                    url: 'index.php?route=checkout/my_orders/update_order_products',
                    method: 'POST',
                    data: {
                        product_id: product_id,
                        quantity: quantity,
                        product_version_id: product_version_id,
                    },
                    success: function (json) {
                        location.reload();
                    }
                });
            });
        }, 500);
</script>

<style>
    /** CSS shopping cart */
    .order-bestme .bestme-table--cart thead {
        border: 0.1rem solid #d6b891;
    }

    .order-bestme .bestme-table--cart thead th {
        background-color: #E58718;
        color: white;
        font-weight: 400;
        border-top: none;
        border-bottom: none;
        white-space: nowrap;
    }

    .order-bestme .bestme-table--cart tbody tr td:first-child {
        border-left: 0.1rem solid var(--color-border);
    }

    .order-bestme .bestme-table--cart tbody tr td {
        border-bottom: 0.1rem solid var(--color-border);
        border-top: 0;
    }

    .order-bestme .table td, .order-bestme .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .order-bestme .bestme-cart--img {
        width: 11rem;
        height: 11rem;
    }

    .order-bestme .bestme-cart--img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: none;
    }

    .order-bestme .bestme-table--cart thead {
        border: 0.1rem solid #d6b891;
    }

    .order-bestme .bestme-table--cart tbody tr td:first-child {
        border-left: 0.1rem solid #c0c5cd;
    }

    .order-bestme .bestme-table--cart tbody tr td {
        border-bottom: 0.1rem solid #c0c5cd;
        border-top: 0;
    }

    .order-bestme .bestme-table--cart tbody tr td:last-child {
        border-right: 0.1rem solid #c0c5cd;
    }

    .order-bestme .bestme-cart--info-item .title {
        *font-size: 1.6rem;
        font-weight: 700;
        *line-height: 2.4rem;
        color: var(--color-text-content);
        text-transform: uppercase;
        *display: -webkit-box;
        *line-height: 2.4rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .order-bestme .bestme-cart--info-item .bestme-group--count-amount {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .order-bestme .bestme-group--count-amount {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-bottom: 1.5rem;
    }

    .order-bestme .bestme-btn--change-amount {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        padding: 0.5px 13.2px;
    }

    .order-bestme .bestme-btn--primary {
        border: 0.1rem solid var(--color-button-primary);
        background-color: #E58718;
        color: white;
        font-size: 1rem;
        font-weight: 400;
        line-height: 0;
    }

    .order-bestme .bestme-input--number-amount {
        padding-left: 1rem;
        padding-right: 1rem;
        border: 1px solid #c0c5cd;
        text-align: center;
    }

    .order-bestme .bestme-cart--info-item .bestme-input--number-amount {
        width: 4.6em;
    }

    .order-bestme .bestme-table--cart p {
        margin: 0;
    }

    .order-bestme .text-center {
        text-align: center !important;
    }

    .order-bestme .bestme-cart--remove-item {
        width: 6rem;
        text-align: center;
        vertical-align: middle !important;
    }

    .order-bestme .bestme-cart--remove-item .bestme-btn {
        padding: .6rem 1rem;
        background-color: transparent;
        white-space: nowrap;
    }

    .order-bestme .bestme-btn--link {
        border: none;
        padding: 0;
    }

    /* Hide HTML5 Up and Down arrows. */
    .order-bestme .bestme-cart--info-item input[type="number"]::-webkit-outer-spin-button, .order-bestme .bestme-cart--info-item input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .order-bestme .bestme-cart--info-item input[type="number"] {
        -moz-appearance: textfield;
    }

    @media screen and (max-width: 568px) {
        .order-bestme .bestme-cart--info-item div.div-title {
            *white-space: nowrap;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .text-underline{
        text-decoration: underline!important;
    }
</style>