<div class="row mb-3 box-collection">
    {% for k, block in blocks if k < 3 %}
        <div class="col-12 col-lg-4 mb-3">
            <div class="row collection-item h-100 p-3 bg-second m-0 {{ block['bestme_block_preview_class'] }}">
                {% if block['current_collection_image'] is not empty %}
                    <div class="col align-items-center d-flex">
                        <a href="{{ block['view_more'] }}">
                            <img src="{{ block['current_collection_image'] }}" alt="{{ block['title'] }}">
                        </a>
                    </div>
                {% endif %}
                <div class="col justify-content-center align-items-center d-flex h-100 px-0">
                    <div class="text-center">
                        <p class="mb-2 fz-20"><span class="fw-500">{{ block['title'] }}</span></p>
                        <a href="{{ block['view_more'] }}" class="btn btn-primary fz-16 fw-600 px-4 py-2">
                            <span class="py-1 d-block">Xem ngay</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!-- End box-collection -->