{{ header }}
<div class="bestme_app_after_header">

</div>

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-sm-none">
                    <img src="{{ theme_directory }}/img/banner-register.png" alt="Mua sản phẩm mỹ phẩm, thực phẩm chức năng chính hãng tại bestme.vn">
                </div>
                <div class="col-12 col-lg-6 login-box">
{#                 <a href="{{ urllogin }}" class="right page-title col">Đăng nhập</a>#}
                    {% if error %}
                        <div class="col-12 col-md-12">
                            <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                                <i class="fa fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    {% endif %}

                    <h1>Bestme xin chào!</h1>
                    <p>Nhập các thông tin để đăng ký tài khoản</p>
                    <!-- Form -->
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-register">
                        <div class="row mb-3">
                            <div class="col">
                                <input placeholder="Họ & tên (VD: Nguyễn Văn Anh)" type="text" class="form-control" id="fullname" name="fullname" value="{{ fullname }}" required>
                            </div>
                        </div>
                        <div class="row mb-3 has-error">
                            <div class="col">
                                <input placeholder="Email (VD: anhnguyenvan@gmail.com)" type="email" class="form-control" id="your-email" name="email" value="{{ email }}" required>
                            </div>
                        </div>
                        <div class="row mb-3 has-error">
                            <div class="col">
                                <input placeholder="Số điện thoại" type="number" class="form-control" id="your-telephone" name="telephone" value="{{ telephone }}" required>
                            </div>
                        </div>
                        <div class="row mb-3 position-relative">
                            <div class="input-password-group col">
                                <input placeholder="Mật khẩu (Tối thiểu 6 ký tự gồm cả chữ và số)" type="password" id="your-password" name="password" class="form-control" required>
                                <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                            </div>
                        </div>
                        <div class="row mb-3 position-relative">
                            <div class="input-password-group col">
                                <input placeholder="Nhập lại mật khẩu" type="password" name="confirm_password" id="password-confirmation" class="form-control" required>
                                <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                            </div>
                        </div>
                        <label style="color: #454D71;">
                            <input id="checkbox" type="checkbox" checked>
                            <span class="checkmark"></span>
                            <span>Tôi đồng ý và chấp nhận </span>
                            <a href="https://bestme.vn/chinh-sach-thanh-toan" target="_blank">chính sách thanh toán</a> và
                            <a href="https://bestme.vn/chinh-sach-bao-mat-thong-tin" target="_blank">chính sách bảo mật thông tin</a>
                        </label>
                        <button id="btn-login" class="btn btn-primary p-3 mt-3 fw-bold text-uppercase w-100 fz-18" type="submit">
                            Đăng ký
                        </button>
                        <p class="text-center" style="padding-top: 10px">
                            Bạn đã có tài khoản?
                            <a href="{{ urllogin }}">
                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4" d="M6.5 4.79992V11.1933C6.5 13.3333 7.83333 14.6666 9.96667 14.6666H11.6933C13.8267 14.6666 15.16 13.3333 15.16 11.1999V4.79992C15.1667 2.66659 13.8333 1.33325 11.7 1.33325H9.96667C7.83333 1.33325 6.5 2.66659 6.5 4.79992Z" fill="#EE3C96"/>
                                    <path d="M8.78732 5.41343L11.0207 7.64676C11.214 7.84009 11.214 8.16009 11.0207 8.35343L8.78732 10.5868C8.59398 10.7801 8.27398 10.7801 8.08065 10.5868C7.88732 10.3934 7.88732 10.0734 8.08065 9.88009L9.46065 8.50009H2.33398C2.06065 8.50009 1.83398 8.27343 1.83398 8.00009C1.83398 7.72676 2.06065 7.50009 2.33398 7.50009H9.46065L8.08065 6.12009C7.98065 6.02009 7.93398 5.89343 7.93398 5.76676C7.93398 5.64009 7.98065 5.51343 8.08065 5.41343C8.27398 5.21343 8.58732 5.21343 8.78732 5.41343Z" fill="#EE3C96"/>
                                </svg>
                                Đăng nhập
                            </a>
                        </p>
                    </form> <!-- End: Form -->
                </div>
            </div>
        </div> <!-- End: container -->
    </div> <!-- End: main content -->
</main>

{{ footer }}

<script>
    $(document).ready(function() {
        $('#checkbox').change(function() {
            if(this.checked) {
                $( "#btn-login" ).prop( "disabled", false );
            }
            else {
                $( "#btn-login" ).prop( "disabled", true );
            }
        });
    });
</script>