{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <div class="row">
                <div class="col-12 col-md-3 sidebar-left">
                    <nav class="navbar mb-3">
                        <h3 class="font-18 my-2 mb-3 px-2">Recent</h3>
                        <div class="blog-views m-0 p-0 border-0">
                            <div class="view-content">
                                <div class="blog-item font-12 m-0 mb-3">
                                    <div class="row m-0">
                                        <div class="img col-4 pl-2">
                                            <a href="blog_detail.html">
                                                <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                            </a>
                                        </div>
                                        <div class="blog-right col-8 p-0 pr-2">
                                            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                            <span class="date font-10">Post Date: 04 Feb, 2017</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-item font-12 m-0 mb-3">
                                    <div class="row m-0">
                                        <div class="img col-4 pl-2">
                                            <a href="blog_detail.html">
                                                <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                            </a>
                                        </div>
                                        <div class="blog-right col-8 p-0 pr-2">
                                            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                            <span class="date font-10">Post Date: 04 Feb, 2017</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-item font-12 m-0 mb-3">
                                    <div class="row m-0">
                                        <div class="img col-4 pl-2">
                                            <a href="blog_detail.html">
                                                <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                            </a>
                                        </div>
                                        <div class="blog-right col-8 p-0 pr-2">
                                            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                            <span class="date font-10">Post Date: 04 Feb, 2017</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-item font-12 m-0 mb-3">
                                    <div class="row m-0">
                                        <div class="img col-4 pl-2">
                                            <a href="blog_detail.html">
                                                <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                            </a>
                                        </div>
                                        <div class="blog-right col-8 p-0 pr-2">
                                            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                            <span class="date font-10">Post Date: 04 Feb, 2017</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-item font-12 m-0 mb-3">
                                    <div class="row m-0">
                                        <div class="img col-4 pl-2">
                                            <a href="blog_detail.html">
                                                <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                            </a>
                                        </div>
                                        <div class="blog-right col-8 p-0 pr-2">
                                            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                            <span class="date font-10">Post Date: 04 Feb, 2017</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-item font-12 m-0 mb-3">
                                    <div class="row m-0">
                                        <div class="img col-4 pl-2">
                                            <a href="blog_detail.html">
                                                <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                            </a>
                                        </div>
                                        <div class="blog-right col-8 p-0 pr-2">
                                            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                            <span class="date font-10">Post Date: 04 Feb, 2017</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </nav>

                    <nav class="navbar mb-3">
                        <h3 class="font-18 my-2 mb-3 px-2">Archive</h3>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a href="" class="nav-link active">February 2017</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">January 2017</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">September 2016</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">February 2016</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">August 2016</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-md-9">
                    <h2 class="m-0 font-30">{{ content.title }}</h2>
                    {#<img src="img/blog_7.jpg" class="feature my-3">#}
                    <br>
                    <div class="blog-body">
                        {#{{ content.description }}#}
                    </div>
                </div> <!-- End blog view -->
            </div>

            <div class="blog-views mt-3 mb-0 pb-0 border-0">
                <div class="view-header">
                    <h2 class="block-title text-capitalize mb-4">Bài viết liên quan</h2>
                </div>
                <div class="view-content">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="blog-item m-0 mb-3">
                                <div class="row">
                                    <div class="img col-12">
                                        <a href="blog_detail.html">
                                            <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                        </a>
                                    </div>
                                    <div class="blog-right col-12">
                                        <a class="title font-20" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                        <span class="date clearfix">Post Date: 04 Feb, 2017</span>
                                        <a href="blog_detail.html" class="read-more text-warning mt-3 d-inline-block">Đọc ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="blog-item m-0 mb-3">
                                <div class="row">
                                    <div class="img col-12">
                                        <a href="blog_detail.html">
                                            <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                        </a>
                                    </div>
                                    <div class="blog-right col-12">
                                        <a class="title font-20" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                        <span class="date clearfix">Post Date: 04 Feb, 2017</span>
                                        <a href="blog_detail.html" class="read-more text-warning mt-3 d-inline-block">Đọc ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="blog-item m-0 mb-3">
                                <div class="row">
                                    <div class="img col-12">
                                        <a href="blog_detail.html">
                                            <img class="rounded-0" src="https://cache.bloghosting.vn/wp-content/uploads/2018/03/Blog.jpg">
                                        </a>
                                    </div>
                                    <div class="blog-right col-12">
                                        <a class="title font-20" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>
                                        <span class="date clearfix">Post Date: 04 Feb, 2017</span>
                                        <a href="blog_detail.html" class="read-more text-warning mt-3 d-inline-block">Đọc ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End row -->
                </div>
            </div>

        </div> <!-- End row -->
    </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}
<script>
    $(document).ready(function () {
        var description = {{ content.description | json_encode }};
        var descriptionEl = $('.blog-body');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
    });
</script>