<!DOCTYPE html>
<html>
<head>
    {#<title>{{ title }}</title>#} {#already in seo_meta below #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <!-- CSS -->
    {{ cssResource }}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/awesome.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/animate.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&subset=vietnamese">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
    {#<link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bestme.css">#}

    {# custom height by builder #}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <!-- JS -->
    {{ jsResource }}
    {#<script src="{{ theme_directory }}/js/jquery.3.3.1.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/popper.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/bootstrap.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery.number.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery.ez-plus.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/main.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
    {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}
    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <!-- End Bootstrap -->
</head>
<body {% if product_detail %} class="product-detail" {% else %} {% if is_home %} class="home" style="height: 200vh" {% endif %} {% endif %}>
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Header -->
{#header header-default has-shadow block-header#}
<header id="header" class="header header-default has-shadow block-header">
    <div class="container">
        <div class="row">
            <!-- Main menu -->
            <div class="main-menu order-2 order-md-1 col-md-5 d-flex align-items-center bestme-block-header-menu">
                <nav id="sidenav" class="menu-mobile main-menu navbar navbar-expand-lg navbar-light p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="{{ theme_directory }}/img/icons/i-bars.png" alt="bars" id="btn-mobile-menu">
                    </button>
                    <div class="collapse navbar-collapse main-menu" id="navbarMainMenu">
                        <i class="fas fa-times-circle close d-lg-none pointer"></i>
                        {% if  is_on_mobile != 1 %}
                            <ul class="navbar-nav m-auto">
                            {% for idx, m in main_menu %}
                                {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                    <li class="nav-item ">
                                        {# one level #}
                                        <a class="nav-link {{ result_active_menu == m.url ? 'active' : '' }} {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item has-child">
                                        {# two levels #}
                                        <a href="{{ m.url }}" class="nav-link">{{ m.text }}</a>
                                        <ul class="nav child-nav">
                                            {% for it in m.items %}
                                                {% if it.items is defined and it.items|length > 0 %}
                                                    <li class="nav-item">
                                                        <a href="{{ it.url }}">{{ it.text }}<i class="fas fa-chevron-right"></i></a>
                                                        <ul class="nav child-nav">
                                                            {% for it3 in it.items %}
                                                                <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% else %}
                            {% if is_on_mobile == 1 %}
                                <div class="block-header">
                                    <div class="header-main block-center">
                                        <div id="block-action-header">
                                            <div class="action-user mr-3">
                                                {% if logged_in == '' %}
                                                    <h2 class="ttl-user">
                                                        <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                             viewBox="0 0 14 14" fill="none">
                                                            <path d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                                  fill="#25292C" />
                                                        </svg>
                                                        <a href="{{ login }}">Đăng nhập</a>
                                                    </h2>
                                                {% else %}
                                                    <div class="dropdown ">
                                                        <span class="title-wc">xin chào</span>
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            {{ logged_user }}
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="{{ my_account }}">
                                                                <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                                     viewBox="0 0 14 14" fill="none">
                                                                    <path d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                                          fill="#25292C" />
                                                                </svg>
                                                                <span>Tài khoản của tôi</span>
                                                            </a>
                                                            <a class="dropdown-item" href="{{ logout }}">
                                                                <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                                                     viewBox="0 0 14 13" fill="none">
                                                                    <path d="M5.8 4.09767V1.75418C5.8 1.54701 5.88429 1.34832 6.03432 1.20182C6.18435 1.05532 6.38783 0.973022 6.6 0.973022H12.2C12.4122 0.973022 12.6157 1.05532 12.7657 1.20182C12.9157 1.34832 13 1.54701 13 1.75418V11.1281C13 11.3353 12.9157 11.534 12.7657 11.6805C12.6157 11.827 12.4122 11.9093 12.2 11.9093H6.6C6.38783 11.9093 6.18435 11.827 6.03432 11.6805C5.88429 11.534 5.8 11.3353 5.8 11.1281V8.78463"
                                                                          stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round"
                                                                          stroke-linejoin="round" />
                                                                    <path d="M9.8 6.44116H1" stroke="#25292C" stroke-miterlimit="10"
                                                                          stroke-linecap="round" stroke-linejoin="round" />
                                                                    <path d="M3.4 4.09766L1 6.44114L3.4 8.78462" stroke="#25292C"
                                                                          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                                                </svg>
                                                                <span>Đăng xuất</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <ul style="max-height: 500px; overflow-y: scroll;">
                                {% for idx, m in main_menu %}
                                    {% set is_active_menu_item = result_active_menu == m.url %}
                                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                        <li class="header-font {{ is_active_menu_item ? 'active' : '' }}">
                                            {# one level #}
                                            {#<a class="{{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>#}
                                            <a class="{{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                        </li>
                                    {% else %}
                                        <li class="header-font has-child {{ is_active_menu_item ? 'active' : '' }}">
                                            {# two levels #}
                                            <a class="{{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                            <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                                 viewBox="0 0 10 6" fill="none">
                                                <path
                                                        d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                                        fill="#25292C" />
                                            </svg>
                                            <ul class="sub-menu" aria-labelledby="navbarFeatureMenu">
                                                {% for it in m.items %}
                                                    <li>
                                                        <a href="{{ it.url }}">{{ it.text }}</a>
                                                        {% if it.items is defined and it.items|length > 0 %}
                                                            <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                                                 viewBox="0 0 10 6" fill="none">
                                                                <path
                                                                        d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                                                        fill="#25292C" />
                                                            </svg>
                                                            <ul>
                                                                {% for it3 in it.items %}
                                                                    <li><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}

                                    {% if idx == 0 and is_on_mobile == 1 %}
                                        {% include 'default/template/common/list_category_on_mobile.twig' %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <!-- End: Main menu -->
            <!-- Logo -->
            <div class="order-1 order-md-2 col-md-2 logo-header-menu">
                <div class="logo bestme-block-header-logo" data-is_on_mobile="{{ is_on_mobile }}">
                    <a href="{{ home }}">
                        <img src="{{ logo }}"
                                 {#style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                 class="{% if logo_height != '' %} custom-height {% endif %} logo-black m-auto m-size" title="{{ name }}" alt="{{ alt }}">
                        <img src="{{ logo }}"
                                 {#style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                             class="{% if logo_height != '' %} custom-height {% endif %} logo-white m-auto m-size" title="{{ name }}" alt="{{ alt }}">
                    </a>
                </div>
            </div>
            <!-- End: Logo -->
            <!-- Header info -->
            <div class="wrap-header-info order-3 col-md-5 d-flex justify-content-end align-items-center">
                <div class="header-info my-lg-0">
                    <ul class="list-inline mb-0 d-flex align-items-center">
                        <li class="list-inline-item header-search transition mr-4">
                            <!-- <div class="search-button pointer">
                                <img src="img/icons/i-search.png" alt="">
                            </div> -->
                            <form action="{{ urlserach }}" method="get">
                            <div class="input-group">
                                <input type="text" name="search" id="input-search" class="form-control border-0 input-height-30">
                                <input type="hidden" name="route" value="common/shop">
                                <div class="input-group-prepend bg-white input-height-30">
                                    <button type="submit" class="btn bg-transparent">
                                        <img src="{{ theme_directory }}/img/icons/i-search.png" alt="">
                                    </button>
                                </div>
                                {# temp disable, TODO: enable later... #}
                                {#<div class="search-box-ajax d-none">
                                    <a href="#" class="d-block hover-primary text-black">Lorem Ipsum is simply</a>
                                    <a href="#" class="d-block hover-primary text-black">Lorem Ipsum is simply dummy text of the printing</a>
                                    <a href="#" class="d-block hover-primary text-black">Lorem Ipsum is simply dummy</a>
                                </div>#}
                            </div>
                            </form>
                        </li>
                        <li class="list-inline-item mr-4">
                            <a class="cart position-relative pointer d-inline-block" href="{{ href_my_orders }}">
                                <img class="i-white" src="{{ theme_directory }}/img/icons/i-cart-border.png" alt="" width="16" height="18">
                                <img class="i-black" src="{{ theme_directory }}/img/icons/i-cart.png" alt="">
                                <span class="count bg-white text-primary fz-10 rounded-circle">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                            </a>
                        </li>
                        <li class="list-inline-item mr-4 d-none">
                            <a class="favoute position-relative pointer d-inline-block" href="favourite.html">
                                <img class="i-white" src="{{ theme_directory }}/img/icons/i-favoute-white.png" alt="">
                                <img class="i-black" src="{{ theme_directory }}/img/icons/i-favoute.png" alt="">
                                <span class="count bg-white text-primary fz-10 rounded-circle">2</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <!-- <a href="#" class="user-register hover-primary">Đăng ký</a> -->
                            <div class="user dropdown">
                                <a class="dropdown-toggle dropdown-menu-right" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="25,25">
                                    <img src="{{ theme_directory }}/img/icons/i-user-border.png" alt="bestme" width="27" height="27">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                                    {% if logged_in == '' %}
                                        <a class="dropdown-item" href="{{ register }}">Đăng ký</a>
                                        <a class="dropdown-item" href="{{ login }}">Đăng nhập</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ my_account }}">Tài khoản của tôi</a>
                                        <a class="dropdown-item" href="{{ logout }}">Đăng xuất</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Header info -->
        </div>
    </div>
</header>
<!-- End Header -->
<div id="overlay"></div>