
<footer id="block-footer" class="block-footer bestme-block-footer">
    <div class="container">
        <div class="row">
            {% if contact.visible == 1 and visible_contact_title %}
                <div class="col-md-4">
                    <div class="widget-footer">
                        <div class="logo-ft">
                            <h5 style="text-transform: uppercase;">{{ visible_contact_title }}</h5>
                        </div>
                        {% if contact.address %}
                            <div class="contact-item clearfix">
                                <span>{{ text_address }}</span>
                                <a href="javascript:;">{{ contact.address | replace({'&lt;br&gt;': '<br>'}) }}</a>
                            </div>
                        {% endif %}
                        {% if contact.phone %}
                            <div class="contact-item clearfix">
                                <span>{{ text_phone }} </span>
                                <a href="javascript:;">{{ contact.phone }}</a>
                            </div>
                        {% endif %}
                        {% if contact.email %}
                            <div class="contact-item clearfix">
                                <span>Email: </span>
                                <a href="javascript:;">{{ contact.email }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if visible_collection == 1 %}
                <div class="col-sm-6 col-md-2">
                    <div class="widget-footer">
                        <h5 class="header-font">{{ visible_collection_title }}</h5>
                        <ul>
                            {% for collection in collections %}
                                <li><a href="{{ collection.url_link }}">{{ collection.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if visible_quick_links == 1 %}
                <div class="col-sm-6 col-md-2">
                    <div class="widget-footer">
                        <h5 class="header-font">{{ visible_quick_links_title }}</h5>
                        <ul>
                            {% for quick_link in quick_links %}
                                <li><a href="{{ quick_link.url_link }}">{{ quick_link.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if visible_subscribe == 1 %}
            <div class="col-md-4">
                <div class="widget-footer">
                    <h5 class="header-font">{{ visible_subscribe_title }}</h5>
                    {% if visible_subscribe_social_network == 1 %}
                    <div class="social mb-3">
                        {% if visible_social_network == 1 %}
                        <ul>
                            {% for social_config in social_configs %}
                            {% if  social_config.name == 'Facebook' %}
                                <li>
                                    <a href="{{ social_config.url }}" target="_blank">
                                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="https://www.w3.org/2000/svg">
                                            <path d="M0 35.4419V12.5581C0 5.64706 5.64706 0 12.5581 0H35.4419C42.3529 0 48 5.64706 48 12.5581V35.4419C48 42.3529 42.3529 48 35.4419 48H27.7428L23.7209 47.015L20.2572 48H12.5581C5.64706 48 0 42.3529 0 35.4419Z" fill="url(#paint0_linear)"/>
                                            <path d="M33.341 31.7318L34.4081 24.7879H27.7432V20.29C27.7432 18.3857 28.6789 16.5471 31.6502 16.5471H34.6707V10.6374C34.6707 10.6374 31.9293 10.1614 29.3027 10.1614C23.8198 10.1614 20.2412 13.4774 20.2412 19.502V24.7879H14.1509V31.7318H20.2412V48H27.7432V31.7318H33.341Z" fill="white"/>
                                            <defs>
                                                <linearGradient id="paint0_linear" x1="23" y1="-2.01786e-08" x2="22.5" y2="48" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#18AAFD"/>
                                                    <stop offset="1" stop-color="#0267E2"/>
                                                    <stop offset="1" stop-color="#0267E2"/>
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                            {% elseif  social_config.name == 'Instagram' %}
                                <li>
                                    <a href="{{ social_config.url }}" target="_blank">
                                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="https://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0)">
                                                <path d="M48 11.2501V36.7499C48 42.9624 42.9624 48 36.7499 48H11.2501C5.03755 47.9983 0 42.9624 0 36.7499V11.2501C0 5.03755 5.03755 0 11.2501 0H36.7499C42.9624 0 48 5.03755 48 11.2501Z" fill="url(#paint1_linear)"/>
                                                <path d="M31.4508 6.44489H16.5552C13.8577 6.44515 11.2709 7.51687 9.36363 9.42433C7.45636 11.3318 6.38489 13.9187 6.38489 16.6161V31.5108C6.38476 32.8465 6.64772 34.1691 7.15877 35.4031C7.66982 36.6372 8.41893 37.7584 9.36334 38.7029C10.3078 39.6474 11.429 40.3967 12.6629 40.9078C13.8969 41.419 15.2195 41.6821 16.5552 41.6821H31.4508C34.1484 41.6821 36.7355 40.6105 38.643 38.703C40.5505 36.7955 41.6221 34.2084 41.6221 31.5108V16.6161C41.6221 13.9186 40.5505 11.3315 38.643 9.42398C36.7355 7.5165 34.1484 6.44489 31.4508 6.44489ZM38.377 31.7736C38.377 32.6603 38.2024 33.5382 37.863 34.3573C37.5237 35.1765 37.0263 35.9207 36.3993 36.5476C35.7724 37.1745 35.028 37.6718 34.2088 38.011C33.3897 38.3502 32.5117 38.5247 31.625 38.5246H16.3809C15.4944 38.5246 14.6165 38.35 13.7975 38.0107C12.9784 37.6715 12.2342 37.1742 11.6073 36.5473C10.9804 35.9204 10.4831 35.1762 10.1439 34.3571C9.80459 33.538 9.62997 32.6602 9.62997 31.7736V16.5285C9.62997 14.7381 10.3412 13.0209 11.6073 11.7549C12.8733 10.4888 14.5905 9.77756 16.3809 9.77756H31.625C32.5117 9.77743 33.3897 9.95196 34.2088 10.2912C35.028 10.6304 35.7724 11.1276 36.3993 11.7545C37.0263 12.3814 37.5237 13.1257 37.863 13.9448C38.2024 14.764 38.377 15.6419 38.377 16.5285V31.7736Z" fill="white"/>
                                                <path d="M24.0031 15.0079C22.1946 15.0077 20.4267 15.5438 18.9229 16.5484C17.419 17.5531 16.2469 18.981 15.5547 20.6518C14.8625 22.3226 14.6813 24.1611 15.034 25.9349C15.3867 27.7086 16.2575 29.338 17.5362 30.6169C18.8149 31.8957 20.4442 32.7667 22.2179 33.1196C23.9916 33.4725 25.8302 33.2914 27.501 32.5994C29.1719 31.9074 30.6 30.7354 31.6047 29.2317C32.6095 27.728 33.1458 25.9601 33.1458 24.1516C33.1459 22.9509 32.9095 21.7619 32.4501 20.6526C31.9907 19.5432 31.3173 18.5352 30.4683 17.6861C29.6193 16.837 28.6114 16.1635 27.5021 15.704C26.3928 15.2445 25.2038 15.0079 24.0031 15.0079ZM24.0031 30.0778C22.8308 30.0776 21.6849 29.7298 20.7103 29.0784C19.7357 28.4269 18.9761 27.5011 18.5277 26.418C18.0793 25.3348 17.9621 24.1431 18.191 22.9934C18.4199 21.8436 18.9846 20.7876 19.8136 19.9588C20.6427 19.13 21.6989 18.5657 22.8487 18.3372C23.9985 18.1087 25.1902 18.2262 26.2732 18.675C27.3562 19.1238 28.2818 19.8837 28.9329 20.8585C29.584 21.8333 29.9314 22.9794 29.9312 24.1516C29.9312 24.93 29.7779 25.7008 29.4799 26.4199C29.182 27.1391 28.7453 27.7925 28.1948 28.3428C27.6443 28.8931 26.9908 29.3296 26.2715 29.6273C25.5523 29.925 24.7815 30.0781 24.0031 30.0778Z" fill="white"/>
                                                <path d="M33.451 16.7904C34.6273 16.7904 35.5809 15.8368 35.5809 14.6605C35.5809 13.4841 34.6273 12.5305 33.451 12.5305C32.2746 12.5305 31.321 13.4841 31.321 14.6605C31.321 15.8368 32.2746 16.7904 33.451 16.7904Z" fill="white"/>
                                            </g>
                                            <defs>
                                                <linearGradient id="paint1_linear" x1="35.7844" y1="2.81713" x2="11.4714" y2="46.5189" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#4845A2"/>
                                                    <stop offset="0.189" stop-color="#8744A1"/>
                                                    <stop offset="0.3002" stop-color="#A844A1"/>
                                                    <stop offset="0.3509" stop-color="#AB429A"/>
                                                    <stop offset="0.423" stop-color="#B43C88"/>
                                                    <stop offset="0.5078" stop-color="#C33269"/>
                                                    <stop offset="0.6017" stop-color="#D7243F"/>
                                                    <stop offset="0.6036" stop-color="#D7243E"/>
                                                    <stop offset="0.8766" stop-color="#F9A326"/>
                                                    <stop offset="1" stop-color="#F9DD26"/>
                                                </linearGradient>
                                                <clipPath id="clip0">
                                                    <rect width="48" height="48" fill="white"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </li>
                            {% elseif social_config.name == 'Youtube' %}
                                <li>
                                    <a href="{{ social_config.url }}" target="_blank">
                                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="https://www.w3.org/2000/svg">
                                            <path d="M0 35.4419V12.5581C0 5.64706 5.64706 0 12.5581 0H35.4419C42.3529 0 48 5.64706 48 12.5581V35.4419C48 42.3529 42.3529 48 35.4419 48H12.5581C5.64706 48 0 42.3529 0 35.4419Z" fill="#FF0000"/>
                                            <path d="M37.2654 20.762C37.2654 17.5773 34.6881 15 31.5034 15H16.762C13.5773 15 11 17.5773 11 20.762V27.6238C11 30.8085 13.5773 33.3858 16.762 33.3858H31.5034C34.6881 33.3858 37.2654 30.8085 37.2654 27.6238V20.762V20.762ZM28.5978 24.7018L21.9822 27.9685C21.7196 28.1163 20.8495 27.9193 20.8495 27.6238V20.9097C20.8495 20.6142 21.736 20.4172 21.9986 20.565L28.3187 24.0123C28.5814 24.1765 28.8605 24.554 28.5978 24.7018Z" fill="white"/>
                                        </svg>
                                    </a>
                                </li>
                            {% else %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endif %}
                    <span class="mb-2">{{ txt_registration_email }}</span>
                    <form action="">
                        <div class="form-group custom-input">
                            <div class="input-item">
                                <input type="text" id="name" required="">
                                <label for="name">Email của bạn</label>
                            </div>
                            <button type="submit" class="btn btn-submit main-color">Gửi</button>
                        </div>
                    </form>
                </div>

            </div>
            {% endif %}
        </div>

        <!-- Logo Sale Notification - Ministry of Industry and Trade -->
        {% if sale_noti_moit_status == 1 %}
            {% include ('default/template/common/logo_sale_noti_moit.html') %}
        {% endif %}
    </div>
    <div class="copy-right main-color">
        <div class="container text-center">
            {% if is_on_mobile != 1 %}
                {{ text_right_copy|format("#", shop_name, copy_right_link) }}
            {% else %}
                {{ text_right_copy_mobile|format("#", shop_name, copy_right_link) }}
            {% endif %}
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $("li.header-font.has-child").click(function() {
            $("#sidenav ul li svg").toggleClass("show-spt");
            $("#sidenav ul li .sub-menu").toggleClass("show-spt");
        });
    })
</script>

