{% for k, block in blocks %}
    {% set items_per_slide = block['grid'] * block['row'] %}
    <section class="py-4 bg-fourth {{ block['bestme_block_preview_class'] }}">
        <div class="container pt-lg-2">
            <div class="mb-lg-2 mb-3">
                <h2 class="text-center mb-lg-4 mb-1">{{ block['title'] }}</h2>
                <div class="pt-2 line-percent"></div>
            </div>
            <div class="row">
                {% for product_index, product in block['products'] if product_index < 4 %}
                {# calculate product price #}
                {% set price = null %}
                {% set old_price = null %}
                {% if product['is_contact_for_price'] %}
                    {% set price = contact %}
                {% else %}
                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                        {% if product['max_price_version'] is null %}
                            {% set price = product['compare_price_master'] %}
                        {% else %}
                            {% set price = product['min_compare_price_version'] %}
                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                {% set price = price ~ '-' ~ product['max_compare_price_version'] %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if product['max_price_version'] is null %}
                            {% set price = product['price_master'] %}
                        {% else %}
                            {% set price = product['min_price_version'] %}
                            {% if product['max_price_version'] != product['min_price_version'] %}
                                {% set price = price ~ '-' ~ product['max_price_version'] %}
                            {% endif %}
                        {% endif %}
                        {% if product['max_compare_price_version'] is null %}
                            {% set old_price = product['compare_price_master'] %}
                        {% else %}
                            {% set old_price = product['min_compare_price_version'] %}
                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                {% set old_price = old_price ~ '-' ~ product['max_compare_price_version'] %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="col-6 col-md-3">
                    <div class="product-item">
                        <a href="{{ product['href'] }}" class="prod-img hover-zoom-img">
                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                        </a>
                        <a href="{{ product['href'] }}" class="prod-title" title="{{ product['name'] }}">{{ product['name'] }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center my-1 my-lg-2">
                <a class="btn btn-primary" href="{{ block.view_more }}">Xem thêm</a>
            </div>
        </div>
    </section>
{% endfor %}
<!-- End product -->