<section class="py-5 mb-5 news-home">
    <div class="container mt-lg-5">
        <div class="mb-3 text-center">
            <h2 class="mb-lg-4 mb-3">TIN TỨC NỔI BẬT</h2>
            <div class="line-percent pt-lg-1 mb-2"></div>
        </div>
        <div class="row">
            {% for k, blog in blogs_news if blog['blog_category_title'] == 'tin nổi bật' %}
                <div class="col-12 col-md-4">
                <div class="news-item">
                    <a href="{{ blog['link'] }}" class="news-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    </a>
                    <p class="news-date">{{ blog['date_added']|date('d/m/Y') }}</p>
                    <a href="{{ blog['link'] }}" class="news-title fz-lg-20 fz-16">{{ blog['title'] }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ url_blog }}" class="btn btn-primary">Xem thêm</a>
        </div>
    </div>
</section>
<!-- End news -->