<section class="py-5 container container">
    <div class="row mb-lg-3">
        <div class="col-lg-6">
            <h2 class="mb-lg-4 mb-3">DỰ ÁN TIÊU BIỂU</h2>
            <div class="line-percent left pt-lg-1 mb-3 mb-lg-4"></div>
        </div>
{#        <div class="col-lg-6 text-secondary pt-2 mb-lg-4">#}
{#            <p class="mb-lg-3 mb-2" style="line-height: 2.15em;">Với nhiều năm hoạt động trong lĩnh vực, dự án#}
{#                của chúng tôi trải khắp địa bàn trên toàn quốc, chúng tôi cung cấp các sản phẩm chất lượng cao,#}
{#                gây dựng niềm tin từ khách hàng bằng những dịch vụ uy tín nhất. </p>#}
{#        </div>#}
    </div>
    <div class="row grid">
        {% for k, blog in blogs_projects if (k < 6) %}
            <div class="grid-item project-item">
                <div class="project-img hover-zoom-img">
                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                </div>
                <a class="project-title" href="{{ blog['link'] }}?type=du-an">{{ blog['title'] }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="/bai-viet?type=du-an" class="btn btn-primary my-3 my-lg-4">Xem thêm</a>
    </div>
</section>
<!-- End project -->

<style>
    @media (max-width: 768px) {
        .grid-item {
            width: 50% !important;
        }
    }
    .grid-item {
        width: 33%;
    }
</style>