{{ header }}

<div class="bestme_app_after_header">

</div>

{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

{% for section in sections_layout %}
    {% set path= 'food_farm88/template/common/section_home/'~section['file']~'.twig' %}
    <div class="{{ section.file }}">
        {% include path %}
    </div>
{% endfor %}

<div class="bestme_app_before_footer">

</div>

<style>
    .product-name{
        color: #e91e63;
        text-decoration-line: none;
    }
    .product-name:hover{
        color: #e91e63;
        text-decoration-line: none;
    }
    .video-slideshow {
        height: 370px; /* default config slide height */
    }
</style>

<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
    if (homeVideo) {
        homeVideo.init({
            sliderType: 'owl_carousel',
            videoCarouselElements: $('.video-slideshow'),
            postThumbnailElements: $('.blog-thumb-video'),
            slideshowSelector: '.owl-banner'
        });
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.owl-best-sale-product-' + '{{ k }}').length > 0) {
            const autoplayTime = undefined === jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay_time') ? 5 : jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay_time')
            jQuery('.owl-best-sale-product-' + '{{ k }}').owlCarousel({
                items: 1,
                loop: undefined !== jQuery('.owl-best-sale-product-' + '{{ k }}').data('loop') && 1 == jQuery('.owl-best-sale-product-' + '{{ k }}').data('loop'),
                margin: 30,
                autoplay: undefined !== jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay') && 1 == jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay'),
                autoplayTimeout: autoplayTime * 1e3,
                nav: false,
                dots: false,
                dotsSpeed: 1000,
                autoplaySpeed: 1000,
                navSpeed: 800
            });
        }
        {% endfor %}

        var swiper = new Swiper('.swiper-partner', {
            slidesPerView: jQuery('.swiper-partner').attr('data-limit-inline'),
            loop: jQuery('.swiper-partner').attr('data-loop') == 1 ? true : false,
            autoplay: jQuery('.swiper-partner').attr('data-auto-play') == 1 ? true : false,
            spaceBetween: 30,
            // autoplay: {
            //     delay: $('.swiper-partner').data('time'),
            // },
            breakpoints: {
                // when window width is <= 320px
                320: {
                    slidesPerView: 1,
                    spaceBetween: 0
                },
                // when window width is <= 480px
                480: {
                    slidesPerView: 1,
                    spaceBetween: 0
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 20
                },
                991: {
                    slidesPerView: 3,
                    spaceBetween: 20
                },
                1200: {
                    slidesPerView: 4,
                    spaceBetween: 20
                }
            },
        });
    });
</script>

{{ footer }}