.block-footer{
	font-family: 'Nunito', sans-serif;
    background: #232323;
    padding: 45px 0;
    color: #fff;
}
.block-footer a {
    color: #fff
}
.block-footer a:hover {
    color: #E58718;
}
.ft-title {
    line-height: 19px;
}
.ft-col ul li {
    margin-bottom: 20px;
}
.form-subcribe input.form-control {
    padding-top: 20px;
    height: 48px;
}
.form-subcribe label {
    position: absolute;
    top: 5px;
    left: 15px;
}
.form-subcribe .form-submit {
    height: 48px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
}