@media screen and (min-width:992px){
	.header .dropdown-item:hover, .header .dropdown-item.active {
		color: #F8ABA1;
		background-color: transparent;
	}
	.header .dropdown-menu:before {
		content: "";
		border-bottom: 15px solid #fcfcfc;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		position: absolute;
		top: -15px;
		right: 22px;
	}
	.page-title {
		margin-top: -60px;
	}
}
/*md*/
@media screen and (max-width: 1010px) {
	
}
@media screen and (max-width:991px) {
	#header {
		padding-top: 0;
	}
	header.header .logo{
		margin: 5px auto;
	}
	header.header .logo .custom-height {
		max-height: 92px !important; /* ignore custom height, use default config */
	}
	#navbarMainMenu {
		width: 60%;
		text-align: left;
		background-color: #f5f5f5;
		position: fixed;
		top: 0;
		left: -60%;
		display: block;
		opacity: 0;
		visibility: hidden;
		padding: 10px 0px;
		height: 100vh;
		z-index: 999;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	#navbarMainMenu.show {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}
	.header-default .navbar-light .navbar-nav .nav-link.active, .header-default .navbar-light .navbar-nav .nav-link:hover {
		color: #FCC030;
	}
	.header-default .navbar-light .navbar-nav .nav-link {
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		line-height: 30px;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #231f20;
		border-bottom: 1px solid #d8d8d8;
		line-height: 35px;
		font-size: 13px;
	}
	ul.navbar-nav {
		width: 100%;
		padding: 0px 15px;
	}
	i.close {
		margin-right: 10px;
	}
	.navbar-nav .dropdown-menu {
		border: 0;
		background-color: whitesmoke;
		padding-left: 20px;
		padding: 0px 0px 0px 30px;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		font-size: 13px;
	}
	.navbar-toggler {
		position: absolute;
		top: -13px;
		left: 0;
		border: 0;
		padding: 0;
	}
	.navbar-toggler i {
		color: #fff;
		font-size: 28px;
	}

	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-light .navbar-nav .nav-item:not(:last-child) {
		margin-right: 0;
	}
	.product-teaser-fix{
		display: none;
		visibility: hidden;
	}
	/*.pro-detail #button-add-to-cart,*/
	/*.pro-detail #buy-now{*/
		/*position: fixed;*/
		/*bottom: 0;*/
		/*left: 0;*/
		/*width: 50% !important;*/
		/*margin-bottom: 0 !important;*/
		/*z-index: 99;*/
		/*font-size: 14px !important;*/
		/*text-align: center;*/
		/*text-transform: uppercase;*/
		/*height: 45px;*/
		/*text-shadow: none;*/
		/*line-height: 15px;*/
		/*padding: 1rem 0 !important;*/
	/*}*/
	.pro-detail #buy-now{
		left: auto;
		right: 0;
	}
	.w-sm-100{
		width: 100% !important;
	}
	.product-info #carouselProDetail{
		box-shadow: none;
		border-radius: 0;
	}
	.product-info .pro-thumb-detail .carousel-inner{
		margin: 0 0 30px;
	}
	.owl-carousel.owl-product .owl-nav button.owl-prev{
		left: 0;
	}
	.owl-carousel.owl-product .owl-nav button.owl-next{
		right: 0;
	}
	.block-header .main-menu ul.navbar-nav > li{
		padding: 5px 0;
	}

	.block-header .main-menu ul > li.has-child > a>.toggle{
		display: block;
	}
	.block-header .main-menu ul ul.nav > li.has-child > a>.toggle{
		top: 13px;
	}
	.block-header .main-menu ul > li.has-child > a>.toggle{
		width: 20px;
		height: 20px;
		-webkit-mask-size: 12px;
		-mask-size: 12px;
	}
	.block-header .main-menu li ul.nav ul.nav,
	.block-header .main-menu ul.navbar-nav ul.nav{
		max-height: 0px;
		overflow: hidden;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
		padding-left: 15px;
		box-shadow: none;
		margin: 0;
		transform: none;
		background-color: transparent;
	}
	.block-header .main-menu li.active> ul.nav,
	.block-header .main-menu ul li.active> ul.nav{
		max-height: 600px;
	}
}
.logo-header-menu-fix-new .bestme-block-header-logo{
	display: none !important;
}
/*sm*/
@media screen and (max-width:767px) {
	#header {
		padding-top:15px;
	}
	.user.dropdown{
		top: -3px;
	}
	.header-default.has-shadow .bestme-block-header-logo{
		display: none;
	}
	.logo-header-menu-fix-new .bestme-block-header-logo{
		display: block !important;
	}
	.navbar-toggler {
		top: 2px;
		z-index: 9;
	}
	.fz-35 {
		font-size: 24px;
	}

	/*menu mobile*/
	.dropdown-menu.show{
		display: contents;
	}
	#block-action-header{
		text-align: center;
		padding: 35px 25px 0px 25px;
	}
	#block-action-header button{
		border: none;
		background: no-repeat;
		color: black;
	}

	#block-action-header h2.ttl-user{
		font-size: 14px;
		color: #adadad;
		margin-left: 10px;
		padding-top: 50px;
		text-align: center;
	}

	#block-action-header a{
		padding: 0 3px;
		white-space: nowrap;
		font-size: 14px;
		color: #333333;
		transition: all 0.3s;
	}

	i.close{
		margin-top: 10px;
	}
	.menu-mobile .navbar-toggler{
		top:123px !important;
		left:15px !important;
	}

	.header-default.has-shadow .menu-mobile .navbar-toggler{
		top:20px !important;
		left:15px !important;
	}

	.block-header-menu .block-header-logo {
		margin-right: auto;
		padding: 10px 0;
	}
	.block-header-menu .block-header-logo img {
		max-height: 30px !important;
	}
	#sidenav {
		width: 100%;
		padding: 60px 0;
		z-index: 1030;
		left: 0;
		position: fixed;
		top: 0;
	}
	#sidenav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-top: 25px;
	}
	#sidenav ul li {
		position: relative;
	}
	#sidenav ul li a {
		display: block;
		padding: 5px 30px 5px 10px !important;
		text-decoration: none;
		font-family: "Lato", sans-serif;
		color: #333333;
		font-size: 15px;
		-webkit-box-shadow: inset 0px 1px 0px #EEEEEE;
		box-shadow: inset 0px 1px 0px #EEEEEE;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
	}
	#sidenav ul li a:hover {
		color: #fda7a8;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
	}
	#sidenav ul li svg {
		position: absolute;
		top: 0;
		right: 10px;
		width: 20px;
		height: 33px;
		cursor: pointer;
		z-index: 1040;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		padding: 0 5px;
	}
	#sidenav ul li svg path {
		fill: #333333;
	}
	#sidenav ul li .rotate {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
	}
	#sidenav ul li .sub-menu {
		width: 100%;
		font-size: 14px;
		padding-left: 10px;
		display: none;
		overflow-y: scroll;
		max-height: 300px;
		-webkit-transition: max-height 0.2s ease-out;
		transition: max-height 0.2s ease-out;
		padding-top: 0;
	}
	#sidenav ul li .sub-menu li a {
		-webkit-box-shadow: none;
		box-shadow: none;
		font-size: 13px;
	}
	#sidenav ul li .sub-menu ul {
		display: none;
		overflow: hidden;
		-webkit-transition: max-height 0.2s ease-out;
		transition: max-height 0.2s ease-out;
		padding-left: 10px;
		padding-top: 0;
	}
	#sidenav ul li .sub-menu ul li a {
		font-size: 12px;
	}
	#sidenav ul li:first-child a {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.menu-mobile {
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
	}

	.block-header .header-main #block-action-header .action-user .dropdown .dropdown-menu {
		left: 0 !important;
		top: 10px !important;
	}

	.block-header-menu .block-header-search {
		width: 100%;
	}
	/*end menu mobile*/
}


@media screen and (max-width:680px) {
	.slider-info h2 {
		font-size: 24px;
	}
}

/*xs*/
@media screen and (max-width:576px) {
	.slider-info h2 {
		font-size: 16px;
	}
	.slider-info p {
		font-size: 12px;
	}
}

@media screen and (max-width:480px) {
	.header-info {
		width: 90%;
	}
	.slider-info {
		display: none;
	}
	.slider-info p {
		font-size: 10px;
	}
}