{{ header }}

<main class="main-content">
    <div class="container">
        <div class="my-5 py-4 fourth-color text-center">
            <h1 class="font-32 font-weight-500 my-3 text-uppercase">Mua hàng thành công! <img class="ml-2" style="position: relative; top: -4px;" src="{{ theme_directory }}/img/icons/ok.svg" width="32"></h1>
            <p class="my-3">Đơn hàng của bạn đã được đặt thành công! Mã đơn hàng: {{ order_code }}</p>
            <a class="second-color font-weight-500" href="{{ url_shop }}"><ins>TIẾP TỤC MUA SẮM</ins></a>
        </div>
    </div> <!-- End container -->
</main> <!-- End main content -->

{{ footer }}