<!-- block-footer -->
<footer id="footer" class="block-footer bestme-block-footer">
    <a href="#" class="back-to-top btn btn-primary rounded-40" style="display: none;">
        <i class="icon icon-arrow-up"></i>
    </a>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                {% if contact.visible == 1 %}
                    <div class="col-lg-3 mb-3 mb-lg-0 ft-col">
                        <h3 class="ft-title text-uppercase fz-16 my-3 fw-500">{{ visible_contact_title }}</h3>
                        <ul class="list-contact list-unstyled mt-4">
                            <li class="row my-2">
                                <span class="col-4 text-second">{{ text_address }}</span>
                                <span class="col-8">{{ contact.address | replace({'&lt;br&gt;': '<br>'}) }}</span>
                            </li>
                            <li class="row my-2">
                                <span class="col-4 text-second">{{ text_phone }}</span>
                                <span class="col-8"><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></span>
                            </li>
                            <li class="row my-2">
                                <span class="col-4 text-second">Email:</span>
                                <span class="col-8 overflow-auto"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span>
                            </li>
                        </ul>
                        {% if sale_noti_moit_status == 1 %}
                            {% include ('default/template/common/logo_sale_noti_moit.html') %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-lg-9">
                    <div class="row">
                        {% if visible_collection == 1 %}
                            <div class="col-lg-3 ft-col">
                                <h3 class="ft-title text-uppercase fz-16 fw-500 my-3">{{ visible_collection_title }}</h3>
                                <ul class="nav flex-column">
                                    {% for collection in collections %}
                                        <li>
                                            <a href="{{ collection.url_link }}" class="nav-link px-0">{{ collection.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <!-- End: Footer Column -->
                        {% if visible_quick_links == 1 %}
                            <div class="col-lg-3 col-12 ft-col">
                                <h3 class="ft-title text-uppercase fz-16 fw-500 my-3">{{ visible_quick_links_title }}</h3>
                                <ul class="nav flex-column">
                                    {% for quick_link in quick_links %}
                                        <li>
                                            <a href="{{ quick_link.url_link }}" class="nav-link px-0">{{ quick_link.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% if visible_subscribe == '1' %}
                            <div class="col-lg-6 ft-col pr-0">
                                <h3 class="ft-title text-uppercase fz-16 fw-500 my-3">Đăng ký theo dõi</h3>
                                <form action="" class="form-subscriber mb-4">
                                    <p class="">
                                        {{ visible_subscribe_title }}
                                    </p>
                                    <div class="input-group mb-3 col-10 p-0">
                                        <div class="input-group">
                                            <input type="email" class="form-control" id=""
                                                   placeholder="Nhập email của bạn">
                                            <div class="input-group-append">
                                                <button type="submit"
                                                        class="btn btn-primary form-submit">
                                                    Theo dõi
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% if visible_subscribe_social_network == 1 %}
                                    <div class="d-flex">
                                        <span class="ft-title fw-500 fz-16 mr-4 align-self-center">THEO DÕI QUA:</span>
                                        {% for social_config in social_configs %}
                                            {% if  social_config.name == 'Facebook' %}
                                            <a href="{{ social_config.url }}" class="mr-4">
                                                <img src="{{ theme_directory }}/img/icons/facebook.png" width="32px">
                                            </a>
                                            {% elseif  social_config.name == 'Instagram' %}
                                            <a href="{{ social_config.url }}" class="mr-4">
                                                <img src="{{ theme_directory }}/img/icons/instagram.svg" width="32px">
                                            </a>
                                            {% elseif social_config.name == 'Youtube' %}
                                            <a href="{{ social_config.url }}" class="mr-4">
                                                <img src="{{ theme_directory }}/img/icons/youtube.svg" width="32px">
                                            </a>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End main footer -->

    <div class="copyright p-3 bg-third">
        <div class="container text-center text-white">
            Copyright &copy2019 <a href="{{ copy_right_link }}">Bestme</a>. All rights reserved.
        </div>
        <!-- End container -->
    </div>
    <div id="overlay"></div>
</footer>
<!-- End footer -->
<script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>
<!-- End Bootstrap -->