<footer style="word-break: break-word;" class="mt-5">
    <div class="block-footer second-bg text-white bestme-block-footer footer-top-bg" id="footer-banner" style="padding: 60px 0">
        <div class="container">
            <div class="row">
                {% if contact.visible == 1 and visible_contact_title %}
                    <div class="col-12 col-md-3">
                        <a href="{{ home }}" class="logo-footer"><div style="background-image: url({{ logo }})" class="image mb-3"></div></a>
                        <h2 class="font-14 font-weight-400 mb-3">{{ visible_contact_title }}</h2>
                        {% if contact.address %}
                            <div class="d-flex mb-2">
                                {#<div class="col-3 p-0">{{ text_address }}</div>#}
                                <div class="mr-3 p-0"><i class="fas fa-map-marker-alt"></i></div>
                                <div class="col p-0">{{ contact.address }}</div>
                            </div>
                        {% endif %}
                        {% if contact.phone %}
                            <div class="d-flex mb-2">
                                <div class="mr-3 p-0"><i class="fas fa-phone"></i></div>
                                <div class="col p-0"><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></div>
                            </div>
                        {% endif %}
                        {% if contact.email %}
                            <div class="d-flex mb-2">
                                <div class="mr-3 p-0"><i class="fas fa-envelope"></i></div>
                                <div class="col p-0"><a href="mail:{{ contact.email }}">{{ contact.email }}</a></div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if visible_collection == 1 %}
                <div class="col-12 col-md-3 my-2">
                    <h2 class="text-uppercase font-18 font-weight-500 mb-3">{{ visible_collection_title }}</h2>
                    {% for collection in collections %}
                        <a class="d-flex mb-2" href="{{ collection.url_link }}">{{ collection.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if visible_quick_links == 1 %}
                <div class="col-12 col-md-3 my-2">
                    <h2 class="text-uppercase font-18 font-weight-500 mb-3">{{ visible_quick_links_title }}</h2>
                    {% for quick_link in quick_links %}
                        <a class="d-flex mb-2" href="{{ quick_link.url_link }}">{{ quick_link.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if visible_subscribe == 1 %}
                <div class="col-12 col-md-3 footer-map-store">
                    {#<h2 class="text-uppercase font-16 font-weight-bold mb-4">{{ visible_subscribe_title }}</h2>#}
                    <div class="map-store mb-4"></div>
                    {% if visible_subscribe_social_network == 1 %}
                    {#<div class="font-32 mb-3">#}
                        {#{% for social_config in social_configs %}#}
                        {#    {% if  social_config.name == 'Facebook' %}#}
                        {#        <a href="{{ social_config.url }}" class="mb-3 mr-4"><img src="{{ theme_directory }}/img/footer-Rectangle1.png"></a>#}
                        {#    {% elseif  social_config.name == 'Instagram' %}#}
                        {#        <a href="{{ social_config.url }}" class="mb-3 mr-4"><img src="{{ theme_directory }}/img/footer-Rectangle2.png"></a>#}
                        {#    {% elseif social_config.name == 'Youtube' %}#}
                        {#        <a href="{{ social_config.url }}" class="mb-3"><img src="{{ theme_directory }}/img/footer-Rectangle3.png"></a>#}
                        {#    {% else %}#}
                        {#    {% endif %}#}
                        {#{% endfor %}#}
                        
                    {#</div>#}
                    {% endif %}
                    {#<form class="newsletter-form">#}
                        {#<p>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn!</p>#}
                        {#<div class="input-group w-100">#}
                        {#    <div class="bg-white rounded-left py-2 px-3 flex-fill">#}
                        {#        <p class="text-secondary font-10 m-0">Email của bạn</p>#}
                        {#        <input type="email" class="border-0 btn-outline-light w-100 main-color">#}
                        {#    </div>#}
                        {#    <div class="input-group-append">#}
                        {#        <button class="btn btn-outline-secondary main-bg text-white py-3 px-4 text-uppercase" type="submit">Đăng ký</button>#}
                        {#    </div>#}
                        {#</div>#}
                        {#{% for social_config in social_configs %}#}
                        {#    {% if  social_config.name == 'Facebook' %}#}
                        {#        <a href="{{ social_config.url }}" class="mb-3 mr-4"><img src="{{ theme_directory }}/img/footer-Rectangle4.png"></a>#}
                        {#    {% elseif  social_config.name == 'Instagram' %}#}
                        {#        <a href="{{ social_config.url }}" class="mb-3 mr-4"><img src="{{ theme_directory }}/img/footer-Rectangle5.png"></a>#}
                        {#    {% elseif social_config.name == 'Youtube' %}#}
                        {#        <a href="{{ social_config.url }}" class="mb-3"><img src="{{ theme_directory }}/img/footer-Rectangle6.png"></a>#}
                        {#    {% else %}#}
                        {#    {% endif %}#}
                        {#{% endfor %}#}
                    {#</form>#}
                </div>
                {% endif %}
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End footer -->
    <div class="copy-right fourth-bg text-white text-center py-3 footer-bottom-bg">
        {% if is_on_mobile != 1 %}
            {{ text_right_copy_jupiter|format("#", shop_name, copy_right_link) }}
        {% else %}
            {{ text_right_copy_mobile_jupiter|format("#", shop_name, copy_right_link) }}
        {% endif %}
    </div>
</footer> <!-- End footer -->