<!DOCTYPE html>
<html lang="vi">
<body>
<div class="page-wrapper">
    {{ custom_header }}
    <!-- End header -->
    <div class="content-wrapper row m-0">
        {{custom_column_left}}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="box-content">
                    <div class="page-header">
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="app-logo">
                                <img src="{{ app_logo }}">
                                <span>{{ app_name }}</span>
                            </div>
                            <div class="link-to-app">
                                <a href="{{ link_to_app }}">{{ text_go_to_app }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="box-wrap">
                            <div class="tab-content">
                                <h4>{{ text_sort_description }}</h4>
                                <p>Oncustomer Livechat là ứng dụng chăm sóc khách hàng đa kênh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="box-wrap">
                            <div class="tab-content">
                                <h4>{{ text_detail }}</h4>
                                <p>
                                    <strong>1. Nhanh chóng nhận diện thông tin khách hàng</strong>
                                </p>
                                <p>
                                    - X2 tốc độ nhận diện khách hàng với hiển thị thông tin ngay khi khách nhắn tới, cung cấp đủ thông tin để bán hàng và chăm sóc khách hàng dễ dàng hơn.
                                </p>
                                <p>
                                    - Session Replay - lịch sử thông tin truy cập: Ngay cả khi khách hàng chưa hề tương tác, bạn đã có thông tin lịch sử từ rất lâu trước đó.
                                </p>
                                <p>
                                    - Tích hợp đơn giản: Tích hợp thông tin dễ dàng với các hệ thống bạn đang sử dụng, từ CRM tới Zalo, Facebook Messenger, Facebook Page. Hiển thị ngay trên nền tảng.
                                </p>
                                <p>
                                    - Ra quyết định nhanh chóng: Bạn biết thông tin khách hàng, địa điểm, mức thu nhập hoặc trạng thái khách hàng, bạn ra quyết định nhanh chóng và dành chiến thắng.
                                </p>
                                <p>
                                    <strong>
                                        2. Tự động thu và nhập lead bằng Chatbot & CRM
                                    </strong>
                                </p>
                                <p>
                                    - Thu lead bằng chatbot: Chatbot tự động chào hỏi và thu lead ngay khi họ sử dụng sản phẩm của doanh nghiệp.
                                </p>
                                <p>
                                    - Tự động nhập lead lên CRM: Nhân viên của bạn nhận thông tin Lead sớm nhất, đầy đủ nhất một cách chủ động.
                                </p>
                                <p>
                                    - Không bỏ lỡ tin nhắn nào, comment nào: Đừng để khách chỉ đến website của bạn, nhắn tin vào Facebook của bạn và không để lại bất kỳ thông tin nào.
                                </p>
                                <p>
                                    <strong>3. Quản lý tương tác chỉ trên một nền tảng duy nhất</strong>
                                </p>
                                <p>
                                    - Quản lý Fanpage, Facebook Message: Tin nhắn và comment đi và đến từ nhiều Facebook Messenger, Fanpage, mua hàng, bán hàng và chăm sóc từ Facebook tại duy nhất một nơi.
                                </p>
                                <p>
                                    - Quản lý Zalo: Tính năng gửi nhận tin nhắn từ nhiều Zalo Official Account ngay trên cùng nền tảng.
                                </p>
                                <p>
                                    - Thông tin cuộc gọi; Kết nối với tổng đài để nghe lại lịch sử cuộc gọi ngay khi cần khách hàng cần bạn.
                                </p>
                                <p>
                                    <strong>4. Quản lý thông tin dựa trên báo cáo chỉ số chi tiết</strong>
                                </p>
                                <p>
                                    - Hỗ trợ bạn loại bỏ các quyết định cảm tính, nâng cao độ chính xác với thông tin luôn sẵn sàng mỗi khi bạn cần.
                                </p>
                                <p>
                                    - Báo cáo chỉ số khách hàng: Thông tin nguồn khách, tỉ lệ khách hàng mới, vị trí địa lý của khách hàng.
                                </p>
                                <p>
                                    - Báo cáo chỉ số hài lòng: Bạn nói bạn chăm sóc và bán hàng tốt, vậy khách của bạn có thực sự hài lòng.
                                </p>
                                <p>
                                    - Hiệu suất công việc của nhân viên: Báo cáo chi tiết hiệu suất đến từng nhân viên, bạn quản lý team tốt hơn.
                                </p>
                                <p>
                                    <strong>Tính năng nổi bật</strong>
                                </p>
                                <p>
                                    - Đa kênh: Kết nối không giới hạn Facebook Fanpage, Facebook Messenger, Zalo và tất cả các website của bạn.
                                </p>
                                <p>
                                    - Hệ thống chỉ số: Tốc độ trả lời đầu tiên, tốc độ giải quyết vấn đề cho khách hàng, độ hài lòng khách hàng và hơn thế nữa.
                                </p>
                                <p>
                                    - Giao hội thoại tự động; Tự động giao hội thoại tới thành viên, tới bộ phận liên quan.
                                </p>
                                <p>
                                    - Gửi tin nhắn chiến dịch: Cá nhân hoá chiến dịch tới Web, Facebook và cả Zalo dựa trên phân loại khách hàng chi tiết.
                                </p>
                                <p>
                                    - Phân loại khách hàng: Cá nhân hoá việc chăm sóc khách hàng bằng cách phân loại thông tin, chia nhóm khách hàng mạnh mẽ.
                                </p>
                                <p>
                                    - Câu hỏi thường gặp: Livechat đầu tiên có tính năng Câu hỏi thường gặp ngay trên màn hình chat.
                                </p>
                                <p>
                                    - Kết nối thông tin với CRM, qua API: Kết nối trung tâm thông tin khách hàng Customer 360 mạnh mẽ từ những mảng dữ liệu phân mảnh.
                                </p>
                                <p>
                                    - Đánh giá độ hài lòng CSAT: Đánh giá độ hài lòng về phục vụ của bạn bằng chỉ số CSAT và báo cáo mạnh mẽ.
                                </p>
                                <p>
                                    - Tracking thông tin khách hàng: Theo dõi, lưu trữ thông tin khách hàng ngay cả khi khách hàng vào website và chưa bao giờ liên lạc với bạn.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{{ footer }}
<style>
    .container-fluid{
        background: #FFF;
        margin-top: 20px;
    }
    .border-tab{
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #CCC;
    }
    .app-logo img{
        width: 60px;
        margin-right: 10px;
    }
    .app-logo span{
        font-size: 16px;
        font-weight: bold;
    }
    .link-to-app{
        padding-top: 20px;
    }
    .link-to-app a{
        background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
        border: 1px solid #ED592A;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
        border-radius: 3px;
        padding: 5px 10px;
        color: #fff;
    }
    .tab-content{
        padding:20px;
    }
</style>