{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb">
                <ol class="breadcrumb justify-content-lg-center">
                    <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
                </ol>
            </nav>
            <!-- End breadcrumb -->

            {% if error %}
                <div class="col-12 col-md-12">
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                </div>
            {% endif %}

            <div class="wrap-auth-form col-12 col-lg-7 mx-auto mb-5 border rounded py-4">
                <div class="text-center">
                    <h1 class="page-title mt-4 mb-lg-4">Đăng ký tài khoản</h1>
                </div>

                <!-- Form -->
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-register px-3 pb-4 px-lg-5 bg-white">
                    <div class="form-row form-group">
                        <label class="col-lg-4 col-12 pt-2">Họ tên:</label>
                        <div class="col">
                            <input type="text" class="form-control" name="fullname" value="{{ fullname }}" required>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <label class="col-lg-4 col-12 pt-2">Email:</label>
                        <div class="col">
                            <input type="email" class="form-control" name="email" value="{{ email }}" required>
                        </div>
                    </div>
                    <div class="form-row form-group position-relative">
                        <label class="col-lg-4 col-12 pt-2">Mật khẩu:</label>
                        <div class="input-password-group col">
                            <input type="password" name="password" class="form-control" required>
                            <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                        </div>
                    </div>
                    <div class="form-row form-group position-relative">
                        <label class="col-lg-4 col-12 pt-2">Nhập lại mật khẩu:</label>
                        <div class="input-password-group col">
                            <input type="password" name="confirm_password" class="form-control" required>
                            <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                        </div>
                    </div>
                    <button class="btn btn-primary p-3 mt-3 fw-500 text-uppercase w-100 fz-18" type="submit">
                        Đăng ký
                    </button>
                </form>
                <!-- End: Form -->
                <div class="text-center mb-3">
                    Bạn đã có tài khoản? <a class="ml-3 fw-500" href="{{ urllogin }}">Đăng nhập</a>
                </div>
            </div>
            <!-- End wrap-form-login -->
        </div>
        <!-- End: container -->
    </div>
    <!-- End: main content -->
</main>
<!-- ELM PAGES -->

{{ footer }}