{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active main-color">Quên mật khẩu</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-user-login">
    <div class="container">
        <div class="user-login">

            <div class="user-login forgot-pass">
                <div class="form-login">
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    <form action="{{ action }}" method="post" enctype="multipart/form-data">
                        <p class="header-font">Khôi phục mật khẩu</p>

                        <div class="form-group">
                            <input type="email" name="email" id="" required class="form-control" placeholder="Email"
                                   aria-describedby="helpId">
                        </div>

                        <div class="form-group justify-content-start">
                            <button type="submit" class="btn btn-submit btn-pass">Gửi</button>
                            <a href="{{ home }}">Bỏ qua</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

{{ footer }}