<script>
    const COLOR_1 = [
        '#B2182B',
        '#D6604D',
        '#F4A582',
        '#FDDBC7',
        '#FFF6C8',
        '#E0E0E0',
        '#BABABA',
        '#878787',
        '#4D4D4D']

    const COLOR_2 = [
        '#D6604D',
        '#F4A582',
        '#FDDBC7',
        '#FFF6C8',
    ]

    const selector = {
        receiptVoucherType               : '#receipt-follow-types-chart',
        paymentVoucherType               : '#payment-follow-types-chart',
        receiptVoucherFollowPaymentMethod: '#receipt-voucher-follow-payment-method-chart',
        paymentVoucherFollowPaymentMethod: '#payment-voucher-follow-payment-method-chart',
        openBalanceValue                 : '.opening-balance-value',
        cashInflowValue                  : '.cash-inflow-value',
        cashOutflowValue                 : '.cash-outflow-value',
        closeBalanceValue                : '.close-balance-value',
    }

    var CHART = {
        receiptFollowTypes               : null,
        paymentVoucherTypes              : null,
        receiptVoucherFollowPaymentMethod: null,
        paymentVoucherFollowPaymentMethod: null
    }

    renderAllChart();

    function renderAllChart($startDate = '', $endDate = '') {
        renderChart('{{ action_receipt_voucher_follow_type | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', CHART.receiptFollowTypes, selector.receiptVoucherType, $startDate, $endDate, function (result) {
            CHART.receiptFollowTypes = result
        })
        renderChart('{{ action_payment_voucher_follow_type | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', CHART.paymentVoucherTypes, selector.paymentVoucherType, $startDate, $endDate, function (result) {
            CHART.paymentVoucherTypes = result
        })
        renderChart('{{ action_receipt_voucher_follow_payment_method | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', CHART.receiptVoucherFollowPaymentMethod, selector.receiptVoucherFollowPaymentMethod, $startDate, $endDate, function (result) {
            CHART.receiptVoucherFollowPaymentMethod = result
        }, COLOR_2)
        renderChart('{{ action_payment_voucher_follow_payment_method | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', CHART.paymentVoucherFollowPaymentMethod, selector.paymentVoucherFollowPaymentMethod, $startDate, $endDate, function (result) {
            CHART.paymentVoucherFollowPaymentMethod = result
        }, COLOR_2)
        renderReviewBox($startDate, $endDate)
    }

    function renderReviewBox($startDate = '', $endDate = '') {
        $.getJSON('{{ action_get_overview_data | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {
            start: $startDate,
            end  : $endDate
        }, function (response) {
            $(selector.openBalanceValue).html(response.opening_balance);
            $(selector.cashInflowValue).html(response.cash_inflow);
            $(selector.cashOutflowValue).html(response.cash_outflow);
            $(selector.closeBalanceValue).html(response.closing_balance);
        })
    }

    function renderChart($action, $chart, $canvas, $startDate, $endDate, $callback, $color = COLOR_1) {
        $($canvas + '-box .image-loading').show();
        $.getJSON($action, {
            start: $startDate,
            end  : $endDate
        }, function (response) {
            $($canvas + '-box .image-loading').hide();
            if (response.length > 0) {
                $($canvas).show();
                $($canvas + '-box .cash-flow-chart-no-data').hide();
            } else {
                $($canvas + '-box .cash-flow-chart-no-data').show();
                $($canvas).hide();
            }

            var data = []
            var chartLabels = [];
            var percent = []

            for (let i in response) {
                data.push(parseInt(response[i].total_amount))
                chartLabels.push(response[i].name)
                percent.push(response[i].percent)
            }
            if (!$chart) {
                $callback(createChart($canvas, chartLabels, data, percent, $color))
            } else {
                $chart.data.datasets[0].data = data
                $chart.data.datasets[0].percent = percent
                $chart.data.datasets[0].labels = chartLabels
                $chart.data.labels = chartLabels
                updateChart($chart, selectorToClassOrId($canvas) + "-legend")
            }
        });
    }

    function createChart($canvas, $label, $data, $percent, $color) {
        var ctx = document.getElementById(selectorToClassOrId($canvas)).getContext('2d');
        ctx.height = 180;
        ctx.width = 180;

        var chart = new Chart(ctx, {
            type   : 'doughnut',
            data   : {
                labels  : $label,
                datasets: [{
                    backgroundColor     : $color,
                    data                : $data,
                    labels              : $label,
                    percent             : $percent,
                    borderWidth         : 0,
                    hoverBorderWidth    : 5,
                    hoverBorderColor    : $color,
                    hoverBackgroundColor: $color
                }]
            },
            options: {
                maintainAspectRatio: false,
                onResize           : function (chart1) {
                    var chartSize = $(".doughnut-chart-area").width() / 2 > 180 ? 180 : 150
                    chart1.canvas.parentNode.style.height = chartSize;
                    chart1.canvas.parentNode.style.width = chartSize;
                },
                tooltips           : {
                    backgroundColor: '#FFFFFF',
                    borderColor    : '#333',
                    titleFontColor : '#000',
                    borderWidth    : 1,
                    footerFontColor: '#000',
                    callbacks      : {
                        footer        : function (tooltipItem, data) {
                            var amount = data.datasets[0].data[tooltipItem[0].index] || '';
                            amount = parseInt(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3)
                            return '    ' + amount;
                        },
                        label         : function (tooltipItem, data) {
                            var label = data.labels[tooltipItem.index] || '';
                            return label
                        },
                        labelTextColor: function (tooltipItem, chart) {
                            return '#000';
                        }
                    }
                },
                legend             : {
                    display: false
                },
                cutoutPercentage   : 65,
                legendCallback     : function (chart) {
                    var chartId = $($canvas).data('chart-id')
                    var text = '<ul class="' + chartId + '-legend chart-legend">';
                    var ds = chart.data.datasets[0];
                    for (var i = 0; i < ds.data.length; i++) {
                        text += '<li>' +
                            '<span style="background-color:' + ds.backgroundColor[i] + '">' + '</span>' +
                            '<span>' + ds.labels[i] + '</span>' +
                            '<span>' + ds.percent[i] + '%</span><' +
                            '/li>'
                    }
                    text += '</ul>';
                    return text;
                }
            }
        });

        var chartSize = $(".cash-flow-chart-area").width() / 2 > 180 ? 180 : 150
        chart.canvas.parentNode.style.height = chartSize;
        chart.canvas.parentNode.style.width = chartSize;

        var myLegendContainer = document.getElementById(selectorToClassOrId($canvas) + "-legend");
        myLegendContainer.innerHTML = chart.generateLegend();
        // hidden and show indicator when click on the label
        // var legendItems = myLegendContainer.getElementsByTagName('li');
        // for (var i = 0; i < legendItems.length; i += 1) {
        //     legendItems[i].addEventListener("click", legendClickCallback, false);
        // }
        return chart;
    }

    function updateChart($chart, $legend) {
        $chart.update()
        var myLegendContainer = document.getElementById($legend);
        myLegendContainer.innerHTML = $chart.generateLegend();

        // hidden and show indicator when click on the label
        // var legendItems = myLegendContainer.getElementsByTagName('li');
        // for (var i = 0; i < legendItems.length; i += 1) {
        //     legendItems[i].addEventListener("click", legendClickCallback, false);
        // }
    }

    function legendClickCallback(event) {

        event = event || window.event;

        var target = event.target || event.srcElement;
        while (target.nodeName !== 'LI') {
            target = target.parentElement;
        }
        var parent = target.parentElement;

        var chartId = parent.classList[0].split("-")[0];

        var chart = CHART[chartId];
        var index = Array.prototype.slice.call(parent.children).indexOf(target);
        var meta = chart.getDatasetMeta(0);
        var item = meta.data[index];

        if (item.hidden === null || item.hidden === false) {
            item.hidden = true;
            target.classList.add('hidden');
            $(this).css('text-decoration', 'line-through')
        } else {
            target.classList.remove('hidden');
            item.hidden = null;
            $(this).css('text-decoration', 'none')
        }
        chart.update();
    }

    function selectorToClassOrId(selector) {
        return selector.slice(1)
    }
</script>