<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {{ cssResource }}
{#    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
{#    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/style.css">#}
{#    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/responsive.css">#}
{#    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>

    <!-- Bootstrap -->
    {{ jsResource }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{#    <script type="text/javascript" src="{{ theme_directory }}/js/jquery.3.3.1.min.js"></script>#}
{#    <script type="text/javascript" src="{{ theme_directory }}/js/popper.min.js"></script>#}
{#    <script type="text/javascript" src="{{ theme_directory }}/js/bootstrap.min.js"></script>#}
{#    <script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
{#    <script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
{#    <script type="text/javascript" src="{{ theme_directory }}/js/main.js"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <!-- End Bootstrap -->
    <style>
        .icon.icon-external-link{
            -webkit-mask-image:  url('{{ theme_directory }}/img/icons/logo.png');
            mask-image: url('{{ theme_directory }}/img/icons/logo.png');
        }
    </style>
    
    {# dev_HongNga #}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/dev_hongnga.css">
    <script type="text/javascript" src="{{ theme_directory }}/js/dev_hongnga.js"></script>
</head>
<body class="front-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<div class="page-wrapper">

    <!-- header.html -->
    <header class="block-header" style="min-height: auto">
        <div class="header-top third-bg" id="header-top-infor">
            <div class="container">
                <div class="d-flex">
                    <span class="bestme-block-banner-top header-banner-top-left d-flex">
                            <div class="social-facebook"></div>
                            <div class="social-instagram"></div>
                            <div class="social-youtube"></div>
                    </span>
                    <div class="ml-auto header-banner-top-right">
                        <ul class="nav">
                            <li class="nav-item"><a href="" class="email-info text-white"><i class="fas fa-envelope"></i><span></span></a></li>
                            {#<li class="nav-item"><a href="" class="address-info text-white"></a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix-content" id="header-content">
            <div class="container header-content-firstly">
                <form action="{{ urlserach }}" method="get">
                <div class="row">
                    <div class="col-12 col-md-2 block-header-logo">
                        <a href="{{ home }}" class="bestme-block-header-logo">
                           <img src="{{ logo }}"
                                   {% if logo_height != '' %}
                                       class="custom-height"
                                   {% endif %}
                                title="{{ name }}" alt="{{ name }}">
                        </a>
                    </div>
                    <div class="col-12 col-md-7 form-search-header d-flex align-self-center">
                        <div class="block-header-menu w-100">
                                <nav class="navbar navbar-expand-lg navbar-light px-0 p-md-0 bestme-block-header-menu">
                                    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarMainMenu">
                                        <ul class="nav">
                                            {% for idx, m in main_menu %}
                                                {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                                    <li class="nav-item">
                                                        {# one level #}
                                                        <a class="jupi_main_color nav-link second-color-hover {{ result_active_menu == m.url ? 'active second-color border-main' : '' }}  {{ idx == -1 ? 'active second-color border-main' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item has-child">
                                                        {# two levels #}
                                                        <a href="{{ m.url }}" class="jupi_main_color nav-link">{{ m.text }}<span class="toggle"></span></a>
                                                        <ul class="nav child-nav">
                                                            {% for it in m.items %}
                                                                {% if it.items is defined and it.items|length > 0 %}
                                                                    <li class="nav-item has-child">
                                                                        <a href="{{ it.url }}">{{ it.text }}<span class="toggle"></span></a>
                                                                        <ul class="nav child-nav">
                                                                            {% for it3 in it.items %}
                                                                                <li class="nav-item"><a href="{{ it3.url }}"">{{ it3.text }}</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                    </div>
                    <div class="col-12 col-md-3 text-right align-self-center cart-area header-icon-log-in px-3 font-20">
                        
                            <a href="{{ my_account }}" id="dropdownMenuButton" class="font-16 font-weight-400" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,18"><i class="icon icon-user"></i>
                                {% if logged_in == '' %}
                                    
                                {% else %}
                                    {{ logged_user }}
                                {% endif %}
                            </a>
                            {% if logged_in == '' %}
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item d-flex" href="{{ login }}"><i class="icon icon-user mr-3 font-20"></i>Đăng nhập</a>
                                <a class="dropdown-item d-flex" href="{{ register }}"><i class="icon icon-user mr-3 font-20"></i>Đăng ký</a>
                            </div>
                            {% else %}
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item d-flex" href="{{ my_account }}"><i class="icon icon-user mr-3 font-20"></i>Tài khoản của tôi</a>
                                    <a class="dropdown-item d-flex" href="{{ logout }}"><i class="icon icon-external-link mr-3 font-20"></i>Đăng xuất</a>
                                </div>
                            {% endif %}
                            <a href="{{ href_my_orders }}" class="rounded-2 pl-3 header-top-cart">
                                <i class="icon icon-cart-solid icon-shopping"></i>
                                <span class="icon-shopping-border quantity main-bg border-main">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                            </a>
                        
                    </div>
                </div> <!-- End row -->
                </form>
                <div class="main-menu-wrapper main-menu-fixed" style="background: transparent!important">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 category-menu-header">
                                <a class="menu-title second-bg" data-toggle="collapse" href="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">DANH MỤC SẢN PHẨM</a>
                                <div class="collapse" id="collapseCategory">
                                    <ul class="nav border-main">
                                        {% for category in categories %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ category.url }}">{{ category.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="block-header-menu">
                                <nav class="navbar navbar-expand-lg navbar-light px-0 p-md-0 bestme-block-header-menu">
                                    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarMainMenu">
                                        <ul class="nav">
                                            {% for idx, m in main_menu %}
                                                {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                                    <li class="nav-item">
                                                        {# one level #}
                                                        <a class="nav-link second-color-hover {{ result_active_menu == m.url ? 'active second-color border-main' : '' }}  {{ idx == -1 ? 'active second-color border-main' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item has-child">
                                                        {# two levels #}
                                                        <a href="{{ m.url }}" class="nav-link second-color-hover {{ result_active_menu == m.url ? 'active second-color border-main' : '' }}">{{ m.text }}<span class="toggle"></span></a>
                                                        <ul class="nav child-nav">
                                                            {% for it in m.items %}
                                                                {% if it.items is defined and it.items|length > 0 %}
                                                                    <li class="nav-item has-child">
                                                                        <a href="{{ it.url }}">{{ it.text }}<span class="toggle"></span></a>
                                                                        <ul class="nav child-nav">
                                                                            {% for it3 in it.items %}
                                                                                <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div> <!-- End row -->
                    </div> <!-- End oontainer -->
                </div> <!-- End main-menu-wrapper -->
            </div> <!-- End container -->

            <div class="main-menu-wrapper main-menu-bg main-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-10 my-2 category-menu-header">
                            <div class="input-group">
                                <div class="input-group-icon flex-fill">
                                    <form action="{{ urlserach }}" method="get" class="w-100">
                                        {#<i class="icon icon-search fifth-bg font-18"></i>#}
                                        <input type="text" name="search" class="form-control bg-white third-color border-light" placeholder="Nhập từ khóa bạn muốn tìm..." aria-label="Bạn cần tìm gì?">
                                        <input type="hidden" name="route" value="common/shop">
                                        <button class="btn btn-search px-2 border-0" type="submit"><i class="fas fa-search icon-search-boder"></i></button>
                                    </form>
                                </div>
                                <div class="input-group-append ml-auto input-group-bg">
                                    {#<button class="btn btn-outline-secondary main-bg px-3 border-0 py-2 text-white text-uppercase font-weight-500" type="submit">Tìm kiếm</button>#}
                                    <div class="dropdown dropdown-search">
                                        <button class="btn btn-input-secondary dropdown-toggle pr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           <span class="txt-category-title">{{ category_title }}</span>
                                        </button>
                                        <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton" style="transform:none;">
                                            {% for category in categories %}
                                                <li class="list-group-item">
                                                    <a href="{{ category.url }}">{{ category.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 block-header-menu my-1" id="info-support-header">
                            <div class="cart-link rounded-2 m-0">
                                <img src=" {{ theme_directory }}/img/header-user-right.png">
                                <span class="amount contact-infor">
                                    <p class="contact-infor-time mb-1">Support: 24/7</p>
                                    <a href="" class="hotline-info text-white"><p class="mb-0"></p></a>
                                </span>
                            </div>
                            
                        </div>
                    </div> <!-- End row -->
                </div> <!-- End oontainer -->
            </div> <!-- End main-menu-wrapper -->

        </div> <!-- End fix content -->
    </header> <!-- End header -->