{{ header }}
<main class="main-content">
    <div class="container" id="products-page">
        {#{% if banners.visible_banner == 1 %}#}
        {#    <div class="product-banner mt-4 bestme-block-category-banner">#}
        {#        <a href="{{ banners.url_banner }}"><img src="{{ banners.url_image }}"></a>#}
        {#    </div>#}
        {#{% endif %}#}
        <nav aria-label="breadcrumb" class="my-4" id="stop-content">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home_link }}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="{{ shop_link }}">Sản phẩm</a></li>
                {% if getsearch != '' %}
                    <li class="breadcrumb-item active" aria-current="page">Kết quả tìm kiếm cho “{{ getsearch }}”</li>
                {% endif %}
            </ol>
        </nav> <!-- End breadcrumb -->

        <div class="row">
            <div class="col-12 col-md-3 sidebar-left">
                <div class="sidebar-content bestme-block-filter-1" id="shoppage-filter">
                    {#{% if visible_collection == 1 %}#}
                    {#<div class="box-product-filter rounded-2 border px-4" id="product-category">#}
                    {#    <h2 class="block-title">{{ visible_collection_title }}</h2>#}
                    {#    <nav class="nav flex-column">#}
                    {#        {% for collection in collections %}#}
                    {#            <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>#}
                    {#        {% endfor %}#}
                    {#    </nav>#}
                    {#</div> <!-- End product collection -->#}
                    {#{% endif %}#}
                    {#{% if visible_category == 1 %}#}
                    {#<div class="box-product-filter rounded-2 border px-4" id="product-category">#}
                    {#    <h2 class="block-title">{{ visible_category_title }}</h2>#}
                    {#    <nav class="nav flex-column">#}
                    {#        {% for category in categorys %}#}
                    {#            <a href="{{ category.url }}" class="nav-link {{ filter_category_id == category.category_id ? 'active' : '' }}">{{ category.name }}</a>#}
                    {#        {% endfor %}#}
                    {#    </nav>#}
                    {#</div> <!-- End product category -->#}
                    {#{% endif %}#}
                    {#{% if visible_supplier == 1 %}#}
                    {#<div class="box-product-filter rounded-2 border px-4" id="product-provider">#}
                    {#    <h2 class="block-title">{{ visible_supplier_title }}</h2>#}
                    {#    <nav class="nav flex-column">#}
                    {#        {% for manufacturer in manufacturers %}#}
                    {#            <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>#}
                    {#        {% endfor %}#}
                    {#    </nav>#}
                    {#</div> <!-- End product provider -->#}
                    {#{% endif %}#}
                    
                    {# product-filter#}
                    {% if visible_product_price == 1 %}
                        <div class="box-product-filter rounded-2 border px-4 mb-4" id="product-price">
                            <h2 class="block-title border-bottom text-center font-weight: 400 font-18">BỘ LỌC SẢN PHẨM</h2>
                            {% if visible_collection == 1 %}
                                <div class="box-product-filter rounded-2 mb-0" id="product-collection">
                                    <h2 class="block-title pb-0">{{ visible_collection_title }}</h2>
                                    <nav class="nav flex-column pt-0">
                                        {% for collection in collections %}
                                            <a href="{{ collection.url }}" class="ml-2 nav-link pb-0 pt-2 border-top-0 {{ filter_collection_id == collection.collection_id ? 'active' : '' }}" data-title="{{ collection.name }}">{{ collection.name }}</a>
                                        {% endfor %}
                                    </nav>
                                </div> <!-- End product collection -->
                            {% endif %}
                            {% if visible_category == 1 %}
                            <div class="box-product-filter rounded-2 mb-0" id="product-category">
                                <h2 class="block-title pb-0">{{ visible_category_title }}</h2>
                                <nav class="nav flex-column pt-0">
                                    {% for category in categorys %}
                                        <a href="{{ category.url }}" class="ml-2 nav-link pb-0 pt-2 border-top-0 {{ filter_category_id == category.category_id ? 'active' : '' }}" data-title="{{ category.name }}">{{ category.name }}</a>
                                    {% endfor %}
                                </nav>

                                {#dunght added#}
                                {#{% include 'default/template/common/category_list_template.twig' %}#}
                                {#end - dunght added#}
                            </div> <!-- End product category -->
                            {% endif %}
                            {% if visible_supplier == 1 %}
                            <div class="box-product-filter rounded-2 mb-0" id="product-provider">
                                <h2 class="block-title pb-0">{{ visible_supplier_title }}</h2>
                                <nav class="nav flex-column pt-0">
                                    {% for manufacturer in manufacturers %}
                                        <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>
                                    {% endfor %}
                                </nav>
                            </div> <!-- End product provider -->
                            {% endif %}
                            <div class="price-range py-3">
                                <p>Gía bán</p>
                                <div class="mb-3" id="slider-range"></div>
                                <p id="amount"></p>
                                <input type="hidden" id="amount1" name="amount1">
                                <input type="hidden" id="amount2" name="amount2">
                            </div>
                        </div> <!-- End product category -->
                    {% endif %}
                    {# end-product-filter#}
                </div> <!-- End sidebar content -->
                
                {#<div class="mb-2">#}
                {#    <div style="background-image: url('{{ theme_directory }}/img/home_bannertop_1.png'); background-repeat: no-repeat; background-size: contain; width: 100%; height: 450px"></div>#}
                {#</div>#}
                
                <div class="product-col-tilte">
                    <h5 class="py-3 m-0 font-18">SẢN PHẨM BÁN CHẠY</h5>
                </div>

                <div class="m-0 w-100" id="difflist-hot-products">
                    <div id="product-secondary-right" style="overflow: auto; height: 425px;"></div>
                </div>
                    
                {#{% if visible_collection == 1 %}#}
                {#    <div class="box-product-filter rounded-2 border px-4" id="product-category">#}
                {#        <h2 class="block-title">{{ visible_collection_title }}</h2>#}
                {#        <nav class="nav flex-column">#}
                {#            {% for collection in collections %}#}
                {#                <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>#}
                {#            {% endfor %}#}
                {#        </nav>#}
                {#    </div> <!-- End product collection -->#}
                {#{% endif %}#}
            </div> <!-- End sidebar-left -->
    
            <div class="content-right col-12 col-md-9 mb-5">
                <div class="product-view">

                    <div class="view-header mb-4">
                        <!-- Chỉ hiển thị trong trang tìm kiếm hoặc không có sản phẩm -->
                        {% if getsearch != '' %}
                            <div class="result-message mb-4">
                                <span><i class="icon icon-search"></i>  Tìm thấy {{ products|length }} sản phẩm cho từ khóa “{{ getsearch }}”</span>
                            </div>
                        {% elseif products|length == 0 %}
                            <div class="result-message mb-4">
                                <span>Không có sản phẩm</span>
                            </div>
                        {% endif %}
                    </div>


                    {#    <div class="px-2 py-3 border rounded-2 d-flex">#}
                    {#        <span class="count-display align-self-center">Hiển thị: {{ total_product < start_product ? total_product : start_product }} - {{ total_product < end_product ? total_product : end_product }} trong tổng số {{ total_product }} sản phẩm</span>#}
                    {#        <div class="text-right ml-auto">#}
                                {#<span class="mr-2">Sắp xếp:</span>#}
                    {#            <div class="dropdown d-inline">#}
                    {#                <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownOrderProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">#}
                    {#                    {% if valueoptiton == 1 %}#}
                    {#                        Theo tên: A-Z#}
                    {#                    {% elseif valueoptiton == 2 %}#}
                    {#                        Theo tên: Z-A#}
                    {#                    {% elseif valueoptiton == 3 %}#}
                    {#                        Theo giá: Từ cao đến thấp#}
                    {#                    {% elseif valueoptiton == 4 %}#}
                    {#                        Theo giá: Từ thấp đến cao#}
                    {#                    {% else %}#}
                    {#                        Sắp xếp theo:#}
                    {#                    {% endif %}#}
                    {#                    <i class="icon icon-chevron-down ml-3 font-10"></i>#}
                    {#                </a>#}
                    {#                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderProductFilter">#}
                    {#                    <a class="dropdown-item" href="{{ urlsortProduct }}" data-value="-1">Mới nhất</a>#}
                    {#                    <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=1" data-value="1">Theo tên: A-Z</a>#}
                    {#                    <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=2" data-value="1">Theo tên: Z-A</a>#}
                    {#                    <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=3" data-value="1">Theo giá: Từ cao đến thấp</a>#}
                    {#                    <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=4" data-value="1">Theo giá: Từ thấp đến cao</a>#}
                    {#                </div>#}
                    {#            </div>#}
                    {#        </div>#}
                    {#    </div>#}

                    {#</div> <!-- End view header -->#}

                    {#<div class="view-results">#}
                    {#    <div class="row">#}
                    {#        {% for product in products %}#}
                    {#        <div class="col-6 col-md-4">#}
                    {#            <div class="product-item">#}
                    {#                <div class="product-info">#}
                    {#                    <div class="item-product-name">#}
                    {#                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>#}
                    {#                    </div>#}
                    {#                    <div class="product-rating d-none">#}
                    {#                        <span class="rate-item on"></span>#}
                    {#                        <span class="rate-item on"></span>#}
                    {#                        <span class="rate-item on"></span>#}
                    {#                        <span class="rate-item"></span>#}
                    {#                        <span class="rate-item"></span>#}
                    {#                    </div>#}
                    {#                    <div class="product-highlight">#}
                    {#                        {% if product.Percent_protduct != 0 %}#}
                    {#                            <span class="sale">{{ product.Percent_protduct }}</span>#}
                    {#                        {% endif %}#}
                    {#                        {% if product['product_is_stock'] == false %}#}
                    {#                            <span class="status">hết</span>#}
                    {#                        {% endif %}#}
                    {#                        {% if product['is_new_product'] %}#}
                    {#                            <span class="status">Mới</span>#}
                    {#                        {% endif %}#}
                    {#                    </div>#}
                    {#                    <div class="product-img">#}
                    {#                        <a href="{{ product['href'] }}">#}
                    {#                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    {% if product.multi_versions == 1 %}#}
                    {#                        {% if product.price_version_check_null !=0 %}#}
                    {#                            <span class="product-price">#}
                    {#                                    <span class="price">{{ product.price_version_min }}#}
                    {#                                    {% if product.price_version_max != product.price_version_min %}#}
                    {#                                        ~ {{ product.price_version_max }}#}
                    {#                                    {% endif %}</span>#}
                    {#                                </span>#}
                    {#                            <span class="product-price-sale">#}
                    {#                                    <span class="price">#}
                    {#                                        {{ product.compare_version_min }}#}
                    {#                                        {% if product.compare_version_max != product.compare_version_min %}#}
                    {#                                            ~ {{ product.compare_version_max }}#}
                    {#                                        {% endif %}#}
                    {#                                    </span>#}
                    {#                                </span>#}
                    {#                        {% else %}#}
                    {#                            <span class="product-price">#}
                    {#                                    <span class="price">#}
                    {#                                        {{ product.compare_version_min }}#}
                    {#                                        {% if product.compare_version_max != product.compare_version_min %}#}
                    {#                                            ~ {{ product.compare_version_max }}#}
                    {#                                        {% endif %}#}
                    {#                                    </span>#}
                    {#                                </span>#}
                    {#                        {% endif %}#}

                    {#                    {% else %}#}
                    {#                        {% if product.price == 0 %}#}
                    {#                        <span class="product-price">#}
                    {#                                <span class="price">{{ product.compare_price }}</span>#}
                    {#                            </span>#}
                    {#                        {% else %}#}
                    {#                            <span class="product-price">#}
                    {#                                <span class="price">{{ product.price }}</span>#}
                    {#                            </span>#}
                    {#                            <span class="product-price-sale">#}
                    {#                                <span class="price">{{ product.compare_price }}</span>#}
                    {#                            </span>#}
                    {#                        {% endif %}#}
                    {#                    {% endif %}#}
                    {#                </div>#}
                    {#                <div class="product-preview text-center">#}
                    {#                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>#}
                    {#                    <a href="#" class="like-btn d-none">#}
                    {#                        <i class="icon icon-heart bg-white font-18"></i>#}
                    {#                    </a>#}
                    {#                </div>#}
                    {#            </div> <!-- End Pro Item -->#}
                    {#        </div> <!-- End col product -->#}
                    {#        {% endfor %}#}
                    {#    </div> <!-- End row -->#}
                    {#</div> <!-- End view results -->#}
                    
                    <div class="view-results p-3" id="shop-product-hot">
                        <div class="row pb-2 border-main" id="shop-product-hot-secondary">
                            <div class="col-12 col-md-6">
                                <h5><strong id="shoppage-title" class="second-color"></strong></h5>
                            </div>
                            <div class="col-12 col-md-6 d-flex justify-content-end">
                                <div class="dropdown d-inline">
                                    <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownOrderProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                        {% if valueoptiton == 1 %}
                                            Theo tên: A-Z
                                        {% elseif valueoptiton == 2 %}
                                            Theo tên: Z-A
                                        {% elseif valueoptiton == 3 %}
                                            Theo giá: Từ cao đến thấp
                                        {% elseif valueoptiton == 4 %}
                                            Theo giá: Từ thấp đến cao
                                        {% else %}
                                            Sắp xếp theo:
                                        {% endif %}
                                        <i class="icon icon-chevron-down ml-3 font-10"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderProductFilter">
                                        <a class="dropdown-item" href="{{ urlsortProduct }}" data-value="-1">Mới nhất</a>
                                        <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=1" data-value="1">Theo tên: A-Z</a>
                                        <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=2" data-value="1">Theo tên: Z-A</a>
                                        <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=3" data-value="1">Theo giá: Từ cao đến thấp</a>
                                        <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=4" data-value="1">Theo giá: Từ thấp đến cao</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<div class="row presentation">#}
                        {#    <nav class="navbar navbar-expand-lg navbar-light">#}
                        {#      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Giảm giá</a>#}
                        {#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
                        {#        <span class="navbar-toggler-icon"></span>#}
                        {#      </button>#}
                        {#      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
                        {#        <div class="navbar-nav">#}
                        {#          <a class="nav-item nav-link active" href="#">Sản phẩm mới<span class="sr-only">(current)</span></a>#}
                        {#          <a class="nav-item nav-link active" href="#">Sản phẩm nổi bậc<span class="sr-only">(current)</span></a>#}
                        {#        </div>#}
                        {#      </div>#}
                        {#    </nav>#}
                        {#</div>#}
                        <div class="row" >
                            {% for product in products %}
                            <div class="col-6 col-md-3">
                                <div class=" product-item">
                                    <div class="product-info">
                                        <div class="product-highlight">
                                            {% if product.Percent_protduct != 0 %}
                                                <span class="sale">{{ product.Percent_protduct }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                            {% if product['is_new_product'] %}
                                                <span class="status">new</span>
                                            {% endif %}
                                        </div>
                                        
                                        <div class="product-rating d-none">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item font-14"></span>
                                            <span class="rate-item font-14"></span>
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </div>
                                        <div class="product-price-contain">
                                                {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        {% if product.compare_version_min != 0 %}
                                                            <strike class="product-price-sale">
                                                                <span class="price">
                                                                    {{ product.compare_version_min }}
                                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                                        ~ {{ product.compare_version_max }}
                                                                    {% endif %}
                                                                </span>
                                                            </strike>
                                                            <span class="product-price">
                                                                <span class="price">{{ product.price_version_min }}
                                                                {% if product.price_version_max != product.price_version_min %}
                                                                    ~ {{ product.price_version_max }}
                                                                {% endif %}</span>
                                                            </span>
                                                        {% else %}
                                                        <span class="product-price">
                                                            <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                        </span>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if product.compare_version_min != 0 %}
                                                            <span class="product-price">
                                                                <span class="price">
                                                                    {{ product.compare_version_min }}
                                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                                        ~ {{ product.compare_version_max }}
                                                                    {% endif %}
                                                                </span>
                                                            </span>
                                                        {% else %}
                                                        <span class="product-price">
                                                            <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                        </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %} {# product.multi_versions == 0 #}
                                                    {% if product.price == 0 %}
                                                        {% if product.compare_price == 0 %}
                                                            <span class="product-price">
                                                                <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                            </span>
                                                        {% else %}
                                                            <span class="product-price">
                                                                <span class="price">{{ product.compare_price }}</span>
                                                            </span>
                                                        {% endif %}
                                                    {% else %}
                                                        <strike class="product-price-sale">
                                                            <span class="price">{{ product.compare_price }}</span>
                                                        </strike>
                                                        <span class="product-price">
                                                            <span class="price">{{ product.price }}</span>
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                    </div>
                                    <div class="product-preview text-center">
                                        <a href="{{ product['href'] }}" class="cart-btn p-2 m-1"><i class="fas fa-shopping-cart font-18"></i></a>
                                        <a href="{{ product['href'] }}" class="cart-btn p-2 m-1"><i class="fas fa-search font-18"></i></a>
                                        <a href="#" class="like-btn d-none">
                                            <i class="icon icon-heart bg-white font-18"></i>
                                        </a>
                                    </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                            {% endfor %}
                        </div> <!-- End row -->
                    {{ pagination }}
                    </div> <!-- End view results -->
                </div> <!-- End product-view -->
            </div> <!-- End content right -->
        </div> <!-- End row -->


    </div> <!-- End container -->
</main> <!-- End main content -->
<script>
    $("body").on('DOMSubtreeModified', "#product-sort .select-selected", function() {
        var text = $('#product-sort .select-selected').text();
        if($.trim(text) !== ''){
            var val = $('#product-sort-select option').filter(function () { return $(this).html() === text; }).val();
            window.location = val;
        }
    });


    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").text(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                delayOnChange(function () {
                    var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
                    var regexMin = new RegExp("&min=\\d+");
                    var regexMax = new RegExp("&max=\\d+");
                    url = url.replace(regexMin, '');
                    url = url.replace(regexMax, '');
                    // console.log(ui.values[1]);
                    window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                    $("#amount1" ).val(ui.values[ 0 ]);
                    $("#amount2" ).val(ui.values[ 1 ]);
                });
            }
        });
        $("#amount").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }
</script>

<!-- block-footer -->
{{ footer }}
<!-- /.block-footer -->
