#preview-content {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 60px; */
    z-index: -1;
}

.preview_wrapper {
    background-color: #aaa;
    width: 100%;
    height: 100%;
    display: block;
    padding: 64px 0 0 270px;
}

.preview_wrapper iframe {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /*image loading */
#image-loading-image{
    background: url("../../image/theme/loading-eclipse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}


