{% if oldest_blog[0] is defined and oldest_blog[0]['type'] == 'image' %}
    {% set blog = oldest_blog[0] %}
    <section class="pt-lg-50 about-us-home pb-50">
        <div class="container mb-lg-30">
            <h2 class="text-center">Giới thiệu</h2>
            <div class="mb-lg-2 line-percent"></div>
            <div class="row">
                <div class="col-lg-6 mb-15 mb-lg-0">
                    <div style="overflow: hidden">
                    <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                    </div>
                </div>
                <div class="col-lg-6 pt-2 mb-lg-4 d-flex">
                    <div class="align-self-center">
                        <p class="mb-lg-30 mb-20" style="line-height: 2.15em;">
                            {{ blog['short_content']|html_entity_decode }}
                        </p>
                        <a href="{{ blog.link }}?about-us" class="btn btn-primary">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- End about us -->