<section class="py-50 mb-5 news-home">
    <div class="container py-lg-30">
        <h2 class="text-center">Tin tức nổi bật</h2>
        <div class="mb-lg-2 line-percent"></div>
        <div class="row">
            {% for k, blog in blogs_news if blog['blog_category_title'] == 'tin nổi bật' %}
                <div class="col-12 col-md-4">
                <div class="news-item">
                    <a href="{{ blog['link'] }}" class="news-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    </a>
                    <p class="news-date">{{ blog['date_added']|date('d-m-Y') }}</p>
                    <a href="{{ blog['link'] }}" class="news-title fz-lg-20 fz-16">{{ blog['title'] }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ url_blog }}" class="btn btn-primary">Xem thêm</a>
        </div>
    </div>
</section>
<!-- End news -->