<section class="pt-50 pb-lg-50 pb-20">
    <div class="container mt-lg-30">
        <h2 class="text-center">Dịch vụ</h2>
        <div class="mb-lg-2 line-percent"></div>
        <div class="row bestme-block-content-customize">
            {% if display_customizes and display_customizes[4] %}
                {% for key, contents in display_customizes if key > 3 %}
                    {% if contents['type'] == 'fixed' %}
                        <div class="col-lg-3 mb-25 mb-lg-30 col-6">
                            <div class="bg-third h-100 px-lg-20 px-15 pt-lg-40 py-lg-50 py-20" style="background:url('{{ theme_directory }}/img/group_1049.png')">
                                <img src="{{ contents['content']['icon'] }}" width="30" style="margin-right: 10px;transform: translateY(-5px);">
                                <p class="text-primary fw-500 fz-lg-20 fz-16 mb-lg-30" style="margin-bottom: 14px !important">
                                    {{ contents['content']['title'] }}</p>
                                <p class="text-secondary mb-0">{{ contents['content']['description'] }}</p>
                            </div>
                            {% else %}
                                <div class="d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                            {% endif %}
                        </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    </div> <!-- End container -->
</section>
<!-- End service -->