{{ header }}

<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ home_link }}">Trang chủ</a></li>
            <li class="ega-menu__item"><h1>Khôi phục mật khẩu</h1></li>
        </ul>
    </div>
</section>

<div class="ega-forgotten ega-p-b--4">
    <div class="ega-container">
        <div class="ega-row ega-flex--center">
            <div class="ega-col-md-6 ega-col-12">
                <div id="ega-forgotten" class="ega-card ega-border--0">
                    {% if error %}
                        <div class="ega-alert ega-alert--danger">{{ error }}</div>
                    {% endif %}
                    <h4 class="ega-h5 ega-m-t--0"><svg class="ega-ic-lock">
                            <use xlink:href="#ega-ic-lock"></use>
                        </svg> Quên mật khẩu</h4>
                    <p class="ega-m-t--0">Bạn chưa có tài khoản? <a class="ega-color--info" href="{{ register }}">Đăng ký</a></p>
                    <span>Chúng tôi đã gửi thư khôi phục mật khẩu đến email <b>{{ email }}</b></span>
                    <span>Bạn vui lòng kiểm tra, thực hiện theo hướng dẫn và đăng nhập lại!</span>
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}