<table class="table table-bordered table-hover table-order-detail">
    <thead>
    <tr>
        <td class="text-left">Chi tiết</td>
        {% if shipping_address %}
            <td class="text-left" style="width: 50%; vertical-align: top;">Địa chỉ nhận hàng</td>
        {% endif %} </tr>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-left" style="width: 50%;">
            {% if invoice_no %}
                <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br/>
            {% endif %}
            <b>Mã đơn hàng: </b> {{ order_code }}<br/>
            <b>Ngày tạo đơn: </b> {{ date_added }}<br/>
            {% if payment_method %}
                <b>Phương thức thanh toán: </b> {{ payment_method }}<br/>
            {% endif %}
            <b>Trạng thái thanh toán: </b>{{ payment_status_text }}<br/>
            {% if shipping_method %}
                <b>Phương thức vận chuyển: </b> {{ shipping_method }}<br/>
            {% endif %}
            {% if order_status_name %}
                <b>Trạng thái đơn hàng: </b> {{ order_status_name }}
            {% endif %}
        </td>
        {% if shipping_address %}
            <td class="text-left" style="width: 50%;">{{ shipping_address }}</td>
        {% endif %}
    </tr>
    </tbody>
</table>
<div class="table-responsive table-product-detail">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-left image" style="width: 11rem">Ảnh sản phẩm</td>
            <td class="text-left">Thông tin sản phẩm</td>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ product['url'] }}"><img src="{{ product['image'] }}" alt="{{ product['name'] }}"></a>
                </td>
                <td class="text-left">
                    <a title="{{ product.name }}" href="{{ product['url'] }}" style="text-transform: uppercase; font-weight: bold; font-size: 20px;">{{ product.name|length > 30 ? product.name|slice(0, 30) ~ '...' : product.name }}</a><br>
                    {% if product.version is not empty %}
                        <span style="margin-bottom: 0px;">{{ product.version }}</span><br>
                    {% endif %}
                    <span><b>Mã sản phẩm: </b>{{ product.sku }}</span><br>
                    <span><b>Đơn giá: </b>{{ product.price }}</span><br>
                    <span><b>Số lượng sản phẩm: </b>{{ product.quantity }}</span><br>
                    <span><b>Thành tiền: </b>{{ product.total }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="text-right" colspan="2"><div style="min-width: 300px; display: inline-block"><b>Tổng tiền hàng: </b>{{ order_total_real }}</div></td>
            </tr>
            <tr>
                <td class="text-right" colspan="2"><div style="min-width: 300px; display: inline-block"><b>Phí vận chuyển: </b>{{ order_shipping_fee }}</div></td>
            </tr>
            <tr>
                <td class="text-right" colspan="2"><div style="min-width: 300px; display: inline-block"><b>Tổng cần thanh toán:</b>{{ order_total }}</div></td>
            </tr>
        </tfoot>

    </table>
</div>
<div class="buttons clearfix order-detail-btn-back">
    <div class="pull-right"><a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-primary">Quay lại</a></div>
</div>
<style>
    .table-product-detail tbody td b {
        display: inline-block;
        min-width: 200px;
        text-align: left;
    }
    .table-product-detail tfoot td b {
        text-transform: uppercase;
        float: left;
    }
    img {
        max-width: 228px;
        height: auto;
    }
    @media(max-width:576px){
        .table-product-detail td.image {
            width: 7rem !important;
        }
        .table-product-detail tbody td a {
            font-size: 16px !important;
        }
        .table-product-detail tbody td b {
            min-width: inherit;
        }
        .table-order-detail table, .table-order-detail thead, .table-order-detail tbody, .table-order-detail th, .table-order-detail td, .table-order-detail tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        .table-order-detail thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .table-order-detail tr { border: 1px solid #ccc; }

        .table-order-detail td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 15px;
            width: 100% !important;
        }

        .table-order-detail td:before {
            /* Now like a table header */
            position: relative;
            /* Top/left values mimic padding */
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
            white-space: nowrap;
        }
        .table-order-detail td:nth-of-type(1):before { content: "Chi tiết"; }
        .table-order-detail td:nth-of-type(2):before { content: "Địa chỉ nhận hàng"; }
    }
</style>