{{ header }}


<div class="container">
    <ul class="back-link">
        <li><a href="{{ href_home }}">{{ text_home }} </a></li>
        <li><a href="javascript:;">Tài khoản của tôi</a></li>
    </ul>
</div>
<!-- /.Breadcrumb -->
<div class="account-wp">
    <div class="bread-special">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="{{ href_profile }}" >Tổng quan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="address-tab" href="{{ href_setting_account }}">Sổ địa chỉ</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="acc-heading">
                            <h3 class="acc-title">
                                lịch sử MUA hàng
                            </h3>
                        </div>

                        <table class="table table-responsive table-history">
                            <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày đặt</th>
                                <th>Giá trị đơn</th>
                                <th>Thanh toán</th>
                                <th>Trạng thái đơn hàng</th>
                                <th>Trạng thái giao vận</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td><a href="{{ order.order_info_url }}">{{ order.order_code }}</a></td>
                                    <td>{{ order.date_added }}</td>
                                    <td>{{ order.total | number_format }} VND</td>
                                    <td>{{ order.payment_status }}</td>
                                    <td>{{ order.order_status }}</td>
                                    <td>{{ order.transport_order_status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="user-info">
                            <div class="acc-heading">
                                <div class="row align-center">
                                    <div class="col-8">
                                        <h3 class="">
                                            Thông tin cá nhân
                                        </h3>
                                    </div>
                                    {#<div class="col-4 text-right">#}
                                        {#<a name="" id="" class="btn-editing" href="#" role="button">Thay đổi</a>#}
                                    {#</div>#}
                                </div>
                            </div>
                            <table class="table table-ct">
                                <tbody>
                                <tr>
                                    <td scope="row">Họ và tên:</td>
                                    <td>{{ account_info.lastname }} {{ account_info.firstname }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Điện thoại:</td>
                                    <td>{{ account_info.phone_number }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Email:</td>
                                    <td>{{ account_info.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                            {% if  account_info.address_id != 0 %}
                            <div class="acc-heading">
                                <div class="row align-center">
                                    <div class="col-8">
                                        <h3 class="">
                                            địa chỉ mặc định
                                        </h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a class="btn-editing" href="{{ href_setting_account }}">Thay đổi</a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-ct">
                                <tbody>
                                <tr>
                                    <td scope="row">Họ và tên</td>
                                    <td>{{ account_info.address_default_fullname }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Địa chỉ:</td>
                                    <td>{{ account_info.full_address }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Điện thoại:</td>
                                    <td>{{ account_info.address_default_phone }}</td>
                                </tr>
                                </tbody>
                            </table>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ELM PAGES -->

{{ footer }}

<style type="text/css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>