{{ header }}

<div class="ega-login ega-p-b--4">
    <div class="ega-container">
        <div class="ega-row ega-flex--center">
            <div class="ega-col-md-6 ega-col-12">
                <div id="ega-recover" class="ega-card ega-border--0">
                    <h4 class="ega-h5"><svg class="ega-ic-refresh">
                            <use xlink:href="#ega-ic-refresh"></use>
                        </svg> Quên mật khẩu</h4>
                    
                    {% if error_warning %}
                        <div class="ega-alert ega-alert--danger">{{ error_warning }}</div>
                    {% endif %}
                        
                    <form accept-charset='UTF-8' action='{{ action }}' method='post'>
                        <div class="ega-form__group">
                            <label for="email">Email</label>
                            <input type="email" value="" size="30" name="email" placeholder="Email" id="recover-email" class="ega-form__control ega-required" />
                            <div class="ega-form__mess">Email không đúng định dạng!</div>
                        </div>
                        <div class="ega-form__group">
                            <input class="ega-btn ega-base-color ega-m--0" type="button" data-ega-role="submit" value="Gửi" />
                            <a class="ega-btn ega-base-color ega-m--0" href="{{ home }}">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}