/*$MAIN_COLOR$*/
#header .header-top .top-icon
{
    background-color: $MAIN_COLOR$;
}

#header .navbar a.nav-link:hover, #header .navbar a.nav-link.active,
#footer .footer-col li::before,
.box-product-filter .nav a.nav-link:hover, .box-product-filter .nav a.nav-link.active, .box-product-filter .nav a.nav-link:focus,
.product-item .prod-title:hover,
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    color: $MAIN_COLOR$;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    border-bottom-color: $MAIN_COLOR$;
}

.text-primary
{
    color: $MAIN_COLOR$ !important;
}

/*$BUTTON_COLOR$*/
.btn.btn-primary,
.pagination .page-item.active .page-link
{
    background-color: $BUTTON_COLOR$;
}

.pagination .page-item.active .page-link
{
    border-color: $BUTTON_COLOR$;
}