body {
    word-wrap: break-word;
}
.product-item .product-img img {
    max-height: 225px;
    width: auto;
}
.block-header .cart-link {
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.block-header .cart-link .amount {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
.block-header .block-header-logo img {
    max-height: 200px;
}
.item-product-name {
    height: 36px;
    overflow: hidden;
}
.product-item .product-title {
    display: inline-block;
}

.block-header .fix-content .container .main-menu-wrapper {
    display: none;
}
.block-header.fixed .fix-content .container .main-menu-wrapper {
    display: block;
    margin-left: auto;
}
.block-header.fixed .fix-content .main-menu-wrapper {
    display: none;
}
.block-header.fixed form{
    max-width: 50%;
    float: left;
}
.block-header.fixed .main-menu-wrapper {
    position: inherit;
    height: auto;
    width: 60%;
}
.block-header.fixed .block-header-logo {
    min-width: 145px;
    padding-left: 0px;
}
.block-header.fixed .form-search-header {
    min-width: 315px;
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a {
    padding: 0px 25px;
    line-height: 28px;
}
.block-header.fixed .container {
    display: flex;
    align-items: center;
}
.block-header.fixed .fix-content .container .row {
    margin-left: auto;
    align-items: center;
}

/*sticky*/
.show-on-pc {
    display: flex !important;
}
.show-on-mobile {
    display: none !important;
}
.show-on-pc.btn-pc {
    display: inline-block !important;
}

.product-teaser-fix .add-to-cart:hover {
    background-color: #454545 !important;
    color: white !important;
}
.product-teaser-fix .add-to-cart:hover > i {
    background-color: white !important;
}

/*block*/
.blog-img {
    height: 370px;
}
.blog-img img {
    max-width: 100%;
    max-height: 100%;
    margin: auto
}
.product-info .product-price-sale {
    min-height: 17px;
    display: inline-block;
}

.collection .product-item:hover {
    transform: none;
}

/*css tag filter*/
#tag-filter-custom li a:hover {
    color: white !important;
    background-color: #482497 !important;
}

#tag-filter-custom li .active {
    color: white !important;
    background-color: #482497 !important;
}

@media screen and (max-width:992px) {
    #navbarMainMenu {
        height: 350px;
        overflow: scroll;
    }
    .owl-carousel.owl-product .owl-nav button[class*=owl-] {
        height: 40px;
        padding: 0 13px !important;
        line-height: 48px;
    }
    /*sticker*/
    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        left: 15px;
        webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #D0203F;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }

    .buy-now-mobile .number-quantity input{
        width: 100%;
        height: 35px;
    }

    .product-teaser-fix {
        display: none;
    }
    .block-custom-change .quantity.show-on-pc {
        display: none !important;
    }

    .display-none {
        display: none !important;
    }

}

@media screen and (max-width: 1024px) {
    .block-header.fixed .main-menu-wrapper {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .block-header.fixed .fix-content .container .row {
        flex-wrap: inherit;
    }
}
@media screen and (max-width: 576px) {
    .block-header.fixed .fix-content .container .row {
        display: block;
    }
    .block-header.fixed .input-group-icon.flex-fill {
        right: 0px;
    }
    .block-header.fixed .form-search-header {
        min-width: 230px;
        padding-left: 0px;
    }
    .block-header.fixed .block-header-menu .collapse>ul.nav > li > a {
        padding: 10px 25px;
    }
}
@media screen and (max-width:991px) {
    .owl-home-banner .slide-item {
        min-height: 200px;
    }
    .owl-home-banner .slide-item .caption {
        display: none;
    }
}
.media-show {
    display: none;
}
@media screen and (max-width: 576px){
    .media-hide {
        display: none;
    }
    .media-show {
        display: block !important;
    }
    .form-payment .fifth-color{
        margin-top: 15px;
    }
    .owl-home-banner .slide-item {
        min-height: 115px;
    }
    .product-teaser-fix .d-flex{
        display: block !important;
    }
    .block-custom-change .quantity {
        display: block !important;
    }
    .block-custom-change .quantity input {
        margin-bottom: 10px;
    }
    .more-info-product.w-20 {
        width: 42% !important;
    }
}
/* Fix scroll broken layout on Iphone5/SE*/
@media (max-width: 320px){
    .order-bestme .table td, .order-bestme .table th {
        padding: 0.4rem!important;
    }
}
.block-header .cart-link{
    height: 44px!important;
}
.product-item .product-title {
    height: 34px;
}
.quantity-group-input>input.form-control {
    width: 55px;
}
.block-header .cart-link .amount {
    line-height: 20px!important;
}
.block-custom-change .d-flex.w-75{
    position: relative;
}
#add-to-cart .quantity-nav {
    display: inline-block;
}
#add-to-cart .quantity-nav .quantity-up {
    position: absolute;
    top: 9px;
    left: 75px;
    cursor: pointer;
}
#add-to-cart .quantity-nav .quantity-down {
    position: absolute;
    top: 9px;
    left: 11px;
    cursor: pointer;
}
.owl-carousel .owl-item img{
    display: initial !important;
}
.product-item .product-img{
    text-align: center;
}
.product-item .product-highlight {
    min-height: 34px;
}
.product-detail input::-webkit-outer-spin-button,
.product-detail input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.block-header .block-header-menu ul.nav > li > a {
    padding: 10px 15px;
}
.block-header .block-header-menu ul.nav > li.has-child > a>.toggle {
    right: 0px;
    top: 17px;
}
.block-header.fixed .block-header-menu ul.nav > li.has-child > a>.toggle {
    top: 12px;
    background-color: #454545;
}
.block-header .block-header-menu ul.nav ul.nav > li.has-child > a>.toggle {
    top: 18px;
    background-color: #454545;
}
@media screen and (max-width: 991px) {
    .block-header .block-header-menu ul.child-nav li > a>.toggle {
        position: absolute;
        width: 11px;
        height: 6px;
        -webkit-mask: url(/catalog/view/theme/tech_kesathn/img/icons/drop-down.svg) center no-repeat;
        mask: url(/catalog/view/theme/tech_kesathn/img/icons/drop-down.svg) center no-repeat;
        -webkit-mask-size: contain;
        -mask-size: contain;
        background-color: #454545;
        top: 20px;
        right: 10%;
    }
    .block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
        right: 15px;
        top: 21px;
    }
    .block-header.fixed .block-header-menu ul.nav > li.has-child > a>.toggle {
        top: 21px;
    }
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}

/* popup contact for price */
#modal-buy {
    z-index: 99999;
    margin-top: 24px;
    padding-top: 20px;
}

/* youtube responsive in product detail description */
#info iframe {
    max-width: 100%;
}