
<div class="col-md-3">
    <!-- product-list-filter -->
    <div class="product-list-filter">
        <!-- Search -->
        <div class="block-header-search mb-4">
            <div class="form-group">
                <form action="{{ urlserach }}" method="get">
                    <input type="text" name="search" id="" class="form-control content-font" placeholder="Tìm kiếm sản phẩm" aria-describedby="helpId">
                    <input type="hidden" name="route" value="common/shop">
                    <button type="submit" class="btn btn-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M21.4999 21.5L15.8999 15.9" stroke="#969696" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9.5 18.5C14.4706 18.5 18.5 14.4706 18.5 9.5C18.5 4.52944 14.4706 0.5 9.5 0.5C4.52944 0.5 0.5 4.52944 0.5 9.5C0.5 14.4706 4.52944 18.5 9.5 18.5Z" stroke="#969696" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <!-- /.Search -->

        <!-- filter box -->
        <div class="block-filter mb5">
            <h4 class="block-title header-font mb-4">Lọc sản phẩm</h4>
            {% if visible_collection == 1 %}
                <div class="filter-item">
                    <h5 class="header-font">{{ visible_collection_title }}</h5>
                    <ul>
                        {% for collection in collections %}
                        <li><a href="{{ collection.url }}">{{ collection.name }}</a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if visible_supplier == 1 %}
            <div class="filter-item">
                <h5 class="header-font">{{ visible_supplier_title }}</h5>
                <ul>
                   {% for manufacturer in manufacturers %}
                    <li><a href="{{ manufacturer.url }}">{{ manufacturer.name }}</a>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if visible_category == 1 %}
                <div class="filter-item">
                    <h5 class="header-font">{{ visible_category_title }}</h5>
                    <ul>
                        {% for category in categorys %}
                        <li><a href="{{ category.url }}">{{ category.name }}</a>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="filter-item">
                <h5 class="header-font">giá sản phẩm</h5>
                <p>Vui lòng chọn khoảng giá</p>
                <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0.714286%; width: 70.7143%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0.714286%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 71.4286%;"></span>
                </div>
                <div class="range-slider">
                    <label for="amount">Từ </label>
                    <input type="text" id="amount" readonly="">
                    <input type="hidden" id="amount1" name="amount1">
                    <input type="hidden" id="amount2" name="amount2">
                </div>
            </div>
        </div>
        <!-- /.filter box -->
        <!-- filter box -->
        <div class="block-filter mb5">
            <h4 class="block-title header-font mb-4">Lọc theo tag</h4>
            <div class="filter-item">
                <div class="list-tag">
                    {% for tag in tags %}
                    <a href="{{ tag.url }}" class="tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.filter box -->
    </div>
    <!-- /.product-list-filter -->
</div>
<script>
    function filterprice(minimum_range, maximum_range) {
        var url = window.location.href;
        var amount1 =  minimum_range;//$(this).closest('.range-slider').find('input[name="amount1"]').val();\
        var amount2 = maximum_range; // $(this).closest('.range-slider').find('input[name="amount2"]').val();
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                min : amount1,
                max: amount2,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

</script>