{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    <section class="block-banner bestme-block-slideshow">
        <div class="container">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-home-banner" data-interval="{{ slideshow.transition_time }}">
                {% for slide in slideshow.slides %}
                    <div class="slide-item">
                        <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                            <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% for k, block in blocks %}
{% if block['visible']%}
<section class="{% if  k == 1 %}block-best-sales-product{% else %}block-top-sale-product-{{ k }}{% endif %} my-5">
    <div class="container">
        <h2 class="block-title header-font mb-4 {% if (k % 2 != 0) %} text-right {% endif %}">{{ block['title'] }}</h2>
        <div class="row">
            {% if k == 1 %}
                {% if  banners_visible == '1' and banner_highlight['visible'] == '1' %}
                    <div class="col-12 col-md-6 bestme-block-banner-1">
                        <a target="_blank" href="{{ banner_highlight['url'] }}" title="{{ banner_highlight['description'] }}">
                            <div class="banner-left mt-4">
                                <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" style="width:100%;object-fit:cover;" alt="{{ banner_highlight['description'] }}">
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            <div class="col-12 {% if k == 1 %}col-md-{% if  banners_visible == '1' and banner_highlight['visible'] == '1' %}6{% else %}12{% endif %}{% endif %}">
                <div class="block-content bestme-block-best-sales-product">
                    <div class="owl-carousel owl-theme owl-review owl-hidden-dots {% if  k == 1 %}owl-best-sales{% else %}owl-product{% endif %}" data-number-item="{{ block['grid'] }}"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% if block['collections'] is not empty %}
                            {% for k,collection in block['collections'] %}
                            <div class="slide-item">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="{{ collection["url"] }}">
                                            <img class=" ls-is-cached lazyloaded" data-src="{{ collection['image'] }}" alt="" src="{{ collection['image'] }}">
                                        </a>
                                    </div>
                                    <div class="item-product-name">
                                        <a href="{{ collection["url"] }}" title="test des" class="product-title">{{ collection['title'] }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% for k,product in block['products'] %}
                                <div class="slide-item">
                                    <div class="product-item">
                                        <div class="product-highlight">
                                            {% if product['is_new_product'] %}
                                                <span class="status">Mới</span>
                                            {% endif %}
                                            {% if product['percent_sale'] is not empty %}
                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img class="lazyload" data-src="{{ product['thumb'] }}" alt="">
                                            </a>
                                            <div class="product-preview">
                                                <div class="content">
                                                    <a href="{{ product['href'] }}" class="buy-btn">MUA NGAY</a>
                                                    <div class="option">
                                                        <a href="{{ product['href'] }}" class="link"><i class="icon icon-eye"></i></a>
                                                        <a href="{{ product['href'] }}" class="link"><i class="icon icon-cart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-rating">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </div>
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                                    {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% else %}
                                                <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price">{{ product['price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="product-price-sale">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- End Pro Item -->
                            {% endfor %}
                        {% endif %}
                    </div>
                </div> <!-- End block-content -->
            </div>

        </div>
    </div> <!-- End container -->
    {% if k == 1 %}
        <div class="container pb-3">
            <div class="row">
                {% if  banners_visible == '1' and banner_highlight['visible'] == '1' %}
                    <div class="col-md-6"></div>
                {% endif %}
                <div class="col-md-{% if  banners_visible == '1' and banner_highlight['visible'] == '1' %}6{% else %}12{% endif %}">
                    <div class="w-100 text-center">
                        <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container pb-3">
            <div class="w-100 text-center">
                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
            </div>
        </div>
    {% endif %}
</section> <!-- End block-top-sale-product -->
    <div class="bestme_app_after_product">

    </div>
    {% if k == 1 %}
        {% if banners_visible == '1' and banner_left['visible'] == '1' %}
            <section class="block-ads-banner mb-5 bestme-block-banner-2">
                <div class="container">
                    <a target="_blank" href="{{ banner_left['url'] }}" style="color: #454545">
                        <img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}" style="width:100%;object-fit:cover;">
                    </a>
                </div> <!-- End container -->
            </section> <!-- End block ads banner -->
        {% endif %}
    {% elseif k == (blocks|length - 1) %}
            {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
            <section class="block-ads-banner mb-5 text-center bestme-block-banner-3">
                <div class="container">
                    <a target="_blank" href="{{ banner_middle['url'] }}" style="color: #454545">
                        <img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}" style="width:100%;object-fit:cover;">
                    </a>
                </div> <!-- End container -->
            </section> <!-- End block ads banner -->
            {% endif %}
    {% endif %}
{% endif %}
{% endfor %}
<!-- block-ads-banner -->

<!-- block-partner -->
{% if partners_visible == '1' %}
    <section class="block-partner text-center mb-5 bestme-block-partner">
        <div class="container">
            <h2 class="header-font my-5 pt-5">{{ partners_title }}</h2>
            <div class="owl-carousel owl-theme owl-hidden-dots owl-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="item">
                        <a href="{{ partner.url }}" title="{{ partner['description'] }}">
                            <img class="lazyload" data-src="{{ partner['image-url'] }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- End container -->
    </section> <!-- End block-partner -->
{% endif %}
<!-- /.block-partner -->

{% if latest_blog %}
<section class="block-blog text-center mb-5 mt-3">
    <div class="container">
        <h2 class="header-font my-4 pt-5">{{ blog_title }}</h2>
        <div class="block-content">
            <div class="row">
                {% for k,blog in latest_blog %}
                    {% if k < 3 %}
                        <div class="col-12 col-md-4">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <a href="{{ blog['link'] }}">
                                        <img src="{{ blog['image'] }}"  alt="{{ blog['alt'] }}">
                                    </a>
                                </div>
                                <p class="blog-author">{{ blog['lastname'] }} {{ blog['firstname'] }}</p>
                                <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                <p class="blog-date">{{ blog['date_added']|date('d.m.Y') }}</p>
                                <p class="blog-summary">{{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : blog['short_content']|html_entity_decode|striptags }} </p>
                                <a class="blog-link" href="{{ blog['link'] }}">ĐỌC thêm</a>
                            </div> <!-- End blog-item -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div> <!-- End row -->
        </div> <!-- End block-content -->
    </div> <!-- End container -->
</section> <!-- End block-blog -->
{% endif %}
<div class="bestme_app_before_footer">

</div>
<script>
    jQuery(document).ready(function () {
        owlInit($('.block-best-sales-product .owl-best-sales'), $('.block-best-sales-product .owl-best-sales').attr('data-number-item'), false, false);
        {% for k, block in blocks %}
            if (jQuery('.block-top-sale-product-{{ k }}').length > 0) {
                owlInit($('.block-top-sale-product-{{ k }} .owl-product'), $('.block-top-sale-product-{{ k }} .owl-product').attr('data-number-item'), false, false);
            }
        {% endfor %}
        function owlInit(element, numItem, nav = true, dots = false)
        {
            if(element.length) {
                const autoplayTime = undefined === element.data('autoplay_time') ? 5 : element.data('autoplay_time')
                element.owlCarousel({
                    loop: undefined !== element.data('loop') && 1 == element.data('loop'),
                    autoplay: undefined !== element.data('autoplay') && 1 == element.data('autoplay'),
                    autoplayTimeout: autoplayTime * 1e3,
                    responsiveClass: true,
                    dots: dots,
                    nav:nav,
                    navText: ['<i class="icon icon-chevron-left"></i>', '<i class="icon icon-chevron-right"></i>'],
                    URLhashListener:true,
                    startPosition: 'URLHash',
                    responsive:{
                        0:{
                            items: numItem,
                        },
                        480: {
                            items: numItem,
                        },
                        600:{
                            items:Math.round(numItem/2),
                        },
                        1000:{
                            items:numItem,
                        }
                    }
                });
            }
        }
    });
</script>
<style>
    .item-product-name{
        height: 36px;
        overflow: hidden;
    }
    .block-partner img{
        max-width: 225px;
    }
    /*.owl-carousel.owl-drag .owl-item {*/
    /*    min-width: 145px !important;*/
    /*}*/
</style>
{{ footer }}