.collection-thumb .img-fluid {
    height: 302px;
    width: 100%;
}
.logo-on-mobile {
    display: none;
}

/* temp no display home banner title and sub title */
.home-banner-block-title,
.home-banner-block-sub-title {
    display: none;
}

/* temp no display home blog title */
.home-blog-title {
    display: none;
}

#image-loading {
    background: url("../../../../image/loading-eclipse.gif");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 99999;
    width: 100px;
    display: none;
    height: 100px;
}

@media (max-width: 768px) {
    .collection-thumb .img-fluid {
        max-height: 170px;
    }
    .logo-on-mobile {
        display: block;
        padding: 20px 15px;
    }
    .logo-on-mobile img{
        max-width: 100%;
    }
    #sidenav {
        background-image: none;
        padding-top: 0px;
    }

    /* blog detail */
    .newsTop .imgNews,
    .newsTop .imgNews img,
    .newsItem .newsItem-img img,
    .newsItem .newsItem-img,
    .banner-new .img-fluid {
        height: auto!important;
    }

    .container .block-detail .content-block a > iframe {
        width: 100%!important;
    }

    /* product detail price */
    .price-detail .price-old {
        font-size: 18px;
        margin-right: 5px;
    }
    .price-detail .price-new {
        font-size: 20px;
    }
}

.product-cate .product .product-thumb {
    /*width: 100%;*/
    /*height: 195px;*/
    position: relative;
    display: inline-block;

}
.product-cate .product .product-thumb .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.product-cate .product .product-thumb:hover img {
    visibility: hidden;
}
.product-cate .product .product-thumb:hover .img-top {
    display: inline;
    visibility: visible;
    max-height: 100%;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    pointer-events: unset !important;
}
.newsItem-img img, .imgNews img {
    height: 333px;
}
.quantity-button {
    border: 0px;
    outline: none !important;
}
@media (max-width: 768px) {
    .collection-thumb .img-fluid {
        height: 175px;
    }
    .newsItem-img img, .imgNews img {
        height: auto;
    }
}
.dropdown-menu{
    z-index: 9999!important;
}
.dialog-template {

}
#user-not-account {
    display: none;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 100px;
    z-index: 99999;
    padding: 0px !important;
    max-width: inherit;
    background-color: initial;
}
#user-not-account.show {
    display: inline-block !important;
}
#user-not-account .modal-dialog {
    display: inline-block;
}
#user-not-account .btn-continue{
    padding: .375rem .375rem;
}

.news-thumb a {
    max-height: 135px;
}
.content-block img {
    width: 100%;
}
.product-ct .product-title{
    height: 40px;
    overflow: hidden;
    line-height: 21px;
    display: inline;
}
.product-ct .product-total-sold {
    display: none; /* temp disable all shops. enable specific by custom css. TODO: enable for all shops */
    font-style: italic;
    color: #9c9c9c;
}

.list-news li a img {
    width: 27%;
}
.news-left .list-news li p{
    float: right;
    width: 70%;
}
a.btn.btn-add{
    background: #2FA29A !important;
}