/* No CSS *//*# sourceMappingURL=responsive.css.map */

V@media screen and (max-width:680px) {
    .block-header-menu .block-header-action .action-search .search-sticky{
        left: -20px!important;
    }
    #add_cart_notify {
        width: inherit;
        left: 3px;
    }
}