<script>
    const COLOR_1 = [
        '#B2182B',
        '#D6604D',
        '#F4A582',
        '#FDDBC7',
        '#FFF6C8',
        '#E0E0E0']

    const selector = {
        revenueDoughnutChart: '#revenue-doughnut-chart',
        profitDoughnutChart : '#profit-doughnut-chart',
        openBalanceValue    : '.opening-balance-value',
        cashInflowValue     : '.cash-inflow-value',
        cashOutflowValue    : '.cash-outflow-value',
        closeBalanceValue   : '.close-balance-value',
        revenueLineChart    : '#revenue-line-chart'
    }

    var CHART = {
        revenueDoughnut: null,
        profitDoughnut : null,
        revenueLine    : null,
    }

    renderAllChart();

    function renderAllChart($startDate = '', $endDate = '', $store = null) {
        renderDoughnutChart('{{ action_get_revenue_from_source_data | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', CHART.revenueDoughnut, selector.revenueDoughnutChart, $startDate, $endDate, $store, function (result) {
            CHART.revenueDoughnut = result
        }, COLOR_1)
        renderDoughnutChart('{{ action_get_profit_from_source_data | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', CHART.profitDoughnut, selector.profitDoughnutChart, $startDate, $endDate,$store, function (result) {
            CHART.profitDoughnut = result
        }, COLOR_1)

        renderLineChart(selector.revenueLineChart, CHART.revenueLine, $startDate, $endDate, $store)
    }

    function renderReviewBox($startDate = '', $endDate = '', $store) {
        $.getJSON('{{ action_get_overview_data | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {
            start: $startDate,
            end  : $endDate,
            store: $store
        }, function (response) {
            $(selector.openBalanceValue).html(response.opening_balance);
            $(selector.cashInflowValue).html(response.cash_inflow);
            $(selector.cashOutflowValue).html(response.cash_outflow);
            $(selector.closeBalanceValue).html(response.closing_balance);
        })
    }

    function renderLineChart($canvas, $chart, $startDate = '', $endDate = '', $store) {
        $.getJSON('{{ action_get_revenue_and_profit_data | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {
            start: $startDate,
            end  : $endDate,
            store: $store
        }, function (data) {
            let revenueData = [];
            let profitData = [];
            let labels = [];

            for (let i in data) {
                labels.push(data[i].label)
                revenueData.push(parseInt(data[i].revenue))
                profitData.push(parseInt(data[i].profit))
            }
            if (!$chart) {
                createLineChart($canvas, labels, revenueData, profitData)
            } else {
                $chart.data.datasets[0].data = profitData
                $chart.data.datasets[1].data = revenueData
                $chart.data.datasets[0].labels = labels
                $chart.data.labels = labels
                updateChart($chart, selectorToClassOrId($canvas) + "-legend")
            }
        })
    }

    function createLineChart($canvas, $labels, $revenueData, $profitData) {
        var ctx = document.getElementById(selectorToClassOrId($canvas)).getContext('2d');
        ctx.height = 250;

        var config = {
            type   : 'line',
            data   : {
                labels  : $labels,
                datasets: [
                    {
                        label                    : '{{ text_profit }}',
                        data                     : $profitData,
                        fill                     : false,
                        showLine                 : true,
                        pointBorderWidth         : 0,
                        lineTension              : 0,
                        borderColor              : "#ED592A",
                        backgroundColor          : '#ED592A',
                        borderJoinStyle          : "miter",
                        pointHitRadius           : 10,
                        pointHoverBackgroundColor: "#ED592A",
                    },
                    {
                        label                    : '{{ text_sales }}',
                        data                     : $revenueData,
                        fill                     : false,
                        showLine                 : true,
                        pointBorderWidth         : 0,
                        lineTension              : 0,
                        borderColor              : "#637381",
                        backgroundColor          : '#637381',
                        borderJoinStyle          : "miter",
                        pointHitRadius           : 10,
                        pointHoverBackgroundColor: "#637381",
                    }]
            },
            options: {
                maintainAspectRatio: false,
                tooltips           : {
                    backgroundColor: '#ffffff',
                    borderColor    : '#333',
                    titleFontColor : '#000',
                    borderWidth    : 1,
                    footerFontColor: '#000',
                    bodyFontColor:  '#000',
                    callbacks      : {
                        label: function (tooltipItem, data) {
                            let amount = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] || '';
                            amount = parseInt(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3)
                            let label = data.datasets[tooltipItem.datasetIndex].label || '';
                            return label + ": " + (amount ? amount : 0) + ' ₫'
                        },
                        afterLabel: function (tooltipItem, data) {
                            let orderIndex = tooltipItem.datasetIndex == 0 ? 1 : 0;
                            if(data.datasets[0].data[tooltipItem.index] === data.datasets[1].data[tooltipItem.index]) {
                                let amount = data.datasets[orderIndex].data[tooltipItem.index] || '';
                                amount = parseInt(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3)
                                let label = data.datasets[orderIndex].label || '';
                                return label + ": " + (amount ? amount : 0) + ' ₫'
                            }
                        }
                    }
                },
                scales             : {
                    xAxes: [{
                        gridLines: {
                            drawBorder: false,
                            color     : "#F4F6F8"
                        },
                        display  : true,
                        ticks    : {
                            callback: function (label, index, labels) {
                                return label.split('/').slice(0, -1).join('/')
                            }
                        },
                    }],
                    yAxes: [{
                        gridLines: {
                            drawBorder: false,
                            color     : "#F4F6F8"
                        },
                        ticks    : {
                            min     : 0,
                            callback: function (label, index, labels) {
                                return nFormatterYAxis(label)
                            }
                        },
                        interval : 10,
                    }],
                },
                legend             : {
                    display: false
                },
                legendCallback     : function (chart) {
                    var chartId = $($canvas).data('chart-id')
                    var text = [];
                    text.push('<ul class="' + chartId + '-legend line-chart-legend">');
                    for (var i = 0; i < chart.data.datasets.length; i++) {
                        text.push('<li>' +
                            '<div class="line-legend-value">' +
                            '<div class="line-legend-value__box">' +
                            '<span class="line-legend-value__line" style="background-color:' + chart.data.datasets[i].backgroundColor + '"></span>' +
                            '<span class="line-legend-value__point" style="background-color:' + chart.data.datasets[i].backgroundColor + '"></span>' +
                            '</div>' +
                            '<span class="label">' + chart.data.datasets[i].label + '</span>' +
                            '</div>' +
                            '</li>');
                    }

                    text.push('</ul>');

                    return text.join('');
                },
            }
        };

        CHART.revenueLine = new Chart(ctx, config);

        var myLegendContainer = document.getElementById(selectorToClassOrId($canvas) + "-legend");
        myLegendContainer.innerHTML = CHART.revenueLine.generateLegend();
        // hidden and show indicator when click on the label
        // var legendItems = myLegendContainer.getElementsByTagName('li');
        // for (var i = 0; i < legendItems.length; i += 1) {
        //     legendItems[i].addEventListener("click", legendClickCallback, false);
        // }
    }

    function renderDoughnutChart($action, $chart, $canvas, $startDate, $endDate, $store, $callback, $color = COLOR_1) {
        $($canvas + '-box .image-loading').show();
        $.getJSON($action, {
            start: $startDate,
            end  : $endDate,
            store: $store
        }, function (response) {
            $($canvas + '-box .image-loading').hide();
            if (response.length > 0) {
                $($canvas).show();
                $($canvas + '-box .cash-flow-chart-no-data').hide();
            } else {
                $($canvas + '-box .cash-flow-chart-no-data').show();
                $($canvas).hide();
            }

            var data = []
            var chartLabels = [];
            var percent = []

            for (let i in response) {
                data.push(parseInt(response[i].total_amount))
                chartLabels.push(response[i].source)
                percent.push(response[i].percent)
            }
            if (!$chart) {
                $callback(createDoughnutChart($canvas, chartLabels, data, percent, $color))
            } else {
                $chart.data.datasets[0].data = data
                $chart.data.datasets[0].percent = percent
                $chart.data.datasets[0].labels = chartLabels
                $chart.data.labels = chartLabels
                updateChart($chart, selectorToClassOrId($canvas) + "-legend")
            }
        });
    }

    function createDoughnutChart($canvas, $label, $data, $percent, $color) {
        var ctx = document.getElementById(selectorToClassOrId($canvas)).getContext('2d');
        ctx.height = 180;
        ctx.width = 180;

        var chart = new Chart(ctx, {
            type   : 'doughnut',
            data   : {
                labels  : $label,
                datasets: [{
                    backgroundColor     : $color,
                    data                : $data,
                    labels              : $label,
                    percent             : $percent,
                    borderWidth         : 0,
                    hoverBorderWidth    : 5,
                    hoverBorderColor    : $color,
                    hoverBackgroundColor: $color
                }]
            },
            options: {
                maintainAspectRatio: false,
                onResize           : function (chart1) {
                    var chartSize = $(".doughnut-chart-area").width() / 2 > 180 ? 180 : 150
                    chart1.canvas.parentNode.style.height = chartSize;
                    chart1.canvas.parentNode.style.width = chartSize;
                },
                tooltips           : {
                    backgroundColor: '#FFFFFF',
                    borderColor    : '#333',
                    titleFontColor : '#000',
                    borderWidth    : 1,
                    footerFontColor: '#000',
                    callbacks      : {
                        footer        : function (tooltipItem, data) {
                            var amount = data.datasets[0].data[tooltipItem[0].index] || '';
                            amount = parseInt(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3)
                            return '    ' + amount + ' ₫';
                        },
                        label         : function (tooltipItem, data) {
                            var label = data.labels[tooltipItem.index] || '';
                            return label;
                        },
                        labelTextColor: function (tooltipItem, chart) {
                            return '#000';
                        }
                    }
                },
                legend             : {
                    display: false
                },
                cutoutPercentage   : 65,

                legendCallback: function (chart) {
                    var chartId = $($canvas).data('chart-id')
                    var text = '<ul class="' + chartId + '-legend chart-legend">';
                    var ds = chart.data.datasets[0];
                    for (var i = 0; i < ds.data.length; i++) {
                        text += '<li>' +
                            '<span style="background-color:' + ds.backgroundColor[i] + '">' + '</span>' +
                            '<span>' + ds.labels[i] + '</span>' +
                            '<span>' + ds.percent[i] + '%</span>' +
                            '</li>'
                    }
                    text += '</ul>';
                    return text;
                }
            }
        });
        var chartSize = $(".doughnut-chart-area").width() / 2 > 180 ? 180 : 150
        chart.canvas.parentNode.style.height = chartSize;
        chart.canvas.parentNode.style.width = chartSize;

        var myLegendContainer = document.getElementById(selectorToClassOrId($canvas) + "-legend");
        myLegendContainer.innerHTML = chart.generateLegend();
        // hidden and show indicator when click on the label
        // var legendItems = myLegendContainer.getElementsByTagName('li');
        // for (var i = 0; i < legendItems.length; i += 1) {
        //     legendItems[i].addEventListener("click", legendClickCallback, false);
        // }
        return chart;
    }

    function updateChart($chart, $legend) {
        $chart.update()
        var myLegendContainer = document.getElementById($legend);
        myLegendContainer.innerHTML = $chart.generateLegend();

        // hidden and show indicator when click on the label
        // var legendItems = myLegendContainer.getElementsByTagName('li');
        // for (var i = 0; i < legendItems.length; i += 1) {
        //     legendItems[i].addEventListener("click", legendClickCallback, false);
        // }
    }

    function legendClickCallback(event) {
        event = event || window.event;

        var target = event.target || event.srcElement;
        while (target.nodeName !== 'LI') {
            target = target.parentElement;
        }
        var parent = target.parentElement;

        var chartId = parent.classList[0].split("-")[0];

        var chart = CHART[chartId];

        var index = Array.prototype.slice.call(parent.children).indexOf(target);
        var meta = chart.getDatasetMeta(0);
        var item = meta.data[index];

        if (item.hidden === null || item.hidden === false) {
            item.hidden = true;
            target.classList.add('hidden');
            $(this).css('text-decoration', 'line-through')
        } else {
            target.classList.remove('hidden');
            item.hidden = false;
            $(this).css('text-decoration', 'none')
        }
        CHART[chartId].update();
    }

    function selectorToClassOrId(selector) {
        return selector.slice(1)
    }

    function nFormatterYAxis(num2) {
        if (num2 >= 1000000000) {
            return (num2 / 1000000000).toFixed(1).replace(/\.0$/, '') + ' B';
        }

        if (num2 >= 1000000) {
            return (num2 / 1000000).toFixed(1).replace(/\.0$/, '') + ' M';
        }

        if (num2 >= 1000) {
            return (num2 / 1000).toFixed(1).replace(/\.0$/, '') + 'K';
        }
        return num2;
    }
</script>