<script>
    const renderSelector = {
        revenueData        : '.revenue-data',
        countOrderData     : '.count-order-data',
        profitData         : '.profit-data',
        revenuePerOrderData: '.average-revenue-per-order-data',
        topCustomerTable   : '.top-customer-table',
        topStaffTable      : '.top-staff-table',
    }

    renderOverviewData();
    renderTopSellCustomerTable();
    renderTopSellStaffTable();

    function renderOverviewData($startDate = '', $endDate = '', $store = null) {
        var url = '{{ action_get_overview_data | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        $.getJSON(url, {
            start: $startDate,
            end  : $endDate,
            store: $store
        }, function (response) {
            $(renderSelector.revenueData).html(formatAmount(response.revenue) + ' ₫');
            $(renderSelector.countOrderData).html(formatAmount(response.count_order));
            $(renderSelector.profitData).html(formatAmount(response.profit) + ' ₫');
            $(renderSelector.revenuePerOrderData).html(formatAmount(response.revenue_per_order) + ' ₫');
        })
    }

    function renderTopSellCustomerTable($startDate = '', $endDate = '', $store = null) {
        var url = '{{ action_get_top_customer_table | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        $.ajax({
            url  : url,
            method: 'GET',
            data: {
                start: $startDate,
                end  : $endDate,
                store: $store
            },
            success: function (response) {
                $(renderSelector.topCustomerTable).html(response)
            }
        })
    }

    function renderTopSellStaffTable($startDate = '', $endDate = '', $store = null) {
        var url = '{{ action_get_top_staff_table | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        $.ajax({
            url  : url,
            method: 'GET',
            data: {
                start: $startDate,
                end  : $endDate,
                store: $store
            },
            success: function (response) {
                console.log(response)
                $(renderSelector.topStaffTable).html(response)
            }
        })
    }

    function formatAmount(amount) {
        return parseInt(amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,').slice(0, -3)
    }

</script>