{{ header }}
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ url_home }}">Trang chủ</a>
            <span class="breadcrumb-item active">Giỏ hàng</span>
            <span class="breadcrumb-item active">Đặt hàng</span>
        </nav>
    </div>
</div>
<div class="block-succsess-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 text-center">
                <h1 class="header-font">
                    <span>{{ order_success_text|html_entity_decode }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
                    <path
                    d="M25.277 9.937C25.736 11.208 26 12.572 26 14C26 20.617 20.617 26 14 26C7.383 26 2 20.617 2 14C2 7.383 7.383 2 14 2C16.639 2 19.074 2.867 21.058 4.316L22.612 2.984C20.233 1.122 17.248 0 14 0C6.28 0 0 6.28 0 14C0 21.72 6.28 28 14 28C21.72 28 28 21.72 28 14C28 11.981 27.562 10.065 26.789 8.33L25.277 9.937Z"
                    fill="#3FCC5E" />
                    <path d="M28 1L14 13L8 8L6 10L14 19L30 2L28 1Z" fill="#3FCC5E" />
                    </svg>
                </h1>
                <p>
                    Đơn hàng của bạn đã được đặt thành công! Mã đơn hàng: {{ order_code }}
                </p>
                <a href="{{ url_shop }}">TIẾP TỤC MUA SẮM</a>
            </div>
        </div>
    </div>
</div>

{{ footer }}