<!-- block-ads-banner -->
{% if banners_visible == '1' %}
    <!-- List-banner -->
    <section id="block-banner-03">
        <div class="container">
            <ul class="list-banner">
                {% if banner_highlight['visible'] == '1' %}
                    <li class="bestme-block-banner-1">
                        <a target="_blank" href="{{ banner_highlight['url'] }}"><img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}"></a>
                    </li>
                {% endif %}
                {% if banner_left['visible'] == '1' %}
                    <li class="bestme-block-banner-2">
                        <a target="_blank" href="{{ banner_left['url'] }}"><img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }} "></a>
                    </li>
                {% endif %}
                {% if banner_middle['visible'] == '1' %}
                    <li class="bestme-block-banner-3">
                        <a target="_blank" href="{{ banner_middle['url'] }}"><img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
    <!-- ./List-banner -->
{% endif %}
<!-- /.block-ads-banner -->