{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
    <section class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['active'] is defined  %}
                    <li>{{ breadcrumb.text }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <div class="block-cart-page">
        <div class="container">
            <!-- Cart Listing -->
            <div class="cart-listing">
                {% if order_products is not empty %}
                    <h1 class="single-title fz-18 text-uppercase text-center fw-700 mb-3 mb-md-5">Giỏ hàng</h1>
                {% endif %}
                <div class="box-cart-result">
                    <div class="cart-table-new">
                        {% include ('default/template/checkout/my_orders_cart_listing_template.twig') %}
                        <br>
                    </div>
                </div>
            </div>
            <!-- End: Cart Listing -->
        </div>
    </div>
<!-------------------- /.PAGE ELEMENT ---------------------->

<!-------------------- ACCOUNT LOGIN DIALOG ---------------------->
{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}
<!-------------------- /.ACCOUNT LOGIN DIALOG ---------------------->

{{ footer }}
<style>
    .text-underline:hover{
        text-decoration: underline!important;
    }
</style>