{{ header }}
<div class="block-user-login">
    <div class="container">
        <div class="user-login">
            <div class="block-left">
                <h1 class="header-font">{{ text_login }}</h1>
                <p class="header-font">{{ text_or }} <a href="{{ rurl_register }}">{{ text_register }}</a></p>
            </div>
            <div class="block-right">
                <div class="form-login">
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <form action="{{ action }}" method="post" enctype="multipart/form-data">
                        <p class="header-font">{{ text_your_reset_password }}</p>
                        <div class="form-group">
                            <input type="email" name="email" id="" class="form-control" placeholder="Email" required
                                   aria-describedby="helpId">
                        </div>
                        <div class="form-group justify-content-start">
                            <button type="submit" class="btn btn-submit">{{ text_your_send }}</button>
                            <a href="{{ home }}">{{ text_your_cencal }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}