@import url('reset.css');
@import url('header.css');
@import url('footer.css');

/*Home page*/
.front-page .block-header,
.front-page .block-banner{
	position: relative;
}
.front-page .block-banner::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	height: 100px;
	width: 100%;
	z-index: 0
}
.front-page .block-banner>.container{
	position: relative;
	z-index: 1;
}
.owl-carousel{
	position: relative;
}
.owl-carousel.owl-product .owl-nav{
	margin: 0;
	position: absolute;
	top: -40px;
	right: 0;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]{
	padding: 0 10px !important;
	height: 25px;
	width: auto;
	margin: 0;
	line-height: 25px;
	border-radius: 0;
	opacity: 0.8;
	transition: all 0.2s ease;
	transform: translateY(0);
	top: auto;
	left: auto;
	position: relative;
	right: auto;
}
.owl-carousel.owl-product .owl-nav button.owl-prev{
	border-right: 1px solid #949494;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]:hover,
.owl-carousel.owl-product .owl-nav button[class*=owl-]:focus,
.owl-carousel .owl-nav button[class*=owl-]:hover,
.owl-carousel .owl-nav button[class*=owl-]:focus
{
	background: none;
	outline: none;
	opacity: 1;
}
.owl-carousel .owl-nav button[class*=owl-] i{
	background: #949494;
}
.owl-home-banner .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 12px;
	z-index: 1;
}
.owl-home-banner .slide-item{
	min-height: 408px;
	position: relative;
}
.owl-home-banner .slide-item .image-background{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.owl-home-banner .owl-dots>button.owl-dot>span{
    position: relative;
    cursor: pointer;
    font-size: 0;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 100%;
    border: 2px solid rgba(255,255,255,0);
    transition: all .3s ease 0s;
}
.owl-home-banner .owl-dots>button.owl-dot>span:before{
        content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100%;
    background-color: #fff;
    transition: all .3s ease 0s;
    opacity: 1;
}
.owl-home-banner .owl-dots>button.owl-dot:hover span:before,
.owl-home-banner .owl-dots>button.owl-dot:focus span:before,
.owl-home-banner .owl-dots>button.owl-dot.active span:before{
    -webkit-transform: scale(.4);
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    -o-transform: scale(.4);
}
.owl-home-banner .owl-dots>button.owl-dot{
	position: relative;
    margin: 0 6px;
    display: inline-block;
    padding: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    outline:none;
}
.owl-home-banner .owl-dots>button.owl-dot:hover span,
.owl-home-banner .owl-dots>button.owl-dot:focus span,
.owl-home-banner .owl-dots>button.owl-dot.active span{
	    border: 2px solid #fff;
	    background:transparent;
}
/*
.owl-home-banner .owl-nav button[class*=owl-],
.owl-carousel .owl-nav button[class*=owl-]{
	opacity: 0.8;
	transition: all 0.2s ease-in;
	position: absolute;
	top: 50%;
	z-index: 1;
	margin: 0;
	text-align: center;
	transform: translateY(-50%);
}
*/
.owl-home-banner .owl-nav button[class*=owl-]{
	line-height: 40px;
	border-radius: 100%;
	background: #F6F6F6;
	width: 36px;
	height: 36px;
}
.owl-home-banner .owl-nav button[class*=owl-]:hover,
.owl-home-banner .owl-nav button[class*=owl-]:focus{
	opacity: 1;
	background-color: #F6F6F6;
}
/*
.owl-carousel .owl-nav>button.owl-prev{
	left: -40px;
}
.owl-carousel .owl-nav>button.owl-next{
	right: -40px;
}
*/
.block-top-sale-product .banner-left{
	border: 2px solid #868686;
	box-sizing: border-box;
	border-radius: 4px;
	display: inline-flex;
}
.block-top-sale-product .banner-left img{
	top: 55px;
	position: relative;
	left: 50px;
}
/*End home page*/

/*Product*/
.owl-product .owl-item{
	padding: 0 15px 30px;
}
.product-item{
	transition: all 1s ease;
	margin-top: 15px;
	margin-bottom: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
}
.product-item .product-meta{
   padding: 10px;
    text-align: center; 
}
.product-item .product-highlight{
	position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align:center;
}
.product-item .product-highlight >span{
	    font-weight: 300;
    color: #fff;
    font-size: 14px;
    padding: 0;
    line-height: 64px;
    display: block;
    background-color: #bdca8c;
    border-radius: 100%;
}

.product-item .product-highlight .status{
	background: #3F4755;
}
.product-item .product-img{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
	text-align:center;
}
.product-item .product-img a{
	display: inline-block;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.product-item .product-title{
	height: 35px;
	overflow: hidden;
	line-height: 16px;
	display: inline;
}
.product-item .product-price{
	color: #D0203F;
	font-weight: 500;
	display: inline-block;
	font-size: 18px;
}
.product-item .product-price-sale{
	color: #949494;
	font-size: 14px;
	display: inline-block;
	text-decoration-line: line-through;
}
.product-item .product-preview{
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 10;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    text-align: center;
    transition: all .4s cubic-bezier(.25,.46,.45,.94) 0s;
}
/*
.product-item:hover{
	transform: scaleY(1.08);
	transform-origin: top;
	z-index: 1;
}
.product-item:hover .product-info{
	transform: scaleY(0.92);
	transform-origin: top;
}*/
.product-item .product-img img{
    max-height:none !important;
    margin:0 auto;
}
.product-item:hover .product-preview{
	visibility: visible;
	opacity: 1;
	    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.product-item .product-preview a{
	background: #D0203F;
	border-radius: 4px;
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 15px;
	display: inline-block;
	text-transform: uppercase;
}
.product-item .product-preview a.cart-btn{
	    width: auto;
    position: relative;
    padding: 9px 25px;
    font-size: 14px;
    border-radius: 0;
    font-weight: 600;
    background: #fff !important;
    color: #000;
    border: 1px solid #000;
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
}
.product-item .product-preview a.cart-btn:after{
    width: 100%;
    content: "";
    position: absolute;
    z-index: 0;
    transition: all .4s cubic-bezier(.25,.46,.45,.94);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    background: 0 0;
}
.product-item .product-preview a.cart-btn:hover:after{
        width: 0;
    background-color: #fff;
}
.product-item .product-preview a.cart-btn:hover{
    color:#fff;
    background:#000 !important;
}
.product-item .product-preview a.like-btn{
	margin-left: 20px;
	background: #3F4755;
}
.product-item .product-rating{
	margin: 10px 0;
}
.product-rating{
	margin: 10px 0;
}
.product-rating .rate-item{
	-webkit-mask:  url('../img/icons/star-off.svg') center no-repeat;
	mask: url('../img/icons/star-off.svg') center no-repeat;
	width: 15px;
	height: 15px;
	-webkit-mask-size: contain;
	display: inline-block;
	background: #949494;
}
.product-rating .rate-item.on{
	-webkit-mask-size: contain;
	-webkit-mask-image:  url('../img/icons/star-on.svg');
	mask-image: url('../img/icons/star-on.svg');
	background: #F9BA48;
}

/*Product filter*/
.box-product-filter{
	margin-bottom: 50px;
}
.box-product-filter .block-title{
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 24px;
	padding: 20px 0;
	margin: 0;
}
.box-product-filter nav.nav a{
	border-top: 1px solid #EBEBEB;
	line-height: 18px;
	padding: 15px 0;
}
.box-product-filter nav.nav a:hover,
.box-product-filter nav.nav a.active{
	font-weight: 500;
}
.box-product-filter#product-price .ui-widget.ui-widget-content{
	background: #E9E9E9;
	border-radius: 5px;
	height: 4px;
	border: none;
}
.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
	background: #D0203F;
}
.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
	border-radius: 100%;
	width: 16px;
	height: 16px;
	top: -0.4em;
	background: #fff;
	border: 1px solid #D0203F;
	outline: none;
	cursor: pointer;
}
.product-view .view-header .result-message{
	background: #F6F6F6;
	border-top: 2px solid #761324;
	padding: 1em 2em;
}
/*End product*/

/*Blog*/
.block-blog-page{
  margin-top:30px;  
}

.blog-item{
	padding:1.25rem 0;
}
.blog-item .blog-title{
	margin: 20px 0 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	display: block;
}
.blog-item .meta-blog{
    margin-bottom: 10px;
    padding: 10px 0;
}
.blog-item .meta-blog>span{
    padding-right:15px;
    display:inline-block;
    line-height:24px;
}
.blog-item .blog-info{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EBEBEB;
	color: #949494;
	width: auto;
    display: inline-block;
    min-width: 75%;
}
.blog-item .blog-info .blog-date{
	margin-right: 16px;
}
.blog-item .blog-summary{
	height: 80px;
	overflow: hidden;
}
.blog-item .blog-link{
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 8px 50px;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #D0203F;
	color: #D0203F;
	transition: all 0.2s ease;
}
.blog-item .blog-link:hover{
	color: #FFFFFF;
	background: #D0203F;
	text-decoration: none;
}
.blogs-page .blog-results{
	margin-top: -15px;
}

.blog-item .header-font.name-blog{
    font-size:28px;
    font-weight:bold;
    text-transform: capitalize;
}

.related-item .author a,.related-item .author{
    color:#c0c3c3;
}
.author a:hover{
    color:#D0203F;
}

.blog-item .img-fluid{
    margin-bottom:10px;
}
.blog-item .desc{
    line-height:24px;
}

.btn.view-more{
    width:150px;
    background:#D0203F;
    border:1px solid #D0203F;
    color:var(--white);
    transition:all 0.4s ease;
}
.btn.view-more:hover{
    color:#D0203F;
    background:transparent;
}

.block-blog-page .header-item{
    font-size: 24px;
    color:var(--dark);
    text-transform: capitalize;
    display: block;
    line-height: 1;
    margin:0;
}

.list-related{
    padding: 1.25rem 0;
}

.side-item .related-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding:20px 0;
    border-bottom: 1px solid #e7e7e7;
} 
.side-item .list-tags,.side-item .block-cate{
    padding:1.25rem 0;
    margin:0;
}
.side-item .block-cate li {
    list-style-type:none;
    text-transform: uppercase;
    padding:5px 0;
}
.side-item .block-cate  a{
    color:#6c757d;
}
.side-item .block-cate  a:hover{
    color:#D0203F;
}
.side-item .list-tags a{
    display:inline-block;
    color:#6c757d;
    padding: 8px 16px;
    line-height: 1;
    border: 1px solid var(--gray-dark);
    border-radius: 20px;
    font-size: 14px;
    margin: 0px 5px 6px 0;
}  
.side-item .list-tags  a:hover{
    color:#D0203F;
    border-color:#D0203F;
}

.side-item .related-item .thumb{
    width:40%;
}
.side-item .related-item .content{
    width:60%;
    margin-left:15px;
}
.side-item .related-item .content .header-font{
    font-weight:bold;
    margin-bottom:15px;
    font-size:14px;
    text-transform:capitalize;
}
.social > span{
    font-weight:bold;
    font-size:20px;
}
.social ul{
    padding:0;
}
.social li{
    display:inline-bloc;
    list-style-type:none;
    font-size:20px;
}
.social li:nth-child(n+2){
    margin-left:10px;
}

/*blog detail*/
.article-content .meta-blog{
    margin-bottom: 10px;
    padding: 10px 0;
}
.article-content .meta-blog>span{
    padding-right:15px;
    display:inline-block;
    line-height:24px;
}
.article-content .header-font.name-blog{
    font-size:28px;
    font-weight:bold;
    text-transform: capitalize;
}
.social a{
    font-size:24px;
}
/*End Blog*/

/*Breadcrumb*/
ol.breadcrumb{
	padding: 0;
	background: none;
}
ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
	content: "";
	-webkit-mask:  url('../img/icons/drop-down.svg') no-repeat center;
	mask: url('../img/icons/drop-down.svg') no-repeat center;
	background: #949494;
	width: 8px;
	height: 8px;
	display: inline-block;
	position: relative;
	-webkit-mask-size: contain;
	transform: rotate(-90deg);
	margin: 0 12px;
}
ol.breadcrumb .breadcrumb-item a{
	color: #949494;
	font-weight: 400;
}
ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active{
	color: #949494;
	font-weight: 500;
}
/*End breadcrumb*/

/*Pagination*/
.pagination .page-item{
	margin-right: 8px;
}
.pagination .page-item .page-link{
	border: none;
	line-height: 25px;
	min-width: 25px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	padding: 0 6px;
	background: #F6F6F6;
	border-radius: 2px;
	color: #3F4755;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
	text-decoration: none;
	background: #D0203F;
	color: #fff;
}
.pagination .page-item .page-link i{
	top: 2px;
	font-size: 10px;
	background: #3F4755;
}
.pagination .page-item:first-child .page-link:hover i,
.pagination .page-item:last-child .page-link:hover i{
	background-color: #fff;
}
/*End pagination*/

/*Product detail*/
.product-teaser-fix{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0px;
	background: #fff;
	z-index: 9999;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
	display: none;
	padding: 1em 0;
}
.product-detail .node-left .owl-thumb .owl-item{
	padding: 4px;
}
.product-detail .node-left .owl-thumb a{
	/*border: 1px solid rgba(134, 134, 134, 0.3);*/
	display: inline-block;
}
.product-detail .node-left .owl-thumb a:hover,
.product-detail .node-left .owl-thumb a:visited,
.product-detail .node-left .owl-thumb a:focus{
	border: 1px solid #3F3F3F;
}
.product-detail .choose-attribute .attr-item label{
	font-weight: 400;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 2px;
	background: #fff;
}
.product-detail .choose-attribute .attr-item input:checked ~ label{
	font-weight: 500;
	border: 1px solid #D0203F;
	color: #D0203F;
}
#product-info-tab.nav-tabs .nav-link{
	background: #fff;
	border-radius: 2px 2px 0px 0px;
	color: #000;
	line-height: 25px;
	padding: 15px 40px;
	border-radius: 0;
	margin-right: 8px;
	text-transform: uppercase;
	font-weight: 500;
	-ms-flex-item-align: end;
	align-self: flex-end;
	transition: all 0.2s ease;
}
#product-info-tab.nav-tabs .nav-item{
	margin: 0;
	display: flex;
}
#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
	padding: 15px 40px;
	color: #fff;
	background: #000;
}
/*End Product detail*/
@media (max-width: 815px) {
	.cart-area{
		text-align: left !important;
	}
	.block-header-logo img{
		width: 120px !important;
		max-width: none;
	}
	.block-header.fixed .input-group-icon.flex-fill{
		right: -37px;
	}
	.bestme-block-hot-product{
		padding-top: 0 !important;
	}
	.owl-home-banner .slide-item{
		min-height: 200px;
	}
}
/*********** NEW CSS *************/
.no-padding{
    padding:0 !important;
}
@media(min-width:1200px){
    .section-product-left{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .section-product-right{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
}
body{
    font-family: Hind,sans-serif !important;
}
a:hover{    text-decoration: none;}
.header-top{
    height: 40px;
    font-size: 14px;
    background: #fff;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
    padding:0;
}
.block-header  .ml-auto-right .cart-link{
	float:right;
	height: auto !important;
	margin: 0;
	background:transparent !important;
	color:#000;
	position: relative;
    padding: 0 10px;
}
.block-header  .ml-auto-right .cart-link:before{
    content: "";
    height: 20px;
    width: 1px;
    border-left: 1px dotted #e1e1e1;
    position: absolute;
    left: 0;
    top: 10px;
}
.block-header  .ml-auto-right .cart-link i{
	line-height:40px;
	color:#000;
	background:transparent;
}
.ml-auto-right .form-search-header{
	float: right;
	position:relative;
	z-index:11;
}
.block-header .ml-auto-right .cart-link .amount{
	padding: 0;
}
.block-header .ml-auto-right .cart-link .amount .total{
	display:none;
}
.search-button .btn{
	height: 40px;
}
.search-button .btn:focus{
    box-shadow:none !important;
}
.search-expand{
	position: absolute;
    right: 0px;
    top: 0;
    width: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    visibility: hidden;
    display:none;
}
.search-expand.show{
    width: 300px;
	opacity: 1;
	visibility: visible;
	display:block;
}
.search-expand .form-control{
	border: none !important;
	border-bottom: 1px solid #000 !important;
	padding: 0 30px 0px 10px;
	border-radius: 0;
    height: 40px;
    padding-left:10px !important;
}
.search-expand .input-group-icon {
    width:100%;
}
.user-desk{
        padding: 0;
    line-height: 40px;
}
.user-desk a{
    font-style: normal;
    border-right: 1px dotted #e1e1e1;
    padding: 0 10px;
    font-weight: 300;
    color: #666;
    display:inline-block;
    width:auto;
    line-height:20px;
}
.user-desk a:hover{
    background:transparent;
    color:#000;
}
.user-desk a:last-child{
    border:none;
}
.block-header-logo{
    text-align:center;
}
.block-header-logo img{
    max-height: none !important;
}
.block-header .block-header-menu .collapse>ul.nav > li > a{
    color:#000;
}
.main-menu-wrapper{
    border-top: 1px solid #e5e5e5;
}
.main-menu-wrapper .block-header-menu{
    width:100%;
    text-align:center;
}
@media(min-width:992px){
    .main-menu-wrapper .block-header-menu #navbarMainMenu{
        display:block !important;
    }
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav{
    display:block !important;
    text-align: center;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .nav-item{
    display: inline-block;
    padding:20px 0;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .nav-item .nav-link   {
        color: #000;
    padding: 0 25px;
    border-right: 1px dotted #999;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .nav-item:last-child .nav-link   {
    border:none;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .nav-item .nav-link:hover{
    color: #D0203F !important;
    font-weight:500;    
}
.block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
    position: static;
    padding-left:10px;
    -webkit-mask: none;
    mask: none;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .child-nav{
    padding:0;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .child-nav .nav-item{
    padding:0;
        border-bottom: 1px dotted #999;
}
.main-menu-wrapper .block-header-menu #navbarMainMenu .nav .child-nav .nav-item a{
    padding: 15px 20px;
}
.block-header.fixed .block-header-logo{
    text-align: left;
}
.block-header.fixed .block-header-logo .bestme-block-header-logo{
    padding:10px;
}
.block-header.fixed .block-header-logo img{
    max-height: 50px !important;
}
.block-banner.bestme-block-slideshow .owl-home-banner .slide-item{
    min-height: auto;
}
.owl-home-banner .slide-item .image-background{
    position: static;
}
.section-product-left {
    border-right: 1px solid #e5e5e5;
    text-align:center;
}
.section-product-left img{
    margin:0 auto;
}
.section-product-left .block_left .page-subheading {
    position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 0;
    letter-spacing: 2px;
    line-height: normal;
    text-align: center;
}
.section-product-left .block_left .page-subheading .title--main {
    border: 1px solid #e1e1e1;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 120%;
    margin-bottom: 10px;
    padding: 7px 15px 5px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
}
.section-product-left .block_left .page-subheading .title--sub {
    display: block;
    letter-spacing: 4px;
    margin: 0;
}
.section-product-left .page-subheading .title--sub:after, .section-product-left .page-subheading .title--sub:before {
    background: #000;
    content: " ";
    position: relative;
    width: 20px;
    height: 2px;
    display: inline-block;
    top: -4px;
    margin: 0 15px;
}
.bestme-block-hot-product{
    margin-top:0px;    
}
.section-product-right{
    padding-top:15px;
}
.top-banners .row{
    margin:0;
}
.top-banners{
        background: #2B3742;
    text-align: center;
    margin: 0;
}
.blockstore .blockstore__left {
    text-align: center;
    padding: 80px 0 !important;
}
.blockstore .blockstore__left .blockstore__left--title {
    font-size: 18px;
    margin: 15px 0 10px;
    text-transform: uppercase;
    color: #fff;
}
.blockstore .blockstore__left .blockstore__left--des {
        margin: 0 auto 35px;
    color: #fff;
    width: 55%;
    line-height: 25px;
}
.blockstore .blockstore__left .blockstore__left--btn {
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #000;
    white-space: nowrap;
    padding: 9px 25px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0;
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-weight: 700;
}
.blockstore .blockstore__left .blockstore__left--btn:hover {
    background:#000;
    color:#fff;
}
.blockstore_right{
    background-image: url(https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/img-about-min.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.section-newsletter{
    background:#ededeb;
}
.blockemail{
    text-align:center;
    padding:80px;
}
.blockemail h2 {
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    background: 0 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
}
.blockemail p {
    padding-top: 10px;
    font-weight: 300;
    font-size: 14px;
    color: #000;
    display: block;
    margin-bottom: 30px;
    letter-spacing: .5px;
}
.blockemail .newsletter-form .input-group{
    display:block;
}
.input-email input{
        text-align: center;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 3rem;
    padding: .75rem 1rem;
    background: transparent;
}
.blockemail .newsletter-form .input-group-append{
        text-align: center;
    margin: 0;
    display: block;
}
.blockemail .newsletter-form .input-group-append .btn{
        background: #fff;
    padding: 10px 30px;
    font-weight: 600;
}
.blockemail .newsletter-form .input-group-append .btn:hover{
    background:#000;
    color:#fff;
}
.section-testimonial{
        padding: 0 85px 90px;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    text-align: center;
}
.section-testimonial .page-subheading{
        position: relative;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 50px 0;
    letter-spacing: 2px;
    line-height: normal;
    text-align: center;
}
.section-testimonial .page-subheading .title--main{
     border: 1px solid #e1e1e1;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 120%;
    margin-bottom: 10px;
    padding: 7px 15px 5px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;   
}
.section-testimonial .page-subheading .title--sub{
        display: block;
    letter-spacing: 4px;
    margin: 0;
}
.section-testimonial .page-subheading .title--sub:before,.section-testimonial .page-subheading .title--sub:after{
        background: #000;
    content: " ";
    width: 20px;
    height: 2px;
    top: -4px;
    margin: 0 15px;
    position: relative;
    display:inline-block;
}
.section-testimonial .rte-setting{
        font-weight: 300;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    letter-spacing: .5px;
}
.section-testimonial .rte-setting:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
        margin: 0 10px;
}
.section-testimonial .rte-setting:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
        margin: 0 10px;
}
.section-testimonial h4{
        text-transform: uppercase;
    padding-top: 15px;
    font-size: 14px;
    margin-bottom: 5px;
}
.section-testimonial p{
    color: #aaa;
    display: block;
    margin: 0;
    line-height: normal;
    font-size: 14px;
}
.owl-home-banner .owl-nav {
    display:none !important;
}
.owl-nav i{
    background:transparent !important;
}
.owl-nav .owl-prev{
        position: absolute;
    top: 50%;
    margin: -22px 0 0;
    font-size: 0;
    width: 54px;
    height: 54px;
    transition: all .35s ease;
    background: 0 0;
    cursor: pointer;
    border: none;
    left: 0;
    right: auto;
    box-shadow: 0 0 0 2px #000 inset;
    transition:all .3s cubic-bezier(.25,.46,.45,.94);
}
.owl-nav .owl-next{
    right: 0;
    left: auto;
    box-shadow: 0 0 0 2px #000 inset;
        position: absolute;
    top: 50%;
    margin: -22px 0 0;
    font-size: 0;
    width: 54px;
    height: 54px;
    transition: all .35s ease;
    background: 0 0;
    cursor: pointer;
    border: none;
    transition:all .3s cubic-bezier(.25,.46,.45,.94);
}
.owl-nav .owl-prev:hover,.owl-nav .owl-next:hover{
    background:#000 !important;
    color:#fff !important;
}
.html_block.row{
    margin:0;
}
.section-testimonial .owl-prev,.section-testimonial .owl-next{
    opacity:0;
    visibility:hidden;
}
.section-testimonial:hover .owl-prev{
        opacity: 1;
    visibility: visible;
    left: 20px;
}
.section-testimonial:hover .owl-next{
        opacity: 1;
    visibility: visible;
    right:20px;
}
.section-brands .owl-item{
    padding: 0 20px;
}
.html-bottom {
    text-align: center;
    padding: 80px 0;
    color: #fff;
}
.html-bottom .shipping__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}
.html-bottom .shipping__title--sub {
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
}
.html-bottom .shipping__des {
    margin: auto;
    width: 50%;
}
.block-footer{
    padding: 3rem 0 !important;
}
.block-footer.bestme-block-footer h2{
        font-size: 18px;
    color: #000;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight:600;
}
.block-footer.bestme-block-footer p{
    color:#666;
}
.block-footer.bestme-block-footer a{
    color:#3F4755;
}
.block-footer.bestme-block-footer h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 2rem;
    margin-bottom:1rem;
}
.footer-social{
    padding:20px 0;
}
.footer-social a{
    font-size:18px;
    padding:10px;
}
.copy-right{
    padding-bottom:40px;
}
.copy-right p{
    font-size:14px;
    margin:0;
}
.block-header.fixed .main-menu-wrapper{
    width:50% !important;
}
.block-partner .owl-carousel .owl-item img{
    width:auto;
    margin:0 auto;
}
.product-page ol.breadcrumb{
    text-align: center;
    display: block;
    padding: 80px 0;
    background: #f4f4f4;
    margin-bottom:45px;
}
.product-page ol.breadcrumb .breadcrumb-item{
    display:inline-block;
}
.product-page i.icon{
    background:transparent;
} 
.product-page .flex-fill.btn{
        width: 100%;
    background: #000;
    color: #fff;
}
.product-page .product-detail .owl-nav button{
    opacity:0;
}
.product-page .product-detail:hover .owl-nav button{
    opacity:1;
}
.product-page .owl-thumb{
    margin-top:30px;
    padding:0 !important;
}
.product-page .block-relate-product .header-font{
    font-weight:600;
    color:#000;
}
@media(max-width:1400px){
    .section-testimonial {
        padding: 0 85px 20px;
    }
    .product-item .product-highlight{
            width: 50px;
    height: 50px;
    line-height: 50px;
    }
    .product-item .product-highlight >span{
        line-height: 50px;
    }
    
}
@media(max-width:1199px){
    .block-header.fixed .main-menu-wrapper{
        width:70% !important;
    }
    .img--category{
        display:none;
    }
    .blockstore .blockstore__left .blockstore__left--des{
        width:75%;
    }
    .blockemail {
        text-align: center;
        padding: 45px;
    }
    .section-testimonial {
        padding: 0 50px 20px;
    }
    .item-product-name{
        margin-bottom:10px;
    }
    .product-item .product-price{
        font-size:14px !important;
    }
    .product-item .product-preview{
        position: static;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    }
    .product-item .product-preview a.cart-btn{
        -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    }
}

@media(max-width:991px){
    .product-page ol.breadcrumb{
        padding:25px 0;
    }
    .product-page h1.page-title{
        font-size:16px !important;
    }
    #dropdownMenuButton{
        line-height:40px;
    }
    .main-menu-wrapper .block-header-menu .navbar-toggler{
        top:-100px;
    }
    .product-item .product-price{
            font-size: 15px;
    margin-top: 5px;
    }
    .main-menu-wrapper .block-header-menu #navbarMainMenu .nav .nav-item .nav-link{
        border:none;
    }
    .main-menu-wrapper .block-header-menu #navbarMainMenu .nav .nav-item{
        border:1px solid;
    }
    .main-menu-wrapper .block-header-menu #navbarMainMenu .nav .child-nav{
            border-top:1px solid;
            border-bottom: 1px solid;
    }
    .main-menu-wrapper .block-header-menu #navbarMainMenu .nav .child-nav .nav-item{
            border: 1px solid;
    }
    .fixed .main-menu-wrapper .block-header-menu .navbar-toggler{
        top:-61px;
    }
    .block-partner{
        margin-bottom:0 !important;
    }
    .html-bottom .shipping__title{
        font-size:25px;
        line-height:25px;
    }
    .html-bottom .shipping__title--sub{
        font-size:20px;
        line-height:25px;
    }
    .html-bottom .shipping__des{
        width:100%;
    }
    .block-header.fixed .block-header-logo .bestme-block-header-logo{
        margin:0;
        z-index:1;
    }
    .block-header.fixed .block-header-logo img{
        width:auto !important;
    }
    .block-header.fixed .main-menu-wrapper{
        width:100% !important;
    }
    .ml-auto-left .dropdown-menu-right .dropdown-item i{
            padding-right: 5px;
    position: relative;
    line-height: inherit;

    }
    .row{
        margin:0;
    }
    .item-product-name{
        height:auto;
        overflow: auto; 
    }
    .product-item .product-meta{
        min-height:131px;
    }
    .section-product-left{
        border:none !important;
    }
}
@media(max-width:767px){
    .item-product-name{
        margin-bottom:0;
    }
    .ml-auto-left,.ml-auto-right{
        padding:0 !important;
    }
    .block-header .ml-auto-right .cart-link{
        padding:0;
    }
    .pi-col{
        padding:0;
    }
    .section-testimonial{
        padding: 0 15px 20px;
    }
    .section-testimonial .page-subheading .title--sub:before,.section-testimonial .page-subheading .title--sub:after{
        display:none;
    }
    .html-bottom .shipping__title{
        letter-spacing:0;
    }
    .block-footer{
            padding: 1rem 0 !important;
        text-align:center;
    }
    .block-footer.bestme-block-footer a{
        display:block !important;
            margin-bottom: 5px !important;
    }
    .block-footer.bestme-block-footer h2{
        margin-top:20px;
            margin-bottom: 10px !important;
    }
    #add-to-cart .fa-shopping-cart,.button_buy .fa-shopping-cart{
        display:none;
    }
    .lsp{
        display:block;
    }
    .cart-page-title{
    	font-size:14px;
    }
    .cart-page-col-left,.cart-page-col-right{
    	padding: 0 !important;
    }
    .cart-page-col-left{
    	overflow: scroll;
    }
    .table td, .table th{
    	min-width: 130px;
    }
    .table tr td:first-child{
    	min-width: auto;
    }
    .account-info-res {
        overflow: scroll;
    }
}
.product-item .product-price,.product-item .product-price-sale{
    display:inline-block;
}
.table .quantity-group-input>input.form-control{
    width:60px;
}
.ptf-money{
    display:block;
}
.header-font{
    font-weight:600 !important;
}
.section-product-right .owl-nav{
	position: static !important;
}
.bestme-block-product-related-product .product-item .product-meta{
        min-height: auto;
}
.bestme-block-product-related-product .owl-product .owl-item{
    padding-bottom:0;
}