{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    {#<section class="block-banner bestme-block-slideshow">
        <div class="container">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-home-banner"  data-time="{{ slideshow.transition_time }}">
                {% for slide in slideshow.slides %}
                    <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                        <div class="slide-item">
                            <div class="image-background">
                                <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>#}

    <section class="block-banner bestme-block-slideshow">
        <div class="container">
            <div>
                <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" class="jssorl-009-spin"
                         style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"
                             src="//jssors8.azureedge.net/theme/svg/loading/static-svg/spin.svg"/>
                    </div>

                    <div data-u="slides"
                         style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
                        {% for slide in slideshow.slides %}
                            <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                <div>
                                    <img data-u="image" src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"/>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {#<a data-scale="0" href="https://www.jssor.com" style="display:none;position:absolute;">web design</a>#}

                    <!-- Bullet Navigator -->

                    <div data-u="navigator" class="jssorb053" style="position:absolute;bottom:16px;right:16px;" data-autocenter="1"
                         data-scale="0.5" data-scale-bottom="0.75">
                        <div data-u="prototype" class="i" style="width:12px;height:12px;">
                            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                <path class="b" d="M11400,13800H4600c-1320,0-2400-1080-2400-2400V4600c0-1320,1080-2400,2400-2400h6800 c1320,0,2400,1080,2400,2400v6800C13800,12720,12720,13800,11400,13800z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Arrow Navigator -->

                    <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2"
                         data-scale="0.75" data-scale-left="0.75">
                        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                            <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                            <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
                        </svg>
                    </div>

                    <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2"
                         data-scale="0.75" data-scale-right="0.75">
                        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                            <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                            <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% for k, block in blocks %}
    {% if block['collections'] is not empty %}
        <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product {% if k %2 != 0 %} third-bg {% endif %}">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                <div class="row">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} col-{{ 12 / block['grid'] }} collection">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="item-product-name">
                                        <a href="{{ collection['url'] }}" title="{{ collection.title }}" class="product-title">
                                            {{ collection.name|title > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div> <!-- End col product -->
                    {% endfor %}
                </div>
            </div>
            <div class="container pb-3">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% else %}
        <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product {% if k %2 != 0 %} third-bg {% endif %}">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                <div class="block-content row">
                    <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% set col_xl = 12/ block['grid'] %}
                        {% set break_index = block['grid'] * 2   %}
                        {% for k,product in block['products'] %}
                            {% if k % break_index  == 0 %}
                                <div class="slide-item">
                                <div class="row">
                            {% endif %}
                            <div class="col-{{ col_xl }} col-md-{{ col_xl }}">
                                <div class="product-item">
                                    <div class="product-info">
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </div>
                                        <div class="product-rating d-none">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                        <div class="product-highlight">
                                            {% if product['percent_sale'] is not empty %}
                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                            {% if product['is_new_product'] %}
                                                <span class="status">Mới</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price">
                                                            {{ product['compare_price_master'] }}
                                                        </span>
                                                    {% else %}
                                                        <span class="price">
                                                            {{ product['min_compare_price_version'] }}
                                                        </span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="product-price-sale">
                                                </span>
                                            {% else %}
                                                <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price">{{ product['price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_price_version'] }}</span>
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="product-price-sale">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                    {% else %}
                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-preview text-center">
                                        <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                        <a href="#" class="like-btn d-none">
                                            <i class="icon icon-heart bg-white font-18"></i>
                                        </a>
                                    </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                            {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                </div> <!-- End row -->
                                </div> <!-- End slide item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> <!-- End block-content -->
            </div> <!-- End container -->
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% endif %}

    {% if k == 0 %}
        {% if banners_visible == '1' and banner_highlight['visible'] == '1'%}
            <section class="block-ads-banner mb-5 text-center bestme-block-banner-1">
                <div class="container">
                    <a target="_blank" href="{{ banner_highlight['url'] }}">
                        <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}" width="100%">
                    </a>
                </div> <!-- End container -->
            </section> <!-- End block ads banner -->
            <!-- /.Block BST -->
        {% endif %}
    {% endif %}
{% endfor %}
<!-- Block-saleoff-product -->
{#{% if hot_product_visible %}
    <section class="block-saleoff-product pt-5 mb-3 bestme-block-hot-product">
        <div class="container">
            <h2 class="block-title header-font mb-4 pt-3">{{ hot_product_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                    {% set col_xl = 12/hot_products_display_grid_quantity %}
                    {% set break_index = hot_products_display_grid_quantity * 2   %}
                    {% for k,product in hot_products %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                                <div class="row">
                        {% endif %}
                            <div class="col-6 col-md-{{ col_xl }}">
                                <div class="product-item">
                                    <div class="product-info">
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </div>
                                        <div class="product-rating d-none">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                        <div class="product-highlight">
                                            {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                            {% if product['is_new_product'] %}
                                                <span class="status">Mới</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <span class="product-price">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                            {% else %}
                                                <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                <span class="product-price-sale">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-preview text-center">
                                        <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                        <a href="#" class="like-btn d-none">
                                            <i class="icon icon-heart bg-white font-18"></i>
                                        </a>
                                    </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                        {% if k % break_index == break_index -1 or k + 1 == hot_products|length %}
                                </div> <!-- End row -->
                            </div> <!-- End slide item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- End block-content -->
        </div> <!-- End container -->
    </section> <!-- End block-saleoff-product -->
{% endif %}#}
<!-- /.Block-saleoff-product -->

<!-- block-ads-banner -->
{#{% if banners_visible == '1' and banner_highlight['visible'] == '1' %}
    <section class="block-ads-banner mb-5 text-center bestme-block-banner-1">
        <div class="container">
            <a target="_blank" href="{{ banner_highlight['url'] }}">
                <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}" width="100%">
            </a>
        </div> <!-- End container -->
    </section> <!-- End block ads banner -->
    <!-- /.Block BST -->
{% endif %}#}
<!-- /.block-ads-banner -->

<!-- block-top-sale-product -->
{#{% if best_sales_product_visible %}
    <!-- block-top-sale-product -->
    <section class="block-top-sale-product mb-5 third-bg bestme-block-best-sales-product">
        <div class="container">
            <h2 class="block-title header-font my-3 pt-5">{{ best_sales_product_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                    {% set col_xl = 12/best_sales_product_display_grid_quantity %}
                    {% set break_index = best_sales_product_display_grid_quantity * 2   %}
                    {% for k,product in best_sales_product %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                            <div class="row">
                        {% endif %}
                        <div class="col-6 col-md-{{ col_xl }}">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="item-product-name">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    </div>
                                    <div class="product-rating d-none">
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item"></span>
                                        <span class="rate-item"></span>
                                    </div>
                                    <div class="product-highlight">
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <span class="status">hết</span>
                                        {% endif %}
                                        {% if product['is_new_product'] %}
                                            <span class="status">Mới</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                        </a>
                                    </div>
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="product-price">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        {% else %}
                                            <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="product-price-sale">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="product-preview text-center">
                                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                    <a href="#" class="like-btn d-none">
                                        <i class="icon icon-heart bg-white font-18"></i>
                                    </a>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div> <!-- End col product -->
                        {% if k % break_index == break_index -1 or k + 1 == best_sales_product|length %}
                            </div> <!-- End row -->
                            </div> <!-- End slide item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- End block-content -->
        </div> <!-- End container -->
    </section> <!-- End block-top-sale-product -->
    <!-- /.block-top-sale-product -->
{% endif %}#}
<!-- /.block-top-sale-product -->

<!-- block-new-product -->
{#{% if new_product_visible %}
    <section class="block-new-product mb-5 bestme-block-new-product">
        <div class="container">
            <h2 class="block-title header-font my-3">{{ new_product_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                    {% set col_xl = 12/new_products_display_grid_quantity %}
                    {% set break_index = new_products_display_grid_quantity * 2   %}
                    {% for k,product in new_products %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                            <div class="row">
                        {% endif %}
                        <div class="col-6 col-md-{{ col_xl }}">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="item-product-name">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    </div>
                                    <div class="product-rating d-none">
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item"></span>
                                        <span class="rate-item"></span>
                                    </div>
                                    <div class="product-highlight">
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <span class="status">hết</span>
                                        {% endif %}
                                        {% if product['is_new_product'] %}
                                            <span class="status">Mới</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                        </a>
                                    </div>
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                            <span class="price">
                                                {{ contact }}
                                            </span>
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="product-price">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        {% else %}
                                            <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="product-price-sale">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="product-preview text-center">
                                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                    <a href="#" class="like-btn d-none">
                                        <i class="icon icon-heart bg-white font-18"></i>
                                    </a>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div> <!-- End col product -->
                        {% if k % break_index == break_index -1 or k + 1 == new_products|length %}
                            </div> <!-- End row -->
                            </div> <!-- End slide item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- End block-content -->
        </div> <!-- End container -->
    </section> <!-- End block-new-product -->
{% endif %}#}
<!-- /.block-new-product -->
<div class="bestme_app_after_product">

</div>
{% if latest_blog %}
    <section class="block-blogs mb-5 mt-3 third-bg pt-4 bestme-block-blog">
        <div class="container">
            <h2 class="block-title header-font my-3">{{ blog_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">

                    <div class="slide-item">
                        <div class="row">
                            {% for k,blog in latest_blog %}
                                {% if k < 3 %}
                                    <div class="col-12 col-md-4">
                                        <div class="blog-item">
                                            <div class="blog-img">
                                                <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}">
                                                </a>
                                            </div>
                                            <div class="blog-info">
                                                <span class="blog-date">Ngày: {{ blog['date_added']|date('m/d/Y') }}</span>
                                                <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            </div>
                                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            <p class="blog-summary">
                                                {{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a class="blog-link" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                        </div> <!-- End blog-item -->
                                    </div> <!-- End col blog -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- End row -->
                    </div> <!-- End slide-item -->

                    <div class="slide-item">
                        <div class="row">
                            {% for k,blog in latest_blog %}
                                {% if k < 3 %}
                                    <div class="col-12 col-md-4">
                                        <div class="blog-item">
                                            <div class="blog-img">
                                                <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}">
                                                </a>
                                            </div>
                                            <div class="blog-info">
                                                <span class="blog-date">Ngày: {{ blog['date_added']|date('m/d/Y') }}</span>
                                                <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            </div>
                                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            <p class="blog-summary">
                                                {{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a class="blog-link" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                        </div> <!-- End blog-item -->
                                    </div> <!-- End col blog -->
                                {% endif %}
                            {% endfor %}

                        </div> <!-- End row -->
                    </div> <!-- End slide-item -->

                </div> <!-- End owl-carousel -->
            </div> <!-- End block-content -->

        </div> <!-- End container -->
    </section> <!-- End block-blog -->
{% endif %}

<!-- block-partner -->
{% if partners_visible == '1' %}
    <section class="block-partner text-center mb-5 bestme-block-partner">
        <div class="container">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="slide-item">
                        <a title="{{ partner['description'] }}" href="{{ partner.url }}"><img class="lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                    </div>
                {% endfor %}
            </div> <!-- End owl-carousel -->
        </div> <!-- End container -->
    </section> <!-- End block-partner -->
{% endif %}
<!-- /.block-partner -->
<div class="bestme_app_before_footer">

</div>
<style>
    .item-product-name{
        height: 36px;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    window.jssor_1_slider_init = function () {
        var jssor_1_SlideshowTransitions = [
            {
                $Duration: 1200,
                x: 1,
                $Delay: 20,
                $Cols: 10,
                $Rows: 5,
                $Opacity: 2,
                $Clip: 15,
                $During: {$Left: [0.3, 0.7]},
                $Formation: $JssorSlideshowFormations$.$FormationStraightStairs,
                $Assembly: 260,
                $Easing: {$Left: $Jease$.$InOutExpo, $Clip: $Jease$.$InOutQuad},
                $Round: {$Top: 0.8}
            }, {
                $Duration: 1200,
                x: 1,
                y: 0.2,
                $Delay: 20,
                $Cols: 10,
                $Rows: 5,
                $Opacity: 2,
                $Clip: 15,
                $During: {$Left: [0.3, 0.7], $Top: [0.3, 0.7]},
                $Reverse: true,
                $Formation: $JssorSlideshowFormations$.$FormationSwirl,
                $Assembly: 2050,
                $Easing: {$Left: $Jease$.$InOutSine, $Top: $Jease$.$OutWave, $Clip: $Jease$.$InOutQuad},
                $Round: {$Top: 1.3}
            }, {
                $Duration: 1200,
                x: 1,
                y: 0.2,
                $Delay: 20,
                $Cols: 10,
                $Rows: 5,
                $Opacity: 2,
                $Clip: 15,
                $During: {$Left: [0.3, 0.7], $Top: [0.3, 0.7]},
                $SlideOut: true,
                $Reverse: true,
                $Formation: $JssorSlideshowFormations$.$FormationSwirl,
                $Assembly: 2050,
                $Easing: {$Left: $Jease$.$InOutSine, $Top: $Jease$.$OutWave, $Clip: $Jease$.$InOutQuad},
                $Round: {$Top: 1.3}
            }, {
                $Duration: 1500,
                x: 0.2,
                y: -0.1,
                $Delay: 150,
                $Cols: 12,
                $Opacity: 2,
                $Formation: $JssorSlideshowFormations$.$FormationStraightStairs,
                $Assembly: 260,
                $Easing: {$Left: $Jease$.$Linear, $Top: $Jease$.$OutWave, $Opacity: $Jease$.$Linear},
                $Round: {$Top: 2}
            }, {
                $Duration: 1200,
                x: 1,
                y: 0.2,
                $Delay: 20,
                $Cols: 10,
                $Rows: 5,
                $Opacity: 2,
                $Clip: 15,
                $During: {$Left: [0.3, 0.7], $Top: [0.3, 0.7]},
                $Reverse: true,
                $Formation: $JssorSlideshowFormations$.$FormationStraightStairs,
                $Assembly: 2050,
                $Easing: {$Left: $Jease$.$InOutSine, $Top: $Jease$.$OutWave, $Clip: $Jease$.$InOutQuad},
                $Round: {$Top: 1.3}
            }, {
                $Duration: 1200,
                x: 1,
                $Delay: 20,
                $Cols: 10,
                $Rows: 5,
                $Opacity: 2,
                $Clip: 15,
                $During: {$Left: [0.3, 0.7]},
                $SlideOut: true,
                $Formation: $JssorSlideshowFormations$.$FormationStraightStairs,
                $Assembly: 260,
                $Easing: {$Left: $Jease$.$InOutExpo, $Clip: $Jease$.$InOutQuad},
                $Round: {$Top: 0.8}
            }, {
                $Duration: 1200,
                x: 1,
                y: 0.2,
                $Delay: 20,
                $Cols: 10,
                $Rows: 5,
                $Opacity: 2,
                $Clip: 15,
                $During: {$Left: [0.3, 0.7], $Top: [0.3, 0.7]},
                $SlideOut: true,
                $Reverse: true,
                $Formation: $JssorSlideshowFormations$.$FormationStraightStairs,
                $Assembly: 2050,
                $Easing: {$Left: $Jease$.$InOutSine, $Top: $Jease$.$OutWave, $Clip: $Jease$.$InOutQuad},
                $Round: {$Top: 1.3}
            }, {
                $Duration: 1800,
                x: 0.2,
                y: -0.1,
                $Delay: 150,
                $Cols: 12,
                $Opacity: 2,
                $SlideOut: true,
                $Formation: $JssorSlideshowFormations$.$FormationStraightStairs,
                $Assembly: 260,
                $Easing: {$Left: $Jease$.$Linear, $Top: $Jease$.$OutWave, $Opacity: $Jease$.$Linear},
                $Round: {$Top: 2}
            }
        ];

        var jssor_1_options = {
            $AutoPlay: 1,
            $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
            },

            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },

            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 16,
                $SpacingY: 16
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
        /*#region responsive code begin*/
        var MAX_WIDTH = 1210;

        function ScaleSlider() {
            var containerElement = jssor_1_slider.$Elmt.parentNode;
            var containerWidth = containerElement.clientWidth;

            if (containerWidth) {
                var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);
                jssor_1_slider.$ScaleWidth(expectedWidth);
            } else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();

        $Jssor$.$AddEvent(window, "load", ScaleSlider);
        $Jssor$.$AddEvent(window, "resize", ScaleSlider);
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
        /*#endregion responsive code end*/
    };

    jssor_1_slider_init();
</script>
{{ footer }}