{{ header }}

<!-- Breadcrumb -->
<div id="block-headding-elm" class="block-headding-elm">
    <div class="container">
        <h1 class="title-font title-color">Liên hệ với chúng tôi</h1>
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active">Liên hệ</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->

<div id="block-contact-page" class="block-contact-page">
    <div class="container">
        <div class="row">
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="col-lg-6">
                <div class="form-contact bestme-block-contact-form">
                    <form action="{{ href_submit_form }}" method="post">
                        <h4 class="title-font">{{ contacts_email.title }}</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="fullname" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                           required id="" class="form-control" placeholder="Họ tên"
                                           aria-describedby="helpId">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="phone" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                           required id="" class="form-control" placeholder="Số điện thoại"
                                           pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15"
                                           aria-describedby="helpId">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="email" name="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                           required id="" class="form-control" placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                           aria-describedby="helpId">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                              required id="" placeholder="Tin nhắn" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-submit">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="map-address bestme-block-contact-map" style="height: 415px; overflow: hidden">
                    {{ contacts_map.address|html_entity_decode }}
                </div>
            </div>
        </div>
        {#<div class="row align-center bestme-block-contact-contact">
            <div class="col-md-4">
                <div class="contact-item">
                    <div class="img"><img src="{{ theme_directory }}/images/elm/mail.png" alt=""></div>
                    <div class="text">
                        <a href="#">{{ contacts_info.email }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <div class="img"><img src="{{ theme_directory }}/images/elm/phone.png" alt=""></div>
                    <div class="text">
                        <a href="#">{{ contacts_info.phone }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-item">
                    <div class="img"><img src="{{ theme_directory }}/images/elm/mail.png" alt=""></div>
                    <div class="text">
                        <a href="#">{{ contacts_info.address }}</a>
                    </div>
                </div>
            </div>
        </div>#}
    </div>
</div>

<!-- /.ELM PAGES -->
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>
{{ footer }}