{{ header }}
{# TODO: use var theme_dir instead of hardcode... #}
{% include ('other_taphoa86/template/blog/blog_breadcrumb.twig') %}

<div class="container">
    {% if blog['image'] is not empty %}
        <div class="banner-new">
            <a href="javascript:;">
                <img src="{{ blog['image'] }}" class="img-fluid" alt="{{ blog['alt'] }}" style="height: 420px; width: 100%">
            </a>
        </div>
    {% endif %}
    <div class="row flex-reverse">
        {% include ('other_taphoa86/template/blog/blog_nav_left.twig') %}
        <div class="col-md-8">
            <div class="block-detail">
                <article>
                    <h1 class="title-single">
                        {{ blog['title'] }}
                    </h1>
                    <div class="flex-meta">
                        {% if is_on_mobile == 1 %}
                            <style>
                                .block-detail .flex-meta{
                                    display: initial;
                                }
                            </style>
                        {% endif %}
                        <div class="time">Đăng ngày: {{ blog['date_modified']|date('d-m-Y') }}</div>
                        <div class="author">
                            Bởi: <a href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                        </div>
                        <div class="social-share">
                            <span>Chia sẻ</span>
                            <ul>
                                <li>
                                    <a href="{{ social['facebook']['href'] }}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                                            <path d="M7.75391 8.625H5.70312V14.75H2.96875V8.625H0.753906V6.08203H2.96875V4.16797C2.96875 3.4388 3.10547 2.81901 3.37891 2.30859C3.65234 1.79818 4.03516 1.41536 4.52734 1.16016C5.03776 0.886719 5.62109 0.75 6.27734 0.75C6.56901 0.75 6.87891 0.768229 7.20703 0.804688C7.53516 0.822917 7.79036 0.85026 7.97266 0.886719L8.24609 0.914062V3.07422H7.15234C6.64193 3.07422 6.26823 3.21094 6.03125 3.48438C5.8125 3.73958 5.70312 4.05859 5.70312 4.44141V6.08203H8.13672L7.75391 8.625Z" fill="#939393"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ social['google']['href'] }}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                            <path d="M13.6719 7.91406C13.6719 9.84635 13.0612 11.4323 11.8398 12.6719C10.6367 13.9115 9.0599 14.5312 7.10938 14.5312C5.23177 14.5312 3.6276 13.875 2.29688 12.5625C0.984375 11.2318 0.328125 9.6276 0.328125 7.75C0.328125 5.8724 0.984375 4.27734 2.29688 2.96484C3.6276 1.63411 5.23177 0.96875 7.10938 0.96875C8.8776 0.96875 10.3906 1.5612 11.6484 2.74609L9.81641 4.52344C9.23307 3.95833 8.53125 3.63021 7.71094 3.53906C6.90885 3.42969 6.15234 3.52995 5.44141 3.83984C4.7487 4.13151 4.14714 4.63281 3.63672 5.34375C3.14453 6.03646 2.89844 6.83854 2.89844 7.75C2.89844 8.9349 3.30859 9.94661 4.12891 10.7852C4.94922 11.6237 5.94271 12.043 7.10938 12.043C7.7474 12.043 8.3125 11.9427 8.80469 11.7422C9.3151 11.5234 9.70703 11.2591 9.98047 10.9492C10.2721 10.6211 10.4909 10.3021 10.6367 9.99219C10.8008 9.68229 10.9102 9.39062 10.9648 9.11719H7.10938V6.76562H13.5625C13.6354 7.16667 13.6719 7.54948 13.6719 7.91406Z" fill="#939393"></path>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{ blog['title'] }}&url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                                            <path d="M12.5508 2.90625C12.569 2.97917 12.5781 3.09766 12.5781 3.26172C12.5781 4.22786 12.3958 5.19401 12.0312 6.16016C11.6667 7.10807 11.1471 7.98307 10.4727 8.78516C9.81641 9.56901 8.95964 10.207 7.90234 10.6992C6.84505 11.1914 5.67839 11.4375 4.40234 11.4375C2.79818 11.4375 1.33073 11.0091 0 10.1523C0.200521 10.1706 0.428385 10.1797 0.683594 10.1797C2.01432 10.1797 3.20833 9.76953 4.26562 8.94922C3.6276 8.94922 3.0625 8.76693 2.57031 8.40234C2.09635 8.01953 1.76823 7.54557 1.58594 6.98047C1.76823 6.9987 1.94141 7.00781 2.10547 7.00781C2.36068 7.00781 2.61589 6.98047 2.87109 6.92578C2.43359 6.83464 2.04167 6.65234 1.69531 6.37891C1.34896 6.10547 1.07552 5.77734 0.875 5.39453C0.674479 4.99349 0.574219 4.5651 0.574219 4.10938V4.05469C0.97526 4.29167 1.40365 4.41927 1.85938 4.4375C1.0026 3.85417 0.574219 3.05208 0.574219 2.03125C0.574219 1.52083 0.710938 1.03776 0.984375 0.582031C1.69531 1.47526 2.5612 2.1862 3.58203 2.71484C4.62109 3.24349 5.72396 3.53516 6.89062 3.58984C6.85417 3.37109 6.83594 3.15234 6.83594 2.93359C6.83594 2.14974 7.10938 1.47526 7.65625 0.910156C8.22135 0.345052 8.89583 0.0625 9.67969 0.0625C10.5182 0.0625 11.2201 0.363281 11.7852 0.964844C12.4414 0.83724 13.0521 0.609375 13.6172 0.28125C13.3984 0.955729 12.9792 1.48438 12.3594 1.86719C12.9062 1.79427 13.4531 1.63932 14 1.40234C13.599 1.98568 13.1159 2.48698 12.5508 2.90625Z" fill="#939393"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    {% if is_on_mobile == 1 %}<br/>{% endif %}
                    <div class="content-block">
                        {{ blog['content']|html_entity_decode }}
                    </div>
                </article>
            </div>
        </div>
    </div>

</div>
{% if blog_relate %}
<div class="block-home">
    <div class="container">
        <div class="heading-block">
            <h3>Bài viết liên quan</h3>
        </div>
    </div>
    <div class="container">
        <div class="row row-s-10">
            {% for key, blog in  blog_relate %}
                {% if key < 3 %}
                    <div class="col-md-4 col-s-10">
                        <div class="news">
                            <div class="news-thumb">
                                <a href="{{ blog['link'] }}"><img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                            </div>
                            <div class="news-ct">
                                <h4 class="news-ct-name">
                                    <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                </h4>
                                <div class="news-ct-desc">
                                    <div class="news-summary-blog">
                                        {{ blog['short_content']|html_entity_decode|striptags }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}

{{ footer }}
<style>
    .news-summary-blog {
        max-height: 70px;
        overflow-y: hidden;
    }
</style>