{{ header }}

<main class="main-content">
    <div class="container pb-5">

        <div class="d-flex">
            <nav aria-label="breadcrumb" class="my-4 pt-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ href_home }}">{{ text_home }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ href_profile }}">{{ text_account }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ setting_address }}</li>
                </ol>
            </nav>
            <a class="media-hide second-color text-uppercase ml-auto my-4 pt-3 font-weight-bold hidden_edit_address" data-toggle="collapse" href="#collapseAddNewAddress" role="button" aria-expanded="false" aria-controls="collapseAddNewAddress">
                <i class="icon icon-plus mr-2 main-bg rounded-2 font-10 main-bg"></i> THÊM ĐỊA CHỈ
            </a>
        </div>
        <div class="clearfix"></div>
        <a class="media-show second-color text-uppercase ml-auto my-4 font-weight-bold hidden_edit_address" data-toggle="collapse" href="#collapseAddNewAddress" role="button" aria-expanded="false" aria-controls="collapseAddNewAddress">
            <i class="icon icon-plus mr-2 main-bg rounded-2 font-10 main-bg"></i> THÊM ĐỊA CHỈ
        </a>
        <div class="clearfix"></div>
        <div class="collapse border-bottom mb-5 pb-5" id="collapseAddNewAddress">
            <div class="row">
                <form id="saveform" action="" method="post" class="form-payment col-12 col-md-6">
                    <h2 class="fifth-color text-uppercase mb-4 font-14">Thêm địa chỉ mới</h2>
                    <div class="form-group row">
                        <div class="col-12 col-md-12">
                            <input name="fullname" type="text" class="form-control" placeholder="Họ và Tên" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-12">
                            <input type="text" class="form-control" name="phone" placeholder="Số điện thoại" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-12">
                        <input type="text" class="form-control" name="address" placeholder="Địa chỉ" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <select name="city_delivery" title="{{ account_city }}" class="form-control selectpicker">
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <select class="form-control selectpicker" name="district_delivery" title="{{ account_district }}">
                                <option>{{ txt_district }}</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <select class="form-control selectpicker" name="ward_delivery" title="Phường/Xã">
                                <option>{{ txt_ward }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox" {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                            <input type="checkbox" name="default" {{ account_infos|length == 0 ? 'checked' : '' }} class="custom-control-input" id="setDefaultNew">
                            <label class="custom-control-label pt-1" for="setDefaultNew">Đặt làm địa chỉ mặc định</label>
                        </div>
                    </div>
                    <div id="msg_err"></div>
                    <div class="pt-3">
                        <button class="btn btn-outline-secondary main-bg rounded-2 px-4 py-2 text-white text-uppercase font-weight-500 " name="save" id="save" href="account-setting.html" type="submit">Lưu</button>
                        <a href="#" class="fifth-color px-4 py-2 text-uppercase font-weight-500" data-toggle="collapse" data-target="#collapseAddNewAddress" aria-expanded="false" aria-controls="collapseAddNewAddress">bỏ qua</a>
                    </div>
                </form>
            </div> <!-- End row -->
        </div> <!-- End collapse row -->

        <div class="address-lists">


            {% for account_info in account_infos %}
                <div class="address-item border-bottom mb-5 pb-5">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2 class="fifth-color text-uppercase mb-3 font-16">{{ account_info.lastname }} {{ account_info.firstname }}
                                <span class="ml-3 font-14 text-uppercase sixth-color font-weight-400">{% if account_info.default == account_info.address_id %}(Địa chỉ mặc định) {% endif %}</span></h2>
                            <p class="mb-3">
                                <span class=" text-uppercase sixth-color">Địa chỉ:</span>
                                <span>{{ account_info.full_address }}</span>
                            </p>
                            <p class="mb-4">
                                <span class=" text-uppercase sixth-color">Điện thoại:</span>
                                <span>{{ account_info.phone_number }}</span>
                            </p>
                            <a class="btn btn-outline-secondary main-bg rounded-2 mt-3 px-4 py-2 text-white text-uppercase font-weight-500 hidden_add_address" href="#collapseOrderQuickView-{{ account_info.address_id }}" data-order-id="{{ account_info.address_id }}" data-toggle="collapse" data-target="#collapseOrderQuickView-{{ account_info.address_id }}" role="button" aria-expanded="false" aria-controls="collapseOrderQuickView-{{ account_info.address_id }}">Sửa</a>

                            {% if account_info.default != account_info.address_id %}
                                <button type="button" onclick="delete_address({{ account_info.address_id }})" class="btn btn-outline-secondary main-bg rounded-2 mt-3 px-4 py-2 text-white text-uppercase font-weight-500">xóa</button>
                            {% endif %}

                        </div> <!-- End col-md-6 -->
                        <div class="col-12 col-md-6 form_edit">
                            <div class="collapse" id="collapseOrderQuickView-{{ account_info.address_id }}">
                                <form class="form-payment" action="" id="edit_{{ account_info.address_id }}">
                                    <h2 class="fifth-color text-uppercase mb-4 font-14">Chỉnh sửa địa chỉ</h2>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-12">
                                            <input name="fullname" type="text" class="form-control" placeholder="Họ và Tên" value="{{ account_info.lastname }} {{ account_info.firstname }}" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-12">
                                            <input type="text" class="form-control" name="phone" value="{{ account_info.phone_number }}" placeholder="Số điện thoại" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-12">
                                        <input type="text" class="form-control" name="address" value="{{ account_info.address }}" placeholder="Địa chỉ" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-md-4">
                                            <select class="form-control selectpicker" name="city_delivery" title="Tỉnh / thành">
                                                <option>{{ txt_province }}</option>
                                                {% for province in provincess %}
                                                    <option value="{{ province.code }}" {% if account_info.province == province.code %}selected{% endif %}>{{ province.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select class="form-control selectpicker" name="district_delivery" title="Quận / huyện">
                                                <option>{{ txt_district }}</option>
                                                {% for district_vl in account_info.districts_edits_info %}
                                                    <option value="{{ district_vl.code }}" {% if account_info.districts == district_vl.code %}selected{% endif %}>{{ district_vl.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <select class="form-control selectpicker" name="ward_delivery" title="Phường/xã">
                                                <option>{{ txt_ward }}</option>
                                                {% for ward in account_info.ward_edits_info %}
                                                    <option value="{{ ward.code }}" {% if account_info.wards == ward.code %}selected{% endif %}>{{ ward.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-12 row">
                                        <div class="custom-control custom-checkbox"  {{ account_info.default == account_info.address_id ? 'style="pointer-events: none"': '' }}>
                                            <input type="checkbox" class="custom-control-input" {{ account_info.default == account_info.address_id ? 'checked': '' }} name="default" id="setDefaultEdit{{ account_info.address_id }}">
                                            <label class="custom-control-label pt-1" for="setDefaultEdit{{ account_info.address_id }}">Đặt làm địa chỉ mặc định</label>
                                        </div>
                                    </div>
                                    <div id="msg_err{{ account_info.address_id }}"></div>
                                    <div class="pt-3">
                                        <button class="btn btn-outline-secondary main-bg rounded-2 px-4 py-2 text-white text-uppercase font-weight-500" id="saveedit_{{ account_info.address_id }}" href="account-setting.html" type="submit">Lưu</button>
                                        <input type="hidden" name="edit_hide" value="1">
                                        <input type="hidden" name="address_id" value="{{ account_info.address_id }}">
                                        <a href="javascript:;" class="fifth-color px-4 py-2 text-uppercase font-weight-500" id="display_form_{{ account_info.address_id }}">bỏ qua</a>
                                    </div>
                                    <script>
                                        $(function () {
                                            $("#saveedit_{{ account_info.address_id }}").click(function(){
                                                $.ajax({
                                                    type: 'post',
                                                    url: '{{ href_save }}',
                                                    dataType : 'json',
                                                    data: $('form#edit_{{ account_info.address_id }}').serialize(),
                                                    success: function (data) {
                                                        if(data.error_code == 0) {
                                                            location.href = data.href;
                                                        }
                                                        else {
                                                            $("#msg_err{{ account_info.address_id }}").html("<span style='color:red'>" + data.message + "</span>");
                                                        }
                                                    }
                                                });
                                                return false;
                                            });

                                            $("#display_form_{{ account_info.address_id }}").click(function(){
                                                location.reload();
                                            });

                                        });
                                    </script>
                                </form>
                            </div> <!-- End collapse -->
                        </div> <!-- End col-md-6 -->
                    </div> <!-- End row -->
                </div> <!-- End address-item -->
            {% endfor %}
        </div> <!-- End address-list -->

    </div>
</main>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $("#display_form").click(function(){
        location.reload();
    });
    $(function () {
        $("#save").click(function(){
            $.ajax({
                type: 'post',
                url: '{{ href_save }}',
                dataType : 'json',
                data: $('form#saveform').serialize(),
                success: function (data) {
                    if(data.error_code == 0) {
                        location.href = data.href;
                    }
                    else {
                        $("#msg_err").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
    function delete_address(id) {
        if (confirm('{{ text_delete }}')) {
            $.ajax({
                url: "{{ href_delete }}",
                type: "POST",
                data: {id : id},
                dataType: "html",
                success: function() {
                    location.reload();
                }
            });

        }
    }
    $(document).ready(function () {
        $(".hidden_add_address").click(function(){
            $(".form_edit").removeClass("d-none");
        });
        $(".hidden_edit_address").click(function(){
            $(".form_edit").addClass("d-none");
        });

        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $(this).find('option:selected').val();
            console.log(provinceCode);
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            selectCityDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_province }}'
                }));
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces, element) {
            var selectDistrictDeliveryEl = element.closest('.form-group').find('select[name="district_delivery"]');
            //reset ward
            var selectWardDeliveryEl = element.closest('.form-group').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));

            console.log(provinces);
            selectDistrictDeliveryEl.html('');
            selectDistrictDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_district }}'
                }));
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectDistrictDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            var selectWardDeliveryEl = element.closest('.form-group').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }
    });
</script>

{{ footer }}