{{ header }}
<main>
    <div class="container">
        <ul class="back-link">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['active'] is defined  %}
                    <li class="active" aria-current="page">{{ breadcrumb.text }}</li>
                {% else %}
                    <li class=""><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="slider-detail-pc d-none d-sm-block">
                    <input type="hidden" id="__VIEWxSTATE"/>
                    <ul id='zoom1' class='gc-start'>
                        {% if product_images is not empty %}
                            {% for k,image in product_images %}
                                <li ><img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}" /></li>
                            {% endfor %}
                        {% else %}
                            <li ><img src="{{ product['image'] }}" /></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="slide-detail-mobile d-block d-sm-none">
                    <div class="swiper-container swiper-detail">
                        <div class="swiper-wrapper">
                            {% if product_images is not empty %}
                                {% for k,image in product_images %}
                                    <div class="swiper-slide">
                                        <img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="{{ product['image'] }}">
                                </div>
                            {% endif %}

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                {# short description. TODO: remove... #}
                {#<div class="content-detail d-none d-sm-block">
                    <h4 class="title-content">
                        {% if categories is not empty %}
                            {% for k,category in categories %}
                                {{ category['name'] }} {% if categories|length != k+1 %}, {% endif %}
                            {% endfor %}
                        {% endif %}</h4>

                    {{ product['sub_description']|html_entity_decode }}
                </div>#}
            </div>
            <div class="col-lg-6 col-12">
                <div class="name-cate">
                    {% if categories is not empty %}
                        {% for k,category in categories %}
                            <a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <h1 class="name-detail">{{ product['name'] }}</h1>
                <div class="d-flex mb-3">
                    <span class="third-color block-status">Tình trạng:
                        {% if product['product_is_stock'] %}
                            <span class="ml-3 second-color font-weight-500">Còn hàng</span>
                                {% else %}
                            <span class="ml-3 second-color font-weight-500">Hết hàng</span>
                        {% endif %}
                    </span>
                </div>
                <div class="price-detail">
                    <style>
                        .price-detail .price-new {
                            margin-right: 10px !important;
                        }
                    </style>
                    {% if product['is_contact_for_price'] %}
                        <a href="#modal-buy-for-contact" rel="modal:open" class="btn btn-add">
                            <span class="price-new text-white">{{ contact }}</span>
                        </a>
                    {% else %}
                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                            {% if product['max_price_version'] is null %}
                                <span class="price-new">{{ product['compare_price_master'] }}</span>
                            {% else %}
                                <span class="price-new">
                                                {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                            </span>
                            {% endif %}
                        {% else %}
                            {% if product['max_compare_price_version'] is null %}
                                <span class="price-old">{{ product['compare_price_master'] }}</span>
                            {% else %}
                                <span class="price-old">
                                {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                            </span>
                            {% endif %}
                            {% if product['max_price_version'] is null %}
                                <span class="price-new">{{ product['price_master'] }}</span>
                            {% else %}
                                <span class="price-new">
                                            {{ product['min_price_version'] }}
                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                        ~ {{ product['max_price_version'] }}
                                    {% endif %}
                            </span>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </div>
                <form id="add-to-cart" action="{{ action }}" method="POST" class="form-detail">
                    {% if attributes is not empty %}
                        {% for attribute in attributes %}
                            <div class="color-detail">
                                {{ attribute['attribute_name'] }}: <br>
                                <div class="color-detail">
                                    {% for key,attribute_text in attribute['attribute_text'] %}
                                        <span class="attr-item d-inline-block mr-1">
                                            <input class="d-none check-price" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                   value="{{ attribute_text }}">
                                            <label class="" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                    <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                    <input type="hidden" name="quantity" value="1">
                    <div class="btn-action">
                        {#<button type="button" class="btn btn-add cart open-cart">Thêm vào giỏ hàng</button>#}
                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-add cart {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}d-none{% endif %}" ><i class="icon icon-cart mr-3"></i>Thêm vào giỏ hàng</button>
{#                        <a href="#modal-buy"  rel="modal:open" class="btn btn-buy">Mua trả góp</a>#}
                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="btn btn-buy {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua ngay
                        </button>
                    </div>
                </form>

                {#<div class="content-detail d-block d-sm-none">#}
                {# short description#}
                <div class="content-detail d-block d-sm-block">
                    {#<h4 class="title-content">#}
                        {#{% if categories is not empty %}#}
                            {#{% for k,category in categories %}#}
                                {#<a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}#}
                            {#{% endfor %}#}
                        {#{% endif %}#}
                    {#</h4>#}
                    {{ product['sub_description']|html_entity_decode }}
                </div>

                {# description. TODO: remove... #}
                {#<div class="content-detail">
                    <h4 class="title-detail">Thông tin sản phẩm <span class="icon"></span></h4>
                    <p>
                        {{ product['description']|html_entity_decode }}
                    </p>
                </div>#}
            </div>

        </div>

        {# description#}
        <div class="content-detail">
            <h4 class="title-detail">Thông tin sản phẩm <span class="icon"></span></h4>
            <p>
                {{ product['description']|html_entity_decode }}
            </p>
        </div>
    </div>

    <br/>

    {% if related_products %}
    <div class="block-home mt-5">
        <div class="container">
            <div class="heading-block">
                <h3>{{ related_product_title }}</h3>
            </div>
        </div>

        <div class="block-product">
            <div class="container position-relative product-cate">
                <div class="swiper-container swiper-p6 swiper-popular" data-grid='{{ related_products_display_grid_quantity }}' data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                    <div class="swiper-wrapper">
                        {% for product in related_products %}
                        <div class="swiper-slide">
                            <div class="product">
                                <a href="{{ product['href'] }}">
                                    <div class="product-thumb">
                                        <img class="img-fluid" src="{{ product['thumb'] }}" alt="">
                                        <img src="{{ product.product_images }}" class="img-top" alt="{{ product.name }}">
                                        {% if product['percent_sale'] is not empty %}
                                            <div class="status sale">
                                                <div class="wp">
                                                    Giảm <span>{{ product['percent_sale']|replace({'-': '', '%': ''}) }}</span>%
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <div class="status die">
                                                <div class="wp">
                                                    Hết hàng
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="product-ct">
                                    <h6 class="brand">
                                        {{ product['name_cate'] }}
                                    </h6>
                                    <h5 class="name">
                                        <a class="product-title" href="{{ product['href'] }}">{{ product.name }}</a>
                                    </h5>
                                    <div class="price">
                                        {% if product['is_contact_for_price'] %}
                                            <a href="#modal-buy-for-contact" rel="modal:open" class="btn btn-add">
                                                <span class="new text-white">{{ contact }}</span>
                                            </a>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="new">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="new">
                                                                    {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                                </span>
                                                {% endif %}
                                            {% else %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="new">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="new">
                                                                {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                            </span>
                                                {% endif %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="old">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="old">
                                                                {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                            </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}


                                        {#<span class="old">1.000.000đ</span>#}
                                        {#<span class="new">800.000đ</span>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-next swiper-button-next-pro swiper-button-next-p">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                        <path d="M1 13L7 7L1 1" stroke="#16ACCF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="swiper-button-prev swiper-button-prev-pro swiper-button-prev-p">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                        <path d="M7 13L1 7L7 1" stroke="#16ACCF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </div>
            </div>
        </div>

    </div>
    {% endif %}

    <div id="add_cart_notify" class="modal" role="dialog" style="z-index: 999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <p style="text-align: center;">Thêm sản phẩm vào giỏ hàng thành công</p>

        </div>
    </div>
</main>

<div id="modal-buy" class="modal buy-modal h-auto">
    <h2 class="title-modal">Liên hệ mua trả góp</h2>
    <form action="" id="buy-modal-form" method="post">
        <input type="hidden" name="product_name" value="{{ product['name'] }}">
        <input type="hidden" id="pAttribute" name="product_attribute" value="">
        <div class="form-group">
            <label >Họ và tên</label>
            <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
        </div>
        <div class="form-group">
            <label >Số điện thoại</label>
            <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
        </div>
        <div class="form-group">
            <label >Nội dung liên hệ</label>
            <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
        </div>
        <div class="text-right">
            <div style="text-align: left;" id="msg_err"></div>
            <button type="submit" class="btn-send send-email">Gửi</button>
        </div>
    </form>

</div>
<div id="image-loading"></div>
<div id="modal-buy-success" class="modal h-auto">
    <h2 class="title-modal">Liên hệ mua trả góp</h2>
    <p class="p-3">
        Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hoàn tất thủ tục trả góp. Xin chân thành cảm ơn!
    </p>

    {#<div class="text-right">#}
        {#<button type="submit" class="btn-send">Tiếp tục mua hàng</button>#}
    {#</div>#}

</div>
<div id="modal-buy-for-contact" class="modal" role="dialog">
        <h4 class="title-modal">Liên hệ mua sản phẩm</h4>
        <form action="" id="buy-modal-form-contact" method="post">
            <input type="hidden" name="product_name" value="{{ product['name'] }}">
            <input type="hidden" id="pAttributeForContact" name="product_attribute" value="">
            <div class="form-group">
                <label >Họ và tên</label>
                <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
            </div>
            <div class="form-group">
                <label >Số điện thoại</label>
                <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
            </div>
            <div class="form-group">
                <label >Nội dung liên hệ</label>
                <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
            </div>
            <div class="text-right">
                <div style="text-align: left;" id="msg_err_product"></div>
                <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
            </div>
        </form>
</div>
<div id="modal-buy-product-success" class="modal" role="dialog">
    <h2 class="title-modal">LIÊN HỆ MUA SẢN PHẨM</h2>
    <p class="p-3">
        Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
    </p>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form-contact').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy-for-contact").hide();
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>
<script>
    $(function () {
        $(".send-email").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/installment',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-success").modal('show');
                        $("#modal-buy").hide();
                    }
                    else {
                        $("#msg_err").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });

        jQuery('#add-to-cart .btn-add.cart').on('click', function (event) {
            if (jQuery(this).attr('data-status') == "disabled") {
                event.preventDefault();
                alert("Sản phẩm hết hàng");
            }
        });
        jQuery('#add-to-cart .btn-buy').on('click', function (event) {
            if (jQuery(this).attr('data-status') == "disabled") {
                event.preventDefault();
                alert("Sản phẩm hết hàng");
            }
        });

    });

    </script>

{{ footer }}