{% if banners_visible == '1' %}
    {% if 0 == is_on_mobile %}
        <div class="row banner-home-container">
            {% for k, banner in banners if k > 7 and k < 11 %}
                {% if banner['visible'] == '1' %}
                    <div class="col-12 col-lg-4 mb-3 hover-zoom-img mh-300 banner8_9_10">
                        <a href="{{ banner['url'] }}" title="{{ banner['description'] }}">
                            <img data-src="{{ banner['image-url'] }}" src="{{ placeholder_image_url }}" width="100%"
                                 alt="{{ banner['description'] }}"
                                 class="banner-img bestme-block-banner-{{ 3 == k ? loop.index : 'custom' }} lazyload">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if 1 == is_on_mobile %}
        <div class="banner-slider page-slider banner_8_9_10_mobile">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for k, banner in banners if k > 7 and k < 11 %}
                        {% if banner['visible'] == '1' %}
                            <div class="swiper-slide">
                                <a href="{{ banner['url'] }}" title="{{ banner['description'] }}">
                                    <img data-src="{{ banner['image-url'] }}" src="{{ placeholder_image_url }}"
                                         width="100%" alt="{{ banner['description'] }}"
                                         class="banner-img bestme-block-banner-{{ 3 == k ? loop.index : 'custom' }} lazyload">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    {% endif %}
{% endif %}