<div class="banner-header">
    <div class="container">
        {% if banner_header is defined and banner_header['visible'] == '1' %}
            <div>
                <a href="{{ banner_header['url'] }}" title="{{ banner_header['description'] }}">
                    <img src="{{ banner_header['image-url'] }}" width="100%" alt="{{ banner_header['description'] }}" class="bestme-block-banner-custom">
                </a>
            </div>
        {% endif %}
    </div>
</div>