{% if banners_visible == '1' and
    ((banners[0] is defined and banners[1]['visible'] == '1')
    or (banners[1] is defined and banners[2]['visible'] == '1')) %}
    <!-- Box Banner -->
    <div class="banner-right-home">
        <div>
            <a href="{{ banners[1]['url'] }}" title="{{ banners[1]['description'] }}">
                <img src="{{ banners[1]['image-url'] }}" width="100%" alt="{{ banners[1]['description'] }}" class="bestme-block-banner-custom">
            </a>
        </div>
        {% if banners[2] is defined and banners[2]['visible'] == '1' %}
            <div>
                <a href="{{ banners[2]['url'] }}" title="{{ banners[2]['description'] }}">
                    <img src="{{ banners[2]['image-url'] }}" width="100%" alt="{{ banners[2]['description'] }}" class="bestme-block-banner-custom">
                </a>
            </div>
        {% endif %}
    </div>
    <!-- End: Box Banner -->
{% endif %}