<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name='dmca-site-verification' content='WDRaZHQxODdjdGZVSkhJUEJKSTVqUT090' />
    {% if page_no_index_no_follow == 1 %}

        <meta name="ROBOTS" content="index, follow" />

    {% else %}

        <meta name="ROBOTS" content="noindex, nofollow" />

    {% endif %}

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

{#    {{ cssResource }}#}
    <link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/{{ final_minified_file_name }}.css">

{#    <link rel="stylesheet" href="{{ theme_directory }}/css/animate.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/awesome.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/swiper.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/font.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        <script>
            window.dataLayer = window.dataLayer || [];
        </script>
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <!-- Bootstrap -->
    <!-- JS -->
    <script src="{{ theme_directory }}/js/jquery.3.3.1.min.js" type="text/javascript"></script>
    {#    {{ jsResource }}#}
    <script src="{{ theme_directory }}/js/{{ final_minified_file_name }}.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{#        <script src="{{ theme_directory }}/js/popper.min.js" type="text/javascript"></script>#}
{#        <script src="{{ theme_directory }}/js/bootstrap.min.js" type="text/javascript"></script>#}
{#        <script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
{#        <script src="{{ theme_directory }}/js/swiper.min.js" type="text/javascript"></script>#}
{#        <script src="{{ theme_directory }}/js/jquery.number.min.js" type="text/javascript"></script>#}
{#        <script src="{{ theme_directory }}/js/lazysizes.min.js" type="text/javascript"></script>#}
{#        <script src="{{ theme_directory }}/js/main.js" type="text/javascript"></script>#}
    <!-- End Bootstrap -->

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="product-detail-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<header class="header-mobile-custom">
    <button type="button" onclick="history.back();" class="back-to-page">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.99953 13.781C9.87286 13.781 9.7462 13.7343 9.6462 13.6343L5.29953 9.28766C4.59286 8.58099 4.59286 7.42099 5.29953 6.71432L9.6462 2.36766C9.83953 2.17432 10.1595 2.17432 10.3529 2.36766C10.5462 2.56099 10.5462 2.88099 10.3529 3.07432L6.0062 7.42099C5.6862 7.74099 5.6862 8.26099 6.0062 8.58099L10.3529 12.9277C10.5462 13.121 10.5462 13.441 10.3529 13.6343C10.2529 13.7277 10.1262 13.781 9.99953 13.781Z" fill="#BFBFBF"/>
        </svg>
    </button>
    <a href="/gio-hang">
        <img src="{{ theme_directory }}/img/icons/bag.svg">
        <span class="count-cart count-cart-mobile">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
    </a>
</header>

<script>
    var hoverOrClick = function () {
        $(this).toggleClass("active");
    }
    $('.txt-parent').click(hoverOrClick).hover(hoverOrClick);
</script>