{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin đơn hàng {{ order_code }}</li>
            </ol>
            <!-- End breadcrumb -->

            <!-- Cart Listing -->
            <div class="cart-listing bg-secondary p-lg-4 p-3">
                <div class="text-center">
                    <h1 class="page-title box-title fz-24 my-4"> ĐƠN HÀNG {{ order_code }}</h1>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-3">
                        <p class="fz-20 mb-4 fw-bold">ĐỊA CHỈ NHẬN HÀNG</p>
                        <div class="row">
                            <p class="col-4 text-second">Họ tên:</p>
                            <p class="col fw-600">{{ order_info['shipping_lastname'] ~ ' ' ~ order_info['shipping_firstname'] }}</p>
                        </div>
                        <div class="row">
                            <p class="col-4 text-second">Địa chỉ:</p>
                            <p class="col fw-600">{{ order_info['address_shipping_total'] }}</p>
                        </div>
                        <div class="row">
                            <p class="col-4 text-second">Điện thoại:</p>
                            <p class="col fw-600">{{ order_info['telephone'] }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <p class="fz-20 mb-4 fw-bold">THÔNG TIN ĐƠN HÀNG</p>
                        <div class="row">
                            <p class="col-5">Ngày tạo đơn:</p>
                            <p class="col fw-600">{{ date_added }}</p>
                        </div>
                        {% if payment_method %}
                            <div class="row">
                                <p class="col-5">Phương thức thanh toán:</p>
                                <p class="col fw-600">{{ payment_method }}</p>
                            </div>
                        {% endif %}
                        <div class="row">
                            <p class="col-5 mb-0">Trạng thái thanh toán:</p>
                            <p class="col fw-600 mb-0">{% if payment_status == 1 %}Đã thanh toán{% else %}Chưa thanh toán{% endif %}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 pt-lg-5">
                        {% if shipping_method %}
                        <div class="row mt-3">
                            <p class="col">Phương thức vận chuyển:</p>
                            <p class="col fw-600">{{ shipping_method }}</p>
                        </div>
                        {% endif %}
                        {% if order_status_name %}
                            <div class="row">
                                <p class="col">Trạng thái đơn hàng:</p>
                                <p class="col fw-600">{{ order_status_name }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div> <!--End row-->

                <p class="fz-20 mt-4 fw-bold">CHI TIẾT ĐƠN HÀNG</p>

                <div class="box-cart-result row">
                    <div class="table-custom col-12 col-md-9 mb-3">
                        <div class="table-header fw-600 border-bottom fz-16">
                            <div class="row">
                                <div class="col-4 col-lg-5 col-item d-none d-lg-flex">Sản phẩm</div>
                                <div class="col-12 col-lg">
                                    <div class="row d-none d-lg-flex">
                                        <div class="col col-item justify-content-end">Đơn giá</div>
                                        <!-- Hide in mobile -->
                                        <div class="col col-item justify-content-end">Số lượng</div>
                                        <!-- Hide in mobile -->
                                        <div class="col col-item justify-content-end">Thành tiền</div>
                                        <!-- Hide in mobile -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End table-header -->

                        <div class="table-body border-bottom">
                            {% for product in products %}
                                <div class="row-item row align-items-lg-center">
                                    <div class="col-4 col-lg-5 col-item align-items-start">
                                        <a href="{{ product['url'] }}" class="d-flex align-items-center">
                                            <img src="{{ product['image'] }}" alt="{{ product['name'] }}" width="80">
                                            <b class="fw-600 ms-3 d-lg-block d-none">
                                                <a href="{{ product['url'] }}" title="{{ product['name'] }}" class="mb-3">
                                                    {{ product.name|length > 50 ? product.name|slice(0, 50) ~ '...' : product.name
                                                    ~ (product.version is not empty ? ':' ~ product.version : '') }}
                                                </a>
                                            </b>
                                        </a>
                                    </div>
                                    <div class="col-8 col-lg">
                                        <div class="row align-items-lg-center">
                                            <div class="col-12 col-lg col-item d-flex flex-wrap">
                                                <a href="{{ product['url'] }}" title="{{ product['name'] }}" class="fw-bold d-lg-none d-block w-100 mb-3">
                                                    {{ product.name|length > 50 ? product.name|slice(0, 50) ~ '...' : product.name
                                                    ~ (product.version is not empty ? ':' ~ product.version : '') }}
                                                </a>
                                                <span class="mobile-label d-lg-none">Đơn giá</span>
                                                <!-- Only show in mobile -->
                                                <span class="price ms-auto" data-value="{{ product.price }}">{{ product.price }}</span>
                                            </div>
                                            <div class="col-12 col-lg col-item text-end text-lg-center d-flex flex-wrap">
                                                <span class="mobile-label d-lg-none text-start">Số lượng</span>
                                                <!-- Only show in mobile -->
                                                <span class="ms-auto">{{ product.quantity }}</span>
                                            </div>
                                            <div class="col-12 col-lg col-item text-end d-flex flex-wrap">
                                                <span class="mobile-label d-lg-none flex-fill text-start">Thành tiền</span>
                                                <!-- Only show in mobile -->
                                                <span class="ms-auto">{{ product.total }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- End table-body -->
                    </div>
                    <!-- End cart-table -->

                    <div class="col-12 col-md-3 mb-3">
                        <p class="fz-16 fw-600 border-bottom py-2">Tổng tiền</p>
                        <p class="d-flex">
                            <span class="">Thành tiền:</span>
                            <span class="ms-auto fw-600"><span
                                        class="total-price">{{ order_total_real }}</span></span>
                        </p>
                        <p class="d-flex">
                            <span class="">Vận chuyển:</span>
                            <span class="ms-auto fw-600"><span
                                        class="total-transport" data-value="{{ order_shipping_fee }}">{{ order_shipping_fee }}</span></span>
                        </p>
                        <p class="d-flex border-top border-bottom py-3 mb-4">
                            <span class="">Tổng tiền:</span>
                            <span class="ms-auto fw-600"><span
                                        class="total-cart">{{ order_total }}</span></span>
                        </p>

                        <button class="btn btn-primary fw-bold py-3 fz-16 w-100">
                            <a href="/tai-khoan" class="text-secondary"
                             >Quay lại</a>
                        </button>
                    </div>
                    <!-- End table-footer -->
                </div>
                <!-- End box-cart-result -->
            </div>
            <!-- End: Cart Listing -->
        </div>
    </div>
    <!-- End: Main Content -->
</main>

{{ footer }}