{% extends "theme/common/base.twig" %}

{% block hstylesheet %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    {{ parent() }}

    {% block hstylesheet_bootstrap %}
        <link href="view/stylesheet/theme/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/preview.css">
    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/style.css">
{% endblock %}

{% block hscript %}
    {{ parent() }}

    {#{% block hscript_jquery %}#}
    {#<script src="view/javascript/theme/color/jquery.min.js"></script>#}
    {#{% endblock %}#}
    {% block hscript_jquery %}
        <script type="text/javascript" src="view/javascript/custom/jquery.3.3.1.min.js"></script>
    {% endblock %}
    {% block hscript_bootstrap %}
        <script type="text/javascript" src="view/javascript/custom/bootstrap.min.js"></script>
    {% endblock %}
    <script type="text/javascript" src="view/javascript/custom/popper.min.js"></script>
{% endblock %}

{#{% block bcontent %}#}
{% block body %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- preview content -->
    {{ preview }}

    <!--      Menu SIDEBAR      -->
    <div class="sidebar d-flex flex-column justify-content-between text-light sidebar-fixed">
        <!--      Menu header      -->
        <div>
            <a href="{{ back_section }}">
                <div class="header-menu d-flex align-items-center text-light p-3">
                    <span class="mr-2">
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.89406 8.00298L9.24767 14.0528C9.71757 14.5006 9.71757 15.2247 9.24767 15.6677C8.77778 16.1108 8.01794 16.1108 7.54804 15.6677L0.34961 8.8128C-0.105291 8.37931 -0.115289 7.68381 0.314617 7.23602L7.54305 0.333457C7.778 0.109565 8.08793 -1.32198e-07 8.39286 -1.0554e-07C8.6978 -7.88819e-08 9.00773 0.109565 9.24268 0.333457C9.71257 0.781243 9.71257 1.50532 9.24268 1.94834L2.89406 8.00298Z" fill="white" />
                        </svg>
                    </span>
                    <span>{{ banner_title }}</span>
                </div>
            </a>

            <!--      Menu ITEM    HEADINGS  -->
            <div class="menu">
                <div class="d-flex align-items-center text-light p-3">
                    <span>{{ banner_display|upper }}</span>
                </div>
                {% for idx, banner in config.display %}
                    <div class="setting-contact-l d-flex justify-content-between py-2 px-3 align-items-center">
                        <div class="d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseMenuWebsite{{ idx }}" aria-expanded="true" aria-controls="collapseMenuWebsite{{ idx }}">
                            <span class="mr-3">
                                <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.00149 3.19523L7.02642 0.167919C7.25032 -0.0559732 7.61236 -0.0559732 7.83387 0.167919C8.05538 0.391812 8.05538 0.753851 7.83387 0.977744L4.4064 4.40759C4.18965 4.62434 3.8419 4.6291 3.61801 4.42426L0.166728 0.980126C0.0547824 0.868179 -3.14943e-08 0.720505 -2.51434e-08 0.575213C-1.87925e-08 0.429921 0.0547824 0.282247 0.166728 0.170301C0.390622 -0.0535915 0.752661 -0.0535915 0.974172 0.170301L4.00149 3.19523Z" fill="white"></path>
                                </svg>
                            </span>
                            <span>{{ banner_img }} 0{{ idx+1 }}</span>
                        </div>
                        <div class="d-flex" id="banner-visible-{{ idx }}" name="banner-visible">
                            <span class="display-content-visible" id="store" style="cursor: pointer">
                                {% if banner.visible == '1' %}
                                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.99928 10C6.29503 10 4.78338 9.39818 3.46142 8.50456C2.16864 7.63222 1.06262 6.48632 0.128788 5.3617C-0.0463064 5.15198 -0.0404699 4.84195 0.131706 4.63526C1.16184 3.39514 2.51883 2.12766 4.01588 1.23708C5.27656 0.489362 6.63938 0 7.99928 0C9.3621 0 10.7249 0.489362 11.9856 1.23708C13.4797 2.1307 14.8396 3.39818 15.8698 4.6383C16.0449 4.85106 16.0419 5.16109 15.8698 5.36474C14.9359 6.48632 13.8299 7.63526 12.5401 8.50456C11.2181 9.39818 9.70645 10 7.99928 10ZM7.99928 1.77812C8.85432 1.77812 9.62766 2.13982 10.188 2.7234C10.7483 3.30395 11.0955 4.10942 11.0955 5C11.0955 5.88754 10.7483 6.69301 10.188 7.2766L10.185 7.27964C9.62474 7.86322 8.85432 8.22188 7.99928 8.22188C7.14715 8.22188 6.37382 7.86322 5.81352 7.27964C5.25322 6.69605 4.90595 5.89058 4.90595 5C4.90595 4.11246 5.25322 3.30699 5.81352 2.7234C6.37674 2.13982 7.14715 1.77812 7.99928 1.77812ZM9.43505 3.5076C9.06736 3.12462 8.55958 2.89058 7.99928 2.89058C7.43898 2.89058 6.9312 3.12462 6.56642 3.50456L6.56351 3.5076C6.19873 3.88754 5.97402 4.41641 5.97402 5C5.97402 5.58359 6.20164 6.11246 6.56642 6.4924C6.93412 6.87538 7.43898 7.11246 7.99928 7.11246C8.55958 7.11246 9.06736 6.87538 9.43505 6.49544C9.79983 6.11246 10.0275 5.58359 10.0275 5C10.0275 4.41641 9.79983 3.89058 9.43505 3.5076ZM4.03923 7.57751C5.20069 8.3617 6.51973 8.89058 7.99928 8.89058C9.47883 8.89058 10.7979 8.3617 11.9593 7.57751C13.0157 6.86322 13.9467 5.93921 14.7579 5.00304C13.8445 3.96657 12.7006 2.94225 11.4545 2.20061C10.3455 1.54103 9.16074 1.11246 7.99928 1.11246C6.84074 1.11246 5.65593 1.54103 4.547 2.20061C3.30091 2.94225 2.15696 3.96657 1.24356 5.00304C2.05191 5.93921 2.98574 6.86322 4.03923 7.57751Z" fill="white"></path>
                                    </svg>
                                {% else %}
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9993 17C10.295 17 8.78338 16.3982 7.46142 15.5046C6.16864 14.6322 5.06262 13.4863 4.12879 12.3617C3.95369 12.152 3.95953 11.8419 4.13171 11.6353C5.16184 10.3951 6.51883 9.12766 8.01588 8.23708C9.27656 7.48936 10.6394 7 11.9993 7C13.3621 7 14.7249 7.48936 15.9856 8.23708C17.4797 9.1307 18.8396 10.3982 19.8698 11.6383C20.0449 11.8511 20.0419 12.1611 19.8698 12.3647C18.9359 13.4863 17.8299 14.6353 16.5401 15.5046C15.2181 16.3982 13.7064 17 11.9993 17ZM11.9993 8.77812C12.8543 8.77812 13.6277 9.13982 14.188 9.7234C14.7483 10.304 15.0955 11.1094 15.0955 12C15.0955 12.8875 14.7483 13.693 14.188 14.2766L14.185 14.2796C13.6247 14.8632 12.8543 15.2219 11.9993 15.2219C11.1472 15.2219 10.3738 14.8632 9.81352 14.2796C9.25322 13.696 8.90595 12.8906 8.90595 12C8.90595 11.1125 9.25322 10.307 9.81352 9.7234C10.3767 9.13982 11.1472 8.77812 11.9993 8.77812ZM13.4351 10.5076C13.0674 10.1246 12.5596 9.89058 11.9993 9.89058C11.439 9.89058 10.9312 10.1246 10.5664 10.5046L10.5635 10.5076C10.1987 10.8875 9.97402 11.4164 9.97402 12C9.97402 12.5836 10.2016 13.1125 10.5664 13.4924C10.9341 13.8754 11.439 14.1125 11.9993 14.1125C12.5596 14.1125 13.0674 13.8754 13.4351 13.4954C13.7998 13.1125 14.0275 12.5836 14.0275 12C14.0275 11.4164 13.7998 10.8906 13.4351 10.5076ZM8.03923 14.5775C9.20069 15.3617 10.5197 15.8906 11.9993 15.8906C13.4788 15.8906 14.7979 15.3617 15.9593 14.5775C17.0157 13.8632 17.9467 12.9392 18.7579 12.003C17.8445 10.9666 16.7006 9.94225 15.4545 9.20061C14.3455 8.54103 13.1607 8.11246 11.9993 8.11246C10.8407 8.11246 9.65593 8.54103 8.547 9.20061C7.30091 9.94225 6.15696 10.9666 5.24356 12.003C6.05191 12.9392 6.98574 13.8632 8.03923 14.5775Z" fill="white"></path>
                                        <path d="M5 18.5L18.5 5" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="collapse" id="collapseMenuWebsite{{ idx }}">
                        <div class="color-list">
                            <div class="d-flex justify-content-between py-2 px-3 align-items-center">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <form class="w-100 custom-form">
                                        <div class="form-group">
                                            <label>{{ banner_upload_img }}</label>
                                            <input id="banner-image-url-{{ idx }}" placeholder="" type="text" value="{{ banner['image-url'] }}" name="banner-image-url" class="form-control form-control-sm input-image-banner" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{ banner_url }}</label>
                                            <input id="banner-url-{{ idx }}" placeholder="{{ banner_url_placeholder }}" type="text" value="{{ banner['url'] }}" name="banner-url" class="form-control form-control-sm" />
                                        </div>
                                        <div class="form-group">
                                            <label>{{ banner_des_img }}</label>
                                            <input id="banner-description-{{ idx }}" placeholder="" type="text" value="{{ banner['description'] }}" name="banner-description" class="form-control form-control-sm" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Preview button and undo/redo -->
        {% include 'theme/common/preview_undo_redo.twig' %}

    </div>
    <script >
        $(document).ready(function () {
            /* setting listener on value change */
            $("input[name='banner-url']").change(function () {
                var that = $(this);

                delayOnChange(function () {
                    onChangeUrl(that);
                });
            });

            $("input[name='banner-description']").change(function () {
                var that = $(this);

                delayOnChange(function () {
                    onChangeDescription(that);
                });
            });
            $('.input-image-banner').on('change', function(){
                var that = $(this);

                onChangeImageUrl(that);
            });

            $("div[name='banner-visible']").click(function () {
                var that = $(this);

                onChangeVisible(that);
            });

            var delayTimer;

            function delayOnChange(cb) {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(cb, 100); // Will do the ajax stuff after 1000 ms, or 1 s
            }

            function onChangeUrl(el) {
                var config = applyChange(el.attr('id'), el.val());

                postChange(config);
            }

            function onChangeDescription(el) {
                var config = applyChange(el.attr('id'), el.val());

                postChange(config);
            }

            function onChangeImageUrl(e){
                var config = applyChange(e.attr('id'), e.val());

                postChange(config);
            }

            function onChangeVisible(el) {
                var config = applyChange(el.attr('id'), null);

                postChange(config);
            }

            function applyChange(key, value) {
                var config = {{ config|json_encode|raw }};

                if (key.indexOf('banner-image-url-') > -1) {
                    var idx = key.replace('banner-image-url-', '');
                    config.display[idx]['image-url'] = value;
                }

                if (key.indexOf('banner-url-') > -1) {
                    var idx = key.replace('banner-url-', '');
                    config.display[idx]['url'] = value;
                }

                if (key.indexOf('banner-description-') > -1) {
                    var idx = key.replace('banner-description-', '');
                    config.display[idx]['description'] = value;
                }

                if (key.indexOf('banner-visible-') > -1) {
                    var idx = key.replace('banner-visible-', '');
                    config.display[idx]['visible'] = config.display[idx]['visible'] == '0' ? 1 : 0;
                }

                return config;
            }

            /*update config on session*/
            function postChange(config) {
                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('.loader--style2').show();
                    },
                    success: function (data) {
                        $('.loader--style2').hide();
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [CHANGE List product error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('.loader--style2').hide();
                    }
                });
            }
        });

        $('.input-image-banner').on('click', function(e){
            e.preventDefault();
            var target = $(this).attr('id');
            $('#modal-image').remove();

            $.ajax({
                url: 'index.php?route=common/filemanager/origin&user_token=' + getURLVar('user_token') + '&target=' + target,
                dataType: 'html',
                beforeSend: function() {
                    $('.loader--style2').show();
                },
                complete: function() {
                },
                success: function(html) {
                    $('.loader--style2').hide();
                    $('body').append('<div id="modal-image" class="modal">' + html + '</div>');
                    $('#modal-image').modal('show');
                }
            });
        });
    </script>
{% endblock %}
