{% extends "theme/common/base.twig" %}


{#{% block bcontent %}#}
{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- Section content -->
    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile">
            <div class="side-over">
                <!-- header sidebar -->
                <section class="side-item side-head">
                    <!-- item -->
                    <div class="item-sidebar">
                        <a href="{{ url_header }}" class="item-show hover-effect ">{{ section_title_header }}</a>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.header sidebar -->

                <!-- body sidebar -->
                <section class="side-item side-body">
                    <!-- item -->
                    <!-- <div class="item-sidebar">
                        <div class="item-show">
                            <button type="submit" class="btn btn-more"></button>
                            <span class="accordion">Sản phẩm khuyến mại</span>
                            <button type="submit" class="btn btn-eye"></button>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div> -->
                    <!-- /.item -->

                    <!-- item -->
                    <div class="item-sidebar">
                        <a href="{{ url_filter }}" class="item-show hover-effect ">{{ section_title_filter }}</a>
                    </div>
                    <!-- /.item -->
                    <!-- item -->
                    <div class="item-sidebar">
                        <a href="{{ url_banner }}" class="item-show hover-effect ">{{ section_title_banner }}</a>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.body sidebar -->

                <!-- footer sidebar -->
                <section class="side-item side-footer">
                    <!-- item -->
                    <div class="item-sidebar">
                        <a href="{{ url_footer }}" class="item-show hover-effect ">{{ section_title_footer }}</a>
                    </div>
                    <!-- /.item -->
                </section>
                <!-- /.footer sidebar -->
            </div>

            <!-- Common setting button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.Section content -->

{% endblock %}
