@media only screen and (max-width: 767px) {
    #header .main-header{
        padding: 0 0 12px;
    }
    #header .navbar{
        padding: 0;
        height: 24px;
        margin: 20px 0;
    }
    #header .menu-wrapper{
        justify-content: flex-start;
    }
    #header .header-search{
        width: 100%;
    }
    #header .header-search.show form.search-form,
    #header .header-search form.search-form{
        visibility: visible;
        width: 100%;
        padding-right: 50px;
        position: relative;
    }
    #header .header-search form.search-form .btn{
        width: 39px;
        height: 39px;
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 10px 0;
        border-radius: 100%;
        text-align: center;
    }
    #header .header-search input.form-control{
        padding: 0;
        border: none;
    }
    #header .logo{
        margin: auto;
        width: 120px;
        left: -12px;
        position: relative;
    }
}

@media screen and (max-width:991px) {
    h1, h2{
        font-size: 26px;
    }
    .header-top{
        font-size: 13px;
    }
    #navbarMainMenu {
        width: 60%;
        min-width: 305px;
        text-align: left;
        background-color: var(--secondary);
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        opacity: 0;
        visibility: hidden;
        padding: 20px;
        height: 100vh;
        z-index: 999;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        overflow-y: scroll;
    }
    #navbarMainMenu.show {
        left: 0px;
        opacity: 1;
        visibility: visible;
    }
    #navbarMainMenu .navbar-nav .nav-item > .nav-link{
        line-height: 16px;
        padding: 9px 0;
        font-size: 14px;
        font-weight: 400;
    }
    #navbarMainMenu .navbar-nav .nav-link:hover,
    #navbarMainMenu .navbar-nav .nav-link.active{
        color: var(--primary);
        font-weight: 400;
    }
    .table-custom .col-item{
        padding: 0.5rem;
    }
    .table-custom .row-item.row{
        margin: 0 -0.5rem;
    }
    .sidebar .filter-product-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: rgba(44, 52, 64, 0.2);
        padding: 0 25% 0 0;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        border-radius: 0;
        border: 0;
    }
    .sidebar .filter-product-wrapper.collapse{
        opacity: 1;
        visibility: visible;
    }
    .sidebar .filter-product-wrapper .filter-product-content{
        padding: 22px 30px;
        background: var(--secondary);
        left: -100%;
        position: relative;
        transition: all 0.5s ease;
        min-height: 100vh;
    }
    .sidebar .filter-product-wrapper.collapse .filter-product-content{
        left: 0;
    }
    .sidebar .block-title{
        color: #fff;
    }
    .box-product-filter .nav a.nav-link{
        color: #c4c4c4;
    }
    .news-item{
        /*border-bottom: 1px solid #ECECEC;*/
        margin-bottom: 24px;
        margin-top: 0;
    }

    .news-related .news-item {
        border: none !important;
    }

    .blogs-listing .news-item:nth-last-child(1),
    .row>div:nth-last-child(1)>.news-item{
        border-bottom: none;
    }
    .nav-tabs{
        border-radius: 0;
        width: calc((var(--bs-gutter-x) * 2) + 100%);
        margin-left: calc(var(--bs-gutter-x) * -1);
        padding: 0 calc(var(--bs-gutter-x) - 15px);
    }
    .nav-tabs .nav-link{
        padding: 14px 0;
        margin:  0 15px;
    }
    ol.breadcrumb{
        margin-bottom: 23px;
    }
    .sidebar-right{
        width: calc((var(--bs-gutter-x) * 2) + 100%);
        margin-left: calc(var(--bs-gutter-x) * -1);
        padding: var(--bs-gutter-x);
    }
    .product-item a.btn{
        width: 100%;
    }
    .bg-gadient-light-500{
        background: linear-gradient(181.04deg, #DBEEF9 -41.76%, rgba(244, 244, 244, 0) 144.01%);
    }
}

@media screen and (max-width:991px) {

}

/* Tablet & desktop */
@media (min-width: 768px) {
    .w-md-25{
        width: 25% !important;
    }
    .w-md-50{
        width: 50% !important;
    }
    .w-md-75{
        width: 75% !important;
    }
    .w-md-100{
        width: 100% !important;
    }
    .w-md-auto{
        width: auto !important;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .fz-lg-10{
        font-size: 10px !important;
    }
    .fz-lg-12{
        font-size: 12px !important;
    }
    .fz-lg-13{
        font-size: 13px !important;
    }
    .fz-lg-14{
        font-size: 14px !important;
    }
    .fz-lg-15{
        font-size: 15px !important;
    }
    .fz-lg-16{
        font-size: 16px !important;
    }
    .fz-lg-17{
        font-size: 17px !important;
    }
    .fz-lg-18{
        font-size: 18px !important;
    }
    .fz-lg-20{
        font-size: 20px !important;
    }
    .fz-lg-22{
        font-size: 22px !important;
    }
    .fz-lg-24{
        font-size: 24px !important;
    }
    .fz-lg-25{
        font-size: 25px !important;
    }
    .fz-lg-26{
        font-size: 26px !important;
    }
    .fz-lg-28{
        font-size: 28px !important;
    }
    .fz-lg-30{
        font-size: 30px !important;
    }
    .fz-lg-32{
        font-size: 32px !important;
    }
    .fz-lg-34{
        font-size: 34px !important;
    }
    .fz-lg-36{
        font-size: 36px !important;
    }
    .fz-lg-38{
        font-size: 38px !important;
    }
    .fz-lg-40{
        font-size: 40px !important;
    }
    .fz-lg-45{
        font-size: 45px !important;
    }
    .fz-lg-48{
        font-size: 48px !important;
    }
    .fz-lg-60{
        font-size: 60px !important;
    }
    .fw-lg-300 {
        font-weight: 300;
    }
    .fw-lg-400 {
        font-weight: 400;
    }
    .fw-lg-500 {
        font-weight: 500;
    }
    .fw-lg-600 {
        font-weight: 600;
    }
    .fw-lg-700 {
        font-weight: 700;
    }
    .w-lg-25{
        width: 25% !important;
    }
    .w-lg-50{
        width: 50% !important;
    }
    .w-lg-75{
        width: 75% !important;
    }
    .w-lg-100{
        width: 100% !important;
    }
    .w-lg-auto{
        width: auto !important;
    }

    #header ul.nav > li > a>.toggle {
        right: -17px;
    }
    #header .navbar {
        max-width: 48%;
    }
    /* menu nav */
    .block-header #navbarMainMenu li {
        position: relative;
    }
    .block-header #navbarMainMenu ul.nav ul.nav {
        display: inline-block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 92%;
        min-width: 275px;
        padding-left: 5px;
        background: #053D5A;
        border: 1px solid #D6D7D1;
        -webkit-transform: translate(0, 10%);
        transform: translate(0, 10%);
        -webkit-transform-origin: top;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .block-header #navbarMainMenu li:hover > ul.nav {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
    .block-header #navbarMainMenu li ul.nav ul.nav {
        -webkit-transform: translate(10%, 0);
        transform: translate(10%, 0);
        left: 100%;
        top: -1px;
        z-index: 2;
        border: 1px solid #D6D7D1;
    }
    .block-header #navbarMainMenu li ul.nav >li:hover>ul.nav {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}