<!-- Modal -->
<div id="age-restriction-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ modal_title }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ message }}</p>
            </div>
            <div class="modal-footer">
                <button id="customer-welcome-close-btn" type="button" class="btn btn-default"
                        data-dismiss="modal"><span class="fa fa-close"></span> {{ modal_close }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    console.log('{{ "message: " ~ message }}');
</script>