{{ header }}

<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['href'] is defined %}
                    <a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
                {% else %}
                    <span class="breadcrumb-item active">{{ breadcrumb['text'] }}</span>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div class="block-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="block-list-blog">
                    <!-- blog-item -->
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for blog in blog_list %}
                        <div class="blog-item">
                            <h5 class="type-blog header-font">
                                {% for blog_category in blog['blog_categories'] %}
                                    {% if loop.index < 2 %}
                                        {{ blog_category['title'] }}
                                    {% else %}
                                        , {{ blog_category['title'] }}
                                    {% endif %}
                                {% endfor %}
                            </h5>
                            <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>
                            <div class="meta-blog">
                                <div class="author">
                                    <span class="date">{{ blog['date_added']|date('d-m-Y') }}</span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                </div>
                            </div>
                            <div class="thumb text-center">
                                <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                            </div>
                            <div class="desc">
                                {{ blog['short_content']|html_entity_decode }}
                            </div>
                            <a class="btn view-more header-font" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <!-- blog-item -->
                </div>
                <div class="block-pagination">
                    {{ pagination }}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="block-side-blog">
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Bài viết mới</h4>
                        <div class="list-related">
                            {% if blog_list_new is empty %}
                                Không có bài viết
                            {% else %}
                                {% for blog in blog_list_new %}
                                    {% if loop.index < 5 %}
                                        <div class="related-item">
                                            <div class="thumb">
                                                <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                                            </div>
                                            <div class="content">
                                                <h5 class="type-blog header-font">
                                                    {% for blog_category in blog['blog_categories'] %}
                                                        {% if loop.index < 2 %}
                                                            {{ blog_category['title'] }}
                                                        {% else %}
                                                            , {{ blog_category['title'] }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </h5>
                                                <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>
                                                <div class="meta-blog">
                                                    <div class="author">
                                                        <span class="date">{{ blog['date_added']|date('d-m-Y') }} </span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <!-- /.side item -->
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Danh mục bài viết</h4>
                        <ul class="block-cate">
                            {% for category in blog_category %}
                                <li>
                                    <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.side item -->
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Tags</h4>
                        <div class="list-tags">
                            {% for tag in tags %}
                                <a href="{{ tag['link'] }}" class="header-font {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.side item -->
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}