{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active main-color">Liên hệ</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->

<div class="block-contact-page">
    <div class="container">
        {#<div class="contact-section">
            <div class="contact-item">
                <img class="img-fluid" src="{{ theme_directory }}/images/contact1.png" alt="">
                <p>{{ contacts_info.address }}</p>
            </div>
            <div class="contact-item">
                <img class="img-fluid" src="{{ theme_directory }}/images/contact2.png" alt="">
                <a href="callto:{{ contacts_info.phone }}"><p>Mobile: {{ contacts_info.phone }}</p></a>
            </div>
            <div class="contact-item">
                <img class="img-fluid" src="{{ theme_directory }}/images/contact3.png" alt="">
                <p><a href="mailto:{{ contacts_info.email }}" >{{ contacts_info.email }}</a></p>
            </div>
            <div class="contact-item">
                <img class="img-fluid" src="{{ theme_directory }}/images/contact4.png" alt="">
                <p>Liên kết: <span>
                    {% for social_config in social_configs %}
                        {% if  social_config.name == 'Facebook' %}
                            <a href="{{ social_config.url }}" target="_blank">
                            <img class="img-fluid" src="{{ theme_directory }}/images/ct-fb.png" alt="">
                            </a>
                        {% elseif  social_config.name == 'Instagram' %}
                            <a href="{{ social_config.url }}" target="_blank">
                            <img class="img-fluid" src="{{ theme_directory }}/images/ct-tt.png" alt="">
                            </a>
                        {% elseif social_config.name == 'Youtube' %}
                            <a href="{{ social_config.url }}" target="_blank">
                            <img class="img-fluid" src="{{ theme_directory }}/images/ct-gg.png" alt="">
                            </a>
                        {% endif %}
                    {% endfor %}
                    </span>
                </p>
            </div>
        </div>
        <div class="hr-line"><hr></div>#}
        <div class="row">
            <div class="col-lg-6 ">
                <h2 class="title-block header-font text-color">
                    {{ contacts_email.title }}
                </h2>
                <div class="form-feedback">
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <form id="contact-form" action="{{ href_submit_form }}" method="post">
                        <div class="form-group">
                            <input type="text" name="fullname" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                   id="" class="form-control" placeholder="Họ và tên" required
                                   aria-describedby="helpId">

                            <input type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                   pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15"
                                   name="phone" id="" class="form-control" placeholder="Số điện thoại" required
                                   aria-describedby="helpId">
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                   id="" class="form-control" placeholder="Địa chỉ Email" required
                                   aria-describedby="helpId">
                        </div>

                        <div class="form-group">
                            <textarea name="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                      id="" cols="30" rows="10" placeholder="Nội dung góp ý" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-submit header-color header-font">Gửi</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block-maps">
                    {{ contacts_map.address|html_entity_decode }}
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>