{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <h1 class="page-title m-0">{{ text_heading }}</h1>
        </div>
    </div> <!-- End container -->

    {% if map_config.display.address %}
        {{ map_config.display.address|html_entity_decode }}

        <script>
            var iframe = $('iframe');
            iframe.attr('width', '100%');
            iframe.attr('height', '310');
            iframe.attr('frameborder', '0');
            iframe.attr('style', 'border:0');
            iframe.attr('allowfullscreen');
        </script>
    {% endif %}

    <div class="container">
        <form id="contact-form" class="contact-form" action="{{ href_submit_form }}" method="post">
            <div class="row py-3 pb-5">
                <div class="col-12 col-lg-7 mb-3">
                    <h2 class="font-28">{{ form_config.setting.title }}</h2>
                    <p class="mb-4">{{ form_description }}</p>

                    <div class="form-group row">
                        <label class="col-4 col-md-3 align-self-center">{{ form_full_name }}</label>
                        <div class="col-8 col-md-9">
                            <input type="text" class="form-control bg-light py-4" value="{{ customer_info['fullname'] }}" name="fullname" placeholder="{{ form_full_name_placeholder }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-md-3 align-self-center">{{ form_email }}</label>
                        <div class="col-8 col-md-9">
                            <input type="email" class="form-control bg-light py-4" value="{{ customer_info['email'] }}" name="email" placeholder="{{ form_email_placeholder }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-md-3 align-self-center">{{ form_phone_number }}</label>
                        <div class="col-8 col-md-9">
                            <input type="text" class="form-control bg-light py-4" value="{{ customer_info['phone'] }}" name="phone" placeholder="{{ form_phone_number_placeholder }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-md-3 align-self-center">{{ form_your_mind }}</label>
                        <div class="col-8 col-md-9">
                            <textarea class="form-control bg-light py-4" name="your_mind"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-lg-3 offset-lg-3">
                            <button class="btn btn-warning bg-warning col" type="submit" form="contact-form">{{ form_button_text }}</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    {# out location #}
                    <h2 class="font-28">{{ contact_config.setting.title }}</h2>
                    <hr/>

                    {# out store #}
                    <h2 class="font-20 mb-3">{{ contact_config.display.store.title }}</h2>
                    <p>{{ contact_config.display.store.content }}</p>

                    {# telephone #}
                    <h2 class="font-20 my-4">{{ contact_config.display.telephone.title }}</h2>
                    <p>{{ contact_config.display.telephone.content }}</p>

                    {# social follow #}
                    <h2 class="font-20 my-4">Social</h2>
                    <div class="social-items clearfix">
                        {% if 'facebook' in enabled_socials %}
                            <a href="" class="item mr-3"><i class="icon icon-fb"></i></a>
                        {% endif %}

                        {% if 'twitter' in enabled_socials %}
                            <a href="" class="item mr-3"><i class="icon icon-twitter"></i></a>
                        {% endif %}

                        {% if 'instagram' in enabled_socials %}
                            <a href="" class="item mr-3"><i class="icon icon-instagram"></i></a>
                        {% endif %}

                        {% if 'youtube' in enabled_socials %}
                            <a href="" class="item mr-3"><i class="icon icon-youtube"></i></a>
                        {% endif %}

                        {% if 'google' in enabled_socials %}
                            <a href="" class="item mr-3"><i class="icon icon-google"></i></a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </form>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}