<div class="col-lg-5">
    <div class="block-side-blog">
        <!-- side item -->
        <div class="side-item">
            <h4 class="header-item main-font">Bài viết mới</h4>
            <div class="list-related">
                {% if blog_list_new is empty %}
                    Không có bài viết
                {% else %}
                    {% for blog in blog_list_new %}
                        {% if loop.index < 5 %}
                            <div class="related-item">
                                <div class="thumb">
                                    <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="type-blog main-font hover-color">{{ blog['category']['title'] }}</h5>
                                    <h3 class="name-blog main-font"><a href="{{ blog['link'] }}">{{ blog['title'] }} </a></h3>
                                    <div class="meta-blog">
                                        <div class="author">
                                            <span class="date">{{ blog['date_added']|date('Y-m-d') }}</span> bởi <a href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


            </div>
        </div>
        <!-- /.side item -->
        <!-- side item -->
        <div class="side-item">
            <h4 class="header-item main-font">Danh mục bài viết</h4>
            <ul class="block-cate">
                {% for category in blog_category %}
                    <li {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>
                        <a href="{{ category['link'] }}">{{ category['title'] }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <!-- /.side item -->
        <!-- side item -->
        <div class="side-item">
            <h4 class="header-item main-font">Tags</h4>
            <div class="list-tags">
                {% for tag in tags %}
                    <a class="main-font" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- /.side item -->
    </div>
</div>