{{ header }}

<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            {% for breadcrumb in breadcrumbs %}
                <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% endfor %}
        </nav>
    </div>
</div>

<div class="block-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="block-blog-detail">
                    <article>
                        <div class="article-content">
                            <h5 class="type-blog main-font hover-color">{{ category_blog.title }}</h5>
                            <h1 class="name-blog main-font">{{ blog['title'] }}</h1>
                            <div class="meta-blog">
                                <div class="author">
                                    <span class="date">{{ blog['date_added']|date('Y-m-d') }} </span>bởi <a href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                </div>
                                {#<div class="view"><span>3.500 </span>lượt xem</div>#}
                            </div>
                            <div class="thumb text-center">
                                <img class="img-fluid" src="{{ blog['image'] }}" alt="">
                            </div>
                            <div class="desc">
                                {{ blog['content']|html_entity_decode }}
                            </div>
                        </div>
                    </article>
                    <div class="social">
                        <span>Chia sẻ: </span>
                        <ul>
                            <li>
                                <a href="{{ social.google.href }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                        <path d="M9.5 7.6V11.4H14.8751C14.0904 13.6116 11.9776 15.2 9.5 15.2C6.3574 15.2 3.8 12.6426 3.8 9.5C3.8 6.3574 6.3574 3.8 9.5 3.8C10.8623 3.8 12.1733 4.2883 13.1917 5.1756L15.6883 2.3104C13.9783 0.8208 11.7819 0 9.5 0C4.2617 0 0 4.2617 0 9.5C0 14.7383 4.2617 19 9.5 19C14.7383 19 19 14.7383 19 9.5V7.6H9.5Z" fill="#969696"></path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="{{ social.facebook.href }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                                        <path d="M9.62343 0.0037452L7.22488 0C4.5302 0 2.78878 1.73871 2.78878 4.42982V6.47227H0.377148C0.168755 6.47227 0 6.63668 0 6.83949V9.79876C0 10.0016 0.168947 10.1658 0.377148 10.1658H2.78878V17.633C2.78878 17.8358 2.95753 18 3.16593 18H6.31242C6.52081 18 6.68957 17.8356 6.68957 17.633V10.1658H9.50932C9.71772 10.1658 9.88647 10.0016 9.88647 9.79876L9.88763 6.83949C9.88763 6.74211 9.84779 6.64886 9.77718 6.57994C9.70656 6.51103 9.61034 6.47227 9.51029 6.47227H6.68957V4.74086C6.68957 3.90868 6.89334 3.48622 8.00727 3.48622L9.62304 3.48566C9.83125 3.48566 10 3.32124 10 3.11863V0.370775C10 0.168347 9.83144 0.00411972 9.62343 0.0037452Z" fill="#969696"></path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="{{ social.twitter.href }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19" fill="none">
                                        <path d="M23 2.248C22.1535 2.62948 21.2452 2.88819 20.2908 3.00369C21.2653 2.41024 22.0112 1.46896 22.3647 0.350785C21.4507 0.900354 20.4417 1.29941 19.3666 1.51574C18.5057 0.58175 17.2812 0 15.923 0C13.3173 0 11.2046 2.14863 11.2046 4.79713C11.2046 5.17276 11.2463 5.53964 11.3268 5.89046C7.40601 5.69019 3.92936 3.77983 1.60249 0.876963C1.19574 1.58442 0.964348 2.40875 0.964348 3.2887C0.964348 4.95353 1.79795 6.42249 3.06273 7.28191C2.28948 7.25561 1.56224 7.03929 0.925564 6.67971V6.73964C0.925564 9.06366 2.55252 11.0033 4.70978 11.4447C4.31454 11.5529 3.89775 11.6128 3.46658 11.6128C3.1619 11.6128 2.86726 11.5821 2.57837 11.5236C3.17912 13.4311 4.92107 14.8182 6.98495 14.8562C5.37092 16.1425 3.33579 16.9069 1.12535 16.9069C0.744495 16.9069 0.369354 16.8835 0 16.8411C2.08831 18.2049 4.56754 19 7.23216 19C15.9116 19 20.6559 11.6888 20.6559 5.34819L20.6401 4.727C21.5671 4.05459 22.369 3.20977 23 2.248Z" fill="#969696"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="next-blog">
                        <h5 class="title main-font mb-3">Bài viết liên quan:</h5>
                        {% for key, blog in  blog_relate %}
                            {% if key < 3 %}
                                <div class="next-item">
                                    <div class="thumb">
                                        <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt="">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="type-blog main-font hover-color">{{ blog['category']['title'] }}</h5>
                                        <h3 class="name-blog main-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>
                                        <div class="meta-blog">
                                            <div class="author">
                                                <span class="date">{{ blog['date_added']|date('Y-m-d') }} </span>bởi <a href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- comment -->
                    {#<div class="block-comment mb-5">#}
                        {#<h4 class="title-block main-font">#}
                            {#<span>1 bình luận</span>#}
                        {#</h4>#}
                        {#<div class="comment-list">#}
                            {#<!-- Comment item -->#}
                            {#<div class="comment-item flex-display">#}
                                {#<div class="user-avatar">#}
                                    {#<div class="thumb">#}
                                        {#<img src="images/user-thumb.png" alt="">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="comment-content">#}
                                    {#<div class="flex-display">#}
                                        {#<div class="user-infor">#}
                                            {#<h6 class="name main-font">Luong Viet Dung</h6>#}
                                            {#<div class="rated">#}
                                                {#<ul class="text-color-hover">#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" fill="white" stroke="#949494"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="date main-font">#}
                                            {#12/09/2019#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="content">#}
                                        {#The ninja silhouette is one of my favorite designs. This is a great product.#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- /.Comment item -->#}
                            {#<!-- Comment item -->#}
                            {#<div class="comment-item flex-display">#}
                                {#<div class="user-avatar">#}
                                    {#<div class="thumb">#}
                                        {#<img src="images/user-thumb.png" alt="">#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="comment-content">#}
                                    {#<div class="flex-display">#}
                                        {#<div class="user-infor">#}
                                            {#<h6 class="name main-font">Luong Viet Dung</h6>#}
                                            {#<div class="rated">#}
                                                {#<ul class="text-color-hover">#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#EC006C"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                    {#<li>#}
                                                        {#<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">#}
                                                            {#<path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" fill="white" stroke="#949494"></path>#}
                                                        {#</svg>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                        {#</div>#}
                                        {#<div class="date main-font">#}
                                            {#12/09/2019#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="content">#}
                                        {#The ninja silhouette is one of my favorite designs. This is a great product.#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- /.Comment item -->#}
                        {#</div>#}
                        {#<h4 class="title-block">#}
                            {#<span>thêm đánh giá</span>#}
                        {#</h4>#}
                        {#<div class="block-form-rating">#}
                            {#<form action="">#}
                                {#<div class="form-group-rating">#}
                                    {#<label class="title" for="">Xếp hạng</label>#}
                                    {#<div class="rating">#}
                                        {#<div class="form-group">#}
                                            {#<input class="star star-5" id="star-5q" type="radio" name="star">#}
                                            {#<label class="star star-5" for="star-5q"></label>#}
                                            {#<input class="star star-4" id="star-4q" type="radio" name="star">#}
                                            {#<label class="star star-4" for="star-4q"></label>#}
                                            {#<input class="star star-3" id="star-3q" type="radio" name="star">#}
                                            {#<label class="star star-3" for="star-3q"></label>#}
                                            {#<input class="star star-2" id="star-2q" type="radio" name="star">#}
                                            {#<label class="star star-2" for="star-2q"></label>#}
                                            {#<input class="star star-1" id="star-1q" type="radio" name="star">#}
                                            {#<label class="star star-1" for="star-1q"></label>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="form-group-rating">#}
                                    {#<label class="title" for="">Bình luận</label>#}
                                    {#<textarea name="" id="" cols="30" rows="10"></textarea>#}
                                {#</div>#}
                                {#<div class="form-group-rating">#}
                                    {#<label class="title" style="visibility: hidden;" for="">Send</label>#}
                                    {#<button type="submit" class="btn btn-submit main-font">Gửi</button>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div>#}
                    {#</div>#}
                    <!-- /.comment -->
                </div>
            </div>
            {# TODO: use var theme_dir instead of hardcode... #}
            {% include ('other_gunstore/template/blog/blog_nav_template.twig') %}
        </div>
    </div>
</div>

{{ footer }}