{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active main-color">Liên hệ</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-6 bestme-block-contact-contact">
                <h2 class="title-block">
                    {{ contacts_email.title }}
                </h2>

                <div class="form-feedback">
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <form id="contact-form" action="{{ href_submit_form }}" method="post">
                        <div class="form-group">
                            <input type="text" name="fullname" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                   required id="" class="form-control" placeholder="Họ và tên"
                                   aria-describedby="helpId">
                            <input type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                   pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15"
                                   name="phone" id="" class="form-control" placeholder="Số điện thoại" required
                                   aria-describedby="helpId">
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                   id="" required class="form-control" placeholder="Địa chỉ Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                   aria-describedby="helpId">
                        </div>

                        <div class="form-group">
                            <textarea name="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                      required id="" cols="30" rows="10" placeholder="Nội dung góp ý"></textarea>
                        </div>

                        <button type="submit" class="btn btn-submit header-color header-font">Gửi</button>
                    </form>
                </div>
            </div>
            {#<div class="col-lg-6 bestme-block-contact-form">
                <h2 class="title-block">
                    {{ contacts_info.text }}
                </h2>

                <div class="contact-group">
                    <p class="mb-3">
                        <img src="{{ theme_directory }}/images/elm/mail.png" alt="">
                        <a href="#">{{ contacts_info.email }}</a>
                    </p>
                    <p class="mb-3">
                        <img src="{{ theme_directory }}/images/elm/phone.png" alt="">
                        <a href="#">{{ contacts_info.phone }}</a>
                    </p>
                    <p class="mb-3">
                        <img src="{{ theme_directory }}/images/elm/loca.png" alt="">
                        <a href="#">{{ contacts_info.address }}</a>
                    </p>
                </div>
            </div>#}

        </div>
    </div>
</div>
<!-- /.ELM PAGES -->
<script>
    $(function(){
        $('#contact-form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('#contact-form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>
{{ footer }}