body {
    font-style: normal;
    font-weight: normal;
    background: #E5E5E5;
}
a {
 text-decoration:none!important;
}
    body, .block-header .block-header-menu ul.nav a {
        font-style: normal;
        font-weight: normal;
    }
    
    .modal {
        z-index: 99999;
    }
    footer .footer-map-store .map-store iframe {
        width: 100%;
        height: 200px;
    }
#productdetail-page button.btn-cart-contact-product-detail,
#productdetail-page button.btn-cart-product-detail,
#productdetail-page button.btn-cart-add-product-detail {
    display: inline-block!important;
}
#productdetail-page button.btn-cart-contact-product-detail.hide,
#productdetail-page button.btn-cart-product-detail.hide,
#productdetail-page button.btn-cart-add-product-detail.hide {
    display: none!important;
}

    /*header*/
/*section header-top*/
    .third-bg{
        background-color: #000 !important;
        color: #fff;
    }
    header #header-top-infor .header-banner-top-left a{
       color: #fff;
    }
    header #header-top-infor .header-banner-top-left a:hover{
       text-decoration: none;
    }
    header #header-top-infor .header-banner-top-left i{
        margin-right: 10px;
    }
    header #header-top-infor .header-banner-top-right i{
        margin-right: 10px;
        margin-left: 15px;
    }
    /*end section header-top*/
    
    /*section header-content-firstlyt*/
    @media only screen and (max-width: 768px) {
        header .fix-content .form-search-header {
            min-width: 100%;
        }
        
        header .fix-content .form-search-header .block-header-menu .navbar .navbar-collapse {
            position: absolute;
            background: #fff;
            transform: translateY(155px);
            /* dunght */
            z-index: 99;
            max-height: 320px;
            overflow-y: scroll;
            /* end - dunght */
        }
    }
    header .fix-content .form-search-header .block-header-menu .navbar .navbar-toggler {
        position: absolute;
        right: 0;
        top: -45px;
    }
    
    header .fix-content .main-menu-wrapper.main-menu-fixed {
        
    }
    
    
    
    header .fix-content .main-menu-wrapper.main-menu-fixed {
        background: transparent!important;
    }
    header.fixed .fix-content .form-search-header {
        display: none!important;
    }
    header #header-content {
        background-color: #E5E5E5;
    }
    header #header-content .header-content-firstly .header-icon-log-in i.icon-shopping {
        margin-left: 10px;
    }
    header #header-content .header-content-firstly .header-icon-log-in a:hover{
        text-decoration: none;
    }
    header #header-content .header-content-firstly .header-icon-log-in span.icon-shopping-border {
        border: 2px solid #FF9D00;
        border-radius: 25px;
        padding: 0px 4px;
        font-size: 12px;
        position: relative;
        right: 14px;
        top: -18px;
        color: #fff;
        bottom: 10px;
    }
    header #header-content .header-content-firstly .header-icon-log-in i.icon-shopping-border {
       border-radius:1px solid red;
       background-color:blue;
       color:#fff;
    }
    header #header-content .header-content-firstly .block-header-menu .collapse .nav-item a,
    header #header-content .header-content-firstly .block-header-menu .collapse .nav-item a:hover {
        color:#000;
        font-weight: 400;
    }
    header #header-content .header-content-firstly .block-header-menu #navbarMainMenu ul.nav li a.jupi_main_color.active,
    header #header-content .header-content-firstly .block-header-menu #navbarMainMenu ul.nav li:hover a.jupi_main_colors {
        border-bottom: 2px solid #FF9801;
    }
/*section end-header-content-firstly*/

/*section header-content-secondary*/
    header #header-content .main-menu-bg .category-menu-header .input-group .input-group-bg .dropdown .dropdown-menu.show{
        transform:none!important;
        margin-top: 37px;
    }
    header #header-content .main-menu-bg .category-menu-header .input-group .input-group-bg .dropdown .dropdown-toggle::after{
        font-size: 18px;
        margin-left: 20px;
    }
    header #header-content .main-menu-bg .contact-infor{
        border-left: none;
    }
    header #header-content .main-menu-bg .contact-infor .contact-infor-time{
        margin-bottom: 10px;
    }
    header #header-content .main-menu-bg .infor-right-user{
       text-align: center;
    }
    header #header-content .main-menu-bg .input-group .input-group-bg {
        background-color: #fff;
    }
    header #header-content .main-menu-bg .input-group .input-group-bg .dropdown-search{
        position: absolute;
        right: 0;
    }
    header #header-content .main-menu-bg .input-group .input-group-append .input-group-bg .btn-input-secondary{
        color: #000;
        background-color: #fff;
        border: #FFF;
    }
    header #header-content .main-menu-bg .input-group .input-group-append .input-group-bg .btn-input-secondary{
        color: #000;
        background-color: #fff;
        border: #FFF;
    }
    header #header-content .main-menu-bg .input-group .input-group-append .input-group-bg ..dropdown-toggle::after {
        color: #000;
        background-color: #fff;
        border: #FFF;
    }
    header #header-content .main-menu-bg .input-group .input-group-bg .dropdown-search .btn-input-secondary .icon-search-boder {
        border-right: 1px solid #CCCCCC;
        color: #CCCCCC;
    }
/*section end-header-content-secondary*/

  /*end header*/
  
  /*Reponsive end-header*/
    @media only screen and (max-width: 768px) {
        header #header-top-infor .header-banner-top-right {
            display:none;
        }
        header #header-content .main-menu-wrapper .block-header-menu {
            display:none
        }
        #blogs-page {
            border-top: 1px solid #CCCCCC;
        }
        header #header-content .header-content-firstly .header-icon-log-in span.icon-shopping-border{
            right: 13px;
        }
        
        .product-item .product-highlight span.status {
            
        }
    }
  /*Reponsive end-header*/
  
    /*home*/
    #homepage-partner .owl-carousel .owl-nav {
        position: absolute;
        top: -65px;
        right: 60px;
        width: 75px;
    }
    #homepage-partner .owl-carousel .owl-nav button.owl-prev::before {
        content: "\f104";
        font-family: FontAwesome;
    }
    #homepage-partner .owl-carousel .owl-nav button.owl-next::before {
        content: "\f105";
        font-family: FontAwesome;
    }
    #homepage-partner .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    #homepage-partner .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    
/*home-banner-top*/
    .card-body {
        text-transform: uppercase;
    }
    #carousel-category-indicators .carousel-item-next,
    #carousel-category-indicators .carousel-item-prev,
    #carousel-category-indicators .carousel-item.active {
        display: flex;
    }
    .front-page .block-banner::after {
        background-color: #E5E5E5;
    }
    .owl-carousel#block-banner-img .owl-nav>button[class*=owl-] i {
        background-color:#000;
    }
    .owl-carousel#block-banner-img .owl-nav .owl-next:hover i{
        background-color:#000;
    }
    .owl-carousel#block-banner-img .owl-nav .owl-prev:hover i{
        background-color:#000;
    }
    .owl-carousel .owl-nav .owl-next:hover i{
        background-color:#fff;
    }
    .owl-carousel .owl-nav .owl-prev:hover i{
        background-color:#fff;
    }
    .owl-carousel#block-banner-img .owl-nav>button.owl-prev {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: inherit;
    }
    .owl-carousel#block-banner-img .owl-nav>button.owl-next {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: inherit;
    }
    .owl-carousel#block-banner-img .owl-nav .owl-prev:hover {
        background:rgba(255, 255, 255, 0.8)!important;
    }
    .owl-carousel#block-banner-img .owl-nav .owl-next:hover {
        background:rgba(255, 255, 255, 0.8)!important;
    }
    .owl-carousel .owl-nav>button.owl-prev {
        width: 35px;
        height: 35px;
        outline: 0;
        opacity: .9;
        left: 10%;
    }
    .owl-carousel .owl-nav .owl-prev:hover {
        color: #fff!important;
    }
    .owl-carousel .owl-nav>button.owl-next {
        width: 35px;
        height: 35px;
        outline: 0;
        opacity: .9;
        right: 10%;
    }
    .owl-carousel .owl-nav .owl-next:hover {
        color: #fff!important;
    }
    a.carousel-control.carousel-control-next{
        width: 35px;
        height: 35px;
        top: -50px;
        outline: 0;
        opacity: .9;
        left: unset;
        right: 15px;
    }
    a.carousel-control.carousel-control-next:hover {
        color:#fff;
    }
    a.carousel-control.carousel-control-prev {
        width: 35px;
        height: 35px;
        top: -50px;
        outline: 0;
        opacity: .9;
        left: unset;
        right: 65px;
    }
    a.carousel-control.carousel-control-prev:hover {
        color:#fff;
    }
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item a>img{
        /*dunght disable*/
        /*height: 100px;
        width:190px;*/
        /*end - dunght disable*/

        /*dunght added*/
        height: 150px;
        object-fit: scale-down;
        /*end - dunght added*/
    }
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item .image {
        /*height: 500px;*/ /* dunght commented*/
        /* dunght */
        height: auto;
        object-fit: scale-down;
        /* end - dunght */
        width: 100%;
        /*background-size: cover;*/
        /*background-repeat: no-repeat;*/
        /*background-position: center;*/
    }
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item .image::before {
        content: attr(alt);
        z-index: 1;
        position: absolute;
        left: 0;
    }
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item span {
        position: absolute;
        top: 30%;
        left: 0;
        padding: 10px 30px;
        color: #000;
    }
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item button {
        position: absolute;
        top: 50%;
        left: 45%;
        padding: 10px 30px;
        color: #FFF;
    }
    /*end-home-banner-top*/
    .fa-location-arrow {
        margin-top: 40px;
        margin-left: 20px;
    }
    /*.fa-location-arrow:before {*/
    /*    content: "\f124";*/
    /*    border: 1px solid;*/
    /*    border-radius: 30px;*/
    /*    width: 60px;*/
    /*    height: 60px;*/
    /*    padding: 10px;*/
    /*    font-size: 40px;*/
    /*}*/
    .carousel.carousel-product .carousel-inner .carousel-item .product-item {
        display: inline-block;
        width: 16.2%;
    }
    .carousel.carousel-product .carousel-inner .carousel-item .product-item.item-6 {
        display: inline-block;
        width: 16.2%;
    }
    .carousel.carousel-product .carousel-inner .carousel-item .product-item.item-4 {
        width: 24.5%;
    }
    .carousel.carousel-product .carousel-inner .carousel-item .product-item.item-2 {
        width: 44.5%;
    }
    .carousel.carousel-product .carousel-indicators {
        position: relative;
    }
    .carousel.carousel-product .carousel-indicators li.indicator-item {
        background-color: #C4C4C4;
        border: 1px solid;
        border-radius: 25px;
        padding: 0;
        width: 12px;
        height: 12px;
    }
    .carousel.carousel-product .carousel-indicators li.indicator-item.active {
        border-radius: 25px;
        padding: 0;
        width: 12px;
        height: 12px;
    }
    
/*section home-car-user-produc*/
    #card-product-infor .product-price-sale {
        font-size: 13px;
    }
    #card-product-infor .product-price {
        font-size: 16px;
        color: #E03232;
    }
    #home-content #card-product-user,#card-product-infor {
        margin-top:32px;
    }
    #home-content #card-product-user .card img{
        margin-left: 100px;
    }
    #home-content #card-product-user .card .card-body .phone{
        color: #FD0404;
    }
/*section end-home-car-user-produc*/

/*section home-content-product-infor*/
    #catalog-products ul>li>a{
        text-decoration:none;
    }
    #home-content #card-product-infor .list-group .no-gutters-border{
        border-bottom: 1px solid #CCCCCC;
        /*dunght*/
        margin-top: 2px;
        margin-bottom: 2px;
        /*end - dunght*/
    }
/*section end-home-content-product-infor*/

/*section home-product-promotion*/
    .carousel-product a.carousel-control {
        width: 35px;
        height: 35px;
        top: -45px;
        outline: 0;
        opacity: .9;
        left: unset;
        right: 0;
    }
    .carousel-product a.carousel-control.carousel-control-prev {
        left: unset;
        right:50px;
    }
    .carousel-product a.carousel-control.carousel-control-prev:hover {
        color: #fff;
    }
    .carousel-product a.carousel-control.carousel-control-next:hover {
        color: #fff;
    }
    #home-bg #home-content #home-infor-card-product .card-hover .carousel-indicators li {
        width: 12px;
        height: 12px;
        font-size: 14px;
        border-radius: 25px;
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4; 
    }
    #home-bg #home-content #home-infor-card-product .card-hover .carousel-indicators li.active {
        width: 12px;
        height: 12px;
        font-size: 14px;
        border-radius: 25px;
    }
    #home-content #home-infor-card-product .card-hover {
        background-color: #FFFFFF;
        border: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    }
    #home-content #home-infor-card-product #home-card-product .card {
        border:none;
        transition: none;
        cursor: pointer;
    }
    
    .product-item .product-image {
        margin-bottom: 12.5px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-sizing: border-box;
    }
    #home-bg #home-card-product #homepage-best-sale-product-carousel .carousel-inner .product-item {
        transition:none;
    }
    #home-content  #home-infor-card-product #home-card-product .product-item:hover {
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        
    }
    #home-content #home-infor-card-product #home-card-product .card:hover .card-body{
        margin-bottom:10px;
    }
    #home-content #home-card-product .card .btn-value{
        visibility: hidden;
    }
    #home-content #home-infor-card-product #home-card-product .card:hover .card-text-color{
        visibility: hidden;
    }
    #home-content #home-infor-card-product #home-card-product .card:hover .btn-value{
        visibility: visible;
        border: 1px solid #FD0404;
        background-color: #FD0404;
        font-size: 16px;
        padding: 5px 0px;
        position: absolute;
        border-radius: 25px;
        color: #fff;
        top:0;
        left:0;
    }
    #home-content #home-infor-card-product #home-card-product .product-item.item-4 {
        width: 22.5%;
    }
    #home-content #home-infor-card-product #home-card-product .product-item.item-6 {
        width: 15%;
    }
    #home-content #home-infor-card-product #home-card-product .product-item {
        overflow: hidden;
        min-height: 245px;
    }
    #home-content #home-infor-card-product #home-card-product .product-item img {
        /*height: 125px;*/ /*dunght disable*/
    }
    #home-content #home-infor-card-product #home-card-product .product-item .card-title {
        height: 20px;
    }
    #home-content #home-infor-card-product #home-card-product .product-item .action-product {
        position: absolute;
        padding: 10px 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 50px;
        opacity: 0;
        transition: all .5s;
        background: #fff;
    }
    #home-content #home-infor-card-product #home-card-product .product-item:hover .action-product {
        transform: translateY(-35px);
        opacity: 1;
    }
    #home-content #home-infor-card-product #home-card-product .product-item .action-product a:nth-child(1) {
        margin-right: 10px;
    }
    #home-content #home-infor-card-product #home-card-product .product-item .action-product a {
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        color: #000;
        transition: all .5s;
    }
    #home-content #home-infor-card-product #home-card-product .product-item .action-product a:hover {
        color: #fff;
    }
    #home-content #home-infor-card-product #home-card-product .card .card-text-color {
        color: #E03232;
    }
    #home-content #home-infor-card-product #home-card-product .card .card-text-color .number{
        color: #000000;
    }
    @media only screen and (max-width: 768px) {
        #home-content #home-infor-card-product #home-card-product .product-item {
            width: 100%;
        }

        /*dunght*/
        .carousel-product a.carousel-control {
            top: -67px;
        }
        /*end - dunght*/
    }
/*section end-home-product-promotion*/

/*setion home-banner*/
    #home-banner {
        margin-top:32px;
    }
/*section end-home-banner*/

/*section home-banner-end*/
    #home-bg #home-content .block-partner #home-banner-second {
        background-color:#fff;
    }
    
/*section End-home-banner-end*/

    /* end home*/

    /*contact*/
/*section contact-next-page*/
    #contact-link-page {
        background-color: #fff;
    }
/*section contact-next-page*/

/*section contact-link-page*/
    /*section contact-form-content*/
        #contact-body {
            background-color:#fff;
        }
        #contact-body #contact-link-page #contact-link-page-form ol.breadcrumb .breadcrumb-item, ol.breadcrumb .breadcrumb-item a{
            text-decoration: none;
            color:#000;
        }
        #contact-body #contact-link-page #contact-link-page-form ol.breadcrumb .breadcrumb-item, ol.breadcrumb .breadcrumb-item.active{
            color:#000;
        }
        #contact-body #contact-link-page #contact-link-page-form #contact-form .form-group input{
            background-color: #fff;
        }
        #contact-body #contact-link-page #contact-link-page-form #contact-form .form-control{
            background-color: #fff;
        }
        #contact-body #contact-link-page #contact-link-page-form #contact-form button.contact-button-bg {
            background-color: #000;
        }
    /*section end-contact-form-content*/    
/*section contact-link-page*/

/*section contact-link-page-info-text*/

/*section end-contact-link-page-info-text*/
    /*end contact*/

    /*product-shop-content */
/*section stop-content*/
    #stop-content ol.breadcrumb a{
        color: #000;
        text-decoration: none;
    }
/*end-section stop-content*/

/*product-filter*/
    section.block-relate-product {
        background-color:#fff;
    }
    #product-price,#product-category{
        background-color:#fff;
    }
    #product-price #product-category,#product-category a.border-top{
        border-top: none!important;
    }
/*end-product-filter*/

/*{#section shop-online-support#}*/
    #shop-online-support {
        background-color:#fff;
    }
    #shop-online-support .card {
        border-bottom: none;
        border-radius: 0;
    }
    #shop-online-support .card img{
        margin-left: 80px;
    }
    #shop-online-support .card .card-body .phone{
        color: #E03232;
    }
    #shop-online-support .card-border{
        border-left: none;
        border-right: none;
    }
/*{#section end-shop-online-support#}*/
    .block-product .owl-carousel .owl-nav button {
        padding: 10px 12.5px!important;
    }
    .block-product .owl-carousel .owl-nav .owl-prev::before {
        content: '\f104';
        font-family: FontAwesome;
            top: -2px;
        position: absolute;
    }
    .block-product .owl-carousel .owl-nav .owl-next::before {
        content: '\f105';
        font-family: FontAwesome;
            top: -2px;
        position: absolute;
    }
    #productdetail-page #carousel .owl-nav {
        padding: 0 10px;
    }
    #productdetail-page #carousel .owl-nav button {
        border: none;
    }
    #productdetail-page #carousel .owl-nav button:hover i {
        background: #000;
        color: #000!important;
    }
    #productdetail-page #carousel .owl-nav button.owl-prev {
        left: -35px;
    }
    #productdetail-page #carousel .owl-nav button.owl-next {
        right: -35px;
    }
    #productdetail-page #carousel .owl-dots {
        display: none;
    }
    #productdetail-page #slider .owl-nav {
        display: none;
    }
    #productdetail-page .product-teaser-fix {
        top: unset!important;
        bottom: 0;
    }
    #productdetail-page .info-right .product-detail,
    #productdetail-page .info-right .bestme-block-product-related-product{
        background-color: #fff;
    }
    #productdetail-page section.block-relate-product .owl-relate-product .owl-item .product-item .product-link-detail {
        width: 100%;
    }
    #productdetail-page section.block-relate-product .owl-relate-product .owl-item .product-item .product-link-detail .cart-btn {
        width: auto;
    }
/*{#section product-secondary-right#}*/
    #product-secondary-right .product-right-border{
        border-bottom: 1px solid #CCCCCC;
    }
    #product-secondary-right .number-color {
        color:#E03232;
    }
    .card .card-img-overlay button.product-button-bg{
        background-color: #FFFFFF;
        border: 1px solid #FD0404;
        box-sizing: border-box;
    }
    .owl-carousel.owl-product .owl-nav button {
        margin-right: 10px!important;
    }
    .node-right .third-bg .block-status{
        color: #FFC300;
    }
    .node-right .third-bg .block-status span{
        color: #B6B6B6!important;
        font-style: italic;
    }
    #myTabContent,#product-info-tab{
        background-color: #fff;
    }
    #product-info-tab .nav-item #info-tab {
        background-color: transparent;
        color: #000;
    }
    #product-info-tab a{
        text-decoration:none;
    }
    #product-info-tab #comment-tab{
        color:#000;
    }
    #myTabContent {
        border-top: 1px solid #CCCCCC;
    }
    .product-detail .node-left #slider .owl-carousel .border-img{
        padding: 15px 10px;
        background: #FFFFFF;
        border: 1px solid #CECECE;
        box-sizing: border-box;
    }
    #carousel .owl-carousel .owl-stage-outer .owl-stage .owl-item a>img{
        background: #FFFFFF;
        border: 1px solid #CECECE;
        box-sizing: border-box;
        padding: 5px;
    }
    #add-to-cart .quantity button{
        color: #fff!important;
        background-color: #FF9D00;
    }
    #add-to-cart .quantity button>i.icon{
        background-color: #fff!important;
    }
/*{#section product-secondary-right#}*/

/*section view-results*/
    #shop-product-hot .presentation{
        border-bottom:1px solid #EDEDED;
    }
    .content-right .product-view #shop-product-hot .product-item .product-preview a.cart-btn {
        text-decoration:none;
    }
    .product-item {
        padding: 10px!important;
        border: 1px solid transparent;
        transition: all .3s;
    }
    .product-item:hover {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
        border: 1px solid #f1f1f1;
    }
    .product-item .product-highlight {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    .product-item .product-image {
        margin-bottom: 12.5px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-sizing: border-box;
    }
    .product-item .product-highlight span.sale {
        border-radius: 50%;
        padding: 16px 10px;
        background-color: #FD0404!important;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .product-item .product-highlight span.status {
        border-radius: 50%;
        padding: 15px 10px;
        background-color: #00B94A!important;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 0; 
        margin-bottom: 0;
        margin-right: 0;
    }
    .product-item .product-highlight span.status-secondary {
        border-radius: 50%;
        padding: 15px 10px;
        background-color: #00B94A!important;
        text-transform: uppercase;
        margin-top:0;
        margin-left: 130px;
    }
    .product-item:hover,.product-item:hover .product-info {
        transform: scaleY(1);
        transform-origin: unset;
    }
    
    .product-item .product-price-sale strike.product-price-sale,
    .product-item .product-price-sale span.product-price {
        display: inline-block;
    }
    .product-item .product-price-sale strike.product-price-sale span {
        text-decoration-line: line-through;
    }
    .product-item .product-price-sale strike.product-price-sale {
        font-size: 13px!important;
    }
    .product-item .product-price-sale span.product-price {
        font-size: 15px!important;
    }
    .product-item .product-preview {
        background-color: #fff;
    }
    .product-item .product-preview a {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    .product-view .view-results#shop-product-hot {
        background-color:#fff;
    }
    .product-view .view-results#shop-product-hot .product-item .product-info .item-product-name a{
        text-decoration:none;
    }
    
    #shop-product-hot .product-item{
        border-radius: 0;
        border: none;
        padding: 0!important;
    }
    #shop-product-hot-secondary h5{
        font-weight: 500;
    }
    .product-col-tilte {
        border-bottom: 1px solid #CCCCCC;
        background-color: #fff;
        text-align: center;
    }
    #product-view-most {
        background-color:#fff;
    }
/*section end-view-results*/

    /*end-product-shop-content*/

    /*blog*/
/*{#section blog-link-page#}*/
    #blog-tab-page-news .breadcrumb li>a{
        color:#000;
    }
    
/*{#section end-blog-link-page#}*/

/*{#section blog-body-right-content#}*/
    /*section blog-article-banner*/
        #blogs-page .blogs-sidebar .card .card-img-overlay h4.card-title{
            font-size: 43px;
        }
        #blog-detail-images-banner-left {
            background-image: url(../img/shop-banner-bgt.png);
            width:100%;
            height: 590px;
            background-repeat: round;
        }
    /*section end-blog-article-banner*/
    
    /*section blog-content-detail*/
        #blogs-page .blog-views .view-content .blog-item .blog-right a{
            text-decoration: none;
        }
    /*section end-blog-content-detail*/
/*{#section blog-body-right-content#}*/
/*section blog-article-outstanding-news*/
    #blogs-page #blog-info-product{
        background-color:#fff;
    }
    #blogs-view-most {
        background-color: #fff;
    }
    #blogs-view-most a{
        text-decoration:none;
    }
    #blogs-page #blog-info-product .blog-views .view-content .blog-item h3>a{
        text-decoration:none;
    }
    #blogs-page #blogs-view-most .blog-views{
        border-top: 1px solid #CCCCCC;
    }
    .pagination .page-item:last-child .page-link:hover i {
        background:none;
    }
    ul.pagination li.page-item.active a.page-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        min-width: auto;
        padding: 10px 15px;
    }
    .pagination .page-item.active .page-link, .pagination .page-item .page-link:hover {
        border: none;
        color: #fff!important;
    }
    ul.pagination li.page-item a.page-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        min-width: auto;
        padding: 10px 15px;
    }
    .pagination .page-item .page-link {
        background: #FFFFFF;
        border: 1px solid #000000;
        color:#000!important;
    }
    .pagination .page-item.active .page-link {
        color: #ffff!important;
    }
    ul.pagination li.page-item a.page-link i {
        background: none;
        font-size: 20px;
    }
    ul.pagination li.page-item a.page-link i:hover {
        background: none;
        font-size: 20px;
        color: #fff;
    }
       
/*setion end-blog-article-outstanding-news*/
    /*end blog*/

    /*blog-detail*/
/*section blog-detail-link*/
    #blogs-detail-link-news .breadcrumb li>a{
        color:#000;
    }
/*section end-blog-detail-link*/
    #blogs-detail-page .block-relate-blog .owl-relate-blog .owl-nav {
        display: block;
        right: 50px;
        top: -90px;
    }
    #blogs-detail-page .block-relate-blog .owl-relate-blog .owl-nav button {
        height: 35px;
    }
    #blogs-detail-page .block-relate-blog .owl-relate-blog .owl-nav button.owl-prev::before {
        content: "\f053";
        font-family: FontAwesome;
    }
    #blogs-detail-page .block-relate-blog .owl-relate-blog .owl-nav button.owl-next::before {
        content: "\f054";
        font-family: FontAwesome;
    }
    #blogs-detail-page .blogs-sidebar .block-side-blog{
        background-color:#fff;
    }
    #blogs-detail-page .blogs-sidebar .block-side-blog .side-item h4{
        border-bottom: 1px solid #CCCCCC;
    }
    #blogs-detail-page .blogs-sidebar .block-side-blog .side-item ul{
       list-style:none;
    }
    #blogs-detail-page #blog-detail-link #blog-detail-right .block-side-blog .nav-blog-sidebar#blogs-view-most {
        border: 1px solid #CCCCCC;
        background-color: #fff;
    }
    #blogs-page .block-side-blog .side-item {
        border: 1px solid  #fff;
        background-color: #fff;
    }
    #blogs-page .block-side-blog .side-item h4{
        border-bottom: 1px solid #CCCCCC;
    }
    #blogs-page .block-side-blog .side-item ul{
        list-style: none;
    }
/*section blog-detail-left*/
    #blogs-detail-page #blog-detail-left #blogs-view-most{
        border: 1px solid #CCCCCC;
        background-color: #fff;
    }
/*section end-blog-detail-left*/
     #blog-detail-left #blogs-view-most .blog-views{
        border-top: 1px solid #CCCCCC;
    }
/*{#section blog-detail-right#}*/

/*{#section end-blog-detail-right#}*/

    #blog-detail-synthetic-content-comment {
        background-color:#fff;
    }
/*{#section blog-detail-content#}*/

/*{#section end-blog-detail-content#}*/

/*{#section blog-detail-comment#}*/
    #blog-detail-comment .form-comment .form-group .flex-fill button{
        background-color: #E30037;
        border: 1px solid #E30037;
        width: 162px
    }
    #blogs-detail-page .blog-detail-content #blog-detail-synthetic-content-comment #blog-detail-comment .list-comments .pagination li{
        padding: 10px 0px;
        background-color: #fff;
        color: #000;
    }
    #blogs-detail-page .blog-detail-content #blog-detail-synthetic-content-comment #blog-detail-comment .list-comments .pagination li>a{
        font-size:20px;
        color: #000;
        background-color: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
    }
    #blogs-detail-page .blog-detail-content #blog-detail-synthetic-content-comment li {
        list-style:none;
    }
    #blogs-detail-page .blog-detail-content #blog-detail-synthetic-content-comment .list-group i.fa-star {
        color: #FFC300;
    }
/*{#section end-blog-detail-comment#}*/

/*section blog-detail-related-news*/
    #blog-detail-related-news {
        background-color:#fff;
    }
    
    
    #blog-detail-related-news .carousel-location{
        margin-top: 60px;
    }
/*section end-blog-detail-related-news*/
    /*end-blog-detail*/


    /*footer*/
/*section footer-top*/
    footer #footer-banner a{
        text-decoration: none;  
    }
    footer #footer-banner {
        background-image: url(../img/footer-bg-form-newleter.png);
    }
    footer .footer-top-bg .footer-text-service,.footer-text-introduce{
        line-height: 35px;
    }
    /*section end-footer-top*/
    footer .footer-bottom-bg {
        background-color:#000!important;
    }
    
    footer .logo-footer div.image {
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        width: 100%;
        height: 45px;
    }
/*section- footer-bottom*/
/*section- footer-bottom*/





/*triet custom*/
#difflist-hot-products {
    background: #fff;
}
#difflist-hot-products #product-secondary-right .list-product-item {
    border-bottom: 1px solid #ccc;
}
#difflist-hot-products #product-secondary-right .list-product-item .product-image {
    background-repeat: no-repeat;
    background-size: contain;
}
#difflist-hot-products #product-secondary-right .list-product-item .product-info .product-title {
    margin-bottom: 10px;
    /* dunght */
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /* end - dunght */
}
#difflist-hot-products #product-secondary-right .list-product-item .product-info p {
    margin-bottom: 3px;
}
#difflist-hot-products #product-secondary-right .list-product-item .product-info .product-price {
    font-size: 14px;
    text-decoration-line: line-through;
}
#difflist-hot-products #product-secondary-right .list-product-item .product-info .product-price-sale {
    color: #E03232;
    font-size: 16px;
}

#homepage-category-products #category-content .product-item {
    padding: 5px!important;
    overflow: hidden;
}
#homepage-category-products #category-content .product-item .product-price,
#homepage-category-products #category-content .product-item .product-price-sale {
    width: 100%;
}
#homepage-category-products #category-content .product-item .product-price {
    color: #E03232;
}
#homepage-category-products #category-content .product-item .product-price-sale {
    color: #000;
}
#category-content .product-item .action {
    position: absolute;
    padding: 10px 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 50px;
    opacity: 0;
    transition: all .5s;
    background: #fff;
}
#category-content .product-item:hover .action {
    transform: translateY(-35px);
    opacity: 1;
}
#category-content .product-item .action a:nth-child(1) {
    margin-right: 10px;
}
#category-content .product-item .action a {
    padding: 5px;
}

#homepage-category-products #carousel-category-indicators .category-item {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding: 13px 0;
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    cursor: pointer;
}

#homepage-category-products #carousel-category-indicators .category-item > img {
    height: 150px;
    object-fit: scale-down;
}

#homepage-category-products #carousel-category-indicators .category-item > p {
    height: 42px;
    overflow: hidden;
    margin-bottom: 0;
}

#section-banner-icon .banner-contain {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
}
#section-banner-icon .banner-contain .banner-item {
    background: #fff;
    width: 30%;
    padding: 15px 10px;
}
/*#section-banner-icon .banner-item .banner-bg::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 75px;*/
/*    height: 75px;*/
/*    border-radius: 50%;*/
/*    background: #FF9801;*/
/*}*/
/*dunght move from hardcode html to css*/
#section-banner-icon .banner-contain .banner-item-fixed img {
    height: 50px;
    margin: auto;
    display: block;
}
#section-banner-icon .banner-contain .banner-item-manual {
    overflow: auto;
    height: 125px;
}
/*end - dunght move from hardcode html to css*/
#section-banner-icon .banner-contain .banner-item .banner-content h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
}
#section-banner-icon .banner-contain .banner-item .banner-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    width: 100%;
}
#section-banner-icon .banner-item:nth-child(2) {
    margin: 0 5%;
}
.product-info .product-price-contain {
    height: 65px;
}
.product-info .product-price-contain .product-price-sale {
    font-size: 13px;
}
.product-info .product-price-contain .product-price {
    font-size: 16px;
}
@media only screen and (max-width: 768px) {
    #section-banner-icon .banner-item:nth-child(2) {
        margin: unset;
    }
    #section-banner-icon .banner-contain .banner-item {
        width: 100%;
        min-height: 170px;
    }
    #section-banner-icon .banner-contain .banner-item .row,
    #section-banner-icon .banner-contain .banner-item .row .banner-bg {
        /*height: 100%;*/ /*dunght unset*/
    }
    #section-banner-icon .banner-contain .banner-item .row .banner-bg > img {
        /*position: absolute;
        transform: translateY(70px);*/ /*dunght unset*/

        /*dunght added*/
        margin: auto;
        display: block;
        /*end- dunght added*/
    }
    /*dunght added*/
    #section-banner-icon .banner-contain .banner-item .row .banner-content {
        text-align: center;
        margin-top: 1rem;
    }
    /*end- dunght added*/
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item .image,
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item {
        /*height: 375px;*/ /* dunght commented*/
    }
    #home-content #home-infor-card-product #home-card-product .product-item.item-mobile-1 {
        width: 100%!important;
    }
    #home-content #home-infor-card-product #home-card-product .product-item.item-mobile-2 {
        width: 47.5%!important;
    }

    #home-content .list-group .product-item img {
        height: 135px!important;
        object-fit: scale-down;
    }
}
@media only screen and (max-width: 480px) {
    #home-banner-right {
        display: none;
    }
    #blogs-detail-page #blog-detail-related-news h2.related-blog-title {
        padding-bottom: 45px;
    }
    #homepage-partner .owl-carousel .owl-nav {
        right: 25px;
    }
}
    /*header.block-header .fix-content .block-header-menu .navbar .navbar-toggler.mt-1[aria-expanded="true"] {*/
    /*    transform: translateY(122.5px);*/
    /*}*/
    /*header.block-header .fix-content .block-header-menu .navbar .navbar-collapse {*/
    /*    background: #fff;*/
    /*    transform: translateY(150px);*/
    /*}*/