{% for key, menu_item in childMenuItem %}
<div class="d-flex px-0 border-top pt-2" id="menu_item_common_edit-{{menu_item.child_id}}">
  <div class="px-3 col-md-1">
    <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg" >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE" />
       <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE" />
      <path fill-rule="evenodd" lip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE" />
    </svg>
  </div>
  <div class="p-0 col-md-10">
    <div class="col p-0 pb-2">
      <input type="text" name="title[{{key}}]" class="bg-light form-control menu_item_custom" id="menu_item_name-{{menu_item.child_id}}" value="{{menu_item.title}}" required/>
    </div>
    <div class="form-row">
      {% if menu_item.type_id is defined %}
      <div class="form-group col-md-6">
        <select required class="form-control" name="type_id[{{key}}]" id="select_type_id-{{key}}" onchange="addAppendFormByTypeId({{key}});" >
          <option value="">{{ menu_choose_option }}</option>
        {% for type in list_type %}
          {% if type.type_id == menu_item.type_id %}
          <option value="{{ type.type_id }}" selected="selected">{{ type.type_name }}</option>
          {% else %}
          <option value="{{ type.type_id }}">{{ type.type_name }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      {% endif %}
      {% if menu_item.type_id == 1 %}
        <div class="form-group col-md-6 default_menu_item_class" id="product_info_old-{{key}}">
          <input type="text" class="form-control" name="product-choose-old[{{key}}]" required id="product_input-{{key}}" value="{{menu_item.name}}" onkeyup="productAutoComplete({{key}});">
          <input type="hidden" name="product-choose[{{key}}]" value="{{menu_item.child_id}}">
        </div>
      {% elseif menu_item.type_id == 2 %}
        <div class="form-group col-md-6 default_menu_item_class" id="select_category_old-{{key}}">
          <select required class="form-control" name="category_id[{{key}}]" id="select_type_id_old-{{menu_item.child_id}}">
          {% for category_own in list_categories %}
            {% if category_own.category_id == menu_item.child_id %}
            <option value="{{ menu_item.child_id }}" selected="selected">{{ menu_item.name }}</option>
            {% else %}
            <option value="{{ category_own.category_id }}">{{ category_own.category_name }}</option>
          {% endif %}
          {% endfor %}

          </select>

        </div>
      {% elseif menu_item.type_id == 5 %}
        <div class="form-group col-md-6 default_menu_item_class" id="url_old-{{key}}">
          <input type="text" class="form-control" id="url-{{key}}" name="url[{{key}}]" value="{{menu_item.url_link}}">
        </div>
      {% elseif menu_item.type_id == 6 %}
        <div class="form-group col-md-6 default_menu_item_class" id="select_collection_old-{{menu_item.child_id}}">
          <select class="form-control" name="collection-id-old[{{menu_item.child_id}}]" id="collection_type_id_old-{{menu_item.child_id}}">
            {% for collection in collections %}
              {% if collection.collection_id == menu_item.child_append_id %}
                <option value="{{ menu_item.child_append_id }}" selected="selected">{{ menu_item.child_append_name }}</option>
              {% else %}
                <option value="{{ collection.collection_id }}">{{ collection.title }}</option>
              {% endif %}
            {% endfor %}

          </select>

        </div>
      {% else %}

      {% endif %}
      <input type="hidden" name="menu_item_old_menu[{{menu_item.child_id}}]" value="{{menu_item.relation_id}}">
      <div class="form-group col-md-6">
        <div id="type_id_detail-{{key}}" class="type_id_detail-old">
        </div>
      </div>
    </div>
  </div>
  <div class="px-3 col-md-1 d-flex justify-content-end" id="menu_item_close-{{menu_item.child_id}}">
    <span class="fas fa-times" onclick="removeMenuItemEdit({{menu_item.child_id}})"></span>
  </div>
</div>
{% endfor %}
<script type="text/javascript">
  
  function removeAppendById(data_value)
  {
    $('#product_info_old-'+data_value).remove();
    $('#select_category_old-'+data_value).remove();
    $('#url_old-'+data_value).remove();
  }
  // function addAppend(data_value)
  // {
  //   var type_id = $( "#select_type_id_default-"+data_value ).val();
    
  //   var json = {{ json }};
  //   var jsonType = {{ jsonType }};
  //   if (type_id == 1) {
  //     text = '<div class="form-group col-md-6" id="product_info_old-'+data_value+'">'+
  //       '<input type="text" class="form-control" name="product-choose-old['+data_value+']" id="product_input_old-'+data_value+'">'+
  //     '</div>';
  //     $('#type_id_detail-old-'+data_value).html(text);
  //     productOldAutoComplete(data_value);
  //   }
  //   if (type_id == 2) {
  //     var text_content = '';
  //     var text_start = '<div class="form-group col-md-6">'+
  //       '<select class="form-control" name="category_id_old['+data_value+']" id="select_type_id_old">';
  //     $.each(json, function(i, item) {
  //       text_content = text_content + '<option value="'+item.category_id+'">'+item.category_name+'</option>';
  //     });
  //     var text_end ='</select>'+'</div>';
  //     var text = text_start+text_content+text_end;
  //     $('#type_id_detail-old-'+data_value).html(text);
  //   }
  //   if (type_id == 5) {
  //     text = '<div class="form-group col-md-6">'+
  //       '<input type="text" class="form-control" name="url_old['+data_value+']">'+
  //     '</div>';
  //     $('#type_id_detail-old-'+data_value).html(text);
  //   }
  // }

  function addAppendFormByTypeId(data_value)
  {
    console.log(123);
    removeAppendById(data_value);
    appendValueById(data_value);
  }
  // function productAutoComplete(data_value)
  // {
  //   $('#product_input-'+data_value).autocomplete({
  //     'source': function(request, response) {
  //       $.ajax({
  //         url: 'index.php?route=catalog/category/autocompleteProduct&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
  //         dataType: 'json',
  //         success: function(json) {
  //           response($.map(json, function(item) {
  //             return {
  //               label: item['name'],
  //               value: item['product_id'],
  //             }
  //           }));
  //         }
  //       });
  //     },
  //     'select': function(item) {
  //       $('#product_choose_id-' + item['value']).remove();
  //       $('#product_input-'+data_value).val(item['label']);
  //       var text = '<div id = "product_choose_id-'+item['value']+'"><input type="hidden" name="product-choose['+data_value+']" value="' + item['value'] +'" />'+'</div>';
  //       $('#product_info-'+data_value).append(text);
  //     }
  //   });
  // }
  function removeMenuItemEdit(valueId)
  {
    $('#menu_item_common_edit-'+valueId).remove();
  }
</script>
