<script type="text/javascript">

    function removeAppendById(data_value) {
        $('#product_info_old-' + data_value).remove();
        $('#select_category_old-' + data_value).remove();
        $('#url_old-' + data_value).remove();
    }

    function addAppend(data_value) {
        var type_id = $("#select_type_id_default-" + data_value).val();

        var json = {{ json }};
        var jsonType = {{ jsonType }};
        if (type_id == 1) {
            text = '<div id="product_info_old-' + data_value + '">' +
                '<input type="text" class="form-control" name="product-choose-old[' + data_value + ']" id="product_input_old-' + data_value + '">' +
                '</div>';
            $('#type_id_detail-old-' + data_value).html(text);
            productOldAutoComplete(data_value);
        }
        if (type_id == 2) {
            var text_content = '';
            var text_start = '<select class="form-control" name="category_id_old[' + data_value + ']" id="select_type_id_old">';
            $.each(json, function (i, item) {
                text_content = text_content + '<option value="' + item.category_id + '">' + item.category_name + '</option>';
            });
            var text_end = '</select>';
            var text = text_start + text_content + text_end;
            $('#type_id_detail-old-' + data_value).html(text);
        }
        if (type_id == 5) {
            text = '<input type="text" class="form-control" name="url_old[' + data_value + ']">';
            $('#type_id_detail-old-' + data_value).html(text);
        }
        if(type_id == 6) {
            var collection_list =  {% if collection_list is empty %}''{% else %} {{ collection_list }} {% endif %};
            var text_content = '';
            var text_start = '<select class="form-control" name="collection_id_old[' + data_value + ']" id="collection_type_id_old">';
            $.each(collection_list, function (i, item) {
                text_content = text_content + '<option value="' + item.collection_id + '">' + item.title + '</option>';
            });
            var text_end = '</select>';
            var text = text_start + text_content + text_end;
            $('#type_id_detail-old-' + data_value).html(text);
        }
    }

    function addAppendFormByTypeId(data_value) {
        removeAppendById(data_value);
        addAppend(data_value);
    }

    function productOldAutoComplete(data_value) {
        $('#product_input_old-' + data_value).autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/category/autocompleteProduct&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['product_id'],
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('#product_choose_old_id-' + item['value']).remove();
                $('#product_input_old-' + data_value).val(item['label']);
                var text = '<div id = "product_choose_old_id-' + item['value'] + '"><input type="hidden" name="product_choose_old[' + data_value + ']" value="' + item['value'] + '" />' + '</div>';
                $('#product_info_old-' + data_value).append(text);
            }
        });
    }

    function removeMenuItemEdit(valueId) {
        $('#menu_item_common_edit-' + valueId).remove();
    }
</script>