{{ custom_header }}
<!-- End header -->

<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content p-0">
                <form action="{{ action }}" method="post" class="section-form" id="product-form">
                    <div class="py-3">
                        <h4 class="col pt-3 font-weight-light text-muted">
                            {{ menu_text_heading }}
                            <span class="mx-2">
                          <svg
                                  width="8"
                                  height="13"
                                  viewBox="0 0 8 13"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                                    d="M1.2002 1.16602L6.8002 6.49935"
                                    stroke="#9B9B9B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                            />
                            <path
                                    d="M6.8002 6.5L1.2002 11.8333"
                                    stroke="#9B9B9B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                            />
                          </svg>
                        </span>
                            <a href="{{ menu_index }}">{{ menu_text }}</a>
                            <span class="mx-2">
                          <svg
                                  width="8"
                                  height="13"
                                  viewBox="0 0 8 13"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                                    d="M1.2002 1.16602L6.8002 6.49935"
                                    stroke="#9B9B9B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                            />
                            <path
                                    d="M6.8002 6.5L1.2002 11.8333"
                                    stroke="#9B9B9B"
                                    stroke-width="2"
                                    stroke-linecap="round"
                            />
                          </svg>
                        </span>
                            <span class="text-primary">{{ menu_item_text }}</span>
                        </h4>
                        <div class="col pt-3 my-3"><h2>{{ menu_item_edit }}</h2></div>
                        <div class="d-flex justify-content-between">
                            <div class="col-md-8">
                                <!-- tieu de menu_item -->
                                <div class="bg-white rounded p-3 mb-3">
                                    <div class="">
                                        <div class="form-row px-3">
                                            <h4>{{ menu_title_text }}</h4>
                                            <input type="text" class="bg-light form-control" name="menu_item_name"
                                                   value="{{ name_of_menu_item }}" onkeyup="ChangeToSlug('0');"
                                                   id="name_menu_item" required/>
                                        </div>
                                    </div>
                                </div>
                                <!-- ket thuc -->

                                <!-- chi tiet -->
                                <div class="bg-white rounded p-3 mb-3">
                                    <div>
                                        <div>
                                            <h4>{{ menu_item_connect }}</h4>

                                            <div>
                                                <!-- tunglaso1 -->
                                                {% include('custom_menu/menu_item_child.twig') %}

                                                <!-- tunglaso1 -->
                                                <div id="more-menu-item-html"></div>
                                                <div class="d-flex align-items-center border-top btn"
                                                     data-toggle="modal" data-target="#modalAddAccount">
                                                    <button class="btn" type="button" id="add-more-menu-item"
                                                            onclick="addMenuItem()"><i
                                                                class="icon icon-plus"></i>{{ menu_add_more_text }}
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- ket thuc chi tiet -->
                            </div>

                            <div class="col-md-4">
                                <div class="bg-white rounded p-3 mb-3">
                                    <h4>{{ menu_seo_title }}</h4>
                                    <p class="text-muted">
                                        {{ menu_description_seo_text }}
                                    </p>
                                    <input type="text" id="slug-0" class="form-control" name="slug"
                                           value="{{ seo_url_text }}" onkeyup="ChangeToSlugMenuItem();"/>
                                    <input type="hidden" name="slug[0]" id="slug_hidden-0">
                                    <div id="custom_slug"></div>
                                </div>
                            </div>
                        </div>

                        <div
                                class="col d-flex justify-content-between align-items-center"
                        >
                            <div class="btn btn-danger" id="menu_destroy">{{ menu_delete_text }}</div>
                            <div class=" d-flex justify-content-end align-items-center">
                                <a class="btn btn-default text-primary mx-2"
                                   href="{{ menu_cancel_url }}">{{ menu_cancel_text }}</a>
                                <button class="btn btn-danger ml-2" type="submit">{{ menu_submit_text }}</div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    </main>
    <!-- End Main -->
</div>

</div>
<!-- End page wrapper -->

<script type="text/javascript">
    function ChangeToSlugMenuItem() {
        $('#slug_hidden-0').remove();
        var slug = $('#slug-0').val();
        // $('#slug_hidden-0').val(slug);
        var text = '<input type="hidden" name="custom_slug" id="slug_hidden-0" value="' + slug + '">';
        $('#custom_slug').html(text);
    }

    $('#menu_destroy').on('click', function () {
        var user_token = "{{ user_token }}";
        var menu_item_id = "{{ menu_item_id }}";
        var url_reload = 'index.php?route=custom/group_menu&user_token=' + user_token;
        var url = 'index.php?route=custom/menu_item/destroy&user_token=' + user_token + '&menu_item_id=' + menu_item_id;

        if (confirm(delete_confirm_common)) {
            $.ajax({
                url: url,
                method: 'POST',
                data: {},
                success: function (json) {
                    console.log(json);
                    if (json.status === true) {
                        location.href = url_reload;
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
        return false;
    });

    var i = $('.default_menu_item_class').length;

    function addMenuItem() {
        var jsonType = {{ jsonType }};
        var type_option = '';
        $.each(jsonType, function (i, item) {
            type_option = type_option + '<option value="' + item.type_id + '">' + item.type_name + '</option>';
        });
        var text_start = '<div class="d-flex px-0 border-top pt-2" id="menu_item_common-' + i + '">' +
            '<div class="px-3 col-md-1">' +
            '<svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg" >' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 5C3.88071 5 5  3.88071 5 2.5C5 1.11929 3.88071 0 2.5 0C1.11929 0 0 1.11929 0 2.5C0 3.88071 1.11929 5 2.5 5Z" fill="#BFBEBE"/>' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 12C3.88071 12 5 10.8807 5 9.5C5 8.11929 3.88071 7 2.5 7C1.11929 7 0 8.11929 0 9.5C0 10.8807 1.11929 12 2.5 12Z" fill="#BFBEBE" />' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 19C3.88071 19 5 17.8807 5 16.5C5 15.1193 3.88071 14 2.5 14C1.11929 14 0 15.1193 0 16.5C0 17.8807 1.11929 19 2.5 19Z" fill="#BFBEBE" />' +
            '<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 5C12.8807 5 14 3.88071 14 2.5C14 1.11929 12.8807 0 11.5 0C10.1193 0 9 1.11929 9 2.5C9 3.88071 10.1193 5 11.5 5Z" fill="#BFBEBE" />' +
            '<path fill-rule="evenodd" lip-rule="evenodd" d="M11.5 12C12.8807 12 14 10.8807 14 9.5C14 8.11929 12.8807 7 11.5 7C10.1193 7 9 8.11929 9 9.5C9 10.8807 10.1193 12 11.5 12Z" fill="#BFBEBE" />' +
            ' <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 19C12.8807 19 14 17.8807 14 16.5C14 15.1193 12.8807 14 11.5 14C10.1193 14 9 15.1193 9 16.5C9 17.8807 10.1193 19 11.5 19Z" fill="#BFBEBE" />' +
            '</svg>' +
            '</div>' +
            '<div class="p-0 col-md-10">' +
            '<div class="col p-0 pb-2">' +
            '<input type="text" name="title[' + i + ']" id="menu_item_name-' + i + '"class="bg-light form-control";" required/>' +
            ' </div>' +
            '<div class="form-row">' +
            ' <div class="form-group col-md-6">' +
            '<select required class="form-control" name="type_id[' + i + ']" id="select_type_id-' + i + '"' +
            'onchange="appendValueById(' + i + ');"' + '>' +
            '<option value="">{{ choose_link }}</option>';
        var text_end = '</select>' +
            '</div>' +
            '<div class="form-group col-md-6">' +
            '<div id="type_id_detail-' + i + '" ">' +
            '</div>' +
            '</div>'
        '</div>' +
        '</div>' +
        '<div class="px-3 col-md-1 d-flex justify-content-end">' +
        '<span class="fas fa-times" onclick="removeMenuItem(' + i + ')"></span>' +
        '</div>' +
        '</div>' + '<input type="hidden" name="slug[' + i + ']" id="slug_hidden-' + i + '">';
        var text = text_start + type_option + text_end;
        $(text).insertBefore($('#more-menu-item-html'));
        appendValueById(i);
        i++;
    }

    function appendValueById(data_value) {
        var type_id = $("#select_type_id-" + data_value).val();
        // var type_id = this.value;
        // category
        var json = {{ json }};
        var jsonType = {{ jsonType }};
        if (type_id == 2) {
            var text_content = '';
            var text_start = '<select class="form-control select2" name="category_id[' + data_value + ']" id="select_type_id">';
            $.each(json, function (i, item) {
                text_content = text_content + '<option value="' + item.category_id + '">' + item.category_name + '</option>';
            });
            var text_end = '</select>';
            var text = text_start + text_content + text_end;
            $('#type_id_detail-' + data_value).html(text);
        }
        if (type_id == 1) {
            text = '<div id="product_info-' + data_value + '">' +
                '<input type="text" class="form-control" name="product-choose[' + data_value + ']" id="product_input-' + data_value + '">' +
                '</div>';
            $('#type_id_detail-' + data_value).html(text);
            productAutoComplete(data_value);
        }
        if (type_id == 5) {
            text = '<input type="text" class="form-control" name="url[' + data_value + ']">';
            $('#type_id_detail-' + data_value).html(text);
        }
        if(type_id == 6) {
            var collection_list = {% if collection_list is empty %}''{% else %} {{ collection_list }} {% endif %};
            var text_content = '';
            var text_start = '<select class="form-control" name="collection_id_old[' + data_value + ']" id="collection_type_id_old">';
            $.each(collection_list, function (i, item) {
                text_content = text_content + '<option value="' + item.collection_id + '">' + item.title + '</option>';
            });
            var text_end = '</select>';
            var text = text_start + text_content + text_end;
            $('#type_id_detail-' + data_value).html(text);
        }
    }

    function removeMenuItem(valueId) {
        $('#menu_item_common-' + valueId).remove();
    }

    function ChangeToSlug(valueId) {
        var title, slug;
        //Lấy text từ thẻ input title
        title = $('#name_menu_item').val();
        //Đổi chữ hoa thành chữ thường
        slug = title.toLowerCase();

        //Đổi ký tự có dấu thành không dấu
        slug = slug.replace(/á|à|ả|ạ|ã|ă|ắ|ằ|ẳ|ẵ|ặ|â|ấ|ầ|ẩ|ẫ|ậ/gi, 'a');
        slug = slug.replace(/é|è|ẻ|ẽ|ẹ|ê|ế|ề|ể|ễ|ệ/gi, 'e');
        slug = slug.replace(/i|í|ì|ỉ|ĩ|ị/gi, 'i');
        slug = slug.replace(/ó|ò|ỏ|õ|ọ|ô|ố|ồ|ổ|ỗ|ộ|ơ|ớ|ờ|ở|ỡ|ợ/gi, 'o');
        slug = slug.replace(/ú|ù|ủ|ũ|ụ|ư|ứ|ừ|ử|ữ|ự/gi, 'u');
        slug = slug.replace(/ý|ỳ|ỷ|ỹ|ỵ/gi, 'y');
        slug = slug.replace(/đ/gi, 'd');
        // Xóa các ký tự đặt biệt
        slug = slug.replace(/\`|\~|\!|\@|\#|\||\$|\%|\^|\&|\*|\(|\)|\+|\=|\,|\.|\/|\?|\>|\<|\'|\"|\:|\;|_/gi, '');
        //Đổi khoảng trắng thành ký tự gạch ngang
        slug = slug.replace(/ /gi, "-");
        //Đổi nhiều ký tự gạch ngang liên tiếp thành 1 ký tự gạch ngang
        //Phòng trường hợp người nhập vào quá nhiều ký tự trắng
        slug = slug.replace(/\-\-\-\-\-/gi, '-');
        slug = slug.replace(/\-\-\-\-/gi, '-');
        slug = slug.replace(/\-\-\-/gi, '-');
        slug = slug.replace(/\-\-/gi, '-');
        //Xóa các ký tự gạch ngang ở đầu và cuối
        slug = '@' + slug + '@';
        slug = slug.replace(/\@\-|\-\@|\@/gi, '');
        //In slug ra textbox có id “slug”
        $('#slug-0').val(slug);
        $('#slug_hidden-' + valueId).val(slug);
    }

    function productAutoComplete(data_value) {
        $('#product_input-' + data_value).autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/category/autocompleteProduct&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['product_id'],
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('#product_choose_id-' + item['value']).remove();
                $('#product_input-' + data_value).val(item['label']);
                var text = '<div id = "product_choose_id-' + item['value'] + '"><input type="hidden" name="product-choose[' + data_value + ']" value="' + item['value'] + '" />' + '</div>';
                $('#product_info-' + data_value).append(text);
            }
        });
    }
</script>
{{ footer }}