<table class="table table-with-operation product-list">
  <thead>
  <tr style="background: #F1F4F6;">
    <th >SKU</th>
    <th class="text-left">{{ text_product }}</th>
    <th class="text-right">{{ text_quantity_sold }}</th>
    <th class="text-right">{{ text_amount }}</th>
    <th class="text-right">{{ text_discount }}</th>
    <th class="text-right">{{ text_quantity_return }}</th>
    <th class="text-right">{{ text_return_amount }}</th>
    <th class="text-right">{{ text_revenue }}</th>
  </tr>
  </thead>
  <tbody>
  {% if report_by_products %}
    {% for value in report_by_products %}
      <tr>
        <td class="hidden-sm">{{ value['sku'] }}</td>
        <td class="text-left">{{ value['product_name'] }}</td>
        <td class="text-right">{{ value['quantity'] }}</td>
        <td class="text-right">{{ value['total_amount'] }}</td>
        <td class="text-right">{{ value['discount'] }}</td>
        <td class="text-right">{{ value['quantity_return'] }}</td>
        <td class="text-right">{{ value['return_amount'] }}</td>
        <td class="text-right">{{ value['revenue'] }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td class="text-center" colspan="8">{{ text_no_results }}</td>
    </tr>
  {% endif %}
  <tr style="background: linear-gradient(0deg, #61616126, transparent);">
    <td colspan="8" style="border-bottom: none">
      <div class="table-statistic clearfix font-16">
        <span class="float-lg-left text-right">{{ results }}</span>
        <div class="float-lg-right">
          <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
          </nav>
        </div>
      </div>
    </td>
  </tr>
  <tr id="total-total">
    <th>{{ text_total }}</th>
    <th></th>
    <th class="text-right">{{ quantity_all }}</th>
    <th class="text-right">{{ total_amount_all }}</th>
    <th class="text-right">{{ discount_all }}</th>
    <th class="text-right">{{ quantity_return_all }}</th>
    <th class="text-right">{{ return_amount_all }}</th>
    <th class="text-right" style="color: #ED592A">{{ revenue_all }}</th>
  </tr>
  </tbody>
</table>

<style>
  #total-total {
    background: #FFF2EE;
    transform: translateY(20px);
  }
  #total-total th {
    border: none;
  }
  .product-list {
    display: table;
  }
  .table thead th{
    padding: 0.75rem 0.25rem;
  }
</style>