.header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.top-header {
    line-height: 24px;
}
.header-fixed .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.header-fixed .left-header-search{
    display: none !important;
}
.navbar-brand {
    width: 60px;
}
.user-login:hover {
    border-color: #BDA632 !important;
}
.header-search input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.left-header-search input {
    background: url('/catalog/view/theme/fashion_luzun_3/img/icons/i-search.png') no-repeat left center;
    padding-left: 38px;
}
.header-search .input-group-prepend {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 3px 0px;
}
.header-fixed .main-menu {
    margin-top: 0;
}
.block-header-menu .navbar-nav li a,
.block-header-menu .navbar-nav li a.nav-link{
    position: relative;
    color: #5B5B5B;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
}
.block-header-menu .navbar-nav>li.nav-item{
    padding: 30px 0;
}
.block-header-menu > .navbar-nav > .nav-item:not(:last-child) {
    margin-right: 40px;
}
.block-header-menu .navbar-nav .nav-link.active, 
.block-header-menu .navbar-nav .nav-link:hover,
.block-header-menu .navbar-nav li a:hover,
.block-header-menu .navbar-nav li a.active {
    color: #BDA632;
}
.block-header-menu .navbar-nav li a>i{
    margin-left: 10px;
    float: right;
    line-height: 20px;
}
.block-header-menu .navbar-nav .nav-link.active:before, .block-header-menu .navbar-nav .nav-link:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #BDA632;
    left: 0;
    bottom: -1px;
}
.count {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #BDA632;
}
.user .dropdown-toggle::after {
    display: none;
}
.user-acount {
    background: url('/catalog/view/theme/fashion_luzun_3/img/icons/i-myacount.png') no-repeat left top 9px;
}
.user-logout {
    background: url('/catalog/view/theme/fashion_luzun_3/img/icons/i-logout.png') no-repeat left top 9px;
}


.block-header .block-header-menu ul.nav > li{
    position: relative;
}
.block-header .block-header-menu ul.nav ul.nav > li > a{
    padding: 15px 30px;
    line-height: 18px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
    position: absolute;
    width: 11px;
    height: 6px;
    -webkit-mask:  url('/catalog/view/theme/fashion_luzun_3/img/icons/drop-down.svg') center no-repeat;
    mask: url('/catalog/view/theme/fashion_luzun_3/img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: contain;
    -mask-size: contain;
    background-color: #fff;
    top: 20px;
    right: 10%;
}
.block-header .block-header-menu ul.nav ul.nav{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    min-width: 195px;
    padding: 20px 0px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform-origin: top;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.block-header .block-header-menu li:hover > ul.nav{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.block-header .block-header-menu li ul.nav li,
.block-header .block-header-menu li ul.nav li a{
    width: 100%;
    text-align: left;
}
.block-header .block-header-menu li ul.nav ul.nav{
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
    margin-top: 10px;
    left: 100%;
    top: 0;
}
.block-header .block-header-menu li ul.nav >li:hover>ul.nav{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.count {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}