@media screen and (min-width:992px){

}
/*md*/
@media screen and (max-width: 1010px) {

}

@media screen and (max-width:991px) {
	.header {
		padding-bottom: 10px;
	}
	#navbarMainMenu {
		margin-top: 0;
		width: 60%;
		text-align: left;
		background-color: #f5f5f5;
		position: fixed;
		top: 0;
		left: -60%;
		display: block;
		opacity: 0;
		visibility: hidden;
		padding: 10px 0px;
		height: 100vh;
		z-index: 999;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	#navbarMainMenu.show {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}
	.block-header-menu .navbar-nav .nav-link.active, .block-header-menu .navbar-nav .nav-link:hover {
		color: #47D1AF;
	}
	.block-header-menu .navbar-nav .nav-link {
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		line-height: 30px;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #231f20;
		border-bottom: 1px solid #d8d8d8;
		line-height: 35px;
		font-size: 13px;
	}
	ul.navbar-nav {
		width: 100%;
		padding: 0px 15px;
	}
	i.close {
		margin-right: 10px;
	}
	.navbar-nav .dropdown-menu {
		border: 0;
		background-color: whitesmoke;
		padding-left: 20px;
		padding: 0px 0px 0px 30px;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		font-size: 13px;
	}
	.navbar-toggler {
		position: absolute;
		right: 0;
		border: 0;
		padding: 0;
	}
	.navbar-toggler i {
		color: #372D40;
		font-size: 28px;
	}

	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-light .navbar-nav .nav-item:not(:last-child) {
		margin-right: 0;
	}
	.pro-detail .fz-32{
		font-size: 24px!important;
	}
}

/*sm*/
@media screen and (max-width:767px) {
	.slider-content, .box-blackground {
		display: none;
	}

}


@media screen and (max-width:680px) {
	.slider-info h2 {
		font-size: 24px;
	}


}

/*xs*/
@media screen and (max-width:576px) {
	.slider-info h2 {
		font-size: 16px;
	}
	.slider-info p {
		font-size: 12px;
	}
	.navbar-toggler {
		left: 0px;
		top: 10px;
	}
	.header-info {
		position: absolute;
		top: -30px;
		right: 15px;
		width: auto;
	}
	.bestme-block-header-logo.col-lg-4 .navbar-brand {
		margin-left: 40px;
	}
	.product-info .pro-thumb-detail .carousel-thumb {
		width: 20%;
	}
	.product-info .pro-thumb-detail .carousel-inner {
		width: 80%;
	}
	.pro-detail .text-dark {
		width: 35% !important;
	}
	.cart-table .table{
	}
	.custom-hidden-edit-address-device {
		flex-wrap: wrap;
	}
	.custom-hidden-edit-address-device nav {
		margin-bottom: 0px !important;
	}
	.custom-hidden-edit-address-device .hidden_edit_address {
		margin: 0px !important;
		padding-top: 0px;
		margin-bottom: 20px !important;
	}
	#add-to-cart .attr-item {
		margin-bottom: 5px;
	}

	#add-to-cart .quantity-nav {
		display: inline-block;
	}
	#add-to-cart .quantity-nav .quantity-up {
		position: absolute;
		top: 9px;
		left: 59px;
	}
	#add-to-cart .quantity-nav .quantity-down {
		position: absolute;
		top: 9px;
		left: 3px;
	}
	#add-to-cart .quantity input {
		width: 30% !important;
		text-align: center;
	}
	#add-to-cart .quantity {
		position: relative;
	}
	#add-to-cart .quantity .quantity-input {
		width: 70px !important;
	}
}
@media screen and (max-width:480px) {
	.header-info {
		width: auto;
	}
	.slider-info {
		display: none;
	}
	.slider-info p {
		font-size: 10px;
	}
}