{{ header }}
<div class="container padding_top">
  <ul class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
    <li class="breadcrumb-item active" aria-current="page">Thông tin đơn hàng</li>
  </ul>
  <div class="row">
    <div class="col-12 col-md-12 mx-auto" style="margin-bottom: 40px;">
      <h1 class="font-24 mb-4 text-uppercase">Thông tin đơn hàng</h1>
      {% include ('default/template/account/order_info_template.twig') %}
    </div>
  </div>
</div>
{{ footer }}
<style>
  a{
    color: #000;
  }
</style>