{{ header }}

<main id="main-wrapper" class="padding_top">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <div class="container">
            {% if error %}
                <div class="col-12 col-md-12">
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                </div>
            {% endif %}

            <div class="wrap-form-login wrap-form-login py-5 col-12 col-lg-5 mx-auto">
                <h1 class="fz-32 text-center text-uppercase mb-3">Đăng ký</h1>
                <div class="text-center my-4">
                    <span class="text-light">Đã có tài khoản? <a href="{{ urllogin }}" class="text-primary font-weight-bold">Đăng nhập</a></span>
                </div>
                <!-- Form -->
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="login-form" class="form-register mt-3">
                    <div class="form-group">
                        <input type="text" name="fullname" value="{{ fullname }}" class="form-control" placeholder="Họ tên" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" value="{{ email }}"  class="form-control" id="your-email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <div class="input-password-group">
                            <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                            <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Xác nhận mật khẩu" required>
                    </div>
                    <button class="btn btn-primary py-1 px-3 fw-600 text-uppercase w-100 my-2" type="submit">Đăng ký</button>
                    {#<p class="text-light text-center mb-2">Hoặc đăng ký với</p>
                    <div class="d-flex social-login">
                        <a href="#" class="btn fb-button"><i class="icon icon-facebook bg-white mr-2 fz-20"></i>Facebook</a>
                        <a href="#" class="btn google-button ml-auto"><i class="icon icon-google bg-white mr-2 fz-20"></i>Google</a>
                    </div>#}
                    <i class="text-center mt-4 d-flex w-75 mx-auto text-black-20">Bằng việc bấm vào nút Đăng ký, tôi đồng ý với chính sách của cửa hàng.</i>
                </form>
                <!-- End: Form -->
            </div>
        </div>
    </div>
    <!-- End: Main Content -->
</main>

{{ footer }}