.header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    width: 100%;
    z-index: 100;
}
.logo-black {
    display: block;
}
.logo-white {
    display: none;
}
.i-black {
    display: none;
}
.i-white {
    display: block;
}
.user-register {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.header-search input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.header-search .input-group-prepend {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 2px solid #c2c4c5 !important;
    border-top: 2px solid #c2c4c5 !important;
    border-bottom: 2px solid #c2c4c5 !important;
}
.header-search .input-group-prepend .btn {
    padding: 0px 11px 0px 7px;
    border-left: 2px solid #c2c4c5;
}
/* Default Header */
.header-default {
    padding: 10px 0px;
    background-color: #F8ABA1;
}
.header-default .logo-black {
    display: none;
}
.header-default .logo-white {
    display: block;
}
.header-default .navbar-light .navbar-nav .nav-link {
    color: #454545;
}
.header-default .navbar-light .navbar-nav .nav-link.active, .header-default .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.header-default .i-black {
    display: block;
}
.header-default .i-white {
    display: none;
}
/* End: Default Header; */
.has-search .main-menu {
    display: none !important;
}
.has-search .header-search {
    width: 85%;
}
.has-shadow {
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
}
.navbar-light .navbar-nav .nav-item:not(:last-child) {
    margin-right: 40px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
    color: #F8ABA1;
}
.navbar-light .navbar-nav .nav-link.active:before, .navbar-light .navbar-nav .nav-link:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #F8ABA1;
    left: 0;
    bottom: -1px;
}
.count {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FCC030;
}
.user .dropdown-toggle::after {
    display: none;
}
.user-acount:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f2bd";
    font-size: 16px;
    left: 15px;
    font-weight: 900;
}
.user-acount:hover {
    background: url('/catalog/view/theme/fashion_meostore/img/icons/i-user-hover.png') no-repeat left top 7px;
}
.user-logout {
    background: url('/catalog/view/theme/fashion_meostore/img/icons/i-logout.png') no-repeat left top 9px;
}


.block-header .main-menu{
    margin: -10px 0;
}
.block-header .main-menu ul li{
    position: relative;
}
.block-header .main-menu ul.navbar-nav > li{
    padding: 27px 0;
}
.block-header .main-menu li.has-child > a>.toggle{
    position: absolute;
    width: 15px;
    height: 6px;
    -webkit-mask:  url('/catalog/view/theme/fashion_meostore/img/icons/drop-down.svg') center no-repeat;
    mask: url('/catalog/view/theme/fashion_meostore/img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: contain;
    -mask-size: contain;
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    top: 3px;
    background-color: #454545;
    right: 5%;
    display: none;
}
.block-header .main-menu ul.navbar-nav ul.nav,
.block-header .main-menu ul.nav ul.nav{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: -20px;
    z-index: 2;
    width: 100%;
    min-width: 195px;
    padding: 10px 0px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform-origin: top;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.block-header .main-menu li:hover > ul.nav{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.block-header .main-menu li ul.nav li,
.block-header .main-menu li ul.nav li a{
    width: 100%;
    text-align: left;
    display: inline-block;
}
.block-header .main-menu li ul.nav li a{
    padding: 15px 20px;
    font-weight: 600;
    color: #767676;
    text-transform: uppercase;
}
.block-header .main-menu li ul.nav ul.nav{
    left: 100%;
    top: -10px;
    z-index: 11
}
.block-header .main-menu li ul.navbar-nav >li:hover>ul.nav{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.navbar-light .navbar-nav li .nav-item:not(:last-child){
    margin: 0;
}

#btn-mobile-menu {
    max-width: 24px;
}

#input-search {
    border-left: 2px solid #c2c4c5 !important;
    border-top: 2px solid #c2c4c5 !important;
    border-bottom: 2px solid #c2c4c5 !important;
}