/*$MAIN_COLOR$*/
#header .header-top,
#footer
{
    background-color: $MAIN_COLOR$;
}

body,
#header .navbar a.nav-link:hover, #header .navbar a.nav-link.active,
a,
.product-item .prod-title:hover,
.box-product-filter .nav a.nav-link:hover, .box-product-filter .nav a.nav-link.active, .box-product-filter .nav a.nav-link:focus,
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active,
.breadcrumb-item.active,
.news-item .news-title
{
    color: $MAIN_COLOR$;
}

#header .navbar a.nav-link:hover, #header .navbar a.nav-link.active,
.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    border-bottom-color: $MAIN_COLOR$;
}

.text-primary
{
    color: $MAIN_COLOR$ !important;
}

/*$BUTTON_COLOR$*/
.btn.btn-primary,
.pagination .page-item.active .page-link
{
    background-color: $BUTTON_COLOR$;
}

.pagination .page-item.active .page-link
{
    border-color: $BUTTON_COLOR$;
}