{{ header }}

<main id="main-wrapper">
    {# TODO: use var theme_dir instead of hardcode... #}
    {% include ('furniture_sfurniture/template/blog/blog_breadcrumb.twig') %}
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <!-- News Menu -->
            <ul class="nav m-auto d-flex">
                {% for category in blog_category %}
                    <li class="nav-item">
                        <a href="{{ category['link'] }}" class="pl-0 pr-3 pt-2 pb-2 text-uppercase text-black-50 fz-16 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}" href="#">
                            {{ category['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="line-border mb-3 mb-md-5 mt-3"></div>
            <!-- End: News Menu -->
            <!-- News Listing -->
            <div class="news-listing">
                <div class="row mx-md-n4">
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% if blog_list[0] %}
                            <!-- News Hightlight -->
                            <div class="news-hightlight col-md-12 px-md-4">
                                <div class="row">
                                    <!-- News Hightlight Thumb -->
                                    <div class="col-md-6">
                                        <div class="hightlight-thumb">
                                            <div class="position-relative post-date line-has-text text-center mb-1">
                                                <span class="position-relative fz-10 fw-300 text-uppercase text-light-3">{{ blog_list[0]['date_added']|date('d-m-Y') }}</span>
                                            </div>
                                            <div class="news-thumb hover-zoom-img">
                                                <a href="{{ blog_list[0]['link'] }}">
                                                    <img src="{{ blog_list[0]['image'] }}" class="w-100" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: News Hightlight Thumb -->

                                    <!-- News Hightlight Info -->
                                    <div class="col-md-6">
                                        <div class="hightlight-info mt-5">
                                            <span class="fw-300 text-uppercase">{{ blog_list[0]['lastname'] }} {{ blog_list[0]['firstname'] }}</span>
                                            <h5 class="news-title line-height-default mb-1 mt-2">
                                                <a href="{{ blog_list[0]['link'] }}" class="fz-28 text-uppercase text-black fw-700">
                                                    {{ blog_list[0]['title']|length > 60 ? blog_list[0]['title']|html_entity_decode|slice(0, 60) ~ '...' : blog_list[0]['title']|html_entity_decode }}</a>
                                            </h5>
                                            <p> {{ blog['short_content']|html_entity_decode|striptags }}</p>
                                            <a href="{{ blog_list[0]['link'] }}" class="text-uppercase text-black hover-primary fz-14 border-bottom border-black hover-border-primary">Đọc thêm</a>
                                        </div>
                                    </div>
                                    <!-- End: News Hightlight Info -->
                                </div>
                            </div>
                            <!-- End: News Hightlight -->
                        {% endif %}


                        {% for blog in blog_list %}
                            {% if  loop.index > 1 %}
                                <!-- News Item -->
                                <div class="news-item col-md-6 mb-3 px-md-4 mb-md-5">
                                    <div class="position-relative post-date line-has-text text-center mb-1">
                                        <span class="position-relative fz-10 fw-300 text-uppercase text-light-3">{{ blog['date_added']|date('d-m-Y') }}</span>
                                    </div>
                                    <div class="news-thumb hover-zoom-img">
                                        <a href="{{ blog['link'] }}">
                                            <img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['alt'] }}">
                                        </a>
                                    </div>
                                    <h5 class="news-title line-height-default text-center mb-2 mt-3">
                                        <a href="{{ blog['link'] }}" class="fz-20 fw-700 text-uppercase text-center text-black fw-500">
                                            {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a>
                                    </h5>
                                    <p class="text-center"> {{ blog['short_content']|html_entity_decode|striptags }}</p>
                                    <div class="text-center">
                                        <a href="{{ blog['link'] }}" class="text-uppercase text-black hover-primary fz-14 border-bottom border-black hover-border-primary">Đọc thêm</a>
                                    </div>
                                </div>
                                <!-- End: News Item -->
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                </div>
                <!-- Paginate -->
                {{ pagination }}
                <!-- End: Paginate -->
            </div>
            <!-- End: News Listing -->
        </div>
        <!-- End: Main Content -->
    </div>
</main>
<!-- End content wrapper -->

{{ footer }}