{{ header }}

<main id="main-wrapper">
    {# TODO: use var theme_dir instead of hardcode... #}
    {% include ('furniture_lujun_decor/template/blog/blog_breadcrumb.twig') %}
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <div class="single-post-info">
                <div class="banner-post">
                    {% if blog['type'] == 'video'  %}
                        <div id="blog-thumb-video" class="blog-thumb-video"
                             data-video-url="{{ blog['video_url'] }}"></div>
                    {% elseif blog['image'] is not empty %}
                        <img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['alt'] }}">

                    {% endif %}
                </div>
                <div class="post-author text-center my-3 my-md-4">
                    <span class="fz-18 fw-300">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                </div>
                <h1 class="single-title fz-32 fw-700 text-center mb-3 mb-md-4">{{ blog['title'] }}</h1>
                <div class="position-relative post-date line-has-text text-center mb-3 mb-md-4">
                    <span class="position-relative fz-14 fw-300 text-uppercase text-light-3">{{ blog_list[0]['date_added']|date('d-m-Y') }}</span>
                </div>
                <article class="post-content">
                    {{ blog['content']|html_entity_decode }}
                </article>
            </div><!-- /.single-post-info -->
            <div class="social-comment mt-3 mt-md-5">
                <div class="position-relative post-date line-has-text text-center mb-3 mb-md-4">
                    <span class="position-relative fz-14 fw-300 text-uppercase text-light-3">Chia sẻ</span>
                </div>
                <ul class="list-inline follow text-center mb-3 mb-md-4">
                    <li class="list-inline-item">
                        <a href="{{ social.google.href }}" class="text-black-50 fz-18"><i class="fab fa-google"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ social.facebook.href }}" class="text-black-50 fz-18"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ social.twitter.href }}" class="text-black-50 fz-18"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
                <!-- Comment and Rating -->
                {#<div class="comment-rating">#}
                    {#<h3 class="fw-600 fz-18 text-uppercase text-center mb-3 mb-md-5">Bình luận</h3>#}
                    {#<div class="row">#}
                        {#<div class="col-lg-5">#}
                            {#<div class="form-rate mb-3">#}
                                {#<form action="">#}
                                    {#<div class="form-group">#}
                                            {#<textarea class="form-control rounded-0 fw-300" rows="7">Lorem Ipsum is simply dummy it of the printing and type setting industry. Lorem Ipsum has been the industry's#}
                                            {#</textarea>#}
                                    {#</div>#}
                                    {#<div class="form-bottom clearfix">#}
                                        {#<div class="user-star-rate float-left mt-1">#}
                                            {#<div class="rating-group">#}
                                                {#<input checked class="rating__input rating__input--none" name="rating1" id="rating1-none" value="0" type="radio">#}
                                                {#<label aria-label="1 star" class="rating__label" for="rating1-1">#}
                                                    {#<span class="rating__icon rating__icon--star"></span>#}
                                                {#</label>#}

                                                {#<input class="rating__input" name="rating1" id="rating1-1" value="1" type="radio">#}
                                                {#<label aria-label="2 stars" class="rating__label" for="rating1-2">#}
                                                    {#<span class="rating__icon rating__icon--star"></span>#}
                                                {#</label>#}

                                                {#<input class="rating__input" name="rating1" id="rating1-2" value="2" type="radio">#}
                                                {#<label aria-label="3 stars" class="rating__label" for="rating1-3">#}
                                                    {#<span class="rating__icon rating__icon--star"></span>#}
                                                {#</label>#}

                                                {#<input class="rating__input" name="rating1" id="rating1-3" value="3" type="radio">#}
                                                {#<label aria-label="4 stars" class="rating__label" for="rating1-4">#}
                                                    {#<span class="rating__icon rating__icon--star"></span>#}
                                                {#</label>#}

                                                {#<input class="rating__input" name="rating1" id="rating1-4" value="4" type="radio">#}
                                                {#<label aria-label="5 stars" class="rating__label" for="rating1-5">#}
                                                    {#<span class="rating__icon rating__icon--star"></span>#}
                                                {#</label>#}
                                                {#<input class="rating__input" name="rating1" id="rating1-5" value="5" type="radio">#}
                                            {#</div>#}
                                        {#</div><!-- /.user-star-rate -->#}
                                        {#<button type="submit" class="btn btn-primary fz-12 text-white float-right rounded-0 submit-check-rating" data-toggle="tooltip" data-placement="top" title="Vui lòng xếp hạng sản phẩm">Bình luận</button>#}
                                    {#</div><!-- /.form-head -->#}
                                {#</form>#}
                            {#</div><!-- /.form-rate -->#}
                        {#</div>#}
                        {#<!-- List comment -->#}
                        {#<div class="col-lg-7">#}
                            {#<div class="list-comment">#}
                                {#<div class="media mb-3">#}
                                    {#<img src="img/comment-user.png" class="mr-3" alt="...">#}
                                    {#<div class="media-body mt-1">#}
                                        {#<h5 class="mt-0 fz-16 fw-500 text-black-50">Luong Viet Dung</h5>#}
                                        {#<div class="rate-reuslt clearfix">#}
                                            {#<!-- Star Rate -->#}
                                            {#<div class="wrap-star-rate float-left mr-1">#}
                                                {#<ul class="list-inline mb-0">#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star"></span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                            {#<!-- End: Star Rate -->#}
                                            {#<span class="rate-date fz-10 text-light-2 float-left pt-1">12/09/2019</span>#}
                                        {#</div>#}
                                        {#<p class="mb-0 fw-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>#}
                                    {#</div>#}
                                {#</div><!-- /.media -->#}
                                {#<div class="media mb-3">#}
                                    {#<img src="img/comment-user.png" class="mr-3" alt="...">#}
                                    {#<div class="media-body mt-1">#}
                                        {#<h5 class="mt-0 fz-16 fw-500 text-black-50">Luong Viet Dung</h5>#}
                                        {#<div class="rate-reuslt clearfix">#}
                                            {#<!-- Star Rate -->#}
                                            {#<div class="wrap-star-rate float-left mr-1">#}
                                                {#<ul class="list-inline mb-0">#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star"></span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                            {#<!-- End: Star Rate -->#}
                                            {#<span class="rate-date fz-10 text-light-2 float-left pt-1">12/09/2019</span>#}
                                        {#</div>#}
                                        {#<p class="mb-0 fw-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>#}
                                    {#</div>#}
                                {#</div><!-- /.media -->#}
                                {#<div class="media mb-3">#}
                                    {#<img src="img/comment-user.png" class="mr-3" alt="...">#}
                                    {#<div class="media-body mt-1">#}
                                        {#<h5 class="mt-0 fz-16 fw-500 text-black-50">Luong Viet Dung</h5>#}
                                        {#<div class="rate-reuslt clearfix">#}
                                            {#<!-- Star Rate -->#}
                                            {#<div class="wrap-star-rate float-left mr-1">#}
                                                {#<ul class="list-inline mb-0">#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star star-rate"></span>#}
                                                    {#</li>#}
                                                    {#<li class="list-inline-item mr-0">#}
                                                        {#<span class="star"></span>#}
                                                    {#</li>#}
                                                {#</ul>#}
                                            {#</div>#}
                                            {#<!-- End: Star Rate -->#}
                                            {#<span class="rate-date fz-10 text-light-2 float-left pt-1">12/09/2019</span>#}
                                        {#</div>#}
                                        {#<p class="mb-0 fw-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>#}
                                    {#</div>#}
                                {#</div><!-- /.media -->#}
                            {#</div>#}
                        {#</div>#}
                        {#<!-- End: List comment -->#}
                    {#</div>#}
                {#</div>#}
                <!-- End: Comment and Rating -->
            </div>
        </div>
    </div>
    <!-- End: Main Content -->
</main>
{{ footer }}

<script src="/catalog/view/theme/default/js/blog_detail_video.js"></script>
<script>
    if (blogDetailVideo) {
        blogDetailVideo.init({
            videoElementId: 'blog-thumb-video',
            videoHeight: 468,
            currentTheme: '{{ current_theme }}'
        });
    }
</script>