{{ header }}

<!-- Breadcrumb -->
<div id="block-breadcrumb" class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs  %}
                <a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
            {% endfor %}
        </nav>
    </div>
</div>
<!-- /.Brecrumb -->

<!-- News pages -->
<div id="block-news-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% if blog is empty %}
                    Không có bài viết
                {% else %}
                    <article>
                    <div class="block-news-detail">
                        <h1 class="name">
                            {{ blog['title'] }}
                        </h1>
                        <div class="meta">
                            <div class="meta-item author">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                            </div>
                            <div class="meta-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span>{{ blog['date_added']|date('Y-m-d') }}</span>
                            </div>
                        </div>
                        <div class="detail-content">
                            {% if blog['type'] == 'video' %}
                                <div id="blog-thumb-video" class="blog-thumb-video" data-video-url="{{ blog['video_url'] }}"></div>
                            {% else %}
                                <img class="img-fluid mb-5" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                            {% endif %}
                            {{ blog['content']|html_entity_decode }}
                        </div>
                        <div class="block-share">
                            <div class="tag">
                                <span class="color">Danh mục: </span>
                                {% for category in blog['blog_categories'] %}
                                    <span>{{ category['title'] }}</span>
                                {% endfor %}
                            </div>
                            <div class="share">
                                <span>Chia sẻ: </span>
                                {% for so in social %}
                                    <a href="{{ so['href'] }}"><i class="{{ so['content'] }}" aria-hidden="true"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </article>
                {% endif %}
            </div>
            <div class="col-lg-3">
                <!-- Side bar -->
                <div id="block-sidebar" class="block-sidebar">

                    <div class="widget-sidebar">
                        <h4 class="widget-title">
                            Danh mục bài viết
                        </h4>
                        <div class="widget-content">
                            <div class="menu-side menu-none-arrow">
                                <ul>
                                    {% for category in blog_category %}
                                        <li>
                                            <a class="a-normal" href="{{ category['link'] }}">{{ category['title'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title">
                            Tags
                        </h4>
                        <div class="widget-content">
                            <div class="menu-side menu-none-arrow">
                                <ul>
                                    {% for tag in tags %}
                                        <li>
                                            <a class="a-normal" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title">
                            Bài viết mới nhất
                        </h4>
                        <div class="widget-content">
                            <div class="list-sidenews">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="news-item">
                                            <div class="news-thumb">
                                                <a href="{{ blog['link'] }}">
                                                    <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                </a>
                                            </div>
                                            <div class="news-content">
                                                <h6 class="name"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h6>
                                                <div class="meta">
                                                    <div class="meta-item">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        <span>{{ blog['date_added']|date('Y-m-d') }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.Side bar -->
            </div>
        </div>
    </div>
</div>
<!-- /.News pages -->

{{ footer }}

<script src="/catalog/view/theme/default/js/blog_detail_video.js"></script>
<script>
    if (blogDetailVideo) {
        blogDetailVideo.init({
            videoElementId: 'blog-thumb-video',
            videoHeight: '{{ 1 == is_on_mobile ? '200px' : '300px' }}',
            currentTheme: '{{ current_theme }}'
        });
    }
</script>