.cke_widget_spreadsheet {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #363636;
	margin-top: 16px;
}

.htContextMenu.handsontable {
	z-index: 10010;
}

.handsontable .htAutocompleteArrow {
	display: none;
}

/* Cell references */
.cell-reference-mention__indicator {
	color: hsl(0, 0%, 45%);
}
.cell-reference-mention__spreadsheet {
	color: hsl(113, 69%, 26%);
}
.cell-reference-mention__row {
	color: hsl(214, 93%, 41%);
}
.cell-reference-mention__column {
	color: hsl(286, 44%, 47%);
}
.handsontable td.focused,
.handsontable td.active {
	box-shadow: inset 0px 0px 0px 1px hsl(208, 90%, 42%) !important;
	background-color: hsla(208, 90%, 42%, 0.08) !important;
	height: 20px;
	color: hsl(208, 90%, 42%);
	box-shadow: inset 0px 0px 5px hsla(208, 90%, 42%, 0.2)
}
span.cell-reference.cke_widget_element {
    outline: 1px solid hsl(208, 90%, 62%);
	padding: 1px 2px;
	color: hsl(208, 90%, 42%);
}
.cke_widget_wrapper_cell-reference.cke_widget_focused span.cell-reference.cke_widget_element {
	background-color: hsla(208, 90%, 42%, 0.08) !important;
}
