footer#footer{
    position: relative;
    margin-top: 50px;
}
.back-to-top{
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    right: 55px;
    bottom: 65px;
    z-index: 99;
    display: none;
}
.back-to-top i.icon{
    font-size: 26px;
    background-color: #fff;
}
.main-footer{
    padding: 0 0 50px;
}
.main-footer .list-social li a{
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 31px;
    display: inline-block;
}
.block-footer a:hover {
    color: #3A8E08;
}
.ft-title {
    line-height: 19px;
}
.ft-col ul li {
    margin-bottom: 20px;
}
.form-subscriber input.form-control {
    padding: 12px 16px;
    height: 40px;
}
.form-subscriber input.form-control:focus{
    z-index: 1;
}
.form-subscriber .form-submit {
    border: 0px;
    width: 100%;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;
}
.block-footer .newsletter{
    top: -44px;
    position: relative;
}
.address-text {
    min-width: 46px;
}