header.header{
    z-index: 99;
    position: relative;
}
.header-top {
    line-height: 18px;
    padding: 12px 0;
}
.logo-text-white {
    display: block;
}
.logo-text-black {
    display: none;
}
.main-header {
    padding: 35px 0;
    background: #B8311B;
    color: #fff;
}
.header .fix-content,
.main-menu .navbar{
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.header.fixed .fix-content{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.header.fixed .main-header{
    display: none;
}
.header.fixed + main#main-wrapper{
    margin-top: 50px;
}
.main-header a:hover {
    color: #2D2F52;
}
.main-menu .menu-right-header>.item{
    display: none;
}
.fixed .main-menu .menu-right-header>.item{
    display: flex;
}
.main-menu .menu-right-header>.item.cart-icon{
    display: block;
}
.fixed .main-menu .menu-right-header{
    display: flex;
    margin-right: 120px;
}
.menu-right-header >.item{
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.menu-right-header >.item:first-child > i{
    position: absolute;
    top: 41px;
    right: 38px;
}
.menu-right-header >.item:nth-child(2) > #dropdownUserFixed{
    position: absolute;
    top: 41px;
    right: 0;
}
.menu-right-header >.item.with-icon i.icon{
    margin: 0 10px;
    background: #fff;
}
.block-header .show-search-form .home-search{
    display: none;
    position: absolute;
    width: 365px;
    right: 36px;
    top: calc(100% - 79px);
    z-index: 2;
    font-size: 14px;
}
.block-header .show-search-form .home-search .form-control{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.menu-right-header >.item.with-icon i.icon.icon-cart{
    background: #333;
    margin: 0;
    font-size: 30px;
}
.header .cart-icon{
    text-align: center;
    padding: 13px 25px 16px;
    background: #F9C938;
    border-radius: 0 0 45px 45px;
}
.main-menu .cart-icon{
    position: absolute;
    top: 0;
    right: 15px;
}
.cart-icon .count-cart{
    position: absolute;
    top: 2px;
    right: -6px;
    background: #B8311B;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    z-index: 1;
    height: 16px;
    text-align: center;
    border-radius: 100%;
    padding: 0 5.2px;
}
/* Default Header */
.block-header .home-search{
    position: relative;
}
.block-header .home-search input.form-control{
    padding-left: 20px;
    padding-right: 45px;
    font-size: 14px;
    border: none;
    background-color: #fff;
}
.search-box-ajax{
    display: none;
}
.home-search input.form-control:focus + .search-box-ajax{
    display: inline-block;
}

.block-header form.home-search{
    position: relative;
}
.block-header form.home-search button{
    content: "";
    width: 40px;
    height: 100%;
    background: url("/catalog/view/theme/tech_kesaths/img/icons/search.svg") no-repeat center;
    background-size: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.block-header form.home-search input.form-control{
    height: 40px;
}
.block-header.fixed .fix-content{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.block-header .main-menu li{
    position: relative;
}
.block-header .main-menu ul.child-nav li{
    position: initial;
}
.block-header .main-menu ul.cat-menu-mobile li{
    position: relative;
}
.block-header .main-menu ul.nav > li.has-child > a>.toggle,
.block-header .main-menu ul.nav > li.has-child > .toggle,
.cat-menu a>.toggle,
#navbar-menu-items a>.toggle {
    position: absolute;
    width: 15px;
    height: 6px;
    -webkit-mask:  url('/catalog/view/theme/tech_kesaths/img/icons/drop-down.svg') center no-repeat;
    mask: url('/catalog/view/theme/tech_kesaths/img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: contain;
    -mask-size: contain;
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    top: 19px;
    background-color: #707070;
    right: 8%;
    display: block;
}
#navbar-menu-items a>.toggle {
    top: 21px;
    right: 0;
    background-color: #ffffff;
}
#navbar-menu-items a>.toggle.child-toggle {
    top: 19px;
    right: 5px;
    background-color: #707070;
}
.block-header .main-menu ul.nav ul.nav,
ul.cat-menu li ul.nav{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    min-width: 220px;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #D6D7D1;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform-origin: top;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.block-header .main-menu li:hover > ul.nav,
ul.cat-menu li:hover> ul.nav{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.block-header .main-menu li ul.nav li,
.block-header .main-menu li ul.nav li a,
.cat-menu a{
    width: 100%;
    text-align: left;
    display: inline-block;
}
.block-header .main-menu li ul.cat-menu-mobile li,
.block-header .main-menu li ul.cat-menu-mobile li a {
    width: 80%;
}
.cat-menu-block ul.nav li a,
.block-header .main-menu li ul.nav li a{
    position: relative;
}
.block-header .main-menu li > ul.nav li,
.cat-menu >li{
    border-bottom: 1px solid #D6D7D1;
    width: 100%;
}
.block-header .main-menu li > ul.nav li:nth-last-child(1),
.cat-menu li:nth-last-child(1){
    border-bottom: none;
}
.block-header .main-menu li ul.nav li a,
.cat-menu a{
    padding: 12px 16px;
    color: #707070;
    font-size: 14px;
    line-height: 20px;
}
.block-header .main-menu li ul.nav li a:hover,
.block-header .main-menu li ul.nav li:hover >a,
.block-header .main-menu li ul.nav li >a.active,
.cat-menu a:hover,
.cat-menu a.active{
    background: #EAE4D8;
}
.block-header .main-menu li ul.nav ul.nav,
ul.cat-menu li ul.nav{
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
    left: 100%;
    top: -1px;
    z-index: 2;
}
ul.cat-menu li ul.nav.third-level{
    left: calc(100% - 28px) !important;
}
.block-header .main-menu ul.nav ul.nav.cat-menu ul.nav,
ul.nav.cat-menu li ul.nav{
    height: 100%;
    padding: 16px;
}
ul.nav.cat-menu li ul.nav li{
    border-bottom: none;
}
.block-header .main-menu li ul.nav >li:hover>ul.nav{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.main-menu{
    background: #A52C19;
}
.main-menu .navbar,
.main-menu .navbar .navbar-collapse{

}
.fixed .main-menu .navbar{
    margin: 20px 0;
}
.main-menu .cat-menu-block{

}
.fixed .main-menu .cat-menu-block{
    display: block;
}
.main-menu .navbar-light .navbar-nav .cat-menu-block .nav-link.menu-title{
    width: 285px;
    background: #F9C938;
    color: #333333;
    padding-left: 36px;
}
.main-menu .navbar-light .navbar-nav .cat-menu-block .nav-link.menu-title:hover {
    color: #333333 !important;
}

/* End: Default Header; */
.navbar-light .navbar-nav .nav-link {
    position: relative;
    color: #FFF;
    transition: all 0.15s ease;
    padding: 16px 16px;
    font-size: 16px;
    line-height: 20px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: #F9C938 !important;
}
#navbar-menu-items {
    margin-right: 48px;
}
.count {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
}
.user .dropdown-toggle::after {
    display: none;
}
.user-acount:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f2bd";
    font-size: 16px;
    left: 15px;
    font-weight: 900;
}
.user-acount:hover {
    background: url('/catalog/view/theme/tech_kesaths/img/icons/i-user-hover.png') no-repeat left top 7px;
}
.user-logout {
    background: url('/catalog/view/theme/tech_kesaths/img/icons/i-logout.png') no-repeat left top 9px;
}
.header .dropdown-menu .dropdown-item{
    color: #707070;
    font-size: 14px;
    padding: 9px 12px;
}
.header .dropdown-menu .dropdown-item:hover,
.header .dropdown-menu .dropdown-item:focus,
.header .dropdown-menu .dropdown-item.active,
.header .dropdown-menu .dropdown-item:active{
    color: #333333;
    font-weight: 500;
    background-color: transparent;
}