body {
    word-wrap: break-word;
}
#block-header-top {
    background: #d892ac;
}

#block-header-top a {
    color: #F9FAFB;
    text-decoration-line: none;
    width: 100%;
    text-align: center !important;
}

#block-header-top a:hover {
    color: #CA6971;
}

.owl-carousel .owl-item img {
    *width: auto !important;
}

.block-header .block-header-action .action-cart a .count {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}

.text-pro a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 24px; /* fallback */
    height: 48px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.item-product .text-pro .cate-pro {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px; /* fallback */
    height: 15px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.block-product-detail-page .block-detail .block-custom-change .form-action .quantity input {
    padding-left: 15px;
    padding-right: 15px;
}

/*sticky*/
.buy-now {
    display: none;
}
.buy-now {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
}
.buy-now.fixed {
    position: fixed;
    top: 72px;
    z-index: 999;
    width: 100%;
    display: block;
}
.buy-now .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-buy-now-header {
    background-color: #d892ac;
    color: white;
    outline: none;
    box-shadow: none;
    height: 38px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #EBEBEB;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    width: 100%;
    border-radius: 2px;
}

.btn-add-cart-header {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    background: white;
}
.btn-add-cart-header:hover {
    background-color: #d892ac;
    color: white;
}

.show-on-pc {
    display: block;
}
.show-on-mobile {
    display: none !important;
}

/*img of block content*/
.detail-content img {
    max-width: 100%;
}


.block-header-menu .main-menu ul {
    display: inline-table;
}

.block-header-menu .main-menu ul li a.over-item {
    padding: 8px 10px;
}

.block-header-menu .main-menu ul li {
    margin-right: 0;
}

.block-header-menu .main-menu ul li a {
    padding: 10px 10px;
}

.mobiles {
    display: none;
}

.logo-custom-on-mobile {
    width: 150px;
    margin: 0 auto 10px;
}
.logo-custom-on-mobile img {
    max-width: 100%;
}

@media (max-width: 992px){
    #sidenav {
        overflow: auto;
    }
    .mobiles {
        display: block;
    }
}

@media screen and (max-width: 815px) {
    .owl-carousel .owl-item img {
        *width: 100% !important;
    }

    .swiper-slide-active {
        text-align: center;
    }

    .owl-stage {
        margin-top: 10px;
    }

    .block-table-cart .quantity {
        width: 90px;
    }

    .header-address h1.header-font{
        font-size: 15px;
    }

    .block-product-detail-page .block-detail .block-custom-change .form-action .btn{
        display: -webkit-inline-box !important;
        margin: 0;
    }

    .block-address-page .header-address .btn-add-address{
        padding: 0 10px !important;
    }

    .header-address .header-font.text-color{
        margin: 0 !important;
    }

    #buy-now {
        display: none;
    }

    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #d892ac;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }

}

.form-check-inline {
    display: block;
}

.form-check-inline span {
    margin-bottom: 5px;
}

@media (max-width: 428px) {
    .block-product-detail-page .block-detail .block-custom-change .form-action .btn-buy {
        margin-top: 10px !important;
    }
    #add_cart_notify .modal-title {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .block-product-detail-page .block-detail .block-custom-change .form-action .btn-action {
        display: -webkit-inline-box !important;
        margin: 0;
    }
}
.table-action a.btn-primary{
    border-color: transparent !important;
}

.block-header-menu .block-header-logo a img {
    max-height: 150px;
}

.block-product-detail-page .block-description.detail-content {
    padding: 0 0 40px 0;
}

.block-product-detail-page .block-description.detail-content .nav-tabs .nav-item .nav-link {
    background-color: #eee;
}

.block-product-detail-page .block-description.detail-content .nav-tabs {
    padding-bottom: 15px;
    margin-bottom: 15px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.block-product-detail-page .block-description.detail-content .nav-tabs .nav-item {
    margin-bottom: 0;
}

.block-product-detail-page .block-description.detail-content .nav-tabs .nav-item a {
    margin-right: 8px;
    background: #333333;
    padding: 10px 37px 10px;
    border-radius: 0;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}

.block-product-detail-page .block-description.detail-content .tab-content {
    background-color: #f7f7f7;
}

.block-product-detail-page .block-description.detail-content .tab-content .tab-pane {
    padding: 30px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #3F4755;
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.block-header .block-header-logo a img {
    max-width: 200px;
}
.buy-now-mobile input {
    height: 38px;
}
.buy-now-mobile .number-quantity {
    margin-top: 0px;
    margin-bottom: 0px;
}
a.btn.btn-buy{
    border: 1px solid #d892ac !important;
}