{{ header }}

<main id="main-wrapper" class="pb-3 pb-md-5">
    <!-- Page Banner -->
    {% if banners.visible_banner == 1 %}
    <div class="page-banner">
        <a href="{{ banners.url_banner }}" target="_blank">
            <img src="{{ banners.url_image }}" alt="bestme">
        </a>
    </div>
    {% else %}
        <div class="not-banner"></div>
    {% endif %}
    <!-- End: Page Banner -->
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="page-title bg-white text-center">
                <span class="post-date text-light text-uppercase">{{ blog['date_added']|date('m/d/Y') }}</span>
                <h1 class="text-uppercase fz-32 fw-400 my-3">{{ blog['title'] }}</h1>
                <span class="post-author fz-18 fw-300 text-uppercase">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
            </div>
            {% if blog.image is not empty %}
                <img src="{{ blog['image'] }}" class="w-100 mb-5" alt="{{ blog['title'] }}">
            {% endif %}
            <!-- News Content -->
            <div class="news-content">
                <article class="post-content fw-300">
                    {{ blog['content']|html_entity_decode }}
                </article>
            </div>
            <!-- End: News Content -->
        </div>
    </div>
    <!-- End: Main Content -->
</main>

{{ footer }}