/*$MAIN_COLOR$*/
#header .menu-wrapper,
#header.fixed .fix-content,
.blog-item,
#footer .copy-right,
.breadcrumb,
.product-item .img-square,
.nav.user-nav,
.modal-content,
.product-item.sale .img-wrap .sale-price
{
    background-color: $MAIN_COLOR$;
}

.bg-secondary,
.dropdown-search
{
    background-color: $MAIN_COLOR$ !important;
}

/*$BUTTON_COLOR$*/
#header .menu-right a.with-icon .count-cart,
.btn.btn-primary,
.contact-header,
.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot.active span,
.list-radio .form-check-input:checked~.form-check-label
{
    background-color: $BUTTON_COLOR$;
}

h1, h2, h3, h4, h5,
.product-item.sale .img-wrap .sale-price,
.product-item.sale .title,
a,
.breadcrumb a,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    color: $BUTTON_COLOR$;
}

.pagination .page-link:hover, .pagination .page-link.active, .pagination .page-item.active .page-link
{
    border-color: $BUTTON_COLOR$;
}

.text-primary
{
    color: $BUTTON_COLOR$ !important;
}

.bg-primary
{
    background-color: $BUTTON_COLOR$ !important;
}