{{ header }}

<div class="bestme_app_after_header">

</div>

{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

{% for section in sections_layout %}
    {% set path= 'fashion_flavor/template/common/section_home/'~section['file']~'.twig' %}
    <div class="{{ section.file }}">
        {% include path %}
    </div>
{% endfor %}

<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
    if (homeVideo) {
        homeVideo.init({
            sliderType: 'swiper',
            videoCarouselElements: $('.video-slideshow'),
            postThumbnailElements: $('.blog-thumb-video'),
            slideshowSelector: '.swiper-banner',
            selectorToDetectHeight: '.swiper-banner .swiper-slide img',
            timeOutToDetectHeight: 500
            // slideshowHeight: detectVideoHeight()
        });
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        new Swiper(".collectionsSwiper", {
            slidesPerView: 4,
            // loop: true,
            navigation: {
                nextEl: ".collectionsSwiper .swiper-button-next",
                prevEl: ".collectionsSwiper .swiper-button-prev",
            },
            breakpoints: {
                // when window width is >= 320px
                320: {
                    slidesPerView: 1,
                    spaceBetween: 5
                },
                // when window width is >= 480px
                480: {
                    slidesPerView: 1,
                    spaceBetween: 5
                },
                // when window width is >= 640px
                768: {
                    slidesPerView: 3,
                    spaceBetween: 10
                },
                1200: {
                    slidesPerView: 4
                }
            }
        });

        new Swiper(".outstanding-products", {
            slidesPerView: 1,
            loop: false,
            navigation: {
                nextEl: ".outstanding-products .swiper-button-next",
                prevEl: ".outstanding-products .swiper-button-prev",
            }
        });

        {% for k, block in blocks %}
            if (jQuery('.swiper-custom-block-' + '{{ k }}').length > 0) {
                new Swiper('.swiper-custom-block-' + '{{ k }}', {
                    spaceBetween: 20,
                    loop: true,
                    autoplay: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    breakpoints: {
                        // when window width is >= 320px
                        320: {
                            slidesPerView: 2,
                            spaceBetween: 5
                        },
                        // when window width is >= 480px
                        480: {
                            slidesPerView: 2,
                            spaceBetween: 5
                        },
                        // when window width is >= 640px
                        768: {
                            slidesPerView: 3,
                            spaceBetween: 10
                        },
                        1200: {
                            slidesPerView: 4,
                            spaceBetween: 10
                        }
                    }
                });
            }
        {% endfor %}
        {% if isset_cart %}
            $('.block-cart').toggleClass('show-cart');
            $('.block-over').toggleClass('over');
            $('body').toggleClass('no-scroll');
            ajaxGetOrderInfo();
        {% endif %}

        new Swiper('.swiper-partner', {
                slidesPerView: 4,
                spaceBetween: 20,
                loop: jQuery('.swiper-partner').attr('data-loop') == 1 ? true : false,
                autoplay: jQuery('.swiper-partner').attr('data-auto-play') == 1 ? true : false,
            navigation: {
                    nextEl: '.swiper-button-next-n',
                    prevEl: '.swiper-button-prev-n',
                },
                breakpoints: {
                    // when window width is >= 320px
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 5
                    },
                    // when window width is >= 480px
                    480: {
                        slidesPerView: 2,
                        spaceBetween: 5
                    },
                    // when window width is >= 640px
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 10
                    },
                    1200: {
                        slidesPerView: 4
                    }
                }
            });
    });

    $('.video-youtube #play-youtube').on('click', function(){
        $(this).fadeOut();
        $('.video-youtube .bg').fadeOut();
        $(this).parent().append('<iframe src="https://www.youtube.com/embed/' + $(this).attr('data-youtube') + '" frameborder="0" allowfullscreen></iframe>');
    });

    $('.show-hide-info-youtube').on('click', function(){
        $(this).fadeOut();
        $('.video-youtube .box').fadeOut("slow");
    });
</script>

<script>
    $('.item-collection').hover(function(){
        console.log(1)
        $('.swiper-slide').removeClass('swiper-slide-active'); } , function(){
        $(this).parent().addClass('swiper-slide-active');
    });
</script>

{{ footer }}

<style>
    .swiper-slide.swiper-slide-active .item-collection::before {
        background: #ffffffdb;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .swiper-slide.swiper-slide-active .item-collection::before {
        background: no-repeat;
    }

    .outstanding-products .heading-block p {
        max-width: 439px;
    }

    .outstanding-products {
        height: 600px;
    }

    .video-youtube .box .description {
        font-size: 20px;
    }
    .video-youtube .box {
        z-index: 99;
        border-radius: 16px;
        border: 2px solid #FFF;
        background: linear-gradient(249deg, rgba(255, 255, 255, 0.75) 2.4%, rgba(255, 255, 255, 0.49) 85.82%);
        box-shadow: -1px 0px 1px 0px rgb(235 235 235 / 10%) inset, 1px 0px 1px 0px rgb(235 235 235 / 10%) inset;
        backdrop-filter: blur(13.5px);
        max-width: 599px;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .video-youtube .box .title {
        color: #034EA1;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px;
        border-left: 3px solid;
        padding-left: 12px;
    }

    .right-youtube-info {
        height: 800px;
        display: flex;
        align-items: center;
    }

    .show-hide-info-youtube {
        position: absolute;
        left: 40%;
        bottom: -2px;
        cursor: pointer;
    }

    .video-youtube {
        position: relative;
        height: 800px;
    }
    .video-youtube img {
        z-index: 1;
        position: absolute;
        cursor: pointer;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
    .video-youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-youtube .info {
        z-index: 22;
    }

    #play-youtube {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        z-index: 99;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .collectionsSwiper .swiper-slide a img {
        object-fit: cover !important;
        height: 100%;
        width: 100%;
    }

    .collectionsSwiper {
        height: 500px;
    }

    .collectionsSwiper .swiper-slide {
        transition: 1s;
    }

    .collectionsSwiper .swiper-slide:hover {
        width: 600px !important;
        transition: 1s;
    }

    .collectionsSwiper .swiper-slide:hover img {
        transition: 1s;
    }

    .item-collection::before {
        background: #ffffffdb;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .item-collection {
        width: 100%;
        height: 100%;
    }

    .item-collection:hover::before {
        background: no-repeat;
    }

    .item-collection {
        transition: 1s;
    }

    .item-collection:hover .collection-detail,.swiper-slide.swiper-slide-active .item-collection .collection-detail {
        transition: 1s;
        transform: translateY(-222px);
        border-radius: 0px 16px 0px 0px;
        background: linear-gradient(246deg, rgba(255, 255, 255, 0.15) -26.41%, rgba(255, 255, 255, 0.61) 65.43%);
        box-shadow: -1px 0px 1px 0px rgb(235 235 235 / 10%) inset, 1px 0px 1px 0px rgb(235 235 235 / 10%) inset;
        backdrop-filter: blur(16.5px);
    }


    .collection-detail {
        position: absolute;
        transform: translateY(-50px);
        left: 0;
        transition: 1s;
        display: flex;
        max-width: 432px;
        padding: 24px 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .collection-detail-description p {
        color: #505355;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.25px;
    }

    .collection-detail .button, .view-more-dhc {
        border-radius: 100px;
        border: 1px solid #496DB0;
        padding: 10px 32px !important;
        justify-content: center;
        align-items: center;
    }

    .collection-detail .button a, .view-more-dhc {
        color: #034EA1;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.25px;
        margin: 0;
        padding: 0;
    }

    .view-more-dhc {
        margin: 16px 0;
        display: inline-block;
    }

    .block-product .product:hover {
        border-radius: 16px;
        background: #FFF;
        box-shadow: 1px 10px 18px 0px rgb(27 25 86 / 13%);
        transition: 1s;
    }

    .product {
        padding: 16px;
    }

    .about-dhc .description {
        max-width: 680px;
        font-size: 20px;
        text-align: justify;
    }

    .about-dhc img.bestme-block-banner-custom {
        border-radius: 200px 0 0 200px;
    }

    .about-dhc .heading-block {
        margin-bottom: 0;
    }

    .about-dhc .icons {
        margin-top: 16px;
    }

    .about-dhc .icons p {
        font-size: 20px;
        max-width: 212px;
        margin-top: 8px;
    }

    .about-dhc .icon-item {
        margin-bottom: 16px;
    }

    .right-0 {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: -16px;
    }

    .about-dhc {
        overflow: hidden;
        background: #ECE8DF;
    }

    @media (max-width: 768px) {
        .block-info-number {
            padding: 24px 3px;
        }

        .block-info-number .title {
            font-size: 14px;
            line-height: 20px;
            height: auto;
        }

        .block-info-number .number p {
            font-size: 32px;
        }

        .number {
            padding: 0;
        }

        .block-info-number .date {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 10px;
        }

        .number span.dv {
            font-size: 18px;
        }

        span.dv.mob {
            padding-top: 10px !important;
        }

        .block-home {
            padding-top: 0;
        }

        .block-home .heading-block p {
            font-size: 24px;
        }

        .collectionsSwiper {
            height: 230px;
        }

        .item-collection:hover .collection-detail, .collection-detail {
            transform: translateY(0);
            top: 0;
        }

        .collectionsSwiper .swiper-slide:hover {
            width: auto;
        }

        .collection-detail-description p {
            font-size: 14px;
            line-height: 22px;
        }

        .collection-detail-name a {
            font-size: 16px;
            line-height: 24px;
        }

        .collection-detail .button a, .view-more-dhc {
            font-size: 14px;
        }

        .collection-detail .button, .view-more-dhc {
            padding: 5px 15px;
        }

        a.view-more-product {
            font-size: 16px;
            line-height: 36px;
        }

        .product-cate .product {
            margin: 0;
            border-radius: 16px;
            background: #FFF;
            box-shadow: 0px 2px 18px 5px rgb(27 25 86 / 13%);
            height: 226px;
            padding: 10px;
        }

        .container.product-cate {
            overflow: hidden;
            padding: 0 !important;
        }

        .container.product-cate .swiper {
            padding: 14px;
        }

        .product-cate .product .product-thumb {
            height: 150px;
        }

        .product-ct .name a.product-title {
            font-size: 14px;
            line-height: 20px;
        }

        .about-dhc .right-0 {
            position: unset !important;
            transform: translate(0);
            margin-bottom: 15px;
        }

        .order-sm-1 {
            order: 1;
        }

        .about-dhc .description,
        .video-youtube .box .description,
        .about-dhc .icons p,
        .about-dhc .desc
        {
            font-size: 14px;
        }

        .show-hide-info-youtube {
            left: 33%;
        }

        .right-youtube-info {
            height: 539px;
        }

        .video-youtube {
            height: 578px;
        }

        .video-youtube .box {
            padding: 16px;
        }

        #play-youtube {
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .about-dhc img.bestme-block-banner-custom {
            border-radius: 0;
            width: 100%;
        }

        .bg-partner .block-home {
            display: block !important;
            padding: 16px;
            transform: translateY(15px);
        }

        .partner .photo .side-front .image {
            width: 238px;
            height: 300px;
            line-height: initial;
        }

        .news-box {
            margin-top: 32px;
        }
    }
</style>
