{{ header }}

<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            {% for breadcrumb in breadcrumbs %}
                <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% endfor %}
        </nav>
    </div>
</div>

<div class="block-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="block-list-blog">
                    {% if blog_list is empty %}
                        <p style="text-align: center">Không có bài viết</p>
                    {% else %}
                        {% for blog in blog_list %}
                        <!-- blog-item -->
                            <div class="blog-item">
                                <h5 class="type-blog main-font hover-color">{{ blog['category']['title'] }}</h5>
                                <h3 class="name-blog main-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>
                                <div class="meta-blog">
                                    <div class="author">
                                        <span class="date">{{ blog['date_added']|date('Y-m-d') }} </span>bởi <a href="javascript:;">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                    </div>
                                    {#<div class="view"><span>3.500 </span>lượt xem</div>#}
                                </div>
                                <div class="thumb text-center">
                                    <img class="img-fluid" src="{{ blog['image'] }}" alt="">
                                </div>
                                <div class="desc">
                                    {{ blog['short_content']|html_entity_decode|striptags }}
                                </div>
                                <a class="btn view-more main-font" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                            </div>
                        <!-- blog-item -->
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="block-pagination text-left">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {{ pagination }}
                        </ul>
                    </nav>
                </div>
            </div>

            {# TODO: use var theme_dir instead of hardcode... #}
            {% include ('beauty_hani/template/blog/blog_nav_template.twig') %}
        </div>
    </div>
</div>

{{ footer }}