<!-- Box Product -->
{% for k, block in blocks %}
    {% set break_index = block['grid'] * block['row'] %}
    {% if block['collections'] is not empty %}
        <div class="box-product block-most-sale-product mt-3 mt-md-5 pb-3">
            <div class="container">
                <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ block['title'] }}</h2>
                <div class="row">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} col-{{ 12 / block['grid'] }} collection">
                            <div class="pro-item">
                                <div class="pro-thumb position-relative">
                                    <img data-src="{{ collection['image'] }}" class="lazyload" height="500" width="200" alt="{{ collection['title'] }}">
                                </div>
                                <div class="pro-info text-center px-3">
                                    <a href="{{ collection['url'] }}" class="pro-item-title text-black d-block my-1">
                                        {{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container pt-3">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="box-product block-top-sale-product mt-3 mt-md-5 pb-3">
            <div class="container">
                <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ block['title'] }}</h2>
                <div class="owl-product owl-carousel owl-theme" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                    {% set col_xl = 12/ block['grid']  %}
                    {% for k,product in block['products'] %}
                        {% if k % break_index  == 0 %}
                            <div class="slide-item">
                            <div class="row">
                        {% endif %}
                        <div class="col-{{ col_xl }} col-sm-6 col-lg-{{ col_xl }} px-2 mb-3">
                            <div class="pro-item">
                                <div class="pro-thumb position-relative">
                                    <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                    <div class="pro-list-type top">
                                        {% if product['is_new_product'] %}
                                            <span class="left">Mới</span>
                                        {% endif %}
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="right">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="pro-list-type bottom">
                                        {% if product['product_is_stock'] == false %}
                                            <span class="left">Tạm hết hàng</span>
                                        {% endif %}
                                        {% if product['is_best_sale_product'] %}
                                            <span class="right">HOT</span>
                                        {% endif %}
                                    </div>
                                    <!-- Pro Overlay -->
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> {#class : buy-now to show popup#}
                                        <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                    </div>
                                    <!-- EnD: Pro Overlay -->
                                </div>
                                <!-- Star Rate -->
                                <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End: Star Rate -->
                                <div class="pro-info text-center px-3">
                                    <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    <div class="pro-price my-2">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                                    {{ contact }}
                                                </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                            {% else %}
                                                <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                                <span class="old-price text-info fz-16">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="add-tp-cart">
                                        <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                            </div><!-- End row -->
                            </div><!-- End slide-item -->
                        {% endif %}
                    {% endfor %}
                </div> <!-- End owl-product -->
            </div> <!-- End container -->
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </div>

        {% if 0 == k %}
            {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
                <div class="box-banner block-ads-banner mt-3 mt-md-5 pb-3">
                    <div class="container">
                        <a target="_blank" href="{{ banner_middle['url'] }}" class="w-100">
                            <img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}">
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
<!-- End: Box Product -->
<!-- Box Product -->
{#{% if hot_product_visible %}
    <div class="box-product block-top-sale-product mt-3 mt-md-5 pb-3">
        <div class="container">
            <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ hot_product_title }}</h2>
            <div class="owl-product owl-carousel owl-theme">
                {% set col_xl = 12/hot_products_display_grid_quantity %}
                {% set break_index = hot_products_display_grid_quantity * 2   %}
                {% for k,product in hot_products %}
                    {% if k % break_index  == 0 %}
                        <div class="slide-item">
                        <div class="row">
                    {% endif %}
                            <div class="col-sm-6 col-lg-{{ col_xl }} px-2 mb-3">
                                <div class="pro-item">
                                    <div class="pro-thumb position-relative">
                                        <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                                        <div class="pro-list-type top">
                                            {% if product['is_new_product'] %}
                                                <span class="left">Mới</span>
                                            {% endif %}
                                            {% if product['percent_sale'] is not empty %}
                                                <span class="right">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="pro-list-type bottom">
                                            {% if product['product_is_stock'] == false %}
                                                <span class="left">Tạm hết hàng</span>
                                            {% endif %}
                                            {% if product['is_best_sale_product'] %}
                                                <span class="right">HOT</span>
                                            {% endif %}
                                        </div>
                                        <!-- Pro Overlay -->
                                        <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                            <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> #}{#class : buy-now to show popup#}{#
                                            <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                        </div>
                                        <!-- EnD: Pro Overlay -->
                                    </div>
                                    <!-- Star Rate -->
                                    <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star star-rate"></span>
                                            </li>
                                            <li class="list-inline-item mr-0">
                                                <span class="star"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End: Star Rate -->
                                    <div class="pro-info text-center px-3">
                                        <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        <div class="pro-price my-2">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="product-price">
                                        {{ contact }}
                                    </span>
                                            {% else %}
                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                            {% endif %}
                                        </span>
                                                    <span class="old-price text-info fz-16">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="add-tp-cart">
                                            <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% if k % break_index == break_index -1 or k + 1 == hot_products|length %}
                        </div><!-- End row -->
                        </div><!-- End slide-item -->
                    {% endif %}
                {% endfor %}
            </div> <!-- End owl-product -->
        </div> <!-- End container -->
    </div>
{% endif %}#}
<!-- End: Box Product -->

<!-- Box Banner -->
{#  {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
      <div class="box-banner block-ads-banner mt-3 mt-md-5 pb-3">
          <div class="container">
              <a target="_blank" href="{{ banner_middle['url'] }}" class="w-100">
                  <img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}">
              </a>
          </div>
      </div>
  {% endif %}#}
<!-- End: Box Banner -->

<!-- Box Product -->
{#{% if best_sales_product_visible %}
    <div class="box-product block-most-sale-product mt-3 mt-md-5 pb-3">
        <div class="container">
            <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ best_sales_product_title }}</h2>
            <div class="owl-product owl-carousel owl-theme">
                {% for product in best_sales_product %}
                    <div class="pro-item">
                        <div class="pro-thumb position-relative">
                            <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                            <div class="pro-list-type top">
                                {% if product['is_new_product'] %}
                                    <span class="left">Mới</span>
                                {% endif %}
                                {% if product['percent_sale'] is not empty %}
                                    <span class="right">{{ product['percent_sale'] }}</span>
                                {% endif %}
                            </div>
                            <div class="pro-list-type bottom">
                                {% if product['product_is_stock'] == false %}
                                    <span class="left">Tạm hết hàng</span>
                                {% endif %}
                                {% if product['is_best_sale_product'] %}
                                    <span class="right">HOT</span>
                                {% endif %}
                            </div>
                            <!-- Pro Overlay -->
                            <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> class : buy-now to show popup
                                <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                            </div>
                            <!-- EnD: Pro Overlay -->
                        </div>
                        <!-- Star Rate -->
                        <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star"></span>
                                </li>
                            </ul>
                        </div>
                        <!-- End: Star Rate -->
                        <div class="pro-info text-center px-3">
                            <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                            <div class="pro-price my-2">
                                {% if product['is_contact_for_price'] %}
                                    <span class="product-price">
                                        {{ contact }}
                                    </span>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                            {% endif %}
                                        </span>
                                        <span class="old-price text-info fz-16">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="add-tp-cart">
                                <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> <!-- End owl-product -->
        </div>
    </div>
{% endif %}#}
<!-- End: Box Product -->

<!-- Box Product -->
{#{% if new_product_visible %}
    <div class="box-product block-newest-product mt-3 mt-md-5 pb-3">
        <div class="container">
            <h2 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ new_product_title }}</h2>
            <div class="owl-product owl-carousel owl-theme owl-hidden-dots">
                {% for product in new_products %}
                    <div class="pro-item">
                        <div class="pro-thumb position-relative">
                            <img data-src="{{ product['thumb'] }}" class="lazyload" height="500" width="200" alt="">
                            <div class="pro-list-type top">
                                {% if product['is_new_product'] %}
                                    <span class="left">Mới</span>
                                {% endif %}
                                {% if product['percent_sale'] is not empty %}
                                    <span class="right">{{ product['percent_sale'] }}</span>
                                {% endif %}
                            </div>
                            <div class="pro-list-type bottom">
                                {% if product['product_is_stock'] == false %}
                                    <span class="left">Tạm hết hàng</span>
                                {% endif %}
                                {% if product['is_best_sale_product'] %}
                                    <span class="right">HOT</span>
                                {% endif %}
                            </div>
                            <!-- Pro Overlay -->
                            <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                <a href="{% if product['product_is_stock'] == false %} javascript:void(0); {% else %} {{ product['href'] }} {% endif %}" class="btn {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm vào giỏ</a> #}{#class : buy-now to show popup#}{#
                                <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                            </div>
                            <!-- EnD: Pro Overlay -->
                        </div>
                        <!-- Star Rate -->
                        <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star"></span>
                                </li>
                            </ul>
                        </div>
                        <!-- End: Star Rate -->
                        <div class="pro-info text-center px-3">
                            <a href="{{ product['href'] }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                            <div class="pro-price my-2">
                                {% if product['is_contact_for_price'] %}
                                    <span class="product-price">
                                        {{ contact }}
                                    </span>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        <span class="new-price text-primary fw-600 fz-20">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                            {% endif %}
                                        </span>
                                        <span class="old-price text-info fz-16">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="add-tp-cart">
                                <a id="add-cart" href="{{ product['href'] }}" class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 py-1 text-uppercase">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}#}
<!-- End: Box Product -->