<!-- Box Custommer -->
{% if partners_visible == '1' %}
    <div class="box-custommer mt-3 mt-md-5 pb-3">
        <div class="container">
            <div class="box-title-center text-center mb-3">
                <h3 class="box-title text-center fz-18 fw-600 text-uppercase d-inline-block">{{ partners_title }}</h3>
            </div><!-- /.box-title-center -->
            <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="item">
                        <a href="{{ partner.url }}">
                            <div class="custommer-avt" style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;"></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- End: Box Custommer -->