.block-header .block-header-action .action-user .dropdown .dropdown-toggle:hover,
.block-footer .widget-footer h5,
.block-headding-elm .breadcrumb a:hover,
.block-sidebar .widget-sidebar .widget-title,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li:hover > a,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li:hover::before,
.block-sidebar .widget-sidebar .widget-content .list-sidenews .news-item .news-content .name a:hover,
.block-list-news .news-item .news-content .name a:hover,
.block-list-news .news-item .news-content .desc a,
.block-news-detail .block-share .tag .color,
.block-news-detail .block-share .share a:hover,
.block-comment .title-block,
.block-comment .comment-list .comment-item .comment-content .btn-reply:hover,
.block-comment .block-form-rating .form-group-rating .rating .form-group label.star,
.item-news .text-new .ttl-new a:hover,
.block-comment .block-form-rating .form-group-rating .rating .form-group input.star:checked ~ label.star:before,
.item-news .text-new .read-more,
.block-about-page .about-content .title,
.block-contact-page .contact-item .text a:hover,
.block-table-cart table tbody tr td .cart-product-item .cart-product-info .name a:hover,
.block-user-login .user-login .form-login .form-group a:hover,
.block-product-detail-page .owl-detail .owl-nav .owl-prev:hover,
.block-product-detail-page .owl-detail .owl-nav .owl-next:hover,
.block-product-detail-page .block-detail .price-box .price-new,
.block-product-detail-page .block-detail .block-custom-change .change-item .form-check .form-check-input:checked ~ span,
.block-product-detail-page .block-detail .tags a,
.block-product-detail-page .block-detail .tags span,
.block-product-detail-page .block-detail .block-category-type a,
.block-product-detail-page .block-detail .block-category-type span,
.block-product-detail-page .block-detail .tags a,
.block-product-detail-page .block-detail .block-category-type a,
.block-product-detail-page .block-detail .tags a:hover,
.block-product-detail-page .block-detail .block-category-type a:hover,
.block-product-detail-page .block-description .nav-tabs .nav-item .active,
.block-product-detail-page .block-comment .block-form-rating .form-group-rating h3,
.block-product-detail-page .block-comment .block-form-rating .form-group-rating .rating .form-group label.star,
.block-account-page .block-cart-head h1,
.block-address-page .elm-address .user-address .user-address-item .action-address .btn-delete,
.block-address-page .elm-address .user-address .form-payment .action-address .btn-delete
{
    color: $MAIN_COLOR$;
}
.block-header-menu,
.block-footer .widget-footer .social ul li a:hover,
.item-news .img-new .date,

#block-header-top

{
    background: $MAIN_COLOR$;
}
.block-footer .copy-right,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li .custom-check input:checked ~ .checkmark,
.block-sidebar .widget-sidebar .widget-content .change-price #slider-range .ui-widget-header,
.dropdown-item.active, .dropdown-item:active,
.order-bestme .bestme-table--cart thead th,
.order-bestme .bestme-btn--primary,
.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover
{
    background-color: $MAIN_COLOR$ !important;
}
.block-sidebar .widget-sidebar .widget-content .menu-side ul li .custom-check input:checked ~ span,
.block-table-cart table tbody tr td .quantity input:focus,
.block-product-detail-page .owl-detail .owl-nav .owl-prev:hover,
.block-product-detail-page .owl-detail .owl-nav .owl-next:hover,
.block-product-detail-page .block-detail .block-custom-change .change-item .form-check .form-check-input:checked ~ span,
.block-product-detail-page .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span
{
    border-color: $MAIN_COLOR$;
}

.block-footer .widget-footer .social ul li a:hover,
.desc-cart .btn-continue,

.block-sidebar .widget-sidebar .widget-content .change-price #slider-range .ui-slider-handle {
    border: solid 2px $MAIN_COLOR$;
}

.block-table-cart table tbody tr td .btn-close:hover svg path,
.block-product-detail-page .block-detail .social ul li a:hover svg path
{
    fill: $MAIN_COLOR$;
}
.desc-cart .btn-continue {
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$ !important;
}
.block-product-detail-page .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span svg path {
    fill:  $MAIN_COLOR$;
    stroke:  $MAIN_COLOR$;
}
.insert-main-color-selector-here
{
    color: $BUTTON_COLOR$;
}

/** color button override **/
.desc-cart .btn-cart,
.desc-cart .btn-continue:hover,
.block-account-page .block-user-infor .btn-setting,
.block-address-page .header-address .btn-add-address,
.block-address-page .elm-address .user-address .user-address-item .action-address .btn-edit,
.block-address-page .elm-address .user-address .form-payment .action-address .btn-edit
{
    background: $BUTTON_COLOR$ !important;
}
.pagination .active a,.block-footer .widget-footer form .form-group .btn-submit {
    background-color: $BUTTON_COLOR$ !important;
    border-color: $BUTTON_COLOR$ !important;
}
.block-sidebar .widget-sidebar .widget-content .change-price .form-change .btn-filter,
.block-comment .block-form-rating .form-group-rating .btn-submit,
.block-contact-page .form-contact .form-group .btn-submit,
.block-user-login .user-login .form-login .form-group .btn-submit,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-action:hover,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-buy,
.block-product-detail-page .block-comment .block-form-rating .form-group-rating .btn-submit{
    background-color: $BUTTON_COLOR$ !important;
}
.block-product-detail-page .block-detail .block-custom-change .form-action .btn,
a.btn.btn-buy
{
    border: 1px solid $BUTTON_COLOR$;
}
