<div class="content-popup">
    <section class="popup-upload">
        <div class="popup-head">
            <h3>{{ heading_title }}</h3>
            <div class="close-btn">
                <img src="view/image/theme/close.png" alt="">
            </div>
        </div>
        <div class="popup-content">
            <div class="search-form">
                <div class="form-group">
                    <button type="button" title="{{ text_delete_title }}" class="btn btn-delete" id="delete-images"><img
                                src="view/image/theme/delete.png" alt="delete images"></button>
                    <input type="text" name="" value="{{ filter_name }}" id="image-search" class="form-control"
                           placeholder="{{ entry_search }}"
                           aria-describedby="helpId">
                    <input type="hidden" value="{{ image_folder }}" id="image_folder">
                </div>
            </div>
            <div class="list-upload">
                <div class="row-s" id="list-folder">
                    {% if folders %}
                        <div class="col-sm-12">
                            <h4 class="text-left">{{ txt_folder }}</h4>
                        </div>
                        {% for folder in folders %}
                            {% if folder.status == 1 %}
                            <div class="col-sm-4">
                                <div class="upload-item {{ folder.status == 1 ? '' : 'hide' }}">
                                    <div class="folder-item d-flex align-items-center" data-href="{{ folder.id }}">
                                        <img src="view/image/custom/icons/icon_folder.svg">
                                        <span style="overflow: hidden" title="{{ folder.name }}">{{ folder.name }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row-s" id="list-images">
                    <div class="col-sm-12">
                        <h4 class="text-left">{{ heading_title_image }}</h4>
                    </div>
                    <div class="col-s-3">
                        <div class="upload-item upload-default">
                            <div class="box">
                                <form id="upload-image" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file[]" id="file-input"
                                           class="inputfile inputfile-5"
                                           data-multiple-caption="{count} files selected" multiple/>
                                    <label for="file-input"> <img class="img-fluid"
                                                                  src="{{ placeholder_image }}" alt="">
                                    </label>
                                    <input type="hidden" name="folder_path" value="{{ image_folder }}">
                                </form>
                            </div>
                        </div>
                    </div>
                    {% for image in images %}
                        <div class="col-s-3">
                            <div class="upload-item">
                                <input type="hidden" name="image_selected[]" class="image-selected"
                                       value="{{ image['path'] }}">
                                <input type="hidden" class="image_id" value="{{ image.image_id }}" />
                                <div class="focus-check">
                                </div>
                                <div class="thumb">
                                    <img class="img-fluid" title="{{ image.name }}" src="{{ image['thumb'] }}"
                                         alt="{{ image['name'] }}">
                                </div>
                            </div>
                            <p style="overflow: hidden" title="{{ image.name }}">{{ image.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <button class="btn btn-pink pull-right m-2" id="btn-apply">{{ button_apply }}</button>
    </section>
</div>
<div id="image-loading-image"></div>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/image_manager.css">
<script src="view/javascript/custom/image_manager.js"></script>
<script type="text/javascript">
    $(".folder-item").click(function(){
        var image_folder = $(this).attr('data-href');
        var url = 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token') + '&image_folder=' + image_folder+'&max_images={{ max_images }}';
        var single = '{{ single}}' ? '{{ single}}' : '';
        var thumb = '{{ thumb }}' ?  '{{ thumb }}' : '';
        var target = '{{ target }}' ?  '{{ target }}' : '';
        if(single){
            url += '&single=' + single;
        }
        if(thumb) {
            url += '&thumb=' + thumb;
        }
        if(target) {
            url += '&target=' + target;
        }

        $.ajax({
            url: url,
            dataType: 'html',
            beforeSend: function () {
                $('#image-loading-image').show();
            },
            complete: function () {

            },
            success: function (html) {
                $('#image-loading-image').hide();
                $('.content-popup').html(html);
            }
        });
    });
    $(document).ready(function () {
        // active upload
        $("#list-images").on('click', '.focus-check', function () {
            $(this).parent().toggleClass("active");
        });
        $("#list-images").on('click', '.thumb', function () {
            $(this).parent().toggleClass("active");
        });

        var next_cursor = '{{ next_cursor }}';
        var image_folder = $('#image_folder').val();
        $('.list-upload').scroll(function () {
            if (next_cursor !== '' && $(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {

                $.ajax({
                    url: 'index.php?route=common/filemanager/ajaxLoadMore&user_token=' + getURLVar('user_token') + '&filter_name=' + '{{ filter_name }}' + '&page=' + next_cursor + '&image_folder=' + image_folder,
                    dataType: 'html',
                    beforeSend: function () {
                        $('#image-loading-image').show();
                    },
                    complete: function () {

                    },
                    success: function (data) {
                        $('#image-loading-image').hide();
                        data = JSON.parse(data);
                        next_cursor = data.next_cursor;
                        $.each(data.images, function (key, value) {
                            $('#list-images').append('<div class="col-s-3">\n' +
                                '<div class="upload-item">\n' +
                                '      <input type="hidden" name="image_selected[]" class="image-selected" value="' + value.path + '">\n' +
                                '      <input type="hidden" class="image_id" value="' + value.image_id + '" />' +
                                '      <div class="focus-check">\n' +
                                '      </div>\n' +
                                '      <div class="thumb">\n' +
                                '            <img class="img-fluid" title="' + value.name + '" src="' + value.thumb + '" alt="' + value.name + '">\n' +
                                '      </div>\n' +
                                '</div>\n' +
                                '<p style="overflow: hidden" title="' + value.name + '">' + value.name + '</p>' +
                                '</div>');
                        });
                        //SET HEIGHT//
                        var up_width = $('.upload-item .thumb').width();
                        $('.upload-item .thumb').css('height', up_width);
                    }
                });
            }
        });

        // search image
        $('#image-search').on('keyup', function (event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                var filter_name = $('#image-search').val();
                $.ajax({
                    url: 'index.php?route=common/filemanager/ajaxLoadMore&user_token=' + getURLVar('user_token') + '&filter_name=' + filter_name  + '&image_folder=' + image_folder,
                    dataType: 'html',
                    beforeSend: function () {
                        $('#image-loading-image').show();
                    },
                    complete: function () {

                    },
                    success: function (data) {
                        $('#image-loading-image').hide();
                        data = JSON.parse(data);
                        next_cursor = data.next_cursor;
                        var data_html = '';
                        data_html = data_html + '<div class="col-s-3">\n' +
                            '      <div class="upload-item upload-default">\n' +
                            '           <div class="box">\n' +
                            '                 <form id="upload-image" method="post" enctype="multipart/form-data">\n' +
                            '                       <input type="file" name="file[]" id="file-input"\n' +
                            '                               class="inputfile inputfile-5"\n' +
                            '                               data-multiple-caption="{count} files selected" multiple />\n' +
                            '                       <label for="file-input"> <img class="img-fluid" src="{{ placeholder_image }}" alt=""> </label>\n' +
                            '                 </form>\n' +
                            '           </div>\n' +
                            '      </div>\n' +
                            '</div>';
                        $.each(data.images, function (key, value) {
                            data_html = data_html + '<div class="col-s-3">\n' +
                                '<div class="upload-item">\n' +
                                '      <input type="hidden" name="image_selected[]" class="image-selected" value="' + value.path + '">\n' +
                                '      <input type="hidden" class="image_id" value="' + value.image_id + '" />' +
                                '      <div class="focus-check">\n' +
                                '      </div>\n' +
                                '      <div class="thumb">\n' +
                                '            <img class="img-fluid" title="' + value.name + '" src="' + value.thumb + '" alt="' + value.name + '">\n' +
                                '      </div>\n' +
                                '</div>\n' +
                                '<p style="overflow: hidden" title="' + value.name + '">' + value.name + '</p>' +
                                '</div>';
                        });
                        $('#list-images').html(data_html);
                        //SET HEIGHT//
                        var up_width = $('.upload-item .thumb').width();
                        $('.upload-item .thumb').css('height', up_width);
                    }
                });
            }
        });

        // delete images
        $('#delete-images').on('click', function (e) {
            var image_ids = [];
            $('.upload-item').each(function () {
                if ($(this).hasClass('active')) {
                    var image_id = $(this).find('.image_id').val();
                    if (image_id != null) {
                        image_ids.push(image_id)
                    }
                }
            });
            if (image_ids.length < 1) {
                alert('{{ no_selected_to_delete }}');
                return;
            }
            var txt_confirm = '{{ text_confirm_delete_images }}';
            txt_confirm = txt_confirm.replace('$numImage', image_ids.length);
            confirmBox(txt_confirm, function (result) {
                if(result){
                    $.ajax({
                        url: 'index.php?route=common/filemanager/delete&user_token={{ user_token }}',
                        type: 'post',
                        dataType: 'json',
                        data: {image_ids: image_ids},
                        beforeSend: function () {
                            $('#image-loading-image').show();
                        },
                        complete: function () {
                        },
                        success: function (json) {
                            $('#image-loading-image').hide();
                            if (json['error']) {
                                alert(json['error']);
                            }

                            if (json['success']) {
                                alert(json['success']);

                                refesh();
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            });
        });
    });

    // upload image
    $('#list-images').on('change', '#file-input', function () {
        var upload_href = '{{ upload_href|raw }}'.replace(/&amp;/g, '&');
        $.ajax({
            url: upload_href,
            type: 'post',
            dataType: 'json',
            data: new FormData($('#upload-image')[0]),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                $('#image-loading-image').show();
            },
            complete: function () {

            },
            success: function (json) {
                $('#image-loading-image').hide();
                if (json['error']) {
                    alert(json['error']);
                }

                if (json['success']) {
                    alert(json['success']);
                }

                refesh();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                refesh();
            }
        });
    });

    // apply images
    $('#modal-container #btn-apply').on('click', function (e) {
        var single = '{{ single }}'
        if (single){
            console.log("applyForSigleselect")
            applyForSigleselect();
        }else{
            applyForProductForm();
        }
    });

    function applyForProductForm() {
        console.log("applyForProductForm")
        data = getImageschecked();
        imageExists = $('.product-image-preview .img-item');
        if (data.length !== 0) {
            // add logic add product version image
            const isProductImage = isNaN(parseInt(selectProductVersion))
            const totalLimitedImages = isProductImage ? 7 : 1;
            const reachTotalLimitedImages = isProductImage ? parseInt(data.length + imageExists.length) > totalLimitedImages : data.length > totalLimitedImages;
            if (reachTotalLimitedImages) {
                const msg = isProductImage ? '{{ warning_for_num_of_images }}' + (totalLimitedImages - imageExists.length) : '{{ warning_for_single_select }}';
                alert(msg);
            } else {
                if (isProductImage) {
                    // product images
                    $('.product-image-preview .product-img-exp').remove();
                    var count = 0;
                    $('.product-image-preview .img-item').each(function () {
                        if (count < this.id.match(/\d+/)) {
                            count = parseInt(this.id.match(/\d+/));
                        }
                    });
                    var countContainer = 0;
                    $('.product-image-preview .image-container').each(function () {
                        if (countContainer < this.id.match(/\d+/)) {
                            countContainer = parseInt(this.id.match(/\d+/));
                        }
                    });
                    $.each(data, function (key, value) {
                        count = count + 1;
                        countContainer = countContainer + 1;
                        if ($('#product-thumb').find('.img-item').length < 1) {
                            $('\n' +
                                ' <div id="product-image-' + count + '" class="product-img img-item bg-light border rounded-2 product-img-wrapper" data-toggle="modal" data-target="#imagePreviewModal">\n' +
                                '      <img src="' + value + '">\n' +
                                '      <a id="delete-image"><i class="icon icon-close bg-white remove-image"></i></a>\n' +
                                '      <input type="hidden" name="images[]" value="' + value + '">\n' +
                                '      <input type="hidden" name="image-alts[]" class="seo-alt">\n' +
                                '</div>').appendTo($('#product-thumb'));
                        } else {
                            $('\n' +
                                '<div id="image-container-' + countContainer + '" class="col-4 mb-2 image-container">\n' +
                                '     <div id="product-image-' + count + '" class="product-img img-item bg-light border rounded-2 product-img-wrapper" data-toggle="modal" data-target="#imagePreviewModal">\n' +
                                '          <img src="' + value + '">\n' +
                                '          <a id="delete-image"><i class="icon icon-close bg-white remove-image"></i></a>\n' +
                                '          <input type="hidden" name="images[]" value="' + value + '">\n' +
                                '          <input type="hidden" name="image-alts[]" class="seo-alt">\n' +
                                '     </div>\n' +
                                '</div>').appendTo($('#product-images'));
                        }
                    });
                    if (parseInt(data.length + imageExists.length) < 7) {
                        $('#list-images-1').show();
                    } else {
                        $('#list-images-1').hide();
                    }

                    checkThumbExist();
                    checkNumOfImages();
                } else {
                    // product version image
                    $(`#product-version-thumb-${selectProductVersion} .product-img-exp`).remove();

                    // update image thumb html
                    // data length should be 1
                    data.forEach(value => {
                        $(`<div id="product-version-image-${selectProductVersion}"
                             class="product-img img-item bg-light border rounded-2 product-img-wrapper product-version-img"
                             data-toggle="modal" data-target="#imagePreviewModal">
                            <img src="${value}" alt="">
                            <a id="delete-image">
                                <i class="icon icon-close bg-white remove-image"></i>
                            </a>
                            <input type="hidden" name="product_version_images[]" value="${value}">
                            <input type="hidden" value="" name="product_version_image_alts[]" class="seo-alt">
                        </div>`).prependTo($(`#product-version-thumb-${selectProductVersion}`));
                    })
                }

                $('#modal-container').removeClass('one');
            }
        }else{
            alert('{{ no_image_selected }}');
        }
        $('.img-item').each(function () {
            $(this).height($(this).width());
        });
    }

    function applyForSigleselect() {
        data = getImageschecked();
        imageExists = $('.img-item');
        if (data.length !== 0) {
            if (data.length > 1){
                alert('{{ warning_for_single_select }}');
                
                return;
            }
            $('#{{ thumb }}').find('img').attr('src', data[0]);

            $('#{{ target }}').val(data[0]).change();
            $('#modal-container').removeClass('one');
        }else{
            alert('{{ no_image_selected }}');
        }
    }

    function getImageschecked() {
        var selected = [];
        $('.upload-item').each(function () {
            if ($(this).hasClass('active')) {
                var image_path = $(this).find('.image-selected').val();
                if (image_path != null) {
                    selected.push(image_path)
                }
            }
        });

        return selected;
    }

    function removeAllchecked() {
        $('.upload-item').each(function () {
            $(this).removeClass('active');
        });
    }

    function refesh() {
        $('#image-loading-image').show();
        var url = '{{ refresh|raw }}'.replace(/&amp;/g, '&');
        setTimeout(function(){
            $('#modal-container .modal').load(url);
        }, 1000);
    }

    // js in product form

    function checkNumOfImages() {
        var count = $('#product-images .product-img-wrapper').length;
        var count_exp = $('.product-image-preview .product-img-exp').length;

        // var append = 7 - count - count_exp;
        // for (let i =0; i < append; i++){
        if (count < (parseInt('{{ max_images }}') - 1) && count_exp === 0) {
            for (let i = 0; i < 1; i++) { // < 7
                $('#product-images').append('\n' +
                    '<div class="col-4 mb-2 product-img-exp file-upload">\n' +
                    '     <div class="rounded-2">\n' +
                    '     <img src="{{ placeholder_image }}" width="250" height="250">\n' +
                    '     </div>\n' +
                    '</div>');
            }
        }
    }

    function checkThumbExist() {
        var count = $('.product-image-preview .product-img-wrapper').length;
        if (count === 0) {
            $('.product-image-preview .product-img-exp').remove();
            $('#product-thumb').append('' +
                '<div class="product-img-exp rounded-2 file-upload">\n' +
                '     <img src="{{ placeholder_image }}" class="" width="250" height="250">\n' +
                '</div>');
        }
    }
</script>

<style type="text/css">
    .select2-selection__clear {
        display: none !important;
    }

    .img-wrapper {
        border: 1px solid #e8eef7;
        width: 120px;
        height: 120px;
        display: flex;
    }

    .img-wrapper:hover {
        border: 2px solid #428cf4 !important;
    }

    .img-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    .product-img-wrapper {
        border: 1px solid #e8eef7;
        display: flex;
    }

    .product-img-wrapper:hover {
        border: 2px solid #428cf4 !important;
    }

    .product-img-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
</style>
