{#<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="screen" />#}
<div id="filemanager" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{ xheading_titlex }}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-5"><a href="{{ parent }}" data-toggle="tooltip" title="{{ button_parent }}" id="button-parent" class="btn btn-default"><i class="fas fa-level-up-alt"></i></a> <a href="{{ refresh }}" data-toggle="tooltip" title="{{ button_refresh }}" id="button-refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
          <button type="button" data-toggle="tooltip" title="{{ button_upload }}" id="button-upload" class="btn btn-primary"><i class="fa fa-upload"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_folder }}" id="button-folder" class="btn btn-default"><i class="fa fa-folder"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" id="button-delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_apply }}" id="button-apply" class="btn btn-success"><i class="fas fa-check"></i></button>
        </div>
        <div class="col-sm-7">
			<div style="float: right">
			  <div class="input-group">
				<input type="text" name="search" value="{{ filter_name }}" placeholder="{{ entry_search }}" class="form-control-sm">
				<span class="input-group-btn">
				<button type="button" data-toggle="tooltip" title="{{ button_search }}" id="button-search" class="btn btn-primary"><i class="fa fa-search"></i></button>
				</span></div>
			</div>
        </div>
      </div>
      <hr />
      {% for image in images|batch(4) %}
      <div class="row">
        {% for image in image %}
        <div class="col-sm-3 col-xs-6 text-center">
          {% if image.type == 'directory' %}
          <div class="text-center"><a href="{{ image.href }}" class="directory" style="vertical-align: middle;"><i class="fa fa-folder fa-5x"></i></a></div>
          <label>
            <input type="checkbox" name="path[]" value="{{ image.path }}" />
            {{ image.name }}</label>
          {% endif %}
          {% if image.type == 'image' %}
          <label href="{{ image.href }}" class="thumbnail">
			<div class="img-wrapper" onclick="toggle('{{image.image_id}}');">
          		<img src="{{ image.thumb }}" alt="{{ image.name }}" title="{{ image.name }}" class="img-responsive text-center"/>
          	</div>
          </label><br>
          <label>
            <input type="checkbox" id="checked_{{image.image_id}}" class="image-checkbox" name="path[]" value="{{ image.path }}" />
            {{ image.name }}</label>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <br />
      {% endfor %}
    </div>
    <div class="modal-footer">{{ pagination }}</div>
  </div>
</div>
<div id="image-loading-image"></div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#image-loading-image').hide();
    });
</script>
<script type="text/javascript"><!--
{% if target %}
$('a.thumbnail').on('click', function(e) {
	e.preventDefault();

	{#{% if thumb %}#}
	{#$('#{{ thumb }}').find('img').attr('src', $(this).find('img').attr('src'));#}
	{#{% endif %}#}

	{#$('#{{ target }}').val($(this).parent().find('input').val());#}

	{#$('#modal-image').modal('hide');#}
});
{% endif %}

$('.image-checkbox').on('change', function(){
    var current = $(this);
    if(current.is(':checked')){
        current.parent().siblings().find('.img-wrapper').css({"border": "2px solid #428cf4"});
    }else{
        current.parent().siblings().find('.img-wrapper').css({"border": "1px solid #e8eef7"});
    }
});


$('a.directory').on('click', function(e) {
	e.preventDefault();
    $('#image-loading-image').show();
	$('#modal-image').load($(this).attr('href'));
});

$('.pagination a').on('click', function(e) {
	e.preventDefault();
    $('#image-loading-image').show();
	$('#modal-image').load($(this).attr('href'));
});

$('#button-parent').on('click', function(e) {
	e.preventDefault();
    $('#image-loading-image').show();
	$('#modal-image').load($(this).attr('href'));
});

$('#button-refresh').on('click', function(e) {
	e.preventDefault();
    $('#image-loading-image').show();
	$('#modal-image').load($(this).attr('href'));
});

$('input[name=\'search\']').on('keydown', function(e) {
	if (e.which == 13) {
		$('#button-search').trigger('click');
	}
});

$('#button-search').on('click', function(e) {
	var url = 'index.php?route=common/filemanager&user_token={{ user_token }}&directory={{ directory }}';

	var filter_name = $('input[name=\'search\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	{% if thumb %}
	url += '&thumb=' + '{{ thumb }}';
	{% endif %}

	{% if target %}
	url += '&target=' + '{{ target }}';
	{% endif %}
    $('#image-loading-image').show();
	$('#modal-image').load(url);
});
//--></script>
<script type="text/javascript"><!--
$('#button-upload').on('click', function() {
	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file[]" value="" multiple="multiple" /></form>');

	$('#form-upload input[name=\'file[]\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file[]\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=common/filemanager/upload&user_token={{ user_token }}&directory={{ directory }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$('#button-upload i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
					$('#button-upload').prop('disabled', true);
                    $('#image-loading').show();
				},
				complete: function() {
					$('#button-upload i').replaceWith('<i class="fa fa-upload"></i>');
					$('#button-upload').prop('disabled', false);
				},
				success: function(json) {
                    $('#image-loading').hide();
					if (json['error']) {
						alert(json['error']);
					}

					if (json['success']) {
						alert(json['success']);

						$('#button-refresh').trigger('click');
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('#button-folder').popover({
	html: true,
	placement: 'bottom',
	trigger: 'click',
	title: '{{ entry_folder }}',
	content: function() {
		html  = '<div class="input-group">';
		html += '  <input type="text" name="folder" value="" placeholder="{{ entry_folder }}" class="form-control-sm" required maxlength="255">';
		html += '  <span class="input-group-btn"><button type="button" title="{{ button_folder }}" id="button-create" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></span>';
		html += '</div>';

		return html;
	}
});

$('#button-folder').on('shown.bs.popover', function() {
	$('#button-create').on('click', function() {
		$.ajax({
			url: 'index.php?route=common/filemanager/folder&user_token={{ user_token }}&directory={{ directory }}',
			type: 'post',
			dataType: 'json',
			data: 'folder=' + encodeURIComponent($('input[name=\'folder\']').val()),
			beforeSend: function() {
			    $('.popover ').hide();
				$('#button-create').prop('disabled', true);
                $('#image-loading').show();
			},
			complete: function() {
				$('#button-create').prop('disabled', false);
			},
			success: function(json) {
                $('#image-loading').hide();
				if (json['error']) {
					alert(json['error']);
				}

				if (json['success']) {
					alert(json['success']);

					$('#button-refresh').trigger('click');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
});

$('#modal-image #button-delete').on('click', function(e) {
	if (confirm('{{ text_confirm }}')) {
		$.ajax({
			url: 'index.php?route=common/filemanager/delete&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			data: $('input[name^=\'path\']:checked'),
			beforeSend: function() {
				$('#button-delete').prop('disabled', true);
                $('#image-loading').show();
			},
			complete: function() {
				$('#button-delete').prop('disabled', false);
			},
			success: function(json) {
                $('#image-loading').hide();
				if (json['error']) {
					alert(json['error']);
				}

				if (json['success']) {
					alert(json['success']);

					$('#button-refresh').trigger('click');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
});
$('#modal-image #button-apply').on('click', function(e) {
    data = $('.image-checkbox:checked');
    imageExists = $('.img-item');
    if(data.length !== 0){
        if(parseInt(data.length + imageExists.length) > 7){
            var msg = '{{ warning_for_num_of_images }}';
            alert(msg + (7-imageExists.length));
        }else{
            $('.product-img-exp').remove();
            var count = 0;
            $('.img-item').each(function () {
                if (count < this.id.match(/\d+/)){
                    count = parseInt(this.id.match(/\d+/));
                }
            });
            var countContainer = 0;
            $('.image-container').each(function () {
                if (countContainer < this.id.match(/\d+/)){
                    countContainer = parseInt(this.id.match(/\d+/));
                }
            });
            $.each( data, function() {
                count = count +1;
                countContainer = countContainer +1;
                if($('#product-thumb').find('.img-item').length < 1){
					$('\n' +
						' <div id="product-image-' + count + '" class="product-img img-item bg-light border rounded-2 product-img-wrapper" data-toggle="modal" data-target="#imagePreviewModal">\n' +
						'      <img src="'+ $(this).val() +'">\n' +
						'      <a id="delete-image"><i class="icon icon-close bg-white remove-image"></i></a>\n' +
                        '      <input type="hidden" name="images[]" value="'+ $(this).val() +'">\n' +
                        '      <input type="hidden" name="image-alts[]" class="seo-alt">\n' +
						'</div>').appendTo($('#product-thumb'));
                }else{
                    $('\n' +
                        '<div id="image-container-' + countContainer + '" class="col-4 mb-2 image-container">\n' +
                        '     <div id="product-image-' + count + '" class="product-img img-item bg-light border rounded-2 product-img-wrapper" data-toggle="modal" data-target="#imagePreviewModal">\n' +
                        '          <img src="'+ $(this).val() +'">\n' +
                        '          <a id="delete-image"><i class="icon icon-close bg-white remove-image"></i></a>\n' +
                        '          <input type="hidden" name="images[]" value="'+ $(this).val() +'">\n' +
                        '          <input type="hidden" name="image-alts[]" class="seo-alt">\n' +
                        '     </div>\n' +
                        '</div>').appendTo($('#product-images'));
				}
            });
            if(parseInt(data.length + imageExists.length) < 7){
                $('#list-images-1').show();
            }else{
                $('#list-images-1').hide();
            }

            $('#modal-image').modal('hide');
        }
    }
    $('.img-item').each(function () {
		$(this).height($(this).width());
    });
});
function toggle(image_id)
{
	if ($('#checked_'+image_id).is(":checked")) {
		$('#checked_'+image_id).prop('checked', false).change();
	} else{
		$('#checked_'+image_id).prop('checked', true).change();
	}
}

//--></script>
<style type="text/css">
  .select2-selection__clear{
    display: none !important;
  }
  .img-wrapper {
      border: 1px solid #e8eef7;
      width: 120px;
      height: 120px;
      display: flex;
  }

  .img-wrapper:hover{
	  border: 2px solid #428cf4 !important;
  }

  .img-wrapper > img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
  }
  .product-img-wrapper {
      border: 1px solid #e8eef7;
      display: flex;
  }

  .product-img-wrapper:hover{
	  border: 2px solid #428cf4 !important;
  }

  .product-img-wrapper > img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
  }
</style>
