<footer id="footer">
    {#{{ text_footer }}<br />{{ text_version }}#}
    {% if is_show_trial == 1 %}
        <div class="alert-footer">
            <span class="close" onclick="closeAlertFooter()" style="float: left; color: #ffffff; text-shadow: inherit"><i class="fa fa-window-close"></i></span>
            <div class="upgrade-alert">
                {% if trial_date > 0 %}
                    {% if packet_wait_for_pay == 1 %}
                        <span>{{ txt_packet_wait_for_pay_in_time|replace({'%date%': trial_date}) }}</span>
                    {% else %}
                        <span>{{ you_still }} {{ trial_date }} {{ trial_date_lang }}!</span>
                    {% endif %}
                {% else %}
                    {% if packet_wait_for_pay == 1 %}
                        <span>{{ txt_packet_wait_for_pay_out_time }}</span>
                    {% else %}
                        <span>{{ you_are_out_of_trial }}!</span>
                    {% endif %}
                {% endif %}
                {% if packet_wait_for_pay == 0 %}
                    <a href="{{ trial_url }}" target="_blank" class="btn btn-light text-light">{{ choose_a_usage_package }}</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</footer>

<!-- Modal confirm -->
<div class="modal fade" id="confirmBox" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ confirm_box_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="noCallback"
                        data-dismiss="modal">{{ confirm_box_btn_no }}
                </button>
                <button type="submit" form="abc" class="btn btn-pink" id="yesCallback">
                    {{ confirm_box_btn_yes }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal alert -->
<div class="modal fade" id="alert-box" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ alert_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" id="btn-alert" class="btn btn-pink" >
                    {{ alert_close }}
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    #modalContainer {
        background-color:rgba(0, 0, 0, 0.3);
        position:absolute;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index:99999999;
        background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
    }

    #alertBox {
        position:relative;
        width:300px;
        min-height:100px;
        margin-top:50px;
        background-color:#fff;
        background-repeat:no-repeat;
        background-position:20px 30px;
        border-radius: 5px;
        overflow: hidden;
        z-index: 99999999;
    }

    #alert-box {
        z-index: 99999999;
    }

    #modalContainer > #alertBox {
        position:fixed;
    }

    #alertBox h1 {
        margin:0;
        background-color:#ED348B;
        color:#FFF;
        padding:2px 0 2px 5px;
    }

    #alertBox p {
        padding: 30px 20px;
        text-align: center;
        margin-bottom: 0px;
    }

    #alertBox #closeBtn {
        display:block;
        position:relative;
        margin:5px auto;
        padding:7px;
        border:0 none;
        width:70px;
        text-transform:uppercase;
        text-align:center;
        color:#FFF;
        background-color:#ED348B;
        border-radius: 3px;
        text-decoration:none;
    }

    /* unrelated styles */

    #mContainer {
        position:relative;
        width:600px;
        margin:auto;
        padding:5px;
        border-top:2px solid #000;
        border-bottom:2px solid #000;
        font:0.7em verdana,arial;
    }

    #credits {
        position:relative;
        margin:25px auto 0px auto;
        width:350px;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        height:90px;
        padding-top:4px;
    }

    #credits img {
        float:left;
        margin:5px 10px 5px 0px;
        border:1px solid #000000;
        width:80px;
        height:79px;
    }

    /* Novaon livechat. Current not work due to XSS and CORS. TODO: other way... */
    .chat-wrapper .btn-start-chat {
        position: fixed;
        bottom: 3px;
        right: 3px;
        width: 40px;
        height: 40px;
    }

    /* align bottom-right */
    .oc-widget {
        right: -18px;
        bottom: -18px;
    }

    /* fix width override some admin buttons at bottom */
    .oc-widget-notif-new-message {
        width: 80px !important;
    }
    /* End Novaon livechat */
</style>

<script>
    var ALERT_TITLE = "{{ alert_title }}";
    var ALERT_BUTTON_TEXT = "{{ alert_close }}";

    if(document.getElementById) {
        window.alert = function(txt) {
            createCustomAlert(txt);
        }
    }

    function createCustomAlert(txt) {
        $('#alert-box').modal('show');
        $('#alert-box .modal-body').html(txt);
    }

    function removeCustomAlert() {
        document.getElementsByTagName("body")[0].removeChild(document.getElementById("modalContainer"));
    }

    function ful(){
        alert('Alert this pages');
    }

    function closeAlertFooter() {
        $('#footer .alert-footer').addClass('d-none');
    }

    // custom confirm box

    function confirmBox(msg, callback) {
        $('#confirmBox').modal('show');
        $('#confirmBox .modal-body').html(msg);

        $('#confirmBox #yesCallback').off('click').click(function() {
            $('#confirmBox').modal('hide');
            callback(true);
        });
        $('#confirmBox #noCallback').off('click').click(function() {
            $('#confirmBox').modal('hide');
            callback(false);
        });
    }
</script>

{#<!-- Novaon livechat -->#}
{#<script>#}
{#    console.log('Setting Novaon Widget OnCustomer (livechat)...');#}
{#    (function(d, s, id, t) {#}
{#        if (d.getElementById(id)) return;#}
{#        var js, fjs = d.getElementsByTagName(s)[0];#}
{#        js = d.createElement(s);#}
{#        js.id = id;#}
{#        js.src = "https://widget.oncustomer.asia/js/index.js?token=" + t;#}
{#        fjs.parentNode.insertBefore(js, fjs);}#}
{#    (document, "script", "oc-chat-widget-bootstrap", "50496f246df777c9551fe032af4e9891"));#}
{#</script>#}
{#<!-- End Novaon livechat -->#}

</div>
</body></html>
