<div class="content-popup">
    <section class="popup-upload">
        <div class="popup-content">
            <div class="list-upload">
                <div class="row" id="list-folder">
                    <div class="col-sm-12">
                        {% if folder_now %}
                            <a class="text-left folder-name d-flex align-items-center mb-3" href="{{ url_parent_folder }}">
                                <i class="fa fa-chevron-left"></i>
                                <span>{{ folder_now.name }}</span>
                            </a>
                        {% else %}
                            <h3>{{ txt_folder }}</h3>
                        {% endif %}
                    </div>
                    {% if folders %}
                    {% for folder in folders %}
                    <div class="col-sm-2">
                        <div class="upload-item {{ folder.status == 1 ? '' : 'hide' }}">
                            <input type="hidden" name="image_selected[]" class="image-selected"
                                   value="{{ folder['path'] }}">
                            <input type="hidden" class="folder_id" value="{{ folder.id }}" />
                            <div class="focus-check">
                            </div>
                            <a data-toggle="modal" href="#modal-edit-folder" class="btn-edit-folder" data-id="{{ folder.id }}" data-name="{{ folder.name }}">
                                <i class="icon icon-edit-2 mr-2 font-14 bg-pink"></i>
                            </a>
                            <a href="{{ folder.path }}">
                                <div class="folder-item d-flex align-items-center" data-href="{{ folder.id }}">
                                    <img src="view/image/custom/icons/icon_folder.svg">
                                    <span class="folder-item-name" title="{{ folder.name }}">{{ folder.name }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="row" id="list-images">
                    <div class="col-sm-12">
                        <h3>{{ heading_title_image }}</h3>
                    </div>
                    {% for image in images %}
                        <div class="col-sm-2">
                            <div class="upload-item {{ image.status == 1 ? '' : 'hide' }}">
                                <input type="hidden" name="image_selected[]" class="image-selected"
                                       value="{{ image['path'] }}">
                                <input type="hidden" class="image_id" value="{{ image.image_id }}" />
                                <div class="focus-check">
                                </div>
                                <div class="thumb text-center">
                                    <img class="img-fluid" title="{{ image.name }}" src="{{ image['thumb'] }}"
                                         alt="{{ image['name'] }}">
                                </div>
                            </div>
                            <p class="image-item-name" title="{{ image.name }}">{{ image.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>

<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->

<script>
    var up_width = $('.upload-item .thumb').width();
    $('.upload-item .thumb').css('height', up_width);

    $(".list-upload").on('click', '.focus-check', function () {
        $(this).parent().toggleClass("active");
    });
    $(".list-upload").on('click', '.thumb', function () {
        $(this).parent().toggleClass("active");
    });
</script>