{% if parent['folder_now'] %}
    <div class="get-list-foder" data-href="{{ parent['folder_parent'] }}">
        <span class="mr-3"><i class="fa fa-chevron-left"></i></span>
        <span>{{ parent['folder_now']['name'] }}</span>
    </div>
{% else %}
    <div class="folder-move-select">
        <div class="d-flex justify-content-between align-items-center">
            <span class="selected-folder" data-href ='0'><i class="fa fa-folder mr-3"></i> {{ root_folder_name }}</span>
        </div>
    </div>
{% endif %}
{% if folders %}
    {% for folder in folders %}
        <div class="folder-move-select">
            <div class="d-flex justify-content-between align-items-center">
                <span class="selected-folder" data-href="{{ folder.id }}"><i class="fa fa-folder mr-3"></i> {{ folder.name }}</span>
                <span class="get-list-foder" data-href="{{ folder.id }}"><i class="fa fa-chevron-right"></i></span>
            </div>
        </div>
    {% endfor %}
    <input type="hidden" id="folder_selected_id">
{% else %}
    <p>{{ txt_no_more_folders }}</p>
{% endif %}