<div id="modalProductNovaon" class="modal fade">
    <div class="modal-dialog modal-dialog-right" style="max-width:433px">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <img src="view/image/novaon_degital_first.svg">
                <button type="button" class="close pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times" style="font-size: 18px;"></i></span>
                </button>
            </div>

            <div class="modal-body pt-0 text-color-product">
                {# ecom #}
                <div class="mb-4">
                    <div class="text-center mb-3">
                        <hr class="hr-line-product">
                        <span class="text-uppercase group-title fs-xs">{{ txt_title_product_novaon_ecom }}</span>
                        <hr class="hr-line-product">
                    </div>

                    <div class="mb-1">
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://bestme.vn/bestme-website/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Bestme-website_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/bestme_website.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_bestme_website }}</span>
                                </a>
                            </li>
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://bestme.vn/bestme-pos/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Bestme-POS_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/bestme_pos.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_bestme_pos }}</span>
                                </a>
                            </li>
                            <li class="item-product align-items-center justify-content-center text-center">
                                <a class="text-color1"
                                   href="https://bestme.vn/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Bestme-San_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/bestme_page.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_bestme_platform }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-1">
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://chatbot3.novaonx.com/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Chatbot_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/chatbot.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_novaonx_chatbot }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://social.novaonx.com/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Social_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/social.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_novaonx_social }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center">
                                <a class="text-color1"
                                   href="https://onfluencer.net/Review/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Review_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/onfurencer.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onfluencer_review }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-1">
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://onfluencer.net/Seller/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Seller_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/onfurencer_review.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onfluencer_seller }}</span>
                                </a>
                            </li>
                            <li class="align-items-center justify-content-center text-center">
                            </li>
                            <li class="align-items-center justify-content-center text-center">
                            </li>
                        </ul>
                    </div>
                </div>
                {# end - ecom #}

                {# digital marketing #}
                <div class="mb-4">
                    <div class="text-center mb-3">
                        <hr class="hr-line-product">
                        <span class="text-uppercase group-title fs-xs">{{ txt_title_product_novaon_digital_marketing }}</span>
                        <hr class="hr-line-product">
                    </div>

                    <div class="mb-1">
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://autoads.asia/vi/cong-cu/maxlead/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_maxlead_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/maxlead.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_autoads_maxlead }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://maxpush.autoads.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_maxpush_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/maxpush.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_autoads_maxpush }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center">
                                <a class="text-color1"
                                   href="https://autoads.asia/vi/cong-cu/chan-click-ao/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Chanclickao_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/cfp.svg"><br>
                                    <span class="fs-xs" style="font-weight:400">{{ txt_product_novaon_cfp }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://autoads.asia/vi/cong-cu/googleshopping/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_googleshopping_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/gg_shopping.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_google_shopping }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://ongoogle1.autoads.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_On-google_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/on_google.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_on_google }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center">
                                <a class="text-color1"
                                   href="https://oncustomer.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Livechat_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/on_customer.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_oncustomer }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {# end- digital marketing #}

                {# digital transformation #}
                <div class="mb-4">
                    <div class="text-center mb-3">
                        <hr class="hr-line-product">
                        <span class="text-uppercase group-title fs-xs">{{ txt_title_product_novaon_digital_trans }}</span>
                        <hr class="hr-line-product">
                    </div>

                    <div class="mb-1">
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://onsales.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Onsales_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/on_sale_crm.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onsales_crm }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://onsales.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Caller_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/on_sale_caller.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onsales_caller }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center">
                                <a class="text-color1"
                                   href="https://onfinance.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Invoice_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/onfinance_invoice.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onfinance_invoice }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <ul class="ul-product ml-0 mb-0 pl-0">
                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://onsign.onfinance.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_Onsign_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/onfinance_onsign.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onfinance_onsign }}</span>
                                </a>
                            </li>

                            <li class="item-product align-items-center justify-content-center text-center mr-2">
                                <a class="text-color1"
                                   href="https://onpeople.asia/?utm_source=Bestme&amp;utm_medium=referral&amp;utm_campaign=Bestme_HRM_Admin"
                                   target="_blank">
                                    <img class="icon-product" src="view/image/product_novaon/onpeople_hrm.svg"><br>
                                    <span class="fs-xs"
                                          style="font-weight:400">{{ txt_product_novaon_onpeople_hrm }}</span>
                                </a>
                            </li>

                            <li class="align-items-center justify-content-center text-center">
                            </li>
                        </ul>
                    </div>
                </div>
                {# end - digital transformation #}
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        border-width: 0px;
    }

    .hr-line-product {
        width: 33px;
        display: inline-block;
        margin: 3px 12px;
        border-top: 1px solid #d8dde6;
    }

    .group-title {
        font-weight: 500;
    }

    .fs-xs {
        font-size: 0.75rem !important;
    }

    .ul-product {
        display: flex;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 100%;
        list-style: none;
        justify-content: center;
        /* align-items: center; */
    }

    .ul-product li {
        scroll-snap-align: start !important;
        scroll-snap-top: start !important;
        display: flex;
        /* max-width: 20%; */
        flex: 0 0 32%;
        padding: 4px 0px 6px;
    }

    .ul-product li.item-product:hover {
        background-color: #FCF7F9;
        border-radius: 5px;
    }

    .icon-product {
        margin-bottom: 2px;
    }

    .modal-dialog-right .modal-content {
        min-height: 100%;
        border-width: 0;
        border-radius: 0;
    }

    .modal-content {
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }

    .text-color1 {
        color: #3c3c43 !important;
    }

    @media screen and (max-width: 992px) {
        .product-novaon {
            display: none !important;
        }
    }
</style>