{{ header }}
<div id="content">
  <div class="container-fluid"><br />
    <br />
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-repeat"></i> {{ heading_title }}</h1>
          </div>
          <div class="panel-body">
            {{ text_notify }}
            <br><br>
            <div class="text-center">
              <a href="{{ bestme_home_link }}"><button type="button" class="btn btn-default">Quay lại trang đăng nhập</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}