<div class="col-md-4">
    <div class="cate-left">
        <h2 class="title-cate">Danh mục</h2>
        {% if blog_category is empty %}
            Không có danh mục
        {% else %}
        <ul class="news-cate">
            {% for blog in blog_category %}
                {% if loop.index < 5 %}
                    <li>
                        <a href="{{ blog['link'] }}">{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="news-left">
        <h2 class="title-cate">Bài viết nổi bật</h2>
        <ul class="list-news">
            {% if blog_list is empty %}
                Không có bài viết
            {% else %}
                {% for blog in blog_list|slice(0, 4) %}
                    <li>
                        <a href="{{ blog['link'] }}">
                            <img src="{{ blog['image'] }}" alt="">
                            <p>{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                <span>{{ blog['date_modified']|date('d-m-Y') }}</span></p>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>