{{ header }}

<main id="main-wrapper">
    <div class="container">
        {# TODO: use var theme_dir instead of hardcode... #}
        {% include ('other_ketoantrg/template/blog/blog_breadcrumb.twig') %}
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content pb-3 pb-md-5">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <div class="news-listing bestme-block-blog-list">
                        {% for blog_key, blog in blog_list %}
                            <!-- News Item -->
                            <div class="news-item {{ blog_key == 0 ? 'high-light' : '' }}">
                                <div class="{{ blog_key != 0 ? 'p-0 col-3' : 'w-100' }}">
                                    <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                        <div class="img-wrap">
                                            <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                        </div>
                                    </a>
                                </div>
                                <div class="col {{ blog_key != 0 ? 'pl-3' : '' }}">
                                    <div class="news-info d-flex flex-wrap flex-column h-100">
                                        <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip">
                                            {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                                        </a>
                                        <div class="news-desc d-none d-lg-block">
                                            {{ blog['short_content']|length > 300
                                            ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                                            : blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                        <a class="btn btn-primary mt-3 py-2 px-3 align-self-start rounded-30 fw-500"
                                           href="{{ blog['link'] }}">Xem chi tiết</a>
                                        <a class="date text-second align-self-end m-0 {{ blog_key == 0 ? 'd-none d-lg-flex' : '' }}" style="transform: translateY(-28px);">
                                            {{ blog['date_publish']|date('d-m-Y') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End: News Item -->
                        {% endfor %}
                        <!-- Paginate -->
                        {{ pagination }}
                        <!-- End: Paginate -->
                    </div>
                    <!-- End: News Listing -->
                </div>
                <!-- End: Col News Listing -->
                <div class="col-md-4">
                    <div class="sidebar sidebar-left">
                        <div class="block-sidebar">
                            <h2 class="box-title fw-500 w-100 fz-20 mb-3 text-left border-bottom">
                                <span class="bg-primary rounded-10 rounded-bottom-0 py-2 px-5 d-inline-block">BÀI VIẾT MỚI NHẤT</span>
                            </h2>
                            <div class="block-content pt-2">
                                {% for blog_key, blog in blog_list_new if blog_key < 4 %}
                                    <div class="news-item">
                                        <div class="col-4 p-0">
                                            <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                                <div class="img-wrap">
                                                    <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col pl-3">
                                            <div class="news-info d-flex flex-wrap h-100">
                                                <a class="news-title fz-14 m-0 border-0 p-0" href="{{ blog['link'] }}" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                                    {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                                </a>

                                                <a class="date text-second d-flex align-self-end m-0">
                                                    <i class="icon icon-calendar bg-seventh fz-16 mr-3"></i>
                                                    {{ blog['date_publish']|date('d-m-Y') }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="block-sidebar mb-3">
                            <h2 class="block-title">TAG</h2>
                            <div class="block-content d-flex flex-wrap py-2">
                                {% for tag in tags %}
                                    <a class="py-2 text-second rounded-20 mr-2 mb-2 fw-500 text-center border px-3" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- End sidebar right -->
                </div>
                <!-- End Col sidebar right -->
            </div>
            <!-- End row -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End: container -->
</main>

{{ footer }}