@import url('reset.css');

/*** TOPBAR ***/
#top-bar {
  position: relative;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  color: #ffffff;
}

#top-bar strong {
  display: inline-block;
  height: 100%;
}

#top-bar strong a {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}

#top-bar strong a:hover {
  color: #080002;
}

#top-bar strong svg {
  color: #ffffff;
}

#top-bar strong + strong {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #ffffff;
}

#top-bar i {
  font-size: 16px;
  margin-right: 5px;
  margin-left: 10px;
  line-height: 35px;
  vertical-align: top;
}

#top-bar .ega-search {
  padding-top: 4px;
  line-height: initial;
}

/*** END TOPBAR ***/

/*** TOP LINKS ***/


.ega-top-links .ega-menu__item {
  line-height: normal;
}

.ega-top-links .ega-menu__item + .ega-menu__item {
  border-left: 1px solid #ffffff;
}

.ega-top-links .ega-menu__link {
  padding: 10px 15px;
  color: #ffffff;
}

.ega-top-links .ega-menu__link:hover {
  background: #bb6bac;
  color: #080002;
}

/*** HEADER LOGIN ***/

.header-login {
  position: relative;
  display: inline-block;
  line-height: 80px;
  width: 50%;
  text-align: center;
}

.header-login svg {
  font-size: 25px;
}

.header-login:hover .header_login_content {
  opacity: 1;
  z-index: 11;
  margin-top: 0;
  overflow-x: hidden;
  visibility: visible;
}

.header-login .header_login_content {
  opacity: 0;
  z-index: -2;
  position: absolute;
  min-width: 200px;
  background-color: #FFF;
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #EEE;
  right: auto;
  left: 0;
  padding: 5px 0;
  margin: -10000px 0 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}

.header-login .header_login_content li {
  line-height: 35px;
  text-align: left;
  padding: 0 15px;
}

.header-login .header_login_content li a {
  color: initial;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/*** END HEADER LOGIN ***/

/*** BANNER ***/
@media(max-width:767px) {
  .ega-banner {
    margin-bottom: 20px;
  }
}

/*** END BANNER ***/
.ega-header {
  position: relative;
  padding: 10px 0;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
  z-index: 999;
  border-top: 4px solid;
}

.ega-header.sticky-header {
  height: 100px;
}

.ega-header.sticky-header .ega-header__wrap {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ega-header .ega-menu__link {
  padding: 28px 15px;
  font-weight: bold;
}

.ega-header .ega-menu__link:hover {
  color: initial;
}

.ega-header--mobile {
  padding: 0;
  z-index: 999;
}

.ega-header--mobile.sticky-header {
  height: 65px;
}

.ega-header--mobile #logo img {
  max-height: 45px;
}

.ega-header--mobile .ega-header__wrap {
  position: relative;
  padding: 5px 0;
  height: 65px;
}

.ega-header--mobile .ega-header__wrap .top-links {
  display: none;
  position: absolute;
  width: auto;
  top: 100%;
  right: 0;
  background: #fff;
  z-index: 99;
  padding: 10px 15px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.05);
}

.ega-header--mobile .ega-header__wrap .top-links .top-link ul li {
  padding: 5px 10px;
}

.ega-header--mobile .ega-header__wrap .top-links .top-link ul li a {
  color: initial;
}

.ega-header--mobile .top-cart-mb {
  position: absolute;
  width: 80px;
  height: 65px;
  line-height: 65px;
  top: 0;
  right: 0;
}

.ega-header--mobile .top-cart-mb svg {
  font-size: 25px;
  vertical-align: middle;
}

.ega-header--mobile .top-cart-mb .ega-top-cart {
  line-height: inherit;
  margin-right: 5px;
}

.ega-header--mobile .top-cart-mb .ega-top-cart__qty {
  top: 10px;
  right: 0;
}

@media(max-width: 991px){
    .ega-header {
        border: 0;   
    }
}

/*** TOP BAR ***/

/*** product page ***/

/*** end product page ***/

/**** MOBILE ****/

/**** END MOBILE ****/

/**** FONTS DEFAULT ****/
/** {
  font-family: Roboto;
}*/

html, body {
  font-size: 14px;
}

body {
  background: #ffffff;
}

.lazyload {
  height: 100%;
  width: 100%;
}

#blog-content * {
  font-family: Open Sans;
}

/**** END FONTS DEFAULT ****/

/* ==========  MIXINS  ========== */

/*** GENERAL ***/
.error404 {
  display: block;
  font-size: 216px;
  font-weight: 600;
  color: #DDD;
  line-height: 1.35;
  letter-spacing: 4px;
}

@media (max-width:991px) {
  .error404 {
    font-size: 100px;
  }

}

a {
  text-decoration: none;
}

/*** END GENERAL ***/

/*** POLICIES ***/
.ega-policies {
    padding: 30px 0;
}
.ega-policies__item{
    position: relative;
    padding-left: 40px;
}
.ega-policies__item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}
@media(max-width: 767px){
    .ega-policies__item{
        margin-bottom: 15px;
    }
}
/*** END POLICIES ***/

/** INDEX COLL **/
.ega-index-coll {
    margin-top: 30px;
    margin-bottom: 30px;
}
.ega-index-coll__heading {
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    margin-top: 0;
    margin-bottom: 15px;
    border-radius: 3px;
    box-sizing: content-box;
}
.ega-index-coll__heading h2{
    position: relative;
    display: inline-block;
    line-height: inherit;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
    border-radius: 3px 0 0 3px;
}
.ega-index-coll__heading h2:after{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    top: 0;
    left: 100%;
}
@media (max-width:991px) {
    .ega-index-coll__heading h2{
        width: calc(100% - 15px);
    }
    .ega-index-coll__heading{
        border: 0;
    }
}
@media (max-width:767px) {
  .ega-index-coll__heading {
    font-size: 18px;
  }
}

.ega-index-coll__heading a {
  color: inherit;
}

.ega-index-coll__menu {
  border-top: 1px solid #ddd;
}

.ega-index-coll .ega-menu__link:hover {
  color: #000000;
}

/** END INDEX COLL **/
.ega-pro__sale-tag {
  background: #bb6bac !important;
}

.ega-pro--style2 .ega-pro__action span {
  background: #bb6bac;
}

.ega-pro--style2 .ega-pro__action span:before {
  border-top-color: #bb6bac;
}

.ega-pro.ega-pro--style2 .ega-pro__overlay {
  height: 35px;
  line-height: 35px;
}

/*** END EGA PRODUCT ***/

/*** COLLECTION ***/
.collection_description {
  margin-top: 20px;
}

.collection_description h2 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 22px;
  padding: 5px 0;
  border-top: 1px solid #ddd;
}

.widget_title {
  margin-bottom: 15px;
}

.ega-sortby select {
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

#collection_sidebar #collection_sidebar_trigger {
  display: none;
}

#collection_sidebar .ega-filter {
  border-radius: 5px;
}

#collection_sidebar .ega-filter__heading {
  border-radius: 5px 5px 0 0;
}

#collection_sidebar .ega-filter__heading .ega-filter__title {
  font-size: 16px;
}

#collection_sidebar .ega-filter__heading.is-closed svg,
#collection_sidebar .ega-filter__title.is-closed svg{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#collection_sidebar .ega-filter__item .ega-filter__title {
  text-transform: uppercase;
}

#collection_sidebar .ega-filter__item .ega-ul li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

#collection_sidebar .ega-filter__item .ega-ul li:last-child {
  border: 0;
}

#collection_sidebar .ega-filter__item #slider-range {
  height: 4px;
}

#collection_sidebar .ega-filter__item #slider-range .ui-slider-handle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  top: -6px;
}

@media (max-width:991px) {
  #collection_sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 275px;
    right: -275px;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow-y: auto;
  }

  #collection_sidebar.ega-show {
    right: 0;
    -webkit-box-shadow: -2px 0px 11px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -2px 0px 11px -1px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 0px 11px -1px rgba(0, 0, 0, 0.25);
  }

  #collection_sidebar.ega-show #collection_sidebar_trigger {
    right: 275px;
  }

  #collection_sidebar #collection_sidebar_trigger {
    display: block;
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  #collection_sidebar #collection_sidebar_trigger svg {
    font-size: 25px;
  }

}

#collection_sidebar .sidebar-collection a {
  color: initial;
}

#collection_sidebar .sidebar-collection .ega-media__left {
  max-width: 50px;
}

#collection_sidebar .sidebar-collection .ega-media__content a {
  font-weight: 300;
  font-size: 14px;
  color: initial;
}

#collection_sidebar .sidebar-collection .ega-media__content ins, #collection_sidebar .sidebar-collection .ega-media__content del {
  font-size: 13px;
}

#collection_sidebar .sidebar-collection .ega-media__content ins {
  color: #bb6bac;
  text-decoration: none;
}

#collection_sidebar .sidebar-collection .ega-media + .ega-media {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #E5E5E5;
}

/*** END COLLECTION ***/

/*** EGA PRODUCT ***/
.index_col_products .ega-pro--style2 .ega-pro__img {
  height: auto;
}

.ega-pro--style2 .ega-pro__action.ega-tooltip:after {
  width: 100% !important;
}

/*** END EGA PRODUCT ***/

/*** FOOTER ***/
.ega-subscribe {
  border-top: 1px solid #eee;
}

.ega-subscribe .ega-btn svg {
  color: #fff;
  font-size: 20px;
}

.ega-subscribe .ega-btn:hover {
  background: #333;
}

.ega-subscribe .ega-form .ega-btn svg {
  font-size: inherit;
}

@media (max-width:767px) {
  .ega-subscribe__left {
    margin-bottom: 10px;
  }

}

.ega-subscribe__right {
  text-align: right;
}

@media (max-width:767px) {
  .ega-subscribe__right {
    text-align: center;
  }

}

#ega-footer {
  position: relative;
  background-color: #e6e6e6;
  color: #383838;
}

#ega-footer a {
  color: #383838;
  text-decoration: none;
}

#ega-footer .ega-prefooter__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#ega-footer .ega-prefooter__links ul li {
  padding: 5px 0;
}

#ega-footer .ega-prefooter__links ul li a {
  display: inline-block;
  padding-left: 5px;
}

#ega-footer .ega-prefooter__links ul li svg {
  padding-top: 3px;
  color: #383838;
}

#ega-footer .ega-prefooter__links ul ul {
  margin-left: 15px;
}

#ega-footer .ega-prefooter__links .sidebar_submenu {
  padding-left: 0;
}

#ega-footer .ega-copyright {
  padding: 10px 0;
  line-height: 1.8;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 14px;
}

@media (max-width:767px) {
  #ega-footer .ega-copyright__left {
    text-align: center;
    font-size: 12px;
  }

  #ega-footer .ega-copyright__left .ega-menu {
    justify-content: center;
  }

  #ega-footer .ega-copyright__right {
    text-align: center !important;
    font-size: 12px;
  }

}

/*** END FOOTER ***/

/*** MAGAZINE ***/
.ega-news__title h3 {
  font-size: 20px;
  font-weight: 300;
}

.ega-news__title h3 i {
  font-size: 15px;
}

.ega-slider__item {
  position: relative;
}

.ega-slider__info {
  position: absolute;
  width: 100%;
  padding: 40px 15px;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

.ega-slider__info h3 a {
  color: #333333;
  font-weight: normal;
}

.ega-slider__category {
  position: absolute;
  top: 0;
  left: 0;
  background: #3ba1a2;
  color: #fff;
  padding: 2px 10px;
}

.ega-slider .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.ega-slider .owl-dots .owl-dot {
  background: 0;
  border: 0;
}

.ega-slider .owl-dots .owl-dot span {
  display: inline-block;
  border: 1px solid #000;
  background: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ega-slider .owl-dots .owl-dot:hover span, .ega-slider .owl-dots .owl-dot.active span {
  background: #000;
}

.ega-slider .owl-nav [class*=owl-] {
  background: rgba(0, 0, 0, 0.4);
}

.ega-article__title {
  border-bottom: 2px solid #333333;
  padding-bottom: 5px;
  font-weight: 300;
}

.ega-article .ega-media__image {
  max-width: 135px;
  height: 80px;
  overflow: hidden;
}

.ega-article .ega-media__content h5 a {
  font-size: 18px;
  color: #333333;
  font-weight: 300;
}

.ega-article .ega-media__content .ega-menu__item {
  font-size: 13px;
  color: #999999;
  font-style: italic;
}

.ega-article .ega-media__content .ega-menu__item a {
  color: #999999;
}

.ega-article .ega-media + .ega-media {
  margin-top: 20px;
}

.ega-blog a {
  color: #333 !important;
}

.ega-blog__title {
  position: relative;
  margin-bottom: 20px;
}

.ega-blog__title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  height: 2px;
  background: #333333;
}

.ega-blog__title a, .ega-blog__title span {
  position: relative;
  z-index: 1;
  background: #fff;
  display: inline-block;
  padding: 0 5px;
  color: #000;
  font-weight: 600;
}

.ega-blog__title:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  width: 100%;
  height: 1px;
  background: #333333;
}

.ega-blog__share a {
  display: inline-block;
  background: #d9d6d6;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #333;
  text-align: center;
  margin-left: 10px;
}

.ega-blog__share a svg {
  vertical-align: middle;
}

.ega-blog__breakline {
  clear: both;
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid #EEE;
}

.ega-blog .ega-media__image {
  max-width: 300px;
  overflow: hidden;
}

/*.ega-blog .ega-media__content h5 {*/
/*  font-weight: 300;*/
/*  font-size: 17px;*/
/*  color: #333;*/
/*}*/

.ega-blog .ega-media__content .ega-menu__item {
  font-size: 13px;
  color: #999999;
  font-style: italic;
}

.ega-blog .ega-widget__title {
  margin: 0;
  padding: 10px;
  background: #81BE16;
  color: #fff;
}
.ega-blog .ega-widget--menu ul {
  list-style: none;
  margin: 0;
}
.ega-blog .ega-widget__content {
  padding: 10px;
  margin: 0;
  border: 1px solid #eee;
}
.ega-blog .ega-widget + .ega-widget {
  margin-top: 30px;
}
.ega-blog .ega-media__image--thumb {
  width: 50px!important;
}
.ega-blog .ega-media + .ega-media {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 2px solid #f5f5f5;
}
.ega-blog .ega-widget--menu ul li a {
  display: inline-block;
}
.ega-blog .ega-widget--menu ul li a svg {
  position: relative;
  top: 2px;
}
@media (max-width: 767px){
  .ega-blog .ega-media {
    display: block;
  }
  .ega-blog .ega-media__left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .ega-blog .ega-media__image {
    width: 100%;
  }
}

.ega-blog .ega-media__content span {
  font-size: 14px;
  color: #999;
  font-style: italic;
}

.ega-blog .ega-media__content p {
  margin-top: 5px;
  margin-bottom: 0;
}

/* product */
.ega-pro__addtocart {
  font-size: 1.5rem;
  font-weight: bold;
}

.ega-pro__addtocart span {
  font-size: .8rem;
  display: block;
  margin-top: 8px;
  letter-spacing: 0;
}

.ega-pro__tech-table {
  font-size: .85rem;
}

.ega-pro__tech-table li {
  margin-bottom: 10px;
  border-bottom: 1px dotted;
}

.ega-pro__tech-table li b, .ega-pro__tech-table li span {
  padding: 2px 0 2px 15px;
  display: inline-block;
  position: relative;
}

.ega-pro__tech-table li b {
  width: 130px;
  background: #ffc331;
  color: #333333;
}

.ega-pro__tech-table li b:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: 25px solid #fff;
  border-bottom: 25px solid transparent;
}

.ega-pro__policies{
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-bottom: 10px;
}

.ega-pro__policies-heading h5 {
  color: #288f06;
}

.ega-pro__policies-item {
    padding: 3px 0;
}

.ega-pro__policies-title {
  color: #333;
}

.ega-pro__policies-desc {
  color: #666;
}

#ega-product-scroll .ega-pro__addtocart span {
  display: none;
}

.ega-btn.ega-pro__addtocart {
  background-color: #d61c1f;
  color: #ffffff;
}

/* end product */
.ega-card__title {
  font-size: 16px;
  color: #333;
}

.ega-card .article-date {
  font-size: 14px;
  color: #999;
  font-style: italic;
}

.ega-magazine-collection {
  padding: 20px;
  margin-top: 30px;
  background-color: #000000;
  color: #ffffff;
}

/*** END MAGAZINE ***/

/*** BLOG ***/
#ega-blog a {
  color: #333;
}

#ega-blog .ega-blog__top h4 {
  font-weight: 300;
  font-size: 18px;
}

#ega-blog .ega-blog__slider .owl-dots {
  width: 445px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width:991px) {
  #ega-blog .ega-blog__slider .owl-dots {
    width: 270px;
  }

}

@media (max-width:767px) {
  #ega-blog .ega-blog__slider .owl-dots {
    width: 100%;
  }

}

#ega-blog .ega-blog__slider .owl-dots .owl-dot {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #eee;
}

@media (max-width:991px) {
  #ega-blog .ega-blog__slider .owl-dots .owl-dot {
    width: 50px;
    height: 50px;
  }

}

#ega-blog .ega-blog__slider .owl-dots .owl-dot.active {
  border-color: #bb6bac;
}

#ega-blog .ega-blog__slider .owl-dots .owl-dot span {
  display: none;
}

#ega-blog .ega-blog__article {
  background: #f8f8f8;
  padding: 15px 20px 120px 20px;
  height: 100%;
}

#ega-blog .ega-blog__article__cat {
  text-align: center;
}

#ega-blog .ega-blog__article__cat a {
  padding: 2px 10px;
  background: #3ba1a2;
  color: #ffffff;
}

.featured-article-wrap {
  background-color: #ebebeb;
  padding: 15px;
  margin: 20px 0;
}

.ega-pagi__item {
  color: initial;
}

.ega-pagi__item.current {
  background: #bb6bac;
  border-color: #bb6bac;
}

.ega-pagi__item:not(.ega-disabled):hover {
  background: #bb6bac;
  border-color: #bb6bac;
  color: #ffffff !important;
}

.ega-pagi__item:not(.ega-disabled):hover svg {
  color: #ffffff;
}

/*** END BLOG ***/

/*** ARTICLE ***/
.ega-article__related {
  background: #f9f9f9;
}

.ega-article__related a {
  color: #bb6bac;
}

.ega-article__tags h3 {
  display: inline-block;
  background: #EDEDED;
  padding: 4px 10px;
  color: #000;
  position: relative;
  font-size: 14px;
}

.ega-article__tags h3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 100%;
  border-left: 8px solid #ededed;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.ega-article__tags ul {
  font-size: 12px;
  font-style: italic;
}

.ega-article__tags ul a {
  color: #bb6bac;
}

/*** END ARTICLE ***/

/*** FORM LOGIN ***/
#ega-login .errors ul {
  list-style-type: none;
  padding-left: 0;
  color: #f4516c;
}

/*** END FORM LOGIN ***/

/*** CART LAYOUT ***/
#ega-cart .ega-cart-head {
  border-bottom: 1px solid #F0F2F6;
  padding: 15px 0;
  font-weight: bold;
}

#ega-cart .ega-cart-row {
  border-bottom: 1px solid #F0F2F6;
  padding: 20px 0;
}

#ega-cart .ega-cart-row * {
  font-size: 15px;
}

#ega-cart .total_price b {
  font-size: 18px;
}

@media (max-width:767px) {
  #ega-cart .ega-cart-row {
    flex-direction: row-reverse;
  }

  #ega-cart .ega-cart-row .ega-cart-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #ega-cart .ega-cart-row .ega-cart-info .ega-cart-img {
    grid-row: span 3;
  }

}

#ega-cart .ega-cart-quantity input {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
}

#ega-cart .ega-cart-quantity input[type=number]{
    width: 42px;
}

#ega-cart .ega-cart-quantity input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
#ega-cart .ega-cart-quantity .ega-btn {
  color: rgba(61, 55, 54, 0.4);
  border-color: #E5E5E5;
  display: flex;
  justify-content: center;
}

#ega-cart .ega-cart-quantity .ega-btn[data-ega-role="qty-minus"] {
  border-radius: 5px 0 0 5px;
}

#ega-cart .ega-cart-quantity .ega-btn[data-ega-role="qty-plus"] {
  border-radius: 0 5px 5px 0;
}

/*** END CART LAYOUT ***/

/*** ADDRESS ***/
.ega-address__item {
  padding: 20px 0;
}

.ega-address__item p {
  margin: 0;
}

.ega-address__item + .ega-address__item {
  border-top: 1px solid #ddd;
}

.ega-address__inputform {
  display: inline-block;
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  background: #eee;
}

@media(max-width: 991px){
    .ega-address__inputform {
        width: 100%;
    }
}
/*** END ADDRESS ***/

/*** TOP CART CONTENT ON MOBILE ***/
.ega-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ega-overlay.ega-show {
  visibility: visible;
  opacity: 1;
}

#ega-menu--mb {
  width: 275px;
  height: 100%;
  background: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  left: -275px;
  -webkit-transition: left 0.4s ease;
  -o-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

@media (min-width:1024px) {
  #ega-menu--mb {
    top: 35px;
  }

  .ega-header.sticky-header #ega-menu--mb {
    top: 0;
  }

}

#ega-menu--mb.ega-show {
  left: 0;
}

#ega-menu--mb #menu-toggle {
  position: absolute;
  width: 45px;
  height: 65px;
  left: 100%;
  top: 0;
  padding: 25px 10px;
  background: #fff;
}

#ega-menu--mb #menu-toggle i {
  display: block;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  height: 19px;
}

#ega-menu--mb #menu-toggle i:before {
  content: "";
  display: block;
  border-top: 3px solid #000;
  margin-top: 5px;
}

#ega-menu--mb .ega-menu--tree {
  height: 100%;
  overflow: auto;
}

#ega-menu--mb .ega-menu--tree__item {
  padding: 10px 15px;
}

#ega-menu--mb .ega-menu--tree__item.current > a {
  color: #bb6bac;
}

#ega-menu--mb .ega-menu--tree__item + .ega-menu--tree__item {
  border-top: 1px solid #f4f4f4;
}

#ega-menu--mb .ega-menu--tree__item a span {
  text-align: center;
  width: 50px;
  font-size: 1.1em;
  position: absolute;
  right: 0;
}

#ega-menu--mb form input[type='text'] {
  border: 0;
  border-radius: 0;
  padding-right: 40px;
  border-bottom: 1px solid #373737;
}

#ega-menu--mb form button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  width: 40px;
  height: 35px;
  background: none;
  border: 0;
}

/*** END TOP CART CONTENT ON MOBILE ***/

/*** CART POPUP DETAIL ***/
#cart-popup-detail .ega-modal__content {
  max-width: 900px;
}

#cart-popup-detail .ega-table thead tr {
  background: #f7f7f7;
}

#cart-popup-detail .popup_amount svg {
  font-size: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}

#cart-popup-detail .popup_action button {
  border-top-right-radius: 0;
}

/*** END CART POPUP DETAIL ***/

/*** CART POPUP MB ***/
#cart-popup-mb .ega-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9999;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

#cart-popup-mb .ega-modal.show {
  opacity: 1;
  z-index: 9999999;
}

#cart-popup-mb .ega-modal__content {
  background-color: #ffffff;
  position: relative;
  width: auto;
  max-width: 500px;
  margin: 1.75rem auto;
  border-radius: .2rem;
  padding: 1rem;
  z-index: 1;
}

#cart-popup-mb .ega-modal__content:before {
  content: "";
  width: 50px;
  height: 5px;
  position: absolute;
  background: #fff;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.toast #cart-popup-mb .ega-modal__content {
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

.toast.left #cart-popup-mb .ega-modal__content {
  left: 10px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.toast.right #cart-popup-mb .ega-modal__content {
  right: 10px;
  left: auto;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.toast.top #cart-popup-mb .ega-modal__content {
  top: 10px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.toast.bottom #cart-popup-mb .ega-modal__content {
  bottom: 10px;
  top: auto;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.toast.right #cart-popup-mb .ega-modal__close {
  right: auto;
  left: -12px;
}

#cart-popup-mb .ega-modal__close svg {
  font-size: 20px;
}

#cart-popup-mb .ega-modal__backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#cart-popup-mb .ega-modal__content {
  position: absolute;
  bottom: 0px;
  margin: auto;
  max-width: 100%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 8px 16px rgba(176, 190, 197, 0.3);
  transform-origin: 60% 200%;
  transition: all .3s ease-out;
  transform: scale(0);
}

#cart-popup-mb.show .ega-modal__content {
  transform: scale(1);
}

#cart-popup-mb .ega-modal__close {
  right: 0;
  top: 3px;
}

#cart-popup-mb .ega-media__image {
  width: 75px;
}

#cart-popup-mb .success-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 5px;
}

/*** END CART POPUP MB ***/

/*** MOBILE SCROLL BAR ***/
.ega-menu-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  display: block;
  z-index: 99;
  overflow: hidden;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  padding: 5px 0;
}

.ega-menu-mobile ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #fff;
  margin: 0px;
  height: 49px;
  border-radius: 20px 20px 0px 0px;
}

.ega-menu-mobile .ega-menu__item {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.ega-menu-mobile .ega-menu__item.mb-hotline a {
  color: #02b0f5;
}

.ega-menu-mobile .ega-menu__item.mb-sms a {
  color: #ffa276;
}

.ega-menu-mobile .ega-menu__item.mb-facebook a {
  color: #3c5a9a;
}

.ega-menu-mobile .ega-menu__item.mb-buybtn {
  color: #d61c1f;
}

.ega-menu-mobile .ega-menu__link {
  text-align: center;
  width: 100%;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  color: #bb6bac;
}

.ega-menu-mobile .ega-menu__link svg {
  color: inherit;
  font-size: 22px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

/*** END MOBILE SCROLL BAR ***/

/*** Cart Popup ***/
.toast .ega-modal__content {
  position: absolute;
  min-width: 250px;
  margin: 20px;
  padding: 15px 30px;
  top: 0;
  right: 0;
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.toast .ega-modal__content .ega-modal__close {
  top: 0;
  right: 0;
}

.toast.show .ega-modal__content {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/*** End Cart Popup ***/

/*** Article comments ***/
#article-comments .ega-comment {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#article-comments .ega-comment__img {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#article-comments .ega-comment__img img {
  max-width: 48px;
}

#article-comments .ega-comment__detail {
  display: inline-block;
  float: left;
  width: calc(100% - 58px);
}

/*** End Article comments ***/

/*** Scroll top***/
#ega-scroll-top {
  display: none;
  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  bottom: 50px;
  right: 30px;
}

#ega-scroll-top svg {
  color: #fff;
  font-size: 30px;
}

@media (max-width:767px) {
  #ega-scroll-top {
    display: none !important;
    right: 15px;
  }

}

#ega-scroll-top.show {
  display: block;
}

/*** Pagination ***/
.pagination {
  padding: 0;
  list-style: none;
  text-align: center;
}

.pagination .page-item {
  display: inline-block;
  margin: 5px
}

.pagination .page-link {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
  color: #333;
}

.pagination .page-item.active .page-link, .pagination .page-item .page-link:hover {
  color: #fff;
}

/*** Sort Wrap ***/
#sort-wrap .ega-sortby-select {
  position: relative;
  display: inline-block;
}

#sort-wrap .ega-sortby-select span {
  display: inline-block;
  border: 1px solid #eee;
  padding: 5px 15px;
}

#sort-wrap .ega-sortby-select ul {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 1;
  border: 1px solid #ccc;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  text-align: left;
  left: 0;
  top: 100%;
  min-width: 200px;
}

@media(max-width: 991px){
    #sort-wrap .ega-sortby-select ul {
        left: auto;
        right: 0;   
    }
}
#sort-wrap .ega-sortby-select ul li {
  padding: 5px 10px;
}

#sort-wrap .ega-sortby-select ul li a {
  color: #333;
}

#sort-wrap .ega-sortby-select.show-sort ul {
  display: block;
}

.ega-alert {
  padding: 12px 64px 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ega-alert--success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.ega-alert--danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.box-map iframe {
  width: 100%;
}

/***PRODUCT DETAIL***/
#add-to-cart .ega-swatch__element input:checked ~ label {
  border: 1px solid red;
}

.ega-swatch__element label{
    width: auto;
    height: auto;
    line-height: initial;
    padding: 5px;
    margin: 3px;
}

.ega-pro__recentview .recent-view__item img{
    width: 50px;
}
/***END PRODUCT DETAIL***/
.ega-menu__item.has-child > .ega-menu--third-level{
    left: 100%;
    top: 0;
}

.ega-menu__item.has-child > .ega-menu{
    border: 4px solid;
    padding: 15px 10px;
}

.ega-menu__item.has-child > .ega-menu:before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-left: 4px solid;
    border-top: 4px solid;
    border-color: inherit;
    left: 30px;
    top: -9px;
    -webkit-transform: rotate(55deg) skewX(20deg);
    -moz-transform: rotate(55deg) skewX(20deg);
    -o-transform: rotate(55deg) skewX(20deg);
    -ms-transform: rotate(55deg) skewX(20deg);
    transform: rotate(55deg) skewX(20deg);
}

.ega-menu__item.has-child .ega-ul .ega-menu__link:hover{
    background: none;
}

@media(max-width: 767px){
    #ega-breadcrumb .ega-menu {
        display: block;
    }
    #ega-breadcrumb .ega-menu .ega-menu__item{
        display: inline-block;   
    }
}
/*** HealthyFood Custom ***/

#primary-menu{
    position: relative;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#ega-main-menu > .ega-menu__item > .ega-menu__link{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
#primary-menu #ega-main-menu > .ega-menu__item > .ega-menu__link,
#primary-menu #ega-main-menu > .ega-menu__item > svg{
    color: #333;
}
.header-login, .ega-top-cart{
    line-height: 55px;
}
.header-login svg, .ega-top-cart svg{
    vertical-align: middle;   
}
.ega-top-cart .ega-top-cart__qty{
    top: 5px;
}
.ega-header--desktop .ega-search{
    background: #fff;
    max-width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 5px;
}
.ega-header--desktop .ega-search input{
    display: inline-block;
    height: 50px;
    vertical-align: top;
    border: none;
    border-radius: 0;
    color: dimgrey;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
}
.ega-header--desktop .ega-search .ega-btn{
    height: 50px;
    border-radius: 0 5px 5px 0;
}
.ega-brand__title{
    text-align: left;
}
.ega-brand__title h2{
    font-size: 20px;
    padding-left: 0;
}
#ega-footer .ega-social svg{
    color: #fff;
    font-size: 20px;
}

/*** ACCOUNT PAGE ***/
.customer_order {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.ega-orders-th, .ega-orders-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid #eee;
  padding: 16px 10px;
}

.ega-orders-th {
  font-weight: 500;
}

.ega-orders-row {
  text-align: center;
}

.ega-orders-row:hover {
  background: #eee;
}

.ega-orders-row:last-child {
  border: 0;
}

.ega-orders-col {
  overflow: hidden;
}

@media (max-width:768px) {
  .ega-orders-th {
    display: none;
  }

  .ega-orders-row {
    text-align: left;
    grid-template-columns: 1fr;
    grid-gap: 4px;
  }

  .ega-orders-col:first-child {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .ega-orders-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .ega-orders-col:not(:first-child) {
    display: grid;
    grid-template-columns: 130px 1fr;
  }

  .ega-orders-col:not(:first-child):before {
    content: attr(data-label);
    margin-right: 10px;
  }
}
/*** END ACCOUNT PAGE ***/

/*** MEGA MENU ***/
.ega-menu--mega{
    min-width: 800px !important;
    justify-content: space-around;
}

.ega-menu--mega.ega-menu--vertical{
    flex-direction: row;
}

.ega-menu--mega > .ega-menu__item > .ega-menu__link{
    text-transform: uppercase;
    font-weight: bold !important;
}

.ega-menu--mega > .ega-menu__item > .ega-menu__link:hover{
    background: 0 !important;
}
/*** END MEGA MENU ***/

/*** COSMETICS ***/

.product {
  position: relative;
  display: block;
  background: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid transparent;
}

@media (max-width:767px) {
  .product {
    margin-bottom: 20px;
  }

}

.product__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: initial;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .product__title {
    font-size: 12px;
  }

}

.product__info {
  padding: 15px;
}

@media (max-width:767px) {
  .product__info {
    padding: 5px;
  }

}

.product__price {
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .product__price {
    font-size: 12px;
  }

}

.product__price ins {
  color: red;
  text-decoration: none;
}

.product__price del {
  color: #999;
}

.product__sale {
  position: absolute;
  width: 80px;
  text-align: center;
  top: 0;
  right: 0;
  padding: 5px;
  background: red;
  color: #fff;
  font-weight: bold;
}

@media (max-width:767px) {
  .product__sale {
    width: 42px;
    font-size: 12px;
  }

  .product__sale .triangle {
    display: none;
  }

}

.product__sale .triangle {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.product__sale .triangle--left {
  z-index: 1;
}

.product__sale .triangle--left:before {
  top: 0;
  left: 10px;
  border-left: 80px solid rgba(0, 0, 0, 0.2);
  border-bottom: 30px solid transparent;
}

.product__sale .triangle--left:after {
  left: 0;
  border-left: 80px solid red;
  border-bottom: 20px solid transparent;
}

.product__sale .triangle--right:before {
  top: 10px;
  left: 0;
  border-right: 80px solid rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid transparent;
}

.product__sale .triangle--right:after {
  left: 0;
  border-right: 80px solid red;
  border-bottom: 20px solid transparent;
}

.product__sale .triangle:before, .product__sale .triangle:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  top: 0;
}

.product__label {
  position: absolute;
  width: 50px;
  text-align: center;
  top: 0;
  right: 0;
  padding: 5px;
  background: red;
  color: #fff;
}

@media (max-width:767px) {
  .product__label {
    width: 42px;
    font-size: 12px;
  }
  .ega-blog .ega-media__image {
    max-width: 100%;
    width: 100% !important;
  }
  .toast .ega-modal__content {
    min-width: 250px!important;
    left: 0%!important;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .toast .ega-modal__content {
    left: 20%!important;
  }
}

.product__label--soldout {
  width: auto;
  top: 0;
  left: 0;
  right: auto;
}

.button__action {
  display: inline-block;
  background: #eee;
  padding: 5px 20px;
  border-radius: 20px;
  color: initial;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width:767px) {
  .button__action {
    font-size: 12px;
  }

  .pdnbanner .button__action {
    padding: 5px 10px;
  }

}

.button__action:hover {
  color: #fff;
}

.block__viewmore .button__action {
  background: #ed5ba3;
  color: #fff;
  border-radius: initial;
  outline: 1px solid;
  outline-color: #ed5ba3;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.block__viewmore .button__action:hover {
  outline-color: transparent;
  outline-offset: 15px;
}

.block--top__item .button__action {
  -webkit-transform: translateY(calc(100% + 15px));
  -ms-transform: translateY(calc(100% + 15px));
  -o-transform: translateY(calc(100% + 15px));
  transform: translateY(calc(100% + 15px));
}

.bestme-latest_blog .product__img img{
  height: 350px;
  object-fit: cover;
  object-position: 100% 0%;
}
.ega-blog .ega-widget--tags .tag-item {
  display: inline-block;
  padding: 5px;
  border: 1px solid #eee;
}

a.active {
  color: #81BE16 !important;
}

.toast .ega-modal__content {
  min-width: 450px;
  left: 35%;
}