{{ header }}

<section class="bestme-top-content bestme-block-detail-post not-ads">
    <div class="bestme-block-detail-post--img-primary">
        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
    </div>
    <div class="container">
        <div class="row bestme-hidden-md">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ breadcrumbs[0]['href'] }}" class="bestme-breadcrumb__link">Trang chủ</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ breadcrumbs[1]['href'] }}" class="bestme-breadcrumb__link ">Blog</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="javascript:void(0)" class="bestme-breadcrumb__link active ">{{ blog['title'] }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-lg-2 offset-xl-2 col-lg-8 col-xl-8">
                <article class="bestme-post-detail">
                    <div class="bestme-post-info">
                        <h1 class="title">{{ blog['title'] }}</h1>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="author-time">
                                <span class="author">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                <span class="time">{{ blog['date_added']|date('d/m/Y') }}</span>
                            </div>
                            <div class="list-action-share">
                                <span>Chia sẻ </span>
                                {% for key,value in  social %}
                                    <a href="{{ value.href }}"><i class="ti-{{ key }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="description mt-lg-5 mt-xl-5 mt-4">{{ blog['content']|html_entity_decode }}</div>
                    </div>
                </article>
                <div class="d-flex justify-content-end mt-5 mb-5">
                    <div class="list-action-share">
                        <span>Chia sẻ </span>
                        {% for key,value in  social %}
                            <a href="{{ value.href }}"><i class="ti-{{ key }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
                {# TODO: add feature comment... #}
{#                <div class="bestme-comment bestme-hidden-md">#}
{#                    <h3 class="bestme-text--fz-16 bestme-text--uppercase bestme-text--bold mb-4">Bình luận bài viết</h3>#}
{#                    <form class="bestme-form--comment">#}
{#                        <p class="title">Viết bình luận</p>#}
{#                        <div class="d-flex">#}
{#                            <input type="text" class="bestme-input bestme-input--default "#}
{#                                   placeholder="Nội dung bình luận">#}
{#                            <button type="button" class="bestme-btn bestme-btn--primary ">Gửi</button>#}
{#                        </div>#}
{#                    </form>#}
{#                    <div class="bestme-comment--empty bestme-hidden">#}
{#                        <p class="mb-4">Chưa có bình luận nào</p>#}
{#                        <p>Hãy là người đầu tiên đánh giá về sản phẩm !</p>#}
{#                    </div>#}
{#                    <div class="bestme-comment-detail">#}
{#                        <div class="d-flex justify-content-between">#}
{#                            <div class="info-user">#}
{#                                <div class="avatar">#}
{#                                    <img src="images/31301432_1069494579866768_6529047719594426368_o.jpg" alt="">#}
{#                                </div>#}
{#                                <div>#}
{#                                    <p class="name-user">#}
{#                                        Mai Phương Thuý#}
{#                                    </p>#}
{#                                    <div class="evaluate">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star " src="images/svg2/off.svg" alt="">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <span class="time">25/06/2019</span>#}
{#                        </div>#}
{#                        <p class="comment-detail">#}
{#                            Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho#}
{#                            nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái#}
{#                            đẹp, giúp nàng tự tin hơn mỗi khi xuống...#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="bestme-comment-detail">#}
{#                        <div class="d-flex justify-content-between">#}
{#                            <div class="info-user">#}
{#                                <div class="avatar">#}
{#                                    <img src="images/31301432_1069494579866768_6529047719594426368_o.jpg" alt="">#}
{#                                </div>#}
{#                                <div>#}
{#                                    <p class="name-user">#}
{#                                        Mai Phương Thuý#}
{#                                    </p>#}
{#                                    <div class="evaluate">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star " src="images/svg2/off.svg" alt="">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <span class="time">25/06/2019</span>#}
{#                        </div>#}
{#                        <p class="comment-detail">#}
{#                            Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho#}
{#                            nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái#}
{#                            đẹp, giúp nàng tự tin hơn mỗi khi xuống...#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="bestme-comment-detail">#}
{#                        <div class="d-flex justify-content-between">#}
{#                            <div class="info-user">#}
{#                                <div class="avatar">#}
{#                                    <img src="images/31301432_1069494579866768_6529047719594426368_o.jpg" alt="">#}
{#                                </div>#}
{#                                <div>#}
{#                                    <p class="name-user">#}
{#                                        Mai Phương Thuý#}
{#                                    </p>#}
{#                                    <div class="evaluate">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star " src="images/svg2/off.svg" alt="">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <span class="time">25/06/2019</span>#}
{#                        </div>#}
{#                        <p class="comment-detail">#}
{#                            Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho#}
{#                            nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái#}
{#                            đẹp, giúp nàng tự tin hơn mỗi khi xuống...#}
{#                        </p>#}
{#                    </div>#}
{#                    <div class="bestme-comment-detail">#}
{#                        <div class="d-flex justify-content-between">#}
{#                            <div class="info-user">#}
{#                                <div class="avatar">#}
{#                                    <img src="images/31301432_1069494579866768_6529047719594426368_o.jpg" alt="">#}
{#                                </div>#}
{#                                <div>#}
{#                                    <p class="name-user">#}
{#                                        Mai Phương Thuý#}
{#                                    </p>#}
{#                                    <div class="evaluate">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
{#                                        <img class="svg img-star " src="images/svg2/off.svg" alt="">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <span class="time">25/06/2019</span>#}
{#                        </div>#}
{#                        <p class="comment-detail">#}
{#                            Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho#}
{#                            nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái#}
{#                            đẹp, giúp nàng tự tin hơn mỗi khi xuống...#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                <div class="d-flex justify-content-center align-items-center mt-5">#}
{#                    <ul class="bestme-pagination">#}
{#                        <li class="bestme-pagination__item active">#}
{#                            <span class="bestme-pagination__link">1</span>#}
{#                        </li>#}
{#                        <li class="bestme-pagination__item">#}
{#                            <span class="bestme-pagination__link">2</span>#}
{#                        </li>#}
{#                        <li class="bestme-pagination__item">#}
{#                            <span class="bestme-pagination__link">3</span>#}
{#                        </li>#}
{#                        <li class="bestme-pagination__item">#}
{#                            <span class="bestme-pagination__link">4</span>#}
{#                        </li>#}
{#                        <li class="bestme-pagination__more">#}
{#                            <span>...</span>#}
{#                        </li>#}
{#                        <li class="bestme-pagination__item">#}
{#                            <span class="bestme-pagination__link">10</span>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title">Bài viết liên quan</h2>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="bestme-post-relate">
                    {% for key, blog in  blog_relate %}
                        {% if key > 0 %}
                            <article class="bestme-post">
                                <div class="bestme-post-img">
                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                </div>
                                <div class="bestme-post-info">
                                    <a href="{{ blog['link'] }}" class="title">{{ blog['title'] }}</a>
                                    <div class="author-time">
                                        <span class="author">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                        <span class="time">{{ blog['date_added']|date('d-m-Y') }}</span>
                                    </div>
                                    <div class="news-summary-blog">
                                        {{ blog['short_content']|html_entity_decode }}
                                    </div>
                                    <a href="{{ blog['link'] }}"><button type="button" class="bestme-btn bestme-btn--primary bestme-btn--pd-hz-large">Xem bài viết</button></a>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{{ footer }}
<style>
    .news-summary-blog {
        max-height: 70px;
        overflow-y: hidden;
    }
</style>