@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese');

body, .btn, .dropdown-menu, .form-control{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 14px;
	font-weight: 400;
	color: #555;
}
.container{
	max-width: 1266px;
}
input.form-control{
	padding: 25px 15px;
	background-color: #EFEFEF;
	border-radius: 0;
	border: 0;
}
label{
	color: #8A8A8A;
}
p{
	margin-bottom: 0.5rem;
}
form button.btn{
	line-height: 25px;
	padding: 10px 30px;
	border: none;
	border-radius: 4px;
	color: #fff;
}
.bg-primary{
	background-color: #3B5998!important;
}
.bg-danger{
	background-color: #D34836!important;
}
.bg-warning{
	background-color: #FF9731!important;
}
.text-primary{
	color: #3B5998!important;
}
.text-danger{
	color: #D34836!important;
}
.text-warning{
	color: #FF9731!important;
}
.line-height-1{
	line-height: 1 !important;
}
.w-100{
	width: 100%;
	display: inline-block;
}
.font-10{
	font-size: 10px !important;
}
.font-12{
	font-size: 12px !important;
}
.font-14{
	font-size: 14px !important;
}
.font-16{
	font-size: 16px !important;
}
.font-18{
	font-size: 18px !important;
}
.font-20{
	font-size: 20px !important;
}
.font-24{
	font-size: 24px !important;
}
.font-26{
	font-size: 26px !important;
	line-height: 1;
}
.font-28{
	font-size: 28px !important;
	line-height: 1;
}
.font-30{
	font-size: 30px !important;
	line-height: 1;
}
.font-32{
	font-size: 32px !important;
	line-height: 1;
}
.font-34{
	font-size: 34px !important;
	line-height: 1;
}
.font-36{
	font-size: 36px !important;
	line-height: 1;
}
.rounded-3{
	border-radius: 3px !important;
}
.rounded-4{
	border-radius: 3px !important;
}
.rounded-5{
	border-radius: 3px !important;
}
button.btn.btn-submit{
	background: #D34836;
}
h1.page-title{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.flexslider{
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	position: relative;
}
.flexslider>ul{
	padding: 0;
}
.flex-direction-nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-direction-nav a{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	text-indent: 999px;
	background-color: #fff;
	border-radius: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	opacity: 1 !important;
	text-shadow: none;
	position: absolute;
	z-index: 9;
	overflow: hidden;
}
.flex-direction-nav a.flex-prev {
	left: 10px;
}
.flex-direction-nav a.flex-next {
	right: 10px;
}
.flex-direction-nav a::before{
	content: "" !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 12px;
	height: 6px;
	-webkit-mask:  url('../img/icons/chevron-down.svg') no-repeat center;
	mask: url('../img/icons/chevron-down.svg') no-repeat center;
	transform: rotate(90deg);
	background-color: #555;
	z-index: 1;
	text-indent: 0;
}
.flex-direction-nav a.flex-next::before{
	transform: rotate(-90deg);
}
img{
	max-width: 100%;
	height: auto;
}
a:hover{
	text-decoration: none;
	cursor: pointer;
}
i.icon{
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	text-align: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-size: contain;
	background-color: #555;
}
.icon.icon-notifi{
	-webkit-mask-image:  url('../img/icons/notification.svg');
	mask: url('../img/icons/notification.svg');
}
.icon.icon-search{
	-webkit-mask-image:  url('../img/icons/search.svg');
	mask-image: url('../img/icons/search.svg');
}
.icon.icon-import{
	-webkit-mask-image:  url('../img/icons/import.svg');
	mask-image: url('../img/icons/import.svg');
}
.icon.icon-export{
	-webkit-mask-image:  url('../img/icons/export.svg');
	mask-image: url('../img/icons/export.svg');
}
.icon.icon-plus{
	-webkit-mask-image:  url('../img/icons/plus.svg');
	mask-image: url('../img/icons/plus.svg');
}
.icon.icon-cart{
	-webkit-mask-image:  url('../img/icons/cart.svg');
	mask-image: url('../img/icons/cart.svg');
}
.icon.icon-left-arrow{
	-webkit-mask-image:  url('../img/icons/left-arrow.svg');
	mask-image: url('../img/icons/left-arrow.svg');
	min-width: 23px;
	min-height: 18px;
	font-size: 6px;
	top: 3px;
	position: relative;
}
.icon.icon-marker{
	-webkit-mask-image:  url('../img/icons/marker.svg');
	mask-image: url('../img/icons/marker.svg');
}
.icon.icon-phone{
	-webkit-mask-image:  url('../img/icons/phone.svg');
	mask-image: url('../img/icons/phone.svg');
}
.icon.icon-email{
	-webkit-mask-image:  url('../img/icons/email.svg');
	mask-image: url('../img/icons/email.svg');
}
.icon.icon-fb{
	-webkit-mask-image:  url('../img/icons/fb.svg');
	mask-image: url('../img/icons/fb.svg');
}
.icon.icon-google{
	-webkit-mask-image:  url('../img/icons/google.svg');
	mask-image: url('../img/icons/google.svg');
}
.icon.icon-twitter{
	-webkit-mask-image:  url('../img/icons/twitter.svg');
	mask-image: url('../img/icons/twitter.svg');
	min-width: 1.2em
}
.icon.icon-instagram{
	-webkit-mask-image:  url('../img/icons/instagram.svg');
	mask-image: url('../img/icons/instagram.svg');
}
.icon.icon-youtube{
	-webkit-mask-image:  url('../img/icons/youtube.svg');
	mask-image: url('../img/icons/youtube.svg');
}
.bootstrap-select .dropdown-menu{
	padding: 0
}
/*End global*/

/*Header*/
header.header{
	background-color: #232F3E;
	color: #93979C;
	position: relative;
}
header.header a{
	color: #93979C;
}
header.header a:hover{
	color: #FF9731;
}
header#banner-top img{
	width: 100%;
}
header.header .user-header{
	padding: 15px 0;
}
header.header .user-header nav.user-menu ul.navbar-nav{
	margin: 0;
	padding: 0;
	display: inline-block;
}
header.header .user-header nav.user-menu li.nav-item{
	display: inline-block;
}
header.header .user-header nav.user-menu li:nth-child(1) a{
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #93979C;
}
header.header .main-header{
	padding: 25px 0;
	border-top: 1px solid #93979C;
	border-bottom: 1px solid #93979C;
	position: relative;
}
form#header-search-form .input-group>.bootstrap-select{
	max-width: 170px;
}
form#header-search-form .input-group>.bootstrap-select>button.btn{
	padding: 13px 15px;
	border-radius: 20px 0 0 20px;
	color: #616161;
	line-height: 27px;
	height: 50px;
	background-color: #fff;
}
form#header-search-form .input-group>.bootstrap-select>button.btn:focus{
	outline: none !important;
	box-shadow: none;
}
form#header-search-form .input-group>.bootstrap-select>button.btn:after,
form#header-search-form .input-group>.bootstrap-select.dropup>button.btn:after{
	content: "";
	border: none;
	background: url(../img/icons/chevron-down.svg) no-repeat center;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 12px;
	height: 6px;
	background-size: contain;
	z-index: 1;
}
form#header-search-form .input-group>.bootstrap-select>button.btn:before{
	content: "";
	width: 1px;
	height: 22px;
	background: #93979C;
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
form#header-search-form .input-group>.bootstrap-select.dropup>button.btn:after{
	transform: rotate(180deg);
}
form#header-search-form .input-group>.input-group-append>.btn{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #FF9731;
	color: #fff;
	padding: 10px 20px;
}
form#header-search-form .form-control,
form#header-search-form .input-group>.bootstrap-select,
form#header-search-form button.btn{
	min-height: 44px;
	border: none;
}
form#header-search-form .form-control{
	background-color: #fff;
}
.main-header .show-cart{
	display: inline-block;
}
.main-header .show-cart > a{
	height: 44px;
	width: 44px;
	border: 1px solid #93979C;
	border-radius: 100%;
	background: url('../img/icons/cart.svg') no-repeat center;
	background-size: 16px 21px;
	margin-right: 10px;
	display: inline-block;
	float: left;
	transition: all 0.2s ease;
}
.main-header .show-cart > a:hover{
	transform: scale(1.05);
	animation: tada 1s both;
}
.main-header .show-cart .cart-detail{
	text-align: left;
}
.main-header .show-cart .total{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
header.header .main-menu{
	color: #fff;
	font-size: 16px;
}
.main-menu nav.navbar{
	padding: 0;
	background: none !important;
}
.main-menu nav.navbar ul.navbar-nav>li.nav-item>a.nav-link{
	line-height: 25px;
	padding: 15px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	transition: all 0.2s ease;
}
.main-menu nav.navbar ul.navbar-nav>li.nav-item>a.nav-link:hover,
.main-menu nav.navbar ul.navbar-nav>li.nav-item>a.nav-link.active,
.main-menu nav.navbar ul.navbar-nav>li.nav-item.active>a.nav-link,
.main-menu nav.navbar ul.navbar-nav>li.nav-item:hover>a.nav-link{
	background-color: #FF9731;
}
.main-menu nav.navbar ul.navbar-nav>li.nav-item{
	position: relative;
}
.main-menu nav.navbar ul.navbar-nav>li.nav-item.has-child:after{
	content: "";
	position: absolute;
	right: 10px;
	top: 22px;
	-webkit-mask:  url('../img/icons/chevron-down.svg') no-repeat center;
	mask: url('../img/icons/chevron-down.svg') no-repeat center;
	width: 8px;
	height: 5px;
	z-index: 1;
	background-color: #fff;
}
.main-menu nav.navbar ul.navbar-nav li.nav-item.nav-category a.dropdown-toggle{
	color: #fff;
	font-size: 18px;
	background-color: #FF9731;
	padding: 15px 100px 15px 20px;
	border-radius: 4px 4px 0 0;
	position: relative;
	text-transform: capitalize;
}
.main-menu nav.navbar ul.navbar-nav li.nav-item.nav-category .dropdown-menu{
	width: 100%;
	border: 2px solid #FF9731;
	box-sizing: border-box;
	border-radius: 0 0 4px 4px;
	margin-top: 0px;
	padding: 0 15px;
}
.main-menu nav.navbar ul.navbar-nav li.nav-item.nav-category a.dropdown-toggle:after{
	content: "";
	background: url(../img/icons/indicator-menu.svg) no-repeat center;
	border: none;
	width: 18px;
	height: 18px;
	position: absolute;
	z-index: 1;
	right: 15px;
	margin: auto;
	top: 0;
	bottom: 0;
}
.main-menu nav.navbar ul.navbar-nav>li.nav-item>ul{
	min-width: 170px;
	padding: 0 15px;
	list-style: none;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 7px #666;
}
.main-menu nav.navbar ul.navbar-nav>li.nav-item>ul a,
.main-menu nav.navbar ul.navbar-nav li.nav-item.nav-category .dropdown-menu a{
	border-bottom: 1px solid #E8E8E8;
	padding: 12px 0;
	color: #555;
}
/*End header*/

/*Home page*/
.slide-banner .flexslider{
	overflow: hidden;
	max-height: 440px;
	margin-bottom: 30px;
}
.banner-highlight .item{
	margin-bottom: 22px;
}
.slide-banner .flexslider li>img{
	animation: zoompan 30s linear infinite 0s;
	transform:scale(1.1);
	width: 100%;
}
.product-section{
	margin: 15px 0;
}
.view-header h2.block-title{
	color: #616161;
	font-size: 24px;
	font-weight: 400;
	padding: 10px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #93979C;
	position: relative;
}
.view-header h2.block-title:after{
	content: "";
	width: 75px;
	height: 2px;
	background: #FF9731;
	left: 0;
	bottom: -1px;
	position: absolute;
	z-index: 1;
}

.product-views .flex-direction-nav a{
	background-color: #555;
}
.product-views .flex-direction-nav a.flex-prev{
	left: 0;
}
.product-views .flex-direction-nav a.flex-next{
	right: 0;
}
.product-views .flex-direction-nav a:before{
	background-color: #fff;
}
.product-views .product-wrap{
	padding: 0 15px;
	display: inline-block;
	text-align: center;
}
.product-views .product-item{
	padding: 10px;
	transition: all 0.2s ease;
	margin-bottom: 15px;
}
.product-views .product-item:hover{
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.product-views .product-item .img{
	height: 190px;
	display: inline-block;
}
.product-views .product-item .img a{
	display: table-cell;
	vertical-align: middle;
}
.product-views .product-item a.link{
	display: inline-block;
	width: 100%;
	color: #616161;
	font-size: 16px;
	margin: 10px 0;
}
.product-views .product-item a.link:hover{

}
.product-views .product-item .price{
	color: #FF9731;
	font-size: 24px;
}

.blog-views{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #93979C;
}
.blog-item{
	margin: 15px 0;
}
.blog-item .img img{
	border-radius: 3px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}
.blog-item .blog-right .title{
	margin-bottom: 10px;
	font-size: 24px;
	color: #616161;
	line-height: 28px;
	display: inline-block;
	font-weight: 500;
}
.blog-item .blog-right .body{
	font-size: 14px;
	margin-bottom: 5px;
}
.blog-item .blog-right a.read-more{
	font-size: 12px;
	color: #FF9731;
	font-style: italic;
}
/*End home*/

/*Account page*/
.sidebar-left nav.navbar{
	background: #F5F5F5;
	padding: 10px 0;
	align-items: flex-start;
}
.profile-page .sidebar-left nav.navbar{
	height: 100%;
}
.sidebar-left nav.navbar ul.nav li.nav-item{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #E8E8E8;
	padding-left: 10px;
}
.sidebar-left nav.navbar ul.nav li.nav-item a.nav-link{
	padding: 10px 5px;
	color: #555;
}
.sidebar-left nav.navbar ul.nav li.nav-item:hover,
.sidebar-left nav.navbar ul.nav li.nav-item.active{
	background: #EFEFEF;
}
.sidebar-left nav.navbar ul.nav li.nav-item a.nav-link:hover,
.sidebar-left nav.navbar ul.nav li.nav-item a.nav-link.active{
	border-left: 2px solid #FF9731;
}
form#profile-form:not(.show-input) input.form-control,
form#profile-form:not(.show-input) .form-action{
	display: none;
}
form#profile-form.show-input .value,
form#profile-form.show-input a.change{
	display: none;
}
.order-list a.remove{
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	color: #fff;
	background: #DBDBDB;
	margin-left: 30px;
	top: -3px;
	position: relative;
}
/*End account page*/

/*Product page*/
.product-info .product-slider .flexslider#slider{
	margin-bottom: 30px;
	border: 3px solid rgba(147, 151, 156, 0.4);
	overflow: hidden;
}
.product-info .product-slider .flexslider#carousel li.flex-active-slide{
	border: 2px solid #DA0000;
}
/*End product page*/

/*Footer*/
footer#footer{
	background-color: #232F3E;
	color: #fff;
	padding: 30px 0;
	font-weight: 300;
}
footer#footer h2.block-title{
	font-size: 20px;
	margin: 30px 0 15px;
}
footer#footer a{
	color: #fff;
}
footer#footer a:hover{
	color: #FF9731;
}
footer#footer .social-items .item{
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	border-radius: 100%;
	line-height: 35px;
	border: 1px solid #fff;
}
footer#footer .social-items .item i{
	font-size: 12px;
	background-color: #fff;
}
/*End footer*/

@keyframes zoompan {
	0%   {
		transform:scale(1.2);
		transform-origin: 50% 50% 0px:
	}
	10%  {
		transform:scale(1.18);
		transform-origin: 30% 40% 0px:
	}
	20%  {
		transform:scale(1.16);
		transform-origin: 10% 30% 0px:
	}
	30%  {
		transform:scale(1.14);
		transform-origin: -10% 20% 0px:
	}
	40%  {
		transform:scale(1.12);
		transform-origin: -30% 10% 0px:
	}
	50% {
		transform:scale(1.1);
		transform-origin: -50% 0% 0px:
	}

	60%   {
		transform:scale(1.12);
		transform-origin: -70% 10% 0px:
	}
	70%  {
		transform:scale(1.14);
		transform-origin: -90% 20% 0px:
	}
	80%  {
		transform:scale(1.16);
		transform-origin: -110% 30% 0px:
	}
	90%  {
		transform:scale(1.18);
		transform-origin: -130% 40% 0px:
	}
	100%  {
		transform:scale(1.2);
		transform-origin: -150% 50% 0px:
	}
}