{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>

<main class="main-content">
    <div class="container pb-5">
        <nav aria-label="breadcrumb" class="my-5 pt-3">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        {% if order_products is not empty %}
            <h1 class="font-24 mb-4 text-uppercase">Giỏ hàng <span class="sixth-color font-14 text-lowercase ml-3 font-weight-400">( {{ order['amount'] }} sản phẩm )</span></h1>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% include ('default/template/checkout/my_orders_cart_listing_template.twig') %}
            </div>
        </div> <!-- End row -->
    </div>
</main>
{#modal not account#}
{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}
<!-------------------- /.PAGE ELEMENT ---------------------->

{{ footer }}