<main id="main-wrapper">
   <!-- Main Content -->
   <div class="main-content pb-3 pb-md-5">
      <div class="container">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dự án</li>
         </ol>
         <!-- End breadcrumb -->

         <div class="projects-view full-width">
            {% for blog_key, blog in blog_list %}
               <div class="project-item">
                  <div class="row">
                     <div class="col-lg-7">
                        <a href="{{ blog['link'] }}?type=du-an" class="project-img">
                           <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                        </a>
                     </div>
                     <div class="col-lg-5 d-flex flex-column justify-content-center w-lg-25">
                        <a href="{{ blog['link'] }}?type=du-an" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" class="project-title">
                           {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                        </a>
                        <span class="text-secondary">
                            {{ blog['short_content']|length > 300
                            ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                            : blog['short_content']|html_entity_decode|striptags }}
                        </span>
                     </div>
                  </div>
               </div>
            {% endfor %}
         </div>
         <!-- End project listing -->

         <div class="mt-lg-4 mb-4 d-flex justify-content-center">
            {{ pagination }}
         </div>
         <!-- End pagination -->

      </div>
   </div>
</main>