.header-top{
    padding: 10px 0;
    line-height: 20px;
}
.block-header .fix-content{
    background-color: #fff;
}
.block-header{
    min-height: 187px;
    z-index: 99999;
    position: relative;
}
.block-header.fixed .fix-content{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
}
.block-header .block-header-logo > a{
    padding: 18px 0;
    display: inline-flex;
}
.block-header .block-header-logo img{
    margin: auto 0;
}
.block-header.fixed .form-search-header{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%%;
    padding-top: 29px;
    padding-bottom: 29px;
}
.block-header.fixed .form-search-header .input-group-append,
.block-header.fixed .cart-area,
.block-header.fixed .category-menu-header{
    display: none;
}
.block-header.fixed .main-menu-wrapper{
    background: #fff !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 41.666667%;
    height: 100%;
}
.block-header.fixed .main-menu-wrapper .container{
    padding: 0;
}
.block-header .cart-link{
    padding: 8px;
    color: #fff;
    height: 48px;
    margin: 20px 0;
    display: inline-flex;
}
.block-header .cart-link>i.icon{
    background-color: #fff;
    margin: 8px;
    font-size: 17px;
}
.block-header .cart-link .amount{
    text-align: left;
    line-height: 15px;
    margin-left: 6px;
    padding-left: 15px;
    border-left: 1px solid #fff;
    font-weight: 500;
}
.block-header .cart-link .amount .quantity{
    font-size: 12px;
    display: block;
}
.category-menu-header{
    position: relative;
    display: inline-flex;
}
.category-menu-header >a.menu-title{
    color: #fff;
    font-weight: 500;
    padding: 12px 25px;
    width: 100%;
    line-height: 24px;
}
.category-menu-header >a.menu-title:after{
    content: "";
    background: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
}
.category-menu-header >a.menu-title:hover{
    text-decoration: none;
}
.category-menu-header #collapseCategory{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 15px;
    z-index: 1;
}
.category-menu-header #collapseCategory>ul.nav{
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid;
}
.category-menu-header #collapseCategory>ul.nav li{
    width: 100%;
    padding: 0 24px;
}
.category-menu-header #collapseCategory>ul.nav li a{
    padding: 10px 0;
    line-height: 28px;
    border-bottom: 1px solid #EBEBEB;
}
.category-menu-header #collapseCategory>ul.nav li:hover,
.category-menu-header #collapseCategory>ul.nav li.active{
    background-color: #EBEBEB;
}
.category-menu-header #collapseCategory>ul.nav li:nth-last-child a{
    border: none;
}
.category-menu-header #collapseCategory>ul.nav li a,
.category-menu-header #collapseCategory>ul.nav li a.active,
.category-menu-header #collapseCategory>ul.nav li a:hover{

}
.block-header .block-header-menu{
    text-align: left;
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a{
    padding: 35px 25px;
    line-height: 28px;
}
.block-header .block-header-menu ul.nav > li{
    position: relative;
}
.block-header .block-header-menu .collapse>ul.nav > li > a{
    color: #fff
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a{
    color: #3F4755;
}
.block-header .block-header-menu ul.nav > li > a{
    padding: 15px 30px;
    line-height: 18px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
    position: absolute;
    width: 11px;
    height: 6px;
    -webkit-mask:  url('../img/icons/drop-down.svg') center no-repeat;
    mask: url('../img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: contain;
    -mask-size: contain;
    background-color: #fff;
    top: 20px;
    right: 10%;
}
.block-header .block-header-menu ul.nav ul.nav > li.has-child > a>.toggle{
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    top: 22px;
}
.block-header .block-header-menu ul.nav ul.nav{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    min-width: 195px;
    padding: 20px 0px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform-origin: top;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.block-header .block-header-menu li:hover > ul.nav{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.block-header .block-header-menu li ul.nav li,
.block-header .block-header-menu li ul.nav li a{
    width: 100%;
    text-align: left;
}
.block-header .block-header-menu li ul.nav ul.nav{
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
    margin-top: 10px;
    left: 100%;
    top: 0;
}
.block-header .block-header-menu li ul.nav >li:hover>ul.nav{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.block-header .block-header-menu ul.nav a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #454545;
    display: inline-block;
}
.block-header .block-header-menu li ul.nav a{
    padding: 15px 30px;
}
.block-header .block-header-menu ul.nav li:hover >a,
.block-header .block-header-menu ul.nav li a:hover,
.block-header .block-header-menu ul.nav a.active{
    color: #464646;
    font-weight: 600;
    text-decoration: none;
}
.block-header .block-header-menu ul.nav ul.nav li:hover >a,
.block-header .block-header-menu ul.nav ul.nav li a:hover,
.block-header .block-header-menu ul.nav ul.nav a.active{
    color: #D0203F !important;
}