<nav aria-label="breadcrumb" class="mt-2 mb-3">
    <div class="container">
        <ol class="breadcrumb py-3">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['href'] is defined %}
                    <li class="breadcrumb-item"><a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page"><a class="breadcrumb-item active">{{ breadcrumb['text'] }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>