{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
        <div class="container">
            <div class="owl-carousel owl-slide owl-banner">
                {% for slide in slideshow.slides %}
                    <div class="item">
                        <a href="{{ slide['url'] }}" target="_blank" title="{{ slide['description'] }}">
                            {% if is_ios_device == 1 %}
                                <img src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"/>
                            {% else %}
                                <source data-srcset="{{ slide['image-url'] }} 320w, {{ slide['image-url'] }} 640w,"/>
                                <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"/>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.Slideshow -->
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
<!-- block-ads-banner -->

{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

{% if banners_visible == '1' %}
    <!-- List-banner -->
    <section id="block-banner-03">
        <div class="container">
            <ul class="list-banner">
                {% if banner_highlight['visible'] == '1' %}
                    <li class="bestme-block-banner-1">
                        <a target="_blank" href="{{ banner_highlight['url'] }}"><img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}"></a>
                    </li>
                {% endif %}
                {% if banner_left['visible'] == '1' %}
                    <li class="bestme-block-banner-2">
                        <a target="_blank" href="{{ banner_left['url'] }}"><img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }} "></a>
                    </li>
                {% endif %}
                {% if banner_middle['visible'] == '1' %}
                    <li class="bestme-block-banner-3">
                        <a target="_blank" href="{{ banner_middle['url'] }}"><img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
    <!-- ./List-banner -->
{% endif %}
<!-- /.block-ads-banner -->

<!-- block-top-sale-product -->
{% for k, block in blocks %}
    {% if block['visible']%}
    <!-- List-prodcut -->
    <section class="block-list-product bestme-block-best-sales-product">
        <div class="container">
            <h2 class="ttl-style01"><span>{{ block['title'] }}</span></h2>
            <div class="list-product">
                <div class="owl-carousel owl-slide owl-best-sale-product-{{ k }}" data-number-item="{{ block['grid'] }}" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                    {% if block['collections'] is not empty %}
                        {% for k,collection in block['collections'] %}
                            <div class="item-product">
                                <div class="product-box">
                                    <div class="img-pro">
                                        <a href="{{ collection['url'] }}"><img class="lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}"></a>
                                    </div>
                                    <div class="text-pro">
                                        <span class="cate-pro">
                                            <a class="product-name" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    {% for k,product in block['products'] %}
                        <div class="item-product">
                            <div class="img-pro">
                                <a href="{{ product['href'] }}">
                                    <img class="lazyload" data-src="{{ product['thumb'] }}" alt="product">
                                    <div class="sale-hot">
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <span class="hot">hết</span>
                                        {% endif %}
                                        {% if product['is_best_sale_product'] %}
                                            <span class="hot">hot</span>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                            <div class="text-pro">
                                <span class="cate-pro" style="color: #e2a50d;">{{ product['nameCategory'] }}</span>
                                <span class="cate-pro">
                                    <a title="{{ product.name }}" class="product-name" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </span>
                                <div class="rated d-none">
                                    <ul>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                    <span class="num-rated">(10)</span>
                                </div>
                                <div class="price">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="price-new">
                                            Liên hệ
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            <span class="price-new">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="price-new">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="price-old">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <p class="view-more" style="text-align: center"><a href="{{ block['view_more'] }}">Xem thêm >></a></p>
        </div>
    </section>
    <!-- ./List-product -->
    {% endif %}
{% endfor %}
<!-- /.block-top-sale-product -->
<div class="bestme_app_after_product">

</div>
<!-- block-blog -->
{% if latest_blog %}
<section class="block-list-product">
    <div class="container">
        <h2 class="ttl-style01"><span>{{ blog_title }}</span></h2>
        <div class="row">
            {% for key, latest_blog in latest_blog %}
                {% if key < 3 %}
                    <div class="col-md-12 col-lg-4 col-news">
                    <div class="item-news">
                        <div class="img-new">
                            <a href="{{ latest_blog['link'] }}">
                                <img src="{{ latest_blog['image'] }}" alt="{{ latest_blog['title'] }}">
                                <span class="date">{{ latest_blog['date_added']|date("d/m/Y") }}</span>
                            </a>
                        </div>
                        <div class="text-new">
                            <h4 class="ttl-new"> <a href="{{ latest_blog['link'] }}" title="{{ latest_blog['title'] }}">{{ latest_blog['title'] }}</a></h4>
                            <p>
                                {{ latest_blog['short_content']|length > 100 ? latest_blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : latest_blog['short_content']|html_entity_decode|striptags }}
                            </p>
                            <a href="{{ latest_blog['link'] }}" class="read-more">xem thêm</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<!-- /.block-blog -->

<!-- block-partner -->
{% if partners_visible == '1' %}
    <!-- List-prodcut -->
    <section class="block-list-product bestme-block-partner">
        <div class="container">
            <h2 class="ttl-style01"><span>{{ partners_title }}</span></h2>
            <!-- Swiper -->
            <div class="swiper-container swiper-partner" data-auto-play="{{ partners_setting.autoplay }}" data-loop="{{ partners_setting.loop }}" data-limit-inline="{{ partners_limit_per_line }}">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                        <div class="swiper-slide">
                            <a href="{{ partner.url }}"><img class="img-fluid lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- ./List-product -->
{% endif %}
<!-- /.block-partner -->
<div class="bestme_app_before_footer">

</div>
<style>
    .product-name{
        color: #e91e63;
        text-decoration-line: none;
    }
    .product-name:hover{
        color: #e91e63;
        text-decoration-line: none;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.owl-best-sale-product-' + '{{ k }}').length > 0) {
            const autoplayTime = undefined === jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay_time') ? 5 : jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay_time')
            jQuery('.owl-best-sale-product-' + '{{ k }}').owlCarousel({
                items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                loop: undefined !== jQuery('.owl-best-sale-product-' + '{{ k }}').data('loop') && 1 == jQuery('.owl-best-sale-product-' + '{{ k }}').data('loop'),
                margin: 30,
                autoplay: undefined !== jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay') && 1 == jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay'),
                autoplayTimeout: autoplayTime * 1e3,
                nav: false,
                dots: false,
                dotsSpeed: 1000,
                autoplaySpeed: 1000,
                navSpeed: 800,
                responsive: {
                    0: {
                        items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    480: {
                        items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    600: {
                        items: 3
                    },
                    768: {
                        items: 4
                    },
                    1000:{
                        items: 5
                    },
                    1200:{
                        items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                    }
                }
            });
        }
        {% endfor %}
    });
</script>

{{ footer }}