{{ header }}

{# TODO: use var theme_dir instead of hardcode... #}
{% include ('tech_digitech/template/blog/blog_breadcrumb.twig') %}
<!-- content-result -->
<section class="content-result content-post-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-9 order-md-8 order-xl-9">
                <div class="list-post-news">
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for blog in blog_list %}
                            <div class="item-post">
                                <div class="row">
                                    <div class="col-12 col-lg-5 col-xl-6">
                                        <div class="img-post">
                                            <a href="{{  blog['link'] }}">
                                                <img src="{{ blog['image'] }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 col-xl-6">
                                        <div class="text-post">
                                            <h3 class="ttl-post"><a href="{{ blog['link'] }}">{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a></h3>
                                            <ul class="date-ad">
                                                <li>
                                                    <span> Ngày: </span> {{ blog['date_added']|date('d-m-Y') }}
                                                </li>
                                                <li>
                                                    <span> Bởi:</span> <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                                </li>
                                            </ul>
                                            <p>
                                                {{ blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a href="{{ blog['link'] }}" class="read_more">ĐỌC TIẾP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {{ pagination }}
            </div>
            {# TODO: use var theme_dir instead of hardcode... #}
            {% include ('tech_digitech/template/blog/blog_nav_left.twig') %}
        </div>
    </div>
</section>
<!-- content-result -->
<!-- End content wrapper -->

{{ footer }}