{{ header }}

<main id="main-wrapper" class="padding_top">
    <!-- Main Content -->

    <div class="main-content pb-3 pb-md-5" >
        <div class="product-teaser-fix">
            <div class="container">
                <div class="d-flex">
                    <span class="font-weight-500 align-self-center">{{ product['name'] }}
                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                        {% else %}
                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                {% if product['max_price_version'] is null %}
                                    <span class="second-color">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                {% else %}
                                    <span class="second-color">
                                        {{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}
                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                            ~ {{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}
                                        {% endif %}
                                    </span>
                                {% endif %}

                            {% else %}

                                {% if product['max_price_version'] is null %}
                                    <span class="second-color">{{ product['price_master']|replace({'VND': 'đ'}) }}</span>
                                {% else %}
                                    <span class="second-color">
                                        {{ product['min_price_version']|replace({'VND': 'đ'}) }}
                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                            ~ {{ product['max_price_version']|replace({'VND': 'đ'}) }}
                                        {% endif %}
                                    </span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </span>
                    <div class="ml-auto">
                        <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                onclick="cart.add('{{ product['product_id'] }}')"
                                class="add-cart align-self-end px-4 py-2 btn btn-black-20 text-white fz-14 fw-700 rounded-0 text-uppercase mr-3
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                            Thêm vào giỏ hàng</button>
                        <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="align-self-end px-4 button_buying py-2 btn btn-primary text-black-20 fz-14 fw-700 rounded-0 text-uppercase
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                            Mua ngay</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Info -->
        <div class="product-info">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 pro-thumb-detail">
                        <div id="carouselProDetail" class="carousel slide clearfix" data-ride="carousel">
                            <div class="carousel-thumb d-none d-lg-flex justify-content-center">
                                <ol class="carousel-indicators d-block m-auto">
                                    {% if product_images is not empty %}
                                        {% for k,image in product_images %}
                                            <li data-target="#carouselProDetail" data-slide-to="{{ k }}" class="{% if k ==0 %} active {% endif %} mb-2">
                                                <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li data-target="#carouselProDetail" data-slide-to="0" class="active mb-2">
                                            <img src="{{ product_empty }}" alt="">
                                        </li>
                                    {% endif %}
                                </ol>
                            </div>
                            <div class="carousel-inner w-sm-100">
                                {% if product_images is not empty %}
                                    {% for k,image in product_images %}
                                        <div class="carousel-item {% if k ==0 %} active {% endif %}">
                                            <img src="{{ image['image'] }}" class="d-block w-100" alt="{{ image['image_alt'] }}">
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="carousel-item">
                                        <img src="{{ product_empty }}" class="d-block w-100" alt="">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- /.pro-thumb-zoom -->
                    <div class="col-lg-7 pro-detail pt-3 pt-lg-5">
                        <h1 class="page-pro-title fz-30 fw-500 text-black-50 text-uppercase mt-3 mb-2">
                            {{ product['name'] }}

                            {% if product['percent_sale'] is not empty %}
                                <span class="title-type d-inline-block text-white fz-12 bg-danger py-1 px-2 mt-2">{{ product['percent_sale'] }}</span>
                            {% endif %}
                        </h1>
                        <ul class="list-social list-inline">
                            <span class="block-status">Tình trạng:
                            {% if product['product_is_stock'] %}
                                <span class="ml-3 second-color font-weight-500">Còn hàng</span>
                                    {% else %}
                                <span class="ml-3 second-color font-weight-500">Hết hàng</span>
                            {% endif %}
                            </span> &nbsp;&nbsp;&nbsp;
                            <li class="list-inline-item border-right border-light pr-3 d-none">
                                <div class="wrap-star-rate text-center">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star"></span>
                                        </li>
                                    </ul>
                                </div><!-- /.wrap-star-rate -->
                            </li>
                            <li class="list-inline-item">
                                <a href="https://plus.google.com/share?url={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}" target="_blank">
                                    <i class="fab fa-google text-google fz-13"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}" target="_blank">
                                    <i class="fab fa-facebook-f text-facebook fz-13"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_ur|raw }}" target="_blank">
                                    <i class="fab fa-twitter text-twitter fz-13"></i>
                                </a>
                            </li>
                        </ul>
                        <form id="add-to-cart" action="{{ action }}" method="POST">
                            <div class="price-rate mb-3">
                                <div class="pro-price product-detail-price">
                                    {% if product['is_contact_for_price'] %}
                                    <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy">
                                        <span class="new-price fw-500 fz-22 mr-2">{{ contact }}</span>
                                    </a>
                                    {% else %}
                                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="new-price text-danger fw-500 fz-22 mr-2">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="new-price text-danger fw-500 fz-22 mr-2">
                                                    {{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="new-price text-danger fw-500 fz-22 mr-2">{{ product['price_master']|replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="new-price text-danger fw-500 fz-22 mr-2">
                                                    {{ product['min_price_version']|replace({'VND': 'đ'}) }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version']|replace({'VND': 'đ'}) }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                            {% if product['max_compare_price_version'] is null %}
                                                <span class="old-price text-light-2 fz-15 fw-500">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="old-price text-light-2 fz-15 fw-500">
                                                    {{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div><!-- /.pro-price -->
                            </div><!-- /.price-rate -->

                            {% if attributes is not empty %}
                                {% for attribute in attributes %}
                                    <div class="form-group mb-3 d-flex">
                                        <label class="fz-18 text-black-50 m-0 w-20 mr-2 fix-mobile">{{ attribute['attribute_name'] }}</label>
                                        <ul class="list-radio-size list-inline mb-0 align-self-center">
                                            {% for key,attribute_text in attribute['attribute_text'] %}
                                                <li class="list-inline-item">
                                                    <div class="form-check p-0">
                                                        <input class="form-check-input d-none" {% if key == 0 %} checked {% endif %} type="radio" name="attribute[{{ attribute['attribute_name'] }}]" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}" value="{{ attribute_text }}">
                                                        <label class="form-check-label pointer" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">
                                                            {{ attribute_text }}
                                                        </label>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="{% if product['multi_versions'] == 0 %} d-flex {% endif %} flex-wrap py-2 show-on-pc {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} invisible {% endif %}">
                                <div class="mb-3 mr-2 w-20 w-sm-100 d-flex flex-wrap">
                                    <label class="fz-18 text-black-50 m-right">Số lượng &nbsp;</label>
                                    <div class="buy-total quantity">
                                        {#<input class="custom-number-input border border-light-3 mx-2 text-black text-center fw-600 fz-14" type="number" name="quantity[]" value="1" min="1">#}
                                        <div class="buy-total ">
                                            <input pattern="[0-9]*" type="number" min="1" required=""
                                                   oninput="this.setCustomValidity('')"
                                                   oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                                   name="quantity" step="1"
                                                   max="9999"
                                                   class="border-light-3 border px-2 text-black-50 text-center fw-600 quantity-input"
                                                   value="1">
                                        </div>
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div><!-- /.buy-total -->
                                </div>
                                <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        id="button-add-to-cart"
                                        type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} {% endif %}
                                        onclick="cart.add('{{ product['product_id'] }}')"
                                        class="align-self-end px-4 py-2 btn btn-black-20 text-white fz-14 fw-700 rounded-0 text-uppercase mb-3 mr-3"
                                        {% if product['is_contact_for_price'] %} disabled {% endif %}>Thêm vào giỏ hàng
                                </button>

                                <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        id="buy-now"
                                        type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} {% endif %}
                                        class="align-self-end px-4 py-2 btn btn-primary text-black-20 fz-14 fw-700 rounded-0 text-uppercase mb-3"
                                        {% if product['is_contact_for_price'] %} disabled {% endif %}>Mua ngay
                                </button>
                            </div>

                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">

                            {# only on mobile #}
                            {% if is_on_mobile == 1 %}
                                <div class="show-on-mobile buy-now-mobile row w-100 d-flex">
                                    <div class="col-2 number-quantity pl-0">
                                        <input pattern="[0-9]*" type="number" oninput="this.setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                               required name="quantity" min="1" max="9999" step="1" value="1"
                                               class="text-center w-100 {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    </div>
                                    <div class="col-6 pl-0 pr-0">
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                id="button-add-to-cart-mobile"
                                                class="btn btn-action btn-black-20 {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}
                                                                    {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                                onclick="cart.add('{{ product['product_id'] }}')">Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                id="buy-now-mobile"
                                                class="btn btn-buy btn-primary {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua ngay
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            {# end only on mobile #}
                        </form>
                        <p class="mt-3 ckeditor-content">{{ product['sub_description']|html_entity_decode }}</p>
                    </div>
                    <div class="product-body my-3 col-lg-12">
                        <h3 class="fw-500 fz-25 text-black-50 text-uppercase text-center mb-3 mb-md-5">Chi tiết sản phẩm</h3>
                        <div class="content ckeditor-content">
                            {{ product['description']|html_entity_decode }}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End: Product Info -->

        {#<div class="comment-rating my-3 pt-3 d-none">#}
            {#<div class="container">#}
                {#<h3 class="fw-500 fz-25 text-black-50 text-uppercase text-center mb-3 mb-md-5">Bình luận</h3>#}
                {#<div class="row">#}
                    {#<div class="col-lg-5">#}
                        {#<div class="form-rate mb-3">#}
                            {#<form action="">#}
                                {#<div class="form-group">#}
                                    {#<textarea class="form-control rounded-0 fw-300" rows="7">Lorem Ipsum is simply dummy it of the printing and type setting industry. Lorem Ipsum has been the industry's#}
                                    {#</textarea>#}
                                {#</div>#}
                                {#<div class="form-bottom clearfix">#}
                                    {#<div class="user-star-rate float-left mt-1">#}
                                        {#<div class="rating-group">#}
                                            {#<input class="rating__input rating__input--none" name="rating1" id="rating1-none" value="0" type="radio">#}
                                            {#<label aria-label="1 star" class="rating__label" for="rating1-1">#}
                                                {#<span class="rating__icon rating__icon--star"></span>#}
                                            {#</label>#}

                                            {#<input class="rating__input" name="rating1" id="rating1-1" value="1" type="radio">#}
                                            {#<label aria-label="2 stars" class="rating__label" for="rating1-2">#}
                                                {#<span class="rating__icon rating__icon--star"></span>#}
                                            {#</label>#}

                                            {#<input class="rating__input" name="rating1" id="rating1-2" value="2" type="radio">#}
                                            {#<label aria-label="3 stars" class="rating__label" for="rating1-3">#}
                                                {#<span class="rating__icon rating__icon--star"></span>#}
                                            {#</label>#}

                                            {#<input class="rating__input" name="rating1" id="rating1-3" value="3" type="radio">#}
                                            {#<label aria-label="4 stars" class="rating__label" for="rating1-4">#}
                                                {#<span class="rating__icon rating__icon--star"></span>#}
                                            {#</label>#}

                                            {#<input checked class="rating__input" name="rating1" id="rating1-4" value="4" type="radio">#}
                                            {#<label aria-label="5 stars" class="rating__label" for="rating1-5">#}
                                                {#<span class="rating__icon rating__icon--star"></span>#}
                                            {#</label>#}
                                            {#<input class="rating__input" name="rating1" id="rating1-5" value="5" type="radio">#}
                                        {#</div>#}
                                    {#</div><!-- /.user-star-rate -->#}
                                    {#<button class="btn btn-warning fz-12 text-white float-right rounded-0">Bình luận</button>#}
                                {#</div><!-- /.form-head -->#}
                            {#</form>#}
                        {#</div><!-- /.form-rate -->#}
                    {#</div>#}
                    {#<!-- List comment -->#}
                    {#<div class="col-lg-7 ">#}
                        {#<div class="list-comment">#}
                            {#<div class="media mb-3">#}
                                {#<img src="img/comment-user.png" class="mr-3" alt="...">#}
                                {#<div class="media-body mt-1">#}
                                    {#<h5 class="mt-0 fz-16 fw-500 text-black-50">Luong Viet Dung</h5>#}
                                    {#<div class="rate-reuslt clearfix">#}
                                        {#<!-- Star Rate -->#}
                                        {#<div class="wrap-star-rate float-left mr-1">#}
                                            {#<ul class="list-inline mb-0">#}
                                                {#<li class="list-inline-item mr-0">#}
                                                    {#<span class="star star-rate"></span>#}
                                                {#</li>#}
                                                {#<li class="list-inline-item mr-0">#}
                                                    {#<span class="star star-rate"></span>#}
                                                {#</li>#}
                                                {#<li class="list-inline-item mr-0">#}
                                                    {#<span class="star star-rate"></span>#}
                                                {#</li>#}
                                                {#<li class="list-inline-item mr-0">#}
                                                    {#<span class="star star-rate"></span>#}
                                                {#</li>#}
                                                {#<li class="list-inline-item mr-0">#}
                                                    {#<span class="star"></span>#}
                                                {#</li>#}
                                            {#</ul>#}
                                        {#</div>#}
                                        {#<!-- End: Star Rate -->#}
                                        {#<span class="rate-date fz-10 text-black-50 float-left pt-1">12/09/2019</span>#}
                                    {#</div>#}
                                    {#<p class="mb-0 fw-300 text-black-50">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>#}
                                {#</div>#}
                            {#</div><!-- /.media -->#}


                        {#</div>#}
                    {#</div>#}
                    {#<!-- End: List comment -->#}
                {#</div>#}
            {#</div>#}
        {#</div> <!-- End: Comment and Rating -->#}
        {% if related_product_visible %}
        <div class="product-related my-3 mb-md-5 bestme-block-product-related-product" data-number-item="{{ related_products_display_grid_quantity }}">
            <div class="container">
                <h3 class="box-title fz-25 fw-500 text-uppercase text-black-50 text-center mb-3 mb-md-5">{{ related_product_title }}</h3>
                <div class="owl-product owl-carousel owl-theme owl-hidden-dots" data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                    {% for product in related_products %}
                    <div class="item pro-item">
                        <div class="pro-item">
                            <div class="pro-thumb position-relative">
                                <img src="{{ product['thumb'] }}" class="w-100" alt="">
                                <!-- Pro Types -->
                                <ul class="pro-list-type w-100 list-inline mb-0">

                                    {% if product['product_is_stock'] == false %}
                                        <li class="list-inline-item float-left">
                                            <span class="d-inline-block text-white fz-12 bg-danger pd-1 px-2">Tạm Hết hàng</span>
                                        </li>
                                    {% endif %}

                                    {% if product['percent_sale'] is not empty %}
                                        <li class="list-inline-item float-left">
                                            <span class="title-type d-inline-block text-white fz-12 bg-danger py-1 px-2">{{ product['percent_sale'] }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                                <!-- End: Pro Types -->
                                <!-- Pro Overlay -->
                                <div class="pro-overlay transition d-flex justify-content-end align-items-end flex-column">
                                    <ul class="pro-action list-inline mb-3 mr-3">
                                        <li class="list-inline-item">
                                            <a href="{{ product['href'] }}" class="view-product text-center rounded-circle border border-primary text-primary bg-white">
                                                <span class="fas fa-eye"></span>
                                            </a>
                                        </li>
                                        {#<li class="list-inline-item">#}
                                            {#<a href="#" class="add-favourite text-center rounded-circle border border-primary text-primary bg-white">#}
                                                {#<span></span>#}
                                            {#</a>#}
                                        {#</li>#}
                                        <li class="list-inline-item">
                                            <a href="{{ product['href'] }}" class="add-cart text-center rounded-circle border border-primary text-primary bg-white">
                                                <span class="fas fa-cart-plus"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- EnD: Pro Overlay -->
                            </div>
                            <div class="pro-info text-center px-3">
                                <a href="{{ product['href'] }}" title="{{ product.name }}" title="{{ product.name }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                <div class="pro-price">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="new-price text-primary">{{ contact }}</span>
                                    {% else %}
                                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="new-price text-primary fw-600 fz-16 mr-2 show-title">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="new-price text-primary fw-600 fz-16 mr-2">
                                                    <span class="show-title">{{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ <span class="show-title">{{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="new-price text-primary fw-600 fz-16 mr-2 show-title">{{ product['price_master']|replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="new-price text-primary fw-600 fz-16 mr-2">
                                                    <span class="show-title">{{ product['min_price_version']|replace({'VND': 'đ'}) }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="show-title">{{ product['max_price_version']|replace({'VND': 'đ'}) }}</span>
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                            {% if product['max_compare_price_version'] is null %}
                                                <span class="old-price text-light fz-14 fw-600 show-title">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="old-price text-light fz-14 fw-600">
                                                    <span class="show-title">{{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ <span class="show-title">{{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div><!-- End: Product Related -->
        {% endif %}
    </div>
    <!-- End: Main Content -->
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $(document).ready(function () {

        $('.quantity').each(function () {
            var spinner = $(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

        });


        {#var description = {{ product.description | json_encode }};#}
        {#var descriptionEl = $('div.description.my-2');#}
        {#description = descriptionEl.html(description).text();#}
        {#descriptionEl.html(description);#}
        $('body').on('click', '.button_buying', function () {
            if (jQuery(this).attr('data-status') == "disabled") {
                alert('Sản phẩm hết hàng');
            } else {
                $('#add-to-cart').submit();
            }
        });
        // update current order
        updateCurrentOrder();
    });

    jQuery('#button-add-to-cart, #buy-now, .product-teaser-fix button.add-cart, #button-add-to-cart-mobile, #buy-now-mobile').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.cart .count').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.show-on-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>
<style>
    #modal-buy .modal-body, #modal-buy-product-success .modal-body {
        padding : 25px;
    }
</style>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

</script>
{{ footer }}
