<main id="main-wrapper">
   <!-- Main Content -->
   <div class="main-content pb-3 pb-md-5">
      <div class="container">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dự án</li>
         </ol>
         <!-- End breadcrumb -->

         <div class="text-center mb-4">
            <p class="fz-18 fw-500 text-primary my-4">DỰ ÁN</p>
            <h1>Dự án của chúng tôi</h1>
            <p class="text-secondary line-percent-vertical">
               Trải qua nhiều năm kinh nghiệm và phát triển không ngừng trong thời gian qua, đã và đang được nhiều khách hàng biết đến và tín nhiệm
            </p>
         </div>

         <div class="row">
            {% for blog_key, blog in blog_list %}
               <div class="col-12 col-md-4">
                  <div class="news-item projects-item">
                     <a href="{{ blog['link'] }}?type=du-an" class="news-img">
                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                     </a>
                     <a href="{{ blog['link'] }}?type=du-an" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" class="news-title">
                        {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                     </a>
                     <p class="news-desc">
                           <span>
                                {{ blog['short_content']|length > 300
                                ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                                : blog['short_content']|html_entity_decode|striptags }}
                           </span>
                     </p>
                  </div>
               </div>
            {% endfor %}
         </div>
         <!-- End project listing -->

         <div class="my-4 d-flex justify-content-center">
            {{ pagination }}
         </div>
         <!-- End pagination -->

      </div>
   </div>
</main>