<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/bai-viet">Tin tức</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ blog['title'] }}</li>
            </ol>
            <!-- End breadcrumb -->

            <ul id="categories-blog" class="nav owl-carousel owl-theme nav-tabs mb-4">
                {% for category in blog_category if category['title'] != 'projects' and category['title'] != 'giới thiệu' %}
                    <li class="nav-item me-md-4 slide-item {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">
                        <a href="{{ category['link'] }}" class="nav-link px-lg-5 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="row">
                <div class="col-12 news-detail news-item border-bottom-0">
                    {{ blog['content']|html_entity_decode }}
                </div>
                <!-- End blog detail -->

                <section class="news-related bg-fifth full-width ">
                    <div class="container">
                        <h2 class="text-center"><span class="line-percent d-inline-block mt-2">Bài viết liên
                                quan</span></h2>
                        <div class="row">
                            {% for k, blog in blog_relate_project if k < 3 %}
                                <div class="col-12 col-md-4">
                                    <div class="news-item">
                                        <a href="{{ blog['link'] }}?type=du-an" class="news-img">
                                            <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                        </a>
                                        <a href="{{ blog['link'] }}?type=du-an" class="news-title">
                                            {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                        </a>
                                        <p class="news-desc">{{ blog['date_publish']|date('d-m-Y') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- End news related -->
{#                <div class="col-12 col-md-3">#}
{#                    <div class="sidebar-right bg-fourth bg-lg-none">#}
{#                        <h2 class="fz-20 fw-500 text-primary mt-2">#}
{#                            <span class="line-percent left pb-2 mb-2 d-inline-block">TIN NỔI BẬT</span>#}
{#                        </h2>#}
{#                        {% for blog_key, blog in blog_list_new|slice(1, 4) if blog['blog_category_title'] != 'projects' and blog['blog_category_title'] != 'giới thiệu' %}#}
{#                            <div class="news-item teaser">#}
{#                                <div class="row">#}
{#                                    <div class="col-4 col-md-5 pe-0">#}
{#                                        <a href="{{ blog['link'] }}" class="news-img">#}
{#                                            <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-5 w-100">#}
{#                                        </a>#}
{#                                    </div>#}
{#                                    <div class="col-8 col-md-7 ps-2">#}
{#                                        <a href="{{ blog['link'] }}" class="news-title mt-0"#}
{#                                           title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip">#}
{#                                            {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}#}
{#                                        </a>#}
{#                                        <p class="news-date">{{ blog['date_publish']|date('d-m-Y') }}</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#                <!-- End blog sidebar -->#}
            </div>

        </div>
        <!--End container-->
    </div>
    <!--End main-content-->
</main>
<style>
    .owl-carousel .owl-nav button[class*=owl-] i {
        background-color: #212529;
        font-size: 30px;
    }
    .owl-carousel .owl-nav button.owl-next {
        left: auto;
        right: -10px;
        top: 8px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: auto;
        left: -10px;
        top: 8px;
    }
    @media (max-width: 768px) {
        ul#categories-blog {
            padding: 0 20px;
        }
    }
</style>
<script>
    $('#categories-blog').owlCarousel({
        loop: false,
        responsiveClass: true,
        lazyLoad: true,
        dots: false,
        autoHeight: true,
        autoWidth: true,
        nav: true,
        navText: ['<i class="icon icon-arrow-left"></i>', '<i class="icon icon-arrow-right"></i>'],
        responsive: {
            0: {
                items: 4,
            },
            600: {
                items: 3,
            },
            991: {
                items: 8,
            }
        },
    });
</script>