<main id="main-wrapper">
   <!-- Main Content -->
   <div class="main-content">
      <div class="container">
         <ol class="breadcrumb ">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
         </ol>
         <!-- End breadcrumb -->
         <ul id="categories-blog" class="nav owl-carousel owl-theme nav-tabs mb-4">
            {% for category in blog_category if category['title'] != 'projects' and category['title'] != 'giới thiệu' %}
            <li class="nav-item me-md-4 slide-item {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">
               <a href="{{ category['link'] }}" class="nav-link px-lg-5 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>
            </li>
            {% endfor %}
         </ul>

         <div class="row">
            <div class="col-12 col-md-9 mb-4 mb-md-0">
               <div class="blogs-listing">
                  {% for blog_key, blog in blog_list|slice(0, 1) if  blog['blog_category_title'] != 'projects' and blog['blog_category_title'] != 'giới thiệu' %}
                     <div class="news-item border-bottom pb-4 mb-4">
                        <a href="{{ blog['link'] }}" class="news-img">
                           <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-5 w-100">
                        </a>
                        <a href="{{ blog['link'] }}" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip" class="news-title">
                           {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                        </a>
                        <p class="news-date">{{ blog['date_publish']|date('d-m-Y') }}</p>
                        <p class="news-desc">
                              <span>
                                   {{ blog['short_content']|length > 300
                                   ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                                   : blog['short_content']|html_entity_decode|striptags }}
                              </span>
                        </p>
                        <a href="{{ blog['link'] }}" class="btn btn-primary mt-md-2">Xem chi tiết</a>
                     </div>
                  {% endfor %}
               </div>
               <!--End pagination-->
            </div>
            <div class="col-12 col-md-3">
               <div class="sidebar-right bg-fourth bg-lg-none">
                  <h2 class="fz-20 fw-500 text-primary mt-2">
                     <span class="line-percent left pb-2 mb-2 d-inline-block">TIN NỔI BẬT</span>
                  </h2>
                  {% for blog_key, blog in blog_list if blog['blog_category_title'] == 'tin nổi bật' %}
                     <div class="news-item teaser">
                        <div class="row">
                           <div class="col-4 col-md-5 pe-0">
                              <a href="{{ blog['link'] }}" class="news-img">
                                 <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-5 w-100">
                              </a>
                           </div>
                           <div class="col-8 col-md-7 ps-2">
                              <a href="{{ blog['link'] }}" class="news-title mt-0"
                                 title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip">
                                 {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                              </a>
                              <p class="news-date">{{ blog['date_publish']|date('d-m-Y') }}</p>
                           </div>
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>
         </div>
            <!-- End blog listing -->
            <div class="container">
               <div class="row">
               {% for blog_key, blog in blog_list|slice(1) if  blog['blog_category_title'] != 'projects' and blog['blog_category_title'] != 'giới thiệu' %}
                  <div class="news-item border-bottom mb-4 col-sm-6">
                     <div class="row">
                        <div class="col-md-5 mb-4">
                           <a href="{{ blog['link'] }}" class="news-img">
                              <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-5 w-100">
                           </a>
                        </div>
                        <div class="col-md-7 mb-4">
                           <a href="{{ blog['link'] }}" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip" class="news-title mt-0">
                              {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                           </a>
                           <p class="news-date">{{ blog['date_publish']|date('d-m-Y') }}</p>
                           <p class="news-desc">
                                    <span>
                                      {{ blog['short_content']|length > 300
                                      ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                                      : blog['short_content']|html_entity_decode|striptags }}
                                    </span>
                           </p>
                           <a href="{{ blog['link'] }}" class="btn btn-primary mt-md-2">Xem chi tiết</a>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               <div class="my-4 d-flex justify-content-center">
                  {{ pagination }}
               </div>
            </div>
            </div>
            <!-- End blog sidebar -->
         </div>

      </div>
      <!--End container-->
   </div>
   <!--End main-content-->
</main>
<style>
   .owl-carousel .owl-nav button[class*=owl-] i {
      background-color: #212529;
      font-size: 30px;
   }
   .owl-carousel .owl-nav button.owl-next {
      left: auto;
      right: -10px;
      top: 8px;
   }
   .owl-carousel .owl-nav button.owl-prev {
      left: auto;
      left: -10px;
      top: 8px;
   }
   @media (max-width: 768px) {
      ul#categories-blog {
         padding: 0 20px;
      }
   }
</style>
<script>
   $('#categories-blog').owlCarousel({
      loop: false,
      responsiveClass: true,
      lazyLoad: true,
      dots: false,
      autoHeight: true,
      autoWidth: true,
      nav: true,
      navText: ['<i class="icon icon-arrow-left"></i>', '<i class="icon icon-arrow-right"></i>'],
      responsive: {
         0: {
            items: 4,
         },
         600: {
            items: 3,
         },
         991: {
            items: 8,
         }
      },
   });
</script>