#header{
    font-size: 16px;
}
#header .header-top{
    color: var(--text-third);
    padding: 17px 30px 18px;
    font-size: 13px;
}
#header .header-top a:hover{
    text-decoration: underline;
}
#header .fix-content{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#header.fixed .fix-content{
    width: 100%;
    position: fixed;
    z-index: 9;
}
#header.fixed .fix-content{
    top: 0;
    background: #0E4058;
}
#header .navbar{
    padding: 0;
}
#header .navbar a.nav-link{
    color: #fff;
    position: relative;
    padding: 8px 0;
    margin-right: 35px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
#header .navbar a.nav-link:hover,
#header .navbar a.nav-link.active{
    color: var(--primary);
}
#header .main-header {
    background: var(--secondary);
    padding: 17px 0;
}
#header .header-search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#header .header-search form.search-form{
    border-radius: 20px;
    border: 1px solid #E5E5E5;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    overflow: hidden;
    background: #fff;
    padding: 8px 0 8px 18px;
    visibility: hidden;
    width: 155px;
}
#header .header-search.show form.search-form{
    visibility: visible;
    width: 335px;
}
#header .header-search input.form-control{
    border: none;
    border-left: 1px solid #737373;
    background: transparent;
    height: 23px;
    min-height: 23px;
    padding: 0 0 0 6px;
    border-radius: 0;
    font-size: 14px;
}
#header .header-search input.form-control:focus{
    outline: none;
    box-shadow: none;
}
#header .header-search .collapse-search{
    height: 20px;
}
#header .header-search .collapse-search a{
    margin-left: 15px;
}
#header .header-search.show .show-form,
#header .header-search .hide-form{
    display: none;
}
#header .header-search .show-form,
#header .header-search.show .hide-form{
    display: inline-block;
}