{% if banners_visible == '1' and
    ((banners[2] is defined and banners[2]['visible'] == '1'))
%}
    {% if banners_visible == '1' and banners[2] is defined and banners[2]['visible'] == '1' %}
        <!-- Box Banner -->
        <a href="{{ banners[2]['url'] }}" target="_blank" title="{{ banners[2]['description'] }}"
           class="mb-3 mb-lg-4 d-inline-block w-100 text-center">
            <img alt="{{ banners[2]['description'] }}" data-src="{{ banners[2]['image-url'] }}"
                 src="{{ placeholder_image_url }}" class="bestme-block-banner-3 lazyload">
        </a>
        <!-- End: Box Banner -->
    {% endif %}
{% endif %}