{% for k, block in blocks %}
    {% set items_per_slide = block['grid'] * block['row'] %}
    {% if block['collections'] is not empty %}
    <div class="box-product with-tab block-sale-off-product mb-3 mb-lg-4 px-lg-3 pb-3 bg-white {{ block['bestme_block_preview_class'] }}">
        <div class="d-flex flex-wrap">
            <h2 class="box-title align-self-center">
                <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
            </h2>
            <ul class="nav nav-tabs d-flex align-self-center flex-nowrap border-0 my-lg-2 ml-lg-2 mt-2 mt-lg-0"
                role="tablist">
                {% for j, collection in block['collections'] %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if 0 == j %}active{% endif %} btn-change-product-tab"
                           data-toggle="tab"
                           href="#product-tab-{{ k }}-{{ j }}"
                           role="tab"
                           aria-controls="product-tab-{{ k }}-{{ j }}"
                           aria-selected="true"
                           data-collection_id="{{ collection['collection_id'] }}"
                           data-grid="{{ block['grid'] }}"
                           data-row="{{ block['row'] }}"
                           data-is_loaded=0
                        >{{ collection['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-content mt-3">
        {% for j, collection in block['collections'] %}
        <div class="tab-pane fade show {% if 0 == j %}active{% endif %}" id="product-tab-{{ k }}-{{ j }}"
             role="tabpanel"
             aria-labelledby="product-tab-{{ k }}-{{ j }}">
        <div class="owl-product owl-collection-product owl-carousel owl-theme d-flex" data-interval="product"
             data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}"
             data-loop="{{ block.loop }}">
            {% set product_count = 0 %}
            {% set slide_rendering = false %}
            {% for product_index, product in block['products'] %}
                {% if collection['collection_id'] in product['collections'] %}
                    {% set product_count = product_count + 1 %}
                    {% if 1 == items_per_slide or 1 == product_count % items_per_slide %}
                        {% set slide_rendering = true %}
                        <div class="slide-item">
                        <div class="row px-2 row-cols-{{ block['grid'] }}">
                    {% endif %}
                    <div class="col">
                        <div class="pro-item">
                            <div class="img-thumb pro-thumb position-relative">
                                <div class="img-wrap">
                                    <a href="{{ product['href'] }}">
                                        <img data-src="{{ product['thumb'] }}" src="{{ placeholder_image_url }}" class="lazyload" height="500" width="200"
                                             alt="{{ product['name'] }}">
                                    </a>
                                </div>
                                {% if product['percent_sale'] is not empty %}
                                    <div class="pro-sticky sale-off">
                                        {{ product['percent_sale'] }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="d-flex pt-3 mb-1 flex-wrap justify-content-center">
                                <span class="pro-cat fz-12 fw-500 text-second">{{ product['nameCategory'] }}</span>
                                <!-- Star Rate -->
                                <div class="wrap-star-rate text-right d-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End: Star Rate -->
                            </div>
                            <div class="pro-info">
                                <a href="{{ product['href'] }}"
                                   class="pro-item-title text-primary d-block my-1">{{ product['name'] }}</a>
                                <div class="pro-price my-2">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="new-price text-third fw-600">
                                            {{ contact }}
                                        </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price text-third fw-600">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="new-price text-third fw-600">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                                </span>
                                            <span class="old-price text-second fz-12">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="pro-overlay transition d-flex justify-content-center">
                                <a href="{{ product['href'] }}" class="view-now btn-icon">
                                    <i class="icon icon-eye"></i>
                                </a>
                                <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                    <i class="icon icon-cart-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col pro -->
                    {% if 1 == items_per_slide or 0 == product_count % items_per_slide %}
                        {% set slide_rendering = false %}
                        </div>
                        <!-- End row -->
                        </div>
                        <!-- End slide-item -->
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if true == slide_rendering %}
                </div>
                <!-- End row -->
                </div>
                <!-- End slide-item -->
            {% endif %}
            </div>
            </div>
        {% endfor %}
        </div>
        <!-- End owl-product -->
        </div>
    {% else %}
        <div class="box-product box-product-home block-sale-off-product mb-3 mb-lg-4 px-lg-3 pb-3 bg-white {{ block['bestme_block_preview_class'] }}">
            <div class="d-flex flex-wrap">
                <h2 class="box-title align-self-center">
                    <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
                </h2>
            </div>

            <div class="owl-product owl-carousel owl-theme d-flex mt-3" data-interval="product"
                 data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}"
                 data-loop="{{ block.loop }}">
                {% for product_index, product in block['products'] %}
                    {% set product_count = product_count + 1 %}
                    {% if 1 == items_per_slide or 1 == product_count % items_per_slide %}
                        <div class="slide-item">
                        <div class="row px-2 row-cols-{{ block['grid'] }}">
                    {% endif %}
                    <div class="col">
                        <div class="pro-item">
                            <div class="img-thumb pro-thumb position-relative">
                                <div class="img-wrap">
                                    <a href="{{ product['href'] }}">
                                        <img data-src="{{ product['thumb'] }}" src="{{ placeholder_image_url }}" class="lazyload" height="500" width="200"
                                             alt="{{ product['name'] }}">
                                    </a>
                                </div>
                                {% if product['percent_sale'] is not empty %}
                                    <div class="pro-sticky sale-off">
                                        {{ product['percent_sale'] }}
                                    </div>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <div class="pro-sticky sale-off out-stock"
                                            {% if product.Percent_protduct == 0 %}
                                                style="transform: translateX(0);"
                                            {% endif %}
                                    >hết hàng
                                    </div>
                                {% endif %}
                            </div>
                            <div class="d-flex pt-3 mb-1 flex-wrap justify-content-center">
                                {# <span class="pro-cat fz-12 fw-500 text-second">{{ product['nameCategory'] }}</span> #}
                                <!-- Star Rate -->
                                <div class="wrap-star-rate text-right d-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End: Star Rate -->
                            </div>
                            <div class="pro-info">
                                <a href="{{ product['href'] }}"
                                   title="{{ product.name|length > 40 ? product.name : '' }}" data-toggle="tooltip"
                                   class="pro-item-title text-primary d-block my-1">{{ product['name'] }}</a>
                                <div class="pro-price my-2">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="new-price text-third fw-600">
                                                    {{ contact }}
                                                </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price text-third fw-600">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <span class="new-price text-third fw-600">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="old-price text-second fz-12">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="pro-overlay transition d-flex justify-content-center">
                                <a href="{{ product['href'] }}" class="view-now btn-icon">
                                    <i class="icon icon-eye"></i>
                                </a>
                                <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                    <i class="icon icon-cart-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col pro -->
                    {% if 1 == items_per_slide or 0 == (product_index + 1) % items_per_slide or loop.last %}
                        </div>
                        <!-- End row -->
                        </div>
                        <!-- End slide-item -->
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End owl-product -->
        </div>
    {% endif %}

{#    {% if 1 == k %}#}
{#        {% if banners_visible == '1' and banners[2] is defined and banners[2]['visible'] == '1' %}#}
{#            <!-- Box Banner -->#}
{#            <a href="{{ banners[2]['url'] }}" target="_blank" title="{{ banners[2]['description'] }}"#}
{#               class="mb-3 mb-lg-4 d-inline-block w-100 text-center">#}
{#                <img alt="{{ banners[2]['description'] }}" src="{{ banners[2]['image-url'] }}"#}
{#                     class="bestme-block-banner-3">#}
{#            </a>#}
{#            <!-- End: Box Banner -->#}
{#        {% endif %}#}
{#    {% endif %}#}
{% endfor %}
<div class="bestme_app_after_product">

</div>