{% if latest_blog %}
    <!-- Box News -->
    <div class="box-news block-blog mb-3 mb-lg-4 bg-white px-3 pb-3 bestme-block-blog">
        <h3 class="box-title text-center d-inline-block mb-4">
            <span>{{ blog_title }}</span>
        </h3>
        <!-- /.box-title-center -->

        {% set max_blog_count = blog_config.grid * blog_config.row %}
        <div class="row row-cols-{{ blog_config.grid }}">
            {% for k, blog in latest_blog if k < max_blog_count %}
                <!-- News Item -->
                <div class="col">
                    <div class="news-item">
                        <div class="news-date">
                            <span class="date">{{ blog['date_added']|date('j') }}</span>
                            <span class="month">Th{{ blog['date_added']|date('n') }}</span>
                        </div>
                        <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                            <div class="img-wrap">
                                {% if blog['type'] == 'video' %}
                                    <div id="blog-thumb-video-{{ k }}" class="blog-thumb-video" style="width: 100%; height: 100%"
                                         data-video-url="{{ blog['video_url'] }}"></div>
                                {% else %}
                                    <img data-src="{{ blog['image'] }}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ blog['title'] }}">
                                {% endif %}
                            </div>
                        </a>
                        <div class="news-info">
                            <a href="{{ blog['link'] }}" class="news-title"
                               title="{{ blog['title']|length > 60 ? blog['title'] : '' }}"
                               data-toggle="tooltip">
                                {{ blog['title']|length > 60
                                ? blog['title']|html_entity_decode|slice(0, 60) ~ '...'
                                : blog['title']|html_entity_decode }}
                            </a>
                            <div class="news-desc">
                                {{ blog['short_content']|length > 180
                                ? blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...'
                                : blog['short_content']|html_entity_decode|striptags }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: News Item -->
            {% endfor %}
        </div>
    </div>
    <!-- End: Box News -->
{% endif %}