<div class="row mx-lg-0 mb-3 mb-lg-4">
    <div class="col-3 p-lg-0 d-none d-lg-block">
        <div class="cat-menu-block bg-white">
            {% include 'default/template/common/category_list_template_top_ul_li.twig' %}
        </div>
        <!-- End cat-menu-block -->
    </div>
    <!-- End menu cat -->

    <div class="col-12 col-lg-9 px-0 home-slider page-slider">
        <div id="carouselHome" class="carousel slide carousel-slide bestme-block-slideshow" data-ride="carousel"
             data-interval="{{ slideshow.transition_time }}">
            <div class="carousel-inner">
                {% for slide_key, slide in slideshow.slides %}
                    {% if slide['type'] == 'video' %}
                        <div class="carousel-item {% if 0 == slide_key %} active{% endif %}">
                            <div id="video-slideshow-{{ slide_key }}" class="video-slideshow"
                                 data-video-url="{{ slide['video-url'] }}">
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item {% if 0 == slide_key %} active{% endif %}">
                            <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                <img data-src="{{ slide['image-url'] }}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ slide['description'] }}">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End: carousel-inner -->
            <ol class="carousel-indicators">
                {% for slide_key, slide in slideshow.slides %}
                    <li data-target="#carouselHome" data-slide-to="{{ slide_key }}" class="{% if 0 == slide_key %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <!-- End: carousel-indicators -->
        </div>
        <!-- End: carouselHome -->
    </div>
    <!-- End: Home Slider -->
    <div class="bestme_app_after_slide">

    </div>
</div>
<!-- End row -->