footer#footer{
    position: relative;
    margin-top: 30px;
    padding-top: 32px;
    background: #F8F8F8;
}
footer#footer a{
    color: inherit;
}
.back-to-top{
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    right: 55px;
    bottom: 65px;
    z-index: 99;
    display: none;
}
.back-to-top i.icon{
    font-size: 26px;
    background-color: #2C3440;
}
.main-footer{
    padding: 0 0 50px;
}
.form-subscriber input.form-control {
    padding: 12px 16px;
    height: 40px;
}
.form-subscriber input.form-control:focus{
    z-index: 1;
}
.form-subscriber .form-submit {
    border: 0px;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    border-radius: 0px 20px 20px 0px;
}
footer#footer .ft-title{
    color: #00558D;
}

footer#footer .copyright a {
    color: #ed592a;
}