@media only screen and (max-width: 767px) {
	.home-slider.page-slider{
		margin: 0 -15px;
		width: auto;
	}
	#carouselHome .carousel-item img{
		height: auto;
		width: auto;
	}
	.btn-buy-now-mobile{
		height: 45px;
		line-height: 1;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 22;
		width: 50% !important;
	}
	.owl-custommer {
		width: 120%;
	}
	.custom-number-input-wrapper button {
		width: 32px;
		height: 32px;
	}
}
.btn-buy-now-mobile{
	width: 100%;
}
@media screen and (max-width:991px) {
	.header-top{
		font-size: 12px;
	}
	.main-header .logo{
		text-align: center;
		margin-bottom: 25px;
	}
	#navbarMainMenu {
		width: 65%;
		text-align: left;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: -100%;
		display: block;
		opacity: 0;
		visibility: hidden;
		padding: 0;
		height: 100vh;
		z-index: 999;
		-webkit-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		transition: all 0.2s ease;
		overflow-y: scroll;
	}
	#navbarMainMenu.show {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}
	.main-menu .navbar-nav .nav-link,
	.main-menu .dropdown-item{
		line-height: 30px;
	}
	.main-menu .cat-menu-block .menu-title{
		background-color: transparent !important;
	}
	.block-header .main-menu li ul.nav li >a.active{
		font-weight: 600;
	}
	#main-wrapper{
		margin-bottom: 15px;
	}
	.header .cart-icon{
		padding: 4px 9px 4px 5px;
		margin-bottom: 12px;
		top: -8px;
	}
	.menu-right-header >.item.with-icon i.icon.icon-cart{
		font-size: 18px;
		margin-right: 3px;
		margin-top: 3px;
	}

	ul.navbar-nav {
		width: 100%;
		padding: 0 20px;
	}
	i.close {
		margin-right: 10px;
	}
	.block-header .main-menu li ul.nav ul.nav{
		border: none;
	}
	.block-header .main-menu ul.navbar-nav>li{
		width: 100%;
	}
	.block-header .main-menu ul.navbar-nav>li.user-menu{
		background: #EBF8FF;
		margin: 0 -20px;
		width: auto;
		flex-wrap: wrap;
		padding: 13px 20px 10px;
	}
	.block-header .main-menu ul.navbar-nav>li.user-menu >.dropdown{
		width: 100%;
	}
	.navbar-light .navbar-nav> .nav-item>a{
		font-weight: 600;
	}
	.navbar-light .navbar-nav .nav-item a{
		padding: 5px 0;
        width: 100%;
		box-shadow: none;
		border: none;
	}
	.cat-menu-block .menu-title i.icon{
		display: none;
	}
    .navbar-light .navbar-nav .dropdown-menu{
        padding: 0;
        box-shadow: none;
		border: none;
		background: transparent;
    }
	.block-header .main-menu ul.nav > li.has-child > a>.toggle,
	.block-header .main-menu ul.nav > li.has-child > .toggle{
		display: block;
		top: 10px;
		right: 0;
		background-color: #333;
	}
	.block-header .main-menu ul.nav ul.nav > li.has-child > a>.toggle,
	.block-header .main-menu ul.nav ul.nav > li.has-child >.toggle{
		top: 5px;
	}
	.block-header .main-menu ul.nav > li.has-child > a>.toggle,
	.block-header .main-menu ul.nav > li.has-child > .toggle{
		width: 20px;
		height: 20px;
		-webkit-mask-size: 12px;
		-mask-size: 12px;
	}
	.block-header .main-menu ul.cat-menu li{
		padding: 0;
	}
	.block-header .main-menu li ul.nav li a, .cat-menu a,
	.block-header .main-menu li ul.nav li.label{
		margin: 0;
		padding: 6px 0;
	}
	.main-menu .cat-menu-block {
		display: block;
	}
	.main-menu .navbar-light .navbar-nav .cat-menu-block .nav-link.menu-title{
		width: auto;
		color: inherit;
		font-size: 14px;
		margin-right: 0;
	}
	.block-header .main-menu li ul.nav ul.nav,
	.block-header .main-menu ul.nav ul.nav{
		max-height: 0px;
		overflow: hidden;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		padding: 0 0 0 10px;
		box-shadow: none;
		margin: 0;
		transform: none;
		background-color: transparent;
		border: none;
		display: block;
	}
	.block-header .main-menu ul.nav ul.nav.cat-menu{
		padding-left: 0;
	}
	.block-header .main-menu li.active> ul.nav,
	.block-header .main-menu ul.nav li.active> ul.nav{
		max-height: 600px;
		min-width: 100%;
		display: block;
		overflow-y: auto;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		font-size: 13px;
	}
	.navbar-light .navbar-toggler {
		background: transparent;
		border: none;
		color: #707070;
	}
	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-toggler i {
		background: #21201E;
		font-size: 24px;
	}
	.owl-custommer .owl-item {
		opacity: 1;
		webkit-transform: scale(1);
		-o-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
	.custommer-info {
		display: block;
		width: 100%;
		left: 0;
	}
	.custommer-info:before, .custommer-info:after {
		display: none;
	}
	.home-slider .carousel {
		padding: 0;
		height: auto;
	}
	#carouselHome .carousel-indicators{
		left: 15px;
		bottom: 20px;
	}
	.user-menu a.dropdown-toggle{
		display: inline-block;
		width: 35px;
		height: 35px;
		text-align: center;
		text-indent: 99px;
		border-radius: 100%;
		background: #e58718;
		overflow: hidden;
		position: relative;
		top: 3px;
	}
	.user-menu a.dropdown-toggle::before{
		content: "";
		background: url('/catalog/view/theme/other_ketoantrg/img/icons/user.svg') no-repeat bottom;
		z-index: 1;
		position: absolute;
		bottom: 0;
		width: 30px;
		height: 30px;
		background-size: contain;
		left: 0;
		right: 0;
		margin: auto;
	}
	.main-header{
		padding: 12px 0;
	}
	.main-menu{
		position: absolute;
		top: calc((100% - 89px) / 2);
        left: -10px;
		background: transparent !important;
		box-shadow: none;
	}
	.navbar-light .navbar-nav .nav-link{
		margin: 0;
	}
	.block-header .main-menu ul.cat-menu li ul.nav li{
		border-left: 0;
	}
	.header:not(.fixed) .main-menu .main-menu-content{
		background: none;
	}
    .header.fixed .main-menu{
        /*top: 12px;*/
    }
    .fixed .main-menu .menu-right-header{
        display: none;
    }
    .header.fixed + main{
        margin-top: 40px;
    }
	.product-teaser-fix{
		display: none;
		visibility: hidden;
	}
	.profile-nav{
		padding: 0;
	}
	.profile-nav .nav-item{
		margin-bottom: 10px;
	}
	.profile-nav .nav-item a.nav-link{
		padding: 0 8px;
	}
	.pro-detail .pro-action #add-to-cart,
	.pro-detail a#buy-now{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 50% !important;
		margin-bottom: 0 !important;
		z-index: 99;
		font-size: 14px !important;
		text-align: center;
		text-transform: uppercase;
		height: 45px !important;
		text-shadow: none;
		line-height: 15px;
		padding: 1rem 0;
	}
	.pro-detail a#buy-now{
		left: auto;
		right: 0;
	}

	.sidebar .filter-product-wrapper{
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 999999;
		background: rgba(44, 52, 64, 0.2);
		padding: 0 25% 0 0;
		overflow-y: auto;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
		border-radius: 0;
		border: 0;
	}
	.sidebar .filter-product-wrapper.collapse{
		opacity: 1;
		visibility: visible;
	}
	.sidebar .filter-product-wrapper .filter-product-content{
		padding: 24px;
		background: #fff;
		left: -100%;
		position: relative;
		transition: all 0.5s ease;
	}
	.sidebar .filter-product-wrapper.collapse .filter-product-content{
		left: 0;
	}
	.single-post-info .banner-post .post-title-fix {
		position: relative;
		bottom: 0px;
	}
	.pro-item .pro-info a.add-to-cart,
	.pro-item .pro-item-title,
	.news-title{
		font-size: 14px;
	}
	.news-title{
		margin: 0;
		padding: 0;
		border: 0;
	}
	h1.page-title{
		margin: 18px 0;
		font-size: 20px;
	}
	nav.breadcrumb{
		margin: 24px 0;
	}
	.back-to-top{
		right: 15px;
		bottom: 30px;
	}
	.table-custom .col-item{
		padding: 0.5rem;
	}
	.block-header.fixed .main-header{
		background: #EBF8FF;
        display: block;
	}
	.block-footer .newsletter{
		background-color: #65C4BC
	}
	.with-tab .owl-carousel.owl-product .owl-nav{
		top: -85px;
		right: 0;
	}
	.box-product.box-product-home .owl-carousel.owl-product .owl-nav{
		top: -40px;
	}
	.box-title{
		font-size: 16px;
	}
	.single-post-info .banner-post .overlay{
		position: relative;
		background: none;
		color: inherit;
		height: auto;
		width: auto;
		padding: 0;
		margin: 15px 0 0;
	}

	#navbar-menu-items a>.toggle {
		top: 22%;
	}
	.block-header .main-menu ul.child-nav li{
		position: relative;
	}

	.cart-item-list {
		max-height: 300px;
	}
}

/* Desktop */
@media (min-width: 992px) {
	.mb-lg-4, .my-lg-4 {
		margin-bottom: 32px!important;
	}
    .fz-lg-10{
        font-size: 10px;
    }
    .fz-lg-12{
        font-size: 12px;
    }
    .fz-lg-13{
        font-size: 13px;
    }
    .fz-lg-14{
        font-size: 14px;
    }
    .fz-lg-15{
        font-size: 15px;
    }
    .fz-lg-16{
        font-size: 16px;
    }
    .fz-lg-17{
        font-size: 17px;
    }
    .fz-lg-18{
        font-size: 18px;
    }
    .fz-lg-20{
        font-size: 20px;
    }
    .fz-lg-22{
        font-size: 22px;
    }
    .fz-lg-24{
        font-size: 24px;
    }
    .fz-lg-25{
        font-size: 25px;
    }
    .fz-lg-26{
        font-size: 26px;
    }
    .fz-lg-28{
        font-size: 28px;
    }
    .fz-lg-30{
        font-size: 30px;
    }
    .fz-lg-32{
        font-size: 32px;
    }
    .fz-lg-34{
        font-size: 34px;
    }
    .fz-lg-36{
        font-size: 36px;
    }
    .fz-lg-38{
        font-size: 38px;
    }
    .fz-lg-40{
        font-size: 40px;
    }
    .fz-lg-45{
        font-size: 45px;
    }
    .fz-lg-48{
        font-size: 48px;
    }
    .fz-lg-60{
        font-size: 60px;
    }
    .fw-lg-300 {
        font-weight: 300;
    }
    .fw-lg-400 {
        font-weight: 400;
    }
    .fw-lg-500 {
        font-weight: 500;
    }
    .fw-lg-600 {
        font-weight: 600;
    }
    .fw-lg-700 {
        font-weight: 700;
    }
	.border-lg-bottom{
		border-bottom: 1px solid #E5E5E5;
	}
	.border-lg-bottom-0{
		border-bottom: 0 !important;
	}
	.w-lg-auto{
		width: auto !important;
	}

	.fixed .cart-icon .count-cart{
		background: #FEE34D;
		color: inherit;
	}
	header:not(.fixed) .main-menu .navbar .navbar-collapse{
		/*-ms-flex-pack: center!important;*/
		/*justify-content: center!important;*/
		padding-left: 250px;
	}
	header:not(.fixed) .main-menu .navbar{
		width: 100%;
	}
	header:not(.fixed) .main-menu .nav-item.cat-menu-block{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
	}
	.header.fixed .fix-content{
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	}
	.header.fixed .main-header{
		display: none;
	}
	.header.fixed + main#main-wrapper{
		margin-top: 50px;
	}
	.fixed .main-menu .menu-right-header{
		display: flex;
		margin-right: 16px;
	}
	.fixed .main-menu .cat-menu-block{
		display: block;
	}
	.fixed .navbar-light .navbar-nav >li>.nav-link.menu-title{
		background: #FEE34D;
		border-radius: 25.5px;
		padding: 13px 16px 13px 35px;
        margin: 12px 20px 0 0;
	}
	.navbar-light .navbar-nav >li>.nav-link.menu-title:hover{
		border-bottom: none;
		padding-bottom: 13px;
	}
    .fixed .navbar-light .navbar-nav >li>.nav-link.menu-title:hover{
        padding-bottom: 13px;
    }
	.fixed .navbar-light .navbar-nav >li>.nav-link{
		padding: 25px 16px;
	}
	.navbar-light .navbar-nav >li>.nav-link.active,
	.navbar-light .navbar-nav >li>.nav-link:hover{
		border-bottom: 4px solid #FEE34D;
		padding-bottom: 9px;
	}
	.fixed .navbar-light .navbar-nav >li>.nav-link.active,
	.fixed .navbar-light .navbar-nav >li>.nav-link:hover{
		padding-bottom: 21px;
	}

	ul.cat-menu li ul.nav.desktop-sub-menu {
		left: calc(100% - 28px) !important;
	}

	#navbar-menu-items a>.toggle {
		top: 44%;
		right: -5px;
	}
	#navbar-menu-items a>.toggle.child-toggle-2 {
		right: 8px;
	}
	#navbar-menu-items a:hover>.toggle {
		top: 45%;
	}
	.block-header .main-menu #navbar-menu-items ul.nav {
		padding: 0;
	}
	.block-header .main-menu ul.child-nav li{
		position: initial;
	}

	#home-banner-wrapper {
		max-height: 435px;
	}
	#home-banner-wrapper a {
		max-height: 50%;
	}
	#home-banner-wrapper a img {
		height: 100%;
		object-fit: contain;
	}
	.single-post-info .banner-post{
		min-height: 435px;
	}
	.cart-item-list {
		max-height: 500px;
	}
	.box-product-filter#product-provider nav.flex-column,
	.box-product-filter#product-collection nav.flex-column {
		overflow-y: hidden;
	}
	.box-product-filter#product-provider nav.flex-column:hover,
	.box-product-filter#product-collection nav.flex-column:hover {
		overflow-y: auto;
	}
}