{{ header }}
<!-- banner-result -->
<div class="bestme_app_after_header">

</div>
<main>
    <div class="container">
        <ul class="back-link">
            <li><a href="{{ home_link }}">Trang chủ</a></li>
            <li><a href="{{ shop_link }}">Danh mục sản phẩm</a></li>
        </ul>
        <div class="row flex-reverse">
            <div class="col-lg-3 col-12">
                <form class="siderBar">
                    {% if visible_category == 1 %}
                        <div class="block-filter">
                            <h2 class="title-sidebar">{{ visible_category_title }} <img src="catalog/view/theme/other_dhpet/images/cate/up.png" alt=""></h2>
                            {% include 'default/template/common/category_list_template_checkbox.twig' %}
                        </div>
                    {% endif %}
                    {% if visible_supplier == 1 %}
                        <div class="block-filter">
                            <h2 class="title-sidebar">{{ visible_supplier_title }}<img src="catalog/view/theme/other_dhpet/images/cate/up.png" alt=""></h2>
                            <ul>
                                {% for manufacturer in manufacturers %}
                                    <li>
                                        <input class="styled-checkbox filter-checkbox" data-url="{{ manufacturer.url }}" id="manufacturer-{{ manufacturer.manufacturer_id }}" {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'checked' : '' }} type="checkbox" value="value1">
                                        <label for="manufacturer-{{ manufacturer.manufacturer_id }}">{{ manufacturer.name }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if visible_collection == 1 %}
                        <div class="block-filter">
                            <h2 class="title-sidebar">{{ visible_collection_title }}<img src="catalog/view/theme/other_dhpet/images/cate/up.png" alt=""></h2>
                            <ul>
                                {% for collection in collections %}
                                    <li>
                                        <input class="styled-checkbox filter-checkbox" data-url="{{ collection.url }}" id="collection-{{ collection.collection_id }}" {{ filter_collection_id == collection.collection_id ? 'checked' : '' }} type="checkbox" value="value1">
                                        <label for="collection-{{ collection.collection_id }}">{{ collection.name }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if visible_product_price == 1 %}
                        <div class="block-filter">
                        <h2 class="title-sidebar">Giá <img src="catalog/view/theme/other_dhpet/images/cate/up.png" alt=""></h2>
                        <ul class="filter-price">
                            <li>
                                <input type="radio" class="styled-radio"
                                       {% if price_max == 0 and price_min ==0 %}checked{% endif %}
                                       data-min="0"
                                       data-max="0" id="radio1" name="radio-group">
                                <label for="radio1">Tất cả</label>
                            </li>
                            {% if visible_product_price_from|number_format(0, '.', ',') != 0 %}
                                <li>
                                    <input type="radio"  class="styled-radio"
                                           {% if price_max == visible_product_price_from and price_min ==0 %}checked{% endif %}
                                           data-min="0"
                                           data-max="{{ visible_product_price_from }}" id="radio2" name="radio-group">
                                    <label for="radio2">Ít hơn {{ visible_product_price_from|number_format(0, '.', ',') }}</label>
                                </li>
                            {% endif %}
                            {%  set filter_price_range_count = 3 %}
                            {% for key,price_range_index in 1.. filter_price_range_count %}
                                <li>
                                    <input type="radio"  class="styled-radio"
                                           {% if price_max == ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * price_range_index / filter_price_range_count )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * price_range_index / filter_price_range_count )|round(0)|length - 2)) and price_min == ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * (price_range_index - 1) / filter_price_range_count )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * (price_range_index -1) / filter_price_range_count )|round(0)|length - 2)) %}checked{% endif %}
                                           data-min="{{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * (price_range_index -1) / filter_price_range_count )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * (price_range_index -1) / filter_price_range_count )|round(0)|length - 2)) }}"
                                           data-max="{{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * price_range_index / filter_price_range_count )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * price_range_index / filter_price_range_count )|round(0)|length - 2))  }}" id="radio{{ price_range_index +2 }}" name="radio-group">
                                    <label for="radio{{ price_range_index +2 }}">{% if key == 0 %}Từ{% else %}Trên{% endif %} {{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * (price_range_index -1) / filter_price_range_count )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * (price_range_index - 1) / filter_price_range_count )|round(0)|length - 2))|number_format(0, '.', ',')  }} - {{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * price_range_index / filter_price_range_count )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * price_range_index / filter_price_range_count )|round(0)|length - 2))|number_format(0, '.', ',')  }}</label>
                                </li>
                            {% endfor %}
                            {#<li>
                                <input type="radio"  class="styled-radio"
                                       {% if price_max == ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|length - 2)) and price_min == visible_product_price_from %}checked{% endif %}
                                       data-min="{{ visible_product_price_from }}"
                                       data-max="{{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|length - 2))  }}" id="radio3" name="radio-group">
                                <label for="radio3">Từ {{ visible_product_price_from }} - {{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|length - 2))|number_format(0, '.', ',')  }}</label>
                            </li>
                            <li>
                                <input type="radio"  class="styled-radio"
                                       {% if price_max == ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|length - 2)) and price_min == ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|length - 2)) %}checked{% endif %}
                                       data-min="{{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|length - 2)) }}"
                                       data-max="{{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|length - 2))  }}" id="radio4" name="radio-group">
                                <label for="radio4">Từ {{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 1 / 3 )|length - 2))|number_format(0, '.', ',')  }} - {{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|length - 2))|number_format(0, '.', ',')  }}</label>
                            </li>
                            <li>
                                <input type="radio"  class="styled-radio"
                                       {% if price_max == visible_product_price_to and price_min == ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|length - 2)) %}checked{% endif %}
                                       data-min="{{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|length - 2))  }}"
                                       data-max="{{ visible_product_price_to }}" id="radio5" name="radio-group">
                                <label for="radio5">Từ {{ ( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|round(- (( visible_product_price_from + (visible_product_price_to - visible_product_price_from) * 2 / 3 )|length - 2))|number_format(0, '.', ',')  }} - {{ visible_product_price_to|number_format(0, '.', ',') }}</label>
                            </li>#}
                            <li>
                                <input type="radio"  class="styled-radio"
                                       {% if price_max == 0 and price_min == visible_product_price_to %}checked{% endif %}
                                       data-min="{{ visible_product_price_to }}"
                                       data-max="0" id="radio6" name="radio-group">
                                <label for="radio6">Trên {{ visible_product_price_to|number_format(0, '.', ',') }}</label>
                            </li>
                        </ul>
                         {# {{ x|round( -( x|length -2))|number_format(0, '.', ',') }}#}

                    </div>
                    {% endif %}
                    {% if visible_tag == 1 %}
                        <div class="block-filter">
                            <h2 class="title-sidebar">Tags<img src="catalog/view/theme/other_dhpet/images/cate/up.png" alt=""></h2>
                            {% include 'default/template/common/tag_filter_template.twig' %}
                        </div>
                    {% endif %}
                    {#<div class="block-filter">
                        <h2 class="title-sidebar">Kích thước <img src="images/cate/up.png" alt=""></h2>
                        <ul>
                            <li>
                                <input class="styled-checkbox" id="styled-checkbox-18" type="checkbox" value="value1">
                                <label for="styled-checkbox-18">M</label>
                            </li>
                            <li>
                                <input class="styled-checkbox" id="styled-checkbox-19" type="checkbox" value="value1">
                                <label for="styled-checkbox-19">L</label>
                            </li>
                            <li>
                                <input class="styled-checkbox" id="styled-checkbox-20" type="checkbox" value="value1">
                                <label for="styled-checkbox-20">S</label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-filter">
                        <h2 class="title-sidebar">Màu sắc <img src="images/cate/up.png" alt=""></h2>
                        <ul>
                            <li>
                                <input class="styled-checkbox" id="styled-checkbox-21" type="checkbox" value="value1">
                                <label for="styled-checkbox-21">Đỏ</label>
                            </li>
                            <li>
                                <input class="styled-checkbox" id="styled-checkbox-22" type="checkbox" value="value1">
                                <label for="styled-checkbox-22">Vàng</label>
                            </li>
                            <li>
                                <input class="styled-checkbox" id="styled-checkbox-23" type="checkbox" value="value1">
                                <label for="styled-checkbox-23">Xanh</label>
                            </li>
                        </ul>
                    </div>#}
                </form>
            </div>
            <div class="col-lg-9 col-12">
                <div class="control-bar">
                    <a href="{{ shop_link }}" class="d-none d-md-block">Đặt lại bộ lọc</a>
                    <div class="filter-ct d-block d-md-none">
                        <a class="btn-fliter" href="javascript:void(0)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ic-filters</title><path d="M16 14v-2h2v2h3v2h-3v1.976h-2V16H3v-2h13zM6 7V5h2v2h13v2H8v1.976H6V9H3V7h3z"></path></svg>
                        </a>
                        <span>{{ customer_total }} kết quả</span>
                    </div>
                    <div class="sortby">
                        <span>Sắp xếp</span>
                        <select class="form-control js-select filterOpiton" name="filterOpiton">
                            <option value="{{ urlsortProduct }}">Mới nhất</option>
                            <option value="{{ urlsortProduct }}&valueoptiton=1" {{ valueoptiton == 1 ? 'selected': '' }}>Theo tên từ A - Z</option>
                            <option value="{{ urlsortProduct }}&valueoptiton=2" {{ valueoptiton == 2 ? 'selected': '' }}>Theo tên từ Z- A</option>
                            <option value="{{ urlsortProduct }}&valueoptiton=3" {{ valueoptiton == 3 ? 'selected': '' }}>Giá cao đến thấp nhất</option>
                            <option value="{{ urlsortProduct }}&valueoptiton=4" {{ valueoptiton == 4 ? 'selected': '' }}>Giá thấp đến cao</option>
                        </select>
                    </div>
                </div>
                <div class="row product-cate mgr-3">
                    {% if customer_total == 0 %}
                        <p class="col-lg-9 col-12 text-center">Không có dữ liệu</p>
                    {% else %}
                        {% for product in products %}
                            <div class="col-md-4 col-sm-6 col-6 pd-3">
                                <div class="product">
                                    <a href="{{ product['href'] }}">
                                        <div class="product-thumb">
                                            <img src="{{ product.thumb }}" class="img-first" alt="{{ product.name }}">
                                            <img src="{{ (product.product_images is empty) ? product.thumb : product.product_images }}" class="img-top" alt="{{ product.name }}">
                                            {% if product.Percent_protduct != 0 %}
                                                <div class="status sale">
                                                    <div class="wp">
                                                        Giảm <span>{{ product.Percent_protduct|replace({'-': '', '%': ''}) }}</span>%
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if product.product_is_stock == false %}
                                                <div class="status die">
                                                    <div class="wp">
                                                        Hết hàng
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                    <div class="product-ct">
                                        <h6 class="brand">
                                            {{ product['manufacturer'] }}
                                        </h6>
                                        <h5 class="name">
                                            <a class="product-title" href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name }}</a>
                                        </h5>
                                        <div class="price">
                                            {% if product.is_contact_for_price %}
                                                <span class="new">
                                                {{ contact }}
                                        </span>
                                            {% else %}
                                                {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        <span class="old">
                                                        {{ product.compare_version_min }}
                                                            {% if product.compare_version_max != product.compare_version_min %}
                                                                ~ {{ product.compare_version_max }}
                                                            {% endif %}
                                                        </span>
                                                        <span class="new">
                                                        {{ product.price_version_min }}
                                                            {% if product.price_version_max != product.price_version_min %}
                                                                ~ {{ product.price_version_max }}
                                                            {% endif %}
                                                        </span>
                                                    {% else %}
                                                        <span class="new">
                                                        {{ product.compare_version_min }}
                                                            {% if product.compare_version_max != product.compare_version_min %}
                                                                ~ {{ product.compare_version_max }}
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                {% else %}
                                                    {% if product.price == 0 %}
                                                        <span class="new">{{ product.compare_price }}</span>
                                                    {% else %}
                                                        <span class="old">{{ product.compare_price }}</span>
                                                        <span class="new">{{ product.price }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!--pagination-->
                {{ pagination }}<br>
                <!--pagination-->
            </div>
        </div>
    </div>
</main>
<div class="bestme_app_after_product">

</div>
<div class="bestme_app_before_footer">

</div>
<style>
    .sortby span.select2-selection{
        min-width: 150px;
    }
    .page-link{
        color: #16ACCF;
    }
    .page-item.active .page-link{
        color: #fff;
        background-color: #16ACCF;
        border-color: #16ACCF;
    }
</style>
<script>
    $('.filter-checkbox').on('change', function () {
        location.href = $(this).attr('data-url');
    });

    $('.filter-price input').on('change', function () {
        var min = $(this).attr('data-min');
        var max = $(this).attr('data-max');
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');
        if (min && min != 0){
            url = url + '&min='+ min;
        }
        if (max && max != 0){
            url = url + '&max='+ max;
        }
        window.location.replace(url);
    });

    $('.filterOpiton').on('change', function() {
        var url = $(this).val(); // get selected value
        if (url) { // require a URL
            window.location = url; // redirect
        }
        return false;
    });
</script>
<!-- content-result -->
{{ footer }}