{{ header }}

<!-- Heading -->
<div id="block-headding-elm" class="block-headding-elm">
    <div class="container">
        <h1 class="title-font title-color">Blog</h1>
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['href'] is defined %}
                    <a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
                {% else %}
                    <span class="breadcrumb-item active">{{ breadcrumb['text'] }}</span>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
<!-- /.Heading -->

<div id="block-news-page" class="block-news-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-4">
                <div class="block-list-news">
                    <div class="row">
                        {% if blog_list is empty %}
                            Không có bài viết
                        {% else %}
                            {% for blog in blog_list %}
                                <div class="col-md-6">
                                    <div class="news-item">
                                        <div class="news-thumb">
                                            <a href="{{ blog['link'] }}">
                                                <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                            </a>
                                        </div>
                                        <div class="news-content">
                                            <div class="meta">
                                                <span><i class="fa fa-user-o" aria-hidden="true"></i> {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                                <span><i class="fa fa-calendar" aria-hidden="true"></i> {{ blog['date_added']|date('d-m-Y') }}</span>
                                            </div>
                                            <h4 class="name title-font text-color">
                                                <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            </h4>
                                            <div class="desc">
                                                <span>{{ blog['short_content']|html_entity_decode|striptags }}</span>
                                                <a href="{{ blog['link'] }}">[Xem tiếp]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <nav class="text-right" aria-label="Page navigation">
                    {{ pagination }}
                </nav>
            </div>
            <div class="col-lg-4">
                <div id="block-sidebar" class="block-sidebar">

                    <div class="widget-sidebar">
                        <h4 class="widget-title title-font">
                            Bài viết mới nhất
                        </h4>
                        <div class="widget-content">
                            <div class="list-sidenews">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="news-item">
                                                <div class="news-thumb">
                                                    <a href="{{ blog['link'] }}">
                                                        <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                    </a>
                                                </div>
                                                <div class="news-content">
                                                    <h6 class="name title-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h6>
                                                    <div class="meta">
                                                        <div class="meta-item">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            <span>{{ blog['date_added']|date('Y-m-d') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title title-font">
                            Danh mục bài viết
                        </h4>
                        <div class="widget-content">
                            <div class="menu-side menu-none-arrow title-font">
                                <ul>
                                    {% for category in blog_category %}
                                        <li>
                                            <a class="a-normal {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}" href="{{ category['link'] }}">{{ category['title'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title title-font">
                            Gắn thẻ bài viết
                        </h4>
                        <div class="widget-content">
                            <div class="list-tag">
                                {% for tag in tags %}
                                    <a href="{{ tag['link'] }}" {% if tag['tag_id'] == filter['tag_id'] %} class="active" {% endif %}>{{ tag['value'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.ELM PAGES -->

{{ footer }}