{{ header }}
{% if banners.visible_banner == 1 %}
    <section class="banner-result">
        <div class="container">
            <a href="{{ banners.url_banner }}"><img src="{{ banners.url_image }}" alt=""></a>
        </div>
    </section>
{% endif %}

<main class="main-content">
    <div class="container">

        <nav aria-label="breadcrumb" class="my-4 pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
            </ol>
        </nav>

        {% if error %}
            <div class="col-12 col-md-12">
                <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                    <i class="fa fa-exclamation-circle"></i> {{ error }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 mt-3 mb-5 text-center d-flex">
                        <div class="title-left py-3 m-auto">
                            <h1 class="header-font font-32 letter-spacing-0">Tạo tài khoản mới</h1>
                            <span class="sixth-color">Bạn đã có tài khoản? <a class="ml-2 fifth-color font-weight-500" href="{{ urllogin }}">Đăng nhập</a></span>
                        </div>
                    </div> <!-- End col-md-6 -->
                    <div class="col-12 col-md-5 mt-3 mb-5 ml-auto">
                        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="login-form">
                            <div class="form-group">
                                <input type="text" name="fullname" value="{{ fullname }}" class="form-control" placeholder="Họ tên" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" value="{{ email }}" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-password-group">
                                    <input type="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                                    <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary fifth-bg mt-2 px-4 py-2 text-white text-uppercase font-weight-500 mb-2">Đăng ký</button>
                            <i class="d-block font-12">Bằng việc bấm vào nút đăng ký, tôi đồng ý với chính sách của cửa hàng.</i>
                        </form>
                    </div> <!-- End col-md-6 -->
                </div> <!-- End row -->
            </div>
        </div> <!-- End row -->

    </div>
</main>
<!-- ELM PAGES -->

{{ footer }}