<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <base href="{{ base }}">
    <!-- Bootstrap CSS -->
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    {{ cssResource }}
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/jquery-ui.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/swiper/dist/css/swiper.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/bestme.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/font-awesome/css/font-awesome.min.css">#}
    {#<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" rel="stylesheet">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">#}
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    {{ jsResource }}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#<script src="{{ theme_directory }}/node_modules/jquery/dist/jquery.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/popper.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/swiper/dist/js/swiper.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/bootstrap-select.min.js"></script>#}

    {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>

<body>
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Section intro sales -->
<section id="block-header-top">
    <div class="container">
        <div class="block-header-top flex-display">
            {% if notify_bar.visible  == 1 %}
                <a class="title-top bestme-block-banner-top" href="{{ notify_bar.url }}">{{ notify_bar.content }}</a>
            {% endif %}
            <ul class="list-link-top">
                <li class="d-none">
                    <a href="{{ wishlist }}">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.3281 2.39145C13.9567 1.95554 13.5157 1.60975 13.0304 1.37384C12.5451 1.13793 12.0249 1.0165 11.4996 1.0165C10.9743 1.0165 10.4542 1.13793 9.96883 1.37384C9.48352 1.60975 9.04255 1.95554 8.67111 2.39145C8.39111 2.72003 8.18012 3.09321 8.00012 3.48164C7.8226 3.08139 7.59621 2.71372 7.32812 2.39027C6.57795 1.50994 5.56051 1.01538 4.49962 1.01538C3.43872 1.01538 2.42128 1.50994 1.67111 2.39027C0.92095 3.2706 0.499512 4.46458 0.499512 5.70956C0.499512 6.95453 0.92095 8.14851 1.67111 9.02884L8.00012 16.2718L14.3281 9.02884C14.6998 8.59321 14.9946 8.07588 15.1958 7.50643C15.397 6.93699 15.5005 6.32659 15.5005 5.71014C15.5005 5.0937 15.397 4.4833 15.1958 3.91385C14.9946 3.34441 14.6998 2.82708 14.3281 2.39145Z" fill="#3F4755" stroke="#3F4755" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> Sản phẩm yêu thích
                    </a>
                </li>
                <li>
                    {% if logged_in == '' %}
                        <a href="{{ login }}" class="show-login">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 8.5C6.07614 8.5 4.5 6.92386 4.5 5V4C4.5 2.07614 6.07614 0.5 8 0.5C9.92386 0.5 11.5 2.07614 11.5 4V5C11.5 6.92386 9.92386 8.5 8 8.5Z" fill="#3F4755" stroke="#3F4755"/>
                                <path d="M6 11.5H10C12.3546 11.5 14.2325 13.22 14.4738 15.5H1.52624C1.76754 13.22 3.64542 11.5 6 11.5Z" fill="#3F4755" stroke="#3F4755"/>
                            </svg> Đăng nhập
                        </a>
                    {% else %}
                        <a href="my_account" class="show-login">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 8.5C6.07614 8.5 4.5 6.92386 4.5 5V4C4.5 2.07614 6.07614 0.5 8 0.5C9.92386 0.5 11.5 2.07614 11.5 4V5C11.5 6.92386 9.92386 8.5 8 8.5Z" fill="#3F4755" stroke="#3F4755"/>
                                <path d="M6 11.5H10C12.3546 11.5 14.2325 13.22 14.4738 15.5H1.52624C1.76754 13.22 3.64542 11.5 6 11.5Z" fill="#3F4755" stroke="#3F4755"/>
                            </svg> {{ logged_user }}
                        </a>
                    {% endif %}
                    <ul class="sub-dropdown">
                        {% if logged_in == '' %}
                            <li>
                                <a href="{{ register }}"><i class="fa fa-user-circle" aria-hidden="true"></i> Đăng ký</a>
                            </li>
                            <li>
                                <a href="{{ login }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng nhập</a>
                            </li>

                        {% elseif logged_in > 0 %}
                            <li>
                                <a href="{{ my_account }}"><i class="fa fa-user-circle" aria-hidden="true"></i> Tài khoản của tôi</a>
                            </li>
                            <li>
                                <a href="{{ logout }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ./Section intro sales -->

<!-- Header -->
<header id="block-header" class="block-header s-none d-lg-block">
    <div class="container">
        <div class="flex-display">
            <!-- logo -->
            <style>
                @media (max-width: 768px){
                    #sidenav {
                        background-image: inherit;
                    }
                }
            </style>
            <h2 id="block-header-logo" class="block-header-logo bestme-block-header-logo">
                <a href="{{ home }}">
                    <img src="{{ logo }}"
                        {% if logo_height != '' %}
{#                        style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                            class="custom-height"
                        {% endif %}
                        title="{{ name }}" alt="{{ alt }}">
                </a>
            </h2>
            <!-- /.logo -->

            <div class="block-search-fixed">
                <form action="{{ urlserach }}" method="get">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 15.5L12.5 12.5" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5 12.5C9.81371 12.5 12.5 9.81371 12.5 6.5C12.5 3.18629 9.81371 0.5 6.5 0.5C3.18629 0.5 0.5 3.18629 0.5 6.5C0.5 9.81371 3.18629 12.5 6.5 12.5Z" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="text" name="search" id="" class="form-control content-font" placeholder="Bạn cần tìm gì?" aria-describedby="helpId">
                    <input type="hidden" name="route" value="common/shop">
                </form>
            </div>

            <!-- Menu -->
            <div id="block-header-menu" class="block-header-menu bestme-block-header-menu">
                <!-- Menu -->
                <nav id="sidenav" class="main-menu {{ main_menu|length > 10  ? 'over-item' : '' }}">
                    <img class="logo-menu" src="{{ logo }}" alt="{{ alt }}">
                    <ul class="custom-menu">
                        {% for idx, m in main_menu %}
                            {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                <li class="header-font {{ result_active_menu == m.url ? 'active' : '' }} ">
                                    <a class="{{ main_menu|length > 10  ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                </li>
                            {% else %}
                                <li class="header-font has-child custom-menu-item">
                                    <a class="{{ main_menu|length > 10  ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                    <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                         viewBox="0 0 10 6" fill="none">
                                        <path d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                              fill="#25292C" />
                                    </svg>
                                    <ul class="sub-menu custom-sub-menu-item" aria-labelledby="navbarFeatureMenu">
                                        {% for it in m.items %}
                                            <li>
                                                <a href="{{ it.url }}">{{ it.text }}</a>
                                                {% if it.items is defined and it.items|length > 0 %}
                                                    <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                                         viewBox="0 0 10 6" fill="none">
                                                        <path d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                                              fill="#25292C" />
                                                    </svg>
                                                    <ul class="custom-sub-menu-item-2">
                                                        {% for it3 in it.items %}
                                                            <li><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}

                            {% if idx == 0 and is_on_mobile == 1 %}
                                {% include 'default/template/common/list_category_on_mobile.twig' %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <!-- /.Menu -->

                {% if is_on_mobile == 1 %}
                <div id="filer-on-mobile" class="filer-on-mobile">
                    <div class="content-result">
                        <div class="">
                            {% if visible_collection == 1 %}
                                <div class="sidebar-category">
                                    <h3 class="ttl-sidebar">{{ visible_collection_title }}</h3>
                                    <ul class="list-cate">
                                        {% for collection in collections %}
                                            <li><a href="{{ collection.url }}" class="{{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if visible_category == 1 %}
                                <div class="sidebar-category menu-product">
                                    <h3 class="ttl-sidebar">{{ visible_category_title }}</h3>
                                    {% include 'default/template/common/category_list_on_mobile_template.twig' %}
                                </div>
                            {% endif %}
                            {% if visible_supplier == 1 %}
                                <div class="sidebar-category">
                                    <h3 class="ttl-sidebar">{{ visible_supplier_title }}</h3>
                                    <ul class="list-cate">
                                        {% for manufacturer in manufacturers %}
                                            <li><a href="{{ manufacturer.url }}" class="{{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if visible_product_price == 1 %}
                                <div class="sidebar-category">
                                    <h3 class="ttl-sidebar">GIÁ SẢN PHẨM</h3>
                                    <div class="price-filter">
                                        <p>Vui lòng chọn khoảng giá</p>
                                        <div id="slider-range"></div>
                                        <div class="range-slider">
                                            <label for="amount">Từ </label>
                                            <input type="text" id="amount" readonly>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if visible_tag == 1 %}
                                <div class="sidebar-category">
                                    <h3 class="ttl-sidebar">TAGS</h3>
                                    <ul class="list-tag">
                                        {% for tag in tags %}
                                            <li>
                                                <a href="{{ tag.url }}" class="tag {{ filter_nametag == tag.tag_id ? 'active' : '' }}">{{ tag.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="pl-3 pb-4">
                                <a href="{{ href_product_list }}" style="color: #3F4755;">Thiết lập lại</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- overlay -->
                <div class="block-overlay"></div>
                <!-- /.overlay -->
            </div>
            <div class="block-header-action">
                <div class="cart-mobile">
                    <a href="{{ href_my_orders }}">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.95 15.7C4.87741 15.7 4 16.5774 4 17.6501C4 18.7227 4.87741 19.6001 5.95 19.6001C7.02259 19.6001 7.90005 18.7227 7.90005 17.6501C7.9 16.5774 7.02255 15.7 5.95 15.7ZM0.25 0.400024V2.35002H2.2L5.71014 9.46012L4.24258 11.8486C4.09642 12.0923 3.99883 12.4337 3.99883 12.7751C3.99883 14.0805 4.89062 14.7251 6.1 14.7251H17.5V12.8501H6.33873C6.19258 12.8501 6.09498 12.7525 6.09498 12.6063C6.09498 12.5578 6.19844 12.3626 6.19844 12.3626L7.17259 10.8251H14.4361C15.1674 10.8251 15.8014 10.4352 16.1423 9.80151L19.6524 3.76401C19.7104 3.64865 19.75 3.47123 19.75 3.27656C19.75 2.74002 19.3111 2.35007 18.775 2.35007H4.34519L3.41875 0.400024H0.25ZM15.55 15.7C14.4774 15.7 13.6 16.5774 13.6 17.6501C13.6 18.7227 14.4774 19.6001 15.55 19.6001C16.6225 19.6001 17.5 18.7226 17.5 17.65C17.5 16.5774 16.6225 15.7 15.55 15.7Z" fill="white"/>
                        </svg>
                        <span class="number">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                    </a>
                </div>
                <div class="search-mobile">
                    <a href="javascript:;" class="show-search-mb">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5 15.5L12.5 12.5" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.5 12.5C9.81371 12.5 12.5 9.81371 12.5 6.5C12.5 3.18629 9.81371 0.5 6.5 0.5C3.18629 0.5 0.5 3.18629 0.5 6.5C0.5 9.81371 3.18629 12.5 6.5 12.5Z" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <div class="form-group">
                        <form action="{{ urlserach }}" method="get">
                            <input type="text" name="search" id="" class="form-control content-font" placeholder="Bạn cần tìm gì?" aria-describedby="helpId">
                            <input type="hidden" name="route" value="common/shop">
                            <button type="submit" class="btn btn-search">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.5 15.5L12.5 12.5" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M6.5 12.5C9.81371 12.5 12.5 9.81371 12.5 6.5C12.5 3.18629 9.81371 0.5 6.5 0.5C3.18629 0.5 0.5 3.18629 0.5 6.5C0.5 9.81371 3.18629 12.5 6.5 12.5Z" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="open-sidemenu">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>
        </div>
    </div>
</header>
<!-- /.Header -->

<!-- block-cate-search-cart -->
<section id="block-cate-search-cart">
    <div class="container">
        <div class="flex-display row">
            <!-- Category -->
            <div class="block-category d-none d-lg-block col-md-4 col-xl-3">
                <h3 class="ttl-category">{{ category_title }}
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 7H1C0.4 7 0 7.4 0 8C0 8.6 0.4 9 1 9H15C15.6 9 16 8.6 16 8C16 7.4 15.6 7 15 7Z" fill="white"/>
                        <path d="M15 1H1C0.4 1 0 1.4 0 2C0 2.6 0.4 3 1 3H15C15.6 3 16 2.6 16 2C16 1.4 15.6 1 15 1Z" fill="white"/>
                        <path d="M15 13H1C0.4 13 0 13.4 0 14C0 14.6 0.4 15 1 15H15C15.6 15 16 14.6 16 14C16 13.4 15.6 13 15 13Z" fill="white"/>
                    </svg>
                </h3>
                <div class="list-category">
                    {% include 'default/template/common/category_list_template_top.twig' %}
                </div>
            </div>
            <!-- /.Category -->

            <!-- Search -->
            <div class="block-header-search d-none d-lg-block col-md-5 col-xl-7">
                <div class="form-group">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 15.5L12.5 12.5" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.5 12.5C9.81371 12.5 12.5 9.81371 12.5 6.5C12.5 3.18629 9.81371 0.5 6.5 0.5C3.18629 0.5 0.5 3.18629 0.5 6.5C0.5 9.81371 3.18629 12.5 6.5 12.5Z" stroke="#949494" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <form action="{{ urlserach }}" method="get">
                        <input type="text" name="search" id="" class="form-control content-font" placeholder="Bạn cần tìm gì?" aria-describedby="helpId">
                        <input type="hidden" name="route" value="common/shop">
                        <button type="submit" class="btn btn-search" >
                            Tìm kiếm
                        </button>
                    </form>
                </div>
            </div>
            <!-- /.Search -->

            <!-- Cart -->
            <div class="block-header-cart d-none d-lg-block col-md-3 col-xl-2">
                <a href="{{ href_my_orders }}">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.95 15.7C4.87741 15.7 4 16.5774 4 17.6501C4 18.7227 4.87741 19.6001 5.95 19.6001C7.02259 19.6001 7.90005 18.7227 7.90005 17.6501C7.9 16.5774 7.02255 15.7 5.95 15.7ZM0.25 0.400024V2.35002H2.2L5.71014 9.46012L4.24258 11.8486C4.09642 12.0923 3.99883 12.4337 3.99883 12.7751C3.99883 14.0805 4.89062 14.7251 6.1 14.7251H17.5V12.8501H6.33873C6.19258 12.8501 6.09498 12.7525 6.09498 12.6063C6.09498 12.5578 6.19844 12.3626 6.19844 12.3626L7.17259 10.8251H14.4361C15.1674 10.8251 15.8014 10.4352 16.1423 9.80151L19.6524 3.76401C19.7104 3.64865 19.75 3.47123 19.75 3.27656C19.75 2.74002 19.3111 2.35007 18.775 2.35007H4.34519L3.41875 0.400024H0.25ZM15.55 15.7C14.4774 15.7 13.6 16.5774 13.6 17.6501C13.6 18.7227 14.4774 19.6001 15.55 19.6001C16.6225 19.6001 17.5 18.7226 17.5 17.65C17.5 16.5774 16.6225 15.7 15.55 15.7Z" fill="white"/>
                    </svg>
                    <div class="count">
                        <span class="number"><span>{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span> sản phẩm</span>
                        <span class="price">{{ order_total_money }}</span>
                    </div>
                </a>
            </div>
            <!-- /.Cart -->
        </div>
    </div>
</section>
<!-- /.block-cate-search-cart -->


