{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<div id="block-headding-elm" class="block-headding-elm">
    <div class="container">
        <h1 class="title-font title-color">Giỏ hàng</h1>
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['active'] is defined  %}
                    <span class="breadcrumb-item active">{{ breadcrumb.text }}</span>
                {% else %}
                    <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
<div class="block-cart-page">
    <div class="container">
        {% include ('default/template/checkout/my_orders_cart_listing_template.twig') %}
    </div>
</div>
<!-------------------- /.PAGE ELEMENT ---------------------->
<!-------------------- ACCOUNT LOGIN DIALOG ---------------------->
{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}
<!-------------------- /.ACCOUNT LOGIN DIALOG ---------------------->

{{ footer }}
