<div class="section-add-on-deal" {% if product.deal_data is empty %} style="display: none" {% endif %}>
    <div id="add-on-deal">
        <form action="#" method="POST" id="add-on-deal-cart">
            <div class="row row-form">
                {% if product.has_deal and product.deal_data is not empty %}
                    {% set _original_price = '' %}
                    {% set sale_price = '' %}
                    {% if product.price == 0 and product.discount_id is null %}
                        {% set sale_price = 0 %}
                        {% set _original_price = original_price %}
                    {% else %}
                        {% set sale_price = product.price_discount %}
                        {% set _original_price = original_price %}
                    {% endif %}
                    <div class="col-12 col-lg-8 col-md-12 product-deal">
                        <h3 class="title-deal-name" data-limit-quantity-product="{{product.deal_data.limit_quantity_product}}">
                            <div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.4" d="M19.9707 10V18C19.9707 21 18.9707 22 15.9707 22H7.9707C4.9707 22 3.9707 21 3.9707 18V10H19.9707Z" fill="#EE3C96"/>
                                    <path d="M21.5 7V8C21.5 9.1 20.97 10 19.5 10H4.5C2.97 10 2.5 9.1 2.5 8V7C2.5 5.9 2.97 5 4.5 5H19.5C20.97 5 21.5 5.9 21.5 7Z" fill="#EE3C96"/>
                                    <path opacity="0.4" d="M11.6408 5.00141H6.12076C5.78076 4.63141 5.79076 4.06141 6.15076 3.70141L7.57076 2.28141C7.94076 1.91141 8.55076 1.91141 8.92076 2.28141L11.6408 5.00141Z" fill="#EE3C96"/>
                                    <path opacity="0.4" d="M17.8696 5.00141H12.3496L15.0696 2.28141C15.4396 1.91141 16.0496 1.91141 16.4196 2.28141L17.8396 3.70141C18.1996 4.06141 18.2096 4.63141 17.8696 5.00141Z" fill="#EE3C96"/>
                                    <path opacity="0.6" d="M8.93945 10V15.14C8.93945 15.94 9.81945 16.41 10.4895 15.98L11.4295 15.36C11.7695 15.14 12.1995 15.14 12.5295 15.36L13.4195 15.96C14.0795 16.4 14.9695 15.93 14.9695 15.13V10H8.93945Z" fill="#EE3C96"/>
                                </svg>
                                {{ product.deal_data.name }}
                            </div>

                            <svg class="d-none-desktop" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.93974 13.781C5.81307 13.781 5.68641 13.7343 5.58641 13.6343C5.39307 13.441 5.39307 13.121 5.58641 12.9277L9.93307 8.58099C10.2531 8.26099 10.2531 7.74099 9.93307 7.42099L5.58641 3.07432C5.39307 2.88099 5.39307 2.56099 5.58641 2.36766C5.77974 2.17432 6.09974 2.17432 6.29307 2.36766L10.6397 6.71432C10.9797 7.05432 11.1731 7.51432 11.1731 8.00099C11.1731 8.48766 10.9864 8.94766 10.6397 9.28766L6.29307 13.6343C6.19307 13.7277 6.06641 13.781 5.93974 13.781Z" fill="#263A7B"/>
                            </svg>
                        </h3>

                        {% if 1 == is_on_mobile %}
                            <div id="deal-view">
                                <div class="main-pro">
                                    <img class="product-deal-image" width="104px" height="104px"
                                         src="{{ product['image'] }}" alt="{{ product['name'] }}">
                                    <p class="font-14 font-weight-600 mb-0 text-center price-deal">{{ price|replace({ 'VND': 'đ' }) }}</p>
                                    <p class="text-secondary font-12 mb-8px text-center price-old-deal">
                                        <span class="text-decoration-line-through">{{ old_price|replace({ 'VND': 'đ' }) }}</span>
                                        {% if product['percent_sale'] %}
                                            <span class="pro-sticky">
                                                        <span class="sale-off fz-12">{{ (product.percent_sale < 0 ? '-' : '+') ~ ' ' ~ product.percent_sale_value|abs ~ '%' }}</span>
                                                    </span>
                                        {% endif %}
                                    </p>
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.87381 0.079999V12.488H5.16181V0.079999H7.87381ZM12.4578 5.024V7.544H0.553813V5.024H12.4578Z" fill="#17204D"/>
                                    </svg>
                                </div>

                                {% if product.add_on_products %}
                                    {% for ao_product in product.add_on_products|slice(0, 2) %}
                                        <div class="deal-pro">
                                            <img src="{{ ao_product.image }}" alt="" width="104px">
                                            <p class="font-14 font-weight-600 mb-0 text-center price-deal">{{ ao_product.sale_price_format|replace({ 'VND': 'đ' }) }}</p>
                                            <p class="text-secondary font-12 mb-8px text-center price-old-deal">
                                                <span class="text-decoration-line-through">{{ ao_product.original_price_format|replace({ 'VND': 'đ' }) }}</span>
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}

                        <div id="main-product" class="border-bottom">
                            <div class="d-flex justify-space-between">
                                <div class="image">
                                    <p class="title">Sản phẩm</p>
                                    <img class="product-deal-image" width="88px" height="88px"
                                         src="{{ product['image'] }}" alt="{{ product['name'] }}">
                                </div>
                                <div class="info-main-deal">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="name-main-product">
                                                <p>{{ product['name'] }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-xs-left text-center col-sm-12">
                                            <p class="quantity-deal">Số lượng: </p>
                                            <div class="custom-number-input-wrapper" style="background: none">
                                                <input
                                                        data-original-price="{{ _original_price }}"
                                                        data-sale-price="{{ sale_price }}"
                                                        class="deal custom-number-input" type="number" oninput="this.setCustomValidity('')"
                                                        oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" required=""
                                                        name="quantity" pattern="(([0-9]{9})\b)" min="1" max="9999" step="1" value="1">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 text-xs-left text-right price-main-deal">
                                            <p class="title d-none-mobile">Đơn giá</p>
                                            <p class="text-secondary font-12 mb-8px">
                                                <span class="text-decoration-line-through">{{ old_price|replace({ 'VND': 'đ' }) }}</span>
                                                {% if product['percent_sale'] %}
                                                    <span class="pro-sticky">
                                                        <span class="sale-off fz-12">{{ (product.percent_sale < 0 ? '-' : '+') ~ ' ' ~ product.percent_sale_value|abs ~ '%' }}</span>
                                                    </span>
                                                {% endif %}
                                            </p>
                                            <p class="font-14 font-weight-600 mb-0 add-on-price-sale">{{ price|replace({ 'VND': 'đ' }) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">

                        </div>

                        <div id="add-on-product">
                            {% if product.add_on_products %}
                                {% for ao_product in product.add_on_products %}
                                    <label for="flexCheckDefault{{ ao_product.id }}">
                                        <div class="row mb-3 row-add-on-product {{ ao_product.is_stock ? '' : 'not-is-stock' }}">
                                            <div class="col-md-7 col-sm-12 col-xs-12">
                                                <div class="d-flex w-100">
                                                    <div class="form-check my-auto">
                                                        <input type="checkbox" name="chooseAddOnProduct[]"
                                                               value="{{ ao_product.id }}"
                                                               data-original-price="{{ ao_product.original_price }}"
                                                               data-sale-price="{{ ao_product.sale_price }}"
                                                                {{ ao_product.is_stock ? '' : 'disabled' }}
                                                                {{ao_product.checked ? 'checked' : ''}}
                                                               id="flexCheckDefault{{ ao_product.id }}">
                                                    </div>
                                                    <div class="d-flex">
                                                        {% if ao_product.sale_price_format == 0 %}
                                                            <svg style="position: absolute;margin: 8px 4px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path opacity="0.4" d="M13.3151 6.66663V12C13.3151 14 12.6484 14.6666 10.6484 14.6666H5.3151C3.3151 14.6666 2.64844 14 2.64844 12V6.66663H13.3151Z" fill="#EE3C96"/>
                                                                <path d="M14.3346 4.66671V5.33337C14.3346 6.06671 13.9813 6.66671 13.0013 6.66671H3.0013C1.9813 6.66671 1.66797 6.06671 1.66797 5.33337V4.66671C1.66797 3.93337 1.9813 3.33337 3.0013 3.33337H13.0013C13.9813 3.33337 14.3346 3.93337 14.3346 4.66671Z" fill="#EE3C96"/>
                                                                <path opacity="0.4" d="M7.75921 3.33329H4.07921C3.85254 3.08663 3.85921 2.70663 4.09921 2.46663L5.04587 1.51996C5.29254 1.27329 5.69921 1.27329 5.94587 1.51996L7.75921 3.33329Z" fill="#EE3C96"/>
                                                                <path opacity="0.4" d="M11.9144 3.33329H8.23438L10.0477 1.51996C10.2944 1.27329 10.701 1.27329 10.9477 1.51996L11.8944 2.46663C12.1344 2.70663 12.141 3.08663 11.9144 3.33329Z" fill="#EE3C96"/>
                                                                <path opacity="0.6" d="M5.96094 6.66663V10.0933C5.96094 10.6266 6.5476 10.94 6.99427 10.6533L7.62094 10.24C7.8476 10.0933 8.13427 10.0933 8.35427 10.24L8.9476 10.64C9.3876 10.9333 9.98094 10.62 9.98094 10.0866V6.66663H5.96094Z" fill="#EE3C96"/>
                                                            </svg>
                                                        {% endif %}
                                                        <img class="product-deal-image" width="88px" height="88px"
                                                             src="{{ ao_product.image }}"
                                                             alt="1">

                                                        <div class="w-75">
                                                            <label class="product-deal-notice">{{ ao_product.sale_price_format == 0 ? 'Quà tặng' : 'Deal sốc' }}</label>
                                                            <p class="mb-0 product-name-deal">{{ ao_product.product_name }}</p>
                                                            {% if ao_product.version is not empty %}
                                                                <p class="font-weight-600 mb-0">{{ ao_product.version }}</p>
                                                            {% endif %}
                                                            <span class="is-stock-deal" {{ ao_product.is_stock ? 'style="display:none"' : 'Hết hàng' }}>{{ ao_product.is_stock ? '' : 'Hết hàng' }}</span>

                                                            <div class="d-flex justify-space-between">
                                                                <div class="d-none-desktop col-md-3 text-right price-on-deal">
                                                                    <p class="text-secondary font-12 mb-8px">
                                                                            <span class=" text-decoration-line-through">
                                                                                {{ ao_product.original_price_format|replace({ 'VND': 'đ' }) }}</span>
                                                                        {% if ao_product.percent_reduce %}
                                                                            <span class="sale-off">{{ '-' ~ ao_product.percent_reduce ~ '%' }}</span>
                                                                        {% endif %}
                                                                    </p>
                                                                    <p class="font-14 font-weight-600 mb-0 add-on-price-sale">
                                                                        {{ ao_product.sale_price_format|replace({ 'VND': 'đ' }) }}</p>
                                                                </div>

                                                                <div class="d-none-desktop quantity-deal">
                                                                    <span>SL: 1</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-none-mobile col-md-2 col-sm-12 col-xs-12 text-center">
                                                <span>1</span>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-xs-12 text-right price-on-deal d-none-mobile">
                                                <p class="text-secondary font-12 mb-8px">
                                                            <span class=" text-decoration-line-through">
                                                                {{ ao_product.original_price_format|replace({ 'VND': 'đ' }) }}</span>
                                                    {% if ao_product.percent_reduce %}
                                                        <span class="sale-off">{{ '-' ~ ao_product.percent_reduce ~ '%' }}</span>
                                                    {% endif %}
                                                </p>
                                                <p class="font-14 font-weight-600 mb-0 add-on-price-sale">
                                                    {{ ao_product.sale_price_format|replace({ 'VND': 'đ' }) }}</p>
                                            </div>

                                        </div>
                                        <input type="hidden" name="">
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-12" id="block-add-deal-to-cart">
                        <div class="info">
                            <p>Đã chọn <span class="checked-add-deal">1</span>/{{ product.add_on_products|length + 1 }} sản phẩm</p>
                            <p>
                                <span>Tổng cộng</span>
                                <span id="total-original-price"
                                      data-total-original-price="{{ _original_price }}"
                                      class="ml-3 text-secondary text-decoration-line-through font-12 mb-8px">
                                                {{ old_price|replace({ 'VND': 'đ' }) }}
                                            </span>
                                <br>
                                <span id="total-sale-price"
                                      data-total-sale-price="{{ sale_price }}"
                                      class="ml-89px font-14 font-weight-600 mb-0 add-on-price-sale">
                                                {{ price|replace({ 'VND': 'đ' }) }}
                                            </span>
                            </p>
                            <p class="d-flex">
                                <span>Tiết kiệm</span> <span id="price-save-abc" data-price-save="{{ _original_price- sale_price }}" class="price-save ml-3"></span>
                            </p>

                            <p class="show-message-limit-quantity"></p>

                            <button id="add-deal-to-cart"
                                    type="button"
                                    class="btn text-primary d-flex justify-content-center p-2 h-100 ms-lg-5"
                                    onclick="cart.addDeal('')">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.625 5.03402C9.38583 5.03402 9.1875 4.83568 9.1875 4.59652V3.79152C9.1875 3.17902 8.925 2.58402 8.47 2.16985C8.00917 1.74985 7.41417 1.55735 6.78417 1.61568C5.73417 1.71485 4.8125 2.78818 4.8125 3.90818V4.47402C4.8125 4.71318 4.61417 4.91152 4.375 4.91152C4.13583 4.91152 3.9375 4.71318 3.9375 4.47402V3.90235C3.9375 2.33318 5.20333 0.886516 6.7025 0.740682C7.5775 0.659016 8.4175 0.933182 9.05917 1.52235C9.695 2.09985 10.0625 2.92818 10.0625 3.79152V4.59652C10.0625 4.83568 9.86417 5.03402 9.625 5.03402Z" fill="white"/>
                                    <path d="M8.75087 13.2721H5.25087C2.55587 13.2721 2.0542 12.018 1.92587 10.7988L1.48837 7.30464C1.4242 6.67464 1.40087 5.77047 2.01337 5.0938C2.53837 4.51047 3.40754 4.23047 4.66754 4.23047H9.3342C10.6 4.23047 11.4692 4.5163 11.9884 5.0938C12.595 5.77047 12.5775 6.67464 12.5134 7.29297L12.0759 10.7988C11.9475 12.018 11.4459 13.2721 8.75087 13.2721ZM4.66754 5.10547C3.6817 5.10547 3.00504 5.29797 2.66087 5.68297C2.37504 5.99797 2.2817 6.48214 2.35754 7.20547L2.79504 10.6996C2.8942 11.633 3.15087 12.403 5.25087 12.403H8.75087C10.8509 12.403 11.1075 11.6388 11.2067 10.7113L11.6442 7.20547C11.72 6.4938 11.6267 6.00964 11.3409 5.6888C10.9967 5.29797 10.32 5.10547 9.3342 5.10547H4.66754Z" fill="white"/>
                                    <path d="M8.99542 7.67057C8.66875 7.67057 8.40625 7.40807 8.40625 7.08724C8.40625 6.76641 8.66875 6.50391 8.98958 6.50391C9.31042 6.50391 9.57292 6.76641 9.57292 7.08724C9.57292 7.40807 9.31625 7.67057 8.99542 7.67057Z" fill="white"/>
                                    <path d="M4.91143 7.67057C4.58477 7.67057 4.32227 7.40807 4.32227 7.08724C4.32227 6.76641 4.58477 6.50391 4.9056 6.50391C5.22643 6.50391 5.48893 6.76641 5.48893 7.08724C5.48893 7.40807 5.23227 7.67057 4.91143 7.67057Z" fill="#EE3C96"/>
                                </svg>
                                <span class="fz-12 fz-lg-16 align-self-center">Thêm Deal vào giỏ</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>