{{ header }}
<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                    {% else %}
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <!-- End breadcrumb -->
        <!-- Main Content -->
        <form class="" id="add-to-cart" action="{{ action }}" method="POST">
        <div class="main-content mb-3">
            <div class="product-teaser-fix {% if is_on_mobile == 1 %}is-on-mobile{% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="col-5" style="padding: 0; line-height: 50px;">
                            <span class="font-z-20 align-self-center col-5 fz-20">
                                {{ product['name']|length > 30 ? product['name']|slice(0, 30) ~ '...' : product['name'] }}-</span>
                            <span class="fz-24 fw-500 gia-san-pham-header">
                            <span class="gia-header">
                                    {% if product['is_contact_for_price'] %}
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}

                                                {% if product['max_price_version'] is null %}
                                                   {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                        {% else %}
                                                {% if product['max_price_version'] is null %}
                                                   {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                {% endif %}
                                        {% endif %}
                                    {% endif %}
                            </span>
                        </span>
                        </div>
                        <div class="col-7">
                            <div class="d-flex col-12 float-right pr-0">
                                <div class="col {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    <a id="add-to-cart"  onclick="cart.add('{{ product['product_id'] }}')"
                                            {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                       class="add-cart-bestme add-to-cart btn bg-second d-flex justify-content-center p-2 rounded-30 h-100">
                                        <i class="icon icon-cart-plus fz-32 mr-3 bg-third"></i>
                                        <span class="fz-12 fz-lg-16 align-self-center">Thêm vào giỏ hàng</span>
                                    </a>
                                </div>
                                <div class="col {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    <a class=" button_buying add-cart-bestme btn-buynow-bestme button_buyingbuy-now btn btn-primary py-2 w-100"
                                            {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}>
                                        <span class="text-uppercase fz-14 fz-lg-16 fw-500">Mua ngay</span><br>
                                        <span class="fz-10 fz-lg-12">Giao hàng miễn phí tận nơi</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End product teaser fixed -->
            <!-- Product Info -->
            <div class="product-info mb-3 mb-sm-0 bestme-block-detail-product">
                <div class="row">
                    <div class="col-lg-5 pro-thumb-detail thumb-detail-type3 pr-lg-4">
                        <div id="carouselProDetail" class="carousel slide" data-ride="carousel"
                             data-interval="false">
                            <div class="carousel-inner">
                                {% if product_images is not empty %}
                                {% for k, image in product_images %}
                                    <div class="carousel-item {{ k == 0 ? 'active' : '' }}">
                                        <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                    </div>
                                {% endfor %}
                                {% else %}
                                    <div class="carousel-item"><img src="{{ product_empty }}" alt=""></div>
                                {% endif %}
                            </div>
                            <div class="carousel-indicators owl-carousel owl-theme owl-hidden-dots">
                                {% if product_images is not empty %}
                                    {% for k, image in product_images %}
                                        <div class="item img-thumb">
                                            <a data-target="#carouselProDetail" data-slide-to="{{ k }}" class="">
                                                <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}" class="img-wrap {{ k == 0 ? 'active' : '' }}">
                                            </a>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                        <div class="item">
                                            <a data-target="#carouselProDetail" data-slide-to="0" class="">
                                                <img class="img-fluid" src="{{ product_empty }}" alt="" class="img-wrap">
                                            </a>
                                        </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div><!-- /.pro-thumb-zoom -->

                    <div id="block-detail-product" class="col-lg-7 pro-detail pl-lg-3">
                        <a class="text-second mb-3 d-inline-block" href="#">
                            {% if categories is not empty %}
                                {% for k,category in categories %}
                                    {{ category['name'] }}{% if categories|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </a>
                        <h1 class="page-pro-title fw-500 fz-28 d-flex mb-3 border-bottom pb-3 mb-3 text-primary">
                            <span> {{ product['name'] }}</span>
                            <span class="ml-4 pro-sticky sale-off fz-12 p-2 bg-seventh text-white align-self-center d-none" id="product-detail-percent-sale"></span>
                        </h1>
                        <p class="text-third"><span class="text-second mr-3">Mã sp :</span>
                            <span class="code-product">{% if product['product_version_id'] is empty %} {{ product['sku'] }} {% endif %}</span>
                        </p>
                        <p class="text-third"><span class="text-second mr-3">Tình trạng :</span>
                            <span class="tinh-trang">
                                {% if product['product_is_stock'] %}
                                    Còn hàng
                                {% else %}
                                    Hết hàng
                                {% endif %}
                            </span>
                        </p>

                        <div class="pro-price gia-san-pham d-inline-block mb-3">
                                {% if product['is_contact_for_price'] %}
                                    <a data-toggle="modal" data-target="#modal-buy" class="btn btn-buy" href="javascript:void(0);">
                                        <span class="new-price price-new d-flex">
                                            <span class="btn btn-primary">{{ contact }}</span>
                                        </span>
                                    </a>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        <span class="new-price d-flex">
                                            {% if product['max_price_version'] is null %}
                                                <span class="fw-500 text-third fz-36">{{ product['compare_price_master'] }}</span>
                                            {% else %}
                                                <span class="fw-500 text-third fz-36">
                                                        {{ product['min_compare_price_version'] }}
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                    </span>
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        <span class="new-price d-flex">
                                            {% if product['max_price_version'] is null %}
                                                <span class="fw-500 text-third fz-36">{{ product['price_master'] }}</span>
                                            {% else %}
                                                <span class="fw-500 text-third fz-36">
                                                        {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                    </span>
                                            {% endif %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="align-self-center old-price ml-3 fz-16"><del>{{ product['compare_price_master'] }}</del></span>
                                                {% else %}
                                                    <span class="align-self-center old-price ml-3 fz-16">
                                                        <del>
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        </del>
                                                    </span>
                                                {% endif %}
                                            </del>
                                        </span>
                                    {% endif %}
                                {% endif %}
                        </div><!-- /.price-rate -->
                        <p class="mb-3">
                            {% if product['sub_description'] is not empty %}
                                <div class="desc ckeditor-content">
                                    {{ product['sub_description']|html_entity_decode }}
                                </div>
                            {% endif %}
                        </p>
                            {% if attributes is not empty %}
                                {% for attribute in attributes %}
                                    <div class="mb-2 list-radio-size d-inline-flex flex-wrap">
                                        <label class="text-second align-self-center mr-4">{{ attribute['attribute_name'] }} :</label>
                                        {% for key,attribute_text in attribute['attribute_text'] %}
                                            <div class="form-check m-1 p-0">
                                                <input class="form-check-input d-none" {% if key == 0 %} checked {% endif %}
                                                       name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                value="{{ attribute_text }}">
                                                <label class="form-check-label pointer" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">
                                                    {{ attribute_text }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <br>
                                {% endfor %}
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                            <div class="buy-total w-50 pr-3 mb-lg-4 mt-lg-3  {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                <input class="custom-number-input" type="number"
                                oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" required
                                name="quantity" pattern="(([0-9]{9})\b)" min="1" max="9999" step="1" value="1">
                            </div>
                            <div class="pro-action row my-lg-3">
                                    <div class="col {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                        <button style="width: 100% " id="add-to-cart" type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                            class="btn-addcart-bestme btn btn-action add-to-cart btn bg-second d-flex justify-content-center p-2 rounded-30 h-100 {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                            onclick="cart.add('{{ product['product_id'] }}')">
                                            <i class="icon icon-cart-plus fz-32 mr-3 bg-third"></i>
                                            <span class="fz-12 fz-lg-16 align-self-center">Thêm vào giỏ hàng</span>
                                        </button>
                                    </div>
                                <div class="col {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                       class=" button_buying buy-now btn btn-primary py-2 btn-buy-now-mobile {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %} ">
                                        <span class="text-uppercase fz-14 fz-lg-16 fw-500">Mua ngay</span><br>
                                        <span class="fz-10 fz-lg-12">Giao hàng miễn phí tận nơi</span>
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End: Product Info -->

        {% if ((banners[1] is defined and banners[1]['visible'] == '1')
            or (banners[2] is defined and banners[2]['visible'] == '1')) %}
            <div class="row mb-3 d-none d-lg-flex">
                <div class="col-12 col-lg-6 mb-3">
                    {% if banners[1] is defined and banners[1]['visible'] == '1' %}
                        <a href="{{ banners[1]['url'] }}" target="_blank" title="{{ banners[1]['description'] }}">
                            <img src="{{ banners[1]['image-url'] }}" width="100%" alt="{{ banners[1]['description'] }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    {% if banners[2] is defined and banners[2]['visible'] == '1' %}
                        <a href="{{ banners[2]['url'] }}" target="_blank" title="{{ banners[2]['description'] }}">
                            <img src="{{ banners[2]['image-url'] }}" width="100%" alt="{{ banners[2]['description'] }}">
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8 mb-12">
                <!-- Product tab -->
                <ul class="nav nav-tabs border-bottom bg-white justify-content-center" id="productDetailTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#proDesc" role="tab"
                           aria-controls="proDesc" aria-selected="true">Mô tả sản phẩm</a>
                    </li>
                </ul>
                <div class="tab-content mb-3 mb-lg-4 bg-white" id="productDetailTabContent">
                    <div class="tab-pane fade show active py-4" id="proDesc" role="tabpanel" aria-labelledby="info-tab">
                        <p>  {{ product['description']|html_entity_decode }} </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3">
                <div class="product-suggest">
                    <h2 class="box-title bg-primary fw-500 rounded-10 rounded-bottom-0 w-100 fz-14 p-2 mb-3">CÓ THỂ BẠN SẼ THÍCH</h2>
                    <div class="view-content">
                        {% if related_product_visible %}
                            {% for product_index, product in related_products if product_index < 5 %}
                                <div class="pro-item form-row px-0 py-1 my-1">
                                    <div class="col-4 pr-3">
                                        <a class="img-thumb pro-thumb position-relative m-0" href="{{ product.href }}">
                                            <div class="img-wrap">
                                                <img src="{{ product.thumb }}" height="500" width="200" alt="{{ product.name }}">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col pt-2 pl-0">
                                        {% if product.percent_sale is not empty %}
                                            <div class="pro-sticky sale-off">{{ product.percent_sale }}</div>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <div class="pro-sticky sale-off out-stock"
                                                    {% if product.percent_sale is empty %}
                                                        style="transform: translateX(0);"
                                                    {% endif %}
                                            >hết hàng</div>
                                        {% endif %}
                                        <p class="pro-cat fz-12 text-second m-0">{{ product['name_cate'] is empty ? '<br>' : product['name_cate'] }}</p>
                                        <a href="{{ product.href }}" class="pro-item-title">{{ product.name }}</a>
                                        <div class="pro-info">
                                            <div class="pro-price my-2">
                                                {% if product['is_contact_for_price'] %}
                                                    <span class="new-price text-third fw-500">
                                                    {{ contact }}
                                                </span>
                                                {% else %}
                                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                        <span class="new-price text-third fw-500">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    {% else %}
                                                        <span class="new-price text-third fw-500">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['price_master'] }}
                                                        {% else %}
                                                            {{ product['min_price_version'] }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                        <span class="old-price text-second fz-12">
                                                        {% if product['max_compare_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End pro-item -->
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- End view-content -->
                </div>
                <!-- End product-suggest -->
            </div>
        </div>
            <!-- Product tab -->
            {% if related_product_visible %}
            <!-- Product Related -->
            <div class="box-product product-relate mb-3 bestme-block-product-related-product">
                <div class="d-flex flex-wrap border-lg-bottom">
                    <h2 class="box-title align-self-center border-bottom border-lg-bottom-0 w-100 w-lg-auto">
                        <a>{{ related_product_title }}</a>
                    </h2>
                </div>
                <!-- /.box-title-center -->
                <div class="owl-product owl-carousel owl-theme d-flex" data-number-item="{{ related_products_display_grid_quantity }}"
                     data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                    {% set grid = is_on_mobile == 0 ? related_products_display_grid_quantity : related_products_display_grid_mobile_quantity %}
                        {% for product_index, product in related_products %}
                            {% if 1 == (product_index + 1) % grid or 1 == grid %}
                            <div class="slide-item px-1">
                                <div class="row m-0 row-cols-{{ grid }}">
                            {% endif %}
                                    <div class="col">
                                        <div class="pro-item">
                                            {% if product['percent_sale'] is not empty %}
                                                <div class="pro-sticky sale-off">
                                                    <span class="sale">{{ product['percent_sale'] }}</span>
                                                </div>
                                            {% endif %}
                                            <p class="pro-cat fz-12 text-second m-0"><br></p>
                                            <a href="{{ product['href'] }}"
                                               class="pro-item-title">{{ product.name|length > 20 ? product.name|slice(0, 20) ~ '...' : product.name }}</a>
                                            <div class="img-thumb pro-thumb position-relative">
                                                <div class="img-wrap">
                                                    <a href="{{ product['href'] }}">
                                                        <img src="{{ product['thumb'] }}" height="500" width="200" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="d-flex home-product-sticky">
                                                {% if product['product_is_stock'] == false %}
                                                    <div class="pro-sticky sale-off out-stock">hết hàng</div>
                                                {% endif %}
                                            </div>
                                            <div class="pro-info">
                                                <div class="pro-price my-2">
                                                    {% if product['is_contact_for_price'] %}
                                                        <span class="new-price fw-500">{{ contact }}</span>
                                                    {% else %}
                                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="new-price fw-500">{{ product['compare_price_master'] }}</span>
                                                            {% else %}
                                                                <span class="new-price fw-500">
                                                                    {{ product['min_compare_price_version'] }}
                                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                        ~ {{ product['max_compare_price_version'] }}
                                                                    {% endif %}
                                                                </span>
                                                            {% endif %}
                                                            {% else %}
                                                                {% if product['max_price_version'] is null %}
                                                                    <span class="new-price fw-500">{{ product['price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="new-price fw-500">
                                                                        {{ product['min_price_version'] }}
                                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                                            ~ {{ product['max_price_version'] }}
                                                                        {% endif %}
                                                                    </span>
                                                                {% endif %}
                                                                {% if product['max_compare_price_version'] is null %}
                                                                    <span class="old-price text-second fz-12">{{ product['compare_price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="old-price text-second fz-12">
                                                                        {{ product['min_compare_price_version'] }}
                                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                            ~ {{ product['max_compare_price_version'] }}
                                                                        {% endif %}
                                                                    </span>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            <div class="pro-overlay" title="{{ product.name|length > 20 ? product.name : '' }}" data-toggle="tooltip">
                                                <div class="transition d-flex justify-content-center align-items-center">
                                                    <a href="{{ product['href'] }}" class="view-now btn-icon">
                                                        <i class="icon icon-eye"></i>
                                                    </a>
                                                    <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                                        <i class="icon icon-cart"></i>
                                                    </a>
                                                </div>
                                                <a href="{{ product['href'] }}" class="buy-now btn btn-primary">Mua
                                                    ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col pro -->
                            {% if 0 == (product_index + 1) % grid or product_index + 1 == related_products|length or 1 == grid %}
                                </div>
                                <!-- End row -->
                            </div>
                            {% endif %}
                        {% endfor %}
                        <!-- End slide-item -->
                </div> <!-- End owl-product -->
            </div>
            <!-- End: Product Related -->
            {% endif %}
        </div>

        <!-- End: Main Content -->
    </div>
    <!-- End container -->
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product btn btn-primary">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>

<style>
    #carouselProDetail button.owl-prev{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    #carouselProDetail button.owl-next{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<script src="{{ theme_directory }}/js/okzoom.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        owlInit($('#carouselProDetail .carousel-indicators'), 4, true, false, 8, {
            0: {
                items: 4,
            }
        }, false);
        if (window.innerWidth > 991) {
            // Zoom image product
            $('#carouselProDetail .carousel-item img').okzoom({
                width: 250,
                height: 250,
                round: true,
                background: "#fff",
                backgroundRepeat: "no-repeat",
                shadow: "0 0 5px #333",
                border: "0",
                scaleWidth: 1000,
            });
        }
    });
</script>
<script>
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
            return false;
        } else {
            $('#add-to-cart').submit();
        }
    });

    $('body').on('click', '.btn-addcart-bestme', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
            return false;
        } else {
            return  true;
        }
    });
    $('body').on('click', 'a.add-cart-bestme', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
            return false;
        } else {
            return  true;
        }
    });


    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        // update current order
        updateCurrentOrder();
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.action-cart a .count').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>

<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>

{{ footer }}
