body {
    word-wrap: break-word;
}
#block-footer .copy-right {
    margin-top: 34px;
    background-color: #fda7a8;
    padding: 14px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #F9FAFB;
}

#block-footer .copy-right a {
    text-decoration: none;
    color: #F9FAFB;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#block-footer .copy-right a:hover {
    color: #CA6971;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

#block-header-top {
    background: #fda7a8;
}

#block-header-top a {
    color: #F9FAFB;
    text-decoration-line: none;
}

#block-header-top a:hover {
    color: #CA6971;
}

#block-partner .swiper-partner .swiper-slide img {
    filter: inherit;
}

.block-header .header-main #block-action-header .cart .count-product {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}

.block-sidebar .widget-sidebar .widget-content .change-price .range-slider #amount {
    resize: none;
}

.block-header .header-main .logo .big img {
    max-width: 100%;
    max-height: 50px;
}

.block-product-detail-page .block-detail .block-custom-change .form-action .quantity input {
    padding-left: 15px;
    padding-right: 15px;
}

.form-check-inline {
    display: block;
}

.form-check-inline span {
    margin-bottom: 5px;
}

/*sticky*/
.buy-now {
    display: none;
}
.buy-now {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
}
.buy-now.fixed {
    position: fixed;
    top: 45px;
    z-index: 999;
    width: 100%;
    display: block;
}
.buy-now .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-buy-now-header {
    background-color: #fda7a8;
    color: white;
    outline: none;
    box-shadow: none;
    height: 38px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #EBEBEB;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    width: 100%;
    border-radius: 2px;
}

.btn-add-cart-header {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    background: white;
}
.btn-add-cart-header:hover {
    background-color: #fda7a8;
    color: white;
}

.show-on-pc {
    display: block;
}
.show-on-mobile {
    display: none !important;
}

/*img of block content*/
.detail-content img {
    max-width: 100%;
}

.block-header-menu .main-menu ul {
    display: inline-table;
}

.block-header-menu .main-menu ul li a {
    padding: 11px 13px;
}

/*over 10 item in menu*/
.block-header-menu .main-menu ul li a.over-item {
    padding: 8px 10px;
    font-size: 12px;
}
/*End over 10 item in menu*/

/*hot-fix 20200521 sp lệch nhấp nhô*/
.category-wrap {
    height: 31px;
    overflow: hidden;
}

/*reponsive menu - iphoneX and ipad horizontal*/
@media only screen and (max-width: 1024px) and (min-width: 812px){
    .block-header-menu .flex-display{
        display: block;
    }

    .block-header-search.search-sticky {
        max-width: 230px;
        padding-bottom: 5px;
        padding-top: 0;
    }
}
/*End reponsive menu - iphoneX and ipad horizontal*/

@media screen and (max-width: 815px) {
    #sidenav {
        overflow: auto;
    }
    .open-sidemenu {
        margin-left: 0;
        margin-right: 15px;
    }

    .block-header .header-main .logo .big img {
        max-width: 120px;
        max-height: initial;
    }

    .header-address h1.header-font {
        font-size: 15px;
    }

    .block-custom-change .form-action .btn {
        display: -webkit-inline-box !important;
        margin: 0 !important;
    }

    #buy-now {
        display: none;
    }

    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #fda7a8;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }
}

@media (max-width: 364px) {
    .block-custom-change .form-action .btn-buy {
        margin-top: 10px !important;
    }

    .block-custom-change .form-action .btn-action {
        margin-top: -5px !important;
    }

    .block-banner-footer .banner-item .thumb img{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .block-custom-change .form-action .btn-action {
        display: -webkit-inline-box !important;
        margin: 0;
    }

    .block-banner-footer .banner-item .thumb img{
        width: 100%;
    }
}

#sidenav .logo-menu {
    display: none;
}

@media (max-width: 768px) {
    #sidenav {
        background-size: 150px !important;
        padding-top: 20px;
    }
    #sidenav .logo-menu {
        display: block;
        margin: auto;
        max-width: 150px;
        padding-bottom: 20px;
    }
    .block-news-home .swiper-button-prev, .block-product .swiper-button-prev {
        height: 35px;
        width: 35px;
    }
    .block-news-home .swiper-button-next, .block-product .swiper-button-next {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 767px) {
    .block-product-detail-page .block-detail .block-custom-change .form-action .btn-buy{
        margin-left: 8px !important;
    }

    .block-banner-footer .banner-item .thumb img{
        width: 100%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 365px) {
    .block-product-detail-page .block-detail .block-custom-change .form-action .quantity input {
        margin-top: -2px;
    }

    .block-banner-footer .banner-item .thumb img{
        width: 100%;
    }
}
.table-action a.btn-primary{
    border-color: transparent !important;
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}

.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.block-header .header-main .logo .big img {
    max-width: 200px;
}
.buy-now-mobile input {
    width: 100%;
    height: 38px;
}
.buy-now-mobile .number-quantity {
    margin-top: 0px;
    margin-bottom: 0px;
}

.block-sidebar .widget-sidebar .widget-content .menu-none-arrow ul li a.active {
    color: #fda7a8;
}
.block-news-home .news-item .thumb img{
    width: 100%;
    object-fit: cover;
    object-position: 100% 0%;
    height: 200px;
}
.block-news-home .img-new img{
    width: 100%;
    object-fit: cover;
    object-position: 100% 0%;
    height: 200px;
}
a.btn.btn-buy{
    border: 1px solid #FDA7A8 !important;
}
.block-product-detail-page .gallery .owl-2 .owl-nav {
    display: block;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.block-sidebar .widget-sidebar .widget-content .menu-side ul li.active a {
    color: #fda7a8;
}

/* dunght - SEO heading tags */
#sidenav li a > h1,
#sidenav li a > h2,
#sidenav li a > h3 {
    font-weight: 400;
    font-size: 14px;
}
/* end - dunght - SEO heading tags */