<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/bestme.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ theme_directory }}/js/jquery.3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/popper.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/bootstrap.min.js"></script>
    <script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/main.js"></script>

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <!-- End Bootstrap -->
    <style>
        .icon.icon-external-link{
            -webkit-mask-image:  url('{{ theme_directory }}/img/icons/logo.png');
            mask-image: url('{{ theme_directory }}/img/icons/logo.png');
        }
    </style>
    
    {# Development #}
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/dev_trietnguyen.css">
        <script type="text/javascript" src="{{ theme_directory }}/js/dev_trietnguyen.js"></script>
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="front-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- overlay -->
<div class="block-overlay"></div>
<!-- /.overlay -->

<div class="page-wrapper">

    <!-- header.html -->
    <header class="block-header refix-min-height" id="header-main">
        <div class="header-top py-0">
            {#<div class="container">#}
            {#    <div class="d-flex">#}
            {#        <span class="bestme-block-banner-top">#}
            {#            {% if notify_bar.visible  == 1 %}#}
            {#                <a href="{{ notify_bar.url }}">{{ notify_bar.content }}</a>#}
            {#            {% endif %}#}
            {#        </span>#}
            {#        <div class="ml-auto">#}
            {#            <a href="#" class="text-uppercase font-10 mr-5 d-none"><i class="icon icon-heart-solid main-color mr-2"></i> Sản phẩm yêu thích</a>#}

            {#            <a href="{{ my_account }}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,18"><i class="icon icon-user"></i>#}
            {#                {% if logged_in == '' %}#}
            {#                    Đăng nhập#}
            {#                {% else %}#}
            {#                    {{ logged_user }}#}
            {#                {% endif %}#}
            {#            </a>#}
            {#            {% if logged_in == '' %}#}
            {#            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">#}
            {#                <a class="dropdown-item d-flex" href="{{ login }}"><i class="icon icon-user mr-3 font-20"></i>Đăng nhập</a>#}
            {#                <a class="dropdown-item d-flex" href="{{ register }}"><i class="icon icon-user mr-3 font-20"></i>Đăng ký</a>#}
            {#            </div>#}
            {#            {% else %}#}
            {#                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">#}
            {#                    <a class="dropdown-item d-flex" href="{{ my_account }}"><i class="icon icon-user mr-3 font-20"></i>Tài khoản của tôi</a>#}
            {#                    <a class="dropdown-item d-flex" href="{{ logout }}"><i class="icon icon-external-link mr-3 font-20"></i>Đăng xuất</a>#}
            {#                </div>#}
            {#            {% endif %}#}
            {#        </div>#}
            {#    </div>#}
            {#</div>#}
        </div>
        <div class="fix-content">
            <div class="container menu-main" style="min-height: 98px;">
                <form action="{{ urlserach }}" method="get" class="form-search">
                <div class="row">
                    <div class="col-6 col-md-2 block-header-logo">
                        <a href="{{ home }}" class="bestme-block-header-logo">
{#                            <img src="{{ logo }}" style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;" alt="novaon">#}
                            <img src="{{ logo }}"
                                    {% if logo_height != '' %}
                                        class="custom-height"
                                    {% endif %}
                                 alt="{{ alt }}">
                        </a>
                    </div>

                    <div class="col-6 col-md-3 block-header-contact d-flex">
                        <div class="align-self-center">
                            <i class="fas fa-phone-volume icons"></i>
                            <div class="align-self-center content">
                                <p>Hotline</p>
                                {% if notify_bar.visible  == 1 %}
                                <a href="{{ notify_bar.url }}"><h6>{{ notify_bar.content }}</h6></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-search-header-mobile d-none d-lg-none">
                        <a class="click-show-input-menu-fixed"><i class="fa fa-search"></i></a>
                    </div>
                    <div class="col-12 col-md-4 form-search-header d-flex mt-3">
                        <div class="input-group align-self-center">
                            <div class="input-group-icon flex-fill w-100">
                                <input type="text" name="search" class="form-control bg-white input-search" id="input-search" placeholder="Tìm kiếm sản phẩm" aria-label="Tìm kiếm sản phẩm">
                                <input type="hidden" name="route" value="common/shop">
                            </div>
                            <div class="input-group-append ml-auto">
                                <button class="btn btn-outline-secondary btn-search px-3 border-0 py-2 text-white text-uppercase font-weight-500" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 text-right align-self-center cart-area py-3">
                        <div class="row d-flex">
                            <div class="col-2 col-md-6 align-self-center">
                                <a href="{{ href_my_orders }}" class="cart-link block-header-cart rounded-2">
                                    <i class="fas fa-shopping-cart icons"></i>
                                    <span class="quantity">{% if total_product_cart > 99 %} 99+{% else %} {{ total_product_cart }} {% endif %}</span>
                                    <span class="amount d-none d-lg-block">
                                        <span class="title">Giỏ hàng</span>
        								<span class="total">{{ order_total_money }}</span>
        							</span>
                                </a>
                            </div>
                            
                            <div class="col-8 col-md-6 align-self-center mx-2 mx-md-0">
                                <a href="{{ my_account }}" class="login-icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,18"><i class="fas fa-user icons"></i>
                                    {% if logged_in == '' %}
                                        <span class="hide-login">Đăng nhập</span>
                                    {% else %}
                                        <span class="hide-login">{{ logged_user }}</span>
                                    {% endif %}
                                </a>
                                {% if logged_in == '' %}
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item d-flex" href="{{ login }}"><i class="icon icon-user mr-3 font-20"></i>Đăng nhập</a>
                                    <a class="dropdown-item d-flex" href="{{ register }}"><i class="icon icon-user mr-3 font-20"></i>Đăng ký</a>
                                </div>
                                {% else %}
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item d-flex" href="{{ my_account }}"><i class="icon icon-user mr-3 font-20"></i>Tài khoản của tôi</a>
                                        <a class="dropdown-item d-flex" href="{{ logout }}"><i class="icon icon-external-link mr-3 font-20"></i>Đăng xuất</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->
                </form>
                <div class="main-menu-wrapper">
                    <div class="container">
                        <div class="row">
                            {#<div class="col-3 category-menu-header">#}
                            {#    <a class="menu-title second-bg" data-toggle="collapse" href="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">DANH MỤC SẢN PHẨM</a>#}
                            {#    <div class="collapse" id="collapseCategory">#}
                            {#        <ul class="nav border-main">#}
                            {#            {% for category in categories %}#}
                            {#                <li class="nav-item">#}
                            {#                    <a class="nav-link" href="{{ category.url }}">{{ category.name }}</a>#}
                            {#                </li>#}
                            {#            {% endfor %}#}
                            {#        </ul>#}
                            {#    </div>#}
                            {#</div>#}
                            <div class="block-header-menu block-header-menu-main">
                                <nav class="navbar navbar-expand-lg navbar-light px-0 p-md-0 bestme-block-header-menu">
                                    <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarMainMenu">
                                        <ul class="nav">
                                            {% for idx, m in main_menu %}
                                                {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                                    <li class="nav-item">
                                                        {# one level #}
                                                        <a class="jupi_main_color nav-link {{ result_active_menu == m.url ? 'active' : '' }}  {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item has-child">
                                                        {# two levels #}
                                                        <a href="{{ m.url }}" class="jupi_main_color nav-link">{{ m.text }}<span class="toggle"></span></a>
                                                        <ul class="nav child-nav">
                                                            {% for it in m.items %}
                                                                {% if it.items is defined and it.items|length > 0 %}
                                                                    <li class="nav-item has-child">
                                                                        <a href="{{ it.url }}">{{ it.text }}<span class="toggle"></span></a>
                                                                        <ul class="nav child-nav">
                                                                            {% for it3 in it.items %}
                                                                                <li class="nav-item"><a href="{{ it3.url }}"">{{ it3.text }}</a></li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                {% else %}
                                                                    <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div> <!-- End row -->
                    </div> <!-- End oontainer -->
                </div> <!-- End main-menu-wrapper -->
            </div> <!-- End container -->

            <div class="main-menu-wrapper">
                <div class="container">
                    <div class="row py-2">
                        {#<div class="col-3 category-menu-header">#}
                        {#    <a class="menu-title second-bg" data-toggle="collapse" href="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">DANH MỤC SẢN PHẨM</a>#}
                        {#    <div class="collapse" id="collapseCategory">#}
                        {#        <ul class="nav border-main">#}
                        {#            {% for category in categories %}#}
                        {#                <li class="nav-item">#}
                        {#                    <a class="nav-link" href="{{ category.url }}">{{ category.name }}</a>#}
                        {#                </li>#}
                        {#            {% endfor %}#}
                        {#        </ul>#}
                        {#    </div>#}
                        {#</div>#}
                        <div class="col-12 block-header-menu">
                            <nav class="navbar navbar-expand-lg navbar-light px-0 p-md-0 bestme-block-header-menu">
                                <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarMainMenu">
                                    <ul class="nav justify-content-center w-100">
                                        {% for idx, m in main_menu %}
                                            {% set is_active_menu_item = result_active_menu == m.url %}
                                            {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                                <li class="nav-item">
                                                    {# one level #}
                                                    <a class="nav-link  {{ is_active_menu_item ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                                </li>
                                            {% else %}
                                                <li class="nav-item has-child">
                                                    {# two levels #}
                                                    <a href="{{ m.url }}" class="nav-link {{ is_active_menu_item ? 'active' : '' }}">{{ m.text }}<span class="toggle"></span></a>
                                                    <ul class="nav child-nav">
                                                        {% for it in m.items %}
                                                            {% if it.items is defined and it.items|length > 0 %}
                                                                <li class="nav-item has-child">
                                                                    <a href="{{ it.url }}">{{ it.text }}<span class="toggle"></span></a>
                                                                    <ul class="nav child-nav">
                                                                        {% for it3 in it.items %}
                                                                            <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% else %}
                                                                <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div> <!-- End row -->
                </div> <!-- End oontainer -->
            </div> <!-- End main-menu-wrapper -->

        </div> <!-- End fix content -->
    </header> <!-- End header -->