{{ header }}
<br/>
<div class="block-404">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="header-font">Không tìm thấy trang</h1>
        <p class="header-font">Có vẻ như trang bạn muốn truy cập không tồn tại. Vui lòng tìm kiếm nội dung khác.</p>
        <form action="{{ urlserach }}">
          <div class="form-group">
            <input type="text" name="search" id="" class="form-control" placeholder="Nhập nội dung tìm kiếm" aria-describedby="helpId">
            <br>
            <button style="border: 1px solid #ccc;" type="submit" class="btn btn-submit main-color header-font">{{ btn_submit }}</button>
            <input type="hidden" name="route" value="common/shop">
          </div>
        </form>
        <a class="class=" header-font="" href="{{ urlserach }}">Đi đến trang danh sách Sản phẩm</a>
      </div>
    </div>
  </div>
</div>
<br/>
{{ footer }}
