{{ header }}

<section class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb['active'] is defined  %}
                <li>{{ breadcrumb.text }}</li>
            {% else %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

<div class="product-teaser-fix display-none">
    <div class="container">
        <div class="d-flex">
            <span class="font-weight-500 align-self-center">
                {{ product['name'] }} -
                <span class="second-color">
                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                        {% if product['max_price_version'] is null %}
                            {{ product['compare_price_master'] == 0 ? '' : ' - '  ~ product['compare_price_master'] }}
                        {% endif %}
                    {% else %}
                        {% if product['max_price_version'] is null %}
                            - {{ product['price_master'] }}
                        {% endif %}
                    {% endif %}
                </span>
            </span>
            <div class="ml-auto">
                {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                {% else %}
                    <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 second-color-hover border-light"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>
                    <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg bg-primary text-white border-0">Mua ngay</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="block-pages-productdetail">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="gallery">
                    <div class="owl-1">
                        {% if product_images is not empty %}
                            {% for image in product_images %}
                                <div class="img"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="img"><img class="img-fluid" src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>

                    <div class="owl-2">
                        {% if product_images is not empty %}
                            {% for image in product_images %}
                                <div class="thumb"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="thumb"><img class="img-fluid" src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <article>
                    <div id="block-detail-product" class="block-detail">
                        <h1 class="product-name header-font">{{ product['name'] }}</h1>
                        <div class="flex-box">
                            {# TODO remove style when had star #}
                            <div class="block-status mb-4" style="margin-left: 0px;">
                                Tình trạng:
                                {% if product['product_is_stock'] %}
                                    <span>Còn hàng</span>
                                {% else %}
                                    <span>Hết hàng</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="price-wrap">
                            {% if product['is_contact_for_price'] %}
                                <div class="block-custom-change d-inline-block">
                                    <div class="form-action">
                                        <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy font-weight-500 m-0 align-content-center" style="display: grid">
                                            {{ contact }}
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                    {% if product['max_price_version'] is null %}
                                        <span class="price-new">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                    {% else %}
                                        <span class="price-new">
                                            {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% else %}
                                {% if product['max_price_version'] is null %}
                                     <span class="price-new">{{ product['price_master'] | replace({'VND': 'đ'}) }}</span>
                                {% else %}
                                    <span class="price-new">
                                        {{ product['min_price_version'] | replace({'VND': 'đ'}) }}
                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                            ~ {{ product['max_price_version'] | replace({'VND': 'đ'}) }}
                                        {% endif %}
                                    </span>
                                {% endif %}
                                {% if product['max_compare_price_version'] is null %}
                                    <span class="price-old">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                {% else %}
                                    <span class="price-old">
                                        {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                            ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                        {% endif %}
                                    </span>
                                {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="desc ckeditor-content">
                            {{ product['sub_description']|html_entity_decode }}
                        </div>
                        <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">

                            {% if attributes is not empty %}
                                {% for attribute in attributes %}
                                    <div class="change-item" style="width: 100%">
                                        <div class="change-name">{{ attribute['attribute_name'] }}:</div>
                                        <div class="form-check pl-0">
                                            {% for key,attribute_text in attribute['attribute_text'] %}
                                                <label class="form-check-label">
                                                    <input class="form-check-input" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id=""
                                                           value="{{ attribute_text }}"> <span>{{ attribute_text }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                            <div class="form-action show-on-pc" {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>
                                {% if is_on_mobile != 1 %}
                                    <div class="quantity">
                                        <input type="number" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" min="1" max="9999" name="quantity" step="1" value="1">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up" style="cursor: pointer;">+</div>
                                            <div class="quantity-button quantity-down" style="cursor: pointer;">-</div>
                                        </div>
                                    </div>
                                {% endif %}

                                <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-addcart header-font" onclick="cart.add('{{ product['product_id'] }}')">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M0.625 0.625H2.625V10.625H15.125" stroke="#3F4755" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M3.625 15.625C4.45343 15.625 5.125 14.9534 5.125 14.125C5.125 13.2966 4.45343 12.625 3.625 12.625C2.79657 12.625 2.125 13.2966 2.125 14.125C2.125 14.9534 2.79657 15.625 3.625 15.625Z" stroke="#3F4755" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M14.125 15.625C14.9534 15.625 15.625 14.9534 15.625 14.125C15.625 13.2966 14.9534 12.625 14.125 12.625C13.2966 12.625 12.625 13.2966 12.625 14.125C12.625 14.9534 13.2966 15.625 14.125 15.625Z" stroke="#3F4755" stroke-miterlimit="10" stroke-linecap="square"/>
                                            <path d="M2.625 2.625H14.125L12.625 8.625H2.625" stroke="#3F4755" stroke-miterlimit="10" stroke-linecap="square"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="16" height="16" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Thêm vào giỏ hàng
                                </button>
                                <div><button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-buy header-font" style="width: 100%;" > Mua ngay</button></div>
                            </div>

                            {# only on mobile #}
                            {% if is_on_mobile == 1 %}
                                <div class="show-on-mobile buy-now-mobile row w-100 d-flex" {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>
                                    <div class="col-2 number-quantity pl-0">
                                        <input pattern="[0-9]*" type="number" oninput="this.setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                               required name="quantity" min="1" max="9999" step="1" value="1"
                                               class="text-center w-100">
                                    </div>
                                    <div class="col-6 pl-0 pr-0">
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                                onclick="cart.add('{{ product['product_id'] }}') ">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-buy {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                                >
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            {% endif %}

                            {# end only on mobile #}
                        </form>
                        <div class="block-category-type">
                            <span>Loại sản phẩm: </span>
                            {% if categories is not empty %}
                                {% for category in categories %}
                                    <a href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="block-category-type">
                            <span>Tags:</span>
                            {% if tags is not empty %}
                                {% for tag in tags %}
                                    <a href="javascript:void(0)">{{ tag['name'] }}</a>{% if tags|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="block-category-type">
                            <span>Chia sẻ: </span>
                            <div class="social">
                                <ul>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                             viewBox="0 0 19 19" fill="none">
                                            <path
                                                    d="M9.5 7.6V11.4H14.8751C14.0904 13.6116 11.9776 15.2 9.5 15.2C6.3574 15.2 3.8 12.6426 3.8 9.5C3.8 6.3574 6.3574 3.8 9.5 3.8C10.8623 3.8 12.1733 4.2883 13.1917 5.1756L15.6883 2.3104C13.9783 0.8208 11.7819 0 9.5 0C4.2617 0 0 4.2617 0 9.5C0 14.7383 4.2617 19 9.5 19C14.7383 19 19 14.7383 19 9.5V7.6H9.5Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18"
                                             viewBox="0 0 10 18" fill="none">
                                            <path
                                                    d="M9.62343 0.0037452L7.22488 0C4.5302 0 2.78878 1.73871 2.78878 4.42982V6.47227H0.377148C0.168755 6.47227 0 6.63668 0 6.83949V9.79876C0 10.0016 0.168947 10.1658 0.377148 10.1658H2.78878V17.633C2.78878 17.8358 2.95753 18 3.16593 18H6.31242C6.52081 18 6.68957 17.8356 6.68957 17.633V10.1658H9.50932C9.71772 10.1658 9.88647 10.0016 9.88647 9.79876L9.88763 6.83949C9.88763 6.74211 9.84779 6.64886 9.77718 6.57994C9.70656 6.51103 9.61034 6.47227 9.51029 6.47227H6.68957V4.74086C6.68957 3.90868 6.89334 3.48622 8.00727 3.48622L9.62304 3.48566C9.83125 3.48566 10 3.32124 10 3.11863V0.370775C10 0.168347 9.83144 0.00411972 9.62343 0.0037452Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19"
                                             viewBox="0 0 23 19" fill="none">
                                            <path
                                                    d="M23 2.248C22.1535 2.62948 21.2452 2.88819 20.2908 3.00369C21.2653 2.41024 22.0112 1.46896 22.3647 0.350785C21.4507 0.900354 20.4417 1.29941 19.3666 1.51574C18.5057 0.58175 17.2812 0 15.923 0C13.3173 0 11.2046 2.14863 11.2046 4.79713C11.2046 5.17276 11.2463 5.53964 11.3268 5.89046C7.40601 5.69019 3.92936 3.77983 1.60249 0.876963C1.19574 1.58442 0.964348 2.40875 0.964348 3.2887C0.964348 4.95353 1.79795 6.42249 3.06273 7.28191C2.28948 7.25561 1.56224 7.03929 0.925564 6.67971V6.73964C0.925564 9.06366 2.55252 11.0033 4.70978 11.4447C4.31454 11.5529 3.89775 11.6128 3.46658 11.6128C3.1619 11.6128 2.86726 11.5821 2.57837 11.5236C3.17912 13.4311 4.92107 14.8182 6.98495 14.8562C5.37092 16.1425 3.33579 16.9069 1.12535 16.9069C0.744495 16.9069 0.369354 16.8835 0 16.8411C2.08831 18.2049 4.56754 19 7.23216 19C15.9116 19 20.6559 11.6888 20.6559 5.34819L20.6401 4.727C21.5671 4.05459 22.369 3.20977 23 2.248Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Comment -->
        <div class="block-description">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <p class="product-detail-title header-color">Chi tiết sản phẩm</p>
                {#<li class="nav-item">#}
                {#    <a class="nav-link header-font active" id="home-tab" data-toggle="tab" href="#home" role="tab"#}
                {#       aria-controls="home" aria-selected="true">Chi tiết</a>#}
                {#</li>#}

                {#<li class="nav-item">#}
                {#<a class="nav-link header-font active" id="profile-tab" data-toggle="tab" href="#profile"#}
                {#role="tab" aria-controls="profile" aria-selected="false">Đánh giá (2)</a>#}
                {#</li>#}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ckeditor-content" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{ product['description']|html_entity_decode }}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="block-comment">
                        <div class="comment-list">
                            <!-- Comment item -->
                            <div class="comment-item flex-display">
                                <div class="user-avatar">
                                    <div class="thumb">
                                        <img src="images/user-thumb.png" alt="">
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <div class="flex-display">
                                        <div class="user-infor">
                                            <div class="rated">
                                                <ul class="text-color-hover">
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z"
                                                                    fill="white" stroke="#949494" />
                                                        </svg>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6 class="name"><span>LƯƠNG VIỆT DŨNG </span> - <span
                                                        class="date">06/04/2019</span></h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem,
                                        quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies
                                        massa massa. Fusce aliquam, purus eget sagittis vulputate.
                                    </div>
                                </div>
                            </div>
                            <!-- /.Comment item -->
                            <!-- Comment item -->
                            <div class="comment-item flex-display">
                                <div class="user-avatar">
                                    <div class="thumb">
                                        <img src="images/user-thumb.png" alt="">
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <div class="flex-display">
                                        <div class="user-infor">
                                            <div class="rated">
                                                <ul class="text-color-hover">
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z"
                                                                    fill="#EC006C" />
                                                        </svg>
                                                    </li>
                                                    <li>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                             height="15" viewBox="0 0 16 15" fill="none">
                                                            <path
                                                                    d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z"
                                                                    fill="white" stroke="#949494" />
                                                        </svg>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6 class="name"><span>LƯƠNG VIỆT DŨNG </span> - <span
                                                        class="date">06/04/2019</span></h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem,
                                        quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies
                                        massa massa. Fusce aliquam, purus eget sagittis vulputate.
                                    </div>
                                </div>
                            </div>
                            <!-- /.Comment item -->
                        </div>
                        <h4 class="title-block">
                            <span>thêm đánh giá</span>
                        </h4>
                        <div class="block-form-rating">
                            <form action="">
                                <div class="form-group-rating">
                                    <label class="title" for="">Xếp hạng</label>
                                    <div class="rating">
                                        <div class="form-group">
                                            <input class="star star-5" id="star-5q" type="radio" name="star" />
                                            <label class="star star-5" for="star-5q"></label>
                                            <input class="star star-4" id="star-4q" type="radio" name="star" />
                                            <label class="star star-4" for="star-4q"></label>
                                            <input class="star star-3" id="star-3q" type="radio" name="star" />
                                            <label class="star star-3" for="star-3q"></label>
                                            <input class="star star-2" id="star-2q" type="radio" name="star" />
                                            <label class="star star-2" for="star-2q"></label>
                                            <input class="star star-1" id="star-1q" type="radio" name="star" />
                                            <label class="star star-1" for="star-1q"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-rating">
                                    <label class="title" for="">Bình luận</label>
                                    <div class="col-group">
                                        <input type="text" name="" id="" class="form-control"
                                               placeholder="Họ và tên*" aria-describedby="helpId">
                                        <input type="text" name="" id="" class="form-control"
                                               placeholder="Số điện thoại*" aria-describedby="helpId">
                                        <input type="text" name="" id="" class="form-control"
                                               placeholder="Địa chỉ email" aria-describedby="helpId">
                                        <textarea class="item1 form-control" placeholder="Nội dung bình luận*"
                                                  name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group-rating">
                                    <label class="title" style="visibility: hidden;" for="">Send</label>
                                    <button type="submit" class="btn btn-submit header-font">Gửi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Comment -->
        {% if related_product_visible %}

            <div class="product-detail-related-product block-related swiper-container mb-5 bestme-block-product-related-product">
                <div class="header-related">
                    <h2 class="header-font">{{ related_product_title }}</h2>
                </div>
                <div class="swiper-wrapper">
                    <div class="owl-carousel owl-slide owl-related" data-number-item="{{ grid }}"
                         data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                        {% for product in related_products %}
                        <div class="item">
                            <div class="item-product">
                                <h3 class="ttl-product">
                                    <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 80 ? product.name|slice(0, 80) ~ '...' : product.name }}</a>
                                </h3>
                                <div class="sale-over">
                                    {% if product['percent_sale'] is not empty %}
                                    <span class="sale">{{ product['percent_sale'] }}</span>
                                    {% endif %}
                                    {% if product['product_is_stock'] == false %}
                                        <span class="over">hết</span>
                                    {% endif %}
                                </div>
                                <div class="img-pro">
                                    <a href="{{ product['href'] }}">
                                        <img src="{{ product['thumb'] }}" alt="">
                                    </a>
                                </div>
                                <div class="custom-price">
                                {% if product['is_contact_for_price'] %}
                                    <span class="price-new">
                                        <span class="price">{{ contact }}</span>
                                    </span>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        <div class="price-new">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="price">{{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="price-new">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">{{ product['price_master'] | replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="price">{{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="price-old">
                                            {% if product['max_compare_price_version'] is null %}
                                                <span class="price">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="price">{{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                </div>
                                <div class="cart-pro">
                                    <form action="" class="add-to-cart">
                                        <a class="btn btn-add" href="{{ product['href'] }}" style="line-height: 20px;">Xem chi tiết</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
</div>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>
<!-------------------- /.PAGE ELEMENT ---------------------->
{{ footer }}
<script>
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
        } else {
            $('#add-to-cart').submit();
        }
    });
    // update current order
    updateCurrentOrder();

    jQuery('#add-to-cart button, .product-teaser-fix button.button_buy').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.count .number span').html(json['total_product_cart']);
                    jQuery('.count .price').html(json['total_into_money']);
                    jQuery('.cart-mobile .number').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>
<style>
    .button_buy:hover{
        color: #6c757d!important;
    }
    .item-product .ttl-product {
        height: 36px;
        overflow: hidden;
    }
    .item-product .custom-price {
        height: 90px;
        overflow: hidden;
    }
    .form-check-label {
        margin-bottom: 5px;
    }
</style>