{{ header }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active main-color">Đăng ký</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->
<!-- ELM PAGES -->
<div class="block-user-login">
    <div class="container">
        {% if error %}
            <div class="col-12 col-md-12">
                <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                    <i class="fa fa-exclamation-circle"></i> {{ error }}
                </div>
            </div>
        {% endif %}
        <div class="user-login">
            <ul class="list-login pl0">
                <li>
                    <h1>Đăng ký</h1>
                </li>
                <li>
                    <a href="{{ action_login }}">Đăng nhập</a>
                </li>
            </ul>
            <div class="form-login mw-715">
                <form id="register-form" action="{{ action_register }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="input-item p-2">
                            <input type="text" name="fullname" maxlength="30" required class="form-control mr-3"
                                   placeholder="Họ tên"
                                   aria-describedby="helpId">
                        </div>
                        <div class="input-item p-2">
                            <input type="text" name="telephone" maxlength="15" class="form-control"
                                   placeholder="Số điện thoại"
                                   aria-describedby="helpId">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-item p-2">
                            <input type="text" name="email" required maxlength="128" class="form-control mr-3"
                                   placeholder="Email"
                                   aria-describedby="helpId">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-item p-2">
                            <input type="password" required name="password" class="form-control mr-3" placeholder="Mật khẩu"
                               aria-describedby="helpId">
                        </div>
                        <div class="input-item p-2">
                            <input type="password" required name="confirm_password" class="form-control" placeholder="Nhập lại mật khẩu"
                               aria-describedby="helpId">
                        </div>
                    </div>
                    <div class="form-group flex-sp">
                        <label class="custom-check main-font">
                            <input type="hidden" name="policies" value="0">
                            <input class="input" type="radio" name="policies" value="1">
                            <p class="fz12"> Tôi đồng ý với các <a href="#">điều khoản và chính sách</a> của công
                                ty!</p>
                            <span class="checkmark"></span>
                        </label>
                        <button type="submit" class="btn btn-submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

<script type="text/javascript">
    $(".btn-showpass").click(function() {
        var input = $('#input-pass');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
    //validate bootstrap
    $("#register-form").bootstrapValidator({
        group:".input-item",
        container:null,
        excluded: ':disabled',
        fields: {
            'telephone': {
                validators: {
                    notEmpty: {
                        message: "Vui lòng điền vào trường này."
                    },
                    stringLength: {
                        max: 16,
                        message: 'Số ký tự nhiều nhất là 15'
                    },
                    callback: {
                        message: 'Không đúng định dạng',
                        callback: function (value, validator) {
                            var pattern = /^0[0-9-+]+$|^84[0-9-+]+$|^\+84[0-9-+]+$/;
                            if (value.length >0 && !pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'email': {
                validators: {
                    notEmpty: {
                        message: "Vui lòng điền vào trường này."
                    },
                    callback: {
                        message: 'Không đúng định dạng',
                        callback: function (value, validator) {
                            var pattern = /^(([^<>()[\]\\_.,;:!#$%^&*\s@\"]+(\.[^<>()[\]\\.,;:_!#$%^&*\s@\"]+)*)+(\"_\")*)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                            if (value.length >0 && !pattern.test($.trim(value))) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'lastname': {
                validators: {
                    notEmpty: {
                        message: "Vui lòng điền vào trường này."
                    },
                    stringLength: {
                        max: 30,
                        message: 'Số ký tự nhiều nhất là 30'
                    },
                    callback: {
                        message: 'Chỉ điền số và chữ',
                        callback: function (value, validator) {
                            var pattern = /[!@#$%\^&*/?<>,.;:'"{}`|[)(+=._-]+$/;
                            if (value.length >0 && pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'firstname': {
                validators: {
                    notEmpty: {
                        message: "Vui lòng điền vào trường này."
                    },
                    stringLength: {
                        max: 30,
                        message: 'Số ký tự nhiều nhất là 30'
                    },
                    callback: {
                        message: 'Chỉ điền số và chữ',
                        callback: function (value, validator) {
                            var pattern = /[!@#$%\^&*/?<>,.;:'"{}`|[)(+=._-]+$/;
                            if (value.length >0 && pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'password': {
                validators: {
                    notEmpty: {
                        message: "Vui lòng điền vào trường này."
                    }
                }
            },
            'confirm_password': {
                validators: {
                    notEmpty: {
                        message: "Vui lòng điền vào trường này."
                    }
                }
            }
        }
    }).on('valid.bs.validator', function (e, data) {

    });
</script>

<style>
    .field-icon {
        cursor: pointer;
        right: 7px;
        position: absolute;
        z-index: 2;
    }
    .input-item{
        width: 100%;
    }
    .help-block{
        color: #dc3545!important
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>
{{ footer }}