{% if oldest_blog[0] is defined and oldest_blog[0]['type'] == 'image' %}
    {% set blog = oldest_blog[0] %}
    <section class="pb-md-5 pt-md-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto text-start text-lg-center">
                    <div class="col-lg-8 mx-auto px-0">
                        <div class="">
{#                            <p class="sub-title mb-3">GIỚI THIỆU</p>#}
                            <h2 class="mb-lg-4 mb-1">{{ blog['title'] }}</h2>
                            <div class="line-percent left lg-center pt-3 mb-4"></div>
                        </div>
                        <div class="text-secondary pt-2">
                            <p class="mb-3">{{ blog['short_content']|html_entity_decode }}</p>
                            <a href="{{ blog.link }}?about-us" class="btn btn-primary rounded-20 my-lg-4 my-3">Xem thêm</a>
                        </div>
                    </div>
                    <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-10 mt-3">
                </div>
            </div>
        </div>
    </section>
    {% endif %}
<!-- End about us -->