<section class="py-lg-5 py-4 container text-lg-center container">
    <div class="full-width-desktop">
        <div class="mb-lg-4 mb-3">
            {# <p class="sub-title mb-3">DỰ ÁN</p>#}
            <h2 class="mb-lg-4 mb-1 fz-24 fz-lg-36">DỰ ÁN TIÊU BIỂU</h2>
            <div class="line-percent left lg-center pt-3"></div>
        </div>
        <div class="row">
            {% for k, blog in blogs_projects if (k < 8) %}
            <div class="col-6 col-lg-3 my-lg-3 my-2 project-item-home">
                <div class="bg-blue-cs"></div>
                <a href="{{ blog['link'] }}?type=du-an">
                    <img src="{{ blog['image'] }}" class="rounded-10 w-100" alt="{{ blog['alt'] }}">
                </a>
                <a class="project-title-home" href="{{ blog['link'] }}?type=du-an">{{ blog['title'] }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="/bai-viet?type=du-an" class="btn btn-primary mt-4 rounded-20">Xem thêm</a>
        </div>
    </div>
</section>
<!-- End project -->