<section class="py-lg-5 py-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 text-start">
                <div class="mb-lg-5 mb-4 pe-lg-5 pt-lg-4">
{#                    <p class="sub-title mb-3">DỊCH VỤ</p>#}
                    <h2 class="mb-lg-4 mb-1 pe-lg-4 fz-24 fz-lg-36">DỊCH VỤ</h2>
                    <div class="line-percent left pt-3"></div>
                </div>
                <ul class="style-dark mt-2 bestme-block-content-customize">
                    {% if display_customizes and display_customizes[4] %}
                        {% for key, contents in display_customizes if key > 3 %}
                            {% if contents['type'] == 'fixed' %}
                                <li>
                                    <p class="fz-lg-22 fz-20 mb-lg-3 mb-2 fw-500 text-primary">{{ contents['content']['title'] }}</p>
                                    {{ contents['content']['description'] }}
                                </li>
                            {% else %}
                                <div class="d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-12 col-lg-5 d-flex">
                {% if oldest_blog[1] is defined %}
                {% set blog = oldest_blog[1] %}
                {% if 'video' == blog['type'] %}
                    <iframe class="latest-blog-video" src="{{ blog['video_url']|replace({'watch?v=': 'embed/'}) }}"></iframe>
                    {% elseif false == blog['use_default_image'] %}
                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}" class="rounded-10 mt-auto">
                    {% endif %}
                {% endif %}
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>
<!-- End service -->