<section class="text-center mb-md-5">
    <div class="pt-5">
        <div class="container mt-lg-2 mb-lg-3">
            <div class="row">
                <div class="col-12 col-lg-6 mx-auto text-start text-lg-center">
                    {# <p class="sub-title mb-3">LÝ DO</p>#}
                    <h2 class="mb-lg-4 mb-1 fz-24 fz-lg-36">LÝ DO CHỌN CHÚNG TÔI</h2>
                    <div class="line-percent lg-center left pt-3"></div>
                </div>
            </div>
            <div class="row why-choose-us text-start bestme-block-content-customize">
                {% if display_customizes %}
                    {% for key, contents in display_customizes if key < 4 %}
                        <div class="col-12 col-lg-3 item-col">
                            {% if contents['type'] == 'fixed' %}
{#                                <p class="title-num">{{ key+1 }}.</p>#}
                                <p class="title">{{ contents['content']['title'] }}</p>
                                <p class="content">{{ contents['content']['description'] }}</p>
                            {% else %}
                                <div class="d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div>
</section>
<!-- End why choose -->