@font-face {
    font-family: 'Leftlair-Regular';
    src: url('catalog/view/theme/food_son_chicken/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Leftlair-Bold';
    src: url('catalog/view/theme/food_son_chicken/fonts/helveticaneuebold.ttf');
}
@font-face {
    font-family: 'Leftlair-Medium';
    src: url('catalog/view/theme/food_son_chicken/fonts/helveticaneue.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Leftlair-Light';
    src: url('catalog/view/theme/food_son_chicken/fonts/helveticaneuelight.ttf');
}



