<table class="table table-with-operation staff-list">
  <thead>
  <tr style="background: #F1F4F6;">
    <th class="text-left">{{ text_staff_name }}</th>
    <th class="text-right">{{ text_total_order }}</th>
    <th class="text-right hide-on-xs">{{ text_amount }}</th>
    <th class="text-right hide-on-xs">{{ text_discount }}</th>
    <th class="text-right hide-on-xs">{{ text_shipping_fee }}</th>
    <th class="text-right hide-on-xs">{{ text_return_amount }}</th>
    <th class="text-right">{{ text_revenue }}</th>
  </tr>
  </thead>
  <tbody>
  {% if report_by_staffs %}
    {% for staff in report_by_staffs %}
      <tr>
        <td class="text-left">{{ staff.name }}</td>
        <td class="text-right">{{ staff.count_order }}</td>
        <td class="text-right hide-on-xs">{{ staff.total_amount|number_format(0, ',', '.') ~ ' ₫'}}</td>
        <td class="text-right hide-on-xs">{{ staff.discount|number_format(0, ',', '.') ~ ' ₫'}}</td>
        <td class="text-right hide-on-xs">{{ staff.shipping_fee|number_format(0, ',', '.') ~ ' ₫'}}</td>
        <td class="text-right hide-on-xs">{{ staff.total_return|number_format(0, ',', '.') ~ ' ₫'}}</td>
        <td class="text-right">{{ staff.revenue|number_format(0, ',', '.') ~ ' ₫' }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td class="text-center" colspan="8">{{ text_no_results }}</td>
    </tr>
  {% endif %}
  <tr>
    <td colspan="8" style="border-bottom: none;" class="table-text-result">
      <div class="table-statistic clearfix font-16">
        <span class="float-lg-left text-right">{{ results }}</span>
        <div class="float-lg-right">
          <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
          </nav>
        </div>
      </div>
    </td>
  </tr>
  <tr id="overview">
    <th class="text-left"><div>{{ text_total }}</div></th>
    <th class="text-right"><div>{{ overview.count_order }}</div></th>
    <th class="text-right hide-on-xs"><div>{{ overview.total_amount|number_format(0, ',', '.') ~ ' ₫' }}</div></th>
    <th class="text-right hide-on-xs"><div>{{ overview.discount|number_format(0, ',', '.') ~ ' ₫' }}</div></th>
    <th class="text-right hide-on-xs"><div>{{ overview.shipping_fee|number_format(0, ',', '.') ~ ' ₫' }}</div></th>
    <th class="text-right hide-on-xs"><div>{{ overview.total_return|number_format(0, ',', '.') ~ ' ₫' }}</div></th>
    <th class="text-right"><div>{{ overview.revenue|number_format(0, ',', '.') ~ ' ₫' }}</div></th>
  </tr>
  </tbody>
</table>

<style>
  #overview {
    background: #FFF2EE;
  }
  #overview th {
    border: none;
    padding: 0.75rem 0.25rem;
  }
  .table thead th{
    padding: 0.75rem 0.25rem;
  }

  .staff-list {
    display: table;
  }

  @media only screen and (max-width: 798px) {
    .hide-on-xs {
      display: none;
    }

    .table-append-box-wrap {
      margin-left: -15px;
      margin-right: -15px;
    }

    .main-content .box-wrap .table-append-box-content {
      padding: 0;
    }



    .table thead th, .table td, tbody th {
      padding: 0.75rem 0.5rem;
      font-size: 14px
    }
    .table-statistic {
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #61616126, transparent);
      padding: .75em .5em;
    }

    .table tr td.table-text-result {
      padding: 0
    }

    #overview th {
      /*padding: 0;*/
      font-size: 14px;
      padding: 0.75rem 0;
      background: white;
    }

    #overview th div {
      background: #FFF2EE;
      padding: 0.75rem .5rem;
    }
  }

</style>