{{ custom_header }}
<div class="page-wrapper">
    <div class="box-head"></div>
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content" style="padding-top: 85px;">
                <nav aria-label="breadcrumb" class="hide-on-mobile">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if '' == breadcrumb.href or loop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}" data-toggle="modal"
                                                               data-target="#{{ breadcrumb.id }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ text_sales_report_by_staff }}
                    </h1>
                </div>
                <div class="sub-head" style="padding-top: 0;">
                    <a href="#" class="text-pink font-12 font-weight-400 hidden-sm" id="export-xls"><i
                                class="icon icon-export mr-2 font-18 bg-pink"></i>{{ text_export }}</a>
                    <div class="filter-box mb-3">
                        <div class="form-filter-chart">
                            <form  action="" method="post" class="mb-0">
                                <div id="reportrange-report">
                                    <span></span>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div class="all-store">
                                <select name="store_id" class="select2" id="select_store">
                                    <option value="">{{ text_all_stores }}</option>
                                    {% if list_store|length %}
                                        {% for store in list_store %}#}
                                            <option value="{{ store.store_id }}">{{ store.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <i class="fa fa-caret-down down-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap table-append-box-wrap">
                    <div class="box-content table-append-box-content">
                        <div class="tab-content table-append-tab-content">
                            <div id="report-product-content">
                                {#                                {% include 'report/product/report_by_product_append.twig' %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="image-loading"></div>
</div>
<script type="text/javascript">
    // jQuery(document).ready(function ($) {
    /* all functions here */
    function showSelectedDateRangeLabel(start, end, label) {
        const dateFormat = (label === '{{ this_month }}' || label === '{{ last_month }}')
            ? 'MM/YYYY'
            : 'DD/MM/YYYY';

        if (label === '{{ this_month }}' || label === '{{ today }}' || label === '{{ yesterday }}' || label === '{{ last_month }}') {
            $('#reportrange-report').html('<i class="fa fa-calendar"></i>&nbsp; &nbsp;' + label + ': ' + start.format(dateFormat) + '<i class="fa fa-caret-down" style="float: right;"></i>');
        } else {
            $('#reportrange-report').html('<i class="fa fa-calendar"></i>&nbsp; &nbsp;' + label + ': ' + start.format(dateFormat) + ' - ' + end.format(dateFormat) + '<i class="fa fa-caret-down" style="float: right;"></i>');
        }

        var store_id = $('#select_store').val();
        _start = start;
        _end = end;
        filterReport(start.format('YYYY/MM/DD'), end.format('YYYY/MM/DD'), store_id);
    }

    /* daterange picker code */
    moment.lang('vi', {
        week: {
            dow: 1 // Monday is the first day of the week
        }
    });

    // default daterange picker: this_month
    let _start = moment().startOf('month');
    let _end = moment();

    $('#reportrange-report').daterangepicker({
        opens: 'left',
        // alwaysShowCalendars: true,
        maxDate: moment(),
        // autoApply: true,
        startDate: _start,
        endDate: _end,
        startOfWeek: 'monday',
        firstDay: 1,
        locale: {
            format: "DD/MM/YYYY",
            separator: " - ",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        },
        ranges: {
            '{{ this_month }}': [moment().startOf('month'), _end],
            '{{ last_month }}': [moment().subtract(1, 'months').startOf('month'), moment().subtract(1, 'months').endOf('month')],
            '{{ today }}': [moment(), moment()],
            '{{ yesterday }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '{{ last_week }}': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
            '{{ this_week }}': [moment().startOf('week'), _end],
        }
    }, function (start, end, label) {
        const time_end = end.format('YYYY-MM-DD HH:mm:ss');
        showSelectedDateRangeLabel(start, end, label);
    });

    // show default label: this_month
    const label = '{{ this_month }}';
    showSelectedDateRangeLabel(_start, _end, label);


    //filter by store
    $("#select_store").change(function () {
        filterReport(_start.format('YYYY/MM/DD'), _end.format('YYYY/MM/DD'), $(this).val());
    });

    function filterReport(start, end, store_id) {
        $.ajax({
            type: 'GET',
            data: {'start': start, 'end': end, 'store_id': store_id},
            url: "{{ action_get_report_table | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}",
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (content) {
                $('#image-loading').hide();
                $('#report-product-content').html(content);
            }
        });
    }


    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
        }
    });

    //filter
    function filter(page = 1) {
        var start = _start.format('YYYY/MM/DD');
        var end = _end.format('YYYY/MM/DD');

        var url = '{{ action_get_report_table | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                page: page,
                filter_data: true,
                start: start,
                end: end
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (content) {
                $('#report-product-content').html(content);
                $('#image-loading').hide();
            }
        });
    }

    //export xls
    $('#export-xls').click(function (e) {
        e.preventDefault();
        var start = _start.format('YYYY/MM/DD');
        var end = _end.format('YYYY/MM/DD');
        var store_id = $('#select_store').val();
        // filterReport(start, end, store_id);
        var url = '{{ action_export | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                export_xls: true,
                start: start,
                end: end,
                store_id: store_id,
            },
            cache: false,
            beforeSend: function () {
            },
            success: async function (json) {
                $('#image-loading').hide();
                if (json['error']) {
                    alert("Error !!");
                }

                if (json['success']) {
                    alert(json['success']);
                }

                if (json.indexOf('data:application/vnd.ms-excel') < 0) {
                    alert('{{ export_file_error }}');
                    return;
                }

                var $a = $("<a>");
                $a.attr("href", json);
                $("body").append($a);
                $a.attr("download", "{{ export_file_name }}.xls");
                $a[0].click();
                $a.remove();

                // window.open('index.php?route=catalog/product&user_token={{ user_token }}','_blank' );
            },
        });
    });
    // });

</script>
{{ footer }}
<style>
    .main-content .sub-head {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .all-store select {
        background: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        padding-right: 40px;
        position: relative;
    }

    .filter-date-box {
        margin-right: 10px;
    }

    #reportrange-report {
        padding-bottom: 4px;
    }

    .all-store select{
        background: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        padding-right: 40px;
        position: relative;
    }
    .table thead th {
        padding: 0.75rem 0.25rem !important;
    }
    #total-total {
        background: #FFF2EE;
    }
    #total-total th {
        border: none;
    }
    #pagination td {
        border-bottom: none !important;
    }
    .text-bestme-color {
        color: #ED592A;
    }
    .all-store {
        width: 200px;
    }
    .all-store .select2-container--bootstrap4 .select2-selection--single {
        height: 32px !important;
        background: #fff;
        border-radius: unset !important;
    }
    .all-store .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
    }
    .all-store .select2-results__options {
        max-height: 200px;
        overflow: auto;
    }
    .all-store {
        position: relative;
    }
    .all-store .down-icon {
        position: absolute;
        top: 10px;
        right: 15px;
    }
    @media screen and (max-width: 768px) {
        #select_store, .all-store {
            width: 100%;
        }
    }
</style>

