{{ header }}

<section class="bestme-top-content page-detail ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ home }}" class="bestme-breadcrumb__link">Trang chủ</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="javascript:;" class="bestme-breadcrumb__link active ">Đăng ký</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title register">Đăng ký </h2>
                    <span class="sub-title">Đã có tài khoản? <a href="{{ urllogin }}" class="text-primary font-weight-bold">Đăng nhập</a></span>
                </div>
            </div>
            <div class="col-12 offset-lg-4 col-lg-4">
                <div class="bestme-form">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data"class="form-register mt-3">
                        <div class="errors-list text-danger">
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                                    <i class="fa fa-exclamation-circle"></i> {{ error }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="bestme-form__item">
                            <label>Họ tên</label>
                            <input type="text" name="fullname" value="{{ fullname }}" class="bestme-input bestme-input--default" placeholder="Họ tên" required>
                        </div>
                        <div class="bestme-form__item">
                            <label>Email</label>
                            <input type="text" name="email" value="{{ email }}" class="bestme-input bestme-input--default" placeholder="Nhập email">
                        </div>
                        <div class="bestme-form__item ">
                            <label>Mật khẩu</label>
                            <div class="bestme-form__item__password">
                                <input type="password" name="password" class="bestme-input bestme-input--default" placeholder="Nhập mật khẩu">
                                <i class="show-password active ti-eye bestme-eye active"></i>
                            </div>
                        </div>
                        <button type="submit" class="bestme-btn bestme-btn--border w-100 mt-5 bestme-text--uppercase">Đăng ký</button>
                    </form>
                </div>
                    {#<div class="register-more">#}
                        {#<p class="title">#}
                            {#hoặc#}
                        {#</p>#}
                        {#<div class="list-more-register">#}
                            {#<span>Đăng ký với</span>#}
                            {#<ul class="d-flex">#}
                                {#<li>#}
                                    {#<a href="#" class="bestme-btn--social facebook "><i class="ti-facebook"></i></a>#}
                                {#</li>#}
                                {#<li>#}
                                    {#<a href="#" class="bestme-btn--social google "><i class="ti-google"></i></a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<p class="mt-5">Bằng việc bấm vào nút đăng ký, bạn đã đồng ý với <a href="#" class="bestme-text--green">chính sách bảo mật</a> của cửa hàng</p>#}
                    {#</div>#}
            </div>
        </div>
    </div>
</section>



{{ footer }}