{{ header }}

{% if product %}
<form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">
    <header class="bestme-header bestme-hidden-md bestme-hidden" id="product-detail">
        {# float and sticky header contains add-to-cart and buy-now button #}
        <div class="bestme-header__menu product-detail">
            <div class="bestme-header__logo">
                <a href="{{ home }}"><img src="{{ logo }}" alt="Logo"></a>
            </div>
            <div class="d-flex flex-row w-100 h-100 bestme-flex-1 bestme-relative">
                <div class="d-flex flex-row w-100 h-100">
                    <div class="bestme-list-action" style="width: 100%;">
                        <div class="bestme-block-title-header-scroll bestme-hidden" style="z-index: 9999;">
                            <h2 class="title">
                                {{ product['name'] }}
                                {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                                {% else %}
                                    &nbsp;-&nbsp;
                                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                        {% if product['max_price_version'] is null %}
                                            <span class="cost-present">{{ product['compare_price_master'] }} </span>
                                        {% else %}
                                            <span class="cost-present">
                                            {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                         </span>
                                        {% endif %}
                                    {% else %}
                                        {% if product['max_price_version'] is null %}
                                            <span class="cost-present">{{ product['price_master'] }} </span>
                                        {% else %}
                                            <span class="cost-present">
                                        {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                     </span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </h2>
                        </div>

                        <div class="bestme-action-title-header-scroll bestme-hidden d-flex
                                    {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} disabled-button {% endif %}" style="z-index: 9999;">
                            <button type="button" class="bestme-btn bestme-btn--primary bestme-text--uppercase mr-lg-3
                                                    {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                    onclick="cart.add('{{ product['product_id'] }}')"
                                    {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}>
                                Thêm vào giỏ
                            </button>
                            <button type="submit"
                                    class="bestme-btn bestme-btn--primary bestme-text--uppercase {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                    {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}>
                                mua hàng ngay
                            </button>
                        </div>

                        {#<ul class="list-action login-register">#}
                            {#{% if logged_in == '' %}#}
                                {#<li class="action-item">#}
                                    {#<a href="{{ login }}" class="action-link">Đăng nhập </a>#}
                                {#</li>#}
                                {#<li class="action-item">#}
                                    {#<a href="{{ register }}" class="action-link">Đăng ký </a>#}
                                {#</li>#}
                            {#{% else %}#}
                                {#<li class="action-item bestme-hidden">#}
                                    {#<a href="{{ login }}" class="action-link">Đăng nhập </a>#}
                                {#</li>#}
                                {#<li class="action-item">#}
                                    {#<a href="javascript:void(0)" class="action-link user-icon" ><i class="ti-user"></i> </a>#}
                                    {#<ul class="list-action-sub list-action-sub-2">#}
                                        {#<li>#}
                                            {#<a href="{{ my_account }}">Tài khoản của tôi </a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="{{ logout }}">Đăng xuất </a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</li>#}
                            {#{% endif %}#}
                        {#</ul>#}

                        <ul class="list-action-only-icon">
                            <a href="{{ href_my_orders }}" class="action-link">
                                <i class="ti-shopping-cart"></i>
                                <span class="number-item-shop {% if total_product_cart > 99 %} over-99 {% endif %}"> {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %} </span>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bestme-menu">
                <div class="bestme-menu-text">
                    <span class="icon-menu"></span>
                    <span class="menu-text">Menu</span>
                </div>

                <div class="list-menu">
                    <!--Sử dụng cho mobile-->
                    <div class="list-action-user-mobile">
                        {% if logged_in == '' %}
                            <ul class="login-register">
                                <li><a href="{{ login }}">Đăng ký</a></li>
                                <li><a href="{{ register }}">Đăng nhập </a></li>
                            </ul>
                        {% else %}
                            <ul class="info-user">
                                <li><a href="{{ my_account }}">Tài khoản của tôi</a></li>
                                <li><a href="{{ logout }}">Đăng xuất </a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <!--End-->
                    <ul class="menu">
                        {% for idx, m in main_menu %}
                            {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                <li class="menu-item {{ result_active_menu == m.url ? 'active' : '' }}">
                                    {# one level #}
                                    <a class="{{ idx == -1 ? 'active' : '' }} menu-link"
                                       href="{{ m.url }}">{{ m.text }}</a>
                                </li>
                            {% else %}
                                <li class="menu-item has-child">
                                    {# two levels #}
                                    <a href="{{ m.url }}" class="menu-link">
                                        {{ m.text }}
                                        <i class="ti-angle-down icon-toogle"></i>
                                    </a>
                                    <ul class="sub-menu" aria-labelledby="navbarFeatureMenu">
                                        {% for it in m.items %}
                                            <li class="sub-menu-item">
                                                <a href="{{ it.url }}" class="sub-menu-link">{{ it.text }}</a>
                                                {% if it.items is defined and it.items|length > 0 %}
                                                    <ul class="sub-menu-child">
                                                        {% for it3 in it.items %}
                                                            <li class="sub-menu-child-item"><a
                                                                        class="sub-menu-child-link"
                                                                        href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        {# end - float and sticky header contains add-to-cart and buy-now buttons #}
    </header>
    {% endif %}

    <section class="bestme-block-detail-product">
        <div class="bestme-block-detail-product--mobile-top">
            {% if product_images is not empty %}
                {% for k,image in product_images %}
                    <img class="img-product-mobile" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                {% endfor %}
            {% else %}
                <img class="img-product-mobile" src="{{ product_empty }}">
            {% endif %}
        </div>

        <div class="bestme-action-top-detail-product">
            <a href="javascript:history.back()" class="bestme-btn bestme-btn--back-product-detail-mobile"><i class="ti-arrow-left"></i></a>
            <a href="/" class="bestme-btn bestme-btn--back-product-detail-mobile ml-4"><i class="ti-home"></i></a>
            <h2 class="title ml-auto">{{ product['name'] }}</h2>
            <button class="bestme-btn bestme-btn--cart-product-detail-mobile ml-auto"><i class="ti-shopping-cart"></i><span
                        class="number-item-shop">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
            </button>
        </div>

        <div class="container">
            <div class="row bestme-product-detail-info">
                <div class="col-12 col-lg-12 col-xl-12 bestme-hidden-md">
                    <ul class="bestme-breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb['active'] is defined %}
                                <li class="bestme-breadcrumb__item">
                                    <span class="bestme-breadcrumb__link active">{{ breadcrumb.text }}</span>
                                </li>
                            {% else %}
                                <li class="bestme-breadcrumb__item">
                                    <a class="bestme-breadcrumb__link"
                                       href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 col-lg-6 col-xl-6 bestme-hidden-md">
                    <div class="bestme-product--image-detail ">
                        <ul class="list-image">
                            {% if product_images is not empty %}
                                {% for k,image in product_images %}
                                    <li class="{% if k == 0 %} active {% endif %}">
                                        <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li data-target="#carouselProDetail" class="mb-2">
                                    <img src="{{ product_empty }}">
                                </li>
                            {% endif %}
                        </ul>
                        <img src=" {{ product['image'] }} " alt="{{ product['name'] }}"
                             class="bestme-magnify-image bestme-product--image-detail--zoom"
                             data-magnify-src="{{ product['image'] }}">
                    </div>
                    <div class="bestme-product--desc-detail ">
                        <h3 class="title">Mô tả chi tiết </h3>
                        <div class="desc ckeditor-content">
                            {{ product['description']|html_entity_decode }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-6">
                    <div class="bestme-product-detail-wrap bestme-product-detail-info">
                        <h2 class="title bestme-hidden-md">
                            {{ product['name'] }}
                            <br/>
                            {% if is_new_product == 1 %}
                                <span class="bestme-tag bestme-tag--primary ">Mới</span>
                            {% endif %}
                            {% if product['product_is_stock'] == true %}
                                <span class="bestme-tag product_is_stock bestme-tag--border-green">Còn hàng</span>
                            {% else %}
                                <span class="bestme-tag product_is_stock bestme-tag--gray ">Hết hàng</span>
                            {% endif %}
                            {% if product['percent_sale'] is not empty %}
                                <span class="bestme-tag percent_sale bestme-tag--green ">{{ product['percent_sale'] }}</span>
                            {% endif %}
                        </h2>
                        <div class="title-mobile">
                            <div class="title-mobile-left">
                                <h1 class="title"> {{ product['name'] }}</h1>
                                <div class="cost-mobile ">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="present">{{ contact }}</span>
                                    {% else %}
                                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="present">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                <span class="present">
                                                    {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% endif %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            {% if product['max_compare_price_version'] is null and product['compare_price_master'] == product['price_master'] %}
                                                <span class="present">{{ product['price_master'] | replace({'VND': 'đ'}) }}</span>
                                            {% else %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="old">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                                {% else %}
                                                    <span class="old">
                                                        {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}

                                                {% if product['max_price_version'] is null %}
                                                    <span class="present">{{ product['price_master'] | replace({'VND': 'đ'}) }}</span>
                                                {% else %}
                                                    <span class="present">
                                                        {{ product['min_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bestme-product-detail-wrap bestme-tag-product-detail-mobile">
                                {% if is_new_product == 1 %}
                                    <span class="bestme-tag bestme-tag--primary">Mới</span>
                                {% endif %}
                                {% if product['product_is_stock'] %}
                                    <span class="bestme-tag product_is_stock bestme-tag--border-green">Còn hàng</span>
                                {% else %}
                                    <span class="bestme-tag product_is_stock bestme-tag--gray ">Hết hàng</span>
                                {% endif %}
                                {% if product['percent_sale'] is not empty %}
                                    <span class="bestme-tag bestme-tag--green percent_sale">{{ product['percent_sale'] }}</span>
                                {% endif %}
                            </div>
                        </div>
                        {#<div class="rate">#}
                        {#<div class="evaluate">#}
                        {#<span class="number-rate">4.0</span>#}
                        {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                        {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                        {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                        {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                        {#<img class="svg img-star " src="images/svg2/off.svg" alt="">#}
                        {#</div>#}
                        {#<span class="number-evaluate">1 lượt đánh giá</span>#}
                        {#</div>#}
                        <div class="cost bestme-hidden-md">
                            {% if product['is_contact_for_price'] %}
                                <span class="present">
                                    <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="bestme-btn bestme-btn--border bestme-btn--pd-hz-xlarge bestme-text--uppercase">
                                        <span>{{ contact }}</span>
                                    </a>
                                </span>
                            {% else %}
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        <p class="present">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</p>
                                    {% else %}
                                        <p class="present">
                                        {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                            {% endif %}
                                    </p>
                                    {% endif %}
                                {% else %}
                                    {% if product['max_compare_price_version'] is null and product['compare_price_master'] == product['price_master'] %}
                                        <p class="present">{{ product['price_master'] | replace({'VND': 'đ'}) }}</p>
                                    {% else %}
                                        {% if product['max_compare_price_version'] is null %}
                                            <p class="old">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</p>
                                        {% else %}
                                            <p class="old">
                                                {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                {% endif %}
                                            </p>
                                        {% endif %}

                                        {% if product['max_price_version'] is null %}
                                            <p class="present">{{ product['price_master'] | replace({'VND': 'đ'}) }}</p>
                                        {% else %}
                                            <p class="present">
                                                {{ product['min_price_version'] | replace({'VND': 'đ'}) }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] | replace({'VND': 'đ'}) }}
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-lg-4 col-xl-4">
                                <div class="bestme-group--count-amount bestme-hidden-md {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                                    <button type="button"
                                            class="bestme-btn bestme-btn--change-amount bestme-btn--primary decrease ">
                                        <i class="ti-minus"></i>
                                    </button>
                                    <input type="number" class="bestme-input bestme-input--number-amount"
                                           name="quantity" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" min="1" max="9999" step="1" value="1">
                                    <button type="button"
                                            class="bestme-btn bestme-btn--change-amount bestme-btn--primary increase"><i
                                                class="ti-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% if product['sub_description'] != '' %}
                            <div class="sort-desc--mobile">
                                <h3 class="title">mô tả ngắn:</h3>
                                <p class="desc ckeditor-content">{{ product['sub_description']|html_entity_decode }}</p>
                            </div>
                        {% endif %}
                        <div class="">
                            <style>
                                .choose-attribute .attr-item input:checked ~ label {
                                    border: 1px solid #E58718;
                                    color: #E58718;
                                }

                                .choose-attribute .attr-item label {
                                    font-weight: 400;
                                    border: 1px solid #E9E9E9;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                    border-radius: 2px;
                                    background: #fff;
                                }
                            </style>
                            {#{% if attributes is not empty %}#}
                                {#{% for attribute in attributes %}#}
                                    {#<div class="col-12 col-lg-12 col-xl-12">#}
                                        {#<div class="col-12 col-lg-12 col-xl-12 mt-3 mb-3" style="padding-left: 0;">#}
                                            {#<label class="font-weight-400 sixth-color w-20 align-self-center">{{ attribute['attribute_name'] }}#}
                                                {#:</label>#}
                                        {#</div>#}
                                        {#<div class="col-12  choose-attribute">#}
                                            {#{% for key,attribute_text in attribute['attribute_text'] %}#}
                                                {#<div class="attr-item d-inline-block mr-1">#}
                                                    {#<input class="list-inline-item d-none"#}
                                                           {#name="attribute[{{ attribute['attribute_name'] }}]"#}
                                                           {#type="radio" name="{{ attribute['attribute_id'] }}"#}
                                                           {#id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"#}
                                                           {#value="{{ attribute_text }}">#}
                                                    {#<label class="m-0 py-2 font-12 px-3"#}
                                                           {#for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>#}
                                                {#</div>#}
                                            {#{% endfor %}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#{% endfor %}#}
                            {#{% endif %}#}

                            <div class="row">
                                {% if attributes is not empty %}
                                    {% for attribute in attributes %}
                                        <div class="col-lg-4 col-xl-4 mb-2">
                                            <div class="bestme-form--select">
                                                <label>{{ attribute['attribute_name'] }} </label>
                                                <div class=" attribute">
                                                    {#<div class="custom-select attribute">#}
                                                    <select class="attribute-select" name="attribute[{{ attribute['attribute_name'] }}]" style="padding: 7px 15px;width: 100%;">
                                                        {#<option disabled="disabled">Chọn {{ attribute['attribute_name'] }}</option>#}
                                                        {% for key,attribute_text in attribute['attribute_text'] %}
                                                            <option {% if key == 0 %} selected {% endif %} value="{{ attribute_text }}">{{ attribute_text }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">

                        </div>
                        <div class="bestme-product--desc-detail--mobile ">
                            <h3 class="title">Mô tả chi tiết </h3>
                            <div class="desc ckeditor-content">
                                {{ product['description']|html_entity_decode }}
                            </div>
                        </div>
                        {% if product['sub_description'] != '' %}
                            <div class="sort-desc bestme-hidden-md">
                                <h3 class="title">mô tả ngắn:</h3>
                                <p class="desc ckeditor-content">{{ product['sub_description']|html_entity_decode }}</p>
                            </div>
                        {% endif %}
                        <div class="list-action bestme-hidden-md">
                            <div class="d-flex flex-row {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} invisible {% endif %}">
                                <button type="button"
                                        onclick="cart.add('{{ product['product_id'] }}')" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="bestme-btn bestme-btn--action-icon bestme-btn--primary" {% if product['is_contact_for_price'] %} disabled {% endif %}><i
                                            class="ti-shopping-cart"></i>
                                </button>
                                <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="bestme-btn bestme-btn--border bestme-btn--pd-hz-xlarge bestme-text--uppercase" {% if product['is_contact_for_price'] %} disabled {% endif %}>
                                    Mua hàng ngay</i>
                                </button>
                            </div>
                            <div class="list-action-share">
                                <span>Chia sẻ </span>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}"><i
                                            class="ti-facebook"></i></a>
                                <a href="https://plus.google.com/share?url={{ current_url|raw }}"><i
                                            class="ti-google"></i></a>
                                <a href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_url|raw }}"><i
                                            class="ti-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bestme-block-detail-product-show-more-mobile">
                <a class="bestme-btn bestme-btn--show-more-detail-product">
                    <div class="see-more">Xem thêm</div> <i class="icon-des ti-angle-down"></i>
                </a>
            </div>

            {% if related_product_visible %}
                <div class="row mt-5">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="title-section-img">
                            <div class="title-logo">
                                <span class="square-first"></span>
                                <span class="square-primary"></span>
                                <span class="square-second"></span>
                            </div>
                            <h2 class="title">{{ related_product_title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% set col_by_grid = 12 / grid %}
                    {% for product in related_products %}
                        <div class="col-{{ col_by_grid }} col-sm-{{ col_by_grid }} col-md-{{ col_by_grid }} col-lg-{{ col_by_grid }} col-xl-{{ col_by_grid }} bestme-bg-white">
                            <article class="bestme-product">
                                <div class="bestme-product-top" onclick="window.location='{{ product.href }}'">
                                    <img class="bestme-product-img" src="{{ product['thumb'] }}"
                                         alt="{{ product['name'] }}">
                                    <div class="bestme-product-action">
                                        <button class="bestme-btn bestme-btn--product-action mb-3">
                                            <i class="ti-shopping-cart"></i>
                                        </button>
                                        <button class="bestme-btn bestme-btn--product-action">
                                            <i class="ti-heart"></i>
                                        </button>
                                    </div>
                                    {% if product['percent_sale'] is not empty %}
                                        <span class="bestme-produt-sale">{{ product['percent_sale'] }}</span>
                                    {% endif %}
                                    {% if product['product_is_stock'] == false %}
                                        <span class="bestme-produt-new">Hết hàng</span>
                                        <span class="bestme-sale-product bestme-produt-sale">{{ product['percent_sale'] }}</span>
                                    {% endif %}
                                </div>
                                <div class="bestme-product-content">
                                    {#<div class="evaluate">#}
                                    {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                                    {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                                    {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                                    {#<img class="svg img-star active" src="images/svg2/off.svg" alt="">#}
                                    {#<img class="svg img-star " src="images/svg2/off.svg" alt="">#}
                                    {#</div>#}
                                    <a href="{{ product['href'] }}" class="bestme-product-title" data-toggle="tooltip"
                                       title="{{ product.name|length > 40 ? product.name : "" }}">
                                        {{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}
                                    </a>
                                    <div class="bestme-product-cost">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="present">{{ contact }}</span>
                                        {% else %}
                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                {% if product['max_price_version'] is null %}
                                                    <p class="present">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</p>
                                                {% else %}
                                                    <p class="present">{{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        {% endif %}</p>
                                                {% endif %}
                                            {% else %}
                                                {% if product['max_compare_price_version'] is null and product['compare_price_master'] == product['price_master'] %}
                                                    <p class="present">{{ product['price_master'] | replace({'VND': 'đ'}) }}</p>
                                                {% else %}
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <p class="old">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</p>
                                                    {% else %}
                                                        <p class="old">
                                                            {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                            {% endif %}
                                                        </p>
                                                    {% endif %}

                                                    {% if product['max_price_version'] is null %}
                                                        <p class="present">{{ product['price_master'] | replace({'VND': 'đ'}) }}</p>
                                                    {% else %}
                                                        <p class="present">
                                                            {{ product['min_price_version'] | replace({'VND': 'đ'}) }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] | replace({'VND': 'đ'}) }}
                                                            {% endif %}
                                                        </p>
                                                    {% endif %}
                                                {% endif %}

                                            {% endif %}
                                        {% endif %}
                                    </div>
{#                                    <button type="submit"#}
{#                                            class="bestme-btn bestme-btn--border  bestme-text--uppercase "> mua ngay#}
{#                                    </button>#}
                                    <a href="{{ product['href'] }}">
                                        <button type="button" class="bestme-btn bestme-btn--border  bestme-text--uppercase">MUA NGAY</button>
                                    </a>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>

    <div class="bestme-block-product-detail-action-mobile {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
        <input pattern="[0-9]*" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" type="number" class="bestme-input bestme-input--default" name="quantity" value="1" min="1" max="9999">
        <button type="button"
                onclick="cart.add('{{ product['product_id'] }}')" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                class="bestme-btn bestme-btn--primary mr-2">Thêm vào giỏ
        </button>
        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                class="bestme-btn bestme-btn--primary bestme-text--uppercase">Mua ngay
        </button>
    </div>
</form>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $('[data-toggle="tooltip"]').tooltip();

        $('.quantity').each(function () {
            var spinner = $(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });
        });

        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        $('body').on('click', '.button_buying', function () {
            if (jQuery(this).attr('data-status') == "disabled") {
                alert('Sản phẩm hết hàng');
            } else {
                $('#add-to-cart').submit();
            }
        });

        // update current order
        updateCurrentOrder();

    });

    $(window).on('load', function(){
        var totalHeight = 0;
        $(".desc.ckeditor-content").children().each(function(){
            totalHeight = totalHeight + $(this).outerHeight(true);
        });
        if (jQuery('.bestme-product--desc-detail').css('display') == 'none') {
            if (totalHeight > jQuery('.bestme-product--desc-detail--mobile .desc').height()) {
                jQuery('.bestme-block-detail-product-show-more-mobile').css('display', 'block');
            } else {
                jQuery('.bestme-block-detail-product-show-more-mobile').css('display', 'none');
            }
        }
    });

    jQuery('#add-to-cart button, .bestme-action-title-header-scroll button, .bestme-block-product-detail-action-mobile button').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function () {
                //TODO loading
            },
            complete: function () {
                //TODO loaded
            },
            success: function (json) {
                if (json['success']) {
                    jQuery('.amount .quantity span').html(json['total_product_cart']);
                    jQuery('.amount .total').html(json['total_into_money']);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.bestme-block-product-detail-action-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

</script>
{{ footer }}