<table class="table table-with-operation">
                  {# filter #}
  <thead>
    <tr>
      <th scope="check-all" width="10">
        <div class="dropdown">
          <label class="checkbox">
            <input type="checkbox" name="select_all">
            <span></span>
          </label>
          <span class="text text-black-50"></span>
          <a class="dropdown-toggle" href="#" id="dropdownOperationTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ collection_list_filter_action }}</a>

          <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
            <a class="dropdown-item" href="#">{{ button_delete }}</a>
          </div>
        </div>
      </th>
      <th scope="col">{{ text_category }}</th>
      <th scope="col" width="120" class="text-right">{{ text_action }}</th>
    </tr>
  </thead>
  {# end filter #}
  <tbody>
    {{categories|raw}}
  </tbody>
</table>

<div class="table-statistic clearfix font-16">
  <span class="float-lg-left text-right">{{ results }}</span>
  <div class="float-lg-right">
    <nav class="float-left" aria-label="Page navigation example">
      {{ pagination }}
    </nav>
  </div>
</div>
                
<script type="text/javascript">
  $('#category_destroy_own').on('click', function(){
    var url = $(this).attr('href');
    var category_id = $(this).attr('category-data-id');
    var confirm_delete = "{{ product_delete_confirm }}";
    if (confirm(confirm_delete)) {
      $.ajax({
        url: url,
        method: 'POST',
        data:{
          category_id:category_id,
        },
        success: function(json) {
          if (json) {
            location.reload();
          } else {
            alert('không xoá được');
          }
        }
      });
    };
    return false;
  });

    $('[scope="check-all"] input[name="select_all"]').on('change', function(){
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function(){
        if( !$(this).is(":checked") ){
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if( _length ){
            $('[scope="check-all"] .text').append('Đã chọn '+_length+' mục');
        }
        getSelected();
    });

    function getSelected(){
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function(){
            if( $(this).is(":checked") ){
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function(){
        var url = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        };
        selected = JSON.parse(selected);
        console.log(selected);
        if (confirm(delete_confirm_common) && selected.length) {
            $.ajax({
                url: url,
                method: 'POST',
                data:{
                    selected:selected,
                },
                success: function(json) {
                    console.log(json);
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        };
        return false;
    });
</script>