<table class="table table-with-operation product-list table-mobile-bst">
    <thead>
    <tr>
        {% if can_modify %}
        <th scope="check-all">
            <span class="font-16 font-weight-normal position-absolute select-all-bst">Chọn tất cả</span>
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ collection_list_filter_action }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ showProduct }}"
                       id="show">{{ collection_list_filter_status_show }}</a>
                    <a class="dropdown-item" href="{{ hideProduct }}"
                       id="hide">{{ collection_list_filter_status_disabled }}</a>
                    <a class="dropdown-item" href="{{ delete }}"
                       id="delete">{{ collection_list_filter_status_delete }}</a>
                </div>
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if collections %}
        {% for collection in collections %}
            <tr>
                {% if can_modify %}
                <td scope="select-this" data-id="{{ collection.collection_id }}">
                    <label class="checkbox">
                        <input type="checkbox" name="select_this" value="1">
                        <span></span>
                    </label>
                </td>
                {% endif %}
                <td>
                    <img width="57" height="57" src="{{ collection.image }}"/>
                </td>
                <td>
                    <a class="font-16" href="{{ collection.edit }}" title="{{ collection.title }}">{{ collection.title|length > 26 ? collection.title|slice(0, 26) ~ '...' : collection.title }}</a>
                    <p class="font-16">{{ collection.amoutProduct }}
                        {% if collection.type == 1 %}
                            {{ page_title }}
                        {% else %}
                            {{ collection_count_product }}
                        {% endif %}
                    </p>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->