{{ custom_header }}
<!-- End header -->
<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0 mobile-space">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="box-wrap bg-none">
                    <form action="{{ action }}" method="post" class="section-form form-fix-head" id="cost-adjustment-receipt-form">
                        <input type="hidden" name="pre_status" value="{{ receipt_status }}">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">{{ text_form }}</h1>
                                {#{% if receipt_status != '1' %}#}
                                {% if access_modify %}
                                    <div class="btn-group float-right">
                                        <button type="submit" name="submit_type" value="apply" class="btn btn-pink button-submit">{{ btn_adjustment }}</button>
                                        <button type="button" class="btn btn-pink dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                data-offset="0, 10">
                                            <span class="sr-only"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            {% if receipt_status is defined  %}
                                                <button class="dropdown-item button-submit save-and-approved" type="submit" name="submit_type" value="apply">{{ btn_adjustment }}</button>
                                                <button class="dropdown-item button-submit" name="submit_type" value="draft" type="submit">{{ btn_draft }}</button>
                                                <button class="dropdown-item button-submit" name="submit_type" value="cancel" type="submit">{{ btn_receipt_cancel }}</button>
                                            {% else %}
                                                <button class="dropdown-item button-submit save-and-approved" type="submit" name="submit_type" value="apply">{{ btn_adjustment }}</button>
                                                <button class="dropdown-item button-submit" name="submit_type" value="draft" type="submit">{{ btn_draft }}</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <a href="{{ cancel }}" href="javascript:void(0)" class="btn btn-light float-right border bg-white  mr-2">{{ button_cancel }}</a>
                                {#{% endif %}#}
                            </div>
                        </div>
                        {% if receipt_status == 9 %}<p class="text-danger">{{ text_receipt_canceled }}</p>{% endif %}
                        {% if error_warning %}
                            <br>
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <div class="box-content bg-white mb-3">
                            <div class="form-group row">
                                <div class="col-12 col-lg-6 mt-2">
                                    <div class="d-flex">
                                        <span class="select2-label" style="min-width: 120px">{{ entry_store }}</span>
                                        <div class="w-100">
                                            <select class="form-control select2-store" id="select-store"
                                                    name="store_id"
                                                    data-placeholder="{{ entry_store_placeholder }}">
                                            </select>
                                            <div class="select-2-dropdown-store-cost-adjustment-receipt"></div>
                                            <span class="text-danger" style="display: none" id="warning-choice-store">{{ warning_store_select }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mt-2">
                                    <div class="d-flex">
                                        <span class="select2-label">{{ entry_product }}</span>
                                        <div class="w-100">
                                            <select class="form-control select2-product" id="select-product" data-placeholder="{{ entry_product_placeholder }}" multiple>
                                                {% for product in receipt_products %}
                                                    <option value="{{ product['pvid'] }}" selected></option>
                                                {% endfor %}
                                            </select>
                                            <div class="select-2-dropdown-product-cost-adjustment-receipt"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="list-product" style="min-height: 500px">
                                <table class="table table-responsive table-products font-14">
                                    <thead>
                                    <tr>
                                        <th class="col text-center" style="width: 60px">SKU</th>
                                        <th class="col text-center">{{ entry_product }}</th>
                                        <th class="col text-center" style="min-width: 180px">{{ entry_current_cost_price }}</th>
                                        <th class="col text-center" style="min-width: 180px">{{ entry_adjustment_cost_price }}</th>
                                        <th class="col text-center" style="min-width: 300px">{{ entry_reason }}</th>
                                        <th class="col p-0"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in receipt_products %}
                                        {% if product['deleted'] == 1 %}
                                            <tr data-id="{{ product.pvid }}"><td class="w-product-deleted" colspan="8"><span class="text-danger">{{ warning_product_delete }}</span></td></tr>
                                        {% endif %}
                                        <tr class="receipt-products" data-id="{{ product.pvid }}">
                                            <input class="text-center" type="hidden" name="product_version_id[]" value="{{ product.pvid }}">
                                            <input class="text-center" type="hidden" name="product_pre_cost_price[]" value="{{ product.current_cost_price }}">
                                            <td class="text-center" title="{{ product.sku }}">{{ product.sku|length > 12 ? product.sku|slice(0, 12) ~ '...' : product.sku }}</td>
                                            <td class="product-name text-center" title="{{ product.name }}">{{ product.name|length > 20 ? product.name|slice(0, 20) ~ '...' : product.name }}</td>
                                            <td class="form-group text-center">{{ product.current_cost_price|number_format(0, '.', ',') }}</td>
                                            <td class="form-group text-center"><input type="text" name="product_cost_price[]" value="{{ product.adjustment_cost_price }}" width="20px" class="form-control  number-format-3" maxlength="14"/></td>
                                            <td class="form-group text-center" title="{{ product.note }}"><input type="text" name="reason[]" value="{{ product.note }}" class="form-control" maxlength="255"></td>
                                            <td class="remove-product text-center pointer" data-id="{{ product.pvid }}"><i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex">
                                <span class="select2-label" style="min-width: 120px">{{ entry_note }}</span>
                                <div class="w-100">
                                    <textarea class="form-control" name="note" rows="3" maxlength="3000" placeholder="{{ entry_note_placeholder }}">{{ receipt_note }}</textarea>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="user_create_id" value="{{ user_create_id }}">
                    </form>
                </div> <!-- End box-wrap -->
            </div> <!-- End main-content -->
        </main>
        <!-- End Main -->
    </div>
    <div id="image-loading"></div>
</div>
<!-- End page wrapper -->

{{ footer }}
<style>
    .select2-label {
        min-width: 80px;
        padding-top: 10px;
    }

    @media screen and (max-width: 767px) {
        .mobile-space {margin-top:77px;}
    }

    .select2-search--inline::before, .select2-selection__choice{
        display: none!important;
    }

    .select-2-dropdown-product-cost-adjustment-receipt .select2-results__options{
        max-height: 250px;
        overflow: scroll;
    }

    .select-2-dropdown-store-cost-adjustment-receipt .select2-results__options{
        max-height: 250px;
        overflow: scroll;
    }
    .receipt-products{
        vertical-align: middle!important;
    }

    .table thead th, .table td {
        vertical-align: initial;
    }
    .w-product-deleted{
        border-bottom: none!important;
    }
</style>
<script type="text/javascript">
    {% if receipt_status == 1 or receipt_status == 9 %}
        $("#cost-adjustment-receipt-form :input").prop("disabled", true);
        $('#cost-adjustment-receipt-form .remove-product').hide();
    {% endif %}


    $('#cost-adjustment-receipt-form').bind('keydown', function(e) {
        if (e.keyCode == 13) {
            e.preventDefault();
        }
    });
    // select2-store
    $('select.select2-store').select2({
        // theme: 'bootstrap4',
        theme: 'bootstrap4',
        dropdownParent: $('#cost-adjustment-receipt-form .select-2-dropdown-store-cost-adjustment-receipt'),
        containerCssClass: 'col',
        closeOnSelect: true,
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        ajax: {
            url: "index.php?route=catalog/cost_adjustment_receipt/getStoreLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    }).on('select2:open', function (e) {
    }).on('select2:select', function (e) {
        $('#warning-choice-store').hide();
    });

    {% if receipt_store_selected is defined %}
        updateCurrentSelect2($('select.select2-store'), JSON.parse('{{ receipt_store_selected|replace({"'": "\\'" , '"': '\\"'}) }}'));
    {% endif %}

    function updateCurrentSelect2(element, datas) {
        for (var i = 0; i < datas.length; i++) {
            if (element.find("option[value='" + datas[i].id + "']").length == 0) {
                var newOption = new Option(datas[i].title, datas[i].id, true, true);
                element.append(newOption);
            }
            element.trigger('change');
        }
    }

    // select2-product
    $('select.select2-product').select2({
        theme: 'bootstrap4',
        dropdownParent: $('#cost-adjustment-receipt-form .select-2-dropdown-product-cost-adjustment-receipt'),
        containerCssClass: 'col',
        multiple: true,
        templateResult: formatCustom,
        closeOnSelect: false,
        language: {
            "noResults": function(){
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=catalog/cost_adjustment_receipt/getProductsLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1,
                    store: $('#select-store').val()
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    }).on('select2:open', function (e) {
    }).on('select2:opening', function (e) {
        var store_id = $('#select-store').val();
        if ($.trim(store_id) == ''){
            $('#warning-choice-store').show();
            e.preventDefault();
        }
    });

    function formatCustom(state) {
        var sub_name = '';
        if(state.subname){
            sub_name = state.subname;
        }
        return $(
            '<div><div>' + state.text + '</div><div class="foo">' + sub_name + '</div></div>'
        );
    }

    $('select.select2-product').on('select2:select', function(e) {
        var selected = e.params.data;
        if (!selected){
            return
        }
        var product_name = selected.product_name;
        if (selected.version){
            product_name = product_name + '(' + selected.version + ')';
        }
        var title_product_name = product_name;

        if (product_name.length > 20){
            product_name = product_name.slice(0, 20) + '...';
        }

        var sku = selected.sku ? selected.sku : '';
        var title_sku = sku;

        if (sku.length > 12) {
            sku = sku.slice(0, 12) + '...';
        }
        var cost_price = parseInt(selected.cost_price);
        cost_price = cost_price.toLocaleString('en');

        if ($('tr[data-id="' + selected.id + '"]').length > 0){
            return;
        }
        $('#list-product tbody').append('<tr class="receipt-products" data-id="' + selected.id + '">\n' +
            '                                            <input class="text-center" type="hidden" name="product_version_id[]" value="' + selected.id + '">\n' +
            '                                            <input class="text-center" type="hidden" name="product_pre_cost_price[]" value="' + selected.cost_price + '">\n' +
            '                                            <td class="text-center" title="' + title_sku + '">' + sku +'</td>\n' +
            '                                            <td class="product-name text-center" title="' + title_product_name + '">' + product_name + '</td>\n' +
            '                                            <td class="form-group text-center">' + cost_price + '</td>\n' +
            '                                            <td class="form-group text-center"><input type="text" name="product_cost_price[]" value="' + cost_price + '" width="20px" class="form-control number-format-3" maxlength="14"/></td>\n' +
            '                                            <td class="form-group text-center"><input type="text" name="reason[]" class="form-control" maxlength="255"></td>\n' +
            '                                            <td class="remove-product text-center pointer" data-id="' + selected.id + '"><i class="fas fa-trash-alt"></i></td>\n' +
            '                                        </tr>');

        checkBoxStatus();
    });

    $('select.select2-product').on('select2:unselect', function(e) {
        var unselected = e.params.data;
        if (!unselected){
            return;
        }
        $('tr[data-id="' + unselected.id + '"]').remove();
    });

    $('.select2-store').on('select2:selecting', function (e) {
        var count_selected = $('#list-product .receipt-products').length;
        count_selected = parseInt(count_selected) || 0;
        if (count_selected > 0){
            if (confirm('{{ warning_change_store }}')) {
                $('#list-product tbody').html('');
                $('.select2-product').val(null).trigger('change');
            }else{
                e.preventDefault();
                return;
            }
        }
    });

    $('#list-product').on('click', '.remove-product', function (e) {
        {% if receipt_status == 1 or receipt_status == 9 %}
            e.preventDefault();
            return;
        {% endif %}
        var pvid = $(this).attr('data-id');
        $('tr[data-id="' + pvid + '"]').remove();
        $('.select2-product option[value="'+ pvid +'"]').prop('selected', false).trigger('change');
    });


    var submit_type = 'apply';
    $('.button-submit').on('click', function (e) {
        submit_type = $(this).val();
        if (submit_type !== 'cancel') {
            if ($('td.w-product-deleted').length > 0) {
                e.preventDefault();
                return;
            }
        }
        if (submit_type === 'apply'){
            if (!confirm('{{ warning_receipt_apply }}')) {
                e.preventDefault();
                $('.button-submit').removeAttr('disabled');
            }
        } else if (submit_type === 'cancel') {
            if (!confirm('{{ warning_receipt_cancel }}')) {
                e.preventDefault();
                $('.button-submit').removeAttr('disabled');
            }
        }
    });

    $('#cost-adjustment-receipt-form').on('submit', function (e) {
        if ($('tr.receipt-products').length < 1){
            alert('{{ txt_select_at_least_1_product }}');
            e.preventDefault();
            return;
        }

        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "type_submit").val(submit_type); // use this field because field submit_type not exactly after some click
        $(':submit').append(input);
    });
</script>
