{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0 mobile product-list-wrap">
            <div class="main-content" style="padding-top: 85px;">
                <div class="sub-head clearfix">
                    <h5 class="page-title float-left">
                        {{ product_heading }}
                    </h5>
                    {% if access_modify %}
                    <a class="advance-link mobile btn float-right" href="{{ add }}"><i class="fa fa-plus"></i>{{ text_add }}</a>
                    {% endif %}
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active">{{ heading_title }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <script>
                                jQuery(document).ready(function ($) {

                                    $('.category_id').change(function (event) {
                                        $('#image-loading').show();
                                        categoryID = $('.category_id').val();
                                        $.post('{{ loadOptionOne }}', {'categoryID': categoryID}, function (data) {
                                            $('#image-loading').hide();
                                            $('#showoptionone').html(data).promise().done(function(){
                                                $('select.select2').each(function(index, el) {
                                                    $(this).wrap("<div class='select-2-container position-relative"+($(this).attr('data-tags') ? " select2-tag" : '' )+"'></div>");
                                                    $(this).css('width', '100%');
                                                    $(this).after('<div class="select-2-wrapper '+($(this).attr('multiple') ? 'multiple' : 'single' )+'"></div>');
                                                    $(this).select2({
                                                        theme: 'bootstrap4',
                                                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                                                        placeholder: $(this).attr('data-placeholder'),
                                                        tags: $(this).attr('data-tags'),
                                                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                                                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true),
                                                        templateResult: displayFormatCategory,
                                                    });
                                                });
                                            });
                                        })
                                    });
                                });
                            </script>
                            <form class="filter-form order-filter clearfix product-form-validate" action="{{ action_search }}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group search-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light dropdown-toggle"
                                                        type="button">{{ action_filter }}</button>
                                                <div class="dropdown-menu p-0 p-3 font-12">
                                                    <div class="form-group">
                                                        <label>{{ filter_list_follow }}</label>
                                                        <!--<select class="form-control form-control-sm category_id" data-label="{{ entry_category }}" id="category_id" name="category_id">-->
                                                        <select class="form-control form-control-sm select2 category_id" id="category_id" data-label="{{ entry_category }}" required name="category_id">
                                                            <option value="">{{ choose_filter }}</option>
                                                            <option value="1" data-value="">
                                                                {{ filter_status }}
                                                            </option>
                                                            <option value="2" data-value="">
                                                                {{ filter_manufacture }}
                                                            </option>
                                                            <option value="3" data-value="">
                                                                {{ filter_category }}
                                                            </option>
                                                            <option value="4" data-value="">
                                                                {{ filter_tag }}
                                                            </option>
                                                            <option value="5" data-value="">
                                                                {{ filter_collection }}
                                                            </option>
                                                            <!-- <option value="6" data-value="Số lượng sản phẩm">Số lượng
                                                                 sản phẩm
                                                                 </option>-->
                                                            {% if is_admin %}
                                                                <option value="7" data-value="">{{ filter_staff }}</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>

                                                    <div id="showoptionone"></div>
                                                    <div id="showoptiontwo" class="form-group d-none hierarchical-child"></div>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <button type="button" id="filter_button"
                                                            class="btn btn-info font-12 btn-pink">{{ action_filter }}</button>
                                                </div>
                                            </div>
                                            <div class="input-group-icon">
                                                <i class="icon icon-search"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ product_search }}">
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End row -->
                                <div class="filter-item"></div>
                            </form> <!-- End form filter -->
                            <div id="product-content" class="not-choose-product-list mobile">
                                <table class="table table-with-operation product-list">
                                    <thead>
                                    <tr>
                                        {% if access_modify %}
                                        <th scope="check-all" width="10" style="max-width: 10px;">
                                            <div class="dropdown had-text-no-select">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="select_all" data-text-language-choose-all="{{ choose_all_in_filter }}" data-text-language-choose="{{ choose_in_filter }}" data-text-language-item="{{ item_in_filter }}">
                                                    <input type="hidden" name="selected" class="selected_product">
                                                    <span></span>
                                                </label>
                                                <span class="text-no-select">{{ select_all }}</span>
                                                <span class="text text-black-50"></span>
                                                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                                                   data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">{{ text_options }}</a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                                                    <a class="dropdown-item" href="{{ action_in_stock_product }}" id="action-product-in-stock">{{ action_show_product }}</a>
                                                    <a class="dropdown-item" href="{{ action_out_stock_product }}" id="action-product-out-stock">{{ action_hidden_product }}</a>
                                                    <a class="dropdown-item" href="{{ delete }}" id="delete">{{ product_delete }}</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTagsModal" data-type="add-tag" data-title="{{ label_add }}">{{ action_add_tag_product }}</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductTagsModal" data-type="remove-tag" data-title="{{ label_remove }}">{{ action_remove_tag_product }}</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductCollectionModal" data-type="add-collection" data-title="{{ label_add }}">{{ action_add_collection_product }}</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addProductCollectionModal" data-type="remove-collection" data-title="{{ label_delete }}">{{ action_remove_collection_product }}</a>
                                                </div>
                                                <input type="hidden" name="selected" value="">
                                            </div>
                                        </th>
                                        {% endif %}
                                        <th scope="col"></th>
                                        <th scope="col"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if products %}
                                        {% for product in products %}
                                            <tr>
                                                {% if access_modify %}
                                                <td scope="select-this" data-id="{{ product.product_id }}">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="select_this" value="1">
                                                        <span></span>
                                                    </label>
                                                </td>
                                                {% endif %}
                                                <td width="85">
                                                    {% if product.image|length > 0 %}
                                                        <div class="img">
                                                            <img src="{{ product.image }}">
                                                        </div>
                                                    {% else %}
                                                        <div class="product-img rounded bg-light"></div>
                                                    {% endif %}


                                                </td>
                                                <td>
                                                    <a title="{{ product.name }}"
                                                       href="{{ product.edit }}">{{ product.name|length > 26 ? product.name|slice(0, 26) ~ '...' : product.name }}
                                                    </a>
                                                    <p>
                                                        {{ product.quantity }} {{ product_text_list }} {{ product.html_version }}
                                                    </p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="3">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <div class="table-statistic clearfix font-14">
                                    <span class="float-lg-left text-right">{{ results }}</span>
                                    <div class="float-lg-right">
                                        <!--<span class="float-left pt-1 pr-3">Page</span>-->
                                        <nav class="float-left" aria-label="Page navigation example">
                                            {{ pagination }}
                                        </nav>
                                    </div>
                                </div> <!-- End Table statistic -->
                            </div>

                            <!-- Modal -->
                            <div class="modal fade product-modal select-add-tag-custom-mobile-2" id="addProductCollectionModal" tabindex="-1" role="dialog" aria-labelledby="addProductCollectionLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-18 font-weight-normal" id="addProductCollectionLabel"><span class="data-title">{{ label_add }}</span> <span class="number">3</span> <span class="label-modal"></span></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class="icon icon-close font-12 bg-dark mr-2"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="add-product-to-collection" method="post">
                                                <div class="form-group collection-select m-0">
                                                    <div class="select-2-container position-relative">
                                                        <select class="form-control select2-collection" name="collection_list[]" multiple="" data-placeholder="{{ search_collection }}">

                                                        </select>
                                                        <input type="hidden" class="product-id-select" name="product-id-select">
                                                        <div class="select-2-dropdown-collection"></div>
                                                        <span class="collection-label text-pink">• {{ you_will_add }} <span class="type"></span> <span class="num">3</span> {{ product_to_collection_after }}</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ label_close }}</button>
                                            <button type="button" class="btn btn-pink data-title">{{ label_add }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade product-modal" id="addProductTagsModal" tabindex="-1" role="dialog" aria-labelledby="addProductTagsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-18 font-weight-normal" id="addProductTagsLabel"><span class="data-title">{{ label_add }}</span> {{ tag_for_product_choose }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="add-tag-to-product" method="post">
                                                <div class="form-group select2-tag-wrapper">
                                                    <label class="font-weight-normal"><span class="data-title">{{ label_add }}</span> {{ list_tag_for_product }}</label>
                                                    <select class="form-control select2-tag" name="tag_list[]" multiple data-placeholder="{{ use_tag_description }}">
                                                    </select>
                                                    <input type="hidden" class="product-id-select" name="product-id-select">
                                                    <div class="select-2-dropdown-tag"></div>
                                                </div>
                                                <div class="tag-list-most-use">
                                                    {% if tag_all  %}
                                                        <label class="font-weight-normal">{{ choose_from_list_tag }}</label>
                                                        <ul class="select-tag-use nav">
                                                            {% for tag in tag_all %}
                                                                <li data-id="{{ tag.tag_id }}">{{ tag.value }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif  %}
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ label_close }}</button>
                                            <button type="button" class="btn btn-pink"><span class="data-title">{{ label_add }}</span> tag</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Modal -->

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="confirm-product" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header" style="display: block">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="confirm-label">{{ alert_delete }}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ button_close }}</button>
                        <button type="button" class="btn btn-pink confirm" data-dismiss="modal">{{ button_delete }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="image-loading"></div>
    </div>
</div>
<div id="mobile-layer" style="display: none">
    <div id="layer"></div>
</div>
<script type="text/javascript">
    var confirm_delete = "{{ product_delete_confirm }}";
    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }
</script>
<script type="text/javascript">
    $('.activeStatus').click(function () {
        $.ajax({
            url: '{{ avtivestatus }}',
            data: {
                product_id: $(this).val(),
                status: $(this).prop('checked')
            },
        });
    });

    $('.product_destroy_own').on('click', function () {
        var url = $(this).attr('href');
        var product_id = $(this).attr('product-data-id');
        var confirm_delete = "{{ product_delete_confirm }}";
        if (confirm(confirm_delete)) {
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    product_id: product_id,
                },
                success: function (json) {
                    console.log(json);
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
        return false;
    });
    $('.product_copy_own').on('click', function () {
        var url = $(this).attr('href');
        var product_id = $(this).attr('product-data-id');
        var confirm_copy = "{{ do_you_want_copy }}";
        if (confirm(confirm_copy)) {
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    product_id: product_id,
                },
                success: function (json) {
                    console.log(json);
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
        return false;
    });

    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            },300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        //var filter_status = $('input[name=filter_status]:checked').val();
        var filter_name = $('#filter_name').val();
        var status_product = $('.filter-item input[name^=status_product]').map(function(idx, elem) {
            return $(elem).val();
        }).get();
        var category_product = $('.filter-item input[name^=category_product]').map(function(idx, elem) {
            return $(elem).val();
        }).get();
        var collection = $('.filter-item input[name^=collection]').map(function(idx, elem) {
            return $(elem).val();
        }).get();
        var manufacturer = $('.filter-item input[name^=manufacturer]').map(function(idx, elem) {
            return $(elem).val();
        }).get();
        var nametag = $('.filter-item input[name^=nametag]').map(function(idx, elem) {
            return $(elem).val();
        }).get();
        var filter_staff = $('.filter-item input[name^=staff]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        if (!remove_item && status_product.length < 1 && $('.filter-form select[name^=status_product]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && category_product.length < 1 && $('.filter-form select[name^=category_product]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && collection.length < 1 && $('.filter-form select[name^=collection]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && manufacturer.length < 1 && $('.filter-form select[name^=manufacturer]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && nametag.length < 1 && $('.filter-form input[name^=nametag]').length) {
            $('.filter-form input[name^=nametag]').css('border', '1px solid red');
            return;
        }

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                status_product: status_product,
                category_product: category_product,
                collection: collection,
                manufacturer: manufacturer,
                nametag : nametag,
                filter_staff: filter_staff,
                page: page,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
                $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid #ced4da');
                $('.filter-form input[name^=nametag]').css('border', '1px solid #ced4da');
                $('#product-content').removeClass('has-choose-product-list');
                $('#product-content').addClass('not-choose-product-list');
            }
        });
    }


    $('#import-xls').on('click', function (e) {
        e.preventDefault();
        $('#form-upload').remove();
        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="import-file" value="" /></form>');

        $('#form-upload input[name=\'import-file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }
        timer = setInterval(function () {
            if ($('#form-upload input[name=\'import-file\']').val() != '') {
                clearInterval(timer);
                $.ajax({
                    url: 'index.php?route=catalog/product/importFromExcelFile&user_token={{ user_token }}',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('#image-loading').show();
                    },
                    success: function (json) {
                        $('#image-loading').hide();
                        if (json['error']) {
                            alert(json['error']);
                        }

                        if (json['success']) {
                            alert(json['success']);
                        }
                        window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#image-loading').hide();
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });

    $('#export-xls').on('click', function (e) {
        e.preventDefault();
        $('#form-export').remove();
        $('body').prepend('' +
            '<form name="form-export" enctype="multipart/form-data" id="form-export" style="display: none;">' +
            '    <button type="submit" name="export-file">{{ product_export_file }}</button>' +
            '</form>');

        $('#form-export').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: 'index.php?route=catalog/product/export&user_token={{ user_token }}',
                type: 'post',
                data: new FormData($('#form-export')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('#image-loading').show();
                },
                success: function (json) {
                    $('#image-loading').hide();
                    if (json['error']) {
                        alert(json['error']);
                    }

                    if (json['success']) {
                        alert(json['success']);
                    }

                    if (json.indexOf('data:application/vnd.ms-excel') < 0) {
                        alert('{{ export_file_error }}');
                        return;
                    }

                    var $a = $("<a>");
                    $a.attr("href", json);
                    $("body").append($a);
                    $a.attr("download", "{{ export_file_name }}");
                    $a[0].click();
                    $a.remove();

                    // window.open('index.php?route=catalog/product&user_token={{ user_token }}','_blank' );
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#image-loading').hide();
                    alert('{{ export_file_error }}');
                }
            });

            return false;
        });

        $('#form-export button[name=\'export-file\']').trigger('click');
    });

</script>
<script type="text/javascript">
    //version 1.3 add
    $('select.select2-collection').select2({
        theme: 'bootstrap4',
        dropdownParent: $('.collection-select .select-2-dropdown-collection'),
        containerCssClass: 'col',
        placeholder: "{{ search_collection }}",
        closeOnSelect: false,
        language: {
            "noResults": function(){
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=catalog/product/getCollectionLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    });

    $('select.select2-tag').select2({
        theme: 'bootstrap4',
        width: "100%",
        tags: true,
        dropdownParent: $('.select2-tag-wrapper .select-2-dropdown-tag'),
        placeholder: "{{ use_tag_description }}",
        closeOnSelect: true,
        tokenSeparators: [','],
        language: {
            "noResults": function(){
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=catalog/product/getTagLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    });

    $('.modal.product-modal').on('show.bs.modal', function (event) {
        var title = $(event.relatedTarget).data('title');
        //set text
        if (typeof title != "undefined")
            $(this).find('.data-title').text(title);
        //set action
        var action_type = $(event.relatedTarget).data('type');
        var product_list = $('.selected_product').val();
        $('.product-id-select').val(product_list);
        //change text collection
        if (product_list.length > 0) {
            var num = product_list.split(",");
            $('.collection-label .num').html(num.length);
            $('#addProductCollectionLabel .number').html(num.length);
        }
        //add link form modal
        if (action_type == 'add-tag') {
            $('#add-tag-to-product').attr('action', '{{ action_add_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        } else if (action_type == 'remove-tag') {
            $('#add-tag-to-product').attr('action', '{{ action_remove_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        } else if (action_type == 'add-collection') {
            $('#add-product-to-collection').attr('action', '{{ action_add_collection | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
            $('.collection-label .type').html('{{ label_add }}');
            $('#addProductCollectionLabel .label-modal').html('{{ product_to_collection }}');
        } else if (action_type == 'remove-collection') {
            $('#add-product-to-collection').attr('action', '{{ action_remove_collection | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
            $('.collection-label .type').html('{{ label_delete }}');
            $('#addProductCollectionLabel .label-modal').html('{{ product_delete_collection }}');
        }
    });

    if ($(".sortable").length) {
        $(".sortable tbody").sortable({
            placeholder: "bg-light",
            handle: ".sortable-button",
            stop: (event, ui) => {
                $(event.target).find('tr>td:nth-child(1)').each(function (e) {
                    var eq = $(this).parent().index();
                    $(this).text((eq + 1) + ".");
                });
            }
        });
    }

    $('input[name="product_version"]~label').on('click', function () {
        var id = $(this).attr('data-tab');
        $(".nav-tabs a[href='#" + id + "']").tab('show');
    });

    $('#addProductTagsModal .btn-pink').on('click', function () {
        $('#add-tag-to-product button[type="submit"]').trigger('click');
    });

    $("#add-tag-to-product").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            'tag_list[]': {
                validators: {
                    notEmpty: {
                        message: "{{ notice_add_tag_error }}"
                    },
                    callback: {
                        message: '{{ notice_add_tag_error_max_length }}',
                        callback: function(value, validator) {
                            // Get the selected options
                            var options = validator.getFieldElements('tag_list[]').val();
                            var result = true;
                            $.each(options, function( index, value ) {
                                if (value.length > 30) {
                                    result = false;
                                }
                            });
                            return result;
                        }
                    }
                }
            },
        }
    }).on('valid.bs.validator', function(e, data) {
        $('#add-tag-to-product button[type="submit"]').removeClass("disabled");
    });

    $('#addProductCollectionModal .btn-pink').on('click', function () {
        $('#add-product-to-collection button[type="submit"]').trigger('click');
    });

    $("#add-product-to-collection").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            'collection_list[]': {
                validators: {
                    notEmpty: {
                        message: "{{ notice_add_collection_error }}"
                    },
                }
            },
        }
    }).on('valid.bs.validator', function(e, data) {
        $('#add-product-to-collection button[type="submit"]').removeClass("disabled");
    });

    $('.select-tag-use li').on('click', function () {
        var data = {
            id: $(this).attr('data-id'),
            text: $(this).html(),
        };
        if ($(".select2-tag-wrapper .select2-selection__choice[title='" + $(this).html() + "']").length == 0) {
            var newOption = new Option(data.text, data.id, true, true);
            $('select.select2-tag').append(newOption).trigger('change');
        }
    });

    $('#action-product-in-stock').on('click', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('#action-product-out-stock').on('click', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });
    $('#delete').on('click', function (event) {
        event.preventDefault();
        var product_list = $('.selected_product').val();
        var num = '';
        if (product_list.length > 0) {
            num = product_list.split(",").length;
        }
        var message = '{{ product_confirm_show }}' + num + '{{ product_confirm_choose }}';
        $("#confirm-product .modal-body p").html(message);
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');

        $("#confirm-product").modal('show');

        $(".confirm").on("click", function () {
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });
    $('#addProductTagsModal').on('show.bs.modal', function (event) {
        $('select.select2-tag').val(null).trigger('change');
        $('#addProductTagsModal').removeData('bs.modal');
        $('#add-tag-to-product').bootstrapValidator('resetForm', true);
    });
    $('#addProductCollectionModal').on('show.bs.modal', function (event) {
        $('select.select2-collection').val(null).trigger('change');
        $('#addProductCollectionModal').removeData('bs.modal');
        $('#add-product-to-collection').bootstrapValidator('resetForm', true);
    });

    function displayFormatCategory(state) {
        var originalOption = state.element;
        var level = $(originalOption).data('level');

        var pad = level * 15;
        if (isNaN(pad)) {
            pad = 0;
        }

        return $(
            '<div style="padding-left: ' + pad + 'px">' + state.text + '</div>'
        );
    }

</script>
<style>
    .img-wrapper {
        width: 50px;
        height: 50px;
        display: flex;
    }

    .img-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    #import-xls {
        text-decoration-line: none;
    }
    .box-content .table th[scope="check-all"] .dropdown .dropdown-menu::before{
        right: 75px;
        left: unset;
    }
</style>
{{ footer }}