{{ custom_header }}
<!-- End header -->

<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">{{ text_form }}</h1>
                </div>
                {% if error_warning %}
                    <br>
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap bg-none">
                    <form action="{{ action }}" method="post" class="section-form" id="product-form">
                        <div class="row">
                            <div class="col-12 col-lg-8 form-left">
                                <div class="box-content bg-white mb-3">
                                    <h4 class="box-title">{{ text_product_info }}</h4>
                                    <div class="form-group">
                                        <label for="name">{{ column_name }}<span class="text-danger">*</span></label>
                                        <input id="name" required type="text" name="name" maxlength="100"
                                               value="{{ product_description.name }}" class="form-control bg-light"
                                               placeholder="{{ entry_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">{{ entry_description }} <span
                                                    class="text-danger">*</span></label>
                                        <textarea id="description" required name="description" maxlength="5000"
                                                  class="form-control bg-light editor"
                                                  rows="8">{{ product_description.description }}</textarea>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3">
                                    <h4 class="box-title">{{ text_product_data }}</h4>
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-6">
                                            <label for="sku">{{ entry_sku }}<span class="text-danger">*</span></label>
                                            <input type="text" required maxlength="15" name="sku" id="sku" value="{{ sku }}"
                                                   class="form-control bg-light">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <label for="barcode">{{ entry_barcode }}<span class="text-danger">*</span></label>
                                            <input type="text" name="barcode" id="barcode" required maxlength="255" value="{{ barcode }}"
                                                   class="form-control bg-light">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-6">
                                            <label for="quantity_import">{{ text_input_number }}<span class="text-danger">*</span></label>
                                            <input type="text" name="quantity_import" required maxlength="7" id="quantity_import"
                                                   value="{{ quantity }}" class="form-control bg-light number-format-2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>{{ entry_weight }}</strong></label>
                                        <small class="form-text text-muted mb-2">{{ text_weight_explain }}</small>
                                        <div class="input-group">
                                            <input type="text" name="weight" maxlength="6" value="{{ weight }}" class="form-control bg-light number-format-2">
                                            {#pattern="[0-9]{6}"#}
                                            {# <input type="number" placeholder="0" required name="price" min="0" value="0" step="0.1" title="Currency" pattern="^\d+(?:\.\d{1,2})?$" > #}

                                            <div class="input-group-append select">
                                                <select name="weight_unit" class="form-control">
                                                    {% for weight_class in weight_list %}
                                                        {% if weight_class.weight_class_id == weight_class_id %}
                                                            <option value="{{ weight_class.weight_class_id }}"
                                                                    selected="selected">{{ weight_class.title }}</option>
                                                        {% else %}
                                                            <option value="{{ weight_class.weight_class_id }}">{{ weight_class.title }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content repeater bg-white" id="attribute-product">
                                    <div class="clearfix">
                                        <h4 class="box-title mb-2 float-left">{{ entry_attribute }}</h4>
                                        {# <a class="float-right" href="#" id="a_cancel" class="a_cancel">{{ button_cancel }}</a> #}
                                        <button class="float-right" type="button"
                                                id="cancel_attribute"> {{ button_cancel }}</button>
                                    </div>
                                    <small class="form-text text-muted mb-3">{{ text_attribute_explain }}</small>
                                    <div data-repeater-list="attributes">
                                        {% if product_attributes is empty %}
                                            <div data-repeater-item class="form-group row">
                                                <input type="hidden" name="attribute_id" value="">
                                                <div class="col-12 col-lg-4">
                                                    <label>{{ entry_attribute_name }}</label>
                                                    <input type="text" maxlength="100" name="attribute_name"
                                                           class="form-control bg-light">
                                                </div>
                                                <div class="col-12 col-lg-8">
                                                    <label>{{ entry_attribute_value }}</label>
                                                    <input type="text" maxlength="1000" name="attribute_description"
                                                           class="form-control bg-light">
                                                </div>
                                            </div>
                                        {% else %}
                                            {% for product_attribute in product_attributes %}
                                                <div data-repeater-item class="form-group row">
                                                    <input type="hidden" name="attribute_id" value="">
                                                    <div class="col-12 col-lg-4">
                                                        <label>{{ entry_attribute_name }}</label>
                                                        <input type="text" maxlength="100" name="attribute_name"
                                                               value="{{ product_attribute.name }}"
                                                               class="form-control bg-light">
                                                    </div>
                                                    <div class="col-12 col-lg-8">
                                                        <label>{{ entry_attribute_value }}</label>
                                                        <input type="text" maxlength="1000" name="attribute_description"
                                                               value="{{ product_attribute.product_attribute_description['text'] }}"
                                                               class="form-control bg-light">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <button data-repeater-create class="btn" type="button"><i
                                                class="icon icon-plus"></i> {{ entry_attribute_add }}</button>
                                </div>

                            </div>

                            <div class="col-12 col-lg-4 form-right">
                                <div class="box-content bg-white mb-3">
                                    <h4 class="box-title">{{ entry_status }}</h4>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            {% if status == 1 %}
                                                <input type="radio" name="status" checked value="1"
                                                       class="custom-control-input" id="status-publish">
                                            {% else %}
                                                <input type="radio" name="status" value="1" class="custom-control-input"
                                                       id="status-publish">
                                            {% endif %}
                                            <label class="custom-control-label pl-3"
                                                   for="status-publish">{{ entry_status_publish }}̣̣</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            {% if status == 0 %}
                                                <input type="radio" name="status" value="0" checked
                                                       class="custom-control-input" id="status-unpublish">
                                            {% else %}
                                                <input type="radio" name="status" value="0" class="custom-control-input"
                                                       id="status-unpublish">
                                            {% endif %}
                                            <label class="custom-control-label pl-3"
                                                   for="status-unpublish">{{ entry_status_unpublish }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3 pb-3" id="image-section">
                                    {% if count_product_images == 0 %}
                                        <div class="clearfix">
                                            <h4 class="box-title float-left">{{ column_image }}</h4>
                                            <div id="list-images-1" class="upload-button float-right">
                                                {#<label for="file-upload" class="text-primary">{{ column_image_add }}</label>#}
                                                {#<input name="image" id="file-upload" type="file" class="d-none" accept="image/*" />#}
                                                <p class="text-primary pointer file-upload">{{ column_image_add }}</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="clearfix">
                                            <h4 class="box-title float-left">{{ column_image }}</h4>
                                            <div class="upload-button float-right">
                                                <p class="text-primary pointer file-upload">{{ column_image_add }}</p>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if count_product_images == 0 %}
                                        <div id="list-images-2" class="upload-image border p-3 bg-light text-center">
                                            <div class="upload-preview"></div>
                                            <div class="upload-button">
                                                <label class="btn btn-secondary file-upload">Select image</label>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div id="list-images-3" class="upload-preview row">
                                        {% for product_image in product_images %}
                                            <div class="col-6 col-lg-4 mb-3">
                                                <div class="image-item border bg-light text-center rounded-3 img-wrapper">
                                                    <img src="{{ product_image.image }}"
                                                         class="img-responsive text-center">
                                                    <a class="close" aria-label="Close">
                                                        <i class="far fa-times-circle"></i>
                                                    </a>
                                                    <input type="hidden" name="images[]"
                                                           value="{{ product_image.image }}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="box-content bg-white mb-3" id="price-section">
                                    <h4 class="box-title">{{ column_price_title }}</h4>
                                    <div class="form-group row">
                                        <label class="col-12 col-lg-4" for="price">{{ column_price }}<span class="text-danger">*</span></label>
                                        <div class="col-12 col-lg-8">
                                            <div class="input-group">
                                                <input type="text" required maxlength="15" name="price" id="price" value="{{ price }}"
                                                       class="form-control bg-light number-format">
                                                <div class="input-group-append select">
                                                    <select name="price_unit" class="form-control">
                                                        {% for currency in currencies %}
                                                            {% if currency.currency_id == price_unit %}
                                                                <option value="{{ currency['currency_id'] }}"
                                                                        selected="selected">{{ currency['code'] }}</option>
                                                            {% else %}
                                                                <option value="{{ currency['currency_id'] }}">{{ currency['code'] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-lg-4"
                                               for="compare_price">{{ column_price_comparative }}</label>
                                        <div class="col-12 col-lg-8">
                                            <div class="input-group">
                                                <input type="text" maxlength="15" name="compare_price" id="compare_price"
                                                       value="{{ compare_price }}" class="form-control bg-light number-format">
                                                <div class="input-group-append select">
                                                    <select name="compare_price_unit" class="form-control">
                                                        {% for currency in currencies %}
                                                            {% if currency.currency_id==compare_price_unit %}
                                                                <option value="{{ currency['currency_id'] }}"
                                                                        selected="selected">{{ currency['code'] }}</option>
                                                            {% else %}
                                                                <option value="{{ currency['currency_id'] }}">{{ currency['code'] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3" id="tag-section">
                                    <h4 class="box-title">{{ entry_classify }}</h4>

                                    <div class="form-group row">
                                        <label class="col-12 col-lg-4" for="product_kind">{{ entry_classify }}</label>
                                        <div class="col-12 col-lg-8">
                                            <div>
                                                {% set twigVariable = entry_classify %}
                                                <select id="tunglaso1" name="product_filter[]" class="custom-select"
                                                        multiple="multiple">
                                                    {% for each_filter in list_filter %}
                                                        {% if each_filter.filter_id in product_filters_list_id %}
                                                            <option value="filter_{{ each_filter.filter_id }}"
                                                                    selected="selected">{{ each_filter.name }}</option>
                                                        {% else %}
                                                            <option value="filter_{{ each_filter.filter_id }}">{{ each_filter.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-12 col-lg-4" for="provider">{{ entry_supplier }}</label>
                                        <div class="col-12 col-lg-8">
                                            <div>
                                                {% set manufacturerText = entry_supplier %}
                                                <select id="tunglaso2" name="manufacturer" class="custom-select">
                                                    <option value="manufacturer_"> - SELECT - </option>
                                                    {% for each_manufacturer in list_manufacturer %}
                                                        {% if each_manufacturer.manufacturer_id == manufacturer_id %}
                                                            <option value="manufacturer_{{ each_manufacturer.manufacturer_id }}"
                                                                    selected="selected">{{ each_manufacturer.name }}</option>
                                                        {% else %}
                                                            <option value="manufacturer_{{ each_manufacturer.manufacturer_id }}">{{ each_manufacturer.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-lg-4 category_label"
                                               for="categories">{{ entry_category }}</label>
                                        <div class="col-12 col-lg-8">
                                            <div class="form-group select2-search-icon position-relative right mt-3">
                                                <select class="select2 form-control" name="categories[]"
                                                        id="select-category" multiple=""
                                                        data-placeholder="{{ entry_category_select }}">
                                                    {% for category in list_categories %}
                                                        {% if category.category_id in product_categories_list_id %}
                                                            <option value="{{ category.category_id }}"
                                                                    selected="selected">{{ category.name }}</option>
                                                        {% else %}
                                                            <option value="{{ category.category_id }}">{{ category.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <small class="form-text text-muted">{{ entry_category_select_explain }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End row -->
                        <div class="form-footer form-action-fix clearfix col-12 col-lg-10">
                            <div class="float-right right-button">
                                <a href="{{ cancel }}">{{ button_cancel }}</a>
                                <button class="btn btn-brown" type="submit">{{ button_save }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!-- End Main -->
    </div>
    <div id="image-loading"></div>
</div>
<!-- End page wrapper -->
<script type="text/javascript">
    $('document').ready(function () {
        $('#list-images-1').hide();
    });
    $('.file-upload').on('click', function () {
        var $button = $(this);
        var $icon = $button.find('> i');
        var $element = $(this);
        $('#modal-image').remove();

        $.ajax({
            url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token'),
            dataType: 'html',
            beforeSend: function () {
                $button.prop('disabled', true);
                $('#image-loading').show();
                if ($icon.length) {
                    $icon.attr('class', 'fa fa-circle-o-notch fa-spin');
                }
            },
            complete: function () {
                $button.prop('disabled', false);

                if ($icon.length) {
                    $icon.attr('class', 'fa fa-pencil');
                }
            },
            success: function (html) {
                $('body').append('<div id="modal-image" class="modal">' + html + '</div>');

                $('#image-loading').hide();
                $('#modal-image').modal('show');
            }
        });

    });

    $('#list-images-3').on('click', '.close', function () {
        $(this).parent().parent().remove();
        if ($('.image-item').length === 0) {
            $('#list-images-2').show();
            $('#list-images-1').hide();
        }
        if ($('.image-item').length > 0 && $('.image-item').length < 6) {
            $('#list-images-2').hide();
            $('#list-images-1').show();
        }
    });

    //catalog
    $('input[name=\'category\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['name'],
                            value: item['category_id']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'category\']').val('');

            $('#product-category' + item['value']).remove();

            $('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '" /></div>');
        }
    });
    $('input[name=\'filter\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['name'],
                            value: item['filter_id']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'filter\']').val('');

            $('#product-filter' + item['value']).remove();

            $('#product-filter').append('<div id="product-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_filter[]" value="' + item['value'] + '" /></div>');
        }
    });

    $('#product-filter').delegate('.fa-minus-circle', 'click', function () {
        $(this).parent().remove();
    });
    //tunglaso1
    $("#tunglaso1").select2({
        tags: "true",
        placeholder: {
            id: "-1",
            text: "{{ twigVariable }}",
        },
        allowClear: true,
        width: '100%',
        createTag: function (params) {
            var term = $.trim(params.term);

            if (term === '') {
                return null;
            }

            return {
                id: term,
                text: term,
                value: true // add additional parameters
            }
        }
    });
    //tunglaso2
    $("#tunglaso2").select2({
        tags: "true",
        placeholder: {
            id: "-1",
            text: "{{ manufacturerText }}",
        },
        allowClear: true,
        width: '100%',
        createTag: function (params) {
            var term = $.trim(params.term);
            if (term === '') {
                return null;
            }
            return {
                id: term,
                text: term,
                value: true // add additional parameters
            }
        }
    });

    $("#cancel_attribute").click(function () {
        location.reload();
    });

    // validate form
    $('#product-form').bootstrapValidator({
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: '{{ error_input_null }}'
                    },
                    stringLength: {
                        max: 100,
                        min: 1,
                        message: '{{ error_max_length_255 }}'
                    }
                }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: '{{ error_input_null }}'
                    },
                    stringLength: {
                        max: 5000,
                        min: 1,
                        message: '{{ error_max_length_255 }}'
                    }
                }
            },
            sku: {
                validators: {
                    notEmpty: {
                        message: '{{ error_input_null }}'
                    },
                    stringLength: {
                        max: 15,
                        min: 1,
                        message: '{{ error_max_length_255 }}'
                    }
                }
            },
            barcode: {
                validators: {
                    notEmpty: {
                        message: '{{ error_input_null }}'
                    },
                    stringLength: {
                        max: 255,
                        min: 1,
                        message: '{{ error_max_length_255 }}'
                    }
                }
            }
        }
    });
</script>
<style type="text/css">
    .select2-selection__clear {
        display: none !important;
    }

    .img-wrapper {
        border: 1px solid #e8eef7;
        width: 100px;
        height: 100px;
        display: flex;
    }

    .img-wrapper:hover {
        border: 2px solid #428cf4;
    }

    .img-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    .select2-results__options {
        overflow-y: scroll;
        max-height: 200px;
    }

    .category_label {
        padding-top: 20px;
    }
</style>
