<table class="table table-with-operation product-list">
    <thead>
    <tr>
        {% if access_modify %}
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ text_options }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ receive }}"
                       id="receive">{{ txt_receipted_checkbox }}</a>
                    <a class="dropdown-item" href="{{ delete }}"
                       id="cancel">{{ txt_cancel_checkbox }}</a>
                </div>
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        {% endif %}
        <th scope="col">{{ txt_store_receipt_code }}</th>
        <th scope="col">{{ txt_store_receipt_manufacturer }}</th>
        <th scope="col">{{ txt_store_receipt_branch }}</th>
        <th scope="col">{{ txt_store_receipt_status }}</th>
        <th scope="col">{{ txt_store_receipt_total_to_pay }}</th>
        <th scope="col">{{ txt_store_receipt_owed }}</th>
        <th scope="col">{{ txt_store_receipt_created_at }}</th>
    </tr>
    </thead>
    <tbody>
    {% if store_receipts %}
        {% for store_receipt in store_receipts %}
            <tr>
                {% if access_modify %}
                <td scope="select-this" data-id="{{ store_receipt.store_receipt_id }}">
                    <label class="checkbox">
                        <input type="checkbox" name="select_this" value="1">
                        <span></span>
                    </label>
                </td>
                {% endif %}
                <td>
                    <a title="{{ store_receipt.store_receipt_code }}" href="{{ store_receipt.edit }}">
                        <p class="mb-0">
                            <span>{{ store_receipt.store_receipt_code }}</span><br>
                        </p>
                    </a>
                </td>
                <td><span>{{ store_receipt.manufacturer|length > 40 ? store_receipt.manufacturer|slice(0, 40) ~ '...' : store_receipt.manufacturer }}</span></td>
                <td>{{ store_receipt.branch }}</td>
                <td><button class="btn-status {% if store_receipt.status == 1 %}btn-manufacturer-active{% else %}btn-manufacturer-pause{% endif %}" type="button">{{ store_receipt.text }}</button></td>
                <td>{{ store_receipt.total_to_pay }}&#8363;</td>
                <td>{{ store_receipt.owed }}&#8363;</td>
                <td>{{ store_receipt.created_at | date("d/m/Y H:i") }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>
<style>
    .btn-status{
        border-radius: 2030px;
        font-size: 12px;
        border: none;
        color: #212B36;
        line-height: 20px;
        padding: 0 10px;
    }

    .btn-manufacturer-active {
        background: #BBE5B3;
    }

    .btn-manufacturer-pause {
        background: #FDAC9A;
    }
</style>
<!-- End Modal -->
<script type="text/javascript">

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function () {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });
</script>
<script type="text/javascript">
    //version 1.3 add
    $('select.select2-selection').select2({
        theme: 'bootstrap4',
        // dropdownParent: $('.collection-select .select-2-dropdown-collection'),
        // containerCssClass: 'col',
        placeholder: "{{ choose_filter }}"
    });

    $('#cancel').on('click', function (event) {
        event.preventDefault();
        var pauseUrl = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        var confirm_label = '{{ txt_heading_cancel }}';

        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);

        $("#confirm-product").modal('show');
        $("#confirm-product h4").text(confirm_label);
        $("#confirm-product .note-confirm").html('{{ txt_cancel_content }}');

        $(".confirm").on("click", function () {
            var url = pauseUrl + '&store_receipt_ids=' + selected.join(',');
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });

    $('#receive').on('click', function (event) {
        event.preventDefault();
        var activeUrl = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        var confirm_label = '{{ txt_heading_receipt }}';
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);

        $("#confirm-product").modal('show');
        $("#confirm-product h4").text(confirm_label);
        $("#confirm-product .note-confirm").html('{{ txt_receipt_content }}');

        $(".confirm").on("click", function () {
            var url = activeUrl + '&store_receipt_ids=' + selected.join(',');
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });
</script>