<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th scope="col">{{ txt_store_transfer_receipt_code }}</th>
        <th scope="col">{{ txt_store_transfer_receipt_store_from }}</th>
        <th scope="col">{{ txt_store_transfer_receipt_store_to }}</th>
        <th scope="col">{{ txt_store_transfer_receipt_date_exported }}</th>
        <th scope="col">{{ txt_store_transfer_receipt_date_imported }}</th>
        <th scope="col">{{ txt_store_transfer_receipt_total }}</th>
        <th scope="col">{{ txt_store_transfer_receipt_status }}</th>
    </tr>
    </thead>
    <tbody>
    {% if store_transfer_receipts %}
        {% for store_transfer_receipt in store_transfer_receipts %}
            <tr>
                <td>
                    <a title="{{ store_transfer_receipt.code }}" href="{{ store_transfer_receipt.edit }}">
                        <p class="mb-0">
                            <span>{{ store_transfer_receipt.code }}</span><br>
                        </p>
                    </a>
                </td>
                <td>{{ store_transfer_receipt.export_store }}</td>
                <td>{{ store_transfer_receipt.import_store }}</td>
                <td>
                    {% if(store_transfer_receipt.status == 0) or (store_transfer_receipt.date_exported and store_transfer_receipt.date_exported == '0000-00-00') %}
                        --
                    {% else %}
                    {{ store_transfer_receipt.date_exported ? store_transfer_receipt.date_exported | date("d/m/Y") : '--' }}
                    {% endif %}
                </td>
                <td>{{ store_transfer_receipt.date_imported ? store_transfer_receipt.date_imported | date("d/m/Y") : '--' }}</td>
                <td>{{ store_transfer_receipt.total }}&#8363;</td>
                <td>
                    <div class="dropdown receipt-status"
                         id="receipt-badge-{{ store_transfer_receipt.status }}">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" href="" role="button" id="dropdownMenuLink_{{ store_transfer_receipt.code }}"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ store_transfer_receipt.description_status }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_{{ store_transfer_receipt.code }}">
                                {% for receipt_status in store_transfer_receipt.store_transfer_receipt_status %}
                                    <a class="dropdown-item" href="#"
                                       name="receipt-status-{{ store_transfer_receipt.store_transfer_receipt_id }}-{{ receipt_status['receipt_status_id'] }}">
                                        {{ receipt_status['receipt_status_description'] }}</a>

                                    {#modal#}
                                    <a hidden class="dropdown-item" href="#"
                                       data-toggle="modal"
                                       id="receipt-status-{{ store_transfer_receipt.store_transfer_receipt_id }}-{{ receipt_status['receipt_status_id'] }}"
                                       data-target="#updateReceiptStatus">{{ receipt_status['order_status_description'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>
<style>
    .btn-status{
        border-radius: 2030px;
        font-size: 12px;
        border: none;
        color: #212B36;
        line-height: 20px;
        padding: 0 10px;
    }

    .btn-manufacturer-active {
        background: #BBE5B3;
    }

    .btn-manufacturer-pause {
        background: #FDAC9A;
    }
    .receipt-status a.btn {
        border-radius: 25px;
        font-size: 12px;
        border: none;
        color: #212B36;
        line-height: 20px;
        padding: 0 10px;
        min-width: 100px;
    }

    .receipt-status .dropdown-menu>a {
        line-height: 22px;
        border-radius: 0;
        padding: 0 15px;
    }

    .receipt-status#receipt-badge-0 a.btn {
        background: #DFE3E8;
    }
    .receipt-status#receipt-badge-1 a.btn {
        background: #B4E0FA;
    }
    .receipt-status#receipt-badge-2 a.btn {
        background: #BBE5B3;
    }
    .receipt-status#receipt-badge-9 a.btn {
        background: #FDAC9A;
    }
</style>
<!-- End Modal -->
<script type="text/javascript">

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function () {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
        $(this).attr('href', url);
    });
</script>
<script type="text/javascript">
    //version 1.3 add
    $('select.select2-selection').select2({
        theme: 'bootstrap4',
        // dropdownParent: $('.collection-select .select-2-dropdown-collection'),
        // containerCssClass: 'col',
        placeholder: "{{ choose_filter }}"
    });

    $('#cancel').on('click', function (event) {
        event.preventDefault();
        var pauseUrl = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        var confirm_label = '{{ txt_heading_cancel }}';

        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);

        $("#confirm-product").modal('show');
        $("#confirm-product h4").text(confirm_label);
        $("#confirm-product .note-confirm").html('{{ txt_cancel_content }}');

        $(".confirm").on("click", function () {
            var url = pauseUrl + '&store_transfer_receipt_ids=' + selected.join(',');
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });

    $('#receive').on('click', function (event) {
        event.preventDefault();
        var activeUrl = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        var confirm_label = '{{ txt_heading_receipt }}';
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);

        $("#confirm-product").modal('show');
        $("#confirm-product h4").text(confirm_label);
        $("#confirm-product .note-confirm").html('{{ txt_receipt_content }}');

        $(".confirm").on("click", function () {
            var url = activeUrl + '&store_transfer_receipt_ids=' + selected.join(',');
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });

    /* handle on quick order status clicked */
    // receipt-status-[receipt_id]-[receipt_status_id]
    $('a[name^="receipt-status-"]').on('click', function (e) {
        e.preventDefault();
        var name = $(this).attr('name');
        var tmp = name.replace('receipt-status-', '').split('-');
        var receiptId = tmp[0];
        var receiptStatusId = tmp[1];

        // update value to temp modal
        $('div[name="temp-data"] > input[name="receiptId"]').val(receiptId);
        $('div[name="temp-data"] > input[name="receiptStatusId"]').val(receiptStatusId);

        var headingModal = '';
        var bodyModal = '';

        if (receiptStatusId && receiptStatusId != undefined && receiptStatusId != '') {
            switch (receiptStatusId) {
                case '1':
                    updateOrderStatus();
                    break;
                case '2':
                    headingModal = '{{ text_confirm_received }}';
                    bodyModal = '{{ warning_change_status_received }}'
                    break;
                case '9':
                    headingModal = '{{ text_confirm_cancel_receipt }}';
                    bodyModal = '{{ warning_change_status_cancel }}'
                    break;
            }
        }

        $('#updateReceiptStatusLabel').html(headingModal);
        $('#bodyModalUpdateReceiptStatus').html(bodyModal);

        // click to show modal
        if (receiptStatusId && receiptStatusId != undefined && receiptStatusId != '' && receiptStatusId != '1') {
            $('a[id="' + name + '"]').click();
        }
    });
</script>