{{ custom_header }}
<div class="page-wrapper">
  <div class="content-wrapper row m-0">
    {{ custom_column_left }}
    <main class="main-wrap col-12 col-lg-10 p-0">
      <div class="main-content">
        <div class="sub-head clearfix pb-3">
          <h1 class="page-title float-left">
            {{ heading_title }}
          </h1>
          {% if access_modify %}
          <a class="advance-link btn float-right" href="{{ add }}" data-toggle="modal">{{ text_add_list }}</a>
          {% endif %}
        </div>
        {% if error_warning %}
          <div class="alert alert-danger alert-dismissible mt-2"><i
                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success alert-dismissible mt-2"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}
        <div class="box-wrap">
          <div class="box-head">
            <div class="nav nav-tabs" id="order-form-tab" role="tablist">
              <a class="active">{{ heading_title_list }}</a>
            </div>
          </div>
          <div class="box-content">
            <form class="filter-form order-filter clearfix product-form-validate mb-0"
                  action="{{ action_search }}">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group search-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-light dropdown-toggle" style=" width: 45%;"
                              type="button">{{ is_on_mobile ? action_filter : store_receipt_filter }}</button>
                      <div class="dropdown-menu p-0 p-3 font-12">
                        <div class="form-group">
                          <label>{{ text_filter_method }}</label>
                          <select class="form-control form-control-sm select2 category_id"
                                  id="category_id"
                                  data-label="{{ method_filter }}"
                                  name="category_id">
                            <option value="" disabled="disabled" selected="true">
                              {{ choose_filter }}
                            </option>
                            <option value="1" data-value="">
                              {{ text_created_at_filter }}
                            </option>
                            <option value="2" data-value="">
                              {{ text_manufacturer_filter }}
                            </option>
                            <option value="3" data-value="">
                              {{ filter_status }}
                            </option>
                          </select>
                        </div>

                        <div id="image-loading" style="position: absolute;left: 25%;"></div>
                        <div id="showoptionone"></div>
                        <div role="separator" class="dropdown-divider"></div>
                        <button type="button" id="filter_button"
                                class="btn btn-info font-12">{{ action_filter }}</button>
                      </div>
                      {# search #}
                      <div class="input-group-icon">
                        <i class="icon icon-search"></i>
                        <input type="text" id="filter_name"
                               class="form-control search-input-icon" style="width:auto"
                               placeholder="{{ store_receipt_search }}">
                      </div>
                    </div>
                  </div>
                </div> <!-- End row -->
                <div class="filter-item">
                  {# Handle when url has filter_status param #}
                  {% if filter_store_receipt_status %}
                    {% for status in filter_store_receipt_status %}
                      <div class="item bg-light p-2 rounded-3 mr-2 my-2 d-inline-block" data-id="filter_status"
                           id="filter_status">
                        {{ filter_status }}:
                        {% if status == 0 %}
                          {{ txt_delivering }}
                        {% endif %}
                        {% if status == 1 %}
                          {{ txt_receipted }}
                        {% endif %}
                        <input type="hidden" data-element="filter_status{{ status }}[]" name="filter_status[]"
                               value="{{ status }}">
                        <a href="javascript:void(0)" class="remove-item font-20 lineheight-1 ml-3" aria-hidden="true">&times;</a>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </form> <!-- End form filter -->
          </div>
          <div class="box-content pt-0">
            <div class="tab-content">
              <div id="product-content" class="not-choose-product-list">
                {% include 'catalog/store_receipt_list_append.twig' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade" id="confirm-product" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header" style="display: block">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                      class="sr-only">{{ text_close }}</span></button>
            <h4 class="modal-title text-uppercase" id="confirm-label"></h4>
          </div>
          <div class="modal-body">
            <p class="note-confirm"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss"
                    data-dismiss="modal">{{ txt_cancel }}</button>
            <button type="button" class="btn btn-pink btn-danger confirm"
                    data-dismiss="modal">{{ txt_confirm }}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal result action -->
    <div class="modal fade" id="result-action" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="container">
              <table class="table">
                <thead>
                <tr>
                  <th class="font-14 font-weight-500 pl-0" width="120px">{{ text_manufacturer_code }}</th>
                  <th class="font-14 font-weight-500 pl-0" width="130px">{{ text_manufacturer_result }}</th>
                  <th class="font-14 font-weight-500 pl-0">{{ text_manufacturer_reason }}</th>
                </tr>
                </thead>
                <tbody class="font-14"></tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-border-yellow dismiss"
                    data-dismiss="modal">{{ txt_cancel }}</button>
          </div>
        </div>
      </div>
    </div>
    <div id="image-loading"></div>
  </div>
</div>
{{ footer }}

<script type="text/javascript">
  $('.category_id').change(function (event) {
    $('.order-filter #image-loading').show();
    categoryID = $('.category_id').val();
    $.post('{{ loadOptionOne | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {'categoryID': categoryID, 'flag': true}, function (data) {
      $('.order-filter #image-loading').hide();
      $('#showoptionone').html(data).promise().done(function(){

        $('select.select2').each(function(index, el) {
          $(this).wrap("<div class='select-2-container position-relative"+($(this).attr('data-tags') ? " select2-tag" : '' )+"'></div>");
          $(this).css('width', '100%');
          $(this).after('<div class="select-2-wrapper '+($(this).attr('multiple') ? 'multiple' : 'single' )+'"></div>');
          $(this).select2({
            theme: 'bootstrap4',
            dropdownParent: $(this).parent().find('>.select-2-wrapper'),
            placeholder: $(this).attr('data-placeholder'),
            tags: $(this).attr('data-tags'),
            minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
            closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true)
          });
        });
      });
    })
  });

  /* html class gen by backend */
  $('.action-popup').on('click', function (event) {
    var store_receipts = [];
    {% if (store_receipts_action is not null) and (store_receipts_action is not empty) %}
      store_receipts = {{ store_receipts_action }};
    {% endif %}
    var html = '';
    if (store_receipts.length) {
      for (store_receipt in store_receipts) {
        var code = store_receipts[store_receipt].code;
        var status = store_receipts[store_receipt].status;
        var is_active = (status == '{{ text_success }}') ? 'text-yellow' : '';
        var message = (store_receipts[store_receipt].message.length > 75) ? store_receipts[store_receipt].message.substring(0, 75) + '...' : store_receipts[store_receipt].message;
        html += '<tr>\n' +
                '       <td class="font-weight-bold">' + code + '</td>\n' +
                '       <td class="' + is_active + '">' + status + '</td>\n' +
                '       <td title="' + store_receipts[store_receipt].message + '">' + message + '</td>\n' +
                '</tr>';
      }
    }
    else{
      html += '<tr>\n' +
              '    <td colspan="4" class="font-13 font-weight-500 pl-0">'+ '{{ text_no_results }}' +'</td>\n' +
              '  </tr>';
    }
    $("#result-action .modal-body tbody").html(html);

    $("#result-action").modal('show');

    $(".dismiss").on("click", function () {
      $("#result-action").modal('hide');
    });
  });

  $(document).keypress(function (e) {
    if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
      event.preventDefault();
      filter();
    }
  });

  //ajax load new page
  $('body').on('click', '.page-link', function (e) {
    e.preventDefault();
    var href = $(this).attr('href');
    if (typeof href != 'undefined') {
      var page = $(this).attr('data-page');
      filter(page);
      $('html, body').animate({
        scrollTop: ($('#product-content').offset().top)
      }, 300);
    }
  });

  //filter
  function filter(page = 1, remove_item = true) {
    var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

    /* search text box */
    var filter_name = $('#filter_name').val();

    var filter_created_at_type = $('.filter-item input[name^=filter_created_at_type]').val();
    var start, end;
    switch (filter_created_at_type) {
      case "today":
        start = moment().format('YYYY-MM-DD 00:00:00');
        end = moment().format('YYYY-MM-DD HH:mm:ss');
        break;
      case "week":
        start = moment().startOf('isoWeek').format('YYYY-MM-DD 00:00:00');
        end = moment().format('YYYY-MM-DD HH:mm:ss');
        break;
      case "month":
        start = moment().startOf('month').format('YYYY-MM-DD 00:00:00');
        end = moment().format('YYYY-MM-DD HH:mm:ss');
        break;
      default:
        if (filter_created_at_type) {
          var created_at = filter_created_at_type.split('-');
          var from_date = created_at[0].trim();
          var to_date = created_at[1].trim();
          from_date = from_date.split('/').reverse().join('/');
          to_date = to_date.split('/').reverse().join('/');
          start = moment(from_date).format('YYYY-MM-DD 00:00:00');
          end = moment(to_date).format('YYYY-MM-DD 23:59:59');
        }
        break;
    }
    // var end_time = $('#date_to').val();

    var filter_status = $('.filter-item input[name^=filter_status]').map(function(idx, elem) {
      return $(elem).val();
    }).get();

    var filter_manufacturer = $('.filter-item input[name^=filter_manufacturer]').map(function (idx, elem) {
      return $(elem).val();
    }).get();

    if (!remove_item && filter_status.length < 1 && $('.filter-form select[name^=filter_status]').length) {
      $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
      return;
    }

    if (!remove_item && filter_manufacturer.length < 1 && $('.filter-form select[name^=filter_manufacturer]').length) {
      $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
      return;
    }

    if (!remove_item && !filter_created_at_type && $('.filter-form select[name^=filter_created_at_type]').length) {
      $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
      return;
    }

    $.ajax({
      url: url,
      method: 'GET',
      data: {
        filter_data: true,
        filter_name: filter_name,
        filter_status: filter_status,
        filter_manufacturer: filter_manufacturer,
        start_time: start,
        end_time: end,
        page: page
      },
      beforeSend: function () {
        $('#image-loading').show();
        $('.dropdown-menu').removeClass('show');
      },
      success: function (html) {
        $('#product-content').html(html);
        $('#image-loading').hide();
        $('.filter-form .select2-container--bootstrap4 .select2-selection').css('border', '1px solid #ced4da');
        $('.filter-form input').css('border', '1px solid #ced4da');
      }
    });
  }

  jQuery(document).on('select2:select', '.select2', function () {
    var data = $(this).select2('data');
    var id = data[0].id.trim();

    if (id == "option") {
      jQuery('.filter_created_at_value').removeClass('d-none');
    } else {
      jQuery('.filter_created_at_value').addClass('d-none');
    }
  });

  $(document).on('focusin','.date-picker', function () {
    $(this).datetimepicker({
      format: 'l',
      locale: 'vi',
      icons: {
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
      }
    });
  });
</script>
<style type="text/css">
  .select2-container{
    width: 100%!important;
  }
</style>