{{ custom_header }}
<!-- End header -->
<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0 mobile-space">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="box-wrap bg-none">
                    <form action="{{ action }}" method="post" class="section-form form-fix-head" id="store-take-receipt-form">
                        <input type="hidden" name="pre_status" value="{{ receipt_status }}">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">{{ text_form }}</h1>
                                {#{% if receipt_status != '1' %}#}
                                {% if access_modify %}
                                    <div class="btn-group float-right">
                                        <button type="submit" name="submit_type" value="apply" id="balance-store" class="btn btn-pink button-submit">{{ btn_balance_warehouse }}</button>
                                        <button type="button" class="btn btn-pink dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                data-offset="0, 10">
                                            <span class="sr-only"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            {% if receipt_status is defined  %}
                                                <button class="dropdown-item button-submit save-and-approved" type="submit" name="submit_type" value="apply">{{ btn_balance_warehouse }}</button>
                                                <button class="dropdown-item button-submit" name="submit_type" value="draft" type="submit">{{ btn_draft }}</button>
                                                <button class="dropdown-item button-submit" name="submit_type" value="cancel" type="submit">{{ btn_receipt_cancel }}</button>
                                            {% else %}
                                                <button class="dropdown-item button-submit save-and-approved" type="submit" name="submit_type" value="apply">{{ btn_balance_warehouse }}</button>
                                                <button class="dropdown-item button-submit" name="submit_type" value="draft" type="submit">{{ btn_draft }}</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                    <a href="{{ cancel }}" href="javascript:void(0)" class="btn btn-light float-right border bg-white  mr-2">{{ button_cancel }}</a>
                                {#{% endif %}#}
                            </div>
                        </div>
                        <span class="mb-5" style="color: #495057">{{ text_check_goods_note }}</span>
                        <br>
                        {% if receipt_status == 9 %}<p class="text-danger">{{ text_receipt_canceled }}</p>{% endif %}
                        {% if error_warning %}
                            <br>
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <div class="box-content bg-white mb-3">
                            <div class="form-group row">
                                <div class="col-12 col-lg-6 mt-2">
                                    <div class="d-flex">
                                        <span class="select2-label">{{ entry_store }}</span>
                                        <div class="w-100">
                                            <select class="form-control select2-store" id="select-store"
                                                    name="take_receipt_store"
                                                    data-placeholder="{{ entry_store_placeholder }}">
                                            </select>
                                            <div class="select-2-dropdown-take-receipt-store"></div>
                                            <span class="text-danger" style="display: none" id="warning-choice-store">{{ warning_select_store }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mt-2">
                                    <div class="d-flex">
                                        <span class="select2-label">{{ entry_product }}</span>
                                        <div class="w-100">
                                            <select class="form-control select2-product" id="select-product" data-placeholder="{{ entry_product_placeholder }}" multiple>
                                                {% for product in receipt_products %}
                                                    <option value="{{ product['pvid'] }}" selected></option>
                                                {% endfor %}
                                            </select>
                                            <div class="select-2-dropdown-take-receipt-store-product"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="list-product">
                                <table class="table table-responsive table-products font-14">
                                    <thead>
                                    <tr>
                                        <th class="col text-center" style="width: 60px">SKU</th>
                                        <th class="col text-center">{{ entry_product }}</th>
                                        <th class="col text-center" style="min-width: 120px">{{ entry_inventory }}</th>
                                        <th class="col text-center" style="min-width: 150px">{{ entry_real_inventory }}</th>
                                        <th class="col text-center" style="min-width: 120px">{{ entry_diff_value }}</th>
                                        <th class="col text-center" style="min-width: 300px">{{ entry_reason }}</th>
                                        <th class="col" style="min-width: 120px">{{ entry_goods_checked }}
                                            <label class="checkbox" style="vertical-align: middle">
                                                <input type="checkbox" class="select-all" {{  receipt_status == 1 ? 'checked' : '' }} name="select_all" value="1">
                                                <span></span>
                                            </label></th>
                                        <th class="col p-0"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in receipt_products %}
                                        <tr data-id="{{ product.pvid }}"><td class="w-product-check product-check-{{ product.pvid }}" colspan="8"><span class="text-danger">{{ warning_product_not_checked }}</span></td></tr>
                                        {% if product['deleted'] == 1 %}
                                            <tr data-id="{{ product.pvid }}"><td class="w-product-deleted" colspan="8"><span class="text-danger">{{ warning_product_delete }}</span></td></tr>
                                        {% endif %}
                                        <tr class="receipt-products" data-id="{{ product.pvid }}">
                                            <input class="text-center" type="hidden" name="product_version_id[]" value="{{ product.pvid }}">
                                            <input class="text-center" type="hidden" name="product_pre_quantity[]" value="{{ product.inventory_quantity }}">
                                            <td class="text-center" title="{{ product.sku }}">{{ product.sku|length > 12 ? product.sku|slice(0, 12) ~ '...' : product.sku }}</td>
                                            <td class="product-name text-center" title="{{ product.name }}">{{ product.name|length > 20 ? product.name|slice(0, 20) ~ '...' : product.name }}</td>
                                            <td class="form-group text-center">{{ product.inventory_quantity|number_format(0, '.', ',') }}</td>
                                            <td class="form-group text-center"><input data-quantity="{{ product.inventory_quantity }}" data-price="{{ product.cost_price }}" type="text" name="product_quantity[]" value="{{ product.actual_quantity }}" width="20px" class="form-control number-max-7" maxlength="7"/></td>
                                            <td class="form-group text-center differences-value">{{ product.differences_value|number_format(0, '.', ',') }}</td>
                                            <input type="hidden" name="differences_value[]" value="{{ product.differences_value }}">
                                            <td class="form-group text-center" title="{{ product.reason }}"><input type="text" name="reason[]" value="{{ product.reason }}" class="form-control" maxlength="255"></td>
                                            <td class="form-group">
                                                <label class="checkbox pl-5" data-validate="true" name="select_this[]">
                                                    <input type="checkbox" data-id="{{ product.pvid }}" {{  receipt_status == 1 ? 'checked' : '' }} class="select-this" value="1">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td class="remove-product text-center pointer" data-id="{{ product.pvid }}"><i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" name="user_create_id" value="{{ user_create_id }}">
                    </form>
                    <div style="position: absolute; bottom: 0px">
                        <p>{{ text_note_inventory }}</p>
                        <p>{{ text_note_actual }}</p>
                        <p>{{ text_note_diff_values }}</p>
                    </div>
                </div> <!-- End box-wrap -->
            </div> <!-- End main-content -->
        </main>
        <!-- End Main -->
    </div>
    <div id="image-loading"></div>
</div>
<!-- End page wrapper -->

{{ footer }}
<style>
    .select2-label {
        min-width: 80px;
        padding-top: 10px;
    }

    @media screen and (max-width: 767px) {
        .mobile-space {margin-top:77px;}
    }

    .select2-search--inline::before, .select2-selection__choice{
        display: none!important;
    }

    .select-2-dropdown-take-receipt-store-product .select2-results__options{
        max-height: 250px;
        overflow: scroll;
    }

    .select-2-dropdown-take-receipt-store .select2-results__options{
        max-height: 250px;
        overflow: scroll;
    }
    .receipt-products{
        vertical-align: middle!important;
    }
    .w-product-check{
        border-bottom: none!important;
        display: none;
    }
    .w-product-deleted{
        border-bottom: none!important;
    }
    .table thead th, .table td {
        vertical-align: initial;
    }
</style>
<script type="text/javascript">
    {% if receipt_status == 1 or receipt_status == 9 %}
        $("#store-take-receipt-form :input").prop("disabled", true);
        $('#store-take-receipt-form .remove-product').hide();
    {% endif %}


    $('#store-take-receipt-form').bind('keydown', function(e) {
        if (e.keyCode == 13) {
            e.preventDefault();
        }
    });
    // select2-store
    $('select.select2-store').select2({
        // theme: 'bootstrap4',
        theme: 'bootstrap4',
        dropdownParent: $('#store-take-receipt-form .select-2-dropdown-take-receipt-store'),
        containerCssClass: 'col',
        closeOnSelect: true,
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        ajax: {
            url: "index.php?route=catalog/store_take_receipt/getStoreLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    }).on('select2:open', function (e) {
    }).on('select2:select', function (e) {
        $('#warning-choice-store').hide();
    });

    {% if receipt_store_selected is defined %}
        updateCurrentSelect2($('select.select2-store'), JSON.parse('{{ receipt_store_selected|replace({"'": "\\'" , '"': '\\"'}) }}'));
    {% endif %}

    function updateCurrentSelect2(element, datas) {
        for (var i = 0; i < datas.length; i++) {
            if (element.find("option[value='" + datas[i].id + "']").length == 0) {
                var newOption = new Option(datas[i].title, datas[i].id, true, true);
                element.append(newOption);
            }
            element.trigger('change');
        }
    }

    // select2-product
    $('select.select2-product').select2({
        theme: 'bootstrap4',
        dropdownParent: $('#store-take-receipt-form .select-2-dropdown-take-receipt-store-product'),
        containerCssClass: 'col',
        multiple: true,
        templateResult: formatCustom,
        closeOnSelect: false,
        language: {
            "noResults": function(){
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=catalog/store_take_receipt/getProductsLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1,
                    store: $('#select-store').val()
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    }).on('select2:open', function (e) {
    }).on('select2:opening', function (e) {
        var store_id = $('#select-store').val();
        if ($.trim(store_id) == ''){
            $('#warning-choice-store').show();
            e.preventDefault();
        }
    });

    function formatCustom(state) {
        var sub_name = '';
        if(state.subname){
            sub_name = state.subname;
        }
        return $(
            '<div><div>' + state.text + '</div><div class="foo">' + sub_name + '</div></div>'
        );
    }

    $('select.select2-product').on('select2:select', function(e) {
        var selected = e.params.data;
        if (!selected){
            return
        }
        var product_name = selected.product_name;
        if (selected.version){
            product_name = product_name + '(' + selected.version + ')';
        }
        var title_product_name = product_name;

        if (product_name.length > 20){
            product_name = product_name.slice(0, 20) + '...';
        }

        var sku = selected.sku ? selected.sku : '';
        var title_sku = sku;

        if (sku.length > 12) {
            sku = sku.slice(0, 12) + '...';
        }
        var quantity = parseInt(selected.quantity);
        quantity = quantity.toLocaleString('en');

        if ($('tr[data-id="' + selected.id + '"]').length > 0){
            return;
        }
        $('#list-product tbody').append('<tr data-id="' + selected.id + '"><td class="w-product-check product-check-' + selected.id  + '" colspan="8"><span class="text-danger">{{ warning_product_not_checked }}</span></td></tr>' +
            '<tr class="receipt-products" data-id="' + selected.id + '">\n' +
            '                                            <input class="text-center" type="hidden" name="product_version_id[]" value="' + selected.id + '">\n' +
            '                                            <input class="text-center" type="hidden" name="product_pre_quantity[]" value="' + selected.quantity + '">\n' +
            '                                            <td class="text-center" title="' + title_sku + '">' + sku +'</td>\n' +
            '                                            <td class="product-name text-center" title="' + title_product_name + '">' + product_name + '</td>\n' +
            '                                            <td class="form-group text-center">' + quantity + '</td>\n' +
            '                                            <td class="form-group text-center"><input data-quantity="' + selected.quantity + '" data-price="' + selected.cost_price + '" type="text" name="product_quantity[]" value="' + selected.quantity + '" width="20px" class="form-control number-max-7" maxlength="7"/></td>\n' +
            '                                            <td class="form-group text-center differences-value">0</td>\n' +
            '                                            <input type="hidden" name="differences_value[]">\n' +
            '                                            <td class="form-group text-center"><input type="text" name="reason[]" class="form-control" maxlength="255"></td>\n' +
            '                                            <td class="form-group">\n' +
            '                                                <label class="checkbox pl-5" data-validate="true" name="select_this[]">\n' +
            '                                                    <input type="checkbox" data-id="' + selected.id + '" class="select-this" value="1">\n' +
            '                                                    <span></span>\n' +
            '                                                </label>\n' +
            '                                            </td>\n' +
            '                                            <td class="remove-product text-center pointer" data-id="' + selected.id + '"><i class="fas fa-trash-alt"></i></td>\n' +
            '                                        </tr>');

        var validator = $('#store-take-receipt-form').data('bootstrapValidator');
        validator.addField($('tr[data-id="' + selected.id + '"] input[name="product_quantity[]"]'));
        checkBoxStatus();
    });

    $('select.select2-product').on('select2:unselect', function(e) {
        var unselected = e.params.data;
        if (!unselected){
            return;
        }
        $('tr[data-id="' + unselected.id + '"]').remove();
        checkBoxStatus();
    });

    $('.select2-store').on('select2:selecting', function (e) {
        var count_selected = $('#list-product .receipt-products').length;
        count_selected = parseInt(count_selected) || 0;
        if (count_selected > 0){
            if (confirm('{{ warning_change_store }}')) {
                $('#list-product tbody').html('');
                $('.select2-product').val(null).trigger('change');
                checkBoxStatus();
            }else{
                e.preventDefault();
                return;
            }
        }
    });

    $('#list-product').on('click', '.remove-product', function (e) {
        {% if receipt_status == 1 or receipt_status == 9 %}
            e.preventDefault();
            return;
        {% endif %}
        var pvid = $(this).attr('data-id');
        $('tr[data-id="' + pvid + '"]').remove();
        $('.select2-product option[value="'+ pvid +'"]').prop('selected', false).trigger('change');
        checkBoxStatus();
    });

    $('#store-take-receipt-form').on('change', '.select-all', function() {
        $('#store-take-receipt-form').find('.select-this').prop('checked', $(this).prop("checked")).trigger('change');
    });
    $('#store-take-receipt-form').on('change', '.select-this', function(){
        checkBoxStatus();
    });

    function checkBoxStatus() {
        if($('#store-take-receipt-form .select-this:checked').length == $('#store-take-receipt-form .select-this').length && $('#store-take-receipt-form .select-this').length != 0){
            $('#store-take-receipt-form .select-all').prop('checked',true);
        }else{
            $('#store-take-receipt-form .select-all').prop('checked',false);
        }
    }

    $('#store-take-receipt-form').on('change keyup', 'input[name^="product_quantity[]"]', function (e) {
        var real_quantity = $(this).val();
        real_quantity = parseInt(extract_number(real_quantity))|| 0;
        var quantity = $(this).attr('data-quantity');
        quantity = parseInt(extract_number(quantity));
        var price = $(this).attr('data-price');
        price = parseFloat(extract_number(price))|| 0;

        var differences_value = (real_quantity - quantity) * price;
        differences_value = differences_value == -0 ? 0 : differences_value;

        $(this).parent().parent().find('.differences-value').html(differences_value.toLocaleString('en'));
        $(this).parent().parent().find('input[name^="differences_value[]"]').val(differences_value);
    });

    $('#list-product').on('change', '.select-this', function () {
        var pvid = $(this).attr('data-id');
        if ($(this).prop('checked') === true){
            $('#list-product').find('.product-check-' + pvid).hide();
        }
    });

    $('#store-take-receipt-form').bootstrapValidator({
        fields: {
            'product_quantity[]':{
                validators: {
                    notEmpty: {
                        message: "{{ warning_quantity_input }}"
                    },
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });

    var submit_type = 'apply';
    $('.button-submit').on('click', function (e) {
        submit_type = $(this).val();
        if (submit_type !== 'cancel') {
            if ($('td.w-product-deleted').length > 0) {
                e.preventDefault();
                return;
            }
        }

        if (submit_type === 'apply'){
            if (!confirm('{{ warning_apply }}')) {
                e.preventDefault();
                $('.button-submit').removeAttr('disabled');
            }
        } else if (submit_type === 'cancel') {
            if (!confirm('{{ warning_cancel }}')) {
                e.preventDefault();
                $('.button-submit').removeAttr('disabled');
            }
        }
    });

    $('#store-take-receipt-form').on('submit', function (e) {
        if ($('tr.receipt-products').length < 1){
            alert('{{ txt_select_at_least_1_product }}');
            e.preventDefault();
            return;
        }

        /*// check product
        $('.w-product-check').hide();
        var form_data = $('#store-take-receipt-form').serializeArray();
        var submit_type = 'apply';
        $(form_data).each(function(i, field){
            if (field.name === 'submit_type'){
                submit_type = field.value;
            }
        });*/

        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "type_submit").val(submit_type); // use this field because field submit_type not exactly after some click
        $(':submit').append(input);

        if (submit_type === 'apply'){
            if($('#store-take-receipt-form .select-this:checked').length != $('#store-take-receipt-form .select-this').length){
                $('#store-take-receipt-form .select-this:not(:checked)').each(function () {
                    var pvid = $(this).attr('data-id');
                    $('#list-product').find('.product-check-' + pvid).show();
                });
                e.preventDefault();
                $('.button-submit').removeAttr('disabled');
            }
        }
    });
</script>
