{{ custom_header }}
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            {# INPORTANT #}
            {# INPORTANT: Be carefult when change id or name of below elements due to this script "view/javascript/custom/app.js" use them... #}
            {# INPORTANT #}

            <main class="main-wrap col-12 col-lg-10 p-0 mobile warehouse-list" style="margin-top: 77px">
                <div class="main-content">

                    <div class="sub-head clearfix">
                        <h1 class="page-title float-left">{{ warehouse_setting_title }}</h1>
                    </div>

                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i
                                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    <div class="box-wrap">
                        <div class="box-head">
                            <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                                <a class="active">{{ warehouse_list_title }}</a>
                            </div>
                        </div>

                        <div class="box-content">
                            {# filters and search #}
                            <form class="filter-form order-filter clearfix">
                                <div class="input-group search-group">
                                    {# filters #}
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light dropdown-toggle"
                                                type="button">{{ warehouse_list_filter_mobile }}</button>
                                        <div class="dropdown-menu p-0 p-3 font-12">

                                            <div class="form-group">
                                                <label>{{ filter_list_follow }}</label>
                                                <!--<select class="form-control form-control-sm category_id" data-label="{{ entry_category }}" id="category_id" name="category_id">-->
                                                <select class="form-control form-control-sm select2 category_id" id="category_id" data-label="{{ entry_category }}" required name="category_id">
                                                    <option value="">{{ choose_filter }}</option>
                                                    <option value="1" data-placeholder="{{ filter_status_placeholder }}" data-value="{{ filter_status_text }}">
                                                        {{ filter_status_text }}
                                                    </option>
                                                    <option value="2" data-placeholder="{{ filter_manufacture_placeholder }}" data-value="{{ filter_manufacture_text }}">
                                                        {{ filter_manufacture_text }}
                                                    </option>
                                                    <option value="3" data-placeholder="{{ filter_category_placeholder }}" data-value="{{ filter_category_text }}">
                                                        {{ filter_category_text }}
                                                    </option>
                                                    <option value="4" data-placeholder="{{ filter_tag_placeholder }}" data-value="{{ filter_tag_text }}">
                                                        {{ filter_tag_text }}
                                                    </option>
                                                    <option value="6" data-placeholder="{{ filter_length_product_placeholder }}" data-value="{{ filter_length_product }}">
                                                        {{ filter_length_product }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div id="image-loading" style="position: absolute;left: 25%;"></div>
                                            <div id="showoptionone"></div>
                                            <div id="showoptiontwo" class="form-group d-none hierarchical-child"></div>
                                            <div role="separator" class="dropdown-divider"></div>

                                            <button type="button" id="filter_button"
                                                    class="btn btn-info font-12 btn-pink">{{ warehouse_list_filter_search_button }}</button>
                                        </div>
                                    </div>

                                    {# search #}
                                    <div class="input-group-icon">
                                        <i class="icon icon-search"></i>
                                        <input type="text" class="form-control search-input-icon"
                                               placeholder="{{ warehouse_list_search_placeholder }}">
                                    </div>
                                </div>

                                <div class="filter-item">
                                    {% if amounttype %}
                                        <div class="item bg-light p-2 rounded-3 mr-2 my-2 d-inline-block had_filter"  data-id="amounttype" id="amounttype"> {{ filter_length_product }}: &lt; 1
                                            <input type="hidden" data-element="amounttype2_1[]" name="amounttype[]" value="2_1"> <a href="javascript:void(0)"  class="remove-item font-20 lineheight-1 ml-3" aria-hidden="true">×</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </form>

                            {# list product-warehouses #}
                            <div id="product-content" class="not-choose-product-list">
                                <!-- Update quantity modal for bulk product-warehouses -->
                                {% include 'catalog/warehouse_list_basic_append_mobile.twig' %}
                            </div>
                        </div> <!-- End box content -->
                    </div> <!-- End box wrap -->
                </div> <!-- End main content -->
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>
<div id="image-loading"></div>

<script type="text/javascript">
    $('.category_id').change(function (event) {
        $('.order-filter #image-loading').show();
        categoryID = $('.category_id').val();
        $.post('{{ loadOptionOne | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {'categoryID': categoryID, 'flag': true}, function (data) {
            $('.order-filter #image-loading').hide();
            $('#showoptionone').html(data).promise().done(function(){

                $('select.select2').each(function(index, el) {
                    $(this).wrap("<div class='select-2-container position-relative"+($(this).attr('data-tags') ? " select2-tag" : '' )+"'></div>");
                    $(this).css('width', '100%');
                    $(this).after('<div class="select-2-wrapper '+($(this).attr('multiple') ? 'multiple' : 'single' )+'"></div>');
                    $(this).select2({
                        theme: 'bootstrap4',
                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                        placeholder: $(this).attr('data-placeholder'),
                        tags: $(this).attr('data-tags'),
                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true),
                        templateResult: displayFormatCategory,
                    });
                });

                $('#amounttype').on('select2:select', function (e) {
                    $('#textamount').val("");
                });

                $('#textamount').on('keyup', function (e) {
                    var number = $(this).val();
                    var type = $('.amountoption').val();
                    $('div[data-id="amounttype"]').find('input[data-element="amounttype'+ type +'[]"]').val(type+"_"+number);
                });

            });
        })
    });

    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });

    $(document).keypress(function (e) {
        if (e.which == 13) {  // enter
            event.preventDefault();
            filter();
        }
    });

    /* hide product list in bulk action on init (no selected) */
    $.each($('#list-product-add-quantity-modal tr'), function () {
        $(this).prop('hidden', true);
    });

    /* show message about no product selected bulk quantity update form on init (no selected) */
    $('#no-product-selected').prop('hidden', false);

    /* disable button save on init (no selected) */
    $('#edit-bulk-button').prop('disabled', true);

    $('#updateQuantity input[name="quantity_value"]').on('keyup', function (e) {
        /* get quantity */
        var quantity = $(this).val();
        /* disable button save */
        if (!quantity || quantity == '') {
            $('#edit-bulk-button').prop('disabled', true);
        } else {
            $('#edit-bulk-button').prop('disabled', false);
        }
    });

    /* enable/disable button save if quantity invalid */
    /* has checked $('#updateQuantity input[name="quantity_value"]').on('keyup', function (e) */
    /* TODO remove after check staging */
    // $('body').on('change', '#quantity-value', function () {
    //     if ($(this).val() > (10e8 - 1)) { // remove "$(this).val() < 0": allow quantity negative in warehouse
    //         /* disable button save */
    //         $('#edit-bulk-button').prop('disabled', true);
    //     } else {
    //         /* enable button save */
    //         $('#edit-bulk-button').prop('disabled', false);
    //     }
    // });

    /* disable button save on init (no selected) */
    $('button[name^="edit-button-"]').prop('disabled', true);

    /* enable/disable button save if quantity invalid */
    $('body').on('keyup', 'input[name^="quantity-value-"]', function () {
        var warehouseId = ($(this).attr('name')).replace('quantity-value-', '');
        /* TODO remove after check staging */
        /* has checked if ($(this).val() || $(this).val() == '') */
        /* if ($(this).val() > (10e8 - 1)) { */

        /* get quantity */
        var quantity = $(this).val();
        if (!quantity || quantity == '') { // remove "$(this).val() < 0": allow quantity negative in warehouse
            /* disable button save */
            $('#edit-button-' + warehouseId).prop('disabled', true);
        } else {
            /* enable button save */
            $('#edit-button-' + warehouseId).prop('disabled', false);
        }
    });

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }
    //
    $('body').on('change', 'td[scope="select-this"] input[name="select_this"]', function (e) {
        var warehouseIds = [];
        $.each($('td[scope="select-this"] input[name="select_this"]:checked'), function () {
            warehouseIds.push($(this).val());
        });

        /* hide product list in bulk action */
        $.each($('#list-product-add-quantity-modal tr'), function () {
            if (warehouseIds.indexOf($(this).attr('warehouse_id')) > -1) {
                $(this).prop('hidden', false);
            } else {
                $(this).prop('hidden', true);
            }
        });

        /* show message about no product selected */
        if (warehouseIds.length < 1) {
            $('#no-product-selected').prop('hidden', false);
        } else {
            $('#no-product-selected').prop('hidden', true);
        }

        /* disable button save */
        if (warehouseIds.length < 1) {
            $('#edit-bulk-button').prop('disabled', true);
        } else {
            $('#edit-bulk-button').prop('disabled', false);
        }
    });

    /* handle button edit bulk warehouse quantity */
    $('body').on('click', '#edit-bulk-button', function (e) {
        e.preventDefault();

        /* get list selected warehouses */
        var warehouseIds = [];
        $.each($('td[scope="select-this"] input[name="select_this"]:checked'), function () {
            warehouseIds.push($(this).val());
        });

        /* get quantity method: add or set */
        var quantityMethod = 'add';
        if ($('#set-quantity').prop('checked')) {
            quantityMethod = 'set';
        }

        /* get quantity */
        var quantity = $('#updateQuantity input[name="quantity_value"]').val();

        /* modify form */
        $('#form-edit-bulk').find('[name="warehouse_ids"]').remove();
        $('#form-edit-bulk').append('<input type="text" name="warehouse_ids">');
        $('#form-edit-bulk').find('[name="warehouse_ids"]').val(warehouseIds.join(','));

        $('#form-edit-bulk').find('[name="quantity_method"]').remove();
        $('#form-edit-bulk').append('<input type="text" name="quantity_method">');
        $('#form-edit-bulk').find('[name="quantity_method"]').val(quantityMethod);

        $('#form-edit-bulk').find('[name="quantity"]').remove();
        $('#form-edit-bulk').append('<input type="number" name="quantity">');
        $('#form-edit-bulk').find('[name="quantity"]').val(quantity);

        /* submit form */
        $('#form-edit-bulk').submit();
    });

    /* handle button edit one warehouse quantity */
    $('body').on('click', 'button[name^="edit-button-"]', function (e) {
        e.preventDefault();

        var warehouseId = ($(this).attr('id')).replace('edit-button-', '');

        /* get list selected warehouses */
        var warehouseIds = [warehouseId];

        /* get quantity method: add or set */
        var quantityMethod = 'add';
        if ($('#set-quantity-' + warehouseId).prop('checked')) {
            quantityMethod = 'set';
        }

        /* get quantity */
        var quantity = $('input[name="quantity-value-' + warehouseId + '"]').val();

        /* modify form */
        var formEditId = '#form-edit-' + warehouseId;
        $(formEditId).find('[name="warehouse_ids"]').remove();
        $(formEditId).append('<input type="text" name="warehouse_ids">');
        $(formEditId).find('[name="warehouse_ids"]').val(warehouseIds.join(','));

        $(formEditId).find('[name="quantity_method"]').remove();
        $(formEditId).append('<input type="text" name="quantity_method">');
        $(formEditId).find('[name="quantity_method"]').val(quantityMethod);

        $(formEditId).find('[name="quantity"]').remove();
        $(formEditId).append('<input type="number" name="quantity">');
        $(formEditId).find('[name="quantity"]').val(quantity);

        /* submit form */
        $(formEditId).submit();
    });

    $('body').on('click', '#stop-sale', function (e) {
        e.preventDefault();

        /* modify form */
        var warehouseIds = [];
        $.each($('td[scope="select-this"] input[name="select_this"]:checked'), function () {
            warehouseIds.push($(this).val());
        });

        /* show message if no product selected */
        if (warehouseIds.length < 1) {
            alert('{{ warehouse_update_quantity_modal_message }}');
            return;
        }

        $('#form-stop-sale').find('[name="warehouse_ids"]').remove();
        $('#form-stop-sale').append('<input type="text" name="warehouse_ids">');
        $('#form-stop-sale').find('[name="warehouse_ids"]').attr('value',warehouseIds.join(','));
        /* submit form */
        $('#form-stop-sale').submit();
    });

    $('body').on('click', '#continue-sale', function (e) {
        e.preventDefault();

        /* modify form */
        var warehouseIds = [];
        $.each($('td[scope="select-this"] input[name="select_this"]:checked'), function () {
            warehouseIds.push($(this).val());
        });

        /* show message if no product selected */
        if (warehouseIds.length < 1) {
            alert('{{ warehouse_update_quantity_modal_message }}');
            return;
        }

        $('#form-continue-sale').find('[name="warehouse_ids"]').remove();
        $('#form-continue-sale').append('<input type="text" name="warehouse_ids">');
        $('#form-continue-sale').find('[name="warehouse_ids"]').attr('value',warehouseIds.join(','));

        /* submit form */
        $('#form-continue-sale').submit();
    });

    /* listen for filter */
    $('select[name="cat_id"]').change(changeFilterHref);
    $('select[name="warehouse_id"]').change(changeFilterHref);
    $('input[name="status"]').click(function () {
        $('input[name="status"]').prop('checked', false);
        $(this).prop('checked', true);
        changeFilterHref();
    });

    function changeFilterHref() {
        var catId = $('select[name="cat_id"] > option:selected').val();
        var warehouseId = $('select[name="warehouse_id"] > option:selected').val();
        var status = '';
        if ($('#status-publish-all').prop('checked')) {
            status = 'all';
        } else if ($('#status-publish-show').prop('checked')) {
            status = 1;
        } else {
            status = 0;
        }

        var href = '{{ href_list|raw }}'.replace('&amp;', '&') +
            (catId ? ('&filter_category=' + catId) : '') +
            (warehouseId ? ('&filter_warehouse=' + warehouseId) : '') +
            (status !== 'all' ? ('&filter_status=' + status) : '');

        ($('#button-filter').attr('href', href));
    }
    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            },300);
        }
    });
    //filter page
    function filter(page = 1, remove_item = true) {
        // remove choose
        $('#product-content').removeClass('has-choose-product-list');
        $('#product-content').addClass('not-choose-product-list');
        // end
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var filter_status = $('.filter-item input[name^=status_product]').map(function(idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();
        var filter_manufacturer = $('.filter-item input[name^=manufacturer]').map(function(idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();
        var category_product = $('.filter-item input[name^=category_product]').map(function(idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();
        var amounttype = $('.filter-item input[name^=amounttype]').map(function(idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();
        var tags = $('.filter-item input[name^=nametag]').map(function(idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();

        if (!remove_item && filter_status.length < 1 && $('.filter-form select[name^=status_product]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && category_product.length < 1 && $('.filter-form select[name^=category_product]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && filter_manufacturer.length < 1 && $('.filter-form select[name^=manufacturer]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && tags.length < 1 && $('.filter-form input[name^=nametag]').length) {
            $('.filter-form input[name^=nametag]').css('border', '1px solid red');
            return;
        }


        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_status: filter_status,
                filter_manufacturer : filter_manufacturer,
                filter_category: category_product,
                amounttype: amounttype,
                filter_name: $('.order-filter input.search-input-icon').val(),
                tags: tags,
                page: page,
            },
            beforeSend: function () {
                $('.dropdown-menu').removeClass('show');
                $('body #image-loading').show();
            },
            success: function (html) {
                $('#product-content').html(html);
                $('body #image-loading').hide();
            }
        });
    }

    $('body').on('input', 'table#list-product-warehouse .quantity-warehouse-product input', function(){
        var val = parseInt($(this).closest('.quantity-warehouse-product').find('input#quantity-value').val());
        val = isNaN(val) ? 0 : val;
        var type = $(this).closest('.quantity-warehouse-product').find('[type="radio"]:checked').val();
        if( true || val > 0 ){ /* allow quantity negative in warehouse */
            $(this).closest('tr').prev('tr').find('.quantity-col .new-val').remove();
            $(this).closest('tr').prev('tr').find('.quantity-col .old-val').parent().append('<span class="new-val"><span></span></span>');
            var old_val = parseInt($(this).closest('tr').prev('tr').find('.quantity-col .old-val').text());
            var new_val = val + (type === "add" ? old_val : 0);
            $(this).closest('tr').prev('tr').find('.quantity-col .new-val>span').text(new_val);
        }
    })

    function displayFormatCategory(state) {
        var originalOption = state.element;
        var level = $(originalOption).data('level');

        var pad = level * 15;
        if (isNaN(pad)) {
            pad = 0;
        }

        return $(
            '<div style="padding-left: ' + pad + 'px">' + state.text + '</div>'
        );
    }
</script>
{{ footer }}