<table class="table table-with-operation customer-list">
    <thead class="font-16">
    <tr style="background: #F1F4F6;">
        <th scope="col" width="120" class=" font-weight-600">{{ text_column_date }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_order_buy }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_total_amount }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_discount }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_shipping_fee }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_order_return }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_money_back }}</th>
        <th scope="col" class="text-right font-weight-600">{{ text_column_revenue }}</th>
    </tr>
    </thead>
    <tbody class="font-14">
    {% if report_by_orders|length %}
        {% for k, value in report_by_orders %}
            <tr>
                <td class="text-left">{{ k|date('d/m/Y') }}</td>
                <td class="text-right">{{ value['total_order']|number_format }}</td>
                <td class="text-right">{{ value['total_amount']|number_format }} &#8363;</td>
                <td class="text-right">{{ value['discount']|number_format }} &#8363;</td>
                <td class="text-right">{{ value['shipping_fee']|number_format }} &#8363;</td>
                <td class="text-right">{{ value['order_return']|number_format }}</td>
                <td class="text-right">{{ value['total_return']|number_format }} &#8363;</td>
                <td class="text-right">{{ value['revenue']|number_format }} &#8363;</td>
            </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td class="text-center" colspan="8">{{ text_no_results }}</td>
    </tr>
    {% endif %}
    <tr id="pagination">
        <td colspan="8">
            <div class="table-statistic clearfix font-16">
                <span class="float-lg-left text-right">{{ results }}</span>
                <div class="float-lg-right">
                    <nav class="float-left" aria-label="Page navigation example">
                        {{ pagination }}
                    </nav>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
    <thead>
        <tr id="total-total">
            <th scope="col" class="font-14 text-left font-weight-600" width="120">{{ text_total }}</th>
            <th scope="col" class="font-14 text-right font-weight-600">{{ total_all['total_order']|number_format }}</th>
            <th scope="col" class="font-14 text-right font-weight-600">{{ total_all['total_amount']|number_format }} &#8363;</th>
            <th scope="col" class="font-14 text-right font-weight-600">{{ total_all['total_discount']|number_format }} &#8363;</th>
            <th scope="col" class="font-14 text-right font-weight-600">{{ total_all['total_shipping_fee']|number_format }} &#8363;</th>
            <th scope="col" class="font-14 text-right font-weight-600">{{ total_all['total_order_return']|number_format }}</th>
            <th scope="col" class="font-14 text-right font-weight-600">{{ total_all['total_return']|number_format }} &#8363;</th>
            <th scope="col" class="font-14 text-right font-weight-600 text-bestme-color">{{ total_all['total_revenue']|number_format }} &#8363;</th>
        </tr>
    </thead>
</table>

<style>
    @media(max-width:768px){
        .hidden-sm {
            display: none !important;
        }
    }
</style>