{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content" style="padding-top: 85px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">{{ breadcrumb_report }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb_report_order }}</li>
                    </ol>
                </nav>
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ heading_title }}
                    </h1>
                </div>
                <div class="sub-head clearfix" style="padding-top: 0;">
                    <a href="javascript:void(0);" class="text-pink font-12 font-weight-400 hidden-sm" id="export-xls">
                        <i class="icon icon-export mr-2 font-18 bg-pink"></i>{{ text_export_report }}</a>
                    <div class="form-filter-chart float-right">
                        <div class="all-store">
                            <select name="store_id" class="select2" id="select_stores">
                                <option value="">{{ text_all_store }}</option>
                                {% if stores|length %}
                                    {% for store in stores %}
                                        <option value="{{ store['store_id'] }}" >{{ store['name'] }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <i class="fa fa-caret-down down-icon"></i>
                        </div>
                    </div>
                    <div class="form-filter-chart float-right">
                        <form id="filter-dashboard-form" action="{{ action }}" method="post" class="mb-0">
                            <input type="hidden" name="start">
                            <input type="hidden" name="end">
                            <input type="hidden" name="display_excel">
                            <div id="reportrange-report">
                                <span></span>
                            </div>
                        </form>
                    </div>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-content">
                        <div class="tab-content">
                            <div id="report-order-content">
                                {% include 'report/order/report_by_order_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="image-loading"></div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        /* daterange picker code */
        moment.lang('vi', {
            week: {
                dow: 1 // Monday is the first day of the week
            }
        });

        // default daterange picker: this_month
        var start = moment().startOf('month');
        var end = moment();

        $('#reportrange-report').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            startOfWeek: 'monday',
            firstDay: 1,
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                customRangeLabel: "{{ options }}",
                "daysOfWeek": [
                    "{{ sunday }}",
                    "{{ monday }}",
                    "{{ tuesday }}",
                    "{{ wednesday }}",
                    "{{ thursday }}",
                    "{{ friday }}",
                    "{{ saturday }}"
                ],
                "monthNames": [
                    "{{ january }}",
                    "{{ february }}",
                    "{{ march }}",
                    "{{ april }}",
                    "{{ may }}",
                    "{{ june }}",
                    "{{ july }}",
                    "{{ august }}",
                    "{{ september }}",
                    "{{ october }}",
                    "{{ november }}",
                    "{{ december }}"
                ],
                "firstDay": 1
            },
            ranges: {
                '{{ today }}': [moment(), moment()],
                '{{ yesterday }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '{{ this_week }}': [moment().startOf('week'), end],
                '{{ last_week }}': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                '{{ this_month }}': [moment().startOf('month'), end],
                '{{ last_month }}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, function (start, end, label) {
            updateDataReport(start, end);
            showSelectedDateRangeLabel(start, end, label);
        });

        //updateDataReport(start, end);

        /* all functions here */
        function showSelectedDateRangeLabel(start, end, label) {
            //set value input
            setValueInputSubmit(start, end);
            const dateFormat = (label === '{{ this_month }}' || label === '{{ last_month }}')
                ? 'MM/YYYY'
                : 'DD/MM/YYYY';

            if (label === '{{ this_month }}' || label === '{{ today }}' || label === '{{ yesterday }}' || label === '{{ last_month }}') {
                $('#reportrange-report').html('<i class="fa fa-calendar"></i>&nbsp; &nbsp;' + label + ': ' + start.format(dateFormat) + '<i class="fa fa-caret-down" style="float: right;"></i>');
                $('input[name="display_excel"]').val(label + ': ' + start.format(dateFormat));
                return;
            }

            $('#reportrange-report').html('<i class="fa fa-calendar"></i>&nbsp; &nbsp;' + label + ': ' + start.format(dateFormat) + ' - ' + end.format(dateFormat) + '<i class="fa fa-caret-down" style="float: right;"></i>');
            $('input[name="display_excel"]').val(label + ': ' + start.format(dateFormat) + ' - ' + end.format(dateFormat));
        }

        function updateDataReport(time_start, time_end) {
            updateDataReportTable(time_start, time_end);
        }

        function updateDataReportTable(start = '', end = '') {
            var store_id = $('select[name="store_id"]').val();
            var time_start = start.format('YYYY-MM-DD 00:00:00');
            var time_end = end.format('YYYY-MM-DD 23:59:59');
            var label = getLabelDueToDateRange(start, end);
            if (label === '{{ today }}') {
                time_end = moment().format('YYYY-MM-DD 23:59:59');
            }

            $.ajax({
                type: 'GET',
                data: {
                    'start_time': time_start,
                    'end_time': time_end,
                    'store_id': store_id,
                    'filter_data': true,
                },
                url: "{{ action | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}",
                beforeSend: function() {
                },
                success: function(content) {
                    $('#report-order-content').html(content);
                }
            });
        }

        // show default label: this_month
        const label = '{{ this_month }}';
        showSelectedDateRangeLabel(start, end, label);
    });

    $('select[name="store_id"]').on('change', function() {
       filter(1);
    });

    $('#export-xls').on('click', function (e) {
        e.preventDefault();
        let store_id = $('select[name="store_id"]').val();
        let time_start =  $('input[name="start"]').val();
        let time_end =  $('input[name="end"]').val();
        let display_excel =   $('input[name="display_excel"]').val();

        $.ajax({
            url: 'index.php?route=report/order/export&user_token={{ user_token }}',
            type: 'post',
            data: {
                'start_time': time_start,
                'end_time': time_end,
                'display_excel': display_excel,
                'store_id': store_id
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: async function (json) {
                $('#image-loading').hide();
                if (json['error']) {
                    alert("Error !!");
                }

                if (json['success']) {
                    alert(json['success']);
                }

                if (json.indexOf('data:application/vnd.ms-excel') < 0) {
                    alert('{{ export_file_error }}');
                    return;
                }

                var $a = $("<a>");
                $a.attr("href", json);
                $("body").append($a);
                $a.attr("download", "{{ export_file_name }}.xls");
                $a[0].click();
                $a.remove();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#image-loading').hide();
                alert('{{ lang_export_error }}');
            }
        });
    });

    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#report-order-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1) {
        let store_id = $('select[name="store_id"]').val();
        let time_start =  $('input[name="start"]').val();
        let time_end =  $('input[name="end"]').val();

        $.ajax({
            type: 'GET',
            data: {
                'start_time': time_start,
                'end_time': time_end,
                'store_id': store_id,
                'filter_data': true,
                'page': page
            },
            url: "{{ action | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}",
            beforeSend: function() {
                $('#image-loading').show();
            },
            success: function(content) {
                $('#report-order-content').html(content);
                $('#image-loading').hide();
            }
        });
    }

    function getLabelDueToDateRange(start, end) {
        if (start.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
            return '{{ today }}';
        }

        if (start.format('DD/MM/YYYY') === moment().subtract(1, 'days').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'days').format('DD/MM/YYYY')) {
            return '{{ yesterday }}';
        }

        if (start.format('DD/MM/YYYY') === moment().startOf('week').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
            return '{{ this_week }}';
        }

        if (start.format('DD/MM/YYYY') === moment().subtract(1, 'week').startOf('week').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'week').endOf('week').format('DD/MM/YYYY')) {
            return '{{ last_week }}';
        }

        if (start.format('DD/MM/YYYY') === moment().startOf('month').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
            return '{{ this_month }}';
        }

        if (start.format('DD/MM/YYYY') === moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY')) {
            return '{{ last_month }}';
        }

        return '{{ options }}';
    }

    function setValueInputSubmit(start, end) {
        let time_start = start.format('YYYY-MM-DD 00:00:00');
        let label = getLabelDueToDateRange(start, end);
        let time_end = end.format('YYYY-MM-DD 23:59:59');
        if (label === '{{ today }}') {
            time_end = moment().format('YYYY-MM-DD 23:59:59');
        }
        $('input[name="start"]').val(time_start);
        $('input[name="end"]').val(time_end);
    }
</script>
{{ footer }}
<style>
    .main-content .sub-head{
        padding: 10px 0;
    }
    .all-store select{
        background: #fff;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        padding-right: 40px;
        position: relative;
    }
    #reportrange-report{
        padding-bottom: 4px;
        margin-right: 10px;
    }
    .table thead th {
        padding: 0.75rem 0.25rem !important;
    }
    #total-total {
        background: #FFF2EE;
    }
    #total-total th {
        border: none;
    }
    #pagination td {
        border-bottom: none !important;
    }
    .text-bestme-color {
        color: #ED592A;
    }
    .all-store {
        width: 200px;
    }
    .all-store .select2-container--bootstrap4 .select2-selection--single {
        height: 32px !important;
        background: #fff;
        border-radius: unset !important;
    }
    .all-store .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
    }
    .all-store .select2-results__options {
        max-height: 200px;
        overflow: auto;
    }
    .all-store {
        position: relative;
    }
    .all-store .down-icon {
        position: absolute;
        top: 10px;
        right: 15px;
    }
</style>