{{ header }}

<!-------------------- PAGE ELEMENT ---------------------->
<main id="main-wrapper">
    <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <div class="container">
            <ol class="breadcrumb py-3">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <!-- Cart Listing -->
            <div class="cart-listing">
                {% if order_products is not empty %}
                    <h1 class="single-title fz-18 text-uppercase text-center fw-700 mb-3 mb-md-5">Giỏ hàng</h1>
                {% endif %}
                <div class="box-cart-result">
                    <div class="cart-table-new">
                        {% include ('default/template/checkout/my_orders_cart_listing_template.twig') %}
                        <br>
                    </div>
                </div>
            </div>
            <!-- End: Cart Listing -->
        </div>
    </div>
    <!-- End: Main Content -->
</main>

<!-------------------- /.PAGE ELEMENT ---------------------->

<!-------------------- ACCOUNT LOGIN DIALOG ---------------------->
{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}
<!-------------------- /.ACCOUNT LOGIN DIALOG ---------------------->

{{ footer }}