{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <nav aria-label="breadcrumb" class="mb-3 border-bottom">
            <div class="container">
                <ol class="breadcrumb py-3">
                    <li class="breadcrumb-item"><a href="{{ href_home }}">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Quản lý địa chỉ</li>
                </ol>
            </div>
        </nav>
        <div class="container">
            <nav class="profile-nav text-center d-flex my-4">
                <ul class="nav profile-nav mx-auto">
                    <li class="nav-item">
                        <a href="{{ href_profile }}" class="nav-link ">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ href_setting_account }}" class="nav-link active">SỔ ĐỊA CHỈ</a>
                    </li>

                </ul>
            </nav>

            <div class="row address-setting-panel mb-3">
                <div class="col-12 col-lg-6 text-black-20 left">
                    {% for idx, account_info in account_infos %}
                    <!-- Address row -->
                    <div class="add-row mb-5">
                        <div class="address-info mb-3 mb-md-0">
                            <h2 class="d-flex border-bottom py-2 mb-3 fw-700 fz-14 text-uppercase">
                                <span>{% if account_info.default == account_info.address_id %} Địa chỉ mặc định {% else %} Địa chỉ {{ idx }} {% endif %}</span>
                                <a class="ml-auto" id="formEditMore_{{ idx }}" data-toggle="collapse" href="#collapseFormAddress{{ idx }}" aria-expanded="false" aria-controls="collapseFormAddress{{ idx }}"><i class="icon icon-pencil-alt bg-primary fz-16"></i></a>
                            </h2>
                            <ul class="list-address-info list-unstyled mb-3 mb-md-4">
                                <p class="text-uppercase mb-2">{{ account_info.lastname }} {{ account_info.firstname }}</p>
                                <li class="mb-1">
                                    <label class="text-light-2 text-uppercase fz-12 mb-0">Địa chỉ</label>
                                    <span>{{ account_info.full_address }}</span>
                                </li>
                                <li class="mb-1">
                                    <label class="text-light-2 text-uppercase fz-12 mb-0">Điện thoại</label>
                                    <span>{{ account_info.phone_number }}</span>
                                </li>
                            </ul>
                        </div><!-- /.payment-contact -->
                    </div>
                        <script>
                            $(document).ready(function () {
                                $('#formEditMore_{{ idx }}').on('click', function () {
                                    //Handle on mobile
                                    if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
                                        if (!($("#collapseFormAddress{{ idx }}").is('.collapse:not(.show)'))) {
                                            $('html, body').animate({
                                                scrollTop: $("#formEditMore_{{ idx }}").offset().top
                                            }, 500);
                                        } else {
                                            $('html, body').animate({
                                                scrollTop: $(".m_pos").offset().top
                                            }, 500);
                                        }
                                    }
                                    //Handle on desktop
                                    else {
                                        $('html, body').animate({
                                            scrollTop: $("#collapseFormAddress{{ idx }}").offset().top
                                        }, 500);
                                    }
                                });
                            });
                        </script>
                    {% endfor %}

                    <a class="btn btn-default text-black-20 w-100 border rounded-0 py-2 fw-600 text-uppercase" id="formAddressMore" data-toggle="collapse" href="#collapseFormAddressMore" role="button" aria-expanded="false" aria-controls="collapseFormAddressMore"><i class="fas fa-plus mr-3"></i>Thêm địa chỉ mới</a>
                </div> <!-- End left -->

                <div class="col-12 col-lg-6 form-collapse m_pos">
                    {% for idx, account_info in account_infos %}
                    <!-- Form Edit Address -->
                    <div class="collapse w-100" id="collapseFormAddress{{ idx }}">
                        <div class="card card-body border-0 p-0">
                            <form class="form-payment" action="" id="edit_{{ account_info.address_id }}">
                                <h2 class="py-2 mt-1 fw-700 fz-14 text-uppercase">Sửa địa chỉ {% if account_info.default == account_info.address_id %} mặc định {% else %}  {{ idx }} {% endif %}</h2>
                                <div class="form-row">
                                    <div class="col-12 col-md-12">
                                        <label for="full-name" class="m-0">Họ và Tên</label>
                                        <input name="fullname" id="full-name" type="text" value="{{ account_info.lastname }} {{ account_info.firstname }}" class="form-control" placeholder="Họ và Tên" required="">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="phone" class="m-0">Số điện thoại</label>
                                    <input type="text" class="form-control rounded-0" name="phone" value="{{ account_info.phone_number }}" id="phone" placeholder="Nhập số điện thoại của bạn">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <label for="your-city" class="m-0">Tỉnh/Thành phố</label>
                                        <select class="form-control selectpicker" name="city_delivery" title="Tỉnh / thành">
                                            <option>{{ txt_province }}</option>
                                            {% for province in provincess %}
                                                <option value="{{ province.code }}" {% if account_info.province == province.code %}selected{% endif %}>{{ province.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="your-district" class="m-0">Quận/Huyện</label>
                                        <select class="form-control selectpicker" name="district_delivery" title="Quận / huyện">
                                            <option>{{ txt_district }}</option>
                                            {% for district_vl in account_info.districts_edits_info %}
                                                <option value="{{ district_vl.code }}" {% if account_info.districts == district_vl.code %}selected{% endif %}>{{ district_vl.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="your-district" class="m-0">Phường xã</label>
                                        <select class="form-control selectpicker" name="ward_delivery" title="Phường/xã">
                                            <option>{{ txt_ward }}</option>
                                            {% for ward in account_info.ward_edits_info %}
                                                <option value="{{ ward.code }}" {% if account_info.wards == ward.code %}selected{% endif %}>{{ ward.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="your-address" class="m-0">Địa chỉ</label>
                                    <input type="text" value="{{ account_info.address }}" name="address" class="form-control rounded-0" id="your-address" placeholder="Nhập địa chỉ của bạn">
                                </div>

                                <div class="form-group custom-control custom-checkbox"  {{ account_info.default == account_info.address_id ? 'style="pointer-events: none"': '' }}>
                                    <input type="checkbox" class="custom-control-input"  {{ account_info.default == account_info.address_id ? 'checked': '' }} name="default" id="setDefaultEdit{{ account_info.address_id }}">
                                    <label class="custom-control-label fz-16" for="setDefaultEdit{{ account_info.address_id }}">Đặt làm địa chỉ mặc định</label>
                                </div>
                                <div id="msg_err{{ account_info.address_id }}"></div>
                                <ul class="d-flex mt-3 flex-row-reverse">
                                    <button class="btn btn-default text-black-20 border border-primary rounded-0 py-2 fw-600 text-uppercase"  id="saveedit_{{ account_info.address_id }}">Lưu lại</button>
                                    <input type="hidden" name="edit_hide" value="1">
                                    <input type="hidden" name="address_id" value="{{ account_info.address_id }}">
                                    {% if account_info.default != account_info.address_id %}
                                        <button type="button" onclick="delete_address({{ account_info.address_id }})" class="p-2 mr-3 border-0 bg-white">Xóa địa chỉ</button>
                                    {% endif %}

                                </ul>
                            </form>
                        </div>
                    </div>
                        <script>
                            $(function () {
                                $("#saveedit_{{ account_info.address_id }}").click(function(){
                                    $.ajax({
                                        type: 'post',
                                        url: '{{ href_save }}',
                                        dataType : 'json',
                                        data: $('form#edit_{{ account_info.address_id }}').serialize(),
                                        success: function (data) {
                                            if(data.error_code == 0) {
                                                location.href = data.href;
                                            }
                                            else {
                                                $("#msg_err{{ account_info.address_id }}").html("<span style='color:red'>" + data.message + "</span>");
                                            }
                                        }
                                    });
                                    return false;
                                });

                                $("#display_form_{{ account_info.address_id }}").click(function(){
                                    location.reload();
                                });

                            });
                        </script>
                    {% endfor %}
                    <!-- ENd: Form Edit Address -->

                    <!-- Form Edit Address -->
                    <div id="anchor"></div>
                    <div class="collapse" id="collapseFormAddressMore">
                        <div class="card card-body border-0 p-0">
                            <form id="saveform" action="" method="post" class="form-payment ">
                                <h2 class="py-2 mt-1 fw-700 fz-14 text-uppercase">Thêm mới địa chỉ</h2>
                                <div class="form-row">
                                    <div class="col-12 col-md-12">
                                        <label for="full-name" class="m-0">Họ và Tên</label>
                                        <input name="fullname" id="full-name" type="text" class="form-control" placeholder="Họ và Tên" required="">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="phone" class="m-0">Số điện thoại</label>
                                    <input type="text" class="form-control rounded-0" name="phone" id="phone" placeholder="Nhập số điện thoại của bạn">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-4">
                                        <label for="your-city" class="m-0">Tỉnh/Thành phố</label>
                                        <select name="city_delivery" title="{{ account_city }}" class="form-control selectpicker">
                                        </select>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="your-district" class="m-0">Quận/Huyện</label>
                                        <select class="form-control selectpicker" name="district_delivery" title="{{ account_district }}">
                                            <option>{{ txt_district }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4">
                                        <label for="your-district" class="m-0">Phường xã</label>
                                        <select class="form-control selectpicker" name="ward_delivery" title="Phường/Xã">
                                            <option>{{ txt_ward }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="your-address" class="m-0">Địa chỉ</label>
                                    <input type="text" class="form-control rounded-0" name="address" id="your-address" placeholder="Nhập địa chỉ của bạn">
                                </div>
                                <div class="form-group custom-checkbox">
                                    <div class="custom-control custom-checkbox" {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                                        <input type="checkbox" name="default" {{ account_infos|length == 0 ? 'checked' : '' }} class="custom-control-input" id="address-default-new">
                                        <label class="custom-control-label fz-16" for="address-default-new">Đặt làm địa chỉ mặc định</label>
                                    </div>
                                </div>
                                <div id="msg_err"></div>
                                <ul class="d-flex mt-3 flex-row-reverse">
                                    <button class="btn btn-default text-black-20 border border-primary rounded-0 py-2 fw-600 text-uppercase" name="save" id="save">thêm mới</button>
                                    <a class="p-2 mr-3 border-0 text-black-20" data-toggle="collapse" href="#collapseFormAddressMore" role="button" aria-expanded="true" aria-controls="collapseFormAddressMore">Hủy</a>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <!-- ENd: Form Edit Address -->
                </div> <!-- End right -->
            </div> <!-- End row -->

        </div> <!-- End container -->
    </div> <!-- End main-content -->
</main>

<script>
    $("#display_form").click(function(){
        location.reload();
    });
    $(function () {
        $("#save").click(function(){
            $.ajax({
                type: 'post',
                url: '{{ href_save }}',
                dataType : 'json',
                data: $('form#saveform').serialize(),
                success: function (data) {
                    if(data.error_code == 0) {
                        location.href = data.href;
                    }
                    else {
                        $("#msg_err").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
    function delete_address(id) {
        if (confirm('{{ text_delete }}')) {
            $.ajax({
                url: "{{ href_delete }}",
                type: "POST",
                data: {id : id},
                dataType: "html",
                success: function() {
                    location.reload();
                }
            });

        }
    }
    $(document).ready(function () {
        $(".hidden_add_address").click(function(){
            $(".form_edit").removeClass("d-none");
        });
        $(".hidden_edit_address").click(function(){
            $(".form_edit").addClass("d-none");
        });

        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $(this).find('option:selected').val();
            console.log(provinceCode);
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            selectCityDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_province }}'
                }));
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces, element) {
            var selectDistrictDeliveryEl = element.closest('.form-row').find('select[name="district_delivery"]');
            //reset ward
            var selectWardDeliveryEl = element.closest('.form-row').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));

            console.log(provinces);
            selectDistrictDeliveryEl.html('');
            selectDistrictDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_district }}'
                }));
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectDistrictDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            var selectWardDeliveryEl = element.closest('.form-row').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('#formAddressMore').on('click', function () {
            $('html, body').animate({
                scrollTop: $('#anchor').offset().top - 100
            }, 500);
        });
    });
</script>

{{ footer }}