{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content pb-3 pb-md-5">
            {% if error %}
                <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                    <i class="fa fa-exclamation-circle"></i> {{ error }}
                </div>
            {% endif %}
            <!-- Cart Listing -->
            {% if order_products is not empty %}
                <div class="cart-listing">
                    <div class="text-center">
                        <h1 class="page-title my-3">Giỏ hàng ({{ order['products']|length }} sản phẩm)</h1>
                    </div>
                    <div class="box-cart-result">
                        <div class="cart-table table-custom px-2 px-lg-0">
                            <div class="table-body">
                                {% if order is not empty %}
                                    {% for product in order['products'] %}
                                        <div class="row-item row">
                                            <div class="col-1 col-item justify-content-center align-items-start align-items-lg-center bestme-cart--remove-item">
                                                <a href="javascript:void(0);" class="bestme-btn bestme-btn--link remove" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}">
                                                    <i class="icon icon-trash fz-18 bg-seventh"></i>
                                                </a>
                                            </div>
                                            <div class="col-3 col-lg-2 col-item align-items-start">
                                                <a href="{{ product['url'] }}"><img src="{{ product['image_url'] }}" alt="{{ product['name'] }}" width="80"></a>
                                            </div>
                                            <div class="col-8 col-lg-9 p-0 d-flex flex-wrap">
                                                <div class="col-12 col-lg-4 col-item">
                                                    <a href="{{ product['url'] }}" title="{{ product['fullname'] }}" class="fw-700">
                                                        {{ product['name'] }}
                                                        {% if product['in_stock'] == false %}
                                                            <span style="display: block; color: red; font-size: 13px; font-weight: 100;">
                                                            Sản phẩm vừa hết hàng
                                                        </span>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <br>
                                                <div class="col-12 col-lg-2 col-item text-right">
                                                    <span class="mobile-label d-lg-none flex-fill text-left text-second">Đơn giá</span>
                                                    <!-- Only show in mobile -->
                                                    <span class="price flex-fill" data-value="{{ product['price_formart'] }}">{{ product['price_formart'] }}</span>
                                                </div>
                                                <div class="col-12 col-lg-2 col-item buy-total text-right text-lg-center align-items-center">
                                                    <span class="mobile-label d-lg-none flex-fill text-left">Số lượng</span>
                                                    <!-- Only show in mobile -->
                                                    <span class="flex-fill">
                                                        <input class="product_quantity custom-number-input border-0 px-2 py-1" type="number" min="1" max="9999" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}" value="{{ product['amount'] }}">
                                                        <input type="hidden" name="product_id" value="{{ product['id'] }}">
                                                        <input type="hidden" name="product_version_id" value="{{ product['product_version_id'] }}">
                                                    </span>
                                                </div>
                                                <div class="col-12 col-lg-3 col-item text-primary text-right">
                                                    <span class="mobile-label d-lg-none flex-fill text-left">Thành tiền</span>
                                                    <!-- Only show in mobile -->
                                                    <span class="fw-600 flex-fill total-price" data-value="680000">{{ product['total_formart'] }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- End row item -->
                            </div>
                            <!-- End table-body -->
                        </div>
                        <!-- End cart-table -->
                        {% if order_products is not empty %}
                        <div class="table-footer p-3 border rounded-20 mb-4">
                            <div class="row d-flex justify-content-end fz-16 fz-lg-18">
                                <ul class="list-unstyled col-12 col-lg-3">
                                    <li class="d-flex mb-2">
                                        <span class="">Thành tiền:</span>
                                        <span class="ml-auto fw-600 text-primary"><span
                                                    class="total-price">{{ order['into_money_formart'] }}</span></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End row -->

                            <div class="table-action justify-content-end d-flex flex-wrap">
                                <a {% if error %} href="javascript:void(0)" {% else %} href="{{ href_order_preview }}" {% endif %} {% if customer_is_login == false and error is empty %} data-toggle="modal" data-target="#user-not-account" {% endif %}
                                        class="btn btn-primary fw-600 py-3 px-4 fz-16 col-12 col-lg-3 order-lg-1 mb-3 mb-lg-0 bestme-cart--go-to-checkout-page">ĐI ĐẾN TRANG THANH TOÁN</a>
                                <a href="{{ href_common_shop }}"
                                   class="btn btn-second rounded-30 fw-500 p-3 fz-18 col-12 col-lg-3 mr-lg-3 mr-0 order-lg-0">TIẾP
                                    TỤC MUA SẮM</a>
                            </div>
                        </div>
                        <!-- End table-footer -->
                        {% endif %}
                    </div>
                    <!-- End box-cart-result -->
                </div>
            {% else %}
                <p>Bạn không có sản phẩm nào trong giỏ hàng</p>
                <p style="margin-top: 20px;" ><a class="btn btn-second rounded-30 fw-500 p-3 fz-18 col-12 col-lg-3 mr-lg-3 mr-0 order-lg-0" href="{{ href_common_shop }}">Tiếp tục mua sắm</a></p>
                <br/><br/><br/><br/>
            {% endif %}
            <!-- End: Cart Listing -->
        </div>
        <!-- End: Main Content -->

    </div>
    <!-- End container -->
</main>
<!-------------------- /.PAGE ELEMENT ---------------------->

<!-------------------- ACCOUNT LOGIN DIALOG ---------------------->
{% include ('default/template/checkout/my_orders_cart_login_dialog_template.twig') %}
<!-------------------- /.ACCOUNT LOGIN DIALOG ---------------------->

{{ footer }}

<script type="text/javascript">
    $(document).ready(function () {
        $('.remove').click(function () {
            var product_id = $(this).attr('product-id');
            var product_version_id = $(this).attr('product-version-id');
            var r = confirm('{{ text_remove_alert_confirm }}');
            if (r === true) {
                $.ajax({
                    url: 'index.php?route=checkout/my_orders/remove_order_products',
                    method: 'POST',
                    data: {
                        product_id: product_id,
                        product_version_id: product_version_id
                    },
                    success: function (json) {
                        json = $.parseJSON(json)
                        if (json.status === true) {
                            location.reload();
                        } else {
                            alert(json.message);
                        }
                    }
                });
            }
        });

        $(document).on('change paste keyup', '.product_quantity', function (e) {
            var em = $(this); // retrieve the index
            var product_id = em.attr('product-id');
            var quantity = em.val();
            var product_version_id = em.attr('product-version-id');
            var validity = this.validity;
            //change input quantity validate
            if (!validity.valid && validity.rangeOverflow) {
                quantity = em.attr('max');
            }
            if (!validity.valid && validity.rangeUnderflow) {
                quantity = em.attr('min');
            }
            if (quantity == '') {
                quantity = 1;
            }
            $.ajax({
                url: 'index.php?route=checkout/my_orders/update_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                    quantity: quantity,
                    product_version_id: product_version_id,
                },
                success: function (json) {
                    location.reload();
                }
            });
        });
    });
</script>