{{ header }}
<div class="bestme_app_after_header">

</div>
<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ home_link }}">Trang chủ</a></li>
            <li class="ega-menu__item"><h1>Tất cả sản phẩm</h1></li>
        </ul>
    </div>
</section>
<div id="ega-collection">
    <div class="ega-container">
        <input type="hidden" id="collection_id" value="=0">
        {% if banners.visible_banner == 1 %}
        <div class='collection_banner ega-m-b--4 bestme-block-category-banner'>
            <a href="{{ banners.url_banner }}"><img src="{{ banners.url_image }}" alt="{{ banners.alt }}"/></a>
        </div>
        {%endif%}
        <div class="collection-wrapper">
            <div class="ega-row">
                <div class="ega-col-xl-9 ega-col-lg-8 ega-col-12 ">
                    <div id="sort-wrap" class="ega-row ega-p-b--3">
                        {% if getsearch != '' %}
                        <div class="ega-col-12">
                            <div class="result-message ega-p--3 ega-m-b--3 ega-bg--gray">
                                <svg class="ega-ic-search"><use xlink:href="#ega-ic-search"></use></svg> 
                                Tìm thấy <span class="ega-color--danger">{{ products|length }}</span> sản phẩm cho từ khóa <span class="ega-color--danger">“{{ getsearch }}”</span>
                            </div>
                        </div>
                        {%endif%}
                        <div class="ega-col-sm-6 ega-col-md-6 ega-col-12 count-products">
                            <span class="count-display align-self-center">Hiển thị: {{ total_product < start_product ? total_product : start_product }} - {{ total_product < end_product ? total_product : end_product }} trong tổng số <span class="ega-color--danger">{{ total_product }}</span> sản phẩm</span>
                        </div>
                        <div class="ega-col-sm-6 ega-col-md-6 ega-col-12 ega-text--right">
                            <div class='ega-sortby'>
                                <label>Sắp xếp theo:</label>
                                <div class="ega-sortby-select">
                                    <span>
                                        {% if valueoptiton == 1 %}
                                            Theo tên: A-Z
                                        {% elseif valueoptiton == 2 %}
                                            Theo tên: Z-A
                                        {% elseif valueoptiton == 3 %}
                                            Theo giá: Từ cao đến thấp
                                        {% elseif valueoptiton == 4 %}
                                            Theo giá: Từ thấp đến cao
                                        {% else %}
                                            Mới nhất
                                        {% endif %}
                                        <svg class="ega-ic-caret-down"><use xlink:href="#ega-ic-caret-down"></use></svg>
                                    </span>
                                    <ul>
                                        <li><a class="dropdown-item" href="{{ urlsortProduct }}" data-value="-1">Mới nhất</a></li>
                                        <li><a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=1" data-value="1">Theo tên: A-Z</a></li>
                                        <li><a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=2" data-value="1">Theo tên: Z-A</a></li>
                                        <li><a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=3" data-value="1">Theo giá: Từ cao đến thấp</a></li>
                                        <li><a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=4" data-value="1">Theo giá: Từ thấp đến cao</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="result">
                        <div class="ega-row">
                            {% for product in products %}
                            <div class="ega-col-md-4 ega-col-sm-6 ega-col-6">
                                <div data-style='ega-product' class='ega-pro ega-pro--style2 ega-pro-item ega-text--center'>
                                    <div class='ega-pro__img'>
                                        <a href='{{ product['href'] }}' class='ega-text--no-underline'>
                                            <img class='lazyload' data-src="{{ product['thumb'] }}" alt="{{ product.name }}" />
                                        </a>
                                        <div class='ega-pro__overlay'>
                                            {% if product['product_is_stock'] == 0 %}
                                                <a href='{{ product['href'] }}' class="ega-pro__action">Hết hàng</a>
                                            {%else%}
                                                <a href='{{ product['href'] }}' class="ega-pro__action">
                                                    <svg class="ega-ic-eye"><use xlink:href="#ega-ic-eye"></use></svg>
                                                    Xem chi tiết
                                                </a>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <div class='ega-pro__content'>
                                        <h3 class='ega-pro__title ega-m-t--0 ega-h5'>
                                            <a href='{{ product['href'] }}' class='ega-text--no-underline' title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </h3>
                                        <div class='ega-pro__price-group'>
                                            {% if product['is_contact_for_price'] %}
                                                <span class="product-price">
                                                    <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ contact }}</ins>
                                                </span>
                                            {% else %}
                                                {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        <span class="product-price">
                                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>
                                                                {{ product.price_version_min }}
                                                                {% if product.price_version_min != product.price_version_max %}
                                                                    ~ {{ product.price_version_max }}
                                                                {% endif %}
                                                            </ins>
                                                        </span>
                                                        <span class="product-price-sale">
                                                            <del class='ega-pro__price-del ega-small ega-color--secondary'>
                                                                {{ product.compare_version_min }}
                                                                {% if product.compare_version_min != product.compare_version_max %}
                                                                    ~ {{ product.compare_version_max }}
                                                                {% endif %}
                                                            </del>
                                                        </span>
                                                    {% else %}
                                                        <span class="product-price">
                                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>
                                                                {{ product.compare_version_min }}
                                                                {% if product.compare_version_min != product.compare_version_max %}
                                                                    ~ {{ product.compare_version_max }}
                                                                {% endif %}
                                                            </ins>
                                                        </span>
                                                    {% endif %}

                                                {% else %}
                                                    {% if product.price == 0 %}
                                                        <span class="product-price">
                                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product.compare_price }}</ins>
                                                        </span>
                                                    {% else %}
                                                        <span class="product-price">
                                                            <ins class='ega-pro__price ega-text--no-underline ega-color--danger'>{{ product.price }}</ins>
                                                        </span>
                                                        <span class="product-price-sale">
                                                            <del class='ega-pro__price-del ega-small ega-color--secondary'>{{ product.compare_price }}</del>
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if product.Percent_protduct != 0 %}
                                        <div class="ega-pro__sale-tag style2">
                                            <span>{{ product.Percent_protduct }}</span>
                                        </div>
                                    {%endif%}
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        {{ pagination }}
                    </div>
                </div>
                <div class="ega-col-xl-3 ega-col-lg-4 ega-col-12">
                    <div id="collection_sidebar" class="bestme-block-filter-1">
                        <a id="collection_sidebar_trigger" class="ega-btn ega-m--0 ega-base-color ega-p--2" href="#">
                            <svg class="ega-ic-filter ega-color--white">
                                <use xlink:href="#ega-ic-filter"></use>
                            </svg>
                        </a>
                        <div class="sidebar-widgets-wrap">
                            <div class="ega-filter" data-style="ega-filter">
                                <div class="ega-filter__heading">
                                    <h4 class="ega-filter__title ega-h6 ega-m--0">LỌC SẢN PHẨM <svg class="ega-ic-angle-down"><use xlink:href="#ega-ic-angle-down"></use></svg></h4>
                                </div>
                                <div class="ega-filter__body">
                                    {% if visible_collection == 1 %}
                                    <div class="ega-filter__item">
                                        <h4 class="ega-filter__title ega-h6 ega-m--0">{{ visible_collection_title }} <svg class="ega-ic-angle-down"><use xlink:href="#ega-ic-angle-down"></use></svg></h4>
                                        <ul class="ega-ul ega-m--0 ega-p-t--3">
                                            {% for collection in collections %}
                                            <li>
                                                <a href="{{ collection.url }}" class="ega-color--black {{ filter_collection_id == collection.collection_id ? 'ega-base-color__text' : '' }}">{{ collection.name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {%endif%}
                                    {% if visible_category == 1 %}
                                    <div class="ega-filter__item">
                                        <h4 class="ega-filter__title ega-h6 ega-m--0">{{ visible_category_title }} <svg class="ega-ic-angle-down"><use xlink:href="#ega-ic-angle-down"></use></svg></h4>
                                        <ul class="ega-ul ega-m--0 ega-p-t--3">
                                            {% for category in categorys %}
                                            <li>
                                                <a href="{{ category.url }}" class="ega-color--black {{ filter_category_id == category.category_id ? 'ega-base-color__text' : '' }}">{{ category.name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {%endif%}
                                    {% if visible_supplier == 1 %}
                                    <div class="ega-filter__item">
                                        <h4 class="ega-filter__title ega-h6 ega-m--0">{{ visible_supplier_title }} <svg class="ega-ic-angle-down"><use xlink:href="#ega-ic-angle-down"></use></svg></h4>
                                        <ul class="ega-ul ega-m--0 ega-p-t--3">
                                            {% for manufacturer in manufacturers %}
                                            <li>
                                                <a href="{{ manufacturer.url }}" class="ega-color--black {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'ega-base-color__text' : '' }}">{{ manufacturer.name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {%endif%}
                                    {% if visible_product_price == 1 %}
                                    <div class="ega-filter__item">
                                        <h4 class="ega-filter__title ega-h6 ega-m--0">GIÁ <svg class="ega-ic-angle-down"><use xlink:href="#ega-ic-angle-down"></use></svg></h4>
                                        <div class="price-range ega-p-t--3">
                                            <p>Vui lòng chọn khoảng giá</p>
                                            <div class="mb-3" id="slider-range"></div>
                                            <p id="amount"></p>
                                            <input type="hidden" id="amount1" name="amount1">
                                            <input type="hidden" id="amount2" name="amount2">
                                        </div>
                                        
                                        <script>
                                            var delayTimer;
                                            function delayOnChange(cb) {
                                                clearTimeout(delayTimer);
                                                delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
                                            }
    
                                            function formatNumber(num) {
                                                return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
                                            }
    
                                            $( function() {
                                                var min = {{ visible_product_price_from }},
                                                    max = {{ visible_product_price_to }};
                                                    urlString = location.href.replace(location.origin,"");
                                                if(urlString.indexOf("min=") > -1){
                                                    var value = [],
                                                        range = urlString.split("&"),
                                                        i = 1;
                                                    while (i <= 2) {
                                                        var key = range[i].split("=")[0];
                                                        var data = range[i].split("=")[1];
                                                        value[key] = data;
                                                        i++;
                                                    }
                                                    
                                                    min = value["min"];   
                                                    max = value["max"];
                                                }
                                                $("#slider-range").slider({
                                                    range: true,
                                                    min: {{ visible_product_price_from }},
                                                    max: {{ visible_product_price_to }},
                                                    values: [min, max],
                                                    slide: function (event, ui) {
                                                        $("#amount").text(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                                                        //filterprice(ui.values[0], ui.values[1]);
                                                        delayOnChange(function () {
                                                            var url = window.location.href;
                                                            var regexMin = new RegExp("&min=\\d+");
                                                            var regexMax = new RegExp("&max=\\d+");
                                                            url = url.replace(regexMin, '');
                                                            url = url.replace(regexMax, '');
                                                            window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                                                            $("#amount1" ).val(ui.values[ 0 ]);
                                                            $("#amount2" ).val(ui.values[ 1 ]);
                                                        });
                                                    }
                                                })
                                                $("#amount").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" + " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
                                            });
                                        </script>
                                    </div>
                                    {%endif%}
                                    {% if visible_supplier == 1 %}
                                        <div class="ega-filter__item">
                                            <h4 class="ega-filter__title ega-h6 ega-m--0">TAGS <svg class="ega-ic-angle-down"><use xlink:href="#ega-ic-angle-down"></use></svg></h4>
                                            <div class="price-range ega-p-t--3">
                                                {% include 'default/template/common/tag_filter_template.twig' %}
                                            </div>
                                        </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bestme_app_after_product">

</div>
<div class="bestme_app_before_footer">

</div>
<script>
    $('#collection_sidebar_trigger').click(function(e){
		e.preventDefault();
		let $collection_sidebar = $(this).parent();
		$collection_sidebar.toggleClass('ega-show');
	})
	
	$('.ega-filter__heading').click(function(){
		$(this).siblings().toggle();
		$(this).toggleClass("is-closed");
	})

	$('.ega-filter__title').click(function(){
		$(this).siblings().toggle();
		$(this).toggleClass("is-closed");
	})
</script>

{{ footer }}
