body {
    word-wrap: break-word;
}
.product-item .product-img img {
    max-height: 225px;
    width: auto;
}
.block-header .cart-link {
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.block-header .cart-link .amount {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
.block-header .block-header-logo img {
    max-height: 50px;
}
.item-product-name {
    height: 36px;
    overflow: hidden;
}
.product-item .product-title {
    display: inline-block;
}

.block-header .fix-content .container .main-menu-wrapper {
    display: none;
}
.block-header.fixed .fix-content .container .main-menu-wrapper {
    display: block;
    margin-left: auto;
}
.block-header.fixed .fix-content .main-menu-wrapper {
    display: none;
}
.block-header.fixed form{
    max-width: 50%;
    float: left;
}
.block-header.fixed .main-menu-wrapper {
    position: inherit;
    height: auto;
    width: 60%;
}
.block-header.fixed .block-header-logo {
    min-width: 145px;
    padding-left: 0px;
}
.block-header.fixed .form-search-header {
    min-width: 315px;
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a {
    padding: 0px 25px;
    line-height: 28px;
}
.block-header.fixed .container {
    display: flex;
    align-items: center;
}
.block-header.fixed .fix-content .container .row {
    margin-left: auto;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .block-header.fixed .main-menu-wrapper {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .block-header.fixed .fix-content .container .row {
        flex-wrap: inherit;
    }
}
@media screen and (max-width: 576px) {
    .block-header.fixed .fix-content .container .row {
        display: block;
    }
    .block-header.fixed .input-group-icon.flex-fill {
        right: 0px;
    }
    .block-header.fixed .form-search-header {
        min-width: 230px;
        padding-left: 0px;
    }
    .block-header.fixed .block-header-menu .collapse>ul.nav > li > a {
        padding: 10px 25px;
    }
}
@media screen and (max-width:991px) {
    .owl-home-banner .slide-item {
        min-height: 200px;
    }
    .owl-home-banner .slide-item .caption {
        display: none;
    }
}
.media-show {
    display: none;
}
@media screen and (max-width: 576px){
    .media-hide {
        display: none;
    }
    .media-show {
        display: block !important;
    }
    .form-payment .fifth-color{
        margin-top: 15px;
    }
    .owl-home-banner .slide-item {
        min-height: 115px;
    }
    .product-teaser-fix .d-flex{
        display: block !important;
    }
    .block-custom-change .quantity {
        display: block !important;
    }
    .block-custom-change .quantity input {
        margin-bottom: 10px;
    }
    .more-info-product.w-20 {
        width: 42% !important;
    }
}
/* Fix scroll broken layout on Iphone5/SE*/
@media (max-width: 320px){
    .order-bestme .table td, .order-bestme .table th {
        padding: 0.4rem!important;
    }
}
.block-header .cart-link{
    height: 44px!important;
}
.product-item .product-title {
    height: 34px;
}
.quantity-group-input>input.form-control {
    width: 55px;
}
.block-header .cart-link .amount {
    line-height: 20px!important;
}
.block-custom-change .d-flex.w-75{
    position: relative;
}
#add-to-cart .quantity-nav {
    display: inline-block;
}
#add-to-cart .quantity-nav .quantity-up {
    position: absolute;
    top: 9px;
    left: 75px;
    cursor: pointer;
}
#add-to-cart .quantity-nav .quantity-down {
    position: absolute;
    top: 9px;
    left: 11px;
    cursor: pointer;
}
.owl-carousel .owl-item img{
    display: initial !important;
}
.product-item .product-img{
    text-align: center;
}
.product-item .product-highlight {
    min-height: 34px;
}
.product-detail input::-webkit-outer-spin-button,
.product-detail input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.block-header .block-header-menu ul.nav > li > a {
    padding: 10px 15px;
}
.block-header .block-header-menu ul.nav > li.has-child > a>.toggle {
    right: 0px;
    top: 17px;
}
.block-header.fixed .block-header-menu ul.nav > li.has-child > a>.toggle {
    top: 12px;
    background-color: #454545;
}
.block-header .block-header-menu ul.nav ul.nav > li.has-child > a>.toggle {
    top: 18px;
    background-color: #454545;
}

/*dunght fix category left side*/
li.list-group-item-content {
    max-height: 530px;
    overflow-y: scroll;
}

@media screen and (max-width: 991px) {
    .block-header .block-header-menu ul.child-nav li > a>.toggle {
        position: absolute;
        width: 11px;
        height: 6px;
        -webkit-mask: url(../img/icons/drop-down.svg) center no-repeat;
        mask: url(../img/icons/drop-down.svg) center no-repeat;
        -webkit-mask-size: contain;
        -mask-size: contain;
        background-color: #454545;
        top: 20px;
        right: 10%;
    }
    .block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
        right: 15px;
        top: 21px;
    }
    .block-header.fixed .block-header-menu ul.nav > li.has-child > a>.toggle {
        top: 21px;
    }
    /*dunght fix category left side*/
    .list-group-item-content {
        max-height: 318px!important;
    }
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}