{{ header }}

<!-- Breadcrumb -->
<section class="container">
    <ul class="breadcrumb">
        <li><a href="{{ href_home }}">{{ text_home }} </a></li>
        <li><a href="javascript:;"> Tài khoản </a></li>
    </ul>
</section>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-account-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="block-cart-head">
                    <h1 class="header-font">{{ text_history_order }}</h1>
                </div>
                <div class="block-table-history">
                    <table class="table table-striped table-inverse table-responsive">
                        <thead class="thead-inverse">
                        <tr>
                            <th>{{ text_id_order }}</th>
                            <th>{{ text_date_order }}</th>
                            <th>{{ text_value_order }}</th>
                            <th>{{ text_pay_order }}</th>
                            <th>{{ text_status_order }}</th>
                            <th>{{ text_transport_status_order }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><a href="{{ order.order_info_url }}">{{ order.order_code }}</a></td>
                                <td>{{ order.date_added }}</td>
                                <td>{{ order.total | number_format }} VND</td>
                                <td>{{ order.payment_status }}</td>
                                <td>{{ order.order_status }}</td>
                                <td>{{ order.transport_order_status }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block-user-infor">
                    <h5 class="header-font text-color">{{ account_info_title }}</h5>
                    <table class="table table-responsive">
                        <tbody>
                        <tr>
                            <td scope="row">{{ entry_lastname }}</td>
                            <td>{{ account_info.lastname }} {{ account_info.firstname }}</td>
                        </tr>
                        <tr>
                            <td scope="row">{{ account_address }}</td>
                            <td>{{ account_info.full_address }} </td>
                        </tr>
                        <tr>
                            <td>{{ account_phone_number }}</td>
                            <td>{{ account_info.phone_number }} </td>
                        </tr>
                        <tr>
                            <td>{{ account_email }}</td>
                            <td>{{ account_info.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a name="" id="" class="btn btn-block btn-setting" href="{{ href_setting_account }}" role="button">{{ entry_setting_addess }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

{{ footer }}

<style type="text/css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>