#footer{

}
#footer .main-footer{
    padding: 36px 0;
    position: relative;
}
#footer .main-footer:before{
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(8 34 47 / 70%);
}
#footer .main-footer .container{
    position: relative;
    z-index: 1;
}
#footer .footer-col{
    margin: 1.5rem 0;
}
#footer .footer-col li a{
    color: #fff;
    margin-bottom: 1rem;
    display: inline-block;
}
#footer .footer-col li a:hover,
#footer .footer-col li a.active{
    font-weight: bold;
}
#footer .copy-right{
    background-color: var(--secondary);
    padding: 20px 0;
}
#footer{

}
#footer{

}