#header{
    font-size: 16px;
}
#header .header-top{
    color: var(--neutral-9);
    padding: 12px 0;
    background: var(--white);
}
#header .fix-content{
    position: absolute;
    width: 100%;
    top: 45px;
    z-index: 10;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#header.fixed .fix-content,
.home #header .fix-content{
    width: 100%;
    position: fixed;
}
#header.fixed .fix-content{
    top: 0;
    background: #0E4058;
}
#header.fixed .menu-wrapper{
    padding: 0;
    margin: 60px 0;
}
#header .menu-wrapper{
    background: #0E4058;
    padding: 21px 24px;
    position: relative;
    margin: 64px 0;
}
#header a{
    color: #fff;
}
#header .menu-wrapper > .logo{
    position: absolute;
    z-index: 1;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 22px;
    text-align: center;
    background: #0E4058;;
    border-radius: 100%;
}
#header .navbar{
    padding: 0;
}
.navbar-nav a.nav-link:hover,
.navbar-nav a.nav-link.active{
    font-weight: bold;
}
#header .menu-right{

}
#header .menu-right >li >a{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#header .menu-right a.with-icon{
    width: 2em;
    height: 2em;
    border: 1px solid var(--white);
    margin: 2px 0.5em;
    border-radius: 100%;
}
#header .menu-right a.with-icon i.icon{
    background: var(--white);
    font-size: 14px;
}
#header .menu-right a.with-icon:hover,
#header .menu-right a.with-icon.active{
    border-color: var(--primary);
}
#header .menu-right a.with-icon:hover i.icon,
#header .menu-right a.with-icon.active i.icon{
    background-color: var(--primary);
}
#header .menu-right a.with-icon .count-cart{
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--primary);
    color: var(--secondary);
    font-weight: bold;
    font-size: 12px;
    min-width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 100%;
}
#header ul[aria-labelledby="dropdownUser"] {
    background: #0E4058;
    border-radius: 0;
}
#header [aria-labelledby="dropdownUser"] a{
    font-size: 14px;
}
#header [aria-labelledby="dropdownUser"] a.active,
#header [aria-labelledby="dropdownUser"] a:hover{
    font-weight: bold;
}
.home-search.dropdown-menu{
    background: none;
    padding: 0;
    box-shadow: none;
    border: none;
    min-width: 250px;
    margin-top: 12px;
}
.home-search input.form-control{
    background: #FFFFFF;
    border-radius: 30px;
    height: 32px;
    font-size: 14px;
    color: inherit;
    padding: 6px 15px;
}
.home-search input.form-control::placeholder{
    color: var(--neutral-6);
}
.authentic-modal{
    font-size: 14px;
}
.authentic-modal .form-header{
    font-size: 24px;
}
.authentic-modal .form-header button{
    margin-right: 1.65rem;
    margin-bottom: 1.65rem;
    background: none;
    font-weight: bold;
    color: #fff;
    padding: 0;
}
.authentic-modal .form-header button[data-bs-toggle]{
    font-weight: normal;
}
.authentic-modal .modal-dialog{
    max-width: 440px
}