@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import "reset.css";

.main-header .navbar-toggler{
    border-radius: 100%;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid #fff;
    padding: 0;
}
.main-header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
#overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 99;
    transition: all 0.2s ease;
}
#overlay.show {
    visibility: visible;
    opacity: 1;
}
.modal-backdrop{
    background: #fff;
}
.modal-backdrop.show{
    opacity: 0.3;
}
.modal-content{
    border-radius: 0;
    background: var(--secondary);
    color: #fff;
}
.modal-body{
    padding: 2rem;
}
.password-hint{
    position: relative;
}
.password-hint i.icon{
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 12px;
    width: 16px;
    height: 10px;
    z-index: 4;
}
#main-wrapper{
    min-height: 75vh;
}
body:not(.home) #main-wrapper{
    margin-top: 210px;
}
.header-user-modal .alert-dismissible {
    font-size: 13px;
}

/* home */
#home-blog-1 {
    background: url('/catalog/view/theme/food_kafeviet/img/banner-bg-1.svg') no-repeat bottom center;
}
.rate-customer-img {
    width: 40px;
    height: 40px;
}
#home-subscribe-container {
    background: url(../img/banner-bg-3.svg) no-repeat center var(--secondary);
    background-size: cover;
}
.category-menu {
    justify-content: center;
}
.category-menu .btn-change-product-tab {
    margin: 6px 4px;
}
#carouselCustomerHome .rate-website-content {
    height: 80px;
    overflow-y: auto;
}

/*Slide*/
.owl-carousel .owl-nav button[class*=owl-]{
    position: absolute;
    width: 60px;
    height: 52px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    left: 50px;
}
.owl-carousel .owl-nav button.owl-next{
    left: auto;
    right: 50px;
}
.owl-carousel .owl-nav button[class*=owl-] i{
    background-color: #fff;
    font-size: 58px;
}
.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]:focus{
    background-color: transparent;
    transform: scale(1.1);
}
#carouselBannerHome.owl-theme .owl-dots{
    position: absolute;
    bottom: 22px;
    z-index: 2;
    width: 100%;
    left: 0;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 35px;
}
.owl-theme .owl-dots .owl-dot span{
    width: 16px;
    height: 16px;
    background: #fff;
}
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span{
    background: var(--primary);
}
#carouselCustomerHome.owl-carousel .owl-item img{
    width: auto;
}
.video-slideshow {
    min-height: 497px; /* recommend slideshow image height */
}
/*End slide*/

/*Product*/
.product-item{
    position: relative;
    margin: 0.75em 0;
    height: 100%;
}
.img-wrap{
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.img-wrap > .img{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.img-wrap .img img{
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    margin: auto;
}
.product-item .img-square{
    border-radius: 100%;
    background-color: var(--secondary);
}
.product-item .img-square .img{
    width: calc(100% - 24px);
    max-height: calc(100% - 24px);
    top: 12px;
    left: 12px;
    margin-top: 0;
    border-radius: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.product-item:hover .img-square > .img{
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}
.product-item .sell-button{
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-item .img-wrap .sell-button{
    width: 96px;
    height: 35px;
    text-align: center;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(0.3) rotate(-90deg);
}
.product-item:hover .sell-button{
    opacity: 1;
    transform: scale(1) rotate(0deg);
    visibility: visible;
}
.product-item .img-square .img img{
    width: 100% !important;
}
.product-item:not(.sale) .old-price,
.product-item:not(.sale) .price {
    display: block;
}
.product-item:not(.sale):hover .old-price,
.product-item:not(.sale):hover .price {
    display: none;
}
.product-item.sale .img-wrap .sale,
.product-item.sale .img-wrap .sale-price,
.product-item.sale .img-wrap .sell-button{
    position: absolute;
    z-index: 2;
}
.product-item.sale .img-wrap .sale{
    top: 1px;
    height: 30px;
    background: #EE5E4A;
    border-radius: 19px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 5px 6px;
    color: #fff;
    margin: auto;
    width: 55px;
    left: 0;
    right: 0;
    text-align: center;
}
.product-item.sale .img-wrap .sale-price{
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    width: 100%;
    height: 36px;
    padding: 8px 30%;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary);
    z-index: 2;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.product-item.sale .old-price,
.product-item.sale .category,
.product-item.sale .title{
    margin: auto;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.product-item.sale .old-price{
    text-decoration-line: line-through;
    border-bottom: 2px solid #fff;
    padding: 8px 0 12px;
    margin-bottom: 6px;
}
.product-item.sale .category{
    margin: 6px 0 4px;
}
.product-item.sale .title{
    font-weight: bold;
    font-size: 16px;
    color: var(--primary);
}
.product-item a{
    color: #fff;
}
.product-item .old-price {
    text-decoration-line: line-through;
    display: block;
    font-size: .75rem;
}
.out-of-stock {
    background: #797979;
    padding: 3px 10px;
    position: absolute;
    z-index: 2;
    transform: translateX(57px);
}
.sale-product_ {
    background: #EE5E4A;
    padding: 3px 10px;
    position: absolute;
    z-index: 2;
}
.btn-outline-light .filter-item{
    border: 1px solid #FFFFFF;
    padding: 5px;
}
/* Anh sp meo. TODO: remove... */
/*.product-item .product-desc {*/
/*    text-overflow: ellipsis;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*}*/

.product-desc.fix-height-product-desc {
    height: 20px;
}
.product-block .collection-small-image {
    max-width: 12px;
}
.product-item .pro-sticky {
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 15px;
    z-index: 2;
}
.product-item.sale .pro-sticky {
    text-align: center;
    top: 12px;
    right: 0;
}
.pro-sticky > span {
    color: #fff;
    padding: 8px;
    white-space: nowrap;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 19px;
}
.pro-sticky .sale-off {
    background-color: var(--sematic-1);
}
.pro-sticky .stock-out {
    background-color: var(--neutral-6);
}
.pro-sticky .new-product {
    background-color: #297030;
}
/*End product*/

/*Blog*/
.blog-item{
    background: var(--secondary);
    margin: calc(var(--bs-gutter-x)/ 2) 0;
}
.blog-item.high-light{
    height: calc(100% - var(--bs-gutter-x));
}
.blog-item .img-wrap{
    padding-top: 66%;
}
.blog-item .blog-title a{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.blog-item .blog-title a:hover{
    color: var(--primary);
}
/*End Blog*/

.video-section-home{
    position: relative;
}
.video-section-home>*{
    z-index: 1;
    position: relative;
}
.video-section-home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: var(--secondary);
    opacity: 0.85;
}

/*Breadcrumb*/
.breadcrumb{
    margin-bottom: 30px;
    padding: 15px 15px 15px 30px;
    background: var(--secondary);
    line-height: 20px;
}
.breadcrumb a{
    color: var(--primary);
    font-weight: bold;
}
.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active{
    color: #fff;
    font-weight: bold;
}
/*End breadcrumb*/

/*pagination*/
ul.pagination {
    flex-wrap: wrap;
}
.page-link{
    background: none;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    min-width: 24px;
    margin: 3px;
    color: #fff;
    padding: 0 3px;
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 100% !important;
}
.pagination .page-link:hover,
.pagination .page-link.active,
.pagination .page-item.active .page-link{
    border: 1px solid var(--primary);
    background-color: transparent;
    color: #fff;
}
.pagination .first .page-link,
.pagination .last .page-link,
.pagination .prev .page-link,
.pagination .next .page-link{
    font-size: 28px;
    line-height: 16px;
}
/*End pagination*/

/*Account Page*/
.nav.user-nav{
    padding: 12px;
    background: var(--secondary);
}
.nav.user-nav a.nav-link{
    color: #fff;
    padding: 12px;
}
.nav.user-nav a:hover,
.nav.user-nav a.active{
    font-weight: bold;
    color: var(--primary);
}
/*End Account Page*/

.table-custom .row-item.row{
    margin: 0 -1rem;
}
.table-custom .row-item{
    padding: 0.5rem 0;
}
.table-custom .col-item{
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;
}

.custom-number-input-wrapper{
    position: relative;
    padding-right: 34px;
    display: inline-block;
}
.custom-number-input-wrapper input.custom-number-input{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 5px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
.custom-number-input-wrapper input.custom-number-input:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--primary);
}
.custom-number-input-wrapper button{
    position: absolute;
    right: 0;
    width: 35px;
    height: 50%;
    border: 1px solid #fff;
    z-index: 1;
    text-indent: 99px;
    overflow: hidden;
    background: url('../img/icons/dropdown.svg') center no-repeat transparent;
    border-top: none;
}
.custom-number-input-wrapper button.decrease{
    bottom: 0;
}
.custom-number-input-wrapper button.increase{
    top: 0;
    transform: rotate(180deg);
    background-position-x: 10px;
}

.btn-facebook-share,
.btn-google-share{
    font-weight: 600;
    padding: 12px 5px 12px 50px;
    color: #fff;
}
.btn-facebook-share:hover,
.btn-google-share:hover{
    color: #fff;
    opacity: 0.9;
}
.btn-facebook-share{
    background: url('../img/icons/facebook.jpg') 14px center no-repeat #3A559F;
}
.btn-google-share{
    background: url('../img/icons/google+.svg') 14px center no-repeat #DC4E41;
}
.nav-tabs .nav-link{
    margin: 0;
    color: #fff;
    border: none;
    padding: 14px 0;
    margin-right: 2em;
}
.nav-tabs .nav-item{
    outline: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active{
    background: transparent;
    font-weight: bold;
    color: var(--primary);
    border: none;
    outline: none;
}

/* Rate Star */
.wrap-star-rate .star {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('../img/icons/i-star.svg') no-repeat center;
    background-size: cover;
}
.wrap-star-rate .star-rate {
    background: url('../img/icons/i-star-rate.svg') no-repeat center;
    background-size: cover;
}

/*Filter product*/
.filter-product-wrapper .filter-product-content{
    background: var(--secondary);
    color: #fff;
    padding: 28px 36px;
}
.filter-product-wrapper{
    background-color: transparent;
    width: calc(100% - var(--bs-gutter-x));
    padding: 0;
}
.filter-product-content a{
    color: #fff;
}
.filter-product-content a:hover,
.filter-product-content a.active{
    color: var(--primary);
    font-weight: bold;
}
.filter-product-content a.nav-link{
    padding: 8px 0;
}
.filter-product-content .block-title{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}
.box-product-filter{
    margin-bottom: 15px;
}
.box-product-filter .price-range #slider-range{
    border: none;
    background: #fff;
    height: 4px;
    margin: 10px 0 20px;
    border-radius: 5px;
    display: inline-block;
    width: calc(100% - 12px);
    left: 8px;
}
.box-product-filter .price-range .ui-slider-range{
    background: var(--primary);
}
.box-product-filter .price-range #slider-range .ui-slider-handle,
.box-product-filter .price-range #slider-range .ui-slider-handle.ui-state-focus{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background: var(--primary);
    top: -4px;
    border: none;
    outline: none;
    box-shadow: none;
}
/*End filter product*/

/*Product detail*/
.product-teaser-fix{
    position: fixed;
    width: 100%;
    left: 0;
    top: 160px;
    background: var(--secondary);
    z-index: 9;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.15);
    display: none;
    padding: 1em 0;
    color: #fff;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
#carouselProDetail .carousel-item img{
    width: 100%;
}
.product-info .carousel-indicators {
    margin: 20px -6px 0;
    position: relative;
    display: flex;
    justify-content: left;
}
.product-info .carousel-indicators li {
    width: 90px;
    height: 90px;
    margin: 0 6px;
    text-indent: unset;
    opacity: 1;
    border: 0;
    overflow: hidden;
}
.list-radio .form-check-label{
    border: 1px solid #CAC7C7;
    min-width: 60px;
    padding: 8px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.list-radio .form-check-input:checked~.form-check-label{
    background: var(--primary);
    color: var(--secondary);
}
/*End Product detail*/

/* Customize content */
.customize-content {
    max-height: 150px;
    overflow-y: auto;
    align-self: center;
    margin-bottom: 12px;
}
.latest-blog-image {
    width: 100%;
    object-fit: contain;
}
.latest-blog-video {
    width: 100%;
    height: 100%;
}
/* End of Customize content */