{{ header }}

<main class="content-wrapper clearfix">
    <div class="container" id="blogs-detail-page">
        <nav aria-label="breadcrumb" class="my-2 pt-4">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        
        <div class="py-3">
            <div class="row">
                <div class="col-12 col-md-8 blog-detail-content">
                    <div class="blog-views border-0">
                        <div class="view-content">
                            <div class="row">
                                <div class="col-12">
                                    {% if blog is empty %}
                                        <p class="blogs-empty">Không có nội dung bài viết</p>
                                    {% else %}
                                    <article>
                                        <div class="article-content">
                                            {#<h5 class="type">#}
                                            {#    {% for blog_category in blog['blog_categories'] %}#}
                                            {#        {% if loop.index < 2 %}#}
                                            {#            {{ blog_category['title'] }}#}
                                            {#        {% else %}#}
                                            {#            , {{ blog_category['title'] }}#}
                                            {#        {% endif %}#}
                                            {#    {% endfor %}#}
                                            {#</h5>#}
                                            {#<div class="meta pb-3">#}
                                            {#    <div class="author">#}
                                            {#        <span class="date">{{ blog['date_added']|date('Y-m-d') }}</span>&nbsp;bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>#}
                                            {#    </div>#}
                                            {#</div>#}
                                            <div class="thumb text-center mb-2">
                                                {% if blog['type'] == 'video' %}
                                                    <div id="blog-thumb-video" class="blog-thumb-video" style="max-height: 350px; height: 43vw"
                                                         data-video-url="{{ blog['video_url'] }}"></div>
                                                {% elseif blog['image'] is not empty %}
                                                    <div class="image" style="background-image: url({{ blog['image'] }})"></div>
                                                {% endif %}
                                            </div>
                                            <h1 class="name">{{ blog['title'] }}</h1>
                                            <div class="desc mt-2">
                                                {{ blog['content']|html_entity_decode }}
                                            </div>
                                        </div>
                                    </article>
                                    {% endif %}
                                    {#<div class="social pt-5">#}
                                    {#    <span>Chia sẻ: </span>#}
                                    {#    <ul class="px-0 py-1">#}
                                    {#        {% for so in social %}#}
                                    {#            <li>#}
                                    {#                <a href="{{ so['href'] }}"><i class="{{ so['content'] }}" aria-hidden="true"></i></a>#}
                                    {#            </li>#}
                                    {#        {% endfor %}#}
                                    {#    </ul>#}
                                    {#</div>#}
                                </div>
                            </div> <!-- End row -->
                        </div> 
                    </div> <!-- End view content -->
                    
                    
                                {#<div class="container-comments my-5">#}
                                {#    <form class="mb-3 form-comment">#}
                                {#        <h3 class="font-24 text-uppercase mb-2">Bình luận bài viết</h3>#}
                                        {#<div class="rating d-flex my-1">#}
                                        {#    <div class="rating-container mr-2">#}
                                        {#        <span class="rating-item active"></span>#}
                                        {#        <span class="rating-item active"></span>#}
                                        {#        <span class="rating-item active"></span>#}
                                        {#        <span class="rating-item active"></span>#}
                                        {#        <span class="rating-item"></span>#}
                                        {#    </div>#}
                                        {#</div>#}
                                {#        <div class="form-group my-3">#}
                                {#            <span class="font-18 w-20 py-1">Viết bình luận:</span>#}
                                {#            <div class="flex-fill my-3 d-flex">#}
                                                {#<div class="form-group form-row">#}
                                                {#    <div class="col-6">#}
                                                {#        <input type="text" class="form-control border-light" placeholder="Họ và tên*">#}
                                                {#    </div>#}
                                                {#    <div class="col-6">#}
                                                {#        <input type="text" class="form-control border-light" placeholder="Số điện thoại*">#}
                                                {#    </div>#}
                                                {#</div>#}
                                {#                <textarea type="text" class="form-control border-light w-100" placeholder="Nội dung bình luận" rows="1"></textarea>#}
                                {#                <button class="btn fifth-bg btn-outline-secondary text-white px-4 py-2 text-uppercase float-right" type="submit">Gửi</button>#}
                                {#            </div>#}
                                {#        </div>#}
                                {#    </form>#}
                                    
                                {#    <div class="list-comments">#}
                                {#        <ul class="list-group">#}
                                {#            {% for i in 0..5 %}#}
                                {#                <li class="list-group-item comment-item">#}
                                {#                    <div class="title">#}
                                {#                        <div class="float-left d-flex">#}
                                {#                            <img src="catalog/view/theme/novaon/asset/img/blog_3.jpg" alt="">#}
                                {#                            <div class="title ml-3">#}
                                {#                                <h4 class="name">Lê thúy Hằng</h4>#}
                                {#                                <div class="rating d-flex my-1">#}
                                {#                                    <div class="rating-container mr-2">#}
                                {#                                        <span class="rating-item active"></span>#}
                                {#                                        <span class="rating-item active"></span>#}
                                {#                                        <span class="rating-item active"></span>#}
                                {#                                        <span class="rating-item active"></span>#}
                                {#                                        <span class="rating-item"></span>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                {#                            </div>#}
                                {#                        </div>#}
                                {#                        <span class="float-right date">15/03/2020</span>#}
                                {#                    </div>#}
                                {#                    <div class="content d-inline-block mt-2">#}
                                {#                        <p>Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái đẹp, giúp nàng tự tin hơn mỗi khi xuống...</p>#}
                                {#                    </div>#}
                                {#                </li>#}
                                {#            {% endfor %}#}
                                {#        </ul>#}
                                        
                                {#        <ul class="pagination justify-content-center">#}
                                {#            <li class="page-item"></li>#}
                                {#            <li class="page-item active"><a class="page-link">1</a></li>#}
                                {#            <li class="page-item"><a class="page-link" data-page="2" href="#">2</a></li>#}
                                {#            <li class="page-item"><a class="page-link" data-page="2" href="#"><i class="fa fa-angle-right"></i></a></li>#}
                                {#            <li class="page-item"><a class="page-link" data-page="2" href="#"><i class="fa fa-angle-double-right"></i></a></li>#}
                                {#        </ul>#}
                                {#    </div>#}
                                {#</div>#}
                            
                            
                    <div class="view-related-blog my-5">
                            <h2 class="related-blog-title mb-4">Tin tức liên quan</h2>
                            <div class="row">
                                
                                {% if blog_relate is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% set index = 1 %}
                                    {% for item in blog_relate %}
                                        {% if blog['status'] == 1 %}
                                            {% if index < 3 %}
                                                {% set is_compare_category = 0 %}
                                                {% for blog_relate_category in item['blog_categories'] %}
                                                    {% for blog_category in blog['blog_categories'] %}
                                                        {% if blog_category['blog_category_id'] == blog_relate_category.blog_category_id %}
                                                            {% set is_compare_category = is_compare_category + 1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {% if is_compare_category > 0 %}
                                            {#<div class="related-item">#}
                                            {#    <div class="thumb">#}
                                            {#        <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt=""></a>#}
                                            {#    </div>#}
                                            {#    <div class="content">#}
                                            {#        <h5 class="type-blog header-font">#}
                                            {#            {% for blog_category in blog['blog_categories'] %}#}
                                            {#                {% if loop.index < 2 %}#}
                                            {#                    {{ blog_category['title'] }}#}
                                            {#                {% else %}#}
                                            {#                    , {{ blog_category['title'] }}#}
                                            {#                {% endif %}#}
                                            {#            {% endfor %}#}
                                            {#        </h5>#}
                                            {#        <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>#}
                                            {#        <div class="meta-blog">#}
                                            {#            <div class="author">#}
                                            {#                <span class="date">{{ blog['date_added']|date('d-m-Y') }} </span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>#}
                                            {#            </div>#}
                                            {#        </div>#}
                                            {#    </div>#}
                                            {#</div>#}
                                                <div class="col-12 col-md-4">
                                                    <div class="blog-item m-0 mb-3">
                                                        <div class="row">
                                                            <div class="blog-image col-12 mb-3">
                                                                <a href="{{ item['link'] }}">
                                                                    <div class="image" style="background-image: url({{ item['image'] }})"></div>
                                                                </a>
                                                            </div>
                                                            <div class="blog-right col-12">
                                                                <a class="title" href="{{ item['link'] }}">{{ item['title']|length > 25 ? item['title']|slice(0, 25) ~ '...' : item['title'] }}</a>
                                                                <p class="body">{{ item['short_content']|length > 200 ? item['short_content']|slice(0, 200)|html_entity_decode|striptags ~ ' [...]' : item['short_content']|html_entity_decode|striptags }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% set index = index + 1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                            </div>
                        </div>
                </div> <!-- End blog view -->
                
                <div class="col-12 col-md-4 sidebar-right">
                {#    <h2 class="slide-list-title py-3">Sản phẩm bán chạy</h2>#}
                {#    <section id="diffslide-hot-products">#}
                {#        <div id="diffslide-products-carousel" class="carousel carousel-products slide" data-ride="carousel">#}
                {#            <div class="carousel-inner"></div>#}
                                
                {#            <a class="carousel-control carousel-control-prev" href="#diffslide-products-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>#}
                {#            <a class="carousel-control carousel-control-next" href="#diffslide-products-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>#}
                {#        </div>#}
                {#    </section>#}
                        
                {#    <h2 class="slide-list-title py-3">Khuyến mãi</h2>#}
                {#    <section id="difflist-sale-off-products">#}
                {#        <div id="list-sale_off-products" class="d-inline-block w-100"></div>#}
                {#    </section>#}
                    
                {#    <h2 class="slide-list-title py-3">Tin đọc nhiều nhất</h2>#}
                {#        <section id="difflist-view-most-blogs">#}
                {#            <div id="list-view-most-blogs" class="d-inline-block w-100">#}
                {#                <div class="d-flex list-blog-item my-3">#}
                {#                    <div class="col-4 blog-image" style="background-image: url(catalog/view/theme/novaon/asset/img/blog_1.jpg)"></div>#}
                {#                    <h5 class="col-8 blog-title">Boone 8 Seat Dining Table, White Concrete</h5>#}
                {#                </div>#}
                {#                <div class="d-flex list-blog-item my-3">#}
                {#                    <div class="col-4 blog-image" style="background-image: url(catalog/view/theme/novaon/asset/img/blog_1.jpg)"></div>#}
                {#                    <h5 class="col-8 blog-title">Boone 8 Seat Dining Table, White Concrete</h5>#}
                {#                </div>#}
                {#                <div class="d-flex list-blog-item my-3">#}
                {#                    <div class="col-4 blog-image" style="background-image: url(catalog/view/theme/novaon/asset/img/blog_1.jpg)"></div>#}
                {#                    <h5 class="col-8 blog-title">Boone 8 Seat Dining Table, White Concrete</h5>#}
                {#                </div>#}
                {#                <div class="d-flex list-blog-item my-3">#}
                {#                    <div class="col-4 blog-image" style="background-image: url(catalog/view/theme/novaon/asset/img/blog_1.jpg)"></div>#}
                {#                    <h5 class="col-8 blog-title">Boone 8 Seat Dining Table, White Concrete</h5>#}
                {#                </div>#}
                {#            </div>#}
                {#        </section>#}
                    
                    <div class="block-side-blog">
                        <!-- side item -->
                        <div class="side-item">
                            <h4 class="header-item">Danh mục tin</h4>
                            <ul class="block-cate py-2 px-0">
                                {% for category in blog_category %}
                                    <li>
                                        <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.side item -->
                        <!-- side item -->
                        <div class="side-item">
                            <h4 class="header-item">Tin mới nhất</h4>
                            <div class="list-related py-2">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="related-item">
                                                <div class="row">
                                                    <div class="thumb col-4">
                                                        <a href="{{ blog['link'] }}">
                                                            <div class="image" style="background-image: url({{ blog['image'] }})"></div>
                                                        </a>
                                                    </div>
                                                    <div class="content col-8">
                                                        {#<h5 class="type">#}
                                                        {#    {% for blog_category in blog['blog_categories'] %}#}
                                                        {#        {% if loop.index < 2 %}#}
                                                        {#            {{ blog_category['title'] }}#}
                                                        {#        {% else %}#}
                                                        {#            , {{ blog_category['title'] }}#}
                                                        {#        {% endif %}#}
                                                        {#    {% endfor %}#}
                                                        {#</h5>#}
                                                        <h3 class="name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 30 ? blog['title']|slice(0, 30) ~ '...' : blog['title'] }}</a></h3>
                                                        {#<div class="meta">#}
                                                        {#    <div class="author">#}
                                                        {#        <p class="date">{{ blog['date_added']|date('d-m-Y') }}, bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></p>#}
                                                        {#    </div>#}
                                                        {#</div>#}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.side item -->
                        <!-- side item -->
                        <div class="side-item">
                            <h4 class="header-item">Tags</h4>
                            <div class="list-tags">
                                {% for tag in tags %}
                                    <a href="{{ tag['link'] }}" class="{% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.side item -->
                    </div>
                </div>
            </div>
        </div> <!-- End row -->
        
        <div class="col-12">
                        {#<div class="view-related-blog my-5">#}
                        {#    <h2 class="related-blog-title mb-4">Tin tức liên quan</h2>#}
                        {#    <div class="row">#}
                        {#        <div class="col-12 col-md-4">#}
                        {#            <div class="blog-item m-0 mb-3">#}
                        {#                <div class="row">#}
                        {#                    <div class="img col-12 mb-3">#}
                        {#                        <a href="/bai-viet-moi">#}
                        {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                        {#                        </a>#}
                        {#                    </div>#}
                        {#                    <div class="blog-right col-12">#}
                        {#                        <a class="title" href="blog_detail.html">Blink Home Security Camera  System</a>#}
                        {#                        <p class="body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...</p>#}
                        {#                    </div>#}
                        {#                </div>#}
                        {#            </div>#}
                        {#        </div>#}
                        {#        <div class="col-12 col-md-4">#}
                        {#            <div class="blog-item m-0 mb-3">#}
                        {#                <div class="row">#}
                        {#                    <div class="img col-12 mb-3">#}
                        {#                        <a href="/bai-viet-moi">#}
                        {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_6.jpg">#}
                        {#                        </a>#}
                        {#                    </div>#}
                        {#                    <div class="blog-right col-12">#}
                        {#                        <a class="title" href="blog_detail.html">Blink Home Security Camera  System</a>#}
                        {#                        <p class="body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...</p>#}
                        {#                    </div>#}
                        {#                </div>#}
                        {#            </div>#}
                        {#        </div>#}
                        {#        <div class="col-12 col-md-4">#}
                        {#            <div class="blog-item m-0 mb-3">#}
                        {#                <div class="row">#}
                        {#                    <div class="img col-12 mb-3">#}
                        {#                        <a href="/bai-viet-moi">#}
                        {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                        {#                        </a>#}
                        {#                    </div>#}
                        {#                    <div class="blog-right col-12">#}
                        {#                        <a class="title" href="blog_detail.html">Blink Home Security Camera  System</a>#}
                        {#                        <p class="body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...</p>#}
                        {#                    </div>#}
                        {#                </div>#}
                        {#            </div>#}
                        {#        </div>#}
                        {#    </div>#}
                        {#</div>#}
        </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}

<script src="/catalog/view/theme/default/js/blog_detail_video.js"></script>
<script>
    if (blogDetailVideo) {
        blogDetailVideo.init({
            videoElementId: 'blog-thumb-video',
            videoHeight: '100%',
            currentTheme: '{{ current_theme }}'
        });
    }
</script>