{% block section_theme %}
    <div class="tab-pane fade {% if navbar == 'theme' %}active show{% endif %}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <!--  Cài đặt theme màu sắc -->
        <a href="{{ url_color }}">
            <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                    <span>{{ theme_title_color }}</span>
                </div>
            </div>
        </a>

        <!--  Cài đặt theme Hiển thị chữ -->
        <a href="{{ url_text }}">
            <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                    <span>{{ theme_title_text }}</span>
                </div>
            </div>
        </a>

        <!--  Cài đặt theme Favicon -->
        <a href="{{ url_favicon }}">
            <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                    <span>{{ theme_title_favicon }}</span>
                </div>
            </div>
        </a>

        <!--  Cài đặt theme Mạng xã hội -->
        <a href="{{ url_social }}">
            <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                    <span>{{ theme_title_social }}</span>
                </div>
            </div>
        </a>

        <!--  Cài đặt theme Check out page -->
        <div class="menu-item d-flex justify-content-between py-2 px-3 align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <span>{{ theme_title_checkout_page }}</span>
            </div>
        </div>
    </div>
{% endblock %}