{% extends "theme/common/base.twig" %}

{% block bcontent %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- Section content -->
    <div class="main-content clearfix">
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-mobile">
            <!-- control component -->
            <section class="side-item side-head no-bg">
                <!-- item -->
                <div class="item-sidebar no-bg">
                    <a href="{{ back_section }}" class="item-show no-bg bold"><img class="img-fluid" height="12px" width="12px"
                                                                             src="view/image/theme/close.png" alt="">Thiết lập chung</a>
                </div>
                <!-- /.item -->
            </section>
            <!-- /.control component -->

            <div class="side-over">
                <!-- body sidebar -->
                <section class="side-item side-body overflow-inherit">
                    <!-- color -->

                    <div class="item-sidebar {% if slide_idx == '1' %}sub-item{% endif %}" data-idx="1" >
                        <div class="item-show {% if slide_idx == '1' %}active{% endif %}">
                            <span class="accordion">Màu sắc</span>
                        </div>
                        <div class="panel" {% if slide_idx == '1' %}style="display: block;"{% endif %}>
                            <!-- add link -->
                            <form action="">
                                <div class="form-group">
                                    <label for="color-main">Màu chủ đạo</label>
                                    <div class="change-color">
                                        <input class="form-control jscolor config-color" id="color-main" value="{{ config.color.main.main.hex }}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="color-button">Màu nút bấm</label>
                                    <div class="change-color">
                                        <input class="form-control jscolor config-color" id="color-button" value="{{ config.color.main.button.hex }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.color -->

                    <!-- font -->
                    <div class="item-sidebar {% if slide_idx == '2' %}sub-item{% endif %}" data-idx="2" >
                        <div class="item-show {% if slide_idx == '2' %}active{% endif %}">
                            <span class="accordion">Font chữ</span>
                        </div>
                        <div class="panel" {% if slide_idx == '2' %}style="display: block;"{% endif %}>
                            <!-- add link -->
                            <form action="">
                                <div class="form-group">
                                    <label for="">Tiêu đề</label>
                                    <input type="text" name="" id="font-title" class="form-control config-text" placeholder="Nhập tiêu đề"
                                           aria-describedby="helpId" value="{{ config.text.all.title }}">
                                </div>

                                <div class="form-group">
                                    <label for="">Nội dung</label>
                                    <select id="font-type" class="form-control form-control-sm config-text">
                                        {% for ft in config.text.all['supported-fonts'] %}
                                            <option value="{{ ft }}" {{ ft == config.text.all.font ? 'selected' : '' }}>{{ ft }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.font -->

                    <!-- favicon -->
                    <div class="item-sidebar {% if slide_idx == '3' %}sub-item{% endif %}" data-idx="3" >
                        <div class="item-show {% if slide_idx == '3' %}active{% endif %}">
                            <span class="accordion">Favicon</span>
                        </div>
                        <div class="panel" {% if slide_idx == '3' %}style="display: block;"{% endif %}>
                            <!-- upload -->
                            <div class="upload-wrap mb-10">
                                <div class="upload-ct">
                                    <div class="thumb-upload text-center" id="image-thumb">
                                        <!-- img uploaded -->
                                        <img width="100%" src="{{ config.favicon.image.url }}" alt="">
                                        <input type="hidden" id="image-target" class="image-target"/>
                                        {#view/image/custome/no-image.png#}

                                        {% if not config.favicon.image.url|replace({' ': ''}) %}
                                            <div id="empty-banner">
                                                <button type="button" class="btn btn-upload button-popup" id="one">Chọn ảnh</button>
                                                <!-- uploaded -> hide meta-desc -->
                                                <div class="meta-desc">
                                                    <span class="desc">&nbsp;{#Kích thước: 35*35#}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="meta-action">
                                    <span class="desc">Kích thước: 35*35</span>
                                    <div class="group-action">
                                        <ul>
                                            <li>
                                                <a href="#" class="btn-upload">Thay đổi</a>
                                            </li>
                                            <li>
                                                <a href="#" class="remove-banner"> Xóa</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.upload -->
                        </div>
                    </div>
                    <!-- /.favicon -->

                    <!-- social -->
                    <div class="item-sidebar {% if slide_idx == '4' %}sub-item{% endif %}" data-idx="4" >
                        <div class="item-show {% if slide_idx == '4' %}active{% endif %}">
                            <span class="accordion">Mạng xã hội</span>
                        </div>
                        <div class="panel" {% if slide_idx == '4' %}style="display: block;"{% endif %}>
                            <!-- add link -->
                            <form action="">
                                <div class="form-group">
                                    <label for="facebook">{{ config.social.facebook.text }}</label>
                                    <input type="text" name="" id="facebook" class="form-control config-social" placeholder="Nhập link Facebook"
                                           aria-describedby="helpId" value="{{ config.social.facebook.url }}">
                                </div>

                                <div class="form-group">
                                    <label for="instagram">{{ config.social.instagram.text }}</label>
                                    <input type="text" name="" id="instagram" class="form-control config-social" placeholder="Nhập link Instagram"
                                           aria-describedby="helpId" value="{{ config.social.instagram.url }}">
                                </div>

                                <div class="form-group">
                                    <label for="youtube">{{ config.social.youtube.text }}</label>
                                    <input type="text" name="" id="youtube" class="form-control config-social" placeholder="Nhập link Youtube"
                                           aria-describedby="helpId" value="{{ config.social.youtube.url }}">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.social -->

                    <!-- social -->
                    <div class="item-sidebar {% if slide_idx == '6' %}sub-item{% endif %}" data-idx="6" >
                        <div class="item-show {% if slide_idx == '6' %}active{% endif %}">
                            <span class="accordion">Sàn Thương mại điện tử</span>
                        </div>
                        <div class="panel" {% if slide_idx == '6' %}style="display: block;"{% endif %}>
                            <!-- add link -->
                            <form action="">
                                <div class="form-group">
                                    <label for="shopee">{{ config.ecommerce.shopee.text }}</label>
                                    <input type="text" name="" id="shopee" class="form-control config-ecommerce" placeholder="Nhập link Shopee"
                                           aria-describedby="helpId" value="{{ config.ecommerce.shopee.url }}">
                                </div>

                                <div class="form-group">
                                    <label for="lazada">{{ config.ecommerce.lazada.text }}</label>
                                    <input type="text" name="" id="lazada" class="form-control config-ecommerce" placeholder="Nhập link Lazada"
                                           aria-describedby="helpId" value="{{ config.ecommerce.lazada.url }}">
                                </div>

                                <div class="form-group">
                                    <label for="tiki">{{ config.ecommerce.tiki.text }}</label>
                                    <input type="text" name="" id="tiki" class="form-control config-ecommerce" placeholder="Nhập link Tiki"
                                           aria-describedby="helpId" value="{{ config.ecommerce.tiki.url }}">
                                </div>

                                <div class="form-group">
                                    <label for="sendo">{{ config.ecommerce.sendo.text }}</label>
                                    <input type="text" name="" id="sendo" class="form-control config-ecommerce" placeholder="Nhập link Sendo"
                                           aria-describedby="helpId" value="{{ config.ecommerce.sendo.url }}">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.social -->

                    <!-- css override -->
                    <div class="item-sidebar {% if slide_idx == '5' %}sub-item{% endif %}" data-idx="5" >
                        <div class="item-show {% if slide_idx == '5' %}active{% endif %} active-code-mirror">
                            <span class="accordion">
                                Tùy chỉnh CSS
                            </span>
                        </div>
                        <div class="panel" {% if slide_idx == '5' %}style="display: block;"{% endif %}>
                            <p style="font-size: 13px; margin-bottom: 0px; color: #817e7e">Nội dung CSS</p>
                            <textarea maxlength="30000" id="css-code-mirror" ></textarea>
                        </div>
                    </div>
                    <!-- /.social -->
                </section>
                <!-- /.body sidebar -->
            </div>

            <!-- Common setting button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>
        <!-- /.Sidebar -->

        <!-- preview content -->
        {% if not is_on_mobile %}
            {{ preview }}
        {% else %}
            <div class="modal fade" id="myModalPreview">
                <div class="modal-dialog modal-xl w-100 h-100 m-0">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            {{ preview }}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer close-preview">
                            <button type="button" class="btn btn-setting" data-dismiss="modal">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.25 2.25L13.75 4.75" stroke="#637381" stroke-miterlimit="10"/>
                                    <path d="M8 10.5001L5.5 8.00012L11.9865 1.51362C12.318 1.1821 12.7677 0.99585 13.2365 0.99585C13.7053 0.99585 14.155 1.1821 14.4865 1.51362C14.818 1.84514 15.0043 2.29478 15.0043 2.76362C15.0043 3.23246 14.818 3.6821 14.4865 4.01362L8 10.5001Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                    <path d="M2.586 10.586C2.96108 10.211 3.4698 10.0002 4.00025 10.0002C4.2629 10.0002 4.52298 10.052 4.76564 10.1525C5.00829 10.253 5.22878 10.4003 5.4145 10.586C5.60022 10.7718 5.74754 10.9923 5.84806 11.2349C5.94857 11.4776 6.0003 11.7376 6.0003 12.0003C6.0003 12.2629 5.94857 12.523 5.84806 12.7657C5.74754 13.0083 5.60022 13.2288 5.4145 13.4145C4.633 14.1955 1.5 14.5 1.5 14.5C1.5 14.5 1.8045 11.367 2.586 10.586V10.586Z" stroke="#637381" stroke-miterlimit="10" stroke-linecap="square"/>
                                </svg>
                                &nbsp;Thiết kế
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </div> <!-- POPUP IMAGE MANAGER-->
    <div id="modal-container">
        <div class="modal-background">
            <div class="container modal">
            </div>
        </div>
    </div>


    <link rel="stylesheet" type="text/css" href="view/stylesheet/custom/image_manager.css">
    <script src="view/javascript/custom/image_manager.js"></script>
    <!-- END POPUP IMAGE MANAGER -->
    <!-- /.Section content -->

    // codeMirror
    <link rel="stylesheet" href="view/javascript/codemirror/lib/codemirror.css">
    <script src="view/javascript/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="view/javascript/codemirror/lib/css.js"></script>
    <link rel="stylesheet" href="view/javascript/codemirror/addon/hint/show-hint.css">
    <script src="view/javascript/codemirror/addon/hint/show-hint.js"></script>
    <script src="view/javascript/codemirror/addon/hint/css-hint.js"></script>
    // end codeMirror

    <script src="view/javascript/theme/jscolor.js"></script>

    <script>
        $(document).ready( function() {
            // codeMirror
            var codemirror = CodeMirror.fromTextArea(document.getElementById('css-code-mirror'), {
                // lineNumbers: true,
                extraKeys: {"Ctrl-Space": "autocomplete"},
            });
            jQuery('.active-code-mirror').on('click', function () {
                codemirror.refresh();
            });
            var config = {{ config|json_encode|raw }};
            codemirror.setValue(config.override_css.css);
            
            $('.config-color').change(function () {
                var config = {{ config|json_encode|raw }};
                config = config.color;
                config = applyChange(config, {
                    color_main: $('#color-main').val(),
                    color_button: $('#color-button').val()
                });

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change_color|raw }}'.replace(/&amp;/g, '&');

                postChange(url, obj_data);

                return false;
            });

            $('.config-text').change(function () {
                var config = {{ config|json_encode|raw }};
                config = config.text;
                config = applyChange(config, {
                    font_title: $('#font-title').val(),
                    font_type: $('#font-type > option:selected').val()
                });

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change_text|raw }}'.replace(/&amp;/g, '&');

                postChange(url, obj_data);

                return false;
            });

            $('.image-target').on('change', function(){
                var that = $(this);

                onChangeImageUrl(that);
            });

            function onChangeImageUrl(e){
                if ($.trim(e.val()) !== ''){
                    $('#empty-banner').hide();
                }

                var config = {{ config|json_encode|raw }};
                config = config.favicon;
                config = applyChange(config, {
                    file_favicon: e.val()
                });

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change_favicon|raw }}'.replace(/&amp;/g, '&');

                postChange(url, obj_data);

                return false;
            }

            $('.btn-upload').on('click', function(e){
                e.preventDefault();
                var target = 'image-target';
                var thumb = 'image-thumb';
                $('#modal-image').remove();

                $.ajax({
                    url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token') + '&single=true&target=' + target + '&thumb='+ thumb,
                    dataType: 'html',
                    beforeSend: function() {
                        $('#modal-container').removeAttr('class').addClass('one');
                    },
                    complete: function() {
                    },
                    success: function(html) {
                        $('#modal-container .modal').html(html);
                    }
                });
            });

            $('.remove-banner').on('click', function(e){
                e.preventDefault();
                var target = 'image-target';
                var thumb = 'image-thumb';
                $('#' + target).val('').trigger('change');
                // $('#' + thumb).find('img').attr('src', '').trigger('change');
                // $('#empty-banner-'+banner_idx).show();
            });

            $('.config-social').change(function () {
                var config = {{ config|json_encode|raw }};
                config = config.social;
                config = applyChange(config, {
                    facebook: $('#facebook').val(),
                    instagram: $('#instagram').val(),
                    youtube: $('#youtube').val()
                });

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change_social|raw }}'.replace(/&amp;/g, '&');
                postChange(url, obj_data);

                return false;
            });

            $('.config-ecommerce').change(function () {
                var config = {{ config|json_encode|raw }};
                config = config.ecommerce;
                config = applyChange(config, {
                    shopee: $('#shopee').val(),
                    lazada: $('#lazada').val(),
                    tiki: $('#tiki').val(),
                    sendo: $('#sendo').val()
                });

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change_ecommerce|raw }}'.replace(/&amp;/g, '&');
                postChange(url, obj_data);

                return false;
            });

            // codemirror.on('inputRead', function () {
            //     var codeMirrorValue = codemirror.getValue();
            //     console.log(codeMirrorValue);
            //     codeMirrorValue = codeMirrorValue.slice(0, 30);
            //     console.log(codeMirrorValue);
            //     codemirror.setValue(codeMirrorValue);
            //     codemirror.setCursor(99999, 99999);
            // });

            codemirror.on('blur', function () {
                // slice length of value
                var txtMaxLength = $('#css-code-mirror').attr('maxlength');
                var codeMirrorValue = codemirror.getValue();
                codeMirrorValue = codeMirrorValue.slice(0, txtMaxLength);
                codemirror.setValue(codeMirrorValue);

                var config = {{ config|json_encode|raw }};
                config = config.override_css;
                config.css = codemirror.getValue();

                var obj_data = {'theme_builder_config': config};
                var url = '{{ href_change_override_css|raw }}'.replace(/&amp;/g, '&');

                postChange(url, obj_data);
            });

            function getURLVar(key) {
                var value = [];

                var query = String(document.location).split('?');

                if (query[1]) {
                    var part = query[1].split('&');

                    for (i = 0; i < part.length; i++) {
                        var data = part[i].split('=');

                        if (data[0] && data[1]) {
                            value[data[0]] = data[1];
                        }
                    }

                    if (value[key]) {
                        return value[key];
                    } else {
                        return '';
                    }
                }
            }

            /**
             * @param {Object} config
             * @param {Object} data with keys: color_main, color_button, font_title, font_type, file_favicon, facebook, instagram, youtube
             * @returns {*}
             */
            function applyChange(config, data) {
                // color
                if (data && data['color_main']) {
                    config.main.main.hex = data['color_main'];
                }

                if (data && data['color_button']) {
                    config.main.button.hex = data['color_button'];
                }

                // text
                if (data && data['font_title']) {
                    config.all.title = data['font_title'];
                }

                if (data && data['font_type']) {
                    config.all.font = data['font_type'];
                }

                // favicon
                if (data && Object(data).hasOwnProperty('file_favicon')) {
                    config.image.url = data['file_favicon'];
                }

                // social
                if (data && data['facebook']) {
                    updateSocial('facebook', data['facebook'], config);
                }

                if (data && data['instagram']) {
                    updateSocial('instagram', data['instagram'], config);
                }

                if (data && data['youtube']) {
                    updateSocial('youtube', data['youtube'], config);
                }

                // ecommerce
                if (data && data['shopee']) {
                    updateEcommerce('shopee', data['shopee'], config);
                }

                if (data && data['lazada']) {
                    updateEcommerce('lazada', data['lazada'], config);
                }

                if (data && data['tiki']) {
                    updateEcommerce('tiki', data['tiki'], config);
                }

                if (data && data['sendo']) {
                    updateEcommerce('sendo', data['sendo'], config);
                }

                return config;
            }

            function postChange(url, obj_data, idx = 999)
            {
                //var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');
                if (idx === 999){
                    $('.item-sidebar').each(function(){
                        if($(this).hasClass('sub-item')){
                            idx = $(this).attr('data-idx');
                        }
                    });
                }
                $.ajax({
                    type: "POST",
                    url: url,
                    data: obj_data,
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        var href = window.location.href;
                        var regex = new RegExp("&idx=\\d+");
                        href = href.replace(regex, '');
                        window.location.href = href + '&idx=' + idx;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                        alert(thrownError + "\r\n ahihi" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }

            function updateSocial(name, url, config){
                var social = findSocial(name, config);
                if(social){
                    social.url = url;
                }
            }

            function updateEcommerce(name, url, config){
                var ecommerce = findEcommerce(name, config);
                if(ecommerce){
                    ecommerce.url = url;
                }
            }

            function findSocial(name, config){
                for (var index in config){
                    if(config[index].name === name) {
                        return config[index];
                    }
                }
                return null;
            }

            function findEcommerce(name, config){
                for (var index in config){
                    if(config[index].name === name) {
                        return config[index];
                    }
                }
                return null;
            }

        });
    </script>
{% endblock %}