{% extends "theme/common/base.twig" %}

{% block hstylesheet %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    {{ parent() }}

    {% block hstylesheet_bootstrap %}
        <link href="view/stylesheet/theme/text/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/preview.css">
    <link rel="stylesheet" type="text/css" href="view/stylesheet/theme/text/style.css">
{% endblock %}

{% block hscript %}
    {{ parent() }}

    {#{% block hscript_jquery %}#}
    {#<script src="view/javascript/theme/color/jquery.min.js"></script>#}
    {#{% endblock %}#}
    {% block hscript_bootstrap %}
        <script src="view/javascript/theme/color/bootstrap.min.js"></script>
    {% endblock %}
    <script src="view/javascript/theme/color/popper.min.js" type="text/javascript"></script>
{% endblock %}

{#{% block bcontent %}#}
{% block body %}
    <!-- Disable when pending request -->
    {% include 'theme/common/wait_loading.twig' %}

    <!-- preview content -->
    {{ preview }}

    <!--      Menu SIDEBAR      -->
    <div class="sidebar d-flex flex-column justify-content-between text-light sidebar-fixed">
        <!--      Menu header      -->
        <div>
            <a href="{{ back_section }}">
            <div class="header-menu d-flex align-items-center text-light p-3">
                <span class="mr-2">
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.89406 8.00298L9.24767 14.0528C9.71757 14.5006 9.71757 15.2247 9.24767 15.6677C8.77778 16.1108 8.01794 16.1108 7.54804 15.6677L0.34961 8.8128C-0.105291 8.37931 -0.115289 7.68381 0.314617 7.23602L7.54305 0.333457C7.778 0.109565 8.08793 -1.32198e-07 8.39286 -1.0554e-07C8.6978 -7.88819e-08 9.00773 0.109565 9.24268 0.333457C9.71257 0.781243 9.71257 1.50532 9.24268 1.94834L2.89406 8.00298Z" fill="white" />
                    </svg>
                </span>
                <span>{{ social }}</span>
            </div>
            </a>
            <!--      Menu ITEM    HEADINGS  -->
            <div class="menu">
                <div class="d-flex align-items-center text-light p-3">
                    <span>{{ social_setup }}</span>
                </div>
                <div>
                    <div class="color-list">
                        <!--      Menu ITEM  Màu nền    -->
                        <div class="d-flex justify-content-between py-2 px-3 align-items-center">
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <form class="w-100 custom-form">
                                    {% for value in config %}
                                        <div class="form-group">
                                            <label>{{ value.text }}</label>
                                            <input type="text" id={{ value.name }} class="form-control form-control-sm" name={{ value.name }} value={{ value.url }}>
                                        </div>
                                    {% endfor %}

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Preview button and undo/redo -->
            {% include 'theme/common/preview_undo_redo.twig' %}
        </div>

        <script>
            $(document).ready(function(){
                var config = {{ config|json_encode|raw }};

                $('.form-control-sm').keyup(doSearch);

                var delayTimer;
                function doSearch() {
                    clearTimeout(delayTimer);
                    delayTimer = setTimeout(function() {
                        changeTextSocial();
                    }, 1500); // Will do the ajax stuff after 1000 ms, or 1 s
                }

                function changeTextSocial() {
                    var facebook = $('#facebook').val();
                    var twitter = $('#twitter').val();
                    var instagram = $('#instagram').val();
                    var tumblr = $('#tumblr').val();
                    var youtube = $('#youtube').val();
                    var googleplus = $('#googleplus').val();
                    var config = {{ config|json_encode|raw }};
                    config = applyChange(config, facebook, twitter, instagram, tumblr, youtube, googleplus);
                    var obj_data = {'theme_builder_config': config};
                    var url = '{{ href_change|raw }}'.replace(/&amp;/g, '&');

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: obj_data,
                        dataType: "html",
                        beforeSend: function () {
                            $('.loader--style2').show();
                        },
                        success: function (data) {
                            $('.loader--style2').hide();
                            location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n ahihi" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }

                function applyChange(config, facebook, twitter, instagram, tumblr, youtube, googleplus) {
                    updateSocial('facebook', facebook, config);
                    updateSocial('twitter', twitter, config);
                    updateSocial('instagram', instagram, config);
                    updateSocial('tumblr', tumblr, config);
                    updateSocial('youtube', youtube, config);
                    updateSocial('googleplus', googleplus, config);
                    return config;
                }

                function findSocial(name, config){
                    for (var index in config){
                        if(config[index].name === name) {
                            return config[index];
                        }
                    }
                    return null;
                }

                function updateSocial(name, url, config){
                    var social = findSocial(name, config);
                    if(social){
                        social.url = url;
                    }
                }
            });


        </script>
    </div>

{% endblock %}
