{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<main class="main-content">
    <div class="container-fluid" id="product-detail-page">
        {#<nav aria-label="breadcrumb" class="my-4 pt-1 py-5">#}
        {#    <ol class="breadcrumb">#}
        {#        {% for breadcrumb in breadcrumbs %}#}
        {#            {% if breadcrumb['active'] is defined  %}#}
        {#                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>#}
        {#            {% else %}#}
        {#                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
        {#            {% endif %}#}
        {#        {% endfor %}#}
        {#    </ol>#}
        {#</nav>#}
        
        <div class="row mb-5">
            <div class="col-12 px-2 px-md-5 title-page-bg">
                <div class="title-page-bg-overlay"></div>
                <h2>Bộ sưu tập nước hoa</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <div class="product-teaser-fix {% if product['compare_price_master'] == 0 %} contact {% endif%}">
                    <div class="container">
                        <div class="d-flex">
                            <span class="font-weight-500 align-self-center">{{ product['name'] }}  -  <span
                                        class="second-color">
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        <span class="price-main font-weight-bold mr-2">{{ product['compare_price_master'] != '0 VND' ? product['compare_price_master'] : 'Liên hệ' }}</span>
                                    {% else %}
                                        <span class="price-main font-weight-bold mr-2">
                                            {{ product['min_compare_price_version'] }}
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ {{ product['max_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% else %}
                                {% if product['max_price_version'] is null %}
                                    <span class="price-main font-weight-bold mr-2">{{ product['price_master'] != '0 VND' ? product['price_master'] : 'Liên hệ' }}</span>
                                {% else %}
                                    <span class="price-main font-weight-bold mr-2">
                                        {{ product['min_price_version'] }}
                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                            ~ {{ product['max_price_version'] }}
                                        {% endif %}
                                    </span>
                                {% endif %}
                                {% if product['max_compare_price_version'] is null %}
                                    <del class="price-second mt-2 font-weight-400 pb-2 text-dark">{{ product['compare_price_master'] }}</del>
                                {% else %}
                                    <del class="price-second mt-2 font-weight-400 pb-2 text-dark">
                                        {{ product['min_compare_price_version'] }}
                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                            ~ {{ product['max_compare_price_version'] }}
                                        {% endif %}
                                    </del>
                                {% endif %}
                                {% endif %}</span></span>
                            <div class="ml-auto d-flex contain-btn-quantity">
                                {#<button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>#}
                                {#<button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0">Mua ngay</button>#}
                                
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        {% if product['compare_price_master'] != 0 %}
                                            <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light btn-cart-product-detail"><i class="fas fa-shopping-cart mr-2"></i>Thêm vào giỏ hàng</button>
                                            {#<button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0 btn-cart-add-product-detail">Mua ngay</button>#}
                                        {% else %}
                                            <button type="button" class="w-100 flex-fill btn btn-outline-secondary btn-add bg-white main-color border-light d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                        {% endif %}
                                    {% else %}
                                        <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light btn-cart-product-detail"><i class="fas fa-shopping-cart mr-2"></i>Thêm vào giỏ hàng</button>
                                        {#<button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0 btn-cart-add-product-detail">Mua ngay</button>#}
                                    {% endif %}
                                {% else %}
                                    <button type="button" class="w-100 flex-fill btn btn-outline-secondary btn-add bg-white main-color border-light btn-cart-contact-product-detail d-none d-md-block hide" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                    
                                    <button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light btn-cart-product-detail"><i class="fas fa-shopping-cart mr-2"></i>Thêm vào giỏ hàng</button>
                                    {#<button {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0 btn-cart-add-product-detail">Mua ngay</button>#}
                                {% endif %}
                                
                                
                                <div class="d-flex" style="flex-flow: row-reverse;">
                                    {#<p class="align-items-center mb-0 py-2 mr-3">Số lượng:</p>#}
                                    <div class="d-flex w-75 quantity quantity-teaser-fix">
                                        <input type="number" id="input-amount-add-to-cart" min="1" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" step="1" max="9999" class="w-15 bg-white" value="1" style="width: 95px!important;text-align: center; border: none;">
                                        <div class="quantity-nav font-14 px-2 text-center bg-white">
                                            <div class="quantity-button quantity-up"><i class="fas fa-angle-up"></i></div>
                                            <div class="quantity-button quantity-down"><i class="fas fa-angle-down"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row mb-4 product-detail">
                    <div class="col-12 col-md-6 node-left mb-3">
                        <div class="row">
                            <div class="carousel col-9" id="slider">
                                <div class="owl-carousel owl-theme owl-review owl-product-detail" data-limit-mobile="1">
                                    {% if product_images is not empty %}
                                        {% for k,image in product_images %}
                                            <div data-hash="product-{{ k }}">
                                                <div style="background-image: url({{ image['image'] }}); background-size: contain; background-repeat: no-repeat; background-position: center; width: 100%; height: 400px"></div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div data-hash="product-1"><img class="" src="{{ product_empty }}" alt=""></div>
                                    {% endif %}
                                </div>
                            </div> <!-- End slider -->
                            <div id="carousel" class="owl-thumb col-3">
                                {#<div class="owl-carousel owl-theme owl-review owl-product-thumb">#}
                                    {% if product_images is not empty %}
                                        {% for k,image in product_images %}
                                            <a href="{{ current_url_href }}#product-{{ k }}"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="{{ current_url_href }}#product-1"><img class="img-fluid" src="{{ product_empty }}" alt=""></a>
                                    {% endif %}
                                {#</div>#}
                            </div> <!-- End slider thumb -->
                        </div>
                    </div> <!-- End node-left -->
        
                    <div class="col-12 col-md-6 node-right">
                        <div class="px-4">
                            <h1 class="page-title font-36 font-weight-400 text-capitalize mb-3">{{ product['name'] }}</h1>
                            <div class="d-flex mb-2">
                                <span class="block-status">Tình trạng:
                                    {% if product['product_is_stock'] %}
                                        <span class="ml-3 second-color font-weight-400">Còn hàng</span>
                                            {% else %}
                                        <span class="ml-3 second-color font-weight-400">Hết hàng</span>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="price d-inline-flex mb-2 align-items-end w-100 pb-2">
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        {% if product['compare_price_master'] != 0 %}
                                            <span class="price-main font-weight-bold mr-4">{{ product['compare_price_master'] }}</span>
                                        {% else %}
                                            <span class="price-main font-weight-bold mr-4"></span> {#BESTME dunght: remove text: Liên hệ#}
                                        {% endif %}
                                    {% else %}
                                        <span class="price-main font-weight-bold mr-4">
                                            {{ product['min_compare_price_version'] }}
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ {{ product['max_compare_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {% if product['max_compare_price_version'] is null %}
                                        <del class="price-second mt-2 font-weight-400 pb-2">{{ product['compare_price_master'] }}</del>
                                    {% else %}
                                        <del class="price-second mt-2 font-weight-400 pb-2">
                                            {{ product['min_compare_price_version'] }}
                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                ~ {{ product['max_compare_price_version'] }}
                                            {% endif %}
                                        </del>
                                    {% endif %}
                                    {% if product['max_price_version'] is null %}
                                        <span class="price-main font-weight-bold mr-4">{{ product['price_master'] }}</span>
                                    {% else %}
                                        <span class="price-main font-weight-bold mr-4">
                                            {{ product['min_price_version'] }}
                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                ~ {{ product['max_price_version'] }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {#<div class="summary ckeditor-content pb-2">#}
                                {#{{ product['sub_description']|html_entity_decode }}#}
                            {#</div>#}
                            <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">
        
        
                                {% if attributes is not empty %}
                                    {% for attribute in attributes %}
                                        <div class="choose-attribute mb-3">
                                            <label class="font-weight-400 sixth-color w-20 align-self-center">{{ attribute['attribute_name'] }}:</label>
                                            <div class="flex-fill">
                                                {% for key,attribute_text in attribute['attribute_text'] %}
                                                    <div class="attr-item d-inline-block mr-1">
                                                        <input class="d-none" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                               value="{{ attribute_text }}">
                                                        <label class="m-0 py-2 font-12 px-3" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
        
                                <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                                <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                                <div class="d-block d-md-flex">
                                    <p class="align-items-center mb-0 py-2 mr-3">Số lượng:</p>
                                    <div class="d-flex w-75 quantity">
                                        <input type="number" id="input-amount-add-to-cart" min="1" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" step="1" max="9999" class="form-control mr-3 w-15 border-light bg-white" value="1" style="width: 95px!important;text-align: center;">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                </div>

                                {# short description #}
                                {% if product['sub_description'] != '' %}
                                    <div class="sort-desc--mobile">
                                        <h2 class="font-24 mt-3 mb-3">Mô tả ngắn:</h2>
                                        <p class="desc ckeditor-content">{{ product['sub_description']|html_entity_decode }}</p>
                                    </div>
                                {% endif %}
                                
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        {% if product['compare_price_master'] != 0 %}
                                            <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-cart-add-product-detail flex-fill w-100 mt-3 btn btn-outline-secondary btn-add mt-2 main-color border-light d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>
                                            {#<button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn-cart-product-detail btn-add btn w-100 flex-fill btn btn-outline-secondary btn-submit py-2 text-uppercase my-3 mb-4 btn-submit add-to-cart-action-checkout d-none d-md-block">Mua ngay</button>#}
                                        {% else %}
                                            <button type="button" class="btn btn-outline-secondary btn-submit my-1 w-100 add-to-cart-action-checkout d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-cart-add-product-detail flex-fill w-100 mt-3 btn btn-outline-secondary btn-add mt-2 main-color border-light d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>
                                        {#<button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn-cart-product-detail btn-add btn w-100 flex-fill btn btn-outline-secondary btn-submit py-2 text-uppercase my-3 mb-4 btn-submit add-to-cart-action-checkout d-none d-md-block d-none d-md-block">Mua ngay</button>#}
                                    {% endif %}
                                {% else %}
                                    {#{% if product['max_price_version'] is null %}#}
                                    {#    {% if product['price_master'] != 0 %}#}
                                    {#        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>#}
                                    {#        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block">Mua hàng ngay</button>#}
                                    {#    {% else %}#}
                                    {#        <button type="button" class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>#}
                                    {#    {% endif %}#}
                                    {#{% else %}#}
                                    {#    {% if product['min_price_version'] != 0 %}#}
                                    {#        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>#}
                                    {#        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block">Mua hàng ngay</button>#}
                                    {#    {% else %}#}
                                    {#        <button type="button" class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>#}
                                    {#    {% endif %}#}
                                    {#{% endif %}#}
                                    
                                    <button type="button" class="btn btn-outline-secondary btn-submit my-1 w-100 add-to-cart-action-checkout d-none d-md-block btn-cart-contact-product-detail hide d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                    
                                    <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-cart-add-product-detail flex-fill w-100 mt-3 btn btn-outline-secondary btn-add mt-2 main-color border-light d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>
                                    {#<button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn-cart-product-detail btn-add btn w-100 flex-fill btn btn-outline-secondary btn-submit py-2 text-uppercase my-3 mb-4 btn-submit add-to-cart-action-checkout d-none d-md-block">Mua ngay</button>#}
                                {% endif %}
                                
                                {#<button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="flex-fill w-100 mt-3 btn btn-outline-secondary btn-add mt-2 bg-white main-color border-light {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} second-color-hover {% endif %}"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng</button>#}
                                {#<button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="w-100 flex-fill btn btn-outline-secondary btn-submit py-2 text-uppercase my-3 mb-4">Mua Ngay</button>#}
                            </form>
                            {#<div class="d-flex mb-3">#}
                            {#    <span class="w-20 font-weight-500 more-info-product">Loại sản phẩm:</span>#}
                            {#    {% if categories is not empty %}#}
                            {#        {% for k,category in categories %}#}
                            {#            {% set diffcategory = category['name']|split('_') %}#}
                            {#            <a class="sixth-color mx-1" href="{{ category['href'] }}">{{ diffcategory[0] }}</a>{% if categories|length != k+1 %}, {% endif %}#}
                            {#        {% endfor %}#}
                            {#    {% endif %}#}
                            {#</div>#}
                            {#<div class="d-flex mb-3">#}
                            {#    <span class="w-20 font-weight-500 more-info-product">Tag:</span>#}
                            {#    {% if tags is not empty %}#}
                            {#        <span class="sixth-color">#}
                            {#            {% for tag in tags %}#}
                            {#                {{ tag['name'] }}{% if tags|length != k+1 %}, {% endif %}#}
                            {#            {% endfor %}#}
                            {#        </span>#}
                            {#    {% endif %}#}
                            {#</div>#}
                            {#<div class="d-flex mb-3">#}
                            {#    <span class="w-20 more-info-product font-weight-500">Chia sẻ:</span>#}
                            {#    <a class="mr-4" href="https://plus.google.com/share?url={{ current_url|raw }}"><i class="icon icon-google-plus sixth-bg"></i></a>#}
                            {#    <a class="mr-4" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|raw }}"><i class="icon icon-fb-single sixth-bg"></i></a>#}
                            {#    <a class="mr-4" href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_ur|raw }}"><i class="icon icon-twitter sixth-bg"></i></a>#}
                            {#</div>#}
                        </div>
                    </div> <!-- End node-right -->
        
                    <div class="col-12 col-md-12 mt-5">
                        <ul class="nav" id="product-info-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Thông tin sản phẩm</a>
                            </li>
                            {#<li class="nav-item d-flex">#}
                            {#    <a class="nav-link align-self-end" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Đánh giá (6)</a>#}
                            {#</li>#}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active py-1" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="ckeditor-content overflow-hidden tab-content-description">
                                    {{ product['description']|html_entity_decode }}
                                </div>
                            </div>
                            {#<div class="tab-pane fade py-1" id="comment" role="tabpanel" aria-labelledby="comment-tab">#}
                            {#    <div class="container-comments">#}
                            {#        <form class="mb-3 form-comment">#}
                            {#            <h3 class="font-24 text-uppercase mb-2">Đánh giá sản phẩm</h3>#}
                            {#            <div class="rating d-flex my-1">#}
                            {#                <div class="rating-container mr-2">#}
                            {#                    <span class="rating-item active"></span>#}
                            {#                    <span class="rating-item active"></span>#}
                            {#                    <span class="rating-item active"></span>#}
                            {#                    <span class="rating-item active"></span>#}
                            {#                    <span class="rating-item"></span>#}
                            {#                </div>#}
                            {#            </div>#}
                            {#            <div class="form-group my-3">#}
                            {#                <span class="font-18 w-20 py-1">Viết bình luận:</span>#}
                            {#                <div class="flex-fill my-3 d-flex">#}
                            {#                    <div class="form-group form-row">#}
                            {#                        <div class="col-6">#}
                            {#                            <input type="text" class="form-control border-light" placeholder="Họ và tên*">#}
                            {#                        </div>#}
                            {#                        <div class="col-6">#}
                            {#                            <input type="text" class="form-control border-light" placeholder="Số điện thoại*">#}
                            {#                        </div>#}
                            {#                    </div>#}
                            {#                    <textarea type="text" class="form-control border-light w-100" placeholder="Nội dung bình luận" rows="1"></textarea>#}
                            {#                    <button class="btn btn-outline-secondary text-white text-uppercase float-right" type="submit">Gửi</button>#}
                            {#                </div>#}
                            {#            </div>#}
                            {#        </form>#}
                                    
                            {#        <div class="list-comments">#}
                            {#            <ul class="list-group">#}
                            {#                {% for i in 0..5 %}#}
                            {#                    <li class="list-group-item comment-item">#}
                            {#                        <div class="title">#}
                            {#                            <div class="float-left d-flex">#}
                            {#                                <img src="catalog/view/theme/novaon/asset/img/blog_3.jpg" alt="">#}
                            {#                                <div class="title ml-3">#}
                            {#                                    <h4 class="name">Lê thúy Hằng</h4>#}
                            {#                                    <div class="rating d-flex my-1">#}
                            {#                                        <div class="rating-container mr-2">#}
                            {#                                            <span class="rating-item active"></span>#}
                            {#                                            <span class="rating-item active"></span>#}
                            {#                                            <span class="rating-item active"></span>#}
                            {#                                            <span class="rating-item active"></span>#}
                            {#                                            <span class="rating-item"></span>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <span class="float-right date">15/03/2020</span>#}
                            {#                        </div>#}
                            {#                        <div class="content d-inline-block mt-2">#}
                            {#                            <p>Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái đẹp, giúp nàng tự tin hơn mỗi khi xuống...</p>#}
                            {#                        </div>#}
                            {#                    </li>#}
                            {#                {% endfor %}#}
                            {#            </ul>#}
                                        
                            {#            <ul class="pagination justify-content-center">#}
                            {#                <li class="page-item"></li>#}
                            {#                <li class="page-item active"><a class="page-link">1</a></li>#}
                            {#                <li class="page-item"><a class="page-link" data-page="2" href="#">2</a></li>#}
                            {#                <li class="page-item"><a class="page-link" data-page="2" href="#"><i class="fa fa-angle-right"></i></a></li>#}
                            {#                <li class="page-item"><a class="page-link" data-page="2" href="#"><i class="fa fa-angle-double-right"></i></a></li>#}
                            {#            </ul>#}
                            {#        </div>#}
                            {#    </div>#}
                            {#</div>#}
                            {#<div class="dv-collapse text-center my-2">#}
                            {#    <button class="btn btn-collapse">Xem thêm bài viết</button>#}
                            </div>
                        </div>
                    {#</div> <!-- End row -->#}
                </div> <!-- End row -->
                
                {% if related_product_visible %}
                    <section class="block-relate-product pt-3 mb-5 bestme-block-product-related-product">
                        <div class="container">
                            <div class="row">
                                {#<h2 class="block-title bestme-block-product-related-product-title mt-4 mb-2 w-100">{{ related_product_title }}</h2>#}
                                {#<p class="bestme-block-product-related-product-subtitle mb-4 w-100">Our weekly picks right here. Our weekly picks right here.</h2>#}
                            </div>
                            {#<div class="block-content row" style="margin-left: -30px; margin-right: -30px;">#}
                            {#    <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-number-item="{{ related_products_display_grid_quantity }}">#}
                            {#        {% for product in related_products %}#}
                            {#            <div class="slide-item">#}
                            {#                <div class="p-0 product-item">#}
                            {#                    <div class="product-info text-center">#}
                            {#                            {% if product['percent_sale'] is not empty %}#}
                            {#                                <div class="product-highlight text-center">#}
                            {#                                    <span class="sale">{{ product['percent_sale'] }}</span>#}
                            {#                                </div>#}
                            {#                            {% endif %}#}
                            {#                            {% if product['product_is_stock'] == false %}#}
                            {#                                <div class="product-highlight text-center">#}
                            {#                                    <span class="status">hết</span>#}
                            {#                                </div>#}
                            {#                            {% endif %}#}
                            {#                            {% if product['is_new_product'] %}#}
                            {#                                <div class="product-highlight text-center">#}
                            {#                                    <span class="status">Mới</span>#}
                            {#                                </div>#}
                            {#                            {% endif %}#}
                            {#                        <a href="{{ product['href'] }}" title="{{ product.name }}"><div class="product-image" style="background-image: url({{ product['thumb'] }});"></div></a>#}
                            {#                        <div class="product-name">#}
                            {#                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 30 ? product.name|slice(0, 30) ~ '...' : product.name }}</a>#}
                            {#                        </div>#}
                            {#                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}#}
                            {#                                    <span class="product-price">#}
                            {#                                        {% if product['max_price_version'] is null %}#}
                            {#                                            <span class="price">{{ product['compare_price_master'] }}</span>#}
                            {#                                        {% else %}#}
                            {#                                            <span class="price">{{ product['min_compare_price_version'] }}</span>#}
                            {#                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}
                            {#                                                ~ <span class="price">{{ product['max_compare_price_version'] }}</span>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endif %}#}
                            {#                                    </span>#}
                            {#                        {% else %}#}
                            {#                                    <span class="product-price">#}
                            {#                                        {% if product['max_price_version'] is null %}#}
                            {#                                            <span class="price">{{ product['price_master'] }}</span>#}
                            {#                                        {% else %}#}
                            {#                                            <span class="price">{{ product['min_price_version'] }}</span>#}
                            {#                                            {% if product['max_price_version'] != product['min_price_version'] %}#}
                            {#                                                ~ <span class="price">{{ product['max_price_version'] }}</span>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endif %}#}
                            {#                                    </span>#}
                            {#                                    <span class="product-price-sale">#}
                            {#                                        {% if product['max_compare_price_version'] is null %}#}
                            {#                                            <span class="price">{{ product['compare_price_master'] }}</span>#}
                            {#                                        {% else %}#}
                            {#                                            <span class="price">{{ product['min_compare_price_version'] }}</span>#}
                            {#                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}
                            {#                                                ~ <span class="price">{{ product['max_compare_price_version'] }}</span>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endif %}#}
                            {#                                    </span>#}
                            {#                        {% endif %}#}
                                                    
                            {#                        {% if product['percent_sale'] is not empty %}#}
                            {#                            <span class="product-status-sale">#}
                            {#                                <span class="sale">{{ product['percent_sale'] }}</span>#}
                            {#                            </span>#}
                            {#                        {% endif %}#}
                            {#                    </div>#}
                            {#                    <div class="product-link-detail text-center">#}
                            {#                        <a href="{{ product['href'] }}" class="cart-btn">Mua hàng</a>#}
                            {#                    </div>#}
                            {#            </div> <!-- End Pro Item -->#}
                            {#            </div> <!-- End slide-item -->#}
                            {#            <!-- End Pro Item -->#}
                            {#        {% endfor %}#}
        
                            {#    </div>#}
                            {#</div> <!-- End block-content -->#}
                            
                            {#<div id="product-detail-related-products-carousel" class="carousel carousel-products slide" data-ride="carousel">#}
                    
                            {#    {% set related_products_layout_product = 3 %}#}
                            {#    {% set col_xl = 12/related_products_layout_product %}#}
                                
                            {#    {% if related_products|length > related_products_layout_product %}#}
                            {#        <a class="carousel-control carousel-control-prev" href="#product-detail-related-products-carousel" data-slide="prev"><span class="carousel-control-icon carousel-control-prev-icon"></span></a>#}
                            {#        <a class="carousel-control carousel-control-next" href="#product-detail-related-products-carousel" data-slide="next"><span class="carousel-control-icon carousel-control-next-icon"></span></a>#}
                            {#    {% endif %}#}
                                
                            {#    <div class="carousel-inner">#}
                            {#        {% set index = 1 %}#}
                            {#        {% for product in related_products %}#}
                            {#            {% if index == 1 %}#}
                            {#                <div class="carousel-item text-center active">#}
                            {#            {% endif %}#}
                            {#                    <div class="col-12 col-md-{{ col_xl}} product-item">#}
                            {#                             <div class="product-info">#}
                            {#                        {% if product['is_new_product'] %}#}
                            {#                            <div class="product-highlight text-center">#}
                            {#                                <span class="sale">Sale</span>#}
                            {#                            </div>#}
                            {#                        {% elseif product['product_is_stock'] == false %}#}
                            {#                            <div class="product-highlight text-center">#}
                            {#                                <span class="status">Hết</span>#}
                            {#                            </div>#}
                            {#                        {% elseif product['percent_sale'] is not empty %}#}
                            {#                            <div class="product-highlight text-center">#}
                            {#                                <span class="status">Mới</span>#}
                            {#                            </div>#}
                            {#                        {% endif %}#}
                                            
                            {#                <a href="{{ product['href'] }}" title="{{ product.name }}">#}
                            {#                    <div class="product-image" style="background-image: url({{ product['thumb'] }});"></div>#}
                            {#                </a>#}
                            {#                <div class="product-image" style="background-image: url({{ product['thumb'] }});"></div>#}
                            {#                <div class="product-link-detail">#}
                            {#                    <div class="info">#}
                            {#                        <div class="product-name">#}
                            {#                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 30 ? product.name|slice(0, 30) ~ '...' : product.name }}</a>#}
                            {#                        </div>#}
                            {#                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}#}
                            {#                                    <span class="product-price">#}
                            {#                                        {% if product['max_price_version'] is null %}#}
                            {#                                            <span class="price">{{ product['compare_price_master'] }}</span>#}
                            {#                                        {% else %}#}
                            {#                                            <span class="price">{{ product['min_compare_price_version'] }}</span>#}
                            {#                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}
                            {#                                                ~ <span class="price">{{ product['max_compare_price_version'] }}</span>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endif %}#}
                            {#                                    </span>#}
                            {#                        {% else %}#}
                            {#                                    <span class="product-price">#}
                            {#                                        {% if product['max_price_version'] is null %}#}
                            {#                                            <span class="price">{{ product['price_master'] }}</span>#}
                            {#                                        {% else %}#}
                            {#                                            <span class="price">{{ product['min_price_version'] }}</span>#}
                            {#                                            {% if product['max_price_version'] != product['min_price_version'] %}#}
                            {#                                                ~ <span class="price">{{ product['max_price_version'] }}</span>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endif %}#}
                            {#                                    </span>#}
                            {#                                    <span class="product-price-sale">#}
                            {#                                        {% if product['max_compare_price_version'] is null %}#}
                            {#                                            <span class="price">{{ product['compare_price_master'] }}</span>#}
                            {#                                        {% else %}#}
                            {#                                            <span class="price">{{ product['min_compare_price_version'] }}</span>#}
                            {#                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}
                            {#                                                ~ <span class="price">{{ product['max_compare_price_version'] }}</span>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endif %}#}
                            {#                                    </span>#}
                            {#                        {% endif %}#}
                            {#                        {% if product['percent_sale'] is not empty %}#}
                            {#                            <span class="product-status-sale">#}
                            {#                                <span class="sale">{{ product['percent_sale'] }}</span>#}
                            {#                            </span>#}
                            {#                        {% endif %}#}
                            {#                    </div>#}
                                                
                            {#                    <div class="action">#}
                            {#                        <a href="{{ product['href'] }}" class="cart-btn"><i class="fas fa-search"></i></a>#}
                            {#                        <a href="{{ product['href'] }}" class="cart-btn"><i class="fas fa-shopping-cart"></i></a>#}
                            {#                    </div>#}
                            {#                </div>#}
                            {#            </div>#}
                            {#            <div class="product-link-detail">#}
                            {#                <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>#}
                            {#            </div>#}
                            {#                    </div> <!-- End Pro Item -->#}
                            {#            {% if (index % related_products_layout_product) == 0 and index != related_products|length %}#}
                            {#                </div>#}
                            {#                <div class="carousel-item text-center">#}
                            {#            {% endif %}#}
                            {#            {% if index == related_products|length %}#}
                            {#                </div>#}
                            {#            {% endif %}#}
                            {#            {% set index = index + 1 %}#}
                            {#        {% endfor %}#}
                            {#    </div>#}
                            {#</div>#}
                            
                            {% if related_product_visible %}
                                <section class="block-relate-product pt-3 mb-5 bestme-block-product-related-product" id="productdetailpage-relate-product">
                                    <div class="container">
                                        <div class="row mb-5 mb-md-0">
                                            <div class="col-12 text-center">
                                                <h2 class="block-title bestme-block-product-related-product-title mb-4 pt-3">{{ related_product_title }}</h2>
                                            </div>
                                        </div>
                                        <div class="block-content row" style="margin-left: -30px; margin-right: -30px;">
                                            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product owl-relate-product" data-limit-inline="{{ related_products_display_grid_quantity }}" data-limit-mobile="{{ related_products_display_grid_mobile_quantity }}" data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                                                {% set col_xl = 12/related_products_display_grid_quantity %}
                                                {% set break_index = related_products_display_grid_quantity * 2   %}
                                                {% for product in related_products %}
                                                    <div class="slide-item">
                                                        <div class="product-item">
                                                                <div class="product-info">
                                                                            {#{% if product['is_new_product'] %}#}
                                                                            {#    <div class="product-highlight text-center">#}
                                                                            {#        <span class="sale">Sale</span>#}
                                                                            {#    </div>#}
                                                                            {#{% elseif product['product_is_stock'] == false %}#}
                                                                            {#    <div class="product-highlight text-center">#}
                                                                            {#        <span class="status">Hết</span>#}
                                                                            {#    </div>#}
                                                                            {#{% elseif product['percent_sale'] is not empty %}#}
                                                                            {#    <div class="product-highlight text-center">#}
                                                                            {#        <span class="status">Mới</span>#}
                                                                            {#    </div>#}
                                                                            {#{% endif %}#}
                                                                    
                                                                    {#<a href="{{ product['href'] }}" title="{{ product.name }}">#}
                                                                        {#<div class="product-image" style="background-image: url({{ product['thumb'] }});"></div>#}
                                                                    {#</a>#}
                                                                    {#<div class="product-image" style="background-image: url({{ product['thumb'] }});"></div>#}
                                                                    <img class="product-image" src="{{ product['thumb'] }}" alt="{{ product.name }}">
                                                                    
                                                                        <div class="info">
                                                                            <div class="product-name">
                                                                                <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 25 ? product.name|slice(0, 25) ~ '...' : product.name }}</a>
                                                                            </div>
                                                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                                {% if product['compare_price_master'] != 0 %}
                                                                                    {% if product['max_compare_price_version'] == 0 %}
                                                                                        <span class="product-price">
                                                                                            {% if product['max_price_version'] is null %}
                                                                                                <span class="price">{{ product['compare_price_master'] }}</span>
                                                                                            {% else %}
                                                                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </span>
                                                                                    {% endif %}
                                                                                {% else %}
                                                                                        <a class="cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if product['max_compare_price_version'] == 0 %}
                                                                                        <strike class="product-price-sale">
                                                                                            {% if product['max_compare_price_version'] is null %}
                                                                                                <span class="price">{{ product['compare_price_master'] }}</span>
                                                                                            {% else %}
                                                                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </strike>
                                                                                        <span class="product-price">
                                                                                            {% if product['max_price_version'] is null %}
                                                                                                <span class="price">{{ product['price_master'] }}</span>
                                                                                            {% else %}
                                                                                                <span class="price">{{ product['min_price_version'] }}</span>
                                                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                                                    ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        </span>
                                                                                {% else %}
                                                                                        <a class="cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            {#{% if product['percent_sale'] is not empty %}#}
                                                                            {#    <span class="product-status-sale">#}
                                                                            {#        <span class="sale">{{ product['percent_sale'] }}</span>#}
                                                                            {#    </span>#}
                                                                            {#{% endif %}#}
                                                                        </div>
                                                                    <div class="product-link-detail">
                                                                        
                                                                        <div class="action">
                                                                            <a href="{{ product['href'] }}" class="cart-btn"><i class="fas fa-search"></i></a>
                                                                            <a href="{{ product['href'] }}" class="cart-btn"><i class="fas fa-shopping-cart"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {#<div class="product-link-detail">#}
                                                                {#    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>#}
                                                                {#</div>#}
                                                        </div> <!-- End Pro Item -->
                                                    </div> <!-- End col product -->
                                                {% endfor %}
                                            </div>
                                        </div> <!-- End block-content -->
                                    </div> <!-- End container -->
                                </section> <!-- End block-relate-product -->
                            {% endif %}
                        </div> <!-- End container -->
                    </section> <!-- End block-relate-product -->
                {% endif %}
            </div>
            
            {#<div class="col-12 col-md-3 sidebar-right">#}
            {#        <h2 class="slide-list-title py-3">Sản phẩm bán chạy</h2>#}
            {#        <section id="diffslide-hot-products">#}
            {#            <div id="diffslide-products-carousel" class="carousel carousel-products slide" data-ride="carousel">#}
            {#                <div class="carousel-inner"></div>#}
                            
            {#                <a class="carousel-control carousel-control-prev" href="#diffslide-products-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>#}
            {#                <a class="carousel-control carousel-control-next" href="#diffslide-products-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>#}
            {#            </div>#}
            {#        </section>#}
                    
            {#        <h2 class="slide-list-title py-3">Khuyến mãi</h2>#}
            {#        <section id="difflist-sale-off-products">#}
            {#            <div id="list-sale_off-products" class="d-inline-block w-100"></div>#}
            {#        </section>#}
            {#</div> <!-- End sidebar-right -->#}
        </div>
    </div>
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
        } else {
            $('#add-to-cart').submit();
        }
    });

    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart button, button.btn-add-cart-header, .product-teaser-fix .contain-btn-quantity button').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.action-cart a .count').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>

{{ footer }}
