{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined and breadcrumb.active  %}
                        <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item" aria-current="page"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- End breadcrumb -->

            <div class="main-content pb-3 pb-md-5 px-3">
                <div class="text-center">
                    <h1 class="page-title box-title">{{ content.title }}</h1>
                </div>
                <article class="post-content text-justify">
                    {{ content.description|html_entity_decode }}
                </article>
            </div>
        </div>
    </div>
</main>

{{ footer }}