{{ header }}

<section class="bestme-top-content page-detail ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ home }}" class="bestme-breadcrumb__link">Trang chủ</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="javascript;;" class="bestme-breadcrumb__link active ">Lấy lại mật khẩu</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title register">Lấy lại mật khẩu </h2>
                    <span class="sub-title"> Nếu quý khách đã quên mật khẩu, hãy nhập địa chỉ email và chúng tôi sẽ gửi cho quý khách email hướng dẫn cách khôi phục mật khẩu</span>
                </div>
            </div>
            <div class="col-12 offset-lg-4 col-lg-4">
                <div class="bestme-form">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="login-form">
                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <div class="bestme-form__item">
                            <label>Email</label>
                            <input type="text" name="email"  class="bestme-input bestme-input--default" placeholder="Điền email tài khoản">
                        </div>
                        <button type="submit" class="bestme-btn bestme-btn--border w-100 mt-5 bestme-text--uppercase">Gửi email </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>


{{ footer }}