{{ header }}
<main class="main-content">
    <div class="container">
        {# TODO: use var theme_dir instead of hardcode... #}
        {% include ('mom_babynmom/template/blog/blog_breadcrumb.twig') %}

        <div class="row">
            {# TODO: use var theme_dir instead of hardcode... #}
            {% include ('mom_babynmom/template/blog/blog_sidebar_left.twig') %}

            <div class="content-right col-12 col-md-9 mb-5">
                <div class="blog-results mt-0">
                    <h1 class="font-32 mt-0 mb-2">{{ blog['title'] }}</h1>
                    <div class="blog-header d-flex mb-4">
                        <span class="blog-date mr-3 sixth-color">Ngày: <span class="second-color">{{ blog['date_added']|date('d-m-Y') }}</span></span>
                        <span class="blog-author sixth-color">Bởi: <span class="second-color">{{ blog['lastname'] }} {{ blog['firstname'] }}</span></span>
                    </div>
                    <div class="blog-image mb-3">
                        <img src="{{ blog['image'] }}" width="100%">
                    </div>
                    <div class="blog-content">
                        {{ blog['content']|html_entity_decode }}
                    </div>
                </div>
            </div> <!-- End content-right -->
        </div> <!-- End row -->
    </div> <!-- End container -->

</main> <!-- End main content -->
{{ footer }}