{{ header }}

<main class="main-content">
    <div class="container">
        {# TODO: use var theme_dir instead of hardcode... #}
        {% include ('mom_babynmom/template/blog/blog_breadcrumb.twig') %}

        <div class="row">
            {# TODO: use var theme_dir instead of hardcode... #}
            {% include ('mom_babynmom/template/blog/blog_sidebar_left.twig') %}

            <div class="content-right col-12 col-md-9 mb-5">

                <div class="blog-results mb-5">
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for blog in blog_list %}
                            <div class="blog-item mb-4">
                                <div class="row">
                                    <div class="blog-img mb-0 col-12 col-md-7">
                                        <a href="{{ blog['link'] }}">
                                            <img src="{{ blog['image'] }}" width="100%">
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <div class="blog-info">
                                            <span class="blog-date">{{ blog['date_added']|date('d-m-Y') }}</span>
                                            <span class="blog-author"><a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></span>
                                        </div>
                                        <a class="blog-title main-color mt-0" href="{{ blog['link'] }}">
                                            {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a>
                                        <p class="blog-summary">
                                            {{ blog['short_content']|html_entity_decode|striptags }}
                                        </p>
                                        <a class="blog-link mt-4" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                    </div>
                                </div>
                            </div> <!-- End blog-item -->
                        {% endfor %}
                    {% endif %}
                </div> <!-- End blog-results -->

                {{ pagination }}
                <!-- End view footer -->
            </div> <!-- End content-right -->
        </div> <!-- End row -->

    </div> <!-- End container -->
</main> <!-- End main content -->
{{ footer }}