{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<main class="main-content">
    <div class="container">
        <nav aria-label="breadcrumb" class="my-4 pt-1">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>

        <div class="row">
            <div class="col-12 col-md-3 sidebar-left">
                {{ column_left }}
            </div>
            <div class="content-right col-12 col-md-9">
                <div class="product-teaser-fix display-none">
                    <div class="container">
                        <div class="d-flex">
                    <span class="font-weight-500 align-self-center">
                        {{ product['name'] }}
                        <span class="second-color">
                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                {% if product['max_price_version'] is null %}
                                    {{ product['compare_price_master'] == 0 ? '' : ' - '  ~ product['compare_price_master'] }}
                                {% endif %}
                            {% else %}
                                {% if product['max_price_version'] is null %}
                                    - {{ product['price_master'] }}
                                {% endif %}
                            {% endif %}
                        </span>
                    </span>
                            <div class="ml-auto">
                                {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                                {% else %}
                                    <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>
                                    <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0">Mua ngay</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 product-detail">

                    <div class="col-12 col-md-5 node-left mb-3">
                        <div class="carousel px-4" id="slider">
                            <div class="owl-carousel owl-theme owl-review owl-product-detail">
                                {% if product_images is not empty %}
                                    {% for k,image in product_images %}
                                        <div data-hash="product-{{ k }}"><img class="" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                                    {% endfor %}
                                {% else %}
                                    <div data-hash="product-1"><img class="" src="{{ product_empty }}" alt=""></div>
                                {% endif %}
                            </div>
                        </div> <!-- End slider -->
                        <div id="carousel" class="owl-thumb px-4">
                            <div class="owl-carousel owl-theme owl-review owl-product-thumb">
                                {% if product_images is not empty %}
                                    {% for k,image in product_images %}
                                        <a href="{{ current_url_href }}#product-{{ k }}"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></a>
                                    {% endfor %}
                                {% else %}
                                    <a href="{{ current_url_href }}#product-1"><img class="img-fluid" src="{{ product_empty }}" alt=""></a>
                                {% endif %}
                            </div>
                        </div> <!-- End slider thumb -->
                    </div> <!-- End node-left -->

                    <div class="col-12 col-md-7 node-right">
                        <div class="py-4">
                            <div class="category-header font-12 sixth-color text-uppercase mb-2">
                                {% if categories is not empty %}
                                    {% for k,category in categories %}
                                        <a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <h1 class="page-title font-24 text-capitalize font-weight-500 fourth-color mb-3">{{ product['name'] }}</h1>
                            <div class="d-flex mb-3">
                                <span class="third-color block-status">Tình trạng:
                                    {% if product['product_is_stock'] %}
                                        <span class="ml-3 second-color font-weight-500">Còn hàng</span>
                                            {% else %}
                                        <span class="ml-3 second-color font-weight-500">Hết hàng</span>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="price d-flex mb-3">
                                {% if product['is_contact_for_price'] %}
                                    <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy btn-outline-secondary main-bg">
                                        <span class="font-20 text-white">
                                            {{ contact }}
                                        </span>
                                    </a>

                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        {% if product['max_price_version'] is null %}
                                            <span class="font-28 font-weight-bold mr-4 second-color">{{ product['compare_price_master'] }}</span>
                                        {% else %}
                                            <span class="font-28 font-weight-bold mr-4 second-color">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% else %}
                                        {% if product['max_price_version'] is null %}
                                            <span class="font-28 font-weight-bold mr-4 second-color">{{ product['price_master'] }}</span>
                                        {% else %}
                                            <span class="font-28 font-weight-bold mr-4 second-color">
                                            {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                        </span>
                                        {% endif %}
                                        {% if product['max_compare_price_version'] is null %}
                                            <del class="font-18 fifth-color mt-2 font-weight-400">{{ product['compare_price_master'] }}</del>
                                        {% else %}
                                            <del class="font-18 fifth-color mt-2 font-weight-400">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            </del>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="summary ckeditor-content">
                                {{ product['sub_description']|html_entity_decode }}
                            </div>
                            <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">
                                {% if attributes is not empty %}
                                    {% for attribute in attributes %}
                                        <div class="choose-attribute d-flex mb-2">
                                            <label class="font-weight-400 sixth-color w-20 align-self-center">{{ attribute['attribute_name'] }}:</label>
                                            <div class="flex-fill">
                                                {% for key,attribute_text in attribute['attribute_text'] %}
                                                    <div class="attr-item d-inline-block mr-1">
                                                        <input class="d-none" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                               value="{{ attribute_text }}">
                                                        <label class="m-0 py-2 font-12 px-3" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                                <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                                <div class="d-flex w-100 show-on-pc"{% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% else %}style="margin-top: 24px;"{% endif %}>
                                    {% if is_on_mobile != 1 %}
                                        <div class="quantity-group-input">
                                            <button class="decrease">-</button>
                                            <input type="number" min="1" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" step="1" max="9999" class="form-control border-light bg-white" value="1">
                                            <button class="increase">+</button>
                                        </div>
                                    {% endif %}

                                    <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} style="max-width: 200px;" onclick="cart.add('{{ product['product_id'] }}')" class="flex-fill btn btn-outline-secondary bg-white main-color second-color-hover border-light" ><i class="icon icon-cart mr-3"></i>Thêm vào giỏ hàng</button>
                                </div>
                                <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="w-100 flex-fill btn btn-outline-secondary main-bg text-white text-white py-3 text-uppercase my-3 mb-4 show-on-pc" {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>Mua hàng ngay</button>

                                {# only on mobile #}
                                {% if is_on_mobile == 1 %}
                                    <div class="show-on-mobile buy-now-mobile row w-100 d-flex" {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}style="visibility: hidden;"{% endif %}>
                                        <div class="col-2 number-quantity pl-0">
                                            <input pattern="[0-9]*" type="number" oninput="this.setCustomValidity('')"
                                                   oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                                   required name="quantity" min="1" max="9999" step="1" value="1"
                                                   class="text-center w-100">
                                        </div>
                                        <div class="col-6 pl-0 pr-0">
                                            <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                    class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                                    onclick="cart.add('{{ product['product_id'] }}')" >
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                        <div class="col-4 pr-0">
                                            <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                    class="btn btn-buy {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}" >
                                                Mua ngay
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                                {# end only on mobile #}
                            </form>
                        </div>
                    </div> <!-- End node-right -->

                    <div class="col-12 col-md-12">
                        <ul class="nav nav-tabs" id="product-info-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Chi tiết</a>
                            </li>
                            {#<li class="nav-item d-flex">#}
                            {#<a class="nav-link align-self-end" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Đánh giá (6)</a>#}
                            {#</li>#}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active py-4" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="ckeditor-content">
                                    {{ product['description']|html_entity_decode }}
                                </div>
                            </div>
                            <div class="tab-pane fade py-5" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                                <form>
                                    <div class="form-group d-flex">
                                        <span class="third-color text-uppercase w-20">Xếp hạng:</span>
                                        <div class="product-rating m-0 font-16">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex">
                                        <span class="third-color text-uppercase w-20 py-1">Bình luận:</span>
                                        <div class="flex-fill">
                                            <div class="form-group form-row">
                                                <div class="col-6">
                                                    <input type="text" class="form-control border-light" placeholder="Họ và tên*">
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control border-light" placeholder="Số điện thoại*">
                                                </div>
                                            </div>
                                            <textarea type="text" class="form-control border-light" placeholder="Nội dung bình luận" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <button class="btn fifth-bg btn-outline-secondary text-white px-4 py-2 text-uppercase float-right" type="submit">Gửi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->
                {% if related_product_visible %}
                    <section class="block-relate-product pt-3 mb-5 bestme-block-product-related-product">
                        <div class="container">
                            <div class="row">
                                <h2 class="block-title header-font mb-4 pt-3">{{ related_product_title }}</h2>
                            </div>
                            <div class="block-content row" style="margin-left: -30px; margin-right: -30px;">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-number-item="{{ related_products_display_grid_quantity }}"
                                     data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                                    {% for product in related_products %}
                                        <div class="slide-item">
                                            <div class="product-item">
                                                <div class="product-highlight">
                                                    {% if product['percent_sale'] is not empty %}
                                                        <span class="sale">{{ product['percent_sale'] }}</span>
                                                    {% endif %}
                                                    {% if product['product_is_stock'] == false %}
                                                        <span class="status">hết</span>
                                                    {% endif %}
                                                </div>
                                                <div class="product-info">
                                                    <div class="product-img">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" alt="">
                                                        </a>
                                                    </div>
                                                    <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name }}</a>
                                                    {% if product['is_contact_for_price'] %}
                                                        <span class="product-price">
                                                            {{ contact }}
                                                        </span>
                                                    {% else %}
                                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="product-price">{{ product['compare_price_master'] }}</span>
                                                            {% else %}
                                                                <span class="product-price">
                                                                    {{ product['min_compare_price_version'] }}
                                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                        ~ {{ product['max_compare_price_version'] }}
                                                                    {% endif %}
                                                                </span>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="product-price">{{ product['price_master'] }}</span>
                                                            {% else %}
                                                                <span class="product-price">
                                                                {{ product['min_price_version'] }}
                                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                                        ~ {{ product['max_price_version'] }}
                                                                    {% endif %}
                                                            </span>
                                                            {% endif %}
                                                            {% if product['max_compare_price_version'] is null %}
                                                                <span class="product-price-sale">{{ product['compare_price_master'] }}</span>
                                                            {% else %}
                                                                <span class="product-price-sale">
                                                                {{ product['min_compare_price_version'] }}
                                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                                        ~ {{ product['max_compare_price_version'] }}
                                                                    {% endif %}
                                                            </span>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="product-preview">
                                                    <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End slide-item -->
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->
                        </div> <!-- End container -->
                    </section> <!-- End block-relate-product -->
                {% endif %}
            </div>
        </div>
    </div>
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

</script>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        $('body').on('click', '.button_buying', function () {
            if (jQuery(this).attr('data-status') == "disabled") {
                alert('Sản phẩm hết hàng');
            } else {
                $('#add-to-cart').submit();
            }
        });
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart button, .product-teaser-fix button.button_buy').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.amount .quantity span').html(json['total_product_cart']);
                    jQuery('.amount .total').html(json['total_into_money']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>

{{ footer }}
