{{ header }}

<main class="content-wrapper clearfix">
    <div class="container" id="blogs-detail-page">
        
        {#/*section blog-detail-link*/#}
        <nav aria-label="breadcrumb" class="my-2 pt-4" id="blogs-detail-link-news">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        {#section end-blog-detail-link#}
        
        <div class="py-3">
            <div class="row">
                {#section blog-detail-left#}
                    <div class="col-12 col-md-3 blogs-sidebar">
                    
                    {#<nav class="navbar mb-3">#}
                        {#<ul class="nav">#}
                        {#    <li class="nav-item active">#}
                        {#        <a href="" class="nav-link active">Headphone</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">Audio</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">News</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">Technology</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">Electronics</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">Business</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">Accessories</a>#}
                        {#    </li>#}
                        {#    <li class="nav-item">#}
                        {#        <a href="" class="nav-link">Other</a>#}
                        {#    </li>#}
                        {#</ul>#}
                    {#</nav>#}
                    <div class="block-side-blog">
                        <!-- side item -->
                        {#<div class="side-item">#}
                        {#    <h4 class="header-item">Bài viết mới</h4>#}
                        {#    <div class="list-related py-2">#}
                        {#        {% if blog_list_new is empty %}#}
                        {#            Không có bài viết#}
                        {#        {% else %}#}
                        {#            {% for blog in blog_list_new %}#}
                        {#                {% if loop.index < 5 %}#}
                        {#                    <div class="related-item">#}
                        {#                        <div class="row">#}
                        {#                            <div class="thumb col-4">#}
                        {#                                <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt=""></a>#}
                        {#                            </div>#}
                        {#                            <div class="content col-8">#}
                        {#                                <h5 class="type">#}
                        {#                                    {% for blog_category in blog['blog_categories'] %}#}
                        {#                                        {% if loop.index < 2 %}#}
                        {#                                            {{ blog_category['title'] }}#}
                        {#                                        {% else %}#}
                        {#                                            , {{ blog_category['title'] }}#}
                        {#                                        {% endif %}#}
                        {#                                    {% endfor %}#}
                        {#                                </h5>#}
                        {#                                <h3 class="name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 30 ? blog['title']|slice(0, 30) ~ '...' : blog['title'] }}</a></h3>#}
                        {#                                <div class="meta">#}
                        {#                                    <div class="author">#}
                        {#                                        <p class="date">{{ blog['date_added']|date('d-m-Y') }}, bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                {% endif %}#}
                        {#            {% endfor %}#}
                        {#        {% endif %}#}
    
                        {#    </div>#}
                        {#</div>#}
                        <!-- /.side item -->
                        <!-- side item -->
                        <div class="side-item">
                            <h4 class="header-item text-center p-3 font-18 font-weight-400 text-uppercase" style="border-bottom: 1px solid #CCCCCC;">Danh mục tin</h4>
                            <ul class="block-cate py-2">
                                {% for category in blog_category %}
                                    <li>
                                        <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.side item -->
                        <!-- side item -->
                        {#<div class="side-item">#}
                        {#    <h4 class="header-item">Tags</h4>#}
                        {#    <div class="list-tags">#}
                        {#        {% for tag in tags %}#}
                        {#            <a href="{{ tag['link'] }}" class="{% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>#}
                        {#        {% endfor %}#}
                        {#    </div>#}
                        {#</div>#}
                        <!-- /.side item -->
                    </div>
                    
                    {#section blog-article-outstanding-news#}
                    <nav class="side-item mt-5" id="blogs-view-most">
                        <h4 class="header-item text-center p-3 font-18 font-weight-400 text-uppercase" style="border-bottom: 1px solid #CCCCCC;">Tin nổi bật</h4>
                        <div class="blog-views m-0 py-3 w-100">
                            <div class="view-content">
                                {% if blog_list_new is empty %}
                                    <p class="px-4">Không có bài viết</p>
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="blog-item font-12 m-0 mb-3">
                                                <div class="row m-0">
                                                    <div class="img col-4 pl-2">
                                                        <a href="{{ blog['link'] }}">
                                                            <img class="rounded-0" src="{{ blog['image'] }}">
                                                        </a>
                                                    </div>
                                                    <div class="blog-right col-8 p-0 pr-2">
                                                        <a class="title font-14 m-0 line-height-1" href="{{ blog['link'] }}">{{ blog['title']|length > 40 ? blog['title']|slice(0, 40) ~ '...' : blog['title'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                    {#section end-blog-article-outstanding-news#}
                    
                    
                    {#section blog-article-banner#}
                        {#<div class="card mt-4 text-center d-none d-md-block">#}
                        {#    <div id="blog-detail-images-banner-left"></div>#}
                        {#    <div class="card-img-overlay">#}
                        {#        <h4 class="card-title mt-3"><strong>ƯU ĐÃI ĐẶC BIỆT</strong></h4>#}
                        {#        <p class="card-text font-20">TRANG TRÍ NỘI THẤT</p>#}
                        {#        <button type="button" class="font-20" data-toggle="button" aria-pressed="false">SHOP NOW</button>#}
                        {#    </div>#}
                        {#</div>#}
                        {#<div class="layout-view-more my-3 my-md-4 text-center">#}
                        {#    <div class="layout-view-more-bg">#}
                        {#        <a href="#">Tìm hiểu thêm</a>#}
                        {#    </div>#}
                        {#</div>#}
                    {#section end-blog-article-banner#}
                    
                    
                    {#<nav class="navbar mb-3 px-0 nav-blog-sidebar" id="blogs-new-most">#}
                        
                    {#    <div class="blog-views m-0 py-3 w-100">#}
                    {#        <div class="view-content">#}
                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_3.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_5.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#        </div>#}
                    {#    </div>#}
                    {#</nav>#}

                    {#<nav class="navbar mb-3">#}
                    {#    <h3 class="font-18 my-2 mb-3 px-2">Archive</h3>#}
                    {#    <ul class="nav">#}
                    {#        <li class="nav-item active">#}
                    {#            <a href="" class="nav-link active">February 2017</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">January 2017</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">September 2016</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">February 2016</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">August 2016</a>#}
                    {#        </li>#}
                    {#    </ul>#}
                    {#</nav>#}
                </div>
                {#section end-blog-detail-left#}
                
                {#section end-blog-detail-right#}
                    <div class="col-12 col-md-9 blog-detail-content">
                        
                            <div id="blog-detail-synthetic-content-comment">
                                {#section blog-detail-content#}
                                <div class="blog-views border-0 p-4" id="blog-detail-content-product-detail">
                                    <div class="view-content">
                                        <div class="row">
                                            <div class="col-12">
                                        {#<img src="../catalog/view/theme/partner_jupiter_media_theme/tech_bestme_sample/img/banner@2x-100-41637a70.jpeg" class="blog-detail-thumb" alt="">#}
                                        {#<h2 class="blog-title mt-5 mb-4 blog-detail-title">Xu hướng sử dụng vật liệu trong thiết kế nội thất</h2>#}
                                        {#<div class="blog-content">#}
                                        {#    <p>Điều trẻ em thích nhất trong phòng ngủ của mình là sự rộng rãi và không gian mở để chúng có thể phát huy và thỏa sức sáng tạo. Việc sắp xếp phòng ngủ cho bé sẽ trở nên hấp dẫn và không hề mệt mỏi nếu cha mẹ và nhà thiết kế biết chính xác nguồn cảm hứng để thiết kế căn phòng. Ngoài yếu tố thẩm mỹ thì phòng ngủ dành cho trẻ em cũng cần đảm bảo về tính an toàn, phát triển tư duy cho các bé.</p>#}
                                        {#    <p>1. Phòng ngủ của bé cần đảm bảo đủ ánh sáng tự nhiên</br>Khi con bạn bắt đầu tập làm quen với bảng chữ cái, hoặc chuẩn bị cắp sách đến trường thì đó là thời điểm bé sẽ tiếp xúc rất nhiều đến những con số, con chữ, những bài tập nhỏ về nhà. Do đó, thời gian học tập và làm bài trong phòng riêng của bé luôn cần đến ánh sáng tự nhiên ban ngày hoặc đèn điện vào ban đêm.</p>#}
                                        {#    <p>Thị giác của trẻ rất nhạy cảm nên phụ huynh hãy đảm bảo công suất đèn vừa đủ và màu ánh sáng thích hợp (trắng, vàng… ) cho con. Các loại đèn nhấp nháy trang trí thực sự bắt mắt nhưng không an toàn với trẻ, có thể gây ảnh hưởng không tốt đến đôi mắt của trẻ. Ánh sáng ban ngày nên được tận dụng tối đa bằng cách nới rộng kích thước các khung cửa sổ ở độ cao phù hợp. Đặc điểm này không chỉ giúp lưu thông ánh nắng, khí trời tự nhiên mà còn giữ tinh thần và sức khỏe cho trẻ.</p>#}
                                        {#    <div  class="my-5 text-center">#}
                                        {#        <img src="../catalog/view/theme/partner_jupiter_media_theme/tech_bestme_sample/img/banner@2x-100-41637a70.jpeg"  alt="">#}
                                        {#    </div>#}
                                        {#    <p>2. Lựa chọn màu sắc phù hợp</br>Dù là bé trai hay bé gái, một điều bố mẹ nên quan tâm là nhớ trang trí phòng ngủ có màu sắc tươi sáng cho con. Có như vậy mới kích thích giác quan và khám phá cho bé. Trẻ em trong độ tuổi còn nhỏ thường yêu thích gam màu sáng chứ không thích gam màu trầm ấm như màu gỗ, màu ghi xám, nâu đất. Do đó bố mẹ cần lưu ý điểm chung này để chọn màu sắc phòng ngủ cho bé hài lòng nhé.</p>#}
                                        {#    <p>Trong một căn phòng không nên lựa chọn quá nhiều màu, hạn chế sử dụng giấy dán tường thay vào đó vẽ tường trang trí theo các nhân vật và hình ảnh con thích. Khi đã chọn được tông màu chủ đạo cho căn phòng của con rồi thì nội thất nên được lựa chọn cùng tông màu để tạo sự hài hòa, tinh tế và đẹp mắt.</p>#}
                                        {#    <p>Các sắc màu nổi bật như hồng đậm hay xanh lam là đặc trưng phòng cho trẻ nhỏ nhưng chúng chỉ nên giới hạn ở các chi tiết trang trí. Những khoảng màu lớn như tường hay sàn nhà nên theo dải màu pastel hoặc vân gỗ tự nhiên.</p>#}
                                        {#    <div  class="my-5 text-center">#}
                                        {#        <img src="../catalog/view/theme/partner_jupiter_media_theme/tech_bestme_sample/img/banner@2x-100-41637a70.jpeg"  alt="">#}
                                        {#    </div>#}
                                        {#    <p>3. Lựa chọn vật liệu nội thất nhẹ, an toàn.</br>#}
                                        {#    <p>Chất liệu luôn là yếu tố cần được các bậc phụ huynh lưu ý hàng đầu. Các loại vật liệu có khối lượng nặng như kim loại hoặc không chắc chắn rất dễ gây ra tai nạn cho trẻ. Nếu có thể, phụ huynh nên chọn loại chất liệu nội thất nhẹ cho giường, tủ quần áo, bàn học…thay vì những vật liệu nặng không an toàn.</p>#}
                                        {#    <p>Các thiết kế nội thất cũng cần hạn chế các góc nhọn hoặc có chiều cao không phù hợp. Trẻ cần có bộ bàn ghế hay tủ sách tí hon của riêng mình để ý thức hơn việc bảo vệ và chăm sóc phòng ngủ riêng.</p>#}
                                        {#</div>#}
                                        
                                        {% if blog is empty %}
                                            <p class="blogs-empty">Không có nội dung bài viết</p>
                                        {% else %}
                                        <article>
                                            <div class="article-content">
                                                <div class="thumb text-center">
                                                    <img class="" src="{{ blog['image'] }}" alt="">
                                                </div>
                                                {#<h5 class="type">#}
                                                {#    {% for blog_category in blog['blog_categories'] %}#}
                                                {#        {% if loop.index < 2 %}#}
                                                {#            {{ blog_category['title'] }}#}
                                                {#        {% else %}#}
                                                {#            , {{ blog_category['title'] }}#}
                                                {#        {% endif %}#}
                                                {#    {% endfor %}#}
                                                {#</h5>#}
                                                <h4 class="name mt-3">{{ blog['title'] }}</h4>
                                                {#<div class="meta pb-3">#}
                                                {#    <div class="author">#}
                                                {#        <span class="date">{{ blog['date_added']|date('Y-m-d') }}</span>&nbsp;bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>#}
                                                {#    </div>#}
                                                {#</div>#}
                                                <div class="desc">
                                                    {{ blog['content']|html_entity_decode }}
                                                </div>
                                            </div>
                                        </article>
                                        {% endif %}
                                        {#<div class="social pt-5">#}
                                        {#    <span>Chia sẻ: </span>#}
                                        {#    <ul class="px-0 py-1">#}
                                        {#        {% for so in social %}#}
                                        {#            <li>#}
                                        {#                <a href="{{ so['href'] }}"><i class="{{ so['content'] }}" aria-hidden="true"></i></a>#}
                                        {#            </li>#}
                                        {#        {% endfor %}#}
                                        {#    </ul>#}
                                        {#</div>#}
                                    </div>
                                </div> <!-- End row -->
                            </div> 
                        </div> <!-- End view content -->
                        {#section end-blog-detail-content#}
                         
                        {#section blog-detail-comment#}
                        {#    <div class="col-12 my-5 container-comments" id="blog-detail-comment">#}
                        {#        <form class="mb-3 form-comment">#}
                        {#            <h3 class="font-24 text-uppercase mb-2">BÌNH LUẬN BÀI VIẾT</h3>#}
                        {#            <div class="rating d-flex my-1">#}
                        {#                <div class="rating-container mr-2">#}
                        {#                    <span class="rating-item active"></span>#}
                        {#                    <span class="rating-item active"></span>#}
                        {#                    <span class="rating-item active"></span>#}
                        {#                    <span class="rating-item active"></span>#}
                        {#                    <span class="rating-item"></span>#}
                        {#                </div>#}
                        {#            </div>#}
                        {#            <div class="form-group my-3">#}
                        {#                <span class="font-18 w-20 py-1">Viết bình luận:</span>#}
                        {#                <div class="flex-fill my-3 d-flex">#}
                                            {#<div class="form-group form-row">#}
                                            {#    <div class="col-6">#}
                                            {#        <input type="text" class="form-control border-light" placeholder="Họ và tên*">#}
                                            {#    </div>#}
                                            {#    <div class="col-6">#}
                                            {#        <input type="text" class="form-control border-light" placeholder="Số điện thoại*">#}
                                            {#    </div>#}
                                            {#</div>#}
                        {#                    <textarea type="text" class="py-2 w-100" placeholder="Nội dung bình luận" rows="1"></textarea>#}
                        {#                    <button class="btn btn-outline-secondary text-white px-4 py-2 text-uppercase float-right" type="submit">Gửi</button>#}
                        {#                </div>#}
                        {#            </div>#}
                        {#        </form>#}
                                
                        {#        <div class="list-comments">#}
                        {#            <ul class="list-group">#}
                        {#                {% for i in 0..3 %}#}
                        {#                    <li class=" comment-item">#}
                        {#                        <div class="title">#}
                        {#                            <div class="float-left d-flex">#}
                        {#                                <img src="catalog/view/theme/novaon/asset/img/blog_3.jpg" alt="" style="width: 75px; height: 75px">#}
                        {#                                <div class="title ml-3">#}
                        {#                                    <h4 class="name">Lê thúy Hằng</h4>#}
                        {#                                    <span>#}
                        {#                                        <i class="fas fa-star"></i>#}
                        {#                                        <i class="fas fa-star"></i>#}
                        {#                                        <i class="fas fa-star"></i>#}
                        {#                                        <i class="fas fa-star"></i>#}
                        {#                                        <i class="fas fa-star"></i>#}
                        {#                                    </span>#}
                        {#                                    <div class="rating d-flex my-1">#}
                        {#                                        <div class="rating-container mr-2">#}
                        {#                                            <span class="rating-item active"></span>#}
                        {#                                            <span class="rating-item active"></span>#}
                        {#                                            <span class="rating-item active"></span>#}
                        {#                                            <span class="rating-item active"></span>#}
                        {#                                            <span class="rating-item"></span>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <span class="float-right date">15/03/2020</span>#}
                        {#                        </div>#}
                        {#                        <div class="content d-inline-block mt-2">#}
                        {#                            <p>Duyên dáng, thanh lịch, điệu đà và trẻ trung là những gì mà đầm họa tiết mang đến cho nàng trong những ngày hè nóng oi ả này. Không chỉ phô ra những vẻ đẹp vốn dĩ của phái đẹp, giúp nàng tự tin hơn mỗi khi xuống...</p>#}
                        {#                        </div>#}
                        {#                    </li>#}
                        {#                {% endfor %}#}
                        {#            </ul>#}
                                    
                                    
                        {#        </div>#}
                        {#    </div>#}
                        {#section end-blog-detail-comment#} 
                        </div>
                        
                        
                        {#section blog-detail-related-news#}
                        
                            <div class="col-12 carousel carousel-product slide block-relate-blog" id="blog-detail-related-news">
                                <div class="view-related-blog my-5 pt-3">
                                    <h2 class="related-blog-title mb-4 pb-4 second-color border-main">Tin tức liên quan</h2>
                                    
                                    <div class="block-content row" style="margin-left: -30px; margin-right: -30px;">
                                        {% if blog_relate is empty %}
                                            <p class="blogs-empty px-3">Không có bài viết</p>
                                        {% else %}
                                        <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product owl-relate-blog px-4" data-limit-inline="4" data-limit-mobile="2">
                                            {% for item in blog_relate %}
                                                {% if item['status'] == 1 %}
                                                        {% set is_compare_category = 0 %}
                                                        {% for blog_relate_category in item['blog_categories'] %}
                                                            {% for blog_category in blog['blog_categories'] %}
                                                                {% if blog_category['blog_category_id'] == blog_relate_category.blog_category_id %}
                                                                    {% set is_compare_category = is_compare_category + 1 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        {% if is_compare_category > 0 %}
                                                            <div class="slide-item">
                                                                <div class="blog-item">
                                                                    <a href="{{ item['link'] }}" title="{{ item['title'] }}">
                                                                        <img src="{{ item['image'] }}" class="card-img-top" alt="{{ item['title'] }}" style="width: 100%; height: 125px;">
                                                                        <div class="mt-3 mb-3">
                                                                            <h1 class="card-title">{{ item['title']|length > 25 ? item['title']|slice(0, 25) ~ '...' : item['title'] }}</h1>
                                                                            {#<p class="card-text">{{ blog['short_content']|length > 200 ? blog['short_content']|slice(0, 200)|html_entity_decode ~ '...' : blog['short_content']|html_entity_decode|striptags }}</p>#}
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div> <!-- End slide-item -->
                                                        {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div> <!-- End block-content -->
                                    {#<div id="carouselLastBlogRelated" class="carousel slide" data-ride="carousel">#}
                                            
                                    {#        <div class="carousel-inner text-center">#}
                                    {#            <div class="carousel-item active col-md-12 mt-4 mb-5">#}
                                    {#                <div class="row card-group">#}
                                    {#                    {% if blog_relate is empty %}#}
                                    {#                        <p class="blogs-empty px-3">Không có bài viết</p>#}
                                    {#                    {% else %}#}
                                    {#                        {% for item in blog_relate %}#}
                                    {#                            {% if item['status'] == 1 %}#}
                                    {#                                {% if loop.index <= 3 %}#}
                                    {#                                    {% set is_compare_category = 0 %}#}
                                    {#                                    {% for blog_relate_category in item['blog_categories'] %}#}
                                    {#                                        {% for blog_category in blog['blog_categories'] %}#}
                                    {#                                            {% if blog_category['blog_category_id'] == blog_relate_category.blog_category_id %}#}
                                    {#                                                {% set is_compare_category = is_compare_category + 1 %}#}
                                    {#                                            {% endif %}#}
                                    {#                                        {% endfor %}#}
                                    {#                                    {% endfor %}#}
                                    {#                                    {% if is_compare_category > 0 %}#}
                                    {#                                        <div class="col-md-4">#}
                                    {#                                            <img src="{{ item['image'] }}" class="card-img-top" alt="{{ item['title'] }}">#}
                                    {#                                            <div class="mt-3 mb-3">#}
                                    {#                                                <h5 class="card-title">{{ item['title']|length > 25 ? item['title']|slice(0, 25) ~ '...' : item['title'] }}</h5>#}
                                                                                    {#<p class="card-text">{{ blog['short_content']|length > 200 ? blog['short_content']|slice(0, 200)|html_entity_decode ~ '...' : blog['short_content']|html_entity_decode|striptags }}</p>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    {% endif %}#}
                                    {#                                {% endif %}#}
                                    {#                            {% endif %}#}
                                    {#                        {% endfor %}#}
                                    {#                    {% endif %}#}
                                    {#                </div>#}
                                    {#            </div>#}
                                    {#        </div>#}
                                            {#<a class="carousel-control carousel-control-prev" href="#carouselLastBlogRelated" data-slide="prev" style="top: -65px">#}
                                            {#    <i class="fas fa-chevron-left"></i>#}
                                            {#</a>#}
                                            {#<a class="carousel-control carousel-control-next" href="#carouselLastBlogRelated" data-slide="next" style="top: -65px">#}
                                            {#    <i class="fas fa-chevron-right"></i>#}
                                            {#</a>#}
                                    {#    </div>#}
                                </div>
                            </div>
                        {#section end-blog-detail-related-news#} 
                    </div> <!-- End blog view -->
                {#section end-blog-detail-right#}
                
        </div> <!-- End row -->
         
        
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}