<footer id="footer-main" style="word-break: break-word;">
    <div class="text-white bestme-block-footer row-footer">
        <div class="container-fluid">
            <div class="row">
                {#{% if contact.visible == 1 %}#}
                {#<div class="col-12 col-md-4">#}
                {#    <h2 class="text-uppercase font-16 font-weight-bold mb-4">{{ visible_contact_title }}</h2>#}
                {#    <div class="d-flex mb-3">#}
                {#        <div class="col-3 p-0">{{ text_address }}</div>#}
                {#        <div class="col p-0">{{ contact.address }}</div>#}
                {#    </div>#}
                {#    <div class="d-flex mb-3">#}
                {#        <div class="col-3 p-0">{{ text_phone }}</div>#}
                {#        <div class="col p-0"><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></div>#}
                {#    </div>#}
                {#    <div class="d-flex mb-3">#}
                {#        <div class="col-3 p-0">Email:</div>#}
                {#        <div class="col p-0"><a href="mail:{{ contact.email }}">{{ contact.email }}</a></div>#}
                {#    </div>#}
                {#</div>#}
                {#{% endif %}#}
                {#{% if visible_collection == 1 %}#}
                {#<div class="col-12 col-md-2">#}
                {#    <h2 class="text-uppercase font-16 font-weight-bold mb-4">{{ visible_collection_title }}</h2>#}
                {#    {% for collection in collections %}#}
                {#        <a class="d-flex mb-3" href="{{ collection.url_link }}">{{ collection.name }}</a>#}
                {#    {% endfor %}#}
                {#</div>#}
                {#{% endif %}#}
                {#{% if visible_quick_links == 1 %}#}
                {#<div class="col-12 col-md-2">#}
                {#    <h2 class="text-uppercase font-16 font-weight-bold mb-4">{{ visible_quick_links_title }}</h2>#}
                {#    {% for quick_link in quick_links %}#}
                {#        <a class="d-flex mb-3" href="{{ quick_link.url_link }}">{{ quick_link.name }}</a>#}
                {#    {% endfor %}#}
                {#</div>#}
                {#{% endif %}#}
                {#{% if visible_subscribe == 1 %}#}
                {#<div class="col-12 col-md-4">#}
                {#    <h2 class="text-uppercase font-16 font-weight-bold mb-4">{{ visible_subscribe_title }}</h2>#}
                {#    {% if visible_subscribe_social_network == 1 %}#}
                {#    <div class="font-32 mb-3">#}
                {#        {% for social_config in social_configs %}#}
                {#            {% if  social_config.name == 'Facebook' %}#}
                {#                <a href="{{ social_config.url }}" class="mb-3 mr-4"><i class="icon icon-fb bg-white"></i></a>#}
                {#            {% elseif  social_config.name == 'Instagram' %}#}
                {#                <a href="{{ social_config.url }}" class="mb-3 mr-4"><i class="icon icon-instagram bg-white"></i></a>#}
                {#            {% elseif social_config.name == 'Youtube' %}#}
                {#                <a href="{{ social_config.url }}" class="mb-3"><i class="icon icon-youtube bg-white"></i></a>#}
                {#            {% else %}#}
                {#            {% endif %}#}
                {#        {% endfor %}#}
                {#    </div>#}
                {#    {% endif %}#}
                {#    <form class="newsletter-form">#}
                {#        <p>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn!</p>#}
                {#        <div class="input-group w-100">#}
                {#            <div class="bg-white rounded-left py-2 px-3 flex-fill">#}
                {#                <p class="text-secondary font-10 m-0">Email của bạn</p>#}
                {#                <input type="email" class="border-0 btn-outline-light w-100 main-color">#}
                {#            </div>#}
                {#            <div class="input-group-append">#}
                {#                <button class="btn btn-outline-secondary main-bg text-white py-3 px-4 text-uppercase" type="submit">Đăng ký</button>#}
                {#            </div>#}
                {#        </div>#}
                {#    </form>#}
                {#</div>#}
                {#{% endif %}#}
                <div class="col-12 footer-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-8 footer-info">
                                <div class="row pb-3">
                                    <div class="col-12 col-md-4">
                                        <a href="{{ home }}" class="logo-footer"><div style="" class="image mb-3"></div></a>
                                        {#<p class="font-14 font-weight-300 my-2">Inspira lorem ipsum dolor ngồi amet, sed do eiusmod TIME incididunt ut labore</p>#}
                                        {% if contact.visible == 1 %}
                                            {% if contact.address %}
                                                <p class="mb-1"><i class="fas fa-map-marker-alt"></i> {{ contact.address }}</p>
                                            {% endif %}
                                            {% if contact.email %}
                                                <a href="{{ contact.email }}" class="text-white second-color-hover"><p class="mb-1"><i class="far fa-envelope"></i> Email: {{ contact.email }}</p></a>
                                            {% endif %}
                                            {% if contact.phone %}
                                                <a href="{{ contact.phone }}" class="text-white second-color-hover"><p><i class="fas fa-phone"></i> Mobile: {{ contact.phone }}</p></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-4">
                                        {% if visible_collection == 1 %}
                                            <h3 class="sub-title mb-4">{{ visible_collection_title }}</h3>
                                            {% for collection in collections %}
                                                <a class="d-flex mb-2 second-color-hover" href="{{ collection.url_link }}">{{ collection.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-4">
                                        {% if visible_quick_links == 1 %}
                                            <h3 class="sub-title mb-4">{{ visible_quick_links_title }}</h3>
                                            {% for quick_link in quick_links %}
                                                <a class="d-flex mb-2 second-color-hover" href="{{ quick_link.url_link }}">{{ quick_link.name }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 footer-map-store">
                                <h3 class="sub-title mb-3">Chuỗi hệ thống cửa hàng</h3>
                                <div class="map-store mb-4"></div>
                                {#<h3 class="sub-title mb-3">Đăng ký nhận tin khuyến mãi</h3>#}
                                {#<form class="newsletter-form">#}
                                {#    <div class="input-group">#}
                                {#        <div class="bg-white rounded-left py-2 px-3 flex-fill">#}
                                {#            <input type="email" class="border-0 w-100 main-color" style="outline: none" placeholder="Nhập địa chỉ email của bạn">#}
                                {#        </div>#}
                                {#        <div class="input-group-append">#}
                                {#            <button class="btn btn-outline-secondary main-bg text-white px-4 text-uppercase" type="submit">Đăng ký</button>#}
                                {#        </div>#}
                                {#    </div>#}
                                {#</form>#}
                            </div>
                            
                            
                
                            <div class="col-12 col-md-12 copy-right footer-copyright-bg">
                                {% if is_on_mobile != 1 %}
                                    {{ text_right_copy_jupiter|format("#", shop_name, copy_right_link) }}
                                {% else %}
                                    {{ text_right_copy_mobile_jupiter|format("#", shop_name, copy_right_link) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End footer -->
    {#<div class="text-white py-4 row-footer-2">#}
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-xs-12 col-md-6 col-link">#}
    {#                {% if visible_subscribe_social_network == 1 %}#}
    {#                    <ul class="nav">#}
    {#                        {% for social_config in social_configs %}#}
    {#                            {% if  social_config.name == 'Facebook' %}#}
    {#                                <li class="nav-item mr-2">#}
    {#                                    <a class="nav-link" href="{{ social_config.url }}"><i class="fab fa-facebook-f"></i></a>#}
    {#                                </li>#}
    {#                            {% elseif  social_config.name == 'Instagram' %}#}
    {#                                <li class="nav-item mr-2">#}
    {#                                    <a class="nav-link" href="{{ social_config.url }}"><i class="fab fa-instagram"></i></a>#}
    {#                                </li>#}
    {#                            {% elseif social_config.name == 'Youtube' %}#}
    {#                                <li class="nav-item mr-2">#}
    {#                                    <a class="nav-link" href="{{ social_config.url }}"><i class="fab fa-youtube"></i></a>#}
    {#                                </li>#}
    {#                            {% else %}#}
    {#                            {% endif %}#}
    {#                        {% endfor %}#}
    {#                    </ul>#}
    {#                {% endif %}#}
    {#            </div>#}
    {#            <div class="col-xs-12 col-md-6 align-items-center text-right col-copy-right">#}
    {#                <p class="py-2 mb-0">Copyright by <a href="{{ copy_right_link }}">Fusio</a> 2019 - Nội thất cao cấp.</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}
</footer> <!-- End footer -->