{{ header }}
<main class="main-content">
    <div class="container" id="products-page">
        {#{% if banners.visible_banner == 1 %}#}
        {#    <div class="product-banner mt-4 bestme-block-category-banner">#}
        {#        <a href="{{ banners.url_banner }}"><img src="{{ banners.url_image }}"></a>#}
        {#    </div>#}
        {#{% endif %}#}

        <div class="row">
            {#<div class="col-12 col-md-3 sidebar-right">#}
            {#    <div class="sidebar-content bestme-block-filter-1 py-2">#}
            {#        {% if visible_collection == 1 %}#}
            {#        <div class="rounded-2 px-4" id="product-category">#}
            {#            <h2 class="font-18 font-weight-400">{{ visible_collection_title }}</h2>#}
            {#            <nav class="nav flex-column">#}
            {#                {% for collection in collections %}#}
            {#                    <a href="{{ collection.url }}" class="nav-link py-0 {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>#}
            {#                {% endfor %}#}
                            
            {#                {{ hot_product }}#}
            {#            </nav>#}
            {#        </div> <!-- End product collection -->#}
            {#        {% endif %}#}
            {#        {% if visible_category == 1 %}#}
            {#        <div class="rounded-2 px-4 mt-2" id="product-category">#}
            {#            <h2 class="font-18 font-weight-400">{{ visible_category_title }}</h2>#}
            {#            <nav class="nav flex-column">#}
            {#                {% for category in categorys %}#}
            {#                    <a href="{{ category.url }}" class="nav-link py-0 {{ filter_category_id == category.category_id ? 'active' : '' }}">{{ category.name }}</a>#}
            {#                {% endfor %}#}
            {#            </nav>#}
            {#        </div> <!-- End product category -->#}
            {#        {% endif %}#}
                    {#{% if visible_supplier == 1 %}#}
                    {#<div class="box-product-filter rounded-2 border px-4" id="product-provider">#}
                    {#    <h2 class="block-title">{{ visible_supplier_title }}</h2>#}
                    {#    <nav class="nav flex-column">#}
                    {#        {% for manufacturer in manufacturers %}#}
                    {#            <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>#}
                    {#        {% endfor %}#}
                    {#    </nav>#}
                    {#</div> <!-- End product provider -->#}
                    {#{% endif %}#}
            {#        {% if visible_product_price == 1 %}#}
            {#        <div class="rounded-2 px-4 mt-2" id="product-price">#}
            {#            <h2 class="font-18 font-weight-400">Giá bán</h2>#}
            {#            <div class="price-range py-3">#}
            {#                <div class="mb-3" id="slider-range"></div>#}
            {#                <p id="amount"></p>#}
            {#                <input type="hidden" id="amount1" name="amount1">#}
            {#                <input type="hidden" id="amount2" name="amount2">#}
            {#            </div>#}
            {#        </div> <!-- End product category -->#}
            {#        {% endif %}#}
            {#    </div> <!-- End sidebar content -->#}
            
                {#<h2 class="slide-list-title py-3">Sản phẩm bán chạy</h2>#}
                {#<section id="diffslide-hot-products">#}
                {#    <div id="diffslide-products-carousel" class="carousel carousel-products slide" data-ride="carousel">#}
                {#        <div class="carousel-inner"></div>#}
                        
                {#        <a class="carousel-control carousel-control-prev" href="#diffslide-products-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>#}
                {#        <a class="carousel-control carousel-control-next" href="#diffslide-products-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>#}
                {#    </div>#}
                {#</section>#}
                
            {#    <h2 class="slide-list-title py-3">Sản phẩm bán chạy</h2>#}
            {#    <section id="difflist-sale-off-products">#}
            {#        <div id="list-best-sale-products" class="d-inline-block w-100"></div>#}
            {#    </section>#}
                
            {#    <div class="rounded-2 mt-2" id="product-category">#}
            {#        <h2 class="slide-list-title py-3">Tags</h2>#}
            {#        <div class="list-tags">#}
            {#            <a href="#" class="font-16 font-weight-400 p-1">Nước Hoa cao cấp</a>#}
            {#            <a href="#" class="font-16 font-weight-400 p-1">Phấn nền</a>#}
            {#            <a href="#" class="font-16 font-weight-400 p-1">Kẻ mi</a>#}
            {#            <a href="#" class="font-16 font-weight-400 p-1">Son môi</a>#}
            {#            <a href="#" class="font-16 font-weight-400 p-1">Kem dưỡng da</a>#}
            {#        </div>#}
            {#    </div>#}
            {#</div> <!-- End sidebar-right -->#}
            
            <div class="col-12">
                <nav aria-label="breadcrumb" class="mb-4">
                    {% for breadcrumb in breadcrumbs %}
                        {% if breadcrumb['active'] is defined  %}
                            <span class="breadcrumb-item active">{{ breadcrumb.text }}</span>
                        {% else %}
                            <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        {% endif %}
                    {% endfor %}
                </nav> <!-- End breadcrumb -->
            </div>
            
            <div class="col-12">
                <div class="row title-page-shoppage-bg mb-5">
                    {#<div class="col-12 col-md-6">#}
                    {#    <div class="image-title-page-bg"></div>#}
                    {#    <p class="font-16 font-weight-400">Express your unique identity with our collection of men’s streetwear. Our streetwear is inspired by life and features textiles that are comfortable, durable and stylish.</p>#}
                    {#    <div class="row">#}
                    {#        <div class="col"><a href="#" style="text-decoration: underline!important;">Áo thun</a></div>#}
                    {#        <div class="col"><a href="#" style="text-decoration: underline!important;">Áo khoác</a></div>#}
                    {#        <div class="col"><a href="#" style="text-decoration: underline!important;">Quần shorts</a></div>#}
                    {#        <div class="col"><a href="#" style="text-decoration: underline!important;">Quần Jean</a></div>#}
                    {#    </div>#}
                    {#</div>#}
                    {#<div class="col-0 col-md-6">#}
                    {#    <div class="image-bg"></div>#}
                    {#</div>#}
                </div>
            </div>

            <div class="content-left col-12 mb-5">
                <div class="product-view">
                    <div class="view-header line-border-title mb-4">
                        <!-- Chỉ hiển thị trong trang tìm kiếm hoặc không có sản phẩm -->
                        {% if getsearch != '' %}
                            <div class="result-message mb-4">
                                <span><i class="icon icon-search"></i>  Tìm thấy {{ products|length }} sản phẩm cho từ khóa “{{ getsearch }}”</span>
                            </div>
                        {% elseif products|length == 0 %}
                            <div class="result-message mb-4">
                                <span>Không có sản phẩm</span>
                            </div>
                        {% endif %}


                        <div class="px-2 rounded-2 d-flex">
                            {#<span class="count-display align-self-center">#}
                            {#    Hiển thị: {{ total_product < start_product ? total_product : start_product }} - {{ total_product < end_product ? total_product : end_product }} trong tổng số {{ total_product }} sản phẩm#}
                            {#</span>#}
                            
                            {#dunght#}
                            {% set name2 = '' %} {% set colname = '' %} {% set catname = '' %} {% set manname = '' %}
                            {% for collection in collections %}
                                {% if filter_collection_id == collection.collection_id %}
                                    {% set colname = collection.name %}
                                {% endif %}
                            {% endfor %}
                            {% set name2 = name2 ~ (name2 ? ' - ' : '') ~ colname %}
                            
                            {% for category in categorys %}
                                {% if filter_category_id == category.category_id %}
                                    {% set catname = category.name %}
                                {% endif %}
                            {% endfor %}
                            {% set name2 = name2 ~ (name2 ? ' - ' : '') ~ catname %}
                            
                            {% for manufacturer in manufacturers %}
                                {% if filter_manufacturer_id == manufacturer.manufacturer_id %}
                                    {% set manname = manufacturer.name %}
                                {% endif %}
                            {% endfor %}
                            {% set name2 = name2 ~ (name2 ? ' - ' : '') ~ manname %}
                            
                            <span class="align-self-center text-uppercase font-28 font-weight-400">{{ name2 ? name2 : 'Sản phẩm' }}</span>
                            {#end - dunght#}
                            
                            <div class="text-right ml-auto">
                                <div class="d-md-flex align-self-center">
                                {% if visible_collection == 1 %}
                                <div class="text-right ml-auto mr-2 dropdown-filter-shop-page" id="dropdown-filter-collection-product">
                                    <div class="dropdown d-inline drop-down-shop-page">
                                        <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownCollectionProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                            {% for collection in collections %}
                                                {{ filter_collection_id == collection.collection_id ? collection.name : '' }}
                                            {% endfor %}
                                            {% if not filter_collection_id %}
                                                {{ visible_collection_title }}
                                            {% endif %}
                                            <i class="fas fa-chevron-down ml-3 font-10"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderProductFilter">
                                            <a class="dropdown-item" href="{{ shop_link }}" data-value="-1">{{ visible_collection_title }}</a>
                                            {% for collection in collections %}
                                                <a class="dropdown-item" href="{{ collection.url }}" data-value="1">{{ collection.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                                {% if visible_category == 1 %}
                                <div class="text-right ml-auto mr-2 dropdown-filter-shop-page" id="dropdown-filter-category-product">
                                    <div class="dropdown d-inline drop-down-shop-page">
                                        <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownCategoryProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                            {% for category in categorys %}
                                                {{ filter_category_id == category.category_id ? category.name : '' }}
                                            {% endfor %}
                                            {% if not filter_category_id %}
                                                {{ visible_category_title }}
                                            {% endif %}
                                            <i class="fas fa-chevron-down ml-3 font-10"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderProductFilter">
                                            <a class="dropdown-item" href="{{ shop_link }}" data-value="-1">{{ visible_category_title }}</a>
                                            {% for category in categorys %}
                                                <a class="dropdown-item" href="{{ category.url }}" data-value="1">{{ category.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                                {% if visible_supplier == 1 %}
                                <div class="text-right ml-auto mr-2 dropdown-filter-shop-page" id="dropdown-filter-provider-product">
                                    <div class="dropdown d-inline drop-down-shop-page">
                                        <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownSupplierProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                            {% for manufacturer in manufacturers %}
                                                {{ filter_manufacturer_id == manufacturer.manufacturer_id ? manufacturer.name : '' }}
                                            {% endfor %}
                                            {% if not filter_manufacturer_id %}
                                                {{ visible_supplier_title }}
                                            {% endif %}
                                            <i class="fas fa-chevron-down ml-3 font-10"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSupplierProductFilter">
                                            <a class="dropdown-item" href="{{ shop_link }}" data-value="-1">{{ visible_supplier_title }}</a>
                                            {% for manufacturer in manufacturers %}
                                                <a class="dropdown-item" href="{{ manufacturer.url }}" data-value="1">{{ manufacturer.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div> <!-- End product provider -->
                                {% endif %}
                                
                                {% if visible_product_price == 1 %}
                                <div class="text-right ml-auto mr-2 dropdown-filter-shop-page" id="dropdown-filter-price-product">
                                    <div class="dropdown d-inline drop-down-shop-page">
                                        {% set mod_product_price = (visible_product_price_from + visible_product_price_to) / 10 %}
                                        <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownCategoryProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                            Giá sản phẩm
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right px-2" aria-labelledby="dropdownOrderProductFilter">
                                            {#{% for i in 1..10 %}#}
                                            {#    {% set product_price_from = (mod_product_price * (i - 1)) %}#}
                                            {#    {% set product_price_to = (i == 10 ? mod_product_price * i :  mod_product_price * i - 1) %}#}
                                            {#        <div class="dropdown-item px-0 font-16 d-flex text-center" data-from="{{ product_price_from }}" data-to="{{ product_price_to }}">#}
                                            {#            <span style="width: 47.25%">{{ product_price_from|number_format(0, '.', ',') }}</span>#}
                                            {#            <span style="width: 5.5%">-</span>#}
                                            {#            <span style="width: 47.25%">{{ product_price_to|number_format(0, '.', ',') }}</span>#}
                                            {#        </div>#}
                                            {#{% endfor %}#}
                                            
                                            <div class="price-range py-3 text-center">
                                                <p>Vui lòng chọn khoảng giá</p>
                                                <div class="mb-3" id="slider-range"></div>
                                                <p id="amount" class="font-14 font-weight-500 mb-0"></p>
                                                <input type="hidden" id="amount1" name="amount1">
                                                <input type="hidden" id="amount2" name="amount2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                
                                
                                <div class="text-right ml-auto mr-2 dropdown-filter-shop-page" id="dropdown-filter-price-product">
                                        {#<span class="mr-2">Sắp xếp:</span>#}
                                        <div class="dropdown d-inline">
                                            <a class="btn btn-default border rounded-2 p-2 px-1 d-inline-block" href="#" id="dropdownOrderProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                                {% if valueoptiton == 1 %}
                                                    Theo tên: A-Z
                                                {% elseif valueoptiton == 2 %}
                                                    Theo tên: Z-A
                                                {% elseif valueoptiton == 3 %}
                                                    Theo giá: Từ cao đến thấp
                                                {% elseif valueoptiton == 4 %}
                                                    Theo giá: Từ thấp đến cao
                                                {% else %}
                                                    Mới nhất
                                                {% endif %}
                                                <i class="icon icon-chevron-down ml-3 font-10"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderProductFilter">
                                                <a class="dropdown-item" href="{{ urlsortProduct }}" data-value="-1">Mới nhất</a>
                                                <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=1" data-value="1">Theo tên: A-Z</a>
                                                <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=2" data-value="1">Theo tên: Z-A</a>
                                                <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=3" data-value="1">Theo giá: Từ cao đến thấp</a>
                                                <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=4" data-value="1">Theo giá: Từ thấp đến cao</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End view header -->

                    <div class="view-results">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-6 col-md-3">
                                <div class="text-center product-item p-0">
                                        <div class="product-info">
                                                    {#{% if product['is_new_product'] %}#}
                                                    {#    <div class="product-highlight text-center">#}
                                                    {#        <span class="sale">Sale</span>#}
                                                    {#    </div>#}
                                                    {#{% elseif product['product_is_stock'] == false %}#}
                                                    {#    <div class="product-highlight text-center">#}
                                                    {#        <span class="status">Hết</span>#}
                                                    {#    </div>#}
                                                    {#{% elseif product['percent_sale'] is not empty %}#}
                                                    {#    <div class="product-highlight text-center">#}
                                                    {#        <span class="status">Mới</span>#}
                                                    {#    </div>#}
                                                    {#{% endif %}#}
                                            
                                            <a href="{{ product['href'] }}" title="{{ product.name }}"><div class="product-image" style="background-image: url({{ product['thumb'] }});"></div></a>
                                            <div class="product-name">
                                                <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 25 ? product.name|slice(0, 25) ~ '...' : product.name }}</a>
                                            </div>
                                            {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        {% if product.compare_version_min != 0 %}
                                                            <strike class="product-price-sale">
                                                                <span class="price">
                                                                    {{ product.compare_version_min }}
                                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                                        ~ {{ product.compare_version_max }}
                                                                    {% endif %}
                                                                </span>
                                                            </strike>
                                                            <span class="product-price second-color">
                                                                <span class="price">{{ product.price_version_min }}
                                                                {% if product.price_version_max != product.price_version_min %}
                                                                    ~ {{ product.price_version_max }}
                                                                {% endif %}</span>
                                                            </span>
                                                        {% else %}
                                                        <span class="product-price second-color">
                                                            <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                        </span>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if product.compare_version_min != 0 %}
                                                            <span class="product-price second-color">
                                                                <span class="price">
                                                                    {{ product.compare_version_min }}
                                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                                        ~ {{ product.compare_version_max }}
                                                                    {% endif %}
                                                                </span>
                                                            </span>
                                                        {% else %}
                                                        <span class="product-price second-color">
                                                            <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                        </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if product.price == 0 %}
                                                        {% if product.compare_price == 0 %}
                                                            <span class="product-price second-color">
                                                                <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                            </span>
                                                        {% else %}
                                                            <span class="product-price second-color">
                                                                <span class="price">{{ product.compare_price }}</span>
                                                            </span>
                                                        {% endif %}
                                                    {% else %}
                                                        <strike class="product-price-sale">
                                                            <span class="price">{{ product.compare_price }}</span>
                                                        </strike>
                                                        <span class="product-price second-color">
                                                            <span class="price">{{ product.price }}</span>
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                                    {#{% if product['percent_sale'] is not empty %}#}
                                                    {#    <span class="product-status-sale">#}
                                                    {#        <span class="sale">{{ product['percent_sale'] }}</span>#}
                                                    {#    </span>#}
                                                    {#{% endif %}#}
                                        </div>
                                        <div class="product-link-detail">
                                            <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                            <a href="{{ product['href'] }}" class="cart-btn">Xem nhanh</a>
                                        </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                            {% endfor %}
                        </div> <!-- End row -->
                    </div> <!-- End view results -->

                    {{ pagination }}

                </div> <!-- End product-view -->
            </div> <!-- End content right -->
        </div> <!-- End row -->
        
    </div> <!-- End container -->
</main> <!-- End main content -->
<script>
    $(document).ready(function () {
        /* update collection info at top page */
        updateCollectionInfoAtTopPage();
    });
    
    function updateCollectionInfoAtTopPage() {
        /* get first product block */
        $.ajax({
            url: '/api/v1_products/products_block_list',
            dataType: 'json',
            success: function (json) {
                if (!json || json.length < 1) {
                    return;
                }
                
                let first_block = json[0];
                console.log(first_block);
                
                let collection_id = first_block.setting.collection_id;
                /* get collection info */
                $.ajax({
                    url: '/api/v1_products/collections',
                    dataType: 'json',
                    success: function (res) {
                        if (!res || !res.result || !res.result.collection  || res.result.collection.length < 1) {
                            return;
                        }
                        
                        let collections = res.result.collection;
                        let collection = null;
                        
                        for (let i=0, len = collections.length; i < len; i++) {
                            if (collections[i].collection_id == collection_id) {
                                collection = collections[i];
                                break;
                            }
                        }
                        
                        console.log(collection);
                        
                        if (!collection) {
                            return;
                        }
                        
                        /* get sub collections */
                        $.ajax({
                            url: '/api/v1_products/collections',
                            dataType: 'json',
                            success: function (res) {
                                if (!res) {
                                    return;
                                }
                                
                                // temp use result.collection. TODO: call api [GET] /sub_collections
                                let len3 = res.result.collection.length > 4 ? 4 : res.result.collection.length;
                                let sub_collections = res.result.collection.slice(0, len3);
                                
                                let sub_collections_html = '';
                                for (let i2=0, len2 = sub_collections.length; i2 < len2; i2++) {
                                    sub_collections_html += '\n        <div class="col"><a href="#" style="text-decoration: underline!important;">' + sub_collections[i2].title + '</a></div>';
                                }
                                
                                /* update html */
                                $('.row.title-page-shoppage-bg').html('' + 
                                    '<div class="col-12 col-md-6">' +
                                    '    <div class="title-page" style="font-size: 64px; text-align: justify;">' + first_block.setting.title + '</div>' +
                                    '    <p class="font-16 font-weight-400">' + first_block.setting.sub_title + '</p>' +
                                    '    <div class="row sub-collections">' + 
                                    '         ' + sub_collections_html + 
                                    '    </div>' +
                                    '</div>' +
                                    '<div class="col-0 col-md-6">' +
                                    '    <div class="image-bg" style="background-image: url(' + collection.image + ')"></div>' +
                                    '</div>');
                            },
                            error: function () {
                                // could not get product list
                            }
                        });
                    },
                    error: function () {
                        // could not get product list
                    }
                });
            },
            error: function () {
                // could not get product list
            }
        });
        
    }


    $("body").on('DOMSubtreeModified', "#product-sort .select-selected", function() {
        var text = $('#product-sort .select-selected').text();
        if($.trim(text) !== ''){
            var val = $('#product-sort-select option').filter(function () { return $(this).html() === text; }).val();
            window.location = val;
        }
    });


    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").text(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                delayOnChange(function () {
                    var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
                    var regexMin = new RegExp("&min=\\d+");
                    var regexMax = new RegExp("&max=\\d+");
                    url = url.replace(regexMin, '');
                    url = url.replace(regexMax, '');
                    // console.log(ui.values[1]);
                    window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                    $("#amount1" ).val(ui.values[ 0 ]);
                    $("#amount2" ).val(ui.values[ 1 ]);
                });
            }
        });
        $("#amount").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }
</script>

<!-- block-footer -->
{{ footer }}
<!-- /.block-footer -->
