{{ header }}

<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thông tin đơn hàng</li>
            </ol>
        </nav>
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content pb-3 pb-md-5 bg-white mb-5">
            <!-- Cart Listing -->
            <div class="cart-listing">
                <div class="text-center">
                    <h1 class="page-title fz-24 my-4"><span class="fw-400">ĐƠN HÀNG</span> {{ order_code }}</h1>
                </div>

                <div class="d-flex flex-wrap">
                    {% if shipping_address %}
                    <div class="col-12 col-lg mb-3">
                        <h2 class="fz-20 fw-500 mb-4">Địa chỉ nhận hàng</h2>
                        <p class="row">
                            <span class="text-second col-lg-3 col pr-0">Người nhận:</span>
                            <span class="col fw-500">{{ order_info['shipping_lastname'] ~ ' ' ~ order_info['shipping_firstname'] }}</span>
                        </p>
                        <p class="row">
                            <span class="text-second col-lg-3 col pr-0">Địa chỉ:</span>
                            <span class="col fw-500">{{ order_info['address_shipping_total'] }}</span>
                        </p>
                        <p class="row">
                            <span class="text-second col-lg-3 col pr-0">Điện thoại:</span>
                            <span class="col fw-500">{{ order_info['telephone'] }}</span>
                        </p>
                    </div>
                    {% endif %}
                    <div class="col-12 col-lg mb-3">
                        <h2 class="fz-20 fw-500 mb-4">Thông tin đơn hàng</h2>
                        <p class="row">
                            <span class="text-second col">Ngày tạo đơn:</span>
                            <span class="col fw-500">{{ date_added }}</span>
                        </p>
                        {% if payment_method %}
                            <p class="row">
                                <span class="text-second col">Phương thức thanh toán:</span>
                                <span class="col fw-500">{{ payment_method }}</span>
                            </p>
                        {% endif %}
                        <p class="row">
                            <span class="text-second col">Trạng thái thanh toán:</span>
                            <span class="col fw-500">{% if payment_status == 1 %}Đã thanh toán{% else %}Chưa thanh toán{% endif %}</span>
                        </p>
                        {% if shipping_method %}
                            <p class="row">
                                <span class="text-second col">Phương thức vận chuyển:</span>
                                <span class="col fw-500">{{ shipping_method }}</span>
                            </p>
                        {% endif %}
                        {% if order_status_name %}
                            <p class="row">
                                <span class="text-second col">Trạng thái đơn hàng:</span>
                                <span class="col fw-500">{{ order_status_name }}</span>
                            </p>
                        {% endif %}
                    </div>
                </div>

                <!-- Cart Listing -->
                <h2 class="fz-20 fw-500 mt-lg-4 px-3">Chi tiết đơn hàng</h2>
                <div class="p-lg-3">
                    <div class="box-cart-result">
                        <div class="cart-table table-custom p-4 p-lg-0">
                            <div class="table-body fw-500">
                                {% for product in products %}
                                    <div class="row-item row">
                                        <div class="col-3 col-lg-2 col-item align-items-start">
                                            <a href="{{ product['url'] }}" class="border rounded p-2">
                                                <img src="{{ product['image'] }}" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        <div class="col-9 col-lg-10 p-0 d-flex flex-wrap">
                                            <div class="col-12 col-lg-4 col-item">
                                                <a href="{{ product['url'] }}" title="{{ product['name'] }}" class="mb-3">
                                                    {{ product.name|length > 50 ? product.name|slice(0, 50) ~ '...' : product.name
                                                    ~ (product.version is not empty ? ':' ~ product.version : '') }}
                                                </a>
                                            </div>
                                            <div class="col-12 col-lg-3 col-item text-right">
                                                <span class="mobile-label d-lg-none flex-fill text-left text-second">Đơn giá</span>
                                                <!-- Only show in mobile -->
                                                <span class="price flex-fill" data-value="{{ product.price }}">{{ product.price }}</span>
                                                <span class="ml-lg-5 ml-3 fw-400 d-none d-lg-block">x</span>
                                            </div>
                                            <div class="col-12 col-lg-2 col-item buy-total text-right text-lg-center">
                                                <span class="mobile-label d-lg-none flex-fill text-left">Số lượng</span>
                                                <!-- Only show in mobile -->
                                                <span class="flex-fill">{{ product.quantity }}</span>
                                            </div>
                                            <div class="col-12 col-lg-3 col-item text-right">
                                                <span class="mobile-label d-lg-none flex-fill text-left">Thành tiền</span>
                                                <!-- Only show in mobile -->
                                                <span class="mx-5 fw-400 d-none d-lg-block">=</span>
                                                <span class="flex-fill total-price" data-value="{{ product.total }}">{{ product.total }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End row item -->
                                {% endfor %}
                            </div>
                            <!-- End table-body -->
                        </div>
                        <!-- End cart-table -->

                        <div class="table-footer p-3 border rounded-20 mb-4">
                            <div class="row d-flex justify-content-end fz-16 fz-lg-18">
                                <ul class="list-unstyled col-12 col-lg-3 fz-18 m-0">
                                    <li class="d-flex mb-2">
                                        <span class="">Thành tiền:</span>
                                        <span class="ml-auto fw-500">
                                            <span class="total-price">{{ order_total_real }}</span>
                                        </span>
                                    </li>
                                    <li class="d-flex mb-2">
                                        <span class="">Vận chuyển:</span>
                                        <span class="ml-auto fw-500">
                                            <span class="total-transport" data-value="{{ order_shipping_fee }}">
                                                {{ order_shipping_fee }}
                                            </span>
                                        </span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="">Tổng:</span>
                                        <span class="ml-auto fw-500">
                                            <span class="total-cart">{{ order_total }}</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End row -->
                        </div>
                        <!-- End table-footer -->

                        <div class="table-action justify-content-end d-flex flex-wrap">
                            <a href="javascript:void(0)" onclick="window.history.back();"
                               class="btn btn-primary fw-600 py-3 px-4 fz-16 col-12 col-lg-3 order-lg-1 mb-3 mb-lg-0">QUAY LẠI</a>
                        </div>
                    </div>
                    <!-- End box-cart-result -->
                </div>
                <!-- End: Cart Listing -->
            </div>
            <!-- End: Cart Listing -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End: container -->
</main>

{{ footer }}