{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper" class="pb-3 pb-md-5">
    <!-- Home Slider -->
    {% if slideshow.visible %}
        <div class="home-slider page-slider bestme-block-slideshow">
            <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel" data-interval="{{ slideshow.transition_time }}">
                <div class="carousel-inner">
                    {% for key, slide in slideshow.slides %}
                        <div class="carousel-item {{ key == 0 ? 'active': '' }}">
                            <div class="banner-img">
                                <a href="{{ slide['url'] }}" target="_blank" title="{{ slide['description'] }}">
                                    <img data-src="{{ slide['image-url'] }}" class="d-block w-100 lazyload" alt="{{ slide['description'] }}">
                                </a>
                            </div>
                            {#<div class="slider-info text-center d-flex flex-column align-items-center justify-content-center">#}
                            {#<h2 class="mb-0 fz-35 text-white border-bottom border-white mb-3">#}{#{{ slide['description'] }}#}{#</h2>#}
                            {#<p class="mb-0 text-white">{{ slide['description'] }}</p>#}
                            {#</div><!-- /.slider-info -->#}
                        </div>
                    {% endfor %}
                </div>
                <ol class="carousel-indicators">
                    {% for key, slide in slideshow.slides %}
                        <li data-target="#carouselHome" data-slide-to="{{ key }}"  class="{{ key == 0 ? 'active': '' }}"></li>
                    {% endfor%}
                </ol>
            </div>
        </div>
    {% endif %}
    <!-- End: Home Slider -->
    <div class="bestme_app_after_slide">

    </div>
    {# seo h1 #}
    {% include 'default/template/common/home_seo_h1.twig' %}
    {# end - seo h1 #}
    <!-- Banner -->
    {% if banners_visible == '1' %}
    {% endif %}
    <div class="box-banner mt-3 mt-lg-5">
        <div class="container">
            <div class="row mx-n2">
                <!-- Banner Item -->
                {% if banner_highlight['visible'] == '1' %}
                    <div class="col-{{ banner_left['visible'] == '1' ? '6': '12' }} mb-3 px-0 bestme-block-banner-1">
                        <div class="banner-item hover-zoom-img">
                            <a target="_blank" href="{{ banner_highlight['url'] }}">
                                <img data-src="{{ banner_highlight['image-url'] }}" class="w-100 lazyload" alt="{{ banner_highlight['description'] }}">
                            </a>
                        </div>
                    </div>
                {% endif %}
                <!-- End: Banner Item -->
                <!-- Banner Item -->
                {% if banner_left['visible'] == '1' %}
                    <div class="col-{{ banner_left['visible'] == '1' ? '6': '12' }} mb-3 px-0 bestme-block-banner-2">
                        <div class="banner-item hover-zoom-img">
                            <a target="_blank" href="{{ banner_left['url'] }}">
                                <img data-src="{{ banner_left['image-url'] }}" class="w-100 lazyload" alt="{{ banner_left['description'] }}">
                            </a>
                        </div>
                    </div>
                {% endif %}
                <!-- End: Banner Item -->
            </div>
        </div>
    </div>
    <!-- End: Banner -->

    <!-- Box Product -->
    {% set is_render_banner = false %}
    {% for k, block in blocks %}
        {% set break_index = block['grid'] * 2 %}

        {% if block['visible'] %}
            <div class="box-product mt-3 mt-lg-5 block-sale-product {{ block['bestme_block_preview_class'] }}">
                <div class="container">
                    <h2 class="box-title fz-25 fw-500 text-center text-black-50 mb-3 mb-md-5">{{ block['title'] }}</h2>
                    <div class="owl-product owl-carousel owl-theme" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% set col_xl = 12/block['grid'] %}

                        {# block contains sub-collections #}
                        {% if block['collections'] is not empty %}
                            {% for k,collection in block['collections'] %}
                                {% if k % break_index == 0 %}
                                    <div class="slide-item">
                                    <div class="row">
                                {% endif %}
                                <div class="col-{{ col_xl }} col-sm-{{ col_xl }}col-lg-{{ col_xl }} mb-3">
                                    <div class="pro-item">
                                        <div class="pro-thumb position-relative">
                                            <a href="{{ collection['url'] }}">
                                                <img class="w-100 lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}">
                                            </a>
                                        </div>
                                        <div class="pro-info text-center px-3">
                                            <a class="pro-item-title text-black d-block my-1" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% if k % break_index == break_index -1 or k + 1 == block['collections']|length %}
                                    </div><!-- End row -->
                                    </div><!-- End slide-item -->
                                {% endif %}
                            {% endfor %}
                        {% else %} {# block contains products #}
                            {% for k,product in block['products'] %}
                                {% if k % break_index == 0 %}
                                    <div class="slide-item">
                                    <div class="row">
                                {% endif %}
                                <div class="col-{{ col_xl }} col-sm-{{ col_xl }}col-lg-{{ col_xl }} mb-3">
                                    <div class="pro-item">
                                        <div class="pro-thumb position-relative">
                                            <img data-src="{{ product['thumb'] }}" class="w-100 lazyload" alt="bestme">
                                            <!-- Pro Types -->
                                            <ul class="pro-list-type w-100 list-inline mb-0">
                                                {% if product['is_new_product'] %}
                                                    <li class="list-inline-item float-left">
                                                        <span class="fz-12 py-1 px-3 bg-white-50">Mới</span>
                                                    </li>
                                                {% endif %}

                                                {% if product['product_is_stock'] == false %}
                                                    <li class="list-inline-item float-left">
                                                        <span class="fz-12 py-1 px-3 bg-white-50">Tạm Hết hàng</span>
                                                    </li>
                                                {% endif %}

                                                {% if product['percent_sale'] is not empty %}
                                                    <li class="list-inline-item float-left">
                                                        <span class=" d-inline-block text-white fz-12 bg-danger pd-1 px-2">{{ product['percent_sale'] }}</span>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                            <!-- End: Pro Types -->
                                            <!-- Pro Overlay -->
                                            <div class="pro-overlay transition d-flex justify-content-end align-items-end flex-column" onclick="window.location='{{ product['href'] }}'">
                                                <ul class="pro-action list-inline mb-3 mr-3">
                                                    <li class="list-inline-item">
                                                        <a href="{{ product['href'] }}" class="view-product text-center rounded-circle border border-primary text-primary bg-white">
                                                            <span class="fas fa-eye"></span>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item d-none">
                                                        <a href="#" class="add-favourite text-center rounded-circle border border-primary text-primary bg-white">
                                                            <span></span>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="{{ product['href'] }}" class="{% if product['product_is_stock'] == false %} disabled {% endif %} add-cart text-center rounded-circle border border-primary text-primary bg-white">
                                                            <span class="fas fa-cart-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- EnD: Pro Overlay -->
                                        </div>
                                        <div class="pro-info text-center px-3">
                                            <!-- Star Rate -->
                                            <div class="wrap-star-rate mt-2 d-none">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item mr-0">
                                                        <span class="star star-rate"></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="star star-rate"></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="star star-rate"></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="star star-rate"></span>
                                                    </li>
                                                    <li class="list-inline-item mr-0">
                                                        <span class="star"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- End: Star Rate -->
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                            <div class="pro-price align-self-center">
                                                {% if product['is_contact_for_price'] %}
                                                    <span class="new-price text-primary">
                                                        {{ contact }}
                                                    </span>
                                                {% else %}
                                                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                        <span class="new-price text-primary fw-600 fz-16 mr-2">
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="show-title">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                                            {% else %}
                                                                <span class="show-title">{{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ <span class="show-title">{{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                    {% else %}
                                                        <span class="new-price text-primary fw-600 fz-16 mr-2">
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="show-title">{{ product['price_master']|replace({'VND': 'đ'}) }}</span>
                                                            {% else %}
                                                                <span class="show-title">{{ product['min_price_version']|replace({'VND': 'đ'}) }}</span>
                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                    ~ <span class="show-title">{{ product['max_price_version']|replace({'VND': 'đ'}) }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                        <span class="old-price text-light fz-14 fw-600">
                                                            {% if product['max_compare_price_version'] is null %}
                                                                <span class="show-title">{{ product['compare_price_master']|replace({'VND': 'đ'}) }}</span>
                                                            {% else %}
                                                                <span class="show-title">{{ product['min_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ <span class="show-title">{{ product['max_compare_price_version']|replace({'VND': 'đ'}) }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                    </div><!-- End row -->
                                    </div><!-- End slide-item -->
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div> <!-- End owl product -->
                    <p class="view-more" style="text-align: center"><a href="{{ block['view_more'] }}">Xem thêm >></a></p>
                </div>
            </div>
        {% endif %}

        <!-- Banner -->
        {% if (k == 4 and banners_visible and banner_middle['visible'] == '1') or (loop.last and false == is_render_banner) %}
            {% set is_render_banner = true %}
            <div class="box-banner mt-3 mt-lg-5 banner-middle bestme-block-banner-3">
                <div class="container text-center">
                    <a href="{{ banner_middle['url'] }}" class="banner-img">
                        <img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}">
                    </a>
                </div>
            </div>
        {% endif %}
        <!-- End: Banner -->
    {% endfor %}
    <!-- End: Box Product -->
    <div class="bestme_app_after_product">

    </div>

    <!-- Banner -->
    {% if blocks is empty and banners_visible and banner_middle['visible'] == '1' %}
        <div class="box-banner mt-3 mt-lg-5 banner-middle bestme-block-banner-3">
            <div class="container text-center">
                <a href="{{ banner_middle['url'] }}" class="banner-img">
                    <img data-src="{{ banner_middle['image-url'] }}" class="w-100 lazyload" alt="{{ banner_middle['description'] }}">
                </a>
            </div>
        </div>
    {% endif %}
    <!-- End: Banner -->

    <!-- Box Custommer -->
    {% if partners_visible == '1' %}
        <div class="box-custommer mt-3 mt-md-5 bg-light py-3 py-md-5 bestme-block-partner">
            <div class="container">
                <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                    {% for partner in partners %}
                        <div class="item">
                            <a href="{{ partner.url }}">
                                <div class="custommer-avt" style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;"></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- End: Box Custommer -->

    <!-- Box News -->
    {% if latest_blog %}
        <div class="box-news mt-3 mt-md-5 bestme-block-blog">
            <div class="container">
                <h2 class="box-title fz-25 fw-500 text-center text-black-50 mb-3 mb-md-5">{{ blog_title }}</h2>
                <div class="row">
                    {% for k,blog in latest_blog %}
                        {% if k < 3 %}
                            <!-- News Item -->
                            <div class="col-md-4 mb-3 mb-md-0">
                                <div class="news-item">
                                    <div class="news-thumb hover-zoom-img">
                                        <img data-src="{{ blog['image'] }}" class="w-100 h-100 lazyload" alt="{{ blog['alt'] }}">
                                    </div>
                                    <div class="news-info position-relative bg-white pt-2 pb-3 px-4">
                                        <span class="news-number text-warning fz-64 fw-900">{{ k+1 }}</span>
                                        <p class="post-author fz-14 fw-300 text-light-2 mb-0 pl-4">{{ blog['lastname'] }} {{ blog['firstname'] }} - {{ blog['date_added']|date('m/d/Y') }}</p>
                                        <a href="{{ blog['link'] }}" class="d-block news-title text-uppercase fz-16 text-black-50 hover-primary line-height-default mt-3"
                                           style="height: 40px; overflow: hidden;">{{ blog['title'] }}</a>
                                    </div>
                                    <a href="{{ blog['link'] }}" class="d-block text-uppercase text-white text-center py-2 bg-primary-2 fz-13 fw-500">Xem thêm</a>
                                </div>
                            </div>
                            <!-- End: News Item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="wrap-box-news"></div><!-- /.wrap-box-news -->
        </div>
    {% endif %}
    <!-- End: Box News -->
</main>
<div class="bestme_app_before_footer">

</div>
{{ footer }}