{{ header }}
{# TODO: use var theme_dir instead of hardcode... #}
{% include ('tech_digitech_2/template/blog/blog_breadcrumb.twig') %}

<section class="content-result content-post-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-9 order-md-8 order-xl-9">
                {% if blog is empty %}
                Không có bài viết
                {% else %}
                <article>
                    <h1>{{ blog['title'] }}</h1>
                    <ul class="date-ad">
                        <li>
                            <span> Ngày:</span> {{ blog['date_added']|date('d-m-Y') }}
                        </li>
                        <li>
                            <span> Bởi: </span><a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                        </li>
                    </ul>
                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    <br><br>
                    <p>
                        {{ blog['content']|html_entity_decode }}
                    </p>
                </article>
                {% endif %}
            </div>
            {# TODO: use var theme_dir instead of hardcode... #}
            {% include ('tech_digitech_2/template/blog/blog_nav_left.twig') %}
        </div>
    </div>
</section>
{{ footer }}