<!-- breadcrumb -->
<section class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb['href'] is defined %}
                <li><a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% else %}
                <li><a class="breadcrumb-item active">{{ breadcrumb['text'] }}</a></li>
            {% endif %}
        {% endfor %}

    </ul>
</section>
<!-- /.breadcrumb -->