/*****/
body {
    /*font-family: 'Roboto'!important;*/
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    font-style: normal;
    font-weight: normal;
}
body a {
    text-decoration: none!important;
    cursor: pointer;
}

/*Header*/
/*header#header-main.block-header #header-top-contact {*/
/*    font-family: 'Roboto';*/
/*}*/
/*header#header-main.block-header #header-top-contact ul.nav li p {*/
/*    margin-bottom: 0;*/
/*    padding: .5rem 1rem;*/
/*}*/
/*header#header-main.block-header #header-top-menu {*/
/*    background-color: #1a1a1a;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed {*/
/*    background: transparent!important;*/
/*    width: 100%!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a, */
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a  {*/
/*    color: rgba(255,255,255,.7);*/
/*    transition-property: color,background-color,border-color,box-shadow;*/
/*    text-transform: uppercase;*/
/*    font-size: 14px!important;*/
/*    box-sizing: border-box;*/
/*    align-items: center;*/
/*    font-weight: 400!important;*/
/*    font-family: inherit!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu .collapse ul.nav li a {*/
/*    padding: 0 15px;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a.active, */
/*header#header-main.block-header.fixed #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a.active {*/
/*    color: #fff!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a:hover, */
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a:hover  {*/
/*    color: #fff;*/
/*    font-weight: 400!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu {*/
/*    background-color: #fff;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu .menu-title {*/
/*    background-color: #E30037;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li a {*/
/*    border-bottom: 2px solid transparent;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li a.active, */
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li:hover a {*/
/*    border-bottom: 2px solid #E30037;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #collapseCategory a, */
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu a {*/
/*    color: #000!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu a {*/
/*    padding: 10px 7.5px;*/
/*}*/
header.block-header.refix-min-height {
    min-height: 98px;
}
header.block-header.fixed .fix-content .block-header-contact {
    display: none!important;
}
header.block-header .fix-content .block-header-cart i.icons {
    margin: auto 0;
}
header.block-header .fix-content .block-header-cart span.quantity {
    position: absolute;
    transform: translateX(15px);
    border-radius: 50%;
    padding: 1.5px 5px;
    font-size: 10px;
}
header.block-header .fix-content .block-header-cart .amount {
    color: #000;
}
header.block-header .fix-content .block-header-cart .amount .title {
    color: #ACACAC;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}
header.block-header .fix-content .menu-main {
    min-height: 98px;
}
header.block-header .fix-content {
    background: transparent;
}
header.block-header.fixed .fix-content .menu-main {
    border-bottom: 2px solid transparent;
}
header.block-header.fixed .fix-content .menu-main .main-menu-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}
header.block-header .fix-content .block-header-contact i.icons {
    font-size: 32px;
    color:#E03232;
    position: absolute;
}
header.block-header .fix-content .block-header-contact .content {
    margin-left: 36px;
}
header.block-header .fix-content .block-header-contact .content p {
    color: #ACACAC;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
}
header.block-header .fix-content .block-header-contact .content h6 {
    font-size: 14px;
    line-height: 16px;
}
header.block-header .fix-content .form-search-header {
    flex: unset;
}
header.block-header .fix-content .form-search-header .input-group-icon .input-search {
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0 20px 20px;
    border-radius: 20px;
    border: 1px solid #FA7468;
}
header.block-header .fix-content .form-search-header .input-group-append {
    position: absolute;
    right: 0;
}
header.block-header .fix-content .form-search-header .input-group-append .btn-search {
    background: transparent;
    color: #000!important;
    border-radius: 50%;
    padding: 5px 10px!important;
    transform: translate(-4px, 4px);
}
header.block-header .fix-content .cart-link {
    color: #000;
}
header.block-header.header-home-page .fix-content .menu-main #navbarMainMenu ul.nav li.nav-item a,
header.block-header.header-home-page .fix-content .menu-main a {
    color: #fff;
}
header.block-header.header-home-page .fix-content .menu-main .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item a,
header.block-header.header-home-page .fix-content .menu-main .main-menu-wrapper a {
    color: #000;
}
/*header.block-header .fix-content .menu-main a {*/
/*    color: #000;*/
/*}*/
/*header.block-header .fix-content .block-header-menu-main #navbarMainMenu ul.nav li.nav-item a,*/
/*header.block-header.fixed .fix-content .menu-main a {*/
/*    color: #000!important;*/
/*}*/
header.block-header .fix-content #navbarMainMenu ul.nav li.nav-item a {
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    /*border-bottom: 2px solid transparent;*/
    transition: all .5s;
}
/*header.block-header.header-home-page .fix-content #navbarMainMenu ul.nav li.nav-item a.active, */
/*header.block-header.header-home-page .fix-content #navbarMainMenu ul.nav li.nav-item:hover a {*/
/*    border-bottom: 2px solid #fff;*/
/*}*/
/*header.block-header.header-home-page.fixed .fix-content #navbarMainMenu ul.nav li.nav-item a.active, */
/*header.block-header.header-home-page.fixed .fix-content #navbarMainMenu ul.nav li.nav-item:hover a {*/
/*    border-bottom: 2px solid #000;*/
/*}*/
header.block-header .fix-content #navbarMainMenu ul.nav li.nav-item a.active, 
header.block-header .fix-content #navbarMainMenu ul.nav li.nav-item:hover a {
    /*border-bottom: 2px solid #000;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

header.block-header .fix-content .block-header-menu-main #navbarMainMenu ul.nav li.nav-item a {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Footer*/
footer {
    margin-top: 75px;
}
footer .logo-footer div.image {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 100%;
    height: 45px;
}
footer#footer-main .row-footer {
    background-image: url(../img/Rectangle_17.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
footer#footer-main .row-footer a {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
footer#footer-main .row-footer .footer-bg {
    padding-top: 60px;
    background: rgba(0,0,0,.7);
}
footer#footer-main .row-footer .footer-bg  h3.sub-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
footer#footer-main .row-footer .footer-bg .footer-info h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
footer#footer-main .row-footer .footer-copyright-bg {
    padding: 10px 5px;
    border-top: 2px solid #FFFFFF;
}

footer#footer-main .row-footer .footer-map-store iframe {
    width: 100%;
    height: 200px;
}

/*Homepage*/
main#homepage-site {
    margin-top: -98px;
}

.modal {
    z-index: 99999;
}

section#slide-hot-products,
section#diffslide-hot-products {
    background: transparent;
    border: 1px solid #CECECE;
    box-sizing: border-box;
}
section#diffslide-hot-products {
    border: 1px solid transparent;
    box-sizing: border-box;
}
section#slide-hot-products .slide-product-item,
section#diffslide-hot-products .slide-product-item {
    padding-left: 30px;
    padding-right: 30px;
}
section#slide-hot-products .slide-product-item .product-info,
section#diffslide-hot-products .slide-product-item .product-info{
    height: 408px;
}
section#slide-hot-products .slide-product-item .product-highlight,
section#diffslide-hot-products .slide-product-item .product-highlight {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #E30037;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7.5px;
}
section#slide-hot-products .slide-product-item .product-highlight span,
section#diffslide-hot-products .slide-product-item .product-highlight span {
    background: transparent;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    left: calc(25px - 10px);
    top: calc(25px - 10px);
    color: #fff;
}
section#slide-hot-products .slide-product-item .product-image,
section#diffslide-hot-products .slide-product-item .product-image {
    margin-bottom: 20px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
section#slide-hot-products .slide-product-item .product-name a.product-title,
section#diffslide-hot-products .slide-product-item .product-name a.product-title {
    height: 45px;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}
section#slide-hot-products .slide-product-item .product-price,
section#diffslide-hot-products .slide-product-item .product-price {
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
}
section#slide-hot-products .slide-product-item .product-price-sale,
section#diffslide-hot-products .slide-product-item .product-price-sale {
    font-size: 20px;
    line-height: 16px;
    display: inline-block;
    color: #E03232;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control {
    background-color: unset;
    top: 50%;;
    color: #000;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
    left: 0;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next {
    right: 0;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control i,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control i {
    font-size: 28px
}


    
section#homepage-new-product .view-more a.btn-more {
    background: #000;
    color: #fff;
    padding: 12.5px 35px;
    border: 1.5px solid  #000;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
}
section#homepage-new-product .view-more a.btn-more:hover {
    background: #fff;
    color: #000;
}

section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .image-background-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,.5);
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item,
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .image-background img {
    height: 600px;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .content {
    position: absolute;
    left: 40%;
    top: 30%;
    color: #fff;
    text-align: center;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .content .img-logo {
    background-image: url(../img/Valentine_day.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 70px;
    display: inline-flex;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .content p {
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .content a {
    text-decoration: underline!important;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button {
    background: transparent;
    color: #fff;
    opacity: 1;
    border-radius: 0;
    padding: 18px 10px!important;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-prev::before {
    content: '';
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: -100%;
    border-radius: 20px;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-next::before {
    content: '';
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: -100%;
    border-radius: 20px;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-prev {
    left: 10%!important;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-prev i {
    transform: translateY(-17.5px) rotate(90deg);
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-next {
    right: 10%!important;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-next i {
    transform: translateY(-17.5px) rotate(-90deg);
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-dots {
    display: none;
}

section#homepage-slide-products-banner div#grid-collections .container-collections {
    display: grid;
    grid-template-columns: auto auto;
    height: 400px;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item.item-1 {
    background-image: url('../img/h2_cate_2.png');
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item.item-2 {
    background-image: url('../img/h2_cate_3.png');
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item.item-3 {
    background-image: url('../img/h2_cate_4.png');
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item.item-4 {
    background-image: url('../img/h2_cate_5.png');
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item .content {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 90%;
    margin: 5%;
    padding: 10px;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item .content h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item .content p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 0;
}

section#homepage-ads-banner .contain-ads-banner {
    display: grid;
    grid-gap: 10px;
    height: 500px;
}
section#homepage-ads-banner .contain-ads-banner .ads-banner-item {
  overflow: hidden;
}
section#homepage-ads-banner .contain-ads-banner .ads-banner-item.item-1 {
  grid-column: 1/span 7;
  grid-row: 1;
}
section#homepage-ads-banner .contain-ads-banner .ads-banner-item.item-2 {
  grid-column: 8/span 12;
  grid-row: 1 / span 2;
}
section#homepage-ads-banner .contain-ads-banner .ads-banner-item.item-3 {
  grid-column: 1/span 3;
  grid-row: 2;
}
section#homepage-ads-banner .contain-ads-banner .ads-banner-item.item-4 {
  grid-column: 4/span 4;
  grid-row: 2;
}
section#homepage-ads-banner .ads-banner-item .ads-banner-frontend,
section#homepage-ads-banner .ads-banner-item .ads-banner-backend {
    height: 100%;
    width: 100%;
}
section#homepage-ads-banner .ads-banner-item.item-1 .ads-banner-frontend {
    background-image: url('../img/Rectangle_16.png');
}
section#homepage-ads-banner .ads-banner-item.item-2 .ads-banner-frontend {
    background-image: url('../img/Rectangle_17.png');
}
section#homepage-ads-banner .ads-banner-item.item-3 .ads-banner-frontend {
    background-image: url('../img/Rectangle_16.png');
}
section#homepage-ads-banner .ads-banner-item.item-4 .ads-banner-frontend {
    background-image: url('../img/Rectangle_18.png');
}
section#homepage-ads-banner .ads-banner-item .ads-banner-frontend {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 15px;
}
section#homepage-ads-banner .ads-banner-item.item-2 .ads-banner-frontend {
    flex-flow: row-reverse;
}
section#homepage-ads-banner .ads-banner-item .ads-banner-backend {
    background:#000;
    transition: all .5s;
    color: #fff;
    padding: 15px;
}
section#homepage-ads-banner .ads-banner-item:hover .ads-banner-backend {
    transform: translateY(-100%);
}
section#homepage-ads-banner .ads-banner-item .ads-banner-backend ul li {
    font-weight: 300;
    font-size: 14px;
    line-height: 34px;
    margin-bottom: 0;
    list-style-type: none;
}


.slide-block-product-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}
.slide-block-product-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item .product-item .product-info .product-price-contain {
    height: 50px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item.slide-item-6 .product-item {
    padding: 7px 10px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item.slide-item-6 .product-item .product-name a.product-title {
    height: 45px;
    font-size: 14px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item.slide-item-6 .product-item .product-image {
    height: 200px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item.slide-item-6 .product-item .product-price {
    font-size: 14px;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide-item.slide-item-6 .product-item .product-price-sale {
    font-size: 12px;
}


section#homepage-block-partner {
    background: #EFEFEF;
}


section#homepage-ads {
    margin-bottom: 50px;
}
section#homepage-ads .ads-bg {
    display: flex;
    align-items: flex-end;
}
section#homepage-ads .ads-bg .image-bg {
    height: 375px;
    width: 100%;
}
/*section#homepage-ads .ads-bg .content {*/
/*    position: absolute;*/
/*}*/
/*section#homepage-ads .ads-bg .content h3 {*/
/*    color: #fff;*/
/*    font-size: 36px;*/
/*    line-height: 48px;*/
/*    font-weight: 400;*/
/*}*/
/*section#homepage-ads .ads-bg .content a {*/
/*    padding: 10px 40px;*/
/*    color: #fff;*/
/*    border: 2px solid #FFFFFF;*/
/*    box-sizing: border-box;*/
/*    background: rgba(0,0,0,.7);*/
/*}*/

section#homepage-block-blog .homepage-block-blog-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.sidebar-right h2.slide-list-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid #CECECE;
}

.sidebar-right h2.slide-list-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}

#difflist-sale-off-products a:hover {
    color: unset;
}
#difflist-sale-off-products a .list-product-item {
    transition: all .5s;
}
#difflist-sale-off-products a:hover .list-product-item {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
#difflist-sale-off-products .list-product-item .product-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80px;
    width: 100%;
}
#difflist-sale-off-products .list-product-item .product-info .product-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}
#difflist-sale-off-products .list-product-item .product-info p {
    margin-bottom: 3px;
}
#difflist-sale-off-products .list-product-item .product-info .product-price-sale {
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
}
#difflist-sale-off-products .list-product-item .product-info .product-price {
    font-size: 18px;
    line-height: 21px;
    color: #E03232;
}

#difflist-view-most-blogs .list-blog-item .blog-image {
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 100%;
}
#difflist-view-most-blogs .list-blog-item .blog-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.block-product .owl-carousel.owl-product .owl-nav,
.block-blog .owl-carousel.owl-product .owl-nav {
    top: calc(275px / 2);
    right: unset;
    width: 100%;
}
.block-product .owl-carousel.owl-product .owl-nav button,
.block-blog .owl-carousel.owl-product .owl-nav button {
    background: #fff!important;
    border-radius: 50%;
    transition: all .3s;
    padding: 20px 17px!important;
    display: flex;
    align-items: center;
    /*border: 1px solid #000;*/
}
.block-product .owl-carousel.owl-product .owl-nav button:hover,
.block-blog .owl-carousel.owl-product .owl-nav button:hover {
    background: #000!important;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-prev,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-prev {
    border-right: none;
    position: absolute;
    left: 15px!important;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-next,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-next {
    position: absolute;
    right: 15px!important;
}
.block-product .owl-carousel.owl-product .owl-nav button::before,
.block-blog .owl-carousel.owl-product .owl-nav button::before {
    font-size: 20px;
    transition: all .3s;
    color: #000!important;
}
.block-product .owl-carousel.owl-product .owl-nav button:hover::before,
.block-blog .owl-carousel.owl-product .owl-nav button:hover::before {
    color: #fff!important;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-prev::before,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-prev::before {
    content: "\f104";
    font-family: FontAwesome;
    transform: translateX(-10px);
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-next::before,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-next::before {
    content: "\f105";
    font-family: FontAwesome;
    transform: translateX(10px);
}
.block-product .owl-carousel.owl-product .owl-nav button:hover::after,
.block-blog .owl-carousel.owl-product .owl-nav button:hover::after {
    background: #fff;
}
.block-product .owl-carousel.owl-product .owl-nav button::after,
.block-blog .owl-carousel.owl-product .owl-nav button::after {
    width: 20px;
    height: 1.5px;
    background: #000;
    position: absolute;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-prev::after,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-prev::after {
    content: "";
    right: 0;
    transform: translate(-10px, 0.75px);
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-next::after,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-next::after {
    content: "";
    left: 0;
    transform: translate(10px, 0.75px);
}
.block-product .owl-carousel .owl-nav .owl-prev,
.block-blog .owl-carousel .owl-nav .owl-prev {
    left: 0!important;
}
.block-product.owl-carousel .owl-nav .owl-next,
.block-blog.owl-carousel .owl-nav .owl-next {
    right: 0!important;
}

.carousel.carousel-products.slide .carousel-inner .carousel-item.active {
    display: table;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item {
    display: inline-block;
    padding: 0;
    border: 1px solid transparent;
    overflow: hidden;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item:first-child {
    margin-left: 0;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item:last-child {
    margin-right: 0;
}

.carousel.carousel-products.slide .carousel-indicators {
    position: relative;
}
.carousel.carousel-products.slide .carousel-indicators .indicator-item {
    background-color: #C4C4C4;
    height: 4px;
}

.product-item {
    overflow: hidden;
    border: none!important;
    padding: 0;
}
.product-item:hover,
.product-item:hover .product-info {
    transform: scaleY(1);
    transform-origin: unset;
}
.product-item .product-highlight {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #E30037!important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7.5px;
}
.product-item .product-highlight span {
    background: transparent!important;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    left: 0;
}
.product-item .product-image {
    margin-bottom: 12.5px;
    height: 275px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
}
.product-item .product-name a.product-title {
    height: 45px;
    font-size: 16px;
    line-height: 21px;
    color: #000;
}
.product-item .product-price {
    font-size: 16px;
    line-height: 16px;
    color: #000;
    font-weight: 400;
    display: inline-block;
}
.product-item .product-price-sale {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    display: inline-block;
}
.product-item .product-status-sale {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    background: #1559B6;
    padding: 5px;
}
.product-item .product-link-detail {
    bottom: -100%;
    left: 0;
    width: 100%;
    position: absolute;
    color: #000;
    background: #fff;
    opacity: 0;
    transition: all .3s;
    padding: 10px;
}
.product-item:hover .product-link-detail {
    bottom: 0;
    opacity: 1;
    text-align: left;
}
.product-item .product-link-detail a.cart-btn:first-child {
    float: left;
}
.product-item .product-link-detail a.cart-btn:last-child {
    float: right;
}
.product-item .product-link-detail a.cart-btn {
    box-sizing: border-box;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    transition: all .5s;
    padding: 5px 10px;
    text-decoration: underline!important;
    text-transform: uppercase;
}

.product-item .product-link-detail .action {
    position: absolute;
    right: 0;
    color: #fff;
    top: 20%;
    display: grid;
    grid-auto-rows: auto auto;
}
.carousel.carousel-products.slide .carousel-control {
    width: 35px;
    height: 35px;
    top: 50%;
    border-radius: 50%;
}
.carousel.carousel-products.slide .carousel-control.carousel-control-prev {
    left: 0;
}
.carousel.carousel-products.slide .carousel-control.carousel-control-next {
    right: 0;
}
.carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
    width: 35px;
    height: 35px;
    font-size: 24px;
    color: #000;
}

nav ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 14px;
    mask: unset;
    -webkit-mask: unset;
    background: unset;
    transform: unset;
}
nav ol.breadcrumb .breadcrumb-item a, nav ol.breadcrumb .breadcrumb-item.active {
    color: #000;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

ul.pagination {
    margin-top: 50px;
}
ul.pagination li.page-item a.page-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    min-width: auto;
    padding: 10px 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}
ul.pagination li.page-item.active a.page-link, ul.pagination li.page-item:hover a.page-link {
    background-color: #000;
    color: #fff;
}
ul.pagination li.page-item a.page-link i {
    background: none;
    font-size: 18px;
}
ul.pagination .page-item:first-child .page-link:hover i, ul.pagination .page-item:last-child .page-link:hover i {
    background-color: unset;
}

.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg {
    margin-top: 30px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item {
    box-shadow: none;
    transition: all .5s;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item:hover a {
    color: #000;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item .block-blog-image {
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item h3.block-blog-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    height: 50px;
    padding: 0 15px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item p.block-blog-content {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    height: 125px;
    padding: 0 15px;
}
.carousel.carousel-blogs.slide .carousel-indicators {
    position: relative;
}
.carousel.carousel-blogs.slide .carousel-indicators .indicator-item.active {
    background-color: #FF9D00;
}
.carousel.carousel-blogs.slide .carousel-indicators .indicator-item {
    background-color: #C4C4C4;
    height: 4px;
}

/*Product detail*/
#product-detail-page .product-teaser-fix {
    top: unset!important;
    bottom: 0;
}
#product-detail-page .product-teaser-fix .contain-btn-quantity {
    justify-content: flex-end;
}
#product-detail-page .product-teaser-fix .contain-btn-quantity button.btn {
    background-color: transparent!important;
    color: #fff!important;
    border: none;
    border-radius: 0;
}
#product-detail-page .product-teaser-fix.contact .quantity-teaser-fix {
    display: none!important;
}
#product-detail-page .product-teaser-fix .contain-btn-quantity button.btn i {
    color: #fff!important;
}
#product-detail-page .product-detail #slider .owl-carousel .owl-nav {
    display: none;
}
#product-detail-page .product-detail #carousel .owl-carousel .owl-stage {
    width: 100%!important;
}
#product-detail-page .product-detail #carousel .owl-carousel .owl-stage .owl-item {
    width: 100%!important;
}
#product-detail-page .product-detail .node-left #slider .owl-carousel .owl-stage-outer .owl-item {
    border: 1px solid #000000;
    box-sizing: border-box;
}
/*#product-detail-page .product-detail .node-right .price,*/
/*#product-detail-page .product-detail .node-right .summary {*/
/*    border-bottom: 2px solid #C4C4C4;*/
/*}*/
#product-detail-page .product-detail .node-right form.block-custom-change {
    border-top: 1px solid #DEDEDE;
    padding-top: 15px;
}
#product-detail-page .product-detail .node-right .price .price-main {
    font-size: 24px;
    line-height: 28px;
    color: #E03232;
}
#product-detail-page .product-detail .node-right .price .price-second {
    font-size: 18px;
    line-height: 21px;
    margin-right: 10px;
}
#product-detail-page .product-detail .node-right button.btn-add {
    color: #fff!important;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 15px 40px;
}
#product-detail-page .product-detail .node-right button.btn-add i {
    margin-right: 10px;
}
/*#product-detail-page .product-detail .node-right #add-to-cart button.btn-submit {*/
/*    background: #E30037;*/
/*    border: 1px solid #FF0000;*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*}*/
#product-detail-page #product-info-tab {
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}
#product-detail-page #product-info-tab li {
    padding: 14px 0;
}
#product-detail-page #product-info-tab li a {
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
#product-detail-page #product-info-tab li:hover a {
    color: #777;
}
#product-detail-page #myTabContent {
}
#product-detail-page .bestme-block-product-related-product .bestme-block-product-related-product-title {
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
#product-detail-page .bestme-block-product-related-product .bestme-block-product-related-product-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
}


/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse {*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*    background: #E30037;*/
/*    color: #fff;*/
/*    border: 2px solid #E30037;*/
/*    padding: 13px 50px 13px 20px;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse:hover {*/
/*    background: #fff;*/
/*    color: #E30037;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse {*/
/*    display: inline-block;*/
/*    opacity: 1;*/
/*    transition: all 1s;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse.hide {*/
/*    display: none;*/
/*    opacity: 0;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse i {*/
/*    position: absolute;*/
/*    transform: translate(15px, -2.5px);*/
/*}*/

#product-detail-page button.btn-cart-contact-product-detail,
#product-detail-page button.btn-cart-product-detail,
#product-detail-page button.btn-cart-add-product-detail {
    display: block!important;
}
#product-detail-page button.btn-cart-contact-product-detail.hide,
#product-detail-page button.btn-cart-product-detail.hide,
#product-detail-page button.btn-cart-add-product-detail.hide {
    display: none!important;
}

#product-detail-page #myTabContent .tab-pane {
    height: 100%;
    padding: 0 20px;
}
/*#product-detail-page #myTabContent .tab-pane .tab-content-description.hide {*/
/*    height: 215px;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 9;*/
/*    -webkit-box-orient: vertical;*/
/*}*/


/*Contactpage*/
/*#contact-page .contact-info-left .contact-info-title {*/
/*    font-size: 32px;*/
/*    line-height: 35px;*/
/*    font-weight: 400;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 23px;*/
/*}*/
/*#contact-page .contact-info-left .contact-info-description {*/
/*    font-size: 18px;*/
/*    line-height: 26px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 15px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact .item-contact {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact .item-contact i {*/
/*    color: #1559B6;*/
/*    margin-right: 10px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact h6.item-contact-title {*/
/*    font-size: 24px;*/
/*    line-height: 30px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 12.5px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact p.item-contact-description {*/
/*    margin-bottom: 5px;*/
/*}*/
/*#contact-page .contact-form-right .contact-form-title {*/
/*    font-size: 30px;*/
/*    line-height: 35px;*/
/*    text-transform: uppercase;*/
/*    font-weight: 400;*/
/*    margin-bottom: 23px!important;*/
/*}*/
/*#contact-page .contact-form-right form#contact-form input, #contact-page .contact-form-right form#contact-form textarea {*/
/*    background-color: #FFFFFF!important;*/
/*    border: 1px solid #B7B7B7;*/
/*    box-sizing: border-box;*/
/*    border-radius: 0;*/
/*}*/
/*#contact-page .contact-form-right form#contact-form button[type="submit"] {*/
/*    background: #1559B6;*/
/*    text-transform: uppercase;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*    border-radius: 0;*/
/*}*/
#contact-page .contact-title-content h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}
#contact-page .contact-title-content p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}
#contact-page .contact-form-left form#contact-form input,
#contact-page .contact-form-left form#contact-form textarea {
    background: transparent;
}
#contact-page .contact-form-left form#contact-form button[type="submit"] {
    background: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    border-radius: 0;
    padding: 15px 40px;
}
#contact-page .contact-info-right {
    background: #F2F2F2;
    padding: 40px 25px;
}
#contact-page .contact-info-right p {
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
}

/*Productspage*/
.title-page-shoppage-bg {
    height: 300px;
}
.title-page-shoppage-bg .image-title-page-bg {
    background-image: url('../img/logo_shoppage.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 125px;
    margin-bottom: 20px;
}
.title-page-shoppage-bg .image-bg {
    background-image: url('../img/cat-img_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.title-page-bg {
    /*background-image: url('../img/21987-01.png');*/
    /*mix-blend-mode: hard-light;*/
    background: #F8F9FA;
    color: #000;
    height: 300px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    /*padding-top: 80px;*/
    /*padding-bottom: 80px;*/
}
.title-page-bg::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    background: #fff;
    right: 20%;
    top: 20%;
    transform: rotate(-50deg);
}
.title-page-bg::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 50px;
    background: #fff;
    right: 17.5%;
    bottom: 20%;
    transform: rotate(-50deg);
}
.title-page-bg .image-title-page-bg {
    background-image: url('../img/JOURNAL.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 300px;
}
/*.title-page-bg .title-page-bg-overlay::before {*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    background-color: rgba(250, 116, 104, .5);*/
/*}*/
#products-page .sidebar-right #product-price .price-range .ui-slider.ui-slider-horizontal {
    height: 5px;
}
#products-page .sidebar-right #product-price .price-range .ui-slider .ui-slider-range {
    background: #FF9801!important;
}
#products-page .sidebar-right #product-price .price-range .ui-slider .ui-slider-handle {
    top: -7.5px;
    border: 1px solid #FF9801!important;
}
.view-header.line-border-title {
    /*border-bottom: 1px solid #DEDEDE;*/
}


/*Blog-detailpage*/
#blogs-page .blogs-content .blog-item .blog-content .title {
    font-size: 24px;
    line-height: 36px;
}
#blogs-page .blogs-content .blog-item .blog-content .short-content {
    margin-top: 7.5px;
}
#blogs-page .blogs-content .blog-item .blog-content a.link-blog {
    font-size: 16px;
    padding: 12.5px 25px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: all .5s;
    line-height: 22px;
}
#blogs-page .blogs-content .blog-item .blog-content a.link-blog:hover {
    color: #000;
    background-color: #fff;
}
#blogs-detail-page .blog-detail-content .blog-views .social ul li {
    list-style: none;
    float: left;
    margin: 0 10px;
    font-size: 24px;
}


.container-comments .form-comment .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 30px;
    padding: 5px;
}
.container-comments .form-comment .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
.container-comments .form-comment .form-group textarea {
    /*resize: none;*/
    border-radius: 0;
}
.container-comments .form-comment .form-group button {
    padding: 10px 100px;
    border-radius: 0;
    background-color: #FA7468!important;
    border: 1px solid #FA7468;
    box-sizing: border-box;
}
.container-comments .list-comments ul li.comment-item .title img {
    width: 50px;
    height: 50px;
}
.container-comments .list-comments ul li.comment-item .title .name {
    font-size: 18px;
    line-height: 21px;
}
.container-comments .list-comments ul li.comment-item .title .date {
    color: #7C7C7C;
    font-size: 18px;
    line-height: 21px;
}
.container-comments .list-comments ul li.comment-item .title .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 14px;
}
.container-comments .list-comments ul li.comment-item .title .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
.container-comments .list-comments ul li.comment-item .content * {
    font-size: 18px;
    line-height: 21px;
}

/*Reponsive*/
@media only screen and (max-width: 480px) {
    header.block-header .fix-content .menu-main .block-header-logo {
        display: inline-block;
        max-width: 100%;
        flex: 100%;
    }
    header.block-header .fix-content .menu-main {
        min-height: 198px!important;
    }
    main#homepage-site {
        margin-top: -198px!important;
    }
}
@media only screen and (max-width: 768px) {
    header.block-header .fix-content .menu-main {
        min-height: 118px;
    }
    main#homepage-site {
        margin-top: -118px;
    }
    header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a {
        color: #000;
    }
    header.block-header.header-home-page .fix-content .menu-main #navbarMainMenu ul.nav li.nav-item a {
        color: #000;
    }
    header.block-header .fix-content .menu-main .menu-fixed {
        order: 2;
    }
    header.block-header.fixed .fix-content .menu-main .menu-fixed button.navbar-toggler {
        display: none!important;
    }
    header.block-header .fix-content .menu-main .menu-fixed button.navbar-toggler {
        position: absolute;
        top: -12.5px;
        right: 30%;
        z-index: 9999;
        color: #000;
    }
    header.block-header .fix-content .menu-main button.navbar-toggler.collapsed {
        color: #fff;
    }
    header.block-header .fix-content .menu-main .menu-fixed .navbar-collapse {
        background-color: #fff;
    }
    header.block-header .fix-content .menu-main .menu-fixed .navbar-collapse ul li.nav-item {
        width: 100%;
    }
    header.block-header.header-home-page .fix-content {
        background: rgba(0,0,0,.5);
    }
    header.block-header.header-home-page .fix-content .menu-main button.navbar-toggler.collapsed,
    header.block-header.header-home-page .fix-content .menu-main .menu-fixed button.navbar-toggler {
        color: #fff;
        border-color: #fff;
    }
    header.block-header .fix-content .menu-main button.navbar-toggler.collapsed {
        color: #000;
    }
    
    footer .footer-px-10 .footer-left {
        padding-left: 15px!important;
        order: 2;
    }
    footer .footer-px-10 .footer-right {
        padding-right: 15px!important;
        order: 1;
    }
    footer .footer-px-10 .footer-right .gallery {
        grid-gap: 15px;
    }
    
    .block-product .owl-carousel.owl-product .owl-nav,
    .block-blog .owl-carousel.owl-product .owl-nav {
        top: -40px;
        right: 40px;
        width: 80px;
        display: flex;
    }
    .block-product .owl-carousel.owl-product .owl-nav button,
    .block-blog .owl-carousel.owl-product .owl-nav button {
        padding: 15px 12.5px!important;
    }
    .block-product .owl-carousel.owl-product .owl-nav button.owl-prev,
    .block-blog .owl-carousel.owl-product .owl-nav button.owl-prev {
        position: relative;
        left: 0;
    }
    .block-product .owl-carousel.owl-product .owl-nav button.owl-next,
    .block-blog .owl-carousel.owl-product .owl-nav button.owl-next {
        position: relative;
        right: 0;
        margin-left: auto;
    }
    .block-product .owl-carousel.owl-product .owl-nav button::before,
    .block-blog .owl-carousel.owl-product .owl-nav button::before {
        font-size: 24px;
    }
    
    .carousel.carousel-products.slide .carousel-inner {
        margin-top: 40px;
    }
    .carousel.carousel-products.slide .carousel-control {
        top: -30px;
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
        left: 0;
    }
    .carousel.carousel-products.slide .carousel-control.carousel-control-next {
        left: 40px;
    }
    .carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
        width: 20px;
        height: 20px;
    }
    
    section#homepage-new-product .product-item.product-item-mobile-hiden {
        display: none;
    }
    
    section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item,
    section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item .image-background img {
        height: 450px;
    }
    section#homepage-ads .ads-bg .image-bg {
        height: 250px;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control {
        top: 50%;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
        left: 30px;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next {
        right: 30px;
        left: unset;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control span.carousel-control-icon,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
        width: 20px;
        height: 20px;
    }
    
    #product-detail-page .product-detail button.btn-cart-contact-product-detail,
    #product-detail-page .product-detail button.btn-cart-product-detail,
    #product-detail-page .product-detail button.btn-cart-add-product-detail {
        display: none!important;
    }
    
    #product-detail-page .product-teaser-fix.mobile {
        display: block!important;
    }
    #product-detail-page .product-teaser-fix .contain-btn-quantity,
    #product-detail-page .product-teaser-fix .contain-btn-quantity .quantity-teaser-fix.quantity {
        display: flex!important;
    }
}

.ads-banner-backend a.sub-collection {
    color: #fff;
    font-size: 20px;
}