<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ collection_list_filter_action }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ publish }}"
                       id="publish">{{ action_publish }}</a>
                    <a class="dropdown-item" href="{{ unPublish }}"
                       id="unPublish">{{ action_unpublish }}</a>
                    <a class="dropdown-item" href="{{ delete }}"
                       id="delete">{{ action_remove_rate }}</a>
                </div>
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        <th></th>
        <th scope="col">{{ text_customer_name }}</th>
        <th scope="col">{{ text_customer_name_sub }}</th>
        <th scope="col">{{ text_content }}</th>
        <th scope="col" class="text-center">{{ text_list_status }}</th>
    </tr>
    </thead>
    <tbody>
    {% if rates %}
        {% for rate in rates %}
            <tr>
                <td scope="select-this" data-id="{{ rate.rate_id }}">
                    <label class="checkbox">
                        <input type="checkbox" name="select_this" value="1">
                        <span></span>
                    </label>
                </td>
                <td width="85">
                    <div style="border: solid 1px #ddd; border-radius: 4px">
                        <img style="padding: 3px" src="{{ rate.image }}"/>
                    </div>
                </td>
                <td>
                    <a href="{{ rate.edit }}" title="{{ rate.customer_name }}">{{ rate.customer_name|length > 100 ? rate.customer_name|slice(0, 100) ~ '...' : rate.customer_name }}</a>
                </td>
                <td>
                    {{ rate.sub_info }}
                </td>
                <td>
                    {{ rate.content }}
                </td>
                <td class="text-center">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input activeStatus"
                               id="customSwitch{{ rate.rate_id }}"
                               value="{{ rate.rate_id }}"
                               {% if rate.activeStatus == 1 %}checked {% endif %}>
                        <label class="custom-control-label"
                               for="customSwitch{{ rate.rate_id }}">
                            <span class="on">{{ text_on }}</span>
                            <span class="off">{{ text_off }}</span>
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->