body {
    word-wrap: break-word;
}
.btn-light::after{
    position: absolute;
    content: url(/catalog/view/theme/food_sushisushi/images/Frame.png) !important;

}
.dropdown-toggle::after {
    display: contents !important;
}
.bootstrap-select>.dropdown-toggle {

    border-radius: 100px;
    background: #E9E9E9;
}
.btn-light {
    color: #212529;
    background-color: #E9E9E9 !important;
    border-color: transparent !important;
    border-radius: 100px !important;
}
ul.nav li.dropdown:hover ul.dropdown-menu { display: block; }
.inner .dropdown-menu { display: block !important;}
.filterOpiton {width: 265px !important;}

@media (max-width: 768px) {
    .product-item .product-img img {
        height: auto !important;
    }
    .block-header-menu .block-header-action .action-search .search-sticky {
        left: unset!important;
    }
}

@media (min-width: 769px) {
    .product-item .product-img img {
        max-height: 280px;
        width: auto;
    }
}

.block-header .block-header-action .action-cart a .count {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}
.block-header-menu .block-header-action .action-cart a .count {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}
.block-header .block-header-action .action-user .dropdown .dropdown-toggle {
    width: auto;
}
.block-pages-productdetail .block-detail .block-custom-change .form-action .quantity input {
    padding-right: 25px;
    padding-left: 25px;
    width: 100px;
}
.action-search{
    margin-left: 10px;
}
.product-item .img-fluid{
    margin: auto;
}
.form-check-inline{
    display: block;
}
.form-check-inline span{
    margin-bottom: 5px;
}
.owl-prev{
    margin-left: 20px!important;
}
.owl-next{
    margin-right: 20px!important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #000000 !important;
}
.product-item .thumb-product{
    text-align: center ;
}
.pad-top {
    padding-top: 30px;
}

/*Fix scroll broken layout on mobile*/
#sidenav .logo-menu {
    display: none;
}
.block-header .block-header-logo a img {
    max-width: 200px;
}

/*fix theme image overflow*/
.product-item .thumb-product a img {
    width: 100%;
    object-fit: scale-down;
    height: 100%;
}

/*sticky*/
.buy-now {
    display: none;
}
.buy-now {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
}
.buy-now.fixed {
    position: fixed;
    top: 72px;
    z-index: 999;
    width: 100%;
    display: block;
}
.buy-now .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-buy-now-header {
    background-color: #CA6971;
    color: white;
    outline: none;
    box-shadow: none;
    height: 38px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #EBEBEB;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    width: 100%;
    border-radius: 50px;
}

.btn-add-cart-header {
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    background: white;
}
.btn-add-cart-header:hover {
    background-color: #CA6971;
    color: white;
}

.show-on-pc {
    display: block;
}
.show-on-mobile {
    display: none !important;
}

/*img content of blog*/
.desc img {
    max-width: 100%;
}

.price-display {
    overflow: hidden;
    height: 46px;
}

.block-blog .blog-item .content .name {
    overflow: hidden;
    height: 52px;
}
.block-blog .blog-item .content .desc {
    overflow: hidden;
    height: 184px;
}

.collection .product-item .product-img img {
    height: 280px;
}

@media screen and (max-width: 815px) {
    /*sticky*/
    #buy-now {
        display: none;
    }

    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 50px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #CA6971;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
        border-radius: 50px;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }
    .buy-now-mobile .number-quantity input {
        border-radius: 50px;
        border: solid 1px #ddd;
        text-align: center;
        height: 38px;
        width: 100%;
    }

    .block-pages-productdetail .block-detail .block-custom-change .form-action .btn.btn-add-cart-mobile {
        border: solid 1px #ddd;
    }

    .block-header-menu {
        top: 31px;
    }

    .block-blog .blog-item .content .desc {
        height: unset;
    }
}

@media (max-width: 992px) {
    .block-product .owl-carousel .owl-nav button.owl-next, .block-product .owl-carousel .owl-nav button.owl-prev {
        margin: 0 !important;
        width: 44px;
        height: 44px;
    }
    .block-related .header-related .swiper-button {
        width: 44px;
        height: 44px;
        line-height: 44px;
    }
}


.block-header-menu .main-menu ul {
    display: inline-table;
}

.block-header-menu .main-menu ul li.over-item {
    margin-right: 0;
}

.block-header-menu .main-menu ul li a.over-item {
    padding: 8px 12px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    #sidenav {
        background-size: 150px !important;
        padding-top: 20px;
        overflow: auto;
    }
    #sidenav .logo-menu {
        display: block;
        margin: auto;
        max-width: 150px;
        padding-bottom: 20px;
    }
    .block-header .block-header-logo a img {
        max-width: 120px;
    }
}

@media (max-width: 320px){
    .order-bestme .table td, .order-bestme .table th {
        padding: 0.5rem!important;
    }
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.list-tag{
    height: 320px;
    overflow-y: auto;
}