{{ header }}

<div id="ega-404">
	<div class="ega-container">
		<div class="ega-row ega-flex--center ega-m-t--4 ega-m-b--4">
			<div class="ega-col-md-6 ega-col-12">
				<div class="ega-text--center ega-m-b--5">
					<span class="error404">404</span>
					<h4>Không tìm thấy trang bạn yêu cầu.</h4>
				</div>
				<h3 class='ega-h4 ega-text--center'>TÌM KIẾM SẢN PHẨM</h3>
				<form action="{{ urlserach }}" class="ega-form--inline ega-flex--center">
					<input type="hidden" name="route" value="common/shop">
					<div class="ega-form__group">
						<input class="ega-form__control ega-h--auto ega-p-l--5 ega-p-r--5" type="text" name="search" placeholder="Tìm Kiếm ...">
					</div>
					<div class="ega-form__group ega-m-l--2">
						<button class="ega-btn ega-base-color ega-m--0" type="submit">
							<svg class="ega-ic-search ega-color--white"><use xlink:href="#ega-ic-search"></use></svg>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{{ footer }}
