{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper" class="pb-3 pb-md-5">
    <nav aria-label="breadcrumb" class="">
        <div class="container">
            <ol class="breadcrumb py-3">
                <li class="breadcrumb-item"><a href="{{ home_link }}">Trang chủ</a></li>
                {% if getsearch != '' %}
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ shop_link }}">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kết quả tìm kiếm cho "{{ getsearch }}"</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                {% endif %}
            </ol>
        </div>
    </nav>

    <!-- Home Slider -->
    {% if banners.visible_banner == 1 %}
        <div class="page-slider mb-5" id="carouselBanner">
            <a href="{{ banners.url_banner }}"  target="_blank">
            <img src="{{ banners.url_image }}" class="d-block w-100" alt="{{ banners.alt }}">
            </a>
        </div>
    {% endif %}
    <!-- End: Home Slider -->

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                {% if is_on_mobile != 1 %}
                <!-- Sidebar -->
                <div class="col-lg-3 sidebar-left bestme-block-filter-1">
                    <div class="sidebar-content">
                        {% if visible_category == 1 %}
                            <div class="box-product-filter border px-4" id="product-category">
                                <h2 class="block-title">{{ visible_category_title }}</h2>
                                {% include 'default/template/common/category_list_template.twig' %}
                            </div> <!-- End product category -->
                        {% endif %}
                        {% if visible_supplier == 1 %}
                            <div class="box-product-filter border px-4" id="product-provider">
                                <h2 class="block-title">{{ visible_supplier_title }}</h2>
                                <nav class="nav flex-column scroll-custom">
                                    {% for manufacturer in manufacturers %}
                                        <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>
                                    {% endfor %}
                                </nav>
                            </div> <!-- End product provider -->
                        {% endif %}
                        {% if visible_collection == 1 %}
                            <div class="box-product-filter border px-4" id="product-provider">
                                <h2 class="block-title">{{ collection_selected_name }}</h2>
                                <nav class="nav flex-column scroll-custom">
                                    {% for collection in collections %}
                                        <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>
                                    {% endfor %}
                                </nav>
                            </div> <!-- End product provider -->
                        {% endif %}
                        {% if visible_product_price == 1 %}
                        <div class="box-product-filter border px-4" id="product-price">
                            <h2 class="block-title border-bottom">Khoảng giá</h2>
                            <div class="price-range py-2 d-flex">
                                <input type="text" maxlength="15" value="{{ price_min }}" name="min_price" class="form-control mx-auto number-format-2">
                                <span class="px-2">-</span>
                                <input type="text" maxlength="15" value="{{ price_max }}" name="max_price" class="form-control ml-auto number-format-2">
                            </div>
                            <button class="rounded-4 text-white border-0 py-1 px-3 btn-light-20 mt-2" id="btn-filter-price">Lọc</button>
                        </div> <!-- End product category -->
                        {% endif %}
                        {% if visible_tag == 1 %}
                        <div class="box-product-filter border px-4" id="product-tag">
                            <h2 class="block-title border-bottom">Tags</h2>
                            <div class="d-flex flex-wrap mt-2 scroll-custom">
                                {% for tag in tags %}
                                        <a href="{{ tag.url }}" class="tag-item btn btn-default p-1 mr-1 {{ filter_nametag == tag.tag_id ? 'active' : '' }}">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div> <!-- End product tags -->
                        {% endif %}

                    </div> <!-- End sidebar content -->
                </div>
                <!-- End: Sidebar -->
                {% endif %}

                <!-- Product Listing -->
                <div class="col-lg-9 product-listing">
                    <h1 class="d-flex mb-3 row">
                        <div class="col-md-7">
                            <span class="fw-700 fz-24 text-uppercase m-text">Tất cả sản phẩm</span>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="input-group fz-14 fw-400 row">
                                    {% if is_on_mobile == 1 %}
                                    <div class="col-8 col-md-12">
                                        {% endif %}
                                        <label class="input-group-addon align-self-center ">Sắp xếp: </label> &nbsp;&nbsp;
                                        <select class="form-control filterOpiton d-inline-block d-md-block" name="filterOpiton">
                                            <option value="{{ urlsortProduct }}">Mới nhất</option>
                                            <option value="{{ urlsortProduct }}&valueoptiton=1" {{ valueoptiton == 1 ? 'selected': '' }}>Theo tên: A-Z</option>
                                            <option value="{{ urlsortProduct }}&valueoptiton=2" {{ valueoptiton == 2 ? 'selected': '' }}>Theo tên: Z-A</option>
                                            <option value="{{ urlsortProduct }}&valueoptiton=3" {{ valueoptiton == 3 ? 'selected': '' }}>Theo giá: Từ cao đến thấp</option>
                                            <option value="{{ urlsortProduct }}&valueoptiton=4" {{ valueoptiton == 4 ? 'selected': '' }}>Theo giá: Từ thấp đến cao</option>
                                        </select>
                                        {% if is_on_mobile == 1 %}
                                    </div>
                                    {% endif %}

                                    {% if is_on_mobile == 1 %}
                                        <div class="col-4 col-md-12 text-right">
                                            <label class="input-group-addon align-self-center ">Bộ lọc: </label>
                                            <svg width="2.1em" height="36px" viewBox="0 0 16 16" class="bi bi-funnel show-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="collapse" data-target="#navbarFilter" aria-controls="navbarFilter" aria-expanded="false" aria-label="Toggle navigation">
                                                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                                            </svg>

                                            <div class="collapse navbar-collapse" id="navbarFilter">
    {#                                        <div class="collapse navbar-collapse" id="navbarMainMenu">#}
                                                <i class="fas fa-times-circle close d-lg-none"></i>
                                                <div class="sidebar-content">
                                                    {% if visible_category == 1 %}
                                                        <div class="box-product-filter border px-4" id="product-category">
                                                            <h2 class="block-title">{{ visible_category_title }}</h2>
                                                            {% include 'default/template/common/category_list_on_mobile_template.twig' %}
                                                        </div> <!-- End product category -->
                                                    {% endif %}
                                                    {% if visible_supplier == 1 %}
                                                        <div class="box-product-filter border px-4" id="product-provider">
                                                            <h2 class="block-title">{{ visible_supplier_title }}</h2>
                                                            <nav class="nav flex-column scroll-custom">
                                                                {% for manufacturer in manufacturers %}
                                                                    <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>
                                                                {% endfor %}
                                                            </nav>
                                                        </div> <!-- End product provider -->
                                                    {% endif %}
                                                    {% if visible_collection == 1 %}
                                                        <div class="box-product-filter border px-4" id="product-provider">
                                                            <h2 class="block-title">{{ collection_selected_name }}</h2>
                                                            <nav class="nav flex-column scroll-custom">
                                                                {% for collection in collections %}
                                                                    <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>
                                                                {% endfor %}
                                                            </nav>
                                                        </div> <!-- End product provider -->
                                                    {% endif %}
                                                    {% if visible_product_price == 1 %}
                                                        <div class="box-product-filter border px-4" id="product-price">
                                                            <h2 class="block-title border-bottom">Khoảng giá</h2>
                                                            <div class="price-range py-2 d-flex">
                                                                <input type="text" maxlength="15" value="{{ price_min }}" name="min_price" class="form-control mx-auto number-format-2">
                                                                <span class="px-2">-</span>
                                                                <input type="text" maxlength="15" value="{{ price_max }}" name="max_price" class="form-control ml-auto number-format-2">
                                                            </div>
                                                            <button class="rounded-4 text-white border-0 py-1 px-3 btn-light-20 mt-2" id="btn-filter-price">Lọc</button>
                                                        </div> <!-- End product category -->
                                                    {% endif %}
                                                    {% if visible_tag == 1 %}
                                                        <div class="box-product-filter border px-4" id="product-tag">
                                                            <h2 class="block-title border-bottom">Tags</h2>
                                                            <div class="d-flex flex-wrap mt-2 scroll-custom">
                                                                {% for tag in tags %}
                                                                    <a href="{{ tag.url }}" class="tag-item btn btn-default p-1 mr-1 {{ filter_nametag == tag.tag_id ? 'active' : '' }}">{{ tag.name }}</a>
                                                                {% endfor %}
                                                            </div>
                                                        </div> <!-- End product tags -->
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </h1>
                    {% if price_min or price_max %}
                        <div class="filter-items d-flex flex-wrap mb-3">
                            <span class="py-1 mr-2">Tiêu chí lọc: </span>
                            <div class="filter-item">
                                <span class="text">Giá {{ price_min|number_format(0, ',', '.') }} {{ currency }}  - {{ price_max|number_format(0, ',', '.') }} {{ currency }}</span>
                                <a class="close" href="#" id="remove-filter-price">x</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row pt-3">
                        {% if products|length == 0 %}
                            <div class="w-100 text-center">
                                <p class="font-italic">{{ text_no_products }}</p>
                            </div>
                        {% endif %}
                        {% for product in products %}
                        <div class="col-sm-6 col-lg-4 px-2 mb-3">
                            <div class="pro-item">
                                <div class="pro-thumb position-relative">
                                    <img src="{{ product.thumb }}" height="500" width="200" alt="">
                                    <div class="pro-list-type top">
                                        {% if product['is_new_product'] %}
                                            <span class="left">Mới</span>
                                        {% endif %}
                                        {% if product.Percent_protduct != 0 %}
                                            <span class="right">{{ product.Percent_protduct }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="pro-list-type bottom">
                                        {% if product['product_is_stock'] == false %}
                                            <span class="left">Tạm hết hàng</span>
                                        {% endif %}
                                        {% if product['is_best_sale_product'] %}
                                            <span class="right">HOT</span>
                                        {% endif %}
                                    </div>
                                    <!-- Pro Overlay -->
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <a href="{% if product['product_is_stock'] == false %} javascripr:; {% else %} {{ product.href }} {% endif %}"  class="btn  text-uppercase text-white fw-400 py-2 px-3 mb-2 {% if product['product_is_stock'] == false %} btn-secondary {% else %} bg-primary  hover-btn-primary {% endif %} ">Thêm vào giỏ</a> {# add class: buy-now to show popup#}
                                        <a href="#" class="view-now btn bg-white border-white text-uppercase text-black fw-400 py-2 px-3 d-none">yêu thích</a>
                                    </div>
                                    <!-- EnD: Pro Overlay -->
                                </div>
                                <!-- Star Rate -->
                                <div class="wrap-star-rate px-3 text-center mt-3 d-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End: Star Rate -->
                                <div class="pro-info text-center px-3">
                                    <a href="{{ product.href }}" title="{{ product.name }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    <div class="pro-price my-2">
                                        {% if product.is_contact_for_price %}
                                            <span class="new-price">
                                                {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product.multi_versions == 1 %}
                                                {% if product.price_version_check_null !=0 %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product.price_version_min | replace({'VND': 'đ'}) }}
                                                        {% if product.price_version_min != product.price_version_max %}
                                                            ~ {{ product.price_version_max | replace({'VND': 'đ'}) }}
                                                        {% endif %}
                                                    </span>
                                                    <span class="old-price text-info fz-16">
                                                        {{ product.compare_version_min | replace({'VND': 'đ'}) }}
                                                        {% if product.compare_version_min != product.compare_version_max %}
                                                            ~ {{ product.compare_version_max | replace({'VND': 'đ'}) }}
                                                        {% endif %}
                                                    </span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                    {% if product.compare_version_min|number_format == 0 %}
                                                        {{ contact }}
                                                    {% else %}
                                                        {{ product.compare_version_min | replace({'VND': 'đ'}) }}
                                                    {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% else %}
                                                {% if product.price == 0 %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product.compare_price | replace({'VND': 'đ'}) }}
                                                    </span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product.price | replace({'VND': 'đ'}) }}
                                                    </span>
                                                    <span class="old-price text-info fz-16">
                                                        {{ product.compare_price | replace({'VND': 'đ'}) }}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="add-tp-cart">
                                        <a id="add-cart" href="{{ product.href }}" class="{% if product['product_is_stock'] == false %} disabled {% endif %} btn btn-primary text-white fw-400 rounded-0 py-1 text-uppercase">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Paginate -->
                    {{ pagination }}
                    <!-- End: Paginate -->
                </div>
                <!-- End: Product Listing -->
            </div>
            <!-- End: Main Content -->
        </div>
    </div>
</main>

<!-- Modal Product -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-zoom modal-lg modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 modal-thumb">
                        <img src="img/sp6-big.png" alt="">
                    </div>
                    <div class="col-md-6 modal-info">
                        <h3 class="text-black-50 fz-16 fw-600 mt-3">BỘ BÁT HỒNG CUTE (10 CHIẾC)</h3>
                        <div class="pro-price mb-2">
                            <span class="new-price text-primary fw-600 fz-18 mr-2">120.000 VND</span>
                            <span class="old-price text-info fw-600 fz-14">150.000 VND</span>
                        </div>
                        <p class="fw-300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                        <div class="form-group">
                            <label for="pro-size" class="fw-600 text-black-50">Kích cỡ</label>
                            <input type="text" class="form-control rounded-0 border border-light bg-white" id="pro-size" value="S" readonly>
                        </div>
                        <div class="form-group">
                            <label for="pro-color" class="fw-600 text-black-50">Màu</label>
                            <input type="text" class="form-control rounded-0 border border-light bg-white" id="pro-color" value="Hồng" readonly>
                        </div>
                        <ul class="pro-action list-inline">
                            <li class="list-inline-item">
                                <div class="buy-total">
                                    <input class="custom-number-input border border-light mx-2 px-2 py-1 text-black-50 text-center fw-600 fz-14" type="number" name="quantity[]" value="1" min="1">
                                </div><!-- /.buy-total -->
                            </li>
                            <li class="list-inline-item">
                                <a href="#" id="add-to-cart" class="py-1 px-2 btn-primary text-white">Thêm vào giỏ</a>
                            </li>
                            <li class="list-inline-item float-right">
                                <ul class="list-inline mt-1 mb-0 follow">
                                    <li class="list-inline-item text-black-50 fw-600 mr-3">Chia sẻ:</li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-black-50 fz-18"><i class="fab fa-google"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-black-50 fz-18"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-black-50 fz-18"><i class="fab fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal Product -->
<div class="bestme_app_after_product">

</div>
<div class="bestme_app_before_footer">

</div>
<script>

    $(function() {
        // bind change event to select
        $('.filterOpiton').on('change', function() {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
    });

    $('#btn-filter-price').on('click', function(){
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');
        // console.log(ui.values[1]);
        var min = $('input[name="min_price"]').val();
        min = min.replace(/,/g, '');
        min = min.replace(/\./g, '');
        var max = $('input[name="max_price"]').val();
        max = max.replace(/,/g, '');
        max = max.replace(/\./g, '');
        if (min != 0) {
            url += '&min=' + min;
        }
        if (max != 0) {
            url += '&max=' + max;
        }
        window.location.replace(url);
    });

    $('#remove-filter-price').on('click', function (e){
        e.preventDefault();
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');
        window.location.replace(url);
    });

    /// Number format
    $('input.number-format-2').each(function(){
        var val = $(this).val();
        if (val !== ''){
            val = Number(val.replace(/(?!-)[^0-9]/g, ""));
            $(this).val(number_format(val, 0, ',', '.'));
        }
    });

    $(document).on('input', 'input.number-format-2', function(e){
        var val = $(this).val();
        if (val !== ''){
            val = Number(val.replace(/(?!-)[^0-9]/g, ""));
            $(this).val(number_format(val, 0, ',', '.'));
        }
    });

    function number_format(number, decimals, dec_point, thousands_sep) {
        decimals = parseFloat(decimals);
        var n = number, c = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals;
        var d = dec_point == undefined ? "," : dec_point;
        var t = thousands_sep == undefined ? "." : thousands_sep, s = n < 0 ? "-" : "";
        var i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    }
</script>
<!-- block-footer -->
{{ footer }}
<!-- /.block-footer -->
