{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content" style="padding-top: 77px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">{{ heading_title }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ text_add_product }}</li>
                    </ol>
                </nav>

                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ entry_uploaded_products_list }}
                    </h1>
                    <a class="advance-link btn float-right" id="uploadProduct">{{ text_reupload }}</a>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="" href="{{ not_enough_info }}">{{ entry_not_enough_information }}</a>
                            <a class="" href="{{ ready_for_upload }}">{{ entry_ready_upload }}</a>
                            <a class="active" href="{{ upload_failed }}">{{ entry_upload_failure }}</a>
                            <a class="" href="{{ upload_successfully }}">{{ entry_upload_success }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <form class="filter-form order-filter clearfix product-form-validate"
                                  action="{{ action_search }}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="select-shops" class="col-sm-4 col-form-label font-14 font-weight-normal">{{ text_current_stand }}</label>
                                            <div class="col-sm-8 select-shop-custom">
                                                <select name="shop_selected" class="form-control select2" id="select-shops">
                                                    {% if shops %}
                                                        {% for key,shop in shops %}
                                                            <option value="{{ shop.shop_id }}" data-href="{{ shop.url }}"
                                                                    {{ shop_selected == shop.shop_id ? 'selected' : '' }}>
                                                                {{ shop.shop_name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                                <i class="fa fa-caret-down down-icon"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group search-group">
                                            <div class="input-group-icon w-100">
                                                <i class="icon icon-search"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ placeholder_search }}">
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End row -->
                                <div class="filter-item"></div>
                            </form> <!-- End form filter -->
                            <div id="product-content" class="not-choose-product-list">
                                {% include 'sale_channel/shopee_upload/upload_failed/index_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 text-secondary">
                    <p class="mb-2 font-14">{{ text_guideline_step_1 }}</p>
                    <p class="mb-2 font-14">{{ text_guideline_step_2 }}</p>
                    <p class="mb-2 font-14">{{ text_guideline_step_3 }}</p>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
        {% include 'sale_channel/shopee_upload/categories_popup.twig' %}

        {# Sua gia sp #}
        <div class="modal fade" id="edit-price" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ edit_price }}" method="POST" id="formEditPrice">
                        <div class="modal-header">
                            <h4 class="modal-title font-16 text-center">{{ entry_update_price }}</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="priceP" class="col-sm-3 col-form-label">{{ entry_new_price }}</label>
                                <div class="col-sm-9">
                                    <input type="text" id="priceP" class="form-control number-format-4 text-right" value="" name="price" placeholder="{{ placeholder_price_1 }}">
                                    <span class="position-absolute" style="top: 7px;left: 25px;font-size: 16px;">&#8363;</span>
                                </div>
                                <input type="hidden" value="" name="product_id">
                                <input type="hidden" value="2" name="status">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default confirm-cancel-edit"
                                    data-dismiss="modal">{{ button_close }}</button>
                            <button type="submit" class="btn btn-pink">{{ button_save }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# Sua gia phien ban #}
        <div class="modal fade" id="edit-price-version" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <form action="{{ edit_price_version }}" method="POST" id="formEditVersionPrice">
                        <div class="modal-header">
                            <h4 class="modal-title font-16 text-center">{{ entry_update_price }}</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" value="" name="product_id">
                                <input type="hidden" value="2" name="status">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4"><p class="font-16 font-weight-500">{{ entry_version }}</p></div>
                                    <div class="col-md-8"><p class="font-16 font-weight-500"{{ entry_popup_price }}</p></div>
                                </div>

                                <div id="data-product-version-price">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close-modal confirm-cancel-edit"
                                    data-dismiss="modal">{{ button_close }}</button>
                            <button type="submit" class="btn btn-pink">{{ button_save }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# Sua so luong sp #}
        <div class="modal fade" id="edit-stock" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ edit_stock }}" method="POST" id="formEditStock">
                        <div class="modal-header">
                            <h4 class="modal-title font-16 text-center">{{ entry_update_quantity }}</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="stockP" class="col-sm-3 col-form-label">{{ entry_new_quantity }}</label>
                                <div class="col-sm-9">
                                    <input type="text" id=stockP" class="form-control number-format-4 text-right" value="" name="stock" placeholder="{{ placeholder_quantity }}">
                                </div>
                                <input type="hidden" value="" name="product_id">
                                <input type="hidden" value="2" name="status">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default confirm-cancel-edit"
                                    data-dismiss="modal">{{ button_close }}</button>
                            <button type="submit" class="btn btn-pink">{{ button_save }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# Sua so luong phien ban #}
        <div class="modal fade" id="edit-stock-version" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <form action="{{ edit_stock_version }}" method="POST" id="formEditVersionStock">
                        <div class="modal-header">
                            <h4 class="modal-title font-16">{{ entry_update_quantity }}</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" value="" name="product_id">
                                <input type="hidden" value="2" name="status">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4"><p class="font-16 font-weight-500">{{ entry_version }}</p></div>
                                    <div class="col-md-8"><p class="font-16 font-weight-500">{{ entry_popup_quantity }}</p></div>
                                </div>

                                <div id="data-product-version-stock">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close-modal confirm-cancel-edit"
                                    data-dismiss="modal">{{ button_close }}</button>
                            <button type="submit" class="btn btn-pink">{{ button_save }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var total_product = '{{ total_product }}';

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });

    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;

        $('#product-content #checked-number').hide();
        $('#product-content #checked-number .text').empty();
        if (_length) {
            $('#product-content #checked-number').show();
            $('#product-content #checked-number .number-checked').text('{{ text_selected_count_product_in_this_site }}'.replace('{length}', _length));

            $('#product-content #checked-number .chose-all-product').text('{{ text_selected_count_product }}'.replace('{total}', total_product));
            $('#product-content #checked-number .chose-all-product').addClass('all');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        });

        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }
</script>

{% include 'sale_channel/shopee_upload/upload_to_shopee.twig' %}

<script type="text/javascript">
    $(document).on('click', '.chose-all-product', function () {
       if ($(this).hasClass('all')) {
           if ($('[scope="check-all"] input[name="select_all"]').is(":checked")) {
           } else {
               $('[scope="check-all"] input[name="select_all"]').click();
           }

           $('#product-content #checked-number .chose-all-product').text('{{ text_unselect_all }}');
           $('#product-content #checked-number .chose-all-product').removeClass('all');

           $('#product-content .content-table input[name="selected"]').val('all');
       } else {
           $('#product-content #checked-number .chose-all-product').text('{{ text_selected_count_product }}'.replace('{total}', total_product));
           $('#product-content #checked-number .chose-all-product').addClass('all');

           $('#product-content .content-table input[name="selected"]').val('');
           $('[scope="check-all"] input[name="select_all"]').click();
       }
   });


    $(document).on('click', '.edit-price-product', function () {
        let product_id = $(this).data('id');
        let price = $(this).data('price');
        price = number_format(price, 0, ',', ',');
        $('#edit-price').modal('show');
        $("#formEditPrice input[name='product_id']").val(product_id);
        $("#formEditPrice input[name='price']").val(price);
    });

    $(document).on('click', '.edit-stock-product', function () {
        let product_id = $(this).data('id');
        let stock = $(this).data('stock');
        stock = number_format(stock, 0, ',', ',');
        $('#edit-stock').modal('show');
        $("#formEditStock input[name='product_id']").val(product_id);
        $("#formEditStock input[name='stock']").val(stock);
    });

    $(document).on('click', '.edit-price-product-version', function () {
        let product_id = $(this).data('id');
        $('#edit-price-version').modal('show');
        $("#formEditVersionPrice input[name='product_id']").val(product_id);

        $.ajax({
            url: "index.php?route=sale_channel/shopee_upload/getProductVersionById&user_token={{ user_token }}",
            method: 'GET',
            data: {
                product_id: product_id,
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                if(json.results && Array.isArray(json.results) && json.results.length > 0) {
                    let html = "";
                    json.results.forEach(function (item) {
                        html += '<div class="row mb-3 new-attribute">\n' +
                            '       <div class="col-md-4 m-auto\">'+ item.version_name +'</div>\n' +
                            '          <div class="col-md-8">\n' +
                            '             <input type="text" name="price_version[]" value="'+ item.version_price +'" class="form-control number-format-4 text-right" placeholder="{{ placeholder_price_1 }}">\n' +
                            '             <span class="position-absolute" style="top: 7px;left: 25px;font-size: 16px;">&#8363;</span>\n'+
                            '             <input type="hidden" name="product_version_id[]" value="'+ item.version_id +'">\n' +
                            '          </div>\n' +
                            '    </div>';
                    });

                    $('#data-product-version-price').html(html);

                    var validator = $('#formEditVersionPrice').data('bootstrapValidator');
                    validator.addField($('.new-attribute input[name="price_version[]"]'));
                }
            }
        });
    });

    $(document).on('click', '.edit-stock-product-version', function () {
        let product_id = $(this).data('id');
        $('#edit-stock-version').modal('show');
        $("#formEditVersionStock input[name='product_id']").val(product_id);

        $.ajax({
            url: "index.php?route=sale_channel/shopee_upload/getProductVersionById&user_token={{ user_token }}",
            method: 'GET',
            data: {
                product_id: product_id,
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                if(json.results && Array.isArray(json.results) && json.results.length > 0) {
                    let html = "";
                    json.results.forEach(function (item) {
                        html += '<div class="row mb-3 new-attribute">\n' +
                            '       <div class="col-md-4 m-auto\">'+ item.version_name +'</div>\n' +
                            '          <div class="col-md-8">\n' +
                            '             <input type="text" name="stock_version[]" value="'+ item.version_stock +'" class="form-control number-format-4 text-right" placeholder="{{ placeholder_quantity }}">\n' +
                            '             <input type="hidden" name="product_version_id[]" value="'+ item.version_id +'">\n' +
                            '          </div>\n' +
                            '    </div>';
                    });

                    $('#data-product-version-stock').html(html);

                    var validator = $('#formEditVersionStock').data('bootstrapValidator');
                    validator.addField($('.new-attribute input[name="stock_version[]"]'));
                }
            }
        });
    });

    $('#formEditPrice').bootstrapValidator({
        fields: {
            price: {
                trigger: 'change keyup',
                validators: {
                    callback: {
                        message: '{{ error_price_between }}',
                        callback: function () {
                            let new_price = $('#edit-price input[name="price"]').val();
                            new_price = parseFloatWithDefaultValue(new_price);

                            if(1000 > new_price || new_price > 120000000) {
                                return false;
                            }

                            return true;
                        }
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });

    $('#formEditVersionPrice').bootstrapValidator({
        fields: {
            'price_version[]': {
                trigger: 'change keyup',
                validators: {
                    callback: {
                        message: '{{ error_price_between }}',
                        callback: function (value_raw, validator, $field) {
                            let price_input = parseFloatWithDefaultValue(value_raw);

                            if(1000 > price_input || price_input > 120000000) {
                                return false;
                            }

                            return true;
                        }
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });

    $('#formEditStock').bootstrapValidator({
        fields: {
            stock: {
                trigger: 'change keyup',
                validators: {
                    callback: {
                        message: '{{ error_quantity_between }}',
                        callback: function () {
                            let new_stock = $('#edit-stock input[name="stock"]').val();
                            new_stock = parseFloatWithDefaultValue(new_stock);

                            if(1 > new_stock || new_stock > 999998) {
                                return false;
                            }

                            return true;
                        }
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });

    $('#formEditVersionStock').bootstrapValidator({
        fields: {
            'stock_version[]': {
                trigger: 'change keyup',
                validators: {
                    callback: {
                        message: '{{ error_quantity_between }}',
                        callback: function (value_raw, validator, $field) {
                            let stock_input = parseFloatWithDefaultValue(value_raw);

                            if(1 > stock_input || stock_input > 999998) {
                                return false;
                            }

                            return true;
                        }
                    }
                }
            }
        }
    }).on('status.field.bv', function (e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });

    $(document).on('click', '.edit-brand-product', function () {
        let product_id = $(this).data('product-id');
        let currentCategoryId = $(this).data('category-id');
        showCategoryPopup(function (categoryId, text) {
            // create hidden form
            var url = '{{ map_brand|raw }}'.replace('&amp;', '&');
            var form = '' +
                '<form hidden' +
                '   action="' + url + '" ' +
                '   method="post" ' +
                '   id="form-update-brand">' +
                '   <input type="text" name="product_id" value="' + product_id + '">' +
                '   <input type="text" name="category_id" value="' + categoryId + '">' +
                '   <input type="text" name="status" value="2">' +
                '</form>';
            $('body').append(form);

            confirmBox('{{ text_confirm_update_property }}', function (result) {
                if (result) {
                    // submit form
                    $('#form-update-brand').submit();
                }
            });
        }, currentCategoryId)
    });

    $(document).on('click', '#delete', function () {
        let selected = $('#product-content input[name="selected"]').val();
        if (selected === '') {
            return false;
        }

        if (selected !== 'all') {
            selected = JSON.parse(selected);
            selected = selected.join(',');
        }

        let url = $(this).data('href') + '&product_ids=' + selected + '&status=0';

        confirmBox('{{ text_confirm_delete_product }}', function (result) {
            if (result) {
                window.location.href = url;
            }
        });
    });

    $(document).on('click', '#uploadProduct', function () {
        let selected = $('#product-content input[name="selected"]').val();
        if (selected === '' || selected === '[]') {
            alert('{{ warning_select_at_least_1_product }}');
            return false;
        }

        $('#select-store').modal('show');

    });

    $(document).on('click', '.confirm-cancel-edit', function () {
        $("#formEditPrice input[name='price']").val('');
        $("#formEditPrice input[name='product_id']").val('');

        $("#formEditStock input[name='price']").val('');
        $("#formEditStock input[name='product_id']").val('');

        $("#formEditPrice").data('bootstrapValidator').resetForm();
        $("#formEditStock").data('bootstrapValidator').resetForm();

        $("#formEditVersionPrice").data('bootstrapValidator').resetForm();
        $("#formEditVersionPrice input[name='product_id']").val('');
        $("#data-product-version-price").html('');

        $("#formEditVersionStock").data('bootstrapValidator').resetForm();
        $("#formEditVersionStock input[name='product_id']").val('');
        $("#data-product-version-stock").html('');
    });

    $('#select-shops').on('select2:select', function(e) {
        var href = $("#select-shops").find(":selected").data("href");

        location.href = href;
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        let value_input_selected = $('#product-content input[name="selected"]').val();
        let is_select_all = (value_input_selected === 'all') ? true : false;
        let filter_name = $('#filter_name').val();
        var shop_selected = $('#select-shops').val();

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                shop_selected: shop_selected,
                status_tab: 2,
                page: page,
                select_all: is_select_all,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }
</script>

<style>
    .product-list td {
        font-size: 14px;
        padding: 1rem;
    }
    .product-list .dropdown-divider {
        margin: 0;
    }

    .product-select .select2-results__options{
        height: 220px;
        overflow: scroll;
    }
    .product-select .select2-selection__choice {
        display: none;
    }
    .box-content .table th[scope="check-all"] .dropdown.has-selected {
        background: #fff;
    }
    .box-content .table th[scope="check-all"] .dropdown.has-selected {
        top: 64px;
    }
    .table.table-with-operation.has-selected {
        margin-top: 8px;
    }
    .product-name {
        width: 220px;
        display: inline-block;
    }
    .product-sku {
        width: 120px;
        display: inline-block;
    }
    small.help-block {
        font-size: 12px;
    }

    .showModalEditPrice .dropdown-menu.show {
        width: 245px;
        margin-top: 8px;
    }
    .select-shop-custom .down-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        opacity: 0.5;
    }
    #data-product-version-price {
        height: 300px;
        max-height: 300px;
        overflow: scroll;
        overflow-x: hidden;
    }

    #data-product-version-stock {
        height: 300px;
        max-height: 300px;
        overflow: scroll;
        overflow-x: hidden;
    }
</style>
{{ footer }}