<table class="table table-with-operation product-list">
    <thead class="font-16">

    <tr id="checked-number" class="mb-3" style="display: none;">
        <td colspan="8" class="text-center border-bottom-0" style="background: #F1F4F6;">
            <span class="text text-black-50 number-checked"></span>
            <a class="chose-all-product ml-4" href="javascript:void(0);"></a>
        </td>
    </tr>

    <tr class="content-table">
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all=""
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                {#<span class="text text-black-50"></span>#}
                {#<a class="dropdown-toggle" href="#" id="dropdownOperationTable"#}
                   {#data-toggle="dropdown" aria-haspopup="true"#}
                   {#aria-expanded="false">Chọn thao tác</a>#}
                {#<div class="dropdown-menu" aria-labelledby="dropdownOperationTable">#}
                    {#<a class="dropdown-item" href="javascript:void(0);"#}
                       {#id="delete" data-href="{{ delete }}">Xóa sản phẩm</a>#}
                {#</div>#}
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        <th scope="col">{{ entry_sku }}</th>
        <th scope="col">{{ entry_product_category }}</th>
        <th scope="col">{{ entry_product_name }}</th>
        <th scope="col" class="text-right">{{ entry_price_1 }}</th>
        <th scope="col" class="text-right">{{ entry_quantity }}</th>
    </tr>

    </thead>
    <tbody class="font-14">
    {% if products %}
        {% for k, product in products %}
            <tr>
                <td scope="select-this" data-id="{{ product['shopee_upload_product_id'] }}">
                    <label class="checkbox">
                        <input type="checkbox" name="select_this" value="{{ product['shopee_upload_product_id'] }}">
                        <span></span>
                    </label>
                </td>
                <td> <span class="text-truncate product-sku">{{ product['sku'] }}</span></td>
                <td><a href="javascript:void(0);" class="edit-brand-product"
                       data-category-id="{{ product['category_id'] }}" data-product-id="{{ product['shopee_upload_product_id'] }}"
                            {% if product['in_process'] == 1 %} style="pointer-events: none;" {% endif %}><i class="icon icon-edit-2 mr-2 font-14 bg-pink"></i></a>
                    <span class="text-truncate product-name" title="{{ product['full_category'] }}">{{ product['full_category'] }}</span>
                    <br>
                    {% if product['error_msg'] != 'Update item image success' %}
                        <p class="text-danger text-truncate product-name mb-0 font-12" title="{{ product['error_msg'] }}">{{ product['error_msg'] }}</p>
                    {% endif %}
                    {% if product['in_process'] == 1 %}
                        <p style="color: #ED592A;" class="mb-0 font-12">{{ text_process_of_posting }}</p>
                    {% endif %}
                </td>
                <td><a class="text-truncate product-name" title="{{ product['name'] }}" href="{{ product['edit'] }}">{{ product['name'] }}</a></td>
                {% if product.version|length > 0 %}
                    {% set min_version_price = product.version['min_version_price'] %}
                    {% set max_version_price = product.version['max_version_price'] %}
                    {% set total_version_stock = product.version['total_version_stock'] %}
                    <td class="text-right">
                        &#8363; <span>{{ min_version_price|number_format }}
                        {% if max_version_price != 0 and max_version_price != min_version_price %}
                            ~ &#8363; {{ max_version_price|number_format }}
                        {% endif %}
                        </span>
                        <a class="edit-price-product-version" data-id="{{ product['shopee_upload_product_id'] }}" {% if product['in_process'] == 1 %} style="pointer-events: none;" {% endif %}>
                            &nbsp;<i class="icon icon-edit-2 font-14 bg-pink"></i>
                        </a>
                    </td>
                    <td class="text-right"><span>{{ total_version_stock|number_format }}</span>
                        <a class="edit-stock-product-version" data-id="{{ product['shopee_upload_product_id'] }}" {% if product['in_process'] == 1 %} style="pointer-events: none;" {% endif %}>
                            &nbsp;<i class="icon icon-edit-2 font-14 bg-pink"></i></a>
                    </td>
                {% else %}
                    <td class="text-right">
                        &#8363; <span>{{ product['price']|number_format }}</span>
                        <a class="edit-price-product" data-id="{{ product['shopee_upload_product_id'] }}" data-price="{{ product['price'] }}" {% if product['in_process'] == 1 %} style="pointer-events: none;" {% endif %}>
                            &nbsp;<i class="icon icon-edit-2 font-14 bg-pink"></i>
                        </a>

                    </td>
                    <td class="text-right"><span>{{ product['stock']|number_format }}</span>
                        <a class="edit-stock-product" data-id="{{ product['shopee_upload_product_id'] }}" data-stock="{{ product['stock'] }}" {% if product['in_process'] == 1 %} style="pointer-events: none;" {% endif %}>
                            &nbsp;<i class="icon icon-edit-2 font-14 bg-pink"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->

<script type="text/javascript">
    var total_product = '{{ total_product }}';

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });

    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;

        $('#product-content #checked-number').hide();
        $('#product-content #checked-number .text').empty();
        if (_length) {
            $('#product-content #checked-number').show();
            $('#product-content #checked-number .number-checked').text('{{ text_selected_count_product_in_this_site }}'.replace('{length}', _length));

            $('#product-content #checked-number .chose-all-product').text('{{ text_selected_count_product }}'.replace('{total}', total_product));
            $('#product-content #checked-number .chose-all-product').addClass('all');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        });

        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    {% if selected_all == 'true' %}
        $('[scope="check-all"] input[name="select_all"]').click();
        $('[scope="check-all"] input[name="selected"]').val('all');

        $('#product-content #checked-number .chose-all-product').text('{{ text_unselect_all }}');
        $('#product-content #checked-number .chose-all-product').removeClass('all');
    {% endif %}
</script>