{{ header }}

<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ home }}">Trang chủ</a></li>
            <li class="ega-menu__item">Liên hệ</li>
        </ul>
    </div>
</section>

<div id="ega-contact" class="ega-p-b--4">
    <div class="ega-container">
        <div class="box-map bestme-block-contact-map">
            {{ contacts_map.address|html_entity_decode }} 
        </div>
        <div class="ega-row">
            <div class="ega-col-md-6 ega-col-12">
                <h2 class="ega-h4">{{ contacts_email.title }}</h2>
                
                {% if error_warning %}
                    <div class="ega-alert ega-alert--danger">
                        {{ error_warning }}
                    </div>
                {% endif %}
                {% if success %}
                    <div class="ega-alert ega-alert--success">
                        {{ success }}
                    </div>
                {% endif %}
                
                <form accept-charset='UTF-8' action='{{ href_submit_form }}' class='contact-form bestme-block-contact-form' method='post'>
                    <input name='form_type' type='hidden' value='contact'>
                    <input name='utf8' type='hidden' value='✓'>
                    <div class="ega-form__group">
                        <input type="text" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')" class="ega-form__control ega-required" name="fullname" placeholder="Tên của bạn (*)" />
                        <div class="ega-form__mess" style="">Bạn chưa nhập thông tin này!</div>
                    </div>
                    <div class="ega-form__group">
                        <input type="text" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                               pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15" class="ega-form__control ega-required" name="phone" placeholder="Số điện thoại của bạn (*)" />
                        <div class="ega-form__mess" style="">Số điện thoại không đúng định dạng!</div>
                    </div>
                    <div class="ega-form__group">
                        <input type="email" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="ega-form__control ega-required" name="email" placeholder="Email của bạn (*)" />
                        <div class="ega-form__mess" style="">Email không đúng định dạng!</div>
                    </div>
                    <div class="ega-form__group">
                        <textarea required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')" class="ega-form__control ega-required" name="your_mind" rows="5" placeholder="Nội dung (*)"></textarea>
                        <div class="ega-form__mess" style="">Bạn chưa nhập thông tin này!</div>
                    </div>
                    <button id="contact-submit" type="submit" class="ega-btn ega-base-color ega-m--0">GỬI LIÊN HỆ</button>
                </form>    
            </div>
            <div class="ega-col-md-6 ega-col-12">
                {#
                <h2 class="ega-h4">CHÚNG TÔI Ở ĐÂY</h2>
                <ul class="ega-ul bestme-block-contact-contact">
                    <li>{{ contacts_info.address }}</li>
                    <li><svg class="ega-ic-phone">
                            <use xlink:href="#ega-ic-phone"></use>
                        </svg> <a class="ega-base-color__text" href="tel:{{ contacts_info.phone }}">{{ contacts_info.phone }}</a></li>
                    <li><svg class="ega-ic-envelope">
                            <use xlink:href="#ega-ic-envelope"></use>
                        </svg> <a class="ega-base-color__text" href="mailto:{{ contacts_info.email }}">{{ contacts_info.email }}</a></li>
                </ul>
                /#}
            </div>
        </div>
    </div>
</div>

{{ footer }}