<!DOCTYPE html>
<html lang="vi">
<body>
<div class="page-wrapper">
    {{ custom_header }}
    <!-- End header -->
    <div class="content-wrapper row m-0">
        {{custom_column_left}}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="box-content">
                    <div class="page-header">
                        <div class="container-fluid d-flex justify-content-between">
                            <div class="app-logo">
                                <img src="{{ app_logo }}">
                                <span>{{ heading_title }}</span>
                            </div>
                            <div class="link-to-app">
                                <a href="{{ link_to_app }}">{{ text_go_to_app }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="box-wrap">
                            <div class="tab-content">
                                <h4>{{ text_sort_description }}</h4>
                                <p class="fluencer-app-title-1">{{ text_intro_content_1 }}</p>
                                <p class="fluencer-app-title-1">{{ text_intro_content_2 }}</p>
                                <p class="fluencer-app-title-2">{{ text_intro_content_3 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="box-wrap">
                            <div class="tab-content">
                                <h4>{{ text_detail }}</h4>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 box-text-intro">
                                        <span class="text-1">{{ text_description_1_title_1 }}</span>
                                        <span class="text-2">{{ text_description_1_title_2 }}</span>
                                        <span class="text-3">{{ text_description_1_content }}</span>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <img src="https://onfluencer.net/Content/Images/img1intro.png" class="box-img-intro" style="float:right;">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <img src="https://onfluencer.net/Content/Images/img2intro.png" class="box-img-intro" style="float:left;">
                                    </div>
                                    <div class="col-md-6 col-xs-12 box-text-intro">
                                        <span class="text-1">{{ text_description_2_title_1 }}</span>
                                        <span class="text-2">{{ text_description_2_title_2 }}</span>
                                        <span class="text-3">{{ text_description_2_content }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-12 box-text-intro">
                                        <span class="text-1">{{ text_description_3_title_1 }}</span>
                                        <span class="text-2">{{ text_description_3_title_2 }}</span>
                                        <span class="text-3">{{ text_description_3_content }}</span>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <img src="https://onfluencer.net/Content/Images/img3intro.png" class="box-img-intro" style="float:right;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{{ footer }}
<style>
    .container-fluid{
        background: #FFF;
        margin-top: 20px;
    }
    .border-tab{
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #CCC;
    }
    .app-logo img{
        width: 60px;
        margin-right: 10px;
    }
    .app-logo span{
        font-size: 16px;
        font-weight: bold;
    }
    .link-to-app{
        padding-top: 20px;
    }
    .link-to-app a{
        background: linear-gradient(180deg, #ED592A 0%, rgba(201, 83, 41, 0.89) 100%);
        border: 1px solid #ED592A;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
        border-radius: 3px;
        padding: 5px 10px;
        color: #fff;
    }
    .tab-content{
        padding:20px;
    }
    .box-text-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .fluencer-app-title-1 {
        font-weight: bold;
        font-size: 32px;
        color: #3D5067;
        line-height: 1.4;
        text-align: center;
    }

    .fluencer-app-title-2 {
        font-weight: normal;
        font-size: 18px;
        color: #7E7E7E;
        margin-top: 10px;
        text-align: center;
    }

    .box-text-intro .text-1 {
        font-size: 18px;
        color: #D4538E;
        font-weight: bold;
        margin-bottom: 24px;
        line-height: 1.42857143;
    }
    .box-text-intro .text-2 {
        font-size: 26px;
        color: #3D5067;
        margin-bottom: 12px;
        line-height: 1.4;
        font-weight: bold;
    }
    .box-text-intro .text-3 {
        font-size: 18px;
        color: #575757;
        line-height: 1.42857143;
    }
</style>