{{ custom_header }}
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <div class="sub-head clearfix border-bottom">
                        <h1 class="page-title float-left">{{ heading_title }}</h1>
                    </div>

                    {# heading #}
                    <form action="{{ action }}" method="post" class="general-setting-form form-fix-head">
                        {# error if has #}
                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i
                                        class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        {# api_key #}
                        <div class="box-form pt-4">
                            <div class="row">
                                {# connect Autoads #}
                                <div class="col-12 col-md-12" style="margin-bottom: 12px;">
                                    <p class="font-weight-500 my-3 font-16">{{ text_intro_title }}</p>
                                    <p class="text-secondary">{{ text_intro_content }}</p>
                                    <a href="{{ href_onfluencer_novaon }}" target="_blank">
                                        <button type="button" class="btn-pink p-2 px-3" data-toggle="modal" data-target="#add-domain-modal">{{ text_intro_button }}</button>
                                    </a>
                                </div>

                                <div class="col-12 col-md-12">
                                    <div class="box-form mt-4 pt-4 border-top" style="padding-bottom: 10px;"></div>
                                </div>

                                {# Validate website #}
                                <div class="col-12 col-md-4">
                                    <p class="font-weight-500 my-3 font-16">{{ text_setting_title }}</p>
                                    <p class="text-secondary">{{ text_setting_content }}</p>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="bg-white rounded shadow p-3">
                                        <div class="my-2">
                                            <div class="form-group">
                                                <h6>{{ text_setting_api_key_title }}</h6>
                                                <div class="input-group">
                                                    <input name="site-key"
                                                           value="{{ api_key }}"
                                                           placeholder=""
                                                           type="text" disabled
                                                           class="form-control bg-light onfluencer-api-key"/>
                                                    <div class="input-group-append">
                                                        <button class="btn border border-left-0 btn-copy-api-key">{{ text_api_key_copy_button }}
                                                        </button>
                                                    </div>
                                                </div>
                                                <p style="margin-top: 12px;">{{ text_setting_api_key_example }}</p>
                                                <a href="{{ href_onfluencer_novaon_guide }}" target="_blank"><span class="fa fa-info-circle"></span> {{ text_more }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End box form -->
                    </form>
                </div> <!-- End main content -->
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>
<div id="image-loading"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-copy-api-key').on('click', function (e) {
            e.preventDefault();
            var element = $('input.onfluencer-api-key');
            copy2Clipboard(element);
        });

        function copy2Clipboard(element) {
            try {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).val()).select();
                document.execCommand("copy");
                $temp.remove();

                alert("{{ text_api_key_copy_success }}");
            } catch (e) {
                alert("{{ text_api_key_copy_failed }}");
            }
        }
    });
</script>