{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="justify-content-md-center row">
            {% if success or error_warning %}
                <div class="col-12 col-md-9 py-3">
                    {# alert #}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
                    {% endif %}
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                    {% endif %}
                </div>
            {% endif %}

            {# login area #}
            <div class="col-12 col-md-9 {{ success or error_warning ? '' : 'py-3' }}">
                <h1 class="page-title">{{ text_login|upper }}</h1>
                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-login border p-4">
                    <input type="hidden" name="redirect" value="{{ redirect }}" />
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="form-group">
                                <label for="email-input">{{ entry_email }}</label>
                                <input type="email" name="email" id="email-input" class="form-control" required="">
                            </div>

                            <div class="form-group clearfix">
                                <label for="password-input">{{ entry_password }}</label>
                                <input type="password" name="password" id="password-input" class="form-control"
                                       required="">
                                <a href="#" class="float-right mt-2 text-info"><u>{{ text_forgotten_2 }}</u></a>
                            </div>

                            <button class="btn btn-submit bg-warning px-5 font-16 col-12 col-md-5" type="submit">
                                {{ text_login }}
                            </button>
                        </div>

                        <div class="col-12 col-md-5">
                            <label>{{ other_or_with }}</label><br>

                            <button class="btn social-button bg-primary w-100 mb-3 font-16 {{ true ? 'disabled' : '' }}" type="button">
                                <i class="icon icon-fb mr-2 bg-white"></i> {{ other_or_with_facebook }}
                            </button>

                            <button class="btn social-button bg-danger w-100 font-16 {{ true ? 'disabled' : '' }}" type="button">
                                <i class="icon icon-google mr-2 bg-white"></i> {{ other_or_with_google }}
                            </button>
                        </div>
                    </div>
                </form>

                <div class="text-center mt-4">
                    <span>{{ text_dont_have_account }} <a href="{{ register }}" class="text-warning">{{ text_register_2 }}</a></span>
                </div>
            </div>
        </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}