{{ header }}

<section class="bestme-block-content bestme-block-is-breadcrum ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ href_home }}" class="bestme-breadcrumb__link">Trang chủ</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="javascript:;" class="bestme-breadcrumb__link active ">Tài khoản của tôi </a>
                    </li>
                </ul>
            </div>
            <div class="bestme-tab--account-mobile active">
                <div class="title">
                    <h3>Tài khoản của tôi</h3>
                    <i class="ti-angle-down"></i>
                </div>
                <ul class="bestme-tab--account  nav nav-pills " id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link " href="{{ href_profile }}">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ href_setting_account }}">Sổ địa chỉ</a>
                    </li>

                </ul>
            </div>
            <div class="col-12 ">
                <ul class="bestme-tab--account nav nav-pills  " id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ href_profile }}">Tổng quan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ href_setting_account }}">Sổ địa chỉ</a>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="row  address-setting-panel mb-3">
                        <div class="col-12 col-lg-6 text-black-20 left">
                            {% for idx, account_info in account_infos %}
                                <!-- Address row -->
                                <div class="bestme-block-show-icon-edit ">
                                    <div class="block-title">
                                        <h3 class="title">{% if account_info.default == account_info.address_id %} Địa chỉ mặc định {% else %} Địa chỉ {{ idx }} {% endif %}</h3>
                                        <a class="icon-edit" data-div="{{ idx }}" id="formEditMore_{{ idx }}"
                                            aria-expanded="false"
                                           aria-controls="collapseFormAddress{{ idx }}"><i
                                                    class="ti-pencil-alt"></i></a>
                                    </div>
                                    <div class="block-content">
                                        <p class="bestme-text--uppercase mb-3">{{ account_info.lastname }} {{ account_info.firstname }}</p>
                                        <div class="block-content-item inline">
                                            <span>Số điện thoại</span>
                                            <p>{{ account_info.phone_number }}</p>
                                        </div>
                                        <div class="block-content-item inline">
                                            <span>Địa chỉ </span>
                                            <p>{{ account_info.full_address }}</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <style>
                                    .show1 {
                                        display: block;
                                    }
                                </style>
                                <script>
                                    $(document).ready(function () {
                                        $('#formEditMore_{{ idx }}').on('click', function () {
                                            var has_class_form = $("#collapseFormAddress{{ idx }}").hasClass("show");
                                            if (has_class_form == false) {
                                                $(".collapseFormAddress").each(function (i, obj) {
                                                    $(this).collapse("hide");
                                                });
                                                $("#collapseFormAddress{{ idx }}").collapse('hide');
                                            }
                                            $("#collapseFormAddress{{ idx }}").collapse('show');
                                            $('html, body').animate({
                                                scrollTop: $("#collapseFormAddress{{ idx }}").offset().top
                                            }, 'slow');
                                        });
                                    });
                                </script>
                            {% endfor %}

                            <div class="row text-center">
                                <a class="bestme-btn bestme-btn--border bestme-text--uppercase w-100 mt-5"
                                   id="formAddressMore" data-toggle="collapse" href="#collapseFormAddressMore"
                                   role="button" aria-expanded="false" aria-controls="collapseFormAddressMore">Thêm địa
                                    chỉ mới</a>
                            </div>
                        </div> <!-- End left -->

                        <div class="col-12 col-lg-6 form-collapse">
                            {% for idx, account_info in account_infos %}
                                <!-- Form Edit Address -->
                                <div id="collapseFormAddress{{ idx }}" class="collapse w-100 collapseFormAddress" >
                                    <div class="card card-body border-0 p-0">
                                        <form class="form-payment" action="" id="edit_{{ account_info.address_id }}">
                                            <h2 class="py-2 mt-1 fw-700 fz-14 text-uppercase">Sửa địa
                                                chỉ {% if account_info.default == account_info.address_id %} mặc định {% else %}  {{ idx }} {% endif %}</h2>
                                            <div class="form-group">
                                                <label for="full-name" class="m-0">Họ và Tên</label>
                                                <input name="fullname" id="full-name" type="text"
                                                       value="{{ account_info.lastname }} {{ account_info.firstname }}"
                                                       class="bestme-input bestme-input--default" placeholder="Họ và Tên"
                                                       required="">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="phone" class="m-0">Số điện thoại</label>
                                                <input type="text" class="bestme-input bestme-input--default rounded-0"
                                                       name="phone" value="{{ account_info.phone_number }}" id="phone"
                                                       placeholder="Nhập số điện thoại của bạn">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-12 col-lg-4">
                                                    <label for="your-city" class="m-0">Tỉnh/Thành phố</label>
                                                    <select class="bestme-input bestme-input--default selectpicker"
                                                            name="city_delivery" title="Tỉnh / thành">
                                                        <option>{{ txt_province }}</option>
                                                        {% for province in provincess %}
                                                            <option value="{{ province.code }}"
                                                                    {% if account_info.province == province.code %}selected{% endif %}>{{ province.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-12 col-lg-4">
                                                    <label for="your-district" class="m-0">Quận/Huyện</label>
                                                    <select class="bestme-input bestme-input--default selectpicker"
                                                            name="district_delivery" title="Quận / huyện">
                                                        <option>{{ txt_district }}</option>
                                                        {% for district_vl in account_info.districts_edits_info %}
                                                            <option value="{{ district_vl.code }}"
                                                                    {% if account_info.districts == district_vl.code %}selected{% endif %}>{{ district_vl.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-12 col-lg-4">
                                                    <label for="your-district" class="m-0">Phường xã</label>
                                                    <select class="bestme-input bestme-input--default selectpicker"
                                                            name="ward_delivery" title="Phường/xã">
                                                        <option>{{ txt_ward }}</option>
                                                        {% for ward in account_info.ward_edits_info %}
                                                            <option value="{{ ward.code }}"
                                                                    {% if account_info.wards == ward.code %}selected{% endif %}>{{ ward.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="your-address" class="m-0">Địa chỉ</label>
                                                <input type="text" value="{{ account_info.address }}" name="address"
                                                       class="bestme-input bestme-input--default" id="your-address"
                                                       placeholder="Nhập địa chỉ của bạn">
                                            </div>
                                            <div class="bestme-form__item" {{ account_info.default == account_info.address_id ? 'style="pointer-events: none"': '' }}>
                                                <label class="bestme-checkbox ">
                                                    <input type="checkbox" {{ account_info.default == account_info.address_id ? 'checked': '' }}
                                                           name="default"
                                                           id="setDefaultEdit{{ account_info.address_id }}">
                                                    <span class="bestme-checkbox--mark"></span>
                                                    <span>Đặt làm địa chỉ mặc định</span>
                                                </label>
                                            </div>

                                            <div id="msg_err{{ account_info.address_id }}"></div>
                                            <ul class="d-flex mt-3 flex-row-reverse">
                                                <button class="bestme-btn bestme-btn--border bestme-text--uppercase"
                                                        id="saveedit_{{ account_info.address_id }}">Lưu lại
                                                </button>
                                                <input type="hidden" name="edit_hide" value="1">
                                                <input type="hidden" name="address_id"
                                                       value="{{ account_info.address_id }}">
                                                {% if account_info.default != account_info.address_id %}
                                                    <button type="button"
                                                            onclick="delete_address({{ account_info.address_id }})"
                                                            class="p-2 mr-3 border-0 bg-white">Xóa địa chỉ
                                                    </button>
                                                {% endif %}

                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <script>
                                    $(function () {
                                        $("#saveedit_{{ account_info.address_id }}").click(function () {
                                            $.ajax({
                                                type: 'post',
                                                url: '{{ href_save }}',
                                                dataType: 'json',
                                                data: $('form#edit_{{ account_info.address_id }}').serialize(),
                                                success: function (data) {
                                                    if (data.error_code == 0) {
                                                        location.href = data.href;
                                                    } else {
                                                        $("#msg_err{{ account_info.address_id }}").html("<span style='color:red'>" + data.message + "</span>");
                                                    }
                                                }
                                            });
                                            return false;
                                        });

                                        $("#display_form_{{ account_info.address_id }}").click(function () {
                                            location.reload();
                                        });

                                    });
                                </script>
                            {% endfor %}
                            <!-- ENd: Form Edit Address -->

                            <!-- Form Edit Address -->
                            <div id="collapseFormAddressMore" class="collapse" >
                                <div class="bestme-block-show-icon-edit ">
                                    <div class="block-title bestme-border-bottom-none">
                                        <h3 class="title">Thêm mới địa chỉ</h3>
                                    </div>
                                    <div class="block-content">
                                        <div class="bestme-form">
                                            <form id="saveform" action="" method="post" class="form-payment ">
                                                <div class="bestme-form__item">
                                                    <label for="full-name" class="m-0">Họ và Tên</label>
                                                    <input name="fullname" id="full-name" type="text"
                                                           class="bestme-input bestme-input--default"
                                                           placeholder="Họ và Tên" required="">
                                                </div>
                                                <div class="bestme-form__item">
                                                    <label>Số điện thoại</label>
                                                    <input type="text" name="phone"
                                                           class="bestme-input bestme-input--default"
                                                           placeholder="Nhập số điện thoại" value="">
                                                </div>
                                                <div class="rsow">
                                                    <div class="form-row">
                                                        <div class="form-group col-12 col-lg-4">
                                                            <label for="your-city" class="m-0">Tỉnh/Thành phố</label>
                                                            <select name="city_delivery" title="{{ account_city }}"
                                                                    class="bestme-input bestme-input--default selectpicker">
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-12 col-lg-4">
                                                            <label for="your-district" class="m-0">Quận/Huyện</label>
                                                            <select class="bestme-input bestme-input--default selectpicker"
                                                                    name="district_delivery"
                                                                    title="{{ account_district }}">
                                                                <option>{{ txt_district }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-12 col-lg-4">
                                                            <label for="your-district" class="m-0">Phường xã</label>
                                                            <select class="bestme-input bestme-input--default selectpicker"
                                                                    name="ward_delivery" title="Phường/Xã">
                                                                <option>{{ txt_ward }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bestme-form__item ">
                                                    <label>Địa chỉ</label>
                                                    <input type="text" class="bestme-input bestme-input--default"
                                                           placeholder="Nhập địa chỉ" name="address">
                                                </div>

                                                <div class="bestme-form__item" {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                                                    <label class="bestme-checkbox ">
                                                        <input type="checkbox"
                                                               name="default" {{ account_infos|length == 0 ? 'checked' : '' }}
                                                               class="custom-control-input" id="address-default-new">
                                                        <span class="bestme-checkbox--mark"></span>
                                                        <span>Đặt làm địa chỉ mặc định</span>
                                                    </label>
                                                </div>

                                                <div id="msg_err"></div>

                                                <div class="d-flex justify-content-end mt-5">
                                                    <button onclick="location.href='{{ href_setting_account }}'"
                                                            class="bestme-btn bestme-btn--link mr-4">Hủy
                                                    </button>
                                                    <button class="bestme-btn bestme-btn--border bestme-text--uppercase"
                                                            name="save" id="save">Thêm mới
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- ENd: Form Edit Address -->
                        </div> <!-- End right -->
                    </div> <!-- End row -->

                </div>

            </div>
        </div>
    </div>
</section>

{{ footer }}

<style type="text/css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    #collapseFormAddressMore.in {
        display: block;
    }
</style>

<script>
    $(document).ready(function () {


        $('#formAddressMore').on('click', function () {
            $('#collapseFormAddressMore').addClass('in');
            $('html, body').animate({
                scrollTop: $("#pills-tab").offset().top
            }, 500);
            $('#formEditMore_{{ idx }}').hide();
        });
    });
</script>

<script>
    $("#display_form").click(function () {
        location.reload();
    });
    $(function () {
        $("#save").click(function () {
            $.ajax({
                type: 'post',
                url: '{{ href_save }}',
                dataType: 'json',
                data: $('form#saveform').serialize(),
                success: function (data) {
                    if (data.error_code == 0) {
                        location.href = data.href;
                    } else {
                        $("#msg_err").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

    function delete_address(id) {
        if (confirm('{{ text_delete }}')) {
            $.ajax({
                url: "{{ href_delete }}",
                type: "POST",
                data: {id: id},
                dataType: "html",
                success: function () {
                    location.reload();
                }
            });

        }
    }

    $(document).ready(function () {
        $(".hidden_add_address").click(function () {
            $(".form_edit").removeClass("d-none");
        });
        $(".hidden_edit_address").click(function () {
            $(".form_edit").addClass("d-none");
        });

        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $(this).find('option:selected').val();
            console.log(provinceCode);
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            selectCityDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_province }}'
                }));
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            //selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces, element) {
            var selectDistrictDeliveryEl = element.closest('.form-row').find('select[name="district_delivery"]');
            //reset ward
            var selectWardDeliveryEl = element.closest('.form-row').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));

            console.log(provinces);
            selectDistrictDeliveryEl.html('');
            selectDistrictDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_district }}'
                }));
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            //selectDistrictDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            var selectWardDeliveryEl = element.closest('.form-row').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                .append($('<option>', {
                    value: '',
                    text: '{{ txt_ward }}'
                }));
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            //selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }
    });
</script>
