{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active main-color">Đăng nhập</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-user-login">
    <div class="container">
        <div class="user-login">
            <div class="block-left">
                <h1 class="header-font">Đăng nhập</h1>
                <p class="header-font">hoặc <a href="{{ urlregister }}">Đăng ký</a></p>
            </div>

            <div class="block-right">
                <div class="form-login">
                    {% if error %}
                        <div class="col-12 col-md-12">
                            <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                                <i class="fa fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    {% endif %}

                    <form action="{{ action }}" method="post" enctype="multipart/form-data">
                        {% if redirect %}
                            <input type="hidden" name="redirect" value="{{ redirect }}">
                        {% endif %}
                        <div class="form-group">
                            <input type="email" name="email" id="" class="form-control" value="{{ email }}" placeholder="Email"
                                   aria-describedby="helpId">
                        </div>

                        <div class="form-group">
                            <button type="button" name="email" id="" class="btn btn-showpass" btn-lg btn-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12"
                                 fill="none">
                                <path
                                        d="M0.666748 6.00008C0.666748 6.00008 3.33341 0.666748 8.00008 0.666748C12.6667 0.666748 15.3334 6.00008 15.3334 6.00008C15.3334 6.00008 12.6667 11.3334 8.00008 11.3334C3.33341 11.3334 0.666748 6.00008 0.666748 6.00008Z"
                                        stroke="#969696" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                        d="M8 8C9.10457 8 10 7.10457 10 6C10 4.89543 9.10457 4 8 4C6.89543 4 6 4.89543 6 6C6 7.10457 6.89543 8 8 8Z"
                                        stroke="#969696" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            </button>
                            <input type="password" name="password" id="input-pass" class="form-control input-pass"
                                   placeholder="Mật khẩu" aria-describedby="helpId">

                        </div>

                        <div class="form-group">
                            <label class="custom-check main-font">
                                <input class="input" type="radio" name="radio">Ghi nhớ
                                <span class="checkmark"></span>
                            </label>

                            <a href="{{ urlforgotten }}">Quên mật khẩu</a>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-submit">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

<script type="text/javascript">
    $(".btn-showpass").click(function() {
        var input = $('#input-pass');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>

<style>
    .field-icon {
        cursor: pointer;
        right: 7px;
        position: absolute;
        z-index: 2;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>
{{ footer }}