{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
  <div class="container">
    <nav class="breadcrumb main-font">
      <a class="breadcrumb-item" href="{{ home }}">Trang chủ </a>
      <span class="breadcrumb-item active main-color">Thông tin đơn hàng</span>
    </nav>
  </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-contact-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 order-lg-12 bestme-block-contact-form">
        <h2 class="title-block header-font text-color">
          Thông tin đơn hàng
        </h2>
        {% include ('default/template/account/order_info_template.twig') %}
        <br>
      </div>
    </div>
  </div>


</div>
<!-- /.ELM PAGES -->

{{ footer }}
<style>
  img {
    max-width: 228px
    height: auto;
  }
</style>
