#footer .main-footer{
    padding: 50px 0 0;
    color: var(--text-secondary);
    background: #F3FAFE;
}
#footer .main-footer .container{
    position: relative;
    z-index: 1;
}
#footer .footer-col{
    margin-bottom: 44px;
}
#footer .footer-col li{
    margin-bottom: 10px;
    line-height: 21px;
}
#footer .footer-col li:nth-last-child(1) {
    margin-bottom: 0;
}
#footer .footer-col li::before{
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 15px;
}
#footer .footer-col li a{
    color: var(--text-secondary);
    display: inline-block;
}
#footer .footer-col li a:hover,
#footer .footer-col li a.active{
    font-weight: bold;
}
#footer .copy-right{
    background-color: var(--third);
    padding: 12px 0;
    color: #fff;
    font-weight: 300;
}