/*.header-font,
.content-font,
body,
.block-header-menu .main-menu ul li .sub-menu li a,
.block-footer .widget-footer span,
.block-footer .widget-footer form .form-group .btn-submit,
.block-footer .widget-footer form .form-group label,
.block-footer .widget-footer form .form-group .form-control,
.block-footer .widget-footer .social span,
.block-header-menu .main-menu ul li a,
.content-result .sidebar-category .range-slider label,
.content-result .sidebar-category .range-slider #amount,
.block-pages-productdetail .block-detail .price-wrap span,
.block-pages-productdetail .block-detail .block-custom-change .form-action .quantity input,
.block-pages-productdetail .block-detail .social span,
.block-comment .comment-list .comment-item .comment-content .date,
.block-related .swiper-wrapper .swiper-slide .product-item .thumb-product .product-status .status-item,
.block-breadcrumb .breadcrumb .breadcrumb-item,
.block-account-page .block-table-cart table thead tr th,
.block-cart-page .block-table-cart table thead tr th,
.block-account-page .block-table-history table thead tr th,
.block-cart-page .block-table-history table thead tr th,
.block-account-page .block-user-infor .btn-setting,
.block-cart-page .block-user-infor .btn-setting,
.block-user-login .user-login .block-right .form-login .form-group .form-control,
.block-user-login .user-login .block-right .form-login .form-group a,
.block-user-login .user-login .block-right .form-login .form-group .form-control::-webkit-input-placeholder,
.block-user-login .user-login .block-right .form-login .form-group .form-control:-ms-input-placeholder,
.block-user-login .user-login .block-right .form-login .form-group .form-control::-ms-input-placeholder,
.block-user-login .user-login .block-right .form-login .form-group .form-control::placeholder,
.block-user-login .user-login .block-right .form-login .form-group .btn-submit,
.block-user-login .user-login .block-right .form-login .form-group a,
.block-address-page .header-address .btn-add-address,
.block-address-page .elm-address .user-address .user-address-item .desc p span.type,
.block-address-page .elm-address .user-address .form-payment .form-group label,
.block-address-page .elm-address .user-address .form-payment .form-group input,
.custom-selectag-2,
.custom-selectag-2 label,
.custom-selectag-2 .select-selected,
.block-contact-page .contact-group p,
.block-contact-page .contact-group .social span,
.block-contact-page .form-feedback .form-group .form-control,
.block-contact-page .form-feedback .form-group .form-control::-webkit-input-placeholder,
.block-contact-page .form-feedback .form-group .form-control:-ms-input-placeholder,
.block-contact-page .form-feedback .form-group .form-control::-ms-input-placeholder,
.block-contact-page .form-feedback .form-group .form-control::placeholder,
.block-contact-page .form-feedback .form-group textarea*/

/* now allow change font overall web
 * Notice: exclude font awesome .fa,.fab,.fal,.far,.fas
 */
*:not(.fa):not(.fab):not(.fal):not(.far):not(.fas) {
    font-family: '$ALL_FONT$' !important;
}

::-webkit-input-placeholder {
    font-family: '$ALL_FONT$' !important;
}
:-moz-placeholder {
    font-family: '$ALL_FONT$' !important;
}
::-moz-placeholder {
    font-family: '$ALL_FONT$' !important;
}
:-ms-input-placeholder {
    font-family: '$ALL_FONT$' !important;
}