{{ header }}

<main id="main-wrapper">
    <nav aria-label="breadcrumb" class="mt-2 mb-3">
        <div class="container">
            <ol class="breadcrumb py-3">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item">
                            <span class="bestme-breadcrumb__link active">{{ breadcrumb.text }}</span>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a class="bestme-breadcrumb__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">

            <div class="product-teaser-fix display-none-mobile">
                <div class="container">
                    <div class="d-flex">
                        <span class="font-weight-500 align-self-center">
                            {{ product['name'] }}
                            <span class="second-color">
                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                {% if product['max_price_version'] is null %}
                                    {{ product['compare_price_master'] == 0 ? '' : ' - '  ~ product['compare_price_master'] }}
                                {% endif %}
                            {% else %}
                                {% if product['max_price_version'] is null %}
                                    - {{ product['price_master'] }}
                                {% endif %}
                            {% endif %}
                        </span>
                        </span>
                        <div class="ml-auto">
                            {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                            {% else %}
                                <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="btn bg-white text-dark border-light mr-3 add-cart rounded-2">Thêm vào giỏ hàng</button>
                                <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-primary main-bg text-white border-0 rounded-2 button_buying">Mua ngay</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product Info -->
            <div class="product-info mb-3 mb-md-4 pb-3">
                <div class="row">
                    <div class="col-lg-7 pro-thumb-detail thumb-detail-type3">
                        <div id="carouselProDetail" class="carousel slide" data-ride="carousel">
                            <input type="hidden" value="{{ product_empty }}" id="product-image-default-src">
                            <ol class="carousel-indicators d-block">
                                {% if product_images is not empty %}
                                    {% for k,image in product_images %}
                                        <li data-target="#carouselProDetail" data-slide-to="{{ k }}"
                                            class="{% if k == 0 %} active {% endif %} mb-2">
                                            <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}">
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li data-target="#carouselProDetail" class="mb-2">
                                        <img src="{{ product_empty }}">
                                    </li>
                                {% endif %}

                            </ol>
                            <div class="carousel-inner">
                                {% if product_images is not empty %}
                                    {% for k,image in product_images %}
                                        <div class="carousel-item {% if k == 0 %} active {% endif %}">
                                            <img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"
                                                 class="d-block w-100">
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="carousel-item">
                                        <img src="{{ product_empty }}">
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="wrap-star-rate text-center d-none">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star star-rate"></span>
                                </li>
                                <li class="list-inline-item mr-0">
                                    <span class="star"></span>
                                </li>
                            </ul>
                        </div><!-- /.wrap-star-rate -->
                    </div><!-- /.pro-thumb-zoom -->
                    <div class="col-lg-5 pro-detail pl-lg-3">
                        <h1 class="page-pro-title fz-16 fw-600 text-black-50 text-uppercase border-bottom border-black-50 pb-1 mt-3 mb-3">
                            {{ product['name'] }}
                        </h1>
                        <div class="price-rate mb-3">
                            <div class="pro-price">
                                {% if product['is_contact_for_price'] %}
                                    <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy btn-primary">
                                        <span class="new-price text-white fw-600 fz-16 mr-2">
                                            {{ contact }}
                                        </span>
                                    </a>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        {% if product['max_price_version'] is null %}
                                            <span class="new-price text-primary fw-600 fz-25 mr-2">{{ product['compare_price_master'] }}</span>
                                        {% else %}
                                            <span class="new-price text-primary fw-600 fz-25 mr-2">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                           </span>
                                        {% endif %}
                                    {% else %}
                                        {% if product['max_price_version'] is null %}
                                            <span class="new-price text-primary fw-600 fz-25 mr-2">{{ product['price_master'] }}</span>
                                        {% else %}
                                            <span class="new-price text-primary fw-600 fz-25 mr-2">
                                            {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                        </span>
                                        {% endif %}
                                        {% if product['max_compare_price_version'] is null %}
                                            <span class="old-price text-info fz-18 fw-600">{{ product['compare_price_master'] }}</span>
                                        {% else %}
                                            <span class="old-price text-info fz-18 fw-600">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                           </span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div><!-- /.pro-price -->

                        </div><!-- /.price-rate -->
                        <div class="d-flex mb-3">
                        <span class="block-status">Tình trạng:
                            {% if product['product_is_stock'] %}
                                <span class="ml-3 second-color font-weight-500">Còn hàng</span>
                                    {% else %}
                                <span class="ml-3 second-color font-weight-500">Hết hàng</span>
                            {% endif %}
                        </span>
                        </div>

                        {% set hide_on_contact_price = product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                        <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">
                            {# attribute #}
                            <div class="form-group mb-lg-4 {% if hide_on_contact_price %}d-none{% endif %}">
                                {% if attributes is not empty %}
                                    {% for attribute in attributes %}
                                        <div class="choose-attribute d-flex mb-2">
                                            <label class="font-weight-400 sixth-color w-20 align-self-center">{{ attribute['attribute_name'] }}
                                                :</label>
                                            <div class="flex-fill ml-3">
                                                {% for key,attribute_text in attribute['attribute_text'] %}
                                                    <div class="attr-item d-inline-block mr-1">
                                                        <input {% if key == 0 %} checked {% endif %} class="d-none"
                                                                                                     name="attribute[{{ attribute['attribute_name'] }}]"
                                                                                                     type="radio" name="{{ attribute['attribute_id'] }}"
                                                                                                     id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                                                                     value="{{ attribute_text }}">
                                                        <label class="m-0 py-2 font-12 px-3"
                                                               for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                                <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                            </div>
                            {# end - attribute #}

                            {# quantity and add cart button #}
                            <ul class="pro-action list-inline mb-lg-4 {% if hide_on_contact_price %}d-none{% endif %}">
                                {% if is_on_mobile != 1 %}
                                    <li class="list-inline-item quantity display-none-mobile" style="position: relative;">
                                        <div class="buy-total">
                                            <input type="number" class=" border mx-2 px-2 text-black-50 text-center fw-600"
                                                   required oninput="this.setCustomValidity('')"
                                                   oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                                   name="quantity" max="9999" value="1" min="1">
                                        </div>
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </li>
                                {% endif %}

                                <li class="list-inline-item">

                                    <button id="add-to-cart-product" type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                            onclick="cart.add('{{ product['product_id'] }}')"
                                            class="px-2 btn btn-primary text-white  {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  btn-black-50 {% else %}  btn-black-50 second-color-hover {% endif %}"
                                    >
                                        Thêm vào giỏ hàng
                                    </button>

                                </li>
                            </ul>

                            {# end - quantity and add cart button #}

                            <p class="fw-300 mb-lg-4 ckeditor-content">
                                {{ product['sub_description']|html_entity_decode }}
                            </p>

                            <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                    class="btn btn-primary fz-16 text-uppercase fw-600 rounded-0 w-100 py-3 py-lg-2 mb-3 {% if hide_on_contact_price %}d-none{% endif %}"
                                    id="buy-now" >Mua hàng ngay
                            </button>
                            {% if hotline != null %}
                                <div class="row">
                                    <div class="col-lg-12 text-center fw-2  00 pt-2 pb-2 hotline">
                                        <span class="hotline-css"><i class="icon icon-phone mr-2 align-middle"></i></span>
                                        Liên hệ :
                                        <span class="fw-500 text-primary">
                                            <a href="tel:{{ hotline }}" class="text-phone-number">
                                                {{ hotline }}
                                            </a>
                                        </span>
                                        để được tư vấn (miễn phí)
                                    </div>
                                </div>
                            {% endif %}

                            {# only on mobile #}
                            {% if is_on_mobile == 1 %}
                                <div class="show-on-mobile buy-now-mobile row w-100 {% if hide_on_contact_price %}d-none-nimpt{% else%}d-flex{% endif %}">
                                    <div class="col-2 number-quantity pl-0">
                                        <input pattern="[0-9]*" type="number" oninput="this.setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                               required name="quantity" min="1" max="9999" step="1" value="1"
                                               class="text-center w-100">
                                    </div>
                                    <div class="col-6 pl-0 pr-0">
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                                onclick="cart.add('{{ product['product_id'] }}')" >
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-buy {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                        >
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            {# end only on mobile #}
                        </form>

                        <!-- follow -->
                        <ul class="list-inline mb-0 follow">
                            <li class="list-inline-item text-black-50 fw-600 mr-3">Chia sẻ:</li>
                            <li class="list-inline-item">
                                <a href="https://plus.google.com/share?url={{ current_url|raw }}"
                                   class="text-black-50 fz-18"><i class="fab fa-google"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}"
                                   class="text-black-50 fz-18"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_url|raw }}"
                                   class="text-black-50 fz-18"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul><!-- /.follow -->
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12">
                <ul class="nav nav-tabs" id="product-info-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Chi tiết</a>
                    </li>
                    {% for key, description_tab in description_tabs %}
                        <li class="nav-item d-flex">
                            <a class="nav-link align-self-end" id="des-tab" data-toggle="tab" href="#des{{ key }}" role="tab" aria-controls="des{{ key }}" aria-selected="false">{{ description_tab.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active py-4" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="pt-4 pb-4">
                            {{ product['description']|html_entity_decode }}
                        </div>
                    </div>
                    {% for key, description_tab in description_tabs %}
                        <div class="tab-pane fade py-5" id="des{{ key }}" role="tabpanel" aria-labelledby="des-tab">
                            <div class="pt-4 pb-4">
                                {{ description_tab.description|html_entity_decode }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- End: Product Info -->
            {% if related_product_visible %}
                <!-- Product Related -->
                <div class="product-related mb-3 mb-md-4 pb-3">
                    <h3 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ related_product_title }}</h3>
                    <div class="owl-product owl-carousel owl-theme owl-hidden-dots"
                         data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                        {% set grid = is_on_mobile == 0 ? related_products_display_grid_quantity : related_products_display_grid_mobile_quantity %}
                        {% for product_index, product in related_products %}
                            {% if 1 == (product_index + 1) % grid or 1 == grid %}
                                <div class="row m-0 row">
                            {% endif %}
                            <div class="pro-item col-{{ 12 / grid }}">
                                <div class="pro-thumb position-relative">
                                    <img src="{{ product['thumb'] }}" height="500" width="200" alt="">
                                    {% if product['product_is_stock'] == false %}
                                        <div class="pro-list-type bottom">
                                            <span class="left">Tạm Hết hàng</span>
                                        </div>
                                    {% endif %}
                                    {% if product['percent_sale'] is not empty %}
                                        <div class="pro-list-type top">
                                            <span class="right">{{ product['percent_sale'] }}</span>
                                        </div>
                                    {% endif %}
                                    <!-- Pro Overlay -->
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <a href="{{ product['href'] }}"
                                           class="buy-now btn bg-primary hover-btn-primary text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm
                                            vào giỏ</a>
                                    </div>
                                    <!-- EnD: Pro Overlay -->
                                </div>
                                <div class="pro-info text-center px-3">
                                    <a href="{{ product['href'] }}"
                                       class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    <div class="pro-price my-2">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="new-price text-primary fw-600 fz-20">
                                                {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="new-price text-primary fw-600 fz-20">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% else %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="new-price text-primary fw-600 fz-20">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="old-price text-info fz-16">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="old-price text-info fz-16">
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="add-tp-cart">
                                        <a id="add-cart" href="{{ product['href'] }}"
                                           class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 rounded-0 py-1 text-uppercase">Mua
                                            ngay</a>
                                    </div>
                                </div>
                            </div>
                            {% if 0 == (product_index + 1) % grid or product_index + 1 == related_products|length or 1 == grid %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- End: Product Related -->

            {% if products_viewed %}
                <!-- Product Related -->
                <div class="product-related mb-3 mb-md-4 pb-3">
                    <h3 class="box-title fz-18 fw-600 text-uppercase mb-3 mb-md-4 d-inline-block">{{ product_viewed_title }}</h3>
                    <div class="owl-product owl-carousel owl-theme owl-hidden-dots"
                         data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                        {% set grid = is_on_mobile == 0 ? related_products_display_grid_quantity : related_products_display_grid_mobile_quantity %}
                        {% for product_index, product in products_viewed %}
                            {% if 1 == (product_index + 1) % grid or 1 == grid %}
                                <div class="row m-0 row">
                            {% endif %}
                            <div class="pro-item col-{{ 12 / grid }}">
                                <div class="pro-thumb position-relative">
                                    <img src="{{ product['thumb'] }}" height="500" width="200" alt="">
                                    {% if product['product_is_stock'] == false %}
                                        <div class="pro-list-type bottom">
                                            <span class="left">Tạm Hết hàng</span>
                                        </div>
                                    {% endif %}
                                    {% if product['percent_sale'] is not empty %}
                                        <div class="pro-list-type top">
                                            <span class="right">{{ product['percent_sale'] }}</span>
                                        </div>
                                    {% endif %}
                                    <!-- Pro Overlay -->
                                    <div class="pro-overlay transition d-flex justify-content-center align-items-center flex-column">
                                        <a href="{{ product['href'] }}"
                                           class="buy-now btn bg-primary hover-btn-primary text-uppercase text-white fw-400 py-2 px-3 mb-2">Thêm
                                            vào giỏ</a>
                                    </div>
                                    <!-- EnD: Pro Overlay -->
                                </div>
                                <div class="pro-info text-center px-3">
                                    <a href="{{ product['href'] }}"
                                       class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    <div class="pro-price my-2">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="new-price text-primary fw-600 fz-20">
                                                {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="new-price text-primary fw-600 fz-20">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% else %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="new-price text-primary fw-600 fz-20">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="new-price text-primary fw-600 fz-20">
                                                        {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="old-price text-info fz-16">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="old-price text-info fz-16">
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="add-tp-cart">
                                        <a id="add-cart" href="{{ product['href'] }}"
                                           class="btn {% if product['product_is_stock'] == false %} disabled {% endif %} btn-primary text-white fw-400 rounded-0 py-1 text-uppercase">Mua
                                            ngay</a>
                                    </div>
                                </div>
                            </div>
                            {% if 0 == (product_index + 1) % grid or product_index + 1 == products_viewed|length or 1 == grid %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- End: Main Content -->
    <style>
        .modal-dialog {
            margin: 20vh auto 0px auto
        }
    </style>
    <div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
                </div>
                <div class="modal-body">
                    <p>Thêm sản phẩm vào giỏ hàng thành công</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    <div id="modal-buy" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"  style="display: initial;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="buy-modal-form" method="post">
                        <input type="hidden" name="product_name" value="{{ product['name'] }}">
                        <input type="hidden" id="pAttribute" name="product_attribute" value="">
                        <div class="form-group">
                            <label >Họ và tên</label>
                            <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                        <div class="form-group">
                            <label >Số điện thoại</label>
                            <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                        </div>
                        <div class="form-group">
                            <label >Nội dung liên hệ</label>
                            <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                        </div>
                        <div class="text-right">
                            <div style="text-align: left;" id="msg_err_product"></div>
                            <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-buy-product-success" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: initial;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
                </div>
                <div class="modal-body">
                    <p class="p-3">
                        Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                    </p>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(function () {
            $(".send-email-buy-product").click(function(){
                $.ajax({
                    type: 'post',
                    url: 'index.php?route=contact/contact/contactBuyProduct',
                    dataType : 'json',
                    data: $('form#buy-modal-form').serialize(),
                    beforeSend: function () {
                        $('#image-loading').show();
                        $(".send-email-buy-product").attr("disabled", true);
                    },
                    success: function (data) {
                        $('#image-loading').hide();
                        $(".send-email-buy-product").attr("disabled", false);
                        if(data.error_code == 0) {
                            $("#modal-buy-product-success").modal('show');
                            $("#modal-buy").modal('hide');
                        }
                        else {
                            $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                        }
                    }
                });
                return false;
            });
        });
    </script>
</main>

<script>
    $(document).ready(function () {

        $('.quantity').each(function () {
            var spinner = $(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function () {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

        });


        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        $('body').on('click', '.button_buying', function () {
            if (jQuery(this).attr('data-status') == "disabled") {
                alert('Sản phẩm hết hàng');
            } else {
                $('#add-to-cart').submit();
            }
        });
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart button, .product-teaser-fix button.add-cart').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function () {
                //TODO loading
            },
            complete: function () {
                //TODO loaded
            },
            success: function (json) {
                if (json['success']) {
                    jQuery('.amount .quantity span').html(json['total_product_cart']);
                    jQuery('.amount .total').html(json['total_into_money']);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.show-on-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>

{{ footer }}
