{{ header }}
<div class="container">
    <nav aria-label="breadcrumb" class="my-4 pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="row">
                <div class="col-12 col-md-6 mt-3 mb-5 text-center d-flex">
                    <div class="title-left py-3 m-auto">
                        <h1 class="text-info fz-32 text-uppercase letter-spacing-0">Đăng nhập</h1>
                        <span class="text-light">Bạn chưa có tài khoản? <a class="ml-2 text-primary fw-500" href="{{ register }}">Đăng ký</a></span>
                    </div>
                </div> <!-- End col-md-6 -->
                <div class="col-12 col-md-6 mt-3 mb-5 ml-auto">
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <form id="login-form" action="{{ action }}" method="post" enctype="multipart/form-data">
                        <p class="text-info fw-500">Khôi phục mật khẩu</p>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn main-bg px-4 py-2 text-white text-uppercase fw-500 mb-3" href="checkout-success.html">Gửi</button>
                            <a href="{{ home }}" class="px-4 py-2 text-dark">Bỏ qua</a>
                        </div>
                    </form>
                </div> <!-- End col-md-6 -->
            </div> <!-- End row -->
        </div>
    </div> <!-- End row -->
</div>
{{ footer }}