{{ header }}

<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['href'] is defined %}
                    <a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
                {% else %}
                    <span class="breadcrumb-item active">{{ breadcrumb['text'] }}</span>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div class="block-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <h4 class="header-item header-font">Bài viết mới nhất</h4>
                <div class="block-list-blog">
                    <div class="row">
                    <!-- blog-item -->
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for blog in blog_list %}
                        <div class="col-md-6 col-sm-12 col-xs-12 col-sp-12">
                        <div class="blog-item">
                            <div class="thumb text-center">
                                <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                <a class="btn view-more header-font" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                            </div>
                            <div class="content-blog">
                            <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] |slice(0, 100) }}</a></h3>
                            <div class="meta-blog">
                                <span class="author">
                                    <i class="fas fa-user"></i>
                                    <span>Posted By:</span>
                                    <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></span>
                                <span class="blog-cat">
                                    <i class="fas fa-list-ul"></i>
                                    <span>In:</span>
                                    {% for blog_category in blog['blog_categories'] %}
                                    {% if loop.index < 2 %}
                                        <a href="{{ blog_category['link'] }}">{{ blog_category['title'] }}</a>
                                    {% else %}
                                        , <a href="{{ blog_category['link'] }}">{{ blog_category['title'] }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="blog-created">
                                    <i class="far fa-clock"></i>
                                    <span>On:</span>
                                    {{ blog['date_added']|date('d-m-Y') }}
                                </span>
                            </div>
                            <div class="desc">
                                {{ blog['short_content']|html_entity_decode|striptags |slice(0, 160) ~ '...' }}
                            </div>
                            </div>
                        </div>
                    </div>    
                        {% endfor %}
                    {% endif %}
                    <!-- blog-item -->
                    </div>
                </div>
                <div class="block-pagination">
                    {{ pagination }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="block-side-blog">
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Danh mục bài viết</h4>
                        <ul class="block-cate">
                            {% for category in blog_category %}
                                <li>
                                    <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.side item -->
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Bài viết mới</h4>
                        <div class="list-related">
                            {% if blog_list_new is empty %}
                                Không có bài viết
                            {% else %}
                                {% for blog in blog_list_new %}
                                    {% if loop.index < 5 %}
                                        <div class="related-item">
                                            <div class="thumb">
                                                <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                                            </div>
                                            <div class="content">
                                                <h5 class="type-blog header-font">
                                                    {% for blog_category in blog['blog_categories'] %}
                                                    {% if loop.index < 2 %}
                                                        <a href="{{ blog_category['link'] }}">{{ blog_category['title'] }}</a>
                                                    {% else %}
                                                        , <a href="{{ blog_category['link'] }}">{{ blog_category['title'] }}</a>
                                                    {% endif %}
                                                    {% endfor %}
                                                </h5>
                                                <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] |slice(0, 40) ~ '...' }}</a></h3>
                                                <div class="meta-blog">
                                                    <div class="author">
                                                        <span class="date">{{ blog['date_added']|date('d-m-Y') }} </span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <!-- /.side item -->
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Tags</h4>
                        <div class="list-tags">
                            {% for tag in tags %}
                                <a href="{{ tag['link'] }}" class="header-font {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.side item -->
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}