<!doctype html>
<html lang="en">

<head>
    {#<title>{{ title }}</title>#} {#already in seo_meta below #}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <base href="{{ base }}">
    <!-- Bootstrap CSS -->
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/font-awesome/css/font-awesome.min.css">#}
    {{ cssResource }}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/bootstrap/dist/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/swiper/css/swiper.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/jquery-modal/jquery.modal.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/select2/dist/css/select2.min.css">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_variable.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_font-face.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_config.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_home.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_account.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_category.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_news.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_news-single.scss">#}
    {#<link rel="stylesheet/scss" href="{{ theme_directory }}/stylesheet/_login.scss">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    {{ jsResource }}
    {#<script src="{{ theme_directory }}/node_modules/jquery/dist/jquery.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/jquery-match-height/dist/jquery.matchHeight-min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/swiper/js/swiper.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/jquery-modal/jquery.modal.min.js"></script>#}
    {#<script src="{{ theme_directory }}/node_modules/select2/dist/js/select2.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
    {#<script src="{{ theme_directory }}/js/home.js"></script>#}

    {#<link href="{{ theme_directory }}/stylesheet/glasscase.minf195.css" rel="stylesheet" />#}
    {#<script src="{{ theme_directory }}/js/single.js"></script>#}
    {#<script src="{{ theme_directory }}/js/modernizr.custom.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery.glasscase.minf195.js"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>

<body>
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Header -->
<header>
    <div class="container">
        <div class="flex-ct">
            <!-- logo -->
            <div class="logo">
                <a href="{{ home }}">
                    <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"
                        {% if logo_height != '' %}
{#                            style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                            class="custom-height"
                        {% endif %}
                    >
                </a>
            </div>
            <!-- /.logo -->

            <!-- search -->
            {#TODO: add search...#}
            <form class="search" action="{{ urlserach }}" method="get">
                <div class="form-group">
                    <button type="submit" class="btn btn-submit">
                        <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#939393" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21 21L16.65 16.65" stroke="#939393" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <input type="text" name="search" id="" class="form-control" placeholder="Tìm kiếm sản phẩm" aria-describedby="helpId">
                </div>
            </form>
            <!-- /.search -->

            <!-- user -->
            <div class="user">
                {% if logged_in == '' %}
                    <ul>
                        <li><a href="{{ login }}">Đăng nhập</a></li>
                        <li><a href="{{ register }}">Đăng ký</a></li>
                    </ul>
                {% else %}
{#                    <div class="log d-none">#}
{#                        <div class="log-thumb">#}
{#                            <img src="{{ theme_directory }}/images/home/default.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="log--ct">#}
{#                            <div class="log-ct-name">#}
{#                                {{ logged_user }}#}
{#                            </div>#}
{#                            <a class="log-ct-out" href="#">( {{ logout }} )</a>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="dropdown ">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ logged_user }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ my_account }}">
                                <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                     viewBox="0 0 14 14" fill="none">
                                    <path d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                          fill="#25292C" />
                                </svg>
                                <span>Tài khoản của tôi</span>
                            </a>
                            <a class="dropdown-item" href="{{ logout }}">
                                <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                     viewBox="0 0 14 13" fill="none">
                                    <path d="M5.8 4.09767V1.75418C5.8 1.54701 5.88429 1.34832 6.03432 1.20182C6.18435 1.05532 6.38783 0.973022 6.6 0.973022H12.2C12.4122 0.973022 12.6157 1.05532 12.7657 1.20182C12.9157 1.34832 13 1.54701 13 1.75418V11.1281C13 11.3353 12.9157 11.534 12.7657 11.6805C12.6157 11.827 12.4122 11.9093 12.2 11.9093H6.6C6.38783 11.9093 6.18435 11.827 6.03432 11.6805C5.88429 11.534 5.8 11.3353 5.8 11.1281V8.78463"
                                          stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M9.8 6.44116H1" stroke="#25292C" stroke-miterlimit="10"
                                          stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3.4 4.09766L1 6.44114L3.4 8.78462" stroke="#25292C"
                                          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span>Đăng xuất</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- /.user -->

            <!-- cart -->
            <div class="cart open-cart">
                <div class="cart-icon">
                    <svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M6 2L3 6V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22 20.0391 21.7893 20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V6L18 2H6Z" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3 6H21" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16 10C16 11.0609 15.5786 12.0783 14.8284 12.8284C14.0783 13.5786 13.0609 14 12 14C10.9391 14 9.92172 13.5786 9.17157 12.8284C8.42143 12.0783 8 11.0609 8 10" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="cart-icon-count">
                                {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                            </span>
                </div>
            </div>
            <!-- /.cart -->

            <!-- mobile menu -->
            <div class="open-sidemenu">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>
            <!-- /.mobile menu -->
        </div>
    </div>
</header>

<div class="block-cart">
    <div class="close-cart">
        <img src="{{ theme_directory }}/images/home/close.png" alt="">
    </div>
    <div class="head">
        <h3>Giỏ hàng</h3>
        <p class="count"><span>0</span> sản phẩm</p>
    </div>
    <div class="list-cart" id="list-card">
        {# append later by ajax #}
    </div>
    <div class="all-price">
        <div class="row row-s-8 mt-3 mb-3 align-center">
            <div class="col-4 col-s-8">
                <h6>Thành tiền:</h6>
            </div>
            <div class="col-8 col-s-8">
                <h5 class="price text-right"></h5>
            </div>
        </div>
        <div class="form-group">
            <a href="" id="payment" class="btn btn-submit">Tiến hành đặt hàng</a>
        </div>
    </div>
</div>
<!--add cart-->
<div class="cart-widget">
    <div class="collap-icon">
        <svg xmlns="https://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24"><title>ico-collapse</title><path fill="#10bbcb" d="M1.821 22.676c-.134.151-.301.227-.485.227s-.351-.076-.485-.227a.849.849 0 0 1 0-1.097l8.529-9.647L.851 2.285c-.268-.303-.268-.794 0-1.097s.702-.303.97 0l9.031 10.196a.849.849 0 0 1 0 1.097L1.821 22.677z"></path><path fill="#10bbcb" d="M12.061 22.676c-.134.151-.301.227-.485.227s-.351-.076-.485-.227a.849.849 0 0 1 0-1.097l8.529-9.647-8.529-9.647c-.268-.303-.268-.794 0-1.097s.702-.303.97 0l9.031 10.196a.849.849 0 0 1 0 1.097l-9.031 10.196z"></path></svg>
    </div>
    <div class="icon-cart cart open-cart">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="https://www.w3.org/2000/svg">
            <path d="M8 2.66699L4 8.00033V26.667C4 27.3742 4.28095 28.0525 4.78105 28.5526C5.28115 29.0527 5.95942 29.3337 6.66667 29.3337H25.3333C26.0406 29.3337 26.7189 29.0527 27.219 28.5526C27.719 28.0525 28 27.3742 28 26.667V8.00033L24 2.66699H8Z" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 8H28" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21.3333 13.333C21.3333 14.7475 20.7714 16.104 19.7712 17.1042C18.771 18.1044 17.4144 18.6663 16 18.6663C14.5855 18.6663 13.2289 18.1044 12.2287 17.1042C11.2285 16.104 10.6666 14.7475 10.6666 13.333" stroke="#393939" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
    <a href="" class="go-top"><img src="{{ theme_directory }}/images/cate/top.png" alt=""></a>
</div>
<!--/add cart-->

<!-- Menu -->
<!-- Khi ẩn thanh thông báo thêm class 'fxd-top' -->
<section id="block-menu" class="block-menu sticky-top">
    <div class="container">
        <!-- Menu -->
        <nav id="sidenav" class="main-menu">
            <div class="logo-on-mobile">
                <a href="{{ home }}"><img style="max-height: {{ logo_height }}px !important;" src="{{ logo }}" alt="logo"></a>
            </div>
            <ul class="menu">
                {% for idx, m in main_menu %}
                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                        <li class=" {{ result_active_menu == m.url ? 'active' : '' }}">
                            {# one level #}
                            <a class="link {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                        </li>
                    {% else %}
                        <li class="header-font has-child">
                            {# two levels #}
                            <a class="link" href="{{ m.url }}">{{ m.text }}</a>
                            <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                 viewBox="0 0 10 6" fill="none">
                                <path d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                      fill="#25292C" />
                            </svg>

                            <ul class="sub-menu">
                                {% for it in m.items %}
                                    <li>
                                        <a href="{{ it.url }}">{{ it.text }}</a>

                                        {# three levels #}
                                        {% if it.items is defined and it.items|length > 0 %}
                                            <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                                 viewBox="0 0 10 6" fill="none">
                                                <path d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                                      fill="#25292C" />
                                            </svg>
                                            <ul>
                                                {% for it3 in it.items %}
                                                    <li><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="user d-lg-none">
                {% if logged_in == '' %}
                    <ul>
                        <li><a href="{{ login }}">Đăng nhập</a></li>
                        <li><a href="{{ register }}">Đăng ký</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{ my_account }}">Tài khoản của tôi</a></li>
                        <li><a href="{{ logout }}">Đăng xuất</a></li>
                    </ul>
                {% endif %}
                <div class="log d-none">
                    <div class="log-thumb">
                        <img src="{{ theme_directory }}/images/home/default.jpg" alt="">
                    </div>
                    <div class="log--ct">
                        <div class="log-ct-name">
                            Username
                        </div>
                        <a class="log-ct-out" href="#">( {{ logout }} )</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /.Menu -->

        <!-- overlay -->
        <div class="block-overlay"></div>
        <div class="block-over"></div>
        <!-- /.overlay -->
    </div>
</section>
<!-- /.Menu -->

<!-- /.Header -->
