{{ header }}

<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb new">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">Tin tức</li>
            </ol>
        </nav>
        <!-- Main Content -->

        {% if titleCategory['title'] %}
            <h1 class="title-page">{{ titleCategory['title'] }}</h1>
        {% else %}
            <h1 class="title-page">Tin tức</h1>
        {% endif %}
        <div class="main-content pb-3 pb-md-5">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <div class="news-listing row">
                        {% for blog_key, blog in blog_list %}
                            <!-- News Item -->
                            <div class="col-12 col-lg-4">
                                <div class="news-item">
                                    <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                        <div class="img-wrap">
                                            <img data-src="{{ blog['image'] }}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ blog['title'] }}">
                                        </div>
                                    </a>
                                    <div class="d-flex text-second mt-2">
                                        <i class="icon icon-calendar bg-neutral-6 me-2"></i>
                                        <span>{{ blog['date_publish']|date('d/m/Y') }}</span>
                                    </div>
                                    <div class="news-info d-flex flex-wrap h-100">
                                        <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip">
                                            {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
                                        </a>
                                        <div class="news-desc">
                                            {{ blog['short_content']|length > 300
                                            ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                                            : blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: News Item -->
                        {% endfor %}
                    </div>
                    <!-- End: News Listing -->

                    <!-- Paginate -->
                    {{ pagination }}
                    <!-- End: Paginate -->
                </div>
                <!-- End: Col News Listing -->

                <div class="col-md-4">
                   <div class="sidebar sidebar-left">
                            <div class="block-sidebar mb-3">
                                <h2 class="box-title fw-bold fz-14 mb-2 text-left">DANH MỤC</h2>
                                <div id="blog-category-filter">
                                    <div class="menu-side menu-product" id="menu-product" style="-webkit-overflow-scrolling: touch;">
                                        <ul class="sub-menu">
                                            {% for category in blog_full_categories %}
                                                {% if category.parent_id == 0 %}
                                                    <li class="nav-item sub-menu-1 {% if category.blog_category_id == category_selected %} selected {% endif %}">
                                                        <a class="a-normal" title="{{ category.title }}" href="{{ category.url }}">{{ category.title }} <span id="count-product-in-category-{{ category.blog_category_id }}"></span></a>
                                                        {% if category.list_sub is not empty %}
                                                            <ul class="sub-menu sub-menu-2">
                                                                {% for subCategory in category.list_sub %}
                                                                    {% if subCategory.parent_id == category.blog_category_id %}
                                                                        <li class="{% if subCategory.blog_category_id == category_selected %} selected {% endif %}">
                                                                            <a class="a-normal" title="{{ subCategory.title }}" href="{{ subCategory.url }}">{{ subCategory.title }}</a>
                                                                            {% if subCategory.list_sub is not empty %}
                                                                                <ul class="sub-menu sub-menu-3">
                                                                                    {% for sub2Category in subCategory.list_sub %}
                                                                                        {% if sub2Category.parent_id == subCategory.blog_category_id %}
                                                                                            <li class="nav-item {% if sub2Category.blog_category_id == category_selected %} selected {% endif %}">
                                                                                                <a class="a-normal" title="{{ sub2Category.title }}" href="{{ sub2Category.url }}">{{ sub2Category.title }}</a>
                                                                                            </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endif %}
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="block-sidebar mb-3">
                                <h2 class="box-title fw-bold fz-14 mb-2 text-left">BÀI VIẾT MỚI</h2>
                                <div class="block-content p-3">
                                    <ul class="list-news">
                                        {% for blog_key, blog in blog_list_new if blog_key < 3 %}
                                            <li class="mb-3">
                                                <div class="img-wrap">
                                                    <img data-src="{{ blog['image'] }}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ blog['title'] }}">
                                                </div>
                                                <a href="{{ blog['link'] }}" class="fw-600 text-dark" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                                    {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                                </a>
                                                <div class="news-desc">
                                                    {{ blog['short_content']|length > 200
                                                    ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...'
                                                    : blog['short_content']|html_entity_decode|striptags }}
                                                </div>
                                                <div class="d-flex text-second mt-2">
                                                    <i class="icon icon-calendar bg-neutral-6 me-2"></i>
                                                    <span>{{ blog['date_publish']|date('d/m/Y') }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- End block-content -->
                            </div>
                            <!-- End block-sidebar -->
                            {% if tags is not empty %}
                                <div class="block-sidebar mb-3">
                                    <h2 class="box-title fw-bold fz-14 mb-2 text-left">TAGS</h2>
                                    <div class="block-content d-flex flex-wrap py-2">
                                        {% for tag in tags %}
                                            <a class="bg-light py-1 text-second me-2 mb-2 text-center px-3"
                                               href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                </div>
                <!-- End Col sidebar right -->
            </div>
            <!-- End row -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End: container -->
</main>

{{ footer }}
<script>
    $(document).ready(function () {
        $( "#blog-category-filter ul > li:has(li)" ).addClass( "list-item" );
        $( "#blog-category-filter ul > li:has(.selected)" ).addClass( "active" );
        const list = document.querySelectorAll('#blog-category-filter .list-item');

        function accordion(e){
            e.stopPropagation();
            if(this.classList.contains('active')){
                this.classList.remove('active');
            }
            else if(this.parentElement.parentElement.classList.contains('active')){
                this.classList.add('active');
            }
            else{
                for(i=0; i < list.length; i++){
                    list[i].classList.remove('active');
                }
                this.classList.add('active');
            }
        }
        for(i = 0; i < list.length; i++ ){
            list[i].addEventListener('click', accordion);
        }
    });
</script>