{{ header }}


<main class="main-content">
    <div class="container pb-5" id="contact-page">

        <nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
            </ol>
        </nav>
        
        {% if contacts_map %}
        <section class="g-map">
            {{ contacts_map.address|html_entity_decode }}
        </section>
        {% endif %}

        <div class="row my-5">
            {#<div class="col-12 col-md-6">#}
            {#    <h1 class="header-font mb-5 font-24 font-weight-normal">Thông tin liên hệ</h1>#}
            {#    <p class="font-weight-500 text-uppercase">địa chỉ</p>#}
            {#    <p class="d-flex sixth-color">#}
            {#        <span>{{ contacts_info.address }}</span>#}
            {#    </p>#}
            {#    <p class="font-weight-500 text-uppercase pt-3">SỐ ĐIỆN THOẠI</p>#}
            {#    <p><a href="tel:{{ contacts_info.phone }}" class="sixth-color">{{ contacts_info.phone }}</a></p>#}
            {#    <p class="font-weight-500 text-uppercase pt-3">MẠNG XÃ HỘI</p>#}
            {#    <div class="font-32 mb-3">#}
            {#        {% for social_config in social_configs %}#}
            {#            {% if  social_config.name == 'Facebook' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-fb second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif  social_config.name == 'Instagram' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-instagram second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif social_config.name == 'Youtube' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-youtube second-bg"></i>#}
            {#                </a>#}
            {#            {% endif %}#}
            {#            </a>#}
            {#        {% endfor %}#}
            {#        {% for social_config in social_configs %}#}
            {#            {% if  social_config.name == 'Facebook' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-fb second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif  social_config.name == 'Instagram' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-instagram second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif social_config.name == 'Youtube' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-youtube second-bg"></i>#}
            {#                </a>#}
            {#            {% endif %}#}
            {#            </a>#}
            {#        {% endfor %}#}
            {#    </div>#}
            {#</div> <!-- End col-md-6 -->#}
            
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-8 contact-form-left">
                    {% if contacts_email %}
                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <form id="contact-form" action="{{ href_submit_form }}" method="post">
                            <div class="row mb-4">
                                <div class="form-group col-12 col-md-6">
                                    <label class="text-uppercase" for="fullname">Tên <span class="text-danger">*</span></label>
                                    <input name="fullname" id="fullname" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                           class="form-control bg-light py-4 sixth-color border-secondary" placeholder="" required>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label class="text-uppercase" for="phone">Số điện thoại <span class="text-danger">*</span></label>
                                    <input name="phone" id="phone" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                           class="form-control bg-light py-4 sixth-color border-secondary" placeholder="" required>
                                </div>
                                <div class="form-group col-12 col-md-12">
                                    <label class="text-uppercase" for="email">Email <span class="text-danger">*</span></label>
                                    <input name="email" id="email" type="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                           class="form-control bg-light py-4 sixth-color border-secondary" placeholder="" required>
                                </div>
                            </div>
                            <label class="text-uppercase" for="your_mind">Nội dung <span class="text-danger">*</span></label>
                            <textarea name="your_mind" id="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                      class="form-control bg-light mb-3 sixth-color border-secondary" placeholder="" rows="8" required></textarea>
                            <button type="submit" class="btn btn-outline-secondary px-5 py-2 my-4 font-weight-500 text-white text-uppercase w-100">Gửi tin nhắn</button>
                        </form>
                    {% endif %}
                    </div>
                    
                    <div class="col-12 col-md-2 contact-info-right d-none">
                        {#<h5 class="font-24 font-weight-500 text-uppercase mb-3">Địa chỉ</h5>#}
                        {#<p class="d-flex">{{ contacts_info.address }}</p>#}
                        {#<p><a href="tel:{{ contacts_info.phone }}">{{ contacts_info.phone }}</a></p>#}
                        
                        {#<div class="mb-5">#}
                        {#    <p class="font-18 mb-3">Công ty cổ phần tư vấn thiết kế và xây dựng Fusio</p>#}
                        {#    <p class="font-18 mb-3">Villa 24, Imperia Garden, 203 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội</p>#}
                        {#    <p class="font-18 mb-3">0969 884 586</p>#}
                        {#</div>#}
                        
                        {#<h5 class="font-24 font-weight-500 text-uppercase mb-3">Email</h5>#}
                        {#<div class="font-32 mb-3">#}
                        {#    {% for social_config in social_configs %}#}
                        {#        {% if social_config.name == 'Facebook' %}#}
                        {#            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
                        {#                <i class="icon icon-fb second-bg"></i>#}
                        {#            </a>#}
                        {#        {% elseif social_config.name == 'Instagram' %}#}
                        {#            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
                        {#                <i class="icon icon-instagram second-bg"></i>#}
                        {#            </a>#}
                        {#        {% elseif social_config.name == 'Youtube' %}#}
                        {#            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
                        {#                <i class="icon icon-youtube second-bg"></i>#}
                        {#            </a>#}
                        {#        {% endif %}#}
                        {#        </a>#}
                        {#    {% endfor %}#}
                        {#</div>#}
                        
                        {#<div class="my-3">#}
                        {#    <p class="font-16">Chúng tôi khuyến khích bạn sử dụng mẫu trên trang này cho tất cả các yêu cầu dịch vụ khách hàng. Tuy nhiên, nếu vấn đề của bạn yêu cầu một email hoặc bạn đang muốn liên hệ với bộ phận khác tại casano, dưới đây là các địa chỉ email của chúng tôi:</p>#}
                        {#    <p class="font-16">Dịch vụ khách hàng: hello@jupitermedia.vn Hợp tác kinh doanh: info@jupitermedia.vn Truyền thông: jupitermedia.vn Tuyển dụng: jupitermedia.vn</p>#}
                        {#</div>#}
                        
                    </div>
                </div>
            </div> <!-- End col-md-6 -->
        </div> <!-- End row -->

    </div> <!-- End container -->

</main>
<!-- /.ELM PAGES -->
<style>
    .g-map iframe {
        width: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>