{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>

<main class="main-content">
    <div class="container pb-5">
        <nav aria-label="breadcrumb" class="my-4 mb-1">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        {% if order_products is not empty %}
        <h1 class="font-24 mb-4 text-uppercase">Giỏ hàng <span class="sixth-color font-14 text-lowercase ml-3 font-weight-400">( {{ order['amount'] }} sản phẩm )</span></h1>
        {% endif %}
        <div class="row">
            <div class="col-12 col-md-9 mt-3">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                        <i class="fa fa-exclamation-circle"></i> {{ error }}
                    </div>
                {% endif %}
                {% if order_products is not empty %}
                <table class="table border">
                    <tr class="bg-light">
                        <th class="font-weight-500 py-3 pl-5" colspan="3">SẢN PHẨM</th>
                        <th class="font-weight-500 text-center py-3 text-uppercase">ĐƠN GIÁ</th>
                        <th class="font-weight-500 text-center py-3 text-uppercase">SỐ LƯỢNG</th>
                        <th class="font-weight-500 text-center py-3 text-uppercase">THÀNH TIỀN</th>
                    </tr>
                    {% if order is not empty %}
                        {% for product in order['products'] %}
                            <tr>
                                <td class="text-center align-middle">
                                    <button type="button" class="close remove" aria-label="Close" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </td>
                                <td class="text-center align-middle" width="120">
                                    <img src="{{ product['image_url'] }}" width="80">
                                </td>
                                <td class="text-left align-middle">
                                    <a href="{{ product['url'] }}" class="fourth-color d-block mb-3" title="{{ product['name'] }}">{{ product['name']|length > 20 ? product['name']|slice(0, 20) ~ '...' : product['name'] }}</a>
                                    <span class="sixth-color">{{ product['attribute'] }}</span>
                                    {% if product['in_stock'] == false %}
                                        <span style="display: block; color: red; font-size: 13px">
                                            Sản phẩm vừa hết hàng
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle font-weight-500 font-16">{{ product['price_formart'] }}</td>
                                <td class="text-center align-middle">
                                    <div class="quantity-group-input">
                                        <button class="decrease">-</button>
                                        <input type="number" product-version-id="{{ product['product_version_id'] }}" product-id="{{ product['id'] }}" class="form-control product_quantity" value="{{ product['amount'] }}" min="1" max="9999">
                                        <button class="increase">+</button>
                                        <input type="hidden" name="product_id" value="{{ product['id'] }}">
                                        <input type="hidden" name="product_version_id" value="{{ product['product_version_id'] }}">
                                    </div>
                                </td>
                                <td class="text-center align-middle font-weight-500 font-16">{{ product['total_formart'] }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                {% else %}

                    <p>Bạn không có sản phẩm nào trong giỏ hàng</p>
                    <p><a style="    border: 1px solid #ccc;" class="btn btn-continue" href="{{ href_common_shop }}">Tiếp tục mua sắm</a></p>
                    <br/><br/><br/><br/>
                {% endif %}
            </div> <!-- End col-md-6 -->
            {% if order_products is not empty %}
            <div class="col-12 col-md-3 mt-3">
                <div class="border py-4 px-3 rounded-4 bg-light">
                    <p class="d-flex mb-3">
                        <span class=" text-uppercase sixth-color">Tổng tiền hàng:</span>
                        <span class="ml-auto">{{ order['into_money_formart'] }}</span>
                    </p>
                    <p class="d-flex mb-3">
                        <span class=" text-uppercase sixth-color">Phí vận chuyển:</span>
                        <span class="ml-auto">---</span>
                    </p>
                    <p class="d-flex mb-4">
                        <span class=" text-uppercase sixth-color">Tổng tạm tính:</span>
                        <span class="ml-auto">{{ order['into_money_formart'] }}</span>
                    </p>
                    <a class="btn btn-outline-secondary main-bg rounded-2 px-5 py-2 text-white w-100 text-uppercase font-weight-500 mb-3" {% if error %} href="javascript:void(0)" {% else %} href="{{ href_order_preview }}" {% endif %} {% if customer_is_login == false and error is empty %} data-toggle="modal" data-target="#user-not-account" {% endif %}>thanh toán ngay</a>
                    <a class="btn btn-outline-secondary border-secondary bg-white rounded-2 px-5 py-2 sixth-color w-100 text-uppercase font-weight-500" href="{{ href_common_shop }}">Tiếp tục mua sắm</a>
                </div>
            </div>
            {% endif %}
        </div> <!-- End row -->
    </div>
</main>
<!-------------------- /.PAGE ELEMENT ---------------------->
{#modal not account#}
<div id="user-not-account" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn đã có tài khoản?</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: #949494 !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_login }}">Đăng nhập ngay</a>
                <div>hoặc</div>
                <a style="line-height: 30px; height: 40px; border: 1px solid #EBEBEB; color: #949494 !important; background-color: inherit; text-transform: uppercase" class="btn" href="{{ href_order_preview }}">Tiếp tục với tư cách là Khách</a>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<script type="text/javascript">
    $('.remove').click(function () {
        var product_id = $(this).attr('product-id');
        var product_version_id = $(this).attr('product-version-id');
        var r = confirm('{{ text_remove_alert_confirm }}');
        if (r === true) {
            $.ajax({
                url: 'index.php?route=checkout/my_orders/remove_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                    product_version_id: product_version_id
                },
                success: function (json) {
                    console.log(json);
                    json = $.parseJSON(json)
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
    });

    $('.product_quantity').bind('change paste keyup', function () {
        var em = $(this); // retrieve the index
        var product_id = em.attr('product-id');
        var quantity = em.val();
        var product_version_id = em.attr('product-version-id');
        var validity = this.validity;

        //change input quantity validate
        if (!validity.valid && validity.rangeOverflow) {
            quantity = em.attr('max');
        }

        if (!validity.valid && validity.rangeUnderflow) {
            quantity = em.attr('min');
        }

        if (quantity == '') {
            quantity = 1;
        }

        delayOnChange(function () {
            $.ajax({
                url: 'index.php?route=checkout/my_orders/update_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                    quantity: quantity,
                    product_version_id: product_version_id,
                },
                success: function (json) {
                    location.reload();
                }
            });
        });
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500);
    }
</script>