<!DOCTYPE html>
<html lang="vi">
<body>
<div class="page-wrapper">
    {{ custom_header }}
    <!-- End header -->
    <div class="content-wrapper row m-0">
        {{custom_column_left}}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="page-header">
                    <div class="container-fluid d-flex justify-content-between">
                        <div class="app-logo">
                            <img src="{{ app_info.path_logo }}">
                            <span>{{ app_info.app_name }}</span>
                        </div>
                    </div>
                </div>
                <div class="content-alert">
                    <p>{{ text_alert_expiration }}</p>
                </div>
            </div>
        </main>
    </div>
</div>
<style>
    .container-fluid{
        background: #FFF;
        margin-top: 20px;
    }
    .border-tab{
        margin-top: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #CCC;
    }
    .app-logo img{
        width: 60px;
        margin-right: 10px;
    }
    .app-logo span{
        font-size: 16px;
        font-weight: bold;
    }
    .content-alert{
        text-align: center;
        width: 100%;
        margin-top: 100px;
        font-weight: bold;
        font-size: 16px;
    }
    .content-alert strong{
        color: #ED592A;
    }
</style>
{{ footer }}