<!DOCTYPE html>
<html lang="vi">
{{ custom_header }}
<body>
<div class="page-wrapper">
    <!-- End header -->
    <div class="content-wrapper row m-0">
        {{custom_column_left}}
        <!-- End col navbar -->
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="sub-head clearfix">
                    <h1>{{ heading_title }}</h1>
                </div>
                {% if extensions %}
                <div class="section-my-app">
                    <div class="content-app-heading">
                        <h4><span>{{ text_app_installed }} </span></h4>
                    </div>
                    <div class="box-content" id="app-content">
                        {% for extension in extensions %}
                        <div class="row app-content">
                                <div class="col-md-6 d-flex align-items-center">
                                        <div class="app-logo">
                                            <a href="{{ extension.link_edit }}">
                                                <img class="rounded border" src="{{ extension.path_logo }}">
                                            </a>
                                        </div>
                                        <div class="">
                                            <a href="{{ extension.link_edit }}">
                                                <h4>{{ extension.name }}</h4>
                                            </a>
                                        </div>
                                </div>

                                <div class="col-md-3 d-flex align-items-center">
                                {% if extension.removable and extension.removable == 'true' %}
                                    {% if extension.expiration_status %}
                                        <span class="alert-expiration">{{ text_expire }} : <strong> {{ extension.expiration_date }}</strong></span>
                                    {% else %}
                                        <span>{{ text_expire }} : <strong> {{ extension.expiration_date }}</strong></span>
                                    {% endif %}
                                {% endif %}
                                </div>
                                <div class="col-md-3 d-flex justify-content-between align-items-center">
                                    <span class="text-left"><a href="{{ extension.link_detail }}">{{ text_detail }}</a></span>
                                    {% if extension.removable and extension.removable == 'true' %}
                                        <span class="text-right"><a href="{{ extension.uninstall }}"  class="btn-delete-app"><i class="fa fa-trash"></i> </a></span>
                                    {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="section-pagination">
                        {{ pagination }}
                    </div>
                </div>
                {% else %}
                    <div class="empty-app">
                        <div class="col-md-12 text-center">
                            <img src="view/image/not_found.svg">
                            <p>{{ text_empty_app }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if false %}
                    <div class="section-app-suggest">
                        <div class="content-app-suggest d-flex justify-content-between">
                            <div>
                                <h4><span>{{ text_to_app_store }} </span></h4>
                                <p>{{ text_see_more_app }}</p>
                            </div>
                            <div>
                                <a href="{{ themes_store_link }}" class="btn btn-continue">{{ text_to_app_store }}</a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="row app-suggest">

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete-app" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ text_delete_app }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ text_alert_delete_app }}</p>
                <div style="width: 100%;text-align: right">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">{{ action_skip }}</button>
                    <button type="button" class="btn btn-primary btn-continue">{{ action_accept }}</button>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $(".btn-delete-app").click(function () {
        // open popup
        $(this).attr('data-toggle', 'modal');
        $(this).attr('data-target', '#delete-app');
        //go to link on modal close
        var url = $(this).attr('href');
        $('.btn-continue').click(function() {
            $('.btn-continue').off();
            window.location.href = url;
        });
        $('.btn-close').click(function() {
            $('#delete-app').modal('hide');
            $('.btn-close').off();
        });
    });
    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            window.location.href = href;
        }
    });

</script>
{{ footer }}