{{ header }}

<main class="main-content">
    <div class="container">

        <nav aria-label="breadcrumb" class="my-4 pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
            </ol>
        </nav>

        {% if error %}
            <div class="col-12 col-md-12">
                <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                    <i class="fa fa-exclamation-circle"></i> {{ error }}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 mt-3 mb-5 text-center d-flex">
                        <div class="title-left py-3 m-auto">
                            <h1 class="header-font font-32 letter-spacing-0">Đăng nhập</h1>
                            <span class="sixth-color">Bạn chưa có tài khoản? <a class="ml-2 fifth-color font-weight-500" href="{{ urlregister }}">Đăng ký</a></span>
                        </div>
                    </div> <!-- End col-md-6 -->
                    <div class="col-12 col-md-5 mt-3 mb-5 ml-auto">
                        <form id="login-form" action="{{ action }}" method="post" enctype="multipart/form-data">
                            {% if redirect %}
                                <input type="hidden" name="redirect" value="{{ redirect }}">
                            {% endif %}
                            <div class="form-group">
                                <input type="email" required name="email" id="" class="form-control" value="{{ email }}" placeholder="Email"
                                       aria-describedby="helpId">
                            </div>
                            <div class="form-group">
                                <div class="input-group input-password-group">
                                    <input type="password" name="password" class="form-control"
                                           placeholder="Mật khẩu" value="{{ password }}" aria-describedby="helpId" required>
                                    <button class="show-password" type="button"><i class="icon icon-eye"></i></button>
                                </div>
                            </div>
                            <div class="form-group d-flex mb-4">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="1" name="remember_password" class="custom-control-input" id="remember">
                                    <label class="custom-control-label pt-1" for="remember">Ghi nhớ</label>
                                </div>
                                <a class="fourth-color ml-auto pt-1" href="{{ urlforgotten }}">Quên mật khẩu</a>
                            </div>
                            <button type="submit" class="btn btn-outline-secondary main-bg px-4 py-2 text-white text-uppercase font-weight-500 mb-3" href="checkout-success.html">Đăng nhập</button>
                        </form>
                    </div> <!-- End col-md-6 -->
                </div> <!-- End row -->
            </div>
        </div> <!-- End row -->

    </div>
</main>

{{ footer }}