<div class="modal" tabindex="-1" role="dialog" id="categories-modal">
    <div class="modal-dialog modal-categories" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ entry_assign_category_popup_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control search-categories-input" placeholder="{{ placeholder_search_category }}">
                </div>
                <div class="categories-row">
                    <ul class="categories-col"></ul>
                    <ul class="categories-col"></ul>
                    <ul class="categories-col"></ul>
                    <ul class="categories-col"></ul>
                    <ul class="categories-col"></ul>
                </div>
                <div class="selected-category">
                    <span>{{ entry_selected }}: </span>
                    <span class="selected-category-text"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white btn-cancel-category" data-dismiss="modal">{{ button_skip }}</button>
                <button type="button" class="btn btn-save-category" disabled>{{ button_save_1 }}</button>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-save-category:hover {
        color: white;
    }

    .btn-save-category:disabled {
        background: #B5B5B5;
    }

    .btn-save-category {
        background: #ED592A;
        color: white;
    }

    .categories-row {
        display: flex;
        border: 1px solid #CED4DA;
        margin-bottom: 16px;
        overflow-x: auto;
    }

    .categories-col {
        height: 320px;
        border-left: 1px solid #fff;
        overflow-y: scroll;
        vertical-align: baseline;
        flex: 1;
        padding-left: 0px;
        margin-bottom: 0;
        min-width: 25%;
    }

    .categories-col > li {
        padding: 15px 6px 6px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .categories-col > li.active {
        color: #ED592A;
    }

    .categories-col > li:hover {
        background: #f5f5f5
    }

    .categories-col > li .icon-arrow-orange {
        background: #495057;
    }

    .categories-col > li.active .icon-arrow-orange {
        background: #ED592A;
    }

    .categories-row::-webkit-scrollbar {
        height: 5px;
    }

    .categories-col::-webkit-scrollbar {
        width: 12px;
        background-color: #DFE3E8;
    }

    .categories-col::-webkit-scrollbar-thumb {
        background-color: #B5B5B5;
        border-radius: 0;
    }

    .categories-col::-webkit-scrollbar-track {
        background: #DFE3E8;
    }

    .selected-category-text {
        color: #ED592A;
    }

    .modal-categories {
        max-width: 1000px;
    }

    @media (max-width: 768px) {
        .modal-categories {
            max-width: 600px;
        }
    }

    @media (max-width: 576px) {
        .modal-categories {
            max-width: 500px;
        }
    }
</style>

<script>
    var categories = [];
    var selectedCategories = [];
    var selectedCategoryId = null;

    var saveCategory = function () {
    }
    $('body').on('click', '.btn-save-category', function () {
        $('#categories-modal').modal('hide')
        saveCategory(selectedCategoryId, selectedCategories.join(' > '))
    })

    /**
     *
     * @param callback
     * @param categoryId
     */
    function showCategoryPopup(callback, categoryId = null) {
        $('#categories-modal').modal('show')
        saveCategory = callback

        if (categoryId) {
            let selectedCategories = getSelectedCategories(categoryId)
            renderCategoryByArray(selectedCategories.reverse());
        } else {
            getRootCategories();
        }
    }

    $('.search-categories-input').change(function (e) {
        getRootCategories($(this).val())
    })

    function renderCategoryByArray(selectedCategories) {
        for(let i = 0; i< selectedCategories.length; i ++) {
            let categories = selectedCategories[i].categories;
            let activeId = selectedCategories[i].activeId;
            let boxToAppend = $('.categories-row .categories-col').eq(i)
            let elements = '';

            for (let j = 0; j < categories.length; j++) {
                elements += '<li class="category-item '+(categories[j].shopee_category_id == activeId ? 'active' : '')+'" data-has-children="' + categories[j].has_children + '" data-category-id="' + categories[j].shopee_category_id + '">' +
                    '<span>' + categories[j].name + '</span>' +
                    (categories[j].has_children == 1 ? '<i class="icon icon-arrow icon-arrow-orange"></i>' : '') +
                    '</li>'
            }

            boxToAppend.html(elements)
        }
        renderSelectedCategoryText()
    }

    function getSelectedCategories(categoryId, result = []) {
        let category = getCategoriesById(categoryId)[0]
        let categorySibling = getChildCategoryById(category.parent_id)
        result.push({
            activeId: categoryId,
            categories: categorySibling
        })

        if(category.parent_id != 0) {
            getSelectedCategories(category.parent_id, result)
        }
        return result
    }

    function getRootCategories(keyword) {
        let dataResult = categories.filter(function (category, key) {
            if (keyword) {
                return category.parent_id == 0 && category.name.toLowerCase().search(keyword.toLowerCase()) >= 0
            } else {
                return category.parent_id == 0
            }
        });

        let element = '';
        for (let i = 0; i < dataResult.length; i++) {
            element += '<li class="category-item" data-has-children="' + dataResult[i].has_children + '" data-category-id="' + dataResult[i].shopee_category_id + '">' +
                '<span>' + dataResult[i].name + '</span>' +
                (dataResult[i].has_children == 1 ? '<i class="icon icon-arrow icon-arrow-orange"></i>' : '') +
                '</li>'
        }

        $(".categories-row").children().html('')
        $(".categories-row > .categories-col:first").append(element)
        $('.selected-category-text').html('')
        $('.btn-save-category').attr('disabled', true)
    }

    $('.categories-row').on('click', '.category-item', function () {
        let categoryId = $(this).data('category-id')
        let boxToAppend = $(this).parent().next();
        let dataResult = getChildCategoryById(categoryId)
        let element = '';

        if(boxToAppend.next().length == 0) {
            $('.categories-row .categories-col:last-child').css('display', 'block');
            $('.categories-row').scrollLeft('1000');
        } else {
            $('.categories-row').scrollLeft('0');
            $('.categories-row .categories-col:last-child').css('display', 'none');
        }

        for (let i = 0; i < dataResult.length; i++) {
            element += '<li class="category-item" data-has-children="' + dataResult[i].has_children + '" data-category-id="' + dataResult[i].shopee_category_id + '">' +
                '<span>' + dataResult[i].name + '</span>' +
                (dataResult[i].has_children == 1 ? '<i class="icon icon-arrow icon-arrow-orange"></i>' : '') +
                '</li>'
        }

        $(this).parent().children().removeClass('active')
        $(this).addClass('active')

        boxToAppend.html('')
        boxToAppend.next().html('')
        boxToAppend.next().next().html('')
        boxToAppend.next().next().next().html('')

        boxToAppend.append(element)

        if ($(this).data('has-children') == 0) {
            $('.btn-save-category').attr('disabled', false)
            selectedCategoryId = categoryId;
        } else {
            $('.btn-save-category').attr('disabled', true)
        }

        renderSelectedCategoryText();
    })

    function renderSelectedCategoryText() {
        let items = $('.categories-row').find('li.active')
        let resultArr = []
        for (let i = 0; i < items.length; i++) {
            resultArr.push(items.eq(i).find('span').html())
        }
        selectedCategories = resultArr;
        $('.selected-category-text').html(resultArr.join(' > '))
    }

    function getCategoriesById(categoryId) {
        return categories.filter(function (category, key) {
            return category.shopee_category_id == categoryId
        });
    }

    function getChildCategoryById(categoryId) {
        let result = categories.filter(function (category, key) {
            return category.parent_id == categoryId
        });
        return result;
    }


    function getCategories() {
        $.ajax({
            url       : 'index.php?route=sale_channel/shopee_upload/getCategories&user_token=' + getURLVar('user_token'),
            dataType  : 'json',
            beforeSend: function () {
            },
            complete  : function () {
            },
            success   : function (data) {
                categories = data
            }
        });
    }

    getCategories()
</script>