{# chon shop de upload #}
<div class="modal fade" id="select-store" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-16 text-center">{{ entry_select_store_to_up_product }}</h4>
            </div>
            <div class="modal-body">
                {% for shop in shops %}
                    <div class="custom-control custom-checkbox pt-2">
                        <input type="checkbox" name="shopee_shop" value="{{ shop['shop_id'] }}" class="custom-control-input" id="shopee_shop{{ shop['shop_id'] }}">
                        <label class="custom-control-label" for="shopee_shop{{ shop['shop_id'] }}">{{ shop['shop_name'] }}</label>
                    </div>
                {% endfor %}
                <br>
                <span style="color: #ED592A;">{{ warning_upload_product_note }}</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default confirm-cancel-edit"
                        data-dismiss="modal">{{ button_skip }}</button>
                <button type="submit" id="upload-product" class="btn btn-pink">{{ text_upload }}</button>
            </div>
        </div>
    </div>
</div>

<script>
    // process upload product to shopee
    $('#upload-product').on('click', function(){
        var selected = [];
        $('input[name="shopee_shop"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).val());
            }
        });
        if (selected.length == 0) {
            alert('{{ warning_select_at_least_1_shop }}');
            return false;
        }

        var ids = $('#product-content input[name="selected"]').val();
        if (ids !== 'all') {
            ids = JSON.parse(ids);
        }

        $.ajax({
            url: "index.php?route=sale_channel/shopee_upload/uploadProducts&user_token={{ user_token }}",
            method: 'POST',
            data: {
                ids: ids,
                shops: selected,
                status: '{{ status_tab }}'
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                window.location.reload();
            }
        });
    });
</script>