<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow"/>

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <!-- css add  -->

    {{ cssResource }}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/swiper/dist/css/swiper.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/font/montserrat.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/font/nunito.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/font/roboto.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/font/open_sans.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/bootstrap/dist/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/font-awesome/css/font-awesome.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/responsive.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/bestme.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/bootstrapValidator.min.css"/>#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/bootstrap-select.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/jquery-ui.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/stylesheet/custom.css">#}
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    {% block hscript %}
        <!-- javascript -->
        {{ jsResource }}
        {#<script src="{{ theme_directory }}/node_modules/jquery/dist/jquery.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/popper.min.js"#}
                {#integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
                {#crossorigin="anonymous"></script>#}
        {#<script src="{{ theme_directory }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
        {#<script type="text/javascript" src="{{ theme_directory }}/js/bootstrapValidator.min.js"></script>#}
        {#<script src="{{ theme_directory }}/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>#}
        {#<script src="{{ theme_directory }}/node_modules/swiper/dist/js/swiper.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
        {#<script src="{{ theme_directory }}/js/index.js"></script>#}
        {#<script src="{{ theme_directory }}/js/bootstrap-select.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}

        {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    {% endblock %} {# end of block hscript #}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>

<body class="home-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

{% if notify_bar.visible  == 1 %}
    <section id="block-banner-top" class="block-header-sale main-color text-center sticky-top">
        <div class="container-fluid">
            <a class="content-font" href="{{ notify_bar.url }}" style="font-weight: 500; color: #fff; display: block">
                {{ notify_bar.content }}
            </a>
        </div>
    </section>
{% endif %}

<header id="block-header" class="block-header d-none d-lg-block">
    <div class="container">
        <div class="flex-display">
            <!-- logo -->
            <div id="block-header-logo" class="block-header-logo bestme-block-header-logo">
                <a href="{{ home }}">
                    <img src="{{ logo }}"
                            {% if logo_height != '' %}
{#                                style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                class="custom-height"
                            {% endif %}
                         alt="">
                </a>
            </div>
            <!-- /.logo -->

            <!-- Search -->
            <div class="block-header-search">
                <form action="{{ urlserach }}" method="get">
                    <div class="form-group">
                        <input type="text" name="search" id="search" class="form-control content-font"
                               placeholder="Tìm kiếm sản phẩm" aria-describedby="helpId">
                        <div id="search-box"></div>
                        <input type="hidden" name="route" value="common/shop">
                        <button type="submit" class="btn btn-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                 fill="none">
                                <path d="M21.4999 21.5L15.8999 15.9" stroke="#969696" stroke-miterlimit="10"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                                <path
                                        d="M9.5 18.5C14.4706 18.5 18.5 14.4706 18.5 9.5C18.5 4.52944 14.4706 0.5 9.5 0.5C4.52944 0.5 0.5 4.52944 0.5 9.5C0.5 14.4706 4.52944 18.5 9.5 18.5Z"
                                        stroke="#969696" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <!-- /.Search -->

            <!-- Action -->
            <div class="block-header-action">
                <div class="action-heart mr-4">
                    {#<a href="{{ wishlist }}">#}
                    {#<svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22"#}
                    {#fill="none">#}
                    {#<path#}
                    {#d="M21.4921 3.00805C20.9349 2.45087 20.2734 2.00888 19.5455 1.70733C18.8175 1.40579 18.0373 1.25058 17.2493 1.25058C16.4613 1.25058 15.6811 1.40579 14.9531 1.70733C14.2252 2.00888 13.5637 2.45087 13.0065 3.00805C12.5865 3.42805 12.2701 3.90505 12.0001 4.40155C11.7338 3.88995 11.3942 3.41998 10.9921 3.00655C9.8668 1.8813 8.34064 1.24915 6.7493 1.24915C5.15796 1.24915 3.6318 1.8813 2.50655 3.00655C1.3813 4.1318 0.749146 5.65796 0.749146 7.2493C0.749146 8.84064 1.3813 10.3668 2.50655 11.4921L12.0001 20.7501L21.4921 11.4921C22.0495 10.9352 22.4918 10.274 22.7936 9.54609C23.0953 8.81821 23.2506 8.038 23.2506 7.25005C23.2506 6.46211 23.0953 5.68189 22.7936 4.95401C22.4918 4.22614 22.0495 3.56488 21.4921 3.00805V3.00805Z"#}
                    {#stroke="#969696" stroke-miterlimit="10" stroke-linecap="round"#}
                    {#stroke-linejoin="round" />#}
                    {#</svg>#}
                    {#</a>#}
                </div>
                <div class="action-cart mr-4">
                    <a href="{{ href_my_orders }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none">
                            <path d="M0.9375 0.9375H3.9375V15.9375H22.6875" stroke="#969696" stroke-miterlimit="10"
                                  stroke-linecap="square"/>
                            <path
                                    d="M5.4375 23.4375C6.68014 23.4375 7.6875 22.4301 7.6875 21.1875C7.6875 19.9449 6.68014 18.9375 5.4375 18.9375C4.19486 18.9375 3.1875 19.9449 3.1875 21.1875C3.1875 22.4301 4.19486 23.4375 5.4375 23.4375Z"
                                    stroke="#969696" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path
                                    d="M21.1875 23.4375C22.4301 23.4375 23.4375 22.4301 23.4375 21.1875C23.4375 19.9449 22.4301 18.9375 21.1875 18.9375C19.9449 18.9375 18.9375 19.9449 18.9375 21.1875C18.9375 22.4301 19.9449 23.4375 21.1875 23.4375Z"
                                    stroke="#969696" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path d="M3.9375 3.9375H21.1875L18.9375 12.9375H3.9375" stroke="#969696"
                                  stroke-miterlimit="10" stroke-linecap="square"/>
                        </svg>
                        <span class="count main-color text-center">
                                {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                            </span>
                    </a>
                </div>
                <div class="action-user">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="color: #25292C">{{ logged_user }}</span>
                            <svg class="icon-user" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none">
                                <path
                                        d="M12.2056 0.00174954C5.57906 -0.109088 0.115 5.0604 0.00178819 11.548C-0.0625162 15.2265 1.61211 18.5325 4.27848 20.7311C4.45283 20.5821 4.63985 20.4456 4.84771 20.3348L8.42838 18.4226C8.89798 18.1716 9.19052 17.6897 9.19052 17.1657V15.7292C9.19052 15.7292 8.13946 14.4985 7.73869 12.7885C7.4063 12.5779 7.1835 12.2139 7.1835 11.7993V10.2272C7.1835 9.8814 7.34064 9.57239 7.58472 9.35603V7.08341C7.58472 7.08341 7.10787 3.54679 12 3.54679C16.8921 3.54679 16.4153 7.08341 16.4153 7.08341V9.35603C16.6598 9.57239 16.8165 9.8814 16.8165 10.2272V11.7993C16.8165 12.3278 16.4542 12.7725 15.9624 12.921C15.6884 13.755 15.2931 14.5499 14.7705 15.2726C14.6387 15.4548 14.5156 15.6091 14.4078 15.7292V17.202C14.4078 17.7443 14.7207 18.2404 15.2161 18.4824L19.0504 20.3591C19.2804 20.4718 19.4883 20.6141 19.6798 20.7723C22.2656 18.6611 23.9361 15.5044 23.9982 11.9496C24.1123 5.46207 18.8326 0.112588 12.2056 0.00174954Z"
                                        fill="#969696"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if logged_in == '' %}
                                <a class="dropdown-item" href="{{ login }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C"/>
                                    </svg>
                                    <span>Đăng nhập</span>
                                </a>
                                <a class="dropdown-item" href="{{ register }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C"/>
                                    </svg>
                                    <span>Đăng kí</span>
                                </a>
                            {% elseif logged_in > 0 %}
                                <a class="dropdown-item" href="{{ my_account }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C"/>
                                    </svg>
                                    <span>Tài khoản của tôi</span>
                                </a>
                                <a class="dropdown-item" href="{{ logout }}">
                                    <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                         viewBox="0 0 14 13" fill="none">
                                        <path
                                                d="M5.8 4.09767V1.75418C5.8 1.54701 5.88429 1.34832 6.03432 1.20182C6.18435 1.05532 6.38783 0.973022 6.6 0.973022H12.2C12.4122 0.973022 12.6157 1.05532 12.7657 1.20182C12.9157 1.34832 13 1.54701 13 1.75418V11.1281C13 11.3353 12.9157 11.534 12.7657 11.6805C12.6157 11.827 12.4122 11.9093 12.2 11.9093H6.6C6.38783 11.9093 6.18435 11.827 6.03432 11.6805C5.88429 11.534 5.8 11.3353 5.8 11.1281V8.78463"
                                                stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round"
                                                stroke-linejoin="round"/>
                                        <path d="M9.8 6.44116H1" stroke="#25292C" stroke-miterlimit="10"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M3.4 4.09766L1 6.44114L3.4 8.78462" stroke="#25292C"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>Đăng xuất</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Action -->
        </div>
    </div>
</header>

<!-- Menu -->
<!-- Khi ẩn thanh thông báo thêm class 'fxd-top' -->
<section id="block-header-menu" class="block-header-menu {% if notify_bar.visible != 1%} fixed-top-0 {% endif %} bestme-block-header-menu">
    <div class="container">
        <div class="flex-display">
            <!-- logo -->
            <style>
                @media (max-width: 768px) {
                    #sidenav {
                        background-image: inherit;
                    }
                }
            </style>
            <div class="block-header-logo">
                <a href="{{ home }}"><img src="{{ logo }}" alt=""></a>
            </div>
            <!-- /.logo -->

            <!-- Menu -->
            <nav id="sidenav" class="main-menu">
                <img class="logo-menu" src="{{ logo }}" alt="">
                <ul>
                    {% for idx, m in main_menu %}
                        {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                            <li class="header-font {{ result_active_menu == m.url ? 'active' : '' }} {{ main_menu|length > 10 ? 'over-item' : '' }} ">
                                {# one level #}
                                {#<a class="{{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>#}
                                <a class="{{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                            </li>
                        {% else %}
                            <li class="header-font has-child {{ main_menu|length > 10 ? 'over-item' : '' }}">
                                {# two levels #}
                                <a class="{{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10" height="6"
                                     viewBox="0 0 10 6" fill="none">
                                    <path
                                            d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                            fill="#25292C"/>
                                </svg>
                                <ul class="sub-menu" aria-labelledby="navbarFeatureMenu">
                                    {% for it in m.items %}
                                        <li>
                                            <a href="{{ it.url }}">{{ it.text }}</a>
                                            {% if it.items is defined and it.items|length > 0 %}
                                                <svg class="accodition" xmlns="http://www.w3.org/2000/svg" width="10"
                                                     height="6"
                                                     viewBox="0 0 10 6" fill="none">
                                                    <path
                                                            d="M0.669162 0.629922C0.615535 0.685235 0.572992 0.750919 0.543966 0.82322C0.51494 0.89552 0.5 0.973019 0.5 1.05129C0.5 1.12955 0.51494 1.20705 0.543966 1.27935C0.572992 1.35165 0.615535 1.41734 0.669162 1.47265L4.58694 5.52101C4.64051 5.57638 4.70412 5.62031 4.77414 5.65028C4.84416 5.68025 4.91922 5.69568 4.99501 5.69568C5.07081 5.69568 5.14587 5.68025 5.21589 5.65028C5.28591 5.62031 5.34952 5.57638 5.40309 5.52101L9.32087 1.47265C9.37663 1.41784 9.42121 1.35207 9.45197 1.27919C9.48272 1.20632 9.49904 1.12783 9.49996 1.04834C9.50088 0.96885 9.48637 0.889977 9.4573 0.816368C9.42823 0.742759 9.38519 0.675904 9.3307 0.619744C9.27622 0.563583 9.2114 0.519253 9.14006 0.489368C9.06872 0.459483 8.99231 0.444647 8.91533 0.445735C8.83835 0.446822 8.76236 0.46381 8.69184 0.4957C8.62132 0.527588 8.5577 0.573733 8.50472 0.631411L4.99501 4.25841L1.48531 0.631412C1.43183 0.57594 1.3683 0.531895 1.29833 0.501796C1.22836 0.471697 1.15333 0.456133 1.07753 0.455995C1.00173 0.455856 0.926654 0.471147 0.856583 0.500991C0.786511 0.530834 0.722824 0.574646 0.669162 0.629922Z"
                                                            fill="#25292C"/>
                                                </svg>
                                                <ul>
                                                    {% for it3 in it.items %}
                                                        <li><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <!-- /.Menu -->

            <!-- overlay -->
            <div class="block-overlay"></div>
            <!-- /.overlay -->


            <!-- Action -->
            <div class="block-header-action">
                <div class="action-search mr-4">
                    <a href="javascript:void(0)" class="toogle-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                             fill="none">
                            <path d="M21.4999 21.5L15.8999 15.9" stroke="#969696" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path
                                    d="M9.5 18.5C14.4706 18.5 18.5 14.4706 18.5 9.5C18.5 4.52944 14.4706 0.5 9.5 0.5C4.52944 0.5 0.5 4.52944 0.5 9.5C0.5 14.4706 4.52944 18.5 9.5 18.5Z"
                                    stroke="#969696" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"/>
                        </svg>
                    </a>
                    <!-- Search -->
                    <div class="block-header-search search-sticky">
                        <form action="{{ urlserach }}" method="get">
                            <div class="form-group" id="search-scroll">
                                <input type="text" name="search" id="search" class="form-control content-font"
                                       placeholder="Tìm kiếm sản phẩm" aria-describedby="helpId">
                                <input type="hidden" name="route" value="common/shop">
                                <div id="search-box"></div>
                                <button type="submit" class="btn btn-search">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                         fill="none">
                                        <path d="M21.4999 21.5L15.8999 15.9" stroke="#969696" stroke-miterlimit="10"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path
                                                d="M9.5 18.5C14.4706 18.5 18.5 14.4706 18.5 9.5C18.5 4.52944 14.4706 0.5 9.5 0.5C4.52944 0.5 0.5 4.52944 0.5 9.5C0.5 14.4706 4.52944 18.5 9.5 18.5Z"
                                                stroke="#969696" stroke-miterlimit="10" stroke-linecap="round"
                                                stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.Search -->
                </div>
                <div class="action-heart mr-4 d-none">
                    {#<a href="{{ wishlist }}">#}
                    {#<svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22"#}
                    {#fill="none">#}
                    {#<path#}
                    {#d="M21.4921 3.00805C20.9349 2.45087 20.2734 2.00888 19.5455 1.70733C18.8175 1.40579 18.0373 1.25058 17.2493 1.25058C16.4613 1.25058 15.6811 1.40579 14.9531 1.70733C14.2252 2.00888 13.5637 2.45087 13.0065 3.00805C12.5865 3.42805 12.2701 3.90505 12.0001 4.40155C11.7338 3.88995 11.3942 3.41998 10.9921 3.00655C9.8668 1.8813 8.34064 1.24915 6.7493 1.24915C5.15796 1.24915 3.6318 1.8813 2.50655 3.00655C1.3813 4.1318 0.749146 5.65796 0.749146 7.2493C0.749146 8.84064 1.3813 10.3668 2.50655 11.4921L12.0001 20.7501L21.4921 11.4921C22.0495 10.9352 22.4918 10.274 22.7936 9.54609C23.0953 8.81821 23.2506 8.038 23.2506 7.25005C23.2506 6.46211 23.0953 5.68189 22.7936 4.95401C22.4918 4.22614 22.0495 3.56488 21.4921 3.00805V3.00805Z"#}
                    {#stroke="#969696" stroke-miterlimit="10" stroke-linecap="round"#}
                    {#stroke-linejoin="round" />#}
                    {#</svg>#}
                    {#</a>#}
                </div>
                <div class="action-cart mr-4">
                    <a href="{{ href_my_orders }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none">
                            <path d="M0.9375 0.9375H3.9375V15.9375H22.6875" stroke="#969696" stroke-miterlimit="10"
                                  stroke-linecap="square"/>
                            <path
                                    d="M5.4375 23.4375C6.68014 23.4375 7.6875 22.4301 7.6875 21.1875C7.6875 19.9449 6.68014 18.9375 5.4375 18.9375C4.19486 18.9375 3.1875 19.9449 3.1875 21.1875C3.1875 22.4301 4.19486 23.4375 5.4375 23.4375Z"
                                    stroke="#969696" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path
                                    d="M21.1875 23.4375C22.4301 23.4375 23.4375 22.4301 23.4375 21.1875C23.4375 19.9449 22.4301 18.9375 21.1875 18.9375C19.9449 18.9375 18.9375 19.9449 18.9375 21.1875C18.9375 22.4301 19.9449 23.4375 21.1875 23.4375Z"
                                    stroke="#969696" stroke-miterlimit="10" stroke-linecap="square"/>
                            <path d="M3.9375 3.9375H21.1875L18.9375 12.9375H3.9375" stroke="#969696"
                                  stroke-miterlimit="10" stroke-linecap="square"/>
                        </svg>
                        <span class="count main-color text-center">
                                {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}
                            </span>
                    </a>
                </div>
                <div class="action-user">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="color: #25292C">{{ logged_user }}</span>
                            <svg class="icon-user" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24" fill="none">
                                <path
                                        d="M12.2056 0.00174954C5.57906 -0.109088 0.115 5.0604 0.00178819 11.548C-0.0625162 15.2265 1.61211 18.5325 4.27848 20.7311C4.45283 20.5821 4.63985 20.4456 4.84771 20.3348L8.42838 18.4226C8.89798 18.1716 9.19052 17.6897 9.19052 17.1657V15.7292C9.19052 15.7292 8.13946 14.4985 7.73869 12.7885C7.4063 12.5779 7.1835 12.2139 7.1835 11.7993V10.2272C7.1835 9.8814 7.34064 9.57239 7.58472 9.35603V7.08341C7.58472 7.08341 7.10787 3.54679 12 3.54679C16.8921 3.54679 16.4153 7.08341 16.4153 7.08341V9.35603C16.6598 9.57239 16.8165 9.8814 16.8165 10.2272V11.7993C16.8165 12.3278 16.4542 12.7725 15.9624 12.921C15.6884 13.755 15.2931 14.5499 14.7705 15.2726C14.6387 15.4548 14.5156 15.6091 14.4078 15.7292V17.202C14.4078 17.7443 14.7207 18.2404 15.2161 18.4824L19.0504 20.3591C19.2804 20.4718 19.4883 20.6141 19.6798 20.7723C22.2656 18.6611 23.9361 15.5044 23.9982 11.9496C24.1123 5.46207 18.8326 0.112588 12.2056 0.00174954Z"
                                        fill="#969696"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if logged_in == '' %}
                                <a class="dropdown-item" href="{{ login }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C"/>
                                    </svg>
                                    <span>Đăng nhập</span>
                                </a>
                                <a class="dropdown-item" href="{{ register }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C"/>
                                    </svg>
                                    <span>Đăng kí</span>
                                </a>
                            {% elseif logged_in > 0 %}
                                <a class="dropdown-item" href="{{ my_account }}">
                                    <svg class="icon1" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                         viewBox="0 0 14 14" fill="none">
                                        <path
                                                d="M7 0.746094C3.31999 0.746094 0.333328 3.66243 0.333328 7.25577C0.333328 10.8491 3.31999 13.7654 7 13.7654C10.68 13.7654 13.6667 10.8491 13.6667 7.25577C13.6667 3.66243 10.68 0.746094 7 0.746094ZM7 2.699C8.10666 2.699 9 3.57129 9 4.6519C9 5.7325 8.10666 6.6048 7 6.6048C5.89333 6.6048 5 5.7325 5 4.6519C5 3.57129 5.89333 2.699 7 2.699ZM7 11.9427C5.33333 11.9427 3.85999 11.1095 2.99999 9.84662C3.01999 8.55119 5.66666 7.84164 7 7.84164C8.32666 7.84164 10.98 8.55119 11 9.84662C10.14 11.1095 8.66666 11.9427 7 11.9427Z"
                                                fill="#25292C"/>
                                    </svg>
                                    <span>Tài khoản của tôi</span>
                                </a>
                                <a class="dropdown-item" href="{{ logout }}">
                                    <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="14" height="13"
                                         viewBox="0 0 14 13" fill="none">
                                        <path
                                                d="M5.8 4.09767V1.75418C5.8 1.54701 5.88429 1.34832 6.03432 1.20182C6.18435 1.05532 6.38783 0.973022 6.6 0.973022H12.2C12.4122 0.973022 12.6157 1.05532 12.7657 1.20182C12.9157 1.34832 13 1.54701 13 1.75418V11.1281C13 11.3353 12.9157 11.534 12.7657 11.6805C12.6157 11.827 12.4122 11.9093 12.2 11.9093H6.6C6.38783 11.9093 6.18435 11.827 6.03432 11.6805C5.88429 11.534 5.8 11.3353 5.8 11.1281V8.78463"
                                                stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round"
                                                stroke-linejoin="round"/>
                                        <path d="M9.8 6.44116H1" stroke="#25292C" stroke-miterlimit="10"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M3.4 4.09766L1 6.44114L3.4 8.78462" stroke="#25292C"
                                              stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span>Đăng xuất</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="open-sidemenu">
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                </div>
            </div>
            <!-- /.Action -->
        </div>
    </div>
</section>
<!-- /.Menu -->
<style>
    .fixed-top-0 {
        top: 0 !important;
    }

    #search-box ul {
        position: absolute;
        z-index: 99999;
        border: 1px solid #ccc;
        background: #fff;
        padding: 10px;
        border-radius: 7px;
        margin-top: 10px;
        right: 0;
    }

    #search-box ul li {
        list-style: none;
    }

    #search-box ul li a {
        color: #000;
    }
    #search-box ul li a:hover{
        color: #CA6971;
    }
</style>
<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            var search = $(this).val();
            $.ajax({
                type: "POST",
                url: "{{ search }}",
                timeout: 1000,
                cache: false,
                data: {
                    search: search
                },
                success: function (data) {
                    $("#search-box").html(data).show();
                }
            });
        });
    });

    function fill_search(val) {
        $('#search').val(val);
        $('#search-box').hide();
    }
</script>
