{{ custom_header }}
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb.href != '' %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                    <div class="box-wrap bg-none">
                        <form action="{{ action }}" method="post" class="add-blog-form form-fix-head">
                            <input type="hidden" name="page_id" value="{{ content_info.page_id }}">
                            <input type="hidden" name="source" value="{{ content_info.source }}">
                            <div class="sub-head clearfix pb-3 fix-on-scroll">
                                <div class="fix-content col clearfix">
                                    <h1 class="page-title float-left font-20">{{ add_heading_title }}</h1>
                                    <button type="submit"
                                            class="advance-link btn float-right">{{ contents_form_button_save }}</button>
                                    <a href="{{ cancel }}"
                                       class="btn btn-light float-right border bg-white mr-2">{{ contents_form_button_cancel }}</a>
                                </div>
                                {% if error_warning %}
                                    <br>
                                    <div class="alert alert-danger alert-dismissible"><i
                                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    </div>
                                {% endif %}
                                <a id="preview" href="#" class="text-pink my-3 d-inline-block" style="cursor: pointer"><i class="icon icon-eye bg-pink mr-2"></i> {{ txt_preview_on_website }}</a>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-8 form-left">
                                    <div class="box-content bg-white mb-3 shadow-sm">
                                        <div class="form-group">
                                            <label for="title" class="font-weight-normal">{{ txt_title }}</label>
                                            <input id="title" required type="text" maxlength="256" name="title"
                                                   value="{{ content_info.title }}" class="form-control"
                                                   placeholder="{{ txt_title_place_holder }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="description"
                                                   class="font-weight-normal">{{ txt_description }}</label>
                                            <textarea id="description" name="description" class="form-control text-editor"
                                                      placeholder="{{ txt_description }}"
                                                      rows="8">{{ content_info.description }}</textarea>
                                        </div>
                                    </div>

                                    <div class="box-content repeater bg-white" id="attribute-product">
                                        <div class="clearfix mb-3">
                                            <span class="float-left text-uppercase">{{ txt_preview }}</span>
                                            <a class="float-right" data-toggle="collapse" href="#collapseSeoInput"
                                               role="button" aria-expanded="false"
                                               aria-controls="collapseSeoInput">{{ txt_custom_seo }}</a>
                                        </div>
                                        <p class="mb-0">{{ txt_custom_seo_des }}</p>

                                        <!-- Only show in EDIT form -->
                                        <div class="seo-preview mt-3">
                                            <a class="d-block" id="title" href="#">{{ seo_preview_title }}</a>
                                            <a class="d-block" href="#" id="alias">{{ server_name }}<span>{{ seo_preview_alias }}</span></a>
                                            <span id="description">{{ seo_preview_description }}</span>
                                        </div>

                                        <div class="collapse mx-n4 px-4 pt-4 border-top mt-3" id="collapseSeoInput">
                                            <div class="form-group">
                                                <label class="font-weight-normal d-block">{{ txt_title }}<span
                                                            class="font-13 text-secondary float-right"
                                                            id="count-text">{{ txt_used }}: <span
                                                                id="count_characters_title">0</span>/70 {{ txt_characters }}</span></label>
                                                <input id="name" type="text" maxlength="70" name="seo_title"
                                                       class="form-control" value="{{ content_info.seo_title }}"
                                                       placeholder="{{ txt_title_place_holder }}">
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-normal d-block">{{ txt_description }}<span
                                                            class="font-13 text-secondary float-right"
                                                            id="count-text">{{ txt_used }}: <span
                                                                id="count_characters_des">0</span>/320 {{ txt_characters }}</span></label>
                                                <textarea id="body" maxlength="320" name="seo_description"
                                                          class="form-control editor" rows="3"
                                                          placeholder="{{ txt_description_place_holder }}">{{ content_info.seo_description }}</textarea>
                                            </div>
                                            <div class="form-group m-0">
                                                <label for="alias" class="font-weight-normal">{{ txt_alias }}</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-white border-right-0 pr-0"
                                                              id="basic-addon1">{{ server_name }}</span>
                                                    </div>
                                                    <input id="alias" type="text" name="alias"
                                                           class="form-control border-left-0 pl-0"
                                                           value="{{ content_alias }}" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div> <!-- End form left -->

                                <div class="col-12 col-lg-4 form-right">
                                    <div class="box-content bg-white mb-3 shadow-sm">
                                        <p class="font-weight-500 text-uppercase">{{ txt_filter_status }}</p>
                                        <div class="form-group mb-1">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="1"
                                                       {% if content_info.status == '1' or content_info.status is empty %}checked{% endif %}
                                                       name="status" class="custom-control-input" id="status-publish">
                                                <label class="custom-control-label pl-2"
                                                       for="status-publish">{{ txt_filter_status_show }}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" value="0"
                                                       {% if content_info.status == '0' %}checked{% endif %}
                                                       name="status" class="custom-control-input" id="status-unpublish">
                                                <label class="custom-control-label pl-2"
                                                       for="status-unpublish">{{ txt_filter_status_hide }}</label>
                                            </div>
                                        </div>
                                    </div> <!-- End box content -->
                                </div>
                            </div> <!-- End row -->
                        </form>
                    </div>
                </div>
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>
<div id="image-loading"></div>
<script src="view/javascript/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $('#name').keyup(function () {
        var len = $(this).val().length;
        $('#count_characters_title').html(len);
    });
    $('#body').keyup(function () {
        var len = $(this).val().length;
        $('#count_characters_des').html(len);
    });

    $('#preview').on('click', function (e) {
        e.preventDefault();
        var title = $('input[name="title"]').val();
        var description = CKEDITOR.instances['description'].getData();
        var form = '';
        form += '<input type="hidden" name="title" value="' + title + '">';
        form += '<textarea type="hidden" name="description">' + description + '</textarea>';
        $('<form action="{{ preview }}" method="POST" target="_blank">' + form + '</form>').appendTo('body').submit();
    });
    $('#alias').on('click', function (e) {
        e.preventDefault();
    })

    function convertToSlug(Text)
    {
        return Text
            .toLowerCase()
            .replace(/[^\w ]+/g,'')
            .replace(/ +/g,'-')
            ;
    }

    var upload_image = "{{ upload_image }}";
    var filemanager = '{{ filemanager }}';



    {% if not is_on_mobile %}
    CKEDITOR.replace('description',{
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: '{{ base_url }}view/javascript/ckeditor/page_content_config.js'
    });
    {% else %}
    CKEDITOR.replace('description',{
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: '{{ base_url }}view/javascript/ckeditor/page_content_config_mobile.js'
    });
    {% endif %}
</script>
{{ footer }}