{{ custom_header }}
<!-- End header -->
<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0 mobile-space">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="box-wrap bg-none">
                    <form action="{{ action }}" method="post" class="section-form form-fix-head"
                          id="create-payment-voucher-form">
                        {% if payment_voucher_id and not payment_voucher_is_canceled %}
                            <input type="hidden" name="payment_voucher_id" value="{{ payment_voucher_id }}">
                        {% endif %}
                        <input type="hidden" name="type_criteria_allocation" value="{{ allocation_criteria_type }}">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">{{ text_form }}</h1>
                                {% if permission_modify %}
                                <div class="btn-group float-right">
                                    {% if payment_voucher_id and not payment_voucher_is_canceled %}
                                        <button type="submit" name="submit_type" value="apply"
                                                class="btn btn-pink save-and-approved">{{ text_update_payment_voucher }}</button>
                                        <button type="button" class="btn btn-pink dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                data-offset="0, 10">
                                            <span class="sr-only"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item button-submit" type="submit"
                                                    name="submit_type"
                                                    value="apply">{{ text_update_payment_voucher }}</button>
                                            <button class="dropdown-item button-submit"
                                                    id="button-show-modal-cancel"
                                                    data-toggle="modal"
                                                    data-target="#update-receipt-voucher-status"
                                                    name="cancel_payment">{{ text_cancel_payment_voucher }}</button>
                                        </div>
                                    {% elseif not payment_voucher_is_canceled %}
                                        <button type="submit" name="submit_type" value="apply"
                                                class="btn btn-pink save-and-approved">{{ text_create_payment_voucher }}</button>
                                    {% endif %}
                                </div>
                                {% endif %}
                                <a href="{{ cancel }}" href="javascript:void(0)"
                                   class="btn btn-light float-right border bg-white  mr-2">{{ button_cancel }}</a>
                            </div>
                        </div>
                        {% if status == 99 %}
                            <p class="text-danger">{{ text_deleted_or_no_exist }}</p>
                        {% endif %}
                        {% if error_warning %}
                            <br>
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if error_validate %}
                            {% for error in error_validate %}
                                <div class="alert alert-danger alert-dismissible"><i
                                            class="fa fa-exclamation-circle"></i> {{ error }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="box-content bg-white row">
                            <div class="col-6 col-lg-6 form-left">
                                <div class="row">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="row">
                                            <div class="col-2">
                                                <label for="select-store">{{ entry_store }}<span
                                                            class="text-danger">*</span></label>
                                            </div>
                                            <div class="form-group col-9">
                                                <select class="form-control select2-store" id="select-store"
                                                        name="store_id"
                                                        {% if payment_voucher_id %} disabled {% endif %}
                                                        data-placeholder="{{ placeholder_store }}">
                                                    {% if payment_voucher_id %} disabled {% endif %}
                                                    {% if payment_voucher_id %}
                                                        <option value="" selected>{{ store_name }}</option>
                                                    {% endif %}
                                                </select>
                                                <div class="select-2-dropdown-payment-store"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="row">
                                            <div class="col-2">
                                                <label for="select-payment-type">{{ entry_payment_type }}<span
                                                            class="text-danger">*</span></label>
                                            </div>
                                            <div class="form-group col-9">
                                                <select class="form-control select2-store" id="select-payment-type"
                                                        name="payment_type_id"
                                                        {% if payment_voucher_id %} disabled {% endif %}
                                                >
                                                    <option value="" {% if not payment_type_id %}
                                                        selected {% endif %} disabled> {{ placeholder_payment_type }}
                                                    </option>
                                                    {% for payment_voucher_type in payment_voucher_types %}
                                                        <option value="{{ payment_voucher_type.payment_voucher_type_id }}" {% if payment_type_id == payment_voucher_type.payment_voucher_type_id %} selected {% endif %}>
                                                            {{ payment_voucher_type.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <div class="select-2-dropdown-payment-store"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row input-payment-type-other-box">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="row">
                                            <div class="col-2">
                                            </div>
                                            <div class="form-group col-9">
                                                <input class="form-control select2-store"
                                                       id="input-payment-type-other"
                                                       name="payment_type_other"
                                                       placeholder="{{ placeholder_payment_type_other }}"
                                                       value="{{ payment_type_other }}"
                                                        {% if payment_voucher_id %} disabled {% endif %}
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="row">
                                            <div class="col-2">
                                                <label for="select-method">{{ entry_payment_method }}<span
                                                            class="text-danger">*</span></label>
                                            </div>
                                            <div class="form-group col-9">
                                                <select class="form-control select2-store" id="select-method"
                                                        name="method_id"
                                                        {% if payment_voucher_id %} disabled {% endif %}>
                                                    <option value=""
                                                            {% if not voucher_payment_id %} selected {% endif %}
                                                            disabled
                                                    >{{ placeholder_payment_method }}</option>
                                                    {% for method in methods %}
                                                        <option value="{{ method.cash_flow_method_id }}" {% if method.cash_flow_method_id == method_id %} selected {% endif %}>{{ method.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="select-2-dropdown-payment-store"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-6 form-left">
                                <div class="row">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-2">
                                                <label for="select-object">{{ entry_object }}</label>
                                            </div>
                                            <div class="form-group col-9">
                                                <select class="form-control select2-object"
                                                        id="select-object"
                                                        name="object_id"
                                                        {% if payment_voucher_id %} disabled {% endif %}
                                                >
                                                    <option value="" selected>{{ placeholder_object }}</option>
                                                    {% for object in objects %}
                                                        <option value="{{ object.cash_flow_object_id }}" {% if object_id == object.cash_flow_object_id %} selected {% endif %}>
                                                            {{ object.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <div class="select-2-dropdown-payment-store"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="form-group row">
                                            <div class="col-1"></div>
                                            <div class="col-2">
                                                <label for="object-info">{{ entry_prepared_by }}</label>
                                            </div>
                                            {% if payment_voucher_id %}
                                                <div class="col-9 object-info object-info__disable">
                                                    <input class="form-control select2-store" id="object-info"
                                                           name=""
                                                           value="{{ object_info.name }}"
                                                           placeholder="{{ placeholder_prepared_by }}" disabled>
                                                    <div class="select-2-dropdown-payment-store"></div>
                                                </div>
                                            {% else %}
                                                <div class="col-9 object-info object-info__disable">
                                                    <input class="form-control select2-store" id="object-info"
                                                           name=""
                                                           placeholder="{{ placeholder_prepared_by }}" disabled>
                                                </div>
                                                <div class="col-9 object-info object-info-hide object-info__select-customer">
                                                    <select class="form-control select2-store" id="object-info"
                                                            name="object_info[customer]"
                                                            data-width="100%"
                                                            data-placeholder="{{ placeholder_prepared_by }}"></select>
                                                </div>
                                                <div class="col-9 object-info object-info-hide object-info__select-staff">
                                                    <select class="form-control select2-store" id="object-info-1"
                                                            name="object_info[staff]"
                                                            data-width="100%"
                                                            data-placeholder="{{ placeholder_prepared_by }}">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-9 object-info object-info-hide object-info__select-manufacturer">
                                                    <select class="form-control select2-store" id="object-info-2"
                                                            name="object_info[manufacturer]"
                                                            data-width="100%"
                                                            data-placeholder="{{ placeholder_prepared_by }}"> </select>
                                                </div>
                                                <div class="col-9 object-info object-info-hide object-info__select-shipping-partner">
                                                    <select class="form-control select2-store"
                                                            id="object-info-3"
                                                            name="object_info[shipping-partner]"
                                                            data-width="100%"
                                                            data-placeholder="{{ placeholder_prepared_by }}">
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-9 object-info object-info-hide object-info__input-other">
                                                    <input class="form-control select2-store" id="object-info-4"
                                                           name="object_info[other]"
                                                           placeholder="{{ placeholder_input_prepared_by }}">
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-12 mt-2">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-2">
                                                <label for="input-amount">{{ entry_amount }}<span
                                                            class="text-danger">*</span></label>
                                            </div>
                                            <div class="form-group col-9">
                                                <input class="form-control" id="input-amount"
                                                       name="amount"
                                                       placeholder="{{ placeholder_amount }}"
                                                        {% if amount %}
                                                            value="{{ amount|number_format }}"
                                                        {% else %}
                                                            value=""
                                                        {% endif %}
                                                        {% if payment_voucher_id %} disabled {% endif %}
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-1 col-lg-1">
                                        <label for="input-note">{{ entry_note }}</label>
                                    </div>
                                    <div class="col-11 col-lg-11">
                                        <textarea class="form-control select2-product"
                                                  name="note"
                                                  rows="3"
                                                  id="input-note"
                                                  {% if payment_voucher_is_canceled %} disabled {% endif %}>{{ note }}</textarea>
                                        <div class="select-2-dropdown-payment-product"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1 col-lg-1"></div>
                                    <div class="col-11 col-lg-11">
                                        <div class="custom-control custom-checkbox pt-2">
                                            <input type="checkbox" value="1"
                                                   name="in_business_report" {% if in_business_report or not receipt_voucher_id %} checked {% endif %}
                                                   class="custom-control-input"
                                                   id="checkbox-in-business-report" {% if payment_voucher_id %} disabled {% endif %}>
                                            <label class="custom-control-label" for="checkbox-in-business-report">
                                                {{ entry_in_business_report }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                {% if (store_receipt_code) %}
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <p class="mt-3">
                                                {{ txt_payment_voucher_generated }} <a
                                                        href="{{ link_to_store_receipt }}">#{{ store_receipt_code }}</a>
                                            </p>
                                        </div>
                                    </div>
                                {% elseif (return_receipt_code) %}
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <p class="mt-3">
                                                {{ txt_payment_voucher_generated }} <a href="{{ link_to_return_receipt }}" target="_blank">#{{ return_receipt_code }}</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div> <!-- End form left -->
                        </div> <!-- End row -->
                    </form>
                </div> <!-- End box-wrap -->
            </div> <!-- End main-content -->
        </main>
        <!-- End Main -->
    </div>

    {% if payment_voucher_id %}
        <div class="modal fade product-modal" id="update-receipt-voucher-status" tabindex="-1"
             role="dialog" aria-labelledby="updateOrderStatusProcessLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-18 font-weight-normal"
                            id="updateOrderStatusProcessLabel">{{ text_update_order_status }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>{{ text_update_order_status_to_cancel_confirm }}</p>
                        <form action="{{ action_cancel_payment }}" method="post" id="form_cancel_payment" class="hide">
                            <input type="hidden" value="{{ payment_voucher_id }}" name="payment_voucher_id">
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{{ text_update_order_close }}
                        </button>
                        <button type="submit" form="form-cancel-voucher" class="btn btn-pink" id="btn-cancel-receipt">
                            {{ text_update_order_submit }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="image-loading"></div>
</div>
<!-- End page wrapper -->

{{ footer }}

{% include 'cash_flow/payment_voucher_form/handle_js.twig' %}
{% include 'cash_flow/payment_voucher_form/validate_handle_js.twig' %}

<style>
    .object-info-hide,
    .hide,
    .input-payment-type-other-box {
        display: none;
    }

    .button-submit:hover {
        cursor: pointer;
    }

    .select-2-dropdown-payment-manufacturer .select2-results__options {
        max-height: 200px;
        overflow: scroll;
    }

    .select-2-dropdown-payment-product .select2-results__options {
        max-height: 250px;
        overflow: scroll;
    }

    #create-payment-voucher-form .select2-selection__choice {
        display: none;
    }

    .select2-container.select2-container--bootstrap4 .select2-selection.select2-selection--multiple .select2-search--inline::before {
        display: none;
    }

    .select2-selection__clear {
        background: none !important;
        color: #6c757d !important;
        font-size: 22px;
        margin-top: 0.2em !important;
    }

    @media screen and (max-width: 767px) {
        .mobile-space {
            margin-top: 77px;
        }
    }
</style>