<script>
    const PAYMENT_VOUCHER_TYPE_OTHER = 8

    function validateSpecialChar(value) {
        var regexName = /^[0-9a-zA-Z _ÀÁÂÃÈÉẾÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêếìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ]+$/;
        if (value !== '' && !regexName.test(value)) {
            return false;
        }
        return true
    }

    $("#create-payment-voucher-form").bootstrapValidator({
        message      : 'This value is not valid',
        container    : '',
        feedbackIcons: {
            valid     : 'glyphicon glyphicon-ok',
            invalid   : 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields       : {
            amount            : {
                validators: {
                    notEmpty    : {
                        message: '{{ error_amount_empty }}'
                    },
                    stringLength: {
                        max    : 14,
                        message: '{{ error_amount_max_length }}'
                    },
                }
            },
            store_id          : {
                validators: {
                    notEmpty: {
                        message: '{{ error_store_empty }}'
                    },
                }
            },
            payment_type_id   : {
                validators: {
                    notEmpty: {
                        message: '{{ error_payment_type_empty }}'
                    },
                }
            },
            payment_type_other: {
                validators: {
                    callback: {
                        message : '{{ error_payment_type_other_special }}',
                        callback: validateSpecialChar
                    },
                }
            },
            'object_info[other]': {
                validators: {
                    stringLength: {
                        max    : 50,
                        message: '{{ error_object_info_other_max_length }}'
                    },
                    callback: {
                        message : '{{ error_object_info_other_special }}',
                        callback: validateSpecialChar
                    },
                }
            },
            method_id         : {
                validators: {
                    notEmpty: {
                        message: '{{ error_payment_method_empty }}'
                    },
                }
            },
            note              : {
                validators: {
                    stringLength: {
                        max    : 256,
                        message: '{{ error_note_max_length }}'
                    }
                }
            }
        }
    })
</script>