<!-- block-top-sale-product -->
{% for k, block in blocks %}
    {% if block['visible']%}
        <!-- List-prodcut -->
        <section class="block-list-product bestme-block-best-sales-product">
            <div class="container">
                <h2 class="ttl-style01"><span>{{ block['title'] }}</span></h2>
                <div class="list-product">
                    <div class="owl-carousel owl-slide owl-best-sale-product-{{ k }}"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% set items_per_slide = block['grid'] * block['row'] %}
                        {% if block['collections'] is not empty %}
                            {% for k,collection in block['collections'] %}
                                {% if 1 == items_per_slide or 1 == loop.index % items_per_slide %}
                                    <div class="row m-0">
                                {% endif %}
                                <div class="item-product col-{{ 12 / block.grid }} p-0">
                                    <div class="product-box">
                                        <div class="img-pro">
                                            <a href="{{ collection['url'] }}"><img class="lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}"></a>
                                        </div>
                                        <div class="text-pro">
                                            <span class="cate-pro">
                                                <a class="product-name" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% if 0 == loop.index % items_per_slide or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for k,product in block['products'] %}
                                {% if 1 == items_per_slide or 1 == loop.index % items_per_slide %}
                                    <div class="row m-0">
                                {% endif %}
                                <div class="item-product col-{{ 12 / block.grid }} {{ 1 == loop.index % items_per_slide ? 'pl-0' : '' }}">
                                    <div class="img-pro">
                                        <a href="{{ product['href'] }}">
                                            <img class="lazyload" data-src="{{ product['thumb'] }}" alt="product">
                                            <div class="sale-hot">
                                                {% if product['percent_sale'] is not empty %}
                                                    <span class="sale">{{ product['percent_sale'] }}</span>
                                                {% endif %}
                                                {% if product['product_is_stock'] == false %}
                                                    <span class="hot">hết</span>
                                                {% endif %}
                                                {% if product['is_best_sale_product'] %}
                                                    <span class="hot">hot</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    </div>
                                    <div class="text-pro">
                                        <span class="cate-pro" style="color: #e2a50d;">{{ product['nameCategory'] }}</span>
                                        <span class="cate-pro">
                                    <a title="{{ product.name }}" class="product-name" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </span>
                                        <div class="rated d-none">
                                            <ul>
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                                <li>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                            <span class="num-rated">(10)</span>
                                        </div>
                                        <div class="price">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="price-new">
                                            Liên hệ
                                        </span>
                                            {% else %}
                                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                    <span class="price-new">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                {% else %}
                                                    <span class="price-new">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                    <span class="price-old">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if 0 == loop.index % items_per_slide or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <p class="view-more" style="text-align: center"><a href="{{ block['view_more'] }}">Xem thêm >></a></p>
            </div>
        </section>
        <!-- ./List-product -->
    {% endif %}
{% endfor %}
<!-- /.block-top-sale-product -->
<div class="bestme_app_after_product">

</div>