<!-- block-ads-banner -->
{% if k == 0 %}

    <!-- block-ads-banner -->
    {% if banners_visible == '1' %}
        <!-- Block BST -->
        <section id="block-album">
            <div class="container">
                <div class="row">
                    {% if banner_highlight['visible'] == '1' %}
                        <div class="col-md-4 bestme-block-banner-1">
                            <a target="_blank" href="{{ banner_highlight['url'] }}">
                                <div class="album-item">
                                    {#<div class="content">#}
                                    {#<h4 class="title">#}
                                    {#<a class="main-font" href="{{ banner_highlight['url'] }}">#}
                                    {#<span class="meta">{{ banner_highlight['description'] }}</span>#}
                                    {#</a>#}
                                    {#</h4>#}
                                    {#</div>#}
                                    <div class="thumb">
                                        <img  src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if banner_left['visible'] == '1' %}
                        <div class="col-md-4 bestme-block-banner-2">
                            <a target="_blank" href="{{ banner_left['url'] }}">
                                <div class="album-item">
                                    {#<div class="content">#}
                                    {#<h4 class="title">#}
                                    {#<a class="main-font" href="{{ banner_left['url'] }}">#}
                                    {#<span class="meta">{{ banner_left['description'] }}</span>#}
                                    {#</a>#}
                                    {#</h4>#}
                                    {#</div>#}
                                    <div class="thumb">
                                        <img src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if banner_middle['visible'] == '1' %}
                        <div class="col-md-4 bestme-block-banner-2">
                            <a target="_blank" href="{{ banner_middle['url'] }}">
                                <div class="album-item">
                                    {#<div class="content">#}
                                    {#<h4 class="title">#}
                                    {#<a class="main-font" href="{{ banner_left['url'] }}">#}
                                    {#<span class="meta">{{ banner_left['description'] }}</span>#}
                                    {#</a>#}
                                    {#</h4>#}
                                    {#</div>#}
                                    <div class="thumb">
                                        <img src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- /.Block BST -->
    {% endif %}
{% elseif k == 1 %}
    <!-- block-ads-banner -->
    {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
        <section id="block-middle-banner" class="bestme-block-banner-3">
            <a target="_blank" href="{{ banner_middle['url'] }}" title="{{ banner_middle['description'] }}"><img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
        </section>
    {% endif %}
{% endif %}
<!-- /.block-ads-banner -->