{% if slideshow.visible %}
    <!-- Slideshow -->
    <section class="block-banner bestme-block-slideshow">
        <div class="container">
            <div id="carouselHome" class="owl-carousel owl-theme owl-review owl-hidden-dots owl-home-banner"  data-time="{{ slideshow.transition_time }}">
                {% for slide_key, slide in slideshow.slides %}
                    {% if slide['type'] == 'video' %}
                        <div class="slide-item {% if 0 == slide_key %} active{% endif %}">
                            <div id="video-slideshow-{{ slide_key }}" class="video-slideshow"
                                 data-video-url="{{ slide['video-url'] }}">
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                            <div class="slide-item {% if 0 == slide_key %} active{% endif %}">
                                <div class="image-background">
                                    <img src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->

<div class="bestme_app_after_slide">

</div>