<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    {{ cssResource }}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <!-- Bootstrap -->

    {{ jsResource }}
{#    <script src="{{ theme_directory }}/js/jquery.3.3.1.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/popper.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/bootstrap.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/main.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/opencart_custom.js" type="text/javascript"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="{{ is_home ? 'home' : '' }}">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Header -->
<header id="header" class="header block-header">
    <!-- Top Header -->
    <div class="container">
        <div class="header-top d-flex flex-wrap bestme-block-banner-top row">
            <div class="logo d-lg-none">
                <a href="{{ home }}">
                    <img src="{{ logo }}" width="172" height="32"
                         class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                                          title="{{ name }}" alt="{{ name }}">
                </a>
            </div>
            {% if notify_bar.visible == 1 and contact is defined and contact.visible == 1 %}
                <div class="col-sm-8 d-flex text-end text-lg-start ms-auto ms-lg-0 flex-column flex-lg-row fz-10 fz-lg-13">
                    {% if contact.phone is defined %}
                        <div class="me-lg-50 d-flex">
                            <div class="top-icon d-none d-lg-flex"><i class="icon bg-white fz-15 icon-phone"></i></div>
                            <div class="d-flex flex-lg-column">
                                <span class="fw-300">Điện thoại:</span>
                                <a href="tel:{{ contact.phone }}" class="text-black">{{ contact.phone }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if contact.email is defined %}
                        <div class="me-lg-50 d-flex">
                            <div class="top-icon d-none d-lg-flex"><i class="icon bg-white fz-14 icon-email"></i></div>
                            <div class="d-flex flex-lg-column">
                                <span class="fw-300">Email:</span>
                                <a href="mailto:{{ contact.email }}" class="text-black">{{ contact.email }}</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if contact.address is defined %}
                        <div class="d-none d-lg-flex">
                            <div class="top-icon d-none d-lg-flex"><i class="icon bg-white fz-12 icon-pin-marker"></i></div>
                            <div class="d-flex flex-lg-column">
                                <span class="fw-300">Địa chỉ:</span>
                                {% set contact_address = contact.address|split('&lt;li&gt;') %}
                                <span class="text-black">{{ contact_address[0] | replace({'&lt;br&gt;': '<br>'}) }}</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="col-sm-4" style="text-align: right">
                {% if visible_subscribe_social_network == 1 %}
                    {% for social_config in social_configs %}
                        {% if  social_config.name == 'Facebook' %}
                            <a href="{{ social_config.url }}">
                                <img src="{{ theme_directory }}/img/facebook.svg" width="32px">
                            </a>
                        {% elseif  social_config.name == 'Instagram' %}
                            <a href="{{ social_config.url }}" class="mx-4">
                                <img src="{{ theme_directory }}/img/instagram.svg" width="32px">
                            </a>
                        {% elseif social_config.name == 'Youtube' %}
                            <a href="{{ social_config.url }}">
                                <img src="{{ theme_directory }}/img/youtube.svg" width="32px">
                            </a>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End: Top Header -->

    <!-- Main Header -->
    <div class="fix-content">
        <div class="main-header">
            <div class="container">
                <div class="d-flex flex-wrap menu-wrapper align-items-center">
                    <div class="logo d-lg-block d-none order-0">
                        <a href="{{ home }}">
                            <img src="{{ logo }}" width="146" height="28"
                                                  class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                                                  title="{{ name }}" alt="{{ name }}">
                        </a>
                    </div>

                    <div class="header-search ms-auto ms-lg-0 order-3">
                        <form action="{{ urlserach }}" class="search-form" method="get">
                            <input type="hidden" name="route" value="common/shop">
                            <input type="search" name="search" placeholder="Tìm kiếm" class="form-control">
                            <button class="btn btn-primary d-block d-md-none"><i
                                        class="icon icon-search fz-16"></i></button>
                        </form>
                        <div class="collapse-search">
                            <a class="show-form" href="javascript:void(0)"><i
                                        class="icon icon-search fz-20"></i></a>
                            <a class="hide-form" href="javascript:void(0)"><i class="icon icon-clear fz-10"></i></a>
                        </div>
                    </div>

                    <nav class="navbar navbar-expand-lg ms-lg-auto order-2">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="icon icon-bar bg-white"></i>
                        </button>

                        <div class="collapse navbar-collapse flex-grow-0" id="navbarMainMenu">
                            <ul class="nav navbar-nav bestme-block-header-menu">
                                {% for idx, m in main_menu %}
                                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                        <li class="nav-item">
                                            {# one level #}
                                            <a class="nav-link {{ (result_active_menu == m.url or result_active_menu == m.target_value) ? 'active' : '' }} {{ idx == -1 ? 'active' : '' }}"
                                               href="{{ m.url }}">{{ m.text }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item has-child">
                                            {# two levels #}
                                            <a href="{{ m.url }}" class="nav-link">
                                                {{ m.text }}
                                                <span class="toggle"></span>
                                            </a>
                                            <ul class="nav child-nav">
                                                {% for it in m.items %}
                                                    {% if it.items is defined and it.items|length > 0 %}
                                                        <li class="nav-item has-child">
                                                            <a href="{{ it.url }}" class="nav-link">
                                                                {{ it.text }}<span class="toggle child-toggle child-toggle-2"></span>
                                                            </a>
                                                            <ul class="nav child-nav">
                                                                {% for it3 in it.items %}
                                                                    <li class="nav-item"><a href="{{ it3.url }}" class="nav-link">{{ it3.text }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                    <!-- End nav -->
                </div>
                <!-- End flex -->
            </div>
            <!-- End container -->
        </div>
        <!-- End: Main Header -->
    </div>
    <!-- End: fix-content -->
</header>
<!-- End Header -->