{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper" class="pb-3 pb-md-5">
    <!-- Page Banner -->
    {% if banners.visible_banner == 1 %}
        <div class="page-banner bestme-block-category-banner">
            <a href="{{ banners.url_banner }}" target="_blank">
                <img src="{{ banners.url_image }}" alt="{{ banners.alt }}">
            </a>
        </div>
    {% else %}
        <div class="not-banner"></div>
    {% endif %}
    <!-- End: Page Banner -->

    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="page-title bg-white">
                <a href="{{ shop_link }}"><h1 class="text-black-50 text-uppercase fz-35 fw-500 text-center">Trang sản phẩm</h1></a>
            </div>
            {% if getsearch != '' %}
                <p class="text-center font-italic font-weight-bold">Kết quả tìm kiếm cho "{{ getsearch }}"</p>
            {% endif %}
            <!-- Product Filter -->
            <div class="product-filter py-3 bg-white">
                <ul class="list-inline mb-0 bestme-block-filter-1">
                    {% if visible_category == 1 %}
                    <li class="list-inline-item mr-5 bestme-block-category-product-category">
                        <div id="dropdown-collection" class="dropdown dropdown-filter">
                            <button type="button" class="btn bg-transparent text-black-50 text-uppercase text-left fz-13 rounded-0 py-1 px-0 dropdown-toggle filter-select" id="dropdownCollection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                {{ category_selected_name }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-product p-2" aria-labelledby="dropdownCollection">
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ category_all.url }}">{{ category_all.name }}</a>
                                {% include 'default/template/common/category_list_template.twig' %}
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if visible_supplier == 1 %}
                    <li class="list-inline-item mr-5">
                        <div id="dropdown-color" class="dropdown dropdown-filter">
                            <button type="button" class="btn bg-transparent text-black-50 text-uppercase text-left fz-13 rounded-0 py-1 px-0 dropdown-toggle filter-select" id="dropdownColor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                {{ manufacturer_selected_name }}
                            </button>
                            <div class="dropdown-menu p-2" aria-labelledby="dropdownColor">
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ manufacturer_all.url }}">{{ manufacturer_all.name }}</a>
                                <div class="product-filter-list">
                                    {% for manufacturer in manufacturers %}
                                        <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ manufacturer.url }}">{{ manufacturer.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if visible_collection == 1 %}
                    <li class="list-inline-item mr-5">
                        <div id="dropdown-color" class="dropdown dropdown-filter">
                            <button type="button" class="btn bg-transparent text-black-50 text-uppercase text-left fz-13 rounded-0 py-1 px-0 dropdown-toggle filter-select" id="dropdownColor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                {{ collection_selected_name }}
                            </button>
                            <div class="dropdown-menu p-2" aria-labelledby="dropdownColor">
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ collection_all.url }}">{{ collection_all.name }}</a>
                                <div class="product-filter-list">
                                    {% for collection in collections %}
                                        <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ collection.url }}">{{ collection.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if visible_product_price == 1 %}
                    <li class="list-inline-item mr-5">
                        <div id="dropdown-design" class="dropdown dropdown-filter">
                            <button type="button" class="btn bg-transparent text-black-50 text-uppercase text-left fz-13 rounded-0 py-1 px-0 dropdown-toggle filter-select" id="dropdownPrice" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                Giá
                            </button>
                            <div class="dropdown-menu p-2 dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownPrice">
                                <div class="box-product-filter" id="product-price">
                                    <div class="price-range py-2 d-flex">
                                        <input type="text" name="min_price" maxlength="15" value="{{ price_min }}" class="fz-12 form-control mx-auto number-format-2">
                                        <span class="px-2">-</span>
                                        <input type="text" name="max_price" maxlength="15" value="{{ price_max }}" class="fz-12 form-control ml-auto number-format-2">
                                    </div>
                                    <button class="rounded-4 text-dark border-0 py-0 rounded px-3 btn-primary mt-2 float-right" id="btn-filter-price">Lọc</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if visible_tag == 1 %}
                        <li class="list-inline-item mr-5">
                            <div id="dropdown-tag" class="dropdown dropdown-filter">
                                <button type="button" class="btn bg-transparent text-black-50 text-uppercase text-left fz-13 rounded-0 py-1 px-0 dropdown-toggle filter-select"
                                        id="dropdownTag"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                    {{ tag_selected_name }}
                                </button>
                                <div class="dropdown-menu p-2" aria-labelledby="dropdownTag">
                                    <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase"
                                       href="{{ tag_all.url }}">{{ tag_all.name }}</a>
                                    <div class="product-filter-list">
                                        {% for tag in tags %}
                                            <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase"
                                               href="{{ tag.url }}">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="list-inline-item float-md-right">
                        <div id="dropdown-sort" class="dropdown dropdown-filter">
                            <button type="button" class="btn bg-transparent text-black-50 text-uppercase text-left fz-13 rounded-0 py-1 px-0 dropdown-toggle filter-select" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                {% if valueoptiton == 1 %}
                                    Theo tên: A-Z
                                {% elseif valueoptiton == 2 %}
                                    Theo tên: Z-A
                                {% elseif valueoptiton == 3 %}
                                    Theo giá: Từ cao đến thấp
                                {% elseif valueoptiton == 4 %}
                                    Theo giá: Từ thấp đến cao
                                {% else %}
                                    Sắp xếp
                                {% endif %}
                            </button>
                            <div class="dropdown-menu p-2 m-fix dropdown-menu-right dropdown-menu-md-left" aria-labelledby="dropdownSort">
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ urlsortProduct }}&valueoptiton=1">Theo tên: A-Z</a>
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ urlsortProduct }}&valueoptiton=2">Theo tên: Z-A</a>
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ urlsortProduct }}&valueoptiton=3">Theo giá: Từ cao đến thấp</a>
                                <a class="dropdown-item dropdown-item-filter px-0 py-1 text-black-50 fz-13 text-uppercase" href="{{ urlsortProduct }}&valueoptiton=4">Theo giá: Từ thấp đến cao</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End: Product Filter -->
            <!-- Product Listing -->
            <div class="product-listing bestme-block-category-product-list">
                <div class="row">
                    {% for product in products %}
                        <div class="col-6 col-lg-3 mb-3">
                        <div class="pro-item">
                            <div class="pro-thumb position-relative">
                                <img src="{{ product.thumb }}" class="w-100" alt="{{ product.name }}">
                                <!-- Pro Types -->
                                <ul class="pro-list-type w-100 list-inline mb-0">
                                    {% if product['is_new_product'] %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-12 py-1 px-3 bg-white-50">Mới</span>
                                        </li>
                                    {% endif %}

                                    {% if product.product_is_stock == false %}
                                        <li class="list-inline-item float-left">
                                            <span class="fz-12 py-1 px-3 bg-white-50">Tạm Hết hàng</span>
                                        </li>
                                    {% endif %}

                                    {% if product.Percent_protduct != 0 %}
                                        <li class="list-inline-item float-left">
                                            <span class="d-inline-block text-white fz-12 bg-danger pd-1 px-2">{{ product.Percent_protduct }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                                <!-- End: Pro Types -->
                                <!-- Pro Overlay -->
                                <div class="pro-overlay transition d-flex justify-content-end align-items-end flex-column" onclick="window.location='{{ product['href'] }}'">
                                    <ul class="pro-action list-inline mb-3 mr-3">
                                        <li class="list-inline-item">
                                            <a href="{{ product.href }}" class="view-product text-center rounded-circle border border-primary text-primary bg-white">
                                                <span class="fas fa-eye"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item d-none">
                                            <a href="#" class="add-favourite text-center rounded-circle border border-primary text-primary bg-white">
                                                <span></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="{{ product.href }}" class="add-cart text-center rounded-circle border border-primary text-primary bg-white">
                                                <span class="fas fa-cart-plus"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- EnD: Pro Overlay -->
                            </div>
                            <div class="pro-info text-center px-3">
                                <!-- Star Rate -->
                                <div class="wrap-star-rate mt-2 d-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star star-rate"></span>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <span class="star"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End: Star Rate -->
                                <a href="{{ product.href }}" title="{{ product.name }}" class="pro-item-title text-black d-block my-1">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                <div class="pro-price">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="new-price text-primary">
                                            {{ contact }}
                                        </span>
                                    {% else %}
                                        {% if product.multi_versions == 1 %}
                                            {% if product.price_version_check_null !=0 %}
                                                <span class="new-price text-primary fw-600 fz-16 mr-2">
                                                    <span class="show-title">{{ product.price_version_min|replace({'VND': 'đ'}) }}</span>
                                                    {% if product.price_version_min != product.price_version_max %}
                                                        ~ <span class="show-title">{{ product.price_version_max|replace({'VND': 'đ'}) }}</span>
                                                    {% endif %}
                                                </span>
                                                <span class="old-price text-light fz-14 fw-600">
                                                    <span class="show-title">{{ product.compare_version_min|replace({'VND': 'đ'}) }}</span>
                                                    {% if product.compare_version_min != product.compare_version_max %}
                                                        ~ <span class="show-title">{{ product.compare_version_max|replace({'VND': 'đ'}) }}</span>
                                                    {% endif %}
                                                </span>
                                            {% else %}
                                                <span class="new-price text-primary fw-600 fz-20">
                                                    <span class="show-title">{{ product.compare_version_min|replace({'VND': 'đ'}) }}</span>
                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                        ~ <span class="show-title">{{ product.compare_version_max|replace({'VND': 'đ'}) }} </span>
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            {% if product.price == 0 %}
                                                <span class="new-price text-primary fw-600 fz-16 mr-2 show-title">
                                                    {{ product.compare_price|replace({'VND': 'đ'}) }}
                                                </span>
                                            {% else %}
                                                <span class="new-price text-primary fw-600 fz-20 show-title">
                                                    {{ product.price|replace({'VND': 'đ'}) }}
                                                </span>
                                                <span class="old-price text-light fz-14 fw-600 show-title">
                                                    {{ product.compare_price|replace({'VND': 'đ'}) }}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Paginate -->
                {{ pagination }}
                <!-- End: Paginate -->
            </div>
            <!-- End: Product Listing -->
        </div>
    </div>
    <!-- End: Main Content -->
</main>
<div class="bestme_app_after_product">

</div>
<div class="bestme_app_before_footer">

</div>
<script>
    $('.dropdown-item-filter').on('click', function () {
        var link = $(this).attr('href');
        window.location = link;
    });

    $('#btn-filter-price').on('click', function(){
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');
        // console.log(ui.values[1]);
        var min = $('input[name="min_price"]').val();
        min = min.replace(/,/g, '');
        min = min.replace(/\./g, '');
        var max = $('input[name="max_price"]').val();
        max = max.replace(/,/g, '');
        max = max.replace(/\./g, '');
        if (min != 0) {
            url += '&min=' + min;
        }
        if (max != 0) {
            url += '&max=' + max;
        }
        window.location.replace(url);
    });

    $('#remove-filter-price').on('click', function (e){
        e.preventDefault();
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');
        window.location.replace(url);
    });

    /// Number format
    $('input.number-format-2').each(function(){
        var val = $(this).val();
        if (val !== ''){
            val = Number(val.replace(/(?!-)[^0-9]/g, ""));
            $(this).val(number_format(val, 0, ',', '.'));
        }
    });

    $(document).on('input', 'input.number-format-2', function(e){
        var val = $(this).val();
        if (val !== ''){
            val = Number(val.replace(/(?!-)[^0-9]/g, ""));
            $(this).val(number_format(val, 0, ',', '.'));
        }
    });

    function number_format(number, decimals, dec_point, thousands_sep) {
        decimals = parseFloat(decimals);
        var n = number, c = isNaN(decimals = Math.abs(decimals)) ? 2 : decimals;
        var d = dec_point == undefined ? "," : dec_point;
        var t = thousands_sep == undefined ? "." : thousands_sep, s = n < 0 ? "-" : "";
        var i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    }
</script>
<!-- block-footer -->
{{ footer }}
<!-- /.block-footer -->
