{{ header }}

<main id="main-wrapper">
    <div class="container">
        {# TODO: use var theme_dir instead of hardcode... #}
        {% include ('mom_gao_boutique/template/blog/blog_breadcrumb.twig') %}
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content pb-3 pb-md-5">
            <div class="row">
                <div class="col-md-4 order-lg-0 order-1">
                    <div class="sidebar sidebar-left bg-white p-3">
                        <div class="block-sidebar mb-3 bestme-block-blog-latest-blog">
                            <h2 class="block-title">BÀI VIẾT MỚI NHẤT</h2>
                            <div class="block-content px-3 py-2">
                                {% for blog_key, blog in blog_list_new if blog_key < 3 %}
                                    <div class="item mb-4">
                                        <a class="fw-600 mb-2 d-inline-block" href="{{ blog['link'] }}" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                            {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                        </a>
                                        <p class="text-second d-flex">
                                            <i class="icon icon-calendar bg-seventh fz-16 mr-3"></i>
                                            {{ blog['date_publish']|date('d-m-Y') }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="block-sidebar mb-3">
                            <h2 class="block-title">TAG</h2>
                            <div class="block-content d-flex flex-wrap py-2">
                                {% for tag in tags %}
                                    <a class="py-2 px-3 text-third" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- End sidebar right -->
                </div>
                <!-- End Col sidebar right -->

                <div class="col-md-8 mb-3 order-lg-1 order-0">
                    <div class="news-listing bestme-block-blog-list">
                        <div class="row">
                            {% for blog_key, blog in blog_list %}
                                <!-- News Item -->
                                <div class="{{ blog_key == 0 ? 'col-12' : 'col-md-6' }}">
                                    <div class="news-item">
                                        <div class="news-date">
                                            <span class="date">{{ blog['date_added']|date('j') }}</span>
                                            <span class="month">Th{{ blog['date_added']|date('n') }}</span>
                                        </div>
                                        <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                            <div class="img-wrap">
                                                <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                            </div>
                                        </a>
                                        <div class="news-info p-4">
                                            <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                                {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                            </a>
                                            <div class="news-desc">
                                                {{ blog['short_content']|length > 180
                                                ? blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...'
                                                : blog['short_content']|html_entity_decode|striptags }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End: News Item -->
                            {% endfor %}
                        </div>

                        <!-- Paginate -->
                        {{ pagination }}
                        <!-- End: Paginate -->
                    </div>
                    <!-- End: News Listing -->
                </div>
                <!-- End: Col News Listing -->
            </div>
            <!-- End row -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End: container -->
</main>

{{ footer }}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>