/*****/
body {
    /*font-family: 'Roboto'!important;*/
    font-size: 16px!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    font-style: normal;
    font-weight: normal;
}
body a {
    text-decoration: none!important;
}

main.main-content {
    min-height: 450px;
}
/*Header*/
/*header#header-main.block-header #header-top-contact {*/
/*    font-family: 'Roboto';*/
/*}*/
/*header#header-main.block-header #header-top-contact ul.nav li p {*/
/*    margin-bottom: 0;*/
/*    padding: .5rem 1rem;*/
/*}*/
/*header#header-main.block-header #header-top-menu {*/
/*    background-color: #1a1a1a;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed {*/
/*    background: transparent!important;*/
/*    width: 100%!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a, */
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a  {*/
/*    color: rgba(255,255,255,.7);*/
/*    transition-property: color,background-color,border-color,box-shadow;*/
/*    text-transform: uppercase;*/
/*    font-size: 14px!important;*/
/*    box-sizing: border-box;*/
/*    align-items: center;*/
/*    font-weight: 400!important;*/
/*    font-family: inherit!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu .collapse ul.nav li a {*/
/*    padding: 0 15px;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a.active, */
/*header#header-main.block-header.fixed #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a.active {*/
/*    color: #fff!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu ul.nav li a:hover, */
/*header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a:hover  {*/
/*    color: #fff;*/
/*    font-weight: 400!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu {*/
/*    background-color: #fff;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu .menu-title {*/
/*    background-color: #E30037;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li a {*/
/*    border-bottom: 2px solid transparent;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li a.active, */
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu ul li:hover a {*/
/*    border-bottom: 2px solid #E30037;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #collapseCategory a, */
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu a {*/
/*    color: #000!important;*/
/*}*/
/*header#header-main.block-header #header-top-menu #header-category-menu #navbarMainMenu a {*/
/*    padding: 10px 7.5px;*/
/*}*/
header.block-header.refix-min-height {
    min-height: 98px;
}
header.block-header.fixed .fix-content .block-header-contact {
    display: none!important;
}
header.block-header .fix-content .block-header-cart i.icons {
    margin: auto 0;
    color: #1559B6;;
}
header.block-header .fix-content .block-header-cart span.quantity {
    position: absolute;
    transform: translateX(15px);
    border-radius: 50%;
    padding: 1.5px 5px;
    font-size: 10px;
}
header.block-header .fix-content .block-header-cart .amount {
    color: #000;
}
header.block-header .fix-content .block-header-cart .amount .title {
    color: #ACACAC;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}
header.block-header .fix-content .menu-main {
    position: absolute;
    width: 100%;
    max-width: 100%;
}

header.block-header.fixed .fix-content .menu-main {
    border-bottom: 2px solid transparent;
}
header.block-header.fixed .fix-content .menu-main .main-menu-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
}
header.block-header .fix-content .block-header-contact i.icons {
    font-size: 32px;
    color:#E03232;
    position: absolute;
}
header.block-header .fix-content .block-header-contact .content {
    margin-left: 36px;
}
header.block-header .fix-content .block-header-contact .content p {
    color: #ACACAC;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
}
header.block-header .fix-content .block-header-contact .content h6 {
    font-size: 14px;
    line-height: 16px;
}
header.block-header .fix-content .form-search-header {
    flex: unset;
}
header.block-header .fix-content .form-search-header .input-group-icon .input-search {
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0 20px 20px;
    border-radius: 20px;
}
header.block-header .fix-content .form-search-header .input-group-append {
    position: absolute;
    right: 0;
}
header.block-header .fix-content .form-search-header .input-group-append .btn-search {
    background: transparent;
    color: #000!important;
    border-radius: 50%;
    padding: 5px 10px!important;
    transform: translate(-4px, 4px);
}
header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
}
header.block-header .fix-content #navbarMainMenu ul.nav li.nav-item a.active, 
header.block-header .fix-content #navbarMainMenu ul.nav li.nav-item a:hover {
    font-weight: 400;
    font-size: 16px;
}

header.block-header .fix-content .block-header-menu-main #navbarMainMenu ul.nav li.nav-item a {
    padding-top: 7px;
    padding-bottom: 7px;
}

header.block-header.fixed .block-header-menu ul.nav > li.has-child > a>.toggle {
    top: 21px;
}

header.block-header .menu-main nav.bestme-block-header-menu #navbarMainMenu ul.nav li.nav-item.has-child > a>.toggle::before {
    content: "\f078";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    margin-left: 7px;
}
header.block-header .menu-main nav.bestme-block-header-menu #navbarMainMenu ul.nav li.nav-item.has-child > ul.child-nav {
    position: absolute;
    display: none;
    transition: all .5s;
    background: #fff;
    padding: 12.5px 35px;
}

header.block-header .menu-main nav.bestme-block-header-menu #navbarMainMenu ul.nav li.nav-item.has-child-2 > ul.child-nav-2 {
    position: absolute;
    display: none;
    transition: all .5s;
    background: #fff;
    padding: 12.5px 35px;
}
header.block-header .menu-main nav.bestme-block-header-menu #navbarMainMenu ul.nav li.nav-item.has-child > ul.child-nav.show,
header.block-header .menu-main nav.bestme-block-header-menu #navbarMainMenu ul.nav li.nav-item.has-child-2 >  ul.child-nav-2.show {
    display: block;
}

/*Footer*/
footer {
    margin-top: 75px;
}
footer .footer-px-10 .footer-left {
    background-image: url('../img/21987-01.png');
}
footer .footer-px-10 .footer-right {
    background-image: url('../img/21987-01.png');
    mix-blend-mode: hard-light;
}
footer .footer-px-10 .footer-right .footer-bg-overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(250, 116, 104, .5);
}
footer .footer-px-10 .footer-left .copy-right-content p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
footer .footer-px-10 .footer-right .info-content {
    display: flex;
    height: 100%;
    align-items: center;
}
footer .footer-px-10 .footer-right a {
    color: #fff;
}
footer .footer-px-10 .footer-right .logo-content p {
    font-size: 14px;
    line-height: 21px;
}
footer .footer-px-10 .footer-right .info-content div p {
    font-size: 14px;
    line-height: 16px;
}
footer .footer-px-10 .footer-right .info-content div p i {
    color: #1559B6;
    margin-right: 10px;
}
footer .footer-px-10 .footer-right h2.footer-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #1559B6;
    text-transform: uppercase;
}
footer .footer-px-10 .footer-right .item-link a {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

footer .footer-px-10 .scroll-top {
    position: absolute;
    left: -30px;
    top: 25%;
    background: #fff;
    color: #000;
    padding: 30px 15px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}
footer .footer-px-10 .scroll-top::before {
    content: "\f176";
    font-weight: 400;
    font-family: FontAwesome;
    position: absolute;
    top: 12.5px;
    left: calc(50% - 5px);
}
footer .footer-px-10 .scroll-top p {
    transform: rotate(-90deg);
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}


/*Homepage*/
section#slide-hot-products,
section#diffslide-hot-products {
    background: transparent;
    border: 1px solid #CECECE;
    box-sizing: border-box;
}
section#diffslide-hot-products {
    border: 1px solid transparent;
    box-sizing: border-box;
}
section#slide-hot-products .slide-product-item,
section#diffslide-hot-products .slide-product-item {
    padding-left: 30px;
    padding-right: 30px;
}
section#slide-hot-products .slide-product-item .product-info,
section#diffslide-hot-products .slide-product-item .product-info{
    height: 408px;
}
section#slide-hot-products .slide-product-item .product-highlight,
section#diffslide-hot-products .slide-product-item .product-highlight {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #E30037;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7.5px;
}
section#slide-hot-products .slide-product-item .product-highlight span,
section#diffslide-hot-products .slide-product-item .product-highlight span {
    background: transparent;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    left: calc(25px - 10px);
    top: calc(25px - 10px);
    color: #fff;
}
section#slide-hot-products .slide-product-item .product-image,
section#diffslide-hot-products .slide-product-item .product-image {
    margin-bottom: 20px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
section#slide-hot-products .slide-product-item .product-name a.product-title,
section#diffslide-hot-products .slide-product-item .product-name a.product-title {
    height: 45px;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}
section#slide-hot-products .slide-product-item .product-price,
section#diffslide-hot-products .slide-product-item .product-price {
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
}
section#slide-hot-products .slide-product-item .product-price-sale,
section#diffslide-hot-products .slide-product-item .product-price-sale {
    font-size: 20px;
    line-height: 16px;
    display: inline-block;
    color: #E03232;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control {
    background-color: unset;
    top: 50%;;
    color: #000;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
    left: 0;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next {
    right: 0;
}
section#slide-hot-products .carousel.carousel-products.slide .carousel-control i,
section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control i {
    font-size: 28px
}


section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item {
    height: 408px;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-stage .owl-item img {
    height: 408px;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button {
    background: transparent;
    color: #fff;
    opacity: 1;
    border-radius: 0;
    padding: 35px 10px!important;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button i {
    /*transform: translateY(-17.5px) rotate(90deg);*/
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
section#homepage-slide-products-banner section#slide-banner .owl-carousel .owl-dots {
    display: none;
}

section#homepage-slide-products-banner div#grid-collections .container-collections {
    display: grid;
    grid-template-columns: auto auto;
    height: 400px;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item .content {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 90%;
    margin: 5%;
    padding: 10px;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item .content h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}
section#homepage-slide-products-banner div#grid-collections .container-collections .collection-item .content p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    margin-bottom: 0;
}

section#homepage-ads-banner .ads-banner-item {
    box-sizing: border-box;
    padding: 25px 15px;
}
section#homepage-ads-banner .ads-banner-item.ads-banner-item-even {
    color: #fff;
}
section#homepage-ads-banner .ads-banner-item.ads-banner-item-odd {
    color: #000;
}
section#homepage-ads-banner .ads-banner-item .ads-banner-content h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}
section#homepage-ads-banner .ads-banner-item .ads-banner-content p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
}

.slide-block-product-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.slide-block-product-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.block-product .owl-carousel.owl-product .owl-nav,
.block-blog .owl-carousel.owl-product .owl-nav {
    top: 50%;
    right: unset;
    width: 100%;
}
.block-product .owl-carousel.owl-product .owl-nav button,
.block-blog .owl-carousel.owl-product .owl-nav button {
    padding: 25px 17.5px!important;
    display: flex;
    align-items: center;
}
.block-product .owl-carousel.owl-product .owl-nav button:hover,
.block-blog .owl-carousel.owl-product .owl-nav button:hover {
    color: #000;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-prev,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-prev {
    border-right: none;
    position: absolute;
    left: -50px!important;
    border-right: none;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-next,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-next {
    position: absolute;
    right: -50px!important;
}
.block-product .owl-carousel.owl-product .owl-nav button::before,
.block-blog .owl-carousel.owl-product .owl-nav button::before {
    font-size: 36px;
    color: #000!important;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-prev::before,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-prev::before {
    content: "\f177";
    font-family: FontAwesome;
}
.block-product .owl-carousel.owl-product .owl-nav button.owl-next::before,
.block-blog .owl-carousel.owl-product .owl-nav button.owl-next::before {
    content: "\f178";
    font-family: FontAwesome;
}


section#homepage-ads .item-ads {
    background-repeat: no-repeat;
    background-size: contain;
    height: 275px;
}
/*section#homepage-ads .item-ads.item-ads-left {*/
/*    background-image: url('../img/Rectangle280.png');*/
/*}*/
/*section#homepage-ads .item-ads.item-ads-right {*/
/*    background-image: url('../img/Rectangle281.png');*/
/*}*/

section#homepage-block-blog .homepage-block-blog-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.modal {
    z-index: 99999;
}

.sidebar-right h2.slide-list-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid #CECECE;
}

.sidebar-right h2.slide-list-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}

#difflist-sale-off-products a:hover {
    color: unset;
}
#difflist-sale-off-products a .list-product-item {
    transition: all .5s;
}
#difflist-sale-off-products a:hover .list-product-item {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
#difflist-sale-off-products .list-product-item .product-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80px;
    width: 100%;
}
#difflist-sale-off-products .list-product-item .product-info .product-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}
#difflist-sale-off-products .list-product-item .product-info p {
    margin-bottom: 3px;
}
#difflist-sale-off-products .list-product-item .product-info .product-price-sale {
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
}
#difflist-sale-off-products .list-product-item .product-info .product-price {
    font-size: 18px;
    line-height: 21px;
    color: #E03232;
}

#difflist-view-most-blogs .list-blog-item .blog-image {
    background-size: contain;
    background-position: center;
    height: 75px;
    width: 100%;
}
#difflist-view-most-blogs .list-blog-item .blog-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}


.owl-carousel .owl-nav .owl-prev {
    left: 0!important;
}
.owl-carousel .owl-nav .owl-next {
    right: 0!important;
}

.carousel.carousel-products.slide .carousel-inner .carousel-item.active {
    display: table;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item {
    display: inline-block;
    padding: 0;
    border: 1px solid transparent;
    overflow: hidden;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item:first-child {
    margin-left: 0;
}
.carousel.carousel-products.slide .carousel-inner .carousel-item .product-item:last-child {
    margin-right: 0;
}

.carousel.carousel-products.slide .carousel-indicators {
    position: relative;
}
.carousel.carousel-products.slide .carousel-indicators .indicator-item {
    background-color: #C4C4C4;
    height: 4px;
}

a.cart-contact {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #D0203F!important;
}

.product-item {
    overflow: hidden;
    padding: 0;
}
.product-item .product-info .info {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    transition: all .3s;
    padding: 5px 10px;
}
.product-item:hover .product-info .info {
    background: rgba(0, 0, 0, 0.7);
}
.product-item:hover,
.product-item:hover .product-info {
    transform: scaleY(1);
    transform-origin: unset;
}
.product-item .product-highlight {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #E30037!important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 7.5px;
}
.product-item .product-highlight span {
    background: transparent!important;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    left: 0;
}
.product-item .product-image {
    /*margin-bottom: 12.5px;*/
    /*height: 275px;*/ /*dunght disable*/
    width: 100%;
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
    /*box-sizing: border-box;*/
    object-fit: scale-down; /*dunght*/
}
.product-item.product-quantity-2 .product-image {
    object-fit: scale-down;
}
.product-item .product-name a.product-title {
    height: 25px;
    font-size: 14px;
    line-height: 21px;
    color: #000;
}
.product-item:hover .product-name a.product-title {
    color: #fff;
}
.product-item .product-price,
.product-item .product-price-sale {
    display: inline-block;
    width: 100%;
}
.product-item .product-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}
.product-item .product-price-sale {
    font-size: 14px;
    line-height: 13px;
    font-weight: 400;
}
.product-item .product-status-sale {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    background: #1559B6;
    padding: 5px;
}
.product-item .product-link-detail {
    bottom: -100%;
    width: 100%;
    height: 90px;
    position: absolute;
    opacity: 0;
    transition: all .3s;
    padding: 10px;
    opacity: 1;
}
.product-item:hover .product-link-detail {
    bottom: 25px;
    color: #fff;
    text-align: left;
}
.product-item .product-link-detail a.cart-btn {
    box-sizing: border-box;
    font-size: 24px;
    line-height: 14px;
    font-weight: 300;
    transition: all .5s;
    padding: 5px 15px;
    color: #fff;
}

.product-item .product-link-detail .action {
    position: absolute;
    right: 0;
    color: #fff;
    bottom: 10px;
    display: grid;
    grid-auto-rows: auto auto;
}
.carousel.carousel-products.slide .carousel-control {
    width: 35px;
    height: 35px;
    top: 50%;
    border-radius: 50%;
}
.carousel.carousel-products.slide .carousel-control.carousel-control-prev {
    left: 0;
}
.carousel.carousel-products.slide .carousel-control.carousel-control-next {
    right: 0;
}
.carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
    width: 35px;
    height: 35px;
    font-size: 24px;
    color: #000;
}

nav ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 14px;
    mask: unset;
    -webkit-mask: unset;
    background: unset;
    transform: unset;
}
nav ol.breadcrumb .breadcrumb-item a, nav ol.breadcrumb .breadcrumb-item.active {
    color: #000;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

ul.pagination {
    margin-top: 50px;
}
ul.pagination li.page-item a.page-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    min-width: auto;
    padding: 10px 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}
ul.pagination li.page-item.active a.page-link, ul.pagination li.page-item:hover a.page-link {
    background-color: #000;
    color: #fff;
}
ul.pagination li.page-item a.page-link i {
    background: none;
    font-size: 18px;
}
ul.pagination .page-item:first-child .page-link:hover i, ul.pagination .page-item:last-child .page-link:hover i {
    background-color: unset;
}

.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg {
    margin-top: 30px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item {
    box-shadow: none;
    transition: all .5s;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item:hover a {
    color: #000;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item .block-blog-image {
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item h3.block-blog-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    height: 50px;
    padding: 0 15px;
}
.carousel.carousel-blogs.slide .carousel-inner .block-blog-bg .block-blog-item p.block-blog-content {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    height: 125px;
    padding: 0 15px;
}
.carousel.carousel-blogs.slide .carousel-indicators {
    position: relative;
}
.carousel.carousel-blogs.slide .carousel-indicators .indicator-item {
    background-color: #C4C4C4;
    height: 4px;
}

/*Product detail*/
#product-detail-page .product-teaser-fix {
    top: unset!important;
    bottom: 0;
}
#product-detail-page .product-teaser-fix .contain-btn-quantity {
    justify-content: flex-end;
    background: #FD0404;
}
#product-detail-page .product-teaser-fix .contain-btn-quantity button.btn {
    background-color: transparent!important;
    color: #fff!important;
    border: none;
    border-radius: 0;
}
#product-detail-page .product-teaser-fix.contact .quantity-teaser-fix {
    display: none!important;
}
#product-detail-page .product-teaser-fix .contain-btn-quantity button.btn i {
    color: #fff!important;
}
#product-detail-page .product-detail #slider .owl-carousel .owl-nav {
    display: none;
}
#product-detail-page .product-detail #carousel .owl-carousel .owl-stage {
    width: 100%!important;
}
#product-detail-page .product-detail #carousel .owl-carousel .owl-stage .owl-item {
    width: 100%!important;
}
#product-detail-page .product-detail .node-left #slider .owl-carousel .owl-stage-outer .owl-item {
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
}

#product-detail-page button.btn-cart-contact-product-detail,
#product-detail-page button.btn-cart-product-detail,
#product-detail-page button.btn-cart-add-product-detail {
    display: block;
}
#product-detail-page button.btn-cart-contact-product-detail.hide,
#product-detail-page button.btn-cart-product-detail.hide,
#product-detail-page button.btn-cart-add-product-detail.hide {
    display: none!important;
}
/*#product-detail-page .product-detail .node-right .price,*/
/*#product-detail-page .product-detail .node-right .summary {*/
/*    border-bottom: 2px solid #C4C4C4;*/
/*}*/


#product-detail-page .product-detail #carousel {
    height: 480px;
    overflow: auto;
}
#product-detail-page .product-detail .node-right form.block-custom-change {
    border-top: 1px solid #DEDEDE;
    padding-top: 15px;
}
#product-detail-page .product-detail .node-right .price .price-main {
    font-size: 36px;
    line-height: 45px;
    color: #FF0000;
}
#product-detail-page .product-detail .node-right .price .price-second {
    font-size: 24px;
    line-height: 21px;
    margin-right: 10px;
}
#product-detail-page .product-detail .node-right button.btn-add {
    color: #fff!important;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 15px 40px;
}
#product-detail-page .product-detail .node-right button.btn-add i {
    margin-right: 10px;
}
/*#product-detail-page .product-detail .node-right #add-to-cart button.btn-submit {*/
/*    background: #E30037;*/
/*    border: 1px solid #FF0000;*/
/*    box-sizing: border-box;*/
/*    border-radius: 10px;*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*}*/
#product-detail-page #product-info-tab {
}
#product-detail-page #product-info-tab li {
    padding: 14px 0;
}
#product-detail-page #product-info-tab li a {
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
#product-detail-page #product-info-tab li:hover a {
    color: #777;
}
#product-detail-page #myTabContent {
}
#product-detail-page .bestme-block-product-related-product .bestme-block-product-related-product-title {
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}
#product-detail-page .bestme-block-product-related-product .bestme-block-product-related-product-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
}


/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse {*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*    background: #E30037;*/
/*    color: #fff;*/
/*    border: 2px solid #E30037;*/
/*    padding: 13px 50px 13px 20px;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse:hover {*/
/*    background: #fff;*/
/*    color: #E30037;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse {*/
/*    display: inline-block;*/
/*    opacity: 1;*/
/*    transition: all 1s;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse.hide {*/
/*    display: none;*/
/*    opacity: 0;*/
/*}*/
/*#product-detail-page #myTabContent .dv-collapse button.btn-collapse i {*/
/*    position: absolute;*/
/*    transform: translate(15px, -2.5px);*/
/*}*/
#product-detail-page #myTabContent .tab-pane {
    height: 100%;
    padding: 0 20px;
}
/*#product-detail-page #myTabContent .tab-pane .tab-content-description.hide {*/
/*    height: 215px;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 9;*/
/*    -webkit-box-orient: vertical;*/
/*}*/


/*Contactpage*/
/*#contact-page .contact-info-left .contact-info-title {*/
/*    font-size: 32px;*/
/*    line-height: 35px;*/
/*    font-weight: 400;*/
/*    text-transform: uppercase;*/
/*    margin-bottom: 23px;*/
/*}*/
/*#contact-page .contact-info-left .contact-info-description {*/
/*    font-size: 18px;*/
/*    line-height: 26px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 15px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact .item-contact {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact .item-contact i {*/
/*    color: #1559B6;*/
/*    margin-right: 10px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact h6.item-contact-title {*/
/*    font-size: 24px;*/
/*    line-height: 30px;*/
/*    font-weight: 400;*/
/*    margin-bottom: 12.5px;*/
/*}*/
/*#contact-page .contact-info-left .info-contact p.item-contact-description {*/
/*    margin-bottom: 5px;*/
/*}*/
/*#contact-page .contact-form-right .contact-form-title {*/
/*    font-size: 30px;*/
/*    line-height: 35px;*/
/*    text-transform: uppercase;*/
/*    font-weight: 400;*/
/*    margin-bottom: 23px!important;*/
/*}*/
/*#contact-page .contact-form-right form#contact-form input, #contact-page .contact-form-right form#contact-form textarea {*/
/*    background-color: #FFFFFF!important;*/
/*    border: 1px solid #B7B7B7;*/
/*    box-sizing: border-box;*/
/*    border-radius: 0;*/
/*}*/
/*#contact-page .contact-form-right form#contact-form button[type="submit"] {*/
/*    background: #1559B6;*/
/*    text-transform: uppercase;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*    border-radius: 0;*/
/*}*/
#contact-page .contact-title-content {
    padding: 0 15%;
}
#contact-page .contact-title-content h2 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
}
#contact-page .contact-title-content p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
#contact-page .contact-form-left form#contact-form input,
#contact-page .contact-form-left form#contact-form textarea {
    background: transparent;
}
#contact-page .contact-form-left form#contact-form button[type="submit"] {
    background: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    border-radius: 0;
    padding: 15px 40px;
}


/*Productspage*/
.title-page-bg {
    background-image: url('../img/21987-01.png');
    mix-blend-mode: hard-light;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}
.title-page-bg .title-page-bg-overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(250, 116, 104, .5);
}
#products-page #difflist-sale-off-products #list-best-sale-products {
    overflow: auto;
    height: 500px;
}
#products-page .sidebar-right #product-price .price-range .ui-slider.ui-slider-horizontal {
    height: 5px;
}
#products-page .sidebar-right #product-price .price-range .ui-slider .ui-slider-range {
    background: #FF9801!important;
}
#products-page .sidebar-right #product-price .price-range .ui-slider .ui-slider-handle {
    top: -7.5px;
    border: 1px solid #FF9801!important;
}
.view-header.line-border-title {
    border-bottom: 1px solid #DEDEDE;
}


/*Blog-detailpage*/
#blogs-page .blogs-content .blog-item .blog-content .title {
    font-size: 24px;
    line-height: 36px;
}
#blogs-page .blogs-content .blog-item .blog-content .short-content {
    margin-top: 7.5px;
}
#blogs-page .blogs-content .blog-item .blog-content a.link-blog {
    font-size: 16px;
    padding: 12.5px 25px;
    font-weight: 400;
    color: #fff;
    transition: all .5s;
    line-height: 22px;
}
#blogs-page .blogs-content .blog-item .blog-content a.link-blog:hover {
    background-color: #fff;
}
#blogs-detail-page .blog-detail-content .blog-views .social ul li {
    list-style: none;
    float: left;
    margin: 0 10px;
    font-size: 24px;
}


.container-comments .form-comment .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 30px;
    padding: 5px;
}
.container-comments .form-comment .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
.container-comments .form-comment .form-group textarea {
    /*resize: none;*/
    border-radius: 0;
}
.container-comments .form-comment .form-group button {
    padding: 10px 100px;
    border-radius: 0;
    box-sizing: border-box;
}
.container-comments .list-comments ul li.comment-item .title img {
    width: 50px;
    height: 50px;
}
.container-comments .list-comments ul li.comment-item .title .name {
    font-size: 18px;
    line-height: 21px;
}
.container-comments .list-comments ul li.comment-item .title .date {
    color: #7C7C7C;
    font-size: 18px;
    line-height: 21px;
}
.container-comments .list-comments ul li.comment-item .title .rating .rating-container .rating-item::before {
    content: "\f006";
    font-family: FontAwesome;
    color: #FFC300;
    font-size: 14px;
}
.container-comments .list-comments ul li.comment-item .title .rating .rating-container .rating-item.active::before {
    content: "\f005";
}
.container-comments .list-comments ul li.comment-item .content * {
    font-size: 18px;
    line-height: 21px;
}

/*Reponsive*/
@media only screen and (max-width: 768px) {
    header#header-main.block-header #header-top-menu #header-menu-main-fixed .block-header-menu ul.nav li a {
        color: #000;
    }
    header.block-header .fix-content .menu-main .list-action {
        transform: translateY(50px);
    }
    header.block-header .fix-content .menu-main .menu-fixed {
        order: 2;
    }
    header.block-header.refix-min-height {
        min-height: 125px;
    }
    header.block-header.fixed .fix-content .menu-main .menu-fixed button.navbar-toggler {
        display: none!important;
    }
    header.block-header .fix-content .menu-main .menu-fixed button.navbar-toggler {
        position: absolute;
        top: -67px;
        right: 30%;
        z-index: 9999;
    }
    header.block-header .fix-content .menu-main .menu-fixed .navbar-collapse {
        background-color: #fff;
        transform: translateY(30px);
    }
    header.block-header .fix-content .menu-main .menu-fixed .navbar-collapse ul li.nav-item {
        width: 100%;
    }
    footer .footer-px-10 .footer-left {
        padding-left: 15px!important;
        order: 2;
    }
    footer .footer-px-10 .footer-right {
        padding-right: 15px!important;
        order: 1;
    }
    footer .footer-px-10 .footer-right .gallery {
        grid-gap: 15px;
    }
    
    .block-product .owl-carousel.owl-product .owl-nav,
    .block-blog .owl-carousel.owl-product .owl-nav {
        top: -40px;
        right: 40px;
        width: auto;
        display: flex;
    }
    .block-product .owl-carousel.owl-product .owl-nav button,
    .block-blog .owl-carousel.owl-product .owl-nav button {
        padding: 20px 12.5px!important;
    }
    .block-product .owl-carousel.owl-product .owl-nav button.owl-prev,
    .block-blog .owl-carousel.owl-product .owl-nav button.owl-prev {
        position: relative;
        left: 0!important;
    }
    .block-product .owl-carousel.owl-product .owl-nav button.owl-next,
    .block-blog .owl-carousel.owl-product .owl-nav button.owl-next {
        position: relative;
        right: 0!important;
    }
    .block-product .owl-carousel.owl-product .owl-nav button::before,
    .block-blog .owl-carousel.owl-product .owl-nav button::before {
        font-size: 30px;
    }
    
    .carousel.carousel-products.slide .carousel-inner {
        margin-top: 40px;
    }
    .carousel.carousel-products.slide .carousel-control {
        top: -30px;
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
        left: 0;
    }
    .carousel.carousel-products.slide .carousel-control.carousel-control-next {
        left: 40px;
    }
    .carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
        width: 20px;
        height: 20px;
    }
    
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control {
        top: 50%;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-prev {
        left: 30px;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control.carousel-control-next {
        right: 30px;
        left: unset;
    }
    section#slide-hot-products .carousel.carousel-products.slide .carousel-control span.carousel-control-icon,
    section#diffslide-hot-products .carousel.carousel-products.slide .carousel-control span.carousel-control-icon {
        width: 20px;
        height: 20px;
    }
    
    
    #product-detail-page .product-teaser-fix.mobile {
        display: block!important;
    }
    #product-detail-page .product-teaser-fix .contain-btn-quantity,
    #product-detail-page .product-teaser-fix .contain-btn-quantity .quantity-teaser-fix.quantity {
        display: flex!important;
    }
}
@media only screen and (max-width: 480px) {
    .product-item .product-info .info {
        height: 120px;
    }
    .product-item .product-image {
        height: 200px;
    }
}
