{{ header }}

<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ home_link }}">Trang chủ</a></li>
            <li class="ega-menu__item"><h1>Đăng nhập</h1></li>
        </ul>
    </div>
</section>

<div class="ega-login ega-p-b--4">
    <div class="ega-container">
        <div class="ega-row ega-flex--center">
            <div class="ega-col-md-6 ega-col-12">
                <div id="ega-login" class="ega-card ega-border--0">
                    {% if error %}
                        <div class="ega-alert ega-alert--danger">{{ error }}</div>
                    {% endif %}
                    <h4 class="ega-h5"><svg class="ega-ic-lock">
                            <use xlink:href="#ega-ic-lock"></use>
                        </svg> Đăng nhập</h4>
                    <form accept-charset='UTF-8' action='{{ action }}' id='customer_login' method='post'>
                        {% if redirect %}
                            <input type="hidden" name="redirect" value="{{ redirect }}">
                        {% endif %}
                        <div class="ega-form__group">
                            <label for="customer_email">Email: </label>
                            <input class="ega-form__control" required type="email" value="{{ email }}" name="email" id="customer_email" placeholder="Email" />
                        </div>
                        <div class="ega-form__group">
                            <label for="customer_password">Mật khẩu: </label>
                            <input required type="password" value="{{ password }}" name="password" id="customer_password" placeholder="Mật khẩu" class="ega-form__control" />
                        </div>
                        <div>
                            <input class="ega-btn ega-base-color ega-m--0" type="submit" value="Đăng nhập" />
                            <div class="ega-f--right ega-text--right">
                                <a class="ega-link ega-text--no-underline" href="{{ urlforgotten }}">Quên mật khẩu?</a><br>
                                Chưa có tài khoản? <a class="ega-link ega-text--no-underline" href="{{ urlregister }}" title="Đăng ký">Đăng ký</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}