/* oswald-200 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    src: url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-200.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-300 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-500 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-600 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.svg#Oswald') format('svg'); /* Legacy iOS */
}
/* oswald-700 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/catalog/view/theme/default/fonts/Oswald/oswald-v35-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Oswald') format('svg'); /* Legacy iOS */
}

/* font new */

/* font Playfair Display */
@font-face {
    font-family: 'Playfair Display';
    font-weight: 900;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-Black.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 900;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-MediumItalic.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf')
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf')
}

/* font Quicksand */
@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Quicksand/Quicksand-Bold.ttf')
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Quicksand/Quicksand-Light.ttf')
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Quicksand/Quicksand-Medium.ttf')
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Quicksand/Quicksand-Regular.ttf')
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Quicksand/Quicksand-SemiBold.ttf')
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Quicksand/Quicksand-Bold.ttf')
}

/* font Montserrat */

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Black.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-BlackItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Bold.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-BoldItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-ExtraBold.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-ExtraLight.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Italic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Light.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-LightItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Medium.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-MediumItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Regular.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-SemiBold.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-Thin.ttf')
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Montserrat/Montserrat-ThinItalic.ttf')
}

/* fonts KoHo */

@font-face {
    font-family: 'KoHo';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-ExtraLight.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-ExtraLightItalic.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-Light.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-LightItalic.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-Regular.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-Medium.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-MediumItalic.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-SemiBold.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-SemiBoldItalic.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-BoldItalic.ttf')
}

@font-face {
    font-family: 'KoHo';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/KoHo/KoHo-Bold.ttf')
}

/* fonts Newsreader */

@font-face {
    font-family: 'Newsreader';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-ExtraLight.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-ExtraLightItalic.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-Light.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-LightItalic.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-Regular.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-Medium.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-MediumItalic.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-SemiBold.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-SemiBoldItalic.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-Bold.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-BoldItalic.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-ExtraBold.ttf')
}

@font-face {
    font-family: 'Newsreader';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Newsreader/Newsreader-ExtraBoldItalic.ttf')
}

/* font Lora */

@font-face {
    font-family: 'Lora';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Lora/Lora-Regular.ttf')
}

@font-face {
    font-family: 'Lora';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Lora/Lora-Medium.ttf')
}

@font-face {
    font-family: 'Lora';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Lora/Lora-SemiBold.ttf')
}

@font-face {
    font-family: 'Lora';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Lora/Lora-SemiBoldItalic.ttf')
}

@font-face {
    font-family: 'Lora';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Lora/Lora-Bold.ttf')
}

@font-face {
    font-family: 'Lora';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Lora/Lora-BoldItalic.ttf')
}

/* font inter */

@font-face {
    font-family: 'inter';
    font-weight: 100;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-Thin.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-ExtraLight.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-Light.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-Regular.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-Medium.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-SemiBold.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-Bold.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-ExtraBold.ttf')
}

@font-face {
    font-family: 'inter';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/default/fonts/Inter/Inter-Black.ttf')
}