{{ custom_header }}
<style>
    .table-borderless td, .table-borderless th{
        border-bottom: none !important;
    }
    .btn-delete {
        cursor: pointer;
        box-shadow: none;
        border: none;
        width: 14px;
        height: 14px;
        margin-bottom: 3px;
        background: url(/admin/view/image/theme/delete.png) no-repeat;
    }
    .text-orange {
        color: #ea5b2d
    }
    .text-orange:hover {
        color: #ee3a00
    }
</style>
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb.href != '' %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>

                    <div class="sub-head clearfix pb-3">
                        <h1 class="page-title float-left font-20">{{ account_setting_title }}</h1>
                    </div>

                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i
                                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    <div class="box-form pt-4 border-top">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-500 my-3 font-16">{{ account_setting_subtitle }}</p>
                                <p class="text-secondary">{{ account_setting_description }}</p>
                            </div>

                            <div class="col-12 col-md-8">
                                <div class="box-wrap shadow-sm rounded-3">
                                    <div class="box-content pt-4 px-4 pb-2">
                                        <div class="clearfix mb-2">
                                            <span class="font-weight-500 float-left text-uppercase">{{ admin_account_title }}</span>
                                            <a href="{{ href_admin_account_setting }}"
                                               class="btn btavatar float-left mr-4n-default float-right text-triadic">{{ admin_account_edit_button }}</a>
                                        </div>
                                        <div class="clearfix">
                                            <div class="avatar float-left mr-4">
                                                <img src="{{ admin_user.avatar }}" width="40" height="40">
                                            </div>
                                            <div class="info">
                                                <a href="{{ href_admin_account_setting }}" class="">{{ admin_user.lastname }} {{ admin_user.firstname }}</a>
                                                <p class="font-13 text-secondary">{{ admin_user.last_login }}</p>
                                            </div>
                                        </div>
                                    </div> <!-- End box content -->
                                </div> <!-- End box wrap -->
                                {% if staff_users %}
                                    <div class="box-wrap shadow-sm rounded-3 my-2 pb-3">
                                        <div class="box-content pt-4 px-4 pb-2">
                                            <div class="clearfix mb-2">
                                                <span class="font-weight-500 float-left text-uppercase">{{ staff_account_title }}</span>
                                                <a href="{{ href_add_account }}"
                                                   class="float-right text-triadic" id="add-staff">{{ staff_account_add_button }}</a>
                                                <a onclick="killAllSessions()"
                                                   class="float-right text-triadic mr-3">{{ staff_account_kill_all_sessions }}</a>
                                            </div>

                                            {% for staff_user in staff_users %}
                                                <div class="user-item clearfix my-3 pb-3 {% if loop.last %}{% else %}border-bottom{% endif %}">
                                                    <div class="avatar float-left mr-4">
                                                        <img src="{{ staff_user.avatar }}" width="40" height="40">
                                                    </div>
                                                    <div class="info float-left">
                                                        <a href="{{ staff_user.href_edit_account }}" class="">{{ staff_user.lastname }} {{ staff_user.firstname }}</a>
                                                        <p class="font-13 text-secondary m-0">{{ staff_user.last_login }}</p>
                                                    </div>
                                                    <div class="permission float-right mt-2 text-secondary">
                                                        <p class="font-weight-bold">
                                                            {{ staff_user.user_group_name }}
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div> <!-- End box content -->
                                    </div> <!-- End box wrap -->
                                {% else %}
                                    <div class="box-wrap shadow-sm rounded-3 my-2 pb-3">
                                        <div class="box-content pt-4 px-4 pb-2">
                                            <p class="font-weight-500 text-uppercase">{{ staff_account_title }}</p>
                                            <p>{{ staff_account_description }}</p>
                                            <a class="btn btn-pink"
                                               href="{{ href_add_account }}">{{ staff_account_add_button }}</a>
                                        </div> <!-- End box content -->
                                    </div> <!-- End box wrap -->
                                {% endif %}
                            </div>
                        </div> <!-- End row -->
                    </div> <!-- End box form -->
                    <div class="box-form mt-4 pt-4 border-top">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-500 my-3 font-16">{{ staff_group_decentralization }}</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="box-wrap shadow-sm rounded-3 pb-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-between box-content p-4">
                                                <div>
                                                    <h3 class="font-weight-bold text-uppercase">{{ txt_staff_group }}</h3>
                                                </div>
                                                <div>
                                                    <a class="btn btn-outline-secondary" href="{{ href_add_user_group }}">{{ action_add_group }}</a>
                                                </div>
                                            </div>
                                            <table class="table table-borderless">
                                                <thead>
                                                <tr>
                                                    <th scope="col">{{ txt_group_name }}</th>
                                                    <th scope="col" class="text-center" style="max-width: 30%;">{{ number_staff_in_group }}</th>
                                                    <th scope="col" class="text-center">{{ txt_action }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for group_staff_info in list_groups_staffs %}
                                                <tr>
                                                    <td class="pl-3"><a href="{{ href_edit_user_group ~ '&user_group_id=' ~ group_staff_info.id }}">{{ group_staff_info.name }}</a></td>
                                                    <td class="text-center">{{ group_staff_info.total ? group_staff_info.total : '0' }}</td>
                                                    <td class="text-center">
                                                        <a href="{{ href_edit_user_group ~ '&user_group_id=' ~ group_staff_info.id }}" class="text-orange">{{ txt_view_detail }}</a>
                                                    </td>
                                                    <td>
                                                        {% if group_staff_info.total == 0 %}
                                                            <form action="{{ href_delete_user_group }}" method="post">
                                                                <input type="hidden" value="{{  group_staff_info.id }}" name="user_group_id">
                                                                <button type="submit" data-key="product-attribute-0" class="btn btn-delete remove-attribute"></button>
                                                            </form>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div> <!-- End row -->
                    </div>
                    {% if config_packet_paid_type %}
                    <div class="box-form mt-4 pt-4 border-top">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="font-weight-500 my-3 font-16">{{ benefit_package }}</p>
                                <p class="text-secondary">{{ benefit_detail }}
                                    <a style="text-transform: uppercase; color: #ED592A; font-size: 16px;" href="{{ bestme_pricing }}">{{ here }}</a>.</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="box-wrap shadow-sm rounded-3 pb-4">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="box-content p-4">
                                                <p class="my-3 font-14" style="text-transform: uppercase">{{ package_is_in_use }}</p>
                                                <span>{{ config_packet_paid_name }}</span>
                                            </div> <!-- End box content -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="box-content p-4">
                                                <p class="my-3 font-14" style="text-transform: uppercase">{{ renewal_date }}</p>
                                                <span>{{ config_packet_paid_start }}</span>
                                            </div> <!-- End box content -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="box-content p-4">
                                                <p class="my-3 font-14" style="text-transform: uppercase">{{ expiration_date }}</p>
                                                <span>{{ config_packet_paid_end }}</span>
                                            </div> <!-- End box content -->
                                        </div>
                                        <div class="col-md-3">
                                            <div class="box-content p-4">
                                                <p class="my-3 font-14" style="text-transform: uppercase">{{ shop_status }}</p>
                                                <span style="color:#ea5b2d">{{ config_shop_disabled == '1' ? shop_status_disabled : shop_status_active }}</span>
                                            </div> <!-- End box content -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pl-4">
                                                <p class="my-3 font-14" style="text-transform: uppercase">{{ txt_actual_use }}</p>
                                            </div> <!-- End box content -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="w-100 d-flex pl-4 pr-4">
                                            <div class="col-md-3 pt-2">
                                                <b class="font-weight-500 font-14">{{ txt_capacity }}</b>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row" style="align-items: center">
                                                    {% if(config_packet_unlimited_capacity == '1') %}
                                                        <div class="col-md-12 text-left">
                                                            <b class="font-weight-500 font-14" style="color: #ED592A">{{ txt_unlimited }}</b>
                                                        </div>
                                                    {% else %}
                                                        {% if(config_packet_capacity) %}
                                                            <div class="col-md-12 text-right">
                                                                <b class="font-weight-500 font-14"> {{ txt_used }} {{ total_image_size }}/ {{ config_packet_capacity}} GB</b>
                                                            </div>
                                                            <div class="progress progress-onboarding col-md-12 p-0">
                                                                <div class="progress-bar progressbar-actual-use" style="width:  {{ total_image_size/config_packet_capacity * 100 }}% " role="progressbar" aria-valuenow="{{ config_packet_capacity }}" aria-valuemin="0" aria-valuemax="{{ config_packet_capacity }}"></div>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-md-12 text-left">
                                                                <b class="font-weight-500 font-14" style="color: #ED592A">{{ txt_not_apply }}</b>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="w-100 d-flex pt-3 pl-4 pr-4 mt-3">
                                            <div class="col-md-3 pt-2">
                                                <b class="font-weight-500 font-14">{{ txt_staff }}</b>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row" style="align-items: center">
                                                    {% if(config_packet_unlimited_staffs == '1') %}
                                                        <div class="col-md-12 text-left">
                                                            <b class="font-weight-500 font-14" style="color: #ED592A">{{ txt_unlimited }}</b>
                                                        </div>
                                                    {% else %}
                                                        {% if(config_packet_number_of_staffs) %}
                                                            <div class="col-md-12 text-right">
                                                                <b class="font-weight-500 font-14">{{ txt_created }} {{ count_staff }}/{{ config_packet_number_of_staffs }}
                                                                    {{ txt_account }}</b>
                                                            </div>
                                                            <div class="progress progress-onboarding col-md-12 p-0">
                                                                <div class="progress-bar progressbar-actual-use" style="width:  {{ count_staff/config_packet_number_of_staffs * 100 }}% " role="progressbar" aria-valuenow="{{ count_staff }}" aria-valuemin="0" aria-valuemax="{{ config_packet_number_of_staffs }}"></div>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-md-12 text-left">
                                                                <b class="font-weight-500 font-14" style="color: #ED592A">{{ txt_not_apply }}</b>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="w-100 d-flex pt-3 pl-4 pr-4 mt-3">
                                            <div class="col-md-3 pt-2">
                                                <b class="font-weight-500 font-14">{{ txt_store }}</b>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row" style="align-items: center">
                                                    {% if(config_packet_unlimited_stores == '1') %}
                                                        <div class="col-md-12 text-left">
                                                            <b class="font-weight-500 font-14" style="color: #ED592A">{{ txt_unlimited }}</b>
                                                        </div>
                                                    {% else %}
                                                        {% if (config_packet_number_of_stores) %}
                                                            <div class="col-md-12 text-right">
                                                                <b class="font-weight-500 font-14">{{ txt_created }} {{ count_store }}/{{ config_packet_number_of_stores }} {{ txt_store }}</b>
                                                            </div>
                                                            <div class="progress progress-onboarding col-md-12 p-0">
                                                                <div class="progress-bar progressbar-actual-use" style="width:  {{ count_store/config_packet_number_of_stores * 100 }}% " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-md-12 text-left">
                                                                <b class="font-weight-500 font-14" style="color: #ED592A">{{ txt_not_apply }}</b>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End box wrap -->
                            </div>
                        </div> <!-- End row -->
                    </div>
                    {% endif %}

                </div> <!-- End main content -->

                {#<div class="alert-footer d-none d-lg-block">#}
                    {#<div class="upgrade-alert">#}
                        {#<span>Bạn còn 4 ngày dùng thử!</span>#}
                        {#<a href="#" class="btn btn-light text-light">Chọn một gói sử dụng</a>#}
                    {#</div>#}
                {#</div>#}
            </main>
            <!-- End Main -->
        </div>
    </div>
<!-- End page wrapper -->
</div>
<div id="image-loading"></div>

<script type="text/javascript">
    $("#add-staff").click(function(){
        var link = $(this).attr('href');

        var staff = "{{ number_group_staff }}";
        if(staff == '0') {
            event.preventDefault();
            alert("{{ alert_create_staff_group }}");
        }
    })

    function killAllSessions() {
        if (!confirm("{{ staff_account_kill_all_sessions_confirm }}")) {
            return;
        }

        var url = '{{ href_kill_all_sessions|raw }}'.replace(/&amp;/g, '&');

        $.ajax({
            type: "POST",
            url: url,
            data: {},
            dataType: "html",
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (data) {
                $('#image-loading').hide();
                alert("{{ staff_account_kill_all_sessions_success }}")
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [POST change error]" + xhr.statusText + "\r\n" + xhr.responseText);
                $('#image-loading').hide();
                alert("{{ staff_account_kill_all_sessions_failed }}")
            }
        });
    }
</script>
{{ footer }}