{{ custom_header }}
<!-- End header -->
<div class="setting-page">
    <div class="page-wrapper">

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb.href != '' %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                    <form id="account-form" data-bv-onerror="onFormError" data-bv-onsuccess="onFormSuccess" action="{{ action }}" method="post"
                          class="setting-admin-account-form form-fix-head">
                        <input type="submit" style="display: none">
                        <input type="hidden" name="user_id" value="{{ user_id }}">
                        <input type="hidden" name="type" value="{{ type }}">
                        <input type="hidden" name="user_group_id" value="{{ user_group_id }}">
                        <input type="hidden" name="username" value="{{ username }}">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">{{ lastname }} {{ firstname }}</h1>
                                <button type="button" class="btn btn-pink float-right save-button"
                                        >{{ save_setting_button }}
                                </button>
                                <a href="{{ href_breadcrumb_setting }}"
                                   class="btn btn-light float-right border bg-white mr-2">{{ skip_setting_button }}</a>
                            </div>
                        </div>

                        <!-- Modal confirm password presave -->
                        <div class="modal fade" id="confirmPasswordPreSave" tabindex="-1" role="dialog"
                             aria-labelledby="confirmPasswordPreSaveLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title font-16 font-weight-500">{{ confirm_password_title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ confirm_password_message }}({{ txt_account }}:
                                            <b>{{ username }}</b>)</p>
                                        <input type="password" name="old_password" id="password-confirm"
                                               class="form-control"
                                               placeholder="{{ confirm_password_placeholder }}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{{ confirm_password_skip }}</button>
                                        <button type="button" class="btn btn-pink" id="confirm-pass"
                                                data-dismiss="modal">{{ confirm_password_accept }}</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End modal -->

                        <div class="box-form pt-4 border-top">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="font-weight-500 my-3 font-16">{{ admin_account_title }}</p>
                                    <p class="text-secondary">{{ admin_account_description }}</p>
                                </div>

                                <div class="col-12 col-md-8">
                                    <div class="box-wrap shadow-sm rounded-3">
                                        <div class="box-content pt-4 px-4 pb-2">
                                            <p class="font-weight-500 text-uppercase mb-4">{{ admin_account_profile }}</p>
                                            <div class="form-group clearfix">
                                                <div class="avatar float-left mr-4 preview" id="avatar-image">
                                                    <img src="{{ image }}" alt="{{ firstname }} {{ lastname }}"
                                                         title="{{ username }}" width="40" height="40">
                                                    <input type="hidden" value="{{ image }}" name="avatar"
                                                           id="input-avatar">
                                                </div>
                                                <div class="info">
                                                    <input type="button" name="avatar" accept="image/*" class="d-none"
                                                           id="upload-avatar">
                                                    <label for="upload-avatar"
                                                           class="btn btn-default">{{ admin_account_add_image }}</label>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ admin_account_lastname }} <span class="text-danger">*</span></label>
                                                    <input type="text" name="lastname" class="form-control" required pattern=".*\S.*"
                                                           value="{{ lastname }}"
                                                           placeholder="{{ admin_account_lastname_placeholder }}">
                                                </div>
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ admin_account_firstname }} <span class="text-danger">*</span></label>
                                                    <input type="text" name="firstname" class="form-control" required pattern=".*\S.*"
                                                           value="{{ firstname }}"
                                                           placeholder="{{ admin_account_firstname_placeholder }}">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ admin_account_email }}</label>
                                                    <input type="email" name="email" class="form-control"
                                                           value="{{ email }}" readonly
                                                           placeholder="{{ admin_account_email_placeholder }}">
                                                </div>
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ admin_account_phone }} <span class="text-danger">*</span></label>
                                                    <input type="text" name="telephone" class="form-control" required
                                                           value="{{ telephone }}"
                                                           placeholder="{{ admin_account_phone_placeholder }}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="font-weight-normal">{{ admin_account_intro }}</label>
                                                <textarea name="info" class="form-control"
                                                          placeholder="{{ admin_account_intro_placeholder }}"
                                                          rows="3">{{ info }}</textarea>
                                            </div>

                                            <div class="dropdown-divider my-4"></div>

                                            <p class="font-weight-500 text-uppercase mb-4">{{ admin_account_change_password }}</p>
                                            <p class="my-4 text-secondary">{{ admin_account_change_password_description }}{{ username }}</p>

                                            <button type="button" class="btn btn-default mb-3"
                                                    onclick="showPasswordChange(this)">{{ admin_account_change_password_button }}
                                            </button>

                                            <div class="form-row change-password d-none">
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ admin_account_new_password }} <span class="text-danger">*</span></label>
                                                    <input type="password" name="password" class="form-control"
                                                           placeholder="{{ admin_account_new_password_placeholder }}">
                                                </div>
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ admin_account_new_password_confirm }} <span class="text-danger">*</span></label>
                                                    <input type="password" name="password_confirmation"
                                                           class="form-control"
                                                           placeholder="{{ admin_account_new_password_confirm_placeholder }}">
                                                </div>
                                            </div>
                                        </div> <!-- End box content -->
                                    </div> <!-- End box wrap -->
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End box form -->
                    </form>
                </div> <!-- End main content -->

                {#<div class="alert-footer d-none d-lg-block">#}
                    {#<div class="upgrade-alert">#}
                        {#<span>Bạn còn 4 ngày dùng thử!</span>#}
                        {#<a href="#" class="btn btn-light text-light">Chọn một gói sử dụng</a>#}
                    {#</div>#}
                {#</div>#}
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>
<div id="image-loading"></div>
<!-- POPUP IMAGE MANAGER-->
<div id="modal-container">
    <div class="modal-background">
        <div class="container modal">
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/image_manager.css">
<script src="view/javascript/custom/image_manager.js"></script>
<!-- END POPUP IMAGE MANAGER -->

<script type="text/javascript">
    $('#upload-avatar').on('click', function (e) {
        e.preventDefault();
        var target = 'input-avatar';  // Must be id
        var thumb = 'avatar-image';   // Must be id
        $('#modal-image').remove();

        $.ajax({
            url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token') + '&single=true&target=' + target + '&thumb=' + thumb,
            dataType: 'html',
            beforeSend: function () {
                $('#modal-container').removeAttr('class').addClass('one');
            },
            complete: function () {
            },
            success: function (html) {
                $('#modal-container .modal').html(html);
            }
        });
    });
    $('#confirm-pass').on('click', function () {
        var pass = $('#password-confirm').val();
        $.ajax({
            url: 'index.php?route=settings/account/checkPass&user_token=' + getURLVar('user_token'),
            method: 'POST',
            data: {
                password: pass
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            complete: function () {
            },
            success: function (json) {
                $('.save-button').blur();
                $('#image-loading').hide();
                if (json.status === true) {
                    var password = $('input[name=\'password\']').val();
                    var password_confirmation = $('input[name=\'password_confirmation\']').val();
                    if (password !== password_confirmation) {
                        alert('{{ alet_password_confirm }}');
                    } else {
                        formSubmit();
                    }
                } else {
                    alert(json.message);
                }

            }
        });
    });
    $('#account-form').bootstrapValidator({
        fields: {
            lastname: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max }}',
                        callback: function () {
                            var lastname = $('input[name="lastname"]').val();
                            if (parseInt(lastname.length) > 255) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            firstname: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max }}',
                        callback: function () {
                            var firstname = $('input[name="firstname"]').val();
                            if (parseInt(firstname.length) > 255) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            telephone: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max_min_telephone }}',
                        callback: function () {
                            var telephone = $('input[name="telephone"]').val();
                            var intRegex = /^\d+$/;
                            if (!intRegex.test(telephone) && telephone.length != 0) {
                                return {
                                    valid: false,
                                    message: '{{ error_number }}'
                                }
                            }
                            if (8 > telephone.length && telephone.length > 0) {
                                return {
                                    valid: false,
                                    message: '{{ error_input_max_min_telephone }}'
                                }
                            }
                            if (telephone.length > 15) {
                                return {
                                    valid: false,
                                    message: '{{ error_input_max_min_telephone }}'
                                }
                            }
                            return true;
                        }
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max_min_password }}',
                        callback: function () {
                            var password = $('input[name="password"]').val();
                            if (parseInt(password.length) == 0) {
                                return true;
                            }
                            if (6 < parseInt(password.length) && parseInt(password.length) < 255) {
                                return true;
                            }
                            return false;
                        }
                    }
                }
            },
            password_confirmation: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max_min_password }}',
                        callback: function () {
                            var password_confirmation = $('input[name="password_confirmation"]').val();
                            if (parseInt(password_confirmation.length) == 0) {
                                return true;
                            }
                            if (6 < parseInt(password_confirmation.length) && parseInt(password_confirmation.length) < 255) {
                                return true;
                            }
                            return false;
                        }
                    }
                }
            },
        }
    }).on('error.field.bv', function(e, data) {
        jQuery('.save-button').prop("disabled", true);
    }).on('success.field.bv', function(e, data) {
        var flag = false;
        $('#account-form .help-block').each(function () {
            if ($(this).attr('data-bv-result') == "INVALID") {
                flag = true;
            }
        });
        jQuery('.save-button').prop("disabled", flag);
    });

    $(".save-button").click(function(){
        formSubmit();
    })

    function formSubmit() {
        $('#account-form').find(':submit').click();
    }
</script>
{{ footer }}