{{ custom_header }}
<!-- End header -->
<div class="setting-page">
    <div class="page-wrapper">

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb.href != '' %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                    <form id="account-staff-form" action="{{ action }}" method="post"
                          class="setting-add-account-form form-fix-head">
                        {% if user_id %}<input type="hidden" name="user_id" value="{{ user_id }}">{% endif %}
                        <input type="hidden" name="user_group_id" value="{{ user_info['user_group_id'] }}">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                {% if user_info['type'] == 'Admin' %}
                                    <h1 class="page-title float-left font-20">{{ heading_title }}</h1>
                                {% else %}
                                    <h1 class="page-title float-left font-20">{{ user_info['lastname'] }} {{ user_info['firstname'] }}</h1>
                                {% endif %}
                                <button type="button" id="save-button" class="btn btn-pink float-right save-button"
                                    >{{ save_setting_button }}
                                </button>
                                <a href="{{ settings_link }}"
                                   class="btn btn-light float-right border bg-white mr-2">{{ skip_setting_button }}</a>
                            </div>
                        </div>

                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        <div class="box-form pt-4 border-top">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="font-weight-500 my-3 font-16">{{ staff_account_title }}</p>
                                    <p class="text-secondary">{{ staff_account_fill }}</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="box-wrap shadow-sm rounded-3">
                                        <div class="box-content pt-4 px-4 pb-2">
                                            <p class="font-weight-500 text-uppercase mb-4">{{ staff_account_profile }}</p>
                                            <div class="form-group clearfix">
                                                <div class="avatar float-left mr-4 preview" id="avatar-image">
                                                    <img src="{% if user_info['image'] %} {{ user_info['image'] }}{% else %}view/image/custom/icons/avatar.svg{% endif %}"
                                                         width="40" height="40">
                                                    <input type="hidden" value="{{ user_info['image'] }}" name="avatar"
                                                           id="input-avatar">
                                                </div>
                                                <div class="info">
                                                    <input type="button" name="avatar" accept="image/*" class="d-none"
                                                           id="upload-avatar">
                                                    <label for="upload-avatar"
                                                           class="btn btn-default">{{ staff_account_add_image }}</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ staff_account_lastname }} <span class="text-danger">*</span></label>
                                                    <input type="text" required pattern=".*\S.*" name="lastname" class="form-control"
                                                           maxlength="200" value="{{ user_info['lastname'] }}"
                                                           placeholder="{{ staff_account_lastname_placeholder }}">
                                                </div>
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ staff_account_firstname }} <span class="text-danger">*</span></label>
                                                    <input type="text" required pattern=".*\S.*" name="firstname" class="form-control"
                                                           maxlength="200" value="{{ user_info['firstname'] }}"
                                                           placeholder="{{ staff_account_firstname_placeholder }}">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ staff_account_email }} <span class="text-danger">*</span></label>
                                                    <input type="email" name="email" class="form-control"
                                                           maxlength="200" value="{{ user_info['email'] }}"
                                                           {% if user_id %}readonly{% endif %}
                                                           placeholder="{{ staff_account_email_placeholder }}">
                                                </div>
                                                <div class="form-group col-12 col-md-6">
                                                    <label class="font-weight-normal">{{ staff_account_phone }} <span class="text-danger">*</span></label>
                                                    <input type="text" required name="telephone"
                                                           class="form-control"
                                                           value="{{ user_info['telephone'] }}"
                                                           placeholder="{{ staff_account_phone_placeholder }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-normal">{{ staff_account_intro }}</label>
                                                <textarea name="info" class="form-control" maxlength="1024"
                                                          placeholder="{{ staff_account_intro_placeholder }}"
                                                          rows="3">{{ user_info['info'] }}</textarea>
                                            </div>
                                            <div class="form-row change-password">
                                                {% if current_user_type == 'Admin' %}
                                                <div class="form-group col-12 col-md-6">
                                                    <span class="select2-label">{{ txt_group_staff }} <span class="text-danger">*</span></span>
                                                    <div id="select-user-group" class="user-group-select">
                                                        <select class="form-control select2-user-groups select2-user-group" id="select-user-group"
                                                                name="user_group"
                                                                data-placeholder="{{ group_staff_placeholder }}">
                                                        </select>
                                                        <div class="select-2-dropdown-user-group"></div>
                                                        <span class="text-danger" style="display: none" id="warning-choice-store">
                                                                {{ warning_select_store }}
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="form-group col-12 col-md-6">
                                                    <span class="select2-label">{{ txt_store_staff }} <span class="text-danger">*</span></span>
                                                    <div id="select-store-trans" class="stores-select">
                                                        <select class="form-control select2-stores select2-store" id="select-store"
                                                                name="store_staff[]"
                                                                multiple=""
                                                                data-placeholder="{{ store_placeholder }}">
                                                        </select>
                                                        <div class="select-2-dropdown-store-transfer-receipt"></div>
                                                        <span class="text-danger" style="display: none" id="warning-choice-store">
                                                                {{ warning_select_store }}
                                                        </span>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <p class="text-danger">* Tài khoản này sẽ có toàn bộ quyền của nhóm nhân viên tương ứng</p>
                                            <div class="dropdown-divider my-4"></div>
                                        </div> <!-- End box content -->
                                    </div> <!-- End box wrap -->
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End box form -->

                        {% if user_id and current_user_type == 'Admin' %}
                            <div class="box-form mt-4 pt-4 border-top">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <p class="font-weight-500 my-3 font-16">{{ title_logout_account }}</p>
                                        <p class="text-secondary">{{ title_logout_account_des }}</p>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="box-wrap shadow-sm rounded-3">
                                            <div class="box-content p-4">
                                                <p>{{ title_logout_account_button_des }}</p>
                                                <a href="#" id="killUserSession"
                                                   class="btn btn-default">{{ title_logout_account_button }}</a>
                                            </div> <!-- End box content -->
                                        </div> <!-- End box wrap -->
                                    </div>
                                </div> <!-- End row -->
                            </div> <!-- End box form -->

                            <div class="box-form mt-4 pt-4 border-top">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <p class="font-weight-500 my-3 font-16">{{ title_delete_account }}</p>
                                        <p class="text-secondary">{{ title_delete_account_des }}</p>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <div class="box-wrap shadow-sm rounded-3">
                                            <div class="box-content p-4">
                                                <p>{{ btn_delete_account_des }}</p>
                                                {#<a id="delete-user" href="{{ href_delete_user }}" class="btn btn-danger" data-target="#confirmPasswordPreSave">{{ btn_delete_account }}</a>#}
                                                <a id="delete-user" data-href="{{ href_delete_user }}"
                                                   class="btn btn-danger text-white">{{ btn_delete_account }}</a>
                                            </div> <!-- End box content -->
                                        </div> <!-- End box wrap -->
                                    </div>
                                </div> <!-- End row -->
                            </div> <!-- End box form -->
                        {% endif %}
                    </form>

                    <!-- Modal confirm password presave -->
                    {#<div class="modal fade" id="confirmPasswordPreSave" tabindex="-1" role="dialog"#}
                         {#aria-labelledby="confirmPasswordPreSaveLabel" aria-hidden="true">#}
                        {#<div class="modal-dialog" role="document">#}
                            {#<div class="modal-content">#}
                                {#<div class="modal-header">#}
                                    {#<h5 class="modal-title font-16 font-weight-500">{{ confirm_password_title }}</h5>#}
                                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                                        {#<span aria-hidden="true">&times;</span>#}
                                    {#</button>#}
                                {#</div>#}
                                {#<div class="modal-body">#}
                                    {#<p>{{ confirm_password_message }}({{ txt_account }}:#}
                                        {#<b>{{ username }}</b>)</p>#}
                                    {#<input type="password" name="old_password" id="password-confirm"#}
                                           {#class="form-control"#}
                                           {#placeholder="{{ confirm_password_placeholder }}">#}
                                {#</div>#}
                                {#<div class="modal-footer">#}
                                    {#<button type="button" class="btn btn-default"#}
                                            {#data-dismiss="modal">{{ confirm_password_skip }}</button>#}
                                    {#<button type="button" class="btn btn-pink {{ type_action }}" id="confirm-pass"#}
                                            {#data-dismiss="modal">{{ confirm_password_accept }}</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div> <!-- End modal -->#}
                </div> <!-- End main content -->

                {#<div class="alert-footer d-none d-lg-block">#}
                {#<div class="upgrade-alert">#}
                {#<span>Bạn còn 4 ngày dùng thử!</span>#}
                {#<a href="#" class="btn btn-light text-light">Chọn một gói sử dụng</a>#}
                {#</div>#}
                {#</div>#}
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>
<div id="image-loading"></div>
<!-- POPUP IMAGE MANAGER-->
<div id="modal-container">
    <div class="modal-background">
        <div class="container modal">
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/image_manager.css">
<script src="view/javascript/custom/image_manager.js"></script>
<!-- END POPUP IMAGE MANAGER -->

<style>
    .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
        background-color: rgba(166, 166, 166,.5) !important;
    }
    #select-user-group .select2-results__options {
        height: 150px;
        overflow-y: auto;
    }
    #select-store-trans .select2-results__options {
          height: 150px;
          overflow-y: auto;
    }
</style>

<script type="text/javascript">
    $(function() {
        // Check alarm > 80% limited staff
        $.ajax({
            url: 'index.php?route=settings/account/validateLimitedStaff&user_token=' + getURLVar('user_token'),
            method: 'GET',
            beforeSend: function () {
                $('#image-loading').show();
            },
            complete: function () {
            },
            success: function (json) {
                $('#image-loading').hide();
                console.log(json);
                if (json.status === true) {
                    if(json.ratio_staff && json.ratio_staff >= 80) {
                        alert('{{ alarm_limit_staff }}')
                    }
                }
            }
        });
    });

    $('#upload-avatar').on('click', function (e) {
        e.preventDefault();
        var target = 'input-avatar';  // Must be id
        var thumb = 'avatar-image';   // Must be id
        $('#modal-image').remove();

        $.ajax({
            url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token') + '&single=true&target=' + target + '&thumb=' + thumb,
            dataType: 'html',
            beforeSend: function () {
                $('#modal-container').removeAttr('class').addClass('one');
            },
            complete: function () {
            },
            success: function (html) {
                $('#modal-container .modal').html(html);
            }
        });
    });

    $('#account-staff-form').bootstrapValidator({
        fields: {
            lastname: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max }}',
                        callback: function () {
                            var lastname = $('input[name="lastname"]').val();
                            if (parseInt(lastname.length) > 255) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            firstname: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max }}',
                        callback: function () {
                            var firstname = $('input[name="firstname"]').val();
                            if (parseInt(firstname.length) > 255) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    emailAddress: {
                        message: '{{ error_mail_address }}'
                    }
                }
            },
            telephone: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    },
                    callback: {
                        message: '{{ error_input_max_min_telephone }}',
                        callback: function () {
                            var telephone = $('input[name="telephone"]').val();
                            var intRegex = /^0[0-9-+]+$|^84[0-9-+]+$|^\+84[0-9-+]+$/;
                            if (!intRegex.test(telephone) && telephone.length != 0) {
                                return {
                                    valid: false,
                                    message: '{{ error_number }}'
                                }
                            }
                            if (8 > telephone.length && telephone.length > 0) {
                                return {
                                    valid: false,
                                    message: '{{ error_input_telephone }}'
                                }
                            }
                            if (telephone.length > 15) {
                                return {
                                    valid: false,
                                    message: '{{ error_input_telephone }}'
                                }
                            }
                            return true;
                        }
                    }
                }
            },
            user_group: {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    }
                }
            },
            'store_staff[]': {
                validators: {
                    notEmpty: {
                        message: '{{ error_empty }}'
                    }
                }
            },
        }
    });

    $("#save-button").on('click', function () {
        $('#account-staff-form').find(':submit').click();
    });


    // $('#confirm-pass').on('click', function () {
    //     $('#account-staff-form').find(':submit').click();
        {#var pass = $('#password-confirm').val();#}
        {#if ($("#confirm-pass").hasClass('create_new_staff')) {#}
        {#    var action_validate = 'create_new';#}
        {#}else{#}
        {#    action_validate = '';#}
        {#}#}
        {#var dataToSend = {#}
        {#    password: pass,#}
        {#    action_validate: action_validate#}
        {#}#}
        {#$.ajax({#}
        {#    url: 'index.php?route=settings/account/checkPass&user_token=' + getURLVar('user_token'),#}
        {#    method: 'POST',#}
        {#    data: dataToSend,#}
        {#    beforeSend: function () {#}
        {#        $('#image-loading').show();#}
        {#    },#}
        {#    complete: function () {#}
        {#    },#}
        {#    success: function (json) {#}
        {#        $('.save-button').blur();#}
        {#        $('#image-loading').hide();#}
        {#        if (json.status === true) {#}
        {#            if ($("#confirm-pass").hasClass('removeAccount')) {#}
        {#                var url_remove = $('#delete-user').attr('href');#}
        {#                window.location.href = url_remove;#}
        {#            } else {#}
        {#                var password = $('input[name=\'password\']').val();#}
        {#                var password_confirmation = $('input[name=\'password_confirmation\']').val();#}
        {#                if (password !== password_confirmation) {#}
        {#                    alert('{{ alet_password_confirm }}');#}
        {#                } else {#}
        {#                    $('#account-staff-form').find(':submit').click();#}
        {#                }#}
        {#            }#}
        {#        } else {#}
        {#            alert(json.message);#}
        {#        }#}

        {#    }#}
        {#});#}
    // });

    $('#killUserSession').on('click', function (e) {
        e.preventDefault(); //prevent the default action
        if (!confirm("{{ staff_account_kill_all_sessions_confirm }}")) {
            return;
        }

        var url = '{{ href_kill_user_sessions|raw }}'.replace(/&amp;/g, '&');
        var user_id = '{{ user_id }}';

        $.ajax({
            type: "POST",
            url: url,
            data: {user_id: user_id},
            dataType: "html",
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (data) {
                $('#image-loading').hide();
                alert("{{ staff_account_kill_all_sessions_success }}")
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#image-loading').hide();
                console.log(thrownError + "\r\n [POST change error]" + xhr.statusText + "\r\n" + xhr.responseText);
                alert("{{ staff_account_kill_all_sessions_failed }}")
            }
        });
    });

    $('#delete-user').on('click', function (e) {
        e.preventDefault();
        // $("#confirm-pass").addClass('removeAccount');
        // $("#confirmPasswordPreSave").modal('show');
        let href_delete_user = $(this).data('href');
        if (href_delete_user) {
            confirmBox('{{ btn_delete_account_des }}', function (result) {
                if (result) {
                    window.location.href = href_delete_user;
                }
            });
        }
    });

    $('.checked_all').on('change', function() {
        $('.checkbox').prop('checked', $(this).prop("checked"));
    });
    //deselect "checked all", if one of the listed checkbox product is unchecked amd select "checked all" if all of the listed checkbox product is checked
    $('.checkbox').change(function(){ //".checkbox" change
        if($('.checkbox:checked').length == $('.checkbox').length){
            $('.checked_all').prop('checked',true);
        }else{
            $('.checked_all').prop('checked',false);
        }
    });

    {% if user_groups is defined %}
        updateCurrentSelect2($('select.select2-user-group'), JSON.parse('{{ user_groups|replace({"'": "\\'" , '"': '\\"'}) }}'));
    {% endif %}

    {% if user_stores is defined %}
    updateCurrentSelect2($('select.select2-store'), JSON.parse('{{ user_stores|replace({"'": "\\'" , '"': '\\"'}) }}'));
    {% endif %}

    function updateCurrentSelect2(element, datas) {
        for (var i = 0; i < datas.length; i++) {
            if (element.find("option[value='" + $(this).attr('data-id') + "']").length == 0) {
                var newOption = new Option(datas[i].title, datas[i].id, true, true);
                element.append(newOption);
            }
            element.trigger('change');
        }
    }

    loadSelect2Stores();
    loadSelect2UserGroup();

    function loadSelect2Stores() {
        $('.stores-select').each(function(){
            var dropdown = '#' +  $(this).attr('id');
            var elem = $(this).find('select.select2-stores');
            initSelect2Stores(elem ,dropdown);
        });
    }

    // select2-store
    function initSelect2Stores(elem, dropdown){
        elem.select2({
            theme: 'bootstrap4',
            dropdownParent: $(dropdown +' .select-2-dropdown-store-transfer-receipt'),
            containerCssClass: 'col',
            placeholder: "Chọn kho",
            closeOnSelect: false,
            language: {
                "noResults": function(){
                    $(dropdown).addClass('no-result');
                    return "{{ select2_notice_not_result }}";
                },
                "searching": function () {
                    $(dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=catalog/product/getStoreLazyLoad&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    var condition = {
                        filter_name: params.term,
                        page: params.page || 1

                    };
                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($(dropdown +' .help-block').length > 0) {
                $(dropdown +' .help-block').remove();
            }
        }).on('select2:select', function (e) {
            $('#warning-choice-store').hide();
        });
    }

    function loadSelect2UserGroup() {
        $('.user-group-select').each(function(){
            var dropdown = '#' +  $(this).attr('id');
            var elem = $(this).find('select.select2-user-group');
            initSelect2UserGroup(elem ,dropdown);
        });
    }

    // select2-user-group
    function initSelect2UserGroup(elem, dropdown){
        elem.select2({
            theme: 'bootstrap4',
            dropdownParent: $(dropdown +' .select-2-dropdown-user-group'),
            containerCssClass: 'col',
            placeholder: "Chọn nhóm",
            closeOnSelect: false,
            language: {
                "noResults": function(){
                    $(dropdown).addClass('no-result');
                    return "{{ select2_notice_not_result }}";
                },
                "searching": function () {
                    $(dropdown).removeClass('no-result');
                    return "{{ select2_notice_search }}";
                },
                "loadingMore": function () {
                    return "{{ select2_notice_load_more }}";
                },
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: "index.php?route=user/user_permission/getUserGroupLazyLoad&user_token={{ user_token }}",
                dataType: 'json',
                delay: 20,
                data: function (params) {
                    var user_groups = [];
                    var id_this = $(this)[0].value;
                    $('#account-staff-form').find('.select2-user-group').each(function () {
                        if (user_groups.indexOf($(this).val()) < 0 && $(this).val() != id_this && $(this).val() != null) {
                            user_groups.push($(this).val());
                        }
                    });

                    var condition = {
                        filter_name: params.term,
                        page: params.page || 1,
                        user_groups: user_groups
                    };

                    console.log("CON", condition)
                    return condition;
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    if (data.count == 0) {
                        data.results = [];
                    }
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 6) < data.count
                        }
                    };
                },
                cache: true
            },
        }).on('select2:open', function (e) {
            if ($(dropdown +' .help-block').length > 0) {
                $(dropdown +' .help-block').remove();
            }
        }).on('select2:select', function (e) {
            $('#warning-choice-store').hide();
        });
    }

</script>
{{ footer }}