<table class="table">
    <tbody>
    {% for key,category in categories %}
        <tr>
            <td>{{ category.text }}
                {% if category.hasChildren == true %}
                    <a class="font-14 mt-1 collapsed"
                       data-order-id="1" data-toggle="collapse"
                       href="#collapseOrderQuickView-{{ category.id }}"
                       aria-expanded="false"
                       aria-controls="collapseOrderQuickView-{{ category.id }}"><i class="icon icon-arrow"></i></a>
                {% endif %}
            </td>
            <td class="action text-right">
                <div class="custom-control custom-switch d-inline">
                    <input type="checkbox" class="custom-control-input activeStatus"
                           id="customSwitch{{ category.id }}"
                           value="{{ category.id }}"
                            {% if category.status == 1 %} checked {% endif %}>
                    <label class="custom-control-label"
                           for="customSwitch{{ category.id }}">
                        <span class="on">on</span>
                        <span class="off">off</span>
                    </label>
                </div>
                <span class='count' title="{{ category.count_product }} {{ text_count_product_of_category }}"
                      data-id="{{ category.id }}">
                    {{ category.count_product }}</span>
                {% if category.source != 'omihub' %}
                <span class='edit' data-type='category'
                      data-placeholder="{{ text_enter_popup_title_category }}"
                      data-title="{{ edit_category }}"
                      data-action="{{ edit_category_link }}"
                      data-name="{{ category.text }}"
                      data-meta_title="{{ category.meta_title }}"
                      data-meta_keyword="{{ category.meta_keyword }}"
                      data-meta_description="{{ category.meta_description }}"
                      data-description="{{ category.description }}"
                      data-noindex="{{ category.noindex }}"
                      data-nofollow="{{ category.nofollow }}"
                      data-noarchive="{{ category.noarchive }}"
                      data-noimageindex="{{ category.noimageindex }}"
                      data-nosnippet="{{ category.nosnippet }}"
                      data-level="{{ category.level }}"
                      data-parent_id="{{ category.parent_id }}"
                      data-image="{{ category.image }}"
                      data-id="{{ category.id }}"><img style='height: 21px;' src='view/image/custom/icons/edit_classify.png' alt=''></span>
                <span class='delete'
                      data-number="{{ category.count_product }}"
                      data-action="{{ delete_category_link }}"
                      data-title="{{ delete_category }}"
                      data-content="{{ confirm_delete_category }}"
                      data-id="{{ category.id }}"><img style='height: 21px;' src='view/image/custom/icons/delete_classify.png' alt=''></span>
                {% endif %}
                <span class="sort-number-box">
                    <label for="sort-number-{{ category.id }}">#</label>
                    <input type="text" class="sort-number" id="sort-number-{{ category.id }}" data-id="{{ category.id }}" value="{% if category.sort_order %} {{ category.sort_order }} {% endif %}">
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="p-0 border-0">
                <div class="collapse" id="collapseOrderQuickView-{{ category.id }}">
                    <div class="card card-body">
                        {% if category.children and category.children|length > 0 %}
                            <table class="table mb-0">
                                <tbody>
                                {% for k,child in category.children %}
                                    <tr>
                                        <td class="{% if (category.children|length - 1) == k %} border-bottom-0 {% endif %}">{{ child.text }}
                                            {% if child.hasChildren == true %}
                                                <a class="font-14 mt-1 collapsed"
                                                   data-order-id="1" data-toggle="collapse"
                                                   href="#collapseOrderQuickView-{{ child.id }}"
                                                   aria-expanded="false"
                                                   aria-controls="collapseOrderQuickView-{{ child.id }}"><i class="icon icon-arrow"></i></a>
                                            {% endif %}
                                        </td>
                                        <td class="action text-right {% if (category.children|length - 1) == k %} border-bottom-0 {% endif %}">
                                            <div class="custom-control custom-switch d-inline">
                                                <input type="checkbox" class="custom-control-input activeStatus"
                                                       id="customSwitch{{ child.id }}"
                                                       value="{{ child.id }}"
                                                        {% if child.status == 1 %} checked {% endif %}>
                                                <label class="custom-control-label"
                                                       for="customSwitch{{ child.id }}">
                                                    <span class="on">on</span>
                                                    <span class="off">off</span>
                                                </label>
                                            </div>

                                            <span class='count' title="{{ child.count_product }} {{ text_count_product_of_category }}"
                                                  data-id="{{ child.id }}" data-parent_id="{{ category.id }}">
                                                {{ child.count_product }}</span>
                                            {% if child.source != 'omihub' %}
                                            <span class='edit' data-type='category'
                                                  data-placeholder="{{ text_enter_popup_title_category }}"
                                                  data-title="{{ edit_category }}"
                                                  data-action="{{ edit_category_link }}"
                                                  data-name="{{ child.text }}"
                                                  data-meta_title="{{ child.meta_title }}"
                                                  data-meta_keyword="{{ child.meta_keyword }}"
                                                  data-meta_description="{{ child.meta_description }}"
                                                  data-description="{{ child.description }}"
                                                  data-noindex="{{ child.noindex }}"
                                                  data-nofollow="{{ child.nofollow }}"
                                                  data-noarchive="{{ child.noarchive }}"
                                                  data-noimageindex="{{ child.noimageindex }}"
                                                  data-nosnippet="{{ child.nosnippet }}"
                                                  data-level="{{ child.level }}"
                                                  data-parent_id="{{ child.parent_id }}"
                                                  data-image="{{ child.image }}"
                                                  data-id="{{ child.id }}"><img style='height: 21px;' src='view/image/custom/icons/edit_classify.png' alt=''></span>
                                            <span class='delete'
                                                  data-number="{{ child.count_product }}"
                                                  data-action="{{ delete_category_link }}"
                                                  data-title="{{ delete_category }}"
                                                  data-content="{{ confirm_delete_category }}"
                                                  data-id="{{ child.id }}"><img style='height: 21px;' src='view/image/custom/icons/delete_classify.png' alt=''></span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <td colspan="2" class="p-0 border-0">
                                        <div class="collapse" id="collapseOrderQuickView-{{ child.id }}">
                                            <div class="card card-body">
                                                {% if child.children and child.children|length > 0 %}
                                                    <table class="table mb-0">
                                                        <tbody>
                                                        {% for k,sub_child in child.children %}
                                                            <tr>
                                                                <td class="{% if (child.children|length - 1) == k %} border-bottom-0 {% endif %}">{{ sub_child.text }}
                                                                    {% if sub_child.hasChildren == true %}
                                                                        <a class="font-14 mt-1 collapsed"
                                                                           data-order-id="1" data-toggle="collapse"
                                                                           href="#collapseOrderQuickView-{{ sub_child.id }}"
                                                                           aria-expanded="false"
                                                                           aria-controls="collapseOrderQuickView-{{ sub_child.id }}"><i class="icon icon-arrow"></i></a>
                                                                    {% endif %}
                                                                </td>
                                                                <td class="action text-right {% if (child.children|length - 1) == k %} border-bottom-0 {% endif %}">
                                                                    <div class="custom-control custom-switch d-inline">
                                                                        <input type="checkbox" class="custom-control-input activeStatus"
                                                                               id="customSwitch{{ sub_child.id }}"
                                                                               value="{{ sub_child.id }}"
                                                                                {% if sub_child.status == 1 %} checked {% endif %}>
                                                                        <label class="custom-control-label"
                                                                               for="customSwitch{{ sub_child.id }}">
                                                                            <span class="on">on</span>
                                                                            <span class="off">off</span>
                                                                        </label>
                                                                    </div>

                                                                    <span class='count' title="{{ sub_child.count_product }} {{ text_count_product_of_category }}"
                                                                          data-id="{{ sub_child.id }}" data-parent_id="{{ child.id }}"  data-grand_parent_id="{{ category.id }}">
                                                                        {{ sub_child.count_product }}</span>
                                                                    {% if sub_child.source != 'omihub' %}
                                                                    <span class='edit' data-type='category'
                                                                          data-placeholder="{{ text_enter_popup_title_category }}"
                                                                          data-title="{{ edit_category }}"
                                                                          data-action="{{ edit_category_link }}"
                                                                          data-name="{{ sub_child.text }}"
                                                                          data-meta_title="{{ sub_child.meta_title }}"
                                                                          data-meta_keyword="{{ sub_child.meta_keyword }}"
                                                                          data-meta_description="{{ sub_child.meta_description }}"
                                                                          data-description="{{ sub_child.description }}"
                                                                          data-noindex="{{ sub_child.noindex }}"
                                                                          data-nofollow="{{ sub_child.nofollow }}"
                                                                          data-noarchive="{{ sub_child.noarchive }}"
                                                                          data-noimageindex="{{ sub_child.noimageindex }}"
                                                                          data-nosnippet="{{ category.nosnippet }}"
                                                                          data-level="{{ sub_child.level }}"
                                                                          data-parent_id="{{ sub_child.parent_id }}"
                                                                          data-image="{{ sub_child.image }}"
                                                                          data-id="{{ sub_child.id }}"><img style='height: 21px;' src='view/image/custom/icons/edit_classify.png' alt=''></span>
                                                                    <span class='delete'
                                                                          data-number="{{ sub_child.count_product }}"
                                                                          data-action="{{ delete_category_link }}"
                                                                          data-title="{{ delete_category }}"
                                                                          data-content="{{ confirm_delete_category }}"
                                                                          data-id="{{ sub_child.id }}"><img style='height: 21px;' src='view/image/custom/icons/delete_classify.png' alt=''></span>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <td colspan="2" class="p-0 border-0">
                                                                <div class="collapse" id="collapseOrderQuickView-{{ sub_child.id }}">
                                                                    <div class="card card-body">
                                                                        {% if sub_child.children and sub_child.children|length > 0 %}
                                                                            <table class="table mb-0">
                                                                                <tbody>
                                                                                {% for k,sub_2_child in sub_child.children %}
                                                                                    <tr>
                                                                                        <td class="{% if (sub_child.children|length - 1) == k %} border-bottom-0 {% endif %}">{{ sub_2_child.text }}
                                                                                            {% if sub_2_child.hasChildren == true %}
                                                                                                <a class="font-14 mt-1 collapsed"
                                                                                                   data-order-id="1" data-toggle="collapse"
                                                                                                   href="#collapseOrderQuickView-{{ sub_2_child.id }}"
                                                                                                   aria-expanded="false"
                                                                                                   aria-controls="collapseOrderQuickView-{{ sub_2_child.id }}"><i class="icon icon-arrow"></i></a>
                                                                                            {% endif %}
                                                                                        </td>
                                                                                        <td class="action text-right {% if (sub_child.children|length - 1) == k %} border-bottom-0 {% endif %}">

                                                                                            <div class="custom-control custom-switch d-inline">
                                                                                                <input type="checkbox" class="custom-control-input activeStatus"
                                                                                                       id="customSwitch{{ sub_2_child.id }}"
                                                                                                       value="{{ sub_2_child.id }}"
                                                                                                        {% if sub_2_child.status == 1 %} checked {% endif %}>
                                                                                                <label class="custom-control-label"
                                                                                                       for="customSwitch{{ sub_2_child.id }}">
                                                                                                    <span class="on">on</span>
                                                                                                    <span class="off">off</span>
                                                                                                </label>
                                                                                            </div>

                                                                                            <span class='count' title="{{ sub_2_child.count_product }} {{ text_count_product_of_category }}"
                                                                                              data-id="{{ sub_2_child.id }}" data-parent_id="{{ sub_child.id }}"  data-grand_parent_id="{{ child.id }}">
                                                                                            {{ sub_2_child.count_product }}</span>
                                                                                            {% if sub_2_child.source != 'omihub' %}
                                                                                                <span class='edit' data-type='category'
                                                                                                      data-placeholder="{{ text_enter_popup_title_category }}"
                                                                                                      data-title="{{ edit_category }}"
                                                                                                      data-action="{{ edit_category_link }}"
                                                                                                      data-name="{{ sub_2_child.text }}"
                                                                                                      data-meta_title="{{ sub_2_child.meta_title }}"
                                                                                                      data-meta_keyword="{{ sub_2_child.meta_keyword }}"
                                                                                                      data-meta_description="{{ sub_2_child.meta_description }}"
                                                                                                      data-description="{{ sub_2_child.description }}"
                                                                                                      data-noindex="{{ sub_2_child.noindex }}"
                                                                                                      data-nofollow="{{ sub_2_child.nofollow }}"
                                                                                                      data-noarchive="{{ sub_2_child.noarchive }}"
                                                                                                      data-noimageindex="{{ sub_2_child.noimageindex }}"
                                                                                                      data-nosnippet="{{ sub_2_child.nosnippet }}"
                                                                                                      data-level="{{ sub_2_child.level }}"
                                                                                                      data-parent_id="{{ sub_2_child.parent_id }}"
                                                                                                      data-image="{{ sub_2_child.image }}"
                                                                                                      data-id="{{ sub_2_child.id }}"><img style='height: 21px;' src='view/image/custom/icons/edit_classify.png' alt=''></span>
                                                                                                <span class='delete'
                                                                                                      data-number="{{ sub_2_child.count_product }}"
                                                                                                      data-action="{{ delete_category_link }}"
                                                                                                      data-title="{{ delete_category }}"
                                                                                                      data-content="{{ confirm_delete_category }}"
                                                                                                      data-id="{{ sub_2_child.id }}"><img style='height: 21px;' src='view/image/custom/icons/delete_classify.png' alt=''></span>
                                                                                            {% endif %}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <td colspan="2" class="p-0 border-0">
                                                                                        <div class="collapse" id="collapseOrderQuickView-{{ sub_2_child.id }}">
                                                                                            <div class="card card-body">
                                                                                                {% if sub_2_child.children and sub_2_child.children|length > 0 %}
                                                                                                    <table class="table mb-0">
                                                                                                        <tbody>
                                                                                                        {% for k,sub_3_child in sub_2_child.children %}
                                                                                                            <tr>
                                                                                                                <td class="{% if (sub_2_child.children|length - 1) == k %} border-bottom-0 {% endif %}">{{ sub_3_child.text }}
                                                                                                                    {% if sub_3_child.hasChildren == true %}
                                                                                                                        <a class="font-14 mt-1 collapsed"
                                                                                                                           data-order-id="1" data-toggle="collapse"
                                                                                                                           href="#collapseOrderQuickView-{{ sub_3_child.id }}"
                                                                                                                           aria-expanded="false"
                                                                                                                           aria-controls="collapseOrderQuickView-{{ sub_3_child.id }}"><i class="icon icon-arrow"></i></a>
                                                                                                                    {% endif %}
                                                                                                                </td>
                                                                                                                <td class="action text-right {% if (sub_2_child.children|length - 1) == k %} border-bottom-0 {% endif %}">

                                                                                                                    <div class="custom-control custom-switch d-inline">
                                                                                                                        <input type="checkbox" class="custom-control-input activeStatus"
                                                                                                                               id="customSwitch{{ sub_3_child.id }}"
                                                                                                                               value="{{ sub_3_child.id }}"
                                                                                                                                {% if sub_3_child.status == 1 %} checked {% endif %}>
                                                                                                                        <label class="custom-control-label"
                                                                                                                               for="customSwitch{{ sub_3_child.id }}">
                                                                                                                            <span class="on">on</span>
                                                                                                                            <span class="off">off</span>
                                                                                                                        </label>
                                                                                                                    </div>

                                                                                                                    <span class='count' title="{{ sub_3_child.count_product }} {{ text_count_product_of_category }}"
                                                                                                                      data-id="{{ sub_3_child.id }}" data-parent_id="{{ sub_2_child.id }}"  data-grand_parent_id="{{ sub_child.id }}">
                                                                                                                    {{ sub_3_child.count_product }}</span>
                                                                                                                    {% if sub_3_child.source != 'omihub' %}
                                                                                                                        <span class='edit' data-type='category'
                                                                                                                              data-placeholder="{{ text_enter_popup_title_category }}"
                                                                                                                              data-title="{{ edit_category }}"
                                                                                                                              data-action="{{ edit_category_link }}"
                                                                                                                              data-name="{{ sub_3_child.text }}"
                                                                                                                              data-meta_title="{{ sub_3_child.meta_title }}"
                                                                                                                              data-meta_keyword="{{ sub_3_child.meta_keyword }}"
                                                                                                                              data-meta_description="{{ sub_3_child.meta_description }}"
                                                                                                                              data-description="{{ sub_3_child.description }}"
                                                                                                                              data-noindex="{{ sub_3_child.noindex }}"
                                                                                                                              data-nofollow="{{ sub_3_child.nofollow }}"
                                                                                                                              data-noarchive="{{ sub_3_child.noarchive }}"
                                                                                                                              data-noimageindex="{{ sub_3_child.noimageindex }}"
                                                                                                                              data-nosnippet="{{ sub_3_child.nosnippet }}"
                                                                                                                              data-level="{{ sub_3_child.level }}"
                                                                                                                              data-parent_id="{{ sub_3_child.parent_id }}"
                                                                                                                              data-image="{{ sub_3_child.image }}"
                                                                                                                              data-id="{{ sub_3_child.id }}"><img style='height: 21px;' src='view/image/custom/icons/edit_classify.png' alt=''></span>
                                                                                                                        <span class='delete'
                                                                                                                              data-number="{{ sub_3_child.count_product }}"
                                                                                                                              data-action="{{ delete_category_link }}"
                                                                                                                              data-title="{{ delete_category }}"
                                                                                                                              data-content="{{ confirm_delete_category }}"
                                                                                                                              data-id="{{ sub_3_child.id }}"><img style='height: 21px;' src='view/image/custom/icons/delete_classify.png' alt=''></span>
                                                                                                                    {% endif %}
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        {% endfor %}
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                {% endif %}
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="table-statistic clearfix font-14 mb-3">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>

<script>
    $('.activeStatus').click(function () {
        var statusCatUrl = '{{ avtivestatus|raw }}'.replace(/&amp;/g, '&');
        $.ajax({
            url: statusCatUrl,
            data: {
                category_id: $(this).val(),
                status: $(this).prop('checked')
            },
        });
    });

    $('.sort-number').on('keypress', function (e) {
        if(e.which > 57 || e.which < 48) {
            e.preventDefault()
        }
    })

    $('.sort-number').change(function () {
        var sortOrder = $(this).val()
        var id = $(this).data('id')
        var url = '{{ update_category_sort_link | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        $.ajax({
            url: url,
            method: 'POST',
            data: {
                id,
                sort_order: sortOrder,
            },
            success: function (response) {
                // handle success
            }
        });
    })

</script>

<style>
    .sort-number:focus {
        border: none;
        outline: none;
    }

    .sort-number {
        width: 35px;
        display: inline-block;
        border: none;
    }
    .sort-number-box {
        border: 1px solid #ced4da;
        border-radius: 3px;
        min-height: 36px;
        padding: 5px 10px;
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label > span.off, .custom-switch .custom-control-label > span.on {
        display: none;
        left: calc(-2.1rem + -7px);
    }
</style>
