{{ custom_header }}
<!-- End header -->
<div class="setting-page">
    <div class="page-wrapper">

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ settings_link }}">{{ heading_settings }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ heading_title }}</li>
                        </ol>
                    </nav>
                    <form action="{{ action }}" method="post" class="notify-setting-form form-fix-head">
                        <div class="sub-head clearfix pb-3 fix-on-scroll">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-20">{{ heading_title }}</h1>
                                <button type="submit" class="advance-link btn float-right">{{ btn_save }}</button>
                                <a href="{{ settings_link }}" class="btn btn-light float-right border bg-white mr-2">{{ btn_cancel }}</a>
                            </div>
                        </div>

                        {% if error_warning %}
                            <br>
                            <div class="alert alert-danger alert-dismissible"><i
                                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}
                        <div class="box-form mt-4 pt-4 border-top">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="font-weight-500 my-3 font-16">{{ text_title_order_success }}</p>
                                    <p class="text-secondary">{{ text_description_order_success }}</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="box-wrap shadow-sm rounded-3">
                                        <div class="box-content pt-4 px-4">
                                            <div class="form-group">
                                                <label for="description">{{ text_label_order_success }}</label>
                                                <textarea id="order-success-text" name="order_success_text"
                                                          placeholder="" class="form-control"
                                                          rows="3">{{ settings['config_order_success_text'] }}</textarea>
                                            </div>
                                        </div>
                                    </div> <!-- End box wrap -->
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End box form -->

                        <div class="box-form mt-4 pt-4 border-top">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="font-weight-500 my-3 font-16">{{ text_title_customer_success }}</p>
                                    <p class="text-secondary">{{ text_description_customer_success }}</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="box-wrap shadow-sm rounded-3">
                                        <div class="box-content pt-4 px-4">
                                            <div class="form-group">
                                                <label for="description">{{ text_label_customer_success }}</label>
                                                <textarea id="customer-success-text" name="register_success_text"
                                                          placeholder="" class="form-control"
                                                          rows="3">{{ settings['config_register_success_text'] }}</textarea>
                                            </div>
                                        </div>
                                    </div> <!-- End box wrap -->
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End box form -->

                    </form>
                </div> <!-- End main content -->
            </main>
            <!-- End Main -->
        </div>
    </div>
<!-- End page wrapper -->
    <div id="image-loading"></div>
</div>
<script src="view/javascript/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('customer-success-text', {
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: 'customer_success_des_config.js'
    });
</script>
{{ footer }}