{{ header }}

<!-- Breadcrumb -->
<div id="block-headding-elm" class="block-headding-elm">
    <div class="container">
        <h1 class="title-font title-color">Đăng nhập tài khoản</h1>
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active">Đăng ký</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-user-login">
    <div class="container">
        <div class="user-login">
            <div class="form-login mw-715">
                {% if error %}
                    <div class="col-12 col-md-12">
                        <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                            <i class="fa fa-exclamation-circle"></i> {{ error }}
                        </div>
                    </div>
                {% endif %}

                <form action="{{ action }}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <input type="text" name="fullname" value="{{ fullname }}" id="" class="form-control mr-3" placeholder="Họ tên"
                               aria-describedby="helpId">
                        <input type="text" name="telephone" id="" value="{{ telephone }}" class="form-control" placeholder="Số điện thoại"
                               aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" id="" class="form-control mr-3" value="{{ email }}" placeholder="Email"
                               aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="" class="form-control mr-3" placeholder="Mật khẩu"
                               aria-describedby="helpId">
                        <input type="password" name="confirm_password" id="" class="form-control" placeholder="Nhập lại mật khẩu"
                               aria-describedby="helpId">
                    </div>
                    <div class="form-group flex-sp">
                        <label class="custom-check main-font">
                            <input type="hidden" name="policies" value="0">
                            <input class="input" type="radio" name="policies" value="1">
                            <p class="fz12"> Tôi đồng ý với các <a href="#">điều khoản và chính sách</a> của công
                                ty!</p>
                            <span class="checkmark"></span>
                        </label>
                        <button type="submit" class="btn btn-submit w-auto">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

<script type="text/javascript">
    $(".btn-showpass").click(function() {
        var input = $('#input-pass');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>

<style>
    .field-icon {
        cursor: pointer;
        right: 7px;
        position: absolute;
        z-index: 2;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>

{{ footer }}