
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/webfonts/BeVietnamPro-ExtraLight.woff2') format('woff2'),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/BeVietnamPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/webfonts/BeVietnamPro-Light.woff2') format('woff2'),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/BeVietnamPro-Light.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/webfonts/BeVietnamPro-Regular.woff2') format('woff2'),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/BeVietnamPro-Regular.ttf');
  }

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/webfonts/BeVietnamPro-Medium.woff2') format('woff2'),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/BeVietnamPro-Medium.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/webfonts/BeVietnamPro-SemiBold.woff2') format('woff2'),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/BeVietnamPro-SemiBold.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/webfonts/BeVietnamPro-Bold.woff2') format('woff2'),
    url('/catalog/view/theme/furniture_furniter/fonts/BeVietNam/BeVietnamPro-Bold.ttf');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 100;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-Thin.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 200;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-ExtraLight.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 300;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-Light.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-Regular.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 500;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-Medium.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 600;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-SemiBold.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-Bold.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-ExtraBold.ttf')
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 800;
    src: local(''),
    url('/catalog/view/theme/furniture_furniter/fonts/Work_Sans/static/WorkSans-Black.ttf')
}