@media only screen and (max-width: 768px) {

}

@media screen and (max-width:991px) {
	h1{
		font-size: 20px;
	}
    #navbarMainMenu {
        width: 60%;
        text-align: left;
        background-color: var(--neutral-1);
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        opacity: 0;
        visibility: hidden;
        height: 100vh;
        z-index: 999;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        overflow-y: scroll;
    }
    #navbarMainMenu.show {
        left: 0px;
        opacity: 1;
        visibility: visible;
    }
	.header-top{
		font-size: 12px;
	}
	.main-header .logo{
		text-align: center;
		margin-bottom: 25px;
	}
	.main-menu .navbar-nav .nav-link,
	.main-menu .dropdown-item{
		line-height: 30px;
	}
	.main-menu .cat-menu-block .menu-title{
		background-color: transparent !important;
	}
	.block-header .main-menu li ul.nav li >a.active{
		font-weight: 600;
	}
	#main-wrapper{
		margin-bottom: 15px;
	}

	ul.navbar-nav {
		width: 100%;
		padding: 1rem 1.5rem;
	}
	i.close {
		margin-right: 10px;
	}
	.block-header .main-menu li ul.nav ul.nav{
		border: none;
	}
	.block-header .main-menu ul.navbar-nav>li{
		width: 100%;
	}
	.block-header .main-menu ul.navbar-nav>li.user-menu{
		background: #EBF8FF;
		margin: 0 -20px;
		width: auto;
		flex-wrap: wrap;
		padding: 13px 20px 10px;
	}
	.block-header .main-menu ul.navbar-nav>li.user-menu >.dropdown{
		width: 100%;
	}
	.navbar-light .navbar-nav> .nav-item>a{
		font-weight: bold;
		padding: 16px 0;
	}
	.navbar-light .navbar-nav .nav-item a{
		padding: 8px 0;
        width: 100%;
		box-shadow: none;
		border: none;
	}
	.navbar-light .navbar-nav> li:not(.cat-menu-block) a.nav-link:hover:after,
	.navbar-light .navbar-nav> li:not(.cat-menu-block) a.nav-link.active:after{
		display: none;
	}
	.cat-menu-block .menu-title i.icon{
		display: none;
	}
	.block-header .main-menu li ul.nav.cat-menu li a{
		padding: 16px 0;
	}
	.block-header .main-menu li ul.nav.cat-menu li ul a{
		padding-left: 16px;
	}
    .navbar-light .navbar-nav .dropdown-menu{
        padding: 0;
        box-shadow: none;
		border: none;
		background: transparent;
    }
	.block-header .main-menu ul.nav ul.nav > li.has-child > a>.toggle{
		top: 2px;
	}
	.block-header .main-menu ul.nav > li.has-child > a>.toggle{
		width: 20px;
		transform: rotate(0deg);
	}
	.block-header .main-menu ul.cat-menu li{
		padding: 0;
	}
	.block-header .main-menu li ul.nav li a, .cat-menu a,
	.block-header .main-menu li ul.nav li.label{
		margin: 0;
		padding: 6px 0;
	}
	.main-menu .cat-menu-block {
		display: block;
	}
	.main-menu .navbar-light .navbar-nav .cat-menu-block .nav-link.menu-title{
		color: inherit;
		font-size: inherit;
		margin-right: 0;
		text-transform: inherit;
		padding: 8px 0;
        min-width: auto;
	}
	.block-header .main-menu li ul.nav ul.nav,
	.block-header .main-menu ul.nav ul.nav{
		max-height: 0px;
		overflow: hidden;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
		box-shadow: none;
		margin: 0;
		transform: none;
		background-color: transparent;
		border: none;
		display: block;
	}
	.block-header .main-menu ul.nav ul.nav.cat-menu{
		padding-left: 0;
	}
	.block-header .main-menu li.active> ul.nav,
	.block-header .main-menu ul.nav li.active> ul.nav{
		max-height: 600px;
		min-width: 100%;
		display: block;
	}
	.block-header .main-menu li ul.nav.cat-menu li:hover>a.nav-link,
	.block-header .main-menu li ul.nav.cat-menu a.nav-link:hover,
	.block-header .main-menu li ul.nav.cat-menu a.nav-link.active{
		color: var(--primary);
	}
	.main-menu .menu-right-header,
	.main-menu .menu-right-header .home-search{
		display: flex;
        justify-content: flex-end;
	}
	.block-header .home-search,
	.main-menu .menu-right-header{
		width: 100%;
	}
	.block-header .home-search{
		margin-bottom: 16px;
	}
    .main-menu .navbar-toggler,
    .main-menu .menu-right-header .dropdown.item{
        display: none;
    }
    .fixed .main-menu .navbar-toggler,
    .fixed .main-menu .menu-right-header .dropdown.item{
        display: block;
    }
    .fixed .main-menu .menu-right-header .home-search{
        width: auto;
        margin: 0;
    }
	.navbar-light .navbar-toggler {
		background: transparent;
		border: none;
		color: #707070;
	}
	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-toggler i {
		background: #21201E;
		font-size: 24px;
	}
	.owl-custommer .owl-item {
		opacity: 1;
		webkit-transform: scale(1);
		-o-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
	.custommer-info {
		display: block;
		width: 100%;
		left: 0;
	}
	.custommer-info:before, .custommer-info:after {
		display: none;
	}
	.home-slider .carousel {
		padding: 0;
		height: auto;
	}
	#carouselHome .carousel-indicators{
		left: 15px;
		bottom: 20px;
	}
	.user-menu a.dropdown-toggle{
		display: inline-block;
		width: 35px;
		height: 35px;
		text-align: center;
		text-indent: 99px;
		border-radius: 100%;
		background: #e58718;
		overflow: hidden;
		position: relative;
		top: 3px;
	}
	.user-menu a.dropdown-toggle::before{
		content: "";
		background: url('../img/icons/user.svg') no-repeat bottom;
		z-index: 1;
		position: absolute;
		bottom: 0;
		width: 30px;
		height: 30px;
		background-size: contain;
		left: 0;
		right: 0;
		margin: auto;
	}
	.main-header{
		padding: 12px 0;
	}
	.navbar-light .navbar-nav .nav-link{
		margin: 0;
	}
	.block-header .main-menu ul.cat-menu li ul.nav li{
		border-left: 0;
	}
	.header:not(.fixed) .main-menu .main-menu-content{
		background: none;
	}
    .header.fixed .main-menu{
        top: 12px;
    }
    .header.fixed + main{
        margin-top: 40px;
    }
	.product-teaser-fix{
		display: none;
		visibility: hidden;
	}
	.profile-nav{
		padding: 0;
	}
	.profile-nav .nav-item{
		margin-bottom: 10px;
	}
	.profile-nav .nav-item a.nav-link{
		padding: 0 8px;
	}
	.pro-detail .pro-action #add-to-cart,
	.pro-detail a#buy-now{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 50% !important;
		margin-bottom: 0 !important;
		z-index: 99;
		font-size: 14px !important;
		text-align: center;
		text-transform: uppercase;
		height: 45px !important;
		text-shadow: none;
		line-height: 15px;
		padding: 1rem 0;
	}
	.pro-detail a#buy-now{
		left: auto;
		right: 0;
	}
	.category-home.product-page,
	.category-home{
		margin-top: -30px;
	}
	.sidebar .filter-product-wrapper{
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 999999;
		background: rgba(44, 52, 64, 0.2);
		padding: 0 25% 0 0;
		overflow-y: auto;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
		border-radius: 0;
		border: 0;
	}
	.sidebar .filter-product-wrapper.collapse{
		opacity: 1;
		visibility: visible;
	}
	.sidebar .filter-product-wrapper .filter-product-content{
		padding: 24px;
		background: #fff;
		left: -100%;
		position: relative;
		transition: all 0.5s ease;
	}
	.sidebar .filter-product-wrapper.collapse .filter-product-content{
		left: 0;
	}
	.single-post-info .banner-post .post-title-fix {
		position: relative;
		bottom: 0px;
	}
	.news-title{
		margin: 0;
		padding: 0;
		border: 0;
	}
	h1.page-title{
		margin: 18px 0;
		font-size: 20px;
	}
	nav.breadcrumb{
		margin: 12px 0;
	}
	.back-to-top{
		right: 15px;
		bottom: 30px;
	}
	.table-custom .col-item{
		padding: 0.5rem;
	}
	.block-header.fixed .main-header{
		background: #EBF8FF;
        display: block;
	}
	.block-footer .newsletter{
		background-color: #65C4BC
	}
	.owl-carousel.owl-product .owl-nav{
		top: -45px;
	}
	.with-tab .owl-carousel.owl-product .owl-nav{
		top: -77px;
		right: 0;
	}
	.box-product.with-tab ul.nav-tabs{
		margin-right: 10px;
	}
	.box-title{
		font-size: 20px;
	}
	.home-customer-blog:before,
	.home-customer-blog:after{
		width: 100%;
		height: 50%;
	}
	.home-customer-blog:after{
		top: 50%;
	}
	.home-customer-blog:before, .home-customer-blog:after{
		background: none;
	}
	.cat-menu a>.toggle {
		z-index: 1;
		padding: 5px;
	}
}
.fix-category-home {
	top: -20px;
}
.block-header .main-menu ul#navbar-menu-items {
	max-width:80%;
	padding-left: 30px;
}
@media (max-width: 767px) {
	.block-header .main-menu ul#navbar-menu-items {
		padding-left: 20px;
		max-width: 100%;
	}
	#add_cart_notify .modal-dialog{
		left: 3% !important;
	}
	#add_cart_notify .col-sm-3 {
		width: 30% !important;
	}
	#add_cart_notify .col-sm-9 {
		width:70% !important;
	}
	.header .cart-icon {
		top: 2px !important;
	}

	.product-teaser-fix {
		display: none !important;
	}
	.fix-category-home {
		top: 0px;
	}
	button#buy-now {
		visibility: visible;
		position: fixed;
		bottom: 0;
		width: 50% !important;
		right: 0;
		z-index: 99;
		margin: 0 !important;
		padding: 1px !important;
	}
}

/* Desktop */
@media (min-width: 992px) {
	.mb-lg-4, .my-lg-4 {
		margin-bottom: 32px!important;
	}
    .fz-lg-10{
        font-size: 10px !important;
    }
    .fz-lg-12{
        font-size: 12px !important;
    }
    .fz-lg-13{
        font-size: 13px !important;
    }
    .fz-lg-14{
        font-size: 14px !important;
    }
    .fz-lg-15{
        font-size: 15px !important;
    }
    .fz-lg-16{
        font-size: 16px !important;
    }
    .fz-lg-17{
        font-size: 17px !important;
    }
    .fz-lg-18{
        font-size: 18px !important;
    }
    .fz-lg-20{
        font-size: 20px !important;
    }
    .fz-lg-22{
        font-size: 22px !important;
    }
    .fz-lg-24{
        font-size: 24px !important;
    }
    .fz-lg-25{
        font-size: 25px !important;
    }
    .fz-lg-26{
        font-size: 26px !important;
    }
    .fz-lg-28{
        font-size: 28px !important;
    }
    .fz-lg-30{
        font-size: 30px !important;
    }
    .fz-lg-32{
        font-size: 32px !important;
    }
    .fz-lg-34{
        font-size: 34px !important;
    }
    .fz-lg-36{
        font-size: 36px !important;
    }
    .fz-lg-38{
        font-size: 38px !important;
    }
    .fz-lg-40{
        font-size: 40px !important;
    }
    .fz-lg-45{
        font-size: 45px !important;
    }
    .fz-lg-48{
        font-size: 48px !important;
    }
    .fz-lg-60{
        font-size: 60px !important;
    }
    .fw-lg-300 {
        font-weight: 300 !important;
    }
    .fw-lg-400 {
        font-weight: 400 !important;
    }
    .fw-lg-500 {
        font-weight: 500 !important;
    }
    .fw-lg-600 {
        font-weight: 600 !important;
    }
    .fw-lg-bold {
        font-weight: bold !important;
    }
    .fw-lg-700 {
        font-weight: 700 !important;
    }
	.border-lg-bottom{
		border-bottom: 1px solid var(--neutral-9);
	}
	.border-lg-bottom-0{
		border-bottom: 0 !important;
	}
	.w-lg-auto{
		width: auto !important;
	}
    .w-lg-25{
        width: 25% !important;
    }
    .w-lg-50{
        width: 50% !important;
    }
    .w-lg-75{
        width: 75% !important;
    }
    .w-lg-100{
        width: 100% !important;
    }

	header:not(.fixed) .main-menu .navbar .navbar-collapse{
		justify-content: flex-end;
	}
	header:not(.fixed) .main-menu .navbar{
		width: 100%;
	}
	header:not(.fixed) .main-menu .nav-item.cat-menu-block{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
	}
	.header.fixed .main-header{
		display: none;
	}
	.header.fixed + main#main-wrapper{
		margin-top: 50px;
	}
	.fixed .main-menu .menu-right-header{
		display: flex;
	}
	.fixed .main-menu .cat-menu-block{
		display: block;
	}
	.navbar-light .navbar-nav >li>.nav-link.menu-title:hover{
		border-bottom: none;
	}

	.box-product.with-tab .box-title {
		max-width: 100%;
	}
	.box-product.with-tab ul.nav-tabs {
		width: 100%;
		margin-right: 0;
		overflow: hidden;
	}
	#carouselHome .carousel-item{
		min-height: 700px;
	}
	.video-slideshow {
		min-height: 700px; /* recommend slideshow image height */
	}
	.main-menu .cat-menu-block .nav-link.menu-title {
		background: #ff984e !important;
		font-weight: bold !important;
	}
	.main-menu .cat-menu-block .nav-link.menu-title{
		font-weight: 500;
		margin-right: 20px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.bg-white-product-detail {
		margin-bottom: 75px;
	}
	#add-on-deal .custom-number-input-wrapper {
		width: 124px !important;
		min-width: 120px !important;
		transform: translateX(-8px);
		margin-bottom: 10px;
	}
	#add-deal-to-cart {
		padding: 12px !important;
	}
	.slide-show-product {
		display: block !important;
	}
	.mySwiper {
		display: none;
	}
	.collection-mobile .collection-item {
		width: 25%;
		float: left;
		padding: 7px;
	}
	.collection-mobile {
		display: inline-block;
		margin-bottom: 0;
	}
	.home-news-hightlight .img-wrap {
		height: auto !important;
		margin-bottom: 10px;
	}
	.bestme-block-content-customize {
		height: auto !important;
		margin-top: -18px !important;
	}

	.bestme-block-content-customize .col-sm-12:last-child {
		border: none;
	}
	.owl-flash-sale .owl-item.active {
		margin-right: 0 !important;
	}
	.blog-mobile .swiper-pagination {
		text-align: left;
		height: 10px;
	}
	.swiper.blogs_home_two {
		margin-bottom: 24px;
	}
	.blog-mobile span.swiper-pagination-bullet {
		width: 16px;
		height: 3px;
		border-radius: 0;
		background: #F47747;
		opacity: 0.1;
	}
	.blog-mobile span.swiper-pagination-bullet.swiper-pagination-bullet-active {
		opacity: 1;
		width: 32px;
	}
	.swiper.blogs_home_one {
		padding-bottom: 16px;
	}
	.blog-mobile a.news-title {
		margin-top: 0;
	}
	.blog-mobile span.news-date {
		transform: translateY(18px);
	}
	.bestme-block-partner h2.box-title {
		font-size: 18px;
		margin-bottom: 8px;
	}
	.header-collections .title {
		width: 100%;
	}
	.box-product.with-tab ul.nav-tabs {
		overflow-x: auto;
		width: 100%;
		transform: translateY(0);
		margin-top: 8px !important;
	}
	.pro-item .buy-now {
		display: block !important;
		width: 100% !important;
	}

	.owl-flash-sale span.new-price, .owl-flash-sale p.text-right {
		font-size: 11px;
	}

	.owl-flash-sale .pro-item .pro-sticky {
		line-height: 10px;
	}

	.bestme-block-partner {
		margin-bottom: 24px;
		margin-top: 0;
	}

	.owl-flash-sale .pro-item:hover .new-price,
	.owl-flash-sale .pro-item:hover .progress,
	.owl-flash-sale .pro-item:hover .text-right,
	.owl-flash-sale .pro-item:hover .pro-price,
	.owl-flash-sale .pro-item:hover .pro-sticky {
		display: none !important;
	}

	.collection-product .high-light {
		width: 100% !important;
		height: auto;
		margin-top: 16px !important;
		padding: 0px;
		margin-bottom: 223px;
	}
	.custommer-avt {
		background-size: auto !important;
		height: 169px;
	}
	.col-custom {
		width: 50% !important;
		padding: 5px;
		margin-top: -30px;
	}
	.collection-product {
		padding: 0 10px;
	}
	.box-product .col {
		padding: 5px;
		margin-top: -30px;
	}
	.box-product h2.box-title {
		margin-bottom: 20px;
	}
	.banner-right-home {
		padding-top: 64px;
	}
	.home-slider.page-slider {
		margin-top: 52px !important;
		margin-bottom: 50px !important;
	}
	.hide-md {
		display: none;
	}
	#navbarMainMenu {
		background-color: white;
		width: 64%;
		z-index: 99999;
		position: absolute;
		top: -92px;
	}
	button.navbar-toggler {
		border: none;
	}
	.banner-slider.page-slider {
		margin-bottom: 18px;
	}
	.header-mobile.fixed span.count-cart-mobile {
		top: 28px;
	}
	nav.breadcrumb.new {
		margin-top: 40px;
	}
	h1.title-page {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 16px;
	}
	.home-slider.page-slider {
		width: 100%;
		margin: 10px auto;
		height: auto;
		margin-right: 0 !important;
	}

	.swiper-slide {
		height: 100%;
		width: 100%;
	}

	.home-slider.page-slider {
		padding-left: 0;
		margin-top: 25px;
	}
	.flash-sale-product-detail .pro-price.gia-san-pham span {
		font-size: 14px;
	}
	.flash-sale-product-detail {
		padding: 8px;
	}
	.flash-sale-product-detail p.text-second.fz-18.mb-3 {
		padding: 0;
		transform: translateY(1px);
	}
	.flash-sale-product-detail {
		padding: 8px;
		margin-left: -12px;
		margin-right: -12px;
		border-radius: 0;
		padding-top: 18px;
	}
	a.nav-link.notify_mobile {
		background: linear-gradient(85.79deg,#804098 0,#ED3B94 51.04%,#F37747 100%);
		height: 33px;
		color: #fff;
	}
	a.view-more-new {
		font-size: 0 !important;
	}

	.d-sm-none {
		display: none !important;
	}

	.login-box {
		padding: 40px 16px;
	}

	.main-content.blog-description {
		padding-top: 44px;
	}

	#user-not-account .modal-dialog {
		margin: 0;
	}

	#user-not-account .modal-header {
		padding-top: 78px;
	}

	#user-not-account a.btn {
		width: 100%;
	}

	.phone-mail a {
		padding-left: 12px;
	}

	.table-order-new {
		padding: 14px;
		margin: 24px -16px;
		border-radius: 0;
		margin-top: 0;
	}

	#add_cart_notify .modal-dialog {
		top: 40px !important;
		left: 0 !important;
		padding: 9px 10px;
		margin: 0;
		background: #ffff;
		padding-top: 25px;
		max-width: 100% !important;
	}
	button#add-to-cart svg {
		transform: translate(-8px, 13px) !important;
	}
	.pro-detail {
		margin-top: 20px;
	}
	h1.page-pro-title span {
		display: block;
	}
	.pro-price.gia-san-pham {
		display: flex;
	}
	.pro-price.gia-san-pham p {
		font-size: 14px;
		line-height: 22px;
		text-decoration-line: line-through;
		color: #BFBFBF !important;
		margin-left: 13px;
		transform: translateY(10px);
	}
	.desc.ckeditor-content {
		font-size: 14px;
		line-height: 22px;
		color: #454D71;
	}
	nav.breadcrumb-product-detail.breadcrumb.mx-auto.d-block {
		display: none !important;
	}
	#carouselProDetail .carousel-indicators.owl-carousel.owl-theme.owl-hidden-dots.owl-loaded.owl-drag {
		display: none;
	}

	button#add-to-cart {
		position: unset !important;
	}

	button#buy-now {
		position: unset !important;
		background: #fff !important;
		border: 1px solid #263A7B;
		border-radius: 8px !important;
		color: #263A7B;
		font-weight: 300;
		height: 44px;
	}

	.phone-mail a {
		font-weight: bold;
	}

	button.view-more-footer {
		border: 1px solid #FFFFFF;
		border-radius: 8px;
		width: 80%;
		padding: 8px;
		background: #263A7B !important;
		margin: 10px auto;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		color: #FFFFFF;
	}

	.bct {
		margin-top: 10px !important;
	}

	form.home-search button i {
		color: black !important;
		background: black !important;
		transform: translateX(-16px);
	}
	form.home-search {
		margin-top: 69px;
		width: 100%;
		margin-bottom: 12px;
	}
	form.home-search button {
		background: none !important;
	}
	ul.home.nav.child-nav.cat-menu.cat-menu-in-body.cat-menu-mobile {
		display: contents;
		visibility: visible;
		opacity: 1;
	}
	#main-wrapper {
		margin-top:56px;
	}
	header.header-mobile {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 999999999999;
		box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
	}
	header.header-mobile ul.nav.child-nav {
		padding-left: 16px !important;
	}
	header.header-mobile span.toggle {
		width: 32px;
		height: 10px;
		-webkit-mask: url(/catalog/view/theme/furniture_furniter/img/icons/drop-down.svg) center no-repeat;
		mask: url(/catalog/view/theme/furniture_furniter/img/icons/drop-down.svg) center no-repeat;
		-webkit-mask-size: 15px;
		-mask-size: contain;
		transform: rotate(-90deg);
		-webkit-transform-origin: center;
		background-color: var(--neutral-6);
		display: block;
		position: absolute;
		top: 0px;
		right: 0;
		padding: 17px;
	}
	span.count-cart-mobile {
		font-size: 11px;
		display: inline-block;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		line-height: 20px;
		text-align: center;
		background: linear-gradient(85.79deg, #804098 0%, #ED3B94 51.04%, #F37747 100%);
		position: absolute;
		right: 3px;
		top: 27px;
		color: #fff;
	}
	.block-header .main-menu li ul.nav ul.nav, ul.cat-menu li ul.nav {
		border: none !important;
	}
	header.header-mobile li.nav-item.has-child {
		position: relative;
	}
	header.header-mobile .d-flex {
		justify-content: space-between;
		line-height: 56px;
		padding: 2px 10px;
	}
	.logo-mobile img{
		height: 50px !important
	}
	header.header-mobile ul.navbar-nav {
		width: 100%;
		padding: 0 20px;
	}
	.title-collapse {
		background: #fff;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
		color: #17204D;
		position: fixed;
		z-index: 222;
		width: 64%;
	}
	.header-top {
		padding: 0;
		height: 76px;
	}
	.header-top a.cart-icon {
		display: none;
	}
	.main-menu .navbar-toggler, .main-menu .menu-right-header .dropdown.item {
		display: block;
	}
	.block-header .main-menu ul#navbar-menu-items {
		padding-left: 20px;
	}
	.header ul.nav.child-nav.cat-menu.cat-menu-in-body {
		visibility: visible !important;
		opacity: 1 !important;
		display: contents !important;
	}
	.header ul#navbar-menu-items li a {
		color: black !important;
		padding: 10px 8px !important;
	}
	span.menu-title {
		color: black !important;
		font-size: 16px !important;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		margin-bottom: 15px;
	}
	.main-menu .cat-menu-block .nav-link.menu-title i.icon.icon-bar {
		display: block;
	}
	li.nav-item.has-child.cat-menu-block:hover ul.home.nav.child-nav.cat-menu.cat-menu-in-body {
		visibility: visible;
		opacity: 1;
		display: contents;
	}
	button#add-to-cart .icon-cart-plus {
		transform: translateY(6px);
	}
	.group-certificate {
		text-align: center;
		margin-bottom: 16px;
		text-align: left;
	}
	.group-commit {
		display: block !important;
		padding: 10px !important;
	}
	.group-commit p {
		margin: 0 !important;
		padding: 8px;
	}
	.group-commit p span {
		max-width: 100% !important;
		transform: translateY(5px);
	}
	button#add-to-cart {
		padding: 0 !important;
	}
	span.new-price {
		font-size: 12px;
	}
	h2.box-title a {
		font-size: 18px;
	}
	.banner-right-home img {
		padding: 0px 5px !important;
		object-fit: cover;
	}
	.header.fixed .menu-right-header i.icon {
		background: #0a58ca;
	}
	.menu-right-header i.icon.icon-user {
		display: none;
	}
	.logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.bg-neutral-4, .header .fix-content {
		background: #fff !important;
	}
	div#carouselHome {
		padding: 0;
		transform: translateX(0);
	}
	#carouselHome .carousel-item {
		min-height: 0;
	}
	.block-header .home-search button {
		background: white;
		color: black;
	}
	.block-header .home-search button .bg-neutral-4 {
		background: black!important;
		color: black;
	}
	.header.fixed ul#navbar-menu-items li a {
		color: black !important;
		padding:10px 20px;
	}
	div#carouselHome {
		height: auto;
	}
	.custom-number-input-wrapper {
		min-width: 90px !important;
		width: 48px;
		transform: translateX(20px);
	}

	.product-info .custom-number-input-wrapper {
		width: 59px;
		min-width: 140px !important;
	}

	.custom-number-input-wrapper .product_quantity {
		padding: 0 !important;
		width: 30px;
	}
	.block-header .main-menu li ul.nav.cat-menu li a {
		color: #fbfbfb !important;
	}

	#navbarMainMenu .d-lg-none.d-block.bg-white.p-4.pb-0 {
		display: none !important;
	}
	#navbarMainMenu {
		background-color: white;
	}
	#navbarMainMenu ul li a  {
		color: black !important;
	}
	.pro-detail {
		width: 100%;
	}
	.pro-thumb-detail {
		width: 100%;
	}
	.navbar-toggler i {
		background: #0a58ca !important;
	}
	.category-home .category-item .img-thumb {
		/* display:none; */
	}
	.category-home {
		margin: 0;
		margin-top: 0px !important;
	}

	.category-home .category-item {/* border: 1px solid #80808030; *//* border-radius: 5px; */}
	.logo img {
		width: 100%;
		height: auto !important;
		padding-top: 10px;}
	.header-top {
		padding: 0;
	}
	.block-header .home-search {

		border: 1px solid #8080802b;border-radius: 5px;margin: 5px;}

	.block-header.fixed .home-search {top: 0;}
	.owl-product .high-light {
		padding-left: 30px;
	}
	.high-light .pro-item {
		padding: 15px;
	}
	.pro-detail .pro-action #add-to-cart, .pro-detail a#buy-now {
		height: 44px!important;
		padding: 0 !important;
	}
	.header .middle-header {
		padding: 5px 0;
	}
	.home-customer-blog .bg-white {
		margin-bottom: 10px;
	}
	.pro-thumb-detail {
		width: 100% !important;
	}
	.pro-detail {
		width: 100% !important;
		padding-left: 24px;
	}
	.home-slider.page-slider {
		margin-top: 72px;
		margin-bottom: -10px;
		height: auto !important;
	}
	.group-certificate {
		padding-top: 20px
	}

	.pro-detail {
		width: 100%;
		padding-left: 16px
	}

	.carousel-control-next-icon, .carousel-control-prev-icon {
		transform: translateY(8px)
	}

	div#carouselProDetail button {
		display: block
	}

	header.header-mobile ul.navbar-nav {
		width: 95%
	}

	header.header-mobile {
		box-shadow: 0 2px 0 rgb(0 0 0/4%);
		border-radius: 0 0 16px 16px
	}

	.col-lg-3 img.bestme-block-banner-custom {
		height: auto !important;
		margin-top: 21px;border-radius: 16px;margin-bottom: 21px;}

	div#carouselHome img {
		border-radius: 0
	}

	a.view-more-new {
		font-size: 12px
	}

	.box-title {
		font-size: 0
	}

	h2.box-title a {
		font-size: 14px;
		display: block;
		padding-top: 4px
	}

	img.bestme-block-banner-custom {
		border-radius: 0
	}

	a.view-more-new {
		font-size: 12px;
		color: #fafafa
	}

	span.news-date {
		font-size: 10px
	}

	.news-item .news-desc {
		min-height: 35px;
		font-size: 12px
	}

	.owl-product.owl-carousel.owl-theme.d-flex.mt-3.owl-loaded.owl-drag {
		margin-top: 0 !important
	}

	a.img-thumb.news-thumb.square {
		padding-top: 78% !important
	}

	span.news-date {
		font-size: 11px;
		padding-top: 13px;
		height: 32px
	}

	.home-customer-blog .bg-white {
		padding: 8px
	}

	.news-item .col-3 {
		width: 30%
	}
	span.icon-arrow-view-more i {
		transform: translateY(2px);
	}
	.owl-carousel.owl-product .owl-nav button[class*=owl-] {
		display: none;
	}
	#main-wrapper {
		margin-top: 25px;
		padding-top: 10px;
	}
	nav.breadcrumb.new {
		margin-top: 70px;
	}
	.pro-price.gia-san-pham {
		float: none;
	}
	form#add-to-cart {
		margin-top: 56px;
	}
	.pro-price.gia-san-pham p {
		margin-left: 0;
	}
	.main-content.blog-description {
		padding-top: 70px;
	}
	button#add-to-cart span {
		text-transform: none;
	}
	.owl-product .col {
		padding: 5px;
	}

	#navbarMainMenu ul li a {
		padding: 10px 0;
		color: #454D71!important;
	}
	a.nav-link.parent {
		color: #17204d !important;
	}
	.news-item {
		margin-bottom: 0;
		padding-bottom: 5px;
	}
	.home-customer-blog .d-flex-title {
		transform: translateY(10px);
	}
	.cart-listing {
		height: 1000px;
	}
	div#user-not-account {
		padding-top: 36px;
	}
	.banner-slider.page-slider {
		margin-bottom: 18px;
		height: 245px;
		overflow: hidden;
	}
	div#carouselProDetail {
		height: auto !important;
	}
}