{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
        <div class="container">
            <div class="owl-carousel owl-slide owl-banner" data-time="{{ slideshow.transition_time }}">
                {% for slide in slideshow.slides %}
                    <div class="item">
                        <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                            <img data-src="{{ slide['image-url'] }}" class="lazyload" alt="{{ slide['description'] }}">
                        </a>
                        {#<div class="title-slider">#}
                        {#<h3 class="ttl">#}
                        {#{{ slide['description'] }}#}
                        {#</h3>#}
                        {#<p class="desc d-none">{{ slide['description'] }}</p>#}
                        {#<a href="{{ slide['url'] }}">Tìm hiểu thêm</a>#}
                        {#</div>#}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
<!-- List-banner -->
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% if  banners_visible == '1' and banner_highlight['visible'] == '1' %}
    <section class="List-banner bestme-block-banner-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                    <a target="_blank" title="{{ banner_highlight['description'] }}" href="{{ banner_highlight['url'] }}">
                        <img data-src="{{ banner_highlight['image-url'] }}" class="lazyload" alt="{{ banner_highlight['description'] }}"></a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- /.List-banner -->

{% for k, block in blocks %}
    {% if block['collections'] is not empty %}
        <section class="content-product {% if k %2 != 0 %} content-product-02 {% else %} content-product-03 {% endif %} bestme-block-best-sales-product">
            <div class="container">
                <h3 class="ttl-Base01">{{ block['title'] }}</h3>
                <div class="row">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} col-{{ 12 / block['grid'] }} collection">
                            <div class="item-product">
                                <div class="item-product-name">
                                    <h3 class="ttl-product">
                                        <a href="{{ collection['url'] }}" title="{{ collection.title }}">
                                            {{ collection.title|length > 80 ? collection.title|slice(0, 80) ~ '...' : collection.title }}</a>
                                    </h3>
                                </div>
                                <div class="rated d-none">
                                    <ul>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" stroke="#949494"/>
                                            </svg>

                                        </li>
                                    </ul>
                                </div>
                                <div class="img-pro">
                                    <a href="{{ collection['url'] }}">
                                        <img class="lazyload" data-src="{{ collection['image'] }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% else %}
        <section class="content-product {% if k %2 != 0 %} content-product-02 {% else %} content-product-03 {% endif %} bestme-block-best-sales-product">
            <div class="container">
                <h3 class="ttl-Base01">{{ block['title'] }}</h3>
                <div class="owl-carousel owl-slide owl-product"
                     data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                    {% set col_xl = 12/block['grid'] %}
                    {% set break_index = block['grid'] * 2   %}
                    {% for k,product in block['products']  %}
                        {% if k % break_index  == 0 %}
                            <div class="row item">
                        {% endif %}
                        <div class="col-{{ col_xl }}  col-md-6 col-lg-4 col-xl-{{ col_xl }}">
                            <div class="item-product">
                                <div class="item-product-name">
                                    <h3 class="ttl-product">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 80 ? product.name|slice(0, 80) ~ '...' : product.name }}</a>
                                    </h3>
                                </div>
                                <div class="rated d-none">
                                    <ul>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" stroke="#949494"/>
                                            </svg>

                                        </li>
                                    </ul>
                                </div>
                                <div class="sale-over">
                                    {% if product['percent_sale'] is not empty %}
                                        <span class="sale">{{ product['percent_sale'] }}</span>
                                    {% endif %}
                                    {% if product['product_is_stock'] == false %}
                                        <span class="over">hết</span>
                                    {% endif %}
                                </div>
                                <div class="img-pro">
                                    <a href="{{ product['href'] }}">
                                        <img class="lazyload" data-src="{{ product['thumb'] }}" alt="">
                                    </a>
                                </div>
                                <div class="custom-price">
                                {% if product['is_contact_for_price'] %}
                                    <span class="price-new">
                                    <span class="price">
                                        {{ contact }}
                                    </span>
                                </span>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] | replace({'VND': 'đ'}) }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                    {% else %}
                                        <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] | replace({'VND': 'đ'}) }}
                                            {% else %}
                                                {{ product['min_price_version'] | replace({'VND': 'đ'}) }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] | replace({'VND': 'đ'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                        <span class="price-old">
                                        <span class="price">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] | replace({'VND': 'đ'}) }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                    {% endif %}
                                {% endif %}
                                </div>
                                <div class="cart-pro">
                                    <form action="" class="add-to-cart">
                                        <a href="{{ product['href'] }}">
                                            <button type="button" class="btn btn-add">Xem chi tiết</button>
                                        </a>
                                    </form>
                                    <div class="heart-pro d-none">
                                        <a href="#">
                                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.8286 2.35294C14.4572 1.92436 14.0162 1.58439 13.5309 1.35244C13.0456 1.12049 12.5254 1.0011 12.0001 1.0011C11.4748 1.0011 10.9546 1.12049 10.4693 1.35244C9.98401 1.58439 9.54304 1.92436 9.1716 2.35294C8.8916 2.676 8.6806 3.04291 8.5006 3.42481C8.32309 3.03129 8.0967 2.6698 7.8286 2.35179C7.07844 1.48625 6.061 1 5.0001 1C3.93921 1 2.92177 1.48625 2.1716 2.35179C1.42144 3.21732 1 4.39124 1 5.61529C1 6.83934 1.42144 8.01326 2.1716 8.87879L8.5006 16L14.8286 8.87879C15.2003 8.45048 15.4951 7.94185 15.6963 7.38197C15.8974 6.82209 16.001 6.22195 16.001 5.61587C16.001 5.00978 15.8974 4.40964 15.6963 3.84976C15.4951 3.28989 15.2003 2.78125 14.8286 2.35294Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if k % break_index == break_index -1 or k + 1 ==  block['products']|length %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
        {% if k == 0 %}
            <!-- block-ads-banner -->
            {% if banners_visible == '1' %}
                <section class="List-banner List-banner-02">
                    <div class="container">
                        <div class="row">
                            {% if banner_left['visible'] == '1' %}
                                <div class="col-12 col-sm-6 col-md-6 col-xl-6 bestme-block-banner-2">
                                    <a target="_blank" title="{{ banner_left['description'] }}" href="{{ banner_left['url'] }}"><img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}"></a>
                                </div>
                            {% endif %}
                            {% if banner_middle['visible'] == '1' %}
                                <div class="col-12 col-sm-6 col-md-6 col-xl-6 bestme-block-banner-3">
                                    <a target="_blank" title="{{ banner_middle['description'] }}" href="{{ banner_middle['url'] }}"><img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endif %}
            <!-- /.block-ads-banner -->
        {% endif %}
    {% endif %}
{% endfor %}

<!-- Block-saleoff-product -->
{#{% if hot_product_visible %}
    <section class="content-product bestme-block-hot-product">
        <div class="container">
            <h3 class="ttl-Base01">{{ hot_product_title }}</h3>
            <div class="owl-carousel owl-slide owl-product">
                {% set col_xl = 12/hot_products_display_grid_quantity %}
                {% set break_index = hot_products_display_grid_quantity * 2   %}
                {% for k,product in hot_products %}
                    {% if k % break_index  == 0 %}
                        <div class="row item">
                    {% endif %}
                    <div class="col-6  col-md-6 col-lg-4 col-xl-{{ col_xl }}">
                        <div class="item-product">
                            <div class="item-product-name">
                                <h3 class="ttl-product">
                                    <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </h3>
                            </div>
                            <div class="rated d-none">
                                <ul>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" stroke="#949494"/>
                                        </svg>

                                    </li>
                                </ul>
                            </div>
                            <div class="sale-over">
                                {% if product['percent_sale'] is not empty %}
                                    <span class="sale">{{ product['percent_sale'] }}</span>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <span class="over">hết</span>
                                {% endif %}
                            </div>
                            <div class="img-pro">
                                <a href="{{ product['href'] }}">
                                    <img data-src="{{ product['thumb'] }}" alt="" class="lazyload">
                                </a>
                            </div>
                            {% if product['is_contact_for_price'] %}
                                <span class="price-new">
                                    <span class="price">
                                        {{ contact }}
                                    </span>
                                </span>
                            {% else %}
                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                    <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                {% else %}
                                    <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                    <span class="price-old">
                                        <span class="price">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                {% endif %}
                            {% endif %}
                            <div class="cart-pro">
                                <form class="add-to-cart">
                                    <a href="{{ product['href'] }}">
                                        <button type="button" class="btn btn-add">Xem chi tiết</button>
                                    </a>
                                </form>
                                <div class="heart-pro d-none">
                                    <a href="#">
                                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8286 2.35294C14.4572 1.92436 14.0162 1.58439 13.5309 1.35244C13.0456 1.12049 12.5254 1.0011 12.0001 1.0011C11.4748 1.0011 10.9546 1.12049 10.4693 1.35244C9.98401 1.58439 9.54304 1.92436 9.1716 2.35294C8.8916 2.676 8.6806 3.04291 8.5006 3.42481C8.32309 3.03129 8.0967 2.6698 7.8286 2.35179C7.07844 1.48625 6.061 1 5.0001 1C3.93921 1 2.92177 1.48625 2.1716 2.35179C1.42144 3.21732 1 4.39124 1 5.61529C1 6.83934 1.42144 8.01326 2.1716 8.87879L8.5006 16L14.8286 8.87879C15.2003 8.45048 15.4951 7.94185 15.6963 7.38197C15.8974 6.82209 16.001 6.22195 16.001 5.61587C16.001 5.00978 15.8974 4.40964 15.6963 3.84976C15.4951 3.28989 15.2003 2.78125 14.8286 2.35294Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if k % break_index == break_index -1 or k + 1 == hot_products|length %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.content-product -->
{% endif %}#}
<!-- /.Block-saleoff-product -->

<!-- block-ads-banner -->
{#{% if banners_visible == '1' %}
    <section class="List-banner List-banner-02">
        <div class="container">
            <div class="row">
                {% if banner_left['visible'] == '1' %}
                    <div class="col-12 col-sm-6 col-md-6 col-xl-6 bestme-block-banner-2">
                        <a target="_blank" title="{{ banner_left['description'] }}" href="{{ banner_left['url'] }}"><img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}"></a>
                    </div>
                {% endif %}
                {% if banner_middle['visible'] == '1' %}
                    <div class="col-12 col-sm-6 col-md-6 col-xl-6 bestme-block-banner-3">
                        <a target="_blank" title="{{ banner_middle['description'] }}" href="{{ banner_middle['url'] }}"><img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}#}
<!-- /.block-ads-banner -->

<!-- block-top-sale-product -->
{#{% if best_sales_product_visible %}
    <section class="content-product content-product-02 bestme-block-best-sales-product">
        <div class="container">
            <h3 class="ttl-Base01">{{ best_sales_product_title }}</h3>
            <div class="owl-carousel owl-slide owl-product">
                {% set col_xl = 12/best_sales_product_display_grid_quantity %}
                {% set break_index = best_sales_product_display_grid_quantity * 2   %}
                {% for k,product in best_sales_product %}
                    {% if k % break_index  == 0 %}
                        <div class="row item">
                    {% endif %}
                    <div class="col-6  col-md-6 col-lg-4 col-xl-{{ col_xl }}">
                        <div class="item-product">
                            <div class="item-product-name">
                                <h3 class="ttl-product">
                                    <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </h3>
                            </div>
                            <div class="rated d-none">
                                <ul>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" stroke="#949494"/>
                                        </svg>

                                    </li>
                                </ul>
                            </div>
                            <div class="sale-over">
                                {% if product['percent_sale'] is not empty %}
                                    <span class="sale">{{ product['percent_sale'] }}</span>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <span class="over">hết</span>
                                {% endif %}
                            </div>
                            <div class="img-pro">
                                <a href="{{ product['href'] }}">
                                    <img class="lazyload" data-src="{{ product['thumb'] }}" alt="">
                                </a>
                            </div>
                            {% if product['is_contact_for_price'] %}
                                <span class="price-new">
                                    <span class="price">
                                        {{ contact }}
                                    </span>
                                </span>
                            {% else %}
                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                    <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                {% else %}
                                    <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                    <span class="price-old">
                                        <span class="price">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                {% endif %}
                            {% endif %}
                            <div class="cart-pro">
                                <form action="" class="add-to-cart">
                                    <a href="{{ product['href'] }}">
                                        <button type="button" class="btn btn-add">Xem chi tiết</button>
                                    </a>
                                </form>
                                <div class="heart-pro d-none">
                                    <a href="#">
                                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8286 2.35294C14.4572 1.92436 14.0162 1.58439 13.5309 1.35244C13.0456 1.12049 12.5254 1.0011 12.0001 1.0011C11.4748 1.0011 10.9546 1.12049 10.4693 1.35244C9.98401 1.58439 9.54304 1.92436 9.1716 2.35294C8.8916 2.676 8.6806 3.04291 8.5006 3.42481C8.32309 3.03129 8.0967 2.6698 7.8286 2.35179C7.07844 1.48625 6.061 1 5.0001 1C3.93921 1 2.92177 1.48625 2.1716 2.35179C1.42144 3.21732 1 4.39124 1 5.61529C1 6.83934 1.42144 8.01326 2.1716 8.87879L8.5006 16L14.8286 8.87879C15.2003 8.45048 15.4951 7.94185 15.6963 7.38197C15.8974 6.82209 16.001 6.22195 16.001 5.61587C16.001 5.00978 15.8974 4.40964 15.6963 3.84976C15.4951 3.28989 15.2003 2.78125 14.8286 2.35294Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if k % break_index == break_index -1 or k + 1 == best_sales_product|length %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.content-product -->
{% endif %}#}
<!-- /.block-top-sale-product -->

<!-- block-new-product -->
{#{% if new_product_visible %}
    <section class="content-product content-product-03 bestme-block-new-product">
        <div class="container">
            <h3 class="ttl-Base01">{{ new_product_title }}</h3>
            <div class="owl-carousel owl-slide owl-product">
                {% set col_xl = 12/new_products_display_grid_quantity %}
                {% set break_index = new_products_display_grid_quantity * 2   %}
                {% for k,product in new_products %}
                    {% if k % break_index  == 0 %}
                        <div class="row item">
                    {% endif %}
                    <div class="col-6  col-md-6 col-lg-4 col-xl-{{ col_xl }}">
                        <div class="item-product">
                            <div class="item-product-name">
                                <h3 class="ttl-product">
                                    <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </h3>
                            </div>
                            <div class="rated d-none">
                                <ul>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.72758 0.5906C7.83481 0.358138 8.16519 0.358138 8.27242 0.590599L10.1868 4.74089C10.2305 4.83563 10.3202 4.90086 10.4239 4.91315L14.9626 5.45128C15.2168 5.48143 15.3189 5.79564 15.1309 5.96945L11.7753 9.07261C11.6987 9.14345 11.6644 9.249 11.6848 9.35133L12.5755 13.8342C12.6254 14.0853 12.3581 14.2795 12.1347 14.1545L8.14653 11.922C8.05549 11.8711 7.94451 11.8711 7.85347 11.922L3.86525 14.1545C3.64187 14.2795 3.37458 14.0853 3.42447 13.8342L4.31522 9.35133C4.33555 9.249 4.30125 9.14345 4.22465 9.07261L0.86906 5.96945C0.68111 5.79564 0.783205 5.48143 1.03742 5.45129L5.57615 4.91315C5.67975 4.90086 5.76954 4.83563 5.81324 4.74089L7.72758 0.5906Z" fill="#F9BA48"/>
                                        </svg>
                                    </li>
                                    <li>
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.26727 4.95031L8 1.19376L9.73273 4.95031C9.84927 5.20296 10.0887 5.37691 10.365 5.40967L14.4731 5.89675L11.4359 8.70552C11.2316 8.89442 11.1401 9.17589 11.1944 9.44878L12.0006 13.5064L8.39075 11.4857C8.14797 11.3498 7.85203 11.3498 7.60925 11.4857L3.99939 13.5064L4.80563 9.44878C4.85985 9.17589 4.7684 8.89442 4.56413 8.70552L1.52688 5.89675L5.63502 5.40967C5.91131 5.37691 6.15073 5.20296 6.26727 4.95031ZM14.7915 5.60236L14.7912 5.60263L14.7915 5.60236ZM1.09629 5.94781L1.09671 5.94776C1.09657 5.94777 1.09643 5.94779 1.09629 5.94781L1.07274 5.7492L1.09629 5.94781ZM8.18137 0.800547L8.18161 0.800023L8 0.716254L8.18161 0.800023C8.18153 0.800197 8.18145 0.800372 8.18137 0.800547Z" stroke="#949494"/>
                                        </svg>

                                    </li>
                                </ul>
                            </div>
                            <div class="sale-over">
                                {% if product['percent_sale'] is not empty %}
                                    <span class="sale">{{ product['percent_sale'] }}</span>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <span class="over">hết</span>
                                {% endif %}
                            </div>
                            <div class="img-pro">
                                <a href="{{ product['href'] }}">
                                    <img class="lazyload" data-src="{{ product['thumb'] }}" alt="">
                                </a>
                            </div>
                            {% if product['is_contact_for_price'] %}
                                <span class="price-new">
                                    <span class="price">
                                        {{ contact }}
                                    </span>
                                </span>
                            {% else %}
                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                    <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                {% else %}
                                    <span class="price-new">
                                        <span class="price">
                                            {% if product['max_price_version'] is null %}
                                                {{ product['price_master'] }}
                                            {% else %}
                                                {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                    <span class="price-old">
                                        <span class="price">
                                            {% if product['max_compare_price_version'] is null %}
                                                {{ product['compare_price_master'] }}
                                            {% else %}
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </span>
                                {% endif %}
                            {% endif %}
                            <div class="cart-pro">
                                <form action="" class="add-to-cart">
                                    <a href="{{ product['href'] }}">
                                        <button type="button" class="btn btn-add">Xem chi tiết</button>
                                    </a>
                                </form>
                                <div class="heart-pro d-none">
                                    <a href="#">
                                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8286 2.35294C14.4572 1.92436 14.0162 1.58439 13.5309 1.35244C13.0456 1.12049 12.5254 1.0011 12.0001 1.0011C11.4748 1.0011 10.9546 1.12049 10.4693 1.35244C9.98401 1.58439 9.54304 1.92436 9.1716 2.35294C8.8916 2.676 8.6806 3.04291 8.5006 3.42481C8.32309 3.03129 8.0967 2.6698 7.8286 2.35179C7.07844 1.48625 6.061 1 5.0001 1C3.93921 1 2.92177 1.48625 2.1716 2.35179C1.42144 3.21732 1 4.39124 1 5.61529C1 6.83934 1.42144 8.01326 2.1716 8.87879L8.5006 16L14.8286 8.87879C15.2003 8.45048 15.4951 7.94185 15.6963 7.38197C15.8974 6.82209 16.001 6.22195 16.001 5.61587C16.001 5.00978 15.8974 4.40964 15.6963 3.84976C15.4951 3.28989 15.2003 2.78125 14.8286 2.35294Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if k % break_index == break_index -1 or k + 1 == new_products|length %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- /.content-product -->
{% endif %}#}
<!-- /.block-new-product -->
<div class="bestme_app_after_product">

</div>
<!-- content-blog -->
{% if latest_blog %}
    <section class="content-blog">
        <div class="container">
            <h3 class="ttl-Base01">{{ blog_title }}</h3>
            <div class="row">
                {% for k,blog in latest_blog %}
                    {% if k < 3 %}
                        <div class="col-12 col-md-4 col-4">
                            <div class="item-blog">
                                <div class="img-blog">

                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                </div>
                                <h4 class="ttl-blog"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h4>
                                <ul class="date-ad">
                                    <li>Ngày: {{ blog['date_added']|date('m/d/Y') }}</li>
                                    <li>Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</li>
                                </ul>
                                <p>{{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}</p>
                                <a href="{{ blog['link'] }}" class="more">ĐỌC TIẾP</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- /.content-blog -->

<!-- block-partner -->
{% if partners_visible == '1' %}
    <div id="block-partner" class="block-partner bestme-block-partner">
        <div class="container">
            <div class="owl-carousel owl-theme owl-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="item">
                        <a title="{{ partner['description'] }}" href="{{ partner.url }}"><img class="lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-partner -->
<div class="bestme_app_before_footer">

</div>
<style>
    .item-product .item-product-name{
        height: 36px;
        overflow: hidden;
    }
</style>
{{ footer }}