{{ header }}


<main class="main-content">
    <div class="container-fluid" id="contact-page">

        {#<nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">#}
        {#    <ol class="breadcrumb">#}
        {#        <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>#}
        {#        <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>#}
        {#    </ol>#}
        {#</nav>#}
        
        <div class="row mb-5">
            <div class="col-12 px-2 px-md-5 title-page-bg">
                <div class="title-page-bg-overlay"></div>
                <h2>Liên hệ với chúng tôi</h2>
            </div>
        </div>

        <div class="row my-5">
            {#<div class="col-12 col-md-6">#}
            {#    <h1 class="header-font mb-5 font-24 font-weight-normal">Thông tin liên hệ</h1>#}
            {#    <p class="font-weight-500 text-uppercase">địa chỉ</p>#}
            {#    <p class="d-flex sixth-color">#}
            {#        <span>{{ contacts_info.address }}</span>#}
            {#    </p>#}
            {#    <p class="font-weight-500 text-uppercase pt-3">SỐ ĐIỆN THOẠI</p>#}
            {#    <p><a href="tel:{{ contacts_info.phone }}" class="sixth-color">{{ contacts_info.phone }}</a></p>#}
            {#    <p class="font-weight-500 text-uppercase pt-3">MẠNG XÃ HỘI</p>#}
            {#    <div class="font-32 mb-3">#}
            {#        {% for social_config in social_configs %}#}
            {#            {% if  social_config.name == 'Facebook' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-fb second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif  social_config.name == 'Instagram' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-instagram second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif social_config.name == 'Youtube' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-youtube second-bg"></i>#}
            {#                </a>#}
            {#            {% endif %}#}
            {#            </a>#}
            {#        {% endfor %}#}
            {#        {% for social_config in social_configs %}#}
            {#            {% if  social_config.name == 'Facebook' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-fb second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif  social_config.name == 'Instagram' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-instagram second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif social_config.name == 'Youtube' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-youtube second-bg"></i>#}
            {#                </a>#}
            {#            {% endif %}#}
            {#            </a>#}
            {#        {% endfor %}#}
            {#    </div>#}
            {#</div> <!-- End col-md-6 -->#}
            
            <div class="col-12">
                <div class="row">
                    <div class="col-12 contact-title-content my-4 text-center">
                        {% if contacts_email %}
                            <h2 class="text-uppercase">{{ contacts_email.title }}</h2>
                            {#<p class="mb-3">Our team was handpicked for their understanding of materials, process and passion for fashion. Whether you are browsing our site or visiting our store, we are always willing to share our deep knowledge and understanding of our makers and their craft.</p>#}
                            {#<p>The most commonly asked questions are covered in Our FAQs. If you have any specific questions please do not hesitate to contact us by completing this form or calling our customer services team on 778 568 999.</p>#}
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-3"></div>
                    <div class="col-12 col-md-6 contact-form-left">
                        {% if contacts_email %}
                            {% if error_warning %}
                                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            {% endif %}
                            {% if success %}
                                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            {% endif %}
                            <form id="contact-form" action="{{ href_submit_form }}" method="post">
                                <div class="row mb-4">
                                    <div class="form-group col-12 col-md-6">
                                        <label class="text-uppercase" for="fullname">Tên <span class="text-danger">*</span></label>
                                        <input name="fullname" id="fullname" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                               class="form-control py-4 sixth-color border-secondary" placeholder="" required>
                                    </div>
                                    <div class="form-group col-12 col-md-6">
                                        <label class="text-uppercase" for="phone">Số điện thoại <span class="text-danger">*</span></label>
                                        <input name="phone" id="phone" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                               class="form-control py-4 sixth-color border-secondary" placeholder="" required>
                                    </div>
                                    <div class="form-group col-12 col-md-12">
                                        <label class="text-uppercase" for="email">Email <span class="text-danger">*</span></label>
                                        <input name="email" id="email" type="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                               class="form-control py-4 sixth-color border-secondary" placeholder="" required>
                                    </div>
                                </div>
                                <label class="text-uppercase" for="your_mind">Nội dung</label>
                                <textarea name="your_mind" id="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                          class="form-control mb-3 sixth-color border-secondary" placeholder="" rows="8" required></textarea>
                                <button type="submit" class="btn btn-outline-secondary px-5 py-2 my-4 font-weight-500 text-white text-uppercase w-100">Gửi tin nhắn</button>
                            </form>
                        {% endif %}
                    </div>
                    
                    <div class="col-12 col-md-3 contact-info-right">
                        {#<h5 class="font-24 font-weight-500 text-uppercase mb-3">Địa chỉ</h5>#}
                        {#<p class="d-flex">{{ contacts_info.address }}</p>#}
                        {#<p><a href="tel:{{ contacts_info.phone }}">{{ contacts_info.phone }}</a></p>#}
                        
                        {#<div class="mb-4">#}
                        {#    <p class="font-18 mb-3">We do not sell product from our corporate head quarters in New York City. If you want to visit, please reach out to our customer service team first.</p>#}
                        {#    <p class="font-18 mb-1">1201 Broadway</p>#}
                        {#    <p class="font-18 mb-1">Suite 600</p>#}
                        {#    <p class="font-18">New York, NY 10001</p>#}
                        {#</div>#}
                        
                        {#<h5 class="font-24 font-weight-500 text-uppercase mb-3">Email</h5>#}
                        {#<div class="font-32 mb-3">#}
                        {#    {% for social_config in social_configs %}#}
                        {#        {% if social_config.name == 'Facebook' %}#}
                        {#            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
                        {#                <i class="icon icon-fb second-bg"></i>#}
                        {#            </a>#}
                        {#        {% elseif social_config.name == 'Instagram' %}#}
                        {#            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
                        {#                <i class="icon icon-instagram second-bg"></i>#}
                        {#            </a>#}
                        {#        {% elseif social_config.name == 'Youtube' %}#}
                        {#            <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
                        {#                <i class="icon icon-youtube second-bg"></i>#}
                        {#            </a>#}
                        {#        {% endif %}#}
                        {#        </a>#}
                        {#    {% endfor %}#}
                        {#</div>#}
                        
                        {#<div class="my-3">#}
                        {#    <p class="font-16">We encourage you to use the form on this page for all customer service requests. However, if your issue requires an email or you are looking to contact another department at casano, below are our email addresses:</p>#}
                        {#    <p class="font-16">Dịch vụ khách hàng: hello@jupitermedia.vn Hợp tác kinh doanh: info@jupitermedia.vn Truyền thông: jupitermedia.vn Tuyển dụng: jupitermedia.vn</p>#}
                        {#</div>#}
                        
                    </div>
                </div>
            </div> <!-- End col-md-6 -->
            
            {% if contacts_map %}
            <div class="col-12 mt-4">
                <section class="g-map">
                    {{ contacts_map.address|html_entity_decode }}
                </section>
            </div>
            {% endif %}
        </div> <!-- End row -->

    </div> <!-- End container -->

</main>
<!-- /.ELM PAGES -->
<style>
    .g-map iframe {
        width: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>