<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th scope="col">{{ txt_payment_voucher_code }}</th>
        <th scope="col">{{ txt_payment_voucher_type }}</th>
        <th scope="col" class="text-center">{{ txt_payment_voucher_status }}</th>
        <th scope="col" class="text-center">{{ txt_payment_voucher_amount }}</th>
        <th scope="col" class="text-center">{{ txt_payment_voucher_method }}</th>
        <th scope="col" class="text-center">{{ txt_payment_voucher_prepared_by }}</th>
        <th scope="col" class="text-center">{{ txt_payment_voucher_created_at }}</th>
    </tr>
    </thead>
    <tbody>
    {% if payment_vouchers %}
        {% for payment_voucher in payment_vouchers %}
            <tr>
                <td>
                    <a title="{{ payment_voucher.payment_voucher_code }}" href="{{ payment_voucher.edit }}">
                        <p class="mb-0">
                            <span>{{ payment_voucher.payment_voucher_code }}</span><br>
                        </p>
                    </a>
                </td>
                <td><span>{{ payment_voucher.type|length > 40 ? payment_voucher.type|slice(0, 40) ~ '...' : payment_voucher.type }}</span></td>
                <td class="text-center">
                    <div class="dropdown order-status"
                         id="voucher-badge-{{ payment_voucher['status'] }}">
                        {# button on order status to quick change status #}
                        <button class="btn btn-secondary {% if payment_voucher['changeable_order_statuses'] is not empty %}dropdown-toggle{% endif %}" type="button"
                                id="dropdownChangeStatus-{{ payment_voucher['payment_voucher_id'] }}-{{ payment_voucher['status'] }}"
                                {% if payment_voucher['changeable_order_statuses'] is not empty %}data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"{% endif %}>
                            {{ payment_voucher['status_text'] }}
                        </button>

                        {# droplist of contexual order statuses to be changed #}
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownChangeStatus-{{ payment_voucher['payment_voucher_id'] }}-{{ payment_voucher['status'] }}">
                            {% for payment_voucher_status in payment_voucher['changeable_order_statuses'] %}
                                <a class="dropdown-item" href="#"
                                   data-toggle="modal"
                                   id="voucher-status-{{ payment_voucher['payment_voucher_id'] }}-{{ payment_voucher_status['status_id'] }}"
                                   data-target="#update-payment-voucher-status">{{ payment_voucher_status['status_description'] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </td>
                <td class="text-center">{{ payment_voucher.amount }}&#8363;</td>
                <td class="text-center">{{ payment_voucher.method }}</td>
                <td class="text-center">{{ payment_voucher.prepared_by }}</td>
                <td class="text-center">{{ payment_voucher.date_added | date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>
<style>
    .btn-status{
        border-radius: 2030px;
        font-size: 12px;
        border: none;
        color: #212B36;
        line-height: 20px;
        padding: 0 10px;
    }

    .btn-manufacturer-active {
        background: #BBE5B3;
    }

    .btn-manufacturer-pause {
        background: #FDAC9A;
    }
</style>
<!-- End Modal -->
<script type="text/javascript">
    //version 1.3 add
    $('select.select2-selection').select2({
        theme: 'bootstrap4',
        // dropdownParent: $('.collection-select .select-2-dropdown-collection'),
        // containerCssClass: 'col',
        placeholder: "{{ choose_filter }}"
    });
</script>