{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if '' == breadcrumb.href or loop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>

                <div class="sub-head clearfix pb-3">
                    <h1 class="page-title float-left">
                        {{ heading_title }}
                    </h1>
                    {% if permission_modify %}
                        <a class="advance-link btn float-right" href="{{ add }}" data-toggle="modal">{{ text_add_list }}</a>
                    {% endif %}
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible mt-2"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible mt-2"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active">{{ heading_title_list }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="filter-form order-filter clearfix product-form-validate mb-0"
                              action="{{ action_search }}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group search-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light dropdown-toggle"
                                                    type="button">{{ payment_voucher_filter }}</button>
                                            <div class="dropdown-menu p-0 p-3 font-12">
                                                <div class="form-group">
                                                    <label>{{ text_filter_method }}</label>
                                                    <select class="form-control form-control-sm select2 category_id"
                                                            id="category_id"
                                                            data-label="{{ method_filter }}"
                                                            name="category_id">
                                                        <option value="" disabled="disabled" selected="true">
                                                            {{ choose_filter }}
                                                        </option>
                                                        <option value="1" data-value="">
                                                            {{ text_payment_type_filter }}
                                                        </option>
                                                        <option value="2" data-value="">
                                                            {{ filter_status }}
                                                        </option>
                                                        <option value="3" data-value="">
                                                            {{ text_method_filter }}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div id="showoptionone"></div>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <button type="button" id="filter_button"
                                                        class="btn btn-info font-12">{{ action_filter }}</button>
                                            </div>
                                            {# search #}
                                        </div>
                                        <div class="input-group-icon">
                                            <i class="icon icon-search"></i>
                                            <input type="text" id="filter_name"
                                                   class="form-control search-input-icon"
                                                   placeholder="{{ payment_voucher_search }}">
                                        </div>
                                    </div>
                                </div> <!-- End row -->

                                <div class="filter-item">
                                    {# Handle when url has filter_status param #}
                                </div>
                            </div>
                        </form> <!-- End form filter -->
                    </div>
                    <div class="box-content pt-0">
                        <div class="tab-content">
                            <div id="product-content" class="not-choose-product-list">
                                {% include 'cash_flow/payment_voucher_list_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal fade product-modal" id="update-payment-voucher-status" tabindex="-1"
             role="dialog" aria-labelledby="updateOrderStatusProcessLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-18 font-weight-normal"
                            id="updateOrderStatusProcessLabel">{{ text_update_order_status }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>{{ text_update_order_status_to_cancel_confirm }}</p>
                        <form action="{{ cancel_url }}" method="post" id="form-cancel-voucher">
                            <input type="hidden" value="" name="payment_voucher_id">
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{{ text_update_order_close }}
                        </button>
                        <button type="submit" form="form-cancel-voucher" class="btn btn-pink" id="btn-update-cancel">
                            {{ text_update_order_submit }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="image-loading"></div>
    </div>
</div>
{{ footer }}

<script type="text/javascript">
    $('.category_id').change(function (event) {
        $('#image-loading').show();
        categoryID = $('.category_id').val();
        $.post('{{ loadOptionOne | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {'categoryID': categoryID, 'flag': true}, function (data) {
            $('#image-loading').hide();
            $('#showoptionone').html(data).promise().done(function(){

                $('select.select2').each(function(index, el) {
                    $(this).wrap("<div class='select-2-container position-relative"+($(this).attr('data-tags') ? " select2-tag" : '' )+"'></div>");
                    $(this).css('width', '100%');
                    $(this).after('<div class="select-2-wrapper '+($(this).attr('multiple') ? 'multiple' : 'single' )+'"></div>');
                    $(this).select2({
                        theme: 'bootstrap4',
                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                        placeholder: $(this).attr('data-placeholder'),
                        tags: $(this).attr('data-tags'),
                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true)
                    });
                });
            });
        })
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        /* search text box */
        var filter_name = $('#filter_name').val();

        var filter_payment_voucher_type = $('.filter-item input[name^=filter_payment_voucher_type]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        var filter_status = $('.filter-item input[name^=filter_status]').map(function(idx, elem) {
            return $(elem).val();
        }).get();

        var filter_cash_flow_method = $('.filter-item input[name^=filter_cash_flow_method]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        if (!remove_item && filter_payment_voucher_type.length < 1 && $('.filter-form select[name^=filter_payment_voucher_type]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && filter_status.length < 1 && $('.filter-form select[name^=filter_status]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && filter_cash_flow_method.length < 1 && $('.filter-form select[name^=filter_cash_flow_method]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                filter_payment_voucher_type: filter_payment_voucher_type,
                filter_status: filter_status,
                filter_cash_flow_method: filter_cash_flow_method,
                page: page
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
                $('.filter-form .select2-container--bootstrap4 .select2-selection').css('border', '1px solid #ced4da');
                $('.filter-form input').css('border', '1px solid #ced4da');
            }
        });
    }

    jQuery(document).on('select2:select', '.select2', function () {
        var data = $(this).select2('data');
        var id = data[0].id.trim();

        if (id == "option") {
            jQuery('.filter_created_at_value').removeClass('d-none');
        } else {
            jQuery('.filter_created_at_value').addClass('d-none');
        }
    });

    $(document).on('focusin','.date-picker', function () {
        $(this).datetimepicker({
            format: 'l',
            locale: 'vi',
            icons: {
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
            }
        });
    });

    /* handle on quick voucher status clicked */
    // voucher-status-[voucher_id]-[voucher_status_id]
    $(document).on('click', 'a[id^="voucher-status-"]', function () {
        // reset payment voucher id
        $('#form-cancel-voucher input[name=payment_voucher_id]').val('');

        const id = $(this).prop('id');
        const tmp = id.replace('voucher-status-', '').split('-');
        const voucherId = tmp[0];

        // update voucher id save to submit button data
        $('#form-cancel-voucher input[name=payment_voucher_id]').val(voucherId);
    });
</script>
<style type="text/css">
    .select2-container{
        width: 100%!important;
    }
</style>