<!DOCTYPE html>
<html>
<head>
    {#<title>{{ title }}</title>#} {#already in seo_meta below #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <!-- CSS -->
    {{ cssResource }}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/awesome.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/animate.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- JS -->
    {% block hscript %}
        <!-- javascript -->
        {{ jsResource }}
        {#<script src="{{ theme_directory }}/node_modules/jquery/dist/jquery.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/popper.min.js"#}
        {#integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
        {#crossorigin="anonymous"></script>#}
        {#<script src="{{ theme_directory }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
        {#<script type="text/javascript" src="{{ theme_directory }}/js/bootstrapValidator.min.js"></script>#}
        {#<script src="{{ theme_directory }}/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>#}
        {#<script src="{{ theme_directory }}/node_modules/swiper/dist/js/swiper.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
        {#<script src="{{ theme_directory }}/js/index.js"></script>#}
        {#<script src="{{ theme_directory }}/js/bootstrap-select.min.js"></script>#}
        {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}

        {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
        {% endfor %}
    {% endblock %} {# end of block hscript #}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="home">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<!-- Header -->
<header id="header" class="header block-header">
    <!-- Top Header -->
    <div class="header-top bg-primary text-white">
        <div class="container">
            {% if notify_bar.visible  == 1 %}
                <span class=""><a href="{{ notify_bar.url }}" class="text-white">{{ notify_bar.content }}</a></span>
            {% endif %}
            <div class="menu-header-top float-right text-right amount">
                <a href="favourite.html" class="text-white ml-3 d-none"><i class="icon icon-heart bg-white"></i> Yêu thích</a>
                <a href="{{ href_my_orders }}" class="text-white ml-4"><i class="icon icon-cart bg-white"></i> Giỏ hàng <span class="quantity"> (<span>{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>)</span> </a>
            </div>
        </div>
    </div>
    <!-- End: Top Header -->

    <!-- Main Header -->
    <div class="fix-content main-header w-100">
        <div class="container">
            <div class="row">
                <div class="logo col-6 col-lg-3 align-self-center d-lg-flex bestme-block-header-logo">
                    <a href="{{ home }}">
                        <img class="logo-text-white
                                {% if logo_height != '' %}
{#                                    style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                    custom-height
                                {% endif %}"
                             src="{{ logo }}" title="{{ name }}" alt="{{ alt }}">
                        <img class="logo-text-black
                                {% if logo_height != '' %}
{#                                    style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                    custom-height
                                {% endif %}"
                             src="{{ logo }}" title="{{ name }}" alt="{{ alt }}">
                    </a>
                </div>
                <div class="col-3 col-lg-6 form-search align-self-center p-0 pr-2">
                    <div class="row m-0">
                        <form action="{{ urlserach }}" method="get" class="col-6 col-lg-12 home-search transition">
                            <input type="text" class="form-control rounded-0" name="search" id="input-search" placeholder="Tìm kiếm sản phẩm">
                            <input type="hidden" name="route" value="common/shop">
                        </form>
                        <div class="col-6 cart-custom">
                            <svg width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
                                <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
                            </svg>
                            <a href="{{ href_my_orders }}">
                                <span class="quantity">{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                            </a>
                        </div>
                    </div>


                </div>
                <div class="col-2 col-lg-3 align-self-center text-right text-white user-menu user-menu-mobile">
                    <div class="dropdown ml-lg-3">
                        {% if logged_in == '' %}
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                <span class="text-uppercase font-weight-bold">Đăng Nhập</span>
                                <span class="caret"></span>
                            </a>
                        {% else %}
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                Xin chào,<br>
                                <span class="text-uppercase font-weight-bold">{{ logged_user }}</span>
                                <span class="caret"></span>
                            </a>
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                            {% if logged_in == '' %}
                                <a class="dropdown-item" href="{{ register }}">Đăng Ký</a>
                                <a class="dropdown-item" href="{{ login }}">Đăng Nhập</a>
                            {% else %}
                                <a class="dropdown-item" href="{{ my_account }}">Tài khoản của tôi</a>
                                <a class="dropdown-item" href="{{ logout }}">Đăng xuất</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-3 col-lg-12 main-menu align-self-center">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse bestme-block-header-menu" id="navbarMainMenu">
                            <i class="fas fa-times-circle close d-lg-none"></i>
                            <br>
                            <div class="user-account">
                                <div class="col-2 col-lg-3 align-self-center text-right text-white user-menu">
                                    <div class="dropdown ml-lg-3">
                                        {% if logged_in == '' %}
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                                <span class="text-uppercase font-weight-bold">Đăng Nhập</span>
                                                <span class="caret"></span>
                                            </a>
                                        {% else %}
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0,15">
                                                Xin chào,<br>
                                                <span class="text-uppercase font-weight-bold">{{ logged_user }}</span>
                                                <span class="caret"></span>
                                            </a>
                                        {% endif %}
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                                            {% if logged_in == '' %}
                                                <a class="dropdown-item" href="{{ register }}">Đăng Ký</a>
                                                <a class="dropdown-item" href="{{ login }}">Đăng Nhập</a>
                                            {% else %}
                                                <a class="dropdown-item" href="{{ my_account }}">Tài khoản của tôi</a>
                                                <a class="dropdown-item" href="{{ logout }}">Đăng xuất</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav navbar-nav mx-auto">
                                {% for idx, m in main_menu %}
                                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                        <li class="nav-item {{ main_menu|length > 10 ? 'over-item' : '' }}">
                                            {# one level #}
                                            {#<a class="nav-link {{ result_active_menu == m.url ? 'active' : '' }}  {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>#}
                                            <a class="nav-link {{ result_active_menu == m.url ? 'active' : '' }}  {{ idx == -1 ? 'active' : '' }} {{ main_menu|length > 10 ? 'over-item' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item has-child list-item {{ main_menu|length > 10 ? 'over-item' : '' }}">
                                            {# two levels #}
                                            <a class="{{ main_menu|length > 10 ? 'over-item' : '' }} nav-link" href="{{ m.url }}" class="nav-link">{{ m.text }}</a>
                                            <ul class="nav child-nav">
                                                {% for it in m.items %}
                                                    {% if it.items is defined and it.items|length > 0 %}
                                                        <li class="nav-item list-item">
                                                            <a href="{{ it.url }}">{{ it.text }}</a>
                                                            <ul class="nav child-nav">
                                                                {% for it3 in it.items %}
                                                                    <li class="nav-item"><a href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Main Header -->
</header>
<!-- End Header -->
<script>
    $(document).ready(function () {
        const list = document.querySelectorAll('.list-item');

        function accordion(e){
            e.stopPropagation();
            if(this.classList.contains('active')){
                this.classList.remove('active');
            }
            else if(this.parentElement.parentElement.classList.contains('active')){
                this.classList.add('active');
            }
            else{
                for(i=0; i < list.length; i++){
                    list[i].classList.remove('active');
                }
                this.classList.add('active');
            }
        }
        for(i = 0; i < list.length; i++ ){
            list[i].addEventListener('click', accordion);
        }
    });
</script>

{#<div class="container">#}
{#<div style="height: 200vh; background-color: #eee"></div>#}
{#</div>#}