header.header{
    z-index: 99;
    position: relative;
}
.header-top {
    line-height: 23px;
    padding: 8px 0;
}
.logo-text-white {
    display: block;
}
.logo-text-black {
    display: none;
}
.main-header {
    padding: 16px 0;
}
.header .fix-content,
.main-menu .navbar{
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: relative;
}
.main-header a:hover {
    color: #2D2F52;
}
.main-menu{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.fixed .main-menu{
    background: #F8F8F8;
}
.main-menu .menu-right-header{
    display: none;
}
.menu-right-header >.item{
    align-self: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.menu-right-header >.item.with-icon i.icon{
    margin: 0 10px;
    background: #21201E;
}
.block-header .show-search-form .home-search{
    display: none;
    position: absolute;
    width: 365px;
    right: 2px;
    top: calc(100% + 22px);
    z-index: 2;
    font-size: 14px;
}
.home-search .form-control{
    border-radius: 20px;
}
.block-header .show-search-form .home-search .form-control{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.menu-right-header >.item.with-icon i.icon.icon-cart{
    background: #21201E;
    margin: 0;
    font-size: 24px;
}
.header .cart-icon{
    margin-left: 35px;
    position: relative;
}
.cart-icon .count-cart{
    position: absolute;
    top: 2px;
    right: -16px;
    background: #2C3440;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    z-index: 1;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    padding: 0 3px;
    min-width: 20px;
}
.block-header .home-search{
    position: relative;
}
.block-header .home-search input.form-control{
    padding-left: 20px;
    padding-right: 45px;
    font-size: 14px;
}
.search-box-ajax{
    display: none;
}
.home-search input.form-control:focus + .search-box-ajax{
    display: inline-block;
}

.block-header form.home-search{
    position: relative;
}
.block-header form.home-search::after,
.block-header form.home-search::before,
.block-header form.home-search button{
    background: #2C3440;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 40px;
    height: 100%;
    color: #000;
    border-radius: 100%;
}
.block-header form.home-search button{
    background-color: #fff;
    -webkit-mask: url("/catalog/view/theme/tech_mechanic_hh/img/icons/search.svg") center no-repeat;
    mask: url("/catalog/view/theme/tech_mechanic_hh/img/icons/search.svg") center no-repeat;
    mask-size: 16px;
    -webkit-mask-size: 16px;
    z-index: 1;
}
.block-header form.home-search input.form-control{
    height: 40px;
}
.block-header.fixed .fix-content{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.block-header .main-menu li{
    position: relative;
}
.block-header .main-menu ul.child-nav li{
    position: relative;
}
.block-header .main-menu ul.nav > li.has-child > a>.toggle,
.block-header .main-menu ul.nav > li.has-child > .toggle,
.cat-menu a>.toggle{
    position: absolute;
    width: 15px;
    height: 6px;
    -webkit-mask:  url('/catalog/view/theme/tech_mechanic_hh/img/icons/drop-down.svg') center no-repeat;
    mask: url('/catalog/view/theme/tech_mechanic_hh/img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: contain;
    -mask-size: contain;
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    top: 16px;
    background-color: #707070;
    right: 8%;
    display: block;
}
.block-header .main-menu ul.nav ul.nav{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 92%;
    min-width: 275px;
    padding: 24px 0;
    background: #FFFFFF;
    border: 1px solid #D6D7D1;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform-origin: top;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
#main-wrapper ul.cat-menu li ul.nav{
    height: 100%;
    padding: 16px;
}
.block-header .main-menu li:hover > ul.nav,
ul.cat-menu li:hover> ul.nav{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.block-header .main-menu li ul.nav li,
.block-header .main-menu li ul.nav li a,
.cat-menu a{
    width: 100%;
    text-align: left;
    display: inline-block;
}
.block-header .main-menu li > ul.nav li:nth-last-child(1),
.cat-menu li:nth-last-child(1){
    border-bottom: none;
}
.block-header .main-menu li ul.nav li.label{
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 20px 6px 32px;
    line-height: 21px;
}

.block-header .main-menu li ul.nav a.nav-link.active,
.block-header .main-menu li ul.nav a.nav-link:hover{
    background: #E5E5E5;
    font-weight: 300;
}
.block-header .main-menu li ul.cat-menu ul:nth-child(1) {
    border-right: 1px solid #E5E5E5;
}
.block-header .main-menu li ul.nav li a,
.cat-menu a{
    padding: 6px 20px 6px 32px;
    line-height: 21px;
    margin: 0;
}
.block-header .main-menu li ul.nav ul.nav,
ul.cat-menu li ul.nav{
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
    left: 100%;
    top: -1px;
    z-index: 2;
    border: 1px solid #D6D7D1;
}
.block-header .main-menu ul.cat-menu li ul.nav{
    height: calc(100% + 2px);
    border-left: 0;
}
.block-header .main-menu ul.cat-menu li ul.nav li {
    border-left: 1px solid #E5E5E5;
}
.block-header .main-menu li ul.nav >li:hover>ul.nav{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.cat-menu-block .menu-title{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 14px 15px 15px 23px;
    width: 100%;
}
.cat-menu-block .menu-title i.icon{
    font-size: 24px;
    background-color: #2C3440;
    margin-right: 24px;
}
.main-menu .cat-menu-block .nav-link.menu-title{
    font-weight: 500;
    margin-right: 20px;
}
.cat-menu-in-body .child-nav-li-wrapper {
    overflow-y: auto;
    height: 100%;
}

/* End: Default Header; */
.navbar-light .navbar-nav .nav-link{
    position: relative;
    transition: all 0.15s ease;
    padding: 13px 8px;
    line-height: 24px;
    color: inherit;
    margin: 0 15px;
}
.navbar-light .navbar-nav a:hover,
.navbar-light .navbar-nav a.active,
.navbar-light .navbar-nav a.nav-link:hover,
.navbar-light .navbar-nav a.nav-link.active{
    font-weight: 500;
    color: #2C3440;
}
.count {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
}
.user .dropdown-toggle::after {
    display: none;
}
.user-acount:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: "\f2bd";
    font-size: 16px;
    left: 15px;
    font-weight: 900;
}
.header .dropdown-menu .dropdown-item,
.header .dropdown a{
    color: inherit;
}
.header .dropdown-menu .dropdown-item{
    font-size: 14px;
    padding: 8px 15px 8px 30px;
    font-weight: inherit;
}
.header .dropdown-menu .dropdown-item:hover,
.header .dropdown-menu .dropdown-item:focus,
.header .dropdown-menu .dropdown-item.active,
.header .dropdown-menu .dropdown-item:active{
    color: inherit;
    background-color: transparent;
    font-weight: 500;
}
.dropdown-cart .cart-item{
    margin-bottom: 15px;
}
.dropdown-cart .cart-item>a{
    width: 64px;
    display: inline-block;
}

.text-inherit {
    color: inherit;
}

.cart-item-list {
    overflow-y: auto;
}