{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
        <div class="owl-carousel owl-slide owl-banner" data-time="{{ slideshow.transition_time }}">
            {% for slide in slideshow.slides %}
                <div class="item">
                    <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}"><img
                                class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"/></a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
<!-- End slide banner -->

<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
<!-- Block-saleoff-product -->
{% for k, block in blocks %}
    <section id="block-saleoff-product" class="block-product-home block-saleoff-product {{ block.bestme_block_preview_class }}">
        <div class="container overflow-hidden">
            <div class="block-head header- header-color">
                <h3>{{ block['title'] }}</h3>
            </div>
            <div class="swiper-container swiper-product swiper-custom-block-{{ k }}" data-number-item="{{ block['grid'] }}"  data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                <div class="swiper-wrapper">
                    {% if block['collections'] is not empty %}
                        {% for k,collection in block['collections'] %}
                            <div class="swiper-slide">
                                <div class="product-item text-center">
                                    <div class="block-hover">
                                        <div class="block-head">
                                            <div class="thumb-box">
                                                <div class="img"><a href="{{ collection['url'] }}">
                                                        <img class="img-fluid ls-is-cached lazyloaded" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}" src="{{ collection['image'] }}"></a></div>
                                            </div>
                                        </div>
                                        <div class="content-box main-font">
                                            <h5 class="name">
                                                <a class="link-color" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection['title'] }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for k,product in block['products'] %}
                            <div class="swiper-slide">
                                <div class="product-item text-center">
                                    <div class="block-hover">
                                        <div class="block-head">
                                            <div class="thumb-box">
                                                <div class="img"><a href="{{ product['href'] }}"><img class="img-fluid lazyload"  data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a></div>
                                                <div class="rated d-none">
                                                    <ul>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                 viewBox="0 0 13 13" fill="none">
                                                                <path d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                      fill="#EC006C" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                 viewBox="0 0 13 13" fill="none">
                                                                <path d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                      fill="#EC006C" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                 viewBox="0 0 13 13" fill="none">
                                                                <path d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                      fill="#EC006C" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                 viewBox="0 0 13 13" fill="none">
                                                                <path
                                                                        d="M6.01426 0.892051C6.10329 0.614057 6.49663 0.614057 6.58567 0.892051L7.78233 4.62839C7.82212 4.7526 7.9376 4.83688 8.06804 4.83688H11.9496C12.2392 4.83688 12.3607 5.20656 12.1276 5.37837L8.97996 7.69841C8.87632 7.7748 8.83298 7.9088 8.87225 8.03141L10.0728 11.7798C10.1615 12.057 9.84335 12.2855 9.60908 12.1128L6.47796 9.80496C6.37212 9.72694 6.22781 9.72694 6.12197 9.80496L2.99084 12.1128C2.75658 12.2855 2.43838 12.057 2.52714 11.7798L3.72768 8.03141C3.76695 7.9088 3.72361 7.7748 3.61997 7.69841L0.472324 5.37837C0.239229 5.20656 0.360749 4.83688 0.650319 4.83688H4.53189C4.66232 4.83688 4.77781 4.7526 4.81759 4.62839L6.01426 0.892051Z"
                                                                        fill="#EC006C" />
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                                 viewBox="0 0 13 13" fill="none">
                                                                <path
                                                                        d="M6.10001 0.983555L5.90954 1.04456L5.90966 1.04494C5.90962 1.04481 5.90958 1.04468 5.90954 1.04456L6.10001 0.983555ZM6.10001 0.983555L6.29048 1.04456L6.29036 1.04494C6.2904 1.04481 6.29044 1.04468 6.29048 1.04456L6.10001 0.983555ZM6.10001 1.63926L7.10621 4.78089C7.2123 5.11214 7.52027 5.33688 7.86809 5.33688H11.1412L8.48335 7.29593C8.20698 7.49963 8.0914 7.85696 8.19612 8.18392L9.20806 11.3435L6.57467 9.40247C6.29242 9.19444 5.9076 9.19444 5.62536 9.40248L2.99197 11.3435L4.0039 8.18392C4.10862 7.85696 3.99304 7.49963 3.71668 7.29593L1.0588 5.33688H4.33194C4.67976 5.33688 4.98772 5.11214 5.09382 4.78089L6.10001 1.63926ZM0.569032 4.97589C0.569134 4.97596 0.569234 4.97604 0.569335 4.97611L0.569032 4.97589Z"
                                                                        stroke="#3A3A3A" />
                                                            </svg>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="status">
                                                    {% if product['product_is_stock'] == false %}
                                                        <span class="sale-off main-color">Hết hàng</span>
                                                    {% endif %}
                                                    {% if product['percent_sale'] is not empty %}
                                                        <span class="sale-off main-color">{{ product['percent_sale'] }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="action">
                                                    <a href="{{ product['href'] }}" class="btn btn-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="12"
                                                             viewBox="0 0 17 12" fill="none">
                                                            <path
                                                                    d="M8.55703 0.161987C4.82269 0.161987 1.64593 2.51742 0.340008 5.86184C1.64593 9.20625 4.82269 11.5617 8.55703 11.5617C12.2914 11.5617 15.4681 9.20625 16.7741 5.86184C15.4681 2.51742 12.2914 0.161987 8.55703 0.161987ZM8.55703 9.663C6.50277 9.663 4.82269 7.95304 4.82269 5.86184C4.82269 3.77063 6.50277 2.06068 8.55703 2.06068C10.6113 2.06068 12.2914 3.77063 12.2914 5.86184C12.2914 7.95304 10.6113 9.663 8.55703 9.663ZM8.55703 3.5819C7.32448 3.5819 6.31569 4.60863 6.31569 5.86184C6.31569 7.11505 7.32448 8.14178 8.55703 8.14178C9.78958 8.14178 10.7984 7.11505 10.7984 5.86184C10.7984 4.60863 9.78958 3.5819 8.55703 3.5819Z"
                                                                    fill="#571F9C" />
                                                        </svg>
                                                    </a>
                                                    <a href="" class="btn btn-primary d-none">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18"
                                                             viewBox="0 0 20 18" fill="none">
                                                            <path
                                                                    d="M17.3816 2.00714C16.9483 1.54282 16.4338 1.1745 15.8676 0.923205C15.3014 0.671916 14.6946 0.542579 14.0817 0.542579C13.4689 0.542579 12.862 0.671916 12.2958 0.923205C11.7296 1.1745 11.2151 1.54282 10.7818 2.00714C10.4551 2.35714 10.209 2.75464 9.99897 3.16839C9.79186 2.74205 9.52774 2.35041 9.21497 2.00589C8.33977 1.06818 7.15276 0.541382 5.91505 0.541382C4.67734 0.541382 3.49033 1.06818 2.61513 2.00589C1.73994 2.94359 1.24826 4.21539 1.24826 5.54151C1.24826 6.86763 1.73994 8.13943 2.61513 9.07714L9.99897 16.7921L17.3816 9.07714C17.8152 8.61311 18.1592 8.06206 18.3939 7.4555C18.6286 6.84894 18.7494 6.19876 18.7494 5.54214C18.7494 4.88551 18.6286 4.23533 18.3939 3.62877C18.1592 3.02221 17.8152 2.47116 17.3816 2.00714V2.00714Z"
                                                                    stroke="#571F9C" stroke-miterlimit="10" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                        </svg>
                                                    </a>
                                                    <a href="{{ product['href'] }}" class="btn btn-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                                             viewBox="0 0 17 16" fill="none">
                                                            <path
                                                                    d="M16.0774 3.64321C15.9841 3.51299 15.8352 3.43592 15.6769 3.43592H4.52445C4.50284 3.43592 4.48127 3.43726 4.46049 3.44011L4.00151 2.0928C3.95394 1.95346 3.84919 1.84239 3.71457 1.78842L1.40142 0.86308C1.14649 0.761443 0.858811 0.888956 0.75869 1.14824C0.658743 1.40767 0.783928 1.70079 1.03872 1.80275L3.1396 2.64317L5.7111 10.1912C5.5976 10.2314 5.50142 10.3201 5.45762 10.4442L4.71411 12.5473C4.66855 12.6763 4.68732 12.8196 4.76487 12.9316C4.84231 13.0437 4.96825 13.1104 5.10274 13.1104H5.48455C5.24794 13.3785 5.10274 13.7316 5.10274 14.1199C5.10274 14.9549 5.76991 15.6342 6.58975 15.6342C7.40959 15.6342 8.07677 14.9549 8.07677 14.1199C8.07677 13.7316 7.93156 13.3785 7.69495 13.1104H10.937C10.7003 13.3785 10.555 13.7316 10.555 14.1199C10.555 14.9549 11.2221 15.6342 12.0421 15.6342C12.8621 15.6342 13.5291 14.9549 13.5291 14.1199C13.5291 13.7316 13.3839 13.3785 13.1473 13.1104H13.6117C13.8399 13.1104 14.0247 12.9221 14.0247 12.6898C14.0247 12.4574 13.8398 12.2692 13.6117 12.2692H5.69046L6.15093 10.9667C6.21039 10.9922 6.27463 11.0073 6.34187 11.0073H13.6116C13.8271 11.0073 14.0179 10.8655 14.0835 10.6566L16.1488 4.09483C16.1973 3.94119 16.1707 3.77344 16.0774 3.64321ZM6.58975 14.7929C6.22526 14.7929 5.92887 14.4911 5.92887 14.1199C5.92887 13.7487 6.22526 13.4469 6.58975 13.4469C6.95424 13.4469 7.25063 13.7487 7.25063 14.1199C7.25063 14.4911 6.95424 14.7929 6.58975 14.7929ZM12.042 14.7929C11.6775 14.7929 11.3811 14.4911 11.3811 14.1199C11.3811 13.7487 11.6775 13.4469 12.042 13.4469C12.4065 13.4469 12.7029 13.7487 12.7029 14.1199C12.7029 14.4911 12.4065 14.7929 12.042 14.7929ZM14.6402 5.58113H12.1109V4.44544H14.9976L14.6402 5.58113ZM13.9119 7.89454H12.1109V6.59061H14.3224L13.9119 7.89454ZM8.83389 7.89454V6.59061H11.1196V7.89454H8.83389ZM11.1196 8.90413V9.99775H8.83389V8.90413H11.1196ZM5.53378 6.59061H7.84264V7.89454H5.97807L5.53378 6.59061ZM8.83389 5.58113V4.44544H11.1196V5.58113H8.83389ZM7.84261 4.44544V5.58113H5.18976L4.80286 4.44544H7.84261ZM6.32206 8.90413H7.84261V9.99775H6.69461L6.32206 8.90413ZM12.1109 9.99778V8.90416H13.5944L13.2502 9.99778H12.1109Z"
                                                                    fill="#571F9C" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-box main-font">
                                            <h5 class="name">
                                                <a class="link-color" title="{{ product.name }}" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                            </h5>
                                            <div class="price-box main-font">
                                                {% if product['is_contact_for_price'] %}
                                                    <div class="price-new main-color">
                                                <span class="price">
                                                    {{ contact }}
                                                </span>
                                                    </div>
                                                {% else %}
                                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                        <div class="price-new main-color">
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="price">
                                                            {{ product['compare_price_master'] }}
                                                        </span>
                                                            {% else %}
                                                                <span class="price">
                                                            {{ product['min_compare_price_version'] }}
                                                        </span>
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="price-new main-color">
                                                            {% if product['max_price_version'] is null %}
                                                                <span class="price">{{ product['price_master'] }}</span>
                                                            {% else %}
                                                                <span class="price">{{ product['min_price_version'] }}</span>
                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                    ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class="price-old text-color">
                                                            {% if product['max_compare_price_version'] is null %}
                                                                <span class="price">{{ product['compare_price_master'] }}</span>
                                                            {% else %}
                                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div>
                                            <a href="{{ product['href'] }}">
                                                <button type="button" class="btn btn-buy main-background-hover">MUA NGAY</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Add button -->
                <div class="swiper-button-next swiper-button-next-pro swiper-button-next-p-{{ k }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                        <path d="M0.350939 0.338324C0.456295 0.23107 0.581409 0.145985 0.719124 0.0879327C0.856839 0.0298806 1.00446 0 1.15354 0C1.30262 0 1.45023 0.0298806 1.58795 0.0879327C1.72566 0.145985 1.85077 0.23107 1.95613 0.338324L9.66729 8.17388C9.77277 8.28102 9.85644 8.40824 9.91353 8.54828C9.97062 8.68832 10 8.83843 10 8.99003C10 9.14162 9.97062 9.29173 9.91353 9.43177C9.85644 9.57181 9.77277 9.69904 9.66729 9.80617L1.95613 17.6417C1.85174 17.7533 1.72645 17.8424 1.58765 17.9039C1.44884 17.9654 1.29933 17.9981 1.14792 17.9999C0.996516 18.0018 0.846282 17.9727 0.706075 17.9146C0.565866 17.8565 0.438524 17.7704 0.331552 17.6614C0.22458 17.5524 0.140142 17.4228 0.0832176 17.2801C0.0262938 17.1374 -0.00196552 16.9846 0.000104904 16.8307C0.00217628 16.6767 0.0345354 16.5247 0.0952768 16.3837C0.156017 16.2426 0.243912 16.1154 0.353775 16.0094L7.26234 8.99003L0.353775 1.97061C0.248116 1.86367 0.164221 1.73659 0.106889 1.59666C0.0495567 1.45672 0.0199108 1.30666 0.0196476 1.15507C0.0193844 1.00347 0.0485096 0.853308 0.105354 0.713166C0.1622 0.573023 0.245651 0.445648 0.350939 0.338324Z"
                              fill="#454545" />
                    </svg>
                </div>
                <div class="swiper-button-prev swiper-button-prev-pro swiper-button-prev-p-{{ k }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                        <path d="M9.64906 17.6617C9.54371 17.7689 9.41859 17.854 9.28088 17.9121C9.14316 17.9701 8.99554 18 8.84646 18C8.69738 18 8.54977 17.9701 8.41205 17.9121C8.27434 17.854 8.14923 17.7689 8.04387 17.6617L0.332709 9.82612C0.227236 9.71898 0.143562 9.59176 0.0864737 9.45172C0.0293853 9.31168 7.7268e-07 9.16157 7.85933e-07 9.00997C7.99186e-07 8.85838 0.0293854 8.70827 0.0864738 8.56823C0.143562 8.42819 0.227236 8.30096 0.332709 8.19383L8.04387 0.358269C8.14826 0.246739 8.27355 0.157586 8.41236 0.0960701C8.55116 0.0345524 8.70067 0.00191574 8.85208 8.27899e-05C9.00349 -0.00175207 9.15372 0.0272549 9.29393 0.0853928C9.43414 0.143529 9.56148 0.229623 9.66845 0.338593C9.77542 0.447564 9.85986 0.577207 9.91678 0.719884C9.97371 0.862559 10.002 1.01538 9.9999 1.16934C9.99783 1.3233 9.96547 1.47528 9.90472 1.61631C9.84398 1.75736 9.75609 1.8846 9.64623 1.99056L2.73766 9.00997L9.64623 16.0294C9.75188 16.1363 9.83578 16.2634 9.89311 16.4033C9.95044 16.5433 9.98009 16.6933 9.98035 16.8449C9.98062 16.9965 9.95149 17.1467 9.89465 17.2868C9.8378 17.427 9.75435 17.5544 9.64906 17.6617Z"
                              fill="#454545" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="container pb-3">
            <div class="w-100 text-center">
                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
            </div>
        </div>
    </section>
    {% if k == 0 %}

        <!-- block-ads-banner -->
        {% if banners_visible == '1' %}
            <!-- Block BST -->
            <section id="block-album">
                <div class="container">
                    <div class="row">
                        {% if banner_highlight['visible'] == '1' %}
                            <div class="col-md-6 bestme-block-banner-1">
                                <a target="_blank" href="{{ banner_highlight['url'] }}">
                                    <div class="album-item">
                                        {#<div class="content">#}
                                        {#<h4 class="title">#}
                                        {#<a class="main-font" href="{{ banner_highlight['url'] }}">#}
                                        {#<span class="meta">{{ banner_highlight['description'] }}</span>#}
                                        {#</a>#}
                                        {#</h4>#}
                                        {#</div>#}
                                        <div class="thumb">
                                            <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        {% if banner_left['visible'] == '1' %}
                            <div class="col-md-6 bestme-block-banner-2">
                                <a target="_blank" href="{{ banner_left['url'] }}">
                                    <div class="album-item">
                                        {#<div class="content">#}
                                        {#<h4 class="title">#}
                                        {#<a class="main-font" href="{{ banner_left['url'] }}">#}
                                        {#<span class="meta">{{ banner_left['description'] }}</span>#}
                                        {#</a>#}
                                        {#</h4>#}
                                        {#</div>#}
                                        <div class="thumb">
                                            <img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <!-- /.Block BST -->
        {% endif %}
    {% elseif k == 1 %}
        <!-- block-ads-banner -->
        {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
            <section id="block-middle-banner" class="bestme-block-banner-3">
                <a target="_blank" href="{{ banner_middle['url'] }}" title="{{ banner_middle['description'] }}"><img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
            </section>
        {% endif %}
    {% endif %}

{% endfor %}
<!-- /.Block-saleoff-product -->
<div class="bestme_app_after_product">

</div>
<!-- block-partner -->
{% if partners_visible == '1' %}
<div id="block-partner" class="block-partner bestme-block-partner">
    <div class="container">
        <div class="block-head header- header-color">
            <h3>{{ partners_title }}</h3>
        </div>
        <!-- Swiper -->
        <div class="swiper-container swiper-partner" data-limit-inline="{{ partners_limit_per_line }}" data-time="{{ slideshow.transition_time }}">
            <div class="swiper-wrapper">
                {% for partner in partners %}
                    <div class="swiper-slide">
                        <a href="{{ partner.url }}"><img class="img-fluid lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- /.block-partner -->

{% if latest_blog %}
    <!-- block-blog -->
    <div id="block-blog" class="block-blog">
        <div class="container">
            <div class="block-head header- header-color">
                <h3>{{ blog_title }}</h3>
            </div>
            <div class="row">
                {% for k,blog in latest_blog %}
                    {% if k < 3 %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="blog-item">
                                <div class="thumb">
                                    <a href="{{ blog['link'] }}"><img class="img-fluid" src="{{ blog['image'] }}" alt=""></a>
                                </div>
                                <div class="content main-font text-center text-color">
                                    <h6 class="author"><a class="link-color" href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></h6>
                                    <h5 class="name-blog">
                                        <a href="{{ blog['link'] }}" class="link-color">
                                            {{ blog['title'] }}
                                        </a>
                                    </h5>
                                    <div class="meta text-center">
                                        <span class="date text-color">{{ blog['date_added']|date('d.m.Y') }}</span>
                                    </div>
                                    <div class="desc">
                                        {{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                    </div>
                                    <div class="view-more main-font">
                                        <a class="header-color main-background-hover" href="{{ blog['link'] }}">Đọc tiếp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-blog -->
<div class="bestme_app_before_footer">

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.swiper-custom-block-' + '{{ k }}').length > 0) {
            const autoplay = 1 == $('.swiper-custom-block-' + '{{ k }}').data('autoplay') ? { delay: $('.swiper-custom-block-' + '{{ k }}').data('autoplay_time') * 1e3 } : false;
            var swiper{{ k }} = new Swiper('.swiper-custom-block-' + '{{ k }}', {
                slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-number-item'),
                spaceBetween: 20,
                loop: 1 == $('.swiper-custom-block-' + '{{ k }}').data('loop'),
                autoplay: autoplay,pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next-p-{{ k }}',
                    prevEl: '.swiper-button-prev-p-{{ k }}',
                },
                breakpoints: {
                    // when window width is >= 480px
                    480: {
                        slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-number-item'),
                        spaceBetween: 5
                    },
                    // when window width is >= 640px
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 10
                    },
                    991: {
                        slidesPerView: 2,
                        slidesPerColumn: 2,
                        spaceBetween: 20
                    },
                    1200: {
                        slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-number-item')
                    }
                }
            });
        }
        {% endfor %}
    });
</script>
{{ footer }}