{{ header }}

<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                <li class="breadcrumb-item"><a class="breadcrumb-item" href="{{ href_home }}">{{ text_home }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ text_account }}</li>
            </ol>
        </nav>
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content pb-3 pb-md-5">
            <div class="row mt-3">
                <div class="col-12 col-lg-3">
                    <nav class="nav flex-lg-column user-nav mb-3 p-2 bg-white">
                        <a class="nav-link py-3 active" href="tai-khoan">Tổng quan</a>
                        <a class="nav-link py-3" href="cai-dat">Sổ địa chỉ</a>
{#                        <a class="nav-link py-3" style="cursor: pointer" onclick="show_info_acc()">Thông tin cá nhân</a>#}
{#                        <a class="nav-link py-3" href="#">Lịch sử mua hàng</a>#}
                    </nav>
{#                    {% include ('food_grocerie/template/checkout/checkout_nav.twig') %}#}
                </div>
                <!-- End col-2 -->

                <div class="col-12 col-lg-9">
                    <div class="panel bg-white p-2">
                        <div class="row">
                            <div class="col-lg-5 col-12 mb-3">
                                <div class="px-4 pt-4 pb-2">
                                    <p>
                                        <span class="fw-600 fz-16 mr-2">{{ account_info_title }}</span>
                                        <a class="text-third-button fz-14 fw-500" onclick="show_info_acc()" style="cursor: pointer">Chỉnh sửa</a>
                                    </p>
                                    <div class="row mb-4">
                                        <div class="col-3 col-md-2 col-lg-2 pr-0">
                                            <div class="img-thumb rounded-circle bg-fifth">
                                                <div class="img-wrap">
                                                    <img src="" width="40"/>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="fw-600 col align-self-center">{{ account_info.lastname }} {{ account_info.firstname }}</span>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 pr-0 text-second">{{ entry_lastname }}</p>
                                        <p class="col">{{ account_info.lastname }} {{ account_info.firstname }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 pr-0 text-second">{{ account_email }}</p>
                                        <p class="col">{{ account_info.email }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 pr-0 text-second">{{ account_phone_number }}</p>
                                        <p class="col">{{ account_info.phone_number }} </p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 pr-0 text-second">{{ account_address }}</p>
                                        <p class="col">{{ account_info.full_address }} </p>
                                    </div>
{#                                    <div class="row">#}
{#                                        <p class="col-4 pr-0 text-second">Giới tính:</p>#}
{#                                        <p class="col">Nữ</p>#}
{#                                    </div>#}
                                </div>
                            </div>
                            <!-- End col-lg-6 -->
                            <div class="col-lg-7 col-12 mb-3">
                                <div class="p-4 pr-0 h-100">
                                    <p>
                                        <span class="fw-600 fz-16 mr-2">Địa chỉ nhận hàng</span>
                                        <a href="cai-dat" class="text-third-button fz-14 fw-500">Chỉnh sửa</a>
                                    </p>
                                    <div class="row">
                                        <p class="col-4 col-lg-3 pr-0 text-second">Họ tên:</p>
                                        <p class="col"> {{ default_delivery_address['lastname'] }} {{ default_delivery_address['firstname'] }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 col-lg-3 pr-0 text-second">Điện thoại:</p>
                                        <p class="col">{{ default_delivery_address['phone_number'] }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 col-lg-3 text-second">Địa chỉ: </p>
                                        <p class="col pr-0">{{ default_delivery_address['full_address'] }}</p>
                                    </div>
                                    <span class="mt-2 py-2 px-3 bg-fifth d-inline-block rounded-25">Địa chỉ mặc định</span>
                                </div>
                            </div>
                            <!-- End col-lg-6 -->
                        </div>
                        <!-- End row -->
                        <div class="py-2 mt-3">
                            <a class="fw-600 fz-16 px-4 my-2 d-block">{{ text_history_order }}</a>
                            <div class="table-responsive">
                                <table class="table table-borderless m-0 p-0">
                                    <thead>
                                    <tr class="text-second fw-600 text-center">
                                        <th>{{ text_id_order }}</th>
                                        <th>{{ text_date_order }}</th>
                                        <th>{{ text_value_order }}</th>
                                        <th>{{ text_pay_order }}</th>
                                        <th>{{ text_status_order }}</th>
                                        <th>{{ text_transport_status_order }}</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {% for order in orders %}
                                        <tr>
                                            <td><a class="text-fifth fw-700" href="{{ order.order_info_url }}">{{ order.order_code }}</a></td>
                                            <td>{{ order.date_added }}</td>
                                            <td>{{ order.total | number_format }} VND</td>
                                            <td>{{ order.payment_status }}</td>
                                            <td>{{ order.order_status }}</td>
                                            <td>{{ order.transport_order_status }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End panel -->
                </div>
                <!-- End col-10 -->
            </div>
            <!-- End row -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!-- End container -->
</main>
<div id="info_acc_" class="modal fade" role="dialog" style="z-index: 999999">
   <div class="container">
       <div class="row">
           <div class="col-8 pt-4" style="margin: auto">
               <div class="panel bg-white p-5">
                   <form class="row" action="" enctype="multipart/form-data">
                       <div class="col-lg-4 upload-avatar d-flex flex-column" id="uploadAvatar">
                           <div class="img-preview mx-auto">
                               <div class="img-thumb rounded-circle">
                                   <div class="img-wrap bg-fourth">
                                       <img src="img/sp7.png" alt="">
                                   </div>
                               </div>
                           </div>
                           <div class="text-center">
                               <input type="file" accept="image/*" name="avatar" class="d-none" id="choseAvatar">
                               <label for="choseAvatar" class="my-3 text-fifth fw-500">Chọn ảnh</label>
                           </div>
                       </div>
                       <div class="col-lg-8">
                           <div class="form-group form-row">
                               <label class="col align-self-center">Họ tên:</label>
                               <div class="col-md-8">
                                   <input type="text" class="form-control" name="fullname" value="{{ account_info.lastname }} {{ account_info.firstname }}">
                               </div>
                           </div>
                           <div class="form-group form-row">
                               <label class="col align-self-center">Số điện thoại:</label>
                               <div class="col-md-8">
                                   <input type="text" class="form-control" name="phone" value="{{ account_info.phone_number }}">
                               </div>
                           </div>
                           <div class="form-group form-row">
                               <label class="col align-self-center">Email:</label>
                               <div class="col-md-8">
                                   <input type="email" class="form-control" name="email" value="{{ account_info.email }}">
                               </div>
                           </div>
                           <div class="form-group form-row">
                               <label class="col align-self-center">Ngày sinh:</label>
                               <div class="col-md-8">
                                   <input type="date" class="form-control" name="">
                               </div>
                           </div>
                           <div class="form-group form-row">
                               <label class="col align-self-center">Giới tính:</label>
                               <div class="col-md-8">
                                   <div class="custom-control custom-radio custom-control-inline">
                                       <input type="radio" id="genderInputMale" name="gender" class="custom-control-input">
                                       <label class="custom-control-label" for="genderInputMale">Nam</label>
                                   </div>
                                   <div class="custom-control custom-radio custom-control-inline">
                                       <input type="radio" id="genderInputFemale" name="gender" class="custom-control-input">
                                       <label class="custom-control-label" for="genderInputFemale">Nữ</label>
                                   </div>
                               </div>
                           </div>
                           <div class="form-group form-row">
                               <label class="col align-self-center">Thay đổi mật khẩu</label>
                               <div class="col-md-8">
                                   <input type="password" class="form-control" name="">
                               </div>
                           </div>
                           <button type="submit" class="mt-3 btn btn-primary px-5 py-2 fz-16 col-lg-5 col text-uppercase">Lưu
                           </button>
                       </div>
                       <!-- End col-lg-8 -->
                   </form>
                   <!-- End row -->
               </div>
               <!-- End panel -->
           </div>
       </div>
   </div>
</div>
{{ footer }}
<script>
    function show_info_acc(){
        $('#info_acc').modal('show');
    }
</script>