/* $MAIN_COLOR$ */
.block-header .block-header-menu ul.nav ul.nav li:hover >a,
.block-header .block-header-menu ul.nav ul.nav li a:hover,
.block-header .block-header-menu ul.nav ul.nav a.active {
    color: $MAIN_COLOR$ !important;
}

.second-color,
.second-color-hover:hover {
    color: $MAIN_COLOR$ !important;
}



.border-main{
    border-color: $MAIN_COLOR$ !important;
}

.header-font{
    color: $MAIN_COLOR$;
}

a:hover,
a.active{
    color: $MAIN_COLOR$;
}

.product-item .product-price{
    color: $MAIN_COLOR$;
}

.product-item .product-preview a{
    background: $MAIN_COLOR$;
}

.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
    background: $MAIN_COLOR$;
}

.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
    border: 1px solid $MAIN_COLOR$;
}

.blog-item .blog-link{
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}

ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active{
    color: $MAIN_COLOR$;
}

.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
    background: $MAIN_COLOR$;
}

.product-detail .choose-attribute .attr-item input:checked ~ label{
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}


#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
    background: $MAIN_COLOR$;
}

.second-color,
.second-color-hover:hover{
    color: $MAIN_COLOR$ !important;
}

/* $BUTTON_COLOR$ */
.insert-button-color-selector-here {
    color: $BUTTON_COLOR$;
}
.main-bg, .main-bg-hover:hover{
    background-color: $MAIN_COLOR$ !important;
}
.product-item .product-preview a {
    background: $BUTTON_COLOR$ !important;
}

    .carousel-product a.carousel-control {
        border: 2px solid $BUTTON_COLOR$;
        color: $BUTTON_COLOR$;
    }
    .carousel-product a.carousel-control.carousel-control-prev:hover {
        background-color: $BUTTON_COLOR$;
    }
    .carousel-product a.carousel-control.carousel-control-next:hover {
        background-color: $BUTTON_COLOR$;
    }
    #home-bg #home-content #home-infor-card-product .card-hover .carousel-indicators li.active {
        background-color: $BUTTON_COLOR$;
        border: 1px solid $BUTTON_COLOR$;
    }
    #home-content #home-infor-card-product .tilte-content-border{
        border-bottom: 1px solid $BUTTON_COLOR$;
    }
    .owl-carousel .owl-nav>button.owl-prev {
        border: 2px solid $BUTTON_COLOR$;
        color: $BUTTON_COLOR$;
    }
    .owl-carousel .owl-nav .owl-prev:hover {
        background: $BUTTON_COLOR$!important;
        color: $BUTTON_COLOR$;
    }
    .owl-carousel .owl-nav>button.owl-next {
        border: 2px solid $BUTTON_COLOR$;
        color:$BUTTON_COLOR$;
    }
    .owl-carousel .owl-nav .owl-next:hover {
        background: $BUTTON_COLOR$!important;
        color: $BUTTON_COLOR$;
    }
    a.carousel-control.carousel-control-next{
        border: 2px solid $BUTTON_COLOR$;
        color: $BUTTON_COLOR$;
    }
    a.carousel-control.carousel-control-next:hover {
        background-color: $BUTTON_COLOR$;
    }
    a.carousel-control.carousel-control-prev {
        border: 2px solid $BUTTON_COLOR$;
        color: $BUTTON_COLOR$;
    }
    a.carousel-control.carousel-control-prev:hover {
        background-color: $BUTTON_COLOR$;
    }
    
    .owl-carousel .owl-nav>button[class*=owl-] i{
        background-color: $BUTTON_COLOR$;
    }
    #homepage-partner .owl-carousel .owl-nav button::before {
        color: $BUTTON_COLOR$;
    }
    
    #home-bg .owl-home-banner .owl-dots>button.owl-dot.active{
        background-color: $BUTTON_COLOR$;
    }
    ul.pagination li.page-item.active a.page-link {
        background: $BUTTON_COLOR$;
    }
    .pagination .page-item.active .page-link, .pagination .page-item .page-link:hover {
        background: $BUTTON_COLOR$;
    }
    .pagination .page-item.active .page-link {
        border: 1px solid $BUTTON_COLOR$;
    }
    #blogs-detail-page .block-relate-blog .owl-relate-blog .owl-nav  button.owl-prev {
        border-right: 1px solid $BUTTON_COLOR$;
    }
    .card .card-img-overlay h1{
        color: $BUTTON_COLOR$;
    }
    .owl-carousel.owl-product .owl-nav button {
        border: 1px solid $BUTTON_COLOR$;
        border-right: 1px solid $BUTTON_COLOR$;
    }
    .owl-carousel.owl-product .owl-nav button:hover {
        color: $BUTTON_COLOR$;
    }
    .owl-carousel.owl-product .owl-nav button>i{
        background-color: $BUTTON_COLOR$;
    }
    #home-bg .owl-carousel .owl-stage .owl-item .slide-item button {
        background-color: $BUTTON_COLOR$;
        border: $BUTTON_COLOR$;
    }
    .carousel.carousel-product .carousel-indicators li.indicator-item.active {
        background-color: $BUTTON_COLOR$;
        border: 1px solid $BUTTON_COLOR$;
    }
    header #header-content .header-content-firstly .block-header-menu .collapse a.avb,
    header #header-content .header-content-firstly .block-header-menu .collapse .nav-item a:hover {
        color: $MAIN_COLOR$;
    }
    header #header-content .header-content-firstly .block-header-menu #navbarMainMenu ul.nav li a.jupi_main_color.active,
    header #header-content .header-content-firstly .block-header-menu #navbarMainMenu ul.nav li:hover a.jupi_main_colors {
        border-bottom: 2px solid $MAIN_COLOR$;
    }
    #home-bg #home-content .block-partner #home-banner-second .home-banner-second-tilte {
        border-bottom: 1px solid $BUTTON_COLOR$;
    }
    #category-content .product-item .action a {
        color: $BUTTON_COLOR$;
    }
    #home-content #home-infor-card-product #home-card-product .product-item .action-product a:hover {
        background: $BUTTON_COLOR$;
    }
    #blog-detail-related-news h2.related-blog-title {
        border-bottom: 1px solid $BUTTON_COLOR$;
    }
    #shop-product-hot-secondary {
        border-bottom: 1px solid $BUTTON_COLOR$;
    }
    #shop-product-hot-secondary h5{
        color: $MAIN_COLOR$;
    }
    #navbarNavAltMarkup .navbar-nav .nav-link{
        color: $BUTTON_COLOR$;
    }
    
    
    #productdetail-page .block-relate-product .owl-carousel .owl-nav .owl-prev {
        border-right: 1px solid $BUTTON_COLOR$;
    }