{{ header }}

<main class="content-wrapper clearfix">
    <div class="container" id="blogs-page">
        <nav aria-label="breadcrumb" class="my-2 pt-4">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <div class="py-3">
            <div class="row">
                <div class="col-12 col-md-8 blogs-content">
                    <div class="blog-views border-0">
                        <div class="view-content">
                            <div class="row">
                                {#<div class="col-12 col-lg-6">#}
                                {#    <div class="blog-item m-0 mb-3">#}
                                {#        <div class="row">#}
                                {#            <div class="img col-12">#}
                                {#                <a href="blog_detail.html">#}
                                {#                    <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                                {#                </a>#}
                                {#            </div>#}
                                {#            <div class="blog-right col-12">#}
                                {#                <a class="title my-2" href="blog_detail.html">Blink Home Security Camera  System</a>#}
                                {#                <p class="date text-muted">Post Date: 04Feb, 2017</p>#}
                                {#                <p class="body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem...</p>#}
                                {#                <a class="read-more" href="#">Đọc tiếp ...</a>#}
                                {#            </div>#}
                                {#        </div>#}
                                {#    </div>#}
                                {#</div>#}
                                
                                {% if blog_list is empty %}
                                    <p class="blogs-empty">Không có bài viết</p>
                                {% else %}
                                    {% for blog in blog_list %}
                                    {#<div class="blog-item">#}
                                    {#    <h5 class="type-blog header-font">#}
                                    {#        {% for blog_category in blog['blog_categories'] %}#}
                                    {#            {% if loop.index < 2 %}#}
                                    {#                {{ blog_category['title'] }}#}
                                    {#            {% else %}#}
                                    {#                , {{ blog_category['title'] }}#}
                                    {#            {% endif %}#}
                                    {#        {% endfor %}#}
                                    {#    </h5>#}
                                    {#    <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>#}
                                    {#    <div class="meta-blog">#}
                                    {#        <div class="author">#}
                                    {#            <span class="date">{{ blog['date_added']|date('d-m-Y') }}</span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>#}
                                    {#        </div>#}
                                    {#    </div>#}
                                    {#    <div class="thumb text-center">#}
                                    {#        <img class="img-fluid" src="{{ blog['image'] }}" alt="">#}
                                    {#    </div>#}
                                    {#    <div class="desc">#}
                                    {#        {{ blog['short_content']|html_entity_decode|striptags }}#}
                                    {#    </div>#}
                                    {#    <a class="btn view-more header-font" href="{{ blog['link'] }}">ĐỌC TIẾP</a>#}
                                    {#</div>#}
                                    
                                    <div class="col-12 col-lg-6">
                                        <div class="blog-item m-0 mb-3">
                                            <div class="row">
                                                <div class="blog-img col-12">
                                                    <a href="{{ blog['link'] }}">
                                                        <img class="rounded-0" src="{{ blog['image'] }}">
                                                    </a>
                                                </div>
                                                <div class="blog-content col-12 mt-1">
                                                    <a class="title" href="{{ blog['link'] }}">{{ blog['title']|length > 35 ? blog['title']|slice(0, 35) ~ '...' : blog['title'] }}</a>
                                                    <p class="date mt-1 mb-2"><i class="far fa-clock"></i> {{ blog['date_added']|date('d-m-Y') }}, {{ blog['lastname'] }} {{ blog['firstname'] }}</p>
                                                    <div class="short-content">{{ blog['short_content']|length > 200 ? blog['short_content']|slice(0, 200)|html_entity_decode|striptags ~ '...' : blog['short_content']|html_entity_decode|striptags }}</div>
                                                    <div class="text-center mt-3">
                                                        <a class="view-more" href="{{ blog['link'] }}">Xem chi tiết</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {#<div class="col-12">#}
                                    {#    <div class="blog-item m-0 mb-3 py-3">#}
                                    {#        <div class="row">#}
                                    {#            <div class="blog-head col-12 mb-3">#}
                                    {#                <h5 class="type">#}
                                    {#                    {% for blog_category in blog['blog_categories'] %}#}
                                    {#                        {% if loop.index < 2 %}#}
                                    {#                            {{ blog_category['title'] }}#}
                                    {#                        {% else %}#}
                                    {#                            , {{ blog_category['title'] }}#}
                                    {#                        {% endif %}#}
                                    {#                    {% endfor %}#}
                                    {#                </h5>#}
                                    {#                <a class="title" href="{{ blog['link'] }}">{{ blog['title']|length > 40 ? blog['title']|slice(0, 40) ~ '...' : blog['title'] }}</a>#}
                                    {#                <p class="date mb-0 mt-2">{{ blog['date_added']|date('d-m-Y') }}, bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></p>#}
                                    {#            </div>#}
                                    {#            <div class="blog-img col-12">#}
                                    {#                <a href="{{ blog['link'] }}">#}
                                    {#                    <img class="rounded-0" src="{{ blog['image'] }}" style="width: 100%;">#}
                                    {#                </a>#}
                                    {#            </div>#}
                                    {#            <div class="blog-content col-12">#}
                                    {#                <div class="short-content">{{ blog['short_content']|length > 300 ? blog['short_content']|slice(0, 300)|html_entity_decode ~ '...' : blog['short_content']|html_entity_decode|striptags }}</div>#}
                                    {#                <a class="view-more" href="{{ blog['link'] }}">Đọc tiếp</a>#}
                                    {#            </div>#}
                                    {#        </div>#}
                                    {#    </div>#}
                                    {#</div>#}
                                    {% endfor %}
                                {% endif %}
                                
                                {{ pagination }}
                            </div>
                        </div> <!-- End row -->
                    </div> <!-- End view content -->
                </div> <!-- End blog view -->
                
                <div class="col-12 col-md-4 blogs-sidebar">
                    {#<nav class="navbar mb-3">#}
                    {#    <h3 class="font-18 my-2 mb-3 px-2">Category</h3>#}
                    {#    <ul class="nav">#}
                    {#        <li class="nav-item active">#}
                    {#            <a href="" class="nav-link active">Headphone</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Audio</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">News</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Technology</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Electronics</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Business</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Accessories</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Other</a>#}
                    {#        </li>#}
                    {#    </ul>#}
                    {#</nav>#}
                    <div class="block-side-blog">
                        <!-- side item -->
                    {#    <div class="side-item">#}
                    {#        <h4 class="header-item">Bài viết mới</h4>#}
                    {#        <div class="list-related py-2">#}
                    {#            {% if blog_list_new is empty %}#}
                    {#                Không có bài viết#}
                    {#            {% else %}#}
                    {#                {% for blog in blog_list_new %}#}
                    {#                    {% if loop.index < 5 %}#}
                    {#                        <div class="related-item">#}
                    {#                            <div class="row">#}
                    {#                                <div class="thumb col-4">#}
                    {#                                    <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt=""></a>#}
                    {#                                </div>#}
                    {#                                <div class="content col-8">#}
                    {#                                    <h5 class="type">#}
                    {#                                        {% for blog_category in blog['blog_categories'] %}#}
                    {#                                            {% if loop.index < 2 %}#}
                    {#                                                {{ blog_category['title'] }}#}
                    {#                                            {% else %}#}
                    {#                                                , {{ blog_category['title'] }}#}
                    {#                                            {% endif %}#}
                    {#                                        {% endfor %}#}
                    {#                                    </h5>#}
                    {#                                    <h3 class="name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 30 ? blog['title']|slice(0, 30) ~ '...' : blog['title'] }}</a></h3>#}
                    {#                                    <div class="meta">#}
                    {#                                        <div class="author">#}
                    {#                                            <p class="date">{{ blog['date_added']|date('d-m-Y') }}, bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></p>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                    {#                {% endfor %}#}
                    {#            {% endif %}#}
    
                    {#        </div>#}
                    {#    </div>#}
                    {#    <!-- /.side item -->#}
                    {#    <!-- side item -->#}
                    {#    <div class="side-item">#}
                    {#        <h4 class="header-item">Danh mục bài viết</h4>#}
                    {#        <ul class="block-cate py-2 px-0">#}
                    {#            {% for category in blog_category %}#}
                    {#                <li>#}
                    {#                    <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>#}
                    {#                </li>#}
                    {#            {% endfor %}#}
                    {#        </ul>#}
                    {#    </div>#}
                    {#    <!-- /.side item -->#}
                    {#    <!-- side item -->#}
                    {#    <div class="side-item">#}
                    {#        <h4 class="header-item">Tags</h4>#}
                    {#        <div class="list-tags">#}
                    {#            {% for tag in tags %}#}
                    {#                <a href="{{ tag['link'] }}" class="{% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>#}
                    {#            {% endfor %}#}
                    {#        </div>#}
                    {#    </div>#}
                    {#    <!-- /.side item -->#}
                    {#</div>#}
                    
                    <nav class="navbar mb-3 px-0 nav-blog-sidebar" id="blogs-catalog">
                        <h3 class="blog-sidebar-title py-3 m-0">Danh mục tin</h3>
                        <div class="blog-views m-0 py-3 w-100">
                            <div class="view-content">
                                <ul class="blog-catalog px-4">
                                    {% if blog_category is empty %}
                                        Không có danh mục
                                    {% else %}
                                        {% for category in blog_category %}
                                            {% if loop.index < 5 %}
                                                <li class="my-3">
                                                    <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>

                    <nav class="navbar mb-3 px-0 nav-blog-sidebar" id="blogs-view-most">
                        <h3 class="blog-sidebar-title py-3 m-0">Bài xem mới nhất</h3>
                        <div class="blog-views m-0 py-3 w-100">
                            <div class="view-content">
                                
                                {#<div class="blog-item font-12 m-0 mb-3">#}
                                {#    <div class="row m-0">#}
                                {#        <div class="img col-4 pl-2">#}
                                {#            <a href="blog_detail.html">#}
                                {#                <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                                {#            </a>#}
                                {#        </div>#}
                                {#        <div class="blog-right col-8 p-0 pr-2">#}
                                {#            <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                                {#            <span class="date font-10">Post Date: 04 Feb, 2017</span>#}
                                {#        </div>#}
                                {#    </div>#}
                                {#</div>#}
                                
                                {% if blog_list_new is empty %}
                                    <p class="px-3 mb-0">Không có bài viết</p>
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 4 %}
                                            <div class="blog-item font-12 m-0 mb-3">
                                                <div class="row m-0">
                                                    <div class="blog-image col-4 pl-2">
                                                        <a href="{{ blog['link'] }}">
                                                            <div class="image" style="background-image: url({{ blog['image'] }})"></div>
                                                        </a>
                                                    </div>
                                                    <div class="blog-right col-8 p-0 pr-2">
                                                        <a class="title font-14 m-0 line-height-1" href="{{ blog['link'] }}">{{ blog['title']|length > 40 ? blog['title']|slice(0, 40) ~ '...' : blog['title'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                    
                    {#<div class="layout-view-more my-3 my-md-4 text-center">#}
                    {#    <div class="layout-view-more-bg">#}
                    {#        <a href="#">Tìm hiểu thêm</a>#}
                    {#    </div>#}
                    {#</div>#}
                    
                    {#<nav class="navbar mb-3 px-0 nav-blog-sidebar" id="blogs-new-most">#}
                    {#    <h3 class="blog-sidebar-title py-3 m-0">Bài viết mới nhất</h3>#}
                    {#    <div class="blog-views m-0 py-3 w-100">#}
                    {#        <div class="view-content">#}
                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_3.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_5.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#        </div>#}
                    {#    </div>#}
                    {#</nav>#}

                    {#<nav class="navbar mb-3">#}
                    {#    <h3 class="font-18 my-2 mb-3 px-2">Archive</h3>#}
                    {#    <ul class="nav">#}
                    {#        <li class="nav-item active">#}
                    {#            <a href="" class="nav-link active">February 2017</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">January 2017</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">September 2016</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">February 2016</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">August 2016</a>#}
                    {#        </li>#}
                    {#    </ul>#}
                    {#</nav>#}
                </div>
            </div>

        </div> <!-- End row -->
    </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}