#block-footer .copy-right,
.block-header .header-main #block-action-header .cart .count-product,
#block-banner .block-slideshow .owl-banner .owl-dots .active,
#block-footer .widget-footer form .form-group .btn-submit,
#block-footer .widget-footer .social a:hover,
.product-box .thumb .action .btn-addcart,
.block-sidebar .widget-sidebar .widget-title,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li .custom-check input:checked ~ .checkmark,
.block-sidebar .widget-sidebar .widget-content .change-price #slider-range .ui-widget-header,
.block-sidebar .widget-sidebar .widget-content .change-price .form-change .btn-filter,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-action:hover,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-buy,
.block-product-detail-page .block-description .nav-tabs .nav-item .active,
.block-comment .block-form-rating .form-group-rating .btn-submit,
#block-news-page .swiper-news .swiper-button-prev:hover,
#block-news-page .swiper-news .swiper-button-next:hover,
#block-news-page .block-pagination-news .pagination .page-item:last-child a,
#block-news-page .block-pagination-news .pagination .active a,
#block-news-page .block-comment .block-form-rating .form-group-rating .btn-submit,
.block-user-login .user-login .form-login .form-group .btn-submit,
.dropdown-item.active, .dropdown-item:active,
#block-footer .copy-right,
.order-bestme .bestme-table--cart thead th,
.order-bestme .bestme-btn--primary,
.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active
{
    background-color: $MAIN_COLOR$ !important;
}

#block-header-top,
.block-sidebar .widget-sidebar .widget-content .change-price #slider-range .ui-slider-handle,
.block-pay-page .block-payment .custom-check input:checked ~ .checkmark:after
{
    background: $MAIN_COLOR$!important;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary,
.block-contact-page .title-block,.block-contact-page .contact-group p a:hover,
#block-footer .widget-footer .social a:hover,.product-box .thumb .active,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li .custom-check input:checked ~ span,
.block-product-detail-page .gallery .owl-2 .current .thumb,
.block-product-detail-page .block-detail .block-custom-change .change-item .form-check .form-check-input:checked ~ span,
.block-product-detail-page .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-action:hover,
#block-news-page .swiper-news .swiper-button-prev:hover,
#block-news-page .swiper-news .swiper-button-next:hover,
#block-news-page .block-pagination-news .pagination .page-item:last-child a,
.block-contact-page .form-feedback .form-group .form-control:focus,
.block-table-cart table tbody tr td .quantity input:focus,
.block-pay-page .block-payment .custom-check input:checked ~ .checkmark,
.block-pay-page .register .custom-check input:checked ~ .checkmark
{
    border-color: $MAIN_COLOR$ !important;
}

.block-user-login .user-login .form-login .form-group a:hover,
.block-account-page .block-cart-head h1,
.block-user-login .user-login .list-login li h1,
.block-user-login .user-login .list-login li a:hover,
.block-pay-page .block-payment .custom-check input:checked ~ span,
.block-pay-page .block-user-info h3,
.block-pay-page .register p a,
.custom-selectag .select-items div:hover,
.custom-selectag .same-as-selected,
.block-about-page .title-block,
.block-pay-page .block-cart-total .item-group strong.pricem.block-pay-page .block-cart .item-group h4,
#block-news-page .block-news-detail .block-share .share a:hover,
#block-news-page .block-comment .comment-list .comment-item .comment-content .btn-reply:hover,
#block-news-page .block-comment .block-form-rating .form-group-rating .rating .form-group label.star,
#block-news-page .block-comment .block-form-rating .form-group-rating .rating .form-group input.star:checked ~ label.star:before,
.a-normal:hover,.link-custom:hover,
.block-header .header-main .logo .big,
.block-header .header-main #block-action-header .action-user .ttl-user a:hover,
#block-banner .block-category-product ul li:hover a,
#block-banner .block-category-product ul li:hover::before,
#banner-product .banner-product-item .special a:hover,
.block-news-home .news-item .content .title a:hover,
#block-footer .widget-footer .logo .big,
#block-footer .widget-footer p a:hover,
#block-footer .widget-footer ul li a:hover,
#block-middle-banner .col-left .content h4,
#block-middle-banner .col-left .content a:hover,
.product-box .name a:hover,
.product-box .bottom-wrap .price .price-new,
#sidenav ul li a:hover,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li:hover a,
.block-sidebar .widget-sidebar .widget-content .menu-side ul li:hover::before,
.block-sidebar .widget-sidebar .widget-content .list-sidenews .news-item .news-content .name a:hover,
.block-banner-footer .banner-item .col-left .content h4,
.block-banner-footer .banner-item .col-left .content a:hover,
.block-breadcrumb .breadcrumb a:hover,
.block-product-detail-page .block-detail .status-wrap .status-box .status,
.block-product-detail-page .block-detail .price-box .price-new,
.block-product-detail-page .block-detail .block-custom-change .change-item .form-check .form-check-input:checked ~ span,
.block-product-detail-page .block-detail .tags a,
.block-product-detail-page .block-detail .tags span,
.block-product-detail-page .block-detail .block-category-type a,
.block-product-detail-page .block-detail .block-category-type span,
.block-product-detail-page .block-detail .tags a,
.block-product-detail-page .block-detail .block-category-type a,
.block-product-detail-page .block-detail .tags a:hover,
.block-product-detail-page .block-detail .block-category-type a:hover,
.block-comment .block-form-rating .form-group-rating .rating .form-group label.star,
#block-news-page .list-news .news-item .name a:hover,
#block-news-page .list-news .news-item .bt .comment,
#block-news-page .list-news .news-item .bt .view-more:hover,
#block-news-page .block-news-detail .block-share .tag .color,
.block-table-cart table tbody tr td .cart-product-item .cart-product-info .name a:hover
{
    color: $MAIN_COLOR$;
}

.product-box .thumb .active svg path {
    stroke:  $MAIN_COLOR$;
}
.block-product-detail-page .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span svg path {
    fill: $MAIN_COLOR$;
    stroke: $MAIN_COLOR$;
}
#block-banner .block-slideshow .owl-banner .owl-dots .owl-dot,
.block-table-cart .desc-cart .btn-continue
{
    border: solid 1px $MAIN_COLOR$;
}
.block-product-detail-page .block-detail .social ul li a:hover svg path,
.block-contact-page .contact-group .social ul li a:hover svg path,
.block-table-cart table tbody tr td .btn-close:hover svg path
{
    fill: $MAIN_COLOR$;
}
.product-box .thumb .active svg path {
    stroke:  $MAIN_COLOR$;
}
.block-product-detail-page .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span svg path {
    fill: $MAIN_COLOR$;
    stroke: $MAIN_COLOR$;
}
#block-banner .block-slideshow .owl-banner .owl-dots .owl-dot,
.block-table-cart .desc-cart .btn-continue
{
    border: solid 1px $MAIN_COLOR$;
}
.block-product-detail-page .block-detail .social ul li a:hover svg path,
.block-contact-page .contact-group .social ul li a:hover svg path,
.block-table-cart table tbody tr td .btn-close:hover svg path
{
    fill: $MAIN_COLOR$;
}


/** color button override **/

#block-footer .widget-footer form .form-group .btn-submit,
.product-box .thumb .action .btn-addcart,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-buy,
.block-contact-page .form-feedback .btn-submit,
.block-sidebar .widget-sidebar .widget-content .change-price .form-change .btn-filter
{
    background-color: $BUTTON_COLOR$ !important;
}
.block-product-detail-page .block-detail .block-custom-change .form-action .btn-action.hover,
.block-product-detail-page .block-detail .block-custom-change .form-action .btn,
a.btn.btn-buy
{
    border: 1px solid $BUTTON_COLOR$ !important;
}
.block-table-cart .desc-cart .btn-cart,
.block-account-page .block-user-infor .btn-setting,
.block-address-page .elm-address .user-address .user-address-item .action-address .btn-edit,
.block-address-page .header-address .btn-add-address,
.block-address-page .elm-address .user-address .form-payment .action-address .btn-edit
{
    background: $BUTTON_COLOR$ !important;
}