.product-item .product-img img {
    max-height: 225px;
    width: auto;
}
.block-header .cart-link {
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.block-header .cart-link .amount {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.product-item .product-title {
    display: inline-block;
}

/*css tag filter*/
#tag-filter-custom li a:hover {
    color: white !important;
    background-color: #D0203F !important;
}

#tag-filter-custom li .active {
    color: white !important;
    background-color: #D0203F !important;
}

@media screen and (max-width:991px) {
    .owl-home-banner .slide-item {
        min-height: 200px;
    }
    .owl-home-banner .slide-item .caption {
        display: none;
    }
    .owl-carousel.owl-product .owl-nav button[class*=owl-]{
        height: 40px;
        width: 40px;
    }
    i.icon {
        min-width: 1.5em;
        min-height: 1.5em;
    }
}
.media-show {
    display: none;
}
@media screen and (max-width: 576px){
    .media-hide {
        display: none;
    }
    .media-show {
        display: block !important;
    }
    .form-payment .fifth-color{
        margin-top: 15px;
    }
    .owl-home-banner .slide-item {
        min-height: 115px;
    }
}
.block-header .cart-link{
    height: 44px!important;
}
.quantity-group-input>input.form-control {
    width: 55px;
}
.block-header .cart-link .amount {
    line-height: 20px!important;
}