@import url('reset.css');
@import url('header.css');
@import url('footer.css');

a:hover{
    text-decoration:none;
}
@media (min-width:992px){
    .col-lg-2-4{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    }
}
@media (min-width:1200px){
    .col-lg-2-4{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    }
}
/*Home page*/
.front-page .block-header,
.front-page .block-banner{
	position: relative;
}
.front-page .block-banner::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	height: 100px;
	width: 100%;
	z-index: 0
}
.front-page .block-banner>.container{
	position: relative;
	z-index: 1;
}
.owl-carousel{
	position: relative;
}
.owl-carousel.owl-product .owl-nav{
	margin: 0;
	position: absolute;
	top: -40px;
	right: 0;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]{
	padding: 0 10px !important;
	height: 25px;
	width: auto;
	margin: 0;
	line-height: 30px;
	border-radius: 0;
	opacity: 0.8;
	transition: all 0.2s ease;
	transform: translateY(0);
	top: auto;
	left: auto;
	position: relative;
	right: auto;
}
.owl-carousel.owl-product .owl-nav button.owl-prev{
	border-right: 1px solid #949494;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]:hover,
.owl-carousel.owl-product .owl-nav button[class*=owl-]:focus,
.owl-carousel .owl-nav button[class*=owl-]:hover,
.owl-carousel .owl-nav button[class*=owl-]:focus
{
	background: none;
	outline: none;
	opacity: 1;
}
.owl-carousel .owl-nav button[class*=owl-] i{
	background: #949494;
}
.owl-home-banner .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 12px;
	z-index: 1;
}
.owl-home-banner .slide-item{
	min-height: 510px;
	position: relative;
}

.owl-home-banner .owl-dots>button.owl-dot>span{
	display: none;
}
.owl-home-banner .owl-dots>button.owl-dot{
	transition: all 0.2s ease;
	width: 12px;
	height: 12px;
	border: 1px solid #FFFFFF;
	background: #949494;
	border-radius: 100%;
	margin: 10px 5px;
}
.owl-home-banner .owl-dots>button.owl-dot:hover,
.owl-home-banner .owl-dots>button.owl-dot:focus,
.owl-home-banner .owl-dots>button.owl-dot.active{
	background: #2F6ED5;
	outline: none;
	width: 16px;
	height: 16px;
	top: 2px;
	position: relative;
}
.owl-home-banner .owl-nav button[class*=owl-],
.owl-carousel .owl-nav button[class*=owl-]{
	opacity: 0.8;
	transition: all 0.2s ease-in;
	position: absolute;
	top: 50%;
	z-index: 1;
	margin: 0;
	text-align: center;
	transform: translateY(-50%);
}
.owl-home-banner .owl-nav button[class*=owl-]{
	line-height: 40px;
	border-radius: 100%;
	background: #F6F6F6;
	width: 36px;
	height: 36px;
}
.owl-home-banner .owl-nav button[class*=owl-]:hover,
.owl-home-banner .owl-nav button[class*=owl-]:focus{
	opacity: 1;
	background-color: #F6F6F6;
}
.owl-carousel .owl-nav>button.owl-prev{
	left: 0;
}
.owl-carousel .owl-nav>button.owl-next{
	right: 0;
}
.block-top-sale-product .banner-left{
	border: 2px solid #868686;
	box-sizing: border-box;
	border-radius: 4px;
	display: inline-flex;
}
.block-top-sale-product .banner-left img{
	top: 55px;
	position: relative;
	left: 50px;
}
/*End home page*/

/*Product*/
.owl-product .owl-item{
	padding: 0 15px 30px;
}
.product-item{
	transition: all 1s ease;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 22px 24px;
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #EBEBEB;
	border-radius: 4px;
}
@media (max-width:991px){
    .product-item{
        padding:0;
    }
}
.product-item:hover{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.product-item .product-highlight{
	position:absolute;
	top:5px;
	left:5px;
}
.product-item .product-highlight >span{
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	padding: 2px 12px;
	margin-right: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #FFFFFF;
}
.product-item .product-highlight .sale{
	background: #333;
}
.product-item .product-highlight .status{
	background: #3F4755;
}
.product-item .product-img{
	position: relative;
	display: inline-block;
}
.product-item .product-img a{
	display: inline-block;
}
.product-item .product-title{
    margin:15px 0;
    font-size:15px;
	line-height: 16px;
	display: inline;
}
.product-item .product-price{
	color: #000;
	font-weight: 400;
	display: block;
	font-size: 18px;
}
.product-item .product-price-sale{
	color: #949494;
	font-size: 14px;
	display: block;
	text-decoration-line: line-through;
}
.product-item .product-preview{
	display: flex;
	padding: 10px 22px;
}
@media (min-width:992px){
    .product-item .product-preview{
    	visibility: hidden;
    	opacity: 0;  
    	transition: all 1s ease;
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	transform: scaleY(0.92);
    	transform-origin: top;    	
    }
}


.product-item:hover .product-preview{
	visibility: visible;
	opacity: 1;
}
.product-item .product-preview a{
	background: #333 !important;
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 15px;
	display: inline-block;
	text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;	
}

.product-item .product-preview a:hover{
    background-color: #d8c397 !important;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #d8c397;   
}
.product-item .product-preview a.cart-btn{
	width: 100%;
}
.product-item .product-preview a.like-btn{
	margin-left: 20px;
	background: #3F4755;
}
.product-item .product-rating{
	margin: 10px 0;
}
.product-rating{
	margin: 10px 0;
}
.product-rating .rate-item{
	-webkit-mask:  url('../img/icons/star-off.svg') center no-repeat;
	mask: url('../img/icons/star-off.svg') center no-repeat;
	width: 15px;
	height: 15px;
	-webkit-mask-size: contain;
	display: inline-block;
	background: #949494;
}
.product-rating .rate-item.on{
	-webkit-mask-size: contain;
	-webkit-mask-image:  url('../img/icons/star-on.svg');
	mask-image: url('../img/icons/star-on.svg');
	background: #F9BA48;
}

/*Product filter*/
.box-product-filter{
	margin-bottom: 50px;
}
.box-product-filter .block-title{
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 24px;
	padding: 20px 0;
	margin: 0;
}
.box-product-filter nav.nav a{
	border-top: 1px solid #EBEBEB;
	line-height: 18px;
	padding: 15px 0;
}
.box-product-filter nav.nav a:hover,
.box-product-filter nav.nav a.active{
	font-weight: 500;
}
.box-product-filter#product-price .ui-widget.ui-widget-content{
	background: #E9E9E9;
	border-radius: 5px;
	height: 4px;
	border: none;
}
.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
	background: #D0203F;
}
.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
	border-radius: 100%;
	width: 16px;
	height: 16px;
	top: -0.4em;
	background: #fff;
	border: 1px solid #D0203F;
	outline: none;
	cursor: pointer;
}
.product-view .view-header .result-message{
	background: #F6F6F6;
	border-top: 2px solid #761324;
	padding: 1em 2em;
}
/*End product*/
/*Blog*/
.block-blog-page{
  margin-top:30px;  
}

.blog-item{
	margin:1.25rem 0;
	overflow: hidden;
    position: relative;
    border: 1px solid #efefef;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog-item:hover{
    -webkit-box-shadow: 1px 2px 5px #bdbdbd;
    box-shadow: 1px 2px 5px #bdbdbd;
}
.blog-item .thumb{
    position:relative;
}
.btn.view-more{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    border-radius: unset;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background:var(--dark);
    color:var(--white);
    transition:all 0.4s ease;
}
.blog-item:hover .btn.view-more{
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.btn.view-more:hover{
    background:#e2bd65;
}
.blog-item .img-fluid{
    margin-bottom:10px;
}
.blog-item .content-blog{
    padding:0px 10px 10px 10px;
}
.blog-item .blog-title{
	margin: 20px 0 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	display: block;
}
.blog-item .meta-blog{
    margin-bottom: 10px;
}
.blog-item .meta-blog>span{
    padding-right:10px;
    display:inline-block;
    line-height:24px;
    font-size:12px;
}
.blog-item .blog-info{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #EBEBEB;
	color: #949494;
	width: auto;
    display: inline-block;
    min-width: 75%;
}
.blog-item .blog-info .blog-date{
	margin-right: 16px;
}
.blog-item .blog-summary{
	height: 80px;
	overflow: hidden;
}
.blog-item .blog-link{
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 8px 50px;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #D0203F;
	color: #D0203F;
	transition: all 0.2s ease;
}
.blog-item .blog-link:hover{
	color: #FFFFFF;
	background: #D0203F;
	text-decoration: none;
}
.blogs-page .blog-results{
	margin-top: -15px;
}

.blog-item .header-font.name-blog{
    font-size:20px;
    font-weight:bold;
    text-transform: capitalize;
}

.related-item .author a,.related-item .author{
    color:#c0c3c3;
}
.author a:hover{
    color:#e2bd65;
}
.blog-item .desc{
    line-height:24px;
    font-size:12px;
}
.block-blog-page .header-item{
    font-size: 24px;
    color:var(--dark);
    text-transform: capitalize;
    display: block;
    line-height: 1;
    margin:0;
}

.list-related{
    padding: 1.25rem 0;
}

.side-item .related-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding:20px 0;
    border-bottom: 1px solid #e7e7e7;
} 
.side-item .related-item:last-child{
    border-bottom:unset;
}
.side-item .list-tags,.side-item .block-cate{
    padding:1.25rem 0;
    margin:0;
}
.side-item .block-cate li {
    list-style-type:none;
    text-transform: uppercase;
    padding:5px 0;
}
.side-item .block-cate  a{
    color:#6c757d;
}
.side-item .block-cate  a:hover{
    color:#e2bd65;
}
.side-item .list-tags a{
    display:inline-block;
    color:#6c757d;
    padding: 8px 16px;
    line-height: 1;
    border: 1px solid var(--gray-dark);
    font-size: 14px;
    margin: 0px 5px 6px 0;
}  
.side-item .list-tags  a:hover{
    color:#e2bd65;
    border-color:#e2bd65;
}

.side-item .related-item .thumb{
    width:40%;
}
.side-item .related-item .content{
    width:60%;
    margin-left:15px;
}
.side-item .related-item .content .header-font{
    font-weight:bold;
    margin-bottom:10px;
    font-size:14px;
    text-transform:capitalize;
}
.social > span{
    font-weight:bold;
    font-size:20px;
}
.social ul{
    padding:0;
}
.social li{
    display:inline-bloc;
    list-style-type:none;
    font-size:20px;
}
.social li:nth-child(n+2){
    margin-left:10px;
}
.block-side-blog .side-item{
    padding:15px;
    border: 1px solid #efefef;
}

.blog-item .name-blog {
	min-height: 57px;
}
/*blog detail*/
.article-content .meta-blog{
    margin-bottom: 10px;
    padding: 10px 0;
}
.article-content .meta-blog>span{
    padding-right:15px;
    display:inline-block;
    line-height:24px;
}
.article-content .header-font.name-blog{
    font-size:28px;
    font-weight:bold;
    text-transform: capitalize;
}
.social a{
    font-size:24px;
}
/*End Blog*/
/*Breadcrumb*/
ol.breadcrumb{
	padding: 0;
	background: none;
}
ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
	content: "";
	-webkit-mask:  url('../img/icons/drop-down.svg') no-repeat center;
	mask: url('../img/icons/drop-down.svg') no-repeat center;
	background: #949494;
	width: 8px;
	height: 8px;
	display: inline-block;
	position: relative;
	-webkit-mask-size: contain;
	transform: rotate(-90deg);
	margin: 0 12px;
}
ol.breadcrumb .breadcrumb-item a{
	color: #949494;
	font-weight: 400;
}

/*End breadcrumb*/

/*Pagination*/
.pagination .page-item{
	margin-right: 8px;
}
.pagination .page-item .page-link{
	border: none;
	line-height: 25px;
	min-width: 25px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	padding: 0 6px;
	background: #F6F6F6;
	border-radius: 2px;
	color: #3F4755;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
	text-decoration: none;
	background: #D0203F;
	color: #fff;
	z-index:0;
}
.pagination .page-item .page-link i{
	top: 2px;
	font-size: 10px;
	background: #3F4755;
}
.pagination .page-item:first-child .page-link:hover i,
.pagination .page-item:last-child .page-link:hover i{
	background-color: #fff;
}
/*End pagination*/

/*Product detail*/
@media (max-width:991px){
    .product-teaser-fix{
        display:none;
    }
}
@media (min-width:992px){
    .product-teaser-fix{
    	position: fixed;
    	width: 100%;
    	left: 0;
    	top: 140px;
    	background: #fff;
    	z-index: 9999;
    	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
    	display: none;
    	padding: 1em 0;
    }
}
.product-detail .node-left .owl-thumb .owl-item{
	padding: 4px;
}
.product-detail .node-left .owl-thumb a{
	border: 1px solid rgba(134, 134, 134, 0.3);
	display: inline-block;
}
.product-detail .node-left .owl-thumb a:hover,
.product-detail .node-left .owl-thumb a:visited,
.product-detail .node-left .owl-thumb a:focus{
	border: 1px solid #3F3F3F;
}
.product-detail .choose-attribute .attr-item label{
	font-weight: 400;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 2px;
	background: #fff;
}
.product-detail .choose-attribute .attr-item input:checked ~ label{
	font-weight: 500;
	border: 1px solid #D0203F;
	color: #D0203F;
}
#product-info-tab.nav-tabs .nav-link{
	background: #F6F6F6;
	border-radius: 2px 2px 0px 0px;
	color: #868686;
	line-height: 25px;
	padding: 10px 40px;
	border-radius: 0;
	margin-right: 8px;
	text-transform: uppercase;
	font-weight: 500;
	-ms-flex-item-align: end;
	align-self: flex-end;
	transition: all 0.2s ease;
}
#product-info-tab.nav-tabs .nav-item{
	margin: 0;
	display: flex;
}
#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
	padding: 15px 40px;
	color: #F9FAFB;
	background: #E2BD65;
}
/*End Product detail*/
@media (max-width: 815px) {
	.cart-area{
		text-align: left !important;
	}
	.block-header-logo img{
		width: 120px !important;
		max-width: none;
	}
	.block-header.fixed .input-group-icon.flex-fill{
		right: -37px;
	}
	.bestme-block-hot-product{
		padding-top: 0 !important;
	}
	.owl-home-banner .slide-item{
		min-height: 200px;
	}
}
.bestme-block-slideshow:hover .owl-carousel .owl-nav>button.owl-prev{
    left:0;
}
.bestme-block-slideshow:hover .owl-carousel .owl-nav>button.owl-next{
    right:0;
}
@media (min-width:992px){
    .block-header.fixed .block-header-menu{
        padding:20px 0;
    }
}

/* effect banner */

.effect>a{
    position: relative;
    margin: 0px auto;
    display: block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;    
}
.effect>a:before{
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    position: absolute;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    height: 100%;    
}
.effect>a:hover{
    -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;    
}
.effect>a:hover:before{
    -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;    
}

/* end effcect banner */
@media (min-width:1520px){
    .block-welcome{
        padding:100px 30px 0;
    }
}
.title_block_home{
    font-size: 45px;
    text-transform: none;
    text-align: center;
    margin: 20px 0 20px;
    font-family: Lora;
    color: #000;
    font-weight: normal;    
}
.block-welcome .block_content{
    font-size: 15px;
    line-height: 28px;
    padding: 0px 30px;
    font-weight: 300;
}
.btn_home_page{
    color: #fff;
    background-color: #343434;
    border: 1px solid #343434;
    padding: 14px 25px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;   
    border-radius:0;
}
.btn_home_page:hover{
    color: #d8c397;
    background: transparent;
    border: 1px solid #d8c397;    
}
.block-banner-ads{
    padding-top:80px;
}
.block_service_home{
    padding-top:80px;
}
.block_service_home .container{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;    
}
.block_service_home .container .block_content{
    padding:40px 10px;
}
.block_service_home .container .title_block{
    margin:0 0 0;
}
.block_service_home .container .title_block a{
    line-height: 45px;
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    font-family: Lora;    
}
.block_service_home .container .block_content p{
    font-size: 15px;
    margin: 0;
    font-weight: 300;    
}
.block_service_home .container .col-lg-4:nth-child(2) .block_content:before{
    content: "";
    position: absolute;
    background: #eaeaea;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;    
}
.block_service_home .container .col-lg-4:nth-child(2) .block_content:after{
    content: "";
    position: absolute;
    background: #eaeaea;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
}
.product-item .product-info{
    text-align:center;
}

.collection_item .block-des{
    background-color: #f7f7f7;
    padding: 20px;    
}
.title_collection_home{
    display: block;
    text-align: center;
    color: #000;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 40px;
    font-family: Lora;
}
.number_pro_collection_home{
    font-size: 14px;
    color: #000;
    display: block;
    text-align: center;
    font-weight: 300;    
}
.effect_banner a{
    position: relative;
    display: block;
    max-width: 100%;    
}
.effect_banner a:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    margin: auto;
    background-color: rgba(23, 21, 21, 0.52);
    width: 0;
    height: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.effect_banner a:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(23, 21, 21, 0.52);
    width: 0;
    height: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
@media(min-width:992px){
    .collection_item .block-des{
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 12;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;        
    }
    .title_collection_home{
        color: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        transform: translate(0, 10px);
        -webkit-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    .number_pro_collection_home{
        color: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
        -webkit-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;        
    }
    .collection-top:hover .block-des{
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
}
@media (min-width:481px){
    .collection_item{
        padding:0;
    }
}
.effect_banner a:hover:before, .effect_banner a:hover:after{
    width: 100%;
    height: 100%;
}
.collection_item:hover .block-des .title_collection_home, .collection_item:hover .block-des .number_pro_collection_home{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;    
}
#contact-form .btn{
    background-color:#e2bd65;
}
#contact-form .btn:hover{
    background-color:#333;
}
.copy-right{
    border-top:1px solid #999;
}
#add-to-cart .button-buy:hover {
    border:1px solid #333;
    background-color:#333 !important;
}
.slide-brand:focus{
    outline:none;
}
.block-brand a img{
    opacity:0.5;
    margin:0 auto;
}
.block-brand a:hover img{
    opacity:1;    
}
.product-detail .owl-prev{
    left:15px!important;
}
.product-detail .owl-next{
    right:15px!important;
}
.slick-slide{
    height:auto !important;
}
.block-brand{
    position:relative;
}
.block-brand .slick-arrow{
    position:absolute;
    top:20px;
    font-size:0;
    width:20px;
    height:20px;
    background:#fff;
    border:1px solid #e5e5e5;
    z-index:1;
}
.block-brand .slick-next{
    left:0;
}
.block-brand .slick-prev{
    right:0;
}
.block-brand .slick-next:before{
    content:"<";
    color:#000;
    position:absolute;
    left:2px;
    top:-2px;
    font-size:14px;
}
.block-brand .slick-prev:before{
    content:">";
    color:#000;
    position:absolute;
    right:2px;
    top:-2px;
    font-size:14px;
}
.block-brand .owl-stage{
    margin:auto;
}
.collection-top{
    position:relative;
}
.collection_item{
    text-align:center;
}
.button-mobile{
    display:none;
}
@media (max-width:991px){
    .button-mobile {
        position:fixed;
        z-index:9;
        bottom:0;
        width:100%;
        display:block;
    }
    .button-mobile button{
        z-index:100;
    }
}
@media (max-width:991px){
    .button-desktop button{
        display:none;
    }
}
.btn-addcart{
    border-color:#761324;
}

/** BESTME */
.custom-content{
	/*width: 255px;*/
	height: 147px;
	overflow: auto;
}
::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(157, 157, 157, 0.62);
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}