<div class="blog-item high-light">
    <a class="img-wrap" href="{{ blog['link'] }}">
        <div class="img">
            <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
        </div>
    </a>
    <div class="p-3">
        <p class="mb-2 blog-title">
            <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 160 ? blog['title'] : '' }}" data-toggle="tooltip">
              {{ blog['title']|length > 160 ? blog['title']|html_entity_decode|slice(0, 160) ~ '...' : blog['title']|html_entity_decode }}
            </a>
        </p>
        <p class="fz-12 mb-3">{{ blog['date_publish']|date('d-m-Y') }}</p>
        {% if blog_new %}
            <span>
                 {{ blog['short_content']|length > 300
                 ? blog['short_content']|html_entity_decode|striptags|slice(0, 300) ~ '...'
                 : blog['short_content']|html_entity_decode|striptags }}
            </span>
        {% endif %}
    </div>
</div>