{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3 pb-md-5">
        <div class="container">
            {# TODO: use var theme_dir instead of hardcode... #}
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['href'] is defined and false == loop.last %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ breadcrumb['text']|length > 60 ? breadcrumb['text']|html_entity_decode|slice(0, 60) ~ '...' : breadcrumb['text']|html_entity_decode }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- End breadcrumb -->

            <div class="text-center">
                <h1 class="mb-3">{{ blog['title'] }}</h1>
            </div>
            <div class="row d-flex flex-wrap">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="blog-content">
                        {{ blog['content']|html_entity_decode }}
                    </div>

                    <div class="social-comment mt-4 d-flex flex-nowrap">
                        <a href="{{ social['facebook']['href'] }}" class="btn-facebook-share me-2 me-lg-4 mb-3">
                            Chia sẻ qua Facebook</a>
                        <a href="{{ social['google']['href'] }}" class="btn-google-share mb-3">
                            Chia sẻ qua Google +</a>
                    </div>

                    <div class="mb-3 blog-tags">
                        <span class="me-3">Tags liên quan:</span>
                        {% for blog_item in blog_list if blog_item['blog_id'] == blog['blog_id'] %}
                            {% for tag in blog_item['blog_tags'] %}
                                <a class="me-3" href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>  <!--End col left-->

                <div class="col-12 col-lg-6 order-1 order-lg-2">
{#                    <img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['title'] }}">#}
                    {% if blog['type'] == 'video'  %}
                        <div id="blog-thumb-video" class="blog-thumb-video"
                             data-video-url="{{ blog['video_url'] }}"></div>
                    {% elseif blog['image'] is not empty %}
                        <img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['title'] }}">
                    {% endif %}
                    <div class="overlay {% if blog['type'] == 'video'  %} banner-header {% endif %}">
                </div>
            </div> <!--End row-->

        </div>
        <div class="row d-flex flex-wrap">
                <h2 class="text-center my-4">The Kafe Viet Blog</h2>
                <div class="row view-content p-0" style="margin: auto;">
                    {% for k, blog in blog_relate if k < 4 %}
                        <div class="col-12 col-md-3">
                            <div class="blog-item high-light">
                                <a class="img-wrap" href="{{ blog['link'] }}">
                                    <div class="img">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </div>
                                </a>
                                <div class="p-3">
                                    <p class="mb-2 blog-title">
                                        <a href="{{ blog['link'] }}">
                                            {{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}
                                        </a>
                                    </p>
                                    <p class="fz-12 mb-3"> {{ blog['date_publish']|date('d-m-Y') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> <!--End row view-content-->
                <div class="text-end">
                    <a href="{{ blog_url }}" class="text-primary fw-bold">
                        <ins>Xem tất cả</ins>
                    </a>
                </div>
            </div>
    </div>
</main>

{{ footer }}


<style>
    .blog-thumb-video {
        height: 500px;
    }

    .single-post-info .banner-post .banner-header
    {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(44, 52, 64, 1) 0%, rgba(44, 52, 64, 0) 100%)
    }
</style>

<script src="/catalog/view/theme/default/js/blog_detail_video.js"></script>
<script>
    if (blogDetailVideo) {
        blogDetailVideo.init({
            videoElementId: 'blog-thumb-video',
            videoHeight: '100%',
            currentTheme: '{{ current_theme }}'
        });
    }
</script>