body {
    word-wrap: break-word;
}
.pagination .page-item.active .page-link, .pagination .page-item .page-link:hover {
    background: none!important;
}
.page-item.active .page-link{
    color: rgb(166, 166, 166);!important;
}
.choose-attribute .attr-item label {
    font-weight: 400;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;
    background: #fff;
}

.choose-attribute .attr-item input:checked ~ label {
    border: 1px solid #E58718;
    color: #E58718;
}
.list-inline-item .btn:hover{
    color: #000;
}

#add-to-cart .quantity-nav{
    position: relative;
}

#add-to-cart .quantity-nav .quantity-up {
    position: absolute;
    top: -28px;
    left: 68px !important;
    cursor: pointer;
}
#add-to-cart .quantity-nav .quantity-down {
    position: absolute;
    top: -30px;
    left: 20px;
    cursor: pointer;
}

.buy-total input{
    max-width: 81px !important;
    height: 35px;
    display: inline-block;
    width: 81px;
}
.box-cart-result .quantity input[type="number"] {
    -moz-appearance:textfield; /* Firefox */
}
.box-cart-result .quantity input::-webkit-outer-spin-button,
.box-cart-result .quantity input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#header .logo img {
    max-height: 50px;
}
#add_cart_notify .btn:hover {
    color: #212529;
}

.detail-product{
    background: #e58718;
    padding: 11px;
    color: #fff;
    font-size: 14px;
}

.banner-home{
    overflow-y: hidden;
}
.block-custom-change .choose-attribute .align-self-center {
    min-width: 75px;
}
.choose-attribute .attr-item label {
    margin-bottom: 5px !important;
}
.choose-attribute >label {
    margin-right: 1rem;
}
.choose-attribute >div {
    margin-left: 0px !important;
}

/*sticky*/
.show-on-pc {
    display: block !important;
}
.show-on-mobile {
    display: none !important;
}
.show-on-pc.btn-pc {
    display: inline-block !important;
}

.product-teaser-fix .add-to-cart:hover {
    background-color: #38C679 !important;
    color: white !important;
}
.product-teaser-fix .add-to-cart:hover > i {
    background-color: white !important;
}

.collection .pro-item .pro-item-title {
    font-size: 16px;
}

.view-more:hover {
    text-decoration: underline !important;
}

#navbarMainMenu .list-item::before {
    height: auto;
    right: -6px;
}

@media screen and (max-width:992px) {
    .owl-carousel.owl-product .owl-nav button[class*=owl-] {
        width: 40px;
        height: 40px;
        line-height: 44px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        width: 40px;
        height: 40px;
    }
    .owl-carousel .owl-nav button.owl-next i, .owl-carousel .owl-nav button.owl-prev i {
        font-size: 18px;
    }
    /*sticker*/
    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        left: 15px;
        webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile.btn.btn-action:hover {
        color: #212529;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #38C679;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }

    .product-teaser-fix {
        display: none;
    }
    .block-custom-change .quantity.show-on-pc {
        display: none !important;
    }

    .display-none {
        display: none !important;
    }

    #navbarMainMenu .list-item::before {
        right: 5px;
        height: 38px;
    }

}


.navbar-light .navbar-nav .nav-item a {
    padding: 0 20px;
}

.block-header .main-menu ul.navbar-nav>li {
    padding: 10px 0 10px;
}


.block-header .main-menu ul.navbar-nav>li.over-item {
    padding: 10px 0 5px;
}

.block-header .main-menu ul.navbar-nav>li.over-item a.over-item {
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 600;
}

.block-header.fixed .main-menu ul.navbar-nav>li {
    padding: 8px 0 !important;
}

.block-header.fixed .main-menu ul.navbar-nav>li a.over-item {
    padding: 0 12px;
}

@media screen and (max-width:812px) {
    #navbarMainMenu {
        overflow: auto;
    }
    .contact-right {
        margin-top: 20px;
    }
    .form-control.last-name {
        margin-bottom: 15px;
    }
    .modal.show .modal-dialog {
        margin: 10px;
    }
    .modal-title {
        font-size: 1.2em;
        font-weight: bold;
    }
    #input-search::placeholder {
        font-size: 14px;
    }
    #input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 14px;
    }

    #input-search::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 14px;
    }
    .m-text{
        width: 40%;
        font-size: 14px;
        margin-top: 10px;
    }
    .m-div {
        width: 55%;
    }
    .m-sort-text {
        width: 60%;
        margin-right: 0px!important;
    }
}
@media screen and (max-width:568px) {
    #navbarMainMenu {
        overflow: auto;
    }
    #input-search::placeholder {
        font-size: 12px;
    }
    #input-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 12px;
    }

    #input-search::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 12px;
    }
    .m-text {
        width: 45%;
        font-size: 14px;
        margin-top: 10px;
    }
    .m-div {
        width: 50%;
        margin-left: 0px !important;
    }
    .m-sort-text {
        *width: 85%;
        margin-right: 0px!important;
    }
    .filterOpiton {
        margin: 0;
        padding: 0;
        width: 60%;
    }
    .product-info .thumb-detail-type3 .carousel-indicators {
        overflow: auto;
        height: 260px;
        width: 73px;
    }
    .product-info .thumb-detail-type3 .carousel-inner {
        width: 74%;
    }
    .product-teaser-fix .d-flex{
        display: block !important;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
a.btn-continue:hover{
    color: currentColor;
}
.text-white:hover {
    color: #fff !important;
}
#carouselBanner img {
    max-height: 468px;
    width: auto !important;
    margin: auto;
}

.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.sidebar-content #product-tag{
    height: 320px;
    overflow-y: auto;
}
li.nav-item  a.active{
    color: #007bff !important;
}

.d-none-nimpt {
    display: none !important;
}