/*md*/
@media screen and (max-width: 1010px) {
	
}
@media screen and (max-width:991px) {
	.header-default .home-search, .default-style-fixed .home-search {
		right: 60px;
		top: 34px;
	}
	.header-default .home-search.show, .default-style-fixed .home-search.show {
		width: calc(100% - 160px);
		right: 160px;
		z-index: 99;
	}
	#navbarMainMenu {
		width: 60%;
		text-align: left;
		background-color: #f5f5f5;
		position: fixed;
		top: 0;
		left: -60%;
		display: block;
		opacity: 0;
		visibility: hidden;
		padding: 10px 0px;
		height: 100vh;
		z-index: 999;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	#navbarMainMenu.show {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}
	.main-menu .navbar-nav .nav-link {
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		line-height: 30px;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #231f20;
		border-bottom: 1px solid #d8d8d8;
		line-height: 35px;
		font-size: 13px;
	}
	ul.navbar-nav {
		width: 100%;
		padding: 0px 15px;
	}
	i.close {
		margin-right: 10px;
	}
	.block-header.fixed .form-search{
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
		-ms-flex-order: 1;
		order: 1;
	}
	.block-header.fixed .user-menu{
		display: flex;
		-ms-flex-order: 2;
		order: 2;
	}
	.block-header .main-menu ul.navbar-nav>li{
		padding: 8px 0;
		display: inline-block;
		width: 100%;
	}
	.navbar-light .navbar-nav> .nav-item>a{
		border-right: 0;
	}
	.navbar-light .navbar-nav .nav-item a{
		padding: 5px;
	}
	.block-header .main-menu ul.nav > li.has-child > a>.toggle{
		display: block;
		top: 3px;
	}
	.block-header .main-menu ul.nav ul.nav > li.has-child > a>.toggle{
		top: 10px;
	}
	.block-header .main-menu ul.nav > li.has-child > a>.toggle{
		width: 20px;
		height: 20px;
		-webkit-mask-size: 12px;
		-mask-size: 12px;
	}
	.block-header .main-menu li ul.nav ul.nav,
	.block-header .main-menu ul.nav ul.nav{
		max-height: 0px;
		overflow: hidden;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
		padding-left: 15px;
		box-shadow: none;
		margin: 0;
		transform: none;
		background-color: transparent;
	}
	.block-header .main-menu li.active> ul.nav,
	.block-header .main-menu ul.nav li.active> ul.nav{
		max-height: 600px;
	}
	.navbar-nav .dropdown-menu {
		border: 0;
		background-color: whitesmoke;
		padding-left: 20px;
		padding: 0px 0px 0px 30px;
	}
	.main-menu .dropdown-item {
		text-transform: uppercase;
		padding: 0;
		color: #767676;
		border-bottom: 1px solid #d8d8d8;
		font-size: 13px;
	}
	.navbar-toggler {
		background: #eee;
	}
	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-toggler i {
		color: #1d1d1d;
		font-size: 28px;
	}
	.navbar-light .navbar-nav .nav-item:not(:last-child) {
		margin-right: 0;
	}
	.owl-custommer .owl-item {
		opacity: 1;
		webkit-transform: scale(1);
		-o-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
	.custommer-info {
		display: block;
		width: 100%;
		left: 0;
	}
	.custommer-info:before, .custommer-info:after {
		display: none;
	}
	.fz-45 {
		font-size: 30px;
	}
	.home-slider .carousel {
		padding: 0;
	}
	.slider-info h2 {
		font-size: 36px;
	}
	.block-header.fixed .form-search{
		display: flex;
	}
	.header-default .home-search, .block-header.fixed .home-search{
		position: relative;
		top: auto;
		right: auto;
		visibility: visible;
		width: auto;
		opacity: 1;
	}
	.block-header.fixed .main-menu{
		order: 2;
		-ms-flex-order: 2;
	}
	.user-menu a.dropdown-toggle{
		display: inline-block;
		width: 35px;
		height: 35px;
		text-align: center;
		text-indent: 99px;
		border-radius: 100%;
		background: #38C679;
		overflow: hidden;
		position: relative;
		top: 3px;
	}
	.user-menu a.dropdown-toggle::before{
		content: "";
		background: url('/catalog/view/theme/tech_giadungon/img/icons/user.svg') no-repeat bottom;
		z-index: 1;
		position: absolute;
		bottom: 0;
		width: 30px;
		height: 30px;
		background-size: contain;
		left: 0;
		right: 0;
		margin: auto;
	}
	.user-menu a.dropdown-toggle *{
		display: none;
	}
	.main-header{
		padding: 15px 0 15px;
	}
	.main-menu{
		margin: 0;
	}
	.profile-nav{
		padding: 0;
	}
	.profile-nav .nav-item{
		margin-bottom: 10px;
	}
	.profile-nav .nav-item a.nav-link{
		padding: 0 8px;
	}

	.pro-detail .pro-action #add-to-cart-product,
	.pro-detail #buy-now{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 50% !important;
		margin-bottom: 0 !important;
		z-index: 99;
		font-size: 14px !important;
		text-align: center;
		text-transform: uppercase;
		height: 45px;
		text-shadow: none;
		line-height: 15px;
		padding: 1rem 0;
	}
	.pro-detail #buy-now{
		left: auto;
		right: 0;
	}
}

/*sm*/
@media screen and (max-width:767px) {
	.wrap-zoom, .gallery-pro-detail {
		width: 100%;
	}
	.gallery-pro-detail {
		display: flex;
	}
}


@media screen and (max-width:680px) {
	.fz-45 {
		font-size: 24px;
	}
	.slider-info .buy-now {
		font-size: 14px;
	}
	.box-title {
		font-size: 18px;
	}
	.top-header {
		padding: 5px 0px;
	}
	.top-header p {
		font-size: 12px;
		line-height: 1.4;
	}
	.slider-info h2 {
		font-size: 24px;
	}


}

/*xs*/
@media screen and (max-width:576px) {
	#add-to-cart-product {
		height: 35px;
		display: inline-block;
		line-height: 30px;
	}
}
@media screen and (max-width:480px) {
	#add-to-cart-product {
		height: 35px;
		display: inline-block;
		line-height: 30px;
	}
}