{{ header }}

<main class="main-content">
    <div class="container">
        <nav aria-label="breadcrumb" class="my-4">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['href'] is defined %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb['text'] }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav> <!-- End breadcrumb -->

        <div class="row">
            <div class="col-12 col-md-3 sidebar-left">
                <div class="sidebar-content">
                    <div class="box-product-filter rounded-2 border px-4" id="product-category">
                        <h2 class="block-title">DANH MỤC BÀI VIẾT</h2>
                        <nav class="nav flex-column">
                            {% for category in blog_category %}
                                <a href="{{ category['link'] }}" class="nav-link {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %}">{{ category['title'] }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product category -->

                    <div class="box-product-filter rounded-2 border px-4" id="product-price">
                        <h2 class="block-title border-bottom">TAGS</h2>
                        <div class="price-range py-3">
                            {% for tag in tags %}
                                <a href="{{ tag['link'] }}" class="{% if tag['tag_id'] == filter['tag_id'] %} active {% endif %} d-inline-block py-1 px-2 font-12 my-1 border rounded-2 third-color text-white-hover main-bg-hover">{{ tag['value'] }}</a>
                            {% endfor %}
                        </div>
                    </div> <!-- End product category -->

                </div> <!-- End sidebar content -->
            </div> <!-- End sidebar-left -->

            <div class="content-right col-12 col-md-9 mb-5">

                <div class="blog-results mb-5">

                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for blog in blog_list %}
                            <div class="blog-item mb-4">
                                <div class="row">
                                    <div class="blog-img mb-0 col-12 col-md-7">
                                        <a href="{{ blog['link'] }}">
                                            <img src="{{ blog['image'] }}" width="100%" {{ blog['alt'] }}>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <a class="blog-title main-color mt-0" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                        <div class="blog-info">
                                            <span class="blog-date">Ngày: {{ blog['date_added']|date('d/m/Y') }}</span>
                                            <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                        </div>
                                        <div class="blog-summary">
                                            {{ blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                        <a class="blog-link mt-4" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                    </div>
                                </div>
                            </div> <!-- End blog-item -->
                        {% endfor %}
                    {% endif %}

                </div> <!-- End blog-results -->
                <nav class="view-footer px-4 py-3 my-3 border rounded-2 d-flex">
                    {{ pagination }}
                </nav> <!-- End view footer -->
            </div> <!-- End content-right -->
        </div> <!-- End row -->

    </div> <!-- End container -->
</main> <!-- End main content -->

{{ footer }}