{{ header }}

{# TODO: use var theme_dir instead of hardcode... #}
{% include ('other_dhpet/template/blog/blog_breadcrumb.twig') %}
<!-- content-result -->
<section class="content-result content-post-news">
    <div class="container">
        <div class="newsTop">
            {% if blog_list is empty %}
                Không có bài viết
            {% else %}
                {% for blog in blog_list|slice(0, 1) %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="imgNews">
                                <a href="{{  blog['link'] }}">
                                    <img src="{{ blog['image'] }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="newsTop-name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a></div>
                            <div class="newsTop-date">Đăng ngày: {{ blog['date_modified']|date('d-m-Y') }}<span>Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span></div>
                            <div class="newsTop-des">{{ blog['short_content']|html_entity_decode|striptags }}</div>
                            <a href="{{ blog['link'] }}" class="news-view">Xem ngay</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row flex-reverse">
            {% include ('other_dhpet/template/blog/blog_nav_left.twig') %}
            <div class="col-md-8">
                <div class="news-right">
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for key, blog in blog_list %}
                            {% if key > 0 %}
                            <div class="newsItem">
                                <h3 class="newsItem-name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a></h3>
                                <div class="newsItem-date">Đăng ngày: {{ blog['date_modified']|date('d-m-Y') }} <span>Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span></div>
                                <div class="newsItem-img">
                                    <a href="{{  blog['link'] }}"><img src="{{ blog['image'] }}" alt=""></a>
                                </div>
                                <div class="newsItem-des">{{ blog['short_content']|html_entity_decode|striptags }}</div>
                                <div class="text-right">
                                    <a href="{{ blog['link'] }}" class="news-view">Xem ngay</a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <!--pagination-->
                <nav class="pagination-page">{{ pagination }}</nav>
                <!--pagination-->
            </div>
        </div>
    </div>
</section>
<!-- content-result -->
<!-- End content wrapper -->

<style>
    .newsTop .imgNews {
        height: 333px;
    }
    .newsTop .imgNews img {
        height: 100%;
    }
    .newsItem .newsItem-img {
        height: 423px;
    }
    .newsItem .newsItem-img img {
        height: 100%;
    }
</style>

{{ footer }}