<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}
    
    <!-- Search Engine -->
    {{ seo_meta }}

    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="{{ theme_directory }}/css/style.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <!-- End Bootstrap -->
    <style>
        .icon.icon-external-link{
            -webkit-mask-image:  url('catalog/view/theme/fashion_monstar/img/icons/logo.png');
            mask-image: url('catalog/view/theme/fashion_monstar/img/icons/logo.png');
        }
    </style>
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
    
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <symbol id="ega-ic-checkmark" viewBox="0 0 32 32">
    <title>checkmark</title>
    <path d="M28.998 8.531l-2.134-2.134c-0.394-0.393-1.030-0.393-1.423 0l-12.795 12.795-6.086-6.13c-0.393-0.393-1.029-0.393-1.423 0l-2.134 2.134c-0.393 0.394-0.393 1.030 0 1.423l8.924 8.984c0.393 0.393 1.030 0.393 1.423 0l15.648-15.649c0.393-0.392 0.393-1.030 0-1.423z"></path>
    </symbol>
    <symbol id="ega-ic-youtube" viewBox="0 0 24 28">
    <title>youtube</title>
    <path d="M15.172 19.437v3.297c0 0.703-0.203 1.047-0.609 1.047-0.234 0-0.469-0.109-0.703-0.344v-4.703c0.234-0.234 0.469-0.344 0.703-0.344 0.406 0 0.609 0.359 0.609 1.047zM20.453 19.453v0.719h-1.406v-0.719c0-0.703 0.234-1.062 0.703-1.062s0.703 0.359 0.703 1.062zM5.359 16.047h1.672v-1.469h-4.875v1.469h1.641v8.891h1.563v-8.891zM9.859 24.938h1.391v-7.719h-1.391v5.906c-0.313 0.438-0.609 0.656-0.891 0.656-0.187 0-0.297-0.109-0.328-0.328-0.016-0.047-0.016-0.219-0.016-0.547v-5.688h-1.391v6.109c0 0.547 0.047 0.906 0.125 1.141 0.125 0.391 0.453 0.578 0.906 0.578 0.5 0 1.031-0.313 1.594-0.953v0.844zM16.562 22.625v-3.078c0-0.719-0.031-1.234-0.141-1.547-0.172-0.578-0.562-0.875-1.109-0.875-0.516 0-1 0.281-1.453 0.844v-3.391h-1.391v10.359h1.391v-0.75c0.469 0.578 0.953 0.859 1.453 0.859 0.547 0 0.938-0.297 1.109-0.859 0.109-0.328 0.141-0.844 0.141-1.563zM21.844 22.469v-0.203h-1.422c0 0.562-0.016 0.875-0.031 0.953-0.078 0.375-0.281 0.562-0.625 0.562-0.484 0-0.719-0.359-0.719-1.078v-1.359h2.797v-1.609c0-0.828-0.141-1.422-0.422-1.813-0.406-0.531-0.953-0.797-1.656-0.797-0.719 0-1.266 0.266-1.672 0.797-0.297 0.391-0.438 0.984-0.438 1.813v2.703c0 0.828 0.156 1.437 0.453 1.813 0.406 0.531 0.953 0.797 1.687 0.797s1.313-0.281 1.687-0.828c0.172-0.25 0.297-0.531 0.328-0.844 0.031-0.141 0.031-0.453 0.031-0.906zM12.344 8.203v-3.281c0-0.719-0.203-1.078-0.672-1.078-0.453 0-0.672 0.359-0.672 1.078v3.281c0 0.719 0.219 1.094 0.672 1.094 0.469 0 0.672-0.375 0.672-1.094zM23.578 19.938c0 1.797-0.016 3.719-0.406 5.469-0.297 1.234-1.297 2.141-2.5 2.266-2.875 0.328-5.781 0.328-8.672 0.328s-5.797 0-8.672-0.328c-1.203-0.125-2.219-1.031-2.5-2.266-0.406-1.75-0.406-3.672-0.406-5.469v0c0-1.813 0.016-3.719 0.406-5.469 0.297-1.234 1.297-2.141 2.516-2.281 2.859-0.313 5.766-0.313 8.656-0.313s5.797 0 8.672 0.313c1.203 0.141 2.219 1.047 2.5 2.281 0.406 1.75 0.406 3.656 0.406 5.469zM7.984 0h1.594l-1.891 6.234v4.234h-1.563v-4.234c-0.141-0.766-0.453-1.859-0.953-3.313-0.344-0.969-0.688-1.953-1.016-2.922h1.656l1.109 4.109zM13.766 5.203v2.734c0 0.828-0.141 1.453-0.438 1.844-0.391 0.531-0.938 0.797-1.656 0.797-0.703 0-1.25-0.266-1.641-0.797-0.297-0.406-0.438-1.016-0.438-1.844v-2.734c0-0.828 0.141-1.437 0.438-1.828 0.391-0.531 0.938-0.797 1.641-0.797 0.719 0 1.266 0.266 1.656 0.797 0.297 0.391 0.438 1 0.438 1.828zM19 2.672v7.797h-1.422v-0.859c-0.562 0.656-1.094 0.969-1.609 0.969-0.453 0-0.781-0.187-0.922-0.578-0.078-0.234-0.125-0.609-0.125-1.172v-6.156h1.422v5.734c0 0.328 0 0.516 0.016 0.547 0.031 0.219 0.141 0.344 0.328 0.344 0.281 0 0.578-0.219 0.891-0.672v-5.953h1.422z"></path>
    </symbol>
    <symbol id="ega-ic-google-plus" viewBox="0 0 36 28">
    <title>google-plus</title>
    <path d="M22.453 14.266c0 6.547-4.391 11.188-11 11.188-6.328 0-11.453-5.125-11.453-11.453s5.125-11.453 11.453-11.453c3.094 0 5.672 1.125 7.672 3l-3.109 2.984c-0.844-0.812-2.328-1.766-4.562-1.766-3.906 0-7.094 3.234-7.094 7.234s3.187 7.234 7.094 7.234c4.531 0 6.234-3.266 6.5-4.937h-6.5v-3.938h10.813c0.109 0.578 0.187 1.156 0.187 1.906zM36 12.359v3.281h-3.266v3.266h-3.281v-3.266h-3.266v-3.281h3.266v-3.266h3.281v3.266h3.266z"></path>
    </symbol>
    <symbol id="ega-ic-instagram" viewBox="0 0 24 28">
    <title>instagram</title>
    <path d="M16 14c0-2.203-1.797-4-4-4s-4 1.797-4 4 1.797 4 4 4 4-1.797 4-4zM18.156 14c0 3.406-2.75 6.156-6.156 6.156s-6.156-2.75-6.156-6.156 2.75-6.156 6.156-6.156 6.156 2.75 6.156 6.156zM19.844 7.594c0 0.797-0.641 1.437-1.437 1.437s-1.437-0.641-1.437-1.437 0.641-1.437 1.437-1.437 1.437 0.641 1.437 1.437zM12 4.156c-1.75 0-5.5-0.141-7.078 0.484-0.547 0.219-0.953 0.484-1.375 0.906s-0.688 0.828-0.906 1.375c-0.625 1.578-0.484 5.328-0.484 7.078s-0.141 5.5 0.484 7.078c0.219 0.547 0.484 0.953 0.906 1.375s0.828 0.688 1.375 0.906c1.578 0.625 5.328 0.484 7.078 0.484s5.5 0.141 7.078-0.484c0.547-0.219 0.953-0.484 1.375-0.906s0.688-0.828 0.906-1.375c0.625-1.578 0.484-5.328 0.484-7.078s0.141-5.5-0.484-7.078c-0.219-0.547-0.484-0.953-0.906-1.375s-0.828-0.688-1.375-0.906c-1.578-0.625-5.328-0.484-7.078-0.484zM24 14c0 1.656 0.016 3.297-0.078 4.953-0.094 1.922-0.531 3.625-1.937 5.031s-3.109 1.844-5.031 1.937c-1.656 0.094-3.297 0.078-4.953 0.078s-3.297 0.016-4.953-0.078c-1.922-0.094-3.625-0.531-5.031-1.937s-1.844-3.109-1.937-5.031c-0.094-1.656-0.078-3.297-0.078-4.953s-0.016-3.297 0.078-4.953c0.094-1.922 0.531-3.625 1.937-5.031s3.109-1.844 5.031-1.937c1.656-0.094 3.297-0.078 4.953-0.078s3.297-0.016 4.953 0.078c1.922 0.094 3.625 0.531 5.031 1.937s1.844 3.109 1.937 5.031c0.094 1.656 0.078 3.297 0.078 4.953z"></path>
    </symbol>
    <symbol id="ega-ic-twitter" viewBox="0 0 26 28">
    <title>twitter</title>
    <path d="M25.312 6.375c-0.688 1-1.547 1.891-2.531 2.609 0.016 0.219 0.016 0.438 0.016 0.656 0 6.672-5.078 14.359-14.359 14.359-2.859 0-5.516-0.828-7.75-2.266 0.406 0.047 0.797 0.063 1.219 0.063 2.359 0 4.531-0.797 6.266-2.156-2.219-0.047-4.078-1.5-4.719-3.5 0.313 0.047 0.625 0.078 0.953 0.078 0.453 0 0.906-0.063 1.328-0.172-2.312-0.469-4.047-2.5-4.047-4.953v-0.063c0.672 0.375 1.453 0.609 2.281 0.641-1.359-0.906-2.25-2.453-2.25-4.203 0-0.938 0.25-1.797 0.688-2.547 2.484 3.062 6.219 5.063 10.406 5.281-0.078-0.375-0.125-0.766-0.125-1.156 0-2.781 2.25-5.047 5.047-5.047 1.453 0 2.766 0.609 3.687 1.594 1.141-0.219 2.234-0.641 3.203-1.219-0.375 1.172-1.172 2.156-2.219 2.781 1.016-0.109 2-0.391 2.906-0.781z"></path>
    </symbol>
    <symbol id="ega-ic-facebook" viewBox="0 0 16 28">
    <title>facebook</title>
    <path d="M14.984 0.187v4.125h-2.453c-1.922 0-2.281 0.922-2.281 2.25v2.953h4.578l-0.609 4.625h-3.969v11.859h-4.781v-11.859h-3.984v-4.625h3.984v-3.406c0-3.953 2.422-6.109 5.953-6.109 1.687 0 3.141 0.125 3.563 0.187z"></path>
    </symbol>
    <symbol id="ega-ic-external-link" viewBox="0 0 28 28">
    <title>external-link</title>
    <path d="M22 14.5v5c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h11c0.281 0 0.5 0.219 0.5 0.5v1c0 0.281-0.219 0.5-0.5 0.5h-11c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5v-5c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM28 1v8c0 0.547-0.453 1-1 1-0.266 0-0.516-0.109-0.703-0.297l-2.75-2.75-10.187 10.187c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-1.781-1.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l10.187-10.187-2.75-2.75c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h8c0.547 0 1 0.453 1 1z"></path>
    </symbol>
    <symbol id="ega-ic-angle-double-left" viewBox="0 0 17 28">
    <title>angle-double-left</title>
    <path d="M9.797 21.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359s-0.063 0.266-0.156 0.359l-6.141 6.141 6.141 6.141c0.094 0.094 0.156 0.234 0.156 0.359zM15.797 21.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359s-0.063 0.266-0.156 0.359l-6.141 6.141 6.141 6.141c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-double-right" viewBox="0 0 15 28">
    <title>angle-double-right</title>
    <path d="M9.297 15c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l6.141-6.141-6.141-6.141c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359zM15.297 15c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l6.141-6.141-6.141-6.141c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-double-up" viewBox="0 0 18 28">
    <title>angle-double-up</title>
    <path d="M16.797 20.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.219 0.156-0.359 0.156-0.125 0-0.266-0.063-0.359-0.156l-6.141-6.141-6.141 6.141c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359zM16.797 14.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.219 0.156-0.359 0.156-0.125 0-0.266-0.063-0.359-0.156l-6.141-6.141-6.141 6.141c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-double-down" viewBox="0 0 18 28">
    <title>angle-double-down</title>
    <path d="M16.797 13.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359zM16.797 7.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-left" viewBox="0 0 11 28">
    <title>angle-left</title>
    <path d="M9.797 8.5c0 0.125-0.063 0.266-0.156 0.359l-6.141 6.141 6.141 6.141c0.094 0.094 0.156 0.234 0.156 0.359s-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.219 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-right" viewBox="0 0 9 28">
    <title>angle-right</title>
    <path d="M9.297 15c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.219-0.156-0.359 0-0.125 0.063-0.266 0.156-0.359l6.141-6.141-6.141-6.141c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-up" viewBox="0 0 18 28">
    <title>angle-up</title>
    <path d="M16.797 18.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.219 0.156-0.359 0.156-0.125 0-0.266-0.063-0.359-0.156l-6.141-6.141-6.141 6.141c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-angle-down" viewBox="0 0 18 28">
    <title>angle-down</title>
    <path d="M16.797 11.5c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.219-0.156 0.359-0.156 0.125 0 0.266 0.063 0.359 0.156l6.141 6.141 6.141-6.141c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
    </symbol>
    <symbol id="ega-ic-reply" viewBox="0 0 28 28">
    <title>reply</title>
    <path d="M28 17.5c0 2.188-1.094 5.047-1.984 7.047-0.172 0.359-0.344 0.859-0.578 1.188-0.109 0.156-0.219 0.266-0.438 0.266-0.313 0-0.5-0.25-0.5-0.547 0-0.25 0.063-0.531 0.078-0.781 0.047-0.641 0.078-1.281 0.078-1.922 0-7.453-4.422-8.75-11.156-8.75h-3.5v4c0 0.547-0.453 1-1 1-0.266 0-0.516-0.109-0.703-0.297l-8-8c-0.187-0.187-0.297-0.438-0.297-0.703s0.109-0.516 0.297-0.703l8-8c0.187-0.187 0.438-0.297 0.703-0.297 0.547 0 1 0.453 1 1v4h3.5c5.125 0 11.5 0.906 13.672 6.297 0.656 1.656 0.828 3.453 0.828 5.203z"></path>
    </symbol>
    <symbol id="ega-ic-close" viewBox="0 0 22 28">
    <title>close</title>
    <path d="M20.281 20.656c0 0.391-0.156 0.781-0.438 1.062l-2.125 2.125c-0.281 0.281-0.672 0.438-1.062 0.438s-0.781-0.156-1.062-0.438l-4.594-4.594-4.594 4.594c-0.281 0.281-0.672 0.438-1.062 0.438s-0.781-0.156-1.062-0.438l-2.125-2.125c-0.281-0.281-0.438-0.672-0.438-1.062s0.156-0.781 0.438-1.062l4.594-4.594-4.594-4.594c-0.281-0.281-0.438-0.672-0.438-1.062s0.156-0.781 0.438-1.062l2.125-2.125c0.281-0.281 0.672-0.438 1.062-0.438s0.781 0.156 1.062 0.438l4.594 4.594 4.594-4.594c0.281-0.281 0.672-0.438 1.062-0.438s0.781 0.156 1.062 0.438l2.125 2.125c0.281 0.281 0.438 0.672 0.438 1.062s-0.156 0.781-0.438 1.062l-4.594 4.594 4.594 4.594c0.281 0.281 0.438 0.672 0.438 1.062z"></path>
    </symbol>
    <symbol id="ega-ic-filter" viewBox="0 0 22 28">
    <title>filter</title>
    <path d="M21.922 4.609c0.156 0.375 0.078 0.812-0.219 1.094l-7.703 7.703v11.594c0 0.406-0.25 0.766-0.609 0.922-0.125 0.047-0.266 0.078-0.391 0.078-0.266 0-0.516-0.094-0.703-0.297l-4-4c-0.187-0.187-0.297-0.438-0.297-0.703v-7.594l-7.703-7.703c-0.297-0.281-0.375-0.719-0.219-1.094 0.156-0.359 0.516-0.609 0.922-0.609h20c0.406 0 0.766 0.25 0.922 0.609z"></path>
    </symbol>
    <symbol id="ega-ic-ellipsis-v" viewBox="0 0 6 28">
    <title>ellipsis-v</title>
    <path d="M6 19.5v3c0 0.828-0.672 1.5-1.5 1.5h-3c-0.828 0-1.5-0.672-1.5-1.5v-3c0-0.828 0.672-1.5 1.5-1.5h3c0.828 0 1.5 0.672 1.5 1.5zM6 11.5v3c0 0.828-0.672 1.5-1.5 1.5h-3c-0.828 0-1.5-0.672-1.5-1.5v-3c0-0.828 0.672-1.5 1.5-1.5h3c0.828 0 1.5 0.672 1.5 1.5zM6 3.5v3c0 0.828-0.672 1.5-1.5 1.5h-3c-0.828 0-1.5-0.672-1.5-1.5v-3c0-0.828 0.672-1.5 1.5-1.5h3c0.828 0 1.5 0.672 1.5 1.5z"></path>
    </symbol>
    <symbol id="ega-ic-arrow-circle-o-left" viewBox="0 0 24 28">
    <title>arrow-circle-o-left</title>
    <path d="M18 12.5v3c0 0.266-0.234 0.5-0.5 0.5h-5.5v3c0 0.281-0.219 0.5-0.5 0.5-0.141 0-0.266-0.063-0.375-0.156l-4.984-4.984c-0.094-0.094-0.141-0.234-0.141-0.359s0.047-0.266 0.141-0.359l5-5c0.094-0.094 0.234-0.141 0.359-0.141 0.266 0 0.5 0.234 0.5 0.5v3h5.5c0.266 0 0.5 0.234 0.5 0.5zM20.5 14c0-4.688-3.813-8.5-8.5-8.5s-8.5 3.813-8.5 8.5 3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
    </symbol>
    <symbol id="ega-ic-arrow-circle-o-right" viewBox="0 0 24 28">
    <title>arrow-circle-o-right</title>
    <path d="M18 14c0 0.125-0.047 0.266-0.141 0.359l-5 5c-0.094 0.094-0.234 0.141-0.359 0.141-0.266 0-0.5-0.234-0.5-0.5v-3h-5.5c-0.266 0-0.5-0.234-0.5-0.5v-3c0-0.266 0.234-0.5 0.5-0.5h5.5v-3c0-0.281 0.219-0.5 0.5-0.5 0.141 0 0.266 0.063 0.375 0.156l4.984 4.984c0.094 0.094 0.141 0.234 0.141 0.359zM20.5 14c0-4.688-3.813-8.5-8.5-8.5s-8.5 3.813-8.5 8.5 3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
    </symbol>
    <symbol id="ega-ic-undo" viewBox="0 0 24 28">
    <title>undo</title>
    <path d="M24 14c0 6.609-5.391 12-12 12-3.578 0-6.953-1.578-9.234-4.328-0.156-0.203-0.141-0.5 0.031-0.672l2.141-2.156c0.109-0.094 0.25-0.141 0.391-0.141 0.141 0.016 0.281 0.078 0.359 0.187 1.531 1.984 3.828 3.109 6.312 3.109 4.406 0 8-3.594 8-8s-3.594-8-8-8c-2.047 0-3.984 0.781-5.437 2.141l2.141 2.156c0.297 0.281 0.375 0.719 0.219 1.078-0.156 0.375-0.516 0.625-0.922 0.625h-7c-0.547 0-1-0.453-1-1v-7c0-0.406 0.25-0.766 0.625-0.922 0.359-0.156 0.797-0.078 1.078 0.219l2.031 2.016c2.203-2.078 5.187-3.313 8.266-3.313 6.609 0 12 5.391 12 12z"></path>
    </symbol>
    <symbol id="ega-ic-refresh" viewBox="0 0 24 28">
    <title>refresh</title>
    <path d="M23.609 16.5c0 0.031 0 0.078-0.016 0.109-1.328 5.531-5.891 9.391-11.656 9.391-3.047 0-6-1.203-8.219-3.313l-2.016 2.016c-0.187 0.187-0.438 0.297-0.703 0.297-0.547 0-1-0.453-1-1v-7c0-0.547 0.453-1 1-1h7c0.547 0 1 0.453 1 1 0 0.266-0.109 0.516-0.297 0.703l-2.141 2.141c1.469 1.375 3.422 2.156 5.437 2.156 2.781 0 5.359-1.437 6.813-3.813 0.375-0.609 0.562-1.203 0.828-1.828 0.078-0.219 0.234-0.359 0.469-0.359h3c0.281 0 0.5 0.234 0.5 0.5zM24 4v7c0 0.547-0.453 1-1 1h-7c-0.547 0-1-0.453-1-1 0-0.266 0.109-0.516 0.297-0.703l2.156-2.156c-1.484-1.375-3.437-2.141-5.453-2.141-2.781 0-5.359 1.437-6.813 3.813-0.375 0.609-0.562 1.203-0.828 1.828-0.078 0.219-0.234 0.359-0.469 0.359h-3.109c-0.281 0-0.5-0.234-0.5-0.5v-0.109c1.344-5.547 5.953-9.391 11.719-9.391 3.063 0 6.047 1.219 8.266 3.313l2.031-2.016c0.187-0.187 0.438-0.297 0.703-0.297 0.547 0 1 0.453 1 1z"></path>
    </symbol>
    <symbol id="ega-ic-comment" viewBox="0 0 28 28">
    <title>comment</title>
    <path d="M28 14c0 5.531-6.266 10-14 10-0.766 0-1.531-0.047-2.266-0.125-2.047 1.813-4.484 3.094-7.187 3.781-0.562 0.156-1.172 0.266-1.781 0.344-0.344 0.031-0.672-0.219-0.75-0.594v-0.016c-0.078-0.391 0.187-0.625 0.422-0.906 0.984-1.109 2.109-2.047 2.844-4.656-3.219-1.828-5.281-4.656-5.281-7.828 0-5.516 6.266-10 14-10s14 4.469 14 10z"></path>
    </symbol>
    <symbol id="ega-ic-share-alt" viewBox="0 0 24 28">
    <title>share-alt</title>
    <path d="M19 16c2.766 0 5 2.234 5 5s-2.234 5-5 5-5-2.234-5-5c0-0.172 0.016-0.359 0.031-0.531l-5.625-2.812c-0.891 0.828-2.094 1.344-3.406 1.344-2.766 0-5-2.234-5-5s2.234-5 5-5c1.313 0 2.516 0.516 3.406 1.344l5.625-2.812c-0.016-0.172-0.031-0.359-0.031-0.531 0-2.766 2.234-5 5-5s5 2.234 5 5-2.234 5-5 5c-1.313 0-2.516-0.516-3.406-1.344l-5.625 2.812c0.016 0.172 0.031 0.359 0.031 0.531s-0.016 0.359-0.031 0.531l5.625 2.812c0.891-0.828 2.094-1.344 3.406-1.344z"></path>
    </symbol>
    <symbol id="ega-ic-lock" viewBox="0 0 18 28">
    <title>lock</title>
    <path d="M5 12h8v-3c0-2.203-1.797-4-4-4s-4 1.797-4 4v3zM18 13.5v9c0 0.828-0.672 1.5-1.5 1.5h-15c-0.828 0-1.5-0.672-1.5-1.5v-9c0-0.828 0.672-1.5 1.5-1.5h0.5v-3c0-3.844 3.156-7 7-7s7 3.156 7 7v3h0.5c0.828 0 1.5 0.672 1.5 1.5z"></path>
    </symbol>
    <symbol id="ega-ic-truck" viewBox="0 0 29 28">
    <title>truck</title>
    <path d="M10 22c0-1.094-0.906-2-2-2s-2 0.906-2 2 0.906 2 2 2 2-0.906 2-2zM4 14h6v-4h-2.469c-0.063 0-0.297 0.094-0.344 0.141l-3.047 3.047c-0.047 0.047-0.141 0.281-0.141 0.344v0.469zM24 22c0-1.094-0.906-2-2-2s-2 0.906-2 2 0.906 2 2 2 2-0.906 2-2zM28 5v16c0 1.156-1.219 1-2 1 0 2.203-1.797 4-4 4s-4-1.797-4-4h-6c0 2.203-1.797 4-4 4s-4-1.797-4-4h-1c-0.781 0-2 0.156-2-1 0-0.547 0.453-1 1-1v-5c0-1.109-0.156-2.344 0.703-3.203l3.094-3.094c0.391-0.391 1.141-0.703 1.703-0.703h2.5v-3c0-0.547 0.453-1 1-1h16c0.547 0 1 0.453 1 1z"></path>
    </symbol>
    <symbol id="ega-ic-times-circle" viewBox="0 0 24 28">
    <title>times-circle</title>
    <path d="M17.953 17.531c0-0.266-0.109-0.516-0.297-0.703l-2.828-2.828 2.828-2.828c0.187-0.187 0.297-0.438 0.297-0.703s-0.109-0.531-0.297-0.719l-1.406-1.406c-0.187-0.187-0.453-0.297-0.719-0.297s-0.516 0.109-0.703 0.297l-2.828 2.828-2.828-2.828c-0.187-0.187-0.438-0.297-0.703-0.297s-0.531 0.109-0.719 0.297l-1.406 1.406c-0.187 0.187-0.297 0.453-0.297 0.719s0.109 0.516 0.297 0.703l2.828 2.828-2.828 2.828c-0.187 0.187-0.297 0.438-0.297 0.703s0.109 0.531 0.297 0.719l1.406 1.406c0.187 0.187 0.453 0.297 0.719 0.297s0.516-0.109 0.703-0.297l2.828-2.828 2.828 2.828c0.187 0.187 0.438 0.297 0.703 0.297s0.531-0.109 0.719-0.297l1.406-1.406c0.187-0.187 0.297-0.453 0.297-0.719zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
    </symbol>
    <symbol id="ega-ic-map-marker" viewBox="0 0 16 28">
    <title>map-marker</title>
    <path d="M12 10c0-2.203-1.797-4-4-4s-4 1.797-4 4 1.797 4 4 4 4-1.797 4-4zM16 10c0 0.953-0.109 1.937-0.516 2.797l-5.688 12.094c-0.328 0.688-1.047 1.109-1.797 1.109s-1.469-0.422-1.781-1.109l-5.703-12.094c-0.406-0.859-0.516-1.844-0.516-2.797 0-4.422 3.578-8 8-8s8 3.578 8 8z"></path>
    </symbol>
    <symbol id="ega-ic-envelope" viewBox="0 0 28 28">
    <title>envelope</title>
    <path d="M28 11.094v12.406c0 1.375-1.125 2.5-2.5 2.5h-23c-1.375 0-2.5-1.125-2.5-2.5v-12.406c0.469 0.516 1 0.969 1.578 1.359 2.594 1.766 5.219 3.531 7.766 5.391 1.313 0.969 2.938 2.156 4.641 2.156h0.031c1.703 0 3.328-1.188 4.641-2.156 2.547-1.844 5.172-3.625 7.781-5.391 0.562-0.391 1.094-0.844 1.563-1.359zM28 6.5c0 1.75-1.297 3.328-2.672 4.281-2.438 1.687-4.891 3.375-7.313 5.078-1.016 0.703-2.734 2.141-4 2.141h-0.031c-1.266 0-2.984-1.437-4-2.141-2.422-1.703-4.875-3.391-7.297-5.078-1.109-0.75-2.688-2.516-2.688-3.938 0-1.531 0.828-2.844 2.5-2.844h23c1.359 0 2.5 1.125 2.5 2.5z"></path>
    </symbol>
    <symbol id="ega-ic-caret-right" viewBox="0 0 9 28">
    <title>caret-right</title>
    <path d="M9 14c0 0.266-0.109 0.516-0.297 0.703l-7 7c-0.187 0.187-0.438 0.297-0.703 0.297-0.547 0-1-0.453-1-1v-14c0-0.547 0.453-1 1-1 0.266 0 0.516 0.109 0.703 0.297l7 7c0.187 0.187 0.297 0.438 0.297 0.703z"></path>
    </symbol>
    <symbol id="ega-ic-caret-left" viewBox="0 0 11 28">
    <title>caret-left</title>
    <path d="M10 7v14c0 0.547-0.453 1-1 1-0.266 0-0.516-0.109-0.703-0.297l-7-7c-0.187-0.187-0.297-0.438-0.297-0.703s0.109-0.516 0.297-0.703l7-7c0.187-0.187 0.438-0.297 0.703-0.297 0.547 0 1 0.453 1 1z"></path>
    </symbol>
    <symbol id="ega-ic-caret-up" viewBox="0 0 16 28">
    <title>caret-up</title>
    <path d="M16 19c0 0.547-0.453 1-1 1h-14c-0.547 0-1-0.453-1-1 0-0.266 0.109-0.516 0.297-0.703l7-7c0.187-0.187 0.438-0.297 0.703-0.297s0.516 0.109 0.703 0.297l7 7c0.187 0.187 0.297 0.438 0.297 0.703z"></path>
    </symbol>
    <symbol id="ega-ic-caret-down" viewBox="0 0 16 28">
    <title>caret-down</title>
    <path d="M16 11c0 0.266-0.109 0.516-0.297 0.703l-7 7c-0.187 0.187-0.438 0.297-0.703 0.297s-0.516-0.109-0.703-0.297l-7-7c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h14c0.547 0 1 0.453 1 1z"></path>
    </symbol>
    <symbol id="ega-ic-paper-plane" viewBox="0 0 28 28">
    <title>paper-plane</title>
    <path d="M27.563 0.172c0.328 0.234 0.484 0.609 0.422 1l-4 24c-0.047 0.297-0.234 0.547-0.5 0.703-0.141 0.078-0.313 0.125-0.484 0.125-0.125 0-0.25-0.031-0.375-0.078l-7.078-2.891-3.781 4.609c-0.187 0.234-0.469 0.359-0.766 0.359-0.109 0-0.234-0.016-0.344-0.063-0.391-0.141-0.656-0.516-0.656-0.938v-5.453l13.5-16.547-16.703 14.453-6.172-2.531c-0.359-0.141-0.594-0.469-0.625-0.859-0.016-0.375 0.172-0.734 0.5-0.922l26-15c0.156-0.094 0.328-0.141 0.5-0.141 0.203 0 0.406 0.063 0.562 0.172z"></path>
    </symbol>
    <symbol id="ega-ic-shopping-cart" viewBox="0 0 26 28">
    <title>shopping-cart</title>
    <path d="M10 24c0 1.094-0.906 2-2 2s-2-0.906-2-2 0.906-2 2-2 2 0.906 2 2zM24 24c0 1.094-0.906 2-2 2s-2-0.906-2-2 0.906-2 2-2 2 0.906 2 2zM26 7v8c0 0.5-0.391 0.938-0.891 1l-16.312 1.906c0.078 0.359 0.203 0.719 0.203 1.094 0 0.359-0.219 0.688-0.375 1h14.375c0.547 0 1 0.453 1 1s-0.453 1-1 1h-16c-0.547 0-1-0.453-1-1 0-0.484 0.703-1.656 0.953-2.141l-2.766-12.859h-3.187c-0.547 0-1-0.453-1-1s0.453-1 1-1h4c1.047 0 1.078 1.25 1.234 2h18.766c0.547 0 1 0.453 1 1z"></path>
    </symbol>
    <symbol id="ega-ic-eye" viewBox="0 0 28 28">
    <title>eye</title>
    <path d="M26 15c-1.484-2.297-3.516-4.266-5.953-5.516 0.625 1.062 0.953 2.281 0.953 3.516 0 3.859-3.141 7-7 7s-7-3.141-7-7c0-1.234 0.328-2.453 0.953-3.516-2.438 1.25-4.469 3.219-5.953 5.516 2.672 4.125 6.984 7 12 7s9.328-2.875 12-7zM14.75 9c0-0.406-0.344-0.75-0.75-0.75-2.609 0-4.75 2.141-4.75 4.75 0 0.406 0.344 0.75 0.75 0.75s0.75-0.344 0.75-0.75c0-1.781 1.469-3.25 3.25-3.25 0.406 0 0.75-0.344 0.75-0.75zM28 15c0 0.391-0.125 0.75-0.313 1.078-2.875 4.734-8.141 7.922-13.687 7.922s-10.813-3.203-13.687-7.922c-0.187-0.328-0.313-0.688-0.313-1.078s0.125-0.75 0.313-1.078c2.875-4.719 8.141-7.922 13.687-7.922s10.813 3.203 13.687 7.922c0.187 0.328 0.313 0.688 0.313 1.078z"></path>
    </symbol>
    <symbol id="ega-ic-search" viewBox="0 0 26 28">
    <title>search</title>
    <path d="M18 13c0-3.859-3.141-7-7-7s-7 3.141-7 7 3.141 7 7 7 7-3.141 7-7zM26 26c0 1.094-0.906 2-2 2-0.531 0-1.047-0.219-1.406-0.594l-5.359-5.344c-1.828 1.266-4.016 1.937-6.234 1.937-6.078 0-11-4.922-11-11s4.922-11 11-11 11 4.922 11 11c0 2.219-0.672 4.406-1.937 6.234l5.359 5.359c0.359 0.359 0.578 0.875 0.578 1.406z"></path>
    </symbol>
    <symbol id="ega-ic-phone" viewBox="0 0 32 32">
    <title>phone</title>
    <path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
    </symbol>
    <symbol id="ega-ic-calendar" viewBox="0 0 26 28">
    <title>calendar</title>
    <path d="M2 26h4.5v-4.5h-4.5v4.5zM7.5 26h5v-4.5h-5v4.5zM2 20.5h4.5v-5h-4.5v5zM7.5 20.5h5v-5h-5v5zM2 14.5h4.5v-4.5h-4.5v4.5zM13.5 26h5v-4.5h-5v4.5zM7.5 14.5h5v-4.5h-5v4.5zM19.5 26h4.5v-4.5h-4.5v4.5zM13.5 20.5h5v-5h-5v5zM8 7v-4.5c0-0.266-0.234-0.5-0.5-0.5h-1c-0.266 0-0.5 0.234-0.5 0.5v4.5c0 0.266 0.234 0.5 0.5 0.5h1c0.266 0 0.5-0.234 0.5-0.5zM19.5 20.5h4.5v-5h-4.5v5zM13.5 14.5h5v-4.5h-5v4.5zM19.5 14.5h4.5v-4.5h-4.5v4.5zM20 7v-4.5c0-0.266-0.234-0.5-0.5-0.5h-1c-0.266 0-0.5 0.234-0.5 0.5v4.5c0 0.266 0.234 0.5 0.5 0.5h1c0.266 0 0.5-0.234 0.5-0.5zM26 6v20c0 1.094-0.906 2-2 2h-22c-1.094 0-2-0.906-2-2v-20c0-1.094 0.906-2 2-2h2v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h6v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h2c1.094 0 2 0.906 2 2z"></path>
    </symbol>
    <symbol id="ega-ic-user" viewBox="0 0 32 32">
    <title>user</title>
    <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
    </symbol>
    </defs>
    </svg>

</head>
<body>
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<style>
	.body__preloader {
		position: fixed;
		z-index: 9999;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: #ffffff;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		opacity: 1;
		visibility: visible;
	}

	.body__preloader.loaded {
		opacity: 0;
		visibility: hidden;
		z-index: -2;
	}

	#loading {
		display: block;
		position: relative;
		z-index: 1001;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #3498db;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	#loading:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #e74c3c;
		-webkit-animation: spin 3s linear infinite;
		animation: spin 3s linear infinite;
	}

	#loading:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
	}

	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			/* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);
			/* IE 9 */
			transform: rotate(0deg);
			/* Firefox 16+, IE 10+, Opera */ 
		}
		100% {
			-webkit-transform: rotate(360deg);
			/* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);
			/* IE 9 */
			transform: rotate(360deg);
			/* Firefox 16+, IE 10+, Opera */ 
		} 
	}

	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			/* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(0deg);
			/* IE 9 */
			transform: rotate(0deg);
			/* Firefox 16+, IE 10+, Opera */ 
		}
		100% {
			-webkit-transform: rotate(360deg);
			/* Chrome, Opera 15+, Safari 3.1+ */
			-ms-transform: rotate(360deg);
			/* IE 9 */
			transform: rotate(360deg);
			/* Firefox 16+, IE 10+, Opera */ 
		} 
	}
</style>

<div class='body__preloader'>
	<div id="loading"></div>
</div>
    <script>
        if ((typeof EGA) === 'undefined') {
            EGA = {};
        }
    </script>
    <script type="text/javascript" src="{{ theme_directory }}/js/ega_vendors.min.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/ega-global.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>
    <script type="text/javascript" src="{{ theme_directory }}/js/ega_theme.js"></script>
    
    <header class="ega-header ega-header--desktop ega-hidden--xs ega-hidden--sm ega-hidden--md ega-hidden--lg">
        <div class="ega-header__wrap">
            <div class="ega-container">
                <div class="ega-row">
                    <div class="ega-col-sm-2">
                        <a href="{{ home }}" class="bestme-block-header-logo">
                            <img src="{{ logo }}"
                                {% if logo_height != '' %}
{#                                    style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                                     class="custom-height"
                                {% endif %}
                                title="{{ name }}" alt="{{ alt }}">
                        </a>
                    </div>
                    <div class="ega-col-sm-8">
                        <form class="ega-search ega-form" action="{{ urlserach }}" method="get">
                            <div class='ega-form__group ega-m-b--0 ega-form__group-btn-in--right'>
                                <input class='ega-form__control ega-form__control--sm ega-border--0' type="text" name="search" placeholder="Bạn muốn tìm gì..." autocomplete="off" />
                                <input type="hidden" name="route" value="common/shop">
                                <button type='submit' class='ega-btn ega-btn--lg ega-m--0 ega-border--0 ega-btn-color'>Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                    <div class="ega-col-sm-2">
                        <div class="header-login">
                            <svg class="ega-ic-user"><use xlink:href="#ega-ic-user"></use></svg>
                            <ul class='header_login_content'>
                                {% if logged_in == '' %}
                                    <li><a href='{{ login }}'>Đăng nhập</a></li>
                                    <li><a href='{{ register }}'>Đăng ký</a></li>
                                {% else %}
                                    <li><a href="{{ my_account }}"><strong>{{ logged_user }}</strong></a></li>
                                    <li><a href="{{ my_account }}">Thông tin tài khoản</a></li>
                                    <li><a href="{{ logout }}">Đăng xuất</a></li>
                                {%endif%}
                            </ul>
                        </div>
                        <div class="ega-top-cart" data-style="ega-top-cart">
                            <a href="{{ href_my_orders }}" id="ega-top-cart__trigger" class="ega-color--black">
                                <svg class="ega-ic-shopping-cart"><use xlink:href="#ega-ic-shopping-cart"></use></svg>
                                <span class='ega-top-cart__qty'>{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="primary-menu" class="ega-hidden--xs ega-hidden--sm ega-hidden--md">
        <div class="ega-container">
            <ul id='ega-main-menu' class="ega-menu ega-ul ega-m--0 bestme-block-header-menu ega-flex--center">
                {% for m in main_menu %}
                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                        <li class="ega-menu__item {{ result_active_menu == m.url ? 'ega-menu__item--active' : '' }}  {{ idx == -1 ? 'ega-menu__item--active' : '' }}">
                            <a class="ega-menu__link" href="{{ m.url }}">{{ m.text }}</a>
                        </li>   
                    {% else %}
                        <li class="ega-menu__item has-child">
                            <a class="ega-menu__link" href="{{ m.url }}">{{ m.text }}</a>
                            <svg class="ega-ic-caret-down"><use xlink:href="#ega-ic-caret-down"></use></svg>
                            {% set break = false %}
                            <ul class="ega-menu ega-ul ega-menu--vertical {% for it in m.items if not break %}{% if it.items is defined and it.items|length > 1 %}ega-menu--mega{% set break = true %}{%endif%}{%endfor%}">
                                {% for it in m.items %}
                                    {% if it.items is defined and it.items|length > 1 %}
                                        <li class="ega-menu__item has-mega-child">
                                            <a class="ega-menu__link" href="{{ it.url }}">{{ it.text }}</a>
                                            <ul class="ega-menu ega-ul ega-menu--vertical">
                                                {% for it3 in it.items %}
                                                    <li class="ega-menu__item">
                                                        <a class="ega-menu__link" href="{{ it3.url }}">{{ it3.text }}</a>
                                                    </li>
                                                {%endfor%}
                                            </ul>
                                        </li>
                                    {%else%}
                                        <li class="ega-menu__item">
                                            <a class="ega-menu__link" href="{{ it.url }}">{{ it.text }}</a>
                                        </li>
                                    {%endif%}
                                {%endfor%}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %} 
            </ul>
        </div>
    </div>
    
    <header class="ega-header ega-header--mobile ega-text--center ega-hidden--xl">
        <div class="ega-header__wrap">
            <a id="logo" href="{{ home }}" class="bestme-block-header-logo">
                <img src="{{ logo }}" alt="{{ alt }}">
            </a>
            <div class='ega-overlay'></div>
            <div id="ega-menu--mb" class="ega-hidden-lg ega-text--left">
                <a href="#menu-toggle" id="menu-toggle"><i></i></a>
                <form class="ega-search ega-form" action="{{ urlserach }}" method="get">
                    <div class='ega-form__group ega-m-b--0 ega-form__group-btn-in--right'>
                        <input class='ega-form__control' type="text" name="search" placeholder="Bạn muốn tìm gì..." autocomplete="off" />
                        <input type="hidden" name="route" value="common/shop">
                        <button type='submit' class='ega-m--0 ega-border--0'>
                            <svg class="ega-ic-search">
                                <use xlink:href="#ega-ic-search"></use>
                            </svg>
                        </button>
                    </div>
                </form>
                    
                <ul class="ega-menu--tree ega-ul" data-style="ega-menu">
                    {% for m in main_menu %}
                        {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                            <li class="ega-menu--tree__item">
                                <a href="{{ m.url }}">{{ m.text }}</a>
                            </li>   
                        {% else %}
                            <li class="ega-menu--tree__item has-child">
                                <a href="{{ m.url }}">{{ m.text }} <span>+</span></a>
                                <ul class="ega-menu--tree ega-ul ega-p-l--2">
                                    {% for it in m.items %}
                                        {% if it.items is defined and it.items|length > 1 %}
                                            <li class="ega-menu--tree__item">
                                                <a href="{{ it.url }}">{{ it.text }} <span>+</span></a>
                                                <ul class="ega-menu--tree ega-ul ega-p-l--2">
                                                    {% for it3 in it.items %}
                                                        <li class="ega-menu--tree__item">
                                                            <a href="{{ it3.url }}">{{ it3.text }}</a>
                                                        </li>
                                                    {%endfor%}
                                                </ul>
                                            </li>
                                        {%else%}
                                            <li class="ega-menu--tree__item">
                                                <a href="{{ it.url }}">{{ it.text }}</a>
                                            </li>
                                        {%endif%}
                                    {%endfor%}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %} 
                </ul>
            </div>
            <script>
                $("#menu-toggle, .ega-overlay").click(function(e) {
                    e.preventDefault();
                    let $menu = $('#ega-menu--mb, .ega-overlay');
                    $menu.toggleClass("ega-show");
                                $('.top-links').hide();
                });
            
                $('#ega-menu--mb ul a span').click(function(e) {
                    e.preventDefault();
                    $(this).parent().next().toggle(200);
                    if($(this).text() == '+') {
                        $(this).text('-');
                    } else {
                        $(this).text('+');
                    }
                });
            </script>
            <div class="top-cart-mb">
                <div class="ega-top-cart" data-style="ega-top-cart">
                    <a href="{{ href_my_orders }}" id="ega-top-cart__trigger" class="ega-color--black">
                        <svg class="ega-ic-shopping-cart">
                            <use xlink:href="#ega-ic-shopping-cart"></use>
                        </svg>
                        <span class='ega-top-cart__qty'>{% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %}</span>
                    </a>
                </div>
                <div class="top-bar-mb ega-d--i-block">
                    <svg class="ega-ic-ellipsis-v">
                        <use xlink:href="#ega-ic-ellipsis-v"></use>
                    </svg>
                </div>
            </div>
            <div class="top-links ega-text--right">
                <div class="top-link">
                    <ul class="ega-ul ega-m--0">
                        {% if logged_in == '' %}
                            <li><a href='{{ login }}'>Đăng nhập</a></li>
                            <li><a href='{{ register }}'>Đăng ký</a></li>
                        {% else %}
                            <li><a href="{{ my_account }}"><strong>{{ logged_user }}</strong></a></li>
                            <li><a href="{{ my_account }}">Thông tin tài khoản</a></li>
                            <li><a href="{{ logout }}">Đăng xuất</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script>
        $(document).ready(function(){
        let $topCart = $('.ega-top-cart');

        $('.top-bar-mb').click(function(e){
            e.stopPropagation();
            e.preventDefault();
            let $toplinks = $(this).parents('.ega-header').find('.top-links');
            $toplinks.toggle();
        })
    })
</script>
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

<script>
    $(document).ready(function () {
        var contact_info = $('#contact_info').text();
        $('#contact_info').html(contact_info);
    });
</script>
    
    