<script>
    $(document).ready(function () {
        var categoryIdInit = $('input[name="category_id"]').val()
        if (categoryIdInit) {
            getShopeeAttribute(categoryIdInit, getURLVar('product_id'))
        }
    });

    $('#btn-show-categories-popup').click(function () {
        if('{{ product.in_process }}' === '1') {
            return;
        }
        let currentCategoryId = $('input[name="category_id"]').val()
        showCategoryPopup(function (categoryId, text) {
            $('.category-name').html(text)
            $('input[name="category_id"]').val(categoryId)
            getShopeeAttribute(categoryId)
        }, currentCategoryId)
    });

    function getShopeeAttribute(categoryId, product_id = null) {
        $.ajax({
            url       : 'index.php?route=sale_channel/shopee_upload/getShopeeAttribute&user_token=' + getURLVar('user_token'),
            dataType  : 'json',
            method    : 'GET',
            data      : {
                category_id: categoryId,
                product_id: product_id
            },
            beforeSend: function () {
                $('.save-and-approved').attr('disabled', true)
            },
            success   : function (attributes) {
                $('.save-and-approved').attr('disabled', false)
                renderRequireAttributes(attributes)
                $("#create-product-form").data('bootstrapValidator').resetForm();
            }
        });
    }

    function renderRequireAttributes(attributes) {
        let elementRequire = '';
        let elementNotRequire = '';
        let hasRequiredAttr = false;
        let hasNotRequiredAttr = false;

        // render layout
        for (let i = 0; i < attributes.length; i++) {
            let element = renderAttributeInput(attributes[i])

            if (attributes[i].is_mandatory) {
                elementRequire += element
                hasRequiredAttr = true
            } else {
                elementNotRequire += element
                hasNotRequiredAttr = true;
            }
        }
        $('.required-attributes').html(elementRequire);
        $('.not-required-attributes').html(elementNotRequire);

        // init select 2
        initSelect2ForAttribute()

        // validate
        for (let i = 0; i < attributes.length; i++) {
            if (attributes[i].is_mandatory) {
                $('#create-product-form').bootstrapValidator('addField', 'category_attr['+attributes[i].attribute_id+']', {
                    validators: {
                        notEmpty: {
                            message: '{{ error_category_attr_required }}'
                        },
                    }
                });
            }

        }

        // show shopee attributes if have attribute
        if (hasRequiredAttr) {
            console.log('display block')
            $('.required-attributes-box').css("display", "block");
        } else {
            $('.required-attributes-box').css("display", "none");
        }
        if (hasNotRequiredAttr) {
            $('.not-required-attributes-box').css("display", "block");
        } else {
            $('.not-required-attributes-box').css("display", "none");
        }
    }

    function initSelect2ForAttribute() {
        $(".attribute-dropdown").select2({
            theme      : 'bootstrap4',
            width      : '100%',
            placeholder: "{{ placeholder_attribute_select }}",
            allowClear : true
        });
    }

    function renderAttributeInput(attribute) {
        let element = `<div class="row form-group" role="tablist">
                <div class="col-2">
                    <label class="font-weight-normal ">${attribute.attribute_name}
                        ${attribute.is_mandatory ? '<span class="text-danger">*</span>' : ''}
                    </label>
                </div>
                <div class="col-10">
                    <div class="form-group">`
        if (attribute.input_type === 'TEXT_FILED') {
            if (attribute.attribute_type === 'INT_TYPE') {
                element += `<input type="number" placeholder="{{ placeholder_attribute }}" value="${attribute.value ? attribute.value : ''}" name="category_attr[${attribute.attribute_id}]" class="form-control"/>`
            }
            if (attribute.attribute_type === 'STRING_TYPE') {
                element += `<input type="text" placeholder="{{ placeholder_attribute }}" value="${attribute.value ? attribute.value : ''}" name="category_attr[${attribute.attribute_id}]" class="form-control"/>`
            }
            if (attribute.attribute_type === 'FLOAT_TYPE') {
                element += `<input type="text" placeholder="{{ placeholder_attribute }}" value="${attribute.value ? attribute.value : ''}" name="category_attr[${attribute.attribute_id}]" class="form-control number-float"/>`
            }
        } else if (attribute.input_type === 'DROP_DOWN' || attribute.input_type === 'COMBO_BOX') {
            element += `<div class="attribute-select2-box">
                <select name="category_attr[${attribute.attribute_id}]"
                        {%  if product.in_process == 1  %} disabled {% endif %}
                        class="select2 attribute-dropdown">
                    <option></option>`;
            for (let optionKey = 0; optionKey < attribute.options.length; optionKey++) {
                element += `<option value="${attribute.options[optionKey]}"
                            ${attribute.options[optionKey] == attribute.value ? 'selected' : ''}
                            >
                                ${attribute.options[optionKey]}
                            </option>`
            }
            element += '</select>' +
                '<i class="fa fa-caret-down down-icon"></i>' +
                '</div>';
        }
        element += `    </div>
                </div>
            </div>`

        return element
    }
</script>