<script>
    $("#create-product-form").bootstrapValidator({
        message      : 'This value is not valid',
        container    : '',
        feedbackIcons: {
            valid     : 'glyphicon glyphicon-ok',
            invalid   : 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields       : {
            name               : {
                validators: {
                    /* 20210329 - temp disable validate special chars for name */
                    {#callback: {#}
                        {#message : '{{ error_special_char }}',#}
                        {#callback: function (value) {#}
                            {#var pattern = /^[\\\sa-zA-Z0-9[ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽếềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹý`;:,./\\'"!@#$%^&*(){}\[\]<>?|_+=-]+$/;#}
                            {#if (value.length > 0 && !pattern.test(value)) {#}
                                {#return false;#}
                            {#}#}
                            {#return true;#}
                        {#}#}
                    {#},#}
                    notEmpty    : {
                        message: '{{ error_name_required }}'
                    },
                    stringLength: {
                        max    : 120,
                        min    : 10,
                        message: '{{ error_name_length }}'
                    },
                }
            },
            description: {
                validators: {
                    notEmpty    : {
                        message: '{{ error_description_required }}'
                    },
                    /* 20210329 - temp disable validate special chars for description */
                    {#callback: {#}
                        {#message : '{{ error_special_char }}',#}
                        {#callback: function (value) {#}
                            {#var pattern = /^[\\\sa-zA-Z0-9[ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽếềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹý`;:,./\\'"!@#$%^&*(){}\[\]<>?|_+=-]+$/;#}
                            {#if (value.length > 0 && !pattern.test(value)) {#}
                                {#return false;#}
                            {#}#}
                            {#return true;#}
                        {#}#}
                    {#},#}
                    stringLength: {
                        max    : 3000,
                        min    : 100,
                        message: '{{ error_description_length }}'
                    },
                }
            },
            'has_images': {
                validators: {
                    callback: {
                        message : '{{ error_image_required }}',
                        callback: function (value, validator) {
                            return $('.product-img-wrapper').length !== 0;
                        }
                    },
                }
            },
            category_id: {
                validators: {
                    notEmpty: {
                        message: '{{ error_category_required }}'
                    }
                }
            },
            price              : {
                validators: {
                    callback: {
                        message : '{{ error_price_required }}',
                        callback: function (value, validator) {
                            if (!isMultiVersion() && !value) {
                                return {
                                    valid: false,
                                    message: '{{ error_price_required }}'
                                };
                            }

                            let price = parseInt(value.replace(/,/g, ''));
                            if(price > 120000000 || price < 1000) {
                                return {
                                    valid: false,
                                    message: '{{ error_price_between }}'
                                };
                            }

                            return true
                        }
                    },
                }
            },
            quantity           : {
                validators: {
                    callback    : {
                        message : '{{ error_quantity_required }}',
                        callback: function (value, validator) {
                            if (!isMultiVersion() && !value) {
                                return false
                            }
                            return true
                        }
                    },
                    between : {
                        message : '{{ error_quantity_between }}',
                        min : 1,
                        max : 999998
                    },
                }
            },
            sku                : {
                validators: {
                    callback    : {
                        message : '{{ error_sku_special_char }}',
                        callback: function (value, validator) {
                            if(value.length > 20) {
                                return {
                                    valid: false,
                                    message: '{{ error_sku_length }}'
                                };
                            }
                            var pattern = /^[\\\sa-zA-Z0-9[)(_-]+$/;
                            if (value.length > 0 && !pattern.test(value)) {
                                return {
                                    valid: false,
                                    message: '{{ error_sku_special_char }}'
                                };
                            }
                            return true
                        }
                    },
                }
            },
            'attribute_name[0]': {
                validators: {
                    callback    : {
                        message : '{{ error_attribute_required }}',
                        callback: function (value, validator) {
                            if (isMultiVersion() && $('#attribute_values_0').val().length > 0) {
                                if(!value) {
                                    return {
                                        valid: false,
                                        message: '{{ error_attribute_required }}'
                                    };
                                }
                            }
                            return true
                        },
                    },
                    stringLength: {
                        max    : 14,
                        message: '{{ error_attribute_length }}'
                    },
                }
            },
            'attribute_name[1]': {
                validators: {
                    callback    : {
                        message : '{{ error_attribute_required }}',
                        callback: function (value, validator) {
                            if (isMultiVersion() && $('#attribute_values_1').val().length > 0) {
                                if(!value) {
                                    return {
                                        valid: false,
                                        message: '{{ error_attribute_required }}'
                                    };
                                }
                            }
                            return true;
                        }
                    },
                    stringLength: {
                        max    : 14,
                        message: '{{ error_attribute_length }}'
                    },
                }
            },
            'attribute_values[0][]': {
                validators: {
                    callback    : {
                        message : '{{ error_attribute_required }}',
                        callback: function (value, validator) {
                            if($('#attribute_name_0').val() && value.length == 0) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'attribute_values[1][]': {
                validators: {
                    callback    : {
                        message : '{{ error_attribute_required }}',
                        callback: function (value, validator) {
                            if($('#attribute_name_1').val() && value.length == 0) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },

            weight             : {
                validators: {
                    notEmpty  : {
                        message: '{{ error_weight_required }}'
                    },
                    between : {
                        message : '{{ error_weight_between }}',
                        min : 10,
                        max : 1000000
                    },
                }
            },
            length             : {
                validators: {
                    notEmpty    : {
                        message: '{{ error_length_required }}'
                    },
                    between : {
                        message : '{{ error_length_between }}',
                        min : 1,
                        max : 1000000
                    },
                }
            },
            width              : {
                validators: {
                    notEmpty    : {
                        message: '{{ error_width_required }}'
                    },
                    between : {
                        message : '{{ error_width_between }}',
                        min : 1,
                        max : 1000000
                    },
                }
            },
            height             : {
                validators: {
                    notEmpty    : {
                        message: '{{ error_height_required }}'
                    },
                    between : {
                        message : '{{ error_height_between }}',
                        min : 1,
                        max : 1000000
                    },
                }
            },
            'logistics[]': {
                validators: {
                    callback: {
                        message : '{{ error_logistic_required }}',
                        callback: function (value, validator) {
                            if ($('.logistics-checkbox:checked').length > 0) {
                                return true
                            }
                            return false
                        }
                    }
                }
            },
            'product_quantities[]' : {
                validators: {
                    callback: {
                        {# message: '{{ error_quantity_between }}', #}
                        callback: function (value, validator) {
                            console.log('validate', value, !value);
                            if (!value) {
                                return {
                                    valid  : false,
                                    message: '{{ error_quantity_required }}'
                                };
                            }
                            if (value && (value > 999998 || value < 1)) {
                                return {
                                    valid  : false,
                                    message: '{{ error_quantity_between }}'
                                };
                            }
                            return true
                        }
                    }
                },
            },
            'product_prices[]': {
                validators: {
                    callback: {
                        callback: function (value, validator) {
                            if (!value) {
                                return {
                                    valid  : false,
                                    message: '{{ error_price_required }}'
                                };
                            }
                            let price = parseInt(value.replace(/,/g, ''));
                            if (price && (price > 120000000 || price < 1000)) {
                                return {
                                    valid  : false,
                                    message: '{{ error_price_between }}'
                                };
                            }
                            return true
                        }
                    }
                },
            },
            'product_skus[]': {
                validators: {
                    callback: {
                        callback: function (value, validator) {
                            if (value.length > 20) {
                                return {
                                    valid  : false,
                                    message: '{{ error_sku_length }}'
                                };
                            }
                            var pattern = /^[\\\sa-zA-Z0-9[)(_-]+$/;
                            if (value.length > 0 && !pattern.test(value)) {
                                return {
                                    valid  : false,
                                    message: '{{ error_sku_special_char }}'
                                };
                            }
                            return true
                        }
                    }
                }
            }
        }
    })

    function isMultiVersion() {
        return $('#attribute_values_0').val().length > 0 || $('#attribute_values_1').val().length > 0
    }

    $(document).ready(function () {
        $('.attribute-name').change(function () {
            $("#create-product-form").data('bootstrapValidator').resetField($('.attribute_values'));
        });

        // $('#product_version_list input').change(function () {
        //     $("#create-product-form").data('bootstrapValidator').resetField($(this));
        // });

        $('.product-sell-info input').change(function () {
            var common_sku = $('input[name="sku"]').val();
            var common_price = $('input[name="price"]').val();
            var common_quantity = $('input[name="quantity"]').val();

            $('input[name="product_prices[]"]').val(common_price)
            $('input[name="product_skus[]"]').val(common_sku)
            $('input[name="product_quantities[]"]').val(common_quantity)

            if($('input[name="product_prices[]"]').length > 0) {
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="product_prices[]"]'));
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="product_skus[]"]'));
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="product_quantities[]"]'));
            }
        });

        $('.select2-attribute').change(function () {
            if(isMultiVersion()) {
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="price"]'));
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="quantity"]'));
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="sku"]'));
                $('.product-sell-info .text-danger').css('display', 'none')
            } else {
                $('.product-sell-info .text-danger').css('display', 'inline')
            }

            if($(this).attr('id') === 'attribute_values_0' ) {
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="attribute_name[0]"]'));
            } else {
                $("#create-product-form").data('bootstrapValidator').resetField($('input[name="attribute_name[1]"]'));
            }
        })
    })
</script>