{{ header }}

<div class="container">
    <nav aria-label="breadcrumb" class="my-3 breadcrumb-nav">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }} </a></li>
            {% endfor %}
        </ol>
    </nav>
</div>

<main class="main-content">
    <div class="container">
        <div class="blog-results pt-3">
            {#<h1 class="header-font mb-4 letter-spacing-0 text-center">Blog</h1>#}
            <div class="text-uppercase mb-4">
                <ul class="nav">
                    {% for category in blog_category %}
                        <li class="nav-item">
                            <a class="pl-0 pr-3 pt-2 pb-2 main-color" href="{{ category['link'] }}">{{ category['title'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                {% if blog_list is empty %}
                    <p style="text-align: center;width: 100%;">Không có bài viết</p>
                {% else %}
                    {% for key, blog in  blog_list %}
                    <div class="col-12 col-md-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="{{ blog['link'] }}">
                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                </a>
                            </div>
                            <p class="blog-author">{{ blog['lastname'] }} {{ blog['firstname'] }}</p>
                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog.title }}</a>
                            <p class="blog-date">{{ blog['date_added']|date('Y-m-d') }}</p>
                            <div class="news-summary-blog">
                                {{ blog['short_content']|html_entity_decode|striptags }}
                            </div>
                            <a class="blog-link" href="{{ blog['link'] }}">Đọc thêm</a>
                        </div>
                        <!-- End blog-item -->
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <nav class="text-center d-flex my-4">
        <ul class="pagination mx-auto">
            {{ pagination }}
        </ul>

    </nav>

</main>

{{ footer }}
<style>
    .news-summary-blog {
        max-height: 70px;
        overflow-y: hidden;
    }
</style>