.header-top{
    padding: 10px 0;
    line-height: 20px;
}
.block-header .fix-content{
    background-color: #fff;
}
.block-header{
    z-index: 99999;
    position: relative;
}
.block-header.fixed .fix-content{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
}
.block-header .block-header-logo > a{
    padding: 13px 0;
    display: inline-flex;
    max-height: 155px;
}
.block-header .block-header-logo img{
    margin: auto 0;
    max-height: 200px;
}
.block-header.fixed .form-search-header{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-top: 29px;
    padding-bottom: 29px;
}
.block-header.fixed .form-search-header .input-group-append,
.block-header.fixed .category-menu-header{
    display: none;
}
.block-header.fixed .main-menu-wrapper{
    background: #fff !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 41.666667%;
    height: 100%;
}
.block-header.fixed .main-menu-wrapper .container{
    padding: 0;
}
.block-header .cart-link{
    padding: 8px;
    color: #fff;
    height: 48px;
    display: inline-flex;
    position:relative;
}
.block-header .cart-link>i.icon{
    background-color: #333;
    margin: 8px;
    font-size: 17px;
}
.block-header .cart-link .amount{
    background: #d8c397;
    min-width: 20px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 5px;    
    font-weight: 500;
}
.block-header .cart-link .amount .quantity{
    font-size: 12px;
    display: block;
}
.category-menu-header{
    position: relative;
    display: inline-flex;
}
.category-menu-header >a.menu-title{
    color: #fff;
    font-weight: 500;
    padding: 12px 25px;
    width: 100%;
    line-height: 24px;
}
.category-menu-header >a.menu-title:after{
    content: "";
    background: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
}
.category-menu-header >a.menu-title:hover{
    text-decoration: none;
}
.category-menu-header #collapseCategory{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 15px;
    z-index: 1;
}
.category-menu-header #collapseCategory>ul.nav{
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid;
}
.category-menu-header #collapseCategory>ul.nav li{
    width: 100%;
    padding: 0 24px;
}
.category-menu-header #collapseCategory>ul.nav li a{
    padding: 10px 0;
    line-height: 28px;
    border-bottom: 1px solid #EBEBEB;
}
.category-menu-header #collapseCategory>ul.nav li:hover,
.category-menu-header #collapseCategory>ul.nav li.active{
    background-color: #EBEBEB;
}
.category-menu-header #collapseCategory>ul.nav li:nth-last-child a{
    border: none;
}
.category-menu-header #collapseCategory>ul.nav li a,
.category-menu-header #collapseCategory>ul.nav li a.active,
.category-menu-header #collapseCategory>ul.nav li a:hover{

}
@media(min-width:992px){
    .block-header .block-header-menu{
        padding:26px 0;
    }
}
.block-header-menu .navbar-collapse{
    justify-content:center;
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a{
    line-height: 28px;
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a .toggle{
    top:45%;
}
.block-header .block-header-menu ul.nav > li{
    position: relative;
}
.block-header .block-header-menu .collapse>ul.nav > li > a{
    color: #000;
    font-size:13px;
    font-weight:700;
}
.block-header.fixed .block-header-menu .collapse>ul.nav > li > a{
    color: #3F4755;
}
.block-header .block-header-menu ul.nav > li > a{
    padding: 15px 25px;
    line-height: 18px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
    position: absolute;
    width: 11px;
    height: 6px;
    -webkit-mask:  url('../img/icons/drop-down.svg') center no-repeat;
    mask: url('../img/icons/drop-down.svg') center no-repeat;
    -webkit-mask-size: contain;
    -mask-size: contain;
    background-color: #000;
    top: 20px;
    right: 0;
}
.block-header .block-header-menu ul.nav ul.nav > li.has-child > a>.toggle{
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    top: 22px;
}
.block-header .block-header-menu ul.nav ul.nav{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    min-width: 195px;
    padding: 20px 0px;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform-origin: top;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.block-header .block-header-menu li:hover > ul.nav{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}
.block-header .block-header-menu li ul.nav li,
.block-header .block-header-menu li ul.nav li a{
    width: 100%;
    text-align: left;
}
.block-header .block-header-menu li ul.nav ul.nav{
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
    margin-top: 10px;
    left: 100%;
    top: 0;
}
.block-header .block-header-menu li ul.nav >li:hover>ul.nav{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.block-header .block-header-menu ul.nav a{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
    text-transform: uppercase;
    color: #454545;
    display: inline-block;
}
.block-header .block-header-menu li ul.nav a{
    padding: 15px 15px;
}
.block-header .block-header-menu ul.nav li:hover >a,
.block-header .block-header-menu ul.nav li a:hover,
.block-header .block-header-menu ul.nav a.active{
    color: #e2bd65 !important;
    font-weight: 600;
    text-decoration: none;
}
.block-header .block-header-menu ul.nav ul.nav li:hover >a,
.block-header .block-header-menu ul.nav ul.nav li a:hover,
.block-header .block-header-menu ul.nav ul.nav a.active{
    color: #D0203F !important;
}
.header-top {
    background-color: #333 !important;
    padding:15px 0;
}
.header-top a{
    color: #999;
}
.header-top a:hover{
    color:#d8c397;
}
.header-top a i{
    background-color:#999;    
}
.header-top a:hover i{
    background-color:#d8c397;
}
@media (max-width:991px){
    .block-right{
        padding-top:12px;
    }
}
.block-right .search-block {
    position: absolute;
    opacity:0;
    top:75px;
    transition:all 0.3s;
    left:0;
}
.search-section{
  cursor:pointer;   
}
.block-right .search-block.show{
    opacity:1;
    display:block;
    top:80px;
    transition:all 0.3s;
}
@media (max-width:991px){
    .block-right .search-block{
        top:45px !important;
        left:-15px;
    }
}
.block-right .search-section, .block-right .cart-area{
    float:right;
}
.block-right .search-section{
    margin:10px;
}
@media (min-width:992px){
    .block-right{
        padding:30px 15px;
    }
}
.block-right .search-block .input-group-icon{
    width:100%;
}
@media (max-width:768px){
    .title-account{
        display:none;
    }
}
.block-header-menu ul.nav li a:hover .toggle{
    background-color:#e2bd65 !important;
}