{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['active'] is defined  %}
                    <span class="breadcrumb-item active">{{ breadcrumb.text }}</span>
                {% else %}
                    <a class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div id="buy-now" class="bg-white buy-now">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="vertical-align: middle; margin: auto">
                <span class="product-name mb-0">{{ product['name'] }}</span>
                <span class="product-version text-secondary mb-0">
                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                        {% if product['max_price_version'] is null %}
                            <span class="cost-present">
                                {% if product['compare_price_master']|number_format != 0 %}
                                    {{ product['compare_price_master'] }}
                                {% endif %}
                            </span>
                        {% else %}
                            <span class="cost-present">
                                {% if product['min_compare_price_version'] != 0 %}
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                {% endif %}
                            </span>
                        {% endif %}
                    {% else %}
                        {% if product['max_price_version'] is null %}
                            <span class="cost-present">
                                {% if product['price_master']|number_format != 0 %}
                                    {{ product['price_master'] }}
                                {% endif %}
                            </span>
                        {% else %}
                            <span class="cost-present">
                                {% if product['min_price_version'] != 0 %}
                                    {{ product['min_price_version'] }}
                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                        ~ {{ product['max_price_version'] }}
                                    {% endif %}
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endif %}
                </span>
            </div>
            <div class="col-md-6" style="vertical-align: middle; margin: auto">
                <div class="form-action row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 pr-0">
                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="btn btn-action w-100 btn-add-cart-header {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                onclick="cart.add('{{ product['product_id'] }}')">Thêm vào giỏ hàng
                        </button>
                    </div>
                    <div class="col-md-4">

                        <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="button_buying btn btn-buy btn-buy-now-header {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua ngay
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="block-product-detail-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div id="block-slideshow-detail" class="gallery">
                    <div class="owl-1">
                        {% if product_images is not empty %}
                            {% for image in product_images %}
                                <div class="img"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="img"><img class="img-fluid" src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>

                    <div class="owl-2">
                        {% if product_images is not empty %}
                            {% for image in product_images %}
                                <div class="thumb"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="thumb"><img class="img-fluid" src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <article>
                    <div id="block-detail-product" class="block-detail">
                        <h2 class="category-product">
                            {% if categories is not empty %}
                                {% for k,category in categories %}
                                    {{ category['name'] }}{% if categories|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </h2>
                        <h1 class="product-name main-font">{{ product['name'] }}</h1>
                        <div class="status-wrap mb-3">
                            <div class="status-box">
                                <span>Số lượng sản phẩm: &nbsp;</span>
                                <span class="status">{{ product['product_mas_ver_quantity'] }}</span>
                            </div>
                        </div>
                        <div class="price-box main-font">
                            {% if product['is_contact_for_price'] %}
                                <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy">
                                    <span class="price-new">{{ contact }}</span>
                                </a>
                            {% else %}
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    <div class="price-new main-color">
                                        {% if product['max_compare_price_version'] is null %}
                                            <span class="price">{{ product['compare_price_master'] }}</span>
                                        {% else %}
                                            <span class="price">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="price-new main-color">
                                        {% if product['max_price_version'] is null %}
                                            <span class="price">{{ product['price_master'] }}</span>
                                        {% else %}
                                            <span class="price">
                                                {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="price-old text-color">
                                        {% if product['max_compare_price_version'] is null %}
                                            <span class="price">{{ product['compare_price_master'] }}</span>
                                        {% else %}
                                            <span class="price">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if product['sub_description'] is not empty %}
                            <div class="desc ckeditor-content">
                                {{ product['sub_description']|html_entity_decode }}
                            </div>
                        {% endif %}
                        <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">

                            {% if attributes is not empty %}
                                {% for attribute in attributes %}
                                    <div class="change-item" style="width: 100%">
                                        <div class="change-name">{{ attribute['attribute_name'] }}:</div>
                                        <div class="form-check form-check-inline">
                                            {% for key,attribute_text in attribute['attribute_text'] %}
                                                <label class="form-check-label">
                                                    <input class="form-check-input" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id=""
                                                           value="{{ attribute_text }}"> <span>{{ attribute_text }}</span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                            <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                            <div class="form-action mb-2 mt-4 show-on-pc {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} invisible {% endif %}">
                                {% if is_on_mobile != 1 %}
                                    <div class="quantity">
                                        <input type="number" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" required min="1" max="9999" step="1" value="1">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                {% endif %}

                                <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}"
                                        onclick="cart.add('{{ product['product_id'] }}')"
                                        {% if product['is_contact_for_price'] %} disabled {% endif %}>Thêm vào giỏ hàng</button>
                                <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                        class="btn btn-buy" {% if product['is_contact_for_price'] %} disabled {% endif %}>Mua ngay</button>
                            </div>

                            {# only on mobile #}
                            {% if is_on_mobile == 1 %}
                                <div class="show-on-mobile buy-now-mobile row w-100 d-flex">
                                    <div class="col-2 number-quantity pl-0">
                                        <input pattern="[0-9]*" id="numberQuantity" type="number" oninput="this.setCustomValidity('')"
                                               oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')"
                                               name="quantity"
                                               required min="1" max="9999" step="1" value="1"
                                               class="text-center {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}" >
                                    </div>
                                    <div class="col-6 pl-0 pr-0">
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-action {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} hover {% endif %}
                                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}"
                                                onclick="cart.add('{{ product['product_id'] }}')">Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    <div class="col-4 pr-0">
                                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                                class="btn btn-buy {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua ngay
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            {# end only on mobile #}
                        </form>
                        {% if hotline != null %}
                            <div class="row pb-2">
                                <div class="col-lg-12 text-left fw-600 hotline">
                                    <span class="hotline-css"><i class="icon icon-phone mr-2 align-middle"></i></span>
                                    Liên hệ :
                                    <span class="fw-500 fz-20 text-primary"><a href="tel:{{ hotline }}" class="text-phone-number">{{ hotline }}</a></span>
                                    để được tư vấn (miễn phí)
                                </div>
                            </div>
                        {% endif %}

                        <div class="block-category-type">
                            <span>SKU: </span>
                            <span style="color: #969696;" class="block-category-type-content">{% if product['product_version_id'] is empty %}{{ product['sku'] }}{% endif %}</span>
                        </div>
                        <div class="tags">
                            <span>Tags:</span>
                            {% if tags is not empty %}
                                {% for k,tag in tags %}
                                    <a href="javascript:void(0)" style="cursor: default">{{ tag['name'] }}</a>{% if tags|length != k+1 %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="social">
                            <span>Chia sẻ: </span>
                            <ul>
                                <li>
                                    <a href="https://plus.google.com/share?url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                             viewBox="0 0 19 19" fill="none">
                                            <path
                                                    d="M9.5 7.6V11.4H14.8751C14.0904 13.6116 11.9776 15.2 9.5 15.2C6.3574 15.2 3.8 12.6426 3.8 9.5C3.8 6.3574 6.3574 3.8 9.5 3.8C10.8623 3.8 12.1733 4.2883 13.1917 5.1756L15.6883 2.3104C13.9783 0.8208 11.7819 0 9.5 0C4.2617 0 0 4.2617 0 9.5C0 14.7383 4.2617 19 9.5 19C14.7383 19 19 14.7383 19 9.5V7.6H9.5Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18"
                                             viewBox="0 0 10 18" fill="none">
                                            <path
                                                    d="M9.62343 0.0037452L7.22488 0C4.5302 0 2.78878 1.73871 2.78878 4.42982V6.47227H0.377148C0.168755 6.47227 0 6.63668 0 6.83949V9.79876C0 10.0016 0.168947 10.1658 0.377148 10.1658H2.78878V17.633C2.78878 17.8358 2.95753 18 3.16593 18H6.31242C6.52081 18 6.68957 17.8356 6.68957 17.633V10.1658H9.50932C9.71772 10.1658 9.88647 10.0016 9.88647 9.79876L9.88763 6.83949C9.88763 6.74211 9.84779 6.64886 9.77718 6.57994C9.70656 6.51103 9.61034 6.47227 9.51029 6.47227H6.68957V4.74086C6.68957 3.90868 6.89334 3.48622 8.00727 3.48622L9.62304 3.48566C9.83125 3.48566 10 3.32124 10 3.11863V0.370775C10 0.168347 9.83144 0.00411972 9.62343 0.0037452Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_url|raw }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19"
                                             viewBox="0 0 23 19" fill="none">
                                            <path
                                                    d="M23 2.248C22.1535 2.62948 21.2452 2.88819 20.2908 3.00369C21.2653 2.41024 22.0112 1.46896 22.3647 0.350785C21.4507 0.900354 20.4417 1.29941 19.3666 1.51574C18.5057 0.58175 17.2812 0 15.923 0C13.3173 0 11.2046 2.14863 11.2046 4.79713C11.2046 5.17276 11.2463 5.53964 11.3268 5.89046C7.40601 5.69019 3.92936 3.77983 1.60249 0.876963C1.19574 1.58442 0.964348 2.40875 0.964348 3.2887C0.964348 4.95353 1.79795 6.42249 3.06273 7.28191C2.28948 7.25561 1.56224 7.03929 0.925564 6.67971V6.73964C0.925564 9.06366 2.55252 11.0033 4.70978 11.4447C4.31454 11.5529 3.89775 11.6128 3.46658 11.6128C3.1619 11.6128 2.86726 11.5821 2.57837 11.5236C3.17912 13.4311 4.92107 14.8182 6.98495 14.8562C5.37092 16.1425 3.33579 16.9069 1.12535 16.9069C0.744495 16.9069 0.369354 16.8835 0 16.8411C2.08831 18.2049 4.56754 19 7.23216 19C15.9116 19 20.6559 11.6888 20.6559 5.34819L20.6401 4.727C21.5671 4.05459 22.369 3.20977 23 2.248Z"
                                                    fill="#969696" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <!-- Comment -->
        <div class="block-description">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link header-font active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Chi tiết</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ckeditor-content" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {{ product['description']|html_entity_decode }}
                </div>
            </div>
        </div>
        <!-- /.Comment -->
    </div>
</div>
{% if related_product_visible %}
    <div id="block-product-related" class="block-product bestme-block-product-related-product">
        <div class="container swiper-container swiper-product-detail" data-number-item="{{ grid }}" data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
            <div class="headding">
                <h3>{{ related_product_title }}</h3>
                <div class="swipper-nav">
                    <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="swiper-wrapper">
                {% for product in related_products %}
                    <div class="swiper-slide">
                        <div class="product-box">
                            <div class="category-wrap">
                                <span class="category-type">
                                    {% if product['categories'] is not empty %}
                                        {{ product['categories'][0]['name'] }}
                                    {% endif %}
                                </span>

                                {% if product['product_is_stock'] == 0 %}
                                    <div class="out-of-stock">
                                        HẾT
                                    </div>
                                {% endif %}

                                {% if product['percent_sale'] is not empty %}
                                    <div class="sale">
                                        {{ product['percent_sale'] }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="thumb">
                                <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt=""></a>
                                <div class="action">
                                    <a href="{{ product['href'] }}" style="text-decoration: none"><button type="button" class="btn btn-viewmore">Xem thêm</button></a>
                                </div>
                            </div>
                            <n4 class="name">
                                <a class="" title="{{ product.name }}" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                            </n4>
                            <div class="bottom-wrap">
                                <div class="price">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="price-new">{{ contact }}</span>
                                    {% else %}
                                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="price-new">{{ product['compare_price_master'] }}</span>
                                            {% else %}
                                                <span class="price-new">
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            {% if product['max_price_version'] is null %}
                                                <span class="price-new">{{ product['price_master'] }}</span>
                                            {% else %}
                                                <span class="price-new">
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                            {% if product['max_compare_price_version'] is null %}
                                                <span class="price-old">{{ product['compare_price_master'] }}</span>
                                            {% else %}
                                                <span class="price-old">
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="rated">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
        } else {
            $('#add-to-cart').submit();
        }
    });

    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart .btn-action, button.btn-add-cart-header').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    jQuery('#add-to-cart .btn-buy').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.cart .count-product').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>
<style>
    .block-product-detail-page .block-detail .block-custom-change .form-action .btn-action.hover {
        border: 1px solid #EBEBEB;
        background-color: inherit;
        color: #212529;
    }
</style>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

</script>
{{ footer }}
