{{ header }}

<section class="bestme-top-content page-detail ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ home }}" class="bestme-breadcrumb__link">Trang chủ</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="javascript:;" class="bestme-breadcrumb__link active ">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="title-section-img">
                    <div class="title-logo">
                        <span class="square-first"></span>
                        <span class="square-primary"></span>
                        <span class="square-second"></span>
                    </div>
                    <h2 class="title register">Liên hệ</h2>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
                <div id="map" class="bestme-block-contact-map" style="position: relative; overflow: hidden;">
                    {{ contacts_map.address|html_entity_decode }}
                </div>
            </div>
            {% if contact_config['visible'] == '1' %}
            <div class="col-12 col-lg-6 col-xl-6">
                <div class="bestme-block-contact-form">
                    {#<a href="{{ home }}"><img src="{{ logo }}" alt="Logo" class="logo-title" style="margin: 5px 0 10px 0"></a>

                    <ul class="list-info-contact">
                        <li class="list-info-contact__item">
                            <a href="" class="list-info-contact__link">
                                <i class="ti-location-pin icon-info-footer"></i>
                                {{ contacts_info.address }}
                            </a>
                        </li>
                        <li class="list-info-contact__item">
                            <a href="" class="list-info-contact__link">
                                <i class="ti-mobile "></i>
                                {{ contacts_info.phone }}
                            </a>
                        </li>

                        {% for social_config in social_configs %}
                            {% if  social_config.name == 'Facebook' %}
                                <li class="list-info-contact__item">
                                    <a href="{{ social_config.url }}" class="list-info-contact__link" target="_blank">
                                        <i class="ti-facebook"></i> {{ social_config.url }}
                                    </a>
                                </li>
                            {% elseif  social_config.name == 'Instagram' %}
                                <li class="list-info-contact__item">
                                    <a href="{{ social_config.url }}" class="list-info-contact__link" target="_blank">
                                        <i class="ti-instagram "></i> {{ social_config.url }}
                                    </a>
                                </li>
                            {% elseif social_config.name == 'Youtube' %}
                                <li class="list-info-contact__item">
                                    <a href="{{ social_config.url }}" class="list-info-contact__link" target="_blank">
                                        <i class="ti-youtube"></i> {{ social_config.url }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>#}

                    <div class="bestme-block-show-icon-edit ">
                        <div class="block-title bestme-border-bottom-none">
                            <h3 class="title">{{ contacts_email.title }}</h3>
                        </div>
                        <div class="block-content">
                            <div class="bestme-form">
                                {% if error_warning %}
                                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    </div>
                                {% endif %}
                                {% if success %}
                                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    </div>
                                {% endif %}
                                <form action="{{ href_submit_form }}" method="post">
                                    <div class="bestme-form__item">
                                        <label>Họ &amp; Tên</label>
                                        <input type="text" class="bestme-input bestme-input--default" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')" required placeholder="Nhập họ và tên " name="fullname" >
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="bestme-form__item">
                                                <label>Email</label>
                                                <input type="text" class="bestme-input bestme-input--default"  oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required placeholder="Nhập email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="bestme-form__item">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="bestme-input bestme-input--default"  oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng số điện thoại')"
                                                       pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15" required placeholder="Số điện thoại" name="phone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bestme-form__item ">
                                        <label>Nội dung góp ý</label>
                                        <textarea placeholder="Nhập nội dung góp ý" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')" class="w-100" rows="4" name="your_mind"></textarea>

                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="bestme-btn bestme-btn--border bestme-text--uppercase bestme-btn--pd-hz-large">
                                            gửi
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<style>
    #map iframe {
        width: 100%;
        height: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>