{{ header }}
<div class="block-user-login">
    <div class="container">
        <div class="user-login">
            <div class="block-left">
                <h1 class="header-font">Đăng nhập</h1>
                <p class="header-font">hoặc <a href="{{ register }}">Đăng ký</a></p>
            </div>
            <div class="block-right">
                <div class="mail-success text-center">
                    <img class="img-fluid mb-3" src="{{ theme_directory }}/images/big-mail.png" alt="">
                    <p>
                        Chúng tôi đã gửi thư khôi phục mật khẩu đến email
                    </p>
                    <p>
                        {{ email }}
                    </p>
                    <p>
                        Bạn vui lòng kiểm tra, thực hiện theo hướng dẫn và đăng nhập lại!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}