{{ header }}

<main id="main-wrapper" class="pb-3 pb-md-5">
    <!-- Page Banner -->
    {% if banners.visible_banner == 1 %}
        <div class="page-banner">
            <a href="{{ banners.url_banner }}" target="_blank">
                <img src="{{ banners.url_image }}" alt="bestme">
            </a>
        </div>
    {% else %}
        <div class="not-banner"></div>
    {% endif %}
    <!-- End: Page Banner -->
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="page-title bg-white">
                <h1 class="text-black-50 text-uppercase fz-35 fw-500 text-center">Blog</h1>
            </div>
            <!-- News Nav -->
            <ul class="nav d-flex mb-3 mb-md-5 bestme-block-blog-category blog-category">
                {% for category in blog_category %}
                    <li class="{% if category['blog_category_id'] == filter['blog_category_id'] %}active{% endif %} nav-item">
                        <a class="pl-0 pr-3 pt-2 pb-2 text-uppercase text-black-20 hover-primary fz-13" href="{{ category['link'] }}">{{ category['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
            <!-- End: News Nav -->
            <!-- News Listing -->
            <div class="news-listing bestme-block-blog-list">
                <!-- News Heighlight -->
                <div class="news-heighlight mb-3 mb-md-4">
                    <div class="row mx-n2">
                        {% if blog_list_new is empty %}
                            Không có bài viết
                        {% else %}
                            {% for blog in blog_list|slice(0, 2) %}
                                <div class="col-sm-6 col-md-6 mb-3 mb-md-4">
                                    <div class="news-heighlight-item">
                                        <div class="news-heighlight-thumb hover-zoom-img">
                                            <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['alt'] }}"></a>
                                        </div>
                                        <div class="news-heighlight-info text-center bg-light-5 py-2 px-5">
                                            <span class="post-date text-light-2 fw-300">{{ blog['date_added']|date('m/d/Y') }} - {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            <h4 class="news-title mb-3">
                                                <a href="{{ blog['link'] }}" class="fz-16 text-black-50 text-uppercase">{{ blog['title'] }}</a>
                                            </h4>
                                            <a href="{{ blog['link'] }}" class="text-warning fz-13 fw-700 text-uppercase hover-black">Xem thêm</a>
                                        </div>
                                        <div class="line-border bg-primary"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!-- End: News Heighlight -->

                <!-- News Items Listing -->
                <div class="news-items-listing">
                    <div class="row">
                        {% if blog_list|length > 2 %}
                            {% for blog in blog_list|slice(2) %}
                                <div class="col-sm-6 col-md-4 mb-3 mb-md-4">
                                    <div class="news-item">
                                        <div class="news-thumb hover-zoom-img">
                                            <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" class="w-100" alt="{{ blog['alt'] }}"></a>
                                        </div>
                                        <div class="news-info bg-light-5 py-2 px-3">
                                            <span class="post-date text-light-2 fw-300">{{ blog['date_added']|date('m/d/Y') }} - {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            <h4 class="news-title mb-3">
                                                <a href="{{ blog['link'] }}" class="fz-16 text-black-50 text-uppercase">{{ blog['title'] }}</a>
                                            </h4>
                                            <div class="text-center">
                                                <a href="{{ blog['link'] }}" class="text-warning fz-13 fw-700 text-uppercase hover-black">Xem thêm</a>
                                            </div>
                                        </div>
                                        <div class="line-border bg-primary"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!-- End: News Items Listing -->
                <!-- Paginate -->
                <nav class="mt-3 mt-md-5">
                    <div class="block-pagination">
                        {{ pagination }}
                    </div>
                </nav>
                <!-- End: Paginate -->
            </div>
            <!-- End: News Listing -->
        </div>
    </div>
    <!-- End: Main Content -->
</main>

{{ footer }}