#footer{
    background-color: var(--primary);
    color: #8F8F8F;
}
#footer .main-footer{
    padding: 20px 0 10px;
    position: relative;
}
#footer .main-footer .container{
    position: relative;
    z-index: 1;
}
#footer .footer-col{
    margin: 1.25rem 0;
}
#footer .footer-col li{
    margin-bottom: 10px;
    line-height: 21px;
}
#footer .footer-col li a{
    color: #8F8F8F;
    display: inline-block;
}
#footer .footer-col li a:hover,
#footer .footer-col li a.active{
    font-weight: bold;
}
#footer .copy-right{
    padding: 12px 0;
    border-top: 1px solid #707070
}
#footer .copy-right a{
    color: #8F8F8F;
}