:not(.home) #header{
    border-bottom: 1px solid #ECECEC;
}
#header .header-top{
    padding: 12px 0 13px;
    line-height: 15px;
    font-size: 13px;
    color: #fff;
    background-color: var(--primary)
}
#header .header-top a{
    color: #fff;
}
#header .header-top a:hover{
    text-decoration: underline;
}
#header .fix-content{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    background-color: white;
    border-bottom: 1px solid #ECECEC;
}
#header.fixed .fix-content{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}
.menu-wrapper{
    position: relative;
    min-height: 75px;
}
.main-header .fix-content .logo{
    position: absolute;
    z-index: 1;
    height: 44px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    display: flex;
}
#header:not(.fixed) .main-header .fix-content .logo,
#header:not(.fixed) .fix-content .header-search{
    display: none;
}
#header .navbar{
    padding: 0;
}
#header .navbar a.nav-link{
    color: var(--text-secondary);
    font-weight: 400;
    padding: 28px 8px;
    margin: 0 12px;
    text-transform: uppercase;
}
#header .navbar a.nav-link:hover,
#header .navbar a.nav-link.active{
    color: var(--primary);
    border-bottom: 1px solid #13203D;
}
#header .header-search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
}
#header .header-search form.search-form{
    border-bottom: 1px solid var(--text-primary);
    position: relative;
    transition: all 0.2s ease;
    visibility: hidden;
    width: 0;
}
#header .header-search.show form.search-form{
    padding: 5px 0 5px 10px;
}
#header .header-search form.search-form .icon-search{
    position: absolute;
    left: -30px;
    top: 6px;
}
#header .header-search.show form.search-form{
    visibility: visible;
    width: 435px;
    max-width: calc(100% - 55px);
    display: flex;
    height: 33px;
    margin-left: 30px;
    margin-right: 15px;
}
#header .menu-wrapper.show .navbar{
    display: none;
}
#header .header-search input.form-control{
    border: none;
    border-left: 1px solid var(--text-primary);
    background: transparent;
    height: 23px;
    min-height: 23px;
    padding: 0 0 0 6px;
    border-radius: 0;
    font-size: 14px;
}
#header .header-search input.form-control:focus{
    outline: none;
    box-shadow: none;
}
#header .header-search .collapse-search{
    height: 20px;
    display: flex;
}
#header .header-search .collapse-search a .icon{
    background-color: var(--text-primary);
}
#header .header-search.show .show-form,
#header .header-search .hide-form{
    display: none;
}
#header .header-search .show-form,
#header .header-search.show .hide-form{
    display: flex;
}