@media only screen and (max-width: 768px) {
    #header .header-top{
        padding: 16px 0 15px;
        font-size: 12px;
        line-height: 14px;
    }
    #header .main-header{
        padding: 0;
        background: var(--text-third);
    }
    #header .navbar{
        padding: 0;
        height: 25px;
        margin: 22px 0;
    }
    #header .menu-wrapper{
        min-height: 70px;
    }
    #header .menu-wrapper.show .navbar,
    #header:not(.fixed) .main-header .fix-content .logo, #header:not(.fixed) .fix-content .header-search{
        display: flex;
    }
    .fix-content .header-search.show{
        margin-bottom: 20px;
    }
    .main-header .fix-content .logo{
        right: 0;
        width: 200px;
        justify-content: center;
        top: 16px;
        bottom: auto;
    }
    #header .header-search{
        width: 100%;
        position: relative;
    }
    #header .header-search:not(.show) .collapse-search{
        position: absolute;
        top: -43px;
        right: 0;
    }
    #header .header-search.show form.search-form,
    #header .header-search form.search-form{
        width: 100%;
        position: relative;
        margin-right: 5px;
    }
    #header .header-search form.search-form{
        height: 0px;
    }
    #header .header-search form.search-form .icon-search{
        top: 10px;
    }
    #header .header-search form.search-form .btn .icon,
    #header .header-search .collapse-search a .icon{
        background-color: var(--text-primary);
    }
    :root{
        --bs-gutter-x: 20px
    }
    .row {
        --bs-gutter-x: 20px;
    }
    body:not(.home) #main-wrapper{
        margin: 20px 0;
    }
    .page-title h1,
    h1, h2{
        font-size: 18px;
    }
    #navbarMainMenu {
        width: 60%;
        min-width: 305px;
        text-align: left;
        background-color: var(--primary);
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        opacity: 0;
        visibility: hidden;
        padding: 20px;
        height: 100vh;
        z-index: 999;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        overflow-y: scroll;
    }
    #navbarMainMenu.show {
        left: 0px;
        opacity: 1;
        visibility: visible;
    }
    #navbarMainMenu .navbar-nav .nav-item > .nav-link{
        line-height: 16px;
        padding: 9px 0;
        font-size: 14px;
        font-weight: 400;
        color: white;
        margin: 2px 0;
        position: relative;
    }
    #header .navbar a.nav-link:hover, 
    #header .navbar a.nav-link.active{
        color: white;
        font-weight: 500;
    }
    .table-custom .col-item{
        padding: 0.5rem;
    }
    .table-custom .row-item.row{
        margin: 0 -0.5rem;
    }
    .sidebar .filter-product-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background: rgba(44, 52, 64, 0.2);
        padding: 0 25% 0 0;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        border-radius: 0;
        border: 0;
    }
    .sidebar .filter-product-wrapper.collapse{
        opacity: 1;
        visibility: visible;
    }
    .sidebar .filter-product-wrapper .filter-product-content{
        padding: 22px 30px;
        background: #13203D;
        left: -100%;
        position: relative;
        transition: all 0.5s ease;
        min-height: 100vh;
    }
    .sidebar .filter-product-wrapper.collapse .filter-product-content{
        left: 0;
    }
    .sidebar .block-title{
        color: #fff;
    }
    .box-product-filter .nav a.nav-link{
        color: #c4c4c4;
    }
    .news-item .news-title{
        font-size: 16px;
        margin: 16px 0 10px;
    }
    .teaser .news-item .news-title{
        padding: 12px;
        font-size: 16px;
        max-height: 80px;
    }
    .nav-tabs{
        border-radius: 0;
        width: calc((var(--bs-gutter-x) * 2) + 100%);
        margin-left: calc(var(--bs-gutter-x) * -1);
        padding: 0;
    }
    .nav-tabs .nav-link{
        padding: 0 var(--bs-gutter-x) 15px;
        margin-right: 10px;
    }
    .nav-tabs li:nth-last-child(1) .nav-link{
        margin-right: 0px;
    }
    ol.breadcrumb{
        margin-bottom: 30px;
    }
    .sidebar-right{
        width: calc((var(--bs-gutter-x) * 2) + 100%);
        margin-left: calc(var(--bs-gutter-x) * -1);
        padding: var(--bs-gutter-x);
    }
    .project-item .project-title{
        font-size: 16px;
        margin: 20px 0 6px;
    }
    .project-item.stretch .project-title{
        margin: 0;
    }
    .project-item .project-img{
        border-radius: 5px;
        overflow: hidden;
        padding: 0 !important;
    }
    .projects-view .project-item:nth-child(2n) >.row>div:nth-child(1){
        order: 0;
    }
    .product-item,
    .news-item,
    .project-item{
        margin-bottom: 30px;
    }
    .project-item .project-title{
        margin: 10px 0;
    }
    .product-item .prod-title{
        margin: 12px 0 16px;
    }
    .product-item a.btn{
        width: 100%;
    }
    .sub-title{
        font-size: 16px;
    }
    .background-flex::before{
        width: 100%;
        height: calc(100% - 180px);
    }
    #footer .footer-col{
        margin: 10px 0;
    }
    h1.page-title{
        margin-top: 0px;
    }
    .title-left-through:before{
        width: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width:991px) {
    
}

/* Tablet & desktop */
@media (min-width: 768px) {
    .w-md-25{
        width: 25% !important;
    }
    .w-md-50{
        width: 50% !important;
    }
    .w-md-75{
        width: 75% !important;
    }
    .w-md-100{
        width: 100% !important;
    }
    .w-md-auto{
        width: auto !important;
    }
    #footer .footer-col.text-lg-end li::before{
        display: none;
    }
    #footer .footer-col.text-lg-end li::after{
        content: "\2022";
        color: var(--primary);
        font-weight: bold;
        display: inline-block;
        width: 1em;
        font-size: 15px;
    }
    .line-percent.lg-center:after{
        margin: auto;
    }
    #header .menu-wrapper{
        position: relative;
    }
    #header .fix-content .header-search:not(.show){
        position: absolute;
        z-index: 1;
        right: 0;
        margin: auto;
    }
    #header .header-search:not(.show) ~ .navbar{
        margin: auto;
    }
    .border-lg-end{
        border-right: 1px solid #c4c4c4 !important;
    }
    .border-lg-bottom{
        border-bottom: 1px solid #c4c4c4 !important;
    }
    .blog-category.nav-tabs{
        padding: 15px 20px 15px 40px;
        background: #F9F9F9;
    }
    .blog-category.nav-tabs .nav-link{
        position: relative;
        padding: 15px 40px;
    }
    .blog-category.nav-tabs .nav-link:hover,
    .blog-category.nav-tabs .nav-link.active{
        border: none;
        font-weight: 400;
    }
    .blog-category.nav-tabs .nav-link:hover:before,
    .blog-category.nav-tabs .nav-link.active:before,
    .blog-category.nav-tabs .nav-link:hover:after,
    .blog-category.nav-tabs .nav-link.active:after{
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: var(--text-primary);
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .blog-category.nav-tabs .nav-link:hover:after,
    .blog-category.nav-tabs .nav-link.active:after{
        left: auto;
        right: 0;
    }
}

/* Desktop */
@media (min-width: 992px) {
    #header ul.nav > li > a>.toggle {
        top: -3px;
    }
    #header .navbar {
        max-width: 80%;
    }
    /* menu nav */
    .block-header #navbarMainMenu li {
        position: relative;
    }
    .block-header #navbarMainMenu ul.nav ul.nav {
        display: inline-block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 92%;
        min-width: 275px;
        background: #fff;
        border: 1px solid #D6D7D1;
        -webkit-transform: translate(0, 10%);
        transform: translate(0, 10%);
        -webkit-transform-origin: top;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
    .block-header #navbarMainMenu ul.nav ul.nav .nav-link {
        padding: .5rem;
        margin: 0;
    }
    .block-header #navbarMainMenu li:hover > ul.nav {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
    .block-header #navbarMainMenu li ul.nav ul.nav {
        -webkit-transform: translate(10%, 0);
        transform: translate(10%, 0);
        left: 100%;
        top: -1px;
        z-index: 2;
        border: 1px solid #D6D7D1;
    }
    .block-header #navbarMainMenu li ul.nav >li:hover>ul.nav {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    /* page content */
    .content-page .main-content {
        min-height: 750px;
    }
}