{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2 class="m-0 font-30">{{ content.title }}</h2>
                    {#<img src="img/blog_7.jpg" class="feature my-3">#}
                    <br>
                    <div class="blog-body">
                        {{ content.description|html_entity_decode }}
                    </div>
                </div> <!-- End blog view -->
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}