@font-face {
    font-family: 'Leftlair-Regular';
    src: url('catalog/view/theme/fashion_flavor/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Leftlair-Bold';
    src: url('catalog/view/theme/fashion_flavor/fonts/helveticaneuebold.ttf');
}
@font-face {
    font-family: 'Averta Std CY';
    src: url('catalog/view/theme/fashion_flavor/fonts/helveticaneue.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Averta Std CY';
    src: url('catalog/view/theme/fashion_flavor/fonts/helveticaneuelight.ttf');
}



