.partner .wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.partner .photo {
  width: 260px;
  height: 320px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0,0,0,.01);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  left: 50%;
  top: 50%;
  margin: -160px 0 0 -130px;
}

.partner .photo .side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

.partner .photo .side-front { /*display: none;*/
}

.partner .photo .side-front .image {
  width: 371px;
  height: 371px;
  line-height: 371px;
  overflow: hidden;
  border-radius: 16px;
}

.partner .photo .side-front .image img { width: 100%; height: 100%; object-fit: cover;}

.partner .photo .side-front .caption {
  text-align: left;
  color: #151530;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-top: 12px;
  display: none;
}

.partner .photo .side-front .desc {
  display: none;
}

.partner .photo_center .side-front .desc, .partner .photo_center .side-front .caption {
  display: block;
  width: 371px;
  text-align: justify;
}

.partner .photo .side-back .desc {
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}

.partner .photo_center {
  left: 48% !important;
  top: 30% !important;
  margin: -160px 0 0 -130px;
  z-index: 999;
}

.partner .photo-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.6s;
  cursor: pointer;
}

.partner .photo-wrap .side-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.partner .photo-wrap .side-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.partner .photo-wrap .side {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.partner .photo_front .partner .photo-wrap {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.partner .photo_back .partner .photo-wrap {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.partner-box .nav {
  width: 80%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 10%;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.partner-box .nav .i {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  background-color: #aaa;
  text-align: center;
  border-radius: 90%;
  -webkit-transform: scale(0.5);
  -webkit-transition: all 0.5s;
  -moz-transform: scale(0.5);
  -moz-transition: all 0.5s;
}

.partner-box .nav .i_current {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}

.partner-box .nav .i_back {
  -webkit-transform: rotateY(-180deg) scale(0.8);
  -moz-transform: rotateY(-180deg) scale(0.8);
  background-color: #555;
}

@media (max-width: 768px) {

  .photo-wrap .des {
    background: #ffffffb8;
    padding: 2px 10px;
    border-radius: 16px;
    margin-top: 9px;
  }
  .partner .photo_center .side-front .desc, .partner .photo_center .side-front .caption {
    width: auto;
  }

  .partner .photo {
    width: 96%;
    height: 100%;
    left: 8px !important;
    top: 0 !important;
    margin: 0;
  }

  .partner .photo .side-front .image {
    width: 100% !important;
    height: auto !important;
  }
}
