{{ header }}

{# TODO: use var theme_dir instead of hardcode... #}
{% include ('fashion_flavor/template/blog/blog_breadcrumb.twig') %}
<!-- content-result -->
<section class="content-result content-post-news">
    <div class="container">
        <div class="row flex-reverse">
            <div class="col-md-8">
                <div class="news-right row">
                    {% if blog_list is empty %}
                        Không có bài viết
                    {% else %}
                        {% for key, blog in blog_list %}
                            {% if key > 0 %}
                                <div class="newsItem col-lg-4">
                                    <div class="newsItem-img">
                                        <a href="{{  blog['link'] }}"><img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                                    </div>
                                    <h3 class="newsItem-name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 60 ? blog['title']|html_entity_decode|slice(0, 60) ~ '...' : blog['title']|html_entity_decode }}</a></h3>
                                    <div class="newsItem-date">Đăng ngày: {{ blog['date_modified']|date('d/m/Y') }}</div>
                                    <div class="newsItem-des">{{ blog['short_content']|html_entity_decode|striptags }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <!--pagination-->
                <nav class="pagination-page">{{ pagination }}</nav>
                <!--pagination-->
            </div>
            {% include ('fashion_flavor/template/blog/blog_nav_left.twig') %}
        </div>
    </div>
</section>
<!-- content-result -->
<!-- End content wrapper -->

<style>
    .newsTop .imgNews {
        height: 333px;
    }
    .newsTop .imgNews img {
        height: 100%;
    }
    .newsItem .newsItem-img {
        height: 423px;
    }
    .newsItem .newsItem-img img {
        height: 100%;
    }
</style>

{{ footer }}