body {
    word-wrap: break-word;
}
.bestme-header__menu .bestme-header__logo img {
    max-height: 65px;
    height: initial;
}
.bestme-footer__content__top .bestme-footer__logo {
    max-width: 150px;
    max-height: 50px;
}
.bestme-group--input-range .value-range input#amount-max {
    text-align: right;
}
.bestme-group--input-range .value-range input#amount-max-mobile {
    text-align: right;
}
.bestme-group--input-range .ui-slider {
    border: 0px;
}
.bestme-group--count-amount input::-webkit-outer-spin-button,
.bestme-group--count-amount input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.bestme-group--count-amount input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.bestme-cart--info-item .bestme-input--number-amount {
    width: 4.6em;
}
.bestme-header .bestme-list-action .list-action-only-icon .action-item .action-link .number-item-shop.over-99 {
    top: -1.6rem;
    right: -1.6rem;
    width: 2.0rem;
    height: 2.0rem;
}
.bestme-product--desc-detail--mobile{
    display: none;
}
.order-success {
    margin-top: 200px!important;
}

.bestme-top-content.not-ads {
    margin-top: calc(110px);
}

.bestme-block-detail-post--img-primary {
    height: auto;
}

/*blog auth-time*/
.show-on-mobile {
    display: none;
}

.show-on-pc {
    display: inline;
}

.bestme-header__logo {
    padding: 5px;
}

.bestme-header__logo a {
    width: 100%;
    text-align: center;
}

.bestme-header__menu .bestme-header__logo img {
    width: 100%;
}

.bestme-block-slideshow .slick-list .slick-slide a {
    height: auto;
}
.bestme-block-slideshow .img-slide-top-content {
    object-fit: cover;
}

@media screen and (max-width:1368px) {
    .bestme-block-slideshow {
        height: auto;
    }
    .bestme-menu--sub{
        height: auto;
    }
    .menu-product {
        height: auto;
    }
    .bestme-block-slideshow .slick-list .slick-slide a {
        height: auto;
    }
}

@media screen and (max-width:991px) {
    .bestme-block-product-detail-action-mobile {
        position: fixed;
        z-index: 15;
    }

    /*blog auth-time*/
    .show-on-mobile {
        display: block;
    }

    .show-on-pc {
        display: none;
    }

    .bestme-top-content.not-ads {
        margin-top: calc(93px);
    }

    .bestme-header__menu .bestme-header__logo img {
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .bestme-product--desc-detail--mobile{
        display: block;
    }
    .bestme-product--desc-detail{
        display: none;
    }
    .bestme-cart--img img {
        width: 7rem;
        height: 7rem;
    }
    #add-to-cart {
        padding-bottom: 38px !important;
    }
}

@media screen and (max-width:736px) {
    .order-success {
        margin-top: 150px!important;
    }
    .register-receive-message input::-webkit-input-placeholder {
        font-size: 11px;
    }
    .bestme-input--receive-message{
        padding-right: 0px !important;
    }
    .bestme-search-global{
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }
    .bestme-search-global input::-webkit-input-placeholder {
        font-size: 12px;
    }
    .bestme-cart--action .bestme-btn--border{
        margin-right:0px !important;
        margin-top: 10px;
        text-align: center;
    }
    .bestme-cart--action .bestme-btn--primary{
        text-align: center;
    }
    .bestme-block-detail-post--img-primary img {
        width: 100%;
        height: 100%;
        max-height: 270px;
        object-fit: scale-down;
    }
}

.list-action-only-icon{
    position: relative;
}
.action-link{
    color: var(--color-text-gray);
}

.attr-item{
    margin-bottom: 5px;
}
.attribute-select option{
    max-width: 50px;
    width: 50px !important;
    margin: 0 !important;
}
.list-action-only-icon .number-item-shop
{
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #F5F6F8;
    background-color: #EB5757;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#add-to-cart .bestme-block-title-header-scroll{
    width: 100%;
}
.bestme-product-detail-info .title-mobile .cost-mobile span{
    display: block;
}
.bestme-product-detail-info .title-mobile span{
    display: inline-table!important;
}

.produt-sale-right{
    left: 7.6rem !important;
}
.pagination .page-item.active a {
    color: var(--color-primary);
    background-color: #fff;
    border: 1px solid var(--color-primary);
}
.bestme-product .bestme-product-content .bestme-product-cost .old {
    position: initial;
}
.bestme-product .bestme-product-content .bestme-product-cost {
    padding-top: 0px;
    height: 33px;
}
@media (max-width: 991px) {
    .list-block-sort-mobile {
        padding-bottom: 100px !important;
    }

    .list-action-share span {
        margin-right: 0.25rem;
    }

    /* blog image */
    .bestme-block-detail-post--img-primary img {
        max-height: 170px;
        object-fit: scale-down;
    }
}

.disabled-button button, .disabled-button button:hover {
    color: var(--color-text-second) !important;
}

.bestme-block-sort__list {
    height: auto;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select{
        font-size: 16px;
    }
}

.bestme-header__banner .title a {
    color: inherit;
}

.bestme-menu .list-menu .menu .sub-menu-item .sub-menu-link .icon-toogle {
    position: absolute;
    top: 2rem;
    right: 0;
    -webkit-transition: all, ease, 0.4s;
    -khtml-transition: all, ease, 0.4s;
    -moz-transition: all, ease, 0.4s;
    -ms-transition: all, ease, 0.4s;
    -o-transition: all, ease, 0.4s;
    transition: all, ease, 0.4s;
}

.bestme-sale-product{
    left: 75px !important;
}
.p-top {
    padding-top: 120px;
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}
.cost-present {
    font-size: 16px;
    color: #618c82;
    text-transform: initial;
}
.bestme-post .bestme-post-img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down !important;
}

.block-404 {
    margin-top: 160px;
}

/*allow list-style in product detail*/
.bestme-product-detail-info .bestme-product--desc-detail ul {
    list-style: unset;
}

.title-section-img .title {
    letter-spacing: 0 !important;
}

.magnify {
    height: fit-content !important;
}
button.bestme-btn.bestme-btn--border.bestme-text--uppercase {
    color: black;
}
button.bestme-btn.bestme-btn--border.bestme-text--uppercase:hover {
    color: white;
}