/*$MAIN_COLOR$*/
.line-percent:after
{
    border-bottom-color: $MAIN_COLOR$;
}

#header .navbar a.nav-link:hover, #header .navbar a.nav-link.active,
.why-choose-us .title,
#footer .footer-col li::before,
a,
.box-product-filter .nav a.nav-link:hover, .box-product-filter .nav a.nav-link.active, .box-product-filter .nav a.nav-link:focus,
.news-item .news-title:hover
{
    color: $MAIN_COLOR$;
}

.text-fifth,
.text-primary
{
    color: $MAIN_COLOR$ !important;
}

/*$BUTTON_COLOR$*/
.btn.btn-primary,
.pagination .page-item.active .page-link
{
    background-color: $BUTTON_COLOR$;
}

.pagination .page-item.active .page-link
{
    border-color: $BUTTON_COLOR$;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    border-bottom-color: $BUTTON_COLOR$;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active
{
    color: $BUTTON_COLOR$;
}

