<div class="filter-product-content">
    {% if visible_category == 1 %}
        <div class="box-product-filter bestme-block-category-product-category" id="product-category">
            <h2 class="block-title">{{ visible_category_title }}</h2>
            {% include 'default/template/common/category_list_template_with_count_product.twig' %}
        </div> <!-- End product filter category -->
    {% endif %}
    {% if visible_supplier == 1 %}
    <div class="box-product-filter" id="product-provider">
        <h2 class="block-title">
            {{ visible_supplier_title }}
        </h2>
        {% include 'default/template/common/manufacturer_list_template_with_count_product.twig' %}
    </div> <!-- End product provider -->
    {% endif %}
    {% if visible_product_price == 1 %}
    <div class="box-product-filter" id="product-price">
        <h2 class="block-title border-bottom">Khoảng giá</h2>
        <div class="price-range mt-3 mt-lg-4">
            <input type="hidden" id="amount1" name="price_min" value="{{ price_min }}">
            <input type="hidden" id="amount2" name="price_max" value="{{ price_max }}">
            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"></div>
            <span id="amount" class="text-primary"></span>
                <button class="float-right font-16 border-0 text-uppercase font-weight-bold btn-filter-bestme" id="price-filter-btn" >LỌC</button>
        </div>
    </div> <!-- End product category -->
    {% endif %}
    {% if visible_collection == 1 %}
        <div class="box-product-filter" id="product-collection">
            <h2 class="block-title">{{ visible_collection_title }}</h2>
            {% include 'default/template/common/collection_list_template_with_count_product.twig' %}
        </div> <!-- End product provider -->
    {% endif %}
    {% if visible_attribute == 1 %}
        <div class="box-product-filter" id="product-attribute">
            {% include 'default/template/common/attribute_filter_template.twig' %}
        </div>
    {% endif %}
    {% if visible_tag == 1 %}
        <div class="box-product-filter" id="product-tag">
            <h2 class="block-title">TAGS</h2>
            {% include 'default/template/common/tag_filter_template.twig' %}
        </div>
    {% endif %}
    <div class="block-ads d-none">
        <a href="#"><img src=""></a>
    </div>

</div> <!-- End sidebar content -->
<link rel="stylesheet" href="{{ theme_directory }}/css/jquery-ui.min.css">
<script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>
<script src="{{ theme_directory }}/js/jquery.ui.touch-punch.min.js"></script>
<script>

    $("body").on('DOMSubtreeModified', "#product-sort .select-selected", function() {
        var text = $('#product-sort .select-selected').text();
        if($.trim(text) !== ''){
            var val = $('#product-sort-select option').filter(function () { return $(this).html() === text; }).val();
            window.location = val;
        }
    });
    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").text(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");

                $("#amount1" ).val(ui.values[ 0 ]);
                $("#amount2" ).val(ui.values[ 1 ]);
            }
        });
        $("#amount").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");

        $(".show-price").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
        // Show filter sidebar mobile
        $('.product-listing .view-header').on('click', '.filter-mobile', function (e) {
            $('.sidebar .filter-product-wrapper').addClass('collapse show');
        })
        $('.sidebar .filter-product-wrapper').click(function (e) {
            if ($(window).width() <= 991 && $(e.target).closest('.filter-product-content').length === 0) {
                $(this).removeClass('collapse show');
            }
        })
    });

    $('#price-filter-btn').on('click', function(){
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');

        var min = $('#amount1').val();
        var max = $('#amount2').val();
        window.location.replace(url + '&min=' + min + '&max=' + max);
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }

    $(function() {
        // bind change event to select
        $('.filterOpiton').on('change', function() {
            var url = $(this).val(); // get selected value
            if (url) { // require a URL
                window.location = url; // redirect
            }
            return false;
        });
    });
</script>