/* $MAIN_COLOR$ */
a:hover{
    color: $MAIN_COLOR$;
    text-decoration: none;
}

.btn {
    font-size: 14px;
    color: #fff;
    background-color: $MAIN_COLOR$;
    padding: 5px 20px;
}





.bg-primary, .block-footer .copy-right {
    background-color: $MAIN_COLOR$ !important;
}

.text-primary {
    color: $MAIN_COLOR$!important;
}

.border-primary {
    border-color: $MAIN_COLOR$ !important;
}

.hover-border-primary:hover {
    border-color: $MAIN_COLOR$ !important;
}

a.text-primary:focus, a.text-primary:hover, a.text-light:hover {
    color: $MAIN_COLOR$!important;
}

a.hover-primary:hover {
    color: $MAIN_COLOR$!important;
}

a.hover-btn-primary:hover {
    background-color: $MAIN_COLOR$ !important;
    color: #fff !important;
}

.btn-hover-primary:hover {
    background-color: $MAIN_COLOR$ !important;
    border-color: $MAIN_COLOR$ !important;
}

.breadcrumb .breadcrumb-item:last-child, .breadcrumb .breadcrumb-item:last-child a {
    color: $MAIN_COLOR$;
}

.paginate ul.nav a.page-current,
.paginate ul.nav a:hover{
    font-weight: 400;
    color: $MAIN_COLOR$;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: $MAIN_COLOR$ !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: $MAIN_COLOR$;
    background-color: #fff;
    box-shadow: none;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    position: absolute;
    top: .45rem;
    left: -1.3rem;
    background: $MAIN_COLOR$;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: none;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: $MAIN_COLOR$;
    border-color: $MAIN_COLOR$;
}
.pagination .page-link:hover {
    background-color: $MAIN_COLOR$;
    color: #fff;
}

.user-login:hover {
    border-color: $MAIN_COLOR$ !important;
}

.block-header-menu .navbar-nav .nav-link.active,
.block-header-menu .navbar-nav .nav-link:hover,
.block-header-menu .navbar-nav li a:hover,
.block-header-menu .navbar-nav li a.active {
    color: $MAIN_COLOR$;
}

.block-header-menu .navbar-nav .nav-link.active:before, .block-header-menu .navbar-nav .nav-link:hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $MAIN_COLOR$;
    left: 0;
    bottom: -1px;
}

.count {
    position: absolute;
    top: -4px;
    right: -8px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $MAIN_COLOR$;
}

@media screen and (max-width:991px) {
    .block-header-menu .navbar-nav .nav-link.active, .block-header-menu .navbar-nav .nav-link:hover {
        color: $MAIN_COLOR$;
    }
}

.box-blackground {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    background-color: $MAIN_COLOR$;
    top: -50px;
    left: -30px;
    z-index: 1;
}

.list-radio-color .form-check-input:checked~.form-check-label {
    border: 1px solid $MAIN_COLOR$;
}

.box-product-filter#product-price .ui-slider-horizontal .ui-slider-range{
    position: absolute;
    height: 4px;
    background: $MAIN_COLOR$;
}

.box-product-filter#product-price .ui-state-default, .ui-widget-content .ui-state-default{
    position: absolute;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    top: -0.35em;
    background: $MAIN_COLOR$;
    border: 1px solid $MAIN_COLOR$;
    outline: none;
    cursor: pointer;
}


.buy-now.bg-primary:hover {
    background-color: $MAIN_COLOR$ !important;
}

.product-tab .nav-tabs .nav-link.active, .product-tab .nav-tabs .nav-link:hover {
    padding: 15px 40px;
    color: #F9FAFB;
    background: $MAIN_COLOR$;
}

/* $BUTTON_COLOR$ */
.pro-overlay .buy-now,.buy-now.bg-primary:hover,
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover,
.form-subcribe .form-submit,
#contact-form .border-primary,
.main-bg,.order-bestme .bestme-table--cart thead th, .order-bestme .bestme-btn--primary
{
    background-color: $BUTTON_COLOR$ !important;
}
.order-bestme .bestme-table--cart thead{
    border: 0.1rem solid $BUTTON_COLOR$ !important;
}
#contact-form .border-primary,
.list-inline-item .border-primary,
.list-inline-item .border-primary .text-primary

{
    border-color:  $BUTTON_COLOR$ !important;
}

a.text-primary:focus, a.text-primary:hover, a.text-light:hover,
.list-inline-item .text-primary
{
    color: $BUTTON_COLOR$ !important;
}
.btn-primary {
    background-color: $BUTTON_COLOR$ !important;
    border-color: $BUTTON_COLOR$ !important;
}

