{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
        <div class="owl-carousel owl-slide owl-banner" data-time="{{ slideshow.transition_time }}">
            {% for slide in slideshow.slides %}
                {% if slide['type'] == 'video' %}
                    <div class="item">
                        <div id="video-slideshow-{{ key }}" class="video-slideshow"
                             data-video-url="{{ slide['video-url'] }}">
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}"><img
                                    class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"/></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
<!-- Block-saleoff-product -->
{% for k, block in blocks %}
    {% if block['collections'] is not empty %}
        <section id="block-hot-product-{{ k }}" class="block-product block-saleoff-product {{ block.bestme_block_preview_class }}">
            <div class="container">
                <div class="block-head header-font header-color">
                    <h3>{{ block['title'] }}</h3>
                </div>
                <div class="row">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} col-{{ 12 / block['grid'] }} collection">
                            <div class="product-item">
                                <div class="thumb-product">
                                    <div class="product-img">
                                        <a href="{{ collection['url'] }}"><img class="img-fluid lazyload" data-src="{{ collection['image'] }}" alt=""></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4 class="name header-font">
                                        <a href="{{ collection['url'] }}" title="{{ collection.title }}">
                                            {{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% else %}
        <section id="block-hot-product-{{ k }}" class="block-product block-saleoff-product {{ block.bestme_block_preview_class }}">
            <div class="container">
                <div class="block-head header-font header-color">
                    <h3>{{ block['title'] }}</h3>
                </div>
                <div class="owl-carousel owl-slide owl-saleoff-product-{{ k }}" data-number-item="{{ block['grid'] }}"
                     data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                    {%for k,product in block['products'] %}
                        <div class="item">
                            <div class="product-item">
                                <div class="thumb-product">
                                    <div class="product-status">
                                        {% if product['percent_sale'] is not empty %}
                                            <div class="status-item main-color">{{ product['percent_sale'] }}</div>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <div class="status-item">Hết hàng</div>
                                        {% endif %}
                                    </div>
                                    <div class="product-img">
                                        <a href="{{ product['href'] }}"><img class="img-fluid lazyload" data-src="{{ product['thumb'] }}" alt=""></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4 class="name header-font">
                                        <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                    </h4>
                                    <div class="price-display">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                                {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <div class="price-new header-font header-color text-truncate">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price" title="{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}">
                                                            {{ product['compare_price_master'] | replace({'VND': 'đ'}) }}
                                                        </span>
                                                    {% else %}
                                                        <span class="price" title="{{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}">
                                                            {{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}
                                                        </span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price" title="{{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}">{{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="price-new header-font header-color text-truncate">
                                                    {% if product['max_price_version'] is null %}
                                                        <span class="price" title="{{ product['price_master'] | replace({'VND': 'đ'}) }}">{{ product['price_master'] | replace({'VND': 'đ'}) }}</span>
                                                    {% else %}
                                                        <span class="price" title="{{ product['min_price_version'] | replace({'VND': 'đ'}) }}">{{ product['min_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ <span class="price" title="{{ product['max_price_version'] | replace({'VND': 'đ'}) }}">{{ product['max_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="price-old header-font text-truncate">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        <span class="price" title="{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}">{{ product['compare_price_master'] | replace({'VND': 'đ'}) }}</span>
                                                    {% else %}
                                                        <span class="price" title="{{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}">{{ product['min_compare_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ <span class="price" title="{{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}">{{ product['max_compare_price_version'] | replace({'VND': 'đ'}) }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="action">
                                        <a href="{{ product['href'] }}" style="text-decoration: none">
                                            <button type="button" name="" id="" class="btn btn-addcart btn-lg btn-block">Thêm vào
                                                giỏ hàng</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- product -->
                </div>
            </div>
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                </div>
            </div>
        </section>
        {% if k == 0 %}
            <!-- block-ads-banner -->
            {% if banners_visible == '1' %}
                <section id="block-banner-1" class="block-ads-banner">
                    <div class="container">
                        <div class="row">
                            {% if banner_highlight['visible'] == '1' %}
                                <div class="col-sm-6 bestme-block-banner-1">
                                    <a target="_blank" href="{{ banner_highlight['url'] }}" title="{{ banner_highlight['description'] }}"><img class="img-fluid lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}"></a>
                                </div>
                            {% endif %}
                            {% if banner_left['visible'] == '1' %}
                                <div class="col-sm-6 bestme-block-banner-2">
                                    <a target="_blank" href="{{ banner_left['url'] }}" title="{{ banner_left['description'] }}"><img class="img-fluid lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {% endif %}
            <!-- /.block-ads-banner -->
        {% endif %}
    {% endif %}
{% endfor %}
<!-- /.Block-saleoff-product -->

{#<!-- block-ads-banner -->
{% if banners_visible == '1' %}
<section id="block-banner-1" class="block-ads-banner">
    <div class="container">
        <div class="row">
            {% if banner_highlight['visible'] == '1' %}
            <div class="col-sm-6 bestme-block-banner-1">
                <a target="_blank" href="{{ banner_highlight['url'] }}" title="{{ banner_highlight['description'] }}"><img class="img-fluid lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}"></a>
            </div>
            {% endif %}
            {% if banner_left['visible'] == '1' %}
            <div class="col-sm-6 bestme-block-banner-2">
                <a target="_blank" href="{{ banner_left['url'] }}" title="{{ banner_left['description'] }}"><img class="img-fluid lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}"></a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
<!-- /.block-ads-banner -->#}

{#<!-- block-top-sale-product -->
{% if best_sales_product_visible %}
    <section id="block-best-sales-product" class="block-product block-top-sale-product bestme-block-best-sales-product">
        <div class="container">
            <div class="block-head header-font header-color">
                <h3>{{ best_sales_product_title }}</h3>
            </div>
            <div class="owl-carousel owl-slide owl-best-sales-product" data-number-item="{{ best_sales_product_display_grid_quantity }}">
                {% for product in best_sales_product %}
                <!-- product -->
                <div class="item">
                        <div class="product-item">
                            <div class="thumb-product">
                                <div class="product-status">
                                    {% if product['percent_sale'] is not empty %}
                                        <div class="status-item main-color">{{ product['percent_sale'] }}</div>
                                    {% endif %}
                                    {% if product['product_is_stock'] == false %}
                                        <div class="status-item">Hết hàng</div>
                                    {% endif %}
                                </div>
                                <div class="product-img">
                                <a href="{{ product['href'] }}"><img class="img-fluid lazyload" data-src="{{ product['thumb'] }}" alt=""></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4 class="name header-font">
                                    <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </h4>
                                <div class="price-display">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="product-price">
                                        {{ contact }}
                                    </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <div class="price-new header-font header-color">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                                {% else %}
                                                    <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div class="price-new header-font header-color">
                                                {% if product['max_price_version'] is null %}
                                                    <span class="price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="price-old header-font">
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="action">
                                    <a href="{{ product['href'] }}" style="text-decoration: none">
                                    <button type="button" name="" id="" class="btn btn-addcart btn-lg btn-block">Thêm vào
                                        giỏ hàng</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.product -->
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- /.block-top-sale-product -->#}


{#<!-- block-new-product -->
{% if new_product_visible %}
<section id="block-new-product" class="block-product block-new-product bestme-block-new-product">
    <div class="container">
        <div class="block-head header-font header-color">
            <h3>{{ new_product_title }}</h3>
        </div>
        <div class="owl-carousel owl-slide owl-new-product" data-number-item="{{ new_products_display_grid_quantity }}">
            {% for product in new_products %}
                <!-- product -->
                <div class="item">
                    <div class="product-item">
                        <div class="thumb-product">
                            <div class="product-status">
                                {% if product['percent_sale'] is not empty %}
                                    <div class="status-item main-color">{{ product['percent_sale'] }}</div>
                                {% endif %}
                                {% if product['product_is_stock'] == false %}
                                    <div class="status-item">Hết hàng</div>
                                {% endif %}
                            </div>
                            <div class="product-img">
                            <a href="{{ product['href'] }}"><img class="img-fluid lazyload" data-src="{{ product['thumb'] }}" alt=""></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4 class="name header-font">
                                <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                            </h4>
                            <div class="price-display">
                                {% if product['is_contact_for_price'] %}
                                    <span class="product-price">
                                        {{ contact }}
                                    </span>
                                {% else %}
                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                        <div class="price-new header-font header-color">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">
                                                    {{ product['compare_price_master'] }}
                                                </span>
                                            {% else %}
                                                <span class="price">
                                                    {{ product['min_compare_price_version'] }}
                                                </span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="price-new header-font header-color">
                                            {% if product['max_price_version'] is null %}
                                                <span class="price">{{ product['price_master'] }}</span>
                                            {% else %}
                                                <span class="price">{{ product['min_price_version'] }}</span>
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="price-old header-font">
                                            {% if product['max_compare_price_version'] is null %}
                                                <span class="price">{{ product['compare_price_master'] }}</span>
                                            {% else %}
                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="action">
                                <a href="{{ product['href'] }}" style="text-decoration: none"><button type="button" name="" id="" class="btn btn-addcart btn-lg btn-block">Thêm vào
                                        giỏ hàng</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.product -->
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<!-- /.block-new-product -->#}
<div class="bestme_app_after_product">

</div>
<!-- block-ads-banner -->
{% if banners_visible == '1' and banner_middle['visible'] == '1' %}
    <div id="block-banner-2" class="block-ads-banner block-ads-big bestme-block-banner-3">
        <a target="_blank" href="{{ banner_middle['url'] }}" title="{{ banner_middle['description'] }}"><img width="100%" class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}"></a>
    </div>
{% endif %}
<!-- /.block-ads-banner -->

<!-- News home -->
{% if latest_blog %}
    <!-- block-blog -->
    <div id="block-blog" class="block-blog">
        <div class="container">
            <div class="block-head header-font header-color">
                <h3>{{ blog_title }}</h3>
            </div>
            <div class="row">
                {% for key, blog in latest_blog %}
                    {% if key < 3 %}
                        <div class="col-lg-4">
                            <div class="blog-item">
                                <div class="thumb">
                                        {% if blog['type'] == 'video' %}
                                            <div id="blog-thumb-video-{{ key }}" class="blog-thumb-video" style="width: 100%; height: 100%"
                                                 data-video-url="{{ blog['video_url'] }}"></div>
                                        {% else %}
                                            <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}" class="img-fluid" alt="{{ blog['title'] }}">
                                            </a>
                                        {% endif %}
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="{{ blog['link'] }}" title="{{ blog['title'] }}">{{ blog['title'] }}</a>
                                    </h5>
                                    <div class="meta">
                                        <span class="date">{{ blog['date_added']|date("d/m/Y") }}</span>
                                        bởi
                                        <a href="#">{{ blog['lastname'] }} {{ blog['firstname'] }} </a>
                                    </div>
                                    {#<div class="view">3.500 lượt xem</div>#}
                                    <div class="desc">
                                        <p>{{ blog['short_content']|length > 180 ? blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...' : blog['short_content']|html_entity_decode|striptags }}</p>
                                    </div>
                                    <div class="view-more">
                                        <a class="header-color " href="{{ blog['link'] }}">Đọc tiếp</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.block-blog -->
{% endif %}
<!-- /.News home -->

<!-- Rate -->
{% if rate_visible == 1 %}
    <div class="container">
        <div class="box-rate with-tab mb-3 bestme-block-rate-website">
            <div class="block-head header-font header-color" style="text-align: center;margin-bottom: 30px;">
                <h3>{{ rate_config.setting.title ? rate_config.setting.title : 'Đánh giá website' }}</h3>
            </div>
            {#slide rate #}
            <div id="owl-rate" class="owl-carousel owl-theme"
                 data-autoplay="{{ rate_config.setting.autoplay }}"
                 data-autoplay_time="{{ rate_config.setting.autoplay_time }}"
                 data-loop="{{ rate_config.setting.loop }}"
                 data-number_items="{{ rate_config.display.grid }}"
            >
                {% set items_per_slide = rate_config.display.grid * rate_config.display.row %}
                {% for rate_website in rate_website_all %}
                    {% if 1 == items_per_slide or 1 == loop.index % items_per_slide %}
                        <div class="slide-item" >
                        <div class="row m-0">
                    {% endif %}
                    <div class="item-rate col-{{ 12/rate_config.display.grid }} pb-5">
                        <div class="avatar">
                            <img src="{% if rate_website['image'] %}{{ rate_website['image'] }}{% else %}/image/placeholder.png{% endif %}" alt="{{ rate_website['alt'] }}">
                        </div>
                        <div class="customer-name">
                            <h3>{{ rate_website['customer_name'] }}</h3>
                        </div>
                        <div class="content">
                            <div class="icons">
                                <div class="icon">
                                    <img src="/catalog/view/theme/furniture_sfurniture/img/icons/comma.svg" alt="icon">
                                </div>
                                <div class="icon">
                                    <img src="/catalog/view/theme/furniture_sfurniture/img/icons/comma.svg" alt="icon">
                                </div>
                            </div>
                            <div class="text-content">
                                <p>
                                    {{ rate_website['content']|length > 100
                                    ? rate_website['content']|striptags|slice(0, 100) ~ '...'
                                    : rate_website['content']|striptags }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if 0 == loop.index % items_per_slide or loop.last %}
                        </div> <!-- End col product -->
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<!-- block-partner -->
{% if partners_visible == '1' %}
    <div id="block-partner" class="block-partner bestme-block-partner">
        <div class="container">
            <div class="block-head header-font header-color">
                <h3>{{ partners_title }}</h3>
            </div>

            <div class="owl-carousel owl-theme owl-partner" data-limit-inline="{{ partners_limit_per_line }}" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-interval="{{ slideshow.transition_time }}">
                {% for partner in partners %}
                    <div class="item">
                        <a href="{{ partner.url }}"><img class="lazyload" data-src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-partner -->
{#<style>#}
    {#.owl-nav{display: block !important}#}
{#</style>#}
<div class="bestme_app_before_footer">

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.owl-saleoff-product-{{ k }}').length > 0) {
            const autoplayTime = undefined === jQuery('.owl-saleoff-product-' + '{{ k }}').data('autoplay_time') ? 5 : jQuery('.owl-saleoff-product-' + '{{ k }}').data('autoplay_time')
            $('.owl-saleoff-product-{{ k }}')
                .on("initialized.owl.carousel", function (e) {
                    {% if block['collections'] is empty %}
                    resizeHeightElementRatio('.owl-saleoff-product-{{ k }} .product-item .thumb-product .product-img');
                    {% endif %}
                })
                .owlCarousel({
                    loop: undefined !== jQuery('.owl-saleoff-product-' + '{{ k }}').data('loop') && 1 == jQuery('.owl-saleoff-product-' + '{{ k }}').data('loop'),
                    margin: 30,
                    nav: true,
                    autoplay: undefined !== jQuery('.owl-saleoff-product-' + '{{ k }}').data('autoplay') && 1 == jQuery('.owl-saleoff-product-' + '{{ k }}').data('autoplay'),
                    autoplayTimeout: autoplayTime * 1e3,
                    navText: ["<img src='catalog/view/theme/fashion_zork/images/arow-left.png'>", "<img src='catalog/view/theme/fashion_zork/images/arow-right.png'>"],
                    dots: false,
                    responsive: {
                        0: {
                            items: jQuery('.owl-saleoff-product-' + '{{ k }}').attr('data-number-item'),
                        },
                        576: {
                            items: jQuery('.owl-saleoff-product-' + '{{ k }}').attr('data-number-item'),
                        },
                        769: {
                            items: jQuery('.owl-saleoff-product-' + '{{ k }}').attr('data-number-item'),
                        },
                        991: {
                            items: jQuery('.owl-saleoff-product-' + '{{ k }}').attr('data-number-item'),
                        },
                        1200: {
                            items: jQuery('.owl-saleoff-product-' + '{{ k }}').attr('data-number-item'),
                        }
                    }
                });
            }
        {% endfor %}
    });
</script>
{{ footer }}
<script src="/catalog/view/theme/default/js/home_video.js"></script>
<script>
    if (homeVideo) {
        homeVideo.init({
            sliderType: 'owl_carousel',
            videoCarouselElements: $('.video-slideshow'),
            postThumbnailElements: $('.blog-thumb-video'),
            slideshowSelector: '.owl-banner',
            slideshowHeight: '1000px'
        });
    }
</script>
<style>
    .item-rate {
        text-align: center;
    }
    #owl-rate .owl-dots {
        text-align: center;
    }
    .item-rate .avatar {
        width: 80px;
        height: 80px;
        margin: auto;
        border-radius: 1000px !important;
        overflow: hidden;
    }
    .item-rate .customer-name h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #3F4755;
        padding: 16px;
    }
    .item-rate .content .icons {
        padding: 17px 20px 34px 20px;
    }
    .item-rate .content .icon {
        width: 12px;
        height: 20px;
        float: left;
    }
    .item-rate .content {
        background: #0058AB;
        max-width: 350px;
        margin: auto;
    }
    .item-rate .content .text-content{
        clear: left;
        padding: 0px 20px 1px 20px;
        text-align: justify;
        color: white;
    }

</style>