{{ header }}

<main id="main-wrapper">
    <!-- Main Content -->
    <div class="main-content pb-3">
        <div class="page-banner my-lg-4 my-3 page-banner-with-image">
            <div class="container text-center text-white py-lg-4 py-3">
                <h1 class="mt-lg-4 mt-3"># {{ content.title }}</h1>
                <nav aria-label="breadcrumb" class="breadcrumb mx-auto d-block">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ content.title }}</li>
                    </ol>
                </nav>
                <!-- End breadcrumb -->
            </div> <!--End container-->
        </div> <!--End page-banner-->

        <div class="container">
            <div class="wrap-auth-form col-12 col-lg-7 mx-auto mb-5">
                <div class="text-center">
                    <h1 class="page-title mt-4 mb-lg-4">{{ content.title }}</h1>
                </div>

                <div class="mail-success text-justify px-3 pb-4 px-lg-5 bg-white">
                    {{ content.description|html_entity_decode }}
                </div>
            </div>
            <!-- End wrap-form-login -->
        </div>
        <!-- End: container -->
    </div>
    <!-- End: main content -->
</main>

{{ footer }}