{{ header }}

<h1>AAAAAA</h1>

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <h5>{{ txt_search_result|upper }}</h5>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="product-views">
                        <div class="view-content row">
                            {% for product in products %}
                                <div class="col-6 col-md-3">
                                    <div class="product-item text-center">
                                        <div class="img">
                                            <a href="{{ product.href }}"><img width="200px" src="{{ product.thumb }}"></a>
                                        </div>
                                        <a href="{{ product.href }}" class="link">{{ product.name }}</a>
                                        <span class="price">{{ product.price }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div> <!-- End row -->
                    </div> <!-- End product-views -->
                </div>

            </div>
        </div>
        <nav class="float-right" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}