.profile-sidebar .avatar img{
	width: 35px;
	height: 35px;
	overflow: hidden;
	background: #C4C4C4;
	border-radius: 100%;
	overflow: hidden;
}
.profile-sidebar ul.nav li.nav-item{
	display: inline-block;
	width: 100%;
}
.profile-sidebar ul.nav a{
	padding: 8px 10px;
	line-height: 22px;
	display: inline-block;
	width: 100%;
	color: #3C3C3C;
	font-weight: 600;
	margin-bottom: 5px;
}
.profile-sidebar ul.nav a i{
	width: 15px;
    text-align: center;
    margin-right: 10px;
}
.profile-sidebar ul.nav a.active,
.profile-sidebar ul.nav a:hover{
	background: #EBEBEB;
}