.home #main-wrapper {
    padding-top: 0;
}
.home-slider .banner-img,
.box-banner .banner-img{
    position: relative;
    padding: 30% 0;
    display: inline-block;
    width: 100%
}
.box-banner.banner-middle .banner-img{
    padding: 0;
    width: initial;
}
.home-slider .banner-img img,
.box-banner .banner-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.box-banner.banner-middle .banner-img img {
    position: initial;
    object-fit: scale-down;
}
.home-slider .banner-img img{
    height: 100%;
}
#main-wrapper {
    padding-top: 75px;
}
#carouselBanner .carousel-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(60, 60, 60, 0.4);
}
.slider-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    max-width: 500px;
    margin: auto;
}
.page-slider .carousel-indicators li {
    width: 11px;
    height: 11px;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}
.page-slider .carousel-indicators li.active {
    background-color: #fff;
}
.product-info ol.carousel-indicators {
    position: relative;
    margin: 10px 0px 0px;
}
.product-info .carousel-indicators li {
    width: 60px;
    height: 60px;
    margin: 0px 5px;
    text-indent: unset;
    opacity: 1;
    border: 0;
}
/* Banner */
.banner-item {
    padding: 45% 0;
    overflow: hidden;
    position: relative;
}
.banner-item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
/* End: Banner */

/* Custommer */
.custommer-avt {
    height: 130px;
}
/* End: Custommer */

/* Product */
.page-title {
    border-radius: 50px;
    position: relative;
    padding: 40px 0px;
}
.old-price {
    text-decoration: line-through;
}
.pro-overlay .btn {
    min-width: 115px;
}
.pro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.pro-thumb:hover .pro-overlay {
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
.pro-action a {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
}
.add-favourite span:before {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-weight: 400;
}
.add-favourite.added span:before, .add-favourite:hover span:before {
    font-weight: 900;
}
.pro-item .pro-thumb{
    padding: 50% 0;
    overflow: hidden;
}
.pro-item a.pro-item-title{
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-item .news-thumb{
    padding: 55% 0;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.news-item .news-thumb img,
.pro-item .pro-thumb >img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    margin: auto;
}
.pro-item .pro-price{
    height: 45px;
}
.pro-item .pro-price >span{
    width: 100%;
    display: inline-block;
    margin: 0 5px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pro-thumb .pro-list-type {
    position: absolute;
    top: 15px;
    left: 0;
}
.pro-disabled .pro-overlay {
    display: none !important;
}
.pro-disabled .pro-info * {
    color: #ABABAB !important;
    pointer-events: none;
}
.product-filter {
    position: relative;
    top: -20px;
    z-index: 10;
}
.dropdown-filter .dropdown-toggle{
    padding-right: 15px !important;
    margin-bottom: 5px;
}
.dropdown-filter .dropdown-toggle::after {
    position: absolute;
    top: 12px;
    right: 0;
    content: "";
    border: 0;
    width: 10px;
    height: 5px;
    margin-left: 10px;
    vertical-align: 2px;
    background: url('/catalog/view/theme/fashion_luvibee_3/img/icons/i-dropdown.png') no-repeat center;
    background-size: cover;
}
.payment-contact .dropdown-filter .dropdown-toggle::after {
    right: 10px;
}
.dropdown-filter .btn:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-filter .dropdown-menu {
    min-width: 180px;
    width: 100%;
    padding: 20px 12px;
    border: 0;
    margin-top: -15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-filter .dropdown-item:focus, .dropdown-filter .dropdown-item:hover {
    color: #7CC2EA !important;
    background-color: transparent;
}
.block-head h2 {
    line-height: 29px;
}
.brand-search input {
    height: 29px;
    background: url('/catalog/view/theme/fashion_luvibee_3/img/icons/i-search.png') no-repeat right 10px center;
}
.overflow-scrolly {
    height: 170px;
    overflow-y: scroll;
}
.overflow-scrolly::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.overflow-scrolly::-webkit-scrollbar-thumb {
    background-color: rgba(111, 111, 111, 0.15);
    border: 2px solid rgba(111, 111, 111, 0.15);
}
.count-product {
    vertical-align: sub;
}
.pro-item .btn {
    min-height: auto;
}
/* End: Product */

/* Sidebar */
.accordion .collapsed i {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* End: Sidebar */

.custom-number-input-wrapper{
    display: flex;
    flex-wrap: nowrap;
}
.buy-total button {
    border: 0;
    font-weight: 600;
    font-size: 16px;
    color: #454545;
    background-color: transparent;
}
.cart-listing .buy-total button {
    background-color: #717171;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-weight: 300
}
.buy-total button:focus {
    outline: none;
}
.buy-total .custom-number-input {
    max-width: 50px;
}
.color-size .form-control {
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.line-border {
    height: 4px;
    width: 100%;
}
.form-comment {
    max-width: 570px;
}
.form-comment .form-control {
    height: 33px;
}
.list-thumb-small img {
    width: 60px;
}
.product-info #carouselProDetail {
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 50px 50px 0px;
}
.product-info .pro-thumb-detail .carousel-thumb {
    width: 15%;
    float: left;
    margin: 0;
    height: 527px;
}
.product-info .pro-thumb-detail .carousel-inner {
    width: 85%;
    float: right;
    margin: 80px 0px;
}
.title-type {
    vertical-align: text-top;
}
.list-radio-color .form-check-label {
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 4px;
}
.list-radio-color .form-check-label span {
    width: 22px;
    height: 22px;
    border-radius: 5px;
}
.list-radio-color .form-check-input:checked~.form-check-label {
    border: 1px solid #B1B1B1;
}
.list-radio-size .form-check-label {
    font-size: 14px;
    color: #454545;
    border: 1px solid #D0D0D0;
    min-width: 35px;
    height: 22px;
    padding: 0 3px;
    margin-bottom: 5px;
}
.list-radio-size .form-check-input:checked~.form-check-label {
    border: 1px solid #FCC030;
    background: #FCC030;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
}
/* Cart */
.cart-table .table td, .cart-table .table th {
    vertical-align: middle;
    padding-left: 3%;
    padding-right: 3%;
}
.discount-code {
    max-width: 300px;
}
.discount-code .form-control {
    height: 33px;
}

/* End: Cart */
.other-address > a {
    text-decoration: underline;
}
.payment-info .discount-code {
    max-width: 100%;
}
.other-address {
    max-width: 515px;
}
.wrap-payment-success {
    height: 50vh;
}
.status-txt {
    background: url('/catalog/view/theme/fashion_luvibee_3/img/icons/i-success.png') no-repeat right center;
}
.more-buy {
    text-decoration: underline;
}
.order-history .table td, .order-history .table th {
    border-top: 0;
}
tr.order-item.first-item:after {
    background-color: #454545;
}
tr.order-item:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #e7e7e7;
    left: 5%;
}
.order-history td {
    padding-left: 5%;
    padding-right: 5%;
}
.list-address-info label {
    min-width: 110px;
}
/* Login */
.fogot-password {
    text-decoration: underline;
}
#hide-pass {
    position: absolute;
    bottom: 4px;
    right: 4px;
}
#show-pass {
    margin-right: 4px;
}
.form-register #show-pass {
    position: absolute;
    bottom: 4px;
    right: -30px;
}
/* End: Login */
/* Blog */
.wrap-box-news {
    max-width: 1200px;
    height: 314px;
    margin: auto;
    background: #FFEAC1;
    margin-top: -248px;
}
.news-info .news-number {
    position: absolute;
    bottom: 49px;
    left: 10px;
}
.nav-news {
    max-width: 590px;
}
.single-title {
    letter-spacing: 0.1em;
}
/* End: Blog */
/* Payment */
.payment-form {
    max-width: 450px;
}
.payment-form .form-check .form-check-label {
    border: 1px dashed #787878;
}
.payment-form .form-check .form-check-input:checked ~ .form-check-label {
    border: 1px solid #7CC2EA;
}
/* End: Payment */
.search-no-result {
    height: 100vh;
    background-color: rgba(242, 242, 242, 0.85);
}
.search-no-result p {
    color: #6B6B6B;
}
.search-box-ajax {
    position: absolute;
    width: 100%;
    top: 30px;
    border-radius: 15px;
    border: 1px solid #EDEDED;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5px;
    padding: 15px 20px;
}
.product-teaser-fix{
    position: fixed;
    width: 100%;
    left: 0;
    top: 65px;
    background: #fff;
    z-index: 98;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
    display: none;
    padding: 1em 0;
}
.page-banner{
    max-height: 580px;
    overflow: hidden;
}
.page-banner img{
    width: 100%;
}

/* Login */
.wrap-form-login .social-login a{
    width: 45%;
    background: #3B5998;
    border-radius: 2px;
    color: #fff;
    line-height: 38px;
}
.wrap-form-login .social-login a:hover{
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.23);
    opacity: 0.9;
}
.wrap-form-login .social-login a.google-button{
    background: #4285F4;
}
.wrap-form-login .social-login a i{
    top: 3px;
}
.fogot-password {
    text-decoration: underline;
}
.form-register #show-pass {
    position: absolute;
    bottom: 4px;
    right: -30px;
}
/* End: Login */

.profile-nav{
    margin-bottom: 30px;
}
.profile-nav h2{
    padding: 0.7rem 1rem;
    text-transform: uppercase;
}
.profile-nav ul.nav .nav-item{
    display: inline-block;
    width: 100%;
    padding: 0 1rem;
}
.profile-nav ul.nav .nav-item a{
    color: #262626;
    text-transform: uppercase;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 0;
}
.profile-nav ul.nav .nav-item a.active,
.profile-nav ul.nav .nav-item a:hover{
    color: #7CC2EA;
}

.owl-carousel.owl-product .owl-nav button[class*=owl-]{
    box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.25);
    height: 48px;
    width: 48px;
    margin: 0;
    line-height: 55px;
    opacity: 0.8;
    transition: all 0.2s ease;
    transform: translateY(-100%);
    top: 50%;
    left: -55px;
    position: absolute;
    right: auto;
    background: #FFFFFF;
    border-radius: 100%;
    font-size: 24px;
    text-align: center;
}
.owl-carousel.owl-product .owl-nav button.owl-next{
    left: auto;
    right: -55px;
}
.owl-carousel.owl-product .owl-nav button[class*=owl-]:hover,
.owl-carousel.owl-product .owl-nav button[class*=owl-]:focus,
.owl-carousel .owl-nav button[class*=owl-]:hover,
.owl-carousel .owl-nav button[class*=owl-]:focus
{
    background: none;
    outline: none;
    opacity: 1;
}
.owl-carousel .owl-nav button[class*=owl-] i{
    background: #999;
}

/*!*css menu multi*!*/
#menu-product {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu-product ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

#menu-product li a {
    color: #454545;
    font-size: 13px !important;
    text-transform: uppercase!important;
    padding: 4px 40px 4px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#menu-product li a:hover {
    text-decoration: none;
    color: #7CC2EA;
}


#menu-product ul li {
    position: relative;
}

#menu-product .sub-menu-2 {
    display: none;
    margin-left: 30px;
}

.dropdown-menu-product {
    transform: translate3d(0px, 44px, 0px) !important;
}

#menu-product .sub-menu-2 .sub-menu-3 {
    display: none;
    margin-left: 30px;
}

#menu-product  .active > ul {
    display: block;
}

#menu-product  .active .active > ul {
    display: block;
}

#menu-product ul .list-item::before {
    height: 28px;
    font-family: 'Font Awesome 5 Free';
    padding: 0 10px;
    content: "\f105";
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666666;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
}

#menu-product ul .active::before {
    content: "\f107" !important;
}

#menu-product .sub-menu .selected > a {
    color: #7CC2EA;
}

#menu-product .sub-menu a {
    border: none;
    display: block;
}

.single-item .accodition {
    display: none;
}
.dropdown-filter .dropdown-menu {
    min-width: 300px !important;
    overflow-x: none;
}

.dropdown-filter .dropdown-menu-product {
    min-width: 300px !important;
}

.dropdown-item-filter {
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-filter-list {
    max-height: 320px;
    overflow-y: auto;
}