<div class="sidebar-content bestme-block-filter-1">
    {% if visible_category == 1 %}
        <div class="box-product-filter" id="product-category">
            <h2 class="block-title block-title-category">{{ visible_category_title }}</h2>
            {% include 'default/template/common/category_list_template.twig' %}
        </div> <!-- End product category -->
    {% endif %}

    {% if visible_supplier == 1 %}
    <div class="box-product-filter" id="product-provider">
        <h2 class="block-title block-title-manufacturer" data-toggle="collapse" data-target="#manufacturer" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">{{ visible_supplier_title }}</h2>
        <div class="navbar-toggler mt-1 navbar-category" data-toggle="collapse" data-target="#manufacturer" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon icon-chevron-down ml-3 font-10"></i>
        </div>
        <div style="clear: both"></div>
        <div class="collapse navbar-collapse" id="manufacturer">
            <nav class="nav flex-column">
                {% for manufacturer in manufacturers %}
                    <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>
                {% endfor %}
            </nav>
        </div>
    </div> <!-- End product provider -->
    {% endif %}

    {% if visible_product_price == 1 %}
    <div class="box-product-filter" id="product-price">
        <h2 class="block-title border-bottom">Khoảng giá</h2>
        <div class="price-range py-3 font-16">
            <div class="mb-3" id="slider-range"></div>
            <span id="amount"></span>
            <input type="hidden" id="amount1" name="amount1">
            <input type="hidden" id="amount2" name="amount2">
            <a class="float-right font-16 border-0 text-uppercase font-weight-bold" id="price-filter-btn" href="javascript:;">Lọc</a>
        </div>
    </div> <!-- End product price -->
    {% endif %}

    {% if visible_collection == 1 %}
        <div class="box-product-filter" id="product-provider">
            <h2 class="block-title block-title-collection" data-toggle="collapse" data-target="#collection" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">{{ visible_collection_title }}</h2>
            <div class="navbar-toggler mt-1 navbar-category" data-toggle="collapse" data-target="#collection" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon icon-chevron-down ml-3 font-10"></i>
            </div>
            <div style="clear: both"></div>
            <div class="collapse navbar-collapse" id="collection">
                <nav class="nav flex-column">
                    {% for collection in collections %}
                        <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>
                    {% endfor %}
                </nav>
            </div>
        </div> <!-- End product collection -->
    {% endif %}

    {% if visible_tag == 1 %}
        <div class="box-product-filter" id="product-tag">
            <h2 class="block-title">TAGS</h2>
            {% include 'default/template/common/tag_filter_template.twig' %}
        </div> <!-- End product tag -->
    {% endif %}

    <div class="block-ads d-none">
        <a href="#"><img src=""></a>
    </div>

</div> <!-- End sidebar content -->
<script>
    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").text(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                $("#amount1" ).val(ui.values[ 0 ]);
                $("#amount2" ).val(ui.values[ 1 ]);
            }
        });
        $("#amount").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    $('#price-filter-btn').on('click', function(){
        var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var regexMin = new RegExp("&min=\\d+");
        var regexMax = new RegExp("&max=\\d+");
        url = url.replace(regexMin, '');
        url = url.replace(regexMax, '');
        // console.log(ui.values[1]);
        var min = $('#amount1').val();
        var max = $('#amount2').val();
        window.location.replace(url + '&min=' + min + '&max=' + max);
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }

</script>