
<!--    <div class="block-control">
        <div class="count-product header-font">
            Hiển thị tất cả <span>{{ customer_total }}</span> sản phẩm
        </div>
        <!--<div class="custom-selectag " >-->
      <!--  <div class="custom-selecta" >
            <select name="filterOpiton" class="filterOpiton" data-live-search="true">
                <option>Nền tảng</option>
                <option value="1">Theo tên: A-Z</option>
                <option value="2">Theo tên: Z-A</option>
                <option value="3">Theo giá: Từ cao đến thấp</option>
                <option value="4">Theo giá: Từ thấp đến cao</option>
            </select>

        </div>
    </div>-->

    <div class="list-product">
        <div class="row" id="product-content">
            {% for product in products %}
                <div class="col-sm-6 col-lg-4">
                    <div class="product-item">
                        <div class="thumb-product">
                            <div class="product-status">
                                {% if product.Percent_protduct %}<div class="status-item main-color">{{ product.Percent_protduct }}</div> {% endif %}
                                {% if product.quantity == 0 %} <div class="status-item">Hết hàng </div>{% endif %}
                            </div>
                            <div class="product-like">
                                <a name="" id="" class="btn btn-like" href="javascript:void(0)" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
                                        <path d="M21.4921 3.00805C20.9349 2.45087 20.2734 2.00888 19.5455 1.70733C18.8175 1.40579 18.0373 1.25058 17.2493 1.25058C16.4613 1.25058 15.6811 1.40579 14.9531 1.70733C14.2252 2.00888 13.5637 2.45087 13.0065 3.00805C12.5865 3.42805 12.2701 3.90505 12.0001 4.40155C11.7338 3.88995 11.3942 3.41998 10.9921 3.00655C9.8668 1.8813 8.34064 1.24915 6.7493 1.24915C5.15796 1.24915 3.6318 1.8813 2.50655 3.00655C1.3813 4.1318 0.749146 5.65796 0.749146 7.2493C0.749146 8.84064 1.3813 10.3668 2.50655 11.4921L12.0001 20.7501L21.4921 11.4921C22.0495 10.9352 22.4918 10.274 22.7936 9.54609C23.0953 8.81821 23.2506 8.038 23.2506 7.25005C23.2506 6.46211 23.0953 5.68189 22.7936 4.95401C22.4918 4.22614 22.0495 3.56488 21.4921 3.00805V3.00805Z" stroke="#25292C" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                            <a href="{{ product.href }}"><img class="img-fluid" src="{{ product.thumb }}" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <h4 class="name header-font">
                                <a href="{{ product.href }}" title="{{ product.name }}">{{ product.name }} </a>
                            </h4>
                            <div class="rating">
                                <form action="" class="clearfix">
                                    <div class="form-group">
                                        <input class="star star-5" id="star-5" type="radio" name="star">
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star">
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star">
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="star">
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" name="star">
                                        <label class="star star-1" for="star-1"></label>
                                    </div>
                                </form>
                            </div>
                            {% if product.multi_versions == 1 %}
                                <div class="price-new header-font header-color">
                                    <span class="price">{{ product.price_version_min }} </span> ~ <span class="price">{{ product.price_version_max }} </span>
                                </div>
                                <div class="price-old header-font">
                                    <span class="price">{{ product.compare_version_min }} </span> ~ <span class="price">{{ product.compare_version_max }} </span>
                                </div>
                            {% else %}
                                <div class="price-new header-font header-color">
                                    <span class="price number-format-3">{{ product.price }} </span>
                                </div>
                                <div class="price-old header-font">
                                    <span class="price">{{ product.compare_price }} </span>
                                </div>
                            {% endif %}
                            <div class="action">
                                <button type="button" name="" onclick="window.location='{{ product.href }}'" id="" class="btn btn-addcart" btn-lg="" btn-block "=" ">Thêm vào
                                giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}



        </div>
    </div>



