{{ header }}
<div class="container">
    <nav aria-label="breadcrumb" class="my-4 pt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
            <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="row">
                <div class="col-12 col-md-6 mt-3 mb-5 text-center d-flex">
                    <div class="title-left py-3 m-auto">
                        <h1 class="text-info fz-32 text-uppercase letter-spacing-0">Đăng nhập</h1>
                        <span class="text-light">Bạn chưa có tài khoản? <a class="ml-2 text-primary fw-500" href="{{ register }}">Đăng ký</a></span>
                    </div>
                </div> <!-- End col-md-6 -->
                <div class="col-12 col-md-6 mt-3 mb-5 ml-auto">
                    <!-- Hiện thông báo sau khi submit -->
                    <div class="py-5 text-center">
                        <i class="icon icon-letter fz-48 mb-3 main-bg"></i>
                        <p class="fz-16 text-dark">
                            Chúng tôi đã gửi thư khôi phục mật khẩu đến email<br>
                            {{ email }}<br>
                            Bạn vui lòng kiểm tra, thực hiện theo hướng dẫn và đăng nhập lại!
                        </p>
                    </div>

                </div> <!-- End col-md-6 -->
            </div> <!-- End row -->
        </div>
    </div> <!-- End row -->
</div>



{{ footer }}