{{ header }}

<!-- Breadcrumb -->
<section class="container">
  <ul class="breadcrumb">
    <li><a href="{{ home }}">Trang chủ</a></li>
    <li>Thông tin đơn hàng</li>
  </ul>
</section>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->
<div class="block-account-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-cart-head">
          <h1 class="header-font">Thông tin đơn hàng</h1>
        </div>
        <div class="block-table-history">
          {% include ('default/template/account/order_info_template.twig') %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.ELM PAGES -->

{{ footer }}