{{ header }}

<main class="content-wrapper clearfix">
    <div class="container" id="blogs-page">
        {#section blog-link-page#}
        <nav aria-label="breadcrumb" class="my-2 pt-4" id="blog-tab-page-news">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        {#section end-blog-link-page#}
        
        <div class="py-3">
            <div class="row">
                {#section blog-body-right-content#}
                    <div class="col-12 col-md-3 blogs-sidebar">
                    {#<div class="list-group">#}
                    {#  <a href="{{  blog.href }}" class="list-group-item list-group-item-action text-center font-18"><strong>DANH MỤC TIN</strong></a>#}
                    {#  <a href="{{ blog_category.url }}" class="list-group-item list-group-item-action">Nội thất phòng khách</a>#}
                    {#  <a href="{{ blog_category }}" class="list-group-item list-group-item-action">Nội thất phòng ăn</a>#}
                    {#  <a href="{{ blog_category['link'] }}" class="list-group-item list-group-item-action">Nội thất phòng ngủ</a>#}
                    {#  <a href="{{ blog['link'] }}" class="list-group-item list-group-item-action">Nội thất phòng tắm</a>#}
                    {#  <a href="{{ blog['link'] }}" class="list-group-item list-group-item-action">Nội thất phòng làm việc</a>#}
                    {#  <a href="{{ blog.url }}" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Ngoại thất</a>#}
                    {#</div>#}
                    
                    {#<nav class="navbar mb-3">#}
                    {#    <ul class="nav">#}
                    {#        <li class="nav-item active">#}
                    {#            <a href="" class="nav-link active">Headphone</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Audio</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">News</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Technology</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Electronics</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Business</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Accessories</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">Other</a>#}
                    {#        </li>#}
                    {#    </ul>#}
                    {#</nav>#}
                    <div class="block-side-blog">
                        {#<!-- side item -->#}
                        {#<div class="side-item">#}
                        {#    <h4 class="header-item">Bài viết mới</h4>#}
                        {#    <div class="list-related py-2">#}
                        {#        {% if blog_list_new is empty %}#}
                        {#            Không có bài viết#}
                        {#        {% else %}#}
                        {#            {% for blog in blog_list_new %}#}
                        {#                {% if loop.index < 5 %}#}
                        {#                    <div class="related-item">#}
                        {#                        <div class="row">#}
                        {#                            <div class="thumb col-4">#}
                        {#                                <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt=""></a>#}
                        {#                            </div>#}
                        {#                            <div class="content col-8">#}
                        {#                                <h5 class="type">#}
                        {#                                    {% for blog_category in blog['blog_categories'] %}#}
                        {#                                        {% if loop.index < 2 %}#}
                        {#                                            {{ blog_category['title'] }}#}
                        {#                                        {% else %}#}
                        {#                                            , {{ blog_category['title'] }}#}
                        {#                                        {% endif %}#}
                        {#                                    {% endfor %}#}
                        {#                                </h5>#}
                        {#                                <h3 class="name"><a href="{{ blog['link'] }}">{{ blog['title']|length > 30 ? blog['title']|slice(0, 30) ~ '...' : blog['title'] }}</a></h3>#}
                        {#                                <div class="meta">#}
                        {#                                    <div class="author">#}
                        {#                                        <p class="date">{{ blog['date_added']|date('d-m-Y') }}, bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                    </div>#}
                        {#                {% endif %}#}
                        {#            {% endfor %}#}
                        {#        {% endif %}#}
    
                        {#    </div>#}
                        {#</div>#}
                        {#<!-- /.side item -->#}
                        <!-- side item -->
                        <div class="side-item">
                            <h4 class="font-18 font-weight-400 text-center text-uppercase p-3">Danh mục tin</h4>
                            <ul class="block-cate">
                                {% for category in blog_category %}
                                    <li>
                                        <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /.side item -->
                        <!-- side item -->
                        {#<div class="side-item">#}
                        {#    <h4 class="header-item">Tags</h4>#}
                        {#    <div class="list-tags">#}
                        {#        {% for tag in tags %}#}
                        {#            <a href="{{ tag['link'] }}" class="{% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>#}
                        {#        {% endfor %}#}
                        {#    </div>#}
                        {#</div>#}
                        <!-- /.side item -->
                    </div>
                    
                    {#section blog-article-outstanding-news#}
                    <nav class="navbar mb-3 px-0 nav-blog-sidebar mt-5" id="blogs-view-most">
                        <h5 class="blog-sidebar-title py-3 m-0 pl-5"><strong>TIN NỔI BẬT</strong></h5>
                        <div class="blog-views m-0 py-3 w-100">
                            <div class="view-content">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index <= 5 %}
                                            <div class="blog-item font-12 m-0 mb-3">
                                                <div class="row m-0">
                                                    <div class="img col-5">
                                                        <a href="{{ blog['link'] }}">
                                                            <div class="rounded-0" style="background-image: url({{ blog['image'] }}); background-repeat: no-repeat; background-size: contain; width: 100%; height: 50px"></div>
                                                        </a>
                                                    </div>
                                                    <div class="blog-right col-7 p-0">
                                                        <a class="title font-14 m-0 line-height-1" href="{{ blog['link'] }}">{{ blog['title']|length > 40 ? blog['title']|slice(0, 40) ~ '...' : blog['title'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                    {#section end-blog-article-outstanding-news#}
                    
                    
                    {#section blog-article-banner#}
                    {#<div class="card mt-5 text-center">#}
                    {#    <img src="{{ theme_directory }}/img/shop-banner-bgt.png" class="w-100" alt="..."> #}
                    {#    <div class="card-img-overlay">#}
                    {#        <h4 class="card-title mt-3"><strong>ƯU ĐÃI ĐẶC BIỆT</strong></h4>#}
                    {#        <p class="card-text font-20">TRANG TRÍ NỘI THẤT</p>#}
                    {#        <button type="button" class="font-20" data-toggle="button" aria-pressed="false">SHOP NOW</button>#}
                            {#<p class="card-text">Last updated 3 mins ago</p>#}
                    {#    </div>#}
                    {#</div>#}
                    {#<div class="layout-view-more my-3 my-md-4 text-center">#}
                        {#<div class="layout-view-more-bg">#}
                        {#    <a href="#">Tìm hiểu thêm</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#section end-blog-article-banner#}
                    
                    
                    {#<nav class="navbar mb-3 px-0 nav-blog-sidebar" id="blogs-new-most">#}
                        
                    {#    <div class="blog-views m-0 py-3 w-100">#}
                    {#        <div class="view-content">#}
                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_1.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_3.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_4.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#            <div class="blog-item font-12 m-0 mb-3">#}
                    {#                <div class="row m-0">#}
                    {#                    <div class="img col-4 pl-2">#}
                    {#                        <a href="/bai-viet-moi">#}
                    {#                            <img class="rounded-0" src="catalog/view/theme/novaon/asset/img/blog_5.jpg">#}
                    {#                        </a>#}
                    {#                    </div>#}
                    {#                    <div class="blog-right col-8 p-0 pr-2">#}
                    {#                        <a class="title font-14 m-0 line-height-1" href="blog_detail.html">My EDB File corrupted in Exchange Server 2018</a>#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}

                    {#        </div>#}
                    {#    </div>#}
                    {#</nav>#}

                    {#<nav class="navbar mb-3">#}
                    {#    <h3 class="font-18 my-2 mb-3 px-2">Archive</h3>#}
                    {#    <ul class="nav">#}
                    {#        <li class="nav-item active">#}
                    {#            <a href="" class="nav-link active">February 2017</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">January 2017</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">September 2016</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">February 2016</a>#}
                    {#        </li>#}
                    {#        <li class="nav-item">#}
                    {#            <a href="" class="nav-link">August 2016</a>#}
                    {#        </li>#}
                    {#    </ul>#}
                    {#</nav>#}
                </div>
                {#section end-blog-body-right-content#}
                
                {#section blog-article-banner#}
                    <div class="col-12 col-md-9 blogs-content" id="blog-info-product">
                        <div class="blog-views border-0 p-4">
                            <div class="view-content">
                                <div class="row">
                                    {% if blog_list is empty %}
                                        <p class="blogs-empty">Không có bài viết</p>
                                    {% else %}
                                        {% for blog in blog_list %}
                                            <div class="blog-item mt-0">
                                                <div class="thumb text-center">
                                                    <a href="{{ blog['link'] }}"><img class="" src="{{ blog['image'] }}" alt="" style="width: 100%; height: 350px;"></a>
                                                </div>
                                                {#<h5 class="type-blog header-font">#}
                                                {#    {% for blog_category in blog['blog_categories'] %}#}
                                                {#        {% if loop.index < 2 %}#}
                                                {#            {{ blog_category['title'] }}#}
                                                {#        {% else %}#}
                                                {#            , {{ blog_category['title'] }}#}
                                                {#        {% endif %}#}
                                                {#    {% endfor %}#}
                                                {#</h5>#}
                                                <h3 class="name-blog header-font  mt-4"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>
                                                {#<div class="meta-blog">#}
                                                {#    <div class="author">#}
                                                {#        <span class="date">{{ blog['date_added']|date('d-m-Y') }}</span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>#}
                                                {#    </div>#}
                                                {#</div>#}
                                                <div class="desc">
                                                    {{ blog['short_content']|html_entity_decode|striptags }}
                                                </div>
                                                {#<a class="btn view-more header-font" href="{{ blog['link'] }}">ĐỌC TIẾP</a>#}
                                            </div>
                                        {% endfor %}
                                        <div class="text-center w-100 d-block" >{{ pagination }}</div>
                                        
                                    {% endif %}
                                
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End view content -->
                    </div> <!-- End blog view -->
                    {#section end-blog-article-banner#}
                </div>
            </div> <!-- End row -->
        </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}