{{ header }}

<div class="container">
<ul class="back-link">
    <li><a href="{{ home_link }}">Trang chủ</a></li>
    <li><a href="javascript:;">Liên hệ</a></li>
</ul>
</div>

<!-- ELM PAGES -->
<!-- /.ELM PAGES -->

<div class="contact-wp">
    <div class="container">
        <div class="row flex-reverse">
            {% if contacts_map %}
            <div class="col-lg-6">
                {{ contacts_map.address|html_entity_decode }}
            </div>
            {% endif %}
            {% if contact_config.visible == 1 %}
            <div class="col-lg-6">
                <h4>{{ contact_config.title }}</h4>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <form action="{{ href_submit_form }}" method="post">
                    <div class="form-group">
                        <label for="">Họ & Tên</label>
                        <input type="text" name="fullname" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                               id="" class="form-control" placeholder="Ví dụ: Nguyễn Văn A" aria-describedby="helpId" required>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="">Số điện thoại</label>
                                <input type="text" name="phone" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                       pattern="((0|\+84|84)+([0-9]{9})\b)" maxlength="15"
                                       id="" class="form-control" placeholder="Ví dụ: 0969310911" aria-describedby="helpId">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" name="email" id="" oninput="setCustomValidity('')"
                                       oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')"
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                       class="form-control" placeholder="Ví dụ: nguyenvana@gmail.com" required aria-describedby="helpId">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Nội dung góp ý</label>
                        <textarea name="your_mind"  oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-submit">Gửi</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>