{{ custom_header }}
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <div class="row">
                        <div class="col-md-7">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ breadcrumbs[1]['href'] }}">{{ heading_title }}</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ text_shopee_orders }}</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-default mt-4 ml-2 float-right rounded" style="border: solid 1px #ED592A; color: #ED592A;" type="button" id="sync-all" title="{{ text_update_information_order_bestme_admin_system }}">{{ txt_sync_all }}</button>
                            <button class="btn btn-pink mt-4 float-right" style="float: right" type="button" id="refresh" title="{{ text_collect_order_information_lazada_to_bestme }}">{{ txt_sync_refresh }}</button>
                        </div>
                    </div>

                    <div class="sub-head clearfix">
                    </div>
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible"><i
                                    class="fa fa-exclamation-circle"></i> {{ error }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i
                                    class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <div class="box-wrap">
                        <div class="box-head">
                            <div class="nav nav-tabs position-relative" id="order-form-tab" role="tablist">
                                <a class="active">{{ text_lazada_order_title }}</a>
                                <span class="position-absolute font-weight-500" style="top: 14px;right: 0;">{{ text_last_sync }}: &nbsp {{ last_sync_time_order }}</span>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="tab-content">
                                <form class="filter-form order-filter clearfix product-form-validate"
                                      action="{{ action_search }}">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="select-shops" class="col-sm-4 col-form-label">{{ text_current_stand }}</label>
                                                <div class="col-sm-8 select-shop-custom">
                                                    <select name="shop_selected" class="form-control select2" id="select-shops">
                                                        {% if shops %}
                                                            {% for key,shop in shops %}
                                                                <option value="{{ shop.id }}" data-href="{{ shop.url }}"
                                                                        {{ shop_selected == shop.id ? 'selected' : '' }}>
                                                                    {{ shop.shop_name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <i class="fa fa-caret-down down-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="status-sync" class="col-sm-4 col-form-label">{{ text_display_status_sync }}</label>
                                                <div class="col-sm-8 select-status-custom">
                                                    <select name="status_sync" class="form-control select2" id="status-sync">
                                                        <option value="99" selected>{{ text_all_status }}</option>
                                                        <option value="1" {% if filter and filter.status != null and filter.status == 1 %} selected {% endif %}>{{ status_sync_success }}</option>
                                                        <option value="0" {% if filter and filter.status != null and filter.status == 0 %} selected {% endif %}>{{ status_sync_error }}</option>
                                                        <option value="6" {% if filter and filter.status != null and filter.status == 6 %} selected {% endif %}>{{ text_status_not_yet_sync }}</option>
                                                    </select>
                                                    <i class="fa fa-caret-down down-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-group search-group">
                                                <div class="input-group-icon w-100">
                                                    <i class="icon icon-search"></i>
                                                    <input type="text" id="filter_name"
                                                           class="form-control search-input-icon"
                                                           placeholder="{{ text_order_search }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- End row -->
                                    <div class="filter-item"></div>
                                </form> <!-- End form filter -->
                                <div id="product-content" class="not-choose-product-list">
                                    {% include 'sale_channel/lazada_orders_append.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="font-14 mt-4">{{ text_order_error_not_in_process_remove_after_15_day }}</p>
                </div>
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>

<div id="image-loading"></div>

<!-- Modal sync product -->
<div class="modal fade" id="sync-order" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ txt_sync_orders }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p><i>{{ warning_sync_processing }}</i></p>
                <div class="text-pink" style="float: right"><span id="span1">0</span><span>/</span><span id="span2">0</span></div>
                <div>{{ txt_process }}</div>
                <div class="progress">
                    <div class="progress-bar bg-pink" id="progressbar" role="progressbar" style="width: 0%"></div>
                </div>
            </div>

            <div class="modal-footer d-none">
                <button type="button" class="btn btn-danger btn-pink" id="cancel-sync"
                        data-dismiss="modal">{{ button_cancel }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal error sync order -->
<div class="modal fade" id="errorSync" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ text_instructions_to_fix_orders_in_sync }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="status_error">
                    <p class="font-weight-bold mb-1">{{ text_order_error }}</p>
                    <p class="error_content"></p>
                </div>

                <div class="solution">
                    <p class="font-weight-bold mb-1">{{ text_order_solution }}</p>
                    <p class="solution_content"></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="noCallback"
                        data-dismiss="modal">{{ confirm_box_btn_no }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirm sync rf order -->
<div class="modal fade" id="confirmSyncRefreshOrder" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ txt_confirm_sync }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {{ text_confirm_sync_order_content }}
            </div>
            <input type="hidden" name="id">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="noSyncRf"
                        data-dismiss="modal">{{ confirm_box_btn_no }}
                </button>
                <button type="submit" form="abc" class="btn btn-pink" id="yesSyncRf">
                    {{ confirm_box_btn_yes }}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="goToConfig" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ text_shop_expired }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>{{ text_shop_expired_note }}</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal" id="not-go-to-config">{{ button_close }}</button>
                <a href="{{ go_to_config }}" class="btn btn-default btn-pink text-white">{{ text_go_to_config }}</a>
            </div>
        </div>
    </div>
</div>

<style>
    .select-shop-custom .down-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        opacity: 0.5;
    }
    .select-status-custom .down-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        opacity: 0.5;
    }
</style>

<script>
    $('.select2').select2({});

    $(document).ready(function () {
        showModalProcess();
        {% if shop_expired %}
        $('#goToConfig').modal('show');
        {% endif %}

        $('#select-shops').on('select2:select', function(e) {
            var href = $("#select-shops").select2().find(":selected").data("href");

            location.href = href;
        });

        $('#status-sync').on('select2:select', function(e) {
            filter();
        });

        $('#product-content').on('click', '.error-sync-status', function (e) {
            e.preventDefault();
            let error = $(this).data('error');
            let solution = $(this).data('solution');

            $('#errorSync .error_content').html(error);
            $('#errorSync .solution_content').html(solution);
        });
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var filter_name = $('#filter_name').val();
        var shop_selected = $('#select-shops').val();
        var status_sync = $('#status-sync').val();

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                shop_selected: shop_selected,
                status_sync: status_sync,
                page: page,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

    $('#sync-all').on('click', function () {
        $('#confirmSyncRefreshOrder input[name="id"]').val('all');
        $('#confirmSyncRefreshOrder').modal('show');
    });

    $('#product-content').on('click', '.sync-refresh', function () {
        let id_order = $(this).attr('data-id');

        $('#confirmSyncRefreshOrder').find('input[name="id"]').val(id_order);
    });

    $('#confirmSyncRefreshOrder').on('click', '#yesSyncRf', function () {
        $('#confirmSyncRefreshOrder').modal('hide');
        var id = $('#confirmSyncRefreshOrder input[name="id"]').val();
        var shop_id = $('select[name="shop_selected"]').val();
        $.ajax({
            url: '{{ sync_href }}'.replace('&amp;', '&'),
            type: 'POST',
            data: {id: id, shop_id: shop_id},
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                location.reload();
            }
        });
    });

    // sync data
    var xhr_load_data;
    $('#refresh').on('click', function () {
        console.log(xhr_load_data);
        var shop_id = $('select[name="shop_selected"]').val();
        if (xhr_load_data != null && xhr_load_data.readyState == 1) {
            $('#sync-order').modal('show');
            return;
        }

        var isProcess = 0;
        $.ajax({
            url: '{{ sync_state_href }}',
            type: 'GET',
            data: {shop_id : shop_id},
            beforeSend: function () {
            },
            success: function (json) {
                if (json.load_lazada_order_running == 1) {
                    isProcess = 1;
                }
            },
            async: false
        });

        if (isProcess) {
            liveShowProgress();
            return;
        }

        xhr_load_data = $.ajax({
            url: '{{ sync_order_href }}',
            type: 'GET',
            data: {shop_id: shop_id},
            beforeSend: function () {
            },
            success: function (json) {
                liveShowProgress();
                // $('#sync-order').modal('hide');
                // location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('error');
            }
        });
    });

    function liveShowProgress() {
        interval = setInterval(updateProcess, 1000);
        $('#sync-order').modal('show');
    }

    function updateProcess() {
        var shop_id = $('select[name="shop_selected"]').val();
        $.ajax({
            url: '{{ sync_state_href }}',
            type: 'GET',
            data: {shop_id: shop_id},
            beforeSend: function () {
            },
            success: function (json) {
                console.log(json);
                if (json.count_order_lazada == 0) {
                    var percent = 0;
                } else {
                    var percent = (json.count_order_lazada_saved / json.count_order_lazada) * 100;
                }
                $('#progressbar').css("width", percent + "%");
                $('#span1').html(json.count_order_lazada_saved);
                $('#span2').html(json.count_order_lazada);
                if (json.load_lazada_order_running == 0) {
                    clearInterval(interval); // stop the interval
                    $('#sync-order .modal-body').html('{{ txt_sync_completed }}');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            }
        });
    }

    function showModalProcess() {
        var shop_id = $('select[name="shop_selected"]').val();
        $.ajax({
            url: '{{ sync_state_href }}',
            type: 'GET',
            data: {shop_id: shop_id},
            beforeSend: function () {
            },
            success: function (json) {
                var percent = (json.count_order_lazada_saved / json.count_order_lazada) * 100;
                $('#progressbar').css("width", percent + "%");
                $('#span1').html(json.count_order_lazada_saved);
                $('#span2').html(json.count_order_lazada);
                if (json.load_lazada_order_running == 1) {
                    liveShowProgress();
                }
            }
        });
    }
</script>