{{ custom_header }}
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ shopee_href }}">{{ heading_title }}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ txt_config }}</li>
                        </ol>
                    </nav>
                    <div class="sub-head clearfix">
                        <h1 class="page-title float-left">{{ txt_config }}</h1>
                        <div class="ml-auto pull-right" id="btn-save-cancel">
                            <a class="btn btn-pink" target="_blank" href="{{ auth_url }}">{{ text_btn_add_shop }}</a>
                        </div>
                    </div>
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}

                    <div class="box-form pt-4">
                        {#sync info#}
                        {#<div class="row">#}
                            {#<div class="col-12 col-md-4">#}
                                {#<p class="font-weight-500 my-3 font-16">{{ txt_sync_info_title }}</p>#}
                                {#<p class="text-secondary">{{ txt_sync_info_content }}</p>#}
                            {#</div>#}

                            {#<div class="col-12 col-md-8">#}
                                {#<div class="bg-white rounded shadow p-3">#}
                                    {#<div class="form-group" style="margin-bottom: 4px;">#}
                                        {#<h6>{{ txt_product_info }}</h6><br>#}
                                        {#<div class="row" id="sync-info-box">#}
                                            {#<div class="col-12 col-md-6">#}
                                                {#<div class="custom-control custom-checkbox mb-2">#}
                                                    {#<input type="checkbox" name="sync_name"#}
                                                           {#class="custom-control-input checkbox"#}
                                                           {#{% if sync_data.sync_name == 1 %}checked{% endif %}#}
                                                           {#id="sync_name">#}
                                                    {#<label class="custom-control-label font-weight-normal"#}
                                                           {#for="sync_name">{{ entry_name }}</label>#}
                                                {#</div>#}
                                                {#<div class="custom-control custom-checkbox mb-2">#}
                                                    {#<input type="checkbox" name="sync_desc"#}
                                                           {#class="custom-control-input checkbox"#}
                                                           {#{% if sync_data.sync_desc == 1 %}checked{% endif %}#}
                                                           {#id="sync_desc">#}
                                                    {#<label class="custom-control-label font-weight-normal"#}
                                                           {#for="sync_desc">{{ entry_desc }}</label>#}
                                                {#</div>#}
                                                {#<div class="custom-control custom-checkbox mb-2">#}
                                                    {#<input type="checkbox" name="sync_price"#}
                                                           {#class="custom-control-input checkbox"#}
                                                           {#{% if sync_data.sync_price == 1 %}checked{% endif %}#}
                                                           {#id="sync_price">#}
                                                    {#<label class="custom-control-label font-weight-normal"#}
                                                           {#for="sync_price">{{ entry_price }}</label>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="form-group col-12 col-md-6">#}
                                                {#<div class="custom-control custom-checkbox mb-2">#}
                                                        {#<input type="checkbox" name="sync_quantity"#}
                                                           {#class="custom-control-input checkbox"#}
                                                           {#{% if sync_data.sync_quantity == 1 %}checked{% endif %}#}
                                                           {#id="sync_quantity">#}
                                                    {#<label class="custom-control-label font-weight-normal"#}
                                                           {#for="sync_quantity">{{ entry_quantity }}</label>#}
                                                {#</div>#}
                                                {#<div class="custom-control custom-checkbox mb-2">#}
                                                    {#<input type="checkbox" name="sync_weight"#}
                                                           {#class="custom-control-input checkbox"#}
                                                           {#{% if sync_data.sync_weight == 1 %}checked{% endif %}#}
                                                           {#id="sync_weight">#}
                                                    {#<label class="custom-control-label font-weight-normal"#}
                                                           {#for="sync_weight">{{ entry_weight }}</label>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div> <!-- End row -->#}
                        {#<br><hr><br>#}
                        {#disconect shopee#}
                        {% if shops %}
                            {% for shop in shops %}
                                <div class="row mb-4">
                                    <div class="col-12 col-md-3">
                                        <p class="font-weight-500 font-16">{{ shop.shop_name }}</p>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div class="bg-white rounded shadow p-3">
                                            <p class="font-weight-bold">{{ text_set_up_order_sync_schedule }}</p>
                                            <div class="row pb-3">
                                                <div class="col-12 col-md-7 m-auto">
                                                    <p class="mb-0">{{ text_order_information_will_be_sync_after_the_set_time_period }}</p>
                                                </div>
                                                <div class="col-12 col-md-5 schedule-interval">
                                                    <div class="row">
                                                        <div class="col-12 col-md-12">
                                                            <select name="time_config" data-id="{{ shop.id }}" class="form-control select2 w-50 order-schedule-interval">
                                                                <option value="180" {% if shop.sync_interval == 180 %}selected{% endif %}>3 {{ text_hour_time }}</option>
                                                                <option value="360" {% if shop.sync_interval == 360 %}selected{% endif %}>6 {{ text_hour_time }}</option>
                                                                <option value="540" {% if shop.sync_interval == 540 %}selected{% endif %}>9 {{ text_hour_time }}</option>
                                                                <option value="720" {% if shop.sync_interval == 720 %}selected{% endif %}>12 {{ text_hour_time }}</option>
                                                                {% if sync_interval_test_value > 0 %}
                                                                    <option value="{{ sync_interval_test_value }}" {% if shop.sync_interval == sync_interval_test_value %}selected{% endif %}>{{ sync_interval_test_value }} phút (test)</option>
                                                                {% endif %}
                                                                <option value="1440" {% if shop.sync_interval == 1440 %}selected{% endif %}>1 {{ text_day_time }}</option>
                                                                <option value="4320" {% if shop.sync_interval == 4320 %}selected{% endif %}>3 {{ text_day_time }}</option>
                                                                <option value="0" {% if shop.sync_interval == 0 %}selected{% endif %}>{{ text_sync_manually }}</option>
                                                            </select>
                                                            <i class="fa fa-caret-down down-icon"></i>
                                                        </div>
                                                        {#<div class="col-4 col-md-4 text-right">#}
                                                            {#<a data-id="{{ shop.id }}" class="btn btn-default w-40 btn-schedule">{{ text_schedule }}</a>#}
                                                        {#</div>#}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row pb-3">
                                                <div class="col-12 col-md-7 m-auto">
                                                    <p class="mb-0">{{ text_sync_orders_that_have_created_date }}</p>
                                                </div>
                                                <div class="col-12 col-md-5 div-order-sync-range">
                                                    <div class="row">
                                                        <div class="col-12 col-md-12">
                                                            <select name="order_sync_range" id="order_sync_range{{ shop.id }}" data-id="{{ shop.id }}" class="form-control select2 w-50 order_sync_range">
                                                                <option value="1" {% if shop.order_sync_range == 1 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 1}) }}</option>
                                                                <option value="2" {% if shop.order_sync_range == 2 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 2}) }}</option>
                                                                <option value="3" {% if shop.order_sync_range == 3 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 3}) }}</option>
                                                                <option value="4" {% if shop.order_sync_range == 4 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 4}) }}</option>
                                                                <option value="5" {% if shop.order_sync_range == 5 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 5}) }}</option>
                                                                <option value="6" {% if shop.order_sync_range == 6 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 6}) }}</option>
                                                                <option value="7" {% if shop.order_sync_range == 7 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 7}) }}</option>
                                                                <option value="8" {% if shop.order_sync_range == 8 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 8}) }}</option>
                                                                <option value="9" {% if shop.order_sync_range == 9 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 9}) }}</option>
                                                                <option value="10" {% if shop.order_sync_range == 10 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 10}) }}</option>
                                                                <option value="11" {% if shop.order_sync_range == 11 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 11}) }}</option>
                                                                <option value="12" {% if shop.order_sync_range == 12 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 12}) }}</option>
                                                                <option value="13" {% if shop.order_sync_range == 13 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 13}) }}</option>
                                                                <option value="14" {% if shop.order_sync_range == 14 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 14}) }}</option>
                                                                <option value="15" {% if shop.order_sync_range == 15 %}selected{% endif %}>{{ text_within_x_days|replace({'$date': 15}) }}</option>
                                                            </select>
                                                            <i class="fa fa-caret-down down-icon"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="font-weight-bold">{{ text_product_synchronization_setting }}</p>
                                            <div class="row pb-3">
                                                <div class="col-12 col-md-12">
                                                    <p>{{ text_allow_updating }}</p>
                                                </div>
                                                <div class="col-12 col-md-12">
                                                    <div class="row">
                                                        <div class="col-6 col-md-6">
                                                            <div class="custom-control custom-checkbox pt-2">
                                                                <input type="checkbox" data-id="{{ shop.id }}" name="allow_update_stock_product" value="1"
                                                                       {% if shop.allow_update_stock_product == 1 %}checked{% endif %}
                                                                       class="custom-control-input allow-update-product" id="allow-update-stock-product{{ shop.id }}">
                                                                <label class="custom-control-label font-weight-normal"
                                                                       for="allow-update-stock-product{{ shop.id }}">{{ text_update_inventory }}</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-6 col-md-6">
                                                            <div class="custom-control custom-checkbox pt-2">
                                                                <input type="checkbox" data-id="{{ shop.id }}" name="allow_update_price_product" value="1"
                                                                       {% if shop.allow_update_price_product == 1 %}checked{% endif %}
                                                                       class="custom-control-input allow-update-product" id="allow-update-price-product{{ shop.id }}">
                                                                <label class="custom-control-label font-weight-normal"
                                                                       for="allow-update-price-product{{ shop.id }}">{{ text_update_price }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr class="m-0 pb-3">
                                            <span class="font-weight-bold mr-3">{{ text_disconnect_shop_lazada }}</span>
                                            <button class="btn btn-default d-sync" data-id="{{ shop.id }}">{{ text_disconnect }}</button>
                                            <span class="float-right">{{ text_expiration_date }}: <span class="{% if shop.expired %} text-danger {% else %} text-primary {% endif %}">{{ shop.refresh_expires_in|date("d/m/Y") }}</span></span>

                                            <p class="mt-4 mb-0">{{ text_note_expiration_date_1 }}
                                                {% if shop.expired %} <a href="{{ auth_url }}" class="font-weight-bold">{{ text_note_expiration_date_2 }}</a> {% else %} {{ text_note_expiration_date_2 }} {% endif %}
                                                {{ text_note_expiration_date_3 }}</p>
                                        </div>
                                    </div>
                                </div> <!-- End row -->
                            {% endfor %}
                        {% endif %}
                    </div> <!-- End box form -->
                </div> <!-- End main content -->
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>

<style>
    .down-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        opacity: 0.5;
    }
    .div-order-sync-range .select2-results__options{
        height: 220px;
        overflow: scroll;
    }
</style>

<script>
    $('.d-sync').on('click', function (e) {
        var id = $(this).data('id');

        $.ajax({
            url: '{{ disconnect_shop|raw }}'.replace(/&amp;/g, '&'),
            type: 'POST',
            data: {
                id: id
            },
            beforeSend: function () {
            },
            success: function (json) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('error');
            }
        });

    });

    {#$('.btn-schedule').on('click', function () {#}
        {#var id = $(this).data('id');#}
        {#var time_sync = $(this).parent().parent().find('select').val();#}
        {#console.log('id', id);#}
        {#console.log('time_sync', time_sync);#}

        {#$.ajax({#}
            {#url: '{{ save_time_config|raw }}'.replace(/&amp;/g, '&'),#}
            {#type: 'POST',#}
            {#data: {#}
                {#id: id,#}
                {#time: time_sync#}
            {#},#}
            {#beforeSend: function () {#}
            {#},#}
            {#success: function (json) {#}
                {#location.reload();#}
            {#},#}
            {#error: function (xhr, ajaxOptions, thrownError) {#}
                {#//alert('error');#}
            {#}#}
        {#});#}
    {#});#}

    $('.order-schedule-interval').on('select2:select', function(e) {
        let shop_id = $(this).data('id');
        let time_sync = $(this).val();

        $.ajax({
            url: '{{ save_time_config|raw }}'.replace(/&amp;/g, '&'),
            type: 'POST',
            data: {
                id: shop_id,
                time: time_sync
            },
            beforeSend: function () {
            },
            success: function (json) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('error');
            }
        });
    });

    $('.order_sync_range').on('select2:select', function(e) {
        let shop_id = $(this).data('id');
        saveLazadaShopConfig(shop_id);
    });

    $('.allow-update-product').on('click', function () {
        let shop_id = $(this).data('id');
        saveLazadaShopConfig(shop_id);
    });

    function saveLazadaShopConfig(shop_id) {
        let order_sync_range = $('#order_sync_range'+shop_id).val();
        let allow_update_stock_product = $('#allow-update-stock-product'+shop_id).is(':checked') ? 1 : 0;
        let allow_update_price_product = $('#allow-update-price-product'+shop_id).is(':checked') ? 1 : 0;

        $.ajax({
            url: '{{ save_lazada_shop_config|raw }}'.replace(/&amp;/g, '&'),
            type: 'POST',
            data: {
                id: shop_id,
                order_sync_range: order_sync_range,
                allow_update_stock_product: allow_update_stock_product,
                allow_update_price_product: allow_update_price_product
            },
            beforeSend: function () {
            },
            success: function (json) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('error');
            }
        });
    }
</script>