<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th class="text-left" scope="col">{{ txt_table_column_prod_lazada }}</th>
        <th class="text-center" width="350" scope="col">{{ txt_table_column_action }}</th>
    </tr>
    </thead>
    <tbody>
    {% if products %}
        {% for p_key, product in products %}
            {% if product.versions|length > 0 %}
            <tr>
                <td class="text-left" data-toggle="collapse"
                    href="#collapseProductVersionView_{{ product.item_id }}" aria-expanded="false">{{ product.name }}</td>
                <td class="text-right" width="350">
                    <a class="btn btn-default mr-3 mapping-product-{{ product.item_id }}" data-toggle="collapse"
                       href="#collapseProductVersionView_{{ product.item_id }}" aria-expanded="false"
                       {% if product.sync_status == 1 %}style="display: none;"{% endif %}>{{ txt_connect_prod_bestme }}</a>

                    <a class="btn btn-default mr-3 cancel-mapping-all cancel-mapping-product-{{ product.item_id }}"
                       {% if product.sync_status == 0 or product.sync_status == 'null' %}style="display: none;"{% endif %} data-item="{{ product.item_id }}">{{ txt_cancel_connect_prod_bestme }}</a>

                    <a class="btn btn-default btn-creat-all-{{ product.item_id }} btn-create-product" data-type="product" data-id="{{ product.id }}"
                       {% if product.sync_status == 1 %}style="display: none;"{% endif %}>{{ txt_create_prod_lazada }}</a>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="p-0 border-0">
                    <div class="collapse" id="collapseProductVersionView_{{ product.item_id }}">
                        <div class="card card-body">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <table class="table mt-3 product-preview-list-{{ product.item_id }} font-12" style="background: #F8F9FA;">
                                        <thead>
                                        <tr>
                                            <th class="text-left" scope="col">{{ txt_table_column_version }}</th>
                                            <th class="text-center" width="400" scope="col">{{ txt_table_column_prod_connect_bestme }}</th>
                                            <th class="text-center" width="300" scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for v_key, version in product.versions %}
                                            <tr>
                                                <td class="text-left">{{ version.version_name }}</td>
                                                <td width="400">
                                                    <div class="product-mapping-{{ version.id }}" {% if version.sync_status == 0 or version.sync_status == 'null' %}style="display: none;"{% endif %}>
                                                        <a href="{{ version.product_edit }}">{{ version.product_name }}</a>
                                                        <p class="mb-0"><span>{{ text_info_prod_bestme_inventory }}: {{ version.product_quantity }}</span>
                                                            <span class="ml-5">{{ text_info_prod_bestme_price }}: {{ version.product_price|number_format(0, '.', ',') }}</span></p>
                                                    </div>

                                                    <div class="w-100 select-product product-not-mapping-{{ version.id }}" id="select-product_{{ v_key }}_{{ version.item_id }}" {% if version.sync_status == 1 %}style="display: none;"{% endif %}>
                                                        <select class="form-control select2-product" data-id="{{ version.id }}" data-item="{{ version.item_id }}">
                                                            {#{% for product in bestme_products %}#}
                                                                {#<option value="{{ version.pvid }}" selected>{{ version.product_name }}</option>#}
                                                            {#{% endfor %}#}
                                                        </select>
                                                        <div class="select-2-dropdown-map-product"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <a class="text-primary font-weight-500 btn-version-create-{{ version.id }} btn-create-product" {% if version.sync_status == 1 %}style="display: none;"{% endif %} data-type="version" data-id="{{ version.id }}">{{ txt_create_prod_lazada }}</a>
                                                    <a class="cancel-mapping-version text-danger font-weight-500 btn-version-cancel-mapping-{{ version.id }}" {% if version.sync_status == 0 or version.sync_status == 'null' %}style="display: none;"{% endif %}
                                                        data-id="{{ version.id }}" data-item="{{ version.item_id }}"
                                                    >{{ text_cancel_connect_prod_version }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}

    {% else %}
        <tr>
            <td class="text-center" colspan="2">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->

{#TODO: remove...#}
{#<div id="image-loading"></div>#}
<script>
    {% if filter and filter.filter_data %}
        loadSelect2Products();
    {% endif %}
</script>