{{ custom_header }}
<div class="setting-page">
    <div class="page-wrapper">
        <!-- End header -->

        <div class="content-wrapper row m-0">
            {{ custom_column_left }}
            <!-- End col navbar -->

            <!-- Disable when pending request -->
            {% include 'theme/common/wait_loading.twig' %}

            <main class="main-wrap col-12 col-lg-10 p-0">
                <div class="main-content">
                    <div class="row">
                        <div class="col-md-7">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ breadcrumbs[1]['href'] }}">{{ heading_title }}</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ shopee_list_sync_title }}</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-default mt-4 ml-2 float-right rounded" style="border: solid 1px #ED592A; color: #ED592A;" type="button" id="sync-all" title="{{ txt_sync_refresh_tooltip }}">{{ txt_sync_all }}</button>
                            <button class="btn btn-pink mt-4 float-right" style="float: right" type="button" id="refresh" title="{{ txt_sync_refresh_tooltip }}">{{ txt_sync_refresh }}</button>
                        </div>
                    </div>
                    <div class="sub-head clearfix">
                    </div>
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i
                                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible"><i
                                    class="fa fa-check-circle"></i> {{ success }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                    <div class="box-wrap">
                        <div class="box-head">
                            <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                                <a class="active">{{ shopee_product_title }}</a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="tab-content">
                                <script>
                                    jQuery(document).ready(function ($) {

                                        $('.category_id').change(function (event) {
                                            $('#image-loading').show();
                                            categoryID = $('.category_id').val();
                                            $.post('{{ loadOptionOne }}', {'categoryID': categoryID}, function (data) {
                                                $('#image-loading').hide();
                                                $('#showoptionone').html(data);
                                            })
                                        });
                                    });
                                </script>
                                <form class="filter-form order-filter clearfix product-form-validate"
                                      action="{{ action_search }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label for="select-shops" class="col-sm-4 col-form-label">{{ text_current_stand }}</label>
                                                <div class="col-sm-8">
                                                    <select name="shop_selected" class="form-control select2" id="select-shops-p">
                                                        {% if shops %}
                                                            {% for key,shop in shops %}
                                                                <option value="{{ shop.shop_id }}" data-href="{{ shop.url }}"
                                                                        {{ shop_selected == shop.shop_id ? 'selected' : '' }}>
                                                                    {{ shop.shop_name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    <i class="fa fa-caret-down down-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group search-group">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-light dropdown-toggle"
                                                            type="button">{{ product_filter }}</button>
                                                    <div class="dropdown-menu p-0 p-3 font-12">
                                                        <div class="form-group">
                                                            <label>{{ filter_list_follow }}</label>
                                                            <select class="form-control form-control-sm select2 category_id"
                                                                    id="category_id" data-label="{{ entry_category }}"
                                                                    required name="category_id">
                                                                <option value="">{{ choose_filter }}</option>
                                                                <option value="1" data-value="">
                                                                    {{ filter_status }}
                                                                </option>
                                                            </select>
                                                        </div>

                                                        <div id="showoptionone"></div>
                                                        <div id="showoptiontwo"
                                                             class="form-group d-none hierarchical-child"></div>
                                                        <div role="separator" class="dropdown-divider"></div>
                                                        <button type="button" id="filter_button"
                                                                class="btn btn-info font-12">{{ action_filter }}</button>
                                                    </div>
                                                </div>
                                                <div class="input-group-icon">
                                                    <i class="icon icon-search"></i>
                                                    <input type="text" id="filter_name"
                                                           class="form-control search-input-icon"
                                                           placeholder="{{ product_search }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- End row -->
                                    <div class="filter-item"></div>
                                </form> <!-- End form filter -->
                                <div id="product-content" class="not-choose-product-list">
                                    {% include 'sale_channel/shopee_append.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- End Main -->
        </div>
    </div>
    <!-- End page wrapper -->
</div>

<div id="image-loading"></div>

<!-- Modal sync product -->
<div class="modal fade" id="sync-product" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ txt_sync_products }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p><i>{{ warning_sync_processing }}</i></p>
                <div class="text-pink" style="float: right"><span id="span1">0</span><span>/</span><span id="span2">0</span></div>
                <div>{{ txt_process }}</div>
                <div class="progress">
                    <div class="progress-bar bg-pink" id="progressbar" role="progressbar" style="width: 0%"></div>
                </div>
            </div>

            <div class="modal-footer d-none">
                <button type="button" class="btn btn-danger btn-pink" id="cancel-sync"
                        data-dismiss="modal">{{ button_cancel }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirm -->
<div class="modal fade" id="confirmSync" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal">{{ txt_confirm_sync }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {{ txt_confirm_sync_content }}
            </div>
            <input type="hidden" name="type">
            <input type="hidden" name="sync_type">
            <input type="hidden" name="ids">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="noCallback"
                        data-dismiss="modal">{{ confirm_box_btn_no }}
                </button>
                <button type="submit" form="abc" class="btn btn-pink" id="yesCallback">
                    {{ confirm_box_btn_yes }}
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .down-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        opacity: 0.5;
    }
</style>

<script type="text/javascript">
    var confirm_delete = "{{ product_delete_confirm }}";

    $('[scope="check-all"] input[name="select_all"]').on('change', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });

    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }

        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }

        getSelected();

        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];

        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        });

        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }
</script>

<script>
    $('select#select-shops-p').select2();
    $(document).ready(function () {
        showModalProcess();
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    $(document).ready(function () {
        $('#select-shops-p').on('select2:select', function(e) {
            var href = $("#select-shops-p").select2().find(":selected").data("href");

            location.href = href;
            //filter();
            //showModalProcess();
        });
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var filter_name = $('#filter_name').val();
        var shop_selected = $('#select-shops-p').val();
        var status_product = $('.filter-item input[name^=status_product]').map(function(idx, elem) {
            return $(elem).val();
        }).get();

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                shop_selected: shop_selected,
                status_product: status_product,
                page: page,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

    $('#confirmSync').on('click', '#yesCallback', function () {
        $('#confirmSync').modal('hide');
        var type = $('#confirmSync input[name="type"]').val();
        var ids = $('#confirmSync input[name="ids"]').val();
        var sync_type = $('#confirmSync input[name="sync_type"]').val();
        var shopee_id = $('select[name="shop_selected"]').val();
        if (type === 'all') {
            $.ajax({
                url: '{{ sync_href }}'.replace('&amp;', '&'),
                type: 'POST',
                data: {ids: 'all', shopee_id: shopee_id},
                beforeSend: function () {
                    $('#image-loading').show();
                },
                success: function (json) {
                    $('#image-loading').hide();
                    alert('{{ alert_created_and_updated }}'.replace('$COUNT_CREATE', json.create).replace('$COUNT_UPDATE', json.update));
                    location.reload();
                }
            });
        } else if (type === 'single') {
            $.ajax({
                url: '{{ sync_href }}'.replace('&amp;', '&'),
                type: 'POST',
                data: {ids: [ids]},
                beforeSend: function () {
                    btn.html("<i class='fa fa-circle-notch fa-spin'>");
                },
                success: function (json) {
                    btn.html('{{ text_action_sync }}');
                }
            });
        } else if (type === 'multiple') {
            selected = JSON.parse(ids);
            console.log(selected);
            $.ajax({
                url: '{{ sync_href }}'.replace('&amp;', '&'),
                type: 'POST',
                data: {ids: selected, type: sync_type},
                beforeSend: function () {
                    $('#image-loading').show();
                },
                success: function (json) {
                    $('#image-loading').hide();
                    if (sync_type === 'create') {
                        alert('{{ alert_created }}'.replace('$COUNT_CREATE', json.create));
                        if (json.create !== 0) {
                            location.reload();
                        }
                    } else {
                        alert('{{ alert_updated }}'.replace('$COUNT_UPDATE', json.update));
                        if (json.update !== 0) {
                            location.reload();
                        }
                    }
                }
            });
        }
    });

    var btn;
    $('body').on('click', '.btn-sync', function () {
        btn = $(this);
        var id = btn.attr('data-id');
        $('#confirmSync input[name="type"]').val('single');
        $('#confirmSync input[name="ids"]').val(id);
        $('#confirmSync').modal('show');
    });

    $('body').on('click', '#action-create', function (event) {
        event.preventDefault();
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }

        $('#confirmSync input[name="type"]').val('multiple');
        $('#confirmSync input[name="ids"]').val(selected);
        $('#confirmSync input[name="sync_type"]').val('create');
        $('#confirmSync').modal('show');
        return;
    });

    $('body').on('click', '#action-update', function (event) {
        event.preventDefault();
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }

        $('#confirmSync input[name="type"]').val('multiple');
        $('#confirmSync input[name="ids"]').val(selected);
        $('#confirmSync input[name="sync_type"]').val('update');
        $('#confirmSync').modal('show');

        return;
    });

    $('#sync-all').on('click', function () {
        $('#confirmSync input[name="type"]').val('all');
        $('#confirmSync').modal('show');
    });

    // sync data
    function updateProcess() {
        var shopee_id = $('select[name="shop_selected"]').val();
        $.ajax({
            url: '{{ sync_state_href }}',
            type: 'GET',
            data: {shopee_id: shopee_id},
            beforeSend: function () {
            },
            success: function (json) {
                console.log(json);
                if (json.count_product_shopee == 0) {
                    var percent = 0;
                } else {
                    var percent = (json.count_product_shopee_saved / json.count_product_shopee) * 100;
                }
                $('#progressbar').css("width", percent + "%");
                $('#span1').html(json.count_product_shopee_saved);
                $('#span2').html(json.count_product_shopee);
                if (json.load_shopee_product_running == 0) {
                    clearInterval(interval); // stop the interval
                    $('#sync-product .modal-body').html('{{ txt_sync_completed }}');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            }
        });
    }

    // warning when leave
    {#$(window).bind("beforeunload", function (event) {#}
        {#var isProcess = 0;#}
        {#$.ajax({#}
            {#url: '{{ sync_state_href }}',#}
            {#type: 'GET',#}
            {#beforeSend: function () {#}
            {#},#}
            {#success: function (json) {#}
                {#if (json.load_shopee_product_running == 1) {#}
                    {#isProcess = 1;#}
                {#}#}
            {#},#}
            {#async: false#}
        {#});#}
        {#console.log(isProcess);#}
        {#if (isProcess) {#}
            {#//xhr_load_data.abort();#}
            {#return '{{ warning_leave_page }}';#}
        {#}#}
    {#});#}

    var xhr_load_data;
    $('#refresh').on('click', function () {
        console.log(xhr_load_data);
        var shopee_id = $('select[name="shop_selected"]').val();
        if (xhr_load_data != null && xhr_load_data.readyState == 1) {
            $('#sync-product').modal('show');
            return;
        }

        var isProcess = 0;
        $.ajax({
            url: '{{ sync_state_href }}',
            type: 'GET',
            data: {shopee_id : shopee_id},
            beforeSend: function () {
            },
            success: function (json) {
                if (json.load_shopee_product_running == 1) {
                    isProcess = 1;
                }
            },
            async: false
        });

        if (isProcess) {
            liveShowProgress();
            return;
        }

        xhr_load_data = $.ajax({
            url: '{{ sync_product_href }}',
            type: 'GET',
            data: {shopee_id: shopee_id},
            beforeSend: function () {
                liveShowProgress();
            },
            success: function (json) {
                // $('#sync-product').modal('hide');
                // location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //alert('error');
            }
        });
    });

    $('#sync-product').on('hidden.bs.modal', function () {
        //xhr_load_data.abort();
    });

    // custom confirm box

    function liveShowProgress() {
        interval = setInterval(updateProcess, 1000);
        $('#sync-product').modal('show');
    }

    function showModalProcess() {
        var shopee_id = $('select[name="shop_selected"]').val();
        $.ajax({
            url: '{{ sync_state_href }}',
            type: 'GET',
            data: {shopee_id: shopee_id},
            beforeSend: function () {
            },
            success: function (json) {
                var percent = (json.count_product_shopee_saved / json.count_product_shopee) * 100;
                $('#progressbar').css("width", percent + "%");
                $('#span1').html(json.count_product_shopee_saved);
                $('#span2').html(json.count_product_shopee);
                if (json.load_shopee_product_running == 1) {
                    liveShowProgress();
                }
            }
        });
    }
</script>