<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th class="text-left" scope="col">{{ column_order_code }}</th>
        <th class="text-center" scope="col">{{ column_order_total }}</th>
        <th class="text-center" scope="col">{{ column_order_status_on_shopee }}</th>
        <th class="text-center" scope="col">{{ column_order_status_sync }}</th>
        <th class="text-center" scope="col">{{ column_action }}</th>
    </tr>
    </thead>
    <tbody>
    {% if orders %}
        {% for order in orders %}
            <tr>
                <td class="text-left">
                    <a href="{{ order.url }}">{{ order.code }}</a>
                    {% if order.sync_status_error %}
                        <p class="text-danger">*{{ order.sync_status_error }}</p>
                    {% endif %}
                </td>
                <td class="text-center">{{ order.total_amount|number_format(0, ',', '.') }} đ</td>
                <td class="text-center">{{ order.order_status }}</td>
                <td class="text-center">
                    {% if order.sync_status == 1 or  order.sync_status == 6 %}
                        <span>{{ order.sync_status_text }}</span>
                    {% else %}
                        <span class="text-danger">{{ order.sync_status_text }}</span>
                        <a data-toggle="modal" data-error="{{ order.sync_status_error }}"
                           data-solution="{{ order.sync_status_solution }}"
                           class="error-sync-status" data-target="#errorSync">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 8C16 10.1311 15.1402 12.1327 13.6365 13.6365C12.1328 15.1402 10.1311 16 8 16C5.86888 16 3.86719 15.1402 2.36352 13.6365C0.859784 12.1327 0 10.1311 0 8C0 5.86888 0.859784 3.86719 2.36352 2.36345C3.86719 0.859718 5.86888 0 8 0C10.1311 0 12.1328 0.859718 13.6365 2.36345C15.1402 3.86719 16 5.86888 16 8Z" fill="#CED4DA"/>
                                <path d="M11.4855 6.00825C11.4855 6.94435 11.1269 7.81074 10.4597 8.47792C10.2107 8.72689 9.92197 8.93605 9.60326 9.10531C9.3045 9.25472 9.11529 9.46382 9.03562 9.71278V9.73273C9.02573 9.74269 9.02573 9.74269 9.02573 9.75268C8.90616 10.1809 8.51785 10.4896 8.06968 10.4896C8.04973 10.4896 8.01989 10.4896 7.99997 10.4796C7.71121 10.4697 7.46225 10.3302 7.28299 10.1012C7.08382 9.86222 7.02407 9.55351 7.09378 9.25479C7.24313 8.67713 7.54185 8.18916 7.99997 7.81074C8.19914 7.62153 8.42819 7.47211 8.68711 7.3327C9.17508 7.08373 9.49375 6.57588 9.49375 6.00825C9.49375 5.21157 8.88628 4.54431 7.99997 4.54431C7.10367 4.54431 6.5062 5.21157 6.5062 6.00825C6.5062 6.55596 6.05806 7.0041 5.51035 7.0041C4.96263 7.0041 4.5145 6.55596 4.5145 6.00825C4.5145 4.14601 5.96847 2.55261 7.99997 2.55261C10.0216 2.55261 11.4855 4.13605 11.4855 6.00825Z" fill="white"/>
                                <path d="M8.99581 12.4813C8.99581 13.029 8.54767 13.4772 7.99996 13.4772C7.45224 13.4772 7.0041 13.029 7.0041 12.4813C7.0041 11.9336 7.45224 11.4855 7.99996 11.4855C8.54767 11.4855 8.99581 11.9336 8.99581 12.4813Z" fill="white"/>
                            </svg>
                        </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a data-toggle="modal" data-target="#confirmSyncRefreshOrder" data-id="{{ order.id }}" class="btn btn-default rounded sync-refresh">{{ txt_column_action }}</a>
                </td>
            </tr>
        {% endfor %}
    {#<tr>
        <td class="text-left">
            <a href="">SPE0212U1HSH4BN</a>
        </td>
        <td class="text-center">100.000 đ</td>
        <td class="text-center">Chờ xử lý</td>
        <td class="text-center"><span>Đồng bộ thành công</span></td>
        <td class="text-center">
            <a data-toggle="modal" data-target="#confirmSyncRefreshOrder" data-id="0" class="btn btn-default rounded sync-refresh">{{ txt_column_action }}</a>
        </td>
    </tr>

    <tr>
        <td class="text-left">
            <a href=""><span>SPE0212U1HSH4BN</span></a>
            <p class="text-danger">*Đơn hàng chứa sản phẩm chưa được đồng bộ về Bestme!</p>
        </td>
        <td class="text-center">100.000 đ</td>
        <td class="text-center">Chờ xử lý</td>
        <td class="text-center">
            <span class="text-danger">Đồng bộ lỗi</span>
            <a data-toggle="modal" data-target="#errorSync">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 8C16 10.1311 15.1402 12.1327 13.6365 13.6365C12.1328 15.1402 10.1311 16 8 16C5.86888 16 3.86719 15.1402 2.36352 13.6365C0.859784 12.1327 0 10.1311 0 8C0 5.86888 0.859784 3.86719 2.36352 2.36345C3.86719 0.859718 5.86888 0 8 0C10.1311 0 12.1328 0.859718 13.6365 2.36345C15.1402 3.86719 16 5.86888 16 8Z" fill="#CED4DA"/>
                    <path d="M11.4855 6.00825C11.4855 6.94435 11.1269 7.81074 10.4597 8.47792C10.2107 8.72689 9.92197 8.93605 9.60326 9.10531C9.3045 9.25472 9.11529 9.46382 9.03562 9.71278V9.73273C9.02573 9.74269 9.02573 9.74269 9.02573 9.75268C8.90616 10.1809 8.51785 10.4896 8.06968 10.4896C8.04973 10.4896 8.01989 10.4896 7.99997 10.4796C7.71121 10.4697 7.46225 10.3302 7.28299 10.1012C7.08382 9.86222 7.02407 9.55351 7.09378 9.25479C7.24313 8.67713 7.54185 8.18916 7.99997 7.81074C8.19914 7.62153 8.42819 7.47211 8.68711 7.3327C9.17508 7.08373 9.49375 6.57588 9.49375 6.00825C9.49375 5.21157 8.88628 4.54431 7.99997 4.54431C7.10367 4.54431 6.5062 5.21157 6.5062 6.00825C6.5062 6.55596 6.05806 7.0041 5.51035 7.0041C4.96263 7.0041 4.5145 6.55596 4.5145 6.00825C4.5145 4.14601 5.96847 2.55261 7.99997 2.55261C10.0216 2.55261 11.4855 4.13605 11.4855 6.00825Z" fill="white"/>
                    <path d="M8.99581 12.4813C8.99581 13.029 8.54767 13.4772 7.99996 13.4772C7.45224 13.4772 7.0041 13.029 7.0041 12.4813C7.0041 11.9336 7.45224 11.4855 7.99996 11.4855C8.54767 11.4855 8.99581 11.9336 8.99581 12.4813Z" fill="white"/>
                </svg>
            </a>
        </td>
        <td class="text-center">
            <a data-toggle="modal" data-target="#confirmSyncRefreshOrder" data-id="1" class="btn btn-default rounded sync-refresh">{{ txt_column_action }}</a>
        </td>
    </tr>

    <tr>
        <td class="text-left">
            <a href=""><span>SPE0212U1HSH4BN</span></a>
            <p class="text-danger">*Đơn hàng đã được đổi trạng thái thủ công!</p>
        </td>
        <td class="text-center">100.000 đ</td>
        <td class="text-center">Chờ xử lý</td>
        <td class="text-center">
            <span class="text-danger">Đồng bộ lỗi</span>
            <a data-toggle="modal" data-target="#errorSync">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 8C16 10.1311 15.1402 12.1327 13.6365 13.6365C12.1328 15.1402 10.1311 16 8 16C5.86888 16 3.86719 15.1402 2.36352 13.6365C0.859784 12.1327 0 10.1311 0 8C0 5.86888 0.859784 3.86719 2.36352 2.36345C3.86719 0.859718 5.86888 0 8 0C10.1311 0 12.1328 0.859718 13.6365 2.36345C15.1402 3.86719 16 5.86888 16 8Z" fill="#CED4DA"/>
                    <path d="M11.4855 6.00825C11.4855 6.94435 11.1269 7.81074 10.4597 8.47792C10.2107 8.72689 9.92197 8.93605 9.60326 9.10531C9.3045 9.25472 9.11529 9.46382 9.03562 9.71278V9.73273C9.02573 9.74269 9.02573 9.74269 9.02573 9.75268C8.90616 10.1809 8.51785 10.4896 8.06968 10.4896C8.04973 10.4896 8.01989 10.4896 7.99997 10.4796C7.71121 10.4697 7.46225 10.3302 7.28299 10.1012C7.08382 9.86222 7.02407 9.55351 7.09378 9.25479C7.24313 8.67713 7.54185 8.18916 7.99997 7.81074C8.19914 7.62153 8.42819 7.47211 8.68711 7.3327C9.17508 7.08373 9.49375 6.57588 9.49375 6.00825C9.49375 5.21157 8.88628 4.54431 7.99997 4.54431C7.10367 4.54431 6.5062 5.21157 6.5062 6.00825C6.5062 6.55596 6.05806 7.0041 5.51035 7.0041C4.96263 7.0041 4.5145 6.55596 4.5145 6.00825C4.5145 4.14601 5.96847 2.55261 7.99997 2.55261C10.0216 2.55261 11.4855 4.13605 11.4855 6.00825Z" fill="white"/>
                    <path d="M8.99581 12.4813C8.99581 13.029 8.54767 13.4772 7.99996 13.4772C7.45224 13.4772 7.0041 13.029 7.0041 12.4813C7.0041 11.9336 7.45224 11.4855 7.99996 11.4855C8.54767 11.4855 8.99581 11.9336 8.99581 12.4813Z" fill="white"/>
                </svg>
            </a>
        </td>
        <td class="text-center">
            <a data-toggle="modal" data-target="#confirmSyncRefreshOrder" data-id="2" class="btn btn-default rounded sync-refresh">{{ txt_column_action }}</a>
        </td>
    </tr>#}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>

<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->

{#TODO: remove...#}
{#<div id="image-loading"></div>#}