{{ header }}

<main id="main-wrapper">
    <div class="container">
        <div class="main-content pb-3">
            <nav aria-label="breadcrumb" class="breadcrumb">
                <ol class="breadcrumb justify-content-lg-center">
                    <li class="breadcrumb-item"><a class="breadcrumb-item" href="{{ href_home }}">{{ text_home }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ history_title }}</li>
                </ol>
            </nav>
            <!-- End breadcrumb -->

            <div class="row mt-3">
                <div class="col-12 col-lg-3">
                    {% include ('mom_gao_boutique/template/checkout/checkout_nav.twig') %}
                </div>
                <!-- End col-2 -->

                <div class="col-12 col-lg-9">
                    <div class="bg-white p-3 py-2 mb-3">
                        <div class="table-responsive">
                            <table class="table table-borderless m-0 p-0">
                                <thead>
                                <tr class="text-second text-center">
                                    <th class="p-0">Mã đơn hàng</th>
                                    <th class="p-0">Ngày đặt</th>
                                    <th class="p-0">Thành tiền</th>
                                    <th class="p-0">Trạng thái đơn hàng</th>
                                    <th class="p-0">Trạng thái thanh toán</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for index,history in histories %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td style="white-space: nowrap; overflow: hidden">{{ history.name }}</td>
                                        <th>{{ history.customer }}</th>
                                        <td>{{ history.address }}</td>
                                        <td>{{ history.value|number_format(0, ',', '.') }}{{ currency }}</th>
                                        <td>{{ history['payment_status'] }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End border-panel -->

                    <nav class="mt-4">
                        {{ pagination }}
                    </nav>
                    <!-- End nav -->
                </div>
                <!-- End col-10 -->
            </div>
            <!-- End row -->
        </div> <!-- End main-content -->
    </div>
    <!-- End container -->
</main>

{{ footer }}