{{ header }}

<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ol class="breadcrumb justify-content-lg-center">
                <li class="breadcrumb-item"><a class="breadcrumb-item" href="{{ href_home }}">{{ text_home }}</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-item" href="{{ href_profile }}">{{ text_account }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ setting_address }}</li>
            </ol>
        </nav>
        <!-- End breadcrumb -->

        <!-- Main Content -->
        <div class="main-content pb-3 pb-md-5">
            <div class="row mt-3">
                <div class="col-12 col-lg-3">
                    <nav class="nav flex-lg-column user-nav mb-3 bg-white p-2">
                        <a class="nav-link py-3" href="tai-khoan">Tổng quan</a>
                        <a class="nav-link py-3 active" href="cai-dat">Sổ địa chỉ</a>
{#                        <a class="nav-link py-3">Thông tin cá nhân</a>#}
{#                        <a class="nav-link py-3" href="orders.html">Lịch sử mua hàng</a>#}
                    </nav>
                </div>
                <!-- End col-2 -->

                <div class="col-12 col-lg-9">
                    <div class="panel bg-white px-3 py-4">
                        <div class="text-right">
                            <a href="#createAddressModal" class="btn btn-primary fz-16 px-3 mb-4 py-2 fw-500" data-toggle="modal"
                               data-target="#createAddressModal">Thêm địa chỉ mới</a>
                        </div>
                        <div class="row">
                            {% for k, account_info in account_infos %}
                            <div class="col-lg-4 col-12 mb-3 address-item" data-id="{{ k }}">
                                <div class="border rounded-15 p-3 h-100">
                                    <p class="fw-700 mb-4">{{ account_info.lastname }} {{ account_info.firstname }}</p>
                                    <span class="text-second mb-2 d-block">Điện thoại:</span>
                                    <p class="">{{ account_info.phone_number }}</p>

                                    <span class="text-second mb-2 d-block">Địa chỉ:</span>
                                    <p class="">{{ account_info.full_address }}</p>

                                    <div class="mt-4 mb-2">
                                        <a href="#createAddressModal" class="text-fifth fw-600 mr-3" data-toggle="modal"
                                           data-target="#editAddressModal-{{ k }}">Chỉnh sửa</a>
                                        {% if account_info.default != account_info.address_id %}
                                            <a href="javascript: void(0)" onclick="delete_address({{ account_info.address_id }})" class="text-fifth fw-700">Xóa</a>
                                        {% endif %}
                                    </div>
                                    {% if account_info.default == account_info.address_id %}
                                        <span class="mt-2 py-2 px-3 bg-fifth rounded-15 d-inline-block">Địa chỉ mặc định</span>
                                    {% endif %}
                                </div>
                                <div class="modal fade" id="editAddressModal-{{ k }}" role="dialog" aria-labelledby="createAddressModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered form_edit">
                                        <div class="modal-content rounded-15 border-0" id="collapseOrderQuickView-{{ account_info.address_id }}">
                                            <div class="modal-body px-5 py-4">
                                                <h2 class="fz-24 fw-700 text-center mb-4">Chỉnh sửa địa chỉ</h2>
                                                <form action="" id="edit_{{ account_info.address_id }}" class="form-add" method="post">
                                                    <div class="form-group form-row">
                                                        <label class="col align-self-center text-second">Họ tên:</label>
                                                        <div class="col-md-8">
                                                            <input type="text" required class="form-control" name="fullname" value="{{ account_info.lastname }} {{ account_info.firstname }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-row">
                                                        <label class="col align-self-center text-second">Số điện thoại:</label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" name="phone" value="{{ account_info.phone_number }}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-row">
                                                        <label class="col align-self-center text-second">Địa chỉ:</label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" value="{{ account_info.address }}" name="address" required>
                                                        </div>
                                                    </div>

                                                    <div class="form-group form-row">
                                                        <label class="col align-self-center text-second">Tỉnh/thành phố:</label>
                                                        <div class="col-md-8">
                                                            <select name="city_delivery" title="{{ account_city }}" class="form-control selectpicker">
                                                                {% for province in provincess %}
                                                                    <option value="{{ province.code }}" {% if account_info.province == province.code %}selected{% endif %}>{{ province.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-row">
                                                        <label class="col align-self-center text-second">Quận/huyện:</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control selectpicker" name="district_delivery" title="{{ account_district }}">
                                                                {% for district_vl in account_info.districts_edits_info %}
                                                                    <option value="{{ district_vl.code }}" {% if account_info.districts == district_vl.code %}selected{% endif %}>{{ district_vl.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-row">
                                                        <label class="col align-self-center text-second">Phường/Xã:</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control selectpicker" name="ward_delivery" title="Phường/Xã:">
                                                                {% for ward in account_info.ward_edits_info %}
                                                                    <option value="{{ ward.code }}" {% if account_info.wards == ward.code %}selected{% endif %}>{{ ward.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="custom-control custom-checkbox mb-4"  {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                                                        <input style="z-index: 999;" type="checkbox" class="custom-control-input" id="setDefault" {{ account_info.default == account_info.address_id ? 'checked': '' }} {{ account_infos|length == 0 ? 'checked' : '' }} name="default">
                                                        <label  class="custom-control-label" for="setDefault">Đặt làm địa chỉ mặc định</label>
                                                    </div>
                                                    <div id="msg_err{{ account_info.address_id }}" style="padding-bottom: 28px;"></div>
                                                    <div class="d-flex flex-nowrap action-address">
                                                        <button id="display_form" type="button" class="flex-fill fz-16 text-uppercase fw-600 py-2 btn btn-fourth mr-2"
                                                                data-dismiss="modal">HỦY BỎ
                                                        </button>
                                                        <button type="submit" id="saveedit_{{ account_info.address_id }}" name="save"  class="flex-fill fz-16 text-uppercase fw-600 py-2 btn btn-primary ml-2">
                                                            Lưu
                                                        </button>
                                                        <input type="hidden" name="edit_hide" value="1">
                                                        <input type="hidden" name="address_id" value="{{ account_info.address_id }}">
                                                    </div>
                                                    <script>
                                                        $(function () {
                                                            $("#saveedit_{{ account_info.address_id }}").click(function(){
                                                                $.ajax({
                                                                    type: 'post',
                                                                    url: '{{ href_save }}',
                                                                    dataType : 'json',
                                                                    data: $('form#edit_{{ account_info.address_id }}').serialize(),
                                                                    success: function (data) {
                                                                        if(data.error_code == 0) {
                                                                            location.href = data.href;
                                                                        }
                                                                        else {
                                                                            $("#msg_err{{ account_info.address_id }}").html("<span style='color:red'>" + data.message + "</span>");
                                                                        }
                                                                    }
                                                                });
                                                                return false;
                                                            });

                                                            $("#display_form_{{ account_info.address_id }}").click(function(){
                                                                location.reload();
                                                            });

                                                        });
                                                    </script>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End address-item -->
                            {% endfor %}
                        </div>
                        <!-- End row -->
                    </div>
                    <!-- End panel -->
                </div>
                <!-- End col-10 -->
            </div>
            <!-- End row -->
        </div>
        <!-- End: Main Content -->
    </div>
    <!--Modal-->
    <div class="modal fade" id="createAddressModal" role="dialog" aria-labelledby="createAddressModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content rounded-15 border-0">
                <div class="modal-body px-5 py-4">
                    <h2 class="fz-24 fw-700 text-center mb-4">Thêm địa chỉ mới</h2>
                    <form action="" id="saveform" class="form-add" method="post">
                        <div class="form-group form-row">
                            <label class="col align-self-center text-second">Họ tên:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="fullname" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col align-self-center text-second">Số điện thoại:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="phone" required>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col align-self-center text-second">Địa chỉ:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="address" required>
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <label class="col align-self-center text-second">Tỉnh/thành phố:</label>
                            <div class="col-md-8">
                                <select name="city_delivery" title="{{ account_city }}" class="form-control selectpicker">
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col align-self-center text-second">Quận/huyện:</label>
                            <div class="col-md-8">
                                <select class="form-control selectpicker" name="district_delivery" title="{{ account_district }}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col align-self-center text-second">Phường/Xã:</label>
                            <div class="col-md-8">
                                <select class="form-control selectpicker" name="ward_delivery" title="Phường/Xã:">
                                </select>
                            </div>
                        </div>

                        <div class="custom-control custom-checkbox mb-4"  {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                            <input style="z-index: 9999" type="checkbox" class="custom-control-input" id="setDefault" {{ account_infos|length == 0 ? 'checked' : '' }} name="default">
                            <label  class="custom-control-label" for="setDefault">Đặt làm địa chỉ mặc định</label>
                        </div>
                        <div id="msg_err-add" style="padding-bottom: 28px;"></div>
                        <div class="d-flex flex-nowrap action-address">
                            <button id="display_form" type="button" class="flex-fill fz-16 text-uppercase fw-600 py-2 btn btn-fourth mr-2"
                                    data-dismiss="modal">HỦY BỎ
                            </button>
                            <button name="save" id="save" type="submit" class="flex-fill fz-16 text-uppercase fw-600 py-2 btn btn-primary ml-2">
                                Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End modal-->
    <!-- End container -->
</main>
<!-------------------- /.PAGE ELEMENT ---------------------->
<script>
    $("#display_form").click(function(){
        location.reload();
    });
    $(function () {
        $("#save").click(function(){
            $.ajax({
                type: 'post',
                url: '{{ href_save }}',
                dataType : 'json',
                data: $('form#saveform').serialize(),
                success: function (data) {
                    console.log(data)
                    if(data.error_code == 0) {
                        location.href = data.href;
                    }
                    else {
                        $("#msg_err-add").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
    function delete_address(id) {
        if (confirm('{{ text_delete }}')) {
            $.ajax({
                url: "{{ href_delete }}",
                type: "POST",
                data: {id : id},
                dataType: "html",
                success: function() {
                    location.reload();
                }
            });

        }
    }
    $(document).ready(function () {
        $(".hidden_add_address").click(function(){
            $(".form_edit").removeClass("d-none");
        });
        $(".hidden_edit_address").click(function(){
            $(".form_edit").addClass("d-none");
        });

        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            console.log("dia chi json :"+ provinces)
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
        }

        function fillDistrictsList(provinces, element) {
            var selectDistrictDeliveryEl = element.closest('.form-add').find('select[name="district_delivery"]');
            var selectWardDeliveryEL = element.closest('.form-add').find('select[name="ward_delivery"]');
            selectDistrictDeliveryEl.html('');
            selectWardDeliveryEL.html('');
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectDistrictDeliveryEl.selectpicker('refresh');
            selectWardDeliveryEL.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            var selectWardDeliveryEl = element.closest('.form-add').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }
    });
</script>

{{ footer }}