.block-pay-page {
  display: flex;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.block-pay-page .block-payment-info {
  padding-top: 32px;
}

.block-pay-page .block-payment-info .wrap-box {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.block-pay-page .block-payment-info .wrap-box .logo {
  margin-bottom: 20px;
}

.block-pay-page .block-payment-info .wrap-box .payment-info h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */
  letter-spacing: 0.01em;
  font-family: "Roboto", sans-serif;
  color: #25292C;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .user {
  display: inline-flex;
  align-items: center;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .user .thumb {
  margin-right: 10px;
  width: 48px;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .user .thumb img {
  width: 100%;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .user .infor .name {
  display: block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #25292C;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .user .infor .meta {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #969696;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment {
  font-family: "Roboto", sans-serif;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group {
  display: flex;
  justify-content: space-between;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group .input-item {
  position: relative;
  height: 48px;
  width: calc( 50% - 10px);
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group .full {
  width: 100%;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group .mr-3:last-child {
  margin-right: 0 !important;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  transition: 0.2s all;
  cursor: text;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group input {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: black;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  background: #F9FAFB;
  outline: none;
  box-shadow: none;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 3px;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group input:invalid {
  outline: 0;
}

.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group input:focus ~ label,
.block-pay-page .block-payment-info .wrap-box .payment-info .form-payment .form-group input:valid ~ label {
  top: 13px;
}

.block-pay-page .block-payment-info .wrap-box .create-account p {
  font-size: 14px;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group {
  display: flex;
  justify-content: space-between;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group .input-item {
  position: relative;
  height: 48px;
  width: calc( 50% - 10px);
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group .full {
  width: 100%;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group .mr-3:last-child {
  margin-right: 0 !important;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  transition: 0.2s all;
  cursor: text;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group input {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: black;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  background: #F9FAFB;
  outline: none;
  box-shadow: none;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 3px;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group input:invalid {
  outline: 0;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-group input:focus ~ label,
.block-pay-page .block-payment-info .wrap-box .create-account .form-group input:valid ~ label {
  top: 13px;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-radio {
  /* border */
  box-sizing: border-box;
  border-radius: 3px;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-radio .box-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}

.block-pay-page .block-payment-info .wrap-box .create-account .form-radio span {
  font-size: 14px;
  color: #ccc;
}

.block-pay-page .block-payment-info .custom-selectag-2 {
  width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.block-pay-page .block-payment-info .custom-selectag-2 label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  transition: 0.2s all;
  cursor: text;
  z-index: 99;
}

.block-pay-page .block-payment-info .custom-selectag-2 .tranf {
  top: 13px !important;
}

.block-pay-page .block-payment-info .custom-selectag-2 select {
  display: none;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-selected {
  display: flex;
  align-items: flex-end;
  height: 48px;
  padding: 4px 47px 4px 10px !important;
  font-style: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: black;
  background: #F9FAFB;
  /* border */
  border: 1px solid #E9E9E9 !important;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-selected::before {
  position: absolute;
  content: '';
  top: 10px;
  bottom: 10px;
  width: 1px;
  right: 45px;
  background-color: #C4C4C4;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-selected:after {
  position: absolute;
  content: "\f0d7";
  top: 33%;
  transform: translateY(-50%) !important;
  right: 30px;
  width: 0;
  height: 0;
  font-size: 18px;
  font-family: 'FontAwesome';
  color: #969696;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-selected.select-arrow-active:after {
  content: "\f0d8";
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-items div,
.block-pay-page .block-payment-info .custom-selectag-2 .select-selected {
  color: #25292C;
  font-size: 14px;
  padding: 3px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-items {
  width: 100%;
  position: absolute;
  background: #F6F6F6;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.30432);
  border-radius: 7px;
  padding: 8px 0;
  top: 115%;
  min-width: 150px;
  left: auto;
  right: 0;
  z-index: 99;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-hide {
  display: none;
}

.block-pay-page .block-payment-info .custom-selectag-2 .select-items div:hover,
.block-pay-page .block-payment-info .custom-selectag-2 .same-as-selected {
  color: #749ebb;
}

.block-pay-page .block-payment-cart {
  padding-top: 32px;
}

.block-pay-page .block-payment-cart .wrap-box {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn {
  background-color: white;
  padding: 25px;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 0.01em;
  margin-bottom: 25px;
  color: #25292C;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product {
  padding-right: 15px;
  max-height: 500px;
  overflow-y: auto;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  border-radius: 10px;
  background-color: white;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product::-webkit-scrollbar {
  transform: translateY(5px);
  width: 6px;
  background-color: white;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #DFE3E8;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product {
  display: inline-flex;
  align-items: center;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .thumb {
  position: relative;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .thumb .count-cart {
  position: absolute;
  top: -7px;
  right: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #749ebb;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: white;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .thumb .img {
  width: 85px;
  height: 85px;
  overflow: hidden;
  margin-right: 10px;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .thumb .img img {
  width: 100%;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .cart-product-info .name {
  margin: 0;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .cart-product-info .name a {
  white-space: nowrap;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #25292C;
  transition: all 0.23s;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .cart-product-info .name a:hover {
  color: #749ebb;
  transition: all 0.23s;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .cart-product .cart-product-info .desc {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #969696;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-list-product .cart-product-item .price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #25292C;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code {
  padding: 25px 0;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code .form-group {
  display: flex;
  margin: 0;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code .form-group .form-control {
  outline: none;
  box-shadow: none;
  background: #F9FAFB;
  border: 1px solid rgba(102, 102, 102, 0.15);
  box-sizing: border-box;
  border-radius: 3px 0px 0px 3px;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code .form-group .form-control::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #969696;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code .form-group .btn-submit {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  background: #969696;
  border-radius: 0px 3px 3px 0px;
  white-space: nowrap;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code .total-pay, .block-pay-page .block-payment-cart .wrap-box .right-ctn .block-code .ship-price {
  display: flex;
  justify-content: space-between;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total {
  padding: 30px 0;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group p {
  margin-bottom: 0;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group .title-price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #969696;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group strong.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.03em;
  color: #749ebb;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group .btn {
  box-shadow: none;
  outline: none;
  border: solid 1px transparent;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 100%;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group .btn-paynow {
  background-color: #749ebb;
  border-color: #749ebb;
  color: #FFFFFF;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .block-cart-total .item-group .btn-continue {
  background-color: white;
  border-color: #969696;
  color: #969696;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .total-price {
  padding: 30px 0;
  border-top: solid 1px #E9E9E9;
  border-bottom: solid 1px #E9E9E9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .total-price span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  color: #25292C;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .total-price strong {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.03em;
  color: #749ebb;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-action {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-action a {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #749ebb;
  text-decoration: none;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-action a svg {
  margin-right: 10px;
}

.block-pay-page .block-payment-cart .wrap-box .right-ctn .cart-action .btn-payment-success {
  background: #749ebb;
  border-radius: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  height: 38px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}

.block-pay-page .block-payment-cart .wrap-box .form-radio {
  background: white;
  /* border */
  box-sizing: border-box;
  border-radius: 3px;
}

.block-pay-page .block-payment-cart .wrap-box .form-radio .box-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}
