.block-comment .title-block {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #3F4755;
  margin-bottom: 30px;
}

.block-comment .comment-list-ctn {
  margin-bottom: 30px;
}

.block-comment .comment-list-ctn .blog-comments {
  margin-top: 45px;
}

.block-comment .comment-list-ctn .blog-comments ul.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li {
  clear: both;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li a {
  text-decoration: none;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li ul.reply {
  margin-bottom: 0;
  padding: 10px 0 0 115px;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li ul.reply .comment {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .block-comment .comment-list-ctn .blog-comments ul.comments li ul.reply {
    padding: 10px 0 0 0;
  }
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block {
  background: #F4F4F4;
  border-radius: 5px;
  padding: 15px 15px 20px;
  position: relative;
  display: flex;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .img-thumbnail-user {
  width: 8%;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .img-thumbnail-user img {
  width: 100%;
}

@media (max-width: 768px) {
  .block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .img-thumbnail-user {
    width: 15%;
  }
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .right-part {
  width: 92%;
  margin-left: 1rem;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .right-part .reply-ctn {
  margin: 1rem 0;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .right-part .reply-ctn a {
  color: black;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block p {
  font-size: 0.9em;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .comment-by {
  display: block;
  font-size: 1em;
  line-height: 21px;
  margin: 0;
  padding: 0 0 5px 0;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display {
    width: 100%;
  }
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display .date {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: "Montserrat", sans-serif;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display .date p {
  margin-bottom: 0;
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display .user-infor .name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #25292C;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display .user-infor .name {
    font-size: 14px;
  }
}

.block-comment .comment-list-ctn .blog-comments ul.comments li .comment .comment-block .user-display .user-infor .rated {
  margin-bottom: 15px;
}

.block-comment .block-form-rating .form-group-rating {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.block-comment .block-form-rating .form-group-rating .row {
  width: 100%;
  flex: 85%;
}

.block-comment .block-form-rating .form-group-rating .row input {
  background: #fff;
  border: 1px solid #F6F6F6;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
  color: #949494;
  margin-bottom: 20px;
  padding: 15px;
  height: 48px;
  resize: none;
  box-shadow: none;
  outline: none;
}

.block-comment .block-form-rating .form-group-rating .title {
  white-space: nowrap;
  margin-right: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #969696;
  min-width: 70px;
}

.block-comment .block-form-rating .form-group-rating .rating .form-group label.star {
  color: gray;
  font-size: 17px;
}

.block-comment .block-form-rating .form-group-rating .rating .form-group input.star:checked ~ label.star:before {
  color: #749ebb;
}

.block-comment .block-form-rating .form-group-rating textarea {
  width: 100%;
  height: 110px;
  resize: none;
  box-shadow: none;
  outline: none;
  background: #fff;
  border: 1px solid #F6F6F6;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 500;
  font-size: 13px;
  color: #969696;
  padding: 10px;
}

.block-comment .block-form-rating .form-group-rating .btn-submit {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #F9FAFB;
  background-color: #749ebb;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  outline: none;
  box-shadow: none;
  border: none;
}
