body {
    word-wrap: break-word;
}
.product-box img{
    max-height: 330px;
    margin: auto;
}
#block-partner .swiper-partner .swiper-slide img {
    filter: inherit;
}
.block-header .header-main #block-action-header .cart .count-product {
    width: inherit;
    height: inherit;
    min-height: 16px;
    min-width: 16px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: #fff;
}
.breadcrumb {
    padding-left: 0px;
    padding-right: 0px;
}
.block-header .header-main .logo img {
    max-height: 50px;
}
#add-to-cart .quantity-nav {
    display: none;
}
div.order-bestme {
    margin-top: 30px;
}
div.order-bestme .bestme-table--cart thead {
    border: 0.1rem solid #e91e63;
}
div.order-bestme .bestme-table--cart thead th {
    background-color: #e91e63;
}
div.order-bestme .bestme-btn--primary {
    background-color: #e91e63;
}
.bestme-cart-page-total .btn-primary {
    background-color: #e91e63;
    border: 0px;
    border-radius: 23px !important;
}
.bestme-cart-page-total .total-cart {
    color: #e91e63 !important;
}
.block-header .header-main .logo img {
    max-width: 200px;
}

/*sticky*/
.buy-now {
    display: none;
}
.buy-now {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
}
.buy-now.fixed {
    position: fixed;
    top: 72px;
    z-index: 999;
    width: 100%;
    display: block;
}
.buy-now .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-buy-now-header {
    background-color: #e91e63;
    color: white;
    outline: none;
    box-shadow: none;
    height: 38px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border: 1px solid #EBEBEB;
    -webkit-transition: all 0.23s;
    transition: all 0.23s;
    width: 100%;
    border-radius: 50px;
}

.btn-add-cart-header {
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    background: white;
}
.btn-add-cart-header:hover {
    background-color: #e91e63;
    color: white;
}

.show-on-pc {
    display: block;
}
.show-on-mobile {
    display: none !important;
}

/*img of block content*/
.desc img {
    max-width: 100%;
}

.logo-shoezone-on-mobile {
    width: 150px;
    margin: 0 auto 10px;
    display: block;
}
.logo-shoezone-on-mobile img {
    max-width: 100%;
}

/*css tag filter*/
#tag-filter-custom li a:hover {
    color: white !important;
    background-color: #749ebb !important;
}

#tag-filter-custom li .active {
    color: white !important;
    background-color: #749ebb !important;
}

@media screen and (max-width: 815px) {
    /*sticky*/
    #buy-now {
        display: none;
    }

    .show-on-pc {
        display: none !important;
    }
    .show-on-mobile {
        display: flex !important;
    }

    .buy-now-mobile {
        position: fixed;
        bottom: 0;
        padding: 5px;
        background: white;
        z-index: 999;
        -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.15);
    }
    .buy-now-mobile .btn.btn-action {
        border: 1px solid #EBEBEB;
        border-radius: 50px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }

    .buy-now-mobile .btn.btn-buy {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #e91e63;
        color: white;
        outline: none;
        box-shadow: none;
        width: 100%;
        border-radius: 50px;
    }

    .buy-now-mobile .number-quantity {
        vertical-align: middle;
        margin: auto;
    }
    .buy-now-mobile .number-quantity input {
        border-radius: 50px;
        border: solid 1px #ddd;
        height: 38px;
    }
}


#sidenav {
    background: white;
    padding: 20px 10px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    /*background: #767676;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #767676;
}

.logo-nav {
    padding-bottom: 25px;
    padding-top: 15px;
}

@media (max-width: 768px) {
    #sidenav {
        background: white!important;
        padding-top: 0 !important;
    }
}

@media screen and (max-width:576px) {
    #add-to-cart .change-item .form-check-label {
        margin-bottom: 5px;
    }
    #add-to-cart .change-item .form-check-inline {
        flex-wrap: wrap;
    }
    #add-to-cart .form-action .btn-addcart {
        margin-top: 0px !important;
    }
    #add-to-cart .quantity-nav {
        display: inline-block;
    }
    #add-to-cart .quantity-nav .quantity-up {
        position: absolute;
        top: 15px;
        left: 184px;
    }
    #add-to-cart .quantity-nav .quantity-down {
        position: absolute;
        top: 15px;
        left: 133px;
    }
    #add-to-cart .form-action.quantity {
        position: relative;
    }
    #add_cart_notify .modal-title {
        font-size: 18px;
    }
    .block-header .header-main .logo img {
        max-width: 120px;
    }
}
.copy-right a, .copy-right a:hover{
    color: #ed592a !important;
}
.ckeditor-content img{
    max-width: 100%;
    height: auto !important;
}

a.header-font.active{
    background-color: #e91e63!important;
    color: white!important;
}