{% block preview_undo_redo %}
    <!-- Common setting button and undo/redo -->
    <!-- control -->
    <section class="side-control">
        <div class="flex-display">
            <a href="{{ href_section_theme }}" class="btn btn-setting mobile-btn" data-toggle="modal" data-target="#myModalPreview">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.8438 6.46096C13.1145 5.26826 12.134 4.30992 10.9023 3.58599C9.67051 2.86202 8.3698 2.5 7 2.5C5.6302 2.5 4.32944 2.86189 3.09766 3.58599C1.86585 4.30992 0.885354 5.26826 0.156192 6.46096C0.0520732 6.64323 0 6.82293 0 7.00005C0 7.17718 0.0520732 7.35688 0.156192 7.53909C0.885354 8.73185 1.86585 9.69027 3.09766 10.414C4.32944 11.1381 5.6302 11.4998 7 11.4998C8.36983 11.4998 9.67054 11.1393 10.9023 10.418C12.134 9.69664 13.1147 8.73697 13.8438 7.53909C13.948 7.35688 14 7.17726 14 7.00005C14 6.82293 13.948 6.64323 13.8438 6.46096ZM5.32411 4.32421C5.79022 3.85809 6.3488 3.62495 6.99992 3.62495C7.10404 3.62495 7.19264 3.66151 7.26559 3.73438C7.33844 3.80728 7.37505 3.89585 7.37505 4C7.37505 4.10423 7.33843 4.19275 7.26576 4.26554C7.19291 4.33852 7.10426 4.37497 7.00011 4.37497C6.55222 4.37497 6.16929 4.53389 5.85163 4.85153C5.53385 5.16936 5.37506 5.55213 5.37506 6.00002C5.37506 6.1043 5.3385 6.19277 5.26563 6.26572C5.19265 6.33873 5.10416 6.37515 5.00001 6.37515C4.89578 6.37515 4.80726 6.33864 4.73431 6.26572C4.66133 6.19277 4.62488 6.10419 4.62488 6.00002C4.62488 5.34903 4.85802 4.79035 5.32411 4.32421ZM10.3946 9.55096C9.35027 10.1836 8.21878 10.5001 7 10.5001C5.78125 10.5001 4.64976 10.1838 3.6055 9.55096C2.56125 8.91812 1.69275 8.06784 1.00006 7.00005C1.79172 5.77085 2.7839 4.85151 3.97661 4.24225C3.65892 4.78383 3.50001 5.36983 3.50001 5.99999C3.50001 6.96363 3.84253 7.78764 4.52736 8.47263C5.21219 9.15763 6.0365 9.49998 7 9.49998C7.96359 9.49998 8.78765 9.15744 9.47264 8.47263C10.1576 7.78783 10.5 6.96363 10.5 5.99999C10.5 5.36983 10.3411 4.78375 10.0234 4.24225C11.216 4.85151 12.2082 5.77093 12.9999 7.00005C12.3073 8.06784 11.4389 8.91812 10.3946 9.55096Z" fill="#637381"/>
                </svg>
                <span>&nbsp; Xem trước</span></a>

            <a href="{{ href_section_theme }}" class="btn btn-setting">
                <img src="view/image/theme/icon-setting.png" alt="Thiết lập chung"><span>Thiết lập chung</span></a>

            <a href="#" type="button" id="btn-undo-config" class="btn btn-control btn-left">
                <img src="view/image/theme/undo-arrow-left.png" alt="Undo"></a>

            <a href="#" type="button" id="btn-redo-config" class="btn btn-control btn-right">
                <img src="view/image/theme/undo-arrow-right.png" alt="Redo"></a>
        </div>
    </section>
    <!-- /.control -->

    <script>
        $(document).ready(function () {
            $('#btn-undo-config').click(function () {
                var url = '{{ href_undo|raw }}'.replace(/&amp;/g, '&');

                $.ajax({
                    type: "GET",
                    url: url,
                    data: {},
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [GET undo error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });

                return false;
            });

            $('#btn-redo-config').click(function () {
                var url = '{{ href_redo|raw }}'.replace(/&amp;/g, '&');

                $.ajax({
                    type: "GET",
                    url: url,
                    data: {},
                    dataType: "html",
                    beforeSend: function () {
                        $('#image-loading').show();
                        $( document.body ).css( 'pointer-events', 'none' );
                    },
                    success: function (data) {
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError + "\r\n [GET redo error]" + xhr.statusText + "\r\n" + xhr.responseText);
                        $('#image-loading').hide();
                        $( document.body ).css( 'pointer-events', 'all' );
                    }
                });

                return false;
            });
        });
    </script>
{% endblock %}