<div id="preview-content">
    <div id="preview-header">
        {% block preview_header %}
            {% include 'theme/common/preview_header.twig' %}
        {% endblock %}
    </div>

    <!-- Preview -->
    {% block preview_content %}
    <div class="content-preview">
        {% block preview_body %}
            <div class="container-fluid full-height">
                {# url of page #}
                <div class="control-url">
                    <div class="form-group flex-display">
                        <button type="button" class="btn btn-url">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <input type="text" disabled class="form-control" value="{{ preview_page_url }}"
                               aria-describedby="helpId">
                    </div>
                </div>

                {# iframe live-preview #}
                <div class="live-preview pl-0 pr-0" style="padding-bottom: 67px;">
                    <iframe src="" frameborder="0" style="overflow:hidden;height:100%;width:100%"
                            height="100%" width="100%" id="theme-preview"></iframe>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    loadIFrame({{ preview_config|json_encode }});

                    // this makes builder error (click combobox, setting banner image, ... UNKNOW why? TODO: fix...
                    //$( "#theme-preview" ).load(getIFrameUrl({{ preview_config|json_encode }}), function() {

                    // this cause error line in console... nothing affected, but console log bad... TODO: use above code line instead this...
                    $( "#theme-preview" ).load(function() {
                        //enable button when loaded
                        $('#btn-save-config').css('display', 'inline-block');
                        $('.preview-button').css('display', 'inline-block');
                    });
                });

                function loadIFrame(config) {
                    console.log('preview_config',getIFrameUrl(config))
                    $('#theme-preview').attr('src', getIFrameUrl(config));
                }

                function getIFrameUrl(config) {
                    return '{{ preview_page_url }}' + buildConfig(config);
                }

                function buildConfig(config) {
                    /*
                     * sample:
                     * [
                     *     {
                     *         'identify': '#banner-top',
                     *         'border-color': 'green' // nullable, default: red
                     *     }
                     * ]
                     */
                    config = config || [];

                    return '&config=' + encodeURIComponent(JSON.stringify(config));
                }
            </script>
        {% endblock %}
    </div>
    {% endblock %}
    <!-- /.Preview -->

    <div id="preview-footer">
        {% block preview_footer %}
            {% include 'theme/common/preview_footer.twig' %}
        {% endblock %}
    </div>
</div>

{# confirmBox defined in footer.twig #}
{{ footer }}
<style>
    #footer .alert-footer{
        display: none;
    }
</style>
{# end confirmBox defined in footer.twig #}