<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ collection_list_filter_action }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ publish }}"
                       id="publish">{{ action_publish }}</a>
                    <a class="dropdown-item" href="{{ unPublish }}"
                       id="unPublish">{{ action_unpublish }}</a>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#addProductTagsModal" data-type="add-tag"
                       data-title="{{ label_add }}">{{ action_add_tag_product }}</a>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#addProductTagsModal" data-type="remove-tag"
                       data-title="{{ label_remove }}">{{ action_remove_tag_product }}</a>
                    <a class="dropdown-item" href="{{ delete }}"
                       id="delete">{{ action_remove_blog }}</a>
                </div>
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        <th></th>
        <th scope="col">{{ text_list_title }}</th>
        <th scope="col">{{ text_list_category }}</th>
        <th scope="col">{{ text_list_author }}</th>
        <th scope="col">{{ text_list_modified_date }}</th>
        <th scope="col" class="text-center">{{ text_list_status }}</th>
        <th scope="col" class="text-center">{{ text_approval_status }}</th>
    </tr>
    </thead>
    <tbody>
    {% if blogs %}
        {% for blog in blogs %}
            <tr>
                {% if blog.disable_update %}
                    <td></td>
                {% else %}
                    <td scope="select-this" data-id="{{ blog.blog_id }}">
                        <label class="checkbox">
                            <input type="checkbox" name="select_this" value="1">
                            <span></span>
                        </label>
                    </td>
                {% endif %}
                <td width="85">
                    <div style="border: solid 1px #ddd; border-radius: 4px">
                        <img style="padding: 3px" src="{{ blog.image }}"/>
                    </div>
                </td>
                <td>
                    <a href="{{ blog.edit }}" title="{{ blog.title }}">{{ blog.title|length > 100 ? blog.title|slice(0, 100) ~ '...' : blog.title }}</a>
                </td>
                <td>
                   {{ blog.name_category }}
                </td>
                <td>
                    {{ blog.author }}
                </td>
                <td>
                    {{ blog.dateModified | date("m/d/Y, h:i A")}}
                </td>
                <td class="text-center">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input {% if not blog.disable_update %} activeStatus{% endif %}"
                               id="customSwitch{{ blog.blog_id }}"
                               value="{{ blog.blog_id }}"
                               {% if blog.activeStatus == 1 %}checked {% endif %}
                               {% if blog.disable_update %}disabled{% endif %}>
                        <label class="custom-control-label"
                               for="customSwitch{{ blog.blog_id }}">
                            <span class="on">{{ text_on }}</span>
                            <span class="off">{{ text_off }}</span>
                        </label>
                    </div>
                </td>
                <td>
                    <select class="form-control approval-status" id="sel1" data-blog-id="{{ blog.blog_id }}" {% if blog.access_modify == false %} disabled {% endif %}>
                        <option>Chưa xác định</option>
                        {% for status in approval_status %}
                            <option {% if blog.approval_status == status.value %} selected="selected" {% endif %} value="{{ status.value }}">{{ status.text }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->