{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content p-0">
                <div class="sub-head clearfix fix-content-mobile-create">
                    <h5 class="page-title float-left pl-3">
                        {{ text_page_title }}
                    </h5>
                    <a class="advance-link mobile btn float-right font-16 pr-3" href="{{ href_add }}">+ {{ txt_add }}</a>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="sub-head clearfix pt-0 pl-3">
                    <a class="page-title float-left mb-0 text-secondary" href="{{ href_list_blog_category }}">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="https://www.w3.org/2000/svg">
                            <path d="M18.75 8.75C18 8.75 17.5 9.25 17.5 10V17.5H2.5V2.5H10C10.75 2.5 11.25 2 11.25 1.25C11.25 0.5 10.75 0 10 0H1.25C0.5 0 0 0.5 0 1.25V18.75C0 19.5 0.5 20 1.25 20H18.75C19.5 20 20 19.5 20 18.75V10C20 9.25 19.5 8.75 18.75 8.75Z" fill="#637381"/>
                            <path d="M17.875 0.375L7.875 10.375C7.375 10.875 7.375 11.625 7.875 12.125C8.125 12.375 8.375 12.5 8.75 12.5C9.125 12.5 9.375 12.375 9.625 12.125L19.625 2.125C20.125 1.625 20.125 0.875 19.625 0.375C19.125 -0.125 18.375 -0.125 17.875 0.375Z" fill="#637381"/>
                        </svg>
                        &nbsp;{{ text_category }}
                    </a>
                </div>
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active">{{ text_list_all }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <form class="filter-form order-filter clearfix" action="{{ action_search }}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group search-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light dropdown-toggle"
                                                        type="button">{{ collection_list_filter_title_mobile }}</button>
                                                <div class="dropdown-menu p-0 p-3 font-12">
                                                    <div class="form-group">
                                                        <label>{{ filter_list_follow }}</label>
                                                        <select class="form-control form-control-sm select2 select2-hidden-accessible category_id"
                                                                data-label="{{ entry_category }}" id="category_id"
                                                                name="category_id">
                                                            <option value="">{{ choose_filter }}</option>
                                                            <option value="1" data-value="">{{ filter_status }}</option>
                                                            <option value="2" data-value="">{{ filter_author }}</option>
                                                            <option value="3" data-value="">{{ text_list_category }}</option>
                                                            <option value="4" data-value="">{{ filter_tag }}</option>
                                                        </select>
                                                    </div>

                                                    <div id="showoptionone"></div>
                                                    <button type="button" id="filter_button"
                                                            class="btn btn-info font-12">{{ text_search }}</button>
                                                </div>
                                            </div>
                                            <div class="input-group-icon">
                                                <i class="icon icon-search"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ text_search_list }}">
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End row -->
                                <div class="filter-item"></div>
                            </form> <!-- End form filter -->
                            <div id="product-content" class="not-choose-product-list">
                                {% include 'blog/blog_list_append_mobile.twig' %}
                            </div>

                            <!-- Modal -->


                            <!-- End Modal -->

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
    </div>
</div>

<div class="modal fade" id="confirm-product" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ text_close }}</span></button>
                <h4 class="modal-title" id="confirm-label">{{ collection_list_filter_status_delete }}</h4>
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ text_close }}</button>
                <button type="button" class="btn btn-danger confirm" data-dismiss="modal">{{ text_remove }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Tag Modal -->
<div class="modal fade product-modal" id="addProductTagsModal" tabindex="-1" role="dialog"
     aria-labelledby="addProductTagsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-18 font-weight-normal" id="addProductTagsLabel">
                    <span class="data-title">{{ label_add }}</span> {{ tag_for_product_choose }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-tag-to-product" method="post">
                    <div class="form-group select2-tag-wrapper">
                        <label class="font-weight-normal"><span
                                    class="data-title">{{ label_add }}</span> {{ list_tag_for_product }}
                        </label>
                        <select class="form-control select2-tag" name="tag_list[]" multiple
                                data-placeholder="{{ use_tag_description }}">
                        </select>
                        <input type="hidden" class="product-id-select"
                               name="product-id-select">
                        <div class="select-2-dropdown-tag"></div>
                    </div>
                    <div class="tag-list-most-use">
                        {% if tag_all %}
                            <label class="font-weight-normal">{{ choose_from_list_tag }}</label>
                            <ul class="select-tag-use nav">
                                {% for tag in tag_all %}
                                    <li data-id="{{ tag.tag_id }}">{{ tag.value }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">{{ label_close }}</button>
                <button type="button" class="btn btn-pink"><span
                            class="data-title">{{ label_add }}</span> tag
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<script type="text/javascript">
    var confirm_delete = "{{ delete_confirm }}";
    $('body').on('[scope="check-all"] input[name="select_all"]', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('body').on('change', '[scope="select-this"] input[name="select_this"]', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('body').on('click','#delete', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_id=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('body').on('click', '#publish', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_id=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('body').on('click', '#unPublish', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_id=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('#delete').on('click', function (event) {
        event.preventDefault();
        var product_list = $('.selected_product').val();
        var num = '';
        if (product_list.length > 0) {
            num = product_list.split(",").length;
        }
        var message = '{{ collection_confirm_show }}' + num + '{{ collection_confirm_choose }}';
        $("#confirm-product .modal-body p").html(message);
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_id=' + selected.join(',');

        $("#confirm-product").modal('show');

        $(".confirm").on("click", function () {
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });

    $('body').on('click', '.activeStatus', function () {
        $.ajax({
            url: '{{ avtivestatus }}',
            data: {
                blog_id: $(this).val(),
                status: $(this).prop('checked')
            },
        });
    });


    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });


    $(document).keypress(function (e) {
        if (e.which == 13) {  // enter
            event.preventDefault();
            filter();
        }
    });
    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    function filter(page = 1, remove_item = true) {
        // // remove choose
        // $('#product-content').removeClass('has-choose-product-list');
        // $('#product-content').addClass('not-choose-product-list');
        // end
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        var filter_status = $('input[name^=status]').map(function (idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();

        var filter_author = $('.filter-item input[name^=author]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        var filter_category = $('.filter-item input[name^=category_blog]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        var filter_tag = $('.filter-item input[name^=nametag]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        if (!remove_item && filter_status.length < 1 && $('.filter-form select[name^=status]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && filter_author.length < 1 && $('.filter-form select[name^=author]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && filter_category.length < 1 && $('.filter-form select[name^=category_blog]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && filter_tag.length < 1 && $('.filter-form input[name^=nametag]').length) {
            $('.filter-form input[name^=nametag]').css('border', '1px solid red');
            return;
        }

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_status: filter_status,
                filter_author: filter_author,
                filter_category: filter_category,
                filter_tag: filter_tag,
                filter_name: $('#filter_name').val(),
                page: page,
            },
            beforeSend: function () {
                $('.dropdown-menu').removeClass('show');
                $('#image-loading').show();
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

    $('#category_id').change(function (event) {
        $('#image-loading').show();
        categoryID = $('.category_id').val();
        $.post('{{ loadOptionOne }}', {'categoryID': categoryID, 'flag': true}, function (data) {
            $('#image-loading').hide();
            $('#showoptionone').html(data).promise().done(function () {
                $('select.select2').each(function (index, el) {
                    $(this).wrap("<div class='select-2-container position-relative" + ($(this).attr('data-tags') ? " select2-tag" : '') + "'></div>");
                    $(this).css('width', '100%');
                    $(this).after('<div class="select-2-wrapper ' + ($(this).attr('multiple') ? 'multiple' : 'single') + '"></div>');
                    $(this).select2({
                        theme: 'bootstrap4',
                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                        placeholder: $(this).attr('data-placeholder'),
                        tags: $(this).attr('data-tags'),
                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true)
                    });
                });
            });
        })
    });


    $('select.select2-tag').select2({
        // theme: 'bootstrap4',
        width: "100%",
        tags: true,
        dropdownParent: $('.select2-tag-wrapper .select-2-dropdown-tag'),
        placeholder: "{{ use_tag_description }}",
        closeOnSelect: true,
        tokenSeparators: [','],
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=catalog/product/getTagLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    });


    $('.modal.product-modal').on('show.bs.modal', function (event) {
        var title = $(event.relatedTarget).data('title');
        //set text
        if (typeof title != "undefined")
            $(this).find('.data-title').text(title);
        //set action
        var action_type = $(event.relatedTarget).data('type');
        var product_list = $('.selected_product').val();
        $('.product-id-select').val(product_list);

        //add link form modal
        if (action_type == 'add-tag') {
            $('#add-tag-to-product').attr('action', '{{ action_add_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        } else if (action_type == 'remove-tag') {
            $('#add-tag-to-product').attr('action', '{{ action_remove_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        }
    });

    $('#addProductTagsModal .btn-pink').on('click', function () {
        $('#add-tag-to-product button[type="submit"]').trigger('click');
    });

    $("#add-tag-to-product").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            'tag_list[]': {
                validators: {
                    notEmpty: {
                        message: "{{ notice_add_tag_error }}"
                    },
                    callback: {
                        message: '{{ notice_add_tag_error_max_length }}',
                        callback: function (value, validator) {
                            // Get the selected options
                            var options = validator.getFieldElements('tag_list[]').val();
                            var result = true;
                            $.each(options, function (index, value) {
                                if (value.length > 30) {
                                    result = false;
                                }
                            });
                            return result;
                        }
                    }
                }
            },
        }
    }).on('valid.bs.validator', function (e, data) {
        $('#add-tag-to-product button[type="submit"]').removeClass("disabled");
    });

    $('#addProductTagsModal').on('show.bs.modal', function (event) {
        $('select.select2-tag').val(null).trigger('change');
        $('#addProductTagsModal').removeData('bs.modal');
        $('#add-tag-to-product').bootstrapValidator('resetForm', true);
    });

    $('.select-tag-use li').on('click', function () {
        var data = {
            id: $(this).attr('data-id'),
            text: $(this).html(),
        };
        if ($(".select2-tag-wrapper .select2-selection__choice[title='" + $(this).html().replace(/\'/g, "\\'") + "']").length == 0) {
            var newOption = new Option(data.text, data.id, true, true);
            $('select.select2-tag').append(newOption).trigger('change');
        }
    });
</script>

<style>
    .img-wrapper {
        width: 50px;
        height: 50px;
        display: flex;
    }

    .img-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    #import-xls {
        text-decoration-line: none;
    }
</style>

{{ footer }}