<table class="table table-with-operation product-list" style="display: table">
    <thead>
    <tr>
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ collection_list_filter_action }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ publish }}"
                       id="publish">{{ action_publish }}</a>
                    <a class="dropdown-item" href="{{ unPublish }}"
                       id="unPublish">{{ action_unpublish }}</a>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#addProductTagsModal" data-type="add-tag"
                       data-title="{{ label_add }}">{{ action_add_tag_product }}</a>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#addProductTagsModal" data-type="remove-tag"
                       data-title="{{ label_remove }}">{{ action_remove_tag_product }}</a>
                    <a class="dropdown-item" href="{{ delete }}"
                       id="delete">{{ action_remove_blog }}</a>
                </div>
                <input type="hidden" name="selected" value="">
                <span class="select-all-mobile">{{ text_select_all }}</span>
            </div>
        </th>
        <th></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% if blogs %}
        {% for blog in blogs %}
            <tr>
                <td scope="select-this" data-id="{{ blog.blog_id }}">
                    <label class="checkbox">
                        <input type="checkbox" name="select_this" value="1">
                        <span></span>
                    </label>
                </td>
                <td width="85">
                    <div style="border: solid 1px #ddd; border-radius: 4px; width: 53px; height: 53px">
                        <img style="padding: 3px; width: 100%; height: 100%;" src="{{ blog.image }}"/>
                    </div>
                </td>
                <td>
                    <p class="mb-1"><a href="{{ blog.edit }}" title="{{ blog.title }}">{{ blog.title|length > 20 ? blog.title|slice(0, 20) ~ '...' : blog.title }}</a></p>
                    <p class="mb-0">{{ blog.name_category }}</p>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->