{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ heading_title }}
                    </h1>
                    <a class="advance-link btn float-right" href="{{ action_add_blog_category }}">{{ heading_title_add }}</a>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active">{{ heading_title }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <form class="filter-form order-filter clearfix" action="{{ action_search }}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group search-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light dropdown-toggle"
                                                        type="button">{{ filter_list_follow }}</button>
                                                <div class="dropdown-menu p-0 p-3 font-12">
                                                    <div class="form-group">
                                                        <label>{{ filter_list_follow }}</label>
                                                        <select class="form-control form-control-sm select2 select2-hidden-accessible category_id"
                                                                data-label="{{ entry_category }}" id="category_id"
                                                                name="category_id">
                                                            <option value="">{{ choose_filter }}</option>
                                                            <option value="1" data-value="">{{ filter_status }}</option>
                                                        </select>
                                                    </div>

                                                    <div id="showoptionone"></div>
                                                    <button type="button" id="filter_button"
                                                            class="btn btn-info font-12">{{ text_search }}</button>
                                                </div>
                                            </div>
                                            <div class="input-group-icon">
                                                <i class="icon icon-search"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ text_search_placeholder }}">
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End row -->
                                <div class="filter-item"></div>
                            </form> <!-- End form filter -->
                            <div id="product-content" class="not-choose-product-list">
                                {% include 'blog/category_list_append.twig' %}
                            </div>

                            <!-- Modal -->


                            <!-- End Modal -->

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
    </div>
</div>
<div class="modal fade" id="confirm-product" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-label">{{ category_confirm_delete }}</h4>
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ text_close }}</button>
                <button type="button" class="btn btn-danger confirm" data-dismiss="modal">{{ text_remove }}</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var confirm_delete = "{{ delete_confirm }}";
    $('body').on('[scope="check-all"] input[name="select_all"]', function () {
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('body').on('change', '[scope="select-this"] input[name="select_this"]', function () {
        if (!$(this).is(":checked")) {
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if (_length) {
            $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
        }
        getSelected();
        if ($('[scope="check-all"]').find('input[name="selected"]').val().length > 2) {
            $('#product-content').removeClass('not-choose-product-list');
            $('#product-content').addClass('has-choose-product-list');
        } else {
            $('#product-content').removeClass('has-choose-product-list');
            $('#product-content').addClass('not-choose-product-list');
        }
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('body').on('click','#delete', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_category_id=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('body').on('click', '#publish', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_id=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('body').on('click', '#unPublish', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_id=' + selected.join(',');
        $(this).attr('href', url);
    });

    $('#delete').on('click', function (event) {
        event.preventDefault();
        var product_list = $('.selected_product').val();
        var num = '';
        if (product_list.length > 0) {
            num = product_list.split(",").length;
        }
        var message = '{{ category_confirm_show }}' + num + '{{ category_confirm_choose }}';
        $("#confirm-product .modal-body p").html(message);
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&blog_category_id=' + selected.join(',');

        $("#confirm-product").modal('show');

        $(".confirm").on("click", function () {
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });
</script>
<script type="text/javascript">
    $('body').on('click', '.activeStatus', function () {
        $.ajax({
            url: '{{ avtivestatus }}',
            data: {
                blog_category_id: $(this).val(),
                status: $(this).prop('checked')
            },
        });
    });


    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });


    $(document).keypress(function (e) {
        if (e.which == 13) {  // enter
            event.preventDefault();
            filter();
        }
    });
    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#product-content').offset().top)
            }, 300);
        }
    });

    function filter(page = 1, remove_item = true) {
        // remove choose
        $('#product-content').removeClass('has-choose-product-list');
        $('#product-content').addClass('not-choose-product-list');
        // end
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var filter_status = $('input[name^=status_product]').map(function (idx, elem) {
            $(elem).closest('.item').addClass('had_filter');
            return $(elem).val();
        }).get();
        if (!remove_item && filter_status.length < 1 && $('.filter-form select[name^=status_product]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_status: filter_status,
                filter_name: $('#filter_name').val(),
                page: page,
            },
            beforeSend: function () {
                $('.dropdown-menu').removeClass('show');
                $('#image-loading').show();
            },
            success: function (html) {
                $('#product-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

    $('.category_id').change(function (event) {
        $('#image-loading').show();
        categoryID = $('.category_id').val();
        $.post('{{ loadOptionOne }}', {'categoryID': categoryID, 'flag': true}, function (data) {
            $('#image-loading').hide();
            $('#showoptionone').html(data).promise().done(function () {
                $('select.select2').each(function (index, el) {
                    $(this).wrap("<div class='select-2-container position-relative" + ($(this).attr('data-tags') ? " select2-tag" : '') + "'></div>");
                    $(this).css('width', '100%');
                    $(this).after('<div class="select-2-wrapper ' + ($(this).attr('multiple') ? 'multiple' : 'single') + '"></div>');
                    $(this).select2({
                        theme: 'bootstrap4',
                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                        placeholder: $(this).attr('data-placeholder'),
                        tags: $(this).attr('data-tags'),
                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true)
                    });
                });
            });
        })
    });

</script>

<style>
    .img-wrapper {
        width: 50px;
        height: 50px;
        display: flex;
    }

    .img-wrapper > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    #import-xls {
        text-decoration-line: none;
    }
</style>
{{ footer }}