{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Slideshow -->
    <section class="block-banner bestme-block-slideshow">
        <div class="container1">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-home-banner">
                {% for slide in slideshow.slides %}
                    <div class="slide-item">
                        <div class="image-background">
                            <img src="{{ slide['image-url'] }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}

<!-- Block products -->
<pre>
</pre>
{% for k, block in blocks %}
    {% if block['visible'] and k < 1 %}
        <section class="block-saleoff-product bestme-block-hot-product fadeInUp wow">
            <div class="col-12">
                <div class="row">
                    <div class="section-product-left col-12 no-padding">
                        <div class="block_left effect">
                            <h4 class="page-subheading ">
                                <a href="" class="title--main">{{ block['title'] }}</a>
                                {% if block['sub_title'] is not empty %}
                                    <a href="{{ block['view_more'] }}" class="title--sub"><span>{{ block['sub_title'] }}</span></a>
                                {% endif %}
                            </h4>
                            <a class="img--category" href="{{ block['view_more'] }}">
                                {% if block['current_collection_image'] %}
                                    <img src="{{ block['current_collection_image'] }}" alt="Adv Banner" class="img-responsive">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% if block['collections'] is not empty %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,collection in block['collections'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">

                                                    <div class="product-img">
                                                        <a href="{{ collection['url'] }}">
                                                            <img src="{{ collection['image'] }}" alt="collection['title']">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ collection['url'] }}" title="{{ collection['title'] }}" class="product-title">{{ collection['title']|length > 40 ? collection['title']|slice(0, 40) ~ '...' :collection['title'] }}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['collections']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,product in block['products'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">

                                                    <div class="product-img">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                                        </a>
                                                        <div class="product-highlight">
                                                            {% if product['percent_sale'] is not empty %}
                                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                                            {% endif %}
                                                            {% if product['product_is_stock'] == false %}
                                                                <span class="status">hết</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-preview text-center">
                                                            <a href="{{ product['href'] }}" class="cart-btn">ĐẶT HÀNG</a>
                                                            <a href="#" class="like-btn d-none">
                                                                <i class="icon icon-heart bg-white font-18"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                                        </div>
                                                        {% if block['block_type'] == 'best_sales_product' %}
                                                            <div class="item-product-total-sold">
                                                                Đã bán: {{ product['total_sold'] }}
                                                            </div>
                                                        {% endif %}
                                                        <div class="product-rating d-none">
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item"></span>
                                                            <span class="rate-item"></span>
                                                        </div>
                                                        {% if product['is_contact_for_price'] %}
                                                            <span class="product-price">{{ contact }}</span>
                                                        {% else %}
                                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                <span class="product-price">
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </span>
                                                            {% else %}
                                                                <span class="product-price">
                                                                {% if product['max_price_version'] is null %}
                                                                    <span class="price">{{ product['price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                                    {% if product['min_price_version'] != product['max_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                                <span class="product-price-sale">
                                                                {% if product['max_compare_price_version'] is null %}
                                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div> <!-- End container -->
        </section> <!-- End block-saleoff-product -->
            <!-- /.Block bst home -->
            {% endif %}
            {% endfor %}
            <!-- /.Block products -->
<!-- Block-saleoff-product -->
<!-- /.Block-saleoff-product -->
<!-- SECTION TOP BANNER -->
<div class="section-top-banner row">
    <div class="col-md-6 col-12 stb-block">

    </div>
</div>
<!-- END SECTION TOP BANNER -->
<!-- Section Banners HTML -->
<section class="top-banners fadeInUp wow">
    <div class="blockstore row">
        {# apollo. temp disabled #}
        {#<div class="col-12 col-lg-6 no-padding blockstore__left">
            <div class="blockstore__left--logo">
                <img src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/logo-store.png" alt="We love fashion" class="img-responsive">
            </div>
            <h4 class="blockstore__left--title">Chúng tôi yêu thời trang</h4>
            <div class="blockstore__left--des">
                Ra đời vào cuối năm 2011, New Fashion đã sớm có một vị trí vững chắc trên thị trường thương mại điện tử trong nước, trở thành shop mua sắm hàng thời trang online đầy tin cậy, tiện lợi cho khách hàng trên toàn quốc.
            </div>
            <a class="blockstore__left--btn btn btn-outline-inverse" href="#">Xem thêm</a>
        </div>
        <div class="col-12 col-lg-6 no-padding blockstore_right">

        </div>#}
        {# End - apollo. temp disabled #}

        {# BESTME modified #}
        {% if banners_visible == '1' and banner_highlight['visible'] == '1' %}
            <div class="col-12 col-lg-12 no-padding blockstore_right bestme-block-banner-1" style="background-image: none!important;">
                <a href="{{ banner_highlight['url'] }}">
                    <img src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}" class="img-responsive">
                </a>
            </div>
        {% endif %}
        {# End - BESTME modified #}
    </div>
</section>
<!-- End Section Banners HTML-->

{% for k, block in blocks %}
    {% if block['visible'] and k == 1 %}
        <!-- block-top-sale-product -->
        <section class="block-top-sale-product bestme-block-best-sales-product fadeInUp wow">
            <div class="col-12">
                <div class="row">
                    <div class="section-product-left col-12 no-padding">
                        <div class="block_left effect">
                            <h4 class="page-subheading ">
                                <a href="{{ block['view_more'] }}" class="title--main">{{ block['title'] }}</a>
                                {% if block['sub_title'] is not empty %}
                                    <a href="{{ block['view_more'] }}" class="title--sub"><span>{{ block['sub_title'] }}</span></a>
                                {% endif %}
                            </h4>
                            <a class="img--category" href="{{ block['view_more'] }}">
                                {% if block['current_collection_image'] %}
                                    <img src="{{ block['current_collection_image'] }}" alt="Adv Banner" class="img-responsive">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% if block['collections'] is not empty %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,collection in block['collections'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">

                                                    <div class="product-img">
                                                        <a href="{{ collection['url'] }}">
                                                            <img src="{{ collection['image'] }}" alt="collection['title']">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ collection['url'] }}" title="{{ collection['title'] }}" class="product-title">{{ collection['title']|length > 40 ? collection['title']|slice(0, 40) ~ '...' :collection['title'] }}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['collections']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,product in block['products'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">
                                                    <div class="product-img">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                                        </a>
                                                        <div class="product-highlight">
                                                            {% if product['percent_sale'] is not empty %}
                                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                                            {% endif %}
                                                            {% if product['product_is_stock'] == false %}
                                                                <span class="status">hết</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-preview text-center">
                                                            <a href="{{ product['href'] }}" class="cart-btn">ĐẶT HÀNG</a>
                                                            <a href="#" class="like-btn d-none">
                                                                <i class="icon icon-heart bg-white font-18"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                                        </div>
                                                        {% if block['block_type'] == 'best_sales_product' %}
                                                            <div class="item-product-total-sold">
                                                                Đã bán: {{ product['total_sold'] }}
                                                            </div>
                                                        {% endif %}
                                                        <div class="product-rating d-none">
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item"></span>
                                                            <span class="rate-item"></span>
                                                        </div>
                                                        {% if product['is_contact_for_price'] %}
                                                            <span class="product-price">{{ contact }}</span>
                                                        {% else %}
                                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                <span class="product-price">
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </span>
                                                            {% else %}
                                                                <span class="product-price">
                                                                {% if product['max_price_version'] is null %}
                                                                    <span class="price">{{ product['price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                                    {% if product['min_price_version'] != product['max_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                                <span class="product-price-sale">
                                                                {% if product['max_compare_price_version'] is null %}
                                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div> <!-- End container -->
        </section> <!-- End block-top-sale-product -->
        <!-- /.block-top-sale-product -->
        <!-- /.Block bst home -->
    {% endif %}
{% endfor %}


<!-- Section Newsletter -->
<div class="section-newsletter clear-fix fadeInUp wow">
    <div class="container">
        <div class="row">
            {% if banners_visible == '1' and banner_left['visible'] == '1' %}
            <div class="blockemail__img col-lg-6 col-12 d-lg-block d-none bestme-block-banner-2">
                <a href="{{ banner_left['url'] }}">
                    <img src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}" class="img-responsive">
                </a>
            </div>
            {% endif %}

            <div class="col-lg-6 col-12 blockemail">
                <h2 class="text-uppercase font-weight-bold ">ĐĂNG KÝ THEO DÕI TIN TỨC MỚI</h2>
                {#<p>Đăng ký ngay để không bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn! Đồng thời nhận ngay khuyến mãi 15% cho lần mua hàng kế tiếp</p>#}
                <p>Đăng ký ngay để không bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn!</p>
                <form class="newsletter-form">
                    <div class="input-group w-100">
                        <div class="input-email">
                            <input placeholder="Email của bạn" type="email" class="w-100">
                        </div>
                        <div class="input-group-append">
                            <button class="btn" type="submit">ĐĂNG KÝ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Section Newsletter -->

{% for k, block in blocks %}
    {% if block['visible'] and k == 2 %}
        <section class="block-new-product bestme-block-new-product fadeInUp wow">
            <div class="col-12">
                <div class="row">
                    <div class="section-product-left col-12 no-padding">
                        <div class="block_left effect">
                            <h4 class="page-subheading ">
                                <a href="{{ block['view_more'] }}" class="title--main">{{ block['title'] }}</a>
                                {% if block['sub_title'] is not empty %}
                                    <a href="{{ block['view_more'] }}" class="title--sub"><span>{{ block['sub_title'] }}</span></a>
                                {% endif %}
                            </h4>
                            <a class="img--category" href="{{ block['view_more'] }}">
                                {% if block['current_collection_image'] %}
                                    <img src="{{ block['current_collection_image'] }}" alt="Adv Banner" class="img-responsive">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% if block['collections'] is not empty %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,collection in block['collections'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">

                                                    <div class="product-img">
                                                        <a href="{{ collection['url'] }}">
                                                            <img src="{{ collection['image'] }}" alt="collection['title']">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ collection['url'] }}" title="{{ collection['title'] }}" class="product-title">{{ collection['title']|length > 40 ? collection['title']|slice(0, 40) ~ '...' :collection['title'] }}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['collections']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,product in block['products'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">


                                                    <div class="product-img">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                                        </a>
                                                        <div class="product-highlight">
                                                            {% if product['percent_sale'] is not empty %}
                                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                                            {% endif %}
                                                            {% if product['product_is_stock'] == false %}
                                                                <span class="status">hết</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-preview text-center">
                                                            <a href="{{ product['href'] }}" class="cart-btn">ĐẶT HÀNG</a>
                                                            <a href="#" class="like-btn d-none">
                                                                <i class="icon icon-heart bg-white font-18"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                                        </div>
                                                        {% if block['block_type'] == 'best_sales_product' %}
                                                            <div class="item-product-total-sold">
                                                                Đã bán: {{ product['total_sold'] }}
                                                            </div>
                                                        {% endif %}
                                                        <div class="product-rating d-none">
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item"></span>
                                                            <span class="rate-item"></span>
                                                        </div>
                                                        {% if product['is_contact_for_price'] %}
                                                            <span class="product-price">{{ contact }}</span>
                                                        {% else %}
                                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                <span class="product-price">
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </span>
                                                            {% else %}
                                                                <span class="product-price">
                                                                {% if product['max_price_version'] is null %}
                                                                    <span class="price">{{ product['price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                                    {% if product['min_price_version'] != product['max_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                                <span class="product-price-sale">
                                                                {% if product['max_compare_price_version'] is null %}
                                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div> <!-- End container -->
        </section> <!-- End block-new-product -->
        <!-- /.Block bst home -->
    {% endif %}
{% endfor %}

{% for k, block in blocks %}
    {% if block['visible'] and k > 2 %}
        <section class="block-new-product bestme-block-new-product fadeInUp wow">
            <div class="col-12">
                <div class="row">
                    <div class="section-product-left col-12 no-padding">
                        <div class="block_left effect">
                            <h4 class="page-subheading ">
                                <a href="{{ block['view_more'] }}" class="title--main">{{ block['title'] }}</a>
                                {% if block['sub_title'] is not empty %}
                                    <a href="{{ block['view_more'] }}" class="title--sub"><span>{{ block['sub_title'] }}</span></a>
                                {% endif %}
                            </h4>
                            <a class="img--category" href="{{ block['view_more'] }}">
                                {% if block['current_collection_image'] %}
                                    <img src="{{ block['current_collection_image'] }}" alt="Adv Banner" class="img-responsive">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% if block['collections'] is not empty %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,collection in block['collections'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-{{ col_xl }} col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">

                                                    <div class="product-img">
                                                        <a href="{{ collection['url'] }}">
                                                            <img src="{{ collection['image'] }}" alt="collection['title']">
                                                        </a>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ collection['url'] }}" title="{{ collection['title'] }}" class="product-title">{{ collection['title']|length > 40 ? collection['title']|slice(0, 40) ~ '...' :collection['title'] }}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['collections']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="section-product-right col-12">
                            <div class="block-content row1">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                    {% set col_xl = 12/block['grid'] %}
                                    {% set break_index = block['grid'] * 2   %}
                                    {% for k,product in block['products'] %}
                                        {% if k % break_index  == 0 %}
                                            <div class="slide-item">
                                            <div class="row">
                                        {% endif %}
                                        <div class="pi-col col-6 col-md-{{ col_xl }}">
                                            <div class="product-item">
                                                <div class="product-info">


                                                    <div class="product-img">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}">
                                                        </a>
                                                        <div class="product-highlight">
                                                            {% if product['percent_sale'] is not empty %}
                                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                                            {% endif %}
                                                            {% if product['product_is_stock'] == false %}
                                                                <span class="status">hết</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-preview text-center">
                                                            <a href="{{ product['href'] }}" class="cart-btn">ĐẶT HÀNG</a>
                                                            <a href="#" class="like-btn d-none">
                                                                <i class="icon icon-heart bg-white font-18"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-meta">
                                                        <div class="item-product-name">
                                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                                        </div>
                                                        {% if block['block_type'] == 'best_sales_product' %}
                                                            <div class="item-product-total-sold">
                                                                Đã bán: {{ product['total_sold'] }}
                                                            </div>
                                                        {% endif %}
                                                        <div class="product-rating d-none">
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item on"></span>
                                                            <span class="rate-item"></span>
                                                            <span class="rate-item"></span>
                                                        </div>
                                                        {% if product['is_contact_for_price'] %}
                                                            <span class="product-price">{{ contact }}</span>
                                                        {% else %}
                                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                <span class="product-price">
                                                                    {% if product['max_price_version'] is null %}
                                                                        <span class="price">{{ product['compare_price_master'] }}</span>
                                                                    {% else %}
                                                                        <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                            ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </span>
                                                            {% else %}
                                                                <span class="product-price">
                                                                {% if product['max_price_version'] is null %}
                                                                    <span class="price">{{ product['price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_price_version'] }}</span>
                                                                    {% if product['min_price_version'] != product['max_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                                <span class="product-price-sale">
                                                                {% if product['max_compare_price_version'] is null %}
                                                                    <span class="price">{{ product['compare_price_master'] }}</span>
                                                                {% else %}
                                                                    <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                        ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End col product -->
                                        {% if k % break_index == break_index -1 or k + 1 == block['products']|length %}
                                            </div> <!-- End row -->
                                            </div> <!-- End slide item -->
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->

                            <div class="w-100 text-center mt-3 mb-3">
                                <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div> <!-- End container -->
        </section> <!-- End block-new-product -->
        <!-- /.Block bst home -->
    {% endif %}
{% endfor %}

<div class="bestme_app_after_product">

</div>

{# blog. NOT USE. Temp disable. TODO: remove... #}
{% if false and latest_blog %}
    <hr>
    <section class="block-new-product bestme-block-new-product fadeInUp wow">
        <div class="col-12">
            <div class="row">
                <div class="section-product-left col-12 no-padding">
                    <div class="block_left effect">
                        <h4 class="page-subheading ">
                            <a href="javascript:;" class="title--sub"><span>BÀI VIẾT MỚI NHẤT </span></a>
                        </h4>
                    </div>
                </div>
                <div class="section-product-right col-12">
                    <div class="block-content row1">
                        <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">
                            <div class="slide-item">
                                <div class="row">
                                    {% for key, latest_blog in latest_blog %}
                                    {% if key < 4 %}
                                    <div class="pi-col col-3 col-md-3">
                                        <div class="product-item">
                                            <div class="product-info">
                                                <div class="product-img">
                                                    <a href="{{ latest_blog['link'] }}">
                                                        <img src="{{ latest_blog['image'] }}" alt="{{ latest_blog['title'] }}">
                                                    </a>
                                                </div>
                                                <div class="product-meta">
                                                    <div class="item-product-name">
                                                        <a href="{{ latest_blog['link'] }}" title="test des" class="product-title">{{ latest_blog['title'] }}</a>
                                                    </div>
                                                    <div class="ega-pro__price-group">
                                                        {{ latest_blog['short_content']|length > 100 ? latest_blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : latest_blog['short_content']|html_entity_decode|striptags }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Pro Item -->
                                    </div>
                                    <!-- End col product -->
                                    {% endif %}
                                    {% endfor %}
                                    <!-- End col product -->
                                </div>
                                <!-- End row -->
                            </div>
                            <!-- End slide item -->
                        </div>
                    </div>
                    <!-- End block-content -->
                </div>
            </div>
        </div>
        <!-- End container -->
    </section>
{% endif %}
<!-- /.Blog -->
<DIV class="bestme_app_before_footer">

</DIV>
<!-- Section Service -->
<div class="html_block block text-center row">
    {# temp disable apollo code #}
    <div class="d-none col-lg-6 col-12 section-testimonial section-testimonial-old-ap fadeInLeft wow">
        <div class="page-subheading">
    	   <p class="title--main">KHÁCH HÀNG</p>
    	   <p class="title--sub">NÓI VỀ CHÚNG TÔI</p>
	   </div>
	   <div class="content owl-carousel owl-loaded">
	       <div class="item-testimonial">
	           <div class="rte-setting">
	              Mình là khách ruột của cửa hàng. Mỗi khi cần mua đồ, đây luôn là lựa chọn đầu tiên. Chất lượng sản phẩm tốt, nhân viên hỗ trợ nhiệt tình 
	           </div>
	           <h4>Anh Nguyên Vũ</h4>
	           <p>CEO Mango.com</p>
	       </div>
	       <div class="item-testimonial">
	           <div class="rte-setting">
	              Rất nhiều mẫu để lựa chọn, sàn phẩm theo xu hướng thời trang thế giới, giá cả vô cùng hợp lý. Mình sẽ còn tiếp tục mua tại đây trong tương lai 
	           </div>
	           <h4>Chị Thu Hà</h4>
	           <p>Diễn viên/Người mẫu</p>
	       </div>
	       <div class="item-testimonial">
	           <div class="rte-setting">
	              Là nhà thiết kế nên mình rất khắt khe trong việc lựa chọn quần ào và phụ kiện cho bản thân. Tuy nhiên chưa bao giờ mình phải băn khoăn khi đồ tại cửa hàng vì chất lượng vô cùng tốt
	           </div>
	           <h4>Anh Hoàng Long</h4>
	           <p>Thiết kế</p>
	       </div>
	   </div>
    </div>

    {# bestme: show blog here #}
    {% if latest_blog %}
        <div class="col-lg-6 col-12 section-testimonial fadeInLeft wow">
            <div class="page-subheading">
                <p class="title--main">TIN TỨC</p>
                <p class="title--sub">BÀI VIẾT MỚI NHẤT</p>
           </div>
           <div class="content owl-carousel owl-loaded">
               {% for key, latest_blog in latest_blog %}
                   {% if key < 4 %}
                       <div class="item-testimonial">
                           {#<a href="{{ latest_blog['link'] }}" title="{{ latest_blog['title'] }}">#}
                           <a href="#" title="{{ latest_blog['title'] }}">
                               <p class="home-each-blog-title">{{ latest_blog['title'] }}</p>
                               <div class="rte-setting">
                                   {{ latest_blog['short_content']|length > 100 ? latest_blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : latest_blog['short_content']|html_entity_decode|striptags }}
                               </div>
                               <h4>{{ latest_blog['lastname'] }} {{ latest_blog['firstname'] }}</h4>
                               <p>{{ latest_blog['date_modified']|date("d/m/Y") }}</p>
                           </a>
                       </div>
                   {% endif %}
               {% endfor %}
           </div>
        </div>
    {% endif %}

    <!-- block-partner -->
    {% if partners_visible == '1' %}
    <div class="col-lg-6 col-12 section-brands section-testimonial fadeInRight wow">
        <div class="page-subheading">
    	   <p class="title--main">THƯƠNG HIỆU</p>
    	   <p class="title--sub">HỢP TÁC VỚI CHÚNG TÔI</p>
	   </div>
        <div class="block-partner text-center mb-5 bestme-block-partner">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                    {% for partner in partners %}
                        <div class="slide-item">
                            <a title="{{ partner['description'] }}" href="{{ partner.url }}"><img src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                        </div>
                    {% endfor %}
                </div> <!-- End owl-carousel -->
        </div> <!-- End block-partner -->
    </div>    
    {% endif %}
    <!-- /.block-partner -->
</div>
<!-- End Section Service -->

<!-- block-ads-banner -->
{% if banners_visible == '1' and banner_middle['visible'] == '1' %}
    <section class="block-ads-banner mb-5 text-center bestme-block-banner-3">
        <div class="container">
            <a href="{{ banner_middle['url'] }}">
                <img src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}" width="100%">
            </a>
        </div> <!-- End container -->
    </section> <!-- End block ads banner -->
    <!-- /.Block BST -->
{% endif %}
<!-- /.block-ads-banner -->

{{ footer }}