{{ header }}

<main class="content-wrapper clearfix">
    <div class="container" id="blog-page">
        <div class="py-3">
            {# <h1 class="page-title">My account</h1> #}
            <div class="row">
                <div class="col-12 col-md-3 sidebar-left">
                    <nav class="navbar mb-3 px-0">
                        <h3 class="font-16 my-2 mb-3 w-100 text-uppercase"><span>Danh mục tin</span></h3>
                        <ul class="list-group w-100">
                            {% for category in blog_category %}
                                <li class="list-group-item py-1 {% if category['blog_category_id'] == filter['blog_category_id'] %} active {% endif %} ">
                                    <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ category['title'] }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </nav>

                    <nav class="navbar mb-1 px-0 best-blog">
                        <h3 class="font-16 my-2 mb-3 w-100 text-uppercase"><span>Tin hay cho bạn</span></h3>
                        <div class="blog-views m-0 p-0 border-0">
                            <div class="view-content">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {%  set blog_id_detail = blog['blog_id']  %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="blog-item font-12 m-0 mb-3">
                                                <div class="row m-0">
                                                    <div class="img col-4 px-0">
                                                        <a href="{{ blog['link'] }}">
                                                            <img class="rounded-0" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                        </a>
                                                    </div>
                                                    <div class="blog-right col-8">
                                                        <a class="{{ blog['blog_id'] == blog_id_detail ? 'active' : '' }} title font-14 m-0 line-height-1"
                                                           href="{{ blog['link'] }}"
                                                           data-toggle="tooltip"
                                                           title="{{ blog['title']|length > 30 ? blog['title'] : "" }}">
                                                            {{ blog['title']|length > 30 ? blog['title']|html_entity_decode|slice(0, 30) ~ '...' : blog['title']|html_entity_decode }}
                                                        </a>
                                                    </div>
                                                    <div class="blog-date">
                                                        <span class="date">{{ blog['date_added']|date('d-m-Y') }}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </nav>

                    <nav class="navbar mb-3 px-0">
                        <h3 class="font-16 my-2 mb-3 w-100 text-uppercase"><span>Tags</span></h3>
                        <ul class="nav">
                            {% for tag in tags %}
                                <li class="nav-item {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">
                                    <a href="{{ tag['link'] }}" class="nav-link {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-md-9">
                    <div class="blog-views border-0">
                        <div class="view-content">
                            <div class="row">
                                {% if blog is empty %}
                                    Không có bài viết
                                {% else %}
                                    <article>
                                        <div class="article-content p-2">
                                            <h5 class="type-blog header-font">
                                                {% for blog_category in blog['blog_categories'] %}
                                                    {% if loop.index < 2 %}
                                                        {{ blog_category['title'] }}
                                                    {% else %}
                                                        , {{ blog_category['title'] }}
                                                    {% endif %}
                                                {% endfor %}
                                            </h5>
                                            <h1 class="name-blog header-font">{{ blog['title'] }}</h1>
                                            <div class="meta-blog">
                                                <div class="author">
                                                    <span class="date">{{ blog['date_added']|date('d-m-Y') }}</span>&nbsp;bởi
                                                    <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                                </div>
                                            </div>
                                            <div class="thumb text-center">
                                                <div class="banner-post overflow-hidden mb-lg-4 mb-3">
                                                    {% if blog['type'] == 'video' %}
                                                        <div id="blog-thumb-video" class="blog-thumb-video"
                                                             data-video-url="{{ blog['video_url'] }}"></div>
                                                    {% elseif blog['image'] is not empty %}
                                                        <img class="img-fluid" src="{{ blog['image'] }}"
                                                             alt="{{ blog['alt'] }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="desc">
                                                {{ blog['content']|html_entity_decode }}
                                            </div>
                                        </div>
                                    </article>
                                {% endif %}
                                <!-- blog-item -->
                            </div>
                        </div> <!-- End row -->
                    </div> <!-- End view content -->
                </div> <!-- End blog view -->
            </div>

        </div> <!-- End row -->
    </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->
<style>
    article {
        width: 100%;
    }
</style>
{{ footer }}

<script src="/catalog/view/theme/default/js/blog_detail_video.js"></script>
<script>
    if (blogDetailVideo) {
        blogDetailVideo.init({
            videoElementId: 'blog-thumb-video',
            videoHeight   : '100%',
            currentTheme  : '{{ current_theme }}'
        });
    }
</script>