<table class="table table-with-operation product-list table-mobile table-mobiles">
    <thead>
    <tr>
        {% if can_modify %}
        <th scope="check-all">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ text_choose_action }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#addOrderTagsModal" data-type="add-tag"
                       data-title="{{ text_update_order_tag_add }}">{{ lang_add_tag }}</a>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                       data-target="#addOrderTagsModal" data-type="remove-tag"
                       data-title="{{ remove_tag }}">{{ lang_remove_tag }}</a>
                    {#<a class="dropdown-item" target="_blank"#}
                    {#href="{{ action_in_stock_product }}"#}
                    {#id="action-order-in-print">{{ print_order }}</a>#}
                </div>
                <input type="hidden" name="selected" class="selected_order" value="">
                <span class="select-all-mobile">{{ selected_all }}</span>
            </div>
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            {% if can_modify %}
            <td width="17px" scope="select-this" data-id="{{ order['order_id'] }}">
                <label class="checkbox">
                    <input type="checkbox" name="select_this"
                           value="{{ order['order_id'] }}">
                    <span></span>
                </label>
            </td>
            {% endif %}
            <td style="padding-left: 0">
                <a href="{{ order['order_url'] }}">{{ order['order_code'] }}</a>
            </td>

            <td class="text-center">
                <div class="dropdown order-status"
                     id="order-badge-{{ order['order_status_id'] }}">
                    {#button on order status to quick change status#}
                    <button class="btn btn-secondary dropdown-toggle" type="button" {% if not can_modify %} disabled {% endif %}
                            id="dropdownChangeStatus-{{ order['order_id'] }}-{{ order['order_status_id'] }}"
                            {% if order['order_status_id'] != 10 %}data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"{% endif %}>
                        {{ order['order_status_description'] }}
                    </button>

                    {#droplist of contexual order statuses to be changed#}
                    {#use updateOrderStatus-7|8|9|10 or cancelOrderModal#}
                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="dropdownChangeStatus-{{ order['order_id'] }}-{{ order['order_status_id'] }}">
                        {% for order_status in order['changable_order_statuses'] %}
                            {% if order_status['order_status_id'] != 10 %}
                                <a class="dropdown-item" href="#"
                                   data-toggle="modal" data-source="{{ order['order_source'] }}"
                                   name="order-status-{{ order['order_id'] }}-{{ order_status['order_status_id'] }}">{{ order_status['order_status_description'] }}</a>

                                {#for trigger show modal#}
                                <a hidden class="dropdown-item" href="#"
                                   data-toggle="modal"
                                   id="order-status-{{ order['order_id'] }}-{{ order_status['order_status_id'] }}"
                                   data-target="#updateOrderStatus-{{ order_status['order_status_id'] }}">{{ order_status['order_status_description'] }}</a>
                            {% else %}
                                <a class="dropdown-item" href="#"
                                   data-toggle="modal" data-source="{{ order['order_source'] }}"
                                   name="cancelOrderModal-{{ order['order_id'] }}">{{ order_status['order_status_description'] }}</a>

                                {#for trigger show modal#}
                                <a hidden class="dropdown-item" href="#"
                                   data-toggle="modal"
                                   id="cancelOrderModal-{{ order['order_id'] }}"
                                   data-target="#cancelOrderModal">{{ text_update_order_status_to_cancelled_title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </td>
            <td class="text-right">
                <a class="font-10 mt-1 float-right collapsed order_quick_view"
                   data-order-id="{{ order['order_id'] }}" data-toggle="collapse"
                   href="#collapseTableThView-{{ order['order_id'] }}" aria-expanded="false"
                   aria-controls="collapseTableThView-{{ order['order_id'] }}"><i
                            class="icon icon-arrow"></i></a>
            </td>
        </tr>

        <tr>
            <td colspan="4" class="p-0 border-0">
                <div class="collapse" id="collapseTableThView-{{ order['order_id'] }}">
                    <div class="card card-body card-body-mobile">
                        <table class="table mt-3 product-preview-list font-14">
                            <tr>
                                <td class="td-left">{{ text_table_customer }}:</td>
                                <td><a title="{{ order['fullname'] }}"
                                       href="{{ order['customer_url'] }}">{{ order['fullname']|length > 40 ? order['fullname']|slice(0, 30) ~ '...' : order['fullname'] }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-left">{{ text_source }}:</td>
                                <td>{{ order['order_source'] }}</td>
                            </tr>
                            <tr>
                                <td class="td-left">{{ text_table_order_total }}:</td>
                                <td>{{ order['total'] }}&#8363;</td>
                            </tr>
                            <tr>
                                <td class="td-left">{{ text_table_order_payment_status }}:</td>
                                <td {% if order['payment_status'] == 4 %} style="color: #dc3545" {% endif %}>
                                    {% if order['payment_status'] == 1 and order['order_status_id'] == 10 %}
                                        {{ filter_payment_status_return }}
                                    {% elseif order['payment_status'] == 4 %}
                                        {{ filter_payment_error }}
                                    {% else %}
                                        {{ order['payment_status'] == 1 ? order_payment_status_paid : order_payment_status_not_paid }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-left">{{ text_table_updated_time }}:</td>
                                <td>{{ order['date_modified_mobile'] }}</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- pagination -->
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div><!-- End pagination -->

{# add js. TODO: remove. DUPLICATE CODE HERE... :(( #}
<script type="text/javascript">
    var bulk_action_tag = 'add-tag'; // add-tag or remove-tag
    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });

    $('[scope="select-this"] input[name="select_this"]').on('change', function () {
        getSelected();
    });

    function getSelected() {
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function () {
            if ($(this).is(":checked")) {
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        });
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    var term_tag = '';
    var tag_element = null;
    $('select.select2-tag-order').select2({
        theme: 'bootstrap4',
        width: "100%",
        placeholder: "{{ use_tag_description }}",
        closeOnSelect: false,
        language: {
            "noResults": function () {
                return "<span class='add-option' onclick='addTag()'><i class='fa fa-plus-circle'></i>Thêm '"+ term_tag +"'</span>";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        ajax: {
            url: "index.php?route=catalog/product/getTagLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                term_tag = params.term;
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                tag_element = this;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    });

    $('select.select2-tag').select2({
        // theme: 'bootstrap4',
        width: "100%",
        tags: true,
        dropdownParent: $('.select2-tag-wrapper .select-2-dropdown-tag'),
        placeholder: "{{ use_tag_description }}",
        closeOnSelect: true,
        tokenSeparators: [','],
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=catalog/product/getTagLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        },
    });

    $('.modal.product-modal').on('show.bs.modal', function (event) {
        var title = $(event.relatedTarget).data('title');
        //set text
        if (typeof title != "undefined")
            $(this).find('.data-title').text(title);
        //set action
        var action_type = $(event.relatedTarget).data('type');
        var order_list = $('.selected_order').val();
        $('.order-id-select').val(order_list);
        //add link form modal
        if (action_type == 'add-tag') {
            $('#add-tag-to-order').attr('action', '{{ action_add_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        } else if (action_type == 'remove-tag') {
            $('#add-tag-to-order').attr('action', '{{ action_remove_tag | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}');
        }

        bulk_action_tag = action_type;
        console.log('bulk_action_tag: ' + bulk_action_tag);
    });

    $('.select-tag-use li').on('click', function () {
        var data = {
            id: $(this).attr('data-id'),
            text: $(this).html(),
        };
        if ($(".select2-tag-wrapper .select2-selection__choice[title='" + $(this).html() + "']").length == 0) {
            var newOption = new Option(data.text, data.id, true, true);
            $('select.select2-tag').append(newOption).trigger('change');
        }
    });

    $("#add-tag-to-order").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            'tag_list[]': {
                validators: {
                    callback: {
                        callback: function (value, validator, $field) {
                            // Get the selected options
                            var options = validator.getFieldElements('tag_list[]').val();
                            var result = true;

                            /* validate: notEmpty */
                            if (!options || options.length < 1) {
                                result = false;

                                // dynamic message
                                if (!result) {
                                    if (bulk_action_tag === 'add-tag') {
                                        return {
                                            valid: result,
                                            message: '{{ notice_add_tag_error }}'
                                        }
                                    }

                                    return {
                                        valid: result,
                                        message: '{{ notice_remove_tag_error }}'
                                    }
                                }
                            }

                            /* validate: maxLength */
                            $.each(options, function (index, value) {
                                if (value.length > 30) {
                                    result = false;

                                    return {
                                        valid: result,
                                        message: '{{ notice_add_tag_error_max_length }}'
                                    }
                                }
                            });

                            return result;
                        }
                    }
                }
            },
        }
    }).on('valid.bs.validator', function (e, data) {
        $('#add-tag-to-order button[type="submit"]').removeClass("disabled");
    });

    $('#addOrderTagsModal .btn-pink').on('click', function () {
        $('#add-tag-to-order button[type="submit"]').trigger('click');
    });

    // select2 product
    var list_product = [];
    $('select.select2-product').select2({
        theme: 'bootstrap4',
        containerCssClass: 'col',
        placeholder: "{{ entry_product_placeholder }}",
        closeOnSelect: false,
        width: '100%',
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=sale/order/getProductsLazyLoad&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    page: params.page || 1
                };
                return condition;
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;
                if (data.count == 0) {
                    data.results = [];
                }
                $.each(data.results, function (index, value) {
                    list_product[value.id] = value;
                });
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 6) < data.count
                    }
                };
            },
            cache: true
        }
    }).on('select2:open', function (e) {
        if ($('.product-select .help-block').length > 0) {
            $('.product-select .help-block').remove();
        }
    });

    $('select.select2-product').on('change', function (e) {
        var ids = $(this).val();
        ids = ids.filter(function(elem, index, self) {
            return index === self.indexOf(elem);
        });
        $(this).closest('.edit-order-form').find('.order-product').each(function(){
            var id = $(this).attr('data-id');
            if($.inArray(id, ids) >= 0 ){
                ids.splice($.inArray(id, ids),1);
            }else{
                $(this).remove();
            }
        });
        for (let i = 0; i < ids.length; i ++){
            $(this).closest('.edit-order-form').find('tbody').append('' +
                '<tr class="order-product" data-id="'+list_product[ids[i]].id+'" data-text="'+list_product[ids[i]].product_name+'">'+
                '<input type="hidden" value="'+list_product[ids[i]].id+'" name="product['+ list_product[ids[i]].id +'][product_id]">'+
                '<input type="hidden" value="'+ list_product[ids[i]].product_version_id +'" name="product['+ list_product[ids[i]].id +'][product_version_id]">'+
                '<input type="hidden" value="'+ list_product[ids[i]].price.replace(/,/g, '') +'" name="product['+ list_product[ids[i]].id +'][price]">'+
                '<td width="65">'+
                '<a href="'+ previx_link_view_product + list_product[ids[i]].product_id +'"><img src="'+list_product[ids[i]].image+'" class="" width="50"></a>'+
                '</td>'+
                '<td class="align-middle">'+
                '<a href="'+ previx_link_view_product + list_product[ids[i]].product_id +'" class="font-14">'+list_product[ids[i]].product_name+'</a>'+
                '<p class="m-0 text-secondary">'+list_product[ids[i]].version+'</p>'+
                '</td>'+
                '<td class="align-middle" width="60">'+
                '<input type="number" min="0" data-price="'+list_product[ids[i]].price+'" name="product['+ list_product[ids[i]].id +'][quantity]" value="1" class="form-control px-0 py-1 text-center product-quantity number-format-2">'+
                '</td>'+
                '<td width="65" data-price="'+list_product[ids[i]].price+'" class="align-middle product-amount">'+
                list_product[ids[i]].price+
                '₫</td>'+
                '<td class="align-middle" width="20">\n' +
                '                    <a class="product-remove" data-id="'+list_product[ids[i]].id+'"><i class="icon icon-close font-14 bg-secondary"></i></a>\n' +
                '                    </td>\n' +
                '                </tr>'
            );
        }
    });

    $('.collapse').on('shown.bs.collapse', function () {
        $(this).find('.order-product').each(function(){
            var id = $(this).attr('data-id');
            var text = $(this).attr('data-text');
            var newOption = new Option(text, id, false, true);
            $(this).closest('.collapse').find('#product-select').append(newOption);
        });
        $(this).closest('.collapse').find('#product-select').trigger('change');
    });

    $('tbody').on('change', '.product-quantity', function () {
        var this_quantity = $(this).val();
        var this_price = $(this).attr('data-price').replace(/,/gi, '');
        var amount = this_price * this_quantity;
        $(this).parent().parent().find('.product-amount').html(number_format(amount, 0, '.', ',')+'₫');
    });
    $('tbody').on('click', '.product-remove', function (e) {
        var this_id = $(this).attr('data-id');
        $("#product-select option[value='" + this_id + "']").remove();
        $(this).parent().parent().remove();
        e.preventDefault();
    });
    //end select2 product
    //
    $('#export-xls').on('click', function (e) {
        $.ajax({
            url: 'index.php?route=sale/order/export&user_token={{ user_token }}',
            type: 'post',
            data: new FormData($('#form-export')[0]),
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                if (json['error']) {
                    alert(json['error']);
                }

                if (json['success']) {
                    alert(json['success']);
                }

                if (json.indexOf('data:application/vnd.ms-excel') < 0) {
                    alert('{{ lang_export_error }}');
                    return;
                }

                var $a = $("<a>");
                $a.attr("href", json);
                $("body").append($a);
                $a.attr("download", "{{ text_list }}.xls");
                $a[0].click();
                $a.remove();

                // window.open('index.php?route=catalog/product&user_token=JKFUsfSYjijB8GpNrpPkh5UNXzSQE5Dc','_blank' );
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#image-loading').hide();
                alert('{{ lang_export_error }}');
            }
        });
    });
    //customer
    $('.edit-info-customer').on('click', function () {
        //reset form
        $('#editDeliveryInfo').removeData('bs.modal');
        $('#form_order_customer_info').bootstrapValidator('resetForm', true);
        $('#editDeliveryInfo .alert-danger').hide();
        $('#editDeliveryInfo .alert-success').hide();
        $('#editDeliveryInfo .order-full-name').val('');
        $('#editDeliveryInfo .order-telephone').val('');
        $('#editDeliveryInfo .order-shipping-address').val('');
        $('#editDeliveryInfo .select2-province option').remove();
        $('#editDeliveryInfo .select2-district option').remove();
        $('#editDeliveryInfo .select2-ward option').remove();

        var order_id = $(this).attr('data-order-id');
        $('#editDeliveryInfo .order-id').val(order_id);
        $.ajax({
            url: 'index.php?route=sale/order/getOrderJson&user_token={{ user_token }}',
            type: 'post',
            data: {
                order_id: order_id
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                //update data to modal
                $('#editDeliveryInfo .order-full-name').val(json.customer_name);
                $('#editDeliveryInfo .order-telephone').val(json.phone);
                $('#editDeliveryInfo .order-shipping-address').val(json.address);
                //add option province
                if (json.province.name != '' && json.province.code != '') {
                    var newOption = new Option(json.province.name, json.province.code, true, true);
                    $('#editDeliveryInfo .select2-province').append(newOption);
                    $('#editDeliveryInfo .select2-province').trigger('change');
                }
                if (json.district.name != '' && json.district.code != '') {
                    var newOption = new Option(json.district.name, json.district.code, true, true);
                    $('#editDeliveryInfo .select2-district').append(newOption);
                    $('#editDeliveryInfo .select2-district').trigger('change');
                }
                if (json.ward.name != '' && json.ward.code != '') {
                    var newOption = new Option(json.ward.name, json.ward.code, true, true);
                    $('#editDeliveryInfo .select2-ward').append(newOption);
                    $('#editDeliveryInfo .select2-ward').trigger('change');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#image-loading').hide();
                alert('{{ lang_export_error }}');
            }
        });
    });
    //validate form
    $("#form_order_customer_info").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            'telephone': {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 16,
                        message: '{{ error_max_length_15 }}'
                    },
                    callback: {
                        message: '{{ error_input_only_number }}',
                        callback: function (value, validator) {
                            var pattern = /^[0-9]+$/;
                            if (value.length >0 && !pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'fullname': {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 30,
                        message: '{{ error_max_length_30 }}'
                    },
                    callback: {
                        message: '{{ error_a_z_0_9 }}',
                        callback: function (value, validator) {
                            var pattern = /[!@#$%\^&*/?<>,.;:'"{}`|[)(+=._-]+$/;
                            if (value.length >0 && pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'shipping_address': {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 100,
                        message: '{{ error_max_length_100 }}'
                    },
                    callback: {
                        message: '{{ error_shipping_address }}',
                        callback: function (value, validator) {
                            var pattern = /[!@#$%\^&*/?<>.;:'"{}`|[)(+=._]+$/;
                            if (value.length >0 && pattern.test(value)) {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            },
            'shipping_province_code': {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                }
            },
            'shipping_district_code': {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                }
            },
            'shipping_ward_code': {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                }
            },
        }
    }).on('valid.bs.validator', function (e, data) {

    });

    jQuery('body').on('click', '.button-order-info-customer', function () {

        $('#editDeliveryInfo .alert-danger').hide();
        $('#editDeliveryInfo .alert-success').hide();

        var order_id = $('#editDeliveryInfo .order-id').val();

        $('#form_order_customer_info button[type="submit"]').submit();

        if (!$('#form_order_customer_info').has('.has-error').length) {
            $.ajax({
                url: 'index.php?route=sale/order/updateInfoCustomer&user_token={{ user_token }}',
                type: 'post',
                data: $('#form_order_customer_info').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                },
                success: function (json) {
                    $('#image-loading').hide();
                    if (json.status == true) {
                        $('#editDeliveryInfo .alert-danger').hide();
                        $('#editDeliveryInfo .alert-success').show();
                        $('#editDeliveryInfo .alert-success span').html(json.message);
                        $('#collapseOrderQuickView-'+order_id).find('.customer-telephone').html(json.phone);
                        $('#collapseOrderQuickView-'+order_id).find('.customer-address').html(json.address);
                    } else {
                        $('#editDeliveryInfo .alert-danger').show();
                        $('#editDeliveryInfo .alert-success').hide();
                        $('#editDeliveryInfo .alert-danger span').html(json.message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#image-loading').hide();
                    alert('{{ lang_export_error }}');
                }
            });
        }
    });
    //select2 province
    $('select.select2-province').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_province }}",
        dropdownParent: $('#editDeliveryInfo .select-2-dropdown-province'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getProvinces&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    provinces: $('.select2-province').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });
    //select2 district
    $('select.select2-province').on('select2:select', function (e) {
        $('#editDeliveryInfo .select2-ward option').remove();
        $('#editDeliveryInfo .select2-district option').remove();
    });
    $('select.select2-district').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_district }}",
        dropdownParent: $('#editDeliveryInfo .select-2-dropdown-district'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getDistrictsByProvinceCode&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    provinces: $('.select2-province').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });
    $('select.select2-district').on('select2:select', function (e) {
        $('#editDeliveryInfo .select2-ward option').remove();
    });
    //select2 wars
    $('select.select2-ward').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_wards }}",
        dropdownParent: $('#editDeliveryInfo .select-2-dropdown-ward'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getWardsByDistrictCode&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    district: $('.select2-district').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });

    /* handle on quick order status clicked */
    // order-status-[order_id]-[order_status_id]
    $('a[name^="order-status-"]').on('click', function () {
        var name = $(this).attr('name');
        var source = $(this).data('source');
        var tmp = name.replace('order-status-', '').split('-');
        var orderId = tmp[0];
        var orderStatusId = tmp[1];

        console.log('source 2', source);
        // update value to temp modal
        $('div[name="temp-data"] > input[name="orderId"]').val(orderId);
        $('div[name="temp-data"] > input[name="orderStatusId"]').val(orderStatusId);
        $('div[name="temp-data"] > input[name="orderSource"]').val(source);

        // click to show modal
        if (source == 'shopee') {
            $('#updateOrderStatusShopee').modal('show');
        } else {
            $('a[id="' + name + '"]').click();
        }
    });

    // cancelOrderModal-[order_id]
    {#$('a[name^="cancelOrderModal-"]').on('click', function () {#}
        {#var name = $(this).attr('name');#}
        {#var orderId = name.replace('cancelOrderModal-', '');#}

        {#// update value to temp modal#}
        {#$('div[name="temp-data"] > input[name="orderId"]').val(orderId);#}

        {#// remove previous comment#}
        {#$('#cancelOrderModal-comment').val('');#}

        {#// remove list products in orders#}
        {#$('tbody#cancelOrderModal-table-moblie').empty();#}

        {#// show list products in orders#}
        {#var url = '{{ get_order_products_url|raw }}'.replace('&amp;', '&') + '&order_id=' + orderId;#}
        {#$.ajax({#}
            {#url: url,#}
            {#type: 'get',#}
            {#beforeSend: function () {#}
                {#$('#image-loading').show();#}
            {#},#}
            {#success: function (json) {#}
                {#$('#image-loading').hide();#}

                {#if (!json || typeof json !== 'object' || !json['order_products']) {#}
                    {#alert('{{ lang_system_error_001 }}');#}
                    {#return;#}
                {#}#}

                {#var products = json['order_products'];#}
                {#if (!products || typeof products !== 'object') {#}
                    {#alert('{{ lang_system_error_002 }}');#}
                    {#return;#}
                {#}#}

                {#// show list products in orders#}
                {#var el, orderTotal = json.total;#}
                {#for (var i = 0, len = products.length; i < len; i++) {#}
                    {#el = '' +#}
                        {#'<tr>\n' +#}
                        {#'    <td>\n' +#}
                        {#'        <a href="#"\n' +#}
                        {#'           class="bg-light border rounded-3 d-inline-block">\n' +#}
                        {#'            <img src="' + products[i].image + '" width="50"\n' +#}
                        {#'                 height="50">\n' +#}
                        {#'        </a>\n' +#}
                        {#'    </td>\n' +#}
                        {#'    <td class="align-middle">\n' +#}
                        {#'        <a href="' + products[i].url + '">' + products[i].name + '</a>\n' +#}
                        {#'    </td>\n' +#}
                        {#'    <td class="text-right align-middle">' + products[i].price + '&#8363;</td>\n' +#}
                        {#'    <td class="align-middle">x' + products[i].quantity + '</td>\n' +#}
                        {#'    <td class="text-right align-middle">' + products[i].total + '&#8363;</td>\n' +#}
                        {#'</tr>';#}

                    {#$('tbody#cancelOrderModal-table-moblie').append(el);#}
                {#}#}

                {#// update order total value#}
                {#$('#cancelOrderModal-total').text(orderTotal);#}

                {#// click to show modal#}
                {#$('a[id="' + name + '"]').click();#}
            {#},#}
            {#error: function (xhr, ajaxOptions, thrownError) {#}
                {#$('#image-loading').hide();#}
                {#alert('{{ lang_system_error }}');#}
            {#}#}
        {#});#}
    {#});#}

    /* on quick update order status to processing */
    $('#btn-update-processing').on('click', function () {
        updateOrderStatus();
    });

    /* on quick update order status to delivering */
    $('#btn-update-delivering').on('click', function () {
        updateOrderStatus();
    });

    /* on quick update order status to complete */
    $('#btn-update-complete').on('click', function () {
        updateOrderStatus();
    });

    /* on quick update order status shopee */
    $('#btn-updateOrderStatusShopee').on('click', function () {
        updateOrderStatus();
    });

    /* on quick update order status to cancelled */
    $('#btn-cancel-order').on('click', function () {
        cancelOrder();
    });

    function updateOrderStatus() {
        var orderId = $('div[name="temp-data"] > input[name="orderId"]').val();
        var status = $('div[name="temp-data"] > input[name="orderStatusId"]').val();
        var source = $('div[name="temp-data"] > input[name="orderSource"]').val();

        console.log('source 2', source);

        // create hidden form
        var url = '{{ update_order_status_url|raw }}'.replace('&amp;', '&');
        var form = '' +
            '<form hidden' +
            '   action="' + url + '" ' +
            '   method="post" ' +
            '   id="form-update-status">' +
            '   <input type="number" name="order_id" value="' + orderId + '">' +
            '   <input type="text" name="order_status_id" value="' + status + '">' +
            '   <input type="text" name="order_source" value="' + source + '">' +
            '</form>';
        $('body').append(form);

        // submit form
        $('#form-update-status').submit();
    }

    function cancelOrder() {
        var orderId = $('div[name="temp-data"] > input[name="orderId"]').val();
        var source = $('div[name="temp-data"] > input[name="orderSource"]').val();
        var sendEmail = $('#notifi').prop('checked') ? 1 : 0;
        var orderCancelComment = $('#cancelOrderModal-comment').val();

        // create hidden form
        var url = '{{ cancel_order_url|raw }}'.replace('&amp;', '&');
        var form = '' +
            '<form hidden' +
            '   action="' + url + '" ' +
            '   method="post" ' +
            '   id="form-cancel-order">' +
            '   <input type="number" name="order_id" value="' + orderId + '">' +
            '   <input type="number" name="send_email" value="' + sendEmail + '">' +
            '   <input type="text" name="order_source" value="' + source + '">' +
            '   <textarea name="order_cancel_comment">' + orderCancelComment + '</textarea>' +
            '</form>';
        $('body').append(form);

        // submit form
        $('#form-cancel-order').submit();
    }
    //#product-select, .select2-tag-order, .order_comment
    $('select.select2-product').on('select2:select', function (e) {
        $(this).closest('.edit-order-form').find('button[type="submit"]').removeAttr("disabled");
    });
    $('select.select2-tag-order').on('select2:select', function (e) {
        $(this).closest('.edit-order-form').find('button[type="submit"]').removeAttr("disabled");
    });

    $('body').on('change', '.order_comment, .product-quantity', function () {
        $(this).closest('.edit-order-form').find('button[type="submit"]').removeAttr("disabled");
    });
    $('#action-order-in-print').on('click', function (event) {
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        ;
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&order_id=' + selected.join(',');
        $(this).attr('href', url);
    });
</script>

{#
<style type="text/css">
    .product-select .select2-selection__choice {
        display: none;
    }
</style>#}
