{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">{{ order_view_detail }}</li>
                    </ol>
                </nav>

                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">{{ order_view_detail }} có mã: {{ order_detail.order_id }}</h1>
                </div>
                <div class="box-wrap">

                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active" id="nav-customer-tab" data-toggle="tab" href="#tab-customer" role="tab"
                               aria-controls="nav-customer" aria-selected="true">{{ order_customer_info }}</a>

                            <a id="nav-product-tab" data-toggle="tab" href="#tab-cart" role="tab"
                               aria-controls="nav-product" aria-selected="false">{{ order_product_info }}</a>

                            <a id="nav-order-tab" data-toggle="tab" href="#tab-order" role="tab"
                               aria-controls="nav-order" aria-selected="false">{{ order_info }}</a>

                        </div>
                    </div>

                    <div class="box-content">
                        <form class="form-step" id="order-form" action="{{ order_submit_url }}" method="POST">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-customer" role="tabpanel">
                                    <div class="form-group row text-lg-right">
                                        <label class="col-12 col-lg-2" for="customer-input">{{ customer_detail }}
                                            *</label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="fullname" value="{{ order_detail.fullname }}"
                                                   class="form-control bg-light col-md-10 disabled">
                                        </div>
                                    </div>
                                    <div class="form-group row text-lg-right">
                                        <label class="col-12 col-lg-2" for="first-name-input">{{ customer_firstname }}
                                            *</label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="firstname" value="{{ order_detail.firstname }}"
                                                   id="input-firstname"
                                                   class="form-control bg-light col-md-10 disabled">
                                        </div>
                                    </div>
                                    <div class="form-group row text-lg-right">
                                        <label class="col-12 col-lg-2" for="last-name-input">{{ customer_lastname }}
                                            *</label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="lastname" value="{{ order_detail.lastname }}"
                                                   id="input-lastname" class="form-control bg-light col-md-10 disabled">
                                        </div>
                                    </div>
                                    <div class="form-group row text-lg-right">
                                        <label class="col-12 col-lg-2" for="email-input">{{ customer_email }}
                                            *</label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="email" value="{{ order_detail.email }}"
                                                   id="input-email" class="form-control bg-light col-md-10 disabled">
                                        </div>
                                    </div>
                                    <div class="form-group row text-lg-right">
                                        <label class="col-12 col-lg-2" for="phone-input">{{ customer_phone }} *</label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="telephone" value="{{ order_detail.telephone }}"
                                                   id="input-telephone"
                                                   class="form-control bg-light col-md-10 disabled">
                                        </div>
                                    </div>
                                </div>
                                <!-- End tab pane -->

                                <div class="tab-pane fade" id="tab-cart" role="tabpanel">
                                    {# product-add #}
                                    <table class="table border product-list">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ order_product }}</th>
                                            <th scope="col">{{ order_product_quantity }}</th>
                                            <th scope="col">{{ order_product_price }}</th>
                                            <th scope="col">{{ order_product_total }}</th>
                                        </tr>
                                        </thead>

                                        <tbody id="product-information" class="product-information-custom">
                                        {% for product in list_product %}
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="rounded bg-light">
                                                                <img src="{{ product.image }}">
                                                            </div>
                                                        </div>
                                                        <div class="product-title col-9 py-2">{{ product.name }}</div>
                                                    </div>
                                                </td>
                                                <td width="150">
                                                    <input type="text" name="product_quantity[]"
                                                           class="form-control disabled"
                                                           value="{{ product.quantity }}">
                                                </td>
                                                <td width="180">
                                                    <input type="text" name="product_price[]"
                                                           class="form-control disabled"
                                                           value="{{ product.price|round }}">
                                                </td>
                                                <td width="180">
                                                    <span class="product-total py-2 d-inline-block disabled">{{ product.total_product|round|number_format() }}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>

                                    </table>
                                    {# end product-add #}
                                </div>
                                <!-- End Tab pane -->

                                <div class="tab-pane fade" id="tab-order" role="tabpanel">
                                    <table class="table border product-list">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ order_product }}</th>
                                            <th scope="col" width="150">{{ order_product_quantity }}</th>
                                            <th scope="col" width="180">{{ order_product_price }}</th>
                                            <th scope="col" width="160">{{ order_product_total }}</th>
                                        </tr>
                                        </thead>
                                        {# product-add-info #}
                                        <tbody>
                                        {% for product in list_product %}
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="rounded bg-light">
                                                                <img src="{{ product.image }}">
                                                            </div>
                                                        </div>
                                                        <div class="product-title col-9 py-2">{{ product.name }}</div>
                                                    </div>
                                                </td>
                                                <td>{{ product.quantity }}</td>
                                                <td>{{ product.price|round|number_format() }}</td>
                                                <td>{{ product.total_product|round|number_format() }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        {# end product-add-info #}
                                    </table>

                                    <div class="mt-4 clearfix">
                                        <h3 class="float-left my-3">{{ order_infor_more }}</h3>
                                        <span class="btn btn-brown float-right"><h2
                                                    class="m-0 py-2 px-4">{{ order_detail.total|round|number_format() }}</h2></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label for="order-payment">{{ order_payment }}</label>
                                            <select name="order_payment" id="order-status" disabled
                                                    class="form-control bg-light">
                                                <option value="{{ order_detail.order_payment }}">{{ list_order_payment[order_detail.order_payment] }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label for="order-delivery">{{ order_transfer }}</label>
                                            <select name="order_transfer" id="order-status" disabled
                                                    class="form-control bg-light">
                                                <option value="{{ order_detail.order_transfer }}">{{ list_order_shipment[order_detail.order_transfer] }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label for="order-status">{{ order_status }}</label>
                                            <select name="order_status" disabled id="order-status" class="form-control bg-light">
                                                <option value="{{ key }}">{{ list_status[order_detail.order_status] }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="order-comment">{{ order_note }}</label>
                                            <textarea name="order_note" id="order-comment"
                                                      class="form-control bg-light disabled"
                                                      rows="2">{{ order_detail.comment }}</textarea>
                                        </div>
                                    </div>

                                    <div class="form-footer form-action-fix clearfix col-12 col-lg-10">
                                        <div class="float-left left-button">
                                            <a href="{{ order_cancel_url }}">
                                                <button class="btn btn-light text-dark" type="button"
                                                        id="prev-order-info"><i
                                                            class="icon icon-left-arrow"></i> {{ order_button_back }}
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End tab pane -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- End Main -->
    </div>
</div>
