<!DOCTYPE html>
<html>
<head>
    <title>Print order</title>
    {#   <link rel="stylesheet" type="text/css" href="view/stylesheet/custom/bootstrap.min.css">#}
    {#  <link rel="stylesheet" type="text/css" href="view/stylesheet/custom/app.css">#}
    {#    <link rel="stylesheet" type="text/css" href="view/stylesheet/custom/print.css">#}

    <script type="text/javascript" src="view/javascript/custom/jquery.3.3.1.min.js"></script>
</head>
<body>
<style lang="scss">
  body, p, td {
    font-family: "Arial", sans-serif !important;
  }

  @page { size: A5 portrait;  margin: 0mm; }
  .d-flex {
    display: flex !important;
  }

  .ml-auto {
    margin-left: auto !important;
  }

  .text-center {
    text-align: center !important;
  }

  .text-right {
    text-align: right !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }
  .m-0 {
    margin: 0 !important;;
  }

  .mb-1 {
    margin-bottom: 0.25rem !important;
  }

  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  .mt-5 {
    margin-top: 3rem !important;
  }

  .font-10 {
    font-size: 14px !important;
  }
  .font-9 {
    font-size: 12px !important;
  }

  .font-18 {
    font-size: 18px !important;
  }

  .font-24 {
    font-size: 24px !important;
  }

  .border-bottom {
    border-bottom: 1px solid #dee2e6 !important
  }

  .pb-3 {
    padding-bottom: 1rem !important;
  }

  .font-weight-bold {
    font-weight: 700 !important;
  }

  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-top: 1px solid #dee2e6;
  }

  .table td, .table th, .table tr {
    padding: .75rem;
    vertical-align: center;
    /*border-top: 1px solid #dee2e6;*/
    border-bottom: 1px solid #dee2e6;
  }

  .table thead th {
    vertical-align: bottom;
    /*border-bottom: 2px solid #dee2e6*/
  }

  .table tbody + tbody {
    /*border-top: 2px solid #dee2e6*/
  }

  table .table {
    background-color: #fff
  }
  .border{border:1px solid #dee2e6!important}
  .px-3{padding-left:1rem!important}
  .py-2{padding-top:.5rem!important}
  #print-order-el {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  p {
    margin-block-start: .5em !important;
    margin-block-end: .5em !important;
  }
  .font-weight-normal {
    font-weight: normal !important;
  }
  .w-50 {
    width: 50%;
  }
</style>
{% for order in orders %}
    {# Adding page break in HTML printing for each order #}
    <div id="print-order-el">
        <p style="page-break-before: always"></p>

        <div class="d-flex">
        <div class="text-left font-10 w-50">
            <p class="font-10">{{ order.store_name }}</p>
            <p class="font-10" >{{ order.store_telephone }}</p>
            <p class="font-10" >{{ order.store_address }}</p>
        </div>

        {% if order.config_image_qr_code %}
            <div class="text-right font-10 w-50">
                <img src="{{ order.config_image_qr_code }}" alt="config_image_qr_code" width="62px" height="62px">
            </div>
        {% endif %}
        </div>

        <div class="text-center border-bottom pt-3">
            <h2 class="mt-1 mb-1 font-18" style="text-transform: uppercase;">{{ txt_bill_of_sale }}</h2>
            <p class="font-10 mb-1">{{ txt_order_code }}: {{ order.order_code }}</p>
        </div>

        <div class="mb-3">
            <p class="mb-0 font-10 font-weight-bold"><span>{{ txt_receiver }} : <span class="font-weight-normal">{{ order.order_full_name ? order.order_full_name : '' }}</span></span></p>
            <p class="mb-0 font-10 font-weight-bold"><span>{{ txt_phone_number_new }} : <span class="font-weight-normal">{{ order.telephone ? order.telephone : '' }}</span></span></p>
            <p class="mb-0 font-10 font-weight-bold"><span>{{ export_customer_address }} : <span class="font-weight-normal">{{ order.address_shipping_total ? order.address_shipping_total : '' }}</span></span></p>
        </div>

        <table class="table">
            <tr>
                <td class="font-10 font-weight-bold">{{ txt_table_price_product }}</td>
                <td class="text-center font-10 font-weight-bold">{{ text_unit_price }}</td>
                <td class="text-center font-10 font-weight-bold">{{ txt_table_quantity_new }}</td>
                <td class="text-center font-10 font-weight-bold">{{ text_discount_col }}</td>
                <td class="text-right font-10 font-weight-bold">{{ text_amount }}</td>
            </tr>
            {% for product in order.product %}
            <tr>
                <td class="font-10">
                    <p class="font-10 mb-0">{{ product.name }}</p>
                    {% if product.version is not empty %}
                        <p class="font-10 mb-0">{{ product.version }}</p>
                    {% endif %}
                </td>
                <td class="text-center font-10">{{ product.price | number_format(0, '.', ',') }}đ</td>
                <td class="text-center font-10">{{ product.quantity }}</td>
                <td class="text-center font-10">{{ product.discount | number_format(0, '.', ',') }}đ</td>
                <td class="text-right font-10">{{ product.total | number_format(0, '.', ',') }}đ</td>
            </tr>
            {% endfor %}{# end product list #}

            <tr>
                <td colspan="3" class="text-right">
                    <p class="font-10">{{ invoice_order_total }}:</p>
                    <p class="font-10">{{ txt_discount }}:</p>
                    <p class="font-10">{{ invoice_order_shipping_fee }}:</p>
                    <p class="font-10">{{ txt_discount_by_voucher_code }} :</p>
                    <p class="font-10">{{ invoice_order_real_total }}:</p>
                </td>
                <td colspan="2" class="text-right">
                    <p class="font-10 font-weight-bold">{{ order.total_shipping_custom | number_format(0, '.', ',') }}đ</p>
                    <p class="font-10 font-weight-bold">
                        {% if order.source == 'shopee' or order.source == 'lazada' %}
                            {{ order.shopee_discount | number_format(0, '.', ',') }}đ
                        {% else %}
                            {{ order.discount | number_format(0, '.', ',') }}đ
                        {% endif %}
                    </p>
                    <p class="font-10 font-weight-bold">{{ order.shipping_free | number_format(0, '.', ',') }}đ</p>
                    <p class="font-10 font-weight-bold">{{ order.discount_by_voucher_code | number_format(0, '.', ',') }}đ</p>
                    <p class="font-10 font-weight-bold">{{ order.total_custom | number_format(0, '.', ',') }}đ</p>
                </td>
            </tr>
        </table>

        <div class="py-2 px-3 border mt-3 mb-3 font-10">
            <p class="font-weight-bold font-10">Ghi chú:</p>
            <p class="font-10">{{ order.comment }}</p>
        </div>

        <div class="text-center font-10">
            {% if order.config_hotline %}
            <p class="font-10"> Hotline: {{ order.config_hotline }}</p>
            {% endif %}
            <i class="font-weight-bold font-10">{{ txt_note_final_order }}</i>
        </div>
        <div class="clearfix"></div>
        <br>
    </div>
{% endfor %}{# end order list #}

<script type="text/javascript">
    jQuery(document).ready(function () {
        setTimeout(function () {
            window.print();
        }, 400)

        jQuery(window).on("beforeunload", function() {
            return confirm("Do you really want to close?");
        });
    });
    window.onafterprint = window.close;
</script>

</body>
</html>