{{ custom_header }}
<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}

        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                        <li class="breadcrumb-item active" aria-current="page">{{ text_form }}</li>
                    </ol>
                </nav>

                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">{{ text_form }}</h1>
                </div>

                <div class="box-wrap">
                    {# tabs header #}
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            {# customer info #}
                            <a class="active" id="nav-customer-tab" data-toggle="tab" href="#tab-customer" role="tab"
                               aria-controls="nav-customer" aria-selected="true">{{ order_customer_info }}</a>

                            {# order product info #}
                            <a id="nav-product-tab" class="disabled" data-toggle="tab" href="#tab-cart" role="tab"
                               aria-controls="nav-product" aria-selected="false">{{ order_product_info }}</a>

                            {# order summary info #}
                            <a id="nav-order-tab" class="disabled" data-toggle="tab" href="#tab-order" role="tab"
                               aria-controls="nav-order" aria-selected="false">{{ order_info }}</a>
                        </div>
                    </div>

                    {# tabs content #}
                    <div class="box-content">
                        <form class="form-step" id="order-form" action="{{ order_submit_url }}" method="POST">
                            <div class="tab-content">
                                {# customer info #}
                                <div class="tab-pane fade show active" id="tab-customer" role="tabpanel">
                                    <div class="form-group row">
                                        <label class="col-12 col-lg-2 text-lg-right"
                                               for="customer-input">{{ customer_detail }}
                                            <span class="text-danger">*</span></label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="fullname" value="{{ fullname }}" required
                                                   id="input-fullname" class="form-control bg-light col-md-10"
                                                   placeholder="{{ text_customer_detail }}">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-12 col-lg-2 text-lg-right"
                                               for="first-name-input">{{ customer_firstname }}
                                            <span class="text-danger">*</span></label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="lastname" value="{{ lastname }}"
                                                   id="input-lastname" class="form-control bg-light col-md-10"
                                                   placeholder="{{ text_customer_firstname }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-12 col-lg-2 text-lg-right"
                                               for="last-name-input">{{ customer_lastname }}
                                            <span class="text-danger">*</span></label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="firstname" value="{{ firstname }}"
                                                   id="input-firstname" class="form-control bg-light col-md-10"
                                                   placeholder="{{ text_customer_lastname }}">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-12 col-lg-2 text-lg-right"
                                               for="email-input">{{ customer_email }}
                                            <span class="text-danger">*</span></label>
                                        <div class="col-12 col-lg-10">
                                            <input type="email" name="email" value="{{ email }}" id="input-email"
                                                   class="form-control bg-light col-md-10"
                                                   placeholder="{{ text_customer_email }}">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-12 col-lg-2 text-lg-right"
                                               for="phone-input">{{ customer_phone }} <span class="text-danger">*</span></label>
                                        <div class="col-12 col-lg-10">
                                            <input type="text" name="telephone" value="{{ telephone }}"
                                                   id="input-telephone" class="form-control bg-light col-md-10" onkeydown="javascript: return event.keyCode != 69"
                                                   placeholder="{{ text_customer_phone }}">
                                        </div>
                                    </div>

                                    <div class="form-footer form-action-fix clearfix col-12 col-lg-10">
                                        <div class="float-right right-button">
                                            <a href="{{ order_cancel_url }}">{{ order_cancel_button }}</a>
                                            <button class="btn btn-brown" id="continue-button-customer"
                                                    type="button">{{ order_continue_button }}</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End customer info -->

                                <!-- order product info -->
                                {% set class_disabled = 'readonly' %}
                                <div class="tab-pane fade" id="tab-cart" role="tabpanel">
                                    <div class="form-group row">
                                        <label class="col-md-2" for="product-id-input">Chọn sản phẩm</label>
                                        <div class="col-md-10">
                                            {#<input type="text" name="product-choose-name" id="product-id-input"
                                                   class="form-control col-md-10" placeholder="Tìm kiếm sản phẩm"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                            <div class="dropdown-menu" id="product-dropdown-menu">
                                                <div class="list-group">
                                                    <a href="#" class="dropdown-item">Sản phẩm 1</a>
                                                    <a href="#" class="dropdown-item">Sản phẩm 2</a>
                                                    <a href="#" class="dropdown-item">Sản phẩm 3</a>
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item" data-toggle="modal"
                                                   data-target="#addNewProductModal"><i class="icon icon-plus"></i> Thêm
                                                    sản phẩm mới</a>
                                            </div>#}

                                            <input type="text" name="product-choose-name" id="product-id-input"
                                                   class="form-control col-md-10" placeholder="Tìm kiếm sản phẩm">
                                        </div>
                                    </div>

                                    {# product-add #}
                                    <table class="table border product-list">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ order_product }}</th>
                                            <th scope="col">{{ order_product_quantity }}</th>
                                            <th scope="col">{{ order_product_price }}</th>
                                            <th scope="col">{{ order_product_total }}</th>
                                            <th scope="col">{{ order_product_action }}</th>
                                        </tr>
                                        </thead>

                                        <tbody id="product-information" class="product-information-custom">
                                        {# update later by ajax #}
                                        </tbody>

                                    </table>
                                    {# end product-add #}

                                    <div class="form-footer form-action-fix clearfix col-12 col-lg-10">
                                        <div class="float-left left-button">
                                            <button class="btn btn-light text-dark" type="button" id="prev-product-add">
                                                <i class="icon icon-left-arrow"></i>{{ order_button_back }}</button>
                                        </div>
                                        <div class="float-right right-button">
                                            <a href="{{ order_cancel_url }}">{{ order_cancel_button }}</a>
                                            <button class="btn btn-brown" id="next-button-order-summary"
                                                    type="button">{{ order_continue_button }}</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End order product info -->

                                <!-- order summary info -->
                                <div class="tab-pane fade" id="tab-order" role="tabpanel">
                                    <table class="table border product-list">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ order_product }}</th>
                                            <th scope="col" width="150">{{ order_product_quantity }}</th>
                                            <th scope="col" width="180">{{ order_product_price }}</th>
                                            <th scope="col" width="160">{{ order_product_total }}</th>
                                        </tr>
                                        </thead>
                                        {# product-add-info #}
                                        <tbody id="product-add-info" class="product-add-info-class">
                                        {# add later by ajax #}
                                        </tbody>
                                        {# end product-add-info #}
                                    </table>

                                    <div class="mt-4 clearfix">
                                        <h3 class="float-left my-3">{{ order_infor_more }}</h3>
                                        <span class="btn btn-brown float-right"><h2 class="m-0 py-2 px-4"
                                                                                    id="product-total-sum"> </h2></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label for="order-payment">{{ order_payment }}</label>
                                            <select name="order_payment" id="order-status"
                                                    class="form-control bg-light">
                                                {% for key, payment_partner in list_order_payment %}
                                                    <option value="{{ key }}">{{ payment_partner }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label for="order-delivery">{{ order_transfer }}</label>
                                            <select name="order_transfer" id="order-status"
                                                    class="form-control bg-light">
                                                {% for key, shipment in list_order_shipment %}
                                                    <option value="{{ key }}">{{ shipment }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label for="order-status">{{ order_status }}</label>
                                            <select name="order_status" id="order-status" class="form-control bg-light">
                                                {% for key, status in list_status %}
                                                    <option value="{{ key }}">{{ status }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label for="order-comment">{{ order_note }}</label>
                                            <textarea name="order_note" id="order-comment" class="form-control bg-light"
                                                      rows="2"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-footer form-action-fix clearfix col-12 col-lg-10">
                                        <div class="float-left left-button">
                                            <button class="btn btn-light text-dark" type="button" id="prev-order-info">
                                                <i class="icon icon-left-arrow"></i> {{ order_button_back }}</button>
                                        </div>
                                        <div class="float-right right-button">
                                            <a href="{{ order_cancel_url }}">{{ order_cancel_button }}</a>
                                            <button class="btn btn-brown submit-button-total"
                                                    type="submit">{{ order_submit_button }}</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End order summary info -->
                            </div>
                            <!-- End tab content -->
                        </form>
                        <!-- End form -->
                    </div>
                    <!-- End tabs content -->
                </div>
            </div>
        </main>
        <!-- End Main -->
    </div>

    <script type="text/javascript">
        // Disable the tabs
        var page_current = 2;
        function isScrollbarBottom(container) {
            var height = container.outerHeight();
            var scrollHeight = container[0].scrollHeight;
            var scrollTop = container.scrollTop();
            if (scrollTop >= scrollHeight - height) {
                return true;
            }
            return false;
        };
        $('#product-id-input').on('click',function () {
            //reset page current
            page_current = 2;
        })
        $('#continue-button-customer').on('click', function () {
            var fullname = $('#input-fullname').val();
            var firstname = $('#input-firstname').val();
            var lastname = $('#input-lastname').val();
            var email = $('#input-email').val();
            var telephone = $('#input-telephone').val();

            var validator = $('#order-form').data('bootstrapValidator');
            validator.validate();
            if (validator.isValid()) {
                $( ".submit-button-total" ).prop("disabled", false);
                // next to order product tab
                $('#order-form-tab > a').addClass('disabled');
                $('#order-form-tab > a#nav-product-tab').removeClass('disabled');
                $('#nav-product-tab').tab('show');

                // ajax search product
                $('input[name="product-choose-name"]').autocomplete({
                    nameProperty: 'name',
                    valueField: '#product-dropdown-menu > div.list-group',
                    'source': function (request, response) {
                        $.ajax({
                            url: 'index.php?route=catalog/category/autocompleteProducOrdert&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                            dataType: 'json',
                            success: function (json) {
                                response($.map(json, function (item) {
                                    return {
                                        label: item['name'],
                                        value: item['product_id'],
                                        image: item['image'],
                                        price: item['price'],
                                        quantity: item['quantity'],
                                    }
                                }));
                            },
                            error: function () {
                                // could not get product list
                            }
                        });
                    },
                    'select': function (item) {
                        $('#product-id-input').next('.text-danger').remove();
                        $('input[name="product-choose-name"]').val('');

                        $('#product-information' + item['value']).remove();
                        // tính tổng default sản phẩm nếu quantity = 1
                        var orderProductText =
                            '<tr>' +
                            '    <td>' +
                            '        <div class="row">' +
                            '            <div class="col-3">' +
                            '                <div class="rounded bg-light">' +
                            '                    <img src="' + item['image'] + '">' +
                            '                </div>' +
                            '            </div>' +
                            '            <div class="product-title col-9 py-2">' + item['label'] + '</div>' +
                            '            <input type="hidden" name="product-choose[]" value="' + item['value'] + '" />' +
                            '        </div>' +
                            '    </td>' +
                            '' +
                            '    <td width="150">' +
                            '        <input type="number" name="product_quantity[]" min="0" pattern="^\d+(?:\.\d{1,1})?$" id="' + item['value'] + '"' +
                            '        class="form-control qty"' + ' onkeydown="javascript: return event.keyCode != 69"' + 'value="0">' +
                            '        <input type="hidden" name="quantity[]" class="max_quantity" value="' + item['quantity'] + '" />' +
                            '    </td>' +
                            '' +
                            '    <td width="180">' +
                            '        <input type="number" name="product_price[]" class="price_jq form-control"' + '{{ class_disabled }}' + ' value="' + item['price'] + '">' +
                            '    </td>' +
                            '' +
                            '    <td width="180">' +
                            '        <span class="product-total py-2 d-inline-block cart_total_price">' + '0đ' + '</span>' +
                            '    </td>' +
                            '' +
                            '    <td>' +
                            '        <div class="dropdown option-link">' +
                            '            <a class="close text-primary" aria-label="Close" id="product-close">' +
                            '                <span aria-hidden="true">&times;</span>' +
                            '            </a>' +
                            '        </div>' +
                            '    </td>' +
                            '</tr>';

                        var orderSummaryText =
                            '<tr>' +
                            '    <td id="product-add-info-id">' +
                            '        <div class="row">' +
                            '            <div class="col-3">' +
                            '                <div class="rounded bg-light">' +
                            '                    <img src="' + item['image'] + '">' +
                            '                </div>' +
                            '            </div>' +
                            '        <div class="product-title col-9 py-2">' + item['label'] + '</div>' +
                            '        </div>' +
                            '    </td>' +
                            '' +
                            '    <td class="product_quantity_' + item['value'] + '"' +
                            '    </td>' +
                            '' +
                            '    <td class="product_price_' + item['value'] + '">' +
                            '    </td>' +
                            '' +
                            '    <td class="product_total_' + item['value'] + '">' +
                            '    </td>' +
                            '' +
                            '</tr>';

                        $('#product-information').append(orderProductText);
                        $('#product-add-info').append(orderSummaryText);
                    }
                });
                $('.dropdown-menu').scroll(function () {
                    if (isScrollbarBottom($('ul.dropdown-menu'))) {
                        var request = $('#product-id-input').val();
                        $.ajax({
                            url: 'index.php?route=catalog/category/autocompleteProducOrdert&user_token={{ user_token }}&page='+ page_current +'&filter_name=' + encodeURIComponent(request),
                            dataType: 'json',
                            success: function (json) {
                                var html = '';
                                for (i=0; i<json.length; i++) {
                                    html += '<li class="product_lazy_load" onclick="updateProduct(\''+ json[i]['name'] + '\',\'' + json[i]['image'] + '\',\'' + json[i]['price'] + '\',\'' + json[i]['quantity'] + '\',\'' + json[i]['product_id'] +'\')" data-value="' + json[i]['product_id'] + '"><a href="#">' + json[i]['name'] + '</a></li>';
                                }
                                $('ul.dropdown-menu').append(html);
                                page_current += 1;
                            },
                            error: function () {
                                console.log('xxx');
                                // could not get product list
                            }
                        });
                    }
                });
                $('#product-information').delegate('#product-close', 'click', function () {
                    $(this).closest("tr").remove();
                    $('#product-add-info-id').closest("tr").remove();
                    $('#product-total-sum').closest("tr").remove();
                });
            }
        });
        function updateProduct(name, image, price, quantity, product_id)
        {
            $('#product-id-input').next('.text-danger').remove();
            var item = {
                'image' : image,
                'label' : name,
                'price' : price,
                'quantity' : quantity,
                'value' : product_id,
            };
            $('input[name="product-choose-name"]').val('');

            $('#product-information' + item['value']).remove();
            // tính tổng default sản phẩm nếu quantity = 1
            var orderProductText =
                '<tr>' +
                '    <td>' +
                '        <div class="row">' +
                '            <div class="col-3">' +
                '                <div class="rounded bg-light">' +
                '                    <img src="' + item['image'] + '">' +
                '                </div>' +
                '            </div>' +
                '            <div class="product-title col-9 py-2">' + item['label'] + '</div>' +
                '            <input type="hidden" name="product-choose[]" value="' + item['value'] + '" />' +
                '        </div>' +
                '    </td>' +
                '' +
                '    <td width="150">' +
                '        <input type="number" name="product_quantity[]" min="0" pattern="^\d+(?:\.\d{1,1})?$" id="' + item['value'] + '"' +
                '        class="form-control qty"' + ' onkeydown="javascript: return event.keyCode != 69"' + 'value="0">' +
                '        <input type="hidden" name="quantity[]" class="max_quantity" value="' + item['quantity'] + '" />' +
                '    </td>' +
                '' +
                '    <td width="180">' +
                '        <input type="number" name="product_price[]" class="price_jq form-control"' + '{{ class_disabled }}' + ' value="' + item['price'] + '">' +
                '    </td>' +
                '' +
                '    <td width="180">' +
                '        <span class="product-total py-2 d-inline-block cart_total_price">' + '0đ' + '</span>' +
                '    </td>' +
                '' +
                '    <td>' +
                '        <div class="dropdown option-link">' +
                '            <a class="close text-primary" aria-label="Close" id="product-close">' +
                '                <span aria-hidden="true">&times;</span>' +
                '            </a>' +
                '        </div>' +
                '    </td>' +
                '</tr>';

            var orderSummaryText =
                '<tr>' +
                '    <td id="product-add-info-id">' +
                '        <div class="row">' +
                '            <div class="col-3">' +
                '                <div class="rounded bg-light">' +
                '                    <img src="' + item['image'] + '">' +
                '                </div>' +
                '            </div>' +
                '        <div class="product-title col-9 py-2">' + item['label'] + '</div>' +
                '        </div>' +
                '    </td>' +
                '' +
                '    <td class="product_quantity_' + item['value'] + '"' +
                '    </td>' +
                '' +
                '    <td class="product_price_' + item['value'] + '">' +
                '    </td>' +
                '' +
                '    <td class="product_total_' + item['value'] + '">' +
                '    </td>' +
                '' +
                '</tr>';

            $('#product-information').append(orderProductText);
            $('#product-add-info').append(orderSummaryText);
        }

        $('.product-information-custom').on('change', '.qty', function () {
            // $('#product-add-info-id').closest("tr").remove();

            // $(this).closest("tr").remove();
            var sum = 0;
            var total = 0;
            var count = $(this).val();
            var price = $(this).closest('tr').find('.price_jq').val();
            var max_quantity = $(this).closest('tr').find('.max_quantity').val();
            $('.qty').attr({
                'max': max_quantity,
                'min': 0
            });
            total = price * count;
            // total = parseFloat(total).toLocaleString(window.document.documentElement.lang);
            // total = total;
            $(this).closest('tr').find('.cart_total_price').html(total);
            var product_text_id = this.id;
            $('.product_quantity_' + product_text_id).html('<span>' + count + '</span>');
            $('.product_price_' + product_text_id).html('<span>' + price + '</span>');
            $('.product_total_' + product_text_id).html('<span>' + total + '</span>');
        });

        $('#next-button-order-summary').on('click', function () {
            var check_add_product_to_order = false;
            var check_product_qty_order = true;
            $('input[name^="product-choose[]"]').each(function() {
                check_add_product_to_order = true;
                var product_choose = $(this).val();
                var product_qty_element = $('input[class="form-control qty"][id="'+product_choose+'"]');
                var product_qty = product_qty_element.val();
                var product_max_qty = product_qty_element.closest('td').find('.max_quantity').val();
                if (product_qty < 1) {
                    check_product_qty_order = false;
                    var remove_element_error = $(product_qty_element).next('.text-danger');
                    remove_element_error.remove();
                    $(product_qty_element).after('<div class="text-danger" style="margin-top: 5px">' + '{{ error_not_add_product_min }}' + '</div>');
                }
                if (product_qty > parseInt(product_max_qty)) {
                    check_product_qty_order = false;
                    var remove_element_error = $(product_qty_element).next('.text-danger');
                    remove_element_error.remove();
                    $(product_qty_element).after('<div class="text-danger" style="margin-top: 5px">' + '{{ error_not_add_product_max }}' + '</div>');
                }
                if (product_qty.toString().length > 10) {
                    check_product_qty_order = false;
                    var remove_element_error = $(product_qty_element).next('.text-danger');
                    remove_element_error.remove();
                    $(product_qty_element).after('<div class="text-danger" style="margin-top: 5px">' + '{{ error_product_max_length }}' + '</div>');
                }
            });
            if (!check_add_product_to_order) {
                var element = $('#product-id-input');
                var remove_element_error = $('#product-id-input').next('.text-danger');
                remove_element_error.remove();
                $(element).after('<div class="text-danger" style="margin-top: 5px">' + '{{ error_not_add_product }}' + '</div>');
            } else {
                var remove_element_error = $('#product-id-input').next('.text-danger');
                remove_element_error.remove();
            }
            if (check_add_product_to_order && check_product_qty_order) {
                $('#order-form-tab >a').addClass('disabled');
                $('#order-form-tab > a#nav-order-tab').removeClass('disabled');
                $('#nav-order-tab').tab('show');
            }

            // calculate total amount of order
            $('#product-information').each(function () {
                var sum = 0;
                $(this).find('.cart_total_price').each(function () {
                    var value = $(this).text();
                    if (!isNaN(value) && value.length != 0) {
                        // total_order = parseFloat(value) + sum;
                        sum += parseFloat(value);
                        // total_order = parseFloat(total_order).toLocaleString(window.document.documentElement.lang);
                    }
                });
                var text_sum = '<input type="hidden" name="order_total" value="' + sum + '" />' + '<span>' + sum + '</span>';
                $('#product-total-sum').html(text_sum);
            });
        });

        // previous button
        $('#prev-product-add').on('click', function () {
            $('#order-form-tab >a').addClass('disabled');
            // $('#order-form-tab >a').removeClass('disabled');
            $('#order-form-tab > a#nav-customer-tab').removeClass('disabled');
            // $('#order-form-tab > a#nav-customer-tab').addClass('active');
            // $('#order-form-tab > a#nav-product-tab').addClass('disabled');
            $('a#nav-customer-tab').tab('show');
        });

        $('#prev-order-info').on('click', function () {
            $('#order-form-tab >a').addClass('disabled');
            $('#order-form-tab > a#nav-product-tab').removeClass('disabled');
            $('a#nav-product-tab').tab('show');
        });

        //validate form
        $("#order-form").bootstrapValidator({
            fields: {
                fullname: {
                    validators: {
                        notEmpty: {
                            message: "{{ error_input_null }}"
                        },
                        stringLength: {
                            max: 255,
                            min: 1,
                            message: '{{ error_max_length_255 }}'
                        }
                    }
                },
                lastname: {
                    validators: {
                        notEmpty: {
                            message: "{{ error_input_null }}"
                        },
                        stringLength: {
                            max: 255,
                            min: 1,
                            message: '{{ error_max_length_255 }}'
                        }
                    }
                },
                firstname: {
                    validators: {
                        notEmpty: {
                            message: "{{ error_input_null }}"
                        },
                        stringLength: {
                            max: 255,
                            min: 1,
                            message: '{{ error_max_length_255 }}'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '{{ error_input_null }}'
                        },
                        stringLength: {
                            max: 255,
                            min: 1,
                            message: '{{ error_max_length_255 }}'
                        },
                        emailAddress: {
                            message: '{{ error_type_mail }}'
                        }
                    }
                },
                telephone: {
                    validators: {
                        notEmpty: {
                            message: '{{ error_input_null }}'
                        },
                        callback: {
                            message: '{{ error_max_length_15 }}',
                            callback: function () {
                                var phone = $('input[name="telephone"]').val();
                                var intRegex = /^\d+$/;
                                if (!intRegex.test(phone) && phone.length != 0) {
                                    return {
                                        valid: false,
                                        message: '{{ error_type_phone }}'
                                    }
                                }
                                if (8 > phone.length && phone.length > 0) {
                                    return {
                                        valid: false,
                                        message: '{{ error_max_length_15 }}'
                                    }
                                }
                                if (phone.length > 15) {
                                    return {
                                        valid: false,
                                        message: '{{ error_max_length_15 }}'
                                    }
                                }
                                return true;
                            }
                        }
                    }
                },
                order_note: {
                    validators: {
                        stringLength: {
                            max: 1000,
                            message: '{{ error_max_length_1000 }}'
                        }
                    },
                },
            }
        });
    </script>
</div>

{{ footer }}
