{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
    {{ custom_column_left }}
    <main class="main-wrap col-12 col-lg-10 p-0">
        <div class="main-content">
          <div class="sub-head clearfix">
            <h1 class="page-title float-left">{{ heading_title }}</h1>
            <a class="advance-link btn float-right" href="{{ add }}">{{ text_add }}</a>
          </div>
          <div class="box-wrap">
            <div class="box-head">
              <div class="sub-title"><i class="fas fa-list-ul"></i> {{ text_list }}</div>
            </div>
            <div class="box-content">
              <form action="" method="get" class="filter-form order-filter clearfix">
                <div class="row">
                  <div class="col-md-8">
                    <div class="input-group search-group">
                      <div class="input-group-prepend">
                        <button class="btn btn-light dropdown-toggle" type="button">{{ text_filter }}</button>
                        {# filter #}
                        <div class="dropdown-menu p-0 p-3 font-12">
                          {# status order #}
                          <div class="form-group">
                            <label>{{ order_status_text }}</label>
                            <select id="filter_order_status" class="form-control form-control-sm" data-label="{{ order_status_text }}" name="order_status">
                            <option value="">{{ order_select_all }}</option>
                            {% for order_status_key, order_status_value in list_order_status %}
                              <option value="{{ order_status_key }}" data-value="{{ order_status_value }}">{{ order_status_value }}</option>
                            {% endfor %}
                            </select>
                          </div>
                          {# end status order #}
                          {# payment order #}
                          <div class="form-group">
                            <label>{{ order_payment_text }}</label>
                            <select id="filter_order_payment" class="form-control form-control-sm" data-label="{{ order_payment_text }}" name="order_payment">
                              <option value="">{{ order_select_all }}</option>
                            {% for order_payment_key, order_payment_value in list_order_payment %}
                              <option value="{{ order_payment_key }}" data-value="{{ order_payment_value }}">{{ order_payment_value }}</option>
                            {% endfor %}
                            </select>
                          </div>
                          {# end payment order #}
                          {# transfer order #}
                          <div class="form-group">
                            <label>{{ order_transfer_text }}</label>
                            <select id="filter_order_transfer" class="form-control form-control-sm" data-label="{{ order_transfer_text }}" name="order_transfer">
                              <option value="">{{ order_select_all }}</option>
                            {% for order_transfer_key, order_transfer_value in list_order_transfer %}
                              <option value="{{ order_transfer_key }}" data-value="{{ order_transfer_value }}">{{ order_transfer_value }}</option>
                            {% endfor %}
                            </select>
                          </div>
                          {# end transfer order #}
                          <div role="separator" class="dropdown-divider"></div>
                          <button type="button" id="filter_button" class="btn btn-info font-12">{{ order_search_button }}</button>
                        </div>
                        {# end filter #}
                      </div>
                      <div class="input-group-icon">
                        <i class="icon icon-search"></i>
                         <input id="order-search-text" type="text" value="{{ order_search_text }}" class="form-control search-input-icon" placeholder="{{ txt_order_search_placeholder }}">
                      </div>
                    </div>
                  </div>
                  {# <div class="col-md-4 text-right">
                    <div class="button-options">
                      <a class="item" href="#"><i class="icon icon-import"></i>{{ order_import_file }}</a>
                      <a class="item" href="#"><i class="icon icon-export"></i> {{ order_export_file }}</a>
                    </div>
                  </div> #}
                </div> <!-- End row -->
                <div class="filter-item"></div>
              </form>

              <div id="order-content">
                <table class="table table-with-operation">
                  <thead>
                    <tr>
                      <th scope="check-all" width="10">
                        <div class="dropdown">
                          <label class="checkbox">
                            <input type="checkbox" name="select_all">
                            <span></span>
                          </label>
                          <span class="text text-black-50"></span>
                          <a class="dropdown-toggle" href="#" id="dropdownOperationTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ order_choose_action }}</a>

                          <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                            <a class="dropdown-item" href="{{ copy }}" id="copy">{{ order_text_copy }}</a>
                          </div>
                          <input type="hidden" name="selected" value="">
                        </div>
                      </th>
                      <th scope="col">{{ order_code }}</th>
                      <th scope="col">{{ order_customer_name }}</th>
                      <th scope="col">{{ column_status }}</th>
                      <th scope="col">{{ order_total }}</th>
                      <th scope="col">{{ order_date_created }}</th>
                      <th scope="col">{{ order_date_updated }}</th>
                      <th scope="col">{{ order_action }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td scope="select-this" data-id="{{ order.order_id }}">
                        <label class="checkbox">
                          <input type="checkbox" name="select_this" value="{{ order.order_id }}">
                          <span></span>
                        </label>
                      </td>
                      <td><a href="{{ order.view }}">#{{ order.order_id }}</a></td>
                      <td><a>{{ order.fullname }}</a></td>
                      <td><span class="status draft">{{ order.order_status }}</span></td>
                      <td>{{ order.total }}</td>
                      <td>{{ order.date_added }}</td>
                      <td>{{ order.date_modified }}</td>
                      <td>
                      <div class="dropdown option-link">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCustomerOption-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCustomerOption-1">
                          <a class="dropdown-item" href="{{ order.view }}">{{order_view_detail}}</a>
                          <a class="dropdown-item" href="{{ order.edit }}">{{text_edit}}</a>
                          <a class="dropdown-item copy_order" href="{{ order.copy }}" data-id="{{ order.order_id }}">{{order_text_copy}}</a>
                          {% if order.id_order_status == 1 %}
                          <a class="dropdown-item delete_order" href="{{ order.destroy }}" data-id="{{ order.order_id }}">{{order_delete}}</a>
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

                {# paginate #}
                <div class="table-statistic clearfix font-16">
                  <span class="float-lg-left text-right">{{ results }}</span>
                  <div class="float-lg-right">
                    <nav class="float-left" aria-label="Page navigation example">
                      {{ pagination }}
                    </nav>
                  </div>
                </div>
                {# end paginate #}
              </div>

            </div>
          </div>
        </div>
      </main>
      <div id="image-loading"></div>
  </div>
{# script for search button filter #}
<script type="text/javascript">
  $('.filter-form .filter-item').on('click', '.item .remove', function(){
      var id = $(this).closest('.item').attr("id");
      $(this).closest('form').find('input[name="'+id+'"]').val("").change();
  });

  $('.copy_order').on('click', function(){
      var url = $(this).attr('href');
      var order_id = $(this).attr('data-id');
      console.log(order_id);
      var confirm_copy = "{{ copy_confirm_common }}";
      if (confirm(confirm_copy)) {
          $.ajax({
              url: url,
              method: 'POST',
              data:{
                  order_id: order_id,
              },
              success: function(json) {
                  console.log(json);
                  if (json.status === true) {
                      location.reload();
                  } else {
                      alert(json.message);
                  }
              }
          });
      };
      return false;
  });

  $('.delete_order').on('click', function(){
      var url = $(this).attr('href');
      var order_id = $(this).attr('data-id');
      console.log(order_id);
      var confirm_delete = "{{ delete_confirm_common }}";
      if (confirm(confirm_delete)) {
          $.ajax({
              url: url,
              method: 'POST',
              data:{
                  order_id: order_id,
              },
              beforeSend: function(){
                  $('#image-loading').show();
              },
              success: function(json) {
                  $('#image-loading').hide();
                  console.log(json);
                  if (json.status === true) {
                      location.reload();
                  } else {
                      alert(json.message);
                  }
              }
          });
      };
      return false;
  });

  $("body").on('DOMSubtreeModified', ".filter-item", function() {
      $('.filter-item').find('.remove').remove();
  });
  $('#filter_button').on('click', function(){
      filter();
  });

  $(document).keypress(function(e) {
      if(e.which == 13) {  // enter
        event.preventDefault();
        filter();
      }
  });

  function filter() {
      var url = window.location.href;
      var filter_order_status = $('#filter_order_status').val();
      var filter_order_payment = $('#filter_order_payment').val();
      var filter_order_transfer = $('#filter_order_transfer').val();
      var order_search_text = $('#order-search-text').val();
      $.ajax({
          url: url,
          method: 'GET',
          data:{
              filter_data: true,
              filter_order_status: filter_order_status,
              filter_order_payment: filter_order_payment,
              filter_order_transfer: filter_order_transfer,
              order_search_text: order_search_text,
          },
          beforeSend: function(){
              $('.dropdown-menu').removeClass('show');
              $('#image-loading').show();
          },
          success: function(html) {
              $('#order-content').html(html);
              $('#image-loading').hide();
          }
      });
  }
</script>
{# end script for search button filter #}
</div>

<script type="text/javascript">
    $('[scope="check-all"] input[name="select_all"]').on('change', function(){
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function(){
        if( !$(this).is(":checked") ){
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if( _length ){
            $('[scope="check-all"] .text').append('Đã chọn '+_length+' mục');
        }
        getSelected();
    });

    function getSelected(){
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function(){
            if( $(this).is(":checked") ){
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function(){
        var url = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        };
        selected = JSON.parse(selected);
        console.log(selected);
        if (confirm(delete_confirm_common) && selected.length) {
            $.ajax({
                url: url,
                method: 'POST',
                data:{
                    selected:selected,
                },
                beforeSend: function(){
                    $('#image-loading').show();
                },
                success: function(json) {
                    $('#image-loading').hide();
                    console.log(json);
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        };
        return false;
    });
</script>
