<table class="table table-with-operation">
    <thead>
    <tr>
        <th scope="col">{{ text_order_code }}</th>
        <th scope="col">{{ text_customer }}</th>
        <th class="text-center" scope="col">{{ text_order_create_date }}</th>
        <th class="text-center" scope="col">{{ text_order_amount }}</th>
        <th class="text-center" scope="col">{{ text_source }}</th>
        <th class="text-center" scope="col">{{ btn_action }}</th>
    </tr>
    </thead>
    <tbody>
    {% if order_list %}
        {% for order in order_list %}
            <tr>
                <td>
                    <a href="{{ order.order_link }}">
                        {{ order.order_code }}
                    </a>
                </td>
                <td>{{ order.customer_name }}</td>
                <td class="text-center" >{{ order.date_added|date("d/m/Y") }}</td>
                <td class="text-center">{{ order.total|number_format(0, '.', ',') }}&#8363;</td>
                <td class="text-center">{{ order.source }}</td>
                <td class="text-center">
                    <a href="{{ order.return }}">
                        <button class="btn btn-return-goods">{{ btn_save_apply }}</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="modal-footer-2">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>