<table class="table table-with-operation receipt-list">
    <thead>
    <tr>
        <th scope="col">{{ text_receipt_code }}</th>
        <th scope="col">{{ text_order_code }}</th>
        <th class="text-center" scope="col">{{ text_return_amount }}</th>
        <th scope="col">{{ text_return_reason }}</th>
        <th class="text-center" scope="col">{{ text_return_date }}</th>
    </tr>
    </thead>
    <tbody>
    {% if return_receipt %}
        {% for receipt in return_receipt %}
            <tr>
                <td>
                    <a title="{{ receipt.return_receipt_code }}" href="{{ receipt.view }}">
                        <p class="mb-0">
                            <span>{{ receipt.return_receipt_code }}</span><br>
                        </p>
                    </a>
                </td>
                <td>
                    <a href="{{ receipt.order_link }}">
                        {{ receipt.order_code }}
                    </a></td>
                <td class="text-center">{{ receipt.total|number_format(0, '.', ',') }}&#8363;</td>
                <td title="{{ receipt.note }}">{{ receipt.note|length > 70 ? receipt.note|slice(0, 67) ~ '...' : receipt.note }}</td>
                <td class="text-center">
                    {% if receipt.date_added %}
                        {{ receipt.date_added|date("d/m/Y") }}
                    {% else %}
                        --
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-16">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div>