{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0 mobile-space-2">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="sub-head clearfix pb-3">
                    <h1 class="page-title float-left">
                        {{ heading_title_top }}
                    </h1>
                    {% if can_modify %}
                    <a class="advance-link btn float-right" href="javascript:void(0)" id="choose-order">{{ btn_save_apply }}</a>
                    {% endif %}
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible mt-2"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible mt-2"><i
                                class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active">{{ heading_title_top }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="filter-form order-filter clearfix product-form-validate"
                              action="{{ action_search }}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group search-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light dropdown-toggle"
                                                    style="padding-left: 5px !important;padding-right:0px !important;"
                                                    type="button">{{ filter_return_receipt }}</button>
                                            <div class="dropdown-menu p-0 p-3 font-12">
                                                <div class="form-group">
                                                    <label>{{ filter_by }}</label>
                                                    <!--<select class="form-control form-control-sm category_id" data-label="{{ entry_category }}" id="category_id" name="category_id">-->
                                                    <select class="form-control form-control-sm select2 category_id"
                                                            id="category_id" data-label="Danh mục"
                                                            required name="category_id">
                                                        <option value="">{{ filter_condition }}</option>
                                                        <option value="1" data-value="">
                                                            {{ text_return_date }}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div id="image-loading-filter" style="position: absolute;left: 25%;"></div>
                                                <div id="showoptionone"></div>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <button type="button" id="filter_button"
                                                        class="btn btn-info font-12">{{ filter }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group-icon">
                                            <i class="icon icon-search"></i>
                                            <input type="text" id="filter_name"
                                                   class="form-control search-input-icon"
                                                   placeholder="{{ filter_by_receipt_code }}">
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End row -->
                            <div class="filter-item">
                                {# Handle when url has filter_status param #}
                            </div>
                        </form> <!-- End form filter -->
                    </div>
                    <div class="box-content pt-0">
                        <div class="tab-content">
                            <div id="receipt-content" class="not-choose-product-list">
                                {% include 'sale/return_receipt_list_append.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- Modal order-list -->
<div class="modal fade" id="order-list" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ p_order_list }}</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-5 pb-2">
                        <div class="input-group-icon">
                            <i class="icon icon-search"></i>
                            <input type="text" id="p-search"
                                   class="form-control search-input-icon p_filter"
                                   maxlength="100"
                                   placeholder="{{ p_search_placeholder }}">
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pb-2 select-status-custom">
                        <select class="form-control select2 p_filter" id="p-order-source">
                            <option value="">{{ p_filter_source }}</option>
                            <option value="shop">{{ p_filter_source_shop }}</option>
                            <option value="admin">{{ p_filter_source_admin }}</option>
                            <option value="pos">POS</option>
                            <option value="chatbot">Chatbot</option>
                            <option value="social">Social</option>
                        </select>
                        <i class="fa fa-caret-down down-icon"></i>
                    </div>
                    <div class="col-12 col-lg-4 pb-2">
                        <div id="reportrange">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down down-icon"></i>
                        </div>
                        <input type="hidden" name="p_tart" id="p_start" class=""/>
                        <input type="hidden" name="p_end" id="p_end" class="p_filter"/>
                    </div>
                </div>
                <div id="order-content">
                    {% include 'sale/return_receipt_order_popup.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="image-loading"></div>
{{ footer }}
<style>
    #order-list .input-group-icon > i.icon {
        background: #919EAB;
        margin-left: -5px;
    }
    .select-status-custom .down-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        opacity: 0.5;
    }
    @media screen and (max-width: 767px) {
        .mobile-space-2 {
            margin-top: 100px;
        }
    }

    .btn-return-goods, .btn-return-goods:hover {
        border: 1px solid #ED592A !important;
        color: #ED592A;
    }
</style>
<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<script type="text/javascript">
    // START FOR POPUP
    jQuery(document).ready(function ($) {
        $('#choose-order').on('click', function () {
            $('#order-list').modal('show');
        });

        moment.lang('vi', {
            week: {
                dow: 1 // Monday is the first day of the week
            }
        });

        // max today is 13 col in chart for each point stands for 2h
        var maxTicksLimit = 13;
        var start = moment().startOf('week');
        var end = moment().endOf('day');

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            startOfWeek: 'monday',
            firstDay: 1,
            locale: {
                format: "DD/MM/YYYY",
                separator: " - ",
                customRangeLabel: "{{ options }}",
                "daysOfWeek": [
                    "{{ sunday }}",
                    "{{ monday }}",
                    "{{ tuesday }}",
                    "{{ wednesday }}",
                    "{{ thursday }}",
                    "{{ friday }}",
                    "{{ saturday }}"
                ],
                "monthNames": [
                    "{{ january }}",
                    "{{ february }}",
                    "{{ march }}",
                    "{{ april }}",
                    "{{ may }}",
                    "{{ june }}",
                    "{{ july }}",
                    "{{ august }}",
                    "{{ september }}",
                    "{{ october }}",
                    "{{ november }}",
                    "{{ december }}"
                ],
                "firstDay": 1
            },
            ranges: {
                '{{ today }}': [moment(), moment()],
                '{{ yesterday }}': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '{{ this_week }}': [moment().startOf('week'), end],
                '{{ last_week }}': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                '{{ this_month }}': [moment().startOf('month'), end],
                '{{ last_month }}': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, function (_start, _end, label) {
            start = _start;
            end = _end;

            var label = getLabelDueToDateRange(start, end);
            var time_end = end.format('YYYY-MM-DD H:m:s');
            if (label === '{{ today }}') {
                time_end = moment().format('YYYY-MM-DD H:m:s');
            }

            showSelectedDateRangeLabel(start, end);
            updateRangeForInput(start, end)
        });

        showSelectedDateRangeLabel(start, end);
        updateRangeForInput(start, end)

        /* all functions here */
        function showSelectedDateRangeLabel(start, end) {
            var label = getLabelDueToDateRange(start, end);
            var dateFormat = (label === '{{ this_month }}' || label === '{{ last_month }}')
                ? 'MM/YYYY'
                : 'DD/MM/YYYY';

            if (label === '{{ this_month }}' || label === '{{ last_month }}' || label === '{{ today }}' || label === '{{ yesterday }}') {
                $('#reportrange span').html(label + ': ' + start.format(dateFormat));

                return;
            }

            $('#reportrange span').html(label + ': ' + start.format(dateFormat) + ' - ' + end.format(dateFormat));
        }

        function getLabelDueToDateRange(start, end) {
            if (start.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
                maxTicksLimit = 13;
                return '{{ today }}';
            }

            if (start.format('DD/MM/YYYY') === moment().subtract(1, 'days').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'days').format('DD/MM/YYYY')) {
                maxTicksLimit = 13;
                return '{{ yesterday }}';
            }

            if (start.format('DD/MM/YYYY') === moment().startOf('week').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                return '{{ this_week }}';
            }

            if (start.format('DD/MM/YYYY') === moment().subtract(1, 'week').startOf('week').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'week').endOf('week').format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                return '{{ last_week }}';
            }

            if (start.format('DD/MM/YYYY') === moment().startOf('month').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                return '{{ this_month }}';
            }

            if (start.format('DD/MM/YYYY') === moment().subtract(1, 'month').startOf('month').format('DD/MM/YYYY') && end.format('DD/MM/YYYY') === moment().subtract(1, 'month').endOf('month').format('DD/MM/YYYY')) {
                maxTicksLimit = 7;
                return '{{ last_month }}';
            }

            return '{{ options }}';
        }
    });

    function updateRangeForInput(start, end) {
        $('#p_start').val(start.format('YYYY-MM-DD')).trigger('change');
        $('#p_end').val(end.format('YYYY-MM-DD HH:mm:ss')).trigger('change');
    }

    $('#order-list').on('change', '.p_filter', function () {
        p_filter();
    });

    //ajax load new page
    $('#order-list').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            p_filter(page);
        }
    });

    function p_filter(page = 1){
        var url = '{{ url_filter_popup | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        var p_filter_name = $('#p-search').val();
        var p_order_source = $('#p-order-source').val();
        var p_start = $('#p_start').val();
        var p_end = $('#p_end').val();
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_name: p_filter_name,
                order_source: p_order_source,
                start_date: p_start,
                end_date: p_end,
                page: page
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#order-content').html(html);
                $('#image-loading').hide();
            }
        });
    }
    // END FOR POPUP


    $('.category_id').change(function (event) {
        $('.order-filter #image-loading-filter').show();
        categoryID = $('.category_id').val();
        $.post('{{ loadOptionOne | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {
            'categoryID': categoryID,
            'flag': true
        }, function (data) {
            $('.order-filter #image-loading-filter').hide();
            $('#showoptionone').html(data).promise().done(function () {

                $('select.select2').each(function (index, el) {
                    $(this).wrap("<div class='select-2-container position-relative" + ($(this).attr('data-tags') ? " select2-tag" : '') + "'></div>");
                    $(this).css('width', '100%');
                    $(this).after('<div class="select-2-wrapper ' + ($(this).attr('multiple') ? 'multiple' : 'single') + '"></div>');
                    $(this).select2({
                        theme: 'bootstrap4',
                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                        placeholder: $(this).attr('data-placeholder'),
                        tags: $(this).attr('data-tags'),
                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true)
                    });
                });
            });
        })
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });

    //ajax load new page
    $('#receipt-content').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#receipt-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';

        /* search text box */
        var filter_name = $('#filter_name').val();

        var filter_created_at_type = $('.filter-item input[name^=filter_created_at_type]').val();
        var start_date, end_date ;
        switch (filter_created_at_type) {
            case "today":
                start_date = moment().format('YYYY-MM-DD 00:00:00');
                end_date = moment().format('YYYY-MM-DD HH:mm:ss');
                break;
            case "week":
                start_date = moment().startOf('isoWeek').format('YYYY-MM-DD 00:00:00');
                end_date = moment().format('YYYY-MM-DD HH:mm:ss');
                break;
            case "month":
                start_date = moment().startOf('month').format('YYYY-MM-DD 00:00:00');
                end_date = moment().format('YYYY-MM-DD HH:mm:ss');
                break;
            default:
                if (filter_created_at_type) {
                    var created_at = filter_created_at_type.split('-');
                    var from_date = created_at[0].trim();
                    var to_date = created_at[1].trim();
                    from_date = from_date.split('/').reverse().join('/');
                    to_date = to_date.split('/').reverse().join('/');
                    start_date = moment(from_date).format('YYYY-MM-DD 00:00:00');
                    end_date = moment(to_date).format('YYYY-MM-DD 23:59:59');
                }
                break;
        }

        if (!remove_item && !filter_created_at_type && $('.filter-form select[name^=filter_created_at_type]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                start_date: start_date,
                end_date: end_date,
                page: page
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#receipt-content').html(html);
                $('#image-loading').hide();
                $('.filter-form .select2-container--bootstrap4 .select2-selection').css('border', '1px solid #ced4da');
                $('.filter-form input').css('border', '1px solid #ced4da');
            }
        });
    }

    jQuery(document).on('select2:select', '.select2', function () {
        var data = $(this).select2('data');
        var id = data[0].id.trim();

        if (id == "option") {
            jQuery('.filter_created_at_value').removeClass('d-none');
        } else {
            jQuery('.filter_created_at_value').addClass('d-none');
        }
    });

    $(document).on('focusin', '.date-picker', function () {
        $(this).datetimepicker({
            format: 'l',
            locale: 'vi',
            icons: {
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
            }
        });
    });
</script>
<style type="text/css">
    .select2-container {
        width: 100% !important;
    }
</style>