{{ header }}
<div class="block-user-login">
    <div class="container">
        <div class="user-login">
            <div class="block-left">
                <h1 class="header-font">Đăng nhập</h1>
                <p class="header-font">hoặc <a href="{{ urlregister }}">Đăng ký</a></p>
            </div>
            <div class="block-right">
                <div class="form-login">
                    {% if error %}
                        <div class="col-12 col-md-12">
                            <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                                <i class="fa fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    {% endif %}
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-login border p-4">
                        {% if redirect %}
                            <input type="hidden" name="redirect" value="{{ redirect }}">
                        {% endif %}
                        <div class="form-group">
                            <input type="email" name="email" id="" value="{{ email }}" class="form-control" placeholder="Email" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password-input" class="form-control input-pass" placeholder="{{ entry_password }}" aria-describedby="helpId">
                            <span toggle="#password-input" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-submit">Đăng nhập</button>
                            <a href="{{ urlforgotten }}">Quên mật khẩu?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<style>
    .field-icon {
        cursor: pointer;
        right: 7px;
        position: absolute;
        z-index: 2;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>
{{ footer }}