{{ header }}
<div class="bestme_app_after_header">

</div>
<div class="block-home-pages">

    {% if slideshow.visible %}
        <!-- Slideshow -->
        <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
            <div class="container">
                <div class="owl-carousel owl-slide owl-banner" data-time="{{ slideshow.transition_time }}">
                    {% for slide in slideshow.slides %}
                        <div class="item">
                            <div class="col-lg-12 order-lg-12">
                                <a target="_blank" href="{{ slide['url'] }}" class="">
                                    <img class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- /.Slideshow -->
    {% endif %}
    <!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
    <!-- block-ads-banner -->
    {% if banners_visible == '1' %}
        <section id="banner-product" class="banner-ads-img">
            <div class="container">
                <div class="row">
                    {% if banner_highlight['visible'] == '1' %}
                        <div class="col-sm-6 col-md-4 col-lg-4 bestme-block-banner-1">
                            <a href="{{ banner_highlight['url'] }}"  target="_blank">
                                <div class="banner-product-item">
                                    <div class="thumb">
                                        <img class="thumb-h lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}">
                                    </div>
                                    {#<div class="content-item">#}
                                    {#<div class="content">#}
                                    {#<h4 class="d-none">STYLYSH <strong>JEN’S</strong></h4>#}
                                    {#<h4>{{ banner_highlight['description'] }} <strong class="d-none">SAVE UP TO <span>60%</span></strong>  </h4>#}
                                    {#<a href="{{ banner_highlight['url'] }}">Shop now!</a>#}
                                    {#</div>#}
                                    {#</div>#}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    {% if banner_left['visible'] == '1' %}
                        <div class="col-sm-6 col-md-8 col-lg-8 bestme-block-banner-2">
                            <a href="{{ banner_left['url'] }}"  target="_blank">
                                <div class="banner-product-item">
                                    <div class="thumb">
                                        <img class="thumb-h lazyload"  data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
    <!-- /.block-ads-banner -->

    <div class="container">
        <!-- Block-saleoff-product -->
        {% for k, block in blocks %}

            {% if block['visible'] and k < 2 %}
                <section id="block-saleoff-product" class="block-product block-saleoff-product bestme-block-hot-product">
                    <div class="block-head header-font">
                        <h3>{{ block['title'] }}</h3>
                    </div>
                    <div class="owl-carousel owl-slide owl-best-sale-product-{{ k }}" data-number-item="{{ block['grid'] }}"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% if block['collections'] is not empty %}
                            {% for k,collection in block['collections'] %}
                                <div class="product-box pink-shadow">
                                    <div class="thumb">
                                        <a href="{{ collection['url'] }}"><img class=" ls-is-cached lazyloaded" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}" src="{{ collection['image'] }}"></a>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="name header-font">
                                            <a href="{{ collection['url'] }}" title="{{ collection['title'] }}">{{ collection['title'] }}</a>
                                        </h4>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for k,product in block['products'] %}
                                <!-- product -->
                                <div class="product-box pink-shadow">
                                    <div class="hot-wrap">
                                        {% if product['percent_sale'] is not empty %}
                                            <div class="status-item main-yellow">{{ product['percent_sale'] }}</div>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                        {% endif %}
                                        {% if product['is_best_sale_product'] %}
                                            <div class="flash-hot">Hot</div>
                                        {% endif %}
                                    </div>
                                    <div class="thumb">
                                        <a href="{{ product['href'] }}"><img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a>
                                        <div class="action">
                                            <a href="{{ product['href'] }}" style="text-decoration-line: none"><button type="button" class="btn btn-addcart"><i class="fa fa-cart-plus"
                                                                                                                                                                aria-hidden="true"></i>Thêm vào
                                                    giỏ
                                                </button></a>
                                            <div class="btn-viewmore"><a href="{{ product['href'] }}">Xem chi tiết</a></div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="name header-font">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </h4>
                                        <div class="price-ctn">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="product-price">
                                                {{ contact }}
                                            </span>
                                            {% else %}
                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                    <div class="price-new header-font price-pink-color">
                                                    <span class="price">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                {% else %}
                                                    <div class="price-new header-font price-pink-color">
                                                    <span class="price">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['price_master'] }}
                                                        {% else %}
                                                            {{ product['min_price_version'] }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                    <div class="price-old header-font">
                                                    <span class="price">
                                                        {% if product['max_compare_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="rating-ctn d-none">
                                                <fieldset class="rate">
                                                    <input id="rate2-star5" type="radio" name="rate2" value="5" />
                                                    <label for="rate2-star5" title="Awesome">5</label>

                                                    <input id="rate2-star5-half" type="radio" name="rate2" value="4.5" />
                                                    <label class="star-half" for="rate2-star5-half" title="Excellent">4.5</label>

                                                    <input id="rate2-star4" type="radio" name="rate2" value="4" />
                                                    <label for="rate2-star4" title="Very good">4</label>

                                                    <input id="rate2-star3-half" type="radio" name="rate2" value="3.5" />
                                                    <label class="star-half" for="rate2-star3-half" title="Good">3.5</label>

                                                    <input id="rate2-star3" type="radio" name="rate2" value="3" />
                                                    <label for="rate2-star3" title="Satisfactory">3</label>

                                                    <input id="rate2-star2-half" type="radio" name="rate2" value="2.5" />
                                                    <label class="star-half" for="rate2-star2-half" title="Unsatisfactory">2.5</label>

                                                    <input id="rate2-star2" type="radio" name="rate2" value="2" />
                                                    <label for="rate2-star2" title="Bad">2</label>

                                                    <input id="rate2-star1-half" type="radio" name="rate2" value="1.5" />
                                                    <label class="star-half" for="rate2-star1-half" title="Very bad">1.5</label>

                                                    <input id="rate2-star1" type="radio" name="rate2" value="1" />
                                                    <label for="rate2-star1" title="Awful">1</label>

                                                    <input id="rate2-star0-half" type="radio" name="rate2" value="0.5" />
                                                    <label class="star-half" for="rate2-star0-half" title="Horrific">0.5</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.product -->
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="container pb-3">
                        <div class="w-100 text-center">
                            <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                        </div>
                    </div>
                </section>
            {% endif %}

        {% endfor %}
        <!-- /.Block-saleoff-product -->


        {% if partners_visible == '1' %}
            <!-- Partner -->
            <div id="block-partner" class="bestme-block-partner">
                <!-- <div class="container"> -->
                <div class="swiper-partner" style="position: relative; overflow: hidden; list-style: none; z-index: 1" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}" data-time="5000">
                    <div class="swiper-wrapper">
                        {% for partner in partners %}
                            <div class="swiper-slide">
                                <a href="{{ partner.url }}"><img class="lazyload" data-src="{{ partner['image-url'] }}" alt=""></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <!-- /.Partner -->
        {% endif %}

        {% for k, block in blocks %}

            {% if block['visible'] and k > 1 %}
                <section id="block-saleoff-product" class="block-product block-saleoff-product bestme-block-hot-product">
                    <div class="block-head header-font">
                        <h3>{{ block['title'] }}</h3>
                    </div>
                    <div class="owl-carousel owl-slide owl-best-sale-product-{{ k }}" data-number-item="{{ block['grid'] }}"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% if block['collections'] is not empty %}
                            {% for k,collection in block['collections'] %}
                                <div class="product-box pink-shadow">
                                    <div class="thumb">
                                        <a href="{{ collection['url'] }}"><img class=" ls-is-cached lazyloaded" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}" src="{{ collection['image'] }}"></a>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="name header-font">
                                            <a href="{{ collection['url'] }}" title="{{ collection['title'] }}">{{ collection['title'] }}</a>
                                        </h4>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for k,product in block['products'] %}
                                <!-- product -->
                                <div class="product-box pink-shadow">
                                    <div class="hot-wrap">
                                        {% if product['percent_sale'] is not empty %}
                                            <div class="status-item main-yellow">{{ product['percent_sale'] }}</div>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                        {% endif %}
                                        {% if product['is_best_sale_product'] %}
                                            <div class="flash-hot">Hot</div>
                                        {% endif %}
                                    </div>
                                    <div class="thumb">
                                        <a href="{{ product['href'] }}"><img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a>
                                        <div class="action">
                                            <a href="{{ product['href'] }}" style="text-decoration-line: none"><button type="button" class="btn btn-addcart"><i class="fa fa-cart-plus"
                                                                                                                                                                aria-hidden="true"></i>Thêm vào
                                                    giỏ
                                                </button></a>
                                            <div class="btn-viewmore"><a href="{{ product['href'] }}">Xem chi tiết</a></div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4 class="name header-font">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        </h4>
                                        <div class="price-ctn">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="product-price">
                                                {{ contact }}
                                            </span>
                                            {% else %}
                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                    <div class="price-new header-font price-pink-color">
                                                    <span class="price">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                {% else %}
                                                    <div class="price-new header-font price-pink-color">
                                                    <span class="price">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['price_master'] }}
                                                        {% else %}
                                                            {{ product['min_price_version'] }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                    <div class="price-old header-font">
                                                    <span class="price">
                                                        {% if product['max_compare_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="rating-ctn d-none">
                                                <fieldset class="rate">
                                                    <input id="rate2-star5" type="radio" name="rate2" value="5" />
                                                    <label for="rate2-star5" title="Awesome">5</label>

                                                    <input id="rate2-star5-half" type="radio" name="rate2" value="4.5" />
                                                    <label class="star-half" for="rate2-star5-half" title="Excellent">4.5</label>

                                                    <input id="rate2-star4" type="radio" name="rate2" value="4" />
                                                    <label for="rate2-star4" title="Very good">4</label>

                                                    <input id="rate2-star3-half" type="radio" name="rate2" value="3.5" />
                                                    <label class="star-half" for="rate2-star3-half" title="Good">3.5</label>

                                                    <input id="rate2-star3" type="radio" name="rate2" value="3" />
                                                    <label for="rate2-star3" title="Satisfactory">3</label>

                                                    <input id="rate2-star2-half" type="radio" name="rate2" value="2.5" />
                                                    <label class="star-half" for="rate2-star2-half" title="Unsatisfactory">2.5</label>

                                                    <input id="rate2-star2" type="radio" name="rate2" value="2" />
                                                    <label for="rate2-star2" title="Bad">2</label>

                                                    <input id="rate2-star1-half" type="radio" name="rate2" value="1.5" />
                                                    <label class="star-half" for="rate2-star1-half" title="Very bad">1.5</label>

                                                    <input id="rate2-star1" type="radio" name="rate2" value="1" />
                                                    <label for="rate2-star1" title="Awful">1</label>

                                                    <input id="rate2-star0-half" type="radio" name="rate2" value="0.5" />
                                                    <label class="star-half" for="rate2-star0-half" title="Horrific">0.5</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.product -->
                            {% endfor %}

                        {% endif %}
                    </div>
                    <div class="container pb-3">
                        <div class="w-100 text-center">
                            <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase view-more">Xem thêm >></a>
                        </div>
                    </div>
                </section>
            {% endif %}

        {% endfor %}
<div class="bestme_app_after_product">

</div>
        <!-- block-registor-email -->
        <section id="block-registor-email" class="block-registor-email">
            <div class="registor-email-ctn">
                <h5>ĐĂNG KÝ ĐỂ NHẬN TIN KHUYẾN MẠI</h5>
                <div class="form-regis">
                    <form action="">
                        <div class="form-group custom-input main-font">
                            <div class="input-item">
                                <input type="text" id="name" required />
                                <label for="name">Nhập email của bạn</label>
                            </div>
                            <button type="submit" class="btn btn-submit"><?xml version="1.0" encoding="iso-8859-1"?>
                                <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="30px" height="30px" fill="#d4b69f" viewBox="0 0 268.832 268.832" style="enable-background:new 0 0 268.832 268.832;"
                                     xml:space="preserve">
                                <g>
                                    <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5
                                        c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678
                                        c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"/>
                                </g>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /.block-registor-email -->

        <!-- block-blog -->
        {% if latest_blog %}
            <div id="block-blog" class="block-blog">
                <div class="block-head header-font">
                    <h3>{{ blog_title }}</h3>
                </div>
                <div class="blog-ctn">
                    {% for k,blog in latest_blog %}
                        {% if k < 3 %}
                            <div class="blog-item">
                                <div class="thumb">
                                    <a href="{{ blog['link'] }}"><img class="img-fluid lazyload" data-src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                                </div>
                                <div class="content">
                                    <div class="author-view">
                                        <div class="meta">
                                            Đăng bởi
                                            <a href="#">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>, <span class="date">{{ blog['date_added']|date('d/m/Y') }}</span>
                                        </div>
                                        {#<div class="view">3.500 lượt xem</div>#}
                                    </div>
                                    <h5 id="new-title" class="new-title">
                                        <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                    </h5>
                                    <div id="new-des" class="new-desc">
                                        <p>{{ blog['short_content']|length > 100 ? blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : blog['short_content']|html_entity_decode|striptags }} </p>
                                    </div>
                                    <div class="view-more">
                                        <a href="{{ blog['link'] }}">Xem thêm <span><i class="fa fa-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <!-- /.block-blog -->

        <!--  -->
    </div>
</div>
<div class="bestme_app_before_footer">

</div>
<style>
    .swiper-wrapper img{
        max-width: 150px;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.owl-best-sale-product-' + '{{ k }}').length > 0) {
            const autoplayTime = undefined === jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay_time') ? 5 : jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay_time')
            jQuery('.owl-best-sale-product-' + '{{ k }}').owlCarousel({
                items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                loop: undefined !== jQuery('.owl-best-sale-product-' + '{{ k }}').data('loop') && 1 == jQuery('.owl-best-sale-product-' + '{{ k }}').data('loop'),
                margin: 30,
                autoplay: undefined !== jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay') && 1 == jQuery('.owl-best-sale-product-' + '{{ k }}').data('autoplay'),
                autoplayTimeout: autoplayTime * 1e3,
                navText: ["<img src='" + theme_directory + "/images/arow-left.png'>", "<img src='" + theme_directory + "/images/arow-right.png'>"],
                dots: false,
                dotsSpeed: 1000,
                autoplaySpeed: 1000,
                navSpeed: 800,
                responsive: {
                    0: {
                        items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    480: {
                        items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    600: {
                        items: 3
                    },
                    768: {
                        items: 4
                    },
                    1000:{
                        items: 5
                    },
                    1200:{
                        items: jQuery('.owl-best-sale-product-' + '{{ k }}').attr('data-number-item'),
                    }
                }
            });
        }
        {% endfor %}
    });
</script>
{{ footer }}