{% if banners_visible == '1' and
    ((banners[2] is defined and banners[2]['visible'] == '1')
    or (banners[3] is defined and banners[3]['visible'] == '1')) %}
    <!-- Box Banner -->
    <div class="row mb-3 mb-lg-5">
        {% if banners[2] is defined and banners[2]['visible'] == '1' %}
            <div class="col-12 col-lg-{% if banners[3] is defined and banners[3]['visible'] == '1' %}6{% else %}12{% endif %} mb-3 align-self-center">
                <a href="{{ banners[2]['url'] }}" title="{{ banners[2]['description'] }}">
                    <img src="{{ banners[2]['image-url'] }}" width="100%" alt="{{ banners[2]['description'] }}" class="bestme-block-banner-3">
                </a>
            </div>
        {% endif %}
        {% if banners[3] is defined and banners[3]['visible'] == '1' %}
            <div class="col-12 col-lg-{% if banners[2] is defined and banners[2]['visible'] == '1' %}6{% else %}12{% endif %} mb-3 align-self-center">
                <a href="{{ banners[3]['url'] }}" title="{{ banners[3]['description'] }}">
                    <img src="{{ banners[3]['image-url'] }}" width="100%" alt="{{ banners[3]['description'] }}" class="bestme-block-banner-custom">
                </a>
            </div>
        {% endif %}
    </div>
    <!-- End: Box Banner -->
{% endif %}