{{ header }}
<div class="bestme_app_after_header">

</div>

{% if slideshow.visible %}
    <div class="block-slide-banner">
        {#<div class="container"> remove for full width!#}
        <div>
            <div class="swiper-container swiper-banner" data-time="{% if slideshow.transition_time %}{{ slideshow.transition_time }}{% else %}3000{% endif %}">
                <div class="swiper-wrapper">
                    {% for slide in slideshow.slides %}
                    <div class="swiper-slide">
                        <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                            <img class="img-fluid" src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% for k, block in blocks %}

{% if block['visible'] and k < 4 %}
    <!-- Block bst home -->
    <div class="block-home">
        <div class="container">
            <div class="heading-block">
                <h3>{{ block['title'] }}</h3>
                {% if block['sub_title'] is not empty %}
                    <p>{{ block['sub_title'] }}</p>
                {% endif %}
            </div>
        </div>
        {% if block['collections'] is not empty %}
            <div class="container">
                <div class="row row-s-10">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} col-s-10">
                            <div class="collection">
                                <div class="collection-thumb">
                                    <a href="{{ collection['url'] }}"><img class="img-fluid" src="{{ collection['image'] }}" alt=""></a>
                                </div>
                                <div class="collection-detail">
                                    <div class="collection-detail-name">
                                        <a href="{{ collection['url'] }}">{{ collection['title'] }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="block-product">
                <div class="container position-relative product-cate">
                {% if is_on_mobile != 1 %}
                    <div class="swiper-container swiper-p6 swiper-custom-block-{{ k }}" data-grid="{{ block['grid'] }}"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        <div class="swiper-wrapper">
                {% else %}
                    <div class="col-12 product-cate mgr-3">
                        <div class="row">
                {% endif %}
                            {% for k,product in block['products'] %}
                                {% if is_on_mobile != 1 %}
                                <div class="swiper-slide">
                                {% else %}
                                    <div class="col-md-4 col-sm-{{ 12/block['grid'] }} col-{{ 12/block['grid'] }} pd-3">
                                {% endif %}
                                    <div class="product">
                                        <a href="{{ product['href'] }}">
                                            <div {% if is_on_mobile == 1 %} style="display: block;" {% endif %}class=" product-thumb">
                                                <img class="img-fluid" src="{{ product['thumb'] }}" alt="{{ product.name }}">
                                                <img src="{{ (product.product_images is empty) ? product.thumb : product.product_images }}" class="img-top" alt="{{ product.name }}">
                                                {% if product['percent_sale'] is not empty %}
                                                    <div class="status sale">
                                                        <div class="wp">
                                                            Giảm <span>{{ product['percent_sale']|replace({'-': '', '%': ''}) }}</span>%
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if product['product_is_stock'] == false %}
                                                    <div class="status die">
                                                        <div class="wp">
                                                            Hết hàng
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="product-ct">
                                            <h6 class="brand">
                                                {{ product['manufacturer'] }}
                                            </h6>
                                            <h5 class="name">
                                                <a class="product-title" href="{{ product['href'] }}">{{ product.name }}</a>
                                            </h5>
                                            {% if block['block_type'] == 'best_sales_product' %}
                                                <div class="product-total-sold">
                                                    Đã bán: {{ product['total_sold'] }}
                                                </div>
                                            {% endif %}
                                            <div class="price">
                                                {% if product['is_contact_for_price'] %}
                                                    <span class="new">{{ contact }}</span>
                                                {% else %}
                                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                        <span class="new">
                                                            {% if product['max_price_version'] is null %}
                                                                {{ product['compare_price_master']|replace({' VND': 'đ'}) }}
                                                            {% else %}
                                                                {{ product['min_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ {{ product['max_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                    {% else %}
                                                        <span class="old">
                                                            {% if product['max_compare_price_version'] is null %}
                                                                {{ product['compare_price_master']|replace({' VND': 'đ'}) }}
                                                            {% else %}
                                                                {{ product['min_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                    ~ {{ product['max_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                        <span class="new">
                                                            {% if product['max_price_version'] is null %}
                                                                {{ product['price_master']|replace({' VND': 'đ'}) }}
                                                            {% else %}
                                                                {{ product['min_price_version']|replace({' VND': 'đ'}) }}
                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                    ~ {{ product['max_price_version']|replace({' VND': 'đ'}) }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if is_on_mobile != 1 %}
                        <div class="swiper-button-next swiper-button-next-pro swiper-button-next-p-{{ k }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1" stroke="#16ACCF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="swiper-button-prev swiper-button-prev-pro swiper-button-prev-p-{{ k }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M7 13L1 7L7 1" stroke="#16ACCF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <p class="view-more" style="text-align: center"><a href="{{ block['view_more'] }}">Xem thêm >></a></p>
    </div>
    <!-- /.Block bst home -->
{% endif %}

{% endfor %}

{% if banners_visible == '1' %}
<!-- Block banner -->
<div class="block-home">
    <div class="container">
        <div class="heading-block">
            <h3 class="home-banner-block-title">Đặc biệt nhất trong ngày</h3>
            <p class="home-banner-block-sub-title">Kết thúc vào hôm nay</p>
        </div>
    </div>
    <div class="container">
        <div class="row row-s-10">
            {% if banner_highlight['visible'] == '1' %}
            <div class="col-md-6 col-s-10">
                <a href="{{ banner_highlight['url'] }}"><img class="img-fluid mh-banner" src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}"></a>
            </div>
            {% endif %}
            {% if banner_left['visible'] == '1' %}
                <div class="col-md-6 col-s-10">
                    <a href="{{ banner_left['url'] }}"><img class="img-fluid mh-banner" src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}"></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- /.Block banner -->
{% endif %}

<!-- Block products -->
{% for k, block in blocks %}
    {% if block['visible'] and k > 3 %}
        <!-- Block bst home -->
        <div class="block-home">
            <div class="container">
                <div class="heading-block">
                    <h3>{{ block['title'] }}</h3>
                    {% if block['sub_title'] is not empty %}
                        <p>{{ block['sub_title'] }}</p>
                    {% endif %}
                </div>
            </div>
            {% if block['collections'] is not empty %}
                <div class="container">
                    <div class="row row-s-10">
                        {% for k,collection in block['collections'] %}
                            <div class="col-md-{{ 12 / block['grid'] }} col-s-10">
                                <div class="collection">
                                    <div class="collection-thumb">
                                        <a href="{{ collection['url'] }}"><img class="img-fluid" src="{{ collection['image'] }}" alt=""></a>
                                    </div>
                                    <div class="collection-detail">
                                        <div class="collection-detail-name">
                                            <a href="{{ collection['url'] }}">{{ collection['title'] }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="block-product">
                    <div class="container position-relative product-cate">
                        {% if is_on_mobile != 1 %}
                            <div class="swiper-container swiper-p6 swiper-custom-block-{{ k }}" data-grid="{{ block['grid'] }}"
                                 data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                                <div class="swiper-wrapper">
                        {% else %}
                            <div class="col-12 product-cate mgr-3">
                                <div class="row">
                        {% endif %}
                                {% for k,product in block['products'] %}
                                {% if is_on_mobile != 1 %}
                                    <div class="swiper-slide">
                                {% else %}
                                        <div class="col-md-4 col-sm-{{ 12/block['grid'] }} col-{{ 12/block['grid'] }} pd-3">
                                {% endif %}
                                        <div class="product">
                                            <a href="{{ product['href'] }}">
                                                <div {% if is_on_mobile == 1 %} style="display: block;" {% endif %}class=" product-thumb">
                                                    <img class="img-fluid" src="{{ product['thumb'] }}" alt="{{ product.name }}">
                                                    <img src="{{ product.product_images }}" class="img-top" alt="{{ product.name }}">
                                                    {% if product['percent_sale'] is not empty %}
                                                        <div class="status sale">
                                                            <div class="wp">
                                                                Giảm <span>{{ product['percent_sale']|replace({'-': '', '%': ''}) }}</span>%
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if product['product_is_stock'] == false %}
                                                        <div class="status die">
                                                            <div class="wp">
                                                                Hết hàng
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </a>
                                            <div class="product-ct">
                                                <h6 class="brand">
                                                    {{ product['manufacturer'] }}
                                                </h6>
                                                <h5 class="name">
                                                    <a class="product-title" href="{{ product['href'] }}">{{ product.name }}</a>
                                                </h5>
                                                {% if block['block_type'] == 'best_sales_product' %}
                                                    <div class="product-total-sold">
                                                        Đã bán: {{ product['total_sold'] }}
                                                    </div>
                                                {% endif %}
                                                <div class="price">
                                                    {% if product['is_contact_for_price'] %}
                                                        <span class="new">{{ contact }}</span>
                                                    {% else %}
                                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                            <span class="new">
                                                                {% if product['max_price_version'] is null %}
                                                                    {{ product['compare_price_master']|replace({' VND': 'đ'}) }}
                                                                {% else %}
                                                                    {{ product['min_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                        ~ {{ product['max_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                        {% else %}
                                                            <span class="old">
                                                                {% if product['max_compare_price_version'] is null %}
                                                                    {{ product['compare_price_master']|replace({' VND': 'đ'}) }}
                                                                {% else %}
                                                                    {{ product['min_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                        ~ {{ product['max_compare_price_version']|replace({' VND': 'đ'}) }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                            <span class="new">
                                                                {% if product['max_price_version'] is null %}
                                                                    {{ product['price_master']|replace({' VND': 'đ'}) }}
                                                                {% else %}
                                                                    {{ product['min_price_version']|replace({' VND': 'đ'}) }}
                                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                                        ~ {{ product['max_price_version']|replace({' VND': 'đ'}) }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if is_on_mobile != 1 %}
                            <div class="swiper-button-next swiper-button-next-pro swiper-button-next-p-{{ k }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                                    <path d="M1 13L7 7L1 1" stroke="#16ACCF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="swiper-button-prev swiper-button-prev-pro swiper-button-prev-p-{{ k }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                                    <path d="M7 13L1 7L7 1" stroke="#16ACCF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <p class="view-more" style="text-align: center"><a href="{{ block['view_more'] }}">Xem thêm >></a></p>
        </div>
        <!-- /.Block bst home -->
    {% endif %}
{% endfor %}
<!-- /.Block products -->
<div class="bestme_app_after_product">

</div>
<!-- Block partner -->
{% if partners_visible == '1' %}
    <div class="block-slide-banner block-home">
        <div class="container">
            <h3 class="heading-block"><span>{{ partners_title }}</span></h3>
            <div class="swiper-container swiper-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-time="{% if slideshow.transition_time %}{{ slideshow.transition_time }}{% else %}3000{% endif %}"
                 data-limit-inline="{{ partners_limit_per_line }}">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                        <div class="swiper-slide">
                            <a href="{{ partner.url }}"><img class="img-fluid" src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}"></a>
                        </div>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /.Block partner -->

<!-- News home -->
{% if latest_blog %}
<div class="block-home">
    {# could not change text. Temp disable. TODO: allow?... #}
    <div class="container">
        <div class="heading-block">
            <h3 class="home-blog-title">Blog</h3>
        </div>
    </div>
    <div class="container">
        <div class="row row-s-10">
            {% for k,blog in latest_blog %}
                {% if k < 3 %}
                <div class="col-md-4 col-s-10">
                    <div class="news">
                        <div class="news-thumb">
                            <a href="{{ blog['link'] }}"><img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}"></a>
                        </div>
                        <div class="news-ct">
                            <h4 class="news-ct-name">
                                <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                            </h4>
                            <div class="news-ct-desc">
                                <p>
                                    {{ blog['short_content']|html_entity_decode|striptags|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="bestme_app_before_footer">

</div>
<!-- /.News home -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
            if (jQuery('.swiper-custom-block-' + '{{ k }}').length > 0) {
                const autoplay = 1 == $('.swiper-custom-block-' + '{{ k }}').data('autoplay') ? { delay: $('.swiper-custom-block-' + '{{ k }}').data('autoplay_time') * 1e3 } : false;
                var swiper{{ k }} = new Swiper('.swiper-custom-block-' + '{{ k }}', {
                    slidesPerView: 6,
                    spaceBetween: 20,
                    loop: 1 == $('.swiper-custom-block-' + '{{ k }}').data('loop'),
                    autoplay: autoplay,
                    navigation: {
                        nextEl: '.swiper-button-next-p-{{ k }}',
                        prevEl: '.swiper-button-prev-p-{{ k }}',
                    },
                    breakpoints: {
                        // when window width is >= 320px
                        320: {
                            slidesPerView: 2,
                            spaceBetween: 5
                        },
                        // when window width is >= 480px
                        480: {
                            slidesPerView: 2,
                            spaceBetween: 5
                        },
                        // when window width is >= 640px
                        768: {
                            slidesPerView: 3,
                            spaceBetween: 10
                        },
                        1200: {
                            slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-grid')
                        }
                    }
                });
            }
        {% endfor %}
        {% if isset_cart %}
            $('.block-cart').toggleClass('show-cart');
            $('.block-over').toggleClass('over');
            $('body').toggleClass('no-scroll');
            ajaxGetOrderInfo();
        {% endif %}

        var swiper_partner = new Swiper('.swiper-partner', {
                slidesPerView: 4,
                spaceBetween: 20,
                loop: jQuery('.swiper-partner').attr('data-loop') == 1 ? true : false,
                autoplay: jQuery('.swiper-partner').attr('data-auto-play') == 1 ? true : false,
            navigation: {
                    nextEl: '.swiper-button-next-n',
                    prevEl: '.swiper-button-prev-n',
                },
                breakpoints: {
                    // when window width is >= 320px
                    320: {
                        slidesPerView: 2,
                        spaceBetween: 5
                    },
                    // when window width is >= 480px
                    480: {
                        slidesPerView: 2,
                        spaceBetween: 5
                    },
                    // when window width is >= 640px
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 10
                    },
                    1200: {
                        slidesPerView: 4
                    }
                }
            });
    });
</script>
{{ footer }}