{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<main class="main-content">
    <div class="container" id="productdetail-page">
        <nav aria-label="breadcrumb" class="my-4 pt-1">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>

        {#<div class="product-teaser-fix">#}
        {#    <div class="container">#}
        {#        <div class="d-flex">#}
        {#            <span class="font-weight-500 align-self-center">{{ product['name'] }}  -  <span#}
        {#                        class="second-color">#}
        {#                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}#}
        {#                    {% if product['max_price_version'] is null %}#}
        {#                        {{ product['compare_price_master'] }}#}
        {#                    {% else %}#}
        {#                        {{ product['min_compare_price_version'] }}#}
        {#                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}#}
        {#                            ~ {{ product['max_compare_price_version'] }}#}
        {#                        {% endif %}#}
        {#                    {% endif %}#}

        {#                {% else %}#}

        {#                    {% if product['max_price_version'] is null %}#}
        {#                        {{ product['price_master'] }}#}
        {#                    {% else %}#}
        {#                        {{ product['min_price_version'] }}#}
        {#                        {% if product['max_price_version'] != product['min_price_version'] %}#}
        {#                            ~ {{ product['max_price_version'] }}#}
        {#                        {% endif %}#}
        {#                    {% endif %}#}
        {#                {% endif %}</span></span>#}
        {#            <div class="ml-auto">#}
        {#                <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>#}
        {#                <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0">Mua ngay</button>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        {#</div>#}

        {#<div class="row mb-4 product-detail">#}

        {#    <div class="col-12 col-md-5 node-left mb-3">#}
        {#        <div class="carousel px-4" id="slider">#}
        {#            <div class="owl-carousel owl-theme owl-review owl-product-detail">#}
        {#                {% if product_images is not empty %}#}
        {#                    {% for k,image in product_images %}#}
        {#                        <div data-hash="product-{{ k }}"><img class="" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>#}
        {#                    {% endfor %}#}
        {#                {% else %}#}
        {#                    <div data-hash="product-1"><img class="" src="{{ product_empty }}" alt=""></div>#}
        {#                {% endif %}#}
        {#            </div>#}
        {#        </div> <!-- End slider -->#}
        {#        <div id="carousel" class="owl-thumb px-4">#}
        {#            <div class="owl-carousel owl-theme owl-review owl-product-thumb">#}
        {#                {% if product_images is not empty %}#}
        {#                    {% for k,image in product_images %}#}
        {#                        <a href="{{ current_url_href }}#product-{{ k }}"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></a>#}
        {#                    {% endfor %}#}
        {#                {% else %}#}
        {#                    <a href="{{ current_url_href }}#product-1"><img class="img-fluid" src="{{ product_empty }}" alt=""></a>#}
        {#                {% endif %}#}
        {#            </div>#}
        {#        </div> <!-- End slider thumb -->#}
        {#    </div> <!-- End node-left -->#}

        {#    <div class="col-12 col-md-7 node-right">#}
        {#        <div class="third-bg p-4">#}
        {#            <h1 class="page-title font-24 text-capitalize font-weight-bold">{{ product['name'] }}</h1>#}
        {#            <div class="d-flex mb-3">#}
        {#                <span class="block-status">Tình trạng:#}
        {#                    {% if product['product_is_stock'] %}#}
        {#                        <span class="ml-3 second-color font-weight-500">Còn hàng</span>#}
        {#                            {% else %}#}
        {#                        <span class="ml-3 second-color font-weight-500">Hết hàng</span>#}
        {#                    {% endif %}#}
        {#                </span>#}
        {#            </div>#}
        {#            <div class="price d-flex mb-3">#}
        {#                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}#}
        {#                    {% if product['max_price_version'] is null %}#}
        {#                        <span class="font-24 font-weight-bold mr-4 second-color">{{ product['compare_price_master'] }}</span>#}
        {#                    {% else %}#}
        {#                        <span class="font-24 font-weight-bold mr-4 second-color">#}
        {#                            {{ product['min_compare_price_version'] }}#}
        {#                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}#}
        {#                                ~ {{ product['max_compare_price_version'] }}#}
        {#                            {% endif %}#}
        {#                        </span>#}
        {#                    {% endif %}#}
        {#                {% else %}#}
        {#                {% if product['max_price_version'] is null %}#}
        {#                    <span class="font-24 font-weight-bold mr-4 second-color">{{ product['price_master'] }}</span>#}
        {#                {% else %}#}
        {#                    <span class="font-24 font-weight-bold mr-4 second-color">#}
        {#                        {{ product['min_price_version'] }}#}
        {#                        {% if product['max_price_version'] != product['min_price_version'] %}#}
        {#                            ~ {{ product['max_price_version'] }}#}
        {#                        {% endif %}#}
        {#                    </span>#}
        {#                {% endif %}#}
        {#                {% if product['max_compare_price_version'] is null %}#}
        {#                    <del class="font-16 fifth-color mt-2 font-weight-400">{{ product['compare_price_master'] }}</del>#}
        {#                {% else %}#}
        {#                    <del class="font-16 fifth-color mt-2 font-weight-400">#}
        {#                        {{ product['min_compare_price_version'] }}#}
        {#                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}#}
        {#                            ~ {{ product['max_compare_price_version'] }}#}
        {#                        {% endif %}#}
        {#                    </del>#}
        {#                {% endif %}#}
        {#                {% endif %}#}
        {#            </div>#}
        {#            <div class="summary ckeditor-content">#}
        {#                {{ product['sub_description']|html_entity_decode }}#}
        {#            </div>#}
        {#            <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">#}


        {#                {% if attributes is not empty %}#}
        {#                    {% for attribute in attributes %}#}
        {#                        <div class="choose-attribute d-flex mb-2">#}
        {#                            <label class="font-weight-400 sixth-color w-20 align-self-center">{{ attribute['attribute_name'] }}:</label>#}
        {#                            <div class="flex-fill">#}
        {#                                {% for key,attribute_text in attribute['attribute_text'] %}#}
        {#                                    <div class="attr-item d-inline-block mr-1">#}
        {#                                        <input class="d-none" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"#}
        {#                                               value="{{ attribute_text }}">#}
        {#                                        <label class="m-0 py-2 font-12 px-3" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>#}
        {#                                    </div>#}
        {#                                {% endfor %}#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                {% endif %}#}

        {#                <input type="hidden" name="product_id" value="{{ product['product_id'] }}">#}
        {#                <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">#}
        {#                <div class="d-flex w-75 quantity" style="margin-top: 24px;">#}
        {#                    <input type="number" min="1" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" step="1" max="9999" class="form-control mr-3 w-15 border-light bg-white" value="1" style="width: 95px!important;text-align: center;">#}
        {#                    <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="flex-fill btn btn-outline-secondary bg-white main-color border-light {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} second-color-hover {% endif %}"><i class="icon icon-cart mr-3"></i>Thêm vào giỏ hàng</button>#}
        {#                    <div class="quantity-nav">#}
        {#                        <div class="quantity-button quantity-up">+</div>#}
        {#                        <div class="quantity-button quantity-down">-</div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="w-75 flex-fill btn btn-outline-secondary main-bg text-white text-white py-3 text-uppercase my-3 mb-4"><i class="icon icon-cart mr-3 bg-white"></i>Mua hàng ngay</button>#}
        {#            </form>#}
        {#            <div class="d-flex mb-3">#}
        {#                <span class="w-20 font-weight-500 more-info-product">Loại sản phẩm:</span>#}
        {#                {% if categories is not empty %}#}
        {#                    {% for k,category in categories %}#}
        {#                        <a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}#}
        {#                    {% endfor %}#}
        {#                {% endif %}#}
        {#            </div>#}
        {#            <div class="d-flex mb-3">#}
        {#                <span class="w-20 font-weight-500 more-info-product">Tag:</span>#}
        {#                {% if tags is not empty %}#}
        {#                    <span class="sixth-color">#}
        {#                        {% for tag in tags %}#}
        {#                            {{ tag['name'] }}{% if tags|length != k+1 %}, {% endif %}#}
        {#                        {% endfor %}#}
        {#                    </span>#}
        {#                {% endif %}#}
        {#            </div>#}
        {#            <div class="d-flex mb-3">#}
        {#                <span class="w-20 more-info-product font-weight-500">Chia sẻ:</span>#}
        {#                <a class="mr-4" href="https://plus.google.com/share?url={{ current_url|raw }}"><i class="icon icon-google-plus sixth-bg"></i></a>#}
        {#                <a class="mr-4" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|raw }}"><i class="icon icon-fb-single sixth-bg"></i></a>#}
        {#                <a class="mr-4" href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_ur|raw }}"><i class="icon icon-twitter sixth-bg"></i></a>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div> <!-- End node-right -->#}

        {#    <div class="col-12 col-md-12">#}
        {#        <ul class="nav nav-tabs" id="product-info-tab" role="tablist">#}
        {#            <li class="nav-item">#}
        {#                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Chi tiết</a>#}
        {#            </li>#}
        {#            <li class="nav-item d-flex">#}
        {#            <a class="nav-link align-self-end" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Đánh giá (6)</a>#}
        {#            </li>#}
        {#        </ul>#}
        {#        <div class="tab-content" id="myTabContent">#}
        {#            <div class="tab-pane fade show active py-4" id="info" role="tabpanel" aria-labelledby="info-tab">#}
        {#                <div class="third-bg p-4 ckeditor-content">#}
        {#                    {{ product['description']|html_entity_decode }}#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="tab-pane fade py-5" id="comment" role="tabpanel" aria-labelledby="comment-tab">#}
        {#                <form>#}
        {#                    <div class="form-group d-flex">#}
        {#                        <span class="third-color text-uppercase w-20">Xếp hạng:</span>#}
        {#                        <div class="product-rating m-0 font-16">#}
        {#                            <span class="rate-item on"></span>#}
        {#                            <span class="rate-item on"></span>#}
        {#                            <span class="rate-item on"></span>#}
        {#                            <span class="rate-item"></span>#}
        {#                            <span class="rate-item"></span>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="form-group d-flex">#}
        {#                        <span class="third-color text-uppercase w-20 py-1">Bình luận:</span>#}
        {#                        <div class="flex-fill">#}
        {#                            <div class="form-group form-row">#}
        {#                                <div class="col-6">#}
        {#                                    <input type="text" class="form-control border-light" placeholder="Họ và tên*">#}
        {#                                </div>#}
        {#                                <div class="col-6">#}
        {#                                    <input type="text" class="form-control border-light" placeholder="Số điện thoại*">#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <textarea type="text" class="form-control border-light" placeholder="Nội dung bình luận" rows="4"></textarea>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <button class="btn fifth-bg btn-outline-secondary text-white px-4 py-2 text-uppercase float-right" type="submit">Gửi</button>#}
        {#                </form>#}
        {#            </div>#}
        {#        </div>#}
        {#    </div>#}
        {#</div> <!-- End row -->#}
        {#{% if related_product_visible %}#}
        {#    <section class="block-relate-product pt-3 mb-5 bestme-block-product-related-product">#}
        {#        <div class="container">#}
        {#            <div class="row">#}
        {#                <h2 class="block-title header-font mb-4 pt-3">{{ related_product_title }}</h2>#}
        {#            </div>#}
        {#            <div class="block-content row" style="margin-left: -30px; margin-right: -30px;">#}
        {#                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-number-item="{{ related_products_display_grid_quantity }}">#}
        {#                    {% for product in related_products %}#}
        {#                        <div class="slide-item">#}
        {#                            <div class="product-item">#}
        {#                                <div class="product-info">#}
        {#                                    <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>#}
        {#                                    <div class="product-highlight">#}
        {#                                        {% if product['percent_sale'] is not empty %}#}
        {#                                        <span class="sale">{{ product['percent_sale'] }}</span>#}
        {#                                        {% endif %}#}
        {#                                        {% if product['product_is_stock'] == false %}#}
        {#                                            <span class="status">hết</span>#}
        {#                                        {% endif %}#}
        {#                                    </div>#}
        {#                                    <div class="product-img">#}
        {#                                        <a href="{{ product['href'] }}">#}
        {#                                            <img src="{{ product['thumb'] }}" alt="">#}
        {#                                        </a>#}
        {#                                    </div>#}
        {#                                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}#}
        {#                                        {% if product['max_price_version'] is null %}#}
        {#                                            <span class="product-price">{{ product['compare_price_master'] }}</span>#}
        {#                                        {% else %}#}
        {#                                            <span class="product-price">#}
        {#                                                {{ product['min_compare_price_version'] }}#}
        {#                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}#}
        {#                                                    ~ {{ product['max_compare_price_version'] }}#}
        {#                                                {% endif %}#}
        {#                                            </span>#}
        {#                                        {% endif %}#}
        {#                                    {% else %}#}
        {#                                    {% if product['max_price_version'] is null %}#}
        {#                                        <span class="product-price">{{ product['price_master'] }}</span>#}
        {#                                    {% else %}#}
        {#                                        <span class="product-price">#}
        {#                                            {{ product['min_price_version'] }}#}
        {#                                            {% if product['max_price_version'] != product['min_price_version'] %}#}
        {#                                                ~ {{ product['max_price_version'] }}#}
        {#                                            {% endif %}#}
        {#                                        </span>#}
        {#                                    {% endif %}#}
        {#                                    {% if product['max_compare_price_version'] is null %}#}
        {#                                        <span class="product-price-sale">{{ product['compare_price_master'] }}</span>#}
        {#                                    {% else %}#}
        {#                                        <span class="product-price-sale">#}
        {#                                            {{ product['min_compare_price_version'] }}#}
        {#                                            {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}#}
        {#                                                ~ {{ product['max_compare_price_version'] }}#}
        {#                                            {% endif %}#}
        {#                                        </span>#}
        {#                                    {% endif %}#}
        {#                                    {% endif %}#}
        {#                                </div>#}
        {#                                <div class="product-preview">#}
        {#                                    <a href="{{ product['href'] }}" class="cart-btn text-center">Thêm vào giỏ hàng</a>#}
        {#                                </div>#}
        {#                            </div> <!-- End Pro Item -->#}
        {#                        </div> <!-- End slide-item -->#}
        {#                        <!-- End Pro Item -->#}
        {#                    {% endfor %}#}

        {#                </div>#}
        {#            </div> <!-- End block-content -->#}
        {#        </div> <!-- End container -->#}
        {#    </section> <!-- End block-relate-product -->#}
        {#{% endif %}#}
    
        <div class="row">
            <div class="col-12 col-md-3 left-navigation">
                {% if visible_collection == 1 %}
                    <div class="box-product-filter rounded-2 border px-4" id="product-category">
                        <h2 class="block-title">{{ visible_collection_title }}</h2>
                        <nav class="nav flex-column">
                            {% for collection in collections %}
                                <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}">{{ collection.name }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product collection -->
                    {% endif %}
                {% if visible_category == 1 %}
                    <div class="box-product-filter rounded-2 border px-4" id="product-category">
                        <h2 class="block-title">{{ visible_category_title }}</h2>
                        <nav class="nav flex-column">
                            {% for category in categorys %}
                                <a href="{{ category.url }}" class="nav-link {{ filter_category_id == category.category_id ? 'active' : '' }}">{{ category.name }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product category -->
                {% endif %}
                            {#<h2 class="block-title text-center">{{ visible_supplier_title }}</h2>#}
                            {#{% for manufacturer in manufacturers %}#}
                               {#<a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>#}
                            {#{% endfor %}#}
            {#section product-secondary-right#}
                <div class="product-col-tilte">
                    <h5 class="py-3 m-0 font-18">SẢN PHẨM BÁN CHẠY</h5>
                </div> 
                <div class="m-0 w-100 mb-5" id="difflist-hot-products">
                    <div id="product-secondary-right" style="overflow: auto; height: 500px"></div>
                </div>    
                {#<div class="card my-3 d-none d-md-block">#}
                {#    <div style="background-image: url({{ theme_directory }}/img/shop-banner-bgt.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 450px"></div>#}
                {#    <div class="card-img-overlay text-center mt-4">#}
                {#        <h1 class="card-title font-40">ƯU ĐÃI ĐẶC BIỆT</h1>#}
                {#        <p class="card-text font-20"><strong>TRANG TRÍ NỘI THẤT</strong></p>#}
                {#        <button type="button" class="product-button-bg font-22">SHOP NOW</button>#}
                {#    </div>#}
                {#</div>#}
            </div> 
        {#section product-secondary-right#}
        
            <div class="col-12 col-md-9 info-right">
                
                <div class="product-teaser-fix">
                    <div class="container">
                        <div class="d-flex">
                            <span class="font-weight-500 align-self-center">{{ product['name'] }}  -  <span
                                        class="second-color">
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                            {% if product['max_price_version'] is null %}
                                <span class="price-main font-weight-bold mr-2">{{ product['compare_price_master'] != '0 VND' ? product['compare_price_master'] : '' }}</span>
                            {% else %}
                                <span class="price-main font-weight-bold mr-2">
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        {% else %}
                        {% if product['max_price_version'] is null %}
                            <span class="price-main font-weight-bold mr-2">{{ product['price_master'] != '0 VND' ? product['price_master'] : '' }}</span>
                        {% else %}
                            <span class="price-main font-weight-bold mr-2">
                                {{ product['min_price_version'] }}
                                {% if product['max_price_version'] != product['min_price_version'] %}
                                    ~ {{ product['max_price_version'] }}
                                {% endif %}
                            </span>
                        {% endif %}
                        {% if product['max_compare_price_version'] is null %}
                            <del class="price-second mt-2 font-weight-400 pb-2 text-dark">{{ product['compare_price_master'] }}</del>
                        {% else %}
                            <del class="price-second mt-2 font-weight-400 pb-2 text-dark">
                                {{ product['min_compare_price_version'] }}
                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                    ~ {{ product['max_compare_price_version'] }}
                                {% endif %}
                            </del>
                        {% endif %}
                        {% endif %}</span></span>
                            <div class="ml-auto d-flex">
                                {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        {% if product['compare_price_master'] != 0 %}
                                            <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light add-to-cart-action-checkout btn-add btn-cart-product-detail"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>
                                            <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0 btn-add btn-cart-add-product-detail">Mua ngay</button>
                                        {% else %}
                                            <button type="button" class="w-100 flex-fill btn btn-outline-secondary btn-add bg-white main-color border-light d-none2 d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                        {% endif %}
                                    {% else %}
                                        <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light add-to-cart-action-checkout btn-add btn-cart-product-detail"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>
                                        <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0 btn-add btn-cart-add-product-detail">Mua ngay</button>
                                    {% endif %}
                                {% else %}
                                    <button type="button" class="w-100 flex-fill btn btn-outline-secondary btn-add bg-white main-color border-light btn-cart-contact-product-detail d-none d-md-block hide" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                    
                                    <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light add-to-cart-action-checkout btn-add btn-cart-product-detail"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>
                                    <button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0 btn-add btn-cart-add-product-detail">Mua ngay</button>
                                {% endif %}
                                
                                {#<button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} onclick="cart.add('{{ product['product_id'] }}')" class="button_buy flex-fill btn btn-outline-secondary bg-white mr-3 main-color second-color-hover border-light font-20"><i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</button>#}
                                {#<button href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="button_buying btn btn-outline-secondary main-bg text-white border-0">Mua ngay</button>#}
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row mb-4 product-detail"> 
                
                    <div class="col-12 col-md-5 node-left">
                        <div class="py-4">
                            <div class="carousel" id="slider">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product-detail" data-limit-mobile="1">
                                    {% if product_images is not empty %}
                                        {% for k,image in product_images %}
                                            <div data-hash="product-{{ k }}" class="border-img"><img class="" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                                        {% endfor %}
                                    {% else %}
                                        <div data-hash="product-1"><img class="" src="{{ product_empty }}" alt=""></div>
                                    {% endif %}
                                </div>
                            </div> <!-- End slider -->
                            <div id="carousel" class="owl-thumb px-4">
                                <div class="owl-carousel owl-theme owl-review owl-product-thumb owl-loaded owl-drag mt-2">
                                    {% if product_images is not empty %}
                                        {% for k,image in product_images %}
                                            <a href="{{ current_url_href }}#product-{{ k }}" class=""><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="{{ current_url_href }}#product-1"><img class="img-fluid" src="{{ product_empty }}" alt=""></a>
                                    {% endif %}
                                </div>
                            </div> <!-- End slider thumb -->
                        </div>
                    </div> <!-- End node-left -->
            
                    <div class="col-12 col-md-7 node-right">
                        <div class="py-4">
                                <h1 class="page-title font-24 text-capitalize font-weight-bold">{{ product['name'] }}</h1>
                                <div class="d-flex mb-3">
                                    <span class="block-status">Tình trạng:
                                        {% if product['product_is_stock'] %}
                                            <span class="ml-3 second-color font-weight-300">Còn hàng</span>
                                                {% else %}
                                            <span class="ml-3 second-color font-weight-500">Hết hàng</span>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="price mb-3 price-border">
                                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                        {% if product['max_price_version'] is null %}
                                            {% if product['compare_price_master'] != 0 %}
                                                <p class="font-24 font-weight-bold mr-4 second-color">{{ product['compare_price_master'] }}</p>
                                            {% else %}
                                                <span class="font-24 font-weight-bold mr-4 second-color"></span> {#BESTME dunght: remove text: Liên hệ#}
                                            {% endif %}
                                        {% else %}
                                            <p class="font-24 font-weight-bold mr-4 second-color">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    {% else %}
                                        {% if product['max_price_version'] is null %}
                                            <del class="font-16 fifth-color mt-2 font-weight-400">{{ product['compare_price_master'] }}</del>
                                        {% else %}
                                            <span class="font-24 font-weight-bold mr-4 second-color">
                                                {{ product['min_price_version'] }}
                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                    ~ {{ product['max_price_version'] }}
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        {% if product['max_compare_price_version'] is null %}
                                            <p class="font-24 font-weight-bold mr-4 second-color">{{ product['price_master'] }}</p>
                                        {% else %}
                                            <del class="font-16 fifth-color mt-2 font-weight-400">
                                                {{ product['min_compare_price_version'] }}
                                                {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                    ~ {{ product['max_compare_price_version'] }}
                                                {% endif %}
                                            </del>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="summary ckeditor-content mb-3 text-border">
                                    {{ product['sub_description']|html_entity_decode }}
                                </div>
                                {#<div class="d-flex mb-3">#}
                                    {#{% if categories is not empty %}#}
                                    {#    {% for k,category in categories %}#}
                                    {#        <a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}#}
                                    {#    {% endfor %}#}
                                    {#{% endif %}#}
                                {#</div>#}
                                <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">
            
                                    {% if attributes is not empty %}
                                        {% for attribute in attributes %}
                                            <div class="choose-attribute d-block d-md-flex mb-2">
                                                <label class="font-weight-400 sixth-color title-attribute align-self-center mr-0 mr-md-3">{{ attribute['attribute_name'] }}:</label>
                                                <div class="flex-fill">
                                                    {% for key,attribute_text in attribute['attribute_text'] %}
                                                        <div class="attr-item d-inline-block mr-1">
                                                            <input class="d-none" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                                   value="{{ attribute_text }}">
                                                            <label class="m-0 py-2 font-12 px-3" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
            
                                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                                    <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                                    <div class="d-block d-md-flex mb-3">
                                        <p class="align-items-center mb-0 py-2 mr-3">Số lượng:</p>
                                        <div class="d-flex w-75 quantity">
                                            <input type="number" id="input-amount-add-to-cart" min="1" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" name="quantity" step="1" max="9999" class="form-control mr-3 w-15 border-light bg-white" value="1" style="width: 95px!important;text-align: center;">
                                            <div class="quantity-nav">
                                                <div class="quantity-button quantity-up">+</div>
                                                <div class="quantity-button quantity-down">-</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                    {% if product['max_price_version'] is null %}
                                        {% if product['compare_price_master'] != 0 %}
                                            <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="w-100 flex-fill mt-4 btn btn-outline-secondary btn-add mt-2 bg-white main-color border-light d-none d-md-block add-to-cart-action-checkout {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} second-color-hover {% endif %}"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                            <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="w-100 flex-fill btn btn-outline-secondary btn-submit text-white py-2 text-uppercase my-3 mb-4 d-none d-md-block" style="background: #1559B6">Mua Ngay</button>
                                        {% else %}
                                            <button type="button" class="w-100 flex-fill mt-4 btn btn-outline-secondary btn-add mt-2 bg-white main-color border-light d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="w-100 flex-fill mt-4 btn btn-outline-secondary btn-add mt-2 bg-white main-color border-light d-none d-md-block add-to-cart-action-checkout {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} second-color-hover {% endif %}"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="w-100 flex-fill btn btn-outline-secondary btn-submit text-white py-2 text-uppercase my-3 mb-4 d-none d-md-block" style="background: #1559B6">Mua Ngay</button>
                                    {% endif %}
                                {% else %}
                                    {#{% if product['max_price_version'] is null %}#}
                                    {#    {% if product['price_master'] != 0 %}#}
                                    {#        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>#}
                                    {#        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block">Mua hàng ngay</button>#}
                                    {#    {% else %}#}
                                    {#        <button type="button" class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>#}
                                    {#    {% endif %}#}
                                    {#{% else %}#}
                                    {#    {% if product['min_price_version'] != 0 %}#}
                                    {#        <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} {% endif %}"><i class="fas fa-shopping-bag mr-2"></i>Thêm vào giỏ hàng</button>#}
                                    {#        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block">Mua hàng ngay</button>#}
                                    {#    {% else %}#}
                                    {#        <button type="button" class="btn btn-outline-secondary btn-submit my-1 text-white add-to-cart-action-checkout d-none d-md-block" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>#}
                                    {#    {% endif %}#}
                                    {#{% endif %}#}
                                    
                                    <button type="button" class="w-100 flex-fill mt-4 btn btn-outline-secondary btn-add mt-2 bg-white main-color border-light btn-cart-contact-product-detail d-none d-md-block hide" data-toggle="modal" data-target="#modal-buy">Liên hệ</button>
                                    
                                    <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="btn-cart-add-product-detail w-100 flex-fill mt-4 btn btn-outline-secondary btn-add mt-2 bg-white main-color border-light d-none d-md-block add-to-cart-action-checkout {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} second-color-hover {% endif %}"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                    <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="btn-cart-product-detail w-100 flex-fill btn btn-add btn-outline-secondary btn-submit text-white py-2 text-uppercase my-3 mb-4 d-none d-md-block" style="background: #1559B6">Mua Ngay</button>
                                {% endif %}
                                
                                        {#<button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}  onclick="cart.add('{{ product['product_id'] }}')" class="d-none d-md-block w-100 flex-fill btn main-color border-light text-uppercase font-20 {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %}  {% else %} second-color-hover {% endif %}"><i class="icon icon-cart mr-3"></i>Thêm vào giỏ hàng</button>#}
                                        {#<button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %} class="d-none d-md-block w-100 flex-fill btn text-white text-white py-3 text-uppercase my-3 mb-4"><i class="icon icon-cart mr-3 bg-white"></i>Mua hàng ngay</button>#}
                                </form>
                                {#<div class="d-flex mb-3">#}
                                {#    <span class="w-20 font-weight-500 more-info-product">Loại sản phẩm:</span>#}
                                {#    {% if categories is not empty %}#}
                                {#        {% for k,category in categories %}#}
                                {#            <a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}#}
                                {#        {% endfor %}#}
                                {#    {% endif %}#}
                                {#</div>#}
                                {#<div class="d-flex mb-3">#}
                                {#    <span class="w-20 font-weight-500 more-info-product">Tag:</span>#}
                                {#    {% if tags is not empty %}#}
                                {#        <span class="sixth-color">#}
                                {#            {% for tag in tags %}#}
                                {#                {{ tag['name'] }}{% if tags|length != k+1 %}, {% endif %}#}
                                {#            {% endfor %}#}
                                {#        </span>#}
                                {#    {% endif %}#}
                                {#</div>#}
                                {#<div class="d-flex mb-3">#}
                                {#    <span class="w-20 more-info-product font-weight-500">Chia sẻ:</span>#}
                                {#    <a class="mr-4" href="https://plus.google.com/share?url={{ current_url|raw }}"><i class="icon icon-google-plus sixth-bg"></i></a>#}
                                {#    <a class="mr-4" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|raw }}"><i class="icon icon-fb-single sixth-bg"></i></a>#}
                                {#    <a class="mr-4" href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_ur|raw }}"><i class="icon icon-twitter sixth-bg"></i></a>#}
                                {#</div>#}
                            </div>
                    </div> <!-- End node-right -->
                        
                    <div class="col-12 col-md-12">
                            <ul class="nav nav-tabs pb-1" id="product-info-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="font-18 active ml-0 mr-4 pr-4" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Mô tả sản phẩm</a>
                                </li>
                                {#<li class="nav-item d-flex">#}
                                {#    <a class="font-18 align-self-end" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Đánh giá (6)</a>#}
                                {#</li>#}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                    <div class="p-4 ckeditor-content">
                                        {{ product['description']|html_entity_decode }}
                                    </div>
                                </div>
                                {#<div class="tab-pane fade py-5" id="comment" role="tabpanel" aria-labelledby="comment-tab">#}
                                {#    <form>#}
                                {#        <div class="form-group d-flex">#}
                                {#            <span class="third-color text-uppercase w-20">Xếp hạng:</span>#}
                                {#            <div class="product-rating m-0 font-16">#}
                                {#                <span class="rate-item on"></span>#}
                                {#                <span class="rate-item on"></span>#}
                                {#                <span class="rate-item on"></span>#}
                                {#                <span class="rate-item"></span>#}
                                {#                <span class="rate-item"></span>#}
                                {#            </div>#}
                                {#        </div>#}
                                {#        <span class="third-color text-uppercase w-20 py-1">Viết bình luận</span>#}
                                {#        <div class="form-group d-flex">#}
                                {#            <span class="third-color text-uppercase w-20 py-1">Viết bình luận</span>#}
                                {#            <div class="flex-fill">#}
                                {#                <div class="form-group form-row">#}
                                {#                    <div class="col-6">#}
                                {#                        <input type="text" class="form-control border-light" placeholder="Họ và tên*">#}
                                {#                    </div>#}
                                {#                    <div class="col-6">#}
                                {#                        <input type="text" class="form-control border-light" placeholder="Số điện thoại*">#}
                                {#                    </div>#}
                                {#                </div>#}
                                {#                <textarea type="text" class="form-control border-light" placeholder="Nội dung bình luận" rows="4"></textarea>#}
                                {#                <button class="btn fifth-bg btn-outline-secondary text-white px-4 py-2 text-uppercase float-right" type="submit">Gửi</button>#}
                                {#            </div>#}
                                {#        </div>#}
                                {#    </form>#}
                                {#    <div class="card mb-3">#}
                                {#        <div class="row no-gutters">#}
                                {#            <div class="col-md-4">#}
                                {#                <img src="{{ theme_directory }}/img/home-jacquard-loom.png">#}
                                {#            </div>#}
                                {#            <div class="col-md-8">#}
                                {#                <div class="card-body">#}
                                {#                    <h5 class="card-title">Lê thúy Hằng</h5>#}
                                {#                    <p class="card-text"><small class="text-muted">#}
                                {#                        <i class="fas fa-star"></i></small>#}
                                {#                        <i class="fas fa-star"></i></small>#}
                                {#                        <i class="fas fa-star"></i></small>#}
                                {#                        <i class="fas fa-star"></i></small>#}
                                {#                        <i class="fas fa-star"></i></small>#}
                                {#                    </p>#}
                                {#                </div>#}
                                {#            </div>#}
                                {#        </div>#}
                                {#    </div>#}
                                {#</div>#}
                            </div>
                        </div>
                        
                </div> <!-- End row -->
                {% if related_product_visible %}
                    <section class="row block-relate-product p-3 mb-5 bestme-block-product-related-product block-product">
                        <div class="container">
                            <div class="row">
                                <h2 class="block-title header-font pt-3">{{ related_product_title }}</h2>
                            </div>
                            <div class="block-content row" style="margin-left: -30px; margin-right: -30px;">
                                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product owl-relate-product" data-limit-inline="{{ related_products_display_grid_quantity }}" data-limit-mobile="{{ related_products_display_grid_mobile_quantity }}"
                                     data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                                    {% for product in related_products %}
                                        <div class="slide-item">
                                            <div class="product-item">
                                                <div class="product-info">
                                                    <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                                    <div class="product-highlight">
                                                        {% if product['percent_sale'] is not empty %}
                                                        <span class="sale">{{ product['percent_sale'] }}</span>
                                                        {% endif %}
                                                        {% if product['product_is_stock'] == false %}
                                                            <span class="status">hết</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="product-img">
                                                        <a href="{{ product['href'] }}">
                                                            <img src="{{ product['thumb'] }}" alt="">
                                                        </a>
                                                    </div>
                                                    {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                                {% if product['compare_price_master'] != 0 %}
                                                                    {% if product['max_compare_price_version'] == 0 %}
                                                                        <span class="product-price">
                                                                            {% if product['max_price_version'] is null %}
                                                                                <span class="price">{{ product['compare_price_master'] }}</span>
                                                                            {% else %}
                                                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </span>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <span class="product-price">
                                                                        <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                                    </span>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if product['max_compare_price_version'] == 0 %}
                                                                        <strike class="product-price-sale">
                                                                            {% if product['max_compare_price_version'] is null %}
                                                                                <span class="price">{{ product['compare_price_master'] }}</span>
                                                                            {% else %}
                                                                                <span class="price">{{ product['min_compare_price_version'] }}</span>
                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                    ~ <span class="price">{{ product['max_compare_price_version'] }}</span>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </strike>
                                                                        <span class="product-price">
                                                                            {% if product['max_price_version'] is null %}
                                                                                <span class="price">{{ product['price_master'] }}</span>
                                                                            {% else %}
                                                                                <span class="price">{{ product['min_price_version'] }}</span>
                                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                                    ~ <span class="price">{{ product['max_price_version'] }}</span>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </span>
                                                                {% else %}
                                                                    <span class="product-price">
                                                                        <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                                    </span>
                                                                {% endif %}
                                                            {% endif %}
                                                </div>
                                                <div class="product-preview">
                                                    
                                                    {#{% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}#}
                                                    {#    {% if product['compare_price_master'] != 0 %}#}
                                                    {#        {% if product['max_compare_price_version'] == 0 %}#}
                                                    {#            <div class="product-link-detail text-center">#}
                                                    {#                <a href="{{ product['href'] }}" class="cart-btn text-center font-18 p-2 m-2"><i class="fas fa-shopping-cart"></i></a>#}
                                                    {#                <a href="{{ product['href'] }}" class="cart-btn text-center font-18 p-2 m-2"><i class="fas fa-search"></i></a>#}
                                                    {#            </div>#}
                                                    {#        {% else %}#}
                                                    {#            <div class="product-link-detail text-center">#}
                                                    {#                <a class="cart-btn" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>#}
                                                    {#            </div>#}
                                                    {#        {% endif %}#}
                                                    {#    {% else %}#}
                                                    {#        <div class="product-link-detail text-center">#}
                                                    {#            <a class="cart-btn" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>#}
                                                    {#        </div>#}
                                                    {#    {% endif %}#}
                                                    {#{% else %}#}
                                                    {#    {% if product['max_compare_price_version'] == 0 %}#}
                                                    {#        <div class="product-link-detail text-center">#}
                                                    {#            <a href="{{ product['href'] }}" class="cart-btn text-center font-18 p-2 m-2"><i class="fas fa-shopping-cart"></i></a>#}
                                                    {#            <a href="{{ product['href'] }}" class="cart-btn text-center font-18 p-2 m-2"><i class="fas fa-search"></i></a>#}
                                                    {#        </div>#}
                                                    {#    {% else %}#}
                                                    {#        <div class="product-link-detail text-center">#}
                                                    {#            <a class="cart-btn" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>#}
                                                    {#        </div>#}
                                                    {#    {% endif %}#}
                                                    {#{% endif %}#}
                                                    
                                                    <div class="product-link-detail text-center">
                                                        <a href="{{ product['href'] }}" class="cart-btn text-center font-18 p-2 m-2"><i class="fas fa-shopping-cart"></i></a>
                                                        <a href="{{ product['href'] }}" class="cart-btn text-center font-18 p-2 m-2"><i class="fas fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div> <!-- End Pro Item -->
                                        </div> <!-- End slide-item -->
                                        <!-- End Pro Item -->
                                    {% endfor %}
                                </div>
                            </div> <!-- End block-content -->
                        </div> <!-- End container -->
                    </section> <!-- End block-relate-product -->
                {% endif %}
            </div>
        </div>
    </div>
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>
<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    // BESTME dunght
    $('body').on('click', '.button_buy', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert('Sản phẩm hết hàng');
        }
    });
    // End - BESTME dunght
    
    $('body').on('click', '.button_buying', function () {
        if (jQuery(this).attr('data-status') == "disabled") {
            alert('Sản phẩm hết hàng');
        } else {
            $('#add-to-cart').submit();
        }
    });

    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart button, button.btn-add-cart-header').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.action-cart a .count').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.buy-now-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>

{{ footer }}
