/* $MAIN_COLOR$ */
.main-color {
    background-color: $MAIN_COLOR$ !important;
}

.header-color {
    color: $MAIN_COLOR$;
}

.content-font:hover a {
    color: $MAIN_COLOR$ !important;
}

#block-header-top .block-header-top .list-link-top li a:hover {
    color: $MAIN_COLOR$;
}

#block-header-top .block-header-top .list-link-top li .sub-dropdown li a:hover {
    background: $MAIN_COLOR$;
}

#block-cate-search-cart .block-category .ttl-category {
    background: $MAIN_COLOR$;
}

#block-cate-search-cart .block-category .list-category {
    border: 1px solid $MAIN_COLOR$;
}

#block-cate-search-cart .block-category .list-category li a:hover {
    color: $MAIN_COLOR$;
}

#block-cate-search-cart .block-header-search .form-group .form-control:focus {
    border-color: $MAIN_COLOR$;
}

#block-cate-search-cart .block-header-search .form-group .btn-search {
    background: $MAIN_COLOR$;
}

#block-cate-search-cart .block-header-cart a {
    background: $MAIN_COLOR$;
}

.block-header-menu .main-menu ul li a:hover {
    color: $MAIN_COLOR$;
}

.block-header-menu .main-menu ul li .sub-menu li ul li:hover > a {
    color: $MAIN_COLOR$ !important;
}

.block-header-menu .main-menu ul li .sub-menu li:hover svg path {
    fill: $MAIN_COLOR$ !important;
}

.block-header-menu .main-menu ul li .sub-menu li:hover a {
    color: $MAIN_COLOR$;
}

.block-header-menu .main-menu ul .active a {
    color: $MAIN_COLOR$;
}

.block-header-menu .main-menu ul .active .accodition path fill {
    color: $MAIN_COLOR$ !important;
}

.block-footer {
    background: $MAIN_COLOR$;
}

.block-footer .widget-footer .contact-item a:hover {
    color: $MAIN_COLOR$;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.block-footer .widget-footer ul li a:hover {
    color: $MAIN_COLOR$;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.block-footer .widget-footer form .form-group .btn-submit {
    background: $MAIN_COLOR$;
}

.block-footer .copy-right a:hover {
    color: $MAIN_COLOR$;
}

@media (max-width: 768px) {
    .block-header-menu .main-menu ul li a:hover {
        color: $MAIN_COLOR$;
    }

    .block-header-menu .main-menu ul li svg path {
        fill: $MAIN_COLOR$;
    }
}

.block-header-action .cart-mobile span.number {
    background: $MAIN_COLOR$;
}

.block-search-fixed .form-control:focus {
    border-color: $MAIN_COLOR$;
}

.pagination li a:hover {
    background: $MAIN_COLOR$;
}

.pagination li .active {
    background: $MAIN_COLOR$;
}

.ttl-Base01,
.item-product .ttl-product a,
.content-result .sidebar-category .ttl-sidebar,
.text-color,
.block-account-page .block-cart-head h1, .block-cart-page .block-cart-head h1,
.item-product .price-new .price,
.block-pages-productdetail .block-detail .product-name,
.block-pages-productdetail .block-detail .price-wrap .price-new,
.breadcrumb li,
.block-related .header-related h2,
.align-self-center,
.item-product .cart-pro .add-to-cart .btn-add:hover,
.item-product .cart-pro .heart-pro a:hover,
.content-blog .item-blog .ttl-blog a:hover,
.breadcrumb li a:hover,
.content-result .sidebar-category .list-cate li a:hover,
.list-post-news .item-post .read_more:hover,
.content-post-news .date-ad li,
.block-pages-productdetail .block-detail .product-name,
.block-pages-productdetail .block-detail .price-wrap .price-new,
.block-pages-productdetail .block-detail .block-custom-change .change-item .form-check .form-check-input:checked ~ span,
.block-pages-productdetail .block-detail .block-status span,
.block-pages-productdetail .block-detail .block-category-type a:hover,
.block-comment .block-form-rating .form-group-rating .rating .form-group input.star:checked ~ label.star:before,
.block-related .header-related h2,
.block-related .swiper-wrapper .swiper-slide .product-item .product-content .name a:hover,
.block-breadcrumb .breadcrumb a:hover,
.block-account-page .block-table-cart table tbody tr td .cart-product-item .cart-product-info .name a:hover,
.block-cart-page .block-table-cart table tbody tr td .cart-product-item .cart-product-info .name a:hover,
.block-account-page .block-cart-total .item-group strong.price,
.block-cart-page .block-cart-total .item-group strong.price,
.block-succsess-page a,
.block-user-login .user-login .block-left p a,
.block-user-login .user-login .block-right .form-login .form-group a:hover,
.block-address-page .elm-address .user-address .user-address-item .action-address .btn-delete,
.block-address-page .elm-address .user-address .form-payment .action-address .btn-delete,
.custom-selectag-2 .select-items div:hover,
.custom-selectag-2 .same-as-selected,
.block-contact-page .contact-group p a:hover {
    color: $MAIN_COLOR$;
}

.item-product .cart-pro .heart-pro a:hover,
.item-product .cart-pro .heart-pro.active a,
.content-result .sidebar-category #slider-range .ui-slider-handle,
.list-post-news .item-post .read_more,
.block-pages-productdetail .block-detail .block-custom-change .change-item .form-check .form-check-input:checked ~ span,
.block-pages-productdetail .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span {
    border: 1px solid $MAIN_COLOR$;
}

.item-product .cart-pro .heart-pro a:hover svg path,
.item-product .cart-pro .heart-pro.active a svg path,
.block-pages-productdetail .block-detail .block-custom-change .form-action .like-check .form-check-input:checked ~ span svg path,
.block-related .swiper-wrapper .swiper-slide .product-item .thumb-product .product-like .btn-like:hover svg path,
.block-related .swiper-wrapper .swiper-slide .product-item .thumb-product .product-like .active svg path {
    stroke: $MAIN_COLOR$;
    fill: $MAIN_COLOR$;
}

.content-result .sidebar-category #slider-range .ui-widget-header,
.block-pages-productdetail .block-detail .block-custom-change .form-action .btn-buy,
.block-comment .block-form-rating .form-group-rating .btn-submit,
.block-related .swiper-wrapper .swiper-slide .product-item .product-content .action .btn-addcart:hover,
.block-account-page .block-cart-total .item-group .btn-paynow,
.block-cart-page .block-cart-total .item-group .btn-paynow,
.block-user-login .user-login .block-right .form-login .form-group .btn-submit,
.block-user-login .user-login .block-right .form-login .form-group .custom-check input:checked ~ .checkmark,
.block-address-page .elm-address .user-address .form-payment .custom-check input:checked ~ .checkmark {
    background-color: $MAIN_COLOR$;
}

#block-slideshow .item .title-slider a,
.block-pages-productdetail .block-description .nav-tabs .nav-item .active,
.content-result .sidebar-category .list-tag li a:hover,
.list-post-news .item-post .read_more,
#block-slideshow .owl-dots .owl-dot.active span, .block-footer,
.block-pages-productdetail .block-description .nav-tabs .nav-item .active,
{
    background: $MAIN_COLOR$;
}

.content-result .result-search .txt-notification {
    border-top: 2px solid $MAIN_COLOR$;
}

#block-slideshow .item .title-slider a:hover {
    border: 1px solid $MAIN_COLOR$;
    color: $MAIN_COLOR$;
}

/*line 1745. TODO: more...*/

.block-pages-productdetail .block-detail .social ul li a:hover svg path,
.block-account-page .block-table-cart table tbody tr td .btn-close:hover svg path,
.block-cart-page .block-table-cart table tbody tr td .btn-close:hover svg path,
.block-contact-page .contact-group .social ul li a:hover svg path {
    fill: $MAIN_COLOR$;
}

.block-pages-productdetail .block-detail .block-custom-change .form-action .btn-buy,
.block-account-page .block-table-cart table tbody tr td .quantity input::focus,
.block-cart-page .block-table-cart table tbody tr td .quantity input::focus,
.block-account-page .block-cart-total .item-group .btn-paynow,
.block-cart-page .block-cart-total .item-group .btn-paynow,
.block-address-page .elm-address .user-address .form-payment .custom-check input:checked ~ .checkmark,
.block-contact-page .form-feedback .form-group .form-control:focus {
    border-color: $MAIN_COLOR$;
}

/* $BUTTON_COLOR$ */
#block-cate-search-cart .block-header-search .form-group .btn-search,
#block-slideshow .item .title-slider a,
.item-product .cart-pro .add-to-cart .btn-add,
.block-footer .widget-footer form .form-group .btn-submit,
.block-account-page .block-user-infor .btn-setting, .block-cart-page .block-user-infor .btn-setting,
.block-address-page .header-address .btn-add-address,
.block-address-page .elm-address .user-address .user-address-item .action-address .btn-edit,
.block-address-page .elm-address .user-address .form-payment .action-address .btn-edit,
.block-contact-page .form-feedback .btn-submit,
#block-cate-search-cart .block-category .ttl-category,
#block-cate-search-cart .block-header-cart a {
    background: $BUTTON_COLOR$ !important;
}

.item-product .cart-pro .add-to-cart .btn-add {
    border: 1px solid $BUTTON_COLOR$;
}

.block-pages-productdetail .block-detail .block-custom-change .form-action .btn-buy,
.block-account-page .block-cart-total .item-group .btn-paynow, .block-cart-page .block-cart-total .item-group .btn-paynow,
.bg-primary {
    background-color: $BUTTON_COLOR$ !important;
}

.block-pages-productdetail .block-detail .block-custom-change .form-action .btn-buy,
.block-account-page .block-cart-total .item-group .btn-paynow, .block-cart-page .block-cart-total .item-group .btn-paynow {
    border-color: $BUTTON_COLOR$ !important;
}

.block-footer .copy-right {
    background-color: $BUTTON_COLOR$ !important;
}

