{{ header }}

    <div class="block-breadcrumb">
        <div class="container">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="{{ href_home }}">{{ text_home }}</a>
                <a class="breadcrumb-item" href="{{ href_profile }}">{{ text_account }}</a>
                <span class="breadcrumb-item active">{{ setting_address }}</span>
            </nav>
        </div>
    </div>
    <div class="block-address-page">
        <div class="container">
            <div class="header-address">
                <h1 class="header-font text-color">Cài đặt địa chỉ</h1>
                <a class="btn btn-add-address header-font font-10 mt-1  order_quick_view collapsed hidden_edit_address" data-order-id="0" data-toggle="collapse" href="#collapseOrderQuickView-0" aria-expanded="false" aria-controls="collapseOrderQuickView-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0H5V5H0V7H5V12H7V7H12V5H7V0Z"
                              fill="white" />
                    </svg>
                    <span>Thêm địa chỉ</span>
                </a>
            </div>
            <div class="elm-address">
                <div class="user-address" style="box-shadow:none;padding-top: 0px;">
                    <div class="form-address">
                        <div class="form-payment">
                            <div class="collapse" id="collapseOrderQuickView-0">
                                <div class="form-address">
                                    <div class="col-lg-8">
                                        <form id="saveform" class="form-payment" action="" method="post" >
                                            <h6 class="header-font text-color">Thêm mới địa chỉ</h6>
                                            <div class="form-group mb-3">
                                            <div class="input-item full">
                                                <input type="text" id="fullname" name="fullname" required value="" />
                                                <label for="fullname">Họ và Tên</label>
                                            </div>
                                        </div>
                                            <div class="form-group mb-3">
                                                <div class="input-item full">
                                                    <input type="text" id="name" name="phone" required />
                                                    <label for="name">Điện thoại</label>
                                                </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="input-item full">
                                                    <input type="text" id="name" name="address" required />
                                                    <label for="name">Địa chỉ</label>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">

                                                <div class="bs-select">
                                                    <select class="selectpicker" name="city_delivery" title="{{ account_city }}">

                                                    </select>
                                                </div>
                                                <div class="bs-select">
                                                    <select class="selectpicker" name="district_delivery" title="{{ account_district }}">

                                                    </select>
                                                </div>
                                                <div class="bs-select">
                                                    <select class="selectpicker" name="ward_delivery" title="Phường/Xã">

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                            <label class="custom-check" {{ account_infos|length == 0 ? 'style="pointer-events: none"' : '' }}>
                                                <input class="input" type="checkbox" {{ account_infos|length == 0 ? 'checked' : '' }} name="default">Đặt làm địa chỉ mặc định
                                                <span class="checkmark"></span>
                                            </label>
                                            <div class="action-address">
                                                <div id="msg_err"></div>
                                                <button type="submit" name="save" id="save" class="btn btn-edit header-font">Lưu</button>
                                                <button type="button" id="display_form" class="btn btn-delete header-font">bỏ qua</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="elm-address">
                <!-- user address -->
                {% for account_info in account_infos %}
                <div class="user-address">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="user-address-item">
                                <h4 class="name header-font text-color">
                                    <strong>{{ account_info.lastname }} {{ account_info.firstname }}</strong>
                                    <span class="default">{% if account_info.default == account_info.address_id %}(Địa chỉ mặc định) {% endif %}</span>
                                </h4>
                                <div class="desc">
                                    <p>
                                        <span class="type">Địa chỉ:</span>
                                        <span class="ct">{{ account_info.full_address }}</span>
                                    </p>
                                    <p>
                                        <span class="type">điện thoại:</span>
                                        <span class="ct">{{ account_info.phone_number }}</span>
                                    </p>

                                </div>
                                <div class="action-address">
                                    <a class="btn btn-edit header-font font-10 mt-1  order_quick_view collapsed hidden_add_address" data-order-id="{{ account_info.address_id }}" data-toggle="collapse" href="#collapseOrderQuickView-{{ account_info.address_id }}" aria-expanded="false" aria-controls="collapseOrderQuickView-{{ account_info.address_id }}">Sửa </a>
                                    {% if account_info.default != account_info.address_id %}
                                    <button type="button" onclick="delete_address({{ account_info.address_id }})" class="btn btn-delete header-font">xóa</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 form_edit">
                            <div class="collapse" id="collapseOrderQuickView-{{ account_info.address_id }}">
                                <div class="form-address">
                                    <form class="form-payment" action="" id="edit_{{ account_info.address_id }}">
                                        <h6 class="header-font text-color">Chỉnh sửa địa chỉ</h6>
                                        <div class="form-group mb-3">
                                            <div class="input-item full">
                                                <input type="text" id="fullname" name="fullname" required value="{{ account_info.lastname }} {{ account_info.firstname }}" />
                                                <label for="fullname">Họ và Tên</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="input-item full">
                                                <input type="text" id="name" name="phone" required value="{{ account_info.phone_number }}" />
                                                <label for="name">Số điện thoại</label>
                                            </div>
                                        </div>

                                        <div class="form-group mb-3">
                                            <div class="input-item full">
                                                <input type="text" id="name" name="address" required value="{{ account_info.address }}" />
                                                <label for="name">Địa chỉ</label>
                                            </div>
                                        </div>

                                        <div class="form-group mb-3">
                                            <div class="bs-select">
                                                <select class="selectpicker" name="city_delivery" title="Tỉnh / thành">
                                                    {% for province in provincess %}
                                                        <option value="{{ province.code }}" {% if account_info.province == province.code %}selected{% endif %}>{{ province.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="bs-select">
                                                <select class="selectpicker" name="district_delivery" title="Quận / huyện">
                                                    {% for district_vl in account_info.districts_edits_info %}
                                                            <option value="{{ district_vl.code }}" {% if account_info.districts == district_vl.code %}selected{% endif %}>{{ district_vl.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="bs-select">
                                                <select class="selectpicker" name="ward_delivery" title="Phường/xã">
                                                    {% for ward in account_info.ward_edits_info %}
                                                        <option value="{{ ward.code }}" {% if account_info.wards == ward.code %}selected{% endif %}>{{ ward.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <label class="custom-check"  {{ account_info.default == account_info.address_id ? 'style="pointer-events: none"': '' }}>
                                            <input class="input" type="checkbox" {{ account_info.default == account_info.address_id ? 'checked': '' }} name="default">Đặt làm địa chỉ mặc định
                                            <span class="checkmark"></span>
                                        </label>
                                        <div id="msg_err{{ account_info.address_id }}"></div>
                                        <div class="action-address">
                                            <button type="submit" id="saveedit_{{ account_info.address_id }}" class="btn btn-edit header-font">Lưu</button>
                                            <input type="hidden" name="edit_hide" value="1">
                                            <input type="hidden" name="address_id" value="{{ account_info.address_id }}">
                                            <a href="javascript:;" id="display_form_{{ account_info.address_id }}" class="btn btn-delete header-font">bỏ qua</a>
                                        </div>
                                        <script>
                                            $(function () {
                                                $("#saveedit_{{ account_info.address_id }}").click(function(){
                                                    $.ajax({
                                                        type: 'post',
                                                        url: '{{ href_save }}',
                                                        dataType : 'json',
                                                        data: $('form#edit_{{ account_info.address_id }}').serialize(),
                                                        success: function (data) {
                                                            if(data.error_code == 0) {
                                                                location.href = data.href;
                                                            }
                                                            else {
                                                                $("#msg_err{{ account_info.address_id }}").html("<span style='color:red'>" + data.message + "</span>");
                                                            }
                                                        }
                                                    });
                                                    return false;
                                                });

                                                $("#display_form_{{ account_info.address_id }}").click(function(){
                                                    location.reload();
                                                });

                                            });
                                        </script>
                                            </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./user address -->
                {% endfor %}

            </div>
        </div>
    </div>
    <!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $("#display_form").click(function(){
        location.reload();
    });
    $(function () {
        $("#save").click(function(){
            $.ajax({
                type: 'post',
                url: '{{ href_save }}',
                dataType : 'json',
                data: $('form#saveform').serialize(),
                success: function (data) {
                    if(data.error_code == 0) {
                        location.href = data.href;
                    }
                    else {
                        $("#msg_err").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
    function delete_address(id) {
        if (confirm('{{ text_delete }}')) {
            $.ajax({
                url: "{{ href_delete }}",
                type: "POST",
                data: {id : id},
                dataType: "html",
                success: function() {
                    location.reload();
                }
            });

        }
    }
    $(document).ready(function () {
        $(".hidden_add_address").click(function(){
            $(".form_edit").removeClass("d-none");
        });
        $(".hidden_edit_address").click(function(){
            $(".form_edit").addClass("d-none");
        });

        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').change(function () {
            var provinceCode = $(this).find('option:selected').val();
            console.log(provinceCode);
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').change(function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            var selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item.name
                    }));
            });
            selectCityDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces, element) {
            var selectDistrictDeliveryEl = element.closest('.form-group').find('select[name="district_delivery"]');
            var selectWardDeliveryEL = element.closest('.form-group').find('select[name="ward_delivery"]');
            selectDistrictDeliveryEl.html('');
            selectWardDeliveryEL.html('');
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectDistrictDeliveryEl.selectpicker('refresh');
            selectWardDeliveryEL.selectpicker('refresh');
            // for selectpicker
            // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            var selectWardDeliveryEl = element.closest('.form-group').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                    .append($('<option>', {
                        value: item.code,
                        text: item['name_with_type']
                    }));
            });
            selectWardDeliveryEl.selectpicker('refresh');
            // for selectpicker
            // selectWardDeliveryEl.selectpicker('refresh');
        }
    });
</script>

{{ footer }}