{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper" class="">
    <div class="container">

        <div class="row mb-lg-4">
            {% set banners_next_to_slider_visible = banners_visible == '1' and
                ((banners[0] is defined and banners[0]['visible'] == '1')
                or (banners[1] is defined and banners[1]['visible'] == '1')) %}
            <div class="col-12 col-lg-{% if banners_next_to_slider_visible %}8{% else %}12{% endif %} mb-3">
                <div class="home-slider page-slider">
                    <div id="carouselHome" class="carousel slide carousel-slide bestme-block-slideshow" data-ride="carousel" data-interval="{{ slideshow.transition_time }}">
                        <div class="carousel-inner">
                            {% for slide_key, slide in slideshow.slides %}
                            <div class="carousel-item {% if 0 == slide_key %}active{% endif %}">
                                <a href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                    <img src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End: carousel-inner -->
                        <ol class="carousel-indicators">
                            {% for slide_key, slide in slideshow.slides %}
                                <li data-target="#carouselHome" data-slide-to="{{ slide_key }}" class="{% if 0 == slide_key %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <!-- End: carousel-indicators -->
                    </div>
                    <!-- End: carouselHome -->
                </div>
                <!-- End: Home Slider -->
                <div class="bestme_app_after_slide">

                </div>
                {# seo h1 #}
                {% include 'default/template/common/home_seo_h1.twig' %}
                {# end - seo h1 #}
            </div>
            {% if banners_next_to_slider_visible %}
                <div class="col-12 col-lg-4" id="home-banner-wrapper">
                    <div class="mb-lg-0 d-flex flex-wrap h-100">
                        {% if banners[0] is defined and banners[0]['visible'] == '1' %}
                            <a href="{{ banners[0]['url'] }}" target="_blank" class="mb-3 w-100" title="{{ banners[0]['description'] }}">
                                <img src="{{ banners[0]['image-url'] }}" width="100%" alt="{{ banners[0]['description'] }}" class="bestme-block-banner-1">
                            </a>
                        {% endif %}
                        {% if banners[1] is defined and banners[1]['visible'] == '1' %}
                            <a href="{{ banners[1]['url'] }}" target="_blank" class="align-self-end w-100 mb-3" title="{{ banners[1]['description'] }}">
                                <img src="{{ banners[1]['image-url'] }}" width="100%" alt="{{ banners[1]['description'] }}" class="bestme-block-banner-2">
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if display_customizes %}
        <!-- Support section -->
        <div class="bg-primary mb-3 mb-lg-4 p-3 fz-lg-20 fz-10 bestme-block-content-customize">
            <div class="row row-cols-{{ display_customizes|length > 4 ? 4 : display_customizes|length }}">
                {% for contents in display_customizes %}
                    {% if contents['type'] == 'fixed' %}
                        <div class="col d-flex justify-content-center">
                            <img src="{{ contents['content']['icon'] }}" alt="{{ contents['content']['title'] }}" class="customize-content-image align-self-center">
                            <span class="align-self-center ml-lg-4 ml-2 flex-wrap d-flex">
                                {{ contents['content']['title'] }}
                            </span>
                        </div>
                    {% else %}
                        <div class="col d-flex justify-content-center customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                    {% endif %}
                    <!-- End: Banner Item -->
                {% endfor %}
            </div>
            <!-- End row -->
        </div>
        <!-- End: Support section -->
        {% endif %}

        <div class="row mb-3 box-collection">
            {% for k, block in blocks if k < 3 %}
                <div class="col-12 col-lg-4 mb-3">
                    <div class="row collection-item h-100 p-3 bg-second m-0 {{ block['bestme_block_preview_class'] }}">
                        {% if block['current_collection_image'] is not empty %}
                            <div class="col align-items-center d-flex">
                                <a href="{{ block['view_more'] }}">
                                    <img src="{{ block['current_collection_image'] }}" alt="{{ block['title'] }}">
                                </a>
                            </div>
                        {% endif %}
                        <div class="col justify-content-center align-items-center d-flex h-100 px-0">
                            <div class="text-center">
                                <p class="mb-2 fz-20"><span class="fw-500">{{ block['title'] }}</span></p>
                                <a href="{{ block['view_more'] }}" class="btn btn-primary fz-16 fw-600 px-4 py-2">
                                    <span class="py-1 d-block">Xem ngay</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- End box-collection -->

        <!-- Box Products -->
        {% set rows_per_slide = is_on_mobile ? 3 : 1 %}
        {% for k, block in blocks if k > 2 %}
            {% set items_per_slide = block['grid'] * rows_per_slide %}
            {% if block['collections'] is not empty %}
                <div class="box-product with-tab block-sale-off-product mb-3 {{ block['bestme_block_preview_class'] }}">
                    <div class="d-flex flex-wrap border-lg-bottom">
                        <h2 class="box-title align-self-center border-bottom border-lg-bottom-0 w-100 w-lg-auto">
                            <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
                        </h2>
                        <ul class="nav nav-tabs align-self-center flex-nowrap mt-3 mt-lg-0 border-0"
                            role="tablist">
                            {% for j, collection in block['collections'] %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if 0 == j %}active{% endif %} btn-change-product-tab"
                                       data-toggle="tab"
                                       href="#product-tab-{{ k }}-{{ j }}"
                                       role="tab"
                                       aria-controls="product-tab-{{ k }}-{{ j }}"
                                       aria-selected="true"
                                       data-collection_id="{{ collection['collection_id'] }}"
                                       data-grid="{{ block['grid'] }}"
                                       data-is_loaded=0
                                    >{{ collection['title'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content mt-lg-3">
                        {% for j, collection in block['collections'] %}
                            <div class="tab-pane fade show {% if 0 == j %}active{% endif %} mx-n1" id="product-tab-{{ k }}-{{ j }}"
                                 role="tabpanel" aria-labelledby="product-tab-{{ k }}-{{ j }}">
                                <div class="owl-product owl-collection-product owl-carousel owl-theme d-flex" data-interval="product">
                                    {% set product_count = 0 %}
                                    {% set slide_rendering = false %}
                                    {% for product_index, product in block['products'] %}
                                        {% if collection['collection_id'] in product['collections'] %}
                                        {% set product_count = product_count + 1 %}
                                        {% if 1 == product_count % items_per_slide %}
                                            {% set slide_rendering = true %}
                                            <div class="slide-item px-2">
                                                <div class="row m-0 row-cols-{{ block['grid'] }}">
                                        {% endif %}
                                                <div class="col p-0">
                                                    <div class="pro-item" title="{{ product['name']|length > 40 ? product['name'] : '' }}" data-toggle="tooltip" data-placement="top">
                                                        {% if product['percent_sale'] is not empty %}
                                                            <div class="pro-sticky sale-off">{{ product['percent_sale'] }}</div>
                                                        {% endif %}
                                                        <p class="pro-cat fz-12 text-second m-0">{{ product['nameCategory'] is empty ? '<br>' : product['nameCategory'] }}</p>
                                                        <a href="{{ product['href'] }}" class="pro-item-title">{{ product['name'] }}</a>
                                                        <div class="img-thumb pro-thumb position-relative">
                                                            <div class="img-wrap">
                                                                <img src="{{ product['thumb'] }}" height="500" width="200" alt="{{ product['name'] }}">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex home-product-sticky">
                                                            {% if product['product_is_stock'] == false %}
                                                                <div class="pro-sticky sale-off out-stock">hết hàng</div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-price my-2">
                                                                {% if product['is_contact_for_price'] %}
                                                                    <span class="new-price text-third fw-600">
                                                                        {{ contact }}
                                                                    </span>
                                                                {% else %}
                                                                    {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                                        <span class="new-price text-third fw-600">
                                                                            {% if product['max_price_version'] is null %}
                                                                                {{ product['compare_price_master'] }}
                                                                            {% else %}
                                                                                {{ product['min_compare_price_version'] }}
                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                    ~ {{ product['max_compare_price_version'] }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </span>
                                                                    {% else %}
                                                                        <span class="new-price text-third fw-600">
                                                                            {% if product['max_price_version'] is null %}
                                                                                {{ product['price_master'] }}
                                                                            {% else %}
                                                                                {{ product['min_price_version'] }}
                                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                                    ~ {{ product['max_price_version'] }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            </span>
                                                                        <span class="old-price text-second fz-12">
                                                                            {% if product['max_compare_price_version'] is null %}
                                                                                {{ product['compare_price_master'] }}
                                                                            {% else %}
                                                                                {{ product['min_compare_price_version'] }}
                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                    ~ {{ product['max_compare_price_version'] }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </span>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="pro-overlay">
                                                            <div class="transition d-flex justify-content-center align-items-center">
                                                                <a href="{{ product['href'] }}" class="view-now btn-icon">
                                                                    <i class="icon icon-eye"></i>
                                                                </a>
                                                                <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                                                    <i class="icon icon-cart"></i>
                                                                </a>
                                                            </div>
                                                            <a href="{{ product['href'] }}" class="buy-now btn btn-primary">Mua ngay</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end col pro -->
                                            {% if 0 == product_count % items_per_slide %}
                                                {% set slide_rendering = false %}
                                                    </div>
                                                    <!-- End row -->
                                                </div>
                                                <!-- End slide-item -->
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if true == slide_rendering %}
                                            </div>
                                            <!-- End row -->
                                        </div>
                                    <!-- End slide-item -->
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End owl-product -->
                </div>
            {% else %}
                <div class="box-product box-product-home with-tab block-sale-off-product mb-3 {{ block['bestme_block_preview_class'] }}">
                    <div class="d-flex flex-wrap border-lg-bottom">
                        <h2 class="box-title align-self-center border-bottom border-lg-bottom-0 w-100 w-lg-auto">
                            <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
                        </h2>
                    </div>

                    <div class="owl-product owl-carousel owl-theme d-flex" data-interval="product" data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                        {% for product_index, product in block['products'] %}
                            {% set product_count = product_count + 1 %}
                            {% if 1 == product_count % items_per_slide %}
                                <div class="slide-item px-2">
                                    <div class="row m-0 row-cols-{{ block['grid'] }}">
                            {% endif %}
                            <div class="col p-0">
                                <div class="pro-item" title="{{ product['name']|length > 40 ? product['name'] : '' }}" data-toggle="tooltip" data-placement="top">
                                    {% if product['percent_sale'] is not empty %}
                                        <div class="pro-sticky sale-off">{{ product['percent_sale'] }}</div>
                                    {% endif %}
                                    <p class="pro-cat fz-12 text-second m-0">{{ product['nameCategory'] is empty ? '<br>' : product['nameCategory'] }}</p>
                                    <a href="{{ product['href'] }}" class="pro-item-title">{{ product['name']|length > 30 ? product['name']|slice(0, 30) ~ '...' : product['name'] }}</a>
                                    <div class="img-thumb pro-thumb position-relative">
                                        <div class="img-wrap">
                                            <img src="{{ product['thumb'] }}" height="500" width="200" alt="{{ product['name'] }}">
                                        </div>
                                    </div>
                                    <div class="d-flex home-product-sticky">
                                        {% if product['product_is_stock'] == false %}
                                            <div class="pro-sticky sale-off out-stock">hết hàng</div>
                                        {% endif %}
                                    </div>
                                    <div class="pro-info">
                                        <div class="pro-price my-2">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="new-price text-third fw-600">
                                                    {{ contact }}
                                                </span>
                                            {% else %}
                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                    <span class="new-price text-third fw-600">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                {% else %}
                                                    <span class="new-price text-third fw-600">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['price_master'] }}
                                                        {% else %}
                                                            {{ product['min_price_version'] }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    <span class="old-price text-second fz-12">
                                                        {% if product['max_compare_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="pro-overlay">
                                        <div class="transition d-flex justify-content-center align-items-center">
                                            <a href="{{ product['href'] }}" class="view-now btn-icon">
                                                <i class="icon icon-eye"></i>
                                            </a>
                                            <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                                <i class="icon icon-cart"></i>
                                            </a>
                                        </div>
                                        <a href="{{ product['href'] }}" class="buy-now btn btn-primary">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end col pro -->
                            {% if 0 == (product_index + 1) % items_per_slide or loop.last %}
                                    </div>
                                    <!-- End row -->
                                </div>
                                <!-- End slide-item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                <!-- End owl-product -->
                </div>
            {% endif %}

            {% if 3 == k %}
                {% include theme_name ~ '/template/common/banner_3_4.twig' %}
            {% endif %}

            {% if 4 == k %}
                {% include theme_name ~ '/template/common/banner_5.twig' %}
            {% endif %}
        {% endfor %}
        <!-- End: Box Products -->
        <div class="bestme_app_after_product">

        </div>

        <!-- Banners box (in case of not enough product lists) -->
        {% if blocks|length < 4 %}
            {% include theme_name ~ '/template/common/banner_3_4.twig' %}
        {% endif %}
        {% if blocks|length < 5 %}
            {% include theme_name ~ '/template/common/banner_5.twig' %}
        {% endif %}
        <!-- End: Banners box -->

        {% if partners_visible == '1' %}
            <!-- Box Custommer -->
            <div class="box-custommer mb-3 mb-lg-5 pb-3 box-border overflow-hidden bestme-block-partner">
                <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-interval="{{ slideshow.transition_time }}" data-number_items="{{ partners_limit_per_line }}">
                    {% for partner in partners %}
                        <a href="{{ partner.url }}" title="{{ partner['description'] }}">
                            <div class="item">
                                <div class="custommer-avt"
                                     style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!-- End: Box Custommer -->
        {% endif %}


        {% if latest_blog %}
            <!-- Box News -->
            <div class="box-news block-blog mb-3 bestme-block-blog">
                <h3 class="box-title border-bottom w-100 d-block mb-4 text-left fz-lg-20 fz-16">
                    <a href="{{ url_blog }}" class="btn btn-primary rounded-10 rounded-bottom-0 py-2 px-4 fw-500">{{ blog_title }}</a>
                </h3>
                <!-- /.box-title-center -->

                <div class="row">
                    {% for k, blog in latest_blog if k < 2 %}
                        <!-- News Item -->
                        <div class="col-lg-6 col-12">
                            <div class="news-item">
                                <div class="col-4 p-0">
                                    <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                        <div class="img-wrap">
                                            <img src="{{ blog['image'] }}" class="" alt="{{ blog['title'] }}">
                                        </div>
                                    </a>
                                </div>
                                <div class="col pl-3">
                                    <div class="news-info d-flex flex-wrap h-100">
                                        <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                            {{ blog['title']|length > 60
                                            ? blog['title']|html_entity_decode|slice(0, 60) ~ '...'
                                            : blog['title']|html_entity_decode }}</a>
                                        <div class="news-desc d-none d-md-block">
                                            {{ blog['short_content']|length > 180
                                            ? blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...'
                                            : blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                        <a class="btn btn-primary mt-2 py-2 px-3 align-self-end rounded-30 fw-500"
                                           href="{{ blog['link'] }}">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: News Item -->
                    {% endfor %}
                </div>
            </div>
            <!-- End: Box News -->
        {% endif %}
    </div>
    <!-- End container -->
</main>

<div class="bestme_app_before_footer">

</div>
{{ footer }}
<script>
    function isEmpty(variable) {
        return undefined === variable || '' === variable || (Array.isArray(variable) && 0 === variable.length) || false === variable || null === variable;
    }

    $(document).ready(function(){
        $(document).on('click', '.btn-change-product-tab', function () {
            // call api v1 get products
            const _this = $(this);
            const is_loaded = _this.data('is_loaded');
            if (0 === is_loaded) {
                $.ajax({
                    url: "/api/v1_products/products",
                    method: 'get',
                    data: {
                        collection: _this.data('collection_id'),
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (Array.isArray(response.result)) {
                            const targetSelector = _this.prop('href').substring(_this.prop('href').indexOf('#'));
                            const targetSliderElement = $(targetSelector + ' .owl-product');
                            targetSliderElement.html('');

                            const products = response.result;
                            const grid = parseInt(_this.data('grid'));

                            let productsHtml = '';
                            const rows_per_slide = {{ is_on_mobile ? 3 : 1 }};
                            const items_per_slide = grid * rows_per_slide;
                            for (let i = 0; i < products.length; i++) {
                                const product = products[i];
                                if (1 === (i + 1) % items_per_slide) {
                                    productsHtml += `<div class="slide-item">
                                                        <div class="row m-0 row-cols-${ grid }">`;
                                }
                                let priceHtml = '';
                                if (product.is_contact_for_price) {
                                    priceHtml += `<span class="new-price text-third fw-600">{{ contact }}</span>`;
                                } else {
                                    if (0 === parseInt(product.price_master_real) || 0 === parseInt(product.max_price_version_real)) {
                                        priceHtml += `<span class="new-price text-third fw-600">`;
                                        if (null === product.max_price_versionmax_price_version) {
                                            priceHtml += product.compare_price_master;
                                        } else {
                                            priceHtml += product.min_compare_price_version;
                                            if (product.min_compare_price_version != product.max_compare_price_version) {
                                                priceHtml += ' ~ ' + product.max_compare_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;
                                    } else {
                                        priceHtml += `<span class="new-price text-third fw-600">`;
                                        if (null === product.max_price_version) {
                                            priceHtml += product.price_master;
                                        } else {
                                            priceHtml += product.min_price_version;
                                            if (product.max_price_version != product.min_price_version) {
                                                priceHtml += ' ~ ' + product.max_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;

                                        priceHtml += `<span class="old-price text-second fz-12">`;
                                        if (null === product.max_compare_price_version) {
                                            priceHtml += product.compare_price_master;
                                        } else {
                                            priceHtml += product.min_compare_price_version;
                                            if (product.min_compare_price_version != product.max_compare_price_version) {
                                                priceHtml += ' ~ ' + product.max_compare_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;
                                    }
                                }
                                productsHtml += `<div class="col p-0">
                                                    <div class="pro-item" title="${ product['name'].length > 40 ? product['name'] : '' }" data-toggle="tooltip" data-placement="top">
                                                        ${ isEmpty(product['percent_sale']) ? '' : '<div class="pro-sticky sale-off">' + product['percent_sale'] + '</div>' }
                                                        <p class="pro-cat fz-12 text-second m-0">${ isEmpty(product['nameCategory']) ? '<br>' : product['nameCategory'] }</p>
                                                        <a href="${ product['href'] }" class="pro-item-title">${ product['name'].length > 30 ? product['name'].substring(0, 30) + '...' : product['name'] }</a>
                                                        <div class="img-thumb pro-thumb position-relative">
                                                            <div class="img-wrap">
                                                                <img src="${ product['thumb'] }" height="500" width="200" alt="${ product['name'] }">
                                                            </div>
                                                        </div>
                                                        <div class="d-flex home-product-sticky">
                                                            ${ product['product_is_stock'] === false ? '<div class="pro-sticky sale-off out-stock">hết hàng</div>' : '' }
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-price my-2">${ priceHtml }</div>
                                                        </div>
                                                        <div class="pro-overlay">
                                                            <div class="transition d-flex justify-content-center align-items-center">
                                                                <a href="${ product['href'] }" class="view-now btn-icon">
                                                                    <i class="icon icon-eye"></i>
                                                                </a>
                                                                <a href="${ product['href'] }" class="add-to-cart btn-icon">
                                                                    <i class="icon icon-cart"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>`;

                                if (0 === (i + 1) % items_per_slide || i + 1 === products.length) {
                                    productsHtml += `</div>
                                                    <!-- End row -->
                                                </div>
                                                <!-- End slide-item -->`;
                                }
                            }

                            // update products slider html
                            targetSliderElement.html(productsHtml);

                            // re-init owl product slider
                            owlInit(targetSliderElement, 1, true, false);

                            // update element is_loaded
                            _this.data('is_loaded', 1);
                        }
                    }
                });
            }
        });

        // trigger click first collection product tab button
        $('.btn-change-product-tab.active').trigger('click');
    })
</script>