{{ header }}
<div class="bestme_app_after_header">

</div>
<main id="main-wrapper" class="">
    <div class="container">
        <div class="row mx-lg-0 mb-3 mb-lg-4">
            <div class="col-3 p-lg-0 d-none d-lg-block">
                <div class="cat-menu-block bg-white">
                    {% include 'default/template/common/category_list_template_top_ul_li.twig' %}
                </div>
                <!-- End cat-menu-block -->
            </div>
            <!-- End menu cat -->

            <div class="col-12 col-lg-9 px-0 home-slider page-slider">
                <div id="carouselHome" class="carousel slide carousel-slide bestme-block-slideshow"  data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}" data-ride="carousel" data-interval="{{ slideshow.transition_time }}">
                    <div class="carousel-inner">
                        {% for slide_key, slide in slideshow.slides %}
                            <div class="carousel-item {% if 0 == slide_key %}active{% endif %}">
                                <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                    <img src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End: carousel-inner -->
                    <ol class="carousel-indicators">
                        {% for slide_key, slide in slideshow.slides %}
                            <li data-target="#carouselHome" data-slide-to="{{ slide_key }}" class="{% if 0 == slide_key %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <!-- End: carousel-indicators -->
                </div>
                <!-- End: carouselHome -->
            </div>
            <!-- End: Home Slider -->
            <div class="bestme_app_after_slide">

            </div>
            {# seo h1 #}
            {% include 'default/template/common/home_seo_h1.twig' %}
            {# end - seo h1 #}
        </div>
        <!-- End row -->

        {% if display_customizes %}
        <!-- Support section -->
        <div class="bg-primary mb-3 mb-lg-4 p-3 fw-600 fz-lg-18 fz-10 text-white bestme-block-content-customize">
            <div class="row row-cols-{{ display_customizes|length > 4 ? 4 : display_customizes|length }}">
                {% for contents in display_customizes %}
                    {% if contents['type'] == 'fixed' %}
                        <div class="col d-flex justify-content-center">
                            <img src="{{ contents['content']['icon'] }}" alt="{{ contents['content']['title'] }}" class="customize-content-image align-self-center">
                            <span class="ml-lg-4 ml-2 customize-content">
                                {{ contents['content']['title'] }}
                            </span>
                        </div>
                    {% else %}
                        <div class="customize-content">{{ contents['content']['html']|html_entity_decode }}</div>
                    {% endif %}
                {% endfor %}
                <!-- End: Banner Item -->
            </div>
            <!-- End row -->
        </div>
        <!-- End: Support section -->
        {% endif %}

        {% if banners_visible == '1' and
            ((banners[0] is defined and banners[0]['visible'] == '1')
            or (banners[1] is defined and banners[1]['visible'] == '1'))
        %}
            <div class="row mb-3 mb-lg-4">
                {% if banners[0] is defined and banners[0]['visible'] == '1' %}
                    <div class="col-lg mb-3 mb-lg-0 banner-wrapper bestme-block-banner-1">
                        <a href="{{ banners[0]['url'] }}" title="{{ banners[0]['description'] }}" target="_blank" class="text-center">
                            <img src="{{ banners[0]['image-url'] }}" alt="{{ banners[0]['description'] }}">
                        </a>
                    </div>
                {% endif %}
                {% if banners[1] is defined and banners[1]['visible'] == '1' %}
                    <div class="col-lg banner-wrapper bestme-block-banner-2">
                        <a href="{{ banners[1]['url'] }}" title="{{ banners[1]['description'] }}" target="_blank" class="text-center">
                            <img src="{{ banners[1]['image-url'] }}" alt="{{ banners[1]['description'] }}">
                        </a>
                    </div>
                {% endif %}
            </div>
            <!-- End banner row -->
        {% endif %}

        {% for k, block in blocks %}
            {% if block['collections'] is not empty %}
                <div class="box-product with-tab block-sale-off-product mb-3 mb-lg-4 px-lg-3 pb-3 bg-white {{ block['bestme_block_preview_class'] }}">
                    <div class="d-flex flex-wrap">
                        <h2 class="box-title align-self-center">
                            <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
                        </h2>
                        <ul class="nav nav-tabs d-flex align-self-center flex-nowrap border-0 my-lg-2 ml-lg-2 mt-2 mt-lg-0"
                            role="tablist">
                            {% for j, collection in block['collections'] %}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link {% if 0 == j %}active{% endif %} btn-change-product-tab"
                                       data-toggle="tab"
                                       href="#product-tab-{{ k }}-{{ j }}"
                                       role="tab"
                                       aria-controls="product-tab-{{ k }}-{{ j }}"
                                       aria-selected="true"
                                       data-collection_id="{{ collection['collection_id'] }}"
                                       data-grid="{{ block['grid'] }}"
                                       data-is_loaded=0
                                    >{{ collection['title'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content mt-3">
                        {% for j, collection in block['collections'] %}
                            <div class="tab-pane fade show {% if 0 == j %}active{% endif %}" id="product-tab-{{ k }}-{{ j }}" role="tabpanel"
                                 aria-labelledby="product-tab-{{ k }}-{{ j }}">
                                <div class="owl-product owl-collection-product owl-carousel owl-theme d-flex"  data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}" data-interval="product">
                                    {% set product_count = 0 %}
                                    {% set slide_rendering = false %}
                                    {% for product_index, product in block['products'] %}
                                        {% if collection['collection_id'] in product['collections'] %}
                                            {% set product_count = product_count + 1 %}
                                            {% if 1 == product_count % block['grid'] or block['grid'] == 1 %}
                                                {% set slide_rendering = true %}
                                                <div class="slide-item">
                                                    <div class="row px-2 row-cols-{{ block['grid'] }}">
                                            {% endif %}
                                                        <div class="col">
                                                            <div class="pro-item">
                                                                <div class="img-thumb pro-thumb position-relative">
                                                                    <div class="img-wrap">
                                                                        <a href="{{ product['href'] }}">
                                                                            <img src="{{ product['thumb'] }}" height="500" width="200" alt="{{ product['name'] }}">
                                                                        </a>
                                                                    </div>
                                                                    {% if product['percent_sale'] is not empty %}
                                                                        <div class="pro-sticky sale-off">
                                                                            {{ product['percent_sale'] }}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="d-flex pt-3 mb-1 flex-wrap justify-content-center">
                                                                    <span class="pro-cat fz-12 fw-500 text-second">{{ product['nameCategory'] }}</span>
                                                                    <!-- Star Rate -->
                                                                    <div class="wrap-star-rate text-right d-none">
                                                                        <ul class="list-inline mb-0">
                                                                            <li class="list-inline-item mr-0">
                                                                                <span class="star star-rate"></span>
                                                                            </li>
                                                                            <li class="list-inline-item mr-0">
                                                                                <span class="star star-rate"></span>
                                                                            </li>
                                                                            <li class="list-inline-item mr-0">
                                                                                <span class="star star-rate"></span>
                                                                            </li>
                                                                            <li class="list-inline-item mr-0">
                                                                                <span class="star star-rate"></span>
                                                                            </li>
                                                                            <li class="list-inline-item mr-0">
                                                                                <span class="star"></span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <!-- End: Star Rate -->
                                                                </div>
                                                                <div class="pro-info">
                                                                    <a href="{{ product['href'] }}"
                                                                       class="pro-item-title text-primary d-block my-1">{{ product['name'] }}</a>
                                                                    <div class="pro-price my-2">
                                                                        {% if product['is_contact_for_price'] %}
                                                                            <span class="new-price text-third fw-600">
                                                                                {{ contact }}
                                                                            </span>
                                                                        {% else %}
                                                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                                                <span class="new-price text-third fw-600">
                                                                                {% if product['max_price_version'] is null %}
                                                                                    {{ product['compare_price_master'] }}
                                                                                {% else %}
                                                                                    {{ product['min_compare_price_version'] }}
                                                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                        ~ {{ product['max_compare_price_version'] }}
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            </span>
                                                                            {% else %}
                                                                                <span class="new-price text-third fw-600">
                                                                                {% if product['max_price_version'] is null %}
                                                                                    {{ product['price_master'] }}
                                                                                {% else %}
                                                                                    {{ product['min_price_version'] }}
                                                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                                                        ~ {{ product['max_price_version'] }}
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                                </span>
                                                                                <span class="old-price text-second fz-12">
                                                                                    {% if product['max_compare_price_version'] is null %}
                                                                                        {{ product['compare_price_master'] }}
                                                                                    {% else %}
                                                                                        {{ product['min_compare_price_version'] }}
                                                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                            ~ {{ product['max_compare_price_version'] }}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                </span>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="pro-overlay transition d-flex justify-content-center">
                                                                    <a href="{{ product['href'] }}" class="view-now btn-icon">
                                                                        <i class="icon icon-eye"></i>
                                                                    </a>
                                                                    <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                                                        <i class="icon icon-cart-plus"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end col pro -->
                                            {% if 0 == product_count % block['grid'] or block['grid'] == 1 %}
                                                {% set slide_rendering = false %}
                                                    </div>
                                                    <!-- End row -->
                                                </div>
                                                <!-- End slide-item -->
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if true == slide_rendering %}
                                                </div>
                                                <!-- End row -->
                                            </div>
                                            <!-- End slide-item -->
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- End owl-product -->
                </div>
            {% else %}
                <div class="box-product box-product-home block-sale-off-product mb-3 mb-lg-4 px-lg-3 pb-3 bg-white {{ block['bestme_block_preview_class'] }}">
                    <div class="d-flex flex-wrap">
                        <h2 class="box-title align-self-center">
                            <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
                        </h2>
                    </div>

                    <div class="owl-product owl-carousel owl-theme d-flex mt-3"  data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}" data-interval="product">
                        {% for product_index, product in block['products'] %}
                            {% if 1 == (product_index + 1) % block['grid'] or block['grid'] == 1 %}
                                <div class="slide-item">
                                    <div class="row px-2 row-cols-{{ block['grid'] }}">
                            {% endif %}
                            <div class="col">
                                <div class="pro-item">
                                    <div class="img-thumb pro-thumb position-relative">
                                        <div class="img-wrap">
                                            <a href="{{ product['href'] }}">
                                                <img src="{{ product['thumb'] }}" height="500" width="200" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        {% if product['percent_sale'] is not empty %}
                                            <div class="pro-sticky sale-off">
                                                {{ product['percent_sale'] }}
                                            </div>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <div class="pro-sticky sale-off out-stock"
                                            {% if product.Percent_protduct == 0 %}
                                                style="transform: translateX(0);"
                                            {% endif %}
                                            >hết hàng</div>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex pt-3 mb-1 flex-wrap justify-content-center">
{#                                        <span class="pro-cat fz-12 fw-500 text-second">{{ product['nameCategory'] }}</span>#}
                                        <!-- Star Rate -->
                                        <div class="wrap-star-rate text-right d-none">
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star star-rate"></span>
                                                </li>
                                                <li class="list-inline-item mr-0">
                                                    <span class="star"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End: Star Rate -->
                                    </div>
                                    <div class="pro-info">
                                        <a href="{{ product['href'] }}" title="{{ product.name|length > 40 ? product.name : '' }}" data-toggle="tooltip"
                                           class="pro-item-title text-primary d-block my-1">{{ product['name'] }}</a>
                                        <div class="pro-price my-2">
                                            {% if product['is_contact_for_price'] %}
                                                <span class="new-price text-third fw-600">
                                                    {{ contact }}
                                                </span>
                                            {% else %}
                                                {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                    <span class="new-price text-third fw-600">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                {% else %}
                                                    <span class="new-price text-third fw-600">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['price_master'] }}
                                                        {% else %}
                                                            {{ product['min_price_version'] }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                    <span class="old-price text-second fz-12">
                                                        {% if product['max_compare_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="pro-overlay transition d-flex justify-content-center">
                                        <a href="{{ product['href'] }}" class="view-now btn-icon">
                                            <i class="icon icon-eye"></i>
                                        </a>
                                        <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                            <i class="icon icon-cart-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end col pro -->
                            {% if 0 == (product_index + 1) % block['grid'] or product_index + 1 == block['products']|length or block['grid'] == 1 %}
                                    </div>
                                    <!-- End row -->
                                </div>
                                <!-- End slide-item -->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End owl-product -->
                </div>
            {% endif %}

            {% if 1 == k %}
                {% if banners_visible == '1' and banners[2] is defined and banners[2]['visible'] == '1' %}
                    <!-- Box Banner -->
                    <a href="{{ banners[2]['url'] }}" target="_blank" title="{{ banners[2]['description'] }}"
                       class="mb-3 mb-lg-4 d-inline-block w-100 text-center">
                        <img alt="{{ banners[2]['description'] }}" src="{{ banners[2]['image-url'] }}" class="bestme-block-banner-3">
                    </a>
                    <!-- End: Box Banner -->
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="bestme_app_after_product">

        </div>

        {% if blocks is empty and banners_visible == '1' and banners[2] is defined and banners[2]['visible'] == '1' %}
            <!-- Box Banner -->
            <a href="{{ banners[2]['url'] }}" target="_blank" title="{{ banners[2]['description'] }}"
               class="mb-3 mb-lg-4 d-inline-block w-100 text-center">
                <img alt="{{ banners[2]['description'] }}" src="{{ banners[2]['image-url'] }}" class="bestme-block-banner-3">
            </a>
            <!-- End: Box Banner -->
        {% endif %}

        {% if latest_blog %}
            <!-- Box News -->
            <div class="box-news block-blog mb-3 mb-lg-4 bg-white px-3 pb-3 bestme-block-blog">
                <h3 class="box-title text-center d-inline-block mb-4">
                    <span>Bài viết nổi bật</span>
                </h3>
                <!-- /.box-title-center -->

                <div class="row">
                    {% for k,blog in latest_blog %}
                        {% if k < 3 %}
                            <!-- News Item -->
                            <div class="col-lg-4 col-12">
                                <div class="news-item">
                                    <div class="news-date">
                                        <span class="date">{{ blog['date_added']|date('j') }}</span>
                                        <span class="month">Th{{ blog['date_added']|date('n') }}</span>
                                    </div>
                                    <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                        <div class="img-wrap">
                                            <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                        </div>
                                    </a>
                                    <div class="news-info">
                                        <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                            {{ blog['title']|length > 60
                                            ? blog['title']|html_entity_decode|slice(0, 60) ~ '...'
                                            : blog['title']|html_entity_decode }}
                                        </a>
                                        <div class="news-desc">
                                            {{ blog['short_content']|length > 180
                                            ? blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...'
                                            : blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: News Item -->
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- End: Box News -->
        {% endif %}

        {% if partners_visible == '1' %}
            <!-- Box Custommer -->
            <div class="box-custommer mb-3 mb-lg-4 px-lg-3 pb-3 bg-white bestme-block-partner">
                <h3 class="box-title text-center d-inline-block mb-4">
                    <span>ĐỐI TÁC TIN CẬY</span>
                </h3>

                <div class="owl-custommer owl-carousel owl-theme owl-hidden-dots m-auto" data-loop="{{ partners_setting.loop }}" data-auto_play="{{ partners_setting.autoplay }}"
                     data-interval="{{ slideshow.transition_time }}" data-number_items="{{ partners_limit_per_line }}">
                    {% for partner in partners %}
                        <a href="{{ partner.url }}" title="{{ partner['description'] }}">
                            <div class="item">
                                <div class="custommer-avt"
                                     style="background: url('{{ partner['image-url'] }}') no-repeat center; background-size: contain;">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!-- End: Box Custommer -->
        {% endif %}
    </div>
    <!-- End container -->
</main>

<div class="bestme_app_before_footer">

</div>
{{ footer }}
<script>
    function isEmpty(variable) {
        return undefined === variable || '' === variable || (Array.isArray(variable) && 0 === variable.length) || false === variable || null === variable;
    }

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

        $(document).on('click', '.btn-change-product-tab', function () {
            // call api v1 get products
            const _this = $(this);
            const is_loaded = _this.data('is_loaded');
            if (0 === is_loaded) {
                $.ajax({
                    url: "/api/v1_products/products",
                    method: 'get',
                    data: {
                        collection: _this.data('collection_id'),
                        limit: {{ limit_product_in_block }}
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (Array.isArray(response.result)) {
                            const targetSelector = _this.prop('href').substring(_this.prop('href').indexOf('#'));
                            const targetSliderElement = $(targetSelector + ' .owl-product');
                            targetSliderElement.html('');

                            const products = response.result;
                            const grid = parseInt(_this.data('grid'));

                            let productsHtml = '';
                            for (let i = 0; i < products.length; i++) {
                                const product = products[i];
                                if (1 === (i + 1) % grid || 1 === grid) {
                                    productsHtml += `<div class="slide-item">
                                                        <div class="row px-2 row-cols-${ grid }">`;
                                }
                                let priceHtml = '';
                                if (product.is_contact_for_price) {
                                    priceHtml += `<span class="new-price text-third fw-600">{{ contact }}</span>`;
                                } else {
                                    if (0 === parseInt(product.price_master_real) || 0 === parseInt(product.max_price_version_real)) {
                                        priceHtml += `<span class="new-price text-third fw-600">`;
                                        if (null === product.max_price_version) {
                                            priceHtml += product.compare_price_master;
                                        } else {
                                            priceHtml += product.min_compare_price_version;
                                            if (product.min_compare_price_version != product.max_compare_price_version) {
                                                priceHtml += ' ~ ' + product.max_compare_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;
                                    } else {
                                        priceHtml += `<span class="new-price text-third fw-600">`;
                                        if (null === product.max_price_version) {
                                            priceHtml += product.price_master;
                                        } else {
                                            priceHtml += product.min_price_version;
                                            if (product.max_price_version != product.min_price_version) {
                                                priceHtml += ' ~ ' + product.max_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;

                                        priceHtml += `<span class="old-price text-second fz-12">`;
                                        if (null === product.max_compare_price_version) {
                                            priceHtml += product.compare_price_master;
                                        } else {
                                            priceHtml += product.min_compare_price_version;
                                            if (product.min_compare_price_version != product.max_compare_price_version) {
                                                priceHtml += ' ~ ' + product.max_compare_price_version;
                                            }
                                        }
                                        priceHtml += `</span>`;
                                    }
                                }

                                productsHtml += `<div class="col">
                                                    <div class="pro-item">
                                                        <div class="img-thumb pro-thumb position-relative">
                                                            <div class="img-wrap">
                                                                <a href="${ product['href'] }">
                                                                    <img src="${ product['thumb'] }" height="500" width="200" alt="${ product['name'] }">
                                                                </a>
                                                            </div>
                                                            ${ isEmpty(product['percent_sale']) ? '' : '<div class="pro-sticky sale-off">' + product['percent_sale'] + '</div>' }
                                                        </div>
                                                        <div class="d-flex pt-3 mb-1 flex-wrap justify-content-center">
                                                            <span class="pro-cat fz-12 fw-500 text-second">${ product['nameCategory'] }</span>
                                                            \<!-- Star Rate --\>
                                                            <div class="wrap-star-rate text-right d-none">
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star star-rate"></span>
                                                                    </li>
                                                                    <li class="list-inline-item mr-0">
                                                                        <span class="star"></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            \<!-- End: Star Rate --\>
                                                        </div>
                                                        <div class="pro-info">
                                                            <a href="${ product['href'] }"
                                                               class="pro-item-title text-primary d-block my-1">${ product['name'] }</a>
                                                            <div class="pro-price my-2">${ priceHtml }</div>
                                                        </div>
                                                        <div class="pro-overlay transition d-flex justify-content-center">
                                                            <a href="${ product['href'] }" class="view-now btn-icon">
                                                                <i class="icon icon-eye"></i>
                                                            </a>
                                                            <a href="${ product['href'] }" class="add-to-cart btn-icon">
                                                                <i class="icon icon-cart-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>`;

                                if (0 === (i + 1) % grid || 1 === grid || i + 1 === products.length) {
                                    productsHtml += `</div>
                                                    \<!-- End row --\>
                                                </div>
                                                \<!-- End slide-item --\>`;
                                }
                            }

                            // update products slider html
                            targetSliderElement.html(productsHtml);

                            // re-init owl product slider
                            owlInit(targetSliderElement, 1, true, false);

                            // update element is_loaded
                            _this.data('is_loaded', 1);
                        }
                    }
                });
            }
        });

        // trigger click first collection product tab button
        $('.btn-change-product-tab.active').trigger('click');
    })
</script>