{% if footer_visible == '1' %}
    <footer id="footer">
        <div class="container">
            <!-- logo -->
            <a href="{{ home }}">
                <img src="{{ logo }}" alt="{{ alt }}">
            </a>
            <!-- end - logo -->

            <div class="row">
                <!-- start contact -->
                {% if footer_contact['visible'] == '1' %}
                    <div class="col-12 col-md-6 col-lg-4 contact">
                        <h2 class="block-title">{{ footer_contact['title'] }}̣</h2>
                        <div class="block-content">
                            <p class="clearfix"><i class="icon icon-marker bg-light mt-1 mr-4 float-left"></i> <span
                                        class="float-left">{{ footer_contact['address'] }}</span>
                            </p>
                            <p class="clearfix"><i class="icon icon-phone bg-light mt-1 mr-4 float-left"></i> <span
                                        class="float-left">{{ footer_contact['phone-number'] }}</span></p>
                            <p class="clearfix"><i class="icon icon-email bg-light mt-1 mr-4 float-left"></i> <span
                                class="float-left">{{ footer_contact['email'] }}</span></p>
                            <div class="social-items clearfix">
                                {% for social in social_config %}
                                    {% if social['name'] == 'facebook' %}
                                        <a href="{{ social['url'] }}" class="item mr-3"><i class="icon icon-fb"></i></a>
                                    {% elseif social['name'] == 'googleplus' %}
                                        <a href="{{ social['url'] }}" class="item mr-3"><i class="icon icon-google"></i></a>
                                    {% elseif social['name'] == 'twitter' %}
                                        <a href="{{ social['url'] }}" class="item mr-3"><i class="icon icon-twitter"></i></a>
                                    {% elseif social['name'] == 'youtube' %}
                                        <a href="{{ social['url'] }}" class="item mr-3"><i class="icon icon-youtube"></i></a>
                                    {% elseif social['name'] == 'instagram' %}
                                        <a href="{{ social['url'] }}" class="item mr-3"><i class="icon icon-instagram"></i></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- end contact -->

                <!-- start products, our company, your account, custom link -->
                    {% for footer_link in footer_links %}
                        {% if footer_link['visible'] == '1' %}
                            <div class="col-6 col-md-3 col-lg-2">
                                <h2 class="block-title">{{ footer_link['title'] }}</h2>
                                <div class="block-content">
                                    {% for link in footer_link['list'] %}
                                        <p><a href="{{ link['url'] }}">{{ link['text'] }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                <!-- end products, our company, your account, custom link -->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </footer>
    <!-- End footer -->
{% endif %}

</body></html>