<!DOCTYPE html>
<html lang="vi">
<head>
    <title>{{ text_home }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="catalog/view/theme/novaon/asset/img/logo.png">
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/novaon/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/novaon/asset/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/novaon/asset/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="catalog/view/theme/novaon/asset/css/app.css">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <!-- Bootstrap -->
    <script type="text/javascript" src="catalog/view/theme/novaon/asset/js/jquery.3.3.1.min.js"></script>
    <script type="text/javascript" src="catalog/view/theme/novaon/asset/js/popper.min.js"></script>
    <script type="text/javascript" src="catalog/view/theme/novaon/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="catalog/view/theme/novaon/asset/js/jquery.flexslider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="catalog/view/theme/novaon/asset/js/app.js"></script>
    <!-- Add new script -->
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
</head>

<body class="home-page">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

{% if notify_bar.onlyHomePage  == true %}
<header id="banner-top">
    <img src="{{ notify_bar.url }}" alt="{{ notify_bar.content }}">
</header>
{% endif %}

<header class="header" id="header-menu">
    <div class="user-header clearfix">
        <div class="container">
            <span class="slogan float-right float-md-left ml-3 ml-md-0">{{ text_slogan }}</span>

            {% if not logged_in %}
                <nav class="user-menu float-right">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ login }}">{{ text_login }}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ register }}">{{ text_register }}</a>
                        </li>
                    </ul>
                </nav>
            {% else %}
                <nav class="user-menu float-right">
                    <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ logged_user }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ href_profile }}">{{ menu_item_account_dashboard }}</a>
                        <a class="dropdown-item" href="{{ href_my_orders }}">{{ menu_item_my_orders }}</a>
                        <a class="dropdown-item" href="{{ href_history }}">{{ menu_item_history }}</a>
                        <a class="dropdown-item" href="{{ logout }}">{{ text_logout }}</a>
                    </div>
                </nav>
            {% endif %}
        </div> <!-- End Container -->
    </div> <!-- End user header -->

    <div class="main-header clearfix">
        <div class="container">
            <div class="row">
                <div class="col-3 col-lg-3 logo order-2 order-lg-1 mt-4 offset-3 mt-lg-0 offset-lg-0">
                    <a href="{{ home }}">
                        <img src="{{ logo }}"
                                {% if logo_height != '' %}
                                    style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"
                                {% endif %}
                        alt="{{ alt }}">
                    </a>
                </div>
                <div class="col-12 col-lg-6 col-lg-6 order-1 order-lg-2">
                    <form id="header-search-form" method="GET" action="{{ href_search_action }}">
                        <div class="input-group">
                            <select class="selectpicker" id="inputGroupSelect01" name="category_id">
                                <option selected value="">{{ text_all_category }}</option>
                                {% for cs in all_categories_search %}
                                    <option value="{{ cs.id }}" style="border-bottom: #E8E8E8 solid 1px;">{{ cs.text }}</option>
                                    {% if cs.items is not defined or cs.items is not iterable or cs.items|length < 1 %}
                                    {% else %}
                                        {% for scs in cs.items %}
                                            <option value="{{ scs.id }}" style="padding-left: 36px; border-bottom: #E8E8E8 solid 1px;">{{ scs.text }}</option>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="text" name="search" class="form-control" placeholder="{{ text_search_button_placeholder }}">
                            <input type="hidden" name="route" value="product/search">
                            <div class="input-group-append">
                                <button type="submit" class="btn">{{ text_search_button }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 col-lg-3 text-right mt-3 mt-lg-0 order-3">
                    <div class="show-cart">
                        <a href="{{ href_my_orders }}"></a>
                        <div class="cart-detail" style="white-space: nowrap; padding-right: 10px">
                            <span class="title">{{ text_shopping_cart }}</span><br>
                            <span class="total">{{ order_total_money|number_format(0, ',', '.') }} {{ currency }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End container -->
    </div> <!-- End main header -->

    <div class="main-menu clearfix">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu">
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
                        data-target="#navbarMainmenuHeader" aria-controls="navbarMainmenuHeader" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMainmenuHeader">
                    <ul class="navbar-nav">
                        <li class="nav-item nav-category">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarCategoryMenu" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ text_shop_dept }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarCategoryMenu">
                                {% for ct in list_product_categories %}
                                    <a class="dropdown-item" href="{{ ct.url }}">{{ ct.text }}</a>
                                    {% if ct.items is not defined or ct.items is not iterable or ct.items|length < 1 %}
                                        {# one level #}
                                    {% else %}
                                        {# two levels NOTE: temp disable, TODO: new css for this... #}
                                        {#<a class="nav-link dropdown-toggle" href="{{ ct.url }}" id="navbarCategoryMenu2" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ ct.text }}
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="navbarCategoryMenu2">
                                            {% for sct in ct %}
                                                {% if sct.url is defined and sct.text is defined %}
                                                    #}{# one level #}{#
                                                    <a class="dropdown-item" href="{{ sct.url }}">{{ sct.text }}</a>
                                                {% else %}
                                                    #}{# two levels #}{#
                                                    #}{# and so on... #}{#
                                                {% endif %}
                                            {% endfor %}
                                        </div>#}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>

                        {% for idx, m in main_menu %}
                            {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                <li class="nav-item">
                                    {# one level #}
                                    <a class="nav-link {{ idx == -1 ? 'active' : '' }}" href="{{ m.url }}">{{ m.text }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item has-child">
                                    {# two levels #}
                                    <a class="nav-link" href="index.php?route=common/home" id="navbarFeatureMenu" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ m.text }}</a>

                                    <ul class="sub-item dropdown-menu" aria-labelledby="navbarFeatureMenu">
                                        {% for it in m.items %}
                                            <li class="nav-item">
                                                <a class="dropdown-item" href="{{ it.url }}">{{ it.text }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div> <!-- End container -->
    </div> <!-- End main menu -->
</header>
<!-- End header -->
