{{ header }}

{% if slideshow.visible %}
    <section class="slide-banner clearfix">
        <div id="slide-show" class="flexslider">
            <ul class="slides">
                {% for slide in slideshow.slides %}
                    <li>
                        <a href="{{ slide['url'] }}" title="{{ slide['description'] }}"><img
                                    src="{{ slide['image-url'] }}" alt="{{ slide.description }}"/></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}
<!-- End slide banner -->

<main class="content-wrapper clearfix">
    <div class="container">
        <!-- start banner highlight -->
        {% if banners_visible == '1' and banner_highlight['visible'] == '1' %}
            <div class="banner banner-highlight d-none d-lg-block" style="padding: 15px">
                <a href="{{ banner_highlight['url'] }}" title="{{ banner_highlight['description'] }}">
                    <img src="{{ banner_highlight['image-url'] }}">
                </a>
            </div>
        {% endif %}
        <!-- End banner highlight -->

        <div class="product-section">
            <div class="row">
                <!-- Left banner -->
                {% if banners_visible == '1' and bannber_left['visible'] == '1' %}
                    <div class="d-none d-lg-block col-12 col-lg-3 bannber-left">
                        <a href="{{ bannber_left['url'] }}" title="{{ bannber_left['description'] }}">
                            <img src="{{ bannber_left['image-url'] }}">
                        </a>
                    </div>
                {% endif %}
                <!-- End Left banner -->

                <div class="col-12 {{ (banners_visible == '1' and bannber_left['visible'] == '1') ? 'col-lg-9' : 'col-lg-12' }} product-content-wrapper">
                    <!-- start hot product views -->
                    {% if hot_product_visible %}
                        <div class="product-views clearfix">
                            <div class="view-header">
                                <h2 class="block-title text-capitalize">{{ hot_product_title }}</h2>
                            </div>
                            <div class="view-content">
                                <div class="flexslider">
                                    <div class="slide-content">
                                        {% for product in hot_products %}
                                            <div class="slide-item">
                                                <div class="product-wrap">
                                                    <div class="product-item">
                                                        <div class="img">
                                                            <a href="{{ product['href'] }}"><img width="200px"
                                                                                                 src="{{ product['thumb'] }}"></a>
                                                        </div>
                                                        {% if detail_product_config['name'] == 'true' %}
                                                            <a href="{{ product['href'] }}" title="{{ product['name'] }}"
                                                               class="link">{{ product['name'] }}</a>
                                                        {% endif %}
                                                        {% if detail_product_config['price'] == 'true' %}
                                                            <span class="price">{{ product['price'] }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End product view -->

                    <!-- Start Best Sales Product view -->
                    {% if best_sales_product_visible %}
                        <div class="product-views clearfix">
                            <div class="view-header">
                                <h2 class="block-title text-capitalize">{{ best_sales_product_title }}</h2>
                            </div>
                            <div class="view-content">
                                <div class="flexslider">
                                    <div class="slide-content">
                                        {% for product in best_sales_product %}
                                            <div class="slide-item">
                                                <div class="product-wrap">
                                                    <div class="product-item">
                                                        <div class="img">
                                                            <a href="{{ product['href'] }}"><img width="200px"
                                                                                                 src="{{ product['thumb'] }}"></a>
                                                        </div>
                                                        {% if detail_product_config['name'] == 'true' %}
                                                            <a href="{{ product['href'] }}" title="{{ product['name'] }}"
                                                               class="link">{{ product['name'] }}</a>
                                                        {% endif %}
                                                        {% if detail_product_config['price'] == 'true' %}
                                                            <span class="price">{{ product['price'] }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End best sales product view -->

                    <!-- best views product view -->
                    {% if best_views_product_visible %}
                        <div class="product-views clearfix">
                            <div class="view-header">
                                <h2 class="block-title text-capitalize">{{ best_views_product_title }}</h2>
                            </div>
                            <div class="view-content">
                                <div class="flexslider">
                                    <div class="slide-content">
                                        {% for product in best_views_product %}
                                            <div class="slide-item">
                                                <div class="product-wrap">
                                                    <div class="product-item">
                                                        <div class="img">
                                                            <a href="{{ product['href'] }}"><img width="200px"
                                                                                                 src="{{ product['thumb'] }}"></a>
                                                        </div>
                                                        {% if detail_product_config['name'] == 'true' %}
                                                            <a href="{{ product['href'] }}" title="{{ product['name'] }}"
                                                               class="link">{{ product['name'] }}</a>
                                                        {% endif %}
                                                        {% if detail_product_config['price'] == 'true' %}
                                                            <span class="price">{{ product['price'] }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End product view -->

                </div> <!-- End product content -->
            </div> <!-- End row -->
        </div> <!-- End product section -->

        {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
            <div class="row d-none d-lg-flex banner-middle">
                <a href="{{ banner_middle['url'] }}" title="{{ banner_middle['description'] }}" style="padding: 15px">
                    <img src="{{ banner_middle['image-url'] }}">
                </a>
            </div>
            <!-- End banner middle -->
        {% endif %}

        <div class="blog-views clearfix">
            <div class="view-header">
                <h2 class="block-title text-capitalize">Blog</h2>
            </div>
            <div class="view-content">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="blog-item">
                            <div class="row">
                                <div class="img col-12 col-md-6 col-lg-5">
                                    <a href="#">
                                        <img src="catalog/view/theme/novaon/asset/img/cat_1.jpg">
                                    </a>
                                </div>
                                <div class="blog-right col-12 col-md-6 col-lg-7">
                                    <a class="title" href="#">Blink Home Security Camera System</a>
                                    <p class="body">It is a long established fact that a reader will be distracted by
                                        the readable content of a page when looking at its layout. The point of using
                                        Lorem...</p>
                                    <a class="read-more" href="#">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="blog-item">
                            <div class="row">
                                <div class="img col-12 col-md-6 col-lg-5">
                                    <a href="#">
                                        <img src="catalog/view/theme/novaon/asset/img/cat_1.jpg">
                                    </a>
                                </div>
                                <div class="blog-right col-12 col-md-6 col-lg-7">
                                    <a class="title" href="#">Blink Home Security Camera System</a>
                                    <p class="body">It is a long established fact that a reader will be distracted by
                                        the readable content of a page when looking at its layout. The point of using
                                        Lorem...</p>
                                    <a class="read-more" href="#">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="blog-item">
                            <div class="row">
                                <div class="img col-12 col-md-6 col-lg-5">
                                    <a href="#">
                                        <img src="catalog/view/theme/novaon/asset/img/cat_1.jpg">
                                    </a>
                                </div>
                                <div class="blog-right col-12 col-md-6 col-lg-7">
                                    <a class="title" href="#">Blink Home Security Camera System</a>
                                    <p class="body">It is a long established fact that a reader will be distracted by
                                        the readable content of a page when looking at its layout. The point of using
                                        Lorem...</p>
                                    <a class="read-more" href="#">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="blog-item">
                            <div class="row">
                                <div class="img col-12 col-md-6 col-lg-5">
                                    <a href="#">
                                        <img src="catalog/view/theme/novaon/asset/img/cat_1.jpg">
                                    </a>
                                </div>
                                <div class="blog-right col-12 col-md-6 col-lg-7">
                                    <a class="title" href="#">Blink Home Security Camera System</a>
                                    <p class="body">It is a long established fact that a reader will be distracted by
                                        the readable content of a page when looking at its layout. The point of using
                                        Lorem...</p>
                                    <a class="read-more" href="#">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog view -->

        <div class="row partner-section">
            {% for partner in partners %}
                <div class="col-3 mb-3">
                    <div class="parter-image-wraper">
                        <a href="{{ partner.url }}"><img src="{{ partner['image-url'] }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- End partner section -->

    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}