<!DOCTYPE html>
<html>
<head>
    {#<title>{{ title }}</title>#} {#already in seo_meta below #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}
    <!-- CSS -->

    {{ cssResource }}
    {#<link href="{{ theme_directory }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    {#<link href="{{ theme_directory }}/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">#}
    {#<link href="{{ theme_directory }}/font/lato.css" rel="stylesheet">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/webfonts/themify-icons/demo.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/webfonts/themify-icons/themify-icons.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/webfonts/themify-icons/ie7/ie7.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/vendor/slick/slick.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/vendor/slick/slick-theme.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/vendor/manifying-image-zoom/css/magnify.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/jquery-ui.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
    {#<link rel="stylesheet" href="{{ theme_directory }}/css/on-shop.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">


    {{ jsResource }}
    {#<script src="{{ theme_directory }}/vendor/jquery/jquery.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>#}
    {#<script src="{{ theme_directory }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    {#<script src="{{ theme_directory }}/vendor/slick/slick.min.js"></script>#}
    {#<script src="{{ theme_directory }}/js/opencart_custom.js"></script>#}
    {#<script src="{{ theme_directory }}/vendor/manifying-image-zoom/js/jquery.magnify.js"></script>#}
    {#<script src="{{ theme_directory }}/vendor/manifying-image-zoom/js/jquery.magnify-mobile.js"></script>#}
    {#<script src="{{ theme_directory }}/js/lazysizes.min.js"></script>#}
    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">

    <script>
        $(document).ready(function(){
            var width = screen.width,
                height = screen.height;
            if (screen.width > 576) {
                $('.bestme-block-product-detail-action-mobile').remove();
            }
        });
    </script>
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="home">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}

<header class="bestme-header {% if product_detail != '' %}bestme-hidden-md {% endif %}">
    {% if notify_bar.visible  == 1 %}
        <div class="bestme-header__banner ">
            <p class="title"> <a href="{{ notify_bar.url }}">{{ notify_bar.content }}</a></p>
        </div>
    {% endif %}
    <div class="bestme-header__menu {% if product_detail != '' %} product-detail {% endif %}">
        <div class="bestme-header__logo">
            <a href="{{ home }}">
                <img src="{{ logo }}"
                     {% if logo_height != '' %}
                         {#style="height: {{ logo_height }}px !important;max-height: {{ logo_height }}px !important;"#}
                         class="custom-height"
                     {% endif %}
                     title="{{ name }}" alt="{{ alt }}">
            </a>
        </div>
        <div class="d-flex flex-row w-100 h-100 bestme-flex-1 bestme-relative">
            <div class="d-flex flex-row w-100 h-100">
                <div class="bestme-search-global">
                    <form action="{{ urlserach }}" method="get">
                        <div class="block-search">
                            <i class="ti-search"></i>
                            <input type="text" placeholder="Tìm kiếm" name="search" class="bestme-input bestme-input--search-global">
                            <input type="hidden" name="route" value="common/shop">
                        </div>
                    </form>
                </div>

                {#{% if product_detail != '' %}
                    <div class="bestme-block-title-header-scroll bestme-hidden">
                        <h1 class="title">{{ product_detail['name'] }}</h1>
                        <div class="header-scroll-cost">
                            {% if product_detail['price_master_real'] is same as(0) or product_detail['max_price_version_real'] is same as(0) %}
                                {% if product_detail['max_price_version'] is null %}
                                    <span class="cost-present">{{ product_detail['compare_price_master']|number_format(0, ',', '.') }} {{ product_currency }}</span>
                                {% else %}
                                    <span class="cost-present">{{ product_detail['min_compare_price_version']|number_format(0, ',', '.') }} {{ product_currency }} ~ {{ product_detail['max_compare_price_version']|number_format(0, ',', '.') }} {{ product_currency }}</span>
                                {% endif %}
                            {% else %}
                                {% if product_detail['max_price_version'] is null %}
                                    <span class="cost-present">{{ product_detail['price_master']|number_format(0, ',', '.') }} {{ product_currency }}</span>
                                {% else %}
                                    <span class="cost-present">{{ product_detail['min_price_version']|number_format(0, ',', '.') }} {{ product_currency }} ~ {{ product_detail['max_price_version']|number_format(0, ',', '.') }} {{ product_currency }}</span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}#}

                <div class="bestme-list-action">
                    <ul class="list-action login-register ">
                        {% if logged_in == '' %}
                            <li class="action-item">
                                <a href="{{ login }}" class="action-link">Đăng nhập </a>
                            </li>
                            <li class="action-item">
                                <a href="{{ register }}" class="action-link">Đăng ký </a>
                            </li>
                        {% else %}
                            <li class="action-item bestme-hidden">
                                <a href="{{ login }}" class="action-link">Đăng nhập </a>
                            </li>
                            <li class="action-item">
                                <a href="javascript:void(0)" class="action-link " id="user-icon"><i class="ti-user"></i> </a>
                                <ul class="list-action-sub">
                                    <li>
                                        <a href="{{ my_account }}">Tài khoản của tôi </a>
                                    </li>
                                    <li>
                                        <a href="{{ logout }}">Đăng xuất </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>

                    {#{% if product_detail != '' %}
                        <form class="block-custom-change mb-4" id="add-to-cart-head" action="{{ action }}" method="POST">
                            <div class="bestme-action-title-header-scroll bestme-hidden d-flex">
                                <input type="hidden" name="product_id" value="{{ product_detail['product_id'] }}">
                                <input type="hidden" name="product_name_add_cart" value="{{ product_detail['name'] }}">
                                <input type="hidden" name="quantity" value="1">
                                <button type="button" class="bestme-btn bestme-btn--primary bestme-text--uppercase mr-lg-3"  onclick="cart_head.add('{{ product_detail['product_id'] }}')" {% if product_detail['product_version_id'] is not empty or product_detail['sale_on_out_stock_check'] == false %} disabled {% endif %}>Thêm vào giỏ </button>
                                <button type="submit" class="bestme-btn bestme-btn--primary bestme-text--uppercase" {% if product_detail['product_version_id'] is not empty or product_detail['sale_on_out_stock_check'] == false %} disabled {% endif %}>mua hàng ngay</button>
                            </div>
                        </form>
                    {% endif %}#}

                    <ul class="list-action-only-icon">
                        <li class="action-item">
                            <a href="{{ href_my_orders }}" class="action-link">
                                <i class="ti-shopping-cart"></i>
                                <span class="number-item-shop {% if total_product_cart > 99 %} over-99 {% endif %}"> {% if total_product_cart > 99 %} 99+ {% else %} {{ total_product_cart }} {% endif %} </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bestme-menu">
                <div class="bestme-menu-text">
                    <span class="icon-menu"></span>
                    <span class="menu-text">Menu</span>
                </div>

                <div class="list-menu">
                    <!--Sử dụng cho mobile-->
                    <div class="list-menu-overlay"></div>
                    <div class="list-action-user-mobile">
                        {% if logged_in == '' %}
                            <ul class="login-register">
                                <li><a href="{{ register }}">Đăng ký</a></li>
                                <li><a href="{{ login }}">Đăng nhập </a></li>
                            </ul>
                        {% else %}
                            <ul class="info-user">
                                <li><a href="{{ my_account }}">Tài khoản của tôi</a></li>
                                <li><a href="{{ logout }}">Đăng xuất </a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <!--End-->
                    <ul class="menu">

                        {% for idx, m in main_menu %}
                            {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                <li class="menu-item {{ result_active_menu == m.url ? 'active' : '' }}">
                                    {# one level #}
                                    <a class="{{ idx == -1 ? 'active' : '' }} menu-link" href="{{ m.url }}">{{ m.text }}</a>
                                </li>
                            {% else %}
                                <li class="menu-item has-child">
                                    {# two levels #}
                                    <a href="{{ m.url }}" class="menu-link">
                                        {{ m.text }}
                                        <i class="ti-angle-down icon-toogle"></i>
                                    </a>
                                    <ul class="sub-menu" aria-labelledby="navbarFeatureMenu">
                                        {% for it in m.items %}
                                            <li class="sub-menu-item">
                                                <a href="{{ it.url }}" class="sub-menu-link">
                                                    {{ it.text }}
                                                    {% if it.items is defined and it.items|length > 0 %}
                                                        <i class="ti-angle-down icon-toogle"></i>
                                                    {% endif %}
                                                </a>
                                                {% if it.items is defined and it.items|length > 0 %}
                                                    <ul class="sub-menu-child">
                                                        {% for it3 in it.items %}
                                                            <li class="sub-menu-child-item"><a class="sub-menu-child-link" href="{{ it3.url }}">{{ it3.text }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>