<!-- Box Products -->
{% for k, block in blocks if k > 2 %}
    {% set items_per_slide = block['grid'] * block['row'] %}
    {% if block['collections'] is not empty %}
    <div class="box-product with-tab block-sale-off-product mb-3 {{ block['bestme_block_preview_class'] }}">
        <div class="d-flex flex-wrap border-lg-bottom">
            <h2 class="box-title align-self-center border-bottom border-lg-bottom-0 w-100 w-lg-auto">
                <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
            </h2>
            <ul class="nav nav-tabs align-self-center flex-nowrap mt-3 mt-lg-0 border-0"
                role="tablist">
                {% for j, collection in block['collections'] %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if 0 == j %}active{% endif %} btn-change-product-tab"
                           data-toggle="tab"
                           href="#product-tab-{{ k }}-{{ j }}"
                           role="tab"
                           aria-controls="product-tab-{{ k }}-{{ j }}"
                           aria-selected="true"
                           data-collection_id="{{ collection['collection_id'] }}"
                           data-grid="{{ block['grid'] }}"
                           data-row="{{ block['row'] }}"
                           data-is_loaded=0
                        >{{ collection['title'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-content mt-lg-3">
        {% for j, collection in block['collections'] %}
        <div class="tab-pane fade show {% if 0 == j %}active{% endif %} mx-n1" id="product-tab-{{ k }}-{{ j }}"
             role="tabpanel" aria-labelledby="product-tab-{{ k }}-{{ j }}">
            <div class="owl-product owl-collection-product owl-carousel owl-theme d-flex"
                 data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
            {% set product_count = 0 %}
            {% set slide_rendering = false %}
            {% for product_index, product in block['products'] %}
                {% if collection['collection_id'] in product['collections'] %}
                    {% set product_count = product_count + 1 %}
                    {% if 1 == items_per_slide or 1 == product_count % items_per_slide %}
                        {% set slide_rendering = true %}
                        <div class="slide-item px-2">
                        <div class="row m-0 row-cols-{{ block['grid'] }}">
                    {% endif %}
                    <div class="col p-0">
                        <div class="pro-item" title="{{ product['name']|length > 40 ? product['name'] : '' }}" data-toggle="tooltip" data-placement="top">
                            {% if product['percent_sale'] is not empty %}
                                <div class="pro-sticky sale-off">{{ product['percent_sale'] }}</div>
                            {% endif %}
                            <p class="pro-cat fz-12 text-second m-0">{{ product['nameCategory'] is empty ? '<br>' : product['nameCategory'] }}</p>
                            <a href="{{ product['href'] }}" class="pro-item-title">{{ product['name'] }}</a>
                            <div class="img-thumb pro-thumb position-relative">
                                <div class="img-wrap">
                                    <img data-src="{{ product['thumb'] }}" src="{{ placeholder_image_url }}" class="lazyload" height="500" width="200" alt="{{ product['name'] }}">
                                </div>
                            </div>
                            <div class="d-flex home-product-sticky">
                                {% if product['product_is_stock'] == false %}
                                    <div class="pro-sticky sale-off out-stock">hết hàng</div>
                                {% endif %}
                            </div>
                            <div class="pro-info">
                                <div class="pro-price my-2">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="new-price text-third fw-600">
                                                                        {{ contact }}
                                                                    </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price text-third fw-600">
                                                                            {% if product['max_price_version'] is null %}
                                                                                {{ product['compare_price_master'] }}
                                                                            {% else %}
                                                                                {{ product['min_compare_price_version'] }}
                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                    ~ {{ product['max_compare_price_version'] }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </span>
                                        {% else %}
                                            <span class="new-price text-third fw-600">
                                                                            {% if product['max_price_version'] is null %}
                                                                                {{ product['price_master'] }}
                                                                            {% else %}
                                                                                {{ product['min_price_version'] }}
                                                                                {% if product['max_price_version'] != product['min_price_version'] %}
                                                                                    ~ {{ product['max_price_version'] }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            </span>
                                            <span class="old-price text-second fz-12">
                                                                            {% if product['max_compare_price_version'] is null %}
                                                                                {{ product['compare_price_master'] }}
                                                                            {% else %}
                                                                                {{ product['min_compare_price_version'] }}
                                                                                {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                                    ~ {{ product['max_compare_price_version'] }}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="pro-overlay">
                                <div class="transition d-flex justify-content-center align-items-center">
                                    <a href="{{ product['href'] }}" class="view-now btn-icon">
                                        <i class="icon icon-eye"></i>
                                    </a>
                                    <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </div>
                                <a href="{{ product['href'] }}" class="buy-now btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <!-- end col pro -->
                    {% if 1 == items_per_slide or 0 == product_count % items_per_slide %}
                        {% set slide_rendering = false %}
                        </div>
                        <!-- End row -->
                        </div>
                        <!-- End slide-item -->
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if true == slide_rendering %}
                </div>
                <!-- End row -->
                </div>
                <!-- End slide-item -->
            {% endif %}
            </div>
            </div>
        {% endfor %}
        </div>
        <!-- End owl-product -->
        </div>
    {% else %}
        <div class="box-product box-product-home with-tab block-sale-off-product mb-3 {{ block['bestme_block_preview_class'] }}">
            <div class="d-flex flex-wrap border-lg-bottom">
                <h2 class="box-title align-self-center border-bottom border-lg-bottom-0 w-100 w-lg-auto">
                    <a href="{{ block['view_more'] }}">{{ block['title'] }}</a>
                </h2>
            </div>

            <div class="owl-product owl-carousel owl-theme d-flex"
                 data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                {% for product_index, product in block['products'] %}
                    {% set product_count = product_count + 1 %}
                    {% if 1 == items_per_slide or 1 == product_count % items_per_slide %}
                        <div class="slide-item px-2">
                        <div class="row m-0 row-cols-{{ block['grid'] }}">
                    {% endif %}
                    <div class="col p-0">
                        <div class="pro-item" title="{{ product['name']|length > 40 ? product['name'] : '' }}" data-toggle="tooltip" data-placement="top">
                            {% if product['percent_sale'] is not empty %}
                                <div class="pro-sticky sale-off">{{ product['percent_sale'] }}</div>
                            {% endif %}
                            <p class="pro-cat fz-12 text-second m-0">{{ product['nameCategory'] is empty ? '<br>' : product['nameCategory'] }}</p>
                            <a href="{{ product['href'] }}" class="pro-item-title">{{ product['name']|length > 30 ? product['name']|slice(0, 30) ~ '...' : product['name'] }}</a>
                            <div class="img-thumb pro-thumb position-relative">
                                <div class="img-wrap">
                                    <img data-src="{{ product['thumb'] }}" src="{{ placeholder_image_url }}" class="lazyload" height="500" width="200" alt="{{ product['name'] }}">
                                </div>
                            </div>
                            <div class="d-flex home-product-sticky">
                                {% if product['product_is_stock'] == false %}
                                    <div class="pro-sticky sale-off out-stock">hết hàng</div>
                                {% endif %}
                            </div>
                            <div class="pro-info">
                                <div class="pro-price my-2">
                                    {% if product['is_contact_for_price'] %}
                                        <span class="new-price text-third fw-600">
                                                    {{ contact }}
                                                </span>
                                    {% else %}
                                        {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                            <span class="new-price text-third fw-600">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                        {% else %}
                                            <span class="new-price text-third fw-600">
                                                        {% if product['max_price_version'] is null %}
                                                            {{ product['price_master'] }}
                                                        {% else %}
                                                            {{ product['min_price_version'] }}
                                                            {% if product['max_price_version'] != product['min_price_version'] %}
                                                                ~ {{ product['max_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                            <span class="old-price text-second fz-12">
                                                        {% if product['max_compare_price_version'] is null %}
                                                            {{ product['compare_price_master'] }}
                                                        {% else %}
                                                            {{ product['min_compare_price_version'] }}
                                                            {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                                ~ {{ product['max_compare_price_version'] }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="pro-overlay">
                                <div class="transition d-flex justify-content-center align-items-center">
                                    <a href="{{ product['href'] }}" class="view-now btn-icon">
                                        <i class="icon icon-eye"></i>
                                    </a>
                                    <a href="{{ product['href'] }}" class="add-to-cart btn-icon">
                                        <i class="icon icon-cart"></i>
                                    </a>
                                </div>
                                <a href="{{ product['href'] }}" class="buy-now btn btn-primary">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <!-- end col pro -->
                    {% if 1 == items_per_slide or 0 == (product_index + 1) % items_per_slide or loop.last %}
                        </div>
                        <!-- End row -->
                        </div>
                        <!-- End slide-item -->
                    {% endif %}
                {% endfor %}
            </div>
            <!-- End owl-product -->
        </div>
    {% endif %}
    {% if 4 == k %}
        {% include theme_name ~ '/template/common/banner_5_6_7.twig' %}
    {% endif %}
{% endfor %}
<!-- End: Box Products -->
<div class="bestme_app_after_product">

</div>