{% if latest_blog %}
    <!-- Box News -->
    <div class="box-news block-blog mb-3 bestme-block-blog">
        <h3 class="box-title border-bottom w-100 d-block mb-4 text-left fz-lg-20 fz-16">
            <a href="{{ url_blog }}" class="btn btn-primary rounded-10 rounded-bottom-0 py-2 px-4 fw-500">{{ blog_title }}</a>
        </h3>
        <!-- /.box-title-center -->

        {% set max_blog_count = blog_config.grid * blog_config.row %}
        <div class="row row-cols-{{ blog_config.grid }}">
            {% for k, blog in latest_blog if k < max_blog_count %}
                <!-- News Item -->
                <div class="col">
                    <div class="news-item">
                        <div class="col-4 p-0">
                            <a href="{{ blog['link'] }}" class="img-thumb news-thumb">
                                <div class="img-wrap">
                                    {% if blog['type'] == 'video' %}
                                        <div id="blog-thumb-video-{{ k }}" class="blog-thumb-video" style="width: 100%; height: 100%"
                                             data-video-url="{{ blog['video_url'] }}"></div>
                                    {% else %}
                                        <img data-src="{{ blog['image'] }}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ blog['title'] }}">
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        <div class="col pl-3">
                            <div class="news-info d-flex flex-wrap h-100">
                                <a href="{{ blog['link'] }}" class="news-title" title="{{ blog['title']|length > 60 ? blog['title'] : '' }}" data-toggle="tooltip">
                                    {{ blog['title']|length > 60
                                    ? blog['title']|html_entity_decode|slice(0, 60) ~ '...'
                                    : blog['title']|html_entity_decode }}</a>
                                <div class="news-desc d-none d-md-block">
                                    {{ blog['short_content']|length > 180
                                    ? blog['short_content']|html_entity_decode|striptags|slice(0, 180) ~ '...'
                                    : blog['short_content']|html_entity_decode|striptags }}
                                </div>
                                <a class="btn btn-primary mt-2 py-2 px-3 align-self-end rounded-30 fw-500"
                                   href="{{ blog['link'] }}">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: News Item -->
            {% endfor %}
        </div>
    </div>
    <!-- End: Box News -->
{% endif %}