{% if rate_visible == 1 %}
    <div class="box-rate with-tab mb-3 bestme-block-rate-website">
        <h3 class="box-title border-bottom w-100 d-block mb-4 text-left fz-lg-20 fz-16">
            <a class="btn btn-primary rounded-10 rounded-bottom-0 py-2 px-4 fw-500">{{ rate_config.setting.title ? rate_config.setting.title : 'Đánh giá website' }}</a>
        </h3>
        {#slide rate #}
        <div id="owl-rate" class="owl-carousel owl-theme"
             data-autoplay="{{ rate_config.setting.autoplay }}"
             data-autoplay_time="{{ rate_config.setting.autoplay_time }}"
             data-loop="{{ rate_config.setting.loop }}"
             data-number_items="{{ rate_config.display.grid }}"
        >
                {% set items_per_slide = rate_config.display.grid * rate_config.display.row %}
                {% for rate_website in rate_website_all %}
            {% if 1 == items_per_slide or 1 == loop.index % items_per_slide %}
            <div class="slide-item" >
                <div class="row m-0 row-cols-{{ rate_config.display.grid }}">
                    {% endif %}
                        <div class="item-rate col pb-5">
                            <div class="avatar">
                                <img data-src="{% if rate_website['image'] %}{{ rate_website['image'] }}{% else %}/image/placeholder.png{% endif %}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ rate_website['alt'] }}">
                            </div>
                            <div class="customer-name">
                                <h3>{{ rate_website['customer_name'] }}</h3>
                            </div>
                            <div class="content">
                                <div class="icons">
                                    <div class="icon">
                                        <img data-src="/catalog/view/theme/furniture_furniter/img/icons/comma.svg" src="{{ placeholder_image_url }}" class="lazyload" alt="icon">
                                    </div>
                                    <div class="icon">
                                        <img data-src="/catalog/view/theme/furniture_furniter/img/icons/comma.svg" src="{{ placeholder_image_url }}" class="lazyload" alt="icon">
                                    </div>
                                </div>
                                <div class="text-content">
                                    <p>
                                        {{ rate_website['content']|length > 150
                                        ? rate_website['content']|striptags|slice(0, 150) ~ '...'
                                        : rate_website['content']|striptags }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% if 0 == loop.index % items_per_slide or loop.last %}
                        </div> <!-- End col product -->
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
{% endif %}
<style>
    .item-rate {
        text-align: center;
    }
    #owl-rate .owl-dots {
        text-align: center;
    }
    .item-rate .avatar {
        width: 80px;
        height: 80px;
        margin: auto;
        border-radius: 1000px !important;
        overflow: hidden;
    }
    .item-rate .customer-name h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #3F4755;
        padding: 16px;
    }
    .item-rate .content .icons {
        padding: 17px 20px 34px 20px;
    }
    .item-rate .content .icon {
        width: 12px;
        height: 20px;
        float: left;
    }
    .item-rate .content {
        background: #f8f8f8;
        max-width: 350px;
        margin: auto;
        border-radius: 10px;
    }
    .item-rate .content .text-content{
        clear: left;
        padding: 0px 20px 1px 20px;
        text-align: justify;
    }

</style>