<div class="row mb-lg-4">
    {% set banners_next_to_slider_visible = banners_visible == '1' and
        ((banners[0] is defined and banners[0]['visible'] == '1')
        or (banners[1] is defined and banners[1]['visible'] == '1')) %}
    <div class="col-12 col-lg-{% if banners_next_to_slider_visible %}8{% else %}12{% endif %} mb-3">
        <div class="home-slider page-slider">
            <div id="carouselHome" class="carousel slide carousel-slide bestme-block-slideshow" data-ride="carousel" data-interval="{{ slideshow.transition_time }}">
                <div class="carousel-inner">
                    {% for slide_key, slide in slideshow.slides %}
                        {% if slide['type'] == 'video' %}
                            <div class="carousel-item {% if 0 == slide_key %} active{% endif %}">
                                <div id="video-slideshow-{{ slide_key }}" class="video-slideshow"
                                     data-video-url="{{ slide['video-url'] }}">
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item {% if 0 == slide_key %} active{% endif %}">
                                <a href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                    <img data-src="{{ slide['image-url'] }}" src="{{ placeholder_image_url }}" class="lazyload" alt="{{ slide['description'] }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- End: carousel-inner -->
                <ol class="carousel-indicators">
                    {% for slide_key, slide in slideshow.slides %}
                        <li data-target="#carouselHome" data-slide-to="{{ slide_key }}" class="{% if 0 == slide_key %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <!-- End: carousel-indicators -->
            </div>
            <!-- End: carouselHome -->
        </div>
        <!-- End: Home Slider -->
        <div class="bestme_app_after_slide">

        </div>
    </div>
    {% if banners_next_to_slider_visible %}
        <div class="col-12 col-lg-4" id="home-banner-wrapper">
            <div class="mb-lg-0 d-flex flex-wrap h-100">
                {% if banners[0] is defined and banners[0]['visible'] == '1' %}
                    <a href="{{ banners[0]['url'] }}" target="_blank" class="mb-3 w-100" title="{{ banners[0]['description'] }}">
                        <img data-src="{{ banners[0]['image-url'] }}" src="{{ placeholder_image_url }}" width="100%" alt="{{ banners[0]['description'] }}" class="bestme-block-banner-1 lazyload">
                    </a>
                {% endif %}
                {% if banners[1] is defined and banners[1]['visible'] == '1' %}
                    <a href="{{ banners[1]['url'] }}" target="_blank" class="align-self-end w-100 mb-3" title="{{ banners[1]['description'] }}">
                        <img data-src="{{ banners[1]['image-url'] }}" src="{{ placeholder_image_url }}" width="100%" alt="{{ banners[1]['description'] }}" class="bestme-block-banner-2 lazyload">
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>