{{ header }}
<main class="main-content">
    <div class="container" id="products-page">
        {#{% if banners.visible_banner == 1 %}#}
        {#    <div class="product-banner mt-4 bestme-block-category-banner">#}
        {#        <a href="{{ banners.url_banner }}"><img src="{{ banners.url_image }}"></a>#}
        {#    </div>#}
        {#{% endif %}#}
        
        {#<nav aria-label="breadcrumb" class="my-4 pt-1 py-5">#}
        {#    <ol class="breadcrumb">#}
        {#        {% for breadcrumb in breadcrumbs %}#}
        {#            {% if breadcrumb['active'] is defined  %}#}
        {#                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>#}
        {#            {% else %}#}
        {#                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>#}
        {#            {% endif %}#}
        {#        {% endfor %}#}
        {#    </ol>#}
        {#</nav>#}
        
        <nav aria-label="breadcrumb" class="my-md-4 pt-1 pb-md-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
        
        <div class="row">
            <div class="content-left col-12 col-md-9 mb-5">
                <div class="product-view">

                    <div class="view-header mb-4">
                        <!-- Chỉ hiển thị trong trang tìm kiếm hoặc không có sản phẩm -->
                        {% if getsearch != '' %}
                            <div class="result-message mb-4">
                                <span><i class="icon icon-search"></i>  Tìm thấy {{ products|length }} sản phẩm cho từ khóa “{{ getsearch }}”</span>
                            </div>
                        {% elseif products|length == 0 %}
                            <div class="result-message mb-4">
                                <span>Không có sản phẩm</span>
                            </div>
                        {% endif %}


                        <div class="px-2 py-3 rounded-2 d-block d-md-flex action-filter">
                            {#<span class="count-display align-self-center">#}
                            {#    Hiển thị: {{ total_product < start_product ? total_product : start_product }} - {{ total_product < end_product ? total_product : end_product }} trong tổng số {{ total_product }} sản phẩm#}
                            {#</span>#}
                            <h4 class="shop-page-title" id="shoppage-title"></h4>
                            <div class="text-right ml-auto" id="product-list-header-buttons">
                                <div class="filter d-inline-block d-md-none float-left font-weight-500 pt-1">Bộ lọc</div>
                                <div class="d-inline-block d-md-block">
                                    <span class="mr-2">Sắp xếp:</span>
                                    <div class="dropdown d-inline">
                                        <a class="btn btn-default border rounded-2 p-1 px-1 d-inline-block" href="#" id="dropdownOrderProductFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 10">
                                            {% if valueoptiton == 1 %}
                                                Theo tên: A-Z
                                            {% elseif valueoptiton == 2 %}
                                                Theo tên: Z-A
                                            {% elseif valueoptiton == 3 %}
                                                Theo giá: Từ cao đến thấp
                                            {% elseif valueoptiton == 4 %}
                                                Theo giá: Từ thấp đến cao
                                            {% else %}
                                                Mới nhất
                                            {% endif %}
                                            <i class="icon icon-chevron-down ml-3 font-10"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrderProductFilter">
                                            <a class="dropdown-item" href="{{ urlsortProduct }}" data-value="-1">Mới nhất</a>
                                            <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=1" data-value="1">Theo tên: A-Z</a>
                                            <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=2" data-value="1">Theo tên: Z-A</a>
                                            <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=3" data-value="1">Theo giá: Từ cao đến thấp</a>
                                            <a class="dropdown-item" href="{{ urlsortProduct }}&valueoptiton=4" data-value="1">Theo giá: Từ thấp đến cao</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- End view header -->

                    <div class="view-results">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-6 col-md-4">
                                <div class="text-center product-item px-0 py-2">
                                        <div class="product-info">
                                                {#{% if product['is_new_product'] %}#}
                                                {#            <div class="product-highlight text-center">#}
                                                {#                <span class="status">Mới</span>#}
                                                {#            </div>#}
                                                {#{% elseif product['product_is_stock'] == false %}#}
                                                {#            <div class="product-highlight text-center">#}
                                                {#                <span class="status">hết</span>#}
                                                {#            </div>#}
                                                {#{% elseif product['percent_sale'] is not empty %}#}
                                                {#            <div class="product-highlight text-center">#}
                                                {#                <span class="sale">{{ product['percent_sale'] }}</span>#}
                                                {#            </div>#}
                                                {#{% endif %}#}
                                                {% if product['Percent_protduct'] is not empty %}
                                                    <div class="product-highlight-sale"></div>
                                                {% endif %}
                                            <a href="{{ product['href'] }}" title="{{ product.name }}">
                                                {#<div class="product-image" style="background-image: url({{ product['thumb'] }});"></div>#}
                                                <img class="product-image" src="{{ product['thumb'] }}" alt="{{ product.name }}">
                                            </a>
                                            <div class="product-name">
                                                <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 25 ? product.name|slice(0, 25) ~ '...' : product.name }}</a>
                                            </div>
                                            
                                        <div class="contain-price">
                                                {% if product.multi_versions == 1 %}
                                                    {% if product.price_version_check_null !=0 %}
                                                        {% if product.compare_version_min != 0 %}
                                                            <strike class="product-price-sale">
                                                                <span class="price">
                                                                    {{ product.compare_version_min }}
                                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                                        ~ {{ product.compare_version_max }}
                                                                    {% endif %}
                                                                </span>
                                                            </strike>
                                                            <span class="product-price">
                                                                <span class="price">{{ product.price_version_min }}
                                                                {% if product.price_version_max != product.price_version_min %}
                                                                    ~ {{ product.price_version_max }}
                                                                {% endif %}</span>
                                                            </span>
                                                        {% else %}
                                                        <span class="product-price">
                                                            <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                        </span>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if product.compare_version_min != 0 %}
                                                            <span class="product-price">
                                                                <span class="price">
                                                                    {{ product.compare_version_min }}
                                                                    {% if product.compare_version_max != product.compare_version_min %}
                                                                        ~ {{ product.compare_version_max }}
                                                                    {% endif %}
                                                                </span>
                                                            </span>
                                                        {% else %}
                                                        <span class="product-price">
                                                            <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                        </span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if product.price == 0 %}
                                                        {% if product.compare_price == 0 %}
                                                            <span class="product-price">
                                                                <a class="cart-btn cart-contact" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>
                                                            </span>
                                                        {% else %}
                                                            <span class="product-price">
                                                                <span class="price">{{ product.compare_price }}</span>
                                                            </span>
                                                        {% endif %}
                                                    {% else %}
                                                        <strike class="product-price-sale">
                                                            <span class="price">{{ product.compare_price }}</span>
                                                        </strike>
                                                        <span class="product-price">
                                                            <span class="price">{{ product.price }}</span>
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                        </div>
                                        
                                        {#{% if product.multi_versions == 1 %}#}
                                        {#    {% if product.price_version_check_null !=0 %}#}
                                        {#        {% if product.compare_version_min != 0 %} #}
                                        {#            <div class="product-link-detail d-flex">#}
                                        {#                <a href="{{ product['href'] }}" class="cart-btn w-100"><i class="fas fa-shopping-cart mr-3"></i>Thêm vào giỏ hàng</a>#}
                                        {#            </div>#}
                                        {#        {% else %}#}
                                        {#            <div class="product-link-detail d-flex">#}
                                        {#                <a class="cart-btn w-100" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>#}
                                        {#            </div>#}
                                        {#        {% endif %}#}
                                        {#    {% else %}#}
                                        {#        {% if product.compare_version_min != 0 %} #}
                                        {#            <div class="product-link-detail d-flex">#}
                                        {#                <a href="{{ product['href'] }}" class="cart-btn w-100"><i class="fas fa-shopping-cart mr-3"></i>Thêm vào giỏ hàng</a>#}
                                        {#            </div>#}
                                        {#        {% else %}#}
                                        {#            <div class="product-link-detail d-flex">#}
                                        {#                <a class="cart-btn w-100" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>#}
                                        {#            </div>#}
                                        {#        {% endif %}#}
                                        {#    {% endif %}#}
                                        {#{% else %}#}
                                        {#    {% if product.price == 0 %}#}
                                        {#        {% if product.compare_price == 0 %}#}
                                        {#            <div class="product-link-detail d-flex">#}
                                        {#                <a class="cart-btn w-100" data-toggle="modal" data-target="#modal-buy">Liên hệ</a>#}
                                        {#            </div>#}
                                        {#        {% else %}#}
                                        {#            <div class="product-link-detail d-flex">#}
                                        {#                <a href="{{ product['href'] }}" class="cart-btn w-100"><i class="fas fa-shopping-cart mr-3"></i>Thêm vào giỏ hàng</a>#}
                                        {#            </div>#}
                                        {#        {% endif %}#}
                                        {#    {% else %}#}
                                        {#        <div class="product-link-detail d-flex">#}
                                        {#            <a href="{{ product['href'] }}" class="cart-btn w-100"><i class="fas fa-shopping-cart mr-3"></i>Thêm vào giỏ hàng</a>#}
                                        {#        </div>#}
                                        {#    {% endif %}#}
                                        {#{% endif %}#}
                                        
                                        <div class="product-link-detail d-flex">
                                            <a href="{{ product['href'] }}" class="cart-btn w-100"><i class="fas fa-shopping-cart mr-3"></i>Thêm vào giỏ hàng</a>
                                        </div>
                                        </div>
                                </div> <!-- End Pro Item -->
                            </div> <!-- End col product -->
                            {% endfor %}
                        </div> <!-- End row -->
                    </div> <!-- End view results -->

                    {{ pagination }}

                </div> <!-- End product-view -->
            </div> <!-- End content right -->
            
            
            <div class="col-12 col-md-3 sidebar-right" data-collection="{{ visible_collection }}" data-category="{{ visible_category }}" data-supplier="{{ visible_supplier }}" data-price="{{ visible_product_price }}"
                data-attribute="{{ visible_attribute }}" data-tag="{{ visible_tag }}">
                <h2 class="text-uppercase mb-3 product-block-filter-title pb-3">Bộ lọc sản phẩm</h2>
                <div class="sidebar-content bestme-block-filter-1" id="product-list-filter">
                    {% if visible_collection == 1 %}
                    <div class="product-block-filter rounded-2 mb-4" id="product-collection">
                        <h2 class="block-title">{{ visible_collection_title }}</h2>
                        <nav class="nav flex-column">
                            {% for collection in collections %}
                                <a href="{{ collection.url }}" class="nav-link {{ filter_collection_id == collection.collection_id ? 'active' : '' }}" data-title="{{ collection.name }}">{{ collection.name }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product collection -->
                    {% endif %}
                    {% if visible_category == 1 %}
                    <div class="product-block-filter rounded-2 mb-4" id="product-category">
                        <h2 class="block-title">{{ visible_category_title }}</h2>
                        <nav class="nav flex-column">
                            {% for category in categorys %}
                                <a href="{{ category.url }}" class="nav-link {{ filter_category_id == category.category_id ? 'active' : '' }}" data-title="{{ category.name }}">{{ category.name }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product category -->
                    {% endif %}
                    {% if visible_supplier == 1 %}
                    <div class="product-block-filter rounded-2 mb-2" id="product-provider">
                        <h2 class="block-title">{{ visible_supplier_title }}</h2>
                        <nav class="nav flex-column">
                            {% for manufacturer in manufacturers %}
                                <a href="{{ manufacturer.url }}" class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">{{ manufacturer.name }}</a>
                            {% endfor %}
                        </nav>
                    </div> <!-- End product provider -->
                    {% endif %}
                    {% if visible_product_price == 1 %}
                    <div class="box-product-filter product-block-filter rounded-2 mb-4" id="product-price">
                        <h2 class="block-title">Giá</h2>
                        <div class="price-range py-3">
                            <div class="mb-3" id="slider-range"></div>
                            <p id="amount" class="text-center"></p>
                            <input type="hidden" id="amount1" name="amount1">
                            <input type="hidden" id="amount2" name="amount2">
                        </div>
                    </div> <!-- End product category -->
                    {% endif %}
                    {% if visible_attribute == 1 %}
                        <div class="box-product-filter rounded-2 border px-4" id="product-attribute">
                            {% include 'default/template/common/attribute_filter_template.twig' %}
                        </div>
                    {% endif %}
                    {% if visible_tag == 1 %}
                        <div class="box-product-filter rounded-2 border px-4" id="product-tag">
                            <h2 class="block-title">TAGS</h2>
                            <nav class="nav flex-column pt-2">
                            {% include 'default/template/common/tag_filter_template.twig' %}
                            </nav>
                        </div>
                    {% endif %}
                </div> <!-- End sidebar content -->
            
                {#<h2 class="slide-list-title py-3">Sản phẩm bán chạy</h2>#}
                {#<section id="diffslide-hot-products">#}
                {#    <div id="diffslide-products-carousel" class="carousel carousel-products slide" data-ride="carousel">#}
                {#        <div class="carousel-inner"></div>#}
                        
                {#        <a class="carousel-control carousel-control-prev" href="#diffslide-products-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>#}
                {#        <a class="carousel-control carousel-control-next" href="#diffslide-products-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>#}
                {#    </div>#}
                {#</section>#}
                
                {#<h2 class="slide-list-title py-3">Khuyến mãi</h2>#}
                {#<section id="difflist-sale-off-products">#}
                {#    <div id="list-sale_off-products" class="d-inline-block w-100"></div>#}
                {#</section>#}
            </div> <!-- End sidebar-right -->
        </div> <!-- End row -->
        
    </div> <!-- End container -->
</main> <!-- End main content -->


<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });
</script>


<script>
    $("body").on('DOMSubtreeModified', "#product-sort .select-selected", function() {
        var text = $('#product-sort .select-selected').text();
        if($.trim(text) !== ''){
            var val = $('#product-sort-select option').filter(function () { return $(this).html() === text; }).val();
            window.location = val;
        }
    });


    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = '{{ price_min }}';
        if(min === ''){
            min = {{ visible_product_price_from }};
        }
        var max = '{{ price_max }}';
        if(max === ''){
            max = {{ visible_product_price_to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ visible_product_price_from }},
            max: {{ visible_product_price_to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").text(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                delayOnChange(function () {
                    var url = '{{ filter.product_price_url  | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
                    var regexMin = new RegExp("&min=\\d+");
                    var regexMax = new RegExp("&max=\\d+");
                    url = url.replace(regexMin, '');
                    url = url.replace(regexMax, '');
                    // console.log(ui.values[1]);
                    window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                    $("#amount1" ).val(ui.values[ 0 ]);
                    $("#amount2" ).val(ui.values[ 1 ]);
                });
            }
        });
        $("#amount").text(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }
</script>

<!-- block-footer -->
{{ footer }}
<!-- /.block-footer -->
