{{ header }}

<div id="block-headding-elm" class="block-headding-elm">
    <div class="container">
        <h2 class="title-font title-color">Blog</h2>
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['href'] is defined %}
                    <a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
                {% else %}
                    <span class="breadcrumb-item active">{{ breadcrumb['text'] }}</span>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div id="block-news-page" class="block-news-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-4">
                {% if blog is empty %}
                    Không có bài viết
                {% else %}
                    <article>
                        <div class="block-news-detail">
                            <h1 class="name">
                                {{ blog['title'] }}
                            </h1>
                            <div class="meta">
                                <div class="meta-item author">
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    <span>{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                </div>
                                <div class="meta-item">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <span>{{ blog['date_added']|date('Y-m-d') }}</span>
                                </div>
                            </div>
                            <div class="detail-content">
                                <img class="img-fluid mb-5" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                {{ blog['content']|html_entity_decode }}
                            </div>

                            <div class="block-share">
                                <div class="tag" >
                                    <span class="color">Danh mục: </span>
                                    {% for category in blog['blog_categories'] %}
                                        <span>{{ category['title'] }}</span>
                                    {% endfor %}
                                </div>
                                <div class="share">
                                    <span>Chia sẻ: </span>
                                    {% for so in social %}
                                        <a href="{{ so['href'] }}"><i class="{{ so['content'] }}" aria-hidden="true"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <div id="block-sidebar" class="block-sidebar">

                    <div class="widget-sidebar">
                        <h4 class="widget-title title-font">
                            Bài viết mới nhất
                        </h4>
                        <div class="widget-content">
                            <div class="list-sidenews">
                                {% if blog_list_new is empty %}
                                    Không có bài viết
                                {% else %}
                                    {% for blog in blog_list_new %}
                                        {% if loop.index < 5 %}
                                            <div class="news-item">
                                                <div class="news-thumb">
                                                    <a href="{{ blog['link'] }}">
                                                        <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                    </a>
                                                </div>
                                                <div class="news-content">
                                                    <h6 class="name title-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h6>
                                                    <div class="meta">
                                                        <div class="meta-item">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            <span>{{ blog['date_added']|date('Y-m-d') }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title title-font">
                            Danh mục bài viết
                        </h4>
                        <div class="widget-content">
                            <div class="menu-side menu-none-arrow title-font">
                                <ul>
                                    {% for category in blog_category %}
                                        <li>
                                            <a class="a-normal" href="{{ category['link'] }}">{{ category['title'] }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="widget-sidebar">
                        <h4 class="widget-title title-font">
                            Gắn thẻ bài viết
                        </h4>
                        <div class="widget-content">
                            <div class="list-tag">
                                {% for tag in tags %}
                                    <a href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}