{{ header }}

<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                {% if breadcrumb['href'] is defined %}
                    <a class="breadcrumb-item" href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a>
                {% else %}
                    <span class="breadcrumb-item active">{{ breadcrumb['text'] }}</span>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>

<div class="block-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="block-blog-detail">
                    {% if blog is empty %}
                        Không có bài viết
                    {% else %}
                    <article>
                        <div class="article-content">
                            <div class="thumb text-center">
                                {% if blog['type'] == 'video' %}
                                    <div id="blog-thumb-video" class="blog-thumb-video" style="max-height: 350px; height: 43vw"
                                         data-video-url="{{ blog['video_url'] }}"></div>
                                {% elseif blog['image'] is not empty %}
                                 <img class="img-fluid" src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                {% endif %}
                            </div>
                            <div class="meta-blog">
                                <span class="author">
                                    <i class="fas fa-user"></i>
                                    <span>Posted By:</span>
                                    <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a></span>
                                <span class="blog-cat">
                                    <i class="fas fa-list-ul"></i>
                                    <span>In:</span>
                                    {% for blog_category in blog['blog_categories'] %}
                                    {% if loop.index < 2 %}
                                        <a href="{{ blog_category['link'] }}">{{ blog_category['title'] }}</a>
                                    {% else %}
                                        , <a href="{{ blog_category['link'] }}">{{ blog_category['title'] }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="blog-created">
                                    <i class="far fa-clock"></i>
                                    <span>On:</span>
                                    {{ blog['date_added']|date('d-m-Y') }}
                                </span>
                            </div>
                            <h1 class="name-blog header-font">{{ blog['title'] }}</h1>
                            <div class="desc">
                                {{ blog['content']|html_entity_decode }}
                            </div>
                        </div>
                    </article>
                    {% endif %}
                    <div class="social">
                        <span>Chia sẻ: </span>
                        <ul>
                        {% for so in social %}
                            {% if  so['content'] == 'fa fa-facebook-official' %}
                                <a href="{{ so['href'] }}" class="mb-3 mr-4"><i class="fab fa-facebook-f"></i></a>
                            {% elseif  so['content'] == 'fa fa-google-plus' %}
                                <a href="{{ so['href'] }}" class="mb-3 mr-4"><i class="fab fa-google-plus-g"></i></a>
                            {% elseif so['content'] == 'fa fa-twitter' %}
                                <a href="{{ so['href'] }}" class="mb-3"><i class="fab fa-twitter"></i></a>
                            {% else %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="block-side-blog">
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Bài viết liên quan</h4>
                        <div class="list-related">
                            {% if blog_relate is empty %}
                                Không có bài viết
                            {% else %}
                                {% for blog in blog_relate %}
                                    {% if loop.index < 5 %}
                                        <div class="related-item">
                                            <div class="thumb">
                                                <a href="{{ blog['link'] }}"><img src="{{ blog['image'] }}" alt=""></a>
                                            </div>
                                            <div class="content">
                                                <h5 class="type-blog header-font">
                                                    {% for blog_category in blog['blog_categories'] %}
                                                        {% if loop.index < 2 %}
                                                            {{ blog_category['title'] }}
                                                        {% else %}
                                                            , {{ blog_category['title'] }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </h5>
                                                <h3 class="name-blog header-font"><a href="{{ blog['link'] }}">{{ blog['title'] }}</a></h3>
                                                <div class="meta-blog">
                                                    <div class="author">
                                                        <span class="date">{{ blog['date_added']|date('d-m-Y') }} </span>bởi <a href="javascript:void(0)">{{ blog['lastname'] }} {{ blog['firstname'] }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                    <!-- /.side item -->
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Danh mục bài viết</h4>
                        <ul class="block-cate">
                            {% for category in blog_category %}
                                <li>
                                    <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %}>{{ category['title'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- /.side item -->
                    <!-- side item -->
                    <div class="side-item">
                        <h4 class="header-item header-font">Tags</h4>
                        <div class="list-tags">
                            {% for tag in tags %}
                                <a href="{{ tag['link'] }}" class="header-font {% if tag['tag_id'] == filter['tag_id'] %} active {% endif %}">{{ tag['value'] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.side item -->
                </div>
            </div>
        </div>
    </div>
</div>

{{ footer }}

<script src="/catalog/view/theme/default/js/blog_detail_video.js"></script>
<script>
    if (blogDetailVideo) {
        blogDetailVideo.init({
            videoElementId: 'blog-thumb-video',
            videoHeight: '100%',
            currentTheme: '{{ current_theme }}'
        });
    }
</script>