@import url('reset.css');
@import url('header.css');
@import url('footer.css');

/*Home page*/
.front-page .block-header,
.front-page .block-banner{
	background-color: rgba(12, 12, 14, 0.1);
	position: relative;
}
.front-page .block-banner::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	height: 100px;
	width: 100%;
	z-index: 0
}
.front-page .block-banner>.container{
	position: relative;
	z-index: 1;
}
.owl-product{
	position: relative;
}
.owl-product .owl-nav{
	margin: 0;
}
.owl-product .owl-nav button[class*=owl-]{
	opacity: 0.8;
	transition: all 0.2s ease-in;
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	padding: 0;
	margin: 0;
}
.owl-product .owl-nav .owl-prev{
	left: -30px;
}
.owl-product .owl-nav .owl-next{
	right: -30px;
}
.owl-product .owl-nav button[class*=owl-]:hover,
.owl-product .owl-nav button[class*=owl-]:focus{
	background: none;
	outline: none;
	opacity: 1;
}
.owl-product .owl-nav button[class*=owl-] i{
	font-size: 30px;
	background: #868686;
}
.owl-home-banner .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 12px;
	z-index: 1;
}
.owl-home-banner .owl-dots>button.owl-dot>span{
	display: none;
}
.owl-home-banner .owl-dots>button.owl-dot{
	width: 12px;
	height: 12px;
	border: 1px solid #FFFFFF;
	background: transparent;
	border-radius: 100%;
	margin: 10px 5px;
}
.owl-home-banner .owl-dots>button.owl-dot:hover,
.owl-home-banner .owl-dots>button.owl-dot:focus,
.owl-home-banner .owl-dots>button.owl-dot.active{
	background: #fff;
	outline: none;
}
.owl-home-banner .owl-dots{
	
}
.block-top-sale-product .banner-left{
	border: 2px solid #868686;
	box-sizing: border-box;
	border-radius: 4px;
	display: inline-flex;
}
.block-top-sale-product .banner-left img{
	top: 55px;
	position: relative;
	left: 50px;
}
/*End home page*/

/*Product*/
.owl-product .owl-item{
	padding: 0 15px;
}
.product-item{
	text-align: center;
	transition: all 0.2s ease-in;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px 25px;
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
}
.product-item:hover{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.product-item .product-highlight{
	position: absolute;
	top: 15px;
	left: 25px;
	display: flex;
	z-index: 1
}
.product-item .product-highlight >span{
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	border-radius: 4px;
	padding: 2px 12px;
	margin-right: 8px;
	color: #FFFFFF;
}
.product-item .product-highlight .sale{
	background: #EC6161;
}
.product-item .product-highlight .status{
	background: rgba(12, 12, 14, 0.6);
}
.product-item .product-img{
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 224px;
}
.product-item .product-title{
	color: #868686;
	margin: 10px 0;
	display: block;
	font-size: 16px;
}
.product-item .product-price{
	color: #464646;
	font-weight: bold;
	display: block;
	font-size: 16px;
}
.product-item .product-price-sale{
	color: #868686;
	font-size: 12px;
	display: block;
	text-decoration-line: line-through;
}
.product-item .product-preview{
	visibility: hidden;
	transition: all 0.3s ease-in;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 2;
	background: rgba(255, 255, 255, 0.71);
}
.product-item:hover .product-preview{
	visibility: visible;
	opacity: 1;
}
.product-item .product-preview .content{
	width: 120px;
	-ms-flex-item-align: center!important;
	align-self: center!important;
	margin: auto;
	transform: scale(0.4);
	transition: all 0.3s ease;
}
.product-item:hover .product-preview .content{
	transform: scale(1);
}
.product-item .product-preview .buy-btn{
	background: #3F3F3F;
	border-radius: 4px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.05em;
	padding: 10px 15px;
	margin-bottom: 12px;
	display: inline-block;
}
.product-item .product-preview .option{
	display: flex;
}
.product-item .product-preview .option .link{
	background: #FFFFFF;
	border: 1px solid #868686;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	display: flex;
	border-radius: 100%;
	margin: 0 8px;
}
.product-item .product-preview .option .link i{
	font-size: 14px;
	margin: auto;
	background: #868686;
	transition: all 0.3s ease;
}
.product-item .product-preview .option .link:hover i{
	background: #454545;
}
.product-item .product-rating{
	margin: 10px 0 20px;
}
.product-rating{
	margin: 10px 0;
}
.product-rating .rate-item{
	-webkit-mask-size: contain;
	-webkit-mask:  url('/catalog/view/theme/other_dothobtr/img/icons/star-off.svg') center no-repeat;
	mask: url('/catalog/view/theme/other_dothobtr/img/icons/star-off.svg') center no-repeat;
	background: #3F3F3F;
	width: 12px;
	height: 12px;
	display: inline-block;
}
.product-rating .rate-item:before{
}
.product-rating .rate-item.on{
	-webkit-mask-image:  url('/catalog/view/theme/other_dothobtr/img/icons/star-on.svg');
	mask-image: url('/catalog/view/theme/other_dothobtr/img/icons/star-on.svg');
}
.product-list-filter{

}
.product-list-filter .dropdown{
	margin-right: 40px;
}
.product-list-filter .dropdown .dropdown-toggle{
	font-weight: 500;
	text-transform: uppercase;
	color: #454545;
	padding: 5px 0;
	line-height: 30px;
	display: inline-block;
}
.product-list-filter .dropdown .dropdown-toggle:hover{
	text-decoration: none;
}
.product-list-filter .dropdown .dropdown-menu{
	background: #FFFFFF;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.19);
	border-radius: 2px;
	border: none;
	font-size: inherit;
	min-width: 260px;
}
.product-list-filter .dropdown .dropdown-item{
	padding: 5px 10px 5px 24px;
	transition: all 0.15s ease;
}
.product-list-filter .dropdown .dropdown-item:hover,
.product-list-filter .dropdown .dropdown-item.active{
	background: #3F3F3F;
	color: #fff
}
.product-list-filter .dropdown#product-sort{
	margin-right: 0;
}
.product-list-filter .dropdown#product-sort .dropdown-toggle{
	background: rgba(12, 12, 14, 0.05);
	border-radius: 2px;
	font-weight: normal;
	padding: 5px 10px;
}
.product-list-filter .dropdown .dropdown-toggle:after{
	width: 11px;
	height: 6px;
	-webkit-mask: url(../img/icons/drop-down.svg) center no-repeat;
	mask: url(../img/icons/drop-down.svg) center no-repeat;
	-webkit-mask-size: contain;
	-mask-size: contain;
	background-color: #3F3F3F;
	border: none;
	margin-left: 15px;
	top: 2px;
	position: relative;
}
.product-list-filter .dropdown#product-price .ui-widget.ui-widget-content{
	background: #E9E9E9;
	border-radius: 5px;
	height: 4px;
	border: none;
}
.product-list-filter .dropdown#product-price .ui-slider-horizontal .ui-slider-range{
	background: rgba(12, 12, 14, 0.6);
}
.product-list-filter .dropdown#product-price .ui-state-default, .ui-widget-content .ui-state-default{
	border-radius: 100%;
	width: 16px;
	height: 16px;
	top: -0.4em;
	background: #3F3F3F;
	border: none;
	outline: none;
	cursor: pointer;
}
/*End product*/

/*Blog*/
.blog-item{
	font-weight: 400;
	margin: 15px 0;
	text-align: center;
	padding: 0 15px 15px;
	transition: all 0.2s ease-in;
	border-radius: 4px;
}
.blog-item:hover{
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.blog-item .blog-img{
	margin: 0 -15px 30px;
}
.blog-item .blog-author{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.blog-item .blog-title{
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
}
.blog-item .blog-date{
	font-size: 12px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}
.blog-item .blog-link{
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 22px;
	color: #3F3F3F;
}
.blogs-page .blog-results{
	background-color: #fff;
	margin-top: -90px;
	position: relative;
}
.blogs-page.blog-detail .blog-results{
	margin-top: -150px;
}
/*End Blog*/

/*Breadcrumb*/
ol.breadcrumb{
	padding: 0;
	background: none;
}
ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before{
	content: "";
	-webkit-mask:  url('../img/icons/drop-down.svg') no-repeat center;
	mask: url('../img/icons/drop-down.svg') no-repeat center;
	background: #949494;
	width: 8px;
	height: 8px;
	display: inline-block;
	position: relative;
	-webkit-mask-size: contain;
	transform: rotate(-90deg);
	margin: 0 12px;
}
ol.breadcrumb .breadcrumb-item a{
	color: #949494;
	font-weight: 400;
}
ol.breadcrumb .breadcrumb-item,
ol.breadcrumb .breadcrumb-item.active{
	color: #3F3F3F;
	font-weight: 500;
}
/*End breadcrumb*/

/*Pagination*/
.pagination .page-item .page-link{
	border: none;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	color: #454545;
	letter-spacing: 0.05em;
	padding: 0 6px;
}
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover{
	text-decoration-line: underline;
	background: none;
}
.pagination .page-item .page-link i{
	top: 2px;
	background: rgba(69, 69, 69, 0.82);
}
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link{
	margin: 0 5px;
}
/*End pagination*/

/*Product detail*/
.product-teaser-fix{
	position: fixed;
    width: 100%;
    left: 0;
    top: 98px;
    background: #fff;
    z-index: 9999;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
    display: none;
    padding: 1em 0;
}
.product-detail .node-left .owl-thumb{
	width: 70px;
	float: left;
}
.product-detail .node-left .carousel#slider{
	width: calc(100% - 70px);
	float: left;
}
.product-detail .node-left .owl-thumb a{
	margin-bottom: 8px;
	border: 1px solid rgba(134, 134, 134, 0.3);
	display: inline-block;
}
.product-detail .node-left .owl-thumb a:hover,
.product-detail .node-left .owl-thumb a:visited,
.product-detail .node-left .owl-thumb a:focus{
	border: 1px solid #3F3F3F;
}
.product-detail .choose-attribute .attr-item label{
	font-weight: 400;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 2px;
}
.product-detail .choose-attribute .attr-item input:checked ~ label{
	font-weight: 500;
	border: 1px solid #3F3F3F;
}
#product-info-tab.nav-tabs .nav-link{
	background: #F6F6F6;
	border-radius: 2px 2px 0px 0px;
	color: #868686;
	line-height: 25px;
	padding: 10px 40px;
	border-radius: 0;
	margin-right: 8px;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	-ms-flex-item-align: end;
	align-self: flex-end;
	transition: all 0.2s ease;
}
#product-info-tab.nav-tabs .nav-item{
	margin: 0;
	display: flex;
}
#product-info-tab.nav-tabs .nav-link.active,
#product-info-tab.nav-tabs .nav-link:focus,
#product-info-tab.nav-tabs .nav-link:hover{
	padding: 15px 40px;
	color: #F9FAFB;
	background: #3F3F3F;
}
/*End Product detail*/

@media screen and (max-width: 991px){
	.block-header .fix-content.fixed .right-menu {
		top: 70px !important;
	}
}