/*
.header-font,
.content-font,
body,
.block-header .block-header-search .form-group .form-control::-webkit-input-placeholder,
.block-header .block-header-search .form-group .form-control:-ms-input-placeholder,
.block-header .block-header-search .form-group .form-control::-ms-input-placeholder,
.block-header .block-header-search .form-group .form-control::placeholder,
.block-header-menu .main-menu ul li .sub-menu li a,
.block-header-menu .block-header-search .form-group .form-control::-webkit-input-placeholder,
.block-header-menu .block-header-search .form-group .form-control:-ms-input-placeholder,
.block-header-menu .block-header-search .form-group .form-control::-ms-input-placeholder,
.block-header-menu .block-header-search .form-group .form-control::placeholder,
.product-item .product-content .action .btn-addcart,
.block-blog .blog-item .content .view-more a,
.block-footer .widget-footer span,
.block-footer .widget-footer form .form-group .btn-submit,
.block-footer .widget-footer .social span,
.custom-selectag,
.block-account-page .block-table-cart table thead tr th,
.block-cart-page .block-table-cart table thead tr th,
.block-account-page .block-table-history table thead tr th,
.block-cart-page .block-table-history table thead tr th,
.block-account-page .block-user-infor .btn-setting,
.block-cart-page .block-user-infor .btn-setting,
.block-blog-page .block-side-blog .side-item .block-cate li a,
.block-blog-page .block-blog-detail .social span,
.block-address-page .header-address .btn-add-address,
.block-address-page .elm-address .user-address .user-address-item .desc p span.type,
.block-404 .form-group .form-control::-webkit-input-placeholder,
.block-404 .form-group .form-control:-ms-input-placeholder,
.block-404 .form-group .form-control::-ms-input-placeholder,
.block-404 .form-group .form-control::placeholder,
.custom-selectag-2,
.block-contact-page .contact-group .social span,
.block-user-login .user-login .block-right .form-login .form-group .form-control,
.block-user-login .user-login .block-right .form-login .form-group .form-control::-webkit-input-placeholder,
.block-user-login .user-login .block-right .form-login .form-group .form-control:-ms-input-placeholder,
.block-user-login .user-login .block-right .form-login .form-group .form-control::-ms-input-placeholder,
.block-user-login .user-login .block-right .form-login .form-group .form-control::placeholder,
.block-user-login .user-login .block-right .form-login .form-group .btn-submit,
.block-user-login .user-login .block-right .form-login .form-group a,
.block-pages-product .product-list-filter .block-header-search .form-group .form-control::-webkit-input-placeholder,
.block-pages-product .product-list-filter .block-header-search .form-group .form-control:-ms-input-placeholder,
.block-pages-product .product-list-filter .block-header-search .form-group .form-control::-ms-input-placeholder,
.block-pages-product .product-list-filter .block-header-search .form-group .form-control::placeholder,
.block-pages-product .product-list-filter .block-filter .filter-item p,
.block-pages-product .product-list-filter .block-filter .filter-item ul li a,
.block-pages-product .product-list-filter .block-filter .filter-item .range-slider label,
.block-pages-product .product-list-filter .block-filter .filter-item .range-slider #amount,
.block-pages-product .product-list-filter .block-filter .filter-item .list-tag .tag,
.block-pagination .pagination li a,
.block-pages-productdetail .block-detail .price-wrap span,
.block-pages-productdetail .block-detail .block-custom-change .form-action .quantity input,
.block-pages-productdetail .block-detail .social span,
.block-pages-productdetail .block-description .nav-tabs .nav-item a,
.block-comment .comment-list .comment-item .comment-content .date,
.block-breadcrumb .breadcrumb .breadcrumb-item,
.popup-search .block-header-search .form-group .form-control::-webkit-input-placeholder,
.popup-search .block-header-search .form-group .form-control:-ms-input-placeholder,
.popup-search .block-header-search .form-group .form-control::-ms-input-placeholder,
.popup-search .block-header-search .form-group .form-control::placeholder,
#sidenav ul li a
{
    font-family: '$ALL_FONT$' !important;
}*/

/* now allow change font overall web
 * Notice: exclude font awesome .fa,.fab,.fal,.far,.fas
 */
*:not(.fa):not(.fab):not(.fal):not(.far):not(.fas) {
    font-family: '$ALL_FONT$' !important;
}

::-webkit-input-placeholder {
    font-family: '$ALL_FONT$' !important;
}
:-moz-placeholder {
    font-family: '$ALL_FONT$' !important;
}
::-moz-placeholder {
    font-family: '$ALL_FONT$' !important;
}
:-ms-input-placeholder {
    font-family: '$ALL_FONT$' !important;
}
