
<div class="col-md-3">
    <!-- product-list-filter -->
    <div class="product-list-filter">
        <!-- Search -->
        <div class="block-header-search mb-4">
            <div class="form-group">
                <form action="{{ urlserach }}" method="get">
                    <input type="text" name="search" id="" class="form-control content-font" placeholder="Tìm kiếm sản phẩm" aria-describedby="helpId">
                    <input type="hidden" name="route" value="common/shop">
                    <button type="submit" class="btn btn-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M21.4999 21.5L15.8999 15.9" stroke="#969696" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9.5 18.5C14.4706 18.5 18.5 14.4706 18.5 9.5C18.5 4.52944 14.4706 0.5 9.5 0.5C4.52944 0.5 0.5 4.52944 0.5 9.5C0.5 14.4706 4.52944 18.5 9.5 18.5Z" stroke="#969696" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        <!-- /.Search -->

        <!-- filter box -->
        <div class="block-filter mb5">
            <h4 class="block-title header-font mb-4">Lọc sản phẩm</h4>
            {% if visible_collection == 1 %}
                <div class="filter-item">
                    <h5 class="header-font">{{ visible_collection_title }}</h5>
                    <ul>
                        {% for collection in collections %}
                        <li><a href="{{ collection.url }}">{{ collection.name }}</a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if visible_supplier == 1 %}
            <div class="filter-item">
                <h5 class="header-font">{{ visible_supplier_title }}</h5>
                <ul>
                   {% for manufacturer in manufacturers %}
                    <li><a href="{{ manufacturer.url }}">{{ manufacturer.name }}</a>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if visible_category == 1 %}
                <div class="filter-item">
                    <h5 class="header-font">{{ visible_category_title }}</h5>
                    <ul>
                        {% for category in categorys %}
                        <li><a href="{{ category.url }}">{{ category.name }}</a>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="filter-item">
                <h5 class="header-font">giá sản phẩm</h5>
                <p>Vui lòng chọn khoảng giá</p>
                <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0.714286%; width: 70.7143%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0.714286%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 71.4286%;"></span>
                </div>
                <div class="range-slider">
                    <label for="amount">Từ </label>
                    <input type="text" id="amount" readonly="">
                    <input type="hidden" id="amount1"  name="amount1">
                    <input type="hidden" id="amount2" name="amount2">
                </div>
            </div>
        </div>
        <!-- /.filter box -->
        <!-- filter box -->
        <div class="block-filter mb5">
            <h4 class="block-title header-font mb-4">Lọc theo tag</h4>
            <div class="filter-item">
                <div class="list-tag">
                    {% for tag in tags %}
                    <a href="{{ tag.url }}" class="tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.filter box -->
    </div>
    <!-- /.product-list-filter -->
</div>
<script>



    // filter price
    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
    $(function () {
        var min = getURLVar('min');
        if(min === ''){
            min = {{ product_price_filter_array.from }};
        }
        var max = getURLVar('max');
        if(max === ''){
            max = {{ product_price_filter_array.to }};
        }
        $("#slider-range").slider({
            range: true,
            min: {{ product_price_filter_array.from }},
            max: {{ product_price_filter_array.to }},
            values: [min, max],
            slide: function (event, ui) {
                $("#amount").val(formatNumber(ui.values[0]) + "đ" + " - " + formatNumber(ui.values[1]) + "đ");
                //filterprice(ui.values[0], ui.values[1]);
                delayOnChange(function () {
                    var url = window.location.href;
                    var regexMin = new RegExp("&min=\\d+");
                    var regexMax = new RegExp("&max=\\d+");
                    url = url.replace(regexMin, '');
                    url = url.replace(regexMax, '');
                    // console.log(ui.values[1]);
                    window.location.replace(url + '&min='+ui.values[0]+'&max='+ui.values[1]);
                    $("#amount1" ).val(ui.values[ 0 ]);
                    $("#amount2" ).val(ui.values[ 1 ]);
                });
            }
        });
        $("#amount").val(formatNumber($("#slider-range").slider("values", 0)) + "đ" +
            " - " + formatNumber($("#slider-range").slider("values", 1)) + "đ");
    });

    var delayTimer;
    function delayOnChange(cb) {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(cb, 500); // Will do the ajax stuff after 1500 ms, or 1.5 s
    }

    function getURLVar(key) {
        var value = [];

        var query = String(document.location).split('?');

        if (query[1]) {
            var part = query[1].split('&');

            for (i = 0; i < part.length; i++) {
                var data = part[i].split('=');

                if (data[0] && data[1]) {
                    value[data[0]] = data[1];
                }
            }

            if (value[key]) {
                return value[key];
            } else {
                return '';
            }
        }
    }

</script>