{{ header }}
<div class="bestme_app_after_header">

</div>
{% if slideshow.visible %}
    <!-- Block-category -->
    <div id="block-banner">
        <div class="container">
            <div class="row">
                {% if is_on_mobile != 1 %}
                <div class="col-md-4 col-lg-3">
                    <div id="block-category-product" class="block-category-product">
                        <h4 class="title title-font">
                            {{ category_title }}
                        </h4>
                        {% include 'default/template/common/category_list_template.twig' %}
                    </div>
                </div>
                {% endif %}
                <div class="col-md-8 col-lg-9">
                    <section id="block-slideshow" class="block-slideshow bestme-block-slideshow">
                        <div class="owl-carousel owl-slide owl-banner" data-time="{{ slideshow.transition_time }}">
                            {% for slide in slideshow.slides %}
                                <div class="item">
                                    <a href="{{ slide['url'] }}" target="_blank" title="{{ slide['description'] }}"><img
                                                class="lazyload" data-src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}"></a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- Block-category -->
{% endif %}
<!-- End slide banner -->
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
<!-- block-ads-banner -->
{% if banners_visible == '1' %}
    <!-- Banner category -->
    <div id="banner-product">
        <div class="container">
            <div class="row">
                {% if banner_highlight['visible'] == '1' %}
                    <div class="col-sm-4 col-md-4 col-lg-4 bestme-block-banner-1">
                        <a href="{{ banner_highlight['url'] }}" target="_blank">
                            <div class="banner-product-item">
                                <div class="thumb">
                                    <img class="lazyload" data-src="{{ banner_highlight['image-url'] }}" alt="{{ banner_highlight['description'] }}">
                                </div>
                                {#<div class="content-item">#}
                                {#<div class="content">#}
                                {#<h4>#}
                                {#<span class="top"></span>#}
                                {#<span class="botom">{{ banner_highlight['description'] }}  <br> </span>#}
                                {#</h4>#}
                                {#<a class="a-normal" href="{{ banner_highlight['url'] }}">Xem ngay!</a>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if banner_left['visible'] == '1' %}
                    <div class="col-sm-4 col-md-4 col-lg-4 bestme-block-banner-2">
                        <a href="{{ banner_left['url'] }}" target="_blank">
                            <div class="banner-product-item">
                                <div class="thumb">
                                    <img class="lazyload" data-src="{{ banner_left['image-url'] }}" alt="{{ banner_left['description'] }}">
                                </div>
                                {#<div class="content-item">#}
                                {#<div class="content">#}
                                {#<h5>#}
                                {#<span class="top"> </span>#}
                                {#<span class="botom">{{ banner_left['description'] }} <br> </span>#}
                                {#</h5>#}
                                {#<a class="a-normal" href="{{ banner_left['url'] }}">Xem ngay!</a>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </a>
                    </div>
                {% endif %}
                {% if banner_middle['visible'] == '1' %}
                    <div class="col-sm-4 col-md-4 col-lg-4 bestme-block-banner-3">  {#class +: sfu-font#}
                        <a href="{{ banner_middle['url'] }}" target="_blank">
                            <div class="banner-product-item">
                                <div class="thumb">
                                    <img class="lazyload" data-src="{{ banner_middle['image-url'] }}" alt="{{ banner_middle['description'] }}">
                                </div>
                                {#<div class="content-item"> #}{#class +: special text-center justify-content-center#}
                                {#<div class="content">#}
                                {#<h5>#}
                                {#<span class="top">{{ banner_middle['description'] }}</span>#}{#class +: sfu-font#}
                                {#<span class="botom"> </span>#}
                                {#</h5>#}
                                {#<a class="a-normal" href="{{ banner_middle['url'] }}">Xem ngay!</a>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.Banner category -->
{% endif %}
<!-- /.block-ads-banner -->

<!-- block-list-product -->
{% for k, block in blocks %}
    {% if block['visible']%}
        <!-- Product list -->
        <div class="block-product {{ block.bestme_block_preview_class }}">
            <div class="container swiper-container  swiper-custom-block-{{ k }}" data-number-item="{{ block['grid'] }}"  data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}">
                <div class="headding">
                    <h3>{{ block['title'] }}</h3>
                    <div class="swipper-nav">
                        <div class="swiper-button-prev swiper-button-next-pro swiper-button-next-p-{{ k }}"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="swiper-button-next swiper-button-prev-pro swiper-button-prev-p-{{ k }}"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    {% if block['collections'] is not empty %}
                        {% for k,collection in block['collections'] %}
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <div class="thumb">
                                        <a href="{{ collection['url'] }}"><img class="lazyload" data-src="{{ collection['image'] }}" alt="{{ collection['title'] }}"></a>
                                    </div>
                                    <n4 class="name">
                                        <a class="" title="{{ collection['title'] }}" href="{{ collection['url'] }}">{{ collection.title|length > 40 ? collection.title|slice(0, 40) ~ '...' : collection.title }}</a>
                                    </n4>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    {% for k,product in block['products'] %}
                        <div class="swiper-slide">
                            <div class="product-box">
                                <div class="category-wrap">
                                    {#<span class="category-type">{{ product.categories|first['name'] }}</span>#}
                                    <span class="category-type" title="{{  product.categories|first['name'] }}">
                                    {{ product.categories|first['name']|length > 18 ?  product.categories|first['name']|slice(0, 18) ~ '...' :  product.categories|first['name'] }}</span>

                                    {% if product['product_is_stock'] == 0 %}
                                        <div class="out-of-stock">
                                            HẾT
                                        </div>
                                    {% endif %}

                                    {% if product['percent_sale'] is not empty %}
                                        <div class="sale">
                                            {{ product['percent_sale'] }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="thumb">
                                    <a href="{{ product['href'] }}"><img class="lazyload" data-src="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a>
                                    <button type="button" class="btn btn-wish d-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 24 22"
                                             fill="none">
                                            <path
                                                    d="M21.4921 3.00805C20.9349 2.45087 20.2734 2.00888 19.5455 1.70733C18.8175 1.40579 18.0373 1.25058 17.2493 1.25058C16.4613 1.25058 15.6811 1.40579 14.9531 1.70733C14.2252 2.00888 13.5637 2.45087 13.0065 3.00805C12.5865 3.42805 12.2701 3.90505 12.0001 4.40155C11.7338 3.88995 11.3942 3.41998 10.9921 3.00655C9.8668 1.8813 8.34064 1.24915 6.7493 1.24915C5.15796 1.24915 3.6318 1.8813 2.50655 3.00655C1.3813 4.1318 0.749146 5.65796 0.749146 7.2493C0.749146 8.84064 1.3813 10.3668 2.50655 11.4921L12.0001 20.7501L21.4921 11.4921C22.0495 10.9352 22.4918 10.274 22.7936 9.54609C23.0953 8.81821 23.2506 8.038 23.2506 7.25005C23.2506 6.46211 23.0953 5.68189 22.7936 4.95401C22.4918 4.22614 22.0495 3.56488 21.4921 3.00805V3.00805Z"
                                                    stroke="#969696" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                    <div class="action">
                                        <button onclick="window.location='{{ product.href }}'" type="button" class="btn btn-viewmore">Xem thêm</button>
                                        <button type="button" onclick="window.location='{{ product.href }}'" class="btn btn-addcart"><i class="fa fa-cart-plus"
                                                                                                                                        aria-hidden="true"></i>Thêm vào giỏ</button>
                                    </div>
                                </div>
                                <n4 class="name">
                                    <a class="" title="{{ product.name }}" href="{{ product['href'] }}">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                </n4>
                                <div class="bottom-wrap">
                                    <div class="price">
                                        {% if product['is_contact_for_price'] %}
                                            <span class="price-new">{{ contact }}</span>
                                        {% else %}
                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                <span class="price-new">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}

                                                {% endif %}
                                            </span>
                                            {% else %}
                                                <span class="price-new">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['price_master'] }}
                                                {% else %}
                                                    {{ product['min_price_version'] }}
                                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                                        ~ {{ product['max_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                                <span class="price-old">
                                                {% if product['max_compare_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="rated d-none">
                                        <ul>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <p class="view-more" style="text-align: center"><a href="{{ block['view_more'] }}">Xem thêm >></a></p>
            </div>
        </div>
        <!-- Product list -->
    {% endif %}
{% endfor %}
<!-- /.block-list-product -->
<div class="bestme_app_after_product">

</div>
<!-- block-blog -->
{% if latest_blog %}
    <div id="block-last-blog" class="block-news-home">
        <div class="container swiper-container swiper-product" data-time="5000">
            <div class="headding">
                <h3>{{ blog_title }}</h3>
            </div>
            <div class="">
                <div class="row">
                    {% for key, latest_blog in latest_blog %}
                        {% if key < 3 %}
                            <div class="col-12 col-md-4 col-news">
                                <div class="item-news news-item">
                                    <div class="img-new">
                                        <a href="{{ latest_blog['link'] }}">
                                            <img src="{{ latest_blog['image'] }}" alt="{{ latest_blog['title'] }}">
                                        </a>
                                    </div>
                                    <div class="text-new content">
                                        <h4 class="ttl-new title">
                                            <a href="{{ latest_blog['link'] }}" title="{{ latest_blog['title'] }}">{{ latest_blog['title'] }}</a>
                                        </h4>
                                        <div class="meta-desc">
                                            <div class="date">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <span>{{ latest_blog['date_added']|date("d/m/Y") }}</span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <br/>
                                            {{ latest_blog['short_content']|length > 100 ? latest_blog['short_content']|html_entity_decode|striptags|slice(0, 100) ~ '...' : latest_blog['short_content']|html_entity_decode|striptags }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- /.block-blog -->

<!-- block-partner -->
{% if partners_visible == '1' %}
    <!-- Partner -->
    <div id="block-partner" class="bestme-block-partner">
        <div class="container">
            <div class="headding">
                <h3>{{ partners_title }}</h3>
            </div>
            <div class="swiper-container swiper-partner" data-auto-play="{{ partners_setting.autoplay }}" data-loop="{{ partners_setting.loop }}" data-limit-inline="{{ partners_limit_per_line }}" data-time="5000">
                <div class="swiper-wrapper">
                    {% for partner in partners %}
                        <div class="swiper-slide p-2">
                            <a href="{{ partner.url }}"><img class="lazyload" data-src="{{ partner['image-url'] }}" alt=""></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.Partner -->
{% endif %}
<!-- /.block-partner -->
<div class="bestme_app_before_footer">

</div>
<style>
    #block-category-product{
        max-height: 450px;
        overflow: auto;
    }
    #block-partner img{
        max-width: 150px;
    }
</style>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.swiper-custom-block-' + '{{ k }}').length > 0) {
            const autoplay = 1 == $('.swiper-custom-block-' + '{{ k }}').data('autoplay') ? { delay: $('.swiper-custom-block-' + '{{ k }}').data('autoplay_time') * 1e3 } : false;
            var swiper{{ k }} = new Swiper('.swiper-custom-block-' + '{{ k }}', {
                slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-number-item'),
                spaceBetween: 20,
                loop: 1 == $('.swiper-custom-block-' + '{{ k }}').data('loop'),
                autoplay: autoplay,
                dotsSpeed: 1000,
                autoplaySpeed: 1000,
                navSpeed: 800,
                navigation: {
                    nextEl: '.swiper-button-next-p-{{ k }}',
                    prevEl: '.swiper-button-prev-p-{{ k }}',
                },
                breakpoints: {
                    // when window width is >= 480px
                    480: {
                        slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-number-item'),
                        spaceBetween: 5
                    },
                    // when window width is >= 640px
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 10
                    },
                    1200: {
                        slidesPerView: jQuery('.swiper-custom-block-' + '{{ k }}').attr('data-number-item')
                    }
                },
                on: {
                    init: function () {
                        {% if block['collections'] is empty %}
                            resizeHeightElementRatio('.swiper-custom-block-{{ k }} .thumb a');
                        {% endif %}
                    }
                }
            });
        }
        {% endfor %}
    });
</script>
<script>
    $( "ul > li:has(li)" ).addClass( "list-item" );
</script>

{{ footer }}