{{ header }}

<!-- Breadcrumb -->
<div class="block-breadcrumb">
    <div class="container">
        <nav class="breadcrumb main-font">
            <a class="breadcrumb-item" href="{{ home }}">Trang chủ</a>
            <span class="breadcrumb-item active main-color">Đăng nhập/Đăng ký</span>
        </nav>
    </div>
</div>
<!-- /.Breadcrumb -->

<!-- ELM PAGES -->

<div class="block-user-login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                {% if error %}
                    <div class="col-12 col-md-12">
                        <div class="alert alert-danger alert-dismissible" style="font-size: 13px;">
                            <i class="fa fa-exclamation-circle"></i> {{ error }}
                        </div>
                    </div>
                {% endif %}
                <div class="user-login">
                    <div class="block-right">
                        <h4>Đăng nhập</h4>
                        <div class="form-login form-forgot-password">
                            <form action="{{ action_login }}" method="post" enctype="multipart/form-data">
                                {% if redirect %}
                                    <input type="hidden" name="redirect" value="{{ redirect }}">
                                {% endif %}
                                <div class="form-group">
                                    <input type="email" value="{{ email }}" name="email" id="" class="form-control" placeholder="Email"
                                           aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <button type="button" name="" id="" class="btn btn-showpass">
                                        <svg class="open" xmlns="http://www.w3.org/2000/svg" width="16" height="12"
                                             viewBox="0 0 16 12" fill="none">
                                            <path
                                                    d="M0.666748 6.00008C0.666748 6.00008 3.33341 0.666748 8.00008 0.666748C12.6667 0.666748 15.3334 6.00008 15.3334 6.00008C15.3334 6.00008 12.6667 11.3334 8.00008 11.3334C3.33341 11.3334 0.666748 6.00008 0.666748 6.00008Z"
                                                    stroke="#969696" stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                    d="M8 8C9.10457 8 10 7.10457 10 6C10 4.89543 9.10457 4 8 4C6.89543 4 6 4.89543 6 6C6 7.10457 6.89543 8 8 8Z"
                                                    stroke="#969696" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <svg class="close d-none" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             viewBox="0 0 16 16" fill="none">
                                            <path
                                                    d="M9.41341 9.41343C9.23032 9.60993 9.00951 9.76754 8.76418 9.87685C8.51885 9.98616 8.25402 10.0449 7.98547 10.0497C7.71693 10.0544 7.45019 10.005 7.20115 9.90443C6.95212 9.80384 6.7259 9.65412 6.53598 9.4642C6.34606 9.27428 6.19634 9.04806 6.09575 8.79902C5.99516 8.54999 5.94577 8.28325 5.9505 8.0147C5.95524 7.74616 6.01402 7.48133 6.12333 7.236C6.23264 6.99067 6.39025 6.76986 6.58675 6.58677M11.9601 11.9601C10.8205 12.8288 9.43282 13.31 8.00008 13.3334C3.33341 13.3334 0.666748 8.0001 0.666748 8.0001C1.49601 6.4547 2.64617 5.1045 4.04008 4.0401L11.9601 11.9601ZM6.60008 2.82676C7.05897 2.71935 7.52879 2.66566 8.00008 2.66676C12.6667 2.66676 15.3334 8.0001 15.3334 8.0001C14.9287 8.75717 14.4461 9.46992 13.8934 10.1268L6.60008 2.82676Z"
                                                    stroke="#949494" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M0.666748 0.666748L15.3334 15.3334" stroke="#949494" stroke-linecap="round"
                                                  stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                    <input type="password" name="password" value="{{ password }}" id="input-pass" class="form-control input-pass"
                                           placeholder="Mật khẩu" aria-describedby="helpId">

                                </div>
                                <div class="form-group">
                                    <label class="custom-check main-font">
                                        <input class="input" type="checkbox" value="1" name="remember_password">Ghi nhớ
                                        <span class="checkmark"></span>
                                    </label>

                                    <div class="forgot-pass"><a href="{{ urlforgotten }}">Quên mật khẩu</a></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-submit">Đăng nhập</button>
                                    <!--<div class="social-sec">
                                        <a href="#"><img src="{{ theme_directory }}/images/fb-icon.png" alt="facebook"></a>
                                        <a href="#"><img src="{{ theme_directory }}/images/gplus-icon.png" alt="google"></a>
                                    </div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr class="vertical-line" />

                    <div class="block-right">
                        <h4>Đăng ký tài khoản</h4>
                        <div class="form-login">

                            <form action="{{ action_register }}" method="post" enctype="multipart/form-data">

                                <div class="form-group">
                                    <input type="text" name="fullname" value="{{ fullname }}" id="" class="form-control mr-3" placeholder="Họ tên"
                                           aria-describedby="helpId">
                                    <input type="text" name="telephone" id="" value="{{ telephone }}" class="form-control" placeholder="Số điện thoại"
                                           aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="" class="form-control" value="{{ email }}" placeholder="Email"
                                           aria-describedby="helpId">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="" class="form-control mr-3" placeholder="Mật khẩu"
                                           aria-describedby="helpId">
                                    <input type="password" name="confirm_password" id="" class="form-control" placeholder="Nhập lại mật khẩu"
                                           aria-describedby="helpId">
                                </div>
                                <div class="form-group pull-right">
                                    <button type="submit" class="btn btn-submit">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.ELM PAGES -->

<script type="text/javascript">
    $(".btn-showpass").click(function() {
        var input = $('#input-pass');
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>

<style>
    .field-icon {
        cursor: pointer;
        right: 7px;
        position: absolute;
        z-index: 2;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>
{{ footer }}