{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ href_product_list }}">{{ heading_title_list }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ heading_detail_title }}</li>
                    </ol>
                </nav>
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ heading_detail_title }}
                    </h1>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a href="javascript:void(0)" class="active">{{ text_personal_information }}</a>
                            <a href="{{ address_href }}">{{ text_address_book }}</a>
                            <a href="{{ history_href }}">{{ text_history }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content" style="position: relative">
                            <div>
                                <p class="text-uppercase font-weight-500">{{ text_general_information }}</p>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ text_full_name }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{{ info.lastname ~ ' ' ~ info.firstname }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">Email:</span>
                                            <div class="col-sm-8" style="overflow-x: hidden; text-overflow: ellipsis">
                                                <span class="font-weight-500" title="{{ info.email }}">{{ info.email == '' ? '--' : info.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ text_birthday }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{{ info.birthday == '' ? '--' : info.birthday|date("d/m/Y") }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ entry_telephone }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{{ info.telephone }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ text_group_customer }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{{ info.customer_group_name == '' ? '--' : info.customer_group_name }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ text_sex }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{% if info.sex == 1 %}Nam{% elseif info.sex == 2 %}Nữ{% else %}Khác{% endif %}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div>
                                <p class="text-uppercase font-weight-500">{{ text_advanced_information }}</p>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">Website:</span>
                                            <div class="col-sm-8" style="overflow-x: hidden; text-overflow: ellipsis">
                                                <span class="font-weight-500" title="{{ info.website }}">{{ info.website == '' ? '--' : info.website }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ text_staff_in_charge }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{{ info.staff_in_charge == '' ? '--' : info.staff_in_charge }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ text_tax_code }}:</span>
                                            <div class="col-sm-8">
                                                <span class="font-weight-500">{{ info.tax_code == '' ? '--' : info.tax_code }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="form-group row">
                                            <span class="control-label col-sm-4">{{ column_note }}:</span>
                                            <div class="col-sm-8" style="overflow-x: hidden; text-overflow: ellipsis">
                                                <span class="font-weight-500" title="{{ info.note }}">{{ info.note == '' ? '--' : info.note }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            {% if access_modify %}
                            <a href="{{ edit }}"><button class="btn btn-pink" style="position: absolute;right: 10px; bottom: 0px">{{ text_edit }}</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
    </div>
</div>
{{ footer }}