{{ custom_header }}
<div class="page-wrapper">
  <div class="content-wrapper row m-0">
    {{ custom_column_left }}
    <main class="main-wrap col-12 col-lg-10 p-0">
      <div class="main-content" style="padding-top: 85px;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ href_product_list }}">{{ text_customer }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ heading_title }}</li>
          </ol>
        </nav>
        <div class="sub-head clearfix">
          <h1 class="page-title float-left">
              {{ heading_title }}
          </h1>
          {% if access_modify %}
          <a class="advance-link btn float-right" href="#" id="form-customer-group">{{ text_add }}</a>
          {% endif %}
        </div>
        {% if error_warning %}
          <div class="alert alert-danger alert-dismissible"><i
                    class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        {% endif %}
        <div class="box-wrap">
          <div class="box-head">
            <div class="nav nav-tabs" id="order-form-tab" role="tablist">
              <a class="active">{{ heading_title_list }}</a>
            </div>
          </div>
          <div class="box-content">
            <div class="tab-content">
              <form class="filter-form order-filter clearfix" action="{{ action_search }}">
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group search-group">
                      <div class="input-group-icon" style="width: calc(100% - 0px);">
                        <i class="icon icon-search"></i>
                        <input type="text" id="filter_name"
                               class="form-control search-input-icon"
                               placeholder="{{ text_search_list }}">
                      </div>
                    </div>
                  </div>
                </div> <!-- End row -->
                <div class="filter-item"></div>
              </form> <!-- End form filter -->
              <div id="customer-content">
                {% include 'customer/customer_group_list_append.twig' %}
              </div>
            </div>
            </div>
          </div>
        </div>
    </main>


{#confirm delete#}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
         aria-hidden="true">
      <form enctype="multipart/form-data" action="" id="form-delete" method="post">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header" style="display: block">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
              <h4 class="modal-title" id="confirm-label">{{ alert_delete }}</h4>
              <input id="customer_group_id" type="hidden" required name="customer_group_id" value="" class="form-control">
            </div>
            <div class="modal-body">
              <p class="message">{{ alert_message_del }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default dismiss"
                      data-dismiss="modal">{{ button_close }}</button>
              <button type="submit" class="btn btn-pink confirm_del"
              >{{ button_delete }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    {#form create customer group#}
    <div class="modal fade" id="form-create-customer-group" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
         aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header" style="display: block">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                      class="sr-only">Close</span></button>
            <h4 class="modal-title" id="confirm-product-label">{{ upload_group_customer_title }}</h4>
          </div>
          <form enctype="multipart/form-data" id="form-create" action="{{ action }}" method="post" data-toggle="validator">
            <div class="modal-body">
                  <div class="form-group" id="title_add">
                    <label for="name_group">{{ text_name }}<span class="text-danger">*</span></label>
                    <input id="name_group"
                           required type="text"
                           name="name_group"
                           class="form-control"
                           placeholder="{{ entry_name }}">
                  </div>
                <div class="form-group" id="description_add">
                  <label for="description">{{ text_description }}</label>
                  <textarea id="description" name="description" maxlength="255"
                            placeholder="{{ entry_description }}" class="form-control"
                            rows="8"></textarea>
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default dismiss-upload-btn"
                      data-dismiss="modal">{{ text_close }}</button>
              <input type="submit"
                      class="btn btn-pink btn-submit-create" {#data-dismiss="modal"#} value="{{ text_add }}">
            </div>
          </form>
        </div>
      </div>
    </div>

    {#form edit cusutomer group#}
    <div class="modal fade" id="form-edit-customer-group" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
         aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header" style="display: block">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                      class="sr-only">Close</span></button>
            <h4 class="modal-title" id="confirm-product-label">{{ edit_group_customer_title }}</h4>
          </div>
            <form enctype="multipart/form-data" action="" id="form-edit" method="post">
              <div class="modal-body">
                    <div class="form-group" id="title_edit">
                      <label for="name_group">{{ text_name }}<span class="text-danger">*</span></label>
                      <input id="customer_group_id" type="hidden" required name="customer_group_id" value="" class="form-control">
                      <input id="name_group"
                             required type="text"
                             name="name_group"
                             class="form-control"
                             placeholder="{{ entry_name }}">
                    </div>
                  <div class="form-group" id="description_edit">
                    <label for="description">{{ text_description }}</label>
                    <textarea id="description" name="description" maxlength="255"
                              placeholder="{{ entry_description }}" class="form-control "
                              rows="10"></textarea>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss-upload-btn"
                        data-dismiss="modal">Hủy</button>
                <input type="submit"
                        class="btn btn-pink btn-submit-edit" {#data-dismiss="modal"#} value="{{ text_edit }}">
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div id="image-loading"></div>
</div>

<script>
  // validate form create
  $('#form-create').bootstrapValidator({
    fields: {
      name_group: {
        validators: {
          notEmpty: {
            message: '{{ error_name_empty }}'
          },
          stringLength: {
            max: 50,
            min: 1,
            message: '{{ error_name_max_length }}'
          },
          remote: {
            message: '{{ error_name_isset }}',
            url: 'index.php?route=customer/customer_group/validateGroupNameExist&user_token={{ user_token }}',
            type: 'POST',
          }
        }
      },
    }
   }).on('status.field.bv', function (e, data) {
    if (data.bv.getSubmitButton()) {
      data.bv.disableSubmitButtons(false);
    }
  });
  // validate form edit
  $('#form-edit').bootstrapValidator({
    fields: {
      name_group: {
        validators: {
          notEmpty: {
            message: '{{ error_name_empty }}'
          },
          stringLength: {
            max: 50,
            min: 1,
            message: '{{ error_name_max_length }}'
          },
          remote: {
            message: '{{ error_name_isset }}',
            url: 'index.php?route=customer/customer_group/validateGroupNameExist&user_token={{ user_token }}',
            type: 'POST',
            data: function(validator) {
              return {
                group_id : $('form#form-edit input#customer_group_id').val()
              };
            },
          }
        }
      },
      description: {
        validators: {
          stringLength: {
            max: 500,
            min: 0,
            message: '{{ error_description_max_length }}'
          }
        }
      }
    }
  }).on('status.field.bv', function (e, data) {
    if (data.bv.getSubmitButton()) {
      data.bv.disableSubmitButtons(false);
    }
  });
  //.on('success.form.bv', function(e) {
  //   /* IMPORTANT: this listener for fixing bug "could not submit form when using remote validator". TODO: why... */
  //   e.preventDefault(); // Prevent the form from submitting
  //   $('#form-edit').bootstrapValidator('defaultSubmit');
  // });

  // create
  $('#form-customer-group').on('click', function (e) {
    e.preventDefault();
    $("#form-create-customer-group").modal('show');
  });
  $('button.dismiss-upload-btn').on('click', function (e) {
    location.reload();
  });

  //edit
  $('#customer-content').on('click', '.edit', function (e) {
    e.preventDefault();
    $("#form-edit-customer-group").modal('show');
    var id_group_customer = $(this).attr('data-group-id');
    var name_group_customer = $(this).attr('data-group-name');
    var description_group_customer = $(this).attr('data-group-description');

    var url = $(this).attr('data-url-edit');
    $('form#form-edit input#customer_group_id').val(id_group_customer);
    $('form#form-edit').attr('action', url);
    $('form#form-edit input#name_group').val(name_group_customer);
    $('form#form-edit textarea#description').val(description_group_customer);
  });

  //delete
  $('#customer-content').on('click', '.delete', function (e) {
    e.preventDefault();
    $("#confirm-delete").modal('show');
    var url = $(this).attr('data-action-del');
    var id_group_customer = $(this).attr('data-id');
    $('form#form-delete input#customer_group_id').val(id_group_customer);
    $('form#form-delete').attr('action', url);
  });


  $(document).keypress(function (e) {
    if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
      event.preventDefault();
      filter();
    }
  });

  //ajax load new page
  $('body').on('click', '.page-link', function (e) {
    e.preventDefault();
    var href = $(this).attr('href');
    if (typeof href != 'undefined') {
      var page = $(this).attr('data-page');
      filter(page);
      $('html, body').animate({
        scrollTop: ($('#product-content').offset().top)
      }, 300);
    }
  });

  //filter
  function filter(page = 1) {
    var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
    var filter_name = $('#filter_name').val();

    $.ajax({
        url: url,
      method: 'GET',
      data: {
        filter_data: true,
        filter_name: filter_name,
        page: page,
      },
      beforeSend: function () {
        $('#image-loading').show();
      },
      success: function (html) {
        $('#customer-content').html(html);
        $('#filter_name').val(filter_name);
        $('#image-loading').hide();
      }
    });
  }

</script>

{{ footer }}

