<table class="table">
  <thead>
  <tr style="font-weight: bold;">
    <td class="text-left">{{ column_history_index }}</td>
    <td class="text-left">{{ column_history_order_code }}</td>
    <td class="text-left">{{ column_history_date_added }}</td>
    <td class="text-right" style="transform:translateX(-50%)">{{ column_history_total }}</td>
    <td class="text-left">{{ column_history_status }}</td>
    <td class="text-right" style="transform: translateX(-30%);">{{ column_history_refunds }}</td>
  </tr>
  </thead>
  <tbody>
  {% if histories %}
    {% for key, history in histories %}
      <tr>
        <td class="text-left">{{ key+1 }}</td>
        <td class="text-left"><a href="{{ history.order_url }}" target="_blank">{{ history.order_code }}</a></td>
        <td class="text-left">{{ history.date_added|date("d/m/Y H:i:s") }}</td>
        <td class="text-right" style="transform:translateX(-50%)">{{ history.total|number_format(0, '.', ',') }}&#8363;</td>
        <td class="text-left">{{ history.status }}</td>
        <td class="text-right" style="transform: translateX(-30%);">{{ history.return_receipt|number_format(0, '.', ',') }}&#8363;</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="6" class="text-center">{{ text_no_results }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
<div class="table-statistic clearfix font-14">
  <span class="float-lg-left text-right">{{ results }}</span>
  <div class="float-lg-right">
    <!--<span class="float-left pt-1 pr-3">Page</span>-->
    <nav class="float-left" aria-label="Page navigation example">
      {{ pagination }}
    </nav>
  </div>
</div>