{{ custom_header }}
<div class="page-wrapper">
  <div class="content-wrapper row m-0">
      {{ custom_column_left }}

    <main class="main-wrap col-12 col-lg-10">
      <div class="main-content p-0">
        <div class="sub-head clearfix sub-head-mobile">
          <h1 class="page-title float-left font-16">{{ heading_title }}</h1>
          <a class="float-right link-create-order" href="{{ add }}">+{{ button_add_customer }}</a>
        </div>
        <div class="box-wrap">
          <div class="box-head">
            <div class="sub-title pl-0"><i class="fas fa-list-ul"></i> {{ text_list }}</div>
          </div>
          <div class="box-content">
            <form action="" method="get" class="filter-form order-filter clearfix">
              <div class="row">
                <div class="col-md-8">
                  <div class="input-group search-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-light dropdown-toggle" type="button">{{ button_filter }}</button>
                      <div class="dropdown-menu p-0 p-3 font-12">
                        <div class="form-group">
                          <label>{{ column_customer_kind }}</label>
                          <select id="filter_customer_group_id" class="form-control form-control-sm" data-label="{{ column_customer_kind }}" name="filter_customer_group_id">
                            <option value="">{{ text_all }}</option>
                            {% for customer_group in customer_groups %}
                              <option value="{{ customer_group['customer_group_id'] }}" {% if filter_customer_group_id == customer_group['customer_group_id'] %}selected{% endif %} data-value="{{ customer_group['name'] }}">{{ customer_group['name'] }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label>{{ entry_email }}</label>
                          <input type="text" id="filter_email" autocomplete="true" class="form-control form-control-sm" value="{{ filter_email }}" data-label="{{ entry_email }}" name="filter_email" />
                        </div>
                        <div role="separator" class="dropdown-divider"></div>
                        <button type="button" id="filter_button" class="btn btn-info font-12">{{ button_search }}</button>
                      </div>
                    </div>
                    <div class="input-group-icon">
                      <i class="icon icon-search"></i>
                      <input id="filter_name" type="text" value="{{ filter_name }}" class="form-control search-input-icon" placeholder="{{ text_search_placehoder }}">
                    </div>
                  </div>
                </div>
                {# <div class="col-md-4 text-right">
                  <div class="button-options">
                    <a class="item disabled" ><i class="icon icon-import"></i> {{ button_import }}</a>
                    <a class="item disabled" href="#"><i class="icon icon-export"></i> {{ button_export }}</a>
                  </div>
                </div> #}
              </div> <!-- End row -->
              <div class="filter-item">
                  {% if filter_customer_group_id %}
                      <div class="item bg-light p-2 rounded-3 mr-2 my-2 d-inline-block" id="filter_customer_group_id">
                          {{ column_customer_kind }}:
                          {% for customer_group in customer_groups %}
                              {% if filter_customer_group_id == customer_group['customer_group_id'] %}
                                  {{ customer_group['name'] }}
                              {% endif %}
                          {% endfor %}
                      </div>
                  {% endif %}
                  {% if filter_email %}
                      <div class="item bg-light p-2 rounded-3 mr-2 my-2 d-inline-block" id="filter_email">{{ entry_email }}: {{ filter_email }}</div>
                  {% endif %}
              </div>
            </form>
            <div id="customer-content">
            {#<table class="table table-with-operation" style="display: table">
              <thead>
                  <tr>
                    <th scope="check-all" width="10">
                      <div class="dropdown dropdown-mobile">
                        <label class="checkbox">
                          <input type="checkbox" name="select_all" data-text-language-choose-all="{{ choose_all_in_filter }}" data-text-language-choose="{{ choose_in_filter }}" data-text-language-item="{{ item_in_filter }}">
                          <span></span>
                        </label>
                        <span class="text text-black-50"></span>
                        <a class="dropdown-toggle" href="#" id="dropdownOperationTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ text_choose_action }}</a>

                        <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                          <a class="dropdown-item" href="{{ delete }}" id="delete">{{ button_delete_all }}</a>
                        </div>
                        <input type="hidden" name="selected" value="">
                      </div>
                        <span id="hiddenSelectAll" class="position-absolute font-weight-normal mt-1">Chọn tất cả</span>
                    </th>
                      <th></th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
              {% for customer in customers %}
                <tr>
                  <td scope="select-this" data-id="{{ customer['customer_id'] }}">
                    <label class="checkbox">
                      <input type="checkbox" name="select_this" value="{{ customer['customer_id'] }}">
                      <span></span>
                    </label>
                  </td>
                  <td>{{ customer['name'] }}</td>
                  <td class="text-right">
                    <div class="dropdown option-link">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCustomerOption-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCustomerOption-1">
                        <a class="dropdown-item" href="{{ customer['edit'] }}">{{ button_edit }}</a>
                        <a class="dropdown-item delete_customer" href="{{ delete }}" data-id="{{ customer['customer_id'] }}">{{ button_delete }}</a>
                      </div>
                    </div>
                  </td>
                    <td class="text-right">
                        <a class="font-10 mt-1 float-right collapsed order_quick_view text-body"
                           data-order-id="{{ order['order_id'] }}" data-toggle="collapse"
                           href="#collapseTableThViewCustomer-{{ customer['customer_id'] }}" aria-expanded="false"
                           aria-controls="collapseTableThViewCustomer-{{ customer['customer_id'] }}"><i
                                    class="icon icon-arrow"></i></a>
                    </td>
                </tr>

                  <tr>
                      <td colspan="4" class="p-0 border-0">
                          <div class="collapse" id="collapseTableThViewCustomer-{{ customer['customer_id'] }}">
                              <div class="card card-body card-body-mobile">
                                  <table class="table mt-3 product-preview-list font-14" style="margin-top: 10px!important; margin-bottom: 10px;">
                                      <tr>
                                          <td class="td-left">{{ entry_email }}:</td>
                                          <td>{{ customer['email'] }}</td>
                                      </tr>
                                      <tr>
                                          <td class="td-left">{{ entry_order }}:</td>
                                          <td>{{ customer['count_order'] }}</td>
                                      </tr>
                                      <tr>
                                          <td class="td-left">{{ entry_order_recent }}:</td>
                                          <td>{{ customer['order_lastest_mobile'] }}</td>
                                      </tr>
                                  </table>
                              </div>
                          </div>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
              <!-- pagination -->
              <div class="table-statistic clearfix font-16">
                <span class="float-lg-left text-right">{{ results }}</span>
                <div class="float-lg-right">
                  <nav class="float-left" aria-label="Page navigation example">
                      {{ pagination }}
                  </nav>
                </div>
              </div>#}
                {% include 'customer/customer_list_append_mobile.twig' %}
              <!-- end pagination -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End Main -->
  </div>
</div>
<div class="modal fade" id="confirm-customer" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-label">{{ alert_notice }}</h4>
            </div>
            <div class="modal-body">
                <p class="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ button_cancel }}</button>
                <button type="button" class="btn btn-primary confirm"
                        data-dismiss="modal">{{ button_continue }}</button>
            </div>
        </div>
    </div>
</div>
<div id="image-loading"></div>


<script type="text/javascript">
    // show filter name item
    $('.filter-form .search-group .dropdown-menu').on('change', 'input[name="filter_email"]', function(e){
        var val = $(this).val();
        var input_name = $(this).attr('name');
        var input_label = $(this).attr('data-label');
        var input_value = $(this).val();
        var container = $(this).closest('form').find('.filter-item');

        if($(this).is('select') && val !== ""){
            input_value = $(this).find("option[value="+val+"]").attr("data-value");
        }

        if( container.find('.item#'+input_name).length ){
            container.find('.item#'+input_name).remove();
        }
        if( val !== "" ){
            container.append('\
				<div class="item bg-light p-2 rounded-3 mr-2 my-2 d-inline-block" id="'+input_name+'">\
				'+input_label+': '+input_value+' <a href="javascript:void(0)" class="remove font-20 lineheight-1 ml-3" aria-hidden="true">&times;</a>\
				</div>\
				');
        }
    });
    $('.filter-form .filter-item').on('click', '.item .remove', function(){
        var id = $(this).closest('.item').attr("id");
        $(this).closest('form').find('input[name="'+id+'"]').val("").change();
    });

    $('.delete_customer').on('click', function(){
        var url = $(this).attr('href');
        var customer_id = $(this).attr('data-id');
        var confirm_delete = "{{ delete_confirm_common }}";
        if (confirm(confirm_delete)) {
            $.ajax({
                url: url,
                method: 'POST',
                data:{
                    selected: [customer_id],
                },
                success: function(json) {
                    console.log(json);
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        };
        return false;
    });

    $("body").on('DOMSubtreeModified', ".filter-item", function() {
        $('.filter-item').find('.remove').remove();
    });
    $('#filter_button').on('click', function(){
        filter();
    });

    $(document).keypress(function(e) {
        if(e.which == 13) {  // enter
            filter();
        }
    });

    function filter() {
        var url = window.location.href;
        var filter_customer_group_id = $('#filter_customer_group_id').val();
        var filter_email = $('#filter_email').val();
        var filter_name = $('#filter_name').val();
        $.ajax({
            url: url,
            method: 'GET',
            data:{
                filter_data: true,
                filter_customer_group_id: filter_customer_group_id,
                filter_email: filter_email,
                filter_name: filter_name
            },
            beforeSend: function(){
                $('.dropdown-menu').removeClass('show');
                $('#image-loading').show();
            },
            success: function(html) {
                $('#customer-content').html(html);
                $('#image-loading').hide();
            }
        });
    }

    {#$('input[name=\'filter_email\']').autocomplete({#}
        {#'source': function(request, response) {#}
            {#$.ajax({#}
                {#url: 'index.php?route=customer/customer/autocompleteEmail&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),#}
                {#dataType: 'json',#}
                {#success: function(json) {#}
                    {#response($.map(json, function(item) {#}
                        {#return {#}
                            {#label: item['email']#}
                        {#}#}
                    {#}));#}
                {#}#}
            {#});#}
        {#},#}
        {#'select': function(item) {#}
            {#$('input[name=\'filter_email\']').val(item['label']).change();#}
        {#}#}
    {#});#}
</script>

<script type="text/javascript">
    $('[scope="check-all"] input[name="select_all"]').on('change', function(){
        $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();

    });
    $('[scope="select-this"] input[name="select_this"]').on('change', function(){
        if( !$(this).is(":checked") ){
            $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
        }
        var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
        $('[scope="check-all"] .text').empty();
        if( _length ){
            $('[scope="check-all"] .text').append('Đã chọn '+_length+' mục');
        }
        getSelected();
    });

    function getSelected(){
        var selected = [];
        $('[scope="select-this"] input[name="select_this"]').each(function(){
            if( $(this).is(":checked") ){
                selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
            }
        })
        $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
    }

    $('[scope="check-all"] .dropdown-item#delete').on('click', function () {
        var message = '{{ delete_confirm_common }}';
        $("#confirm-customer .modal-body p").html(message);
        var url = $(this).attr('href');
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        console.log(selected);
        $("#confirm-customer").modal('show');
        $(".confirm").on("click", function () {
            if (selected.length) {
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        selected: selected,
                    },
                    beforeSend: function () {
                        $('#image-loading').show();
                    },
                    success: function (json) {
                        $('#image-loading').hide();
                        console.log(json);
                        if (json.status === true) {
                            location.reload();
                        } else {
                            alert(json.message);
                        }
                    }
                });
            }
        });
        $(".dismiss").on("click", function () {
            $("#confirm-customer").modal('hide');
        });
        return false;
    });

    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        var href = $(this).attr('href');
        window.location.href = href;
    });
</script>
{{ footer }}