<table class="table table-with-operation customer-list">
  <thead>
  <tr>
    <th scope="col" class="text-left">{{ column_index }}</th>
    <th scope="col" class="text-left">{{ entry_email }}</th>
    <th scope="col" class="text-center">{{ entry_created }}</th>
{#    <th scope="col" width="115" class="text-center">{{ column_options }}</th>#}
  </tr>
  </thead>
  <tbody>
  {% if email_customers %}
    {% for index, value in email_customers %}
      <tr>
        <td style="padding-left:15px;" class="text-left">{{ index+1 }}</td>
        <td style="padding-left:15px;" class="text-left">{{ value.email }}</td>
        <td style="padding-left:15px;" class="text-center">{{ value.date_added }}</td>
{#        <td style="padding-left:15px;" class="text-center">#}
{#            <button class="btn-status btn-customer-active" type="button">Xóa</button>#}
{#        </td>#}
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td class="text-center" colspan="8">{{ text_no_results }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
<div class="table-statistic clearfix font-16">
  <span class="float-lg-left text-right">{{ results }}</span>
  <div class="float-lg-right">
    <nav class="float-left" aria-label="Page navigation example">
      {{ pagination }}
    </nav>
  </div>
</div>

<style type="text/css">
  .btn-status{
    border-radius: 2030px;
    font-size: 12px;
    border: none;
    color: #212B36;
    line-height: 20px;
    padding: 0 10px;
  }
  .btn-customer-active {
    background: #BBE5B3;
  }

  .btn-customer-block {
    background: #FDAC9A;
  }
</style>
<script type="text/javascript">

  $('[scope="check-all"] input[name="select_all"]').on('change', function () {
    $('[scope="select-this"] input[name="select_this"]').prop('checked', $(this).is(':checked')).change();
  });
  $('[scope="select-this"] input[name="select_this"]').on('change', function () {
    if (!$(this).is(":checked")) {
      $('[scope="check-all"] input[name="select_all"]').prop('checked', false);
    }
    var _length = $('[scope="select-this"] input[name="select_this"]:checked').length;
    $('[scope="check-all"] .text').empty();
    if (_length) {
      $('[scope="check-all"] .text').append('{{ choose }} ' + _length + ' {{ item }}');
    }
    getSelected();
  });

  function getSelected() {
    var selected = [];
    $('[scope="select-this"] input[name="select_this"]').each(function () {
      if ($(this).is(":checked")) {
        selected.push($(this).closest('[scope="select-this"]').attr('data-id'));
      }
    })
    $('[scope="check-all"] input[name="selected"]').val(JSON.stringify(selected)).change();
  }

  $('[scope="check-all"] .dropdown-item#delete').on('click', function () {
    var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
    if (selected === '') {
      return false;
    }
    ;
    selected = JSON.parse(selected);
    var url = $(this).attr('href') + '&product_ids=' + selected.join(',');
    $(this).attr('href', url);
  });

  $('.action-customer').on('click', function (e) {
    e.preventDefault();
    var url = $(this).attr('href');
    var action_id = $(this).attr('id');
    var note_confirm = '';
    if (action_id === 'block-customer') {
      note_confirm = '{{ text_warning_block }}';
    } else if (action_id === 'unblock-customer') {
      note_confirm = '{{ text_warning_unblock }}';
    } else if (action_id === 'delete-customer') {
      note_confirm = '{{ text_warning_delete }}';
    } else {
      return;
    }

    var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
    if (selected === '') {
      return false;
    }
    selected = JSON.parse(selected);

    $('#confirm-action').find('.note-confirm').html(note_confirm);
    $('#confirm-action').modal('show');

    $("#confirm-action .confirm").on("click", function () {
      $.ajax({
        url: url,
        method: 'POST',
        data: {
          selected: selected,
        },
        success: function (json) {
          location.reload();
        }
      });
    });

    $("#confirm-action .dismiss").on("click", function () {
      $("#confirm-action").modal('hide');
    });
  });
</script>