{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ href_customer_list }}">{{ text_list }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ text_detail_customer }}</li>
                    </ol>
                </nav>
                <div class="sub-head clearfix" style="padding-top: 70px;">
                    <h1 class="page-title float-left">
                        {{ text_detail_customer }}
                    </h1>
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a href="{{ detail_href }}">{{ text_personal_information }}</a>
                            <a class="active" href="javascript:void(0)">{{ text_address_book }}</a>
                            <a href="{{ history_href }}">{{ text_history }}</a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <div class="container-fluid">
                                <div class="row mb-3">
                                    <div class="col-md-12 mb-3">
                                        <h6 class="page-title float-left font-14 text-uppercase mb-0">{{ text_list_address }}</h6>
                                        {% if access_modify %}
                                        {% if max_address %}
                                            <a class="btn btn-pink text-white float-right save-customer add-new-customer" data-toggle="modal"
                                               data-target="#modelAddNewAddress">{{ text_add_new_address }}</a>
                                        {% endif %}
                                        {% endif %}
                                    </div>

                                </div>

                                {% if address_books %}
                                    {% for address in address_books %}
                                        <div class="row mt-3">
                                            <div class="col-md-8 mb-3">
                                                <span class="text-uppercase">{{ address.lastname }}&nbsp{{ address.firstname }}</span>
                                                {% if address.default_address %}
                                                    <span class="ml-3" style="color: #ED592A">({{ text_default_address }})</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4">
                                                {% if access_modify %}
                                                <div>
                                                    {% if address.default_address == 0 %}
                                                        <a class="text-danger float-right remove_address"
                                                           data-customer="{{ address.customer_id }}"
                                                           data-address-id="{{ address.address_id }}">{{ text_remove }}</a>
                                                    {% endif %}
                                                    <a class="text-primary float-right save-customer mr-4 edit_address"
                                                       data-action="{{ edit_address }}"
                                                       data-address="{{ address.address_id }}"
                                                       data-customer="{{ address.customer_id }}"
                                                       data-name="{{ address.lastname }} {{ address.firstname }}"
                                                       data-phone="{{ address.phone }}"
                                                       data-address-text="{{ address.address }}"
                                                       data-default-address="{{ address.default_address }}"
                                                       data-toggle="modal"
                                                       data-target="#modelAddNewAddress">{{ text_edit_address }}</a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row border-bottom">
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-2 col-4 pr-0">
                                                        <p>{{ entry_address }}</p>
                                                    </div>
                                                    <div class="col-md-10 col-8">
                                                        <p>{{ address.address_display }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 col-4 pr-0">
                                                        <p>{{ entry_telephone }}</p>
                                                    </div>
                                                    <div class="col-md-10 col-8">
                                                        <p>{{ address.phone }}</p>
                                                    </div>
                                                </div>
                                                {#<p>{{ entry_address }} <span class="ml-4">{{ address.address_display }}</span></p>#}
                                                {#<p>{{ entry_telephone }} <span class="ml-4">{{ address.phone }}</span></p>#}
                                            </div>
                                            <div class="col-md-4">
                                                {% if address.default_address == 0 %}
                                                    <a class="btn btn-default float-right setting_default_address"
                                                       data-address-id="{{ address.address_id }}"
                                                       data-customer="{{ address.customer_id }}">{{ text_setting_default_address }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelAddNewAddress" tabindex="-1" role="dialog" aria-labelledby="titleModelAddress" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModelAddress">{{ text_add_new_address }}</h5>
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                        {#<span aria-hidden="true">&times;</span>#}
                    {#</button>#}
                </div>
                <form action="{{ add_new_address }}" method="post" class="form-step" id="customer-form">
                    <div class="modal-body p-0">
                        <div class="container-fluid">
                            <div class="form-group row mt-3">
                                <div class="col-12 col-lg-8">
                                    <label class="mb-0" for="full_name">{{ text_full_name }} <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" value=""
                                           name="full_name" placeholder="{{ text_placeholder_full_name }}">
                                </div>

                                <div class="col-12 col-lg-4">
                                    <label class="mb-0" for="telephone">{{ entry_telephone }} <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" value=""
                                           name="telephone" placeholder="{{ text_placeholder_telephone }}">
                                </div>

                                <input type="hidden" name="address_id">
                            </div>

                            <div class="form-group row select-address">
                                <div class="col-12 col-lg-4">
                                    <label class="mb-0" for="city">{{ text_province }} <span class="text-danger">*</span></label>
                                    <select class="select2-province" name="city" data-placeholder="{{ text_chose_province }}" data-search="true">
                                    </select>
                                    <div class="select-2-dropdown-province"></div>
                                    <i class="fa fa-caret-down down-icon"></i>
                                </div>

                                <div class="col-12 col-lg-4">
                                    <label class="mb-0" for="district">{{ text_district }}</label>
                                    <select class="select2-district" name="district" data-placeholder="{{ text_chose_district }}" data-search="true">
                                    </select>
                                    <div class="select-2-dropdown-district"></div>
                                    <i class="fa fa-caret-down down-icon"></i>
                                </div>

                                <div class="col-12 col-lg-4">
                                    <label class="mb-0" for="wards">{{ text_wards }}</label>
                                    <select class="select2-ward" name="wards" data-placeholder="{{ text_chose_wards }}" data-search="true">
                                    </select>
                                    <div class="select-2-dropdown-ward"></div>
                                    <i class="fa fa-caret-down down-icon"></i>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12 col-lg-12">
                                    <label class="mb-0" for="address">{{ entry_address }} <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="addressCustomer" name="address" placeholder="{{ text_placeholder_address }}" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           name="default_address"
                                           id="checkDefaultAddress">
                                    <label class="custom-control-label font-weight-normal"
                                           for="checkDefaultAddress">{{ text_form_setting_default_address }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_form_cancel }}</button>
                        <button type="submit" class="btn btn-primary btn-pink" id="submitFormAddress">{{ text_select2_add_new }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ footer }}

<style>
    .modal-dialog {
        max-width: 700px;
    }
    .select-address .select2-selection__clear {
        display: none;
    }
    .down-icon {
        position: absolute;
        top: 52px;
        right: 25px;
        opacity: 0.5;
    }
    .form-step .form-group label {
        font-weight: normal;
        color: #495057;
    }

    ::placeholder {
        color: #B5B5B5 !important;
    }
    .custom-checkbox input[type="checkbox"]:checked ~ .custom-control-label::after {
        top: 13px;
    }
    #modelAddNewAddress .custom-control-label::after {
        position: absolute;
        top: 13px;
    }
</style>
<script>
    $(document).on('click', '.remove_address', function () {
        var address_id = $(this).data('address-id');
        var customer_id = $(this).data('customer');
        confirmBox('{{ text_confirm_remove_address }}', function (result) {
            if (result) {
                $.ajax({
                    url: 'index.php?route=customer/customer/deleteAddress&user_token={{ user_token }}',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        address_id: address_id,
                        customer_id: customer_id,
                    },
                    beforeSend: function () {
                        $('#image-loading-image').show();
                    },
                    complete: function () {
                    },
                    success: function (json) {
                        $('#image-loading-image').hide();
                        location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        });
    });

    $(document).on('click', '.setting_default_address', function () {
        var address_id = $(this).data('address-id');
        var customer_id = $(this).data('customer');

        $.ajax({
            url: 'index.php?route=customer/customer/setDefaultAddress&user_token={{ user_token }}',
            type: 'post',
            dataType: 'json',
            data: {
                address_id: address_id,
                customer_id: customer_id,
            },
            beforeSend: function () {
                $('#image-loading-image').show();
            },
            complete: function () {
            },
            success: function (json) {
                $('#image-loading-image').hide();
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

    });

    $(document).on('click', '.add-new-customer', function () {
        $('#titleModelAddress').text('{{ text_add_new_address }}');
        $('#submitFormAddress').text('{{ text_select2_add_new }}');

        $('#modelAddNewAddress input[name="full_name"]').val('');
        $('#modelAddNewAddress input[name="telephone"]').val('');
        $('#modelAddNewAddress input[name="address_id"]').val('');
        $('#modelAddNewAddress textarea[name="address"]').val('');
        $('#modelAddNewAddress .textarea#addressCustomer').val('');
        $('#modelAddNewAddress #checkDefaultAddress').prop('checked', false);
        $('#modelAddNewAddress .select2-province option').remove();
        $('#modelAddNewAddress .select2-district option').remove();
        $('#modelAddNewAddress .select2-ward option').remove();
    });

    $(document).on('click', '.edit_address', function () {
        //reset form
        $('#modelAddNewAddress').removeData('bs.modal');
        $('#titleModelAddress').text('{{ text_title_edit_address }}');
        $('#submitFormAddress').text('{{ text_edit_address }}');
        $('#customer-form').bootstrapValidator('resetForm', true);
        //$('#modelAddNewAddress .alert-danger').hide();
        //$('#modelAddNewAddress .alert-success').hide();
        $('#modelAddNewAddress input[name="full_name"]').val('');
        $('#modelAddNewAddress input[name="telephone"]').val('');
        $('#modelAddNewAddress textarea[name="address"]').val('');
        $('#modelAddNewAddress input[name="address_id"]').val('');
        $('#modelAddNewAddress .textarea#addressCustomer').val('');
        $('#modelAddNewAddress #checkDefaultAddress').prop('checked', false);
        $('#modelAddNewAddress #checkDefaultAddress').attr('onclick', "return true;");
        $('#modelAddNewAddress .select2-province option').remove();
        $('#modelAddNewAddress .select2-district option').remove();
        $('#modelAddNewAddress .select2-ward option').remove();

        var href = $(this).data('action');
        var address_id = $(this).data('address');
        var full_name = $(this).data('name');
        var telephone = $(this).data('phone');
        var customer_id = $(this).data('customer');
        var address = $(this).data('address-text');
        var default_address = $(this).data('default-address');

        //href = href + '&address_id=' +address_id;
        $('#customer-form').attr('action', href);

        $.ajax({
            url: 'index.php?route=customer/customer/getAddressJson&user_token={{ user_token }}',
            type: 'post',
            data: {
                address_id: address_id,
                customer_id: customer_id,
            },
            beforeSend: function () {
                $('#image-loading').show();
            },
            success: function (json) {
                $('#image-loading').hide();
                //update data to modal
                $('#modelAddNewAddress input[name="full_name"]').val(full_name);
                $('#modelAddNewAddress input[name="telephone"]').val(telephone);
                $('#modelAddNewAddress textarea#addressCustomer').val(address);
                $('#modelAddNewAddress input[name="address_id"]').val(address_id);

                if(default_address) {
                    $('#modelAddNewAddress #checkDefaultAddress').prop('checked', true);
                    $('#modelAddNewAddress #checkDefaultAddress').attr('onclick', "return false;");
                }

                //add option province
                if (json.province.name != '' && json.province.code != '') {
                    var newOption = new Option(json.province.name, json.province.code, true, true);
                    $('#modelAddNewAddress .select2-province').append(newOption);
                    $('#modelAddNewAddress .select2-province').trigger('change');
                }
                if (json.district.name != '' && json.district.code != '') {
                    var newOption = new Option(json.district.name, json.district.code, true, true);
                    $('#modelAddNewAddress .select2-district').append(newOption);
                    $('#modelAddNewAddress .select2-district').trigger('change');
                }
                if (json.ward.name != '' && json.ward.code != '') {
                    var newOption = new Option(json.ward.name, json.ward.code, true, true);
                    $('#modelAddNewAddress .select2-ward').append(newOption);
                    $('#modelAddNewAddress .select2-ward').trigger('change');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#image-loading').hide();
            }
        });
    });

    //select2 province
    $('select.select2-province').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        allowClear: true,
        placeholder: "{{ text_chose_province }}",
        dropdownParent: $('#customer-form .select-2-dropdown-province'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getProvinces&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    provinces: $('.select2-province').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });

    //select2 district
    $('select.select2-province').on('select2:select', function (e) {
        $('#customer-form .select2-ward option').remove();
        $('#customer-form .select2-district option').remove();
    });
    $('select.select2-district').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_chose_district }}",
        allowClear: true,
        dropdownParent: $('#customer-form .select-2-dropdown-district'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getDistrictsByProvinceCode&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    provinces: $('.select2-province').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });
    $('select.select2-district').on('select2:select', function (e) {
        $('#customer-form .select2-ward option').remove();
    });

    //select2 wars
    $('select.select2-ward').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_chose_wards }}",
        allowClear: true,
        dropdownParent: $('#customer-form .select-2-dropdown-ward'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getWardsByDistrictCode&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    district: $('.select2-district').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });

    // VALIDATE
    $("#customer-form").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            full_name: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 50,
                        min: 1,
                        message: '{{ error_name_max_length }}'
                    }
                }
            },
            telephone: {
                validators: {
                    notEmpty: {
                        message: '{{ error_input_null }}',
                    },
                    callback: {
                        message: '{{ error_input_null }}',
                        callback: function () {
                            var phone = $('input[name="telephone"]').val();
                            var intRegex = /^0[0-9-+]+$|^84[0-9-+]+$|^\+84[0-9-+]+$/;
                            if (!intRegex.test(phone) && phone.length != 0) {
                                return {
                                    valid: false,
                                    message: '{{ text_error_form_telephone_start }}'
                                }
                            }
                            if (8 > phone.length && phone.length > 0) {
                                return {
                                    valid: false,
                                    message: '{{ error_min_length_8 }}'
                                }
                            }
                            if (phone.length > 15) {
                                return {
                                    valid: false,
                                    message: '{{ error_max_length_15 }}'
                                }
                            }
                            return true;
                        }
                    }
                }
            },
            city: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                }
            },
            address: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 128,
                        message: '{{ error_max_length_128 }}'
                    }
                }
            },
        }
    }).on('status.field.bv', function(e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });
</script>