{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <div class="sub-head clearfix">
                    <h1 class="page-title float-left">
                        {{ heading_title_list }}
                        {% if access_modify %}
                        <p class="m-0">
                            <a href="#" class="text-pink font-12 font-weight-400 mr-3" id="import-xls"><i
                                        class="icon icon-import mr-2 font-18 bg-pink"></i>{{ text_import_list }}</a>
                            <a href="#" class="text-pink font-12 font-weight-400" id="export-xls"><i
                                        class="icon icon-export mr-2 font-18 bg-pink"></i>{{ text_export_list }}</a>
                        </p>
                        {% endif %}
                    </h1>
                    {% if access_modify %}
                    <a class="advance-link btn float-right" href="{{ add }}">{{ text_add }}</a>
                    {% endif %}
                </div>
                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                {% if success %}
                    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}
                <div class="box-wrap">
                    <div class="box-head">
                        <div class="nav nav-tabs" id="order-form-tab" role="tablist">
                            <a class="active">{{ heading_title_list }}</a>
                            {% if email_subscribers %}
                                <a href="{{ link_list_email_subscribers }}">{{ heading_title_list_email_subcribers }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="tab-content">
                            <form class="filter-form order-filter clearfix product-form-validate"
                                  action="{{ action_search }}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group search-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light dropdown-toggle"
                                                        type="button">{{ text_filter_customer }}</button>
                                                <div class="dropdown-menu p-0 p-3 font-12">
                                                    <div class="form-group">
                                                        <label>{{ text_filter_by }}</label>
                                                        <!--<select class="form-control form-control-sm category_id" data-label="{{ entry_category }}" id="category_id" name="category_id">-->
                                                        <select class="form-control form-control-sm select2 category_id"
                                                                id="category_id" data-label="{{ entry_category }}"
                                                                required name="category_id">
                                                            <option value="">{{ text_filter_condition_select }}</option>
                                                            <option value="1" data-value="">
                                                                {{ text_filter_status }}
                                                            </option>
                                                            <option value="2" data-value="">
                                                                {{ text_filter_group }}
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div id="showoptionone"></div>
                                                    <div id="showoptiontwo"
                                                         class="form-group d-none hierarchical-child"></div>
                                                    <div role="separator" class="dropdown-divider"></div>
                                                    <button type="button" id="filter_button"
                                                            class="btn btn-info font-12">{{ text_filter }}</button>
                                                </div>
                                            </div>
                                            <div class="input-group-icon">
                                                <i class="icon icon-search"></i>
                                                <input type="text" id="filter_name"
                                                       class="form-control search-input-icon"
                                                       placeholder="{{ text_search }}">
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End row -->
                                <div class="filter-item"></div>
                            </form> <!-- End form filter -->
                            <div id="customer-content" class="not-choose-product-list table-responsive" >
                                {% include 'customer/customer_list_append.twig' %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div id="image-loading"></div>
    </div>
</div>

<div class="modal fade" id="confirm-action" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">{{ text_close }}</span></button>
                <h4 class="modal-title text-uppercase" id="confirm-label">{{ text_warning }}</h4>
            </div>
            <div class="modal-body">
                <span class="note-confirm"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss"
                        data-dismiss="modal">{{ text_cancel }}</button>
                <button type="button" class="btn btn-pink btn-danger confirm"
                        data-dismiss="modal">{{ text_confirm }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="form-upload-customer" tabindex="-1" role="dialog" aria-labelledby="confirm-label"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="confirm-product-label">{{ text_import_list }}</h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="form-upload">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-default">{{ text_choose_file }}</button>
                        <span></span>
                        <input type="file" name="import-file" id="chooseFile" value="" accept=".xls,.xlsx"/>
                    </div>
                </form>
                <p>{{ upload_customer_sample_text }} <a href="{{ link_down }}" target="_blank"> {{ text_here }}</a></p>
                <span class="text-danger">{{ upload_customer_note }}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss-upload-customer"
                        data-dismiss="modal">{{ button_close }}</button>
                <button type="button"
                        class="btn btn-pink confirm-upload-customer" {#data-dismiss="modal"#}>{{ upload_import_customer_list }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.category_id').change(function (event) {
        $('.order-filter #image-loading-filter').show();
        var categoryID = $('.category_id').val();
        $.post('{{ loadOptionOne | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}', {
            'categoryID': categoryID,
            'flag': true
        }, function (data) {
            $('.order-filter #image-loading-filter').hide();
            $('#showoptionone').html(data).promise().done(function () {

                $('select.select2').each(function (index, el) {
                    $(this).wrap("<div class='select-2-container position-relative" + ($(this).attr('data-tags') ? " select2-tag" : '') + "'></div>");
                    $(this).css('width', '100%');
                    $(this).after('<div class="select-2-wrapper ' + ($(this).attr('multiple') ? 'multiple' : 'single') + '"></div>');
                    $(this).select2({
                        theme: 'bootstrap4',
                        dropdownParent: $(this).parent().find('>.select-2-wrapper'),
                        placeholder: $(this).attr('data-placeholder'),
                        tags: $(this).attr('data-tags'),
                        minimumResultsForSearch: ($(this).attr('data-search') == "true") ? 1 : Infinity,
                        closeOnSelect: ($(this).attr('multiple') && !$(this).attr('data-tags') ? false : true)
                    });
                });
            });
        })
    });

    $("body").on('DOMSubtreeModified', ".filter-item", function () {
        $('.filter-item').find('.remove').remove();
    });

    $(document).keypress(function (e) {
        if (e.which == 13 && $("#filter_name").is(":focus")) {  // enter
            event.preventDefault();
            filter();
        }
    });
    //ajax load new page
    $('body').on('click', '.page-link', function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (typeof href != 'undefined') {
            var page = $(this).attr('data-page');
            filter(page);
            $('html, body').animate({
                scrollTop: ($('#customer-content').offset().top)
            }, 300);
        }
    });

    //filter
    function filter(page = 1, remove_item = true) {
        var url = '{{ url_filter | striptags | convert_encoding('UTF-8', 'HTML-ENTITIES') }}';
        //var filter_status = $('input[name=filter_status]:checked').val();
        var filter_name = $('#filter_name').val();
        var status_customer = $('.filter-item input[name^=filter_status]').map(function (idx, elem) {
            return $(elem).val();
        }).get();
        var customer_group = $('.filter-item input[name^=filter_customer_group]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        if (!remove_item && status_customer.length < 1 && $('.filter-form select[name^=filter_status]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        if (!remove_item && customer_group.length < 1 && $('.filter-form select[name^=filter_customer_group]').length) {
            $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid red');
            return;
        }

        $.ajax({
            url: url,
            method: 'GET',
            data: {
                filter_data: true,
                filter_name: filter_name,
                status_customer: status_customer,
                customer_group: customer_group,
                page: page,
            },
            beforeSend: function () {
                $('#image-loading').show();
                $('.dropdown-menu').removeClass('show');
            },
            success: function (html) {
                $('#customer-content').html(html);
                $('#image-loading').hide();
                $('.filter-form #showoptionone .select2-container--bootstrap4 .select2-selection').css('border', '1px solid #ced4da');
                $('.filter-form input').css('border', '1px solid #ced4da');
            }
        });
    }

    // import, export
    $('#import-xls').on('click', function (e) {
        e.preventDefault();
        $("#form-upload-customer").modal('show');

        $('.confirm-upload-customer').on('click', function (e) {
            if ($('#form-upload input[name=\'import-file\']').val() == '') {
                alert('{{ error_no_file_selected }}');
                return;
            }
            e.preventDefault();
            var timer;
            var flag = 0;
            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }
            timer = setInterval(function () {
                if ($('#form-upload input[name=\'import-file\']').val() != '' && flag === 0) {
                    flag = 1;
                    $("#form-upload-customer").modal('hide');
                    clearInterval(timer);
                    $.ajax({
                        url: 'index.php?route=customer/customer/import&user_token={{ user_token }}',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('#image-loading').show();
                        },
                        success: function (json) {
                            // clear input file
                            $('#form-upload #chooseFile').val('');
                            $('#form-upload span').html('');
                            // end clear

                            $('#image-loading').hide();
                            if (json['error']) {
                                alert(json['error']);
                            }

                            if (json['success']) {
                                alert(json['success']);
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#image-loading').hide();
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });

        $(".dismiss-upload-customer").on("click", function () {
            $("#form-upload-customer").modal('hide');
        });
    });

    $('#chooseFile').bind('change', function () {
        var filename = $("#chooseFile").val().split('\\').pop();
        $('.upload-btn-wrapper span').html(filename);
    });

    $('#export-xls').on('click', function (e) {
        e.preventDefault();
        $('#form-export').remove();
        $('body').prepend('' +
            '<form name="form-export" enctype="multipart/form-data" id="form-export" style="display: none;">' +
            '    <button type="submit" name="export-file">Export</button>' +
            '</form>');

        $('#form-export').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: 'index.php?route=customer/customer/export&user_token={{ user_token }}',
                type: 'post',
                data: new FormData($('#form-export')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $('#image-loading').show();
                },
                success: function (json) {
                    $('#image-loading').hide();
                    if (json['error']) {
                        alert('{{ export_file_error }}');
                    }

                    if (json['success']) {
                        alert('Success!');
                    }

                    if (json.indexOf('data:application/vnd.ms-excel') < 0) {
                        alert('{{ export_file_error }}');
                        return;
                    }

                    var $a = $("<a>");
                    $a.attr("href", json);
                    $("body").append($a);
                    $a.attr("download", "{{ export_file_name }}");
                    $a[0].click();
                    $a.remove();

                    // window.open('index.php?route=catalog/product&user_token={{ user_token }}','_blank' );
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#image-loading').hide();
                    alert('{{ export_file_error }}');
                }
            });

            return false;
        });

        $('#form-export button[name=\'export-file\']').trigger('click');
    });
</script>
<style>
    #import-xls {
        text-decoration-line: none;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
</style>
{{ footer }}