{{ custom_header }}
<div class="page-wrapper">
    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb" class="sub-head-mobile">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href %}
                                <li class="breadcrumb-item "><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>

                {% if error_warning %}
                    <div class="alert alert-danger alert-dismissible"><i
                                class="fa fa-exclamation-circle"></i> {{ error_warning }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endif %}

                <form action="{{ action }}" method="post" class="form-step form-fix-head" id="customer-form">
                    <div class="sub-head clearfix fix-on-scroll">
                        <div class="fix-content col">
                            <h1 class="page-title float-left font-18">{{ text_form }}</h1>
                            <button type="submit" class="btn btn-pink float-right save-customer">{{ text_form_save }}</button>
                            <a href="{{ cancel }}" class="btn btn-light float-right border bg-white  mr-2">{{ text_form_cancel }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-12">
                            <div class="box-wrap mb-3">
                                <div class="box-content">
                                    <h4 class="box-title text-uppercase">{{ text_general_information }}</h4>
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0" for="full_name">{{ text_full_name }} <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" value="{{ full_name }}"
                                                   name="full_name" placeholder="{{ text_placeholder_full_name }}">
                                        </div>
                                        <div class="col-12 col-lg-2"></div>

                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0" for="telephone">{{ entry_telephone }} <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" value="{{ telephone }}"
                                                   name="telephone" placeholder="{{ text_placeholder_telephone }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0" for="email">Email</label>
                                            <input type="text" class="form-control" value="{{ email }}"
                                                   name="email" placeholder="{{ text_placeholder_email }}" maxlength="50">
                                        </div>
                                        <div class="col-12 col-lg-2"></div>

                                        <div class="col-12 col-lg-5 customer-groups-select">
                                            <label class="mb-0" for="customer_group">{{ text_group_customer }}</label>
                                            <select class="select2-customer-groups" name="customer_group_id" data-placeholder="{{ text_chose_group_customer }}" data-search="true">
                                                <option value="">{{ text_chose_group_customer }}</option>
                                                {% for customer_group in customer_groups %}
                                                    <option value="{{ customer_group.customer_group_id }}"
                                                            {% if customer_group.customer_group_id == customer_group_id %}selected {% endif %}>{{ customer_group.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="select-2-dropdown-customer-groups"></div>
                                            <i class="fa fa-caret-down down-icon"></i>
                                        </div>
                                    </div>

                                    <input type="hidden" name="address_id" value="{{ address_id }}">

                                    <div class="form-group row">
                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0" for="full_name">{{ text_birthday }} </label>
                                            <div id="date_of_birth" class="discount-datetime">
                                                <span></span>&nbsp;&nbsp;&nbsp;
                                                <i style="position: absolute;right: 15px; top: 10px;">
                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.44898 2H6.40816V3.5H9.59184V2H11.551V3.5H12.7755C13.4518 3.5 14 3.97969 14 4.57143V5.85714H2V4.57143C2 3.97969 2.54822 3.5 3.22449 3.5H4.44898V2ZM14 6.5H2V12.9286C2 13.5203 2.54822 14 3.22449 14H12.7755C13.4518 14 14 13.5203 14 12.9286V6.5Z" fill="#B5B5B5"/>
                                                    </svg>
                                                </i>
                                                <input type="hidden" name="birthday" value="{{ birthday }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-2"></div>

                                        <div class="col-12 col-lg-5">
                                            <label class="mb-0">{{ text_sex }} </label>

                                            <div class="d-flex">
                                                <div class="form-check-inline cus-custom-radio">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="sex" {% if sex == 1 %} checked {% endif %}value="1"
                                                               class="custom-control-input" id="sex1">
                                                        <label class="custom-control-label"
                                                               for="sex1">{{ text_sex_male }}</label>
                                                    </div>
                                                </div>

                                                <div class="form-check-inline cus-custom-radio">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="sex" {% if sex == 2 %} checked {% endif %} value="2"
                                                               class="custom-control-input" id="sex2">
                                                        <label class="custom-control-label"
                                                               for="sex2">{{ text_sex_female }}</label>
                                                    </div>
                                                </div>

                                                <div class="form-check-inline cus-custom-radio">
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" name="sex" {% if sex == 3 %} checked {% endif %} value="3"
                                                               class="custom-control-input" id="sex3">
                                                        <label class="custom-control-label"
                                                               for="sex3">{{ text_sex_other }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-wrap">
                                <div class="box-content">
                                    <h4 class="box-title text-uppercase">{{ text_default_address }}</h4>
                                    <p class="text-primary">{{ text_default_address_desc }}</p>
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-6">
                                            <p>
                                                <span class="mr-4">{{ text_full_name }}</span>
                                                <span class="full_name_for_default_address">
                                                    {% if firstname or lastname %} {{ lastname }} {{ firstname }} {% else %} -- {% endif %}
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <span class="mr-4">{{  entry_telephone }}</span>
                                            <span class="telephone_for_default_address">{% if telephone_address_default %} {{ telephone_address_default }} {% else %} -- {% endif %}</span>
                                        </div>
                                        <input type="hidden" name="full_name_for_default_address" value="{{ lastname }} {{ firstname }}">
                                        <input type="hidden" name="telephone_for_default_address" value="{{ telephone_address_default }}">
                                    </div>
                                    <div class="form-group row select-address">
                                        <div class="col-12 col-lg-4">
                                            <label class="mb-0" for="city">{{ text_province }} <span class="text-danger">*</span></label>
                                            <select class="select2-province" name="city" data-placeholder="{{ text_chose_province }}" data-search="true">
                                            </select>
                                            <div class="select-2-dropdown-province"></div>
                                            <i class="fa fa-caret-down down-icon"></i>
                                        </div>

                                        <div class="col-12 col-lg-4">
                                            <label class="mb-0" for="district">{{ text_district }}</label>
                                            <select class="select2-district" name="district" data-placeholder="{{ text_chose_district }}" data-search="true">
                                            </select>
                                            <div class="select-2-dropdown-district"></div>
                                            <i class="fa fa-caret-down down-icon"></i>
                                        </div>

                                        <div class="col-12 col-lg-4">
                                            <label class="mb-0" for="wards">{{ text_wards }}</label>
                                            <select class="select2-ward" name="wards" data-placeholder="{{ text_chose_wards }}" data-search="true">
                                            </select>
                                            <div class="select-2-dropdown-ward"></div>
                                            <i class="fa fa-caret-down down-icon"></i>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12 col-lg-12">
                                            <label class="mb-0" for="address">{{ entry_address }} <span class="text-danger">*</span></label>
                                            <textarea class="form-control" name="address" placeholder="{{ text_placeholder_address }}" rows="3">{{ address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12">
                            <div class="box-wrap mb-3">
                                <div class="box-content">
                                        <h4 class="box-title text-uppercase">{{ text_advanced_information }}</h4>
                                    <div class="form-group row">
                                        <div class="col-12 col-lg-12">
                                            <label class="mb-0" for="website">Website</label>
                                            <input type="text" class="form-control" value="{{ website }}"
                                                   name="website" placeholder="{{ text_enter_website }}">
                                        </div>

                                        <div class="col-12 col-lg-12">
                                            <label class="mb-0" for="tax_code">{{ text_tax_code }}</label>
                                            <input type="text" class="form-control" value="{{ tax_code }}"
                                                   name="tax_code" placeholder="{{ text_enter_tax_code }}">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12 col-lg-12">
                                            <label class="mb-0" for="website">{{ text_staff_in_charge }}</label>
                                            <select name="staff_in_charge" class="form-control select2" id="staff-in-charge" data-placeholder="{{ text_chose_staff_in_charge }}">
                                                {% if staffs %}
                                                    {% for key,staff in staffs %}
                                                        <option value="{{ staff.user_id }}"
                                                                {% if staff_in_charge == staff.user_id %} selected {% endif %}>
                                                            {{ staff.lastname }}&nbsp;{{ staff.firstname }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <i class="fa fa-caret-down down-icon"></i>
                                        </div>

                                        <div class="col-12 col-lg-12">
                                            <label class="mb-0" for="address">{{ entry_comment }}</label>
                                            <textarea class="form-control" name="note" placeholder="{{ text_enter_note }}" rows="3">{{ note }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#<div class="box-wrap">#}
                                {#<div class="box-content">#}
                                    {#<h4 class="box-title text-uppercase">{{ text_other_information }}</h4>#}

                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </form>
            </div>

        </main>
        <!-- End Main -->
    </div>

</div>

<script type="text/javascript" src="view/javascript/custom/moment.min.js"></script>
<script type="text/javascript" src="view/javascript/custom/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/daterangepicker.css"/>
<style>
    .discount-datetime {
        background: #fff;
        cursor: pointer;
        padding: 7px 10px;
        border: 1px solid #ccc;
        display: inline-block;
        width: 100%;
        text-align: left;
        position: relative;
        border-radius: 3px;
    }
    ::placeholder {
        color: #B5B5B5 !important;
    }
    .custom-radio .custom-control-label:before {
        top: 12px;
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after {
        top: 16px !important;
    }
    .down-icon {
        position: absolute;
        top: 52px;
        right: 25px;
        opacity: 0.5;
    }
    .customer-groups-select .select2-container .select2-selection--single .select2-selection__clear {
        /*display: none;*/
        background-color: #000;
        margin-top: 0.6rem;
    }
    .form-step .form-group label {
        font-weight: normal;
        color: #495057;
    }
    .custom-radio .custom-control-label {
        color: #212B36 !important;
    }
    .custom-control-label::after {
        top: 13px;
    }
    .select-address .select2-selection__clear {
        display: none;
    }
</style>
<script type="text/javascript">
    {% if city and city.code and city.name %}
        var newOption = new Option('{{ city.name }}', '{{ city.code }}', true, true);
        $('.select-address .select2-province').append(newOption);
        $('.select-address .select2-province').trigger('change');
    {% endif %}

    {% if district and district.code and district.name %}
        var newOption = new Option('{{ district.name }}', '{{ district.code }}', true, true);
        $('.select-address .select2-district').append(newOption);
        $('.select-address .select2-district').trigger('change');
    {% endif %}

    {% if wards and wards.code and wards.name %}
        var newOption = new Option('{{ wards.name }}', '{{ wards.code }}', true, true);
        $('.select-address .select2-ward').append(newOption);
        $('.select-address .select2-ward').trigger('change');
    {% endif %}

    {% if customer_id == 0 %}
        $('#customer-form input[name="full_name"]').on('keyup', function () {
           $('#customer-form .full_name_for_default_address').text($(this).val());
        });

        $('#customer-form input[name="telephone"]').on('keyup', function () {
           $('#customer-form .telephone_for_default_address').text($(this).val());
        });
    {% endif %}

    //select2 province
    $('select.select2-province').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        allowClear: true,
        placeholder: "{{ text_chose_province }}",
        dropdownParent: $('#customer-form .select-2-dropdown-province'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getProvinces&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    provinces: $('.select2-province').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });

    //select2 district
    $('select.select2-province').on('select2:select', function (e) {
        $('#customer-form .select2-ward option').remove();
        $('#customer-form .select2-district option').remove();
    });
    $('select.select2-district').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_chose_district }}",
        allowClear: true,
        dropdownParent: $('#customer-form .select-2-dropdown-district'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getDistrictsByProvinceCode&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    provinces: $('.select2-province').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });
    $('select.select2-district').on('select2:select', function (e) {
        $('#customer-form .select2-ward option').remove();
    });

    //select2 wars
    $('select.select2-ward').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_chose_wards }}",
        allowClear: true,
        dropdownParent: $('#customer-form .select-2-dropdown-ward'),
        language: {
            "noResults": function () {
                return "{{ select2_notice_not_result }}";
            },
            "searching": function () {
                return "{{ select2_notice_search }}";
            },
            "errorLoading": function () {
                return "{{ select2_notice_load_more }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        ajax: {
            url: "index.php?route=localisation/country/getWardsByDistrictCode&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                    district: $('.select2-district').val(),
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }
                return {
                    results: data.results,
                };
            },
            cache: true
        },
    });

    //select2 customer groups
    $('select.select2-customer-groups').select2({
        theme: 'bootstrap4',
        width: "100%",
        closeOnSelect: true,
        placeholder: "{{ text_chose_group_customer }}",
        allowClear: true,
        dropdownParent: $('#customer-form .select-2-dropdown-customer-groups'),
        language: {
            "noResults": function ()  {
                $('.customer-groups-select').addClass('no-result');
                var term = $('.customer-groups-select .select2-search__field').val();


                if ($.trim(term) !== '') {
                    if ($.trim(term).length > 50) {
                        return "<span>{{ error_name_max_length }}</span>";
                    }

                    return "<span class='add-option' " +
                        "onclick='addCustomerGroups()'>" +
                        "<i class='fa fa-plus-circle'></i> " +
                        "" + ' {{ text_select2_add_new }} ' + " '"+ $.trim(term) +"'</span>";
                }
            },
            "searching": function () {
                $('.customer-groups-select').removeClass('no-result');
                return "{{ select2_notice_search }}";
            },
            "loadingMore": function () {
                return "{{ select2_notice_load_more }}";
            },
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        ajax: {
            url: "index.php?route=customer/customer/getGroupCustomers&user_token={{ user_token }}",
            dataType: 'json',
            delay: 20,
            data: function (params) {
                var condition = {
                    filter_name: params.term,
                };
                return condition;
            },
            processResults: function (data, params) {
                if (data.count == 0) {
                    data.results = [];
                }

                return {
                    results: data.results,
                };
                
            },
            cache: true
        },
    });

    moment.lang('vi', {
        week: {
            dow: 1 // Monday is the first day of the week
        }
    });

    // max today is 13 col in chart for each point stands for 2h
    var start = moment();
    var birthday = '{{ birthday }}';

    if (birthday) {
        start = moment('{{ birthday }}');
        $('#date_of_birth span').html('<span> '+start.format("DD/MM/YYYY")+'</span>');
        $('#date_of_birth input[name="birthday"]').val(start.format("YYYY-MM-DD"));
    } else {
        $('#date_of_birth span').html('<span style="color: #B5B5B5;"> {{ text_chose_birthday }} </span>');
        $('#date_of_birth input[name="birthday"]').val('');
    }

    $('#date_of_birth').daterangepicker({
        singleDatePicker: true,
        startDate: start,
        maxDate: start,
        showDropdowns: true,
        opens: 'left',
        startOfWeek: 'monday',
        firstDay: 1,
        locale: {
            format: "DD/MM/YYYY HH:mm:ss",
            separator: " - ",
            applyLabel: "{{ button_apply }}",
            cancelLabel: "{{ button_cancel }}",
            customRangeLabel: "{{ options }}",
            "daysOfWeek": [
                "{{ sunday }}",
                "{{ monday }}",
                "{{ tuesday }}",
                "{{ wednesday }}",
                "{{ thursday }}",
                "{{ friday }}",
                "{{ saturday }}"
            ],
            "monthNames": [
                "{{ january }}",
                "{{ february }}",
                "{{ march }}",
                "{{ april }}",
                "{{ may }}",
                "{{ june }}",
                "{{ july }}",
                "{{ august }}",
                "{{ september }}",
                "{{ october }}",
                "{{ november }}",
                "{{ december }}"
            ],
            "firstDay": 1
        }
    }, function (_start, _end) {
        start = _start;
    });

    $('#date_of_birth').on('apply.daterangepicker', function(ev, picker) {
        $('#date_of_birth span').html(picker.startDate.format("DD/MM/YYYY"));
        $('#date_of_birth input[name="birthday"]').val(picker.startDate.format("YYYY-MM-DD"));
    });

    function addCustomerGroups() {
        var search_val = $('.customer-groups-select .select2-search__field').val();
        if (search_val.length > 30) {
            $('.customer-groups-select .select-2-container').append('<small class="help-block" data-bv-validator="stringLength" data-bv-for="sku" data-bv-result="VALID" >{{ error_max_length_30 }}</small>');
            $('select.select2-customer-groups').select2('close');
            return false;
        } else {
            var data = {
                id: 'group_' + search_val,
                text: search_val,
            };
            if ($(".customer-groups-select .select2-selection__choice[title='" + search_val.replace(/\'/g, "\\'") + "']").length == 0) {
                var newOption = new Option(data.text, data.id, true, true);
                $('select.select2-customer-groups').append(newOption).trigger('change');
            }
            $('select.select2-customer-groups').select2('close');
        }
    }

    // VALIDATE
    $("#customer-form").bootstrapValidator({
        excluded: ':disabled',
        fields: {
            full_name: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 50,
                        min: 1,
                        message: '{{ error_name_max_length }}'
                    }
                }
            },
            telephone: {
                validators: {
                    notEmpty: {
                        message: '{{ error_input_null }}',
                    },
                    callback: {
                        message: '{{ error_input_null }}',
                        callback: function () {
                            var phone = $('input[name="telephone"]').val();
                            var intRegex = /^0[0-9-+]+$|^84[0-9-+]+$|^\+84[0-9-+]+$/;
                            if (!intRegex.test(phone) && phone.length != 0) {
                                return {
                                    valid: false,
                                    message: '{{ text_error_form_telephone_start }}'
                                }
                            }
                            if (8 > phone.length && phone.length > 0) {
                                return {
                                    valid: false,
                                    message: '{{ error_min_length_8 }}'
                                }
                            }
                            if (phone.length > 15) {
                                return {
                                    valid: false,
                                    message: '{{ error_max_length_15 }}'
                                }
                            }
                            return true;
                        }
                    }
                }
            },
            email: {
                validators: {
                    stringLength: {
                        max: 50,
                        min: 1,
                        message: '{{ error_name_max_length }}'
                    },
                    callback: {
                        callback:function () {
                            var email = $('input[name="email"]').val();
                            var regexEmail = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                            if (email && !regexEmail.test(email)) {
                                return {
                                    valid: false,
                                    message: '{{ error_type_mail }}'
                                }
                            }

                            return true;
                        }
                    }
                }
            },
            website: {
                validators: {
                    stringLength: {
                        max: 50,
                        message: '{{ error_name_max_length }}'
                    }
                }
            },
            note: {
                validators: {
                    stringLength: {
                        max: 255,
                        message: '{{ error_max_length_255 }}'
                    }
                }
            },
            city: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                }
            },
            address: {
                validators: {
                    notEmpty: {
                        message: "{{ error_input_null }}"
                    },
                    stringLength: {
                        max: 128,
                        message: '{{ error_max_length_128 }}'
                    }
                }
            },
            tax_code: {
                validators: {
                    callback:  {
                        message: '{{ text_error_form_tax_code_more_16 }}',
                        callback: function () {
                            var code = $('input[name="tax_code"]').val();
                            code = code.trim();
                            var numberRegex = /^[0-9\-]+$/g;
                            if (!numberRegex.test(code) && code.length != 0) {
                                return {
                                    valid: false,
                                    message: '{{ text_error_form_tax_code_special_characters }}'
                                }
                            }

                            if (code.length > 16) {
                                return {
                                    valid: false,
                                    message: '{{ text_error_form_tax_code_more_16 }}'
                                }
                            }

                            return true;
                        }
                    },
                }
            },
        }
    }).on('status.field.bv', function(e, data) {
        if (data.bv.getSubmitButton()) {
            data.bv.disableSubmitButtons(false);
        }
    });
</script>