<table class="table table-with-operation product-list">
    <thead>
    <tr>
        <th scope="check-all" width="10">
            <div class="dropdown">
                <label class="checkbox">
                    <input type="checkbox" name="select_all"
                           data-text-language-choose-all="{{ choose_all_in_filter }}"
                           data-text-language-choose="{{ choose_in_filter }}"
                           data-text-language-item="{{ item_in_filter }}">
                    <input type="hidden" name="selected" class="selected_product">
                    <span></span>
                </label>
                <span class="text text-black-50"></span>
                <a class="dropdown-toggle" href="#" id="dropdownOperationTable"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ collection_list_filter_action }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOperationTable">
                    <a class="dropdown-item" href="{{ delete }}"
                       id="delete">{{ action_remove_ingredient }}</a>
                </div>
                <input type="hidden" name="selected" value="">
            </div>
        </th>
        <th scope="col">{{ text_code_ingredient }}</th>
        <th scope="col">{{ text_name_ingredient }}</th>
        <th scope="col" class="text-right">{{ text_list_modified_date }}</th>
    </tr>
    </thead>
    <tbody>
    {% if ingredients %}
        {% for ingredient in ingredients %}
            <tr>
                <td scope="select-this" data-id="{{ ingredient.ingredient_id }}">
                    <label class="checkbox">
                        <input type="checkbox" name="select_this" value="1">
                        <span></span>
                    </label>
                </td>
                <td>
                    <a href="{{ ingredient.edit }}" name="{{ ingredient.code }}">{{ ingredient.code|length > 100 ? ingredient.code|slice(0, 100) ~ '...' : ingredient.code }}</a>
                </td>
                <td>
                    <a href="{{ ingredient.edit }}" name="{{ ingredient.name }}">{{ ingredient.name|length > 100 ? ingredient.name|slice(0, 100) ~ '...' : ingredient.name }}</a>
                </td>
                <td class="text-right">
                    {{ ingredient.updated_at | date("d/m/Y, h:i A")}}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
<div class="table-statistic clearfix font-14">
    <span class="float-lg-left text-right">{{ results }}</span>
    <div class="float-lg-right">
        <!--<span class="float-left pt-1 pr-3">Page</span>-->
        <nav class="float-left" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div>
</div> <!-- End Table statistic -->

<script>
    $('#delete').on('click', function (event) {
        event.preventDefault();
        var product_list = $('.selected_product').val();
        var num = '';
        if (product_list.length > 0) {
            num = product_list.split(",").length;
        }
        var message = '{{ collection_confirm_show }}' + num + '{{ collection_confirm_choose }}';
        $("#confirm-product .modal-body p").html(message);
        var selected = $(this).closest('[scope="check-all"]').find('input[name="selected"]').val();
        if (selected === '') {
            return false;
        }
        selected = JSON.parse(selected);
        var url = $(this).attr('href') + '&ingredient_ids=' + selected.join(',');

        $("#confirm-product").modal('show');

        $(".confirm").on("click", function () {
            window.location.href = url;
        });

        $(".dismiss").on("click", function () {
            $("#confirm-product").modal('hide');
        });
    });
</script>