{{ custom_header }}
<!-- End header -->

<div class="page-wrapper">

    <div class="content-wrapper row m-0">
        {{ custom_column_left }}
        <!-- End col navbar -->

        <main class="main-wrap col-12 col-lg-10 p-0">
            <div class="main-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href != '' %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                                </li>
                            {% else %}
                                <li class="breadcrumb-item">{{ breadcrumb.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
                <div class="box-wrap bg-none">
                    <form class="section-form form-fix-head" action="{{ action }}" method="post" enctype="multipart/form-data" id="ingredient-form">
                        <div class="sub-head clearfix pb-3 fix-on-scroll fix-content-mobile-create">
                            <div class="fix-content col">
                                <h1 class="page-title float-left font-16">{{ text_form }}</h1>

                                <button type="submit" class="btn btn-pink float-right" data-toggle="modal" id ="saveBlog" data-target="#confirmPasswordPreSave">{{ text_save }}</button>
                                <a href="javascript:;" class="btn btn-light float-right confirm-blog-cancel border bg-white mr-1">{{ text_cancel }}</a>
                            </div>
                        </div>

                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-lg-8 form-left">
                                <div class="box-content bg-white mb-3">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="name">{{ text_name }}<span class="text-danger">*</span></label>
                                                <input id="name" required type="text" name="name"
                                                       value="{{ name }}" class="form-control" placeholder="{{ text_name_placeholder }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="code">{{ text_code }}<span class="text-danger">*</span></label>
                                                <input id="code" required type="text" name="code"
                                                       value="{{ code }}" class="form-control" placeholder="{{ text_code_placeholder }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="active_ingredient">{{ text_active_ingredient }}</label>
                                                <input id="active_ingredient" type="text" name="active_ingredient"
                                                       value="{{ active_ingredient }}" class="form-control" placeholder="{{ text_active_ingredient_placeholder }}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="unit">{{ text_unit }}</label>
                                                <input id="unit" type="text" name="unit"
                                                       value="{{ unit }}" class="form-control" placeholder="{{ text_unit_placeholder }}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="basic_description">{{ text_basic_description }}</label>
                                        <textarea id="basic_description" name="basic_description" maxlength="3000"
                                                  placeholder="{{ text_basic_description_placeholder }}" class="form-control editor"
                                                  rows="8">{{ basic_description }}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="detail_description">{{ text_detail_description }}</label>
                                        <textarea id="detail_description" name="detail_description" maxlength="30000"
                                                  placeholder="{{ text_detail_description_placeholder }}" class="form-control editor"
                                                  rows="8">{{ detail_description }}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="course_certificates">{{ text_course_certificates }}</label>
                                        <textarea id="course_certificates" name="course_certificates" maxlength="3000"
                                                  placeholder="{{ text_course_certificates_placeholder }}" class="form-control editor"
                                                  rows="8">{{ course_certificates }}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="note">{{ text_note }}</label>
                                        <textarea id="note" name="note" maxlength="3000"
                                                  placeholder="{{ text_note_placeholder }}" class="form-control editor"
                                                  rows="8">{{ note }}</textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="overdose">{{ text_overdose }}</label>
                                        <textarea id="overdose" name="overdose" maxlength="3000"
                                                  placeholder="{{ text_overdose_placeholder }}" class="form-control editor"
                                                  rows="8">{{ overdose }}</textarea>
                                    </div>
                                </div> <!-- End box content -->
                            </div> <!-- End form left -->

                            <div class="col-12 col-lg-4 form-right">
                                <div class="box-content bg-white mb-3">
                                    <h1 class="page-title font-16">{{ text_recommended_daily_vn_man }}</h1>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="vn_man_19_50">{{ text_vn_man_19_50 }}</label>
                                                <input id="vn_man_19_50" type="text" name="vn_man_19_50"
                                                       value="{{ vn_man_19_50 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="vn_man_gt_60">{{ text_vn_man_gt_60 }}</label>
                                                <input id="vn_man_gt_60" type="text" name="vn_man_gt_60"
                                                       value="{{ vn_man_gt_60 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="vn_man_51_60">{{ text_vn_man_51_60 }}</label>
                                                <input id="vn_man_51_60" type="text" name="vn_man_51_60"
                                                       value="{{ vn_man_51_60 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3">
                                    <h1 class="page-title font-16">{{ text_recommended_daily_vn_women }}</h1>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="vn_women_19_50">{{ text_vn_women_19_50 }}</label>
                                                <input id="vn_women_19_50" type="text" name="vn_women_19_50"
                                                       value="{{ vn_women_19_50 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="vn_women_gt_60">{{ text_vn_women_gt_60 }}</label>
                                                <input id="vn_women_gt_60" type="text" name="vn_women_gt_60"
                                                       value="{{ vn_women_gt_60 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="vn_women_51_60">{{ text_vn_women_51_60 }}</label>
                                                <input id="vn_women_51_60" type="text" name="vn_women_51_60"
                                                       value="{{ vn_women_51_60 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3">
                                    <h1 class="page-title font-16">{{ text_recommended_daily_us_man }}</h1>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="us_man_19_30">{{ text_us_man_19_30 }}</label>
                                                <input id="us_man_19_30" type="text" name="us_man_19_30"
                                                       value="{{ us_man_19_30 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="us_man_51_70">{{ text_us_man_51_70 }}</label>
                                                <input id="us_man_51_70" type="text" name="us_man_51_70"
                                                       value="{{ us_man_51_70 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="us_man_31_50">{{ text_us_man_31_50 }}</label>
                                                <input id="us_man_31_50" type="text" name="us_man_31_50"
                                                       value="{{ us_man_31_50 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="us_man_gt_70">{{ text_us_man_gt_70 }}</label>
                                                <input id="us_man_gt_70" type="text" name="us_man_gt_70"
                                                       value="{{ us_man_gt_70 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-content bg-white mb-3">
                                    <h1 class="page-title font-16">{{ text_recommended_daily_us_women }}</h1>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="us_women_19_30">{{ text_us_women_19_30 }}</label>
                                                <input id="us_women_19_30" type="text" name="us_women_19_30"
                                                       value="{{ us_women_19_30 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="us_women_51_70">{{ text_us_women_51_70 }}</label>
                                                <input id="us_women_51_70" type="text" name="us_women_51_70"
                                                       value="{{ us_women_51_70 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="us_women_31_50">{{ text_us_women_31_50 }}</label>
                                                <input id="us_women_31_50" type="text" name="us_women_31_50"
                                                       value="{{ us_women_31_50 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>

                                            <div class="form-group">
                                                <label for="us_women_gt_70">{{ text_us_women_gt_70 }}</label>
                                                <input id="us_women_gt_70" type="text" name="us_women_gt_70"
                                                       value="{{ us_women_gt_70 }}" class="form-control"
                                                       placeholder="{{ text_input_placeholder }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End form right -->
                        </div> <!-- End row -->
                    </form>

                </div> <!-- End box-wrap -->
            </div> <!-- End main-content -->
        </main>
        <!-- End Main -->
    </div>
    <div id="image-loading"></div>
</div>

<!-- POPUP IMAGE MANAGER-->
<div id="modal-container">
    <div class="modal-background">
        <div class="container modal">
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-blog-cancel" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ text_close }}</span></button>
                <h4 class="modal-title" id="confirm-label">{{ popup_cancel_title }}</h4>
            </div>
            <div class="modal-body">
                <p class="message">{{ popup_cancel_message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss" data-dismiss="modal">{{ button_close }}</button>
                <a class="btn btn-danger confirm btn-pink" href="{{ cancel }}">{{ popup_cancel_ok }}</a>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/image_manager.css">
<!-- END POPUP IMAGE MANAGER -->

<!-- End page wrapper -->
<link rel="stylesheet" type="text/css" href="view/stylesheet/custom/product.css">
<style>
    .select-2-dropdown-collection {
        position: absolute;
        top: 25px;
        z-index: 2;
    }
    #image-preview{
        display: none;
    }
    .product-img{
        transition: 0.2s all ease-in;
        position: relative;
        cursor: pointer;
    }
    .product-img:before{
        content: "";
        transition:  0.2s all ease-in;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
    }
    .product-img:hover:before{
        opacity: 1
    }
    .product-img a#delete-image{
        visibility: hidden;
        transition: all 0.2s ease-in;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
    }
    .product-img:hover a#delete-image{
        visibility: visible;
    }
    .product-img{

    }
    .img-wrapper-2 {
        border: 1px solid #e8eef7;
        width: 100%;
        display: flex;
    }

    .img-wrapper-2:hover{
        border: 2px solid #428cf4 !important;
    }

    .img-wrapper-2 > img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
    .hidediv, .collection-select .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice{
        display: none;
    }
    .sortable .text-pink{
        color: #0087ff !important;
    }
    .alt-img {
        margin-top: 6px;
        padding-top: 6px;
    }
    .alt-img input{
        margin: 6px 0;
    }
    .alt-img span{
        font-size: 14px;
        font-weight: 600;
    }
    .wrap-show{
        display: block;
    }
    .wrap-hidden{
        display: none;
    }
</style>
<script src="view/javascript/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    jQuery(document).on('click', '.confirm-blog-cancel', function () {
        $("#confirm-blog-cancel").modal('show');
    });

    jQuery(document).ready(function($) {
        $('#ingredient-form').bootstrapValidator({
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '{{ text_name_empty }}'
                        },
                        stringLength: {
                            max: 250,
                            message: '{{ text_name_max_length }}'
                        }
                    }
                },
                code: {
                    validators: {
                        notEmpty: {
                            message: '{{ text_code_empty }}'
                        },
                        stringLength: {
                            max: 250,
                            message: '{{ text_code_max_length }}'
                        }
                    }
                },
            }
        })

    CKEDITOR.replace('basic_description', {
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: 'blog_sort_desc_config.js'
    });

    CKEDITOR.replace('note', {
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: 'blog_sort_desc_config.js'
    });

    CKEDITOR.replace('overdose', {
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: 'blog_sort_desc_config.js'
    });

    CKEDITOR.replace('course_certificates', {
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: 'blog_sort_desc_config.js'
    });

    CKEDITOR.replace('detail_description', {
        language: '{{ ckeditor_lang }}',
        filebrowserUploadUrl: "{{ upload_image }}",
        //customConfig: 'blog_des_config.js'
    });
});

</script>
{{ footer }}