{{ header }}
<div class="bestme_app_after_header">

</div>
<section class="block-banner pt-5 bestme-block-slideshow">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-{% if banners_visible == '1' and (banner_highlight['visible'] == '1' or banner_left['visible'] == '1') %}9{% else %}12{% endif %}">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-home-banner" data-time="{{ slideshow.transition_time }}">
                    {% for slide in slideshow.slides %}
                        <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                            <div class="slide-item">
                                <div class="image-background">
                                    <img data-src="{{ slide['image-url'] }}" class="lazyload" alt="{{ slide['description'] }}" width="100%">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div> <!-- End owl-carousel -->
            </div> <!-- End slide left -->
            {% if banners_visible == '1' and (banner_highlight['visible'] == '1' or banner_left['visible'] == '1')  %}
                <div class="col-12 col-md-3">
                    {% if banner_highlight['visible'] == '1' %}
                        <a target="_blank" href="{{ banner_highlight['url'] }}" title="{{ banner_highlight['description'] }}" class="mb-4 d-inline-block"><img class="bestme-block-banner-1 lazyload" alt="{{ banner_highlight['description'] }}" data-src="{{ banner_highlight['image-url'] }}"></a>
                    {% endif %}
                    {% if banner_left['visible'] == '1' %}
                        <a target="_blank" href="{{ banner_left['url'] }}" title="{{ banner_left['description'] }}"><img class="bestme-block-banner-2 lazyload" alt="{{ banner_left['description'] }}" data-src="{{ banner_left['image-url'] }}"></a>
                    {% endif %}
                </div>
            {% endif %}
        </div> <!-- End row -->
    </div>
</section>
<div class="bestme_app_after_slide">

</div>
{# seo h1 #}
{% include 'default/template/common/home_seo_h1.twig' %}
{# end - seo h1 #}
{% for k, block in blocks %}
    {% if block['collections'] is not empty %}
        <section class="block-saleoff-product-{{ k }} {% if k % 2 == 0 %} third-bg {% endif %} pt-5 mb-3 bestme-block-hot-product">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                <div class="block-content row">
                    {% for k,collection in block['collections'] %}
                        <div class="col-md-{{ 12 / block['grid'] }} collection">
                            <div class="product-item">
                                <div class="product-info">
                                    <div class="product-img">
                                        <a href="{{ collection['url'] }}">
                                            <img data-src="{{ collection['image'] }}" class="lazyload" alt="{{ collection['title'] }}">
                                        </a>
                                    </div>
                                    <div class="product-rating d-none">
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item on"></span>
                                        <span class="rate-item"></span>
                                        <span class="rate-item"></span>
                                    </div>
                                    <div class="item-product-name font-18">
                                        <a href="{{ collection['url'] }}" title="{{ collection.title }}"
                                           class="product-title">{{ collection.title }}</a>
                                    </div>
                                </div>
                            </div> <!-- End Pro Item -->
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                </div>
            </div>
        </section>
    {% else %}
        <section class="block-saleoff-product-{{ k }} {% if k % 2 == 0 %} third-bg {% endif %} pt-5 mb-3 bestme-block-hot-product">
            <div class="container">
                <h2 class="block-title header-font mb-4 pt-3">{{ block['title'] }}</h2>
                <div class="block-content row">
                    <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product-{{ k }}" data-number-item="{{ block['grid'] }}"
                         data-autoplay="{{ block.autoplay }}" data-autoplay_time="{{ block.autoplay_time }}" data-loop="{{ block.loop }}" >
                        {% for k,product in block['products'] %}
                            <div class="slide-item">
                                <div class="product-item">
                                    <div class="product-highlight">
                                        {% if product['percent_sale'] is not empty %}
                                            <span class="sale">{{ product['percent_sale'] }}</span>
                                        {% endif %}
                                        {% if product['product_is_stock'] == false %}
                                            <span class="status">hết</span>
                                        {% endif %}
                                        {% if product['is_new_product'] %}
                                            <span class="status">Mới</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-info">
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img data-src="{{ product['thumb'] }}" class="lazyload" alt="{{ product['name'] }}">
                                            </a>
                                        </div>
                                        <div class="product-rating d-none">
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item on"></span>
                                            <span class="rate-item"></span>
                                            <span class="rate-item"></span>
                                        </div>
                                        <div class="item-product-name">
                                            <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name }}</a>
                                        </div>
                                        {% if product['is_contact_for_price'] %}
                                            <span class="product-price">
                                                {{ contact }}
                                            </span>
                                        {% else %}
                                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                                <span class="product-price">
                                                {% if product['max_price_version'] is null %}
                                                    {{ product['compare_price_master'] }}
                                                {% else %}
                                                    {{ product['min_compare_price_version'] }}
                                                    {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                        ~ {{ product['max_compare_price_version'] }}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            {% else %}
                                                <span class="product-price">
                                                    {% if product['max_price_version'] is null %}
                                                        {{ product['price_master'] }}
                                                    {% else %}
                                                        {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                <span class="product-price-sale">
                                                    {% if product['max_compare_price_version'] is null %}
                                                        {{ product['compare_price_master'] }}
                                                    {% else %}
                                                        {{ product['min_compare_price_version'] }}
                                                        {% if product['min_compare_price_version'] != product['max_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="product-preview">
                                        <a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>
                                        <a href="#" class="like-btn d-none">
                                            <i class="icon icon-heart bg-white font-18"></i>
                                        </a>
                                    </div>
                                </div> <!-- End Pro Item -->
                            </div>
                        {% endfor %}

                    </div>
                </div> <!-- End block-content -->
            </div> <!-- End container -->
            <div class="container pb-3">
                <div class="w-100 text-center">
                    <a href="{{ block['view_more'] }}" class="text-danger font-18 text-uppercase">Xem thêm >></a>
                </div>
            </div>
        </section> <!-- End block-saleoff-product -->
    {% endif %}
    {% if k ==  0%}
        {% if banners_visible == '1' and banner_middle['visible'] == '1' %}
            <section class="block-ads-banner mb-5 text-center bestme-block-banner-3">
                <div class="container">
                    <a target="_blank" title="{{ banner_middle['description'] }}" href="{{ banner_middle['url'] }}">
                        <img alt="{{ banner_middle['description'] }}" class="lazyload" data-src="{{ banner_middle['image-url'] }}" width="100%">
                    </a>
                </div> <!-- End container -->
            </section> <!-- End block ads banner -->
        {% endif %}
    {% endif %}
{% endfor %}

{#{% if banners_visible == '1' and banner_middle['visible'] == '1' %}
    <section class="block-ads-banner mb-5 text-center bestme-block-banner-3">
        <div class="container">
            <a target="_blank" title="{{ banner_middle['description'] }}" href="{{ banner_middle['url'] }}">
                <img alt="{{ banner_middle['description'] }}" class="lazyload" data-src="{{ banner_middle['image-url'] }}" width="100%">
            </a>
        </div> <!-- End container -->
    </section> <!-- End block ads banner -->
{% endif %}#}

{#{% if best_sales_product_visible %}
    #}{#<section class="block-top-sale-product mb-5 third-bg bestme-block-best-sales-product">#}{#
        #}{#<div class="container">#}{#
            #}{#<h2 class="block-title header-font my-3 pt-5">{{ best_sales_product_title }}</h2>#}{#
            #}{#<div class="block-content row">#}{#
                #}{#<div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-number-item="{{ best_sales_product_display_grid_quantity }}">#}{#

                    #}{#{% for k,product in best_sales_product %}#}{#
                        #}{#<div class="slide-item">#}{#
                            #}{#<div class="product-item">#}{#
                                #}{#<div class="product-highlight">#}{#
                                    #}{#{% if product['percent_sale'] is not empty %}#}{#
                                        #}{#<span class="sale">{{ product['percent_sale'] }}</span>#}{#
                                    #}{#{% endif %}#}{#
                                    #}{#{% if product['product_is_stock'] == false %}#}{#
                                        #}{#<span class="status">hết</span>#}{#
                                    #}{#{% endif %}#}{#
                                    #}{#{% if product['is_new_product'] %}#}{#
                                        #}{#<span class="status">Mới</span>#}{#
                                    #}{#{% endif %}#}{#
                                #}{#</div>#}{#
                                #}{#<div class="product-info">#}{#
                                    #}{#<div class="product-img">#}{#
                                        #}{#<a href="{{ product['href'] }}">#}{#
                                            #}{#<img data-src="{{ product['thumb'] }}" class="lazyload" alt="{{ product['name'] }}">#}{#
                                        #}{#</a>#}{#
                                    #}{#</div>#}{#
                                    #}{#<div class="product-rating d-none">#}{#
                                        #}{#<span class="rate-item on"></span>#}{#
                                        #}{#<span class="rate-item on"></span>#}{#
                                        #}{#<span class="rate-item on"></span>#}{#
                                        #}{#<span class="rate-item"></span>#}{#
                                        #}{#<span class="rate-item"></span>#}{#
                                    #}{#</div>#}{#
                                    #}{#<div class="item-product-name">#}{#
                                        #}{#<a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>#}{#
                                    #}{#</div>#}{#
                                    #}{#{% if product['is_contact_for_price'] %}#}{#
                                        #}{#<span class="product-price">#}{#
                                            #}{#{{ contact }}#}{#
                                        #}{#</span>#}{#
                                    #}{#{% else %}#}{#
                                        #}{#{% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}#}{#
                                            #}{#<span class="product-price">#}{#
                                            #}{#{% if product['max_price_version'] is null %}#}{#
                                                #}{#{{ product['compare_price_master'] }}#}{#
                                            #}{#{% else %}#}{#
                                                #}{#{{ product['min_compare_price_version'] }}#}{#
                                                #}{#{% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}{#
                                                    #}{#~ {{ product['max_compare_price_version'] }}#}{#
                                                #}{#{% endif %}#}{#
                                            #}{#{% endif %}#}{#
                                        #}{#</span>#}{#
                                        #}{#{% else %}#}{#
                                            #}{#<span class="product-price">#}{#
                                                #}{#{% if product['max_price_version'] is null %}#}{#
                                                    #}{#{{ product['price_master'] }}#}{#
                                                #}{#{% else %}#}{#
                                                    #}{#{{ product['min_price_version'] }}#}{#
                                                    #}{#{% if product['max_price_version'] != product['min_price_version'] %}#}{#
                                                        #}{#~ {{ product['max_price_version'] }}#}{#
                                                    #}{#{% endif %}#}{#
                                                #}{#{% endif %}#}{#
                                            #}{#</span>#}{#
                                            #}{#<span class="product-price-sale">#}{#
                                                #}{#{% if product['max_compare_price_version'] is null %}#}{#
                                                    #}{#{{ product['compare_price_master'] }}#}{#
                                                #}{#{% else %}#}{#
                                                    #}{#{{ product['min_compare_price_version'] }}#}{#
                                                    #}{#{% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}{#
                                                        #}{#~ {{ product['max_compare_price_version'] }}#}{#
                                                    #}{#{% endif %}#}{#
                                                #}{#{% endif %}#}{#
                                            #}{#</span>#}{#
                                        #}{#{% endif %}#}{#
                                    #}{#{% endif %}#}{#
                                #}{#</div>#}{#
                                #}{#<div class="product-preview">#}{#
                                    #}{#<a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>#}{#
                                    #}{#<a href="#" class="like-btn d-none">#}{#
                                        #}{#<i class="icon icon-heart bg-white font-18"></i>#}{#
                                    #}{#</a>#}{#
                                #}{#</div>#}{#
                            #}{#</div> <!-- End Pro Item -->#}{#
                        #}{#</div>#}{#
                    #}{#{% endfor %}#}{#

                #}{#</div>#}{#
            #}{#</div> <!-- End block-content -->#}{#
        #}{#</div> <!-- End container -->#}{#
    #}{#</section> <!-- End block-top-sale-product -->#}{#
{% endif %}#}

{#{% if new_product_visible %}
    #}{#<section class="block-new-product mb-5 bestme-block-new-product">#}{#
        #}{#<div class="container">#}{#
            #}{#<h2 class="block-title header-font my-3">{{ new_product_title }}</h2>#}{#
            #}{#<div class="block-content row">#}{#
                #}{#<div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-number-item="{{ new_products_display_grid_quantity }}">#}{#

                    #}{#{% for k,product in new_products %}#}{#
                        #}{#<div class="slide-item">#}{#
                            #}{#<div class="product-item">#}{#
                                #}{#<div class="product-highlight">#}{#
                                    #}{#{% if product['percent_sale'] is not empty %}#}{#
                                        #}{#<span class="sale">{{ product['percent_sale'] }}</span>#}{#
                                    #}{#{% endif %}#}{#
                                    #}{#{% if product['product_is_stock'] == false %}#}{#
                                        #}{#<span class="status">hết</span>#}{#
                                    #}{#{% endif %}#}{#
                                    #}{#{% if product['is_new_product'] %}#}{#
                                        #}{#<span class="status">Mới</span>#}{#
                                    #}{#{% endif %}#}{#
                                #}{#</div>#}{#
                                #}{#<div class="product-info">#}{#
                                    #}{#<div class="product-img">#}{#
                                        #}{#<a href="{{ product['href'] }}">#}{#
                                            #}{#<img data-src="{{ product['thumb'] }}" class="lazyload" alt="{{ product['name'] }}">#}{#
                                        #}{#</a>#}{#
                                    #}{#</div>#}{#
                                    #}{#<div class="product-rating d-none">#}{#
                                        #}{#<span class="rate-item on"></span>#}{#
                                        #}{#<span class="rate-item on"></span>#}{#
                                        #}{#<span class="rate-item on"></span>#}{#
                                        #}{#<span class="rate-item"></span>#}{#
                                        #}{#<span class="rate-item"></span>#}{#
                                    #}{#</div>#}{#
                                    #}{#<div class="item-product-name">#}{#
                                        #}{#<a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>#}{#
                                    #}{#</div>#}{#
                                    #}{#{% if product['is_contact_for_price'] %}#}{#
                                        #}{#<span class="product-price">#}{#
                                            #}{#{{ contact }}#}{#
                                        #}{#</span>#}{#
                                    #}{#{% else %}#}{#
                                        #}{#{% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}#}{#
                                            #}{#<span class="product-price">#}{#
                                            #}{#{% if product['max_price_version'] is null %}#}{#
                                                #}{#{{ product['compare_price_master'] }}#}{#
                                            #}{#{% else %}#}{#
                                                #}{#{{ product['min_compare_price_version'] }}#}{#
                                                #}{#{% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}{#
                                                    #}{#~ {{ product['max_compare_price_version'] }}#}{#
                                                #}{#{% endif %}#}{#
                                            #}{#{% endif %}#}{#
                                        #}{#</span>#}{#
                                        #}{#{% else %}#}{#
                                            #}{#<span class="product-price">#}{#
                                                #}{#{% if product['max_price_version'] is null %}#}{#
                                                    #}{#{{ product['price_master'] }}#}{#
                                                #}{#{% else %}#}{#
                                                    #}{#{{ product['min_price_version'] }}#}{#
                                                    #}{#{% if product['max_price_version'] != product['min_price_version'] %}#}{#
                                                        #}{#~ {{ product['max_price_version'] }}#}{#
                                                    #}{#{% endif %}#}{#
                                                #}{#{% endif %}#}{#
                                            #}{#</span>#}{#
                                            #}{#<span class="product-price-sale">#}{#
                                                #}{#{% if product['max_compare_price_version'] is null %}#}{#
                                                    #}{#{{ product['compare_price_master'] }}#}{#
                                                #}{#{% else %}#}{#
                                                    #}{#{{ product['min_compare_price_version'] }}#}{#
                                                    #}{#{% if product['min_compare_price_version'] != product['max_compare_price_version'] %}#}{#
                                                        #}{#~ {{ product['max_compare_price_version'] }}#}{#
                                                    #}{#{% endif %}#}{#
                                                #}{#{% endif %}#}{#
                                            #}{#</span>#}{#
                                        #}{#{% endif %}#}{#
                                    #}{#{% endif %}#}{#
                                #}{#</div>#}{#
                                #}{#<div class="product-preview">#}{#
                                    #}{#<a href="{{ product['href'] }}" class="cart-btn">Thêm vào giỏ hàng</a>#}{#
                                    #}{#<a href="#" class="like-btn d-none">#}{#
                                        #}{#<i class="icon icon-heart bg-white font-18"></i>#}{#
                                    #}{#</a>#}{#
                                #}{#</div>#}{#
                            #}{#</div> <!-- End Pro Item -->#}{#
                        #}{#</div>#}{#
                    #}{#{% endfor %}#}{#

                #}{#</div>#}{#
            #}{#</div> <!-- End block-content -->#}{#
        #}{#</div> <!-- End container -->#}{#
    #}{#</section> <!-- End block-new-product -->#}{#
{% endif %}#}
<div class="bestme_app_after_product">

</div>
{% if latest_blog %}
    <section class="block-blogs mb-5 mt-3 third-bg pt-4 bestme-block-blog">
        <div class="container">
            <h2 class="block-title header-font my-3">{{ blog_title }}</h2>
            <div class="block-content row">
                <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product">

                    <div class="slide-item">
                        <div class="row">
                            {% for k,blog in latest_blog %}
                                {% if k < 3 %}
                                    <div class="col-12 col-md-4">
                                        <div class="blog-item">
                                            <div class="blog-img">
                                                <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                </a>
                                            </div>
                                            <div class="blog-info">
                                                <span class="blog-date">Ngày: {{ blog['date_added']|date('m/d/Y') }}</span>
                                                <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            </div>
                                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            <p class="blog-summary">
                                                {{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a class="blog-link" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                        </div> <!-- End blog-item -->
                                    </div> <!-- End col blog -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- End row -->
                    </div> <!-- End slide-item -->

                    <div class="slide-item">
                        <div class="row">
                            {% for k,blog in latest_blog %}
                                {% if k < 3 %}
                                    <div class="col-12 col-md-4">
                                        <div class="blog-item">
                                            <div class="blog-img">
                                                <a href="{{ blog['link'] }}">
                                                    <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                                                </a>
                                            </div>
                                            <div class="blog-info">
                                                <span class="blog-date">Ngày: {{ blog['date_added']|date('m/d/Y') }}</span>
                                                <span class="blog-author">Bởi: {{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                            </div>
                                            <a class="blog-title main-color" href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                                            <p class="blog-summary">
                                                {{ blog['short_content']|length > 200 ? blog['short_content']|html_entity_decode|striptags|slice(0, 200) ~ '...' : blog['short_content']|html_entity_decode|striptags }}
                                            </p>
                                            <a class="blog-link" href="{{ blog['link'] }}">ĐỌC TIẾP</a>
                                        </div> <!-- End blog-item -->
                                    </div> <!-- End col blog -->
                                {% endif %}
                            {% endfor %}

                        </div> <!-- End row -->
                    </div> <!-- End slide-item -->

                </div> <!-- End owl-carousel -->
            </div> <!-- End block-content -->

        </div> <!-- End container -->
    </section> <!-- End block-blog -->
{% endif %}

{% if partners_visible == '1' %}
    <section class="block-partner text-center mb-5 bestme-block-partner">
        <div class="container">
            <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-partner" data-loop="{{ partners_setting.loop }}" data-auto-play="{{ partners_setting.autoplay }}" data-limit-inline="{{ partners_limit_per_line }}">
                {% for partner in partners %}
                    <div class="slide-item">
                        <a href="{{ partner.url }}" title="{{ partner['description'] }}">
                            <img src="{{ partner['image-url'] }}" alt="{{ partner['description'] }}">
                        </a>
                    </div>
                {% endfor %}
            </div> <!-- End owl-carousel -->
        </div> <!-- End container -->
    </section> <!-- End block-partner -->
{% endif %}
<div class="bestme_app_before_footer">

</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        {% for k, block in blocks %}
        if (jQuery('.owl-product-' + '{{ k }}').length > 0) {
            const autoplayTime = undefined === jQuery('.owl-product-' + '{{ k }}').data('autoplay_time') ? 5 : jQuery('.owl-product-' + '{{ k }}').data('autoplay_time');

            $('.owl-product-' + '{{ k }}').owlCarousel({
                loop: undefined !== jQuery('.owl-product-' + '{{ k }}').data('loop') && 1 == jQuery('.owl-product-' + '{{ k }}').data('loop'),
                autoplay: undefined !== jQuery('.owl-product-' + '{{ k }}').data('autoplay') && 1 == jQuery('.owl-product-' + '{{ k }}').data('autoplay'),
                autoplayTimeout: autoplayTime * 1e3,
                responsiveClass:true,
                dots: false,
                nav: true,
                margin: 15,
                navText: ['<i class="icon icon-chevron-left"></i>', '<i class="icon icon-chevron-right"></i>'],
                responsive:{
                    0:{
                        items: jQuery('.owl-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    600:{
                        items: jQuery('.owl-product-' + '{{ k }}').attr('data-number-item'),
                    },
                    1000:{
                        items: jQuery('.owl-product-' + '{{ k }}').attr('data-number-item'),
                    }
                },
            });
        }
        {% endfor %}
    });
</script>
{{ footer }}