{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> </li>
                    {% else %}
                        <li class="breadcrumb-item" > <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a> </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="m-0 font-30">{{ content.title }}</h2>
                {#<img src="img/blog_7.jpg" class="feature my-3">#}
                <br>
                <div class="blog-body ckeditor-content">
                    {{ content.description|html_entity_decode }}
                </div>
            </div> <!-- End blog view -->
        </div>
    </div>
</main>
<!-- End content wrapper -->

{{ footer }}