<main id="main-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb new">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">Flashale</li>
            </ol>
        </nav>
        <div class="header-flashsale text-center">
            <div class="d-flex" style="justify-content: center">
                <img src="catalog/view/theme/default/image/flashsale_home.svg" alt="">
                <div class="box-time-count-down-date">
                    {% if time_flashsale_happening %}
                        <span class="txt">Kết thúc sau</span>
                    {% elseif future_time %}
                        <span class="txt">Bắt đầu sau</span>
                    {% endif %}

                    {% if future_time %}
                        <b id="countDownDate"></b>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                {% if time_flashsale_happening %}
                    <div class="time active">
                        <p>
                            {{ time_flashsale_happening }}
                        </p>
                        <p>
                            Đang diễn ra
                        </p>
                    </div>
                {% endif %}
                {% for index, value in time_flashsale_upcoming %}
                    <div class="time {{ index == 0 and time_flashsale_happening == null ? ' active ' : '' }}">
                        <p>
                            {{ value['starting_time'] }}
                        </p>
                        <p>
                            Sắp diễn ra
                        </p>
                    </div>
                {% endfor %}

                {% if future_time == null %}
                    <p>Không có chương trình flash sale nào đang diễn ra !</p>
                {% endif %}
            </div>
        </div>
        <div class="row list-product-flash-sale">
            {% for product_index, product in products_flash_sale %}
                {% set price = null %}
                {% set old_price = null %}
                {% if product.is_contact_for_price %}
                    {% set price = contact %}
                {% else %}
                    {% if product.multi_versions == 1 %}
                        {% if product.price_version_check_null !=0 %}
                            {% if product.price_2 is null and product.compare_price_2 is null %}
                                {% set price = product.price_2_text %}
                            {% else %}
                                {% if product.price_2 == 0 %}
                                    {% set price = product.compare_price_2_text %}
                                {% else %}
                                    {% set price = product.price_2_text %}
                                    {% set old_price = product.compare_price_2_text %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% set price = product.min_compare_price_version %}
                            {% if product.compare_version_max != product.min_compare_price_version %}
                                {% set price = price %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if product.price_master == 0 %}
                            {% set price = product.compare_price_master %}
                        {% else %}
                            {% set price = product.price_master %}
                            {% set old_price = product.compare_price_master %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="col-sm-6 mb-2">
                    <div class="product-flashsale d-flex justify-content-between">
                        <img width="128" data-src="{{ product['thumb'] }}" src="{{ product['image'] }}" class="lazyload"
                             alt="{{ product['name'] }}">
                        <div class="box-info">
                            <a class="title" href="{{ product['href'] }}" title="{{ product['name'] }}">
                                {{ product['name'] }}
                            </a>
                            <p class="price">
                                <span> {{ price|replace({ 'VND': 'đ' }) }} </span>
                                <span style="color: gray"> <del>{{ old_price|replace({ 'VND': 'đ' }) }}</del></span>
                                {% if product['percent_sale'] is not empty %}
                                    <span class="discount">
                                          {{ (product.percent_sale_value < 0 ? '-' : '+') ~ ' ' ~ product.percent_sale_value|abs ~ '%' }}
                                        </span>
                                {% endif %}
                            </p>
                            {% if time_flashsale_happening %}
                                <div class="progress">
                                    <div class="progress-bar" style="width: {{ product['random'] }}%" role="progressbar"
                                         aria-valuenow="{{ product['random'] }}" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <p class="text-right">
                                    {% if(product['random'] < 10) %}
                                        <span style="color: #17204D;">Vừa mở bán</span>
                                    {% elseif(product['random'] < 90) %}
                                        <span style="color: #17204D;">Đã bán {{ " " }} {{ product['random'] }}/100 sản phẩm</span>
                                    {% elseif(product['random'] < 100) %}
                                        Sắp bán hết
                                    {% else %}
                                        Bán hết
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                        <a class="mr-auto" href="{{ product['href'] }}" title="{{ product['name'] }}">
                            <button type="button" class="btn btn-outline-primary">
                                {% if time_flashsale_happening %}
                                    Mua ngay
                                    {% else %}
                                    Xem chi tiết
                                {% endif %}
                            </button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>

<script>
    var countDownDate = new Date("{{ future_time }}".replace(/\-/g, '/')).getTime();

    var x = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // document.getElementById("countDownDate").innerHTML = days + "Ngày " + hours + "Giờ "
        //     + minutes + "Phút " + seconds + "Giây ";
        document.getElementById("countDownDate").innerHTML = '<span>' + hours + '</span>' + ":<span>"
            + minutes + "</span>:<span>" + seconds + "<span>";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countDownDate").innerHTML = "Thời gian đếm ngược đã kết thúc";
        }
    }, 1000);
</script>