{{ header }}


<main class="main-content">
    <div class="container mb-5">
        
        {#section contact-next-page#}
            <nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ home }}">Trang chủ </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                </ol>
            </nav>
        {#section end-contact-next-page#}
        
    <div class="p-1" id="contact-body">
        <div class=" pb-4" id="contact-link-page">
            <div class="row mb-5">
                {#section contact-link-page#}
                <div class="col-12">
                    {% if contacts_map %}
                    <section class="g-map">
                    {{ contacts_map.address|html_entity_decode }}
                    </section>
                    {% endif %}
                </div>
            </div>
        
        <div class="row">
            {#<div class="col-12 col-md-6">#}
            {#    <h1 class="header-font mb-5 font-24 font-weight-normal">Thông tin liên hệ</h1>#}
            {#    <p class="font-weight-500 text-uppercase">địa chỉ</p>#}
            {#    <p class="d-flex sixth-color">#}
            {#        <span>{{ contacts_info.address }}</span>#}
            {#    </p>#}
            {#    <p class="font-weight-500 text-uppercase pt-3">SỐ ĐIỆN THOẠI</p>#}
            {#    <p><a href="tel:{{ contacts_info.phone }}" class="sixth-color">{{ contacts_info.phone }}</a></p>#}
            {#    <p class="font-weight-500 text-uppercase pt-3">MẠNG XÃ HỘI</p>#}
            {#    <div class="font-32 mb-3">#}
            {#        {% for social_config in social_configs %}#}
            {#            {% if  social_config.name == 'Facebook' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-fb second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif  social_config.name == 'Instagram' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-instagram second-bg"></i>#}
            {#                </a>#}
            {#            {% elseif social_config.name == 'Youtube' %}#}
            {#                <a href="{{ social_config.url }}" class="mb-3 mr-4" target="_blank">#}
            {#                    <i class="icon icon-youtube second-bg"></i>#}
            {#                </a>#}
            {#            {% endif %}#}
            {#            </a>#}
            {#        {% endfor %}#}
            {#    </div>#}
            {#</div> <!-- End col-md-6 -->#}

            <div class="col-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h2 class="mb-4 font-24 font-weight-normal">{{contacts_email.title}}</h2>
                    
                        {#section contact-link-page-form#}
                        {% if contacts_email %}
                            <div id="contact-link-page-form">
                            {% if error_warning %}
                                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            {% endif %}
                            {% if success %}
                                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            {% endif %}
                            
                            <form id="contact-form" action="{{ href_submit_form }}" method="post">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <h6 class="font-13 font-weight-400">TÊN <span class="text-danger">*</span></h6>
                                        <input name="fullname" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                               class="form-control py-4" placeholder=" " required>
                                    </div>
                                    <div class="form-group col-12">
                                        <h6 class="font-13 font-weight-400">SỐ ĐIỆN THOẠI <span class="text-danger">*</span></h6>
                                        <input name="phone" id="phone" type="text" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                               class="form-control py-4" placeholder="" required>
                                    </div>
                                    <div class="form-group col-12">
                                        <h6 class="font-14 font-weight-400">EMAIL <span class="text-danger">*</span></h6>
                                        <input name="email" type="email" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Trường bắt buộc, vui lòng điền đúng định dạng email')" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                               class="form-control py-4" placeholder="" required>
                                    </div>
                                </div>
                                <h6 class="font-13 font-weight-400">NỘI DUNG</h6>
                                <textarea name="your_mind" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng điền vào trường này')"
                                          class="form-control mb-4" placeholder=" " rows="8" required></textarea>
                                <button type="submit" class=" btn-block px-5 py-2 font-weight-500 text-white contact-button-bg">GỬI TIN NHẮN</button>
                            </form>
                        </div>
                        {% endif %}
                        {#section end-contact-link-page-form#}
                    </div>
                    
                    
                    {#section contact-link-page-info-text#}
                    {#<div class="col-12 col-md-6" id="contact-link-page-info-text">#}
                    {#    <div class="col-12 my-4">#}
                    {#        <h5>THÔNG TIN LIÊN HỆ</h5>#}
                    {#        <p class="mb-2 mt-3"><i class="fas fa-map-marker-alt mr-2"></i>231 Thái Hà - Đống Đa - Hà Nội</p>#}
                    {#        <p><i class="fas fa-phone mr-2"></i>0989 55 66 77 - 0962 55 66 77</p>   #}
                    {#    </div>#}
                    {#    <div class="col-12 my-4">#}
                    {#        <h5>EMAIL</h5>#}
                    {#        <P class="mt-4 mb-3 font-18">Chúng tôi khuyến khích bạn sử dụng mẫu trên trang này cho tất cả các yêu cầu dịch vụ khách hàng. Tuy nhiên, nếu vấn đề của bạn yêu cầu một email hoặc bạn đang muốn liên hệ với bộ phận khác tại Jupiter Media, dưới đây là các địa chỉ email của chúng tôi:</P>#}
                    {#        <P>Dịch vụ khách hàng: hello@jupitermedia.vn Hợp tác kinh doanh: info@jupitermedia.vn Truyền thông: jupitermedia.vn Tuyển dụng: jupitermedia.vn</P>#}
                    {#    </div>#}
                    {#</div>#}
                    {#section end-contact-link-page-info-text#}
                </div>
            </div> <!-- End col-md-6 -->
        </div> <!-- End row -->
        </div>
            </div>
                
        {#section end-contact-link-page#}

    </div> <!-- End container -->

    

</main>
<!-- /.ELM PAGES -->
<style>
    .g-map iframe {
        width: 100%;
    }
</style>
{{ footer }}
<script>
    $(function(){
        $('form input[type="text"]').change(function(){
            this.value = $.trim(this.value);
        });

        $('form textarea').change(function(){
            this.value = $.trim(this.value);
        });
    });
</script>