@media screen and (min-width:992px){
	
}

/*md*/
@media screen and (max-width: 1010px) {
	
}

@media screen and (max-width:991px) {
	.block-header .block-header-logo{
		text-align: center;
		display: flex;
	}
	.block-header .block-header-logo > a{
		padding: 5px 0;
		margin: auto;
		display: inline-block;
	}
	.category-menu-header{
		display: none;
	}
	.main-menu-wrapper .block-header-menu{
		background: none !important;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		z-index: 99;
	}
	.main-menu-wrapper .block-header-menu >nav.navbar{
		padding: 0;
		background-color: #fff;
	}
	.main-menu-wrapper .block-header-menu .navbar-toggler{
		position: absolute;
		top: -63px;
		right: 15px;
		margin: 0;
		padding: 6px;
		z-index: 9
	}
	.block-header .block-header-menu ul.nav > li{
		width: 100%;
	}
	.block-header .block-header-menu .collapse>ul.nav > li > a{
		color: #454545;
		padding: 15px 30px;
		border-bottom: 1px solid #ebebeb
	}
	.block-header.fixed .main-menu-wrapper{
		position: initial;
	}
	.block-header.fixed .form-search-header{
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.fixed .main-menu-wrapper .block-header-menu .navbar-toggler{
		top: -76px;
	}
	.block-header.fixed .block-header-menu .collapse>ul.nav > li > a{
		padding: 15px 30px;
		line-height: 18px;
	}
	.block-header .block-header-menu ul.nav > li.has-child > a>.toggle{
		background-color: #454545;
	}
	.block-header .block-header-menu li ul.nav ul.nav,
	.block-header .block-header-menu li:hover ul.nav,
	.block-header .block-header-menu ul.nav ul.nav{
		overflow: hidden;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
		padding-left: 15px;
		box-shadow: none;
		margin: 0;
		transform: none;
	}
	.block-header .block-header-menu ul.nav ul.nav{
		max-height: 0px;
	}
	.block-header .block-header-menu li.active>ul.nav{
		max-height: 600px;
	}
	.owl-carousel .owl-nav>button.owl-next{
		right: 0;
	}
	.owl-carousel .owl-nav>button.owl-prev{
		left: 0;
	}
}
#product-detail-page .product-detail .node-left #slider .owl-carousel .owl-stage-outer .owl-item {
	border: none !important;
}
/*sm*/
@media screen and (max-width:767px) {
	.block-header .block-header-logo > a{
		padding: 10px 0 !important;
	}
	header.block-header.refix-min-height {
		min-height: 90px !important;
	}
	.block-header .block-header-logo, .block-header .block-header-contact {
		margin-top: 0 !important;
	}
	.block-header-contact {
		display:none !important;
	}
	.block-header .fix-content {
		position: fixed;
		top: 0;
		z-index: 9999;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
		height: 75px;
	}
	.block-header .block-header-logo {
		padding: 0;
		margin: 0;
	}
	.block-header .block-header-logo a{
		margin-left: 20px;
	}
	header#header-main.block-header .fix-content .main-menu-wrapper .block-header-menu button.navbar-toggler {
		top: -60px !important;
		right: 7px;
		border: none;
		font-size: 18px;
	}
	.form-search-header {
		position: fixed;
		top: 0;
		max-width: 76%;
		right: 24%;
	}
	.block-header .cart-link {
		position: fixed;
		top: 10px;
		right: 13%;
	}
	.hide-login {
		display: none;
	}
	a.login-icon {
		position: fixed;
		top: 25px;
		right: 22%;
	}
	header.block-header .fix-content .menu-main {
		border-bottom: none !important;
	}
	.main-menu-wrapper .block-header-menu {
		padding: 0;
	}
	header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li.nav-item a {
		font-size: 14px !important;
		text-transform: uppercase !important;
		border-bottom: dotted 1px #00000026 !important;
	}
	header.block-header .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul, header.block-header.fixed .fix-content .main-menu-wrapper #navbarMainMenu ul.nav li > ul {
		padding: 0 15px !important;
	}

	header.block-header .fix-content .form-search-header .input-group-icon {
		justify-content: flex-end;
	}

	header.block-header .fix-content .form-search-header .input-group-icon .input-search {
		/*opacity: 0;*/
		width: 50px;
		visibility: hidden;
		transition: all .5s;
	}
	header.block-header .fix-content .form-search-header .input-group-icon .input-search.show {
		visibility: visible;
		width: 300px;
		transition: all .5s;
	}
	.product-teaser-fix .add-to-cart-action-checkout{
		width: 100%;
		border-radius: 0;
		background-color: #1559B6!important;
		color: white !important;
		margin-bottom: 5px;
	}
	.product-teaser-fix .icon.icon-cart {
		background: white;
	}
	.product-teaser-fix .btn-cart-add-product-detail {
		width: 100%;
		border-radius: 0;
	}
	.menu-mobile {
		-webkit-transform: translateY(0) !important;
		transform: translateY(0) !important;
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
	}
	#product-list-filter {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 250px;
		height: 100%;
		padding: 10px 5px;
		background-color: white;
		background-position: center 10px;
		background-repeat: no-repeat;
		z-index: 100000;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition: all 0.25s;
		transition: all 0.25s;
		overflow-y: scroll;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.hotline {
		font-size: .9em;
	}
}

@media screen and (max-width:680px) {
	
}

/*xs*/
@media screen and (max-width:576px) {
	#add-to-cart .w-75 {
		width: 50% !important;
	}
}