{{ header }}

<!-------------------- PAGE ELEMENT ------------------------>
<main class="main-content">
    <div class="container">
        <nav aria-label="breadcrumb" class="my-4 pt-3 pb-1">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if breadcrumb['active'] is defined  %}
                        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>

        <div class="product-teaser-fix">
            <div class="container">
                <div class="d-flex">
                    <span class="font-weight-500 align-self-center">{{ product['name'] }} <span class="second-color">
                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %}
                        {% else %}
                            {% if product['price_master_real']|number_format == 0 or product['max_price_version_real']|number_format == 0 %}
                                {% if product['max_price_version'] is null %}
                                    {{ product['compare_price_master'] }}
                                {% else %}
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if product['max_price_version'] is null %}
                                    {{ product['price_master'] }}
                                {% else %}
                                    {{ product['min_price_version'] }}
                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                        ~ {{ product['max_price_version'] }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </span></span>
                    <div class="ml-auto">
                        <a href="javascript:void(0)" onclick="cart.add('{{ product['product_id'] }}')" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                           class="btn btn-outline-secondary bg-white main-color border-light mr-3 add-to-cart {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                            <i class="icon icon-cart mr-3 font-18"></i>Thêm vào giỏ hàng</a>
                        <a href="javascript:void(0)" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                           class="button_buying btn btn-outline-secondary main-bg text-white border-0 {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4 product-detail">
            <div class="col-12 col-md-6 node-left mb-3">
                <div id="carousel" class="owl-thumb">
                    {% if product_images is not empty %}
                        {% for k,image in product_images %}
                            <a href="{{ current_url_href }}#product-{{ k }}"><img class="img-fluid" src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></a>
                        {% endfor %}
                    {% else %}
                        <a href="product-1"><img class="img-fluid" src="{{ product_empty }}" alt=""></a>
                    {% endif %}
                </div>
                <div class="carousel px-5" id="slider">
                    <div class="owl-carousel owl-theme owl-review owl-product">
                        {% if product_images is not empty %}
                            {% for k,image in product_images %}
                                <div data-hash="product-{{ k }}"><img src="{{ image['image'] }}" alt="{{ image['image_alt'] }}"></div>
                            {% endfor %}
                        {% else %}
                            <div data-hash="product-1"><img src="{{ product_empty }}" alt=""></div>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- End node-left -->

            <div class="col-12 col-md-6 node-right">
                <h1 class="page-title header-font letter-spacing-0 font-36 text-capitalize">{{ product['name'] }}</h1>
                <div class="d-flex mb-3">
                    <span class="block-status">Tình trạng:
                        {% if product['product_is_stock'] %}
                            <span class="font-weight-400 ml-4">Còn hàng</span>
                                {% else %}
                            <span class="font-weight-400 ml-4">Hết hàng</span>
                        {% endif %}
                    </span>
                </div>
                <div class="price d-flex mb-3">
                    {% if product['is_contact_for_price'] %}
                        <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy flex-fill btn-outline-secondary fifth-bg text-white">
                            <span class="font-24 font-weight-bold mr-4">{{ contact }}</span>
                        </a>
                    {% else %}
                        {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                            {% if product['max_price_version'] is null %}
                                <span class="font-24 font-weight-bold mr-4">{{ product['compare_price_master'] }}</span>
                            {% else %}
                                <span class="font-24 font-weight-bold mr-4">
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        {% else %}
                            {% if product['max_price_version'] is null %}
                                <span class="font-24 font-weight-bold mr-4">{{ product['price_master'] }}</span>
                            {% else %}
                                <span class="font-24 font-weight-bold mr-4">
                                    {{ product['min_price_version'] }}
                                    {% if product['max_price_version'] != product['min_price_version'] %}
                                        ~ {{ product['max_price_version'] }}
                                    {% endif %}
                                </span>
                            {% endif %}
                            {% if product['max_compare_price_version'] is null %}
                                <del class="font-16 fifth-color mt-2 font-weight-400">{{ product['compare_price_master'] }}</del>
                            {% else %}
                                <del class="font-16 fifth-color mt-2 font-weight-400">
                                    {{ product['min_compare_price_version'] }}
                                    {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                        ~ {{ product['max_compare_price_version'] }}
                                    {% endif %}
                                </del>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="summary ckeditor-content">
                    {{ product['sub_description']|html_entity_decode }}
                </div>
                <form class="block-custom-change mb-4" id="add-to-cart" action="{{ action }}" method="POST">


                    {% if attributes is not empty %}
                        {% for attribute in attributes %}
                            <div class="choose-attribute d-flex mb-2">
                                <label class="font-weight-400 sixth-color w-20 align-self-center">{{ attribute['attribute_name'] }}:</label>
                                <div class="flex-fill">
                                    {% for key,attribute_text in attribute['attribute_text'] %}
                                        <div class="attr-item d-inline-block mr-1">
                                            <input class="d-none" {% if key == 0 %} checked {% endif %} name="attribute[{{ attribute['attribute_name'] }}]" type="radio" name="{{ attribute['attribute_id'] }}" id="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}"
                                                   value="{{ attribute_text }}">
                                            <label class="m-0 py-2 font-12 px-3" for="{{ attribute['attribute_name']|replace({' ':'_'}) }}_{{ key }}">{{ attribute_text }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                    <input type="hidden" name="product_name_add_cart" value="{{ product['name'] }}">
                    <div class="block-action-cart {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">
                        <div class="d-flex w-75 quantity show-on-pc" style="margin-top: 24px;">
                            {% if is_on_mobile != 1 %}
                                <input type="number" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" min="1" required name="quantity" step="1" max="9999" class="form-control mr-3 w-15 border-light quantity-input" value="1">
                                <div class="quantity-nav">
                                    <div class="quantity-button quantity-up">+</div>
                                    <div class="quantity-button quantity-down">-</div>
                                </div>
                            {% endif %}
                            <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                    onclick="cart.add('{{ product['product_id'] }}')"
                                    class="flex-fill btn btn-outline-light main-color border-light" {% if product['is_contact_for_price'] %} disabled {% endif %}>
                                <i class="icon icon-cart mr-3"></i>Thêm vào giỏ hàng</button>
                        </div>
                        <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                class="w-75 flex-fill btn btn-outline-secondary fifth-bg text-white py-3 text-uppercase my-3 mb-4 show-on-pc btn-pc" {% if product['is_contact_for_price'] %} disabled {% endif %}>
                            <i class="icon icon-cart mr-3 bg-white"></i>MUA HÀNG NGAY</button>
                    </div>

                    {# only on mobile #}
                    {% if is_on_mobile == 1 %}
                        <div class="w-100 quantity show-on-mobile fixed bg-white {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} bg-transparent {% endif %}">
                            <div class="row bg-white {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} bg-transparent {% endif %}">
                                <div class="col-2 pr-0 buy-now">
                                    <input pattern="[0-9]*" type="number" oninput="this.setCustomValidity('')"
                                           oninvalid="this.setCustomValidity('Bạn nhập sai giá trị')" min="1" required
                                           name="quantity" step="1" max="9999"
                                           class="form-control border-light quantity-input w-100 {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}" value="1">
                                </div>
                                <div class="col-6 pr-0  buy-now">
                                    <button type="button" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                            onclick="cart.add('{{ product['product_id'] }}')"
                                            class="flex-fill btn btn-outline-light main-color border-light add-to-cart-mobile w-100
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Thêm vào giỏ hàng
                                    </button>
                                </div>
                                <div class="col-4 buy-now">
                                    <button type="submit" {% if product['product_version_id'] is not empty or product['sale_on_out_stock_check'] == false %} data-status="disabled" {% endif %}
                                            class="flex-fill btn btn-outline-secondary fifth-bg text-white  buy-now-mobile
                                        {% if product['is_contact_for_price'] and product['multi_versions'] == 0 %} d-none {% endif %}">Mua hàng
                                    </button>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                    {# only on mobile #}
                </form>
                <div class="d-flex mb-3">
                    <span class="w-25 font-weight-500">Loại sản phẩm:</span>
                    {% if categories is not empty %}
                        {% for k,category in categories %}
                            <a class="sixth-color" href="{{ category['href'] }}">{{ category['name'] }}</a>{% if categories|length != k+1 %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="d-flex mb-3">
                    <span class="w-25 font-weight-500">Tag:</span>
                    {% if tags is not empty %}
                        <span class="sixth-color">
                            {% for tag in tags %}
                                {{ tag['name'] }}{% if tags|length != k+1 %}, {% endif %}
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
                <div class="d-flex mb-3">
                    <span class="w-25 font-weight-500">Chia sẻ:</span>
                    <a class="mr-4" href="https://plus.google.com/share?url={{ current_url|raw }}"><i class="icon icon-google-plus sixth-bg"></i></a>
                    <a class="mr-4" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url|url_encode|replace({'%26amp%3B': '%26'}) }}"><i class="icon icon-fb-single sixth-bg"></i></a>
                    <a class="mr-4" href="https://twitter.com/share?text={{ product['name'] }}&url={{ current_url|raw }}"><i class="icon icon-twitter sixth-bg"></i></a>
                </div>

            </div> <!-- End node-right -->

            <div class="col-12 col-md-6">
                <ul class="nav nav-tabs" id="product-info-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Chi tiết</a>
                    </li>
                    {#<li class="nav-item d-flex">#}
                    {#<a class="nav-link align-self-end" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Đánh giá (6)</a>#}
                    {#</li>#}
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active py-5 ckeditor-content" id="info" role="tabpanel" aria-labelledby="info-tab">
                        {{ product['description']|html_entity_decode }}
                    </div>
                    <div class="tab-pane fade py-5" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                        <form>
                            <div class="form-group d-flex">
                                <span class="third-color text-uppercase w-20">Xếp hạng:</span>
                                <div class="product-rating m-0 font-16">
                                    <span class="rate-item on"></span>
                                    <span class="rate-item on"></span>
                                    <span class="rate-item on"></span>
                                    <span class="rate-item"></span>
                                    <span class="rate-item"></span>
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <span class="third-color text-uppercase w-20 py-1">Bình luận:</span>
                                <div class="flex-fill">
                                    <div class="form-group form-row">
                                        <div class="col-6">
                                            <input type="text" class="form-control border-light" placeholder="Họ và tên*">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control border-light" placeholder="Số điện thoại*">
                                        </div>
                                    </div>
                                    <textarea type="text" class="form-control border-light" placeholder="Nội dung bình luận" rows="4"></textarea>
                                </div>
                            </div>
                            <button class="btn fifth-bg btn-outline-secondary text-white px-4 py-2 text-uppercase float-right" type="submit">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- End row -->
        {% if related_product_visible %}
            <section class="block-relate-product pt-3 mb-5 bestme-block-product-related-product">
                <div class="container">
                    <h2 class="block-title header-font mb-4 pt-3">{{ related_product_title }}</h2>
                    <div class="block-content">
                        <div class="owl-carousel owl-theme owl-review owl-hidden-dots owl-product" data-number-item="{{ block['grid'] }}"
                             data-autoplay="{{ related_products_autoplay }}" data-autoplay_time="{{ related_products_autoplay_time }}" data-loop="{{ related_products_loop }}">
                            {% for product in related_products %}
                                <div class="slide-item">
                                    <div class="product-item">
                                        <div class="product-highlight">
                                            {% if product['percent_sale'] is not empty %}
                                                <span class="sale">{{ product['percent_sale'] }}</span>
                                            {% endif %}
                                            {% if product['product_is_stock'] == false %}
                                                <span class="status">hết</span>
                                            {% endif %}
                                        </div>
                                        <div class="product-img">
                                            <a href="{{ product['href'] }}">
                                                <img src="{{ product['thumb'] }}" alt="">
                                            </a>
                                            <div class="product-preview">
                                                <div class="content">
                                                    <a href="{{ product['href'] }}" class="buy-btn">MUA NGAY</a>
                                                    <div class="option">
                                                        <a href="{{ product['href'] }}" class="link"><i class="icon icon-eye"></i></a>
                                                        <a href="{{ product['href'] }}" class="link"><i class="icon icon-cart"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-rating">
                                        </div>
                                        <a href="{{ product['href'] }}" title="{{ product.name }}" class="product-title">{{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name }}</a>
                                        {% if product['is_contact_for_price'] %}
                                            <a href="javascript:;" data-toggle="modal" data-target="#modal-buy" class="btn btn-buy">
                                                <span class="product-price">{{ contact }}</span>
                                            </a>
                                        {% else %}
                                            {% if product['price_master_real'] is same as(0) or product['max_price_version_real'] is same as(0) %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="product-price">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="product-price">
                                                {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                            </span>
                                                {% endif %}
                                            {% else %}
                                                {% if product['max_price_version'] is null %}
                                                    <span class="product-price">{{ product['price_master'] }}</span>
                                                {% else %}
                                                    <span class="product-price">
                                                {{ product['min_price_version'] }}
                                                        {% if product['max_price_version'] != product['min_price_version'] %}
                                                            ~ {{ product['max_price_version'] }}
                                                        {% endif %}
                                            </span>
                                                {% endif %}
                                                {% if product['max_compare_price_version'] is null %}
                                                    <span class="product-price-sale">{{ product['compare_price_master'] }}</span>
                                                {% else %}
                                                    <span class="product-price-sale">
                                                {{ product['min_compare_price_version'] }}
                                                        {% if product['max_compare_price_version'] != product['min_compare_price_version'] %}
                                                            ~ {{ product['max_compare_price_version'] }}
                                                        {% endif %}
                                            </span>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- End Pro Item -->
                            {% endfor %}

                        </div>
                    </div> <!-- End block-content -->
                </div> <!-- End container -->
            </section> <!-- End block-relate-product -->
        {% endif %}
    </div>
</main>
<div id="add_cart_notify" class="modal fade" role="dialog" style="z-index: 999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sản phẩm vào giỏ hàng</h4>
            </div>
            <div class="modal-body">
                <p>Thêm sản phẩm vào giỏ hàng thành công</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<!-------------------- /.PAGE ELEMENT ---------------------->

<script>
    $(document).ready(function () {
        var description = {{ product.description | json_encode }};
        var descriptionEl = $('div.description.my-2');
        description = descriptionEl.html(description).text();
        descriptionEl.html(description);
        $('body').on('click', '.button_buying', function () {
            if (jQuery(this).attr('data-status') == "disabled") {
                alert('Sản phẩm hết hàng');
            } else {
                $('#add-to-cart').submit();
            }
        });
        // update current order
        updateCurrentOrder();
    });

    jQuery('#add-to-cart button, .product-teaser-fix .add-to-cart').on('click', function (event) {
        if (jQuery(this).attr('data-status') == "disabled") {
            event.preventDefault();
            alert("Sản phẩm hết hàng");
        }
    });

    jQuery('#add-to-cart input[name="quantity"]').on('change', function () {
        var value_input = jQuery(this).val();
        jQuery('#add-to-cart input[name="quantity"]').each(function () {
            jQuery(this).val(value_input);
        });
    });

    function updateCurrentOrder() {
        $.ajax({
            url: 'index.php?route=checkout/my_orders/getCurrentOrder',
            type: 'post',
            data: $('#add-to-cart').serialize(),
            dataType: 'json',
            beforeSend: function() {
                //TODO loading
            },
            complete: function() {
                //TODO loaded
            },
            success: function(json) {
                if (json['success']) {
                    jQuery('.count-cart').html(json['total_product_cart']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }

    {% if is_ios == 1 %}
    jQuery('body').on('click', '.show-on-mobile button', function () {
        if (!$('#add-to-cart')[0].checkValidity()) {
            alert('Bạn nhập sai giá trị');
        }
    });
    {% endif %}

</script>
<style>
    .button_buying{
        padding-top: 8px;
        padding-bottom: 8px;
    }
</style>

<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"  style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Liên hệ mua sản phẩm</h4>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" method="post">
                    <input type="hidden" name="product_name" value="{{ product['name'] }}">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <div class="form-group">
                        <label >Họ và tên</label>
                        <input type="text" name="fullname" class="form-control" required="" placeholder="Ví dụ: Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label >Số điện thoại</label>
                        <input type="text" name="phone" class="form-control" required="" placeholder="Ví dụ: 0982993919">
                    </div>
                    <div class="form-group">
                        <label >Nội dung liên hệ</label>
                        <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                    </div>
                    <div class="text-right">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="display: initial;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size: 18px;">LIÊN HỆ MUA SẢN PHẨM</h4>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(".send-email-buy-product").click(function(){
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType : 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if(data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    }
                    else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

</script>
{{ footer }}
