{{ header }}

<section id="ega-breadcrumb" class="ega-p-t--3 ega-p-b--3">
    <div class="ega-container">
        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
            <li class="ega-menu__item"><a href="{{ home_link }}">Trang chủ</a></li>
            <li class="ega-menu__item"><h1>Bài viết</h1></li>
        </ul>
    </div>
</section>

<section id="ega-blog" class="ega-p-t--3 ega-p-b--5 ega-blog">
    <div class="ega-container">
        <div class="ega-row">
            <div class="ega-col-lg-9">
                {% if blog_list is empty %}
                    Không có bài viết
                {% else %}
                    {% for blog in blog_list %}
                        <div class="ega-media">
                            <div class="ega-media__left">
                                <div class="ega-media__image">
                                    <a href="{{ blog['link'] }}">
                                        <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                    </a>
                                </div>
                            </div>
                            <div class="ega-media__content">
                                <a href="{{ blog['link'] }}">
                                    <h5 class="ega-h5 ega-m--0">{{ blog['title'] }}</h5>
                                </a>
                                <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
                                    <li class="ega-menu__item">
                                        <svg class="ega-ic-calendar"><use xlink:href="#ega-ic-calendar"></use></svg>
                                        <span>{{ blog['date_added']|date('d-m-Y') }}</span></li>
                                    <li class="ega-menu__item">
                                        <svg class="ega-ic-user"><use xlink:href="#ega-ic-user"></use></svg>
                                        <span>{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                    </li>
                                </ul>
                                <p class="ega-m-b--0">{{ blog['short_content']|html_entity_decode|striptags }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="ega-col-lg-3">
                <div class="ega-widget ega-widget--menu">
                    <h4 class="ega-widget__title">Danh mục</h4>
                    <ul class="ega-widget__content ega-ul ega-color--initial">
                        {% for category in blog_category %}
                            <li>
                                <a href="{{ category['link'] }}" {% if category['blog_category_id'] == filter['blog_category_id'] %}class="active"{% endif %}>
                                    <svg class="ega-ic-angle-double-right"><use xlink:href="#ega-ic-angle-double-right"></use></svg> {{ category['title'] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ega-widget ega-widget--news">
                    <h4 class="ega-widget__title">Bài viết mới nhất</h4>
                    <div class="ega-widget__content">
                        {% for blog in blog_list_new %}
                            {% if loop.index < 4 %}
                                <div class="ega-media">
                                    <div class="ega-media__left">
                                        <div class="ega-media__image ega-media__image--thumb">
                                            <a href="{{ blog['link'] }}">
                                                <img src="{{ blog['image'] }}" alt="{{ blog['title'] }}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ega-media__content">
                                        <a href="{{ blog['link'] }}">
                                            <h5 class="ega-h5 ega-m--0">{{ blog['title'] }}</h5>
                                        </a>
                                        <ul class="ega-menu ega-ul ega-menu--breadcrumb ega-m--0">
                                            <li class="ega-menu__item">
                                                <svg class="ega-ic-calendar"><use xlink:href="#ega-ic-calendar"></use></svg>
                                                <span>{{ blog['date_added']|date('d-m-Y') }}</span></li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class="ega-widget ega-widget--tags">
                    <h4 class="ega-widget__title">Tags</h4>
                    <div class="ega-widget__content">
                        {% for tag in tags %}
                            <div class="tag-item {% if tag['tag_id'] == filter['tag_id'] %}active{% endif %}">
                                <a href="{{ tag['link'] }}">{{ tag['value'] }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{{ footer }}