{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <h1 class="page-title">{{ left_menu_my_account }}</h1>
            <div class="row">
                {# left menu #}
                <div class="col-12 col-md-3 sidebar-left mb-3">
                    {% include 'novaon/template/checkout/checkout_nav.twig' %}
                </div>

                {# history info #}
                <div class="col-12 col-md-9">
                    <div class="border p-3">
                        <h2 class="font-18 border-bottom mb-3 pb-2">{{ history_title }}</h2>
                        <div class="row">
                            <table class="table table-borderless table-striped table-responsive d-md-table d-block">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Customer</th>
                                    <th>Address</th>
                                    <th class="text-right">Value</th>
                                    <th class="text-center">Payment Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index,history in histories %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td style="white-space: nowrap; overflow: hidden">{{ history.name }}</td>
                                        <th>{{ history.customer }}</th>
                                        <td>{{ history.address }}</td>
                                        <th class="text-right text-warning">{{ history.value|number_format(0, ',', '.') }}{{ currency }}</th>
                                        <th class="text-center">{{ history['payment_status'] }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="float-right" aria-label="Page navigation example">
            {{ pagination }}
        </nav>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}