{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <h1 class="page-title">{{ left_menu_my_account }}</h1>
            <div class="row">
                {# left menu #}
                <div class="col-12 col-md-3 sidebar-left mb-3">
                    {% include 'novaon/template/checkout/checkout_nav.twig' %}
                </div>

                {# order detail #}
                <div class="col-12 col-md-6 mb-3">
                    <div class="border p-3">
                        <h2 class="font-18 border-bottom mb-3 pb-2">{{ order_title }}</h2>
                        <div class="order-list">
                            {% for product in order.products %}
                                <div class="product-item mb-3">
                                    <div class="row">
                                        <div class="col-3 col-md-2 pr-0 img">
                                            <img src="{{ product.image_url }}">
                                        </div>

                                        <div class="col-9 col-md-6 py-2 info">
                                            <a class="title text-dark"
                                               href="{{ product.url }}"><strong>{{ product.name }}</strong></a>
                                            <span class="font-12">{{ text_ordered_at }} {{ product.ordered_at }}</span><br>
                                            <div class="form-inline">
                                                <label>{{ text_amount }}<input type="number"
                                                                               min="0"
                                                                               product-id="{{ product.id }}"
                                                                               style="padding: 5px; max-width: 50px"
                                                                               value="{{ product.amount }}"
                                                                               class="form-control product_quantity"/></label>
                                            </div>
                                        </div>

                                        <div class="col-9 col-md-4 py-2 text-right">
                                            <strong class="font-20">{{ product.total|number_format(0, ',', '.') }}{{ currency }}</strong>

                                            {# remove button #}
                                            <a class="remove" product-id="{{ product.id }}">
                                                <span aria-hidden="true">&times;</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {# total #}
                <div class="col-12 col-md-3">
                    <div class="place-order border p-3 bg-light">
                        <span>{{ text_into_money }}</span><br>
                        <strong class="font-30 text-dark">{{ order.into_money|number_format(0, ',', '.') }}{{ currency }}</strong><br>
                        <small class="text-muted">{{ text_vat_included }}</small>
                        <a class="btn bg-warning col-12 my-4 text-white {% if order.products|length ==0 %} disabled {% endif %}"
                           href="{{ href_order_preview }}">{{ text_button_order|upper }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}

<script type="text/javascript">
    $('.remove').click(function () {
        var product_id = $(this).attr('product-id');
        var r = confirm('{{ text_remove_alert_confirm }}');
        if (r === true) {
            $.ajax({
                url: 'index.php?route=checkout/my_orders/remove_order_products',
                method: 'POST',
                data: {
                    product_id: product_id,
                },
                success: function (json) {
                    json = $.parseJSON(json)
                    if (json.status === true) {
                        location.reload();
                    } else {
                        alert(json.message);
                    }
                }
            });
        }
        ;
    });

    $('.product_quantity').change(function () {
        var em = $(this);
        setTimeout(
            function()
            {
                var product_id = em.attr('product-id');
                var quantity = em.val();
                $.ajax({
                    url: 'index.php?route=checkout/my_orders/update_order_products',
                    method: 'POST',
                    data: {
                        product_id: product_id,
                        quantity: quantity
                    },
                    success: function (json) {
                        location.reload();
                    }
                });
            }, 1000);

    });
</script>