{{ header }}

<main class="content-wrapper clearfix">
    <div class="container">
        <div class="py-3">
            <h1 class="page-title">{{ left_menu_my_account }}</h1>
            <div class="row">
                {# left menu #}
                <div class="col-12 col-md-3 sidebar-left mb-3">
                    {% include 'novaon/template/checkout/checkout_nav.twig' %}
                </div>

                {# account info #}
                <div class="col-12 col-md-9">
                    <div class="border p-3">
                        <h2 class="font-18 border-bottom mb-3 pb-2">{{ account_info_title }}</h2>
                        <form id="profile-form" action="{{ action }}" method="POST">
                            <input type="hidden" name="customer_id" value="{{ account_info.id }}"/>
                            <input type="hidden" name="address_id" value="{{ address.address_id }}"/>
                            <div class="form-group row">
                                <label class="col-3">{{ account_email }}</label>
                                <div class="col-9">
                                    <input type="email" name="email" class="form-control" value="{{ account_info.email }}">
                                    <span class="value">{{ account_info.email }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3">{{ entry_firstname }}</label>
                                <div class="col-9">
                                    <input type="text" name="firstname" class="form-control"
                                           value="{{ account_info.firstname }}">
                                    <span class="value">{{ account_info.firstname }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3">{{ entry_lastname }}</label>
                                <div class="col-9">
                                    <input type="text" name="lastname" class="form-control"
                                           value="{{ account_info.lastname }}">
                                    <span class="value">{{ account_info.lastname }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3">{{ account_address }}</label>
                                <div class="col-9">
                                    <input type="text" name="address" class="form-control"
                                           value="{{ address.address }}">
                                    <span class="value">{{ address.address }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-3">{{ account_district }}</label>
                                <div class="col-9">
                                    <input type="text" name="district" class="form-control" value="{{ address.district }}">
                                    <span class="value">{{ address.district }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-3">{{ account_city }}</label>
                                <div class="col-9">
                                    <input type="text" name="city" class="form-control" value="{{ address.city }}">
                                    <span class="value">{{ address.city  }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-3">{{ account_phone_number }}</label>
                                <div class="col-9">
                                    <input type="number" name="telephone" class="form-control" value="{{ account_info['phone_number'] }}">
                                    <span class="value">{{ account_info['phone_number'] }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-3">{{ account_company }}</label>
                                <div class="col-9">
                                    <input type="text" name="company" class="form-control" value="{{ address.company }}">
                                    <span class="value">{{ address.company }}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-3">{{ account_zipcode }}</label>
                                <div class="col-9">
                                    <input type="text" name="postcode" class="form-control" value="{{ address.postcode }}">
                                    <span class="value">{{ address.postcode }}</span>
                                </div>
                            </div>

                            <a class="change" onclick="return showInputForm(this)"><i class="text-warning"><u>{{ button_change }}</u></i></a>

                            <div class="form-action row">
                                <div class="col-lg-9 offset-lg-3">
                                    <button type="submit" class="btn btn-warning font-16 px-5">{{ button_save }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End container -->
</main>
<!-- End content wrapper -->

{{ footer }}

<style type="text/css">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
</style>