.block-footer{
	padding: 80px 0;
}
.block-footer a{
    color: #999;
}
.block-footer h2{
    color: #000;
    position:relative;
    padding-bottom: 15px;
}
.block-footer .title-block{
    position:relative;
}
.block-footer .title-block:before{
    content: "";
    border-bottom: 1px dashed #e1e1e1;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;      
}
.block-footer .newsletter-form p{
    color: #999;
}
.block-footer .social-block i{
    font-size:18px;
    color:#999;
}
.block-footer .item-block div{
    color:#999;
}
.block-footer .newsletter-form input{
    border:1px solid #e5e5e5;
}
.copy-right a{
    color:#fff;
}
.block-footer a:hover{
    color:#f2b134;
}
.block-footer a:hover i{
 color:#f2b134;   
}
.block-footer .input-group-append button{
    border:none;
}
@media (min-width:768px){
    #blockfooter1, #blockfooter2, #blockfooter3, #blockfooter4{
        display:block !important;
    }
}
@media(max-width:767px){
    #accordion{
        position:relative;
    }    
    #accordion .block__title.collapsed:before{
        content:"\f196";
        font-family:FontAwesome;
        right:0;
        top:0;
        position:absolute;
    }
    #accordion .block__title:before{
        content:"\f147";
        font-family:FontAwesome;
        right:0;
        top:0;
        position:absolute;        
    }    
}
