@media screen and (max-width:767px) {
    .block-header .block-header-logo {
        transform: translateY(-20px);
    }
    .form-search-header {
        right: 26%;
    }
    header.block-header .fix-content .form-search-header .input-group-icon .input-search.show {
        width: 250px;
    }
}