{% if display_customizes %}
<div class="block-home bestme-block-article">
    <div class="container">
        <div class="heading-block">
            <h3 class="home-blog-title">Báo chí nói về chúng tôi</h3>
        </div>
    </div>
    <div class="container">
        <div class="swiper mySwiperArticle">
            <div class="swiper-wrapper">
                {% for contents in display_customizes %}
                    {% if contents['type'] == 'fixed' %}
                        <div class="swiper-slide article-item">
                            <img data-src="{{ contents['content']['icon'] }}" src="{{ placeholder_image_url }}" alt="{{ contents['content']['title'] }}" class="customize-content-image align-self-center lazyload">
                            <span class="align-self-center ml-lg-4 ml-2 flex-wrap d-flex">
                                {{ contents['content']['title'] }}
                            </span>
                        </div>
                    {% else %}
                        <div class="swiper-slide article-item">{{ contents['content']['html']|html_entity_decode }}</div>
                    {% endif %}
                    <!-- End: Banner Item -->
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<style>
    .block-home.bestme-block-article .article-item {
        padding: 10px;
    }
    .block-home.bestme-block-article .article-item img {
        width: 100% !important;
    }
    .block-home.bestme-block-article .article-item h3 {
        font-family: 'Averta Std CY';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #2C2F74;
        padding: 16px 0 8px 0;
    }
    .block-home.bestme-block-article .article-item p {
        font-family: 'Averta Std CY';
        font-size: 14px;
        color: #969696;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: initial;
        overflow: hidden;
        margin: 0 0 5px;
    }
</style>
<script>
    var swiper = new Swiper(".mySwiperArticle", {
        slidesPerView: is_mobile === 0 ? 3 : 1,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
{% endif %}
