{% if slideshow.visible %}
    <div class="block-slide-banner">
        {#<div class="container"> remove for full width!#}
        <div>
            <div class="swiper-container swiper-banner" data-time="{% if slideshow.transition_time %}{{ slideshow.transition_time }}{% else %}3000{% endif %}">
                <div class="swiper-wrapper">
                    {% for slide_key, slide in slideshow.slides %}
                        {% if slide['type'] == 'video' %}
                            <div class="swiper-slide">
                                <div id="video-slideshow-{{ slide_key }}" class="video-slideshow"
                                     data-video-url="{{ slide['video-url'] }}">
                                </div>
                            </div>
                        {% else %}
                            <div class="swiper-slide">
                                <a target="_blank" href="{{ slide['url'] }}" title="{{ slide['description'] }}">
                                    <img class="img-fluid" src="{{ slide['image-url'] }}" alt="{{ slide['description'] }}">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End slide banner -->

<div class="bestme_app_after_slide">

</div>

<div class="block-info-number">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="item">
                    <div class="title" style="max-width: 180px;">
                        Thời gian thành lập DHC Nhật Bản
                    </div>
                    <div class="number">
                        <p class="mb-0"><span class="dv">></span>50</p>
                        <span>năm</span>
                    </div>
                    <div class="date">
                        (Thành lập từ 1972)
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="item">
                    <div class="title" style="max-width: 225px;">
                        Số lượng thành viên tại
                        Nhật Bản
                    </div>
                    <div class="number">
                        <p class="mb-0"><span class="dv">></span>15.88</p>
                        <span>triệu người </span>
                    </div>
                    <div class="date">
                        (Tính tới 01/10/2023)
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="item">
                    <div class="title">
                        Số lượng bán của sản phẩm DHC deep cleansing oil
                    </div>
                    <div class="number">
                        <p class="mb-0">10<span class="dv mob" style="padding-top: 18px;">S</span></p>
                        <span>bán được 1 sản phẩm</span>
                    </div>
                    <div class="date">
                        (Tính tới 01/07/2023)
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="item">
                    <div class="title">
                        Số lượng bán các dòng vitamin và khoáng chất
                    </div>
                    <div class="number">
                        <p class="mb-0"><span class="dv">></span>400</p>
                        <span>triệu sản phẩm</span>
                    </div>
                    <div class="date">
                        (Tính tới 01/10/2013)
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .block-info-number {
        background: url("/catalog/view/theme/fashion_flavor/images/bg.png");
        background-size: cover;
        padding: 60px;
    }
    .block-info-number .title {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        height: 60px;
        margin: auto;
    }
    .block-info-number .number p {
        color: #FFF;
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .number {
        text-align: center;
        padding: 14px;
    }
    .number span {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22.461px;
    }
    .number span.dv {
        font-size: 32px;
        font-weight: 500;
    }
    .block-info-number .date {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.25px;
        text-align: center;
        color: #fff;
    }
</style>
