{{ header }}

<section class="bestme-top-content not-ads bestme-block-blog-top">
    <div class="bestme-block-blog-left-top bestme-hidden-md">
        <ul class="bestme-block-blog-category">
            <li class="category-item">
                <a href="{{ all }}" class="category-link">Tất cả</a>
            </li>
            {% for category in blog_category %}
                <li {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %} class="category-item">
                    <a class="category-link" href="{{ category['link'] }}">{{ category['title'] }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="list-action-share">
            <span>Chia sẻ </span>
            {% for key,value in  social %}
                <a href="{{ value.href }}"><i class="ti-{{ key }}"></i></a>
            {% endfor %}
        </div>
    </div>

    {# slideshow. TODO: fix css... #}
    <div class="bestme-block-blog-primary">
        {% if blog_list is empty %}
            Không có bài viết
        {% else %}
            {% for blog in blog_list|slice(0, 1) %}
                <div class="bestme-post-primary row">
                    <div class="bestme-post-img col-md-5 pr-0">
                        <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                    </div>
                    <div class="bestme-post-info col-md-7">
                        <a href="{{ blog['link'] }}" class="title">{{ blog['title'] }}</a>
                        <div class="author-time">
                            <span class="author">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                            <span class="time">{{ blog['date_added']|date('d/m/Y') }}</span>
                        </div>
                        <div class="description">{{ blog['short_content']|html_entity_decode|striptags }}</div>
                        <a href="{{ blog['link'] }}"><button type="button" class="bestme-btn bestme-btn--primary bestme-btn--pd-hz-large">Xem bài viết</button></a>
                    </div>
                </div>
            {% endfor %}

            {# TODO: fix css... #}
            {#<div class="list-button-change-post-primary">
                <span class="item"></span>
                <span class="item"></span>
                <span class="item active"></span>
            </div>#}

        {% endif %}
    </div>

    <div class="bestme-block-category-mobile ">
        <button class="bestme-btn--list-menu-blog-mobile open active"><i class="ti ti-menu"></i></button>
        <button class="bestme-btn--list-menu-blog-mobile close-menu"><i class="ti ti-close"></i></button>
        <ul class="list-category-mobile ">
            <li class="category-item">
                <a href="" class="category-link">Tất cả</a>
            </li>
            {% for category in blog_category %}
                <li {% if category['blog_category_id'] == filter['blog_category_id'] %} class="active" {% endif %} class="category-item">
                    <a class="category-link" href="{{ category['link'] }}">{{ category['title'] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="bestme-block-blog-list mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="bestme-breadcrumb">
                    <li class="bestme-breadcrumb__item">
                        <a href="{{ breadcrumbs[0]['href'] }}" class="bestme-breadcrumb__link">Trang chủ</a>
                    </li>
                    <li class="bestme-breadcrumb__item">
                        <a href="javascript:void(0)" class="bestme-breadcrumb__link active ">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% if blog_list is empty %}
                Không có bài viết
            {% else %}
                {% for blog in blog_list %}
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <article class="bestme-post">
                            <div class="bestme-post-img">
                                <img src="{{ blog['image'] }}" alt="{{ blog['alt'] }}">
                            </div>
                            <div class="bestme-post-info">
                                <a href="{{ blog['link'] }}" class="title">{{ blog['title'] }}</a>
                                <div class="author-time">
                                    <span class="author">{{ blog['lastname'] }} {{ blog['firstname'] }}</span>
                                    <span class="time show-on-pc text-secondary">{{ blog['date_added']|date('d/m/Y') }}</span>
                                    <p class="text-secondary show-on-mobile">{{ blog['date_added']|date('d/m/Y') }}</p>
                                </div>
                                <div class="description">{{ blog['short_content']|html_entity_decode|striptags }}</div>
                                <a href="{{ blog['link'] }}"><button type="button" class="bestme-btn bestme-btn--primary bestme-btn--pd-hz-large">Xem bài viết</button></a>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="block-pagination">
                    {{ pagination }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ footer }}