<div class="sidebar-content filter-product-wrapper mb-4">
    <div class="filter-product-content">
        {% if visible_category == 1 %}
            {% include 'adg_topal_slima/template/column_left_filter/categories_filter.twig' %}
        {% endif %}
        <!-- End box product filter category -->

        {% if visible_supplier == 1 %}
            <div class="box-product-filter" id="product-provider">
                <h2 class="block-title">THƯƠNG HIỆU</h2>
                <ul class="nav flex-column">
                    {% for manufacturer in manufacturers %}
                        <li>
                            <a href="{{ manufacturer.url }}"
                               class="nav-link {{ filter_manufacturer_id == manufacturer.manufacturer_id ? 'active' : '' }}">
                                {{ manufacturer.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- End box product filter provider -->
    </div>
    <!-- view-filter-product -->
</div>