<!-- add Cart modal -->
<div id="modal-buy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0"  style="display: initial;">
                <h3 class="modal-title modal-color-title font-24 font-weight-bold text-center text-uppercase">Liên hệ <span class="text-primary">mua sản phẩm</span></h3>
                <button style="position: absolute;right: 1%;top: 1%;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="buy-modal-form" class="form-add" method="post">
                    <input type="hidden" name="product_name" id="product_name" value="">
                    <input type="hidden" name="product_id" id="product_id" value="">
                    <input type="hidden" id="pAttribute" name="product_attribute" value="">
                    <input type="hidden" id="" name="validate_address" value="1">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 info">
                                <h4 class="title-small modal-color-title text-uppercase">THÔNG TIN CHUNG</h4>

                                <div class="form-group">
                                    <label class="">Họ và tên <span class="text-danger">*</span></label>
                                    <input type="text" name="fullname" class="form-control" required="" placeholder="Nhập họ tên">
                                </div>
                                <div class="form-group">
                                    <label class="">Số điện thoại <span class="text-danger">*</span></label>
                                    <input type="text" name="phone" class="form-control" required="" placeholder="Nhập số điện thoại">
                                </div>
                                <div class="form-group">
                                    <label class="">Email</label>
                                    <input type="text" name="email" class="form-control" required="" placeholder="Nhập email">
                                </div>
                                <div class="form-group">
                                    <label class="">Nội dung <span class="text-danger">*</span></label>
                                    <textarea name="your_mind" class="form-control" rows="3"  required="" placeholder="Nhập nội dung"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 info">
                                <h4 class="title-small modal-color-title text-uppercase">ĐỊA CHỈ LIÊN HỆ</h4>

                                <div class="form-group">
                                    <label class="">Tỉnh/thành phố <span class="text-danger">*</span></label>
                                    <select name="city_delivery" title="Tỉnh" class="form-control selectpicker">
                                        <option value="" disabled selected hidden>Chọn tỉnh/thành phố</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="">Quận/huyện <span class="text-danger">*</span></label>
                                    <select class="form-control selectpicker" name="district_delivery" title="huyện">
                                        <option value="" disabled selected hidden>Chọn quận/huyện</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="">Phường/Xã <span class="text-danger">*</span></label>
                                    <select class="form-control selectpicker" name="ward_delivery" title="Phường/Xã:">
                                        <option value="" disabled selected hidden>Chọn phường/xã</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="">Địa chỉ <span class="text-danger">*</span></label>
                                    <textarea name="address" class="form-control" rows="3"  required="" placeholder="Nhập địa chỉ"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center send">
                        <div style="text-align: left;" id="msg_err_product"></div>
                        <button type="submit" class="btn-send send-email-buy-product btn btn-primary">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-buy-product-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LIÊN HỆ MUA SẢN PHẨM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="p-3">
                    Thông tin của bạn đã được ghi nhận. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất để hỗ trợ mua sản phẩm này. Xin chân thành cảm ơn!
                </p>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<footer id="footer" class="block-footer bestme-block-footer">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                {% if contact.visible == 1 and visible_contact_title %}
                    <div class="col-12 col-md-4 footer-col">
                        <h4 class="text-white mb-4 fz-14 fw-500">{{ visible_contact_title }}</h4>
                        <div class="block-content">
                            <ul class="nav flex-column">
                                {% if contact.address %}
                                    <li>Địa chỉ: {{ contact.address | replace({'&lt;br&gt;&lt;li&gt;': '<br><li>'}) }}</li>
                                {% endif %}
                                {% if contact.phone %}
                                    <li>Điện thoại: <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></li>
                                {% endif %}
                                {% if contact.email %}
                                    <li>Email: <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div
                        class="col-12 col-md-4 footer-col align-items-end text-center justify-content-center">
                    <div class="block-content">
                        <a class="mb-5 d-block" href="{{ home }}"><img src="{{ theme_directory }}/img/topaltrang.png" title="{{ name }}" alt="{{ alt }}" width="225px"></a>
                        {% if visible_subscribe_social_network == 1 %}
                            {% for social_config in social_configs %}
                                {% if  social_config.name == 'Facebook' %}
                                    <a href="{{ social_config.url }}">
                                        <img src="{{ theme_directory }}/img/facebook.svg" width="32px">
                                    </a>
                                {% elseif  social_config.name == 'Instagram' %}
                                    <a href="{{ social_config.url }}" class="mx-4">
                                        <img src="{{ theme_directory }}/img/instagram.svg" width="32px">
                                    </a>
                                {% elseif social_config.name == 'Youtube' %}
                                    <a href="{{ social_config.url }}">
                                        <img src="{{ theme_directory }}/img/youtube.svg" width="32px">
                                    </a>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if contact is defined and contact.visible == 1 %}
                            <p class="mt-3 mt-md-4 mb-0"><span class="text-white">Hotline:</span> <a
                                        href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
                        {% endif %}
                    </div>
                </div>

                {% if visible_quick_links == 1 %}
                    <div class="col-12 col-md-4 footer-col ms-auto text-lg-end">
                        <h4 class="text-white mb-4 fz-14 fw-500">{{ visible_quick_links_title }}</h4>
                        <div class="block-content">
                            <ul class="nav flex-column">
                                {% for quick_link in quick_links %}
                                    <li><a href="{{ quick_link.url_link }}">{{ quick_link.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        <!--End container-->
    </div>
    <!--End Main-footer-->
    <div class="copy-right text-center bg-third fw-300">
        {% if is_on_mobile != 1 %}
            {{ text_right_copy|format("#", shop_name, copy_right_link) }}
        {% else %}
            {{ text_right_copy_mobile|format("#", shop_name, copy_right_link) }}
        {% endif %}
    </div>
</footer>
<!-- End: Footer -->



<script type="text/javascript" src="{{ theme_directory }}/js/opencart_custom.js"></script>
<script src="{{ theme_directory }}/js/jquery-ui.min.js"></script>
<script src="{{ theme_directory }}/js/jquery.ui.touch-punch.min.js"></script>
<script src="{{ theme_directory }}/js/jquery.number.min.js"></script>
<script src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v2.5"></script>
<!-- End Bootstrap -->
<script>
    $(function () {
        $(".send-email-buy-product").click(function () {
            $.ajax({
                type: 'post',
                url: 'index.php?route=contact/contact/contactBuyProduct',
                dataType: 'json',
                data: $('form#buy-modal-form').serialize(),
                beforeSend: function () {
                    $('#image-loading').show();
                    $(".send-email-buy-product").attr("disabled", true);
                },
                success: function (data) {
                    $('#image-loading').hide();
                    $(".send-email-buy-product").attr("disabled", false);
                    if (data.error_code == 0) {
                        $("#modal-buy-product-success").modal('show');
                        $("#modal-buy").modal('hide');
                    } else {
                        $("#msg_err_product").html("<span style='color:red'>" + data.message + "</span>");
                    }
                }
            });
            return false;
        });
    });

    $('.contact-now-btn').on('click', function () {
        let product_id = $(this).data('product-id');
        let product_name = $(this).data('product-name');

        if (product_id && product_name) {
            $('#buy-modal-form #product_name').val(product_name);
            $('#buy-modal-form #product_id').val(product_id);
        } else {
            alert('Không tìm thấy thông tin sản phẩm!');
        }
    });
</script>
<script>
    $(document).ready(function () {
        var url = "{{ href_get_province }}";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (data) {
                fillProvincesList(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n [GET PROVINCES error]" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

        /* update districts list on province changed */
        $('select[name="city_delivery"]').on('change', function () {
            var provinceCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_district }}" + "&province_code=" + provinceCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillDistrictsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET DISTRICTS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* update wards on district changed */
        $('select[name="district_delivery"]').on('change', function () {
            var districtCode = $(this).find('option:selected').val();
            var element = $(this);
            var url = "{{ href_get_ward }}" + "&district_code=" + districtCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                    fillWardsList(data, element);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError + "\r\n [GET WARDS error]" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });

        /* local functions */
        function fillProvincesList(provinces) {
            console.log("dia chi json :" + provinces)
            let selectCityDeliveryEl = $('select[name="city_delivery"]');
            selectCityDeliveryEl.html();
            $.each(provinces, function (i, item) {
                selectCityDeliveryEl
                        .append($('<option>', {
                            value: item.code,
                            text: item.name
                        }));
            });
            // selectCityDeliveryEl.selectpicker('refresh');
        }

        function fillDistrictsList(provinces, element) {
            let selectDistrictDeliveryEl = element.closest('.form-add').find('select[name="district_delivery"]');
            let selectWardDeliveryEL = element.closest('.form-add').find('select[name="ward_delivery"]');
            selectDistrictDeliveryEl.html('');
            selectWardDeliveryEL.html('');
            selectDistrictDeliveryEl
                    .append($('<option>', {
                        value: '',
                        text: 'Chọn quận/huyện'
                    }));
            selectWardDeliveryEL
                    .append($('<option>', {
                        value: '',
                        text: 'Chọn phường/xã'
                    }));
            $.each(provinces, function (i, item) {
                selectDistrictDeliveryEl
                        .append($('<option>', {
                            value: item.code,
                            text: item['name_with_type']
                        }));
            });
            // selectDistrictDeliveryEl.selectpicker('refresh');
            // selectWardDeliveryEL.selectpicker('refresh');
            // // for selectpicker
            // // selectDistrictDeliveryEl.selectpicker('refresh');
        }

        function fillWardsList(provinces, element) {
            let selectWardDeliveryEl = element.closest('.form-add').find('select[name="ward_delivery"]');
            selectWardDeliveryEl.html('');
            selectWardDeliveryEl
                    .append($('<option>', {
                        value: '',
                        text: 'Chọn phường/xã'
                    }));
            $.each(provinces, function (i, item) {
                selectWardDeliveryEl
                        .append($('<option>', {
                            value: item.code,
                            text: item['name_with_type']
                        }));
            });
            // selectWardDeliveryEl.selectpicker('refresh');
            // // for selectpicker
            // // selectWardDeliveryEl.selectpicker('refresh');
        }
    })
</script>