<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <meta name="ROBOTS" content="index, follow" />

    <!-- AutoAds google shopping -->
    {% if google_shopping_meta %}
        {{ google_shopping_meta | html_entity_decode }}
    {% endif %}

    <!-- Search Engine -->
    {{ seo_meta }}

    {{ cssResource }}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.carousel.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/owl.theme.default.min.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/reset.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/header.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/footer.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/style.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/responsive.css">#}
{#    <link rel="stylesheet" href="{{ theme_directory }}/css/bestme.css">#}

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ favicon }}" type="image/x-icon">

    <!-- override -->
    {% if asset_css_override_dir %}
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}color.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}text.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}slideshow.css">
        <link rel="stylesheet" type="text/css" href="{{ asset_css_override_dir }}custom_css.css">
    {% endif %}

    <!-- gtm_code_header -->
    {% if gtm_code_header %}
        {{ gtm_code_header }}
    {% endif %}

    <!-- google_analytics_code -->
    {% if google_analytics_code %}
        {{ google_analytics_code }}
    {% endif %}

    <!-- facebook_pixel -->
    {% if facebook_pixel %}
        {{ facebook_pixel }}
    {% endif %}

    <!-- maxlead_code -->
    {% if maxlead_code %}
        {{ maxlead_code }}
    {% endif %}

    <base href="{{ base }}">
    <!-- Bootstrap -->

    {{ jsResource }}
    <!-- JS -->
{#    <script src="{{ theme_directory }}/js/jquery.3.3.1.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/popper.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/bootstrap.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/owl.carousel.min.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/main.js" type="text/javascript"></script>#}
{#    <script src="{{ theme_directory }}/js/opencart_custom.js" type="text/javascript"></script>#}

    {% for script in scripts %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <style>
        .custom-height {
            height: {{ logo_height }}px !important;
            max-height: {{ logo_height }}px !important;
        }
    </style>
</head>
<body class="{{ is_home ? 'home' : '' }}">
<!-- gtm_code_body -->
{% if gtm_code_body %}
    {{ gtm_code_body }}
{% endif %}

<!-- fbsdk_code_body -->
{% if fbsdk_code_body %}
    {{ fbsdk_code_body }}
{% endif %}
<!-- Header -->
<header id="header" class="header block-header">
    <!-- Top Header -->
    <div class="header-top bestme-block-banner-top">
        <div class="container d-flex flex-wrap align-items-center">
            <a href="{{ home }}" class="d-none d-lg-block">
                <img src="{{ logo }}"
                     class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                     title="{{ name }}" alt="{{ name }}">
            </a>
            {% if notify_bar.visible == 1 and contact is defined and contact.visible == 1 %}
                <div class="text-end ms-lg-auto d-flex w-lg-auto flex-lg-column w-100">
                    {% if contact.phone %}
                    <div class="mb-lg-2">
                        <span class="fw-300">Hotline:</span>
                        <b><a href="tel:{{ contact.phone }}" class="text-black">{{ contact.phone }}</a></b>
                    </div>
                    {% endif %}
                    {% if contact.email %}
                    <div class="ms-auto">
                        <span class="fw-300">Email:</span>
                        <b><a href="mailto:{{ contact.email }}" class="text-black">{{ contact.email }}</a></b>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- End: Top Header -->

    <!-- Main Header -->
    <div class="fix-content">
        <div class="main-header">
            <div class="container">
                <div class="d-flex flex-wrap menu-wrapper">
                    <nav class="navbar navbar-expand-lg order-lg-2 order-1">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="icon icon-bar bg-white"></i>
                        </button>

                        <div class="collapse navbar-collapse flex-grow-0" id="navbarMainMenu">
                            <ul class="nav navbar-nav bestme-block-header-menu">
                                {% for idx, m in main_menu %}
                                    {% if m.items is not defined or m.items is not iterable or m.items|length < 1 %}
                                        <li class="nav-item">
                                            {# one level #}
                                            <a class="nav-link {{ (result_active_menu == m.url or result_active_menu == m.target_value) ? 'active' : '' }} {{ idx == -1 ? 'active' : '' }}"
                                               href="{{ m.url }}">{{ m.text }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item has-child">
                                            {# two levels #}
                                            <a href="{{ m.url }}" class="nav-link">
                                                {{ m.text }}
                                                <span class="toggle"></span>
                                            </a>
                                            <ul class="nav child-nav">
                                                {% for it in m.items %}
                                                    {% if it.items is defined and it.items|length > 0 %}
                                                        <li class="nav-item has-child">
                                                            <a href="{{ it.url }}" class="nav-link">
                                                                {{ it.text }}<span class="toggle child-toggle child-toggle-2"></span>
                                                            </a>
                                                            <ul class="nav child-nav">
                                                                {% for it3 in it.items %}
                                                                    <li class="nav-item"><a href="{{ it3.url }}" class="nav-link">{{ it3.text }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li class="nav-item"><a href="{{ it.url }}">{{ it.text }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </nav>
                    <!-- End nav -->

                    <a href="{{ home }}" class="h-100 d-lg-none align-self-center order-lg-1 order-2 logo">
                        <img src="{{ logo }}"
                             class="bestme-block-header-logo {% if logo_height != '' %}custom-height{% endif %}"
                             title="{{ name }}" alt="{{ name }}">
                    </a>

                    <div class="header-search order-3 ms-auto">
                        <form action="{{ urlserach }}" class="search-form" method="get">
                            <input type="hidden" name="route" value="common/shop">
                            <input type="text" name="search" placeholder="Tìm kiếm" class="form-control">
                            <button class="btn btn-primary d-block d-md-none"><i
                                        class="icon icon-search fz-16 bg-white"></i></button>
                        </form>
                        <div class="collapse-search">
                            <a class="show-form" href="javascript:void(0)"><i
                                        class="icon icon-search fz-20 bg-white"></i></a>
                            <a class="hide-form" href="javascript:void(0)"><i
                                        class="icon icon-clear fz-11 bg-white"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End flex -->
            </div>
            <!-- End container -->
        </div>
        <!-- End: Main Header -->
    </div>
    <!-- End: fix-content -->
</header>
<!-- End Header -->